<?php $this->layout()->setLayout('popup');?>
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Set'); ?>/<?php echo $this->language->_('Edit Realtime Charges Detail'); ?></div>
<h2><?php echo $this->language->_('Changes Information'); ?></h2>
<?php 
  echo $this->action('message',
                   'tools',
                   'changemanagement',
                   array('changes_id' => $this->changes_id));
?>
<br />
<br />
<h2><?php echo $this->language->_('Suggested Charge Amount for Company'); ?> : <?php echo $this->result[0]['KEY_FIELD'].'('.$this->result[0]['KEY_VALUE'].')'; ?></h2>
<br />
<table border="1" cellspacing="0" cellpadding="0" class="tableform"
	width="100%">
   <tr>
   	<th><?php echo $this->language->_('Account'); ?></th>
    <th><div align="center"><?php echo $this->language->_('Charges per Month'); ?></div></th>
  </tr>
  <?php
  $y = 0; 
   $td_css = ($y%2==0)?'tbl-evencontent':'tbl-oddcontent';
   $idamtsug = $this->result4sug['ACCT_NO'].'amount'.'suggest';
   $cekacctsug = 'cek'.$this->result4sug['ACCT_NO'].'suggest';
  	?>
  	<tr>
  	<td class="<?php echo $td_css;?>"><?php echo $this->$cekacctsug; ?></td>
    <td class="<?php echo $td_css;?>"><?php echo Application_Helper_General::displayMoney($this->$idamtsug); ?></td>
  	</tr>
  	<?php
  $y++;?>
</table>
<br />
<br />
<h2><?php echo $this->language->_('Current Charge Amount for Company'); ?> : <?php echo $this->result[0]['KEY_FIELD'].'('.$this->result[0]['KEY_VALUE'].')'; ?></h2>
<br />
<?php /*if($this->enable)
{*/?>
<table border="1" cellspacing="0" cellpadding="0" class="tableform"
	width="100%">
   <tr>
   	<th><?php echo $this->language->_('Account'); ?></th>
    <th><div align="center"><?php echo $this->language->_('Charges per Month'); ?></div></th>
  </tr>
  <?php
  $y = 0;
   $td_css = ($y%2==0)?'tbl-evencontent':'tbl-oddcontent';
   $idamtcur = $this->result4cur['ACCT_NO'].'amount'.'current';
   $cekacctcur = 'cek'.$this->result4cur['ACCT_NO'].'current';
   
   $curamt = '0.00';
   if($this->$cekacctcur != null)
   {
     $curamt = $this->$idamtcur;
   }
  	?>
  	<tr>
  	<td class="<?php echo $td_css;?>"><?php echo $this->$cekacctcur; ?></td>
    <td class="<?php echo $td_css;?>"><?php echo Application_Helper_General::displayMoney($curamt); ?></td>
  	</tr>
  	<?php
  $y++;?>
</table>
<?php 
/*}
else
{
	echo '<i>AdminFee per Company not yet set</i>';
}*/
?>
<br />
<br />
  <?php 
		echo $this->action('index',
			                'tools',
			                'changemanagement',
			                array('changes_id' => $this->changes_id));
  ?>