<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Registration Destination Account'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Import In House Account'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>
<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->language->_($this->errmsg)?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->language->_($this->errmsg)?></div><br />
					<?php } ?>



	<div class="portlet-body form">
					<form name="importbeneficiary" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?=$this->url(array('module'=>'predefinedbeneficiary','controller'=>'importbeneficiarydom','action'=>'index'),null,true)?>" enctype="multipart/form-data">

					<div class="row">
            <br>
	<div class="card">
        <div class="card-header cardhead text-white">
              <strong><?php echo $this->language->_('Import Beneficiary'); ?>:</strong>
        </div>
        <div class="card-body form">


                                                 <div class="form-group row ">

                                                            <div class="col-md-12">
                                                            <img src="/images/img_excel.gif" width="49" height="47" border="0">
                                                            <div class="subtopic"><?php echo $this->language->_('Load Data from CSV Text File'); ?></div>

                                                            </div>
                                                            <div class="col-md-12">
                                                            <input class="form-control" type="file" name="CSV_FILE" size="30" onKeypress="return noSpecialChar(event);">

                                                            </div>
                                                             <div class="col-md-12">
                                                                <div id="notesPage">
                            										  <?php
                            											$ns = new Zend_Session_Namespace('language');
                            											$sessionLanguage = $ns->langCode;
                            											if($sessionLanguage == 'id'){
                            												$file = '/template/Beneficiary_Template_Dom_en.csv';
                            											}
                            											else{
                            												$file = '/template/Beneficiary_Template_Dom_en.csv';
                            											}
                            										?>
                            										<div class="subtopic"><?php echo $this->language->_('Format'); ?>:&nbsp;
                            										<span style="font-size:11px;font-style:normal;"><a href="<?php echo $file?>");"><?php echo $this->language->_('download template')?></a></span>
                            										</div>
                            									</div>

                                                            </div>

                                                             <div class="col-md-12">
                                                                <div class="notesPageContent">
                            										<?php
                            											echo $this->language->_('Information :');
                            											echo'<br>';
                            											echo '- '.$this->language->_('CITIZENSHIP').' : ';
                            											echo'R=Resident, NR=Non Resident';
                            											echo'<br>';
                            											echo '- '.$this->language->_('NATIONALITY').' : ';
                            											echo $this->language->_('WNI, WNA');
                            											echo'<br>';
                            											echo '- '.$this->language->_('CATEGORY').' : ';
                            											echo $this->language->_('Company, Individual');
                            											echo'<br>';
                            											echo '- '.$this->language->_('IDENTIFICATION TYPE').' : ';
                            											echo $this->language->_('KTP, SIM, PASPOR, KITAS');
                            											echo'<br>';
                            											echo '---------------------------------------------------------------------------------------------------';
                            											echo'<br>';
                            											echo'<br>';
                            //										?>
                            										</div>

                            										<div class="notesPageContent"><b>
                            											"<?php echo $this->language->_('DESTINATION TYPE'); ?>",
                            											"<?php echo $this->language->_('DESTINATION ACCOUNT'); ?>",
                            											"<?php echo $this->language->_('DESTINATION ACCOUNT NAME'); ?>",
                            											"<?php echo $this->language->_('CITIZENSHIP'); ?>",
                            											"<?php echo $this->language->_('NATIONALITY'); ?>",
                            											"<?php echo $this->language->_('CATEGORY'); ?>",
                            											"<?php echo $this->language->_('IDENTIFICATION TYPE'); ?>",
                            											"<?php echo $this->language->_('IDENTIFICATION NUMBER'); ?>,
                            											"<?php echo $this->language->_('ADDRESS'); ?>",
                            											"<?php echo $this->language->_('BANK CODE/CLEARING CODE'); ?>",
                            											"<?php echo $this->language->_('CITY'); ?>",
                            											"<?php echo $this->language->_('EMAIL ADDRESS'); ?>",
                            											</b><br><br><br>
                            											<?php echo $this->language->_('"SKN"'); ?>,
                            											<?php echo $this->language->_('"000000000"'); ?>,
                            											<?php echo $this->language->_('"AGUNG BRAHMA ARVIN"'); ?>,
                            											<?php echo $this->language->_('"R"'); ?>,
                            											<?php echo $this->language->_('"WNI"'); ?>,
                            											<?php echo $this->language->_('"Individual"'); ?>,
                            											<?php echo $this->language->_('"KTP"'); ?>,
                            											<?php echo $this->language->_('"112233445566778899"'); ?>,
                            											<?php echo $this->language->_('"CIBINONG"'); ?>,
                            											<?php echo $this->language->_('"4940014"'); ?>,
                            											<?php echo $this->language->_('"BOGOR"'); ?>,
                            											<?php echo $this->language->_('"agungbrahmaarvin@gmail.com"'); ?>,
                            											<br><br>
                            											<?php echo $this->language->_('"RTGS"'); ?>,
                            											<?php echo $this->language->_('"000000000"'); ?>,
                            											<?php echo $this->language->_('"HARYANTO"'); ?>,
                            											<?php echo $this->language->_('"NR"'); ?>,
                            											<?php echo $this->language->_('"WNA"'); ?>,
                            											<?php echo $this->language->_('"Individual"'); ?>,
                            											<?php echo $this->language->_('"KTP"'); ?>,
                            											<?php echo $this->language->_('"112233445566778899"'); ?>,
                            											<?php echo $this->language->_('"CIREBON"'); ?>,
                            											<?php echo $this->language->_('"4940014"'); ?>,
                            											<?php echo $this->language->_('"BOGOR"'); ?>,
                            											<?php echo $this->language->_('"hari@gmail.com"'); ?>,

                            											<?php // echo $this->language->_('"ONLINE"'); ?>,
                            											<?php // echo $this->language->_('"000000000"'); ?>,
                            											<?php // echo $this->language->_('""'); ?>,
                            											<?php // echo $this->language->_('""'); ?>,
                            											<?php // echo $this->language->_('""'); ?>,
                            											<?php // echo $this->language->_('""'); ?>,
                            											<?php // echo $this->language->_('""'); ?>,
                            											<?php // echo $this->language->_('""'); ?>,
                            											<?php // echo $this->language->_('""'); ?>,
                            											<?php // echo $this->language->_('"008"'); ?>,
                            											<?php // echo $this->language->_('""'); ?>,
                            											<?php // echo $this->language->_('"hamdan@gmail.com"'); ?>,
                            											<br>
                            										</div>

                                                            </div>
                                                 </div>



                               </div>
                               </div>



                               <div class="col-md-6"></div>

	                   </div>

					<br/>
					<table width="100%" border="0" cellspacing="4" cellpadding="4" align="center">

						  <tr>
							<td class="button-area" id="button-area" colspan="2">
								<div class="formbutton">
									<input type="button" value="<?php echo $this->language->_('Back')?>" onClick="location.href='/home/index'" class="btnwhite hov">
									<?php
										//Zend_Debug::dump($_SESSION['import_predefbenef']);die;
										$classbut = array('class' => 'btngreen hov');
										/*if(isset($_SESSION['import_predefbenef']))
										{
											$classbut += array('disable' => 'disabled');
										}*/
										echo $this->formSubmit('submit', $this->language->_('Import'), $classbut);
									?>
								</div>
							</td>
						  </tr>
					</table>
					</form>
				</div>
