<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Transactions Management'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="valas" ><?php echo $this->language->_('Virtual Payment'); ?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>
<div class="portlet-body form content-box">
    <div class="row">
        <div class="col-md-12">
            <!-- Virtual Account Tab -->
           <form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true)?>" method="get">

              <div class="form-group row start_date">
                  <label class="control-label col-md-3"><?php echo $this->formLabel('cid',$this->language->_('Company Code')); ?></label>
                  <div class="col-md-9" align="left">
                    <?php //echo $this->formText('cid',$this->cid,array('class'=>'currency')); 
                       echo $this->formSelect('cid',$this->cid,null,$this->custArr);
                    ?>


                  </div>
              </div>
              <div class="form-group row repetition">
                  <label class="control-label col-md-3"><?php echo $this->formLabel('cname',$this->language->_('Company Name')); ?></label>
                  <div class="col-md-9">
                      <?php echo $this->formText('cname',$this->cname,array('class'=>'currency')); ?>
                  </div>
              </div>
              <div class="form-group row repetition_until">
                  <label class="control-label col-md-3"><?php echo $this->formLabel('bin',$this->language->_('BIN')); ?></label>
                  <div class="col-md-9">
                    <?php echo $this->formText('bin',$this->bin,array('maxlength'=>4,'onfocus'=>'return forceNumberOCBC(event)','onblur'=>'return forceNumberOCBC(event)','onkeypress'=>'return forceNumberOCBC(event)'));?>
                  </div>
              </div>
              <div class="form-group row va_after">
                  <label class="control-label col-md-3"><?php echo $this->formLabel('status',$this->language->_('Status')); ?></label>
                  <div class="col-md-9">
                    <?php echo $this->formSelect('status',$this->status,null,$this->statusArr); ?>
                  </div>
              </div>
              <div class="form-group row va_bin">
                  <label class="control-label col-md-3"><?php echo $this->formLabel('latestSuggestion',$this->language->_('Latest Suggestion'))?></label>
                  <div class="col-md-9">
                    <?php echo $this->language->_('From')?>&nbsp;&nbsp;<?php echo $this->datePicker("latestSuggestionFrom",$this->latestSuggestionFrom,array('dateFormat' => $this->jqueryDateFormat,
                                                                              'defaultDate'=>'new Date()',
                                                                              'showOn' => 'button',
                                                                              'buttonImage' => '/images/calendar.gif',
                                                                              'buttonImageOnly' => true,
                                                                              'changeMonth' => true,
                                                                              'changeYear' => true,
                                                                              'clearAnotherField' => true,
                                                                              'anotherField' => 'latestSuggestionTo',
                                                                              'minDateID' => 'latestSuggestionTo',
                                                                              )); ?>
                        &nbsp;&nbsp;<?php echo $this->language->_('To')?>&nbsp;&nbsp;<?php echo $this->datePicker("latestSuggestionTo",$this->latestSuggestionTo,array('dateFormat' => $this->jqueryDateFormat,
                                                                            'defaultDate'=>'new Date()',
                                                                            'showOn' => 'button',
                                                                            'buttonImage' => '/images/calendar.gif',
                                                                            'buttonImageOnly' => true,
                                                                            'changeMonth' => true,
                                                                            'changeYear' => true,
                                                                            'clearAnotherField' => true,
                                                                            'anotherField' => 'latestSuggestionFrom',
                                                                            'maxDateID' => 'latestSuggestionFrom',
                                                                            )); ?>
                  </div>
              </div>
              <div class="form-group row ">
                    <label class="control-label col-md-3"><?php echo $this->formLabel('latestSuggestor',$this->language->_('Latest Suggester'))?></label>
                    <div class="col-md-9">
                        <?php echo $this->formText('latestSuggestor',$this->latestSuggestor,null); ?>
                    </div>
               </div>

               <div class="form-group row ">
                    <label class="control-label col-md-3"><?php echo $this->formLabel('latestApproval',$this->language->_('Latest Approval'))?></label>
                    <div class="col-md-9">
                        <?php echo $this->language->_('From')?>&nbsp;&nbsp;<?php echo $this->datePicker("latestApprovalFrom",$this->latestApprovalFrom,array('dateFormat' => $this->jqueryDateFormat,
                                                                              'defaultDate'=>'new Date()',
                                                                              'showOn' => 'button',
                                                                              'buttonImage' => '/images/calendar.gif',
                                                                              'buttonImageOnly' => true,
                                                                              'changeMonth' => true,
                                                                              'changeYear' => true,
                                                                              'clearAnotherField' => true,
                                                                              'anotherField' => 'latestApprovalTo',
                                                                              'minDateID' => 'latestApprovalTo',
                                                                              )); ?>
                            &nbsp;&nbsp;<?php echo $this->language->_('To')?>&nbsp;&nbsp;<?php echo $this->datePicker("latestApprovalTo",$this->latestApprovalTo,array('dateFormat' => $this->jqueryDateFormat,
                                                                            'defaultDate'=>'new Date()',
                                                                            'showOn' => 'button',
                                                                            'buttonImage' => '/images/calendar.gif',
                                                                            'buttonImageOnly' => true,
                                                                            'changeMonth' => true,
                                                                            'changeYear' => true,
                                                                            'clearAnotherField' => true,
                                                                            'anotherField' => 'latestApprovalFrom',
                                                                            'maxDateID' => 'latestApprovalFrom',
                                                                            )); ?>      
                    </div>
               </div>

               <div class="form-group row ">
                    <label class="control-label col-md-3"><?php echo $this->formLabel('latestApprover',$this->language->_('Latest Approver')); ?></label>
                    <div class="col-md-9">
                        <?php echo $this->formText('latestApprover',$this->latestApprover,null); ?>
                    </div>
               </div>
               
                <div class="formbutton" align="center">
                    <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'inputbtn')); ?>
                    <?php echo $this->formSubmit('filter_clear',$this->language->_('Clear Filter'),array('class'=>'inputbtn')); ?>
                </div>
              <!-- End Virtual Account Tab -->

            </form>
        </div>
    </div>
</div>