<link rel="stylesheet" href="/js/jqueryui/jquery-ui.css">
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="/js/jqueryui/external/jquery/jquery.js"></script>
<script src="/js/jqueryui/jquery-ui.js"></script>

<script type="text/javascript">

//supaya library jquery yang ui gak conflict dengan libs jquery yang di layout
const jq = $.noConflict();

$(document).ready(function(){
    //add header content
    $('.addContent').click(function(){

      var counter = $('#header_counter').val();

      counter++;

      var row = '<div class="col-3 pr-0 content ui-state-default">'+
        '<table class="table adapterTable">'+
          '<tr>'+
            '<th style="border-top: none;">'+
              '<div class="input-group">'+
                '<input class="form-control mb-0" type="text" name="label['+counter+']" required /> &nbsp;'+
                '<i class="fa fa-times fa-1x text-danger mt-2 ml-1" onClick="removeContent(this)" style="cursor: pointer;"></i>'+
              '</div>'+
            '</th>'+
          '</tr>'+
          '<tr>'+
              '<td>'+
                '<div class="col-md-12" align="center">'+
                    '<h6><b><?=$this->language->_('Statement Field: ')?></b></h6>'+
                    '<ul id="sortableStatementContent'+counter+'" class="p-0 m-0">'+
                    '</ul>'+
                    '<a href="#" class="toogleModal text-primary" data-toggle="modal" data-target="#statementheadermodal" data-index="'+counter+'"><span><i class="fa fa-plus text-primary"></i></span> Add</a>'+
                    '<input class="form-control mb-0" type="hidden" name="statementContent['+counter+']" />'+
                '</div>'+
              '</td>'+
            '</tr>'+
            '<tr>'+
              '<td>'+
                '<div class="col-md-12" style="text-align: center;" align="center">'+
                  '<select name="operator['+counter+']" class="form-control col-md-8 mx-auto">'+
                    '<option value="equal"> Equal (=) </option>'+
                    '<option value="equaldate"> Equal (Date) </option>'+
                    '<option value="equalamount"> Equal (Amount) </option>'+
                    '<option value="contain"> Contain </option>'+
                    '<option value="containinverted"> Contain (Inverted) </option>'+
                  '</select>'+
                '</div>'+
              '</td>'+
            '</tr>'+
            '<tr>'+
              '<td>'+
                '<div class="col-md-12" align="center">'+
                    '<h6><b><?=$this->language->_('Report Field: ')?></b></h6>'+
                    '<ul id="sortableReportContent'+counter+'" class="p-0 m-0">'+
                    '</ul>'+
                    '<a href="#" class="toogleModal text-primary" data-toggle="modal" data-target="#reportheadermodal" data-index="'+counter+'"><span><i class="fa fa-plus text-primary"></i></span> Add</a>'+
                    '<input class="form-control mb-0" type="hidden" name="reportContent['+counter+']" />'+
                '</div>'+
              '</td>'+
            '</tr>'+
        '</table>'+
      '</div>';

      if (counter >= 3) {
        $('#divContent').removeClass('col-md-12').addClass('col-md-11');
        $('#addContentDiv').hide();
        $('#divContent2').show();
      }

      $('#header_counter').val(counter);

      $("#afterContent").before(row);
    });

  //triggered when statement modal is about to be shown
  $('#statementheadermodal').on('show.bs.modal', function(e) {

      var index = $(e.relatedTarget).data('index');

      var headerContentVal =  $('input[name="statementContent['+index+']"]').val();

      //check if headerContent is empty or not, if !empty then get value of header content and checked to modal
      if (headerContentVal != '') {
        var arrHeaderContentVal = headerContentVal.split(",");

        if(arrHeaderContentVal != ''){
          $("input[name='chkStatementHeader']").each(function(index) {
            var val = $(this).val();
            if (arrHeaderContentVal.includes(val)) {
              $(this).prop('checked', true);
            }
          });
        }
        else{
           $("input[name='chkStatementHeader']").each(function(index) {
            var val = $(this).val();
            if (headerContentVal.includes(val)) {
              $(this).prop('checked', true);
            }
          });
        }
      }

      //utk kasih tau di dlm modal klo index yg dipilih saat ini yg index ini
      $('#contentStatementIndex').val(index);
  });

   //triggered when report modal is about to be shown
  $('#reportheadermodal').on('show.bs.modal', function(e) {

      var index = $(e.relatedTarget).data('index');

      var headerContentVal =  $('input[name="reportContent['+index+']"]').val();

      //check if headerContent is empty or not, if !empty then get value of header content and checked to modal
      if (headerContentVal != '') {
        var arrHeaderContentVal = headerContentVal.split(",");

        if(arrHeaderContentVal != ''){
          $("input[name='chkReportHeader']").each(function(index) {
            var val = $(this).val();
            if (arrHeaderContentVal.includes(val)) {
              $(this).prop('checked', true);
            }
          });
        }
        else{
           $("input[name='chkReportHeader']").each(function(index) {
            var val = $(this).val();
            if (headerContentVal.includes(val)) {
              $(this).prop('checked', true);
            }
          });
        }
      }

      //utk kasih tau di dlm modal klo index yg dipilih saat ini yg index ini
      $('#contentReportIndex').val(index);
  });

  //triggered when modal statement is about to be dismiss
  $('#statementheadermodal').on('hide.bs.modal', function(e) {

      //uncheck checkbox modal
      $("input[name='chkStatementHeader']").prop("checked", false);
  });

   //triggered when modal report is about to be dismiss
  $('#reportheadermodal').on('hide.bs.modal', function(e) {

      //uncheck checkbox modal
      $("input[name='chkReportHeader']").prop("checked", false);
  });


  //tombol save dalam modal statement
  $('#saveHeaderStatementContent').click(function(){
      var index = $('#contentStatementIndex').val();

      var contentIndex = [];
      var contentText = [];

      var headerData = <?php echo json_encode($this->statementHeaderData) ?>;

      //get content index dan text dari array headerData
      $.each($("input[name='chkStatementHeader']:checked"), function(){
          contentIndex.push($(this).val());
          contentText.push(headerData[$(this).val()]);
      });

      var text = '';

      if (contentIndex.length !== 0) {
        $.each(contentText, function(idx, val) {

          text += '<li id="'+contentIndex[idx]+'" class="default" style="list-style: none; cursor: pointer;"><p class="mb-0">'+val+' <span class="text-danger" onClick="removeHeaderStatementContent(this)" style="cursor: pointer;" data-headerindex="'+index+'" data-contentindex="'+contentIndex[idx]+'"> x</span></p></li>';
        });  
      }

      //remove text added before first
      $('input[name="statementContent['+index+']"]').siblings('ul').children('li').remove();

      //tampilin text ke tempat diatas add modal
      $('input[name="statementContent['+index+']"]').siblings('ul').append(text);

      jq('#sortableStatementContent'+index+'').sortable({
        create: function(event, ui) {
            var contentOrder = jq(this).sortable('toArray').toString();
            $('input[name="statementContent['+index+']"]').val(contentOrder);
         },
          update: function(event, ui) {
            var contentOrder = jq(this).sortable('toArray').toString();
            $('input[name="statementContent['+index+']"]').val(contentOrder);
         }
      });

      $('input[name="statementContent['+index+']"]').val(contentIndex.toString());

      //uncheck checkbox modal
      $("input[name='chkStatementHeader']").prop("checked", false);
  });

   //tombol save dalam modal report
  $('#saveHeaderReportContent').click(function(){
      var index = $('#contentReportIndex').val();

      var contentIndex = [];
      var contentText = [];

      var headerData = <?php echo json_encode($this->reportHeaderData) ?>;

      //get content index dan text dari array headerData
      $.each($("input[name='chkReportHeader']:checked"), function(){
          contentIndex.push($(this).val());
          contentText.push(headerData[$(this).val()]);
      });

      console.log(headerData);

      var text = '';

      if (contentIndex.length !== 0) {
        $.each(contentText, function(idx, val) {

          text += '<li id="'+contentIndex[idx]+'" class="default" style="list-style: none; cursor: pointer;"><p class="mb-0">'+val+' <span class="text-danger" onClick="removeHeaderReportContent(this)" style="cursor: pointer;" data-headerindex="'+index+'" data-contentindex="'+contentIndex[idx]+'"> x</span></p></li>';
        });  
      }

      //remove text added before first
      $('input[name="reportContent['+index+']"]').siblings('ul').children('li').remove();

      //tampilin text ke tempat diatas add modal
      $('input[name="reportContent['+index+']"]').siblings('ul').append(text);

      jq('#sortableReportContent'+index+'').sortable({
        create: function(event, ui) {
            var contentOrder = jq(this).sortable('toArray').toString();
            $('input[name="reportContent['+index+']"]').val(contentOrder);
         },
          update: function(event, ui) {
            var contentOrder = jq(this).sortable('toArray').toString();
            $('input[name="reportContent['+index+']"]').val(contentOrder);
         }
      });

      $('input[name="reportContent['+index+']"]').val(contentIndex.toString());

      //uncheck checkbox modal
      $("input[name='chkReportHeader']").prop("checked", false);
  });

});

function removeContent(selected){

  $(selected).closest('.content').remove();

  var counter = $('#header_counter').val();
  counter--;

  $('#header_counter').val(counter);

  //refresh sortable setelah penambahan item
  jq('#divContent').sortable('refresh');
}

function removeHeaderStatementContent(selected){

  var contentIndex = $(selected).attr("data-contentindex");
  var headerIndex = $(selected).attr("data-headerindex");

  var headerContent = $('input[name="statementContent['+headerIndex+']"]');

  var contentIndexVal = headerContent.val();

  var arrcontentIndexVal = contentIndexVal.split(",");

  arrcontentIndexVal.splice($.inArray(contentIndex, arrcontentIndexVal), 1);

  //remove from headerContent
  headerContent.val(arrcontentIndexVal.toString());

  $(selected).closest('p').remove();
}

function removeHeaderReportContent(selected){

  var contentIndex = $(selected).attr("data-contentindex");
  var headerIndex = $(selected).attr("data-headerindex");

  var headerContent = $('input[name="reportContent['+headerIndex+']"]');

  var contentIndexVal = headerContent.val();

  var arrcontentIndexVal = contentIndexVal.split(",");

  arrcontentIndexVal.splice($.inArray(contentIndex, arrcontentIndexVal), 1);

  //remove from headerContent
  headerContent.val(arrcontentIndexVal.toString());

  $(selected).closest('p').remove();
}

</script>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?=$this->language->_('General')?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="inhouse"><?=$this->language->_('Reconciliation Adapter')?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="inhouse"><?=$this->language->_('Edit Reconciliation Adapter Profile')?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>

<h5><?=$this->language->_('Edit Reconciliation Adapter Profile')?></h5>
<br/>

<style type="text/css">
  .action-button {
    border-radius: 0.4rem!important;
  }

  .adapterTable tr{
    text-align: center;
  }
</style>

<?php if($this->error){ ?>
    <div class="errmsg"><?=html_entity_decode($this->report_msg)?></div><br />
<?php } ?>

<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" enctype="multipart/form-data" method="post">
    
    <!------------------------------------------------- display sample file------------------------------------------------- -->
    <h6 class="text-black-50"><b><?php echo $this->language->_('Statement Source File Format') ?></b></h6>
    <div class="table-responsive">
      <table class="table mb-0" width="100%">
          <tr>
            <?php foreach ($this->statementHeaderData as $value) { ?>
                
                <th><b><?php echo $value; ?></b></th>

            <?php } ?>
          </tr>
          <?php $i=0; foreach ($this->statementData as $key => $value) { ?>

            <?php if ($i <= 2) { ?>
              <tr>
                  <?php foreach ($value as $key2 => $value2) { ?>
                      <td><?php echo $value2; ?></td>
                  <?php } ?>
               </tr>
             <?php } ?>
          <?php $i++; } ?>
      </table>
    </div>
    <p class="text-black-50"><?=$this->language->_('* Sample File Format')?></p>

    <br>
  
    <h6 class="text-black-50"><b><?php echo $this->language->_('Report Source File Format') ?></b></h6>
    <div class="table-responsive">
      <table class="table mb-0" width="100%">
          <tr>
            <?php foreach ($this->reportHeaderData as $value) { ?>
                
                <th><b><?php echo $value; ?></b></th>

            <?php } ?>
          </tr>
          <?php $i=0; foreach ($this->reportData as $key => $value) { ?>

            <?php if ($i <= 2) { ?>
              <tr>
                  <?php foreach ($value as $key2 => $value2) { ?>
                      <td><?php echo $value2; ?></td>
                  <?php } ?>
               </tr>
             <?php } ?>
          <?php $i++; } ?>
      </table>
    </div>
    <p class="text-black-50"><?=$this->language->_('* Sample File Format')?></p>
    <!------------------------------------------------- end display sample file------------------------------------------------- -->

    <br>
    <h6><b><?=$this->language->_('Convert New Setup File')?></b></h6>
    <br>
    <div class="col-md-12 row pl-0">
      <!-- <div class="col-md-3">
        <select name="bank" class="form-control">
         <?php foreach ($this->bankData as $key => $value) { ?>
            <?php 
              $selected = '';
              if ($this->dataAdapter[0]['BANK_CODE'] == $value['BANK_CODE']) {
                $selected = 'selected';
              } 
            ?>
            <option value="<?php echo $value['BANK_CODE'] ?>" <?php echo $selected; ?> ><?php echo $value['BANK_NAME'] ?></option>
         <?php } ?>
       </select>
      </div> -->
      <div class="col-md-6">
        <input type="text" name="profileName" class="inputBorderless col-md-9 mr-2" value="<?php echo $this->dataAdapter[0]['ADAPTER_NAME'] ?>" placeholder="<?=$this->language->_('Input Adapter Profile Name Here')?>" readonly required>
      </div>
    </div>


    <input type="hidden" name="profileId" value="<?php echo $this->dataAdapter[0]['ADAPTER_ID']; ?>">

    <input type="hidden" name="headerCounter" id="header_counter" value="<?php echo count($this->dataAdapter) - 1; ?>"> 
    <!-- initial value 0 -->
    <!-- <input type="hidden" name="headerOrder" id="headerOrder" value="<?php echo $this->dataAdapter[0]['HEADER_ORDER']; ?>">  -->
    <!-- untuk simpan order sortable -->

    <div class="row pl-3 mt-2">
        <div id="divContent" class="row p-3 flex-row flex-nowrap col-md-12 bg-white" style="border: 1px solid; border-radius: 5px; overflow-x: auto;">

            <?php foreach ($this->dataAdapter as $key => $value) { ?>
                <div class="col-3 pr-0 content ui-state-default"> <!-- data-id utk sort element -->
                  <table class="table adapterTable">
                    <tr>
                      <th style="border-top: none;">
                        <div class="input-group">
                          <input class="form-control mb-0" type="text" name="label[<?php echo $key ?>]" value="<?php echo $value['HEADER_NAME'] ?>" required /> &nbsp;

                          <i class="fa fa-times fa-1x text-danger mt-2" onClick="removeContent(this)" style="cursor: pointer;"></i>
                          <!-- <input type="hidden" name="headerIndex0" value="0" /> -->
                        </div>
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <div class="col-md-12" align="center">
                            <h6><b><?=$this->language->_('Statement Field: ')?></b></h6>
                            <!-- tempat utk tampilin subject yang dipilih -->
                            <ul id="sortableStatementContent<?php echo $key ?>" class="p-0 m-0">
                              <?php 
                                $statementContent = $value['STATEMENT_COLUMN'];
                                $arrStatementContent = explode(',', $statementContent); 

                                if (count($arrStatementContent) > 1) {
                                  foreach ($arrStatementContent as $value2) {
                                    echo '<li id="'.$value2.'" class="textContent default" style="list-style: none; cursor: pointer;"><p class="mb-0">'.$this->statementHeaderData[$value2].'<span class="text-danger" onClick="removeHeaderStatementContent(this)" style="cursor: pointer;" data-headerindex="'.$key.'" data-contentindex="'.$key.'"> x</span></p></li>';
                                  }
                                }
                                else{
                                  
                                  echo '<li id="'.$statementContent.'" class="textContent default" style="list-style: none; cursor: pointer;"><p class="mb-0 textContent">'.$this->statementHeaderData[$statementContent].'<span class="text-danger" onClick="removeHeaderStatementContent(this)" style="cursor: pointer;" data-headerindex="'.$key.'" data-contentindex="'.$statementContent.'"> x</span></p></li>';
                                }
                                
                              ?>
                            </ul>
                            <a href="#" class="toogleModal text-primary" data-toggle="modal" data-target="#statementheadermodal" data-index="<?php echo $key; ?>"><span><i class="fa fa-plus text-primary"></i></span> Add</a>

                            <!-- simpan index checkbox subject2 yang dipilih di modal statement -->
                            <input class="form-control mb-0" type="hidden" name="statementContent[<?php echo $key; ?>]" value="<?php echo $statementContent; ?>" />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="col-md-12" style="text-align: center;" align="center">
                          <select name="operator[<?php echo $key ?>]" class="form-control col-md-8 mx-auto">
                            <option value="equal" <?php echo $value['OPERATOR'] == 'equal' ? 'selected' : '' ?>> Equal (=) </option>
                            <option value="equaldate" <?php echo $value['OPERATOR'] == 'equaldate' ? 'selected' : '' ?>> Equal (Date) </option>
                            <option value="equalamount" <?php echo $value['OPERATOR'] == 'equalamount' ? 'selected' : '' ?>> Equal (Amount) </option>
                            <option value="contain" <?php echo $value['OPERATOR'] == 'contain' ? 'selected' : '' ?>> Contain </option>
                            <option value="containinverted" <?php echo $value['OPERATOR'] == 'containinverted' ? 'selected' : '' ?>> Contain (Inverted) </option>
                          </select>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>

                        <div class="col-md-12" align="center">
                            <h6><b><?=$this->language->_('Report Field: ')?></b></h6>
                            <!-- tempat utk tampilin subject yang dipilih -->
                            <ul id="sortableReportContent<?php echo $key ?>" class="p-0 m-0">
                              <?php 
                                $reportContent = $value['REPORT_COLUMN'];
                                $arrReportContent = explode(',', $reportContent); 

                                if (count($arrReportContent) > 1) {
                                  foreach ($arrReportContent as $value2) {
                                    echo '<li id="'.$value2.'" class="textContent default" style="list-style: none; cursor: pointer;"><p class="mb-0">'.$this->reportHeaderData[$value2].'<span class="text-danger" onClick="removeHeaderReportContent(this)" style="cursor: pointer;" data-headerindex="'.$key.'" data-contentindex="'.$key.'"> x</span></p></li>';
                                  }
                                }
                                else{
                                  
                                  echo '<li id="'.$reportContent.'" class="textContent default" style="list-style: none; cursor: pointer;"><p class="mb-0 textContent">'.$this->reportHeaderData[$reportContent].'<span class="text-danger" onClick="removeHeaderReportContent(this)" style="cursor: pointer;" data-headerindex="'.$key.'" data-contentindex="'.$reportContent.'"> x</span></p></li>';
                                }
                                
                              ?>
                            </ul>
                            <a href="#" class="toogleModal text-primary" data-toggle="modal" data-target="#reportheadermodal" data-index="<?php echo $key; ?>"><span><i class="fa fa-plus text-primary"></i></span> Add</a>

                            <!-- simpan index checkbox subject2 yang dipilih di modal report -->
                            <input class="form-control mb-0" type="hidden" name="reportContent[<?php echo $key; ?>]" value="<?php echo $reportContent; ?>" />
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>

            <?php } ?>
            
           <!-- put content after this -->
          <div id="afterContent"></div>

          <div class="col-md-1" id="addContentDiv">
             <table class="adapterTable">
                <tr>
                  <th>
                    <i class="fa fa-plus-circle fa-3x pt-2 addContent" style="cursor: pointer;"></i>
                  </th>
                </tr>
             </table>
           </div>
        </div>
        <div class="col-md-1 pl-4" id="divContent2" style="display: none;">
          <table class="adapterTable">
            <tr>
              <th>
                <i class="fa fa-plus-circle fa-3x pt-4 addContent" style="cursor: pointer;"></i>
              </th>
            </tr>
          </table>
        </div>

      <div class="col-md-6 mt-2"><p class="text-black-50"><?=$this->language->_('* Click and drag to set column position')?></p></div>
   </div>

   <!-- ----------------------------------------------------statement modal----------------------------------------------------------- -->
   <div class="modal fade" id="statementheadermodal" tabindex="-1" role="dialog" aria-labelledby="statementheadermodal"
          aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold" style="margin-left: 25px;"><?=$this->language->_('Choose Statement Subject')?></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div class="col-md-6 content-box mx-auto">

              <?php foreach ($this->statementHeaderData as $key => $value) { ?> 

                  <input type="checkbox" name="chkStatementHeader" value="<?php echo $key; ?>">&nbsp;<?php echo $value; ?>
                  <br>

              <?php } ?>
            </div>
          </div>

          <!-- utk simpan index mana yg tekan add modal -->
          <input type="hidden" name="contentStatementIndex" id="contentStatementIndex">

          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
            <button type="button" class="btngreen hov" data-dismiss="modal" id="saveHeaderStatementContent">Save</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- ----------------------------------------------------report modal----------------------------------------------------------- -->
    <div class="modal fade" id="reportheadermodal" tabindex="-2" role="dialog" aria-labelledby="reportheadermodal"
          aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold" style="margin-left: 25px;"><?=$this->language->_('Choose Report Subject')?></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div class="col-md-6 content-box mx-auto">

              <?php foreach ($this->reportHeaderData as $key => $value) { ?> 

                  <input type="checkbox" name="chkReportHeader" value="<?php echo $key; ?>">&nbsp;<?php echo $value; ?>
                  <br>

              <?php } ?>
            </div>
          </div>

          <!-- utk simpan index mana yg tekan add modal -->
          <input type="hidden" name="contentReportIndex" id="contentReportIndex">

          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
            <button type="button" class="btngreen hov" data-dismiss="modal" id="saveHeaderReportContent">Save</button>
          </div>
        </div>
      </div>
    </div>

   <br>
   <br>
   <br>
   <br>

  <div class="col-md-12 mt-4" align="center">
    <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick' => 'location.href= \'/reconadapter\'', 'class' => 'btnwhite hov'));?>
    
    <button name="submitBtn" class="btngreen hov submitBtn"><?=$this->language->_('Submit')?></button>
     
   </div>
</form>

<br>
<br>
<br>
<br>


