<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?php echo $this->language->_('Suggestion Detail'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <?php echo $this->language->_('Charges API'); ?>
        </li>
      </ul>
    </div>
  </div>
</div>
<?php
if ($this->changes_id) {

  //temp data
  $temp_status = array(
    1 => $this->status_type['desc']['approved'],
    2 => $this->status_type['desc']['suspended'],
    3 => $this->status_type['desc']['delete']
  );

  if (isset($temp_status[$this->user_status]))  $status = $temp_status[$this->user_status];
  else $status = null;

  $yesNo = array('1' => 'Yes', '0' => 'No');

  //get status
  if ($this->changes_status == "RR") {;
    $suggestionStatus = $this->language->_('Request Repaired');
  } else {
    if ($this->read_status == 0) {
      $suggestionStatus = $this->language->_('Unread Suggestion');
    } elseif ($this->read_status == 1) {
      $suggestionStatus = $this->language->_('Read Suggestion');
    }
  }

?>

  <h5><?php echo $this->language->_('Change Information'); ?></h5>
  <?php
  echo $this->action(
    'message',
    'tools',
    'changemanagement',
    array('changes_id' => $this->changes_id)
  );
  ?>

  <br /><br />
  
  <div class="row content-box">
    <div class="portlet-body form col-md-12">
      <table width="100%" cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped table-curr">
      <?php if ($this->cek == 0) { ?>
        <tr>
          <td class="tbl-evencontent" colspan="4">
            <div align="center"><?php echo $this->language->_('There is no Changes to be approved'); ?></div>
          </td>
      </tr>
      <?php } else if ($this->cek == 1) { ?>
        <tr class="diffRow">
          <td colspan="3" class="tbl-evencontent"><b><?php echo $this->language->_('Charges API Detail'); ?></b></td>
          <th style="float:right">
            <button id="btnDiffOnly" type="button" class="btngreen hov"><?php echo $this->language->_('Show Difference Only'); ?></button>
          </th>
        </tr>
        <tr class="diffRow">
          <th width="35%" colspan="2"><?php echo $this->language->_('Field'); ?></th>
          <th width="32%"><?php echo $this->language->_('Current Value'); ?></th>
          <th width="32%"><?php echo $this->language->_('Suggested Value'); ?></th>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->language->_('Customer ID')); ?></td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent" width="400px"><?php echo $this->formLabel('cust_id', $this->cust_id); ?></td>
          <td class="tbl-evencontent" width="400px"><?php echo $this->formLabel('cust_id', $this->cust_id); ?></td>
        </tr>

        <?php     
          if ($this->oldbalance_inquiry != $this->balance_inquiry){
            $difstylebalance = "background-color:#fffe5c";
            $difrowbalance = "diffRow";
          }
        ?>
        <tr class="<?= $difrowbalance; ?>">
          <td class="tbl-evencontent"><?php echo $this->formLabel('balance_inquiry', $this->language->_('Balance Inquiry')); ?></td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent" width="400px"><?php echo $this->formLabel('balance_inquiry', $this->oldbalance_inquiry); ?></td>
          <td class="tbl-evencontent" width="400px" style="<?= $difstylebalance; ?>"><?php echo $this->formLabel('balance_inquiry', $this->balance_inquiry); ?></td>
        </tr>
        
        <?php     
          if ($this->oldaccount_statement != $this->account_statement){
            $difstyleaccount = "background-color:#fffe5c";
            $difrowaccount = "diffRow";
          }
        ?>
        <tr class="<?= $difrowaccount; ?>">
          <td class="tbl-evencontent"><?php echo $this->formLabel('account_statement', $this->language->_('Account Statement')); ?></td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent" width="400px"><?php echo $this->formLabel('account_statement', $this->oldaccount_statement); ?></td>
          <td class="tbl-evencontent" width="400px" style="<?= $difstyleaccount; ?>"><?php echo $this->formLabel('account_statement', $this->account_statement); ?></td>
        </tr>

        <?php     
          if ($this->oldinhouse_transfer != $this->inhouse_transfer){
            $difstyleinouse = "background-color:#fffe5c";
            $difrowinouse = "diffRow";
          }
        ?>
        <tr class="<?= $difrowinouse; ?>">
          <td class="tbl-evencontent"><?php echo $this->formLabel('inhouse_transfer', $this->language->_('Inhouse Transfer')); ?></td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent" width="400px"><?php echo $this->formLabel('inhouse_transfer', $this->oldinhouse_transfer); ?></td>
          <td class="tbl-evencontent" width="400px" style="<?= $difstyleinouse; ?>"><?php echo $this->formLabel('inhouse_transfer', $this->inhouse_transfer); ?></td>
        </tr>
        
        <?php     
          if ($this->oldskn_transfer != $this->skn_transfer){
            $difstyleskn = "background-color:#fffe5c";
            $difrowskn = "diffRow";
          }
        ?>
        <tr class="<?= $difrowskn; ?>">
          <td class="tbl-evencontent"><?php echo $this->formLabel('skn_transfer', $this->language->_('SKN Transfer')); ?></td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent" width="400px"><?php echo $this->formLabel('skn_transfer', $this->oldskn_transfer); ?></td>
          <td class="tbl-evencontent" width="400px" style="<?= $difstyleskn; ?>"><?php echo $this->formLabel('skn_transfer', $this->skn_transfer); ?></td>
        </tr>

        <?php     
          if ($this->oldrtgs_transfer != $this->rtgs_transfer){
            $difstylertgs = "background-color:#fffe5c";
            $difrowrtgs = "diffRow";
          }
        ?>
        <tr class="<?= $difrowrtgs; ?>">
          <td class="tbl-evencontent"><?php echo $this->formLabel('rtgs_transfer', $this->language->_('RTGS Transfer')); ?></td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent" width="400px"><?php echo $this->formLabel('rtgs_transfer', $this->oldrtgs_transfer); ?></td>
          <td class="tbl-evencontent" width="400px" style="<?= $difstylertgs; ?>"><?php echo $this->formLabel('rtgs_transfer', $this->rtgs_transfer); ?></td>
        </tr>

        <?php     
          if ($this->oldonline_transfer != $this->online_transfer){
            $difstyleonline = "background-color:#fffe5c";
            $difrowonline = "diffRow";
          }
        ?>
        <tr class="<?= $difrowonline; ?>">
          <td class="tbl-evencontent"><?php echo $this->formLabel('online_transfer', $this->language->_('ONLINE Transfer')); ?></td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent" width="400px"><?php echo $this->formLabel('online_transfer', $this->oldonline_transfer); ?></td>
          <td class="tbl-evencontent" width="400px" style="<?= $difstyleonline; ?>"><?php echo $this->formLabel('online_transfer', $this->online_transfer); ?></td>
        </tr>

        <?php     
          if ($this->oldkurs_rate_inquiry != $this->kurs_rate_inquiry){
            $difstylekurs = "background-color:#fffe5c";
            $difrowkurs = "diffRow";
          }
        ?>
        <tr class="<?= $difrowkurs; ?>">
          <td class="tbl-evencontent"><?php echo $this->formLabel('kurs_rate_inquiry', $this->language->_('Kurs Rate Inquiry')); ?></td>
          <td class="tbl-evencontent">:</td>
          <td class="tbl-evencontent" width="400px"><?php echo $this->formLabel('kurs_rate_inquiry', $this->oldkurs_rate_inquiry); ?></td>
          <td class="tbl-evencontent" width="400px" style="<?= $difstylekurs; ?>"><?php echo $this->formLabel('kurs_rate_inquiry', $this->kurs_rate_inquiry); ?></td>
        </tr>
      <?php } ?>
      </table>
    </div>
  </div>
  
  <script>
	$("#btnDiffOnly").click(function() {
		$(".table-curr tr").each(function() {
			if ($(this).is(":hidden")) {
				$(this).show();
			} else {
				if ($(this).hasClass('diffRow')) {
					$(this).show();
				} else {
					$(this).hide();
				}
			}
		});
	});
</script>
  <br />

  <div align="center">
    <?php
    echo $this->action(
      'index',
      'tools',
      'changemanagement',
      array('changes_id' => $this->changes_id)
    );
    ?>


    <?php
    /*     $btn_approve = $this->url(array('module'=>$this->modulename,'controller'=>'activate','action'=>'index','cust_id'=>$this->cust_id),null,true);
       echo $this->formButton('approve','Approve',array('onclick'=>'location.href=\''. $btn_approve.'\'','class'=>'inputbtn'));

       echo '&nbsp;&nbsp;';
       $btn_reject = $this->url(array('module'=>$this->modulename,'controller'=>'activate','action'=>'index','cust_id'=>$this->cust_id),null,true);
       echo $this->formButton('reject','Reject',array('onclick'=>'location.href=\''.  $btn_reject.'\'','class'=>'inputbtn'));

       echo '&nbsp;&nbsp;';
       $btn_request_repair = $this->url(array('module'=>$this->modulename,'controller'=>'activate','action'=>'index','cust_id'=>$this->cust_id),null,true);
       echo $this->formButton('request_repair','Request Repair',array('onclick'=>'location.href=\''. $btn_request_repair.'\'','class'=>'inputbtn'));

       echo '<br/><br/>';
       $btn_repair = $this->url(array('module'=>$this->modulename,'controller'=>'repair','action'=>'index','changes_id'=>$this->changes_id),null,true);
       echo $this->formButton('repair','Repair',array('onclick'=>'location.href=\''. $btn_repair.'\'','class'=>'inputbtn'));*/
    ?>
  </div>


  <div>
    <?php //echo $this->formButton('back','Back',array('onclick'=>'location.href=\''.$this->backURL.'\'','class'=>'inputbtn')); 
    ?>

  </div>
<?php } else { ?>
  <div id="content">- <?php echo $this->language->_('no data'); ?> -</div>
<?php } ?>