
<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('Predefined Beneficiary');?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?php echo $this->language->_('Domestic Account');?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <?php echo $this->language->_('Delete Domestic Account');?>
                    
                </li>
                
            </ul>
        </div>
    </div>
</div>
<br />
<?php if(!$this->multiview){ ?>		
<form name="addbeneficiary" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'delete'),null,true)?>">
	<div class="card">
  			<div class="portlet-body form">
  				<div class="card-header cardhead text-white"><?php echo $this->language->_('Delete Beneficiary')?></div>
	  				<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>

  					<div class="form-group row ">
			    		<label class="control-label col-md-3 text-right"><?php echo $this->language->_('Beneficiary Accountt');?>&nbsp;:</label>
			          	<div class="col-md-9">
		                <b><?=$this->ACBENEF?><?php echo $this->formHidden('ACBENEF',$this->ACBENEF); ?>
										<?php echo $this->formHidden('benef_id_text',$this->benef_id_text); ?>
										<?php echo $this->formHidden('BENEFICIARY_ID',$this->BENEFICIARY_ID); ?>
										</b>
		              	</div>
		         	</div>

		          	<div class="form-group row ">
					    <label class="control-label col-md-3 text-right"><?php echo $this->language->_('Beneficiary Account Name');?>&nbsp;:</label>
					    <div class="col-md-9">
				               <?=$this->ACBENEF_NAME?>

				        </div>
				    </div>

				    <div class="form-group row ">
					    <label class="control-label col-md-3 text-right"><?php echo $this->language->_('Currency'); ?>&nbsp;:</label>
					          <div class="col-md-9">
				               <?=$this->CURR_CODE?> 

				              </div>
				    </div>
				    <?php 
							if($this->BENEFICIARY_TYPE != '2'){
								?>
								<?php 
							}
							else{
								?>
			        <div class="form-group row ">
				    	<label class="control-label col-md-3 text-right"><?php echo $this->language->_('Citizenship'); ?>&nbsp;:</label>
				          <div class="col-md-9">
			                
			                <?php
			                	if($this->RESIDENT=='NR'){
													$this->RESIDENT='Resident';
												}else{
													$this->RESIDENT='Non Resident';
												}
												echo $this->RESIDENT;
			                ?>
			        		</div>
					</div>
			        <div class="form-group row ">
					    <label class="control-label col-md-3 text-right"><?php echo $this->language->_('Nationality'); ?>&nbsp;:</label>
					          <div class="col-md-9">
				             
				             <?php
				             	if($this->NATIONALITY=='W'){
														$this->NATIONALITY='WNI';
													}else{
														$this->NATIONALITY='WNA';
													}
													echo $this->NATIONALITY;
				             ?>
				              </div>
				    </div>


				    <div class="form-group row ">
					    <label class="control-label col-md-3 text-right"><?php echo $this->language->_('Category'); ?>&nbsp;:</label>
					          <div class="col-md-9">
				             <?php
				             // echo $this->LLD_CATEGORY;die;
				          //    							if($this->LLD_CATEGORY=='1'){
														// $this->LLD_CATEGORY='Individual';
														// }else if($this->LLD_CATEGORY=='2'){
														// 	$this->LLD_CATEGORY='Government';
														// }else if($this->LLD_CATEGORY=='3'){
														// 	$this->LLD_CATEGORY='Bank';
														// }else if($this->LLD_CATEGORY=='4'){
														// 	$this->LLD_CATEGORY='Non Bank Financial Institution';
														// }else if($this->LLD_CATEGORY=='5'){
														// 	$this->LLD_CATEGORY='Company';
														// }else{
														// 	$this->LLD_CATEGORY = 'Other';
														// }
														//$arrFirst = array();
														//$arrFirst[''] = '-- Select Category --';
														//$this->lldCategoryArr = array_merge($arrFirst, $this->lldCategoryArr);
														echo  $this->LLD_CATEGORY;
				             ?>
				              </div>
				    </div>

				    <div class="form-group row ">
					    <label class="control-label col-md-3 text-right"><?php echo $this->language->_('Identification Type'); ?>&nbsp;:</label>
					          <div class="col-md-9">
				             <?=$this->BENEFICIARY_ID_TYPE;?>
				              </div>
				    </div>

				    <div class="form-group row ">
					    <label class="control-label col-md-3 text-right"><?php echo $this->language->_('Identification Number'); ?>&nbsp;:</label>
					          <div class="col-md-9">
				             <?=$this->BENEFICIARY_ID_NUMBER;?>
				              </div>
				    </div>
			        <div class="form-group row ">
					    <label class="control-label col-md-3 text-right"><?php echo $this->language->_('Address'); ?>&nbsp;:</label>
					          <div class="col-md-9">
				               <?=$this->ADDRESS?>

				              </div>
				    </div>
     				<?php 
							}
							?>
       
   
			        <div class="form-group row ">
					    <label class="control-label col-md-3 text-right"><?php echo $this->language->_('Bank'); ?>&nbsp;:</label>
					          <div class="col-md-9">
				                <?=$this->BANK_NAME?>

				              </div>
				    </div>
        
			        <div class="form-group row ">
					    <label class="control-label col-md-3 text-right"><?php echo $this->language->_('Email Address'); ?>&nbsp;:</label>
					          <div class="col-md-9">
				                <?=$this->ACBENEF_EMAIL?>

				              </div>
				    </div>
				    <div class="form-group row">
				    	<label class="control-label col-md-3"></label>
				    	<div class="col-md-9">
				    		<div class="formbutton">
								<input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url(array('module'=>'predefinedbeneficiary','controller'=>'domesticcct','action'=>'index'),null,true)?>'" value = "<?php echo $this->language->_('Back');?>">
								<input type="submit" value="<?php echo $this->language->_('Submit');?>" name="submit" class="btngreen hov"/>
							</div>
				    	</div>
				    </div>
  			</div>
 	</div>
 	<hr>
	<div class="card">
  		<div class="portlet-body form">
  			<div class="card-header cardhead text-white"><?php echo $this->language->_('Notes')?></div>
  			<div class="form-group">
  				<label class="control-label col-md-1">
  					
  				</label>
  				<div class="col-md-11">
  					<?php echo $this->language->_('If Account is not approved, then it will be deleted rightaway');?>.<br />
										<?php echo $this->language->_('If Account approved, then it will need approval to be deleted');?>. 
  				</div>
  			</div>
  		</div>
	</div>
 </form>
 
<?php }else{ ?>
      <form name="addbeneficiary" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'delete'),null,true)?>">
        <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
          <table class="table table-sm table-striped" style="background-color: white;">
          <thead>
            <tr class="headercolor">
              <!-- <th class="tablehead">
                <input name="allCheck[]" onclick="if($(this).is(':checked')){$('.checkall').attr('checked', 'checked');}else{$('.checkall').removeAttr('checked');}" type="checkbox">
              </th> -->
             
              <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                                    'sortBy' => $this->sortBy,
                                                                    'sortDir' => $this->sortDir,
                                                                    'query_string_params' => $this->query_string_params
                                                                    )
                            )?>

            </tr>
            </thead>
            <tbody>
            <?php
            $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

            if(count($this->paginator) > 0)
            {
                  $i=0;

            foreach($this->paginator as $row) {

            $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
            $cek = FALSE;
            if($this->check == true)
            {
                if($row['CHECK'] == 1)
                {
                    $cek = TRUE;
                }
            }
            $attribut=array('class' => 'benef_id','class'=>'checkboxlist', 'checked' => $cek);


            $button = $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'delete','benef_id'=>$row['BENEFICIARY_ID']),null,true);
            $button =  '<input class = "btngreen hov" type="button" onclick="javascript:confirmation(\''.$this->language->_('Are you sure want to delete this beneficiary account').'?\',\''.$button.'\');" value = "'.$this->language->_('Delete').'">';

            //if($row['BENEFICIARY_ISAPPROVE_disp']=='Approved') $benefId = $row['BENEFICIARY_ACCOUNT'];
            //else $benefId = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'editbeneficiary','benef_id'=>$row['BENEFICIARY_ID']),null,true).'">'.$row['BENEFICIARY_ACCOUNT'].'</a>';
            $benefId = $row['BENEFICIARY_ACCOUNT'];

          
            $fav =array('checked' => ($row['ISFAVORITE']==1)? true : false);
            $delete = '';
            if($row['BENEFICIARY_ISREQUEST_DELETE']) $delete = $this->language->_('Request to delete');
            else $delete = $button;

            if($row['BENEFICIARY_ISAPPROVE']){
              $status = $this->language->_('Approved');
            }else{
              $status = $this->language->_('Not Approved');
            }

            // $check = $this->formCheckBox("isfavorite[{$row['BENEFICIARY_ID']}]",null, $fav);
            $check = '';
            echo '<tr>';
                //<td class="'.$td_css.'">'.$row['BENEFICIARY_ALIAS'].'</td>
            echo '<td class="'.$td_css.'">'.$benefId.''.$this->formHidden('BENEFICIARY_ID[]',$row['BENEFICIARY_ID']).''.$this->formHidden('STATUS[]',$row['BENEFICIARY_ISAPPROVE']).'</td>
                <td class="'.$td_css.'">'.$row['BENEFICIARY_NAME'].'</td>
                <td class="'.$td_css.'">'.$row['BENEFICIARY_EMAIL'].'</td>
                <td class="'.$td_css.'">'.$row['CURR_CODE'].'</td>
                <td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['BENEFICIARY_CREATED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
                <td class="'.$td_css.'">'.$status.'</td>
              </tr>';
                // <td class="'.$td_css.'">'.$delete.'</td>

                $i++;
                        $counter++;
              }
            }
            else {
            echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
            }
            ?>
            </tbody>
            </table>
        </div>
         <br>
          <div class="formbutton">
            <input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url(array('module'=>'predefinedbeneficiary','controller'=>'inhouseacct','action'=>'index'),null,true)?>'" value = "<?php echo $this->language->_('Back');?>">
            <input type="submit" value="<?php echo $this->language->_('Submit');?>" name="submit" class="btngreen hov"/>
          </div>
</form>



  <?php } ?>
	
