
<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span>Predefined beneficiary</span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span>Domestic Account</span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="valas" ><?=$this->language->_('Edit Domestic Account')?></span>
                        
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
<br />

	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->language->_($this->report_msg)?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->language->_($this->report_msg)?></div><br />
					<?php } ?>
				</td>
			</tr>
			
			<tr>
				<td id="contentarea">
				<div class="portlet-body form content-box">
					<form name="addbeneficiary" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'editemail'),null,true)?>">
					<div class="portlet light form-fit bordered">
				
				
				<div class="portlet-body form">
                      <!-- Default panel contents -->
                     
                    	<h5><?=$this->language->_('Edit Email Beneficiary')?></h5>
	            <hr/>
                    	<div class="portlet-body form">
                                                <!-- BEGIN FORM-->
                                                
                                                    <!--<div class="form-body">
                                                    
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3"></label>
                                                            <div class="col-md-9">
                                                            <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
                                                            </div>
                                                        </div>
					                                 </div>-->
			<div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Bank'); ?></label>
	          <div class="col-md-9">
                <?=$this->BANK_NAME?>

              </div>
    </div>										 
            <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Beneficiary Number');?></label>
	          <div class="col-md-9">
                <?=$this->ACBENEF?><?php echo $this->formHidden('ACBENEF',$this->ACBENEF); ?><?=$this->ACBENEF_ALIAS?><?php echo $this->formHidden('BENEFICIARY_ID',$this->BENEFICIARY_ID); ?>
              </div>
              </div>
			  <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Beneficiary Name');?></label>
	          <div class="col-md-9">
                <?=$this->ACBENEF_BANKNAME?>
              </div>
              </div>
    <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Currency'); ?></label>
	          <div class="col-md-9">
               <?=$this->CURR_CODE?> 

              </div>
    </div>
	<?php if($this->BENEF_TYPE != '8'){ ?>
        <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Citizenship'); ?></label>
	          <div class="col-md-9">
                <?php $arrCitizen = array('R'=>'Resident','NR'=>'Non Resident'); 
											echo ($this->RESIDENT) ? $arrCitizen[$this->RESIDENT] : '';?>

              </div>
    </div>
        <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Nationality'); ?></label>
	          <div class="col-md-9">
               <?php $arrCitizen1 = array('W'=>'WNI','N'=>'WNA'); 
											echo ($this->CITIZENSHIP) ? $arrCitizen1[$this->CITIZENSHIP] : '-';?> 

              </div>
    </div>
        <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Category'); ?></label>
	          <div class="col-md-9">
               <?php 
											echo ($this->LLD_CATEGORY) ? $this->LLD_CATEGORY : '-';?> 

              </div>
    </div>
        <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Identification Type'); ?></label>
	          <div class="col-md-9">
                <?php 
											echo ($this->LLD_CATEGORY) ? $this->LLD_BENEIDENTIF : '-';?>

              </div>
    </div>
        <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Identification Number'); ?></label>
	          <div class="col-md-9">
               <?php 
											echo ($this->LLD_CATEGORY) ? $this->LLD_BENENUMBER : '-';?> 

              </div>
    </div>
    
        <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Address'); ?></label>
	          <div class="col-md-9">
                <?php 
											echo ($this->ADDRESS) ? $this->ADDRESS : '-';?>

              </div>
    </div>
	<?php } ?>
        
	<?php if($this->BENEF_TYPE != '8'){ ?>
        <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('City'); ?></label>
	          <div class="col-md-9">
                <?php 
											echo ($this->CITY_CODE) ? $this->CITY_CODE : '-';?>

              </div>
    </div>
	<?php } ?>
        <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Email Address'); ?></label>
	          <div class="col-md-9">
                <?php echo $this->formText('ACBENEF_EMAIL',$this->ACBENEF_EMAIL,array('size'=>40,'class'=>'form-control'))?>

              </div>
    </div>
       
    
    
    
    
              
             </div>
		</div>		
		
		
		<div class="row">
  <div class="col-sm-6">
  <div class="panel panel-default content-box">
			<div class="card-header cardhead text-white"><?php echo $this->language->_('Notes');?></div>
				<div class="panel-body">
						<div class="form-group">
				<?php echo $this->language->_('To fill more than 1 email address, please separated it with semicolon');?> (;).<br>
			     <?php echo $this->language->_('For example');?> : wirda@gmail.com;gunawan@yahoo.com
			</div>
	</div>
	</div>
</div>
<div class="col-sm-6">&nbsp;</div>
  </div>
</div>
<br/>	
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							
							<tr>
								<td class="button-area" id="button-area" colspan="2">
									<div class="formbutton">
										<input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url(array('module'=>'predefinedbeneficiary','controller'=>'domesticcct','action'=>'index'),null,true)?>'" value = "<?php echo $this->language->_('Back'); ?>">
										<input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btngreen hov"/>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					</form>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
