<b><?php echo $this->language->_('Payment');?> &gt; <?php echo $this->language->_('Education');?></b><br /><br />
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'confirm'),null,true)?>" method="post">
<!--<div class="successmsg">Payment Success</div><br/>-->
<div class="errmsg">
<?php 
	echo $this->language->_($this->ERROR_MSG_N);		
?>
</div><br />
	
<table cellpadding="3" cellspacing="0" border="0" width="30%">
	<tr>
		<th colspan="5" class="tdform-sub"><strong><?php echo $this->language->_('Education Payment');?></strong></th>
	</tr>
	
	<tr>
    	<td class="tbl-evencontent"><?php echo $this->language->_('Payment Ref');?>#</td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?php echo $this->formLabel('account',$this->paramSession['PSNumber']); ?></td>
  	</tr>
  	
  	<tr>
    	<td class="tbl-evencontent"><?php echo $this->language->_('Date - Time');?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?php echo $this->formLabel('datetime',$this->paramSession['date']); ?></td>
  	</tr>
	
  	<tr>
    	<td class="tbl-evencontent"><?php echo $this->language->_('Source Account');?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?php echo $this->formLabel('account',$this->paramSession['ACCTSRC']); ?></td>
  	</tr>
  
	<tr>
    	<td class="tbl-evencontent"><?php echo $this->language->_('Provider Type');?></td>
    	<td class="tbl-evencontent">:</td>
    	<td class="tbl-evencontent"><?php echo $this->formLabel('ccType',$this->paramSession['operatorNama']); ?></td>
  	</tr>
  
 	<tr>
   		<td class="tbl-evencontent"><?php echo $this->language->_("Student's Number");?></td>
    	<td class="tbl-evencontent">:</td>
    	<td class="tbl-evencontent"><?php echo $this->formLabel('ccNo',$this->paramSession['orderId']); ?></td>
  	</tr>
  
  	<tr>
    	<td class="tbl-evencontent"><?php echo $this->language->_('Total Payment');?></td>
 		<td class="tbl-evencontent">:</td>
 		<td class="tbl-evencontent"><?php echo $this->formLabel('amount',$this->paramSession['ccy'].' '.Application_Helper_General::displayMoney($this->paramSession['total'])); ?></td>
  	</tr>
  	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
	<tr>
		<td class="button-area" id="button-area" colspan="3">
			<div class="formbutton">
				<?php
				$option = array('module'=>'payment','controller'=>'education');
				?>
									
				<input class="inputbtn" value="<?php echo $this->language->_('Back');?>" onclick="location.href='<?=$this->url($option,null,true)?>'" type="button">&nbsp;
				<input class="inputbtn" value="<?php echo $this->language->_('Print');?>" onclick="window.print();" type="button">
				<?php echo $this->formSubmit('pdf',$this->language->_('PDF'),array('class'=>'inputbtn')); ?>
			</div>
		</td>
	</tr>	
</table>
</form>