<script type="text/javascript" charset="utf-8">
	
	function enableCustId()
	{
		$('.custId').hide();
		if($("#operator").val() != '')
		{
			$('.custId').show();
			paymentCheck();
		}
	}
	
	function paymentCheck()
	{
		$('#payment').attr('disabled', 'disabled');
		$('#enrollmentNumber').attr('disabled', 'disabled');
		//$('#operator').removeAttr('disabled');
		if($("input.radioCheck:checked").val() == '2')
		{
			$('#cek').attr('disabled', 'disabled');
			$('#orderId').attr('disabled', 'disabled');
			$('#payment').removeAttr('disabled');
			//$('#operator').attr('disabled', 'disabled');
			$('#operatorHidden').attr('value', $('#operator').val());
			<?php
				foreach($this->paymentList AS $arr)
				{
			?>	
					selected = "";
					if('<?=$arr['REF_NO']?>' == '<?php echo $this->payment?>')
					{
						selected = "selected";
					}
					if($('#operator').val()==<?=$arr['PROVIDER_ID']?>)
					{  
						$('#payment').append("<option value='<?=$arr['REF_NO']?>'"+selected+"> <?=$arr['REF_NO']?></option>");  
					}
			<?php
				}
			?>
		}
		if($("input.radioCheck:checked").val() == '3')
		{
			
			$('#cek').attr('disabled', 'disabled');
			$('#orderId').attr('disabled', 'disabled');
			$('#enrollmentNumber').removeAttr('disabled');
			$('#operatorHidden').attr('value', $('#operator').val());
			
		}
		if($("input.radioCheck:checked").val() == '1')
		{
			$('#cek').removeAttr('disabled');
			$('#orderId').removeAttr('disabled');
			$('#operatorHidden').attr('value', $('#operator').val());
			
		}
	}
	function modalpayment(){
		// alert();
    $("#myModalApproval").modal();
  }
	
	$(document).ready(function()
	{
		$('#payment').attr('disabled', 'disabled');
		if($("input.radioCheck:checked").val() == '2')
		{
			$('#payment').removeAttr('disabled');
			if('<?=$this->payment?>')
			{
				paymentCheck();
			}
		}
		enableCustId();
	});
</script>

<script type="text/javascript">
	$(function() {
	    $('#operator').change(function() {
	    	document.getElementById('enrollmentNumber').value = '';
	    	document.getElementById('orderId').value = '';
	        this.form.submit();
	    });
	});
</script>

<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Payment')?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <?php echo $this->language->_('Education Payment')?>
                    </li>
                </ul>
            </div>
        </div>
</div>
<?php if($this->ERROR_MSG_N){?>
<div class="errmsg">
<?php echo $this->language->_($this->ERROR_MSG_N);?>
</div><br>
<?php }?>

<?php 
	if($this->responseCodeReqErr)
	{
?>
		<div class="errmsg">
<?php
			echo $this->formErrors($this->responseCodeReqErr);
?>
		</div>
<?php
	}
?>

<?php
	$mandatory = ($this->confirmPage != 1)? "<strong class='formreq'>&nbsp;<span class='errmsg'>*</span></strong>": "";
?>

<h5 style="margin-bottom: 0px;font-size: 18px;"><?=$this->language->_('Payment')?></h5>

<h5 style="color:#b3b3b3;font-size: 18px;"><?=$this->language->_('Education')?></h5>

<br>


<div class="portlet-body form" style="border: 0px solid #ddd;">

<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
	<input type = "hidden" id="operatorHidden" name="operatorHidden" value="">

	<!-- paymentlist -->
	<?php echo $this->partial('paymentlist.phtml')?>
	
    <a class="btnwhite hov card" href="#" onclick="modalpayment();" style="border: 1px solid rgba(0,0,0,.125);"><i class="fa fa-shopping-cart navbar-icons" style="margin-top: 4px;"></i>&nbsp;<?php echo $this->language->_('Payment List'); ?></a>


<br>
<br>

<div class="row">
	<div class="col-md-7">
		<div class="form-group row ">
                <!-- <div class="col-md-12">
                <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
                </div> -->
      	</div>
      	<div class="form-group">
		    <label class="control-label"><?php echo $this->language->_('Source Account');?><?=$mandatory?></label>
		    <div class="row">
		    	<div class="col-md-9">
	                <?php  
						if ($this->confirmPage != 1)
							echo $this->formApp("SELECT_ACCTSRC", $this->AccArr, $this->ACCTSRC, "ACCTSRC");	
						else
							echo $this->ACCTSRC_view.$this->formHidden('ACCTSRC',$this->ACCTSRC);
					
						if($this->ACCTSRCErr)
						{
							echo '<div class="errmsg">'.$this->formErrors($this->ACCTSRCErr).'</div>';
					
						}
						
						if($this->xACCTSRC){
							echo "<div class='errmsg'> ".$this->xACCTSRC." </div>";
						}
					?>

	              </div>
		    </div>
	    </div>

	    <div class="form-group">
		    <label class="control-label"><?php echo $this->language->_('Service Provider');?><?=$mandatory?></label>
		    <div class="row">
		    	<div class="col-md-9">
	                <?php echo $this->formSelect('operator',$this->operator,array('class'=>'form-control mb-2','onchange'=>'enableCustId()'),$this->providerArr); ?>
					<input type="checkbox" name="cek" id="cek" value="1" <?php if($this->cek==1){echo('checked');}?>><?php echo $this->language->_('Add To Payment List');?>
					<?php
					
						if($this->operatorErr)
						{
					?>
							<div class="errmsg">
					<?php
								echo $this->formErrors($this->operatorErr);
					?>
							</div>
					<?php
						}
					?>

	            </div>
		    </div>
	    </div>
	    <div class="custId form-group">
	   		<label class="control-label"> <?php echo $this->language->_('Service Provider');?><?=$mandatory?></label>
	   		<div class="row">
	   			<div class="col-md-9">
					<table>
						<tr>
							<td width='30px'>&nbsp;</td>
							<td style="font-size: 10px;">
								<label for="radioCheck" class="radio m-0">
									<input type="radio" name="radioCheck" id="radioCheck" class="hidden radioCheck" value="3" <?php if($this->radioCheck==1){echo('checked');}?> onchange = "paymentCheck()" />
								    <span class="label"></span><?php echo $this->language->_('New Enrollment List');?>
								</label>
							</td>
						</tr>
						<tr>
							<td width='30px'>&nbsp;</td>
							<td>
								<div>
									<table>
										<tr>
											<td width='30px'>&nbsp;</td>
											<td style="font-size: 10px;"><?php echo $this->language->_('Enrollment Number');?></td>
											<td> : </td>
											<td>
												<?php
													echo $this->formText('enrollmentNumber',$this->enrollmentNumber,array('maxlength'=>'3016','size'=>'30','class'=>'line pt-0')); 
												
													if($this->enrollmentNumberErr)
													{
												?>
														<div class="errmsg">
												<?php
															echo $this->formErrors($this->enrollmentNumberErr);
												?>
														</div>
												<?php
													}
												?>
											</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td style="font-size: 10px;">
								<label for="radioCheck2" class="radio m-0">
									<input type="radio" name="radioCheck" id="radioCheck2" class="hidden radioCheck" value="1" <?php if($this->radioCheck==2){echo('checked');}?> onchange = "paymentCheck()" />
								    <span class="label"></span><?php echo $this->language->_('Student');?>
								</label>
							</td>
						</tr>
						<tr>
							<td width='30px'>&nbsp;</td>
							<td>
								<div>
									<table width="">
										<tr>
											<td width='30px'>&nbsp;</td>
											<td style="font-size: 10px;"><?php echo $this->language->_('Student ID');?></td>
											<td> : </td>
											<td>
												<?php
													echo $this->formText('orderId',$this->orderId,array('maxlength'=>'16','size'=>'30','class'=>'line pt-0')); 
												
													if($this->orderIdErr)
													{
												?>
														<div class="errmsg">
												<?php
															echo $this->formErrors($this->orderIdErr);
												?>
														</div>
												<?php
													}
												?>
											</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
						
						
						<tr>
							<td>&nbsp;</td>
							<td style="font-size: 10px;">
								<label for="radioCheck2" class="radio m-0">
									<input type="radio" name="radioCheck" id="radioCheck2" class="hidden radioCheck" value="2" <?php if($this->radioCheck==2){echo('checked');}?> onchange = "paymentCheck()" />
								    <span class="label"></span><?php echo $this->language->_('From Payment List');?>
								</label>
							</td>
						</tr>
						<tr>
							<td width='30px'>&nbsp;</td>
							<td>
								<div>
									<table>
										<tr>
											<td width='30px'>&nbsp;</td>
											<td style="font-size: 10px;"><?php echo $this->language->_('From Payment List');?></td>
											<td> : </td>
											<td>
										
												<?php
													echo '<select name="payment" id="payment">
															<option value="">-- '.$this->language->_('Please Select').' --</option>';
													echo '</select>';
													if($this->paymentErr)
													{
												?>
														<div class="errmsg">
												<?php
															echo $this->formErrors($this->paymentErr);
												?>
														</div>
												<?php
													}
												?>
											</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
					</table>
	          	</div>	
	   		</div>
	    </div>
	    <?php if($this->operator){?>
            <div class="form-group">
                <label class="control-label"><?php echo $this->language->_('Payment Method');?><?=$mandatory?></label>
                <div class="row">
                	<div class="col-md-9">
	                    <?php  
						if($this->paymentMethod == 'A'){
							$selectedA = 'selected';
						}
						elseif($this->paymentMethod == 'P'){
							$selectedP = 'selected';
						}
						
						echo '<select name="paymentMethod" id="paymentMethod">
								<option value="">-- '.$this->language->_('Select Payment Method').' --</option>
								<option value="A" '.$selectedA.'>'.$this->language->_('All').'</option>
								<option value="P" '.$selectedP.'>'.$this->language->_('Partial').'</option>
								
								';
						echo '</select>';
						?>
						<?
							if($this->paymentMethodErr)
							{
						?>
								<div class="errmsg">
						<?php
									echo $this->formErrors($this->paymentMethodErr);
						?>
								</div>
						<?php
							}
						?>
	                </div>
                </div>
            </div>
    		
    	<?php } ?> 

    	<?php if($this->provInquiry == 'N'){?>
            <div class="form-group">
                <label class="control-label"><?php echo $this->language->_('Total Payment');?><?=$mandatory?></label>
                <div class="row">
                	<div class="col-md-9">
	                    <?php  
						echo $this->formText("amount",$this->amount,array('id'=>"TRAAMOUNT",'maxlength'=>'20','class' =>'currency qty line pt-0', "style"=>"text-align: right;",'onfocus'=>"iNumFrmt(this.value,this.id)", 'onblur'=>"NumFrmt(this.value,this.id)",'onkeypress'=>"return forceCurrencyOCBC(event)"));
						?>
						<?
							if($this->amountErr)
							{
						?>
								<div class="errmsg">
						<?php
									echo $this->formErrors($this->amountErr);
						?>
								</div>
						<?php
							}
						?>
						
	                </div>
                </div>
            </div>
    		
    	<?php } ?> 
	</div>
	<div class="col-md-5">
		<div class="form-group row">
            <h6><?php echo $this->language->_('History')?></h6>
        </div>
        <div class="form-group row">
        	<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
        		<table class="table table-sm table-striped" id="myTable">
        			<thead>
        				<tr>
        					<th valign="top" class="tablehead"><?php echo $this->language->_('Date')?></th>
        					<th valign="top" class="tablehead"><?php echo $this->language->_('ID')?></th>
        					<th valign="top" class="tablehead"><?php echo $this->language->_('Amount')?></th>
        				</tr>
        			</thead>
        			<tbody>
        				<?php foreach ($this->historyData as $row) { ?>
	        				<tr>
	        					<td><?php echo Application_Helper_General::convertDate($row['PS_EFDATE'], 'dd MMMM y') ?></td>
	        					<td><?php echo $row['BILLER_ORDER_ID'] ?></td>
	        					<td><?php echo Application_Helper_General::displayCurrency($row['PS_TOTAL_AMOUNT']); ?></td>
	        				</tr>
        				<?php } ?>
        			</tbody>
        		</table>
        	</div>
        </div>
	</div>
</div>



	<div class="portlet-body form">

		
    	<div class="portlet-body form">
    		
		    
	    	<!-- layout token page 1- end-->
	    	<div class="form-group row ">
	    		<label class="control-label col-md-3"></label>
	    		<div class="col-md-9">
	    			<div class="formbutton" style="float:left">
						<?php $option = array('module'=>'home'); ?>
						<input class="btnwhite hov" value="<?php echo $this->language->_('Cancel'); ?>" onclick="if (confirm('If you leave this screen\nYour data input will be lost\nAre you sure leaving this screen?'))  location.href='<?=$this->url($option,null,true)?>'" type="button">
						<?php //$this->formSubmit('submit', $this->language->_('Next'),array('class' => 'inputbtn'));?>
					
						<?php if($this->operator){?>
							<?php if(!$this->token){
								  ?>
								 		<input type="submit" name="next" class="btngreen hov" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>
								 <?php }else{ 
								 	?>
								 		<button class="btngreen hov"  type="button" data-toggle="modal" data-target="#tokenmodal">&nbsp;<?php echo $this->language->_('Next'); ?></button>
								 	<?php
								 }?>
						<?php }?>
						<input type="submit" class="btngreen hov" id="Submit_id" name="submit1" value="<?php echo $this->language->_('Next')?>" disabled style="display:none"/>
						<script>
						function submitbtn(){
							document.getElementById("subbutton").style.display ="none";
							document.getElementById("Submit_id").style.display ="inline";
						}
						</script>
					</div>
	    		</div>
	    	</div>
    	</div>
	</div>
	
	



	  
</form>
</div>