<h3><?= $this->language->_('Holiday Changes Detail') ?></h3>
<?php
echo $this->action(
	'message',
	'tools',
	'changemanagement',
	array('class' => 'col-md-12', 'changes_id' => $this->changes_id)
);
?>
<br />

<br /><br />
<form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">

	<?php if ($this->changes_type == 'E') { ?>
		<div class="row">
			<div class="col-md-12">
				<div class="col text-right">
					<button id="btnDiffOnly" type="button" class="btngreen hov"><?php echo $this->language->_('Show Difference Only'); ?></button>
				</div>
			</div>
		</div>
	<?php } ?>
	<div class="row">
		<div class="col-md-6">
			<Strong><?php echo $this->language->_('Current Holiday List'); ?></Strong>
			<hr />
		</div>
		<div class="col-md-6">
			<Strong><?php echo $this->language->_('Proposed Holiday List'); ?></Strong>
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="table-responsive">
				<table width="100%" cellpadding="2" cellspacing="0" border="0" class="table-sm table-striped tableform table-sugg">
					<tr class="diffRowdata1">
						<th><strong><?php echo $this->language->_('Date'); ?></strong></th>
						<th><strong><?php echo $this->language->_('Description'); ?></strong></th>
					</tr>
					<?php if (!$this->olddata) { ?>
						<tr>
							<td class="tbl-evencontent" colspan="2" align="center">
								<div> - </div>
							</td>
						</tr>
						<?php } else {
						$i = 0;
						$counter = 1;
						foreach ($this->olddata as $row) {
							$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent'; ?>
							<tr class="diffRowdata">
								<td class="<?= $td_css ?> data"><?php //echo Application_Helper_General::convertDate($row['HOLIDAY_DATE'],'Y F d','yyyy-MM-d');
																echo date('d F Y', strtotime($row['HOLIDAY_DATE'])); ?></td>
								<td class="<?= $td_css ?> data2"><?= $row['HOLIDAY_DESCRIPTION'] ?></td>
							</tr>
					<?php }
					} ?>
				</table>
			</div>
		</div>

		<div class="col-md-6">
			<div class="table-responsive">
				<table width="100%" cellpadding="2" cellspacing="0" border="0" class="table-sm table-striped tableform table-current">
					<tr class="diffRow1">
						<th><strong><?php echo $this->language->_('Date'); ?></strong></th>
						<th><strong><?php echo $this->language->_('Description'); ?></strong></th>
					</tr>
					<?php if (!$this->newdata) { ?>
						<tr>
							<td class="tbl-evencontent" colspan="2" align="center">
								<div> - </div>
							</td>
						</tr>
						<?php } else {
						$i = 0;
						$counter = 1;
						foreach ($this->newdata as $row) {
							$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent'; ?>
							<tr class="diffRow">
								<td class="<?= $td_css ?> dataChange" style="background-color:#fefe00"><?php //echo Application_Helper_General::convertDate($row['HOLIDAY_DATE'],'Y F d','yyyy-MM-d');
																										echo date('d F Y', strtotime($row['HOLIDAY_DATE'])); ?></td>
								<td class="<?= $td_css ?> dataChange2" style="background-color:#fefe00"><?= $row['HOLIDAY_DESCRIPTION'] ?></td>
							</tr>
					<?php }
					} ?>
				</table>
			</div>
			<div class="col-md-6"></div>
		</div>
	</div>
	<script>
		$("table.table-sugg > tbody > tr").each(function() {
			var data = $(this).find(".data");
			var data2 = $(this).find(".data2");
			var sugdata = $(this);
			//$(this).removeClass('diffRowdata');
			data.css('background-color', '#fe0000');
			data2.css('background-color', '#fe0000');
			$("table.table-current > tbody > tr").each(function() {
				var dataChange = $(this).find(".dataChange");
				var dataChange2 = $(this).find(".dataChange2");
				//console.log(data.text());
				//console.log(dataChange.text());
				//dataChange.css('background-color', '#fefe00');
				//dataChange2.css('background-color', '#fefe00');
				if (data.text() == dataChange.text()) {
					//background-color: #fff;
					data.css('background-color', '#fff');
					data2.css('background-color', '#fff');
					var dataChange = $(this).find(".dataChange");
					var dataChange2 = $(this).find(".dataChange2");
					//console.log(sugdata);
					dataChange.css('background-color', '#fff');
					dataChange2.css('background-color', '#fff');
					//alert();

					sugdata.removeClass('diffRowdata');
					$(this).removeClass('diffRow');
					return true;
				}
			});
		});

		$("#btnDiffOnly").click(function() {
			$("table.table-sugg > tbody > tr").each(function() {
				var className = $(this).attr('class');
				if (className != 'diffRowdata1') {
					if (className != 'diffRowdata' && $(this).is(":visible")) {
						$(this).hide();
					} else {
						$(this).show();
					}
				}''
			});
			$("table.table-current > tbody > tr").each(function() {
				var className = $(this).attr('class');
				if (className != 'diffRow1') {
					if (className != 'diffRow' && $(this).is(":visible")) {
						$(this).hide();
					} else {
						$(this).show();
					}
				}
			});
		});
	</script>
</form>
<br />
<br />
<?php
echo $this->action(
	'index',
	'tools',
	'changemanagement',
	array('changes_id' => $this->changes_id)
);
?>


<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", () => {
		document.querySelectorAll('[name=submit]')[2].style.display = 'none'
		document.querySelector('[value=Repair]').style.display = 'none'

		<?php if (!$this->hasPrivilege('HDAP')) : ?>
			document.querySelector('[name="approval"]').remove();
		<?php endif ?>
	});
</script>