<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script type="text/javascript">
function explodePie (e) {
  if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
    e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
  } else {
    e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
  }
  e.chart.render();

}
</script>

<style type="text/css">
  
  .accordionDiv{
    background-color: #003f6e;
    border-radius: 10px;
    height: 40px;
    margin-top: 10px;
    color: #ffffff;
  }

  .accordionDiv2{
    background-color: #D73411;
    border-radius: 10px;
    height: 40px;
    margin-top: 10px;
    color: #ffffff;
  }

  .accordionDiv3{
    background-color: lightgray;
    border-radius: 10px;
    height: 40px;
    margin-top: 10px;
    color: black;
  }

  .iconCircle{
    margin-right: 8px;
    margin-top: 5px;
    background-color: #ffffff;
  }

  .fa-chevron-up{
    color: #C9BBB8 !important;
  }

  .fa-chevron-down{
    color: #C9BBB8 !important;
  }

  .tablehead{

    background-color: #EFE8E7 !important;
    color: #B1A6A4 !important;
  }

  input{
    text-align: center;
  }

  .padding-header-cust{
  padding-left:2%;
  background-color:#005587;
  height:30px;
  border-radius: 8px;
  color:white;
  padding-top: 2px; 
  }

  .dropleft .dropdown-toggle::before {
    display: none !important;
  }

  .newhead{
    color: gray;
    font-style: italic;
    font-weight: 500;
  } 

  .disabled {
    pointer-events: none;
    cursor: default;
  }
</style>

<?php
$hide = '';
  if($this->status == 'Deleted'){
    $hide = 'display:none';
    $disableclass = 'disabled';
    
  }
 ?>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?=$this->language->_('Customer Management')?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas" ><?=$this->language->_('Notional Pooling')?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas" ><?=$this->language->_('Group List')?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas" ><?=$this->language->_('Detail')?></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">

      <div class="col-md-9">
        <h5>Notional Pooling Group ID# <?php echo $this->natid; ?> (Status: <?php echo $this->status; ?>)</h5>
      </div>
      <div class="col-md-3" align="right">
        <div class="dropdown dropleft" style="padding-right:20px">
          <a style="font-size:20px" class="dropdown-toggle <?php echo $disableclass ?>" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></a>
          <div class="dropdown-menu <?php echo $disableclass ?>" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item <?php echo $disableclass ?>" href="/nationalpoolinggroup/detail/index/clean/1/np/<?php echo $this->id; ?>"><i class="fas fa-sync-alt"></i>&nbsp;&nbsp;Refresh All</a>
            <a class="dropdown-item <?php echo $disableclass ?>" href="/nationalpoolinggroup/detail/index/cleanna/1/np/<?php echo $this->id; ?>"><i class="fas fa-redo-alt"></i>&nbsp;&nbsp;Refresh N/A Only</a>
            <a class="dropdown-item <?php echo $disableclass ?>" href="/nationalpoolinggroup/editinterest/index/ref/<?php echo $this->id; ?>"><i class="fas fa-percent"></i>&nbsp;&nbsp;Interest Setting</a>
            <a class="dropdown-item <?php echo $disableclass ?>" href="#"><i class="far fa-file-pdf"></i>&nbsp;&nbsp;PDF Download</a>
          </div>
        </div>
        <!-- IDR <i class="fas fa-chevron-down pt-2" style="margin-right:5px !important;"></i>
        <button onClick="window.location.reload()" style="width: 40px;height: 40px;background-image: linear-gradient(#ffffff,#ffffff);border-radius: 100%; border-style: double;margin-right:5px !important;" name="button"> <i style="color:black" class="fa fa-sync" aria-hidden="true"></i> </button>
          <?php 
              $buttonSetting = $this->url(array('module'=>'notionalpoolingnew','controller'=>'setting',),null,true);
          ?>
          <button style="width: 40px;height: 40px;background-image: linear-gradient(#ffffff,#ffffff);border-radius: 100%;border-style: double;margin-right:5px !important;" name="button" onclick="location.href='<?php echo $buttonSetting; ?>'">
                                      <i style="color:black" class="fa fa-cog" aria-hidden="true"></i>

          </button>

          <button type="button" name="pdf" value="PDF" title="Print PDF" class="btn-sm hov pdf" style="width: 40px;margin-top: -10px !important;height: 40px;background-image: linear-gradient(#ffffff,#ffffff);border-radius: 100%; border-style: double;"><span class="icon-printer"></span></button> -->
      </div>

      <div class="col-md-12">
        <div class="padding-header-cust">
        <?php echo $this->formHidden('custid',$this->custid); ?>
        <?php echo $this->formHidden('ref',$this->natid); ?>
          <h5><?php echo $this->custname.' ('.$this->custid.') - CIF : '.$this->custcif; ?> </h5>
        </div>
      </div>
      <div class="col-md-12 pt-4" style="<?php echo $hide; ?>">
        <div class="content-box">
          
          <div id="chartContainer" class="img-fluid" style="height: 300px; width: 100%;"></div>

        </div>
      </div>
      <br>
      <div class="portlet-body form col-md-12">
        <h6>Interest Account Setting</h6>
        <table id="interestacc" class="table table-sm">
          <thead>
            <tr>
              <th class="newhead">Interest Type</th>
              <th class="newhead">Account Number</th>
              <th class="newhead">Account Name</th>
              <th class="newhead">CIF</th>
              <th class="newhead">%</th>
            </tr>
          </thead>
          <tbody>
          <?php if(!empty($this->dataacct)){
      $i = 0;
            foreach($this->dataacct as $key => $val){
            
              if($val['N_IS_SAVING'] == '1'){
                $status = 'Saving Interest Account';
                $stylestatus = ''; 
              }else if($val['N_IS_CREDIT'] == '1'){
         $status = 'Credit Interest Account';
        $stylestatus = 'style="color:red"';
        }else{
                $status = '';
                
                $stylestatus = '';
              }
              
                
              
            if($val['N_IS_SAVING'] == '1' || $val['N_IS_CREDIT'] == '1'){
     // $hasilmod = $i % 2;             
                 if($val['N_IS_SAVING'] == '1'){
                  $rate = '2.0';
                 }else{
                  $rate = '8.0';
                 }
       //  $i++;
            ?>
            <tr>
              <td><?php echo $status; ?></td>
              <td><?php echo $val['N_SOURCE_ACCOUNT'].' (IDR)'; ?></td>
              <td><?php echo $val['CUST_NAME']; ?></td>
              <td><?php echo $val['CUST_CIF']; ?></td>
              <td <?php echo $stylestatus; ?>><?php echo $rate; ?>%</td>
            </tr>
            
            <?php
        }
            }
          
          } ?>
            
          </tbody>
        </table>
      </div>
      
      
      <div class="col-md-12" style="text-align:right">
        <h6 style="color:gray">Last Balance Update: <span style="color:black" id="lastupdate"><?php echo $this->lastupdate ?></span></h6>
      </div>
      <div class="portlet-body form col-md-12">
         
           <table width="100%" class="accordionDiv">
              <tr>
                <td width="20%"><h5 class="textWhite pl-3"><?php echo $this->language->_('Assets'); ?></h5></td>
                <td id="idrasset" style="<?php echo $hide; ?>">
                  <h5 class="textWhite"><?php echo 'IDR '.Application_Helper_General::displayMoney($this->totalasset); ?></h5>
                </td>
                <td align="right">
                  <i class="iconCircle fas fa-chevron-down pt-2" onclick="makerLimitShow()" id="makerLimitBtnShow"></i>
                  <i class="iconCircle fas fa-chevron-up pt-2" onclick="makerLimitHide()" id="makerLimitBtnHide"></i>
                </td>
              </tr>
            </table>
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-sm" id="divMakerLimit">
              <tr class="tdform-sub"> 
                <th class="newhead">Account Number</th>
                <th class="newhead">Account Name</th>
                <th class="newhead">CIF</th>
                <th class="newhead">Product Name</th>
                <th class="newhead">%</th>
                <th class="newhead" style="<?php echo $hide; ?>" colspan="2">Balance</th>
              </tr>
        <?php if(!empty($this->dataasset)){
    $i=0;
  //echo '<pre>';
   
  //ar_dump($this->dataasset);die;
          foreach($this->dataasset as $key => $val){
          $balance = "balanceload('" . (string)$val['N_SOURCE_ACCOUNT'] . "')";
          $button_action = '<a href="javascript:;" title="refresh" id="refresh' . $val['N_SOURCE_ACCOUNT'] . '"  onclick="'.$balance.'" ><i class="fa fa-sync"></i></a>';
    
     
      $hasilmod = $i % 2;             
                 if($hasilmod == 0){
                  $rate = '2.0';
                 }else{
                  $rate = '2.0';
                 }
         $i++;
          ?>
            <tr> 
            <td><?php echo $val['N_SOURCE_ACCOUNT']; ?></td>
            <td><?php echo $val['ACCT_NAME']; ?></td>
            <td><?php echo $val['CUST_CIF']; ?></td>
            <td><?php echo $val['ACCT_DESC']; ?></td>
            <td><?php echo $rate.'%'; ?></td>
            
            <td style="<?php echo $hide; ?>"><?php echo 'IDR'; ?></td>
            
            <td style="text-align:right;width:15%;<?php echo $hide; ?>"><span id="spalias<?php echo $val['N_SOURCE_ACCOUNT']; ?>"><?php echo Application_Helper_General::displayMoney($val['BALANCE']); ?></span>&nbsp;<?php echo $button_action; ?>&nbsp;&nbsp;<img src="/images/logo/35.gif" id="<?php echo 'load' . $val['N_SOURCE_ACCOUNT']; ?>" style="width: 13px;display:none"></td>
            </tr>
          <?php
          }
        
        } ?>
              
              
            </table>
             
      </div>

      <div class="portlet-body form col-md-12">
         
           <table width="100%" class="accordionDiv2">
              <tr>
                <td width="20%"><h5 class="textWhite pl-3"><?php echo $this->language->_('Liabilities'); ?></h5></td>
                <td id="idrliabilities" style="<?php echo $hide; ?>">
                 <h5 class="textWhite"><?php echo 'IDR '.Application_Helper_General::displayMoney($this->totallia); ?></h5>
                </td>
                <td align="right">
                  <i class="iconCircle fas fa-chevron-down pt-2" onclick="makerLimitShow2()" id="makerLimitBtnShow2"></i>
                  <i class="iconCircle fas fa-chevron-up pt-2" onclick="makerLimitHide2()" id="makerLimitBtnHide2"></i>
                </td>
              </tr>
            </table>
          
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-sm" id="divMakerLimit2">
             
            <tr class="tdform-sub"> 
                <th class="newhead">Account Number</th>
                <th class="newhead">Account Name</th>
                <th class="newhead">CIF</th>
                <th class="newhead">Product Name</th>
                <th class="newhead">%</th>
                <th class="newhead" style="<?php echo $hide; ?>" colspan="2">Balance</th>
              </tr>
        <?php if(!empty($this->dataliabi)){
     $rate = '8.0';
          foreach($this->dataliabi as $key => $val){
           $button_action = '<a href="javascript:;" title="refresh" id="refresh' . $val['N_SOURCE_ACCOUNT'] . '"  onclick="balanceload("' . $val['N_SOURCE_ACCOUNT'] . '")" ><i class="fa fa-sync"></i></a>';
          ?>
            <tr> 
            <td><?php echo $val['N_SOURCE_ACCOUNT']; ?></td>
            <td><?php echo $val['ACCT_NAME']; ?></td>
            <td><?php echo $val['CUST_CIF']; ?></td>
            <td><?php echo $val['ACCT_DESC']; ?></td>
            <td><?php echo $rate.'%'; ?></td>
            
            <td style="<?php echo $hide; ?>"><?php echo 'IDR'; ?></td>
            
            <td style="text-align:right;width:15%;<?php echo $hide; ?>"><span id="spalias<?php echo $val['N_SOURCE_ACCOUNT']; ?>"><?php echo Application_Helper_General::displayMoney($val['BALANCE']); ?></span>&nbsp;<?php echo $button_action; ?>&nbsp;&nbsp;<img src="/images/logo/35.gif" id="<?php echo 'load' . $val['N_SOURCE_ACCOUNT']; ?>" style="width: 13px;display:none"></td>
            </tr>
          <?php
          }
        
        } ?>
              
            </table>
              
      </div>
      <div class="portlet-body form col-md-12">
         
           <table width="100%" class="accordionDiv3">
              <tr>
                <td><h5 class="pl-3"><?php echo $this->language->_('Underlying Document'); ?></h5></td>
                <td id="idrUnderlying">
                  <!-- <h5 class="textWhite"><?php echo $this->language->_('(IDR 1,700,000,000)'); ?></h5> -->
                </td>
                <td align="right">
                  <i class="iconCircle fas fa-chevron-down pt-2" onclick="makerLimitShow3()" id="makerLimitBtnShow3"></i>
                  <i class="iconCircle fas fa-chevron-up pt-2" onclick="makerLimitHide3()" id="makerLimitBtnHide3"></i>
                </td>
              </tr>
            </table>
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-sm" id="divMakerLimit3">
             
                  <tr class="tdform-sub"> 
                    <th class="newhead">Doc Reff#</th>
                    <th class="newhead">Description</th>
                    <th class="newhead">File Type</th>
                    <th class="newhead">Document Upload Date</th>
                    
                  </tr>
        <?php if(!empty($this->dataud)){
            foreach($this->dataud as $key => $val){
            
              $strArray = explode('.',$val['FILE_NAME']);
              $lastElement = end($strArray);
              //var_dump($this->displayDateTimeFormat);
              //var_dump($this->defaultDateFormat);
            ?>
              <tr> 
                <td><a href="#"><?php echo $val['DOCUMENT_NUMBER']; ?></a></td>
                <td><?php echo $val['FILE_NAME']; ?></td>
                <td><?php echo $lastElement; ?></td>
                <td><?php echo Application_Helper_General::convertDate($val['FILE_UPLOADED_TIME'],$this->displayDateTimeFormat,$this->defaultDateFormat); ?></td>
                </tr>
            <?php
            }
        } ?>
                  
                  
            </table>
              
      </div>
      <div class="portlet-body form col-md-12">
         
           <table width="100%" class="accordionDiv3">
              <tr>
                <td><h5 class="pl-3"><?php echo $this->language->_('Update Information'); ?></h5></td>
                <td id="idrUnderlying">
                  
                </td>
                <td align="right">
                  <i class="iconCircle fas fa-chevron-down pt-2" onclick="makerLimitShow4()" id="makerLimitBtnShow4"></i>
                  <i class="iconCircle fas fa-chevron-up pt-2" onclick="makerLimitHide4()" id="makerLimitBtnHide4"></i>
                </td>
              </tr>
            </table>
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-sm" id="divMakerLimit4">
            
                  <tr> 
                    <td>Last Suggested</td>
                    <td><?php echo $this->suggestby.' ('.$this->suggested.')'; ?></td>
                  </tr>
                  <tr> 
                    <td>Last Approved</td>
                    <td><?php echo $this->approvedby.' ('.$this->approve.')'; ?></td>
                  </tr>
                  
            </table>
             
      </div>
    <div class="col-md-12" align="center">
      <br>
    <br> 
  </div>
      <div class="col-md-12" align="center">
        <input class="btnwhite hov" value="<?php echo $this->language->_('Back')?>" onclick="location.href='/nationalpoolinggroup/'" type="button">&nbsp;
        <input type="button" name="delete" id="delete" value="Delete" style="<?php echo $hide; ?>" onclick="location.href='/nationalpoolinggroup/delete/index/ref/<?php echo $this->id; ?>'" class="btnred hov" >
      </div>
</div>


 <!-- Modal dialog_balance_one -->
  <div class="modal fade" id="dialog_balance_one" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title textBlack"><?php echo $this->language->_('Warning') ?></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label class="textBlack"><?= $this->language->_('You will be charged for this process. Do you want to continue ?') ?></label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btnwhite hov" style="background:white; color:black;" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
          <button type="button" class="btngreen hov" id="btn_balance_one" data-dismiss="modal"><?php echo $this->language->_('Proceed') ?></button>
        </div>
      </div>
    </div>
  </div>




<script>

  function chartrefresh(){
    
    $.ajax({
      url: "<?= $this->url(array('module' => 'nationalpoolinggroup', 'controller' => 'index', 'action' => 'refreshchart'), null, true) ?>", 
      type: 'GET',
      dataType: "html",

      success: function(datachart) {
      
      //var arr = [datachart];
      //var myJSON = JSON.stringify(arr);
    var result = datachart.split(",");
    $('#chartContainer').html('');
   // var datachartnew  = JSON.parse(datachart);
      CanvasJS.addColorSet("networthColor",
                 [//colorSet Array
                 "#6495ed",
                 "#e03c31",
                 "#2E8B57",
                 "#3CB371",
                 "#90EE90"
                 ]);
        var chart = new CanvasJS.Chart("chartContainer", {
        colorSet: "networthColor",
        exportEnabled: true,
        animationEnabled: true,
      //  title:{
      //    text: "State Operating Funds"
        //},
        legend:{
        cursor: "pointer",
        itemclick: explodePie
        },
        data: [{
        type: "doughnut",
        showInLegend: true,
        //indexLabelPlacement: "inside",
        //indexLabelFontColor: "white",
        toolTipContent: " <strong>{y}</strong>",
        //indexLabel: "{name} - {y}%",
        indexLabel: "{y}",
          dataPoints: [
          { y: result[0], name: "Assets" },
          { y: result[1], name: "Liabilities" },

          ]
        }]
        });
        chart.render();
  
      },
      error: function(xhr, ajaxOptions, thrownError) {
        console.log(xhr);
        console.log(thrownError);
        // alert("Failed to get where column list, please try again");
      }
    });
    
    
    
    
  }

 function balanceload(acct) {
 
   // $('#dialog_balance_one').modal('show');
  balanceload_process(acct);
   // var params = "'" + acct + "','" + bank + "','" + key + "'";
   // $("#btn_balance_one").attr('onclick', 'balanceload_process(' + acct + ')');

  }
  
  
  function balanceload_process(acct) {
    $("#load" + acct).show();
    $("#refresh" + acct).hide();
    var ncolselect = "#spalias" +  acct;
  var cust = $('#custid').val();
  var ref = $('#ref').val();
  
 //   var input_select = "#alias" + key + acct;
    $.ajax({
      url: "<?= $this->url(array('module' => 'nationalpoolinggroup', 'controller' => 'detail', 'action' => 'balanceupdate'), null, true) ?>",
      type: 'GET',
      dataType: "html",
      data: {
        id: acct,
        cust: cust,
    ref: ref
      },
      success: function(data) {
      
        if (data == null || data == '' ) {
        //  $('#pdfbutton').prop("disabled",true);
  //    $('#notiftop').show();
  //  setTimeout(notiftop(), 5000);
      //    $("#myModalNotification").modal();
        }
    
          var number_format = data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
          $(ncolselect).text(number_format );
      $("#load" + acct).hide();
    $("#refresh" + acct).show();
       //   $(input_select).val(data);
        
      },
      error: function(xhr, ajaxOptions, thrownError) {
        console.info(thrownError);
        $("#load" + acct).hide();
        $("#refresh" + acct).show();
        alert("Failed to get where column list, please try again");
      }
    });
  
  $.ajax({
      url: "<?= $this->url(array('module' => 'nationalpoolinggroup', 'controller' => 'detail', 'action' => 'lastupdated'), null, true) ?>", 
      type: 'GET',
      dataType: "html",

      success: function(data) {
      //  var result = data.split(",");
    //console.log(result);
    
       
          $('#lastupdate').text(data);
     

        
        // console.log(result[1]);
        // console.log(result[0]);
      },
      error: function(xhr, ajaxOptions, thrownError) {
        console.log(xhr);
        console.log(thrownError);
        // alert("Failed to get where column list, please try again");
      }
    });
  
  chartrefresh(); 
  
  } 
  

window.onload = function() {
  CanvasJS.addColorSet("networthColor",
                 [//colorSet Array
                 "#6495ed",
                 "#e03c31",
                 "#2E8B57",
                 "#3CB371",
                 "#90EE90"
                 ]);
  var chart = new CanvasJS.Chart("chartContainer", {
    colorSet: "networthColor",
    exportEnabled: true,
  animationEnabled: true,
//  title:{
//    text: "State Operating Funds"
  //},
  legend:{
    cursor: "pointer",
    itemclick: explodePie
  },
  data: [{
    type: "doughnut",
    showInLegend: true,
    //indexLabelPlacement: "inside",
    //indexLabelFontColor: "white",
    toolTipContent: " <strong>{y}</strong>",
    //indexLabel: "{name} - {y}%",
    indexLabel: "{y}",
      dataPoints: [
        { y: <?php echo $this->totalasset ?>, name: "Assets" },
        { y: <?php echo $this->totallia ?>, name: "Liabilities" },

      ]
    }]
  });
  chart.render();
}
function assets()
  {
    CanvasJS.addColorSet("assetsColor",
                   [//colorSet Array
                  "#00008b",
                   "#999292",
                   "#fd7e14",
                   "#007bff",
                   "#2e8b57",
                   "#dc3545",
                   "#90EE90"
                   ]);
    $('#networth1').hide();
    $('#networth2').hide();
    $('#liabilities1').hide();
    $('#liabilities2').hide();
    $('#assets1').show();
    $('#assets2').show();
    $('#btnnetworth').removeClass('aktif');
    $('#btnassets').addClass('aktif');
    $('#btnliabilities').removeClass('aktif');
    var chart1 = new CanvasJS.Chart("assetsChart", {
      colorSet: "assetsColor",
      animationEnabled: true,
     // title:{
      //  text: "ASSETS (IN IDR)"
      //},
     exportEnabled: true,
    animationEnabled: true,
    //,
    legend:{
      cursor: "pointer",
      itemclick: explodePie
    },
    data: [{
      type: "doughnut",
      showInLegend: true,
      //indexLabelPlacement: "inside",
    //indexLabelFontColor: "white",
      
      toolTipContent: "<strong>{y}%</strong>",
    //  indexLabel: "{name} - {y}%",
    indexLabel: "{y}%",
        dataPoints: [
            { y: 38, name: "MANDIRI" },
      { y: 4, name: "JP MORGAN CHASE BANK" },
          { y: 19, name: "BNI" },
      
      { y: 15, name: "BCA" },
      { y: 11, name: "PERMATA BANK" },
      { y: 7, name: "SINARMAS" },
      
      { y: 6, name: "CITI" },
        ]
      }]
    });
    chart1.render();
  }
  function networth()
  {
    CanvasJS.addColorSet("networthColor",
                   [//colorSet Array
                   "#6495ed",
                   "#e03c31",
                   "#2E8B57",
                   "#3CB371",
                   "#90EE90"
                   ]);
    $('#networth1').show();
    $('#networth2').show();
    $('#liabilities1').hide();
    $('#liabilities2').hide();
    $('#assets1').hide();
    $('#assets2').hide();
    $('#btnnetworth').addClass('aktif');
    $('#btnliabilities').removeClass('aktif');
    $('#btnassets').removeClass('aktif');
    var chart = new CanvasJS.Chart("chartContainer", {
      colorSet: "networthColor",
     exportEnabled: true,
  animationEnabled: true,
  indexLabelPlacement: "inside",
    indexLabelFontColor: "white",
  
  legend:{
    cursor: "pointer",
    itemclick: explodePie
  },
  data: [{
    type: "doughnut",
    showInLegend: true,
    toolTipContent: " <strong>{y}%</strong>",
    indexLabel: "{y}%",
        dataPoints: [
          { y: 98, name: "ASSET" },
        { y: 2, name: "LOAN" },

        ]
      }]
    });
    chart.render();
  }
  function liabilities()
  {
    CanvasJS.addColorSet("liabilitiesColor",
                   [//colorSet Array
                   "#c46628",
                   "#ee7d2f",
                   "#f3b9a5",
                   "#3CB371",
                   "#90EE90"
                   ]);
    $('#networth1').hide();
    $('#networth2').hide();
    $('#liabilities1').show();
    $('#liabilities2').show();
    $('#assets1').hide();
    $('#assets2').hide();
    $('#btnnetworth').removeClass('aktif');
    $('#btnliabilities').addClass('aktif');
    $('#btnassets').removeClass('aktif');
    var chart2 = new CanvasJS.Chart("liabilitiesChart", {
      colorSet: "liabilitiesColor",
     exportEnabled: true,
  animationEnabled: true,
  //title:{
//    text: "State Operating Funds"
//  },
  legend:{
    cursor: "pointer",
    itemclick: explodePie
  },
  data: [{
    type: "doughnut",
    showInLegend: true,
    //indexLabelPlacement: "inside",
    //indexLabelFontColor: "white",
    toolTipContent: "<strong>{y}%</strong>",
    //indexLabel: "{name} - {y}%",
    indexLabel: "{y}%",
        dataPoints: [
          { y: 68, name: "BANK MANDIRI" },
          { y: 19, name: "BANK BRI" },
      { y: 13, name: "PERMATA BANK" },
        ]
      }]
    });
    chart2.render();
  }

  function makerLimitShow() {
    $('#divMakerLimit').show();
      $('#makerLimitBtnHide').attr('Onclick', 'makerLimitHide()');
      $('#makerLimitBtnShow').hide();
      $('#makerLimitBtnHide').show();
      $('#idrasset').show();
  }

  function makerLimitHide() {
      $('#divMakerLimit').hide();
      $('#makerLimitBtnShow').attr('Onclick', 'makerLimitShow()');
      $('#makerLimitBtnHide').hide();
      $('#makerLimitBtnShow').show();
      // $('#idrasset').hide();
  }

  function makerLimitShow2() {
    $('#divMakerLimit2').show();
      $('#makerLimitBtnHide2').attr('Onclick', 'makerLimitHide2()');
      $('#makerLimitBtnShow2').hide();
      $('#makerLimitBtnHide2').show();
      $('#idrliabilities').show();

  }

  function makerLimitHide2() {
      $('#divMakerLimit2').hide();
      $('#makerLimitBtnShow2').attr('Onclick', 'makerLimitShow2()');
      $('#makerLimitBtnHide2').hide();
      $('#makerLimitBtnShow2').show();
      // $('#idrliabilities').hide();
  }

  function makerLimitShow3() {
    $('#divMakerLimit3').show();
      $('#makerLimitBtnHide3').attr('Onclick', 'makerLimitHide3()');
      $('#makerLimitBtnShow3').hide();
      $('#makerLimitBtnHide3').show();
  }

  function makerLimitHide3() {
      $('#divMakerLimit3').hide();
      $('#makerLimitBtnShow3').attr('Onclick', 'makerLimitShow3()');
      $('#makerLimitBtnHide3').hide();
      $('#makerLimitBtnShow3').show();
  }

  function makerLimitShow4() {
    $('#divMakerLimit4').show();
      $('#makerLimitBtnHide4').attr('Onclick', 'makerLimitHide4()');
      $('#makerLimitBtnShow4').hide();
      $('#makerLimitBtnHide4').show();
  }

  function makerLimitHide4() {
      $('#divMakerLimit4').hide();
      $('#makerLimitBtnShow4').attr('Onclick', 'makerLimitShow4()');
      $('#makerLimitBtnHide4').hide();
      $('#makerLimitBtnShow4').show();
  }

  $(document).ready(function() {

    $('#networth2').hide();
    $('#makerLimitBtnHide').hide();
    $('#makerLimitBtnHide2').hide();
    $('#makerLimitBtnHide3').hide();
    $('#makerLimitBtnHide4').hide();
    $('#divMakerLimit').hide();
    $('#divMakerLimit2').hide();
    $('#divMakerLimit3').hide();
    $('#divMakerLimit4').hide();
      
  });
  </script>