<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?= $this->language->_('Home'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?= $this->language->_('Customer Management'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?= $this->language->_('Special Obligee'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <?= $this->language->_('Detail'); ?>
                </li>
            </ul>
        </div>
    </div>
</div>

<style>
    table {
        font-size: 14px !important;
    }

    button:disabled {
        cursor: not-allowed;
    }

    .headercolor {
        color: #fff;
        background-color: #0b549f !important;
    }

    .btn-sm {
        padding: .10rem .3rem !important;
    }

    .btn-light {
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%);
    }
</style>

<h5><?= $this->language->_('Special Obligee Detail'); ?></h5>
<div class="row content-box mb-3">
    <div class="col-md-12">
        <?php if ($this->is_update) : ?>
            <div class="alert alert-danger">
                <?= $this->language->_('No changes allowed for this record while awaiting approval for previous change'); ?>
            </div>
        <?php endif; ?>
        <table class="table-hover my-3" cellpadding="5" style="width:100%">
            <tr>
                <td width="200"><?= $this->language->_('Company'); ?></td>
                <td width="10">:</td>
                <td><b><?= strtoupper($this->data['CUST_NAME']) . ' (' . $this->data['CUST_ID'] . ')'; ?></b></td>
            </tr>
            <tr>
                <td><?= $this->language->_('Fee Sharing Account'); ?></td>
                <td>:</td>
                <td><?= $this->debitedAcctArr[$this->data['SHARING_ACCT']] ?: '-'; ?></td>
            </tr>
            <tr>
                <td><?= $this->language->_('Underlying Document'); ?></td>
                <td>:</td>
                <td>
                    <?= $this->data['PKS_NUMBER'] ?: '-'; ?>
                    <?= $this->data['PKS_FILE'] ? '<a href="' . $this->currentUrl . '/download/1\'" class="btn btn-sm btn-secondary ml-3" title="Download"><i class="fas fa-download"></i></a>' : ''; ?>
                </td>
            </tr>
            <tr>
                <td><?= $this->language->_('Agreement Start Date'); ?></td>
                <td>:</td>
                <td><?= $this->data['PKS_START_DATE'] ? date('d M Y', strtotime($this->data['PKS_START_DATE'])) : '-'; ?>
                </td>
            </tr>
            <tr>
                <td><?= $this->language->_('Agreement Expired Date'); ?></td>
                <td>:</td>
                <td><?= $this->data['PKS_EXP_DATE'] ? date('d M Y', strtotime($this->data['PKS_EXP_DATE'])) : '-'; ?>
                </td>
            </tr>
            <tr>
                <td><?= $this->language->_('Fee Sharing'); ?></td>
                <td>:</td>
                <td><?= $this->data['SHARING_FEE'] ? $this->data['SHARING_FEE'] . ' % (from bank provision fee paid)' : '-'; ?>
                </td>
            </tr>
            <tr>
                <td><?= $this->language->_('Agreement Status'); ?></td>
                <td>:</td>
                <td><?= $this->statusArr[$this->data['STATUS']] ?: '-'; ?></td>
            </tr>
            <?php if ($this->data['STATUS'] == 2) : ?>
                <tr>
                    <td><?= $this->language->_('Reason'); ?></td>
                    <td>:</td>
                    <td><?= $this->data['ENDED_REASON'] . '<a href="' . $this->currentUrl . '/downloadTerminate/1\'" class="btn btn-sm btn-secondary ml-3" title="Download"><i class="fas fa-download"></i></a>'; ?>
                    </td>
                </tr>
            <?php endif; ?>
            <tr>
                <td><?= $this->language->_('Last Suggested'); ?></td>
                <td>:</td>
                <td><?= $this->data['LAST_SUGGESTED'] ? date('d M Y', strtotime($this->data['LAST_SUGGESTED'])) . ' (' . $this->data['LAST_SUGGESTEDBY'] . ')' : '-'; ?>
                </td>
            </tr>
            <tr>
                <td><?= $this->language->_('Last Reviewed'); ?></td>
                <td>:</td>
                <td><?= $this->data['LAST_REVIEWED'] ? date('d M Y', strtotime($this->data['LAST_REVIEWED'])) . ' (' . $this->data['LAST_REVIEWEDBY'] . ')' : '-'; ?>
                </td>
            </tr>
            <tr>
                <td><?= $this->language->_('Last Approved'); ?></td>
                <td>:</td>
                <td><?= $this->data['LAST_APPROVED'] ? date('d M Y', strtotime($this->data['LAST_APPROVED'])) . ' (' . $this->data['LAST_APPROVEDBY'] . ')' : '-'; ?>
                </td>
            </tr>
        </table>
    </div>
</div>
<center>
    <?php
    $id = $this->params['id'];
    echo $this->formButton('back', $this->language->_('BACK'), ['class' => 'btnwhite hov mr-2', 'onclick' => 'window.location.href="/specialobligee"']);
    if ($this->hasPrivilege('BSBO')) {
        if ($this->data['STATUS'] == 1) {
            $attr_terminate = ($this->is_update) ? ['class' => 'btnred hov mr-2', 'disabled' => true] : ['class' => 'btnred hov mr-2', 'onclick' => 'modal_terminate()'];
            echo $this->formButton('terminate', $this->language->_('TERMINATE'), $attr_terminate);
        }
        $attr_update = ($this->is_update) ? ['class' => 'btngreen hov', 'disabled' => true] : ['class' => 'btngreen hov', 'onclick' => "window.location.href='/specialobligee/index/update/id/$id'"];
        echo $this->formButton('update', $this->language->_('UPDATE'), $attr_update);
    }
    ?>
</center>

<div class="modal fade" id="modal_terminate" tabindex="-1" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="form_terminate" action="" method="post" enctype="multipart/form-data">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title"><?= $this->language->_('Agreement Termination'); ?></h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="underlying_doc"><?= $this->language->_('Underlying Document'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <input type="file" name="underlying_doc" id="underlying_doc" class="form-control input-file">
                        <small id="underlying_doc_err" class="text-danger"></small>
                    </div>
                    <div class="form-group">
                        <label for="reason"><?= $this->language->_('Reason'); ?>&nbsp;<small class="text-danger">*</small></label>
                        <?= $this->formTextarea('reason', null, ['class' => 'form-control', 'rows' => '5']); ?>
                        <small id="reason_err" class="text-danger"></small>
                    </div>
                </div>
                <div class="modal-footer justify-content-center border-0">
                    <center>
                        <p class="text-danger"><?= $this->language->_('Are you sure to terminate this agreement?'); ?></p>
                        <?= $this->formButton('close', $this->language->_('Close'), ['class' => 'btnwhite hov', 'data-dismiss' => 'modal']); ?>
                        <?= $this->formSubmit('submit', $this->language->_('Submit'), ['class' => 'btngreen hov']); ?>
                    </center>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#form_terminate').submit(function(event) {
            var underlying_doc = $('#underlying_doc').val();
            if (underlying_doc == '') {
                $('#underlying_doc_err').text("<?= $this->language->_('Underlying Document cannot be empty'); ?>");
                event.preventDefault();
            } else {
                $('#underlying_doc_err').text('');
            }

            const reason = $('#reason').val();
            if (reason == '') {
                $('#reason_err').text("<?= $this->language->_('Underlying Document cannot be empty'); ?>");
                event.preventDefault();
            } else {
                $('#reason_err').text('');
            }
        });
    });

    function modal_terminate() {
        $('#modal_terminate').modal('show');
    }
</script>