<link href="/css/select2_353.min.css" rel="stylesheet" />
<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Customer Management'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Special Obligee'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Onboarding'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	table td {
		vertical-align: top !important;
	}

	button.is-invalid {
		border-color: #dc3545 !important;
	}

	input[type="submit"]:disabled {
		cursor: not-allowed;
		background-color: #8fc4fb;
	}

	.input-medium {
		width: 320px !important;
	}

	.input-date {
		width: 120px !important;
	}

	.input-file {
		width: 100% !important;
		padding-left: 0;
		padding-right: 0;
	}

	.gj-datepicker {
		width: 160px !important;
	}

	.input-group-prepend,
	.input-group-append {
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%) !important;
	}

	.headercolor {
		color: #fff;
		background-color: #0b549f !important;
	}

	.btn-sm {
		height: 29px !important;
		padding: .10rem .5rem !important;
		border-color: #ccc !important;
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%) !important;
	}

	.btn-light {
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%);
	}

	.select2-container {
		padding: 0 !important;
	}

	.select2-container .select2-choice.is-invalid {
		border: 1px solid red !important;
	}
</style>


<?php if ($this->err) { ?>
	<div class="errmsg">
		<?php
		echo $this->errmsg;
		?>
	</div><br />
<?php
}
?>

<h5><?= $this->language->_('Special Obligee Onboarding'); ?></h5>

<form action="" method="post" enctype="multipart/form-data">
	<div class="row content-box mb-3">
		<div class="col-md-12">
			<table class="table-hover my-3" cellpadding="5" style="width:100%">
				<tr>
					<td><?= $this->language->_('Company'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<select name="cust_id" id="cust_id" class="form-control select2" onchange="customer(this)" style="width:100%">
							<option value=""></option>
							<?php foreach ($this->custIdArr as $key => $value) : ?>
								<option value="<?= $key; ?>" <?= ($this->cust_id == $key) ? 'selected' : ''; ?>><?= strtoupper($value) . ' (' . $key . ')'; ?></option>
							<?php endforeach; ?>
						</select>
						<small id="cust_id_err" class="text-danger"><?= $this->errDesc['cust_id']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Fee Sharing Account'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<select name="debited_acct" id="debited_acct" class="form-control">
							<option value="">-- <?= strtoupper($this->language->_('Select Fee Account')); ?> --</option>
						</select>
						<small class="text-danger"><?= $this->errDesc['debited_acct']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Underlying Document'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<?= $this->formText('pks_number', $this->pks_number, ['class' => 'form-control']); ?>
						<small class="text-danger"><?= $this->errDesc['pks_number']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Upload Document'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<?php if ($this->signUpload) : ?>
							<div id="container-upload-ulang">
								<?= $this->fileName; ?>
								<button type="button" class="ml-3" id="uploadUlang">Upload Ulang</button>
								<input type="hidden" name="signUpload" value="1">
								<input type="hidden" name="fileNameUpload" value="<?= $this->fileName ?>">
							</div>
						<?php endif ?>
						<input type="file" name="pks_file" id="pks_file" class="form-control input-file <?= $this->signUpload ? 'd-none' : ''; ?>">
						<small class="text-danger"><?= $this->errDesc['pks_file']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Agreement Start Date'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<?= $this->formText('pks_start_date', $this->pks_start_date, ['class' => 'form-control input-date', 'readonly' => true]); ?>
						<small class="text-danger"><?= $this->errDesc['pks_start_date']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Agreement End Date'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<?= $this->formText('pks_exp_date', $this->pks_exp_date, ['class' => 'form-control input-date', 'readonly' => true]); ?>
						<small class="text-danger"><?= $this->errDesc['pks_exp_date']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Fee Sharing'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<div class="d-flex">
							<?= $this->formText('sharing_fee', $this->sharing_fee, ['class' => 'form-control', 'style' => 'width:160px', 'required' => true, 'onkeypress' => "return forceCurrencyOCBC(event)"]); ?>
							<span class="ml-3"><?= $this->language->_('% (from bank provision fee paid)'); ?></span>
						</div>
						<small class="text-danger"><?= $this->errDesc['sharing_fee']; ?></small>
					</td>
				</tr>


			</table>
		</div>
	</div>
	<center>
		<?= $this->formButton('back', $this->language->_('BACK'), ['class' => 'btnwhite hov mr-2', 'onclick' => 'window.location.href="/specialobligee"']); ?>
		<?= $this->formSubmit('submit', $this->language->_('SUBMIT'), ['class' => 'btngreen hov']); ?>
	</center>
</form>

<script src="/js/select2_353.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('.select2').select2({
			placeholder: 'Search here',
			allowClear: true,
			// matcher: function(term, text) {
			// 	if (term === '') return null;
			// 	return text.toUpperCase().indexOf(term.toUpperCase()) == 0;
			// }
		});
		$('.select2-search-choice-close').remove();

		document.querySelector('#pks_file').addEventListener('change', (event) => {
			const getFile = event.target;
			if (getFile.files[0].size > 10000000) {
				alert('File tidak boleh lebih dari 10 MB');
				getFile.value = '';
				return;
			}
		})

		document.querySelector('#sharing_fee').addEventListener('keyup', (event) => {
			let total = event.target;

			if (total.value > 100) {
				total.value = 100;
				alert('Tidak boleh lebih dari 100');
			}
		});

		document.querySelector('#sharing_fee').addEventListener('blur', (event) => {
			let total = event.target;

			total.value = new Intl.NumberFormat('en-IN', {
				minimumFractionDigits: 2,
				maximumFractionDigits: 2,
			}).format(total.value);
		});

		document.querySelector('#uploadUlang')?.addEventListener('click', () => {
			document.querySelector('#container-upload-ulang').remove();
			document.querySelector('#pks_file').classList.remove('d-none');
		});

		$('#pks_start_date').datepicker({
			// minDate: function() {
			// 	var date = new Date();
			// 	date.setYear(date.getYear() + 1);
			// 	return new Date(date.getFullYear() - 1, date.getMonth(), date.getDate());
			// },
			minDate: function() {
				var date = new Date();
				return new Date(date.getFullYear() - 1, date.getMonth(), date.getDate());
			},
			format: 'dd-mm-yyyy',
			uiLibrary: 'bootstrap4'
		});

		$('#pks_exp_date').datepicker({
			// minDate: function() {
			// 	var val = document.getElementById('updateStart').value;
			// 	var dateend = new Date(val);
			// 	dateend.setDate(dateend.getDate());
			// 	return new Date(dateend.getFullYear(), dateend.getMonth(), dateend.getDate());
			// },
			minDate: function() {
				let getStartDate = document.getElementById('pks_start_date').value;
				const dateend = new Date(getStartDate);
				return new Date(dateend.getFullYear(), dateend.getMonth(), dateend.getDate());
			},
			format: 'dd-mm-yyyy',
			uiLibrary: 'bootstrap4'
		});

		var cust_id = "<?= $this->cust_id; ?>";
		customer(null, cust_id);

	});

	function customer(obj = null, cust = null) {
		var debited_acct = "<?= $this->debited_acct; ?>";
		if (cust === null) {
			var cust_id = $(obj).val();
		} else {
			var cust_id = cust;
		}
		$.ajax({
			url: "<?= $this->url(array('action' => 'checkcustomer')); ?>",
			method: "GET",
			dataType: "JSON",
			data: {
				cust_id: cust_id
			},
			success: function(response) {
				if (response.is_onboarding === true) {
					$('#cust_id').prev('.select2-container').children('.select2-choice').addClass('is-invalid');
					$('#cust_id_err').text("<?= $this->language->_('No changes allowed for this record while awaiting review and approval'); ?>");
					$('#submit').attr('disabled', true);
				} else {
					$('#cust_id').prev('.select2-container').children('.select2-choice').removeClass('is-invalid');
					$('#cust_id_err').text('');
					$('#submit').attr('disabled', false);
				}

				var html = '<option value="">-- SELECT FEE ACCOUNT --</option>';
				var i;
				for (i = 0; i < response.debited_acct.length; i++) {
					var acct_no = response.debited_acct[i].ACCT_NO;
					var acct_name = response.debited_acct[i].ACCT_NO + ' (' + response.debited_acct[i].CCY_ID + ')' + ' / ' + response.debited_acct[i].ACCT_NAME + ' / ' + response.debited_acct[i].ACCT_DESC;
					if (acct_no == debited_acct) {
						var selected = 'selected';
					} else {
						var selected = '';
					}
					if (response.debited_acct[i].ACCT_DESC.toLowerCase().includes('giro')) {
						html += '<option ' + selected + ' value="' + acct_no + '">' + acct_name + '</option>';
					}
				}

				$('#debited_acct').html(html);
			}
		});
	}
</script>