<style>
label{
    font-size: 1.2em;
}

.col-form-label{
        font-size: 1.2em;
}

.textGray {
    color: #8e8e8e;
}

.form-group {
    margin-bottom: 0em;
}

.iconCircle{
    margin-right: 8px;
    margin-top: 0px;
    background-color: #ffffff;
	color: black;
  }
.padding-header-cust{
  padding-left:2%;
  background-color:#1d3f6e;
  height:35px;
  border-radius: 8px;
  color:white;
  padding-top: 2px;
  
}

.newhead{
    color: gray;
    font-style: italic;
    font-weight: 500;
  }

</style>

<div class="row">
   <div class="col-md-12">
     <div class="page-bar">
         <ul class="page-breadcrumb">
                        <li>
                 <span><?=$this->language->_('Auto Debit')?></span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                    <span class="inhouse"><?=$this->language->_('Account List')?></span>
                                    <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                    <span class="inhouse"><?=$this->language->_('Detail')?></span>
                                    <!-- <i class="fa fa-angle-right pl-1 pr-1"></i> -->
             </li>


         </ul>
     </div>
   </div>
</div>

<br>
<div class="row justify-content-center">
    <div class="col-md-11">

        <div class="row">
            <div class="col-md-6">
                <h5><?=$this->language->_('Auto Debit Detail')?></h5>
            </div>
            <!-- <div class="col-md-6" style="float:right">
                <button class="btngrad hov" style="font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important; width: 100px !important;width: 100px !important;background-image:url(/images/print-light.png);background-repeat: no-repeat;background-position: 10px 3px;float:right;">Print</button>
            </div> -->
        </div>
                <form action="" method="post" enctype="multipart/form-data">
        <div class="row pl-3">
            <div class="col-md-3">
                <label class="textGray">Credited to Company</label>
            </div>
            <div class="col-md-9">
                <label><?= $this->COMP_NAME ?> (<?= $this->COMP_ID ?>)</label>
            </div>
        </div>
        <div class="row pl-3">
            <div class="col-md-3">
                <label class="textGray">Client Ref#</label>
            </div>
            <div class="col-md-9">
                <label><?= $this->CLIENT_REFF ?></label>
            </div>
        </div>
        <div class="row pl-3">
            <div class="col-md-3">
                <label class="textGray">Client Name</label>
            </div>
            <div class="col-md-9">
                <label><?= $this->CLIENT_NAME ?></label>
            </div>
        </div>

        
        <br>
				<div class="row">
					<div class="col-md-12" style="height: auto; position: relative;">
						<div class="padding-header-cust">
								<h5>Debit Account</h5>
						</div>
						<div style="padding-left:2%">
								<div class="form-group row pt-2">
									<div class="col-md-3">
										<label class="textGray">Bank Name</label>
									</div>
									<div class="col-md-9">
										<label><?= $this->DEBIT_BANK ?></label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-3">
										<label class="textGray">Account Number</label>
									</div>
									<div class="col-md-9">
										<label><?= $this->DEBIT_ACCT ?> (<?= $this->DIR_CCY ?>)</label>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-3">
										<label class="textGray">Account Name</label>
									</div>
									<div class="col-md-9">
										<label><?= $this->ACCT_NAME ?></label>
									</div>
								</div>
						</div>
					</div>
				</div>

				<div class="row pb-2">
					<div class="col-md-12" style="height: auto; position: relative;">
						<div class="padding-header-cust">
						<table width="100%">
									<tr>
										<td>
											<h5 style="color:white">Underlying Document</h5>
										</td>
										<td align="right">
											<i class="iconCircle fas fa-chevron-down pt-2" onclick="makerLimitShow()" id="makerLimitBtnShow"></i>
											<i class="iconCircle fas fa-chevron-up pt-2" onclick="makerLimitHide()" id="makerLimitBtnHide"></i>
										</td>
									</tr>
								</table>
						</div>
						<div style="padding-left:2%">
							<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-sm" id="divMakerLimit" >
							
								<tr class="tdform-sub"> 
									<th class="newhead">Doc Reff#</th>
									<th class="newhead">Document Description</th>
									<th class="newhead">Document File Name</th>
									<th class="newhead">Document Upload Date</th>
									
								</tr>
								<?php if(!empty($this->dataud)){
										foreach($this->dataud as $key => $val){
										
											$strArray = explode('.',$val['FILE_NAME']);
											$lastElement = end($strArray);
											//var_dump($this->displayDateTimeFormat);
											//var_dump($this->defaultDateFormat);

											require_once 'Crypt/AESMYSQL.php';
											$AESMYSQL = new Crypt_AESMYSQL();
											$rand = $this->token;
											$encrypted_pwd = $AESMYSQL->encrypt($val['FILE_ID'], $rand);
											
											$encreff = urlencode($encrypted_pwd);
										?>
											<tr> 
												<td><a href ='/directdebit/listdetail/index/FILE_ID/<?php echo $encreff?>/'><?php echo $val['DOCUMENT_NUMBER']; ?></a></td>
												<td><?php echo $val['FILE_NAME']; ?></td>
												<td><?php echo $lastElement; ?></td>
												<td><?php echo Application_Helper_General::convertDate($val['FILE_UPLOADED_TIME'],$this->displayDateTimeFormat,$this->defaultDateFormat); ?></td>
												</tr>
										<?php
										}
								} ?>
							
							
							</table>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12" style="height: auto; position: relative;">
						<div class="padding-header-cust">
								<table width="100%">
									<tr>
										<td>
											<h5 style="color:white">History</h5>
										</td>
										<td align="right">
											<i class="iconCircle fas fa-chevron-down pt-2" onclick="makerLimitShow2()" id="makerLimitBtnShow2"></i>
											<i class="iconCircle fas fa-chevron-up pt-2" onclick="makerLimitHide2()" id="makerLimitBtnHide2"></i>
										</td>
									</tr>
								</table>
						</div>
						<div style="padding-left:2%">
							<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-sm" id="divMakerLimit2">
							
								<tr class="tdform-sub"> 
									<th class="newhead">User</th>
									<th class="newhead">Action</th>
									<th class="newhead">Date Time</th>
									<th class="newhead">Notes</th>
								</tr>
								<?php if(!empty($this->dataHistory)){
									foreach($this->dataHistory as $key => $val){
									?>
										<tr> 
											<td><?php echo $val['USER_LOGIN']; ?></a></td>
											<td><?php echo $val['PS_REASON']; ?></td>
											<td><?php echo Application_Helper_General::convertDate($val['DATE_TIME'],$this->displayDateTimeFormat,$this->defaultDateFormat); ?></td>
											<td><?php echo $NOTES; ?></td>
										</tr>
									<?php
									}
								} ?>							
							
							</table>
						</div>
					</div>
				</div>
				
				<br>
				<br>
				<br>
				<div class="row-md-12">
					<div class= "portlet-body form col-md-12" align="center">
						<label id="notif" style="display:none" class="textGray">No changes allowed as this data is waiting approval!</label>
					</div>
				</div>
				<div class="row-md-12">
						<div class= "portlet-body form col-md-12" align="center">
								<?php
									require_once 'Crypt/AESMYSQL.php';
									$AESMYSQL = new Crypt_AESMYSQL();
									$rand = $this->token;
									$encrypted_pwd = $AESMYSQL->encrypt($this->id, $rand);
									// $dt["payReff"] = urlencode($encrypted_pwd);
									$encreff = urlencode($encrypted_pwd);
								?>
								<button type="button" name="back" id="back" value="back" onclick="location.href='/directdebit/'" class="btnwhite hov">Back</button>
								<button type="button" name="delete" id="delete" value="Delete" class="btnred hov" onclick="location.href='/directdebit/delete/index/numid/<?php echo $encreff; ?>'" >Delete</button> 
								<!-- <button type="button" name="approve" id="approve" value="Approve" class="btngreen hov">Approve</button>  -->
						</div>
				</div>
        

    </div>
</div>

<script>

$(document).ready(function(){
	$('#makerLimitBtnHide').hide();
	$('#makerLimitBtnHide2').hide();
	$('#divMakerLimit').hide();
	$('#divMakerLimit2').hide();

	var status = "<?= $this->DIR_STATUS?>";

	if(status == '2'){
		$('#delete').hide();
	}else if(status == '0'){
		$('#notif').show();
		$('#delete').hide();
	}
});


function makerLimitShow() {
    $('#divMakerLimit').show();
      $('#makerLimitBtnHide').attr('Onclick', 'makerLimitHide()');
      $('#makerLimitBtnShow').hide();
      $('#makerLimitBtnHide').show();
      
  }

	function makerLimitHide() {
      $('#divMakerLimit').hide();
      $('#makerLimitBtnShow').attr('Onclick', 'makerLimitShow()');
      $('#makerLimitBtnHide').hide();
      $('#makerLimitBtnShow').show();
      
  }

function makerLimitShow2() {
    $('#divMakerLimit2').show();
      $('#makerLimitBtnHide2').attr('Onclick', 'makerLimitHide2()');
      $('#makerLimitBtnShow2').hide();
      $('#makerLimitBtnHide2').show();
      
  }

	function makerLimitHide2() {
      $('#divMakerLimit2').hide();
      $('#makerLimitBtnShow2').attr('Onclick', 'makerLimitShow2()');
      $('#makerLimitBtnHide2').hide();
      $('#makerLimitBtnShow2').show();
      
  }

</script>