

<b><?php echo $this->language->_('E-Channel Registration')?> > <?php echo $this->language->_('Request List')?> > <?php echo $this->language->_('Detail')?> > <?php echo $this->language->_('Account Data')?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Account Data')?></div>

<div>
    <div>
    	<?php if($this->error){ ?>
		<div class="alert alert-danger"><?php echo $this->language->_($this->message);?></div><br />
		<?php }?>
		<?php if(!$this->error){?>
		<div>
			<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
				<tr>
	        		<td class="tbl-evencontent" width="35%"><?=$this->language->_('Account CIF')?></td>
	        		<td class="tbl-evencontent" width="75%"><?=$this->acct_cif?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Account Number')?></td>
	        		<td class="tbl-evencontent"><?=$this->acct_no?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Account Name')?></td>
	        		<td class="tbl-evencontent"><?=$this->acct_name?></td>
	        	</tr>
				<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Currency')?></td>
	        		<td class="tbl-evencontent"><?=$this->acct_ccy?></td>
	        	</tr>
	        </table>
	   	</div>
	   	<?php }?>
    </div>
</div>

<div>
	<br/><br/>
	<a href="javascript:void(0);" class="inputbtn" onclick="self.close();" style="text-decoration: none;color: white;"><?=$this->language->_('Close')?></a>
</div>