     <link rel="stylesheet" href="/css/form_builder.css"/>
      

    <!-- CSS Files -->

    <link href="/css/material-bootstrap-wizard.css" rel="stylesheet" />

    <!-- CSS Just for demo purpose, don't include it in your project -->

<link rel="stylesheet" type="text/css" href="/css/dragtable.css" />
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.dragtable.js"></script>

<!-- only for jquery.chili-2.2.js -->
<script src="/js/jquery-migrate-1.1.1.js"></script>
<script type="text/javascript" src="/js/jquery.chili-2.2.js"></script>

      

<script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script src="/js/jquery-ui.min.js"></script>


    
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
 <script src="/js/jquery.bootstrap.js" type="text/javascript"></script>

<script src="/js/material-bootstrap-wizard.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<style type="text/css">
.myWizard{
    width: 100%!important;
}

.form_builder .nav-sidebar { 
    width: 100%;
    padding: 8px 0; 
    border-right: 1px solid #ddd;
}
.form_builder .nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px; 
    -moz-border-radius: 4px 0 0 4px; 
    border-radius: 4px 0 0 4px; 
}
.form_builder .nav-sidebar .active a { 
    cursor: default;
    background-color: #428bca; 
    color: #fff; 
    text-shadow: 1px 1px 1px #666; 
}
.form_builder .nav-sidebar .active a:hover {
    background-color: #428bca;   
}
.form_builder .nav-sidebar .text-overflow a,
.form_builder .nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

/* Right-aligned sidebar */
.form_builder .nav-sidebar.pull-right { 
    border-right: 0; 
    border-left: 1px solid #ddd; 
}
.form_builder .nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0; 
    -moz-border-radius: 0 4px 4px 0; 
    border-radius: 0 4px 4px 0; 
}

.form_builder ul {
    font-size: 18px;
    display: block !important;
}
.form_builder ul li {
    padding: 10px;
    cursor: pointer;
}
.form_builder ul li a {
    text-decoration: none;
    cursor: pointer;
}

.form_builder_field {
    margin: 20px 10px;
    padding: 10px;
    background: #eee;
    width: 92%!important;
}

.form_builder .bal_builder {
    padding: 0 !important;
}

.margin-left-5 {
    margin-left: 5px;
}

.remove_bal_field {
    cursor: pointer;
}

.form-check-input {
    margin-right: 8px;
}

.placeholder {
    width: 100%;
    background-color: #bfb;
    border: 1px dashed #666;
    margin-bottom: 5px;
}
.form_builder_area {
    width:100%;
    min-height:50px;
    position: absolute
}

.mt-radio {
    display: block;
}
.mt-radio p {
    display: inline;
}
.mt-checkbox {
    display: block;
}
.mt-checkbox p {
    display: inline;
}

.add_more_select, .add_more_radio, .add_more_checkbox, .remove_more_select, .remove_more_radio, .remove_more_checkbox {
    cursor: pointer;
}
</style>
<script type="text/javascript">

$(document).ready(function () {
    $('.defaultTable').dragtable();

    var id;
    var data;

    $(".form_bal_textfield").draggable({
        helper: function () {
            id = this.id;
            // data = this.class;
            return getTextFieldHTML(id);
        },
        connectToSortable: ".form_builder_area",
         start: function() {
            id = this.id;
            // data = this.data;
        }
    });
   

    $(".form_builder_area").sortable({
        cursor: 'move',
        placeholder: 'placeholder',
        
        start: function (e, ui) {
            ui.placeholder.height(ui.helper.outerHeight());
        },
        stop: function (ev, ui) {
            if (!ui.item[0].id.length) {
                ui.item[0].id = id;
            }
            // if (!ui.item[0].data.length) {
            //     ui.item[0].data = data;
            // }
            getPreview('',ui.item[0].id);
        }
    });
    $(".form_builder_area").disableSelection();

    
    function getTextFieldHTML(id,data) {
        // var id = ui.draggable.attr("id");
        // alert(id);
        var label = id.split("-");
        // alert(label[0]);
        var field = generateField();
        var html = '<div class="all_div"><div class="row li_row"><div class="col-md-12"><label class="control-label col-md-10">'+label[1]+'</label><button type="button" class="btn btn-primary btn-sm remove_bal_field pull-right" data-field="' + field + '"><i class="fa fa-times"></i></button></div></div></div><div class="row li_row form_output" data-type="text" data-field="' + field + '"><div class="col-md-12"><div class="form-group" style="margin:  0px 0 0 0;!important"><input type="text" name="label[]" class="form-control form_input_label" value="'+label[1]+'" data-field="' + field + '"/><input type="hidden" name="colomn[]" class="form-control form_input_labelhidden" value="'+label[0]+'" data-field="' + field + '"/><input type="hidden" name="type[]" class="form-control form_input_labelhidden" value="'+label[2]+'" data-field="' + field + '"/></div></div></div>';
        return $('<div>').addClass('li_' + field + ' form_builder_field').html(html);
    }
    

   
    $(document).on('click', '.edit_bal_textfield', function () {
        var field = $(this).attr('data-field');
        var el = $('.field_extra_info_' + field);
        el.html('<div class="form-group"><input type="text" name="label_' + field + '" class="form-control" placeholder="Enter Text Field Label"/></div><div class="mt-checkbox-list"><label class="mt-checkbox mt-checkbox-outline"><input name="req_' + field + '" type="checkbox" value="1"> Required<span></span></label></div>');
        getPreview();
    });
    $(document).on('click', '.remove_bal_field', function (e) {
        e.preventDefault();
        var field = $(this).attr('data-field');
        $(this).closest('.li_' + field).hide('400', function () {
            $(this).remove();
            getPreview();
        });
    });
   
    
    $(document).on('keyup', '.form_input_placeholder', function () {
        getPreviewInput();
    });
    $(document).on('keyup', '.form_input_label', function () {
        getPreviewInput();
    });
    $(document).on('keyup', '.form_input_name', function () {
        getPreviewInput();
    });
    function generateField() {
        return Math.floor(Math.random() * (100000 - 1 + 1) + 57);
    }
    function getPreview(plain_html = '',$id= null,$data= null) {
            // alert($data);
        var el = $('.form_builder_area .form_output');
        var html = '';
        var data = '';
        var source = '';
        el.each(function () {
            var data_type = $(this).attr('data-type');
            //var field = $(this).attr('data-field');
            var label = $(this).find('.form_input_label').val();
            var labelhidden = $(this).find('.form_input_labelhidden').val();
            
            var name = $(this).find('.form_input_name').val();
            if (data_type === 'text') {
                var placeholder = $(this).find('.form_input_placeholder').val();
                var checkbox = $(this).find('.form-check-input');
                var required = '';
                if (checkbox.is(':checked')) {
                    required = 'required';
                }
                // var colomn = id.split("-");
                // html += '<th style="min-width: 100px;text-align: center;"><label class="control-label">' + $id + '</label></th>';
                 // html += '<th>' + $id + '</th>';
                 source += '<option value="'+labelhidden+'">'+label+'</option>';
                html += '<th>' + label + '</th>';

                data += '<td>' + label + '</td>';
            }
            
            
        });
        
        if (plain_html === 'html') {
            $('.preview').hide();
            
        } else {
            $('#source2').html(source).show();
            $('#source3').html(source).show();
         // $('.defaultTable').dragtable();
            // alert(html);
            $('.preview').html(html).show();
            $('.datapreview').html(data).show();
            $('.defaultTables').dragtable();
    }
    }


    function getPreviewInput(plain_html = '',$id= null) {
            // alert($id);
        var el = $('.form_builder_area .form_output');
        var html = '';
        var data = '';
        var source = '';
        el.each(function () {
            var data_type = $(this).attr('data-type');
            //var field = $(this).attr('data-field');
            var label = $(this).find('.form_input_label').val();
            var name = $(this).find('.form_input_name').val();
            var labelhidden = $(this).find('.form_input_labelhidden').val();
            if (data_type === 'text') {
                var placeholder = $(this).find('.form_input_placeholder').val();
                var checkbox = $(this).find('.form-check-input');
                var required = '';
                if (checkbox.is(':checked')) {
                    required = 'required';
                }
                // alert(label);
                // html += '<th style="min-width: 100px;text-align: center;"><label class="control-label">' + label + '</label></th>';
                source += '<option value="'+labelhidden+'">'+label+'</option>';
                html += '<th>' + label + '</th>';
                data += '<td>' + label + '</td>';
            }
            
            
        });
        
        if (plain_html === 'html') {
            $('.preview').hide();
            
        } else {
            
            $('#source2').html(source).show();
            $('#source3').html(source).show();
            $('.preview').html(html).show();
            $('.datapreview').html(data).show();
            $('.defaultTables').dragtable();
    }
    }


    
});
</script>

<div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="green" id="wizardProfile">
                            <form  action="" method="POST" name="testForm" >
                        <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->

                                <div class="wizard-header">
                                    <h3 class="wizard-title">
                                       Report
                                    </h3>
                                    <h5>Generate Your Report</h5>
                                </div>
                                <div class="wizard-navigation">
                                    <ul>
                                        <li><a href="#about" data-toggle="tab">Report</a></li>
                                        <li><a href="#account" data-toggle="tab">Colomn</a></li>
                                        <li><a href="#address" data-toggle="tab">Filter</a></li>
                                    </ul>
                                </div>

                                <div class="tab-content">
                                    <div class="tab-pane" id="about">
                                            <br/>
                                            <div class="form-group row">
                                                <?php echo $this->formLabel('reportname',$this->language->_('Report Name'),array('class'=>'col-sm-2 col-form-label')); ?><span class="invalid-feedback">*</span>
                                                <div class="col-sm-8">
                                                    <?php echo $this->formText('report_name',$this->report_name,array('class'=>'form-control','required'=>'required')); ?>
                                                    <div class="invalid-feedback"><?=$this->error_report_name?></div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <?php echo $this->formLabel('reportemail',$this->language->_('Report Email'),array('class'=>'col-sm-2 col-form-label')); ?>
                                                <div class="col-sm-8">
                                                    <?php echo $this->formText('report_email',$this->report_email,array('class'=>'form-control')); ?>
                                                    <small class="form-text text-muted">
                                                        Separate multiple emails with comma (,)
                                                    </small>
                                                    <div class="invalid-feedback"><?=$this->error_report_name?></div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <?php echo $this->formLabel('reportsched',$this->language->_('Report Schedule'),array('class'=>'col-sm-2 col-form-label')); ?>
                                                <div class="col-sm-4">
                                                    <select name="report_schedule" class="form-control">
                                                        <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                                        <option value="hourly">Hourly</option>
                                                        <option value="daily">Daily</option>
                                                        <option value="weekly">Weekly</option>
                                                        <option value="monthly">Monthly</option>
                                                    </select>
                                                    <div class="invalid-feedback"><?=$this->error_report_name?></div>
                                                </div>
                                            </div>
                                        
                                    </div>
                                    <div class="tab-pane" id="account">
                                        <h4 class="info-text"> Setting Colomn </h4>
                                        <div class="form-group row">
                                            <?php echo $this->formLabel('sortascending',$this->language->_('Display Table'),array('class'=>'col-sm-12 col-form-label')); ?>
                                    </div>
                                    <div class="form-group row">
                                            <div class="col-sm-12">
                                                    <table class="defaultTable sar-table table-common table table-hover table-condensed dataTable" width="100%">
                                                            <thead >
                                                                <tr class="preview">
                                                                </tr>
                                                                <tbody>
                                                                <tr class="datapreview">
                                                                </tr>
                                                            </tbody>
                                                            </thead>

                                                        </table>

                                            </div>
                                    </div>
                                        <div class="row">
                    <div class="col-sm-3">
                        <nav class="nav-sidebar">
                            <ul class="nav"  style=" height: 400px; overflow: auto;display: block!important;border: 1px solid #dfdfdf">
                                <?php
                                        // print_r($this->colomndata);die;
                                    foreach ($this->colomndata as $key => $value) {
                                        
                                        echo "<li class='form_bal_textfield' id='".$value['COLUMN_NAME']."-".$value['COLOMN']."-".$value['DATA_TYPE']."' data='".$value['COLUMN_NAME']."'>";
                                ?>
                                
                                    <a href="javascript:;"><?php echo $value['COLOMN']; ?></a>
                                </li>
                                <?php
                                    }
                                ?>
                            </ul>
                        </nav>
                    </div>

                     <div class="col-md-9 demo-content" style=" height: 400px; overflow: auto;display: block!important;border: 1px solid #dfdfdf">
                            
                                
                                    <div class="form_builder_area" style="height: 100%!important">
                           
                        </div>
                                </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        
                    </div>
                    <div class="col-md-9 bal_builder">
                        
                    </div>
                </div>
                <br/>
                

                                       <div class="form-group row">
                                            <?php echo $this->formLabel('sortascending',$this->language->_('Sort Ascending by Field'),array('class'=>'col-sm-2 col-form-label')); ?>
                                            <div class="col-sm-8">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <select id="source2" class="form-control" multiple="multiple">
                                                                <?php if(!empty($this->leftasc)){
                                                                    foreach($this->leftasc as $key => $val){?>
                                                                    <option value="<?=$val?>"><?=$val?></option>
                                                                <?php }}?>
                                                            </select>
                                                        </td>
                                                        <td class="px-2">
                                                            <button id="btnRight2" class="btn btn-sm btn-success mb-1"><i class="fa fa-angle-double-right"></i></button><br/>
                                                            <button id="btnLeft2" class="btn btn-sm btn-success"><i class="fa fa-angle-double-left"></i></button>
                                                        </td>
                                                        <td>
                                                            <select id="destination2" name="sortasc[]" class="form-control" multiple="multiple">
                                                                <?php if(!empty($this->sortasc)){
                                                                    foreach($this->sortasc as $key => $val){?>
                                                                    <option value="<?=$val?>" selected><?=$val?></option>
                                                                <?php }}?>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <?php echo $this->formLabel('sortdescending',$this->language->_('Sort Descending by Field'),array('class'=>'col-sm-2 col-form-label')); ?>
                                            <div class="col-sm-8">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <select id="source3" class="form-control" multiple="multiple">
                                                                <?php if(!empty($this->leftdesc)){
                                                                    foreach($this->leftdesc as $key => $val){?>
                                                                    <option value="<?=$val?>"><?=$val?></option>
                                                                <?php }}?>
                                                            </select>
                                                        </td>
                                                        <td class="px-2">
                                                            <button id="btnRight3" class="btn btn-sm btn-success mb-1"><i class="fa fa-angle-double-right"></i></button><br/>
                                                            <button id="btnLeft3" class="btn btn-sm btn-success"><i class="fa fa-angle-double-left"></i></button>
                                                        </td>
                                                        <td>
                                                            <select id="destination3" name="sortdesc[]" class="form-control" multiple="multiple">
                                                                <?php if(!empty($this->sortdesc)){
                                                                    foreach($this->sortdesc as $key => $val){?>
                                                                    <option value="<?=$val?>" selected><?=$val?></option>
                                                                <?php }}?>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <?php echo $this->formLabel('limitdata',$this->language->_('Limit Data'),array('class'=>'col-sm-2 col-form-label')); ?><span class="invalid-feedback">*</span>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <?php echo $this->formText('datalimit',$this->datalimit,array('class'=>'form-control')); ?>
                                                    <div class="input-group-append">
                                                      <div class="input-group-text">Data</div>
                                                    </div>
                                                </div>
                                                <div class="invalid-feedback"><?=$this->error_report_name?></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="address">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h4 class="info-text"> Are you living in a nice area? </h4>
                                            </div>
                                            <div id="wheres">
                    <?php if(!empty($this->wherecol)){
                        foreach($this->wherecol as $key => $val){
                            $ctr = $key;
                            $ctr++;
                            $dttype = "";
                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-2">
                                    <div class="col">
                                        <select class='form-control' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php foreach($this->colomndata as $row){
                                                $colname = $row['COLUMN_NAME']."-".$row['DATA_TYPE'];
                                                if($val==$colname){
                                                    $selected = "selected";
                                                    $dttype = $row['DATA_TYPE'];
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$colname?>" <?=$selected?>><?=$row['COLUMN_NAME']?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" id='colvalue-<?=$ctr?>'> 
                                        <input class='form-control' type='text' name='whereval[]' value='<?=$this->whereval[$key]?>'/>
                                    </div>
                                    <div class="col">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    <?php }}?>
                </div>
                <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/>
                <br/>
                <button type="button" class="btn btn-sm btn-success mt-1" id="addwhere">Add Filter</button>
                <br/>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />
                                        <input type='submit' id="submitbtn" class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Finish' />
                                    </div>

                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- wizard container -->
                </div>
            </div><!-- end row -->
        </div> <!--  big container -->





    


<script>
$(document).ready(function(){
// code to get all records from table via select box
// $('#source1').html('');
//                 $('#destination1').html(null);
//                 $('#source2').html('');
//                 $('#destination2').html(null);
//                 $('#source3').html('');
//                 $('#destination3').html(null);

	$("#tablename").change(function() {
		var id = $(this).find(":selected").val();
		$.ajax({
			url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'column'),null,true)?>",
			type: 'GET',
			dataType: "html",
			data: {
				id: id
			},
			success: function(data) {
				$('#source1').html(data);
				$('#destination1').html(null);
				$('#source2').html(data);
				$('#destination2').html(null);
				$('#source3').html(data);
				$('#destination3').html(null);
			},
			error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get column list, please try again");
            }
		});

        $("#wheres").empty();
        $("#wherectr").val("1");
	});

	$('#btnRight').click(function(e) {
        var selectedOpts = $('#source1 option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        $('#destination1').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnLeft').click(function(e) {
        var selectedOpts = $('#destination1 option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }
        $('#source1').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnRight2').click(function(e) {
        var selectedOpts = $('#source2 option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        $('#destination2').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnLeft2').click(function(e) {
        var selectedOpts = $('#destination2 option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }
        $('#source2').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnRight3').click(function(e) {
        var selectedOpts = $('#source3 option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        $('#destination3').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnLeft3').click(function(e) {
        var selectedOpts = $('#destination3 option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }
        $('#source3').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#submitbtn').click(function(e) {
        e.preventDefault();

        $("#destination1 option").prop("selected","selected");
        $("#destination2 option").prop("selected","selected");
        $("#destination3 option").prop("selected","selected");

        document.testForm.submit();
    });

    $("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='col-sm-12 form-group row mt-2'><div class='col'><select class='form-control' id='wherecol-"+ctr+"' name='wherecol[]' onchange='getOpt(this)'></select></div><div class='col'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col' id='colvalue-"+ctr+"'><input class='form-control' type='text' name='whereval[]'/></div><div class='col'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);

        var id = $("#tablename").find(":selected").val();
        $.ajax({
            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wherecolumn'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(wherecol).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });
    });

});

function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}

function edValueKeyPress()
    {
        
               
    }

function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
    // document.getElementById(colval).innerHTML = "";
    $(colval).empty();
    if(colomnname == 'PS_CREATED' || colomnname == 'PS_UPDATED' || colomnname == 'PS_EFDATE' ){
        
                          // var datepic = "#"+colomnname+"-"+ctr;
                          //       $(datepic).datepicker({
                          //           minDate: function() {
                          //               var date = new Date();
                          //               date.setDate(date.getDate()+1);
                          //               return new Date(date.getFullYear(), date.getMonth(), date.getDate());
                          //           },
                          //           format: 'dd/mm/yyyy',
                          //           uiLibrary: 'bootstrap4',
                          //       });
                          

        // var ctr = $("#wherectr").val();
        // var wherecol = "#wherecol-"+ctr;
        $(colval).append("<input type='date' class='form-control' name='whereval[]' id='"+colomnname+"-"+ctr+"'  value='' onchange='setDate(this.value);' readonly>");

    }else if(colomnname == 'TRA_AMOUNT' || colomnname == 'PS_TOTAL_AMOUNT' || colomnname == 'EQUIVALENT_AMOUNT_IDR' || colomnname == 'EQUIVALENT_AMOUNT_USD' ){
        $(colval).append("<input type='text' name='whereval[]'  value='' maxlength='20' autocomplete='off' class='form-control' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
    }else if(colomnname == 'PS_STATUS'){

            $(colval).append("<select class='form-control' id='"+colselect+"' name='wherecol[]' onchange='getOpt(this)'></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wherecolumnpsstatus'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'PS_TYPE'){

            $(colval).append("<select class='form-control' id='"+colselect+"' name='wherecol[]' onchange='getOpt(this)'></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wherecolumnpstype'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'SOURCE_ACCOUNT'){

            $(colval).append("<select class='form-control' id='"+colselect+"' name='wherecol[]' onchange='getOpt(this)'></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wheresourceaccount'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'PS_CCY' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY'){

            $(colval).append("<select class='form-control' id='"+colselect+"' name='wherecol[]' onchange='getOpt(this)'></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'ccy'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'BENEFICIARY_ACCOUNT'){

            $(colval).append("<select class='form-control' id='"+colselect+"' name='wherecol[]' onchange='getOpt(this)'></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'benef'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else{
         $(colval).append("<input type='text' name='whereval[]'  value='' maxlength='20'  class='form-control' >");            
            


    }


    var optsel = "whereopt-"+ctr;

    document.getElementById(optsel).options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
    document.getElementById(optsel).options[1] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[2] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[2] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[3] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[2] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[4] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[5] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[6] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
}
</script>
