
<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Reply Chat'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<div class="row content-box" style="height: 100%">


  <nav style="width: 100%">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Ticketing</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Direct Link</a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent" style="width: 100%">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="text-align: center">
          <button class="btngreen hov"  type="button" data-toggle="modal" data-target="#myModal"><?php echo $this->language->_('Ticket and Chat Management'); ?></button>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
     <a href="http://sgohelp.zendesk.com/" class="btn login-btn" target="popup" style="height:60px;width: 50%;margin-left: 25%;margin-top: 12%;" onclick="window.open('http://sgohelp.zendesk.com/','popup','width=600,height=600'); return false;"><?php echo $this->language->_('Ticket and Chat Management')?></a> 
  </div>
  
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog " role="document" style="max-width: 850px">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title" id="myModalLabel">Ticketing</h4>
      </div>
      <div class="modal-body">

        <div class="row col-md-12">
            
               <iframe src="http://zendesksgo.000webhostapp.com" style="width: 100%;height: 500px" frameBorder="0">

               </iframe>

        </div>

      <div class="row regis2" style="">
          <div class="col-md-2">
          </div>
           <div class="col-md-8 panel panel-default" align="center" style="border:0px">
                          <!-- Default panel contents -->
                          <button type="button" class="btnwhite hov" onclick="modalclose();" data-dismiss="modal">Close</button>
            </div>
            <div class="col-md-2">
          </div>
        </div>

  

      </div>

    </div>
  </div>
</div>



 


</div>
