<table align = "CENTER" border="0" cellpadding="8" cellspacing="8" width="50%">
	<tbody>
		<tr>
			<td align="center">
				<div id="box_outer">
					<div class="tbl-evencontent" style="border-top: 1px solid #eceadc;">
						<p></p><h2><?php echo $this->language->_('Process Success'); ?></h2><p></p>
						<p align="center">
						<?php
							$this->backURL = (!empty($this->backURL) && $this->backURL !='') ? $this->backURL : "/home";
							echo $this->formButton('back', $this->language->_('Back'), array('onclick' => "location.href='{$this->backURL}'", 'class' => 'inputbtn'));
							
							if(!empty($this->cust_id)) 
							{
							   echo '<br/><br/>';
							   $btn_add = $this->url(array('module'=>'customeraccount','controller'=>'new','action'=>'index','cust_id'=>$this->cust_id),null,true);
                               echo $this->formButton('','Add Another Account',array('onclick'=>'location.href=\''.$btn_add.'\'','class'=>'inputbtn')); 
							}
						?>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>