<div class="row">
    <div class="well">
	    <h3>Registrasi Permata Online (Individual)</h3>
	    <hr>
	    <div class="row">
			<form action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'account'),null,true)?>" name="formReg" id="formReg" class="form-horizontal" method="post" accept-charset="utf-8">
				<div>
					<ul class="nav nav-tabs" role="tablist" id="tab_head_big">
						<li role="presentation" class="disabled tab_head_small_li" id="tab_pribadi"><a href="javascript:void(0);" aria-controls="pribadi" role="tab" data-toggle="tab" id="pribadi_big" class="tab_head_small_a">Data Pribadi</a></li>
						<li role="presentation" class="active tab_head_small_li" id="tab_norek"><a href="javascript:void(0);" aria-controls="no_rek" role="tab" data-toggle="tab" id="no_rek_big" class="tab_head_small_a">No Rekening</a></li>
						<!-- <li role="presentation" class="disabled tab_head_small_li" id="tab_doc"><a href="javascript:void(0);" aria-controls="doc" role="tab" data-toggle="tab" id="doc_big" class="tab_head_small_a">File Pendukung</a></li> -->
						<li role="presentation" class="disabled tab_head_small_li" id="tab_review"><a href="javascript:void(0);" aria-controls="review" role="tab" data-toggle="tab" id="review_big" class="tab_head_small_a">Review</a></li>
					</ul>

					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active container_tab" id="no_rek" style="padding:10px;">
							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label"><?=$this->language->_('Account Number')?></label>
								<div class="col-lg-5 col-sm-6">
									<?php echo $this->formText('acct_no',$this->acct_no,array('class'=>'form-control','maxlength'=>'30','autocomplete'=>'off','onkeypress'=>'return forceNumber(event);'));?>
									<div class="errmsg"><?=$this->error_acct_no?></div>
								</div>
							</div>

							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label"><?=$this->language->_('Account Name')?></label>
								<div class="col-lg-5 col-sm-6">
									<?php echo $this->formText('acct_name',$this->acct_name,array('class'=>'form-control','maxlength'=>'50','autocomplete'=>'off','onkeyup'=>'javascript:this.value = this.value.toUpperCase();'));?>
									<div class="errmsg"><?=$this->error_acct_name?></div>
								</div>
							</div>

							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label"><?=$this->language->_('CCY')?></label>
								<div class="col-lg-5 col-sm-6">
									<?php echo $this->formSelect('acct_ccy',$this->acct_ccy,array('class'=>'form-control','autocomplete'=>'off'),$this->ccyArr);?>
									<div class="errmsg"><?=$this->error_acct_ccy?></div>
								</div>
							</div>
							
							<br/>
							<div class="form-group form-group-sm">
								<label for="" class="col-lg-3 col-sm-3 control-label"></label>
								<div class="col-lg-5 col-sm-6">
									<?php echo $this->formSubmit('add',$this->language->_('Add Account'),array('class'=>'btn btn-primary'));?>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<?php if($this->error){?>
					<div class="alert alert-danger"><?=$this->language->_($this->report_msg)?></div>
					<?php }?>
					<?php if($this->success){?>
					<div class="alert alert-success"><?=$this->language->_($this->report_msg)?></div>
					<?php }?>
					<br/>
					<?php if(count($this->acclist) > 0){?>
						<table class="table table-bordered">
							<tr>
								<th>No</th>
								<th><?=$this->language->_('Account Number')?></th>
								<th><?=$this->language->_('Account Name')?></th>
								<th><?=$this->language->_('CCY')?></th>
								<th><?=$this->language->_('Action')?></th>
							</tr>
						<?php 
							$ctr = 1;

							foreach($this->acclist as $row){
								echo '<tr>
										<td>'.$ctr.'</td>
										<td>'.$row['ACCT_NO'].'</td>
										<td>'.$row['ACCT_NAME'].'</td>
										<td>'.$row['ACCT_CCY'].'</td>
										<td><a href="'.$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'account','delete'=>$row['ACCT_NO'])).'" class="btn btn-sm btn-danger">'.$this->language->_('Delete').'</a>
									';

								$ctr++;
							}
						?>
						</table>
					<?php }?>
					<a href="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" class="btn btn-primary"><?=$this->language->_('Back')?></a>&nbsp;&nbsp;
					<?php echo $this->formSubmit('submit',$this->language->_('Next'),array('class'=>'btn btn-primary'));?>
				</div>				
			</form>
		</div>
	</div>
</div>