<div class="row">
    <div class="well">
    <h3>Pendaftaran Permata Online (Individual)</h3>
    <hr>
        <div class="row">
	        <div class="col-md-12" align="center">
	        	<div class="col-md-3"></div>
	        	<div class="col-md-6">
		        	Pendaftaran e-Channel Permata Online (Individual) berhasil. Data akan diproses 5 hari kerja, User ID dan Password akan kami kirimkan via email dan sms.<br/>
		        	Silahkan kunjungi kantor cabang Bank Permata terdekat untuk pengaktifan layanan finansial.
		        	<br/><br/>
		        	<a href="<?=$this->url(array('module'=>'default','controller'=>'index','action'=>'index'),null,true)?>" class="btn btn-sm btn-primary"><?=$this->language->_('Back')?></a>
	        	</div>
	        	<div class="col-md-3"></div>
	        </div>
        </div>
    </div>
</div>