<b><?php echo $this->language->_('Charges'); ?> &gt; <?php echo $this->language->_('Set Up Charges Global'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Setting Charges Global'); ?></div>
<table  width="100%" cellspacing="0" cellpadding="0" border="0">
  <?php if(isset($this->save))
  {?><div class="successMsg"><h2><?php echo $this->language->_('Switch Set Successfully'); ?></h2></div><?php }?>
	  <br><br><span style="font-size:14px;"><?php echo $this->language->_('Autocharge is currently'); ?> : </span>
	  <span style="font-size:14px; font-weight:bold; color: #CC0000"><?php 
	  if($this->value == "0")
	  {?>OFF<?php } 
	  else {?>ON<?php }?></span>
	  <br><br>
	  <?php 
	  if($this->value == "1")
	  {?> 
	  <a onclick="return confirm('Proceed?');" href="?s=1&amp;m=1" style="font-size:14px;font-weight:bold;"><?php echo $this->language->_('Switch Autocharge Off'); ?></a>
	  <?php }
	  else 
	  {?>
	  <a onclick="return confirm('Proceed?');" href="?s=0&amp;m=1" style="font-size:14px;font-weight:bold;"><?php echo $this->language->_('Switch Autocharge On'); ?></a>     
     <?php }?>
</table>
