<?PHP
$this->language = Zend_Registry::get('language');
?>
<?php
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<?php $expand = $this->language->_('Expand'); ?>
<?php $hide = $this->language->_('Hide'); ?>
<style>
    .disabledDiv {
        pointer-events: none;
        opacity: 0.4;
        background: #eee;
    }
</style>


<script type="text/javascript">
    //akan di onload pertama kali
    $(document).ready(function() {

    });
</script>


<style>
    table {
        font-size: 14px !important;
    }

    .text-gray {
        color: gray !important;
    }

    .table-header {
        font-size: 16px !important;
        color: #fff !important;
        background-color: #0b549f !important;
    }

    #fa-angle-up:hover,
    #fa-angle-down:hover {
        color: #fff !important;
    }

    .table-fixed {
        max-height: 300px;
        width: 100%;
        overflow: auto;
    }

    #pdf {
        min-width: 100px;
        height: 35px;
        border-radius: 8px;
        font-size: 11px;
        background-color: #ffffff;
        color: black;
        text-align: center;
        text-transform: uppercase;
        display: inline-block;
        cursor: pointer;
        background-image: none;
        box-shadow: none;
    }
    }
</style>
<form name="exportForm" id="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">
    <?php
    if ($this->button) {
    ?>
        <div class="row">
            <div class="col-md-12">
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <span><?php echo $this->language->_('Approval Request'); ?></span>
                            <i class="fa fa-angle-right pl-1 pr-1"></i>
                        </li>
                        <li>
                            <?php echo $this->language->_('Online Registration'); ?>
                        </li>
                        <li>
                            <?php echo $this->language->_('Detail'); ?>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <?php
    }
    ?>
    <?php
    if ($this->error) { ?>
        <div class="alert alert-danger"><?= $this->language->_($this->report_msg) ?></div>
    <?php } ?>


    <h6 style="color:#000000;"><?php echo $this->language->_('Online Registration - Bank Guarantee Applicant'); ?></h6>
    <div class="row">
        <div class="col-md-12">
            <table width="80%" cellpadding="5" cellspacing="0" border="0" class="">
                <tr>
                    <td width="230"><?= $this->language->_('Cabang Pendaftaran'); ?></td>
                    <td><span class="font-weight-bold"><?= $this->companydetail['BRANCH_CODE'] . ' - ' . $this->companydetail['BRANCH_NAME'] ?></span></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Registration Number'); ?></td>
                    <td><span class="text-danger font-weight-bold"><?= $this->companydetail['CUST_REG_NUMBER'] ?: '-'; ?></span></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Suggestion Status'); ?></td>
                    <td><?= $this->companydetail['suggestion_status'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Registration Status'); ?></td>
                    <td><?= $this->companydetail['registration_status'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Repair Notes'); ?></td>
                    <td><?= $this->companydetail['CHANGES_REASON'] ?: '-'; ?></td>
                </tr>

            </table>
        </div>
        <div class="col-md-12">
            <!-- <table class="my-3" cellpadding="5" style="width:100%" >  -->
            <table width="80%" cellpadding="5" cellspacing="0" border="0" class="table table-sm table-striped">
                <tr class="table-header">
                    <td colspan="5"><?= $this->language->_('Informasi Perusahaan'); ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Tipe Perusahaan'); ?></td>
                    <td><?= $this->companydetail['CUST_MODEL'] == 'APLI' ? 'PEMOHON' : '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Nama Perusahaan'); ?></td>
                    <td><?= $this->companydetail['CUST_NAME'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Nomor NPWP'); ?></td>
                    <td><?= $this->companydetail['CUST_NPWP'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Jenis Perusahaan'); ?></td>
                    <td><?= $this->companyTypeArr[$this->companydetail['CUST_TYPE']] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Sektor Ekonomi'); ?></td>
                    <td><?= $this->businessEntityArr[$this->companydetail['BUSINESS_TYPE']] ?: '-'; ?></td>

                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Tipe Publik'); ?></td>
                    <td><?= $this->companydetail['GO_PUBLIC'] == 'Y' ? 'Ya' : 'Tidak'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Grup BUMN'); ?></td>
                    <td><?= $this->companydetail['GRUP_BUMN'] == '1' ? 'Ya' : 'Tidak'; ?></td>
                </tr>

                <tr>
                    <td width="230"><?= $this->language->_('Golongan Debitur'); ?></td>
                    <td><?= $this->debiturCodeArr[$this->companydetail['DEBITUR_CODE']] ?: '-'; ?></td>
                </tr>

                <tr>
                    <td width="230"><?= $this->language->_('Alamat'); ?></td>
                    <td><?= $this->companydetail['CUST_ADDRESS'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Kelurahan'); ?></td>
                    <td><?= $this->companydetail['CUST_VILLAGE'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Kecamatan'); ?></td>
                    <td><?= $this->companydetail['CUST_DISTRICT'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Kabupaten / Kota'); ?></td>
                    <td><?= $this->companydetail['CITY_NAME'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Zip'); ?></td>
                    <td><?= $this->companydetail['CUST_ZIP'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Negara'); ?></td>
                    <td><?= $this->companydetail['COUNTRY_NAME'] ?: '-'; ?></td>
                </tr>

            </table>

            <table width="80%" cellpadding="5" cellspacing="0" border="0" class="table table-sm table-striped">
                <tr class="table-header">
                    <td colspan="5"><?= $this->language->_('Orang yang dapat dihubungi'); ?></td>
                </tr>

                <tr>
                    <td width="230"><?= $this->language->_('Orang yang dapat dihubungi'); ?></td>
                    <td><?= $this->companydetail['CUST_CONTACT'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Nomor yang dapat dihubungi'); ?></td>
                    <td><?= $this->companydetail['CUST_CONTACT_PHONE'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Email'); ?></td>
                    <td><?= $this->companydetail['CUST_EMAIL'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Nomor Perusahaan'); ?></td>
                    <td><?= $this->companydetail['CUST_PHONE'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('URL Website'); ?></td>
                    <td><?= $this->companydetail['CUST_WEBSITE'] ?: '-'; ?></td>
                </tr>
            </table>

            <table width="80%" cellpadding="5" cellspacing="0" border="0" class="table table-sm table-striped">
                <tr class="table-header">
                    <td colspan="5"><?= $this->language->_('Admin User'); ?></td>
                </tr>
                <?php
                if (!empty($this->companydetailadmin['USER_ID'])) {
                ?>
                    <tr>
                        <td width="230"><?= $this->language->_('User ID'); ?></td>
                        <td><?= $this->companydetailadmin['USER_ID']; ?></td>
                    </tr>
                <?php
                }
                ?>
                <tr>
                    <td width="230"><?= $this->language->_('Set contact person as admin user'); ?></td>
                    <td><?= $this->companydetailadmin['USER_PRIVI'] == 'ADMIN' ? 'Ya' : 'Tidak'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Nama Pengguna'); ?></td>
                    <td><?= $this->companydetailadmin['USER_FULLNAME'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Email'); ?></td>
                    <td><?= $this->companydetailadmin['USER_EMAIL'] ?: '-'; ?></td>
                </tr>

                <tr>
                    <td width="230"><?= $this->language->_('Nomor Telepon'); ?></td>
                    <td><?= $this->companydetailadmin['USER_PHONE'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('NIK'); ?></td>
                    <td><?= $this->companydetailadmin['USER_NIK'] ?: '-'; ?></td>
                </tr>


            </table>

            <?php if ($this->system_type1 != 2) { ?>

                <table width="80%" cellpadding="5" cellspacing="0" border="0" class="table table-sm table-striped">
                    <tr class="table-header">
                        <td colspan="5"><?= $this->language->_('Company Account'); ?></td>
                    </tr>

                    <tr>
                        <td colspan="5">
                            <div class="portlet-body flip-scroll table-responsive table-fixed" class="fixTable">

                                <table cellpadding="2" cellspacing="0" border="0" class="tableform table-striped" width="700px" style="background-color: white;">
                                    <table class="table-bordered" cellpadding="3" style="width:100%">
                                        <tr style="background-color:#ccc">
                                            <th width="20px">
                                                &nbsp;
                                                <?php
                                                //	echo 	'<input type="checkbox" id="select_all" name="select_all" value="All">';
                                                ?>
                                            </th>
                                            <th style="min-width: 150px"><?php echo $this->language->_('Account Number'); ?></th>
                                            <th><?php echo $this->language->_('Account Name'); ?></th>
                                            <th><?php echo $this->language->_('Account Name Inquiry'); ?></th>
                                            <th><?php echo $this->language->_('CIF'); ?></th>
                                            <th><?php echo $this->language->_('Type'); ?></th>
                                            <th><?php echo $this->language->_('Currency'); ?></th>
                                            <th><?php echo $this->language->_('Action'); ?></th>

                                        </tr>
                                        <?php

                                        if ($this->bankacc) {
                                            $i = 1;
                                            foreach ($this->bankacc as $row) {
                                                $para = "'" . $row['ACCT_NO'] . "','" . $row['CCY_ID'] . "'";
                                                $spanaccName = '<span id="accName' . $row['ACCT_NO'] . $row['CCY_ID'] . '">&nbsp;</span>';
                                                $spanCIF = '<span id="accCIF' . $row['ACCT_NO'] . $row['CCY_ID'] . '">&nbsp;</span>';
                                                $spanProductType = '<span id="accProductType' . $row['ACCT_NO'] . $row['CCY_ID'] . '">&nbsp;</span>';
                                                $spanCurrency = '<span id="accCurrency' . $row['ACCT_NO'] . $row['CCY_ID'] . '">&nbsp;</span>';
                                        ?>

                                                <?php echo '<tr>
                                            <td class="' . $td_css . '"><input class="checkbox" disabled="disabled" type="checkbox" id="' . $row["ACCT_NO"] . '" name="acct[]" value="' . str_replace('0', 'x', $row["ACCT_NO"]) . '"></td>
                                            <td class="' . $td_css . '">' . $row["ACCT_NO"] . '<div class="text-danger ml-2" style="border: 1px solid red;border-radius: 100%;display: none;width: 20px;height: 20px;cursor: default; position: relative" id="s' . $row["ACCT_NO"] . '"><center>!</center> <div style="background-color: white;border: 1px solid red;position: absolute;width: 300px;top:0; left: 35px; display: none" class="text-danger" id="isi' . $row['ACCT_NO'] . '">Rekening tidak aktif</div></div></td>
                                            <td class="' . $td_css . '">' . $row['ACCT_NAME'] . '</td>
                                            <td class="' . $td_css . '">' . $spanaccName . '</td>
                                            <td class="' . $td_css . '">' . $spanCIF . '</td>
                                            <td class="' . $td_css . '">' . $spanProductType . '</td> 
                                            <td class="' . $td_css . '">' . $spanCurrency . '</td>
                                            <td align="center" class="' . $td_css . '"><a href="javascript:;" id="refresh' . $row['ACCT_NO'] . '" title="inquiry" onclick="balanceload(' . $para . ')"><i class="fa fa-sync"></i></a>&nbsp;<img src="/images/logo/35.gif" id="load' . $row['ACCT_NO'] . '" style="width: 13px;display:none"></td>
                                        </tr>';
                                                ?>

                                            <?php
                                                $i++;
                                            }
                                        } else {
                                            ?>
                                            <tr>
                                                <td class="tbl-oddcontent" colspan="9" align="center">
                                                    <?= $this->language->_('No Record Found'); ?>
                                                </td>
                                            </tr>
                                        <?php } ?>
                                    </table>
                            </div>
                        </td>
                    </tr>
                </table>
            <?php } ?>

            <?php
            if ($this->companydetail['CUST_REVIEW'] == '1') {
                $disrev = '';
            } else {
                $disrev = 'none';
            }
            ?>
            <?php
            if ($this->companydetail['CUST_APPROVER'] == '1') {
                $disapp = '';
            } else {
                $disapp = 'none';
            }

            // var_dump($disapp);
            // var_dump($disrev);


            ?>

            <table width="100%" cellpadding="5" cellspacing="0" border="0" class="table table-sm">
                <tr class="table-header">
                    <td colspan="5"><?= $this->language->_('Submission Workflow'); ?></td>
                </tr>
                <!-- $this->companydetail['CUST_MODEL_VAL']=="3" -->
                <tr>
                    <td colspan="5">
                        <div class="content-box <?= $this->companydetail['CUST_MODEL_VAL'] == '2' ? 'disabledDiv' : $this->companydetail['CUST_MODEL_VAL'] == '3' ? 'disabledDiv' : ''; ?>">

                            <?php

                            // echo '<pre>';
                            // print_r($this->companydetail);
                            $imgClass = '';
                            if ($this->companydetail['CUST_FINANCE'] == 3) {
                                $imgClass = 'imgSepia';
                                echo '<div class="col-md-12" align="center"><h6><b>' . $this->language->_("Company Service Type : Non Financial. No user roles needed.") . '</b></h6></div><br><br>';
                            } else if ($this->companydetail['CUST_SAME_USER'] == 1) {
                                echo '<div class="col-md-12" align="center"><h6><b>' . $this->language->_("Maker and releaser are same user.") . '</b></h6></div><br><br>';
                            }
                            ?>


                            <table align="center" width="100%" cellpadding="3" cellspacing="0" border="0" class="tableform">
                                <tr>
                                    <td align="center">
                                        <?php echo $this->makerNameCircle; ?>
                                    </td>
                                    <!--<td align="center">
											<img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="<?php echo $imgClass ?>">
										</td>-->
                                    <!--<td align="center" style="display: <?php echo $disrev; ?>">
											<?php echo $this->reviewerNameCircle; ?>
										</td>-->
                                    <td align="center" style="display: <?php echo $disrev; ?>">
                                        <img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="<?php echo $imgClass ?>">
                                    </td>
                                    <td align="center" style="display: <?php echo $disapp; ?>">
                                        <?php echo $this->approverNameCircle; ?>
                                    </td>
                                    <td align="center" style="display: <?php echo $disapp; ?>">
                                        <img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="<?php echo $imgClass ?>">
                                    </td>
                                    <td align="center">
                                        <?php echo $this->releaserNameCircle; ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <i class="fas fa-marker <?php echo $imgClass ?>" style="font-size:20px;color:#007934"></i>
                                    </td>

                                    <!--<td align="center">-->
                                    <!-- hanya jarak  -->
                                    <!--</td>-->

                                    <!--<td align="center" style="display: <?php echo $disrev; ?>">
											<i class="fas fa-glasses <?php echo $imgClass ?>" style="font-size:20px;color:#007934"></i>
										</td>-->

                                    <td align="center" style="display: <?php echo $disrev; ?>">
                                        <!-- hanya jarak  -->
                                    </td>

                                    <td align="center" style="display: <?php echo $disapp; ?>">
                                        <i class="far fa-check-circle <?php echo $imgClass ?>" style="font-size:20px;color:#007934"></i>

                                    </td>

                                    <td align="center" style="display: <?php echo $disapp; ?>">
                                        <!-- hanya jarak  -->
                                    </td>

                                    <td align="center">
                                        <i class="far fa-envelope <?php echo $imgClass ?>" style="font-size:20px;color:#007934"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        MAKER
                                    </td>

                                    <!--<td align="center">-->
                                    <!-- hanya jarak  -->
                                    <!--</td>-->

                                    <!--<td align="center" style="display: <?php echo $disrev; ?>">
											REVIEWER
										</td>-->

                                    <td align="center" style="display: <?php echo $disrev; ?>">
                                        <!-- hanya jarak  -->
                                    </td>

                                    <td align="center" style="display: <?php echo $disapp; ?>">
                                        APPROVER
                                    </td>

                                    <td align="center" style="display: <?php echo $disapp; ?>">
                                        <!-- hanya jarak  -->
                                    </td>

                                    <td align="center">
                                        RELEASER
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <!-- <input type="checkbox" value="maker" name="check_maker" checked disabled> -->
                                        <?php
                                        if ($this->companydetail['CUST_FINANCE'] != '3') {
                                        ?>
                                            <img src="/images/icon/checked.png">
                                        <?php
                                        }
                                        ?>
                                    </td>

                                    <!--<td align="center">-->
                                    <!-- hanya jarak  -->
                                    <!--</td>-->

                                    <td align="center" style="display: <?php echo $disrev; ?>">
                                        <!-- hanya jarak  -->
                                    </td>

                                    <td align="center" style="display: <?php echo $disapp; ?>">
                                        <?php
                                        if ($this->companydetail['CUST_APPROVER'] == '1') {
                                        ?>
                                            <img src="/images/icon/checked.png">
                                        <?php
                                        } else {
                                            $checked = '';
                                        }
                                        ?>
                                        <!-- <input type="checkbox" value="1" name="cust_approver" <?php echo $checked; ?> disabled> -->
                                    </td>

                                    <td align="center" style="display: <?php echo $disapp; ?>">
                                        <!-- hanya jarak  -->
                                    </td>

                                    <td align="center">
                                        <?php
                                        if ($this->companydetail['CUST_FINANCE'] != '3') {
                                        ?>
                                            <img src="/images/icon/checked.png">
                                        <?php
                                        }
                                        ?>
                                    </td>
                                </tr>
                                <tr style="display:none;">
                                    <td align="center">
                                        <!-- hanya jarak  -->
                                    </td>

                                    <td align="center">
                                        <!-- hanya jarak  -->
                                    </td>

                                    <td align="center" style="display: <?php echo $disrev; ?>">
                                        <!-- hanya jarak  -->
                                    </td>

                                    <td align="center" style="display: <?php echo $disrev; ?>">
                                        <!-- hanya jarak  -->
                                    </td>

                                    <td align="center" style="display: <?php echo $disapp; ?>">
                                        <p>Google Auth</p>
                                        <label class="switch">
                                            <?php
                                            // echo $this->cust_app_token;
                                            if ($this->companydetail['CUST_APP_TOKEN'] == '1') {
                                                $checked = 'checked';
                                            } else {
                                                $checked = '';
                                            }
                                            ?>
                                            <input type="checkbox" name="cust_app_token" <?php echo $checked; ?> disabled>
                                            <span class="slider round" style="cursor: default;"></span>
                                        </label>
                                    </td>

                                    <td align="center" style="display: <?php echo $disapp; ?>">
                                        <!-- hanya jarak  -->
                                    </td>

                                    <td align="center">
                                        <p>Google Auth</p>
                                        <label class="switch" name="rls_token">
                                            <?php
                                            // echo $this->cust_rls_token;
                                            if ($this->companydetail['CUST_RLS_TOKEN'] == '1') {
                                                $checked = 'checked';
                                            } else {
                                                $checked = '';
                                            }

                                            //if non financial
                                            if ($this->companydetail['CUST_FINANCE'] == 3) {
                                                $checked = '';
                                            }

                                            ?>
                                            <input type="checkbox" name="cust_rls_token" <?php echo $checked; ?> disabled>
                                            <span class="slider round" style="cursor: default;"></span>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>




    <?php
    if ($this->button) {
    ?>
        <table align="CENTER">
            <tr style="height:30px">
                <td colspan="12" align="CENTER">

                    <?php
                    echo $this->formButton('back', $this->language->_('BACK'), ['class' => 'btnwhite hov mr-2', 'onclick' => 'window.location.href="/echanrequest"']);
                    echo $this->formSubmit('pdf', $this->language->_('Download PDF'), ['class' => 'btnwhite hov mr-1']);
                    ?>

                    <?php

                    if ($this->companydetail['registration_status'] == 'Request Repaired') {
                        $request_repair = $this->formButton('repair', $this->language->_('Request Repair'), ['id' => 'showRepair', 'disabled' => 'disabled', 'class' => 'btnwhite hov disabled', "onclick" => "repairmodal();"]);
                        //$reject = $this->formButton('submit_reject', $this->language->_('Reject'), ['class' => 'btnred hov mr-1 disabled', 'disabled' => 'disabled', 'id' => 'reject_btn']);
                        $reject = $this->formButton('submit_reject', $this->language->_('Reject'), ['class' => 'btnred hov mr-1', 'id' => 'reject_btn']);
                        $approve = $this->formSubmit('submit_approve', $this->language->_('Approve'), ['class' => 'btngreen hov mr-1 disabled', 'disabled' => 'disabled']);
                    } else if ($this->companydetail['registration_status'] == 'Reject') {
                        $request_repair = $this->formButton('repair', $this->language->_('Request Repair'), ['id' => 'showRepair', 'disabled' => 'disabled', 'class' => 'btnwhite hov disabled', "onclick" => "repairmodal();"]);
                        $reject = $this->formButton('submit_reject', $this->language->_('Reject'), ['class' => 'btnred hov mr-1 disabled', 'disabled' => 'disabled', 'id' => 'reject_btn']);
                        $approve = $this->formSubmit('submit_approve', $this->language->_('Approve'), ['class' => 'btngreen hov mr-1 disabled', 'disabled' => 'disabled']);
                    } else {
                        $request_repair = $this->formButton('repair', $this->language->_('Request Repair'), ['id' => 'showRepair', 'class' => 'btnwhite hov', "onclick" => "repairmodal();"]);
                        $reject = $this->formButton('submit_reject', $this->language->_('Reject'), ['class' => 'btnred hov mr-1', 'id' => 'reject_btn']);
                        $approve = $this->formSubmit('submit_approve', $this->language->_('Approve'), ['class' => 'btngreen hov mr-1 disabled', 'disabled' => 'disabled']);
                    }
                    if ($this->companydetail['registration_status'] != 'Approved') {

                        echo $request_repair;
                        echo "&nbsp";
                        //echo $this->formSubmit('submit_request_repair', $this->language->_('Request Repair'), ['class'=>'btnwhite hov mr-1']);
                        echo $reject;

                        echo $approve;
                    }
                    ?>

                    <div class="modal fade" id="dialogrepair_box" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title textBlack"><?php echo $this->language->_('Request Repair Notes') ?>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Must be filled') ?>:</p>
                                    <?php echo $this->formTextarea('PS_REASON_REPAIR', null, array(
                                        'cols' => '40%', 'rows' => '4',
                                        'onKeyDown' => 'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
                                        'onKeyUp' => 'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
                                        'onKeypress' => 'return noSpecialChar3(event);', 'class' => 'form-control', 'id' => 'PS_REASON2', 'style' => 'font-size:1.2em'
                                    )) ?>
                                    <br>
                                    <div class="input-group">
                                        <?php echo $this->formText('disable_note_len2', '128', array('readonly' => 'readonly', 'size' => '2', 'class' => 'form-control col-md-2', 'style' => 'width:60px;font-size:1.2em')); ?>
                                        <span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left'); ?></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
                                    <button type="button" class="btngreen hov" id="btn_delete_repair"><?php echo $this->language->_('Submit') ?></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="reject_modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <!-- <div class="modal-header">
                                    <h5 class="modal-title textBlack"><?php echo $this->language->_('Request Repair Notes') ?>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div> -->
                                <div class="modal-body">
                                    <p class="textBlack"><?php echo $this->language->_('Apakah anda yakin ingin melakukan penolakan ?') ?></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
                                    <button type="submit" class="btnred hov" name="submit_reject" value="1" id="btn_delete_repair"><?php echo $this->language->_('Reject') ?></button>
                                </div>
                            </div>
                        </div>
                    </div>


                </td>
            </tr>
        </table>
</form>
<?php
    }
?>
<script type="text/javascript">
    /*
var select_all = document.getElementById("select_all"); //select all checkbox
var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items

//select all checkboxes
select_all.addEventListener("change", function(e){
	for (i = 0; i < checkboxes.length; i++) {
		checkboxes[i].checked = select_all.checked;
	}
});

for (var i = 0; i < checkboxes.length; i++) {
	checkboxes[i].addEventListener('change', function(e){ //".checkbox" change
		//uncheck "select all", if one of the listed checkbox item is unchecked
		if(this.checked == false){
			select_all.checked = false;
		}
		//check "select all" if all checkbox items are checked
		if(document.querySelectorAll('.checkbox:checked').length == checkboxes.length){
			select_all.checked = true;
		}
	});
}
*/
</script>

<script>
    function showError(acct) {
        document.querySelector(`#${acct}`).style.display = 'inline-block'
    }

    function closeError(acct) {
        document.querySelector(`#${acct}`).style.display = 'none'
    }

    $(document).ready(function() {

        <?php foreach ($this->bankacc as $acc) { ?>
            document.querySelector('#s<?= $acc['ACCT_NO']; ?>').addEventListener('mouseenter', () => {
                document.querySelector('#isi<?= $acc['ACCT_NO']; ?>').style.display = 'inline-block'
            });
            document.querySelector('#s<?= $acc['ACCT_NO']; ?>').addEventListener('mouseleave', () => {
                document.querySelector('#isi<?= $acc['ACCT_NO']; ?>').style.display = 'none'
            });
        <? } ?>

        // if (document.querySelector('#reject_btn')) {
        document.querySelector('#reject_btn')?.addEventListener('click', () => {
            $('#reject_modal').modal('show');
        });
        // }

        document.querySelectorAll('a[title="inquiry"]').forEach((inq) => {
            inq.click()
        })

        var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].addEventListener('change', function(e) { //".checkbox" change

                //uncheck "select all", if one of the listed checkbox item is unchecked
                if (this.checked == false) {

                    $("#submit_approve").attr("disabled", true);
                    $("#submit_approve").addClass("disabled");
                }
                //check "select all" if all checkbox items are checked
                const requestRepair = <?= ($this->companydetail['registration_status'] == 'Request Repaired') ? 'true' : 'false'; ?>;

                if (document.querySelectorAll('.checkbox:checked').length > 0) {
                    if (!requestRepair) {
                        $("#submit_approve").attr("disabled", false);
                        $("#submit_approve").removeClass("disabled");
                    }
                }
            });
        }

    });

    function repairmodal() {

        $('#dialogrepair_box').modal('show');
        $("#btn_delete_repair").attr('onclick',
            'if($("#PS_REASON2").val() == ""){alert("Please fill the notes");}else{$("#dialogrepair_box").modal("hide");$("<input>", {type: "hidden",name: "repair",value: "repair"}).appendTo("#exportForm");$("#exportForm").submit();}'
        );
    }

    function balanceload(acct, bank) {
        var accName = "#accName" + acct + bank;
        var accCIF = "#accCIF" + acct + bank;
        var accProductType = "#accProductType" + acct + bank;
        var accCurrency = "#accCurrency" + acct + bank;

        $("#load" + acct).show();
        $("#refresh" + acct).hide();
        $.ajax({
            url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquiryaccountinfo'), null, true) ?>",
            type: 'GET',
            dataType: "JSON",
            data: {
                acct_no: acct,
                //ccy_id: bank,
            },
            success: function(data) {
                //console.log(bank);
                //console.log(data.accountList.account_name);
                $("#load" + acct).hide();
                $("#refresh" + acct).show();
                if (data.flagError == true) {
                    // alert(data.errorMessage);
                    // $(accName).html("N/A");
                    $(accName).html(data.accountList?.account_name || 'N/A');
                    $(accCIF).html(data.accountList?.cif ? data.accountList.cif : 'N/A');
                    $(accProductType).html(data.accountList?.type_desc ? data.accountList.type_desc : 'N/A');
                    $(accCurrency).html(data.accountList?.currency ? data.accountList.currency : 'N/A');
                    if (!data.aroType) {
                        document.querySelector(`#s${acct}`).style.display = 'inline-block'
                        document.querySelector(`#isi${acct}`).innerText = 'Bukan ARO'
                    }
                    $("#" + acct).attr("disabled", true);
                } else {
                    if (data.accountList.status == 1 || data.accountList.status == 4) {
                        $(accName).html(data.accountList.account_name);
                        $(accCIF).html(data.accountList.cif);
                        $(accProductType).html(`${data.accountList.type_desc} ${data.accountList.product_type}`);
                        $(accCurrency).html(data.accountList.currency);
                        if (data.specialRate || data.aroType) {
                            document.querySelector(`#isi${acct}`).innerText = ''
                        }

                        <?php if ($this->companydetail['registration_status'] == $this->language->_('Waiting for approve')) : ?>
                            $("#" + acct).attr("disabled", false);
                        <?php endif ?>

                        if (!data.accountTypeCheck) {
                            document.querySelector(`#s${acct}`).style.display = 'inline-block'
                            document.querySelector(`#isi${acct}`).innerText = `Tipe Akun tidak terdaftar pada Manajemen Produk`
                            $(accName).html(data.accountList?.account_name || 'N/A');
                            $(accCIF).html(data.accountList?.cif ? data.accountList.cif : 'N/A');
                            $(accProductType).html(data.accountList?.type_desc ? `${data.accountList.type_desc} ${data.accountList.product_type}` : 'N/A');
                            $(accCurrency).html(data.accountList?.currency ? data.accountList.currency : 'N/A');
                            $("#" + acct).attr("disabled", true);
                        } else if (!data.productTypeCheck) {
                            document.querySelector(`#s${acct}`).style.display = 'inline-block'
                            document.querySelector(`#isi${acct}`).innerText = `Tipe Produk ${data.productType} tidak terdaftar pada Manajemen Produk`
                            $(accName).html(data.accountList?.account_name || 'N/A');
                            $(accCIF).html(data.accountList?.cif ? data.accountList.cif : 'N/A');
                            $(accProductType).html(data.accountList?.type_desc ? `${data.accountList.type_desc} ${data.accountList.product_type}` : 'N/A');
                            $(accCurrency).html(data.accountList?.currency ? data.accountList.currency : 'N/A');
                            $("#" + acct).attr("disabled", true);
                        } else if (data.specialRate) {
                            document.querySelector(`#s${acct}`).style.display = 'inline-block'
                            document.querySelector(`#isi${acct}`).innerText = 'Special Rate'
                            $(accName).html(data.accountList?.account_name || 'N/A');
                            $(accCIF).html(data.accountList?.cif ? data.accountList.cif : 'N/A');
                            $(accProductType).html(data.accountList?.type_desc ? `${data.accountList.type_desc} ${data.accountList.product_type}` : 'N/A');
                            $(accCurrency).html(data.accountList?.currency ? data.accountList.currency : 'N/A');
                            // $("#" + acct).attr("disabled", true);
                        } else if (data.hold) {
                            document.querySelector(`#s${acct}`).style.display = 'inline-block'
                            document.querySelector(`#isi${acct}`).innerText = 'Status Rekening Hold'
                            $(accName).html(data.accountList?.account_name || 'N/A');
                            $(accCIF).html(data.accountList?.cif ? data.accountList.cif : 'N/A');
                            $(accProductType).html(data.accountList?.type_desc ? `${data.accountList.type_desc} ${data.accountList.product_type}` : 'N/A');
                            $(accCurrency).html(data.accountList?.currency ? data.accountList.currency : 'N/A');
                            $("#" + acct).attr("disabled", true);
                        }
                    } else {
                        // $(accName).html(data.accountList.account_name);
                        // $(accCIF).html(data.accountList.cif);
                        // $(accProductType).html(data.accountList.type_desc);
                        // $(accCurrency).html(data.accountList.currency);
                        document.querySelector(`#s${acct}`).style.display = 'inline-block'
                        document.querySelector(`#isi${acct}`).innerText = 'Rekening tidak aktif'
                        $(accName).html(data.accountList?.account_name || 'N/A');
                        $(accCIF).html(data.accountList?.cif ? data.accountList.cif : 'N/A');
                        $(accProductType).html(`${data.accountList.type_desc} ${data.accountList.product_type}`);
                        $(accCurrency).html(data.accountList?.currency ? data.accountList.currency : 'N/A');
                        $("#" + acct).attr("disabled", true);

                        if (data.accountList.status == null) {
                            document.querySelector(`#s${acct}`).style.display = 'inline-block'
                            document.querySelector(`#isi${acct}`).innerText = `Rekening tidak ditemukan`
                            $(accName).html(data.accountList?.account_name || 'N/A');
                            $(accCIF).html(data.accountList?.cif ? data.accountList.cif : 'N/A');
                            $(accProductType).html(data.accountList?.type_desc ? `${data.accountList.type_desc} ${data.accountList.product_type}` : 'N/A');
                            $(accCurrency).html(data.accountList?.currency ? data.accountList.currency : 'N/A');
                            $("#" + acct).attr("disabled", true);
                        } else if (!data.accountTypeCheck) {
                            document.querySelector(`#s${acct}`).style.display = 'inline-block'
                            document.querySelector(`#isi${acct}`).innerText = `Tipe Akun tidak terdaftar pada Manajemen Produk`
                            $(accName).html(data.accountList?.account_name || 'N/A');
                            $(accCIF).html(data.accountList?.cif ? data.accountList.cif : 'N/A');
                            $(accProductType).html(data.accountList?.type_desc ? `${data.accountList.type_desc} ${data.accountList.product_type}` : 'N/A');
                            $(accCurrency).html(data.accountList?.currency ? data.accountList.currency : 'N/A');
                        } else if (!data.productTypeCheck) {
                            document.querySelector(`#s${acct}`).style.display = 'inline-block'
                            document.querySelector(`#isi${acct}`).innerText = `Tipe Produk ${data.productType} tidak terdaftar pada Manajemen Produk`
                            $(accName).html(data.accountList?.account_name || 'N/A');
                            $(accCIF).html(data.accountList?.cif ? data.accountList.cif : 'N/A');
                            $(accProductType).html(data.accountList?.type_desc ? `${data.accountList.type_desc} ${data.accountList.product_type}` : 'N/A');
                            $(accCurrency).html(data.accountList?.currency ? data.accountList.currency : 'N/A');
                        }
                    }
                }


            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.info(thrownError);
                $("#load" + acct).hide();
                $("#refresh" + acct).show();
                alert("Failed to get where column list, please try again");
            }
        });

    }
</script>