<?php $this->layout()->setLayout('popup'); ?>
<?php if ($this->msg) { ?>
	<div class="tabheader" id="tabheader"><?php echo $this->language->_('Repair Backend User Change'); ?></div>
<?php
	echo $this->msg;
} else { ?>
	<form name="acstat_query" enctype="multipart/form-data" method="post" action="">
		<div class="tabheader" id="tabheader"><?php echo $this->language->_('Repair Backend User Change'); ?></div>
		<?php if ($this->error) { ?>
			<div class="errmsg">
				<?php
				echo $this->errorMsg;
				?>
			</div><br />
		<?php } ?>
		<br />
		<table class="table-sm table-responsive" cellpadding="0" cellspacing="0" width="700">
			<tbody>
				<tr>
					<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Repair Backend User Change'); ?></strong></th>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->language->_('Approver`s Note'); ?></td>
					<td class="tbl-evencontent">
						<div>"<?= $this->result2['CHANGES_REASON']; ?>"</div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent">&nbsp;</td>
					<td class="tbl-evencontent">
						<div><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></div>
					</td>
				</tr>
				<tr>

					<td class="tbl-evencontent"><?php echo $this->formLabel('User ID (used for login)*', $this->language->_('User Id (used for login)')); ?><span class="errmsg">*</span></td>
					<td class="tbl-evencontent"><?php echo $this->userId; ?>
						<div class="errmsg"><?= $this->xuserId; ?></div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->language->_('Name'); ?><span class="errmsg">*</span></td>
					<td class="tbl-evencontent">
						<?php echo $this->formLabel('name', $this->language->_($this->name)); ?>
						<!-- <?php echo $this->formText('name', $this->name, array('class' => 'form-control col-md-8', 'maxlength' => '128', 'size' => '20', 'onkeyup' => "javascript:this.value = this.value.toUpperCase();")); ?> -->
						<div class="errmsg"><?= $this->xname; ?></div>
					</td>
				</tr>

				<tr>
					<td class="tbl-evencontent"><?php echo $this->language->_('NIK'); ?><span class="errmsg">*</span></td>
					<td class="tbl-evencontent">
						<?php echo $this->formText('nik', $this->nik, array('class' => 'form-control col-md-8', 'maxlength' => '16', 'size' => '20', 'onkeyup' => "javascript:this.value = this.value.toUpperCase();", 'onkeypress' => 'javascript:return forceNumber(event);')); ?>
						<div class="errmsg"><?= $this->xnik; ?></div>
					</td>
				</tr>


				<tr>
					<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Description'); ?><strong class="formreq">&nbsp;</strong></td>
					<td class="tbl-evencontent" id="tbl-evencontent">


						<?php echo $this->formTextarea('desc', $this->desc, array(
							'class' => 'form-control col-md-8', 'cols' => '30', 'rows' => '4', 'maxlength' => '200',
							'onKeyDown' => 'textCounter(this.form.desc,this.form.desc_len,200)',
							'onKeyUp' => 'textCounter(this.form.desc,this.form.desc_len,200)',
							'onKeypress' => 'return noSpecialChar3(event);'
						));
						echo '<br />';
						echo $this->formText('desc_len', $this->desc_len, array('readonly' => 'readonly', 'size' => '2')); ?> <?php echo $this->language->_('char(s) left'); ?>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent">E-mail<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">
						<?= $this->email; ?>
						<?php
						// echo $this->formLabel('email', $this->email, array('maxlength' => '128', 'class' => 'form-control col-md-8'));
						?>
						<input type="hidden" name="email" value="<?= $this->email; ?>">
						<div class="errmsg"><?= $this->xemail; ?></div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('group', $this->language->_('Group')); ?><span class="errmsg">*</span></td>
					<td class="tbl-evencontent">
						<?php
						$this->arrGroup = array("" => "--- " . $this->language->_('Any Value') . " ---") + $this->arrGroup;
						echo $this->formSelect('groupId', $this->groupId, array('class' => 'form-control col-md-8'), $this->arrGroup);
						?>
						<div class="errmsg"><?= $this->xgroupId; ?></div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('branch', $this->language->_('Branch')); ?><span class="errmsg">*</span></td>
					<td class="tbl-evencontent">
						<?php
						$this->arrBranch = array("" => "--- " . $this->language->_('Any Value') . " ---") + $this->arrBranch;
						echo $this->formSelect('branch', $this->branch, array('class' => 'form-control col-md-8'), $this->arrBranch);
						?>
						<div class="errmsg"><?= $this->xbranch; ?></div>
					</td>
				</tr>
				<tr>
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td class="button-area" id="button-area" colspan="2">
						<div class="formbutton">
							<?php echo $this->formSubmit('update', $this->language->_('Submit'), array('class' => 'btngreen hov')); ?>
							<!--<?php echo $this->formSubmit('update', $this->language->_('Reset'), array('class' => 'inputbtn')); ?>
					--><input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Reset') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'changes_id' => $this->changes_id), null, true) ?>'">
						</div>
					</td>
				</tr>

			</tbody>
		</table>
	</form>
<?php } ?>