<?php $banktable = $this->language->_('Bank Table')?>
<?php $nostrobank = $this->language->_('Nostro Bank')?>

<?php $benefbank = $this->language->_('Beneficiary Bank Name')?>
<?php $nostroname = $this->language->_('Nostro Bank Name')?>
<?php $setfilter = $this->language->_('Set Filter')?>
<?php $clearfilter = $this->language->_('Clear Filter')?>
<?php $print = $this->language->_('Print')?>
<?php $add = $this->language->_('Add')?>


<script type="text/javascript">
  $(document).ready(function(){
    $('div#sidebar-collapse').click(function(){
        if ( $("#logo-title").is(":visible") ) {
          $("#logo-title").hide();
          $("#logo-titles").hide();
        } else if ( $("#logo-title").is(":hidden") ) {
          $("#logo-title").show();
          $("#logo-titles").show();
        }
      });

    $('#fixTable').fixTableHeader();

    $("#searchtable").keyup(function() {
      var value = this.value.toLowerCase().trim();

      $("#myTable tr").each(function(index) {
          if (!index) return;
          $(this).find("td").each(function() {
              var id = $(this).text().toLowerCase().trim();
              var not_found = (id.indexOf(value) == -1);
              $(this).closest('tr').toggle(!not_found);
              return not_found;
          });
      });
    });



});
</script>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Bank Table'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <?php echo $this->language->_('Nostro Bank'); ?>
                  </li>
              </ul>
          </div>
        </div>
</div>

<div class="row content-box">
  <div class="portlet-body form col-md-12">
    <h5><?=$this->language->_('Nostro Bank')?></h5>


<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">


<?php
  $optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
  foreach($this->filterlist as $row){
    $optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
  }

  ?>
  <div class="row " id="logo-titles" style="margin-left: 0px">
      <?php
      if(!empty($this->wherecol)){
        ?>
        <script type="text/javascript">
          $(document).ready(function(){
          $("#logo-title").show();
        });

        </script>
        <?php
      }
      // print_r($this->wherecol);
      // print_r($this->whereval);
      foreach ($this->wherecol as $key => $value) {
        pri
        ?>
          <div id="searchs" style="width: 100%">
                    <?php
                        $datetype = array("NOSTRO_ID","CCY");
                        $selectlist = array();
                        $index = 0;
            // if(in_array($value, $selectlist)){

            // }else{
            //  $index++;
            // }


                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$ctr?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($value==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]' >

                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div> 
                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'>
                                        <script type="text/javascript">
                                          $(document).ready(function(){
                                          var colval = "#colvalue-s<?=$key?>";
                                          var colomnname = "<?=$value?>";
                                          // var colselect= "<?=$value?>";
                                          var colselect = "colselect-s<?=$key?>";
                          var ncolselect = "#colselect-s<?=$key?>";
                                          if(colomnname == 'NOSTRO_ID'){
                              // alert(<?=$index?>);
                                  $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

                                  var id = $("#tablename").find(":selected").val();
                                  $.ajax({
                                  url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'nostro'),null,true)?>",
                                  type: 'GET',
                                  dataType: "html",
                                  data: {
                                      id: '<?=$this->whereval[$key]?>'
                                  },
                                  success: function(data) {
                                      $(ncolselect).html(data);
                                  },
                                  error: function(xhr, ajaxOptions, thrownError)
                                  {
                                      alert("Failed to get where column list, please try again");
                                  }
                              });

                                  $(colselect).val('<?=$this->whereval[$index]?>');

                          }else if(colomnname == 'CCY'){
                              // alert(<?=$index?>);
                                  $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

                                  var id = $("#tablename").find(":selected").val();
                                  $.ajax({
                                  url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'ccy'),null,true)?>",
                                  type: 'GET',
                                  dataType: "html",
                                  data: {
                                      id: '<?=$this->whereval[$key]?>'
                                  },
                                  success: function(data) {
                                      $(ncolselect).html(data);
                                  },
                                  error: function(xhr, ajaxOptions, thrownError)
                                  {
                                      alert("Failed to get where column list, please try again");
                                  }
                              });

                                  $(colselect).val('<?=$this->whereval[$index]?>');

                          }
                      });



                                        </script>
                                      <?php


                                          // print_r($selectlist);
                                          if($value == 'SUGEST_DATE'){
                                          // var_dump($this->whereval);die;
                                          ?>
                                          <input type='text' class='form-control' name='sugestdate[]' id='sugestStart' readonly value="<?=$this->fDateFrom?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='sugestdate[]' id='sugestEnd' value="<?=$this->fDateTo?>" readonly required>
                                          <?php
                                          }else if(in_array($value, $selectlist)){
                                            // die;

                                          ?>
                                            <input class='form-control' type='text'  name='whereval[]' value='<?=$this->whereval[$key]?>' style="width:100%"/>
                                          <?php }else{

                                            // if(!empty($this->wherecol[]))
                                            // die;

                          // print_r($value);die;
                          // print_r($dataType);die;
                          $index++;
                          // print_r($index);
                        }
                                           ?>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>

                </div>

        <?php
      }
      ?>

  </div>


  <div class="row " id="logo-title" style="display: none">
  <div class="portlet-body form col-md-12">
   <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($val==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>

                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?=$ctr?>'>
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value=''/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    <?php //}}?>
                </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
                <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
                &nbsp;
        <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">


                <br/>


                      <div class="portlet-body form" style="display: none">

                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
                                                            <div class="col-md-4">
                                                            <?php echo $this->formSelect('paymentType',$this->paymentType,array('id'=>'paymentType','class'=>'form-control','onclick'=>'changeTransferType()'), $this->optPayType); ?>
                                                            </div>
                                                            <label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
                                                            <div class="col-md-3">
                                                            <select name = "transferType" id = "transferType" class="form-control">
                                                      <option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
                                                    </select>
                                                            </div>
                                                 </div>

                                                 <div class="form-group row ">

                                                            <div class="col-md-12">
                                                            <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btn btn-success')); ?>&nbsp;
                                                    <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                                                            </div>
                                                 </div>


                               </div>
                               </div>
            <div class="col-md-4">
            </div>

  </div>
  <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
       <a href="#" class="sidebar-collapse-icon with-animation">
           <?php echo $this->language->_('Advanced Search'); ?>
       </a>
   </div>

</form>
  </div>
</div>

<div class= "row">
  <div class="col-md-12">

<table align="left" cellpadding="5">
  <tr style="height:30px">
    <td colspan="12" align="CENTER">
      <form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?> method="post">
        <?php
          if($this->hasPrivilege('NBAD'))
          {
            // $buttonNew = $this->url(array('module'=>$this->modulename,'controller'=>'new','action'=>'index'),null,true);
            // $buttonNew = ' <input type="button" class="btngreen hov" value='.$add.' onclick="location.href=\''.$buttonNew.'\'">';
            // echo $buttonNew;
           echo( "<button class='btngrad hov'  type='button' onclick= \"location.href='/nostrobank/new'\"><i class='fa fa-plus'></i>&nbsp;".$this->language->_("Add")."</button>");
          }
          else{
             echo( "<button class='btngrad disabled'  type='button' onclick= \"location.href='/nostrobank/new'\"><i class='fa fa-plus'></i>&nbsp;".$this->language->_("Add")."</button>");
          }
        ?>


      </form>
    </td>
  </tr>
</table>


<!---------------------------CSV & PDF ------------------------------------------------------------------>
<table align="right">
  <tr style="height:30px">
      <form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?> method="post">
    <td colspan="12" align="CENTER">

        <?php
              //jika jumlah paging lbh besar dari max page di setting, maka tombol pdf disable
              // if(count($this->paginator) > $this->applicationSetting['max_page_download_pdf'])
              // {
              //            echo $this->formSubmit('pdf','  PDF is too large (function is disabled)',array('class'=>'btnwhite disabled','disabled'=>'disabled')) . '&nbsp';
              //         }
              // else  {}
              // echo $this->formSubmit('pdf','PDF',array('class'=>'btngreen hov'));
         ?>


        <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa hov">'; ?>
<!--        <input class="inputbtn"  value="<?php echo $print?>" onclick="window.print();" type="button">-->
        <?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {
          echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;'. $this->language->_("Print").'</button>';
        }
        else{
        ?>
          <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print")?></button>&nbsp;
        <?php
        }
        ?>
      </form>
    </td>
    <td>
      <div class="input-group input-group-sm">
      <div class="input-group-prepend">
            <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
          </div>
      <input type="text" class="search form-control" id="searchtable" placeholder="Search">
    </div>
    </td>
  </tr>
</table>
<!---------------------------END CSV & PDF ---------------------------------------------------------->

      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
          <?php if($this->success){ ?>
          <div class="successmsg"><?=$this->report_msg?></div><br />
          <?php }else if($this->error){ ?>
          <div class="errmsg"><?=$this->report_msg?></div><br />
          <?php } ?>
        </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
      <td class="contentarea" id="contentarea">

<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
<table class="table table-sm table-striped" id="myTable">
<thead>
    <tr>
      <th class="tablehead" width="4%" valign="top">No</th>
      <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
                    )?>
    <th class="tablehead" width="15%" valign="top" colspan="2" style="text-align: center;"><?php echo $this->language->_('Action');?></th>
    </tr>
</thead>
<tbody>

    <?php
  $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

    if(count($this->paginator) > 0)
    {
          $i=0;

        foreach($this->paginator as $row)
        {

        $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

        if($this->hasPrivilege('NBUD'))
      {
          $delete = $this->url(array('module'=>$this->modulename,'controller'=>'delete','action'=>'index','nostroid'=>$row['NOSTRO_ID']),null,true);
           $delete = '<button  class="btnround"><a href="javascript:confirmation(\' '.$this->language->_('Are you sure want to delete this Nostro Bank?').'\',\''.$delete.'\');"><i class="fa fa-trash" style="color:#ffffff"></i></a></button>';

           // $edit   = '<button class="btnround"><a href="'.$this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','nostroid'=>$row['NOSTRO_ID']),null,true).'"><i class="fa fa-edit" style="color:#ffffff"></i></a></button>';
           $edit   = '<a class="btnround" href="'.$this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','nostroid'=>$row['NOSTRO_ID']),null,true).'"><i class="fa fa-edit" style="color:#ffffff"></i></a>';
           // $edit   = '<button class="btnround"><a href="'.$this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','bank_id'=>$row['BANK_ID']),null,true).'"><i class="fa fa-edit" style="color:#ffffff"></i></a></button>';

      }
      else{
          $delete = $this->url(array('module'=>'notification','controller'=>'notauthorized','action'=>'index','nostroid'=>$row['NOSTRO_ID']),null,true);
          $delete = '<button  class="btnround" disabled><a href="javascript:confirmation(\' '.$this->language->_('Are you sure want to delete this Branch Bank?').'\',\''.$delete.'\');"><i class="fa fa-trash" style="color:#ffffff"></i></a></button>';

          $edit   = '<button class="btnround" disabled><a href="'.$this->url(array('module'=>'notification','controller'=>'notauthorized','action'=>'index','nostroid'=>$row['NOSTRO_ID']),null,true).'"><i class="fa fa-edit" style="color:#ffffff"></i></a></button>';
      }





        echo '<tr>
          <td class="'.$td_css.'">'.$counter.'</td>';
      foreach($this->fields as $field)
      {
        if($field['field'] == 'CREATED' || $field['field'] == 'UPDATED')
          echo '<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row[$field['field']],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>';
        else
          echo '<td class="'.$td_css.'">'.$row[$field['field']].'</td>';

      }

      echo '<td class="'.$td_css.' pl-3 row">'.$edit . ' &nbsp; &nbsp ' . $delete.'</td>';
      // die('here');
          '</tr>';


      $i++;
            $counter++;
          }
  }
  else
  {
     echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> - '.$this->language->_('No Data').' - </td></tr>';
  }
?>
</tbody>
</table>
</div>


<br />


<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />



  </div>
</div>



<script type="text/javascript">
function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
$(document).ready(function(){

$("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-"+ctr+"' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>"+optstr+"</select></div><div style='display:none'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-"+ctr+"'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);
    });
});
  function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
  var $coll = $( '.event_select' );
    $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });

    $(colval).empty();
    if(colomnname == 'NOSTRO_ID'){

            $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'nostro'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'CCY'){

            $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'ccy'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else{
         $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>
