<!DOCTYPE html>
<?php
require_once 'Crypt/AESMYSQL.php';

$ns = new Zend_Session_Namespace('language');
$sessionLanguage = $ns->langCode;

$auth = Zend_Auth::getInstance()->getIdentity();

if ($auth->_userTheme == 'green') {
  $imagePath = "/images/greentheme/";
} elseif ($auth->_userTheme == 'dark') {
  $imagePath = "/images/darkmodetheme/";
} else {
  $imagePath = "/images/bluetheme/";
}

if ($sessionLanguage == 'id') {
  $imgview = "id.png";
  $imgselect = "en.png";
  $link = "/default/index/index/lang/en";
  $alt = "Switch to English";
} else {
  $imgview = "en.png";
  $imgselect = "id.png";
  $link = "/default/index/index/lang/id";
  $alt = "Ganti ke Bahasa Indonesia";
}

Zend_Loader::loadClass('Zend_Translate');

$frontendOptions = array(
  'cache_id_prefix' => 'MyLanguage',
  'lifetime' => 86400,
  'automatic_serialization' => true
);
$backendOptions = array('cache_dir' => APPLICATION_PATH . '/../../library/data/cache/language/frontend');
$cache = Zend_Cache::factory('Core', 'File', $frontendOptions, $backendOptions);
Zend_Translate::setCache($cache);

$translate = new Zend_Translate('tmx', APPLICATION_PATH . '/../../library/data/languages/frontend/language.tmx', $sessionLanguage);
// Zend_Debug::dump($translate);
Zend_Registry::set('language', $translate);
?>
<?php
$app = Zend_Registry::get('config');
$appBankname = $app['app']['bankname'];
$app = $app['app']['bankcode'];
// resources.frontController.params.displayExceptions
$displayerror = $app['resources']['frontController']['params']['displayExceptions'];
$displayerror = 0;



if (Zend_Registry::isRegistered('language'))
  $language = Zend_Registry::get('language');
// echo '<pre>';
// print_r($language);die;
// echo $this->language->_('On Us Valas');
$time = date('Y-m-d H:i:s');
?>

<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://sgohelp.zendesk.com https://static.geetest.com https://www.youtube.com; style-src 'self' 'unsafe-inline' https://dn-staticdown.qbox.me https://static.geetest.com; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://maps.googleapis.com https://static.geetest.com https://api.geetest.com https://*.geetest.com https://ekr.zdassets.com https://static.zdassets.com; img-src 'self' data: https://static.geetest.com https://maps.gstatic.com https://api.qrserver.com; connect-src 'self' https://ekr.zdassets.com https://sgohelp.zendesk.com wss://widget-mediator.zopim.com; media-src 'self' https://static.zdassets.com;"> -->

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" type="image/png" href="/head-icon-btn.ico">
  <!-- <link rel="icon" type="image/png" href="/sgo.ico"> -->
  <!-- <script id="ze-snippet" src="/js/snippet.js?key=7ffa2056-2132-42f3-aef3-a253ed1f91f7"> </script>  -->


  <style type="text/css">
    .wrapper {
      position: relative
    }

    i.iconins {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 2
    }

    .file-select-name {
      position: absolute;
    }

    @media print {
      .hiddenprint {
        display: none
      }
    }

    #loader {
      position: fixed;
      /*background-color: white;*/
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url('/images/loader-btn.png') 50% 50% no-repeat white;
      /* background: url('/images/loader.gif') 50% 50% no-repeat white; */
    }

    .container-fluid {
      padding-bottom: 0 !important
    }

    .grid {
      position: relative;
      background-color: #fff
    }

    .actived {
      background-color: #004315;
      color: #fff
    }

    .item.muuri-dragging {
      z-index: 3
    }

    .item.muuri-releasing {
      z-index: 2
    }

    .item.muuri-hidden {
      z-index: 0
    }

    .item-content {
      position: relative;
      width: 100%;
      height: 100%
    }

    .Path-83 {
      position: fixed;
      bottom: 0;
      right: 0
    }

    .Path-85 {
      position: fixed;
      bottom: 0;
      left: 0
    }

    .selected {
      background: #ccc
    }

    .limenu:hover {
      color: #fff !important;
      background: #368224
    }

    .fixed-top {
      background-color: #fff !important
    }

    div.sticky {
      position: fixed;
      z-index: 1;
    }

    .float-footer {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 40px;
      right: 40px;
      background-color: #25d366;
      color: #FFF;
      border-radius: 50px;
      text-align: center;
      font-size: 30px;
      box-shadow: 2px 2px 3px #999;
      z-index: 100;
    }

    .float-footer:hover {
      color: #FFF;
    }

    @media (max-width: 768px) {
      div.sticky {
        position: relative;
        z-index: 0;
      }
    }
  </style>



  <!-- Fontawesome icon -->
  <link href="/css/font-awesome.min.css" rel="stylesheet">

  <?php

  $currentDate = new Zend_Date();
  echo '<script type="text/javascript">
var currenttime = "' . $currentDate->toString() . '"
</script>';

  echo $this->headMeta()->appendHttpEquiv('Pragma', 'no-cache');
  echo $this->headMeta()->appendHttpEquiv('Cache-Control', 'no-cache');

  // echo $this->headTitle('Corporate')->setSeparator(' | ')->headTitle('eBank Garansi BTN');
  echo $this->headTitle('Corporate')->setSeparator(' | ')->headTitle('eBank Garansi');
  //  $this->headLink()->appendStylesheet($this->baseUrl('../css/allcss.css'));
  $this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/css/bootstrap.min.css'));

  // if ($auth->_userTheme == 'green') {
  //   $this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/css/stylegreen.css'));
  //   $this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/css/customgreen.css'));
  // } elseif ($auth->_userTheme == 'dark') {
  //   $this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/css/styledark.css'));
  //   $this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/css/customdark.css'));
  // } else {
  //   $this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/css/styleblue.css'));
  //   $this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/css/customblue.css'));
  // }

  $this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/css/styleblue.css'));
  $this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/css/customblue.css'));

  // $this->headLink()->appendStylesheet($this->baseUrl('../css/bootstrap-select.min.css'));
  $this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/css/gijgo.min.css'));
  $this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/icons/css/all.css'));
  $this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/css/select2css/select2.min.css'));


  //$this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/css/globalstyle.css'));


  //$this->headLink()->appendStylesheet($this->baseUrl('../styles/kendo.common.min.css'));
  //$this->headLink()->appendStylesheet($this->baseUrl('../styles/kendo.metro.min.css'));
  //$this->headLink()->appendStylesheet($this->baseUrl('../styles/kendo.metro.mobile.min.css'));

  // $this->headLink()->appendStylesheet($this->baseUrl('../scroll/css/rocketScroll.css'));


  //$this->headScript()->appendFile($this->baseUrl('../js/jquery-3.3.1.min.js'));
  $this->headScript()->appendFile($this->baseUrl('../js/jquery-3.6.3.min.js'));

  //$this->headScript()->appendFile($this->baseUrl('../js/chart.min.js'));
  //$this->headScript()->appendFile($this->baseUrl('../js/jquery.nicescroll.min.js'));
  //$this->headScript()->appendFile($this->baseUrl('../js/popper.min.js'));

  /*
$this->headScript()->appendFile($this->baseUrl('../js/popper.js'));
$this->headScript()->appendFile($this->baseUrl('../js/bootstrap.min.js'));
$this->headScript()->appendFile($this->baseUrl('../js/jquery.form.min.js'));
*/

  //$this->headScript()->appendFile($this->baseUrl('../js/gijgo.min.js'));






  // $this->headScript()->appendFile($this->baseUrl('../assets/themes/assets/newlayout/js/jquery-3.3.1.min.js'));
  // $this->headScript()->appendFile($this->baseUrl('../assets/themes/assets/newlayout/js/chart.js'));


  // $this->headScript()->appendFile($this->baseUrl('../js/jquery.min.js'));
  // $this->headScript()->appendFile($this->baseUrl('../js/kendo.all.min.js'));
  //   $this->headScript()->appendFile($this->baseUrl('../js/jquery.nicescroll.min.js'));


  // $this->headScript()->appendFile($this->baseUrl('../assets/themes/assets/newlayout/js/popper.min.js'));

  // $this->headScript()->appendFile($this->baseUrl('../assets/themes/assets/newlayout/js/bootstrap.min.js'));

  // // $this->headScript()->appendFile($this->baseUrl('../js/bootstrap-select.min.js'));

  // $this->headScript()->appendFile($this->baseUrl('../assets/themes/assets/newlayout/js/jquery.form.js'));

  // $this->headScript()->appendFile($this->baseUrl('../assets/themes/assets/newlayout/js/gijgo.min.js'));

  // $this->headScript()->appendFile($this->baseUrl('../assets/themes/assets/newlayout/js/jQuery.fixTableHeader.js'));

  // $this->headScript()->appendFile($this->baseUrl('../assets/themes/assets/newlayout/js/cleave.min.js'));
  //$this->headScript()->appendFile($this->baseUrl('../assets/themes/assets/newlayout/js/croppie.js'));


  // $this->headScript()->appendFile($this->baseUrl('../muri/hammer.min.js'));
  // $this->headScript()->appendFile($this->baseUrl('../muri/web-animations.min.js'));
  // $this->headScript()->appendFile($this->baseUrl('../muri/muuri.min.js'));
  //  $this->headScript()->appendFile($this->baseUrl('../anggular/cropper.js'));
  //   $this->headScript()->appendFile($this->baseUrl('../anggular/jquery.facedetection.min.js'));

  // // $this->headScript()->appendFile($this->baseUrl('../scroll/js/rocketHelpers.js'));
  // // $this->headScript()->appendFile($this->baseUrl('../scroll/js/rocketScroll.js'));
  // // $this->headScript()->appendFile($this->baseUrl('../scroll/js/demo.js'));
  // $this->headScript()->appendFile($this->baseUrl('../assets/themes/assets/newlayout/js/webcam.min.js'));


  // $this->headScript()->appendFile($this->baseUrl('../js/global.js'));

  //$this->headScript()->appendFile($this->baseUrl('../keyboard/docs/js/jquery-latest-slim.min.js'));
  //$this->headScript()->appendFile('/keyboard/docs/js/jquery-migrate-3.1.0.min.js');
  /*  $this->headScript()->appendFile($this->baseUrl('../keyboard/docs/js/jquery-ui-custom.min.js'));
$this->headScript()->appendFile($this->baseUrl('../keyboard/js/jquery.keyboard.js'));
$this->headScript()->appendFile($this->baseUrl('../keyboard/js/jquery.mousewheel.js'));
$this->headScript()->appendFile($this->baseUrl('../keyboard/js/jquery.keyboard.extension-typing.js'));
$this->headScript()->appendFile($this->baseUrl('../keyboard/js/jquery.keyboard.extension-autocomplete.js'));
$this->headScript()->appendFile($this->baseUrl('../keyboard/js/jquery.keyboard.extension-caret.js'));
$this->headScript()->appendFile($this->baseUrl('../keyboard/docs/js/bootstrap.min.js'));
$this->headScript()->appendFile($this->baseUrl('../keyboard/docs/js/demo.js'));
$this->headScript()->appendFile($this->baseUrl('../keyboard/docs/js/jquery.tipsy.min.js'));
$this->headScript()->appendFile($this->baseUrl('../keyboard/docs/js/prettify.js'));





// $this->headLink()->appendStylesheet('/keyboard/docs/css/demo.css');
$this->headLink()->appendStylesheet($this->baseUrl('../keyboard/docs/css/tipsy.css'));
$this->headLink()->appendStylesheet($this->baseUrl('../keyboard/docs/css/prettify.css'));
$this->headLink()->appendStylesheet($this->baseUrl('../keyboard/docs/css/jquery-ui.min.css'));
$this->headLink()->appendStylesheet($this->baseUrl('../keyboard/css/keyboard.css'));
*/
  $this->headScript()->appendFile($this->baseUrl('../js/allJs.php'));
  $this->headScript()->appendFile($this->baseUrl('../js/allJspart.min.php'));
  $this->headScript()->appendFile($this->baseUrl('../js/allJs.min.php'));
  $this->headScript()->appendFile($this->baseUrl('../js/aes.js?ref=' . $randomTransact));

  $this->headScript()->appendFile($this->baseUrl('../assets/themes/assets/newlayout/js/select2js/select2.min.js'));


  if (Zend_Auth::getInstance()->hasIdentity()) {


    /*  $this->headLink()->appendStylesheet($this->baseUrl('../css/amsify.suggestags.css'));
$this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/css/gijgo.min.css'));
$this->headLink()->appendStylesheet($this->baseUrl('../anggular/cropper.css'));

$this->headScript()->appendFile($this->baseUrl('../js/chart.min.js'));
$this->headScript()->appendFile($this->baseUrl('../js/jquery.nicescroll.min.js'));
$this->headScript()->appendFile($this->baseUrl('../js/gijgo.min.js'));
$this->headScript()->appendFile($this->baseUrl('../js/jQuery.fixTableHeader.min.js'));
$this->headScript()->appendFile($this->baseUrl('../js/cleave.min.js'));
$this->headScript()->appendFile($this->baseUrl('../js/croppie.min.js'));
$this->headScript()->appendFile($this->baseUrl('../js/muri/hammer.min.js'));
$this->headScript()->appendFile($this->baseUrl('../js/muri/web-animations.min.js'));
$this->headScript()->appendFile($this->baseUrl('../js/muri/muuri.min.js'));
$this->headScript()->appendFile($this->baseUrl('../js/cropper.min.js'));
$this->headScript()->appendFile($this->baseUrl('../js/webcam.min.js'));
$this->headScript()->appendFile($this->baseUrl('../js/global.min.js'));
$this->headScript()->appendFile($this->baseUrl('../js/ddsmoothmenu.min.js'));
echo $this->headScript();
echo $this->headLink();
*/
    $this->headScript()->appendFile($this->baseUrl('../js/sgo/custom.js?v=1.2'));

    $frontendOptions = array(
      'lifetime' => 86400,
      'automatic_serialization' => true
    );
    $backendOptions = array('cache_dir' => LIBRARY_PATH . '/data/cache/latesttrans/'); // Directory where to put the cache files
    $cache = Zend_Cache::factory('Core', 'File', $frontendOptions, $backendOptions);

    $cacheID = 'LT' . $auth->custIdLogin . $auth->userIdLogin;

    if ($dataTrans != $cache->load($cacheID)) {
      $config = Zend_Registry::get('config');
      $paymenttype = $config['payment']['type'];
      $arrPayType   = array_combine($paymenttype["code"], $paymenttype["desc"]);

      $casePayType = "(CASE P.PS_TYPE ";
      foreach ($arrPayType as $key => $val) {
        $casePayType .= " WHEN " . $key . " THEN '" . $val . "'";
      }
      $casePayType .= " END)";

      $db = Zend_Db_Table::getDefaultAdapter();
      //$dataTrans = array();

      $select = $db->select()
        ->from(array('P' => 'T_FACTIVITY'), array('*'))
        // ->join(array('T' => 'T_TRANSACTION'), 'P.PS_NUMBER = T.PS_NUMBER', array())
        // ->joinLeft(array('M' => 'M_SERVICE_PROVIDER'), 'P.PS_BILLER_ID = M.PROVIDER_ID', array('P.PS_NUMBER', 'PAYMENT_TYPE' => $casePayType, 'T.BENEFICIARY_ACCOUNT', 'P.PS_CCY', 'P.PS_TOTAL_AMOUNT', 'M.PROVIDER_NAME', "T.TRANSACTION_ID"))
        ->where('P.CUST_ID = ?', $auth->custIdLogin)
        ->where('P.USER_ID = ?', $auth->userIdLogin)
        // ->where('P.PS_STATUS = 5')
        // ->where('T.TRA_STATUS = 3')
        ->order('P.LOG_DATE DESC')
        ->limit(2);

      //     $select2 = $db->select()
      // 			        ->from(array('B' => 'T_FACTIVITY'),array())
      // 					->joinleft(array('C' => 'M_FPRIVILEGE'),'B.ACTION_DESC = C.FPRIVI_ID',array('B.LOG_DATE',
      // 						'B.USER_ID',
      // 						'FPRIVI_DESC' => new Zend_Db_Expr("(CASE B.ACTION_DESC 
      // 						  								   	WHEN 'FLGN' THEN 'Login' 
      // 						  									WHEN 'FLGT' THEN 'Logout' 
      // 						  									WHEN 'CHMP' THEN 'Change My Password' 
      // 						  									WHEN 'RFPW' THEN 'Reset Forgot Password' 
      // 						  									ELSE C.FPRIVI_DESC 
      // 						  									END)"),
      // 						'B.ACTION_FULLDESC'))
      // 					->joinLeft(array('D' => 'M_USER'),'D.USER_ID = B.USER_ID',array('USER_FULLNAME'))
      // 					->order('B.LOG_DATE DESC');
      // $select2 -> where('B.CUST_ID = ?'.$auth->custIdLogin) ->limit(2);

      $dataTrans = $db->fetchAll($select);



      // encrypt ps number ----------------------------------------------------------

      $setting = new Settings();
      $enc_pass = $setting->getSetting('enc_pass');
      $enc_salt = $setting->getSetting('enc_salt');
      $sessionNamespace = new Zend_Session_Namespace('Tokenenc');
      $pw_hash = md5($enc_salt . $enc_pass);
      $rand = $this->_userIdLogin . date('dHis') . $pw_hash;
      $sessionNamespace->token   = $rand;
      $this->view->token = $sessionNamespace->token;

      foreach ($dataTrans as $key => $value) {

        $get_transaction_id = $value["TRANSACTION_ID"];
        $get_ps_number = $value["PS_NUMBER"];

        $AESMYSQL = new Crypt_AESMYSQL();
        $rand = $this->token;

        $encrypted_payreff = $AESMYSQL->encrypt($get_transaction_id, $rand);
        $encrypted_payreff2 = $AESMYSQL->encrypt($get_ps_number, $rand);

        $encpayreff = urlencode($encrypted_payreff);
        $encpayreff2 = urlencode($encrypted_payreff2);

        $dataTrans[$key]["TRANSACTION_ID_ENCRYPTED"] = $encpayreff;
        $dataTrans[$key]["PS_NUMBER_ENCRYPTED"] = $encpayreff2;
      }

      // ----------------------------------------------------------------------------------------------


      $cache->save($dataTrans, $cacheID);
    }
    $db = Zend_Db_Table::getDefaultAdapter();
    $selectnotice = $db->select()
      ->from(array('P' => 'T_HELP'), array('*'))
      ->order('P.HELP_ID DESC')
      ->limit(3);
    // echo $selectnotice;die;
    $datanotice = $db->fetchAll($selectnotice);

    $timeout = $auth->allSetting['timeoutafter'] * 1000;
  ?>

    <script type="text/javascript">
      var t = setTimeout("window.location = '/index/logout/session/1';", <?PHP echo $timeout; ?>);


      // $(document).ready(function() {

      // });

      // $(window).on('load', function () {
      //   $("#pageComplete").html( (Date.now()-timerStart) / 1000 + 'seconds');
      // });
    </script>
  <?php
  }
  echo $this->headScript();
  echo $this->headLink();
  ?>

  <?php if (Zend_Auth::getInstance()->hasIdentity()) { ?>
    <?php
    $db = Zend_Db_Table::getDefaultAdapter();

    $select = $db->select()
      ->from('M_USER')
      ->where('USER_ID = ?', $auth->userIdLogin)
      ->limit(1);

    $results = $select->query()->fetchAll();
    ?>
</head>

<body style="margin-bottom: 0px!important;">
  <?php //die; 
  ?>


  <div id="loader"></div>


  <script type="text/javascript">
    $(document).ready(function() {
      // alert();
      // var timerStart = $GLOBALS['start_time'];
      // $("#domready").html( (Date.now()-timerStart) / 1000 + 'seconds');

      var grid = new Muuri('.gridleft', {
        layout: {
          fillGaps: true
        },
        dragEnabled: true,
        dragSortPredicate: {
          threshold: 50,
          action: 'swap'
        }
      });
    });
  </script>


  <nav class="navbar navbar-expand-md fixed-top blur headerNew" style="background: #fcda31 !important">
    <!-- <?php

          if ($auth->_userTheme == 'green') {
            $imagePath = "/images/greentheme/";
          ?>
<a href="/home/dashboard"><img class="navbar-brand hiddenprint" src="<?php echo $imagePath ?>/logosgo_small_2.png" width="150" /></a>
<?php
          } elseif ($auth->_userTheme == 'dark') {
            $imagePath = "/images/darkmodetheme/";
?>
<a href="/home/dashboard"><img class="navbar-brand hiddenprint" src="<?php echo $imagePath ?>/Logo_white.png" width="150" /></a>
<?php
          } else {
            $imagePath = "/images/bluetheme/";
?>
<a href="/home/dashboard"><img class="navbar-brand hiddenprint" src="<?php echo $imagePath ?>/logosgo_small_2.png" width="150" /></a>
<?php
          }

?> -->

    <a href="/home/dashboard"><img class="navbar-brand hiddenprint" src="/images/logo/logo-btn.png" width="150" /></a>
    <!-- <a href="/home/dashboard"><img class="navbar-brand hiddenprint" src="/images/logo/logosgo_small_2.png" width="150" /></a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><strong><i class="fa fa-bars"></i></strong></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="nav navbar-nav navbar-all-text">
        <!-- Search Box -->
        <li class="nav-item search-box pt-3 mr-3 hiddenprint">
          <!-- <form class="form-inline"> -->
          <div class="input-group input-group-sm">
            <!-- <div class="input-group-prepend">
<span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
</div> -->
            <!-- <input type="text" class="form-control navbar-search-box" id="search-box" placeholder="Find by keywords" aria-describedby="search" size="35"> -->
            <input type="hidden" id="navi" id="navi" value="1">
            <div id="suggesstion-box" style="position: fixed;top: 60px;margin-left: 26px;background-color: whitesmoke;width: 23%;"></div>
            <script type="text/javascript">
              var montharray = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")
              var serverdate = new Date(currenttime)

              function padlength(what) {
                var output = (what.toString().length == 1) ? "0" + what : what
                return output
              }

              function displaytime() {

                serverdate.setSeconds(serverdate.getSeconds() + 1)
                var timestring = padlength(serverdate.getHours()) + ":" + padlength(serverdate.getMinutes()) + ":" + padlength(serverdate.getSeconds())
                // console.log(currenttime);
                document.getElementById("cdcontainer").innerHTML = timestring

                var hr = Number(serverdate.getHours());
                var iconsrc;
                var greeting;
                // alert(hr);
                if (hr < 12) {
                  greeting = "Morning";
                  iconsrc = "/assets/themes/assets/newlayout/img/sunrise.png";
                } else if (hr >= 12 && hr <= 18) {
                  greeting = "Afternoon";
                  iconsrc = "/assets/themes/assets/newlayout/img/cloudy.png";
                } else {
                  greeting = "Evening";
                  iconsrc = "/assets/themes/assets/newlayout/img/cloudy-night.png";
                }

                document.getElementById("greetings").innerHTML = greeting;
                document.getElementById("timeicon").innerHTML = '<img src="' + iconsrc + '" width="30"/> ';
              }

              //window.onload=function(){
              setInterval("displaytime()", 60000)
              //}

              $(document).ready(function() {
                // alert(window.screen.availHeight);
                $("#search-box").blur(
                  function(event) {
                    // $("#suggesstion-box").hide();
                  }
                );
                $("#search-box").keyup(function(e) {

                  if (e.which != 40) {
                    // alert();

                    if (e.which == 13) {
                      // alert();
                      if ($("#suggesstion-box li.actived").length != 0) {
                        // alert();
                        var storeTarget = $('#suggesstion-box').find("li.actived").next();
                        var storeTargeta = $('#suggesstion-box').find("a.actived").next();
                        // console.log(storeTargeta);

                        var url = $("#suggesstion-box li.actived").attr("data-url");
                        // alert(url);
                        if (url != '') {
                          window.location.href = url;
                        }


                        // $("#search-box").focus();
                      }
                    }

                    $("#suggesstion-box").show();
                    $.ajax({
                      url: "<?= $this->url(array('module' => 'home', 'controller' => 'searchmenu', 'action' => 'index'), null, true) ?>",
                      type: 'GET',
                      dataType: "html",
                      data: {
                        id: $("#search-box").val(),
                      },
                      success: function(data) {
                        $("#suggesstion-box").html(data);
                        // "#suggesstion-box"
                      },
                      error: function(xhr, ajaxOptions, thrownError) {
                        alert("Failed to get where column list, please try again");
                      }
                    });
                    $("#navi").val('0');
                  } else {

                    // alert();
                    if ($("#suggesstion-box li.actived").length != 0) {
                      // alert();
                      var storeTarget = $('#suggesstion-box').find("li.actived").next();
                      var storeTargeta = $('#suggesstion-box').find("a.actived").next();
                      // console.log(storeTargeta);
                      $("#suggesstion-box a.actived").removeClass("actived");
                      $("#suggesstion-box li.actived").removeClass("actived");

                      storeTarget.focus().addClass("actived");
                      storeTargeta.focus().addClass("actived");
                      $("#search-box").focus();
                    } else {
                      // alert();
                      $('#suggesstion-box').find("li:first").focus().addClass("actived");
                      $('#suggesstion-box').find("a:first").focus().addClass("actived");
                      $("#search-box").focus();
                    }
                    // document.getElementByClassName("li.searchmenu").focus();
                  }




                });

                $('.container-fluid').click(function() {
                  $("#suggesstion-box").hide();
                });
                $('.navbar').click(function() {
                  $("#suggesstion-box").hide();
                });


                // var $listItems = $('li');

                // $('#search-box').keydown(function(e)
                // {
                //     var key = e.keyCode,
                //         $selected = $listItems.filter('.selected'),
                //         $current;

                //     if ( key != 40 && key != 38 ) return;

                //     $listItems.removeClass('selected');

                //     if ( key == 40 ) // Down key
                //     {
                //       // alert();
                //         if ( ! $selected.length || $selected.is(':last-child') ) {
                //             $current = $listItems.eq(0);
                //         }
                //         else {
                //             $current = $selected.next();
                //         }
                //     }
                //     else if ( key == 38 ) // Up key
                //     {
                //         if ( ! $selected.length || $selected.is(':first-child') ) {
                //             $current = $listItems.last();
                //         }
                //         else {
                //             $current = $selected.prev();
                //         }
                //     }
                //     console.log($current);
                //     $current.addClass('selected');
                // });

                // var li = $('.limenu');
                //         var liSelected;
                // $("#search-box").one("keypress", function () {
                //   alert();
                //     $( ".limenu" ).first().addClass('selected');
                // });
                // $("#search-box").keydown(function(e){

                //   // alert();

                //   // alert(nav);
                //     if(e.which === 40){
                //       // alert();
                //       var nav = $("#navi").val();
                //       if(nav=='1'){
                //             $( ".limenu" ).first().addClass('selected');
                //       }
                //       // a = parseInt(a, nav);
                //       // if(nav != 0){
                //         var naxtnav = parseInt(nav)+1;
                //         $("#navi").val(naxtnav);
                //       // }

                //         if(liSelected){
                //           console.log(liSelected);
                //             liSelected.removeClass('selected');
                //             next = liSelected.next('.limenu');

                //             // if(next.length > 0){
                //                 liSelected = next.addClass('selected');
                //                 // alert();
                //             // }else{
                //             //     liSelected = li.eq(0).addClass('selected');
                //             // }
                //         }else{
                //             liSelected = li.eq(0).addClass('selected');
                //         }
                //     }else if(e.which === 38){
                //       var nav = $("#navi").val();
                //       if(nav=='1'){
                //             $( ".limenu" ).first().addClass('selected');
                //       }
                //       // a = parseInt(a, nav);
                //       if(nav != 0){
                //         // alert();
                //         var naxtnav = parseInt(nav)-1;
                //         $("#navi").val(naxtnav);
                //       }
                //       // alert();
                //         if(liSelected){
                //             // liSelected.removeClass('selected');
                //             next = liSelected.prev();
                //             // console.log(next);
                //             if(next.length > 0){
                //                 liSelected = next.addClass('selected');
                //             }else{
                //                 liSelected = li.last().addClass('selected');
                //             }
                //         }else{
                //             liSelected = li.last().addClass('selected');
                //         }
                //     }
                // });



              });
            </script>

          </div>
          <!-- </form> -->
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <!-- Last Login -->
        <li class="nav-item sub-text pt-3 mr-3 hiddenprint" align="right">
          <strong class="homeCardText"><?= $this->language->_('Last Login') ?></strong>
          <br>
          <?php
          if (!empty($auth->lastLogin)) {
            echo  date("l d F Y H:i:s", strtotime($auth->lastLogin));
          } else {
            echo '-';
          }

          ?>
        </li>
        <!-- Username Dropdown -->
        <li class="nav-item dropdown username-drop mr-3 pt-1 hiddenprint" style="width: 17rem" align="right">
          <a href="" class="nav-link dropdown-toggle" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="row no-gutters">
              <div class="col-11">

                <span class="main-text"><strong class="homeCardText"><?php echo $auth->userNameLogin; ?></strong></span><br />
                <span class="sub-text"><?php echo $auth->custNameLogin; ?></span>
              </div>
              <div class="col-1">
                <i class="fa fa-angle-down navbar-icons pt-2"></i>
              </div>
            </div>
          </a>

          <?php
          $privlist = array('ADUS', 'VMLU', 'PGPK', 'MAPI', 'ABGC', 'ASLC', 'ADLC', 'PAPV', 'PRLP', 'TKMN', 'AULC');
          $displayp = 'none';
          foreach ($auth->priviIdLogin as $valp) {
            if (in_array($valp, $privlist)) {
              $displayp = '';
              break;
            }
          }

          ?>
          <div class="dropdown-menu" aria-labelledby="profileDropdown" style="margin-left:45px">
            <a class="dropdown-item" href="<?= $this->url(array('module' => 'myaccount', 'controller' => 'index', 'action' => 'index'), null, true) ?>"><?= $this->language->_('My Account') ?></a>
            <!-- <a class="dropdown-item" href="<?= $this->url(array('module' => 'language', 'controller' => 'change', 'action' => 'index'), null, true) ?>">Change Language</a> -->
            <a class="dropdown-item" href="<?= $this->url(array('module' => 'viewownactivity', 'controller' => 'front-end', 'action' => 'be-activity'), null, true) ?>"><?= $this->language->_('My Activity') ?></a>
            <!-- <a class="dropdown-item" href="<?= $this->url(array('module' => 'pricing', 'controller' => 'index', 'action' => 'index'), null, true) ?>"><?= $this->language->_('My Billing') ?></a> -->
            <!-- <a class="dropdown-item" style="display:<?php echo $displayp; ?>" href="<?= $this->url(array('module' => 'tokenauth', 'controller' => 'index', 'action' => 'index'), null, true) ?>"><?= $this->language->_('Token Authenticator') ?></a> -->
            <?php if ($this->hasPrivilege('BAPA') || $this->hasPrivilege('PRLP')) { ?>

              <a class="dropdown-item" style="display:<?php echo $displayp; ?>" href="<?= $this->url(array('module' => 'googleauth', 'controller' => 'index', 'action' => 'index'), null, true) ?>"><?= $this->language->_('Google Authenticator') ?></a>

            <?php } ?>
            <?php $getSession = new Zend_Session_Namespace('cust_model'); ?>
            <?php if (intval($getSession->model) === 1) : ?>
              <a class="dropdown-item" href="<?= $this->url(array('module' => 'tools', 'controller' => 'widget', 'action' => 'index'), null, true) ?>"><?= $this->language->_('My Widget') ?></a>
            <?php endif ?>

            <div class="dropdown-divider"></div>
            <!-- <a class="dropdown-item" href="<?= $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'logout'), null, true) ?>"><?= $this->language->_('Change Theme') ?></a> -->

            <!-- <div class="dropdown show">
<a class="dropdown-toggle dropdown-item" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Change Theme
</a>

<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
<div class="row pl-5">
<a id='blueTheme' class="dropdown-item rounded-circle profile-circle float-right mr-1 changetheme" data-theme='blue' style="width: 45px;height: 43px;padding-right: 0px;padding-left: 0px;margin-top: 5px;background-color: #005587;cursor: pointer;"></a>
<a id='greenTheme' class="dropdown-item rounded-circle profile-circle float-left ml-1 changetheme" data-theme='green' style="width: 45px;height: 43px;padding-right: 0px;padding-left: 0px;margin-top: 5px;background-color: #2b6d2b;cursor: pointer;"></a>
</div>

<a class="dropdown-item textblue changetheme" data-theme='blue' href="#"><b><?= $this->language->_('Blue') ?></b></a>
<a class="dropdown-item textgreen changetheme" data-theme='green' href="#"><b><?= $this->language->_('Green') ?></b></a>
</div>
</div> -->
            <!-- <a class="dropdown-item" href="<?= $this->url(array('module' => 'viewownactivity', 'controller' => 'front-end', 'action' => 'be-activity'), null, true) ?>"><?= $this->language->_('My Activity') ?></a> -->
            <!-- <a id='darkTheme' class="dropdown-item changetheme" href="#" data-theme="dark" style="cursor: pointer;"> Dark Mode </a> -->
            <!--  <div class="mm-dropdown2 dropdown show">
<div class="textfirst1" ><?= $this->language->_('Change Theme') ?></div>
<ul>

<li class="input-option1" data-value="1">
<img src="/assets/icon/ic_beneficiary.png" alt="" style="width: 5%; height:5%">&nbsp;  Rekening
</li>
<li class="input-option1" data-value="2">
<img src="/assets/icon/deposit.png" alt="" style="width: 5%; height:5%">&nbsp;  Deposito
</li>

</ul>
<input type="hidden" class="option" id="selectContent" name="selectContent" />
</div> -->

            <a class="dropdown-item" href="<?= $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'logout'), null, true) ?>"><?= $this->language->_('Logout') ?></a>
          </div>
        </li>
        <!-- User Avatar -->
        <li class="nav-item py-2 user-avatar hiddenprint">
          <div class="ppicture">
            <!-- <button type="button" onclick="shutdown()" name="button"></button> -->
            <?php
            if (!empty($results)) {
              // foreach ($results as $key) {
              $path    = UPLOAD_PATH . '/image/frontend/';
              $files = scandir($path);
              $files = array_diff(scandir($path), array('.', '..'));
              $dh = opendir($path);
              // $contents = file_get_contents($path.''. $row['IMAGE']);
              // while ($file = readdir($dh)) {
              // print_r($file);echo '=';
              if (file_exists($path . $results[0]['USER_IMAGE']) && $results[0]['USER_IMAGE']) {
                $imageData = base64_encode(file_get_contents($path . '' . $results[0]['USER_IMAGE']));
                $image = $path . '' . $results[0]['USER_IMAGE'];
                $src = 'data: ' . mime_content_type($image) . ';base64,' . $imageData;
              } else {
                $imageData = base64_encode(file_get_contents($path . 'defaultpp.jpg'));
                $image = $path . 'defaultpp.jpg';
                $src = 'data: ' . mime_content_type($image) . ';base64,' . $imageData;
              }
              // }
            ?>
              <?php echo '<div class=" rounded-circle"><img alt="" class="image rounded-circle" style="width:45px;height:45px" src="' . $src . '"/></div>' ?>
            <?php
              // }
            }
            ?>


            <div class="middle" style="cursor: pointer;">
              <a data-toggle="modal" data-target="#ppictureModal"><b style="font-size:12px"><?= $this->language->_('Update') ?></b> </a>
              <!-- <a data-toggle="modal" data-target="#ppictureModal1"><b style="font-size:12px"><?= $this->language->_('Update') ?></b> </a> -->

            </div>
          </div>



        </li>

        <!-- billing console -->

        <?php if ($this->hasPrivilege('VBOB')) { ?>

          <li class="nav-item dropdown hiddenprint" style="margin-top: 6px !important;">
            <!-- <a href="<?= $this->url(array('module' => 'pricing', 'controller' => 'index', 'action' => 'index'), null, true) ?>" class="nav-link dropdown-toggle">
<i class="fas fa-file-invoice navbar-icons"></i>
</a> -->
            <?php if ($auth->_userTheme == 'dark') {
              $imagePath = "/images/";
            ?>
              <a href="<?= $this->url(array('module' => 'pricing', 'controller' => 'index', 'action' => 'index'), null, true) ?>" class="nav-link dropdown-toggle"><img class="navbar-icons" src="<?php echo $imagePath ?>/billing-console-dark.png" style="width: 28px !important" /></a>
            <?php
            } else {
              $imagePath = "/images/";
            ?>
              <a href="<?= $this->url(array('module' => 'pricing', 'controller' => 'index', 'action' => 'index'), null, true) ?>" class="nav-link dropdown-toggle"><img class="navbar-icons" src="<?php echo $imagePath ?>/billing-console-light.png" style="width: 28px !important" /></a>
            <?php
            }

            ?>
          </li>

        <?php } ?>

        <!-- end billing console  -->

        <!-- Notification -->
        <!-- <li class="nav-item dropdown hiddenprint" style="margin-top: 7px !important;">
<a href="#" class="nav-link dropdown-toggle" id="notifDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<i class="fa fa-bell navbar-icons"></i>
<span class="badge badge-danger custom-badge">
<?php if (!empty($auth->notifCount)) {
      echo $auth->notifCount;
      // print_r($auth->notif);
    } ?>
</span>
</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="notifDropdown">
<?php
    if (!empty($auth->notif)) {
      foreach ($auth->notif as $key => $value) {

?>
<a class="dropdown-item" href="#"><?php echo $value['SUBJECT']; ?></a>
<div class="dropdown-divider"></div>
<?php
      }
    }
?>
</div>
<span class="badge badge-danger custom-badge">2</span>
</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="notifDropdown">
<a class="dropdown-item" href="#">Test Notification</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#">Test Notification</a>
</div>
</li> -->



        <li class="nav-item dropdown py-2 ml-2 pt-1 hiddenprint">
          <a href="#" class="nav-link dropdown-toggle" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="row no-gutters">
              <div class="col-2">
                <span class="main-text"><img src="/assets/themes/assets/newlayout/img/<?php echo $imgview; ?>" width="25"></span>
              </div>
              <!-- <div class="col-1">
<i style="padding-left:2rem;" class="fa fa-angle-down navbar-icons pt-0 language-drop"></i>
</div> -->
            </div>
          </a>
          <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
<a class="dropdown-item" href="<?php echo $link; ?>">
<img src="/assets/themes/assets/newlayout/img/<?php echo $imgselect; ?>" width="25">
<?php echo $alt; ?>
</a>

</div> -->
        </li>

      </ul>
    </div>
  </nav>
  <?php
    if ($auth->_userTheme == 'green') {
      $imagePath = "/images/greentheme/";
    } elseif ($auth->_userTheme == 'dark') {
      $imagePath = "/images/darkmodetheme/";
    } else {
      $imagePath = "/images/bluetheme/";
    }
  ?>
  <!-- <div class="Path-85">
<img src="<?php echo $imagePath ?>triangle_kiri.png">
</div>
<div class="Path-83">
<img src="<?php echo $imagePath ?>right_triangle.png">
</div> -->

  <main role="main" class="container-fluid">

    <div class="row">
      <div class="col-sm-12 col-md-2 pr-3 leftpanel blur sticky" id="leftpanel" style="overflow-y: auto;overflow-x: hidden;height: 80vh;">
        <div class="hiddenprint">
          <?php echo $this->render('newmenu.phtml'); ?>
        </div>
      </div>

      <div class="col-sm-12 col-md-8 offset-md-2 centerpanel backstyle" id="centerpanel">

        <?php echo $this->layout()->content; ?>


      </div>






      <div class="col-sm-12 col-md-2 rightpanel blur sticky" style="right:0" id="rightpanel">
        <div class="hiddenprint">
          <div class="gridleft">
            <div class="itemNew row no-gutters content-box col-md-12" style="max-width: 87.667%!important">
              <div class="item-content">
                <div>
                  <div id="timeicon" style="height: 30px!important">&nbsp;</div> <span style="font-size:0.75rem"><?= $this->language->_('Good') ?> <span id="greetings"></span> <strong><span id="cdcontainer">00:00:00</span></strong></span>
                  <?php
                  if ($auth->_userTheme == 'dark') { ?>
                    <hr style="border-color: #ffffff !important;" />
                  <?php } else { ?>
                    <hr />
                  <?php } ?>

                  <p style="text-align:center;"><strong><?php echo date("l, d F Y") ?></strong></p>

                </div>
              </div>
            </div>
            <?php echo Application_Frontend_Menu::generatecontent('3', 'carauselright'); ?>

            <!-- <?php if (count($datanotice) > 0) { ?>
<div class="item content-box col-md-11" style="max-width: 87.667%!important">
<div class="item-content">
<h5>Notification</h5>

<?php
                    foreach ($datanotice as $row) {
                      // $amount = $row['PS_CCY']." ".Application_Helper_General::displayMoney($row['PS_TOTAL_AMOUNT']);
                      $detailLink = '<a href="' . $this->url(array('module' => 'display', 'controller' => 'news', 'action' => 'index', 'id' => $row['HELP_ID']), null, true) . '" class="detail-link">View Detail</a>';

?>
<div class="activity-box">
<div class="activity-title"><i class="fa fa-bell navbar-icons"></i> <?php echo $row['HELP_TOPIC'] ?></div>
<br/>
<div class="sub-text"> <?php echo $row['HELP_DESCRIPTION'] ?></div>

<div style="text-align:right;"><?= $detailLink ?></div>
</div>
<?php } ?>

</div>
</div>

<?php } ?> -->

            <div class="itemNew row no-gutters content-box col-md-12 mt-3" style="max-width: 87.667%!important">
              <div class="item-content">
                <h6 class="homeCardText">Recent Activities</h6>
                <?php
                $db = Zend_Db_Table::getDefaultAdapter();

                $selects = $db->select()
                  ->from(array('P' => 'T_FACTIVITY'), array('*'))
                  // ->join(array('T' => 'T_TRANSACTION'), 'P.PS_NUMBER = T.PS_NUMBER', array())
                  // ->joinLeft(array('M' => 'M_SERVICE_PROVIDER'), 'P.PS_BILLER_ID = M.PROVIDER_ID', array('P.PS_NUMBER', 'PAYMENT_TYPE' => $casePayType, 'T.BENEFICIARY_ACCOUNT', 'P.PS_CCY', 'P.PS_TOTAL_AMOUNT', 'M.PROVIDER_NAME', "T.TRANSACTION_ID"))
                  ->where('P.CUST_ID = ?', $auth->custIdLogin)
                  ->where('P.USER_ID = ?', $auth->userIdLogin)
                  // ->where('P.PS_STATUS = 5')
                  // ->where('T.TRA_STATUS = 3')
                  ->order('P.LOG_DATE DESC')
                  ->limit(4);


                $dataTranss = $db->fetchAll($selects);


                ?>

                <?php if (count($dataTranss) > 0) {
                  foreach ($dataTranss as $row) {



                ?>
                    <div class="activity-box">
                      <!-- <div class="activity-title"><?= $row['ACTION_FULLDESC'] ?></div> -->
                      <div class="sub-text"><?= $row['ACTION_FULLDESC'] ?></div>
                      <!-- <strong><?= $amount ?></strong> -->
                      <!-- <div style="text-align:right;"><?= $detailLink ?></div> -->
                    </div>
                <?php

                    // }
                  }
                } ?>
                <!-- <div style="text-align:right;"><a href="<?php echo $this->url(array('module' => 'display', 'controller' => 'viewpayment', 'action' => 'index'), null, true); ?>" class="detail-link">More detail</a></div> -->

              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <!-- Modal -->
    <div style="display:none" class="modal fade" id="ppictureModal" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="pt-2 col-md-12">
            <div class="" align="rigth">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
          </div>
          <div class="row modal-body">

            <div align="center" class="pt-2 col-md-12">
              <!--  temuan to enhancement agustus -->
              <!-- <div class="circle-2">
                 <div class="addimg" style="color:black">
                  <i class="fa fa-camera fa-3x"></i> <br>
                  <b class="textwhite"><?= $this->language->_('ADD PROFILE PICTURE') ?></b>
                </div>
              </div> -->
                <?php

                ?>
                <?php
                foreach ($results as $key) {
                  $path    = UPLOAD_PATH . '/image/frontend/';
                  $files = scandir($path);
                  $files = array_diff(scandir($path), array('.', '..'));
                  $dh = opendir($path);
                  // $contents = file_get_contents($path.''. $row['IMAGE']);
                  while ($file = readdir($dh)) {
                    // print_r($file);echo '=';
                    if ($file == $key['USER_IMAGE']) {
                      $imageData = base64_encode(file_get_contents($path . '' . $key['USER_IMAGE']));
                      $image = $path . '' . $key['USER_IMAGE'];
                      $src = 'data: ' . mime_content_type($image) . ';base64,' . $imageData;
                    }
                  }
                ?>

                  <?php echo '<img alt="" id="profileImage" class="rounded-circle" style="width:210px;height:210px" src="' . $src  . '"/>' ?>
                  <?php echo '<span id="profileImageStorage" style="display:hidden;" data-profile-file="' . $src  . '"/>' ?>
                <?php  } ?>
                <!--  temuan to enhancement agustus -->
            </div>
            <div class="col-md-9 m-auto" align="center">
              <div class="pb-3">
                <div class="mybtn container">
                  <!-- <button data-toggle="modal" data-target="#demo-2" data-dismiss="modal" class="buttonnoact col-md-12"><?= $this->language->_('Take Photo') ?></button> -->
                  <form enctype="multipart/form-data" action="" method="POST" id="formProfile">
                    <!-- <input type="file" name="upload_image" id="upload_image"   />
<br />
<div id="uploaded_image"></div> -->
                    <!-- <input type="file" class="buttonnoact col-md-12" name="upload_image" value="Upload Photo"> -->
                    <div class="my-3" align="left">
                      <label><?= $this->language->_('Unggah Foto Profil') ?></label>
                      <input type="file" id="my-file" class="buttonnoact col-md-12 rounded my-1" name="uploaded_file">
                      <span class="text-danger mr-1">*</span><i class="text-muted"><?= $this->language->_('Format file .jpg .jpeg .png. Maks: 512Kb') ?></i>
                    </div>
                    <!-- <input class="buttonnoact col-md-12" type="button" id="my-button" value="Upload Photo"> -->
                    <!-- <label for="" id="file-name"></label> -->
                    <!-- <input type="file" class="" name="uploaded_file" id="my-file"> -->

                    <!-- <style media="screen">
                      #my-file {
                        visibility: hidden;
                      }
                    </style> -->
                    <script type="text/javascript">
                      // $('#my-button').click(function() {
                      //   $('#my-file').click();
                      // });
                      $("#my-file").change(function() {
                        const file = this.files[0];
                        const extension = file.name.split('.').pop();

                        if (extension != 'jpeg' && extension != 'jpg' && extension != 'png') {
                          alert('File yang diperbolehkan hanya bertipe jpg, jpeg, dan png');
                          this.value = '';
                          return;
                        }
                        
                        if (file.size > 512000) {
                          alert('Maksimal file 512Kb');
                          this.value = '';
                          return;
                        }

                        const imagePreview = document.getElementById("profileImage");
                        if (file) {
                          let reader = new FileReader();
                          reader.onload = function(event) {
                            imagePreview.src = event.target.result;
                          };

                          reader.readAsDataURL(file);
                        }
                        $("#submitProfile").removeClass('disabled').prop('disabled', false);
                      });

                      $('#formProfile').submit(function() {
                        $("#submitProfile").addClass('disabled').prop('disabled', true);
                      })

                      $('#ppictureModal').on('hidden.bs.modal', function (e) {
                        let profileFile = $('#profileImageStorage').data('profileFile');
                        const imagePreview = document.getElementById("profileImage");
                        imagePreview.src = profileFile;

                        $('#my-file').val('');
                        $("#submitProfile").addClass('disabled').prop('disabled', true);
                      })
                    </script>
                    <button class="btngreen hov disabled" id="submitProfile" type="submit" disabled> <?= $this->language->_('Simpan') ?></button>
                  </form>
                  <?PHP
                  if (!empty($_FILES['uploaded_file'])) {
                    $path = UPLOAD_PATH . '/image/frontend/';
                    $path = $path . basename($_FILES['uploaded_file']['name']);
                    $filename = basename($_FILES['uploaded_file']['name']);

                    if (move_uploaded_file($_FILES['uploaded_file']['tmp_name'], $path)) {

                      $db = Zend_Db_Table::getDefaultAdapter();
                      $db->beginTransaction();
                      $param = array(
                        'USER_IMAGE'      => $filename
                      );


                      $where = array('USER_ID = ?' => $auth->userIdLogin);
                      $query = $db->update("M_USER", $param, $where);
                      $db->commit();
                      header("Refresh:0");
                    } else {
                      header("Refresh:0");
                    }
                  }
                  ?>
                  <div id="uploaded_image"></div>
                </div>
              </div>
            </div>

          </div>

          <div id="uploadimageModal" class="modal" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">

                <div class="modal-body pt-3" style="padding-top:50px">
                  <form enctype="multipart/form-data" action="" method="POST">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <div id="image_demo" name="uploaded_file" style="width:300px; margin-top:30px"></div>
                      </div>
                      <?php

                      //upload.php

                      if (isset($_POST["image"])) {
                        $img = $_POST["image"];
                        $folderPath = UPLOAD_PATH . '/image/frontend/';

                        $image_parts = explode(";base64,", $img);
                        $image_type_aux = explode("image/", $image_parts[0]);
                        $image_type = $image_type_aux[1];

                        $image_base64 = base64_decode($image_parts[1]);
                        $fileName = uniqid() . '.jpeg';
                        $file = $folderPath . $fileName;
                        file_put_contents($file, $image_base64);
                      }

                      ?>
                    </div>

                    <div class="pb-5" align="center">
                      <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Cancel') ?></button>
                      <button type="submit" id="" class="btngreen hov "><?= $this->language->_('Save') ?></button>
                    </div>
                  </form>


                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- [ Modal #2 ] -->
    <div style="display:none" class="modal fade" id="demo-2" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal"><i class="icon-xs-o-md"></i></button>
          <div class="modal-body">
            <form enctype="multipart/form-data" action="" method="POST">
              <div class="col-md-12" align="center">

                <div id="my_camera"></div>
                <div id="results"></div>



              </div>
              <br><br>
              <div class="" id="take1" align="center">
                <input class="btngreen hov" type=button value="Take Photo" onClick="take_snapshot()">
                <input type="hidden" name="image" class="image-tag">
                <button type="button" class="btnwhite hov" data-toggle="modal" data-target="#ppictureModal" data-dismiss="modal"><?= $this->language->_('Cancel') ?></button>
              </div>
              <div style="display:none" id="take2" align="center">
                <input class="btngreen hov" type=button value="Retake" onClick="configure()">
                <input class="btngreen hov" type=submit value="Change Photo">
                <button type="button" class="btnwhite hov" data-toggle="modal" data-target="#ppictureModal" data-dismiss="modal"><?= $this->language->_('Cancel') ?></button>
              </div>
              <?php
              if (!empty($_POST['image'])) {
                $img = $_POST['image'];
                $folderPath = UPLOAD_PATH . '/image/frontend/';

                $image_parts = explode(";base64,", $img);
                $image_type_aux = explode("image/", $image_parts[0]);
                $image_type = $image_type_aux[1];

                $image_base64 = base64_decode($image_parts[1]);
                $fileName = uniqid() . '.jpeg';
                $file = $folderPath . $fileName;
                file_put_contents($file, $image_base64);

                $db = Zend_Db_Table::getDefaultAdapter();
                $db->beginTransaction();
                $param = array(
                  'USER_IMAGE'      => $fileName
                );


                $where = array('USER_ID = ?' => $auth->userIdLogin);
                $query = $db->update("M_USER", $param, $where);
                $db->commit();
                header("Refresh:0");
              }
              ?>
            </form>

          </div>

        </div>
      </div>
    </div>
    <footer class="footer" style="color: #212529;position: initial;">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-12" style="text-align: center">
            <?php if ($displayerror) { ?>
              <div class="kt-footer__menu">
                <a class="kt-footer__menu-link kt-link"><label>DOM ready in <b id="domready"></b> seconds</label></a>
                <a class="kt-footer__menu-link kt-link"><label>Page complete in <b id="pageComplete"></b> seconds</label></a>
                <a class="kt-footer__menu-link kt-link"><label>Process completed in <b><?php echo $total_time ?></b> seconds</label></a>
                <a class="kt-footer__menu-link kt-link"><label>Memory Usage : <b><?php echo round((memory_get_usage() / 1024) / 1024, 2) ?>MB</b></label></a>
                <a class="kt-footer__menu-link kt-link"><label>Peak Memory Usage : <b><?php echo round((memory_get_peak_usage() / 1024) / 1024, 2) ?>MB</b></label></a>
              </div>
              <br />
            <?php } ?>
            <span class="footer-text">© 2022-2027 PT. BANK TABUNGAN NEGARA. <?= $this->language->_('All rights reserved') ?></span>
            <!-- <span class="footer-text">© 2022-2027 PT. SQUARE GATE ONE. <?= $this->language->_('All rights reserved') ?></span> -->
            <!-- <span class="footer-text">© <?= date('Y'); ?> PT. BANK TABUNGAN NEGARA.</span> -->

            <br />
            <?php
            // if ($this->getInvokeArg('displayExceptions') == true) {
            //     // $this->view->exception = $errors->exception;
            // }
            // 
            $finish_time  = number_format((microtime(true) - $GLOBALS['start_time']), 2);
            $memory     = number_format((memory_get_peak_usage() / 1048576), 2);
            // echo sprintf(" Page rendered in %s seconds, with %sMB memory usage", $finish_time, $memory);
            ?>
          </div>
        </div>
      </div>
    </footer>
  </main><!-- /.container -->




<?php } else { ?>

  <?php
    // print_r($this->modulename);die;

    if ($this->modulename == "registerechannel" || $this->modulename == "pass" || $this->modulename == "bgchecking") { ?>

    <link href="/css/material-bootstrap-wizard.css?v=1.6" rel="stylesheet" />


  <?php } ?>
  </head>

  <body style="padding: 0px;">
    <div id="loader"></div>

    <!-- <main role="main" class="container-fluid"> -->

    <!-- <?php if ($this->modulename == "registerechannel" || $this->modulename == "pass" || $this->modulename == "bgchecking") { ?> -->
    <div class="row mt-1">
      <div class="col-md-12">
        <?php echo $this->layout()->content; ?>
      </div>
    </div>
    <!-- <?php } else { ?> -->

    <!-- <div class="row mt-1" id="login-section">
<div class="col-md-7" style="background-image: linear-gradient(white, #efedea);padding-left: 0px;padding-right: 0px;">
<img src="/assets/themes/assets/newlayout/img/espay1.png" alt="frontbanner" style="" class="img-fluid d-none d-sm-block" />
</div>

<div class="col-md-5">
<div class="login-box">
<?php echo $this->layout()->content; ?>
</div>
</div>
</div> -->

    <!-- <?php } ?> -->



    <!-- </main> -->
    <!-- /.container -->





    <?php if ($this->modulename == "registerechannel" || $this->modulename == "pass" || $this->modulename == "bgchecking") { ?>
      <script src="/js/jquery.bootstrap.js" type="text/javascript"></script>
      <script src="/js/material-bootstrap-wizard.js?v=2"></script>
      <script src="/js/jquery.validate.min.js"></script>
      <?php if ($this->modulename == "registerechannel") { ?>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD6aPdHhX-OSjgJtdpuX31g2ttZDR5kNA&libraries=places&callback=initAutocomplete&language=in" async defer></script>
    <?php }
    } ?>
  <?php } ?>

  <!-- Bootstrap core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  <?php
  // $this->headScript()->appendFile($this->baseUrl('../js/jquery.nicescroll.min.js'));
  ?>
  <script type="text/javascript" src="/js/jquery.nicescroll.min.js"></script>
  <script>
    $(document).ready(function() {

      var nice = $("#centerpanel").niceScroll();
      // alert();
      setTimeout(function() {
        fullyLoaded();
      }, 100);
      setNavigation();
      var height = window.screen.availHeight;
      // alert(height);
      // $("#leftpanel").css('max-height', height);
      // document.getElementById('leftpanel').style.fontVariant = "italic";
      // document.getElementById ( 'leftpanel' ).style.maxHeight = height;
      // alert(height);
      height = height - 140;
      $('.leftpanel').css({
        'max-height': height
        // 'overflow-x': 'auto'
      });

      $('.centerpanel').css({
        'max-height': height,
        'overflow-x': 'auto'
      });

      $('.rightpanel').css({
        'max-height': height,
        'overflow-x': 'auto'
      });

      $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
        var $el = $(this);
        var $parent = $(this).offsetParent(".dropdown-menu");
        if (!$(this).next().hasClass('show')) {
          $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
        }
        var $subMenu = $(this).next(".dropdown-menu");
        $subMenu.toggleClass('show');

        $(this).find('i').toggleClass('fa-angle-down fa-angle-up');

        $(this).parent("li").toggleClass('show');

        $(this).parents('div.dropdown.show').on('hidden.bs.dropdown', function(e) {
          $('.dropdown-menu .show').removeClass("show");
        });

        if (!$parent.parent().hasClass('navbar-nav')) {
          $el.next().css({
            "top": $el[0].offsetTop,
            "left": $parent.outerWidth() - 4
          });
        }

        return false;
      });

      $('.dropdown button.dropdown-toggle').on('click', function(e) {
        $(this).find('i').toggleClass('fa-angle-up fa-angle-down');
      });
    });

    function setNavigation() {
      var path = window.location.pathname;
      path = path.replace(/\/$/, "");
      path = decodeURIComponent(path);
      $(".dropdown-menu li a").each(function() {
        var href = $(this).attr('href');
        // console.log(path.substring(0, href.length));

        if (path.substring(0, href.length) === href) {
          var name = $(this).text();
          //alert(name);
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/useropenlimit') {
          var name = 'User Limit Scheme';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/paymentworkflow/review') {
          var name = 'Review';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/paymentworkflow/approval') {
          var name = 'Approval';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/paymentworkflow/release') {
          var name = 'Release';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/help') {
          var name = 'User Guide';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/myaccount') {
          var name = 'My Account';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/viewownactivity/front-end/be-activity') {
          var name = 'My Activity';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/display/viewdetail') {
          var name = 'Transfer List';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/display/detail') {
          var name = 'Transaction Report';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/singledirectdebit/detail/') {
          var name = 'Auto Debit Workflow';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/singledirectdebit/detailrelease/') {
          var name = 'Auto Debit Workflow';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/approvalmatrix/newapprovalpolicy') {
          var name = 'Approval Matrix';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == 'purchasing/newelectricity') {
          var name = 'Electricity Purchase';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/payment/phone') {
          var name = 'Phone Payment';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/payment/pam') {
          var name = 'PAM Payment';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/autodebit/index/document') {
          var name = 'Bulk Auto Debit';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/autodebitreport') {
          var name = 'Auto Debit Report';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/eformworkflow/Approv') {
          var name = ' Submission Approve';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/eformworkflow/releasedetail') {
          var name = ' Submission Release';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/autodebit/') {
          var name = 'Bulk Auto Debit';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/eform/bgclosing/index') {
          var name = 'Pengajuan Penutupan';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/eform/bgclosing/confirm') {
          var name = 'Pengajuan Penutupan';
          $('#menu-name').text(name);
        } else if (path.substring(0, href.length) == '/eform/bgclosingmd/index') {
          var name = 'Pelepasan MD';
          $('#menu-name').text(name);
        }




      });
    }


    function fullyLoaded() {
      jQuery("#loader").fadeOut("slow");

    }

    function modal() {
      // alert();
    }
  </script>


  <script language="JavaScript">
    //   $('#demo-2').on('shown.bs.modal', function () {
    //
    // });
    function configure() {
      Webcam.set({
        width: 480,
        height: 400,
        crop_width: 400,
        crop_height: 400,
        image_format: 'jpeg',
        jpeg_quality: 90
      });
      $('#take1').show();
      $('#take2').hide();
      $('#my_camera').show();
      $('#results').hide();
      Webcam.attach('#my_camera');
    }
    $('#demo-2').on('shown.bs.modal', function(e) {
      Webcam.set({
        width: 480,
        height: 400,
        crop_width: 400,
        crop_height: 400,
        image_format: 'jpeg',
        jpeg_quality: 90
      });
      Webcam.attach('#my_camera');
    })


    // A button for taking snaps




    function take_snapshot() {
      // take snapshot and get image data
      Webcam.snap(function(data_uri) {
        $(".image-tag").val(data_uri);
        document.getElementById('results').innerHTML = '<img src="' + data_uri + '"/>';
      });
      $('#take1').hide();
      $('#take2').show();
      $('#my_camera').hide();
      $('#results').show();


    }




    function saveSnap() {
      // Get base64 value from <img id='imageprev'> source
      var base64image = document.getElementById("imageprev").src;

      Webcam.upload(base64image, 'upload.php', function(code, text) {
        console.log('Save successfully');
        //console.log(text);
      });

    }
    $('#demo-2').on('hidden.bs.modal', function() {
      Webcam.reset();
    });
  </script>
  <script>
    $(document).ready(function() {


      $(".changetheme").click(function() {

        var color = $(this).attr('data-theme');

        var datacolor = 'color=' + color;

        $.ajax({
          type: "GET",
          data: datacolor,
          url: "<?= $this->url(array('module' => 'home', 'controller' => 'dashboard', 'action' => 'changetheme'), null, true) ?>",

          success: function(data) {

            if (data) {

              location.reload();
            } else {
              alert('Theme is already ' + color);
            }

          },
          error: function(data) {
            alert("Failed to inquiry data");
          }
        });
      });


      /* $image_crop = $('#image_demo').croppie({
      enableExif: true,
      viewport: {
      width:400,
      height:400,
      type:'square' //circle
      },
      boundary:{
      width:750,
      height:400
      }
      });
      */
      $('#upload_image').on('change', function() {
        var reader = new FileReader();
        reader.onload = function(event) {
          $image_crop.croppie('bind', {
            url: event.target.result
          }).then(function() {
            console.log('jQuery bind complete');
          });
        }
        reader.readAsDataURL(this.files[0]);
        $('#uploadimageModal').modal('show');

      });

      $(".disable-a").click(function() {
        $("#customer_service").toggle("fast");
        return false;
      });

      $('#profileDropdown').click(function() {
        var cTheme = "<?= $auth->_userTheme; ?>";

        /*if (cTheme === 'blue') {
        document.getElementById('blueTheme').style.display = "None"
        document.getElementById('greenTheme').style.display = ""
        document.getElementById('darkTheme').style.display = ""
        } else if (cTheme === 'green') {
        document.getElementById('blueTheme').style.display = ""
        document.getElementById('greenTheme').style.display = "None"
        document.getElementById('darkTheme').style.display = ""
        } else {
        // document.getElementById('blueTheme').style.display = ""
        // document.getElementById('greenTheme').style.display = ""
        // document.getElementById('darkTheme').style.display = "None"
        }*/
      });

    });
  </script>






  </body>

</html>