       <style type="text/css">
         .dropdown-menu .show{
          display: contents;
         }

       </style>
       <?php

       ?>
          <!-- Menu Dropdown -->
          <div class="mt-1 dropdown" id="menuDropdown" style="background: #0b549f">
            <button class="btn dropdown-toggle side-menu" data-display="static" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%; background: #0b549f; color: white; border: solid 0px #f9f9f9; text-align: left !important;">
              <span id="menu-name" class="">Home</span>&nbsp;<i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu side-menu-body" aria-labelledby="dropdownMenuButton" style="background: #0b549f; margin-top: 0px; width: 100%; padding-top: 0px; position: absolute; overflow-y: auto;overflow-x: hidden;">

              <!-- <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a> -->
              <?php
        //$auth = Zend_Auth::getInstance()->getIdentity();
        //$sys = $auth->allSetting['system_type'];
        //var_dump($sys);
        
                if(Zend_Auth::getInstance()->hasIdentity())
                {
                  $auth = Zend_Auth::getInstance()->getIdentity();

                  if(is_array($auth->priviIdLogin))
                  {
                    $menu = new Application_Frontend_Menu($auth->priviIdLogin);
                    echo Application_Frontend_Menu::generatenewMenu($menu->menuStructure,$auth->priviIdLogin);
                  }
                }
    
              ?>
            </ul>
          </div>
      <?php
        $auth = Zend_Auth::getInstance()->getIdentity();
        $sys = $auth->allSetting['system_type'];
        //var_dump($sys);
        ?>
          <!-- Need Help -->
          <div class="mt-5">
            <p class="left-section-text">Need Help ?</p>
            <ul class="extra-menu-list">
              <!--<li class="extra-menu-item"><a href="/home/demo" class="custom-link">View Demo</a></li>-->
              <li class="extra-menu-item"><a href="/home/contactus" class="custom-link">Contact Us</a></li>
        <?php if($sys != 2){ ?>
              <li class="extra-menu-item"><a href="/home/generalinformation" class="custom-link">Informasi Kantor Cabang</a></li>
        <?php } ?>
              <!-- <li class="extra-menu-item"><a href="mailto:business@sgo.co.id" class="custom-link">Email Us</a></li> -->
            </ul>
          </div>

          <!-- Featured Image 1 -->
          <div class="mt-4">
            <!-- <img src="/assets/permatalayout/assets/newlayout/img/featured-1.JPG" class="img-fluid"/> -->
            <?php echo Application_Frontend_Menu::generatecontent('1'); ?>
          </div>

          <!-- Featured Image 2 -->
          <!-- <div class="my-4">
            <img src="/assets/permatalayout/assets/newlayout/img/featured-2.JPG" class="img-fluid"/>
          </div> -->

          <div class="my-4">

                    <?php echo Application_Frontend_Menu::generatecontent('2'); ?>

          </div>
