<!-- <b><?php echo $this->language->_('Charges'); ?> &gt; <?php echo $this->language->_('Set Company Charges'); ?> &gt; <?php echo $this->language->_('Detail'); ?> &gt; <?php echo $this->language->_('Monthly Fee'); ?> &gt; <?php echo $this->language->_('Monthly Transaction Account'); ?></b><br /><br /> -->

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Charges'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Set Company Charges'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                 <li>
	                    <span class="valas" ><?php echo $this->language->_('Monthly Fee'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Monthly Transaction Account'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<?php 
  require_once 'Crypt/AESMYSQL.php';
  $AESMYSQL = new Crypt_AESMYSQL();
  $rand = $this->token;

  $encrypted_custid = $AESMYSQL->encrypt($this->result[0]['CUST_ID'], $rand);
  $enccustid = urlencode($encrypted_custid);
?>

<div class="row content-box">
	<div class= "portlet-body form col-md-12">
		<h5><?php echo $this->language->_('Company Charges and Administration Fee Detail'); ?></h5>
		<br />
		<table border="0" cellspacing="0" cellpadding="0" class="tableform"
			width="600">
			<tr>
				<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Code'); ?></td>
				<td class="tdform-even">&nbsp;</td>
				<td class="tdform-odd"><?php echo $this->result[0]['CUST_ID'];?></td>
			</tr>
			<tr>
				<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Name'); ?></td>
				<td class="tdform-even">&nbsp;</td>
				<td class="tdform-odd"><?php echo $this->result[0]['CUST_NAME'];?></td>
			</tr>
			<tr>
				<td class="tdform-even">&nbsp; <?php echo $this->language->_('Note'); ?></td>
				<td class="tdform-even">&nbsp;</td>
				<td class="tdform-odd"><?php echo $this->language->_($this->chargestatus);?></td>
			</tr>
			
		</table>
	</div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
      <style type="text/css">

          .nav-tabs .nav-link {
            border-color: #c9c9c9;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 170px;
            text-align: center;
          }
          .nav-tabs .nav-link:hover {
            border-color: #c9c9c9;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color:white;
            background-color: #005587;
            margin-top: -10px;
              padding-bottom: 10px;
              top: -10px;
              padding-top: 18px;
              height: 47.5px;
          }
          .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
              color:white;
              background-color: #005587;
              border-color: #dee2e6 #dee2e6 #fff;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              margin-top: -10px;
              padding-bottom: 10px;
              top: -10px;
              padding-top: 14px;
              height: 47.5px;
              font-size: 17px
          }

      </style>
<script type="text/javascript">

	// function directmonthly(){
	// 	var url = document.URL+'/monthlytype/1';

	// }

	$(document).ready(function(){
		$('#monthly_type').on('change', function() {
			var cust = document.getElementById("custid").value;
			var url_change = '/monthlycharges/monthlyfee/index/custid/'+cust+'/monthlytype/'+this.value;
			// var url = document.URL+'/monthlytype/'+this.value ;
			  // alert(url);

			  window.location = url_change;
			});	
			
			<?php 
			if($this->charge == '1'){
					?>
				$("#monthly").hide();
	            $("#inhouse").show();
	            $("#domestic").hide();
	            $("#direct").hide();
	            $("#valas").hide();
					<?php
				$inhouse = 'active';
			}else if($this->charge == '2'){
					?>
				$("#monthly").hide();
	            $("#inhouse").hide();
	            $("#domestic").show();
	            $("#direct").hide();
	            $("#valas").hide();
					<?php
				$dom = 'active';
			}else if($this->charge == '3'){
					?>
				$("#monthly").hide();
	            $("#inhouse").hide();
	            $("#domestic").hide();
	            $("#direct").show();
	            $("#valas").hide();
					<?php
				$direct = 'active';
			}else if($this->charge == '4'){
					?>
				$("#monthly").hide();
	            $("#inhouse").hide();
	            $("#domestic").hide();
	            $("#direct").hide();
	            $("#valas").show();
					<?php
				$valas = 'active';
			}else{
				?>
				$("#monthly").show();
	            $("#inhouse").hide();
	            $("#domestic").hide();
	            $("#direct").hide();
	            $("#valas").hide();
				<?php
				// echo 'hr';
				$month = 'active';
			}

		?>

		// alert(url);
		// $("#monthly").show();
  //           $("#inhouse").hide();
  //           $("#domestic").hide();
  //           $("#direct").hide();
  //           $("#valas").hide();
    $(".nav-link").click(function(){
        var typelist = $(this).attr("href");

        if (typelist == "#monthly") {
            $("#monthly").show();
            $("#inhouse").hide();
            $("#domestic").hide();
            $("#direct").hide();
            $("#valas").hide();
           
        }else if (typelist=="#inhouse") {
             $("#monthly").hide();
            $("#inhouse").show();
            $("#domestic").hide();
            $("#direct").hide();
            $("#valas").hide();
        }else if (typelist=="#domestic") {
            $("#monthly").hide();
            $("#inhouse").hide();
            $("#domestic").show();
            $("#direct").hide();
            $("#valas").hide();
        }else if(typelist=="#direct"){
        	$("#monthly").hide();
            $("#inhouse").hide();
            $("#domestic").hide();
            $("#direct").show();
            $("#valas").hide();
        }else if(typelist=="#valas"){
        	 $("#monthly").hide();
            $("#inhouse").hide();
            $("#domestic").hide();
            $("#direct").hide();
            $("#valas").show();
        }
      });
    
    var ccy_id = "<?php echo $this->monthly_ccy2; ?>";

    if (ccy_id == '') {
    	ccy_id = 'IDR';
    }
    
	var opt = <?php echo json_encode($this->resultlist); ?>;

	$('select[name="acct"]').html('');

	$('select[name="acct"]').append($('<option>').val('').text('--------<?php echo $this->language->_('Any Value') ?>---------'));
	$.each(opt, function( key, value ) {
	  if (value.CCY_ID == ccy_id) {
	  	$('select[name="acct"]').append($('<option>').val(value.ACCT_NO).text(value.ACCT_NO+' / '+value.ACCT_NAME+' ('+value.CCY_ID+')')); 
	  }	
	});
        
});

function changeCcy(selected){
	var ccy = $(selected).val();

	var opt = <?php echo json_encode($this->resultlist); ?>;

	$('select[name="acct"]').html('');

	$('select[name="acct"]').append($('<option>').val('').text('--------<?php echo $this->language->_('Any Value') ?>---------'));
	$.each(opt, function( key, value ) {
	  if (value.CCY_ID == ccy) {
	  	$('select[name="acct"]').append($('<option>').val(value.ACCT_NO).text(value.ACCT_NO+' / '+value.ACCT_NAME+' ('+value.CCY_ID+')')); 
	  }	
	});
}



</script>
          
       <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link <?php echo $month; ?>" id="monthly-tab" href="#monthly" data-toggle="tab" role="tab" at="1" value="1" aria-controls="monthly" aria-selected="true"><?php echo $this->language->_('Monthly Fee');?></a>
        </li>
        <li class="nav-item">
          <a class="nav-link <?php echo $inhouse; ?>" id="inhouse-tab" href="#inhouse"   data-toggle="tab" role="tab" at="2" value="2" aria-controls="inhouse" aria-selected="false"><?php echo $this->language->_('Inhouse Charges');?></a>
        </li>
        <li class="nav-item">
          <a class="nav-link <?php echo $dom; ?>" id="domestic-tab" href="#domestic"  data-toggle="tab" role="tab" at="3" value="3" aria-controls="domestic" aria-selected="false"><?php echo $this->language->_('Domestic Charges');?></a>
        </li>
        <li class="nav-item <?php echo $direct; ?>">
          <a class="nav-link" id="direct-tab" href="#direct"  data-toggle="tab" role="tab" at="4" value="4" aria-controls="direct" aria-selected="false"><?php echo $this->language->_('Direct Debit Charges');?></a>
        </li>
        <li class="nav-item <?php echo $valas; ?>">
          <a class="nav-link" id="valas-tab" href="#valas" data-toggle="tab" role="tab" at="5" value="5" aria-controls="valas" aria-selected="false"><?php echo $this->language->_('Valas Charges');?></a>
        </li>
      </ul>
      <!-- <a href="/singlepayment/within" class="switch aktif"><?php echo $this->language->_('In House');?></a>
      <a href="/singlepayment/virtualaccount" class="switch"><?php echo $this->language->_('Virtual Accounts');?></a>
      <a href="/singlepayment/remittance" class="switch"><?php echo $this->language->_('Valas');?></a>
      <a href="/singlepayment/domestic" class="switch"><?php echo $this->language->_('Domestic');?></a> -->
      <?php 
		echo $this->formHidden('custid',$enccustid);
	?>
    </div>
  <!-- <div class="col-md-5"> -->


    <?php
    //echo $this->formButton('back',$this->language->_('Import files'),array('class'=>'btnwhite hov',"onclick"=>"redirectbulk();"));
  //   echo '&nbsp;';
    // echo $this->formButton('back',$this->language->_('Templates'),array('class'=>'btnwhite hov', "onclick"=>"modaltemplate();"));
    // echo '&nbsp;';

    // echo $this->formButton('back',$this->language->_('Approval List'),array('class'=>'btnwhite hov',"onclick"=>"modalapproval();"));
    ?>
  <!-- </div> -->

  </div><br/>

  <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
  	<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?> method="post">
<div class="row">
	<div class="col-md-3">
		<h6><?php echo $this->language->_('Company Monthly Fee Type');?></h6>
	</div>
	<div class="col-md-9">
		<?php echo $this->formSelect('monthly_type',$this->monthlyfee,array('id'=>'monthly_type','class'=>'form-control'), $this->monthlyarr); ?>
		<?php // echo $this->formText('monthly_fee',$this->monthlyfee,array('size'=>40,'maxlength'=>3,'disabled'=>true))?>
	</div>
</div>	
<br/>
<br/>
<?php 
		echo $this->formHidden('chargetypes','monthly');
	?>
<?php if($this->monthlyfee == '3'){ ?>

<table cellspacing="0" cellpadding="0" class="table-sm table "
	width="100%">
   <tr>
   	<th rowspan="2" class="tablehead text-center"><?php echo $this->language->_('Company Account')?></th>
    <th colspan="2" class="tablehead"><?php echo $this->language->_('SUM Transaction')?></th>
    <th rowspan="2" class="tablehead"><?php echo $this->language->_('CCY')?></th>
    <th rowspan="2" class="tablehead"><?php echo $this->language->_('Monthly Fee')?></th>
    <th rowspan="2" class="tablehead"><?php echo $this->language->_('Rebate ')?>(%)</th>
    <th rowspan="2" class="tablehead"><?php echo $this->language->_('Charge to Account');?></th>
  </tr>
  <tr>
    <th class="tablehead text-center" style="border-top: 0;"><?php echo $this->language->_('From')?></th>
    <th class="tablehead text-center" style="border-top: 0;"><?php echo $this->language->_('To')?></th>
  </tr>
  <?php
  if($this->resultaccount)
  {
	$option = array('maxlength'=>15,
  						  'size'=>10,
						  'class'=>'currency form-control',
						  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
						  'onblur'=>'NumFrmtUS(this.value,this.id)',
						  'onkeypress'=>'return forceCurrencyOCBC(event)');
	$option2 = array('maxlength'=>10,
  						  'size'=>15,
  						  'class' => 'form-control',
  						  'onkeypress'=>'NumberOnly(this.value,this.id)',
  						  'onkeyup'=>'NumberOnly(this.value,this.id)');
	$option3 = array('maxlength'=>19,
  						  'class'=>'desc',
  						  'size'=>25,
  						  'class' => 'form-control',
  						  'onkeypress'=>'NumberOnly(this.value,this.id)',
  						  'onkeyup'=>'NumberOnly(this.value,this.id)');
	  $y = 0;
	  foreach($this->resultaccount as $list)
	  {
	   $x = 0;
	   $td_css = ($y%2==0)?'tbl-evencontent':'tbl-oddcontent';
	   $idfrom = $list['ACCT_NO'].'from'.$x;
	   $idto = $list['ACCT_NO'].'to'.$x;
	   $idamt = $list['ACCT_NO'].'amount'.$x;

	   $redebate = $list['ACCT_NO'].'redebate'.$x;

	   $rowmaxid = 'rowmax'.$list['ACCT_NO'];
	   $rowmax = $this->$rowmaxid;
	   //Zend_Debug::dump($rowmax);die;
	   $rowspan = 6+$rowmax;
	   $acct = $list['ACCT_NO'];
	   $cekacct = 'cek'.$list['ACCT_NO'];
	   $errfrom = 'err'.$idfrom;
	   $errto = 'err'.$idto;
	   $erramt = 'err'.$idamt;
	   $erracct = 'err'.'cek'.$list['ACCT_NO'];
	   $err2 = $list['ACCT_NO'].'err2'.$x;
	  	?>

	  	<tr>
	  	<td class="<?php echo $td_css;?>" rowspan="<?php echo $rowspan;?>" align="center" valign="middle"><br /><br /><?php  echo $list['ACCT_NO'].' / '.$list['ACCT_NAME'].' ('.$list['CCY_ID'].')'; ?></td>
	  	<td class="<?php echo $td_css;?>"><?php  echo $this->formText($idfrom,$this->$idfrom,$option2); ?></td>
	    <td class="<?php echo $td_css;?>"><?php  echo $this->formText($idto,$this->$idto,$option2); ?></td>
	    <?php $paramccy =  $list['ACCT_NO'].'ccy'; ?>
	    <td class="<?php echo $td_css;?>" rowspan="<?php echo $rowspan;?>" align="center" valign="middle"><br /><br /><?php echo $list['CCY_ID']; ?></td>
	    <td class="<?php echo $td_css;?>" align="center"><?php echo $this->formText($idamt,Application_Helper_General::displayMoney($this->$idamt),$option); ?></td>
	    <td class="<?php echo $td_css;?>" align="center"><?php echo $this->formText($redebate,Application_Helper_General::displayMoney($this->$redebate),$option); ?></td>
	  	<td class="<?php echo $td_css;?>" rowspan="<?php echo $rowspan;?>"><br /><br />
	  	
		<?php  
		echo'<select class="form-control" name="'.$list['ACCT_NO'].'">';
			echo '<option value="'.$list['ACCT_NO'].'">'.$list['ACCT_NO'].' / '.$list['ACCT_NAME'].' ('.$list['CCY_ID'].')'.'</option>'; 
		echo'</select>';
		?>

		<?php
		if($this->$erracct)
		{
			echo '<br /><span class="errmsg">'.$this->$erracct.'</span>';
		}
		?>
	  	</td>
	  	</tr>
	  	<?php 
	  	if($this->$errfrom || $this->$erramt || $this->$err2)
	  	{
	  		//echo $this->$err2; die;
	  		echo '<tr>
	  				<td class="'.$td_css.'" colspan="3">';
	  		
	  		if($this->$erramt)
	  		{
	  			echo '<span class="errmsg">'.$this->$erramt.'</span>';
	  			echo '<br /><br />';
	  		}
	  		
	  		if($this->$errfrom)
	  		{
	  			echo '<span class="errmsg">'.$this->$errfrom.'</span>';
	  			echo '<br /><br />';
	  		}
	  		
	  		for($z=$x;$z>=0;$z--)
	  		{
	  			$errto2 = $errto.$z;
	  			if($this->$errto2)
	  			{
	  				echo '<span class="errmsg">'.$this->$errto2.'</span>';
	  				echo '<br /><br />';
	  			}
	  		}
	  		echo '</td>
	  			 </tr>';
	  	}
	  	$x++;?>
	  <?php 
	  for($i=1;$i<6;$i++)
	  {
	  	$idfrom = $list['ACCT_NO'].'from'.$x;
	   	$idto = $list['ACCT_NO'].'to'.$x;
	   	$idamt = $list['ACCT_NO'].'amount'.$x;
	   	$redebate = $list['ACCT_NO'].'redebate'.$x;
	   	$errfrom = 'err'.$idfrom;
	   	$erramt = 'err'.$idamt;
	   	$errto = 'err'.$idto;
	   	$err2 = $list['ACCT_NO'].'err2'.$x;
	   	//Zend_Debug::dump($this->$errto);die;
	  ?>
	  <tr>
	    <td class="<?php echo $td_css;?>"><?php  echo $this->formText($idfrom,$this->$idfrom,$option2);?></td>
	    <td class="<?php echo $td_css;?>"><?php  echo $this->formText($idto,$this->$idto,$option2); ?></td>
	    <td class="<?php echo $td_css;?>" align="center"><?php  echo $this->formText($idamt,Application_Helper_General::displayMoney($this->$idamt),$option); ?></td>
	    <td class="<?php echo $td_css;?>" align="center"><?php  echo $this->formText($redebate,Application_Helper_General::displayMoney($this->$redebate),$option); ?></td>
	  </tr>
	  <?php 
	  	if($this->$errfrom || $this->$erramt || $this->$err2)
	  	{
	  		//echo $this->$idto;die;
	  		echo '<tr>
	  				<td class="'.$td_css.'" colspan="3">';;
	  		
	  		if($this->$erramt)
	  		{
	  			echo '<span class="errmsg">'.$this->$erramt.'</span>';
	  			echo '<br /><br />';
	  		}
	  		
	  		if($this->$errfrom)
	  		{
	  			echo '<span class="errmsg">'.$this->$errfrom.'</span>';
	  			echo '<br /><br />';
	  		}
	  		for($z=$x;$z>=0;$z--)
	  		{
	  			$errto2 = $errto.$z;
	  			
	  			if($this->$errto2)
	  			{
	  				echo '<span class="errmsg">'.$this->$errto2.'</span>';
	  				echo '<br /><br />';
	  			}
	  		}
	  		
	  		echo '</td>
	  			 </tr>';
	  	}
	  	?>
	  <?php 
	  $x++;}
	  $y++;}
  }
  else
  {
  	echo '<tr><td class="tbl-evencontent" colspan="5">'.$this->language->_('No Data').' ('.$this->language->_('company does not have source account').')</td></tr>';
  }?>
</table> 

<?php }else if($this->monthlyfee == '2'){ ?>

<table cellspacing="0" cellpadding="0" class="table-sm table table-striped"
	width="100%">
   <tr>
   	<th class="tablehead text-center" width="20%" style="border: 0"><?php echo $this->language->_('CCY'); ?></th>
    <th class="tablehead text-center" width="40%" style="border: 0"><?php echo $this->language->_('Monthly Fee'); ?></th>
   	<th class="tablehead text-center" width="40%" style="border: 0"><?php echo $this->language->_('Charge to Account'); ?></th>
  </tr>
  <?php
 if($this->resultlist)
 {
  $option = array('maxlength'=>15,
  						  'size'=>10,
						  'class'=>'currency form-control',
						  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
						  'onblur'=>'NumFrmtUS(this.value,this.id)',
						  'onkeypress'=>'return forceCurrencyOCBC(event)');

   $y = 0;
   $td_css = ($y%2==0)?'tbl-evencontent':'tbl-oddcontent';
   $idamt = 'amount';
   $acct = 'acct';
   $cekacct = 'cekacct';
   $erramt = 'erramt';
   $erracct = 'erracct';
  	?>
  	<tr>
  	<td class="<?php echo $td_css;?>"><?php echo $this->formSelect('monthly_ccy2',$this->monthly_ccy2,array('id'=>'monthly_ccy','class'=>'form-control','onChange'=>'changeCcy(this)'), $this->dataccy); ?></td>	
  	<td class="<?php echo $td_css;?>"><?php echo $this->formText($idamt,Application_Helper_General::displayMoney($this->$idamt),$option); ?></td>
  	<td class="<?php echo $td_css;?>">

  		<!-- keperluan demo 28 feb 2020 -->
  		<select class="form-control">
  				<?php foreach ($this->resultlist as $list2) { ?>
  					<option value="<?php echo $list2['ACCT_NO']; ?>"><?php echo $list2['ACCT_NO'].' / '.$list2['ACCT_NAME'].' ('.$list2['CCY_ID'].')';  ?></option>
  				<?php } ?>
  		</select>
  		<!-- keperluan demo 28 feb 2020 -->
  	
  	<!-- <?php echo '<select class="form-control" name="'.$acct.'">';
  				echo '<option value="">---'.$this->language->_('Any Value').'---</option>';
					foreach($this->resultlist as $list2)
					{
						echo '<option value="'.$list2['ACCT_NO'].'"';
						if($list2['ACCT_NO']==$this->cekacct)
						{
							echo 'selected';
						}
						echo '>'.$list2['ACCT_NO'].' / '.$list2['ACCT_NAME'].' ('.$list2['CCY_ID'].')</option>';
					}
					echo '</select>';?> -->
	<?php 
	if($this->$erracct)
	{
		echo '<br /><span class="errmsg">'.$this->erracct.'</span>';
	}
	?>
  	</td>
  	</tr>
  	<?php 
  	if($this->$erramt)
  	{
  		echo '<tr>
  				<td class="'.$td_css.'">
  				&nbsp;
  				</td>
  				<td class="'.$td_css.'">';
  			echo '<span class="errmsg">'.$this->$erramt.'</span>';
  			echo '<br /><br />';
  		
  		echo '</td>
  			 </tr>';
  	}
  $y++;
 }
 else
 {
 	// keperluan demo 28 feb 2020

 		echo '<td class="text-center"><select class="form-control"><option selected>IDR</option><option>USD</option><option>EUR</option></select></td>';
 		echo '<td class="text-center"><input type="text" class="form-control" value="'.Application_Helper_General::displayMoney('500000').'" /></td>';
 		echo '<td></td>';

 	// keperluan demo 28 feb 2020

 	// echo '<tr><td class="tbl-evencontent" colspan="3">'.$this->language->_('No Data').'('.$this->language->_('company does not have Saving or Giro account').')</td></tr>';
 }?>
</table>

<?php }else if($this->monthlyfee == '1'){ ?>

	<table cellspacing="0" cellpadding="0" class="table-sm table table-striped"
	width="100%">
   <tr>
   	<th class="tablehead"><?php echo $this->language->_('Company Account')?></th>
    <th class="tablehead"><?php echo $this->language->_('CCY'); ?></th>	
    <th class="tablehead"><?php echo $this->language->_('Monthly Fee'); ?></th>
    <th class="tablehead"><?php echo $this->language->_('Charge to Account'); ?></th>
  </tr>
  <?php
if($this->resultaccount)
{
  $option = array('maxlength'=>15,
  						  'size'=>10,
						  'class'=>'currency form-control',
						  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
						  'onblur'=>'NumFrmtUS(this.value,this.id)',
						  'onkeypress'=>'return forceCurrencyOCBC(event)');
  $y = 0;
  foreach($this->resultaccount as $list)
  {
   $x = 0;
   $td_css = ($y%2==0)?'tbl-evencontent':'tbl-oddcontent';
   $idamt = $list['ACCT_NO'].'amount';
   $acct = $list['ACCT_NO'];
   $cekacct = 'cek'.$list['ACCT_NO'];
   $erramt = 'err'.$idamt;
   
   $erracct = 'err'.$cekacct;
  	?>
  	<tr>
  	<td class="<?php echo $td_css;?>"><?php  echo $list['ACCT_NO'].' / '.$list['ACCT_NAME'].' ('.$list['CCY_ID'].')'; ?></td>
  	<td class="<?php echo $td_css;?>"><?php  echo $list['CCY_ID']; ?></td>
    <td class="<?php echo $td_css;?>"><?php echo $this->formText($idamt,Application_Helper_General::displayMoney($this->$idamt),$option); 
  	if($this->$erramt)
  	{
  		echo '<br />';	
  		echo '<span class="errmsg">'.$this->$erramt.'</span>';
  	}
    ?></td>
    
  	<td class="<?php echo $td_css;?>">
  	
  	<?php echo '<select class="form-control" name="'.$acct.'">';
  					echo '<option value="">---'.$this->language->_('Please Select').'---</option>';
					foreach($this->resultlist as $list2)
					{
						if ($list2['CCY_ID'] == $list['CCY_ID']) {
							echo '<option value="'.$list2['ACCT_NO'].'"';
							if($list2['ACCT_NO']==$this->cekacct)
							{
								echo 'selected';
							}
							echo '>'.$list2['ACCT_NO'].' / '.$list2['ACCT_NAME'].' ('.$list2['CCY_ID'].')</option>';
						}
					}
						echo '</select>';?>
	<?php 
	if($this->$erracct)
	{
		echo '<br /><span class="errmsg">'.$this->$erracct.'</span>';
	}
	?>
  	</td>
  	</tr>
  	<?php 
  $y++;
  }
}
else
{
	echo '<tr><td class="tbl-evencontent" colspan="3">'.$this->language->_('No Data').' ('.$this->language->_('company does not have Saving or Giro account').')</td></tr>';
}?>
</table>


<?php }else if($this->monthlyfee == '4'){ ?>
	<table cellspacing="0" cellpadding="0" class="table-sm table "
	  width="50%">
	   <tr>
	    <th colspan="2" class="tablehead text-center"><?php echo $this->language->_('SUM Transaction')?></th>
	    <th rowspan="2" class="tablehead"><?php echo $this->language->_('CCY')?></th>
	    <th rowspan="2" class="tablehead"><?php echo $this->language->_('Monthly Fee')?></th>
	    <th rowspan="2" class="tablehead"><?php echo $this->language->_('Rebate ')?>(%)</th>
	    <th rowspan="2" class="tablehead text-center"><?php echo $this->language->_('Charge to Account')?></th>
	  </tr>
	  <tr>
	    <th class="tablehead text-center" style="border-top: 0"><?php echo $this->language->_('From')?></th>
	    <th class="tablehead text-center" style="border-top: 0"><?php echo $this->language->_('To')?></th>
	  </tr>
	  <?php
	  $option = array('maxlength'=>15,
	                'size'=>10,
	              'class'=>'currency',
	              'onfocus'=>'iNumFrmtUS(this.value,this.id)',
	              'onblur'=>'NumFrmtUS(this.value,this.id)',
	              'class' => 'form-control',
	              'onkeypress'=>'return forceCurrencyOCBC(event)');
	  $option2 = array('maxlength'=>10,
	                'size'=>15,
	                'onkeypress'=>'NumberOnly(this.value,this.id)',
	                'class' => 'form-control',
	                'onkeyup'=>'NumberOnly(this.value,this.id)');
	 for($i=0;$i<6;$i++)
	 {
	  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
	    $idfrom = 'from'.$i;
	    $idto = 'to'.$i;
	    $idamt = 'amount'.$i;
	    $redebate = 'redebate'.$i;
	    $errfrom = 'err'.$idfrom;
	    $erramt = 'err'.$idamt;
	    $errto = 'err'.$idto;
	    $err2 = 'err2'.$i;
	    //Zend_Debug::dump($this->$errto);die;
	  ?>
	  <tr>
	    <td class="<?php echo $td_css;?>" ><?php  echo $this->formText($idfrom,$this->$idfrom,$option2); ?></td>
	    <td class="<?php echo $td_css;?>" ><?php  echo $this->formText($idto,$this->$idto,$option2); ?></td>
	    <?php if($i == 0){ ?>

	    	<?php
	    	$this->monthly_ccy4 = 'IDR';
	    	?>
	    <td class="<?php echo $td_css;?>" rowspan="6"><?php echo 'IDR'; echo $this->formSelect('monthly_ccy4',$this->monthly_ccy4,array('id'=>'monthly_ccy4','class'=>'form-control','style'=>'display:none'), $this->dataccy); ?></td>	
		<?php } ?>
	    <td class="<?php echo $td_css;?>" align="center"><?php  echo $this->formText($idamt,Application_Helper_General::displayMoney($this->$idamt),$option); ?></td>
	    <td class="<?php echo $td_css;?>" align="center"><?php  echo $this->formText($redebate,Application_Helper_General::displayMoney($this->$redebate),$option); ?></td>
	     <?php if($i == 0){ ?>
	    <td class="<?php echo $td_css;?>" rowspan="6">
	    		 <?php $acct = "acct";
	    	$cekacct = 'cek'.'acct';
	      //  echo ''.$this->language->_('Charges Account : ').' ';
	          echo '<select class="form-control col-md-12" name="'.$acct.'">';
	            echo '<option value="">---'.$this->language->_('Please Select').'---</option>';
	          foreach($this->resultlist as $list2)
	          {
	            echo '<option value="'.$list2['ACCT_NO'].'"';
	            if($list2['ACCT_NO']==$this->cekacct)
	            {
	              echo 'selected';
	            }
	            echo '>'.$list2['ACCT_NO'].' / '.$list2['ACCT_NAME'].' ('.$list2['CCY_ID'].')</option>';
	          }
	            echo '</select>';?>

	    </td>	
		<?php } ?>
	  </tr>
	  <?php 
	    if($this->$errfrom || $this->$erramt ||$this->$err2)
	    {
	      echo '<tr>
	          <td class="'.$td_css.'" colspan="3">';;
	      
	      if($this->$erramt)
	      {
	        echo '<span class="errmsg">'.$this->$erramt.'</span>';
	        echo '<br /><br />';
	      }
	      
	      if($this->$errfrom)
	      {
	        echo '<span class="errmsg">'.$this->$errfrom.'</span>';
	        echo '<br /><br />';
	      }
	    
	      for($y=$i;$y>=0;$y--)
	      {
	        $errto2 = $errto.$y;
	        if($this->$errto2)
	        {
	          echo '<span class="errmsg">'.$this->$errto2.'</span>';
	          echo '<br /><br />';
	        }
	      }
	    }
	      
	      echo '</td>
	         </tr>';
	}?>
	</table>
	<br />
	   
	  <?php 
	  if($this->erracct)
	  {
	    echo '<br /><span class="errmsg">'.$this->erracct.'</span>';
	  }
	  ?>


<?php } ?>
<br />
<div class="row">
<div class="col-md-12" align="center">
<table>
	<tr align="left">
		<td  align="left">
			<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'setcompanycharges','controller'=>'monthlyfee','action'=>'index','custid'=>$enccustid),null,true);?>'" class="btnwhite hov" value="<?php echo $this->language->_('Back')?>">

			<!-- keperluan demo 28 feb 2020 -->
			<?php if(!$this->resultaccount) { ?>
					<?php echo $this->formSubmit('',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>&nbsp;
					<?php echo $this->formSubmit('',$this->language->_('Reset'),array('class'=>'btngreen hov')); ?>
			<?php } ?>
			<!-- keperluan demo 28 feb 2020 -->

			&nbsp;
			<?php
			if($this->resultaccount)
			{
				if($this->changestatus)
				{?>
					<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btnwhite disabled', 'disabled'=>'disabled')); ?>&nbsp;
					<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'btnwhite disabled', 'disabled'=>'disabled')); ?>
					<br /><br />
					<?php echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
				}
				else
				{?>
					<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>&nbsp;
					<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'btngreen hov'));
				}
			}?>
		</td>
	</tr>
</table>
</div>
</div>

</form>




</div>




 <div class="tab-pane fade show" id="inhouse" role="tabpanel" aria-labelledby="inhouse-tab">
	
	<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
<div class="table-responsive">
	<?php 
		echo $this->formHidden('chargetypes','inhouse');
	?>
	<div class="row">
		<div class="col-md-12">
			<h6><?php echo $this->language->_('Realtime Inhouse Charges'); ?></h6>
		</div>
		
		</div>
<table border="1" cellspacing="0" cellpadding="0" class="table-sm table table-striped"
	width="60%">
   <tr>
   	<th class="tablehead"><div align="center"><?php echo $this->language->_('Account'); ?></div></th>
    <th class="tablehead"><div align="center"><?php echo $this->language->_('Charges per Transaction'); ?></div></th>
    <th class="tablehead"><div align="center"><?php echo $this->language->_('Charge Account'); ?></div></th>
  </tr>
  <?php
if($this->resultaccount)
{
  $option = array('maxlength'=>15,
  						  'size'=>10,
						  'class'=>'currency form-control',
						  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
						  'onblur'=>'NumFrmtUS(this.value,this.id)',
						  'onkeypress'=>'return forceCurrencyOCBC(event)');
  
  foreach($this->resultaccount as $list)
  {
   $x = 0;
   $td_css = ($x%2==0)?'tbl-evencontent':'tbl-oddcontent';
   $idamt = $list['ACCT_NO'].'amount';
   $erramt = 'err'.$idamt;
  	?>
  	<tr>
  	<td class="<?php echo $td_css;?>"><?php  echo $list['ACCT_NO'].' / '.$list['ACCT_NAME'].' ('.$list['CCY_ID'].')'; ?></td>
    <td class="<?php echo $td_css;?>"><?php echo $this->formText($idamt,Application_Helper_General::displayMoney($this->$idamt),$option,array('class'=>'form-control')); ?></td>
    <td class="<?php echo $td_css;?>">
    <?php echo '<select class="form-control" name="'.$list['ACCT_NO'].'">';
  					echo '<option value="">---'.$this->language->_('Please Select').'---</option>';
					foreach($this->resultaccount as $list2)
					{
						echo '<option value="'.$list2['ACCT_NO'].'"';
						if($list2['ACCT_NO']==$this->cekacct)
						{
							echo 'selected';
						}
						echo '>'.$list2['ACCT_NO'].' / '.$list2['ACCT_NAME'].' ('.$list2['CCY_ID'].')</option>';
					}
						echo '</select>';?>
		</td>
  	</tr>
  	<?php 
  	if($this->$erramt)
  	{
  		echo '<tr>
  				<td class="'.$td_css.'">';
  			echo '<span class="errmsg">'.$this->$erramt.'</span>';
  			echo '<br /><br />';
  		
  		echo '</td>
  			 </tr>';
  	}
  	$x++;
  }
}
else
{
	echo '<tr><td class="tbl-evencontent" colspan="2">'.$this->language->_('No Data (company does not have Saving or Giro account)').'</td></tr>';
}?>
</div>
</table>
<br />
<table width="80%">
<tr align="left"><td  align="left">
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'setcompanycharges','controller'=>'detail','action'=>'index','custid'=>$enccustid),null,true);?>'" class="btnwhite hov" value="<?php echo $this->language->_('Back');?>">
&nbsp;
<?php
if($this->resultaccount)
{
	if($this->changestatus)
	{ ?>
		<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btnwhite disabled', 'disabled'=>'disabled')); ?>&nbsp;
		<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'btnwhite disabled', 'disabled'=>'disabled')); ?>
		<br /><br />
		<?php 
		echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
	}
	else
	{?>
		<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>&nbsp;
		<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'btngreen hov')); ?>
	<?php }
}?> 

</td></tr>
</table>
</div>
</form>

</div>



<div class="tab-pane fade show" id="domestic" role="tabpanel" aria-labelledby="domestic-tab">
	
	<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
<div class="table-responsive">
	<?php 
		echo $this->formHidden('chargetypes','domestic');
		  $option = array('maxlength'=>15,
	                'size'=>10,
	              'class'=>'currency',
	              'onfocus'=>'iNumFrmtUS(this.value,this.id)',
	              'onblur'=>'NumFrmtUS(this.value,this.id)',
	              'class' => 'form-control',
	              'onkeypress'=>'return forceCurrencyOCBC(event)');
	  $option2 = array('maxlength'=>10,
	                'size'=>15,
	                'onkeypress'=>'NumberOnly(this.value,this.id)',
	                'class' => 'form-control',
	                'onkeyup'=>'NumberOnly(this.value,this.id)');
	?>

	<div class="row">
		<div class="col-md-6">
			<div class="row">
			<div class="col-md-12">
				<h6><?php echo $this->language->_('Realtime Domestic Transfer Charges'); ?></h6>
			</div>
			
			</div>
			 <table border="1" cellspacing="0" cellpadding="0" class="table-sm table table-striped">
				<tr>
					<td class="tdform-odd">RTGS<font color="red">*</font></td>
					<td class="tdform-odd">
					<?php 
					echo $this->formText('rtgs',Application_Helper_General::displayMoney($this->rtgsamt),array('class'=>'form-control'),$option);
					
					if($this->errrtgsamt)
					{
						echo '<br/><span class="errmsg">'.$this->errrtgsamt.'</span>';
					}
					?>
					</td>
				</tr>
				
				<tr>
					<td class="tdform-odd">SKN<font color="red">*</font></td>
					<td class="tdform-odd">
					<?php 
					echo $this->formText('skn',Application_Helper_General::displayMoney($this->sknamt),array('class'=>'form-control'),$option);
					
					if($this->errsknamt)
					{
						echo '<br/><span class="errmsg">'.$this->errsknamt.'</span>';
					}
					?>
					</td>
				</tr>
				
				<tr>
					<td class="tdform-odd">Domestic Online<font color="red">*</font></td>
					<td class="tdform-odd">
					<?php 
					echo $this->formText('dom',Application_Helper_General::displayMoney($this->domamt),array('class'=>'form-control'),$option);
					
					if($this->errdomamt)
					{
						echo '<br/><span class="errmsg">'.$this->errdomamt.'</span>';
					}
					?>
					</td>
				</tr>
			</table>
		</div>

		<div class="col-md-6">
				<div class="row">
					<div class="col-md-3">
						<?php echo $this->language->_('Charge Account');?>
					</div>
					<div class="col-md-9">
						<?php echo '<select class="form-control" name="charges_acc_dom">';
			  					echo '<option value="">---'.$this->language->_('Please Select').'---</option>';
								foreach($this->resultaccount as $list2)
								{
									echo '<option value="'.$list2['ACCT_NO'].'"';
									if($list2['ACCT_NO']==$this->charges_acc_dom)
									{
										echo 'selected';
									}
									echo '>'.$list2['ACCT_NO'].' / '.$list2['ACCT_NAME'].' ('.$list2['CCY_ID'].')</option>';
								}
									echo '</select>';?>
					</div>
				</div>
		</div>
	</div>



</div>
<br />
<div class="row">
	<div class="col-md-12" align="center">
<table>
	<tr align="left">
		<td  align="left">
			<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'setcompanycharges','controller'=>'monthlyfee','action'=>'index','custid'=>$enccustid),null,true);?>'" class="btnwhite hov" value="<?php echo $this->language->_('Back')?>">
			&nbsp;
			<?php
			if($this->resultaccount)
			{
				if($this->changestatus)
				{?>
					<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btnwhite disabled', 'disabled'=>'disabled')); ?>&nbsp;
					<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'btnwhite disabled', 'disabled'=>'disabled')); ?>
					<br /><br />
					<?php echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
				}
				else
				{?>
					<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>&nbsp;
					<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'btngreen hov'));
				}
			}?>
		</td>
	</tr>
</table>
</div>
</div>

</form>

</div>



<div class="tab-pane fade show" id="direct" role="tabpanel" aria-labelledby="direct-tab">
	
	<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
<div class="table-responsive">
	<?php 
		echo $this->formHidden('chargetypes','direct');
		  $option = array('maxlength'=>15,
	                'size'=>10,
	              'class'=>'currency',
	              'onfocus'=>'iNumFrmtUS(this.value,this.id)',
	              'onblur'=>'NumFrmtUS(this.value,this.id)',
	              'class' => 'form-control',
	              'onkeypress'=>'return forceCurrencyOCBC(event)');
	  $option2 = array('maxlength'=>10,
	                'size'=>15,
	                'onkeypress'=>'NumberOnly(this.value,this.id)',
	                'class' => 'form-control',
	                'onkeyup'=>'NumberOnly(this.value,this.id)');
	?>

	<div class="row">
		<div class="col-md-6">
			<div class="row">
			<div class="col-md-12">
				<h6><?php echo $this->language->_('Realtime Direct Debit Charges'); ?></h6>
			</div>
			
			</div>
			 <table border="1" cellspacing="0" cellpadding="0" class="table-sm table table-striped">
				<tr>
					<td class="tdform-odd"><?php echo $this->language->_('Direct Debit'); ?> ( <?php echo $this->language->_('Inhouse'); ?> )</td>
					<td class="tdform-odd">
					<?php 
					echo $this->formText('direct_inhouse',Application_Helper_General::displayMoney($this->direct_inhouseamt),array('class'=>'form-control'),$option);
					
					if($this->errrtgsamt)
					{
						echo '<br/><span class="errmsg">'.$this->errrtgsamt.'</span>';
					}
					?>
					</td>
				</tr>
				
				<tr>
					<td class="tdform-odd"><?php echo $this->language->_('Direct Debit'); ?> ( <?php echo $this->language->_('Domestic'); ?> )</td>
					<td class="tdform-odd">
					<?php 
					echo $this->formText('direct_dom',Application_Helper_General::displayMoney($this->direct_domamt),array('class'=>'form-control'),$option);
					
					if($this->errsknamt)
					{
						echo '<br/><span class="errmsg">'.$this->errsknamt.'</span>';
					}
					?>
					</td>
				</tr>
			</table>
		</div>

		<div class="col-md-6">
				<div class="row">
					<div class="col-md-3">
						<?php echo $this->language->_('Charge Account');?>
					</div>
					<div class="col-md-9">
						<?php echo '<select class="form-control" name="charges_acc_direct">';
			  					echo '<option value="">---'.$this->language->_('Please Select').'---</option>';
								foreach($this->resultaccount as $list2)
								{
									echo '<option value="'.$list2['ACCT_NO'].'"';
									if($list2['ACCT_NO']==$this->charges_acc_direct)
									{
										echo 'selected';
									}
									echo '>'.$list2['ACCT_NO'].' / '.$list2['ACCT_NAME'].' ('.$list2['CCY_ID'].')</option>';
								}
									echo '</select>';?>
					</div>
				</div>
		</div>
	</div>



</div>
<br />
<div class="row">
<div class="col-md-12" align="center">
<table>
	<tr align="left">
		<td  align="left">
			<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'setcompanycharges','controller'=>'monthlyfee','action'=>'index','custid'=>$enccustid),null,true);?>'" class="btnwhite hov" value="<?php echo $this->language->_('Back')?>">
			&nbsp;
			<?php
			if($this->resultaccount)
			{
				if($this->changestatus)
				{?>
					<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btnwhite disabled', 'disabled'=>'disabled')); ?>&nbsp;
					<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'btnwhite disabled', 'disabled'=>'disabled')); ?>
					<br /><br />
					<?php echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
				}
				else
				{?>
					<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>&nbsp;
					<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'btngreen hov'));
				}
			}?>
		</td>
	</tr>
</table>
</div>
</div>

</form>

</div>


<div class="tab-pane fade show" id="valas" role="tabpanel" aria-labelledby="valas-tab">
	
	<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
<div class="table-responsive">
	<?php 
		echo $this->formHidden('chargetypes','valas');
		  $option = array('maxlength'=>15,
	                'size'=>10,
	              'class'=>'currency',
	              'onfocus'=>'iNumFrmtUS(this.value,this.id)',
	              'onblur'=>'NumFrmtUS(this.value,this.id)',
	              'class' => 'form-control',
	              'onkeypress'=>'return forceCurrencyOCBC(event)');
	  $option2 = array('maxlength'=>10,
	                'size'=>15,
	                'onkeypress'=>'NumberOnly(this.value,this.id)',
	                'class' => 'form-control',
	                'onkeyup'=>'NumberOnly(this.value,this.id)');
	?>

	<div class="row">
		<div class="col-md-6">
			<div class="row">
			<div class="col-md-12">
				<h6><?php echo $this->language->_('Realtime Valas Transfer Charges'); ?></h6>
			</div>
			
			</div>
			
		</div>

		<div class="col-md-6">
				<div class="row">
					<div class="col-md-3">
						<?php echo $this->language->_('Charge Account');?>
					</div>
					<div class="col-md-9">
						<?php echo '<select class="form-control" name="charges_acc_valas">';
			  					echo '<option value="">---'.$this->language->_('Please Select').'---</option>';
								foreach($this->resultaccount as $list2)
								{
									echo '<option value="'.$list2['ACCT_NO'].'"';
									if($list2['ACCT_NO']==$this->charges_acc_valas)
									{
										echo 'selected';
									}
									echo '>'.$list2['ACCT_NO'].' / '.$list2['ACCT_NAME'].' ('.$list2['CCY_ID'].')</option>';
								}
									echo '</select>';?>
					</div>
				</div>
		</div>
	</div>


	<div class="row">
			<div class="col-md-12">
					<?php 
						$optionCurrency = array('maxlength'=>20,
										  'size'=>12,
										  'class'=>'currency form-control',						  
										  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
										  'onblur'=>'NumFrmtUS(this.value,this.id)',
										  'onkeypress'=>'return forceCurrency(event)');
						$charges = 0;
					?>
				
					<table width="100%" align="center" class="table-sm table table-striped">
							<tr>
								<th class="tablehead">CHARGE</th>
								<th class="tablehead" colspan="2">TRANSFER FEE</th>
								<th class="tablehead" colspan="2">FULL AMOUNT FEE</th>
								<th class="tablehead" colspan="4">PROVISION FEE</th>
							</tr>
							<tr>
								<th class="tablehead">CCY</th>
								<th width="90px" class="tablehead">CCY</th>
								<th class="tablehead">Charge Amount</th>
								<th width="90px" class="tablehead">CCY</th>
								<th class="tablehead">Charge Amount</th>
								<th width="90px" class="tablehead">CCY</th>
								<th class="tablehead">Min Provision</th>
								<th class="tablehead">Max Provision</th>
								<th class="tablehead">% from Trx</th>
							</tr>
							<tr>
								<td>AUD <input type="hidden" name="ccy[]" value="AUD"></td>
								<td>
									 <?php echo $this->formSelect('ccytfAUD',$this->tfccyAUD,array('id'=>'ccytfAUD','class'=>'form-control'), $this->dataccy); ?>
										<!-- <select class="form-control " name="ccytfAUD">

												<option value="-">-</option>
												<option value="AUD">AUD</option>
												<option value="EUR">EUR</option>
												<option value="IDR">IDR</option>
												<option value="SGD">SGD</option>
												<option value="USD">USD</option>
										</select> -->
										<input type="hidden" name="charges_typeAUD" value="3">
								</td>
								

								<td><?php echo $this->formText('tfamountAUD',Application_Helper_General::displayMoney($this->tfamtAUD),$optionCurrency)?></td>
								<td>
									 <?php echo $this->formSelect('ccyfaAUD',$this->faccyAUD,array('id'=>'ccyfaAUD','class'=>'form-control'), $this->dataccy); ?>
										<!-- <select class="form-control " name="ccyfaAUD">
												<option value="-">-</option>
												<option value="AUD">AUD</option>
												<option value="EUR">EUR</option>
												<option value="IDR">IDR</option>
												<option value="SGD">SGD</option>
												<option value="USD">USD</option>
										</select> -->
										<input type="hidden" name="charges_typeAUD" value="4">
								</td>
								<td><?php echo $this->formText('faamountAUD',Application_Helper_General::displayMoney($this->faamtAUD),$optionCurrency)?></td>
								<td>
									 <?php echo $this->formSelect('ccypfAUD',$this->prccyAUD,array('id'=>'ccypfAUD','class'=>'form-control'), $this->dataccy); ?>
										<!-- <select class="form-control " name="ccypfAUD">
												<option value="-">-</option>
												<option value="AUD">AUD</option>
												<option value="EUR">EUR</option>
												<option value="IDR">IDR</option>
												<option value="SGD">SGD</option>
												<option value="USD">USD</option>
										</select> -->
										<input type="hidden" name="charges_typeAUD" value="5">
								</td>
								<td><?php echo $this->formText('minAUD',Application_Helper_General::displayMoney($this->prmaxAUD),$optionCurrency)?></td>
								<td><?php echo $this->formText('maxAUD',Application_Helper_General::displayMoney($this->prminAUD),$optionCurrency)?></td>
								<td><input type="text" class="form-control " name="pcyAUD" value="<?php echo $this->prpctAUD; ?>"></td>
							</tr>
							<tr>
								<td>EUR <input type="hidden" name="ccy[]" value="EUR"></td>
								<td>
									 <?php echo $this->formSelect('ccytfEUR',$this->tfccyEUR,array('id'=>'ccytfEUR','class'=>'form-control'), $this->dataccy); ?>
										<!-- <select class="form-control " name="ccytfEUR">
												<option value="-">-</option>
												<option value="AUD">AUD</option>
												<option value="EUR">EUR</option>
												<option value="IDR">IDR</option>
												<option value="SGD">SGD</option>
												<option value="USD">USD</option>
										</select> -->
										<input type="hidden" name="charges_typeEUR" value="3">
								</td>
								<td><?php echo $this->formText('tfamountEUR',Application_Helper_General::displayMoney($this->tfamtEUR),$optionCurrency)?></td>
								<td>
									 <?php echo $this->formSelect('ccyfaEUR',$this->faccyEUR,array('id'=>'ccyfaEUR','class'=>'form-control'), $this->dataccy); ?>
										<!-- <select class="form-control " name="ccyfaEUR">
												<option value="-">-</option>
												<option value="AUD">AUD</option>
												<option value="EUR">EUR</option>
												<option value="IDR">IDR</option>
												<option value="SGD">SGD</option>
												<option value="USD">USD</option>
										</select> -->
										<input type="hidden" name="charges_typeEUR" value="4">
								</td>
								<td><?php echo $this->formText('faamountEUR',Application_Helper_General::displayMoney($this->faamtEUR),$optionCurrency)?></td>
								<td>
									 <?php echo $this->formSelect('ccypfEUR',$this->prccyEUR,array('id'=>'ccypfEUR','class'=>'form-control'), $this->dataccy); ?>
										<!-- <select class="form-control " name="ccypfEUR">
												<option value="-">-</option>
												<option value="AUD">AUD</option>
												<option value="EUR">EUR</option>
												<option value="IDR">IDR</option>
												<option value="SGD">SGD</option>
												<option value="USD">USD</option>
										</select> -->
										<input type="hidden" name="charges_typeEUR" value="5">
								</td>
								<td><?php echo $this->formText('minEUR',Application_Helper_General::displayMoney($this->prmaxEUR),$optionCurrency)?></td>
								<td><?php echo $this->formText('maxEUR',Application_Helper_General::displayMoney($this->prminEUR),$optionCurrency)?></td>
								<td><input type="text" class="form-control " name="pcyEUR" value="<?php echo $this->prpctEUR; ?>"></td>
							</tr>
							<tr>
								<td>IDR <input type="hidden" name="ccy[]" value="IDR"></td>
								<td>
									 <?php echo $this->formSelect('ccytfIDR',$this->tfccyIDR,array('id'=>'ccytfIDR','class'=>'form-control'), $this->dataccy); ?>
										<!-- <select class="form-control " name="ccytfIDR">
												<option value="-">-</option>
												<option value="AUD">AUD</option>
												<option value="EUR">EUR</option>
												<option value="IDR">IDR</option>
												<option value="SGD">SGD</option>
												<option value="USD">USD</option>
										</select> -->
										<input type="hidden" name="charges_typeIDR" value="3">
								</td>
								<td><?php echo $this->formText('tfamountIDR',Application_Helper_General::displayMoney($this->tfamtIDR),$optionCurrency)?></td>
								<td>
									 <?php echo $this->formSelect('ccyfaIDR',$this->faccyIDR,array('id'=>'ccyfaIDR','class'=>'form-control'), $this->dataccy); ?>
										<!-- <select class="form-control " name="ccyfaIDR">
												<option value="-">-</option>
												<option value="AUD">AUD</option>
												<option value="EUR">EUR</option>
												<option value="IDR">IDR</option>
												<option value="SGD">SGD</option>
												<option value="USD">USD</option>
										</select> -->
										<input type="hidden" name="charges_typeIDR" value="4">
								</td>
								<td><?php echo $this->formText('faamountIDR',Application_Helper_General::displayMoney($this->faamtIDR),$optionCurrency)?></td>
								<td>
									 <?php echo $this->formSelect('ccypfIDR',$this->prccyIDR,array('id'=>'ccypfIDR','class'=>'form-control'), $this->dataccy); ?>
										<!-- <select class="form-control " name="ccypfIDR">
												<option value="-">-</option>
												<option value="AUD">AUD</option>
												<option value="EUR">EUR</option>
												<option value="IDR">IDR</option>
												<option value="SGD">SGD</option>
												<option value="USD">USD</option>
										</select> -->
										<input type="hidden" name="charges_typeIDR" value="5">
								</td>
								<td><?php echo $this->formText('minIDR',Application_Helper_General::displayMoney($this->prmaxIDR),$optionCurrency)?></td>
								<td><?php echo $this->formText('maxIDR',Application_Helper_General::displayMoney($this->prminIDR),$optionCurrency)?></td>
								<td><input type="text" class="form-control " name="pcyIDR" value="<?php echo $this->prpctIDR; ?>"></td>
							</tr>

							<tr>
								<td>SGD <input type="hidden" name="ccy[]" value="SGD"></td>
								<td>
									 <?php echo $this->formSelect('ccytfSGD',$this->tfccySGD,array('id'=>'ccytfSGD','class'=>'form-control'), $this->dataccy); ?>
										<!-- <select class="form-control " name="ccytfSGD">
												<option value="-">-</option>
												<option value="AUD">AUD</option>
												<option value="EUR">EUR</option>
												<option value="IDR">IDR</option>
												<option value="SGD">SGD</option>
												<option value="USD">USD</option>
										</select> -->
										<input type="hidden" name="charges_typeSGD" value="3">
								</td>
								<td><?php echo $this->formText('tfamountSGD',Application_Helper_General::displayMoney($this->tfamtSGD),$optionCurrency)?></td>
								<td>
									 <?php echo $this->formSelect('ccyfaSGD',$this->faccySGD,array('id'=>'ccyfaSGD','class'=>'form-control'), $this->dataccy); ?>
										<!-- <select class="form-control " name="ccyfaSGD">
												<option value="-">-</option>
												<option value="AUD">AUD</option>
												<option value="EUR">EUR</option>
												<option value="IDR">IDR</option>
												<option value="SGD">SGD</option>
												<option value="USD">USD</option>
										</select> -->
										<input type="hidden" name="charges_typeSGD" value="4">
								</td>
								<td><?php echo $this->formText('faamountSGD',Application_Helper_General::displayMoney($this->faamtSGD),$optionCurrency)?></td>
								<td>
									 <?php echo $this->formSelect('ccypfSGD',$this->prccySGD,array('id'=>'ccypfSGD','class'=>'form-control'), $this->dataccy); ?>
										<!-- <select class="form-control " name="ccypfSGD">
												<option value="-">-</option>
												<option value="AUD">AUD</option>
												<option value="EUR">EUR</option>
												<option value="IDR">IDR</option>
												<option value="SGD">SGD</option>
												<option value="USD">USD</option>
										</select> -->
										<input type="hidden" name="charges_typeSGD" value="5">
								</td>
								<td><?php echo $this->formText('minSGD',Application_Helper_General::displayMoney($this->prmaxSGD),$optionCurrency)?></td>
								<td><?php echo $this->formText('maxSGD',Application_Helper_General::displayMoney($this->prminSGD),$optionCurrency)?></td>
								<td><input type="text" class="form-control " name="pcySGD" value="<?php echo $this->prpctSGD; ?>"></td>
							</tr>
							<tr>
								<td>USD <input type="hidden" name="ccy[]" value="USD"></td>
								<td>
									 <?php echo $this->formSelect('ccytfUSD',$this->tfccyUSD,array('id'=>'ccytfUSD','class'=>'form-control'), $this->dataccy); ?>
										<!-- <select class="form-control " name="ccytfUSD">
												<option value="-">-</option>
												<option value="AUD">AUD</option>
												<option value="EUR">EUR</option>
												<option value="IDR">IDR</option>
												<option value="SGD">SGD</option>
												<option value="USD">USD</option>
										</select> -->
										<input type="hidden" name="charges_typeUSD" value="3">
								</td>
								<td><?php echo $this->formText('tfamountUSD',Application_Helper_General::displayMoney($this->tfamtUSD),$optionCurrency)?></td>
								<td>
									 <?php echo $this->formSelect('ccyfaUSD',$this->faccyUSD,array('id'=>'ccyfaUSD','class'=>'form-control'), $this->dataccy); ?>
										<!-- <select class="form-control " name="ccyfaUSD">
												<option value="-">-</option>
												<option value="AUD">AUD</option>
												<option value="EUR">EUR</option>
												<option value="IDR">IDR</option>
												<option value="SGD">SGD</option>
												<option value="USD">USD</option>
										</select> -->
										<input type="hidden" name="charges_typeUSD" value="4">
								</td>
								<td><?php echo $this->formText('faamountUSD',Application_Helper_General::displayMoney($this->faamtUSD),$optionCurrency)?></td>
								<td>
									 <?php echo $this->formSelect('ccypfUSD',$this->prccyUSD,array('id'=>'ccypfUSD','class'=>'form-control'), $this->dataccy); ?>
										<!-- <select class="form-control " name="ccypfUSD">
												<option value="-">-</option>
												<option value="AUD">AUD</option>
												<option value="EUR">EUR</option>
												<option value="IDR">IDR</option>
												<option value="SGD">SGD</option>
												<option value="USD">USD</option>
										</select> -->
										<input type="hidden" name="charges_typeUSD" value="5">
								</td>
								<td><?php echo $this->formText('minUSD',Application_Helper_General::displayMoney($this->prmaxUSD),$optionCurrency)?></td>
								<td><?php echo $this->formText('maxUSD',Application_Helper_General::displayMoney($this->prminUSD),$optionCurrency)?></td>
								<td><input type="text" class="form-control " name="pcyUSD" value="<?php echo $this->prpctUSD; ?>"></td>
							</tr>
					</table>
					<br><br>
					
				
			</div>
	</div>





</div>
<br />
<div class="row">
<div class="col-md-12" align="center">
<table>
	<tr align="left">
		<td  align="left">
			<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'setcompanycharges','controller'=>'monthlyfee','action'=>'index','custid'=>$enccustid),null,true);?>'" class="btnwhite hov" value="<?php echo $this->language->_('Back')?>">
			&nbsp;
			<?php

			if($this->resultaccount)
			{
				if($this->changestatus)
				{?>
					<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btnwhite disabled', 'disabled'=>'disabled')); ?>&nbsp;
					<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'btnwhite disabled', 'disabled'=>'disabled')); ?>
					<br /><br />
					<?php echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
				}
				else
				{?>
					<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>&nbsp;
					<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'btngreen hov'));
				}
			}?>
		</td>
	</tr>
</table>
</div>
</div>

</form>

</div>

<br />


