<?php $anyvalue = $this->language->_('Any Value'); ?>

<script type="text/javascript">
    $(document).ready(function() {
        $('#fixTable').fixTableHeader();
    });
</script>

<style>
    @media print {

        .hidden,
        .hidden * {
            display: none !important;
            visibility: hidden;
        }

        button {
            display: none !important;
            visibility: hidden;
        }


        .hiddenLogo,
        .hiddenLogo * {
            display: inline !important;
            visibility: show;
            margin-bottom: 40px;
        }

        input.currency {
            width: 200px;
            font-size: 10px;
        }

        ul {
            padding-left: 10px;
        }

        h2 {
            color: #5B0000;
            font-size: 16px;
            font-weight: bold
        }

        body .ui-helper-hidden-accessible {
            position: fixed
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            background-color: white;
        }

        b {
            font-weight: bold;
            font-size: 11px
        }

        td {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            color: #000000;
            text-decoration: none;
        }

        a {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            color: #000000;
            text-decoration: underline;
        }

        .tbl-evencontent {
            background-color: none;
            padding: 1px 1px 1px 1px;
            border-bottom: 1px solid #A9A9A9;
            border-right: 1px solid #A9A9A9;
            border-left: 1px solid #A9A9A9;
            border-top: 1px solid #A9A9A9;
            vertical-align: top;
            font-size: 10px;
        }

        .tbl-oddcontent {
            background-color: none;
            padding: 1px 1px 1px 1px;
            border-bottom: 1px solid #A9A9A9;
            border-right: 1px solid #A9A9A9;
            border-left: 1px solid #A9A9A9;
            border-top: 1px solid #A9A9A9;
            vertical-align: top;
            font-size: 10px;
        }

        .tdform-sub {
            background-color: #0c67a0;
            padding: 4px 4px 4px 4px;
            border-bottom: 0px solid #A9A9A9;
            border-top: 1px solid #A9A9A9;
            ;
            border-right: 1px solid #A9A9A9;
            ;
            border-left: 1px solid #A9A9A9;
            vertical-align: top;
            font-weight: bold;
            color: white;
        }

        .tdform-odd {
            background-color: #FFFFFF;
            padding: 4px 4px 4px 4px;
            border: 1px solid;
            vertical-align: top;
        }

        .errmsg {
            font-weight: bold;
            font-size: 11px;
            color: #FF0000
        }

        .headercolor {
            background-color: #0c67a0;
            padding: 4px 4px 4px 4px;
            border-bottom: 0px solid #A9A9A9;
            border-top: 1px solid #A9A9A9;
            ;
            border-right: 1px solid #A9A9A9;
            ;
            border-left: 1px solid #A9A9A9;
            vertical-align: top;
            font-weight: bold;
            color: white;
        }

        body {
            font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
            -webkit-print-color-adjust: exact;
            /*chrome*/
            -moz-print-color-adjust: exact;
            /*mozila*/
            -o-print-color-adjust: exact;
            /*opera*/
            -ms-print-color-adjust: exact;
            /*ie*/
        }

        .Path-85 {
            opacity: 0.4;
            position: fixed;
            bottom: 0;
            left: 0;
        }

        .Path-83 {
            opacity: 0.4;
            position: fixed;
            bottom: 0;
            right: 0;
        }

        .printlogo {
            width: 60%;
        }

        .footer {
            display: none;
        }

        .printhide {
            display: none;
        }

        .printshow {
            display: block;
        }
    }
</style>

<!-- header print -->
<table border="0" cellpadding="0" cellspacing="0" width="60%" align="left" style="display:none" class="hiddenLogo">
    <tr>
        <td valign="left">
            <div style="padding: 0px 20px 0px 0px"><img class="printlogo" src="/assets/permatalayout/assets/newlayout/img/logosgo_small_2.png" border="0" /></div>
        </td>
    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="40%" align="right" style="display:none" class="hiddenLogo">
    <tr>
        <td align="center" valign="middle"><strong><?php echo $this->language->_('Approve'); ?> - </strong></td>
        <td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s") ?></strong></td>
    </tr>
</table>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('Reports') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>

                <li>
                    <span class="inhouse"><?= $this->language->_('Payroll Report') ?></span>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="row content-box">
    <div class="portlet-body form col-md-12">

        <h5>Payroll Report</h5>

        <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">

            <?php echo $this->partial('filter.phtml', array(
                'datetype' => array("PS_CREATED", "PS_EFDATERPT", "PS_UPDATED"),
                'selectlist' => array('PS_CCY', 'PS_STATUS', 'SOURCE_ACCOUNT_CCY', 'PS_SUBJECT', 'SOURCE_ACCOUNT', 'BENEFICIARY_ACCOUNT', 'BENEFICIARY_ACCOUNT_CCY', 'TRA_AMOUNT', 'PS_TOTAL_AMOUNT'),
                'filterlist' => $this->filterlist,
                'wherecol' => $this->wherecol,
                'whereopt' => $this->whereopt,
                'whereval' => $this->whereval,
                'createdStart' => $this->createdStart,
                'createdEnd' => $this->createdEnd,
                'paymentStart1' => $this->paymentStart,
                'paymentEnd1' => $this->paymentEnd,
                'updatedStart' => $this->updatedStart,
                'updatedEnd' => $this->updatedEnd,
                'paymentType' => $this->paymentType,
                'optPayType' => $this->optPayType,
                'transtype' => $this->transtype,
                'range_reporthistory' => $this->range_reporthistory,
                'modulename' => $this->modulename,
                'controllername' => $this->controllername,
                'source'    => 'open', //open = include rek open banking, null = not include open banking
                'benef'    => 'open' //open = include rek open banking, null = not include open banking
            )); ?>

        </form>
    </div>
</div>

<br>

<div class="form-group">
    <div style="float:right; padding-left:5px;">
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="search form-control" placeholder="Search">
        </div>
    </div>
    <div style="float:right; padding-left:10px;">
        <?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) {
            echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;' . $this->language->_("Print") . '</button>';
        } else {
        ?>
            <div class="wrapper">
                <i class="fa fa-print iconins"></i>
                <input class="btngrad hov" value="<?php echo $this->language->_('Print') ?>" onclick="window.print();" type="button">
            </div>
        <?php
        }
        ?>
    </div>
    <div style="float:right; padding-left:10px;">
        <form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">
            <?php if ($this->paginator->getTotalItemCount() > $this->applicationSetting['max_row_download_csv']) { ?>
                <!-- <?php echo $this->formSubmit('csv', 'CSV is too large (function is disabled)', array('class' => 'btn btn-warning', 'disabled' => 'disabled')); ?>&nbsp; -->
                <?php echo '<input type="submit" value="&#xf6dd Export Files is too large (function is disabled)" name="csv" id="csv" class="fa hov" disabled>'; ?>&nbsp;
            <?php } else { ?>
                <!-- <?php echo $this->formSubmit('csv', 'CSV', array('class' => 'btn btn-warning')); ?>&nbsp; -->
                <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa hov">'; ?>&nbsp;
            <?php } ?>
        </form>
    </div>
</div>

<br />

<br />

<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
    <table class="table table-sm table-striped headerNew">
        <thead>
            <tr class="headercolor">
                <th width="3%" valign="top" class="tablehead">No</th>
                <?php echo $this->partial('tableheader.phtml', array(
                    'fields' => $this->fields,
                    'sortBy' => $this->sortBy,
                    'sortDir' => $this->sortDir,
                    'query_string_params' => $this->query_string_params
                )); ?>
            </tr>
        </thead>
        <tbody>
            <?php
            $counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;

            if (count($this->paginator) > 0) {
                $i = 0;

                foreach ($this->paginator as $row) {

                    $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
                    if ($row['TRANSFER_TYPE'] == 'PB') {
                        $row['TRANSFER_TYPE'] = 'In House';
                    }
                    if ($row['PS_TYPE'] == $this->arrPayType[1] || $row['PS_TYPE'] == $this->arrPayType[16] || $row['PS_TYPE'] == $this->arrPayType[17]) {
                        $type = $row['PS_TYPE'];
                    } else if ($row['PS_TYPE'] == 'Local Remittance') {
                        $type = $row['PS_TYPE'];
                    } else if ($row['PS_TYPE'] == 'Disbursement') {
                        $type = $row['PS_TYPE'];
                    } 
                    else if ($row['PSTYPE'] == '19') {
                         $type = $row['PS_TYPE'].' - Remains';
                    }
                    else if ($row['PSTYPE'] == '20') {
                         $type = $row['PS_TYPE'].' - Maintains';
                    }else {
                        $type = $row['PS_TYPE'] . ' - ' . $row['TRANSFER_TYPE'];
                    }

                    if ($row['TRANSFER_TYPE'] == "OUR" || $row['TRANSFER_TYPE'] == "SHA") {
                        if ($row['PS_CCY'] != "IDR") {
                            //print_r($row);die;
                            $totalinidr = (($row['TRA_AMOUNT'] + $row['FULL_AMOUNT_FEE'] + $row['PROVISION_FEE']) * Application_Helper_General::convertDisplayMoney($row['RATE'])) + $row['TRANSFER_FEE'];
                        } else if ($row['RATE_BUY'] == NULL) {
                            $totalinvalas = $row['TRA_AMOUNT'];
                        } else
                            $totalinvalas = $totalinidr / Application_Helper_General::convertDisplayMoney($row['RATE_BUY']);

                        $amount = Application_Helper_General::displayMoneyplain($totalinvalas);
                        //      print_r($totalinidr);die;
                        $rate = $row['RATE'];
                    } else {
                        //              $totalinvalas = $row['TRA_AMOUNT'];
                        $amount = Application_Helper_General::displayMoneyplain($row['TRA_AMOUNT']);
                        //$totalinidr = $row['EQUIVALENT_AMOUNT_IDR'];
                    }

                    require_once 'Crypt/AESMYSQL.php';
                    $AESMYSQL = new Crypt_AESMYSQL();
                    $rand = $this->token;
                    $encrypted_pwd = $AESMYSQL->encrypt($row['TRANSACTION_ID'], $rand);
                    // $dt["payReff"] = urlencode($encrypted_pwd);
                    $encreff = urlencode($encrypted_pwd); 

                    if ($row['PS_SUBJECT'] != '') {
                        $PS_NUMBERlink = $row['TRANSACTION_ID'].' - <a href="' . $this->url(array('module' => 'display', 'controller' => 'payrolldetail', 'action' => 'index', 'psnumber' => $encreff), null, true) . '">' . $row["PS_SUBJECT"] . '</a>';
                    }
                    else{
                        $PS_NUMBERlink = $row['TRANSACTION_ID'].' - <a href="' . $this->url(array('module' => 'display', 'controller' => 'payrolldetail', 'action' => 'index', 'psnumber' => $encreff), null, true) . '"> no subject </a>';
                    }

                    if ($row['BENEFICIARY_ACCOUNT_CCY'] == 'USD' && $row['SOURCE_ACCOUNT_CCY'] == 'USD') {
                        $amount_txt = '<td class="' . $td_css . '">' . $row['PS_CCY'] . ' ' . $row['EQUIVALENT_AMOUNT_IDR'] . '</td>';
                    } elseif (!empty($row['EQUIVALENT_AMOUNT_IDR']) && $row['EQUIVALENT_AMOUNT_IDR'] != '0.00' && $row['BALANCE_TYPE'] != '2') {

                        //$amount_txt = '<td class="'.$td_css.'">'.$row['PS_CCY'].' '.$amount.'( IDR :.'. Application_Helper_General::displayMoney($row['EQUIVALENT_AMOUNT_IDR']).' )</td>';
                        if ($row["BENEFICIARY_ACCOUNT_CCY"] == 'USD' && $row['SOURCE_ACCOUNT_CCY'] == 'USD') {
                            $amounteq = 'USD ' . Application_Helper_General::displayMoneyplain($row['EQUIVALENT_AMOUNT_IDR']);
                        } elseif ($row["BENEFICIARY_ACCOUNT_CCY"] == 'IDR' && $row['SOURCE_ACCOUNT_CCY'] == 'IDR') {
                            //print_r($row);die;
                            $amounteq = 'IDR ' . Application_Helper_General::displayMoneyplain($row['EQUIVALENT_AMOUNT_IDR']);
                        } else {
                            $amounteq = $row['PS_CCY'] . ' ' . $row['TRA_AMOUNT'] . ' (' . 'IDR ' . Application_Helper_General::displayMoneyplain($row['EQUIVALENT_AMOUNT_IDR']) . ')';
                        }
                        $amount_txt = '<td class="' . $td_css . '">' . $amounteq . '</td>';
                    } else if ($row['BALANCE_TYPE'] == '2') {
                        $amount = Application_Helper_General::displayMoneyplain($row['PS_REMAIN']);
                        $amount_txt = '<td class="' . $td_css . '">' . $row['PS_CCY'] . ' ' . Application_Helper_General::displayMoneyplain($row['TRA_AMOUNT']) . ' | ' . $row['PS_TOTAL_AMOUNT'] . '% (' . $row['PS_CCY'] . ' ' . $amount . ')</td>';
                    } else {
                        $amount_txt = '<td class="' . $td_css . '">' . $row['PS_CCY'] . ' ' . $amount . '</td>';
                    }

                    if ($row['PS_TYPE'] == 'Local Remittance') {
                        $row['BENEFICIARY_ACCOUNT'] = '';
                        $amount = Application_Helper_General::displayMoneyplain($row['TRA_AMOUNT']);
                        $amount_txt = '<td class="' . $td_css . '">' . $row['PS_CCY'] . ' ' . $amount . '</td>';
                    }
                    if (empty($row['SOURCE_ACCOUNT_ALIAS_NAME'])) {
                        //$accsrc = $row['SOURCE_ACCOUNT'] . "<br> - " . $row['SOURCE_ACCOUNT_NAME'] . "(S)";
						$accsrc = $row['SOURCE_ACCOUNT'] . " (".$row['SOURCE_ACCOUNT_CCY'].") / ".$this->bankname." / " . $row['SOURCE_ACCOUNT_NAME'];
                    } else {
                        //$accsrc = $row['SOURCE_ACCOUNT'] . "<br> - " . $row['SOURCE_ACCOUNT_ALIAS_NAME'] . "(A)";
						$accsrc = $row['SOURCE_ACCOUNT'] . " (".$row['SOURCE_ACCOUNT_CCY'].") / ".$this->bankname." / " . $row['SOURCE_ACCOUNT_NAME'];
                    }

                    if ($row['PS_TYPE'] == $this->arrPayType[16] || $row['PS_TYPE'] == $this->arrPayType[17]) {
                        $benef = '-';
                    }else {
						
						if($row['BENEFICIARY_BANK_NAME'] == ''){
							$row['BENEFICIARY_BANK_NAME'] = $this->bankname;
						}
						
                        if (empty($row['BENEFICIARY_ALIAS_NAME'])) {
                            $benef = $row['BENEFICIARY_ACCOUNT'] . " (".$row['BENEFICIARY_ACCOUNT_CCY'].") / ".$row['BENEFICIARY_BANK_NAME']." / " . $row['BENEFICIARY_ACCOUNT_NAME'];
                        } else {
                            $benef = $row['BENEFICIARY_ACCOUNT'] . " (".$row['BENEFICIARY_ACCOUNT_CCY'].") / ".$row['BENEFICIARY_BANK_NAME']." / " . $row['BENEFICIARY_ALIAS_NAME'];
                        }
                    }
 //<td class="' . $td_css . '">' . $accsrc . '</td>
                    echo '<tr>
                <td class="' . $td_css . '">' . $counter . '</td>
                    <td class="' . $td_css . '">' . $PS_NUMBERlink . '</td>
					<td class="' . $td_css . '">' . $accsrc . '</td>
                   
                    <td class="' . $td_css . '">' . $benef . '</td>
                
                
                
                    
                    ' . $amount_txt . '
                    
                    
                    <td class="' . $td_css . '">' . Application_Helper_General::convertDate($row['PS_EFDATE'], $this->viewDateFormat, $this->defaultDateFormat) . '</td>
                    <td class="' . $td_css . '">' . Application_Helper_General::convertDate($row['PS_UPDATED'], $this->displayDateTimeFormat, $this->defaultDateFormat) . '</td>
                    <td class="' . $td_css . '">' . $type . '</td>
                    <td class="' . $td_css . '">' . $this->language->_($row['TRA_STATUS']) . '</td>
                  </tr>';

                    $i++;
                    $counter++;
                }
            } else {
                echo '<tr><td colspan=15 class="tbl-evencontent" align="center">' . $this->language->_(' --- ' . $this->language->_('No Data') . ' --- ') . '</td></tr>';
            }
            ?>
        </tbody>
    </table>
</div>