<style type="text/css">



.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

</style>

<script type="text/javascript">
$(document).ready(function () {

  $('#chooseFile').bind('change', function () {
    var filename = $("#chooseFile").val();
    if (/^\s*$/.test(filename)) {
      $(".file-upload").removeClass('active');
      $("#noFile").text("No file chosen...");
    }
    else {
      $(".file-upload").addClass('active');
      $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
    }
  });

  
});
</script>

<div class="row hiddenprint">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span>Virtual Payment</span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>

                <li>
                    <span><?=$this->language->_('Virtual Payment Upload')?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="inhouse"><?=$this->language->_('Add')?></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<?php if($this->error){ ?>
	<div class="errmsg">
	<?php
		echo $this->language->_('Error').": ".$this->language->_('Wrong File Format. There is no data on csv File')."";
	?>
	</div><br />
	<?php 
	}
?>
<?php if($this->error2){ ?>
	<div class="errmsg">
	<?php
		echo $this->language->_('Error').": ".$this->language->_('the number of rows to be imported should not more than').$this->max;
	?>
	</div><br />
	<?php 
	}
?>
<?php if($this->error3){ ?>
	<div class="errmsg">
	<?php
		echo $this->language->_('Error')." : ".$this->language->_('File cannot left blank. Please correct it')."";
	?>
	</div><br />
	<?php 
	}
?>
<?php if($this->error4){ ?>
	<div class="errmsg">
	<?php
		echo $this->language->_('Error')." : ".$this->language->_('BIN cannot left blank. Please correct it')."";
	?>
	</div><br />
	<?php 
	}
?>

<div class="portlet-body form">
<form name="Form" id="Form" class="form-horizontal form-bordered form-row-stripped" enctype="multipart/form-data" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'next'),null,true);?>">
	<div class="card">
	  <!-- Default panel contents -->
	  <div class="card-header cardhead text-white">
	  	<?php echo $this->language->_('Virtual Payment Template');?> :&nbsp;
	  	<span style="font-size:11px;font-style:normal;">
		<?php if($this->VA_OPEN_CLOSE == '0' && $this->VA == '1'){?>	

			<a href="/template/inq N auto generate VA.csv" style="color:#F4C301;"><u><?php echo $this->language->_('Inquiry Bill Amount'); ?></u></a>
		<?php }
		else if($this->VA_OPEN_CLOSE == '0' && $this->VA == '0'){
			?>
			<a href="/template/inq N predefine VA.csv" style="color:#F4C301;"><u><?php echo $this->language->_('Inquiry Bill Amount'); ?></u></a>
			<?php 	
		}
		else if($this->VA_OPEN_CLOSE == '1' && $this->VA == '1'){
			?>
			<a href="/template/no inq N auto generate VA.csv" style="color:#F4C301;"><u><?php echo $this->language->_('No Inquiry'); ?></u></a>
			<?php 	
		}else if($this->VA_OPEN_CLOSE == '1' && $this->VA == '0'){
			?>
			<a href="/template/no inq N predefine VA.csv" style="color:#F4C301;"><u><?php echo $this->language->_('No Inquiry'); ?></u></a>
			<?php 	
		}
		?>	
		</span>
	  </div>
		<div class="card-body">
				<div class="form-group">
					<?php if($this->VA_OPEN_CLOSE == '0' && $this->VA == '0'){?>	
							
							<strong><?php echo $this->language->_('Format')?> &nbsp;: </strong> 
						<br>
						"VA_NUMBER"<font color=red>&nbsp;*</font>,"INVOICE_NAME"<font color=red>&nbsp;*</font>,"INVOICE_DESC"<font color=red>&nbsp;*</font>,"AMOUNT"<font color=red>&nbsp;*</font>,"REMINDER_SMS","REMINDER_EMAIL"
						<br>
						"111000222333","Uang Sekolah","Anang Udin","20000","081234567890","andi@gmail.com"
						<br>
						"111000222334","Uang Sekolah","Amir Udin","10000","",""
						

					<?php }
						else if($this->VA_OPEN_CLOSE == '0' && $this->VA == '1'){
							?>

						<strong><?php echo $this->language->_('Format')?> &nbsp;: </strong> 
						<br>
						"INVOICE_NAME"<font color=red>&nbsp;*</font>,"INVOICE_DESC","AMOUNT"<font color=red>&nbsp;*</font>,"REMINDER_SMS","REMINDER_EMAIL"
						<br>
						"Uang SPP","Andi","1000000","081234567890","andi@gmail.com"
						<br>
						"Uang SPP","Tono","1000000","",""
					<?php }
						else if($this->VA_OPEN_CLOSE == '1' && $this->VA == '0'){
							?>
							<strong><?php echo $this->language->_('Format')?> &nbsp;: </strong> 
						<br>
						"VA_NUMBER"<font color=red>&nbsp;*</font>,"INVOICE_NAME"<font color=red>&nbsp;*</font>,"INVOICE_DESC","REMINDER_SMS","REMINDER_EMAIL"
						<br>
						"111000222333","Uang Sekolah","Anang Udin","081234567890","andi@gmail.com"
						<br>
						"111000222334","Uang Sekolah","Amir Udin","",""
						
					<?php }
					else if($this->VA_OPEN_CLOSE == '1' && $this->VA == '1'){
						?>
							
						<strong><?php echo $this->language->_('Format')?> &nbsp;: </strong> 
						<br>
						"INVOICE_NAME"<font color=red>&nbsp;*</font>,"INVOICE_DESC","REMINDER_SMS","REMINDER_EMAIL"
						<br>
						"Uang SPP","Andi","081234567890","andi@gmail.com"
						<br>
						"Uang SPP","Tono","",""

						<?php 
					}
					?>
				</div>
		</div>
	</div>
	<br>
	<div class="card">
	  <!-- Default panel contents -->
	  <div class="card-header cardhead text-white"><?php echo $this->language->_('Notes');?></div>
		<div class="card-body">
				<div class="form-group">
						<?php echo $this->language->_('Import will generate list from file'); ?>.
						<br>
						<?php echo $this->language->_('Please note that the first row in uploaded file will be ignored'); ?> 
						(<?php echo $this->language->_('file contents will be proccessed starting on second row'); ?>).<br>
						<?php echo $this->language->_('Please check on the payment screen for the correctness, then click Submit for approval'); ?>.<br>
						<?php echo $this->language->_('Notification will not be sent if Reminder SMS / Email left blank'); ?>.		<br>
						<?php echo $this->language->_('Bill will be accumulated if VA remain open after due date'); ?>.		<br/>
				</div>
		</div>
	</div>
										
										
	<table class="form-horizontal form-bordered form-row-stripped" border="0" cellpadding="4" cellspacing="4" width="100%" align="center">	<tbody>
				<tr>
					<td valign="top"><img src="/images/img_one.gif" height="47" width="49"></td>
					<td style="height: 47px; vertical-align: middle;" nowrap="nowrap">
					<fieldset>
						<legend><b><span class="texthistory"><?php echo $this->language->_('Setup'); ?></span></b></legend>
						<div class="portlet-body form">
						<div class="portlet-body form">
							<div class="form-group row" style="display: none">
                                <label class="control-label col-md-3"><?php echo $this->language->_('Start Date'); ?></label>
                                <div class="col-md-9">
                                		<div class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                <input name="ps_startdate" id="ps_startdate" value="<?php echo $this->ps_startdate?>" type="text" class="form-control" readonly>
                                                <span class="input-group-btn">
                                                    <button class="btn default" type="button" style="height: 34px">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3"><?php echo $this->language->_('Repetition'); ?></label>
                                <div class="col-md-9">
                                		<select name = "repetition" id = "repetition" class="form-control">
                        					<option value="0"><?php echo $this->language->_('None'); ?></option>
                        					<option value="1"><?php echo $this->language->_('Daily'); ?></option>
                        					<option value="2"><?php echo $this->language->_('Weekly'); ?></option>
                        					<option value="3"><?php echo $this->language->_('Monthly'); ?></option>
                        					<option value="4"><?php echo $this->language->_('Yearly'); ?></option>
                        					</select>
                                </div>
                            </div>
                            <script>
                            	$("#repetition").change(function () {
									
									if($(this).val()=='0'){
										$('div.box').hide();	
										$('div.box1').hide();	
										$('div.box2').hide();
										$('div.box3').hide();
										
									}else if($(this).val()=='1'){
										$('div.box').hide();
										$('div.box1').show();
										$('div.box2').hide();	
										$('div.box3').hide();
									}else if($(this).val()=='2'){
										$('div.box').show();
										$('div.box1').show();
										$('div.box2').hide();
										$('div.box3').hide();	
									}else if($(this).val()=='3'){
										$('div.box').hide();
										$('div.box1').show();	
										$('div.box2').hide();
										$('div.box3').show();
									}else if($(this).val()=='4'){
										$('div.box').hide();
										$('div.box1').show();	
										$('div.box2').show();	
										$('div.box3').hide();
									}else{
										$('div.box').hide();
										$('div.box1').hide();	
										$('div.box2').hide();
										$('div.box3').hide();
									}
									    
									
									});
									

                            </script>
                            <div class="form-group row box" style="display: none">
                                <label class="control-label col-md-3"><?php echo $this->language->_('Repetition Every'); ?></label>
                                <div class="col-md-9">
                                	
                                	<select name = "repetev" id = "repetev" class="form-control">
                        					<option value=""> --<?php echo $this->language->_(' Any Value '); ?>-- </option>

                        					<option value="0"><?php echo $this->language->_('	Monday'); ?></option>
                        					<option value="1"><?php echo $this->language->_('Tueday'); ?></option>
                        					<option value="2"><?php echo $this->language->_('Wednesday'); ?></option>
                        					<option value="3"><?php echo $this->language->_('Thursday'); ?></option>
                        					<option value="4"><?php echo $this->language->_('Friday'); ?></option>
                        					<option value="5"><?php echo $this->language->_('Saturday'); ?></option>
                        					<option value="6"><?php echo $this->language->_('Sunday'); ?></option>
                        					</select>
                                </div>

                            </div>
                            <div class="form-group row box3" style="display: none">
                                <label class="control-label col-md-3"><?php echo $this->language->_('Repetition Every'); ?></label>
                                <div class="col-md-9">
                                	
                                	<select name = "every_set" id = "every_set" class="form-control" style="width:150px">
                        					<option value=""> --<?php echo $this->language->_(' Any Value '); ?>-- </option>
                        					<?php
                        						for ($i=1; $i <=28 ; $i++) { 
                        							echo '<option value="'.$i.'">'.$i.'</option>';
                        						}
                        					?>
                        					</select>
                                </div>

                            </div>
                            <div class="form-group row box2" style="display: none">
                                <label class="control-label col-md-3"><?php echo $this->language->_('Repetition Every'); ?></label>
                                <div class="col-md-9">
                                	<div class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                                <input name="every_date" id="every_date" value="<?php echo $this->every_date?>" type="text" class="form-control" readonly>
                                                <span class="input-group-btn">
                                                    <button class="btn default" type="button" style="height: 34px">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                </div>

                            </div>
                            <div class="form-group row box1" style="display: none">
                                <label class="control-label col-md-3"><?php echo $this->language->_('Repetition Until'); ?></label>
                                <div class="col-md-9">
                                	<input type="text" onclick="showPopUpWindow('<?=$this->url(array('module'=>'popup','controller'=>'repeatpopup','action'=>'index'),null,true)?>', 750)" name="repetun" id="repetun" value="<?php echo $this->repetition_until ?>" class="form-control">
                                	<?php echo $this->formHidden('repettype',$this->repettype,array('class'=>'form-control'))?>	
                                	<?php echo $this->formHidden('repetdate',$this->repetdate,array('class'=>'form-control'))?>	
                                	<?php echo $this->formHidden('repettimes',$this->repettimes,array('class'=>'form-control'))?>	
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="control-label col-md-3"><?php echo $this->language->_('Due Date'); ?></label>
                                <div class="col-md-9">
                               
                               <script language="javascript">

								function hideLabel(){
								    var rdva = document.querySelector('input[name="due"]:checked').value;
								    if(rdva == "0"){
								    // document.getElementsByClassName('txtName')[0].style.visibility='hidden';
								    // document.getElementsByClassName('txtSch')[0].style.visibility='hidden';
								    document.getElementsByClassName('txtSch1')[0].style.visibility='hidden';
								    $('div.boxev').hide();
								    $('div.boxdd').hide();
								    }else if(rdva == "1"){
								    // document.getElementsByClassName('txtName')[0].style.visibility='visible';
								    // document.getElementsByClassName('txtSch')[0].style.visibility='hidden';
								    document.getElementsByClassName('txtSch1')[0].style.visibility='visible';
								    $('div.boxev').show();
								    // $('div.boxdd').show();
								    }else if(rdva == "2"){
								    // document.getElementsByClassName('txtSch')[0].style.visibility='visible';
								    document.getElementsByClassName('txtSch1')[0].style.visibility='visible';
								    // document.getElementsByClassName('txtName')[0].style.visibility='hidden';
								    }else{
								    // document.getElementsByClassName('txtSch')[0].style.visibility='hidden';
								    document.getElementsByClassName('txtSch1')[0].style.visibility='hidden';
								    // document.getElementsByClassName('txtName')[0].style.visibility='hidden';
								    }
								}

								


								</script>
										<span class="input-group">
                                		<input type="radio" name="due" id="due" value="0" onClick="hideLabel();" checked>
                                		<?php echo $this->language->_('no due date'); ?>
                                		</span>
                                		<br/>
                                		<span class="nowrap">
                                		
                                		<input type="radio" name="due" id="due" value="1" onClick="hideLabel();">
                                		<?php echo $this->language->_('set after'); ?>
                                		
                                		  <input type="text" name="vp_duedate" class="" style="background: white;width:50px;height: 34px;border: 1px solid #c2cad8;color: #fcfcfc;font-family: Arial, Helvetica, sans-serif;font-size: 14px;color: #555;">
                                		  <?php echo $this->language->_('days'); ?>
                                		</span>
                                		
                                		
                                           
                        					<br/>
                                                <div class="input-group txtSch1" style="visibility: hidden;width: 150px">
                                                    <input type="text" name="jam" class="form-control timepicker timepicker-24">
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button">
                                                            <i class="fa fa-clock-o"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            
                                           
                                           
                                </div>
                            </div>
                            <div class="boxev form-group row" style="display: none">
                                <label class="control-label col-md-3"><?php echo $this->language->_('Reminder Notification'); ?></label>
                                <div class="col-md-9">
                                	<select name = "remain_notif" id = "remain_notif" class="form-control">
                        					

                        					<option value="0"><?php echo $this->language->_('None'); ?></option>
                        					<option value="1"><?php echo $this->language->_('15 Minutes'); ?></option>
                        					<option value="2"><?php echo $this->language->_('30 Minutes'); ?></option>
                        					<option value="3"><?php echo $this->language->_('1 Hours'); ?></option>
                        					<option value="4"><?php echo $this->language->_('2 Hours'); ?></option>
                        					<option value="5"><?php echo $this->language->_('1 Day'); ?></option>
                        					<option value="6"><?php echo $this->language->_('2 Days'); ?></option>
                        					<option value="7"><?php echo $this->language->_('1 Weeks'); ?></option>
                        					<option value="8"><?php echo $this->language->_('1 Months'); ?></option>
                        					</select>
                                </div>
                            </div>
                            <?php if($this->VA_OPEN_CLOSE == '0'){?>	
                            
                            <div class="form-group row" style="display: none">
                                <label class="control-label col-md-3"><?php echo $this->language->_('Payment Method'); ?></label>
                                <div class="col-md-9">
                                	<?php if(empty($this->vp_payment)){
                                    		$this->vp_payment = 'checked';
                                    	}
                                    	?>
                                		<span class="nowrap">
                                		<input type="radio" name="vp_payment" id="vp_payment" value="0" onClick="hideLabelmenthod();" <?php echo $this->vp_payment ?> >
                                		<?php echo $this->language->_('Free Input'); ?>
                                		<select name = "validasi" id = "validasi" class="" style="font-size: 14px;line-height: 1.42857;color: #555;width:200px;background: #fff;border: 1px solid #c2cad8;height: 34px;">
                        					<option value="0"><?php echo $this->language->_('Validate'); ?></option>
                        					<option value="1"><?php echo $this->language->_(' Non Validate'); ?></option>
                        				</select>

                        			</span>
                        			<br/>
                                		
                                		<input type="radio" name="vp_payment" id="vp_payment" value="1" onClick="hideLabelmenthod();">
                                		<?php echo $this->language->_('as Inquiry'); ?>
                                		<br/>
                                		  
                                		
                                    	
                                    	
                                		<?php //echo $this->formRadio('vp_payment',$this->vp_payment,array('class'=>'benefType'),array(1=>'free input',2=>'as inquiry'))?>
                                </div>
                            </div>

                            <?php
                        }
                            ?>
                            <div class="boxdd form-group row" style="display: none">
                                <label class="control-label col-md-3"><?php echo $this->language->_('Virtual Account After Due Date'); ?></label>
                                <div class="col-md-9">
                                    	<?php if(empty($this->vatype)){
                                    		$this->vatype = '1';
                                    	}
                                    	?>
                                		<?php echo $this->formRadio('vatype',$this->vatype,array('class'=>'benefType'),array(1=>'remain open',2=>'close'))?>
                                </div>
                            </div>
                        </div>
                   		</div>
					</fieldset>
					<br/>
					<br/>
					</td>
				</tr>
				<tr>
					<td valign="top"><img src="/images/img_two.gif" height="47" width="49"></td>
					<td style="height: 47px; vertical-align: middle;" nowrap="nowrap" align="">
						<fieldset>
							<legend>
								<span class="texthistory"><b><?php echo $this->language->_('File Detail'); ?></b></span>
							</legend>
							<div class="portlet-body form">
            				<div class="portlet-body form">
            					 <div class="form-group row ">
                                    <label class="control-label col-md-3"><?php echo $this->language->_('File to Upload'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                    <div class="col-md-9">
                                    	<div class="file-upload">
				                              <div class="file-select">
				                                <div class="file-select-button" id="fileName">Choose File</div>
				                                <div class="file-select-name" id="noFile">No file chosen...</div>
				                                <input type="file" name="CSV_FILE" id="chooseFile">
				                              </div>
				                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </td>
				</tr>
				
			<tr><td colspan="2">&nbsp;</td></tr>
			<tr>
				<td class="button-area" id="button-area" colspan="2">
					<div class="formbutton" align="center">
						<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'home','controller'=>'dashboard','action'=>'index'),null,true);?>'" class="btnwhite hov" value="<?php echo $this->language->_('Cancel')?>" />&nbsp;&nbsp;
						<input type="submit" class="btngreen hov" id="Submit_id" name="submit" value="<?php echo $this->language->_('Submit')?>" />
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</form>
</div>
