<?php if($this->error){ ?>
	<div class="alert alert-danger">
	<?php
		echo $this->language->_('Error').": ".$this->language->_('Wrong File Format. There is no data on csv File.');
	?>
	</div><br />
	<?php 
	}
?>
<?php if($this->error2){ ?>
	<div class="alert alert-danger">
	<?php
		echo $this->language->_('Error').": ".$this->language->_('the number of rows to be imported should not more than').$this->max;
	?>
	</div><br />
	<?php 
	}
?>
<?php if($this->error3){ ?>
	<div class="alert alert-danger">
	<?php
		echo $this->language->_('Error')." : ". $this->language->_('File cannot left blank. Please correct it');
	?>
	</div><br />
	<?php 
	}
?>
<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Payment')?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <?php echo $this->language->_('Import File')?>
                    </li>
                </ul>
            </div>
        </div>
</div>
<div class="portlet-body form">
<form name="acstat_query" enctype="multipart/form-data" method="post" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">	
	<div class="portlet-body form" style="border: 1px solid #ddd;">
		<?php 
			$ns = new Zend_Session_Namespace('language');
			$sessionLanguage = $ns->langCode;
			if($sessionLanguage == 'id'){
				$file = 'Payment_Template_Mix_id.csv';
			}
			else{
				$file = 'Payment_Template_Mix_en.csv';
			}
		?>
		<div class="card-header cardhead text-white">
			Format:&nbsp;
			<span style="font-size:10px;font-style:normal;">
				<a href="/template/<?=$file?>" style="color:#F4C301;"><u><?php echo $this->language->_('download template'); ?></u></a>
			</span>
		</div>
		<div class="portlet-body form">
			<div class="form-group row ">
				<label class="control-label col-md-12">
					"<?php echo $this->language->_('PAYMENT TYPE'); ?>",												
					"<?php echo $this->language->_('SOURCE ACCT NO'); ?>",
					"<?php echo $this->language->_('BILLING ID'); ?>",
					"<?php echo $this->language->_('CCYY'); ?>",
					"<?php echo $this->language->_('AMOUNT'); ?>",
					<br><br>
					<?php echo $this->language->_('"PLN100"'); ?>,												
					<?php echo $this->language->_('"0000000000"'); ?>,
					<?php echo $this->language->_('"0000000000"'); ?>,
					<?php echo $this->language->_('"IDR"'); ?>,
					<?php echo $this->language->_('"35000"'); ?>,											
					
					<br>
					<?php echo $this->language->_('"TSEL50"'); ?>,												
					<?php echo $this->language->_('"0000000000"'); ?>,
					<?php echo $this->language->_('"0000000000"'); ?>,
					<?php echo $this->language->_('"IDR"'); ?>,
					<?php echo $this->language->_('"45000"'); ?>,
					
					<br>
					<?php echo $this->language->_('"ISAT25"'); ?>,												
					<?php echo $this->language->_('"0000000000"'); ?>,
					<?php echo $this->language->_('"0000000000"'); ?>,
					<?php echo $this->language->_('"IDR"'); ?>,
					<?php echo $this->language->_('"55000"'); ?>,
				</label>
				
			</div>
		</div>
	</div>
	<br>
	<div class="portlet-body form" style="border: 1px solid #ddd;">
		<div class="card-header cardhead text-white">
			Notes:
		</div>
		<div class="portlet-body form">
			<div class="form-group row ">
				<label class="control-label col-md-12">
					<?php echo $this->language->_('Import will generate list from file'); ?>.<br>
					<?php echo $this->language->_('Click'); ?> "<?php echo $this->language->_('Download Template'); ?>" <?php echo $this->language->_('to download template'); ?>.
					<br>
					<?php echo $this->language->_('Please note that the first row in uploaded file will be ignored'); ?> 
					(<?php echo $this->language->_('file contents will be proccessed starting on second row'); ?>).<br>
					<?php echo $this->language->_('Please check on the payment screen for the correctness, then click Submit for approval'); ?>.
				</label>
			</div>
		</div>
	</div>
	<br>
	<hr>
	<div class="card">
		<div class="portlet-body form" style="border: 1px solid #ddd;">
			
			<div class="portlet-body form">
				<div class="form-group row ">
					<label class="control-label col-md-12" style="height: 47px; vertical-align: middle;" nowrap="nowrap" align="center"><h5><span class="texthistory"><?php echo $this->language->_('Load Data from CSV Text File'); ?></span></h5></label>
				</div>
				<div class="form-group row ">
					<label class="control-label col-md-12" style="vertical-align: middle;" nowrap="nowrap" align="center">
						<img src="/images/img_excel.gif" height="47" width="49">
					</label>
					
				</div>
				<div class="form-group row ">
					<div class="col-md-2"></div>
					<div class="col-md-5">
						<input name="CSV_FILE" size="30" class="form-control" onkeypress="return noSpecialChar(event);" type="file">
					</div>
					<div class="col-m-5">
						<div class="formbutton">
							<input type="submit" class="btngreen hov" name="submit" value="<?php echo $this->language->_('Import')?>"/>
							<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'home','controller'=>'index','action'=>'index'),null,true);?>'" class="btnwhite hov" value="<?php echo $this->language->_('Cancel')?>">&nbsp;&nbsp;
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</form>
</div>
