<div class="row">
  <div class="col-md-12">
    <h5><?php echo $this->language->_('Bank Account Detail'); ?></h5>
  </div>
</div>

<style>
  @media print {

    .hidden,
    .hidden * {
      display: none !important;
      visibility: hidden;
    }

    button {
      display: none !important;
      visibility: hidden;
    }

    /*form {
    display: none !important;
    visibility: hidden;
  }*/

    .hiddenLogo,
    .hiddenLogo * {
      display: inline !important;
      visibility: show;
    }

    input.currency {
      width: 200px;
      font-size: 10px;
    }

    ul {
      padding-left: 10px;
    }

    h2 {
      color: #5B0000;
      font-size: 16px;
      font-weight: bold
    }

    body .ui-helper-hidden-accessible {
      position: fixed
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 11px;
      background-color: white;
    }

    b {
      font-weight: bold;
      font-size: 11px
    }

    td {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 11px;
      color: #000000;
      text-decoration: none;
    }

    a {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 11px;
      color: #000000;
      text-decoration: underline;
    }

    .tbl-evencontent {
      background-color: none;
      padding: 1px 1px 1px 1px;
      border-bottom: 1px solid #A9A9A9;
      border-right: 1px solid #A9A9A9;
      border-left: 1px solid #A9A9A9;
      border-top: 1px solid #A9A9A9;
      vertical-align: top;
      font-size: 10px;
    }

    .tbl-oddcontent {
      background-color: none;
      padding: 1px 1px 1px 1px;
      border-bottom: 1px solid #A9A9A9;
      border-right: 1px solid #A9A9A9;
      border-left: 1px solid #A9A9A9;
      border-top: 1px solid #A9A9A9;
      vertical-align: top;
      font-size: 10px;
    }

    .tdform-sub {
      background-color: #0c67a0;
      padding: 4px 4px 4px 4px;
      border-bottom: 0px solid #A9A9A9;
      border-top: 1px solid #A9A9A9;
      ;
      border-right: 1px solid #A9A9A9;
      ;
      border-left: 1px solid #A9A9A9;
      vertical-align: top;
      font-weight: bold;
      color: white;
    }

    .tdform-odd {
      background-color: #FFFFFF;
      padding: 4px 4px 4px 4px;
      border: 1px solid;
      vertical-align: top;
    }

    .errmsg {
      font-weight: bold;
      font-size: 11px;
      color: #FF0000
    }

    body {
      font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
      -webkit-print-color-adjust: exact;
      /*chrome*/
      -moz-print-color-adjust: exact;
      /*mozila*/
      -o-print-color-adjust: exact;
      /*opera*/
      -ms-print-color-adjust: exact;
      /*ie*/
    }
  }
</style>
<?php
if ($this->cust_id && $this->acct_status) {
  $temp_status = array(
    strtoupper($this->status_type['code']['approved']) => $this->status_type['desc']['approved'],
    strtoupper($this->status_type['code']['suspended']) => $this->status_type['desc']['suspended'],
    strtoupper($this->status_type['code']['delete']) => $this->status_type['desc']['delete']
  );

  if (array_key_exists($this->acct_status, $temp_status)) {
    $status = $temp_status[$this->acct_status];
  } else {
    $status = $this->status_type['desc']['approved'];
  }


  if ($this->user_is_login == strtoupper($this->login_type['code']['yes'])) {
    $login = $this->login_type['desc']['yes'];
  } else {
    $login = $this->login_type['desc']['no'];
  }


  if ($this->user_is_locked) {
    $userIsLocked = $this->login_type['desc']['yes'];
  } else {
    $userIsLocked = $this->login_type['desc']['no'];
  }

  if ($this->user_is_webservices) {
    $userIsWebservices = $this->login_type['desc']['yes'];
  } else {
    $userIsWebservices = $this->login_type['desc']['no'];
  }



?>


  <?php if ($this->success) { ?>
    <div class="successmsg"><?= $this->report_msg ?></div><br />
  <?php } else if ($this->error) { ?>
    <div class="errmsg"><?= $this->report_msg ?></div><br />
  <?php } ?>
  <div class="row">
    <div class="col-md-8">
      <form name="filterForm" action="<?= $this->url ?>" method="post">
        <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped">
          <tr>
            <th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Bank Account Detail'); ?></strong></th>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->language->_('Company Code')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->cust_id); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name', $this->language->_('Company Name')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name', $this->cust_name); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('acct_no', $this->language->_('Account Number')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent">
              <?php
              echo $this->formLabel('acct_no', $this->acct_no);
              echo $this->formHidden('acct_no', $this->acct_no);
              echo $this->formHidden('cust_id', $this->cust_id);
              ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('acct_name', $this->language->_('Account Name')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php echo $this->formLabel('acct_name', $this->acct_name); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('acct_status', $this->language->_('Status')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php echo $this->formLabel('acct_status', $this->language->_($status)); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('acct_email', 'Email'); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php echo $this->formLabel('acct_email', $this->acct_email); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('ccy', $this->language->_('Currency')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php echo $this->formLabel('ccy', $this->ccy_id); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('type', $this->language->_('Type')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php echo $this->formLabel('type', $this->acct_desc); ?></td>
          </tr>

          <tr class="hidden">
            <td class="tbl-evencontent"><?php echo $this->formLabel('order_no', $this->language->_('Order No')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php echo $this->formLabel('order_no', $this->order_no); ?></td>
          </tr>

          <tr class="hidden">
            <td class="tbl-evencontent"><?php echo $this->formLabel('group_name', $this->language->_('Group Name')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php echo $this->formLabel('group_name', $this->group_name); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('create_date', $this->language->_('Created Date')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php echo $this->formLabel('create_date', Application_Helper_General::convertDate($this->acct_created, $this->displayDateTimeFormat, $this->defaultDateFormat)); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('creator', $this->language->_('Created By')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php echo $this->formLabel('creator', $this->acct_createdby); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestion', $this->language->_('Last Suggestion')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestion', Application_Helper_General::convertDate($this->acct_suggested, $this->displayDateTimeFormat, $this->defaultDateFormat)); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestor', $this->language->_('Last Suggester')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestor', $this->acct_suggestedby); ?></td>
          </tr>


          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('last_approval', $this->language->_('Last Approval')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php echo $this->formLabel('last_approval', Application_Helper_General::convertDate($this->acct_updated, $this->displayDateTimeFormat, $this->defaultDateFormat)); ?></td>
          </tr>

          <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('last_approver', $this->language->_('Last Approver')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php echo $this->formLabel('last_approver', $this->acct_updatedby); ?></td>
          </tr>




        </table>
        <?php if (is_array($this->userLimitData) && count($this->userLimitData)) { ?>
          <br />
          <table cellpadding="3" cellspacing="0" border="0" class="tableform">
            <tr>
              <th colspan="4" class="tdform-sub"><b><?php echo $this->language->_('User Maximum Limit'); ?></b></th>
            </tr>
            <tr>
              <td class="tdform-even"><?php echo $this->language->_('CCY'); ?></td>
              <td class="tdform-even"><?php echo $this->language->_('Max Transaction Limit'); ?></td>
              <td class="tdform-even"><?php echo $this->language->_('Max Daily Limit'); ?></td>
              <td class="tdform-even"><?php echo $this->language->_('Remain Daily Limit'); ?></td>
            </tr>
            <?php foreach ($this->userLimitData as $row) { ?>
              <tr>
                <td class="tbl-evencontent"><?= $row['LIMIT_CCY'] ?></td>
                <td class="tbl-evencontent" align="right"><?= Application_Helper_General::displayCurrency($row['TXN_LIMIT']) ?></td>
                <td class="tbl-evencontent" align="right"><?= Application_Helper_General::displayCurrency($row['DAILY_LIMIT']) ?></td>
                <td class="tbl-evencontent" align="right"><?= Application_Helper_General::displayCurrency($row['REMAIN_DAILYLIMIT']) ?></td>
              </tr>
              <button type="button" name="button"></button>
            <?php } ?>
          </table>
        <?php } ?>

        <div><?php

              echo $this->formButton('back', $this->language->_('Close'), array('onclick' => 'window.close()', 'class' => 'btnwhite hov'));
              echo '<button type="submit" class="btngreen hov" value="pdf" name="pdf">PDF</button>';
              // echo '<button type="button" class="btngreen hov" onclick="window.print();" name="button">Print</button>';
              echo "<br>";

              ?></div>
      <?php } else { ?>
        <div id="content">- <?php echo $this->language->_('No Data'); ?> -</div>
      <?php } ?>
      </form>
    </div>
  </div>