<?php
foreach($this->templatedetail as $datadetail)
		{
		    $TEMPLATE_ID =  $datadetail['TEMPLATE_ID'];
		    $TEMPLATE_NAME =  $datadetail['TEMPLATE_NAME'];
		    $TCREATED =  $datadetail['CREATED'];
			$TCREATOR =  $datadetail['CREATEDBY'];
			$TSUGGESTED =  $datadetail['SUGGESTED'];
			$TSUGGESTOR =  $datadetail['SUGGESTEDBY'];
			$TAPPROVED =  $datadetail['UPDATED'];
			$TAPPROVER =  $datadetail['UPDATEDBY'];
			if ($datadetail['CHARGES_TYPE'] == 1)
			{
			    $RTGSAMT = $datadetail['CHARGES_AMT'];
				$RTGSCCY = $datadetail['CHARGES_CCY'];
			}
			
			if ($datadetail['CHARGES_TYPE'] == 2)
			{
			    $SKNAMT = $datadetail['CHARGES_AMT'];
				$SKNCCY = $datadetail['CHARGES_CCY'];
			}
		}
?>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody><tr>
 <td><h1><?php echo $this->language->_('Charge Template Management'); ?></h1></td>
</tr>
<tr>
  <td>
      <form name="form1" action="" method="POST">
   <div class=""></div>
   <table cellpadding="0" cellspacing="1" border="1" width="600"><tbody><tr><td colspan="2" valign="top" class="formcaption"><?php echo $this->language->_('Add New Charge Template'); ?></td></tr><tr><td valign="top"><span class="filtercaption">&nbsp;</span> </td><td valign="top"><?php echo $this->language->_('Please fill in the form below'); ?>. <?php echo $this->language->_('Fields marked with asterisk'); ?> (*) <?php echo $this->language->_('are required'); ?></td></tr>
<tr><td valign="top"><span class="filtercaption"><?php echo $this->language->_('Template Name'); ?>*</span> </td><td valign="top"><input name="template_name" type="text" size="40" maxlength="128" value="<?php echo $TEMPLATE_NAME; ?>">   </td></tr>
<tr><td valign="top"><span class="filtercaption"><strong><?php echo $this->language->_('Domestic Transfer Charge'); ?></strong></span> </td><td valign="top">&nbsp;</td></tr>
<tr><td valign="top" align="left"><span class="filtercaption"><?php echo $this->language->_('Currency RTGS'); ?>*</span> </td><td valign="top"> 

<?php
echo $this->formSelect('charge_rtgs_curr',$RTGSCCY,array('id'=>'ccy'),$this->ccyArr);
?>
</td></tr>
<tr><td valign="top"><span class="filtercaption"><?php echo $this->language->_('Charge for RTGS'); ?>*</span> </td><td valign="top"><input name="charge_rtgs" type="text" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar2(event);" onblur="formatNumber('charge_rtgs');" size="40" maxlength="128" value="<?php echo $RTGSAMT; ?>">   </td></tr>
<tr><td valign="top" align="left"><span class="filtercaption"><?php echo $this->language->_('Currency SKN'); ?>*</span> </td><td valign="top"> 
 <?php
echo $this->formSelect('charge_skn_curr',$SKNCCY,array('id'=>'ccy'),$this->ccyArr);
?></td></tr>
<tr><td valign="top"><span class="filtercaption"><?php echo $this->language->_('Charge for SKN'); ?>*</span> </td><td valign="top"><input name="charge_skn" type="text" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar2(event);" onblur="formatNumber('charge_skn');" size="40" maxlength="128" value="<?php echo $SKNAMT; ?>">   </td></tr>
</tbody></table>
   <input name="submit" type="submit" value="Submit">
   <input name="reset" type="reset" value="Reset">
   <input name="s" type="hidden" value="charges">
   <input name="template_id" type="hidden" value="<?php echo $TEMPLATE_ID; ?>">
   <input name="m" type="hidden" value="chargetemplateeditsave">
   </form>
     </td>
</tr>
</tbody></table>