
<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span>RDN Information</span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="valas" style="display:none;"><?=$this->language->_('RDN Information')?></span>
                      <span class="inhouse"><?=$this->language->_('RDN Transaction Inquiry')?></span>
                      <?php if ($this->confirmPage == 1 && empty($this->resultPage)) {?>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                      <?php }?>
                  </li>
                  <li>
                    <?php echo (($this->confirmPage == 1 && empty($this->resultPage))? $this->language->_('Confirmation'): ""); ?>
                  </li>
              </ul>
          </div>
        </div>
    </div>
<br />
<h5><?php echo $this->language->_('Transaction Inquiry');?></h5>
<br>
<div class="portlet-body">
    <div class="row">
      <div class="col-md-6">
        <form name="Form" action="<?php echo $this->url(array('module'=>$this->modulename,'controller'=>'viewreport','action'=>'view'),null,true)?>" method="post">
          <?php
        $selectaccount = '-- '.$this->language->_('Select Account').' --';
        $formAppParam['selectMsg'] = $selectaccount;
        $formAppParam['inclPRKFSCM'] = 1;
        // var_dump($this->AccArr);
        if($this->error)
        {
      ?>
          <div class="errmsg">
          <?php
            if($this->ACCTSRCERR)
              echo $this->ACCTSRCERR;
          ?>
          </div><br />
      <?php
        }
      ?>
      <div class="portlet-body form">
        <!-- BEGIN FORM-->

              <div class="form-group row ">
                  <label class="control-label col-md-3"><?php echo $this->language->_('Account No');?><strong style="color:red" class="formreq">&nbsp;*</strong></label>
                  <div class="col-md-9">
                  <select class="form-control" name="ACCTSRC" id="ACCTSRC">
          <?php

              foreach ($this->datapers as $row) {
                // if ($row['ACCT_TYPE'] == '4') {
                  // echo $this->formApp("SELECT_ACCTSRC", $this->datapers, $this->ACCTSRC, "ACCTSRC", "", $formAppParam);
                    
                  if($row["ACCT_PRODUCT_NAME"]= 'N/A'){
                    $row["ACCT_PRODUCT_NAME"] = 'RDN GIRO';
                  }
                  ?>
 
                        <option value="<?php echo $row["ACCT_NO"]; ?>"><?php echo $row["ACCT_NO"]; ?> [ <?php echo $row["CCY_ID"]; ?> ] - <?php echo $row["ACCT_NAME"]; ?> ( <?php echo $row["ACCT_PRODUCT_NAME"]; ?> )</option>

                  <?php
                // }
              }

           ?>
          </select>
                  </div>
              </div>


              <div class="form-group row">
            <label class="control-label col-md-3"><?php echo $this->language->_('Period');?><strong style="color:red" class="formreq">&nbsp;* </strong></label>
                  <div class="col-md-9">
                      <?php
                  $checkedToday = ($this->PERIOD == 'today')? "checked='checked'": "";
                  $checkedHistory = ($this->PERIOD == 'history')? "checked='checked'": "";
                  ?>
                  <input name="periodtype" value="today" id="periodtype" <?php echo $checkedToday ?> onclick='javascript:$("#acttd").hide()' type="radio"> <?php echo $this->language->_('Today');?>
                <br>
                  <input name="periodtype" value="history" id="periodtype" <?php echo $checkedHistory ?> onclick='javascript:$("#acttd").show()' type="radio"> <?php echo $this->language->_('History');?>

                    </div>
          </div>

          <?php $visibility = ($this->PERIOD == 'history')? '': 'style="display:none;"';  ?>
                <div class="form-group row" id="acttd" <?= $visibility ?>>
                    <label class="col-sm-3 col-form-label"><?php echo $this->language->_('From'); ?><span class="errmsg">*</span></label>
                    <div class="col-md-9 row">
                        <div class="col-md-6">
                          <?php echo $this->language->_('From');?>&nbsp;&nbsp;
                
                <input type="text" class="form-control" name="history_from" id="history_from" value="<?=$this->DATE_FROM?>" onchange='setDatefrom(this.value);' readonly>
                            <script>
                                $('#history_from').datepicker({
                                    maxDate: function() {
                                        var date = new Date();
                                       date.setDate(date.getDate());
                                        return new Date(date.getFullYear(), date.getMonth(), date.getDate());
                                    },
                                    format: 'dd/mm/yyyy',
                                    uiLibrary: 'bootstrap4',
                                });
                            </script>
                    
                    &nbsp;&nbsp;
                  </div>
                  <div class="col-md-6">
                    <?php echo $this->language->_('To');?>&nbsp;&nbsp;
                     <input type="text" class="form-control" name="history_to" id="history_to" value="<?=$this->DATE_TO?>" onchange='setDateto(this.value);' readonly>
                            <script>
                                $('#history_to').datepicker({
                                    maxDate: function() {
                                        var date = new Date();
                                       date.setDate(date.getDate());
                                        return new Date(date.getFullYear(), date.getMonth(), date.getDate());
                                    },
                                    format: 'dd/mm/yyyy',
                                    uiLibrary: 'bootstrap4',
                                });
                            </script>
                      </div>
                    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <font style="font-size:12px; color:#FF0000;"><em>(<?php echo $this->language->_('Date range : max 31 days');?>)</em></font>
                    <br/> 
                    <label for="exampleInputPassword1"><span><?php echo $this->language->_('Notes');?><span class="errmsg">*</span></label>
            <?php echo $this->language->_('Maximum Inquiry Days is 60 Days');?>
              <br/>

                    </div>
                </div>

          <div class="form-group row">
            <label class="control-label col-md-3"></label>
                  <div class="col-md-9">
                       <?php echo $this->formButton('backstreet',$this->language->_('Back'),array('class'=>'btnwhite hov','onclick'=>'location.href="/home/index"')); ?>
              <?php echo $this->formSubmit('view',$this->language->_('View'),array('class'=>'btngreen hov')); ?>

                    </div>
          </div>


           </div>
        </form>
      </div>
      <div class="col-md-6 history">
            <div class="form-group row">
                <h6>History</h6>
            </div>

            <?php
            if(!empty($this->historyData)){
                foreach ($this->historyData as $key => $value) {
                    ?>
                        <div class="page-bar"></div>
                            <div class="form-group row">
                                <label class="control-label col-md-4"><?php echo $value['HIS_ACCT']; ?></label>
                                <label class="control-label col-md-6"><i class="far fa-calendar-alt"></i>&nbsp;<?php echo Application_Helper_General::convertDate($value['HIS_DATE_START'], 'dd MMMM y'); echo ' - ';
                                    echo Application_Helper_General::convertDate($value['HIS_DATE_END'], 'dd MMMM y'); ?></label>
                                <div class="col-md-2">
                                    <?php

                                     

                                    if($value['HIS_TYPE'] == '1'){
                                            ?>
                                                 <a href="javascript:;" onclick="direct('<?php echo $value['HIS_ACCT'] ?>','<?php echo $value['HIS_DATE_START'] ?>','<?php echo $value['HIS_DATE_END'] ?>')"><i class="fa fa-eye" title="View"></i></a>
                                            <?php
                                    }else if($value['HIS_TYPE'] == '2'){

                                            ?>
                                            <a href="javascript:;" onclick="directfile('<?php echo $value['HIS_ACCT'] ?>','<?php echo $value['HIS_DATE_START'] ?>','<?php echo $value['HIS_DATE_END'] ?>','<?php echo $value['HIS_FILE'] ?>')"><i class="fa fa-file-download" title="Download"></i></a>
                                            <?php
                                    }

                                     ?> 
                                    <a href="javascript:;"><i class="fa fa-trash" title="Remove"></i></a>
                                    
                                </div>
                            </div>

                    <?php
                }
            }

             ?>
             <script type="text/javascript">
                    function direct(acc,dates,dateend){
                            //var col = 'currency-'+colomn;
                            document.getElementById('ACCTSRC').value = acc;
                            document.getElementById('history_fromv').value = dates;
                            document.getElementById('history_tov').value = dateend;
                             document.getElementById('history_from').value = dates;
                            document.getElementById('history_to').value = dateend;
                            document.getElementById('directlink').value = '1';
                            
                            document.getElementById('thisForm').submit();
                    }


                    function directfile(acc,dates,dateend,file){
                            //var col = 'currency-'+colomn;
                            document.getElementById('ACCTSRC').value = acc;
                            document.getElementById('history_fromv').value = dates;
                            document.getElementById('history_tov').value = dateend;
                             document.getElementById('history_from').value = dates;
                            document.getElementById('history_to').value = dateend;
                            document.getElementById('filetype').value = file;
                            document.getElementById('directlink').value = '1';
                            document.getElementById('thisForm').submit();
                    }

             </script>
            
            <div class="page-bar"></div>
        </div>
    </div>
</div>




  
