<?php $random = str_pad(mt_rand(0, 99), 2, '0', STR_PAD_LEFT);?>
<script type="text/javascript">

//akan di onload pertama kali


</script>

<script type="text/javascript" charset="utf-8">

function show1(){
  document.getElementById('div1').style.display ='none';
}
function show2(){
  document.getElementById('div1').style.display = 'block';
}
   


function checkSwift(){
//	alert($('#SWIFT_CODE').val());
//	$('#CITY_CODE').val("");
	swiftcode = $('#SWIFT_CODE').val();
	$('#CITY_CODE > *').hide();
	idclassShow = '#CITY_CODE > option.' + swiftcode;	
	$(idclassShow).show();
}
function resetCity(){
	$('#CITY_CODE').val("");
}

</script>

<style>


.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

.switch {
  margin: 4rem auto;
}
/* main styles */
.switch {
  width: 24rem;
  position: relative;
}
.switch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.switch input:checked {
  z-index: 1;
}
.switch input:checked + label {
  opacity: 1;
  cursor: default;
}
.switch input:not(:checked) + label:hover {
  opacity: 0.5;
}
.switch label {
  color: #aaaaaa;
  opacity: 0.33;
  transition: opacity 0.25s ease;
  cursor: pointer;
}
.switch .toggle-outside {
  height: 100%;
  border-radius: 2rem;
  padding: 0.22rem;
  overflow: hidden;
  transition: 0.25s ease all;
}
.switch .toggle-inside {
  border-radius: 5rem;
  background: #4a4a4a;
  position: absolute;
  transition: 0.25s ease all;
}
.switch--horizontal {
  width: 18rem;
  /*height: 3rem;*/
  margin: 0 auto;
  font-size: 0;
  margin-left: 0px;
  margin-bottom: 1rem;
}
.switch--horizontal input {
  /*height: 3rem;*/
  width: 6rem;
  left: 6rem;
  margin: 0;
  margin-left: 38px;
}
.switch--horizontal label {
  font-size: 11px;
  /*line-height: 3rem;*/
  display: inline-block;
  width: 6rem;
  height: 100%;
  margin: 0;
  text-align: center;
}
.switch--horizontal label:last-of-type {
  margin-left: 1px;
}
.switch--horizontal .toggle-outside {
  background: #fff;
  left: 80px;
  position: absolute;
  width: 33px;
  height: 21px;
  border: 1px solid #9c9e98;
}
.switch--horizontal .toggle-inside {
  height: 15px;
  width: 15px;
}
.switch--horizontal input:checked ~ .toggle-outside .toggle-inside {
  left: 0.25rem;
}
.switch--horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 15px;
}
.switch--vertical {
  width: 12rem;
  height: 6rem;
}
.switch--vertical input {
  height: 100%;
  width: 3rem;
  right: 0;
  margin: 0;
}
.switch--vertical label {
  font-size: 1.5rem;
  line-height: 3rem;
  display: block;
  width: 8rem;
  height: 50%;
  margin: 0;
  text-align: center;
}
.switch--vertical .toggle-outside {
  background: #fff;
  position: absolute;
  width: 3rem;
  height: 100%;
  right: 0;
  top: 0;
}
.switch--vertical .toggle-inside {
  height: 2.5rem;
  left: 0.25rem;
  top: 0.25rem;
  width: 2.5rem;
}
.switch--vertical input:checked ~ .toggle-outside .toggle-inside {
  top: 0.25rem;
}
.switch--vertical input ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 3.25rem;
}
.switch--no-label label {
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.switch--no-label input:checked ~ .toggle-outside .toggle-inside {
  background: rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
}
.switch--no-label input ~ input:checked ~ .toggle-outside {
  background: #fff;
}
.switch--no-label input ~ input:checked ~ .toggle-outside .toggle-inside {
  background: #2ecc71;
}
.switch--no-label.switch--vertical {
  width: 3rem;
}
.switch--no-label.switch--horizontal {
  width: 6rem;
}
.switch--no-label.switch--horizontal input,
.switch--no-label.switch--horizontal .toggle-outside {
  left: 0;
}
.switch--expanding-inner input:checked + label:hover ~ .toggle-outside .toggle-inside {
  height: 2.5rem;
  width: 2.5rem;
}
.switch--expanding-inner.switch--horizontal input:hover ~ .toggle-outside .toggle-inside {
  width: 3.5rem;
}
.switch--expanding-inner.switch--horizontal input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 2.25rem;
}
.switch--expanding-inner.switch--vertical input:hover ~ .toggle-outside .toggle-inside {
  height: 3.5rem;
}
.switch--expanding-inner.switch--vertical input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 2.25rem;
}

.hide {
  display: none;
}
/* mixin */

    </style>

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                
	                <li>
	                    <span ><?=$this->language->_('Direct Debit Whitelist Account')?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span ><?=$this->language->_('Add')?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
    </div>
<br />
<br />

	<form name="Form" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'add'),null,true)?>">


		<div class="row">
			

			<div class="col-md-7">
				<div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('File Upload'); ?></label>
	                <div class="col-sm-8 pt-2">
	                    <div class="switch switch--horizontal">
                                                    <input id="report_radio" type="radio" onclick="show1();" value="1" name="report_radio" checked="checked"/>
                                                    <label for="report_radio"><?php echo $this->language->_('Upload');?></label>
                                                    <input id="report_radio1" type="radio" onclick="show2();" value="2" name="report_radio"/>
                                                    <label for="report_radio1"><?php echo $this->language->_('Input');?></label><span class="toggle-outside"><span class="toggle-inside"></span></span>
                                                  </div>
	                </div>
	            </div>
	            <br/>

<div id="div1" class="hide">


	            <div class="form-group row">
	                <label class="col-sm-12 col-form-label"><?php echo $this->language->_('CREDITED TO'); ?></label>
	                
	            </div>
	            <style>
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; }
.autocomplete-selected { background: blue; color: white; }
.autocomplete-suggestions strong { font-weight: bold; color: orange; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
</style>




	            <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Company ID'); ?></label>
	                <div class="col-sm-8 pt-2">

	                    <?php  
							if ($this->confirmPage != 1){
								?>
								<div class="input-group input-group-sm">
							    
							    <input type="text" name="COMPANY_ID" class="form-control" value="<?php echo $this->COMPANY_ID; ?>" id="autocomplete">
							    <span class="input-group-text navbar-search-icon" id="search" style="border-top-right-radius: 0.4rem !important;border-bottom-right-radius: 0.4rem !important;margin-left: -4px;height: 32px;"><i class="fa fa-search"></i></span>
							</div>
								
							<?php
								// echo $this->formText('COMPANY_ID',$this->COMPANY_ID,array('class'=>'form-control','maxlength'=>'128','id'=>'autocomplete')); 
							}else
								echo $this->COMPANY_ID.$this->formHidden('COMPANY_ID',$this->COMPANY_ID);
						?>
	                </div>
	            </div>

	             <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Company Name'); ?></label>
	                <div class="col-sm-8 pt-2">
	                    <?php  
							if ($this->confirmPage != 1)
								echo $this->formText('COMPANY_NAME',$this->COMPANY_NAME,array('class'=>'form-control','maxlength'=>'128')); 
							else
								echo $this->COMPANY_NAME.$this->formHidden('COMPANY_NAME',$this->COMPANY_NAME);
						?>
	                </div>
	            </div>

	            <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Company Type'); ?></label>
	                <div class="col-sm-8 pt-2">
	                    <?php  
							if ($this->confirmPage != 1)
								echo $this->formText('COMPANY_TYPE',$this->COMPANY_TYPE,array('class'=>'form-control','maxlength'=>'128')); 
							else
								echo $this->COMPANY_TYPE.$this->formHidden('COMPANY_TYPE',$this->COMPANY_TYPE);
						?>
	                </div>
	            </div>
	            <br/>
	            <br/>
	            <div class="form-group row">
	                <label class="col-sm-12 col-form-label"><?php echo $this->language->_('DEBITED FROM'); ?></label>
	                
	            </div>
	            <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Debited Bank'); ?></label>
	                <div class="col-sm-8 pt-2">
	                    <?php  
							if ($this->confirmPage != 1)
								// echo $this->formText('DEBIT_BANK',$this->DEBIT_BANK,array('class'=>'form-control','maxlength'=>'128')); 
							 echo $this->formSelect('DEBIT_BANK',$this->DEBIT_BANK,array('id'=>'DEBIT_BANK','class'=>'form-control'), $this->DEBIT_BANKarr); 
							else
								echo $this->DEBIT_BANK.$this->formHidden('DEBIT_BANK',$this->DEBIT_BANK);
						?>
	                </div>
	            </div>

	             <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Debited Account'); ?></label>
	                <div class="col-sm-8 pt-2">
	                    <?php  
							if ($this->confirmPage != 1)
								echo $this->formText('DEBIT_ACCOUNT',$this->DEBIT_ACCOUNT,array('class'=>'form-control','maxlength'=>'128')); 
							else
								echo $this->DEBIT_ACCOUNT.$this->formHidden('DEBIT_ACCOUNT',$this->DEBIT_ACCOUNT);
						?>
	                </div>
	            </div>

	            <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Account Name'); ?></label>
	                <div class="col-sm-8 pt-2">
	                    <?php  
							if ($this->confirmPage != 1)
								echo $this->formText('ACCT_NAME',$this->ACCT_NAME,array('class'=>'form-control','maxlength'=>'128')); 
							else
								echo $this->ACCT_NAME.$this->formHidden('ACCT_NAME',$this->ACCT_NAME);
						?>
	                </div>
	            </div>

	            <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Attach File'); ?></label>
	                <div class="col-sm-8 pt-2">
	                    <?php  
							if ($this->confirmPage != 1){
								?>
								<div class="file-upload">
									  <div class="file-select">
									    <div class="file-select-button" id="fileName">Choose File</div>
									    <div class="file-select-name" id="noFile">No file chosen...</div> 
									    <input type="file" name="chooseFile" id="chooseFile">
									  </div>
									</div>
							<?php
							}else
								echo $this->ACCT_NAME.$this->formHidden('ACCT_NAME',$this->ACCT_NAME);
						?>
	                </div>
	            </div>
			</div>

			<div class="col-md-5">
			</div>
		</div>	

	</div>

		<div class="row">
			 <div class="panel panel-default" style="border:0px">
                      <!-- Default panel contents -->
                      <input class = "btn btn-success" type="button" onclick="location.href='<?=$this->url(array('module'=>'home','controller'=>'index','action'=>'index'),null,true)?>'" value = "<?php echo $this->language->_('Back'); ?>">
                    										<input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btn btn-success"/>
                    </div>
		</div>



	</form>

<script src="//code.jquery.com/jquery.min.js"></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js'></script>
<script type="text/javascript" charset="utf-8">


$(document).ready(function() {
$('#chooseFile').bind('change', function () {
  var filename = $("#chooseFile").val();
  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("No file chosen..."); 
  }
  else {
    $(".file-upload").addClass('active');
    $("#noFile").text(filename.replace("C:\\fakepath\\", "")); 
  }
});


});
  
  var currencies = <?php echo $this->custarr; ?>;

  $('#autocomplete').autocomplete({
    lookup: currencies,
    onSelect: function (suggestion) {
      // var content = '<strong>화폐명:</strong> ' + suggestion.value + ' <br> <strong>기호:</strong> ' + suggestion.data;

      // $('#outputcontent').html(content);
      // document.getElementById('COMPANY_NAME').value
      $('#COMPANY_NAME').val(suggestion.CUST_NAME);
      $('#COMPANY_TYPE').val(suggestion.CUST_TYPE);
    }
  });

   
</script>