<?php $random = str_pad(mt_rand(0, 99), 2, '0', STR_PAD_LEFT);?>
<script type="text/javascript">

//akan di onload pertama kali


</script>

<script type="text/javascript" charset="utf-8">



   


function checkSwift(){
//	alert($('#SWIFT_CODE').val());
//	$('#CITY_CODE').val("");
	swiftcode = $('#SWIFT_CODE').val();
	$('#CITY_CODE > *').hide();
	idclassShow = '#CITY_CODE > option.' + swiftcode;	
	$(idclassShow).show();
}
function resetCity(){
	$('#CITY_CODE').val("");
}

</script>

<style>
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

.switch {
  margin: 4rem auto;
}
/* main styles */
.switch {
  width: 24rem;
  position: relative;
}
.switch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.switch input:checked {
  z-index: 1;
}
.switch input:checked + label {
  opacity: 1;
  cursor: default;
}
.switch input:not(:checked) + label:hover {
  opacity: 0.5;
}
.switch label {
  color: #aaaaaa;
  opacity: 0.33;
  transition: opacity 0.25s ease;
  cursor: pointer;
}
.switch .toggle-outside {
  height: 100%;
  border-radius: 2rem;
  padding: 0.22rem;
  overflow: hidden;
  transition: 0.25s ease all;
}
.switch .toggle-inside {
  border-radius: 5rem;
  background: #4a4a4a;
  position: absolute;
  transition: 0.25s ease all;
}
.switch--horizontal {
  width: 18rem;
  /*height: 3rem;*/
  margin: 0 auto;
  font-size: 0;
  margin-left: 0px;
  margin-bottom: 1rem;
}
.switch--horizontal input {
  /*height: 3rem;*/
  width: 6rem;
  left: 6rem;
  margin: 0;
  margin-left: 38px;
}
.switch--horizontal label {
  font-size: 11px;
  /*line-height: 3rem;*/
  display: inline-block;
  width: 6rem;
  height: 100%;
  margin: 0;
  text-align: center;
}
.switch--horizontal label:last-of-type {
  margin-left: 1px;
}
.switch--horizontal .toggle-outside {
  background: #fff;
  left: 80px;
  position: absolute;
  width: 33px;
  height: 21px;
  border: 1px solid #9c9e98;
}
.switch--horizontal .toggle-inside {
  height: 15px;
  width: 15px;
}
.switch--horizontal input:checked ~ .toggle-outside .toggle-inside {
  left: 0.25rem;
}
.switch--horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 15px;
}
.switch--vertical {
  width: 12rem;
  height: 6rem;
}
.switch--vertical input {
  height: 100%;
  width: 3rem;
  right: 0;
  margin: 0;
}
.switch--vertical label {
  font-size: 1.5rem;
  line-height: 3rem;
  display: block;
  width: 8rem;
  height: 50%;
  margin: 0;
  text-align: center;
}
.switch--vertical .toggle-outside {
  background: #fff;
  position: absolute;
  width: 3rem;
  height: 100%;
  right: 0;
  top: 0;
}
.switch--vertical .toggle-inside {
  height: 2.5rem;
  left: 0.25rem;
  top: 0.25rem;
  width: 2.5rem;
}
.switch--vertical input:checked ~ .toggle-outside .toggle-inside {
  top: 0.25rem;
}
.switch--vertical input ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 3.25rem;
}
.switch--no-label label {
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.switch--no-label input:checked ~ .toggle-outside .toggle-inside {
  background: rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
}
.switch--no-label input ~ input:checked ~ .toggle-outside {
  background: #fff;
}
.switch--no-label input ~ input:checked ~ .toggle-outside .toggle-inside {
  background: #2ecc71;
}
.switch--no-label.switch--vertical {
  width: 3rem;
}
.switch--no-label.switch--horizontal {
  width: 6rem;
}
.switch--no-label.switch--horizontal input,
.switch--no-label.switch--horizontal .toggle-outside {
  left: 0;
}
.switch--expanding-inner input:checked + label:hover ~ .toggle-outside .toggle-inside {
  height: 2.5rem;
  width: 2.5rem;
}
.switch--expanding-inner.switch--horizontal input:hover ~ .toggle-outside .toggle-inside {
  width: 3.5rem;
}
.switch--expanding-inner.switch--horizontal input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 2.25rem;
}
.switch--expanding-inner.switch--vertical input:hover ~ .toggle-outside .toggle-inside {
  height: 3.5rem;
}
.switch--expanding-inner.switch--vertical input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 2.25rem;
}
/* mixin */

    </style>

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                
	                <li>
	                    <span ><?=$this->language->_('Direct Debit Whitelist Account')?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span ><?=$this->language->_('Add')?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
    </div>
<br />
<br />

	<form name="Form" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'confirm'),null,true)?>">


		<div class="row">
			

			<div class="col-md-7">
				<div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('File Upload'); ?></label>
	                <div class="col-sm-8 pt-2">
	                    <div class="switch switch--horizontal">
                                                    <input id="report_radio" type="radio" value="1" name="report_radio" checked="checked"/>
                                                    <label for="report_radio"><?php echo $this->language->_('Custom');?></label>
                                                    <input id="report_radio1" type="radio" value="2" name="report_radio"/>
                                                    <label for="report_radio1"><?php echo $this->language->_('Schedule');?></label><span class="toggle-outside"><span class="toggle-inside"></span></span>
                                                  </div>
	                </div>
	            </div>
	            <br/>
	            <div class="form-group row">
	                <label class="col-sm-12 col-form-label"><?php echo $this->language->_('Credited To'); ?></label>
	                
	            </div>

	            <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Company ID'); ?></label>
	                <div class="col-sm-8 pt-2">

	                    <?php  
							// if ($this->confirmPage != 1){
								?>

								
							<?php
								// echo $this->formText('COMPANY_ID',$this->COMPANY_ID,array('class'=>'form-control','maxlength'=>'128','id'=>'autocomplete')); 
							// }else
								echo $this->COMPANY_ID.$this->formHidden('COMPANY_ID',$this->COMPANY_ID);
						?>
	                </div>
	            </div>

	             <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Company Name'); ?></label>
	                <div class="col-sm-8 pt-2">
	                    <?php  
							// if ($this->confirmPage != 1)
							// 	echo $this->formText('COMPANY_NAME',$this->COMPANY_NAME,array('class'=>'form-control','maxlength'=>'128')); 
							// else
								echo $this->COMPANY_NAME.$this->formHidden('COMPANY_NAME',$this->COMPANY_NAME);
						?>
	                </div>
	            </div>

	            <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Company Type'); ?></label>
	                <div class="col-sm-8 pt-2">
	                    <?php  
							// if ($this->confirmPage != 1)
							// 	echo $this->formText('COMPANY_TYPE',$this->COMPANY_TYPE,array('class'=>'form-control','maxlength'=>'128')); 
							// else
								echo $this->COMPANY_TYPE.$this->formHidden('COMPANY_TYPE',$this->COMPANY_TYPE);
						?>
	                </div>
	            </div>
	            <br/>
	            <div class="form-group row">
	                <label class="col-sm-12 col-form-label"><?php echo $this->language->_('Debited From'); ?></label>
	                
	            </div>
	            <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Debited Bank'); ?></label>
	                <div class="col-sm-8 pt-2">
	                    <?php  
							// if ($this->confirmPage != 1)
							// 	// echo $this->formText('DEBIT_BANK',$this->DEBIT_BANK,array('class'=>'form-control','maxlength'=>'128')); 
							//  echo $this->formSelect('DEBIT_BANK',$this->DEBIT_BANK,array('id'=>'DEBIT_BANK','class'=>'form-control'), $this->DEBIT_BANKarr); 
							// else
								echo $this->DEBIT_BANK.$this->formHidden('DEBIT_BANK',$this->DEBIT_BANK);
						?>
	                </div>
	            </div>

	             <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Debited Account'); ?></label>
	                <div class="col-sm-8 pt-2">
	                    <?php  
							// if ($this->confirmPage != 1)
							// 	echo $this->formText('DEBIT_ACCOUNT',$this->DEBIT_ACCOUNT,array('class'=>'form-control','maxlength'=>'128')); 
							// else
								echo $this->DEBIT_ACCOUNT.$this->formHidden('DEBIT_ACCOUNT',$this->DEBIT_ACCOUNT);
						?>
	                </div>
	            </div>

	            <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Account Name'); ?></label>
	                <div class="col-sm-8 pt-2">
	                    <?php  
							// if ($this->confirmPage != 1)
							// 	echo $this->formText('ACCT_NAME',$this->ACCT_NAME,array('class'=>'form-control','maxlength'=>'128')); 
							// else
								echo $this->ACCT_NAME.$this->formHidden('ACCT_NAME',$this->ACCT_NAME);
						?>
	                </div>
	            </div>

	            <div class="form-group row">
	                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Attach File'); ?></label>
	                <div class="col-sm-8 pt-2">
	                    <a href='#' target="_blank"> Document</a>
	                </div>
	            </div>
			</div>

			<div class="col-md-5">
			</div>
		</div>	

		<div class="row">
			 <div class="panel panel-default" style="border:0px">
                      <!-- Default panel contents -->
                      <input class = "btn btn-success" type="button" onclick="location.href='<?=$this->url(array('module'=>'home','controller'=>'index','action'=>'index'),null,true)?>'" value = "<?php echo $this->language->_('Back'); ?>">
                    										<input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btn btn-success"/>
                    </div>
		</div>



	</form>

<script src="//code.jquery.com/jquery.min.js"></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js'></script>
<script type="text/javascript" charset="utf-8">


  
  var currencies = <?php echo $this->custarr; ?>;

  $('#autocomplete').autocomplete({
    lookup: currencies,
    onSelect: function (suggestion) {
      // var content = '<strong>화폐명:</strong> ' + suggestion.value + ' <br> <strong>기호:</strong> ' + suggestion.data;

      // $('#outputcontent').html(content);
      // document.getElementById('COMPANY_NAME').value
      $('#COMPANY_NAME').val(suggestion.CUST_NAME);
      $('#COMPANY_TYPE').val(suggestion.CUST_TYPE);
    }
  });

   
</script>