
     <link rel="stylesheet" href="/css/form_builder.css"/>


    <!-- CSS Files -->

    <link href="/css/material-bootstrap-wizard.css" rel="stylesheet" />

    <!-- CSS Just for demo purpose, don't include it in your project -->

<link rel="stylesheet" type="text/css" href="/css/dragtable.css" />
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.dragtable.js"></script>

<!-- only for jquery.chili-2.2.js -->
<script src="/js/jquery-migrate-1.1.1.js"></script>
<script type="text/javascript" src="/js/jquery.chili-2.2.js"></script>





<script src="/js/bootstrap.min.js" type="text/javascript"></script>
 <script src="/js/jquery.bootstrap.js" type="text/javascript"></script>

<script src="/js/material-bootstrap-wizard.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<style type="text/css">


.container-fluid {
    padding-top: 4rem!important;
}

.myWizard{
    width: 100%!important;
}

.form_builder .nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}
.form_builder .nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.form_builder .nav-sidebar .active a {
    cursor: default;
    background-color: #428bca;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.form_builder .nav-sidebar .active a:hover {
    background-color: #428bca;
}
.form_builder .nav-sidebar .text-overflow a,
.form_builder .nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Right-aligned sidebar */
.form_builder .nav-sidebar.pull-right {
    border-right: 0;
    border-left: 1px solid #ddd;
}
.form_builder .nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.form_builder ul {
    font-size: 18px;
    display: block !important;
}
.form_builder ul li {
    padding: 10px;
    cursor: pointer;
}
.form_builder ul li a {
    text-decoration: none;
    cursor: pointer;
}

.form_builder_field {
    margin: 20px 10px;
    padding: 10px;
    background: #eee;
    width: 92%!important;
}

.form_builder .bal_builder {
    padding: 0 !important;
}

.margin-left-5 {
    margin-left: 5px;
}

.remove_bal_field {
    cursor: pointer;
}

.form-check-input {
    margin-right: 8px;
}

.placeholder {
    width: 100%;
    background-color: #bfb;
    border: 1px dashed #666;
    margin-bottom: 5px;
}
.form_builder_area {
    width:100%;
    min-height:50px;
    position: absolute
}

.mt-radio {
    display: block;
}
.mt-radio p {
    display: inline;
}
.mt-checkbox {
    display: block;
}
.mt-checkbox p {
    display: inline;
}

.add_more_select, .add_more_radio, .add_more_checkbox, .remove_more_select, .remove_more_radio, .remove_more_checkbox {
    cursor: pointer;
}
</style>


<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span>Home</span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="inhouse"><?=$this->language->_('Report')?></span>
                    </li>
                    <li>
                        <?php echo (($this->confirmPage == 1 && empty($this->resultPage))? $this->language->_('Confirmation'): ""); ?>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br/>
<?php if($this->error){ ?>
                    <div class="errmsg"><?=html_entity_decode($this->report_msg)?></div><br />
                    <?php } ?>
<div class="wizard-container">
                        <div class="card wizard-card" data-color="green" id="wizardProfile">
<form name="payment" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" enctype="multipart/form-data">

    <div class="wizard-header">
                                    <h3 class="wizard-title">
                                       Convert File
                                    </h3>
                                    <h5>Convert Your File</h5>
                                </div>
                                <div class="wizard-navigation">
                                    <ul>
                                        <li><a href="#about" data-toggle="tab">Upload</a></li>
                                        <li><a href="#account" data-toggle="tab">Colomn</a></li>
                                        <li><a href="#address" data-toggle="tab">Filter</a></li>
                                    </ul>
                                </div>

                                <div class="tab-content">
                                    <div class="tab-pane" id="about">
                                            <br/>
                                            <div class="form-group row">
                                                <?php echo $this->formLabel('reportname',$this->language->_('Upload File'),array('class'=>'col-sm-12 col-form-label')); ?><span class="invalid-feedback">*</span>

                                            </div>
                                            <style>
  #progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
  }
  #progress_bar.loading {
    opacity: 1.0;
  }
  #progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
  }
</style>

<label class="control-label col-md-3"><?php echo $this->language->_('File to Upload'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
<!-- <div class="custom-file">
    <input type="file" id="files" name="CSV"  class="custom-file-input" id="inputGroupFile01">
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div> -->
  <input type="file" id="files" name="CSV"   id="inputGroupFile01">

<!-- <button onclick="abortRead();" class="btn btn-warning">Cancel read</button>
 -->
<div id="progress_bar"><div class="percent">0%</div></div>

<script>
  var reader;
  var progress = document.querySelector('.percent');

  function abortRead() {
    // alert();
    // reader.abort();
  }

  function errorHandler(evt) {
    switch(evt.target.error.code) {
      case evt.target.error.NOT_FOUND_ERR:
        alert('File Not Found!');
        break;
      case evt.target.error.NOT_READABLE_ERR:
        alert('File is not readable');
        break;
      case evt.target.error.ABORT_ERR:
        break; // noop
      default:
        alert('An error occurred reading this file.');
    };
  }

  function updateProgress(evt) {
    // evt is an ProgressEvent.
    if (evt.lengthComputable) {
      var percentLoaded = Math.round((evt.loaded / evt.total) * 100);
      // Increase the progress bar length.
      if (percentLoaded < 100) {
        progress.style.width = percentLoaded + '%';
        progress.textContent = percentLoaded + '%';
      }
    }
  }

  function handleFileSelect(evt) {
    // Reset progress indicator on new file selection.
    progress.style.width = '0%';
    progress.textContent = '0%';

    reader = new FileReader();
    reader.onerror = errorHandler;
    reader.onprogress = updateProgress;
    reader.onabort = function(e) {
      alert('File read cancelled');
    };
    reader.onloadstart = function(e) {
      document.getElementById('progress_bar').className = 'loading';
    };
    reader.onload = function(e) {
      // Ensure that the progress bar displays 100% at the end.
      progress.style.width = '100%';
      progress.textContent = '100%';
      setTimeout("document.getElementById('progress_bar').className='';", 2000);
    }

    // Read in the image file as a binary string.
    reader.readAsBinaryString(evt.target.files[0]);
  }

  document.getElementById('files').addEventListener('change', handleFileSelect, false);
</script>




                                    </div>

                                    <div class="tab-pane" id="address">

                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="pull-right" style="float: left !important;margin-left: 20px;margin-bottom: 20px;">

                                        <input type='submit' id="submitbtn" class='btn btn-next btn-fill btn-success btn-wd' name='finish' value='Upload' />
                                    </div>

                                    <div class="pull-left" style="float: left !important;margin-left: 20px;margin-bottom: 20px;">
                                        <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>





    <input name="process" value="" type="hidden">
    <input name="num" value="" type="hidden">
    <input name="page" value="" type="hidden">
    <input name="titleForm" value="Import File" type="hidden">




</form>
</div>
</div>
