<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Report'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('BG List'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Detail'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	label {
		font-size: 1.2em;
	}

	.col-form-label {
		font-size: 1.2em;
	}

	table {
		font-size: 14px !important;
	}

	.text-gray {
		color: gray !important;
	}

	.table-header {
		font-size: 16px !important;
		color: #fff !important;
		background-color: #0b549f !important;
	}

	#fa-angle-up:hover,
	#fa-angle-down:hover {
		color: #fff !important;
	}
</style>

<?php
require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
$rand = $this->token;
$encrypted = $AESMYSQL->encrypt($this->data['BG_REG_NUMBER'], $rand);
$encrypted_id = urlencode($encrypted);
$download = $this->language->_('Download');

$BG_REG_NUMBER = $this->data['BG_REG_NUMBER'];
// echo "<code>test = $test</code><BR>";

?>

<div class="row justify-content-center mt-3">
	<div class="col-md-11">
		<div class="row">
			<div class="col-md-6">
				<h5 style="margin-left: 15px;"><?= $this->language->_('Bank Guarantee Detail') ?></h5>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;">BG Number</label>
			</div>
			<div class="col-md-9">
				<label class="text-danger"><strong><?= substr($this->data['BG_NUMBER'], 0, 3) . "-" . substr($this->data['BG_NUMBER'], 3, 6) . "-" . substr($this->data['BG_NUMBER'], 9, 5) . "-" . substr($this->data['BG_NUMBER'], 14)  ?></strong></label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;">eForm Subject</label>
			</div>
			<div class="col-md-9">
				<label><strong><?= $this->data['BG_SUBJECT'] ?: '- ' . $this->language->_('no subject') . ' -'; ?></strong></label>
			</div>
		</div>


		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_("Bank Branch"); ?></label>
			</div>
			<div class="col-md-9">
				<label><?= $this->data['BRANCH_NAME'] ?: '-'; ?></label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;">Status</label>
			</div>
			<div class="col-md-9">
				<label><?= $this->arrStatus[$this->data['BG_STATUS']]; ?></label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;"><?= $this->language->_('Suggestion Type') ?></label>
			</div>
			<div class="col-md-9">
				<label><?= $this->suggestion_type; ?></label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label class="text-gray" style="margin-left: 15px;">Notes</label>
			</div>
			<div class="col-md-9">
				<label><?php echo $this->reason; ?></label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Bank Guarantee Applicant') ?></h5>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label class="text-gray">Company</label>
						</div>
						<div class="col-sm-9">
							<label><?php echo $this->data['CUST_NAME'] . ' (' . $this->data['CUST_ID'] . ')'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('NPWP') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_NPWP'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Address') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_ADDRESS'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('City') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CITY_NAME'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Company Phone Number') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_PHONE'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Contact Person') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_CP'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Contact Number') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_CONTACT_NUMBER'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray"><?= $this->language->_('Contact Email') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['CUST_EMAIL'] ?: '-'; ?></label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Type of Bank Guarantee') ?></h5>
				</div>

				<div style="padding-left:2%">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Type of Bank Guarantee') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= empty($this->data['USAGE_PURPOSE']) ? '-' : $this->arrbgType[$this->data['USAGE_PURPOSE']]; ?></label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Bank Guarantee Nominal and Validity Period') ?></h5>
				</div>
				<div style="padding-left:2%; padding-top:2px;">

					<div class="row pt-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Bank Guarantee Nominal</label>
						</div>
						<div class="col-sm-7">
							<div class="input-group" id="">
								<label class="text-danger"><?= $this->data['BG_AMOUNT'] ? 'IDR ' . number_format($this->data['BG_AMOUNT'], 2) : '-'; ?></label>
							</div>
						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Start From</label>
						</div>
						<div class="col-sm-9 form-inline" style="float:left">
							<label>
								<?php
								$date_start = strtotime($this->data['TIME_PERIOD_START']);
								$date_end = strtotime($this->data['TIME_PERIOD_END']);
								$diff = $date_end - $date_start;
								$day = $diff / 60 / 60 / 24;
								if (empty($this->data['TIME_PERIOD_START'])) {
									echo '-';
								} else {
									echo date('d M Y', $date_start);
								}
								echo ' <span class="mx-2">' . $this->language->_('to') . '</span> ';
								if (empty($this->data['TIME_PERIOD_END'])) {
									echo '-';
								} else {
									echo date('d M Y', $date_end);
								}
								echo '<i class="ml-3 text-gray">(' . $day . ' ' . $this->language->_('days') . ')</i>';
								?>
							</label>
						</div>
					</div>
					<div class="form-group row" style="">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Claim Period</label>
						</div>
						<div class="col-sm-9">
							<label><?php echo date('d M Y', strtotime($this->data['BG_CLAIM_DATE'])); ?></label>

						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Bank Guarantee Recipient') ?></h5>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Recipient Name') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_NAME'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Address') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_ADDRES'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('City') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_CITY'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Phone Office Number') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_OFFICE_NUMBER'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Contact Person') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_CP'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Contact Number') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_CONTACT'] ?: '-'; ?></label>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label"><?= $this->language->_('Contact Email') ?></label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['RECIPIENT_EMAIL'] ?: '-'; ?></label>
						</div>
					</div>
					<?php if ($this->data['SP_OBLIGEE_CODE']) { ?>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label"><?= $this->language->_('Special Obligee Code') ?></label>
							</div>
							<div class="col-sm-9">
								<label><?= $this->data["SP_OBLIGEE_NAME"] . " (" . $this->data['SP_OBLIGEE_CODE'] . ")"; ?></label>
							</div>
						</div>
					<?php } ?>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Guarantee Transaction') ?></h5>
				</div>
				<div style="padding-left:2%; padding-top:2px;">
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label class="text-gray"><?= $this->language->_('Procurement of Goods/Services') ?></label>
						</div>
						<div class="col-sm-9 d-flex align-items-center">
							<label class="col-form-label"><?= $this->comment; ?><?= $this->data['SERVICE'] ?: '-'; ?></label>
						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Document Type</label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->docTypeArr[$this->data['GT_DOC_TYPE']]; ?></label>
						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Document Number</label>
						</div>
						<div class="col-sm-9 d-flex align-items-center">
							<label class="m-0"><?= $this->data['GT_DOC_NUMBER'] ?: '-'; ?></label>&nbsp;&nbsp;<button onclick="location.href = '/eform/index/detail/bg/<?= explode('/', $this->url())[5] ?>/download/1';" name="download" value="1" class="btn bg-transparent p-0 m-0">
								<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
								</svg>
							</button>
						</div>
					</div>
					<div class="form-group row pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Document Date</label>
						</div>
						<div class="col-sm-9">
							<label><?= $this->data['GT_DOC_DATE'] ? date('d M Y', strtotime($this->data['GT_DOC_DATE'])) : '-'; ?></label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Counter Warranty') ?></h5>
				</div>
				<div style="padding-left:2%;padding-right: 2%;">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Counter Warranty Type</label>
						</div>
						<div class="col-sm-9">
							<label><?php
									echo $this->warranty_type_text_new; ?></label>

						</div>
					</div>
					<!-- type1 -->

					<?php if ($this->data["COUNTER_WARRANTY_TYPE"] == '1') { ?>

						<div class="mb-2"><span class="font-weight-bold">Jaminan sedang Ditahan </span>(<span class="font-italic">total : <span class="text-danger">IDR <?= number_format($this->holdAmount, 2); ?></span></span>)</div>

						<div id="wrType1">
							<div class="form-group row">
								<div class="col-sm-12">
									<table class="table table-sm table-striped" id="fulltable" style="margin-bottom: 0rem!important;">
										<thead>
											<tr height="45px">
												<!-- <th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Own Account </th> -->
												<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">No </th>
												<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Account Number</th>
												<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Account Name</th>
												<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Type</th>
												<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Currency</th>
												<th class="tablehead fth-header font-italic font-weight-normal text-body align-middle" style="background-color: #cccccc">Nominal</th>
											</tr>
										</thead>
										<?php
										$no = 1;
										foreach ($this->fullmember as $key => $vl) { ?>
											<?php if (strtolower($vl["M_ACCT_DESC"]) == "giro" || $vl["M_ACCT_TYPE"] == "D") continue; ?>
											<tr>
												<td>
													<?php
													// if ($vl['FLAG'] == '1') {
													// 	echo '<span style="margin-left: 25px;">Y</span>&nbsp;&nbsp;';
													// } else {
													// 	echo '<span style="margin-left: 25px;">N</span>&nbsp;&nbsp;';

													echo $no;
													?>
													<!-- <i class='fas fa-exclamation-circle' style='color:red;font-size:25px' id='icwarning' data-toggle="tooltip" data-placement="top" title="account owner must sign a power of attorney and lien at the branch office"></i> -->
													<?php
													// }
													?>
												</td>
												<td>
													<?= $vl["ACCT"]; ?>
												</td>
												<td><?php echo $vl['NAME']; ?></td>
												<td><?= $vl["M_ACCT_DESC"] ?: $vl["ACCT_DESC"]; ?></td>
												<td><?= ($vl["ACCT_DESC"]) ? $this->escrowCurrency : $vl["CCY_ID"]; ?></td>
												<td>
													<?= number_format($vl['AMOUNT'], 2); ?>&nbsp;
													<?php if ($vl["ACCT_DESC"]) { ?>
														<button type="button" class="btnwhite ml-1" style="min-width: 20px !important;height: 20px !important;text-transform: inherit;color: #8282E6 !important" onclick="openwindow(`/eform/index/escrowdetail/bgnumb/${window.location.href.split('/')[7]}`, 600, 400)">i</button>
													<?php } ?>
												</td>
											</tr>

										<?php $no++;
										} ?>
									</table>
								</div>

							</div>

						</div>

					<?php } ?>
					<!-- type2 -->

					<?php if ($this->data["COUNTER_WARRANTY_TYPE"] == '2') { ?>
						<div id="wrType2">
							<div id="listwr" style="width: 100%">
								<div id="wherelist-1">
									<div class="form-group row">
										<div class="col-sm-3">
											<label for="" class="text-gray col-form-label">Plafond Owner</label>
										</div>
										<div class="col-sm-9">
											<label><?php echo $this->data["CUST_NAME"] . " " . "(" . $this->data["CUST_ID"] . ")"; ?></label>
										</div>
									</div>

									<div class="form-group row">
										<div class="col-sm-3">
											<label for="" class="text-gray col-form-label">Counter Nominal</label>
										</div>
										<div class="col-sm-9">
											<label>IDR <?= number_format($this->data["BG_AMOUNT"], 2); ?></label>
										</div>
									</div>

									<?php if (!empty($this->owner1)) { ?>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Plafond Owner 1</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo $this->owner1; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label"><?= $this->language->_('Current Available Limit'); ?></label>
											</div>
											<div class="col-sm-9">
												<label class="col-form-label"><?php echo $this->currency_type . ' ' . number_format($this->current_limit, 2) . " (from max limit of IDR " . number_format($this->max_limit, 2) . ")"; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label"><?= $this->language->_('Counter Nominal'); ?></label>
											</div>
											<div class="col-sm-9">
												<label class="col-form-label"><?php echo $this->currency_type . ' ' . number_format(str_replace(",", "", $this->amountowner1), 2); ?></label>
											</div>
										</div>
									<?php } ?>


									<?php if (!empty($this->owner2)) { ?>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Plafond Owner 2</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo $this->owner2; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Amount</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->amountowner2); ?></label>

											</div>
										</div>
									<?php } ?>


									<?php if (!empty($this->owner3)) { ?>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Plafond Owner 3</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo $this->owner3; ?></label>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="text-gray col-form-label">Amount</label>
											</div>
											<div class="col-sm-9">
												<label><?php echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->amountowner3); ?></label>

											</div>
										</div>
									<?php } ?>


								</div>
							</div>

						</div>

					<?php } ?>
					<!-- type3 -->

					<?php if ($this->data["COUNTER_WARRANTY_TYPE"] == '3') { ?>
						<div id="wrType3">
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Insurance Name</label>
								</div>
								<div class="col-sm-9">
									<label><?php
											echo $this->data["INSURANCE_NAME"]; ?></label>

								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Insurance Branch</label>
								</div>
								<div class="col-sm-9">
									<label><?php echo $this->insuranceBranch; ?></label>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Principle Agreement Number</label>
								</div>
								<div class="col-sm-9">
									<label><?= $this->principleData["Principle Agreement Number"]; ?></label>
									<label class="px-5">(<?= date('d M Y', strtotime($this->principleData["Principle Agreement Granted Date"])); ?>)</label>
									<a href="/eformworkflow/downloadfile/ijinprinsip/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1/onrisk/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
										<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
										</svg>
									</a>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Counter Guarantee Number</label>
								</div>
								<div class="col-sm-9">
									<?php if ($this->principleData["Counter Guarantee Number"]) { ?>
										<label><?= $this->principleData["Counter Guarantee Number"]; ?></label>
										<label class="px-5">(<?= date('d M Y', strtotime($this->principleData["Counter Guarantee Granted Date"])); ?>)</label>
										<?php if ($this->checkCounterGuaranteeFile > 0) { ?>
											<a href="/eformworkflow/downloadfile/cgdocument/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/1" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" style="color: #000">
												<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
													<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
												</svg>
											</a>
										<?php } ?>
									<?php } else{ ?>
										<label>-</label>
									<?php } ?>
								</div>
							</div>

							<?php if (false) { ?>
								<div class="row pt-1">
									<div class="col-sm-3">
										<label for="" class="text-gray col-form-label">Principal Agreement</label>
									</div>
									<div class="col-sm-9" style="padding-right: 0px;">
										<div class="input-group" id="">

											<label> <?php
													echo 'No. ' . $this->PrincipalAgreement; ?></label>
											<label><?php
													echo '(Date : ' . $this->paDateStart . ' s/d ' . $this->paDateEnd . ')'; ?></label>
											&nbsp;
											&nbsp;
											<span class="input-group-text navbar-search-icon" id="search" style="border-top-right-radius: 0.4rem !important;border-bottom-right-radius: 0.4rem !important;margin-left: -4px;height: 28px;" onclick="openInsurance()"><i class="fa fa-search"></i></span>
										</div>
									</div>

								</div>
								<div class="row pt-1 pb-1">
									<div class="col-sm-3">
										<label for="" class="text-gray col-form-label">Amount</label>
									</div>
									<div class="col-sm-9">
										<div class="input-group" id="">

											<label><?php
													echo 'IDR ' . Application_Helper_General::displayMoneyplain($this->insurance_amount); ?></label>

										</div>
									</div>
								</div>
							<?php } ?>
						</div>
					<?php } ?>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<div class="row">
						<div class="col-md-6">
							<h5><?= $this->language->_('Provision Fee, Administration and Other Expenses') ?></h5>
						</div>
					</div>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row pt-2 pb-1">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">All Fee are charge to<strong class="formreq">
									<font color="red">&nbsp;*</font>
								</strong></label>
						</div>
						<div class="col-sm-9">
							<label><?php
									// echo $this->acct . '(IDR) / ' . $this->bankname . ' / ' . $this->src_name;
									echo $this->acct . ' (IDR) / ' . $this->src_name; ?></label>
						</div>
					</div>
					<?php if ($this->warranty_type != '3') { ?>
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Bank Provision Fee</label>
							</div>
							<div class="col-sm-7">
								<!-- <label><?= number_format($this->cash_collateral["CHARGES_PCT"], 4); ?>% (IDR <?= number_format($this->data["PROVISION_FEE"], 2) ?>)</label> -->
								<label>IDR <?= number_format($this->data["PROVISION_FEE"], 2) ?></label>

							</div>
						</div>
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Bank Administration Fee</label>
							</div>
							<div class="col-sm-7">
								<label>IDR <?= number_format($this->data["ADM_FEE"], 2) ?></label>

							</div>
						</div>
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Bank Stamp Fee</label>
							</div>
							<div class="col-sm-7">
								<label>IDR <?= number_format($this->data["STAMP_FEE"], 2) ?></label>

							</div>
						</div>
					<?php } else { ?>
						<div class="form-group row">
							<div class="col-sm-3"><label for="" class="text-gray col-form-label">Total Fee</label></div>
							<div class="col-sm-9"><label>(as determined by insurance)</label></div>
						</div>
					<?php } ?>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust">
					<h5><?= $this->language->_('Format and Language') ?></h5>
				</div>
				<div style="padding-left:2%">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Publishing Form</label>
						</div>
						<div class="col-sm-7">
							<label><?php echo $this->publishForm; ?></label>
						</div>
					</div>

					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Bank Guarantee Format</label>
						</div>
						<div class="col-sm-7">
							<label> <?= $this->bankFormat; ?> </label>
						</div>
					</div>
					<?php if ($this->bankFormatNumber == 2) { ?>
						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Sample Format (format.doc)</label>
							</div>
							<div class="col-sm-7">
								<label>
									<?php

									$special_format = explode("_", $this->data["SPECIAL_FORMAT_DOC"]);
									$new_temp_name = $special_format[0] . "_" . $special_format[1] . "_" . $special_format[2] . "_" . $special_format[3] . "_";

									$new_special_format = str_replace($new_temp_name, "", $this->data["SPECIAL_FORMAT_DOC"]);
									echo $new_special_format;

									?>
									<a href="/eformworkflow/downloadfile/special/bgnumb/<?php echo $this->BG_REG_NUMBER ?>/download/specialformat" style="color: #000;" class="btn bg-transparent p-0 m-0">
										<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
										</svg>
									</a>
								</label>
							</div>
						</div>
					<?php } ?>

					<?php if ($this->bankFormatNumber == 1) { ?>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="text-gray col-form-label">Language<strong class="formreq">
										<font color="red">&nbsp;*</font>
									</strong></label>
							</div>
							<div class="col-sm-9">
								<label><?php echo $this->languagetext; ?></label>
							</div>
						</div>
					<?php } ?>
					<br>

				</div>
			</div>
		</div>
		<?php if (count($this->othersAttachment) > 0) { ?>
			<div class="row">
				<div class="col-md-12 mb-3" style="height: auto; position: relative;">
					<div class="padding-header-cust">
						<h5><?= $this->language->_('Others Attachment Documents') ?></h5>
					</div>
					<div style="padding-left:2%" class="mt-3">
						<?php foreach ($this->othersAttachment as $file) {

							//trim file name 

							$explodeFileName = $trimFileName = explode("_", $file["BG_FILE"]);
							$getLength = strlen($trimFileName[0] . "_" . $trimFileName[1] . "_" . $trimFileName[2] . "_" . $trimFileName[3] . "_");
							$fileName = substr($file["BG_FILE"], $getLength);

							// end trim file name
						?>
							<div class="form-group row">
								<div class="col-sm-3">
									<label for="" class="text-gray col-form-label">Attachment</label>
								</div>
								<div class="col-sm-9 d-flex align-items-center">
									<label class="m-0"><?= $fileName; ?></label>
									<button type="button" onclick="location.href = '/eform/downloadfile/index/bgnumb/<?= $this->data['BG_REG_NUMBER'] ?>/download/<?= $file['INDEX'] ?>/onrisk/1';" value="1" class="btn bg-transparent p-0 m-0 ml-2">

										<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
											<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
										</svg>

									</button>
								</div>
							</div>
						<?php } ?>

					</div>
				</div>
			</div>
		<?php } ?>
		<br>
		<div class="row">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust d-flex">
					<div class="col">
						<h5><?= $this->language->_('Sertifikat Bank Garansi Final') ?></h5>
					</div>
					<div class="col" style="text-align: right;">
						<a href="javascript:void(0)" id="fa-angle-down1" class="mr-2 text-white" onclick="historyShow1()"><i class="fa fa-angle-down"></i></a>
						<a href="javascript:void(0)" id="fa-angle-up1" class="mr-2 text-white" onclick="historyHide1()"><i class="fa fa-angle-up"></i></a>
					</div>
				</div>
				<div style="padding-left:2%" id="sertifikatBG">
					<div class="form-group row pt-2">
						<div class="col-sm-3">
							<label for="" class="text-gray col-form-label">Format Disetujui </label>
						</div>
						<div class="col-sm-8 d-flex align-items-center">
							<label class="col-form-label">BG_NO_<?= str_replace('-', '', $this->data['BG_NUMBER']); ?></label>&nbsp;&nbsp;
							<form action="" method="POST">
								<button type="submit" name="certfinal" value="1" class="btn bg-transparent p-0 m-0">
									<svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
									</svg>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="row mt-4">
			<div class="col-md-12" style="height: auto; position: relative;">
				<div class="padding-header-cust d-flex">
					<div class="col">
						<h5><?= $this->language->_('History') ?></h5>
					</div>
					<div class="col" style="text-align: right;">
						<a href="javascript:void(0)" id="fa-angle-down" class="mr-2 text-white" onclick="historyShow()"><i class="fa fa-angle-down"></i></a>
						<a href="javascript:void(0)" id="fa-angle-up" class="mr-2 text-white" onclick="historyHide()"><i class="fa fa-angle-up"></i></a>
					</div>
				</div>
				<div class="form-group row pt-2">
					<div class="col-sm-12">
						<div id="history-body">
							<table class="table-bordered" cellpadding="3" style="width:100%">
								<tr style="background-color:#ccc">
									<td><b><i><?= $this->language->_('User'); ?></i></b></td>
									<td><b><i><?= $this->language->_('Action'); ?></i></b></td>
									<td><b><i><?= $this->language->_('Date Time'); ?></i></b></td>
									<td><b><i><?= $this->language->_('Note'); ?></i></b></td>
								</tr>
								<?php foreach ($this->dataHistory as $row) : ?>
									<tr style="background-color:#eee">
										<td><?= $row['USER_LOGIN']; ?></td>
										<td><?= $this->historyStatusArr[$row['HISTORY_STATUS']]; ?></td>
										<td><?= date('d M Y H:i:s', strtotime($row['DATE_TIME'])); ?></td>
										<td><?= $row['BG_REASON'] ?: '-'; ?></td>
									</tr>
								<?php endforeach; ?>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<?php
$back = $this->language->_('Back');
$amendment = $this->language->_('Amendment');
?>

<div class="col-md-12 mt-4" align="center">
	<input class="btn-sm btnwhite hov" value="<?php echo $this->language->_('Back') ?>" onclick="location.href='/eform'" type="button">

	&nbsp;
	<!-- <?= $this->formButton('download', $download, array('id' => '', 'class' => 'btn-sm btnwhite hov', 'onclick' => "location.href='/eform/index/download/bg/$encrypted_id'")); ?> -->

	<button onclick="location.href='/eform/index/download/print/1/bg/<?= $encrypted_id; ?>'" target="_blank" class="btn-sm btnwhite hov"><?php echo $this->language->_("Download") ?></button>&nbsp;



	<!-- <?= $this->formButton('amendment', $amendment, array('id' => 'pdf', 'onclick' => "location.href='/eform/index/detail/bg/$encrypted_id/amendment/1'")); ?> -->
	<!-- <?= $this->formButton('amendment', $amendment, array('id' => 'pdf', 'onclick' => "location.href='/eform/amdetail/index/bg/$encrypted_id'")); ?> -->
	&nbsp;

	<?php
	if ($this->hasPrivilege("CCBG")) {
	?>
		<?= $this->formButton('amendment', $amendment, array('class' => 'btn-sm btngreen hov', 'onclick' => "location.href='/eform/amdetail/index/bgnumb/$BG_REG_NUMBER'")); ?>
	<?php
	}
	?>
</div>

<script>
	$(document).ready(function() {
		$('#fa-angle-up').hide();
		$('#history-body').hide();
	});

	function historyShow() {
		$('#fa-angle-down').hide();
		$('#fa-angle-up').show();
		$('#history-body').show();
	}

	function historyHide() {
		$('#fa-angle-down').show();
		$('#fa-angle-up').hide();
		$('#history-body').hide();
	}

	$(document).ready(function() {
		$('#fa-angle-up1').hide();
		$('#sertifikatBG').hide();
	});

	function historyShow1() {
		$('#fa-angle-down1').hide();
		$('#fa-angle-up1').show();
		$('#sertifikatBG').show();
	}

	function historyHide1() {
		$('#fa-angle-down1').show();
		$('#fa-angle-up1').hide();
		$('#sertifikatBG').hide();
	}
</script>