<?php $anyvalue = $this->language->_('Any Value'); ?>


<script type="text/javascript">
$(document).ready(function(){
	$('div#sidebar-collapse').click(function(){
	  if ( $("#logo-title").is(":visible") ) {
	    $("#logo-title").hide();
	    $("#logo-titles").hide();
	  } else if ( $("#logo-title").is(":hidden") ) {
	    $("#logo-title").show();
	    $("#logo-titles").show();
	  }
	})

	$('#fixTable').fixTableHeader();
	$("#searchtable").keyup(function () {
    var value = this.value.toLowerCase().trim();

    $("#myTable tr").each(function (index) {
        if (!index) return;
        $(this).find("td").each(function () {
            var id = $(this).text().toLowerCase().trim();
            var not_found = (id.indexOf(value) == -1);
            $(this).closest('tr').toggle(!not_found);
            return not_found;
        });
    });
});

		$('#createdStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#createdEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#efdate').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });

});


function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
</script>



<script type="text/javascript">
function changeTransferType()
{
	// Remove all options
	document.filterForm.transferType.options.length = 0;

	// Repopulate the select menu with new options
	// new Option(text, value, defaultSelected, selected)
	value = $('#paymentType').val();
	if (value == '1' || value == '7,5'){
              
		document.filterForm.transferType.options[0] = new Option('-- <?php echo $anyvalue; ?> --', '');
		document.filterForm.transferType.options[1] = new Option('PB', '0');
	}
	else if (value == '2'){
              
		document.filterForm.transferType.options[0] = new Option('-- <?php echo $anyvalue; ?> --', '');
		document.filterForm.transferType.options[1] = new Option('SKN', '2');
		document.filterForm.transferType.options[2] = new Option('RTGS','1');
		document.filterForm.transferType.options[3] = new Option('ONLINE','8');
	}
	else if(value == '6,4'){
		document.filterForm.transferType.options[0] = new Option('-- <?php echo $anyvalue; ?> --', '');
		document.filterForm.transferType.options[1] = new Option('PB', '0');
		document.filterForm.transferType.options[2] = new Option('SKN', '2');
		document.filterForm.transferType.options[3] = new Option('RTGS','1');
	}
	else {	   
		document.filterForm.transferType.options[0] = new Option('-- <?php echo $anyvalue; ?> --', '');
	}

}

$(document).ready(function(){
	
	changeTransferType();
	if('<?= $this->transferType ?>' != '')
	{
		$('#transferType').val('<?= $this->transferType ?>');
	}

});
</script>

<div class="row hiddenprint">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('Reports'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>

				<li>
					<span class="inhouse"><?php echo $this->language->_('Periodic Report'); ?></span>
				</li>
			</ul>
		</div>
	</div>
</div>

<?php if($this->success){ ?>
<div class="successmsg"><?=$this->report_msg?></div>
<?php }else if($this->error){ ?>
<div class="errmsg"><?=html_entity_decode($this->report_msg)?></div>
<?php } ?>

<div class="content-box">
	<div class="row">
		<div class="portlet-body form col-md-12">
			<h5>Periodic Report</h5>
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','sortby' => $this->sortBy,'sortdir' => $this->sortDir),null,true)?>" method="get">

	<?php
	$optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
	foreach($this->filterlist as $row){
		$optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
	}

	?>
	<div class="row " id="logo-titles" style="margin-left: 0px">
			<?php
			if(!empty($this->wherecol)){
				?>
				<script type="text/javascript">
					$(document).ready(function(){
					$("#logo-title").show();
				});

				</script>
				<?php
			}
			//print_r($this->wherecol);die;
			foreach ($this->wherecol as $key => $value) {
				?>
					<div id="searchs" style="width: 100%">
                    <?php
                        $datetype = array("PS_CREATED", "PS_EFDATE", "PS_UPDATED");
                        $selectlist = array("PS_TYPE",'PS_CCY','PS_STATUS','SOURCE_ACCOUNT_CCY','SOURCE_ACCOUNT','BENEFICIARY_ACCOUNT','BENEFICIARY_ACCOUNT_CCY','TRA_AMOUNT','PS_TOTAL_AMOUNT');
                        $index = 0;



                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$ctr?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($value==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]' >

                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'>
                                    		<script type="text/javascript">
                                    			$(document).ready(function(){
                                    			var colval = "#colvalue-s<?=$key?>";
                                    			var colomnname = "<?=$value?>";
                                    			// var colselect= "<?=$value?>";
                                    			var colselect = "colselect-s<?=$key?>";
    											var ncolselect = "#colselect-s<?=$key?>";
                                    			if(colomnname == 'TRA_AMOUNT' || colomnname == 'PS_TOTAL_AMOUNT' || colomnname == 'EQUIVALENT_AMOUNT_IDR' || colomnname == 'EQUIVALENT_AMOUNT_USD' ){
											        $(colval).append("<input type='text' style='width:100%' name='whereval[]'  value='' maxlength='20' autocomplete='off' id='"+colselect+"' class='form-control' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
											        $(colselect).val('<?=$this->whereval[$index]?>');
											    }else if(colomnname == 'PS_STATUS'){

											            $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

											            var id = $("#tablename").find(":selected").val();
											            $.ajax({
											            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'wherecolumnpsstatus'),null,true)?>",
											            type: 'GET',
											            dataType: "html",
											            data: {
											                id: <?=$this->whereval[$index]?>
											            },
											            success: function(data) {
											                $(ncolselect).html(data);
											            },
											            error: function(xhr, ajaxOptions, thrownError)
											            {
											                alert("Failed to get where column list, please try again");
											            }
											        });

											            $(colselect).val('<?=$this->whereval[$index]?>');

											    }else if(colomnname == 'PS_TYPE'){

											            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

											            var id = $("#tablename").find(":selected").val();
											            $.ajax({
											            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'wherecolumnpstype'),null,true)?>",
											            type: 'GET',
											            dataType: "html",
											            data: {
											                id: <?=$this->whereval[$index]?>
											            },
											            success: function(data) {
											                $(ncolselect).html(data);
											            },
											            error: function(xhr, ajaxOptions, thrownError)
											            {
											                alert("Failed to get where column list, please try again");
											            }
											        });
											            // document.getElementById(colselect).value = '<?=$this->whereval[$index]?>';
											            $(colselect).val('<?=$this->whereval[$index]?>');

											    }else if(colomnname == 'SOURCE_ACCOUNT'){

											            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

											            var id = $("#tablename").find(":selected").val();
											            $.ajax({
											            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'wheresourceaccount'),null,true)?>",
											            type: 'GET',
											            dataType: "html",
											            data: {
											                id: <?=$this->whereval[$index]?>
											            },
											            success: function(data) {
											                $(ncolselect).html(data);
											            },
											            error: function(xhr, ajaxOptions, thrownError)
											            {
											                alert("Failed to get where column list, please try again");
											            }
											        });
											            $(colselect).val('<?=$this->whereval[$index]?>');

											    }else if(colomnname == 'PS_CCY' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY'){
											            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
											            var id = $("#tablename").find(":selected").val();
											            $.ajax({
											            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'ccy'),null,true)?>",
											            type: 'GET',
											            dataType: "html",
											            data: {
											                id: <?=$this->whereval[$index]?>
											            },
											            success: function(data) {
											                $(ncolselect).html(data);
											            },
											            error: function(xhr, ajaxOptions, thrownError)
											            {
											                alert("Failed to get where column list, please try again");
											            }
											        });
											            $(colselect).val('<?=$this->whereval[$index]?>');

											    }else if(colomnname == 'BENEFICIARY_ACCOUNT'){

											            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

											            var id = $("#tablename").find(":selected").val();
											            $.ajax({
											            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>$this->controllername,'action'=>'benef'),null,true)?>",
											            type: 'GET',
											            dataType: "html",
											            data: {
											                id: <?=$this->whereval[$index]?>
											            },
											            success: function(data) {
											                $(ncolselect).html(data);
											            },
											            error: function(xhr, ajaxOptions, thrownError)
											            {
											                alert("Failed to get where column list, please try again");
											            }
											        });
											            $(colselect).val('<?=$this->whereval[$index]?>');

											    }
											});

                                    		</script>
                                    	<?php
                                    		if($value == 'PS_CREATED'){
                                    			// var_dump($this->whereval);die;
                                    			?>
                                    			<input type='text' class='form-control' name='createdate[]' id='createdStart' readonly value="<?=$this->createdStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' value="<?=$this->createdEnd?>" readonly required>
                                    			<?php
	                                    		}else if($value == 'PS_EFDATE'){
												?>
												<input type='text' class='form-control' name='efdate[]' id='efdateStart' readonly value="<?=$this->paymentStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='efdate[]' id='efdateEnd' value="<?=$this->paymentEnd?>" readonly required>
												<?php

	                                    		}else if($value == 'PS_UPDATED'){
												?>
												<input type='text' class='form-control' name='updatedate[]' id='updatedStart' readonly value="<?=$this->updatedStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='updateEnd' value="<?=$this->updatedEnd?>" readonly required>
												<?php

	                                    		}else if(!in_array($value, $selectlist)){
	                                    		?>
		                                        <input class='form-control' type='text'  name='whereval[]' value='<?=$this->whereval[$index]?>'/>
		                                  		<?php }
		                                  		if (!in_array($value, $datetype)){
													// print_r($value);die;
													$index++;
												}
		                                  		 ?>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>

                </div>

				<?php
			}
			?>

	</div>


	<div class="row " id="logo-title" style="display: none">
	<div class="portlet-body form col-md-12">
 	 <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($val==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>

                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?=$ctr?>'>
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?=$this->whereval[$key]?>'/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    <?php //}}?>
                </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
               <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
                <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">


                <br/>


                    	<div class="portlet-body form" style="display: none">

                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
                                                            <div class="col-md-4">
                                                            <?php echo $this->formSelect('paymentType',$this->paymentType,array('id'=>'paymentType','class'=>'form-control','onclick'=>'changeTransferType()'), $this->optPayType); ?>
                                                            </div>
                                                            <label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
                                                            <div class="col-md-3">
                                                            <select name = "transferType" id = "transferType" class="form-control">
                                            					<option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
                                            				</select>
                                                            </div>
                                                 </div>

                                                 <div class="form-group row ">

                                                            <div class="col-md-12">
                                                            <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btn btn-success')); ?>&nbsp;
				                                            <input type="button" name="clearfilter" class="btn btn-success" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                                                            </div>
                                                 </div>


                               </div>
                               </div>
            <div class="col-md-4">
            </div>

	</div>
	<div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
	     <a href="#" class="sidebar-collapse-icon with-animation">
	         <?php echo $this->language->_('Advanced Search'); ?>
	     </a>
	 </div>
	<br/>
	  </form>
		</div>
	</div>
</div>


	<div align="right">
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
	<table>
		<tr style="height:30px">
			<td colspan="12" align="CENTER">
				<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
				<?php	echo $this->formSubmit('pdf','PDF is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
				<?php }else{ ?>
				<?php 	echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn')); ?>&nbsp;
				<?php } ?>
				
				<?php if(($this->paginator->getTotalItemCount()) > $this->applicationSetting['max_row_download_csv']) { ?>
				<?php echo $this->formSubmit('csv','CSV is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
				<?php }else{ ?>
				<?php echo $this->formSubmit('csv','CSV',array('class'=>'inputbtn')); ?>&nbsp;
				<?php } ?>
				
				<input type="hidden" name="clearfilter" value="<?=$this->clearfilter?>">
			</td>
		</tr>
	</table>
</form>
	</div>
	
	<div align="right">
		<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
	</div><br>
	
	<table width="100%" cellpadding="2" cellspacing="0" border="0" class="table table-sm table-striped">
	<tr class="headercolor">
		 <th width="3%" valign="top" class="tablehead">No</th>
			
			<?php 
				echo $this->partial('tableheader.phtml',array(
																'fields' => $this->fields,
																'sortBy' => $this->sortBy,
																'sortDir' => $this->sortDir,
																'query_string_params' => $this->query_string_params
															)
									);
			?>
		<th width="" valign="top" class="tablehead"><?php echo $this->language->_('Action');?></th>
	</tr>
		<?php
	
			
			if(count ($this->paginator) > 0)
			{
				$counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
				foreach($this->paginator as $row)
				{
					$d = 0;
					$td_css = ($d % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
					//Application_Helper_General::getCurrCode($row["ccy"]);
					
					$PS_NUMBERlink = '<a href="'.$this->url(array('module'=>'paymentreport','controller'=>'detail','action'=>'index','psnumber'=>$row['payReff']),null,true).'">'.$row["payReff"].'</a>';
					if($row["payType"] == 'SINGLE PAYMENT'){
					$payment_type = 'Domestic';
					}
					ELSE{
						$payment_type = $row["payType"];
					}
					/*if($row['traStatusF'] == '4'){
						$payStatus = 'Completed with 1 Failed Transaction(s)';
					}
					else{
						$payStatus = $row["payStatus"];
					}*/
					
					if($payment_type == 'Payment'){
						$acbenef = '-';
						$acbenef_name = '-';
					}
					elseif($payment_type == 'Purchase'){
						$acbenef = '-';
						$acbenef_name = '-';
					}	
					else{
						$acbenef = $row["acbenef"];
						$acbenef_name = $row["acbenef_name"];
					}
					
					
					
					if($row['periodicType'] == '5'){ //day
						$periodicDesc = 'Every Day Of';
						
						$as = array(
    								'1' => $this->language->_('Monday'), 
    								'2' => $this->language->_('Tuesday'), 
    								'3' => $this->language->_('Wednesday'), 
    								'4' => $this->language->_('Thursday'), 
    								'5' => $this->language->_('Friday'), 
    								'6' => $this->language->_('Saturday'), 
    								'0' => $this->language->_('Sunday'),);
						$periodicVal = $as [$row['periodicVal']];
						
					}elseif($row['periodicType'] == '6'){ //date
						$periodicDesc = 'Every Date Of';	
						$periodicVal = $row['periodicVal'];				
					}
					
					$button = $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'cancel','PS_NUMBER'=>$row['payReff'],'PS_PERIODIC'=>$row['PS_PERIODIC']),null,true);
					$buttonCancel =  '<input class = "inputbtn" type="button" onclick="javascript:confirmation(\''.$this->language->_('Are you sure want to cancel this record').'?\',\''.$button.'\');" value = '.$cancel.'>';
					
					if($row['PeriodicStatus'] == '0'){
						$perStatus = 'Canceled';
						$buttonCancel = "";
					}elseif($row['PeriodicStatus'] == '1'){
						$perStatus = 'Completed';
						$buttonCancel = "";
					}elseif($row['PeriodicStatus'] == '2'){
						$perStatus = 'In Progress';
						$buttonCancel = $buttonCancel;
					}
					
					
					echo '<tr>
						<td class="'.$td_css.'">'.$counter.'</td>';
						//<td class="'.$td_css.'">'.$PS_NUMBERlink.'</td>
						//<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row["created"],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
					echo '<td class="'.$td_css.'">'.$row["accsrc"].'</td>
						<td class="'.$td_css.'">'.$row["accsrc_name"].'</td>
						
							<td class="'.$td_css.'">'.$acbenef.'</td>
							<td class="'.$td_css.'">'.$acbenef_name.'</td>
						
						<td class="'.$td_css.'">'.$row["bankName"].'</td>
						<td class="'.$td_css.'">'.$row["ccy"].'</td>
						<td class="'.$td_css.'">'.Application_Helper_General::displayMoney($row["amount"]).'</td>
						<td class="'.$td_css.'">'.$this->language->_($periodicDesc).' '.$periodicVal.'</td>
						<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row["StartDate"],$this->viewDateFormat,$this->defaultDateFormat).'</td>
						<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row["EndDate"],$this->viewDateFormat,$this->defaultDateFormat).'</td>
						<td class="'.$td_css.'">'.$this->language->_($perStatus).'</td>
						<td class="'.$td_css.'">'.$buttonCancel.'</td>
						</tr>';
					$counter++;
					$d++;
				}
			}
			else
			{
			?>	<tr>
					<td class="tbl-evencontent" colspan="15" align="center">--- <?php echo $nodata?> ---</td>
				</tr> <?php
			}
			?>	
	</table>
	<div align="right">
		<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
	</div><br>
</form>