<div class="row">
  	<div class="col-md-12">
    	<div class="page-bar">
        	<ul class="page-breadcrumb">
                <li>
                    <span><?=$this->language->_('Language');?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <?=$this->language->_('Add Language');?>
                </li>
        	</ul>
    	</div>
  	</div>
</div>

<br>
<?php if($this->error){ ?>
    <div class="errmsg"><?=html_entity_decode($this->report_msg)?></div><br />
<?php } ?>

<h5><?=$this->language->_('Add Language');?></h5>
<form method="post" action="">
	<table cellpadding="3" cellspacing="0" border="0" class="tableform">
		<tr><th colspan="3" class="tdform-sub"><strong>Form</strong></th></tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('ui',$this->language->_('Interface'));?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?=$this->formSelect('ui',$this->ui,array('class'=>'form-control'),$this->arrUi);?></td>	
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('oriPhrase',$this->language->_('Original Phrase'));?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?=$this->formText('oriPhrase',$this->oriPhrase,array('class'=>'form-control'));?></td>	
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('traPhrase',$this->language->_('Translate Phrase'));?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?=$this->formText('traPhrase',$this->traPhrase,array('class'=>'form-control'));?></td>	
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('lang',$this->language->_('Language'));?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?=$this->formSelect('lang',$this->lang,array('class'=>'form-control'),$this->arrLang);?></td>	
		</tr>
	</table>
	<br/>
	<?php
	echo $this->formButton('back',$this->language->_('Back'),array('class'=>'btnwhite hov','onclick'=>'javascript:window.location.href="/language/index";'));
	echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov'));
	?>
</form>