<?php if($this->error){ ?>
	<div class="errmsg">
	<?php
		echo $this->language->_('Error').": ".$this->language->_('Wrong File Format. There is no data on csv File')."";
	?>
	</div><br />
	<?php 
	}
?>
<?php if($this->error2){ ?>
	<div class="errmsg">
	<?php
		echo $this->language->_('Error').": ".$this->language->_('the number of rows to be imported should not more than').$this->max;
	?>
	</div><br />
	<?php 
	}
?>
<?php if($this->error3){ ?>
	<div class="errmsg">
	<?php
		echo $this->language->_('Error')." : ".$this->language->_('File cannot left blank. Please correct it')."";
	?>
	</div><br />
	<?php 
	}
?>
<?php if($this->error4){ ?>
	<div class="errmsg">
	<?php
		echo $this->language->_('Error')." : ".$this->language->_('BIN cannot left blank. Please correct it')."";
	?>
	</div><br />
	<?php 
	}
?>
<b>
<ol class="breadcrumb" >
  <li><a href="#" style="font-size: 11px;"><?php echo $this->language->_('Virtual Payment'); ?></a></li>
  <li><?php echo $this->language->_('Import File'); ?></li>
</ol>
</b>
<div class="portlet-body form">
<form name="Form" class="form-horizontal form-bordered form-row-stripped" enctype="multipart/form-data" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true);?>">
										<div class="portlet-body form">
					                      <!-- Default panel contents -->
					                      <div class="panel-heading" style="
					                    	    color: #fff;
					                    	    background-color: #337ab7;
					                    	    border-color: #337ab7;
					                    	    border: 1;
					                    	">
										<strong><?php echo $this->language->_('Format'); ?> :&nbsp;
											<span style="font-size:11px;font-style:normal;">
											<?php if($this->VA_OPEN_CLOSE == 2){?>	
												<a href="/template/open_payment_template.csv" style="color:#F4C301;"><u><?php echo $this->language->_('open payment template'); ?></u></a>
												 | 	
												<a href="/template/close_payment_template.csv" style="color:#F4C301;"><u><?php echo $this->language->_('close payment template'); ?></u></a>
											<?php }
											else{
												?>
												<a href="/template/close_payment_template.csv" style="color:#F4C301;"><u><?php echo $this->language->_('close payment template'); ?></u></a>
												<?php 	
											}
											?>	
											</span>
										</strong>
										</div>
										<div class="portlet-body form">
										<div class="form-group row">
                                        <div id="notesPage">
										<?php if($this->VA_OPEN_CLOSE == 2){?>	
											<strong><?php echo $this->language->_('Virtual Payment Open Payment')?></strong> 
											<?php $this->language->_('file'); ?>
											<br>
											"VA_NUMBER","INVOICE_NAME","INVOICE_DESC"
											<br>
											"111000222333","Uang Sekolah","Anang Udin"
											<br>
											"111000222334","Uang Sekolah","Amir Udin"
											<br>
											--------------------------------------------------------------------------------------
											<br>
											
											<strong><?php echo $this->language->_('Virtual Payment Close Payment')?></strong> 
											<?php $this->language->_('file'); ?>
											<br>
											"INVOICE_NAME","INVOICE_DESC","AMOUNT","REMINDER_SMS","REMINDER_EMAIL"
											<br>
											"Uang SPP","Andi","1000000","081234567890","andi@gmail.com"
											<br>
											"Uang SPP","Tono","1000000","081122334455","tono@gmail.com"
										<?php }
										else{
											?>
												<strong><?php echo $this->language->_('Virtual Payment Close Payment')?></strong> 
												<?php $this->language->_('file'); ?>
												<br>
												"INVOICE_NAME","INVOICE_DESC","AMOUNT","REMINDER_SMS","REMINDER_EMAIL"
												<br>
												"Uang SPP","Andi","1000000","081234567890","andi@gmail.com"
												<br>
												"Uang SPP","Tono","1000000","081122334455","tono@gmail.com"
											<?php 
										}
										?>
										</div>
										</div>
										</div>
										</div>
										<br/>
										<div class="portlet-body form">
					                      <!-- Default panel contents -->
					                      <div class="panel-heading" style="
					                    	    color: #fff;
					                    	    background-color: #337ab7;
					                    	    border-color: #337ab7;
					                    	    border: 1;
					                    	">
										<strong><?php echo $this->language->_('Notes');?>:</strong></div>
										<div class="portlet-body form">
                                            <div class="form-group row">
                                                <div id="notesPage">
											<?php echo $this->language->_('Import will generate list from file'); ?>.
											<br>
											<?php echo $this->language->_('Please note that the first row in uploaded file will be ignored'); ?> 
											(<?php echo $this->language->_('file contents will be proccessed starting on second row'); ?>).<br>
											<?php echo $this->language->_('Please check on the payment screen for the correctness, then click Submit for approval'); ?>
											</div>
										</div>
									</div>
									</div>
									<br/>
							<table class="form-horizontal form-bordered form-row-stripped" border="0" cellpadding="4" cellspacing="4" width="100%" align="center">	<tbody>
								<tr>
									<td valign="top"><img src="/images/img_one.gif" height="47" width="49"></td>
									<td style="height: 47px; vertical-align: middle;" nowrap="nowrap">
									<fieldset>
										<legend><b><span class="texthistory"><?php echo $this->language->_('Setup'); ?></span></b></legend>
										<div class="portlet-body form">
										<div class="portlet-body form">
											<div class="form-group row">
                                                <label class="control-label col-md-3"><?php echo $this->language->_('Start Date'); ?></label>
                                                <div class="col-md-9">
                                                		<div class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+1d">
		                                                        <input name="ps_startdate" id="ps_startdate" value="<?php echo $this->ps_startdate ?>" type="text" class="form-control" readonly>
		                                                        <span class="input-group-btn">
		                                                            <button class="btn default" type="button" style="height: 34px">
		                                                                <i class="fa fa-calendar"></i>
		                                                            </button>
		                                                        </span>
		                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3"><?php echo $this->language->_('Repetition'); ?></label>
                                                <div class="col-md-9">
                                                		<select name = "repetition" id = "repetition" class="form-control">
                                        					<option value=""> --<?php echo $this->language->_(' Any Value '); ?>-- </option>

                                        					<option value="0"><?php echo $this->language->_('None'); ?></option>
                                        					<option value="1"><?php echo $this->language->_('Daily'); ?></option>
                                        					<option value="2"><?php echo $this->language->_('Weekly'); ?></option>
                                        					<option value="3"><?php echo $this->language->_('Monthly'); ?></option>
                                        					<option value="4"><?php echo $this->language->_('Yearly'); ?></option>
                                        					</select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3"><?php echo $this->language->_('Repetition Until'); ?></label>
                                                <div class="col-md-9">
                                                	<input type="text" onclick="showPopUpWindow('<?=$this->url(array('module'=>'popup','controller'=>'repeatpopup','action'=>'index'),null,true)?>', 750)" name="repetition_until" value="<?php echo $this->repetition_until ?>" class="form-control">
                                                	<?php echo $this->formHidden('repettype',$this->repettype,array('class'=>'form-control'))?>	
                                                	<?php echo $this->formHidden('repetdate',$this->repetdate,array('class'=>'form-control'))?>	
                                                	<?php echo $this->formHidden('repettimes',$this->repettimes,array('class'=>'form-control'))?>	
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3"><?php echo $this->language->_('Virtual Account After Payment'); ?></label>
                                                <div class="col-md-9">
                                                	<?php if(empty($this->vatype)){
                                                		$this->vatype = '1';
                                                	}
                                                	?>
                                                		<?php echo $this->formRadio('vatype',$this->vatype,array('class'=>'benefType'),array(1=>'keep open',2=>'close'))?>
                                                </div>
                                            </div>
                                        </div>
                                   		</div>
									</fieldset>
									<br/>
									<br/>
									</td>
								</tr>
								<tr>
									<td valign="top"><img src="/images/img_two.gif" height="47" width="49"></td>
									<td style="height: 47px; vertical-align: middle;" nowrap="nowrap">
									<fieldset>
										<legend><b><span class="texthistory"><?php echo $this->language->_('Select BIN'); ?></span></b></legend>
										<div class="portlet-body form">
										<div class="portlet-body form">
											<div class="form-group row">
                                                <label class="control-label col-md-3"><?php echo $this->language->_('BIN'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                <div class="col-md-9">
                                                		<select name="cust_bin" id="cust_bin" class="form-control">
															<option value="">-- <?php echo $this->language->_('Please Select');?> --</option>
														<?php
															foreach ($this->binArr as $value) {
																$cust_bin = $value['CUST_BIN']
																?>
																	<option value="<?=$cust_bin?>"<?=($value['CUST_BIN']==$this->cust_bin) ? 'selected' : '';?>><?=($value['CUST_BIN'])?></option>
																<?php
															}
														?>
														</select>
                                                </div>
                                            </div>
                                        </div>
                                   		</div>
									</fieldset>
									<br/>
									<br/>
									</td>
								</tr>
								<tr>
									<td valign="top"><img src="/images/img_three.gif" height="47" width="49"></td>
									<td style="height: 47px; vertical-align: middle;" nowrap="nowrap" align="center">
										<fieldset>
											<legend>
												<span class="texthistory"><b><?php echo $this->language->_('File Detail'); ?></b></span>
											</legend>
											<div class="portlet-body form">
		                    				<div class="portlet-body form">
		                    					 <div class="form-group row ">
                                                    <label class="control-label col-md-3"><?php echo $this->language->_('File to Upload'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                    <div class="col-md-9">
                                                    <img src="/images/img_excel.gif" height="47" width="49"><br/><br/>
													<input name="CSV_FILE" size="30" class="form-control" onkeypress="return noSpecialChar(event);" type="file">
													<br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </td>
								</tr>
							<tr><td colspan="2">&nbsp;</td></tr>
							<tr>
								<td>&nbsp;</td>
								<td class="button-area" id="button-area" colspan="2">
									<div class="formbutton">
										<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'home','controller'=>'index','action'=>'index'),null,true);?>'" class="btn btn-warning" value="<?php echo $this->language->_('Cancel')?>" />&nbsp;&nbsp;
										<input type="submit" class="btn btn-warning" id="Submit_id" name="submit" value="<?php echo $this->language->_('Submit')?>" />
									</div>
								</td>
							</tr>
						</tbody>
					</table>
</form>
</div>
