
<script type="text/javascript">

   $(document).ready(function()
   {
		//AKAN DILOAD PERTAMA KALI
		reset_all(); 

		//pengaturan error messages
		<?php 
			 if(!is_null($this->user_msg) || $this->user_msg != '') 
			 {
				 foreach($this->user_msg as $key => $error)
				 {
			?>
				    $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
		 <?php    
				 }  
			 } 
		    ?>

  });

  

  function reset_all() 
  {
	    //utk reset semua privilege
	    $('[Type=checkbox]').removeAttr('checked');

	     <?php 
	           foreach($this->priviView as $privi)
	    	   {
	      ?>
	    		  $('#<?php echo $privi; ?>').prop('checked',true);
	     <?php
	           }
	       ?>

	     $('#user_id').val('<?php echo $this->user_id; ?>');  
	     $('#user_email').val('<?php echo $this->user_email; ?>');
	     $('#user_fullname').val('<?php echo $this->user_fullname; ?>');
	     $('#user_phone').val('<?php echo $this->user_phone; ?>');
	     $('#user_ext').val('<?php echo $this->user_ext; ?>');
	     $('#token_id').val('<?php echo $this->token_id; ?>');

		 $('#user_isemail_<?php echo $this->user_isemail; ?>').prop('checked',true);
  }

 
  

</script>


<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span>Stock Market</span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span>Stock List</span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="inhouse"><?=$this->language->_('Edit Stock List')?></span>
                  </li>
                  
              </ul>
          </div>
        </div>
    </div>

<br />



<br />
<?php if($this->success){ ?>
<div class="successmsg"><?=$this->user_msg?></div><br />
<?php } ?>

<?php if(count($this->user_msg) > 0){ ?>
<div class="errmsg">Error in processing form values. Please correct values and re-submit.</div><br />
<?php } ?>

<div class="portlet-body form">
<form method="post" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index'),null,true)?>">
  
  <div class="row">
	<div class="portlet-body form content-box">
                      
                      <h5><?=$this->language->_('Edit Stock')?></h5>
                      <hr/>
                    	<div class="portlet-body form">
                    	                         
                                                 
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Stock Code')?>&nbsp;<span class="errmsg">*</span></label>
                                                            <div class="col-md-9">
                                                            <?php echo $this->formText('stock_code',$this->stock_code,array('maxlength'=>50,'size'=>50,'class'=>'form-control','readonly'=>'readonly')); ?>
	                                                       <div id="error_stock_code" class="errmsg"></div>
                                                            </div>
                                                 </div>
                                                 
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Stock Name')?>&nbsp;<span class="errmsg">*</span></label>
                                                            <div class="col-md-9">
                                                            <?php echo $this->formText('stock_name',$this->stock_name,array('maxlength'=>50,'size'=>50,'class'=>'form-control')); ?>
	                                                       <div id="error_stock_name" class="errmsg"></div>
                                                            </div>
                                                 </div>
                                                 
                                                     
                               </div>
                               </div>                   
	</div>
  <div class="form-group row">
	  	 <div><?php
	    $backButton =  $this->url(array('module'=>'userdailylimit','controller'=>'index','action'=>'index'),null,true);
	    echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\''.$backButton.'\'','class'=>'btn btn-warning'));
	    echo '&nbsp;&nbsp;';
	    
	    echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btn btn-warning'));
	    
	    echo '&nbsp;&nbsp;';
	    //echo $this->formButton('reset',$this->language->_('Reset'),array('class'=>'btn btn-warning','onclick'=>'resetData()'));
	  
	    // echo $this->formHidden('cust_id',$this->cust_id);
	  ?>
	  
	  </div>
  </div>


 <br>

 
</form>
</div>

