
<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="valas"><?= $this->language->_('Tracking Report') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="valas"><?= $this->language->_('Paper Inventory Report') ?></span>
				</li>

			</ul>
		</div>
	</div>
</div>

<div class="row content-box">
	<div class= "portlet-body form col-md-12">
		<h5><?=$this->language->_('Paper Inventory Report List')?></h5>

<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">


<?php 
  $optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
  foreach($this->filterlist as $row){
    $optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
  }

  ?>
  <div class="row " id="logo-titles" style="margin-left: 0px">
      <?php
      if(!empty($this->wherecol)){
      ?>
        <script type="text/javascript">
          $(document).ready(function(){
            var ctrfilter = <?= count($this->wherecol); ?>;
            $("#logo-title").show();
            $("#where-").hide();
            $("#wherectr").val(ctrfilter) 
        });

        </script>
        <?php
      }
      // print_r($this->whereval);die;
      foreach ($this->wherecol as $key => $value) {
        ?>
          <div id="searchs" style="width: 100%">
                    <?php 
                        $datetype = array('PAPER_UPDATED');
                        $selectlist = array('PAPER_NUMBER', 'STATUS', 'BANK_BRANCH','PAPER_UPDATEDBY');
                        $index = 0;
            


                    ?>
                            <div id="where-<?=$key?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$key?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($value==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$key?>' name='whereopt[]' >
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'> 
                                        <script type="text/javascript">
                                          $(document).ready(function(){
                                          var colval = "#colvalue-s<?=$key?>";
                                          var colomnname = "<?=$value?>";
                                          // var colselect= "<?=$value?>";
                                          var colselect = "colselect-s<?=$key?>";
										  var ncolselect = "#colselect-s<?=$key?>";
											if(colomnname == 'BANK_BRANCH'){
										  // alert(<?=$index?>);
											  $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

											  var id = $("#tablename").find(":selected").val();
											  $.ajax({
											  url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'bbranch'),null,true)?>",
											  type: 'GET',
											  dataType: "html",
											  data: {
												  id: '<?=$this->whereval[$key]?>'
											  },
											  success: function(data) {
												  $(ncolselect).html(data);
											  },
											  error: function(xhr, ajaxOptions, thrownError)
											  {
												  alert("Failed to get where column list, please try again");
											  }
										  });

											  $(colselect).val('<?=$this->whereval[$index]?>');

										  }
									  });



                                        </script>
                                      <?php


                                          // print_r($selectlist);
                                          if($value == 'PAPER_UPDATED'){
                                          // var_dump($this->whereval);die;
                                          ?>
                                          <input type='text' class='form-control' name='paperdate[]' id='paperStart' readonly value="<?=$this->fDateFrom?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='paperdate[]' id='paperEnd' value="<?=$this->fDateTo?>" readonly required>    
                                          <?php
                                          }else if(in_array($value, $selectlist)){
                                          ?>
                                            <input class='form-control' type='text'  name='whereval[]' value='<?=$this->whereval[$key]?>' style="width:100%"/>
                                          <?php }
                                          if (!in_array($value, $datetype)){
                          // print_r($value);die;
                          $index++;
                        }
                                           ?>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    
                </div>

        <?php
      }
      ?>

  </div>


  <div class="row " id="logo-title" style="display: none">
  <div class="portlet-body form col-md-12">
   <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($val==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?=$ctr?>'> 
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value=''/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    <?php //}}?>
                </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
                <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btngreen hov" id="addwhere"><?php echo $this->language->_('Add Filter'); ?></button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
                &nbsp;
        <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                

                <br/>

                                             
                      <div class="portlet-body form" style="display: none">
                                             
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
                                                            <div class="col-md-4">
                                                            <?php echo $this->formSelect('paymentType',$this->paymentType,array('id'=>'paymentType','class'=>'form-control','onclick'=>'changeTransferType()'), $this->optPayType); ?>
                                                            </div>
                                                            <label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
                                                            <div class="col-md-3">
                                                            <select name = "transferType" id = "transferType" class="form-control">
                                                      <option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
                                                    </select>
                                                            </div>
                                                 </div>
                                                
                                                 <div class="form-group row ">
                                                            
                                                            <div class="col-md-12">
                                                            <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btn btn-success')); ?>&nbsp;
                                                    <input type="button" name="clearfilter" class="btn btn-success" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                                                            </div>
                                                 </div>
                                                 
                                                 
                               </div>
                               </div>
            <div class="col-md-4">
            </div>
                               
  </div>
  <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
       <a href="#" class="sidebar-collapse-icon with-animation">
           <?php echo $this->language->_('Advanced Search'); ?>               
       </a>
   </div>
</form>
</div>
</div>
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
			<div style="float:left">

			</div>
			<div style="float:right; padding-left:5px;">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
					</div>
					<input type="text" class="search form-control" id="searchtable" placeholder="Search">
				</div>
			</div>
			<div style="float:right; padding-left:5px;">
				<!--<button class="btngrad hov" style="font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important; width: 100px !important;width: 100px !important;background-image:url(/images/print-light.png);background-repeat: no-repeat;background-position: 10px 3px;float:right;">Print</button>-->
			</div>
			<div style="float:right; padding-left:5px;">
				<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa hov">
			</div>
		</div>
	</div>

</div>
</form>
<?php if ($this->success) { ?>
	<div class="successmsg"><?= $this->report_msg ?></div><br />
<?php } else if ($this->error) { ?>
	<div class="errmsg"><?= $this->report_msg ?></div><br />
<?php } ?>

<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable" style="overscroll-behavior: contain;">
	<table class="table table-sm table-striped headerNew" id="myTable">
		<tr height="50px">
			<th class="tablehead" width="3%" valign="top">No</th>
			<?php echo $this->partial(
				'tableheader.phtml',
				array(
					'fields' => $this->fields,
					'sortBy' => $this->sortBy,
					'sortDir' => $this->sortDir,
					'query_string_params' => $this->query_string_params
				)
			) ?>

		</tr>
		<?php
		$counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;
        
		if (count($this->paginator) > 0) {
			$i = 0;

			foreach ($this->paginator as $row) {
				if($row["STATUS"] === "Available"){	
					$url = $row['PAPER_NUMBER'];
				}else{
					$url = '<a href="/paper/inventoryreport/detail/paper-number/' . $row['PAPER_NUMBER'] . '">' . $row['PAPER_NUMBER'] . '</a>';
				}
				
				
				echo '<tr>
							<td class="' . $td_css . '" >' . $counter . '</td>
							<td class="' . $td_css . '">'.$url.'</td>
                            <td class="' . $td_css . '" >' . $row["STATUS"] . '</td>
                            <td class="' . $td_css . '" >' . $row["DESCRIPTION"] . '</td>
                            <td class="' . $td_css . '" >' . $row["BANK_BRANCH"] . '</td>
                            <td class="' . $td_css . '" >' . $row["LAST_UPDATED"] . '</td>
						</tr>';

				$i++;
				$counter++;
			}
		} else {
			echo "<tr><td colspan=10 class='tbl-evencontent' align='center'> ---" . $this->language->_('No Data') . " --- </td></tr>";
		}
		?>
	</table>
</div>
<br>
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
</br>
<script type="text/javascript">
	$(document).ready(function() {

		$("#addwhere").click(function() {
			var ctr = $("#wherectr").val();
			var optstr = '<?php echo $optArr; ?>';
			var wherecol = "#wherecol-" + ctr;
			$("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" + ctr + "' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
			ctr++;
			$("#wherectr").val(ctr);
		});
		
		$('#fixTable').fixTableHeader();


		$("#searchtable").keyup(function() {
			var value = this.value.toLowerCase().trim();

			$("#myTable tr").each(function(index) {
				if (!index) return;
				$(this).find("td").each(function() {
					var id = $(this).text().toLowerCase().trim();
					var not_found = (id.indexOf(value) == -1);
					$(this).closest('tr').toggle(!not_found);
					return not_found;
				});
			});
		});

		$('div#sidebar-collapse').click(function() {
			if ($("#logo-title").is(":visible")) {
				$("#logo-title").hide();
				$("#logo-titles").hide();
			} else if ($("#logo-title").is(":hidden")) {
				$("#logo-title").show();
				$("#logo-titles").show();
			}
		});
		
	});

	function removeParent(elem) {
		var parentname = elem.parentNode.parentNode.parentNode.id;
		$("#" + parentname).remove();
	}

	function getOpt(elem) {
		var id = elem.id;
		var temp = id.split('-');
		var ctr = temp[1];

		var selval = elem.value;
		var tempval = selval.split('-');
		dttype = tempval[1];

		colomnname = tempval[0];
		var colval = "#colvalue-" + ctr;
		var colselect = "colselect-" + ctr;
		var ncolselect = "#colselect-" + ctr;
		var $coll = $('.event_select');

		if (elem.value == "STATUS") {
			let get_col_val = document.querySelector(colval);
			get_col_val.innerHTML = "<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>";
			let option_status = '<option value="available" selected="">Available</option><option value="printed">Printed</option><option value="damaged">Damaged</option>'
			document.querySelector(ncolselect).innerHTML = option_status;
		} else if (elem.value == "BANK_BRANCH") {
			let get_col_val = document.querySelector(colval);
			get_col_val.innerHTML = "<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>";
			let option_status = '<?php
									foreach ($this->all_branch as $value) {
										echo '<option value="' . $value["BRANCH_NAME"] . '">' . $value["BRANCH_NAME"] . '</option>';
									}
									?>';
			document.querySelector(ncolselect).innerHTML = option_status;
		} else if(elem.value == 'PAPER_UPDATED'  ){
			
			let option_status = "<input type='text' class='form-control'  name='paperdate[]' id='paperStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='paperdate[]' id='paperEnd' readonly required>";
			document.querySelector(colval).innerHTML = option_status;
			
			$('#paperStart').datepicker({
														format: 'dd/mm/yyyy',
														uiLibrary: 'bootstrap4'
													});
													$('#paperEnd').datepicker({
														format: 'dd/mm/yyyy',
														uiLibrary: 'bootstrap4'
													});
			
                                            
		} else if (elem.value == "" || elem.value == "PAPER_NUMBER" || elem.value == "PAPER_UPDATEDBY") {
			let option_status = "<input class='form-control' type='text' style='width:100%' name='whereval[]'/>";
			document.querySelector(colval).innerHTML = option_status;
		}
	}
</script>