<div class="tabheader textBlack" id="tabheader"><?php echo $this->language->_('Suggestion Detail'); ?> - <?php echo $this->language->_('Manage Approver Group'); ?></div><br />
<?php if ($this->changes_id) {
  echo $this->action(
    'message',
    'tools',
    'changemanagement',
    array('changes_id' => $this->changes_id)
  );
?>
  <br />
  <table cellpadding="3" cellspacing="0" border="0" class="tableform" width="100%">
    <tr>
      <th colspan="3" class="tdform-sub textBlack"><?php echo $this->language->_('Detail of Approver Group Member Change Request for'); ?> <?= $this->cust_name ?></th>
    </tr>
  </table><br />
  <?php if ($this->cek == 0) { ?>
    <table cellpadding="5" border="0" width="100%">
      <tr>
        <td class="tbl-evencontent">
          <div align="center"><?php echo $this->language->_('There is no Changes to be approved'); ?></div>
        </td>
      </tr>
    </table>
  <?php } else if ($this->cek == 1) { ?>
    <table cellpadding="5" border="0" width="100%">
      <tr>
        <td valign="top">
          <strong class="textBlack"><?php echo $this->language->_('Suggested Value'); ?></strong><label style="float:right"><button id="btnDiffOnly" type="button" class="btngreen hov"><?php echo $this->language->_('Show Difference Only'); ?></button></label>
          <br /><br />
          <table cellpadding="3" cellspacing="0" border="1" class="table table-sm table-striped table-sugg" width="100%">
            <tbody>
              <tr class="diffRow">
                <th colspan="5" class="card-header cardhead" style="color: #FFFFFF"><?php echo $this->language->_('Approver Group'); ?></th>
              </tr>
              <?php
              // echo "<pre>";
              // print_r($this->databaru);
              // print_r($this->datalama);
              foreach ($this->databaru as $key => $value) {

                $difstyleSuggest = "";
                $diffRow = "";
                if ($this->databaru[$key] != $this->datalama[$key]){
                  $difstyleSuggest = "background-color:#fffe5c";
                  $diffRow = "diffRow";
                }    
                
                $group = explode('_', $this->databarugroup[$key]);
                $alphabet = array(1 => 'A', 2 => 'B', 3 => 'C', 4 => 'D', 5 => 'E', 6 => 'F', 7 => 'G', 8 => 'H', 9 => 'I', 10 => 'J', 11 => 'K', 12 => 'L', 13 => 'M', 14 => 'N', 15 => 'O', 16 => 'P', 17 => 'Q', 18 => 'R', 19 => 'S', 20 => 'T', 21 => 'U', 22 => 'V', 23 => 'W', 24 => 'X', 25 => 'Y', 26 => 'Z');

              ?>
                <tr class="<?= $diffRow ?>">
                  <td class="tablehead">
                    <?php
                    if ($group[2] == '') {
                      echo 'SG - ' . $key;
                    } else {
                      echo $alphabet[(int) $group[2]] . ' - ' . $key;
                    }

                    ?>
                  </td>
                </tr>
                <tr class="<?= $diffRow ?>">
                  <td class="textBlack" style="<?= $difstyleSuggest?>">
                    <div class="row" style="padding-left: 20px;padding-right: 20px">
                      <!-- <div class="col-12"> -->
                      <?php
                      // $groupIndex = 'N_'.$this->cust_id.'_01';  
                      if (isset($value)) {
                        // $printUser = '<ul>';
                        foreach ($value as $user) {
                      ?>

                          <div class="col-md-1" style="min-width:180px;max-width:180px;text-align: center;border: solid 1px #007934;
border-radius: 0.625rem; background-color:#e3e3e3">
                            <?php echo $user; ?>
                          </div>

                      <?php
                        }
                        // $printUser .= '</ul>';
                        // echo $printUser;
                      } else
                        echo '<p>' . $this->language->_('No Member') . '</p>';
                      ?>
                      <!-- </div> -->
                    </div>


                  </td>
                </tr>
              <?php

              }
              ?>

            </tbody>
          </table>

          <br />
          <?php
          // print_r($this->suglistccy);die;
          if (!empty($this->suglistccy)) {

            foreach ($this->suglistccy as $key => $value) {

          ?>

              <script type="text/javascript">
                function snewtab<?php echo $key; ?>_hide() {
                  // $('#newtab3').show();
                  //$('#buttonAppGroup').val('Hide');
                  // $('#buttonnewtab2').attr('Onclick','newtab2_hide()');
                  $('#stabtable<?php echo $key; ?>').hide();
                  $('#sbuttonnewtab<?php echo $key; ?>').show();
                  $('#sbuttonnewtab<?php echo $key; ?>s').hide();
                }

                function snewtab<?php echo $key; ?>_show() {
                  // $('#newtab3').show();
                  //$('#buttonAppGroup').val('Hide');
                  // $('#buttonnewtab2').attr('Onclick','newtab2_hide()');
                  $('#stabtable<?php echo $key; ?>').show();
                  $('#sbuttonnewtab<?php echo $key; ?>').hide();
                  $('#sbuttonnewtab<?php echo $key; ?>s').show();
                }
              </script>
              <table width="100%" border='0' class="table table-sm table-striped">
                <tr class="textBlack">
                  <td> <strong id="newtab2title" style="font-size: 15pt;"><?php echo $this->paymenttype[$value['TRANSFER_TYPE']] . '-' . $value['CCY_BOUNDARY'] ?></strong></td>
                  <td align="right" style="padding-top: 10px;">
                    <i style="font-size: 23px; cursor: pointer;" class="fas fa-angle-down" onclick="snewtab<?php echo $key; ?>_show()" id="sbuttonnewtab<?php echo $key; ?>"></i>
                    <i style="font-size: 23px; cursor: pointer;" class="fas fa-angle-up" onclick="snewtab<?php echo $key; ?>_hide()" id="sbuttonnewtab<?php echo $key; ?>c"></i>

                  </td>
                </tr>
              </table>



              <table class="table table-sm table-striped" id="stabtable<?php echo $key; ?>" style="display: none">
                <tr>
                  <th rowspan="2" class="tablehead">
                    <div align="center"><?php echo $this->language->_('Currency'); ?></div>
                  </th>
                  <th colspan="2" class="tablehead">
                    <div align="center"><?php echo $this->language->_('Boundary'); ?></div>
                  </th>
                  <th rowspan="2" class="tablehead">
                    <div align="center"><?php echo $this->language->_('Policy'); ?></div>
                  </th>
                </tr>
                <tr class="tablehead">
                  <th>
                    <div align="center"><?php echo $this->language->_('Lower Boundary'); ?></div>
                  </th>
                  <th>
                    <div align="center"><?php echo $this->language->_('Upper Boundary'); ?></div>
                  </th>
                </tr>
                <?php
                if (!empty($this->suglist)) {
                  $i = 1;
                  foreach ($this->suglist as $curlist) {
                    $td_css = ($i % 2 == 0) ? 'tbl-evencontent textBlack' : 'tbl-oddcontent textBlack';
                    $specialid = 'sug' . 'special' . $i;
                    // print_r($value);
                    // print_r($curlist);
                    $difstyleSuggestCcy = "";
                    $diffRow = "";
                    if ($this->newSuggest[$curlist['TRANSFER_TYPE']] != $this->oldSuggest[$curlist['TRANSFER_TYPE']]){
                      $difstyleSuggestCcy = "background-color:#fffe5c";
                      $diffRow = "diffRow";
                    } 

                    if ($curlist['CCY_BOUNDARY'] == $value['CCY_BOUNDARY'] && $curlist['TRANSFER_TYPE'] == $value['TRANSFER_TYPE']) {
                ?>
                      <tr style="<?= $difstyleSuggestCcy?>">
                        <td class="<?php echo $td_css; ?>"><?php echo $curlist['CCY_BOUNDARY']; ?></td>
                        <td class="<?php echo $td_css; ?>"><?php echo Application_Helper_General::displayMoney($curlist['BOUNDARY_MIN']); ?></td>
                        <td class="<?php echo $td_css; ?>"><?php echo Application_Helper_General::displayMoney($curlist['BOUNDARY_MAX']); ?></td>
                        <td class="<?php echo $td_css; ?>"><?php echo $curlist['POLICY']; ?></td>
                      </tr>
                <?php
                    }
                  }
                }
                ?>
              </table>



            <?
            }
            ?>


          <?php
          }

          ?>


        </td>
      </tr>
      <tr>
        <td valign="top">
          <strong class="textBlack"><?php echo $this->language->_('Current Value'); ?></strong><br /><br />
          <table cellpadding="3" cellspacing="0" border="1" class="table table-sm table-striped table-sugg" width="100%">
            <tbody>
              <tr class="diffRow">
                <th colspan="5" class="card-header cardhead" style="color: #FFFFFF"><?php echo $this->language->_('Approver Group'); ?></th>
              </tr>


              <?php
              if (!empty($this->datalama)) {

                foreach ($this->datalama as $key => $value) {
                  // print_r($value);

                  $difstyleCurrent = "";
                  $diffRow = "";
                  if ($this->datalama[$key] != $this->databaru[$key]){
                    $difstyleCurrent = "background-color:#fffe5c";
                    $diffRow = "diffRow";
                  }

                  $group = explode('_', $this->datalamagroup[$key]);
                  $alphabet = array(1 => 'A', 2 => 'B', 3 => 'C', 4 => 'D', 5 => 'E', 6 => 'F', 7 => 'G', 8 => 'H', 9 => 'I', 10 => 'J', 11 => 'K', 12 => 'L', 13 => 'M', 14 => 'N', 15 => 'O', 16 => 'P', 17 => 'Q', 18 => 'R', 19 => 'S', 20 => 'T', 21 => 'U', 22 => 'V', 23 => 'W', 24 => 'X', 25 => 'Y', 26 => 'Z');

              ?>
                  <tr class="<?= $diffRow ?>">
                    <td class="tablehead">
                      <?php
                      if ($group[2] == '') {
                        echo 'SG - ' . $key;
                      } else {
                        echo $alphabet[(int) $group[2]] . ' - ' . $key;
                      }

                      ?>
                    </td>
                  </tr>
                  <tr class="<?= $diffRow ?>">
                    <td class="textBlack" style=""> <!--<?= $difstyleCurrent?>--> 
                      <div class="row" style="padding-left: 20px;padding-right: 20px">
                        <?php
                        if (isset($value)) {
                          // $printUser = '<ul>';
                          foreach ($value as $user) {
                        ?>

                            <div class="col-md-1" style="min-width:180px;max-width:180px;text-align: center;border: solid 1px #007934;
border-radius: 0.625rem;background-color: #e3e3e3">
                              <?php echo $user; ?>
                            </div>

                        <?php
                          }
                        } else
                          echo '<p>' . $this->language->_('No Member') . '</p>';
                        ?>
                      </div>
                      <?php
                      // $groupIndex = 'N_'.$this->cust_id.'_01';  
                      // if(isset($value)) 
                      // {
                      //   $printUser = '<ul>';
                      //   foreach($value as $user)
                      //   {
                      //      $printUser .= '<li>'.$user.'</li>';
                      //   }
                      //   $printUser .= '</ul>';
                      //   echo $printUser;
                      // }
                      // else
                      //   echo '<p>'.$this->language->_('No Member').'</p>';
                      ?>
                    </td>
                  </tr>
                <?php

                }
              } else {
                ?>
                <tr>
                  <td>
                    <?php echo '<p>' . $this->language->_('No Group') . '</p>'; ?>
                  </td>
                </tr>

              <?php } ?>


            </tbody>
          </table>
          <script>
        // $("table.table-sugg > tbody > tr").each(function() {
        //   var data = $(this).find(".data");
        //   var dataChange = $(this).find(".dataChange");
        //   if (data.text() != dataChange.text()) {
        //     dataChange.css('background-color', '#fffe5c');
        //     $(this).addClass('diffRow');
        //   }
        // });

        $("#btnDiffOnly").click(function() {
          $("table.table-sugg > tbody > tr").each(function() {
            var className = $(this).attr('class');
            if (className != 'diffRow' && $(this).is(":visible")) {
              $(this).hide();
            } else {
              $(this).show();
            }
          });
          //Untuk stripped table after update row
          //$("tr:visible").each(function(index) {
            //$(this).css("background-color", !!(index & 1) ? "rgba(0,0,0,.05)" : "rgba(0,0,0,0)");
          //});
        });
      </script>
          <br />

          <?php
          // print_r($this->curlistccy);die;
          if (!empty($this->curlistccy)) {
            foreach ($this->curlistccy as $key => $value) {

          ?>
              <script type="text/javascript">
                function newtab<?php echo $key; ?>_hide() {
                  // $('#newtab3').show();
                  //$('#buttonAppGroup').val('Hide');
                  // $('#buttonnewtab2').attr('Onclick','newtab2_hide()');
                  $('#tabtable<?php echo $key; ?>').hide();
                  $('#buttonnewtab<?php echo $key; ?>').show();
                  $('#buttonnewtab<?php echo $key; ?>s').hide();
                }

                function newtab<?php echo $key; ?>_show() {
                  // $('#newtab3').show();
                  //$('#buttonAppGroup').val('Hide');
                  // $('#buttonnewtab2').attr('Onclick','newtab2_hide()');
                  $('#tabtable<?php echo $key; ?>').show();
                  $('#buttonnewtab<?php echo $key; ?>').hide();
                  $('#buttonnewtab<?php echo $key; ?>s').show();
                }
              </script>

              <table width="100%" border='0' class="table table-sm table-striped">
                <tr class="textBlack">
                  <td> <strong id="newtab2title" style="font-size: 15pt;"><?php echo $this->paymenttype[$value['TRANSFER_TYPE']] . '-' . $value['CCY_BOUNDARY'] ?></strong></td>
                  <td align="right" style="padding-top: 10px;">
                    <i style="font-size: 23px; cursor: pointer;" class="fas fa-angle-down" onclick="newtab<?php echo $key; ?>_show()" id="buttonnewtab<?php echo $key; ?>"></i>
                    <i style="font-size: 23px; cursor: pointer;" class="fas fa-angle-up" onclick="newtab<?php echo $key; ?>_hide()" id="buttonnewtab<?php echo $key; ?>c"></i>

                  </td>
                </tr>
              </table>



              <table class="table table-sm table-striped" id="tabtable<?php echo $key; ?>" style="display: none">
                <tr>
                  <th rowspan="2" class="tablehead">
                    <div align="center"><?php echo $this->language->_('Currency'); ?></div>
                  </th>
                  <th colspan="2" class="tablehead">
                    <div align="center"><?php echo $this->language->_('Boundary'); ?></div>
                  </th>
                  <th rowspan="2" class="tablehead">
                    <div align="center"><?php echo $this->language->_('Policy'); ?></div>
                  </th>
                </tr>
                <tr class="tablehead">
                  <th>
                    <div align="center"><?php echo $this->language->_('Lower Boundary'); ?></div>
                  </th>
                  <th>
                    <div align="center"><?php echo $this->language->_('Upper Boundary'); ?></div>
                  </th>
                </tr>
                <?php
                if (!empty($this->curlist)) {
                  $i = 1;
                  foreach ($this->curlist as $curlist) {
                    $td_css = ($i % 2 == 0) ? 'tbl-evencontent textBlack' : 'tbl-oddcontent textBlack';
                    $specialid = 'sug' . 'special' . $i;
                    if ($curlist['CCY_BOUNDARY'] == $value['CCY_BOUNDARY'] && $curlist['TRANSFER_TYPE'] == $value['TRANSFER_TYPE']) {
                ?>
                      <tr>
                        <td class="<?php echo $td_css; ?>"><?php echo $curlist['CCY_BOUNDARY']; ?></td>
                        <td class="<?php echo $td_css; ?>"><?php echo Application_Helper_General::displayMoney($curlist['BOUNDARY_MIN']); ?></td>
                        <td class="<?php echo $td_css; ?>"><?php echo Application_Helper_General::displayMoney($curlist['BOUNDARY_MAX']); ?></td>
                        <td class="<?php echo $td_css; ?>"><?php echo $curlist['POLICY']; ?></td>
                      </tr>
                <?php
                    }
                  }
                }
                ?>
              </table>




          <?php
            }
          }
          ?>





        </td>
      </tr>
    </table><br />



    <div align="center">
      <?php
      echo $this->action(
        'index',
        'tools',
        'changemanagement',
        array('changes_id' => $this->changes_id)
      );
      ?>
    </div>
  <?php } ?>
  <br />
<?php } else { ?>
  <div id="content">--- <?php echo $this->language->_('No Data'); ?> ---</div>
<?php } ?>