<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Predefined Beneficiary'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Import Destination Account'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>
<br>

<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->language->_($this->errmsg)?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->language->_($this->errmsg)?></div><br />
					<?php } ?>



<div class="portlet-body form">
					<form name="importbeneficiary" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?=$this->url(array('module'=>'predefinedbeneficiary','controller'=>'importbeneficiary','action'=>'index'),null,true)?>" enctype="multipart/form-data">
					<div class="card">
                 <div class="card-header cardhead text-white">

                    	<strong><?php echo $this->language->_('Import Beneficiary'); ?>:</strong></div>
                  <div class="portlet-body form">

                    <div class="card-body">
                      <div class="form-group row ">

                                 <div class="col-md-12">
                                 <img src="/images/img_excel.gif" width="49" height="47" border="0">
                                 <div class="subtopic"><?php echo $this->language->_('Load Data from CSV Text File'); ?></div>

                                 </div>
                                 <br>
                                 <div class="col-md-12">
                                 <input class="form-control col-md-8" type="file" name="CSV_FILE" size="30" onKeypress="return noSpecialChar(event);">

                                 </div>
                                 <br>
                                  <div class="col-md-12">
                                     <div id="notesPage">
                     <?php
                       $ns = new Zend_Session_Namespace('language');
                       $sessionLanguage = $ns->langCode;
                       if($sessionLanguage == 'id'){
                         $file = '/template/Beneficiary_Template_id.csv';
                       }
                       else{
                         $file = '/template/Beneficiary_Template_en.csv';
                       }
                     ?>
                     <div class="subtopic"><?php echo $this->language->_('Format'); ?>:&nbsp;
                     <span style="font-size:11px;font-style:normal;"><a href="<?php echo $file?>");><?php echo $this->language->_('download template')?></a></span></div>
                     <div class="notesPageContent">
                     <?php echo $this->language->_('BENEFICIARY ACCOUNT,ACCOUNT NAME,CCY,EMAIL ADDRESS'); //$this->language->_('BENEFICIARY ACCOUNT,CCY,ALIAS NAME,EMAIL ADDRESS'); ?><br />
                     <?php echo $this->language->_('000000000,PT SAMUDERA,IDR,abc@samudera.com'); ?>
                     </div>
                   </div>

                                 </div>
                      </div>
                    </div>




                               </div>


	</div>
					<br/>

					<table width="400" border="0" cellspacing="4" cellpadding="4">

						  <tr>
							<td class="button-area" id="button-area" colspan="2">
								<div class="formbutton">
									<input type="button" value="<?php echo $this->language->_('Back')?>" onClick="location.href='/home/dashboard'" class="btnwhite hov">
									<?php
										//Zend_Debug::dump($_SESSION['import_predefbenef']);die;
										$classbut = array('class' => 'btn btn-warning');
										/*if(isset($_SESSION['import_predefbenef']))
										{
											$classbut += array('disable' => 'disabled');
										}*/
										echo $this->formSubmit('submit', $this->language->_('Import'),array('class' => 'btngreen hov'), $classbut);
									?>
								</div>
							</td>
						  </tr>
					</table>
					</form>
					</div>
