@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kdqgz0');
  src:  url('fonts/icomoon.eot?kdqgz0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kdqgz0') format('truetype'),
    url('fonts/icomoon.woff?kdqgz0') format('woff'),
    url('fonts/icomoon.svg?kdqgz0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-blue:before {
  content: "\e900";
  color: #005587;
}
.icon-alert-dark:before {
  content: "\e901";
  color: #ccc;
}
.icon-alert-green:before {
  content: "\e902";
  color: #2b6d2b;
}
.icon-alert-light:before {
  content: "\e903";
}
.icon-arrow-down-blue:before {
  content: "\e904";
  color: #005587;
}
.icon-arrow-down-dark:before {
  content: "\e905";
  color: #ccc;
}
.icon-arrow-down-green:before {
  content: "\e906";
  color: #2b6d2b;
}
.icon-arrow-down-light:before {
  content: "\e907";
}
.icon-arrow-left-blue:before {
  content: "\e908";
  color: #005587;
}
.icon-arrow-left-dark:before {
  content: "\e909";
  color: #ccc;
}
.icon-arrow-left-green:before {
  content: "\e90a";
  color: #2b6d2b;
}
.icon-arrow-left-light:before {
  content: "\e90b";
}
.icon-arrow-right-blue:before {
  content: "\e90c";
  color: #005587;
}
.icon-arrow-right-dark:before {
  content: "\e90d";
  color: #ccc;
}
.icon-arrow-right-green:before {
  content: "\e90e";
  color: #2b6d2b;
}
.icon-arrow-right-light:before {
  content: "\e90f";
}
.icon-arrow-up-blue:before {
  content: "\e910";
  color: #005587;
}
.icon-arrow-up-dark:before {
  content: "\e911";
  color: #ccc;
}
.icon-arrow-up-green:before {
  content: "\e912";
  color: #2b6d2b;
}
.icon-arrow-up-light:before {
  content: "\e913";
}
.icon-clear-dark:before {
  content: "\e914";
  color: #3e9b3e;
}
.icon-clear-light:before {
  content: "\e915";
  color: #2b6d2b;
}
.icon-delete-dark:before {
  content: "\e916";
  color: #e40707;
}
.icon-delete-light:before {
  content: "\e917";
  color: #fa1a1a;
}
.icon-download-blue:before {
  content: "\e918";
  color: #005587;
}
.icon-download-dark:before {
  content: "\e919";
  color: #ccc;
}
.icon-download-green:before {
  content: "\e91a";
  color: #2b6d2b;
}
.icon-download-light:before {
  content: "\e91b";
}
.icon-export-blue:before {
  content: "\e91c";
  color: #005587;
}
.icon-export-dark:before {
  content: "\e91d";
  color: #ccc;
}
.icon-export-light:before {
  content: "\e91e";
  color: #2b6d2b;
}
.icon-import-blue:before {
  content: "\e91f";
  color: #005587;
}
.icon-import-dark:before {
  content: "\e920";
  color: #ccc;
}
.icon-import-green:before {
  content: "\e921";
  color: #2b6d2b;
}
.icon-import-light:before {
  content: "\e922";
}
.icon-keyboard-arrow-down-blue:before {
  content: "\e923";
  color: #005587;
}
.icon-keyboard-arrow-down-dark:before {
  content: "\e924";
  color: #ccc;
}
.icon-keyboard-arrow-down-green:before {
  content: "\e925";
  color: #2b6d2b;
}
.icon-keyboard-arrow-down-light:before {
  content: "\e926";
}
.icon-keyboard-arrow-left-blue:before {
  content: "\e927";
  color: #005587;
}
.icon-keyboard-arrow-left-dark:before {
  content: "\e928";
  color: #ccc;
}
.icon-keyboard-arrow-left-green:before {
  content: "\e929";
  color: #2b6d2b;
}
.icon-keyboard-arrow-left-light:before {
  content: "\e92a";
}
.icon-keyboard-arrow-right-blue:before {
  content: "\e92b";
  color: #005587;
}
.icon-keyboard-arrow-right-dark:before {
  content: "\e92c";
  color: #ccc;
}
.icon-keyboard-arrow-right-green:before {
  content: "\e92d";
  color: #2b6d2b;
}
.icon-keyboard-arrow-right-light:before {
  content: "\e92e";
}
.icon-keyboard-arrow-up-blue:before {
  content: "\e92f";
  color: #005587;
}
.icon-keyboard-arrow-up-dark:before {
  content: "\e930";
  color: #ccc;
}
.icon-keyboard-arrow-up-green:before {
  content: "\e931";
  color: #2b6d2b;
}
.icon-keyboard-arrow-up-light:before {
  content: "\e932";
}
.icon-plus-blue:before {
  content: "\e933";
  color: #005587;
}
.icon-plus-dark:before {
  content: "\e934";
  color: #ccc;
}
.icon-plus-green:before {
  content: "\e935";
  color: #2b6d2b;
}
.icon-plus-light:before {
  content: "\e936";
}
.icon-sandglass-blue:before {
  content: "\e937";
  color: #005587;
}
.icon-sandglass-dark:before {
  content: "\e938";
  color: #ccc;
}
.icon-sandglass-green:before {
  content: "\e939";
  color: #2b6d2b;
}
.icon-sandglass-light:before {
  content: "\e93a";
}
.icon-save-blue:before {
  content: "\e93b";
  color: #005587;
}
.icon-save-dark:before {
  content: "\e93c";
  color: #ccc;
}
.icon-save-green:before {
  content: "\e93d";
  color: #2b6d2b;
}
.icon-save-light:before {
  content: "\e93e";
}
.icon-setting-blue:before {
  content: "\e93f";
  color: #005587;
}
.icon-setting-dark:before {
  content: "\e940";
  color: #ccc;
}
.icon-setting-green:before {
  content: "\e941";
  color: #2b6d2b;
}
.icon-setting-light:before {
  content: "\e942";
}
.icon-upload-blue:before {
  content: "\e943";
  color: #005587;
}
.icon-upload-dark:before {
  content: "\e944";
  color: #ccc;
}
.icon-upload-green:before {
  content: "\e945";
  color: #2b6d2b;
}
.icon-upload-light:before {
  content: "\e946";
}
.icon-file-empty:before {
  content: "\e947";
}
.icon-files-empty:before {
  content: "\e948";
}
.icon-file-text2:before {
  content: "\e949";
}
.icon-file-zip:before {
  content: "\e94a";
}
.icon-copy:before {
  content: "\e94b";
}
.icon-paste:before {
  content: "\e94c";
}
.icon-stack:before {
  content: "\e94d";
}
.icon-folder:before {
  content: "\e94e";
}
.icon-folder-open:before {
  content: "\e94f";
}
.icon-folder-plus:before {
  content: "\e950";
}
.icon-folder-minus:before {
  content: "\e951";
}
.icon-folder-download:before {
  content: "\e952";
}
.icon-folder-upload:before {
  content: "\e953";
}
.icon-phone:before {
  content: "\e954";
}
.icon-phone-hang-up:before {
  content: "\e955";
}
.icon-address-book:before {
  content: "\e956";
}
.icon-envelop:before {
  content: "\e957";
}
.icon-pushpin:before {
  content: "\e958";
}
.icon-clock:before {
  content: "\e959";
}
.icon-printer:before {
  content: "\e95a";
}
.icon-drawer:before {
  content: "\e95c";
}
.icon-drawer2:before {
  content: "\e95d";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-box-remove:before {
  content: "\e95f";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-forward:before {
  content: "\e969";
}
.icon-reply:before {
  content: "\e96a";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-upload3:before {
  content: "\e9c8";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
