<?php if($this->printpage){?>
<head>
<link rel="shortcut icon" href="/favicon111.ico">
<title>Corporate - Internet Banking</title>
    
    <style>
    input.currency{ width: 200px; font-size: 10px; }
    ul { padding-left:10px; }
    h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed }
    body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; }
    b { font-weight:bold; font-size:11px }
    td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; }
    a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; }
    /* .tbl-evencontent { background-color: #fffbef; padding: 4px 4px 4px 4px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } */
    .tbl-evencontent { padding: 4px 4px 4px 4px; border-bottom: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
    /* .tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } */
    .tdform-sub {background-color: #003f6e;padding: 4px 4px 4px 4px; font-weight: bold; color: white; height: 20px; text-align: left; }
    .tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; }
    .errmsg { font-weight:bold; font-size:11px; color:#FF0000 }
    body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
    -webkit-print-color-adjust:exact; /*chrome*/
    -moz-print-color-adjust:exact; /*mozila*/
    -o-print-color-adjust:exact; /*opera*/
    -ms-print-color-adjust:exact; /*ie*/
    }

    </style>
</head>
<body>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td align="left" valign="middle"><div style="padding: 0px 20px 0px 0px"><img src="/images/logo/logosgo_small_2.png" height="40px" border="0"/></div></td>
        <td align="center" valign="middle"><strong><?=$this->language->_($this->data_caption)?></strong></td>
        <td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s")?></strong></td>
      </tr>
		</table>
<?php }?>
<div class="row">
  <div class="col-md-12">
  <br>
  <div class="row col-md-12 pr-0 mr-0">
    <div class="col-8" align="left">
      <h5><?=$this->language->_('Customer BIN Detail')?></h5>
      <h6 class="text-black-50"><?= $this->language->_('Customer Bank Identification Number Detail') ?></h6>
    </div>
  </div>

<?php
// if($this->cust_id)
// {
//   if($this->cust_bin_status == 1)       $status = 'Active';
//   else if($this->cust_bin_status == 2)  $status = $this->status_type['desc']['suspended']; 
//   else if($this->cust_bin_status == 3)  $status = $this->status_type['desc']['delete'];

?>

<div class="container-fluid">
  <div class="row content-box" style="background-color: #f2f2f2">
    <table width="80%">
      <tr>
        <td width="40%"><span style="font-size: 1rem">BIN</span></td>
        <td><span style="font-size: 1rem"><b><?php echo $this->cust_bin; ?></b></span></td>
      </tr>
    </table>
  </div>
  
  <table width="80%">
    <tr>
      <td class="text-black-50" width="40%"><?php echo $this->language->_('Company'); ?></td>
      <td><?php echo $this->cust_name.' ('.$this->cust_id.')'; ?></td>
    </tr>
    <tr>
      <td class="text-black-50" width="40%"><?php echo $this->language->_('Master Account'); ?></td>
      <td><?php echo $this->account.' ('.$this->ccy.') - '.$this->account_name; ?></td>
    </tr>
    <tr>
      <td class="text-black-50" width="40%"><?php echo $this->language->_('Company CIF'); ?></td>
      <td><?php echo $this->cif; ?></td>
    </tr>
    <tr>
      <td class="text-black-50" width="40%"><?php echo $this->language->_('BIN Type'); ?></td>
      <td><?php echo $this->binTypeArr[$this->resultData['BIN_TYPE']]; ?></td>
    </tr>
    <tr>
      <td class="text-black-50" width="40%"><?php echo $this->language->_('BIN Status'); ?></td>
      <td><?php echo $this->language->_($status); ?></td>
    </tr>
    <tr>
      <td class="text-black-50" width="40%"><?php echo $this->language->_('Last Suggestion'); ?></td>
      <td><?php echo Application_Helper_General::convertDate($this->cust_suggested,$this->displayDateTimeFormat,$this->defaultDateFormat).' ('.$this->cust_suggestedby.')'; ?></td>
    </tr>
    <tr>
      <td class="text-black-50" width="40%"><?php echo $this->language->_('Last Approval'); ?></td>
      <td><?php echo Application_Helper_General::convertDate($this->cust_updated,$this->displayDateTimeFormat,$this->defaultDateFormat).' ('.$this->cust_updatedby.')'; ?></td>
    </tr>
    <tr>
      <td class="text-black-50" width="40%"><?php echo $this->language->_('Last Sync'); ?></td>
      <td><?php echo Application_Helper_General::convertDate($this->cust_lastsync,$this->displayDateTimeFormat,$this->defaultDateFormat); ?></td>
    </tr>
    <tr>
      <td class="text-black-50" width="40%"><?php echo $this->language->_('H2H'); ?></td>
      <td><?php echo $this->h2h; ?></td>
    </tr>
  
    <?php if ($this->h2h == 'Yes') { ?>
      <tr>
        <td class="text-black-50" width="40%"><?php echo $this->language->_('URL Inquiry'); ?></td>
        <td><?php echo $this->url_inquiry; ?></td>
      </tr>
      <tr>
        <td class="text-black-50" width="40%"><?php echo $this->language->_('URL Payment'); ?></td>
        <td><?php echo $this->url_payment; ?></td>
      </tr>
    <?php } ?>

  </table>

  <br>

  <?php if ($this->h2h == 'No') { ?>
    <div class="row content-box" style="background-color: #f2f2f2">
      <span style="font-size: 1rem"><?php echo $this->language->_('VA Parameter Setting'); ?></span>
    </div>
  
    <table width="80%">

    <!-- if ecollection -->
    <?php if ($this->resultData['BIN_TYPE'] == '1') { ?>
      <tr>
        <td class="text-black-50" width="40%"><?php echo $this->language->_('VA Type'); ?></td>
        <td><?php echo $this->va_type; ?></td>
      </tr>
      <tr>
        <td class="text-black-50" width="40%"><?php echo $this->language->_('Expired Time'); ?></td>
        <td><?php echo $this->exp_time; ?></td>
      </tr>
      <tr>
        <td class="text-black-50" width="40%"><?php echo $this->language->_('Allow skip error when uploading'); ?></td>
        <td><?php echo $this->allowskip; ?></td>
      </tr>
      <tr>
        <td class="text-black-50" width="40%"><?php echo $this->language->_('Partial Payment'); ?></td>
        <td><?php echo $this->partial_type; ?></td>
      </tr>
      <tr>
        <td class="text-black-50" width="40%"><?php echo $this->language->_('Billing Method'); ?></td>
        <td><?php echo $this->bill_method; ?></td>
      </tr>
      <tr>
        <td class="text-black-50" width="40%"><?php echo $this->language->_('Buyer Fee'); ?></td>
        <td><?php echo $this->buyer_fee; ?></td>
      </tr>
      <tr>
        <td class="text-black-50" width="40%"><?php echo $this->language->_('Seller Fee'); ?></td>
        <td><?php echo $this->seller_fee; ?></td>
      </tr>
      <tr>
        <td class="text-black-50" width="40%"><?php echo $this->language->_('VA Min Amount'); ?></td>
        <td><?php echo $this->vp_min; ?></td>
      </tr>
      <tr>
        <td class="text-black-50" width="40%"><?php echo $this->language->_('VA Max Amount'); ?></td>
        <td><?php echo $this->vp_max; ?></td>
      </tr>

    <!-- if va debit -->
    <?php } else { ?>
      <tr>
        <td class="text-black-50" width="40%"><?php echo $this->language->_('Allow skip error when uploading'); ?></td>
        <td><?php echo $this->allowskip; ?></td>
      </tr>
      <tr>
        <td class="text-black-50" width="40%"><?php echo $this->language->_('VA Available Credit Max Limit'); ?></td>
        <td><?php echo $this->va_credit_max; ?></td>
      </tr>
      <tr>
        <td class="text-black-50" width="40%"><?php echo $this->language->_('VA Daily Limit Transaction'); ?></td>
        <td><?php echo $this->va_daily_limit; ?></td>
      </tr>
      <tr>
        <td class="text-black-50" width="40%"><?php echo $this->language->_('Remaining Available Credit'); ?></td>
        <td><?php echo $this->remainingCredit; ?></td>
      </tr>
    <?php } ?>

  </table>

  <?php } ?>


</div>

<br />

<?php 
// }else{ 
	?>
	<!-- <div id="content">- no data -</div> -->
<?php 
// } ?>
</div>

<!------------------------------------------------------------END Beneficiary User------------------------------------------------>

  </div>

  <script>
  <?php if($this->printpage){?>
    window.print();
  <?php }?>
  </script>

</body>
