
<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Payroll'); ?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="valas" ><?php echo $this->language->_('Bulk'); ?></span>
                    </li>
                </ul>
            </div>
        </div>
</div>

<div class="portlet-body form">
<form name="bulk_credit_import" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'confirmemoney'),null,true)?>">
                      <input type="hidden" name="PM_SUBJECT" value="tes">
                      <input type="hidden" name="PM_EFDATE" value="10/05/2012">
                      <input type="hidden" name="ACCTSRC" value="1290001537~JOSHUA ADISETYA DHARMAWAN               ~IDR">
        <div class="row">
            <!-- Credit Card Detail -->
            <div class="col-md-12">
              <div class="row no-gutters">
                <div class="col-md-12">

                  <!-- Section Header -->
                  <div class="pt-3 row no-gutters">
                    <div class="col-sm-12 col-md-10">
                      <h5><?php echo $this->language->_('Transfer Form'); ?></h5>
                    </div>

                    <div class="col-sm-12 col-md-2" align="right">
                      <a href="#" class="detail-ellipsis"><i class="fa fa-ellipsis-h"></i></a>
                    </div>
                  </div>
                  <!-- Section Header Ends -->

                  <!-- Section Content -->
                  <div class="row no-gutters mt-3">
                    <div class="col-sm-12 col-md-12 pl-2 table-responsive">
                      <table class="table table-row-border">
                        <tr>
                          <td class="sub-text"><?php echo $this->language->_('Payment Subject'); ?></td>
                          <td align="right"><?=$this->PS_SUBJECT?></td>
                        </tr>
                        <tr>
                          <td class="sub-text"><?php echo $this->language->_('Payment Date'); ?></td>
                          <td align="right">
                                <?=$this->PS_EFDATE?>
                          </td>
                        </tr>
                         <tr>
                          <td class="sub-text"><?php echo $this->language->_('Source Account'); ?></td>
                          <td align="right">
                                <?=$this->ACCTSRC?>
                          </td>
                        </tr>
                        <tr>
                          <td class="sub-text"><?php echo $this->language->_('File ID'); ?></td>
                          <td align="right">
                                <?=$this->PS_FILEID?>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <!-- <div class=" pt-3 row no-gutters">
                    <div class="col-sm-12 col-md-10">
                      <h5><?php echo $this->language->_('File Detail'); ?></h5>
                    </div>
                  </div> -->
                  <!-- Section Content Ends -->

                </div>
              </div>
            </div>
</div>
                       <!--  <table width="100%" border="0" cellspacing="1" cellpadding="2">
                              <tr><td colspan="3">
                                <?php if($this->totalFailed){ ?>
                                <br /><div class="errmsg"><?php echo $this->language->_('Error: This payment can not be continue'); ?></div><br />
                                <?php } ?>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                                                  <table width="50%" border="0" cellspacing="0" class="table table-bordered table-striped table-condensed flip-content" cellpadding="0">
                                                                        <tr>
                                                                            <th id="tablehead"><?php echo $this->language->_('Payment Type'); ?></th>
                                                                            <th id="tablehead"><?php echo $this->language->_('CCY'); ?></th>
                                                                            <th id="tablehead"><?php echo $this->language->_('Payment Success'); ?></th>
                                                                            <th id="tablehead"><?php echo $this->language->_('Total Amount Success'); ?></th>
                                                                            <th id="tablehead"><?php echo $this->language->_('Payment Failed'); ?></th>
                                                                            <th id="tablehead"><?php echo $this->language->_('Total Amount Failed'); ?></th>

                                                                        </tr>
                                    <?php
                                      foreach($this->countTrxCCY as $type=>$rows)
                                      {
                                        $i = 0;
                                        foreach($rows as $ccy=>$row)
                                        {
                                          $detailErr = $row['failed'] ? ', <a onClick="showPopUpWindow(\'../../popuperror/bulkcreditpopup?type='.$type.'&ccy='.$ccy.'\');">['.$this->language->_('Detail').']</a>' : '';
                                          $content =  '
                                            <tr>
                                              <td class="tbl-oddcontent">';
                                          if($i==0) $content .= $type;
                                          else $content .= '&nbsp;';
                                          $content .=  '
                                              </td>
                                              <td class="tbl-oddcontent">'.$ccy.'</td>
                                              <td class="tbl-oddcontent" align="center">'.$row['success'].' '.$this->language->_('record').'</td>
                                              <td class="tbl-oddcontent" align="right">'.Application_Helper_General::displayMoney($this->sumTrxCCY[$type][$ccy]['success']).'</td>
                                              <td class="tbl-oddcontent" align="center"><strong><font color="red">'.$row['failed'].' '.$this->language->_('record').''.$detailErr.'</font></strong></td>
                                              <td class="tbl-oddcontent" align="right">'.Application_Helper_General::displayMoney($this->sumTrxCCY[$type][$ccy]['failed']).'</td>';

                                          echo '</tr>';
                                          echo $content;
                                          $i++;
                                        }
                                      }
                                    ?>
                                                                        <tr>
                                                                            <td class="tbl-oddcontent" colspan="2"><strong><?php echo $this->language->_('Total'); ?></strong></td>
                                                                            <td class="tbl-oddcontent" align="center"><?=$this->totalSuccess?> <?php echo $this->language->_('record'); ?></td>
                                                                            <td class="tbl-oddcontent" align="right"><?=Application_Helper_General::displayMoney($this->amountSuccess)?></td>
                                                                            <td class="tbl-oddcontent" align="center"><strong><font color="red"><?=$this->totalFailed?> <?php echo $this->language->_('record'); ?></font></strong></td>
                                                                            <td class="tbl-oddcontent" align="right"><?=Application_Helper_General::displayMoney($this->amountFailed)?></td>

                                                                        </tr>
                                                                  </table>
                                                                </td>
                              </tr>


                      </table>
 -->                      <div class=" col-md-12 formbutton" style="text-align:center">
                          <input type="submit" name="submit_cancel" class="btnwhite hov" value="<?php echo $this->language->_('Cancel')?>">&nbsp;&nbsp;
                          <input type="submit" name="submit" class="btngreen hov" value="<?php echo $this->language->_('Submit for Approval')?>" <?php $disabled = $this->totalFailed ? 'disabled="disabled"' : ''; echo $disabled;?>>
                      </div>
                      </form>
                    </div>
