
<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Payroll'); ?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="valas" ><?php echo $this->language->_('Bulk'); ?></span>
                    </li>
                </ul>
            </div>
        </div>
</div>

<div class="portlet-body form">
<form name="bulk_credit_import" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'confirmmanytoone'),null,true)?>">
                      <input type="hidden" name="PM_SUBJECT" value="tes">
                      <input type="hidden" name="PM_EFDATE" value="10/05/2012">
                      <input type="hidden" name="ACCTSRC" value="1290001537~JOSHUA ADISETYA DHARMAWAN               ~IDR">
        <div class="row">
            <!-- Credit Card Detail -->
            <div class="col-md-12">
              <div class="row no-gutters">
                <div class="col-md-12">

                  <!-- Section Header -->
                  <div class="pt-3 row no-gutters">
                    <div class="col-sm-12 col-md-10">
                      <h5><?php echo $this->language->_('Transfer Form'); ?></h5>
                    </div>

                    <div class="col-sm-12 col-md-2" align="right">
                      <a href="#" class="detail-ellipsis"><i class="fa fa-ellipsis-h"></i></a>
                    </div>
                  </div>
                  <!-- Section Header Ends -->

                  <!-- Section Content -->
                  <div class="row no-gutters mt-3">
                    <div class="col-sm-12 col-md-12 pl-2 table-responsive">
                      <table class="table table-row-border">
                        <tr>
                          <td class="sub-text"><?php echo $this->language->_('Payment Subject'); ?></td>
                          <td align="right"><?=$this->PS_SUBJECT?></td>
                        </tr>
                        <tr>
                          <td class="sub-text"><?php echo $this->language->_('Payment Date'); ?></td>
                          <td align="right">
                                <?=$this->PS_EFDATE?>
                          </td>
                        </tr>
                         <tr>
                          <td class="sub-text"><?php echo $this->language->_('Beneficiary Account'); ?></td>
                          <td align="right">
                                <?=$this->ACBENEF?>
                          </td>
                        </tr>
                        <tr>
                          <td class="sub-text"><?php echo $this->language->_('Beneficiary Account Name'); ?></td>
                          <td align="right">
                                <?=$this->ACBENEF_BANKNAME?>
                          </td>
                        </tr>
                        <tr>
                          <td class="sub-text"><?php echo $this->language->_('Curency'); ?></td>
                          <td align="right">
                                <?=$this->ACBENEF_CCY?>
                          </td>
                        </tr>
                        <tr>
                          <td class="sub-text"><?php echo $this->language->_('File ID'); ?></td>
                          <td align="right">
                                <?=$this->PS_FILEID?>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                             <div class=" col-md-12 formbutton" style="text-align:center">
                          <input type="submit" name="submit_cancel" class="btnwhite hov" value="<?php echo $this->language->_('Cancel')?>">&nbsp;&nbsp;
                          <input type="submit" name="submit" class="btngreen hov" value="<?php echo $this->language->_('Submit for Approval')?>" <?php $disabled = $this->totalFailed ? 'disabled="disabled"' : ''; echo $disabled;?>>
                      </div>
                      </form>
                    </div>
