<!-- <b>
<ol class="breadcrumb" >
  <li><a href="#" style="font-size: 11px;"><?php echo $this->language->_('Payroll')?></a></li>
  <li><?php echo $this->language->_('Upload File')?></li>
</ol>
</b> -->

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Payroll'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Upload File'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>


<br>
<?php if($this->error){ ?>
	<div class="errmsg"><?=html_entity_decode($this->report_msg)?></div><br />
<?php } ?>

<div class="row content-box">
<div class="portlet-body form">
<form name="payment" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" enctype="multipart/form-data">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td class="contentarea" id="contentarea">
					<div class="portlet light form-fit bordered">
						<div class="card">
							<div class="card-header cardhead">
								<?php 
									$ns = new Zend_Session_Namespace('language');
									$sessionLanguage = $ns->langCode;
									if($sessionLanguage == 'id'){
										$file = '/template/Payroll_Template_id.csv';
									}
									else{
										$file = '/template/Payroll_Template_en.csv';
									}
								?>
                    		<strong style="color: white;">Format:&nbsp;
								<span style="font-size:10px;font-style:normal;">
									<a href="<?=$file?>" style="color:#F4C301;"><u><?php echo $this->language->_('download template'); ?></u></a>
								</span></strong>
							</div>
							<div class="card-body form ">
								<div class="form-group row pt-2">
									<div class="col-sm-12">
										<?php echo $this->language->_('Please upload'); ?>
											<strong><?php echo $this->language->_('comma delimited'); ?> (,)</strong> 
											<?php echo $this->language->_('file'); ?><br>
											
											<?php $this->language->_('"BENEFICIARY ACC","BENEFICIARY NAME","CCY","AMOUNT","MESSAGE"
											,"ADDITIONAL MESSAGE","EMAIL ADDRESS","MOBILE PHONE NUMBER",
											"TRANSFER TYPE","BENEFICIARY ADDRESS","CITIZENSHIP"'); ?>
											
											<?php echo $this->language->_('PAYROLL'); ?>,
											<br>
											
											"<?php echo $this->language->_('BENEFICIARY ACC'); ?>",
											
											"<?php echo $this->language->_('CCY'); ?>",
											"<?php echo $this->language->_('AMOUNT'); ?>",
											
											"<?php echo $this->language->_('MESSAGE'); ?>",
											"<?php echo $this->language->_('ADDITIONAL MESSAGE'); ?>"
											
											<br><br>
											
											<?php echo $this->language->_('"2003019114","IDR","3,000.50","MSG IDR PB","ADDITIONAL MSG"'); ?><br>
									</div>
								</div>
							</div>
						</div>
						<br>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td class="contentarea" id="contentarea">
					<div class="portlet light form-fit bordered">
						<div class="card">
							<div class="card-header cardhead">
								<strong style="color: white;"><?php echo $this->language->_('Notes : ');?></strong>
							</div>
							<div class="card-body form ">
								<div class="form-group row pt-2">
									<div class="col-sm-12">
										<?php echo $this->language->_('Import will generate list from file'); ?>.<br />
										<?php echo $this->language->_('Click "Download Template" to download template'); ?>.<br />
										<?php echo $this->language->_('Please note that the first row in uploaded file will be ignored (file contents will be proccessed starting on second row)'); ?>.<br />
										<?php echo $this->language->_('Please check on the payment screen for the correctness, then click Submit for approval'); ?><br />
									</div>
								</div>
							</div>
						<br>
						<br>
					</div>
				</td>
			</tr>
		</tbody>
	</table>


	<table class="form-horizontal form-bordered form-row-stripped" border="0" cellpadding="4" cellspacing="4" width="100%" align="center">												
						<tbody>
							
							<tr>
								<td valign="top"><img src="/images/img_one.gif" height="47" width="49"></td>
								<td style="height: 47px; vertical-align: middle;" nowrap="nowrap">
									<fieldset>
										<legend><span class="texthistory"><b><?php echo $this->language->_('Transfer From'); ?></b></span></legend>
										
										<div class="portlet-body form">
                      
                    	<div class="portlet-body form">
                                                <div class="form-group row ">
                                                            <label class="control-label col-md-3"></label>
                                                            <div class="col-md-9">
                                                            <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
                                                            </div>
                                                        </div>
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Subject'); ?></label>
                                                            <div class="col-md-9">
                                                            <?php echo $this->formText('PSSUBJECT',$this->PSSUBJECT,array('size'=>40,'maxlength'=>128,'class'=>'form-control'))?>
                                                            </div>
                                                        </div>
                                                  <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Source Account'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                            <div class="col-md-9">
                                                            <?php  echo $this->formApp("SELECT_ACCTSRC", $this->AccArr, $this->ACCTSRC, "ACCTSRC",array('class'=>'form-control'));	?>
        													
                                                            </div>
                                                        </div>
                                                  
                                                        
                    </div>
                    </div>
										
									</fieldset>
								</td>
							</tr>
							<tr><td colspan="2">&nbsp;</td></tr>
							<tr>
								<td valign="top">
									<img src="/images/img_two.gif" height="47" width="49">
								</td>
								<td style="height: 47px; vertical-align: middle;" nowrap="nowrap">
									<fieldset>
										<legend><span class="texthistory"><b><?php echo $this->language->_('File Detail'); ?></b></span></legend>
										
										<div class="portlet-body form">
                      
                    	<div class="portlet-body form">
                                                <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('File to Upload'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                            <div class="col-md-9">
                                                            <img src="/images/img_excel.gif" height="47" width="49">
															<input name="CSV_FILE" size="30" class="form-control" onkeypress="return noSpecialChar(event);" type="file">
															<br>
                                                            </div>
                                                        </div>
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Payment Date'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                            <div class="col-md-9" align="left">
                                                            <div class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+1d">
                                                        <input name="PSEFDATE" id="PSEFDATE" value="<?php echo $this->PSEFDATE?>" type="text" class="form-control" readonly>
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button" style="height: 34px">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                            
                                                            </div>
                                                        </div>
                                                  
                                                        
                    </div> 
                    </div>
										
										
									</fieldset>
								</td>
							</tr>
						  <tr>
							<td>&nbsp;</td>
							<td class="button-area" id="button-area" colspan="2">
								<div class="formbutton">
									<input class="btnwhite hov" value="<?php echo $this->language->_('Cancel')?>" onclick="location.href='/home/index'" type="button">
									<input type="submit" class="btngreen hov" name="submit" value="<?php echo $this->language->_('Submit')?>"/>
								</div>
							</td>
						  </tr>
						</tbody>
					</table>
	</form>
</div>
</div>

<!-- <div class="portlet-body form">
<form name="payment" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" enctype="multipart/form-data">
	<input name="process" value="" type="hidden">
	<input name="num" value="" type="hidden">
	<input name="page" value="" type="hidden">
	<input name="titleForm" value="Import File" type="hidden">
	<div class="portlet-body form">
                      <div class="panel-heading" style="
                    	    color: #fff;
                    	    background-color: #337ab7;
                    	    border-color: #337ab7;
                    	    border: 1;
                    	">
                    	<?php 
											$ns = new Zend_Session_Namespace('language');
											$sessionLanguage = $ns->langCode;
											if($sessionLanguage == 'id'){
												$file = '/template/Payroll_Template_id.csv';
											}
											else{
												$file = '/template/Payroll_Template_en.csv';
											}
										?>
                    	<strong>Format:&nbsp;
										
											<span style="font-size:10px;font-style:normal;">
												<a href="<?=$file?>" style="color:#F4C301;"><u><?php echo $this->language->_('download template'); ?></u></a>
											</span></strong></div>
                    	<div class="portlet-body form">
                                                
                                                    
                                                        <div class="form-group row ">
                                                            <div id="notesPage">
										
										
											<?php echo $this->language->_('Please upload'); ?>
											<strong><?php echo $this->language->_('comma delimited'); ?> (,)</strong> 
											<?php echo $this->language->_('file'); ?><br>
											
											<?php $this->language->_('"BENEFICIARY ACC","BENEFICIARY NAME","CCY","AMOUNT","MESSAGE"
											,"ADDITIONAL MESSAGE","EMAIL ADDRESS","MOBILE PHONE NUMBER",
											"TRANSFER TYPE","BENEFICIARY ADDRESS","CITIZENSHIP"'); ?>
											
											<?php echo $this->language->_('PAYROLL'); ?>,
											<br>
											
											"<?php echo $this->language->_('BENEFICIARY ACC'); ?>",
											
											"<?php echo $this->language->_('CCY'); ?>",
											"<?php echo $this->language->_('AMOUNT'); ?>",
											
											"<?php echo $this->language->_('MESSAGE'); ?>",
											"<?php echo $this->language->_('ADDITIONAL MESSAGE'); ?>"
											
											<br><br>
											
											<?php echo $this->language->_('"2003019114","IDR","3,000.50","MSG IDR PB","ADDITIONAL MSG"'); ?><br>
											
										<br>
									</div>
                                                        </div>
                                                        
                    </div>
                   </div> 
                   <br/>
                   <div class="portlet-body form">
                      <div class="panel-heading" style="
                    	    color: #fff;
                    	    background-color: #337ab7;
                    	    border-color: #337ab7;
                    	    border: 1;
                    	">
                    	
                    	<strong><?php echo $this->language->_('Notes'); ?>:</strong></div>
                    	<div class="portlet-body form">
                                                
                                                    
                                                        <div class="form-group row ">
                                                            <div id="notesPage">
										
										
																				
											<?php echo $this->language->_('Import will generate list from file'); ?>.<br />
											<?php echo $this->language->_('Click "Download Template" to download template'); ?>.<br />
											<?php echo $this->language->_('Please note that the first row in uploaded file will be ignored (file contents will be proccessed starting on second row)'); ?>.<br />
											<?php echo $this->language->_('Please check on the payment screen for the correctness, then click Submit for approval'); ?><br />
										
									</div>
                                                        </div>
                                                        
                    </div>
                   </div> 
                   <br/>
                   
                   
                   
                   
																																																											
					<table class="form-horizontal form-bordered form-row-stripped" border="0" cellpadding="4" cellspacing="4" width="100%" align="center">												
						<tbody>
							
							<tr>
								<td valign="top"><img src="/images/img_one.gif" height="47" width="49"></td>
								<td style="height: 47px; vertical-align: middle;" nowrap="nowrap">
									<fieldset>
										<legend><span class="texthistory"><b><?php echo $this->language->_('Transfer From'); ?></b></span></legend>
										
										<div class="portlet-body form">
                      
                    	<div class="portlet-body form">
                                                <div class="form-group row ">
                                                            <label class="control-label col-md-3"></label>
                                                            <div class="col-md-9">
                                                            <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
                                                            </div>
                                                        </div>
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Subject'); ?></label>
                                                            <div class="col-md-9">
                                                            <?php echo $this->formText('PSSUBJECT',$this->PSSUBJECT,array('size'=>40,'maxlength'=>128,'class'=>'form-control'))?>
                                                            </div>
                                                        </div>
                                                  <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Source Account'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                            <div class="col-md-9">
                                                            <?php  echo $this->formApp("SELECT_ACCTSRC", $this->AccArr, $this->ACCTSRC, "ACCTSRC",array('class'=>'form-control'));	?>
        													
                                                            </div>
                                                        </div>
                                                  
                                                        
                    </div>
                   </div> 
										
									</fieldset>
								</td>
							</tr>
							<tr><td colspan="2">&nbsp;</td></tr>
							<tr>
								<td valign="top">
									<img src="/images/img_two.gif" height="47" width="49">
								</td>
								<td style="height: 47px; vertical-align: middle;" nowrap="nowrap">
									<fieldset>
										<legend><span class="texthistory"><b><?php echo $this->language->_('File Detail'); ?></b></span></legend>
										
										<div class="portlet-body form">
                      
                    	<div class="portlet-body form">
                                                <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('File to Upload'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                            <div class="col-md-9">
                                                            <img src="/images/img_excel.gif" height="47" width="49">
															<input name="CSV_FILE" size="30" class="form-control" onkeypress="return noSpecialChar(event);" type="file">
															<br>
                                                            </div>
                                                        </div>
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Payment Date'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                            <div class="col-md-9" align="left">
                                                            <div class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+1d">
                                                        <input name="PSEFDATE" id="PSEFDATE" value="<?php echo $this->PSEFDATE?>" type="text" class="form-control" readonly>
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button" style="height: 34px">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                            
                                                            </div>
                                                        </div>
                                                  
                                                        
                    </div>
                   </div> 
										
										
									</fieldset>
								</td>
							</tr>
						  <tr>
							<td>&nbsp;</td>
							<td class="button-area" id="button-area" colspan="2">
								<div class="formbutton">
									<input class="btn btn-warning" value="<?php echo $this->language->_('Cancel')?>" onclick="location.href='/home/index'" type="button">
									<input type="submit" class="btn btn-warning" name="submit" value="<?php echo $this->language->_('Submit')?>"/>
								</div>
							</td>
						  </tr>
						</tbody>
					</table>
				
</form>
</div> -->
