<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?=$this->language->_('Utilities')?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas" ><?=$this->language->_('PGP Key Management')?></span>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="portlet-body form">
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
	<div class="row">
	<div class="portlet-body form col-md-8">
    <h5><?php echo $this->language->_('PGP Key Management'); ?></h5>
    <br>
                    	<strong><?php echo $this->language->_('Filter'); ?>:</strong>
                    	<div class="portlet-body form">
                    	                          <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('File Name') ?></label>
                                                            <div class="col-md-9">
                                                            <?php  echo $this->formText('SEARCH_TEXT',$this->SEARCH_TEXT,array('maxlength'=>'20','size'=>'50','class'=>'form-control')); ?>
                                                            </div>
                                                 </div>
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Uploaded By') ?></label>
                                                            <div class="col-md-9">
                                                            <?php
                                            					echo $this->formSelect('UPLOADED_BY',$this->UPLOADED_BY,array('class'=>'form-control'),$this->listCustId);
                                            				?>
                                                            </div>
                                                 </div>
                                                 <div class="form-group row " style="display:none;">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Uploaded Date') ?></label>
                                                            <div class="col-md-9">
                                                            <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="dd/mm/yyyy">

                                                                <input type="text" class="form-control" name="DATE_START" id="DATE_START" value="<?php echo $this->DATE_START?>">
                                                                <span class="input-group-addon">  &nbsp; <?php echo $this->language->_('To'); ?> &nbsp; </span>
                                                                <input type="text" class="form-control" name="DATE_END" id="DATE_END" value="<?php echo $this->DATE_END?>"> </div>
                                                            </div>
                                                 </div>




                               </div>
                               </div>
            <div class="col-md-4">
            </div>

	</div>
	<br/>
	<table cellpadding="3" cellspacing="0" border="0" >
		<tr>
			<td colspan="3" align="left" class="">
				<?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
				<?php echo $this->formButton('filter_clear',$this->language->_('Clear Filter'),array('class'=>'btnwhite hov','onclick'=>'javascript:window.location.href="/'.$this->params['module'].'/'.$this->params['controller'].'"')); ?>
			</td>
		</tr>
	</table>
	<br />

	<?php
	$addkey = array('module'=>'tools','controller'=>$this->controllername,'action'=>'addallkey');
	?>
	<input class = "btngreen hov" type="button" onclick="location.href='<?=$this->url($addkey,null,true)?>'" value = "<?php echo $this->language->_('Add Key')?>">

	<br><br>


<br>
<div class="table-responsive">
	<table width="100%" cellpadding="2" style="background-color:white" class="table table-sm table-striped">
		<tr height="45px" class="headercolor">
			<?php
				echo $this->partial('tableheader.phtml',array(
																'fields' => $this->fields,
																'sortBy' => $this->sortBy,
																'sortDir' => $this->sortDir,
																'query_string_params' => $this->query_string_params
															)
									);
			?>
		</tr>
		<?php
			if(count($this->paginator))
			{
				$i = 0;
				foreach($this->paginator as $row)
				{
					$td_css = ($i%2 == 0)?' tbl-evencontent' : 'tbl-oddcontent';

					$button 	= '<a href="'.$this->url(array('module'=>'tools','controller'=>'pgpkeymanagement','action'=>'index','filter'=>'download','FILE_ID'=>$row['FILE_ID'],'KEY'=>'PUB'),null,true).'">'.$row['FILE_NAME_PUB'].'</a>';
					$buttonPriv = '<a href="'.$this->url(array('module'=>'tools','controller'=>'pgpkeymanagement','action'=>'index','filter'=>'download','FILE_ID'=>$row['FILE_ID'],'KEY'=>'PRIV'),null,true).'">'.$row['FILE_NAME_PRIV'].'</a>';

					$buttonDelete = $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'delete','file_id'=>$row['FILE_ID']),null,true);
					$buttonDelete =  '<input class = "btngreen hov" type="button" onclick="javascript:confirmation(\''.$this->language->_('Are you sure want to delete this key').'?\',\''.$buttonDelete.'\');" value = "'.$this->language->_('Delete').'">';

					echo '	<tr>
								<td class="' . $td_css . '">' . $button . '</td>
								<td class="' . $td_css . '">' . $buttonPriv . '</td>
								<td class="' . $td_css . '">' . $row['USER_FULLNAME'] . '</td>
								<td class="' . $td_css . '">' . Application_Helper_General::convertDate($row['FILE_UPLOADED_TIME'],$this->displayDateTimeFormat,$this->defaultDateFormat) . '</td>
								<td class="' . $td_css . '">' . $buttonDelete . '</td>
							</tr>';

					$i++;
				}
			}
			else
			{
				echo '<tr><td colspan="6" class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
			}
		?>
	</table>

</div>
<div align="right">
	<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
</div>
</form>
</div>
<br />
