<script type="text/javascript">
$(document).ready(function(){

    $('#fixTable').fixTableHeader();

    $("#searchtable").keyup(function() {
        var value = this.value.toLowerCase().trim();

        $("#myTable tr").each(function(index) {
            if (!index) return;
            $(this).find("td").each(function() {
                var id = $(this).text().toLowerCase().trim();
                var not_found = (id.indexOf(value) == -1);
                $(this).closest('tr').toggle(!not_found);
                return not_found;
            });
        });
    });

});
</script>

<style>
	a:hover {
	  color: #007bff;
	}

	.tbl-evencontent{
		color: #212529 !important;
	}

	.tbl-oddcontent{
		color: #212529 !important;
	}
	
</style>

	<div class="row">
		<div class="col-md-12">
			<form name="form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','sortby' => $this->sortBy,'sortdir' => $this->sortDir),null,true).$this->qstring?>" method="post">
				<h5 class="textBlack">Beneficiary Account Book</h5>
				<br>
				<div align="right">
					<table >
						<tr style="height:30px;" align="right">
							<td>
								<div class="input-group input-group-sm">
								<div class="input-group-prepend">
											<span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
										</div>
								<input type="text" class="search form-control" id="searchtable" placeholder="Search">
							</div>
							</td>
						</tr>
					</table>
				</div>
			</form>
		</div>
	</div>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<!-- <tr>
				<td>
				<div class="portlet-body form">
					<?php $bankname = $this->language->_('Bank Name'); ?>
    <?php $bankcode = $this->language->_('Bank Code'); ?>
    <?php $country = $this->language->_('Country'); ?>
    <?php $setfilter = $this->language->_('Set Filter'); ?>
    <?php $clearfilter = $this->language->_('Clear Filter'); ?>
						<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">

						  	<div class="panel panel-default">
							  	
							  	<div class="panel-heading">
									<strong><?php echo $this->language->_('Filter');?></strong>
								</div>
								<div class="panel-body">
									<div class="row col-md-12 form-group">
										<?php $bankname = $this->language->_('Beneficiary Account'); ?>
		    							<label class="control-label col-md-4"><?php echo $this->formLabel('bank_name',$bankname); ?></label>
		    							<div class="col-md-6">
					                		<?php echo $this->formText('benef_acct',$this->benef_acct,array('class'=>'form-control'))?>
					             		</div>

					              	</div>
					              	<div class="row col-md-12 form-group">
										<?php $bankcode = $this->language->_('Beneficiary Account Name'); ?>
		    							<label class="control-label col-md-4"><?php echo $this->formLabel('bank_name',$bankcode); ?></label>
		    							<div class="col-md-6">
					                		<?php echo $this->formText('benef_name',$this->benef_name,array('class'=>'form-control'))?>
					             		</div>
					              	</div>

								</div>
							</div>

						   <table cellpadding="3" cellspacing="0" border="0" class="" width="100%">
						    <tr><td colspan="3" align="left">
						      <?php $setfilter = $this->language->_('Set Filter'); ?>
						      <?php $filter_clear = $this->language->_('Clear Filter'); ?>
						      <?php $nodata = $this->language->_('No Data'); ?>
							  <?php echo $this->formSubmit('filter',$setfilter,array('class'=>'btngreen hov')); ?>
							  <?php echo $this->formSubmit('filter_clear',$filter_clear,array('class'=>'btngreen hov')); ?>
						    </td></tr>
						  </table>
						</form>

					</div>
			</td>
			</tr> -->
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
			<td class="contentarea" id="contentarea">
<!-- <div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div> -->
<!-- <br /> -->
	<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
	<table  cellpadding="2" cellspacing="0"  class="table table-sm table-striped" id="myTable">
    <tr class="headercolor">
    	<th class="tablehead" width="3%" valign="top">No</th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>

    </tr>

    <?php
	$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

    if(count($this->paginator) > 0)
  {
          $i=0;

	  foreach($this->paginator as $row) {

		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

		$button = $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'suggestdelete','BENEFICIARY_ID'=>$row['BENEFICIARY_ID']),null,true);
		$button = '<a href="javascript:confirmation(\'Are you sure want to delete this benefiiary account?\',\''.$button.'\');" class="inputbtn">Delete</a>';

		$delete = '';
		if($row['BENEFICIARY_ISREQUEST_DELETE']) $delete = 'Request to delete';
		else $delete = $button;
		$approve = $row['BENEFICIARY_ISAPPROVE']?'Approved':'Not Approved';

		// <td class="'.$td_css.'">'.$row['BENEFICIARY_ALIAS'].'</td>

		$beneftype = $this->beneftype['desc'][$this->benefTypeFlip[$row['BENEFICIARY_TYPE']]];
		//echo '<pre>';
		//var_dump($row);

		echo '<tr>
				<td class="'.$td_css.'">'.$counter.'</td>
				<td class="'.$td_css.'">'.$row['BANK_NAME'].'</td>
				<td class="'.$td_css.'"><a href="javascript:doTransfer(\''.$row['BENEFICIARY_ACCOUNT'].'\', \''.$row['BENEFICIARY_ALIAS'].'\', \''.$row['BENEFICIARY_NAME'].'\', \''.$row['BENEFICIARY_EMAIL'].'\', \''.$row['BANK_CODE'].'\', \''.$row['BANK_NAME'].'\', \''.$row['BENEFICIARY_ADDRESS'].'\', \''.$row['BENEFICIARY_ADDRESS2'].'\', \''.$row['BENEFICIARY_CITIZENSHIP'].'\', \''.$row['BENEFICIARY_RESIDENT'].'\', \''.$row['BENEFICIARY_ID_TYPE'].'\', \''.$row['BENEFICIARY_ID_NUMBER'].'\', \''.$row['BENEFICIARY_CATEGORY'].'\', \''.$row['BENEFICIARY_CITY_CODE'].'\', \''.$row['BENEFICIARY_CITY'].'\')">'.$row['BENEFICIARY_ACCOUNT'].'</a></td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_NAME'].'</td>
				<td class="'.$td_css.'">'.$row['CURR_CODE'].'</td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_EMAIL'].'</td>
				<td class="'.$td_css.'">'.$beneftype.'</td>
			</tr>';

				$i++;
                $counter++;
  	  }
  }
  else {
		echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> - no data - </td></tr>';
	}
    ?>
</table>
</div>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />

			</td>
			</tr> 
		</tbody>
	</table>
		<script language="javascript" type="text/javascript">
	function doTransfer(ACBENEF, ACBENEF_ALIAS, ACBENEF_BANKNAME, ACBENEF_EMAIL, BANK_CODE, BANK_NAME,BENEF_ADDRESS,BENEF_ADDRESS2,BENEF_CITIZEN,BENEF_NATIONAL,BENEF_ID_TYPE,BENEF_ID_NUMBER,BENEF_CATEGORY,CITY_CODE,CITY)
	{
		window.opener.document.Form.ACBENEF.value 				= ACBENEF;
		//window.opener.document.Form.ACBENEF_ALIAS.value 		= ACBENEF_ALIAS;
		window.opener.document.Form.ACBENEF_BANKNAME.value 		= ACBENEF_BANKNAME;
		window.opener.document.Form.ACBENEF_EMAIL.value 		= ACBENEF_EMAIL;
		window.opener.document.Form.ACCT_BANK.value 			= BANK_CODE;
		window.opener.document.Form.BENEF_ACCT_BANK_CODE.value 			= BANK_NAME;
		
		window.opener.document.Form.ACBENEF_ADDRESS.value 			= BENEF_ADDRESS;
		window.opener.document.Form.ACBENEF_ADDRESS2.value 			= BENEF_ADDRESS2;
		window.opener.document.Form.ACBENEF_CITIZENSHIP_SELECT.value 			= BENEF_CITIZEN;
		window.opener.document.Form.ACBENEF_CITIZENSHIP.value 			= BENEF_CITIZEN;
		//LLD_BENEIDENTIF
		window.opener.document.Form.ACBENEF_RESIDENT_SELECT.value 			= BENEF_NATIONAL;
		window.opener.document.Form.ACBENEF_RESIDENT.value 			= BENEF_NATIONAL;
		window.opener.document.Form.LLD_BENEIDENTIF_SELECT.value 			= BENEF_ID_TYPE;
		window.opener.document.Form.LLD_BENEIDENTIF.value 			= BENEF_ID_TYPE;
		window.opener.document.Form.LLD_BENENUMBER.value 			= BENEF_ID_NUMBER;
		window.opener.document.Form.LLD_CATEGORY_SELECT.value 			= BENEF_CATEGORY;
		window.opener.document.Form.LLD_CATEGORY.value 			= BENEF_CATEGORY;
		
		if(BENEF_NATIONAL == 'R'){
			window.opener.document.Form.ACBENEF_RESIDENT_TEXT.value 			= 'Resident';
		}else{
			window.opener.document.Form.ACBENEF_RESIDENT_TEXT.value 			= 'Non Resident';
		}

		if(BENEF_CITIZEN == 'W'){
			window.opener.document.Form.ACBENEF_CITIZENSHIP_TEXT.value 			= 'WNI';
		}else{
			window.opener.document.Form.ACBENEF_CITIZENSHIP_TEXT.value 			= 'WNA';
		}
		
		window.opener.document.Form.CITY.value 			= CITY;
		//window.opener.document.Form.BENEF_ACCT_BANK_CODE.value 			= CITY;
		window.opener.document.Form.CITY_CODE.value 			= CITY_CODE;
		window.opener.document.Form.BANK_CITY.value 			= CITY_CODE;
		//window.opener.document.Form.CITY.value 			= CITY_CODE;
		
		
		if(BENEF_NATIONAL == 'NR'){
			window.opener.document.getElementById('LLDInfoID').style.display = "block";
		
		//window.opener.document.LLDInfoID.style.display = "none";
		
		}else{
				window.opener.document.getElementById('LLDInfoID').style.display = "none";
		}
		
		//disable button if get benef from account book

	  opener.focus();
	  self.close();
	}
	</script>
 
</form>
