<?= $this->headLink()->appendStylesheet($this->baseUrl('../iconnew/style.css')) ?>
<style>
  #backButton {
    border-radius: 4px;
    padding: 8px;
    border: none;
    font-size: 16px;
    background-color: #2eacd1;
    color: white;
    position: absolute;
    bottom: 12px;
    right: 10px;
    cursor: pointer;
  }

  .invisible {
    display: none;
  }

  td.rightalign{
    text-align: right;
  }

  .dataTable th {
    word-wrap: break-word;
  }

  table.dataTable thead th, table.dataTable thead td {
    padding: 10px 10px !important;
  }

  th.rotate {
    height: 150px;
    padding: 0px;
    font-weight: normal;
  }

  th.rotate>div {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
  }

  .textH {
    height: 150px;
    text-align: center;
  }

  /* tooltip */
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .gj-unselectable{
    color: #212529 !important;
  }
</style>
<link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.js"></script>

<?php $this->headScript()->appendFile($this->baseUrl('../assets/themes/assets/newlayout/css/canvajs.min.js')); ?>


<?php

?>

<!-- hitung aset deposit -->

<script>
    $(document).ready(function() {

      $('#buttonsave').click(function() {

        var startdate = document.getElementById("PS_EFDATE1").value;
        var enddate = document.getElementById("PS_ENDDATEPERIODIC").value;

        if(startdate && enddate){
          monthChange();
        }
        else{
          alert("Please fill Start Date & End Date!");
        }

      });

      $('#buttoncancel').click(function() {

        var startdate = document.getElementById("PS_EFDATE1").value;
        var enddate = document.getElementById("PS_ENDDATEPERIODIC").value;

        if(startdate && enddate){
          saveChartToFile();
        }
        else{
          alert("Please fill Start Date & End Date!");
        }

      });

    });


    function setDateto(val){
        $("#PS_ENDDATEPERIODIC").val(val);
        // document.getElementById('history_to').value = val;
    }

    function setDatefrom(val){
        $("#PS_EFDATE1").val(val);

        // document.getElementById('history_from').value = val;
    }
  </script>

<?php $nodata = $this->language->_('No Data'); ?>
<?php
require_once 'General/SystemBalance.php';
?>


<!-- <div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span>Report</span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="inhouse"><?=$this->language->_('Billing Console')?></span>
                  </li>

              </ul>
          </div>
        </div>
</div> -->

<div class="row">
  <div class="col-md-12">

    <h6><?= $this->language->_('Billing Console') ?></h6>
    <!-- <h6 class="textGray"><?= $this->language->_('Company monthly billing costs base on each service use') ?></h6> -->
    <br>

  </div>

  <div class="col-md-12">
    <div style="margin-left: 0px !important;" class="row">
      <!-- <select name="billingMonth" class="form-control col-md-3 ml-3" style="font-size: 15px;" onChange="monthChange(this)">
        <?php echo $this->optMonth; ?>
      </select> -->
      <label class="homeCardText"><?= $this->language->_('Period') ?></label>
      <div class="col-md-2">
        <input type="text" class="form-control" name="PS_EFDATE1" id="PS_EFDATE1" value="<?php echo $this->from; ?>" readonly>
        <script>
          $('#PS_EFDATE1').datepicker({
            maxDate: function() {
                var maxdate = new Date();
                maxdate.setDate(maxdate.getDate());
                return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
            },
            format: 'yyyy-mm-dd',
            uiLibrary: 'bootstrap4'
          });
        </script>
      </div>
      
      <label class="homeCardText"><?= $this->language->_('to') ?></label>
      <div class="col-md-2">
        <input type="text" class="form-control" name="PS_ENDDATEPERIODIC" id="PS_ENDDATEPERIODIC" value="<?php echo $this->to; ?>" readonly>
        <script>
          $('#PS_ENDDATEPERIODIC').datepicker({
            
            minDate: function() {
                      var val = document.getElementById('PS_EFDATE1').value;
                      var parts = val.split("-");
                      console.log(parts);
                      var mindate = new Date(parts[0], parts[1] - 1, parts[2]); 
                      mindate.setDate(mindate.getDate() + 1);
                      return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                      },
            maxDate: function() {
                var maxdate = new Date();
                maxdate.setDate(maxdate.getDate());
                return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
            },                            
            format: 'yyyy-mm-dd',
            uiLibrary: 'bootstrap4'
          });
        </script>
      </div>
      <?php echo $this->formSubmit('submit',$this->language->_('View'),array('class'=>'btnwhite hov', 'id' => 'buttonsave', "style" => "margin-top: -5px !important;")); ?>
      
      <form id="exportForm" method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => 'index', 'action' => 'index'), null, true) ?>">
          <button type="button" name="pdf" id="buttoncancel" value="PDF" title="Print PDF" class="btn-sm hov pdf" style="width: 40px;margin-top: -10px !important;margin-left: 10px !important;
                                                height: 40px;
                                                background-image: linear-gradient(#ffffff,#ffffff);
                                                border-radius: 100%; border-style: double; cursor: pointer;"><span class="icon-printer"></span></button>

          <input type="hidden" name="month" id="hiddenMonth" value="<?php echo date('Y-m') ?>">
          <input type="hidden" name="assetsChartBase64" id="assetsChartBase64">
        </form>
      <!-- <div class="col-md-2">
        
      </div> -->
      <div class="col-md-5">
        <h5 class="homeCardText text-black-50" style="text-align: right !important;" id="totalprice">Total: IDR <?php echo Application_Helper_General::displayMoney($this->totalprice); ?></h5>
      </div>

    </div>
  </div>
  <br>
  <br>

  <!-- chart -->
  <div id="networth2" class="col-md-5 ">
    <div id="chartContainer" style="height: 400px; width: 100%;"></div>
    <button class="btn invisible" id="backButton">
      < Back</button> </div> <!-- table -->
        <div id="networth1" class="col-md-7">
          <!-- <h5 class="homeCardText"><?= $this->language->_('Monthly Spend') ?></h5>
              <span>Welcome to the Account Billing console. Your current monthly balance appears below proportion of costs spent for each service you use.</span> -->

          <!-- <h2 class="homeCardText" style="text-align: center;"> IDR <?php echo Application_Helper_General::displayMoney($this->totalprice); ?></h2>
              <br/> -->


          

          <table width="100%" cellspacing="0" class="table table-sm table-striped dataTable table-bordered">
            <thead>
              <tr>
                <th class="headercolor tablehead fth-header rotate" id="tbl-headercontent">
                  <div>
                    <div class="textH"><?= $this->language->_('Bank Name') ?></div>
                  </div>
                </th>
                <th class="headercolor tablehead fth-header rotate" id="tbl-headercontent">
                  <div>
                    <div class="textH">Check Balance</div>
                  </div>
                </th>
                <th class="headercolor tablehead fth-header rotate" id="tbl-headercontent">
                  <div>
                    <div class="textH">Real Time Transfer</div>
                  </div>
                </th>
                <th class="headercolor tablehead fth-header rotate" id="tbl-headercontent">
                  <div>
                    <div class="textH">SKN Transfer</div>
                  </div>
                </th>
                <th class="headercolor tablehead fth-header rotate" id="tbl-headercontent">
                  <div>
                    <div class="textH">RTGS Transfer</div>
                  </div>
                </th>
                <th class="headercolor tablehead fth-header rotate" id="tbl-headercontent">
                  <div>
                    <div class="textH">Inhouse Beneficiary Name Inquiry</div>
                  </div>
                </th>
                <th class="headercolor tablehead fth-header rotate" id="tbl-headercontent">
                  <div>
                    <div class="textH">Interbank Beneficiary Name Inquiry</div>
                  </div>
                </th>
              <!--   <th class="headercolor tablehead fth-header rotate" id="tbl-headercontent">
                  <div>
                    <div class="textH">Beneficiary Name Inquiry</div>
                  </div>
                </th> -->
                <th class="headercolor tablehead fth-header rotate" id="tbl-headercontent">
                  <div>
                    <div class="textH">Unified Statement</div>
                  </div>
                </th>
                
              </tr>
            </thead>
            <tbody id="tableBody">
              <?php
              $i = 0;
              if (!empty($this->dataTable)) {
                 //price
                $p_balance = $this->priceTable['BALANCE_INQUIRY'];
                $p_pb = $this->priceTable['INHOUSE_TRANSFER'];
                $p_online = $this->priceTable['ONLINE_TRANSFER'];
                $p_skn = $this->priceTable['SKN_TRANSFER'];
                $p_rtgs = $this->priceTable['RTGS_TRANSFER'];
                $p_interbenefinquiry = $this->priceTable['INTERBANK_BENEF_INQUIRY'];
                $p_statement = $this->priceTable['ACCOUNT_STATEMENT'];
                $p_inhousebenefinquiry = $this->priceTable['INHOUSE_BENEF_INQUIRY'];
                foreach ($this->dataTable as $key => $d_value) {
                  $balance = 0;
                  $pb = 0;
                  $online = 0;
                  $skn = 0;
                  $rtgs = 0;
                  $interbenefinquiry = 0;
                  $statement = 0;
                  $inhousebenefinquiry = 0;
                 
                 
                  foreach ($d_value as $ht => $ht_value) {
                    $this->serviceType[$ht] == 'balance' ? $balance = $ht_value[0] : '';
                    $this->serviceType[$ht] == 'pb' ? $pb = $ht_value[0] : '';
                    $this->serviceType[$ht] == 'online' ? $online = $ht_value[0] : '';
                    $this->serviceType[$ht] == 'skn' ? $skn = $ht_value[0] : '';
                    $this->serviceType[$ht] == 'rtgs' ? $rtgs = $ht_value[0] : '';
                    $this->serviceType[$ht] == 'interbenefinquiry' ? $interbenefinquiry = $ht_value[0] : '';
                    $this->serviceType[$ht] == 'statement' ? $statement = $ht_value[0] : '';
                    $this->serviceType[$ht] == 'inhousebenefinquiry' ? $inhousebenefinquiry = $ht_value[0] : '';

                    // $this->serviceType[$ht] == 'balance' ? $p_balance = $ht_value[1] : '';
                    // $this->serviceType[$ht] == 'pb' ? $p_pb = $ht_value[1] : '';
                    // $this->serviceType[$ht] == 'online' ? $p_online = $ht_value[1] : '';
                    // $this->serviceType[$ht] == 'skn' ? $p_skn = $ht_value[1] : '';
                    // $this->serviceType[$ht] == 'rtgs' ? $p_rtgs = $ht_value[1] : '';
                    // $this->serviceType[$ht] == 'interbenefinquiry' ? $p_interbenefinquiry = $ht_value[1] : '';
                    // $this->serviceType[$ht] == 'statement' ? $p_statement = $ht_value[1] : '';
                    // $this->serviceType[$ht] == 'inhousebenefinquiry' ? $p_inhousebenefinquiry = $ht_value[1] : '';
                  }
                  $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
                  echo '<tr>  
                              <td class="' . $td_css . '">' . $this->DEBIT_BANKarr[$key] . '</td>
                              <td class="' . $td_css . ' rightalign"><p data-toggle="tooltip" data-html="true" title="' . Application_Helper_General::displayMoney($p_balance * $balance) . '<br>' . Application_Helper_General::displayMoney($p_balance) . '/HIT">' . number_format($balance) . '</p></td>
                              <td class="' . $td_css . ' rightalign"><p data-toggle="tooltip" data-html="true" title="' . Application_Helper_General::displayMoney($p_online * $online) . '<br>' . Application_Helper_General::displayMoney($p_online) . '/HIT">' . number_format($online) . '</p></td>
                              <td class="' . $td_css . ' rightalign"><p data-toggle="tooltip" data-html="true" title="' . Application_Helper_General::displayMoney($p_skn * $skn) . '<br>' . Application_Helper_General::displayMoney($p_skn) . '/HIT">' . number_format($skn) . '</p></td>
                              <td class="' . $td_css . ' rightalign"><p data-toggle="tooltip" data-html="true" title="' . Application_Helper_General::displayMoney($p_rtgs * $rtgs) . '<br>' . Application_Helper_General::displayMoney($p_rtgs) . '/HIT">' . number_format($rtgs) . '</p></td>
                              <td class="' . $td_css . ' rightalign"><p data-toggle="tooltip" data-html="true" title="' . Application_Helper_General::displayMoney($p_inhousebenefinquiry * $inhousebenefinquiry) . '<br>' . Application_Helper_General::displayMoney($p_inhousebenefinquiry) . '/HIT">' . number_format($inhousebenefinquiry) . '</p></td>
                              <td class="' . $td_css . ' rightalign"><p data-toggle="tooltip" data-html="true" title="' . Application_Helper_General::displayMoney($p_interbenefinquiry * $interbenefinquiry) . '<br>' . Application_Helper_General::displayMoney($p_interbenefinquiry) . '/HIT">' . number_format($interbenefinquiry) . '</p></td>
                              <td class="' . $td_css . ' rightalign"><p data-toggle="tooltip" data-html="true" title="' . Application_Helper_General::displayMoney($p_statement * $statement) . '<br>' . Application_Helper_General::displayMoney($p_statement) . '/HIT">' . number_format($statement) . '</p></td>
                        </tr>';
                  $i++;
                  // <td class="' . $td_css . '"><p data-toggle="tooltip" data-html="true" title="' . Application_Helper_General::displayMoney($p_interbenefinquiry * $interbenefinquiry) . '<br>' . Application_Helper_General::displayMoney($p_interbenefinquiry) . '/HIT">' . number_format($interbenefinquiry) . '</p></td>
                  
                }
              } else {
                echo '<tr><td colspan="8" align="center">---- No Data ----</td></tr>';
              }
              ?>
            </tbody>
          </table>
          <label>* <?= $this->language->_('total number of hits per service') ?></label>
        </div>

        <div style="display:none" class="col-md-8" id="assets2">

          <br><br>
          <div class="content-box">
            <table class="" width="100%">
              <tr>
                <td>
                  <h6><strong>TOTAL ASSETS</strong>
                </td>
                </h6>
                <td align="right">
                  <h5>
                    <span>IDR </span>
                    <span></span>
                    <span id="totalasset">
                      <strong>
                        <?php
                        $totalassets = $mainassets + $externalassets;
                        $totalassets = number_format($totalassets, 0, '.', '.');
                        echo $totalassets;
                        ?>
                      </strong>
                    </span>
                  </h5>

                </td>
              </tr>

            </table>
          </div>

        </div>

  </div>

  <?php

  if (!empty($this->hitlistbank)) {
    $datagraph = array();
    $totalhit = 0;
    $totalperbank = 0;
    foreach ($this->hitlistbank as $key => $value) {
      $totalhit += $value['TOTALHIT'];
    }

    foreach ($this->hitlistbank as $key => $value) {

      foreach ($this->DEBIT_BANKarr as $test => $val) {
        if ($test == $value['DIGI_BANK']) {

          $price = $this->chargesFee[$this->serviceColumnName[$this->serviceType[$value['DIGI_SERVICE']]]];
          $totalsrv = $value['TOTALHIT'] * $price;
         
        }
      }

      $percentlabel = number_format(((int) $value['TOTALHIT'] / (int) $totalhit) * 100, 2);
      $datagraph[$key]['y'] = $percentlabel;
      $datagraph[$key]['toolTipContent'] = 'IDR '.Application_Helper_General::displayMoney($totalsrv);
      // $datagraph[$key]['legendText'] = $value['BANK_NAME'] . ' : ' . number_format($value['TOTALHIT']) . ' (' . number_format(((int) $value['TOTALHIT'] / (int) $totalhit) * 100, 2) . '%)';
      $datagraph[$key]['legendText'] = $value['BANK_NAME'];
      $datagraph[$key]['name'] = $value['BANK_NAME'];
      $datagraph[$key]['color'] = sprintf('#%06X', mt_rand(0, 0xFFFFFF));
    }
    $str = json_encode($datagraph);
    $str = str_replace('[', '', $str);
    $str = str_replace(']', '', $str);

    // echo $str;
  }

  ?>

  <script>
    window.onload = function() {

      var totalVisitors = 883000;
      var visitorsData = {
        "Service": [{
          click: visitorsChartDrilldownHandler,
          cursor: "pointer",
          explodeOnClick: false,
          // innerRadius: "75%",
          // legendMarkerType: "square",
          name: "New vs Returning Visitors",
          // radius: "100%",
          showInLegend: true,
          indexLabel: "{y}%",
          indexLabelPlacement: "inside",
          indexLabelFontColor: "white",
          indexLabelFontSize: 11,
          type: "doughnut",
          // radius: "150%",
          // innerRadius: "75%",
          dataPoints: [
            <?php echo $str; ?>
          ]
        }],
        <?php if (!empty($this->hitlistbank)) {


          $str = '';
          foreach ($this->hitlistbank as $key => $value) {

            $datagraphdetail = array();

            $strdata = '';
            foreach ($this->servicelist as $k => $val) {
              if ($value['DIGI_BANK'] == $val['DIGI_BANK']) {
                $datagraphdetail['y'] = (int) $val['TOTALHIT'];
                $service = array();
                // $service[1] = 'Balance Inquiry';
                // $service[2] = 'Register ';
                // $service[NULL] = 'Transfer';
                $datagraphdetail['name'] = $this->paramservice[$val['DIGI_SERVICE']];
                $datagraphdetail['indexLabel'] = $this->paramservice[$val['DIGI_SERVICE']] . ' : ' . $val['TOTALHIT'];
                $datagraphdetail['color'] = sprintf('#%06X', mt_rand(0, 0xFFFFFF));
                if (trim($strdata) == '') {
                  $strdata .= json_encode($datagraphdetail);
                } else {
                  $strdata .= ',' . json_encode($datagraphdetail);
                }
                unset($datagraphdetail);
              }
            }

            // $str = json_encode($datagraphdetail);
            // var_dump($strdata);
            // $str = str_replace('[', '', $str);
            // $str = str_replace(']', '', $str);
            if (!empty($this->hitlistbank[$key + 1])) {

        ?> "<?php echo $value['BANK_NAME']; ?>": [{
                color: "<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>",
                name: "<?php echo $value['BANK_NAME']; ?>",
                type: "doughnut",
                // indexLabelPlacement: "inside",
                showInLegend: true,
                dataPoints: [<?php echo $strdata; ?>]
              }],

            <?php
            } else {
            ?> "<?php echo $value['BANK_NAME']; ?>": [{
                color: "<?php echo sprintf('#%06X', mt_rand(0, 0xFFFFFF)); ?>",
                name: "<?php echo $value['BANK_NAME']; ?>",
                type: "doughnut",
                // indexLabelPlacement: "inside",
                showInLegend: true,
                dataPoints: [<?php echo $strdata; ?>]
              }]

        <?php
            }
          }
        }
        ?>


      };

      console.log(visitorsData["Service"]);

      var newVSReturningVisitorsOptions = {
        animationEnabled: true,
        theme: "light2",
        title: {
          text: ""
        },
        subtitles: [{
          text: "",
          backgroundColor: "#2eacd1",
          fontSize: 16,
          fontColor: "white",
          padding: 5
        }],
        legend: {
          verticalAlign: "bottom",
          fontFamily: "calibri",
          fontSize: 14,
          // itemTextFormatter: function (e) {
          //   console.log(e)
          //   return e.dataPoint.name + ": " + Math.round(e.dataPoint.y / totalVisitors * 100) + "%";  
          // }
        },
        data: []
      };

      var visitorsDrilldownedChartOptions = {
        animationEnabled: true,
        theme: "light2",
        axisX: {
          labelFontColor: "#717171",
          lineColor: "#a2a2a2",
          tickColor: "#a2a2a2"
        },
        axisY: {
          gridThickness: 0,
          includeZero: false,
          labelFontColor: "#717171",
          lineColor: "#a2a2a2",
          tickColor: "#a2a2a2",
          lineThickness: 1
        },
        data: []
      };

      var chart = new CanvasJS.Chart("chartContainer", newVSReturningVisitorsOptions);
      chart.options.data = visitorsData["Service"];
      chart.render();

      function visitorsChartDrilldownHandler(e) {
        chart = new CanvasJS.Chart("chartContainer", visitorsDrilldownedChartOptions);
        chart.options.data = visitorsData[e.dataPoint.name];
        chart.options.title = {
          text: e.dataPoint.name
        }
        chart.render();
        $("#backButton").toggleClass("invisible");
      }

      $("#backButton").click(function() {
        $(this).toggleClass("invisible");
        chart = new CanvasJS.Chart("chartContainer", newVSReturningVisitorsOptions);
        chart.options.data = visitorsData["Service"];
        chart.render();
      });

    }

    function saveChartToFile() {

      // var value = $('#hiddenMonth').val();

      // var dataString = 'value=' + value;

      var enddate = document.getElementById("PS_ENDDATEPERIODIC").value;
      var startdate = document.getElementById("PS_EFDATE1").value;

      console.log(startdate);
      console.log(enddate);

      $.ajax({
        url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'changemonth'), null, true) ?>",
        type: "GET",
        // data: dataString,
        dataType: "html",
        data: {
              startdate: startdate,
              enddate: enddate
          },

        // cache: false,
        success: function(data) {
          var dataArr = JSON.parse(data);

          var visitorsData = JSON.parse(dataArr.visitorsdata);

          //--------------------chart-------------------------
          var totalVisitors = 883000;

          var newVSReturningVisitorsOptions = {
            // animationEnabled: true,
            theme: "light2",
            title: {
              text: ""
            },
            subtitles: [{
              text: "",
              backgroundColor: "#2eacd1",
              fontSize: 16,
              fontColor: "white",
              padding: 5
            }],
            legend: {
              verticalAlign: "bottom",
              fontFamily: "calibri",
              fontSize: 14,
              // itemTextFormatter: function (e) {
              //   return e.dataPoint.name + ": " + Math.round(e.dataPoint.y / totalVisitors * 100) + "%";  
              // }
            },
            data: []
          };

          // var chart = new CanvasJS.Chart("chartContainer", newVSReturningVisitorsOptions);
          // chart.options.data = visitorsData["Service"];
          // showDefaultText(chart, "No Data available");
          // chart.render();

          // var chart = document.getElementById('chartContainer');
          // var base64Image = chart.canvas.toDataURL();

          var canvas = $(".canvasjs-chart-canvas").get(0);
          var base64Image = canvas.toDataURL('image/jpeg');

          console.log(base64Image);

          $('#assetsChartBase64').val(base64Image);

          var input = $("<input>")
            .attr("type", "hidden")
            .attr("name", "pdf").val("PDF");

          var input1 = $("<input>").attr("type", "hidden").attr("name", "startdate").val(startdate);
          var input2 = $("<input>").attr("type", "hidden").attr("name", "enddate").val(enddate);

          $('#exportForm').append(input);
          $('#exportForm').append(input1);
          $('#exportForm').append(input2);

          $('#exportForm').submit();

        },
        error: function(data) {
          alert("Failed to get data");
        }
      });


    }

    function monthChange() {
      // var value = $(selected).val();

      // console.log(value);

        var enddate = document.getElementById("PS_ENDDATEPERIODIC").value;
        var startdate = document.getElementById("PS_EFDATE1").value;

        console.log(startdate);
        console.log(enddate);

      // $('#hiddenMonth').val(value);

      // var dataString = 'value=' + value;

      $.ajax({
        url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'changemonth'), null, true) ?>",
        type: "GET",
        dataType: "html",
        // data: dataString,
        data: {
              startdate: startdate,
              enddate: enddate
          },
        // cache: false,
        success: function(data) {
          var dataArr = JSON.parse(data);

          var visitorsData = JSON.parse(dataArr.visitorsdata);

          console.log(dataArr.tableData);

          //--------------------chart-------------------------
          var totalVisitors = 883000;

          var newVSReturningVisitorsOptions = {
            animationEnabled: true,
            theme: "light2",
            title: {
              text: ""
            },
            subtitles: [{
              text: "",
              backgroundColor: "#2eacd1",
              fontSize: 16,
              fontColor: "white",
              padding: 5
            }],

            legend: {
              verticalAlign: "bottom",
              fontFamily: "calibri",
              fontSize: 14,
              itemTextFormatter: function(e) {
                return e.dataPoint.name + ": " + Math.round(e.dataPoint.y / totalVisitors * 100) + "%";
              }
            },
            data: []
          };

          var visitorsDrilldownedChartOptions = {
            animationEnabled: true,
            theme: "light2",
            axisX: {
              labelFontColor: "#717171",
              lineColor: "#a2a2a2",
              tickColor: "#a2a2a2"
            },
            axisY: {
              gridThickness: 0,
              includeZero: false,
              labelFontColor: "#717171",
              lineColor: "#a2a2a2",
              tickColor: "#a2a2a2",
              lineThickness: 1
            },
            data: []
          };

          var chart1 = new CanvasJS.Chart("chartContainer", newVSReturningVisitorsOptions);
          chart1.options.data = visitorsData["Service"];
          showDefaultText(chart1, "No Data available");
          chart1.render();

          function visitorsChartDrilldownHandler(e) {
            chart = new CanvasJS.Chart("chartContainer", visitorsDrilldownedChartOptions);
            chart.options.data = visitorsData[e.dataPoint.name];
            chart.options.title = {
              text: e.dataPoint.name
            }
            chart.render();
            $("#backButton").toggleClass("invisible");
          }

          $("#backButton").click(function() {
            $(this).toggleClass("invisible");
            chart = new CanvasJS.Chart("chartContainer", newVSReturningVisitorsOptions);
            chart.options.data = visitorsData["Service"];
            chart.render();
          });

          //--------------------end chart-------------------------

          //-----------------table------------------
          $('#tableBody').html(dataArr.tableData);

          //total
          $('#totalprice').html(dataArr.totalprice);
          $('[data-toggle="tooltip"]').tooltip();
        },
        error: function(data) {
          alert("Failed to get data");
        }
      });

    }

    function showDefaultText(chart, text) {

      var isEmpty = !(chart.options.data[0].dataPoints && chart.options.data[0].dataPoints.length > 0);

      if (!chart.options.subtitles)
        (chart.options.subtitles = []);

      if (isEmpty) {
        $('.pdf').prop('disabled', true);
        chart.options.subtitles.push({
          text: text,
          verticalAlign: 'center',
        });
      } else {
        $('.pdf').prop('disabled', false);
        (chart.options.subtitles = []);
      }
    }

    //datatables
    $(document).ready(function() {

      $('.dataTable').DataTable({
        "searching": false,
        "bLengthChange": false,
        "bInfo": false,
        columnDefs: [{
          orderable: false,
          targets: [0, 1, 2, 3, 4, 5, 6, 7, 8]
        }],
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>