<?php

$counter = (($this->currentPage - 1) * $this->paginator->getItemCountPerPage()) + 1;
?>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('Report'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?php echo $this->language->_('Transaction Report'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?php echo $this->language->_('VA Cash In Report'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?php echo $this->language->_('VA Payment'); ?></span>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="row col-md-12 d-flex justify-content-center">
	<button type="button" onclick="location.href='/generalsetting/foappsetting'" class="btngreen hov col-md-3" name="button">VA Payment</button>
	<button type="button" onclick="location.href='/generalsetting/fousersetting'" class="btnwhite hov col-md-3" name="button">VA Statement</button>
	<button type="button" onclick="location.href='/generalsetting/templatesetting'" class="btnwhite hov col-md-3" name="button">VA Summary</button>
</div>
<br>


<?php //if($this->hasPrivilege('cust_user_inp')){ 
?>

<?php //} 
?>


<form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => 'binreport', 'action' => 'index'), null, true) ?>" method="get">
	<table cellpadding="3" cellspacing="0" border="0" class="tableform">
		<tr>
			<th colspan="6" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('cid', $this->language->_('Company Code')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php //echo $this->formText('cid',$this->cid,array('class'=>'currency')); 
													echo $this->formSelect('cid', $this->cid, null, $this->custArr);
													?>
			</td>
		</tr>

		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('cname', $this->language->_('Company Name')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php echo $this->formText('cname', $this->cname, array('class' => 'currency')); ?></td>
		</tr>

		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('bin', $this->language->_('BIN')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4">
				<?php echo $this->formText('bin', $this->bin, array('maxlength' => 4, 'onfocus' => 'return forceNumberOCBC(event)', 'onblur' => 'return forceNumberOCBC(event)', 'onkeypress' => 'return forceNumberOCBC(event)')); ?>

			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('status', $this->language->_('Status')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php echo $this->formSelect('status', $this->status, null, $this->statusArr); ?></td>
		</tr>


		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('latestSuggestion', $this->language->_('Latest Suggestion')) ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" nowrap="nowrap">
				<?php echo $this->language->_('From') ?>&nbsp;&nbsp;<?php echo $this->datePicker("latestSuggestionFrom", $this->latestSuggestionFrom, array(
																		'dateFormat' => $this->jqueryDateFormat,
																		'defaultDate' => 'new Date()',
																		'showOn' => 'button',
																		'buttonImage' => '/images/calendar.gif',
																		'buttonImageOnly' => true,
																		'changeMonth' => true,
																		'changeYear' => true,
																		'clearAnotherField' => true,
																		'anotherField' => 'latestSuggestionTo',
																		'minDateID' => 'latestSuggestionTo',
																	)); ?>
				&nbsp;&nbsp;<?php echo $this->language->_('To') ?>&nbsp;&nbsp;<?php echo $this->datePicker("latestSuggestionTo", $this->latestSuggestionTo, array(
																					'dateFormat' => $this->jqueryDateFormat,
																					'defaultDate' => 'new Date()',
																					'showOn' => 'button',
																					'buttonImage' => '/images/calendar.gif',
																					'buttonImageOnly' => true,
																					'changeMonth' => true,
																					'changeYear' => true,
																					'clearAnotherField' => true,
																					'anotherField' => 'latestSuggestionFrom',
																					'maxDateID' => 'latestSuggestionFrom',
																				)); ?>
			</td>

			<td class="tbl-evencontent"><?php echo $this->formLabel('latestSuggestor', $this->language->_('Latest Suggester')) ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" nowrap="nowrap">
				<?php echo $this->formText('latestSuggestor', $this->latestSuggestor, null); ?>
			</td>
		</tr>


		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('latestApproval', $this->language->_('Latest Approval')) ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" nowrap="nowrap">
				<?php echo $this->language->_('From') ?>&nbsp;&nbsp;<?php echo $this->datePicker("latestApprovalFrom", $this->latestApprovalFrom, array(
																		'dateFormat' => $this->jqueryDateFormat,
																		'defaultDate' => 'new Date()',
																		'showOn' => 'button',
																		'buttonImage' => '/images/calendar.gif',
																		'buttonImageOnly' => true,
																		'changeMonth' => true,
																		'changeYear' => true,
																		'clearAnotherField' => true,
																		'anotherField' => 'latestApprovalTo',
																		'minDateID' => 'latestApprovalTo',
																	)); ?>
				&nbsp;&nbsp;<?php echo $this->language->_('To') ?>&nbsp;&nbsp;<?php echo $this->datePicker("latestApprovalTo", $this->latestApprovalTo, array(
																					'dateFormat' => $this->jqueryDateFormat,
																					'defaultDate' => 'new Date()',
																					'showOn' => 'button',
																					'buttonImage' => '/images/calendar.gif',
																					'buttonImageOnly' => true,
																					'changeMonth' => true,
																					'changeYear' => true,
																					'clearAnotherField' => true,
																					'anotherField' => 'latestApprovalFrom',
																					'maxDateID' => 'latestApprovalFrom',
																				)); ?>
			</td>

			<td class="tbl-evencontent"><?php echo $this->formLabel('latestApprover', $this->language->_('Latest Approver')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" nowrap="nowrap">
				<?php echo $this->formText('latestApprover', $this->latestApprover, null); ?>
			</td>
		</tr>




		<tr>
			<td colspan="6" align="left">
				<?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'inputbtn')); ?>
				<?php echo $this->formSubmit('filter_clear', $this->language->_('Clear Filter'), array('class' => 'inputbtn')); ?>
			</td>
		</tr>
	</table>
</form>

<br />
<br />
<div align="right" class="hidden">
	<form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">
		<?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) { ?>
			<?php echo $this->formSubmit('pdf', $this->language->_('PDF is Too Large (Function is Disabled)'), array('class' => 'inputbtn', 'disabled' => 'disabled')); ?>&nbsp;
		<?php } else { ?>
			<?php echo $this->formSubmit('pdf', 'PDF', array('class' => 'inputbtn')); ?>&nbsp;
		<?php } ?>
		<?php if ($this->paginator->getTotalItemCount() > $this->applicationSetting['max_row_download_csv']) { ?>
			<?php echo $this->formSubmit('csv', 'CSV is too large (function is disabled)', array('class' => 'inputbtn', 'disabled' => 'disabled')); ?>&nbsp;
		<?php } else { ?>
			<?php echo $this->formSubmit('csv', 'CSV', array('class' => 'inputbtn')); ?>&nbsp;
		<?php } ?>
		<input class="inputbtn" value="<?php echo $this->language->_('Print') ?>" onclick="window.print();" type="button">
	</form>
</div>

<div>
	<?php
	$buttonNew = $this->url(array('module' => $this->modulename, 'controller' => 'new', 'action' => 'index'), null, true);
	//$buttonNewHelp = $this->url(array('module'=>'createnewhelp','controller'=>'index','action'=>'index'),null,true);
	// echo $buttonNew = '<a href="'.$buttonNew.'" class="inputbtn">Create New Customer</a>';
	?>
	<?php
	//	   	if($this->hasPrivilege('BNAD'))
	//		{
	?>
	<!--  			<input type="button" class="inputbtn" value="<?php echo $this->language->_('Add') ?>" onclick="location.href='<?php echo $buttonNew; ?>'"> -->
	<?php //} 
	// 		else{
	// 			echo'<input type="button" class="inputbtn" value="Add" disabled> &nbsp;';	
	//		}
	?>

</div>
<br>
<div>
	<?php
	$buttonNewHelp = $this->url(array('module' => 'createnewhelp', 'controller' => 'index', 'action' => 'index'), null, true);
	?>

</div>
<br>

<?php if ($this->success) { ?>
	<div class="successmsg"><?= $this->customer_msg ?></div><br />
<?php } else if ($this->error) { ?>
	<div class="errmsg"><?= $this->customer_msg ?></div><br />
<?php } ?>


<div align="right"><?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?></div>
<br />
<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
	<tr>
		<th width="3%" valign="top">No</th>
		<?php echo $this->partial(
			'tableheader.phtml',
			array(
				'fields' => $this->fields,
				'sortBy' => $this->sortBy,
				'sortDir' => $this->sortDir,
				'query_string_params' => $this->query_string_params
			)
		) ?>
		<th valign="top"><?php echo $this->language->_('Action') ?></th>
	</tr>
	<?php
	if (count($this->paginator)) {
		$i = 0;
		foreach ($this->paginator as $row) {
			$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
			$buttonDetail = $this->url(array('module' => $this->modulename, 'controller' => 'detail', 'action' => 'index', 'cust_id' => $row['CUST_ID'], 'cust_bin' => $row['CUST_BIN']), null, true);
			$buttonDetail = '<a href="' . $buttonDetail . '">' . $this->language->_('Detail') . '</a>';
			//$buttonDetail = '<input type="button" class="inputbtn" value="Detail" onclick="location.href=\''.$buttonDetail.'\'">'; 

			/*if(strtoupper($row['CUST_STATUS']) == strtoupper($this->status_type['code']['approved']))
		  {
		    $status = $this->status_type['desc']['approved'];
		    if($this->hasPrivilege('cust_user_inp'))
		    {
		      $button2 = $this->url(array('module'=>$this->modulename,'controller'=>'deactivate','action'=>'index','cust_id'=>$row['CUST_ID']),null,true);
		      $button2 = '&nbsp;&nbsp;<a href="javascript:confirmation(\'Are you sure want to deactivate this Customer?\',\''.$button2.'\');" class="inputbtn">Suspended</a>';
		    }
		  }
		  else if(strtoupper($row['CUST_STATUS'])==strtoupper($this->status_type['code']['suspended']))
		  {
		  	$status = $this->status_type['desc']['suspended'];
		  	if($this->hasPrivilege('cust_user_inp'))
		  	{
		  	  $button2 = $this->url(array('module'=>$this->modulename,'controller'=>'activate','action'=>'index','cust_id'=>$row['CUST_ID']),null,true);
		  	  $button2 = '&nbsp;&nbsp;<a href="javascript:confirmation(\'Are you sure want to activate this Customer?\',\''.$button2.'\');" class="inputbtn">Unsuspend</a>';
		  	}
		  }*/

			$country_code = '';
			if ((!is_null($row['COUNTRY_CODE']) || $row['COUNTRY_CODE'] != '') && isset($this->countryArr[$row['COUNTRY_CODE']])) {
				$country_code = $this->countryArr[$row['COUNTRY_CODE']];
			}


			echo '<tr>
              	  <td class="' . $td_css . '">' . $counter . '</td>
				  <td class="' . $td_css . '">' . $row['CUST_ID'] . '</td>
				  <td class="' . $td_css . '">' . $row['CUST_NAME'] . '</td>
				  <td class="' . $td_css . '">' . $row['CUST_BIN'] . '</td>
				  <td class="' . $td_css . '">' . $this->language->_($this->statusDesc[$this->statusCode[$row['CUST_BIN_STATUS']]]) . '</td>
				  <td class="' . $td_css . '">' . Application_Helper_General::convertDate($row['BIN_SUGGESTED'], $this->displayDateTimeFormat, $this->defaultDateFormat) . '</td>
				  <td class="' . $td_css . '">' . $row['BIN_SUGGESTEDBY'] . '</td>
				  <td class="' . $td_css . '">' . Application_Helper_General::convertDate($row['BIN_UPDATED'], $this->displayDateTimeFormat, $this->defaultDateFormat) . '</td>
				  <td class="' . $td_css . '">' . $row['BIN_UPDATEDBY'] . '</td>
				  <td class="' . $td_css . '" >' . $buttonDetail . '</td>
				</tr>';
			$i++;
			$counter++;
		}
	} else {
		echo '<tr><td colspan="9" class="tbl-evencontent" align="center">' . $this->language->_('No Data') . '</td></tr>';
	}
	?>
</table>
<br />
<div align="right"><?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?></div>