<style>
	table td {
		vertical-align: top !important;
	}

	button.is-invalid {
		border-color: #dc3545 !important;
	}

	.input-medium {
		width: 320px !important;
	}

	.input-date {
		width: 120px !important;
	}

	.input-file {
		width: 100% !important;
		padding-left: 0;
		padding-right: 0;
	}

	.gj-datepicker {
		width: 160px !important;
	}

	.input-group-prepend,
	.input-group-append {
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%) !important;
	}

	.headercolor {
		color: #fff;
		background-color: #0b549f !important;
	}

	.btn-sm {
		height: 29px !important;
		padding: .10rem .5rem !important;
		border-color: #ccc !important;
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%) !important;
	}

	.btn-light {
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%);
	}

	.select2-container {
		padding: 0 !important;
	}
</style>

<h5><?= $this->language->_('View Line Facility Changes'); ?></h5>

<form action="" method="post" enctype="multipart/form-data">
	<div class="row content-box mb-3">
		<div class="col-md-12">
			<table class="table-hover my-3" cellpadding="5" style="width:100%">
				<tr>
					<td width="200"><?= $this->language->_('Customer'); ?></td>
					<td width="10">:</td>
					<td><b><?= strtoupper($this->data['CUST_NAME']) . ' (' . $this->data['CUST_ID'] . ')'; ?></b></td>
				</tr>
				<tr>
					<td><?= $this->language->_('Collectibility Code'); ?></td>
					<td>:</td>
					<?php $collect_code_val = $this->collect_code ?: $this->data['COLLECTIBILITY_CODE']; ?>
					<td>
						<label><?= $this->data['COLLECTIBILITY_CODE'] . ' - ' . $this->creditArr[$this->data['COLLECTIBILITY_CODE']]; ?></label>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Segmentation'); ?></td>
					<td>:</td>
					<?php $cust_segment_val = $this->cust_segment ?: $this->data['CUST_SEGMENT']; ?>
					<td>
						<?php if ($this->data['CUST_SEGMENT'] == 4) : ?>
							<label>FINANCIAL INSTITUTION</label>
							<?= $this->formHidden('cust_segment', $cust_segment_val); ?>
						<?php else : ?>
							<select name="cust_segment" id="cust_segment" class="form-control" style="width:100%">
								<option value="">-- <?= strtoupper($this->language->_('Select Segmentation')); ?> --</option>
								<?php foreach ($this->segmentationArr as $key => $value) : ?>
									<option value="<?= $key; ?>" <?= ($cust_segment_val == $key) ? 'selected' : ''; ?>><?= $value; ?></option>
								<?php endforeach; ?>
							</select>
							<small class="text-danger"><?= $this->errDesc['cust_segment']; ?></small>
						<?php endif; ?>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Jenis Pengikatan'); ?></td>
					<td>:</td>
					<?php $agreement_type_val = $this->agreement_type ?: $this->data['AGREEMENT_TYPE']; ?>
					<td>
						<?php if ($this->data['CUST_MODEL'] == 2) : ?>
							<label>LAINNYA</label>
							<?= $this->formHidden('agreement_type', 99); ?>
						<?php else : ?>
							<select name="agreement_type" id="agreement_type" class="form-control" style="width:100%">
								<option value="">-- <?= strtoupper($this->language->_('Select Jenis Pengikatan')); ?> --</option>
								<?php foreach ($this->agreementArr as $key => $value) : ?>
									<option value="<?= $key; ?>" <?= ($agreement_type_val == $key) ? 'selected' : ''; ?>><?= $value; ?></option>
								<?php endforeach; ?>
							</select>
							<small class="text-danger"><?= $this->errDesc['agreement_type']; ?></small>
						<?php endif; ?>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Underlying Document'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<?php $pks_number_val = $this->pks_number ?: $this->data['PKS_NUMBER']; ?>
					<td>
						<?= $this->formText('pks_number', $pks_number_val, ['class' => 'form-control']); ?>
						<small class="text-danger"><?= $this->errDesc['pks_number']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Upload Document'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<td>
						<input type="file" name="pks_file" id="pks_file" class="form-control input-file input-medium">
						<small class="text-danger"><?= $this->errDesc['pks_file']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Facility Start Date'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<?php $pks_start_date_val = $this->pks_start_date ?: $this->data['PKS_START_DATE']; ?>
					<td>
						<input type="text" name="pks_start_date" id="pks_start_date" class="form-control input-date" value="<?= $pks_start_date_val; ?>" readonly>
						<small class="text-danger"><?= $this->errDesc['pks_start_date']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Facility Expired Date'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<?php $pks_exp_date_val = $this->pks_exp_date ?: $this->data['PKS_EXP_DATE']; ?>
					<td>
						<?= $this->formText('pks_exp_date', $pks_exp_date_val, ['class' => 'form-control input-date', 'readonly' => true]); ?>
						<small class="text-danger"><?= $this->errDesc['pks_exp_date']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Claim Payment Deadline (when default)'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<?php $claim_deadline_val = $this->claim_deadline ?: $this->data['CLAIM_DEADLINE']; ?>
					<td>
						<div class="d-flex">
							<?= $this->formText('claim_deadline', $claim_deadline_val, ['class' => 'form-control', 'type' => 'number', 'style' => 'width:160px']); ?>
							<span class="ml-3"><?= $this->language->_('day(s)'); ?></span>
						</div>
						<small class="text-danger"><?= $this->errDesc['claim_deadline']; ?></small>
					</td>
				</tr>
				<tr class="financial" style="display:none">
					<td><?= $this->language->_('Document Submission Deadline'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<?php $doc_deadline_val = $this->doc_deadline ?: $this->data['DOC_DEADLINE']; ?>
					<td>
						<div class="d-flex">
							<?= $this->formText('doc_deadline', $doc_deadline_val, ['class' => 'form-control', 'type' => 'number', 'style' => 'width:160px']); ?>
							<span class="ml-3"><?= $this->language->_('day(s)'); ?></span>
						</div>
						<small class="text-danger"><?= $this->errDesc['doc_deadline']; ?></small>
					</td>
				</tr>
				<tr class="financial" style="display:none">
					<td><?= $this->language->_('Fee Will be Debited from'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<?php $fee_debited_val = $this->fee_debited ?: $this->data['FEE_DEBITED']; ?>
					<td>
						<label class="radiocontainer"><?= $this->language->_('APPLICANT'); ?>
							<input type="radio" value="1" name="fee_debited" id="fee_debited_1" onclick="fee_debited_check()" <?= ($fee_debited_val == 1) ? 'checked' : '' ?> checked>
							<span class="checkmark"></span>
						</label>
						<label class="radiocontainer"><?= $this->language->_('FINANCE INSTITUTION'); ?>
							<input type="radio" value="2" name="fee_debited" id="fee_debited_2" onclick="fee_debited_check()" <?= ($fee_debited_val == 2) ? 'checked' : '' ?>>
							<span class="checkmark"></span>
						</label>
						<small class="text-danger"><?= $this->errDesc['fee_debited']; ?></small>
					</td>
				</tr>
				<tr class="institution" style="display:none">
					<td><?= $this->language->_('Debited Account'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<?php $debited_acct_val = $this->debited_acct ?: $this->data['DEBITED_ACCOUNT']; ?>
					<td>
						<select name="debited_acct" id="debited_acct" class="form-control">
							<option value="">-- <?= strtoupper($this->language->_('Select Debited Account')); ?> --</option>
							<?php foreach ($this->debitedAcctArr as $row) : ?>
								<option value="<?= $row['ACCT_NO']; ?>" <?= ($debited_acct_val == $row['ACCT_NO']) ? 'selected' : ''; ?>><?= $row['ACCT_NO'] . ' / ' . $row['CCY_ID'] . ' / ' . $row['ACCT_NAME'] . ' / ' . $row['ACCT_DESC']; ?></option>
							<?php endforeach; ?>
						</select>
						<small class="text-danger"><?= $this->errDesc['debited_acct']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Facility Plafond Limit'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<?php $plafond_limit_val = $this->plafond_limit ?: $this->data['PLAFOND_LIMIT']; ?>
					<td>
						<div class="input-group input-group-sm">
							<div class="input-group-prepend">
								<span class="input-group-text">IDR</span>
							</div>
							<?= $this->formText('plafond_limit', Application_Helper_General::displayMoney($plafond_limit_val), ['class' => 'form-control', 'onkeyup' => 'check_plafond_limit()', 'onfocus' => "iNumFrmtUS(this.value,this.id)", 'onblur' => "NumFrmtUS(this.value,this.id)"]); ?>
						</div>
					</td>
				</tr>
				<tr class="non-financial">
					<td><?= $this->language->_('Ticket Size'); ?></td>
					<td>:</td>
					<?php $ticket_size_val = $this->ticket_size ?: $this->data['TICKET_SIZE']; ?>
					<td>
						<div class="input-group input-group-sm">
							<div class="input-group-prepend">
								<span class="input-group-text">IDR</span>
							</div>
							<?= $this->formText('ticket_size', Application_Helper_General::displayMoney($ticket_size_val), ['id' => 'ticket_size_0', 'class' => 'form-control input-medium', 'readonly' => true, 'onfocus' => "iNumFrmtUS(this.value,this.id)", 'onblur' => "NumFrmtUS(this.value,this.id)"]); ?>
						</div>
						<small class="text-danger"><?= $this->errDesc['ticket_size']; ?></small>
					</td>
				</tr>
				<tr class="financial" style="display:none">
					<td><?= $this->language->_('Ticket Size'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<?php $ticket_size_val = $this->ticket_size ?: $this->data['TICKET_SIZE']; ?>
					<td>
						<label class="radiocontainer"><?= $this->language->_('10% from Plafond Limit'); ?>
							<input type="radio" value="1" name="ticket_size" id="ticket_size_1" <?= ($ticket_size_val == 1) ? 'checked' : '' ?>>
							<span class="checkmark"></span>
						</label>
						<label class="radiocontainer"><?= $this->language->_('Allowed to optimized Plafond Limit'); ?>
							<input type="radio" value="2" name="ticket_size" id="ticket_size_2" <?= ($ticket_size_val == 2) ? 'checked' : '' ?>>
							<span class="checkmark"></span>
						</label>
						<br>
						<small class="text-danger"><?= $this->errDesc['fee_debited']; ?></small>
					</td>
				</tr>
				<tr class="financial" style="display:none">
					<td><?= $this->language->_('Marginal Deposit'); ?>&nbsp;<small class="text-danger">*</small></td>
					<td>:</td>
					<?php $marginal_deposit_val = $this->marginal_deposit ?: $this->data['MARGINAL_DEPOSIT']; ?>
					<?php $ccy_val = $this->ccy ?: $this->data['MARGINAL_CCY']; ?>
					<td>
						<div class="input-group input-group-sm">
							<select name="ccy" id="ccy" class="form-control" style="background-color:#e9ecef" onchange="check_ccy()">
								<option value="IDR" <?= ($ccy_val == 'IDR') ? 'selected' : ''; ?>>IDR</option>
								<option value="% from Plafond" <?= ($ccy_val == '% from Plafond') ? 'selected' : ''; ?>>% from Plafond</option>
							</select>
							<?= $this->formText('marginal_deposit', Application_Helper_General::displayMoney($marginal_deposit_val), ['id' => 'marginal_deposit_1', 'class' => 'form-control', 'onkeyup' => 'check_marginal_deposit()', 'onfocus' => "iNumFrmtUS(this.value,this.id)", 'onblur' => "NumFrmtUS(this.value,this.id)"]); ?>
							<?= $this->formText('marginal_deposit', $marginal_deposit_val, ['id' => 'marginal_deposit_2', 'class' => 'form-control', 'onkeyup' => 'check_marginal_deposit()', 'style' => 'display:none']); ?>
						</div>
						<small class="text-danger" id="marginal_deposit_err"><?= $this->errDesc['marginal_deposit']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Bank Provision Fee'); ?></td>
					<td>:</td>
					<?php $fee_provision_val = $this->fee_provision ?: $this->data['FEE_PROVISION']; ?>
					<td>
						<div class="d-flex">
							<?= $this->formText('fee_provision', $fee_provision_val, ['class' => 'form-control', 'style' => 'width:160px']); ?>
							<span class="ml-3"><?= $this->language->_('% (from BG Nominal)'); ?></span>
						</div>
						<small class="text-danger"><?= $this->errDesc['fee_provision']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Bank Administration Fee'); ?></td>
					<td>:</td>
					<?php $fee_admin_val = $this->fee_admin ?: $this->data['FEE_ADMIN']; ?>
					<td>
						<div class="input-group input-group-sm" style="width:160px">
							<div class="input-group-prepend">
								<span class="input-group-text">IDR</span>
							</div>
							<?= $this->formText('fee_admin', Application_Helper_General::displayMoney($fee_admin_val), ['class' => 'form-control', 'onfocus' => "iNumFrmtUS(this.value,this.id)", 'onblur' => "NumFrmtUS(this.value,this.id)"]); ?>
						</div>
						<small class="text-danger"><?= $this->errDesc['fee_admin']; ?></small>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Bank Stamp Fee'); ?></td>
					<td>:</td>
					<?php $fee_stamp_val = $this->fee_stamp ?: $this->data['FEE_STAMP']; ?>
					<td>
						<div class="input-group input-group-sm" style="width:160px">
							<div class="input-group-prepend">
								<span class="input-group-text">IDR</span>
							</div>
							<?= $this->formText('fee_stamp', Application_Helper_General::displayMoney($fee_stamp_val), ['class' => 'form-control', 'onfocus' => "iNumFrmtUS(this.value,this.id)", 'onblur' => "NumFrmtUS(this.value,this.id)"]); ?>
						</div>
						<small class="text-danger"><?= $this->errDesc['fee_stamp']; ?></small>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<center>
		<?= $this->formButton('back', $this->language->_('BACK'), ['class' => 'btnwhite hov mr-2', 'onclick' => 'window.location.href="/linefacility"']); ?>
		<?= $this->formSubmit('submit', $this->language->_('SUBMIT'), ['class' => 'btngreen hov']); ?>
	</center>
</form>

<script src="/js/select2_353.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#pks_start_date').datepicker({
			format: 'yyyy-mm-dd',
			uiLibrary: 'bootstrap4'
		});
		$('#pks_exp_date').datepicker({
			format: 'yyyy-mm-dd',
			uiLibrary: 'bootstrap4'
		});

		var segment = "<?= $this->data['CUST_SEGMENT']; ?>";
		if (segment == 4) {
			$('.financial').show();
			$('.non-financial').hide();
			$('#ticket_size_0').attr('disabled', true);
			$('#ticket_size_1').attr('disabled', false);
			$('#ticket_size_2').attr('disabled', false);
		} else {
			$('.financial').hide();
			$('.non-financial').show();
			$('#ticket_size_0').attr('disabled', false);
			$('#ticket_size_1').attr('disabled', true);
			$('#ticket_size_2').attr('disabled', true);
		}

		var ccy = "<?= $this->ccy ?: $this->data['MARGINAL_CCY']; ?>";
		check_ccy(ccy);

		fee_debited_check();
	});

	function check_ccy(val = null) {
		if (val === null) {
			var ccy = $('#ccy').val();
		} else {
			var ccy = val;
		}
		if (ccy == 'IDR') {
			$('#marginal_deposit_1').show();
			$('#marginal_deposit_1').attr('disabled', false);
			$('#marginal_deposit_2').hide();
			$('#marginal_deposit_2').attr('disabled', true);
		} else {
			$('#marginal_deposit_1').hide();
			$('#marginal_deposit_1').attr('disabled', true);
			$('#marginal_deposit_2').show();
			$('#marginal_deposit_2').attr('disabled', false);
		}
	}

	function fee_debited_check() {
		if ($('#fee_debited_1').is(':checked')) {
			$('.institution').hide();
		}
		if ($('#fee_debited_2').is(':checked')) {
			$('.institution').show();
		}
	}

	function check_plafond_limit() {
		var cust_segment = $('#cust_segment').val();
		var plafond_limit = $('#plafond_limit').val();
		if (cust_segment != 4) {
			$('#ticket_size_0').val(plafond_limit);
		}
	}

	function check_ticket_size() {
		var plafond_limit = $('#plafond_limit').val();
		plafond_limit = parseFloat(plafond_limit.replaceAll(',', ''));

		var ticket_size = $('#ticket_size').val();
		ticket_size = ticket_size.replaceAll(',', '');

		var percent10 = (10 / 100) * parseFloat(plafond_limit);
		if (parseFloat(ticket_size) > parseFloat(percent10)) {
			$('#ticket_size_err').text('Ticket Size is more than 10% plafond limit');
		} else {
			$('#ticket_size_err').text('');
		}
	}

	function check_marginal_deposit() {
		var ccy = $('#ccy').val();
		if (ccy == 'IDR') {
			var plafond_limit = $('#plafond_limit').val();
			plafond_limit = parseFloat(plafond_limit.replaceAll(',', ''));

			var marginal_deposit = $('#marginal_deposit_1').val();
			marginal_deposit = marginal_deposit.replaceAll(',', '');

			var percent10 = (10 / 100) * parseFloat(plafond_limit);
			if (parseFloat(marginal_deposit) < parseFloat(percent10)) {
				$('#marginal_deposit_err').text('Marginal Deposit is less then 10% plafond limit');
			} else {
				$('#marginal_deposit_err').text('');
			}
		} else {
			var marginal_deposit = $('#marginal_deposit_2').val();
			if (parseFloat(marginal_deposit) < 10) {
				$('#marginal_deposit_err').text('Marginal Deposit is less then 10% plafond limit');
			} else {
				$('#marginal_deposit_err').text('');
			}
		}
	}
</script>