<script type="text/javascript">

//akan di onload pertama kali
$(document).ready(function()
{
	 //pengaturan error messages
	 <?php
	     foreach($this->report_msg as $key => $error)
	     {
	   ?>
	         $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
	<?php
	     }
	   ?>
});

</script>


<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Bank Table'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('OFAC Bank'); ?>
											<i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
									<li>
	                    <?php echo $this->language->_('Add'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<div class="row content-box">
		<div class="portlet-body col-md-12">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
				<tbody>
					<tr>
						<td class="filterarea" id="filterarea">
							<div class="subtopic"><h5><?php echo $this->language->_('OFAC Bank Management');?></h5></div>
						</td>
					</tr>
					<tr>
						<td>
							<?php if($this->success){ ?>
							<div class="successmsg"><?php echo $this->language->_('Record Updated');?></div><br />
							<?php } ?>

							<?php
									if(count($this->report_msg) > 0){ ?>
									<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.');?></div><br />
							<?php
									 }
								 ?>
						</td>
					</tr>
					<tr>
						<th class="filterarea" id="filterarea">
							<?php echo $this->language->_('New OFAC Bank');?>
						</th>
					</tr>
					<tr>
						<td id="contentarea">
							<form name="ofacBank" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">
							<table border="0" cellpadding="0" cellspacing="0" width="80%">
								<tbody>
									<tr>
										<td class="tbl-evencontent" width="20%"><?php echo $this->language->_('Country');?></td>
										<td class="tbl-evencontent">
												<?php echo $this->formSelect('country_code',$this->country_code,array('class' => 'form-control col-md-12'),$this->countryArr); ?>
													<div id="error_country_code" class="errmsg"></div>
										</td>
										</tr>

									<tr>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td class="button-area" id="button-area" colspan="2">
											<div class="formbutton">

													<?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/ofacbank/index\'','class'=>'btnwhite hov')); ?>
												<input type="submit" value="<?php echo $this->language->_('Submit');?>" name="submit" class="btngreen hov"/>
												<input type="reset" value="<?php echo $this->language->_('Reset');?>" name="reset" class="btngreen hov"/>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							</form>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
</div>
