     <link rel="stylesheet" href="/css/form_builder.css"/>



    <!-- CSS Just for demo purpose, don't include it in your project -->

<link rel="stylesheet" type="text/css" href="/css/dragtable.css" />
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.dragtable.js"></script>

<!-- only for jquery.chili-2.2.js -->
<script src="/js/jquery-migrate-1.1.1.js"></script>
<script type="text/javascript" src="/js/jquery.chili-2.2.js"></script>



<script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script src="/js/jquery-ui.min.js"></script>



<script src="/js/bootstrap.min.js" type="text/javascript"></script>
 <script src="/js/jquery.bootstrap.js" type="text/javascript"></script>
 <script src="/js/bootstrap-timepicker.js" type="text/javascript"></script>

 <script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
 <link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.css" />

<script src="/js/material-bootstrap-wizard.js"></script>
<script src="/js/jquery.validate.min.js"></script>

<style>
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
.form-control {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16)!important;
  border: 1px solid #ced4da!important;
      padding-bottom: 1px!important;
}


.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #006520;
}

input:focus + .slider {
  box-shadow: 0 0 1px #006520;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


    </style>



<style type="text/css">


.container-fluid {
    padding-top: 4rem!important;
}

.myWizard{
    width: 100%!important;
}

.form_builder .nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}
.form_builder .nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.form_builder .nav-sidebar .active a {
    cursor: default;
    background-color: #428bca;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.form_builder .nav-sidebar .active a:hover {
    background-color: #428bca;
}
.form_builder .nav-sidebar .text-overflow a,
.form_builder .nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Right-aligned sidebar */
.form_builder .nav-sidebar.pull-right {
    border-right: 0;
    border-left: 1px solid #ddd;
}
.form_builder .nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.form_builder ul {
    font-size: 18px;
    display: block !important;
}
.form_builder ul li {
    padding: 10px;
    cursor: pointer;
}
.form_builder ul li a {
    text-decoration: none;
    cursor: pointer;
}

.form_builder_field {
    margin: 20px 10px;
    padding: 10px;
    background: #eee;
    width: 92%!important;
}

.form_builder .bal_builder {
    padding: 0 !important;
}

.margin-left-5 {
    margin-left: 5px;
}

.remove_bal_field {
    cursor: pointer;
}

.form-check-input {
    margin-right: 8px;
}

.placeholder {
    width: 100%;
    background-color: #bfb;
    border: 1px dashed #666;
    margin-bottom: 5px;
}
.form_builder_area {
    width:100%;
    min-height:50px;
    position: absolute
}

.mt-radio {
    display: block;
}
.mt-radio p {
    display: inline;
}
.mt-checkbox {
    display: block;
}
.mt-checkbox p {
    display: inline;
}

.add_more_select, .add_more_radio, .add_more_checkbox, .remove_more_select, .remove_more_radio, .remove_more_checkbox {
    cursor: pointer;
}

/*!
 * Timepicker Component for Twitter Bootstrap
 *
 * Copyright 2013 Joris de Wit
 *
 * Contributors https://github.com/jdewit/bootstrap-timepicker/graphs/contributors
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
.bootstrap-timepicker {
  position: relative;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu {
  left: auto;
  right: 0;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:before {
  left: auto;
  right: 12px;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:after {
  left: auto;
  right: 13px;
}
.bootstrap-timepicker .input-group-addon {
  cursor: pointer;
}
.bootstrap-timepicker .input-group-addon i {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.bootstrap-timepicker-widget.dropdown-menu {
  padding: 4px;
}
.bootstrap-timepicker-widget.dropdown-menu.open {
  display: inline-block;
}
.bootstrap-timepicker-widget.dropdown-menu:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
}
.bootstrap-timepicker-widget.dropdown-menu:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
}
.bootstrap-timepicker-widget.timepicker-orient-left:before {
  left: 6px;
}
.bootstrap-timepicker-widget.timepicker-orient-left:after {
  left: 7px;
}
.bootstrap-timepicker-widget.timepicker-orient-right:before {
  right: 6px;
}
.bootstrap-timepicker-widget.timepicker-orient-right:after {
  right: 7px;
}
.bootstrap-timepicker-widget.timepicker-orient-top:before {
  top: -7px;
}
.bootstrap-timepicker-widget.timepicker-orient-top:after {
  top: -6px;
}
.bootstrap-timepicker-widget.timepicker-orient-bottom:before {
  bottom: -7px;
  border-bottom: 0;
  border-top: 7px solid #999;
}
.bootstrap-timepicker-widget.timepicker-orient-bottom:after {
  bottom: -6px;
  border-bottom: 0;
  border-top: 6px solid #ffffff;
}
.bootstrap-timepicker-widget table {
  width: 100%;
  margin: 0;
}
.bootstrap-timepicker-widget table td {
  text-align: center;
  height: 30px;
  margin: 0;
  padding: 2px;
}
.bootstrap-timepicker-widget table td:not(.separator) {
  min-width: 30px;
}
.bootstrap-timepicker-widget table td span {
  width: 100%;
}
.bootstrap-timepicker-widget table td a {
  border: 1px transparent solid;
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 8px 0;
  outline: 0;
  color: #333;
}
.bootstrap-timepicker-widget table td a:hover {
  text-decoration: none;
  background-color: #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color: #ddd;
}
.bootstrap-timepicker-widget table td a i {
  margin-top: 2px;
  font-size: 18px;
}
.bootstrap-timepicker-widget table td input {width: 25px;margin: 0;text-align: center;border:none}
.bootstrap-timepicker-widget .modal-content {
  padding: 4px;
}
@media (min-width: 767px) {
  .bootstrap-timepicker-widget.modal {
    width: 200px;
    margin-left: -100px;
  }
}
@media (max-width: 767px) {
  .bootstrap-timepicker {
    width: 100%;
  }
  .bootstrap-timepicker .dropdown-menu {
    width: 100%;
  }
}

</style>
<script type="text/javascript">

$(document).ready(function () {
            $('.msg').hide();
            $('.error').hide();



  $('#report_email').blur(function () {

            var email = $(this).val();
        var re = /[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}/igm;

        if(email!=''){
        if (re.test(email)) {
            $('.msg').hide();
            $('.success').show();
            $('#next').show();
            $('#finish').show();
        } else {
          // alert('herea');
            $('.msg').hide();
            $('.error').show();
            $('#next').hide();
            $('#finish').hide();


        }
        }

        });

    $('.defaultTable').dragtable();

    var id;
    var data;

    $(".form_bal_textfield").draggable({
        helper: function () {
            id = this.id;
            // data = this.class;
            return getTextFieldHTML(id);
        },
        connectToSortable: ".form_builder_area",
         start: function() {
            id = this.id;
            // data = this.data;
        }
    });


    $(".form_builder_area").sortable({
        cursor: 'move',
        placeholder: 'placeholder',

        start: function (e, ui) {
            ui.placeholder.height(ui.helper.outerHeight());
        },
        stop: function (ev, ui) {
            if (!ui.item[0].id.length) {
                ui.item[0].id = id;
            }
            // if (!ui.item[0].data.length) {
            //     ui.item[0].data = data;
            // }
            getPreview('',ui.item[0].id);
        }
    });
    $(".form_builder_area").disableSelection();


    function getTextFieldHTML(id,data) {
        // var id = ui.draggable.attr("id");
        // alert(id);
        var label = id.split("-");
        // alert(label[0]);
        var field = generateField();
        var html = '<div class="all_div"><div class="row li_row"><div class="col-md-12"><label class="control-label col-md-10">'+label[1]+'</label><button type="button" class="btn btn-primary btn-sm remove_bal_field pull-right" data-field="' + field + '"><i class="fa fa-times"></i></button></div></div></div><div class="row li_row form_output" data-type="text" data-field="' + field + '"><div class="col-md-12"><div class="form-group" style="margin:  0px 0 0 0;!important"><input type="text" name="label[]" class="form-control form_input_label" value="'+label[1]+'" data-field="' + field + '"/><input type="hidden" name="colomn[]" class="form-control form_input_labelhidden" value="'+label[0]+'" data-field="' + field + '"/><input type="hidden" name="type[]" class="form-control form_input_labelhidden" value="'+label[2]+'" data-field="' + field + '"/></div></div></div>';
        return $('<div>').addClass('li_' + field + ' form_builder_field').html(html);
    }



    $(document).on('click', '.edit_bal_textfield', function () {
        var field = $(this).attr('data-field');
        var el = $('.field_extra_info_' + field);
        el.html('<div class="form-group"><input type="text" name="label_' + field + '" class="form-control" placeholder="Enter Text Field Label"/></div><div class="mt-checkbox-list"><label class="mt-checkbox mt-checkbox-outline"><input name="req_' + field + '" type="checkbox" value="1"> Required<span></span></label></div>');
        getPreview();
    });
    $(document).on('click', '.remove_bal_field', function (e) {
        e.preventDefault();
        var field = $(this).attr('data-field');
        $(this).closest('.li_' + field).hide('400', function () {
            $(this).remove();
            getPreview();
        });
    });


    $(document).on('keyup', '.form_input_placeholder', function () {
        getPreviewInput();
    });
    $(document).on('keyup', '.form_input_label', function () {
        getPreviewInput();
    });
    $(document).on('keyup', '.form_input_name', function () {
        getPreviewInput();
    });
    function generateField() {
        return Math.floor(Math.random() * (100000 - 1 + 1) + 57);
    }
    function getPreview(plain_html = '',$id= null,$data= null) {
            // alert($data);
        var el = $('.form_builder_area .form_output');
        var html = '';
        var data = '';
        var source = '';
        el.each(function () {
            var data_type = $(this).attr('data-type');
            //var field = $(this).attr('data-field');
            var label = $(this).find('.form_input_label').val();
            var labelhidden = $(this).find('.form_input_labelhidden').val();

            var name = $(this).find('.form_input_name').val();
            if (data_type === 'text') {
                var placeholder = $(this).find('.form_input_placeholder').val();
                var checkbox = $(this).find('.form-check-input');
                var required = '';
                if (checkbox.is(':checked')) {
                    required = 'required';
                }
                // var colomn = id.split("-");
                // html += '<th style="min-width: 100px;text-align: center;"><label class="control-label">' + $id + '</label></th>';
                 // html += '<th>' + $id + '</th>';
                 source += '<option value="'+labelhidden+'">'+label+'</option>';
                html += '<th>' + label + '</th>';

                data += '<td>' + label + '</td>';
            }


        });



        if (plain_html === 'html') {
            $('.preview').hide();

        } else {
            $('#source2').html(source).show();
            $('#source3').html(source).show();
         // $('.defaultTable').dragtable();
            // alert(html);
            $('.preview').html(html).show();
            $('.datapreview').html(data).show();
            $('.defaultTables').dragtable();
    }
    }


    function getPreviewInput(plain_html = '',$id= null) {
            // alert($id);
        var el = $('.form_builder_area .form_output');
        var html = '';
        var data = '';
        var source = '';
        el.each(function () {
            var data_type = $(this).attr('data-type');
            //var field = $(this).attr('data-field');
            var label = $(this).find('.form_input_label').val();
            var name = $(this).find('.form_input_name').val();
            var labelhidden = $(this).find('.form_input_labelhidden').val();
            if (data_type === 'text') {
                var placeholder = $(this).find('.form_input_placeholder').val();
                var checkbox = $(this).find('.form-check-input');
                var required = '';
                if (checkbox.is(':checked')) {
                    required = 'required';
                }
                // alert(label);
                // html += '<th style="min-width: 100px;text-align: center;"><label class="control-label">' + label + '</label></th>';
                source += '<option value="'+labelhidden+'">'+label+'</option>';
                html += '<th>' + label + '</th>';
                data += '<td>' + label + '</td>';
            }


        });

        if (plain_html === 'html') {
            $('.preview').hide();

        } else {

            $('#source2').html(source).show();
            $('#source3').html(source).show();
            $('.preview').html(html).show();
            $('.datapreview').html(data).show();
            $('.defaultTables').dragtable();
    }
    }

    $("input[name='report_radio']").click(function() {
      // alert();
     if ($("#report_radio").is(":checked")) {
       $("#datereporttype").show();
     } else {
       $("#datereporttype").hide();
       $('#datereportmonth').hide();
        $('#timereport').hide();
        $('#dayreport').hide();
        $('#datereport').hide();
        $('#datereport1').hide();

     }
   });



     $("input[name='sortby']").click(function() {

     if ($("#sortby1").is(":checked")) {
       $("#sortaschide").show();
       $("#sortdeschide").hide();
     } else {
       $("#sortaschide").hide();
       $("#sortdeschide").show();
     }
   });
     var count = 0;
     $("#previous").on('click', function() {

        count += 1;
        // alert(count);
        // if(count%2==1){
          // $(".reporttable").hide();
        // }else{
          $(".reporttable").show();
        // }

     });




});


</script>

<?php
if($this->data['REPORT_SCHEDULE']!=''){
?>
<script type="text/javascript">
  $(document).ready(function(){
    $("#datereporttype").show();



          var schedule = "<?php echo $this->data['REPORT_SCHEDULE']; ?>";

                                                       if(schedule == "daily") {
                                                            $('#timereport').show();
                                                            $('#dayreport').hide();
                                                            $('#datereport').hide();
                                                            $('#datereport1').hide();
                                                            $('#datereportmonth').hide();
                                                          }else if(schedule == "weekly") {
                                                            $('#timereport').show();
                                                            $('#dayreport').show();
                                                            $('#datereport').hide();
                                                            $('#datereport1').hide();
                                                            $('#datereportmonth').hide();
                                                          }else if(schedule == "monthly") {
                                                            $('#timereport').hide();
                                                            $('#dayreport').hide();
                                                            $('#datereport').show();
                                                            $('#datereport1').hide();
                                                            $('#datereportmonth').hide();
                                                          }else if(schedule == "yearly"){
                                                            $('#timereport').hide();
                                                            $('#dayreport').hide();
                                                            $('#datereport').show();
                                                            $('#datereport1').hide();
                                                            $('#datereportmonth').show();

                                                            // datereport
                                                          } else {
                                                            $('#datereportmonth').hide();
                                                            $('#timereport').hide();
                                                            $('#dayreport').hide();
                                                            $('#datereport').hide();
                                                            $('#datereport1').hide();

                                                          }
  });



</script>

<?php }else{ ?>
<script type="text/javascript">
  $(document).ready(function(){
    $("#datereporttype").hide();
       $('#datereportmonth').hide();
        $('#timereport').hide();
        $('#dayreport').hide();
        $('#datereport').hide();
        $('#datereport1').hide();
  });
</script>
<?php } ?>
<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span>Home</span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="inhouse"><?=$this->language->_('Report')?></span>
                  </li>

              </ul>
          </div>
        </div>
    </div>

<br />

<!-- <h5><?=$this->language->_('Report')?></h5>
<h6><?=$this->language->_('Report generator')?></h6> -->

<div class="container" >
            <div class="row">
                <div class="col-sm-12" style="padding-right: 0px;padding-left: 0px">
                    <!--      Wizard container        -->

                    <div class="wizard-container">

                        <div class="card wizard-card" data-color="green" id="wizardProfile" style="padding-top: 0px">
                            <form  action="" method="POST" name="testForm" >
                        <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->

                               <!--  <div class="wizard-header">
                                    <h3 class="wizard-title">
                                       Report
                                    </h3>
                                    <h5>Generate Your Report</h5>
                                </div> -->


                                <div class="tab-content">
                                  <div class="tablehead panel-heading " style="
       /*color: #fff;*/
       padding-top: 3px;
     height: 30px;
     line-height: 14px;
     /*font-size: 14px;
     background-color: #337ab7;
     border-color: #337ab7;*/
     /*background-image: linear-gradient(to bottom, #6bc46a, #164615);*/
       font-size: 14px;
       font-weight: bold;
       font-style: normal;
       font-stretch: normal;
       line-height: 1.86;
       letter-spacing: normal;
       text-align: left;
       color: #ffffff;

   "><?php echo $this->language->_('Edit Report');?></div>
                                 <div class="wizard-navigation" style="display: none">
                                     <ul>
                                         <li><a href="#about" data-toggle="tab">Report</a></li>
                                         <li><a href="#account" data-toggle="tab">Colomn</a></li>
                                         <li><a href="#address" data-toggle="tab">Filter</a></li>
                                     </ul>
                                 </div>
                                    <div class="tab-pane" id="about">
                                            <br/>
                                  <div class="row">
                                      <div class="col-md-7">
                                        <div class="form-group row">
                                                <?php echo $this->formLabel('reportname',$this->language->_('Type'),array('class'=>'col-sm-4 col-form-label')); ?><span class="invalid-feedback">*</span>
                                                <div class="col-sm-8">
                                                    <input type="checkbox" id="report_radio" name="report_radio" value="1" <?php if($this->notif=='2'){echo('checked');}?> class="offscreen" /> <label for="report_radio" class="switch"></label>
                                                    <label for="report_radio"><?php echo $this->language->_('Schedule');?></label>

                                               <!--    <div class="switch switch--horizontal">
                                                    <input id="report_radio" type="radio" value="1" name="report_radio" checked="checked"/>
                                                    <label for="report_radio"><?php echo $this->language->_('Custom');?></label>
                                                    <input id="report_radio1" type="radio" value="2" name="report_radio"/>
                                                    <label for="report_radio1"><?php echo $this->language->_('Schedule');?></label><span class="toggle-outside"><span class="toggle-inside"></span></span>
                                                  </div> -->

                                                    <div class="invalid-feedback"><?=$this->error_report_name?></div>
                                                </div>
                                            </div>
                                             <div class="form-group row">
                                                <?php echo $this->formLabel('reportname',$this->language->_('Save As'),array('class'=>'col-sm-4 col-form-label')); ?><span class="invalid-feedback">*</span>
                                                <div class="col-sm-8">
                                                    <select name="save_as" id="save_as" class="form-control">
                                                        <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                                        <option value="1">PDF</option>
                                                        <option value="2">CSV</option>
                                                    </select>
                                                    <div class="invalid-feedback"><?=$this->error_report_name?></div>
                                                </div>
                                            </div>
                                              <?php //print_r($this->data); ?>
                                              <div class="form-group row">
                                                <?php echo $this->formLabel('reportname',$this->language->_('Report Name'),array('class'=>'col-sm-4 col-form-label')); ?><span class="invalid-feedback">*</span>
                                                <div class="col-sm-8">
                                                    <?php echo $this->formText('report_name',$this->data['REPORT_NAME'],array('class'=>'form-control')); ?>
                                                    <div class="invalid-feedback"><?=$this->error_report_name?></div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <?php echo $this->formLabel('reportemail',$this->language->_('Email'),array('class'=>'col-sm-4 col-form-label')); ?>
                                                <div class="col-sm-8">
                                                    <?php echo $this->formText('report_email',$this->data['REPORT_EMAIL'],array('class'=>'form-control','id'=>'report_email')); ?>
                                                    <small class="form-text text-muted">
                                                        Separate multiple emails with comma (,)
                                                    </small>
                                                    <span class="msg error">Not a valid email address</span>
                                                    <div class="invalid-feedback"><?=$this->error_report_name?></div>
                                                </div>
                                            </div>



                                      </div>
                                      <div class="col-md-5">
                                          <div class="form-group row" style="display: none" id="datereporttype">
                                                <?php echo $this->formLabel('reportname',$this->language->_('Interval'),array('class'=>'col-sm-4 col-form-label')); ?><span class="invalid-feedback">*</span>

                                                  <div class="col-sm-8" >

                                                    <select name="report_schedule" id="report_schedule" class="form-control">
                                                        <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                                        <option <?php if($this->data['REPORT_SCHEDULE']=='hourly'){echo "selected";} ?> value="hourly">Hourly</option>
                                                        <option <?php if($this->data['REPORT_SCHEDULE']=='daily'){echo "selected";} ?> value="daily">Daily</option>
                                                        <option <?php if($this->data['REPORT_SCHEDULE']=='weekly'){echo "selected";} ?> value="weekly">Weekly</option>
                                                        <option <?php if($this->data['REPORT_SCHEDULE']=='monthly'){echo "selected";} ?> value="monthly">Monthly</option>
                                                        <option <?php if($this->data['REPORT_SCHEDULE']=='yearly'){echo "selected";} ?> value="yearly">Yearly</option>
                                                    </select>
                                                    <div class="invalid-feedback"><?=$this->error_report_name?></div>
                                                </div>
                                            </div>


                                            <div class="form-group row" style="display: none" id="datereportmonth">
                                                <?php echo $this->formLabel('reportsched',$this->language->_('Month'),array('class'=>'col-sm-4 col-form-label')); ?>
                                                <div class="col-sm-8">
                                                    <select name="report_data" id="report_data" class="form-control">
                                                        <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                                        <option value="1">January</option>
                                                        <option value="2">February</option>
                                                        <option value="3">March</option>
                                                        <option value="4">April</option>
                                                        <option value="5">May</option>
                                                        <option value="6">June</option>
                                                        <option value="7">July</option>
                                                        <option value="8">August</option>
                                                        <option value="9">September</option>
                                                        <option value="10">October</option>
                                                        <option value="11">November</option>
                                                        <option value="12">December</option>
                                                    </select>
                                                    <div class="invalid-feedback"><?=$this->error_report_name?></div>
                                                </div>
                                            </div>

                                            <div class="form-group row" style="display: none" id="datereport1">
                                                <?php echo $this->formLabel('reportsched',$this->language->_('Data Created'),array('class'=>'col-sm-4 col-form-label')); ?>
                                                <div class="col-sm-8">
                                                    <select name="report_data" id="report_data" class="form-control">
                                                        <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                                        <option value="1">Current Month</option>
                                                        <option value="2">Last Month</option>
                                                        <option value="3">3 Month Ago</option>
                                                        <option value="4">6 Month Ago</option>
                                                        <option value="5">Current Year</option>
                                                    </select>
                                                    <div class="invalid-feedback"><?=$this->error_report_name?></div>
                                                </div>
                                            </div>
                                            <div class="form-group row" style="display: none" id="datereport">
                                                <?php echo $this->formLabel('reportsched',$this->language->_('Date'),array('class'=>'col-sm-4 col-form-label')); ?>
                                                <div class="col-sm-8">
                                                    <select name="report_date" class="form-control" style="width: 120px">
                                                        <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                                        <?php
                                                          $selected = '';
                                                        ?>
                                                        <?php for ($i=1; $i < 29 ; $i++) {
                                                          if($this->data['REPORT_DATE']==$i){$selected = 'selected';}else{$selected = '';}
                                                            echo '<option value="'.$i.'" '.$selected.'>'.$i.'</option>';
                                                          }


                                                        ?>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row" style="display: none" id="dayreport">
                                                <?php echo $this->formLabel('reportsched',$this->language->_('Day'),array('class'=>'col-sm-4 col-form-label')); ?>
                                                 <div class="col-sm-8">
                                                    <select name="report_day" class="form-control">
                                                        <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                                        <option value="sunday">Sunday</option>
                                                        <option value="monday">Monday</option>
                                                        <option value="tuesday">Tuesday</option>
                                                        <option value="wednesday">Wednesday</option>
                                                        <option value="thursday">Thursday</option>
                                                        <option value="friday">Friday</option>
                                                        <option value="saturday">Saturday</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row" style="display: none" id="timereport">
                                                <?php echo $this->formLabel('reportsched',$this->language->_('Time'),array('class'=>'col-sm-4 col-form-label')); ?>
                                                 <div class='col-sm-8'>
                                                        <input id="timepicker2" type="text" name="report_time" class="form-control input-small time">

                                                     <!--   <div class="input-group bootstrap-timepicker">
                                                          <input type="text" class="form-control input-small" name="report_time">
                                                          <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                                        </div> -->

                                                </div>
                                                <script type="text/javascript">
                                                    $(function () {
                                                        $('#report_schedule').on('change', function() {

                                                          if(this.value == "daily") {
                                                            $('#timereport').show();
                                                            $('#dayreport').hide();
                                                            $('#datereport').hide();
                                                            $('#datereport1').hide();
                                                            $('#datereportmonth').hide();
                                                          }else if(this.value == "weekly") {
                                                            $('#timereport').show();
                                                            $('#dayreport').show();
                                                            $('#datereport').hide();
                                                            $('#datereport1').hide();
                                                            $('#datereportmonth').hide();
                                                          }else if(this.value == "monthly") {
                                                            $('#timereport').hide();
                                                            $('#dayreport').hide();
                                                            $('#datereport').show();
                                                            $('#datereport1').hide();
                                                            $('#datereportmonth').hide();
                                                          }else if(this.value == "yearly"){
                                                            $('#timereport').hide();
                                                            $('#dayreport').hide();
                                                            $('#datereport').show();
                                                            $('#datereport1').hide();
                                                            $('#datereportmonth').show();

                                                            // datereport
                                                          } else {
                                                            $('#datereportmonth').hide();
                                                            $('#timereport').hide();
                                                            $('#dayreport').hide();
                                                            $('#datereport').hide();
                                                            $('#datereport1').hide();

                                                          }
                                                        });

                                                        // $('.bootstrap-timepicker').timepicker();
                                                        // $('.bootstrap-timepicker').timepicker({
                                                        //     defaultTime: 'value',
                                                        //     minuteStep: 1,
                                                        //     disableFocus: true,
                                                        //     template: 'dropdown',
                                                        //     showMeridian:false
                                                        // });
                                                        $('.time').timepicker({
                                                             timeFormat: 'HH:mm:ss',
                                                              showMeridian: false,
                                                              showInputs: false
                                                            });
                                                            $('.time').timepicker().on('show.timepicker', function(e) {
                                                             $('.meridian-column').remove();
                                                                //$('.bootstrap-timepicker-meridian').remove();
                                                                $('tr').eq(1).children().eq(4).remove();
                                                                $('tr:last >td:last').remove();
                                                              console.log(e);
                                                              $('.l').html($('.bootstrap-timepicker-widget').html());
                                                              console.log($('.l').html());
                                                            });

                                                    });
                                                </script>
                                            </div>


                                      </div>
                                  </div>

                                 </div>
                                    <div class="tab-pane" id="account">
                                        <h4 class="info-text"> Setting Colomn </h4>
                                        <div class="form-group row">
                                            <?php echo $this->formLabel('sortascending',$this->language->_('Display Table'),array('class'=>'col-sm-12 col-form-label')); ?>
                                    </div>
                                    <div class="form-group row" style="display: none">
                                            <div class="col-sm-12">
                                                    <table class="defaultTable sar-table table-common table table-hover table-condensed dataTable" width="100%">
                                                            <thead >
                                                                <tr class="preview">
                                                                </tr>
                                                                <tbody>
                                                                <tr class="datapreview">
                                                                </tr>
                                                            </tbody>
                                                            </thead>

                                                        </table>

                                            </div>
                                    </div>
                                        <div class="row">
                    <div class="col-sm-3">
                        <nav class="nav-sidebar">
                            <ul class="nav"  style=" height: 400px; overflow: auto;display: block!important;border: 1px solid #dfdfdf">
                                <?php
                                        // print_r($this->colomndata);die;
                                    foreach ($this->colomndata as $key => $value) {

                                        echo "<li class='form_bal_textfield' id='".$value['COLUMN_NAME']."-".$value['COLOMN']."-".$value['DATA_TYPE']."' data='".$value['COLUMN_NAME']."'>";
                                ?>

                                    <a href="javascript:;"><?php echo $value['COLOMN']; ?></a>
                                </li>
                                <?php
                                    }
                                ?>
                            </ul>
                        </nav>
                    </div>

                     <div class="col-md-9 demo-content" style=" height: 400px; overflow: auto;display: block!important;border: 1px solid #dfdfdf">


                                    <div class="form_builder_area" style="height: 100%!important">

                                      <?php
                                      // print_r($this->colomn);die;
                                      foreach ($this->colomn as $key => $value) {

                                      ?>
                                      <div class="li_<?php echo $key ?> form_builder_field" style="width: 585px; height: 99px;" id="PS_SUBJECT-Subject-varchar">

                                        <div class="all_div">
                                          <div class="row li_row">
                                            <div class="col-md-12">
                                              <label class="control-label col-md-10"><?php echo $value['COLM_NAME'] ?></label>
                                              <button type="button" class="btn btn-primary btn-sm remove_bal_field pull-right" data-field="<?php echo $key ?>"><i class="fa fa-times"></i></button>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row li_row form_output" data-type="text" data-field="<?php echo $key ?>">
                                          <div class="col-md-12">
                                            <div class="form-group" style="margin:  0px 0 0 0;!important">
                                              <input type="text" name="label[]" class="form-control form_input_label" value="Subject" data-field="<?php echo $key ?>">
                                              <input type="hidden" name="colomn[]" class="form-control form_input_labelhidden" value="<?php echo $value['COLM_FIELD'] ?>" data-field="<?php echo $key ?>">
                                              <input type="hidden" name="type[]" class="form-control form_input_labelhidden" value="varchar" data-field="<?php echo $key ?>">
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                    <?php
                                      }
                                     ?>



                        </div>
                                </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">

                    </div>
                    <div class="col-md-9 bal_builder">

                    </div>
                </div>
                <br/>
                                      <?php
                                          if(!empty($this->data['REPORT_SORT_ASC'])){
                                              $checked = 'checked';
                                              ?>
                                                <script type="text/javascript">
                                                  $(document).ready(function(){
                                                  $("#sortaschide").show();
                                                  $("#sortdeschide").hide();
                                                });
                                                </script>

                                              <?php
                                          }
                                        ?>
                                       <div class="form-group row">
                                        &nbsp;&nbsp;&nbsp;<input name="sortby" value="1" id="sortby1" <?php echo $checked;?> type="radio">
                                            <?php echo $this->formLabel('sortascending',$this->language->_('Sort Ascending by Field'),array('class'=>'col-sm-4 col-form-label')); ?>
                                            <div class="col-sm-7">
                                                <div class="input-group" id="sortaschide">
                                                            <select name="sortasc" id="source2" class="form-control">
                                                              <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                                                <?php if(!empty($this->leftasc)){
                                                                    foreach($this->leftasc as $key => $val){
                                                                        if($val==$this->data['REPORT_SORT_ASC']){
                                                                          $selected = 'selected';
                                                                        }else{
                                                                          $selected = '';
                                                                        }
                                                                      ?>

                                                                    <option value="<?=$val?>" <?=$selected?> ><?=$val?></option>
                                                                <?php }}?>
                                                            </select>
                                                   </div>

                                            </div>
                                        </div>
                                        <?php
                                          if(!empty($this->data['REPORT_SORT_DESC'])){
                                              $checked = 'checked';
                                              ?>
                                                <script type="text/javascript">
                                                  $(document).ready(function(){
                                                  $("#sortaschide").hide();
                                                  $("#sortdeschide").show();
                                                });
                                                </script>

                                              <?php
                                          }
                                        ?>

                                        <div class="form-group row">
                                          &nbsp;&nbsp;&nbsp;<input name="sortby" value="2" id="sortby"  <?php echo $checked;?>  type="radio">
                                            <?php echo $this->formLabel('sortdescending',$this->language->_('Sort Descending by Field'),array('class'=>'col-sm-4 col-form-label')); ?>
                                            <div class="col-sm-7">
                                               <div class="input-group" style="display: none" id="sortdeschide">
                                                <?php //print_r($this->leftdesc);die; ?>
                                                            <select id="source3" class="form-control" name="sortdesc">
                                                              <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                                                <?php if(!empty($this->leftdesc)){
                                                                    foreach($this->leftdesc as $key => $val){

                                                                       if($val==$this->data['REPORT_SORT_DESC']){
                                                                          $selected = 'selected';
                                                                        }else{
                                                                          $selected = '';
                                                                        }
                                                                      ?>
                                                                    <option value="<?=$val?>" <?=$selected?> ><?=$val?></option>
                                                                <?php }}?>
                                                            </select>
                                                     </div>
                                            </div>
                                        </div>



                          <div class="form-group row">
                                            <?php echo $this->formLabel('limitdata',$this->language->_('Limit Data'),array('class'=>'col-sm-2 col-form-label')); ?><span class="invalid-feedback">*</span>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <?php echo $this->formText('datalimit',$this->data['REPORT_LIMIT'],array('class'=>'form-control')); ?>
                                                    <div class="input-group-append">
                                                      <div class="input-group-text">Data</div>
                                                    </div>
                                                </div>
                                                <div class="invalid-feedback"><?=$this->error_report_name?></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="address">
                                        <div class="row">

                                            <div id="wheres" style="width: 100%">
                    <?php if(!empty($this->wherecol)){
                        foreach($this->wherecol as $key => $val){
                            $ctr = $key;
                            $ctr++;
                            $dttype = "";
                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-2">
                                    <div class="col">
                                        <select class='form-control' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php  foreach($this->colomndata as $row){
                                                $colname = $row['COLUMN_NAME']."-".$row['DATA_TYPE'];
                                                if($val==$colname){
                                                    $selected = "selected";
                                                    $dttype = $row['DATA_TYPE'];
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                                if($row['DATA_TYPE'] == 'datetime'){

                                                }else{


                                            ?>

                                                <option value="<?=$colname?>" <?=$selected?>><?=$row['COLUMN_NAME']?></option>
                                            <?php }}?>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>

                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" id='colvalue-<?=$ctr?>'>
                                        <input class='form-control' type='text' name='whereval[]' value='<?=$this->whereval[$key]?>'/>
                                    </div>
                                    <div class="col">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    <?php }}?>
                </div>
                <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/>
                <br/>
                <button type="button" class="btn btn-sm btn-success mt-1" id="addwhere" style="    margin-left: 15px;">Add Filter</button>
                <br/>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-footer pb-4">
                                  <div class="container">
                                    <div class="row">
                                        <div class="col-md-12" align="center" width="100%">
                                          <button type="button" class="btnwhite hov" id="cancel" name="cancel" onclick="location.href='/reportcrm/report'">Cancel</button>
                                          <input style="display:none" type='button' class='btn btn-previous btn-fill btnwhite hov btn-wd' id='previous' name='previous' value='Previous' />
                                            <input type='button' class='btn btn-next btn-fill btngreen hov btn-wd' id="next" name='next' value='Next' />
                                            <input type='submit' id="submitbtn" id="finish" class='btn btn-finish btn-fill  btngreen hov btn-wd' name='finish' value='Finish' />
                                        </div>
                                    </div>
                                  </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- wizard container -->
                </div>
            </div><!-- end row -->
            <br/>
        </div> <!--  big container -->








<script>
$(document).ready(function(){
// code to get all records from table via select box
// $('#source1').html('');
//                 $('#destination1').html(null);
//                 $('#source2').html('');
//                 $('#destination2').html(null);
//                 $('#source3').html('');
//                 $('#destination3').html(null);

$('#next').click(function(){
$('#cancel').hide();
$('#previous').show();
});
$('#previous').click(function(){
$('#cancel').show();
$('#previous').hide();
});
    $('.date').datepicker();

    $("#tablename").change(function() {
        var id = $(this).find(":selected").val();
        $.ajax({
            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'column'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $('#source1').html(data);
                $('#destination1').html(null);
                $('#source2').html(data);
                $('#destination2').html(null);
                $('#source3').html(data);
                $('#destination3').html(null);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get column list, please try again");
            }
        });

        $("#wheres").empty();
        $("#wherectr").val("1");
    });

    $('#btnRight').click(function(e) {
        var selectedOpts = $('#source1 option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        $('#destination1').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnLeft').click(function(e) {
        var selectedOpts = $('#destination1 option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }
        $('#source1').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnRight2').click(function(e) {
        var selectedOpts = $('#source2 option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        $('#destination2').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnLeft2').click(function(e) {
        var selectedOpts = $('#destination2 option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }
        $('#source2').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnRight3').click(function(e) {
        var selectedOpts = $('#source3 option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        $('#destination3').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#btnLeft3').click(function(e) {
        var selectedOpts = $('#destination3 option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }
        $('#source3').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#submitbtn').click(function(e) {
        e.preventDefault();

        $("#destination1 option").prop("selected","selected");
        $("#destination2 option").prop("selected","selected");
        $("#destination3 option").prop("selected","selected");

        document.testForm.submit();
    });

    $("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='col-sm-12 form-group row mt-2'><div class='col'><select class='form-control' id='wherecol-"+ctr+"' name='wherecol[]' onchange='getOpt(this)'></select></div><div class='col'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col' id='colvalue-"+ctr+"'><input class='form-control' type='text' name='whereval[]'/></div><div class='col'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);

        var typ = $("input[name='report_radio']:checked").val();
        // alert(typ);

        var id = $("#tablename").find(":selected").val();
        if(typ == '1'){
          // alert(typ);
           $.ajax({
            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wherecolumn'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(wherecol).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });
         }else{
          // alert('here');
        $.ajax({
          // alert(typ);
            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wherecolumnnew'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(wherecol).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

        }
    });

});

function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}

function edValueKeyPress()
    {


    }

function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;

    $(colval).empty();
    if(colomnname == 'PS_CREATED' || colomnname == 'PS_UPDATED' || colomnname == 'PS_EFDATE' ){
        // $(colval).append("<div class='input-daterange input-group' id='datepicker'><input type='text' class='input-sm form-control' name='whereval[]'/></div>");
        // $('.input-daterange').datepicker({
        //       changeMonth: true,
        //       changeYear: true,
        //       showButtonPanel: true,
        //       dateFormat: "m/d/yy"
        //   });
        $(colval).append("<input class='datepicker' id='createdStart' name='whereval[]' data-date-format='mm/dd/yyyy' autocomplete='off'>");
        // $('#createdStart').datepicker({
        //                          format: 'dd/mm/yyyy',
        //                          uiLibrary: 'bootstrap4'
        //                               });
              $('.datepicker').datepicker({
          format: 'yyyy-mm-dd',
          uiLibrary: 'bootstrap4'
      });
    }else if(colomnname == 'TRA_AMOUNT' || colomnname == 'PS_TOTAL_AMOUNT' || colomnname == 'EQUIVALENT_AMOUNT_IDR' || colomnname == 'EQUIVALENT_AMOUNT_USD' ){
        $(colval).append("<input type='text' name='whereval[]'  value='' maxlength='20' autocomplete='off' class='form-control' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
    }else if(colomnname == 'PS_STATUS'){

            $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wherecolumnpsstatus'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'PS_TYPE'){

            $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wherecolumnpstype'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'SOURCE_ACCOUNT'){

            $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wheresourceaccount'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'PS_CCY' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY'){
            $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");
            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'ccy'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'TRA_STATUS'){

            $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'trastatus'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'BENEFICIARY_ACCOUNT'){

            $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'benef'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else{
         $(colval).append("<input type='text' name='whereval[]'  value='' maxlength='20'  class='form-control' >");
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>
