<b><?php echo $this->language->_('RDN Information');?>	&gt; <?php echo $this->language->_('Securities Balance Inquiry');?></b><br /><br />
<form name="filterForm" action="<?php echo $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
<table border="0" cellpadding="0" cellspacing="0" width="100%"
	align="left">
	<tbody>
		<tr>
			<td class="contentarea" id="contentarea" >
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td class="tdform-sub" id="tdform-sub">
						<div><?php echo $this->language->_('Securities Balance Inquiry');?></div>
						</td>
					</tr>
					<tr>
						<td class="button-area" id="button-area" >
						<br/>
						<div width="100%" class="formbutton" style="float:right">
							<!-- <?php echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn')); ?> -->
							<!-- <?php echo $this->formSubmit('csv','CSV',array('class'=>'inputbtn')); ?> -->
<!--							<input class="inputbtn" value="&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->language->_('Print');?>&nbsp;&nbsp;&nbsp;&nbsp;" onclick="window.print();" type="button"></div>-->
							<!-- <button onclick="openwindow('<?php echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="inputbtn"><?php echo $this->language->_("Print")?></button>&nbsp; -->

						</td>
					</tr>
					<tr>
						<td>
						<?php
						$securitiescompany = $this->language->_('Securities Company');
						$sid = $this->language->_('SID');
						$action = $this->language->_('Action');


						?>
						<?php
							echo '<br/><table id="0" border="0" cellpadding="0" cellspacing="0" width="800px">
									<tr>
										<th id="tbl-headercontent"><strong>'.$securitiescompany.'</strong></th>';
										//<th id="tbl-headercontent"><strong>'.$accountalias.'</strong></th>
							echo		'
								<th id="tbl-headercontent"><strong>'.$sid.'</strong></th>
								<th id="tbl-headercontent"><strong>'.$action.'</strong></th>

									</tr>';
							if (count ( $this->resultdata ) > 0)
							{
								$i = 0;
								$totalBalance = 0;
								foreach ( $this->resultdata as $row ) {
									$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
									$accountStatusModified =($row['FREEZE_STATUS']!='FREEZE')?$row['FREEZE_STATUS']:'<a href="#" onclick="showPopUpWindow(\'/popup/accountfreeze/index/account/'.$row ['ACCT_NO'].'\', 900)">Freezed</a>';
									echo '	<tr>
												<td class="' . $td_css . '"> - </td>';
												//<td class="' . $td_css . '">' . $row ['ACCT_ALIAS_NAME'] . '</td>
									echo 		'<td class="' . $td_css . '"> - </td>
												<td class="' . $td_css . '"><a href="/rdninformation/securitiesbalance/detail">Detail</a></td>';
									}
									$currency = $row ['CCY_ID'];
									echo	'</tr>';
									$i++;
							}
							else
							{
								$currency = '';
								echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$nodata.' --- </td></tr>';
							}
							?>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
	<div>
			<b><b><?php //echo $this->language->_('TOTAL AVAILABLE BALANCE'); ?> <?php $currency ." ". Application_Helper_General::displayMoney($this->totalAvailableBalance);?></b><br /><br />
			<input class="inputbtn" value="<?php echo $this->language->_('Back'); ?>" onclick="location.href='/home/index'" type="button">
	</div>
	</br>
</td>
</tr>
</tbody>
</table>
</form>
