<form name="" method="post" action="">
	<table class="contentarea" id="contentarea" style="border: 4px solid rgb(204, 204, 204);" border="0" cellpadding="0" cellspacing="0" width="150">
		<tbody>
			<tr>
				<td class="tdform-sub"><?php echo $this->language->_('Garuda Top Up'); ?></td>
			</tr>
			<tr>
				<td class="tbl-evencontent" style="padding: 10px; line-height: 2em; font-size: 12px;">
					<?php
						$option = array('module'=>'partners','controller'=>'transnusa','action'=>'create');
					?>
					<a href="<?=$this->url($option,null,true)?>" class="inputbtn"><?php echo $this->language->_('Create'); ?></a><br>
					<?php
						$option = array('module'=>'partners','controller'=>'transnusa','action'=>'view');
					?>
					<a href="<?=$this->url($option,null,true)?>" class="inputbtn"><?php echo $this->language->_('View'); ?></a><br>
				</td>
			</tr>	
		</tbody>
	</table>
</form>