<form name="formadd" method="post">
	<br />
	<table align="center" border="0" cellpadding="0" cellspacing="0" width="700">
		<tbody>
			<tr>
				<td colspan="3">
					<div class="tabheader" id="tabheader"><?php echo $this->language->_('Payment Logs'); ?></div><br />
				</td>
			</tr>
			<tr>
				<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th></tr>
			</tr>
			<tr>
				<td class="tbl-evencontent" width = "100px"><?php echo $this->formLabel('PSNUMBER',$this->language->_('Payment Ref#')); ?></td>
				<td class="tbl-evencontent" width = "10px">:</td>
				<td class="tbl-evencontent">
					<?php 								
						echo $this->formText('PSNUMBER',$this->fPSNUMBER,array('maxlength'=>'50','size'=>'30')); 
					?>
				</td>
			</tr>
			
			<tr>
				<td class="tbl-evencontent"><?php echo $this->formLabel('PSTYPE',$this->language->_('Payment Type')); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">
					<?php
						
						$opt[""] = '-- '.$this->language->_('Any Value').' --';
							
						$arrPayType = $this->arrPayType;
						$optarrPayType  = $opt + $arrPayType;
						echo $this->formSelect('PSTYPE',$this->fPSTYPE,array('id'=>'PSTYPE','onclick'=>'changeTransferType()'),$optarrPayType);
						
					?>
				</td>
				
			</tr>
			<tr>
				<td class="tbl-evencontent"><?php echo $this->formLabel('PSSTATUS',$this->language->_('Status')); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">
					<?php
						
						$opt[""] = '-- '.$this->language->_('Any Value').' --';
							
						$arrPayStatus = $this->arrPayStatus;
						$optarrPayStatus  = $opt + $arrPayStatus;
						echo $this->formSelect('PSSTATUS',$this->fPSSTATUS,array('id'=>'PSSTATUS'),$optarrPayStatus);
						
					?>
				</td>
			</tr>
			
			<tr>
				<td class="tbl-evencontent" width = "100px"><?php echo $this->formLabel('limit',$this->language->_('Limit')); ?></td>
				<td class="tbl-evencontent" width = "10px">:</td>
				<td class="tbl-evencontent">
					<?php 								
						echo $this->formText('LIMIT',$this->fLIMIT,array('maxlength'=>'50','size'=>'30')); 
					?>
				</td>
			</tr>
			
			<tr>
				<td class="tbl-evencontent" colspan="3">
					<div class="formbutton">
						<?php echo $this->formSubmit('filter','Set Filter',array('class'=>'inputbtn')); ?>
						<?php //echo $this->formSubmit('filter','Clear Filter',array('class'=>'inputbtn')); ?>
					</div>
				</td>
			</tr>

		</tbody>
	</table>
	<br>
	<table align="center"  width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
		<tr>
			<th width="3%" valign="top">
				<?php echo $this->language->_('No'); ?>.
			</th>
			<?php 
				echo $this->partial(
									'tableheader.phtml',array(
																'fields' => $this->fields,
																'sortBy' => $this->sortBy,
																'sortDir' => $this->sortDir,
																'query_string_params' => $this->query_string_params
															)
								   );
				
				
				if(count ($this->data) > 0){
				
					$d = 0;
					$counter = 1;
					foreach($this->data as $row){
								
						$tdcss = ($d % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
						?><tr> 
								<td class="<?= $tdcss ?>"><?php echo $counter; ?></td>
						<?php
						
						foreach($row as $keyVal => $dataVal){									
							
							if($keyVal == "amount" ){
								$attr = 'style= "text-align:right;"';
							}
							else{
								$attr = 'style= "text-align:left;"';
							}
							
							if($dataVal == NULL){	$dataVal = '-'; }
							
							?>	
							
								<td class="<?= $tdcss; ?>" <?= $attr;?>> <?php echo $dataVal; ?> </td>
							
							<?
												
						}
						$counter++;
						$d++;
					}
				}
				else
				{
				?>	<tr>
						<td class="tbl-evencontent" colspan="20" align="center">--- <?php echo $this->language->_('No Data'); ?> ---</td>
					</tr> <?php
				}
				?>
			
		</tr>
	</table>
</form>