<!-- begin history -->
<tr><td class="texthistory"><b><?php echo $this->language->_('History'); ?></b></td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr>
	<td>
	<table border="0" width="100%" cellspacing="0" cellpadding="0" class="tableform table-sm table-striped">
		<tr>
			<th class="tbl-headercontent"><?php echo $this->language->_('User'); ?></th>
			<th class="tbl-headercontent"><?php echo $this->language->_('Action'); ?></th>
			<th class="tbl-headercontent"><?php echo $this->language->_('Date/Time'); ?></th>
			<th class="tbl-headercontent"><?php echo $this->language->_('Reason'); ?></th>
		</tr>
  		<?php
				if(is_array($this->paymentHistory) && count($this->paymentHistory)==0){
					?>
<tr><td class="tbl-evencontent" colspan="4" align="center">There is	currently no data in this section</td></tr>
				<?php
				} else {
					$j = 0;
					foreach ($this->paymentHistory as $History) {
						
						$USER_LOGIN = ($History ['USER_LOGIN']) ? $History ['USER_LOGIN'] : "N/A";
						$DATE_TIME = ($History ['DATE_TIME']) ? $History ['DATE_TIME']  : "N/A";
						$HISTORY_STATUS = ($History ['HISTORY_STATUS']) ? $History ['HISTORY_STATUS'] : "";
						$arrHISTORY_STATUS = array (1 => "Maker", 2 => "Approver", 3 => "Request Repair", 4 => "Reject", 5 => "Releaser", 7 => "Releaser for Future Date", 8 => "Bulk Releaser", 9 => "Exception", 10 => "Bulk Releaser for Future Date", 14 => "Cancel Future Date", 21 => "Execute", 15 => "Review" , 30 => "Re Run", 24 => "Authorization Overdue" );
						$dispHISTORY_STATUS = in_array ( $HISTORY_STATUS, array_keys ( $arrHISTORY_STATUS ) ) ? $arrHISTORY_STATUS [$HISTORY_STATUS] : "N/A";
						$PS_REASON = ($History ['PS_REASON']) ? $History ['PS_REASON'] : "-";
						$j ++;
						$bgcolor = ($j % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
						?>
						<tr>
<td class="<?php
						echo $bgcolor?>"><?php
						echo $USER_LOGIN?></td>
<td class="<?php
						echo $bgcolor?>"><?php
						echo $dispHISTORY_STATUS?></td>
<td class="<?php
						echo $bgcolor?>"><?php
						echo $this->Date($DATE_TIME, $this->dateTimeDisplayFormat); ?></td>
<td class="<?php
						echo $bgcolor?>"><?php
						echo $PS_REASON?></td>
</tr>
				<?php
					}
				}
				?>
  	</table>
	</td>
</tr>
<!-- end history -->