<div class="tabheader" id="tabheader"><?php echo $this->language->_('Suggestion Detail - Bank Guarantee'); ?></div>

<?php if ($this->cust_id) {


  //data temp
  if ($this->cust_status == 1)       $status = $this->status_type['desc']['approved'];
  else if ($this->cust_status == 2)  $status = $this->status_type['desc']['suspended'];
  else if ($this->cust_status == 3)  $status = $this->status_type['desc']['delete'];

  $yesNo = array('0' => 'No', '1' => 'Yes');
  $yesNo_mode = array('N' => 'No', 'Y' => 'Yes', '' => 'No');
  if ((!is_null($this->cust_admfee_status) || $this->cust_admfee_status != '') && isset($yesNo[$this->cust_admfee_status])) $cust_admfee_status = $yesNo[$this->cust_admfee_status];
  else {
    $cust_admfee_status = null;
  }

  if ((!is_null($this->cust_charges_status) || $this->cust_charges_status != '') && isset($yesNo[$this->cust_charges_status])) $cust_charges_status = $yesNo[$this->cust_charges_status];
  else  $cust_charges_status = null;

  if ((!is_null($this->cust_token_auth) || $this->cust_token_auth != '') && isset($yesNo_mode[$this->cust_token_auth])) $cust_token_auth = $yesNo_mode[$this->cust_token_auth];
  else  $cust_token_auth = null;


 if ((!is_null($this->cust_special) || $this->cust_special != '') && isset($yesNo_mode[$this->cust_special])) $cust_special = $yesNo_mode[$this->cust_special];
  else  $cust_special = null;




  if ((!is_null($this->country_code) || $this->country_code != '') && isset($this->countryArr[$this->country_code])) {
    $country_code = $this->countryArr[$this->country_code];
  } else $country_code = '';




  //master data
  if ($this->m_cust_status == 1)       $m_status = $this->status_type['desc']['approved'];
  else if ($this->m_cust_status == 2)  $m_status = $this->status_type['desc']['suspended'];
  else if ($this->m_cust_status == 3)  $m_status = $this->status_type['desc']['delete'];

  if ((!is_null($this->m_cust_admfee_status) || $this->m_cust_admfee_status != '') && isset($yesNo[$this->m_cust_admfee_status])) $m_cust_admfee_status = $yesNo[$this->m_cust_admfee_status];
  else  $m_cust_admfee_status = null;

  if ((!is_null($this->m_cust_charges_status) || $this->m_cust_charges_status != '') && isset($yesNo[$this->m_cust_charges_status])) $m_cust_charges_status = $yesNo[$this->m_cust_charges_status];
  else  $m_cust_charges_status = null;

  if ((!is_null($this->m_cust_token_auth) || $this->m_cust_token_auth != '') && isset($yesNo_mode[$this->m_cust_token_auth])) $m_cust_token_auth = $yesNo_mode[$this->m_cust_token_auth];
  else  $m_cust_token_auth = null;

  if ((!is_null($this->m_cust_special) || $this->m_cust_special != '') && isset($yesNo_mode[$this->m_cust_special])) $m_cust_special = $yesNo_mode[$this->m_cust_special];
  else  $m_cust_special = null;


//  if(){
//	  $m_cust_service_type = 'Financial';
//  }


  if ((!is_null($this->m_country_code) || $this->m_country_code != '') && isset($this->countryArr[$this->m_country_code])) {
    $m_country_code = $this->countryArr[$this->m_country_code];
  } else $m_country_code = '';

  //get status
  if ($this->changes_status == "RR") {;
    $suggestionStatus = $this->language->_('Request Repaired');
  } else {
    if ($this->read_status == 0) {
      $suggestionStatus = $this->language->_('Unread Suggestion');
    } elseif ($this->read_status == 1) {
      $suggestionStatus = $this->language->_('Read Suggestion');
    }
  }

  //get suggestion type
  $changesTypeDescArr = $this->suggestionType['desc'];
  $changesTypeCodeArr = $this->suggestionType['code'];

  $key = array_search($this->changes_type, $changesTypeCodeArr);
  $changesType = $changesTypeDescArr[$key];



?>


  <h3><?php echo $this->language->_('Change Information'); ?></h3>
  <?php
  echo $this->action(
    'message',
    'tools',
    'changemanagement',
    array('changes_id' => $this->changes_id)
  );
  ?>

  <br />
  <br />
	<?php
	if($this->changes_type == 'N'){
		?>
				
		<?php
	}else if($this->changes_type == 'L'){
		?>
	
		<?php
	}else{
	?>


  <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped table-sugg">
    <tr class="diffRow">
      <th colspan="<?= ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U' ) ? '3' : '3' ?>" class="tdform-sub"><strong><?php echo $this->language->_('Suggestion Detail Bank Guarantee'); ?>&nbsp;-&nbsp;<?php echo $this->changes_name; ?></strong></th>
      <?php if ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') { ?>
        <th style="float:right">
          <button id="btnDiffOnly" type="button" class="btngreen hov"><?php echo $this->language->_('Show Difference Only'); ?></button>
        </th>
      <?php } ?>
    </tr>
    <tbody>
      <?php if ($this->changes_type != 'E' && $this->changes_type != 'S' && $this->changes_type != 'U') { ?>
        <tr>
          <td colspan="<?= ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') ? '4' : '3' ?>" class="tbl-evencontent"><b><?php echo $this->language->_('New Bank Guarantee Detail'); ?></b></td>
        </tr>
      <?php } ?>

      <?php if ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') { ?>
        <tr class="diffRow">
          <td width="200" class="tbl-evencontent"><b><?php echo $this->language->_('Field Name'); ?></b></td>
          <td width="3" class="tbl-evencontent">&nbsp;</td>
          <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Current Value'); ?></b></td>
          <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Suggested Value'); ?></b></td>
        </tr>
      <?php } ?>
			
      <tr>
        <td class="tbl-evencontent" style="width:30%;"><?php echo $this->formLabel('cust_id', $this->language->_('Customer Code')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->m_cust_id, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->cust_id, array('class' => 'dataChange')); ?></td>
      </tr>

		<tr>
        <td class="tbl-evencontent" style="width:30%;"><?php echo $this->formLabel('cust_cif', $this->language->_('Customer Name')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_cif', $this->m_cust_name, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('cust_cif', $this->cust_name, array('class' => 'dataChange')); ?></td>
      </tr>

	      <tr>
        <td class="tbl-evencontent" style="width:30%;"><?php echo $this->formLabel('cust_name', $this->language->_('BG Limit')); ?></td>
        <td class="tbl-evencontent">:</td>
        <?php if ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name', $this->m_cust_bg_limit, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name', $this->cust_bg_limit, array('class' => 'dataChange')); ?></td>
      </tr>
      
     
		
	  
    </tbody>


  </table>
  <br>

  


      <!-- button navigasi -->
      <?php
	} 
      echo $this->action(
        'index',
        'tools',
        'changemanagement',
        array('changes_id' => $this->changes_id)
      );
      ?>





      <div>
        <?php //echo $this->formButton('back','Back',array('onclick'=>'location.href=\''.$this->backURL.'\'','class'=>'inputbtn')); 
        ?>

      </div>
      <?php if ($this->changes_type == 'E' || $this->changes_type == 'S' || $this->changes_type == 'U') { ?>
        <script>
          $("table.table-sugg > tbody > tr").each(function() {
            var data = $(this).find(".data");
            var dataChange = $(this).find(".dataChange");
            if (data.text() != dataChange.text()) {
              dataChange.css('background-color', '#fffe5c');
              $(this).addClass('diffRow');
            }
          });

          $("#btnDiffOnly").click(function() {
            $("table.table-sugg > tbody > tr").each(function() {
              var className = $(this).attr('class');
              if (className != 'diffRow' && $(this).is(":visible")) {
                $(this).hide();
              } else {
                $(this).show();
              }
            });
            //Untuk stripped table after update row
            $("tr:visible").each(function(index) {
              $(this).css("background-color", !!(index & 1) ? "rgba(0,0,0,.05)" : "rgba(0,0,0,0)");
            });
          });
        </script>
      <?php }
    } else { ?>
      <div id="content">- <?php echo $this->language->_('no data'); ?> -</div>
    <?php } ?>


<script type="text/javascript">
  
  function account() {
    var n = document.getElementById("cust_cif").value;
    console.info(n);
    var currency = "#account";
    $.ajax({
      url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'cifaccount'), null, true) ?>",
      type: 'GET',
      dataType: "html",
      data: {
        id: n
      },
      success: function(data) {
        console.info(data);
        $(currency).html(data);
      },
      error: function(xhr, ajaxOptions, thrownError) {
        console.info(thrownError);
        console.info(xhr);
        console.info(ajaxOptions);
        alert("Failed to get where column list, please try again");
      }
    });
  }

</script>