<?php
$mandatory = "<strong class='formreq' style='color:red;'>&nbsp;*</strong>";
?>
<script type="text/javascript">
    $(document).ready(function() {
        $('div#sidebar-collapse').click(function() {
            if ($("#logo-title").is(":visible")) {
                $("#logo-title").hide();
                $("#logo-titles").hide();
            } else if ($("#logo-title").is(":hidden")) {
                $("#logo-title").show();
                $("#logo-titles").show();
            }
        })
        $('#createdStart').datepicker({
            format: 'yyyy-mm-dd',
            uiLibrary: 'bootstrap4'
        });
        $('#createdEnd').datepicker({
            format: 'yyyy-mm-dd',
            uiLibrary: 'bootstrap4'
        });

        $('#fixTable').fixTableHeader();

        $("#searchtable").keyup(function() {
            var value = this.value.toLowerCase().trim();

            $("#myTable tr").each(function(index) {
                if (!index) return;
                $(this).find("td").each(function() {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });

        $('#document').bind('change', function() {

            if (this.files[0].size > 10000000) {
                alert("Your file size more than 10 MB, it should be lower than 10 MB")
                $('#document').val("");
                return false;
            }

            var filename = $("#document").val();
            var testname = filename.substr(0, 45);

            if (/^\s*$/.test(testname)) {
                $(".file-upload").removeClass('active');
                $("#noFile").text("No file chosen...");
            } else {
                var filenamenew = testname;
                $(".file-upload").addClass('active');
                $("#noFile").text(filenamenew.replace("C:\\fakepath\\", ""));
            }
        });
    });
</script>
<?php if ($this->error) { ?>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#addmodal').modal();
        });
    </script>
<?php } ?>

<script type="text/javascript">
    function deleleopenmodal() {

        $('#dialog_box').modal('show');

        //var params = "'" + bankname + "','" + key + "','" + acctno + "'";
        // $("#btn_delete_one").attr('onclick', 'processdelete(' + params + ')');
    }

    function valthis() {
        var checkBoxes = document.getElementsByClassName('checkall');
        var isChecked = false;
        for (var i = 0; i < checkBoxes.length; i++) {
            if (checkBoxes[i].checked) {
                isChecked = true;
            };
        };
        if (isChecked) {
            $('#disreject').prop('disabled', false);
            $('#disreject').removeClass("disabled");
        } else {
            $('#disreject').prop('disabled', 'disabled');
            $('#disreject').addClass("disabled");
        }
    }

    function addModal() {
        $('#addmodal').modal();

    }
</script>

<style>
    .table td {
        /*padding: 3px 3px 3px 3px !important;*/
        vertical-align: middle !important;
    }

    .table th {
        /*padding: 3px 3px 3px 3px !important;*/
        vertical-align: middle !important;
    }

    .btnred {
        min-width: 86px !important;
        height: 30px !important;
        -webkit-backdrop-filter: blur(30px);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
        font-family: SegoeUI;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        z-index: 1000;
    }
</style>

<style type="text/css">
    .file-upload {
        display: block;
        text-align: center;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
    }

    .file-upload .file-select {
        display: block;
        border: 2px solid #dce4ec;
        color: #34495e;
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        text-align: left;
        background: #FFFFFF;
        overflow: hidden;
        position: relative;
    }

    .file-upload .file-select .file-select-button {
        background: #dce4ec;
        padding: 0 10px;
        display: inline-block;
        height: 40px;
        line-height: 40px;
    }

    .file-upload .file-select .file-select-name {
        line-height: 40px;
        display: inline-block;
        padding: 0 10px;
    }

    .file-upload .file-select:hover {
        border-color: #34495e;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }

    .file-upload .file-select:hover .file-select-button {
        background: #34495e;
        color: #FFFFFF;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }

    .file-upload.active .file-select {
        border-color: #3fa46a;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }

    .file-upload.active .file-select .file-select-button {
        background: #3fa46a;
        color: #FFFFFF;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }

    .file-upload .file-select input[type=file] {
        z-index: 100;
        cursor: pointer;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .file-upload .file-select.file-select-disabled {
        opacity: 0.65;
    }

    .file-upload .file-select.file-select-disabled:hover {
        cursor: default;
        display: block;
        border: 2px solid #dce4ec;
        color: #34495e;
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        margin-top: 5px;
        text-align: left;
        background: #FFFFFF;
        overflow: hidden;
        position: relative;
    }

    .file-upload .file-select.file-select-disabled:hover .file-select-button {
        background: #dce4ec;
        color: #666666;
        padding: 0 10px;
        display: inline-block;
        height: 40px;
        line-height: 40px;
    }

    .file-upload .file-select.file-select-disabled:hover .file-select-name {
        line-height: 40px;
        display: inline-block;
        padding: 0 10px;
    }

    /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
</style>

<style type="text/css">
    .input-group-prepend {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16) !important;
        border-bottom-left-radius: 6px !important;
        border-top-left-radius: 6px !important;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('Utilities'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="inhouse"><?php echo $this->language->_('File Sharing'); ?></span>
                </li>

            </ul>
        </div>
    </div>
</div>




<div class="portlet-body form headerNew">
    <div class="content-box">
        <div class="row">
            <div class="col-sm-12">
                <h5><?= $this->language->_('Files Sharing') ?></h5>
                <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">

                    <?php
                    $optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
                    foreach ($this->filterlist as $row) {
                        $optArr .=  '<option value="' . $row . '" >' . $this->language->_($row) . '</option>';
                    }

                    ?>
                    <div class="row " id="logo-titles" style="margin-left: 0px">
                        <?php
                        //var_dump($this->wherecol);
                        if (!empty($this->wherecol)) {
                        ?>
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $("#logo-title").show();
                                });
                            </script>
                        <?php }
                        foreach ($this->wherecol as $key => $value) {  ?>

                            <div id="searchs" style="width: 100%">
                                <?php
                                $selectlist = array('NAMA_FILE', 'DESKRIPSI_FILE', 'TANGGAL_UNGGAH_AWAL', 'DIUNGGAH_OLEH');
                                $index = 0;
                                ?>
                                <div id="where-<?= $key ?>">
                                    <?php if ($value != "TANGGAL_UNGGAH_AKHIR") { ?>
                                        <div class="form-group row mt-12">
                                            <div class="col-md-4 form-inline">
                                                <select class='form-control event_select' id='wherecol-<?= $key ?>' style='width:100%' name='wherecol[]' onchange='getOpt(this)'>
                                                    <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                                    <?php foreach ($this->filterlist as $row) {

                                                        $colname = $row;

                                                        if ($value == "TANGGAL_UNGGAH_AWAL" && $row == "TANGGAL_UNGGAH") {
                                                            $selected = "selected";
                                                        } else if ($value == $colname) {
                                                            $selected = "selected";
                                                        } else {
                                                            $selected = "";
                                                        } ?>

                                                        <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>

                                                    <?php } ?>
                                                </select>

                                            </div>

                                            <div class="col-md-6 form-inline" id='colvalue-<?= $key ?>'>
                                                <script type="text/javascript">
                                                    $(document).ready(function() {
                                                        // var colval = "#colvalue-<?= $key ?>";
                                                        // var colomnname = "<?= $value ?>";
                                                        // var colselect = "colselect-s<?= $key ?>";
                                                        // var ncolselect = "#colselect-s<?= $key ?>";

                                                        $('#wherectr').val('<?= (int)$key + 1; ?>');
                                                    });
                                                </script>
                                                <?php if ($value == 'TANGGAL_UNGGAH_AWAL') { ?>
                                                    <input type='text' class='form-control' name='createdate[]' id='createdStart' readonly value="<?= $this->createdStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' value="<?= $this->createdEnd ?>" readonly required>
                                                    <input class='hidden' type='text' style='width:100%' name='whereval[]' />
                                                <?php } else if ($value == 'TANGGAL_UNGGAH_AKHIR') { ?>
                                                <?php } else if (in_array($value, $selectlist)) { ?>
                                                    <input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?= $this->whereval[$key] ?>' />
                                                <?php } ?>

                                            </div>
                                            <div class="col-md-2 form-inline">
                                                <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                            </div>
                                        </div>
                                    <?php } ?>

                                </div>

                            </div>

                        <?php } ?>

                    </div>


                    <div class="row " id="logo-title" style="display: none">
                        <div class="portlet-body form col-md-12">
                            <div id="wheres" style="width: 100%">
                                <div id="where-<?= $ctr ?>">
                                    <!-- <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?= $ctr ?>' name='whereco[]' onchange='getOpt(this)'>
                                            <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                            <?php

                                            foreach ($this->filterlist as $row) {
                                                $colname = $row;
                                                if ($val == $colname) {
                                                    $selected = "selected";
                                                } else {
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?= $ctr ?>' name='whereopt[]'>
                                            
                                            <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                                                <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                            <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                                                <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
                                            <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                                                <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?= $ctr ?>'> 
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?= $this->whereval[$key] ?>'/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div> -->
                                </div>
                                <?php //}}
                                ?>
                            </div>
                            <!-- <input type="hidden" id="wherectr" value="<?= $this->wherectr ?>"/> -->
                            <input type="hidden" id="wherectr" value="0" />
                            <br />
                            <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                            &nbsp;
                            <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
                            &nbsp;
                            <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">


                            <br />


                            <div class="portlet-body form" style="display: none">

                                <div class="form-group row ">
                                    <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
                                    <div class="col-md-4">
                                        <?php echo $this->formSelect('paymentType', $this->paymentType, array('id' => 'paymentType', 'class' => 'form-control', 'onclick' => 'changeTransferType()'), $this->optPayType); ?>
                                    </div>
                                    <label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
                                    <div class="col-md-3">
                                        <select name="transferType" id="transferType" class="form-control">
                                            <option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row ">

                                    <div class="col-md-12">
                                        <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>&nbsp;
                                        <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>

                    </div>
                    <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
                        <a href="#" class="sidebar-collapse-icon with-animation">
                            <?php echo $this->language->_('Advanced Search'); ?>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br />
    <form name="acstat_query" class="form-horizontal form-bordered form-row-stripped" enctype="multipart/form-data" method="post" action="">
        <div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title textBlack"><?php echo $this->language->_('Add File Sharing') ?></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-sm-12">
                                <!-- <form name="acstat_query" class="form-horizontal form-bordered form-row-stripped" enctype="multipart/form-data" method="post" action=""> -->
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
                                    <tbody>
                                        <tr>
                                            <td class="contentarea" id="contentarea">
                                                <div class="portlet light form-fit bordered">
                                                    <?php if ($this->error == true) { ?>
                                                        <?php foreach ($this->errorMsg as $row) { ?>
                                                            <?php if ($row['fileExtensionFalse']) { ?>
                                                                <div class="errmsg"><?php echo $row['fileExtensionFalse']; ?></div>
                                                            <?php } else if ($row['fileSizeTooBig']) { ?>
                                                                <div class="errmsg"><?php echo $row['fileSizeTooBig']; ?></div>
                                                            <?php } ?>
                                                        <?php } ?>
                                                        <?php if ($this->errorMsgT) : ?>
                                                            <div class="errmsg"><?php echo $this->errorMsgT; ?></div>
                                                        <?php endif ?>
                                                    <?php } ?>

                                                    <div class="card">

                                                        <div class="card-body form">
                                                            <!-- <div class="form-group row pt-2">
                              <div class="col-sm-3">
                                <label for=""><?php echo $this->language->_('Select File'); ?><?php echo $mandatory ?></label>
                              </div>
                              <div class="col-sm-9">
                                 <input type="file" size="50" name="document" id="document" class="form-control" value="<?php echo $this->description ?>">
                                 
                              </div>
                          </div> -->

                                                            <div class="form-group row pt-2">
                                                                <label class="control-label col-md-3 textBlack"><?php echo $this->language->_('Select File'); ?><strong class="formreq">
                                                                        <font color=red>&nbsp;*</font>
                                                                    </strong></label>
                                                                <div class="col-md-9">
                                                                    <div class="file-upload">
                                                                        <div class="file-select">
                                                                            <div class="file-select-button" id="fileName">Choose File</div>
                                                                            <div class="file-select-name" id="noFile">No file chosen...</div>
                                                                            <input type="file" name="document" id="document" value="<?php echo $this->description ?>" accept=".csv,.pdf,.doc" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row pt-2">
                                                                <div class="col-sm-3">
                                                                    <label class="textBlack" for=""><?php echo $this->language->_('Description'); ?><strong class="formreq">
                                                                            <font color=red>&nbsp;*</font>
                                                                        </strong></label>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <?php echo $this->formTextarea('description', $this->description, array(
                                                                        'class' => 'form-control', 'cols' => '40', 'rows' => '4',
                                                                        'onKeyDown' => 'textCounter(this.form.description,this.form.FILE_DESCRIPTION_len,150)',
                                                                        'onKeyUp' => 'textCounter(this.form.description,this.form.FILE_DESCRIPTION_len,150)',
                                                                        'onKeypress' => 'return noSpecialChar3(event);', 'required' => 'required'
                                                                    ));
                                                                    echo "<br>";
                                                                    echo $this->formText('FILE_DESCRIPTION_len', $this->FILE_DESCRIPTION_len, array('readonly' => 'readonly', 'size' => '2', 'class' => 'form-control', 'style' => 'width:60px')) . "<p class='textBlack'>" . $this->language->_('char(s) left') . "</p>";
                                                                    ?>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <br>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">

                                    <div class="form-group row pt-2">
                                        <div class="col-sm-12">
                                            <ul class="textBlack">
                                                <li>Please fill in the form. Fields marked with asterisk <?= '(' . $mandatory . ' )' ?> are required</li>
                                                <li>file extension : csv, pdf, doc, docx | max file size : 10 MB</li>
                                            </ul>
                                            <!-- &bull; <?php echo $this->language->_('Allowed file extension/type: csv pdf doc'); ?> -->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <br>

                    </div>
                    <div class="modal-footer justify-content-center">

                        <button type="button" data-dismiss="modal" class="btnwhite hov" style="background-color: #ffffff !important; color: #000000 !important; " data-dismiss="modal">Close</button>
                        <?php echo $this->formSubmit('upload', $this->language->_('Submit'), array('class' => 'btngreen hov')); ?>

                    </div>
                </div>
            </div>
        </div>
    </form>

    <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="post">
        <div class="form-group">
            <div style="float:left">
                <?php
                $option = array('module' => 'tools', 'controller' => 'datasubmission', 'action' => 'index');
                ?>
                <button class="btn-sm btngrad hov" type="button" onclick="addModal()"><i class="fa fa-plus"></i>&nbsp;Add</button>
                <?php
                echo $this->formButton('disreject', $this->language->_('Delete'), array('class' => 'btn-sm btnred hov disabled', 'disabled' => 'disabled', 'id' => "disreject", 'onClick' => "deleleopenmodal()", 'style' => 'text-transform: capitalize!important;')); ?>
            </div>
            <div style="float:right; padding-left:5px;">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="search form-control" id="searchtable" placeholder="Search">
                </div>
            </div>
        </div>


        <div class="modal fade" id="dialog_box" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title textBlack"><?php echo $this->language->_('Delete File Sharing') ?></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="textBlack"><?= $this->language->_('Are you sure to delete the selected File') ?> ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
                        <input type="submit" name="multiReject" class="btnred hov" style="font-size:11px; min-width: 100px !important; height: 35px !important;" value="Delete">

                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="portlet-body flip-scroll table-responsive" id="fixTable">
            <table width="100%" cellpadding="2" cellspacing="0" border="0" class="table table-sm table-striped" id="myTable">
                <tr class="headercolor">
                    <th width="3px" valign="top" class="tablehead">

                        <input name="allCheck[]" onclick="if($(this).is(':checked')){$('.checkall').prop('checked', true);$('#disreject').prop('disabled', false);$('#disreject').removeClass('disabled');}else{$('.checkall').prop('checked', false);$('#disreject').prop('disabled', 'disabled');$('#disreject').addClass('disabled');}" type="checkbox">
                    </th>
                    <?php
                    echo $this->partial(
                        'tableheader.phtml',
                        array(
                            'fields' => $this->fields,
                            'sortBy' => $this->sortBy,
                            'sortDir' => $this->sortDir,
                            'query_string_params' => $this->query_string_params
                        )
                    );
                    ?>
                </tr>
                <?php
                if (count($this->paginator)) {
                    $i = 0;
                    foreach ($this->paginator as $row) {
                        $td_css = ($i % 2 == 0) ? ' tbl-evencontent' : 'tbl-oddcontent';
                        require_once 'Crypt/AESMYSQL.php';
                        $AESMYSQL = new Crypt_AESMYSQL();
                        $rand = $this->token;
                        $encrypted_pwd = $AESMYSQL->encrypt($row['FILE_ID'], $rand);
                        // $dt["payReff"] = urlencode($encrypted_pwd);
                        $encreff = urlencode($encrypted_pwd);
                        $button = '<a href="' . $this->url(array('module' => 'tools', 'controller' => 'submissionreport', 'action' => 'index', 'filter' => 'download', 'FILE_ID' => $encreff), null, true) . '">' . $row['FILE_NAME'] . '</a>';

                        $checkBox = "<input name='mPayReff[]' type='checkbox' onClick='valthis();' class='checkall' value='" . $encreff . "'>";

                        echo '  <tr>
            <td class="' . $td_css . '">' . $checkBox . '</td>
            <td class="' . $td_css . '">' . $button . '</td>
            <td class="' . $td_css . '">' . $this->escape($row['FILE_DESCRIPTION']) . '</td>
            <td class="' . $td_css . '">' . Application_Helper_General::convertDate($row['FILE_UPLOADED_TIME'], $this->displayDateTimeFormat, $this->defaultDateFormat) . '</td>
            <td class="' . $td_css . '">' . $row['USER_FULLNAME'] . '</td>
            </tr>';

                        $i++;
                    }
                } else {
                    echo '<tr><td colspan="6" class="tbl-evencontent" align="center"> --- ' . $this->language->_('No Data') . ' --- </td></tr>';
                }
                ?>
            </table>
        </div>
    </form>
    <div align="right">
        <?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?>
    </div>

</div>

<script type="text/javascript">
    function removeParent(elem) {
        var parentname = elem.parentNode.parentNode.parentNode.id;
        $("#" + parentname).remove();
    }
    $(document).ready(function() {

        $("#addwhere").click(function() {
            var ctr = $("#wherectr").val();
            var optstr = '<?php echo $optArr; ?>';
            var wherecol = "#wherecol-" + ctr;
            $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control' id='wherecol-" + ctr + "' style='width:100%' name='wherecol[]' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' style='width:100%' type='text' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
            ctr++;
            $("#wherectr").val(ctr);
        });
    });

    function getOpt(elem) {
        var id = elem.id;
        var temp = id.split('-');
        var ctr = temp[1];

        var selval = elem.value;
        var tempval = selval.split('-');
        dttype = tempval[1];

        colomnname = tempval[0];
        var colval = "#colvalue-" + ctr;
        var colselect = "colselect-" + ctr;
        var ncolselect = "#colselect-" + ctr;
        var $coll = $('.event_select');
        $coll.children().prop('disabled', false);
        $coll.each(function() {
            var val = this.value;
            if (val === 'original') return;
            $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
        });

        $(colval).empty();

        if (colomnname == 'TANGGAL_UNGGAH') {
            $(colval).append("<input type='text' class='form-control' name='createdate[]' id='createdStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' readonly required><input type='hidden' id='" + colselect + "' name='whereval[]'>");
            $('#createdStart').datepicker({
                // minDate: function() {
                //   var mindate = new Date();
                //   mindate.setDate(mindate.getDate() - 180);
                //   return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                // },
                maxDate: function() {
                    var maxdate = new Date();
                    maxdate.setDate(maxdate.getDate());
                    return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                },
                format: 'yyyy-mm-dd',
                uiLibrary: 'bootstrap4',
            });
            $('#createdEnd').datepicker({
                minDate: function() {
                    var val = document.getElementById('createdStart').value;
                    var mindate = new Date(val);

                    mindate.setDate(mindate.getDate());
                    return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                },
                maxDate: function() {
                    var date = new Date();
                    date.setDate(date.getDate());
                    return new Date(date.getFullYear(), date.getMonth(), date.getDate());
                },
                format: 'yyyy-mm-dd',
                uiLibrary: 'bootstrap4',
            });
        } else {
            $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='30'  class='form-control' >");
        }


        var optsel = "whereopt-" + ctr;
        document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

        //    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        //     document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        //     document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        //     document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        //     document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        // }
        // if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        //     document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        // }
        // else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        //     document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        //     document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
        // }
        // else if(dttype == 'date' || dttype == 'datetime'){
        //     document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        //     document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        //     document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        //     document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        //     document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        // }

        var colomn = '#whereopt-' + ctr;
        var data = $(colomn).val('EQUAL').change();

    }
</script>