<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Transaction'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Bulk Transfer'); ?></span>
	                </li>
                  <li>
                      <span class="valas" ><?php echo $this->language->_('Confirm'); ?></span>
                  </li>
            	</ul>
        	</div>
      	</div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $(".tokeninput").keyup(function(e) {

      if ((e.which == 8 || e.which == 46) && $(this).val() == '') {
        $(this).prev().focus();
      } else {
        $(this).next().focus();
      }
    });

    $('#tokenmodal').on('shown.bs.modal', function() {
        $('.firsttokenfield').trigger('focus');
      });

      $('#tokenmodal3').on('shown.bs.modal', function() {
        $('.firsttokenfield2').trigger('focus');
      });

      $('.tokeninput').prop('autocomplete', 'off');

  });
</script>

<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal form-bordered form-row-stripped" name="bulk_credit_import" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'confirm'),null,true)?>">
          <input type="hidden" name="PM_SUBJECT" value="tes">
          <input type="hidden" name="PM_EFDATE" value="10/05/2012">
          <input type="hidden" name="ACCTSRC" value="1290001537~JOSHUA ADISETYA DHARMAWAN~IDR">

          <!-- Section Header -->
          <div class="row no-gutters pt-3">
            <div class="col-sm-12 col-md-10">
              <h5><?php echo $this->language->_('Transfer Form'); ?></h5>
            </div>
            <div class="col-sm-12 col-md-2" align="right">
              <a href="#" class="detail-ellipsis"><i class="fa fa-ellipsis-h"></i></a>
            </div>
          </div>
          <!-- Section Header Ends -->
          <!-- Content Credit Detail -->
          <div class="col-sm-6 col-md-6 pl-2 table-responsive">
            <table class="table">
              <tr>
                <td class="sub-text"><?php echo $this->language->_('Batch Payment Type'); ?></td>
                <td><?php echo $this->language->_('One To Many'); ?></td>
              </tr>
              <tr>
                <td class="sub-text"><?php echo $this->language->_('Payment Subject'); ?></td>
                <td><?=$this->PS_SUBJECT?></td>
              </tr>
               <tr>
                <td class="sub-text"><?php echo $this->language->_('Payment Date'); ?></td>
                <td>
                    <?=$this->PS_EFDATE?>
                </td>
              </tr>
              <tr>
                <td class="sub-text"><?php echo $this->language->_('Source Account'); ?></td>
                <td><?=$this->ACCTSRC?></td>
              </tr>
               <tr>
                <td class="sub-text"><?php echo $this->language->_('Uploaded File ID'); ?></td>
                <td>
                      <?=$this->PS_FILEID?>
                </td>
              </tr>
              <tr>
                <td class="sub-text"><?php echo $this->language->_('Uploaded Date'); ?></td>
                <td>
                      <?=$this->uploadDate?>
                </td>
              </tr>
              <tr>
                <td class="sub-text"><?php echo $this->language->_('Number Of Record'); ?></td>
                <td>
                      <?=number_format($this->countData)?>
                </td>
              </tr>
              <tr>
                <td class="sub-text"><?php echo $this->language->_('Total Amount'); ?></td>
                <td>
                      <?=$this->PS_CCY.' '.Application_Helper_General::displayMoney($this->totalAmountData)?>
                </td>
              </tr>
            </table>
          </div>
          <!-- Content Credit Detail End -->
          <!-- Section Header -->
          <!-- <div class="row no-gutters pt-3">
            <div class="col-sm-12 col-md-10">
              <h5><?php echo $this->language->_('File Detail'); ?></h5>
            </div>
          </div> -->
          <!-- Section Header Ends -->
          <?php if($this->totalFailed){ ?>
          <br /><div class="errmsg"><?php echo $this->language->_('Error: This payment can not be continue'); ?></div><br />
          <?php } ?>
          <!-- <div class="col-md-12">
              <table class="table table-bordered table-condensed flip-content" width="50%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                      <th id="tablehead"><?php echo $this->language->_('Payment Type'); ?></th>
                      <th id="tablehead"><?php echo $this->language->_('CCY'); ?></th>
                      <th id="tablehead"><?php echo $this->language->_('Payment Success'); ?></th>
                      <th id="tablehead"><?php echo $this->language->_('Total Amount Success'); ?></th>
                      <th id="tablehead"><?php echo $this->language->_('Payment Failed'); ?></th>
                      <th id="tablehead"><?php echo $this->language->_('Total Amount Failed'); ?></th>
                      
                  </tr>
                <?php
                  foreach($this->countTrxCCY as $type=>$rows)
                  {
                    $i = 0;
                    foreach($rows as $ccy=>$row)
                    {
                      $detailErr = $row['failed'] ? ', <a onClick="showPopUpWindow(\'../../popuperror/bulkcreditpopup?type='.$type.'&ccy='.$ccy.'\');">['.$this->language->_('Detail').']</a>' : '';
                      $content =  '
                        <tr>
                          <td class="tbl-oddcontent">';
                      if($i==0) $content .= $this->language->_($type);
                      else $content .= '&nbsp;';
                      $content .=  '
                          </td>
                          <td class="tbl-oddcontent">'.$this->language->_($ccy).'</td>
                          <td class="tbl-oddcontent" align="center">'.$row['success'].' '.$this->language->_('record').'</td>
                          <td class="tbl-oddcontent" align="right">'.Application_Helper_General::displayMoney($this->sumTrxCCY[$type][$ccy]['success']).'</td>
                          <td class="tbl-oddcontent" align="center"><strong><font color="red">'.$row['failed'].' '.$this->language->_('record').''.$detailErr.'</font></strong></td>
                          <td class="tbl-oddcontent" align="right">'.Application_Helper_General::displayMoney($this->sumTrxCCY[$type][$ccy]['failed']).$detailErr.'</td>';
                          
                      echo '</tr>';
                      echo $content;
                      $i++;
                    }
                  }
                ?>
                <tr>
                        <td class="tbl-oddcontent" colspan="2"><strong><?php echo $this->language->_('Total'); ?></strong></td>
                        <td class="tbl-oddcontent" align="center"><?=$this->totalSuccess?> <?php echo $this->language->_('record'); ?></td>
                        <td class="tbl-oddcontent" align="right"><?=Application_Helper_General::displayMoney($this->amountSuccess)?></td>
                        <td class="tbl-oddcontent" align="center"><strong><font color="red"><?=$this->totalFailed?> <?php echo $this->language->_('record'); ?></font></strong></td>
                        <td class="tbl-oddcontent" align="right"><?=Application_Helper_General::displayMoney($this->amountFailed)?></td>
                                                      
                </tr>
                </table>
          </div> -->
          <div class="col-md-12 formbutton" style="text-align: center">
              <input type="submit" name="submit_cancel" class="btnwhite hov" value="<?php echo $this->language->_('Back')?>">&nbsp;&nbsp;

               <?php if($this->token){ ?>
					   <?php
                            // var_dump($this->popauth);die;
                            if ($this->googleauth) {
                              if ($this->popauth) {
                                $errorMsgView = $this->language->_('Can not release this payment') . ".<br><br>".$this->errorMsg;
                            ?>

                                <script type="text/javascript">
                                  $(document).ready(function() {
                                    $("#tokenmodal").modal();
                                  });
                                </script>
                              <?php
                              }
                            }
                              ?>
                              <div class="modal fade" id="tokenmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
								<div class="modal-content">
								<div class="modal-header text-center">
								  <h4 class="modal-title w-100 font-weight-bold textBlack" style="margin-left: 25px;">Google Auth Verify</h4>
								  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								  <span aria-hidden="true">&times;</span>
								  </button>
								</div>
								<div class="modal-body mx-3">
								<div class="errmsg"><?php
												if ($this->token) {
												echo $this->report_msg;
												}
												?></div>
									<?php  if($this->popauth){ ?>
								 <div class="errmsg">
								  <?php echo $this->language->_('Incorrect token'); echo ' ( '; echo $this->language->_('you have '); echo $this->tokenfail; echo $this->language->_(' more chances'); echo ' )'; ?>
								</div>
								<?php } ?>
								  <div class="col-md-12" align="center">
								  <table width="100%">
									<tbody>
									
									<tr>
									  <td align="center">
									  <div class="input-group">
										<center style="width: 100%">
										<input class="tokeninput firsttokenfield" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
										<input class="tokeninput" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
										<input class="tokeninput" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
										<input class="tokeninput" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
										<input class="tokeninput" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
										<input class="tokeninput" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
										</center>
									  </div>
									  </td>
									</tr>
									</tbody>
								  </table>

								  <?php if ($this->tokenError) { ?>
									<h6 class="text-danger mt-4"><?php echo $this->language->_($this->error_msg); ?></h6>
								  <?php } ?>

								  </div>
								</div>
								<div class="modal-footer d-flex justify-content-center">
								  <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
								  <?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
								</div>
								</div>
							  </div>
							  </div>



                               

                              <?php } ?>

              <?php if ($this->token) { ?>

                   <button class="btngreen hov"  type="button" data-toggle="modal" data-target="#tokenmodal">&nbsp;<?php echo $this->language->_('Next'); ?></button>
                
              <?php } else { ?>
                
                  <input type="submit" name="submit" class="btngreen hov" value="<?php echo $this->language->_('Submit')?>" <?php $disabled = $this->totalFailed ? 'disabled="disabled"' : ''; echo $disabled;?>>

              <?php } ?>
              
          </div>
        </form>
    </div>
</div>
