<style>
    label {
        font-size: 1.2em;
        margin-bottom: 0.3rem;
    }

    h5 {
        font-size: 1.10rem;
        line-height: unset;
        margin-bottom: 0;
    }

    .textGray {
        color: #8e8e8e;
    }

    .form-group {
        margin-bottom: 0em;
    }

    .iconCircle {
        background-color: lightgray;
        color: red;
        margin-top: 3px;
        min-width: 23px;
        height: 20px;
    }
	#guarantedTransactions {
        width: 100%;
        font-size: 16px;
    }

    #guarantedTransactions th {
        background-color: #cccccc;
        font-style: italic;
        font-weight: normal;
    }

    #guarantedTransactions td {
        background-color: #efefef;
        font-weight: normal;
    }
</style>

<div class="row justify-content-center">
    <div class="col-md-11">
        <div class="page-bar">
            <ul class="page-breadcrumb px-0">
                <li>
                    <span><?= $this->language->_('Beranda') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="inhouse"><?= $this->language->_('Alur Penutupan') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="inhouse"><?= $this->language->_('Penyelesaian') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="inhouse"><?= $this->language->_('Detail Transaksi') ?></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-2">
    <div class="col-md-11">
        <div class="row mb-2">
            <div class="col-md-6">
                <h5 style="margin-left: 15px;"><?= $this->language->_('Laporan Transaksi') ?></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Ref Penyelesaian / PREF#') ?></label>
            </div>
            <div class="col-md-8">
                <label class="text-danger"><?=$this->getBG['CLOSE_REF_NUMBER'];?></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Penyelesaian untuk BG Nomor') ?></label>
            </div>
            <div class="col-md-8">
            <label class="font-weight-bold" id="bg_number"><?php echo $this->getBG['BG_NUMBER']; ?> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Principal') ?></label>
            </div>
            <div class="col-md-8">
            <label><?php echo $this->getBG['CUST_NAME'] . ' (' . $this->getBG['CUST_ID'] . ')'; ?></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Obligee') ?></label>
            </div>
            <div class="col-md-8">
            <label><?php echo $this->getBG['RECIPIENT_NAME']; ?> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_("Subjek"); ?></label>
            </div>
            <div class="col-md-8">
            <label><?php echo $this->getBG['BG_SUBJECT']; ?> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Bank Cabang Penerbit') ?></label>
            </div>
            <div class="col-md-8">
            <label><?php echo $this->getBG['BRANCH_NAME']; ?></label>
            </div>
        </div>
		
        <form action="" id="releaseForm" method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'Releasedetail', 'bgnumb' => $this->BG_NUMBER), null, true) ?>">
            <?php if($this->dataHistoryTransaction['SERVICE'] == '1'){?>
			<div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust my-2" style="border-radius: 3px;">
                        <h5><?= $this->language->_('Detail Transaksi') ?></h5>
                    </div>
                    <div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Referensi Transaksi/ TraRE#') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->dataHistoryTransaction['TRANSACTION_ID']; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Jenis Service') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->arrListService[$this->dataHistoryTransaction['SERVICE']]; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray font-weight-bold"><?= $this->language->_('Rekening Sumber') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label>&nbsp;</label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Rekening Sumber') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->dataHistoryTransaction['SOURCE_ACCT']; ?> (<?php echo $this->dataHistoryTransaction['SOURCE_ACCT_CCY']; ?>) / <?php echo $this->dataHistoryTransaction['SOURCE_ACCT_NAME']; ?>/<?php echo $this->dataHistoryTransaction['SOURCE_ACCT_BANK_CODE']; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Tipe Rekening') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->dataHistoryTransaction['SOURCE_ACCT_TYPE']; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Produk Rekening') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->dataHistoryTransaction['SOURCE_PRODUCT_TYPE']; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray font-weight-bold"><?= $this->language->_('Rekening Tujuan') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label>&nbsp;</label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Rekening Tujuan') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->dataHistoryTransaction['BENEF_ACCT']; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Pesan') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->dataHistoryTransaction['REMARK1']; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Waku Pembaharuan') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->dataHistoryTransaction['UPDATE_APPROVED']; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Tanggal Transaksi') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->dataHistoryTransaction['UPDATE_SUGGESTED']; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Status') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->arrStatusTransaction[$this->dataHistoryTransaction['TRA_STATUS']]; if($this->dataHistoryTransaction['TRA_STATUS'] == 3 || $this->dataHistoryTransaction['TRA_STATUS'] == 4){ echo " (".$this->dataHistoryTransaction['BANK_RESPONSE'].")";} ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Nominal Transfer') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->dataHistoryTransaction['SOURCE_ACCT_CCY']; ?> <?php echo Application_Helper_General::displayMoney($this->dataHistoryTransaction['TRA_AMOUNT']); ?></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

			<?php
			}
			?>
			
			<?php if($this->dataHistoryTransaction['SERVICE'] == 2 || $this->dataHistoryTransaction['SERVICE'] == 3){?>
			<div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust my-2" style="border-radius: 3px;">
                        <h5><?= $this->language->_('Detail Transaksi') ?></h5>
                    </div>
                    <div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Referensi Transaksi/ TraRE#') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->dataHistoryTransaction['TRANSACTION_ID']; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Jenis Service') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->$arrListService[$this->dataHistoryTransaction['SERVICE']]; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray font-weight-bold"><?= $this->language->_('Rekening Sumber') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label>&nbsp;</label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Rekening Sumber') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->dataHistoryTransaction['SOURCE_ACCT']; ?> (<?php echo $this->dataHistoryTransaction['SOURCE_ACCT_CCY']; ?>) / <?php echo $this->dataHistoryTransaction['SOURCE_ACCT_NAME']; ?>/<?php echo $this->dataHistoryTransaction['SOURCE_ACCT_BANK_CODE']; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Tipe Rekening') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->dataHistoryTransaction['SOURCE_ACCT_TYPE']; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Produk Rekening') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->dataHistoryTransaction['SOURCE_PRODUCT_TYPE']; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Hold Sequence') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->dataHistoryTransaction['HOLD_SEQUENCE']; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Waku Pembaharuan') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->dataHistoryTransaction['UPDATE_APPROVED']; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Tanggal Transaksi') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->dataHistoryTransaction['UPDATE_SUGGESTED']; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Status') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->arrStatusTransaction[$this->dataHistoryTransaction['TRA_STATUS']]; if($this->dataHistoryTransaction['TRA_STATUS'] == 3 || $this->dataHistoryTransaction['TRA_STATUS'] == 4){ echo " (".$this->dataHistoryTransaction['BANK_RESPONSE'].")";} ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Nominal Transfer') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?php echo $this->dataHistoryTransaction['SOURCE_ACCT_CCY']; ?> <?php echo Application_Helper_General::displayMoney($this->dataHistoryTransaction['TRA_AMOUNT']); ?></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

			<?php
			}
			?>
			
            
            <div class="row mt-2">
                <div class="col-md-12" align="center">
				
                    <button class="btnwhite hov" onclick="closeDetail()"><?php echo $this->language->_('Kembali'); ?></button>
                    &nbsp;
                    <form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">
                        <input type="submit" value="PDF" name="pdf" id="pdf" class="fa btngrad hov">
                    </form>
					
                </div>
            </div>  
			
        </form>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>

<script type="text/javascript">
  function closeDetail(){
    window.close();
  }
</script>