<style>
    label {
        font-size: 1.2em;
        margin-bottom: 0.3rem;
    }

    h5 {
        font-size: 1.10rem;
        line-height: unset;
        margin-bottom: 0;
    }

    .textGray {
        color: #8e8e8e;
    }

    .form-group {
        margin-bottom: 0em;
    }

    .iconCircle {
        background-color: lightgray;
        color: red;
        margin-top: 3px;
        min-width: 23px;
        height: 20px;
    }
	#guarantedTransactions {
        width: 100%;
        font-size: 16px;
    }

    #guarantedTransactions th {
        background-color: #cccccc;
        font-style: italic;
        font-weight: normal;
    }

    #guarantedTransactions td {
        background-color: #efefef;
        font-weight: normal;
    }
</style>

<div class="row justify-content-center mt-2">
    <div class="col-md-11">
        <div class="row mb-2">
            <div class="col-md-6">
                <h5 style="margin-left: 15px;"><?= $this->language->_('Detail Penyelesaian Bank Garansi') ?></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Ref Penyelesaian / PREF#') ?></label>
            </div>
            <div class="col-md-8">
                <label class="text-danger"><?=$this->getBG['CLOSE_REF_NUMBER'];?></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Nomor Bank Garansi') ?></label>
            </div>
            <div class="col-md-8">
            <label class="font-weight-bold" id="bg_number"><?php echo $this->getBG['BG_NUMBER']; ?> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Principal') ?></label>
            </div>
            <div class="col-md-8">
            <label><?php echo $this->getBG['CUST_NAME'] . ' (' . $this->getBG['CUST_ID'] . ')'; ?></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Obligee') ?></label>
            </div>
            <div class="col-md-8">
            <label><?php echo $this->getBG['RECIPIENT_NAME']; ?> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_("Subjek"); ?></label>
            </div>
            <div class="col-md-8">
            <label><?php echo $this->getBG['BG_SUBJECT']; ?> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Bank Cabang Penerbit') ?></label>
            </div>
            <div class="col-md-8">
            <label><?php echo $this->getBG['BRANCH_NAME']; ?></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Status Bank Garansi') ?></label>
            </div>
            <div class="col-md-8">
            Berakhir (Tanggal Berakhir : <?php echo $this->updateEnd;?>)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Jenis Penutupan') ?></label>
            </div>
            <div class="col-md-8">
            <label><?php echo $this->arrType[$this->getBG['TYPE']]; ?></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Status Penyelesaian') ?></label>
            </div>
            <div class="col-md-8">
            <label><?php echo $this->arrStatusPenutupan[$this->getBG['PS_STATUS']]; ?></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Catatan') ?></label>
            </div>
            <div class="col-md-8">
            <label>-</label>
            </div>
        </div>

        <form action="" id="releaseForm" method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'Releasedetail', 'bgnumb' => $this->BG_NUMBER), null, true) ?>">
            
			<?php if($this->counterWarrantyType == 1){?>
			<div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust my-2" style="border-radius: 3px;">
                        <h5><?= $this->language->_('Kontra Garansi') ?></h5>
                    </div>
                    <div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label id="COUNTER_WARRANTY_TYPE_LBL"><?= $this->counterWarrantyDesc; ?></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<?php } ?>
			
			<?php if($this->counterWarrantyType == 2){?>
			<div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust my-2" style="border-radius: 3px;">
                        <h5><?= $this->language->_('Kontra Garansi') ?></h5>
                    </div>
                    <div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label id="COUNTER_WARRANTY_TYPE_LBL"><?= $this->counterWarrantyDesc; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Pemilik Plafond Limit') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label id="COUNTER_WARRANTY_TYPE_LBL"><?php echo $this->getBG['CUST_NAME'] ?></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<?php } ?>
			
			<?php if($this->counterWarrantyType == 3){?>
			<div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust my-2" style="border-radius: 3px;">
                        <h5><?= $this->language->_('Kontra Garansi') ?></h5>
                    </div>
                    <div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label id="COUNTER_WARRANTY_TYPE_LBL"><?= $this->counterWarrantyDesc; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Nama Asuransi') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?= $this->insuraceName; ?></label>
                            </div>
                        </div>
                    </div>
					<div style="padding-left:2%">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="textGray"><?= $this->language->_('Cabang Asuransi') ?></label>
                            </div>
                            <div class="col-md-8">
                                <label><?= $this->insuranceBranch; ?></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<?php } ?>
			
			<?php if($this->counterWarrantyType == 1){?>
            <div class="row">
                <div class="col-md-12" style="height: auto; position: relative;" id="transaksi_container">
                    <div class="padding-header-cust my-2" style="border-radius: 3px;">
                        <h5><?= $this->language->_('Pelepasan Marginal Deposit Principal') ?></h5>
                    </div>
                    <div style="padding-left:2%; padding-top:2px;" class="py-2">
                        <label for="" class="text-body font-weight-bold">Marginal Deposit Principal </label> <label style="font-style: italic;">(total : </label> <label class="text-danger" style="font-style: italic;">IDR <?= number_format($this->holdAmount, 2); ?></label><label style="font-style: italic;">)</label>
						<input type="hidden" id="holdAmount" value="<?=$this->holdAmount;?>">
						<input type="hidden" id="transferAmount" value="<?=$this->transferAmount;?>">
						<div style="float:right">
						<a href="javascript:void(0)" onclick="refreshMarginalDeposit('<?=$this->getBG['BG_REG_NUMBER'];?>')"><i class="fa fa-retweet" id="iconRefresh"></i><img src='/images/logo/35.gif' id='iconLoad' style='width: 13px;display:none'></a>
						</div>
						<span id="tableMarginalDeposit"></span>
						<div class="col-sm-12">
                                  <strong class="formreq"><font color="red">&nbsp;*</font></strong> <label for="" class="textGray col-form-label"><?= $this->language->_('Rekening Tipe Deposito dan Saving akan dilakukan pelepasan dana ditahan (tanpa pemindahan dana)') ?></label>
						</div>
						<label for="" class="text-body font-weight-bold">Pelepasan Dana Escrow ke Rekening Berikut</label> <label style="font-style: italic;"> (total jumlah : </label> <label class="text-danger"><span id="totalPelepasanDana" class="text-danger"><?=$this->totalPelepasanDana;?></span></label><label style="font-style: italic;">)
						
											
						</label>
								<?php
								$total = 1;
								?>
								<?php echo $this->listAccountPDF;?>
                    </div>
					
                </div>
				
            </div>
			<?php } ?>
			<?php if($this->counterWarrantyType == 1 || $this->counterWarrantyType == 3){?>
            <div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust d-flex" style="border-radius: 3px;">
                        
                            <h5><?= $this->language->_('Laporan Transaksi') ?></h5>
                    
                        <div class="col" style="text-align: right;">
                            <a href="javascript:void(0)" id="fa-angle-down1" class="mr-2 text-white" onclick="historyShow1()"><i class="fa fa-angle-down"></i></a>
                            <a href="javascript:void(0)" id="fa-angle-up1" class="mr-2 text-white" onclick="historyHide1()"><i class="fa fa-angle-up"></i></a>
                        </div>
                    </div>
                    <div class="form-group row pt-2">
                        <div class="col-sm-12 pb-2">
                            <div id="transaksi">
                                <table id="guarantedTransactions">
									<thead>
                                    <tr style="background-color:#ccc">
                                        <th><?= $this->language->_('TraRef#'); ?></th>
                                        <th><?= $this->language->_('Service'); ?></th>
                                        <th><?= $this->language->_('HoldSeq'); ?></th>
                                        <th><?= $this->language->_('Rekening Sumber'); ?></th>
                                        <th><?= $this->language->_('Rekening Tujuan'); ?></th>
                                        <th><?= $this->language->_('Jumlah'); ?></th>
                                        <th><?= $this->language->_('Status'); ?></th>
                                    </tr>
									</thead>
									<tbody>
									<?php 
									  require_once 'Crypt/AESMYSQL.php';
									  $AESMYSQL = new Crypt_AESMYSQL();
									  $rand = $this->token;
									?>
									<?php
									if($this->flagTransaction){
									
									?>
                                    <?php foreach ($this->dataHistoryTransaction as $row) : ?>
									<?php 
									$source = empty($row['SOURCE_ACCT']) ? '-' : $row['SOURCE_ACCT']." / ".$row['SOURCE_ACCT_NAME']." / ".$this->listBank[$row['SOURCE_ACCT_BANK_CODE']];
									$benef = empty($row['BENEF_ACCT']) ? '-' : $row['BENEF_ACCT']." / ".$row['BENEF_ACCT_NAME']." / ".$this->listBank[$row['BENEF_BANK_CODE']];

									?>
                                        <tr style="background-color:#eee">
                                            <td><a href="javascript:void(0)" onclick="javascript:openwindow('/bgclosingworkflow/releasedetail/detail/bgnumb/<?=urlencode($AESMYSQL->encrypt($row['BG_NUMBER'], $rand));?>/transid/<?= urlencode($AESMYSQL->encrypt($row['TRANSACTION_ID'], $rand)); ?>',900,600);"><u><?= "PREF-".substr($row['TRANSACTION_ID'], -2);?></u></a></td>
                                            <td><?= $this->arrListService[$row['SERVICE']]; ?></td>
                                            <td><?= $row['HOLD_SEQUENCE'] ?: '-'; ?></td>
                                            <td><?= $source;?></td>
                                            <td><?= $benef;?></td>
                                            <td><?= $row['SOURCE_ACCT_CCY'] ?: '-'; ?> <?= Application_Helper_General::displayMoneyplain($row['TRA_AMOUNT']); ?></td>
                                            <td><?= $this->arrStatusTransaction[$row['TRA_STATUS']]; ?></td>
                                        </tr>
                                    <?php endforeach; ?>
									<?php
									}
									?>
									</tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>
			<?php } ?>
            <div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust d-flex" style="border-radius: 3px;">
                        
                            <h5><?= $this->language->_('Riwayat') ?></h5>
                    
                        <div class="col" style="text-align: right;">
                            <a href="javascript:void(0)" id="fa-angle-down" class="mr-2 text-white" onclick="historyShow()"><i class="fa fa-angle-down"></i></a>
                            <a href="javascript:void(0)" id="fa-angle-up" class="mr-2 text-white" onclick="historyHide()"><i class="fa fa-angle-up"></i></a>
                        </div>
                    </div>
                    <div class="form-group row pt-2">
                        <div class="col-sm-12 pb-2">
                            <div id="history-body">
                                <table id="guarantedTransactions">
									<thead>
                                    <tr>
                                        <th><?= $this->language->_('User'); ?></th>
                                        <th><?= $this->language->_('Action'); ?></th>
                                        <th><?= $this->language->_('Date Time'); ?></th>
                                        <th><?= $this->language->_('Note'); ?></th>
                                    </tr>
									</thead>
									<tbody>
                                    <?php foreach ($this->dataHistory as $row) : ?>
                                        <tr style="background-color:#eee">
                                            <td><?= $row['USER_LOGIN']; ?></td>
                                            <td><?= $this->historyStatusArr[$row['HISTORY_STATUS']]; ?></td>
                                            <td><?= date('d M Y H:i:s', strtotime($row['DATE_TIME'])); ?></td>
                                            <td><?= $row['BG_REASON'] ?: '-'; ?></td>
                                        </tr>
                                    <?php endforeach; ?>
									</tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>
            
				
			<?php if ($this->error) { ?>
			<div class="row mt-2">
                <div class="col-md-12" align="center">
					<div class="errmsg">
						<?php
						echo $this->errorMsg;
						?>
					</div>
				</div>
			</div>
			<?php } ?>
			
        </form>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<script>
	$(document).ready(function() {
		$('#fa-angle-up').hide();
        $('#fa-angle-up1').hide();
		$('#history-body').hide();
        $('#transaksi').hide();

        $('#bg_number').mask('AAA-AAAAAA-AAAAAA-AAA');
		
		refreshMarginalDeposit('<?php echo $this->getBG['BG_REG_NUMBER'];?>');
		
	});
	
	document.addEventListener("DOMContentLoaded", () => {
		// document.querySelector("input[name='email']").addEventListener('keyup', preventSpace)

		if (document.querySelector("#centerpage").childNodes.length == 7) {
			document.querySelector("#centerpage").lastChild.remove()
		}

		document.querySelector("#lanjut").addEventListener("click", () => {
			$('#dialog_password').modal({
				backdrop: "static",
				show: true,
				keyboard: false
			});
		})

		document.querySelector("#tampil_password").addEventListener("mouseover", (event) => {
			document.querySelector("[name='password_to_ldap']").setAttribute("type", "text");
			event.target.style.display = "none"
			document.querySelector("#sembunyi_password").style.display = "block"
		})

		document.querySelector("#sembunyi_password").addEventListener("mouseleave", (event) => {
			document.querySelector("[name='password_to_ldap']").setAttribute("type", "password");
			event.target.style.display = "none"
			document.querySelector("#tampil_password").style.display = "block"
		})
	})
	
	function refreshMarginalDeposit(reqNumber) {
		$('#iconRefresh').hide();
		$('#iconLoad').show();
		$.ajax({
		  url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquirymarginaldeposit'), null, true) ?>",
		  type: 'GET',
		  dataType: "html",
		  data: {
			reqNumber: reqNumber,
		  },
		  complete: function(){
			$('#iconLoad').hide();
			$('#iconRefresh').show();
		  },
		  success: function(data) {
			$('#tableMarginalDeposit').html(data);
		  },
		  error: function(xhr, ajaxOptions, thrownError) {
			alert("Failed to get where column list, please try again");
		  }
		});
  
	}

	function historyShow() {
		$('#fa-angle-down').hide();
		$('#fa-angle-up').show();
		$('#history-body').show();
	}

	function historyHide() {
		$('#fa-angle-down').show();
		$('#fa-angle-up').hide();
		$('#history-body').hide();
	}


    function historyShow1() {
		$('#fa-angle-down1').hide();
		$('#fa-angle-up1').show();
		$('#transaksi').show();
	}

	function historyHide1() {
		$('#fa-angle-down1').show();
		$('#fa-angle-up1').hide();
		$('#transaksi').hide();
	}

</script>