<style>
    body {
        padding-top: 3rem !important;
    }

    .page-bar {
        border-bottom: inherit !important;
    }

    .traStatus {
        width: 20px;
        height: 20px;
        border-radius: 9999999px;
    }

    input {
        font-size: 16px !important;
    }
</style>

<div class="container">
    <div class="row justify-content-start">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb px-0">
                    <li>
                        <span><?= $this->language->_('Beranda') ?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="inhouse"><?= $this->language->_('Alur Penutupan') ?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="inhouse"><?= $this->language->_('Penyelesaian') ?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="inhouse"><?= $this->language->_('Detail Transaksi') ?></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12" style="height: auto; position: relative;">
            <div class="pl-3 pt-2">
                <div class="row mb-4">
                    <div class="col-md-12">
                        <h5><?= $this->language->_('Laporan Transaksi') ?></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="textGray"><?= $this->language->_('Ref Penyelesaian / PREF#') ?></label>
                    </div>
                    <div class="col-md-8">
                        <label class="text-danger"><?= $this->getBG['CLOSE_REF_NUMBER']; ?></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="textGray"><?= $this->language->_('Penyelesaian Untuk BG Nomor') ?></label>
                    </div>
                    <div class="col-md-8">
                        <label class="font-weight-bold" id="bg_number"><?php echo $this->getBG['BG_NUMBER']; ?> </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="textGray"><?= $this->language->_('Principal') ?></label>
                    </div>
                    <div class="col-md-8">
                        <label><?php echo $this->getBG['CUST_NAME'] . ' (' . $this->getBG['CUST_ID'] . ')'; ?></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="textGray"><?= $this->language->_('Obligee') ?></label>
                    </div>
                    <div class="col-md-8">
                        <label><?php echo $this->getBG['RECIPIENT_NAME']; ?> </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="textGray"><?= $this->language->_("Subjek"); ?></label>
                    </div>
                    <div class="col-md-8">
                        <label><?php echo $this->getBG['BG_SUBJECT']; ?> </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="textGray"><?= $this->language->_('Bank Cabang Penerbit') ?></label>
                    </div>
                    <div class="col-md-8">
                        <label><?php echo $this->getBG['BRANCH_NAME']; ?></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DETAIL TRANSAKSI -->
    <?php
    switch ($this->detailTrx['SERVICE']) {
        case '1':
            echo $this->render('releasedetail/trxdetail.transferinhouse.phtml');
            break;

        case '2':
            echo $this->render('releasedetail/trxdetail.unlockdeposaving.phtml');
            break;

        case '3':
            echo $this->render('releasedetail/trxdetail.unlockdeposaving.phtml');
            break;

        case '4':
            echo $this->render('releasedetail/trxdetail.openaccount.phtml');
            break;

        case '5':
            echo $this->render('releasedetail/trxdetail.depodisburse.phtml');
            break;

        case '6':
            echo $this->render('releasedetail/trxdetail.depodisburse.phtml');
            break;

        case '7':
            echo $this->render('releasedetail/trxdetail.sknrtgs.phtml');
            break;

            // 8
        default:
            echo $this->render('releasedetail/trxdetail.sknrtgs.phtml');
            break;
    }
    ?>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('label').forEach(item => {
            item.style.fontSize = '16px';
            item.classList.add('col-form-label');
        });
    });
</script>