<script type="text/javascript">
function CheckReady()
{
	if (document.test.Ready()){
		alert("ready");
	}else{
		alert("not ready");
	}
}

function pass()
{
  if (document.test.Ready())
	    document.a.out0.value = document.test.encryptPINAndGenMAC(document.a.pin.value,document.a.mac.value);
  else
		document.a.out0.value = "Not Ready";
	document.getElementById('len').value = 	(document.a.out0.value).length
	
}

function changepass()
{
  if (document.test.Ready())
	    document.a.out0.value = document.test.encryptNewPINAndGenMAC(document.a.oldpin.value, document.a.pin.value,document.a.mac.value);
  else
		document.a.out0.value = "Not Ready";
}

function Checkpass()
{
		document.a.out0.value = document.test.getVersion();
}

</script>
	<div width="100%">

	<form action="" method="post">
		<table width="500px" border="0" cellspacing="0" cellpadding="0" align="center" class="content">
			
			<tr class="tbl-logincontent" align="left">
				<td>
				</td>
				<td id="err_msg" class="tbl-logincontent">
						<?php
							echo '<div style="font-weight:bold;color:#F00;font-size:14px;" >'.$this->errors.'</div>';
						?>
				</td>
			</tr>
			<tr class="tbl-logincontent" align="left">
				<td id="lbl_user_id" class="tbl-logincontent">
					<label for="lbl_user_id" class="required">&nbsp;<b>User ID</b></label>
				</td>
				<td align="left" class="tbl-logincontent">
					<div><input type="text" name="userId" id="userId" value="<?php echo $this->userId;?>" onkeyup="javascript:this.value = this.value.toUpperCase();" /></div>
				</td>
			</tr>
			<tr class="tbl-logincontent" >
				<td id="password-label" class="tbl-logincontent">
					<label for="password" class="required">&nbsp;<b>Password 1</b></label>
				</td>
				<td class="tbl-logincontent">
					<div><input type="password" name="password" id="password" value="" /></div>
				</td>
			</tr>
			<tr class="tbl-logincontent">
				<td id="password-label" class="tbl-logincontent">
					<label for="password" class="required">&nbsp;<b>Password 2</b></label>
				</td>
				<td class="tbl-logincontent">
					<div><input type="password" name="password2" id="password2" value="" /></div>
				</td>
			</tr>
			<tr class="tbl-logincontent" align="left">
				<td id="catpcha-label" class="tbl-logincontent">
					<label for="text" class="required">&nbsp;<b>Captcha</b></label>
				</td>
				<td align="left" class="tbl-logincontent">
					<label for="text" class="required"></label>
					<img src="<?php echo $this->captImgDir . $this->captchaId; ?>.png" alt=""/><br>
					<span style="font-size:10px"><i>Please input the above code</i></span>
					<br/>
					<input type="text" name="captcha[input]" onkeyup="javascript:this.value = this.value.toUpperCase();" /> 
					<br/>
					<input type="hidden" value="<?php echo $this->captchaId; ?>" name="captcha[id]"/>
				</td>
			</tr>
			<tr class="tbl-logincontent">
				<td>
				</td>
				<td align="left" class="tbl-logincontent">
					<div class="errmsg"><?=$this->errmsg; ?></div>
					<input type="submit" name="user_submitbutton" id="user_submitbutton" value="Login" class="inputbtn" />
					<input type="reset" name="reset" id="reset" value="Reset" class="inputbtn" />
				</td>
			</tr>
		</table>
	</form>
	</div>
				