<script type="text/javascript">
    $(document).ready(function() {
        $('div#sidebar-collapse').click(function() {
            if ($("#logo-title").is(":visible")) {
                $("#logo-title").hide();
                $("#logo-titles").hide();
            } else if ($("#logo-title").is(":hidden")) {
                $("#logo-title").show();
                $("#logo-titles").show();
            }
        })

        $('#lsdateStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#lsdateEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#ladateStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#ladateEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#lcdateStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#lcdateEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });

        $('#fixTable').fixTableHeader();

        $("#searchtable").keyup(function() {
          var value = this.value.toLowerCase().trim();

          $("#myTable tr").each(function(index) {
              if (!index) return;
              $(this).find("td").each(function() {
                  var id = $(this).text().toLowerCase().trim();
                  var not_found = (id.indexOf(value) == -1);
                  $(this).closest('tr').toggle(!not_found);
                  return not_found;
              });
          });
        });
    });
</script>



<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span class="valas"><?php echo $this->language->_('BIN'); ?></span> 
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas"><?php echo $this->language->_('BIN Template'); ?></span>
                </li>
            </ul>
        </div>
    </div>
</div>


<?php //if($this->hasPrivilege('cust_user_inp')){ 
?>

<?php //} 
?>
<div class="row">
    <div class="col-md-12">
        <h5><?php echo $this->language->_('BIN Template'); ?></h5>
        <h7 class="greyFont"><?php echo $this->language->_('BIN parameter template setting base on role business case model'); ?></h7>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br />

        <div class="form-group">
            <div style="float:left">
                <?php
                $buttonNew = $this->url(array('module' => $this->modulename, 'controller' => 'add', 'action' => 'index'), null, true);
                //$buttonNewHelp = $this->url(array('module'=>'createnewhelp','controller'=>'index','action'=>'index'),null,true);
                // echo $buttonNew = '<a href="'.$buttonNew.'" class="inputbtn">Create New Customer</a>';
                ?>
                <?php
                if ($this->hasPrivilege('BNAD')) {
                ?>
                    <button type="button" class="btn-sm btngrad hov" onclick="location.href='<?php echo $buttonNew; ?>'"><i class="fa fa-plus"></i>&nbsp;<?php echo $this->language->_('Add') ?></button>
                <?php } else {
                    // echo'<input type="button" class="btnwhite disabled" value="Add" disabled> &nbsp;';  
                    echo '<button type="button" class="btn-sm btngrad hov" disabled><i class="fa fa-plus"></i>&nbsp;Add</button>&nbsp;';
                }
                ?>
            </div>
            <div style="float:right; padding-left:5px;">
                <form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">
                    <div class="input-group input-group-sm">

                        <div class="input-group-prepend">
                            <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="search form-control" id="searchtable" placeholder="Search">
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div>
            <?php
            $buttonNewHelp = $this->url(array('module' => 'createnewhelp', 'controller' => 'index', 'action' => 'index'), null, true);
            ?>

        </div>

        <?php if ($this->success) { ?>
            <div class="successmsg"><?= $this->customer_msg ?></div><br />
        <?php } else if ($this->error) { ?>
            <div class="errmsg"><?= $this->customer_msg ?></div><br />
        <?php } ?>



        <br />
        <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
            <table class="table table-sm table-striped" id="myTable">
                <thead>
                    <tr>
                        <th class="tablehead" width="3%" valign="top">No</th>
                        <?php echo $this->partial(
                            'tableheader.phtml',
                            array(
                                'fields' => $this->fields,
                                'sortBy' => $this->sortBy,
                                'sortDir' => $this->sortDir,
                                'query_string_params' => $this->query_string_params
                            )
                        ) ?>
                        <!-- <th valign="top" class="tablehead"><?php echo $this->language->_('Action') ?></th> -->
                    </tr>
                </thead>
                <tbody>
                    <?php if (count($this->paginator)) {
                        $i = 1;
                        require_once 'Crypt/AESMYSQL.php';
                        $AESMYSQL = new Crypt_AESMYSQL();
                        $rand = $this->token;

                        foreach ($this->paginator as $row) {
                            $code_number = "B".str_pad($row['TEMP_CODE'], 3, '0', STR_PAD_LEFT);


                            $encrypted_temp = $AESMYSQL->encrypt($row['TEMP_CODE'], $rand);
                            $enctemp = urlencode($encrypted_temp);

                            $buttonDetail = $this->url(array('module' => $this->modulename, 'controller' => 'edit', 'action' => 'index', 'temp_code' => $enctemp), null, true);
                            $buttonDetail = '<a href="' . $buttonDetail . '">' . $code_number . '</a>'; ?>
                            <tr>
                                <td><?= $i++ ?></td>
                                <td><?= $this->binTypeArr[$row['BIN_TYPE']] ?></td>
                                <td><?= $buttonDetail ?></td>
                                <td><?= $row['TEMP_NAME'] ?></td>
                                <td><?= $row['TEMP_DESC'] ?></td>
                                <td><?= Application_Helper_General::convertDate($row['TEMP_SUGGESTED'], $this->displayDateTimeFormat, $this->defaultDateFormat) . " (" . $row['TEMP_SUGGESTEDBY'] . ")" ?></td>
                                <td><?= Application_Helper_General::convertDate($row['TEMP_UPDATED'], $this->displayDateTimeFormat, $this->defaultDateFormat) . " (" . $row['TEMP_UPDATEDBY'] . ")" ?></td>
                            </tr>
                    <?php
                        }
                    } else {
                        echo '<tr><td colspan="9" class="tbl-evencontent" align="center">' . $this->language->_('No Data') . '</td></tr>';
                    }
                    ?>
                </tbody>
            </table>
        </div>

        <br />


    </div>
</div>