<div class="row mb-3">
    <div class="col-md-12" style="height: auto; position: relative;">
        <div class="padding-header-cust">
            <h5><?= $this->language->_('Lampiran Dokumen Penutupan') ?></h5>
        </div>
        <div style="padding-left:2%; padding-top:2px;">
            <div class="form-group row">
                <div class="col-sm-12">
                    <table style="width: 100%;" class="mt-2">
                        <thead>
                            <th class="font-italic font-weight-normal textGray px-2 py-2" style="font-size: 1.2em;"><?= $this->language->_('Nama Dokumen'); ?></th>
                            <th class="font-italic font-weight-normal textGray px-2 py-2" style="font-size: 1.2em;"><?= $this->language->_('Unggah Dokumen *(format .pdf maks: 10Mb)'); ?></th>
                            <th class="font-italic font-weight-normal textGray px-2 py-2" style="font-size: 1.2em;"><?= $this->language->_('tindakan'); ?></th>
                        </thead>
                        <tbody>
                            <!-- ["surat_permohonan_penutupan"] -->
                            <tr style="background-color: #EFEFEF;">
                                <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1" class="py-2 px-2"><?= $this->language->_('Surat Permohonan Penutupan'); ?></td>
                                <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1" class="py-2 px-2"><?= $this->tempBgCloseFile['surat_permohonan_penutupan']; ?></td>
                                <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1" class="py-2 px-2 hidden container-file">
                                    <div class="px-2 py-1 position-relative rounded" style="background-color: white; box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%); border: 1px solid #ced4da;">
                                        <input type="file" name="surat_permohonan_penutupan" class="form-control-file lampiran-dokumen-penutupan" size="100" style="font-size: 16px;" accept=".jpg, .jpeg, .png, .pdf" data-active="0">
                                    </div>
                                </td>
                                <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1" class="py-2 px-2">
                                    <div class="d-flex btn-atas" style="gap: 10px;">
                                        <button type="button" style="background-color: transparent; border: 0;cursor: pointer;" onclick="javascript:window.open(`/bgclosingworkflow/repairdetail/downloadlampiran/bgnumb/${location.href.split('/').pop()}/jenis/surat_permohonan_penutupan`)"><i class="fa fa-download"></i></button>
                                        <button type="button" style="background-color: transparent; border: 0;cursor: pointer;" onclick="showHide(this)"><i class="fa fa-times text-danger"></i></button>
                                    </div>
                                    <div class="hidden btn-bawah" style="gap: 10px;">
                                        <button type="button" class="invisible" style="background-color: transparent; border: 0;cursor: pointer;"><i class="fa fa-sync" style="color: #0D85F1;"></i></button>
                                        <button type="button" style="background-color: transparent; border: 0;cursor: pointer;" onclick="showHide(this)"><i class="fa fa-sync" style="color: #0D85F1;"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <!-- ["surat_pernyataan_pekerjaan_selesai"] -->
                            <tr style="background-color: #EFEFEF;">
                                <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1" class="py-2 px-2"><?= $this->language->_('Surat Pernyataan Pekerjaan Selesai'); ?></td>
                                <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1" class="py-2 px-2"><?= $this->tempBgCloseFile['surat_pernyataan_pekerjaan_selesai']; ?></td>
                                <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1" class="py-2 px-2 hidden container-file">
                                    <div class="px-2 py-1 position-relative rounded" style="background-color: white; box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%); border: 1px solid #ced4da;">
                                        <input type="file" name="surat_pernyataan_pekerjaan_selesai" class="form-control-file lampiran-dokumen-penutupan" size="100" style="font-size: 16px;" accept=".jpg, .jpeg, .png, .pdf" data-active="0">
                                    </div>
                                </td>
                                <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1" class="py-2 px-2">
                                    <div class="d-flex btn-atas" style="gap: 10px;">
                                        <button type="button" style="background-color: transparent; border: 0;cursor: pointer;" onclick="javascript:window.open(`/bgclosingworkflow/repairdetail/downloadlampiran/bgnumb/${location.href.split('/').pop()}/jenis/surat_pernyataan_pekerjaan_selesai`)"><i class="fa fa-download"></i></button>
                                        <button type="button" style="background-color: transparent; border: 0;cursor: pointer;" onclick="showHide(this)"><i class="fa fa-times text-danger"></i></button>
                                    </div>
                                    <div class="hidden btn-bawah" style="gap: 10px;">
                                        <button type="button" class="invisible" style="background-color: transparent; border: 0;cursor: pointer;"><i class="fa fa-sync" style="color: #0D85F1;"></i></button>
                                        <button type="button" style="background-color: transparent; border: 0;cursor: pointer;" onclick="showHide(this)"><i class="fa fa-sync" style="color: #0D85F1;"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <!-- ["bast_pekerjaan"] -->
                            <tr style="background-color: #EFEFEF;">
                                <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1" class="py-2 px-2"><?= $this->language->_('BAST Pekerjaan'); ?></td>
                                <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1" class="py-2 px-2"><?= $this->tempBgCloseFile['bast_pekerjaan']; ?></td>
                                <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1" class="py-2 px-2 hidden container-file">
                                    <div class="px-2 py-1 position-relative rounded" style="background-color: white; box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%); border: 1px solid #ced4da;">
                                        <input type="file" name="bast_pekerjaan" class="form-control-file lampiran-dokumen-penutupan" size="100" style="font-size: 16px;" accept=".jpg, .jpeg, .png, .pdf" data-active="0">
                                    </div>
                                </td>
                                <td style="font-size: 1.2em;border-top: 1px solid #E1E1E1;border-bottom: 1px solid #E1E1E1;" class="py-2 px-2">
                                    <div class="d-flex btn-atas" style="gap: 10px;">
                                        <button type="button" style="background-color: transparent; border: 0;cursor: pointer;" onclick="javascript:window.open(`/bgclosingworkflow/repairdetail/downloadlampiran/bgnumb/${location.href.split('/').pop()}/jenis/bast_pekerjaan`)"><i class="fa fa-download"></i></button>
                                        <button type="button" style="background-color: transparent; border: 0;cursor: pointer;" onclick="showHide(this)"><i class="fa fa-times text-danger"></i></button>
                                    </div>
                                    <div class="hidden btn-bawah" style="gap: 10px;">
                                        <button type="button" class="invisible" style="background-color: transparent; border: 0;cursor: pointer;"><i class="fa fa-sync" style="color: #0D85F1;"></i></button>
                                        <button type="button" style="background-color: transparent; border: 0;cursor: pointer;" onclick="showHide(this)"><i class="fa fa-sync" style="color: #0D85F1;"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-2">
                        <label>
                            <strong>
                                <font color="red">&nbsp;*</font>
                            </strong>
                            <span class="font-italic"><?= $this->language->_('Semua lampiran dokumen asli wajib diserahkan ke Bank Cabang'); ?></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        $(`.lampiran-dokumen-penutupan`).bind('change', function() {

            file = this.files[0];
            const fileExt = file.name.split('.').pop();

            console.log(file.size);
            console.log(fileExt)
            if (file.size > 10485760) {
                $(this).val("");
                return alert("<?= $this->language->_('File tidak boleh lebih dari 10MB'); ?>");
            }
            if (fileExt != 'pdf') {
                $(this).val("");
                return alert("<?= $this->language->_('Tipe dokumen tidak didukung (hanya PDF)'); ?>");
            }
        });
    });

    function showHide(elem) {
        let parentElem = elem;

        while (true) {
            parentElem = parentElem.parentElement;
            if (parentElem.tagName.toLowerCase() == 'tr') break;
        }

        const actionTd = parentElem.querySelectorAll('td');
        const lastElemTd = actionTd[actionTd.length - 1];

        const labelFileTd = parentElem.querySelectorAll('td')[1];
        const fileTd = parentElem.querySelectorAll('td')[2];

        // reset file
        fileTd.querySelector('[type="file"]').value = '';

        const getInputFile = parentElem.querySelector('input');
        const dataActive = getInputFile.dataset.active;

        const btnAtas = parentElem.querySelector('.btn-atas');
        const btnBawah = parentElem.querySelector('.btn-bawah');

        if (dataActive == '0') {
            btnAtas.classList.add('hidden');
            btnAtas.classList.remove('d-flex');

            btnBawah.classList.remove('hidden');
            btnBawah.classList.add('d-flex');

            labelFileTd.classList.add('hidden');
            fileTd.classList.remove('hidden');
            fileTd.querySelector('[type="file"]').setAttribute('required', 'true');

            getInputFile.dataset.active = '1';
        }

        if (dataActive == '1') {
            btnAtas.classList.add('d-flex');
            btnAtas.classList.remove('hidden');

            btnBawah.classList.remove('d-flex');
            btnBawah.classList.add('hidden');

            labelFileTd.classList.remove('hidden');
            fileTd.classList.add('hidden');
            fileTd.querySelector('[type="file"]').removeAttribute('required');

            getInputFile.dataset.active = '0';
        }

        console.log(getInputFile.dataset.active);

    }
</script>