<div class="row mb-3">
    <div class="col-md-12" style="height: auto; position: relative;">
        <div class="padding-header-cust">
            <h5><?= $this->language->_('Nilai dan Masa Berlaku Bank Garansi') ?></h5>
        </div>
        <div style="padding-left:2%; padding-top:2px;">
            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="" class="textGray col-form-label"><?= $this->language->_('Nominal Bank Garansi') ?></label>
                </div>
                <div class="col-sm-9">
                    <label><?= implode(' ', [$this->bgdatadetail['currency'], number_format($this->bgdata['BG_AMOUNT'], 2)]); ?></label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="" class="textGray col-form-label"><?= $this->language->_('Berlaku Sejak') ?></label>
                </div>
                <div class="col-sm-9">
                    <?php
                    $timeStart = date_create($this->bgdata['TIME_PERIOD_START']);
                    $timeEnd = date_create($this->bgdata['TIME_PERIOD_END']);

                    $dateDiff = date_diff($timeStart, $timeEnd)->days + 1;
                    ?>
                    <label> <?= date('d M Y', strtotime($this->bgdata['TIME_PERIOD_START'])); ?><span class="px-4"><?= $this->language->_('hingga'); ?></span><?= date('d M Y', strtotime($this->bgdata['TIME_PERIOD_END'])); ?> <span class="textGray font-italic pl-3">(<?= $this->language->_('tenor'); ?> : <?= $dateDiff; ?> <?= $this->language->_('hari'); ?>)</span></label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="" class="textGray col-form-label"><?= $this->language->_('Batas Tanggal Klaim') ?></label>
                </div>
                <div class="col-sm-9">
                    <label>
                        <?= date('d M Y', strtotime($this->bgdata['TIME_PERIOD_END'] . ' + ' . $this->maxCalendarLimit . ' days')); ?>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>