

<script type="text/javascript">

//akan di onload pertama kali
$(document).ready(function()
{   
    //pengaturan error messages
	<?php 
	     foreach($this->custAcct_msg as $key => $error)
	     {
	   ?>
	         $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
	<?php      
	     } 
	   ?>

	   
});



		$('#chooseFile1').bind('change', function() {
			var filename = $("#chooseFile").val();
			alert(filename);
			if (/^\s*$/.test(filename)) {
				$(".file-upload").removeClass('active');
				$("#noFile").text("No file chosen...");
			} else {
				$(".file-upload").addClass('active');
				$("#noFile").text(filename.replace("C:\\fakepath\\", ""));
			}

			// var fileNameSplit = filename.split('.');
			// console.log(fileNameSplit[1])
		});


		$('#chooseFilebene').bind('change', function() {
			var filename = $("#chooseFilebene").val();
			if (/^\s*$/.test(filename)) {
				$(".file-uploadbene").removeClass('active');
				$("#noFilebene").text("No file chosen...");
			} else {
				$(".file-uploadbene").addClass('active');
				$("#noFilebene").text(filename.replace("C:\\fakepath\\", ""));
			}

			// var fileNameSplit = filename.split('.');
			// console.log(fileNameSplit[1])
		});
		
		  $('input[type="file"]').change(function(e){
				var fileName = e.target.files[0].name;
				alert(); 
				$('.custom-file-label').html(fileName);
			});


function resetData()
{ 
	 $('#acct_no').val('<?php echo $this->acct_no; ?>');
	 $('#acct_email').val('<?php echo $this->acct_email; ?>');
	 $('#ccy_id').val('<?php echo $this->ccy_id; ?>');
}




</script>


<style type="text/css">



.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

</style>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Customer Setup'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Customer'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Detail'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Auto Debit'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <?php echo $this->language->_('Add'); ?>
                  </li>
              </ul>
          </div>
        </div>
</div>
<div class="row content-box">
	<div class="portlet-body form col-md-12">
		<h5><?php echo $this->language->_('Auto Debet Account Management'); ?></h5>

		<?php
		if($this->cust_id)
		{

		?>


		<br />

		<?php if($this->success){ ?>
		<div class="successmsg"><?=$this->custAcct_msg?></div><br />
		<?php } ?>

		<?php if(count($this->custAcct_msg) > 0){ ?>
		<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit'); ?>.</div><br />
		<?php } ?>


		<form method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'add','action'=>'index'),null,true)?>">
		  <table cellpadding="3" cellspacing="0" border="0" class="tableform">
		    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('New Debet Account'); ?></strong></th></tr>
		    
		    
		    <tr>
			  <td class="tbl-evencontent" colspan="3"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
		    </tr>
		    
		    
		    <tr>
			  <td class="tbl-evencontent"><?php echo $this->formLabel('acct_no',$this->language->_('Debet Account')); ?>&nbsp;<span class="errmsg">*</span></td>
			  <td class="tbl-evencontent">:</td>
			  <td class="tbl-evencontent">
			     <?php echo $this->formText('acct_no',$this->acct_no,array('class'=>'form-control','maxlength'=>20,'size'=>30,'onfocus'=>'return forceNumberOCBC(event)','onblur'=>'return forceNumberOCBC(event)','onkeypress'=>'return forceNumberOCBC(event)')); ?>
			     <div id="error_acct_no" class="errmsg"></div>
			  </td>
		    </tr>

		  
		    
		    
		    
		     <tr>
		      <td class="tbl-evencontent"><?php echo $this->formLabel('ccy_id',$this->language->_('Currency')); ?>&nbsp;</td>
		 	  <td class="tbl-evencontent">:</td>
			  <td class="tbl-evencontent">
			     IDR
			  
			   </td>
		    </tr>
		    
		    <tr>
		      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('Company Name')); ?></td>
		 	  <td class="tbl-evencontent">:</td>
			  <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->cust_id . ' ('.$this->cust_name.')'); ?></td>
		    </tr>
		    
		    <tr>
		      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_email',$this->language->_('Email')); ?>&nbsp;<span class="errmsg">*</span></td>
		 	  <td class="tbl-evencontent">:</td>
			  <td class="tbl-evencontent">
			     <?php echo $this->formText('acct_email',$this->acct_email,array('class'=>'form-control','maxlength'=>128,'size'=>50)); ?>
			     <div id="error_acct_email" class="errmsg"></div>
			  </td>
		    </tr>


		    <tr>
		      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_email',$this->language->_('Upload File')); ?>&nbsp;<span class="errmsg">*</span></td>
		 	  <td class="tbl-evencontent">:</td>
			  <td class="tbl-evencontent">
			     <div class="form-group row" id="selectfile">
                                    <div class="col-md-12">
                                  <div class="file-upload">
												<div class="file-select">
													<div class="file-select-button" id="fileName">Choose File</div>
													<div class="file-select-name textBlack" id="noFile"><?php echo $this->language->_('Upload Your File Here...'); ?></div>
													<input type="file" name="uploadSource" id="chooseFile">
												</div>
											</div>
                          </div>
                          </div>
			     <div id="error_acct_email" class="errmsg"></div>
			  </td>
		    </tr>




		    


		    <tr>
				<td class="tbl-evencontent" colspan="3">
					<div id="notesPage">
						<div class="tdform-sub"><i><?php echo $this->language->_('Notes')?> :</i></div>
						<div class="tbl-evencontent">																		
							<i><?php echo $this->language->_('To fill more than 1 email address, please separated it with semicolon')?> (;).</i><br>
							<i><?php echo $this->language->_('For example')?> : wirda@gmail.com;gunawan@yahoo.com</i>
						</div>
					</div>
		     	</td>
			</tr>

		   
		    
		  </table>
		  <br />
		  <div><?php

		   //encrypt id
	        require_once 'Crypt/AESMYSQL.php';
	        $AESMYSQL = new Crypt_AESMYSQL();
	        $rand = $this->token;

	        $encrypted_custid = $AESMYSQL->encrypt($this->cust_id, $rand);
          	$enccustid = urlencode($encrypted_custid);

		    $backButton =  $this->url(array('module'=>'customer','controller'=>'view','action'=>'index','cust_id'=>$enccustid),null,true);
		    echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\''.$backButton.'\'','class'=>'btnwhite hov'));
		    echo '&nbsp;&nbsp;';
		    
		    echo $this->formButton('submit',$this->language->_('Confirm'),array('class'=>'btngreen hov'));
		    echo '&nbsp;&nbsp;';
		    
		//    echo $this->formButton('reset',$this->language->_('Reset'),array('class'=>'inputbtn','onclick'=>'resetData()'));
		    echo $this->formHidden('cust_id',$enccustid);
		    
		  ?>
		  <input type="button" name="clearfilter" class="btngreen hov" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','cust_id'=>$enccustid),null,true)?>'"></div> 

		</form>
	</div>
</div>


<?php }else{ ?>
<div id="content">- <?php echo $this->language->_('No Data')?> -</div>
<?php } ?>