<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('E-Channel Registration'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Request List'); ?>
                       <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
                  <li>
                     <?php echo $this->language->_('Detail'); ?>
                 </li>
            	</ul>
        	</div>
      	</div>
</div>
<div class="tabheader" id="tabheader"> <h5> <?=$this->typeTitle?> <?php echo $this->language->_('Registration')?></h5> </div>


<div>
    <div>
    	<?php if($this->error){ ?>
		<div class="alert alert-danger"><?php echo $this->message;?></div><br />
		<?php }?>
		<?php if($this->success){ ?>
		<div class="alert alert-success"><?php echo $this->message;?></div><br />
		<?php }?>
		<div class="table-responsive ">
			<div class="row col-md-12 content-box">
        <table width="100%" cellpadding="2" cellspacing="0" border="0" class="tableform table-sm">
              <?php if($this->reg_type == 'BIS'){?>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('Company Name')?></td>
                <td>:</td>
                <td class="tbl-evencontent"><?=$this->cust_name?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('Company Type')?></td>
                <td>:</td>
                <td class="tbl-evencontent"><?=$this->cust_type?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('Business Type')?></td>
                <td>:</td>
                <td class="tbl-evencontent"><?=$this->cust_workfield?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('Address')?></td>
                <td>:</td>
                <td class="tbl-evencontent"><?=$this->cust_address?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('City')?></td>
                <td>:</td>
                <td class="tbl-evencontent"><?=$this->cust_city?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('Zip')?></td>
                <td>:</td>
                <td class="tbl-evencontent"><?=$this->cust_zip?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('State/Province')?></td>
                <td>:</td>
                <td class="tbl-evencontent"><?=$this->cust_province?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('Country')?></td>
                <td>:</td>
                <td class="tbl-evencontent"><?=$this->countryArr[$this->country_code]?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('Contact Person')?></td>
                <td>:</td>
                <td class="tbl-evencontent"><?=$this->cust_contact?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('Contact Number')?></td>
                <td>:</td>
                <td class="tbl-evencontent"><?=$this->cust_phone?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('Extension')?></td>
                <td>:</td>
                <td class="tbl-evencontent"><?=$this->cust_ext?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('Fax Number')?></td>
                <td>:</td>
                <td class="tbl-evencontent"><?=$this->cust_fax?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('Contact Email')?></td>
                <td>:</td>
                <td class="tbl-evencontent"><?=$this->cust_email?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('Company Website')?></td>
                <td>:</td>
                <td class="tbl-evencontent"><?=$this->cust_website?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('Limit Company (IDR)')?></td>
                <td>:</td>
                <td class="tbl-evencontent"><?=Application_Helper_General::displayMoney($this->cust_limit_idr)?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('Limit Company (USD)')?></td>
                <td>:</td>
                <td class="tbl-evencontent"><?=Application_Helper_General::displayMoney($this->cust_limit_usd)?></td>
              </tr>
              <?php }elseif($this->reg_type == 'IND'){?>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('User Name')?></td>
                <td class="tbl-evencontent"><?=$this->user_fullname?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('Email')?></td>
                <td class="tbl-evencontent"><?=$this->user_email?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('Mobile Phone No')?></td>
                <td class="tbl-evencontent"><?=$this->user_mobile_phone?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('Address')?></td>
                <td class="tbl-evencontent"><?=$this->user_address?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('City')?></td>
                <td class="tbl-evencontent"><?=$this->user_city?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('Zip')?></td>
                <td class="tbl-evencontent"><?=$this->user_zip?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent"><?=$this->language->_('State/Province')?></td>
                <td class="tbl-evencontent"><?=$this->user_province?></td>
              </tr>
              <tr>
                <td class="tbl-evencontent5"><?=$this->language->_('Country')?></td>
                <td class="tbl-evencontent"><?=$this->countryArr[$this->user_country]?></td>
              </tr>
              <?php }?>
            </table>
      </div>
	    </div>

	    <form name="suggDetail" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">

	    <?php if($this->reg_type == 'BIS'){?>
	    <br/>
	    <div class="table-responsive">
        <div class="content-box row">
          <table width="100%" cellpadding="2" cellspacing="0" border="0" class="table table-sm table-striped">
            <thead>
              <?php if(!$this->success){?>
              <th><?php echo $this->formCheckbox('checkalluser', '',array('onclick'=>'checkAllUser();'));?></th>
              <?php }?>
              <th><?=$this->language->_('User ID')?></th>
              <th><?=$this->language->_('User Name')?></th>
              <th><?=$this->language->_('Privilege')?></th>
              <?php if(!$this->success){?>
              <th><?=$this->language->_('Action')?></th>
              <?php }?>
            </thead>

            <tbody>
              <?php foreach($this->userList as $row){?>
                <tr>
                  <?php if(!$this->success){?>
                  <td><?php echo $this->formCheckbox('user_id[]', $row['USER_ID'],array('class' => 'checkAllUser'));?></td><?php }?>
                  <td><?=$row['USER_ID']?></td>
                  <td><?=$row['USER_FULLNAME']?></td>
                  <td><?=$row['USER_PRIVI']?></td>
                  <?php if(!$this->success){?>
                  <td><a href="javascript:void(0)" onClick="showPopUpWindow('<?=$this->url(array('module'=>$this->modulename,'controller'=>'checkuser','action'=>'index','id'=>$row['ID']),null,true)?>',550,400)"><?=$this->language->_('Detail')?></a></td>
                  <?php }?>
                </tr>
              <?php }?>
            </tbody>
          </table>
        </div>

	    </div>

	    <br/>
      <br/>


	    <div class="col-md-12 row content-box">
        <table width="100%" cellpadding="2" cellspacing="0" border="0" class="table table-sm table-striped">
          <thead>
            <?php if(!$this->success){?>
            <th><?php echo $this->formCheckbox('checkallacc', '',array('onclick'=>'checkAllAcc();'));?></th>
            <?php }?>
            <th><?=$this->language->_('Account Number')?></th>
            <th><?=$this->language->_('Account Name')?></th>
            <th><?=$this->language->_('CCY')?></th>
            <th><?=$this->language->_('Account Ownership')?></th>
            <?php if(!$this->success){?>
            <th><?=$this->language->_('Action')?></th>
            <?php }?>
          </thead>

          <tbody>
            <?php foreach($this->acctList as $row){?>
              <tr>
                <?php if(!$this->success){?>
                <td><?php echo $this->formCheckbox('acct_no[]', $row['ACCT_NO'],array('class' => 'checkAllAcc'));?></td>
                <?php }?>
                <td><?=$row['ACCT_NO']?></td>
                <td><?=$row['ACCT_NAME']?></td>
                <td><?=$row['ACCT_CCY']?></td>
                <td><?=$row['ACCT_OWNERSHIP']?></td>
                <?php if(!$this->success){?>
                <td><a href="javascript:void(0)" onClick="showPopUpWindow('<?=$this->url(array('module'=>$this->modulename,'controller'=>'checkacc','type'=>'bis','action'=>'index','id'=>$row['ID']),null,true)?>',550)"><?=$this->language->_('Check')?></a></td>
                <?php }?>
              </tr>
            <?php }?>
          </tbody>
        </table>
	    </div>

	    <br/>

	    <div>
	    	<table cellpadding="2" cellspacing="0" border="0" class="tableform">
				<tr>
					<td width="40%">Akta Pendirian</td>
					<td> : </td>
					<td><a href="javascript::void(0);" onclick="showPopUpWindow('<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'viewdoc','cust_id'=>$this->cust_id,'type'=>1),null,true)?>', 750);"><?=$this->akta_pp?></a></td>
				</tr>
				<tr>
					<td>Akta Perubahan Terakhir</td>
					<td> : </td>
					<td><a href="javascript::void(0);" onclick="showPopUpWindow('<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'viewdoc','cust_id'=>$this->cust_id,'type'=>2),null,true)?>', 750);"><?=$this->akta_pt?></a></td>
				</tr>
				<tr>
					<td>SIUP / TDP</td>
					<td> : </td>
					<td><a href="javascript::void(0);" onclick="showPopUpWindow('<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'viewdoc','cust_id'=>$this->cust_id,'type'=>3),null,true)?>', 750);"><?=$this->siup_tdp?></a></td>
				</tr>
				<tr>
					<td>ID (KTP/SIM/PASPOR)</td>
					<td> : </td>
					<td><a href="javascript::void(0);" onclick="showPopUpWindow('<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'viewdoc','cust_id'=>$this->cust_id,'type'=>4),null,true)?>', 750);"><?=$this->id_pihak?></a></td>
				</tr>
				<tr>
					<td>Others</td>
					<td> : </td>
					<td><?php if($this->other_doc != "-"){?>
						<a href="javascript::void(0);" onclick="showPopUpWindow('<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'viewdoc','cust_id'=>$this->cust_id,'type'=>5),null,true)?>', 750);"><?=$this->other_doc?></a>
						<?php }?>
					</td>
				</tr>
			</table>
	    </div>
	    <?php }elseif($this->reg_type == "IND"){?>
	    <div>
	    	<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
	    		<thead>
	    			<?php if(!$this->success){?>
	    			<th><?php echo $this->formCheckbox('checkallacc', '',array('onclick'=>'checkAllAcc();'));?></th>
	    			<?php }?>
	    			<th><?=$this->language->_('Account Number')?></th>
	    			<th><?=$this->language->_('Account Name')?></th>
	    			<th><?=$this->language->_('CCY')?></th>
	    			<?php if(!$this->success){?>
	    			<th><?=$this->language->_('Action')?></th>
	    			<?php }?>
	    		</thead>

	    		<tbody>
	    			<?php foreach($this->acctList as $row){?>
	    				<tr>
	    					<?php if(!$this->success){?>
	    					<td><?php echo $this->formCheckbox('acct_no[]', $row['ACCT_NO'],array('class' => 'checkAllAcc'));?></td>
	    					<?php }?>
	    					<td><?=$row['ACCT_NO']?></td>
	    					<td><?=$row['ACCT_NAME']?></td>
	    					<td><?=$row['ACCT_CCY']?></td>
	    					<?php if(!$this->success){?>
	    					<td><a href="javascript:void(0)" class="inputbtn" onClick="showPopUpWindow('<?=$this->url(array('module'=>$this->modulename,'controller'=>'checkacc','type'=>'ind','action'=>'index','id'=>$row['REG_ID']),null,true)?>',550)"><?=$this->language->_('Check')?></a></td><?php }?>
	    				</tr>
	    			<?php }?>
	    		</tbody>
	    	</table>
	    </div>
	    <?php }?>

	    <?php if(!$this->success){?>
    	<br/>
      <div class="row">
          <div class="col-md-12">
            <table class="table-sm">
               <tr>
                 <td colspan="2">

                     <input type="hidden" name="changes_id" value="<?=$this->changes_id?>"/>
                     <!-- <a type="button" href="javascript:void(0);" onclick="self.close();window.opener.location.reload();" class="btnwhite hov">Back</a> -->
                     <?php if($this->visibleButtonApprove){?>
                     <?php echo $this->formSubmit('submit','Approve',array('class'=>'btngreen hov'));?>
                     <?php }?>
                     <?php if($this->visibleButtonReject){?>
                     <?php echo $this->formSubmit('submit','Reject',array('class'=>'btngreen hov'));?>
                     <?php }?>
                 </td>
               </tr>
           </table>
          </div>
      </div>
      </div>

	    <?php }?>
	    </form>
	</div>
</div>

<?php if($this->refreshPage==true){?>
	<script type="text/javascript">
	window.opener.location.reload();
	</script>
<?php }?>


<script type="text/javascript">
	function checkAllAcc(){
		var checked = document.getElementById("checkallacc").checked;
		var childs = document.getElementsByClassName("checkAllAcc");
		if(checked == true){
			for(var i=0; i < childs.length; i++){
				childs[i].checked = true;
			}
		}
		else{
			for(var i=0; i < childs.length; i++){
				childs[i].checked = false;
			}
		}
	}

	function checkAllUser(){
		var checked = document.getElementById("checkalluser").checked;
		var childs = document.getElementsByClassName("checkAllUser");
		if(checked == true){
			for(var i=0; i < childs.length; i++){
				childs[i].checked = true;
			}
		}
		else{
			for(var i=0; i < childs.length; i++){
				childs[i].checked = false;
			}
		}
	}
</script>
