<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Customer Management'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Marginal Deposit'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('MD Insurance'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Topup'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	table {
		font-size: 14px !important;
	}

	table.tables tr td {
		background-color: #f5f5f5;
		border-bottom: 1px solid #dee2e6;
	}

	input[type="submit"]:disabled {
		cursor: not-allowed;
		background-color: #8fc4fb;
	}

	.headerblue {
		color: #fff;
		background-color: #0b549f !important;
	}

	.headergrey {
		font-style: italic;
		background-color: #ccc !important;
	}

	.btn-sm {
		height: 29px !important;
		padding: .10rem .5rem !important;
		border-color: #ccc !important;
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%) !important;
	}
</style>

<form action="" method="post">
	<div class="row content-box mb-3">
		<div class="col-md-12">
			<?php if ($this->error) : ?>
				<div class="alert alert-danger"><?= $this->errorMsg; ?></div>
			<?php endif; ?>
			<?php if ($this->isConfirm) : ?>
				<?php if ($this->error) : ?>
					<!-- muncul di halaman confirm -->
					<div class="alert alert-danger"><?= $this->errorMsg; ?></div>
				<?php endif; ?>
			<?php endif; ?>
			<table class="mt-3 mb-4" cellpadding="5" style="width:100%">
				<tr>
					<td class="headerblue"><?= $this->language->_('Marginal Deposit Insurance'); ?></td>
					<td width="10" class="headerblue text-right"><a href="javascript:void(0)" class="text-white mr-2 active" onclick="hideShow(this)"><i class="fa fa-angle-up up" style="display:none"></i><i class="fa fa-angle-down down"></i></a></td>
				</tr>
				<tr id="marginal-deposit" style="">
					<td colspan="2" class="p-0">
						<table cellpadding="5" class="tables mb-3" style="width:100%">
							<tr>
								<td class="headergrey"><?= $this->language->_('Guarantee Document'); ?></td>
								<td class="headergrey"><?= $this->language->_('Insurance'); ?></td>
								<td class="headergrey"><?= $this->language->_('Customer Code'); ?></td>
								<td class="headergrey"><?= $this->language->_('Plafond Limit'); ?></td>
								<td class="headergrey"><?= $this->language->_('Marginal Deposit'); ?></td>
							</tr>
							<tr>
								<td>643743 / PKS</td>
								<td><?= $this->data[0]['CUST_NAME']; ?></td>
								<td><?= $this->data[0]['CUST_ID']; ?></td>
								<td>IDR <?= Application_Helper_General::displayMoney($this->data[0]['PLAFOND_LIMIT']); ?></td>
								<td>IDR <?= Application_Helper_General::displayMoney($this->data[0]['MARGINAL_DEPOSIT']); ?></td>
							</tr>
						</table>
						<?php $totalDetained = ($this->totalDetained > 0) ? Application_Helper_General::displayMoney($this->totalDetained) : '0.00'; ?>
						<?php $lastCheck     = isset($this->data[0]['LAST_CHECK']) ? date('d M Y H:i', strtotime($this->data[0]['LAST_CHECK'])) : '-'; ?>
						<?php
						if (count($this->dataDetail) > 0) {
							echo '<b>' . $this->language->_('Guarantee currently detained') . '</b> (<i>' . $this->language->_('total') . '</i> : <span class="text-danger">IDR ' . $totalDetained . '</span> - ' . $this->language->_('last check') . ' : ' . $lastCheck . ')';
						} else {
							echo '<b>' . $this->language->_('Guarantee currently detained') . '</b>';
						}
						?>
						<table cellpadding="5" class="tables mt-1" style="width:100%">
							<tr>
								<td class="headerblue"><?= $this->language->_('No'); ?></td>
								<td class="headerblue"><?= $this->language->_('Account Number'); ?></td>
								<td class="headerblue"><?= $this->language->_('Account Name'); ?></td>
								<td class="headerblue"><?= $this->language->_('Type'); ?></td>
								<td class="headerblue"><?= $this->language->_('Currency'); ?></td>
								<td class="headerblue"><?= $this->language->_('Amount'); ?></td>
							</tr>
							<?php if (count($this->dataDetail) > 0) : ?>
								<?php $no = 1;
								foreach ($this->dataDetail as $row) : ?>
									<tr>
										<td><?= $no++; ?></td>
										<td><?= $row['MD_ACCT']; ?></td>
										<td><?= $row['MD_ACCT_NAME']; ?></td>
										<td><?= $row['MD_ACCT_TYPE']; ?></td>
										<td><?= $row['MD_ACCT_CCY']; ?></td>
										<td><?= Application_Helper_General::displayMoney($row['GUARANTEE_AMOUNT']); ?></td>
									</tr>
								<?php endforeach; ?>
							<?php else : ?>
								<tr>
									<td colspan="6" align="center">-- <?= $this->language->_('No Data'); ?> --</td>
								</tr>
							<?php endif; ?>
						</table>
					</td>
				</tr>
			</table>
			<?php
			if ($this->isConfirm) {
				$totalAmountAdded = 0;
				for ($i = 0; $i < count($this->acctNo); $i++) {
					$balance = str_replace(',', '', $this->balance[$i]);
					$totalAmountAdded = $totalAmountAdded + (float)$balance;
				}
				$totalAmountAdded = 'IDR ' . Application_Helper_General::displayMoney($totalAmountAdded);
			} else {
				$totalAmountAdded = 'IDR 0.00';
			};
			?>
			<?= '<b>' . $this->language->_('Top Up') . '</b> (<i>' . $this->language->_('total amount added') . '</i> : <span id="topupAmount" class="text-danger">' . $totalAmountAdded . '</span>)'; ?>

			<table id="tableTopup" class="table-hover mt-1 mb-3" cellpadding="5" style="width:100%">
				<input type="hidden" id="countRow" name="countRow">
				<tr>
					<td class="headerblue"><?= $this->language->_('No'); ?></td>
					<td class="headerblue"><?= $this->language->_('Account Number'); ?></td>
					<td class="headerblue"><?= $this->language->_('Balance'); ?></td>
					<td class="headerblue"></td>
					<td class="headerblue"></td>
					<td class="headerblue"></td>
				</tr>
				<tbody id="tbody">
					<?php if ($this->isConfirm) : ?>
						<?php for ($i = 0; $i < count($this->acctNo); $i++) : ?>
							<tr>
								<td><?= ($i + 1); ?></td>
								<td><?= $this->acctNo[$i] . ' [' . $this->acctCcy[$i] . '] / ' . $this->acctName[$i] . ' / ' . $this->acctType[$i]; ?></td>
								<td colspan="2">IDR <?= Application_Helper_General::displayMoney($this->balance[$i]); ?></td>
							</tr>
							<?= $this->formHidden('acctNo[]', $this->acctNo[$i], ['id' => 'acctNo' . $i]); ?>
							<?= $this->formHidden('acctName[]', $this->acctName[$i], ['id' => 'acctName' . $i]); ?>
							<?= $this->formHidden('acctType[]', $this->acctType[$i], ['id' => 'acctType' . $i]); ?>
							<?= $this->formHidden('acctCcy[]', $this->acctCcy[$i], ['id' => 'acctCcy' . $i]); ?>
							<?= $this->formHidden('balance[]', $this->balance[$i], ['id' => 'balance' . $i]); ?>
						<?php endfor; ?>
					<?php else : ?>
						<?php for ($i = 0; $i < count($this->acctNo); $i++) : ?>
							<tr>
								<td><?= ($i + 1); ?>&nbsp;<a href="javascript:void(0)" id="error<?= $i ?>" class="text-danger d-none"><i class="fa fa-info-circle"></i></a></td>
								<td>
									<select id="acctNo<?= $i ?>" name="acctNo[]" class="form-control" onchange="selectAcct(this.value,<?= $i ?>)">
										<option value="">-- <?= $this->language->_('Pilih Rekening'); ?> --</option>
										<?php foreach ($this->custAcctArr as $key => $value) : ?>
											<option <?= ($this->acctNo[$i] == $key) ? 'selected' : ''; ?> value="<?= $key; ?>"><?= $value; ?></option>
										<?php endforeach; ?>
									</select>
									<input type="hidden" id="acctName<?= $i ?>" name="acctName[]" value="<?= $this->acctName[$i]; ?>">
									<input type="hidden" id="acctType<?= $i ?>" name="acctType[]" value="<?= $this->acctType[$i]; ?>">
									<input type="hidden" id="acctCcy<?= $i ?>" name="acctCcy[]" value="<?= $this->acctCcy[$i]; ?>">
									<input type="hidden" id="realbalance<?= $i ?>" name="realbalance[]" value="<?= $this->balance[$i]; ?>">
								</td>
								<td>
									<input type="text" id="balance<?= $i ?>" name="balance[]" class="form-control" value="<?= $this->balance[$i]; ?>" onfocus="iNumFrmtUS(this.value,this.id)" onblur="NumFrmtUS(this.value,this.id)" onkeyup="checkButton();">

								</td>
								<td>
									<span id="refreshBalance<?= $i ?>"></span>
								</td>
								<td>
									<!-- start notif validasi -->
									<div id="icwarning<?= $i ?>" style="display:none;">
										<div class="d-flex align-items-center justify-content-center" style="color:red;font-size:20px;border: 1px solid red; margin-left:3px; width:20px; height:20px; border-radius: 100%">
											<i class="fas" data-toggle="tooltip" style="cursor: default;" data-placement="top" title="Spesial Rate" data-original-title="Spesial Rate">i</i>
										</div>
									</div>


									<span id="errorNotifDeposito<?= $i ?>" style="display:none;">

										<div class="item-title">
											<div class="d-inline-block ml-3" style="color: white; background-color: red; width: 20px; height: 20px; border: 1px solid red;border-radius: 100%; cursor: default" id="error_notif<?= $i; ?>">
												<div class="d-flex align-items-center justify-content-center">
													<span>!</span>
												</div>
											</div>
										</div>
										<div class="item-content">

											<div id="error_contain<?= $i; ?>">
												&nbsp;
												<div style="width: 300px;top: 1px;right: -31px;background-color: white;z-index: 1;position: absolute;padding: 4px;border: 1px solid #ccc">

													<p id="validasiStatus<?= $i ?>" class="text-danger"></p>

													<p id="validasiCustAcct<?= $i ?>" class="text-danger"></p>

													<p id="validasiARO<?= $i ?>" class="text-danger"></p>

													<p id="validasiHold<?= $i ?>" class="text-danger"></p>

													<p id="validasiRate<?= $i ?>" class="text-danger"></p>

													<p id="validasiType<?= $i ?>" class="text-danger"></p>

												</div>
											</div>
										</div>

									</span>
									<?php
									if ($this->errorLimitSaldo[$i] || $this->validasiRekening[$i]) {
									?>
										<span id="errorNotifGiro<?= $i ?>">

											<div class="item-title">
												<div class="d-inline-block ml-3" style="color: white; background-color: red; width: 20px; height: 20px; border: 1px solid red;border-radius: 100%; cursor: default" id="error_notif<?= $i; ?>">
													<div class="d-flex align-items-center justify-content-center">
														<span>!</span>
													</div>
												</div>
											</div>
											<div class="item-content" style="display:block">

												<div id="error_contain<?= $i; ?>">
													&nbsp;
													<div style="width: 300px;top: 1px;right: -31px;background-color: white;z-index: 1;position: absolute;padding: 4px;border: 1px solid #ccc">

														<p class="text-danger"><?= $this->validasiRekening[$i]; ?></p>
														<p class="text-danger"><?= $this->errorLimitSaldo[$i]; ?></p>

													</div>
												</div>
											</div>

										</span>
									<?php
									}
									?>
									<!-- end notif validasi -->
								</td>
								<td align="right" width="35">
									<button type="button" id="removeRow<?= $i ?>" name="removeRow<?= $i ?>" class="btn btn-danger btn-sm" style="visibility: inline" onclick="removeRow(this)">X</button>
								</td>
							</tr>
						<?php endfor; ?>
					<?php endif; ?>
				</tbody>
			</table>
			<?php if (!$this->isConfirm) : ?>
				<div align="right">
					<a href="javascript:void(0)" onclick="addRow()">+ Add</a>
				</div>
			<?php endif; ?>
		</div>
	</div>

	<center>
		<?php
		$id = $this->params['id'];
		if ($this->isConfirm) {
			if ($this->error) {
				$attr_submit = ['class' => 'btngreen hov mr-2', 'disabled' => true];
			} else {
				$attr_submit = ['class' => 'btngreen hov mr-2', 'onclick' => "proceed('submit')"];
			}
			echo $this->formSubmit('back', $this->language->_('BACK'), ['class' => 'btnwhite hov mr-2', 'onclick' => "proceed('back')"]);
			echo $this->formSubmit('submit', $this->language->_('CONFIRM'), $attr_submit);
		} else {
			$attr_submit = ['class' => 'btngreen hov mr-2', 'onclick' => "proceed('submit')", 'disabled' => true];
			echo $this->formButton('back', $this->language->_('BACK'), ['class' => 'btnwhite hov mr-2', 'onclick' => "window.location.href='/marginaldeposit/index/detail/id/$id'"]);
			echo $this->formSubmit('submit', $this->language->_('SUBMIT'), $attr_submit);
		}

		echo $this->formHidden('isConfirm', $this->isConfirm);
		echo $this->formHidden('process', '');
		?>
	</center>
</form>

</br>
</br>
</br>
</br>
<?php if ($this->isConfirm) : ?>
	<script>
		function hideShow(obj) {

			if ($(obj).hasClass('active')) {
				$(obj).removeClass('active');
				$('#marginal-deposit').hide();
				$('.down').hide();
				$('.up').show();
			} else {
				$(obj).addClass('active');
				$('#marginal-deposit').show();
				$('.down').show();
				$('.up').hide();
			}
		}
	</script>
<?php else : ?>
	<script>
		$('.item-content').hide();
		$(document).on('mouseover', '.item-title', function(e) {
			e.preventDefault();
			$(this).next('.item-content').toggle();

		});

		$(document).on('mouseout', '.item-title', function(e) {
			e.preventDefault();
			$(this).next('.item-content').hide();

		});

		<?php if (isset($this->acctNo)) : ?>
			$(document).ready(function() {


				//var prevNo= parseInt($('#countRow').val())-1;
				var tbodyNo = document.getElementById("tbody").rows.length;
				for (i = 0; i < tbodyNo - 1; i++) {
					console.log(i);
					$("#removeRow" + i).hide();

				}


				var tbodyNo = document.getElementById("tbody").rows.length;
				for (var i = 0; i < tbodyNo; i++) {
					var acctNo = $('#acctNo' + i).val();
					selectAcct(acctNo, i);
				}



			});
		<?php endif; ?>

		function hideShow(obj) {


			if ($(obj).hasClass('active')) {
				$(obj).removeClass('active');
				$('#marginal-deposit').hide();
				$('.down').hide();
				$('.up').show();
			} else {
				$(obj).addClass('active');
				$('#marginal-deposit').show();
				$('.down').show();
				$('.up').hide();
			}
		}

		function addRow() {

			var tbodyNo = document.getElementById("tbody").rows.length;

			var html = '<tr>' +
				'<td>' + (tbodyNo + 1) + '&nbsp;<a href="javascript:void(0)" id="error' + tbodyNo + '" class="text-danger d-none"><i class="fa fa-info-circle"></i></a></td>' +
				'<td>' +
				'<select id="acctNo' + tbodyNo + '" name="acctNo[]" class="form-control" onchange="selectAcct(this.value,' + tbodyNo + ')"></select>' +
				'<input type="hidden" id="acctName' + tbodyNo + '" name="acctName[]">' +
				'<input type="hidden" id="acctType' + tbodyNo + '" name="acctType[]">' +
				'<input type="hidden" id="acctCcy' + tbodyNo + '" name="acctCcy[]">' +
				'<input type="hidden" id="realbalance' + tbodyNo + '" name="realbalance[]">' +
				'</td>' +
				'<td style="max-width: 200">' +
				'<input type="text" id="balance' + tbodyNo + '" name="balance[]" class="form-control" value="0" onfocus="iNumFrmtUS(this.value,this.id)" onblur="NumFrmtUS(this.value,this.id)" onkeyup="checkButton();">' +
				'</td>' +
				'<td style="max-width: 200">' +
				'<span id="refreshBalance' + tbodyNo + '"></span>' +
				'</td>' +
				'<td>' +
				'<div id="icwarning' + tbodyNo + '" style="display:none;">' +
				'<div class="d-flex align-items-center justify-content-center" style="color:red;font-size:20px;border: 1px solid red; margin-left:3px; width:20px; height:20px; border-radius: 100%">' +
				'<i class="fas" data-toggle="tooltip" style="cursor: default;" data-placement="top" title="Spesial Rate" data-original-title="Spesial Rate">i</i>' +
				'</div>' +
				'</div>' +


				'<span id="errorNotifDeposito' + tbodyNo + '" style="display:none;">' +

				'<div class="item-title">' +
				'<div class="d-inline-block ml-3" style="color: white; background-color: red; width: 20px; height: 20px; border: 1px solid red;border-radius: 100%; cursor: default" id="error_notif' + tbodyNo + '">' +
				'<div class="d-flex align-items-center justify-content-center">' +
				'<span>!</span>' +
				'</div>' +
				'</div>' +
				'</div>' +
				'<div class="item-content">' +

				'<div id="error_contain' + tbodyNo + '">' +
				'&nbsp;' +
				'<div style="width: 300px;top: 1px;right: -31px;background-color: white;z-index: 1;position: absolute;padding: 4px;border: 1px solid #ccc">' +

				'<p id="validasiStatus' + tbodyNo + '" class="text-danger"></p>' +

				'<p id="validasiCustAcct' + tbodyNo + '" class="text-danger"></p>' +

				'<p id="validasiARO' + tbodyNo + '" class="text-danger"></p>' +

				'<p id="validasiHold' + tbodyNo + '" class="text-danger"></p>' +

				'<p id="validasiRate' + tbodyNo + '" class="text-danger"></p>' +

				'<p id="validasiType' + tbodyNo + '" class="text-danger"></p>' +

				'</div>' +
				'</div>' +
				'</div>' +

				'</span>' +
				<?php
				if ($this->errorLimitSaldo[$i] || $this->validasiRekening[$i]) {
				?> '<span id="errorNotifGiro' + tbodyNo + '">' +

					'<div class="item-title" >' +
					'<div class="d-inline-block ml-3" style="color: white; background-color: red; width: 20px; height: 20px; border: 1px solid red;border-radius: 100%; cursor: default" id="error_notif' + tbodyNo + '">' +
					'<div class="d-flex align-items-center justify-content-center">' +
					'<span>!</span>' +
					'</div>' +
					'</div>' +
					'</div>' +
					'<div class="item-content" style="display:block">' +

					'<div id="error_contain' + tbodyNo + '">' +
					'&nbsp;' +
					'<div style="width: 300px;top: 1px;right: -31px;background-color: white;z-index: 1;position: absolute;padding: 4px;border: 1px solid #ccc">' +

					'<p class="text-danger">' + <?= $this->validasiRekening[tbodyNo]; ?> '</p>' +
					'<p class="text-danger">' + <?= $this->errorLimitSaldo[tbodyNo]; ?> '</p>' +

					'</div>' +
					'</div>' +
					'</div>' +

					'</span>' +
				<?php
				}
				?>

			'</td>' +
			'<td align="right" width="35"><button type="button" id="removeRow' + tbodyNo + '" name="removeRow' + tbodyNo + '" class="btn btn-danger btn-sm" style="visibility: inline" onclick="removeRow(this)">X</button></td>' +
				'</tr>';
			$('#tbody').append(html);
			$('#countRow').val(tbodyNo + 1);
			var prevNo = parseInt(tbodyNo) - 1;
			$("#removeRow" + prevNo).hide();

			listAcct(tbodyNo);
		}

		function listAcct(countRow) {
			var custID = "<?= $this->params['id']; ?>";
			var list = [];
			if (countRow > 0) {
				for (var i = 0; i < countRow; i++) {
					var acctNo = $('#acctNo' + i).val();
					list.push(acctNo);
				}
			} else {
				list = [''];
			}
			$.ajax({
				url: "<?= $this->url(array('action' => 'listacct')); ?>",
				method: "GET",
				dataType: "JSON",
				data: {
					id: custID,
					list: list
				},
				success: function(response) {
					var html = '<option value="">-- <?= $this->language->_('Pilih Rekening'); ?> --</option>';
					$.each(response, function(index, value) {
						// var selected = (index == branch_acct) ? 'selected' : '';
						html += '<option value="' + index + '">' + value + '</option>';
					});
					$('#acctNo' + countRow).html(html);
					checkButton();
				}
			});
		}

		function selectAcct(acctNo, countRow) {

			$.ajax({
				url: "<?= $this->url(array('action' => 'selectacct')); ?>",
				method: "GET",
				dataType: "JSON",
				data: {
					acctNo: acctNo
				},
				success: function(response) {
					$('#acctName' + countRow).val(response.ACCT_NAME);
					$('#acctType' + countRow).val(response.ACCT_TYPE);
					$('#acctCcy' + countRow).val(response.CCY_ID);
					console.log(response);
					var tbodyNo = document.getElementById("tbody").rows.length;
					var list = [];
					for (var i = 0; i < tbodyNo; i++) {
						var acctNumber = $('#acctNo' + i).val();
						list.push(acctNumber);
					}
					var index = list.indexOf(acctNo);
					if (index !== -1) {
						list.splice(index, 1);
					}
					if (list.includes(acctNo)) {
						alert("Account Number " + acctNo + " is added, please choose another account");
						$('#acctNo' + countRow).val('');
					}

					if (response.ACCT_TYPE === 'T' || response.ACCT_TYPE === '30') {
						$('#errorNotifDeposito' + countRow).hide();
						$('#errorNotifGiro' + countRow).hide();
						$('#balance' + countRow).val('');
						$('#balance' + countRow).attr('readonly', true);
						$("#refreshBalance" + countRow).show();
						$("#refreshBalance" + countRow).html("<a href='javascript:;' id='refresh" + countRow + "' title='refresh' onclick='inquiryDeposito(" + acctNo + "," + countRow + ")'><i class='fa fa-sync'></i></a><i class='fa fa-check' hidden></i>&nbsp;<img src='/images/logo/35.gif' id='load" + countRow + "' style='width: 13px;display:none'>")


					} else {
						$('#errorNotifDeposito' + countRow).hide();

						//$('#balance'+countRow).val('');
						$('#balance' + countRow).attr('readonly', false);
						$("#refreshBalance" + countRow).hide();

						<?php
						if (empty($this->errorLimitSaldo) && empty($this->validasiRekening)) {
						?>
							$('#errorNotifGiro' + countRow).hide();
						<?php
						} else {
						?>
							$('#errorNotifGiro' + countRow).show();
						<?php
						}
						?>

					}

					//$('#balance'+countRow).attr('onkeyup', 'checkBalance('+acctNo+','+countRow+')');

					if (acctNo !== '') {
						resetValidasi(countRow);
					}

				}
			});
		}

		function resetValidasi(row) {

			$("#validasiStatus" + row).html('');
			$("#validasiType" + row).html('');
			$("#validasiCustAcct" + row).html('');
			$("#validasiARO" + row).html('');
			$("#validasiRate" + row).html('');
			$('#validasiHold' + row).html('');

			//$("#errorNotif"+row).hide();


		}

		function checkBalance(acctNo, row) {
			var strrow = '#balance' + row;
			var realrow = '#realbalance' + row;

			var balance = $(strrow).val();
			var realbalance = $(realrow).val();
			console.log(balance);
			console.log(realbalance);
			if (realbalance < balance) {
				errorvalidasi = true;
				$('#error_notif' + row).attr('display', 'block');

				$("#errorLimitSaldo" + row).html("Nominal lebih dari limit yang tersedia");

				$("#submit").attr("disabled", true);
				$("#submit").addClass("disabled");

				//alert('maximum top up '+number_format (realbalance));
				//$(strrow).val(realbalance);
			}

			inquiryAccountBalance(acctNo, row);
		}

		function number_format(number, decimals, decPoint, thousandsSep) {
			number = (number + '').replace(/[^0-9+\-Ee.]/g, '')
			var n = !isFinite(+number) ? 0 : +number
			var prec = !isFinite(+decimals) ? 0 : Math.abs(decimals)
			var sep = (typeof thousandsSep === 'undefined') ? ',' : thousandsSep
			var dec = (typeof decPoint === 'undefined') ? '.' : decPoint
			var s = ''

			var toFixedFix = function(n, prec) {
				var k = Math.pow(10, prec)
				return '' + (Math.round(n * k) / k)
					.toFixed(prec)
			}

			// @todo: for IE parseFloat(0.55).toFixed(0) = 0;
			s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.')
			if (s[0].length > 3) {
				s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep)
			}
			if ((s[1] || '').length < prec) {
				s[1] = s[1] || ''
				s[1] += new Array(prec - s[1].length + 1).join('0')
			}

			return s.join(dec)
		}

		function inquiryAccountBalance(acctNo, countRow) {
			$.ajax({
				url: "<?= $this->url(array('action' => 'inquiryaccountbalance')); ?>",
				method: "GET",
				dataType: "JSON",
				data: {
					acctNo: acctNo
				},
				success: function(response) {
					//console.log(response);

					if (response.response_code == '0000') {
						/*console.log(response);
						console.log(response.balance);
						console.log('#balance'+countRow);
						*/
						// start validasi

						var errorvalidasi = false;


						if (response.status != '1') {
							errorvalidasi = true;
							$('#error_notif' + countRow).attr('display', 'block');

							$('#errorStatusRekening' + countRow).html('Status rekening tidak aktif');
							$('#submit').attr('disabled', true);
							$('#submit').addClass('disabled', 'disabled');

						} else if (response.check_product_type != 1) {
							errorvalidasi = true;
							$('#error_notif' + countRow).attr('display', 'block');

							$("#errorStatusRekening" + countRow).html("Product type tidak terdaftar di product management");

							$("#submit").attr("disabled", true);
							$("#submit").addClass("disabled");

						} else if (response.check_cust_acct != 1) {
							errorvalidasi = true;
							$('#error_notif' + countRow).attr('display', 'block');

							$("#errorStatusRekening" + countRow).html("Rekening Nasabah pada sistem bukan status approved");

							$("#submit").attr("disabled", true);
							$("#submit").addClass("disabled");

						}


						if (errorvalidasi == false) {
							$('#errorStatusRekening' + countRow).html('');
							$('#submit').attr('disabled', false);
							$('#submit').removeClass('disabled');
							$("#errorNotif" + countRow).hide();
						} else {
							//alert('a');
							$("#errorNotif" + countRow).show();
						}



						// end validasi

						if (response.account_type == 'EM') {
							$('#balance' + countRow).val(response.balance);
							$('#realbalance' + countRow).val(response.balance);
							$('#balance' + countRow).attr('readonly', true);
							/*
							$.ajax({
								url: "<?= $this->url(array('action' => 'lockdeposito')); ?>",
								method: "GET",
								dataType: "JSON",
								data: {
									acctNo: acctNo
								},
								success: function(response2) {
									console.log(response2);
									if(response2.response_code == '00' || response2.response_code == '0000'){
										$('#balance'+countRow).val(response2.amount);
										$('#realbalance'+countRow).val(response2.amount);
										
										$('#balance'+countRow).attr('readonly', true);
									}
								}
							});
							*/
						} else {
							//$('#balance'+countRow).val(response.balance_active);
							$('#realbalance' + countRow).val(response.balance_active);

							//$('#balance'+countRow).attr('readonly', false);
						}
						$('#error' + countRow).removeAttr('title');
						$('#error' + countRow).addClass('d-none');
					} else {
						$('#error' + countRow).attr('title', 'This account number cannot be registered as collateral');
						$('#error' + countRow).removeClass('d-none');
					}
					checkButton();
				},
				complete: function(data) {
					console.log(data);
				}
			});
		}

		function removeRow(obj) {
			$(obj).closest('tr').remove();

			var tbodyNo = document.getElementById("tbody").rows.length;
			$('#countRow').val(tbodyNo);

			var prevNo = parseInt(tbodyNo) - 1;
			$("#removeRow" + prevNo).show();

			checkButton();
		}

		function checkButton() {
			var empty = 0;
			var topupAmount = 0;
			var tbodyNo = document.getElementById("tbody").rows.length;
			if (tbodyNo > 0) {
				for (var i = 0; i < tbodyNo; i++) {
					empty = $('#acctNo' + i).val() == "" ? (empty + 1) : empty;
					empty = trim($('#balance' + i).val()) == "" ? (empty + 1) : empty;
					empty = parseInt($('#balance' + i).val()) == "0" ? (empty + 1) : empty;
					empty = $('#error' + i).hasClass('d-none') ? empty : (empty + 1);

					topupAmount = parseInt($('#balance' + i).val().replace(/,/g, '')) + topupAmount;
				}
			} else {
				empty = 1;
			}
			topupAmount = (topupAmount > 0) ? rupiah(topupAmount) : 0;
			$('#topupAmount').text('IDR ' + topupAmount + '.00');

			if (empty == 0) {
				$('#submit').attr('disabled', false);
				$('#submit').removeClass('disabled');
			}
		}

		function rupiah(angka) {
			var reverse = angka.toString().split('').reverse().join(''),
				ribuan = reverse.match(/\d{1,3}/g);
			ribuan = ribuan.join(',').split('').reverse().join('');
			return ribuan;
		}

		function inquiryDeposito(acct, id) {


			$("#load" + id).show();
			$("#refresh" + id).hide();
			var amount = "#balance" + id;
			$.ajax({
				url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquiryDeposito'), null, true) ?>",
				type: 'GET',
				dataType: "JSON",
				data: {
					acct_no: acct,
				},
				success: function(data) {

					$("#load" + id).hide();
					$("#refresh" + id).show();
					$(amount).val(data.balance);
					checkButton();
					document.querySelector("#balance" + id).onblur();
					console.log(data);
					if (data.response_code == "0000" || data.response_code == "00") {
						var errorvalidasi = false;

						if (data.aro_status == "N") {
							errorvalidasi = true;
							$('#errorNotifDeposito' + id).show();

							$("#validasiARO" + id).html("Type bukan ARO");
							$("#submit").attr("disabled", true);
							$("#submit").addClass("disabled");

						}

						if (data.status != 1 && data.status != 4) {
							errorvalidasi = true;
							$('#errorNotifDeposito' + id).show();
							$("#validasiStatus" + id).html("Status rekening tidak aktif");

							$("#submit").attr("disabled", true);
							$("#submit").addClass("disabled");

						}

						if (data.check_product_type != 1) {
							errorvalidasi = true;
							$('#errorNotifDeposito' + id).show();

							$("#validasiType" + id).html("Product type tidak terdaftar di product management");

							$("#submit").attr("disabled", true);
							$("#submit").addClass("disabled");

						}

						if (data.check_cust_acct != 1) {
							errorvalidasi = true;
							$('#errorNotifDeposito' + id).show();

							$("#validasiCustAcct" + id).html("Rekening Nasabah pada sistem bukan status approved");

							$("#submit").attr("disabled", true);
							$("#submit").addClass("disabled");

						}

						if (data.varian_rate != "0") {
							//errorvalidasi = true;
							//$('#errorNotifDeposito'+id).show();
							$('#icwarning' + id).show();

							/*$("#validasiRate" + id).html("Variant Rate bukan 0");
							$("#submit").attr("disabled", true);
							$("#submit").addClass("disabled");
							*/
						}

						if (data.hold_description == 'Y') {
							errorvalidasi = true;
							$('#errorNotifDeposito' + id).show();

							$('#validasiHold' + id).html('status rekening hold');
							$('#submit').attr('disabled', true);
							$('#submit').addClass('disabled', 'disabled');

						}

						if (errorvalidasi == false) {

							resetValidasi(id);
							$("#submit").attr("disabled", false);
							$("#submit").removeClass("disabled");
						}

					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					console.info(thrownError);
					alert("Failed to get where column list, please try again");
					$("#load" + id).hide();
					$("#refresh" + id).show();
				}
			});

		}
	</script>
<?php endif; ?>