<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<html>
    <head>
    <link rel="shortcut icon" href="/favicon111.ico">
<style>
@media print{
    .hidden, .hidden * {
		display: none !important;
		visibility: hidden;
	}

	button {
		display: none !important;
		visibility: hidden;
	}

	/*form {
		display: none !important;
		visibility: hidden;
	}*/

	.hiddenLogo, .hiddenLogo * {
		display: inline !important;
		visibility: show;
	}

	input.currency{ width: 200px; font-size: 10px; }
	ul { padding-left:10px; }
	h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed }
	body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; }
	b { font-weight:bold; font-size:11px }
	td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; }
	a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; }
	.tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
	.tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
	.tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; }
	.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; }
	.errmsg { font-weight:bold; font-size:11px; color:#FF0000 }
	body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	-webkit-print-color-adjust:exact; /*chrome*/
	-moz-print-color-adjust:exact; /*mozila*/
	-o-print-color-adjust:exact; /*opera*/
	-ms-print-color-adjust:exact; /*ie*/
	}
}

</style>
</head>
    <body onload="window.print();">

<div style="display:none" class="hiddenLogo" style="padding: 0px 20px 0px 0px"><img src="/images/logo/logo_pdf969.jpg" border="0"/></div>

<?php
if (is_array($this->tableMst)) {
  //View File dihidden untuk PAYROLL
  if ($this->pslip["PS_CATEGORY"] == "BULK PAYMENT" && !$this->pdf && $this->pslip["PS_TYPE"] != "11") {
    // download trx bulk file
    $downloadURL = $this->url(array('module' => 'display', 'controller' => 'viewdetail', 'action' => 'downloadtrx', 'csv' => '1', 'payReff' => $this->pslip['PS_NUMBER']), null, true);
    $this->tableMst[7]["label"] = $this->language->_('View File');
    $this->tableMst[7]["value"] = $this->formButton('download', $this->language->_('download'), array('class' => 'btn btn-warning', 'onclick' => "window.location = '" . $downloadURL . "';"));
  }
  //Zend_Debug::dump($this->tableMst);
  foreach ($this->tableMst as $dataMst) {
    if ($dataMst['label'] == 'Source Account') {
      $sourceFrom = $dataMst['value'];

      $sourceFromExplode = explode(" ", $sourceFrom);

      $sourceFromExplodeComp = explode(" - ", $dataMst['value']);

      $sourceFromExplodeCompSlash = explode("/", $sourceFromExplodeComp[1]);
      $sourcealias = $sourceFromExplodeCompSlash[1];
    } 
    if ($dataMst['label'] == 'Payment Ref#') {
      $payreffFrom = $dataMst['value'];
    } 
    if ($dataMst['label'] == 'Created Date') {
      $CreatedFrom = $dataMst['value'];
    } 
    if ($dataMst['label'] == 'Source Bank Name') {
      $bankNameFrom = $dataMst['value'];
    }
  }
}

if (is_array($this->tableDtl)) {
  foreach ($this->tableDtl as $dataDtl) {
    $sourceTo = $dataDtl['ACBENEF'];
    $benefId = $dataDtl['BENEFICIARY_ID'];
    $ccyTo = $dataDtl['ACBENEF_CCY'];
    $amountTo = $dataDtl['TRA_AMOUNT'];
    $sourceToName = $dataDtl['ACBENEF_NAME'];
    $bankNameTo = $dataDtl['BENEF_ACCT_BANK_CODE'];

    $benefalias = $dataDtl['ACBENEF_ALIAS'];
    // $sourcealias = $dataDtl['ACCSRC_ALIAS'];

    
  }
}
if($this->pslip["PS_TYPE"] == '16' || $this->pslip["PS_TYPE"] == '17'){
  $ccyTo = "IDR";
}

?>

<!-- <h2 style="text-align: left; color: grey;"><?= $this->master_bank_name ?> - <?= $this->master_bank_app_name ?></h2>
<hr>
<h1 style="text-align: left; color: blue;"><?php echo $this->custName; ?></h1>
<br/> -->
<img src="[[qrcode]]" style="width: 100px;float: right;">
<br>
<h2 style="text-align: left;">Transaction Information</h2>
<table width="100%">
  <tr>
    <td style="padding-left: 1%; border: 1px solid; border-radius: 5px; width: 500px; border-color: #A9A9A9; background-color: #D3D3D3;">
          <table>
             <h2 style="margin-bottom: 0px;"><b><?php echo $this->language->_($this->TITLE_DTL); ?></b></h2>
                  <tr>
                    <td style="width: 150px; color: grey;">Bank Name</td>
                    <td style="width: 350px;"><?php echo $bankNameFrom; ?></td>
                  </tr>
                  <tr>
                    <td style="width: 150px; color: grey;">Account Number</td>
                    <td style="width: 350px;"><?php echo (($this->pslip["PS_TYPE"] == '5' || ($this->pslip["PS_CATEGORY"] == "SWEEP PAYMENT" && $this->pslip["PS_TXCOUNT"] > 1)) ? 'From Many Account' : $sourceFromExplode[0]); ?></td>
                  </tr>
                  <tr>
                    <td style="width: 150px; color: grey;">Account Name</td>
                    <td style="width: 350px;"><?php echo (($this->pslip["PS_TYPE"] == '5' || ($this->pslip["PS_CATEGORY"] == "SWEEP PAYMENT" && $this->pslip["PS_TXCOUNT"] > 1)) ? '-' : $sourceFromExplodeCompSlash[0]); ?></td>
                  </tr>
                  <tr>
                    <td style="width: 150px; color: grey;">Account Alias</td>
                    <td style="width: 350px;"><?php echo (($this->pslip["PS_TYPE"] == '5' || ($this->pslip["PS_CATEGORY"] == "SWEEP PAYMENT" && $this->pslip["PS_TXCOUNT"] > 1)) ? '-' : $sourcealias); ?></td>
                  </tr>
          </table>

    </td>
    <td style="width: 5px"></td>
    <td style="padding-left: 1%; border: 1px solid; width: 500px; border-radius: 5px; border-color: #A9A9A9; background-color: #D3D3D3;">
        <table>
          <h2 style="margin-bottom: 0px;"><b><?php echo $this->language->_($this->TITLE_MST); ?></b></h2>
           <tr>
              <td style="width: 150px; color: grey;">Bank Name</td>
              <td style="width: 350px;"><?php echo (($this->pslip["PS_TYPE"] == '16' || $this->pslip["PS_TYPE"] == '17') ? '-' : $bankNameTo); ?></td>
            </tr>
            <tr>
              <td style="width: 150px; color: grey;">Account Number</td>
              <td style="width: 350px;"><?php echo (($this->pslip["PS_TYPE"] == '4' || $this->pslip["PS_TYPE"] == '11') ? 'From Many Account' : ($this->pslip["PS_TYPE"] == '16' || $this->pslip["PS_TYPE"] == '17') ? '-' : $sourceTo); ?></td>
            </tr>
            <tr>
              <td style="width: 150px; color: grey;">Account Name</td>
              <td style="width: 350px;"><?php echo (($this->pslip["PS_TYPE"] == '4' || $this->pslip["PS_TYPE"] == '11') ? 'From Many Account' : ($this->pslip["PS_TYPE"] == '16' || $this->pslip["PS_TYPE"] == '17') ? '<b>-</b>' : $sourceToName); ?></td>
            </tr>
             <tr>
              <td style="width: 150px; color: grey;">Account Alias</td>
              <td style="width: 350px;"><?php echo (($this->pslip["PS_TYPE"] == '4' || $this->pslip["PS_TYPE"] == '11') ? 'From Many Account' : ($this->pslip["PS_TYPE"] == '16' || $this->pslip["PS_TYPE"] == '17') ? '<b>-</b>' : $benefalias); ?></td>
            </tr>        
          </table>

    </td>
  </tr>
</table>
<br>

<!-- <div style="padding-left: 1%; border: 1px solid; border-radius: 5px; border-color: #A9A9A9; width: 95%;"> -->
<table style="padding-left: 1%; border: 1px solid; border-radius: 5px; border-color: #A9A9A9; width: 1000px;">
  <tr>
    <td>
        <table>
          <tr>
              <td colspan="2"><h2 style="margin-bottom: 0px;"><b><?php echo $this->language->_('Transaction Summary'); ?></b></h2></td>
            </tr>
         <tr>
            <td style="width: 150px; color: grey;">Payment Type</td>
            <td style="width: 350px;"><?php echo (($this->pdfpaytype == '') ? '-' : $this->pdfpaytype); ?></td>
          </tr>
          <tr>
            <td style="width: 150px; color: grey;">Payment Ref#</td>
            <td style="width: 350px;"><?php echo (($this->pdfpsnumber == '') ? '-' : $this->pdfpsnumber); ?></td>
          </tr>
          <tr>
            <td style="width: 150px; color: grey;">Payment Subject</td>
            <td style="width: 350px;"><?php echo (($this->pdfpaysubject == '') ? '-' : $this->pdfpaysubject); ?></td>
          </tr>
           <tr>
            <td style="width: 150px; color: grey;">Trans#</td>
            <td style="width: 350px;"><?php echo (($this->pdftrans == '') ? '-' : $this->pdftrans); ?></td>
          </tr>  
          <tr>
            <td style="width: 150px; color: grey;">Message</td>
            <td style="width: 350px;"><?php echo (($this->pdftramessage == '') ? '-' : $this->pdftramessage); ?></td>
          </tr> 
           <tr>
            <td style="width: 150px;">&nbsp;</td>
            <?php if ($this->pslip["PS_CATEGORY"] == "SWEEP PAYMENT") {
                    if ($this->pdffrequently == '1x') { 
                        if ($this->pslip["PS_TYPE"] == '23') { ?>
                            <td style="width: 350px; height: 80px;">&nbsp;</td>
                        <?php }else{ ?>
                            <td style="width: 350px; height: 50px;">&nbsp;</td>
                        <?php } 
                        }else{ ?>
                        <td style="width: 350px; height: 90px;">&nbsp;</td>
                    <?php } 
                }else{ 
                          if ($this->pdffrequently == '1x') { ?>
                          <td style="width: 350px;">&nbsp;</td>
                      <?php }else{ ?>
                      <td style="width: 350px; height: 50px;">&nbsp;</td>
                       <?php } 
                  } ?>
          </tr>
          
        </table>
    </td>
    <td>
      <table>
            <tr>
              <td style="color: grey;" colspan="2">&nbsp;</td>
            </tr>
           <tr>
              <td style="width: 150px; color: grey;">Frequently</td>
              <td style="width: 350px;"><?php echo (($this->pdffrequently == '') ? '-' : $this->pdffrequently); ?></td>
            </tr>

            <?php if ($this->pdffrequently == '1x') { ?>

              <tr>
                <td style="width: 150px; color: grey;">Payment Date</td>
                <td style="width: 350px;"><?php echo (($this->pdfpaymentdate == '') ? '-' : $this->pdfpaymentdate); ?></td>
              </tr>

              <?php if ($this->pslip["PS_TYPE"] != '21') { ?>
                  <tr>
                    <td style="width: 150px; color: grey;">Time</td>
                    <td style="width: 350px;"><?php echo (($this->pdftime == '') ? '-' : $this->pdftime); ?></td>
                  </tr>
              <?php } ?>

            <?php } ?>

            <?php if ($this->pdffrequently != '1x') { ?>
              
              <tr>
                <?php  if ($this->pdffrequently == 'Monthly' ) { ?>
                    <td style="width: 150px; color: grey;">Repeat on date</td>
                 <?php }else{ ?>
                    <td style="width: 150px; color: grey;">Repeat on</td>
                  <?php }
                ?>
                <td style="width: 350px;"><?php echo (($this->pdfrepeaton == '') ? '-' : $this->pdfrepeaton); ?></td>
              </tr>

               <tr>
                <td style="width: 150px; color: grey;">Start From</td>
                <td style="width: 350px;"><?php echo (($this->pdfstartfrom == '') ? '-' : $this->pdfstartfrom); ?></td>
              </tr>

              <?php if ($this->pslip["PS_TYPE"] != '21') { ?>
                  <tr>
                    <td style="width: 150px; color: grey;">Time</td>
                    <td style="width: 350px;"><?php echo (($this->pdftime == '') ? '-' : $this->pdftime); ?></td>
                  </tr>
              <?php } ?>
               
               <tr>
                <td style="width: 150px; color: grey;">Next Payment Date</td>
                <td style="width: 350px;"><?php echo (($this->pdfnextpaymentdate == '') ? '-' : $this->pdfnextpaymentdate); ?></td>
              </tr>

            <?php } ?>

            <?php if ($this->pslip["PS_CATEGORY"] == "SWEEP PAYMENT") { ?>

              <tr>
                <?php if ($this->pslip["PS_TYPE"] == '19' || $this->pslip["PS_TYPE"] == '23') { ?>
                    <td style="width: 150px; color: grey;">Remains on source</td>
                <?php }else{ ?>
                    <td style="width: 150px; color: grey;">Maintain Beneficiary</td>
                <?php } ?>
                <td style="width: 350px;"><?php echo (($this->pdftraremain == '') ? '-' : $this->pdftraremain); ?></td>
              </tr>

               <tr>
                <td style="width: 150px; color: grey;">Minimum Transfer</td>
                <td style="width: 350px;"><?php echo (($this->pdfminamount == '') ? '-' : $this->pdfminamount); ?></td>
              </tr>
            <?php } ?>
             
            <?php if ($this->pslip["PS_TYPE"] == '21') { ?>
              <tr>
                <td style="width: 150px; color: grey;">Total Amount</td>
                <td style="width: 350px;"><?php echo (($this->pdftotalamount == '') ? '-' : $this->pdftotalamount); ?></td>
              </tr>
            <?php } ?>

            <?php if ($this->pslip["TRANSFER_TYPE"] == '1' && $this->pslip["PS_TYPE"] == '23') { ?>
              
              <tr>
                <td style="width: 150px; color: grey;">If sweep exceed RTGS</td>
                <td style="width: 350px;">Split if amount exceed RTGS limit</td>
              </tr>  
            <?php }else if($this->pslip["TRANSFER_TYPE"] == '2' && $this->pslip["PS_TYPE"] == '23'){ ?>
              
              <tr>
                <td style="width: 150px; color: grey;">If sweep exceeds SKN</td>
                <td style="width: 350px;">Cancel if amount exceed SKN limit</td>
              </tr>  
            <?php } ?>

             <tr>
              <td style="width: 150px; color: grey;">Status</td>
              <td style="width: 350px;"><?php echo (($this->pdfstatus == '') ? '-' : $this->pdfstatus); ?></td>
            </tr>        
          </table>
    </td>
</tr>
</table>
<?php if ($this->pslip["PS_TXCOUNT"] > 1 || $this->PS_EVERY_PERIODIC_UOM == '1' && $this->pslip["PS_TYPE"] == '20') { ?>
   <strong class="formreq" style='color:red;'>*&nbsp;</strong><span style="color: grey;">Please login to <?= $this->master_bank_app_name ?> for more detail</span>
<?php } ?>
<!-- </div> -->

<br>
<table>
  <tr>
    <td style="padding-left: 1%; border: 0px; width: 1000px;">
        <table width="60%">
        <h2 style="margin-bottom: 0px;"><b>History</b></h2>
          <tr>
            <td style="color: grey;">User</td>
            <td width="70px" style="color: grey;">Action</td>
            <td width="160px" style="color: grey;">Date Time</td>
            <td style="color: grey;">Notes</td>
          </tr>
            <?php
              if(is_array($this->paymentHistory) && count($this->paymentHistory)==0){
                ?>
                  <tr>
                    <td colspan="4" align="center"><?php echo $this->language->_('There is currently no data in this section'); ?></td>
                  </tr>
              <?php
              } else {
                  $j = 0;
                    foreach ($this->paymentHistory as $History) {

	                    // $USER_LOGIN = ($History ['USER_LOGIN']) ? $History ['USER_LOGIN'] : "N/A";

                      if($History['USER_LOGIN']){
                      if($History['u_name']){
                        $USER_LOGIN = $History ['USER_LOGIN'].' ('.$History['u_name'].')';
                        }else{ 
                        $USER_LOGIN = $History ['USER_LOGIN'].' ('.$History['b_name'].')';
                        }
                        
                      }else{
                        $USER_LOGIN = "N/A";
                      }

						$DATE_TIME = ($History ['DATE_TIME']) ? $History ['DATE_TIME']  : "N/A";
						$HISTORY_STATUS = ($History ['HISTORY_STATUS']) ? $History ['HISTORY_STATUS'] : "";
						$arrHISTORY_STATUS = array (1 => "Create", 2 => "Approve", 3 => "Request Repair", 4 => "Reject", 5 => "Release", 7 => "Releaser for Future Date", 8 => "Bulk Releaser", 9 => "Exception", 10 => "Bulk Releaser for Future Date", 14 => "Cancel Future Date", 15 => "Review" );
						$dispHISTORY_STATUS = in_array ( $HISTORY_STATUS, array_keys ( $arrHISTORY_STATUS ) ) ? $arrHISTORY_STATUS [$HISTORY_STATUS] : "N/A";

						//if reexecute
						if ($HISTORY_STATUS == 5 && strpos($History ['PS_REASON'], 'From Trans') !== false) {
							$dispHISTORY_STATUS = 'Re-Execute';
						}
						
						if($USER_LOGIN == 'System'){
							$dispHISTORY_STATUS = 'Execute';
						}
						// else{
						// 	$USER_LOGIN = $this->dataUser[$USER_LOGIN];
						// }

	//						$PS_REASON = ($History ['PS_REASON']) ? $History ['PS_REASON'] : "N/A";
						$PS_REASON = ($History ['PS_REASON']) ? $History ['PS_REASON'] : "-";
						$j ++;
						?>
                      <tr>
                        <td>
                        	<?php echo $USER_LOGIN; ?>
						</td>
						<td>
							<?php echo $this->language->_($dispHISTORY_STATUS)?>
						</td>
						<td>
							<?php echo $this->Date($DATE_TIME, $this->dateTimeDisplayFormat); ?>

						</td>
						<td>
							<?php echo $this->language->_($PS_REASON)?>
						</td>
                      </tr>
              <?php
                  }
              }
              ?>
      </table>
    </td>
  </tr>
</table>    
<br>

<?php if ($this->pslip['PS_STATUS'] == 17 || $this->pslip['PS_STATUS'] == 1 || $this->pslip['PS_STATUS'] == 2) { ?>

<br>

<?php 
  // $imgsrc = 'file://'.LIBRARY_PATH.'/data/temp/'.'../../../frontend/public/QRImages/';
?>

<?php 
  $imgsrc = 'file://'.LIBRARY_PATH.'/data/temp/'.'../../../frontend/public/QRImages/';

  if ($j == 1) {
    $marginTop = 'margin-top: 25%';
  }elseif ($j == 2) {
    $marginTop = 'margin-top: 25%';
  }elseif ($j == 3) {
    $marginTop = 'margin-top: 25%';
  }else{
    $marginTop = 'margin-top: 25%'; 
  }
?>

<table align="center" width="100%" style="margin-top: 20%;">
<tbody>
    <td align="center">
    	<hr>
	</td>	
    <tr>
      <td><h2 style="text-align: center; margin-bottom: 0px"><b><?php echo $this->language->_($this->pdfstatusdisp); ?></b></h2></td>
    </tr>
    <tr>
      <td>
         <h2 style="text-align: center; margin-top: 5px;">Scan barcode to authorize</h2>
      </td>
    </tr>
    <tr> 
      <td align="center">
          <table>
            <tr>
              <td align="center" style="border: 1px solid; width: 200px !important; border-radius: 5px; border-color: #A9A9A9;" >
                  <img src="<?php echo $imgsrc.$this->pdfpsnumber?>.png" width="140px" align="center">
              </td>
            </tr>
          </table>
      </td>
    </tr>
  </table>   

<?php } ?>
</body>
</html>