<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Customer Setup'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <?php echo $this->language->_('RDN Account'); ?>
                       <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <?php echo $this->language->_('Detail'); ?>
                  </li>
              </ul>
          </div>
        </div>
</div>

<?php 
  require_once 'Crypt/AESMYSQL.php';
    $AESMYSQL = new Crypt_AESMYSQL();
    $rand = $this->token;

    $encrypted_custid = $AESMYSQL->encrypt($this->cust_id, $rand);
    $enccustid = urlencode($encrypted_custid);

    $encrypted_acct = $AESMYSQL->encrypt($this->acct_no, $rand);
    $encacct = urlencode($encrypted_acct);
?>

<?php
if($this->cust_id && $this->acct_status)
{
  $temp_status = array(strtoupper($this->status_type['code']['approved'])=>$this->status_type['desc']['approved'],
                     strtoupper($this->status_type['code']['suspended'])=>$this->status_type['desc']['suspended'],
                     strtoupper($this->status_type['code']['delete'])=>$this->status_type['desc']['delete']
                    );

  $arrStatus = array(0=>'Inactive',1=>'Active');
  if(array_key_exists($this->acct_status,$temp_status))
  {
     $status = $arrStatus[$this->acct_status];
  }
  else
  {
     $status = 'Active';
  }
  



  if($this->user_is_login == strtoupper($this->login_type['code']['yes']))
  {
     $login = $this->login_type['desc']['yes'];
  }
  else
  {
    $login = $this->login_type['desc']['no'];
  }


  if($this->user_is_locked)
  {
     $userIsLocked = $this->login_type['desc']['yes'];
  }
  else
  {
     $userIsLocked = $this->login_type['desc']['no'];
  }

  if($this->user_is_webservices)
  {
     $userIsWebservices = $this->login_type['desc']['yes'];
  }
  else
  {
     $userIsWebservices = $this->login_type['desc']['no'];
  }



?>


<?php if($this->success){ ?>
<div class="successmsg"><?=$this->report_msg?></div><br />
<?php }else if($this->error){ ?>
<div class="errmsg"><?=$this->report_msg?></div><br />
<?php } ?>
<div class="row">
  <div class="col-md-8">
    <form name="filterForm" action="<?=$this->url?>" method="post">
    <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped">
      <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('RDN Account Detail');?></strong></th></tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('Company Code')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->cust_id); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->language->_('Company Name')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->cust_name); ?></td>
      </tr>

      <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_no',$this->language->_('RDN Account Number')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent">
      <?php
        echo $this->formLabel('acct_no',$this->acct_no);
        echo $this->formHidden('acct_no',$this->acct_no);
        echo $this->formHidden('cust_id',$this->cust_id);
      ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('acct_name',$this->language->_('RDN Account Name')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_name',$this->acct_name); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('acct_name',$this->language->_('SID')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_name',$this->acct_sid); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('acct_name',$this->language->_('SRE')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_name',$this->acct_sre); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('ccy',$this->language->_('Currency')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php 
                                  if($this->ccy_id != 'IDR' && $this->ccy_id != 'USD' && $this->ccy_id != ''){
          //var_dump($this->userlimitdetail);
                                  $ccy = Application_Helper_General::getCurrCode($this->ccy_id);
                                }else{
                                 //echo 'sa';
                                  $ccy = $this->ccy_id;
                                } 
      echo $this->formLabel('ccy',$ccy); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('type',$this->language->_('Type')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('type',$this->acct_desc); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('acct_email','Email'); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_email',$this->acct_email); ?></td>
      </tr>

      
      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('acct_email','Opening Balance'); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_email',Application_Helper_General::convertDate($this->rdn_opening,$this->displayDateFormat,$this->defaultDateFormat)); ?></td>
      </tr>

      


      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('acct_status',$this->language->_('Status')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_status',$this->language->_($status)); ?></td>
      </tr>

      

     

       <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('create_date',$this->language->_('Created Date')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('create_date',Application_Helper_General::convertDate($this->acct_created,$this->displayDateTimeFormat,$this->defaultDateFormat)); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('creator',$this->language->_('Created By')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('creator',$this->acct_createdby); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestion',$this->language->_('Last Suggestion')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestion',Application_Helper_General::convertDate($this->acct_suggested,$this->displayDateTimeFormat,$this->defaultDateFormat)); ?></td>
      </tr>

     <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestor',$this->language->_('Last Suggester')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('last_suggestor',$this->acct_suggestedby); ?></td>
      </tr>


      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('last_approval',$this->language->_('Last Approval')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('last_approval',Application_Helper_General::convertDate($this->acct_updated,$this->displayDateTimeFormat,$this->defaultDateFormat)); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->formLabel('last_approver',$this->language->_('Last Approver')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><?php echo $this->formLabel('last_approver',$this->acct_updatedby); ?></td>
      </tr>




     </table>
    
     <br />
     <div><?php

       echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\''.$this->backURL.'\'','class'=>'btnwhite hov'));

      echo '&nbsp;&nbsp;';

      if(true)
      {
        if($this->acct_status != 3)
        {
          if($this->hasPrivilege('ACUD'))
            {
          echo $this->formSubmit('suspendUnsuspend',$this->language->_('Delete'),array('class'=>'btnwhite hov'));
            }
            else{
              echo'<input type="button" value="'.$this->language->_('Delete').'" disabled class="btnwhite disabled">';
            }
            echo '&nbsp;&nbsp;';
        }
          if($this->hasPrivilege('ACUD'))
            {
          $btn_edit = $this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','cust_id'=>$enccustid,'acct_no'=>$encacct),null,true);
          echo $this->formButton('edit',$this->language->_('Edit'),array('onclick'=>'location.href=\''.$btn_edit.'\'','class'=>'btngreen hov'));
            }
            else{
              echo'<input type="button" value="'.$this->language->_('Edit').'" disabled class="btnwhite disabled">';
            }

          echo '&nbsp;&nbsp;';

          if($this->acct_status == 1)
          {
            // $btn_active = $this->url(array('module'=>$this->modulename,'controller'=>'deactivate','action'=>'index','cust_id'=>$this->cust_id,'acct_no'=>$this->acct_no),null,true);
            // echo $this->formButton('deactivate','Suspend',array('onclick'=>'location.href=\''.$btn_active.'\'','class'=>''));
           if($this->hasPrivilege('ACSP'))
               {
            echo $this->formSubmit('suspendUnsuspend',$this->language->_('Suspend'),array('class'=>'btngreen hov'));
               }
               else{
                echo'<input type="button" value="'.$this->language->_('Suspend').'" disabled class="btnwhite disabled">';
               }
          }
          else if($this->acct_status == 2)
          {
            // $btn_active = $this->url(array('module'=>$this->modulename,'controller'=>'activate','action'=>'index','cust_id'=>$this->cust_id,'acct_no'=>$this->acct_no),null,true);
            // echo $this->formButton('activate','Unsuspend',array('onclick'=>'location.href=\''.$btn_active.'\'','class'=>'inputbtn'));
           if($this->hasPrivilege('ACSP'))
               {
            echo $this->formSubmit('suspendUnsuspend',$this->language->_('Unsuspend'),array('class'=>'btngreen hov'));
               }
               else{
                echo'<input type="button" value="'.$this->language->_('Unsuspend').'" disabled class="btnwhite disabled">';
               }
          }
          echo '&nbsp;&nbsp;';
          // $btn_delete = $this->url(array('module'=>$this->modulename,'controller'=>'delete','action'=>'index','cust_id'=>$this->cust_id,'acct_no'=>$this->acct_no),null,true);
          // echo $this->formButton('delete','Delete',array('onclick'=>'confirmation(\'Delete this record?\',\''.$btn_delete.'\')','class'=>'inputbtn'));

      }
      else
      {
        echo $this->language->_('No changes allowed for this record while awaiting approval for previous change');
      }

    ?></div>
    <?php }else{ ?>
    <div id="content">- <?php echo $this->language->_('No Data');?> -</div>
    <?php } ?>
    </form>
  </div>
</div>
