<form name="bulk_credit_import" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'confirm'),null,true)?>">
											<input type="hidden" name="PM_SUBJECT" value="tes">
											<input type="hidden" name="PM_EFDATE" value="10/05/2012">
											<input type="hidden" name="ACCTSRC" value="1290001537~JOSHUA ADISETYA DHARMAWAN               ~IDR">											
																							
											<table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
												<tr><td colspan="2" class="tdform-sub"><?php echo $this->language->_('Transfer To'); ?></td></tr>
											  <tr>
											  	<td class="tbl-evencontent" width="200px"><?php echo $this->language->_('Payment Subject'); ?></td>
											  	<td class="tbl-evencontent"><?=$this->PS_SUBJECT?></td>
											  </tr>
											  <tr>
											  	<td class="tbl-evencontent"><?php echo $this->language->_('Beneficiary Account'); ?></td>
											  	<td class="tbl-evencontent"><?=$this->ACBENEF?> / <?=$this->ACBENEF_CUR?></td>
											  </tr>
											  <tr>
											  	<td class="tbl-evencontent"><?php echo $this->language->_('Beneficiary Account Name'); ?></td>
											  	<td class="tbl-evencontent"><?=$this->ACBENEF_BANKNAME?></td>
											  </tr>
											  <tr>
											  	<td class="tbl-evencontent"><?php echo $this->language->_('Alias Name'); ?></td>
											  	<td class="tbl-evencontent"><?=$this->ACBENEF_ALIAS?></td>
											  </tr>
											  <tr><td colspan="2">&nbsp;</td></tr>
											  <tr><td  class="tdform-sub" colspan="2"><?php echo $this->language->_('File Detail'); ?></td></tr>
										  	  <tr>
										  		<td class="contentarea" id="contentarea" colspan="2">
														<table width="100%" border="0" cellspacing="1" cellpadding="2">
															<tr><td colspan="3">
																<?php if($this->totalFailed){ ?>
																<br /><div class="errmsg"><?php echo $this->language->_('Error: This payment can not be continue'); ?></div><br />
																<?php } ?>
																</td>
															</tr>                                                            <tr>
																<td>
                                                                	<table border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
																			<td class="tbl-evencontent" width="180px" style="border-top:1px dotted"><?php echo $this->language->_('Total Amount'); ?> / <?php echo $this->language->_('Record Success'); ?></td>
																			<td class="tbl-evencontent" width="80px" align="right" style="border-top:1px dotted"><font color="green"><?=Application_Helper_General::displayMoney($this->amountSuccess)?></font></td>
																			<td class="tbl-evencontent" width="80px" style="border-top:1px dotted"><font color="green"><?=$this->totalSuccess?></font></td>
																		</tr>
                                                                        <tr>
																			<td class="tbl-evencontent"><?php echo $this->language->_('Total Amount'); ?> / <?php echo $this->language->_('Record Failed'); ?></td>
																			<td class="tbl-evencontent" align="right"><font color="red"><?=Application_Helper_General::displayMoney($this->amountFailed)?></font></td>
																			<td class="tbl-evencontent"><strong><font color="red"><?=$this->totalFailed?> <?php $detailErr = $this->totalFailed ? ', <a style="cursor:pointer" onClick="showPopUpWindow(\'../../popuperror/bulkdebetpopup?type=PB&ccy='.$this->ACBENEF_CCY.'\');">['.$this->language->_('Detail').']</a>' : ''; echo $detailErr;?></font></strong></td>
																		</tr>
                                                                        <tr>
																			<td class="tbl-evencontent"><?php echo $this->language->_('Total Record'); ?></td>
																			<td class="tbl-evencontent">&nbsp;</td>
																			<td class="tbl-evencontent"><?=$this->totalRecord?></td>
																		</tr>
                                                                	</table>
                                                                </td>
															</tr>
                                                                    																													</table>
										  		</td>
										  	</tr>
											  <tr>
											  	<td>&nbsp;</td>
											  </tr>
											  <tr>
											  	<td><?php echo $this->language->_('Payment Date'); ?></td>
											  	<td><?=$this->PS_EFDATE?></td>
											  </tr>
											  <tr>
											  	<td>&nbsp;</td>
											  </tr>
											  <tr>
											  	<td>&nbsp;</td>
											  </tr>
                                              <tr>
                                                <td class="button-area" id="button-area" colspan="7">
                                                    <div class="formbutton">
                                                        <input type="submit" name="submit_cancel" class="inputbtn" value="<?php echo $this->language->_('Cancel')?>">&nbsp;&nbsp;
                                                        <input type="submit" name="submit" class="inputbtn" value="<?php echo $this->language->_('Submit for Approval')?>" <?php $disabled = $this->totalFailed ? 'disabled="disabled"' : ''; echo $disabled;?>>
                                                    </div>
                                                </td>
                                              </tr>
											</table>
											</form>