
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="icon" type="image/png" href="/head-icon-btn.ico">
    <title>Disable Page | <?= $this->masterTitle ?></title>
    <style type="text/css">
      
      img.contentImage {
      display:block; 
      margin-left:auto;
      margin-right:auto;
      margin-top:20%;

      }

      div#contentText{
      margin-top: 30%;
      margin-left:auto;
      margin-right:auto;
      text-align: center;
      border: none;
      }
      div#contentText .card-title{
        font-size: 34px;
        font-weight: bold;
        color: #126CB9;
      }

      p.card-contact {
        color: #909090;
        font-style: italic;
      }


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color:#fff;
  color:#909090;
} 



    </style>
  </head>
  <body>
   <div class="container-fluid">
      <div class="row">
		<table align="CENTER" border="0" cellpadding="8" cellspacing="8" width="50%">
	<tbody>
		<tr>
			<td align="center">
				<div id="box_outer">
					<div class="tbl-logincontent">
						<p></p>
						<h2>
							<font color="red">User Status is Logged Out</font>
						</h2>
						<p></p>
						<p>&nbsp;</p>
						<p>Your account has been logged out by Administrator / System.<br> Please re-login</p>
						<p>&nbsp;</p>
						<p></p>
						<div><input class="btngreen hov" value="Go to login page" onclick="location.href = '/' " type="button"></div>
						<p></p>

					</div>
					
				</div>
			</td>
		</tr>
	</tbody>
</table>
      </div>
   </div>
  </body>
</html>
