<script type="text/javascript">
$(document).ready(function(){
    $('#fixTable').fixTableHeader();

    $("#searchtable").keyup(function() {
      var value = this.value.toLowerCase().trim();

      $("#myTable tr").each(function(index) {
          if (!index) return;
          $(this).find("td").each(function() {
              var id = $(this).text().toLowerCase().trim();
              var not_found = (id.indexOf(value) == -1);
              $(this).closest('tr').toggle(!not_found);
              return not_found;
          });
      });
    });

});
</script>


<?php $general = $this->language->_('General')?>
<?php $transpurpose = $this->language->_('Transaction Purpose')?>

<?php $countrycode = $this->language->_('Country Code')?>
<?php $countryname = $this->language->_('Country Name')?>
<?php $bankcode = $this->language->_('Bank Code')?>

<?php $print = $this->language->_('Print')?>
<?php $add = $this->language->_('Create New')?>

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('General'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Transaction Purpose'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>



<div class="row content-box">
	<div class="portlet-body form col-md-12">
		<h5><?=$this->language->_('Transaction Purpose')?></h5>

		<div class="form-group">
			<div style="float:left">
				<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
					<?php
						if($this->hasPrivilege('OFAD'))
						{
							$buttonNew = $this->url(array('module'=>$this->modulename,'controller'=>'new','action'=>'index'),null,true);
							$buttonNew = ' <button type="button" class="btn-sm btngrad hov" onclick="location.href=\''.$buttonNew.'\'"><i class="fa fa-plus"></i>&nbsp;'.$add.'</button>';
							echo $buttonNew;
						}
						else{
							echo'<button class="btn-sm btngrad hov" type="button" disabled><i class="fa fa-plus"></i>&nbsp;'.$add.'</button>';
						}
					?>
				</form>
			</div>
			<div style="float:right; padding-left:5px;">
		        <div class="input-group input-group-sm">
		                <div class="input-group-prepend">
		                            <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
		                        </div>
		                <input type="text" class="search form-control" id="searchtable" placeholder="Search">
		            </div>
		    </div>
			<div style="float:right; padding-left:10px;">
				<!---------------------------CSV & PDF ------------------------------------------------------------------>
				<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
					<!-- <?php
					      //jika jumlah paging lbh besar dari max page di setting, maka tombol pdf disable
					      if(count($this->paginator) > $this->applicationSetting['max_page_download_pdf'])
					      {
		                     // echo $this->formSubmit('pdf','  PDF is too large (function is disabled)',array('class'=>'btnwhite disabled','disabled'=>'disabled')) . '&nbsp';
					      	echo '<input type="submit" value="&#xf1c1; PDF is too large (function is disabled)" name="pdf" id="pdf" class="fa disabled" disabled="disabled">&nbsp;';
		                  }
					      // else echo $this->formSubmit('pdf','PDF',array('class'=>'btngreen hov'));
					      else echo '<input type="submit" value="&#xf1c1; PDF" name="pdf" id="pdf" class="fa">';
					 ?> -->


					<?php echo '<input type="submit" value="&#xf6dd Exports File" name="csv" id="csv" class="fa">'; ?>
		<!--				<input class="inputbtn"  value="<?php echo $print?>" onclick="window.print();" type="button">-->
					<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {
						// echo $this->formSubmit('pr',$this->language->_('print'),array('class'=>'btnwhite disabled','disabled'=>'disabled'));
						echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;'. $this->language->_("Print").'</button>';
					}
					else{
					?>
						<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print")?></button>&nbsp;
					<?php
					}
					?>
				</form>
				<!---------------------------END CSV & PDF ---------------------------------------------------------->
			</div>
		</div>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>


					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>

			<tr>
			<td class="contentarea" id="contentarea">
<br />

<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
<table class="table table-sm table-striped" id="myTable">
<thead>
    <tr>
    	<th width="3%" valign="top" class="tablehead">No</th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>
		<th width="15%" valign="top" class="tablehead"><?php echo $this->language->_('Action');?></th>
    </tr>
</thead>
<tbody>

    <?php
	$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

    if(count($this->paginator) > 0)
    {
          $i=0;

	      foreach($this->paginator as $row)
	      {

		    $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

    		if($this->hasPrivilege('OFUD'))
			{
			    $delete = $this->url(array('module'=>$this->modulename,'controller'=>'delete','action'=>'index','trans_code'=>$row['CODE']),null,true);
			    // $delete = '<a href="javascript:confirmation(\' '.$this->language->_('Are you sure want to delete this transaction purpose?').'\',\''.$delete.'\');">'.$this->language->_('Delete').'</a>';
          $delete = '<button  class="btnround"><a href="javascript:confirmation(\' '.$this->language->_('Are you sure want to delete this transaction purpose?').'\',\''.$delete.'\');"><i class="fa fa-trash" style="color:#ffffff"></i></a></button>';
			    //$edit   = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','country_code'=>$row['COUNTRY_CODE']),null,true).'">'.$this->language->_('Edit').'</a>';
			}
			else{
			    $delete = $this->url(array('module'=>'notification','controller'=>'notauthorized','action'=>'index','trans_code'=>$row['CODE']),null,true);
			    // $delete = '<a href="javascript:confirmation(\' '.$this->language->_('Are you sure want to delete this transaction purpose?').'\',\''.$delete.'\');">'.$this->language->_('Delete').'</a>';
          $delete = '<button  class="btnround"><a href="javascript:confirmation(\' '.$this->language->_('Are you sure want to delete this transaction purpose?').'\',\''.$delete.'\');"><i class="fa fa-trash" style="color:#ffffff"></i></a></button>';

			    //$edit   = '<a href="'.$this->url(array('module'=>'notification','controller'=>'notauthorized','action'=>'index','country_code'=>$row['COUNTRY_CODE']),null,true).'">'.$this->language->_('Edit').'</a>';
			}


			$btn_edit = $this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','trans_code'=>$row['CODE']),null,true);
// 			echo $this->formButton('unsuspend',$this->language->_('Unsuspend'),array('onclick'=>'location.href=\''.$btn_unsuspend.'\'','class'=>'inputbtn'));
$edit = '<button class="btnround"><a href='.$btn_edit.'><i class="fa fa-edit" style="color:#ffffff"></i></a></button>';
			// $edit = '<a href='.$btn_edit.'>'.$this->language->_('Edit').'</a>';

		    echo '<tr>
					<td class="'.$td_css.'">'.$counter.'</td>';
			foreach($this->fields as $field)
			echo '<td class="'.$td_css.'">'.$row[$field['field']].'</td>';
			echo '<td class="'.$td_css.' row">'.$edit.' &nbsp; &nbsp; '.$delete.'</td>';

				  '</tr>';


			$i++;
            $counter++;
  	  	  }
  }
  else
  {
	   echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> - '.$this->language->_('there is currently no data in this section').' - </td></tr>';
  }
?>
</tbody>
</table>
</div>

<br />

<form name="Form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true)?>" method="post">
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />

			</td>
			</tr>

		</tbody>
	</table>

	</div>
</div>
