<b><?php echo $this->language->_('Transfer');?> > <?php echo $this->language->_('Virtual Account');?> > <?php echo $this->language->_('Confirmation');?> </b>
<br />
<br>
<?php
	if($this->error)
	{	?>
	<div class="errmsg">
	<?php 
		echo $this->language->_('Error').": ".$this->language->_($this->ERROR_MSG);		
	?>
	</div><br />
<?php
	}
?>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'nextlast'),null,true)?>" method="post">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr><td colspan="3" class="tdform-sub"><?php echo $this->language->_('Transfer From');?></td></tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Payment Ref#');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" id="tbl-evencontent">
				<?php $autogenerate = $this->language->_('auto generate'); ?>
					<?php if (!empty($this->PS_NUMBER)) {echo $this->PS_NUMBER;} else {
								if (!empty($this->payReff)) 
									echo $this->payReff;
								else		
									echo '<b>'.$autogenerate.'</b>';
							}?></b>
					<?php  echo $this->formHidden('PS_NUMBER',$this->PS_NUMBER); ?>
			</td>
		</tr>
		
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Source Account');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" id="tbl-evencontent"><?=$this->paramSession['ACCTSRC']?> [<?=$this->CustCCY?>] - <?=$this->CustName?> / <?=$this->CustAliasName?> (<?=$this->CustDesc?>)</td>
		</tr>
		
		<tr><td colspan="3" class="tdform-sub"><?php echo $this->language->_('Transfer To');?></td></tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Virtual Account Number');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?=$this->paramSession['orderId']?></td>
		</tr>		
		
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Virtual Account Name');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?=$this->paramSession['BENEFICIARY_ACCOUNT_NAME']?>
			</td>
		</tr>
		
		<!--
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Company Name / Product');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?=$this->paramSession['ACCT_NAME']?>
			</td>
		</tr>
		-->
				
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Currency/Amount');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				IDR <?=Application_Helper_General::displayMoney($this->paramSession['amount'])?>
			</td>
		</tr>
		
		<?php 
		if($this->paramSession['fee'] < 1)
		{
		}
		else{
		?>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Fee');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['fee'])?>
			</td>
		</tr>
		<?php } ?>
		
		
		<!--
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Total');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['total'])?>
			</td>
		</tr>	
		-->
		
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Message');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?=$this->paramSession['berita']?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?=$this->paramSession['berita2']?>
			</td>
		</tr>
		
		<tr><td colspan="3" class="tdform-sub"><?php echo $this->language->_('Transfer Date');?></td></tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Payment Date');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?php 
				//echo $this->formLabel('date',$this->paramSession['date']); 
				echo $this->Date($this->PS_EFDATE, $this->viewDateFormat, $this->displayDateFormat).$this->formHidden('PS_EFDATE',$this->PS_EFDATE);
				?>
			</td>
		</tr>
		
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Payment Type');?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?php echo $this->language->_('Today Transfer');?>
			</td>
		</tr>
		
		<tr><td colspan="3">&nbsp;</td></tr>
		<tr>
			<td colspan="3">
				<div class="formbutton">
								<tr>
									<td nowrap="nowrap" valign="top">
										<fieldset>
										<?php $user_id = $this->userId;?>
										<?php if($this->tokentype == '1'){
											//sms token
										?>	
											<legend><span class="tdform-sub"> <?php echo $this->language->_('Use Your Mobile Token'); ?>!</span></legend>
											<br>
											<table border="0" cellpadding="2" cellspacing="2" width="100%">
												<tbody>
													<tr><td>
													
													<a href="#" onClick="javascript:openwindow('<?=$this->url(array('module'=>'singlepayment','controller'=>'requestactivationcode','action'=>'index','user_id' => $user_id),null,true);?>',640,380)"><?php echo $this->language->_('Request mToken'); ?> </a>
													<br>
													<font style='color:black'><?php echo $this->language->_('Enter Your Token'); ?> :</font></td></tr>
													<tr><td>
													<input name="responseCode" size="12" maxlength="8" onkeypress="return forceNumber(event);" style="text-align: center; font-weight: bold; font-size: 16px;" type="password" autocomplete="off">
													</td></tr>
												</tbody>
											</table>
										<?php } 
										elseif($this->tokentype == '2'){
										//hard token
											?>
											<legend><span class="tdform-sub"> <?php echo $this->language->_('Use Your Token'); ?>!</span></legend>
											<br>
											<table border="0" cellpadding="2" cellspacing="2" width="100%">
												<tbody>
													<tr><td><?php echo $this->language->_('Response Token'); ?>  APPLI 2 :</td></tr>
													<tr><td><input name="responseCode" size="12" maxlength="6" onkeypress="return forceNumber(event);" style="text-align: center; font-weight: bold; font-size: 16px;" type="password" autocomplete="off"></tr>
													
												</tbody>
											</table>
											<?php 
										}?>
										</fieldset>
									</td>
								</tr>
				</div>
			</td>
		</tr>
		<tr>
			<td class="button-area" id="button-area" colspan="3">
				<div class="formbutton" style="float:left">
					<?php echo $this->formSubmit('submit', $this->language->_('Back'),array('class' => 'inputbtn'));?>
					<?php //echo $this->formSubmit('submit1', $this->language->_('Submit'),array('class' => 'inputbtn'));?>
				
				
					<input type="submit" class="inputbtn" name="submit1" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>
					<input type="submit" class="inputbtn" id="Submit_id" name="submit1" value="<?php echo $this->language->_('Submit')?>" disabled style="display:none"/>
					<script>
					function submitbtn(){
						//document.getElementById("subbutton").disabled=true;
						document.getElementById("subbutton").style.display ="none";
						document.getElementById("Submit_id").style.display ="inline";
						//Validation code goes here
					}
					</script>
				</div>
			</td>
		</tr>
	</table>
</form>