<link href="/css/select2_353.min.css" rel="stylesheet" />
<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Customer'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Customer List'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Customer Detail'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Insurance Branch'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	table td {
		vertical-align: top !important;
	}

	button.is-invalid {
		border-color: #dc3545 !important;
	}

	input[type="submit"]:disabled {
		cursor: not-allowed;
		background-color: #8fc4fb;
	}

	.input-medium {
		width: 320px !important;
	}

	.input-date {
		width: 120px !important;
	}

	.input-file {
		width: 100% !important;
		padding-left: 0;
		padding-right: 0;
	}

	.gj-datepicker {
		width: 160px !important;
	}

	.input-group-prepend,
	.input-group-append {
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%) !important;
	}

	.headercolor {
		color: #fff;
		background-color: #0b549f !important;
	}

	.btn-sm {
		height: 29px !important;
		padding: .10rem .5rem !important;
		border-color: #ccc !important;
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%) !important;
	}

	.btn-light {
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%);
	}

	.select2-container {
		padding: 0 !important;
	}

	.select2-container .select2-choice.is-invalid {
		border: 1px solid red !important;
	}
</style>

<h5><?= $this->language->_('Insurance Branch Onboarding'); ?></h5>

<?php $mandatory = (!$this->isConfirm) ? '&nbsp;<small class="text-danger">*</small>' : null; ?>

<form action="" method="post">
	<div class="row content-box mb-3">
		<div class="col-md-12">
			<table class="table-hover my-3" cellpadding="5" style="width:100%">
				<?php if ($this->isConfirm) { ?>
					<tr>
						<td width="250"><?= $this->language->_('Insurance Company'); ?><?= $mandatory; ?></td>
						<td width="10">:</td>
						<td>
							<?php
							echo $this->cust_name . ' (' . $this->cust_id . ')';
							?>

						</td>
					</tr>
				<?php } ?>
				<tr>
					<td><?= $this->language->_('Branch Name'); ?><?= $mandatory; ?></td>
					<td>:</td>
					<td>
						<?php
						echo $this->formHidden('cust_name', $this->cust_name);
						echo $this->formHidden('branch_ccy', $this->branch_ccy);
						echo $this->formHidden('acct_type', $this->acct_type);


						if ($this->isConfirm) {
							echo $this->branch_name;
							echo $this->formHidden('branch_name', $this->branch_name);
						} else {
							echo $this->formText('branch_name', $this->branch_name, ['class' => 'form-control', 'onkeyup' => 'check_button()']);
							echo '<small class="text-danger">' . $this->errDesc['branch_name'] . '</small>';
						}
						?>
					</td>
				</tr>
				<tr>
					<td><?= $this->language->_('Branch Email'); ?><?= $mandatory; ?></td>
					<td>:</td>
					<td>
						<?php
						if ($this->isConfirm) {
							echo $this->branch_email;
							echo $this->formHidden('branch_email', $this->branch_email);
						} else {
							echo $this->formText('branch_email', $this->branch_email, ['class' => 'form-control', 'onkeyup' => 'check_button()']);
							echo '<small class="text-danger">' . $this->errDesc['branch_email'] . '</small>';
						}
						?>
					</td>
				</tr>
				<tr>
					<td width="250"><?= $this->language->_('Branch Account'); ?><?= $mandatory; ?></td>
					<td width="10">:</td>
					<td>
						<?php
						if ($this->isConfirm) {
							echo $this->branch_acct . ' (' . $this->branch_ccy . ')';
							echo $this->formHidden('branch_acct', $this->branch_acct);
						} else { ?>
							<select name="branch_acct" id="branch_acct" class="form-control" onchange="select_acct(this)" style="width:100%">
							</select>
							<small class="text-danger"><?= $this->errDesc['branch_acct']; ?></small>
						<?php } ?>
					</td>
				</tr>
				<?php if ($this->isConfirm) : ?>
					<tr>
						<td width="250"><?= $this->language->_('Account Type'); ?></td>
						<td width="10">:</td>
						<td>
							<?= $this->acct_type; ?>
							<?= $this->formHidden('acct_type', $this->acct_type); ?>
						</td>
					</tr>
				<?php endif; ?>
			</table>
		</div>
	</div>
	<center>
		<?php
		if ($this->isConfirm) {
			$attr_submit = ['class' => 'btngreen hov', 'onclick' => "proceed('submit');"];
			echo $this->formSubmit('back', $this->language->_('BACK'), ['class' => 'btnwhite hov mr-2', 'onclick' => "proceed('back');"]);
		} else {
			$attr_submit = ['class' => 'btngreen hov', 'disabled' => true, 'onclick' => "proceed('submit');"];
			echo $this->formButton('back', $this->language->_('BACK'), ['class' => 'btnwhite hov mr-2', 'onclick' => 'window.location.href="/insurancebranch"']);
		}
		?>
		<?= $this->formSubmit('submit', $this->language->_('SUBMIT'), $attr_submit); ?>
		<?= $this->formHidden('isConfirm', $this->isConfirm); ?>
		<?= $this->formHidden('process', ''); ?>
	</center>
</form>

<script src="/js/select2_353.min.js"></script>
<script type="text/javascript">
	<?php if (!$this->isConfirm) : ?>
		$(document).ready(function() {
			$.ajax({
				url: "<?= $this->url(array('action' => 'checkcustomer')); ?>",
				method: "GET",
				dataType: "JSON",
				data: {

				},
				success: function(response) {
					var branch_acct = "<?= $this->branch_acct; ?>";

					var html = '<option value="">-- Any Value --</option>';
					var custAcctArr = response.custAcctArr;
					$.each(custAcctArr, function(index, value) {
						var selected = (index == branch_acct) ? 'selected' : '';
						html += '<option ' + selected + ' value="' + index + '">' + value + '</option>';
					});
					$('#branch_acct').html(html);
				}
			});

		});
	<?php endif; ?>


	function select_acct(obj) {
		check_button();
		var branch_acct = $(obj).val();
		$.ajax({
			url: "<?= $this->url(array('action' => 'checkaccount')); ?>",
			method: "GET",
			dataType: "JSON",
			data: {
				acct_no: branch_acct
			},
			success: function(response) {
				$('#cust_name').val(response.CUST_NAME);
				$('#branch_ccy').val(response.CCY_ID);
				$('#acct_type').val(response.ACCT_DESC);
			}
		});
	}

	function check_button() {
		var empty = 0;

		empty = $('#cust_id').val() == "" ? (empty + 1) : empty;
		empty = trim($('#branch_name').val()) == "" ? (empty + 1) : empty;
		empty = trim($('#branch_email').val()) == "" ? (empty + 1) : empty;
		empty = $('#branch_acct').val() == "" ? (empty + 1) : empty;

		if (empty == 0) {
			$('#submit').attr('disabled', false);
		} else {
			$('#submit').attr('disabled', true);
		}
	}
</script>