<?php echo $this->doctype('HTML4_LOOSE');?><html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<?php

require_once('/home/pg/public_html/coolpay2/library/SGO/Browser.php');

$browser = new Browser ;
if($browser->Name == 'msie' && $browser->Version < 10)
{
?>
<script>
	alert("This Website is best viewed by Internet Explorer 8.x or higher");
</script>
<?php
}
else if($browser->Name == 'firefox' && $browser->Version < 4)
{
?>
<script>
	alert("This Website is best viewed by Mozilla Firefox 4.x or higher");
</script>
<?php
}

$currentDate = new Zend_Date();
echo $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html;charset=utf-8');
//echo $this->headTitle('OCBC Backend')->setSeparator('-')->headTitle('Development');
echo $this->headTitle('Backend')->setSeparator('-')->headTitle('Financial Value Chain');
$this->headScript()->appendFile('/js/allJs.php');
$this->headLink()->appendStylesheet('/css/allStyle.css');

echo $this->jQuery();
echo $this->headScript();
echo $this->headLink();

?>
<script language="javascript" type="text/javascript">
	
	//var currenttime = 'April 16, 2010 12:06:51' //PHP method of getting server date
	var currenttime = '<?=$currentDate->toString()?>'
		
	var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December")
	var serverdate=new Date(currenttime)
	
	function padlength(what){
	var output=(what.toString().length==1)? "0"+what : what
	return output
	}
	
	function displaytime(){
	serverdate.setSeconds(serverdate.getSeconds()+1)
	var timestring=padlength(serverdate.getHours())+":"+padlength(serverdate.getMinutes())+":"+padlength(serverdate.getSeconds())
	document.getElementById("cdcontainer").innerHTML=timestring
	}
	
	window.onload=function(){
		setInterval("displaytime()", 1000)
	}
</script>

<script type="text/javascript">
function refreshAndClose() {
        window.opener.location.reload(true);
        window.close();
}
function refreshParent() {
    window.opener.location.reload(true);
}
</script>
<?php

	$auth = new Zend_Session_Namespace( 'SYSADMIN' );

	if($auth->isSuperUser != true || $auth->userGroupLogin != "SUPERADMIN")
	{
?>
<style>
	body{
		background:url(/images/bgr2.gif) repeat-x;
		background-color: white;
	}
</style>
<?php
	}
?>
</head>
<body>
<?php

	if($auth->isSuperUser == true && $auth->userGroupLogin == "SUPERADMIN")
	{
?>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="20"></td>
    <td valign="top">
    
	<!--BODY CONTENT -->
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		    <tr>
				<td colspan="3" style="background-color: #ffffff" valign="middle" height="80">
					<table cellpadding="0" cellspacing="0" border="0" width="100%">
						<tr>
							<td align="left" width="5"><div style="padding: 10px 20px 10px 20px;"><img src="/images/New/BII-MayBank_60.jpg" border="0" height="60" /></div></td>
							<td align="right"><div style="padding: 10px 20px 10px 20px"><img src="/images/New/coolpay_3.png" border="0"/></div></td>
						</tr>
					</table>
            	</td>
            </tr>
		    <tr>
				<td height="60" colspan="3" style="background:url(/images/New/header.png) top repeat-x;">
					<div id="menumiddle">
					<?php 
						if($auth->isSuperUser == true && $auth->userGroupLogin == "SUPERADMIN")
						{
					?>
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
							<tr>
								<td rowspan="2" width="50%" valign="middle" align="left">
									<?php
											echo '<span style="color:#FFFFFF"> Super User ID : '.$auth->userIdLogin.'</span>';
									?>
								</td>
								<td height="20px" style="color:#FFFFFF">
										<?=$currentDate->toString('d MMMM YYYY')?>&nbsp;&nbsp;<span id="cdcontainer">00:00:00</span>
								</td>
							</tr>
							<tr>
								<td style="color:#FFFFFF">
									<?php
											echo ' [<a href="/superadmin/home" style="color:#FFFFFF">Home</a>]&nbsp;|&nbsp;
														[<a href="/superadmin/adduser" style="color:#FFFFFF">Add Backend User</a>]&nbsp;|&nbsp;
														[<a href="/superadmin/changespassword/index/change/1" style="color:#FFFFFF">Change Password 1</a>]&nbsp;|&nbsp;
														[<a href="/superadmin/changespassword/index/change/2" style="color:#FFFFFF">Change Password 2</a>]&nbsp;|&nbsp;
														[<a href="/superadmin/logout/" style="color:#FFFFFF">Logout</a>]';
									?>
								</td>
							</tr>
						</table>
					<?php 
						}
					?>
					</div>
				</td>
		    <tr>
				<td colspan="3" style="background-color: #ffffff; padding: 10px;">
				<div class="screencontent" id="screencontent" style="width:1024px;margin-left:auto;margin-right:auto;">
				<?php echo $this->layout()->content;?>
            	</div>
            	</td>
            </tr>
		</table>
    </td>
  </tr>  
</table>
<?php }else{ ?>

	<table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top:20px">
		<tr>
			<td valign="top" align="right" height="300px" style="background:url(/images/New/coolpay_4.png) no-repeat;background-position:center;">
				<div style="color:#FFF;float:right"><?=$currentDate->toString('EEEE, d MMMM YYYY')?>&nbsp;&nbsp;<span id="cdcontainer">00:00:00</span></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="loginscreencontent" id="loginscreencontent" width="720px">
					<?php echo $this->layout()->content;?>
				</div>
			</td>
		</tr>
	</table>
<?php }?>
</body>
</html>