<!DOCTYPE html>

<?php
$ns = new Zend_Session_Namespace('language');
$sessionLanguage = $ns->langCode;

if ($sessionLanguage == 'id') {
  $imgview = "id.png";
  $imgselect = "en.png";
  $link = "/default/index/index/lang/en";
  $alt = "Switch to English";
} else {
  $imgview = "en.png";
  $imgselect = "id.png";
  $link = "/default/index/index/lang/id";
  $alt = "Ganti ke Bahasa Indonesia";
}
Zend_Loader::loadClass('Zend_Translate');

$frontendOptions = array(
  'cache_id_prefix' => 'MyLanguage',
  'lifetime' => 86400,
  'automatic_serialization' => true
);
$backendOptions = array('cache_dir' => APPLICATION_PATH . '/../../library/data/cache/language/frontend');
$cache = Zend_Cache::factory('Core', 'File', $frontendOptions, $backendOptions);
Zend_Translate::setCache($cache);

$translate = new Zend_Translate('tmx', APPLICATION_PATH . '/../../library/data/languages/frontend/language.tmx', $defaultlanguage);
// Zend_Debug::dump($translate);
Zend_Registry::set('language', $translate);
?>
<?php
$app = Zend_Registry::get('config');
$appBankname = $app['app']['bankname'];
$app = $app['app']['bankcode'];

if (Zend_Registry::isRegistered('language'))
  $language = Zend_Registry::get('language');

// echo "<pre>";
// print_r($language);die;
$randomTransact = md5(date('Y-m-d H:i:s'));
?>

<html lang="en">

<head>
  <?php //header('X-Frame-Options: allow-from https://sgohelp.zendesk.com'); 
  ?>

  <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" href="/espay-favico.png">


  <style type="text/css">
    @media print {
      .hiddenprint {
        display: none;
      }
    }

    #menuDropdown .dropdown-item:hover,
    #menuDropdown .dropdown-item:active,
    #menuDropdown .dropdown-item:focus {
      background-color: #004c7d;
      color: white;
    }

    #loader {
      position: fixed;
      /*background-color: white;*/
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url('/images/loader.gif') 50% 50% no-repeat white;
    }
  </style>

  <?php

  $currentDate = new Zend_Date();
  echo '<script type="text/javascript">
        var currenttime = "' . $currentDate->toString() . '"
        </script>';

  echo $this->headMeta()->appendHttpEquiv('Pragma', 'no-cache');
  echo $this->headMeta()->appendHttpEquiv('Cache-Control', 'no-cache');

  echo $this->headTitle('Corporate')->setSeparator(' | ')->headTitle('Digital Banking');
  // croppie
  $this->headLink()->appendStylesheet($this->baseUrl('../assets/permatalayout/assets/newlayout/css/croppie.css'));


  $this->headLink()->appendStylesheet($this->baseUrl('../assets/permatalayout/assets/newlayout/css/bootstrap.min.css'));
  $this->headLink()->appendStylesheet($this->baseUrl('../css/bootstrap-select.min.css'));
  $this->headLink()->appendStylesheet($this->baseUrl('../assets/permatalayout/assets/newlayout/icons/css/all.css'));
  $this->headLink()->appendStylesheet($this->baseUrl('../assets/permatalayout/assets/newlayout/css/style.css'));

  $this->headLink()->appendStylesheet($this->baseUrl('../assets/permatalayout/assets/newlayout/css/custom.css?v=1.3'));

  $this->headLink()->appendStylesheet($this->baseUrl('../assets/permatalayout/assets/newlayout/css/gijgo.min.css'));
  $this->headLink()->appendStylesheet($this->baseUrl('../styles/kendo.common.min.css'));
  $this->headLink()->appendStylesheet($this->baseUrl('../styles/kendo.metro.min.css'));
  $this->headLink()->appendStylesheet($this->baseUrl('../styles/kendo.metro.mobile.min.css'));


  // $this->headScript()->appendFile($this->baseUrl('../assets/permatalayout/assets/newlayout/js/jquery-3.3.1.min.js'));


  // $this->headScript()->appendFile($this->baseUrl('../js/jquery.min.js'));
  // $this->headScript()->appendFile($this->baseUrl('../js/kendo.all.min.js'));
  // $this->headScript()->appendFile($this->baseUrl('../js/jquery.nicescroll.min.js'));

  // $this->headScript()->appendFile($this->baseUrl('../assets/permatalayout/assets/newlayout/js/popper.min.js'));

  // $this->headScript()->appendFile($this->baseUrl('../assets/permatalayout/assets/newlayout/js/bootstrap.min.js'));
  // // $this->headScript()->appendFile($this->baseUrl('../assets/permatalayout/assets/newlayout/js/jquery-ui.min.js'));

  // $this->headScript()->appendFile($this->baseUrl('../js/bootstrap-select.min.js'));
  // $this->headScript()->appendFile($this->baseUrl('../js/bootstrap-datepicker.js'));

  // $this->headScript()->appendFile($this->baseUrl('../assets/permatalayout/assets/newlayout/js/jquery.form.js'));

  // $this->headScript()->appendFile($this->baseUrl('../assets/permatalayout/assets/newlayout/js/gijgo.min.js'));
  // $this->headScript()->appendFile($this->baseUrl('../assets/permatalayout/assets/newlayout/js/jQuery.fixTableHeader.js'));

  // $this->headScript()->appendFile($this->baseUrl('../muri/hammer.min.js'));
  // $this->headScript()->appendFile($this->baseUrl('../muri/web-animations.min.js'));
  // $this->headScript()->appendFile($this->baseUrl('../muri/muuri.min.js'));
  // $this->headScript()->appendFile($this->baseUrl('../assets/permatalayout/assets/newlayout/js/croppie.js'));

  // $this->headScript()->appendFile($this->baseUrl('../js/global.js'));

  //$this->headScript()->appendFile($this->baseUrl('../js/aes.js?ref='.$randomTransact));
  // $this->headScript()->appendFile($this->baseUrl('../assets/permatalayout/assets/newlayout/js/webcam.min.js'));
  $this->headScript()->appendFile($this->baseUrl('../js/jquery-3.3.1.min.js'));
  $this->headScript()->appendFile($this->baseUrl('../js/allJs.php'));

  echo $this->headLink();
  echo $this->headScript();

  if (Zend_Auth::getInstance()->hasIdentity()) {
    $this->headScript()->appendFile($this->baseUrl('../js/sgo/custom.js?v=1.2'));

    $auth = Zend_Auth::getInstance()->getIdentity();
    $frontendOptions = array(
      'lifetime' => 900,
      'automatic_serialization' => true
    );
    $backendOptions = array('cache_dir' => LIBRARY_PATH . '/data/cache/lastact/'); // Directory where to put the cache files
    $cache = Zend_Cache::factory('Core', 'File', $frontendOptions, $backendOptions);

    $cacheID = 'LA' . $auth->userIdLogin;
    // print_r($cacheID);die;
    if (!$dataTrans = $cache->load($cacheID)) {

      $db = Zend_Db_Table::getDefaultAdapter();
      //$dataTrans = array();

      $select = $db->select()
        ->from(array('T' => 'T_BACTIVITY'), array())
        ->joinLeft(array('M' => 'M_BPRIVILEGE'), 'T.ACTION_DESC = M.BPRIVI_ID', array('M.BPRIVI_MODULEID', 'T.ACTION_FULLDESC'))
        ->where('T.USER_ID = ?', $auth->userIdLogin)
        ->order('T.LOG_DATE DESC')
        ->limit(2);
      $select2 = $db->select()
        ->from(array('M' => 'M_BUSER'), array())
        // ->joinLeft(array('M' => 'M_BPRIVILEGE'), 'T.ACTION_DESC = M.BPRIVI_ID', array('M.BPRIVI_MODULEID','T.ACTION_FULLDESC'))
        ->where('M.BUSER_ID = ?', $auth->userIdLogin)
        // ->order('T.LOG_DATE DESC')
        ->limit(1);

      $dataTrans = $db->fetchAll($select);
      $cache->save($dataTrans, $cacheID);
      // print_r($dataTrans);die;
    }
    // echo '<pre>';
    // print_r($dataTrans);die;
    // print_r($dataTrans);die;




    $timeout = $auth->allSetting['b_timeoutafter'] * 1000;
  ?>

    <script type="text/javascript">
      var t = setTimeout("window.location = '/index/logout/session/1';", <?PHP echo $timeout; ?>);
    </script>
  <?php
  }
  ?>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
  <?php if (Zend_Auth::getInstance()->hasIdentity()) { ?>
    <?php
    $db = Zend_Db_Table::getDefaultAdapter();

    $select = $db->select()
      ->from('M_BUSER')
      ->where('BUSER_ID = ?', $auth->userIdLogin);

    $results = $select->query()->fetchAll();
    ?>
</head>

<body>
  <div id="loader"></div>

  <style type="text/css">
    .grid {
      position: relative;
    }

    .item {
      display: block;
      position: absolute;
      /*  width: 330px;
      height: 360px;*/
      margin: 5px;
      z-index: 1;
      background: #FFFFFF;
      /*color: #fff;*/
    }

    .actived {
      background-color: #004315;
      color: white;
    }

    .item.muuri-dragging {
      z-index: 3;
    }

    .item.muuri-releasing {
      z-index: 2;
    }

    .item.muuri-hidden {
      z-index: 0;
    }

    .item-content {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .Path-83 {

      position: fixed;
      bottom: 0;

      right: 0;
    }

    .Path-85 {

      position: fixed;
      bottom: 0;

      left: 0;
    }
  </style>
  <script type="text/javascript">
    $(document).ready(function() {

      var nice = $("#centerpage").niceScroll();

      var grid = new Muuri('.gridleft', {
        layout: {
          fillGaps: true
        },
        dragEnabled: true,
        dragSortPredicate: {
          threshold: 50,
          action: 'swap'
        }
      });
    });
  </script>


  <nav class="navbar navbar-expand-md bg-white fixed-top blur">
    <a href="/home/dashboard"><img class="navbar-brand hiddenprint" src="/assets/permatalayout/assets/newlayout/img/logosgo_small_2.png" width="150" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><strong><i class="fa fa-bars"></i></strong></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="nav navbar-nav navbar-all-text">
        <!-- Search Box -->
        <li class="nav-item search-box pt-3 mr-3 hiddenprint">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
              </div>
              <input type="text" class="form-control navbar-search-box" id="search-box" placeholder="Find by keywords" aria-describedby="search" size="35">
              <div id="suggesstion-box" style="position: fixed;top: 60px;margin-left: 26px;background-color: whitesmoke;width: 23%;"></div>
              <script type="text/javascript">
                $(document).ready(function() {
                  // $("#search-box").blur(
                  //      function (event) {
                  //          $("#suggesstion-box").hide();
                  //      }
                  //  );
                  $("#search-box").blur(
                    function(event) {
                      // $("#suggesstion-box").hide();
                    }
                  );
                  $("#search-box").keyup(function(e) {

                    if (e.which != 40) {
                      // alert();

                      if (e.which == 13) {
                        // alert();
                        if ($("#suggesstion-box li.actived").length != 0) {
                          // alert();
                          var storeTarget = $('#suggesstion-box').find("li.actived").next();
                          var storeTargeta = $('#suggesstion-box').find("a.actived").next();
                          // console.log(storeTargeta);

                          var url = $("#suggesstion-box li.actived").attr("data-url");
                          // alert(url);
                          if (url != '') {
                            window.location.href = url;
                          }


                          // $("#search-box").focus();
                        }
                      }

                      $("#suggesstion-box").show();
                      $.ajax({
                        url: "<?= $this->url(array('module' => 'home', 'controller' => 'searchmenu', 'action' => 'index'), null, true) ?>",
                        type: 'GET',
                        dataType: "html",
                        data: {
                          id: $("#search-box").val(),
                        },
                        success: function(data) {
                          $("#suggesstion-box").html(data);
                          // "#suggesstion-box"
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                          alert("Failed to get where column list, please try again");
                        }
                      });
                      $("#navi").val('0');
                    } else {

                      // alert();
                      if ($("#suggesstion-box li.actived").length != 0) {
                        // alert();
                        var storeTarget = $('#suggesstion-box').find("li.actived").next();
                        var storeTargeta = $('#suggesstion-box').find("a.actived").next();
                        // console.log(storeTargeta);
                        $("#suggesstion-box a.actived").removeClass("actived");
                        $("#suggesstion-box li.actived").removeClass("actived");

                        storeTarget.focus().addClass("actived");
                        storeTargeta.focus().addClass("actived");
                        $("#search-box").focus();
                      } else {
                        // alert();
                        $('#suggesstion-box').find("li:first").focus().addClass("actived");
                        $('#suggesstion-box').find("a:first").focus().addClass("actived");
                        $("#search-box").focus();
                      }
                      // document.getElementByClassName("li.searchmenu").focus();
                    }




                  });

                  $('.container-fluid').click(function() {
                    $("#suggesstion-box").hide();
                  });
                  $('.navbar').click(function() {
                    $("#suggesstion-box").hide();
                  });

                  //    var $listItems = $('li');

                  // $('#search-box').keydown(function(e)
                  // {
                  //     var key = e.keyCode,
                  //         $selected = $listItems.filter('.selected'),
                  //         $current;

                  //     if ( key != 40 && key != 38 ) return;

                  //     $listItems.removeClass('selected');

                  //     if ( key == 40 ) // Down key
                  //     {
                  //       // alert();
                  //         if ( ! $selected.length || $selected.is(':last-child') ) {
                  //             $current = $listItems.eq(0);
                  //         }
                  //         else {
                  //             $current = $selected.next();
                  //         }
                  //     }
                  //     else if ( key == 38 ) // Up key
                  //     {
                  //         if ( ! $selected.length || $selected.is(':first-child') ) {
                  //             $current = $listItems.last();
                  //         }
                  //         else {
                  //             $current = $selected.prev();
                  //         }
                  //     }
                  //     console.log($current);
                  //     $current.addClass('selected');
                  // });




                });
              </script>
            </div>
          </form>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <!-- Last Login -->
        <li class="nav-item sub-text pt-3 mr-3 hiddenprint" align="right">
          <strong><?= $this->language->_('Last Login') ?></strong>
          <br>
          <?php echo date("l d F Y H:i:s", strtotime($auth->lastLogin)); ?>
        </li>
        <!-- Username Dropdown -->


        <li class="nav-item dropdown username-drop mr-3 pt-1 hiddenprint" style="width: 15rem" align="right">
          <a href="#" class="nav-link dropdown-toggle" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="row no-gutters">
              <div class="col-11">
                <span class="main-text"><strong><?php echo $auth->userNameLogin; ?></strong></span><br />
                <span class="sub-text"><?php echo $auth->userBranch; ?></span>
              </div>
              <div class="col-1">
                <i class="fa fa-angle-down navbar-icons pt-2"></i>
              </div>
            </div>
          </a>
          <style type="text/css">
            /*li.selected {background:yellow}*/
            .selected {
              background: #ccc;
            }

            .limenu:hover {
              color: white !important;
              background: #368224;
            }
          </style>
          <div class="dropdown-menu" aria-labelledby="profileDropdown" style="margin-left:45px">
            <a class="dropdown-item" href="<?= $this->url(array('module' => 'changesemail', 'controller' => 'index', 'action' => 'index'), null, true) ?>"><?= $this->language->_('Change Email') ?></a>
            <a class="dropdown-item" href="<?= $this->url(array('module' => 'changespassword', 'controller' => 'index', 'action' => 'index'), null, true) ?>"><?= $this->language->_('Change Password') ?></a>
            <!-- <a class="dropdown-item" href="<?= $this->url(array('module' => 'language', 'controller' => 'change', 'action' => 'index'), null, true) ?>">Change Language</a> -->
            <a class="dropdown-item" href="<?= $this->url(array('module' => 'viewownactivity', 'controller' => 'back-end', 'action' => 'be-activity'), null, true) ?>"><?= $this->language->_('My Activity Report') ?></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<?= $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'logout'), null, true) ?>"><?= $this->language->_('Logout') ?></a>
          </div>
        </li>
        <!-- User Avatar -->
        <li class="nav-item py-2 user-avatar ml-2 mr-3 hiddenprint">
          <div class="ppicture">

            <?php foreach ($results as $key) {
              $path    = UPLOAD_PATH . '/image/backend/';
              $files = scandir($path);
              $files = array_diff(scandir($path), array('.', '..'));
              $dh = opendir($path);
              // $contents = file_get_contents($path.''. $row['IMAGE']);
              while ($file = readdir($dh)) {
                // print_r($file);echo '=';
                if ($file == $key['BUSER_IMAGE']) {
                  $imageData = base64_encode(file_get_contents($path . '' . $key['BUSER_IMAGE']));
                  $image = $path . '' . $key['BUSER_IMAGE'];
                  $src = 'data: ' . mime_content_type($image) . ';base64,' . $imageData;
                }
              }
            ?>
              <?php echo '<img alt="" class="image rounded-circle" style="width:45px;height:45px" src="' . $src . '"/>' ?>
            <?php  } ?>


            <div class="middle">
              <a data-toggle="modal" data-target="#ppictureModal"><b style="color:#3c9227; font-size:12px"><?= $this->language->_('Update') ?></b> </a>

            </div>
          </div>



        </li>

        <!-- Notification -->
        <li class="nav-item dropdown py-2 hiddenprint">
          <a href="#" class="nav-link dropdown-toggle" id="notifDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell navbar-icons"></i>
            <span class="badge badge-danger custom-badge">
              <?php if (!empty($auth->notifCount)) {
                echo $auth->notifCount;
                // print_r($auth->notif);
              } ?>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notifDropdown">
            <?php
            if (!empty($auth->notif)) {
              foreach ($auth->notif as $key => $value) {
                # code...

            ?>
                <a class="dropdown-item" href="#"><?php echo $value['SUBJECT']; ?></a>
                <div class="dropdown-divider"></div>
            <?php
              }
            }
            ?>

            <!-- <a class="dropdown-item" href="#">Test Notification</a> -->
          </div>
        </li>



        <li class="nav-item dropdown py-2 ml-3  mr-3 pt-1 hiddenprint">
          <a href="#" class="nav-link dropdown-toggle" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="row no-gutters">
              <div class="col-2">
                <span class="main-text"><img src="/assets/permatalayout/assets/newlayout/img/<?php echo $imgview; ?>" width="25"></span>
              </div>
              <div class="col-1">
                <i style="padding-left:2rem;" class="fa fa-angle-down navbar-icons pt-0 language-drop"></i>
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="<?php echo $link; ?>">
              <img src="/assets/permatalayout/assets/newlayout/img/<?php echo $imgselect; ?>" width="25">
              <?php echo $alt; ?>
            </a>

          </div>
        </li>

      </ul>
    </div>
  </nav>
  <div class="Path-85">
    <img src="/images/images/trigngle_kiri.png">
  </div>
  <div class="Path-83">
    <img src="/images/images/right_triangle.png">
  </div>
  <main role="main" class="container-fluid">

    <div class="row">
      <div class="col-sm-12 col-md-2 pr-3 blur">
        <div class="hiddenprint">
          <?php echo $this->render('newmenu.phtml'); ?>
        </div>
      </div>

      <div class="col-sm-12 col-md-8" style="background-color: white;" id="centerpage">
        <?php echo $this->layout()->content; ?>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="ppictureModal" role="dialog">
        <div class="modal-dialog modal-lg">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="pt-2 col-md-12">
              <div class="" align="rigth">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
            </div>
            <div class="row modal-body">

              <div align="center" class="pt-5 col-md-12">
                <div class="circle-2">
                  <?php

                  ?>
                  <?php foreach ($results as $key) {
                    $path    = UPLOAD_PATH . '/image/backend/';
                    $files = scandir($path);
                    $files = array_diff(scandir($path), array('.', '..'));
                    $dh = opendir($path);
                    // $contents = file_get_contents($path.''. $row['IMAGE']);
                    while ($file = readdir($dh)) {
                      // print_r($file);echo '=';
                      if ($file == $key['BUSER_IMAGE']) {
                        $imageData = base64_encode(file_get_contents($path . '' . $key['BUSER_IMAGE']));
                        $image = $path . '' . $key['BUSER_IMAGE'];
                        $src = 'data: ' . mime_content_type($image) . ';base64,' . $imageData;
                      }
                    }
                  ?>

                    <?php echo '<img alt="" class="rounded-circle" style="width:250px;height:250px" src="' . $src  . '"/>' ?>
                  <?php  } ?>
                  <div class="addimg" style="color:black">
                    <i class="fa fa-camera fa-3x"></i> <br>
                    <b class="textwhite"><?= $this->language->_('ADD PROFILE PICTURE') ?></b>
                  </div>
                </div>
              </div><!-- circle-1 -->
              <div class="col-md-12" align="right">
                <br><br><br><br>
                <div class="pb-3 col-sm-4 ">
                  <div class="mybtn">
                    <button data-toggle="modal" data-target="#demo-2" data-dismiss="modal" class="buttonnoact col-md-12"><?= $this->language->_('Take Photo') ?></button>
                    <form enctype="multipart/form-data" action="" method="POST">
                      <!-- <input type="file" class="buttonnoact col-md-12" name="upload_image" value="Upload Photo"> -->
                      <input class="buttonnoact col-md-12" type="button" id="my-button" value="Upload Photo">
                      <label for="" id="file-name"></label>
                      <input type="file" class="" name="uploaded_file" id="my-file">

                      <style media="screen">
                        #my-file {
                          visibility: hidden;
                        }
                      </style>
                      <script type="text/javascript">
                        $('#my-button').click(function() {
                          $('#my-file').click();
                        });
                        $("#my-file").change(function() {
                          $("#file-name").text(this.files[0].name);
                        });
                      </script>
                      <!-- <input type="file" name="uploaded_file"></input><br /> -->
                      <input class="btngreen hov" type="submit" value="Upload"></input>
                    </form>
                    <?PHP
                    if (!empty($_FILES['uploaded_file'])) {
                      $path = UPLOAD_PATH . '/image/backend/';
                      $path = $path . basename($_FILES['uploaded_file']['name']);
                      $filename = basename($_FILES['uploaded_file']['name']);

                      if (move_uploaded_file($_FILES['uploaded_file']['tmp_name'], $path)) {

                        $db = Zend_Db_Table::getDefaultAdapter();
                        $db->beginTransaction();
                        $param = array(
                          'BUSER_IMAGE'     => $filename
                        );


                        $where = array('BUSER_ID = ?' => $auth->userIdLogin);
                        $query = $db->update("M_BUSER", $param, $where);
                        $db->commit();
                        header("Refresh:0");
                      } else {
                        header("Refresh:0");
                      }
                    }





                    ?>
                    <!-- <input type="file" class="buttonnoact col-md-12" name="upload_image" id="upload_image" value="Upload Photo"> -->
                    <div id="uploaded_image"></div>
                  </div>
                </div>
              </div>
            </div>
            <div id="uploadimageModal" class="modal" role="dialog">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <div id="image_demo" style="width:300px; margin-top:30px"></div>
                      </div>

                    </div>

                    <div class="pt-3" align="center">
                      <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Cancel') ?></button>
                      <button type="button" id="" class="crop_image "><?= $this->language->_('Save') ?></button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- <script>
                $(document).ready(function(){

                  $image_crop = $('#image_demo').croppie({
                    enableExif: true,
                    viewport: {
                      width:300,
                      height:300,
                      type:'square' //circle
                    },
                    boundary:{
                      width:750,
                      height:300
                    }
                  });

                  $('#upload_image').on('change', function(){
                    var reader = new FileReader();
                    reader.onload = function (event) {
                      $image_crop.croppie('bind', {
                        url: event.target.result
                      }).then(function(){
                        console.log('jQuery bind complete');
                      });
                    }
                    reader.readAsDataURL(this.files[0]);
                    $('#uploadimageModal').modal('show');
                  });

                  $('.crop_image').click(function(event){
                    $image_crop.croppie('result', {
                      type: 'canvas',
                      size: 'viewport'
                    }).then(function(response){
                      $.ajax({
                        url:"upload.php",
                        type: "POST",
                        data:{"image": response},
                        success:function(data)
                        {
                          $('#uploadimageModal').modal('hide');
                          $('#uploaded_image').html(data);
                        }
                      });
                    })
                  });

                });
                </script> -->


          </div>

        </div>
      </div>

      <!-- [ Modal #2 ] -->
      <div class="modal fade" id="demo-2" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><i class="icon-xs-o-md"></i></button>
            <div class="modal-body">
              <form enctype="multipart/form-data" action="" method="POST">
                <div class="col-md-12" align="center">

                  <div id="my_camera"></div>
                  <div id="results"></div>



                </div>
                <br><br>
                <div class="" id="take1" align="center">
                  <input class="btngreen hov" type=button value="Take Photo" onClick="take_snapshot()">
                  <input type="hidden" name="image" class="image-tag">
                  <button type="button" class="btnwhite hov" data-toggle="modal" data-target="#ppictureModal" data-dismiss="modal"><?= $this->language->_('Cancel') ?></button>
                </div>
                <div style="display:none" id="take2" align="center">
                  <input class="btngreen hov" type=button value="Retake" onClick="configure()">
                  <input class="btngreen hov" type=submit value="Change Photo">
                  <button type="button" class="btnwhite hov" data-toggle="modal" data-target="#ppictureModal" data-dismiss="modal"><?= $this->language->_('Cancel') ?></button>
                </div>
                <?php
                if (!empty($_POST['image'])) {
                  $img = $_POST['image'];
                  $folderPath = UPLOAD_PATH . '/image/backend/';

                  $image_parts = explode(";base64,", $img);
                  $image_type_aux = explode("image/", $image_parts[0]);
                  $image_type = $image_type_aux[1];

                  $image_base64 = base64_decode($image_parts[1]);
                  $fileName = uniqid() . '.jpeg';
                  $file = $folderPath . $fileName;
                  file_put_contents($file, $image_base64);

                  $db = Zend_Db_Table::getDefaultAdapter();
                  $db->beginTransaction();
                  $param = array(
                    'BUSER_IMAGE'     => $fileName
                  );


                  $where = array('BUSER_ID = ?' => $auth->userIdLogin);
                  $query = $db->update("M_BUSER", $param, $where);
                  $db->commit();
                  header("Refresh:0");
                }
                ?>
              </form>

            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 blur">
        <div class="hiddenprint">
          <div class="gridleft">
            <div class="item row no-gutters content-box col-md-12" style="max-width: 87.667%!important">
              <div class="item-content">
                <div>
                  <span id="timeicon" class="pr-1"></span> <span style="font-size:0.75rem"><?= $this->language->_('Good') ?> <span id="greetings"></span> <strong><span id="cdcontainer">00:00:00</span></strong></span>
                  <hr />
                  <p style="text-align:center;"><strong><?php echo date("l, d F Y"); ?></strong></p>
                </div>
              </div>
            </div>
            <div class="item row no-gutters content-box col-md-12 mt-3" style="max-width: 87.667%!important">
              <div class="item-content">
                <h5><?= $this->language->_('Activities') ?></h5>
                <?php

                if (count($dataTrans) > 0) {
                  foreach ($dataTrans as $key => $row) {

                    if ($key <= 4) {
                ?>
                      <div class="activity-box">
                        <div class="activity-title"><?= $row['BPRIVI_MODULEID'] ?></div>
                        <div class="sub-text"><?php
                                              $desc_str = $row['ACTION_FULLDESC'];

                                              if (strlen($desc_str) > 55) {
                                                $desc_str = substr($row['ACTION_FULLDESC'], 0, 55) . '...';
                                              }
                                              echo $desc_str;
                                              ?></div>
                      </div>
                <?php
                    }
                  }
                } ?>
                <div style="text-align:right;"><a href="<?php echo $this->url(array('module' => 'viewownactivity', 'controller' => 'back-end', 'action' => 'be-activity'), null, true); ?>" class="detail-link"><?= $this->language->_('More detail') ?></a></div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </main><!-- /.container -->


<?php } else { ?>

  </head>

  <body>
    <div id="loader"></div>
    <style type="text/css">
      .Path-84 {


        height: 100%;
        position: fixed;

        top: 0;
      }

      .Path-83 {

        position: fixed;
        bottom: 0;

        right: 0;
      }
    </style>
    <div class="Path-84">
      <img src="/images/images/triangle_left.png" style="height: 100%">
    </div>
    <div class="Path-83">
      <img src="/images/images/city_icon.png">
    </div>

    <nav class="navbar navbar-expand-md fixed-top">
      <a href="/"><img class="navbar-brand ml-5" src="/assets/permatalayout/assets/newlayout/img/logosgo_small_2.png" width="150" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><strong><i class="fa fa-bars"></i></strong></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="nav navbar-nav ml-auto" style="margin-right: -127px;">
          <li class="nav-item mr-5">
            <a href="#" class="nav-link"><?= $this->language->_('NEWS') ?> & <?= $this->language->_('INFO') ?></a>
          </li>
          <li class="nav-item mr-5">
            <a href="#" class="nav-link"><?= $this->language->_('CONTACT US') ?></a>
          </li>
          <li class="nav-item mr-5">
            <a href="#" class="nav-link"><?= $this->language->_('NEED HELP') ?> ?</a>
          </li>
          <!-- <li>
              <a href="#">
                    <span class="main-text"><img src="/assets/permatalayout/assets/newlayout/img/<?php echo $imgview; ?>" width="25"></span>
                    <i class="fa fa-angle-down navbar-icons pt-0"></i>
              </a>
          </li> -->

          <!-- Language Login Page -->
          <li class="nav-item dropdown username-drop mr-3  hiddenprint">
            <a href="#" class="nav-link dropdown-toggle" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="row no-gutters">
                <div class="col-2">
                  <span class="main-text"><img src="/assets/permatalayout/assets/newlayout/img/<?php echo $imgview; ?>" width="25"></span>
                </div>
                <div class="col-1">
                  <i class="fa fa-angle-down navbar-icons pt-0"></i>
                </div>
              </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="profileDropdown" style="margin-left: -200px;">
              <a class="dropdown-item" href="<?php echo $link; ?>">
                <img src="/assets/permatalayout/assets/newlayout/img/<?php echo $imgselect; ?>" width="25">
                <?php echo $alt; ?>
              </a>

            </div>
          </li>
          <!--  <li class="nav-item dropdown mr-5">
            <a href="#" class="nav-link dropdown-toggle" id="languageDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="row no-gutters">
                <div class="col-11">
                  LANGUAGE
                </div>
                <div class="col-1">
                  <i class="fa fa-angle-down pl-1"></i>
                </div>
              </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="languageDrop">
              <a class="dropdown-item" href="#">Indonesia</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">English</a>
            </div>
          </li> -->
        </ul>
      </div>
    </nav>

    <main role="main" class="container" style="margin-top: 5%;">

      <?php if ($this->modulename == "pass") { ?>
        <div class="row mt-1">
          <div class="col-md-12">
            <?php echo $this->layout()->content; ?>
          </div>
        </div>
      <?php } else { ?>



        <div class="row mt-1" id="login-section">
          <div class="col-md-7" style="background-image: linear-gradient(white, #efedea);padding-left: 0px;padding-right: 0px;">
            <img src="/assets/permatalayout/assets/newlayout/img/espay1.png" style="" alt="frontbanner" class="img-fluid" />
          </div>

          <div class="col-md-5">
            <div class="login-box" style="height: 100%;">
              <?php echo $this->layout()->content; ?>
            </div>
          </div>
        </div>

      <? }
      ?>

      <div class="row" style="width: 100%">
        <div class="col-md-12 mt-1" align="right">
          <img src="/assets/permatalayout/assets/newlayout/img/gpn.jpg" width="80">&nbsp;&nbsp;<img src="/assets/permatalayout/assets/newlayout/img/verisign.jpg" width="80">
        </div>
      </div>

    </main><!-- /.container -->

    <footer class="footer">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-5" style="text-align: left">
            <span class="call-center"><?= $this->language->_('Call Center') ?> 02130052770</span>
          </div>
          <div class="col-md-7" style="text-align: left">
            <span class="footer-text">© 2016-2021 ESPAY. <?= $this->language->_('All rights reserved') ?></span>
          </div>
        </div>
      </div>
    </footer>
  <?php } ?>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script>
    function noticerefresh() {
      $.ajax({
        url: "/default/index/notifrefresh",
        type: 'GET',
        dataType: "html",

        success: function(data) {
          // alert(data);

          $('#notifcontent').html(data);
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert("Failed to get where column list, please try again");
        }
      });


      $.ajax({
        url: "/default/index/notifpop",
        type: 'GET',
        dataType: "html",

        success: function(data) {


          if (!("Notification" in window)) {
            alert("This browser does not support desktop notification");
          } else if (Notification.permission === "granted") {
            var o = JSON.parse(data);
            for (var key in o) {
              if (o.hasOwnProperty(key)) {
                var cont = o[key].CONTENT;
                var notification = new Notification(o[key].SUBJECT, {
                  icon: 'https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/notification-circle-blue-512.png',
                  body: cont
                });

                $.ajax({
                  url: "/default/index/updatenotif",
                  type: 'GET',
                  dataType: "html",
                  data: {
                    id: o[key].ID
                  },
                  success: function(data) {

                  },
                  error: function(xhr, ajaxOptions, thrownError) {

                  }
                });

              }
            }
          } else if (Notification.permission !== 'denied') {
            Notification.requestPermission(function(permission) {
              if (!('permission' in Notification)) {
                Notification.permission = permission;
              }

              if (permission === "granted") {
                var o = JSON.parse(data);
                for (var key in o) {
                  if (o.hasOwnProperty(key)) {
                    var cont = o[key].CONTENT;
                    var notification = new Notification(o[key].SUBJECT, {
                      icon: 'https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/notification-circle-blue-512.png',
                      body: cont
                    });

                    $.ajax({
                      url: "/default/index/updatenotif",
                      type: 'GET',
                      dataType: "html",
                      data: {
                        id: o[key].ID
                      },
                      success: function(data) {

                      },
                      error: function(xhr, ajaxOptions, thrownError) {

                      }
                    });

                  }
                }
              }
            });
          }

        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert("Failed to get where column list, please try again");
        }
      });

    }



    $(document).ready(function() {


      // setTimeout(function() {
      // noticerefresh();
      // }, 100);


      setTimeout(function() {
        fullyLoaded();
      }, 100);
      setNavigation();

      $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
        var $el = $(this);
        var $parent = $(this).offsetParent(".dropdown-menu");
        if (!$(this).next().hasClass('show')) {
          $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
        }
        var $subMenu = $(this).next(".dropdown-menu");
        $subMenu.toggleClass('show');

        $(this).find('i').toggleClass('fa-angle-up fa-angle-down');

        $(this).parent("li").toggleClass('show');

        $(this).parents('div.dropdown.show').on('hidden.bs.dropdown', function(e) {
          $('.dropdown-menu .show').removeClass("show");
        });

        if (!$parent.parent().hasClass('navbar-nav')) {
          $el.next().css({
            "top": $el[0].offsetTop,
            "left": $parent.outerWidth() - 4
          });
        }

        return false;
      });

      $('.dropdown button.dropdown-toggle').on('click', function(e) {
        $(this).find('i').toggleClass('fa-angle-up fa-angle-down');
      });
    });

    function fullyLoaded() {
      $("#loader").fadeOut("slow");
    }

    function setNavigation() {
      var path = window.location.pathname;
      path = path.replace(/\/$/, "");
      path = decodeURIComponent(path);
      $(".dropdown-menu li a").each(function() {
        var href = $(this).attr('href');
        if (path.substring(0, href.length) === href) {
          var name = $(this).text();
          var checklen = name.length;
          if (checklen > 15) {
            var name1 = name.substring(0, 15);
            var name2 = name1.trim();
            var menuname = name2 + "...";
          } else {
            menuname = name;
          }
          $('#menu-name').text(menuname);
        }
      });
    }
  </script>

  <script language="JavaScript">
    //   $('#demo-2').on('shown.bs.modal', function () {
    //
    // });
    function configure() {
      Webcam.set({
        width: 480,
        height: 400,
        crop_width: 400,
        crop_height: 400,
        image_format: 'jpeg',
        jpeg_quality: 90
      });
      $('#take1').show();
      $('#take2').hide();
      $('#my_camera').show();
      $('#results').hide();
      Webcam.attach('#my_camera');
    }
    $('#demo-2').on('shown.bs.modal', function(e) {
      Webcam.set({
        width: 480,
        height: 400,
        crop_width: 400,
        crop_height: 400,
        force_flash: false,
        flip_horiz: true,
        image_format: 'jpeg',
        jpeg_quality: 90
      });
      Webcam.attach('#my_camera');
    })


    // A button for taking snaps


    // preload shutter audio clip
    // var shutter = new Audio();
    // shutter.autoplay = false;
    // shutter.src = navigator.userAgent.match(/Firefox/) ? 'shutter.ogg' : 'shutter.mp3';

    function take_snapshot() {
      // play sound effect
      // shutter.play();

      // take snapshot and get image data
      Webcam.snap(function(data_uri) {
        $(".image-tag").val(data_uri);
        document.getElementById('results').innerHTML = '<img src="' + data_uri + '"/>';
      });
      $('#take1').hide();
      $('#take2').show();
      $('#my_camera').hide();
      $('#results').show();


    }




    function saveSnap() {
      // Get base64 value from <img id='imageprev'> source
      var base64image = document.getElementById("imageprev").src;

      Webcam.upload(base64image, 'upload.php', function(code, text) {
        console.log('Save successfully');
        //console.log(text);
      });

    }

    $('#demo-2').on('hidden.bs.modal', function() {
      Webcam.reset();
    });
  </script>





  </body>

</html>