<link rel="stylesheet" type="text/css" href="/tokenfield/bootstrap-tokenfield.min.css">
<link rel="stylesheet" type="text/css" href="/js/jqueryui/jquery-ui.min.css">
<script src="/tokenfield/bootstrap-tokenfield.js"></script>
<script src="/js/jqueryui/jquery-ui.min.js"></script>
<span class="gridleft"></span>
<style>
  .amsify-list-item {
    color: #000000 !important;
  }
</style>

<script>
  $(document).ready(function() {
    var listRow = <?= count($this->listgroup) ?>;
    var tableUsr = document.getElementById("grouptable");
    var removebtn = tableUsr.rows[listRow].cells[3].innerHTML
    if (removebtn) {
      for (var c = 1; c < listRow; c++) {
        tableUsr.rows[c].cells[3].innerHTML = "";
      }
    }
  })
</script>


<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?php echo $this->language->_('Customer Management'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span><?php echo $this->language->_('Customer Setup'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span class="valas"><?php echo $this->language->_('Repair Approval Matrix'); ?></span>
        </li>
      </ul>
    </div>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="/css/amsify.suggestags.css">
<script type="text/javascript" src="/js/jquery.amsify.suggestags.js"></script>


<?php
$sugest = '';
$suggest = array();
foreach ($this->dataact as $key => $row) {
  if (!empty($this->data[$key + 1])) {
    $sugest .= $row['USER_ID'] . ',';
    $suggest[] = $row['USER_ID'];
  } else {
    $sugest .= $row['USER_ID'];
    $suggest[] = $row['USER_ID'];
  }
}
$datasg = explode(',', $this->splist);
$diff_result = array_diff($suggest, $datasg);

// if (!empty($this->listgroup)) {
//   foreach ($this->listgroup as $key => $value) {
//     $valnew = explode(',', $value['USERLIST']);

//     $diff_result = array_diff($diff_result, $valnew);
//   }
// }

$diff_result = $suggest;


?>

<input type="hidden" id="sg" value="<?php foreach ($diff_result as $val) echo $val . ','; ?> ">

<?php
require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
$rand = $this->token;

$encrypted_custid = $AESMYSQL->encrypt($this->cust_id, $rand);
$enccustid = urlencode($encrypted_custid);

$buttonGroup = $this->url(array('module' => $this->modulename, 'controller' => 'repairapprovalgroup', 'action' => 'index', 'change_id' => $this->change_id), null, true);
$buttonPolicy = $this->url(array('module' => $this->modulename, 'controller' => 'repairapprovalpolicy', 'action' => 'index', 'change_id' => $this->change_id), null, true);
?>

<?php if ($this->error) { ?>
  <div class="alert alert-danger" style="margin-top: 23px;"><?php echo $this->language->_($this->error_msg); ?></div>

<?php } ?>

<?php if ($this->error2) { ?>
  <div class="alert alert-danger" style="margin-top: 23px;"><?php echo $this->language->_($this->error_msg2); ?></div>

<?php } ?>

<div style="padding: 20px 0px;" class="container">
  <div class="row">
    <div style="text-align:center; padding: 0;" class="col-sm-6">
      <button style="width: 50%; float: right;cursor: default;" type="button" class="btngreen" onclick="location.href='<?php echo $buttonGroup; ?>'"><?php echo $this->language->_('Group') ?></button>
    </div>
    <div style="text-align:center; padding: 0;" class="col-sm-6">
      <button style="width: 50%; float: left;cursor: default;" type="button" class="btnwhite" onclick="location.href='<?php echo $buttonPolicy; ?>'" disabled><?php echo $this->language->_('Policy') ?></button>
    </div>
  </div>
</div>


<div style="padding: 10px 0px;" class="container">
  <div class="row">
    <div style="text-align:center; padding: 0;" class="col-sm-12">
      <h6><?= $this->language->_('Manage Approver Group User') ?></h6>
    </div>
  </div>
</div>

<div align="center">
  <h6><strong><?php echo $this->cust_name ?> (<?php echo $this->cust_id ?>) </strong></h6>
</div>

<form id="regForm" name="Form" method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => 'repairapprovalgroup', 'action' => 'index', 'changes_id' => $this->change_id), null, true) ?>">
  <!-- counter untuk alphabet -->
  <?php
  $count = count($this->listgroup);
  if (empty($count)) {
    $total = '-1';
  } else {
    $total = $count - 2;
  }
  ?>
  <input type="number" id="count" value="<?php echo $total ?>" style="visibility:hidden; ;">

  <?php
  echo $this->formHidden('cust_id', $enccustid);
  ?>
  <!-- counter untuk insert row -->
  <?php
  $count = count($this->listgroup);
  if (empty($count)) {
    $total = '1';
  } else {
    $total = $count;
  }
  ?>
  <input type="number" id="count2" value="<?php echo $total ?>" style="visibility: hidden;">

  <!-- counter untuk delete btndel -->
  <input type="number" id="countdel" value="0" style="visibility:hidden; ;">

  <div class="table-responsive">
    <table width="90%" align="center" id="grouptable" class="table table-sm">
      <tr style="background-color: #0b549f; color: white;">
        <th valign="top">Group ID</th>
        <th valign="top" width="15%">Group Name</th>
        <th valign="top">User</th>
        <th valign="top">Action</th>
      </tr>
      <tr>
        <td style="padding-top: 10px;vertical-align: middle;">SG
          <?php
          echo $this->formHidden('userlist', '', array('id' => 'userlist'));
          ?>

        </td>
        <td style="padding-top: 10px;vertical-align: bottom;"><i class=" fas fa-users" style="margin-right: 3%; color: grey; font-size: 20px;"> </i><input class="homeCardText matrixnew" style="width: 85%;" type="text" name="sg_group" required='required' placeholder="SPECIAL GROUP" value="Special Group" readonly></td>
        <td style="padding-top: 10px;color:black;vertical-align: bottom;"><i class="fas fa-user" style="margin-right: 3%; color: grey; font-size: 20px;display: none"> </i>
          <?php if ($this->error || $this->error2) { ?>

            <input class="homeCardText matrixnew" type="text" name="sg_user1" placeholder="User" value="<?php echo preg_replace('/\s+/', '', $this->splist); ?>" style="width: 100%;" readonly>

          <?php } else { ?>
            <input class="homeCardText matrixnew" type="text" name="sg_user" id="sg_user" placeholder="User" value="<?php echo preg_replace('/\s+/', '', $this->splist); ?>" style="width: 85%;">

          <?php } ?>

        </td>
        <td style="padding-top: 10px;vertical-align: bottom;"></td>
      </tr>
      <?php
      foreach ($this->listgroup as $key => $value) {

        $sg = 'S_' . $this->cust_id;
        if ($value['GROUP_USER_ID'] != $sg) {
          $group = explode('_', $value['GROUP_USER_ID']);
          $alphabet = array(1 => 'A', 2 => 'B', 3 => 'C', 4 => 'D', 5 => 'E', 6 => 'F', 7 => 'G', 8 => 'H', 9 => 'I', 10 => 'J', 11 => 'K', 12 => 'L', 13 => 'M', 14 => 'N', 15 => 'O', 16 => 'P', 17 => 'Q', 18 => 'R', 19 => 'S', 20 => 'T', 21 => 'U', 22 => 'V', 23 => 'W', 24 => 'X', 25 => 'Y', 26 => 'Z');

          echo '<tr><td style="padding-top: 10px;border-top: none;vertical-align: middle;"><input type="hidden" name="groupid[]"" value="' . $alphabet[(int)$group[2]] . '">' . $alphabet[(int)$group[2]] . '</td>'; ?>

          <td style="padding-top: 10px;color:black;border-top: none;vertical-align: bottom;"><i class="fas fa-users" style="margin-right: 3%; color: grey; font-size: 20px;"> </i><input class="homeCardText matrixnew" style="width: 85%;" type="text" required="required" name="group[]" value="<?= $value['GROUP_NAME'] ?>" <?php if ($this->error || $this->error2) { ?> readonly <?php } ?>></td>

          <td style="padding-top: 10px; color:black;border-top: none;vertical-align: bottom;" colspan="1"><i class="fas fa-user" style="margin-right: 3%; color: grey; font-size: 20px;display: none"> </i>
            <?php if ($this->error || $this->error2) { ?>

              <input class="homeCardText matrixnew" type="text" name="user[]" required="required" placeholder="User" value="<?= $value['USERLIST']; ?>" style="width: 100%;" readonly>

            <?php } else { ?>

              <input class="homeCardText matrixnew" type="text" name="user[]" id="user<?= $alphabet[$key]; ?>" required="required" placeholder="User" value="<?= $value['USERLIST']; ?>" style="width: 85%;">

            <?php } ?>


          </td>

          <?php
          if (!empty($this->listgroup[$key + 2])) {
            echo '<td style="padding-top: 10px; color:black;border-top: none;vertical-align:bottom;"></td>';
          } else { ?>

            <td align="center" style="vertical-align:bottom;color:black;border-top: none;"><button <?php if ($this->error || $this->error2) {
                                                                                                      echo 'style="display:none !important;"';
                                                                                                    } ?> type="button" class="btn btn-sm btn-danger" id="btnremove"><i class="fa fa-times"></i></button></td>

          <?php
          }
          ?>
          <script type="text/javascript">
            $(document).ready(function() {

              var alphabet = ["", "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"];
              var key = alphabet['<?php echo $key ?>'];
              $('#user' + key).tokenfield({
                autocomplete: {
                  source: getdata(),
                  delay: 100
                },
              });

              $('#user' + key).on('tokenfield:createtoken', function(e) {
                var existingTokens = getalltoken();
                $.each(existingTokens, function(index, token) {
                  if (token.value === e.attrs.value)
                    e.preventDefault();
                });
              });

              initCheckUser();

            });
          </script>
      <?php
          echo "</tr>";
        }
      }

      ?>
    </table>
    <table width="100%" align="center">
      <tbody>
        <tr>
          <?php if ($this->error || $this->error2) { ?>
            <td></td>
          <?php } else { ?>
            <td colspan="4" style="text-align:right"><span onclick="incrementValue()" style="color:#007bff;cursor: pointer;text-decoration: underline;">+new group</span></td>
          <?php } ?>
        </tr>
      </tbody>
    </table>
    <input type="hidden" name="counterList" id="counterList" value="0">
    <br>
    <center>
      <?php echo $this->formSubmit('submit', $this->language->_('Next'), array('class' => 'btngreen hov', 'onclick' => 'save(this.form);')); ?>&nbsp;
    </center>
  </div>
</form>

<hr width="100%">
<h7 class="greyFont">&nbsp;<span>*</span>SG is a Special Group (Allow to overwrite all others approver policy)</h7>

<script type="text/javascript">
  $(document).ready(function() {
    // improvement temuan to juni
    $(".tokenfield").addClass('px-2').css('padding-top', '6px')

    $(".tokenfield .token-input").on('keydown', function(event) {
      if (event.keyCode == 32 || event.keyCode == 9) {
        event.preventDefault()
        return
      }
    })

    var existingTokens = getalltoken();
    var suggestArr = getdata();

    // $(".tokenfield").on('tokenfield:createtoken', function(event) {
    //   let valueInput = event.attrs.value;

    //   let findSuggest = $.inArray(valueInput, suggestArr)

    //   if (findSuggest < 0) {
    //     event.preventDefault()
    //   } else {
    //     let existValue = existingTokens.map(function(obj) {
    //       return obj.value;
    //     })

    //     let findExist = $.inArray(valueInput, existValue)
    //     if (findExist == -1) { // jika data kosong
    //       existingTokens.push({
    //         'value': valueInput
    //       }) // masukan ke array
    //     } else if (findExist != -1) { // jika tidak kosong / ada
    //       event.preventDefault() // stop operasi
    //       alert('User ' + valueInput + ' Sudah terinput!')
    //     }
    //   }
    // });

    $(".tokenfield").on('tokenfield:removedtoken', function(event) {
      let valueInput = event.attrs.value;

      existingTokens = existingTokens.filter(function(obj) {
        return obj.value !== valueInput
      })

      suggestArr.push(valueInput)

      console.log($(this))

    });

    // improvement temuan to juni

    $("table").on('click', '#btnremove', function() {
      $(this).parent().parent().remove()
      var count = document.getElementById("count").value;
      var count2 = document.getElementById("count2").value;
      var total = count - 1;
      $('#count').val(total);
      var total = count2 - 1;
      $('#count2').val(total);

      // temuan to juni
      let table = $('#grouptable tr')

      if (table.length > 2) {
        $("#grouptable tr:last").find('td:last').html(`<button type='button' class='btn btn-sm btn-danger' id='btnremove'><i class='fa fa-times'></i></button>`);
      }

      initCheckUser();
    });

  });

  function arrayRemove(arr, value) {
    return arr.filter(function(ele) {
      return ele != value;
    });

  }

  function initCheckUser() {
    $(".tokenfield").off("tokenfield:createtoken");
    $(".tokenfield").on("tokenfield:createtoken", function(event) {
      $(this).find(".token-input").val("");
      if ($("#sg").val().split(",").includes(`${event.attrs.value}`)) {
        $.each($(".tokenfield > input[placeholder='User'].matrixnew"), function(index, token) {
          var existingTokens = $(`#${token.id}`).tokenfield("getTokens");

          $.each(existingTokens, function(index, token) {
            if (token.value === event.attrs.value) {
              alert("User sudah terpilih");
              event.preventDefault();
            }
          });
        });
      } else {
        alert("User tidak ditemukan");
        event.preventDefault();
      }
    });

  }

  function getalltoken() {
    var suggestions = [
      []
    ];
    var sgUser = $('#sg_user').tokenfield('getTokens');
    var counterList = $('#counterList').val();

    <?php

    foreach ($this->listgroup as $key => $val) { ?>

      var sg<?= $key ?> = $('#user<?= $key ?>').tokenfield('getTokens');

      suggestions = suggestions.concat(sg<?= $key ?>)

    <?php } ?>

    suggestions = suggestions.concat(sgUser)

    if (counterList != "0") {
      var alphabet = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"];
      var i = document.getElementById("count2").value;

      for (var k = 0; k <= i; k++) {
        var numb = (+k) - 2;
        if (numb > 0) {
          var arraylist = $('#user' + alphabet[numb]).tokenfield('getTokens')
          suggestions = suggestions.concat(arraylist)
        }
      }

    }
    return suggestions
  }

  function getdata() {
    return (document.getElementById('sg').value).split(',');
  }


  let bool = '<?php echo $sugest ?>'.split(',');
  var suggest = JSON.parse('<?php echo json_encode($suggest) ?>');

  $('#sg_user').tokenfield({
    autocomplete: {
      source: getdata(),
      delay: 100
    },
  });

  $('#sg_user').on('tokenfield:createtoken', function(e) {
    var existingTokens = getalltoken();
    $.each(existingTokens, function(index, token) {
      if (token.value === e.attrs.value)
        e.preventDefault();
    });
  });


  function removeParent(elem) {
    var parentname = elem.parentNode.parentNode.id;
    document.getElementById(parentname).remove();
    $("#" + parentname).remove();
  }
</script>

<script>
  function save(form) {
    var warning = 0;
    var total = document.getElementById("count2").value;
    var alphabet = ["", "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"];
    var i;
    for (i = 1; i < total; i++) {
      var tag = 'user' + alphabet[i];
      var countdata = document.getElementById(tag).value;
      if (countdata == '') {
        var warning = 1;

        break;
      }
    }

    if (warning == 1) {
      alert('User selain Special Group wajib di isi');
    } else {
      return false;
    }


  }


  function incrementValue() {
    var alphabet = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"];

    var cList = $('#counterList').val()

    $('#counterList').val(1 + (+cList))

    if (document.getElementById("count").value < 25) {
      document.getElementById('count').stepUp(1);
      document.getElementById('count2').stepUp(1);


      var count = document.getElementById("count").value;
      var i = document.getElementById("count2").value;
      if (i != 1) {
        var table = document.getElementById("grouptable");
        var row = table.insertRow(i);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        table.rows[i - 1].cells[3].innerHTML = "";

        cell1.innerHTML = alphabet[count];
        cell1.style.paddingTop = '10px';
        cell1.style.border = 'none';
        cell1.style.verticalAlign = 'middle';
        cell2.innerHTML = "<i class='fas fa-users' style='margin-right: 3%; color: grey; font-size: 20px;'></i><input type='hidden' name='groupid[]' value='" + alphabet[i - 2] + "'><input style='width: 85%;' class='matrixnew' value='Group " + alphabet[i - 2] + "' type='text' name='group[]' required='required' placeholder='Group " + alphabet[i - 2] + "'>";
        cell2.style.paddingTop = '10px';
        cell2.style.border = 'none';
        cell2.style.verticalAlign = 'bottom';

        cell3.innerHTML = " </i><input style='width: 85%;' class='matrixnew' type='text' name='user[]' id='user" + alphabet[i - 2] + "' required='required' placeholder='User " + alphabet[i - 2] + "'>";
        cell3.style.paddingTop = '10px';
        cell3.style.border = 'none';
        cell3.style.verticalAlign = 'bottom';

        cell4.innerHTML = "<button type='button' class='btn btn-sm btn-danger' id='btnremove'><i class='fa fa-times'></i></button>";
        cell4.style.paddingTop = '10px';
        cell4.style.border = 'none';
        cell4.style.verticalAlign = 'bottom';

        var delbtncheck = "<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow()'><i class='fa fa-times'></i></button>";

        $('#user' + alphabet[count]).tokenfield({
          autocomplete: {
            source: getdata(),
            delay: 100
          }
        });

        $('#user' + alphabet[count]).on('tokenfield:createtoken', function(e) {
          var existingTokens = getalltoken();
          $.each(existingTokens, function(index, token) {
            if (token.value === e.attrs.value)
              e.preventDefault();
          });
        });

      }
    }

    initCheckUser();
  }

  function removerow() {
    if (document.getElementById("count").value >= 0) {
      var table = document.getElementById("grouptable");
      var ibefore = document.getElementById("count2").value;
      table.deleteRow(ibefore);

      document.getElementById('count').stepDown(1);
      document.getElementById('count2').stepDown(1);
      document.getElementById('countdel').stepDown(1);

      var iafter = document.getElementById("count2").value;
      console.log(iafter)
      if (iafter != 1) {
        table.rows[iafter].cells[3].innerHTML = "<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow()'><i class='fa fa-times'></i></button>";
      }
    }
  }
</script>
<script type="text/javascript">
  function modalreview() {
    $("#mymodalreview").modal();
  }
</script>

<!-- 
<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?php echo $this->language->_('Customer Management'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span><?php echo $this->language->_('Customer Setup'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span class="valas"><?php echo $this->language->_('Repair Approval Matrix'); ?></span>
        </li>
      </ul>
    </div>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="/css/amsify.suggestags.css">
<script type="text/javascript" src="/js/jquery.amsify.suggestags.js"></script>


<?php
$sugest = '';
$suggest = array();
foreach ($this->dataact as $key => $row) {
  if (!empty($this->data[$key + 1])) {
    $sugest .= $row['USER_ID'] . ',';
    $suggest[] = $row['USER_ID'];
  } else {
    $sugest .= $row['USER_ID'];
    $suggest[] = $row['USER_ID'];
  }
}
?>
<input type="hidden" id="sg" value="<?php foreach ($suggest as $val) echo $val . ','; ?> ">

<h5><?= $this->language->_('Approval Matrix') ?></h5>
<h6 class="greyFont"><?= $this->language->_('Manage Group, User, Policy, And Approval Schema') ?></h6>

<?php
require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
$rand = $this->token;

$encrypted_custid = $AESMYSQL->encrypt($this->cust_id, $rand);
$enccustid = urlencode($encrypted_custid);

$buttonGroup = $this->url(array('module' => $this->modulename, 'controller' => 'repairapprovalgroup', 'action' => 'index', 'change_id' => $this->change_id), null, true);
$buttonPolicy = $this->url(array('module' => $this->modulename, 'controller' => 'repairapprovalpolicy', 'action' => 'index', 'change_id' => $this->change_id), null, true);
?>

<div style="padding: 20px 0px;" class="container">
  <div class="row">
    <div style="text-align:center; padding: 0;" class="col-sm-6">
      <button style="width: 50%; float: right;" type="button" class="btngreen hov" onclick="location.href='<?php echo $buttonGroup; ?>'"><?php echo $this->language->_('Group') ?></button>
    </div>
    <div style="text-align:center; padding: 0;" class="col-sm-6">
      <button style="width: 50%; float: left;" type="button" class="btnwhite hov" onclick="location.href='<?php echo $buttonPolicy; ?>'" disabled><?php echo $this->language->_('Policy') ?></button>
    </div>
  </div>
</div>


<div style="padding: 20px 0px;" class="container">
  <div class="row">
    <div style="text-align:center; padding: 0;" class="col-sm-12">
      <h6><?= $this->language->_('Manage Approver Group User') ?></h6>
    </div>
  </div>
</div>
<br>
<br>

<div align="center">
  <h7><strong><?php echo $this->cust_id ?> | <?php echo $this->cust_name ?></strong></h7>
</div>

<form id="regForm" name="Form" method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => 'repairapprovalgroup', 'action' => 'index', 'changes_id' => $this->change_id), null, true) ?>">

  <?php
  $count = count($this->listgroup);
  if (empty($count)) {
    $total = '-1';
  } else {
    $total = $count - 2;
  }
  ?>
  <input type="number" id="count" value="<?php echo $total ?>" style="visibility:hidden; ;">

  <?php
  echo $this->formHidden('cust_id', $enccustid);
  ?>
  <?php
  $count = count($this->listgroup);
  // print_r($count);die;
  if (empty($count)) {
    $total = '1';
  } else {
    $total = $count;
  }
  ?>
  <input type="number" id="count2" value="<?php echo $total ?>" style="visibility: hidden;">

  <input type="number" id="countdel" value="0" style="visibility:hidden; ;">

  <div class="table-responsive">
    <table width="90%" align="center" id="grouptable" class="table table-sm">
      <tr>
        <th valign="top">Group Id</th>
        <th valign="top">Group Name</th>
        <th valign="top">User</th>
        <th valign="top">Action</th>
      </tr>
      <tr>
        <td style="padding-top: 10px;">SG
          <?php
          echo $this->formHidden('userlist', '', array('id' => 'userlist'));
          ?>

        </td>
        <td style="padding-top: 10px;"><i class="fas fa-users" style="margin-right: 3%; color: grey; font-size: 20px;"> </i><input style="border: 0; outline: 0; background: transparent; border-bottom: 0px solid black; width: 85%;" type="text" name="sg_group" required='required' placeholder="SPECIAL GROUP" value="special group" readonly></td>
        <td style="padding-top: 10px;"><i class="fas fa-user" style="margin-right: 3%; color: grey; font-size: 20px;display: none"> </i>
          <input type="text" name="sg_user" id="sg_user" placeholder="User" value="<?php echo ltrim($this->splist); ?>" style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;">
          <?php  ?>
          </textarea>
        </td>
        <td style="padding-top: 10px;"></td>
      </tr>
      <?php
      foreach ($this->listgroup as $key => $value) {

        $sg = 'S_' . $this->cust_id;
        if ($value['GROUP_USER_ID'] != $sg) {
          $group = explode('_', $value['GROUP_USER_ID']);
          $alphabet = array(1 => 'A', 2 => 'B', 3 => 'C', 4 => 'D', 5 => 'E', 6 => 'F', 7 => 'G', 8 => 'H', 9 => 'I', 10 => 'J', 11 => 'K', 12 => 'L', 13 => 'M', 14 => 'N', 15 => 'O', 16 => 'P', 17 => 'Q', 18 => 'R', 19 => 'S', 20 => 'T', 21 => 'U', 22 => 'V', 23 => 'W', 24 => 'X', 25 => 'Y', 26 => 'Z');

          echo '<tr><td style="padding-top: 10px;"><input type="hidden" name="groupid[]"" value="' . $alphabet[(int)$group[2]] . '">' . $alphabet[(int)$group[2]] . '</td>';
          echo '<td style="padding-top: 10px;"><i class="fas fa-users" style="margin-right: 3%; color: grey; font-size: 20px;"> </i><input style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;" type="text" required="required"  name="group[]"" value="' . $value['GROUP_NAME'] . '" ></td>';
          echo '<td style="padding-top: 10px;" colspan="1"><i class="fas fa-user" style="margin-right: 3%; color: grey; font-size: 20px;display: none"> </i>
              <input  type="text" name="user[]" id="user' . $key . '" required="required" placeholder="User" value="' . $value['USERLIST'] . '" style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;"></td>';
          if ((count($this->listgroup) - 1) != $key) {
            echo '<td></td>';
          } else {
            echo '<td><button type="button" class="btn btn-sm btn-danger btnremove" id="btnremove" ><i class="fa fa-times"></i></button></td>';
          }
      ?>
          <script type="text/javascript">
            $(document).ready(function() {
              var key = '<?php echo $key ?>';
              $("input[id='user" + key + "']").amsifySuggestags({
                type: 'amsify',
                suggestions: suggest,
                afterAdd: function(value) {
                  //after add
                  suggest = arrayRemove(suggest, value);
                  $('#sg').val(suggest);

                },
                afterRemove: function(value) {
                  suggest.push(value);
                  $('#sg').val(suggest);
                }
              });
            });
          </script>
      <?php
          echo "</tr>";
        }
      }

      ?>
    </table>
    <br>
    <center>
      <?php echo $this->formButton('back', $this->language->_('Back'), array('onclick' => 'location.href=\'' . $this->backURL . '\'', 'class' => 'btnwhite hov')); ?>
      <button style="" onclick="incrementValue()" type="button" class="btngreen hov"><i class="fa fa-plus"></i>&nbsp;<?php echo $this->language->_('Add New') ?></button>
      <?php echo $this->formSubmit('submit', $this->language->_('Next'), array('class' => 'btngreen hov', 'onclick' => 'save(event);')); ?>&nbsp;
    </center>
  </div>
</form>

<hr width="100%">
<h7 class="greyFont">&nbsp;<span>*</span>SG is a Special Group (Allow to overwrite all others approver policy)</h7>



<script type="text/javascript">
  $(document).ready(function() {

    $("table").on('click', '.btnremove', function() {
      $(this).closest("tr").remove();
      var count = document.getElementById("count").value;
      var count2 = document.getElementById("count2").value;
      var total = count - 1;
      $('#count').val(total);
      var total = count2 - 1;
      $('#count2').val(total);
      $("#grouptable tr").each(function(index, item) {
        if (index > 1) {
          $(this).find('td:last').html(`<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow()'><i class='fa fa-times'></i></button>`);
        }
      })
    });

  });

  function arrayRemove(arr, value) {

    return arr.filter(function(ele) {
      return ele != value;
    });

  }


  let bool = '<?php echo $sugest ?>'.split(',');
  let suggest = JSON.parse('<?php echo json_encode($suggest) ?>');

  $('input[name="sg_user"]').amsifySuggestags({
    type: 'amsify',
    suggestions: suggest,
    afterAdd: function(value) {
      suggest = arrayRemove(suggest, value);
      $('#sg').val(suggest);

    },
    afterRemove: function(value) {
      suggest.push(value);
      $('#sg').val(suggest);
    }
  });

  function removeParent(elem) {
    var parentname = elem.parentNode.parentNode.id;
    document.getElementById(parentname).remove();
    $("#" + parentname).remove();
  }
</script>

<script>
  function save(event) {
    var warning = 0;
    var sgdata = document.getElementById("sg_user").value;
    
    $(`input[type="text"][id^="user"]`).each(function(index, item) {
      if (item.value == '') {
        event.preventDefault();
        alert(`User selain Special Group wajib di isi`);
        warning = 1;
        return false;
      } else {
        if(warning > 0) {
          warning = 0;
        }
      }
    })

    if (warning < 1) {
      $('#regForm').trigger('submit')
    }

  }


  function incrementValue() {
    let validate = 0;
    $("#grouptable tr").each(function(index, item) {
      if (index > 1) {
        if($("#grouptable tr:last").find('td')[2].innerText == '') {
          alert('Isi terlebih dahulu yang kosong');
          validate = 1;
          return false;
        } else {
          if (validate > 0) {
            validate = 0;
          }
        }
      }
    })

    if (validate < 1) {

      var alphabet = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"];
  
      if (document.getElementById("count").value < 25) {
        document.getElementById('count').stepUp(1);
        document.getElementById('count2').stepUp(1);
  
  
        var count = document.getElementById("count").value;
        var i = document.getElementById("count2").value;
        if (i != 1) {
          var table = document.getElementById("grouptable");
          var row = table.insertRow(i);
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          var cell3 = row.insertCell(2);
          var cell4 = row.insertCell(3);
          table.rows[i - 1].cells[3].innerHTML = "";
  
          cell1.innerHTML = alphabet[count];
          cell2.innerHTML = "<i class='fas fa-users' style='margin-right: 3%; color: grey; font-size: 20px;'></i><input type='hidden' name='groupid[]' value='" + alphabet[i - 2] + "'><input style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;' value='Group " + alphabet[i - 2] + "' type='text' name='group[]' required='required' placeholder='Group " + alphabet[i - 2] + "'>";
  
          cell3.innerHTML = " </i><input style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;' type='text' name='user[]' id='user" + alphabet[i - 2] + "' required='required' placeholder='User " + alphabet[i - 2] + "'>";
  
          cell4.innerHTML = "<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow()'><i class='fa fa-times'></i></button>";
  
          document.getElementById('countdel').stepUp(1);
          var j = document.getElementById("countdel").value;
  
          var delbtncheck = "<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow()'><i class='fa fa-times'></i></button>";
  
  
          $("input[id='user" + alphabet[count] + "']").amsifySuggestags({
            type: 'amsify',
            suggestions: suggest,
            afterAdd: function(value) {
  
              suggest = arrayRemove(suggest, value);
              $('#sg').val(suggest);
            },
            afterRemove: function(value) {
              suggest.push(value);
              $('#sg').val(suggest);
            }
          });
  
        }
  
  
      }
    }

  }

  function removerow() {
    if (document.getElementById("count").value >= 0) {
      var table = document.getElementById("grouptable");
      var ibefore = document.getElementById("count2").value;
      table.deleteRow(ibefore);

      document.getElementById('count').stepDown(1);
      document.getElementById('count2').stepDown(1);
      document.getElementById('countdel').stepDown(1);

      var iafter = document.getElementById("count2").value;
      console.log(iafter)
      if (iafter != 1) {
        table.rows[iafter].cells[3].innerHTML = "<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow()'><i class='fa fa-times'></i></button>";
      }
    }
  }
</script> -->