

.errmsg {
	font-weight:bold;
	font-size:11px;
	color:#FF0000
}

.successmsg {
	font-weight:bold;
	color:#99C;
	font-size:11px;

}

.cardtitle {
	padding-left: 15px;
	line-height: 14px;
	background-image: linear-gradient(to bottom, #6bc46a, #164615);
	border-color: #337ab7;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.86;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.tablerow {
	background-color: black;
	color: white;
	text-align: left;
}

.tablehead {
	padding-top: 12px;
  	padding-bottom: 12px;
  	text-align: left;
  	background-color: #003f6e;
  	color: white;
}

.btngreen{
	min-width: 100px;
	height:35px;
	border-radius: 8px;
  font-size: 11px;
	background-color: #005587;
	color: white;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
}

.btngrad {
	min-width: 86px;
  height: 30px;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  font-family: SegoeUI;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

#csv {
	min-width: 86px;
  height: 30px;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}

#pdf {
	min-width: 86px;
  height: 30px;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.btnwhite{
	min-width: 100px;
	height: 35px;
	border-radius: 8px;
  font-size: 11px;
	background-color: #ffffff;
	color: black;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
}

.hov:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.cardhead {
	background-image: linear-gradient(#1873b7, #003f6e);
}

.greyFont{
  color: grey;
}

/* file upload */

.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}


.file-uploadbene{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-uploadbene .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-uploadbene .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-uploadbene .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-uploadbene .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-uploadbene .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-uploadbene.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-uploadbene.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-uploadbene .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-uploadbene .file-select.file-select-disabled{opacity:0.65;}
.file-uploadbene .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-uploadbene .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-uploadbene .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}


.table-fixed{
  max-height: 400px;
  width: 100%;
  overflow: auto;
}

.table-fixed thead th{
  vertical-align: top;
  padding-top: 12px;
}
.mybtn .buttonact {
            background-color: #007934;
            border: 1px solid grey;
            color: white;
            font-size: 13px;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: block;
						cursor: pointer;
}
.mybtn .buttonnoact {
            background-color: white;
            border: 1px solid grey;
            color: grey;
            font-size: 13px;
            padding: 5px;
            text-align: center;
            text-decoration: none;
            display: block;
						cursor: pointer;
}

.mybtn .buttonacct:hover {
  background-color: #006520;
}

.mybtn .buttonnoacct:hover {
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(5%, -170%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.ppicture:hover .image {

  opacity: 0.3;
}

.ppicture:hover .middle {
  opacity: 1;

}

.profilepicture {
  position: relative;
  width: 50%;
}

.photo {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
	color: #000000;
}

.profilepicture .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle-2:hover img {
		opacity: 0.3;
		-moz-transition: all 0.4s ease-out;  /* FF4+ */
    -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.4s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.4s ease-out;  /* IE10? */
    transition: all 0.4s ease-out;
}

.circle-2 img {
   width:300px;
  height:300px;
  border-radius: 50%;
  cursor:pointer;
  border: 1px solid #006520;
}
.circle-2 .addimg {
font-weight: bold;
color: #FFF;
padding: 10px;
text-align: center;
position: absolute;
width: 100%;
top:-10px;
  left: -2px;
  opacity:0;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
.circle-2:hover .addimg {
	padding-top: 140px;
	padding-left: 25px;
  top: 0px;
  opacity:1;
}
.circle-2:hover img {
  filter: none; /* Firefox 3.5+ */
    filter: none; /* IE6-9 */
    -webkit-filter: none; /* Google Chrome & Safari 6+ */
}

.btnCircle {
  min-width: 50px;
  height: 48px;
  border-radius: 50%;
  border-color: #0000003d;
  font-size: 15px;
  background-color: #ffffff;
  color: grey;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

.btnCircle.active  {
  min-width: 50px;
  height: 48px;
  border-radius: 50%;
  font-size: 15px;
  background-color: #005587;
  color: white;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

.hrline{
  width: 150px;
  border: none;
  border-bottom: 2px solid #0000003d;
}

.hrline.active {
  width: 150px;
  border: none;
  border-bottom: 2px solid #006520;
}

.btnCircleGroup {
  min-width: 50px;
  height: 48px;
  border-radius: 50%;
  border-color: #0000003d;
  font-size: 15px;
  background-color: #cececefa;
  color: white;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  margin-top: 30%;
}

.btnCircleGroup.active {
  min-width: 50px;
  height: 48px;
  border: 1px solid;
  border-radius: 50%;
  border-color: #0000003d;
  font-size: 15px;
  background-color: #005587;
  color: white;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  margin-top: 30%;
}

.hovertext {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.hovertext .hovertextcontent {
  visibility: hidden;
  min-width: 150px;
  padding-left: 10px;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.hovertext:hover .hovertextcontent {
  visibility: visible;
}

.btnicon {
	width: 50px;
  height: 28px;
  border-radius: 12px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #ebebeb;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	cursor: pointer;
}

.squarebutton {
	width: 30px;
  height: 30px;
  border: ridge 2px #d9d9d9;
  background-color : #ffffff;
	cursor: pointer;
}

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	transition: all 0.3s;
	}
	.switch::after {
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 18px;
	background-color: white;
	top: 1px;
	left: 1px;
	transition: all 0.3s;
	}
	input[type='checkbox']:checked + .switch::after {
	transform: translateX(20px);
	}
	input[type='checkbox']:checked + .switch {
	background-color: #035789;
	}
	.offscreen {
	position: absolute;
	left: -9999px;
	}

.tokeninput{
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 3px solid #003f6e;
  margin-right: 2%;
  text-align: center;
  box-shadow: 0;
  outline: none;
  text-align: center;
  color: #003f6e;
  font-size: 15px;
}

/* Breadcrups CSS */

.arrow-steps .step {
font-size: 14px;
text-align: center;
color: #666;
cursor: default;
margin: 0 3px;
padding: 10px 10px 10px 30px;
min-width: 180px;
float: left;
position: relative;
background-color: #d9e3f7;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none; 
transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
content: " ";
position: absolute;
top: 0;
right: -17px;
width: 0;
height: 0;
border-top: 19px solid transparent;
border-bottom: 17px solid transparent;
border-left: 17px solid #d9e3f7;	
z-index: 2;
transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
right: auto;
left: 0;
border-left: 17px solid #fff;	
z-index: 0;
}

.arrow-steps .step:first-child:before {
border: none;
}

.arrow-steps .step:first-child {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
position: relative;
}

.arrow-steps .step span:before {
opacity: 0;
content: "✔";
position: absolute;
top: -2px;
left: -20px;
}

.arrow-steps .step.done span:before {
opacity: 1;
-webkit-transition: opacity 0.3s ease 0.5s;
-moz-transition: opacity 0.3s ease 0.5s;
-ms-transition: opacity 0.3s ease 0.5s;
transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
color: #fff;
background-color: #23468c;
}

.arrow-steps .step.current:after {
border-left: 17px solid #23468c;	
}


/* airline */


.airlinesdiv{
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  height: 120px;
  width: 100%;
  margin-bottom: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.adddeposit{
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  height: 200px;
  width: 100%;
  cursor: pointer;
}

.airlinesdepositdiv{
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  height: 200px;
  width: 100%;
}

.wrapper { 
  position: relative; 
}
                      
i.iconins {                    
  position: absolute;         
  top: 10px;              
  left: 10px;               
  z-index: 2; 
}

