<script type="javascript">
	window.opener.location.reload();
</script>
<!-- 
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Reset User Password'); ?></div>
 -->



<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('User List'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="valas" ><?php echo $this->language->_('Reset User Password'); ?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>

<br />

<h5><?php echo $this->language->_('Reset User Password'); ?></h5>
<?php if($this->error){ ?>
	<div class="errmsg">
	<?php
		foreach($this->errorMsg as $key => $error) 
			echo $this->formErrors($this->errorMsg[$key]); 
	?>
	</div><br />
	<?php }else if($this->success){ ?>
	<div class="successmsg"><?php echo $this->successMsg; ?></div><br />
	<?php } 
	if(!$this->max_pwd)$this->max_pwd = 25;
	?>
	<br>
	<div class="errmsg">
	<?php
		if($this->errormsg2)
			echo $this->errormsg2;
	?>
	</div>

<div class="portlet-body form">	
<form method="post" class="form-horizontal form-bordered form-row-stripped" action="">




  <table cellpadding="3" cellspacing="0" border="0" class="table">

  	 <tbody>
      <tr>
        <td class="contentarea" id="contentarea">
          <div class="portlet light form-fit bordered">
            <div class="card">
              <div class="card-header cardhead">
                  <strong style="color: white;"><?php echo $this->language->_('Change Password');?></strong>
              </div>
              <div class="card-body form ">
                
                <div class="form-group row pt-2">
                  <div class="col-sm-3">
                    <label for=""><?php echo $this->language->_('User ID')?></label>
                  </div>
                  <div class="col-sm-9">
                  	<?=$this->userid?>
                   <?php echo $this->formHidden('pin',$this->pin);?>
                  </div>
                </div>

                <div class="form-group row pt-2">
                  <div class="col-sm-3">
                    <label for=""><?php echo $this->language->_('How to Inform the password')?></label>
                  </div>
                  <div class="col-sm-9">
                  	<?php
						$checked = "checked='true'";
						if($this->email != 'N/A') {
						$checked = '';
					?>
						<?php echo $this->language->_('Email to'); ?>&nbsp;&nbsp;<b><?=$this->email?></b>&nbsp;&nbsp;<?php echo $this->language->_('after approved'); ?>
					<?php }else{
					?>
						<i> <?php echo $this->language->_('No Email Registered'); ?></i>
					<?php }
					// REMOVE PRINT SELECTION
						if( false ){
					?>
						<input type="radio" name="isEmail" value="2"  <?=$checked?> ><?php echo $this->language->_('Print after approved'); ?>
					<?php }?>
                  </div>
                </div>

            </div>
            </td>
          </tr>
        </tbody>
    </table>

	<br/>
		<input type="button" onClick="window.location.href = '/user/userlist/index';" value="<?php echo $this->language->_('Back');?>" class="btnwhite hov"/>
	<?php
      echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov'));
    ?>
    
</form>
</div>
