<?PHP
$this->language = Zend_Registry::get('language');
?>
<?php 
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<?php $expand = $this->language->_('Expand'); ?>
<?php $hide = $this->language->_('Hide'); ?>
<style>
    .disabledDiv {
        pointer-events: none;
        opacity: 0.4;
        background: #eee;
    }
</style>

<style>
    @media print {

        .hidden,
        .hidden * {
            display: none !important;
            visibility: hidden;
        }

        button {
            display: none !important;
            visibility: hidden;
        }

    /*form {
		display: none !important;
		visibility: hidden;
	}*/

    .hiddenLogo,
    .hiddenLogo * {
        display: inline !important;
        visibility: show;
    }

    input.currency {
        width: 200px;
        font-size: 10px;
    }

    ul {
        padding-left: 10px;
    }

    h2 {
        color: #5B0000;
        font-size: 16px;
        font-weight: bold
    }

    body .ui-helper-hidden-accessible {
        position: fixed
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        background-color: white;
    }

    b {
        font-weight: bold;
        font-size: 11px
    }

    td {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #000000;
        text-decoration: none;
    }

    a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #000000;
        text-decoration: underline;
    }

    .tbl-evencontent {
        background-color: none;
        padding: 1px 1px 1px 1px;
        border-bottom: 1px solid #A9A9A9;
        border-right: 1px solid #A9A9A9;
        border-left: 1px solid #A9A9A9;
        border-top: 1px solid #A9A9A9;
        vertical-align: top;
        font-size: 10px;
    }

    .tbl-oddcontent {
        background-color: none;
        padding: 1px 1px 1px 1px;
        border-bottom: 1px solid #A9A9A9;
        border-right: 1px solid #A9A9A9;
        border-left: 1px solid #A9A9A9;
        border-top: 1px solid #A9A9A9;
        vertical-align: top;
        font-size: 10px;
    }

    .tdform-sub {
        background-color: #0c67a0;
        padding: 4px 4px 4px 4px;
        border-bottom: 0px solid #A9A9A9;
        border-top: 1px solid #A9A9A9;
        ;
        border-right: 1px solid #A9A9A9;
        ;
        border-left: 1px solid #A9A9A9;
        vertical-align: top;
        font-weight: bold;
        color: white;
    }

    .tdform-odd {
        background-color: #FFFFFF;
        padding: 4px 4px 4px 4px;
        border: 1px solid;
        vertical-align: top;
    }

    .errmsg {
        font-weight: bold;
        font-size: 11px;
        color: #FF0000
    }

    body {
        font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
        -webkit-print-color-adjust: exact;
        /*chrome*/
        -moz-print-color-adjust: exact;
        /*mozila*/
        -o-print-color-adjust: exact;
        /*opera*/
        -ms-print-color-adjust: exact;
        /*ie*/
    }
}
</style>

<style type="text/css">
    .nav-tabs {
        margin-top: 5px;
    }

    .nav-tabs .nav-link {
        border-color: #c9c9c9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 11px;
    }

    .nav-tabs .nav-link:hover {
        border-color: #c9c9c9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: white;
        background-color: #005586;
        margin-top: -10px;
        padding-bottom: 10px;
        top: -10px;
        padding-top: 12px;
        height: 47.5px;
        font-size: 11px;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: white;
        background-color: #005586;
        border-color: #dee2e6 #dee2e6 #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-top: -10px;
        padding-bottom: 10px;
        top: -10px;
        padding-top: 12px;
        height: 47.5px;
        font-size: 11px;

    }

    .imgSepia {
        filter: grayscale(100%);
    }
</style>

<script type="text/javascript">
//akan di onload pertama kali
$(document).ready(function() {
    hideAll();

    // $('#bankAcc').fixTableHeader();
    // $('#benefBankAcc').fixTableHeader();
    // $('#userAcc').fixTableHeader();
    // $('#userLimit').fixTableHeader();
    // $('#userDailyLimit').fixTableHeader();
    // $('#benefUser').fixTableHeader();
});


function expandAll() {
    bankAcc_show();
    bank360ob_show();
    benefBankAcc_show();
    userAcc_show();
    userLimit_show();
    userDailyLimit_show();
    appGroup_show();
    appGroupBoundary_show();
    benefUser_show();
    benefAccount_show();
    paymentworkflow_show();
    ban
}

function hideAll() {
    bankAcc_hide();
    bank360ob_hide();
    benefBankAcc_hide();
    userAcc_hide();
    userLimit_hide();
    userDailyLimit_hide();
    appGroup_hide();
    appGroupBoundary_hide();
    benefUser_hide();
    benefAccount_hide();
    paymentworkflow_hide();
}



function bankAcc_show() {
    $('#bankAcc').show();
    //$('#buttonBankAcc').val('Hide');
    $('#buttonBankAcc').attr('Onclick', 'bankAcc_hide()');
    $('#buttonBankAcc').hide();
    $('#buttonBankAccc').show();

}

function bankAcc_hide() {
    $('#bankAcc').hide();
    //$('#buttonBankAcc').val('Expand');
    $('#buttonBankAcc').attr('Onclick', 'bankAcc_show()');
    $('#buttonBankAcc').show();
    $('#buttonBankAccc').hide();
}


function benefBankAcc_show() {
    $('#benefBankAcc').show();
    //$('#buttonBenefBankAcc').val('Hide');
    $('#buttonBenefBankAcc').attr('Onclick', 'benefBankAcc_hide()');
    $('#buttonBenefBankAcc').hide();
    $('#buttonBenefBankAccc').show();
}

function benefBankAcc_hide() {
    $('#benefBankAcc').hide();
    //$('#buttonBenefBankAcc').val('Expand');
    $('#buttonBenefBankAcc').attr('Onclick', 'benefBankAcc_show()');
    $('#buttonBenefBankAccc').hide();
    $('#buttonBenefBankAcc').show();
}

function bank360ob_show() {
    $('#bank360ob').show();
    //$('#buttonBenefBankAcc').val('Hide');
    $('#buttonBank360ob').attr('Onclick', 'bank360ob_hide()');
    $('#buttonBank360ob').hide();
    $('#buttonBank360obc').show();
}

function bank360ob_hide() {
    $('#bank360ob').hide();
    //$('#buttonBenefBankAcc').val('Expand');
    $('#buttonBank360ob').attr('Onclick', 'bank360ob_show()');
    $('#buttonBank360obc').hide();
    $('#buttonBank360ob').show();
}


function userAcc_show() {
    $('#userAcc').show();
    //$('#buttonUserAcc').val('Hide');
    $('#buttonUserAcc').attr('Onclick', 'userAcc_hide()');
    $('#buttonUserAccc').show();
    $('#buttonUserAcc').hide();
}

function userAcc_hide() // sampe sini
{
    $('#userAcc').hide();
    //$('#buttonUserAcc').val('Expand');
    $('#buttonUserAcc').attr('Onclick', 'userAcc_show()');
    $('#buttonUserAccc').hide();
    $('#buttonUserAcc').show();
}


function userLimit_show() {
    $('#userLimit').show();
    //$('#buttonUserLimit').val('Hide');
    $('#buttonUserLimit').attr('Onclick', 'userLimit_hide()');
    $('#buttonUserLimitc').show();
    $('#buttonUserLimit').hide();
}

function userLimit_hide() {
    $('#userLimit').hide();
    //$('#buttonUserLimit').val('Expand');
    $('#buttonUserLimit').attr('Onclick', 'userLimit_show()');
    $('#buttonUserLimitc').hide();
    $('#buttonUserLimit').show();
}


function userDailyLimit_show() {
    $('#userDailyLimit').show();
    //$('#buttonUserDailyLimit').val('Hide');
    $('#buttonUserDailyLimit').attr('Onclick', 'userDailyLimit_hide()');
    $('#buttonUserDailyLimitc').show();
    $('#buttonUserDailyLimit').hide();
}

function userDailyLimit_hide() {
    $('#userDailyLimit').hide();
    //$('#buttonUserDailyLimit').val('Expand');
    $('#buttonUserDailyLimit').attr('Onclick', 'userDailyLimit_show()');
    $('#buttonUserDailyLimitc').hide();
    $('#buttonUserDailyLimit').show();
}


function appGroup_show() {
    $('#appGroup').show();
    //$('#buttonAppGroup').val('Hide');
    $('#buttonAppGroup').attr('Onclick', 'appGroup_hide()');
    $('#buttonAppGroupc').show();
    $('#buttonAppGroup').hide();
}

function appGroup_hide() {
    $('#appGroup').hide();
    //$('#buttonAppGroup').val('Expand');
    $('#buttonAppGroup').attr('Onclick', 'appGroup_show()');
    $('#buttonAppGroupc').hide();
    $('#buttonAppGroup').show();
}


function appGroupBoundary_show() {
    $('#appGroupBoundary').show();
    //$('#buttonAppGroupBoundary').val('Hide');
    $('#buttonAppGroupBoundary').attr('Onclick', 'appGroupBoundary_hide()');
    $('#buttonAppGroupBoundaryc').show();
    $('#buttonAppGroupBoundary').hide();
}

function appGroupBoundary_hide() {
    $('#appGroupBoundary').hide();
    //$('#buttonAppGroupBoundary').val('Expand');
    $('#buttonAppGroupBoundary').attr('Onclick', 'appGroupBoundary_show()');
    $('#buttonAppGroupBoundaryc').hide();
    $('#buttonAppGroupBoundary').show();
}


function benefUser_show() {
    $('#benefUser').show();
    //$('#buttonBenefUser').val('Hide');
    $('#buttonBenefUser').attr('Onclick', 'benefUser_hide()');
    $('#buttonBenefUserc').show();
    $('#buttonBenefUser').hide();
}

function benefUser_hide() {
    $('#benefUser').hide();
    //$('#buttonBenefUser').val('Expand');
    $('#buttonBenefUser').attr('Onclick', 'benefUser_show()');
    $('#buttonBenefUserc').hide();
    $('#buttonBenefUser').show();
}

function benefAccount_show() {
    $('#benefAccount').show();
    //$('#buttonBenefUser').val('Hide');
    $('#buttonBenefAccount').attr('Onclick', 'benefAccount_hide()');
    $('#buttonBenefAccountc').show();
    $('#buttonBenefAccount').hide();
}

function benefAccount_hide() {
    $('#benefAccount').hide();
    //$('#buttonBenefUser').val('Expand');
    $('#buttonBenefAccount').attr('Onclick', 'benefAccount_show()');
    $('#buttonBenefAccountc').hide();
    $('#buttonBenefAccount').show();
}

function paymentworkflow_show() {
    $('#paymentw').show();
    //$('#buttonBenefUser').val('Hide');
    $('#buttonpaymentw').attr('Onclick', 'paymentworkflow_hide()');
    $('#buttonpaymentwc').show();
    $('#buttonpaymentw').hide();
}

function paymentworkflow_hide() {
    $('#paymentw').hide();
    //$('#buttonBenefUser').val('Expand');
    $('#buttonpaymentw').attr('Onclick', 'paymentworkflow_show()');
    $('#buttonpaymentwc').hide();
    $('#buttonpaymentw').show();
}
</script>

<b class="hidden"> <?php echo $this->language->_('Master Report'); ?> &gt;
    <?php echo $this->language->_('Customer List'); ?> &gt; <?php echo $this->language->_('Detail'); ?> </b><br /><br />
    <?php
    if(!empty($this->errmsg))
    {
      echo "<div class='errmsg'>".$this->errmsg."</div>";
  }
  ?>
  <br>

  <style>
    table {
        font-size: 14px !important;
    }

    .text-gray {
        color: gray !important;
    }

    .table-header {
        font-size: 16px !important;
        color: #fff !important;
        background-color: #0b549f !important;
    }

    #fa-angle-up:hover,
    #fa-angle-down:hover {
        color: #fff !important;
    }

    .table-fixed {
        max-height: 300px;
        width: 100%;
        overflow: auto;
    }
</style>

<div class="row content-box mb-3">
    <div class="col-md-12">
        <div class="row">

         <h5 style="color:#005586;"><?php echo $this->language->_('Customer Detail');?></h5>
         <!-- <table class="my-3" cellpadding="5" style="width:100%" >  -->
            <table width="80%" cellpadding="5" cellspacing="0" border="1" class="table table-sm table-striped">
                <tr class="table-header">
                    <td colspan="5"><?= $this->language->_('Bank Guarantee Detail'); ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Customer Type'); ?></td>
                    <td><?= $this->companydetail['CUST_MODEL'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Customer Code'); ?></td>
                    <td><?= $this->companydetail['CUST_ID'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Customer CIF'); ?></td>
                    <td><?= $this->companydetail['CUST_CIF'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Customer Name'); ?></td>
                    <td><?= $this->companydetail['CUST_NAME'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Customer NPWP'); ?></td>
                    <td><?= $this->companydetail['CUST_NPWP'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Company Type'); ?></td>
                    <td><?= $this->companydetail['CUST_TYPE'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Economic Sector'); ?></td>
                    <td><?= $this->businessEntityArr[$this->companydetail['BUSINESS_TYPE']] ?: '-'; ?></td>
                    
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Go Public'); ?></td>
                    <td><?= $this->companydetail['GO_PUBLIC'] ?: '-'; ?></td>
                </tr>
                
                <?php if ($this->companydetail['CUST_MODEL_VAL']=="1" || $this->companydetail['CUST_MODEL_VAL']=="2" ) {?> 

                    <?php if ($this->companydetail['CUST_MODEL_VAL']=="1" ) {?>
                        <tr>
                            <td width="230"><?= $this->language->_('Golongan Debitur Code'); ?></td> 
                            <td><?= $this->debiturCodeArr[$this->companydetail['DEBITUR_CODE']] ?: '-'; ?></td> 
                        </tr>
                    <?php }?>
                    
                    <tr>
                        <td width="230"><?= $this->language->_('Collectability Code'); ?></td>
                        <td><?= $this->collectCodeArr[$this->companydetail['COLLECTIBILITY_CODE']] ?: '-'; ?></td> 
                    </tr>
                <?php }?>
                <tr>
                    <td width="230"><?= $this->language->_('Address'); ?></td>
                    <td><?= $this->companydetail['CUST_ADDRESS'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Kelurahan'); ?></td>
                    <td><?= $this->companydetail['CUST_VILLAGE'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Kecamatan'); ?></td>
                    <td><?= $this->companydetail['CUST_DISTRICT'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Kab/City'); ?></td>
                    <td><?= $this->companydetail['CITY_NAME'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Zip'); ?></td>
                    <td><?= $this->companydetail['CUST_ZIP'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Country'); ?></td>
                    <td><?= $this->companydetail['COUNTRY_NAME'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Status'); ?></td>
                    <td><?= $this->companydetail['CUST_STATUS'] ?: '-'; ?></td>
                </tr>

            </table>
            <BR><BR>

            <table width="80%" cellpadding="5" cellspacing="0" border="1" class="table table-sm table-striped">
                <tr class="table-header">
                    <td colspan="5"><?= $this->language->_('Contact Info'); ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Contact Person'); ?></td>
                    <td><?= $this->companydetail['CUST_CONTACT'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Contact Number'); ?></td>
                    <td><?= $this->companydetail['CUST_CONTACT_PHONE'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Contact Email'); ?></td>
                    <td><?= $this->companydetail['CUST_EMAIL'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Company Phone'); ?></td>
                    <td><?= $this->companydetail['CUST_PHONE'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td width="230"><?= $this->language->_('Contact Website'); ?></td>
                    <td><?= $this->companydetail['CUST_WEBSITE'] ?: '-'; ?></td>
                </tr>
            </table>

            <br>
            <br>

            <?php
            if ($this->companydetail['CUST_REVIEW'] == '1') {
             $disrev = '';
         } else {
             $disrev = 'none';
         }
         ?>
         <?php
         if ($this->companydetail['CUST_APPROVER'] == '1') {
             $disapp = '';
         } else {
             $disapp = 'none';
         }

				// var_dump($disapp);
				// var_dump($disrev);


         ?>

         <table width="80%" cellpadding="5" cellspacing="0" border="1" class="table table-sm table-striped">
            <tr class="table-header">
                <td colspan="5"><?= $this->language->_('Submission Workflow'); ?></td>
            </tr>
            <!-- $this->companydetail['CUST_MODEL_VAL']=="3" -->
            <tr>
                <td colspan="5">
                    <div class="row content-box <?=$this->companydetail['CUST_MODEL_VAL'] == '2' ? 'disabledDiv' : $this->companydetail['CUST_MODEL_VAL'] == '3' ? 'disabledDiv' : ''; ?>" style="width: 80%;">

                        <?php 

                                    // echo '<pre>';
                                    // print_r($this->companydetail);
                        $imgClass = '';
                        if ($this->companydetail['CUST_FINANCE'] == 3) {
                          $imgClass = 'imgSepia';
                          echo '<div class="col-md-12" align="center"><h6><b>'.$this->language->_("Company Service Type : Non Financial. No user roles needed.").'</b></h6></div><br><br>';
                      }
                      else if($this->companydetail['CUST_SAME_USER'] == 1){
                          echo '<div class="col-md-12" align="center"><h6><b>'.$this->language->_("Maker and releaser are same user.").'</b></h6></div><br><br>';
                      }
                      ?>


                      <table align="center" width="80%" cellpadding="3" cellspacing="0" border="0"
                      class="tableform">
                      <tr>
                        <td align="center">
                            <?php echo $this->makerNameCircle; ?>
                        </td>
                                    <!--<td align="center">
											<img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="<?php echo $imgClass ?>">
										</td>-->
                                    <!--<td align="center" style="display: <?php echo $disrev; ?>">
											<?php echo $this->reviewerNameCircle; ?>
										</td>-->
                                        <td align="center" style="display: <?php echo $disrev; ?>">
                                            <img src="/assets/themes/assets/newlayout/img/arrow.PNG"
                                            class="<?php echo $imgClass ?>">
                                        </td>
                                        <td align="center" style="display: <?php echo $disapp; ?>">
                                            <?php echo $this->approverNameCircle; ?>
                                        </td>
                                        <td align="center" style="display: <?php echo $disapp; ?>">
                                            <img src="/assets/themes/assets/newlayout/img/arrow.PNG"
                                            class="<?php echo $imgClass ?>">
                                        </td>
                                        <td align="center">
                                            <?php echo $this->releaserNameCircle; ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <i class="fas fa-marker <?php echo $imgClass ?>"
                                                style="font-size:20px;color:#007934"></i>
                                            </td>

                                            <!--<td align="center">-->
                                                <!-- hanya jarak  -->
                                                <!--</td>-->

                                    <!--<td align="center" style="display: <?php echo $disrev; ?>">
											<i class="fas fa-glasses <?php echo $imgClass ?>" style="font-size:20px;color:#007934"></i>
										</td>-->

                                        <td align="center" style="display: <?php echo $disrev; ?>">
                                            <!-- hanya jarak  -->
                                        </td>

                                        <td align="center" style="display: <?php echo $disapp; ?>">
                                            <i class="far fa-check-circle <?php echo $imgClass ?>"
                                                style="font-size:20px;color:#007934"></i>

                                            </td>

                                            <td align="center" style="display: <?php echo $disapp; ?>">
                                                <!-- hanya jarak  -->
                                            </td>

                                            <td align="center">
                                                <i class="far fa-envelope <?php echo $imgClass ?>"
                                                    style="font-size:20px;color:#007934"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    MAKER
                                                </td>

                                                <!--<td align="center">-->
                                                    <!-- hanya jarak  -->
                                                    <!--</td>-->

                                    <!--<td align="center" style="display: <?php echo $disrev; ?>">
											REVIEWER
										</td>-->

                                        <td align="center" style="display: <?php echo $disrev; ?>">
                                            <!-- hanya jarak  -->
                                        </td>

                                        <td align="center" style="display: <?php echo $disapp; ?>">
                                            APPROVER
                                        </td>

                                        <td align="center" style="display: <?php echo $disapp; ?>">
                                            <!-- hanya jarak  -->
                                        </td>

                                        <td align="center">
                                            RELEASER
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <!-- <input type="checkbox" value="maker" name="check_maker" checked disabled> -->
                                            <?php
                                            if ($this->companydetail['CUST_FINANCE'] != '3') {
                                               ?>
                                               <img src="/images/icon/checked.png">
                                               <?php
                                           }
                                           ?>
                                       </td>

                                       <!--<td align="center">-->
                                        <!-- hanya jarak  -->
                                        <!--</td>-->

                                        <td align="center" style="display: <?php echo $disrev; ?>">
                                            <!-- hanya jarak  -->
                                        </td>

                                        <td align="center" style="display: <?php echo $disapp; ?>">
                                            <?php
                                            if ($this->companydetail['CUST_APPROVER'] == '1') {
                                               ?>
                                               <img src="/images/icon/checked.png">
                                               <?php
                                           } else {
                                            $checked = '';
                                        }
                                        ?>
                                        <!-- <input type="checkbox" value="1" name="cust_approver" <?php echo $checked; ?> disabled> -->
                                    </td>

                                    <td align="center" style="display: <?php echo $disapp; ?>">
                                        <!-- hanya jarak  -->
                                    </td>

                                    <td align="center">
                                        <?php
                                        if ($this->companydetail['CUST_FINANCE'] != '3') {
                                           ?>
                                           <img src="/images/icon/checked.png">
                                           <?php
                                       }
                                       ?>
                                   </td>
                               </tr>
                               <tr style="display:none;">
                                <td align="center">
                                    <!-- hanya jarak  -->
                                </td>

                                <td align="center">
                                    <!-- hanya jarak  -->
                                </td>

                                <td align="center" style="display: <?php echo $disrev; ?>">
                                    <!-- hanya jarak  -->
                                </td>

                                <td align="center" style="display: <?php echo $disrev; ?>">
                                    <!-- hanya jarak  -->
                                </td>

                                <td align="center" style="display: <?php echo $disapp; ?>">
                                    <p>Google Auth</p>
                                    <label class="switch">
                                        <?php
												// echo $this->cust_app_token;
                                        if ($this->companydetail['CUST_APP_TOKEN'] == '1') {
                                         $checked = 'checked';
                                     } else {
                                         $checked = '';
                                     }
                                     ?>
                                     <input type="checkbox" name="cust_app_token" <?php echo $checked; ?>
                                     disabled>
                                     <span class="slider round" style="cursor: default;"></span>
                                 </label>
                             </td>

                             <td align="center" style="display: <?php echo $disapp; ?>">
                                <!-- hanya jarak  -->
                            </td>

                            <td align="center">
                                <p>Google Auth</p>
                                <label class="switch" name="rls_token">
                                    <?php
												// echo $this->cust_rls_token;
                                    if ($this->companydetail['CUST_RLS_TOKEN'] == '1') {
                                     $checked = 'checked';
                                 } else {
                                     $checked = '';
                                 }

												//if non financial
                                 if ($this->companydetail['CUST_FINANCE'] == 3) {
                                     $checked = '';
                                 }

                                 ?>
                                 <input type="checkbox" name="cust_rls_token" <?php echo $checked; ?>
                                 disabled>
                                 <span class="slider round" style="cursor: default;"></span>
                             </label>
                         </td>
                     </tr>
                 </table>
             </div>
         </td>
     </tr>
 </table>
 <BR><BR>
 <table width="80%" cellpadding="5" cellspacing="0" border="1" class="table table-sm table-striped">
    <tr class="table-header">
        <td colspan="5"><?= $this->language->_('Update Info'); ?></td>
    </tr>
    <tr>
        <td width="230"><?= $this->language->_('Created Date'); ?></td>
        <td>
            <?= Application_Helper_General::convertDate($this->companydetail['CUST_CREATED'], $this->displayDateTimeFormat, $this->defaultDateFormat); ?>
        </td>
    </tr>
    <tr>
        <td width="230"><?= $this->language->_('Created By'); ?></td>
        <td><?= $this->companydetail['CUST_CREATEDBY'] ?: '-'; ?></td>
    </tr>
    <tr>
        <td width="230"><?= $this->language->_('Last Suggestion'); ?></td>
        <td>
            <?= Application_Helper_General::convertDate($this->companydetail['CUST_SUGGESTED'], $this->displayDateTimeFormat, $this->defaultDateFormat); ?>
        </td>
    </tr>
    <tr>
        <td width="230"><?= $this->language->_('Last Suggester'); ?></td>
        <td><?= $this->companydetail['CUST_SUGGESTEDBY'] ?: '-'; ?></td>
    </tr>
    <tr>
        <td width="230"><?= $this->language->_('Last Approval'); ?></td>
        <td>
            <?= Application_Helper_General::convertDate($this->companydetail['CUST_UPDATED'], $this->displayDateTimeFormat, $this->defaultDateFormat); ?>
        </td>
    </tr>
    <tr>
        <td width="230"><?= $this->language->_('Last Approver'); ?></td>
        <td><?= $this->companydetail['CUST_UPDATEDBY'] ?: '-'; ?></td>
    </tr>
</table>
<BR><BR>


<?php
if($this->button)
{
    ?>

    <br>
    <br>

    <table align="CENTER">
        <tr style="height:30px">
            <td colspan="12" align="CENTER">
                <form name="exportForm"
                <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>"
                method="post">
                <!-- <?php echo $this->formSubmit('pdf','PDF',array('class'=>'btngreen hov hidden')); ?>&nbsp; -->
                <input type="submit" value="PDF" name="pdf" id="pdf" class="fa btngrad hov">
                <!-- <input class="btngreen hov hidden"  value="<?php echo $this->language->_('PRINT')?>"  type="button"> -->
                <!-- <button onclick="window.print();" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;
                    <?PHP echo $this->language->_("Print")?>
                </button>&nbsp; -->
                <!-- <button  onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;"
                    class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;
                    <?PHP echo $this->language->_("Print")?>
                </button>&nbsp; -->
            </form>
        </td>
    </tr>
</table>
<?php
}
?>