<style>
label{
    font-size: 1.2em;
}

.col-form-label{
		font-size: 1.2em;
}

.textGray {
    color: #8e8e8e;
}

.form-group {
    margin-bottom: 0em;
}
.padding-header-cust{
  padding-left:2%;
  background-color:#005587;
  height:30px;
  border-radius: 8px;
  color:white;
  padding-top: 2px;
  
}
.iconCircle {
		background-color: lightgray;
		color: red;
		margin-top: 3px;
		min-width: 23px;
		height: 20px;
}
</style>
<div class="row">
   <div class="col-md-12">
     <div class="page-bar">
         <ul class="page-breadcrumb">
             <li>
                 <span>BG</span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('BG List')?></span>
								 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('Detail')?></span>
             </li>

         </ul>
     </div>
   </div>
</div>

<br>
<form name="approveForm" id="approveForm" enctype="multipart/form-data" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="post">
<input type="hidden" name="bgnumb" value="<?php echo $this->BG_REG_NUMBER; ?>">
<div class="row justify-content-center">
    <div class="col-md-11">
        <div class="row" style="padding-left:2%;">
            <div class="col-md-12 padding-header-cust">
                <h5><?=$this->language->_('Bank Guarantee Detail')?></h5>
            </div>
        </div>
        <div class="row" style="padding-left:2%;">
            <div class="col-md-3">
                <label class="textGray">Register No# / BG No#</label>
            </div>
            <div class="col-md-9">
                <strong><?php echo $this->BG_REG_NUMBER.' / '.$this->BG_NUMBER;  ?></strong> &nbsp;&nbsp;<?php echo '(Status: '.$this->arrStatus[$this->status].')'; ?>
            </div>
        </div>
		<div class="row" style="padding-left:2%;">
            <div class="col-md-3">
                <label class="textGray">Account Number</label>
            </div>
            <div class="col-md-9">
                <strong><?php echo $this->ACCT_NO; ?></strong>
            </div>
        </div>
         <div class="row" style="padding-left:2%;">
            <div class="col-md-3">
                <label class="textGray">Subject</label>
            </div>
            <div class="col-md-9">
                <strong><?php echo $this->BG_SUBJECT; ?></strong>
            </div>
        </div>
		<div class="row" style="padding-left:2%;">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 15px;">Branch Trade Service</label>
            </div>
            <div class="col-md-9">
                <label><?php echo $this->branchname; ?></label>
            </div>
        </div>

         <br/>
        <div class="row">
						<div class="content-box" style="width: 97%;padding-left: 2%;border-radius: 5px;border-color: #80808059;height: auto;position: relative;margin-left: 15px;">
                <h5><?=$this->language->_('Bank Guarantee Applicant')?></h5>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Company</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->compinfo['CUST_NAME'].' ('.$this->compinfo['CUST_ID'].')'; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Address</label>
									</div>
									<div class="col-sm-9">
										<label> <?php echo $this->compinfo['CUST_ADDRESS']; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">City</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->compinfo['CUST_CITY']; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Contact Number</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo '('.$this->compinfo['CUST_EXT'].')'.$this->compinfo['CUST_FAX']; ?></label>
									</div>
								</div>
            </div>
        </div>

				<div class="row" style="text-align: right;margin-right: 0px;">
					<div class="col-md-12" style="height: auto; position: relative;">
						<a href="#" onclick="modalmoredetail();" style=""><i class="fas fa-ellipsis-h"></i></a>
					</div>
				</div>

				<div class="modal fade" id="myModalMoreDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">			  
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
									<center style="width:100%">
									<h4 class="modal-title textBlack" id="myModalLabel">History More Detail</h4>
									</center>
							</div>

							<div class="modal-body">
									<br>
									<div class="row">
											<div class="col-sm-1"></div>
											<div class="col-sm-10">

													<?php echo $this->action('index',
															'eformhistory',
															'tools',
													array('bgnumb' => $this->BG_REG_NUMBER)); ?>


											</div>
											<div class="col-sm-1"></div>

									</div>
							</div>
							<div class="modal-footer">
									<center style="width:100%">
									<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
									</center>
							</div>
						</div>
					</div>
				</div>

        <div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
                <h5><?=$this->language->_('Usage Purpose')?></h5>
							</div>
							<div style="padding-left:2%; padding-top:2px;">
				                <!--<label class="textGray"><strong class="formreq"><font color="red">&nbsp;*</font></strong>There must be at least 1 purpose selected</label>-->
				                <div class="form-group row">
													<?php if($this->checkp1){
															?><div class="col-sm-5">
																				<label for="">
															<i class="fa fa-check" aria-hidden="true"></i>
															&nbsp;Bidding Guarantee</label>
																		</div>
													<?php
														} ?>
																		<?php if($this->checkp2){ ?><div class="col-sm-5">
																				<label for="">
															
															<i class="fa fa-check" aria-hidden="true"></i>
															&nbsp;Advance Payment Guarantee</label>
																		</div>
													<?php
														} ?>
																		<?php if($this->checkp3){
															?><div class="col-sm-5">
																				<label for="">
															<i class="fa fa-check" aria-hidden="true"></i>
															&nbsp;Performance Bond</label>
																		</div><?php
														} ?>
																		<?php if($this->checkp4){
															?><div class="col-sm-5">
																				<label for="">
															<i class="fa fa-check" aria-hidden="true"></i>
															&nbsp;Maintenance Guarantee</label>
																		</div>
													<?php
														} ?>
				                </div>
											</div>
            </div>
        </div>

        <div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Bank Guarantee Recipient')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Recipient Name<strong class="formreq"><!--<font color="red">&nbsp;*</font>--></strong></label>
										</div>
										<div class="col-sm-9">
											<label><?php echo $this->recipent_name; ?> </label>
												
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Address<strong class="formreq"><!--<font color="red">&nbsp;*</font>--></strong></label>
										</div>
										<div class="col-sm-9">
											<label><?php echo $this->address; ?> </label>
												
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">City<strong class="formreq"><!--<font color="red">&nbsp;*</font>--></strong></label>
										</div>
										<div class="col-sm-9">
											<label><?php echo $this->city; ?> </label>
												
										</div>
								</div>
								<div class="form-group row pb-1">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Contact Number<strong class="formreq"><!--<font color="red">&nbsp;*</font>--></strong></label>
										</div>
										<div class="col-sm-9">
												<label><?php echo $this->contact_number; ?> </label>
												
										</div>
								</div>
			</div>
		</div>
        </div>

        <div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Guarantee Transaction')?></h5>
							</div>
							<div style="padding-left:2%; padding-top:2px;">
								<!--<label class="textGray">(According to Tender Invitation, SPPBJ, SPK / Agreement, PO or others documents)</label>
								<div class="form-group row pb-3">
									<div class="col-sm-12">
										<?php
											echo $this->formTextarea('comment',$this->comment,array('cols'=>'152','rows'=>'4','maxlength'=>'200','class'=>'form-control','readonly'=>'readonly','style'=>'font-size:1.2em'));
										 ?>
									</div>	
								</div>-->
								<div class="form-group row pb-1">   
                                <div class="col-sm-3">
                                    <label for="" class="textGray col-form-label">Document Description</label>
                                </div> 
                                <div class="col-sm-9 form-inline"> 
                                    <?php echo $this->comment;?>
                                </div>
                            	</div>
								<?php if($this->fileName){ ?>
								<div class="form-group row pb-1">   
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Attached Document</label>
									</div> 
									<div class="col-sm-9"> 
										<label><?php echo $this->fileName; ?></label>&nbsp;&nbsp;<button onclick="location.href = '/bgreport/detail/index/bgnumb/<?php echo $this->BG_REG_NUMBER?>/download/1';"  name="download" id="download" value="1" class="btn-sm btnwhite hov">Download</button>
									</div>
								</div>
								<?php } ?>
								<div class="row pt-1">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Bank Guarantee Nominal</label>
									</div>
									<div class="col-sm-7">
											<div class="input-group" id="">
												
												<label><?php echo $this->Currency.' '.Application_Helper_General::displayMoneyplain($this->bank_amount); ?></label>
												
											</div>
									</div>
								</div>
								<div class="form-group row pb-1">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Time Period From</label>
									</div>
									<div class="col-sm-9 form-inline" style="float:left">
										<label><?php echo $this->updateStart; ?>
										&nbsp;To&nbsp;
										<?php echo $this->updateEnd; ?></label>&nbsp;
										<label class="textGray" id="daysTotal">&nbsp;</label>
										

										<?php echo $this->daysTotal; ?>
										

									</div>
								</div>
								<div class="form-group row" style="display:none">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Claim Period</label>
									</div>
									<div class="col-sm-2">
										<label><?php echo $this->claim_period; ?></label>
										
									</div>
									<div class="col-sm-7">
										<label class="textGray">(min. 14 to max. 30 calendar days)</label>
									</div>
								</div>
							</div>
            </div>
        </div>

				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Counter Warranty')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Counter Warranty Type</label>
									</div>
									<div class="col-sm-9">
										<label><?php
										 echo $this->warranty_type_text; ?></label>
										
									</div>
								</div>
								<!-- type1 -->
								
							<?php if($this->warranty_type == '1'){ ?>	
								<div id="wrType1">
									<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Account Number</label>
											</div>
											<div class="col-sm-9">
												<label><?php
										 echo $this->account_number; ?></label>
												
											</div>
									</div>
									<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Account Name</label>
											</div>
											<div class="col-sm-9">
												<label><?php
										 echo $this->account_name; ?></label>
												
											</div>
									</div>
									<div class="row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Amount</label>
											</div>
											<div class="col-sm-9">
												<div class="input-group" id="">
													<label><?php
										 echo "IDR " . Application_Helper_General::displayMoneyplain($this->amount); ?></label>
													
												</div>
											</div>
									</div>
								</div>
								
							<?php } ?>
								<!-- type2 -->
								
								<?php if($this->warranty_type == '2'){ ?>
								<div id="wrType2" >
									<div id="listwr" style="width: 100%">
										<div id="wherelist-1">
											<?php if(!empty($this->owner1)){ ?>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Plafond Owner 1</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo $this->owner1; ?></label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Amount</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo $this->Currency.' '. Application_Helper_General::displayMoneyplain($this->amountowner1); ?></label>
													
												</div>
											</div>
											<?php } ?>
											
											
											<?php if(!empty($this->owner2)){ ?>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Plafond Owner 2</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo $this->owner2; ?></label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Amount</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo $this->Currency.' '. Application_Helper_General::displayMoneyplain($this->amountowner2); ?></label>
													
												</div>
											</div>
											<?php } ?>
											
											
											<?php if(!empty($this->owner3)){ ?>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Plafond Owner 3</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo $this->owner3; ?></label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Amount</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo $this->Currency.' '. Application_Helper_General::displayMoneyplain($this->amountowner3); ?></label>
													
												</div>
											</div>
											<?php } ?>
											
											
										</div>
									</div>
									
								</div>
								
								<?php } ?>
								<!-- type3 -->
								
								<?php if($this->warranty_type == '3'){ ?>
								<div id="wrType3" >
									<div class="form-group row">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Insurance Name</label>
										</div>
										<div class="col-sm-9">
											<label><?php
										 echo $this->insuranceName; ?></label>
											
										</div>
									</div>
									<div class="row pt-1">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Principal Agreement</label>
										</div>
										<div class="col-sm-9" style="padding-right: 0px;">
											<div class="input-group" id="">
												<label>		<?php
										 echo 'No. '.$this->PrincipalAgreement; ?></label>
										 <label><?php 
										 echo '(Date : '.$this->paDateStart.' s/d '.$this->paDateEnd.')'; ?></label>
										 		&nbsp;
												 &nbsp;
												<span class="input-group-text navbar-search-icon" id="search" style="border-top-right-radius: 0.4rem !important;border-bottom-right-radius: 0.4rem !important;margin-left: -4px;height: 28px;" onclick="openInsurance()"><i class="fa fa-search"></i></span>
											</div>
										</div>
										
									</div>
									<div class="row pt-1 pb-1">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Amount</label>
										</div>
										<div class="col-sm-9">
											<div class="input-group" id="">
											<label>	
												<?php echo $this->Currency.' '.Application_Helper_General::displayMoneyplain($this->insurance_amount); ?></label>
												
											</div>
										</div>
									</div>
								</div>
								<?php } ?>
							</div>
						</div>
				</div>

				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<div class="row">
									<div class="col-md-8">
										<h5><?=$this->language->_('Provision Fee, Administration and Other Expenses')?></h5>
									</div>
									<div class="col-md-4" >
										<a style="float:right;padding-right: 5px;" onClick="provisionModal()"><i class="iconCircle fas pt-1 fa-info"></i></a>
									</div>
								</div>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2 pb-1">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">All Fee are charge to<strong class="formreq"><!--<font color="red">&nbsp;*</font>--></strong></label>
										</div>
										<div class="col-sm-9">
											<label class="col-form-label"><?php
										 echo $this->acct.' ('.$this->Currency.') / '. Application_Helper_General::displayMoneyplain($this->bankname) . ' / '.$this->src_name; ?></label>
										</div>
								</div>
							</div>
						</div>
				</div>

				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Others')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Bank Guarantee Format<strong class="formreq"><!--<font color="red">&nbsp;*</font>--></strong></label>
									</div>
									<div class="col-sm-7">
										<label><?php
										 echo $this->bankFormat; ?></label>
										
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Language<strong class="formreq"><!--<font color="red">&nbsp;*</font>--></strong></label>
									</div>
									<div class="col-sm-9">
										<label><?php
										 echo $this->languagetext; ?></label>
										
									</div>
								</div>
								<br>
								
							</div>
						</div>
				</div>

				<div class="row">
					<div class="col-md-12" align="center">
						<button name="back" id="back" class="btn-sm btnwhite hov" onclick="location.href='/customer/'"  value="1">Back</button>
						&nbsp;
						<?php
						if($this->BG_STATUS == 5)
						{
						?>
						<button name="pdf" id="downloadpdf" type="submit" value="1" class="btn-sm btnwhite hov">Download</button>
                        &nbsp;
                        <button name="BG_APPROVE_DOC" id="download2" type="submit" value="1" class="btn-sm btnwhite hov">Download</button>
						&nbsp;
						<?php
						}
						?>
						<button type="button" id="edit" name="edit" onclick="location.href='/customerbg/edit/index/bgnumb/<?php echo $this->BG_REG_NUMBER; ?>'" class="btnwhite hov"> <?php echo $this->language->_('Edit')?></button> 
						<?php 
						if($this->BG_STATUS == 12)
						{
						?>
						&nbsp;
						<button name="unsuspend" type="button" id="unsuspend" onClick="unsuspendmodal()" class="btn-sm btnwhite hov">UnSuspend</button>
						<?php
						}else{
						?>
						&nbsp;
						<button name="suspend" type="button" id="suspend" onClick="suspendmodal()" class="btn-sm btnwhite hov">Suspend</button>
						<?php }?>						
						&nbsp;
						<button name="cancel" type="button" id="cancel" onClick="cancelmodal()" class="btn-sm btnred hov">Close</button>
						&nbsp;
						<button name="approve" type="button" id="claim" onClick="claimmodal()" class="btn-sm btngreen hov">Withdrawal</button>
					</div>
				</div>
			

    </div>
</div>
</form>
<form name="approveForm" id="approveFormReject" enctype="multipart/form-data" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="post">
<input type="hidden" name="bgnumb" value="<?php echo $this->BG_REG_NUMBER; ?>">
<div class="modal fade" id="modalCancel" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('Close Bank Guarantee') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<strong class="formreq"><font color="red">&nbsp;*</font></strong><?php echo $this->formLabel('mandatoryCancel',$this->language->_('mandatory field must be filled'),array('class'=>'col-form-label pb-4', 'style' => 'font-size: 14px;')); ?>
				<table style="width:100%">
					<tr> 
						<td>
							<?php echo $this->formLabel('request_by',$this->language->_('Request by'),array('class'=>'col-form-label pb-4',"style"=>'color: #000000 !important;font-size: 14px;')); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
						</td>
						<td colspan="2">
							<select name="cancelBy" id="cancelBy" class="form-control" style="font-size: 14px;">
										<option value="Applicant" >Applicant</option>
										<option value="Bank" >Bank</option>
										<option value="Third Party" >Third Party</option>
							</select>					
						</td>
					</tr>
					<tr> 
						<td>
							<?php echo $this->formLabel('cancel_notes',$this->language->_('Notes'),array('class'=>'col-form-label pb-4',"style"=>'color: #000000 !important;font-size: 14px;')); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
						</td>
						<td colspan="2">
							<?php echo $this->formTextarea('cancelNotes',$this->cancelNotes,array('cols'=>'40','rows'=>'4','maxlength'=>'200','class'=>'form-control', 'style' => 'font-size: 14px;')); ?>					
						</td>
					</tr>
					<tr> 
						<td>
							<?php echo $this->formLabel('underlying_doccancel',$this->language->_('Underlying document'),array('class'=>'col-form-label pb-4',"style"=>'color: #000000 !important;font-size: 14px;')); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
						</td>
						<td colspan="2">
							<div class="file-upload">
								<div class="file-select">
									<div class="file-select-button" id="fileNamecancel">Choose File</div>
									<div class="file-select-name textBlack" id="noFilecancel"><?php echo $this->language->_('Upload Your File Here...'); ?></div>
									<input type="file" name="uploadSourcecancel" id="chooseFilecancel">
								</div>
							</div>					
						</td>
					</tr>
				</table>
				<br>
				<div class="row">
					<div class="col" style="text-align: center;">
						<label style="color:red;">Are you sure to close this Bank Guarantee?</label>
					</div>
				</div>
			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('No') ?></button>
				<button type="button" class="btngreen hov" id="btn_submit_cancel"><?php echo $this->language->_('Yes') ?></button>
			</div>
		</div>
	</div>
</div>
</form>

<!----------------------------------------------- SUSPEND MODAL ------------------------------------------>
<form name="approveForm" id="approveFormSuspend" enctype="multipart/form-data" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="post">
<input type="hidden" name="bgnumb" value="<?php echo $this->BG_REG_NUMBER; ?>">
<div class="modal fade" id="modalSuspend" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('Suspend Bank Guarantee') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<strong class="formreq"><font color="red">&nbsp;*</font></strong><?php echo $this->formLabel('mandatoryCancel',$this->language->_('mandatory field must be filled'),array('class'=>'col-form-label pb-4', 'style' => 'font-size: 14px;')); ?>
				<table style="width:100%">
					<tr> 
						<td>
							<?php echo $this->formLabel('suspend_notes',$this->language->_('Notes'),array('class'=>'col-form-label pb-4',"style"=>'color: #000000 !important;font-size: 14px;')); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
						</td>
						<td colspan="2">
							<?php echo $this->formTextarea('suspendNotes',$this->suspendNotes,array('cols'=>'40','rows'=>'4','maxlength'=>'200','class'=>'form-control', 'style' => 'font-size: 14px;')); ?>					
						</td>
					</tr>
					<tr> 
						<td>
							<?php echo $this->formLabel('underlying_docSuspend',$this->language->_('Underlying document'),array('class'=>'col-form-label pb-4',"style"=>'color: #000000 !important;font-size: 14px;')); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
						</td>
						<td colspan="2">
							<div class="file-upload">
								<div class="file-select">
									<div class="file-select-button" id="fileName">Choose File</div>
									<div class="file-select-name textBlack" id="noFileSuspend"><?php echo $this->language->_('Upload Your File Here...'); ?></div>
									<input type="file" name="uploadSourceSuspend" id="chooseFileSuspend">
								</div>
							</div>					
						</td>
					</tr>
				</table>
				<br>
				<div class="row">
					<div class="col" style="text-align: center;">
						<label style="color:red;">Are you sure to suspend this Bank Guarantee?</label>
					</div>
				</div>
			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('No') ?></button>
				<button type="button" class="btngreen hov" id="btn_submit_suspend"><?php echo $this->language->_('Yes') ?></button>
			</div>
		</div>
	</div>
</div>
</form>
<!----------------------------------------------- END SUSPEND MODAL -------------------------------------->

<!----------------------------------------------- UNSUSPEND MODAL ------------------------------------------>
<form name="approveForm" id="approveFormUnSuspend" enctype="multipart/form-data" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="post">
<input type="hidden" name="bgnumb" value="<?php echo $this->BG_REG_NUMBER; ?>">
<div class="modal fade" id="modalUnSuspend" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('UnSuspend Bank Guarantee') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<strong class="formreq"><font color="red">&nbsp;*</font></strong><?php echo $this->formLabel('mandatoryCancel',$this->language->_('mandatory field must be filled'),array('class'=>'col-form-label pb-4', 'style' => 'font-size: 14px;')); ?>
				<table style="width:100%">
					<tr> 
						<td>
							<?php echo $this->formLabel('UnSuspend_notes',$this->language->_('Notes'),array('class'=>'col-form-label pb-4',"style"=>'color: #000000 !important;font-size: 14px;')); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
						</td>
						<td colspan="2">
							<?php echo $this->formTextarea('UnSuspendNotes',$this->UnSuspendNotes,array('cols'=>'40','rows'=>'4','maxlength'=>'200','class'=>'form-control', 'style' => 'font-size: 14px;')); ?>					
						</td>
					</tr>
					<tr> 
						<td>
							<?php echo $this->formLabel('underlying_docUnSuspend',$this->language->_('Underlying document'),array('class'=>'col-form-label pb-4',"style"=>'color: #000000 !important;font-size: 14px;')); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
						</td>
						<td colspan="2">
							<div class="file-upload">
								<div class="file-select">
									<div class="file-select-button" id="fileName">Choose File</div>
									<div class="file-select-name textBlack" id="noFileUnSuspend"><?php echo $this->language->_('Upload Your File Here...'); ?></div>
									<input type="file" name="uploadSourceUnSuspend" id="chooseFileUnSuspend">
								</div>
							</div>					
						</td>
					</tr>
				</table>
				<br>
				<div class="row">
					<div class="col" style="text-align: center;">
						<label style="color:red;">Are you sure to UnSuspend this Bank Guarantee?</label>
					</div>
				</div>
			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('No') ?></button>
				<button type="button" class="btngreen hov" id="btn_submit_UnSuspend"><?php echo $this->language->_('Yes') ?></button>
			</div>
		</div>
	</div>
</div>
</form>
<!----------------------------------------------- END SUSPEND MODAL -------------------------------------->

<div class="modal fade" id="modalClaim" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	<form name="approveForm" id="approveFormClaim" enctype="multipart/form-data" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="post">
<input type="hidden" name="bgnumb" value="<?php echo $this->BG_REG_NUMBER; ?>">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('Claim Bank Guarantee') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<strong class="formreq"><font color="red">&nbsp;*</font></strong><?php echo $this->formLabel('mandatoryClaim',$this->language->_('mandatory field must be filled'),array('class'=>'col-form-label pb-4', 'style' => 'font-size: 14px;')); ?>
				
				<table style="width:100%">
					<tr> 
						<td>
							<?php echo $this->formLabel('claim_by',$this->language->_('BG claimed by'),array('class'=>'col-form-label pb-4',"style"=>'color: #000000 !important;font-size: 14px;')); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
						</td>
						<td colspan="2">
							<?php echo $this->formLabel('claim_bank',$this->language->_('Recipient'),array('class'=>'col-form-label pb-4',"style"=>'font-size: 14px;')); ?>
							<?php //echo $this->formHidden('Bank','Bank',array('id'=>'claimBy', 'value'=>'Bank')); ?>
							<input type="hidden" id="claimBy" name="claimBy" value="Bank">						
						</td>
					</tr>
					<tr> 
						<td>
							<?php echo $this->formLabel('claim_notes',$this->language->_('Claim notes'),array('class'=>'col-form-label pb-4',"style"=>'color: #000000 !important;font-size: 14px;')); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
						</td>
						<td colspan="2">
							<?php echo $this->formTextarea('claimNotes',$this->claimNotes,array('cols'=>'40','rows'=>'4','maxlength'=>'200','class'=>'form-control', 'style' => 'font-size: 14px;')); ?>					
						</td>
					</tr>
					<tr> 
						<td>
							<?php echo $this->formLabel('underlying_doc',$this->language->_('Underlying document'),array('class'=>'col-form-label pb-4',"style"=>'color: #000000 !important;font-size: 14px;')); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
						</td>
						<td colspan="2">
							<div class="file-upload">
								<div class="file-select">
									<div class="file-select-button" id="fileNameclaim">Choose File</div>
									<div class="file-select-name textBlack" id="noFileclaim"><?php echo $this->language->_('Upload Your File Here...'); ?></div>
									<input type="file" name="uploadSourceclaim" id="chooseFileclaim">
								</div>
							</div>					
						</td>
					</tr>
				</table>
				<br>
				<div class="row">
					<div class="col" style="text-align: center;">
						<label style="color:red;">Are you sure to proceed this claim?</label>
					</div>
				</div>
			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('No') ?></button>
				<button type="button" class="btngreen hov" id="btn_submit_claim"><?php echo $this->language->_('Yes') ?></button>
			</div>
		</div>
		</form>
	</div>
</div>

<div class="modal fade" id="provisionModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('Info') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col">
						<label class="textBlack">Provision Fee 1% from BG Nominal</label>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label class="textBlack">Administration Fee IDR 500,000</label>
					</div>	
				</div>	
			</div>
			<div class="modal-footer">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
			</div>
		</div>
	</div>
</div>
<script src='//cdn.jsdelivr.net/npm/jquery.session@1.0.0/jquery.session.js'></script>
<script>
function openInsurance(){

var insuranceName = '<?php echo $this->insuranceName; ?>';
var PrincipalAgreement = '<?php echo $this->PrincipalAgreement; ?>';
var PolicyHolder = '<?php echo $this->compinfo['CUST_NAME']; ?>';
var bankAmount = '<?php echo $this->insurance_amount;?>';
var bank_amount = '<?php echo $this->insurance_amount;?>';

var currency_type = '<?php echo $this->Currency; ?>';

	if(currency_type=="1" || currency_type=="IDR"){
		$.session.delete("currency_type");
		$.session.set("currency_type", "IDR");

	}else{
		$.session.delete("currency_type");
		$.session.set("currency_type", "USD");
	}

var updateStart = '<?php echo $this->paDateStart; ?>';
var updateEnd = '<?php echo $this->paDateEnd; ?>';

$.session.delete("InsuranceName");
$.session.set("InsuranceName", insuranceName);

$.session.delete("PrincipalAgreement");
$.session.set("PrincipalAgreement", PrincipalAgreement);

$.session.delete("PolicyHolder");
$.session.set("PolicyHolder", PolicyHolder);

$.session.delete("bank_amount");
$.session.set("bank_amount", bank_amount);

$.session.delete("updateStart");
$.session.set("updateStart", updateStart);

$.session.delete("bankAmount");
$.session.set("bankAmount", bankAmount);

$.session.delete("updateEnd");
$.session.set("updateEnd", updateEnd);

(new showPopUpWindow('<?= $this->url(array('module' => 'popup', 'controller' => 'insurancepopup', 'action' => 'index'), null, true) ?>', 750));

}
$(document).ready(function(){

	var start = new Date('<?php echo $this->TIME_PERIOD_START; ?>');
  var end = new Date('<?php echo $this->TIME_PERIOD_END; ?>');
  var total = (end-start)/(1000 * 60 * 60 * 24);

  if(start && end){
    $('#daysTotal').html("("+total+" days)")
  }

	$('#chooseFilecancel').bind('change', function () {
		var filename = $("#chooseFilecancel").val();
		if (/^\s*$/.test(filename)) {
			$(".file-upload").removeClass('active');
			$("#noFilecancel").text("No file chosen...");
		}
		else {
			$(".file-upload").addClass('active');
			$("#noFilecancel").text(filename.replace("C:\\fakepath\\", ""));
		}
	});

	$('#chooseFileclaim').bind('change', function () {
		var filename = $("#chooseFileclaim").val();
		if (/^\s*$/.test(filename)) {
			$(".file-upload").removeClass('active');
			$("#noFileclaim").text("No file chosen...");
		}
		else {
			$(".file-upload").addClass('active');
			$("#noFileclaim").text(filename.replace("C:\\fakepath\\", ""));
		}
	});

	$('#chooseFileSuspend').bind('change', function () {
		var filename = $("#chooseFileSuspend").val();
		if (/^\s*$/.test(filename)) {
			$(".file-upload").removeClass('active');
			$("#noFileSuspend").text("No file chosen...");
		}
		else {
			$(".file-upload").addClass('active');
			$("#noFileSuspend").text(filename.replace("C:\\fakepath\\", ""));
		}
	});

	$('#chooseFileUnSuspend').bind('change', function () {
		var filename = $("#chooseFileUnSuspend").val();
		if (/^\s*$/.test(filename)) {
			$(".file-upload").removeClass('active');
			$("#noFileUnSuspend").text("No file chosen...");
		}
		else {
			$(".file-upload").addClass('active');
			$("#noFileUnSuspend").text(filename.replace("C:\\fakepath\\", ""));
		}
	});
	
	
	var bankFormat = '<?php echo $this->bankFormat;?>';
    if(bankFormat =="Bank Standard"){
        $("#download2").hide();
    }else{
        $("#downloadpdf").hide();
    } 
	
})

function cancelmodal(){
	$('#modalCancel').modal('show');
	$("#btn_submit_cancel").attr('onclick', 'if($("#cancelBy").val() == "" || $("#cancelNotes").val() == "" || $("#chooseFilecancel").val() == ""){alert("Field cannot be empty");}else{$("#dialogrepair_box").modal("hide");$("<input>", {type: "hidden",name: "reject",value: "reject"}).appendTo("#approveFormReject");$("#approveFormReject").submit();}');
}

function suspendmodal(){
	$('#modalSuspend').modal('show');

	$("#btn_submit_suspend").attr('onclick', 'if($("#suspendNotes").val() == "" || $("#chooseFileSuspend").val() == ""){alert("Field cannot be empty");}else{$("#dialogrepair_box").modal("hide");$("<input>", {type: "hidden",name: "suspend",value: "suspend"}).appendTo("#approveFormSuspend");$("#approveFormSuspend").submit();}');
}

function unsuspendmodal(){
	$('#modalUnSuspend').modal('show');

	$("#btn_submit_UnSuspend").attr('onclick', 'if($("#UnSuspendNotes").val() == "" || $("#chooseFileUnSuspend").val() == ""){alert("Field cannot be empty");}else{$("#dialogrepair_box").modal("hide");$("<input>", {type: "hidden",name: "unsuspend",value: "unsuspend"}).appendTo("#approveFormUnSuspend");$("#approveFormUnSuspend").submit();}');
}

function claimmodal(){
	$('#modalClaim').modal('show');

	$("#btn_submit_claim").attr('onclick', 'if($("#claimBy").val() == "" || $("#claimNotes").val() == "" || $("#chooseFileclaim").val() == ""){alert("Field cannot be empty");}else{$("#dialogrepair_box").modal("hide");$("<input>", {type: "hidden",name: "claim",value: "claim"}).appendTo("#approveFormClaim");$("#approveFormClaim").submit();}');
}

function modalmoredetail(){
	$("#myModalMoreDetail").modal();
}

function provisionModal(){
	$('#provisionModal').modal('show');
}
</script>

