<script type="text/javascript">
$(document).ready(function(){
		$('div#sidebar-collapse').click(function(){
			  if ( $("#logo-title").is(":visible") ) { 
			    $("#logo-title").hide(); 
			    $("#logo-titles").hide(); 
			  } else if ( $("#logo-title").is(":hidden") ) { 
			    $("#logo-title").show(); 
			    $("#logo-titles").show(); 
			  }
			})

        $('#trfdateStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#trfdateEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });

});
</script>

<?php $counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;?>
<script type="text/javascript">
function detailpayment(url,acct)
{
  var test;
  var AcctValue = acct;
  var url = url+"?PS_NUMBER="+AcctValue;
  test = openwindow(url,640,780);
}



/*$(document).ready(function(){

	document.filterForm.transfertype.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
	document.filterForm.transfertype.options[1] = new Option('Mayapada (Sell)', '7');
	document.filterForm.transfertype.options[2] = new Option('Mayapada (Buy)', '8');
	document.filterForm.transfertype.options[3] = new Option('Remittance (OUR)', '3');
	document.filterForm.transfertype.options[4] = new Option('Remittance (SHA)', '4');


	if('<?= $this->transfertype ?>' != '')
	{
		$('#transfertype').val('<?= $this->transfertype ?>');
	}

});*/
</script>

<?php $transactionReport = $this->language->_('Transaction Report')?>
<?php $paymentreport = $this->language->_('Cover Position Report')?>
<?php $currency = $this->language->_('Currency')?>
<?php $custid = $this->language->_('Company ID')?>
<?php $custname = $this->language->_('Company Name')?>

<?php $beneficiaryaccount = $this->language->_('Beneficiary Account')?>

<?php $paymentref = $this->language->_('Payment Ref')?>
<?php $createddate = $this->language->_('Created Date')?>
<?php $beneficiarytype = $this->language->_('Beneficiary Type')?>
<?php $updateddate = $this->language->_('Updated Date')?>
<?php $paymentdate = $this->language->_('Date')?>
<?php $sourceaccount = $this->language->_('Source Account')?>
<?php $paymenttype = $this->language->_('Payment Type')?>
<?php $setfilter = $this->language->_('Set Filter')?>
<?php $clearfilter = $this->language->_('Clear Filter')?>
<?php $print = $this->language->_('Print')?>
<?php $nodata = $this->language->_('No Data')?>
<?php $action = $this->language->_('Action')?>
<?php $transfertype = $this->language->_('Transfer Type')?>


<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Transaction Report'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Cover Position Report'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<div class="row content-box">
	<div class= "portlet-body form col-md-12">
		<h5><?=$this->language->_('Cover Position Report')?></h5>

		<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
	<?php 
	$optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
	foreach($this->filterlist as $row){
		$optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
	}

	?>
	<div class="row " id="logo-titles" style="margin-left: 0px">
			<?php
			if(!empty($this->wherecol)){
				?>
				<script type="text/javascript">
					$(document).ready(function(){
					$("#logo-title").show(); 
				});

				</script>
				<?php
			}
			
			foreach ($this->wherecol as $key => $value) {
				?>
					<div id="searchs" style="width: 100%">
                    <?php 
                        $datetype = array("PS_TRFDATE",'CCY','TRFTYPE');
                        $selectlist = array('COMP_NAME','COMP_ID','PAY_REF');
                        $index = 0;
						


                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$ctr?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($value==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]' >
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'> 
                                    		<script type="text/javascript">
                                    			$(document).ready(function(){
                                    			var colval = "#colvalue-s<?=$key?>";
                                    			var colomnname = "<?=$value?>";
                                    			// var colselect= "<?=$value?>";
                                    			var colselect = "colselect-s<?=$key?>";
    											var ncolselect = "#colselect-s<?=$key?>";
                                    			if(colomnname == 'CCY'){
                                    					// alert(<?=$this->whereval[$key]?>);
											            $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

											            var id = $("#tablename").find(":selected").val();
											            $.ajax({
											            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'ccy'),null,true)?>",
											            type: 'GET',
											            dataType: "html",
											            data: {
											                id: '<?=$this->whereval[$key]?>'
											            },
											            success: function(data) {
											                $(ncolselect).html(data);
											            },
											            error: function(xhr, ajaxOptions, thrownError)
											            {
											                alert("Failed to get where column list, please try again");
											            }
											        });

											            $(colselect).val('<?=$this->whereval[$index]?>');

											    }else if(colomnname == 'TRFTYPE'){
											            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
											            var id = $("#tablename").find(":selected").val();
											            $.ajax({
											            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'tratypereport'),null,true)?>",
											            type: 'GET',
											            dataType: "html",
											            data: {
											                id: '<?=$this->whereval[$key]?>'
											            },
											            success: function(data) {
											                $(ncolselect).html(data);
											            },
											            error: function(xhr, ajaxOptions, thrownError)
											            {
											                alert("Failed to get where column list, please try again");
											            }
											        });
											            $(colselect).val('<?=$this->whereval[$index]?>');
											    }
											});

                                    		</script>
                                    	<?php
                                    		if($value == 'PS_CREATED'){
                                    			?>
                                    			<input type='text' class='form-control' name='createdate[]' id='createdStart' readonly value="<?=$this->createStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' value="<?=$this->createdEnd?>" readonly required>
                                    			<?php
	                                    		}else if($value == 'PS_TRFDATE'){
												?>
												<input type='text' class='form-control' name='trfdate[]' id='trfdateStart' readonly value="<?=$this->trfdateStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='trfdate[]' id='trfdateEnd' value="<?=$this->trfdateEnd?>" readonly required>
												<?php

	                                    		}else if($value == 'PS_UPDATED'){
												?>
												<input type='text' class='form-control' name='updatedate[]' id='updatedStart' readonly value="<?=$this->updateStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='updateEnd' value="<?=$this->updateEnd?>" readonly required>
												<?php

	                                    		}else if(in_array($value, $selectlist)){
	                                    		?>
		                                        <input class='form-control col-md-12' type='text'  name='whereval[]' value='<?=$this->whereval[$key]?>'/>
		                                  		<?php }
		                                  		if (!in_array($value, $datetype)){
													// print_r($value);die;
													$index++;
												}
		                                  		 ?>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    
                </div>
				<?php
			}
			?>

	</div>


	<div class="row " id="logo-title" style="display: none">
	<div class="portlet-body form col-md-12">
 	 <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($val==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?=$ctr?>'> 
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value=''/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    <?php //}}?>
                </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
                <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btngreen hov" id="addwhere"><?php echo $this->language->_('Add Filter'); ?></button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
                &nbsp;
				<input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                

                <br/>

                                             
                    	
                               </div>
            <div class="col-md-4">
            </div>
                               
	</div>
	<div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
	     <a href="#" class="sidebar-collapse-icon with-animation">
	         <?php echo $this->language->_('Advanced Search'); ?>               
	     </a>
	 </div>
	 <br>
	 <br>
</form>
	<?php
	if($this->currency != ''){
	?>
<form name="form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','sortby' => $this->sortBy,'sortdir' => $this->sortDir),null,true).$this->qstring?>" method="post">
	<table width="100%" border="0px">
		<tr style="height:30px;" align="right">
			<td>
				<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
				<?php	echo $this->formSubmit('pdf',$this->language->_('PDF is Too Large (Function is Disabled)'),array('class'=>'btngrad disabled','disabled'=>'disabled')); ?>
				<?php }else{ ?>
				<?php 	echo $this->formSubmit('pdf','PDF',array('class'=>'btn-sm btngrad hov')); ?>
				<?php } ?>

				<?php if(($this->paginator->getTotalItemCount()) > $this->applicationSetting['max_row_download_csv']) { ?>
				<?php echo $this->formSubmit('csv','CSV is too large (function is disabled)',array('class'=>'btngrad disabled','disabled'=>'disabled')); ?>&nbsp;
				<?php }else{ ?>
				<?php echo $this->formSubmit('csv','CSV',array('class'=>'btn-sm btngrad hov')); ?>&nbsp;
				<?php } ?>

<!--				<input class="btn btn-success" value="<?php echo $print?>" onclick="window.print();" type="button">-->
				<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {
					echo $this->formSubmit('pr',$this->language->_('print'),array('class'=>'btngrad disabled','disabled'=>'disabled'));
				}
				else{
				?>
					<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><?PHP echo $this->language->_("Print")?></button>&nbsp;
				<?php
				}
				?>
				<input type="hidden" name="clearfilter" value="<?=$this->clearfilter?>">
			</td>
		</tr>
	</table>
	<br>
</form>
<?php
}

if($this->currency != ''){

?>
<div align="right">
	<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
</div><br>

	<div class="table-responsive">
	<table class="table table-sm table-stripped">
	<tr>
		 <th class="tablehead" width="3%" valign="top">No</th>

			<?php
				echo $this->partial('tableheader.phtml',array(
																'fields' => $this->fields,
																'sortBy' => $this->sortBy,
																'sortDir' => $this->sortDir,
																'query_string_params' => $this->query_string_params
															)
									);
			?>


	</tr>



		<?php


			if(count ($this->paginator) > 0)
			{
				foreach($this->paginator as $row)
				{
					$d = 0;

					$td_css = ($d % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";

					$detail = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>'Lldreportdetail','action'=>'index','psnumber'=>$row['PS_NUMBER']),null,true).'">'.$this->language->_('Detail').'</a>';
//					if($row['TRA_STATUS'] == '4'){
//						$psStatus = 'Completed with 1 Failed Transaction(s)';
//					}
					if($row['PS_STATUS'] == '9'){
						$psStatus = 'Exception';
					}
					elseif($row['PS_STATUS'] == '6'){
						$psStatus = 'Transfer Failed';
					}
					elseif($row['PS_STATUS'] == '4'){
						$psStatus = 'Rejected';
					}
					elseif($row['PS_STATUS'] == '7'){
						$psStatus = 'Pending Future Date';
					}
					elseif($row['PS_STATUS'] == '8'){
						$psStatus = 'In Progress';
					}
					elseif($row['PS_STATUS'] == '13'){
						$psStatus = 'Pending Process';
					}
					elseif($row['PS_STATUS'] == '14'){
						$psStatus = 'Cancel Future Date';
					}
					else{
						$psStatus = $row["PS_STATUS"];
					}

					if($row["PS_TYPE"] == 'Purchase'){
						$ACCT_BENE = '-';
					}
					elseif($row["PS_TYPE"] == 'Payment'){
						$ACCT_BENE = '-';
					}
					else{
						$ACCT_BENE = $row["ACCT_BENE"];
					}
					$biller = (!empty($row["PS_BILLER_ID"])?$row["PS_BILLER_ID"]:'');
					$getPayment = new transactionreport_Model_Transactionreport();
					$result = $getPayment->getProvider($biller);
//					Zend_Debug::dump($result);
					$transferFee = (!empty($row["TRANSFER_FEE"])?$row["TRANSFER_FEE"]:0);
					$ex_total = 0;
					if($row['TRANSFER_TYPE']=='7'){
						$TRANSFER_TYPE = 'Mayapada (Sell)';
					}else if($row['TRANSFER_TYPE']=='8'){
						$TRANSFER_TYPE = 'Mayapada (Buy)';
					}else if($row['TRANSFER_TYPE']=='3'){
						$TRANSFER_TYPE = 'OUR';
					}else if($row['TRANSFER_TYPE']=='4'){
						$TRANSFER_TYPE = 'SHA';
					}
					if($row["RATE_BUY"]=='' || empty($row["RATE_BUY"]) || $row['RATE_BUY'] == "0.00"){
						$row["RATE_BUY"] = '-';
					}else{
						$row["RATE_BUY"] = 'IDR '.Application_Helper_General::displayMoney($row["RATE_BUY"]);
					}
// 					print_r($row);die;
					if($row["RATE_SELL"]=='' || empty($row['RATE_SELL']) || $row['RATE_SELL'] == "0.00"){
						$row["RATE_SELL"] = '-';
					}else{
						$row["RATE_SELL"] = 'IDR '.Application_Helper_General::displayMoney($row["RATE_SELL"]);
					}

					if($row["BUY_AMOUNT"]=='' || empty($row['BUY_AMOUNT']) || $row['BUY_AMOUNT'] == "0.00"){
						$row["BUY_AMOUNT"] = '-';
					}else{
						$row["BUY_AMOUNT"] = Application_Helper_General::displayMoney($row["BUY_AMOUNT"]);
					}

					if($row["SELL_AMOUNT"]=='' || empty($row["SELL_AMOUNT"]) || $row["SELL_AMOUNT"] == "0.00"){
						$row["SELL_AMOUNT"] = '-';
					}else{
						$row["SELL_AMOUNT"] = Application_Helper_General::displayMoney($row["SELL_AMOUNT"]);
					}

					if($row['SELL_AMOUNT'] == '-'){
					    $row["PS_CCY"] = '';
					}
					echo '<tr>
						<td class="'.$td_css.'">'.$counter.'</td>
						<td class="'.$td_css.'">'.$row["CUST_ID"].'</td>
						<td class="'.$td_css.'">'.$row["CUST_NAME"].'</td>
						<td class="'.$td_css.'">'.$row["PS_NUMBER"].'</td>

						<td class="'.$td_css.'">'.$row["ACCT_SOURCE"].'</td>
						<td class="'.$td_css.'">'.$row["ACCT_BENE"].'</td>
						<td class="'.$td_css.'">'.$row["BUY_CCY"].' '.$row["BUY_AMOUNT"].'</td>
						<td class="'.$td_css.'">'.$row["RATE_BUY"].'</td>
						<td class="'.$td_css.'">'.$row["PS_CCY"].' '.$row["SELL_AMOUNT"].'</td>
						<td class="'.$td_css.'">'.$row["RATE_SELL"].'</td>
						<td class="'.$td_css.'" align="right">IDR '.Application_Helper_General::displayMoney($row['TOTAL_AMOUNT']).'</td>
						<td class="'.$td_css.'">'.$TRANSFER_TYPE.'</td>
						<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row["PS_CREATE"],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
						</tr>';
					$counter++;
					$d++;
				}
				if(!empty($this->totalresult)){
					$ccy_sell = $this->totalresult[0]['SELL_CCY'];
					$ccy_buy = $this->totalresult[0]['BUY_CCY'];
					if($ccy_sell==''){
					    $ccy_sell = $ccy_buy;
					}else{
					    $ccy_buy = $ccy_sell;
					}

					if($this->totalresult[0]['SUMEQ']!='0.00'){
					    $totaltrx = ($this->totalresult[0]['SUMBUY']*$this->totalresult[0]['AVGBUY'])+($this->totalresult[0]['SUMSELL']*$this->totalresult[0]['AVGSELL']);
						$sumeq = 'IDR '.Application_Helper_General::displayMoney($totaltrx);
					}else{
						$sumeq = '-';
					}
					if($this->totalresult[0]['SUMBUY']!='0.00'){
						$sumbuy = $ccy_buy.' '.Application_Helper_General::displayMoney($this->totalresult[0]['SUMBUY']);
					}else{
						$sumbuy = '-';
					}
					if($this->totalresult[0]['AVGBUY']!='0.00'){
						$avgbuy = 'IDR '.Application_Helper_General::displayMoney($this->totalresult[0]['AVGBUY']);
					}else{
						$avgbuy = '-';
					}
					if($this->totalresult[0]['SUMSELL']!='0.00'){
						$sumsell = $ccy_sell.' '.Application_Helper_General::displayMoney($this->totalresult[0]['SUMSELL']);
					}else{
						$sumsell = '-';
					}
					if($this->totalresult[0]['AVGSELL']!='0.00'){
						$avgsell = 'IDR '.Application_Helper_General::displayMoney($this->totalresult[0]['AVGSELL']);
					}else{
						$avgsell = '-';
					}

				}
				echo '<tr>
					<td class="'.$td_css.'" colspan="6" align="left">Total : </td>
					<td class="'.$td_css.'" >'.$sumbuy.'</td>
					<td class="'.$td_css.'" >'.$avgbuy.'</td>
					<td class="'.$td_css.'" >'.$sumsell.'</td>
					<td class="'.$td_css.'" >'.$avgsell.'</td>
					<td class="'.$td_css.'" align="right" >'.$sumeq.'</td>
					<td class="'.$td_css.'" colspan="2"></td>
					</tr>
					';

				if($sumsell == '-' && $sumbuy == '-'){
					$nettext = '-';
				}else if($sumsell == '-'){
					$nettext = '(+) '.$sumbuy;
				}else if($sumbuy == '-'){
					$nettext = '(-) '.$sumsell;
				}else{
					$selisih = $this->totalresult[0]['SUMBUY']-$this->totalresult[0]['SUMSELL'];
					// 					print_r($this->totalresult[0]['SUMBUY']);
					if($selisih<0){
						$nettext = '(-) '.Application_Helper_General::displayMoney($selisih);
					}else{
						$nettext = '(+) '.Application_Helper_General::displayMoney($selisih);
					}
					// 					print_r($this->totalresult[0]['SUMSELL']);
					// 					die;
					// 					$nettext =
				}
				echo '<tr>
					<td class="'.$td_css.'" colspan="6" align="left">Net (Amount Buy - Amount Sell) </td>
					<td class="'.$td_css.'" colspan="7" align="left">'.$nettext.'</td>

					</tr>
					';
			}
			else
			{
			?>	<tr>
					<td class="tbl-evencontent" colspan="14" align="center">--- <?php echo $nodata?> ---</td>
				</tr> <?php
			}



			?>


	</table><br />
	</div>

	<div align="right">
		<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
	</div><br>

	<div class="table-responsive">
	<table class="table table-sm table-striped">
	<tbody>
		<tr>
		 <th  valign="top">Notice :</th>
		 </tr>
		<tr>
		<td style="text-align: center">
		Please check the filter (Note: Field mandatory cannot be empty)
		</td>
		</tr>
		<tr>
		<td class="tbl-evencontent"  style="text-align: center">
		--- <?php echo $nodata?> ---
		</td>
		</tr>
		 </tbody>
		 </table>
	</div>
	<?php
	}else{
	?>


		<?php
	}
	?>
	</div>
</div>

<script type="text/javascript">
function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
$(document).ready(function(){

$("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-"+ctr+"' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>"+optstr+"</select></div><div style='display:none'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-"+ctr+"'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);
    });
});
	function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
	var $coll = $( '.event_select' );
    $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });

    $(colval).empty();
  	if(colomnname == 'PS_TRFDATE' ){
        $(colval).append("<input type='text' class='form-control' name='trfdate[]' id='trfdateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='trfdate[]' id='trfdateEnd' readonly required>");
 
												                    
												                       $('#trfdateStart').datepicker({
												                            format: 'dd/mm/yyyy',
												                            uiLibrary: 'bootstrap4'
												                        });
												                        $('#trfdateEnd').datepicker({
												                            format: 'dd/mm/yyyy',
												                            uiLibrary: 'bootstrap4'
												                        });
												                    
    }else if(colomnname == 'CCY'){

            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'ccy'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'TRFTYPE'){
            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'tratypereport'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else{
         $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");            
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>
