
<style>
.accordionDiv{
  background-color: #e0dede;
  border-radius: 10px;
  height: 40px;
  margin-top: 10px;
}
</style>
<script type="text/javascript">
	function forceNumber(evt){
	    var charCode = (evt.which) ? evt.which : event.keyCode;
	    if ((charCode >= 48 && charCode <= 57) || charCode == 8 )
	        return true;
	    return false;
	}

    $(document).ready(function () {

         $(".tokeninput").keyup(function (e) {

              if ((e.which == 8 || e.which == 46) && $(this).val() =='') {
                    // $(this).prev().prop("disabled", false);
                    // $(this).next().prop("disabled", true);
                    $(this).prev().focus();

            }else{
                // $(this).next().prop("disabled", false);
                $(this).next().focus();
                // $(this).prop("disabled", true);

            }
          });

          $('#tokenmodal').on('shown.bs.modal', function() {
            // alert();
            $('.firsttokenfield').trigger('focus');
          });

           $('#tokenmodal2').on('shown.bs.modal', function() {
            $('.firsttokenfield').trigger('focus');
          });

    });
</script>

<div class="row hiddenprint">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span>Request Special Rate</span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>

                <li>
                    <span class="inhouse"><?=$this->language->_('Request List Detail')?></span>
                </li>

            </ul>
        </div>
    </div>
</div>

<form name="approveFormClaim" id="approveFormClaim" class="form-horizontal form-bordered form-row-stripped" method="post" action="">

 <div class="row pt-2">
    <div class="col-md-7">
        <?php
            if($this->token){
              if($this->hidetoken){
            if ($this->confirmPage == 1){
              if($this->releaseresult){
                ?>
                    <div class="alert alert-success"><?=$this->language->_('Transaction Success')?></div><br />
                <?php
              }else{
                ?>
                     <div class="alert alert-danger"><?=$this->language->_('Transaction Failed')?></div><br />
                <?php
              }
              }
            }
          }
        ?>
        <?php if($this->error){ ?>
                <div class="alert alert-danger"><?=$this->language->_($this->report_msg)?></div><br />
         <?php } ?>
    </div>
   
      <div class="col-md-5">
        
      </div>
 
  </div>

  <div class="row pt-1">


      <div class="col-md-7">
             <h6><?=$this->language->_('Request Special Rate Detail')?></h6>
             <script>
                                function replaceText() {
                                    var x = document.getElementById("ACBENEF").value;
                                    document.getElementById("ACBENEF1").value = x.slice(-4);
                                }
            </script>
              
              


              <!-- <div class="form-group row">
                  <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Subject'); ?><strong class="formreq"><font color="red"></font></strong></label>
                  <div class="col-sm-8 pt-2">
                    <?php echo $this->formText('SUBJECT',$this->SUBJECT,array('size'=>40,'maxlength'=>128,'class'=>'form-control'))?>
                  </div>
              </div> -->

              <div class="form-group row">
                  <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Request ID'); ?><strong class="formreq"><font color="red"></font></strong></label>
                  <div class="col-sm-8 pt-2">
                  <?= $this->formLabel('REG_NUM',$this->REG_NUM)?>
											<div class="errmsg">
													<?=isset($this->report_msg['source_acct'])?$this->report_msg['source_acct']['isEmpty']:''?>
											</div>
                  </div>
              </div>

              <div class="form-group row">
                  <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Company Name'); ?><strong class="formreq"><font color="red"></font></strong></label>
                  <div class="col-sm-8 pt-2">
                  <?= $this->formLabel('COMP_NAME',$this->compinfo['CUST_NAME'])?>
                  </div>
              </div>

              <div class="form-group row">
                  <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Treasury Ref Code'); ?><strong class="formreq"><font color="red"></font></strong></label>
                  <div class="col-sm-8 pt-2">
                  
                  <?php if ($this->statusnum == '1' || $this->statusnum == '4'){?>
                    <?= $this->formLabel('TREASURY_REFF',$this->TREASURY_REFF)?>
                  <?php }else{?>
                      <?php if($this->actiondata == 'D'){?>
                      <?php echo $this->formText('treasuryreff',$this->treasuryreff,array('size'=>40,'maxlength'=>128,'class'=>'form-control', ))?>
                      <?php }?>
                    <?php }?>
                  </div>
              </div>

              <div class="form-group row">
                  <label class="col-sm-4 col-form-label"><?php echo $this->language->_('From Currency'); ?><strong class="formreq"><font color="red"></font></strong></label>
                  <div class="col-sm-8 pt-2">
                  <?= $this->formLabel('FROM_CCY',$this->FROM_CCY)?>
											<div class="errmsg">
													<?=isset($this->report_msg['fromccy'])?$this->report_msg['fromccy']['isEmpty']:''?>
											</div>
                  </div>
              </div>


               <div class="form-group row">
                  <label class="col-sm-4 col-form-label"><?php echo $this->language->_('To Currency'); ?><strong class="formreq"><font color="red"></font></strong></label>
                  <div class="col-sm-8 pt-2">
                  <?= $this->formLabel('TO_CCY',$this->TO_CCY)?>
										<div class="errmsg">
												<?=isset($this->report_msg['toccy'])?$this->report_msg['toccy']['isEmpty']:''?>
										</div>
                  </div>
              </div>
							<div class="form-group row">
								<label class="col-sm-4 col-form-label"><?php echo $this->language->_('Deal Rate'); ?><strong class="formreq"><font color="red"></font></strong></label>
								<div class="col-sm-8 pt-2">
                  <?php if ($this->statusnum == '1' || $this->statusnum == '4'){?>
                                <label><?= '(IDR) ' . Application_Helper_General::displayMoney($this->DEAL_RATE)?></label>
                  <?php }else{?>
                    <?php if($this->actiondata == 'C' || $this->actiondata == 'U'){?>
                    <div class="input-group" id="">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <strong>
                            IDR
                          </strong>
                        </div>
                      </div>
                      <?php echo $this->formText('amountoff',$this->amountoff,array('size'=>40,'maxlength'=>128,'class'=>'form-control', 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);" , 'onkeypress' => "return forceCurrencyOCBC(event)"))?>
                    </div>
                    <?php }else{?>
                      <label><?= '(IDR) ' . Application_Helper_General::displayMoney($this->DEAL_RATE)?></label>
                    <?php }?>
                    <?php }?>
                </div>
              </div>
							<div class="form-group row">
								<label class="col-sm-4 col-form-label"><?php echo $this->language->_('Valid Date'); ?><strong class="formreq"><font color="red"></font></strong></label>
								<div class="col-sm-8 pt-2">
                                <label><?= Application_Helper_General::convertDate($this->VALID_DATE,$this->viewDateFormat,$this->defaultDateFormat)?></label>
                  </div>
              </div>
							<div class="form-group row">
								<label class="col-sm-4 col-form-label"><?php echo $this->language->_('Request Date'); ?><strong class="formreq"><font color="red"></font></strong></label>
								<div class="col-sm-8 pt-2">
                                <label><?= Application_Helper_General::convertDate($this->RATE_REQUESTED,$this->displayDateTimeFormat,$this->defaultDateFormat)?></label>
                  </div>
              </div>
							<div class="form-group row">
								<label class="col-sm-4 col-form-label"><?php echo $this->language->_('Request By'); ?><strong class="formreq"><font color="red"></font></strong></label>
								<div class="col-sm-8 pt-2">
                                <label><?= $this->RATE_REQUESTBY?></label>
                  </div>
              </div>
							<div class="form-group row">
								<label class="col-sm-4 col-form-label"><?php echo $this->language->_('Last Updated Date'); ?><strong class="formreq"><font color="red"></font></strong></label>
								<div class="col-sm-8 pt-2">
                                <label><?= Application_Helper_General::convertDate($this->RATE_UPDATED,$this->displayDateTimeFormat,$this->defaultDateFormat)?></label>
                  </div>
              </div>
							<div class="form-group row">
								<label class="col-sm-4 col-form-label"><?php echo $this->language->_('Last Update By'); ?><strong class="formreq"><font color="red"></font></strong></label>
								<div class="col-sm-8 pt-2">
                                <label><?= $this->RATE_UPDATEDBY?></label>
                  </div>
              </div>
							<div class="form-group row">
								<label class="col-sm-4 col-form-label"><?php echo $this->language->_('Approved Date'); ?><strong class="formreq"><font color="red"></font></strong></label>
								<div class="col-sm-8 pt-2">
                                <label><?= Application_Helper_General::convertDate($this->RATE_APPROVED,$this->displayDateTimeFormat,$this->defaultDateFormat)?></label>
                  </div>
              </div>
							<div class="form-group row">
								<label class="col-sm-4 col-form-label"><?php echo $this->language->_('Approved By'); ?><strong class="formreq"><font color="red"></font></strong></label>
								<div class="col-sm-8 pt-2">
                                <label><?= $this->RATE_APPROVEBY?></label>
                  </div>
              </div>
							<div class="form-group row">
								<label class="col-sm-4 col-form-label"><?php echo $this->language->_('Status'); ?><strong class="formreq"><font color="red"></font></strong></label>
								<div class="col-sm-8 pt-2">
                                <label><?= $this->STATUS?></label>
                  </div>
              </div>

              <br/>
              <br/>
              



      </div>

      <div class="col-md-5">

      </div>

    </div>
    

    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12 p-0 accordionDiv">
            <table width="100%" border='0'>
              <tr>
                <td align="left">
                  <div class="row">
                    <div class="col-md-3"><h6 class="pt-2 pl-2 textBlack"><b><?php echo $this->language->_('History');?></b></h6></div>
                  </div>
                </td>
                <td align="right">
                  <i class="iconCircle fas fa-chevron-down pt-2" onclick="detailHistoryShow()" id="historyBtnShow"></i>
                  <i class="iconCircle fas fa-chevron-up pt-2" onclick="detailHistoryHide()" id="historyBtnHide"></i>
                </td>
              </tr>
            </table>
        </div> 

        <div class="col-md-12 p-0 mb-4 mt-1 content-box" style="background-color: #ffffff !important;" id="historyDiv">
          <?php echo $this->action('index',
                      'specialrequest',
                      'tools',
          array('numreq' => $this->REG_NUM)); ?>
        </div>
      </div>
    </div>





			
					
					
					
					
								
							<br/>
							<div class="row justify-content-center" style="text-align:center">
                      <div class="col-sm-8">
                      <div class="panel panel-default" style="border:0px">
                      <!-- Default panel contents -->
                      	<input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url(array('module'=>'requestspecialrate','controller'=>'index','action'=>'index'),null,true)?>'" value = "<?php echo $this->language->_('Back'); ?>">

                        <?php if($this->statusnum == '2' || $this->statusnum == '3'){?>
                          <button name="cancel" type="button" id="cancel" class="btn-sm btnred hov">Reject</button>
                          <?php if($this->actiondata == 'D'){?>
                          <button name="newapprove" type="button" id="newapprove" class="btn-sm btngreen hov">Approve</button>
                          <?php }else{?>
                          <button name="approve" type="button" id="approve" class="btn-sm btngreen hov">Authorize</button>
                          <?php }?>
                        <?php }?>
                    </div>
                    <div class="col-sm-6">&nbsp;</div>
                      </div>
                    </div>
	   </form>

     
					

<script>
function numberWithCommas(x,id) {
	const formattermoney = new Intl.NumberFormat('ID', {
		minimumFractionDigits: 0
	});
	var tag = '#'+id;
		// $(nams).text(formattermoney.format(obj[k].BALANCE));
	var x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		$(tag).val(x);
//return 
}

function detailHistoryShow()
  {
    $('#historyDiv').show();
    $('#historyBtnHide').attr('Onclick','detailHistoryHide()');
    $('#historyBtnShow').hide();
    $('#historyBtnHide').show();

  }

  function detailHistoryHide()
  {
    $('#historyDiv').hide();
    $('#historyBtnShow').attr('Onclick','detailHistoryShow()');
    $('#historyBtnHide').hide();
    $('#historyBtnShow').show();
  }

$(document).ready(function(){
  $("#cancel").attr('onclick', '$("<input>", {type: "hidden",name: "reject",value: "reject"}).appendTo("#approveFormClaim");$("#approveFormClaim").submit();');

  $("#approve").attr('onclick', 'if($("#amountoff").val() == ""){alert("Field cannot be empty");}else{$("<input>", {type: "hidden",name: "deal",value: "deal"}).appendTo("#approveFormClaim");$("#approveFormClaim").submit();}');

  $("#newapprove").attr('onclick', 'if($("#treasuryreff").val() == ""){alert("Field cannot be empty");}else{$("<input>", {type: "hidden",name: "approvesr",value: "approvesr"}).appendTo("#approveFormClaim");$("#approveFormClaim").submit();}');
})

</script>