<form name="formadd" method="post">
	<br />
	<table align="center" border="0" cellpadding="0" cellspacing="0" width="700">
		<tbody>
			<tr>
				<td colspan="3">
					<div class="tabheader" id="tabheader"><?php echo $this->language->_('Interface Logs'); ?></div><br />
				</td>
			</tr>
			<tr>
				<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th></tr>
			</tr>
			<tr>
				<td class="tbl-evencontent" width = "100px"><?php echo $this->formLabel('SERVICE_NAME',$this->language->_('Service Name'));?></td>
				<td class="tbl-evencontent" width = "10px">:</td>
				<td class="tbl-evencontent">
					<?php
						echo '<select name="SERVICE_NAME" id="SERVICE_NAME">
								<option value="">-- '.$this->language->_('Any Value').' --</option>';
								foreach($this->arrfunction as $data)
								{
									//echo($data['MEMBER_CODE']."<br>");
									echo '<option value="'.$data['SERVICE_NAME'].'"'; 
										if($data['SERVICE_NAME']==$this->SERVICE_NAME){echo $this->language->_('selected');}
									echo '>'.$data['SERVICE_NAME'].'</option>'; 
								}
						echo '</select>';
					?>
				</td>
			</tr>
			<tr>
				<td class="tbl-evencontent" width = "100px"><?php echo $this->formLabel('LOG_REQ','LOG_REQ')?></td>
				<td class="tbl-evencontent" width = "10px">:</td>
				<td class="tbl-evencontent">
					<?php 								
						echo $this->formText('LOG_REQ',$this->LOG_REQ,array('maxlength'=>'50','size'=>'30')); 
					?>
					mm/dd/yyyy
					<select name="sortdate" id="sortdate">
						<option value=""<?php if($this->sortdate == "Any"){echo ' selected';}?>>--- <?php echo $this->language->_('Any'); ?> ---</option>
						<option value="asc"<?php if($this->sortdate == "asc"){echo ' selected';}?>>Asc</option>
						<option value="desc"<?php if($this->sortdate == "desc"){echo ' selected';}?>>Desc</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="tbl-evencontent" width = "100px"><?php echo $this->formLabel('limit',$this->language->_('Limit')); ?></td>
				<td class="tbl-evencontent" width = "10px">:</td>
				<td class="tbl-evencontent">
					<?php 								
						echo $this->formText('limit',$this->limit,array('maxlength'=>'50','size'=>'30')); 
					?>
				</td>
			</tr>
			<tr>
				<td class="tbl-evencontent" colspan="3">
					<div class="formbutton">
						<?php echo $this->formSubmit('filter','Set Filter',array('class'=>'inputbtn')); ?>
						<?php //echo $this->formSubmit('filter','Clear Filter',array('class'=>'inputbtn')); ?>
					</div>
				</td>
			</tr>

		</tbody>
	</table>
	<br>
	<table align="center"  width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
		<tr>
			<th width="3%" valign="top">
				<?php echo $this->language->_('No'); ?>.
			</th>
			<?php 
				echo $this->partial(
									'tableheader.phtml',array(
																'fields' => $this->fields,
																'sortBy' => $this->sortBy,
																'sortDir' => $this->sortDir,
																'query_string_params' => $this->query_string_params
															)
								   );
/* LOG_ID
LOG_REQ
LOG_RESP
SERVICE_TYPE
CHANNEL_ID
SERVICE_NAME
UUID
REF_ID
XML_REQ
XML_RESP
RESP_CODE
RESP_DESC 
Channel ID
   	 Service Name
   	 Request Date
   	 Response Date
   	 UUID
   	 REF_ID
   	 XML_REQ
   	 XML_RESP
   	 RESP_CODE
   	 RESP_DESC
   	 ACTION
	 */
				if($this->arr)
				{
					$i = 1;
					foreach($this->arr as $row)
					{
						$td_css 	= ($i%2==1)?'tbl-evencontent':'tbl-oddcontent';

						echo '	<tr>
									<td class="'.$td_css.'">'.$i.'</td>
									<td class="'.$td_css.'">'.$row['CHANNEL_ID'].'</td>
									<td class="'.$td_css.'">'.$row['SERVICE_NAME'].'</td>
									<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['LOG_REQ'],"dd MMM yyyy HH:mm:ss",$this->defaultDateFormat).'</td>
									<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['LOG_RESP'],"dd MMM yyyy HH:mm:ss",$this->defaultDateFormat).'</td>
									<td class="'.$td_css.'">'.$row['UUID'].'</td>
									<td class="'.$td_css.'">'.$row['REF_ID'].'</td>
									<td class="'.$td_css.'">'.$row['XML_REQ'].'</td>
									<td class="'.$td_css.'">'.$row['XML_RESP'].'</td>
									<td class="'.$td_css.'">'.$row['RESP_CODE'].'</td>
									<td class="'.$td_css.'">'.$row['RESP_DESC'].'</td>
								</tr>';				
						$i++;
					}
				}
				else
				{
					echo '<tr><td colspan="11" class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
				}
			?>
		</tr>
	</table>
</form>