<?php 
require_once 'General/SystemBalance.php';
?>
<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php 
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<style type="text/css">
  /*:target {
  animation: highlight 1s ease;  
  transform: translateX(20px);     
}*/
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
        color:white;
        background-color: #0a1f3e;
        border-color: #dee2e6 #dee2e6 #fff;
    }

    .nav-item a:hover {
       color: #0a1f3e;
    }

    #deposit_amount_slider {
      float: left;
      clear: left;
      width: 600px;
      margin: 15px;
    }
    #deposit_amount_slider .ui-slider-range { 
      background: #ff0000; 
    }

    #deposit_amount_slider .ui-state-default, .ui-widget-content .ui-state-default {
      background: none;
      background-color: #FFF;
    }

    .gj-slider-md [role=handle]{
      background-color: #0a1f3e;
    }

    .gj-slider-md [role=progress]{
      background-color: #0a1f3e;
    }

    .apiform input[type=button], input[type=submit], input[type=reset]  {
    background-color: #006520;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 40px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  input[type=button]:hover.apiform, input[type=submit]:hover.apiform, input[type=reset]:hover.apiform  {
    background-color: #00c53f;
    cursor: pointer;
  }

  input[type=button]:active.apiform, input[type=submit]:active.apiform, input[type=reset]:active.apiform  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  input[type=number].apiform, input[type=password].apiform, input[type=text].apiform, input[type=email].apiform, textarea.apiform {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  input[type=number]:focus.apiform, input[type=password]:focus.apiform, input[type=text]:focus.apiform, input[type=email]:focus.apiform, textarea:focus.apiform {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }

  input[type=number]:placeholder.apiform, input[type=password]:placeholder.apiform, input[type=text]:placeholder.apiform, input[type=email]:placeholder.apiform, textarea:placeholder.apiform {
    color: #cccccc;
  }
</style>



<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('Home Page');?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                    <span><?php echo $this->language->_('Google Auth');?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                    <span><?php echo $this->language->_('Confirmation');?></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<br />
  <div class="portlet-body">

    <?php if($this->success){ ?>
      <div class="successmsg alert alert-success"><?php echo $this->language->_('Data Updated');?></div><br />
    <?php } ?>
    <?php if(count($this->report_msg) > 0){ ?>
      <div class="errmsg alert alert-danger"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.');?></div><br />
    <?php } ?>
  </div>

    <form method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true)?>" enctype="multipart/form-data">
        <!-- <div class="bg-white shadow-lg col-md-6 mx-auto mb-4"> -->

          <br>
          <br>
          <br>

          <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h3 style="text-align: center;"><b><?php echo $this->language->_('Email has been sent');?></b></h3>
            </div>
          </div>
          <br/>
          <br/>
          <div class="row">
            <div class="col-md-12" style="text-align: center">
               <img src="/images/success.png" style="width: 200px;">
            </div>
          </div>
          <br>
          <div class="col-md-12" align="center">
              <h4><?php echo $this->msg; ?></h4>
          </div>
        </div>

        <br/>
        <br/>

        <div class="col-md-12" align="center">
             <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/googleauth\'','class'=>'btnwhite hov')); ?>
        </div>
        <br/>
        <br/>
        <br/>

           
          <!-- </div> -->
      </form>