<script type="text/javascript">
    $(document).ready(function() {
        $('div#sidebar-collapse').click(function() {
            if ($("#logo-title").is(":visible")) {
                $("#logo-title").hide();
                $("#logo-titles").hide();
            } else if ($("#logo-title").is(":hidden")) {
                $("#logo-title").show();
                $("#logo-titles").show();
            }
        })

        $('#sgdateStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#sgdateEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });

        $('#fixTable').fixTableHeader();

    });
</script>

<?php

$query_string_params = Zend_Controller_Front::getInstance()->getRequest()->getQuery();
if (is_array($query_string_params)) {
    $qstring = '?';
    foreach ($query_string_params as $key => $val)
        $qstring .= $key . '=' . $val . '&';
    $qstring = substr($qstring, 0, -1);
} else
    $qstring = '';

$counter = (($this->paginator->getCurrentPageNumber() - 1) * $this->paginator->getItemCountPerPage()) + 1;

?>
<?php $setfilter = $this->language->_('Set Filter'); ?>
<?php $filterclear = $this->language->_('Clear Filter'); ?>
<?php $to = $this->language->_('To'); ?>
<?php $from = $this->language->_('From'); ?>
<?php $nodata = $this->language->_('No Data'); ?>

<?php $changereqlist = $this->language->_('Changes Request List'); ?>
<?php $suggestdata = $this->language->_('Suggest Data'); ?>
<?php $dataid = $this->language->_('Data ID'); ?>
<?php $suggesttype = $this->language->_('Suggest Type'); ?>
<?php $dataname = $this->language->_('Data Name'); ?>
<?php $suggeststatus = $this->language->_('Suggest Status'); ?>
<?php $suggesteddate = $this->language->_('Suggested Date'); ?>
<?php $suggestedby = $this->language->_('Suggested By'); ?>
<?php $action = $this->language->_('Action'); ?>
<?php $detail = $this->language->_('Detail'); ?>


<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('Approval Request'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <?php echo $this->language->_('Online Registration'); ?>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row content-box">
    <div class="portlet-body form col-md-12">
        <h5><?= $this->language->_('Online Registration') ?></h5>

        <form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">
            <?php
            $optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
            foreach ($this->filterlist as $row_key => $row) {
                $optArr .=  '<option value="' . $row . '" >' . $row_key . '</option>';
            }

            ?>
            <div class="row " id="logo-titles" style="margin-left: 0px">
                <?php
                if (!empty($this->wherecol)) {
                ?>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $("#logo-title").show();
                        });
                    </script>
                <?php
                }
                // print_r($this->whereval);
                // die;
                $index = 0;
                foreach ($this->wherecol as $key => $value) {
                ?>
                    <div id="searchs" style="width: 100%">
                        <?php

                        $selectlist = array('CUST_REG_NUMBER', 'CUST_NAME', 'CUST_CONTACT_PHONE', 'CUST_PHONE', 'LASTUPDATED_DATE', 'READ_STATUS', 'registration_status');



                        ?>
                        <div id="where-<?= $index ?>">
                            <div class="form-group row mt-12">
                                <div class="col-md-4 form-inline">
                                    <select class='form-control event_select' id='wherecol-<?= $index ?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                        <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                        <?php

                                        foreach ($this->filterlist as $row_key => $row) {
                                            $colname = $row;
                                            if ($value == $colname) {
                                                $selected = "selected";
                                            } else {
                                                $selected = "";
                                            }
                                        ?>
                                            <option value="<?= $row ?>" <?= $selected ?>><?= $row_key; ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col" style="display: none">
                                    <select class='form-control' id='whereopt-<?= $index ?>' name='whereopt[]'>

                                        <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN
                                            </option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN
                                            </option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>
                                                GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS
                                                THAN OR EQUAL TO</option>
                                        <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL
                                            </option>
                                            <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE
                                            </option>
                                        <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL
                                            </option>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN
                                            </option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN
                                            </option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>
                                                GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS
                                                THAN OR EQUAL TO</option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col-md-6 form-inline" id='colvalue-<?= $key ?>'>


                                    <?php

                                    if ($value == 'LASTUPDATED_DATE') { ?>
                                        <input type='text' class='form-control' name='suggestdate[]' id='sgdateStart' readonly value="<?= $this->sgdateStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='suggestdate[]' id='sgdateEnd' value="<?= $this->sgdateEnd ?>" readonly required>
                                    <?php } else if ($value == 'registration_status') { ?>
                                        <select name="whereval[]" class="form-control" style="width: 100%;">
                                            <option value='RR' <?= $this->whereval[$index] == 'RR' ? "selected" : ""; ?>>Reqest Repaired</option>
                                            <option value='WA' <?= $this->whereval[$index] == 'WA' ? "selected" : ""; ?>>Waiting for approve</option>
                                            <option value='AP' <?= $this->whereval[$index] == 'AP' ? "selected" : ""; ?>>Approved</option>
                                            <option value='RJ' <?= $this->whereval[$index] == 'RJ' ? "selected" : ""; ?>>Reject</option>
                                        </select>
                                    <?php } else if (in_array($value, $selectlist)) { ?>
                                        <input class='form-control' type='text' name='whereval[]' value='<?= $this->whereval[$index] ?>' />
                                    <?php } ?>

                                </div>
                                <div class="col-md-2 form-inline">
                                    <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>

                <?php
                    $index++;
                }
                ?>

            </div>


            <div class="row " id="logo-title" style="display: none">
                <div class="portlet-body form col-md-12">
                    <div id="wheres" style="width: 100%">
                        <?php if (!$this->wherecol) { ?>
                            <div id="where-<?= $index ?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?= $index ?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                            <?php

                                            foreach ($this->filterlist as $row_key => $row) {
                                                $colname = $row;
                                                if ($value == $colname) {
                                                    $selected = "selected";
                                                } else {
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?= $row ?>"><?= $row_key; ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?= $index ?>' name='whereopt[]'>

                                            <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                                                <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER
                                                    THAN</option>
                                                <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN
                                                </option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>
                                                    GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>
                                                    LESS THAN OR EQUAL TO</option>
                                            <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                                                <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL
                                                </option>
                                                <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>
                                                    LIKE</option>
                                            <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                                                <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL
                                                </option>
                                                <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER
                                                    THAN</option>
                                                <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN
                                                </option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>
                                                    GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>
                                                    LESS THAN OR EQUAL TO</option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?= $index ?>'>
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value='' />
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        <?php } ?>
                        <?php //}}
                        ?>
                    </div>
                    <input type="hidden" id="wherectr" value="<?= $index ?>" />
                    <!-- <input type="hidden" id="wherectr" value="0" /> -->
                    <br />
                    <button type="button" class="btngreen hov" id="addwhere"><?php echo $this->language->_('Add Filter'); ?></button>
                    &nbsp;
                    <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
                    &nbsp;
                    <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">


                    <br />

                </div>
                <div class="col-md-4">
                </div>

            </div>
            <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
                <a href="#" class="sidebar-collapse-icon with-animation">
                    <?php echo $this->language->_('Advanced Search'); ?>
                </a>
            </div>
        </form>

    </div>

</div>

<div class="row">
    <div class="col-md-12">

        <div class="form-group">

            <div style="float:right; padding-left:5px;">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="search form-control" id="searchtable" placeholder="Search">
                </div>
            </div>
            <div style="float:right; padding-left:10px;">
                <form name="printForm" <?= $this->url(array('data_filter' => $this->data_filter, 'module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post" onsubmit="target_popup(this)">

                    <?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) {
                        // echo $this->formSubmit('pr',$this->language->_('print'),array('class'=>'btnwhite disabled','disabled'=>'disabled'));
                        // echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;' . $this->language->_("Print") . '</button>';
                    } else {
                    ?>
                        <!-- <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)) . $this->qstring ?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print") ?></button>&nbsp; -->
                        <!-- <button type="submit" value="Print" name="print" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;
                            <?PHP echo $this->language->_("Print") ?>
                        </button>&nbsp; -->
                    <?php
                    }
                    ?>
                </form>
            </div>
            <div style="float:right; padding-left:10px;">
                <form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">
                    <!-- <?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) { ?> -->
                    <!-- <?php echo $this->formSubmit('pdf', $this->language->_('PDF is too large (function is disabled)'), array('class' => 'btnwhite disabled', 'disabled' => 'disabled')); ?> -->
                    <!-- <?php echo '<input type="submit" value="&#xf1c1; PDF is too large (function is disabled)" name="pdf" id="pdf" class="fa disabled" disabled="disabled">'; ?>&nbsp; -->
                    <!-- <?php } else { ?> -->
                    <!-- <?php echo $this->formSubmit('pdf', 'PDF', array('class' => 'btngreen hov')); ?> -->
                    <!-- <?php echo '<input type="submit" value="&#xf1c1; PDF" name="pdf" id="pdf" class="fa">'; ?>&nbsp; -->
                    <!-- <?php } ?> -->

                    <?php if (($this->paginator->getTotalItemCount()) > $this->applicationSetting['max_row_download_csv']) { ?>
                        <!-- <?php echo $this->formSubmit('csv', 'CSV is too large (function is disabled)', array('class' => 'btnwhite disabled', 'disabled' => 'disabled')); ?>&nbsp; -->
                        <?php echo '<input type="submit" value="&#xf6dd CSV is too large (function is disabled)" name="csv" id="csv" class="fa disabled" disabled="disabled">' ?>&nbsp;
                    <?php } else { ?>
                        <!-- <?php echo $this->formSubmit('csv', 'CSV', array('class' => 'btngreen hov')); ?>&nbsp; -->
                        <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa">' ?>&nbsp;
                    <?php } ?>
                    <!--		<input class="inputbtn" value="<?php echo $this->language->_('Print') ?>" onclick="window.print();" type="button">-->
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <?php if ($this->success) { ?>
            <br />
            <div class="alert alert-success"><?= $this->language->_($this->report_msg) ?></div>
        <?php } else if ($this->error) { ?>
            <br />
            <div class="alert alert-danger"><?= $this->language->_($this->report_msg) ?></div>
        <?php } ?>

        <br />


        <?= $this->form('formAct', array(
            'name' => 'actForm',
            'action' => $this->url(
                array(
                    'module' => Zend_Controller_Front::getInstance()->getRequest()->getModuleName(),
                    'controller' => Zend_Controller_Front::getInstance()->getRequest()->getControllerName(),
                    'action' => Zend_Controller_Front::getInstance()->getRequest()->getActionName()
                )
            ) . $qstring,
            'method' => 'post'
        )); ?>

        <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
            <table class="table table-sm table-striped" id="myTable">
                <thead>
                    <tr>
                        <th class="tablehead" valign="top" width="3%">No</th>
                        <?php echo $this->partial(
                            'tableheader.phtml',
                            array(
                                'fields' => $this->fields,
                                'sortBy' => $this->sortBy,
                                'sortDir' => $this->sortDir,
                                'query_string_params' => $query_string_params
                            )
                        ) ?>
                    </tr>
                </thead>
                <tbody>
                    <?php

                    if (count($this->paginator) > 0) {
                        foreach ($this->paginator as $row) {
                            if ($counter % 2 == 0)
                                $css = 'tbl-evencontent';
                            else
                                $css = 'tbl-oddcontent';

                            $changesCreated = Application_Helper_General::convertDate($row['LASTUPDATED'], $this->displayDateTimeFormat, $this->defaultDateFormat);


                            //create actionArray (dropdown) values


                            //if suggestion type is Activate or Deactivate, then it's not possible to request repair



                            if ($row['READ_STATUS'] == 0) {
                                $suggestionStatus = $this->language->_('Unread Suggestion');
                            } elseif ($row['READ_STATUS'] == 1) {
                                $suggestionStatus = $this->language->_('Read Suggestion');
                            } elseif ($row['READ_STATUS'] == 2) {
                                $suggestionStatus = $this->language->_('Repaired Suggestion');
                            }


                    ?>

                            <tr>
                                <td class="<?= $css ?>"><?= $counter ?></td>
                                <td class="'.$td_css.'" width="20%"><a href="<?= $this->url(array('module' => 'echanrequest', 'controller' => 'detail', 'action' => 'index', 'regNumber' => $row['CUST_REG_NUMBER'], 'changes_id' => $row['CHANGES_ID']), null, true); ?>"><?= $row['CUST_REG_NUMBER']; ?></a></td>
                                <td class="<?= $css ?>"><?= $row['CUST_NAME'] ?></td>
                                <td class="<?= $css ?>"><?= $row['CUST_CONTACT'] ?></td>
                                <td class="<?= $css ?>"><?= $row['CUST_CONTACT_PHONE'] ?></td>
                                <td class="<?= $css ?>"><?= $changesCreated ?></td>
                                <td class="<?= $css ?>"><?= $suggestionStatus ?></td>
                                <td class="<?= $css ?>"><?= $row['registration_status'] ?></td>

                            </tr>
                    <?php
                            $counter++;
                        }
                    } else {
                        echo "<tr><td width='1000' class='tbl-evencontent' colspan='13' align='center'>--  " . $this->language->_('No Data') . " --</td></tr>";
                    }
                    ?>
                </tbody>
            </table>
        </div>

        </form>
        <br />
        <div align="right">
            <?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?>
        </div><br />
    </div>
</div>

<script type="text/javascript">
    function removeParent(elem) {
        var parentname = elem.parentNode.parentNode.parentNode.id;
        $("#" + parentname).remove();
    }
    $(document).ready(function() {

        $("#addwhere").click(function() {
            var ctr = $("#wherectr").val();
            var optstr = '<?php echo $optArr; ?>';
            var wherecol = "#wherecol-" + ctr;
            $("#wheres").append("<div id='where-" + ctr +
                "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" +
                ctr + "' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>" + optstr +
                "</select></div><div style='display:none'><select class='form-control' id='whereopt-" +
                ctr +
                "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" +
                ctr +
                "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>"
            );
            ctr++;
            $("#wherectr").val(ctr);
        });

        $("#searchtable").keyup(function() {
            var value = this.value.toLowerCase().trim();

            $("#myTable tr").each(function(index) {
                if (!index) return;
                $(this).find("td").each(function() {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });


    });

    function getOpt(elem) {
        var id = elem.id;
        var temp = id.split('-');
        var ctr = temp[1];

        var selval = elem.value;
        var tempval = selval.split('-');
        dttype = tempval[1];

        colomnname = tempval[0];
        var colval = "#colvalue-" + ctr;
        var colselect = "colselect-" + ctr;
        var ncolselect = "#colselect-" + ctr;
        var $coll = $('.event_select');
        $coll.children().prop('disabled', false);
        $coll.each(function() {
            var val = this.value;
            if (val === 'original') return;
            $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
        });

        $(colval).empty();
        if (colomnname == 'LASTUPDATED_DATE') {
            $(colval).append(
                "<input type='text' class='form-control'  name='suggestdate[]' id='sgdateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='suggestdate[]' id='sgdateEnd' readonly required>"
            );
            $('#sgdateStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#sgdateEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });

        } else if (colomnname == 'SUGGESTION_TYPE') {

            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect +
                "' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'echanelsugesttype'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });
        } else if (colomnname == 'registration_status') {
            $(colval).append(
                "<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>"
            );
            $(ncolselect).html("<option value='RR'>Reqest Repaired</option> <option value='WA'>Waiting for approve</option> <option value='AP'>Approved</option> <option value='RJ'>Reject</option>");
        } else {
            $(colval).append(
                "<input type='text' name='whereval[]' style='width:100%' value='' maxlength='160'  class='form-control' >"
            );
        }


        var optsel = "whereopt-" + ctr;
        document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

        if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
            document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }
        if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
        } else if (dttype == 'date' || dttype == 'datetime') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }

        var colomn = '#whereopt-' + ctr;
        var data = $(colomn).val('EQUAL').change();

    }

    function target_popup(form) {
        window.open('', 'formpopup', 'width=1200,height=600,resizeable,scrollbars');
        form.target = 'formpopup';
    }
</script>