<style type="text/css">
  .switch{
    display: inline-block;
    width: 135px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -ms-transition:     all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
    text-decoration: none;
  }

  .aktif {
    background-color: #A5DC86;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
  }

  .active{
      color:white;
      border-color: #dee2e6 #dee2e6 #fff;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin-top: -10px;
      padding-bottom: 10px;
      padding-top: 14px;
      height: 47.5px;
      font-size: 13px
  }
</style>

<style type="text/css">
  .nav-tabs .nav-link {
      border-color: #c9c9c9;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      text-align: center;
      font-size: 12px;
      width: 200px;
      text-transform: uppercase;
    }
    .nav-tabs .nav-link:hover {
      border-color: #c9c9c9;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color:white;
      margin-top: -10px;
        padding-bottom: 10px;
        top: -10px;
        padding-top: 18px;
        height: 47.5px;
        width: 200px;
        text-transform: uppercase;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
        color:white;
        border-color: #dee2e6 #dee2e6 #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-top: -10px;
        padding-bottom: 10px;
        top: -10px;
        padding-top: 14px;
        height: 47.5px;
        font-size: 14px;
        width: 200px;
        text-transform: uppercase;
    }
</style>

<script type="text/javascript">
  $(document).ready(function(){
    $('div#sidebar-collapse').click(function(){
        if ( $("#logo-title").is(":visible") ) {
          $("#logo-title").hide();
          $("#logo-titles").hide();
        } else if ( $("#logo-title").is(":hidden") ) {
          $("#logo-title").show();
          $("#logo-titles").show();
        }
      })

    $('#fixTable').fixTableHeader();

    $("#searchtable").keyup(function() {
        var value = this.value.toLowerCase().trim();

        $("#myTable tr").each(function(index) {
            if (!index) return;
            $(this).find("td").each(function() {
                var id = $(this).text().toLowerCase().trim();
                var not_found = (id.indexOf(value) == -1);
                $(this).closest('tr').toggle(!not_found);
                return not_found;
            });
        });
    });

    $('#sugestStart').datepicker({
			minDate: function() {
			var mindate = new Date();
			mindate.setDate(mindate.getDate() - 180);
			return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
			},
			maxDate: function() {
				var maxdate = new Date();
				maxdate.setDate(maxdate.getDate());
				return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
			},
			format: 'dd/mm/yyyy',
			uiLibrary: 'bootstrap4',
			
		});
		$('#sugestEnd').datepicker({
			minDate: function() {
			var val = document.getElementById('sugestStart').value;
			var parts = val.split("/");
			var mindate = new Date(parts[2], parts[1] - 1, parts[0]); 

			mindate.setDate(mindate.getDate());
			return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
			},
			maxDate: function() {
				
				var maxdate = new Date();
				return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
			},
			format: 'dd/mm/yyyy',
			uiLibrary: 'bootstrap4'
		});
    $('#updateStart').datepicker({
			minDate: function() {
			var mindate = new Date();
			mindate.setDate(mindate.getDate() - 180);
			return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
			},
			maxDate: function() {
				var maxdate = new Date();
				maxdate.setDate(maxdate.getDate());
				return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
			},
			format: 'dd/mm/yyyy',
			uiLibrary: 'bootstrap4',
			
		});
		$('#updateEnd').datepicker({
			minDate: function() {
			var val = document.getElementById('updateStart').value;
			var parts = val.split("/");
			var mindate = new Date(parts[2], parts[1] - 1, parts[0]); 

			mindate.setDate(mindate.getDate());
			return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
			},
			maxDate: function() {
				
				var maxdate = new Date();
				return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
			},
			format: 'dd/mm/yyyy',
			uiLibrary: 'bootstrap4'
		});
});
</script>
<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span>Management</span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="inhouse"><?=$this->language->_('User Daily Limit Scheme')?></span>
                  </li>

              </ul>
          </div>
        </div>
    </div>
<!-- <div class="container"> -->
        <!-- <br> 
        <div class="row col-md-12">
                <button  onclick="location.href='/userdailylimit'" class="btngreen hov col-md-4 active" type="button" name="button"><?=$this->language->_('Daily Limit')?></button>
                <?php if($this->system_type == '2'){
            if($this->hasPrivilege('VMLU')){ 
          ?>
                <button  onclick="location.href='/useropenlimit'" class="btnwhite hov col-md-4 " type="button" name="button" ><?=$this->language->_('Maker Limit')?></button>
              <?php 
            }
        }else{
          
                  ?>
                  <button  onclick="location.href='/userlimit'" class="btnwhite hov col-md-4 " type="button" name="button" ><?=$this->language->_('Maker Limit')?></button>
                  <?php
          
              } ?>

        </div>

        <br> -->
        <br>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" value="1" at="1" onclick="location.href='/userdailylimit'" id="compinfo-tab" data-toggle="tab" href="#compinfo" role="tab" aria-controls="compinfo" aria-selected="true">Daily Limit</a>
             
          </li>
          <?php if($this->system_type == '2'){
            if($this->hasPrivilege('VMLU')){ 
          ?>
                 <li class="nav-item">
                  <a class="nav-link" value="2" at="2" onclick="location.href='/useropenlimit'" id="paywork-tab" data-toggle="tab" href="#paywork" role="tab" aria-controls="paywork" aria-selected="false">Maker Limit</a>
                  
                </li>
              <?php 
            }
          }
          //else if($this->system_type == '1'){
    
              ?>
               <li class="nav-item">
                  <a class="nav-link" value="2" at="2" onclick="location.href='/useropenlimit'" id="paywork-tab" data-toggle="tab" href="#paywork" role="tab" aria-controls="paywork" aria-selected="false">Maker Limit</a>
                  
                </li>
              <?php

          //}else if($this->system_type == '3'){
           //     if($this->hasPrivilege('VMLU')){ 
              ?>
                <!--  <li class="nav-item">
                    <a class="nav-link" value="3" at="3" onclick="location.href='/useropenlimit'" id="paywork1-tab" data-toggle="tab" href="#paywork" role="tab" aria-controls="paywork" aria-selected="false">Maker Limit OPB</a>
                    
                  </li> -->
              <?php 
            //    } 
                ?>
              <!-- <li class="nav-item">
                  <a class="nav-link" value="2" at="2" onclick="location.href='/userlimit'" id="paywork-tab" data-toggle="tab" href="#paywork" role="tab" aria-controls="paywork" aria-selected="false">Maker Limit CMS</a>
                  
                 </li> -->
              <?php

          //}

              ?>
         
        </ul>
    <!-- </div> -->
<br>
<!-- <div class="page-bar"></div> -->
<?php
  $counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
?>

<div class='content-box'>
<div class="row">
<div class="portlet-body form col-md-12">
<h5><?=$this->language->_('User Daily Limit Scheme')?></h5>
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true)?>" method="get">
    <?php
  $optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
  foreach($this->filterlist as $row){
    $optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
  }

  ?>
  <div class="row " id="logo-titles" style="margin-left: 0px">
      <?php
      if(!empty($this->wherecol)){
        ?>
        <script type="text/javascript">
          $(document).ready(function(){
          $("#logo-title").show();
        });

        </script>
        <?php
      }
      // print_r($this->wherecol);die;
      foreach ($this->wherecol as $key => $value) {
        ?>
          <div id="searchs" style="width: 100%">
                    <?php
                        $datetype = array("USER_UPDATED", "USER_SUGGESTED");
                        $selectlist = array('CCY_ID','USER_ID');
                        $index = 0;



                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$ctr?>' style='width:100%' name='whereco[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($value==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <!-- <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>

                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div> -->
                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'>
                                        <script type="text/javascript">
                                          $(document).ready(function(){
                                          var colval = "#colvalue-s<?=$key?>";
                                          var colomnname = "<?=$value?>";
                                          // var colselect= "<?=$value?>";
                                          var colselect = "colselect-s<?=$key?>";
                                          var ncolselect = "#colselect-s<?=$key?>";
                                          // alert(colomnname);
                                            if(colomnname == 'CCY_ID' ){
                                                  $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
                                                  var id = $("#tablename").find(":selected").val();
                                                  $.ajax({
                                                  url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'ccy'),null,true)?>",
                                                  type: 'GET',
                                                  dataType: "html",
                                                  data: {
                                                      id: '<?=$this->whereval[$key]?>'
                                                  },
                                                  success: function(data) {
                                                      $(ncolselect).html(data);
                                                  },
                                                  error: function(xhr, ajaxOptions, thrownError)
                                                  {
                                                      alert("Failed to get where column list, please try again");
                                                  }
                                              });
                                                  $(colselect).val('<?=$this->whereval[$key]?>');

                                          }else if(colomnname == 'USER_ID'){

                                                $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

                                                var id = $("#tablename").find(":selected").val();
                                                $.ajax({
                                                url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'whereuser'),null,true)?>",
                                                type: 'GET',
                                                dataType: "html",
                                                data: {
                                                    id: '<?=$this->whereval[$key]?>'
                                                },
                                                success: function(data) {
                                                    $(ncolselect).html(data);
                                                },
                                                error: function(xhr, ajaxOptions, thrownError)
                                                {
                                                    alert("Failed to get where column list, please try again");
                                                }
                                            });
                                                $(colselect).val('<?=$this->whereval[$key]?>');

                                        }
                                      });

                                        </script>
                                      <?php
                                      // print_r($value);
                                      // print_r($selectlist);die;
                                      
                                        if ($value == 'USER_SUGGESTED') {
                                          // var_dump($this->whereval);die;
                                        ?>
                                          <input type='text' class='form-control' name='sugestdate[]' id='sugestStart' value="<?= $this->latestSuggestionFrom ?>" readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' value="<?= $this->latestSuggestionTo ?>" name='sugestdate[]' id='sugestEnd' readonly required>
                                        <?php
                                        } else if ($value == 'USER_UPDATED') {
                                        ?>
                                          <input type='text' class='form-control' name='updatedate[]' id='updateStart' value="<?= $this->latestApprovalFrom ?>" readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='updateEnd' value="<?= $this->latestApprovalTo ?>" readonly required>
                                        <?php
                                         }
                                          if(!in_array($value, $selectlist)){
                                        ?>
                                            <!-- <input class='form-control' type='text' style='width:100%'  name='whereval[]' value='<?=$this->whereval[$key]?>'/> -->
                                          <?php }
                                          if (!in_array($value, $datetype)){
                          // print_r($value);die;
                          $index++;
                        }
                                           ?>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>

                </div>

        <?php
      }
      ?>

  </div>


  <div class="row " id="logo-title" style="display: none">
  <div class="portlet-body form col-md-12">
   <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">
                                <!-- <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?=$ctr?>' name='whereco[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($val==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>

                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?=$ctr?>'>
                                        <input class='form-control' style='width:100%' type='text' name='whereval[]' value=''/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div> -->
                            </div>
                    <?php //}}?>
                </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
                <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
                <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">


                <br/>



                               </div>
            <div class="col-md-4">
            </div>

  </div>
  <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
       <a href="#" class="sidebar-collapse-icon with-animation">
           <?php echo $this->language->_('Advanced Search'); ?>
       </a>
   </div>
  <br/>
</form>
</div>
</div>
</div>

<div class="form-group">
  <div style="float:left">
    <?php if($this->hasPrivilege('ADLU')){?>
      <button type="button" onclick="addmodal();" class="btn-sm btngrad"><i class="fa fa-plus"></i>&nbsp;<?=$this->language->_('Add')?></button>
    <?php } ?>
  </div>
</div>

<div align="right">
 <div style="float:right; padding-left:5px;">
      <div class="input-group input-group-sm">
          <div class="input-group-prepend">
                      <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                  </div>
          <input type="text" class="search form-control" id="searchtable" placeholder="Search">
      </div>
  </div>
  <div style="float:right; padding-left:10px;">
    <form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?> method="post">
      <?php if ($this->paginator->getTotalItemCount() > $this->applicationSetting['max_row_download_csv']) { ?>
        
        <?php echo '<input type="submit" value="&#xf6dd Export Files is too large (function is disabled)" name="csv" id="csv" class="fa hov" disabled>'; ?>&nbsp;
      <?php } else { ?>
        
        <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa hov">'; ?>&nbsp;
      <?php } ?>
    </form>
  </div>
</div>
<br />
<br>
<div class="table-responsive" id="fixTable">
<table class="table table-sm table-striped headerNew" id="myTable">
<thead>
  <tr class="headercolor">
    <th class="tablehead" width="5px" valign="top">No</th>
    <th class="tablehead" valign="top">User Name</th>
    <th class="tablehead" valign="top">CCY</th>
    <th class="tablehead" width="160px" valign="top">Daily Limit</th>
    <th class="tablehead" valign="top">Last Suggested By</th>
    <th class="tablehead" valign="top">Last Approved By</th>

    <!-- <th width="3%" height="45px" valign="top" class="tablehead">No</th>
    <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                        'sortBy' => $this->sortBy,
                                                        'sortDir' => $this->sortDir,
                                                        'query_string_params' => $this->query_string_params
                               )
                 )?> -->
    <?php if($this->hasPrivilege('UDLU')){ ?>
      <!-- <th valign="top" class="tablehead"><?php echo $this->language->_('Action'); ?></th> -->
    <?php } ?>
  </tr>
  </thead>
  <tbody>
<?php
if(count($this->paginator))
{
  $i = 0;
  foreach($this->paginator as $row)
  {
  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
  require_once 'Crypt/AESMYSQL.php';
                        $AESMYSQL = new Crypt_AESMYSQL();
                        $rand = $this->token;
                        $encrypted_pwd = $AESMYSQL->encrypt($row['USER_LOGIN'], $rand);
                        // $dt["payReff"] = urlencode($encrypted_pwd);
                        
                        $encreff = urlencode($encrypted_pwd);
  $buttonDetail = $this->url(array('module'=>$this->modulename,'controller'=>'view','action'=>'index','cust_id' => $row['CUST_ID'],'user_id' => $encreff,'ccy_id' => $row['CCY_ID']),null,true);
  //$buttonDetail = '<a href="#"  href="#" onclick="showPopUpWindow(\''.$buttonDetail.'\', 900)" >'.$row['USER_LOGIN'].'</a>';
  //$data = "'.$row['USER_ID'].'","'.$row['USER_FULLNAME'].'","'.$row['DAILYLIMIT'].'";
  $buttonDetail = '<a href="#"  href="#" onclick="editdata(\''.$row['USER_LOGIN'].'\',\''.$row['USER_FULLNAME'].'\',\''.$row['DAILYLIMIT'].'\')" >'.$row['USER_LOGIN'].'</a>';

  $actionUrl ='<a href="'.$this->url(array('module' => 'useropenlimit','controller'=>'edit','action'=>'index','cust_id'=>$this->cust_id,'user_id'=>$encreff),null,true).'">'.$row['USER_LOGIN'].'</a>';

  echo '<tr>
            <td class="'.$td_css.'">'.$counter.'</td>
            <td class="'.$td_css.'">'.$row['USER_FULLNAME'].' ('.$buttonDetail.')</td>
            <td class="'.$td_css.'">'.$row['CCY_ID'].'</td>
            <td class="'.$td_css.'" style="float:right !Important;">'.Application_Helper_General::displayMoneyplain($row['DAILYLIMIT']).'</td>
            <td class="'.$td_css.'">'.$row['SUGGESTEDBY'].' ('.Application_Helper_General::convertDate($row['SUGGESTED'],$this->displayDateTimeFormat,$this->defaultDateFormat).')</td>
            <td class="'.$td_css.'">'.$row['UPDATEDBY'].' ('.Application_Helper_General::convertDate($row['UPDATED'],$this->displayDateTimeFormat,$this->defaultDateFormat).')</td>';

    //   if($this->hasPrivilege('UDLU')){ 
    //     echo '<td class="'.$td_css.'">'.$buttonDetail.'</td>';
    //   }
      echo '</tr>';
    $i++;
    $counter++;
  }
}else{ echo '<tr><td colspan="11" class="tbl-evencontent" align="center"> - '.$this->language->_('no data').' - </td></tr>'; }
?>
</tbody>
</table>
</div>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>

<div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
  <div id="addmodaltab">
      <div class="modal-header">
        <h5 class="modal-title textBlack" id="exampleModalLabel">Add User Daily Limit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            
            <div class="form-group row pt-2">
                <div class="col-sm-3 textBlack">
                    <label for=""><?php echo $this->language->_('User ID')?>&nbsp;<?= $mandatory ?></span></label>
                </div>
                <div class="col-sm-1 textBlack">
                    :
                </div>
                <div class="col-sm-8 textBlack">
                    <select class='form-control' name="user_login" id="user_login" onChange="setUser();">
                        <option value=""><?php echo $this->language->_('-- Any Value --');?></option>
                        <?php 
                            if(count($this->userData)>0)
                            {
                                foreach ($this->userData as $rowUser)
                                {
                        ?>
                                    <option value="<?php echo $rowUser['USER_ID']; ?>" <?=($this->user_id == $rowUser['USER_ID'])? 'selected' : ''?>><?=$rowUser['USER_ID']?></option>
                        <?php 
                                }
                            }
                            else
                            {
                        ?>
                                    
                        <?php 
                            }
                        ?>
                    </select>
                        <?php if(count($this->userData) > 0){
                            foreach($this->userData as $rowUser){
                        ?>
                                <input type="hidden" id="<?php echo $rowUser['USER_ID']?>" value="<?php echo $rowUser['USER_FULLNAME']?>"/>
                        <?php }
                            }
                        ?>  
                    <div id="error_user_login" class="errmsg"></div>
                </div>
            </div>

            <div class="form-group row pt-2">
                <div class="col-sm-3 textBlack">
                    <label for=""><?php echo $this->language->_('User Name')?></label>
                </div>
                <div class="col-sm-1 textBlack">
                    :
                </div>
                <div class="col-sm-8 textBlack">
                    <?php echo $this->formText('username', $this->username, array('readonly'=>'readonly','class'=>'form-control'));?>
                </div>
            </div>

            <div class="form-group row pt-2">
                <div class="col-sm-3 textBlack">
                    <label for=""><?php echo $this->language->_('Max Daily Limit')?>&nbsp;<?= $mandatory ?></label>
                </div>
                <div class="col-sm-1 textBlack">
                    :
                </div>
                <div class="col-sm-8">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                        <strong>
                            IDR
                        </strong>
                        </div>
                        <?php 
                            echo $this->formText('dailylimit',Application_Helper_General::displayMoneyplain($this->max_amt),array('size'=>50,'class'=>'form-control', 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);", 'onkeypress' => "return forceNumber(event);",'style'=>'width:200px!important'));  
                        ?>
                    </div>
                    <div id="error_dailylimit" class="errmsg"></div>
                </div>
            </div>

      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btnwhite hov" data-dismiss="modal" style="background:white; color:black;">Close</button>
        <button type="button" id="resetbtn" class="btnwhite hov" style="background:white; color:black;" onclick="resetnew();">Reset</button>
        <button type="button" class="btngreen hov" id="submitadd" onclick="adddaily();">Submit</button>
      </div>
    </div>
  
  
  <div class="row" id="successregadd" style="display:none" >
    <div class="portlet-body form col-md-12">
      <table align = "CENTER" border="0" cellpadding="8" cellspacing="8" width="50%">
        <tbody>
          <tr>
            <td align="center">
                <div class="tbl-evencontent">
                  <p class="textBlack"></p><h5 class="textBlack"><?php echo $this->language->_('Changes Request Saved'); ?></h5><p></p>
                  <p align="center">
                  <button type="button" class="btnwhite hov" data-dismiss="modal" onClick="window.location.reload();">Close</button>
                  </p>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row" id="failedregadd" style="display:none" style="background-color: white!important">
    <div class="portlet-body form col-md-12">
      <table align = "CENTER" border="0" cellpadding="8" cellspacing="8" width="50%">
        <tbody>
          <tr>
            <td align="center">
                <div class="tbl-evencontent">
          <h2><span color="red" id="warningregadd">Sorry</span></h2>
                  <p></p><h2><font color="red">Sorry</font></h2><p></p>
                  <p>&nbsp;</p>
                <p class="textBlack"><?php echo $this->language->_('We are unable to continue'); ?>.<br><?php echo $this->language->_('Please try again'); ?></p>
                  <p align="center">
                  <button type="button" class="btnwhite hov" data-dismiss="modal" onClick="window.location.reload();">Close</button>
                  </p>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  </div>
  
  </div>
</div>




<div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
  
  
  <div id="editmodaltab">
      <div class="modal-header">
        <h5 class="modal-title textBlack" id="exampleModalLabel">Edit User Daily Limit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            
            <div class="form-group row pt-2">
                <div class="col-sm-3 textBlack">
                    <label for=""><?php echo $this->language->_('User ID')?>&nbsp;<?= $mandatory ?></span></label>
                </div>
                <div class="col-sm-1 textBlack">
                    :
                </div>
                <div class="col-sm-8 textBlack">
          <input type="hidden" id="user_edit" name="user_edit">
          <span id="useredit_txt"></span>
                    <div id="error_user_login" class="errmsg"></div>
                </div>
            </div>

            <div class="form-group row pt-2">
                <div class="col-sm-3 textBlack">
                    <label for=""><?php echo $this->language->_('User Name')?></label>
                </div>
                <div class="col-sm-1 textBlack">
                    :
                </div>
                <div class="col-sm-8 textBlack">
          <input type="hidden" id="username_edit" name="username_edit">
          <span id="usernameedit_txt"></span>
                    <?php //echo $this->formText('username', $this->username, array('readonly'=>'readonly','class'=>'form-control'));?>
                </div>
            </div>

            <div class="form-group row pt-2">
                <div class="col-sm-3 textBlack">
                    <label for=""><?php echo $this->language->_('Max Daily Limit')?>&nbsp;<?= $mandatory ?></label>
                </div>
                <div class="col-sm-1 textBlack">
                    :
                </div>
                <div class="col-sm-8">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                        <strong>
                            IDR
                        </strong>
                        </div>
                        <?php 
                            echo $this->formText('editdailylimit',Application_Helper_General::displayMoneyplain($this->max_amt),array('size'=>50, 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);", 'onkeypress' => "return forceNumber(event);",'class'=>'form-control','style'=>'width:200px!important'));  
              echo $this->formHidden('tempdailylimit',Application_Helper_General::displayMoneyplain($this->max_amt),array());  
                        ?>
                    </div>
                    <div id="error_dailylimit" class="errmsg"></div>
                </div>
            </div>

      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btnwhite hov" data-dismiss="modal" style="background:white; color:black;">Close</button>
        <button type="button" id="reseteditbtn" class="btnwhite hov" style="background:white; color:black;" onclick="resetedit();">Reset</button>
    <button type="button" id="deletebtn" class="btnred hov" onclick="deletedaily();" >Delete</button>
        <button type="button" class="btngreen hov" id="submitedit" onclick="editdaily();">Submit</button>
      </div>
    <span id="errorbtn" class="errmsg" style="display:none">No changes allowed for this record while awaiting approval for previous change.</span>
    </div>
  </div>
  <div class="row content-box modal-content" id="successreg" style="display:none" >
    <div class="portlet-body form col-md-12">
      <table align = "CENTER" border="0" cellpadding="8" cellspacing="8" width="50%">
        <tbody>
          <tr>
            <td align="center">
                <div class="tbl-evencontent">
                  <p class="textBlack"></p><h5 class="textBlack"><?php echo $this->language->_('Changes Request Saved'); ?></h5><p></p>
                  <p align="center">
                  <button type="button" class="btnwhite hov" data-dismiss="modal" onClick="window.location.reload();">Close</button>
                  </p>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row content-box modal-content" id="failedreg" style="display:none" style="background-color: white!important">
    <div class="portlet-body form col-md-12">
      <table align = "CENTER" border="0" cellpadding="8" cellspacing="8" width="50%">
        <tbody>
          <tr>
            <td align="center">
                <div class="tbl-evencontent">
          <h2><span color="red" id="warningreg">Sorry</span></h2>
                  <p></p><h2><font color="red">Sorry</font></h2><p></p>
                  <p>&nbsp;</p>
                <p class="textBlack"><?php echo $this->language->_('We are unable to continue'); ?>.<br><?php echo $this->language->_('Please try again'); ?></p>
                  <p align="center">
                  <button type="button" class="btnwhite hov" data-dismiss="modal" onClick="window.location.reload();">Close</button>
                  </p>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  </div>
</div>

<script type="text/javascript">

function numberWithCommas(x,id) {
   const formattermoney = new Intl.NumberFormat('ID', {
      minimumFractionDigits: 0
    });
    var tag = '#'+id;
      // $(nams).text(formattermoney.format(obj[k].BALANCE));
    var x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
     $(tag).val(x);
  //return 
}

function resetnew(){
   let element = document.getElementById('user_login');
   element.value = '';
   $('#username').val('');
   $('#dailylimit').val('');
  
}

function resetedit(){
   
  var limit = $('#tempdailylimit').val();
   //$('#editdailylimit').val(limit);
   numberWithCommas(limit,'editdailylimit');
  
}

function addmodal(){
  $('#addmodal').modal({backdrop: 'static', keyboard: false});
}

function adddaily(){
  
  //var userid_value = $('#user_login').val();
  var e = document.getElementById("user_login");
  var userid_value = e.options[e.selectedIndex].value;
  
  var username_value = $('#username').val();
  var daily_value = $('#dailylimit').val();
  
  $("#loader").fadeIn("slow");
  $.ajax({
                                                    url: "<?=$this->url(array('module'=>'userdailylimit','controller'=>'index','action'=>'adddaily'),null,true)?>",
                                                    type: 'GET',
                                                    dataType: "html",
                                                    data: {
                            
                            user_id: userid_value,
                            user_name : username_value,
                            dailylimit : daily_value
                             
                                                    }, 
                                                    success: function(data) {
                                                        console.log(data); 
                            var result = $.parseJSON(data);
                            $("#loader").fadeOut("slow");
                            
                          
                      
                             if(data == '1' || data == 1){
                              // $('#editmodal').hide();
                              $('#addmodaltab').hide();
                              $('#successregadd').show();
                              $('#failedregadd').hide();  
                                    }else{
                              $('#addmodaltab').hide();
                              $('#successregadd').hide();
                              $('#failedregadd').show();
                              $('#warningregadd').text(data);
                            }
                                                    },
                                                    error: function(xhr, ajaxOptions, thrownError)
                                                    {
                              $("#loader").fadeOut("slow");
                              alert("Failed to get where column list, please try again");
                              $('#addmodaltab').hide();
                              $('#successregadd').hide();
                              $('#failedregadd').show();
                                                    }
        });
  
  
  
  
}
   

function deletedaily(){
  var userid_value = $('#user_edit').val();
  $("#loader").fadeIn("slow");
  $.ajax({
                                                    url: "<?=$this->url(array('module'=>'userdailylimit','controller'=>'index','action'=>'deletedaily'),null,true)?>",
                                                    type: 'GET',
                                                    dataType: "html",
                                                    data: {
                            
                            user_id: userid_value
                             
                                                    }, 
                                                    success: function(data) {
                                                        console.log(data); 
                            var result = $.parseJSON(data);
                            $("#loader").fadeOut("slow");
                            
                          
                      
                             if(data == '1' || data == 1){
                              // $('#editmodal').hide();
                              $('#editmodaltab').hide();
                              $('#successreg').show();
                              $('#failedreg').hide();  
                                    }else{
                              $('#editmodaltab').hide();
                              $('#successreg').hide();
                              $('#failedreg').show();
                              $('#warningreg').text(data);
                            }
                                                    },
                                                    error: function(xhr, ajaxOptions, thrownError)
                                                    {
                              $("#loader").fadeOut("slow");
                              alert("Failed to get where column list, please try again");
                              $('#editmodaltab').hide();
                              $('#successreg').hide();
                              $('#failedreg').show();
                                                    }
        });
  
}

function editdaily(){
  
  var userid_value = $('#user_edit').val();
  var username_value = $('#username_edit').val();
  var daily_value = $('#editdailylimit').val();
  
  $("#loader").fadeIn("slow");
  $.ajax({
                                                    url: "<?=$this->url(array('module'=>'userdailylimit','controller'=>'index','action'=>'editdaily'),null,true)?>",
                                                    type: 'GET',
                                                    dataType: "html",
                                                    data: {
                            
                            user_id: userid_value,
                            user_name : username_value,
                            dailylimit : daily_value
                             
                                                    }, 
                                                    success: function(data) {
                                                        console.log(data); 
                            var result = $.parseJSON(data);
                            $("#loader").fadeOut("slow");
                            
                          
                      
                             if(data == '1' || data == 1){
                              // $('#editmodal').hide();
                              $('#editmodaltab').hide();
                              $('#successreg').show();
                              $('#failedreg').hide();  
                                    }else{
                              $('#editmodaltab').hide();
                              $('#successreg').hide();
                              $('#failedreg').show();
                              $('#warningreg').text(data);
                            }
                                                    },
                                                    error: function(xhr, ajaxOptions, thrownError)
                                                    {
                              $("#loader").fadeOut("slow");
                              alert("Failed to get where column list, please try again");
                              $('#editmodaltab').hide();
                              $('#successreg').hide();
                              $('#failedreg').show();
                                                    }
        });
  
  
  
  
}

function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}

function editdata(userid,username,limit){
  $('#user_edit').val(userid);
  $('#useredit_txt').text(userid);
  $('#username_edit').val(username);
  $('#usernameedit_txt').text(username);
  var limit = parseFloat(limit).toFixed(0);
  numberWithCommas(limit,'editdailylimit');
  //$('#editdailylimit').val(limit);
  $('#tempdailylimit').val(limit);
  
  var userid_value = $('#user_edit').val();
  
  
  $("#loader").fadeIn("slow");
  $.ajax({
                                                    url: "<?=$this->url(array('module'=>'userdailylimit','controller'=>'index','action'=>'checkdaily'),null,true)?>",
                                                    type: 'GET',
                                                    dataType: "html",
                                                    data: {
                            
                            user_id: userid_value
                                                    }, 
                                                    success: function(data) {
                            $("#loader").fadeOut("slow");
                            if(data == '1' || data == true || data == 1){
                              // $('#editmodal').hide();
                              $('#reseteditbtn').show();
                              $('#deletebtn').show();
                              $('#submitedit').show();  
                              $('#errorbtn').hide();
                              $( "#editdailylimit" ).prop( "disabled", false );
                                    }else{
                              $('#reseteditbtn').hide();
                              $('#deletebtn').hide();
                              $('#submitedit').hide();
                              $('#errorbtn').show();
                              $( "#editdailylimit" ).prop( "disabled", true );
                              
                            }
                          }
                          
                          ,
                                                    error: function(xhr, ajaxOptions, thrownError)
                                                    {
                              $("#loader").fadeOut("slow");
                              alert("Failed to get where column list, please try again");
                              $('#reseteditbtn').hide();
                              $('#deletebtn').hide();
                              $('#submitedit').hide();
                              $('#errorbtn').show();
                              $( "#editdailylimit" ).prop( "disabled", true );
                                                    }
        });
                          
                          
  
  $('#editmodal').modal({backdrop: 'static', keyboard: false});
  
}


$(document).ready(function(){

    $("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control' id='wherecol-" + ctr + "' style='width:100%' name='whereco[]' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' style='width:100%' type='text' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
      	ctr++;
      	$("#wherectr").val(ctr);
    });

    $('#resetbtn').click(function(){
        $('#user_login').val('');
        $('#username').val('');
        $('#dailylimit').val('');
    });

});
  function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
  var $coll = $( '.event_select' );
    // $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });

    $(colval).empty();
    // alert(colomnname);
   if( colomnname == 'PS_UPDATED'){
        $(colval).append("<input type='text' class='form-control' name='updatedate[]' id='updateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='updateEnd' readonly required>");


                                                $('#updateStart').datepicker({
                                                  minDate: function() {
                                                  var mindate = new Date();
                                                  mindate.setDate(mindate.getDate() - 180);
                                                  return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                                                  },
                                                  maxDate: function() {
                                                    var maxdate = new Date();
                                                    maxdate.setDate(maxdate.getDate());
                                                    return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                                                  },
                                                  format: 'dd/mm/yyyy',
                                                  uiLibrary: 'bootstrap4',
                                                });
                                                $('#updateEnd').datepicker({
                                                  minDate: function() {
                                                  var val = document.getElementById('updateStart').value;
                                                  var parts = val.split("/");
                                                  var mindate = new Date(parts[2], parts[1] - 1, parts[0]); 

                                                  mindate.setDate(mindate.getDate());
                                                  return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                                                  },
                                                  maxDate: function() {
                                                    
                                                    var maxdate = new Date();
                                                    return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                                                  },
                                                  format: 'dd/mm/yyyy',
                                                  uiLibrary: 'bootstrap4'
                                                });

    }else if(colomnname == 'USER_SUGGESTED' ){
        $(colval).append("<input type='text' class='form-control' name='sugestdate[]' id='sugestStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='sugestdate[]' id='sugestEnd' readonly required>");


                                               $('#sugestStart').datepicker({
                                                minDate: function() {
                                                  var mindate = new Date();
                                                  mindate.setDate(mindate.getDate() - 180);
                                                  return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                                                  },
                                                  maxDate: function() {
                                                    var maxdate = new Date();
                                                    maxdate.setDate(maxdate.getDate());
                                                    return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                                                  },
                                                  format: 'dd/mm/yyyy',
                                                  uiLibrary: 'bootstrap4',
                                                });
                                                $('#sugestEnd').datepicker({
                                                  minDate: function() {
                                                  var val = document.getElementById('sugestStart').value;
                                                  var parts = val.split("/");
                                                  var mindate = new Date(parts[2], parts[1] - 1, parts[0]); 

                                                  mindate.setDate(mindate.getDate());
                                                  return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                                                  },
                                                  maxDate: function() {
                                                    
                                                    var maxdate = new Date();
                                                    return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                                                  },
                                                  format: 'dd/mm/yyyy',
                                                  uiLibrary: 'bootstrap4'
                                                });

    }else if(colomnname == 'CCY_ID'){
            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'ccy'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'USER_ID'){
      // alert();
            $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' style='width:100%' ></select>");
            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'whereuser'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else{
         $(colval).append("<input type='text' name='whereval[]'  value='' maxlength='20'  class='form-control' style='width:100%'>");
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}

function setUser(){
  var userid = $('#user_login').val();
  var username = $('#'+userid).val();
  $('#username').val(username);
}

</script>
