<script type="text/javascript">
  $(document).ready(function() {
    $('div#sidebar-collapse').click(function() {
      if ($("#logo-title").is(":visible")) {
        $("#logo-title").hide();
        $("#logo-titles").hide();
      } else if ($("#logo-title").is(":hidden")) {
        $("#logo-title").show();
        $("#logo-titles").show();
      }
    })

    $('#fixTable').fixTableHeader();


    $("#searchtable").keyup(function() {
      var value = this.value.toLowerCase().trim();

      $("#myTable tr").each(function(index) {
        if (!index) return;
        $(this).find("td").each(function() {
          var id = $(this).text().toLowerCase().trim();
          var not_found = (id.indexOf(value) == -1);
          $(this).closest('tr').toggle(!not_found);
          return not_found;
        });
      });
    });
	
	$('#createdStart').datepicker({
         format: 'dd/mm/yyyy',
         uiLibrary: 'bootstrap4'
     });
     $('#createdEnd').datepicker({
         format: 'dd/mm/yyyy',
         uiLibrary: 'bootstrap4'
     });
     $('#approveStart').datepicker({
         format: 'dd/mm/yyyy',
         uiLibrary: 'bootstrap4'
     });
     $('#approveEnd').datepicker({
         format: 'dd/mm/yyyy',
         uiLibrary: 'bootstrap4'
     });
		

  });
</script>

<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?php echo $this->language->_('Master Report'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <?php echo $this->language->_('Customer Report'); ?>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row content-box">
  <div class="portlet-body form col-md-12">
    <h5><?= $this->language->_('Customer List') ?></h5>
    <form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">

      <?php
      $optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
      foreach ($this->filterlist as $row) {
        $optArr .=  '<option value="' . $row . '" >' . $row . '</option>';
      }

      ?>
      <div class="row " id="logo-titles" style="margin-left: 0px">
        <?php
                if (!empty($this->wherecol)) {
                ?>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            var ctrfilter = <?= count($this->wherecol); ?>;
                            $("#logo-title").show();
                            $("#where-").hide();
                            $("#wherectr").val(ctrfilter)
                        });
                    </script>
                <?php
                }
				
        // print_r($this->wherecol);die;
        foreach ($this->wherecol as $key => $value) {
        ?>
          <div id="searchs" style="width: 100%">
            <?php
            $datetype = array('COMP_NAME', 'STATUS', 'MODEL', 'CUST_SUGGESTED', 'CUST_UPDATED', 'CUST_SUGGESTED_end','CUST_UPDATED_END');
            $selectlist = array("COMP_CODE", "COMP_NAME", "MODEL", "STATUS", "LAST_SUGGESTED_START", "LAST_APPROVED_START");
            $index = 0;

            ?>
            <div id="where-<?= $key ?>">
              <?php if ($value != "LAST_SUGGESTED_END" && $value != "LAST_APPROVED_END") { ?>
                <div class="form-group row mt-12">
                  <div class="col-md-4 form-inline">
                    <select class='form-control event_select' id='wherecol-<?= $key ?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                      <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                      <?php

                      foreach ($this->filterlist as $row) {
                        $colname = $row;
                        if ($value == "LAST_SUGGESTED_START" && $row == "LAST_SUGGESTED") {
                          $selected = "selected";
                        } else if ($value == "LAST_APPROVED_START" && $row == "LAST_APPROVED") {
                          $selected = "selected";
                        } else if ($value == $colname) {
                          $selected = "selected";
                        } else {
                          $selected = "";
                        } ?>
                        ?>
                        <option value="<?= $row ?>" <?= $selected ?>><?= $row; ?></option>
                      <?php } ?>
                    </select>
                  </div>

                  <div class="col-md-6 form-inline" id='colvalue-<?= $key ?>'>
                    <script type="text/javascript">
                      $(document).ready(function() {
                        var colval = "#colvalue-s<?= $key ?>";
                        var colomnname = "<?= $value ?>";
                        var colselect = "colselect-s<?= $key ?>";
                        var ncolselect = "#colselect-s<?= $key ?>";
                        if (colomnname == 'STATUS') {
                          $(colval).append("<select class='form-control' id='" + colselect +
                            "' style='width:100%' name='whereval[]' ></select>");

                          var id = $("#tablename").find(":selected").val();
                          $.ajax({
                            url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'status'), null, true) ?>",
                            type: 'GET',
                            dataType: "html",
                            data: {
                              id: '<?= $this->whereval[$key] ?>'
                            },
                            success: function(data) {
                              $(ncolselect).html(data);
                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                              alert(
                                "Failed to get where column list, please try again");
                            }
                          });

                          $(colselect).val('<?= $this->whereval[$key] ?>');

                        }
                      });
                    </script>
                    <?php if ($value == 'MODEL') { ?>
                      <?php $opt = ["1" => "APLI", "2" => "INS", "3" => "OBL"]; ?>

                      <select class='form-control' name='whereval[]' style='width:100%'>

                        <?php foreach ($opt as $keyOpt => $rowOpt) { ?>
                          <option value="<?php echo $keyOpt ?>" <?= ($keyOpt == $this->whereval[$key]) ? 'selected' : '' ?>><?php echo $rowOpt ?></option>
                        <?php } ?>

                        <!-- <option value="2">INS</option>
                    <option value="3">OBL</option> -->
                      </select>
                    <?php } else if ($value == 'STATUS') { ?>
                      <?php $opt = ["1" => "Approved", "2" => "Suspended", "3" => "Deleted"]; ?>
                      <select class='form-control' name='whereval[]' style='width:100%'>

                        <?php foreach ($opt as $keyOpt => $rowOpt) { ?>
                          <option value="<?php echo $keyOpt ?>" <?= ($keyOpt == $this->whereval[$key]) ? 'selected' : '' ?>><?php echo $rowOpt ?></option>
                        <?php } ?>

                        <!-- <option value="2">INS</option>
                    <option value="3">OBL</option> -->
                      </select>
                    <?php } else if ($value == 'LAST_SUGGESTED_START') { ?>
                      <input type='text' class='form-control' name='createdate[]' id='createdStart' readonly value="<?= $this->createdStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' value="<?= $this->createdEnd ?>" readonly required>
                      <input class='hidden' type='text' style='width:100%' name='whereval[]' />
                    <?php } else if ($value == 'LAST_SUGGESTED_END') { ?>
                    <?php } else if ($value == 'LAST_APPROVED_START') { ?>
                      <input type='text' class='form-control' name='approvedate[]' id='approveStart' readonly value="<?= $this->approveStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='approvedate[]' id='approveEnd' value="<?= $this->approveEnd ?>" readonly required>
                      <input class='hidden' type='text' style='width:100%' name='whereval[]' />
                    <?php } else if ($value == 'LAST_APPROVED_END') { ?>

                    <?php } else if (in_array($value, $selectlist)) { ?>
                      <input class='form-control' type='text' name='whereval[]' value='<?= $this->whereval[$key] ?>' style="width:100%" />
                    <?php }
                    if (!in_array($value, $datetype)) {
                      $index++;
                    } ?>
                  </div>
                  <div class="col-md-2 form-inline">
                    <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                  </div>
                </div>
              <?php } ?>
            </div>

          </div>
        <?php
        }
        ?>

      </div>

      <div class="row " id="logo-title" style="display: none">
        <div class="portlet-body form col-md-12">
          <div id="wheres" style="width: 100%">
                        <div id="where-<?= $ctr ?>">
                            
                        </div>
                        <?php //}}
                        ?>
                    </div>
          <!-- <input type="hidden" id="wherectr" value="<?= $this->wherectr ?>"/> -->
         <input type="hidden" id="wherectr" value="0" />
                    <br />
                    <button type="button" class="btngreen hov" id="addwhere"><?php echo $this->language->_('Add Filter'); ?></button>
                    &nbsp;
                    <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
                    &nbsp;
                    <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">
        </div>
        <div class="col-md-4">
        </div>

      </div>
      <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
        <a href="#" class="sidebar-collapse-icon with-animation">
          <?php echo $this->language->_('Advanced Search'); ?>
        </a>
      </div>


    </form>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <table align="right">
      <tr style="height:30px">
        <td colspan="12" align="CENTER">
          <form name="exportForm" <?= $this->url(array('data_filter' => $this->data_filter, 'module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?> method="post">
            <!-- <?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) { ?> -->
            <!-- <?php echo $this->formSubmit('pdf', '  PDF is too large (function is disabled)', array('class' => 'btnwhite disabled', 'disabled' => 'disabled')); ?>&nbsp; -->
            <!-- <?php echo '<input type="submit" value="&#xf1c1; PDF is too large (function is disabled)" name="pdf" id="pdf" class="fa disabled" disabled="disabled">'; ?>&nbsp; -->
            <!-- <?php } else { ?> -->
            <!-- <?php echo $this->formSubmit('pdf', 'PDF', array('class' => 'btngreen hov')); ?>&nbsp; -->
            <!-- <?php echo '<input type="submit" value="&#xf1c1; PDF" name="pdf" id="pdf" class="fa">'; ?>&nbsp; -->
            <!-- <?php } ?> -->
            <?php if ($this->count > $this->applicationSetting['max_row_download_csv']) { ?>
              <!-- <?php echo $this->formSubmit('csv', 'CSV is too large (function is disabled)', array('class' => 'btnwhite disabled', 'disabled' => 'disabled')); ?>&nbsp; -->
              <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa disabled" disabled="disabled">' ?>
            <?php } else { ?>
              <!-- <?php echo $this->formSubmit('csv', 'CSV', array('class' => 'btngreen hov')); ?>&nbsp; -->
              <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa">' ?>
            <?php } ?>
        </td>
        <td>
          <!--<input class="btn btn-success"  value="<?php echo $this->language->_('PRINT'); ?>" onclick="window.print();" type="button">-->
          <?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) {
            // echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;'. $this->language->_("Print").'</button>';
          } else {
          ?>
            <!-- <button
                        onclick="openwindow('<?PHP echo $this->url(array('print' => 1, 'data_filter' => $this->data_filter)) . $this->qstring ?>', screen.width, screen.height); return false;"
                        class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;
                        <?PHP echo $this->language->_("Print") ?>
                      </button>&nbsp; -->
          <?php
          }
          ?>
          </form>
        </td>
        &nbsp;
        <td>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="search form-control" id="searchtable" placeholder="Search">
          </div>
        </td>
      </tr>
    </table>
    <br>

    <!--<div align="right">
                <?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?>
              </div>-->
    <br />
    <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
      <table class="table table-sm table-striped" id="myTable">
        <thead>
          <tr height="45px">
            <th class="tablehead">No. </th>
            <?php
            echo $this->partial(
              'tableheader.phtml',
              array(
                'fields' => $this->fields,
                'sortBy' => $this->sortBy,
                'sortDir' => $this->sortDir,
                'query_string_params' => $this->query_string_params
              )
            );
            ?>

          </tr>
        </thead>
        <tbody>
          <?php

          if (count($this->paginator) > 0) {
            $i = 0;

            $counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;

            require_once 'Crypt/AESMYSQL.php';
            $AESMYSQL = new Crypt_AESMYSQL();
            $rand = $this->token;

            foreach ($this->paginator as $data) {
              $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

              $encrypted_id = $AESMYSQL->encrypt($data['CUST_ID'], $rand);
              $encid = urlencode($encrypted_id);


          ?>
              <tr style="height:30px">
                <td class="<?= $td_css ?>"><?= $counter ?></td>
                <td class="<?= $td_css ?>">
                  <?= $data['CUST_NAME']; ?>
                  (<a href="javascript:void(0)" onClick="javascript:openwindow('<?= $this->url(array('module' => $this->modulename, 'controller' => 'customerdetail', 'action' => 'index', 'cust_id' => $encid), null, true) ?>',800,650);"><?= $data['CUST_ID']; ?></a>)
                </td>
                <td class="<?= $td_css ?>"><?= $data['CUST_MODEL']; ?></td>
                <!-- <td class="<?= $td_css ?>"><?= $data['CUST_CITY']; ?></td> -->
                <td class="<?= $td_css ?>"><?= $this->language->_($data['STATUS']); ?></td>
                <!-- <td class="<?= $td_css ?>"><?= $this->arremobileregistered[$data['CUST_SECURITIES']]; ?></td> -->
                <td class="<?= $td_css ?>">
                  <?= Application_Helper_General::convertDate($data['CUST_SUGGESTED'], $this->displayDateTimeFormat) ?>
                </td>
                <td class="<?= $td_css ?>">
                  <?= Application_Helper_General::convertDate($data['CUST_UPDATED'], $this->displayDateTimeFormat) ?>
                </td>
                <td class="<?= $td_css ?>">

                </td>
              </tr>

            <?php
              $i++;
              $counter++;
            }
          } else {
            ?>
            <tr style="height:30px">
              <td colspan="16" align="CENTER">--- <?php echo $this->language->_('No Data'); ?> ---</td>
            </tr>
          <?php
          }
          ?>
        </tbody>
      </table>
    </div>
    <br />
    <div align="right">
      <?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?>
    </div>
    <br />
  </div>
</div>


<script type="text/javascript">
  function removeParent(elem) {
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#" + parentname).remove();
  }
  $(document).ready(function() {
	  
        $("#addwhere").click(function() {
            var ctr = $("#wherectr").val();
            var optstr = '<?php echo $optArr; ?>';
            var wherecol = "#wherecol-" + ctr;
            $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" + ctr + "' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
            ctr++;
            $("#wherectr").val(ctr);
        });
  });
   
  function getOpt(elem) {
        var id = elem.id;
        var temp = id.split('-');
        var ctr = temp[1];

        var selval = elem.value;
        var tempval = selval.split('-');
        dttype = tempval[1];

        colomnname = tempval[0];
        var colval = "#colvalue-" + ctr;
        var colvals = "#colvalue-s" + ctr;
        var colselect = "colselect-" + ctr;
        var ncolselect = "#colselect-" + ctr;
        var ncolselects = "#colselect-s" + ctr;
        var $coll = $('.event_select');
        $coll.children().prop('disabled', false);
        $coll.each(function() {
            var val = this.value;
            if (val === 'original') return;
            $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
        });

        $(colval).empty();
        $(colvals).empty();

        if (colomnname == 'LAST_SUGGESTED') {
            $(colval).append("<input type='text' class='form-control' name='createdate[]' id='createdStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' readonly required><input type='hidden' id='" + colselect + "' name='whereval[]'>");
            $('#createdStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#createdEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $(colvals).append("<input type='text' class='form-control'  name='createdate[]' id='createdStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' readonly required>");
            $('#createdStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#createdEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
        } else if (colomnname == 'LAST_APPROVED') {
             $(colval).append("<input type='text' class='form-control' name='approvedate[]' id='approveStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='approvedate[]' id='approveEnd' readonly required><input type='hidden' id='" + colselect + "' name='whereval[]'>");
            $('#approveStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#approveEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $(colvals).append("<input type='text' class='form-control'  name='approvedate[]' id='approveStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='approvedate[]' id='approveEnd' readonly required>");
            $('#approveStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#approveEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
        } else if (colomnname == 'MODEL') {

		  $(colval).append("<select class='form-control' id='" + colselect +
			"' style='width:100%' name='whereval[]' ><option value='1'>APLI</option><option value='2'>INS</option><option value='3'>OBL</option></select>");
			
		  $(colvals).append("<select class='form-control' id='" + colselect +
			"' style='width:100%' name='whereval[]' ><option value='1'>APLI</option><option value='2'>INS</option><option value='3'>OBL</option></select>");

		} else if (colomnname == 'STATUS') {

		  $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");
		  $(colvals).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

		  var id = $("#tablename").find(":selected").val();
		  $.ajax({
			url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'status'), null, true) ?>",
			type: 'GET',
			dataType: "html",
			data: {
			  id: id
			},
			success: function(data) {
			  $(ncolselect).html(data);
			},
			error: function(xhr, ajaxOptions, thrownError) {
			  alert("Failed to get where column list, please try again");
			}
		  });
		  // paytype
		} else {
            $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
            $(colvals).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
        }


        var optsel = "whereopt-" + ctr;
        document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

        if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
            document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }
        if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
        } else if (dttype == 'date' || dttype == 'datetime') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }

        var colomn = '#whereopt-' + ctr;
        var data = $(colomn).val('EQUAL').change();

    }
	
</script>