<div class="tabheader" id="tabheader"><?php echo $this->language->_('Suggestion - Minimum Transfer Amount'); ?> & <?php echo $this->language->_('Available Currency'); ?></div>
<script>
	function tombolReset(id)
	{
		window.location.href ="/minamountccy/repair/index/changes_id/"+id;
	}
</script>
<script type="text/javascript">
   refreshParent() 
</script>
	<?php if($this->success){ ?>
	<div class="successmsg"><?=$this->report_msg?></div><br />
	<?php }else if($this->error){ ?>
	<div class="errmsg">
	<?=$this->report_msg?></div><br />
	<?php } ?>
<!--<APPLET  codebase ="." archive="WebPinHSM.jar" code="WebPinHSM.class" height="0" width="0" viewastext name="test"></APPLET>-->


<form action="" method="post">
<?=$this->formHidden('changes_id',$this->changes_id);?>
			<table  cellpadding="2" cellspacing="0" border="1" class="tableform">
    <tr>

    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>		
		
    </tr>

    <?php

	$style = array();
	$disabled = NULL;
	
	if($this->success)
	{
		$style = array('disabled'=>$this->language->_('disabled'));
		$disabled = ( count($style) > 0 ) ? 'disabled = "disabled"' : '';
	}

    if($this->result)
    {
          $i=0;        
		  
	      foreach($this->result as $row) 
	      {
	  
		    $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
			$amt = 't'.$row['CCY_ID'];			
		    echo '<tr>
					<td class="'.$td_css.'">';
			$centang = 'centang'.$row['CCY_ID'];
			if($this->$centang == 'I')
			{		
				echo '<input type="checkbox" name="c'.$row['CCY_ID'].'" '.$disabled.'>';
				echo'	</td>
						<td class="'.$td_css.'">'.$row['CCY_ID'].'</td>
						<td class="'.$td_css.'">'.$row['CCY_DESCRIPTION'].'</td>
						<td class="'.$td_css.'">';   						
				$option = array('maxlength'=>20,
						  'class'=>'currency',
						  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
						  'onblur'=>'NumFrmtUS(this.value,this.id)',
						  'onkeypress'=>'return forceCurrencyOCBC(event)');
				$option = array_merge($option,$style);
				echo $this->formText('t'.$row['CCY_ID'],Application_Helper_General::displayMoney($this->$amt),$option);
				$x='x'.$row['CCY_ID'];
				echo '<div class="errmsg"><br />'.$this->$x.'</div>';
				echo '<br /> </td> </tr>';				
			}
			else if($row['MIN_TX_AMT'] || $this->$centang == 'A')
			{
				echo '<input type="checkbox" name="c'.$row['CCY_ID'].'" checked="checked" '.$disabled.'>';
				echo'	</td>
						<td class="'.$td_css.'">'.$row['CCY_ID'].'</td>
						<td class="'.$td_css.'">'.$row['CCY_DESCRIPTION'].'</td>
						<td class="'.$td_css.'">';   
				$option = array('maxlength'=>20,
						  'class'=>'currency',
						  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
						  'onblur'=>'NumFrmtUS(this.value,this.id)',
						  'onkeypress'=>'return forceCurrencyOCBC(event)');
				$option = array_merge($option,$style);
				if($this->$amt)
				{
					echo $this->formText('t'.$row['CCY_ID'],Application_Helper_General::displayMoney($this->$amt),$option);				
				}
				else{
					echo $this->formText('t'.$row['CCY_ID'],Application_Helper_General::displayMoney($row['MIN_TX_AMT']),$option);
				}
				$x='x'.$row['CCY_ID'];
				echo '<div class="errmsg"><br />'.$this->$x.'</div>';
				echo '<br /> </td> </tr>';					
			}	
			else{
				echo '<input type="checkbox" name="c'.$row['CCY_ID'].'" '.$disabled.'>';
				echo'	</td>
						<td class="'.$td_css.'">'.$row['CCY_ID'].'</td>
						<td class="'.$td_css.'">'.$row['CCY_DESCRIPTION'].'</td>
						<td class="'.$td_css.'">';   
				$option = array('maxlength'=>20,
						  'class'=>'currency',
						  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
						  'onblur'=>'NumFrmtUS(this.value,this.id)',
						  'onkeypress'=>'return forceCurrencyOCBC(event)');
				$option = array_merge($option,$style);
				echo $this->formText('t'.$row['CCY_ID'],Application_Helper_General::displayMoney($row['MIN_TX_AMT']),$option);
				$x='x'.$row['CCY_ID'];
				echo '<div class="errmsg"><br />'.$this->$x.'</div>';
				echo '<br /> </td> </tr>';					
			}
					
			$i++;
  	  }
	  
			$submit=$this->formSubmit('submit',$this->language->_('Submit'),array_merge(array('class'=>'inputbtn'),$style)); 
	 		$reset=$this->formButton('reset',$this->language->_('Reset'),array_merge(array('class'=>'inputbtn','onClick'=>'tombolReset()'),$style)); 
	  
  	  		    echo '<tr>
					<td class="'.$td_css.'" colspan="4">'.$submit.'&nbsp'. $reset.'</td>
				  </tr>';
  }
  else 
  {
	   echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> - '.$this->language->_('no data').' - </td></tr>';
  }
?>
	
</table>
</form>
