<?php $this->layout()->setLayout('popup'); ?>
<h2><?php echo $this->language->_('Changes Information'); ?></h2>
<?php
echo $this->action(
	'message',
	'tools',
	'changemanagement',
	array('changes_id' => $this->changes_id)
);
?>
<br />
<br />
<?php if ($this->changes_type == 'E') { ?>
 <div class="row">
			<div class="col">
				<h2><?php echo $this->language->_('Current Produk Rekening'); ?></h2>
			</div>
			<div class="col text-right">
				<button id="btnDiffOnly" type="button" class="btngreen hov"><?php echo $this->language->_('Show Difference Only'); ?></button>
			</div>

		</div>


         
        <?php } ?>
<table border="0" cellspacing="0" cellpadding="0" class="table table-sm table-striped" width="100%">
	<?php foreach ($this->result2 as $result2)
	{
		?>
	<tr>
		<td class="tdform-even" style="width:30%">&nbsp; <?php echo $this->language->_('Tipe Akun'); ?></td>
		<td class="tdform-even" style="width:1%">&nbsp;</td>
		<td class="tdform-odd" style="width:69%"><?php  echo $this->account_typeArr[$result2['ACCT_TYPE']];?></td>
	</tr>
	<tr>
		<td class="tdform-even" style="width:30%">&nbsp; <?php echo $this->language->_('Tipe Produk'); ?></td>
		<td class="tdform-even" style="width:1%">&nbsp;</td>
		<td class="tdform-odd" style="width:69%"><?php echo $result2['PRODUCT_PLAN'];?></td>
	</tr>
	<tr>
		<td class="tdform-even" style="width:30%">&nbsp; <?php echo $this->language->_('Deskripsi Produk'); ?></td>
		<td class="tdform-even" style="width:1%">&nbsp;</td>
		<td style="width:69%" class="data curr_<?php echo $result2['PRODUCT_NAME'];?>" ><?php echo $result2['PRODUCT_NAME'];?></td>
		
	</tr>
	<?php }?>
	
</table>
<br />
<h2><?php echo $this->language->_('Suggested Backend Group Detail'); ?></h2>
<table border="0" cellspacing="0" cellpadding="0" class="table table-sm table-striped table-sugg" width="100%">
	
	<?php foreach ($this->result as $result)
	{
		?>
	<tr>
		<td class="tdform-even" style="width:30%">&nbsp; <?php echo $this->language->_('Tipe Akun'); ?></td>
		<td class="tdform-even" style="width:1%">&nbsp;</td>
		<td class="tdform-odd" style="width:69%"><?php  echo $this->account_typeArr[$result['ACCT_TYPE']];?></td>
	</tr>
	<tr>
		<td class="tdform-even" style="width:30%">&nbsp; <?php echo $this->language->_('Tipe Produk'); ?></td>
		<td class="tdform-even" style="width:1%">&nbsp;</td>
		<td class="tdform-odd" style="width:69%"><?php echo $result['PRODUCT_PLAN'];?></td>
	</tr>
	<tr>
		<td class="tdform-even" style="width:30%">&nbsp; <?php echo $this->language->_('Deskripsi Produk'); ?></td>
		<td class="tdform-even" style="width:1%">&nbsp;</td>
		<td style="width:69%" class="dataChange sugg_<?php echo $result['PRODUCT_NAME'];?>" ><?php echo $result['PRODUCT_NAME'];?></td>
	</tr>
	<?php }?>
</table>

<script>
	$("table.table-sugg > tbody > tr").each(function() {
		var data = $(this).find(".data");
		var dataChange = $(this).find(".dataChange");
		if (data.text() != dataChange.text()) {
			dataChange.css('background-color', '#fffe5c');
			$(this).addClass('diffRow');
		}
	});

	$("#btnDiffOnly").click(function() {
		$("table.table-sugg > tbody > tr").each(function() {
			var className = $(this).attr('class');
			if (className != 'diffRow' && $(this).is(":visible")) {
				$(this).hide();
			} else {
				$(this).show();
			}
		});
	});
</script>
<?php
echo $this->action(
	'index',
	'tools',
	'changemanagement',
	array('changes_id' => $this->changes_id)
);
?>