<?php $this->layout()->setLayout('popup');?>
<div class="tabheader" id="tabheader"><?php echo $this->language->_('New Backend Group Detail'); ?></div>
<h2><?php echo $this->language->_('Changes Information'); ?></h2>
<?php 
		echo $this->action('message',
			                'tools',
			                'changemanagement',
			                array('changes_id' => $this->changes_id));
?>
<br />
<br />
<h2><?php echo $this->language->_('New Backend Group Detail'); ?></h2>
<table border="0" cellspacing="0" cellpadding="0" class="table table-sm table-striped"
	width="100%">
	<?php foreach ($this->result as $result)
	{
		?>
	<tr>
		<td class="tdform-even" style="width:30%">&nbsp; <?php echo $this->language->_('Group ID'); ?></td>
		<td class="tdform-even" style="width:1%">&nbsp;</td>
		<td class="tdform-odd" style="width:69%"><?php echo $result['BGROUP_ID'];?></td>
	</tr>
	<tr>
		<td class="tdform-even" style="width:30%">&nbsp; <?php echo $this->language->_('Group Name'); ?></td>
		<td class="tdform-even" style="width:1%">&nbsp;</td>
		<td class="tdform-odd" style="width:69%"><?php echo $result['BGROUP_DESC'];?></td>
	</tr>
	<?php }?>
</table>
<br />
<table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped" width="100%">
	<tr><th colspan="5" class="tdform-sub"><strong><?php echo $this->language->_('Privilege List'); ?></strong></th></tr>
	<tr>
				<?php
				$counter = 0;
				$i = 0;
				foreach($this->result2 as $row)
				{
					$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';	
					$isi = '<td class="'.$td_css.'" >'.$row['BPRIVI_DESC'].'</td>';
					if($counter%5 == 0)
					{
						$isi = '</tr><tr>'.$isi;
					}
					echo $isi;
					$counter++;
					if($counter%5 == 0)
					{
						$i++;
					}
				}
				?>
				</tr>
  </table>
    <?php 
		echo $this->action('index',
			                'tools',
			                'changemanagement',
			                array('changes_id' => $this->changes_id));
  ?>