<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
                <li>
                    <span><?= $this->language->_('Home'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
				<li>
					<span><?= $this->language->_('Business Operations'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('LF Customer'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Detail'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
  table {
    font-size: 14px !important;
  }
  .headercolor {
    color: #fff;
    background-color: #0b549f !important;
  }
  .btn-sm {
    padding: .10rem .3rem !important;
  }
  .btn-light {
  	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%);
  }
</style>

<h5><?= $this->language->_('Customer Line Facility Detail'); ?></h5>
<div class="row content-box mb-3">
	<div class="col-md-12">
		<table class="table-striped my-3" cellpadding="5" style="width:100%">
			<tr>
				<td width="200"><?= $this->language->_('Customer'); ?></td>
				<td width="10">:</td>
				<td><b><?= strtoupper($this->data['CUST_NAME']).' ('.$this->data['CUST_ID'].')'; ?></b></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Underlying Document'); ?></td>
				<td>:</td>
				<td>
					<?= $this->data['PKS_NUMBER'] ?: '-'; ?>
					<?= $this->data['PKS_FILE'] ? '<button type="button" class="btn btn-sm btn-light ml-3" onclick="window.location.href=\''.$this->currentUrl.'/download/1\'">'.$this->language->_('Download').'</button>' : ''; ?>
				</td>
			</tr>
			<tr>
				<td><?= $this->language->_('Facility Start Date'); ?></td>
				<td>:</td>
				<td><?= $this->data['PKS_START_DATE'] ? date('d M Y', strtotime($this->data['PKS_START_DATE'])) : '-'; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Facility Expired Date'); ?></td>
				<td>:</td>
				<td><?= $this->data['PKS_EXP_DATE'] ? date('d M Y', strtotime($this->data['PKS_EXP_DATE'])) : '-'; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Facility Plafond Limit'); ?></td>
				<td>:</td>
				<td>IDR <?= Application_Helper_General::displayMoneyplain($this->data['PLAFOND_LIMIT']) ?: 0; ?></td>
			</tr>
			<tr>
				<td colspan="3">&nbsp;</td>
			</tr>
			<tr>
				<td><?= $this->language->_('Last Suggested'); ?></td>
				<td>:</td>
				<td><?= $this->data['LAST_SUGGESTED'] ? date('d M Y', strtotime($this->data['LAST_SUGGESTED'])).' ('.$this->data['LAST_SUGGESTEDBY'].')' : '-'; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Last Reviewed'); ?></td>
				<td>:</td>
				<td><?= $this->data['LAST_REVIEWED'] ? date('d M Y', strtotime($this->data['LAST_REVIEWED'])).' ('.$this->data['LAST_REVIEWEDBY'].')' : '-'; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Last Approved'); ?></td>
				<td>:</td>
				<td><?= $this->data['LAST_APPROVED'] ? date('d M Y', strtotime($this->data['LAST_APPROVED'])).' ('.$this->data['LAST_APPROVEDBY'].')' : '-'; ?></td>
			</tr>
		</table>
	</div>
</div>
<center>
	<?php $id = $this->params['id']; ?>
    <?= $this->formButton('back', $this->language->_('BACK'), ['class'=>'btnwhite hov mr-2','onclick'=>'window.location.href="/businessoperations/lfcustomer"']); ?>
    <?= $this->formButton('update', $this->language->_('UPDATE'), ['class'=>'btngreen hov','onclick'=>"window.location.href='/businessoperations/lfcustomer/update/id/$id'"]); ?>
</center>