<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?= $this->language->_('Home'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?= $this->language->_('Business Operations'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <?= $this->language->_('LF Customer'); ?>
                </li>
            </ul>
        </div>
    </div>
</div>

<style>
    .tablehead {
        background-color: #0b549f !important;
    }
    .input-medium {
        width: 240px !important;
    }
    ul.errors {
        list-style: none;
        padding-left: 0;
    }
</style>

<?php $companyName  = $this->language->_('Company Name'); ?>
<?php $companyCode  = $this->language->_('Company Code'); ?>
<?php $collectCode  = $this->language->_('Collectibility Code'); ?>
<?php $setFilter    = $this->language->_('Set Filter'); ?>
<?php $clearFilter  = $this->language->_('Clear Filter'); ?>

<div class="row content-box mb-4">
    <div class="col-md-12">
        <h5><?=$this->language->_('BTN Line Facility Customer List')?></h5>
        <form name="filterForm" action="<?= $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true); ?>" method="get">
            <table id="logo-title" cellpadding="3" cellspacing="0" border="0" style="width:100%; <?= ($this->filter==false) ? 'display:none;' : ''; ?>">
                <tr>
                    <td class="tbl-evencontent" width="150px"><?= $this->formLabel('fCompanyName',$companyName); ?></td>
                    <td class="tbl-evencontent" width="20px">:</td>
                    <td class="tbl-evencontent">
                        <?= $this->formText('fCompanyName',$this->fCompanyName,['class'=>'form-control input-medium']); ?>
                    </td>
                </tr>
                <tr>
                    <td class="tbl-evencontent" width="150px"><?= $this->formLabel('fCompanyCode',$companyCode); ?></td>
                    <td class="tbl-evencontent" width="20px">:</td>
                    <td class="tbl-evencontent">
                        <select name="fCompanyCode" class="form-control input-medium">
                        <option value="">--- <?= $this->language->_('Any Value'); ?> ---</option>
                        <?php foreach($this->companyCodeArr as $key=>$value) : ?>
                        <option value="<?= $key; ?>" <?= ($key==$this->fCompanyCode) ? 'selected' : ''; ?>><?= $this->language->_($value); ?></option>
                        <?php endforeach; ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="tbl-evencontent" width="150px"><?= $this->formLabel('fCollectCode',$collectCode); ?></td>
                    <td class="tbl-evencontent" width="20px">:</td>
                    <td class="tbl-evencontent">
                        <select name="fCollectCode" class="form-control input-medium">
                        <option value="">--- <?= $this->language->_('Any Value'); ?> ---</option>
                        <?php foreach($this->collectCodeArr as $row) : ?>
                        <option value="<?= $row['CODE']; ?>" <?= ($row['CODE']==$this->fCollectCode) ? 'selected' : ''; ?>><?= $this->language->_($row['DESCRIPTION']); ?></option>
                        <?php endforeach; ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">                                
                        <?= $this->formSubmit('filter',$setFilter,array('class'=>'btngreen hov mt-2')); ?>
                        <?= $this->formSubmit('filter_clear',$clearFilter,array('class'=>'btnwhite hov mt-2')); ?>
                    </td>
                </tr>
            </table>
            <div class="sidebar-collapse" style="float:right" id="sidebar-collapse">
                <a href="#" class="sidebar-collapse-icon with-animation">
                    <?= $this->language->_('Advanced Search'); ?>               
                </a>
            </div>
        </form>
    </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <div style="float:left; padding-right:5px;">
        <button type="button" class="btngrad hov" onclick="window.location.href='/businessoperations/lfcustomer/onboarding'"><i class="fas fa-plus mr-2"></i><?= $this->language->_('Onboarding'); ?></button>
      </div>
      <div style="float:right; padding-left:5px;">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" class="search form-control" id="searchtable" placeholder="Search">
        </div>
      </div>
      <div style="float:right; padding-left:5px;">
        <button class="btngrad hov" style="font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important; width: 100px !important;width: 100px !important;background-image:url(/images/print-light.png);background-repeat: no-repeat;background-position: 10px 3px;float:right;">Print</button>
      </div>
      <div style="float:right; padding-left:5px;"> 
        <input type="submit" value="&#xf6dd <?= $this->language->_('Export Files'); ?>" name="csv" id="csv" class="fa hov"> 
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="portlet-body flip-scroll table-responsive table-fixed pt-2" id="fixTable">
            <table class="table table-sm table-striped headerNew" id="myTable">
                <tr height="50px">
                    <th class="tablehead fth-header" width="3%" valign="top">No</th>
                    <th class="tablehead fth-header" valign="top">
                        <?= $this->language->_('Company'); ?><span style="white-space:nowrap"></span>
                    </th>
                    <th class="tablehead fth-header" valign="top">
                        <?= $this->language->_('Collectibility Code'); ?><span style="white-space:nowrap"></span>
                    </th>
                    <th class="tablehead fth-header" valign="top">
                        <?= $this->language->_('Facility Expired Date'); ?><span style="white-space:nowrap"></span>
                    </th>
                    <th class="tablehead fth-header" valign="top">
                        <?= $this->language->_('Last Suggested'); ?><span style="white-space:nowrap"></span>
                    </th>
                    <th class="tablehead fth-header" valign="top">
                        <?= $this->language->_('Last Updated'); ?><span style="white-space:nowrap"></span>
                    </th>
                    <th class="tablehead fth-header" valign="top" style="text-align:right">
                        <?= $this->language->_('Facility Plafond Limit'); ?><span style="white-space:nowrap"></span>
                    </th>
                    <th class="tablehead fth-header" valign="top" style="text-align:right">
                        <?= $this->language->_('Facilities Been Used'); ?><span style="white-space:nowrap"></span>
                    </th>
                </tr>
                <?php if(count($this->paginator) > 0) : ?>
                    <?php
                        require_once 'Crypt/AESMYSQL.php';
                        $AESMYSQL = new Crypt_AESMYSQL();
                        $rand = $this->token;
                        $i=0;
                        $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
                        foreach($this->paginator as $row){
                            $encrypted      = $AESMYSQL->encrypt($row['ID'], $rand);
                            $encrypted_id   = urlencode($encrypted);

                            $custName       = $row['CUST_NAME'].' (<a href="/businessoperations/lfcustomer/detail/id/'.$encrypted_id.'">'.$row['CUST_ID'].'</a>)';
                            $collectCode    = $row['COLLECTIBILITY_CODE'] ?: '-';
                            $expiredDate    = ($row['PKS_EXP_DATE']) ? date('d M Y', strtotime($row['PKS_EXP_DATE'])) : '-';
                            $lastSuggested  = ($row['LAST_SUGGESTED']) ? date('d M Y', strtotime($row['LAST_SUGGESTED'])).'<br>('.$row['LAST_SUGGESTEDBY'].')' : '-';
                            $lastUpdated    = ($row['LAST_APPROVED']) ? date('d M Y', strtotime($row['LAST_APPROVED'])).'<br>('.$row['LAST_APPROVEDBY'].')' : '-';
                            $plafondLimit   = ($row['PLAFOND_LIMIT']) ? Application_Helper_General::displayMoneyplain($row['PLAFOND_LIMIT']) : 0;
                            $facilitiesUsed = ($row['LIMIT_USED']) ? Application_Helper_General::displayMoneyplain($row['LIMIT_USED']) : 0;
                            $td_css         = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
                            echo '<tr>
                                    <td class="'.$td_css.'">'.$counter++.'</td>
                                    <td class="'.$td_css.'">'.$custName.'</td>
                                    <td class="'.$td_css.'">'.$collectCode.'</td>
                                    <td class="'.$td_css.'">'.$expiredDate.'</td>
                                    <td class="'.$td_css.'">'.$lastSuggested.'</td>
                                    <td class="'.$td_css.'">'.$lastUpdated.'</td>
                                    <td class="'.$td_css.'" align="right">'.$plafondLimit.'</td>
                                    <td class="'.$td_css.'" align="right">'.$facilitiesUsed.'</td>
                                </tr>';
                            $i++;
                        }
                    ?>
                <?php else : ?>
                    <tr>
                        <td colspan="8" class="tbl-evencontent" align="center"> ---<?= $this->language->_('No Data'); ?>--- </td>
                    </tr>
                <?php endif; ?>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#fixTable').fixTableHeader();

        $('div#sidebar-collapse').click(function(){
            if($("#logo-title").is(":visible")){ 
                $("#logo-title").hide();
            }else if($("#logo-title").is(":hidden")){ 
                $("#logo-title").show();
            }
        });

        $("#searchtable").keyup(function() {
            var value = this.value.toLowerCase().trim();
            $("#myTable tr").each(function(index) {
                if (!index) return;
                $(this).find("td").each(function() {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });
    });
</script>