<div class="tabheader" id="tabheader"><?php echo $this->language->_('General Changes Detail'); ?></div>
<?php
echo $this->action(
	'message',
	'tools',
	'changemanagement',
	array('changes_id' => $this->changes_id)
);
?>

<br /><br />
<table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped table-responsive table-sugg" width="100%">
	<tr class="diffRow">
		<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('General Setting Request List'); ?></strong></th>
		<th style="float:right">
			<button id="btnDiffOnly" type="button" class="btngreen hov"><?php echo $this->language->_('Show Difference Only'); ?></button>
		</th>
	</tr>
	<?php if ($this->cek == 0) { ?>
		<tr class="diffRow">
			<td class="tbl-evencontent" colspan="4">
				<div align="center"><?php echo $this->language->_('There is no Changes on Change'); ?> Id = <?= $this->changeId ?></div>
			</td>
		</tr>
	<?php } else if ($this->cek == 1) { ?>
		<tr class="diffRow">
			<th width="35%" colspan="2"><?php echo $this->language->_('Field'); ?></th>
			<th width="32%"><?php echo $this->language->_('Current Value'); ?></th>
			<th width="32%"><?php echo $this->language->_('Suggested Value'); ?></th>
		</tr>
		<!-- Frontend Application Global Setting -->
		<tbody>
			<!-- <tr class="diffRow">
				<th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Frontend Application Global Setting'); ?></strong></th>
			</tr> -->
			<?php
			// var_dump($this->colomnlist);die;
			//echo "<pre>"; 
			foreach ($this->colomnlist as $key => $value) {
				# code...
				$db = Zend_Db_Table::getDefaultAdapter();
				// $select  = $db->fetchRow(
				// 	$db->select()
				// 			  ->from(array('T' => 'M_SETTING'),array('*'))
				// 			  ->where('T.SETTING_ID = ?', $value['SETTING_ID'])
				// 			  );
							  

				if ($value['SETTING_ID'] == 'isenabled') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Frontend Application'); ?></td>
						<td width="1%" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data">
							<?php
							if ($this->isenabled == 1) {
								echo $this->language->_('Enabled');
							} else {
								echo $this->language->_('Disabled');
							}
							?>
						</td>
						<td width="32%" class="tbl-evencontent dataChange">
							<?php
							if ($this->newisenabled == 1) {
								echo $this->language->_('Enabled');
							} else {
								echo $this->language->_('Disabled');
							}
							?>
						</td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'disable_note') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Disabled Notification Text'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->language->_($this->disable_note) ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->language->_($this->newdisable_note) ?></td>
					</tr>
				<?php
				}
				?>
				<?php
				
				if ($value['SETTING_ID'] == 'master_bank_email') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Email'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->language->_($this->master_bank_email) ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->language->_($this->newmaster_bank_email) ?></td>
					</tr>
				<?php
				}
				?>
				<?php
				
				if ($value['SETTING_ID'] == 'master_bank_fax') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Contact'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->language->_($this->master_bank_fax) ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->language->_($this->newmaster_bank_fax) ?></td>
					</tr>
				<?php
				}
				?>
				<?php

				if ($value['SETTING_ID'] == 'remittance_limit_per_month') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Remittance Monthly Limit (USD)'); ?></td>
						<td width="1%" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= Application_Helper_General::displayMoney($this->remittance_limit_per_month) ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= Application_Helper_General::displayMoney($this->newremittance_limit_per_month) ?></td>
					</tr>
				<?php
				}
				?>

				<?php if ($value['SETTING_ID'] == 'note') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Frontend Welcoming Text'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->language->_($this->note) ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->language->_($this->newnote) ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'tokentype') { ?>
					<!--<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Token Type'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->language->_($this->tokentype) ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->language->_($this->newtokentype) ?></td>
					</tr>-->
				<?php
				}
				if ($value['SETTING_ID'] == 'paging_frontend') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('(Frontend) Max row data per page'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->paging_frontend ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->newpaging_frontend ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'max_import_bene') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Max quantity of beneficiary account in one import action'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->max_import_bene ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newmax_import_bene ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'max_import_single_payment') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Max quantity of single payment in one import action (Maximum 5000 payments)'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->max_import_single_payment ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->newmax_import_single_payment ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'range_futuredate') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Maximum days ahead (comparison with current date) when creating payment'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->range_futuredate ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newrange_futuredate ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'archiveafter') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Archive payment slip after number of months of no activity'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->archiveafter ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->newarchiveafter ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'otp_exp_regist') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('OTP Registration Expiration'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->otp_exp_regist ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->newotp_exp_regist ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'otp_exp_trx') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('OTP Transaction Expiration'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->otp_exp_trx ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->newotp_exp_trx ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'cut_off_time_rtgs') { ?>

					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('RTGS Payments Cut Off Time'); ?> (format : hh:mm:ss)</td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->cut_off_time_rtgs ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newcut_off_time_rtgs ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'cut_off_time_skn') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('SKN Payments Cut Off Time'); ?> (format : hh:mm:ss)</td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->cut_off_time_skn ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->newcut_off_time_skn ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'cut_off_time_bulkpayments') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Cut Off Time for Bulk Payments'); ?> (format hh:mm:ss)</td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->cut_off_time_bulkpayments ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newcut_off_time_bulkpayments ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'cut_off_time_bi') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Cut Off Time for BI Payments'); ?> (format hh:mm:ss)</td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->cut_off_time_bi ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newcut_off_time_bi ?></td>
					</tr>
				<?php

				}
				if ($value['SETTING_ID'] == 'cot_rtgs_ksei') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Cut Off Time For RTGS - KSEI'); ?></td>
						<td width="1%" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->cot_rtgs_ksei ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->newcot_rtgs_ksei ?></td>
					</tr>
				<?php
				}
				?>
				<?php
				if ($value['SETTING_ID'] == 'starting_time_remittance') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Starting time for Remittance payments'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->starting_time_remittance ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->newstarting_time_remittance ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'cut_off_time_remittance') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Cut off time for Remittance payments'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->cut_off_time_remittance ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->newcut_off_time_remittance ?></td>
					</tr>
				<?php
				}
				//if($value['SETTING_ID'] == 'remittance_limit_per_month'){ 
				?>
				<!-- <tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Remittance Monthly Limit (USD) '); ?></td>
	<td width="1%" class="tbl-evencontent">:</td>
	<td width="32%" class="tbl-oddcontent"><?= Application_Helper_General::displayMoney($this->remittance_limit_per_month) ?></td>
	<td width="32%" class="tbl-oddcontent"><?= Application_Helper_General::displayMoney($this->newremittance_limit_per_month) ?></td>
</tr> -->
				<?php
				//}
				if ($value['SETTING_ID'] == 'threshold_lld') { ?>
					<!--<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Threshold amount for RTGS payments (in IDR)'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>
	<td width="32%" class="tbl-evencontent"><?= Application_Helper_General::displayMoney($this->threshold_rtgs) ?></td>
	<td width="32%" class="tbl-evencontent"><?= Application_Helper_General::displayMoney($this->newthreshold_rtgs) ?></td>
</tr>
-->
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Threshold amount for LLD payments (in IDR)'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= Application_Helper_General::displayMoney($this->threshold_lld) ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= Application_Helper_General::displayMoney($this->newthreshold_lld) ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'threshold_lld_remittance') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Threshold amount for LLD payments (in USD)'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= Application_Helper_General::displayMoney($this->threshold_lld_remittance) ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= Application_Helper_General::displayMoney($this->newthreshold_lld_remittance) ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'min_amount_skn') { ?>

					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('SKN Payments Limit Amount (IDR)'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= Application_Helper_General::displayMoney($this->min_amount_skn) ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= Application_Helper_General::displayMoney($this->newmin_amount_skn) ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'max_amount_skn') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Maximum Amount for SKN Payment (in IDR)'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= Application_Helper_General::displayMoney($this->max_amount_skn) ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= Application_Helper_General::displayMoney($this->newmax_amount_skn) ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'min_amount_rtgs') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('RTGS Payments Limit Amount (IDR)'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= Application_Helper_General::displayMoney($this->min_amount_rtgs) ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= Application_Helper_General::displayMoney($this->newmin_amount_rtgs) ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'max_amount_rtgs') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Maximum Amount for RTGS Payment (in IDR)'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= Application_Helper_General::displayMoney($this->max_amount_rtgs) ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= Application_Helper_General::displayMoney($this->newmax_amount_rtgs) ?></td>
					</tr>

				<?php
				}

				//var_dump($value['SETTING_ID']);
				if ($value['SETTING_ID'] == 'max_amount_ol') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Maximum Amount for Domestic Online (in IDR)'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= Application_Helper_General::displayMoney($this->max_amount_ol) ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= Application_Helper_General::displayMoney($this->newmax_amount_ol) ?></td>
					</tr>

				<?php
				}

				if ($value['SETTING_ID'] == 'min_amount_ol') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Minimum Amount for Domestic Online (in IDR)'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= Application_Helper_General::displayMoney($this->min_amount_ol) ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= Application_Helper_General::displayMoney($this->newmin_amount_ol) ?></td>
					</tr>

				<?php
				}
				if ($value['SETTING_ID'] == 'max_import_bulk') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Max record in bulk payment  (Maximum 5000 records)'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->max_import_bulk ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newmax_import_bulk ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'escrow_acct_idr') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Escrow Account (IDR)'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->escrow_acct_idr ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newescrow_acct_idr ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'escrow_acct_usd') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Escrow Account (USD)'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->escrow_acct_usd ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newescrow_acct_usd ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'cancel_local_remittance') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Cancel payment slip after number of days of no activity (for local remittance)'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->cancel_local_remittance ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newcancel_local_remittance ?></td>
					</tr>


					<!--
 BATAL TANGGAL 9-19-2012 Cut Off Time for Bulk Payments (format hh:mm:ss)
<tr>
	<td width="34%" class="tbl-oddcontent">Cut off time for in house bulk payments (format : hh:mm:ss)</td>
	<td width="3px" class="tbl-oddcontent">:</td>
	<td width="32%" class="tbl-oddcontent"><?php //echo $this->cut_off_time_inhouse;
																					?></td>
	<td width="32%" class="tbl-oddcontent"><?php //echo $this->newcut_off_time_inhouse;
																					?></td>
</tr>-->
					<!------------------------------------------------------------------------- AUTO ------------------------------------------------------------------------------------------------>
				<?php
				}
				if ($value['SETTING_ID'] == 'auto_release_payment') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Enable/Disable auto release payment'); ?></td>
						<td width="1%" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= ($this->auto_release_payment == '1') ? 'On' : 'Off' ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= ($this->newauto_release_payment == '1') ? 'On' : 'Off' ?></td>
					</tr>

					<!--<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Enable/Disable auto monthly fee'); ?></td>
	<td width="1%" class="tbl-evencontent">:</td>
	<td width="32%" class="tbl-oddcontent"><?= ($this->auto_monthlyfee == '1') ? $this->language->_('On') : $this->language->_('Off') ?></td>
	<td width="32%" class="tbl-oddcontent"><?= ($this->newauto_monthlyfee == '1') ? $this->language->_('On') : $this->language->_('Off') ?></td>
</tr>
-->
					<!------------------------------------------------------------------------- AUTO ------------------------------------------------------------------------------------------------>
					<!------------------------------------------------------------------------- COST TO BI ------------------------------------------------------------------------------------------------>
					<!--
<tr>
	<td width="34%" class="tbl-evencontent">RTGS (Cost to BI)</td>
	<td width="1%" class="tbl-evencontent">:</td>
	<td width="32%" class="tbl-oddcontent"><?= Application_Helper_General::displayMoney($this->RTGS_cost) ?></td>
	<td width="32%" class="tbl-oddcontent"><?= Application_Helper_General::displayMoney($this->newRTGS_cost) ?></td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent">SKN (Cost to BI)</td>
	<td width="1%" class="tbl-evencontent">:</td>
	<td width="32%" class="tbl-oddcontent"><?= Application_Helper_General::displayMoney($this->SKN_cost) ?></td>
	<td width="32%" class="tbl-oddcontent"><?= Application_Helper_General::displayMoney($this->newSKN_cost) ?></td>
</tr>-->
					<!------------------------------------------------------------------------- END COST TO BI ------------------------------------------------------------------------------------------------>
					<!------------------------------------------------------------------------- CHARGES ------------------------------------------------------------------------------------------------>
					<!--
<tr>
	<td width="34%" class="tbl-evencontent">RTGS Charge per transaction</td>
	<td width="1%" class="tbl-evencontent">:</td>
	<td width="32%" class="tbl-oddcontent"><?= Application_Helper_General::displayMoney($this->RTGS_charge) ?></td>
	<td width="32%" class="tbl-oddcontent"><?= Application_Helper_General::displayMoney($this->newRTGS_charge) ?></td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent">SKN Charge per transaction</td>
	<td width="1%" class="tbl-evencontent">:</td>
	<td width="32%" class="tbl-oddcontent"><?= Application_Helper_General::displayMoney($this->SKN_charge) ?></td>
	<td width="32%" class="tbl-oddcontent"><?= Application_Helper_General::displayMoney($this->newSKN_charge) ?></td>
</tr>-->
					<!------------------------------------------------------------------------- END CHARGES ------------------------------------------------------------------------------------------------>

					<!-- Global User Account Settings (affects both frontend and backend users -->
				<?php
				}
				if ($value['SETTING_ID'] == 'pwd_expired_day') { ?>
					<tr>
						<th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Global User Account Settings (affects both frontend and backend users)'); ?></strong></th>
					</tr>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Password expiry period (in days)'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->pwd_expired_day ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->newpwd_expired_day ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'min_length_userid') { ?>
					<!-- Frontend Application User Account Settings -->
					<!-- <tr class="diffRow">
						<th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Frontend Application User Account Settings'); ?></strong></th>
					</tr> -->
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Min length of User ID'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->min_length_userid ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newmin_length_userid ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'max_length_userid') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Max length of User ID'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->max_length_userid ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newmax_length_userid ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'timeoutafter') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Session timeout after (in seconds)'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->timeoutafter ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newtimeoutafter ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'locknologinafter') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('(Frontend) Lock user account after (number of days) if no login'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->locknologinafter ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->newlocknologinafter ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'lockfailloginafter') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Lock user account after (number of attempts) of failed login attempt(s)'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->lockfailloginafter ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newlockfailloginafter ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'lockfailtokenafter') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('(Frontend) Lock Account after (number of input) of failed Token input'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->lockfailtokenafter ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->newlockfailtokenafter ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'password_history') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Number of Passwords saved in history'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->password_history ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newpassword_history ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'minfpassword') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('(Frontend) Min length of password'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->minfpassword ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->newminfpassword ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'maxfpassword') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('(Frontend) Max length of password'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->maxfpassword ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->newmaxfpassword ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'min_length_buserid') { ?>
					<!-- Backend Application User Account Settings -->
					<!-- <tr>
						<th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Backend Application User Account Settings'); ?></strong></th>
					</tr> -->
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Min length of User ID'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->min_length_buserid ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newmin_length_buserid ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'max_claim_period') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Max Claim Time Limit	'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->max_claim_period ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newmax_claim_period ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'max_ntu_date') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Max time NTU	'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->max_ntu_date ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newmax_ntu_date ?></td>
					</tr>
					<?php
				}
				if ($value['SETTING_ID'] == 'max_row_page') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Max row data per page'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->max_row_page ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newmax_row_page ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'max_length_buserid') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Max length of User ID'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->max_length_buserid ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newmax_length_buserid ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'b_timeoutafter') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Session timeout after (in seconds)'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->b_timeoutafter ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newb_timeoutafter ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'email_file_sharing') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Email Notification for File Sharing (separated by ;)'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->email_file_sharing ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newemail_file_sharing ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'b_locknologinafter') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('(Backend) Lock user account after (number of days) if no login'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->b_locknologinafter ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->newb_locknologinafter ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'b_lockfailloginafter') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Lock user account after (number of attempts) of failed login attempt(s)'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->b_lockfailloginafter ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newb_lockfailloginafter ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'bpassword_history') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('(Backend) Number of Passwords saved in history'); ?></td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->bpassword_history ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->newbpassword_history ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'minbpassword') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Min length of password (Minimum 6 characters)'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->minbpassword ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newminbpassword ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'maxbpassword') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Max length of password'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->maxbpassword ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newmaxbpassword ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'email_submission') { ?>
					<tr>
						<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('(Backend) Email address for file sharing notification (separated by ;)'); ?> </td>
						<td width="3px" class="tbl-oddcontent">:</td>
						<td width="32%" class="tbl-oddcontent data"><?= $this->email_submission ?></td>
						<td width="32%" class="tbl-oddcontent dataChange"><?= $this->newemail_submission ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'email_exception') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Email address for exception notification (separated by ;)'); ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->email_exception ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newemail_exception ?></td>
					</tr>
				<?php
				}
				if ($value['SETTING_ID'] == 'email_valas') { ?>
					<tr>
						<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Email Address for Remittance transactions notification (separated by;)') ?></td>
						<td width="3px" class="tbl-evencontent">:</td>
						<td width="32%" class="tbl-evencontent data"><?= $this->email_valas ?></td>
						<td width="32%" class="tbl-evencontent dataChange"><?= $this->newemail_valas ?></td>
					</tr>
					<!--
<tr>
	<td width="34%" class="tbl-oddcontent">(Backend) Email address for Supply Chain (Separated by;)</td>
	<td width="3px" class="tbl-oddcontent">:</td>
	<td width="32%" class="tbl-oddcontent"><?= $this->email_supplychain ?></td>
	<td width="32%" class="tbl-oddcontent"><?= $this->newemail_supplychain ?></td>
</tr>-->


					<!-- Backend Users Password Notification Templates -->
				<?php
				}
			}
			if (isset($this->newbemailtemplate_newuser)) { ?>
				<tr class="diffRow">
					<th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Backend Notification Templates'); ?></strong></th>
				</tr>
				<tr>
					<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Backend New User (Email)'); ?>
						<ul>
							<?php echo $this->language->_('Special Tags :'); ?>
							<li><?php echo $this->language->_('[[master_bank_name]] : Bank Name'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_app_name]] : Bank Application Name'); ?></li>
							<li><?php echo $this->language->_('[[buser_name]] : User Full Name'); ?></li>
							<li><?php echo $this->language->_('[[buser_login]] : User ID'); ?></li>
							<li><?php echo $this->language->_('[[confirm_link]] : Confirmation / verification link'); ?></li>
							<li><?php echo $this->language->_('[[exp_date]] : Link expired date'); ?></li>
							<!-- <li><?php echo $this->language->_('[[exp_date]] : Link expired date'); ?></li> -->
							<li><?php echo $this->language->_('[[master_bank_email]] : Bank Email'); ?></li>


							<li><?php echo $this->language->_('[[master_bank_telp]] : Bank telephone number'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_wapp]] : Bank WhatsApp'); ?></li>
						</ul>
					</td>
					<td width="3px" class="tbl-oddcontent">:</td>
					<td width="32%" class="tbl-oddcontent data"><?php echo html_entity_decode($this->bemailtemplate_newuser) ?></td>
					<td width="32%" class="tbl-oddcontent dataChange"><?php echo html_entity_decode($this->newbemailtemplate_newuser) ?></td>
				</tr>
			<?php
			}
			if (isset($this->newbemailtemplate_resetpwd)) { ?>
				<tr>
					<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Backend Reset Password (Email)'); ?>
						<ul style="">
							<?php echo $this->language->_('Special Tags :'); ?>

							<li><?php echo $this->language->_('[[master_bank_name]] : Bank Name'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_app_name]] : Bank Application Name'); ?></li>
							<li><?php echo $this->language->_('[[buser_fullname]] : Backend User Full Name'); ?></li>
							<li><?php echo $this->language->_('[[confirm_link]] : Confirmation / verification link'); ?></li>
							<li><?php echo $this->language->_('[[exp_date]] : Link expired date'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_email]] : Bank Email'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_telp]] : Bank telephone number'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_wapp]] : Bank WhatsApp'); ?></li>
						</ul>
					</td>
					<td width="3px" class="tbl-oddcontent">:</td>
					<td width="32%" class="tbl-oddcontent data"><?php echo html_entity_decode($this->bemailtemplate_resetpwd) ?></td>
					<td width="32%" class="tbl-oddcontent dataChange"><?php echo html_entity_decode($this->newbemailtemplate_resetpwd) ?></td>
				</tr>

			<?php
			}
			if (isset($this->newbemailtemplate_lockuser)) { ?>
				<tr>
					<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Backend Lock User (Email)'); ?>
						<ul style="">
							<?php echo $this->language->_('Special Tags :'); ?>

							<li><?php echo $this->language->_('[[master_bank_name]] : Bank Name'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_app_name]] : Bank Application Name'); ?></li>
							<li><?php echo $this->language->_('[[buser_id]] : Backend User ID'); ?></li>
							<li><?php echo $this->language->_('[[buser_fullname]] : Backend User Full Name'); ?></li>
							<li><?php echo $this->language->_('[[buser_lockreason]] : Backend User locked reason'); ?></li>
							<li><?php echo $this->language->_('[[ip_adress]] : IP address locked'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_email]] : Bank Email'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_telp]] : Bank telephone number'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_wapp]] : Bank WhatsApp'); ?></li>
						</ul>
					</td>
					<td width="3px" class="tbl-oddcontent">:</td>
					<td width="32%" class="tbl-oddcontent data"><?php echo html_entity_decode($this->bemailtemplate_lockuser) ?></td>
					<td width="32%" class="tbl-oddcontent dataChange"><?php echo html_entity_decode($this->newbemailtemplate_lockuser) ?></td>
				</tr>

			<?php
			}
			if (isset($this->newbemailtemplate_buserstatus)) { ?>
				<tr>
					<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Backend User Status Notification (Email)'); ?>
						<ul style="">
							<?php echo $this->language->_('Special Tags :'); ?>

							<li><?php echo $this->language->_('[[master_bank_name]] : Bank Name'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_app_name]] : Bank Application Name'); ?></li>
							<li><?php echo $this->language->_('[[buser_fullname]] : Backend User Full Name'); ?></li>
							<li><?php echo $this->language->_('[[buser_id]] : Backend User ID'); ?></li>
							<li><?php echo $this->language->_('[[buser_status]] : Backend User Status'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_email]] : Bank Email'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_telp]] : Bank telephone number'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_wapp]] : Bank WhatsApp'); ?></li>
						</ul>
					</td>
					<td width="3px" class="tbl-oddcontent">:</td>
					<td width="32%" class="tbl-oddcontent data"><?php echo html_entity_decode($this->bemailtemplate_buserstatus) ?></td>
					<td width="32%" class="tbl-oddcontent dataChange"><?php echo html_entity_decode($this->newbemailtemplate_buserstatus) ?></td>
				</tr>
			<?php
			}
			if (isset($this->newbemailtemplate_pendingtask)) { ?>
				<tr>
					<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Backend Pending Task List (Email)'); ?>
						<ul style="">
							<?php echo $this->language->_('Special Tags :'); ?>

							<li><?php echo $this->language->_('[[master_bank_name]] : Bank Name'); ?></li>
							<li><?php echo $this->language->_('[[buser_fullname]] : Backend User Full Name'); ?></li>
							<li><?php echo $this->language->_('[[pending_task_header]] : Pending Task Header'); ?></li>
							<li><?php echo $this->language->_('[[pending_task_list]] : Pending Task List'); ?></li>
						</ul>
					</td>
					<td width="3px" class="tbl-oddcontent">:</td>
					<td width="32%" class="tbl-oddcontent data"><?php echo html_entity_decode($this->bemailtemplate_pendingtask) ?></td>
					<td width="32%" class="tbl-oddcontent dataChange"><?php echo html_entity_decode($this->newbemailtemplate_pendingtask) ?></td>
				</tr>
				<!-- Frontend Users Password Notification Templates -->
			<?php
			}
			if (isset($this->newfemailtemplate_newuser)) { ?>
				<tr class="diffRow">
					<th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Customer Notification Templates'); ?></strong></th>
				</tr>
				<tr>
					<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Customer New User (Email)'); ?>
						<ul style="">
							<?php echo $this->language->_('Special Tags :'); ?>
							<li><?php echo $this->language->_('[[master_bank_name]] : Bank Name'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_app_name]] : Bank Application Name'); ?></li>
							<li><?php echo $this->language->_('[[comp_accid]] : Frontend user company id'); ?></li>

							<li><?php echo $this->language->_('[[user_login]] : Frontend user login name'); ?></li>
							<li><?php echo $this->language->_('[[confirm_link]] : Confirmation / verification link'); ?></li>
							<li><?php echo $this->language->_('[[exp_date]] : Link expired date'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_email]] : Bank Email'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_telp]] : Bank telephone number'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_wapp]] : Bank WhatsApp'); ?></li>
						</ul>
					</td>
					<td width="3px" class="tbl-oddcontent">:</td>
					<td width="32%" class="tbl-oddcontent data"><?php echo html_entity_decode($this->femailtemplate_newuser) ?></td>
					<td width="32%" class="tbl-oddcontent dataChange"><?php echo html_entity_decode($this->newfemailtemplate_newuser) ?></td>
				</tr>
			<?php
			}
			if (isset($this->newclause_template)) { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Clause Template'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="32%" class="tbl-evencontent data"><?php echo htmlentities($this->clause_template) ?></td>
					<td width="32%" class="tbl-evencontent dataChange"><?php echo htmlentities($this->newclause_template) ?></td>
				</tr>
			<?php
			}

			if (isset($this->newftemplate_remittance)) { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Remittance Clause'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="32%" class="tbl-evencontent data"><?php echo htmlentities($this->ftemplate_remittance) ?></td>
					<td width="32%" class="tbl-evencontent dataChange"><?php echo htmlentities($this->newftemplate_remittance) ?></td>
				</tr>
			<?php
			}

			
			if (isset($this->newfemailtemplate_resetpwd)) { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Customer Reset Password (Email)'); ?>
						<ul style="">
							<?php echo $this->language->_('Special Tags :'); ?>
							<li><?php echo $this->language->_('[[master_bank_name]] : Bank Name'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_app_name]] : Bank Application Name'); ?></li>
							<li><?php echo $this->language->_('[[confirm_link]] : Confirmation / verification link'); ?></li>
							<li><?php echo $this->language->_('[[exp_date]] : Link expired date'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_email]] : Bank Email'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_telp]] : Bank telephone number'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_wapp]] : Bank WhatsApp'); ?></li>
						</ul>
					</td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="32%" class="tbl-evencontent data"><?php echo html_entity_decode($this->femailtemplate_resetpwd) ?></td>
					<td width="32%" class="tbl-evencontent dataChange"><?php echo html_entity_decode($this->newfemailtemplate_resetpwd) ?></td>
				</tr>
			<?php
			}
			if (isset($this->newfemailtemplate_lockuser)) { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Customer Lock User (Email)'); ?>
						<ul style="">
							<?php echo $this->language->_('Special Tags :'); ?>

							<li><?php echo $this->language->_('[[master_bank_name]] : Bank Name'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_app_name]] : Bank Application Name'); ?></li>
							<li><?php echo $this->language->_('[[user_login]] : User Id'); ?></li>
							<li><?php echo $this->language->_('[[cust_id]] : Company ID'); ?></li>
							<li><?php echo $this->language->_('[[user_lockreason]] : Frontend User locked reason'); ?></li>
							<li><?php echo $this->language->_('[[ip_adress]] : User IP Address'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_email]] : Bank Email'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_telp]] : Bank telephone number'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_wapp]] : Bank WhatsApp'); ?></li>
						</ul>
					</td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="32%" class="tbl-evencontent data"><?php echo html_entity_decode($this->femailtemplate_lockuser) ?></td>
					<td width="32%" class="tbl-evencontent dataChange"><?php echo html_entity_decode($this->newfemailtemplate_lockuser) ?></td>
				</tr>
			<?php
			}
			if (isset($this->newfemailtemplate_userstatus)) { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Customer User Status (Email)'); ?>
						<ul style="">
							<?php echo $this->language->_('Special Tags :'); ?>

							<li><?php echo $this->language->_('[[master_bank_name]] : Bank Name'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_app_name]] : Bank Application Name'); ?></li>
							<li><?php echo $this->language->_('[[user_login]] : User Id'); ?></li>
							<li><?php echo $this->language->_('[[cust_id]] : Company ID'); ?></li>
							<li><?php echo $this->language->_('[[user_status]] : Frontend User Status'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_email]] : Bank Email'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_telp]] : Bank telephone number'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_wapp]] : Bank WhatsApp'); ?></li>
						</ul>
					</td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="32%" class="tbl-evencontent data"><?php echo html_entity_decode($this->femailtemplate_userstatus) ?></td>
					<td width="32%" class="tbl-evencontent dataChange"><?php echo html_entity_decode($this->newfemailtemplate_userstatus) ?></td>
				</tr>
			<?php
			}
			if (isset($this->newfemailtemplate_authadd)) { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Customer Add Google Auth (Email)'); ?>
						<ul style="">
							<?php echo $this->language->_('Special Tags :'); ?>
							<li><?php echo $this->language->_('[[master_bank_name]] : Bank Name'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_app_name]] : Bank Application Name'); ?></li>
							<li><?php echo $this->language->_('[[confirm_link]] : Confirmation / verification link'); ?></li>
							<li><?php echo $this->language->_('[[exp_date]] : Link expired date'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_email]] : Bank Email'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_telp]] : Bank telephone number'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_wapp]] : Bank WhatsApp'); ?></li>
						</ul>
					</td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="32%" class="tbl-evencontent data"><?php echo html_entity_decode($this->femailtemplate_authadd) ?></td>
					<td width="32%" class="tbl-evencontent dataChange"><?php echo html_entity_decode($this->newfemailtemplate_authadd) ?></td>
				</tr>
			<?php
			}
			if (isset($this->newfemailtemplate_authremove)) { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Customer Remove Google Auth (Email)'); ?>
						<ul style="">
							<?php echo $this->language->_('Special Tags :'); ?>
							<li><?php echo $this->language->_('[[master_bank_name]] : Bank Name'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_app_name]] : Bank Application Name'); ?></li>
							<li><?php echo $this->language->_('[[confirm_link]] : Confirmation / verification link'); ?></li>
							<li><?php echo $this->language->_('[[exp_date]] : Link expired date'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_email]] : Bank Email'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_telp]] : Bank telephone number'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_wapp]] : Bank WhatsApp'); ?></li>
						</ul>
					</td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="32%" class="tbl-evencontent data"><?php echo html_entity_decode($this->femailtemplate_authremove) ?></td>
					<td width="32%" class="tbl-evencontent dataChange"><?php echo html_entity_decode($this->newfemailtemplate_authremove) ?></td>
				</tr>
			<?php
			}
			if (isset($this->newfemailtemplate_loginnotif)) { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Customer Login Notification (Email)'); ?>
						<ul style="">
							<?php echo $this->language->_('Special Tags :'); ?>

							<li><?php echo $this->language->_('[[master_bank_name]] : Bank Name'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_app_name]] : Bank Application Name'); ?></li>
							<li><?php echo $this->language->_('[[cust_id]] : Company ID'); ?></li>
							<li><?php echo $this->language->_('[[user_login]] : Frontend user login name'); ?></li>
							<li><?php echo $this->language->_('[[user_lastlogin]] : Frontend user last login time'); ?></li>
							<li><?php echo $this->language->_('[[user_browser]] : Frontend user browser name'); ?></li>
							<li><?php echo $this->language->_('[[user_fullname]] : User Full Name'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_email]] : Bank Email'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_telp]] : Bank telephone number'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_wapp]] : Bank WhatsApp'); ?></li>

						</ul>
					</td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="32%" class="tbl-evencontent data"><?php echo html_entity_decode($this->femailtemplate_loginnotif) ?></td>
					<td width="32%" class="tbl-evencontent dataChange"><?php echo html_entity_decode($this->newfemailtemplate_loginnotif) ?></td>
				</tr>
			<?php
			}

			if (isset($this->newfemailtemplate_customerpending)) { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Customer Pending Task List (Email)'); ?>
						<ul style="">
							<?php echo $this->language->_('Special Tags :'); ?>
							<li><?php echo $this->language->_('[[comp_name]] : Company Name'); ?></li>
							<li><?php echo $this->language->_('[[user_fullname]] : User Full Name'); ?></li>
							<li><?php echo $this->language->_('[[pending_task_header]] : Pending Task Header'); ?></li>
							<li><?php echo $this->language->_('[[pending_task_list]] : Pending Task List'); ?></li>
						</ul>
					</td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="32%" class="tbl-evencontent data"><?php echo html_entity_decode($this->femailtemplate_customerpending) ?></td>
					<td width="32%" class="tbl-evencontent dataChange"><?php echo html_entity_decode($this->newfemailtemplate_customerpending) ?></td>
				</tr>
			<?php
			}
			if (isset($this->newftemplate_smstrans)) { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Transaction Notification (SMS)'); ?>
						<ul style="">
							<?php echo $this->language->_('Special Tags :'); ?>
							<li><?php echo $this->language->_('[[datetime]] : Datetime Transaction'); ?></li>
							<li><?php echo $this->language->_('[[type]] : Type Transaction'); ?></li>
							<li><?php echo $this->language->_('[[ccy]] : Currency Transaction'); ?></li>
							<li><?php echo $this->language->_('[[amount]] : Amount Transaction'); ?></li>
							<li><?php echo $this->language->_('[[account]] : Account Transaction'); ?></li>
							<li><?php echo $this->language->_('[[balance]] : Balance Transaction'); ?></li>
							<li><?php echo $this->language->_('[[message]] : message Transaction'); ?></li>
						</ul>
					</td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="32%" class="tbl-evencontent data"><?php echo html_entity_decode($this->ftemplate_smstrans) ?></td>
					<td width="32%" class="tbl-evencontent dataChange"><?php echo html_entity_decode($this->newftemplate_smstrans) ?></td>
				</tr>
			<?php
			}
			if (isset($this->newfemailtemplate_otp)) { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('OTP (SMS)'); ?>
						<ul style="">
							<?php echo $this->language->_('Special Tags :'); ?>
							<li><?php echo $this->language->_('[[master_bank_app_name]] : Bank Application Name'); ?></li>
							<li><?php echo $this->language->_('[[user_fullname]] : User Full Name'); ?></li>
							<li><?php echo $this->language->_('[[comp_name]] : Company Name'); ?></li>
							<li><?php echo $this->language->_('[[comp_accid]] : Company Code'); ?></li>
							<li><?php echo $this->language->_('[[user_login]] : User Id'); ?></li>
							<li><?php echo $this->language->_('[[user_agent]] : Browser'); ?></li>
							<li><?php echo $this->language->_('[[ip_address]] : IP Address'); ?></li>
							<li><?php echo $this->language->_('[[otp]] : OTP Code'); ?></li>
						</ul>
					</td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="32%" class="tbl-evencontent data"><?php echo html_entity_decode($this->femailtemplate_otp) ?></td>
					<td width="32%" class="tbl-evencontent dataChange"><?php echo html_entity_decode($this->newfemailtemplate_otp) ?></td>
				</tr>
			<?php
			}
			if (isset($this->newfemailtemplate_estatement)) { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('E-Statement (SMS)'); ?>
						<ul style="">
							<?php echo $this->language->_('Special Tags :'); ?>
							<li><?php echo $this->language->_('[[comp_name]] : Company Name'); ?></li>
							<li><?php echo $this->language->_('[[bank_name]] : Bank Name'); ?></li>
							<li><?php echo $this->language->_('[[source_acct]] : Source Account Number'); ?></li>
							<li><?php echo $this->language->_('[[ccy]] : Currency Transaction'); ?></li>
							<li><?php echo $this->language->_('[[month]] : Month'); ?></li>
							<li><?php echo $this->language->_('[[year]] : Year'); ?></li>
							<li><?php echo $this->language->_('[[acct_name]] : Account Name'); ?></li>
							<li><?php echo $this->language->_('[[acct_alias_name]] : Account Alias'); ?></li>
						</ul>
					</td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="32%" class="tbl-evencontent data"><?php echo html_entity_decode($this->femailtemplate_estatement) ?></td>
					<td width="32%" class="tbl-evencontent dataChange"><?php echo html_entity_decode($this->newfemailtemplate_estatement) ?></td>
				</tr>
				<!-- e-Reg Notification Templates -->
			<?php
			}

			if (isset($this->newbemailtemplate_greeting_eregis)) { ?>
				<tr>
					<th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Registration Notification Templates'); ?></strong></th>
				</tr>
				<tr>
					<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Greeting (Email)'); ?>
						<ul style="">
							<?php
							// echo $this->bemailtemplate_eregis;
							echo $this->language->_('Special Tags :'); ?>
							<li><?php echo $this->language->_('[[master_bank_name]] : Bank Name'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_app_name]] : Bank Application Name'); ?></li>
							<li><?php echo $this->language->_('[[contact_name]] : contact Name'); ?></li>
							<li><?php echo $this->language->_('[[company_name]] : Company Name'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_email]] : Bank Email'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_telp]] : Bank telephone number'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_wapp]] : Bank WhatsApp'); ?></li>
						</ul>
					</td>
					<td width="3px" class="tbl-oddcontent">:</td>
					<td width="32%" class="tbl-oddcontent data"><?php echo html_entity_decode($this->bemailtemplate_greeting_eregis) ?></td>
					<td width="32%" class="tbl-oddcontent dataChange"><?php echo html_entity_decode($this->newbemailtemplate_greeting_eregis) ?></td>
				</tr>
			<?php
			}
			if (isset($this->newbemailtemplate_customer_eregis)) { ?>
				<tr>
					<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Customer Registration Approve (Email)'); ?>
						<ul style="">
							<?php
							// echo $this->bemailtemplate_eregis;
							echo $this->language->_('Special Tags :'); ?>
							<li><?php echo $this->language->_('[[master_bank_name]] : Bank Name'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_app_name]] : Bank Application Name'); ?></li>
							<li><?php echo $this->language->_('[[contact_name]] : Contact Name'); ?></li>
							<li><?php echo $this->language->_('[[comp_accid]] : Company Code'); ?></li>
							<li><?php echo $this->language->_('[[comp_name]] : Company Name'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_email]] : Bank Email'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_telp]] : Bank telephone number'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_wapp]] : Bank WhatsApp'); ?></li>
						</ul>
					</td>
					<td width="3px" class="tbl-oddcontent">:</td>
					<td width="32%" class="tbl-oddcontent data"><?php echo html_entity_decode($this->bemailtemplate_customer_eregis) ?></td>
					<td width="32%" class="tbl-oddcontent dataChange"><?php echo html_entity_decode($this->newbemailtemplate_customer_eregis) ?></td>
				</tr>
			<?php
			}
			if (isset($this->newbemailcustomer_eregis_pending)) { ?>
				<tr>
					<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('Customer Registration Pending Approve (Email)'); ?>
						<ul style="">
							<?php
							// echo $this->bemailtemplate_eregis;
							echo $this->language->_('Special Tags :'); ?>

							<li><?php echo $this->language->_('[[master_bank_name]] : Bank Name'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_app_name]] : Bank Application Name'); ?></li>
							<li><?php echo $this->language->_('[[contact_name]] : Contact Name'); ?></li>
							<li><?php echo $this->language->_('[[company_name]] : Company Name'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_email]] : Bank Email'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_telp]] : Bank telephone number'); ?></li>
							<li><?php echo $this->language->_('[[master_bank_wapp]] : Bank WhatsApp'); ?></li>
						</ul>
					</td>
					<td width="3px" class="tbl-oddcontent">:</td>
					<td width="32%" class="tbl-oddcontent data"><?php echo html_entity_decode($this->bemailcustomer_eregis_pending) ?></td>
					<td width="32%" class="tbl-oddcontent dataChange"><?php echo html_entity_decode($this->newbemailcustomer_eregis_pending) ?></td>
				</tr>
			<?php
			}
			if (isset($this->newftemplate_agreement)) { ?>
				<tr>
					<td width="34%" class="tbl-oddcontent"><?php echo $this->language->_('eReg Terms & Conditions Template'); ?> </td>
					<td width="3px" class="tbl-oddcontent">:</td>
					<td width="32%" class="tbl-oddcontent data"><?php echo html_entity_decode($this->ftemplate_agreement) ?></td>
					<td width="32%" class="tbl-oddcontent dataChange"><?php echo html_entity_decode($this->newftemplate_agreement) ?></td>
				</tr>

		<?php
			}
		} ?>
		</tbody>
</table>
<script>
	$("table.table-sugg > tbody > tr").each(function() {
		var data = $(this).find(".data");
		var dataChange = $(this).find(".dataChange");
		if (data.html() != dataChange.html()) {
			dataChange.css('background-color', '#fffe5c');
			$(this).addClass('diffRow');
		}
	});

	$("#btnDiffOnly").click(function() {
		$("table.table-sugg > tbody > tr").each(function() {
			var className = $(this).attr('class');
			if (className != 'diffRow' && $(this).is(":visible")) {
				$(this).hide();
			} else {
				$(this).show();
			}
		});
	});
</script>
<?php
echo $this->action(
	'index',
	'tools',
	'changemanagement',
	array('changes_id' => $this->changes_id)
);
?>