<style>
td#error
{
	color:white;
	background-color:red;
}
</style>

<form name="bulk_credit_import" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'confirm'),null,true)?>">
											
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
	<tr><td colspan="2" class="tdform-sub"><?php echo $this->language->_('Transfer To'); ?></td></tr>
  <tr>
	<td class="tbl-evencontent" width="200px"><?php echo $this->language->_('Payment Subject'); ?></td>
	<td class="tbl-evencontent"><?=$this->PS_SUBJECT?></td>
  </tr>
  <tr>
	<td class="tbl-evencontent"><?php echo $this->language->_('Beneficiary Account'); ?></td>
	<td class="tbl-evencontent"><?=$this->ACBENEF?></td>
  </tr>
  <tr>
	<td class="tbl-evencontent"><?php echo $this->language->_('Beneficiary Account Name'); ?></td>
	<td class="tbl-evencontent"><?=$this->ACBENEF_BANKNAME?> (<?=$this->ACBENEF_ALIAS?>)</td>
  </tr>
  <tr>
	<td class="tbl-evencontent"><?php echo $this->language->_('Currency'); ?></td>
	<td class="tbl-evencontent"><?=$this->ACBENEF_CCY?></td>
  </tr>
  <tr>
	<td class="tbl-evencontent"><?php echo $this->language->_('Payment Date'); ?></td>
	<td class="tbl-evencontent"><?=$this->PS_EFDATE?></td>
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr><td  class="tdform-sub" colspan="2"><?php echo $this->language->_('Transfer From'); ?></td></tr>
  <tr>
	<td class="contentarea" id="contentarea" colspan="2">
			<table width="100%" border="0" cellspacing="1" cellpadding="2">
				<tr>
					<td><br />
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th id="tbl-headercontent" width="20px"><?php echo $this->language->_('No'); ?></th>
								<th id="tbl-headercontent" width="200px"><?php echo $this->language->_('Source Account Name / Alias'); ?></th>
								<th id="tbl-headercontent" width="100px"><?php echo $this->language->_('Account'); ?>#</th>
								<th id="tbl-headercontent" width="80px"><?php echo $this->language->_('Amount'); ?></th>
								<th id="tbl-headercontent"><?php echo $this->language->_('Message'); ?></th>
								<th id="tbl-headercontent"><?php echo $this->language->_('Additional Message'); ?></th>
								<th id="tbl-headercontent" width="180px"><?php echo $this->language->_('Remarks'); ?></th>
							</tr>
							<?php		
								$i = 1;
								foreach($this->trxArr as $key=>$row)
								{	
									$style = '';
									if($row['REMARK'])
									{
										$style = ' id="error" ';
									}
									$content =  '
										<tr>
											<td class="tbl-oddcontent"'.$style.'>'.$i.'</td>
											<td class="tbl-oddcontent"'.$style.'>'.$row['ACCT_NAME'].'</td>
											<td class="tbl-oddcontent"'.$style.'>'.$row['ACCTSRC'].'</td>
											<td class="tbl-oddcontent" align="right"'.$style.'>'.Application_Helper_General::displayMoney($row['TRA_AMOUNT']).'</td>
											<td class="tbl-oddcontent"'.$style.'>'.$row['TRA_MESSAGE'].'</td>
											<td class="tbl-oddcontent"'.$style.'>'.$row['TRA_REFNO'].'</td>
											<td class="tbl-oddcontent"><font color="red"><b>'.$row['REMARK'].'</b></font></td>
										</tr>';
									echo $content;
									$i++;
								}
							?>
						</table>
					</td>
				</tr>
																																			</table>
	</td>
</tr>
  <tr>
	<td colspan="4"><br /><b><?php echo $this->language->_('Total '); ?><?=$this->totalRecord?> payment(s), Amount <?=Application_Helper_General::displayMoney($this->totalAmount)?></b></td>
  </tr>
  <tr>
	<td>&nbsp;<br /><br /></td>
  </tr>
  <tr>
	<td class="button-area" id="button-area" colspan="7">
		<div class="formbutton">
			<input type="submit" name="submit" class="inputbtn" value="Cancel">&nbsp;&nbsp;
			<input type="submit" name="submit" class="inputbtn" value="Submit for Approval" <?php $disabled = $this->totalFailed ? 'disabled="disabled"' : ''; echo $disabled;?>>
		</div>
	</td>
  </tr>
</table>
</form>