<b><?php echo $this->language->_('Multi Debit '); ?>> <?php echo $this->language->_('Import File'); ?></b><br /><br />
<form name="Form" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" enctype="multipart/form-data">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td class="filterarea" id="filterarea">
<!--					<div class="subtopic"><h2>Import Multi Debit Payment</h2></div>-->
				</td>
			</tr>
			<tr>
				<td>
					<?php if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div>
					<?php } ?>
				</td>
			</tr>
			<tr>
				<td class="contentarea" id="contentarea">																									
					<table border="0" cellpadding="4" cellspacing="4" width="60%" align="center">												
						<tbody>
							<tr>
								<td colspan="4">
									<div id="notesPage">
										<div class="tdform-sub"><?php echo $this->language->_('Format'); ?>:&nbsp;
											<span style="font-size:11px;font-style:normal;">
												<a href="/template/Multi_Debit_Payment_Template.csv"><font color="red"><u><?php echo $this->language->_('download template'); ?></u></font></a>
											</span>
										</div>
										<div class="tbl-evencontent">
											<?php echo $this->language->_('Please upload '); ?><strong><?php echo $this->language->_('comma delimited '); ?>(,)</strong><?php echo $this->language->_(' file'); ?><br><br>
											<?php echo $this->language->_('SOURCE ACCOUNT, AMOUNT, MESSAGE, ADDITIONAL MESSAGE'); ?><br>
											<?php echo $this->language->_('0000000000000000, 350000, PAYMENT WHAT, ADDITIONAL MESSAGE'); ?><br>
											<?php echo $this->language->_('0000000000000000, 450000, PAYMENT WHAT, ADDITIONAL MESSAGE'); ?><br>
										</div>
										<br>
										<div class="tdform-sub"><?php echo $this->language->_('Notes'); ?>:</div>
										<div class="tbl-evencontent">
											<?php echo $this->language->_('Import will generate list from file'); ?>.<br>
											<?php echo $this->language->_('Click "Download Template" to download template'); ?>.
											<br>
											<?php echo $this->language->_('Please note that the first row in uploaded file will be ignored '); ?>
											(<?php echo $this->language->_('file contents will be proccessed starting on second row'); ?>).<br>
											<?php echo $this->language->_('Please check on the payment screen for the correctness, then click Submit for approval'); ?>.
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td valign="top">
									<img src="/images/img_one.gif" height="47" width="49">
								</td>
								<td style="height: 47px; vertical-align: middle;" nowrap="nowrap" align="center">
									<fieldset>
										<legend><span class="texthistory"><b><?php echo $this->language->_('Load Data from CSV Text File'); ?></b></span></legend>
										<img src="/images/img_excel.gif" height="47" width="49">
										<input name="CSV_FILE" size="30" onkeypress="return noSpecialChar(event);" type="file">
									</fieldset>
								</td>
							</tr>
							<tr><td colspan="2">&nbsp;</td></tr>
							<tr>
							<td valign="top"><img src="/images/img_two.gif" height="47" width="49"></td>
								<td style="height: 47px; vertical-align: middle;" nowrap="nowrap">
									<fieldset>
									<legend><span class="texthistory"><b><?php echo $this->language->_('Transfer To'); ?></b></span></legend>
										<table border="0" cellpadding="4" cellspacing="4" width="100%">
											<tbody>
												<tr>
													<td class="attrform" id="attrform" width="30%"><?php echo $this->language->_('Payment Subject'); ?></td>
													<td class="attrform" id="attrform">
													<?php echo $this->formText('PSSUBJECT',$this->PSSUBJECT,array('size'=>40,'maxlength'=>128))?>
													</td>
												</tr>
												<tr>
													<td class="attrform" id="attrform"><?php echo $this->language->_('Beneficiary Account'); ?><strong class="formreq">&nbsp;*</strong></td>
													<td class="attrform" id="attrform">
													<?php echo $this->formText('ACBENEF',$this->ACBENEF,array('size'=>40,'maxlength'=>10,'onkeypress'=>'return forceNumberOCBC(event)'))?>
													<input class="inputbtn" value="account book" onclick="showPopUpWindow('<?=$this->url(array('module'=>'popup','controller'=>'withinpopup','action'=>'index'),null,true)?>')" type="button">
													<input name="ACBENEF_FULL" value="" type="hidden">
													</td>
												</tr>
												<tr>
													<td class="attrform" id="attrform"><?php echo $this->language->_('Beneficiary Account Name'); ?></td>
													<td class="attrform" id="attrform">
													<?php echo $this->formText('ACBENEF_BANKNAME',$this->ACBENEF_BANKNAME,array('size'=>40,'maxlength'=>40,'readonly'=>'readonly'))?>
													</td>
												</tr>
												<tr>
													<td class="attrform" id="attrform"><?php echo $this->language->_('Alias Name'); ?><strong class="formreq">&nbsp;*</strong></td>
													<td class="attrform" id="attrform">
													<?php echo $this->formText('ACBENEF_ALIAS',$this->ACBENEF_ALIAS,array('size'=>40,'maxlength'=>128))?>
													</td>
												</tr>
												<tr>
													<td class="attrform" id="attrform"><?php echo $this->language->_('Currency'); ?><strong class="formreq">&nbsp;*</strong></td>
													<td class="attrform" id="attrform">
													<?
														echo '<select name="CURR_CODE" id="CURR_CODE">
																<option value="">--'.$this->language->_(' Please Select ').'--</option>';
															for($a=0,$b=count($this->ccyArr);$a<$b;$a++)
															{
																$row = $this->ccyArr[$a];	
																echo '<option value="'.$row['CCY_ID'].'" class="'.$row['DESCRIPTION'].'"';
																if($row['CCY_ID']==$this->CURR_CODE)echo ' selected';
																echo '>'.$row['CCY_ID'].'</option>'; 
															}
														echo '</select>';
													?>
													</td>
												</tr>
												<tr>
													<td class="attrform" id="attrform"><?php echo $this->language->_('Payment Date'); ?><strong class="formreq">&nbsp;*</strong></td>
													<td class="attrform" id="attrform"><?php 
														echo $this->datePicker("PSEFDATE", $this->PSEFDATE, 
																			array(	
																					 'dateFormat' => $this->jqueryDateFormat,
																					 'defaultDate'=>'new Date()',
																					 'showOn' => 'button',
																					 'buttonImage' => '/images/calendar.gif',
																					 'buttonImageOnly' => true,
																					 'changeMonth' => true,
																					 'changeYear' => true,
																					 'showClearButton'=>false,
																					 'minDate' => '0Y 0M 0W 0D',
																				),
															  array("size"=>"15","readOnly"=>"true"));
													?></td>
												</tr>
											</tbody>
										</table>
									</fieldset>
								</td>
							</tr>
							<tr>
							<td>&nbsp;</td>
								<td class="button-area" id="button-area" colspan="2">
									<div class="formbutton">
										<input class="inputbtn" value="Cancel" onclick="javascript:history.go(-1)" type="button">
										<input class="inputbtn" value="Import" type="submit">
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</form>
