<form name="biller_iata_view" method="post" action="">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td style="padding: 0pt 0pt 0pt 20px;">
					<img src="biller_garuda_view.php_files/logo-iata.gif" alt="IATA">
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td colspan="3" class="filterarea" id="filterarea">
				<div class="tdform-sub"><?php echo $this->language->_('Filter'); ?></div>
				</td>
			</tr>
			<tr>
				<td class="tbl-evencontent" id="filterarea" nowrap="nowrap" align="left">
					<div class="content-filter2">
						<?php echo $this->language->_('Payment Date From'); ?>&nbsp;&nbsp;
						<input name="EFDATE_START" value="24/02/2012" size="11" onfocus="this.blur()" readonly="readonly">&nbsp;&nbsp;<a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fStartPop(document.biller_iata_view.EFDATE_START,document.biller_iata_view.EFDATE_END);return false;" onmouseover="return hidestatus()"><img class="PopcalTrigger" src="biller_garuda_view.php_files/calbtn.gif" alt="" border="0" height="22" width="34" align="absmiddle"></a>&nbsp;&nbsp;
						To&nbsp;&nbsp;<input name="EFDATE_END" value="24/02/2012" size="11" onfocus="this.blur()" readonly="readonly">&nbsp;&nbsp;<a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fEndPop(document.biller_iata_view.EFDATE_START,document.biller_iata_view.EFDATE_END);return false;" onmouseover="return hidestatus()"><img class="PopcalTrigger" src="biller_garuda_view.php_files/calbtn.gif" alt="" border="0" height="22" width="34" align="absmiddle"></a>&nbsp;&nbsp;
					</div>
				</td>
			</tr>
			<tr>
			<td class="tbl-evencontent" id="filterarea" nowrap="nowrap" align="left">
				<div class="content-filter2">
					<?php echo $this->language->_('Payer ID'); ?>?&nbsp;&nbsp;
					<input name="TA_CODE" size="20" maxlength="20" type="text">&nbsp;&nbsp;
					<?php echo $this->language->_('Payment Ref'); ?>#&nbsp;&nbsp;
					<input name="SEARCH_PAYMENT" size="20" maxlength="20" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);" type="text">&nbsp;&nbsp;
				</div>
			</td>													
			</tr>
			<tr>
				<td class="tbl-evencontent" id="filterarea" nowrap="nowrap" align="left">
					<div class="content-filter2">
						<?php echo $this->language->_('Source Acct'); ?>#&nbsp;&nbsp;
						<input name="DEBET_ACCT" size="20" maxlength="20" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);" type="text">&nbsp;&nbsp;
						<?php echo $this->language->_('CCY'); ?>&nbsp;&nbsp;
						<input name="SEARCH_CCY" size="4" maxlength="4" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);" type="text">&nbsp;&nbsp;
						<!--Amount&nbsp;&nbsp;
						<input type="text" name="SEARCH_AMOUNT" size="20" maxlength="20" value="" onKeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);">&nbsp;&nbsp;-->
						<?php echo $this->language->_('Payment Status'); ?>&nbsp;&nbsp;
						<select name="SEARCH_STATUS">
							<option selected="selected" value=""><?php echo $this->language->_('All'); ?></option>
							<option value="1"><?php echo $this->language->_('Waiting for Approval'); ?></option>
							<option value="2"><?php echo $this->language->_('Waiting to Release'); ?></option>
							<option value="4"><?php echo $this->language->_('Rejected'); ?></option>
							<option value="5"><?php echo $this->language->_('Completed'); ?></option>
							<option value="6"><?php echo $this->language->_('Transfer Failed'); ?></option>
							<option value="7"><?php echo $this->language->_('Pending Future Date'); ?></option>
							<option value="9"><?php echo $this->language->_('Exception'); ?></option>
							<option value="13"><?php echo $this->language->_('Pending Process'); ?></option>
							<option value="14"><?php echo $this->language->_('Cancel Future Date'); ?></option>
						</select>
						<input class="buttonplay" value="set filter" onclick="JavaScript:proceed('', '', '1');" type="button">
						<input class="buttonreload" value="clear filter" onclick="location.href='biller_iata_view.php?fl3nc=1&amp;r=0qy3xwkpxu70102d&amp;param=5nd3dIiKiHyBfaLCuYqrjKfQ5J_nxMbF2cyXpraxiLNkZZmW7d7LcaXnnZt8dYl3'" type="button">
					</div>
				</td>													
			</tr>
			<tr>
				<td colspan="3" class="filterarea-line">
					<img src="biller_garuda_view.php_files/1x1px.gif">
				</td>
			</tr>
			<tr>
				<td colspan="3" class="contentarea" id="contentarea" valign="midle" align="right">&nbsp;</td>
			</tr>
			<tr>
				<td class="contentarea" id="contentarea">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<td class="tdform-sub"><?php echo $this->language->_('Payment Ref'); ?>#<a href="https://coolpay.bankbii.com/biller_iata_view.php?fl3nc=1&amp;r=onf1vtsj5m36qawg&amp;param=2aGTmplyZ12rf6q6zIu8q32xsnu4uaaI6ad4q7LEk7N3eLytoOS8dZS2gHZ4cVupi3mYs7rFe6eMp8C6c8morcG5poymk-OHt3WHq7jZsrWDisGFb1mneIh8eY2q2MuKq7iIqpulureqo8qokq67tHGYp3qutLvFrZOIx3KEh3Fnalxqf5WrnWiwmGSep1jqqqumt7d4yLK-eK9maY2iwKGaWWe5Y2JkZlupin16t7zAlbqnjbq6gMuii9XJqHS7sLiTxYh2vMXNro6nmOKeopKVmJmgnHauusx3mpZlk-h7ysS0tLqohabm1aeYp4S6tL_Dx3aOsJJgo6eUpKylm8rrnqm5uHiyx5G5vsS1xbWHps7jl5inosut6uXUnX60hXM%3d"><img src="biller_garuda_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_iata_view.php?fl3nc=1&amp;r=dtiayfbzjy8f86bw&amp;param=2aGTmplyZ12rf6q6zIu8q32xsnu4uaaI6ad4q7LEk7N3eLytoOS8dZS2gHZ4cVupi3mYs7rFe6eMp8C6c8morcG5poymk-OHt3WHq7jZsrWDisGFb1mneIh8eY2q2MuKq7iIqpulureqo8qokq67tHGYp3qutLvFrZOIx3KEh3Fnalxqf5WrnWiwmGSep1jqqqumt7d4yLK-eK9maY2iwKGaWWe5Y2JkZlupin16t7zAlbqnjbq6gMuii9XJqHS7sLiTxYh2vMXNro6nmOKeopKVmJmgnHauusx3mpZlk-h7ysS0tLqohabm1aeYp4S6tL_Dx3aOsJJgo6eUpKylm8rrnqm5uHiyx5G5vsS1xbWHptHVp9VaqNXTt-HcoJ68coZ0"><img src="biller_garuda_view.php_files/ico_desc.gif"></a></td>													
								<td class="tdform-sub"><?php echo $this->language->_('Source Acct'); ?>#<a href="https://coolpay.bankbii.com/biller_iata_view.php?fl3nc=1&amp;r=ut3lxp2y30czi3rs&amp;param=2aGTmplyZ12rf6q6zIu8q32xsnu4uaaI6ad4q7LEk7N3eLytoOS8dZS2gHZ4cVupi3mYs7rFe6eMp8C6c8morcG5poymk-OHt3WHq7jZsrWDisGFb1mneIh8eY2q2MuKq7iIqpulureqo8qokq67tHGYp3qutLvFrZOIx3KEh3Fnalxqf5WrnWiwmGSep1jqqqumt7d4yLK-eK9maY2iwKGaWWe5Y2JkZlupin16t7zAlbqnjbq6gMuii9XJqHS7sLiTxYh2vMXNro6nmOKeopKVmJmgnHauusx3mpZlk-h7ysS0tLqohabm1aeYp4S6tL_Dx3aOsJJglJeYqambX9jIynqvuJOvzpHKtLe2s8SmzJPjodVxpdzc47qpiHY%3d"><img src="biller_garuda_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_iata_view.php?fl3nc=1&amp;r=o18jh7uw44tmwu0i&amp;param=2aGTmplyZ12rf6q6zIu8q32xsnu4uaaI6ad4q7LEk7N3eLytoOS8dZS2gHZ4cVupi3mYs7rFe6eMp8C6c8morcG5poymk-OHt3WHq7jZsrWDisGFb1mneIh8eY2q2MuKq7iIqpulureqo8qokq67tHGYp3qutLvFrZOIx3KEh3Fnalxqf5WrnWiwmGSep1jqqqumt7d4yLK-eK9maY2iwKGaWWe5Y2JkZlupin16t7zAlbqnjbq6gMuii9XJqHS7sLiTxYh2vMXNro6nmOKeopKVmJmgnHauusx3mpZlk-h7ysS0tLqohabm1aeYp4S6tL_Dx3aOsJJglJeYqambX9jIynqvuJOvzpHKtLe2s8eY3NCWp9-Xctjk5tqxdYm0"><img src="biller_garuda_view.php_files/ico_desc.gif"></a></td>
								<td class="tdform-sub"><?php echo $this->language->_('Beneficiary Account'); ?><a href="https://coolpay.bankbii.com/biller_iata_view.php?fl3nc=1&amp;r=8ziiev4w0510yu4t&amp;param=2aGTmplyZ12rf6q6zIu8q32xsnu4uaaI6ad4q7LEk7N3eLytoOS8dZS2gHZ4cVupi3mYs7rFe6eMp8C6c8morcG5poymk-OHt3WHq7jZsrWDisGFb1mneIh8eY2q2MuKq7iIqpulureqo8qokq67tHGYp3qutLvFrZOIx3KEh3Fnalxqf5WrnWiwmGSep1jqqqumt7d4yLK-eK9maY2iwKGaWWe5Y2JkZlupin16t7zAlbqnjbq6gMuii9XJqHS7sLiTxYh2vMXNro6nmOKeopKVmJmgnHauusx3mpZlk-h7ysS0tLqohabm1aeYp4S6tL_Dx3aOsJJglJeXm6Wdn4vsx4iuq4bMt4vWuLS0yqCU3NCWp9-Xctjk5tqxdYm0"><img src="biller_garuda_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_iata_view.php?fl3nc=1&amp;r=eqxki9rnbxpkiu0x&amp;param=2aGTmplyZ12rf6q6zIu8q32xsnu4uaaI6ad4q7LEk7N3eLytoOS8dZS2gHZ4cVupi3mYs7rFe6eMp8C6c8morcG5poymk-OHt3WHq7jZsrWDisGFb1mneIh8eY2q2MuKq7iIqpulureqo8qokq67tHGYp3qutLvFrZOIx3KEh3Fnalxqf5WrnWiwmGSep1jqqqumt7d4yLK-eK9maY2iwKGaWWe5Y2JkZlupin16t7zAlbqnjbq6gMuii9XJqHS7sLiTxYh2vMXNro6nmOKeopKVmJmgnHauusx3mpZlk-h7ysS0tLqohabm1aeYp4S6tL_Dx3aOsJJglJeXm6Wdn4vsx4iuq4bMt4vWuLS0yqCXzuDTWuWhmKXg7t3RfXbHcg%3d%3d"><img src="biller_garuda_view.php_files/ico_desc.gif"></a></td>
								<td class="tdform-sub"><?php echo $this->language->_('Payer ID'); ?><a href="https://coolpay.bankbii.com/biller_iata_view.php?fl3nc=1&amp;r=ut5sbjbj4rlvb3t5&amp;param=2aGTmplyZ12rf6q6zIu8q32xsnu4uaaI6ad4q7LEk7N3eLytoOS8dZS2gHZ4cVupi3mYs7rFe6eMp8C6c8morcG5poymk-OHt3WHq7jZsrWDisGFb1mneIh8eY2q2MuKq7iIqpulureqo8qokq67tHGYp3qutLvFrZOIx3KEh3Fnalxqf5WrnWiwmGSep1jqqqumt7d4yLK-eK9maY2iwKGaWWe5Y2JkZlupin16t7zAlbqnjbq6gMuii9XJqHS7sLiTxYh2vMXNro6nmOKeopKVmJmgnHauusx3mpZlk-h7ysS0tLqohabm1aeYp4S6tL_Dx3aOsJJglqCem6WsmM7dnqm5uHiyx5G5vsS1xbWHps7jl5inosut6uXUnX60hXM%3d"><img src="biller_garuda_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_iata_view.php?fl3nc=1&amp;r=w8o9nz4kgc8idf3w&amp;param=2aGTmplyZ12rf6q6zIu8q32xsnu4uaaI6ad4q7LEk7N3eLytoOS8dZS2gHZ4cVupi3mYs7rFe6eMp8C6c8morcG5poymk-OHt3WHq7jZsrWDisGFb1mneIh8eY2q2MuKq7iIqpulureqo8qokq67tHGYp3qutLvFrZOIx3KEh3Fnalxqf5WrnWiwmGSep1jqqqumt7d4yLK-eK9maY2iwKGaWWe5Y2JkZlupin16t7zAlbqnjbq6gMuii9XJqHS7sLiTxYh2vMXNro6nmOKeopKVmJmgnHauusx3mpZlk-h7ysS0tLqohabm1aeYp4S6tL_Dx3aOsJJglqCem6WsmM7dnqm5uHiyx5G5vsS1xbWHptHVp9VaqNXTt-HcoJ68coZ0"><img src="biller_garuda_view.php_files/ico_desc.gif"></a></td>
								<td class="tdform-sub"><?php echo $this->language->_('Updated Date'); ?><a href="https://coolpay.bankbii.com/biller_iata_view.php?fl3nc=1&amp;r=0i6ubm8xxa3hloa9&amp;param=2aGTmplyZ12rf6q6zIu8q32xsnu4uaaI6ad4q7LEk7N3eLytoOS8dZS2gHZ4cVupi3mYs7rFe6eMp8C6c8morcG5poymk-OHt3WHq7jZsrWDisGFb1mneIh8eY2q2MuKq7iIqpulureqo8qokq67tHGYp3qutLvFrZOIx3KEh3Fnalxqf5WrnWiwmGSep1jqqqumt7d4yLK-eK9maY2iwKGaWWe5Y2JkZlupin16t7zAlbqnjbq6gMuii9XJqHS7sLiTxYh2vMXNro6nmOKeopKVmJmgnHauusx3mpZlk-h7ysS0tLqohabm1aeYp4S6tL_Dx3aOsJVgo6eUq6ecmtne3FzdtYaxuoTWp77BybKFvarRp9VaqNXTt-HcoJ68coZ0"><img src="biller_garuda_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_iata_view.php?fl3nc=1&amp;r=durtudnzyilr1lf4&amp;param=2aGTmplyZ12rf6q6zIu8q32xsnu4uaaI6ad4q7LEk7N3eLytoOS8dZS2gHZ4cVupi3mYs7rFe6eMp8C6c8morcG5poymk-OHt3WHq7jZsrWDisGFb1mneIh8eY2q2MuKq7iIqpulureqo8qokq67tHGYp3qutLvFrZOIx3KEh3Fnalxqf5WrnWiwmGSep1jqqqumt7d4yLK-eK9maY2iwKGaWWe5Y2JkZlupin16t7zAlbqnjbq6gMuii9XJqHS7sLiTxYh2vMXNro6nmOKeopKVmJmgnHauusx3mpZlk-h7ysS0tLqohabm1aeYp4S6tL_Dx3aOsJVgo6eUq6ecmtne3FzdtYaxuoTWp77BybKFvarUmeWXW9vd3a7YqKHcenOHdQ%3d%3d"><img src="biller_garuda_view.php_files/ico_rdesc.gif"></a></td>	
								<td class="tdform-sub"><?php echo $this->language->_('Payment Date'); ?><a href="https://coolpay.bankbii.com/biller_iata_view.php?fl3nc=1&amp;r=kckr9w3m01wj7ck0&amp;param=2aGTmplyZ12rf6q6zIu8q32xsnu4uaaI6ad4q7LEk7N3eLytoOS8dZS2gHZ4cVupi3mYs7rFe6eMp8C6c8morcG5poymk-OHt3WHq7jZsrWDisGFb1mneIh8eY2q2MuKq7iIqpulureqo8qokq67tHGYp3qutLvFrZOIx3KEh3Fnalxqf5WrnWiwmGSep1jqqqumt7d4yLK-eK9maY2iwKGaWWe5Y2JkZlupin16t7zAlbqnjbq6gMuii9XJqHS7sLiTxYh2vMXNro6nmOKeopKVmJmgnHauusx3mpZlk-h7ysS0tLqohabm1aeYp4S6tL_Dx3aOsJVgo6eUm52cmtnenqm5uHiyx5G5vsS1xbWHps7jl5inosut6uXUnX60hXM%3d"><img src="biller_garuda_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_iata_view.php?fl3nc=1&amp;r=jphh3mkopgt4vrsi&amp;param=2aGTmplyZ12rf6q6zIu8q32xsnu4uaaI6ad4q7LEk7N3eLytoOS8dZS2gHZ4cVupi3mYs7rFe6eMp8C6c8morcG5poymk-OHt3WHq7jZsrWDisGFb1mneIh8eY2q2MuKq7iIqpulureqo8qokq67tHGYp3qutLvFrZOIx3KEh3Fnalxqf5WrnWiwmGSep1jqqqumt7d4yLK-eK9maY2iwKGaWWe5Y2JkZlupin16t7zAlbqnjbq6gMuii9XJqHS7sLiTxYh2vMXNro6nmOKeopKVmJmgnHauusx3mpZlk-h7ysS0tLqohabm1aeYp4S6tL_Dx3aOsJVgo6eUm52cmtnenqm5uHiyx5G5vsS1xbWHptHVp9VaqNXTt-HcoJ68coZ0"><img src="biller_garuda_view.php_files/ico_desc.gif"></a></td>																	
								<td class="tdform-sub"><?php echo $this->language->_('CCY'); ?><a href="https://coolpay.bankbii.com/biller_iata_view.php?fl3nc=1&amp;r=5ni94q28jvi8ecwu&amp;param=2aGTmplyZ12rf6q6zIu8q32xsnu4uaaI6ad4q7LEk7N3eLytoOS8dZS2gHZ4cVupi3mYs7rFe6eMp8C6c8morcG5poymk-OHt3WHq7jZsrWDisGFb1mneIh8eY2q2MuKq7iIqpulureqo8qokq67tHGYp3qutLvFrZOIx3KEh3Fnalxqf5WrnWiwmGSep1jqqqumt7d4yLK-eK9maY2iwKGaWWe5Y2JkZlupin16t7zAlbqnjbq6gMuii9XJqHS7sLiTxYh2vMXNro6nmOKeopKVmJmgnHauusx3mpZlk-h7ysS0tLqohabm1aeYp4S6tL_Dx3aOsJJglqmnqJabqMnenqm5uHiyx5G5vsS1xbWHps7jl5inosut6uXUnX60hXM%3d"><img src="biller_garuda_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_iata_view.php?fl3nc=1&amp;r=gzvgsktv4i1qnfju&amp;param=2aGTmplyZ12rf6q6zIu8q32xsnu4uaaI6ad4q7LEk7N3eLytoOS8dZS2gHZ4cVupi3mYs7rFe6eMp8C6c8morcG5poymk-OHt3WHq7jZsrWDisGFb1mneIh8eY2q2MuKq7iIqpulureqo8qokq67tHGYp3qutLvFrZOIx3KEh3Fnalxqf5WrnWiwmGSep1jqqqumt7d4yLK-eK9maY2iwKGaWWe5Y2JkZlupin16t7zAlbqnjbq6gMuii9XJqHS7sLiTxYh2vMXNro6nmOKeopKVmJmgnHauusx3mpZlk-h7ysS0tLqohabm1aeYp4S6tL_Dx3aOsJJglqmnqJabqMnenqm5uHiyx5G5vsS1xbWHptHVp9VaqNXTt-HcoJ68coZ0"><img src="biller_garuda_view.php_files/ico_desc.gif"></a></td>																
								<td class="tdform-sub" align="right"><?php echo $this->language->_('Amount'); ?><a href="https://coolpay.bankbii.com/biller_iata_view.php?fl3nc=1&amp;r=abvyiyeuu7zf1g1f&amp;param=2aGTmplyZ12rf6q6zIu8q32xsnu4uaaI6ad4q7LEk7N3eLytoOS8dZS2gHZ4cVupi3mYs7rFe6eMp8C6c8morcG5poymk-OHt3WHq7jZsrWDisGFb1mneIh8eY2q2MuKq7iIqpulureqo8qokq67tHGYp3qutLvFrZOIx3KEh3Fnalxqf5WrnWiwmGSep1jqqqumt7d4yLK-eK9maY2iwKGaWWe5Y2JkZlupin16t7zAlbqnjbq6gMuii9XJqHS7sLiTxYh2vMXNro6nmOKeopKVmJmgnHauusx3mpZlk-h7ysS0tLqohabm1aeYp4S6tL_Dx3aOsJJgp6aWlZilqNrn7FzdtYaxuoTWp77BybKFvarRp9VaqNXTt-HcoJ68coZ0"><img src="biller_garuda_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_iata_view.php?fl3nc=1&amp;r=m0syv68e152op9m0&amp;param=2aGTmplyZ12rf6q6zIu8q32xsnu4uaaI6ad4q7LEk7N3eLytoOS8dZS2gHZ4cVupi3mYs7rFe6eMp8C6c8morcG5poymk-OHt3WHq7jZsrWDisGFb1mneIh8eY2q2MuKq7iIqpulureqo8qokq67tHGYp3qutLvFrZOIx3KEh3Fnalxqf5WrnWiwmGSep1jqqqumt7d4yLK-eK9maY2iwKGaWWe5Y2JkZlupin16t7zAlbqnjbq6gMuii9XJqHS7sLiTxYh2vMXNro6nmOKeopKVmJmgnHauusx3mpZlk-h7ysS0tLqohabm1aeYp4S6tL_Dx3aOsJJgp6aWlZilqNrn7FzdtYaxuoTWp77BybKFvarUmeWXW9vd3a7YqKHcenOHdQ%3d%3d"><img src="biller_garuda_view.php_files/ico_desc.gif"></a></td>															
								<td class="tdform-sub"><?php echo $this->language->_('Payment Status'); ?><a href="https://coolpay.bankbii.com/biller_iata_view.php?fl3nc=1&amp;r=2vooh9zxwut6q0hr&amp;param=2aGTmplyZ12rf6q6zIu8q32xsnu4uaaI6ad4q7LEk7N3eLytoOS8dZS2gHZ4cVupi3mYs7rFe6eMp8C6c8morcG5poymk-OHt3WHq7jZsrWDisGFb1mneIh8eY2q2MuKq7iIqpulureqo8qokq67tHGYp3qutLvFrZOIx3KEh3Fnalxqf5WrnWiwmGSep1jqqqumt7d4yLK-eK9maY2iwKGaWWe5Y2JkZlupin16t7zAlbqnjbq6gMuii9XJqHS7sLiTxYh2vMXNro6nmOKeopKVmJmgnHauusx3mpZlk-h7ysS0tLqohabm1aeYp4S6tL_Dx3aOsJVgo6eUqauZrdrsnqm5uHiyx5G5vsS1xbWHps7jl5inosut6uXUnX60hXM%3d"><img src="biller_garuda_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_iata_view.php?fl3nc=1&amp;r=s347dvoxaach12l9&amp;param=2aGTmplyZ12rf6q6zIu8q32xsnu4uaaI6ad4q7LEk7N3eLytoOS8dZS2gHZ4cVupi3mYs7rFe6eMp8C6c8morcG5poymk-OHt3WHq7jZsrWDisGFb1mneIh8eY2q2MuKq7iIqpulureqo8qokq67tHGYp3qutLvFrZOIx3KEh3Fnalxqf5WrnWiwmGSep1jqqqumt7d4yLK-eK9maY2iwKGaWWe5Y2JkZlupin16t7zAlbqnjbq6gMuii9XJqHS7sLiTxYh2vMXNro6nmOKeopKVmJmgnHauusx3mpZlk-h7ysS0tLqohabm1aeYp4S6tL_Dx3aOsJVgo6eUqauZrdrsnqm5uHiyx5G5vsS1xbWHptHVp9VaqNXTt-HcoJ68coZ0"><img src="biller_garuda_view.php_files/ico_desc.gif"></a></td>													
							</tr>
							<tr>
								<td class="tbl-evencontent" colspan="13" align="center"><?php echo $this->language->_('there is currently no data in this section'); ?></td>
							</tr>
							<tr>
								<td  colspan="13" align="center">&nbsp;</td>
							</tr>
							<tr>
								<td class="button-area" id="button-area" colspan="9">
									<div class="formbutton">
										<input class="inputbtn" value="back" onclick="location.href='partner_screen_iata.php?fl3nc=1&amp;r=rvb1ci0ec0mmhu6b&amp;param=5pShoKSUl5qbosm2wXe-p2Sdpljq0sif5tef0raxiLM%3d'" type="button">
										<input class="inputbtn" value="&nbsp;&nbsp;&nbsp;&nbsp;CSV&nbsp;&nbsp;&nbsp;&nbsp;" onclick="location.href='biller_iata_view.php?fl3nc=1&amp;r=r4x3xf01kv65gltb&amp;param=5qGkopeaqap1qdfi5qqXyafjm6W9qqa2y7V4srGtfbOIdo7jvraqeYnScnV2iHJcqox6xLzHeq-jWuDId7i3qKrVpnbCqpanxXl2urPC0KmBhMh_hnBaqHmJfXq5vteJvqeGwbJY6qi3p7e3eMiyvnivWqittr6yvHmUxoVzhYhyaGtda6upqlucrGadpmSd2KqouqSHrsy1grZxZ5yVrLeYZlqld2RjZWdcqot-psu7fsm2dcbCd8W5oojptniqv7N80YeJqcTPxKVaqLyEkYKGeXuJdZLK7J6pubh4sseRub6ixqTTpsji4JjTqJrMlu3Aunh6xZB0jJOIhYmMdsne65k%3d'" type="button">
										<input class="inputbtn" value="&nbsp;&nbsp;&nbsp;&nbsp;PDF&nbsp;&nbsp;&nbsp;&nbsp;" onclick="location.href='biller_iata_view.php?fl3nc=1&amp;r=gri7bslma69u4poc&amp;param=5qGkopeaqap1qdfi5qqX1pjTm6W9qqa2y7V4srGtfbOIdo7jzrLHd4S3dm9Zp4WJloaOsru9iKeMp7G6dLy5xKO5poemk-OIs5ODqb2_ro6niLhyhHZ8lHl6kXaL7Mt7q7h3tdRzxLS6sMqgWdywwnmziHrHw86yuohymaR1hXl2inyXfrO9tVzdq3qxtoa8xLi2t7WHpp-kWaR6ZZqVrLeaZGalV6V4enl3i32Yqse8c5yaWZ-7YqmKl6iok2Sbk-OHt3WHq7jZwamNgrh_hnBaqIl8eYuowdeJvqeIwshvndiutdWyha2ywnHLmaiO48nDrHmH0nOLcJhjpqqXrtXd2arPylrgxIS7qrfBuLySvLzCiK-YmtvT'" type="button">
										<input class="inputbtn" value="&nbsp;&nbsp;&nbsp;&nbsp;Print&nbsp;&nbsp;&nbsp;&nbsp;" onclick="window.print();" type="button">
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</form>
