<?php 
$optionlist = $this->optionlist;
?>
<b><?php echo $this->language->_('E-Commerce Payment')?> &gt; <?php echo $this->language->_('E-Commerce Charges');?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('E-Commerce Charges');?></div>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0">
		<tr><th colspan="9" class="tdform-sub"><strong><?php echo $this->language->_('Filter');?></strong></th></tr>
		<tr>
      		<td class="tbl-evencontent"><?php echo $this->formLabel('billerCode',$this->language->_('E-Commerce Code')); ?></td>
 			<td class="tbl-evencontent">:</td>
	  		<td class="tbl-evencontent" colspan="7"><select name="billerCode">
							<option value="">--- <?php echo $this->language->_('Any Value');?> ---</option>
							<?php foreach($this->var as $list){?>
							<option value="<?php echo $list['PROVIDER_CODE'];?>" <?=($list['PROVIDER_CODE']==$this->billerCode) ? 'selected' : ''?>><?php echo $list['PROVIDER_CODE'];?></option><?php }?>
						</select>
	  		</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('billerName',$this->language->_('E-Commerce Name')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="7"><?php  echo $this->formText('billerName',$this->billerName,array('size'=>'30')); ?></td>
		
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('suggestor',$this->language->_('Suggester')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
					<?php  echo $this->formText('suggestor',$this->suggestor,array('size'=>'30')); ?>
			</td>
			<td class="tbl-evencontent"><?php echo $this->formLabel('datef',$this->language->_('Suggested Date From')); ?></td>
 	  		<td class="tbl-evencontent">:</td>
	  		<td class="tbl-evencontent"><?php echo $this->datePicker("fDateFrom", $this->fDateFrom,array('dateFormat' => $this->jqueryDateFormat,
                     'defaultDate'=>'new Date()',
                     'showOn' => 'button',
                     'buttonImage' => '/images/calendar.gif',
                     'buttonImageOnly' => true,
                     'changeMonth' => true,
                     'changeYear' => true,
	  				 'clearAnotherField' => true,
	  				 'minDateID' => 'fDateTo',
                     'anotherField' => 'fDateTo',),array('readonly' => 'readonly','size'=>'10'));?></td>                    
			<td class="tbl-evencontent"><?php echo $this->formLabel('datet',$this->language->_('To')); ?></td>
 	  		<td class="tbl-evencontent">:</td>
	  		<td class="tbl-evencontent"><?php echo $this->datePicker("fDateTo", $this->fDateTo, array('dateFormat' => $this->jqueryDateFormat,
                     'defaultDate'=>'new Date()',
                     'showOn' => 'button',
	  				 'readonly' => 'readonly',
                     'buttonImage' => '/images/calendar.gif',
                     'buttonImageOnly' => true,
                     'changeMonth' => true,
                     'changeYear' => true,
	  				 'clearAnotherField' => true,
	  				 'maxDateID' => 'fDateFrom',
                     'anotherField' => 'fDateFrom',),array('readonly' => 'readonly','size'=>'10'));?></td>
		</tr>
		<tr><td align="left" colspan="7">
	  <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'inputbtn')); ?>
	  <?php //echo $this->formSubmit('filter_clear',$this->language->_('Clear Filter'),array('class'=>'inputbtn')); ?>
	  <input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>$this->modulename,'controller'=>'index'),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Clear Filter');?>">
    </td></tr>
	</table>
</form>
<br />
<br />
<div align="right">
	<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
		<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
		<?php echo $this->formSubmit('pdf','PDF is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
		<?php }else{ ?>
		<?php echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn')); ?>&nbsp;
		<?php } ?>
		<?php if($this->paginator->getTotalItemCount() > $this->applicationSetting['max_row_download_csv']) { ?>
		<?php echo $this->formSubmit('csv','CSV is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
		<?php }else{ ?>
		<?php echo $this->formSubmit('csv','CSV',array('class'=>'inputbtn')); ?>&nbsp;
		<?php } ?>
<!--		<input class="inputbtn" value="<?php echo $this->language->_('Print');?>" onclick="window.print();" type="button">-->
		<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {
			echo $this->formSubmit('pr',$this->language->_('print'),array('class'=>'inputbtn','disabled'=>'disabled'));
		}
		else{
		?>
			<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="inputbtn"><?PHP echo $this->language->_("Print")?></button>&nbsp;
		<?php 	
		}
		?>
	</form>
</div>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
  <table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
    <tr>
      <th width="3%" valign="top">No</th>
      <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                          'sortBy' => $this->sortBy,
                                                          'sortDir' => $this->sortDir,
                                                          'query_string_params' => $this->query_string_params
      													  )
    						   )?>		
    <th width="3%" valign="top"><?php echo $this->language->_('Action');?></th></tr>
    <?php
    $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
      if(count($this->paginator))
      {
        $i = 0;
        foreach($this->paginator as $row)
        {
		  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		    echo '<tr>
					<td class="'.$td_css.'">'.$counter.'</td>
					<td class="'.$td_css.'">'.$row['PROVIDER_CODE'].'</td>
					<td class="'.$td_css.'">'.$row['PROVIDER_NAME'].'</td>
					<td class="'.$td_css.'">'.Application_Helper_General::displayMoney($row['CHARGES_AMT']).'</td>';
					//<td class="'.$td_css.'">'.$this->language->_($row['PROVIDER_TYPE']).'</td>
		    echo	'<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['CHARGES_SUGGESTED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
		    		<td class="'.$td_css.'">'.$row['CHARGES_SUGGESTEDBY'].'</td>';?>
				  <td class="<?=$td_css?>"><a href="javascript:void(0)" onClick="window.location.href='<?php echo $this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','providerid'=>$row['PROVIDER_ID']),null,true);?>'"><?php echo $this->language->_('Edit');?></a></td>
				<?php echo '</tr>';
		$i++;
        $counter++;
  	  }
    }else{
	  echo '<tr><td colspan="11" class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
        }?>
</table>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>