<script type="text/javascript">
$(document).ready(function(){
  $('#fixTable').fixTableHeader();

  $("#searchtable").keyup(function() {
      var value = this.value.toLowerCase().trim();

      $("#myTable tr").each(function(index) {
        if (!index) return;
        $(this).find("td").each(function() {
          var id = $(this).text().toLowerCase().trim();
          var not_found = (id.indexOf(value) == -1);
          $(this).closest('tr').toggle(!not_found);
          return not_found;
        });
      });
    });

});

function deleleopenmodal() {

    $('#dialog_box').modal('show');

    //var params = "'" + bankname + "','" + key + "','" + acctno + "'";
   // $("#btn_delete_one").attr('onclick', 'processdelete(' + params + ')');
  }

  function emailmodal() {

    var valcheck = [];
    $(':checkbox:checked').each(function(i){
      var list = $(this).val()
//	  console.log(list);
      list = list.split('_');
      if(list == ""){
          list = null
      }
            valcheck[i] = list ;
    });
	//console.log(valcheck);
    if(valcheck.includes(null)){
      document.getElementById("errormail").style.display = "flex";
      document.getElementById("errormail").innerHTML = "Some of the selected reports are still in the process of generating files";
    }else{
      document.getElementById("errormail").style.display = "none";
      $('#dialog_email').modal('show');
    }


    //var params = "'" + bankname + "','" + key + "','" + acctno + "'";
   // $("#btn_delete_one").attr('onclick', 'processdelete(' + params + ')');
  }

  function valthis() {
    var checkBoxes = document.getElementsByClassName( 'checkall' );
    var isChecked = false;
        for (var i = 0; i < checkBoxes.length; i++) {
            if ( checkBoxes[i].checked ) {
                isChecked = true;
            };
        };
            if ( isChecked ) {
                $('#disreject').prop('disabled', false);
                $('#disreject').removeClass("disabled");
            } else {
                $('#disreject').prop('disabled', 'disabled');
                $('#disreject').addClass("disabled");
            }   

            if ( isChecked ) {
                $('#addwhere').prop('disabled', false);
                $('#addwhere').removeClass("disabled");
            } else {
                $('#addwhere').prop('disabled', 'disabled');
                $('#addwhere').addClass("disabled");
            }   
    }
  
</script>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span>Report</span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="inhouse"><?=$this->language->_('Report Generator')?></span>
                  </li>

              </ul>
          </div>
        </div>
</div>
<br/>
<div class="">

<style type="text/css">
  .action-button {
    border-radius: 0.4rem!important;
  }

  .btnred{
    min-width: 86px !important;
    height: 30px !important;
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    font-family: SegoeUI;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    z-index: 1000;
  }
</style>

<style type="text/css">
    
    .input-group-prepend{
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16) !important;
        border-bottom-left-radius: 6px !important;
        border-top-left-radius: 6px !important;
    }

    .nav-tabs .nav-link {
      border-color: #c9c9c9;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      text-align: center;
      font-size: 12px;
      width: 200px;
      text-transform: uppercase;
    }
    .nav-tabs .nav-link:hover {
      border-color: #c9c9c9;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color:white;
      margin-top: -10px;
        padding-bottom: 10px;
        top: -10px;
        padding-top: 18px;
        height: 47.5px;
        width: 200px;
        text-transform: uppercase;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
        color:white;
        border-color: #dee2e6 #dee2e6 #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-top: -10px;
        padding-bottom: 10px;
        top: -10px;
        padding-top: 14px;
        height: 47.5px;
        font-size: 14px;
        width: 250px;
        text-transform: uppercase;
    }

</style>

<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">

<div class="modal fade" id="dialog_box" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><?php echo $this->language->_('Delete Report Generator') ?></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><?= $this->language->_('Are you sure to delete some if the selected files') ?> ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
      <input type="submit" name="delete" class="btnred hov" style="font-size:11px; min-width: 100px !important; height: 35px !important;" value="Delete" >
          
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="dialog_email" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title textBlack"><?php echo $this->language->_('Email Report Generator File') ?></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
      <table style="width:100%">
      <tr> 
                    <td>
                      <?php echo $this->formLabel('reportemail',$this->language->_('Send To'),array('class'=>'col-form-label pb-4',"style"=>'color: #000000 !important;')); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong>
                    </td>
                    <td colspan="2">
                      <?php echo $this->formText('report_email',$this->report_email,array('class'=>'form-control','id'=>'report_email')); ?>
                      <small class="textBlack">
                         Separate multiple emails with comma (,)
                      </small>
                      
                      <div class="invalid-feedback"><?=$this->error_report_name?></div>
                    </td>
                  </tr>
              </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
      <input type="submit" name="sendmail" class="btngreen hov" value="Send" >
          
        </div>
      </div>
    </div>
  </div>  

<br>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" value="1" at="1" onclick="location.href='/reportcrm2/report'" id="compinfo-tab" data-toggle="tab" href="#compinfo" role="tab" aria-controls="compinfo" aria-selected="true">Report Generator</a>
       
    </li>
    
   <li class="nav-item">
      <a class="nav-link active" value="2" at="2" onclick="location.href='/reportcrm2/reportfile'" id="paywork-tab" data-toggle="tab" href="#paywork" role="tab" aria-controls="paywork" aria-selected="false">View Available Report</a>
    </li>
            
  </ul>
<br>

<div class="alert alert-danger" id="errormail" style="display:none"></div>
<div class="panel-heading">
  
  
  <!-- <div class="input-group">
      <a href="/reportcrm2/report" >
        <button style="" type="button" class="btnwhite hov" onclick="location.href='<?php echo $buttonGroup; ?>'" ><?php echo $this->language->_('Report Generator')?></button>
      </a> -->
     <!--  <div class="btn-group pt-1">
      <button type="button" class="btngrad hov dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        More Actions<i class="fa fa-chevron-down ml-2">&nbsp;</i></button>
      <div class="dropdown-menu">
        <a class="dropdown-item" style="color: black!important;" href="#">Download Pdf</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" style="color: black!important;" href="#">Delete</a>
      </div>
    </div> -->
    <!-- <a href="/reportcrm2/reportfile" >
        <button style="" type="button" class="btngreen hov" onclick="location.href='<?php echo $buttonGroup; ?>'" ><?php echo $this->language->_('Report File')?></button>
      </a>
    </div> -->

  <!-- <div class="input-group">
    <div class="row" style="width:100%!important;">
    <div class="col-md-6">
        <button type="button" class="btngrad hov" id="addwhere" style="margin-left: 5px;margin-top: 5px" onClick="emailmodal()">&nbsp;Email</button> -->
    
      
     <!--  <div class="btn-group pt-1">
      <button type="button" class="btngrad hov dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        More Actions<i class="fa fa-chevron-down ml-2">&nbsp;</i></button>
      <div class="dropdown-menu">
        <a class="dropdown-item" style="color: black!important;" href="#">Download Pdf</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" style="color: black!important;" href="#">Delete</a>
      </div>
    </div> -->
    <!-- <input type="button" name="delete" class="btnred hov mt-1 disabled" style="text-transform: capitalize;" value="Delete" onClick="deleleopenmodal()" id="disreject" disabled="disabled">
  </div>
  <div class="col-md-6" >
    <div style="float:right; padding-left:5px;">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text navbar-search-icon" id="searchspan"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" class="search form-control" placeholder="Search" id="searchtable">
        </div>
      </div>
    </div>
   </div> 
    </div> -->
  
  <div class="row">
        <div class="col-md-12">
                
                    <div class="row">
                        
                        <div class="col-md-6">
                            <button type="button" class="btngrad hov disabled" id="addwhere" style="margin-left: 5px;margin-top: 5px" onClick="emailmodal()" disabled="disabled">&nbsp;Email</button>
                            <input type="button" name="delete" class="btnred hov mt-1 disabled" style="text-transform: capitalize;" value="Delete" onClick="deleleopenmodal()" id="disreject" disabled="disabled">
                        </div>

                        <div class="col-md-6">

                            <div class="form-group">
                                <div style="float:right; padding-left:5px;">
                                    <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                        <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                                                    </div>
                                            <input type="text" class="search form-control" id="searchtable" placeholder="Search">
                                        </div>
                                </div>
                                <div style="float:right; padding-left:10px;">
                                    
                                </div>
                            </div>
                            
                           
                        </div>
                        
                    
                    </div>

    </div>
  </div>
  
</div>

<!-- <input type="submit" name="delete" class="btngrad hov" value="Delete"> -->
<!-- <input type="submit" name="download" class="btngrad hov" value="Download"> -->

<div class="portlet-body flip-scroll table-responsive table-fixed pt-1" id="fixTable">
<table class="table table-striped table-sm" id="myTable">
                                               <thead>
                                              <tr class="tablerow headercolor">
                                                <th width="5%" class="tablehead">
                                                  <!-- <input name="allCheck[]" onclick="if($(this).is(':checked')){$('.checkall').attr('checked', 'checked');}else{$('.checkall').removeAttr('checked');}" type="checkbox"> -->
                                                  <input name="allCheck[]" onclick="if($(this).is(':checked')){$('.checkall').prop('checked', true);$('#disreject').prop('disabled', false);$('#disreject').removeClass('disabled');$('#addwhere').prop('disabled', false);$('#addwhere').removeClass('disabled');}else{$('.checkall').prop('checked', false);$('#disreject').prop('disabled', 'disabled');$('#disreject').addClass('disabled');$('#addwhere').prop('disabled', 'disabled');$('#addwhere').addClass('disabled');}" type="checkbox">
                                                </th>
                        <th width="30%" class="tablehead"><?php echo $this->language->_('Report File Name');?></th>
                        <th width="5%" class="tablehead"><?php echo $this->language->_('Type');?></th>
                        <th width="15%" class="tablehead"><?php echo $this->language->_('Frequently');?></th>
                                                <th width="20%" class="tablehead"><?php echo $this->language->_('Date From');?></th>
                                                <th width="20%" class="tablehead"><?php echo $this->language->_('Date To');?></th>
                                                <!-- <th  width="15%" class="tablehead"><?php echo $this->language->_('Last Update By');?></th> -->
                                                <th  width="5%" class="tablehead"><?php echo $this->language->_('Action');?></th>
                                              </tr>
                                              </thead>
                                              <tbody>
                                              <?php
											  //echo '<pre>';
											  //var_dump($this->report);die;
                                                $numFields = count($this->fields) + 1;
                                                if(!empty($this->report))
                                                {
                                                  $no = 0;
                                                  foreach(array_reverse($this->report) as $d => $dataRow)
                                                  {
                                                    $tdcss = ($d % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
                                                    $PS_NUMBERlink = '<a href="'.$this->url(array('module'=>'paymentworkflow','controller'=>'approval','action'=>'index','payReff'=>$dataRow['payReff']),null,true).'">'.$dataRow['payReff'].'</a>';
                                                    if($dataRow['REPORT_FILE']=='1')
                                                        $checkBox = "<input name='mPayReff[]' type='checkbox' onClick='valthis();' class='checkall' value='".$dataRow['ID']."_".$dataRow['REPORT_INDEX']."'>";
                                                    else
                                                        $checkBox = "<input name='mPayReff[]' type='checkbox' onClick='valthis();' class='checkall' value='".$dataRow['ID']."_".$dataRow['REPORT_INDEX']."'>";
                          
                          
                          $arrfile = array(
                            '1' => 'PDF',
                            '2' => 'CSV'
                          );
                          
                          if($dataRow['REPORT_SCHEDULE'] == 'one'){
                            $dataRow['REPORT_SCHEDULE'] = '1x';
                          }
                          $datestart = '-';
                          $dateend = '-';
                          $dateupdate = '-';
                          $datecreated = Application_Helper_General::convertDate($dataRow['REPORT_CREATED'], $this->viewDateFormat, $this->defaultDateFormat); 
              if($dataRow['REPORT_SCHEDULE'] == '1x'){
                $dfrom = substr($dataRow['REPORT_WHERE'], 14, 10);
																$dto = substr($dataRow['REPORT_WHERE'], 39, 10);
																
																if(substr($dfrom, 0,3) != "202"){
																	$datestart = "-";
																	$dateend = "-";
																}else{
																	$datestart = Application_Helper_General::convertDate($dfrom, $this->viewDateFormat, $this->defaultDateFormat);
																	$dateend = Application_Helper_General::convertDate($dto, $this->viewDateFormat, $this->defaultDateFormat);
																}
                $datecreated = Application_Helper_General::convertDate($dataRow['REPORT_CREATED'], $this->viewDateFormat, $this->defaultDateFormat);
              }else{
                          if($dataRow['REPORT_START'] != NULL){
                            $datestart = Application_Helper_General::convertDate($dataRow['REPORT_START'], $this->viewDateFormat, $this->defaultDateFormat);
                          }
                          if($dataRow['REPORT_END'] != NULL){
                            $dateend = Application_Helper_General::convertDate($dataRow['REPORT_END'], $this->viewDateFormat, $this->defaultDateFormat);
                          }
                          if($dataRow['REPORT_CREATED'] != NULL){
                            $datecreated = Application_Helper_General::convertDate($dataRow['REPORT_CREATED'], $this->viewDateFormat, $this->defaultDateFormat);
                          }
              }
                                              ?>
                        
                        
                                                    <tr>
                                                      <td class="<?= $tdcss ?>"><?php echo $checkBox; ?></td>
                                                      <td class="<?= $tdcss ?>"><?php echo $dataRow['REPORT_NAME']; ?></td>
                                                      <td class="<?= $tdcss ?>"><?php echo $arrfile[$dataRow['REPORT_FILE']]; ?></td>
                                                      <td class="<?= $tdcss ?>"><?php echo ucfirst($dataRow['REPORT_SCHEDULE']); ?></td>
                            
                                                      <td class="<?= $tdcss ?>"><?php  echo $datestart; ?></td>
                                                      <td class="<?= $tdcss ?>"><?php echo $dateend; ?></td>
                                                      <!-- <td class="<?= $tdcss ?>"><?php echo $datecreated; ?></td> -->
                                                      <td class="<?= $tdcss ?>" style="text-align:center;">
                                                      
                            <?php if($dataRow['REPORT_FILESTATUS'] != '1'){ 
                            ?>
                              <img src="/images/icon_light/sandglass.png" title="Waiting for generate" width="18px">
                              
                              
                            <?php
                            }else{
                            ?>
                            
                            <!--<a href="/reportcrm2/reportview/index/report/<?php echo $dataRow['CODE']; ?>"><img src="/images/icon/light/view.png" title="View" width="18px"></a>-->
                                                      <?php
                                                                require_once 'Crypt/AESMYSQL.php';
                                                            $AESMYSQL = new Crypt_AESMYSQL();
                                                            $rand = $this->token;
                                                            $encrypted_pwd = $AESMYSQL->encrypt($dataRow['ID'], $rand);
                                                            // $dt["payReff"] = urlencode($encrypted_pwd);
                                                            $encreff = urlencode($encrypted_pwd);   
                               if($dataRow['REPORT_FILE']=='1'){ 
                              $button = '<a href="'.$this->url(array('module'=>'reportcrm2','controller'=>'reportfile','action'=>'index','filter'=>'download','FILE_ID'=>$encreff,'idx'=>$dataRow['REPORT_INDEX']),null,true).'"><img src="/images/icon/light/pdf.png" title="Download" width="18px"></a>';
                               }else if($dataRow['REPORT_FILE']=='2'){ 
                                $button = '<a href="'.$this->url(array('module'=>'reportcrm2','controller'=>'reportfile','action'=>'index','filter'=>'download','FILE_ID'=>$encreff,'idx'=>$dataRow['REPORT_INDEX']),null,true).'"><img src="/images/icon/light/csv@2x.png" title="Download" width="18px"></a>';
                               }
                                echo $button;
                               ?>
                                                      

                                                    <!-- <button onclick="location.href='/reportcrm/indexdel/index/report/<?php echo $dataRow['CODE']; ?>'"  class="btnicon" type="button" name="button"> <img src="/images/icon/light/rubbish-bin.png" height="70%" alt=""> </button> -->

                                                                                                         
                                                    <!-- <a href="/reportcrm/edit/index/report/<?php echo $dataRow['CODE']; ?>/csv/2" ><i class="fas fa-edit" title="Edit" style="font-size:20px;"></i></a>&nbsp;
                                                      <a  href="/reportcrm/reportview/index/report/<?php echo $dataRow['CODE']; ?>" title="View"><i class="fas fa-eye"></i></a>&nbsp;
 -->
                        </td>

                                              <?php
                                                    $no++;
                            }
                                                  }
                                                }
                                                else
                                                {
                                              ?>
                                                  <tr>
                                                    <td class="tbl-evencontent" colspan="10" align="center"><?php echo $this->language->_('there is currently no data in this section'); ?></td>
                                                  </tr>
                                              <?php
                                                }
                                              ?>
                                              </tbody>
                                            </table>


                                            </div>
                                          </div>
                                        </form>
