<div class="errmsg">
 <?php
 if($this->errors)
 {
	 foreach ($this->errors as $key => $val)
	 {
	 	echo $this->formErrors($val); 
	 }
 }
 ?>
</div>

<?php if(!$this->isError){ ?>
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Check Balance'); ?> - <?php echo $this->language->_('Main Account'); ?></div>
<br/>

<b><?php echo $this->language->_('Main Account Information'); ?></b>

<br/>
<br/>
<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
	<tr>
		<th>
			CCY
		</th>
		<th>
			Acc No
		</th>
		<th>
			<?php echo $this->language->_('Acc Name'); ?>
		</th>
		<th>
			<?php echo $this->language->_('Status'); ?>
		</th>
		<th>
			<?php echo $this->language->_('Expiry Date'); ?>
		</th>
		<th>
			<?php echo $this->language->_('CR Limit'); ?>
		</th>
		<th>
			<?php echo $this->language->_('Loan OS'); ?>
		</th>
		<th>
			<?php echo $this->language->_('Hold Amount'); ?>
		</th>
		<th>
			<?php echo $this->language->_('Unused CR Limit'); ?>
		</th>
	</tr>
<?php 
		$i=0;
		$row = $this->params;
			$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
?>
			<tr>
				<td class="<?php echo $td_css; ?>">
					<?php //echo $row['CCY_ID']; ?>
				</td>
				<td class="<?=$td_css?>">
					<?php //echo $row['ACCOUNT_NO']; ?>
				</td>
				<td class="<?=$td_css?>">
					<?php //echo $row['ACCOUNT_NAME']; ?>
				</td>
				<td class="<?=$td_css?>">
					<?php //echo ($row['ACCOUNT_STATUS']!='2')? $this->masterStatus['desc']['active'] : $this->masterStatus['desc']['inactive'];?>
				</td>
				<td class="<?=$td_css?>">
					<?php //echo $this->Date($row['EXPIRY_DATE']); ?>
				</td>
				<td class="<?=$td_css?>" align="right">
					<?php //echo Application_Helper_General::displayCurrency($row['LIMIT']);?>
				</td>
				<td class="<?=$td_css?>" align="right">
					<?php //echo Application_Helper_General::displayCurrency($row['TOTAL_OUTSTANDING']);?>
				</td>
				<td class="<?=$td_css?>" align="right">
					<?php //echo Application_Helper_General::displayCurrency($row['HOLD_AMOUNT']);?>
				</td>
				<td class="<?=$td_css?>" align="right">
					<?php //echo Application_Helper_General::displayCurrency(bcsub(bcsub($row['LIMIT'],$row['TOTAL_OUTSTANDING'],2),$row['HOLD_AMOUNT'],2));?>
				</td>
			</tr>
		
<?php 
			$i++;
?>				
</table>
<br/>
<br/>
<table width="300px" cellpadding="0" cellspacing="0" border="0" class="">
<tr>
	<td>
		<A href="javascript: self.close ()" class="inputbtn"><?php echo $this->language->_('Close'); ?></A>
	</td>
</tr>
</table>
<?php } ?>
