<?php $category 	= $this->language->_('Category'); ?>
<?php $setFilter 	= $this->language->_('Set Filter'); ?>
<?php $clearFilter 	= $this->language->_('Clear Filter'); ?>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Chat with Us'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	.input-medium {
		width: 240px !important;
	}
</style>

<?php $filter = $_GET['filter']; ?>

<div class="row content-box mb-5">
	<div class="col-md-12">
		<h5><?=$this->language->_('Chat with Us')?></h5>
		<form name="filterForm" action="<?= $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true); ?>" method="get">
			<table id="logo-title" cellpadding="3" cellspacing="0" border="0" style="width:100%; <?= ($filter==false) ? 'display:none;' : ''; ?>">
                <tr>
                    <td class="tbl-evencontent" width="150px"><?= $this->formLabel('fCategory',$category); ?></td>
                    <td class="tbl-evencontent" width="20px">:</td>
                    <td class="tbl-evencontent">
                        <select name="fCategory" class="form-control input-medium">
                            <option value="">--- <?= $this->language->_('Any Value'); ?> ---</option>
                            <?php foreach($this->categoryArr as $key=>$value) : ?>
                                <option value="<?= $key; ?>" <?= ($key==$this->fCategory) ? 'selected' : ''; ?>><?= $this->language->_($value); ?></option>
                            <?php endforeach; ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">                                
                        <?= $this->formSubmit('filter',$setFilter,array('class'=>'btngreen hov mt-2')); ?>
                        <?= $this->formSubmit('filter_clear',$clearFilter,array('class'=>'btnwhite hov mt-2')); ?>
                    </td>
                </tr>
			</table>
			<div class="sidebar-collapse" style="float:right" id="sidebar-collapse">
				<a href="#" class="sidebar-collapse-icon with-animation">
					<?= $this->language->_('Advanced Search'); ?>               
				</a>
			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div style="display:flex; justify-content:space-between;">
            <?php
                $buttonLink = $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'create'),null,true);          
                $buttonNew = '<button type="button" class="btn-sm btngrad hov" onclick="location.href=\''.$buttonLink.'\'"><i class="fa fa-plus"></i>&nbsp;'.$this->language->_('Add').'</button>';
                echo $buttonNew;
            ?>
			<div align="right">
	            <div style="float:right; padding-left:5px;">
	            	<div class="input-group input-group-sm">
	                    <div class="input-group-prepend">
	                        <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
	                    </div>
	                    <input type="text" id="searchtable" class="search form-control" placeholder="Search">
	                </div>
	            </div>
			</div>
		</div>
		<br>
		<div class="portlet-body flip-scroll table-responsive">
			<table id="myTable" class="table table-sm table-striped">
				<thead>
					<tr>
						<th width="3%" valign="top" class="tablehead"><?= $this->language->_('No'); ?></th>
                        <?= $this->partial(
                                'tableheader.phtml',
                                array('fields' => $this->fields,
                                      'sortBy' => $this->sortBy,
                                      'sortDir' => $this->sortDir,
                                      'query_string_params' => $this->query_string_params
                                )
                            );
                        ?>
					</tr>
				</thead>
				<tbody>
					<?php if(count($this->paginator) == 0) : ?>
						<tr>
							<td colspan="5" align="center">-- No Data --</td>
						</tr>
					<?php else : ?>
						<?php
							$i = 0;
							$no = 1;
							foreach($this->paginator as $row){
								$questionDate = date('d M Y H:i:s', strtotime($row['QUESTION_DATE']));
								$answerDate = ($row['QUESTION_A_DATE'] != NULL) ? date('d M Y H:i:s', strtotime($row['QUESTION_A_DATE'])) : '';
								$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
                                echo '<tr>
                                          <td class="'.$td_css.'">'.$no++.'</td>
                                          <td class="'.$td_css.'">
                                          	<b>'.$row['QUESTION_CATEGORY'].'</b><br>
                                          	'.$row['USER_ID'].'<br>
                                          	'.$questionDate.'
                                          </td>
                                          <td class="'.$td_css.'">
                                          	<textarea disabled rows="5" cols="40" style="overflow:auto;resize:none;font-family: Arial, Helvetica, sans-serif;">'.$row['QUESTION_Q'].'
                                          	</textarea>
                                          </td>
                                          <td class="'.$td_css.'">
                                          	<textarea disabled rows="5" cols="40" style="overflow:auto;resize:none;font-family: Arial, Helvetica, sans-serif;">'.$row['QUESTION_A'].'
                                          	</textarea>
                                          </td>
                                          <td class="'.$td_css.'">
                                          	<b>'.$row['BUSER_ID'].'</b><br>
                                          	'.$answerDate.'
                                          </td>
                                      </tr>';
                                $i++;
							}
						?>
					<?php endif; ?>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('div#sidebar-collapse').click(function(){
			if($("#logo-title").is(":visible")){ 
				$("#logo-title").hide();
			}else if($("#logo-title").is(":hidden")){ 
				$("#logo-title").show();
			}
		});

		$("#searchtable").keyup(function() {
			var value = this.value.toLowerCase().trim();

			$("#myTable tr").each(function(index) {
				if (!index) return;
				$(this).find("td").each(function() {
					var id = $(this).text().toLowerCase().trim();
					var not_found = (id.indexOf(value) == -1);
					$(this).closest('tr').toggle(!not_found);
					return not_found;
				});
			});
		});
	});
</script>