<?php 
$counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
?>
<b><?php echo $this->language->_('Exception Management'); ?> &gt; <?php echo $this->language->_('Message Exception List'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Message Exception List'); ?></div>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0">
	<tr>
		<th colspan="11" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th>
	</tr>
	<tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('datef',$this->language->_('Release Date From')); ?></td>
 	  	<td class="tbl-evencontent">:</td>
	  	<td class="tbl-evencontent"><?php echo $this->datePicker("fDateFrom", $this->fDateFrom, array('dateFormat' => $this->jqueryDateFormat,
                     'defaultDate'=>'new Date()',
                     'showOn' => 'button',
                     'buttonImage' => '/images/calendar.gif',
                     'buttonImageOnly' => true,
                     'changeMonth' => true,
                     'changeYear' => true,
	  				 'clearAnotherField' => true,
	  				 'minDateID' => 'fDateTo',
                     'anotherField' => 'fDateTo',),array('readonly' => 'readonly'));?></td>                    
		<td class="tbl-evencontent"><?php echo $this->formLabel('datet',$this->language->_('To')); ?></td>
 	  	<td class="tbl-evencontent">:</td>
	  	<td class="tbl-evencontent" colspan="6"><?php echo $this->datePicker("fDateTo", $this->fDateTo, array('dateFormat' => $this->jqueryDateFormat,
                     'defaultDate'=>'new Date()',
                     'showOn' => 'button',
                     'buttonImage' => '/images/calendar.gif',
                     'buttonImageOnly' => true,
                     'changeMonth' => true,
                     'changeYear' => true,
	  				 'clearAnotherField' => true,
	  				 'maxDateID' => 'fDateFrom',
                     'anotherField' => 'fDateFrom',),array('readonly' => 'readonly'));?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('PayRef','Payment Ref#'); ?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"colspan="9"><?php  echo $this->formText('paymenref',$this->paymenref,array('size'=>'20')); ?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('transid','Transaction ID'); ?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"colspan="9"><?php  echo $this->formText('transid',$this->transid,array('size'=>'20')); ?></td>
	</tr>
	<tr>
    	<td class="tbl-evencontent"><?php echo $this->formLabel('custid','Company Code'); ?></td>
 	  	<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent" colspan="3"><select name="custid">
							<option value="">--- Any Value ---</option>
							<?php foreach($this->var as $custlist){?>
							<option value="<?php echo $custlist['CUST_ID'];?>" <?=($custlist['CUST_ID']==$this->custid) ? 'selected' : ''?>><?php echo $custlist['CUST_ID'];?></option><?php }?>
						</select>
		</td>
	 	<td class="tbl-evencontent"><?php echo $this->formLabel('custname','Company Name'); ?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"><?php  echo $this->formText('custname',$this->custname,array('size'=>'20')); ?></td>
	</tr>
    <tr>
		<td class="tbl-evencontent"><?php echo $this->formLabel('source','Source Account'); ?></td>
		<td class="tbl-evencontent">:</td>
		<td class="tbl-evencontent"colspan="9"><?php  echo $this->formText('source',$this->source,array('size'=>'20')); ?></td>
	</tr>
	<tr>
		<td colspan="3" align="left" colspan="11">
	  		<?php echo $this->formSubmit('filter','Set Filter',array('class'=>'inputbtn')); ?>
	  		<?php echo $this->formSubmit('filter','Clear Filter',array('class'=>'inputbtn')); ?>
  		</td>
  	</tr>
</table>
</form>
<br />
<br />
<div align="right">
	<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
		<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
		<?php echo $this->formSubmit('pdf','PDF is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
		<?php }else{ ?>
		<?php echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn')); ?>&nbsp;
		<?php } ?>
		<?php if($this->paginator->getTotalItemCount() > $this->applicationSetting['max_row_download_csv']) { ?>
		<?php echo $this->formSubmit('csv','CSV is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
		<?php }else{ ?>
		<?php echo $this->formSubmit('csv','CSV',array('class'=>'inputbtn')); ?>&nbsp;
		<?php } ?>
		<input class="inputbtn" value="Print" onclick="window.print();" type="button">
	</form>
</div>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
  <table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
    <tr>
      <th width="3%" valign="top">No</th>
      <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                          'sortBy' => $this->sortBy,
                                                          'sortDir' => $this->sortDir,
                                                          'query_string_params' => $this->query_string_params
      													  )
    						   )?>		
  	  <th valign="top">Action</th>
    </tr>
    <?php
      if(count($this->paginator))
      {
        $i = 0;
        foreach($this->paginator as $row)
        {
		  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		  $amount = $row['ccy'].' '.Application_Helper_General::displayMoney($row['amount']);

		  $acct = $row['sourceacct'].' ['.$row['ccy'].'] - '.$row['sourcename'].' / '.$row['sourcealname'];
		  
		    echo '<tr>
					<td class="'.$td_css.'">'.$counter.'</td>
					<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['release'],"dd MMM yyyy",$this->defaultDateFormat).'</td>
					<td class="'.$td_css.'">'.$row['payref'].'</td>
					<td class="'.$td_css.'">'.$row['transid'].'</td>
					<td class="'.$td_css.'">'.$row['custid'].'</td>
					<td class="'.$td_css.'">'.$row['custname'].'</td>
					<td class="'.$td_css.'">'.$acct.'</td>
					<td class="'.$td_css.'">'.$amount.'</td>';?>
					<td class="<?=$td_css?>"><a href="#" onClick="javascript:openwindow('<?=$this->url(array('module'=>$this->modulename,'controller'=>'messageexceptionlistdetail','action'=>'index','psnumb'=>$row['payref'],'transid'=>$row['transid'],'bussiness'=>$row['bussiness']),null,true);?>',800,800);">Detail</a></td>
				<?php echo '</tr>';
		$i++;
        $counter++;
  	  }
    }else{
	  echo '<tr><td colspan="9" class="tbl-evencontent" align="center"> --- No Data --- </td></tr>';
	}
  ?>
</table>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>