<script type="text/javascript">
$(document).ready(function(){
  $('#fixTable').fixTableHeader();
});
</script>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span>Home</span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="inhouse"><?=$this->language->_('Report')?></span>
                  </li>

              </ul>
          </div>
        </div>
</div>

<h5><?=$this->language->_('Report')?></h5>
<h6 style="color:grey;"><?=$this->language->_('Report Generator')?></h6>
<br/>
<div class="">

<style type="text/css">
  .action-button {
    border-radius: 0.4rem!important;
  }
</style>

<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
<div class="panel-heading">
  <div class="input-group">
      <a href="/reportcrm/index" >
        <button type="button" class="btngrad hov mr-3" id="addwhere" style="margin-left: 5px;margin-top: 5px" ><i class="fa fa-plus">&nbsp;</i>Create New</button>
      </a>
     <!--  <div class="btn-group pt-1">
      <button type="button" class="btngrad hov dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        More Actions<i class="fa fa-chevron-down ml-2">&nbsp;</i></button>
      <div class="dropdown-menu">
        <a class="dropdown-item" style="color: black!important;" href="#">Download Pdf</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" style="color: black!important;" href="#">Delete</a>
      </div>
    </div> -->
    <input type="submit" name="delete" class="btngrad hov mt-1" value="Delete">
    </div>
  
</div>

<!-- <input type="submit" name="delete" class="btngrad hov" value="Delete"> -->
<!-- <input type="submit" name="download" class="btngrad hov" value="Download"> -->

<div class="portlet-body flip-scroll table-responsive table-fixed pt-1" id="fixTable">
<table class="table table-striped table-sm">
                                               <thead>
                                              <tr class="tablerow headercolor">
                                                <th width="5%" class="tablehead">
                                                  <input name="allCheck[]" onclick="if($(this).is(':checked')){$('.checkall').attr('checked', 'checked');}else{$('.checkall').removeAttr('checked');}" type="checkbox">
                                                </th>
                                                <th width="20%" class="tablehead"><?php echo $this->language->_('Report Name');?></th>
                                                <th width="20%" class="tablehead"><?php echo $this->language->_('Email Reciever');?></th>
                                                <th width="15%" class="tablehead"><?php echo $this->language->_('Created Date');?></th>
                                                <th width="10%" class="tablehead"><?php echo $this->language->_('Created By');?></th>
                                                <th  width="20%" class="tablehead"><?php echo $this->language->_('Action');?></th>
                                              </tr>
                                              </thead>
                                              <tbody>
                                              <?php
                                                $numFields = count($this->fields) + 1;
                                                if(!empty($this->report))
                                                {
                                                  $no = 0;
                                                  foreach($this->report as $d => $dataRow)
                                                  {
                                                    $tdcss = ($d % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
                                                    $PS_NUMBERlink = '<a href="'.$this->url(array('module'=>'paymentworkflow','controller'=>'approval','action'=>'index','payReff'=>$dataRow['payReff']),null,true).'">'.$dataRow['payReff'].'</a>';
                                                    if($dataRow['REPORT_FILE']=='1')
                                                        $checkBox = "<input name='mPayReff[]' type='checkbox' class='checkall' value='".$dataRow['ID']."_pdf"."'>";
                                                    else
                                                        $checkBox = "<input name='mPayReff[]' type='checkbox' class='checkall' value='".$dataRow['ID']."_csv"."'>";
                                              ?>
                                                    <tr>
                                                      <td class="<?= $tdcss ?>"><?php echo $checkBox; ?></td>
                                                      <td class="<?= $tdcss ?>"><?php echo $dataRow['REPORT_NAME']; ?></td>
                                                      <td class="<?= $tdcss ?>"><?php echo $dataRow['REPORT_EMAIL']; ?></td>
                                                      <td class="<?= $tdcss ?>"><?php echo $dataRow['REPORT_CREATED']; ?></td>
                                                      <td class="<?= $tdcss ?>"><?php echo $dataRow['REPORT_CREATEDBY']; ?></td>
                                                      <td class="<?= $tdcss ?>">
                                                      <?php if($dataRow['REPORT_FILE']=='1'){ ?>
                                                        <button onclick="location.href='/reportcrm/reportview/index/report/<?php echo $dataRow['CODE']; ?>/pdf/2'"class="btnicon" type="button" name="button"> <img src="/images/icon/light/pdf.png" height="70%" alt=""> </button>
                                                        <!-- <a href="/reportcrm/reportview/index/report/<?php echo $dataRow['CODE']; ?>/pdf/2" title="PDF"><i class="fas fa-file-pdf" style="font-size:20px;"></i></a> -->
                                                          &nbsp;
                                                    <?php }else if($dataRow['REPORT_FILE']=='2'){ ?>
                                                      <button onclick="location.href='/reportcrm/reportview/index/report/<?php echo $dataRow['CODE']; ?>/csv/2'"class="btnicon" type="button" name="button"> <img src="/images/icon/light/csv1.png" height="70%" alt=""> </button>
                                                      <!-- <a href="/reportcrm/reportview/index/report/<?php echo $dataRow['CODE']; ?>/csv/2" title="CSV"><i class="fas fa-file-excel" style="font-size:20px;"></i></a> -->
                                                      &nbsp;
                                                    <?php } ?>
                                                    <button onclick="location.href='/reportcrm/reportview/index/report/<?php echo $dataRow['CODE']; ?>'"class="btnicon" type="button" name="button"> <img src="/images/icon/light/view.png" height="70%" alt=""> </button>
                                                    <button onclick="location.href='/reportcrm/edit/index/report/<?php echo $dataRow['CODE']; ?>/csv/2'"class="btnicon" type="button" name="button"> <img src="/images/icon/light/setting.png" height="70%" alt=""> </button>

                                                    <!-- <button onclick="location.href='/reportcrm/indexdel/index/report/<?php echo $dataRow['CODE']; ?>'"  class="btnicon" type="button" name="button"> <img src="/images/icon/light/rubbish-bin.png" height="70%" alt=""> </button> -->

                                                                                                         
                                                    <!-- <a href="/reportcrm/edit/index/report/<?php echo $dataRow['CODE']; ?>/csv/2" ><i class="fas fa-edit" title="Edit" style="font-size:20px;"></i></a>&nbsp;
                                                      <a  href="/reportcrm/reportview/index/report/<?php echo $dataRow['CODE']; ?>" title="View"><i class="fas fa-eye"></i></a>&nbsp;
 -->
                        </td>

                                              <?php
                                                    $no++;
                                                  }
                                                }
                                                else
                                                {
                                              ?>
                                                  <tr>
                                                    <td class="tbl-evencontent" colspan="6" align="center"><?php echo $this->language->_('there is currently no data in this section'); ?></td>
                                                  </tr>
                                              <?php
                                                }
                                              ?>
                                              </tbody>
                                            </table>


                                            </div>
                                          </div>
                                        </form>
