<div class="tabheader" id="tabheader"><?php echo $this->language->_('Check Account Info'); ?></div>
<?php if($this->error){ ?>
<div class="errmsg"><?=$this->member_msg?></div><br />
<?php } ?>
<table cellpadding="0" cellspacing="0" border="0">
  <tr><td><table cellpadding="3" cellspacing="0" border="0" class="tableform">
    <tr><th colspan="3" class="tdform-sub"><strong>PRK <?php echo $this->language->_('Account'); ?></strong></th></tr>
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('loan_no',$this->language->_('Account No')); ?></td>
	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('loan_no',$this->Loan_No); ?></td>
    </tr>
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('loan_name',$this->language->_('Account Name')); ?></td>
	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('loan_name',$this->Loan_Name); ?></td>
    </tr>
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('loan_ccy','CCY'); ?></td>
	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('loan_ccy',$this->Loan_CCY); ?></td>
    </tr>
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('loan_active',$this->language->_('Active Status')); ?></td>
	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('loan_active',$this->Loan_Active); ?></td>
    </tr>
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('loan_facility',$this->language->_('Facility Due')); ?></td>
	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('loan_facility',$this->Loan_Facility); ?></td>
    </tr>
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('loan_limit',$this->language->_('Limit')); ?></td>
	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('loan_limit',$this->Loan_Limit); ?></td>
    </tr>
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('loan_product',$this->language->_('Product Name')); ?></td>
	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('loan_product',$this->Loan_Product); ?></td>
    </tr>
  </table></td></tr>
  <tr><td><br /><br /></td></tr>
  <tr><td><table cellpadding="3" cellspacing="0" border="0" class="tableform">
    <tr>
	  <td class="tdform-sub"><?php echo $this->language->_('Field'); ?></td>
	  <td class="tdform-sub"><?php echo $this->language->_('Repay Account'); ?></td>
	  <td class="tdform-sub"><?php echo $this->language->_('Charges Account'); ?></td>
	  <td class="tdform-sub"><?php echo $this->language->_('Operational Account'); ?></td>
	  <td class="tdform-sub"><?php echo $this->language->_('Disburse Account'); ?></td>
    </tr>
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->language->_('Account No'); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('repay_no',$this->Repay_No); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('charges_no',$this->Charges_No); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('operational_no',$this->Operational_No); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('disburse_no',$this->Disburse_No); ?></td>
    </tr>
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->language->_('Account Name'); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('repay_name',$this->Repay_Name); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('charges_name',$this->Charges_Name); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('operational_name',$this->Operational_Name); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('disburse_name',$this->Disburse_Name); ?></td>
    </tr>
    <tr>
	  <td class="tbl-evencontent">CCY</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('repay_ccy',$this->Repay_CCY); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('charges_ccy',$this->Charges_CCY); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('operational_ccy',$this->Operational_CCY); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('disburse_ccy',$this->Disburse_CCY); ?></td>
    </tr>
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->language->_('Active Status'); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('repay_active',$this->Repay_Active); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('charges_active',$this->Charges_Active); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('operational_active',$this->Operational_Active); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('disburse_active',$this->Disburse_Active); ?></td>
    </tr>
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->language->_('Product Name'); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('repay_product',$this->Repay_Product); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('charges_product',$this->Charges_Product); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('operational_product',$this->Operational_Product); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('disburse_product',$this->Disburse_Product); ?></td>
    </tr>
    <tr>
	  <td class="tbl-evencontent">CIF</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('repay_cif',$this->Repay_CIF); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('charges_cif',$this->Charges_CIF); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('operational_cif',$this->Operational_CIF); ?></td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('disburse_cif',$this->Disburse_CIF); ?></td>
    </tr>
  </table></td></tr>
</table>
<br />
<div><?php echo $this->formButton('close','Close',array('onclick'=>'window.close()','class'=>'inputbtn')); ?></div>