<b><?php echo $this->language->_('General'); ?> &gt; <?php echo $this->language->_('Remittance Charges'); ?> &gt; <?php echo $this->language->_('Global Detail'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Remittance Charges Global Setting'); ?></div>
<br />
<br />
<h2><?php echo $this->language->_('Select Charges Type');?> :</h2>
<br/>
<?php if(!$this->templatetrf && !$this->templatefa && !$this->templateprov){
	echo 'Remittance charges not set yet.';
	echo '<br/>';
}?>
<?php 
if($this->templatetrf)
{
	echo $this->templatetrf;
}
?>
<?php if($this->disabletrf || !$this->hasPrivilege('GCUD'))
{?>
<input type="button" disabled="disabled" class="inputbtn" value="<?php echo $this->language->_('Set / Edit Transfer Fee');?>">
&nbsp;&nbsp;&nbsp;
<?php echo '<i>'.$this->trferror.'</i>';
}
else
{?>
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'remittancechar','controller'=>'edit','action'=>'index','custid'=>'GLOBAL','id'=>'3'),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Set / Edit Transfer Fee');?>">
<?php }?>
<br /><br/>
<?php if($this->templatefa)
{
	echo $this->templatefa;
}
?>
<?php if($this->disablefa || !$this->hasPrivilege('GCUD'))
{?>
<input type="button" disabled="disabled" class="inputbtn" value="<?php echo $this->language->_('Set / Edit Full Amount Fee');?>">
&nbsp;&nbsp;&nbsp;
<?php echo '<i>'.$this->language->_($this->faerror).'</i>';
}
else
{?>
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'remittancechar','controller'=>'edit','action'=>'index','custid'=>'GLOBAL','id'=>'4'),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Set / Edit Full Amount Fee'); ?>">
<?php }?>
<br /><br/>
<?php if($this->templateprov)
{
	echo $this->templateprov;
}
?>
<?php if($this->disableprov || !$this->hasPrivilege('GCUD'))
{?>
<input type="button" disabled="disabled" class="inputbtn" value="<?php echo $this->language->_('Set / Edit Provision Fee');?>">
&nbsp;&nbsp;&nbsp;
<?php echo '<i>'.$this->language->_($this->proverror).'</i>';
}
else
{?>
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'remittancechar','controller'=>'edit','action'=>'index','custid'=>'GLOBAL','id'=>'5'),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Set / Edit Provision Fee')?>">
<?php }?>
<br />
<br />
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Back')?>">&nbsp;
</form>