<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('General'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Privilege Template'); ?>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Add'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="post">
			<input type="hidden" name="tmplgroup" value="B">
			<h5><?= $this->language->_('Template Frontend User Management') ?></h5>
			<!-- NEW PRIVILEGE FRONTEND USER -->

			<div class="table-responsive">
				<table cellpadding="2" cellspacing="0" border="0" class="table-sm table-striped">
					<th colspan="2">
						<?php echo $this->language->_('New Privilege Template'); ?>
					</th>
					<tr>
						<td colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg2">*</span>) <?php echo $this->language->_('are required'); ?></td>
					</tr>
					<tr>
						<td class="tbl-evencontent" width="30%"><?php echo $this->formLabel('Template Code', $this->language->_('Template Code')); ?><label class="errmsg"> *</label></td>
						<td class="tbl-evencontent" width="70%">
							<?php
							$attr = array(
								'maxlength' => '3',
								'class' => 'form-control col-md-6',
								'size' => '15',
								'onkeypress' => 'return forceAlnumOCBC(event)'
							);
							echo $this->formText('tmplcode', $this->tmplcode, $attr); ?>
							<div class="errmsg"><?= $this->xtmplcode ?></div>
						</td>
					</tr>
					<tr>
						<td class="tbl-evencontent" width="30%"><?php echo $this->formLabel('Template Name', $this->language->_('Template Name')); ?><label class="errmsg"> *</label></td>
						<td class="tbl-evencontent" width="70%">
							<?php
							$attr = array(
								'maxlength' => '128',
								'size' => '15',
								'class' => 'form-control col-md-6',
							);
							echo $this->formText('tmplname', $this->tmplname, $attr); ?>
							<div class="errmsg"><?= $this->xtmplname ?></div>
						</td>
					</tr>

					<?php if (false) { ?>
						<tr>
							<td class="tbl-evencontent" width="30%"><?php echo $this->formLabel('Template Group', $this->language->_('Template Group')); ?><label class="errmsg"> *</label></td>
							<td class="tbl-evencontent" width="70%">
								<?php
								echo $this->formSelect('tmplgroup', $this->tmplgroup, array('id' => 'tmplsecurity', 'class' => 'form-control'), $this->isbybo);

								?>
								<div class="errmsg"><?= $this->xtmplgroup ?></div>
							</td>
						</tr>
						<tr>
							<td class="tbl-evencontent" width="30%"><?php echo $this->formLabel('Securities Company', $this->language->_('Securities Company')); ?><label class="errmsg"> *</label></td>
							<td class="tbl-evencontent" width="70%">
								<?php
								echo $this->formSelect('tmplsecurity', $this->tmplsecurity, array('id' => 'tmplsecurity2', 'class' => 'form-control'), $this->secure);
								?>
								<div class="errmsg"><?= $this->xtmplsecurity ?></div>
							</td>
						</tr>
					<?php } ?>

					<tr>
						<td colspan="2" class="tbl-evencontent">
							<table width="100%" cellpadding="2" cellspacing="0" border="0" class="table-sm table-striped">
								<tr>
									<th colspan="5">
										<?php echo $this->language->_('Privilege List') ?>
									</th>
								</tr>
								<tr>
									<td class="tbl-evencontent" colspan="5">
										<label class="errmsg"><?= $this->errcheckbox ?></label>
									</td>
								</tr>
								<tr>
									<?php
									$sortingGroup = $this->sortingGroup;
									// 				$sortingGroup = array(
									// 														'Account Information',
									// 														'Beneficiary Account',
									// 														'Cash Management - Payments',
									// 														'Cash Management - Payment Workflow',
									// 														'Cash Management - Report',
									// 														// 'Supply Chain - Payments','Supply Chain - Documents',
									// 														// 'Supply Chain - Payment / Document Workflow',
									// 														//'Supply Chain - Report','Account Group / Alias',
									// 														'Account Group / Alias',
									// 														'Beneficiary Link',
									// // 														'Pairing Beneficiary',
									// 														'Tools',
									// 														'Other Report',
									// 														'User',
									// 														'Changes Request List'

									// 													);

									foreach ($sortingGroup as $title) {
										$itung = 1;
										$colspan = '';
										if (isset($this->privilGroup[$title])) {
											echo '<tr><td  class="tbl-oddcontent" colspan="4"><b>' . $this->language->_($title) . '</b></td></tr>';
											foreach ($this->privilGroup[$title] as $counter => $row) {
												$check = $row['FPRIVI_ID'] . "check";
												$attribut = array(
													'class' => 'check_box',
													(($this->$check) == '1') ? 'checked' : '' => (($this->$check) == '1') ? 'true' : '',
												);

												if ($counter + 1 == count($this->privilGroup[$title])) {
													$sisa = count($this->privilGroup[$title]) % 4;
													$colspan = '';
													if ($sisa != 0) {
														$colspan = 'colspan = "' . (5 - $sisa) . '" ';
													}
												}
												$isi = '<td class="tbl-evencontent" ' . $colspan . '>' . $this->formCheckbox($row['FPRIVI_ID'], '1', $attribut) . $this->language->_($row['FPRIVI_DESC']) . '</td>';
												if ($counter % 4 == 0) {
													$isi = '</tr><tr>' . $isi;
												}
												echo $isi;
											}
										}
									}
									?>
								</tr>
								<!-----------------------------------------------------------------END NEW PRIVILEGE FRONTEND USER ------------------------------------------------------------------------------->
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="tbl-evencontent">
							<input type="button" value="<?php echo $this->language->_('Back') ?>" onClick="window.location.href = '/fprivilagetemplate/';" class="btnwhite hov">
							<input type="submit" value="<?php echo $this->language->_('Submit') ?>" class="btngreen hov">
							<!--<input type="reset" value="<?php echo $this->language->_('Reset') ?>" class="inputbtn">-->
							<input type="button" name="clearfilter" id="btn_reset" class="btngreen hov" value="<?php echo $this->language->_('Reset') ?>">
						</td>
					</tr>
				</table>
			</div>


		</form>

	</div>
</div>

<script type="text/javascript">
	function reset() {
		const get_all_checkbox = document.querySelectorAll("input[type='checkbox']");
		get_all_checkbox.forEach(item => {
			item.checked = false;
		})

		const get_all_errmsg = document.querySelectorAll(".errmsg");
		get_all_errmsg.forEach(item => {
			item.innerHTML = "";
		})

		// document.querySelector("#tmplsecurity").value = ""
		// document.querySelector("#tmplsecurity2").value = ""
		//document.querySelector("#tmplname").value = ""
		document.querySelector("#tmplcode").value = ""
	}

	document.addEventListener("DOMContentLoaded", () => {
		const btn_reset = document.querySelector("#btn_reset")
		btn_reset.addEventListener("click", reset);
	})
</script>