<div class="row hiddenprint">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                       <label class="textBlack"><?php echo $this->language->_('Payment Workflow')?></label>
                        <i class="fa fa-angle-right pl-1 pr-1" style="color: black !important;"></i>
                    </li>
                    <li>
                        <label class="textBlack"><?php echo $this->language->_('Approve')?></label>
                        <i class="fa fa-angle-right pl-1 pr-1" style="color: black !important;"></i>
                    </li>
                    <li>
                        <label class="textBlack"><?php echo $this->language->_('More History Detail')?></label>
                    </li>

                </ul>
            </div>
        </div>
</div>

<?php echo $this->action('index',
                        'paymenthistory',
                        'tools',
    array('paymentref' => $this->PS_NUMBER)); ?>