<!-- <b>
<ol class="breadcrumb" >
  <li><a href="#" style="font-size: 11px;"><?php echo $this->language->_('Transfer')?></a></li>
  <li><?php echo $this->language->_('Virtual Account')?></li>
  <li><?php echo $this->language->_('Confirmation')?></li>
</ol>
</b> -->
<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Transfer'); ?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="valas" ><?php echo $this->language->_('Virtual Account'); ?></span>
                    </li>
                    <li>
                        <span class="valas" ><?php echo $this->language->_('Confirmation'); ?></span>
                    </li>
                </ul>
            </div>
        </div>
</div>

<script type="text/javascript">
    
$(document).ready(function () {
    
$(".tokeninput").keyup(function (e) {

              if ((e.which == 8 || e.which == 46) && $(this).val() =='') {
                    // $(this).prev().prop("disabled", false);   
                    // $(this).next().prop("disabled", true); 
                    $(this).prev().focus();
                        
            }else{
                // $(this).next().prop("disabled", false); 
                $(this).next().focus();
                // $(this).prop("disabled", true);
                
            }
          });

});

</script>


<br><br>

<?php
	if($this->error)
	{	?>
	<div class="errmsg">
	<?php 
		echo $this->language->_('Error').": ".$this->language->_($this->ERROR_MSG);		
	?>
	</div><br />
<?php
	}
?>
<div class="portlet-body form">
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'nextlast'),null,true)?>" method="post">
	
	<div class="portlet-body form">
                      <!-- Default panel contents -->

                      <div class="card-header cardhead text-white">
                    	
                    	<strong><?php echo $this->language->_('Transfer From');?></strong></div>
                    	<div class="portlet-body form">
                                                <!-- BEGIN FORM-->
                                                
                                                    
                                                        <div class="form-group row ">
                                                            <label class="control-label col-md-3"></label>
                                                            <div class="col-md-9">
                                                            <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
                                                            </div>
                                                        </div>
    <div class="form-group row">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Payment Ref#');?></label>
	          <div class="col-md-9">
                <?php $autogenerate = $this->language->_('auto generate'); ?>
					<?php if (!empty($this->PS_NUMBER)) {echo $this->PS_NUMBER;} else {
								if (!empty($this->payReff)) 
									echo $this->payReff;
								else		
									echo '<b>'.$autogenerate.'</b>';
							}?></b>
					<?php  echo $this->formHidden('PS_NUMBER',$this->PS_NUMBER); ?>

              </div>
    </div>
        <div class="form-group row ">
        <label class="control-label col-md-3"><?php echo $this->language->_('Source Account');?></label>
        <div class="col-md-9">
        <?=$this->paramSession['ACCTSRC']?> [<?=$this->CustCCY?>] - <?=$this->CustName?> (<?=$this->CustDesc?>)
        </div>
        </div>
        <div class="card-header cardhead text-white">
                    	
                    	<strong><?php echo $this->language->_('Transfer To');?></strong></div>
        <div class="form-group row ">
        <label class="control-label col-md-3"><?php echo $this->language->_('Virtual Account Number');?></label>
        <div class="col-md-9">
        <?=$this->paramSession['orderId']?>
        </div>
        </div>
        
         <div class="form-group row ">
        <label class="control-label col-md-3"><?php echo $this->language->_('Virtual Account Name');?></label>
        <div class="col-md-9">
        <?php echo $this->paramSession['CUST_NAME'].$this->formHidden('CUST_NAME',$this->paramSession['CUST_NAME']); ?>
        </div>
        </div>

        <div class="form-group row ">
        <label class="control-label col-md-3"><?php echo $this->language->_('Invoice');?></label>
        <div class="col-md-9">
        <?php echo $this->paramSession['INVOICE_NAME'].$this->formHidden('INVOICE_NAME',$this->paramSession['INVOICE_NAME']); ?>
        </div>
        </div>

        <div class="form-group row ">
        <label class="control-label col-md-3"><?php echo $this->language->_('Invoice Descriptioin');?></label>
        <div class="col-md-9">
        <?php echo $this->paramSession['INVOICE_DESC'].$this->formHidden('INVOICE_DESC',$this->paramSession['INVOICE_DESC']); ?>
        </div>
        </div>
        <div class="form-group row ">
        <label class="control-label col-md-3"><?php echo $this->language->_('Currency/Amount');?></label>
        <div class="col-md-9">
        IDR <?=Application_Helper_General::displayMoney($this->paramSession['amount'])?>
        </div>
        </div>
        <?php 
		if($this->paramSession['fee'] < 1)
		{
		}
		else{
		?>
        <div class="form-group row ">
        <label class="control-label col-md-3"><?php echo $this->language->_('Fee');?></label>
        <div class="col-md-9">
        <?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['fee'])?>
        </div>
        </div>
        <?php } ?>
        <div class="form-group row " style="display: none">
        <label class="control-label col-md-3"><?php echo $this->language->_('Message');?></label>
        <div class="col-md-9">
        <?=$this->paramSession['berita']?>
        </div>
        </div>
        <div class="card-header cardhead text-white">
                    	
                    	<strong><?php echo $this->language->_('Transfer Date');?></strong></div>
        <div class="form-group row ">
        <label class="control-label col-md-3"><?php echo $this->language->_('Payment Date');?></label>
        <div class="col-md-9">
        <?php 
				//echo $this->formLabel('date',$this->paramSession['date']); 
				echo $this->Date($this->PS_EFDATE, $this->viewDateFormat, $this->displayDateFormat).$this->formHidden('PS_EFDATE',$this->PS_EFDATE);
				?>
        </div>
        </div>
        
        <div class="form-group row ">
        <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type');?></label>
        <div class="col-md-9">
        <?php echo $this->language->_('Today Transfer');?>
        </div>
        </div>
       
        
    
   
    
 </div>
</div>  
	<?php
     if($this->hidetoken){
         ?>     
         <?php if($this->token){ ?>

          <div class="modal fade" id="tokenmodal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" style="margin-left: 25px;">Token Verify</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="col-md-12" align="center">
                 <table width="70%">
                    <tbody>
                      <tr><td align="center"><h5 style="color: #006520;"><?php echo $this->language->_('Release on behalf of'); ?>:</h5></td></tr>
                      <tr><td align="center" style="padding-bottom: 2em;"><b><?= $this->userOnBehalf; ?></b></td></tr>
                        <input name="userOnBehalf" value="<?= $this->userOnBehalf?>" type="hidden">

                        <!--  <tr><td><?php echo $this->language->_('Challenge Code'); ?>:</td></tr>
                      <tr><td style="padding-bottom: 2em;"><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>

                      <tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 2'); ?>:</td></tr> -->

                       <tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 1'); ?>:</td></tr>
                      <tr>
                        <td align="center">
                          <div class="input-group">
                            <input class="tokeninput firsttokenfield mx-auto" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            <input class="tokeninput" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                          </div>
                        </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
                <?php echo $this->formSubmit('submit1',($this->confirmPage != 1 && $this->useConfirmPage == true)? $this->language->_('Confirm'): $this->language->_('Submit'),array('class'=>'btngreen hov', "onclick"=>"proceed('submit');trfEncryptWithin();"));  ?>
              </div>
            </div>
          </div>
        </div>


         <?php } }

         ?>


         <div class="row md-5">
          <div class="col-md-12" align="center">
            <hr/>
            <input type="hidden" name="confirmPage" id="confirmPage" value="<?=$this->confirmPage;?>"/>
        <input type="hidden" name="process" value=""/>

            <?php
          if (!empty($this->PS_NUMBER))
            $option = array('module'=>'paymentworkflow','controller'=>'requestrepair','action'=>'index');
          else
            $option = array('module'=>'singlepayment','controller'=>'within','action'=>'index');
        ?>
        <?php if(!$this->hidetoken){ ?>
        <?php if ($this->resultPage == 1){
          ?>
         <!--  <input class="btnwhite hov" value="<?php echo $this->language->_('Back'); ?>" onclick="location.href='<?=$this->url($option,null,true)?>'" type="button"> -->

          <?php echo $this->formButton('back',$this->language->_('Back'),array('class'=>'btnwhite hov', "onclick"=>"proceed('back');"));  ?>

            <?php 
            // echo $this->formButton('back',$this->language->_('Back'),array('class'=>'btnwhite hov', "onclick"=>"proceed('back');"));
          }else{
            ?>
             <!-- <input class="btnwhite hov" value="<?php echo $this->language->_('Back'); ?>" onclick="location.href='<?=$this->url($option,null,true)?>'" type="button"> -->

              <?php echo $this->formButton('back',$this->language->_('Back'),array('class'=>'btnwhite hov', "onclick"=>"proceed('back');"));  ?>
            <?php
            // echo $this->formButton('back',$this->language->_('Back'),array('class'=>'btnwhite hov', "onclick"=>"proceed('back');"));
          }
        ?>
      <?php }else{ ?>
           <!-- <input class="btnwhite hov" value="<?php echo $this->language->_('Back'); ?>" onclick="location.href='<?=$this->url($option,null,true)?>'" type="button"> -->

            <?php echo $this->formButton('back',$this->language->_('Back'),array('class'=>'btnwhite hov', "onclick"=>"proceed('back');"));  ?>

      <?php } ?>
        &nbsp;&nbsp;

          <?php
            $print = $this->language->_('Print');
          if(!empty($this->payReff)){
        ?>
          <button onclick="openwindow('<?PHP echo '/widget/index/printtrxvalas/payReff/'.$this->payReff.$this->qstring;  ?>', screen.width, screen.height); return false;" class="btn btn-success"><?php echo $this->language->_("Print")?></button>&nbsp;&nbsp;
        <?php }?>

       

            <?php  if($this->hidetoken) { ?>
             <button class="btngreen hov modalBtn"  type="button" data-toggle="modal" data-target="#tokenmodal2">&nbsp;<?php echo $this->language->_('Next'); ?></button>
            <?php }else{ ?>
                <input type="submit" class="btngreen hov" name="submit1" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>
            <?php  } ?>
          </div>
      </div>
	
	
	
	<!-- <table border="0" cellspacing="0" cellpadding="0">
		
		<tr>
			<td class="button-area" id="button-area" colspan="3">
				<div class="formbutton" style="float:left">
					<?php echo $this->formSubmit('submit', $this->language->_('Back'),array('class' => 'btnwhite hov'));?>
					<?php //echo $this->formSubmit('submit1', $this->language->_('Submit'),array('class' => 'inputbtn'));?>
				
				
					<input type="submit" class="btngreen hov" name="submit1" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>
					<input type="submit" class="btngreen hov" id="Submit_id" name="submit1" value="<?php echo $this->language->_('Submit')?>" disabled style="display:none"/>
					<script>
					function submitbtn(){
						//document.getElementById("subbutton").disabled=true;
						document.getElementById("subbutton").style.display ="none";
						document.getElementById("Submit_id").style.display ="inline";
						//Validation code goes here
					}
					</script>
				</div>
			</td>
		</tr>
	</table> -->
</form>
</div>