<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span>Transfer</span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span><?= $this->language->_('Virtual Account') ?></span>
        </li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <style type="text/css">
      .nav-tabs .nav-link {
        border-color: #c9c9c9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 170px;
        text-align: center;
      }

      .nav-tabs .nav-link:hover {
        border-color: #c9c9c9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: white;
        margin-top: -10px;
        padding-bottom: 10px;
        top: -10px;
        padding-top: 18px;
        height: 47.5px;
      }

      .nav-tabs .nav-item.show .nav-link,
      .nav-tabs .nav-link.active {
        color: white;
        border-color: #dee2e6 #dee2e6 #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-top: -10px;
        padding-bottom: 10px;
        top: -10px;
        padding-top: 14px;
        height: 47.5px;
        font-size: 17px
      }
    </style>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" id="inhouse-tab" href="/singlepayment/within" role="tab" at="1" value="1" aria-controls="inhouse" aria-selected="true"><?php echo $this->language->_('In House'); ?></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="domestic-tab" href="/singlepayment/domestic" role="tab" at="4" value="4" aria-controls="domestic" aria-selected="false"><?php echo $this->language->_('Domestic'); ?></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="valas-tab" href="/singlepayment/remittance" role="tab" at="3" value="3" aria-controls="valas" aria-selected="false"><?php echo $this->language->_('Valas'); ?></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="va-tab" href="/singlepayment/virtualaccount" role="tab" at="2" value="2" aria-controls="va" aria-selected="false"><?php echo $this->language->_('Virtual Accounts'); ?></a>
      </li>
    </ul>
  </div>

</div>

<?php
if ($this->error) {    ?>
  <div class="errmsg">
    <?php
    echo $this->language->_('Error') . ": " . $this->language->_($this->ERROR_MSG);
    ?>
  </div><br />
<?php
}

?>
<div class="row pt-2">
  <div class="col-md-12 portlet-body form">
    <div class="row">
      <div class="col-md-10">
        <h5><?= $this->language->_('Virtual Account') ?> - <?= $this->language->_('Confirmation') ?> </h5>
      </div>
      <div class="col-md-2">
        <a class="btnwhite hov card" href="#" onclick="modalapproval();" style="text-transform: none; padding-top:5px;"><img src="/images/icon/light/checked.png"></i>&nbsp;<?php echo $this->language->_('Approval Matrix'); ?></a>
      </div>
    </div>

    <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'next'), null, true) ?>" method="post">
      <div class="col-md-10 offset-md-1 pt-3">
        <div>
          <div class="form-group row">
            <label name="sourceacct" class="col-sm-4 col-form-label"><?php echo $this->language->_('Source Account'); ?></label>
            <div class="col-sm-8 <?= $ispadding ?>">
              <?= $this->paramSession['ACCTSRC'] ?> [<?= $this->CustCCY ?>] - <?= $this->CustName ?> / <?= $this->CustAliasName ?>
            </div>
          </div>
          <div class="form-group row">
            <label name="sourceacct" class="col-sm-4 col-form-label"><?php echo $this->language->_('Virtual Account'); ?></label>
            <div class="col-sm-8 <?= $ispadding ?>">
              <?= $this->paramSession['orderId'] ?>
            </div>
          </div>
          <div class="form-group row">
            <label name="sourceacct" class="col-sm-4 col-form-label"><?php echo $this->language->_(' Name'); ?></label>
            <div class="col-sm-8 <?= $ispadding ?>">
              <!-- <?= $this->paramSession['BENEFICIARY_ACCOUNT_NAME'] ?> -->
              ROBERT STANLEY
            </div>
          </div>
          <div class="form-group row">
            <label name="sourceacct" class="col-sm-4 col-form-label"><?php echo $this->language->_('Company / Product Name'); ?></label>
            <div class="col-sm-8 <?= $ispadding ?>">
              <!-- <?= $this->paramSession['BENEFICIARY_ACCOUNT_NAME'] ?> -->
              PT DISTRIBUTOR JAYA
            </div>
          </div>
        </div>
        <div>
          <table class="table table-sm table-striped" id="myTable">
            <thead>
              <tr class="headercolor">
                <th valign="top" class="tablehead"><?php echo $this->formCheckbox('check', ''); ?></th>
                <th width="3%" valign="top" class="tablehead">No</th>
                <th class="tablehead" valign="top">VA ID</th>
                <th class="tablehead" valign="top">Description</th>
                <th class="tablehead" valign="top">Ref Number</th>
                <th class="tablehead" valign="top">Expired Time</th>
                <th class="tablehead" valign="top">CCY</th>
                <th class="tablehead" valign="top">Amount</th>
                <th class="tablehead" valign="top">Charge</th>
              </tr>
            </thead>
            <tbody>
              <!-- Hardcode test -->
              <tr>
                <td><?php echo $this->formCheckbox('check1', '001', array('class' => 'checkAll')); ?></td>
                <td>1</td>
                <td>VAID21872611</td>
                <td>Biskuit</td>
                <td>KJG/711/JO7</td>
                <td>15-Nov-19 12:00:00</td>
                <td>IDR</td>
                <td>52,000,000</td>
                <td>1,000</td>
              </tr>
              <tr>
                <td><?php echo $this->formCheckbox('check2', '002', array('class' => 'checkAll')); ?></td>
                <td>2</td>
                <td>VAID21872612</td>
                <td>Susu</td>
                <td>KJG/711/JO8</td>
                <td>20-Nov-19 12:00:00</td>
                <td>IDR</td>
                <td>12,000,000</td>
                <td>1,000</td>
              </tr>
              <tr>
                <td><?php echo $this->formCheckbox('check3', '003', array('class' => 'checkAll')); ?></td>
                <td>3</td>
                <td>VAID21872613</td>
                <td>Permen</td>
                <td>KJG/711/JO9</td>
                <td>21-Nov-19 12:00:00</td>
                <td>IDR</td>
                <td>29,000,000</td>
                <td>1,000</td>
              </tr>
              <tr>
                <td><?php echo $this->formCheckbox('check4', '004', array('class' => 'checkAll')); ?></td>
                <td>4</td>
                <td>VAID21872614</td>
                <td>Sirup</td>
                <td>KJG/711/J10</td>
                <td>22-Nov-19 12:00:00</td>
                <td>IDR</td>
                <td>31,000,000</td>
                <td>1,000</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="content-box row">
          <div class="col-md-4">
            <?php echo $this->language->_('Total Amount (include charge)'); ?>
          </div>
          <div class="col-md-8 text-right">
            <h6 id="totalAmount">IDR 0,00</h6>
            <?= $this->formHidden('amount', '0')  ?>
          </div>
        </div>
      </div>
      <div class="row md-5">
        <div class="col-md-12" align="center">
          <hr />
          <?php echo $this->formButton('back', $this->language->_('Back'), array('class' => 'btnwhite hov', "onclick" => "window.location='/singlepayment/virtualaccount'"));  ?>
          <input type="submit" name="submit" value="<?php echo $this->language->_('Submit'); ?>" class="btngreen hov" />
        </div>
      </div>
    </form>
  </div>

</div>


<div class="modal fade" id="myModalApproval" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title" id="myModalLabel">Approval List</h4>
      </div>
      <div class="modal-body">
        <br>
        <div class="card">
          <div class="card-header cardhead text-white" align="center">
            <strong>Approval Group</strong>
          </div>
          <table border="0" cellpadding="0" cellspacing="0" class="table table-sm table-striped" width="100%">
            <tr>
              <th class="tablehead" valign="top">Group ID</th>
              <th class="tablehead" valign="top">Group Name</th>
              <th class="tablehead" valign="top">Username</th>
            </tr>
            <tbody>
              <?php
              if ($this->selectUsergroup) {
                foreach ($this->selectUsergroup as $key => $value) {
                  // $spesial = 'S_'.$this->cust_id;
                  // if($value['GROUP_USER_ID']==$special){
              ?>
                  <tr>
                    <td><?php echo $value['GID'] ?></td>
                    <td><?php echo $value['GROUP_NAME'] ?></td>
                    <td><?php echo $value['USER'] ?></td>
                  </tr>
              <?php
                  // }
                }
              } else {
                echo '<tr>
                        <td class="tbl-evencontent" colspan="5" align="center">' . $this->language->_('No Data') . '</td>
                      </tr>';
              }
              ?>
            </tbody>
          </table>
        </div>


        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="contentarea" id="contentarea">
            <div class="card">
              <div class="card-header cardhead text-white" align="center">
                <strong>Approval Matrix</strong>
              </div>
              <table border="0" cellpadding="0" cellspacing="0" width="100%" class="table table-sm table-striped">
                <tr class="headercolor" style="background-color: #003f6e; color:white">
                  <th width="3%" valign="top" class="tablehead">No.</th>
                  <th class="tablehead"><?php echo $this->language->_('Transfer Type') ?></th>
                  <th class="tablehead"><?php echo $this->language->_('Currency') ?></th>
                  <th class="tablehead"><?php echo $this->language->_('Boundary') ?></th>
                  <th class="tablehead"><?php echo $this->language->_('Policy') ?></th>
                  <th class="tablehead"><?php echo $this->language->_('User') ?></th>
                </tr>
                <tbody>
                  <?php
                  if ($this->hasPrivilege('UABG')) {
                    $disabled = '';
                  } else {
                    $disabled = 'disabled';
                  }
                  $i = 1;
                  if (count($this->dataBoundary) > 0) {
                    foreach ($this->dataBoundary as $row) {
                      echo '<tr>
                            <td>' . $i . '</td>
                            <td>' . $row['TRANSFER_TYPE'] . '</td>
                                    <td>' . $row['CURRENCY'] . '</td>
                            <td>' . $row['BOUNDARY'] . '</td>
                            <td>' . $row['GROUP_NAME'] . '</td>
                            <td>' . $row['USERS'] . '</td>
                            </tr>';

                      $i++;
                    }
                  } else {
                    echo '<tr>
                                <td class="tbl-evencontent" colspan="5" align="center">' . $this->language->_('No Data') . '</td>
                              </tr>';
                  }
                  ?>
                </tbody>
              </table>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  var amount = 0;

  function modalapproval() {
    $("#myModalApproval").modal();
  }
  //Rocki
  $(document).on('click', '.checkAll', function(e) {
    var valu = $(this).val();
    if (valu == '001') {
      if ($(this).is(":checked")) {
        amount += 52000;
      } else {
        amount -= 52000;
      }
    } else if (valu == '002') {
      if ($(this).is(":checked")) {
        amount += 12000;
      } else {
        amount -= 12000;
      }
    } else if (valu == '003') {
      if ($(this).is(":checked")) {
        amount += 29000;
      } else {
        amount -= 29000;
      }
    } else if (valu == '004') {
      if ($(this).is(":checked")) {
        amount += 31000;
      } else {
        amount -= 31000;
      }
    }
    var currency = amount.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
    $("#totalAmount").text("IDR " + currency + ",00");
    $('#amount').val(amount);
  });

  $(document).on('click', '#check', function(e) {
    var valu = $(this).val();
    amount = 0;
    if ($(this).is(":checked")) {
      $(".checkAll").prop('checked', true);
    } else {
      $(".checkAll").prop('checked', false);
    };
    if ($(this).is(":checked")) {
      amount += 124000;
    } else {
      amount = 0;
    }
    var currency = amount.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
    $("#totalAmount").text("IDR " + currency + ",00");
    $('#amount').val(amount);
  });
</script>