<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php 
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<style>
@media print{
    .hidden, .hidden * {
		display: none !important;
		visibility: hidden;
	}

	button {
		display: none !important;
		visibility: hidden;
	}
	
	/*form {
		display: none !important;
		visibility: hidden;
	}*/
	
	th { font-family: Arial, Helvetica, sans-serif; background-color:#0c67a0;  font-size:11px; font-weight: bold; padding: 5px; text-align: left;  border-right: solid 1px #ffffff; color:white; } 
	.menuheader { background-color:#CC0000; font-size:12px; font-weight: bold; color:#FFFFFF } 
	.bodyheader { background-color:#999999; font-size:12px; font-weight: bold; color:#FFFFFF }
	
	.hiddenLogo, .hiddenLogo * {
		display: inline !important;
		visibility: show;
	}
	
	input.currency{ width: 200px; font-size: 10px; } 
	ul { padding-left:10px; } 
	h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed } 
	body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; } 
	b { font-weight:bold; font-size:11px } 
	td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; } 
	a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; } 
	.tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } 
	.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; } 
	.errmsg { font-weight:bold; font-size:11px; color:#FF0000 } 
	body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	-webkit-print-color-adjust:exact; /*chrome*/ 
	-moz-print-color-adjust:exact; /*mozila*/
	-o-print-color-adjust:exact; /*opera*/
	-ms-print-color-adjust:exact; /*ie*/
	}
}

</style>



<script type="text/javascript">
.container {
	clear:both;
	border: 1px dashed gray;
	background-color:#f0f0f0;
	height: auto;
	padding: 8px;
}
</script>
<b class="hidden"><?php echo $this->language->_('Reports');?> &gt; <?php echo $this->language->_('Transaction Report');?> &gt; <?php echo $this->language->_('Detail');?></b><br class="hidden"/><br class="hidden"/>



<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<?php
// print_r($this->paginator);die;
// die('here'); 
$i = 0;
foreach($this->paginator as $row)
{
    if($i == 0){
        $date_split = split ("-", $row['ps_created']);
        $month = $date_split['1']-1;
        $date_start = 1;
        $data = $row['totalamont'].',';
    }else{
        $data.= $row['totalamont'].',';
    }
    $i++;
}
$data .= '0';
// print_r($date_start);die;
// 0.8446, 0.8445, 0.8444, 0.8451, 0.8418, 0.8264, 0.8258, 0.8232,
// 0.8233, 0.8258, 0.8283, 0.8278, 0.8256, 0.8292, 0.8239, 0.8239,
// 0.8245, 0.8265, 0.8261, 0.8269, 0.8273, 0.8244, 0.8244, 0.8172,
// 0.8139, 0.8146, 0.8164, 0.82,   0.8269, 0.8269
?>


		<script language = "JavaScript">
         $(document).ready(function() {  
            var chart = {
               zoomType: 'x'
            }; 
            var title = {
               text: 'Report Statistic'   
            };
            var subtitle = {
               text: document.ontouchstart === undefined ?
               '' :
               'Pinch the chart to zoom in'
            };
            var xAxis = {
               type: 'string'
//                minRange: 14 * 24 * 3600000 // fourteen days
            };
            var yAxis = {
               title: {
                  text: 'Exchange rate'
               }
            };
            var legend = {
               enabled: false 
            };
            var plotOptions = {
               area: {
                  fillColor: {
                     linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                     stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(
                           Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                     ]
                  },
                  marker: {
                     radius: 2
                  },
                  lineWidth: 1,
                  states: {
                     hover: {
                        lineWidth: 1
                     }
                  },
                  threshold: null
               }
            };
            var series = [{
               type: 'area',
               name: 'Amount : ',
               pointInterval: 1,
               pointStart: (<?php echo $date_start?>),
               data: [
                 <?php echo $data ?>
               ]
            }];
   
            var json = {};
            json.chart = chart;
            json.title = title;
            json.subtitle = subtitle;
            json.legend = legend;
            json.xAxis = xAxis;
            json.yAxis = yAxis;  
            json.series = series;
            json.plotOptions = plotOptions;
            $('#container').highcharts(json);
         });
      </script>
