
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:"Blackadder ITC";}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	font-size:10.0pt;
	font-family:"Calibri",sans-serif;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
@page WordSection1
	{size:8.5in 841.3pt;
	margin:41.1pt 1.0in .35in 1.0in;}
div.WordSection1
	{page:WordSection1;}
@page WordSection2
	{size:8.5in 841.3pt;
	margin:41.1pt 1.0in .35in 1.0in;}
div.WordSection2
	{page:WordSection2;}
@page WordSection3
	{size:8.5in 841.3pt;
	margin:41.1pt 1.0in .35in 1.0in;}
div.WordSection3
	{page:WordSection3;}
@page WordSection4
	{size:8.5in 841.3pt;
	margin:41.1pt 1.0in .35in 1.0in;}
div.WordSection4
	{page:WordSection4;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
.MsoNormal{
	margin-bottom: 0em!important;
}
</style>


<nav class="navbar navbar-expand-md bg-white fixed-top">
      <a href="/home/dashboard"><img class="navbar-brand hiddenprint" src="/images/logo/logo-btn.png" width="150"></a>

      
    </nav>
	<style type="text/css">
  .grid {
      position: relative;
    }

    .item {
      display: block;
      position: absolute;
    /*  width: 330px;
      height: 360px;*/
      margin: 5px;
      z-index: 1;
      background: #FFFFFF;
      /*color: #fff;*/
    }

    .item.muuri-dragging {
      z-index: 3;
    }

    .item.muuri-releasing {
      z-index: 2;
    }

    .item.muuri-hidden {
      z-index: 0;
    }

    .item-content {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .Path-83 {

  position: fixed;
  bottom: 0;

  right: 0;
}

    .Path-85 {

  position: fixed;
  bottom: 0;

  left: 0;
}


</style>
<div class="row">
  <div class="col-md-8">
    
    <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped">
      <tbody><tr><th colspan="3" class="tdform-sub"><strong>Bank Account Detail</strong></th></tr>

      <tr>
        <td class="tbl-evencontent"><label for="cust_id">Company Code</label></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><label for="cust_id">[[comp_code]]</label></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><label for="cust_name">Company Name</label></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><label for="cust_name">[[comp_name]]</label></td>
      </tr>

      <tr>
      <td class="tbl-evencontent"><label for="acct_no">Account Number</label></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent">
      <label for="acct_no">[[acct_no]]</label></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><label for="acct_name">Account Name</label></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><label for="acct_name">[[acct_name]]</label></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><label for="acct_status">Status</label></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><label for="acct_status">[[status]]</label></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><label for="acct_email">Email</label></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><label for="acct_email">[[email]]</label></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><label for="ccy">Currency</label></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><label for="ccy">[[ccy]]</label></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><label for="type">Type</label></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><label for="type">[[type]]</label></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><label for="order_no">Order No</label></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><label for="order_no">[[order_no]]</label></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><label for="group_name">Group Name</label></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><label for="group_name">[[group]]</label></td>
      </tr>

       <tr>
        <td class="tbl-evencontent"><label for="create_date">Created Date</label></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><label for="create_date">[[create]]</label></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><label for="creator">Created By</label></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><label for="creator">[[created]]</label></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><label for="last_suggestion">Last Suggestion</label></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><label for="last_suggestion">[[sugest]]</label></td>
      </tr>

     <tr>
        <td class="tbl-evencontent"><label for="last_suggestor">Last Suggester</label></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><label for="last_suggestor">[[suggested]]</label></td>
      </tr>


      <tr>
        <td class="tbl-evencontent"><label for="last_approval">Last Approval</label></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><label for="last_approval">[[approve]]</label></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><label for="last_approver">Last Approver</label></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent"><label for="last_approver">[[approved]]</label></td>
      </tr>




     </tbody></table>
     
     
  </div>
</div>

