<script>
	$(document).ready(function()
	{

		// if( '<?=$this->success?>' || '<?=$this->error?>' )
		// {
		// 	$("input").attr("disabled","disabled");
		// 	$("textarea").attr("disabled","disabled");
		// }
	});
</script>

<script type="text/javascript">
    function localtransfer()
    {
       var d1 = document.getElementById("localtransfer");
			 var d2 = document.getElementById("monthlyfee");
			 var d3 = document.getElementById("valastransfer");
       if( d1.style.display == "none" )
       {
				 d1.style.display = "block";
				 d2.style.display = "none";
				 d3.style.display = "none";

       }
       else
       {
       }
    }
		function monthlyfee()
    {
       var d1 = document.getElementById("monthlyfee");
			 var d2 = document.getElementById("localtransfer");
			 var d3 = document.getElementById("valastransfer");
       if( d1.style.display == "none" )
       {
				 d1.style.display = "block";
				 d2.style.display = "none";
				 d3.style.display = "none";
       }
       else
       {
       }
    }
		function valastransfer()
    {
       var d1 = document.getElementById("valastransfer");
			 var d2 = document.getElementById("localtransfer");
			 var d3 = document.getElementById("monthlyfee");
       if( d1.style.display == "none" )
       {
				 d1.style.display = "block";
				 d2.style.display = "none";
				 d3.style.display = "none";
       }
       else
       {
       }
    }
	
	function numberWithCommas(x,id) {
   const formattermoney = new Intl.NumberFormat('ID', {
      minimumFractionDigits: 0
    });
    var tag = '#'+id;
      // $(nams).text(formattermoney.format(obj[k].BALANCE));
    var x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
     $(tag).val(x);
  //return 
}
	function resetdata(){
			var valtemp = $('#temp_charges_monthly_idr').val();
			$('#charges_monthly_idr').val(valtemp);
			var valtemp = $('#temp_charges_monthly_aud').val();
			$('#charges_monthly_aud').val(valtemp);
			var valtemp = $('#temp_charges_monthly_eur').val();
			$('#charges_monthly_eur').val(valtemp);
			var valtemp = $('#temp_charges_monthly_sgd').val();
			$('#charges_monthly_sgd').val(valtemp);
			var valtemp = $('#temp_charges_monthly_usd').val();
			$('#charges_monthly_usd').val(valtemp);
			
	}
</script>



<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Charges'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Global Charges Setting'); ?>
						<i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
					<li>
	                    <?php echo $this->language->_('Global Charges Setting'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h5><?=$this->language->_('Global Charges Setting')?></h5>
		<h6><?=$this->language->_('Manage charges/fee service settings	')?></h6>
	</div>
</div>
<br>
<form name="Form" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">
<div id="monthlyfee">
	
		<div class="row">

			<div class="col-md-1"></div>
			<div align="left" class="col-md-10">
					<strong>Monthly Administration Fee per company</strong>
					<p>*Charges amount and charge account, default set base on company index account order number 1</p>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
				<div class="col-md-12">
						<table width="30%" align="center" class="table-sm">
								<tr>
									<td>AUD</td>
									<td>
											
											<input onfocus="iNumFrmt(this.value,this.id)" onblur="numberWithCommas(this.value,this.id)" onkeypress="return forceCurrency(event)" type="text" name="charges_monthly_aud" id="charges_monthly_aud" value="<?php echo $this->charges_monthly_aud; ?>" class="form-control col-md-12">
											<?php echo $this->formHidden('temp_charges_monthly_aud', $this->charges_monthly_aud); ?>
											
									</td>
								</tr>
								<tr> 
									<td>EUR</td>
									<td>
											<input onfocus="iNumFrmt(this.value,this.id)" onblur="numberWithCommas(this.value,this.id)" onkeypress="return forceCurrency(event)" type="text" name="charges_monthly_eur" id="charges_monthly_eur" value="<?php echo $this->charges_monthly_eur; ?>" class="form-control col-md-12">
											<?php echo $this->formHidden('temp_charges_monthly_eur', $this->charges_monthly_eur); ?>
											
									</td>
								</tr>
								<tr>
									<td>IDR</td>
									<td>
											<input onfocus="iNumFrmt(this.value,this.id)" onblur="numberWithCommas(this.value,this.id)" onkeypress="return forceCurrency(event)" type="text" name="charges_monthly_idr" id="charges_monthly_idr" value="<?php echo $this->charges_monthly_idr; ?>" class="form-control col-md-12">
											<?php echo $this->formHidden('temp_charges_monthly_idr', $this->charges_monthly_idr); ?>
											
									</td>
								</tr>
								<tr>
									<td>SGD</td>
									<td>	<input onfocus="iNumFrmt(this.value,this.id)" onblur="numberWithCommas(this.value,this.id)" onkeypress="return forceCurrency(event)" type="text" name="charges_monthly_sgd" id="charges_monthly_sgd" value="<?php echo $this->charges_monthly_sgd; ?>" class="form-control col-md-12">
											<?php echo $this->formHidden('temp_charges_monthly_sgd', $this->charges_monthly_sgd); ?>
											
									</td>
								</tr>
								<tr>
									<td>USD</td>
									<td>
											<input onfocus="iNumFrmt(this.value,this.id)" onblur="numberWithCommas(this.value,this.id)" onkeypress="return forceCurrency(event)" type="text" name="charges_monthly_usd" id="charges_monthly_usd" value="<?php echo $this->charges_monthly_usd; ?>" class="form-control col-md-12">
											<?php echo $this->formHidden('temp_charges_monthly_usd', $this->charges_monthly_usd); ?>
											
									</td>
								</tr>
						</table>
						<br><br>
						<div align="center">
								<button onClick="window.location.href='<?php echo $this->url(array('module'=>'charges','controller'=>'chargesglobal','action'=>'index'),null,true);?>'"  type="button" class="btnwhite hov" name="button">Back</button>
								<button onclick="resetdata();" type="button" class="btnwhite hov" name="button">Reset</button>
								<button type="submit" class="btngreen hov" name="button">Submit</button>
						</div>
				</div>
		</div>
</div>




</form>