<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('360&#176 Balance Overview'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Cash Pooling'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                 <li>
	                    <span class="valas" ><?php echo $this->language->_('Confirmation'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>
<br>

<style type="text/css">
	.roundChk label {
		cursor: default;
	}
</style>


<script type="text/javascript">



  $(document).ready(function() {

    // setTrfType()
    $(".tokeninput").keyup(function(e) {

      if ((e.which == 8 || e.which == 46) && $(this).val() == '') {
        $(this).prev().focus();
      } else {
        $(this).next().focus();
      }
    });

    $('#tokenmodal').on('shown.bs.modal', function() {
      $('.firsttokenfield').trigger('focus');
    });

    $('#tokenmodal2').on('shown.bs.modal', function() {
      $('.firsttokenfield').trigger('focus');
    });


  });
</script>
<?php
if ($this->error && !empty($this->report_msg)) { ?>
  <?php if ($this->tokenError) { ?>
   
    <script type="text/javascript">
      $(document).ready(function() {
		  
        $('#tokenmodal').modal();
      });
    </script>
  <?php } ?>
  <?php if ($this->confirmPage != 1 && $this->token){ ?>
  <div class="alert alert-danger"><?= $this->language->_($this->report_msg) ?></div><br />
  
<?php }else{ 
//echo 'gere';
    if($this->token){
      //die('ge');
?>
    <script type="text/javascript">
    $(document).ready(function() {
      
      $("#tokenmodal").modal();
      $('#tokenmodal').on('shown.bs.modal', function() {
        $('.firsttokenfield').trigger('focus');
      });
    });
    </script>
  
    <?php }else{
        ?>
          <div class="alert alert-danger"><?= $this->language->_($this->report_msg) ?></div><br />
        <?php
    }}
} ?>

<?php if($this->result){?>
<div class="alert alert-success"><?= $this->language->_('Transaction Success') ?></div><br />
<?php } ?>
<div class="portlet-body form">
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'confirm'),null,true)?>" method="post">

<?php echo $this->formHidden('confirmPage', true); ?>

<?php if ($this->error) { ?>
	<?php foreach ($this->error_msg as $key => $value) { ?>
			<div class="alert alert-danger"><?php echo $this->language->_($value); ?></div>
	<?php } ?>
<?php } ?>

<div class="row">
			<div class="col-md-7">
					<div class="portlet light form-fit bordered">


							<div class="card-body form ">
								<div class="form-group row pt-2">
									<div class="col-sm-4">
										<label for=""><?php echo $this->language->_('Payment Ref'); ?></label>
									</div>
									<div class="col-sm-1 p-0">
										<label for=""><?php echo $this->language->_(': '); ?></label>
									</div>
									<div class="col-sm-7">
									<?php if($this->result){
										echo $this->result;
										
										?>
										
									<?php }else{ ?>
									   <?php echo $this->language->_('Auto Generated');?>
			                           <?php echo $this->formHidden('teamplate_reff',$this->paymentReff);
									   
									}
									   ?>
									</div>
								</div>
								<div class="form-group row pt-2">
									<div class="col-sm-4">
										<label for=""><?php echo $this->language->_('Payment Subject'); ?></label>
									</div>
									<div class="col-sm-1 p-0">
										<label for=""><?php echo $this->language->_(': '); ?></label>
									</div>
									<div class="col-sm-7">
									    <?php echo $this->paymentSubject; ?>
				                        <?php echo $this->formHidden('paymentsubject',$this->paymentSubject); ?>
									</div>
								</div>

								<?php echo $this->formHidden('sourceType', $this->sourceType); ?>
								<?php echo $this->formHidden('accteopen', $this->sweepbene); ?>
								<!-- single source $this->sweepbene -->
								<?php
								//var_dump($this->opensweep);die;
								 if($this->sourceType == 1) { ?>
									<div class="form-group row pt-2">
										<div class="col-sm-4">
											<label for=""><?php echo $this->language->_('Source Account'); ?></label>
										</div>
										<div class="col-sm-1 p-0">
											<label for=""><?php echo $this->language->_(': '); ?></label>
										</div>
										<div class="col-sm-7">
										    <?php echo $this->sourceName; ?>
					                        <?php echo $this->formHidden('ACCTSRC',$this->acSource); ?>
										</div>
									</div>
								<?php } else if($this->sourceType == 2 && $this->sweepbene == '1'){
										?>
										<div class="form-group row pt-2">
										<div class="col-sm-4">
											<label for=""><?php echo $this->language->_('Source Account'); ?></label>
										</div>
										<div class="col-sm-1 p-0">
											<label for=""><?php echo $this->language->_(': '); ?></label>
										</div>
										<div class="col-sm-7">
										    <?php echo $this->sourceName; ?>
					                        <?php echo $this->formHidden('ACCTSRC',$this->acSource); ?>
										</div>
									</div>
										<?php
									} else if($this->sourceType == 2){ ?>
									<div class="form-group row pt-2">
										<div class="col-sm-4">
											<label for=""><?php echo $this->language->_('Source Account'); ?></label>
										</div>
										<div class="col-sm-1 p-0">
											<label for=""><?php echo $this->language->_(': '); ?></label>
										</div>
										<div class="col-sm-7">
										    <button class="btn btn-sm btn-outline-primary" type="button" class="toogleModal text-primary" data-toggle="modal" data-target="#sourceacct"><?php echo $this->language->_('Many account'); ?></button>

											<div class="modal fade" id="sourceacct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
												  <div class="modal-dialog modal-lg" role="document">
												    <div class="modal-content">
												      <div class="modal-header">
												        <h4 class="modal-title textBlack" id="myModalLabel"><?php echo $this->language->_('Source Account List') ?></h4>
												      </div>
												      <div class="modal-body">
												      	<div class="container col-md-10 mt-5">
												      		<div class="card">
														        <table class="table table-bordered table-responsive-sm mb-0">
														            <thead>
															            <tr>
															                <th class="text-center">Sweep From</th>
															                <th class="text-center">Remains Balance</th>
															                <th class="text-center">Message</th>
															                <th class="text-center">Cust Ref</th>
															                <!-- <th class="text-center">Notif SMS</th> -->
															            </tr>
														            </thead>
														            <tbody>
								            	<?php foreach ($this->acSource as $key => $value) {
								            			echo '<tr>';
								            			// if (!empty($this->source_error)) {
									            				// foreach ($this->source_error as $key2 => $value2) {
									            					// if ($value == array_keys($value2)[0]) {
									            						echo '<td class="text-danger text-center">'.$value['ACCT_NO'].'</td>';
									            						echo '<td class="text-danger text-center">'.Application_Helper_General::displayMoney($value['REMAIN_BALANCE']).'</td>';
									            						echo '<td class="text-danger text-center">'.$value['DESC'].'</td>';
									            						echo '<td class="text-danger text-center">'.$value['CUST_REF'].'</td>';
									            						//echo '<td class="text-danger text-center">'.$value['NOTIF_EMAIL'].'</td>';
									            						//echo '<td class="text-danger text-center">'.$value['NOTIF_SMS'].'</td>';
									            						
									            						
									            					// }
									            					// else{
									            					// 	echo '<td class="text-success text-center">'.$value.'</td>';
									            					// 	echo '<td class="text-center"> - </td>';
									            					// }
									            		// 	}
								            			// }
								            			// else{
								            			// 	echo '<td class="text-success">'.$value.'</td>';
									            		// 	echo '<td> - </td>';
								            			// }
								            			echo '</tr>';
								            	} ?>
														            	
														            </tbody>
														        </table>
														    </div>
														    </div>
														 </div>
												      <div class="modal-footer">
												        <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
												      </div>
												    </div>
												  </div>
										  		</div>
										  	 <?php echo $this->formHidden('ACCTSRC', json_encode($this->acSource)); ?>
										</div>
									</div>
								<?php } ?>


								<?php if($this->sweepbene != 1) { ?>
									<div class="form-group row pt-2">
										<div class="col-sm-4">
											<label for=""><?php echo $this->language->_('Beneficiary Account'); ?></label>
										</div>
										<div class="col-sm-1 p-0">
											<label for=""><?php echo $this->language->_(': '); ?></label>
										</div>
										<div class="col-sm-7">
										     <?php echo $this->benefName; ?>
										     <?php echo $this->formHidden('ACBENEF',$this->acBenef); ?>
										</div>
									</div>
								<?php } else{ ?>
									<div class="form-group row pt-2">
										<div class="col-sm-4">
											<label for=""><?php echo $this->language->_('Beneficiary Account'); ?></label>
										</div>
										<div class="col-sm-1 p-0">
											<label for=""><?php echo $this->language->_(': '); ?></label>
										</div>
										<div class="col-sm-7">
										    <button class="btn btn-sm btn-outline-primary" type="button" class="toogleModal text-primary" data-toggle="modal" data-target="#sourceacct"><?php echo $this->language->_('View'); ?></button>

											<div class="modal fade" id="sourceacct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
												  <div class="modal-dialog modal-lg" role="document">
												    <div class="modal-content">
												      <div class="modal-header">
												        <h4 class="modal-title textBlack" id="myModalLabel"><?php echo $this->language->_('Beneficiary Account List') ?></h4>
												      </div>
												      <div class="modal-body">
												      	<div class="container col-md-10 mt-5">
												      		<div class="">
														        <table class="table table-bordered table-responsive-sm mb-0">
														            <thead>
															            <tr>
															                <th class="text-center">Beneficiary Account</th>
															                <th class="text-center">Remain Balance</th>
															                <th class="text-center">Description</th>
															                <!-- <th class="text-center">Notif Email</th>
															                <th class="text-center">Notif SMS</th> -->


															            </tr>
														            </thead>
														            <tbody>
								            	<?php foreach ($this->beneSource as $key => $value) {
								            			echo '<tr>';
								            			// if (!empty($this->source_error)) {
									            				// foreach ($this->source_error as $key2 => $value2) {
									            					// if ($value == array_keys($value2)[0]) {
									            						echo '<td class="text-danger text-center">'.$value['ACCT_NO'].'</td>';
									            						echo '<td class="text-danger text-center">'.$value['REMAIN_BALANCE'].'</td>';
									            						echo '<td class="text-danger text-center">'.$value['DESC'].'</td>';
									            						//echo '<td class="text-danger text-center">'.$value['NOTIF_EMAIL'].'</td>';
									            						//echo '<td class="text-danger text-center">'.$value['NOTIF_SMS'].'</td>';
									            						
									            						
									            					// }
									            					// else{
									            					// 	echo '<td class="text-success text-center">'.$value.'</td>';
									            					// 	echo '<td class="text-center"> - </td>';
									            					// }
									            		// 	}
								            			// }
								            			// else{
								            			// 	echo '<td class="text-success">'.$value.'</td>';
									            		// 	echo '<td> - </td>';
								            			// }
								            			echo '</tr>';
								            	} ?>
														            	
														            </tbody>
														        </table>
														    </div>
														    </div>
														 </div>
												      <div class="modal-footer">
												        <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
												      </div>
												    </div>
												  </div>
										  		</div>
										  	 <?php echo $this->formHidden('ACBENEF', json_encode($this->beneSource)); ?>
										</div>
									</div>
								<?php } ?>
								

								<?php if ($this->sweepOption == 1) { ?>
									<div class="form-group row pt-2">
										<div class="col-sm-4">
											<?php if($this->sweepOption == '1'){
												?>
												<label for=""><?php echo $this->language->_('Remains Balance on Source Account'); ?></label>
												
												<?php
											}else{ ?>
												<label for=""><?php echo $this->language->_('Maintains Beneficiary Account Balance'); ?></label>
											<?php } ?>
											<!-- <label for=""><?php echo $this->language->_('Remains Balance'); ?></label> -->
										</div>
										<div class="col-sm-1 p-0">
											<label for=""><?php echo $this->language->_(': '); ?></label>
										</div>
										<div class="col-sm-7">
											<?php 
													if($this->remainsBalance == ''){
														$this->remainsBalance = '-';
													}
												// if($this->remainBalanceType == 1){
											 		echo 'IDR '.$this->remainsBalance;
											 	// }else{
											 		// echo $this->remainsBalance.'%';
											 	// } 
											 ?>
	                                        <?php echo $this->formHidden('rem_per',$this->remainBalanceType); ?>
	                                        <?php echo $this->formHidden('remainbalance',$this->remainsBalance); ?>
										</div>
									</div>
								<?php } else { ?>
									<div class="form-group row pt-2">
										<div class="col-sm-4">
											<label for=""><?php echo $this->language->_('Maintains Beneficiary Account Balance'); ?></label>
										</div>
										<div class="col-sm-1 p-0">
											<label for=""><?php echo $this->language->_(': '); ?></label>
										</div>
										<div class="col-sm-7">

											<?php if($this->mainbalance){
												echo 'IDR '.str_replace('.00', '', Application_Helper_General::displayMoney($this->mainbalance));
											}else{
												?>
											<button class="btn btn-outline-primary" type="button" class="toogleModal text-primary" data-toggle="modal" data-target="#poolingConfirmModal"><?php echo $this->language->_('View'); ?></button>

											<div class="modal fade" id="poolingConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
												  <div class="modal-dialog modal-lg" role="document" style="max-width: 1024px!important">
												    <div class="modal-content">
												      <div class="modal-header">
												        <h4 class="modal-title textBlack" id="myModalLabel"><?php echo $this->language->_('Beneficiary Maintain Balance') ?></h4>
												      </div>
												      <div class="modal-body">
												      	<div class="container col-md-12 mt-5">
												      		<div class="">
														        <table class="table table-bordered table-responsive-sm mb-0">
														            <thead>
															            <tr>
															            	<?php if(!empty($this->pooling_sun_view)){ ?>
															                <th class="text-center">Sun</th>
															            	<?php } ?>
															            	<?php if(!empty($this->pooling_mon_view)){ ?>
															                <th class="text-center">Mon</th>
															                <?php } ?>
															                <?php if(!empty($this->pooling_tue_view)){ ?>
															                <th class="text-center">Tue</th>
															                <?php } ?>
															                <?php if(!empty($this->pooling_wed_view)){ ?>
															                <th class="text-center">Wed</th>
															                <?php } ?>
															                <?php if(!empty($this->pooling_thu_view)){ ?>
															                <th class="text-center">Thu</th>
															                <?php } ?>
															                <?php if(!empty($this->pooling_fry_view)){ ?>
															                <th class="text-center">Fri</th>
															                <?php } ?>
															                <?php if(!empty($this->pooling_sat_view)){ ?>
															                <th class="text-center">Sat</th>
															                <?php } ?>
															            </tr>
														            </thead>

														            <tbody>
														            	<tr>
														            		<?php if(!empty($this->pooling_sun_view)){ ?>
														            		<td align="center" id="sun">
														            			<?php echo $this->pooling_sun_view; ?>
														            			<input type="hidden" name="pooling_sun" value="<?php echo $this->pooling_sun; ?>">
														            		</td>
														            		<?php } ?>
														            		<?php if(!empty($this->pooling_mon_view)){ ?>
														            		<td align="center" id="mon">
														            			<?php echo $this->pooling_mon_view; ?>
														            			<input type="hidden" name="pooling_mon" value="<?php echo $this->pooling_mon; ?>">
														            		</td>
														            		<?php } ?>
														            		<?php if(!empty($this->pooling_tue_view)){ ?>
														            		<td align="center" id="tue">
														            			<?php echo $this->pooling_tue_view; ?>
														            			<input type="hidden" name="pooling_tue" value="<?php echo $this->pooling_tue; ?>">
														            		</td>
														            		<?php } ?>
														            		<?php if(!empty($this->pooling_wed_view)){ ?>
														            		<td align="center" id="wed">
														            			<?php echo $this->pooling_wed_view; ?>
														            			<input type="hidden" name="pooling_wed" value="<?php echo $this->pooling_wed; ?>">
														            		</td>
														            		<?php } ?>
														            		<?php if(!empty($this->pooling_thu_view)){ ?>
														            		<td align="center" id="thu">
														            			<?php echo $this->pooling_thu_view; ?>
														            			<input type="hidden" name="pooling_thu" value="<?php echo $this->pooling_thu; ?>">
														            		</td>
														            		<?php } ?>
														            		<?php if(!empty($this->pooling_fry_view)){ ?>
														            		<td align="center" id="fry">
														            			<?php echo $this->pooling_fry_view; ?>
														            			<input type="hidden" name="pooling_fry" value="<?php echo $this->pooling_fry; ?>">
														            		</td>
														            		<?php } ?>
														            		<?php if(!empty($this->pooling_sat_view)){ ?>
														            		<td align="center" id="sat">
														            			<?php echo $this->pooling_sat_view; ?>
														            			<input type="hidden" name="pooling_sat" value="<?php echo $this->pooling_sat; ?>">
														            		</td>
														            		<?php } ?>
														            	</tr>
														            </tbody>
														        </table>
														    </div>
														    </div>
														 </div>
												      <div class="modal-footer">
												        <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
												      </div>
												    </div>
												  </div>
										  		</div>

										  	<?php } ?>

											</div>
										</div>
								<?php } ?>

								<?php if($this->sourceType != 2){ ?>
									<div class="form-group row pt-2">
										<div class="col-sm-4">
											<label for=""><?php echo $this->language->_('Message'); ?></label>
										</div>
										<div class="col-sm-1 p-0">
											<label for=""><?php echo $this->language->_(': '); ?></label>
										</div>
										<div class="col-sm-7">
											<?php 
												echo $this->message;
											 ?>
	                                        <?php echo $this->formHidden('TRA_MESSAGE',$this->message); ?>
										</div>
									</div>
								<?php } ?>
							</div>

					</div>
			</div>

			<div class="col-md-5">
					<div class="portlet light form-fit bordered">

								<?php 
									echo $this->formHidden('ta_sel',$this->sweepOption);
									echo $this->formHidden('tranferdatetype',$this->trfDateType);
									echo $this->formHidden('repetition',$this->repetition);
									echo $this->formHidden('repeat_every',$this->repeatEvery);
									echo $this->formHidden('report_day',$this->repeatOn);
								?>

								<!-- immediate -->
								
									
								<!-- future date -->
								<?php if ($this->trfDateType == 2) { ?>

									<h6><b><?=$this->language->_('Future Date')?></b></h6>
									<hr>

									<div class="form-group row pt-2">
										<div class="col-sm-4">
											<label for=""><?php echo $this->language->_('Chosen Date'); ?></label>
										</div>
										<div class="col-sm-1 p-0">
											<label for=""><?php echo $this->language->_(': '); ?></label>
										</div>
										<div class="col-sm-7">
											<?php 
												$efDate = DateTime::createFromFormat('d/m/Y', $this->efDate);
												echo $efDate->format('d-M-Y');
											 ?>
	                                        <?php echo $this->formHidden('PS_FUTUREDATE',$this->efDate); ?>
										</div>
									</div>

									<div class="form-group row pt-2">
										<div class="col-sm-4">
											<label for=""><?php echo $this->language->_('Time'); ?></label>
										</div>
										<div class="col-sm-1 p-0">
											<label for=""><?php echo $this->language->_(': '); ?></label>
										</div>
										<div class="col-sm-7">
											<?php 
												// if ($this->session == 1) {
												// 	echo $this->language->_(' Morning (06:00 - 08:00)');
												// }
												// else if($this->session == 2){
												// 	echo $this->language->_(' Evening (12:00 - 14:00)');
												// }
												// else if($this->session == 3){
												// 	echo $this->language->_(' Night (17:00 - 19:00)');
												// }
												echo $this->PS_EFTIMEF;
											 ?>
	                                        <?php echo $this->formHidden('PS_EFTIMEF',$this->PS_EFTIMEF); ?>
										</div>
									</div>

								<!-- periodic -->
								<?php } else if ($this->trfDateType == 3) { ?>

									<h6><b><?=$this->language->_('Periodic')?> </b></h6>
									<hr>

									<div class="form-group row pt-2">
										<div class="col-sm-4">
											<label for=""><?php echo $this->language->_('Repeat Every'); ?></label>
										</div>
										<div class="col-sm-1 p-0">
											<label for=""><?php echo $this->language->_(': '); ?></label>
										</div>
										<div class="col-sm-7">
											<?php 
												if ($this->repetition == 1) {
													echo $this->language->_('Daily');
												}
												else if($this->repetition == 2){
													echo $this->language->_('Week');
												}
												else if($this->repetition == 3){
													echo $this->language->_('Month');
												}
											 ?>
										</div>
									</div>

									<?php if ($this->repetition == 3) { ?>

										
											<div class="col-sm-4">
												<label for=""><?php echo $this->language->_('Repeat On'); ?></label>
											</div>
											<div class="col-sm-1 p-0">
												<label for=""><?php echo $this->language->_(': '); ?></label>
											</div>
											<div class="col-sm-7">
												<?php 
													if($this->repetition == 2){
														$i=1;
														foreach ($this->repeatOn as $key => $value) {
															if ($i == count($this->repeatOn)) {
																echo $value;
															}
															else{
																echo $value.', ';
															}
															$i++;
														}
													}
													else if($this->repetition == 3){
														echo $this->repeatEvery;
														// $repeatOn = DateTime::createFromFormat('d/m/Y', $this->repeatOn);
														// echo $repeatOn->format('d-M-Y');
													}
												 ?>
											</div>
										</div>

									<?php } ?>

									<?php if($this->repetition != 3){ ?>

										<div class="form-group row pt-2">
											<div class="col-sm-4">
												<label for=""><?php echo $this->language->_('Repeat On'); ?></label>
											</div>
											<div class="col-sm-1 p-0">
												<label for=""><?php echo $this->language->_(': '); ?></label>
											</div>
											<div class="col-sm-7"></div>
										</div>
										<div class="form-group pt-2 repeatonday" >
					                         <div class="input-group">
					                         	<?php foreach ($this->repeat_day as $key => $value) {

					                         		${'day'.$value} = 'checked';
					                         		// echo $value;
					                         	} ?>
					                            <div class="roundChk">
					                              <input type="checkbox" id="checkbox6"  value="0" <?php  echo $day0; ?> name="report_daytemp[]" disabled="true" />
					                              <label for="checkbox6">S</label>
					                              <?php if($day0){ ?>
					                              	<input type="hidden" name="report_day[]" value="0"> 
					                          		<?php } ?>
					                            </div>
					                            <div class="roundChk">
					                              <input type="checkbox" id="checkbox" value="1" <?php  echo $day1; ?> name="report_daytemp[]" disabled="true" />
					                              <label for="checkbox">M</label>
					                              <?php if($day1){ ?>
					                              	<input type="hidden" name="report_day[]" value="1"> 
					                          		<?php } ?>
					                            </div>
					                            <div class="roundChk">
					                              <input type="checkbox" id="checkbox1" value="2" <?php  echo $day2; ?> name="report_daytemp[]" disabled="true" />
					                              <label for="checkbox1">T</label>
					                              <?php if($day2){ ?>
					                              	<input type="hidden" name="report_day[]" value="2"> 
					                          		<?php } ?>
					                            </div>
					                            <div class="roundChk">
					                              <input type="checkbox" id="checkbox2" value="3" <?php  echo $day3; ?> name="report_daytemp[]" disabled="true" />
					                              <label for="checkbox2">W</label>
					                              <?php if($day3){ ?>
					                              	<input type="hidden" name="report_day[]" value="3"> 
					                          		<?php } ?>
					                            </div>
					                            <div class="roundChk">
					                              <input type="checkbox" id="checkbox3" value="4" <?php  echo $day4; ?> name="report_daytemp[]" disabled="true" />
					                              <label for="checkbox3">T</label>
					                              <?php if($day4){ ?>
					                              	<input type="hidden" name="report_day[]" value="4"> 
					                          		<?php } ?>
					                            </div>
					                            <div class="roundChk">
					                              <input type="checkbox" id="checkbox4" value="5" <?php  echo $day5; ?> name="report_daytemp[]" disabled="true" />
					                              <label for="checkbox4">F</label>
					                              <?php if($day5){ ?>
					                              	<input type="hidden" name="report_day[]" value="5"> 
					                          		<?php } ?>
					                            </div>
					                            <div class="roundChk">
					                              <input type="checkbox" id="checkbox5" value="6" <?php  echo $day6; ?> name="report_daytemp[]" disabled="true" />
					                              <label for="checkbox5">S</label>
					                              <?php if($day6){ ?>
					                              	<input type="hidden" name="report_day[]" value="6"> 
					                          		<?php } ?>
					                            </div>
					                         </div>

					                          <br>
						               	</div>
						               <?php } ?>
						             <div class="form-group row pt-2">
										<div class="col-sm-4">
											<label for=""><?php echo $this->language->_('Start Date'); ?></label>
										</div>
										<div class="col-sm-1 p-0">
											<label for=""><?php echo $this->language->_(': '); ?></label>
										</div>
										<div class="col-sm-7">
											<?php //var_dump($this->efDate);
												$efDate = DateTime::createFromFormat('d/m/Y', $this->efDate);
												echo $efDate->format('d-M-Y');
											 ?>
	                                        <?php echo $this->formHidden('PS_STARTDATEPERIODIC',$this->efDate); ?>
										</div>
									</div>

									<div class="form-group row pt-2">
										<div class="col-sm-4">
											<label for=""><?php echo $this->language->_('End Date'); ?></label>
										</div>
										<div class="col-sm-1 p-0">
											<label for=""><?php echo $this->language->_(': '); ?></label>
										</div>
										<div class="col-sm-7">
											<?php 
												$endDate = DateTime::createFromFormat('d/m/Y', $this->endDate);
												echo $endDate->format('d-M-Y');
											 ?>
	                                        <?php echo $this->formHidden('PS_ENDDATEPERIODIC',$this->endDate); ?>
										</div>
									</div>

									<div class="form-group row pt-2">
										<div class="col-sm-4">
											<label for=""><?php echo $this->language->_('Session'); ?></label>
										</div>
										<div class="col-sm-1 p-0">
											<label for=""><?php echo $this->language->_(': '); ?></label>
										</div>
										<div class="col-sm-7">
											<?php 
												
	                                        echo $this->PS_EFTIMEP;
											 ?>
	                                        <?php echo $this->formHidden('PS_EFTIMEP',$this->PS_EFTIMEP); ?>
										</div>
									</div>

								<?php } ?>
					</div>
					
					<h6><b><?=$this->language->_('Sweep Conditions')?></b></h6>
					<hr>

					<div class="form-group row pt-2" >
						<div class="col-sm-4">
							<label for=""><?php echo $this->language->_('Minimum Transfer Amount'); ?></label>
						</div>
						<div class="col-sm-1 p-0">
							<label for=""><?php echo $this->language->_(': '); ?></label>
						</div> 
						<div class="col-sm-7">
							<?php 
								 echo 'IDR '.$this->TRA_MIN_AMOUNT.$this->formHidden("TRA_MIN_AMOUNT", $this->TRA_MIN_AMOUNT, array('id' => "TRA_MIN_AMOUNT"));
								
							 ?>

							
						</div>
					</div>
					
					<?php if($this->sourceType != 2){ ?>
					

					<div class="form-group row pt-2" style="display:none">
						<div class="col-sm-4">
							<label for=""><?php echo $this->language->_('Notification'); ?></label>
						</div>
						<div class="col-sm-1 p-0">
							<label for=""><?php echo $this->language->_(': '); ?></label>
						</div>
						<div class="col-sm-7">
							<?php 
								if ($this->notif == 1) {
									echo $this->language->_('Off');
								}
								else{
									echo $this->language->_('On');
								}
								
							 ?>

							 <?php echo $this->formHidden('notif',$this->notif); ?>
						</div>
					</div>

					<?php if($this->notif == 2) { ?>
						
						<div class="form-group row pt-2" style="display:none">
							<div class="col-sm-4">
								<label for=""><?php echo $this->language->_('Email'); ?></label>
							</div>
							<div class="col-sm-1 p-0">
								<label for=""><?php echo $this->language->_(': '); ?></label>
							</div>
							<div class="col-sm-7">
								<?php 
									echo $this->email_notif;
								?>
								<?php echo $this->formHidden('email_notif',$this->email_notif); ?>
							</div>
						</div>

						<div class="form-group row pt-2" style="display:none">
							<div class="col-sm-4">
								<label for=""><?php echo $this->language->_('Sms'); ?></label>
							</div>
							<div class="col-sm-1 p-0">
								<label for=""><?php echo $this->language->_(': '); ?></label>
							</div>
							<div class="col-sm-7">
								<?php 
									echo $this->sms_notif;
								?>
								<?php echo $this->formHidden('sms_notif',$this->sms_notif); ?>
							</div>
						</div>

					<?php } } ?>

			</div>
</div>


	<div class="input-group col-md-12" align="center" >
		<center style="width: 100%;">
		<input type="submit" name="back" value="<?php echo $this->language->_('Back');?>" class="btnwhite hov"/>

		<?php //if(!$this->error){ ?>

			<?php if ($this->token) { ?>
				 <div class="modal fade" id="tokenmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				        <div class="modal-dialog" role="document">
				          <div class="modal-content">
				            <div class="modal-header text-center">
				              <h4 class="modal-title w-100 font-weight-bold" style="margin-left: 25px;">Google Auth Verify</h4>
				              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                <span aria-hidden="true">&times;</span>
				              </button>
				            </div>
				            <div class="modal-body mx-3">
							<div class="errmsg"><?php
                                                          if ($this->token) {
                                                            echo $this->report_msg;
                                                          }
                                                          ?></div>
				              <div class="col-md-12" align="center">
				                <table width="100%">
				                  <tbody>
				                    <!-- <tr><td align="center"><h5 style="color: #006520;"><?php echo $this->language->_('Release on behalf of'); ?>:</h5></td></tr>
				                      <tr><td align="center" style="padding-bottom: 2em;"><b><?= $this->userOnBehalf; ?></b></td></tr>
				                        <input name="userOnBehalf" value="<?= $this->userOnBehalf ?>" type="hidden">
				 -->
				                    <!-- <tr><td><?php echo $this->language->_('Challenge Code'); ?>:</td></tr>
				                      <tr><td style="padding-bottom: 2em;"><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>

				                      <tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 2'); ?>:</td></tr> -->
				                    <tr>
				                      <td align="center">
				                        <div class="input-group">
				                        	<center style="width: 100%">
				                          <input class="tokeninput" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
				                          <input class="tokeninput" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
				                          <input class="tokeninput" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
				                          <input class="tokeninput" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
				                          <input class="tokeninput" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
				                          <input class="tokeninput" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
				                      		</center>
				                        </div>
				                      </td>
				                    </tr>
				                  </tbody>
				                </table>

				                <?php if ($this->tokenError) { ?>
				                  <h6 class="text-danger mt-4"><?php echo $this->language->_($this->error_msg); ?></h6>
				                <?php } ?>

				              </div>
				            </div>
				            <div class="modal-footer d-flex justify-content-center">
				              <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
				              <?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
				            </div>
				          </div>
				        </div>
				      </div>
            <!-- <button class="btngreen hov"  type="button" data-toggle="modal" data-target="#tokenmodal">&nbsp;<?php echo $this->language->_('Next'); ?></button> -->
			<?php if($this->result){
				  }else{ ?>
            <button class="btngreen hov" type="button" data-toggle="modal" data-target="#tokenmodal">&nbsp;<?php echo $this->language->_('Submit'); ?></button>
			<?php }
		  } else { ?>
            <?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
          <?php } ?>

			<?php //echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
		<?php// } ?>
		</center>
	</div>
	</form>
</div>
