<!-- PHP VAR -->
<?php
$mandatory = ($this->confirmPage != 1) ? "<strong class='formreq' style='color:red;'>&nbsp;*</strong>" : "";
?>
<!-- PHP VAR -->

<!-- JAVASCRIPT -->

<script type="text/javascript">
function numberWithCommas(x,id) {
   const formattermoney = new Intl.NumberFormat('ID', {
      minimumFractionDigits: 0
    });
    var tag = '#'+id;
      // $(nams).text(formattermoney.format(obj[k].BALANCE));
    var x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
     $(tag).val(x);
  //return 
}
	$(document).ready(function() {





		// if (vals) vals = vals.substring(1);
		// console.log(vals);

		$("input[class=checkboxday]").on('click', function() {

			var selectRepeatevery = $('#selectRepeatevery').val();

			if (selectRepeatevery == 1) {
				var checkboxes = document.getElementsByName('report_day[]');
				var vals = "";
				var numb = 0;
				var colomn = "";
				var colomnall = "";
				var dayarr = ['sun', 'mon', 'tue', 'wed', 'thu', 'fry', 'sat'];
				// alert(dayarr[2]);
				var str = "";
				for (var i = 0, n = checkboxes.length; i < n; i++) {
					colomn = dayarr[i];
					var day = '#' + colomn;
					var head = '#head_' + colomn;
					var allo = '#allo_' + colomn;
					var heads = '#heads_' + colomn;
					// console.log(day);
					$(day).hide();
					$(head).hide();
					$(allo).hide();
					$(heads).hide();
					if (checkboxes[i].checked) {
						colomn = dayarr[checkboxes[i].value];
						// console.log(colomn);
						colomnall = colomnall + ',' + colomn;


						var day = '#' + colomn;
						var head = '#head_' + colomn;
						var allo = '#allo_' + colomn;
						var heads = '#heads_' + colomn;
						$(day).show();
						$(head).show();
						$(allo).show();
						$(heads).show();
						// alert(colomn);
						numb++;
					} else {

						// colomn = dayarr[$(this).val()];
						// str = ','+colomn;
						// alert(str);

						// colomnall = colomnall.replace("Microsoft", "W3Schools");
						numb--;
					}
				}

				console.log(numb);

				if (numb >= -4) {
					$('#ta_sel2config').show();
					$('#maintainbalance').val('');
					$('#maintainbalance').prop('disabled',true);
				} else {
					$('#ta_sel2config').hide();
					$('#maintainbalance').prop('disabled',false);
				}
			}
			// alert(numb);
		}); 


		$("input[type=checkbox]").on('click', function() {
			// alert();

			// var radioValue = $("input[name='tranferdatetype']:checked").val();
			// alert(radioValue);
			var e = document.getElementById("selectRepeatevery");
			var select = e.options[e.selectedIndex].value;
			// alert(select);
			// in the handler, 'this' refers to the box clicked on
			if (select == 2) {
				var $boxw = $(this);
				if ($boxw.is(":checked")) {
					// the name of the box is retrieved using the .attr() method
					// as it is assumed and expected to be immutable
					var groupw = "input:checkbox[name='" + $boxw.attr("name") + "']";
					// the checked state of the group/box on the other hand will change
					// and the current value is retrieved using .prop() method
					// alert();
					// console.log(groupw);
					$(groupw).prop("checked", false);
					$boxw.prop("checked", true);
				} else {
					alert();
					$boxw.prop("checked", false);
				}
			}

		});

		$("input[class='checkboxday'][type=checkbox]").on('click', function() {
			// alert();
			// in the handler, 'this' refers to the box clicked on
			var $box = $(this);
			if ($box.is(":checked")) {
				// the name of the box is retrieved using the .attr() method
				// as it is assumed and expected to be immutable
				// var group = "input:checkbox[name='" + $box.attr("name") + "']";
				// the checked state of the group/box on the other hand will change
				// and the current value is retrieved using .prop() method
				// $(group).prop("checked", false);
				$box.prop("checked", true);
				// alert();
			} else {
				// alert();
				$box.prop("checked", false);
			}
		});



		$('#chooseFile').bind('change', function() {
			var filename = $("#chooseFile").val();
			if (/^\s*$/.test(filename)) {
				$(".file-upload").removeClass('active');
				$("#noFile").text("No file chosen...");
			} else {
				$(".file-upload").addClass('active');
				$("#noFile").text(filename.replace("C:\\fakepath\\", ""));
			}

			// var fileNameSplit = filename.split('.');
			// console.log(fileNameSplit[1])
		});


		$('#chooseFilebene').bind('change', function() {
			var filename = $("#chooseFilebene").val();
			if (/^\s*$/.test(filename)) {
				$(".file-uploadbene").removeClass('active');
				$("#noFilebene").text("No file chosen...");
			} else {
				$(".file-uploadbene").addClass('active');
				$("#noFilebene").text(filename.replace("C:\\fakepath\\", ""));
			}

			// var fileNameSplit = filename.split('.');
			// console.log(fileNameSplit[1])
		});


		var traType = $("input[name='tranferdatetype']:checked").val();
		if (traType == 1) {
			// $('#immediate').show();
			$('#future').hide();
			$('#periodic').hide();
			$('#ta_sel2config').hide();
			$('.repeatonday').show();


		} else if (traType == 2) {
			// $('#immediate').hide();
			$('#future').show();
			$('#periodic').hide();
			$('#ta_sel2config').hide();
			$('.repeatonmonthly').hide();
		} else if (traType == 3) {
			// $('#immediate').hide();
			$('#future').hide();
			$('#periodic').show();
			$('.repeatonmonthly').hide();
			$('#ta_sel2config').hide();
			$('.repeatonday').show();
		}

		$('input[type=radio][name=tranferdatetype]').change(function() {
			if (this.value == 1) {
				// $('#immediate').show();
				$('#future').hide();
				$('#periodic').hide();
				$('#ta_sel2config').hide();
				$('.repeatonmonthly').hide();
			} else if (this.value == 2) {
				// $('#immediate').hide();
				$('#future').show();
				$('#periodic').hide();
				$('#ta_sel2config').hide();
				$('.repeatonmonthly').hide();
				var datefuture = $('#PS_FUTUREDATE').val();
				$('#PS_EFDATE').val(datefuture);
				$('.repeatonday').hide();

				$('#maintainbalance').prop('disabled',false);
			} else if (this.value == 3) {
				// $('#immediate').hide();
				$('#future').hide();
				$('#ta_sel2config').hide();
				$('#periodic').show();
				$('.repeatonmonthly').hide();
				$('.repeatonday').show();

				$('#selectRepeatevery').val(1);
				$("input[type='checkbox']").prop("class", 'checkboxday');
				allRepeatOnchecked();
			}
		});

		$('input[type=radio][name=notif]').change(function() {
			// if (this.value == 1) {
			//     $('.notif').hide();
			// }
			// else if (this.value == 2) {

			//     $('.notif').show();
			// }

			var nonotif = document.getElementById("notif_left");

			if (nonotif.checked == true) {
				// alert();
				// document.getElementById('ACCTSRC').value =
				$('.notif').hide();
				/*document.getElementsByClassName('notif').value = "1";*/
			} else {
				$('.notif').show();
				/*document.getElementsByClassName('notif').value = "2";*/
			}

		});


		$('#selectRepeatevery').change(function() {
			// alert($(this).val());
			if ($(this).val() == 1) {
				$('.repeatonday').show();
				$('.repeatevery').hide();
				$('.repeatonmonthly').hide();

				$('.repeatonweekly').show();
				$("input[type='checkbox']").prop("class", 'checkboxday');
				$('#ta_sel2config').hide();
				allRepeatOnchecked();
				// ('.repeatonmonthly').hide();
			} else if ($(this).val() == 2) {
				// document.getElementsByClassName("checkboxday").className = "checkboxweek";
				// alert();
				$("input[type='checkbox']").prop("class", 'checkboxweek');
				$("input[type=checkbox]").prop("checked", false);
				// document.getElementsByClassName('checkboxday').classList.remove('checkboxday');
				$('.repeatonday').show();
				$('.repeatonmonthly').hide();
				$('.repeatevery').show();
				$('.repeatonweekly').show();
				$('.repeatonmonthly').hide();
				$('#ta_sel2config').hide();

				$('#maintainbalance').prop('disabled',false);
			} else {

				$('.repeatonday').hide();
				$('.repeatevery').show();
				$("input[type='checkbox']").prop("class", 'checkboxday');
				$('.repeatonweekly').hide();
				$('.repeatonmonthly').show();
				$('#ta_sel2config').hide();

				$('#maintainbalance').prop('disabled',false);
			}
		});

	});

	function allRepeatOnchecked() {
		var dayarr = ['sun', 'mon', 'tue', 'wed', 'thu', 'fry', 'sat'];
		$("input[class='checkboxday'][type=checkbox]").prop("checked", true);
		$('#ta_sel2config').show();
		dayarr.forEach(element => {
			var day = '#' + element;
			var head = '#head_' + element;
			var allo = '#allo_' + element;
			var heads = '#heads_' + element;
			$(day).show();
			$(head).show();
			$(allo).show();
			$(heads).show();
		});
		$('#maintainbalance').val('');
		$('#maintainbalance').prop('disabled',true);
	}

	function showAccountBeneficiary(pagesource) {
		var win = null;
		var w = 800,
			h = 400;

		if (win && !win.close()) {
			win.close();
		}

		LeftPosition = (screen.width) ? (screen.width - w) / 2 : 100;
		TopPosition = (screen.height) ? (screen.height - h) / 2 : 100;

		settings = 'width=800,height=400,top=' + TopPosition + ',left=' + LeftPosition + ',scrollbars=1,location=no,directories=no,status=no,menubar=no,toolbar=no,resizable=no';
		win = window.open("../popup/" + pagesource, 'sgo_popup_window', settings);
		win.focus();
	}


	function sweepswitch() {
		var e = document.getElementById("ACCTSRC");
		var strUser = e.options[e.selectedIndex].value;

		var e1 = document.getElementById("ACBENEF");
		var strUser1 = e1.options[e1.selectedIndex].value;

		e.value = strUser1;
		e1.value = strUser;



	}

	function clearTrfForm($val) {
		//$source = "source"+$val;
		$source = "source[" + $val + "]";
		$paymentmessage = "paymentmessage" + $val;
		$paymentaddmessage = "paymentaddmessage" + $val;
		$remainbalance = "remainbalance" + $val;

		document.getElementById($source).selectedIndex = 0;
		document.getElementById($paymentmessage).value = '';
		document.getElementById($paymentaddmessage).value = '';
		document.getElementById($remainbalance).value = '';
	}

	function cekPeriodicEvery() {
		$("#PeriodicEvery").attr('checked', 'checked')

	}

	function cekPeriodicEveryDate() {
		$("#PeriodicEveryDate").attr('checked', 'checked')
	}

	function cekFixedAmount() {
		$('.percentView').hide();
		for ($a = 0; $a < 5; $a++) {
			$remainbalance = "remainbalance" + $a;
			document.getElementById($remainbalance).maxLength = '20';
			document.getElementById($remainbalance).value = '';
		}
		//document.getElementById('remainbalance0').maxLength	='20';
		//document.getElementById('percent1').style.visibility='hidden';
	}

	function cekPercentage() {
		$('.percentView').show();
		for ($a = 0; $a < 5; $a++) {
			$remainbalance = "remainbalance" + $a;
			document.getElementById($remainbalance).maxLength = '5';
			document.getElementById($remainbalance).value = '';
		}
		//document.getElementById('remainbalance0').maxLength	='3';
	}

	function selectChange(type) {
		//if sweep from
		if (type == 1) {
			var ACCTSRC = $("#ACCTSRC option:selected").html();
			$('#sourceName').val(ACCTSRC);
		} else {
			var ACBENEF = $("#ACBENEF option:selected").html();
			$('#benefName').val(ACBENEF);
		}
	}

	function modalmoredetail(){
		$("#myModalMoreDetail").modal();
	}

	function setBank(selected) {
		var bankCode = $(selected).val();

		$.ajax({
			url: "<?= $this->url(array('module' => 'opensweep', 'controller' => 'index', 'action' => 'accountlist'), null, true) ?>",
			type: 'GET',
			dataType: "html",
			data: {
				bankCode: bankCode
			},
			success: function(data) {

				var arrData = JSON.parse(data);
				
				var source = "<?php echo $this->ACCTSRC ?>";
				var benef = "<?php echo $this->ACBENEF ?>";

				var sourceHtml = "<option value=''>-- Select Source Account --</option>";
				$.each( arrData, function( key, value ) {

				  var selected = '';
				  if (value.ACCT_NO == source) {
				  	selected = 'selected';
				  }

				  sourceHtml += "<option value = '"+value.ACCT_NO+"' "+selected+">";

				  if (value.ACCT_ALIAS != '') {
				  	sourceHtml += value.ACCT_NO + " (IDR) - " + value.ACCT_ALIAS + "</option>";
				  }
				  else{
				  	sourceHtml += value.ACCT_NO + " (IDR) </option>";
				  }

				});

				var benefHtml = "<option value=''>-- Select Destination Account --</option>";
				$.each( arrData, function( key, value ) {

				  var selected = '';
				  if (value.ACCT_NO == benef) {
				  	selected = 'selected';
				  }

				  benefHtml += "<option value = '"+value.ACCT_NO+"' "+selected+">";

				  if (value.ACCT_ALIAS != '') {
				  	benefHtml += value.ACCT_NO + " (IDR) - " + value.ACCT_ALIAS + "</option>";
				  }
				  else{
				  	benefHtml += value.ACCT_NO + " (IDR) </option>";
				  }

				});

				$('#ACCTSRC').html(sourceHtml);
				$('#ACBENEF').html(benefHtml);
			
			},
			error: function(xhr, ajaxOptions, thrownError) {
				console.log(xhr);
				console.log(thrownError);
				alert("Failed to get data, please try again");
			}
		});
	}
</script>

<script type="text/javascript">
	<!--
	// SWEEP MODULES
	$(document).ready(function() {

		console.log('masuk1');

		var php_var = "<?php echo $this->REMAIN_BALANCE_TYPE; ?>";

		if (php_var == 2) {
			$(".percentView").show();
			for ($a = 0; $a < 5; $a++) {
				$remainbalance = "remainbalance" + $a;
				document.getElementById($remainbalance).maxLength = '5';

			}
		} else {
			$(".percentView").hide();
			for ($a = 0; $a < 5; $a++) {
				$remainbalance = "remainbalance" + $a;
				// document.getElementById($remainbalance).maxLength = '20';

			}
		}



		/*list account select */
		$(".target").change(function() {

			$('.source option').show();
			var selected = this.value;

			//hide some value
			$('.source option[value="' + selected + '"]').hide();


			//reset
			$('.source').attr("selectedIndex", 0);


		});

		/*list dayname */
		$(".dayname").change(function() {

			$('.day').attr("selectedIndex", 0);

		});

		/*list day */
		$(".day").change(function() {

			$('.dayname').attr("selectedIndex", 0);

		});
		console.log('masuk2');
	});
	-->

	
</script>
<!-- JAVASCRIPT -->
<!-------------------------------------------------------------------------------------------------------- start of verifyPage == 0 -->
<?php //Zend_Debug::dump($this->verifyPage, 'verify :');

?>

	<?php //Zend_Debug::dump($sourceAcc); 
	?>

	<div class="row">
		<div class="col-md-12">
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<span><?php echo $this->language->_('Open Transfer'); ?></span>
						<i class="fa fa-angle-right pl-1 pr-1"></i>
					</li>
					<li>
						<span class="valas"><?php echo $this->language->_('Pooling Same Bank'); ?></span>
					</li>
				</ul>
			</div>
		</div>
	</div>



	<?php if ($this->error) { ?>
		<div class="alert alert-danger">
			<?php foreach ($this->error_msg as $key => $value) { ?>
				<li><?php echo $this->language->_($value); ?></li>
			<?php } ?>
		</div>
	<?php } ?>


	<form name="payment" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="post" enctype="multipart/form-data">
		<?php echo $this->formHidden('randomTransact', $this->randomTransact, array('maxlength' => '128', 'size' => '40', 'readOnly' => true)); ?>

		<?php echo $this->formHidden('confirmPage', false); ?>

		<div class="row">


			<div class="col-md-7">
				<div class="portlet light form-fit bordered">

					<div class="form-group row pt-2">

						<div class="col-md-12">
							<h4>Sweep Transfer</h4>
							<p>Sweep transfer between company account</p>


						</div>
					</div>



					<div class="form-group row pt-2">
						<div class="col-sm-4">
							<label for=""><?php echo $this->language->_('Payment Ref'); ?></label>
						</div>
						<div class="col-sm-8">
							<?php
							echo $this->language->_('auto generate');
							echo $this->formHidden('teamplate_reff', $this->paymentreff);
							?>
						</div>
					</div>
					<div class="form-group row pt-2">
						<div class="col-sm-4">
							<label for=""><?php echo $this->language->_('Payment Subject'); ?></label>
						</div>
						<div class="col-sm-8">
							<?php
							// var_dump($this->paymentsubject);die;
							echo $this->formText('paymentsubject', $this->paymentsubject, array('size' => 40, 'class' => 'form-control'));
							?>
						</div>
					</div>

					<div class="form-group row pt-2">
						<div class="col-sm-4">
							<label for=""><?php echo $this->language->_('Bank'); ?><?= $mandatory ?></label>
						</div>
						<div class="col-sm-8">
							<?php
							// echo $this->formApp("SELECT_ACCTSRCOPENBANK", $this->listBeneficiary, $this->ACCTSRC, "ACCTSRC", 'onChange="selectChange(1)"');
							//		echo $this->formSelect('ACCT_BANK',$this->ACCT_BANK,array('id'=>'ACCT_BANK','class'=>'form-control'), $this->BankArr);

							// echo $this->formHidden('sourceName',$this->sourceName);
							?>
							<select class="form-control" name="ACCT_BANK" id="ACCT_BANK" onchange="setBank(this)">
								<option value="">Select Bank</option>
								<?php
								$selected = '';
								foreach ($this->BankArr as $key => $value) {
									if ($this->ACCT_BANK == $value['BANK_CODE']) {
										$selected = 'selected';
									} else {
										$selected = '';
									}

								?>
									<option value="<?php echo $value['BANK_CODE']; ?>" <?php echo $selected ?>><?php echo $value['BANK_NAME']; ?></option>
								<?php
								}
								?>

							</select>
							<script>
								// jalankan function setBank
								setBank("#ACCT_BANK");
							</script>
						</div>
					</div>

					<!-- <div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for=""><?php echo $this->language->_('Account A'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
							</div>
							<div class="col-sm-9">
							 	<?php
									echo $this->formApp("SELECT_ACCTSRC", $this->listBeneficiary, $this->ACCTSRC, "ACCTSRC");
									?>
							</div>
						</div>

						<div class="form-group row pt-2">
							<div class="col-sm-3">
								<label for=""><?php echo $this->language->_('Account B'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
							</div>
							<div class="col-sm-9">
							 	<?php
									echo $this->formApp("SELECT_ACCTSRCSWEEP", $this->listBeneficiary, $this->ACBENEF, "ACBENEF");
									?>
							</div>
						</div> -->

					<?php echo $this->formHidden('sourceType', $this->sourceType); ?>

					<div class="form-group row pt-4 pr-3 pl-3">
						<div class="col-sm-6 content-box">
							<div class="row">
								<div class="col-sm-9">
									<h4>Sweep from</h4>
								</div>
								<div class="col-sm-3" align="right">
									<button class="btn-sm hov" onClick="hideUpload()" id="singleSourceBtn" target="Sweep from many account" title="Sweep from one account" style="width: 40px;
                                        height: 40px;
                                        background-image: linear-gradient(#ffffff,#ffffff);
                                        border-radius: 100%; border-style: double;" type="button" data-toggle="modal" data-target="#myModal"><i class="fa fa-file-alt"></i></button>

									<button class="btn-sm hov" onClick="showUpload()" id="uploadFileBtn" title="Import Account" style="width: 40px;
						                                        height: 40px;
						                                        background-image: linear-gradient(#ffffff,#ffffff);
						                                        border-radius: 100%; border-style: double;" type="button"> <i style="color:black" class="fa fa-copy" aria-hidden="true"></i> </button>
								</div>

							</div>
							<br />
							<div class="row" id="singleSourceDiv">
								<div class="col-sm-10">

									<?php
									echo $this->formApp("SELECT_ACCTSRCOPENBANKSWEEP", $this->listBeneficiary, $this->ACCTSRC, "ACCTSRC", 'onChange="selectChange(1)"');

									echo $this->formHidden('sourceName', $this->sourceName);
									echo $this->formHidden('accteopen', $this->accteopen);
									echo $this->formHidden('beneeopen', $this->beneeopen);
									?>
								</div>
								<div class="col-sm-2">

								</div>
							</div>

							<?php
	                            $ns = new Zend_Session_Namespace('language');
	                            $sessionLanguage = $ns->langCode;
	                            if($sessionLanguage == 'id'){
	                              $file = '/template/Template_Cash Pooling_v1.2.5.xlsx';
	                            }
	                            else{
	                              $file = '/template/Template_Cash Pooling_v1.2.5.xlsx';
	                            }
	                          ?>

							<div class="row" id="uploadFileDiv">
								<div class="col-sm-10">
									<div class="form-group row ">
										<div class="col-md-12">
											<div class="file-upload">
												<div class="file-select">
													<div class="file-select-button" id="fileName">Choose File</div>
													<div class="file-select-name" id="noFile"><?php echo $this->language->_('Upload Your File Here...'); ?></div>
													<input type="file" name="uploadSource" id="chooseFile">
												</div>
											</div>
										</div>
										<div class="col-md-12" align="left">
										  <a href="<?php echo $file?>">Download Template  </a>&nbsp; <a href="#" style="font-size:20px;"></a>
									  </div>
									</div>
								</div>
								<div class="col-sm-2">

								</div>
							</div>
							<div class="row" style="display: none;">
								<div class="col-sm-7 float-right pt-1">
									<a href="#" onClick="showUpload()"><?php echo $this->language->_('Upload File'); ?></a>
								</div>
								<div class="col-sm-5">
								</div>
							</div>
							<div class="row" style="display: none;">
								<div class="col-sm-9 float-right pt-1">
									<a href="#" onClick="hideUpload()"><?php echo $this->language->_('Single Source Acct'); ?></a>
								</div>
								<div class="col-sm-3">
								</div>
							</div>
							<br />
							<div class="row" id="addFileidDiv">

								<div class="col-sm-10">
									<div class="form-group row ">
										<div class="col-md-12">
											<h6 class="homeCardText"><?php echo $this->language->_('File ID'); ?></h6>
											<?php
											echo $this->formText('FILE_ID', $this->FILE_ID, array('id' => 'FILE_ID', 'class' => 'form-control'));
											// echo $this->formHidden('sourceName',$this->sourceName);
											?>
											<small id="emailHelp" class="form-text text-muted" style="font-size: 100%!important">
												 <label class="homeCardText"><?= $mandatory ?><a href="#" onClick="typepass();"><?php echo $this->language->_('Click here'); ?></a>&nbsp;<?php echo $this->language->_('to bypass id validation'); ?></label>
											</small>
										</div>
									</div>
								</div>



								<div class="col-sm-2">

								</div>
							</div>

							<div id="spacefrom" style="height: 22px;"></div>

							<!-- <div class="row"> -->
							<input name="ta_sel" id="ta_sel" value="1" type="radio" checked>
							<?php echo $this->language->_('Remains Balance'); ?>
							<!-- </div> -->
							<div class="row" id="remainbalanceinp">
								<div class="col-sm-1" ID="remainbalanceccy">
									<?php
									// $optArr = array(
									// 	'1' => 'IDR',
									// 	'2' => '%'
									// );

									// echo $this->formApp("NORMAL",$optArr, $this->remainBalanceType, "rem_per");

									?>
									IDR
								</div>
								<div class="col-sm-8">
									<?php echo $this->formText('remainbalance', $this->remainsBalance, array('id' => 'remainbalance', 'class' => 'form-control', 'size' => 20, 'maxlength' => 20, 'autocomplete' => 'off', "style" => "text-align: right;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);setTrfType(this.value);", 'onkeypress' => "return forceNumber(event);"));
									?>

								</div>
								<div class="col-sm-2">
								</div>

							</div>
						</div>
						<div class="col-sm-6 content-box headerNew">
							<div class="row">
								<div class="col-sm-6">
									<h4>Sweep to</h4>
								</div>
								<div class="col-sm-6" align="right">

								</div>

							</div>
							<br />

							<div class="row">
								<div class="col-sm-2">
									<a href="#" onclick="sweepswitch();" id="sweepbutton">
										<button type="button" class="btn btn-white" style="margin-left: -30px;font-size: 13px; border-radius: 100%; background-color: white; border:1px groove"><i class="fas fa-exchange-alt"></i></button>
									</a>
								</div>
								<div class="col-sm-10" id="benesingleSourceDiv">

									<?php
									echo $this->formApp("SELECT_ACCTSRCOPENBANKSWEEP", $this->listBeneficiary, $this->ACBENEF, "ACBENEF", 'onChange="selectChange(2)"');

									echo $this->formHidden('benefName', $this->benefName);
									?>
								</div>
								<div class="col-sm-10" id="beneuploadFileDiv">

									<div class="form-group row ">
										<div class="col-md-12">
											<div class="file-uploadbene">
												<div class="file-select">
													<div class="file-select-button" id="fileNamebene">Choose File</div>
													<div class="file-select-name" id="noFilebene"><?php echo $this->language->_('Upload Your File Here...'); ?></div>
													<input type="file" name="uploadBenef" id="uploadBenef" id="chooseFilebene">
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							<?php //echo ;
							?>
							<!-- <div class="row" id="beneuploadFileDiv">
									<div class="col-sm-10">
										
									</div>
								 <div class="col-sm-2">
                                		
									</div> -->
							<!-- </div> -->
							<div class="row">
								<div class="col-sm-7 float-right pt-1" style="display: none">
									<a href="#" onClick="showUploadbene()"><?php echo $this->language->_('Upload File'); ?></a>
								</div>
								<div class="col-sm-5">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-9 float-right pt-1" style="display: none">
									<a href="#" onClick="hideUploadbene()"><?php echo $this->language->_('Single Source Acct'); ?></a>
								</div>
								<div class="col-sm-3">
								</div>
							</div>
							<br />
							<div class="row" id="beneaddFileidDiv">

								<div class="col-sm-10">
									<div class="form-group row ">
										<div class="col-md-12">
											<h6 class="homeCardText"><?php echo $this->language->_('File id'); ?></h6>
											<?php
											echo $this->formText('FILE_IDBENE', $this->FILE_IDBENE, array('id' => 'FILE_IDBENE', 'class' => 'form-control'));
											// echo $this->formHidden('sourceName',$this->sourceName);
											?>
										</div>
									</div>
								</div>



								<div class="col-sm-2">

								</div>
							</div>



							<div id="space" style="height: 122px;">

							</div>
							<!-- <div class="row"> -->
							<input name="ta_sel" id="ta_sel2" value="2" type="radio" disabled="disabled">
							<?php echo $this->language->_('Maintain Balance'); ?>
							<!-- </div> -->
							<!-- <div class="row">
									<div class="col-sm-2">
										IDR
									</div>
									<div class="col-sm-10">
										<?php echo $this->formText('mainbalance', $this->mainbalance, array('id' => 'mainbalance', 'class' => 'form-control', 'size' => 20, 'maxlength' => 20, 'autocomplete' => 'off', "style" => "text-align: right;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "NumFrmt(this.value,this.id)", 'onkeypress' => "return forceCurrencyOCBC(event)"));
										?>
									</div>
									
								</div> -->
							<div class="row" id="maintainbalanceinp">
								<div class="col-sm-1">
									<?php
									// $optArr = array(
									// 	'1' => 'IDR',
									// 	'2' => '%'
									// );

									// echo $this->formApp("NORMAL",$optArr, $this->remainBalanceType, "rem_per");

									?>
									IDR
								</div>
								<div class="col-sm-8">
									<?php echo $this->formText('maintainbalance', $this->maintainbalance, array('id' => 'maintainbalance', 'class' => 'form-control', 'size' => 20, 'maxlength' => 20, 'autocomplete' => 'off', "style" => "text-align: right;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "NumFrmt(this.value,this.id)", 'onkeypress' => "return forceCurrencyOCBC(event)"));
									?>

								</div>
								<div class="col-sm-2">
									<a href="#" id="ta_sel2config" style="display: none" />config</a>
								</div>

							</div>

						</div>
					</div>

					<div class="form-group row pt-2" id="messagetext">
						<div class="col-sm-12">
							<label for=""><?php echo $this->language->_('Message'); ?></label>
							<!-- </div>
							<div class="col-sm-9" -->
							<?php
							echo $this->formTextarea('TRA_MESSAGE', $this->TRA_MESSAGE, array(
								'class' => 'form-control', 'cols' => '30', 'rows' => '4',
								'onKeypress' => 'return isSpclChar(event)'
							));
							?>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<h5><?= $this->language->_('Sweep Date') ?></h5>

				<?php
				echo $this->formHidden('payDateType', $this->payDateType);
				echo $this->formHidden('tranferdatetype', $this->TrfDateType);
				echo $this->formHidden('tranferdateperiodictype', $this->TrfPeriodicType);
				echo $this->formHidden('PERIODIC_EVERY', $this->PERIODIC_EVERY);
				echo $this->formHidden('PERIODIC_EVERYDATE', $this->PERIODIC_EVERYDATE);
				// var_dump($this->TrfDateType);
				?>

				<div class="form-group row">
					<div class="col-md-12">
						<!-- <?php $immidiateTransfer = date('d/m/Y') ?>
	                      <input type="hidden" name="immediateTransfer" id="immediateTransfer" value="<?php echo $immidiateTransfer ?>"> -->

						<div class="switch-field">

							<!-- <input type="radio" id="switch_3_left" name="tranferdatetype"  value="1" <?php if ($this->TrfDateType == '1') {
																																															echo ('checked');
																																														} ?> />
	                      <label for="switch_3_left" style="width: 75px; font-size: 11px;"><?php echo $this->language->_('Immediate'); ?></label> -->
							<div id="futuredateswitch">
								<input type="radio" id="switch_3_left" name="tranferdatetype" value="2" <?php if ($this->TrfDateType == '2') {
																																													echo ('checked');
																																												} ?> checked />
								<label for="switch_3_left" style="font-size: 11px;border-radius: 4px 0px 0px 4px;"><?php echo $this->language->_('Future Date'); ?></label>
							</div>

							<div id="periodicswitch">
								<input type="radio" id="switch_3_right" name="tranferdatetype" id="tranferdatetypePeriodic" value="3" <?php if ($this->TrfDateType == '3') {
																																																												echo ('checked');
																																																											} ?>>
								<label for="switch_3_right" style=" font-size: 11px;"><?php echo $this->language->_('Periodic'); ?></label>
							</div>
						</div>
					</div>
				</div>

				<!-- <div id="immediate" style="display:none;">
                  <div class="content-box" style="height: 100px;"><br/>
                    <strong style="margin-left: 25px;"><?= $this->language->_('Current Time and Date') ?></strong><br/>
                    <span style="font-size:1.5rem;margin-left: 25px;"><?= date('d M Y H:i:s') ?></span>
                  </div>
                </div> -->

				<div id="future">
					<div class="form-group row">
						<label class="col-sm-4 col-form-label"><?= $this->language->_('Choose Date') ?></label>
						<div class="col-sm-4">
							<input type="text" class="form-control" name="PS_FUTUREDATE" id="PS_FUTUREDATE" value="<?= $this->PS_EFDATEFUTURE ?>" onchange='setDate(this.value);' readonly>
							<script>
								$('#PS_FUTUREDATE').datepicker({
									minDate: function() {
										var date = new Date();
										date.setDate(date.getDate() + 1);
										return new Date(date.getFullYear(), date.getMonth(), date.getDate());
									},
									format: 'dd/mm/yyyy',
									uiLibrary: 'bootstrap4',
								});
							</script>
						</div>
						<div class="col-sm-4">
						</div>

					</div>
					<div class="form-group row pt-4">
						<label class="col-sm-4 col-form-label"><?php echo $this->language->_('Time'); ?></label>
						<div class="col-sm-4">
							<input type="text" id="PS_EFTIMEF" name="PS_EFTIMEF" value="<?php echo $this->PS_EFTIMEF ?>" style="font-size: 12px;padding-left: 13px;">
							<script type="text/javascript">
								$('#PS_EFTIMEF').timepicker({
									timeFormat: 'HH:mm:ss',
									//  minTime: '11:45:00',
									maxHour: 20,
									maxMinutes: 30,
									startTime: new Date(0, 0, 0, 15, 0, 0), // 3:00:00 PM - noon
									interval: 15, // 15 minutes
									dynamic: true,
									dropdown: true,
									scrollbar: false
								});
							</script>
							<!-- <input type="radio" name="session_inp" value="1" selected><?php echo $this->language->_(' Morning (06:00 - 08:00)'); ?><br>
                    		<input type="radio" name="session_inp" value="2"><?php echo $this->language->_(' Evening (12:00 - 14:00)'); ?><br>
                    		<input type="radio" name="session_inp" value="3"><?php echo $this->language->_(' Night (17:00 - 19:00)'); ?> -->
						</div>
						<div class="col-sm-4">
						</div>
					</div>
				</div>

				<div id="periodic" style="display:none;">

					<div class="form-group row pt-2" id="repeateveryselect">
						<label class="col-sm-3 col-form-label"><?php echo $this->language->_('Repeat'); ?></label>
						<div class="col-sm-4">
							<select name="repetition" id="selectRepeatevery" class="form-control">
								<option value="1" <?php echo $this->repetition1; ?>><?= $this->language->_('Daily') ?></option>
								<option value="2" <?php echo $this->repetition2; ?>><?= $this->language->_('Weekly') ?></option>
								<option value="3" <?php echo $this->repetition3; ?>><?= $this->language->_('Monthly') ?></option>
							</select>

						</div>
						<div class="col-sm-5">
						</div>
						<br>
					</div>




					<div class="form-group row pt-2 repeatonmonthly" style="display: none;">
						<label class="col-sm-3 col-form-label"><?php echo $this->language->_('On'); ?></label>
						<div class="col-sm-4">
							<select name="selectrepeat" id="selectrepeat" class="form-control">
								<?php
								for ($i = 1; $i <= 28; $i++) {
									$strpt = 'repeat' . $i;
									echo '<option value="' . $i . '" ' . $this->$strpt . '>' . $i . '</option>';
								}
								?>
								<option value="last">Last</option>
							</select>

						</div>
						<div class="col-sm-5">
						</div>
						<br>
					</div>


					<div class="form-group row pt-2 repeatonday">
						<label class="col-sm-3 col-form-label"><?php echo $this->language->_('Repeat On'); ?></label>
						<div class="col-sm-9">
							<div class="input-group">
								<div class="roundChk">
									<input type="checkbox" class="checkboxday" id="checkbox6" value="0" name="report_day[]" <?php echo $this->check0; ?> />
									<label for="checkbox6">S</label>
								</div>
								<div class="roundChk">
									<input type="checkbox" class="checkboxday" id="checkbox" value="1" name="report_day[]" <?php echo $this->check1; ?> />
									<label for="checkbox">M</label>
								</div>
								<div class="roundChk">
									<input type="checkbox" class="checkboxday" id="checkbox1" value="2" name="report_day[]" <?php echo $this->check2; ?> />
									<label for="checkbox1">T</label>
								</div>
								<div class="roundChk">
									<input type="checkbox" class="checkboxday" id="checkbox2" value="3" name="report_day[]" <?php echo $this->check3; ?> />
									<label for="checkbox2">W</label>
								</div>
								<div class="roundChk">
									<input type="checkbox" class="checkboxday" id="checkbox3" value="4" name="report_day[]" <?php echo $this->check4; ?> />
									<label for="checkbox3">T</label>
								</div>
								<div class="roundChk">
									<input type="checkbox" class="checkboxday" id="checkbox4" value="5" name="report_day[]" <?php echo $this->check5; ?> />
									<label for="checkbox4">F</label>
								</div>
								<div class="roundChk">
									<input type="checkbox" class="checkboxday" id="checkbox5" value="6" name="report_day[]" <?php echo $this->check6; ?> />
									<label for="checkbox5">S</label>
								</div>
							</div>

						</div>
						<br>
					</div>



					<div class="form-group row pt-2">
						<label class="col-sm-3 col-form-label"><?php echo $this->language->_('Start Date'); ?></label>
						<div class="col-sm-4">
							<input type="text" class="form-control" name="PS_EFDATE" id="PS_EFDATE" value="<?= $this->PS_EFDATE ?>" readonly>
							<script>
								$('#PS_EFDATE').datepicker({
									minDate: function() {
										var date = new Date();
										date.setDate(date.getDate() + 1);
										return new Date(date.getFullYear(), date.getMonth(), date.getDate());
									},
									format: 'dd/mm/yyyy',
									uiLibrary: 'bootstrap4'
								});
							</script>
						</div>
						<div class="col-sm-5">
						</div>
						<br>
					</div>






					<div class="form-group row pt-2">
						<label class="col-sm-3 col-form-label"><?php echo $this->language->_('End Date'); ?></label>
						<div class="col-sm-4">
							<input type="text" class="form-control" name="PS_ENDDATEPERIODIC" id="PS_ENDDATEPERIODIC" value="<?= $this->endDatePeriodic ?>" readonly>
							<script>
								$('#PS_ENDDATEPERIODIC').datepicker({
									minDate: function() {
										var date = new Date();
										date.setDate(date.getDate() + 1);
										return new Date(date.getFullYear(), date.getMonth(), date.getDate());
									},
									format: 'dd/mm/yyyy',
									uiLibrary: 'bootstrap4'
								});
							</script>
						</div>
						<div class="col-sm-5">
						</div>
					</div>

					<div class="form-group row pt-4">
						<label class="col-sm-3 col-form-label"><?php echo $this->language->_('Time'); ?></label>
						<div class="col-sm-4">
							<input type="text" id="PS_EFTIMEP" name="PS_EFTIMEP" value="<?php echo $this->PS_EFTIMEP ?>" style="font-size: 12px;">
							<script type="text/javascript">
								$('#PS_EFTIMEP').timepicker({
									timeFormat: 'HH:mm:ss',
									//  minTime: '11:45:00',
									maxHour: 20,
									maxMinutes: 30,
									startTime: new Date(0, 0, 0, 15, 0, 0), // 3:00:00 PM - noon
									interval: 15, // 15 minutes
									dynamic: true,
									dropdown: true,
									scrollbar: false
								});
							</script>
							<!-- <input type="radio" name="session_inp" value="1" selected><?php echo $this->language->_(' Morning (06:00 - 08:00)'); ?><br>
                    		<input type="radio" name="session_inp" value="2"><?php echo $this->language->_(' Evening (12:00 - 14:00)'); ?><br>
                    		<input type="radio" name="session_inp" value="3"><?php echo $this->language->_(' Night (17:00 - 19:00)'); ?> -->
						</div>
						<div class="col-sm-5">
						</div>
					</div>
				</div>
				
				<br>
							<br>

							<h5><?= $this->language->_('Sweep Conditions') ?></h5>		
							<div class="form-group row">
								<div class="col-md-6">
									<label style="color: grey;"><?= $this->language->_('Minimum Transfer Amount') ?></label>
								</div>
								<div class="col-md-6">
									
								</div>
							</div>
							<div class="input-group">
							<?php
								  if ($this->confirmPage != 1) {
								  ?>
								  
								<div class="input-group-prepend">
									<div class="input-group-text">
									  <strong>
									    IDR
									  </strong>
									  <?php
									  echo $this->formHidden("CURR_CODE", "IDR", array('id' => "CURR_CODE"));
									  ?>
									</div>
								</div>
								
								<?php

								echo $this->formText("TRA_MIN_AMOUNT", $this->TRA_MIN_AMOUNT, array('id' => "TRA_MIN_AMOUNT", 'maxlength' => '20', 'autocomplete' => 'off', 'class' => 'form-control', "style" => "text-align: right;font-size: 1.2em;",'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);setTrfType(this.value);", 'onkeypress' => "return forceNumber(event);"));
								  }else{
									  echo 'IDR '.$this->TRA_MIN_AMOUNT.$this->formHidden("TRA_MIN_AMOUNT", $this->TRA_MIN_AMOUNT, array('id' => "TRA_MIN_AMOUNT"));
								?>
								
								  <?php } ?>
				            </div>

				<div class="form-group" id="idnotification">
					<!-- <h5><?= $this->language->_('Notification') ?></h5>
					<hr />-->
					<div class="form-group row" style="display:none">
						<label name="notif" class="col-sm-6 col-form-label"><?= $this->language->_('Send notification ?') ?></label>
						<div class="col-sm-6 pt-2">
							<div class="switch-field">
								<input type="radio" id="notif_left" name="notif" class="notif" value="1" checked />
								<label for="notif_left" style="width: 50px;"><?php echo $this->language->_('No'); ?></label>
								<input type="radio" id="notif_right" name="notif" class="notif" value="2" />
								<label for="notif_right" style="width: 50px;"><?php echo $this->language->_('Yes'); ?></label>

							</div>
						</div>
					</div>

					<div class="form-group row notif" style="display: none">
						<label name="notif" class="col-sm-6 col-form-label"><?= $this->language->_('Email') ?></label>
						<div class="col-sm-6 pt-2">
							<div class="form-check form-check-inline">
								<?php
								echo $this->formText("email_notif", $this->email_notif, array('class' => 'form-control', 'id' => "email_notif", 'maxlength' => '128'));

								?>
							</div>


						</div>

					</div>
					<div class="form-group row notif" style="display: none">
						<label name="notif" class="col-sm-6 col-form-label"><?= $this->language->_('SMS') ?></label>
						<div class="col-sm-6 pt-2">
							<div class="form-check form-check-inline">
								<?php
								echo $this->formText("sms_notif", $this->sms_notif, array('class' => 'form-control', 'id' => "sms_notif", 'maxlength' => '128'));

								?>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<hr>


		<div class="col-md-12" align="center">
			<input class="btnwhite hov" value="<?php echo $this->language->_('Cancel') ?>" onclick="location.href='/home/dashboard'" type="button">
			<?php echo $this->formSubmit('submit', $this->language->_('Submit'), array('class' => 'btngreen hov')); ?>
		</div>

		<div class="modal fade" id="poolingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

			<div class="modal-dialog modal-lg" role="document" style="max-width: 1140px!important;">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title textBlack" id="myModalLabel"><?php echo $this->language->_('Maintain Balance Configuration') ?></h4>
					</div>
					<div class="modal-body">

						<div class="container col-md-12 mt-5">
							<div class="card">
								<h3 class="card-header text-center"><?php echo $this->language->_('Forecast Allocation') ?></h3>
								<table class="table table-bordered table-responsive-sm mb-0 card-header" id="calendar">
									<thead>
										<tr>
											<th class="text-center" id="head_sun" style="display: none">Sun</th>
											<th class="text-center" id="head_mon" style="display: none">Mon</th>
											<th class="text-center" id="head_tue" style="display: none">Tue</th>
											<th class="text-center" id="head_wed" style="display: none">Wed</th>
											<th class="text-center" id="head_thu" style="display: none">Thu</th>
											<th class="text-center" id="head_fry" style="display: none">Fri</th>
											<th class="text-center" id="head_sat" style="display: none">Sat</th>
										</tr>
									</thead>
									<tbody>
										<tr><?php //Application_Helper_General::convertDisplayMoney('50000000000'); 
												?>
											<td align="center" id="allo_sun" style="display: none"><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(51400000000)); ?>
												<input type="hidden" name="forecast_sun" id="forecast_sun" value="50000000000">
											</td>

											<td align="center" id="allo_mon" style="display: none"><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(29200000000)); ?>
												<input type="hidden" name="forecast_mon" id="forecast_mon" value="40000000000">
											</td>

											<td align="center" id="allo_tue" style="display: none"><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(28750000000)); ?>
												<input type="hidden" name="forecast_tue" id="forecast_tue" value="40000000000">
											</td>

											<td align="center" id="allo_wed" style="display: none"><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(35000000000)); ?>
												<input type="hidden" name="forecast_wed" id="forecast_wed" value="40000000000">
											</td>

											<td align="center" id="allo_thu" style="display: none"><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(38750000000)); ?>
												<input type="hidden" name="forecast_thu" id="forecast_thu" value="40000000000">
											</td>

											<td align="center" id="allo_fry" style="display: none"><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(47500000000)); ?>
												<input type="hidden" name="forecast_fry" id="forecast_fry" value="40000000000">
											</td>

											<td align="center" id="allo_sat" style="display: none"><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(54000000000)); ?>
												<input type="hidden" name="forecast_sat" id="forecast_sat" value="40000000000">
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="container col-md-12 mt-3 mb-2" align="center">
							<button type="button" class="btn btn-sm btn-outline-primary" onclick="modalmoredetail();">View History</button>
							<button type="button" class="btn btn-sm btn-outline-primary" onClick="duplicateContent()">Use Forecast Value</button>
						</div>

						<div class="modal fade" id="myModalMoreDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								  
						    <div class="modal-dialog modal-lg" role="document" style="max-width: 890px!important;">
						      <div class="modal-content">
						        <div class="modal-header">
								<center style="width:100%">
						          <h4 class="modal-title textBlack" id="myModalLabel">Sweep Transaction History</h4>
								  </center>
						        </div>

						        <div class="modal-body">
						          <div class="container col-md-12">
									<div class="card">
										<table class="table table-bordered table-responsive card-header" id="calendar">
											<thead>
												<tr>
													<th class="text-center" style="color: red;" id="head_sun">S</th>
													<th class="text-center" id="head_mon">M</th>
													<th class="text-center" id="head_tue">T</th>
													<th class="text-center" id="head_wed">W</th>
													<th class="text-center" id="head_thu">T</th>
													<th class="text-center" id="head_fry">F</th>
													<th class="text-center" id="head_sat">S</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td align="center" style="color: red;" id="allo_sun"><h5 align="right">30/8</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(55000000000)); ?>
													</td>
													<td align="center" id="allo_mon"><h5 align="right">31/8</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(30000000000)); ?>
													</td>
													<td align="center" id="allo_tue"><h5 align="right">1/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(35000000000)); ?>
													</td>
													<td align="center" id="allo_wed"><h5 align="right">2/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(35000000000)); ?>
													</td>
													<td align="center" id="allo_thu"><h5 align="right">3/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(40000000000)); ?>
													</td>
													<td align="center" id="allo_fry"><h5 align="right">4/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(45000000000)); ?>
													</td>
													<td align="center" id="allo_sat"><h5 align="right">5/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(45000000000)); ?>
													</td>
												</tr>
												<tr>
													<td align="center" style="color: red;" id="allo_sun"><h5 align="right">6/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(40000000000)); ?>
													</td>
													<td align="center" id="allo_mon"><h5 align="right">7/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(25000000000)); ?>
													</td>
													<td align="center" id="allo_tue"><h5 align="right">8/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(25000000000)); ?>
													</td>
													<td align="center" id="allo_wed"><h5 align="right">9/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(35000000000)); ?>
													</td>
													<td align="center" id="allo_thu"><h5 align="right">10/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(35000000000)); ?>
													</td>
													<td align="center" id="allo_fry"><h5 align="right">11/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(45000000000)); ?>
													</td>
													<td align="center" id="allo_sat"><h5 align="right">12/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(50000000000)); ?>
													</td>
												</tr>
												<tr>
													<td align="center" style="color: red;" id="allo_sun"><h5 align="right">13/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(50000000000)); ?>
													</td>
													<td align="center"  id="allo_mon"><h5 align="right">14/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(30000000000)); ?>
													</td>
													<td align="center" id="allo_tue"><h5 align="right">15/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(30000000000)); ?>													</td>
													<td align="center" id="allo_wed"><h5 align="right">16/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(35000000000)); ?>
													</td>
													<td align="center" id="allo_thu"><h5 align="right">17/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(40000000000)); ?>
													</td>
													<td align="center" id="allo_fry"><h5 align="right">18/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(50000000000)); ?>
													</td>
													<td align="center" id="allo_sat"><h5 align="right">19/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(60000000000)); ?>
													</td>
												</tr>
												<tr>
													<td align="center" style="color: red;" id="allo_sun"><h5 align="right">20/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(55000000000)); ?>
													</td>
													<td align="center" id="allo_mon"><h5 align="right">21/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(31000000000)); ?>
													</td>
													<td align="center" id="allo_tue"><h5 align="right">22/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(30000000000)); ?>
													</td>
													<td align="center" id="allo_wed"><h5 align="right">23/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(35000000000)); ?>
													</td>
													<td align="center" id="allo_thu"><h5 align="right">24/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(40000000000)); ?>
													</td>
													<td align="center" id="allo_fry"><h5 align="right">25/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(50000000000)); ?>
													</td>
													<td align="center" id="allo_sat"><h5 align="right">26/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(61000000000)); ?>
													</td>
												</tr>
												<tr>
													<td align="center" style="color: red;" id="allo_sun"><h5 align="right">27/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(57000000000)); ?>
													</td>
													<td align="center" id="allo_mon"><h5 align="right">28/9</h5><?php echo str_replace('.00', '', Application_Helper_General::displayMoney(30000000000)); ?>
													</td>
													<td align="center" id="allo_tue"><h5 align="right">-</h5>
													</td>
													<td align="center" id="allo_wed"><h5 align="right">-</h5>
													</td>
													<td align="center" id="allo_thu"><h5 align="right">-</h5>
													</td>
													<td align="center" id="allo_fry"><h5 align="right">-</h5>											</td>
													<td align="center" id="allo_sat"><h5 align="right">-</h5>
													</td>
												</tr>
												
											</tbody>
										</table>
									</div>
								</div>

						        </div>
						        
						       <!--  <div class="modal-footer">
									<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
								</div> -->
						      </div>
						    </div>
						  
						</div>

						<div class="container col-md-12 mt-3">
							<div class="card">
								<h3 class="card-header text-center"><?php echo $this->language->_('Maintain Balance') ?></h3>
								<table class="table table-bordered table-responsive-sm mb-0" id="calendar">
									<thead>
										<tr>
											<th class="text-center" id="heads_sun" style="display: none">Sun</th>
											<th class="text-center" id="heads_mon" style="display: none">Mon</th>
											<th class="text-center" id="heads_tue" style="display: none">Tue</th>
											<th class="text-center" id="heads_wed" style="display: none">Wed</th>
											<th class="text-center" id="heads_thu" style="display: none">Thu</th>
											<th class="text-center" id="heads_fry" style="display: none">Fri</th>
											<th class="text-center" id="heads_sat" style="display: none">Sat</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td align="center" id="sun" style="display: none">
												<button class="btn btn-sm btn-outline-primary" onClick="inputAmount(this)" data-day="sun"><?php echo $this->language->_('Set') ?></button>
												<input type="hidden" name="pooling_sun" id="pooling_sun">
											</td>

											<td align="center" id="mon" style="display: none">
												<button class="btn btn-sm btn-outline-primary" onClick="inputAmount(this)" data-day="mon"><?php echo $this->language->_('Set') ?></button>
												<input type="hidden" name="pooling_mon" id="pooling_mon">
											</td>

											<td align="center" id="tue" style="display: none">
												<button class="btn btn-sm btn-outline-primary" onClick="inputAmount(this)" data-day="tue"><?php echo $this->language->_('Set') ?></button>
												<input type="hidden" name="pooling_tue" id="pooling_tue">
											</td>

											<td align="center" id="wed" style="display: none">
												<button class="btn btn-sm btn-outline-primary" onClick="inputAmount(this)" data-day="wed"><?php echo $this->language->_('Set') ?></button>
												<input type="hidden" name="pooling_wed" id="pooling_wed">
											</td>

											<td align="center" id="thu" style="display: none">
												<button class="btn btn-sm btn-outline-primary" onClick="inputAmount(this)" data-day="thu"><?php echo $this->language->_('Set') ?></button>
												<input type="hidden" name="pooling_thu" id="pooling_thu">
											</td>


											<td align="center" id="fry" style="display: none">
												<button class="btn btn-sm btn-outline-primary" onClick="inputAmount(this)" data-day="fry"><?php echo $this->language->_('Set') ?></button>
												<input type="hidden" name="pooling_fry" id="pooling_fry">
											</td>


											<td align="center" id="sat" style="display: none">
												<button class="btn btn-sm btn-outline-primary" onClick="inputAmount(this)" data-day="sat"><?php echo $this->language->_('Set') ?></button>
												<input type="hidden" name="pooling_sat" id="pooling_sat">
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>

		</div>

		<div id="dialog_amount" title="dialog_amount" class="hidden">
			<div class="form-group row">
				<label><?php echo $this->language->_('Insert Amount : '); ?></label>
				<input type="number" class="form-control col-6" id="pooling_amount">
			</div>
		</div>

	</form>


<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->

<script type="text/javascript">
	$(document).ready(function() {


		$("#ACCTSRC").change(function() {
			var isi = $("#ACCTSRC option:selected").val();
			console.log($("#ACCTSRC option:selected").val());

			$("#ACBENEF option[value=" + isi + "]").prop('hidden', 'true');
			/*if ($("#ACBENEF").val() == isi) {
				$('#ACBENEF').selected.prop('hidden', 'true');
			} */
		});

		$('#uploadFileDiv').hide();
		$('#addFileidDiv').hide();

		$('#singleSourceBtn').hide();

		$('#beneuploadFileDiv').hide();
		$('#beneaddFileidDiv').hide();

		$('#benesingleSourceBtn').hide();

		$('#maintainbalanceinp').hide();
		$('#beneuploadFileBtn').hide();



		// $('#beneuploadFileBtn').hide();
		// $('#benesingleSourceDiv').hide();
		// beneuploadFileBtn

		// beneuploadFileDiv

		$('#ta_sel2').click(function() {

			$('#maintainbalanceinp').show();
			$('#remainbalanceinp').hide();
			$('#remainbalance').val('');

		});
		$('#ta_sel').click(function() {

			$('#maintainbalanceinp').hide();
			$('#remainbalanceinp').show();
			$('#maintainbalance').val('');
		});
		$('#ta_sel2config').click(function() {

			var amountmain = $('#maintainbalance').val();
			if (amountmain != '') {
				var checkboxes = document.getElementsByName('report_day[]');
				var dayarr = ['sun', 'mon', 'tue', 'wed', 'thu', 'fry', 'sat'];
				for (var i = 0, n = checkboxes.length; i < n; i++) {
					if (checkboxes[i].checked) {
						colomn = dayarr[checkboxes[i].value];
						var tagday = '#' + colomn;
						var pooling = 'pooling_' + colomn;
						$(tagday).html('<a href="#" onClick="inputAmount(this)" data-day="sun">' + moneyAliasFormatter(amountmain) + '</a><input type="hidden" name="' + pooling + '" id="' + pooling + '" value="' + amountmain + '">').fadeIn(500);
					}


				}
			}
			// alert(amountmain);
			$('#poolingModal').modal();

		});



		<?php

		if ($this->repetition == 1) {
		?>
			$('.repeatonday').show();
			$('.repeatevery').hide();
			$('.repeatonweekly').show();
			$('.repeatonmonthly').hide();
			$("input[type='checkbox']").prop("class", 'checkboxday');
			$('#ta_sel2config').hide();

		<?php
		} else if ($this->repetition == 2) {
		?>
			$("input[type='checkbox']").prop("class", 'checkboxweek');
			// $("input[type=checkbox]").prop("checked", false);
			// document.getElementsByClassName('checkboxday').classList.remove('checkboxday');
			$('.repeatonday').show();
			$('.repeatevery').show();
			$('.repeatonweekly').show();
			$('.repeatonmonthly').hide();
			$('#ta_sel2config').hide();
		<?php
		} else {
		?>
			$('.repeatonday').hide();
			$('.repeatevery').show();
			$("input[type='checkbox']").prop("class", 'checkboxday');
			$('.repeatonweekly').hide();
			$('.repeatonmonthly').show();
			$('#ta_sel2config').hide();
		<?php
		}




		if ($this->sweepOption == 2) {
		?>
			// alert('asdasd');
			$('#ta_sel2').prop("checked", true);
			$('#maintainbalanceinp').show();
			$('#remainbalanceinp').hide();
			$('#remainbalance').val('');


			<?php if ($this->TrfDateType == '3' && $this->repetition == 1) { ?>

				var forecast_sun = <?php echo empty($this->pooling_sun) ? '0' : $this->pooling_sun; ?>;
				var forecast_mon = <?php echo empty($this->pooling_mon) ? '0' : $this->pooling_mon; ?>;
				var forecast_tue = <?php echo empty($this->pooling_tue) ? '0' : $this->pooling_tue; ?>;
				var forecast_wed = <?php echo empty($this->pooling_wed) ? '0' : $this->pooling_wed; ?>;
				var forecast_thu = <?php echo empty($this->pooling_thu) ? '0' : $this->pooling_thu; ?>;
				var forecast_fry = <?php echo empty($this->pooling_fry) ? '0' : $this->pooling_fry; ?>;
				var forecast_sat = <?php echo empty($this->pooling_sat) ? '0' : $this->pooling_sat; ?>;

				$('#sun').html('<a href="#" onClick="inputAmount(this)" data-day="sun">' + moneyAliasFormatter(forecast_sun) + '</a><input type="hidden" name="pooling_sun" id="pooling_sun" value="' + forecast_sun + '">').fadeIn(500);
				$('#mon').html('<a href="#" onClick="inputAmount(this)" data-day="mon">' + moneyAliasFormatter(forecast_mon) + '</a><input type="hidden" name="pooling_mon"  id="pooling_mon" value="' + forecast_mon + '">').fadeIn(500);
				$('#tue').html('<a href="#" onClick="inputAmount(this)" data-day="tue">' + moneyAliasFormatter(forecast_tue) + '</a><input type="hidden" name="pooling_tue" id="pooling_tue" value="' + forecast_tue + '">').fadeIn(500);
				$('#wed').html('<a href="#" onClick="inputAmount(this)" data-day="wed">' + moneyAliasFormatter(forecast_wed) + '</a><input type="hidden" name="pooling_wed" id="pooling_wed" value="' + forecast_wed + '">').fadeIn(500);
				$('#thu').html('<a href="#" onClick="inputAmount(this)" data-day="thu">' + moneyAliasFormatter(forecast_thu) + '</a><input type="hidden" name="pooling_thu" id="pooling_thu" value="' + forecast_thu + '">').fadeIn(500);
				$('#fry').html('<a href="#" onClick="inputAmount(this)" data-day="fry">' + moneyAliasFormatter(forecast_fry) + '</a><input type="hidden" name="pooling_fry" id="pooling_fry" value="' + forecast_fry + '">').fadeIn(500);
				$('#sat').html('<a href="#" onClick="inputAmount(this)" data-day="sat">' + moneyAliasFormatter(forecast_sat) + '</a><input type="hidden" name="pooling_sat" id="pooling_sat" value="' + forecast_sat + '">').fadeIn(500);
				
				var checkboxes = document.getElementsByName('report_day[]');
				var vals = "";
				var numb = 0;
				var colomn = "";
				var colomnall = "";
				var dayarr = ['sun', 'mon', 'tue', 'wed', 'thu', 'fry', 'sat'];
				// alert(dayarr[2]);
				var str = "";
				for (var i = 0, n = checkboxes.length; i < n; i++) {
					colomn = dayarr[i];
					var day = '#' + colomn;
					var head = '#head_' + colomn;
					var allo = '#allo_' + colomn;
					var heads = '#heads_' + colomn;
					// console.log(day);
					$(day).hide();
					$(head).hide();
					$(allo).hide();
					$(heads).hide();
					if (checkboxes[i].checked) {
						colomn = dayarr[checkboxes[i].value];
						// console.log(colomn);
						colomnall = colomnall + ',' + colomn;


						var day = '#' + colomn;
						var head = '#head_' + colomn;
						var allo = '#allo_' + colomn;
						var heads = '#heads_' + colomn;
						$(day).show();
						$(head).show();
						$(allo).show();
						$(heads).show();
						// alert(colomn);
						numb++;
					} else {

						// colomn = dayarr[$(this).val()];
						// str = ','+colomn;
						// alert(str);

						// colomnall = colomnall.replace("Microsoft", "W3Schools");
						numb--;
					}
				}

				if (numb >= -4) {
					$('#ta_sel2config').show();
					$('#maintainbalance').val('');
					$('#maintainbalance').prop('disabled',true);
				} else {
					$('#ta_sel2config').hide();
					$('#maintainbalance').prop('disabled',false);
				}
				

			<?php } ?>

		<?php
		} else {
		?>
			$('#ta_sel').prop("checked", true);
			$('#maintainbalanceinp').hide();
			$('#remainbalanceinp').show();
			$('#maintainbalance').val('');
		<?php
		}

		if ($this->sourceType == 2) {
		?>
			$('#singleSourceDiv').hide();
			$('#uploadFileBtn').hide();
			$('#messagetext').hide();
			$('#uploadFileDiv').show();
			$('#addFileidDiv').show();
			$('#singleSourceBtn').show();
			$('#idnotification').hide();

			$('#beneuploadFileBtn').hide();
			// $('#benesingleSourceDiv').hide();
			var eshow = document.getElementById('uploadBenef');
			eshow.type = 'text';
			// $('#accteopen').val('1');
			// $('#beneopen').val('1');
			// $('#ta_sel').prop("checked", true);
			$('#sweepbutton').hide();
			$('#sourceType').val('2');
			$('#remainbalance').hide();
			$('#remainbalanceccy').hide();


			$('#sourceName').val('');

			$("#ACCTSRC option").prop("selected", false);

		<?php
		} else {
		?>

			$('#messagetext').show();
			$('#uploadFileDiv').hide();
			$('#addFileidDiv').hide();
			$('#singleSourceBtn').hide();
			$('#idnotification').show();
			$('#remainbalance').show();
			$('#remainbalanceccy').show();
			$('#beneuploadFileBtn').hide();
			$('#sweepbutton').show();
			$('#benesingleSourceDiv').show();

			$('#space').hide();
			$('#spacefrom').hide();

			var eshow = document.getElementById('uploadBenef');
			eshow.type = 'file';
			// $('#ta_sel').prop("checked", true);

			$('#singleSourceDiv').show();
			$('#uploadFileBtn').show();

			$('#sourceType').val('1');

		<?php
		}

		?>

	});

	function typepass(){
		$('#FILE_ID').val('BYPASSIDFU');
	}

	function showUpload() {
		$('#singleSourceDiv').hide();
		$('#uploadFileBtn').hide();

		$('#ta_sel2').prop('disabled', true);
     	$('#ta_sel2').addClass('disabled');
     	$('#maintainbalanceinp').hide();

		$('#messagetext').hide();
		$('#uploadFileDiv').show();
		$('#addFileidDiv').show();
		$('#singleSourceBtn').show();
		$('#idnotification').hide();
		$('#messagetext').hide();
		$('#space').show();
		$('#spacefrom').show();

		$('#beneuploadFileBtn').hide();
		// $('#benesingleSourceDiv').hide();
		var eshow = document.getElementById('uploadBenef');
		eshow.type = 'text';
		// $('#accteopen').val('1');
		// $('#beneopen').val('1');
		$('#ta_sel').prop("checked", true);
		$('#sweepbutton').hide();
		$('#sourceType').val('2');
		$('#remainbalance').hide();
		$('#remainbalanceccy').hide();

		$('#sourceName').val('');

		$("#ACCTSRC option").prop("selected", false);
	}

	function showUploadbene() {
		$('#benesingleSourceDiv').hide();
		$('#beneuploadFileBtn').hide();

		$('#beneuploadFileDiv').show();
		$('#beneaddFileidDiv').show();
		$('#benesingleSourceBtn').show();
		$('#idnotification').hide();
		$('#uploadFileBtn').hide();
		$('#remainbalance').hide();
		$('#remainbalanceccy').hide();


		var eshow = document.getElementById('chooseFile');
		eshow.type = 'text';
		// $('#singleSourceDiv').hide();
		$('#ta_sel2').prop("checked", true);

		$('#sourceType').val('2');

		$('#benefName').val('');

		$('#accteopen').val('1');



		$("#ACBENEF option").prop("selected", false);
	}

	function hideUploadbene() {
		$('#beneuploadFileDiv').hide();
		$('#beneaddFileidDiv').hide();
		$('#benesingleSourceBtn').hide();
		$('#idnotification').show();

		$('#uploadFileBtn').show();
		$('#singleSourceDiv').show();
		$('#remainbalance').show();
		$('#remainbalanceccy').show();

		$('#benesingleSourceDiv').show();
		$('#beneuploadFileBtn').show();

		var eshow = document.getElementById('chooseFile');
		eshow.type = 'file';
		// alert();
		$('#ta_sel2').prop("checked", true);

		$('#sourceType').val('1');
		$('#accteopen').val('');
	}

	function hideUpload() {
		$('#uploadFileDiv').hide();
		$('#messagetext').show();
		$('#addFileidDiv').hide();
		$('#messagetext').show();
		$('#singleSourceBtn').hide();
		$('#idnotification').show();
		$('#remainbalance').show();
		$('#remainbalanceccy').show();
		$('#beneuploadFileBtn').hide();
		$('#sweepbutton').show();
		$('#benesingleSourceDiv').show();
		$('#space').hide();
		$('#spacefrom').hide();

		$('#ta_sel2').prop('disabled', false);
      	$('#ta_sel2').removeClass('disabled');
      	$('#remainbalanceinp').show();

		var eshow = document.getElementById('uploadBenef');
		eshow.type = 'file';
		$('#ta_sel').prop("checked", true);

		$('#singleSourceDiv').show();
		$('#uploadFileBtn').show();

		$('#sourceType').val('1');
	}

	function moneyAliasFormatter(num) {
		<?php
		// $moneyvar = num;
		?>
		return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
		// return num.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
		// if (Math.abs(num) > 999 && Math.abs(num) < 999999) {
		// 	return Math.sign(num)*((Math.abs(num)/1000).toFixed(1)) + ' K';
		// }
		// else if(Math.abs(num) > 999999 && Math.abs(num) < 999999999){
		// 	return Math.sign(num)*((Math.abs(num)/1000000).toFixed(1)) + ' M';
		// }
		// else if(Math.abs(num) > 999999999 && Math.abs(num) < 999999999999){
		// 	return Math.sign(num)*((Math.abs(num)/1000000000).toFixed(1)) + ' B';
		// }
		// else{
		// 	return Math.sign(num)*((Math.abs(num)/1000).toFixed(1));
		// }
	}

	function inputAmount(selected) {

		var day = $(selected).data('day');

		var pooling_amount = $('#pooling_' + day).val();

		var placeHolder = 'Insert Here';
		if (pooling_amount != '') {
			placeHolder =  pooling_amount;
		}

		var amount = prompt("Insert Amount", placeHolder);

		if (amount === null) {
			return;
		}

		$('#pooling_' + day).val(amount);

		$('#' + day).html('<a href="#" onClick="inputAmount(this)" data-day="' + day + '">' + moneyAliasFormatter(amount) + '</a><input type="hidden" name="pooling_' + day + '" id="pooling_' + day + '" value="' + amount + '">');
		
	}

	function duplicateContent() {
		var forecast_sun = $('#forecast_sun').val();
		var forecast_mon = $('#forecast_mon').val();
		var forecast_tue = $('#forecast_tue').val();
		var forecast_wed = $('#forecast_wed').val();
		var forecast_thu = $('#forecast_thu').val();
		var forecast_fry = $('#forecast_fry').val();
		var forecast_sat = $('#forecast_sat').val();


		if ($('#heads_sun').css('display') != 'none') {
			if (forecast_sun !== '') {
				$('#sun').html('').fadeOut(500);

				$('#sun').html('<a href="#" onClick="inputAmount(this)" data-day="sun">' + moneyAliasFormatter(forecast_sun) + '</a><input type="hidden" name="pooling_sun" value="' + forecast_sun + '">').fadeIn(500);
			}
		}


		if ($('#heads_mon').css('display') != 'none') {
			if (forecast_mon !== '') {
				$("#mon").html('').fadeOut(500);

				$('#mon').html('<a href="#" onClick="inputAmount(this)" data-day="mon">' + moneyAliasFormatter(forecast_mon) + '</a><input type="hidden" name="pooling_mon" value="' + forecast_mon + '">').fadeIn(500);
			}
		}

		if ($('#heads_tue').css('display') != 'none') {
			if (forecast_tue !== '') {
				$("#tue").html('').fadeOut(500);

				$('#tue').html('<a href="#" onClick="inputAmount(this)" data-day="tue">' + moneyAliasFormatter(forecast_tue) + '</a><input type="hidden" name="pooling_tue" value="' + forecast_tue + '">').fadeIn(500);
			}
		}

		if ($('#heads_wed').css('display') != 'none') {
			if (forecast_wed !== '') {
				$("#wed").html('').fadeOut(500);

				$('#wed').html('<a href="#" onClick="inputAmount(this)" data-day="wed">' + moneyAliasFormatter(forecast_wed) + '</a><input type="hidden" name="pooling_wed" value="' + forecast_wed + '">').fadeIn(500);
			}
		}

		if ($('#heads_thu').css('display') != 'none') {
			if (forecast_thu !== '') {
				$("#thu").html('').fadeOut(500);

				$('#thu').html('<a href="#" onClick="inputAmount(this)" data-day="thu">' + moneyAliasFormatter(forecast_thu) + '</a><input type="hidden" name="pooling_thu" value="' + forecast_thu + '">').fadeIn(500);
			}
		}

		if ($('#heads_fry').css('display') != 'none') {
			if (forecast_fry !== '') {
				$("#fry").html('').fadeOut(500);

				$('#fry').html('<a href="#" onClick="inputAmount(this)" data-day="fry">' + moneyAliasFormatter(forecast_fry) + '</a><input type="hidden" name="pooling_fry" value="' + forecast_fry + '">').fadeIn(500);
			}
		}

		if ($('#heads_sat').css('display') != 'none') {
			if (forecast_sat !== '') {
				$("#sat").html('').fadeOut(500);

				$('#sat').html('<a href="#" onClick="inputAmount(this)" data-day="sat">' + moneyAliasFormatter(forecast_sat) + '</a><input type="hidden" name="pooling_sat" value="' + forecast_sat + '">').fadeIn(500);
			}
		}

	}
</script>