<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?= $this->language->_('Home') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas"><?= $this->language->_('Tracking Report') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas"><?= $this->language->_('Paper Inventory Report') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas"><?= $this->language->_('Detail') ?></span>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="portlet-body form col-md-12">
        <h5><?= $this->language->_('Paper Inventory Report - Detail') ?></h5>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-3">Paper Number</div>
    <div class="col-md-7"><b><?= $this->paperdata["PAPER_KEY"] . "-" . $this->paperdata["PAPER_FROM"] . " to " . $this->paperdata["PAPER_KEY"] . "-" . $this->paperdata["PAPER_TO"] ?></b></div>
</div>
<div class="row mt-2">
    <div class="col-md-3">Quanity (sheet)</div>
    <div class="col-md-7"><?= $this->paperdata["PAPER_QTY"]; ?></div>
</div>
<div class="row mt-2">
    <div class="col-md-3">Used (sheet)</div>
    <div class="col-md-7"><?= $this->sheet["used"]; ?></div>
</div>
<div class="row mt-2">
    <div class="col-md-3">Available (sheet)</div>
    <div class="col-md-7"><?= $this->sheet["available"]; ?></div>
</div>
<div class="row mt-2">
    <div class="col-md-3">Damage (sheet)</div>
    <div class="col-md-7"><?= $this->sheet["damage"]; ?></div>
</div>
<div class="row mt-2">
    <div class="col-md-3">Bank Branch</div>
    <div class="col-md-7"><?= $this->paperdata["BRANCH_NAME"]; ?></div>
</div>
<div class="row justify-content-center" style="margin-top: 5rem;">
    <a href="/paper/inventory" class="border btn btnwhite hov mr-3">Back</a>
    <?php if ($this->sheet['used'] === 0 && $this->sheet['damage'] === 0) : ?>
        <form action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'delete'), null, true) ?>" method="POST" class="mr-3">
            <input type="hidden" name="paper_id" value="<?= explode('/', $this->url())[5]; ?>">
            <input type="button" value="Delete Paper" class="border btn btnred hov px-3" data-toggle="modal" data-target="#deleteModal" id="triggerDelete">

            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Apakah anda yakin ingin menghapus ?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <input type="button" value="Tidak" class="border btn btnwhite hov" data-dismiss="modal">
                            <input type="submit" value="Ya" class="border btn btngreen hov" name="delete">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    <?php endif ?>
    <form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">
        <?= '<input type="submit" value="Download Report" name="csv" class="border btn btngreen hov">' ?>&nbsp;
    </form>
    <!-- <a href="/paper/damagereport" class="border btn btnred hov">Damage Report</a> -->
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        if (document.querySelector('#triggerDelete')) {
            document.querySelector('#triggerDelete').addEventListener('click', () => {
                $('#deleteModal').modal({
                    keyboard: false,
                    backdrop: 'static',
                })
            })
        }
    })
</script>