<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?= $this->language->_('Home'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?= $this->language->_('Submission'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <?= $this->language->_('Preliminary Document'); ?>
                </li>
            </ul>
        </div>
    </div>
</div>

<style>
    table {
        font-size: 14px !important;
    }

    button:disabled {
        cursor: not-allowed;
    }

    .headercolor {
        color: #fff;
        background-color: #0b549f !important;
    }

    .btn-sm {
        padding: .10rem .3rem !important;
    }
</style>

<div class="row mb-3">
    <div class="col-md-12 pt-4">
        <h5><?= strtoupper($this->language->_('Preliminary Document Preparation For Slik OJK')); ?></h5>
        <p><b><?= $this->language->_('This initial documents is used for reporting purpose to OJK'); ?>.</b></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table width="100%" cellpadding="5" class="mb-4">
            <tr>
                <td <?= ($this->data['NPWP']) ? '' : 'style="width: 1%; white-space: nowrap;"' ?>><?= $this->language->_('Hubungan Principal dengan Bank BTN'); ?></td>
                <td <?= ($this->data['NPWP']) ? '' : 'style="width: 1%; white-space: nowrap;"' ?>>:</td>
                <td>
                    <?= $this->relationshipArr[$this->data['RELATIONSHIP']] ?: $this->language->_('Not Related'); ?>
                    <?php if ($this->relationshipArr[$this->data['RELATIONSHIP']]) { ?>
                        <div style="display: inline-block;">
                            <div style="display: inline-block;">
                                <div style="display: flex;width: 20px;height: 20px;border: 1px solid red;align-content: center;justify-content: center;border-radius: 100%;cursor: default;" class="text-danger" id="touchme">i</div>
                            </div>
                            <div style="position: relative;display: inline-block;" id="forchange">&nbsp;
                                <div style="position: absolute;width: 250px;left: 0;background-color: white;border: 1px solid red;" class="text-danger pl-2 pr-2" id="notouch"><?= $this->getRelationship[$this->data['RELATIONSHIP']]; ?></div>
                                <script type="text/javascript">
                                    document.addEventListener('DOMContentLoaded', () => {
                                        document.querySelector("#notouch").style.top = `-${document.querySelector("#notouch").clientHeight/3}px`;
                                        document.querySelector('#forchange').style.display = 'none'

                                        document.querySelector("#touchme").addEventListener('mouseenter', () => {
                                            document.querySelector('#forchange').style.display = 'inline-block'
                                        })

                                        document.querySelector("#touchme").addEventListener('mouseleave', () => {
                                            document.querySelector('#forchange').style.display = 'none'
                                        })
                                    })
                                </script>
                            </div>
                        </div>
                    <?php } ?>
                </td>
            </tr>
            <tr class="headercolor">
                <td colspan="3"><b><?= $this->language->_('Business Entity'); ?></b></td>
            </tr>
            <?php if ($this->data['NPWP']) { ?>
                <tr>
                    <td width="270"><?= $this->language->_('Company'); ?></td>
                    <td width="10">:</td>
                    <td><?= $this->data['CUST_NAME'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td><?= $this->language->_('NPWP'); ?></td>
                    <td>:</td>
                    <td>
                        <?= $this->data['NPWP'] ?: '-'; ?>
                        <a href="/preliminary/index/view/download/file/bgnumb/<?= explode('/', $this->url())[5]; ?>/id/1" class="btn btn-sm btn-secondary ml-3" title="Download"><i class="fas fa-download"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><?= $this->language->_('Akta Pendirian'); ?></td>
                    <td>:</td>
                    <td>
                        <?= $this->data['PENDIRIAN_NUMBER'] ?: '-'; ?>
                        <a href="/preliminary/index/view/download/file/bgnumb/<?= explode('/', $this->url())[5]; ?>/id/2" class="btn btn-sm btn-secondary ml-3" title="Download"><i class="fas fa-download"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><?= $this->language->_('Akta Pendirian Date'); ?></td>
                    <td>:</td>
                    <td><?= ($this->data['PENDIRIAN_DATE'] != '0000-00-00' && $this->data['PENDIRIAN_DATE'] != '') ? date('d M Y', strtotime($this->data['PENDIRIAN_DATE'])) : '-'; ?></td>
                </tr>
                <tr>
                    <td><?= $this->language->_('Akta Pendirian Place'); ?></td>
                    <td>:</td>
                    <td><?= $this->data['PENDIRIAN_PLACE'] ?: '-'; ?></td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <?php if ($this->data['PERUBAHAN_NUMBER']) { ?>
                    <tr>
                        <td><?= $this->language->_('Akta Perubahan Terakhir'); ?></td>
                        <td>:</td>
                        <td>
                            <?= $this->data['PERUBAHAN_NUMBER'] ?: '-'; ?>
                            <?php if ($this->data['PERUBAHAN_FILE']) : ?>
                                <a href="/preliminary/index/view/download/file/bgnumb/<?= explode('/', $this->url())[5]; ?>/id/3" class="btn btn-sm btn-secondary ml-3" title="Download"><i class="fas fa-download"></i></a>
                            <?php endif ?>
                        </td>
                    </tr>
                <?php } ?>
                <?php if ($this->data['PERUBAHAN_DATE'] != '0000-00-00' && $this->data['PERUBAHAN_DATE'] != '') { ?>
                    <tr>
                        <td><?= $this->language->_('Akta Perubahan Date'); ?></td>
                        <td>:</td>
                        <td><?= ($this->data['PERUBAHAN_DATE'] != '0000-00-00' && $this->data['PERUBAHAN_DATE'] != '') ? date('d M Y', strtotime($this->data['PERUBAHAN_DATE'])) : '-'; ?></td>
                    </tr>
                <?php } ?>
                <?php if ($this->data['SK_PERUBAHAN_NUMBER']) { ?>
                    <tr>
                        <td><?= $this->language->_('SK Pengesahan'); ?></td>
                        <td>:</td>
                        <td>
                            <?= $this->data['SK_PERUBAHAN_NUMBER'] ?: '-'; ?>
                            <?php if ($this->data['SK_PERUBAHAN_FILE']) : ?>
                                <a href="/preliminary/index/view/download/file/bgnumb/<?= explode('/', $this->url())[5]; ?>/id/4" class="btn btn-sm btn-secondary ml-3" title="Download"><i class="fas fa-download"></i></a>
                            <?php endif ?>
                        </td>
                    </tr>
                <?php } ?>
                <?php if ($this->data['SK_PERUBAHAN_DATE'] != '0000-00-00' && $this->data['SK_PERUBAHAN_DATE'] != '') { ?>
                    <tr>
                        <td><?= $this->language->_('SK Pengesahan Date'); ?></td>
                        <td>:</td>
                        <td><?= ($this->data['SK_PERUBAHAN_DATE'] != '0000-00-00' && $this->data['SK_PERUBAHAN_DATE'] != '') ? date('d M Y', strtotime($this->data['SK_PERUBAHAN_DATE'])) : '-'; ?></td>
                    </tr>
                <?php } ?>
            <?php } else { ?>
                <td colspan="3" align="center"><?= $this->language->_('No Data'); ?></td>
            <?php } ?>
        </table>

        <p><b><?= $this->language->_('Susunan Pengurus dan Pemegang Saham'); ?></b></p>
        <table width="100%" cellpadding="5" class="table-striped mb-4">
            <tr class="headercolor" style="border:1px solid #0b549f">
                <td><?= $this->language->_('Name'); ?></td>
                <td><?= $this->language->_('Type'); ?></td>
                <!-- <td><?= $this->language->_('ID Type'); ?></td> -->
                <td><?= $this->language->_('Kewarga'); ?><br><?= $this->language->_('negaraan'); ?></td>
                <!-- <td><?= $this->language->_('ID Number'); ?></td> -->
                <td style="width: 20% !important;"><?= $this->language->_('Positions'); ?></td>
                <td><?= $this->language->_('Share'); ?> %</td>
                <td><?= $this->language->_('Status'); ?></td>
                <td style="width: 10% !important;"><?= $this->language->_('Action'); ?></td>
            </tr>
            <?php if ($this->dataMember) : ?>
                <?php
                foreach ($this->dataMember as $row) :
                    // if ($row['ENTITY_ID'] == 'B') {
                    //   $idType = 'NPWP';
                    // } elseif ($row['ENTITY_ID'] == 'M') {
                    //   $idType = '-';
                    // } elseif ($row['CITIZENSHIP'] == 1) {
                    //   $idType = 'KTP';
                    // } elseif ($row['CITIZENSHIP'] == 2) {
                    //   $idType = 'Paspor';
                    // }
                ?>
                    <tr>
                        <td><?= strtoupper($row['NAME']); ?></td>
                        <td><?= $this->entityArr[$row['ENTITY_ID']]; ?></td>
                        <!-- <td><?= $idType; ?></td> -->
                        <!-- <td><?= $row['ID_NUMBER']; ?></td> -->
                        <td><?= ($row['CITIZENSHIP'] == 1) ? "WNI" : "WNA"; ?></td>
                        <td><?= $this->positionArr[$row['POSITION']]; ?></td>
                        <td><?= $row['SHARE']; ?></td>
                        <td><?= ucwords($this->statusArr[$row['STATUS']]); ?></td>
                        <td>
                            <!-- <a href="javascript:void(0)" class="btn btn-sm btn-secondary" title="Detail" onclick="detail_member(<?= $row['ID']; ?>)"><i class="fas fa-search"></i></a>&nbsp; -->
                            <?php if ($row['ID_FILE']) : ?>
                                <a href="/preliminary/index/view/download/file/bgnumb/<?= explode('/', $this->url())[5]; ?>/mid/<?= $row['ID_NUMBER']; ?>" class="btn btn-sm btn-secondary" title="Download"><i class="fas fa-download"></i></a>
                                <!-- <?php //else : 
                                        ?> -->
                                <!-- <a href="#" class="btn btn-sm btn-secondary" title="Download"><i class="fas fa-download"></i></a> -->
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
            <?php else : ?>
                <tr style="border:1px solid #999">
                    <td colspan="8" align="center">-- <?= $this->language->_('No Data'); ?> --</td>
                </tr>
            <?php endif; ?>
        </table>

        <?php if (false) : ?>
            <p><b><?= $this->language->_('Information'); ?></b></p>
            <table width="100%" cellpadding="5" class="table-striped mb-4">
                <tr class="headercolor" style="border:1px solid #0b549f">
                    <td style="width:28%;"><?= $this->language->_('Last Suggested By'); ?></td>
                    <td style="width:30%;"><?= $this->language->_('Last Suggested Date'); ?></td>
                    <td style="width:25%;"><?= $this->language->_('Last Approved By'); ?></td>
                    <td style="width:17%;"><?= $this->language->_('Last Approved Date'); ?></td>
                </tr>

                <tr>
                    <td><?= $this->datalastsuggest['USER_FULLNAME'] ?> (<?= $this->datalastsuggest['USER_ID'] ?>)</td>
                    <td><?= (!empty($this->datalastsuggest['LAST_SUGGESTED'])) ? date('d M Y H:i:s', strtotime($this->datalastsuggest['LAST_SUGGESTED'])) : "-"; ?></td>
                    <td><?= $this->datalastapprove['USER_FULLNAME'] ?> (<?= $this->datalastapprove['USER_ID'] ?>)</td>
                    <td><?= ($this->datalastapprove['LAST_APPROVED']) ? date('d M Y H:i:s', strtotime($this->datalastapprove['LAST_APPROVED'])) : "-"; ?></td>

                </tr>

            </table>
        <?php endif ?>
    </div>
</div>

<?php foreach ($this->dataMember as $key => $value) { ?>

    <div class="mb-4">
        <div class="py-2 mt-2 pl-2 font-weight-bold d-flex align-items-center" style="background-color: rgba(0,0,0,0.05);">
            <span class="mr-4"><?= ($key + 1) . "."; ?></span>
            <span><?= $value["NAME"] . " (" . $this->positionArr[$value["POSITION"]] . ")"; ?></span>
        </div>
        <div class="pl-5 py-2 d-flex">
            <!-- <div class="col-sm-2"><?= $value["ID_TYPE"]; ?></div> -->
            <div class="col-sm-2"><?= ($row['ENTITY_ID'] == 'L' || $row['ENTITY_ID'] == 'P') ?  (($row['CITIZENSHIP'] == '1') ? 'KTP' : 'Paspor') : (($row['ENTITY_ID'] == 'B') ? 'NPWP' : ''); ?></div>
            <div class="col-sm-8"><?= $value["ID_NUMBER"]; ?></div>
        </div>
        <div class="pl-5 py-2 d-flex">
            <div class="col-sm-2">Address</div>
            <div class="col-sm-8"><?= $value["ADDRESS"]; ?></div>
        </div>
        <div class="pl-5 py-2 d-flex">
            <div class="col-sm-2">Kelurahan</div>
            <div class="col-sm-8"><?= $value["KELURAHAN"]; ?></div>
        </div>
        <div class="pl-5 py-2 d-flex">
            <div class="col-sm-2">Kecamatan</div>
            <div class="col-sm-8"><?= $value["KECAMATAN"]; ?></div>
        </div>
        <div class="pl-5 py-2 d-flex">
            <div class="col-sm-2">Kabupaten/Kota</div>
            <div class="col-sm-8"><?= $value["CITY_NAME"]; ?></div>
        </div>
    </div>

<?php } ?>


<script>
    window.addEventListener("DOMContentLoaded", () => {
        document.querySelector("nav").remove();
        document.querySelector("#leftpanel").remove();
        document.querySelector("#rightpanel").style.display = "none";
        document.querySelector("body").classList.add("pt-0");
        document.querySelector("main").classList.add("pt-0");
        document.querySelector("#centerpanel").children[0].remove();
        document.querySelector("footer").remove();
        document.querySelector("main").children[0].children[0].classList.remove("offset-md-2", "backstyle", "centerpanel", "col-md-8");
    });
</script>