	
<div class="row">
				<div class="col-md-12">
					<div class="page-bar">
							<ul class="page-breadcrumb">
									<li>
											<span><?php echo $this->language->_('Predefined Beneficiary'); ?></span>
											<i class="fa fa-angle-right pl-1 pr-1"></i>
									</li>
									<li>
											<?php echo $this->language->_('Valas Account'); ?>
											<i class="fa fa-angle-right pl-1 pr-1"></i>
									</li>
									<li>
										 <?php if($this->mode=='Add') echo 'Add'; else echo 'Edit'; ?> <?php echo $this->language->_('Remittance Account'); ?>
								 </li>
							</ul>
					</div>
				</div>
</div>


<table border="0" cellpadding="0" cellspacing="0" width="73%" align="left">
		<tbody>
			<!--<tr>
				<td class="filterarea" id="filterarea">
					<b><?php echo $this->language->_('Predefined beneficiaryy'); ?>  &gt; <?php echo $this->language->_('In House Account'); ?>  &gt; <?php if($this->mode=='Add') echo 'Add'; else echo 'Edit'; ?> <?php echo $this->language->_('In House Account'); ?></b><br /><br />
				</td>
			</tr>
			--><tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			<!--<tr>
				<th class="filterarea" id="filterarea">
					<?php if($this->mode=='Add') echo 'Add'; else echo 'Edit'; ?> <?php echo $this->language->_('Beneficiary'); ?>
				</th>
			</tr>
			-->
			<tr>
				<td id="contentarea">
					<div class="portlet-body form">
					<form name="addbeneficiary" class="form-horizontal form-bordered form-row-stripped"  method="post" action="">
					<div class="portlet light form-fit bordered">
				
				
					<div class="portlet-body form content-box">
	                      <!-- Default panel contents -->
	                      
	                    			<h5><?php if($this->mode=='Add') echo $this->language->_('Add'); else echo $this->language->_('Edit'); ?> <?php echo $this->language->_('Beneficiary')?></h5>
	            <hr/>
	                    	<div class="portlet-body form">

						<div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Accountt Number');?></label>
						          <div class="col-md-9">
					                <?=$this->ACBENEF?><?php echo $this->formHidden('ACBENEF',$this->ACBENEF); ?><?=$this->ACBENEF_ALIAS?><?php echo $this->formHidden('BENEFICIARY_ID',$this->BENEFICIARY_ID); ?>
					              </div>
					    </div>

					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Accountt Name');?></label>
						          <div class="col-md-9">
					                <?=$this->ACBENEF_BANKNAME?>
					              </div>
					    </div>

					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Currency');?></label>
						          <div class="col-md-9">
					                <?=$this->CURR_CODE?>
					              </div>
					    </div>



							<?php if($this->BENEFICIARY_TYPE == '3'){?>

								   <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Citizenship');?></label>
						          <div class="col-md-9">
					                <?php
									$arrCitizen = array('R'=>'Resident','NR'=>'Non Resident');
									echo $this->formLabel('CITIZENSHIP',($this->CITIZENSHIP) ? $arrCitizen[$this->CITIZENSHIP] : '')
									?>
					              </div>
					    </div>

					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Nationality');?></label>
						          <div class="col-md-9">
					                <?php
									$arrCitizen1 = array('W'=>'WNI','N'=>'WNA');
									echo $this->formLabel('NATIONALITY',($this->NATIONALITY) ? $arrCitizen1[$this->NATIONALITY] : '')
									?>
					              </div>
					    </div>


					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Category');?></label>
						          <div class="col-md-9">
					                <?php
											echo ($this->CATEGORY_NAME_LLD) ? $this->CATEGORY_NAME_LLD : '-';?>
					              </div>
					    </div>

						


					     <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Identification Type');?></label>
						          <div class="col-md-9">
					                <?php
											echo ($this->BENEIDENTIF_NAME_LLD) ? $this->BENEIDENTIF_NAME_LLD : '-';?>
					              </div>
					    </div>

					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Identification Number');?></label>
						          <div class="col-md-9">
					                <?php
											echo ($this->LLD_BENENUMBER) ? $this->LLD_BENENUMBER : '-';?>
					              </div>
					    </div>

					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Address');?></label>
						          <div class="col-md-9">
					                <?php
											echo ($this->ADDRESS) ? $this->ADDRESS : '-';?>
					              </div>
					    </div>



					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Email');?></label>
						          <div class="col-md-9">
					                <?php echo $this->ACBENEF_EMAIL ?>
					              </div>
					    </div>



					     <div class="form-group row">
						    
						          <div class="col-md-9">
					       <h6> <?php echo $this->language->_('Destination Bank Information'); ?></h6>
					       <hr>
					               </div>
					    </div>



					    	<div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Bank Code');?></label>
						          <div class="col-md-9">
					                <?=$this->BENEFICIARY_BANK_CODE?>
					              </div>
					    </div>

					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Bank Name');?></label>
						          <div class="col-md-9">
					                <?=$this->BANK_NAME?>
					              </div>
					    </div>


					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Bank Address 1');?></label>
						          <div class="col-md-9">
					                <?=$this->BANK_ADDRESS1?>
					              </div>
					    </div>


					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Bank Address 2');?></label>
						          <div class="col-md-9">
					                <?=$this->BANK_ADDRESS2?>
					              </div>
					    </div>


					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('City Name');?></label>
						          <div class="col-md-9">
					                <?php
											echo ($this->BANK_CITY) ? $this->BANK_CITY : '-';?>
					              </div>
					    </div>


					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('POB Number');?></label>
						          <div class="col-md-9">
					                <?=$this->POB_NUMBER?>
					              </div>
					    </div>

					    <div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('Country');?></label>
						          <div class="col-md-9">
					                <?=$this->BANK_COUNTRY?>
					              </div>
					    </div>
							
							
							<?php }?>



							<?php if($this->BENEFICIARY_TYPE == '2'){?>

								<div class="form-group row">
						    <label class="control-label col-md-3"><?php echo $this->language->_('City');?></label>
						          <div class="col-md-9">
					                <?=$this->CITY_NAME?>
					              </div>
					    </div>

							

							<?php }

							if(isset($this->errMsg['responseCode'])){
											echo '<div style="font-weight:bold;color:WHITE;font-size:14px;text-outline: 2px 2px #ff0000;">';
													foreach($this->errMsg['responseCode'] as $errMsg){
														echo 'Response Code : '.$errMsg;
													}
											echo "</div>";
										}

							?>
					 


					
								</div>
	            
	            	</div>
	            	</div>
	           								
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>								
								<tr>
									<td class="button-area" id="button-area" colspan="3">
										<div class="formbutton">
											<input type="submit" value="<?php echo $this->language->_('Back')?>" name="submit" class="btnwhite hov" />
											<input type="submit" value="<?php echo $this->language->_('Submit')?>" name="submit" class="btngreen hov"/>
											
										
										</div>
									</td>
								</tr>
							</tbody>
					</table>
					</form>
					</div>
				
				</td>
			</tr>
		</tbody>
	</table>
