<tr>
    <td><?= $this->language->_('Nominal Transfer'); ?></td>
    <td><?= $this->detailTrx['SOURCE_ACCT_CCY'] . ' ' . number_format($this->detailTrx['TRA_AMOUNT'], 2); ?></td>
    <td><?= $this->detailTrx['SOURCE_ACCT_CCY'] . ' ' . number_format($this->detailTrx['TRA_AMOUNT'], 2); ?></td>
</tr>