/*.blur{
        filter: blur(10px);
      }*/
      @media print {
        .hiddenprint {
            display :  none;
        }
      }
      .container-fluid{
        padding-bottom: 0rem!important;

      }
      .grid {
      position: relative;
      background-color: #ffffff;
    }

   /* .item {
      display: block;
      position: absolute;*/
    /*  width: 330px;
      height: 360px;*/
      /*margin: 5px;
      z-index: 1;
      background: #FFFFFF;*/
      /*color: #fff;*/
  /*  }*/

    .actived{
        background-color: #004315;
        color: white;
    }

    .item.muuri-dragging {
      z-index: 3;
    }

    .item.muuri-releasing {
      z-index: 2;
    }

    .item.muuri-hidden {
      z-index: 0;
    }

    .item-content {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .Path-83 {

  position: fixed;
  bottom: 0;

  right: 0;
}

    .Path-85 {

  position: fixed;
  bottom: 0;

  left: 0;
}

              /*li.selected {background:yellow}*/
.selected {
    background: #ccc;
}
.limenu:hover{
  color:white!important;
  background: #368224;
}

.fixed-top{
            background-color: #fff!important;
          }