body{
	/* background:rgb(106,0,3); */
	background:rgb(255, 255, 255);
	font-family: Arial, Helvetica, sans-serif !important;
	font-size:12px;
	color:white;
}
a{
	color: #2a4e9c;
	text-decoration:none;
}
#new{
	/* height:420px; */
	height:auto;
	width:700px;
	/* width:808px; */
	margin:0 auto;
	border:4px solid #012c5f;
	border-radius: 14px;
	margin: 50px auto 0;
}
#new .wrap{
	
}
#new .header{
	background: white url('/images/logo/logo111.jpg') no-repeat 5% 50%;
    height: 104px;
}
#new .content{
	/* background:white;
	border : 1px solid transparent; */
	
	background-image: url(../images/slider/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
	min-height:367px;
	
	/*width:808px;*/
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;	
}
#new .content2{
	background:white;
	color:black;
	padding:10px 10px;
	border-radius: 8px;   
}
#new .col{
	margin:0px auto;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:20px;
	margin-right:20px;
}
#new .col-decrease{
	bottom:10px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
}
#new .left{
	float:left;
	width:74%;
}
#new .right{
	float:right;
	width:200px;
	border: 1px solid #2a4e9c;
	padding:10px 10px;
	margin-top: 1px;
	margin-right: 20px;
	margin-bottom: 10px;
	/* max-height:305px; */
	max-height:auto;
	min-height:295px;
}
#new .footer{
	clear:both;
	height:35px;
}
#clock-container{
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    bottom: 0;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.8;
    position: fixed;
    text-align: right;
    width: 98%;
    z-index: 10;
    color:black;
}
/* general */
.container{
	
}
ul.errors{
	list-style-type: none;
	padding:0;
	font-size:10px;
}
.large-text{
	font-size:18px;
}
.small-text{
	font-size:11px;
}
.divider{
	clear:both;
}

.col a {
	/* color: rgb(237,28,36); */
	color: #2a4e9c;
	text-decoration: none;
}

.col a:visited{
	/* color: rgb(237,28,36); */
	color: #2a4e9c;
	text-decoration: none;
}

.col a:hover{
	/* color: rgb(237,28,36); */
	color: #2a4e9c;
	text-decoration: none;
}
.col a:link{
	/* color: rgb(237,28,36); */
	color: #2a4e9c;
	text-decoration: none;
}

#headermayapada{
background-image: url("../images/LOGO/logo097.jpg");
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 80px;
    position: relative;
}