

input.currency{
	width: 200px;
	font-size: 10px;
}
ul {
	padding-left:10px;
}

#tabheader {
	color: #ffb702;
	padding: 0px 0px 20px 0px;
	font-size: 22px;
	letter-spacing: -1px;
	font-weight: bold
}

h2 {
	color: #5B0000;
	font-size: 16px;
	font-weight: bold
}
body .ui-helper-hidden-accessible { position: fixed }
body {
	font-family : Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: white;
}

b {
	font-weight:bold;
	font-size:11px
}

td {
	font-family: Arial, Helvetica, sans-serif; font-size:11px;
	color:#000000;
	text-decoration:none;
}

a {
	font-family: Arial, Helvetica, sans-serif; font-size:11px;
	color:#000000;
	text-decoration:underline;
}

th {
	font-family: Arial, Helvetica, sans-serif;
	background-color:#2A4E9C;
	font-size:11px;
	font-weight: bold;
	/*background:url(/images/tab_header1.gif) top repeat;*/
	padding: 5px; text-align: left;
	/*border-top: solid 1px #623d39;
	border-bottom: solid 2px #623d39;*/
	border-right: solid 1px #ffffff;
	color:white;
}

input,textarea {
	padding: 2px;
	border: none;
	border-bottom: #999999 solid 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif, Tahoma;
	font-size:9px; background-color:#FFFFD7
}

.menuheader {
	background-color:#CC0000;
	font-size:12px;
	font-weight: bold;
	color:#FFFFFF
}

#menuselected {
	background-color: #999999;
	color:#FFFFFF;
	font-weight: bold
}

.bodyheader {
	background-color:#999999;
	font-size:12px;
	font-weight: bold;
	color:#FFFFFF
}

.screencontent {
	padding-top: 20px;
	padding-bottom: 20px;
}

.loginscreencontent {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #2A4E9C;
	width:720px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.tabletd {
	padding: 5px;
	vertical-align: remittance
}

.inputbtn {
	padding: 2px;
	border: none;
	font-family: Verdana, Arial, Helvetica, sans-serif, Tahoma;
	font-size:9px;
	background:url(/images/buttonbgr.gif) top repeat;
	color:#000000;
	text-decoration:none;
	-webkit-box-shadow: 1px 1px 3px #000000;
    -moz-box-shadow: 1px 1px 3px #000000;
    box-shadow: 1px 1px 3px #000000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	margin: 5px 0px 5px 2px;
}

.subtopic {
	font-family: Verdana, Arial, Helvetica, sans-serif, Tahoma;
	font-weight:bold;
	font-style:italic;
	font-size:12px;
	color:#040097;
	text-decoration:none;
}

a.inputbtn {
	padding: 3px;
}
input.inputbtn {
	padding: 3px;
}
button.inputbtn {
	padding: 3px;
}

.inputselect,select {
	padding: 2px;
	border: none;
	border-bottom: #999999 solid 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif, Tahoma;
	font-size:9px;
	background-color:#FFFFD7
}

#menumiddle {
	padding: 0px 20px 5px 20px;
	color: #ffbc00;
	text-align:right;
	font-weight: bold;
}

#menumiddle td{
	color: #ffbc00;
	font-weight: bold;
}

a.menumiddle {
	color: #FFFFFF;
	text-align:right;
	font-weight: bold;
}

.tbl-evencontent {
	background-color: #fffbef;
	padding: 4px 4px 4px 4px;
	border-bottom: 1px solid #eceadc;
	border-left: 1px dotted #fcddd5;
	border-right: 1px dotted #fcddd5;
	border-collapse: collapse;
	vertical-align: top;
	font-size: 10px;
}

.tbl-logincontent {
	background-color: #2A4E9C;
	padding: 4px 4px 4px 4px;
	border-collapse: collapse;
	vertical-align: top;
	font-size: 9px;
	font-weight: bold;
	color:white;
}

.tbl-oddcontent {
	background-color: #fff8df;
	padding: 4px 4px 4px 4px;
	border-bottom: 1px solid #eceadc;
	border-left: 1px dotted #ffffff;
	border-right: 1px dotted #ffffff;
	border-collapse: collapse;
	vertical-align: top;
	font-size: 10px;
}

.word-break{
	word-wrap:break-word;
	width:30em;
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
}

.tbl-red {
	background-color: #FF0000;
	padding: 4px 4px 4px 4px;
	border-bottom: 1px solid #eceadc;
	border-left: 1px dotted #fcddd5;
	border-right: 1px dotted #fcddd5;
	border-collapse: collapse;
	vertical-align: top;
	font-size: 11px;
	color:#FFFFFF
}

.tbl-yellow {
	background-color: #FFFF33;
	padding: 4px 4px 4px 4px;
	border-bottom: 1px solid #eceadc;
	border-left: 1px dotted #fcddd5;
	border-right: 1px dotted #fcddd5;
	border-collapse: collapse;
	vertical-align: top;
	font-size: 10px;
}

.tableformat1 {
	border-collapse: collapse;
	border-bottom: solid 2px #623d39;
}

#screencontent table{
	border-collapse: collapse;
/*	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;*/
}

.tableform {
	border-collapse: collapse;
	border: 2px solid #CCCCCC
}

.tablelist {
	border-collapse: collapse;
	border: 2px solid #CCCCCC
}

.tdform-sub {
	background-color: #2A4E9C;
	padding: 4px 4px 4px 4px;
	border-collapse: collapse;
	vertical-align: top;
	font-weight: bold;
	color: white;
}

.tdform-even {
	background-color: #e9e9e9;
	padding: 4px 4px 4px 4px;
	border-bottom: 1px solid #eceadc;
	border-collapse: collapse;
	vertical-align: top;
}

.tdform-odd {
	background-color: #FFFFFF;
	padding: 4px 4px 4px 4px;
	border-bottom: 1px solid #eceadc;
	border-collapse: collapse;
	vertical-align: top;
}

.italictext{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-style:italic;
}

.paging {
	font-weight:bold;
	margin:10px 10px;
}

.paging a {
	font:inherit;
	text-decoration:underline;
}

.paging a:hover {
	color:#F00;
}

.errmsg {
	font-weight:bold;
	font-size:11px;
	color:#FF0000
}

.successmsg {
	font-weight:bold;
	color:#99C;
	font-size:11px;

}

a.link {
	text-decoration:underline;
	padding: 4px 4px 4px 4px;
}

.disabledbtn {
	padding: 2px;
	border: none;
	font-family: Verdana, Arial, Helvetica, sans-serif, Tahoma;
	font-size:9px;
	background:url(/images/disablebtn.gif) top repeat;
	color:GRAY;
}


.inputbtn[disabled]{
	border: none;
	font-family: Verdana, Arial, Helvetica, sans-serif, Tahoma;
	font-size:9px;
	background:url(/images/disablebtn.gif) top repeat;
	color:GRAY	;
}

a.disabledbtn {
	padding: 4px;
}

input.disabledbtn {
	padding: 3px;
}
button.disabledbtn {
	padding: 3px;
}

input[type="button"]{
    -webkit-box-shadow: 1px 1px 3px #000000;
    -moz-box-shadow: 1px 1px 3px #000000;
    box-shadow: 1px 1px 3px #000000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

button{
    -webkit-box-shadow: 1px 1px 3px #000000;
    -moz-box-shadow: 1px 1px 3px #000000;
    box-shadow: 1px 1px 3px #000000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input[type="submit"]{
    -webkit-box-shadow: 1px 1px 3px #000000;
    -moz-box-shadow: 1px 1px 3px #000000;
    box-shadow: 1px 1px 3px #000000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input[type="reset"]{
    -webkit-box-shadow: 1px 1px 3px #000000;
    -moz-box-shadow: 1px 1px 3px #000000;
    box-shadow: 1px 1px 3px #000000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

a.selectedmenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-decoration:none;
	font-weight: bold;
}

a:link {
	text-decoration:none;
	color:#040097;
}

a:visited {
	text-decoration:none;
	color:#040097;
}

a:hover {
	text-decoration:underline;
	color:#040097;
}
