<style>
/* remove select arrow */
select.form-control {
  -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}
.gj-icon.clock:before {
    content: "\e905";
    background: white;
    padding: 2.5px 8px 2.5px 8px;
    border: 1px solid #ced4da;
    border-radius: 10%;
    font-size: 20px;
}
.gj-textbox-md{
	font-size: 15px !important;
}
.form-control{
	font-size: 1.2em;
}
.col-form-label{
	font-size: 1.2em !important;
}
</style>
<?php 
require_once 'General/SystemBalance.php';
?>
<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php 
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>

<script type="text/javascript">
	$(document).ready(function() {

		$('#bin').val("<?php echo $this->getbin; ?>");
		binChange("<?php echo $this->getbin; ?>");

		$('#btnNext').click(function(){
			$('#bin').prop('disabled',false);
		});

		$('.time').timepicker({
		    timeFormat: 'HH:mm:ss',
		     showMeridian: false,
		     showInputs: false
		});
		$('.time').timepicker().on('show.timepicker', function(e) {
		$('.meridian-column').remove();
		    $('tr').eq(1).children().eq(4).remove();
		    $('tr:last >td:last').remove();
		    $('.l').html($('.bootstrap-timepicker-widget').html());
		});

		$('#btnReset1').click(function(){
			$('#filterForm').resetForm()
			$('#bin').val('<?php echo $this->getbin; ?>')
		})

		$('#btnReset').click(function(){
			$('#filterForm').resetForm()
			$('#bin_bulk').val('<?php echo $this->getbin; ?>')
		})

		
		$('#exp_time').change(function(){
			let datepic = new Date($('#exp_date').val())
			var nowDate = new Date();
			var date = nowDate.getFullYear()+'/'+(nowDate.getMonth()+1)+'/'+nowDate.getDate();
			var datenow = new Date(date);
			datepic.setHours(0,0,0,0); 
			datenow.setHours(0,0,0,0); 

			if(+datepic == +datenow){
				let getTime = (v) => {
					let today = new Date();
					let dd = String(today.getDate()).padStart(2, '0');
					let mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
					let yyyy = today.getFullYear();

					today = '"' + mm + '-' + dd + '-' + yyyy + ' "';
					return Date.parse(today + v)
				}
				let timepic = $('#exp_time').val();
				let timenow = new Date().toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
				if (getTime(timepic) < getTime(timenow)){
					alert("Date cannot be in the past")
					$('#exp_time').val('')
				}
			}
		})

		$('#exp_date').datepicker({
			minDate: function() {
				var date = new Date();
				date.setDate(date.getDate());
				return new Date(date.getFullYear(), date.getMonth(), date.getDate());
			},
      		format: 'yyyy-mm-dd',
      		uiLibrary: 'bootstrap4'
    	});

    	$('#exp_date_bulk').datepicker({
      		format: 'yyyy-mm-dd',
      		uiLibrary: 'bootstrap4'
    	});


		$('#chooseFile').bind('change', function () {
	      var filename = $("#chooseFile").val();
	      if (/^\s*$/.test(filename)) {
	        $("#fileupload1").removeClass('active');
	        $("#noFile").text("No file chosen...");
	      }
	      else {
	        $("#fileupload1").addClass('active');
	        $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
	      }
	    })

	    $(".nav-link").click(function(){
	      var val = $(this).text();
	      if(val == 'Single'){
	        $("#single-tab").addClass("active");
	        $('#single').show();
	        $("#bulk-tab").removeClass("active");
	        $('#bulk').hide();

	        $('#bininfo').show();
	        $('#bininfo_bulk').hide();
	      }
	      else{
	        $("#single-tab").removeClass("active");
	        $('#single').hide();
	      	$("#bulk-tab").addClass("active");
	      	$('#bulk').show();

	      	$('#bininfo').hide();
	        $('#bininfo_bulk').show();
	      }
	    });

	    $("#vanumber").select2({
		  tags: true,
    	  allowClear: true
		});

		$('#vanumber').on('select2:select', function (e) {
		    var data = e.params.data;
		    
		    if (data.vaname != '' && typeof data.vaname != 'undefined' && typeof data.vaname != 'null') {
		    	$('#vaname').val(data.vaname);
		    	$('#vaname').prop('readonly', true);
		    }
		    else{
		    	$('#vaname').val('');
		    	$('#vaname').prop('readonly', false);
		    }
		});

		

		$('#bin').change(function(){

            var bin = $(this).val();

            binChange(bin);

        });

        $('input[type=radio][name=tranferdatetype]').change(function() {
	    //alert(this.value);
	      if (this.value == 1) {
	        $('#immediate').show();
	        $('#future').hide();
	        $('#periodic').hide();
	      } else if (this.value == 2) {
	        $('#immediate').hide();
	        $('#future').show();
	        $('#periodic').hide();

	        var datefuture = $('#PS_FUTUREDATE').val();
	        $('#PS_EFDATE').val(datefuture);
	      } else if (this.value == 3) {
	        $('#immediate').hide();
	        $('#future').hide();
	        $('#periodic').show();
	      }
	    });


	    $('input[type=radio][name=notif]').change(function() {
	      var nonotif = document.getElementById("notif_left");
	      if (nonotif.checked == true) {
	        $('.notif').hide();
	      } else {
	        $('.notif').show();
	      }
	    });

	    //---------------------------------bulk-------------------------------------------------
	    $('#bin_bulk').change(function(){

            var bin = $(this).val();
            binChange_bulk(bin);
            
        });

        $('input[type=radio][name=tranferdatetype_bulk]').change(function() {
	    //alert(this.value);
	      if (this.value == 1) {
	        $('#immediate_bulk').show();
	        $('#future_bulk').hide();
	        $('#periodic_bulk').hide();
	      } else if (this.value == 2) {
	        $('#immediate_bulk').hide();
	        $('#future_bulk').show();
	        $('#periodic_bulk').hide();

	        var datefuture = $('#PS_FUTUREDATE_bulk').val();
	        $('#PS_EFDATE_bulk').val(datefuture);
	      } else if (this.value == 3) {
	        $('#immediate_bulk').hide();
	        $('#future_bulk').hide();
	        $('#periodic_bulk').show();
	      }
	    });

	    $('#uploadaction_bulk').change(function() {
	    	if (this.value == 2) {
	    		$('#rightColumn').hide();
	    	}
	    	else{
	    		$('#rightColumn').show();
	    	}
	    });

	    //------------------------end bulk-----------------------------------------------------

	    //pengaturan error messages
	    <?php
	    if (!is_null($this->error_msg) || $this->error_msg != '' || $this->back || $this->fromDetail) {
	      foreach ($this->error_msg as $key => $error) {
	    ?>
	        $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
	    <?php
	      }

	      //assign ke element2
	      if ($this->single) { ?>
	      	binChange('<?php echo $this->bin; ?>');
	      	$('#bin').val('<?php echo $this->bin; ?>');

	      	("#single-tab").addClass("active");
	        $('#single').show();
	        $("#bulk-tab").removeClass("active");
	        $('#bulk').hide();

	        $('#bininfo').show();
	        $('#bininfo_bulk').hide();
	      <?php }
	      else if($this->bulk){ ?>
	      	binChange_bulk('<?php echo $this->bin ?>');
	      	console.log('<?php echo $this->idfile_bulk; ?>');
	      	$('#bin_bulk').val('<?php echo $this->bin; ?>');
	      	$('#idfile_bulk').val('<?php echo $this->idfile_bulk; ?>');

	      	var uploadaction_bulk = '<?php echo $this->uploadaction_bulk; ?>';
	      	$('#uploadaction_bulk').val(uploadaction_bulk);

	      	if (uploadaction_bulk == '2') {
	      		$('#rightColumn').hide();
	      	}
	      	else{
	      		$('#rightColumn').show();
	      	}


	      	$("#single-tab").removeClass("active");
	        $('#single').hide();
	      	$("#bulk-tab").addClass("active");
	      	$('#bulk').show();

	      	$('#bininfo').hide();
	        $('#bininfo_bulk').show();
	      <?php }
	    }
	    ?>
	});

  	function binChange(bin){

        $('#binDisp').html(bin + " - ");

        if (bin != '') {

            var dataString = 'bin=' + bin;

            $.ajax({
                type: "GET",
                data: dataString,
                url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'bincheck'), null, true) ?>",
                success: function(data) {

                    var resultdata = JSON.parse(data);

                    var result = resultdata.bindata;

                    //view bin info
                    $('#bininfo').prop('disabled', false);
                    $('#bininfo').removeClass('disabled');
                   	$('#binmodalbody').html(resultdata.bininfohtml);


                    var vatype = result.VA_TYPE;

                   	//if static
                    if (vatype != 0) {
                    	//va number input
                    	$('#vanumstaticdiv').show();

                    	//assign vanumberdata ke select2
                    	var vaNumberData = resultdata.vanumberdata;

                    	//if ada isinya
                    	var vaNumber = [{id: '', text: '---- Select from list or just type to input ----'}];
                    	var vaNumberArr = [];
                    	if (vaNumberData.length > 0) {
                    		$.each(vaNumberData, function( index, value ) {
							  	var tagData = {id: value.VA_NUMBER, text: value.VA_NUMBER, vaname: value.VA_NAME};
							  	vaNumber.push(tagData);
							  	vaNumberArr.push(value.VA_NUMBER);
							});

                    		// console.log(vaNumber);

                    		$("#vanumber").select2({
							    tags: true,
							    data: vaNumber
							});
                    	}

                    	var vanumber = '<?php echo $this->vano ?>';
                    	var vaname = '<?php echo $this->vaname ?>';

                    	//if kalau ada error, msknya kesini
                    	if (vanumber != '') {

                    		console.log(vanumber);

                    		//kalau input sndiri maka tambahkan data inputan ke dlm droplist select2
                    		if (!vaNumberArr.includes(vanumber)) {
                    			var tagValue = {id: vanumber, text: vanumber};
                    			vaNumber.push(tagValue);
                    		}
                    		//kalau pilih dri droplist maka disabled field vaname
                    		else{
                    			$('#vaname').val(vaname);
                    			$('#vaname').prop('readonly', true);
                    		}

                    		$("#vanumber").select2({
							    tags: true,
							    data: vaNumber
							});

							$("#vanumber").val(vanumber).trigger('change');
                    	}

                    	$('#vanumdynamicdiv').hide();

                    	$('#vaid').show();

                    	//immediate show first
                    	showImmediate();

				        $('#immediateswitch').show();
				        $('#futuredateswitch').show();
				        // $('#periodicswitch').show();
                    }
                    //if dynamic
                    else{
                    	//va number autogenerated
                    	$('#vanumstaticdiv').hide();
                    	$('#vanumdynamicdiv').show();

                    	// $('#vaname').val('');
                    	$('#vaname').prop('readonly', false);

                    	$('#vaid').hide();

                    	//immediate show first
                    	showImmediate();

				        //only immediate
				        $('#immediateswitch').show();
				        $('#futuredateswitch').hide();
				        // $('#periodicswitch').hide();
                    }

                    //-------------------------effective time------------------------------
                    var trfDateType = '<?php echo $this->trfDateType; ?>';

			        if (trfDateType != '') {
			        	//immediate
			        	if (trfDateType == '2') {
			        		showFutureDate();
			        	}
			        	//future date
			        	else if(trfDateType == '3'){
			        		showPeriodic();
			        	}
			        	//immediate
			        	else{
			        		showImmediate();
			        	}
			        }

			        //-------------------------expired time------------------------------
                    var exptime = result.EXP_TIME;
                    var ex_time_type = result.EX_TIME_TYPE;
                    var ex_time = result.EX_TIME;

                    if (exptime == 1) {
                    	$('#predefined').show();
                    	$('#inputLater').hide();

                    	//Minute
                    	if (ex_time_type == '0') {
                    		var extimetype = ' Minute(s)';
                    	}
                    	//Hour
                    	else if (ex_time_type == '1') {
                    		var extimetype = ' Hour(s)';
                    	}
                    	//days
                    	else{
							var extimetype = ' Day(s)';
                    	}	

                    	var predefined = 'Predefined set to '+ ex_time + extimetype + ' after effective';

                    	$('#predefined').html('<b>'+predefined+'</b>');
                    }
                    else{
                    	$('#predefined').hide();
                    	$('#inputLater').show();
                    }

                    //-------------------------notif------------------------------
                    var notif = '<?php echo $this->notif ?>';
                    if (notif == '2') {
                    	$('.notif').show();
                    	$('input[name=notif][value="2"]').prop('checked', true);
                    }
                    else{
                    	$('.notif').hide();
                    	$('input[name=notif][value="1"]').prop('checked', true);
                    }

                },
                error: function(data) {
                    alert('Failed to get data, Please try again');
                }
            });
        }
        else{
        	$('#bininfo').prop('disabled', true);
            $('#bininfo').removeClass('disabled');
           	$('#binmodalbody').html('');

           	$('#vaid').hide();
           	$('#predefined').show();
           	$('#predefined').html(' - ');
        }
  	}

  	function binChange_bulk(bin){
  		if (bin != '') {

  			var bulk = '1'; //bulk true
            var dataString = 'bin=' + bin + '&bulk=' + bulk;

            $.ajax({
                type: "GET",
                data: dataString,
                url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'bincheck'), null, true) ?>",
                success: function(data) {

                    var resultdata = JSON.parse(data);

                    var result = resultdata.bindata;

                    //view bin info
                    $('#bininfo_bulk').prop('disabled', false);
                    $('#bininfo_bulk').removeClass('disabled');
                   	$('#binmodalbody_bulk').html(resultdata.bininfohtml);


                    var vatype = result.VA_TYPE;

                   	//if static
                    if (vatype != 0) {
                    	//immediate show first
                    	$('#immediate_bulk').show();
				        $('#future_bulk').hide();
				        // $('#periodic_bulk').hide();

				        $('#immediateswitch_bulk').show();
				        $('#futuredateswitch_bulk').show();
				        // $('#periodicswitch_bulk').show();
                    }
                    //if dynamic
                    else{
                    	//immediate show first
                    	$('#immediate_bulk').show();
				        $('#future_bulk').hide();
				        // $('#periodic_bulk').hide();

				        //only immediate
				        $('#immediateswitch_bulk').show();
				        $('#futuredateswitch_bulk').hide();
				        // $('#periodicswitch_bulk').hide();
                    }

                    //-------------------------effective time------------------------------
                    var trfDateType = '<?php echo $this->trfDateType; ?>';

			        if (trfDateType != '') {
			        	//immediate
			        	if (trfDateType == '2') {
			        		$('#immediate_bulk').hide();
						    $('#future_bulk').show();
						    $('#periodic_bulk').hide();

						    $('input[name=tranferdatetype_bulk][value="2"]').prop('checked', true);
			        	}
			        	//future date
			        	else if(trfDateType == '3'){
			        		$('#immediate_bulk').hide();
						    $('#future_bulk').hide();
						    $('#periodic_bulk').show();

						    $('input[name=tranferdatetype_bulk][value="3"]').prop('checked', true);
			        	}
			        	//immediate
			        	else{
			        		$('#immediate_bulk').show();
						    $('#future_bulk').hide();
						    $('#periodic_bulk').hide();

						    $('input[name=tranferdatetype_bulk][value="1"]').prop('checked', true);
			        	}
			        }

			         //-------------------------Expired time------------------------------
                    var exptime = result.EXP_TIME;
                    var ex_time_type = result.EX_TIME_TYPE;
                    var ex_time = result.EX_TIME;

                    if (exptime == 1) {
                    	$('#predefined_bulk').show();
                    	$('#inputLater_bulk').hide();

                    	//Minute
                    	if (ex_time_type == '0') {
                    		var extimetype = ' Minute(s)';
                    	}
                    	//Hour
                    	else if (ex_time_type == '1') {
                    		var extimetype = ' Hour(s)';
                    	}
                    	//days
                    	else{
							var extimetype = ' Day(s)';
                    	}	

                    	var predefined = 'Predefined set to '+ ex_time + extimetype + ' after effective';

                    	$('#predefined_bulk').html('<b>'+predefined+'</b>');
                    }
                    else{
                    	$('#predefined_bulk').hide();
                    	$('#inputLater_bulk').show();
                    }

                    //-------------------------notif------------------------------
                    var notif = '<?php echo $this->notif ?>';
                    if (notif == '2') {
                    	$('.notif').show();
                    	$('input[name=notif][value="2"]').prop('checked', true);
                    }
                    else{
                    	$('.notif').hide();
                    	$('input[name=notif][value="1"]').prop('checked', true);
                    }

                },
                error: function(data) {
                    alert('Failed to get data, Please try again');
                }
            });
        }
        else{
        	$('#bininfo_bulk').prop('disabled', true);
            $('#bininfo_bulk').removeClass('disabled');
           	$('#binmodalbody_bulk').html('');

           	$('#predefined_bulk').show();
           	$('#predefined_bulk').html(' - ');
        }
  	}

  function showImmediate(){
  	$('#immediate').show();
    $('#future').hide();
    $('#periodic').hide();

    $('input[name=tranferdatetype][value="1"]').prop('checked', true);
  }

  function showFutureDate(){
  	$('#immediate').hide();
    $('#future').show();
    $('#periodic').hide();

    $('input[name=tranferdatetype][value="2"]').prop('checked', true);
  }

  function showPeriodic(){
  	$('#immediate').hide();
    $('#future').hide();
    $('#periodic').show();

    $('input[name=tranferdatetype][value="3"]').prop('checked', true);
  }

  function setDate(val) {
    document.getElementById('PS_EFDATE').value = val;
  }

  function cekPeriodic() {
    $("#PeriodicEvery").attr('checked', 'checked');


    var dateNow = new Date();
    var d = dateNow.getDate();
    var m = dateNow.getMonth() + 1;
    var n = m.toString().length;

    if (n == 1) {
      m = "0" + m;
    } else {
      m = m;
    }
    var y = dateNow.getFullYear();

    document.getElementById('PS_EFDATE').value = y + "/" + m + "/" + d;

  }

  function cekPeriodicEvery() {

    var dateNow = new Date();
    var d = dateNow.getDate();
    var m = dateNow.getMonth() + 1;
    var n = m.toString().length;

    if (n == 1) {
      m = "0" + m;
    } else {
      m = m;
    }
    var y = dateNow.getFullYear();

    document.getElementById('PS_EFDATE').value = y + "/" + m + "/" + d;
  }

  function cekPeriodicEveryDate() {

    var dateNow = new Date();
    var d = dateNow.getDate();
    var m = dateNow.getMonth() + 1;
    var n = m.toString().length;

    if (n == 1) {
      m = "0" + m;
    } else {
      m = m;
    }
    var y = dateNow.getFullYear();

    document.getElementById('PS_EFDATE').value = y + "/" + m + "/" + d;
  }

  //-------------------------------------bulk------------------------------------------
  function setDate_bulk(val) {
    document.getElementById('PS_EFDATE_bulk').value = val;
  }

  function cekPeriodic_bulk() {
    $("#PeriodicEvery_bulk").attr('checked', 'checked');


    var dateNow = new Date();
    var d = dateNow.getDate();
    var m = dateNow.getMonth() + 1;
    var n = m.toString().length;

    if (n == 1) {
      m = "0" + m;
    } else {
      m = m;
    }
    var y = dateNow.getFullYear();

    document.getElementById('PS_EFDATE_bulk').value = y + "/" + m + "/" + d;

  }

  function cekPeriodicEvery_bulk() {

    var dateNow = new Date();
    var d = dateNow.getDate();
    var m = dateNow.getMonth() + 1;
    var n = m.toString().length;

    if (n == 1) {
      m = "0" + m;
    } else {
      m = m;
    }
    var y = dateNow.getFullYear();

    document.getElementById('PS_EFDATE_bulk').value = y + "/" + m + "/" + d;
  }

  function cekPeriodicEveryDate_bulk() {

    var dateNow = new Date();
    var d = dateNow.getDate();
    var m = dateNow.getMonth() + 1;
    var n = m.toString().length;

    if (n == 1) {
      m = "0" + m;
    } else {
      m = m;
    }
    var y = dateNow.getFullYear();

    document.getElementById('PS_EFDATE_bulk').value = y + "/" + m + "/" + d;
  }

  //--------------------------end bulk---------------------------------

  function input(selected) {

    var status = $(selected).data('status');

    if (status == 0) {
      $('#idfile_bulk').attr('readonly', true);
      $('#idfile_bulk').val('BYPASSIDFU');

      $('#subtitle').text(' to unbypass ID File Upload validation');

      $(selected).data('status', 1);
    }
    else{
      $('#idfile_bulk').removeAttr('readonly');
      $('#idfile_bulk').val('');
      $('#subtitle').text(' to bypass ID File Upload validation');

      $(selected).data('status', 0);
    }
  }

function numberWithCommas(x,id) {
	const formattermoney = new Intl.NumberFormat('ID', {
		minimumFractionDigits: 0
	});
	var tag = '#'+id;
		// $(nams).text(formattermoney.format(obj[k].BALANCE));
	var x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		$(tag).val(x);
//return 
}
</script>

<style type="text/css">
	.indicator.online {
      background: #28B62C;
      display: inline-block;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      -webkit-animation: pulse-animation 2s infinite linear;
  	}

  	.indicator.offline {
        background: #FF4136;
        display: inline-block;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        -webkit-animation: pulse-animation 2s infinite linear;
        
    }

    .indicator.warning {
        background: #F7CF32;
        display: inline-block;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        -webkit-animation: pulse-animation 2s infinite linear;
    }

    @-webkit-keyframes pulse-animation {
	    0% { -webkit-transform: scale(1); }
	    25% { -webkit-transform: scale(1); }
	    50% { -webkit-transform: scale(1.2) }
	    75% { -webkit-transform: scale(1); }
	    100% { -webkit-transform: scale(1); }
  	}

  	.nav-tabs .nav-link {
        border-color: #c9c9c9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 135px;
        text-align: center;
    }
    .nav-tabs .nav-link:hover {
        border-color: #c9c9c9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color:white;
        margin-top: -10px;
        padding-bottom: 10px;
        top: -10px;
        padding-top: 18px;
        height: 47.5px;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
        color:white;
        border-color: #dee2e6 #dee2e6 #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-top: -10px;
        padding-bottom: 10px;
        top: -10px;
        padding-top: 14px;
        height: 47.5px;
        font-size: 13px
     }

     i .disabled{
     	color: grey;
     	cursor: not-allowed;
     }

     .input-group-addon{
     	min-width: 80px;
     	padding: 6px 12px;
     	margin-right: 5px;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 1;
	    color: #555;
	    text-align: center;
	    background-color: #eee;
	    border: 1px solid #ccc;
	    border-radius: 4px;
     }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
            	<li>
                    <span><?php echo $this->language->_('Virtual Account'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas"><?php echo $this->language->_('eCollection'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?php echo $this->language->_('Add');?></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="portlet-body">
	
	<div class="row col-md-12">
		<div class="col-md-6" align="left">
			<h5 class="homeCardText"><b><?php echo $this->language->_('eCollection Add Document');?></b></h5>
		</div>
		<div class="col-md-6" align="right">
			<button type="button" class="btngrad disabled" id="bininfo" data-toggle="modal" data-target="#binModal" disabled><i class="fa fa-file-search"></i>&nbsp;View BIN</button>
			<button type="button" class="btngrad disabled" id="bininfo_bulk" data-toggle="modal" data-target="#binModal_bulk" style="display: none;" disabled><i class="fa fa-file-search"></i>&nbsp;View Bin</button>
		</div>
	</div>

	<!-- Modal Single -->
	<div class="modal fade" id="binModal" tabindex="-1" role="dialog" aria-labelledby="binModal" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Bin Parameter Detail</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="binmodalbody">
	        	
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal Bulk -->
	<div class="modal fade" id="binModal_bulk" tabindex="-1" role="dialog" aria-labelledby="binModal_bulk" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Bin Parameter Detail</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="binmodalbody_bulk">
	        	
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<br>
	<br>
	
	<ul class="nav nav-tabs">
       <li class="nav-item">
          <a class="nav-link active" id="single-tab" href="#" value="single" aria-controls="single" aria-selected="true"><?php echo $this->language->_('Single');?></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="bulk-tab" href="#" value="bulk" aria-controls="bulk" aria-selected="false"><?php echo $this->language->_('Bulk');?></a>
        </li>
    </ul>

    <br>
		
	<!-- ----------------------------------------------------------------single tab------------------------------------------------------- -->
    <div id="single">
    <form id="filterForm" name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">

	<?php if($this->TrfDateType == '2'){
        ?>
              <input type="hidden" id="PS_EFDATE" name="PS_EFDATE" value="<?= $this->PS_EFDATEFUTURE ?>" />

        <?php
      }else{
        ?>
              <input type="hidden" id="PS_EFDATE" name="PS_EFDATE" value="<?= date('d/m/Y') ?>" />
        <?php
      }
    ?>

	<div class="row pt-1">
    <div class="col-md-7">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label"><?php echo $this->language->_('BIN'); ?></label>
        <div class="col-sm-8 pt-2">
        	<select name="bin" class="form-control" id="bin" disabled>
        		<?php echo $this->optBin; ?>
        	</select>
        </div>
        <div class="col-md-12" align="right">
            <div id="error_bin" class="errmsg"></div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label"><?php echo $this->language->_('VA Number'); ?></label>
        <div class="col-sm-8 pt-1">
        	<div class="input-group" id="vanumstaticdiv">
	        	<div class="input-group-addon" id="binDisp"></div>
	         	<select name="vanumber" class="form-control" id="vanumber">
				</select>
        	</div>
        	<div id="vanumdynamicdiv" style="display: none;">
        		<p class="m-0"><b><?php echo $this->language->_('Auto Generated'); ?></b></p>
        	</div>
        </div>
        <div class="col-md-12" align="right">
            <div id="error_vanumber" class="errmsg"></div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label"><?php echo $this->language->_('VA Name'); ?></label>
        <div class="col-sm-8">
        	<!-- <input type="text" name="vaname" id="vaname" class="form-control" value="<?php echo $this->vaname; ?>"> -->
			<?php
              echo $this->formText("vaname", $this->vaname, array('id' => "vaname", 'class' => 'form-control'))
			?>
        </div>
        <div class="col-md-12" align="right">
            <div id="error_vaname" class="errmsg"></div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Email Address'); ?></label>
        <div class="col-sm-8">
        	<!-- <input type="text" name="emailAddress" id="emailAddress" class="form-control" value="<?php echo $this->emailaddress; ?>"> -->
			<?php
              echo $this->formText("emailAddress", $this->emailAddress, array('id' => "emailAddress", 'class' => 'form-control'))
			?>
        </div>
        <div class="col-md-12" align="right">
            <div id="error_emailAddress" class="errmsg"></div>
        </div>
      </div>
	  <div class="form-group row" id="vaid" style="display: none;">
        <label class="col-sm-4 col-form-label"><?php echo $this->language->_('VA ID'); ?></label>
        <div class="col-sm-8">
        	<p class="m-0"><b><?php echo $this->language->_('Auto Generated'); ?></b></p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Invoice Amount'); ?></label>
        <div class="col-sm-8">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text" style="padding-left: 0; border: 0; background-color: white;">
                  <strong>
                    <span class="inhouse" id="currinhouse">IDR</span>
                  </strong>
                </div>
              </div>
              <?php
              echo $this->formText("invoice_amount", $this->invoice_amount, array('id' => "invoice_amount", 'maxlength' => '20', 'autocomplete' => 'off', 'class' => 'form-control', "style" => "text-align: right;font-size: 1.2em;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "numberWithCommas(this.value,this.id);", 'onkeypress' => "return forceCurrencyOCBC(event)"));
			  
              ?>
            </div>
        </div>
        <div class="col-md-12" align="right">
            <div id="error_invoice_amount" class="errmsg"></div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Message'); ?></label>
        <div class="col-sm-8 <?= $ispadding ?>">
          <?php
            echo $this->formTextarea('message', $this->message, array(
              'class' => 'form-control', 'cols' => '30', 'rows' => '4',
              'onKeypress' => 'return isSpclChar(event)'
            ));
          ?>
        </div>
        <div class="col-md-12" align="right">
            <div id="error_message" class="errmsg"></div>
        </div>
      </div>

    </div><!-- End Left Column -->

    <div class="col-md-5">
      <?php
      echo $this->formHidden('payDateType', $this->payDateType);
      echo $this->formHidden('tranferdatetype', $this->TrfDateType);
      echo $this->formHidden('tranferdateperiodictype', $this->TrfPeriodicType);
      echo $this->formHidden('PERIODIC_EVERY', $this->PERIODIC_EVERY);
      echo $this->formHidden('PERIODIC_EVERYDATE', $this->PERIODIC_EVERYDATE);
      ?>

    <div class="form-group row" style="display:none">
      <div class="col-md-3">
        <?php echo $this->language->_('Effective Time'); ?>
      </div>
      <div class="col-md-9">
        <?php $immidiateTransfer = date('d/m/Y') ?>
        <input type="hidden" name="immediateTransfer" id="immediateTransfer" value="<?php echo $immidiateTransfer ?>">

          <div class="switch-field">
		  <div id="immediateswitch">
	          <input type="radio" id="switch_3_left" name="tranferdatetype" value="1" <?php if ($this->TrfDateType == '1') { echo ('checked'); } ?> />
	          <label for="switch_3_left" style="width: 75px; font-size: 11px; border-radius: 4px 0 0 4px;"><?php echo $this->language->_('Immediate'); ?></label>
		  </div>
          <div id="futuredateswitch">
          	<input type="radio" id="switch_3_center" name="tranferdatetype" value="2" <?php if ($this->TrfDateType == '2') {echo ('checked');} ?> />
            <label for="switch_3_center" style="width: 95px; font-size: 11px; border-radius: 0;"><?php echo $this->language->_('Future Date'); ?></label>
          </div>

          
          <div id="periodicswitch" style="display:none;">
            <input type="radio" id="switch_3_right" name="tranferdatetype"  onclick="cekPeriodic()" id="tranferdatetypePeriodic" value="3" <?php if ($this->TrfDateType == '3') { echo ('checked'); } ?>>
            <label for="switch_3_right" style="width: 75px; font-size: 11px; border-radius: 0 4px 4px 0;"><?php echo $this->language->_('Periodic'); ?></label>
          </div>
          

        </div>


      </div>



    </div>

    <div id="immediate">
      <div class="content-box" style="height: 100px;"><br />
        <strong style="margin-left: 25px;"><?= $this->language->_('Current Time and Date') ?></strong><br />
        <span style="font-size:1.5rem;margin-left: 25px;"><?= date('d M Y H:i:s') ?></span>
      </div>
    </div>

    <!-- if inhouse -->
    <div class="inhouse">
      <div id="future" style="display:none;">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label"><?= $this->language->_('Choose Date') ?></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="PS_FUTUREDATE" id="PS_FUTUREDATE" value="<?= $this->PS_EFDATEFUTURE ?>" onchange='setDate(this.value);' readonly>
            <script>
              $('#PS_FUTUREDATE').datepicker({
                minDate: function() {
                  var date = new Date();
                  date.setDate(date.getDate());
                  return new Date(date.getFullYear(), date.getMonth(), date.getDate());
                },
                format: 'yyyy-mm-dd',
                uiLibrary: 'bootstrap4',
              });
            </script>
          </div>
        </div>
      </div>

      <div id="periodic" style="display:none;">
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input name="tranferdateperiodictype" value="5" id="PeriodicEvery" type="radio" <?php if ($this->TrfPeriodicType == '5') {
                                                                                                  echo ('checked');
                                                                                                } ?>>
              </div>
            </div>
            <?php
              $arrFirst = array();
              $arrFirst['0'] = $this->language->_('-- Select Day --');
              $this->periodicEveryArr = array_merge($arrFirst, $this->periodicEveryArr);
              echo $this->formSelect('PERIODIC_EVERY', $this->PERIODIC_EVERY, array('id' => 'paymentType', 'onclick' => 'cekPeriodicEvery()', 'class' => 'form-control'), $this->periodicEveryArr);
            
            ?>
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input name="tranferdateperiodictype" value="6" id="PeriodicEveryDate" type="radio" <?php if ($this->TrfPeriodicType == '6') {
                                                                                                      echo ('checked');
                                                                                                    } ?>>
              </div>
            </div>
            <?php
              $arrFirst = array();
              $arrFirst['0'] = $this->language->_('-- Every Date of --');
              $this->periodicEveryDateArr = array_merge($arrFirst, $this->periodicEveryDateArr);
              echo $this->formSelect('PERIODIC_EVERYDATE', $this->PERIODIC_EVERYDATE, array('id' => 'paymentType', 'onclick' => 'cekPeriodicEveryDate()', 'class' => 'form-control'), $this->periodicEveryDateArr, null, 'periodic');
            ?>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label"><?php echo $this->language->_('End Date Of'); ?></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="PS_ENDDATEPERIODIC" id="PS_ENDDATEPERIODIC" value="<?= $this->endDatePeriodic ?>" readonly>
            <script>
              $('#PS_ENDDATEPERIODIC').datepicker({
                minDate: function() {
                  var date = new Date();
                  date.setDate(date.getDate() + 1);
                  return new Date(date.getFullYear(), date.getMonth(), date.getDate());
                },
                format: 'yyyy-mm-dd',
                uiLibrary: 'bootstrap4'
              });
            </script>
          </div>
        </div>
      </div>
    </div>
    <!-- if inhouse ends -->

    <br>
	
	<div class="form-group row">
      <label name="exptime" class="col-sm-3 col-form-label"><?= $this->language->_('Expired Time') ?></label>
      <div class="col-sm-9 pt-1">
      	<div id="predefined"> - </div>
      	<div id="inputLater" style="display: none;">
      		<div class="col-md-12 row" style="padding-left:0px;padding-right:0px">
      			<div class="col-md-7" style="padding-left:0px;padding-right:0px">
      				<input type="text" id="exp_date" name='exp_date' value="<?php echo $this->exp_date; ?>" data-date-format='yyyy-mm-dd' autocomplete='off' readonly>
      			</div>
      			<div class="col-md-5" style="padding-right:0px">
      				<input id="exp_time" type="text" name="exp_time" value="<?php echo $this->exp_time; ?>" class="form-control input-small time pl-3" style="color: #495057" readonly>
      			</div>
      		</div>
      	</div>
      </div>
    </div>


	<br>
      <div style="display:none">
        <h5><?= $this->language->_('Notification') ?></h5>
        <hr />
        <div class="form-group row">
          <label name="notif" class="col-sm-6 col-form-label"><?= $this->language->_('Send notification ?') ?></label>
          <div class="col-sm-6 pt-2">
              <div class="switch-field">
                <input type="radio" id="notif_left" name="notif" class="notif" value="1" checked />
                <label for="notif_left" style="width: 50px;"><?php echo $this->language->_('No'); ?></label>
                <input type="radio" id="notif_right" name="notif" class="notif" value="2" />
                <label for="notif_right" style="width: 50px;"><?php echo $this->language->_('Yes'); ?></label>
              </div>
          </div>

        </div>
        <div class="form-group row notif" style="display: none;">
	        <label name="notif" class="col-sm-6 col-form-label"><?= $this->language->_('Email') ?></label>
	        <div class="col-sm-6 pt-2">
	            <div class="form-check form-check-inline">
	              <?php
	              echo $this->formText("email_notif", $this->email_notif, array('class' => 'form-control', 'id' => "email_notif", 'maxlength' => '128'));
	              ?>
	            </div>
	        </div>
        </div>

        <div class="form-group row notif" style="display: none">
            <label name="notif" class="col-sm-6 col-form-label"><?= $this->language->_('SMS') ?></label>
            <div class="col-sm-6 pt-2">
                <div class="form-check form-check-inline">
                  <?php
                  echo $this->formText("sms_notif", $this->sms_notif, array('class' => 'form-control', 'id' => "sms_notif", 'maxlength' => '128'));

                  ?>
                </div>
            </div>
          </div>
          <div class="form-group row notif" style="display: none;">
            <label class="col-sm-12 col-form-label">*Charge will be occur for sms usage</label>
          </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 mt-4" align="center">
  	<input type="button" name="Back" class="btnwhite hov mt-1" id="btnBack1" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => 'binecollection', 'action' => 'index', 'filter' => '1', 'BIN' => $this->getbin, 'vatype' => $this->getvatype), null, true) ?>'" value="Back">
    <input type="submit" name="next_single" class="btngreen hov mt-1" id="btnNext" value="Next">
  </div>
</form>
</div>
    <!-- ----------------------------------------------------------------end single tab------------------------------------------------------- -->
	
	<!-- ----------------------------------------------------------------bulk tab------------------------------------------------------- -->
    <div id="bulk" style="display: none;">
    	<form method="post" enctype="multipart/form-data">
			
			<?php if($this->TrfDateType == '2'){
		        ?>
		              <input type="hidden" id="PS_EFDATE_bulk" name="PS_EFDATE_bulk" value="<?= $this->PS_EFDATEFUTURE ?>" />

		        <?php
		      }else{
		        ?>
		              <input type="hidden" id="PS_EFDATE_bulk" name="PS_EFDATE_bulk" value="<?= date('d/m/Y') ?>" />
		        <?php
		      }
		    ?>

			<div class="row pt-1">
			    <div class="col-md-7">
			        <div class="form-group row">
				        <label class="col-sm-4 col-form-label"><?php echo $this->language->_('BIN'); ?></label>
				        <div class="col-sm-8 pt-2">
				        	<select name="bin_bulk" class="form-control" id="bin_bulk">
				        		<?php echo $this->optBin; ?>
				        	</select>
				        </div>
				        <div class="col-md-12" align="right">
				            <div id="error_bin_bulk" class="errmsg"></div>
				        </div>
			        </div>
			        <div class="form-group row">
				        <label class="col-sm-4 col-form-label"><?php echo $this->language->_('ID File Upload'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
				        <div class="col-sm-8">
				        	<input type="text" name="idfile_bulk" id="idfile_bulk" value="<?php echo $this->idfile_bulk; ?>" class="form-control">
				        	<div class="input-group">
				        		* <a href="#" onclick="input(this)" data-status="0"><u style="color: blue;">Click here</u></a><p id="subtitle" class="ml-1"> to bypass ID File Upload validation</p>
				        	</div>	
				        </div>
				        <div class="col-md-12" align="right">
				            <div id="error_idfile_bulk" class="errmsg"></div>
				        </div>
			        </div>

					<br>

			        <div class="form-group row ">
					    <label class="homeCardText col-md-4 mt-1"><?php echo $this->language->_('Upload Document'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
					    <div class="col-md-8">
					        <div class="file-upload" id="fileupload1">
					          <div class="file-select">
					            <div class="file-select-button" id="fileName">Choose File</div>
					            <div class="file-select-name" id="noFile"><?php echo $this->language->_('Upload Your File Here...'); ?></div>
					            <input type="file" name="uploaddoc_bulk" id="chooseFile" onchange="return fileValidation()">
					          </div>
					        </div>
					        <p class="text-black-50 m-0"><i>* <?php echo $this->language->_('Supported file format .txt (max 5,000 data per upload)'); ?></i></p>
					        <?php 
					        	$file = '/template/Template_VA_eCollection.xlsx';
					        ?>
					        <a href="<?=$file?>"><u><?php echo $this->language->_('Download Template'); ?></u></a>
					    </div>
					    <div class="col-md-12" align="right">
				            <div id="error_uploaddoc_bulk" class="errmsg"></div>
				        </div>
					</div>

					<br>

					<div class="form-group row">
				        <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Upload Action'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
				        <div class="col-sm-8">
				        	<select name="uploadaction_bulk" class="form-control" id="uploadaction_bulk">
				        		<option value="0"><?=$this->language->_('Add New VA');?></option>
				        		<option value="1"><?=$this->language->_('Overwrite VA');?></option>
				        		<option value="2"><?=$this->language->_('Cancel VA');?></option>
				        	</select>
				        </div>
				         <div class="col-md-12" align="right">
				            <div id="error_uploadaction_bulk" class="errmsg"></div>
				        </div>
			        </div>

			    </div><!-- End Left Column -->

			    <div class="col-md-5" id="rightColumn">
			      <?php
			      echo $this->formHidden('payDateType', $this->payDateType);
			      echo $this->formHidden('tranferdatetype', $this->TrfDateType);
			      echo $this->formHidden('tranferdateperiodictype', $this->TrfPeriodicType);
			      echo $this->formHidden('PERIODIC_EVERY', $this->PERIODIC_EVERY);
			      echo $this->formHidden('PERIODIC_EVERYDATE', $this->PERIODIC_EVERYDATE);
			      ?>

			    <div class="form-group row" style="display:none">
			      <div class="col-md-3">
			        <?php echo $this->language->_('Effective Time'); ?>
			      </div>
			      <div class="col-md-9">
			        <?php $immidiateTransfer = date('d/m/Y') ?>
			        <input type="hidden" name="immediateTransfer_bulk" id="immediateTransfer_bulk" value="<?php echo $immidiateTransfer ?>">

			          <div class="switch-field">
					  <div id="immediateswitch_bulk">
				          <input type="radio" id="switch_3_left_bulk" name="tranferdatetype_bulk" value="1" <?php if ($this->TrfDateType == '1') { echo ('checked'); } ?> />
				          <label for="switch_3_left_bulk" style="width: 75px; font-size: 11px; border-radius: 4px 0 0 4px;"><?php echo $this->language->_('Immediate'); ?></label>
					  </div>
			          <div id="futuredateswitch_bulk">
			          	<input type="radio" id="switch_3_center_bulk" name="tranferdatetype_bulk" value="2" <?php if ($this->TrfDateType == '2') {echo ('checked');} ?> />
			            <label for="switch_3_center_bulk" style="width: 95px; font-size: 11px; border-radius: 0;"><?php echo $this->language->_('Future Date'); ?></label>
			          </div>

			          
			          <div id="periodicswitch_bulk" style="display: none;">
			            <input type="radio" id="switch_3_right_bulk" name="tranferdatetype_bulk"  onclick="cekPeriodic_bulk()" id="tranferdatetypePeriodic_bulk" value="3" <?php if ($this->TrfDateType == '3') { echo ('checked'); } ?>>
			            <label for="switch_3_right_bulk" style="width: 75px; font-size: 11px; border-radius: 0 4px 4px 0;"><?php echo $this->language->_('Periodic'); ?></label>
			          </div>
			        </div>
			      </div>
			    </div>

			    <div id="immediate_bulk">
			      <div class="content-box" style="height: 100px;"><br />
			        <strong style="margin-left: 25px;"><?= $this->language->_('Current Time and Date') ?></strong><br />
			        <span style="font-size:1.5rem;margin-left: 25px;"><?= date('d M Y H:i:s') ?></span>
			      </div>
			    </div>

			    <!-- if inhouse -->
			    <div class="inhouse_bulk">
			      <div id="future_bulk" style="display:none;">
			        <div class="form-group row">
			          <label class="col-sm-3 col-form-label"><?= $this->language->_('Choose Date') ?></label>
			          <div class="col-sm-8">
			            <input type="text" class="form-control" name="PS_FUTUREDATE_bulk" id="PS_FUTUREDATE_bulk" value="<?= $this->PS_EFDATEFUTURE ?>" onchange='setDate_bulk(this.value);' readonly>
			            <script>
			              $('#PS_FUTUREDATE_bulk').datepicker({
			                format: 'yyyy-mm-dd',
			                uiLibrary: 'bootstrap4',
			              });
			            </script>
			          </div>
			        </div>
			      </div>

			      <div id="periodic_bulk" style="display:none;">
			        <div class="form-group">
			          <div class="input-group mb-3">
			            <div class="input-group-prepend">
			              <div class="input-group-text">
			                <input name="tranferdateperiodictype_bulk" value="5" id="PeriodicEvery_bulk" type="radio" <?php if ($this->TrfPeriodicType == '5') {
			                                                                                                  echo ('checked');
			                                                                                                } ?>>
			              </div>
			            </div>
			            <?php
			              $arrFirst = array();
			              $arrFirst['0'] = $this->language->_('-- Select Day --');
			              $this->periodicEveryArr = array_merge($arrFirst, $this->periodicEveryArr);
			              echo $this->formSelect('PERIODIC_EVERY_bulk', $this->PERIODIC_EVERY, array('id' => 'paymentType_bulk', 'onclick' => 'cekPeriodicEvery_bulk()', 'class' => 'form-control'), $this->periodicEveryArr);
			            ?>
			          </div>

			          <div class="input-group">
			            <div class="input-group-prepend">
			              <div class="input-group-text">
			                <input name="tranferdateperiodictype_bulk" value="6" id="PeriodicEveryDate_bulk" type="radio" <?php if ($this->TrfPeriodicType == '6') {
			                                                                                                      echo ('checked');
			                                                                                                    } ?>>
			              </div>
			            </div>
			            <?php
			              $arrFirst = array();
			              $arrFirst['0'] = $this->language->_('-- Every Date of --');
			              $this->periodicEveryDateArr = array_merge($arrFirst, $this->periodicEveryDateArr);
			              echo $this->formSelect('PERIODIC_EVERYDATE_bulk', $this->PERIODIC_EVERYDATE, array('id' => 'paymentType_bulk', 'onclick' => 'cekPeriodicEveryDate_bulk()', 'class' => 'form-control'), $this->periodicEveryDateArr, null, 'periodic');
			            ?>
			          </div>
			        </div>

			        <div class="form-group row">
			          <label class="col-sm-3 col-form-label"><?php echo $this->language->_('End Date Of'); ?></label>
			          <div class="col-sm-8">
			            <input type="text" class="form-control" name="PS_ENDDATEPERIODIC_bulk" id="PS_ENDDATEPERIODIC_bulk" value="<?= $this->endDatePeriodic ?>" readonly>
			            <script>
			              $('#PS_ENDDATEPERIODIC_bulk').datepicker({
			                minDate: function() {
			                  var date = new Date();
			                  date.setDate_bulk(date.getDate() + 1);
			                  return new Date(date.getFullYear(), date.getMonth(), date.getDate());
			                },
			                format: 'yyyy-mm-dd',
			                uiLibrary: 'bootstrap4'
			              });
			            </script>
			          </div>
			        </div>
			      </div>
			    </div>
			    <!-- if inhouse ends -->

			    <br>
				
				<div class="form-group row" style="display:none">
			      <label name="exptime_bulk" class="col-sm-3 col-form-label"><?= $this->language->_('Expired Time') ?></label>
			      <div class="col-sm-9 pt-1">
			      	<div id="predefined_bulk"> - </div>
			      	<div id="inputLater_bulk" style="display: none;">
			      		-
			      	</div>
			      </div>
			    </div>

			  </div>

			  <div class="col-md-12 mt-4" align="center">
			  	<input type="button" name="back" class="btnwhite hov mt-1" id="btnBack2" value="Back" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => 'binecollection', 'action' => 'index', 'filter' => '1', 'BIN' => $this->getbin, 'vatype' => $this->getvatype), null, true) ?>'">
                <input type="submit" name="next_bulk" class="btngreen hov mt-1" id="btnNext" value="Next">
			  </div>
		</form>
    </div>
    </div>
    <!-- ----------------------------------------------------------------end bulk tab------------------------------------------------------- -->
</div>

<br>
<br>
<br>
<br>

