<?php 
require_once 'General/SystemBalance.php';
?>
<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php 
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>

<style type="text/css">
  .tableNext{
    font-size: 1.2em;
    border-collapse:separate; 
    border-spacing:0 15px;
  }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
            	<li>
                    <span><?php echo $this->language->_('Virtual Account'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas"><?php echo $this->language->_('eCollection'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?php echo $this->language->_('Add');?></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="portlet-body">

  <div class="row col-md-12">
    <div class="col-md-6" align="left">
      <h5 class="homeCardText"><b><?php echo $this->language->_('eCollection Add Document');?></b></h5>
  <h6 class="text-black-50"><b><?php echo $this->language->_('Confirmation Page');?></b></h6>
    </div>
    <div class="col-md-6" align="right">
      <button type="button" class="btngrad" id="bininfo" data-toggle="modal" data-target="#binModal"><i class="fa fa-file-search"></i>&nbsp;View BIN</button>
    </div>
  </div>

	<!-- Modal Single -->
	<div class="modal fade" id="binModal" tabindex="-1" role="dialog" aria-labelledby="binModal" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Bin Parameter Detail</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="binmodalbody">
	        	<?php echo $this->bininfohtml; ?>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<br>
	<br>

  <form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'next'),null,true)?>" method="post">
    
    <div class="row col-md-12">
      <div class="col-md-7 p-0">
        <table class="tableNext" width="100%">
          <tr>
            <td class="text-black-50" width="40%"><?php echo $this->language->_('Bin');?></td>
            <td><?php echo $this->bin; ?></td>
          </tr>
          <tr>
            <td class="text-black-50" width="40%"><?php echo $this->language->_('VA Number');?></td>
            <td><?php echo $this->vanumber; ?></td>
          </tr>
          <tr>
            <td class="text-black-50" width="40%"><?php echo $this->language->_('VA Name');?></td>
            <td><?php echo $this->vaname; ?></td>
          </tr>

          <?php if ($this->vatype != '0') { //static ?>

          <tr>
            <td class="text-black-50" width="40%"><?php echo $this->language->_('VA ID');?></td>
            <td><?php echo $this->language->_('Auto Generated'); ?></td>
          </tr>

          <?php } ?>
          
          <tr>
              <td class="text-black-50"><?php echo $this->language->_('Email');?></td>
              <td><?php echo $this->emailAddress; ?></td>
          </tr>
          <tr>
            <td class="text-black-50" width="40%"><?php echo $this->language->_('Invoice Amount');?></td>
            <td><?php echo 'IDR ' . $this->invoice_amount; ?></td>
          </tr>
          <tr>
            <td class="text-black-50" width="40%"><?php echo $this->language->_('Message');?></td>
            <td><?php echo $this->message; ?></td>
          </tr> 
        </table>
      </div>
      <div class="col-md-5">
        <table class="tableNext" width="100%">
          <tr>
            <td class="text-black-50"><?php echo $this->language->_('Effective Time');?></td>
            <td><?php echo $this->efstatus.' / '.Application_Helper_General::convertDate($this->efdate,"dd MMM yyyy HH:mm:ss "); ?></td>
          </tr>
          <tr>
            <td class="text-black-50"><?php echo $this->language->_('Expired Time');?></td>
            <td><?php echo $this->expdate; ?></td>
          </tr>
          <tr style="display:none">
            <td class="text-black-50"><?php echo $this->language->_('Notification');?></td>
            <td><?php echo $this->notif; ?></td>
          </tr>

          <?php if ( $this->notif == 'Yes') { ?>
            <tr>
              <td class="text-black-50"><?php echo $this->language->_('SMS');?></td>
              <td><?php echo $this->sms_notif ?></td>
            </tr> 
          <?php } ?>

        </table>
      </div>
    </div>
    



    <div class="col-md-12 mt-4" align="center">
        <input type="submit" name="back" class="btnwhite hov mt-1" id="btnBack" value="Back">
        <input type="submit" name="submit" class="btngreen hov mt-1" value="Submit">  
    </div>
  </form>
	
	

</div>

<br>
<br>
<br>
<br>

