<?php if ($this->cashCollateral) { ?>
  <div class="tabheader" id="tabheader"><?php echo $this->language->_('Setup Cash Collateral Charges'); ?></div>
<?php } else { ?>
  <div class="tabheader" id="tabheader"><?php echo $this->language->_('Suggestion Detail - Setup Remittance Charges'); ?></div>
<?php } ?>
<?php if ($this->changes_id) {
  echo $this->action(
    'message',
    'tools',
    'changemanagement',
    array('changes_id' => $this->changes_id)
  );
?>
  <br />

  <?php if ($this->cashCollateral) { ?>
    <table cellpadding="3" cellspacing="0" border="0" class="table-sm table table-striped table-responsive table-sugg">
      <tr class="diffRow">
        <th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Suggestion Detail'); ?></strong></th>
      </tr>
      <tr class="diffRow">
        <td width="200" class="tbl-evencontent"><?= $this->language->_('Bank Provision Fee'); ?></td>
        <td width="200" class="tbl-evencontent" style="width: 300px;"><?= number_format($this->data["CHARGES_PCT"], 4); ?> % (from BG Nominal)</td>
      </tr>
      <tr class="diffRow">
        <td width="200" class="tbl-evencontent"><?= $this->language->_('Bank Administration Fee'); ?></td>
        <td width="200" class="tbl-evencontent"><?= $this->data["CHARGES_CCY"] . " " . number_format($this->data["CHARGES_ADM"]); ?></td>
      </tr>
      <tr class="diffRow">
        <td width="200" class="tbl-evencontent"><?= $this->language->_('Bank Stamp Fee'); ?></td>
        <td width="200" class="tbl-evencontent">IDR <?= $this->data["CHARGES_CCY"] . " " . number_format($this->data["CHARGES_STAMP"]); ?></td>
      </tr>
    </table>
  <?php } ?>

  <?php if (!$this->cashCollateral) { ?>
    <h2><?php echo $this->language->_('Transfer Fee') ?></h2>
  <?php } ?>


  <?php if ($this->newcharges_monthly_aud || $this->newcharges_monthly_eur || $this->newcharges_monthly_idr || $this->newcharges_monthly_sgd || $this->newcharges_monthly_usd) { ?>
    <h3><?php echo $this->language->_('Company Monthly Fee(Administration Fee per Company)') ?></h3>
    <table width="50%" align="center" class="table-sm table table-striped table-responsive table-sugg">
      <tr class="diffRow">
        <th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Suggestion Detail'); ?></strong></th>
        <th style="float:right">
          <button id="btnDiffOnly" type="button" class="btngreen hov"><?php echo $this->language->_('Show Difference Only'); ?></button>
        </th>
      </tr>
      <tr class="diffRow">
        <td width="200" class="tbl-evencontent"><b><?php echo $this->language->_('Field Name'); ?></b></td>
        <td width="3" class="tbl-evencontent">&nbsp;</td>
        <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Current Value'); ?></b></td>
        <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Suggested Value'); ?></b></td>
      </tr>
      <tr>
        <td>AUD</td>
        <td>:</td>
        <td>
          <?php echo $this->formLabel('charges_monthly_aud', $this->charges_monthly_aud, array('class' => 'data')); ?>
        </td>
        <td>
          <?php echo $this->formLabel('newcharges_monthly_aud', $this->newcharges_monthly_aud, array('class' => 'dataChange')); ?>
        </td>
      </tr>
      <tr>
        <td>EUR</td>
        <td>:</td>
        <td>
          <?php echo $this->formLabel('charges_monthly_eur', $this->charges_monthly_eur, array('class' => 'data')); ?>
        </td>
        <td>
          <?php echo $this->formLabel('newcharges_monthly_eur', $this->newcharges_monthly_eur, array('class' => 'dataChange')); ?>
        </td>
      </tr>
      <tr>
        <td>IDR</td>
        <td>:</td>
        <td>
          <?php echo $this->formLabel('charges_monthly_idr', $this->charges_monthly_idr, array('class' => 'data')); ?>
        </td>
        <td>
          <?php echo $this->formLabel('newcharges_monthly_idr', $this->newcharges_monthly_idr, array('class' => 'dataChange')); ?>
        </td>
      </tr>
      <tr>
        <td>SGD</td>
        <td>:</td>
        <td>
          <?php echo $this->formLabel('charges_monthly_sgd', $this->charges_monthly_sgd, array('class' => 'data')); ?>
        </td>
        <td>
          <?php echo $this->formLabel('newcharges_monthly_sgd', $this->newcharges_monthly_sgd, array('class' => 'dataChange')); ?>
        </td>
      </tr>
      <tr>
        <td>USD</td>
        <td>:</td>
        <td>
          <?php echo $this->formLabel('charges_monthly_usd', $this->charges_monthly_usd, array('class' => 'data')); ?>
        </td>
        <td>
          <?php echo $this->formLabel('newcharges_monthly_usd', $this->newcharges_monthly_usd, array('class' => 'dataChange')); ?>
        </td>
      </tr>
    </table>
    <br />
  <?php } ?>


  <?php if ($this->newrealtime_charges_ihhouse || $this->newrealtime_charges_skn || $this->newrealtime_charges_rtgs || $this->newrealtime_charges_dom || $this->newdirect_charges_inhouse_idr || $this->newdirect_charges_dom_idr) { ?>
    <h3><?php echo $this->language->_('Realtime Local Transfer Charges') ?></h3>
    <table width="50%" align="center" class="table-sm table table-striped table-responsive table-sugg">
      <tr class="diffRow">
        <th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Suggestion Detail'); ?></strong></th>
      </tr>
      <tr class="diffRow">
        <td width="200" class="tbl-evencontent"><b><?php echo $this->language->_('Field Name'); ?></b></td>
        <td width="3" class="tbl-evencontent">&nbsp;</td>
        <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Current Value'); ?></b></td>
        <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Suggested Value'); ?></b></td>
      </tr>
      <tr>
        <td>Inhouse IDR</td>
        <td>:</td>
        <td>
          <?php echo $this->formLabel('realtime_charges_ihhouse', $this->realtime_charges_ihhouse, array('class' => 'data')); ?>
        </td>
        <td>
          <?php echo $this->formLabel('newrealtime_charges_ihhouse', $this->newrealtime_charges_ihhouse, array('class' => 'dataChange')); ?>
        </td>
      </tr>
      <tr>
        <td>SKN IDR</td>
        <td>:</td>
        <td>
          <?php echo $this->formLabel('realtime_charges_skn', $this->realtime_charges_skn, array('class' => 'data')); ?>
        </td>
        <td>
          <?php echo $this->formLabel('newrealtime_charges_skn', $this->newrealtime_charges_skn, array('class' => 'dataChange')); ?>
        </td>
      </tr>
      <tr>
        <td>RTGS IDR</td>
        <td>:</td>
        <td>
          <?php echo $this->formLabel('realtime_charges_rtgs', $this->realtime_charges_rtgs, array('class' => 'data')); ?>
        </td>
        <td>
          <?php echo $this->formLabel('newrealtime_charges_rtgs', $this->newrealtime_charges_rtgs, array('class' => 'dataChange')); ?>
        </td>
      </tr>
      <tr>
        <td>Domestic Online IDR</td>
        <td>:</td>
        <td>
          <?php echo $this->formLabel('realtime_charges_dom', $this->realtime_charges_dom, array('class' => 'data')); ?>
        </td>
        <td>
          <?php echo $this->formLabel('newrealtime_charges_dom', $this->newrealtime_charges_dom, array('class' => 'dataChange')); ?>
        </td>
      </tr>
      <tr>
        <td>Direct Debit (Inhouse) IDR</td>
        <td>:</td>
        <td>
          <?php echo $this->formLabel('direct_charges_inhouse_idr', $this->direct_charges_inhouse_idr, array('class' => 'data')); ?>
        </td>
        <td>
          <?php echo $this->formLabel('newdirect_charges_inhouse_idr', $this->newdirect_charges_inhouse_idr, array('class' => 'dataChange')); ?>
        </td>
      </tr>
      <tr>
        <td>Direct Debit (Domestic) IDR</td>
        <td>:</td>
        <td>
          <?php echo $this->formLabel('direct_charges_dom_idr', $this->direct_charges_dom_idr, array('class' => 'data')); ?>
        </td>
        <td>
          <?php echo $this->formLabel('newdirect_charges_dom_idr', $this->newdirect_charges_dom_idr, array('class' => 'dataChange')); ?>
        </td>
      </tr>
    </table>
    <br />
  <?php } ?>

  <?php if ($this->transferfee) { ?>
    <h2 style="display:none"><?php echo $this->language->_('Transfer Fee') ?></h2>
    <table cellpadding="3" cellspacing="0" border="0" class="table-sm table table-striped table-responsive table-sugg" style="display:none">
      <tr class="diffRow">
        <th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Suggestion Detail'); ?></strong></th>
      </tr>
      <tr class="diffRow">
        <td width="200" class="tbl-evencontent"><b><?php echo $this->language->_('Field Name'); ?></b></td>
        <td width="3" class="tbl-evencontent">&nbsp;</td>
        <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Current Value'); ?></b></td>
        <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Suggested Value'); ?></b></td>
      </tr>
      <!--
    <tr>
      <th class="tdform-sub"><strong><?php echo $this->language->_('CCY') ?></strong></th>
      <th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Amount') ?></strong></th>
    </tr>
    -->
      <?php
      if (count($this->transferfee) > 0) {
        $i = 0;
        //         print_r(count($this->paginator));
        // Zend_Debug::dump($this->transferfee,"trf fee");
        for ($i = 0; $i < count($this->transferfee); $i++) {

          $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
          //      if($this->paginator[$i]['CCY_ID']==)
          $charges = $this->transferfee[$i]['CHARGE_AMT'];
          $chargesold = $this->transferfeeold[$i]['CHARGE_AMT'];
          if ($charges == '') {
            $charges = 0;
          }
          if ($chargesold == '') {
            $chargesold = 0;
          }
          echo '<tr>
          <td class="' . $td_css . '"><input type="hidden" name="ccy[]" value="' . $this->transferfee[$i]['CCY_ID'] . '" >' . $this->transferfee[$i]['CCY_ID'] . '</td>
          <td class="' . $td_css . '">:</td>
          <td class="' . $td_css . '">' . $this->formLabel('transferfeeold', $this->transferfeeold[$i]['CHARGE_AMOUNT_CCY'] . ' ' . Application_Helper_General::displayMoney($chargesold), array('class' => 'data')) . '</td>
          <td class="' . $td_css . '">' . $this->formLabel('transferfee', $this->transferfee[$i]['CHARGE_AMOUNT_CCY'] . ' ' . Application_Helper_General::displayMoney($charges), array('class' => 'dataChange')) . '</td>'
      ?>

      <?php echo '</tr>';
        }
      } else {
        echo "<tr><td class='tdform-sub' colspan='4'>no data</td></tr>";
      }
      ?>
    </table>
    <br />
  <?php } ?>

  <?php if ($this->fullamount) { ?>
    <h2 style="display:none"><?php echo $this->language->_('Full Amount Fee') ?></h2>
    <table cellpadding="3" cellspacing="0" border="0" class="table-sm table table-striped table-responsive table-sugg" style="display:none">
      <tr class="diffRow">
        <th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Suggestion Detail'); ?></strong></th>
      </tr>
      <tr class="diffRow">
        <td width="200" class="tbl-evencontent"><b><?php echo $this->language->_('Field Name'); ?></b></td>
        <td width="3" class="tbl-evencontent">&nbsp;</td>
        <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Current Value'); ?></b></td>
        <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Suggested Value'); ?></b></td>
      </tr>
      <!--
    <tr>
      <th class="tdform-sub"><strong><?php echo $this->language->_('CCY') ?></strong></th>
      <th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Amount') ?></strong></th>
    </tr>
    -->
      <?php
      //var_dump($this->fullamount);
      if (count($this->fullamount) > 0) {
        $i = 0;
        //         print_r(count($this->paginator));
        for ($i = 0; $i < count($this->fullamount); $i++) {

          $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
          //      if($this->paginator[$i]['CCY_ID']==)
          $charges = $this->fullamount[$i]['CHARGE_AMT'];
          if ($charges == '') {
            $charges = 0;
          }
          $chargesold = $this->fullamountold[$i]['CHARGE_AMT'];
          if ($chargesold == '') {
            $chargesold = 0;
          }
          echo '<tr>
          <td class="' . $td_css . '"><input type="hidden" name="ccy[]" value="' . $this->fullamount[$i]['CCY_ID'] . '" >' . $this->fullamount[$i]['CCY_ID'] . '</td>
          <td class="' . $td_css . '">:</td>
          <td class="' . $td_css . '">' . $this->formLabel('fullamountold', $this->fullamountold[$i]['CHARGE_AMOUNT_CCY'] . ' ' . Application_Helper_General::displayMoney($chargesold), array('class' => 'data')) . '</td>
          <td class="' . $td_css . '">' . $this->formLabel('fullamount', $this->fullamount[$i]['CHARGE_AMOUNT_CCY'] . ' ' . Application_Helper_General::displayMoney($charges), array('class' => 'dataChange')) . '</td>'
      ?>

      <?php echo '</tr>';
        }
      } else {
        echo "<tr><td class='tdform-sub' colspan='4'>no data</td></tr>";
      }
      ?>
    </table>
    <br />
  <?php } ?>


  <br />
  <?php if ($this->remithide) { ?>
    <h2><?php echo $this->language->_('Remittance Fee') ?></h2>
    <table cellpadding="3" cellspacing="0" border="0" class="table-sm table table-striped table-responsive table-sugg">
      <tr class="diffRow">
        <th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Suggestion Detail'); ?></strong></th>
      </tr>
      <tr class="diffRow">
        <th colspan="4" class="tdform-sub"><b><?php echo $this->language->_('Current Value'); ?></b></th>
      </tr>
      <tr>
        <td colspan="4">
          <table width="100%" align="center" class="table-sm table table-striped table-responsive">
            <tr>
              <th class="tablehead">CHARGE</th>
              <th class="tablehead" colspan="2">TRANSFER FEE</th>
              <th class="tablehead" colspan="2">FULL AMOUNT FEE</th>
              <th class="tablehead" colspan="4">PROVISION FEE</th>
            </tr>
            <tr>
              <th class="tablehead">CCY</th>
              <th width="90px" class="tablehead">CCY</th>
              <th class="tablehead">Charge Amount</th>
              <th width="90px" class="tablehead">CCY</th>
              <th class="tablehead">Charge Amount</th>
              <th width="90px" class="tablehead">CCY</th>
              <th class="tablehead">Min Provision</th>
              <th class="tablehead">Max Provision</th>
              <th class="tablehead">% from Trx</th>
            </tr>
            <?php
            foreach ($this->listccy  as $key => $value) {
            ?>
              <tr>
                <td><?php echo $value['CCY_ID']; ?> </td>
                <td>
                  <?php $idccy = 'ccytf' . $value['CCY_ID'];
                  $valueccy = 'tfccy' . $value['CCY_ID'];
                  $chargetype = 'charges_type' . $value['CCY_ID'];

                  $tfamt = 'tfamt' . $value['CCY_ID'];
                  $tfamount = 'tfamount' . $value['CCY_ID'];
                  $ccyfa = 'ccyfa' . $value['CCY_ID'];

                  $faccy = 'faccy' . $value['CCY_ID'];
                  $faamount = 'faamount' . $value['CCY_ID'];
                  $faamt = 'faamt' . $value['CCY_ID'];

                  $ccypf = 'ccypf' . $value['CCY_ID'];
                  $prccy = 'prccy' . $value['CCY_ID'];
                  $min = 'min' . $value['CCY_ID'];
                  $prmin = 'prmin' . $value['CCY_ID'];

                  $max = 'max' . $value['CCY_ID'];
                  $prmax = 'prmax' . $value['CCY_ID'];

                  $pcy = 'pcy' . $value['CCY_ID'];
                  $prpct = 'prpct' . $value['CCY_ID'];


                  ?>
                  <?php echo $this->$valueccy; ?>


                </td>


                <td><?php echo Application_Helper_General::displayMoney($this->$tfamt); ?></td>
                <td>
                  <?php echo $this->$faccy; ?>


                </td>
                <td><?php echo Application_Helper_General::displayMoney($this->$faamt); ?></td>
                <td>
                  <?php echo $this->$prccy; ?>


                </td>
                <td><?php echo Application_Helper_General::displayMoney($this->$prmin); ?></td>
                <td><?php echo Application_Helper_General::displayMoney($this->$prmax); ?></td>
                <td><?php echo $this->$prpct; ?></td>
              </tr>


            <?php
            }

            ?>



          </table>
        </td>
      </tr>
      <tr class="diffRow">
        <th colspan="4" class="tdform-sub"><b><?php echo $this->language->_('Suggested Value'); ?></b></th>
      </tr>
      <tr>
        <td colspan="4">
          <table width="100%" align="center" class="table-sm table table-striped table-responsive">
            <tr>
              <th class="tablehead">CHARGE</th>
              <th class="tablehead" colspan="2">TRANSFER FEE</th>
              <th class="tablehead" colspan="2">FULL AMOUNT FEE</th>
              <th class="tablehead" colspan="4">PROVISION FEE</th>
            </tr>
            <tr>
              <th class="tablehead">CCY</th>
              <th width="90px" class="tablehead">CCY</th>
              <th class="tablehead">Charge Amount</th>
              <th width="90px" class="tablehead">CCY</th>
              <th class="tablehead">Charge Amount</th>
              <th width="90px" class="tablehead">CCY</th>
              <th class="tablehead">Min Provision</th>
              <th class="tablehead">Max Provision</th>
              <th class="tablehead">% from Trx</th>
            </tr>
            <?php
            foreach ($this->listccy  as $key => $value) {
            ?>
              <tr>
                <td><?php echo $value['CCY_ID']; ?> </td>
                <td>
                  <?php $idccy = 'xccytf' . $value['CCY_ID'];
                  $valueccy = 'xtfccy' . $value['CCY_ID'];
                  $chargetype = 'xcharges_type' . $value['CCY_ID'];

                  $tfamt = 'xtfamt' . $value['CCY_ID'];
                  $tfamount = 'xtfamount' . $value['CCY_ID'];
                  $ccyfa = 'xccyfa' . $value['CCY_ID'];

                  $faccy = 'xfaccy' . $value['CCY_ID'];
                  $faamount = 'xfaamount' . $value['CCY_ID'];
                  $faamt = 'xfaamt' . $value['CCY_ID'];

                  $ccypf = 'xccypf' . $value['CCY_ID'];
                  $prccy = 'xprccy' . $value['CCY_ID'];
                  $min = 'xmin' . $value['CCY_ID'];
                  $prmin = 'xprmin' . $value['CCY_ID'];

                  $max = 'xmax' . $value['CCY_ID'];
                  $prmax = 'xprmax' . $value['CCY_ID'];

                  $pcy = 'xpcy' . $value['CCY_ID'];
                  $prpct = 'xprpct' . $value['CCY_ID'];


                  ?>
                  <?php echo $this->$valueccy; ?>


                </td>


                <td><?php echo Application_Helper_General::displayMoney($this->$tfamt); ?></td>
                <td>
                  <?php echo $this->$faccy; ?>


                </td>
                <td><?php echo Application_Helper_General::displayMoney($this->$faamt); ?></td>
                <td>
                  <?php echo $this->$prccy; ?>


                </td>
                <td><?php echo Application_Helper_General::displayMoney($this->$prmin); ?></td>
                <td><?php echo Application_Helper_General::displayMoney($this->$prmax); ?></td>
                <td><?php echo $this->$prpct; ?></td>
              </tr>


            <?php
            }

            ?>



          </table>
        </td>
      </tr>

    </table>
  <?php } ?>

  <div class="d-flex justify-content-center">
    <?php
    echo $this->action(
      'index',
      'tools',
      'changemanagement',
      array('changes_id' => $this->changes_id)
    );
    ?>
  </div>

  <script>
    $("table.table-sugg > tbody > tr").each(function() {
      var data = $(this).find(".data");
      var dataChange = $(this).find(".dataChange");
      if (data.text() != dataChange.text()) {
        dataChange.css('background-color', '#fffe5c');
        $(this).addClass('diffRow');
      }
    });

    $("#btnDiffOnly").click(function() {
      $("table.table-sugg > tbody > tr").each(function() {
        var className = $(this).attr('class');
        if (className != 'diffRow' && $(this).is(":visible")) {
          $(this).hide();
        } else {
          $(this).show();
        }
      });
      //Untuk stripped table after update row
      //$("tr:visible").each(function(index) {
      //$(this).css("background-color", !!(index & 1) ? "rgba(0,0,0,.05)" : "rgba(0,0,0,0)");
      //});
    });
  </script>
<?php } else { ?>
  <div id="content">--- No Data ---</div>
<?php } ?>