<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Submission') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="valas"><?= $this->language->_('Submission Review') ?></span>

				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row content-box">
	<div class="portlet-body form col-md-12">
		<h5><?= $this->language->_('Submission Review List') ?></h5>
		<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">
			<div class="panel panel-default ">
				<!-- Default panel contents -->

				<?php $aliasname = $this->language->_('Alias Name'); ?>
				<?php $beneficiaryaccount = $this->language->_('Beneficiary Accountt'); ?>
				<?php $beneficiaryaccountname = $this->language->_('Beneficiary Account Name'); ?>
				<?php $beneficiarytype = $this->language->_('Beneficiary Type'); ?>
				<?php $setfilter = $this->language->_('Set Filter'); ?>
				<?php $clearfilter = $this->language->_('Clear Filter'); ?>
				<?php $nodata = $this->language->_('No Data'); ?>
				<?php $delete_lg = $this->language->_('Delete'); ?>

				<?php
				$optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
				foreach ($this->filterlist as $row) {
					$optArr .=  '<option value="' . $row . '" >' . $this->language->_($row) . '</option>';
				}
				?>
				<div class="row " id="logo-titles" style="margin-left: 0px">
					<?php
					if (!empty($this->wherecol)) {
					?>
						<script type="text/javascript">
							$(document).ready(function() {
								$("#logo-title").show();
							});
						</script>
					<?php
					}
					// print_r($this->wherecol);die;
					foreach ($this->wherecol as $key => $value) {
					?>
						<div id="searchs" style="width: 100%">
							<?php
							$datetype = array("PS_CREATED", "PS_EFDATE", "PS_UPDATED");
							$selectlist = array('BENEFICIARY_ACCOUNT', 'BENEFICIARY_NAME');
							$index = 0;
							?>
							<div id="where-<?= $ctr ?>">
								<div class="form-group row mt-12">
									<div class="col-md-4 form-inline">
										<select class='form-control event_select' id='wherecol-<?= $ctr ?>' style='width:100%' name='whereco[]' onchange='getOpt(this)'>
											<option value="">-- <?= $this->language->_('Any Value') ?> --</option>
											<?php

											foreach ($this->filterlist as $row) {
												$colname = $row;
												if ($value == $colname) {
													$selected = "selected";
												} else {
													$selected = "";
												}
											?>
												<option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
											<?php } ?>
										</select>
									</div>

									<div class="col-md-6 form-inline" id='colvalue-s<?= $key ?>'>
										<script type="text/javascript">
											$(document).ready(function() {
												var colval = "#colvalue-s<?= $key ?>";
												var colomnname = "<?= $value ?>";
												// var colselect= "<?= $value ?>";
												var colselect = "colselect-s<?= $key ?>";
												var ncolselect = "#colselect-s<?= $key ?>";
												if (colomnname == 'CURR_CODE' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY') {
													$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
													var id = $("#tablename").find(":selected").val();
													$.ajax({
														url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'ccy'), null, true) ?>",
														type: 'GET',
														dataType: "html",
														data: {
															id: <?= $this->whereval[$index] ?>
														},
														success: function(data) {
															$(ncolselect).html(data);
														},
														error: function(xhr, ajaxOptions, thrownError) {
															alert("Failed to get where column list, please try again");
														}
													});
													$(colselect).val('<?= $this->whereval[$index] ?>');

												}
											});
										</script>
										<?php
										if (in_array($value, $selectlist)) {
										?>
											<input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?= $this->whereval[$key] ?>' />
										<?php }
										if (!in_array($value, $datetype)) {
											$index++;
										}
										?>
									</div>
									<div class="col-md-2 form-inline">
										<button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
									</div>
								</div>
							</div>

						</div>

					<?php
					}
					?>

				</div>


				<div class="row " id="logo-title" style="display: none">
					<div class="portlet-body form col-md-12">
						<div id="wheres" style="width: 100%">
							<div id="where-<?= $ctr ?>">
							</div>
						</div>
						<input type="hidden" id="wherectr" value="0" />
						<br />
						<button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
						&nbsp;
						<?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
						&nbsp;
						<input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">
						<br />
					</div>
					<div class="col-md-4">
					</div>
				</div>
				<div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
					<a href="#" class="sidebar-collapse-icon with-animation">
						<?php echo $this->language->_('Advanced Search'); ?>
					</a>
				</div>
				<br>

			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
			<div style="float:left">

			</div>
			<div style="float:right; padding-left:5px;">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
					</div>
					<input type="text" class="search form-control" id="searchtable" placeholder="Search">
				</div>
			</div>
			<div style="float:right; padding-left:5px;">
				<button class="btngrad hov" style="font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important; width: 100px !important;width: 100px !important;background-image:url(/images/print-light.png);background-repeat: no-repeat;background-position: 10px 3px;float:right;">Print</button>
			</div>
			<div style="float:right; padding-left:5px;">
				<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa hov">
			</div>
		</div>
	</div>

</div>
<?php if ($this->success) { ?>
	<div class="successmsg"><?= $this->report_msg ?></div><br />
<?php } else if ($this->error) { ?>
	<div class="errmsg"><?= $this->report_msg ?></div><br />
<?php } ?>

<div class="portlet-body flip-scroll table-responsive table-fixed pt-2" id="fixTable">
	<table class="table table-sm table-striped headerNew" id="myTable">
		<tr height="50px">
			<th class="tablehead" width="3%" valign="top">No</th>
			<?php echo $this->partial(
				'tableheader.phtml',
				array(
					'fields' => $this->fields,
					'sortBy' => $this->sortBy,
					'sortDir' => $this->sortDir,
					'query_string_params' => $this->query_string_params
				)
			) ?>

			<th class="tablehead" valign="top" style="width: 35px;">CCY<span style="white-space:nowrap;"></span></th>
			<th class="tablehead" valign="top" style="text-align: right;width: 110px;">Amount<span style="white-space:nowrap"></span></th>
		</tr>
		<?php
		$counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;

		if (count($this->paginator) > 0) {
			$i = 0;

			foreach ($this->paginator as $row) {

				$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
				$attribut = array('class' => 'group_id', 'checked' => (isset($this->group_id[$row['GROUP_ID']])) ? true : false);


				if ($row['SUBJECT'] == '') {
					$row['SUBJECT'] = '- no subject -';
				} else if ($row['SUBJECT'] == '1') {
					$row['SUBJECT'] = 'Letter of Credit';
				} else if ($row['SUBJECT'] == '2') {
					$row['SUBJECT'] = 'Surat Kredit Berdokumen Dalam Negeri';
				}

				$buttonSetting = $this->url(array('module' => 'eformworkflow', 'controller' => 'reviewdetail', 'action' => 'index', 'bgnumb' => $row['REG_NUMBER_ENCRYPTED']), null, true);
				$row['TYPE'] = 'BG';
				if (substr($row['REG_NUMBER'], 0, 2) == "LC") {
					$row['TYPE'] = 'LC';
					$buttonSetting = $this->url(array('module' => 'eformworkflow', 'controller' => 'lcreview', 'action' => 'index', 'LC_NUMBER' => $row['REG_NUMBER_ENCRYPTED']), null, true);
				}

				if (isset($row['CCYID'])) {
					$row['CCYID'] = $row['CCYID'];
				} else {
					$row['CCYID'] = "IDR";
				}
				echo '<tr>
								<td class="' . $td_css . '" width="3%">' . $counter . '</td>
								<td class="' . $td_css . '" width="15%">' . $row['REG_NUMBER'] . '</td>
								<td class="' . $td_css . '" width="5%">' . $row['TYPE'] . '</td>
								
								<td class="' . $td_css . '" width="20%"><a href="' . $buttonSetting . '">' . $row['SUBJECT'] . '</a></td>
								<td class="' . $td_css . '" width="10%">' . Application_Helper_General::convertDate($row['TIME_PERIOD_START'], $this->viewDateFormat, $this->defaultDateFormat) . '</td>
								<td class="' . $td_css . '" width="10%">' . Application_Helper_General::convertDate($row['TIME_PERIOD_END'], $this->viewDateFormat, $this->defaultDateFormat) . '</td>
								<td class="' . $td_css . '" width="15%">' . Application_Helper_General::convertDate($row['CREATED'], $this->displayDateTimeFormat, $this->defaultDateFormat) . '</td>
								<td class="' . $td_css . '" width="10%">' . $row['FULLNAME'] . ' (' . $row['CREATEDBY'] . ')</td>
								<td class="' . $td_css . '" width="2%">' . $row['CCYID'] . '</td>
								<td class="' . $td_css . '" width="10%"><label style="text-align:right;width: 100%;">' . Application_Helper_General::displayMoneyplain($row['AMOUNT']) . '</label></td>
								
							</tr>';

				$i++;
				$counter++;
			}
		} else {
			echo "<tr><td colspan=10 class='tbl-evencontent' align='center'> ---" . $this->language->_('No Data') . " --- </td></tr>";
		}
		?>
	</table>
</div>