<b><?php echo $this->language->_('Charges Account'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Charges'); ?> &gt; COA <?php echo $this->language->_('Account Request List'); ?></div>
<table cellpadding="3" cellspacing="0" border="0" class="tableform" width="40%">
	<tr><th colspan="4" class="tdform-sub"><strong>Changes Information</strong></th></tr>  
	<tr>
		<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Suggested By'); ?></td>
		<td class="tbl-evencontent" width="1%">:</td>	
		<td class="tbl-evencontent" width="69%"><?=$this->createdby?></td>
	</tr>
	<tr>
		<td class="tbl-oddcontent" width="30%"><?php echo $this->language->_('Suggestion Date'); ?></td>
		<td class="tbl-oddcontent" width="1%">:</td>	
		<td class="tbl-oddcontent" width="69%"><?=$this->created?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Status'); ?></td>
		<td class="tbl-evencontent" width="1%">:</td>	
		<td class="tbl-evencontent" width="69%"><?=$this->status?></td>
	</tr>
	<tr>
		<td class="tbl-oddcontent" width="30%"><?php echo $this->language->_('Granted By'); ?></td>
		<td class="tbl-oddcontent" width="1%">:</td>	
		<td class="tbl-oddcontent" width="69%"></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Granted Date'); ?></td>
		<td class="tbl-evencontent" width="1%">:</td>	
		<td class="tbl-evencontent" width="69%"></td>
	</tr>
	<tr>
		<td class="tbl-oddcontent" width="30%"><?php echo $this->language->_('Rejected By'); ?></td>
		<td class="tbl-oddcontent" width="1%">:</td>	
		<td class="tbl-oddcontent" width="69%"></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('Rejected Date'); ?></td>
		<td class="tbl-evencontent" width="1%">:</td>	
		<td class="tbl-evencontent" width="69%"></td>
	</tr>
</table>
<br /><br />
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
	<table cellpadding="3" cellspacing="0" border="0" class="tableform" width="500px">
		<tr><th colspan="3" class="tdform-sub"><strong>COA <?php echo $this->language->_('Request List'); ?></strong></th></tr> 
		<?php if($this->cek==0){?>
		<tr>
			<td class="tbl-evencontent" colspan="3"><div><?php echo $this->language->_('There is no Changes to be approved'); ?></div></td>
		</tr>
		 <?php }else if($this->cek==1){ ?>		
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Old COA Account',$this->language->_('Old COA Account')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php  echo $this->formLabel('COAAccount',$this->oldCOAAccount); ?></td>
		</tr>
		<tr>
			<td class="tbl-oddcontent"><?php echo $this->formLabel('New COA Account',$this->language->_('New COA Account')); ?></td>
			<td class="tbl-oddcontent">:</td>
			<td class="tbl-oddcontent"><?php  echo $this->formLabel('COAAccount',$this->newCOAAccount); ?></td>
		</tr>
		<?php }?>
	</table>
</form>