<script type="text/javascript">
function changetranstype()
{
	// Remove all options
	document.filterForm.transtype.options.length = 0;

	// Repopulate the select menu with new options
	// new Option(text, value, defaultSelected, selected)
	value = $('#paytype').val();
	if (value == '1' || value == '7,5'){
		document.filterForm.transtype.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
		document.filterForm.transtype.options[1] = new Option('PB', '0');
		document.filterForm.transtype.options[2] = new Option('VA', '6');
	}
	else if (value == '2'){
              
		document.filterForm.transtype.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
		document.filterForm.transtype.options[1] = new Option('SKN', '2');
		document.filterForm.transtype.options[2] = new Option('RTGS','1');
	}
	else if(value == '6,4'){
		document.filterForm.transtype.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
		document.filterForm.transtype.options[1] = new Option('PB', '0');
		document.filterForm.transtype.options[2] = new Option('SKN', '2');
		document.filterForm.transtype.options[3] = new Option('RTGS','1');
	}
	else if (value == '7'){
		document.filterForm.transtype.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
		document.filterForm.transtype.options[1] = new Option('PB', '0');
	}
	else if (value == '6'){
              
		document.filterForm.transtype.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
		document.filterForm.transtype.options[1] = new Option('PB', '0');
		document.filterForm.transtype.options[2] = new Option('SKN', '2');
		document.filterForm.transtype.options[3] = new Option('RTGS','1');
	}
	
	else {	   
		document.filterForm.transtype.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
	}

}

$(document).ready(function(){
	
	changetranstype();
	if('<?= $this->transtype ?>' != '')
	{
		$('#transtype').val('<?= $this->transtype ?>');
	}

});
</script>

<?php 
if($this->month)
{
	$month = $this->month;
}
else
{
	$month = (date("n"));
}

if($this->year)
{
	$year = $this->year;
}
else
{
	$year = (date("Y"));
}

if($this->date)
{
	$date = $this->date;
}
else
{
	$date = (date("d/m/Y"));
}

$monthlist = $this->monthlist;
$yearlist = $this->yearlist;
$datetype = $this->datetype;
?>
<b><?php echo $this->language->_('Transaction Report'); ?> &gt; <?php echo $this->language->_('Reconciliation Report'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Reconciliation Report'); ?></div>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0">
<tr>
	<th colspan="6" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th>
</tr>
<tr>
 	<td class="tbl-evencontent"><?php echo $this->formLabel('paytype',$this->language->_('Payment Type')); ?></td>
 	<td class="tbl-evencontent">:</td>
 	<td class="tbl-evencontent"><?php 
					$options = $this->paymenttype;
					foreach($options as $key => $value){ if($key != 3) $optpayStatusRaw[$key] = $this->language->_($value); }
					//$options = array(''=>'---'.$this->language->_('Any Value').'---') + $options;
					$options = array(''=>'---'.$this->language->_('Any Value').'---') + $optpayStatusRaw;
					unset($options[4]);
					unset($options[5]);
					unset($options[11]);
					unset($options[12]);
					unset($options[14]);
					unset($options[15]);
					unset($options[16]);
					unset($options[17]);
					echo $this->formSelect('paytype',$this->paytype,array('id'=>'paytype','onclick'=>"changetranstype()"), $options);
				?></td>
</tr>
<tr>
 	<td class="tbl-evencontent"><?php echo $this->formLabel('transtype',$this->language->_('Transfer Type')); ?></td>
 	<td class="tbl-evencontent">:</td>
 	<td class="tbl-evencontent"><select name = "transtype" id = "transtype">
							<option value=""> -- <?php echo $this->language->_('Any Value'); ?> -- </option>
						</select>
			</td>
</tr>
<tr>
 	<td class="tbl-evencontent"><?php echo $this->formLabel('transstatus',$this->language->_('Transaction Status')); ?></td>
 	<td class="tbl-evencontent">:</td>
 	<td class="tbl-evencontent"><?php 
					$options3 = array_combine(array_values($this->transferstatus['code']),array_values($this->transferstatus['desc']));
					$options3 = array(''=>'---Any Value---') + $options3;
					foreach($options3 as $key => $value){ $optpayStatusRaww[$key] = $this->language->_($value); }
					unset($options3[0]);
					unset($options3[1]);
					unset($options3[2]);
					unset($options3[9]);
					unset($options3[13]);
					
					unset($optpayStatusRaww[0]);
					unset($optpayStatusRaww[1]);
					unset($optpayStatusRaww[2]);
					unset($optpayStatusRaww[9]);
					unset($optpayStatusRaww[13]);
					
					//echo $this->formSelect('transstatus',$this->transstatus,array('id'=>'transstatus'), $options3);
					echo $this->formSelect('transstatus',$this->transstatus,array('id'=>'transstatus'), $optpayStatusRaww);
				?></td>
</tr>
<!--<tr>
 	<td class="tbl-evencontent"><?php echo $this->formLabel('messtaatus',$this->language->_('Message Status')); ?></td>
 	<td class="tbl-evencontent">:</td>
 	<td class="tbl-evencontent"><?php 
					$options4 = $this->messtatus;
					krsort($options4);
					$options4 = array(''=>'---'.$this->language->_('Any Value').'---') + $options4;
					foreach($options4 as $key => $value){ $optpayStatusRawww[$key] = $this->language->_($value); }
					//echo $this->formSelect('mstatus',$this->mstatus,array('id'=>'mstatus'), $options4);
					echo $this->formSelect('mstatus',$this->mstatus,array('id'=>'mstatus'), $optpayStatusRawww);
				?></td>
</tr>
--><tr>
	<td class="tbl-evencontent"><?php echo $this->formLabel('date',$this->language->_('Date')); ?></td>
 	  <td class="tbl-evencontent">:</td>
 	  <td class="tbl-evencontent"><input type="radio" value="date1" name="datetype" <?php if($datetype == "date1" || $datetype == null){echo "checked";};?>>&nbsp;
	  <?php echo $this->datePicker("date", $date, array('dateFormat' => $this->jqueryDateFormat,
                     'defaultDate'=>'new Date()',
                     'showOn' => 'button',
                     'buttonImage' => '/images/calendar.gif',
                     'buttonImageOnly' => true,
                     'changeMonth' => true,
                     'changeYear' => true,
	  				 'clearAnotherField' => false,));?>
       <br />
       <br />
       <input type="radio" value="date2" name="datetype" <?php if($datetype == "date2"){echo "checked";};?>>&nbsp;
	 	<?php echo $this->formSelect('month',$month,array('id'=>'month'), $monthlist);?>
	  	&nbsp;
		<?php echo $this->formSelect('year',$year,array('id'=>'year'), $yearlist);?>
       </td>
</tr>
<tr>
      <td colspan="5" align="left">
	  <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'inputbtn')); ?>
	  <!--<?php echo $this->formSubmit('filter_clear',$this->language->_('Clear Filter'),array('class'=>'inputbtn')); ?>-->
	  <input type="button" name="clearfilter" class="inputbtn" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
      </td>
    </tr>
</table>
</form>
<br />
<br />
<div class="formbutton" align="right">
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
<?php echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn')).'&nbsp&nbsp'; ?>
<?php echo $this->formSubmit('csv','CSV',array('class'=>'inputbtn')).'&nbsp&nbsp'; ?>
<input class="inputbtn" value="<?php echo $this->language->_('PRINT')?>" onclick="window.print();" type="button">
</form>
</div>
<br />
<b>&nbsp;<?php echo $this->language->_('Summary for period'); ?> : </b><?php echo $this->datemsg;?>
<br />
<b>&nbsp;<?php echo $this->language->_('Transfer Type'); ?> : </b><?php echo $this->language->_($this->transMsg);?>
<br /><br />
  <table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
    <tr>
      	<th width="3%" valign="top">No</th>
       	<th><?php echo $this->language->_('Payment Type'); ?></th>
       	<th><?php echo $this->language->_('Transfer Type'); ?></th>
       	<th><?php echo $this->language->_('Transaction Status'); ?></th>
       	<th><?php echo $this->language->_('Currency'); ?></th>
       	<th><?php echo $this->language->_('Number of Transaction'); ?></th>
       	<th><?php echo $this->language->_('Value of Transaction'); ?></th>
    </tr>
    <?php
     if($this->result)
     {
        $i = 1;
        foreach($this->result as $row)
        {
		  $td_css = ($i%2==0)?'tbl-oddcontent':'tbl-evencontent';
		  $amount = Application_Helper_General::displayMoney( $row['TRANS_SUM'] );
		    echo '<tr>
					<td class="'.$td_css.'">'.$i.'</td>
					<td class="'.$td_css.'">'.$row['PS_TYPE'].'</td>
					<td class="'.$td_css.'">'.$row['TRANSFER_TYPE'].'</td>
					<td class="'.$td_css.'">'.$this->language->_($row['TRA_STATUS']).'</td>
					<td class="'.$td_css.'">'.$row['SOURCE_ACCOUNT_CCY'].'</td>
					<td class="'.$td_css.'">'.$row['TRANS_COUNT'].'</td>
					<td class="'.$td_css.'">'.$amount.'</td>';?>
				<?php echo '</tr>';
			$i++;
//			<td class="'.$td_css.'">'.$row['EFT_STATUS'].'</td>
        }
    }
    else
    {
		echo '<tr><td colspan="11" class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
	}
  ?>
</table>
<br />