<style>
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>
<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?= $this->language->_('Suggestion Detail'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <?php if ($this->cashCollateral) { ?>
            <?= $this->language->_('Biaya BG'); ?>
          <?php } else { ?>
            <?= $this->language->_('Line Facility'); ?>
          <?php } ?>
        </li>
      </ul>
    </div>
  </div>
</div>
<?php if ($this->error) : ?>
  <div class="alert alert-danger">
    <?= $this->language->_($this->errorMsg); ?>
  </div>
<?php endif; ?>
<h5><?= $this->language->_('Change Information'); ?></h5>

<?= $this->action('message', 'tools', 'changemanagement', array('changes_id' => $this->changes_id)); ?>

<?php if ($this->cashCollateral) { ?>
  <form name="exportForm" id="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">
    <div class="modal fade" id="dialogreject_box" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title textBlack"><?php echo $this->language->_('Reject Notes') ?>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Must be filled') ?>:</p>
            <?php echo $this->formTextarea('PS_REASON_REPAIR', null, array(
              'cols' => '40%', 'rows' => '4',
              'onKeyDown' => 'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
              'onKeyUp' => 'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
              'onKeypress' => 'return noSpecialChar3(event);', 'class' => 'form-control', 'id' => 'PS_REASON2', 'style' => 'font-size:1.2em'
            )) ?>
            <br>
            <div class="input-group">
              <?php echo $this->formText('disable_note_len2', '128', array('readonly' => 'readonly', 'size' => '2', 'class' => 'form-control col-md-2', 'style' => 'width:60px;font-size:1.2em')); ?>
              <span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left'); ?></span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
            <button type="button" class="btngreen hov" id="btn_reject"><?php echo $this->language->_('Submit') ?></button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <?php if ($this->updateData != 1) { ?>
    <div class="mb-4">
      <div class="mb-3">
        <span><strong>Biaya Umum</strong></span>
      </div>
      <table class="table-sm table-bordered">
        <thead>
          <tr>
            <th style="background-color: #002260; color: white">Biaya Umum</th>
            <th style="background-color: #002260; color: white">Valuta</th>
            <th style="background-color: #002260; color: white">Nominal</th>
          </tr>
        </thead>
        <tr style="background-color: #f3f3f3">
          <td><?= $this->language->_('Biaya Provisi Minimum') ?></td>
          <td>IDR</td>
          <td>
            <?= $this->formText('MINPROV01', (number_format($this->all_data["MINPROV01"]["CHARGES_AMT"], 2)) ?: "500,000.00", [
              "class" => "form-control col-md-12", "onfocus" => "", "onblur" => "", "onkeypress" => "", "style" => "width: 200px"
            ]) ?>

          </td>
        </tr>
        <tr style="background-color: #f3f3f3">
          <td><?= $this->language->_('Biaya Administrasi') ?></td>
          <td>IDR</td>
          <td>
            <?= $this->formText('ADM01', (number_format($this->all_data["ADM01"]["CHARGES_AMT"], 2)) ?: "250,000.00", [
              "class" => "form-control col-md-12", "onfocus" => "", "onblur" => "", "onkeypress" => "", "style" => "width: 200px"
            ]) ?>

          </td>
        </tr>
        <tr style="background-color: #f3f3f3">
          <td><?= $this->language->_('Biaya Meterai') ?></td>
          <td>IDR</td>
          <td>
            <?= $this->formText('METERAI01', (number_format($this->all_data["METERAI01"]["CHARGES_AMT"], 2)) ?: "10,000.00", [
              "class" => "form-control col-md-12", "onfocus" => "", "onblur" => "", "onkeypress" => "", "style" => "width: 200px"
            ]) ?>
          </td>
        </tr>
      </table>
    </div>
    <div class="mb-4">
      <div class="mb-3">
        <span><strong>Pengenaan Biaya Provisi Bank Garansi Kontra Garansi Full Cover (untuk semua jenis jaminan)</strong></span>
      </div>
      <table class="table-sm table-bordered">
        <thead>
          <tr>
            <th style="background-color: #002260; color: white">Jangka Dari (hari)</th>
            <th style="background-color: #002260; color: white">Hingga (hari)</th>
            <th style="background-color: #002260; color: white">Full Cover (%)</th>
          </tr>
        </thead>
        <tr style="background-color: #f3f3f3">
          <td>
            <input type="text" name="CASHCOL001[]" id="CASHCOL001_1" value="<?= ($this->all_data["CASHCOL001"]["TENOR_FROM"]) ?: "1"; ?>" class="form-control col-md-12" onfocus="" onblur="" onkeypress="" style="width: 200px">
          </td>
          <td>
            <input type="text" name="CASHCOL001[]" id="CASHCOL001_2" value="<?= ($this->all_data["CASHCOL001"]["TENOR_TO"]) ?: "90"; ?>" class="form-control col-md-12" onfocus="" onblur="" onkeypress="" style="width: 200px">
          </td>
          <td>
            <input type="text" name="CASHCOL001[]" id="CASHCOL001_3" value="<?= ($this->all_data["CASHCOL001"]["CHARGES_PCT"]) ?: "0.25"; ?>" class="form-control col-md-12" onfocus="" onblur="; " onkeypress="" style="width: 200px">
          </td>
        </tr>
        <tr style="background-color: #f3f3f3">
          <td>
            <input type="text" name="CASHCOL002[]" id="CASHCOL002_1" value="<?= ($this->all_data["CASHCOL002"]["TENOR_FROM"]) ?: "91"; ?>" class="form-control col-md-12" onfocus="" onblur="" onkeypress="" style="width: 200px">
          </td>
          <td>
            <input type="text" name="CASHCOL002[]" id="CASHCOL002_2" value="<?= ($this->all_data["CASHCOL002"]["TENOR_TO"]) ?: "180"; ?>" class="form-control col-md-12" onfocus="" onblur="" onkeypress="" style="width: 200px">
          </td>
          <td>
            <input type="text" name="CASHCOL002[]" id="CASHCOL002_3" value="<?= ($this->all_data["CASHCOL002"]["CHARGES_PCT"]) ?: "0.5"; ?>" class="form-control col-md-12" onfocus="" onblur="; " onkeypress="" style="width: 200px">
          </td>
        </tr>
        <tr style="background-color: #f3f3f3">
          <td>
            <input type="text" name="CASHCOL003[]" id="CASHCOL003_1" value="<?= ($this->all_data["CASHCOL003"]["TENOR_FROM"]) ?: "181"; ?>" class="form-control col-md-12" onfocus="" onblur="" onkeypress="" style="width: 200px">
          </td>
          <td>
            <input type="text" name="CASHCOL003[]" id="CASHCOL003_2" value="<?= ($this->all_data["CASHCOL003"]["TENOR_TO"]) ?: "270"; ?>" class="form-control col-md-12" onfocus="" onblur="" onkeypress="" style="width: 200px">
          </td>
          <td>
            <input type="text" name="CASHCOL003[]" id="CASHCOL003_3" value="<?= ($this->all_data["CASHCOL003"]["CHARGES_PCT"]) ?: "0.75"; ?>" class="form-control col-md-12" onfocus="" onblur="; " onkeypress="" style="width: 200px">
          </td>
        </tr>
        <tr style="background-color: #f3f3f3">
          <td>
            <input type="text" name="CASHCOL004[]" id="CASHCOL004_1" value="<?= ($this->all_data["CASHCOL004"]["TENOR_FROM"]) ?: "271"; ?>" class="form-control col-md-12" onfocus="" onblur="" onkeypress="" style="width: 200px">
          </td>
          <td>
            <input type="text" name="CASHCOL004[]" id="CASHCOL004_2" value="<?= ($this->all_data["CASHCOL004"]["TENOR_TO"]) ?: "360"; ?>" class="form-control col-md-12" onfocus="" onblur="" onkeypress="" style="width: 200px">
          </td>
          <td>
            <input type="text" name="CASHCOL004[]" id="CASHCOL004_3" value="<?= ($this->all_data["CASHCOL004"]["CHARGES_PCT"]) ?: "1"; ?>" class="form-control col-md-12" onfocus="" onblur="; " onkeypress="" style="width: 200px">
          </td>
        </tr>
      </table>
    </div>

    <div class="mb-4">
      <div class="mb-3">
        <span><strong>Pengenaan Biaya Provisi Bank Garansi Kontra Garansi Asuransi</strong></span>
      </div>
      <table class="my-3 table-sm table-bordered" cellpadding="5">
        <thead>
          <tr style="background-color: #f3f3f3">
            <td style="background-color: #002260;" class="text-white font-weight-bold">Jenis Jaminan</td>
            <td style="background-color: #002260;" class="text-white font-weight-bold">Aktif</td>
            <td style="background-color: #002260" class="text-white font-weight-bold">Grup BUMN (% p.a)</td>
            <td style="background-color: #002260" class="text-white font-weight-bold">Non Grup BUMN (% p.a)</td>
          </tr>
        </thead>
        <tbody>
          <tr style="background-color: #f3f3f3">
            <td>Jaminan Pembayaran</td>
            <td>
              <label class="switch">
                <input type="checkbox" name="INS01" onchange='checkjaminan(this)' <?= ($this->all_data["INSBUMN01"]["ACTIVE"] == 'N' || $this->all_data["INSBUMN01"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
                <span class="slider round"></span>
              </label>
            </td>
            <td><input type="text" class="form-control provision_percentage bumn" value="<?= ($this->all_data["INSBUMN01"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="INSBUMN01" id="INSBUMN01" style="width: 200px;" onkeypress=";" onblur=""></td>
            <td><input type="text" class="form-control provision_percentage nonbumn" value="<?= ($this->all_data["INSNONBUMN01"]["CHARGES_PCT"]) ?: "1.75"; ?>" name="INSNONBUMN01" id="INSNONBUMN01" style="width: 200px;" onkeypress=";" onblur=""></td>
          </tr>
          <tr style="background-color: #f3f3f3">
            <td>Jaminan Penawaran</td>
            <td>
              <label class="switch">
                <input type="checkbox" name="INS02" onchange='checkjaminan(this)' <?= ($this->all_data["INSBUMN02"]["ACTIVE"] == 'N' || $this->all_data["INSBUMN02"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
                <span class="slider round"></span>
              </label>
            </td>
            <td><input type="text" class="form-control provision_percentage bumn" value="<?= ($this->all_data["INSBUMN02"]["CHARGES_PCT"]) ?: "0.75"; ?>" name="INSBUMN02" id="INSBUMN02" style="width: 200px;" onkeypress=";" onblur=""></td>
            <td><input type="text" class="form-control provision_percentage nonbumn" value="<?= ($this->all_data["INSNONBUMN02"]["CHARGES_PCT"]) ?: "0.75"; ?>" name="INSNONBUMN02" id="INSNONBUMN02" style="width: 200px;" onkeypress=";" onblur=""></td>
          </tr>
          <tr style="background-color: #f3f3f3">
            <td>Jaminan Pelaksanaan</td>
            <td>
              <label class="switch">
                <input type="checkbox" name="INS03" onchange='checkjaminan(this)' <?= ($this->all_data["INSBUMN03"]["ACTIVE"] == 'N' || $this->all_data["INSBUMN03"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
                <span class="slider round"></span>
              </label>
            </td>
            <td><input type="text" class="form-control provision_percentage bumn" value="<?= ($this->all_data["INSBUMN03"]["CHARGES_PCT"]) ?: "1.50"; ?>" name="INSBUMN03" id="INSBUMN03" style="width: 200px;" onkeypress=";" onblur=""></td>
            <td><input type="text" class="form-control provision_percentage nonbumn" value="<?= ($this->all_data["INSNONBUMN03"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="INSNONBUMN03" id="INSNONBUMN03" style="width: 200px;" onkeypress=";" onblur=""></td>
          </tr>
          <tr style="background-color: #f3f3f3">
            <td>Jaminan Uang Muka</td>
            <td>
              <label class="switch">
                <input type="checkbox" name="INS04" onchange='checkjaminan(this)' <?= ($this->all_data["INSBUMN04"]["ACTIVE"] == 'N' || $this->all_data["INSBUMN04"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
                <span class="slider round"></span>
              </label>
            </td>
            <td><input type="text" class="form-control provision_percentage bumn" value="<?= ($this->all_data["INSBUMN04"]["CHARGES_PCT"]) ?: "1.50"; ?>" name="INSBUMN04" id="INSBUMN04" style="width: 200px;" onkeypress=";" onblur=""></td>
            <td><input type="text" class="form-control provision_percentage nonbumn" value="<?= ($this->all_data["INSNONBUMN04"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="INSNONBUMN04" id="INSNONBUMN04" style="width: 200px;" onkeypress=";" onblur=""></td>
          </tr>
          <tr style="background-color: #f3f3f3">
            <td>Jaminan Pemeliharaan</td>
            <td>
              <label class="switch">
                <input type="checkbox" name="INS05" onchange='checkjaminan(this)' <?= ($this->all_data["INSBUMN05"]["ACTIVE"] == 'N' || $this->all_data["INSBUMN05"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
                <span class="slider round"></span>
              </label>
            </td>
            <td><input type="text" class="form-control provision_percentage bumn" value="<?= ($this->all_data["INSBUMN05"]["CHARGES_PCT"]) ?: "1.50"; ?>" name="INSBUMN05" id="INSBUMN05" style="width: 200px;" onkeypress=";" onblur=""></td>
            <td><input type="text" class="form-control provision_percentage nonbumn" value="<?= ($this->all_data["INSNONBUMN05"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="INSNONBUMN05" id="INSNONBUMN05" style="width: 200px;" onkeypress=";" onblur=""></td>
          </tr>
          <tr style="background-color: #f3f3f3">
            <td>Jaminan Lainnya (SP2D)</td>
            <td>
              <label class="switch">
                <input type="checkbox" name="INS06" onchange='checkjaminan(this)' <?= ($this->all_data["INSBUMN06"]["ACTIVE"] == 'N' || $this->all_data["INSBUMN06"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
                <span class="slider round"></span>
              </label>
            </td>
            <td><input type="text" class="form-control provision_percentage bumn" value="<?= ($this->all_data["INSBUMN06"]["CHARGES_PCT"]) ?: "1.50"; ?>" name="INSBUMN06" id="INSBUMN06" style="width: 200px;" onkeypress=";" onblur=""></td>
            <td><input type="text" class="form-control provision_percentage nonbumn" value="<?= ($this->all_data["INSNONBUMN06"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="INSNONBUMN06" id="INSNONBUMN06" style="width: 200px;" onkeypress=";" onblur=""></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mb-4">
      <div class="mb-3">
        <span><strong>Pengenaan Biaya Provisi Bank Garansi Kontra Garansi Line Facility Debitur</strong></span>
      </div>
      <table class="my-3 table-sm table-bordered" cellpadding="5">
        <thead>
          <tr style="background-color: #f3f3f3">
            <td style="background-color: #002260;" class="text-white font-weight-bold">Jenis Jaminan</td>
            <td style="background-color: #002260;" class="text-white font-weight-bold">Aktif</td>
            <td style="background-color: #002260" class="text-white font-weight-bold">Grup BUMN (% p.a)</td>
            <td style="background-color: #002260" class="text-white font-weight-bold">Non Grup BUMN (% p.a)</td>
          </tr>
        </thead>
        <tbody>
          <tr style="background-color: #f3f3f3">
            <td>Jaminan Pembayaran</td>
            <td>
              <label class="switch">
                <input type="checkbox" name="LF01" onchange='checkjaminan(this)' <?= ($this->all_data["LFBUMN01"]["ACTIVE"] == 'N' || $this->all_data["LFBUMN01"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
                <span class="slider round"></span>
              </label>
            </td>
            <td><input type="text" class="form-control provision_percentage bumn" value="<?= ($this->all_data["LFBUMN01"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="LFBUMN01" id="LFBUMN01" style="width: 200px;" onkeypress=";" onblur=""></td>
            <td><input type="text" class="form-control provision_percentage nonbumn" value="<?= ($this->all_data["LFNONBUMN01"]["CHARGES_PCT"]) ?: "1.75"; ?>" name="LFNONBUMN01" id="LFNONBUMN01" style="width: 200px;" onkeypress=";" onblur=""></td>
          </tr>
          <tr style="background-color: #f3f3f3">
            <td>Jaminan Penawaran</td>
            <td>
              <label class="switch">
                <input type="checkbox" name="LF02" onchange='checkjaminan(this)' <?= ($this->all_data["LFBUMN02"]["ACTIVE"] == 'N' || $this->all_data["LFBUMN02"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
                <span class="slider round"></span>
              </label>
            </td>
            <td><input type="text" class="form-control provision_percentage bumn" value="<?= ($this->all_data["LFBUMN02"]["CHARGES_PCT"]) ?: "0.75"; ?>" name="LFBUMN02" id="LFBUMN02" style="width: 200px;" onkeypress=";" onblur=""></td>
            <td><input type="text" class="form-control provision_percentage nonbumn" value="<?= ($this->all_data["LFNONBUMN02"]["CHARGES_PCT"]) ?: "0.75"; ?>" name="LFNONBUMN02" id="LFNONBUMN02" style="width: 200px;" onkeypress=";" onblur=""></td>
          </tr>
          <tr style="background-color: #f3f3f3">
            <td>Jaminan Pelaksanaan</td>
            <td>
              <label class="switch">
                <input type="checkbox" name="LF03" onchange='checkjaminan(this)' <?= ($this->all_data["LFBUMN03"]["ACTIVE"] == 'N' || $this->all_data["LFBUMN03"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
                <span class="slider round"></span>
              </label>
            </td>
            <td><input type="text" class="form-control provision_percentage bumn" value="<?= ($this->all_data["LFBUMN03"]["CHARGES_PCT"]) ?: "1.50"; ?>" name="LFBUMN03" id="LFBUMN03" style="width: 200px;" onkeypress=";" onblur=""></td>
            <td><input type="text" class="form-control provision_percentage nonbumn" value="<?= ($this->all_data["LFNONBUMN03"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="LFNONBUMN03" id="LFNONBUMN03" style="width: 200px;" onkeypress=";" onblur=""></td>
          </tr>
          <tr style="background-color: #f3f3f3">
            <td>Jaminan Uang Muka</td>
            <td>
              <label class="switch">
                <input type="checkbox" name="LF04" onchange='checkjaminan(this)' <?= ($this->all_data["LFBUMN04"]["ACTIVE"] == 'N' || $this->all_data["LFBUMN04"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
                <span class="slider round"></span>
              </label>
            </td>
            <td><input type="text" class="form-control provision_percentage bumn" value="<?= ($this->all_data["LFBUMN04"]["CHARGES_PCT"]) ?: "1.50"; ?>" name="LFBUMN04" id="LFBUMN04" style="width: 200px;" onkeypress=";" onblur=""></td>
            <td><input type="text" class="form-control provision_percentage nonbumn" value="<?= ($this->all_data["LFNONBUMN04"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="LFNONBUMN04" id="LFNONBUMN04" style="width: 200px;" onkeypress=";" onblur=""></td>
          </tr>
          <tr style="background-color: #f3f3f3">
            <td>Jaminan Pemeliharaan</td>
            <td>
              <label class="switch">
                <input type="checkbox" name="LF05" onchange='checkjaminan(this)' <?= ($this->all_data["LFBUMN05"]["ACTIVE"] == 'N' || $this->all_data["LFBUMN05"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
                <span class="slider round"></span>
              </label>
            </td>
            <td><input type="text" class="form-control provision_percentage bumn" value="<?= ($this->all_data["LFBUMN05"]["CHARGES_PCT"]) ?: "1.50"; ?>" name="LFBUMN05" id="LFBUMN05" style="width: 200px;" onkeypress=";" onblur=""></td>
            <td><input type="text" class="form-control provision_percentage nonbumn" value="<?= ($this->all_data["LFNONBUMN05"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="LFNONBUMN05" id="LFNONBUMN05" style="width: 200px;" onkeypress=";" onblur=""></td>
          </tr>
          <tr style="background-color: #f3f3f3">
            <td>Jaminan Lainnya (SP2D)</td>
            <td>
              <label class="switch">
                <input type="checkbox" name="LF06" onchange='checkjaminan(this)' <?= ($this->all_data["LFBUMN06"]["ACTIVE"] == 'N' || $this->all_data["LFBUMN06"]["ACTIVE"] == 'N') ? "" : "checked"; ?>>
                <span class="slider round"></span>
              </label>
            </td>
            <td><input type="text" class="form-control provision_percentage bumn" value="<?= ($this->all_data["LFBUMN06"]["CHARGES_PCT"]) ?: "1.50"; ?>" name="LFBUMN06" id="LFBUMN06" style="width: 200px;" onkeypress=";" onblur=""></td>
            <td><input type="text" class="form-control provision_percentage nonbumn" value="<?= ($this->all_data["LFNONBUMN06"]["CHARGES_PCT"]) ?: "1.65"; ?>" name="LFNONBUMN06" id="LFNONBUMN06" style="width: 200px;" onkeypress=";" onblur=""></td>
          </tr>
        </tbody>
      </table>
    </div>
  <?php } else { ?>
    <div class="d-flex justify-content-end">
      <button class="btngreen hov showDifference">Show Difference Only</button>
    </div>
    <table cellpadding="3" cellspacing="0" border="0" class="table-sm table table-striped table-responsive table-sugg">
      <tr class="diffRow">
        <th class="tdform-sub"><strong><?php echo $this->language->_('Suggestion Detail'); ?></strong></th>
        <th class="tdform-sub"><strong><?php echo $this->language->_('Current Value'); ?></strong></th>
        <th class="tdform-sub"><strong><?php echo $this->language->_('Suggested Value'); ?></strong></th>
      </tr>
      <tr class="diffRow">
        <td width="200" class="tbl-evencontent"><?= $this->language->_('Bank Provision Fee'); ?></td>
        <td width="200" class="tbl-evencontent" style="width: 300px;">
          <span><?= number_format($this->oldData["CHARGES_PCT"], 4); ?> % (from BG Nominal)</span>
        </td>
        <td width="200" class="tbl-evencontent" style="width: 300px;">
          <span class="<?php if ($this->oldData["CHARGES_PCT"] != $this->data["CHARGES_PCT"]) echo "bg-warning" ?>"><?= number_format($this->data["CHARGES_PCT"], 4); ?> % (from BG Nominal)</span>
        </td>
      </tr>
      <tr class="diffRow">
        <td width="200" class="tbl-evencontent"><?= $this->language->_('Bank Administration Fee'); ?></td>
        <td width="200" class="tbl-evencontent">
          <span>
            <?= $this->oldData["CHARGES_CCY"] . " " . number_format($this->oldData["CHARGES_ADM"]); ?>
          </span>
        </td>
        <td width="200" class="tbl-evencontent">
          <span class="<?php if ($this->oldData["CHARGES_ADM"] != $this->data["CHARGES_ADM"]) echo "bg-warning" ?>">
            <?= $this->data["CHARGES_CCY"] . " " . number_format($this->data["CHARGES_ADM"]); ?>
          </span>
        </td>
      </tr>
      <tr class="diffRow">
        <td width="200" class="tbl-evencontent"><?= $this->language->_('Bank Stamp Fee'); ?></td>
        <td width="200" class="tbl-evencontent">
          <span><?= $this->data["CHARGES_CCY"] . " " . number_format($this->oldData["CHARGES_STAMP"]); ?></span>
        </td>
        <td width="200" class="tbl-evencontent">
          <span class="<?php if ($this->oldData["CHARGES_STAMP"] != $this->data["CHARGES_STAMP"]) echo "bg-warning" ?>"><?= $this->data["CHARGES_CCY"] . " " . number_format($this->data["CHARGES_STAMP"]); ?></span>
        </td>
      </tr>
    </table>
  <?php } ?>

  <div class="row" id="btn_action">
    <div class="col-md-12 d-flex justify-content-center">
      <form action="" method="post">
        <?php
        if ($this->data["CHANGES_STATUS"] != 'RR') {

          if ($this->all_data["ADM01"]["FLAG"] == 1) {
            if ($this->hasPrivilege("ACCC")) {
              echo $this->formButton('submit_approve', $this->language->_('Approve'), ['class' => 'btngreen hov mr-1', 'onclick' => 'approve()']);
              echo $this->formButton('submit_reject', $this->language->_('Reject'), ['class' => 'btnred hov mr-1', 'onclick' => 'rejectmodal()']);
            }
          } else {
            if ($this->hasPrivilege("RCCC")) {
              echo $this->formSubmit('submit_review', $this->language->_('Review'), ['class' => 'btngreen hov mr-1']);
              echo $this->formButton('submit_reject', $this->language->_('Reject'), ['class' => 'btnred hov mr-1', 'onclick' => 'rejectmodal()']);
            }
          }
        }
        ?>
      </form>
    </div>
  </div>

  <script>
    function rejectmodal() {

      $('#dialogreject_box').modal('show');
      $("#btn_reject").attr('onclick',
        'if($("#PS_REASON2").val() == ""){alert("Please fill the notes");}else{$("#dialogreject_box").modal("hide");reject();}'
      );
    }

    function approve() {
      var changes_id = "<?= $this->changes_id; ?>";
      var cust_id = "<?= $this->cust_id; ?>";
      $.ajax({
        url: "<?= $this->url(array('module' => 'companycharges', 'controller' => 'cashcollateral', 'action' => 'approve')); ?>",
        method: "GET",
        dataType: "JSON",
        data: {
          changes_id: changes_id,
          cust_id: cust_id
        },
        success: function(response) {
          if (response.status == 'success') {
            $('#btn_action').remove();
            window.opener.location.reload(true);
            // window.close();
          } else {
            alert(response.message);
          }
        }
      });
    }

    function reject() {
      var changes_id = "<?= $this->changes_id; ?>";
      var cust_id = "<?= $this->cust_id; ?>";
      var rejectNote = $("#PS_REASON2").val();
      //alert(rejectNote);
      $.ajax({
        url: "<?= $this->url(array('action' => 'reject')); ?>",
        method: "GET",
        dataType: "JSON",
        data: {
          changes_id: changes_id,
          cust_id: cust_id,
          reject_note: rejectNote
        },
        success: function(response) {
          if (response.status == 'success') {
            $('#btn_action').remove();
            window.opener.location.reload(true);
            // window.close();
          } else {
            alert(response.message);
          }
        }
      });
    }

    // document.querySelector(".showDifference").addEventListener("click", () => {
    //   const getElem = document.querySelectorAll("span[class='']")
    //   getElem.forEach((e) => {
    //     if (e.parentElement.parentElement.style.display == "table-row" || e.parentElement.parentElement.style.display == "") {
    //       e.parentElement.parentElement.style.display = "none"
    //     } else {
    //       e.parentElement.parentElement.style.display = "table-row"
    //     }
    //   })
    // })

    function checkjaminan(object) {
      const parent = object.parentElement.parentElement.parentElement
      const save_jaminan = parent.querySelectorAll("input[type='text']");

      save_jaminan.forEach((item, index) => {

        if (bumn === '1') {
          if (index === 1) {
            return;
          }
        } else {
          if (index === 0) {
            return;
          }
        }

        if (object.checked) {
          item.readOnly = false;
          item.style.color = "#000"
          if (item.value) {
            item.value = item.value
          } else {
            item.value = "0.00"
          }
        } else {
          item.readOnly = true;
          item.style.color = "#b3b2b2"
          if (item.value) {
            item.value = item.value
          } else {
            item.value = "0.00"
          }
        }
      })
    }

    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll("input[type='text']").forEach(item => {
        item.setAttribute("autocomplete", "off")
        item.addEventListener("keypress", (event) => {
          event.preventDefault();
        })
      })

      document.querySelectorAll("input[type='checkbox']").forEach(item => {
        item.dispatchEvent(new Event("change"))

        item.addEventListener("click", (event) => {
          event.preventDefault()
        })
      })
    })
  </script>
<?php } ?>

<?php if ($this->requestRebate) { ?>

  <div class="d-flex justify-content-end">
    <button class="btngreen hov showDifference">Show Difference Only</button>
  </div>
  <table cellpadding="3" cellspacing="0" border="0" class="table-sm table table-striped table-responsive table-sugg">
    <tr class="diffRow">
      <th class="tdform-sub"><strong><?php echo $this->language->_('Suggestion Detail'); ?></strong></th>
      <th class="tdform-sub"><strong><?php echo $this->language->_('Current Value'); ?></strong></th>
      <th class="tdform-sub"><strong><?php echo $this->language->_('Suggested Value'); ?></strong></th>
    </tr>
    <tr class="diffRow">
      <td width="200" class="tbl-evencontent"><?= $this->language->_('Bank Provision Fee'); ?></td>
      <td width="200" class="tbl-evencontent" style="width: 300px;">
        <span><?= number_format($this->getOldProvisionFee["CHARGES_PCT"], 4); ?> % (from BG Nominal)</span>
      </td>
      <td width="200" class="tbl-evencontent" style="width: 300px;">
        <span class="<?php if ($this->getOldProvisionFee["CHARGES_PCT"] != $this->data["PROVISION_FEE"]) echo "bg-warning" ?>"><?= number_format($this->data["PROVISION_FEE"], 4); ?> % (from BG Nominal)</span>
      </td>
    </tr>
  </table>

  <div class="row" id="btn_action">
    <div class="col-md-12 d-flex justify-content-center">
      <form action="" method="post">
        <?php
        if ($this->data["CHANGES_STATUS"] != 'RR') {

          var_dump("test");
          die();
          if ($this->data["FLAG"] == 1) {
            if ($this->hasPrivilege("ARRC")) {
              echo $this->formButton('submit_approve', $this->language->_('Approve'), ['class' => 'btngreen hov mr-1', 'onclick' => 'approve()']);
              echo $this->formButton('submit_reject', $this->language->_('Reject'), ['class' => 'btnred hov mr-1', 'onclick' => 'reject()']);
            }
          } else {
            if ($this->hasPrivilege("RVRC")) {
              echo $this->formSubmit('submit_review', $this->language->_('Review'), ['class' => 'btngreen hov mr-1']);
              echo $this->formButton('submit_reject', $this->language->_('Reject'), ['class' => 'btnred hov mr-1', 'onclick' => 'reject()']);
            }
          }
        }
        ?>
      </form>
    </div>
  </div>

  <script>
    function approve() {
      var changes_id = "<?= $this->changes_id; ?>";
      var cust_id = "<?= $this->cust_id; ?>";
      $.ajax({
        url: "<?= $this->url(array('action' => 'approve')); ?>",
        method: "GET",
        dataType: "JSON",
        data: {
          changes_id: changes_id,
          cust_id: cust_id
        },
        success: function(response) {
          if (response.status == 'success') {
            $('#btn_action').remove();
            window.opener.location.reload(true);
            // window.close();
          } else {
            alert(response.message);
          }
        }
      });
    }

    function reject() {
      var changes_id = "<?= $this->changes_id; ?>";
      var cust_id = "<?= $this->cust_id; ?>";
      $.ajax({
        url: "<?= $this->url(array('action' => 'reject')); ?>",
        method: "GET",
        dataType: "JSON",
        data: {
          changes_id: changes_id,
          cust_id: cust_id
        },
        success: function(response) {
          if (response.status == 'success') {
            $('#btn_action').remove();
            window.opener.location.reload(true);
            // window.close();
          } else {
            alert(response.message);
          }
        }
      });
    }

    document.querySelector(".showDifference").addEventListener("click", () => {
      const getElem = document.querySelectorAll("span[class='']")
      getElem.forEach((e) => {
        if (e.parentElement.parentElement.style.display == "table-row" || e.parentElement.parentElement.style.display == "") {
          e.parentElement.parentElement.style.display = "none"
        } else {
          e.parentElement.parentElement.style.display = "table-row"
        }
      })
    })
  </script>
<?php } ?>

<?php if (!$this->cashCollateral && !$this->requestRebate) { ?>
  <br>
  <div class="row">
    <div class="col">
      <h5><?= $this->language->_('Suggestion Detail Line Facility'); ?></h5>
    </div>
    <?php if ($this->changes_type == 'E') : ?>
      <div class="col text-right">
        <button id="btnDiffOnly" type="button" class="btngreen hov"><?= $this->language->_('Show Difference Only'); ?></button>
      </div>
    <?php endif; ?>
  </div>

  <div class="row">
    <div class="portlet-body form col-md-12">
      <table width="100%" cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped table-sugg">
        <?php if ($this->changes_type != 'E') { ?>
          <tr>
            <td colspan="4" class="tbl-evencontent"><b><?= $this->language->_('New Line Facility Detail'); ?></b></td>
          </tr>
        <?php } ?>
        <?php if ($this->changes_type == 'E') { ?>
          <tr class="diffRow">
            <td width="200" class="tbl-evencontent"><b><?= $this->language->_('Field Name'); ?></b></td>
            <td width="3" class="tbl-evencontent">&nbsp;</td>
            <td width="300" class="tbl-evencontent"><b><?= $this->language->_('Current Value'); ?></b></td>
            <td width="300" class="tbl-evencontent"><b><?= $this->language->_('Suggested Value'); ?></b></td>
          </tr>
        <?php } ?>
        <tbody>
          <tr>
            <td class="tbl-evencontent"><?= $this->formLabel('customer', $this->language->_('Customer')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('customer', $this->m_customer, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('customer', $this->customer, array('class' => 'dataChange')); ?></td>
          </tr>
          <tr>
            <td class="tbl-evencontent"><?= $this->formLabel('collect_code', $this->language->_('Collectibility Code')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('collect_code', $this->m_collect_code, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('collect_code', $this->collect_code, array('class' => 'dataChange')); ?></td>
          </tr>
          <tr>
            <td class="tbl-evencontent"><?= $this->formLabel('cust_segment', $this->language->_('Segmentation')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('cust_segment', $this->m_cust_segment, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('cust_segment', $this->cust_segment, array('class' => 'dataChange')); ?></td>
          </tr>
          <tr>
            <td class="tbl-evencontent"><?= $this->formLabel('agreement_type', $this->language->_('Jenis Pengikatan')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('agreement_type', $this->m_agreement_type, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('agreement_type', $this->agreement_type, array('class' => 'dataChange')); ?></td>
          </tr>
          <tr>
            <td class="tbl-evencontent"><?= $this->formLabel('pks_number', $this->language->_('Underlying Document')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?>
              <td class="tbl-evencontent" width="400px">
                <?= $this->formLabel('pks_number', $this->m_pks_number, array('class' => 'data')); ?>
                <a href="/linefacility/index/download/underlying/1/master/1/changeid/<?= $this->change_id; ?>" class="text-body">
                  <svg xmlns="http://www.w3.org/2000/svg" style="width: 1.5em; height: 1.5em" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                  </svg>
                </a>
              </td>
            <?php } ?>
            <td class="tbl-evencontent" width="400px" colspan="2">
              <?= $this->formLabel('pks_number', $this->pks_number, array('class' => 'dataChange')); ?>
              <a href="/linefacility/index/download/underlying/1/changeid/<?= $this->change_id; ?>" class="text-body">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 1.5em; height: 1.5em" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                </svg>
              </a>
            </td>
          </tr>
          <tr>
            <td class="tbl-evencontent"><?= $this->formLabel('pks_start_date', $this->language->_('Facility Start Date')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('pks_start_date', $this->m_pks_start_date, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('pks_start_date', $this->pks_start_date, array('class' => 'dataChange')); ?></td>
          </tr>
          <tr>
            <td class="tbl-evencontent"><?= $this->formLabel('pks_exp_date', $this->language->_('Facility Expired Date')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('pks_exp_date', $this->m_pks_exp_date, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('pks_exp_date', $this->pks_exp_date, array('class' => 'dataChange')); ?></td>
          </tr>
          <tr>
            <td class="tbl-evencontent"><?= $this->formLabel('claim_deadline', $this->language->_('Claim Payment Deadline (when default)')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('claim_deadline', $this->m_claim_deadline, array('class' => 'data')); ?> days</td> <?php } ?>
            <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('claim_deadline', $this->claim_deadline, array('class' => 'dataChange')); ?> days</td>
          </tr>
          <?php if ($this->getDataLf["CUST_SEGMENT"] == 4) { ?>
            <tr>
              <td class="tbl-evencontent"><?= $this->formLabel('grace_period', $this->language->_('Grace Period to recover Marginal Deposit')); ?></td>
              <td class="tbl-evencontent">:</td>
              <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('grace_period', $this->m_grace_period, array('class' => 'data')); ?> days</td> <?php } ?>
              <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('claim_deadline', $this->grace_period, array('class' => 'dataChange')); ?> days</td>
            </tr>
          <?php } ?>
          <tr>
            <td class="tbl-evencontent"><?= $this->formLabel('fee_debited', $this->language->_('Rekening Pembayaran')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('payment_acct', $this->m_payment_acct, array('class' => 'data')); ?> - <?= $this->m_detail_payment_acct; ?></td> <?php } ?>
            <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('fee_debited', $this->payment_acct, array('class' => 'dataChange')); ?> - <?= $this->detail_payment_acct; ?></td>
          </tr>
          <?php if ($this->cust_segment == 'FINANCIAL INSTITUTION') : ?>
            <tr>
              <td class="tbl-evencontent"><?= $this->formLabel('doc_deadline', $this->language->_('Document Submission Deadline')); ?></td>
              <td class="tbl-evencontent">:</td>
              <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('doc_deadline', $this->m_doc_deadline, array('class' => 'data')); ?> days</td> <?php } ?>
              <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('doc_deadline', $this->doc_deadline, array('class' => 'dataChange')); ?> days</td>
            </tr>
            <tr>
              <td class="tbl-evencontent"><?= $this->formLabel('fee_debited', $this->language->_('Fee Will be Debited from')); ?></td>
              <td class="tbl-evencontent">:</td>
              <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('fee_debited', $this->m_fee_debited, array('class' => 'data')); ?></td> <?php } ?>
              <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('fee_debited', $this->fee_debited, array('class' => 'dataChange')); ?></td>
            </tr>

            <?php if ($this->fee_debited == 'FINANCIAL INSTITUTION') : ?>
              <tr>
                <td class="tbl-evencontent"><?= $this->formLabel('debited_account', $this->language->_('Debited Account')); ?></td>
                <td class="tbl-evencontent">:</td>
                <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('debited_account', $this->m_debited_account, array('class' => 'data')); ?></td> <?php } ?>
                <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('debited_account', $this->debited_account, array('class' => 'dataChange')); ?></td>
              </tr>
            <?php endif; ?>
          <?php endif; ?>
          <tr>
            <td class="tbl-evencontent"><?= $this->formLabel('plafond_limit', $this->language->_('Plafond Limit')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('plafond_limit', $this->m_plafond_limit, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('plafond_limit', $this->plafond_limit, array('class' => 'dataChange')); ?></td>
          </tr>
          <tr>
            <td class="tbl-evencontent"><?= $this->formLabel('ticket_size', $this->language->_('Ticket Size')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?>
              <td class="tbl-evencontent" width="400px"><?= $this->formLabel('ticket_size', $this->m_ticket_size, array('class' => 'data')); ?>
              </td>
            <?php } ?>
            <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('ticket_size', $this->ticket_size, array('class' => 'dataChange')); ?>
            </td>
          </tr>
          <?php if ($this->cust_segment1 == 4) : ?>
            <tr>
              <td class="tbl-evencontent"><?= $this->formLabel('marginal_deposit', $this->language->_('Marginal Deposit')); ?></td>
              <td class="tbl-evencontent">:</td>
              <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('marginal_deposit', $this->m_marginal_deposit, array('class' => 'data')); ?></td> <?php } ?>
              <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('marginal_deposit', $this->marginal_deposit, array('class' => 'dataChange')); ?></td>
            </tr>
          <?php endif; ?>
          <tr>
            <td class="tbl-evencontent"><?= $this->formLabel('fee_provision', $this->language->_('Biaya Provisi')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?>
              <td class="tbl-evencontent" width="400px">
                <table>
                  <tr id="isi_provisi">
                    <td colspan="4">
                      <table class="my-3" cellpadding="5" style="width:100%">
                        <thead>
                          <tr>
                            <td style="background-color: #0b549f; width: 30%" class="text-white font-weight-bold">Jenis Jaminan</td>
                            <td style="background-color: #0b549f; width: 20%" class="text-white font-weight-bold">Aktif</td>
                            <td style="background-color: #0b549f" class="text-white font-weight-bold">Grup BUMN (% p.a)</td>
                            <td style="background-color: #0b549f" class="text-white font-weight-bold">Non Grup BUMN (% p.a)</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Jaminan Pembayaran</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox" name="JAMINAN_PEMBAYARAN" <?= ($this->m_get_all_provision[0]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false;" onchange="checkjaminan(this)">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" value="<?= number_format($this->m_get_all_provision[0]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                            <td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" value="<?= number_format($this->m_get_all_provision[1]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                          </tr>
                          <tr>
                            <td>Jaminan Penawaran</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox" name="JAMINAN_PENAWARAN" <?= ($this->m_get_all_provision[2]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false;" onchange="checkjaminan(this)">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" value="<?= number_format($this->m_get_all_provision[2]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                            <td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" value="<?= number_format($this->m_get_all_provision[3]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                          </tr>
                          <tr>
                            <td>Jaminan Pelaksanaan</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox" name="JAMINAN_PELAKSANAAN" <?= ($this->m_get_all_provision[4]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false;" onchange="checkjaminan(this)">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" value="<?= number_format($this->m_get_all_provision[4]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                            <td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" value="<?= number_format($this->m_get_all_provision[5]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                          </tr>
                          <tr>
                            <td>Jaminan Uang Muka</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox" name="JAMINAN_UANG_MUKA" <?= ($this->m_get_all_provision[6]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false;" onchange="checkjaminan(this)">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" value="<?= number_format($this->m_get_all_provision[6]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                            <td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" value="<?= number_format($this->m_get_all_provision[7]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                          </tr>
                          <tr>
                            <td>Jaminan Pemeliharaan</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox" name="JAMINAN_PEMELIHARAAN" <?= ($this->m_get_all_provision[8]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false;" onchange="checkjaminan(this)">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" value="<?= number_format($this->m_get_all_provision[8]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                            <td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" value="<?= number_format($this->m_get_all_provision[9]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                          </tr>
                          <tr>
                            <td>Jaminan Lainnya (SP2D)</td>
                            <td>
                              <label class="switch">
                                <input type="checkbox" name="JAMINAN_LAINNYA" <?= ($this->m_get_all_provision[10]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false;" onchange="checkjaminan(this)">
                                <span class="slider round"></span>
                              </label>
                            </td>
                            <td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" value="<?= number_format($this->m_get_all_provision[10]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                            <td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" value="<?= number_format($this->m_get_all_provision[11]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            <?php } ?>
            <td class="tbl-evencontent" width="400px" colspan="2">
              <table>
                <tr id="isi_provisi">
                  <td colspan="4">
                    <table class="my-3" cellpadding="5" style="width:100%">
                      <thead>
                        <tr>
                          <td style="background-color: #0b549f; width: 30%" class="text-white font-weight-bold">Jenis Jaminan</td>
                          <td style="background-color: #0b549f; width: 20%" class="text-white font-weight-bold">Aktif</td>
                          <td style="background-color: #0b549f" class="text-white font-weight-bold">Grup BUMN (% p.a)</td>
                          <td style="background-color: #0b549f" class="text-white font-weight-bold">Non Grup BUMN (% p.a)</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Jaminan Pembayaran</td>
                          <td>
                            <label class="switch">
                              <input type="checkbox" name="JAMINAN_PEMBAYARAN" <?= ($this->get_all_provision[0]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false;" onchange="checkjaminan(this)">
                              <span class="slider round"></span>
                            </label>
                          </td>
                          <td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" value="<?= number_format($this->get_all_provision[0]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                          <td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" value="<?= number_format($this->get_all_provision[1]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                        </tr>
                        <tr>
                          <td>Jaminan Penawaran</td>
                          <td>
                            <label class="switch">
                              <input type="checkbox" name="JAMINAN_PENAWARAN" <?= ($this->get_all_provision[2]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false;" onchange="checkjaminan(this)">
                              <span class="slider round"></span>
                            </label>
                          </td>
                          <td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" value="<?= number_format($this->get_all_provision[2]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                          <td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" value="<?= number_format($this->get_all_provision[3]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                        </tr>
                        <tr>
                          <td>Jaminan Pelaksanaan</td>
                          <td>
                            <label class="switch">
                              <input type="checkbox" name="JAMINAN_PELAKSANAAN" <?= ($this->get_all_provision[4]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false;" onchange="checkjaminan(this)">
                              <span class="slider round"></span>
                            </label>
                          </td>
                          <td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" value="<?= number_format($this->get_all_provision[4]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                          <td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" value="<?= number_format($this->get_all_provision[5]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                        </tr>
                        <tr>
                          <td>Jaminan Uang Muka</td>
                          <td>
                            <label class="switch">
                              <input type="checkbox" name="JAMINAN_UANG_MUKA" <?= ($this->get_all_provision[6]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false;" onchange="checkjaminan(this)">
                              <span class="slider round"></span>
                            </label>
                          </td>
                          <td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" value="<?= number_format($this->get_all_provision[6]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                          <td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" value="<?= number_format($this->get_all_provision[7]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                        </tr>
                        <tr>
                          <td>Jaminan Pemeliharaan</td>
                          <td>
                            <label class="switch">
                              <input type="checkbox" name="JAMINAN_PEMELIHARAAN" <?= ($this->get_all_provision[8]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false;" onchange="checkjaminan(this)">
                              <span class="slider round"></span>
                            </label>
                          </td>
                          <td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" value="<?= number_format($this->get_all_provision[8]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                          <td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" value="<?= number_format($this->get_all_provision[9]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                        </tr>
                        <tr>
                          <td>Jaminan Lainnya (SP2D)</td>
                          <td>
                            <label class="switch">
                              <input type="checkbox" name="JAMINAN_LAINNYA" <?= ($this->get_all_provision[10]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false;" onchange="checkjaminan(this)">
                              <span class="slider round"></span>
                            </label>
                          </td>
                          <td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" value="<?= number_format($this->get_all_provision[10]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                          <td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" value="<?= number_format($this->get_all_provision[11]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="tbl-evencontent"><?= $this->formLabel('fee_admin', $this->language->_('Bank Fee Administration')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('fee_admin', $this->m_fee_admin, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('fee_admin', $this->fee_admin, array('class' => 'dataChange')); ?></td>
          </tr>
          <tr>
            <td class="tbl-evencontent"><?= $this->formLabel('fee_stamp', $this->language->_('Bank Fee Stamp')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('fee_stamp', $this->m_fee_stamp, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('fee_stamp', $this->fee_stamp, array('class' => 'dataChange')); ?></td>
          </tr>
          <!-- <tr>
            <td class="tbl-evencontent"><?= $this->formLabel('status', $this->language->_('Line Facility Status')); ?></td>
            <td class="tbl-evencontent">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('status', $this->m_status, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('status', $this->status, array('class' => 'dataChange')); ?></td>
          </tr> -->
          <?php if (($this->m_status != 'Terminated' && $this->status == 'Terminated') || ($this->m_status != 'Freeze Submission' && $this->status == 'Freeze Submission')) : ?>
            <tr>
              <td class="tbl-evencontent"><?= $this->formLabel('status', $this->language->_('Reason')); ?></td>
              <td class="tbl-evencontent">:</td>
              <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('status', $this->m_reason, array('class' => 'data')); ?></td> <?php } ?>
              <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('reason', $this->reason, array('class' => 'dataChange')); ?></td>
            </tr>
          <?php endif; ?>
        </tbody>
      </table>
    </div>
  </div>

  <br>
  <div class="row" id="btn_action">
    <div class="col-md-12 d-flex justify-content-center">
      <form action="" method="post">
        <?php
        if ($this->changes_status != 'RR') {
          if ($this->flag == 1) {
            if ($this->hasPrivilege('RLFC')) {
              echo $this->formSubmit('submit_review', $this->language->_('Review'), ['class' => 'btngreen hov mr-1']);
              echo $this->formButton('submit_reject', $this->language->_('Reject'), ['class' => 'btnred hov mr-1', 'onclick' => 'reject()']);
            }
          }
          if ($this->flag == 2) {
            if ($this->hasPrivilege('ALFC')) {
              //echo $this->formSubmit('submit_request_repair', $this->language->_('Request Repair'), ['class' => 'btnwhite hov mr-1']);
              echo $this->formButton('submit_approve', $this->language->_('Approve'), ['class' => 'btngreen hov mr-1', 'onclick' => 'approve()']);
              echo $this->formButton('submit_reject', $this->language->_('Reject'), ['class' => 'btnred hov mr-1', 'onclick' => 'reject()']);
            }
          }
        } else {
          if ($this->hasPrivilege('RPFC')) {
            echo $this->formButton('submit_repair', $this->language->_('Repair'), ['class' => 'btngreen hov mr-1', 'onclick' => "window.location.href='/linefacility/suggestiondetail/repair/changes_id/$this->changes_id'"]);
          }
        }
        ?>
      </form>
    </div>
  </div>



  <?php if ($this->is_review === true) :
    if (!$this->error) {
  ?>
      <script>
        var approve = "<?= $this->language->_('Approve'); ?>";
        var button = '<button name="submit_approve" id="submit_approve" type="button" class="btngreen hov mr-1" onclick="approve()">' + approve + '</button>';
        $('#submit_review').after(button);
        $('#submit_review').remove();
        window.opener.location.reload(true);
      </script>
  <?php
    }
  endif; ?>

  <?php if ($this->is_request_repair === true) : ?>
    <script>
      $('#btn_action').remove();
      window.opener.location.reload(true);
    </script>
  <?php endif; ?>

  <script>
    var bumn = "<?= $this->checkBumn; ?>";

    function checkjaminan(object) {
      const parent = object.parentElement.parentElement.parentElement
      const save_jaminan = parent.querySelectorAll("input[type='text']");

      save_jaminan.forEach(item => {
        if (object.checked) {
          item.disabled = false;
          item.style.color = "#000"
        } else {
          item.disabled = true;
          item.style.color = "#b3b2b2"
        }
      })
    }

    function approve() {
      var changes_id = "<?= $this->changes_id; ?>";
      var cust_id = "<?= $this->cust_id; ?>";
      //alert();
      $.ajax({
        url: "<?= $this->url(array('action' => 'approve')); ?>",
        method: "GET",
        dataType: "JSON",
        data: {
          changes_id: changes_id,
          cust_id: cust_id
        },
        success: function(response) {
          if (response.status == 'success') {
            $('#btn_action').remove();
            window.opener.location.reload(true);
            // window.close();
          } else {
            alert("<?= $this->language->_('Error occurred, please try again later'); ?>");
          }
        }
      });
    }

    function reject() {
      var changes_id = "<?= $this->changes_id; ?>";
      var cust_id = "<?= $this->cust_id; ?>";
      $.ajax({
        url: "<?= $this->url(array('action' => 'reject')); ?>",
        method: "GET",
        dataType: "JSON",
        data: {
          changes_id: changes_id,
          cust_id: cust_id
        },
        success: function(response) {
          if (response.status == 'success') {
            $('#btn_action').remove();
            window.opener.location.reload(true);
            // window.close();
          } else {
            alert("<?= $this->language->_('Error occurred, please try again later'); ?>");
          }
        }
      });
    }

    document.addEventListener("DOMContentLoaded", () => {

      document.querySelectorAll(".provision_percentage").forEach(item => {
        item.parentElement.parentElement.querySelector("input[type='checkbox']").dispatchEvent(new Event("change"));
      })

      document.querySelectorAll("input").forEach(elem => {
        elem.style.caretColor = "transparent"
      })

      if (bumn === '1') {
        document.querySelectorAll(".nonbumn").forEach(item => {
          item.parentElement.style.display = "none"
          item.parentElement.parentElement.parentElement.previousElementSibling.querySelectorAll("td")[3].style.display = "none"
          item.value = '0.00'
          item.disabled = true;
          item.style.color = "#b3b2b2"
        })
      } else {
        document.querySelectorAll(".bumn").forEach(item => {
          item.parentElement.style.display = "none"
          item.parentElement.parentElement.parentElement.previousElementSibling.querySelectorAll("td")[2].style.display = "none"
          item.value = '0.00'
          item.disabled = true;
          item.style.color = "#b3b2b2"
        })
      }
    })
  </script>

  <?php if ($this->changes_type == 'E') { ?>
    <script>
      //user role diff
      if ($(".Sugg_userrole").text() != $(".Curr_userrole").text()) {
        $(".Sugg_userrole").css('background-color', '#fffe5c');
        $(this).addClass('diffRow');
      }
      $("table.table-sugg > tbody > tr").each(function() {
        var data = $(this).find(".data");
        var dataChange = $(this).find(".dataChange");
        if (data.text() != dataChange.text()) {
          dataChange.css('background-color', '#fffe5c');
          $(this).addClass('diffRow');
        }
      });

      $("#btnDiffOnly").click(function() {
        $("table.table-sugg > tbody > tr").each(function() {
          var className = $(this).attr('class');
          if (className != 'diffRow' && $(this).is(":visible")) {
            $(this).hide();
          } else {
            $(this).show();
          }
        });
      });

      //diff for Privilege list
      // suggested priv
      <?php
      if (count($this->priviList) > 0) {
        foreach ($this->priviList as $privi) {
      ?>
          var currentValue = $('.curr_<?= $privi ?>');
          var suggestedtValue = $('.sugg_<?= $privi ?>');
          if (currentValue.text() != suggestedtValue.text()) {
            suggestedtValue.css('background-color', '#fffe5c');
            suggestedtValue.attr('title', 'Added');
            suggestedtValue.closest('tr').addClass('diffRow');
          }
      <?php
        }
      }
      ?>
      // current priv
      <?php
      if (count($this->m_priviList) > 0) {
        foreach ($this->m_priviList as $privi) {
      ?>
          var currentValue = $('.curr_<?= $privi ?>');
          var suggestedtValue = $('.sugg_<?= $privi ?>');
          if (currentValue.text() != suggestedtValue.text()) {
            currentValue.css('background-color', '#ff2222');
            currentValue.attr('title', 'Removed');
            currentValue.closest('tr').addClass('diffRow');
          }
      <?php
        }
      }
      ?>
    </script>
<?php }
} ?>