
<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('General'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	               <li>
	                    <span><?php echo $this->language->_('Help List'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span><?php echo $this->language->_('Add'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<script type="text/javascript">

$(document).ready(function(){
$('#chooseFile').bind('change', function () {
  var filename = $("#chooseFile").val();
  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("No file chosen..."); 
  }
  else {
    $(".file-upload").addClass('active');
    $("#noFile").text(filename.replace("C:\\fakepath\\", "")); 
  }
});

});

	$(function () {
    $(":file").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = imageIsLoaded;
            reader.readAsDataURL(this.files[0]);
        }
    });
});

function imageIsLoaded(e) {
    $('#myImg').attr('src', e.target.result);
};
</script>
<style type="text/css">
  


.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

</style>

<?php if($this->error){ ?>
	<div class="errmsg">
	<?php	
		if($this->errorMsg)
		{
			foreach($this->errorMsg as $key => $error)
			{
				echo $this->formErrors($this->errorMsg[$key]);
			}
		}
		
		if($this->documentErr) 
		{
			echo $this->formErrors($this->documentErr);
		}
		else if($this->helpTopicErr) 
		{
			echo $this->formErrors($this->helpTopicErr);
		}
		else if($this->sourceFileNameErr) 
		{
			echo $this->formErrors($this->sourceFileNameErr);
		}
	?>
	</div>
	<br />
	<?php 
		}
		else if($this->success)
		{ 
	?>
		<div class="successmsg"><?php echo $this->successMsg; ?></div><br />
	<?php 
		} 
	?>

<div class="row content-box">
	<div class= "portlet-body form col-md-12">
		<table cellpadding="3" cellspacing="0" border="0" class="tableform">
			<form name="acstat_query" enctype="multipart/form-data" method="post" action="">
			<h5><?=$this->language->_('New Help')?></h5>
  			<tr>
  				<td colspan="5" class="tbl-evencontent">
  				<b></b><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
  				</td>
  			</tr>
			<tr>
			    <td class="tbl-evencontent"><?php echo $this->formLabel('Help Topic*',$this->language->_('Title')); ?>&nbsp;<span class="errmsg">*</span></td>
			    <td class="tbl-evencontent">:</td>
			    <td class="tbl-evencontent" colspan="4">
			     	<?php  echo $this->formText('helpTopic',$this->helpTopic,array('maxlength'=>'50','size'=>'50','onfocus'=>'return noSpecialChar3(event);','class'=>'form-control')); ?>
				</td>
			</tr>
			<tr>
			    <td class="tbl-evencontent"><?php echo $this->language->_('Upload Image')?>&nbsp;<span class="errmsg">*</span></td>
			    <td class="tbl-evencontent">:</td>
			    <td class="tbl-evencontent">
			    	<br>
			    	 <div class="file-upload">
                                                      <div class="file-select">
                                                        <div class="file-select-button" id="fileName">Choose File</div>
                                                        <div class="file-select-name" id="noFile">No file chosen...</div> 
                                                        <input type="file" name="document" id="chooseFile">
                                                      </div>
                                                    </div>
			     	
					<br><i> *) <?php echo $this->language->_('Only image file format will be accepted')?></i>
					<br/><img id="myImg" src="#" alt="images" style="max-width: 200px;max-height: 200px" />

				</td>
			</tr>
			<tr>
			    <td class="tbl-evencontent"><?php echo $this->language->_('News Description')?>&nbsp;<span class="errmsg">*</span></td>
			    <td class="tbl-evencontent">:</td>
			    <td class="tbl-evencontent" colspan="4">
			    	<br>
			     	<?php echo $this->formCkEditor('news',$this->news,'') ?>
				</td>
			</tr>
			<tr>
			    <td class="tbl-evencontent"><?php echo $this->language->_('Type')?>&nbsp;<span class="errmsg">*</span></td>
			    <td class="tbl-evencontent">:</td>
			    <td class="tbl-evencontent" colspan="4">
			    	<br>
			     	<select name="type" id="id">
			     		<?php 
			     			if($this->type == '1'){
			     				$select1 = 'selected';
			     			}else if($this->type == '2'){
			     				$select2 = 'selected';
			     			}
			     		?>
			     		<option value="">-- <?php echo $this->language->_('Please Select') ?> --</option>
			     		<option value="1" <?php echo $select1 ?> ><?php echo $this->language->_('News') ?></option>
			     		<option value="2" <?php echo $select2 ?> ><?php echo $this->language->_('Promo') ?></option>
			     	</select>
				</td>
			</tr>
		</table>
		<br>
			<div class="formbutton">				
				<?php echo $this->formButton('back',$this->language->_('Back'),array('onclick' => 'location.href= \'/helplist\'', 'class' => 'btnwhite hov'));?>
				<?php echo $this->formSubmit('upload',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
				<!--<?php echo $this->formReset('reset', $this->language->_('Reset'),array('class'=>'inputbtn')); ?>-->
				<input type="button" name="clearfilter" class="btngreen hov" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>'">	
			</div>
		</form>
	</div>
</div>
