
<b> <?php echo $this->language->_('Table'); ?> &gt; <?php echo $this->language->_('Backend Group'); ?> </b><br/><br/>
<div class="tabheader" id="tabheader"> <?php echo $this->language->_('Backend Group List'); ?> </div>

<?php if($this->hasPrivilege("be_group_inp")) { ?>
<div>
<a href="<?=$this->url(array('module' =>'group','controller' => 'new'),null,true)?>" class="inputbtn">&nbsp;New&nbsp;</a>
</div>
<br/>
<?php } ?>

<form name="filterForm" action="<?php echo $this->url(array('page' => '1')).$this->qstring; ?>" method="get">
<table cellpadding="3" cellspacing="0" border="0" class="tableform">
<tr>
	<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th>
</tr>

<tr>
	<td class="tbl-evencontent"><?php echo $this->formLabel('group_id',$this->language->_('Group ID')); ?></td>
	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><?php echo $this->formText('group_id',$this->group_id,array('id'=>'group_id','class'=>'currency'))?></td>
</tr>

<tr>
	<td class="tbl-evencontent"><?php echo $this->formLabel('group_id',$this->language->_('Group Name')); ?></td>
	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><?php echo $this->formText('group_name',$this->group_name,array('id'=>'group_name','class'=>'currency'))?></td>
</tr>

<tr>
     <td class="tbl-evencontent" ><?php echo $this->language->_('Status'); ?></td>
     <td class="tbl-evencontent">:</td>
     <td class="tbl-evencontent">
        	<?php        	
        	   $options = $this->groupStatus;
        	   array_unshift($options,'-- All --');
        	   echo $this->formSelect('status',$this->status,null,$options);
        	 ?>
     </td>
</tr>

<tr>
    <td colspan="3" align="left">
	<?php echo $this->formSubmit('filter','Filter',array('class'=>'inputbtn'))?>&nbsp;
	<?php echo $this->formSubmit('filter','Display All',array('class'=>'inputbtn'))?>
    </td>
</tr>

</table>
</form>



<?php if($this->success){ ?>
        <br /><div class="successmsg"><?=$this->report_msg?> </div>
                  <?php }
      else if($this->error){ ?>
        <br /><div class="errmsg"><?=$this->report_msg?> </div>
                     <?php } ?>

<?php if($this->filter !=''){?>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />


<!--  DATA  -->
<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
    <tr>
    	<th width="3%" valign="top"> No </th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>		
  		<th valign="top"> Action </th>
    </tr>
    
    
   <?php
    
    if(count($this->paginator) > 0)
    {
          $i = 0;
          $no = 1;
          
          // no baris setiap halaman
          $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
      
          
	  foreach($this->paginator as $row) 
	  {
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		$locale = new Zend_Locale('id');
    
		$detail = '<a href="'.$this->url(array('module'=>'group','controller' => 'detail','action'=>'index','group_code'=>$row['BGROUP_ID']),null,true).'" class="inputbtn">View/Edit</a>';
        $status = $row['BGROUP_STATUS'];
		
       
		$activateDeactivate = '';
	    if($this->hasPrivilege("be_group_inp"))
	    {
	       if($status == 'A')
		   {
			  $activateDeactivate = '&nbsp;&nbsp;<a href="'.$this->url(array('module'=>'group','controller' => 'deactivate','action'=>'index','group_code' =>$row['BGROUP_ID'] ),null,true).'" onclick=\'return confirm("Are you sure want to deactivate this Backend Group? ");\'" class="inputbtn">Deactivate</a>';
		   }
		   else if($status == 'I')
		   {
			  $activateDeactivate = '&nbsp;&nbsp;<a href="'.$this->url(array('module'=>'group','controller' => 'activate','action'=>'index','group_code' =>$row['BGROUP_ID']),null,true).'" onclick=\'return confirm("Are you sure want to activate this Backend Group? ");\'" class="inputbtn">Activate</a>';
		   }
		}
	

    	
       $row_content = '<tr>
              			<td class="'.$td_css.'">'.$counter.'</td>
						<td class="'.$td_css.'">'.$row['BGROUP_ID'].'</td>
						<td class="'.$td_css.'">'.$row['BGROUP_DESC'].'</td>
						<td class="'.$td_css.'">'.$this->groupStatus[$status].'</td>
						<td class="'.$td_css.'">'.$detail.$activateDeactivate.'</td>
				      </tr>';
		echo $row_content;
		
		$i++;
        $counter++;
  	  }
  }
  else 
  {
	 echo '<tr><td colspan=12 class="tbl-evencontent" align="center"> - no data - </td></tr>';
  }
    ?>
</table>

<br />

<div align="right">
    <?php echo $this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params)); ?>
</div>
 
<?php }?>

