<script type="text/javascript">
	$(document).ready(function() {
		$('#fixTable').fixTableHeader();

		$("#searchtable").keyup(function() {
			var value = this.value.toLowerCase().trim();

			$("#myTable tr").each(function(index) {
				if (!index) return;
				$(this).find("td").each(function() {
					var id = $(this).text().toLowerCase().trim();
					var not_found = (id.indexOf(value) == -1);
					$(this).closest('tr').toggle(!not_found);
					return not_found;
				});
			});
		});

	});
</script>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('General'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Privilege Template'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h5><?= $this->language->_('Template Frontend User') ?></h5>
		<form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">
			<!---------------------------------------------------------------------- PRIVILEGE FRONTEND USER ------------------------------------------------------------------------------->
			<div class="form-group">
				<div style="float:left">
					<?php
					$buttonNew = $this->url(array('module' => $this->modulename, 'controller' => 'new', 'action' => 'index'), null, true);
					if ($this->hasPrivilege("PTAD")) {
						$buttonNew = '<button type="button" class="btn-sm btngrad hov" onclick="location.href=\'' . $buttonNew . '\'"><i class="fa fa-plus"></i>&nbsp;' . $this->language->_('Add') . '</button>';
					} else {
						$buttonNew = '<button type="button" class="btn-sm btngrad hov" style="cursor: not-allowed" disabled><i class="fa fa-plus"></i>&nbsp;' . $this->language->_('Add') . '</button>';
					}
					echo $buttonNew;
					?>
				</div>
				<div style="float:right; padding-left:5px;">
					<div class="input-group input-group-sm">
						<div class="input-group-prepend">
							<span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
						</div>
						<input type="text" class="search form-control" id="searchtable" placeholder="Search">
					</div>
				</div>
			</div>

			<br />
			<br />
			<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
				<table class="table table-sm table-striped" id="myTable">
					<thead>
						<tr>
							<th width="3%" valign="top" class="tablehead">No.</th>
							<?php
							echo $this->partial(
								'tableheader.phtml',
								array(
									'fields' => $this->fields,
									'sortBy' => $this->sortBy,
									'sortDir' => $this->sortDir,
									'query_string_params' => $this->query_string_params
								)
							);
							?>
						</tr>
					</thead>
					<tbody>
						<?php
						// print_r($this->paginator);die;
						if (count($this->paginator)) {

							$counter = (($this->currentPage - 1) * $this->paginator->getItemCountPerPage()) + 1;
							// Zend_Debug::dump($this->paginator);die;
							foreach ($this->paginator as $row) {
								$link = $this->url(array('module' => $this->modulename, 'controller' => 'detail', 'action' => 'index', 'ftemplateid' => $row['FTEMPLATE_ID']), null, true);
								$td_css = ($counter % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
								echo '<tr>
			            <td class="' . $td_css . '">' . $counter . '</td>
						<td class="' . $td_css . '"><a href="' . $link . '">' . $row['FTEMPLATE_ID'] . '</a></td>
						<td class="' . $td_css . '">' . $this->language->_($row['FTEMPLATE_DESC']) . '</td>
					  </tr>';
								$counter++;
							}
						?>
					</tbody>
				</table>
			</div>

			<div align="right"><?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?></div>
			<br />

		<?php
						} else {
		?>
			<tr>
				<td colspan="13" class="tbl-evencontent" align="center"> --- No Data --- </td>
			</tr>
			</table><?php } ?>
		<!-----------------------------------------------------------------END PRIVILEGE FRONTEND USER ------------------------------------------------------------------------------->

		</form>
	</div>
</div>