<b><?php echo $this->language->_('General');?> > <?php echo $this->language->_('Product Account Type');?> > <?php echo $this->language->_('Import from File');?> </b><br /><br />
<?php 
if($this->errorMsg)
{?>
	<div class="errmsg">
	<?php	
	foreach($this->errorMsg as $key => $value)
	{
		echo $this->language->_($value).'</br>';
	}
		echo "</div></br>";
}?>
<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
	<tbody>
	<tr>
	<div class="portlet-body form">
				<td id="contentarea">
					<div class="portlet-body form content-box">
					<h5><?php echo $this->language->_('Product Account Type Management');?></h5>
						<form name="importonlinebanktable" enctype="multipart/form-data" method="post" action="">
						    <!-- Default panel contents -->            
						    <div class="form-body">
                                <div class="form-group row">                             
                                    <div class="col-md-12">
                                        <strong><?php echo $this->language->_('Import Product Account Type');?></strong>
                                    </div>
                                </div>
					         </div>
							<hr/>
						    <div class="portlet-body form">
						    <!-- BEGIN FORM-->				      					      
								<div class="form-body">                                       
						            <div class="form-group row">
						                 <div class="col-md-12">
                                            <?php echo $this->formFile('document', $this->document, array('size' => 50)); ?>
                                        </div>
                                        <div class="col-md-12">
                                          	 <br\>
											<i><?php echo $this->language->_('Upload File');?> (<?php Echo $this->language->_('.txt only');?>) </i>                                           
											<br />
											<i><?php echo $this->language->_('File Format : Product Code(2),Plan Code(2),Product Name(35),Account type(1)');?></i>
                                         </div>
						            </div>
								</div>
								<br/>
								<div class="row">
			                      <div class="col-sm-12">
			                      		<div class="panel panel-default" style="border:0px">
						                   <div class="formbutton">									 
												<?php echo $this->formButton('back', $this->language->_('Back'), array('onclick' => "location.href='/".$this->modulename."'", 'class' => 'btnwhite hov'));?>
												<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
												<?php echo $this->formReset('reset',$this->language->_('Reset'),array('class'=>'btngreen  hov')); ?>
											</div>
                    					</div>
                    				</div>
                    			</div>
                    			</div>
							</form>  
						</div>
					</td>                             						
				</div>

	<!-- <td>
		<form name="importonlinebanktable" enctype="multipart/form-data" method="post" action="">
			<table cellpadding="3" cellspacing="0" border="0" class="tableform">
				<tr><th colspan="3" class="tdform-sub"><strong><?php Echo $this->language->_('Import');?></strong></th></tr>
				<tr>
					<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Upload File');?> <?php echo $this->language->_('(.txt only)');?></td>
					<td class="tbl-evencontent" id="tbl-evencontent">
						<?php echo $this->formFile('document', $this->document, array('size' => 50)); ?>
						<br /><br /><i><?php echo $this->language->_('File Format : Product Code(2)Plan Code(2)Product Name(35)');?></i></td>
	</td> -->
	</tr>
				<!-- <tr>
					<td colspan="2" align="left">
						<?php echo $this->formButton('back', $this->language->_('Back'), array('onclick' => "location.href='/".$this->modulename."'", 'class' => 'btnwhite hov'));?>
						<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
						<?php echo $this->formReset('reset',$this->language->_('Reset'),array('class'=>'btngreen  hov')); ?>
					</td>
				</tr> -->
			</table>
		</form>
	</tbody>
</table>
