<style type="text/css">

.field-icon {
  float: right;
  margin-right: 8px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  cursor:pointer;
}
 }


</style>

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('My Profile'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Change E-Mail Address'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>
<br />
<?php if($this->error){ ?>
<div class="errmsg">
<?php 
		echo $this->msg_failed;
?>
</div>
<?php } ?>
<?php 
if($this->user_id){	
?>
<form method="post" action="">
<div class="row">
<div class="col-md-6">
<div class="panel panel-default">

<div class="portlet light form-fit bordered">
<div class="card">
  <!-- Default panel contents -->
  <div class="card-header cardhead" >
  	<strong style="color: white;"><?php echo $this->language->_('Change E-mail Address');?></strong>
  </div>
<div class="panel-body">
	<div class="card-body form" style="height: 310px;">
	<div class="form-group row pt-2">
		<div class="col-md-3">
			
		</div>
		<div class="col-md-9">
		    <?php echo $this->formHidden('randomTransact',$this->randomTransact,array('maxlength'=>'128','size'=>'40','readOnly'=>true)); ?>
			<?php echo $this->language->_('Please fill in the form below to change email');?>
			<br>
			<?php echo $this->language->_('Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
			<br>
		    <!--<br>
		    <?php echo $this->language->_('Password format requirements :');?>
			
		    <br>&bull;<?php echo $this->language->_('has to be at least');?> <?=$this->minlengthpass?> <?php echo $this->language->_('characters long and max');?> <?=$this->maxlengthpass?> <?php echo $this->language->_('long');?>
		    <br>&bull;<?php echo $this->language->_('may only contain alphanumeric characters (no whitespaces and special characters allowed)');?>
		    <br>&bull;<?php echo $this->language->_('has to be a combination of letters and numbers (contains at least 1 uppercase character, 1 lowercase character and 1 number)');?><br>
		    -->
	  	</div>
	<div class="form-group row pt-2">
	   <div class="col-sm-3">
			<label for=""><?php echo $this->language->_('Current E-mail Address');?><span class="errmsg">*</span></label>
		</div>
		<div class="col-sm-9">
			<input type="hidden" name="old_email" class="form-control"  id="old_email" size="50" value="<?=$this->old_email?>" onkeyup="noSpace(this); " />
			<input type="text" name="mail" class="form-control" readonly id="mail" size="50" value="<?=$this->maskmail?>" onkeyup="noSpace(this); " />
			<div class="errmsg">
				<?=isset($this->errDesc['oldem'])?$this->errDesc['oldem']:''?>
				<?=isset($this->Error_old_email)?$this->Error_old_email:''?>
			</div>
				<?php echo $this->formHidden('pin',$this->pin);?>
		</div>
  	</div>
  	<div class="form-group row pt-2">
	  	<div class="col-sm-3">
			<label for=""><?php echo $this->language->_('New E-mail Address');?><span class="errmsg">*</span></label>
		</div>
		<div class="col-sm-9">
			<input type="text" name="new_email" class="form-control"  size="50" id="new_email" value="<?=$this->new_email?>" onkeyup="noSpace(this);">
			<div class="errmsg">
				<?=isset($this->errDesc['newem'])?$this->errDesc['newem']:''?>
				<?=isset($this->Error_new_email)?$this->Error_new_email:''?>
			</div>
		</div>
	</div>
	<div class="form-group row pt-2">
		<div class="col-sm-3">
			<label for=""><?php echo $this->language->_('Confirm E-Mail Address');?><span class="errmsg">*</span></label>
		</div>
		<div class="col-sm-9">
			<input type="text" name="confirm_email" class="form-control"  size="50" id="confirm_email" value="<?=$this->confirm_email?>" onkeyup="noSpace(this);">
			<div class="errmsg">
				<?=isset($this->errDesc['conmail'])?$this->errDesc['conmail']:''?>
				<?=isset($this->Error_comfrim_email)?$this->Error_comfrim_email:''?>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

	<div class="col-md-6">
		<div class="col-md-12" style="padding-left: 0;">
			<div class="panel panel-default">
				<div class="portlet light form-fit bordered">
					<div class="card">
	  					<div class="card-header cardhead" >
	  						<strong style="color: white;"><?php echo $this->language->_('Notes');?></strong>
			  			</div>
						<div class="panel-body">
							<div class="card-body form ">
								<div class="form-group row pt-2">
									<div class="col-md-12">
			   							&bull; <?php echo $this->language->_('Private And Confidential Information will be sent to you E-Mail Address');?><br>
	      								<br>&bull;<?php echo $this->language->_('Please ensure your new E-Mail Address is correct');?> <br>
		  							</div>
		  						</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<br>

		<div class="col-md-12" style="padding-left: 0;">
		<div class="panel panel-default">
			<div class="portlet light form-fit bordered">
				<div class="card">
					<div class="panel panel-default" style="margin-bottom:0px">	
	  					<div class="card-header cardhead" >
	  						<strong style="color: white;"><?php echo $this->language->_('Confirmation'); ?>!</strong>
			  			</div>
						<div class="panel-body">
							<div class="card-body form ">
			                    <div class="form-group row pt-2">
				                  <div class="col-sm-12">
				                    <label for=""><?php echo $this->language->_('Input your password to confirm email changes'); ?><span class="errmsg">*</span></label>
				                  </div>
				                  <div class="form-group col-sm-12">
				                      <?php echo $this->formPassword('password',$this->password,array('id' => 'password','size'=>40,'maxlength'=>128,'class'=>'form-control','placeholder' => 'Enter Password'))?>
				                       <span toggle="#password" class="fa fa-lg fa-eye-slash field-icon toggle-password"></span>
				                  </div>
				                </div>
	                       <!--  <div class="form-group">
	                            <?php echo $this->language->_('Release on behalf of'); ?>:<br/>
	                            <input name="userOnBehalf" value="<?= $user_id?>" type="hidden">
	                        </div> -->
	                       <!--  <div class="form-group">
	                            <?php echo $this->language->_('Challenge Code'); ?>:<br/>
	                            <input name="challengeCodeReq" class="form-control" id="ACBENEF1" size="12"
	            											maxlength="20" value="<?=$this->challengeCodeReq; ?>"
	            											style="text-align: center; font-weight: bold; font-size: 16px;"
	            											readonly="readonly" type="text">
	                        </div>
	                        <div class="form-group">
	                            <?php echo $this->language->_('Response Token'); ?> APLI 2 :<br/>
	                            <input class="form-control" name="responseCodeReq" id="responseCodeReq" size="12" maxlength="6" onkeypress="return forceNumber(event);" style="text-align: center; font-weight: bold; font-size: 16px;" type="password" autocomplete="off">
	            				<input name="responseCodeReqPlain" id="responseCodeReqPlain" size="12" maxlength="6" onkeypress="return forceNumber(event);" style="text-align: center;display:none; font-weight: bold; font-size: 16px;" type="password" autocomplete="off">
	            				<input name="responseCode" id="responseCode" type="hidden">
	            				<input name="responseCodePlain" id="responseCodePlain" type="hidden">	
	                        </div> -->
	                    </div>
	                </div>
	               </div>
				</div>
			</div>
		</div>
	</div>
</div>




</div>


 <br>
  
	<div class="col-md-12" align="center">
	    <?php
	      	 echo $this->formButton('back', $this->language->_('Back'), array('onclick' => "location.href='/home/dashboard'", 'class' => 'btnwhite hov'));
	    ?>
		<?php
			echo $this->formSubmit('submit',$this->language->_('Confirm Changes'),array('class'=>'btngreen hov'));
		?>
	</div>
</form>

<?php }else{ ?>
<div id="content">- <?php echo $this->language->_('no data')?> -</div>
<?php } ?>

<script type="text/javascript">
<!--
function noSpace(obj) {
	 obj.value = obj.value.replace (/\s/g, "");
}
//-->
</script>

<script> 
  $(".toggle-password").click(function() {

    $(this).toggleClass("fa-eye fa-eye-slash");
    var input = $($(this).attr("toggle"));
    if (input.attr("type") == "password") {
      input.attr("type", "text");
    } else {
      input.attr("type", "password");
    }
  });
</script>






