<strong><?php echo $this->language->_('Payment'); ?> &gt; <?php echo $this->language->_('Tax Payment'); ?></strong><br />

<!--<div class="successmsg">Payment Success</div>-->
<div class="errmsg">
	<?php
	echo $this->language->_($this->paramSession['paymentMessage']);
	//Zend_Debug::dump($this->paramSession);
	?>
</div>
<br />
<form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'confirm'), null, true) ?>" method="post">
	<table border="0" cellspacing="0" cellpadding="5">

		<!-- <tr><td colspan="3" class="tdform-sub"><?php echo $this->language->_('Tax Payment'); ?></td></tr> -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Payment Ref') . '#' ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" id="tbl-evencontent"><?= $this->language->_('auto generate') ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Payment Subject') ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" id="tbl-evencontent"><?= $this->paramSession['subject'] ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Source Account'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" id="tbl-evencontent"><?= $this->paramSession['ACCTSRC'] ?> [<?= $this->paramSession['ccy'] ?>] - <?= $this->paramSession['ACCT_NAME_DATA'] ?> (<?= $this->paramSession['ACCT_DESC'] ?>)</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Type Of Tax'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php echo ($this->paramSession['operatorNama']); ?></td>
		</tr>

		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Billing ID'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php echo ($this->paramSession['orderId']); ?></td>
		</tr>

		<?php if ($this->paramSession['taxType'] == "DJP") { ?>
			<!-- 0,1,2,3 -->

			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('NPWP'); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"><?= $this->paramSession['dataUi']['npwp'] ?></td>
			</tr>

			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('Customer Name'); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"><?= $this->paramSession['dataUi']['customer_name'] ?></td>
			</tr>

			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('Customer Address'); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"><?= $this->paramSession['dataUi']['customer_address'] ?></td>
			</tr>

			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('Tax Object Number'); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"><?= $this->paramSession['dataUi']['NOP'] ?></td>
			</tr>

			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('Account Code'); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"><?= $this->paramSession['dataUi']['account_map'] ?></td>
			</tr>

			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('Payment Type'); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"><?= $this->paramSession['dataUi']['type'] ?></td>
			</tr>

			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('Tax Period'); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"><?= $this->paramSession['dataUi']['period'] ?></td>
			</tr>

			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('SK Number'); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"><?= $this->paramSession['dataUi']['sk_number'] ?></td>
			</tr>

		<?php } elseif ($this->paramSession['taxType'] == "DJBC") { ?>
			<!-- 4,5,6 -->

			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('Customer Name'); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"><?= $this->paramSession['dataUi']['customer_name'] ?></td>
			</tr>

			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('ID Type Customer'); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"><?= $this->paramSession['dataUi']['customer_id'] ?></td>
			</tr>

			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('Document Type'); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"><?= $this->paramSession['dataUi']['document_type'] ?></td>
			</tr>

			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('Document Number'); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"><?= $this->paramSession['dataUi']['document_number'] ?></td>
			</tr>

			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('Document Date'); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"><?= $this->paramSession['dataUi']['document_date'] ?></td>
			</tr>

			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('KPBC Code'); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"><?= $this->paramSession['dataUi']['kppbc_code'] ?></td>
			</tr>

		<?php } elseif ($this->paramSession['taxType'] == "DJA") { ?>
			<!-- 7,8,9 -->

			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('Customer Name'); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"><?php echo ($this->paramSession['dataUi']['customer_name']); ?></td>
			</tr>

			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('K/L'); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"><?php echo ($this->paramSession['dataUi']['k_l']); ?></td>
			</tr>

			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('Echelon Unit 1'); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"><?php echo ($this->paramSession['dataUi']['eselon_unit']); ?></td>
			</tr>

			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('Code Unit'); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"><?php echo ($this->paramSession['dataUi']['work_unit']); ?></td>
			</tr>

		<?php
		}
		$amount = $this->paramSession['ccy'] . " " . Application_Helper_General::displayMoney($this->paramSession['amount']);
		?>

		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Amount'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php echo ($amount); ?></td>
		</tr>

		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('NTB/NTP'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php echo ($this->paramSession['dataUi']['ntb']); ?></td>
		</tr>

		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('NTPN'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php echo ($this->paramSession['dataUi']['ntpn']); ?></td>
		</tr>

		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('STAN'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php echo ($this->paramSession['dataUi']['stan']); ?></td>
		</tr>

		<?php
		if ($this->paramSession['reprint'] == "1") {
		?>
			<tr>
				<td class="tbl-evencontent"><?php echo $this->language->_('Status'); ?></td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"><?php echo ($this->language->_('Success')); ?></td>
			</tr>
		<?php } ?>

		<!-- 	<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Total Payment'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?= $this->paramSession['ccy'] ?> <?= Application_Helper_General::displayMoney($this->paramSession['total']) ?>
			</td>
		</tr>
	 -->
		<tr>
			<td class="button-area" id="button-area" colspan="3">

			</td>
		</tr>
	</table>
	<div class="row text-center" style="display: block">
		<div class="formbutton" style="float:center">
			<input type="submit" name="submit" value="<?php echo $this->language->_('Back'); ?>" class="btnwhite hov" />
			&nbsp;
			<input type="submit" name="pdf" value="<?php echo $this->language->_('PDF'); ?>" class="btnwhite hov" />
			<!-- <?php echo $this->formSubmit('pdf', $this->language->_('PDF'), array('class' => 'btn btn-warning')); ?> -->

		</div>
	</div>
</form>