<script>
  $(document).ready(function()
  {
    $(".tokeninput").keyup(function (e) {

        if ((e.which == 8 || e.which == 46) && $(this).val() =='') {
              $(this).prev().focus();
      }else{
          $(this).next().focus();
      }
    });

	$('#tokenmodal').on('shown.bs.modal', function() {
      // $('.firsttokenfield').trigger('focus');
      $('input[name=inputtoken1]').focus();
    });
  });
</script>

<b><?php echo $this->language->_('Payment');?> > <?php echo $this->language->_('Tax Payment');?></b>
<br />
<br>
<?php
	if($this->error)
	{	?>
	<div class="alert alert-danger">
	<?php 
		echo $this->language->_($this->ERROR_MSG);		
	?>
	</div><br />
<?php
	}	
?>

<?php 
            if($this->token){
              if($this->hidetoken){ 
              if($this->releaseresult){
                ?>
                    <div class="alert alert-success"><?=$this->language->_('Transaction Success')?></div><br />
                <?php
              }else{
                ?>
                     <div class="alert alert-danger"><?=$this->language->_('Transaction Failed')?></div><br />
                <?php
              }
            }
          }
        ?>


<div class="portlet-body form">
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'next'),null,true)?>" method="post">
	<div class="row">
		<div class="col-md-8">
			<div class="form-group row ">
	                <div class="col-md-12">
	                <h5><?php echo $this->language->_('Tax Payment');?></h5>
	                </div>
	        </div>
	        <?php if (!empty($this->ps_numb)){ ?>
	            <div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('Payment Ref');?>#</label>
	                <div class="col-md-9">

	                    <?php  if(!$this->hidetoken){ ?>
						<b><?php if (!empty($this->PS_NUMBER)) {echo $this->PS_NUMBER;} else {echo $this->language->_('auto generate');}?></b>

							<?php }else{
								echo '<b>';
	                      echo $this->ps_numb;
	                      echo '</b>';
	                     }   ?>
						
						<?php  echo $this->formHidden('PS_NUMBER',$this->PS_NUMBER); ?>
	                 </div>
	            </div>
	        <?php } ?>

	        <div class="form-group row ">
                <label class="control-label col-md-3"><?php echo $this->language->_('Source Account');?><?=$mandatory?></label>
                <div class="col-md-9">
					<?=$this->paramSession['ACCTSRC']?> [<?=$this->paramSession['ccy']?>] - <?=$this->paramSession['ACCT_NAME_DATA']?> (<?=$this->paramSession['ACCT_DESC']?>)
                 </div>
            </div>

            <div class="form-group row ">
                <label class="control-label col-md-3"><?php echo $this->language->_('Type Of Tax');?></label>
                <div class="col-md-9">
					<?php echo $this->formLabel('service',$this->paramSession['operatorNama']); ?>
                 </div>
            </div>

			<?php if ($this->paramSession['operator'] == "1006"){?>
	            <div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('Year');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['year']?>
	                 </div>
	            </div>
	            <div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('Tax Object Number');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['dataUi']['NOP']?>
	                 </div>
	            </div>
			<?php }?>

			<?php if ($this->paramSession['operator'] != "1006"){?>
	            <div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('Billing ID');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['orderId']?>
	                 </div>
	            </div>
			<?php } ?>

            <?php if ($this->paramSession['taxType'] == "DJP"){?>
            	<?php if ($this->paramSession['operator'] != "1006"){?>
            		<div class="form-group row ">
		                <label class="control-label col-md-3"><?php echo $this->language->_('NPWP');?></label>
		                <div class="col-md-9">
							<?=$this->paramSession['dataUi']['npwp']?>
		                 </div>
		            </div>
            	<?php }?>

            	<div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('Customer Name');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['dataUi']['customer_name']?>
	                 </div>
	            </div>

	            <div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('Customer Address');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['dataUi']['customer_address']?>
	                 </div>
	            </div>

	            <?php if ($this->paramSession['operator'] != "1006"){?>	
	            	<div class="form-group row ">
		                <label class="control-label col-md-3"><?php echo $this->language->_('Tax Object Number');?></label>
		                <div class="col-md-9">
							<?=$this->paramSession['dataUi']['NOP']?>
		                 </div>
		            </div>
					
					<div class="form-group row ">
		                <label class="control-label col-md-3"><?php echo $this->language->_('Account Code');?></label>
		                <div class="col-md-9">
							<?=$this->paramSession['dataUi']['account_map']?>
		                 </div>
		            </div>

					<div class="form-group row ">
		                <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type');?></label>
		                <div class="col-md-9">
							<?=$this->paramSession['dataUi']['type']?>
		                 </div>
		            </div>

					<div class="form-group row ">
		                <label class="control-label col-md-3"><?php echo $this->language->_('Tax Period');?></label>
		                <div class="col-md-9">
							<?=$this->paramSession['dataUi']['period']?>
		                 </div>
		            </div>

		            <div class="form-group row ">
		                <label class="control-label col-md-3"><?php echo $this->language->_('SK Number');?></label>
		                <div class="col-md-9">
							<?=$this->paramSession['dataUi']['sk_number']?>
		                 </div>
		            </div>
				<?php } ?>

            <?php }elseif ($this->paramSession['taxType'] == "DJBC"){?>
            	<div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('Customer Name');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['dataUi']['customer_name']?>
	                 </div>
	            </div>
            	
				<div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('ID Type Customer');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['dataUi']['customer_id']?>
	                 </div>
	            </div>

				<div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('Document Type');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['dataUi']['document_type']?>
	                 </div>
	            </div>
				
				<div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('Document Number');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['dataUi']['document_number']?>
	                 </div>
	            </div>

				<div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('Document Date');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['dataUi']['document_date']?>
	                 </div>
	            </div>

				<div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('KPBC Code');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['dataUi']['kppbc_code']?>
	                 </div>
	            </div>

            <?php }elseif ($this->paramSession['taxType'] == "DJA"){?>
            	<div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('Customer Name');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['dataUi']['customer_name']?>
	                 </div>
	            </div>
            	
				<div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('K/L');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['dataUi']['k_l']?>
	                 </div>
	            </div>
				
				<div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('Echelon Unit 1');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['dataUi']['eselon_unit']?>
	                 </div>
	            </div>
				
				<div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('Code Unit');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['dataUi']['work_unit']?>
	                 </div>
	            </div>
            <?php } ?>
            <?php if ($this->paramSession['operator'] == "1006"){?>
            	<div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('Sub District');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['sub_district']?>
	                 </div>
	            </div>
				
				<div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('District');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['district']?>
	                 </div>
	            </div>

	            <div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('City');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['regency']?>
	                 </div>
	            </div>
				
				<div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('Province');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['province']?>
	                 </div>
	            </div>
			<?php } ?> 
			
			<?php if (!empty($this->ntb)){ ?>
			<div class="form-group row ">
                <label class="control-label col-md-3"><?php echo $this->language->_('NTB / NTP');?></label>
                <div class="col-md-9">
					<?=$this->ntb?>
                 </div>
            </div>
			<?php } ?>

			<?php if (!empty($this->ntpn)){ ?>
			<div class="form-group row ">
                <label class="control-label col-md-3"><?php echo $this->language->_('NTPN');?></label>
                <div class="col-md-9">
					<?=$this->ntpn?>
                 </div>
            </div>
			<?php } ?>

			<?php if (!empty($this->stan)){ ?>
			<div class="form-group row ">
                <label class="control-label col-md-3"><?php echo $this->language->_('STAN');?></label>
                <div class="col-md-9">
					<?=$this->stan?>
                 </div>
            </div>
			<?php } ?>

			<div class="form-group row ">
                <label class="control-label col-md-3"><?php echo $this->language->_('Amount');?></label>
                <div class="col-md-9">
					<?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['amount'])?>
                 </div>
            </div>

            <?php 
			if($this->paramSession['fee'] < 1)
			{
			}
			else{
			?>
				<div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('Fee');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['fee'])?>
	                 </div>
	            </div>
			
			<?php } ?>
			
			<?php if ($this->paramSession['operator'] == "1006"){?>
				<div class="form-group row ">
	                <label class="control-label col-md-3"><?php echo $this->language->_('Province');?></label>
	                <div class="col-md-9">
						<?=$this->paramSession['ccy']?> <?=Application_Helper_General::displayMoney($this->paramSession['total'])?>
	                 </div>
	            </div>
			<?php } ?>
		</div>
		<div class="col-md-4">
			
		</div>
	</div>

	<?php 
    	if(!$this->hidetoken){ ?>
		<?php if ($this->token) { ?>
			<?php if ($this->googleauth) {?>
				<div class="modal fade" id="tokenmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header text-center">
						<h4 class="modal-title w-100 font-weight-bold textBlack" style="margin-left: 25px;">Google Auth Verify</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
						<div class="modal-body mx-3">
						<div class="col-md-14" align="center">
							<table width="70%">
							<tbody>								
								<tr>
								<td align="center">
									<div class="input-group">
									<input class="tokeninput mx-auto" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
									<input class="tokeninput" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
									<input class="tokeninput" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
									<input class="tokeninput" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
									<input class="tokeninput" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
									<input class="tokeninput" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
									</div>
								</td>
								</tr>
							</tbody>
							</table>
						</div>
						</div>
						<div class="modal-footer d-flex justify-content-center">
							<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>							
							<input type="submit" class="btngreen hov" name="submit1" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>
							<input type="submit" class="btngreen hov" id="Submit_id" name="submit1" value="<?php echo $this->language->_('Submit')?>" disabled style="display:none"/>
						</div>
					</div>
					</div>
				</div>
			<?php
        		} else { 
			?>

				<div class="modal fade" id="tokenmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
				aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
					<div class="modal-header text-center">
						<h4 class="modal-title w-100 font-weight-bold textBlack" style="margin-left: 25px;">Token Verify</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body mx-3">
						<div class="col-md-12" align="center">
						<table width="70%">
							<tbody>
							<tr><td align="center"><h5 style="color: #006520;"><?php echo $this->language->_('Release on behalf of'); ?>:</h5></td></tr>
							<tr><td align="center" style="padding-bottom: 2em;"><b><?= $this->userOnBehalf; ?></b></td></tr>
								<input name="userOnBehalf" value="<?= $this->userOnBehalf?>" type="hidden">

							<!-- <tr><td><?php echo $this->language->_('Challenge Code'); ?>:</td></tr>
							<tr><td style="padding-bottom: 2em;"><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>

							<tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 2'); ?>:</td></tr> -->

							<tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 1'); ?>:</td></tr>
							<tr>
								<td align="center">
								<div class="input-group">
									<input class="tokeninput mx-auto" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
									<input class="tokeninput" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
									<input class="tokeninput" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
									<input class="tokeninput" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
									<input class="tokeninput" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
									<input class="tokeninput" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
								</div>
								</td>
								</tr>
							</tbody>
						</table>
						</div>
					</div>
					<div class="modal-footer d-flex justify-content-center">
						<button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
						<input type="submit" class="btngreen hov" name="submit1" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>
						<input type="submit" class="btngreen hov" id="Submit_id" name="submit1" value="<?php echo $this->language->_('Submit')?>" disabled style="display:none"/>
					</div>
					</div>
				</div>
				</div> 
				<br/>
				<br>
		<?php 
				}
			} 
	 	 }
		  ?> 
		<div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
				<div class="formbutton" style="float:left">
					<?php echo $this->formSubmit('submit', $this->language->_('Back'),array('class' => 'btnwhite hov'));?>
					
  					<?php 
           			 if(!$this->hidetoken){
           			 	if(!$this->token){
            			?>
            				<input type="submit" class="btngreen hov" name="submit1" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit')?>"/>
            			<?php
            		}else{
            		?>              		
				
					<button class="btngreen hov"  type="button" data-toggle="modal" data-target="#tokenmodal">&nbsp;<?php echo $this->language->_('Submit'); ?></button>
					
					<script>
					function submitbtn(){
						//document.getElementById("subbutton").disabled=true;
						document.getElementById("subbutton").style.display ="none";
						document.getElementById("Submit_id").style.display ="inline";
						//Validation code goes here
					}
					</script>

					 <?php } } ?>
				</div>
			</div>
            <div class="col-md-4"></div>
        </div> 
</form>
</div>