<?php
if (Zend_Registry::isRegistered('language')){
  $language = Zend_Registry::get('language');
}

?>

<?php
$optArr = '<option value="" >-- ' . $language->_('Any Value') . ' --</option>';
foreach ($this->filterlist as $row) {
    $optArr .=  '<option value="' . $row . '" class="' . $row . '" >' . $language->_($row) . '</option>';
}
// echo $optArr;die; 
?>
<script type="text/javascript">
    $(document).ready(function() {
        $('#fixTable').fixTableHeader();


        $("#searchtable").keyup(function() {
            var value = this.value.toLowerCase().trim();

            $("#myTable tr").each(function(index) {
                if (!index) return;
                $(this).find("td").each(function() {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });

    });
    
     $(document).ready(function(){

        

    $('div#sidebar-collapse').click(function(){
        if ( $("#logo-title").is(":visible") ) {
          $("#logo-title").hide();
          $("#logo-titles").hide();
        } else if ( $("#logo-title").is(":hidden") ) {
          $("#logo-title").show();
          $("#logo-title").show();
        }
      });
      
      $("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' style='width:100%' id='wherecol-"+ctr+"' name='wherecol[]' onchange='getOpt(this)'>"+optstr+"</select></div><div style='display:none'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-"+ctr+"'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);
    });
    
     $('#createdStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#createdEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        
         $('#createdEndENd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        
         $('#createdEndENd_End').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
      
     });
     
     
     function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
  var $coll = $( '.event_select' );
    $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });
    // alert(colomnname);
    $(colval).empty();
        if (colomnname == 'PS_CREATED') {
            $(colval).append("<input type='text' class='form-control' name='createdate[]' id='createdStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' readonly required><input type='hidden' id='" + colselect + "' name='whereval[]'>");
            $('#createdStart').datepicker({
                    minDate: function() {
                    var mindate = new Date();
                    mindate.setDate(mindate.getDate() - 180);
                    return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                },
                maxDate: function() {
                    var maxdate = new Date();
                    maxdate.setDate(maxdate.getDate());
                    return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                },
                format: 'yyyy-mm-dd',
                uiLibrary: 'bootstrap4',
            });
            $('#createdEnd').datepicker({
                    minDate: function() {
                    var val = document.getElementById('createdStart').value;
                    var mindate = new Date(val); 

                    mindate.setDate(mindate.getDate());
                    return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                },
                    maxDate: function() {
                    var val = document.getElementById('createdStart').value;
                    var date = new Date(val); 
                    
                    date.setDate(date.getDate() + 30);
                    // console.info(date);
                    var maxdate = new Date();
                    if(date>=maxdate){
                        return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                    }else{
                        return new Date(date.getFullYear(), date.getMonth(), date.getDate());
                    }

                    
                },
                format: 'yyyy-mm-dd',
                uiLibrary: 'bootstrap4',
            });

        }else if (colomnname == 'PS_CREATEDEND') {
            $(colval).append("<input type='text' class='form-control' name='createdateend[]' id='createdEndENd' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdateend[]' id='createdEndENd_End' readonly required><input type='hidden' id='" + colselect + "' name='whereval[]'>");
            $('#createdEndENd').datepicker({
                    minDate: function() {
                    var mindate = new Date();
                    mindate.setDate(mindate.getDate() - 180);
                    return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                },
                maxDate: function() {
                    var maxdate = new Date();
                    maxdate.setDate(maxdate.getDate());
                    return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                },
                format: 'yyyy-mm-dd',
                uiLibrary: 'bootstrap4',
            });
            $('#createdEndENd_End').datepicker({
                    minDate: function() {
                    var val = document.getElementById('createdEndENd').value;
                    var mindate = new Date(val); 

                    mindate.setDate(mindate.getDate());
                    return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                },
                    maxDate: function() {
                    var val = document.getElementById('createdEndENd').value;
                    var date = new Date(val); 
                    
                    date.setDate(date.getDate() + 30);
                    // console.info(date);
                    var maxdate = new Date();
                    if(date>=maxdate){
                        return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                    }else{
                        return new Date(date.getFullYear(), date.getMonth(), date.getDate());
                    }

                    
                },
                format: 'yyyy-mm-dd',
                uiLibrary: 'bootstrap4',
            });

        }else if(colomnname == 'BG_STATUS'){
      // alert();
            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'bgstatus'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'ISFAVORITE'){

         $(colval).append("<input type='checkbox' name='whereval[]'  value='' maxlength='20'  class='form-control' >");
    }else{
         $(colval).append("<input type='text' name='whereval[]' style='width:100%'  value='' maxlength='20'  class='form-control' >");
    }

 
    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
            <li>
						<span>Report</span>
						<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
						<span>Master Report</span>
						<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
                <li>
                        <span class="valas" >LC or SKBDN List</span>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row content-box">
  <div class="portlet-body form col-md-12">
    <h5><?=$this->language->_('LC or SKBDN List')?></h5>
        <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
            <div class="panel panel-default ">
                <!-- Default panel contents -->

                <?php $aliasname = $this->language->_('Alias Name'); ?>
                <?php $beneficiaryaccount = $this->language->_('Beneficiary Accountt'); ?>
                <?php $beneficiaryaccountname = $this->language->_('Beneficiary Account Name'); ?>
                <?php $beneficiarytype = $this->language->_('Beneficiary Type'); ?>
                <?php $setfilter = $this->language->_('Set Filter'); ?>
                <?php $clearfilter = $this->language->_('Clear Filter'); ?>
                <?php $nodata = $this->language->_('No Data'); ?>
                <?php $delete_lg = $this->language->_('Delete'); ?>

                <?php
                    $optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
                    foreach($this->filterlist as $row){
                        $optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
                    }
                ?>
                <div class="row " id="logo-titles" style="margin-left: 0px">
                        <?php
                        if(!empty($this->wherecol)){
                            ?>
                                <script type="text/javascript">
                                    $(document).ready(function(){
                                    $("#logo-title").show();
                                });
                                </script>
                            <?php
                        }
                        // print_r($this->wherecol);die;
                        foreach ($this->wherecol as $key => $value) {
                            ?>
                                <div id="searchs" style="width: 100%">
                                                    <?php
                                                            $datetype = array("PS_CREATED", "PS_CREATEDEND");
                                                            $selectlist = array('BG_SUBJECT','BG_NUMBER','BG_REG_NUMBER');
                                                            $index = 0;
                                                    ?>
                                                                    <div id="where-<?=$ctr?>">
                                                                            <div class="form-group row mt-12">
                                                                                    <div class="col-md-4 form-inline">
                                                                                            <select class='form-control event_select' id='wherecol-<?=$ctr?>' style='width:100%' name='whereco[]' onchange='getOpt(this)'>
                                                                                                    <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                                                                                    <?php
 
                                                                                                    foreach($this->filterlist as $row){
                                                                                                            $colname = $row;
                                                                                                            if($value==$colname){
                                                                                                                    $selected = "selected";
                                                                                                            }
                                                                                                            else{
                                                                                                                    $selected = "";
                                                                                                            }
                                                                                                    ?>
                                                                                                            <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                                                                                    <?php }?>
                                                                                            </select>
                                                                                    </div>
                                                                                    
                                                                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'>
                                                                                            <script type="text/javascript">
                                                                                                $(document).ready(function(){
                                                                                                var colval = "#colvalue-s<?=$key?>";
                                                                                                var colomnname = "<?=$value?>";
                                                                                                // var colselect= "<?=$value?>";
                                                                                                var colselect = "colselect-s<?=$key?>";
                                                                                                var ncolselect = "#colselect-s<?=$key?>";
                                                                                                                if(colomnname == 'BG_STATUS'){
                                                                                                                $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
                                                                                                                var id = $("#tablename").find(":selected").val();
                                                                                                                $.ajax({
                                                                                                                url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'bgstatus'),null,true)?>",
                                                                                                                type: 'GET',
                                                                                                                dataType: "html",
                                                                                                                data: {
                                                                                                                        id: <?=$this->whereval[$index]?>
                                                                                                                },
                                                                                                                success: function(data) {
                                                                                                                        $(ncolselect).html(data);
                                                                                                                },
                                                                                                                error: function(xhr, ajaxOptions, thrownError)
                                                                                                                {
                                                                                                                        alert("Failed to get where column list, please try again");
                                                                                                                }
                                                                                                        });
                                                                                                                $(colselect).val('<?=$this->whereval[$index]?>');

                                                                                                }
                                                                                        });

                                                                                            </script>
                                                                                         <?php
                                                                                                if ($value == 'BG_CREATED') {
                                                                                                    // var_dump($this->whereval);die;
                                                                                                ?>
                                                                                                    <input type='text' class='form-control' name='createdate[]' id='createdStart' readonly value="<?= $this->createdStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' value="<?= $this->createdEnd ?>" readonly required>
                                                                                                <?php
                                                                                                }else if ($value == 'BG_DATEFROM') {
                                                                                                    // var_dump($this->whereval);die;
                                                                                                ?>
                                                                                                    <input type='text' class='form-control' name='datefrom[]' id='createdEndENd' readonly value="<?= $this->efdateStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='datefrom[]' id='createdEndENd_End' value="<?= $this->efdateEnd ?>" readonly required>
                                                                                                <?php
                                                                                                }else if(in_array($value, $selectlist)){
                                                                                                ?>
                                                                                                    <input class='form-control' type='text' style='width:100%'  name='whereval[]' value='<?=$this->whereval[$key]?>'/>
                                                                                                <?php }
                                                                                                if (!in_array($value, $datetype)){
                                                                $index++;
                                                            }
                                                                                                ?>
                                                                                    </div>
                                                                                    <div class="col-md-2 form-inline">
                                                                                            <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                                                                    </div>
                                                                            </div>
                                                                    </div>

                                            </div>

                            <?php
                        }
                        ?>

                </div>


                <div class="row " id="logo-title" style="display: none">
                    <div class="portlet-body form col-md-12">
                        <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">  
                            </div>
                        </div>
                        <input type="hidden" id="wherectr" value="0"/>
                        <br/>
                        <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                        &nbsp;
                        <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
                        &nbsp;
                        <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                        <br/>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
                    <a href="#" class="sidebar-collapse-icon with-animation">
                        <?php echo $this->language->_('Advanced Search'); ?>
                    </a>
                </div>
                <br>

            </div>
        </form>
  </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <div style="float:right; padding-left:5px;">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="search form-control" id="searchtable" placeholder="Search">
                </div>
            </div>
        </div>
    </div>

</div>
    <?php if($this->success){ ?>
    <div class="successmsg"><?=$this->report_msg?></div><br />
    <?php }else if($this->error){ ?>
    <div class="errmsg"><?=$this->report_msg?></div><br />
    <?php } ?>

<div class="portlet-body flip-scroll table-responsive table-fixed pt-2" id="fixTable">
    <table class="table table-sm table-striped headerNew" id="myTable">
        
        <tr height="50px">
            <th class="tablehead fth-header" width="3%" valign="top">No</th>
            <th class="tablehead fth-header" valign="top" width="20%">Reg No# / LC No#<span style="white-space:nowrap"></span>
            </th>
            <th class="tablehead fth-header" valign="top">Subject<span style="white-space:nowrap"></span>
            </th>
            <th class="tablehead fth-header" valign="top">CCY<span style="white-space:nowrap"></span>
            </th>
            <th class="tablehead fth-header" valign="top" style="text-align: right;">LC Amount<span style="white-space:nowrap"></span>
            </th>
            <th class="tablehead fth-header" valign="top">Expiry Date<span style="white-space:nowrap"></span>
            </th>
            <th class="tablehead fth-header" valign="top" width="20%">Charge Account<span style="white-space:nowrap"></span>
            </th>
            <th class="tablehead fth-header" width="5%">Status</th> 
        </tr>

				<!-- <tr>
             <td class="tbl-oddcontent">1</td>
             <td class="tbl-oddcontent">LC20210217RC8TD4 / - </td>
             <td class="tbl-oddcontent"><a href="#">Performance Gedung PT Sinar Terang</a></td>
             <td class="tbl-oddcontent">USD </td>
             <td class="tbl-oddcontent">4000</td>
             <td class="tbl-oddcontent">07 Mar 2021</td>
             <td class="tbl-oddcontent">20181011541 (IDR) / BANK SYARIAH INDONESIA</td>
             <td class="tbl-oddcontent">Waiting for review</td>
        </tr> -->
        <?php
                    $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

                        if(count($this->paginator) > 0)
                    {
                                    $i=0;

                        foreach($this->paginator as $row) {

                        $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

                        if($row['LC_CREDIT_TYPE'] == '1'){
                            $row['LC_CREDIT_TYPE'] = 'Letter of Credit';
                        }else{
                            $row['LC_CREDIT_TYPE'] = 'Surat Kredit Berdokumen Dalam Negeri';
                        }
                            
                        $buttonSetting = $this->url(array('module'=>'lcreport','controller'=>'detail','action'=>'index','LC_NUMBER'=>$row['LC_NUMBER']),null,true);
             
                        echo '<tr>
                                <td class="'.$td_css.'">'.$counter.'</td>
                                <td class="'.$td_css.'">'.$row['LC_NUMBER'].'</td>
                                <td class="'.$td_css.'"><a href="'. $buttonSetting .'">'.$row['LC_CREDIT_TYPE'].'</a></td>
                                <td class="'.$td_css.'" style="width:38px;">IDR </td>
                                <td class="'.$td_css.'" style="text-align:right;">'.Application_Helper_General::displayMoneyplain($row['LC_AMOUNT']).'</td>
                                <td class="'.$td_css.'" style="width: 83px;">'.Application_Helper_General::convertDate($row['LC_EXPDATE'],$this->viewDateFormat,$this->defaultDateFormat).'</td>
                                <td class="'.$td_css.'">'.$row['LC_CHARGEACCOUNT'].' (IDR) / '.$this->bankname.' </td>
                                <td class="'.$td_css.'"></td>
                            </tr>';

                                $i++;
                                                $counter++;
                            }
                    }
                    else {
                        echo "<tr><td colspan=10 class='tbl-evencontent' align='center'> ---".$this->language->_('No Data')." --- </td></tr>";
                    }
                        ?>
    </table>
</div>

