<table align = "CENTER" border="0" cellpadding="8" cellspacing="8" width="50%">
	<tbody>
		<tr>
			<td align="center">
				<div id="box_outer">
					<div class="tbl-evencontent">
						<p></p><h2><font color="red"><?php echo $this->note?></font></h2><p></p>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>

