<table align="CENTER" border="0" cellpadding="8" cellspacing="8" width="50%">
	<tbody>
		<tr>
			<td align="center">
				<div id="box_outer">
					<div class="tbl-evencontent">
						<p></p>
						<h2>
							<font color="red"><?= $this->language->_('Tidak Diizinkan'); ?></font>
						</h2>
						<p></p>
						<p><?= $this->language->_('Anda tidak memiliki hak akses yang sesuai'); ?></p>
					</div>
					<?php
					echo $this->formButton('back', $this->language->_('Back'), array('onclick' => "location.href='/home/dashboard'", 'class' => 'btnwhite hov'));
					?>
				</div>
			</td>
		</tr>
	</tbody>
</table>