<script type="text/javascript">
function refreshwindow()
{
  // not loaded frames
  window.location.reload();
}
</script>

<div class="tabheader" id="tabheader"><?php echo $this->language->_('Repair Suggestion - User Open Banking Limit'); ?></div>
<?php
if($this->changes_id){
?>
<table cellpadding="3" cellspacing="0" border="0" class="table table-bordered table-condensed flip-content">
  <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Repair User Open Banking Limit for the following user'); ?></strong></th></tr>
  <tr>
  <td class="tbl-evencontent"><?php echo $this->formLabel('user_id',$this->language->_('User ID')); ?></td>
  <td class="tbl-evencontent">:</td>
  <td class="tbl-evencontent"><?php echo $this->user_id; ?></td>
  </tr>
  <tr>
  <td class="tbl-evencontent"><?php echo $this->formLabel('user_id',$this->language->_('User Name')); ?></td>
  <td class="tbl-evencontent">:</td>
  <td class="tbl-evencontent"><?php echo $this->user_name; ?></td>
  </tr>
</table>
<br />
<div><em><?php echo $this->language->_('Repair User Open Banking Limit for the following Accounts'); ?>.<br />
    <?php echo $this->language->_('Note'); ?> : <?php echo $this->language->_('fill limit field with empty value or zero to remove user Open Banking limit'); ?>
    </em></div>
<?php if($this->success){ ?>
<br /><div class="successmsg"><?=$this->report_msg?></div>
<?php }else if($this->error){ ?>
<br /><div class="errmsg"><?=$this->report_msg?></div>
<?php } ?>
<br />
<div class="portlet-body form">
<form method="post" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','changes_id'=>$this->changes_id),null,true)?>">
  <div class="portlet-body flip-scroll">
  <table width="100%" cellpadding="2" cellspacing="0" border="1" class="table table-bordered table-condensed flip-content">
  <tr class="headercolor">
    <th width="3%" valign="top" class="tablehead">No</th>
    <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                        'sortBy' => $this->sortBy,
                                                        'sortDir' => $this->sortDir,
                                                        'query_string_params' => $this->query_string_params
                               )
                 )?>    
    <th valign="top" class="tablehead">Max Limit</th>
  </tr>
<?php
if(count($this->data))
{
  $i = 0;
  $counter = 1;
  //echo '<pre>';
  //var_dump($this->data);die;
  foreach($this->data as $row)
  {
  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent'; 
      
  $option = array('maxlength'=>20,'class'=>'form-control',
          'size'=>25,
          'onfocus'=>'iNumFrmtUS(this.value,this.id)',
          'onblur'=>'NumFrmtUS(this.value,this.id)',
          'onkeypress'=>'return forceDecimalOCBC(event)'); 
  
  $maxlimit = $row['MAXLIMIT']?Application_Helper_General::displayMoney($row['MAXLIMIT']):'';
  
  if($row['account_currency']!='IDR' && $row['account_currency']!='USD' && $row['account_currency']!=''){
      $row['account_currency'] = Application_Helper_General::getCurrCode($row['account_currency']);
    } 

  echo '<tr>
            <td class="'.$td_css.'">'.$counter.'</td>
      <td class="'.$td_css.'">'.$row['BANK_NAME'].'</td>
      <td class="'.$td_css.'">'.$row['account_number'].'</td>
      <td class="'.$td_css.'">'.$row['account_name'].'</td>
      <td class="'.$td_css.'">'.$row['account_currency'].'</td>
      <td class="'.$td_css.'" >'.$this->formHidden("ACCT_NAME[{$row['account_number']}]",$row['account_name'],$option).$this->formHidden("ccy[{$row['account_number']}]",$row['account_currency'],$option).$this->formHidden("bankcode[{$row['account_number']}]",$row['BANK_CODE'],$option).$this->formText("maxlimit[{$row['account_number']}]",$maxlimit,$option).'<div class="errmsg">'.$this->errorMsg[$row['ACCT_NO']].'</div></td>
      </tr>';
    $i++;
    $counter++;
  }
}else{ echo '<tr><td colspan="7" class="tbl-evencontent" align="center"> '.$this->language->_('No Record Found (company does not have source account)').' </td></tr>'; }
?>
</table>
</div>
<?php
}else{
?>
<div id="content">--- <?php echo $this->language->_('No Data'); ?> ---</div>
<?php } ?>
<br />
    <input type="hidden" value="<?=$this->cust_id?>" name="cust_id">
    <input type="hidden" value="<?=$this->user_id?>" name="user_id">
<?php
  require_once 'Crypt/AESMYSQL.php';
                        $AESMYSQL = new Crypt_AESMYSQL();
                        $rand = $this->token;
                        $encrypted_pwd = $AESMYSQL->encrypt($this->changes_id, $rand);
                        // $dt["payReff"] = urlencode($encrypted_pwd);
                        $encreff = urlencode($encrypted_pwd);
    
 ?>

      <input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url(array('module'=>'useropenlimit','controller'=>'suggestiondetail','action'=>'index','changes_id'=>$encreff),null,true)?>'" value = "<?php echo $this->language->_('Back'); ?>">&nbsp;&nbsp;
    <input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btngreen hov"/>&nbsp;&nbsp;
    <input name="reset" value="<?php echo $this->language->_('Reset'); ?>" onclick="refreshwindow();" type="reset" class="btnwhite hov">
</form>
</div>