<b><?php echo $this->language->_('Account Information');?>	&gt; <?php echo $this->language->_('Credit Card Inquiry');?> &gt; <?php echo $this->language->_('Register Credit Card Inquiry');?></b><br /><br />
<div class="tabheader" id="tabheader"><?=$this->language->_('Register Credit Card Inquiry');?></div>
<form name="regccForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:410px">
				<tbody>
					<tr>
						<td class="tdform-sub" id="tdform-sub" colspan="2">
						<div><?php echo $this->language->_('Register Credit Card Inquiry');?></div>
						</td>
					</tr>
					<tr>
						<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Card Number');?><strong class="formreq">&nbsp;*</strong></td>
						<td class="tbl-evencontent" id="tbl-evencontent">
							<?php echo $this->formText("creditcard",$this->creditcard,array('id'=>"creditcard",'maxlength'=>'20','class' =>'currency qty', "style"=>"text-align: right;")); ?>
						</td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
					<tr>
					<td colspan="2">
					<table border="0" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td nowrap="nowrap" valign="top">
								<fieldset><legend><span class="tdform-sub"> <?php echo $this->language->_('Use Your Token'); ?>!</span></legend>
								<br>
								<table border="0" cellpadding="2" cellspacing="2" width="100%">
									<tbody>
										<!--<tr>
											<td><?php echo $this->language->_('Release on behalf of'); ?>:</td>
										</tr>
										<tr>
											<td><b><?= $user_id; ?></b></td>
										</tr>-->
										<input name="userOnBehalf" value="<?= $user_id?>" type="hidden">
										<tr>
											<td><?php echo $this->language->_('Challenge Code'); ?>:</td>
										</tr>
										<tr>
											<td><input name="challengeCodeReq" id="ACBENEF1" size="12"
												maxlength="20" value="<?=$this->challengeCodeReq; ?>"
												style="text-align: center; font-weight: bold; font-size: 16px;"
												readonly="readonly" type="text"></td>
										</tr>
										<tr>
											<td><?php echo $this->language->_('Response Token'); ?> APLI 2
											:</td>
										</tr>
										<tr>
											<td>
												<input name="responseCodeReq" id="responseCodeReq" size="12" maxlength="6" onkeypress="return forceNumber(event);" style="text-align: center; font-weight: bold; font-size: 16px;" type="password" autocomplete="off">
												<input name="responseCodeReqPlain" id="responseCodeReqPlain" size="12" maxlength="6" onkeypress="return forceNumber(event);" style="text-align: center;display:none; font-weight: bold; font-size: 16px;" type="password" autocomplete="off">
												<input name="responseCode" id="responseCode" type="hidden">
												<input name="responseCodePlain" id="responseCodePlain" type="hidden">	
											</td>
										</tr>
									</tbody>
								</table>
								</fieldset>
								</td>
							</tr>
						</tbody>
					</table>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				</tbody>
			</table>
			<br/>
			<input class="inputbtn" value="<?php echo $this->language->_('Back'); ?>" onclick="location.href='/home/index'" type="button">
			<?php echo $this->formSubmit('submit','Submit',array('class'=>'inputbtn'));?>
	</form>
