<script type="text/javascript">
	//akan di onload pertama kali
	$(document).ready(function() {
		//pengaturan error messages
		<?php
		foreach ($this->report_msg as $key => $error) {
		?>
			$('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
		<?php
		}
		?>

		$('#branch_name_coverage_display').tokenfield({
			autocomplete: {
				source: [],
				delay: 100
			},
			showAutocompleteOnFocus: true
		})

		$('#branch_name_coverage_display').on('tokenfield:removedtoken', function(e) {

			$("#branch_name_coverage").val($('#branch_name_coverage_display').tokenfield('getTokensList'));
			//alert('Token removed! Token value was: ' + e.attrs.value)
		}).tokenfield()

	});

	function updateBrachName() {
		var branchName = $("#branch_name_coverage").val();
		$('#branch_name_coverage_display').tokenfield('setTokens', branchName);
	}

	function exceptAlpha(evt) {

		var charCode = (evt.which) ? evt.which : event.keyCode

		if ((charCode >= 97 && charCode <= 122) || (charCode >= 65 && charCode <= 90))

			return false;

		return true;

	}

	function openBranch() {

		var branch_name_coverage = $("#branch_name_coverage").val();
		$.ajax({
			type: 'GET',
			dataType: 'json',
			url: "<?= $this->url(array('module' => 'branchbank', 'controller' => 'edit', 'action' => 'save'), null, true) ?>",
			// async: false,

			// you can use an object here
			data: {
				branch_code: '<?= $this->branch_code; ?>',
				branch_name_coverage: branch_name_coverage
			},
			success: function(json) {
				//console.log(json.id + ' ' + json.details);
			}
		});


		(new showPopUpWindow('<?= $this->url(array('module' => 'popup', 'controller' => 'branch', 'action' => 'index', 'branch_code' => $this->branch_code), null, true) ?>', 750));

	}
</script>
<link rel="stylesheet" type="text/css" href="/tokenfield/bootstrap-tokenfield.min.css">
<link rel="stylesheet" type="text/css" href="/js/jqueryui/jquery-ui.min.css">
<script src="/tokenfield/bootstrap-tokenfield.js"></script>
<script src="/js/jqueryui/jquery-ui.min.js"></script>


<style type="text/css">
	.tokenfield {
		min-height: 50px !important;
	}
</style>


<!-- code lama sebelum 15 januari 2019-->
<!-- <b><?php echo $this->language->_('General'); ?> > <?php echo $this->language->_('Branch Bank'); ?> > <?php echo $this->language->_('Edit'); ?> </b><br /><br /> -->

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span>General</span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span>Branch Bank</span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="valas"><?= $this->language->_('Edit') ?></span>
				</li>
			</ul>
		</div>
	</div>
</div>


<?php if ($this->success) { ?>
	<div class="successmsg"><?php echo $this->language->_('Record Updated'); ?></div><br />
<?php } ?>
<?php if (count($this->report_msg) > 0) { ?>
	<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.'); ?></div><br />
<?php } ?>


<div class="row content-box">
	<div class="portlet-body form col-md-12">
		<table cellpadding="3" cellspacing="0" border="0" class="tableform">
			<form name="filterForm" method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'id' => $this->id), null, true) ?>">
				<?= $this->formHidden('yhead', $this->yhead, ['class' => 'form-control mr-2', 'readonly' => true]); ?>
				<?= $this->formHidden('nhead', $this->nhead, ['class' => 'form-control mr-2', 'readonly' => true]); ?>
				<?= $this->formHidden('headquarter', $this->yhead == 'checked' ? 'YES' : 'NO', ['class' => 'form-control mr-2', 'readonly' => true]); ?>

				<?php if ($this->yhead) { ?>
					<h5><?= $this->language->_('Edit Head Quarter') ?></h5>
				<? } else { ?>
					<h5><?= $this->language->_('Edit Branch Bank') ?></h5>
				<?php } ?>
				<tr>
					<td colspan="5" class="tbl-evencontent">
						<b></b><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent" style="width:150px"><?php echo $this->language->_('Branch Code'); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent" style="width:20px">:</td>
					<td class="tbl-evencontent" colspan="5">
						<?php echo $this->formText('branch_code', $this->branch_code, array('class' => 'form-control col-md-12', 'readonly' => 'readonly')) ?>
						<div id="error_branch_code" class="errmsg"></div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent" style="width:150px"><?php echo $this->language->_('Branch Code'); ?> (BI)&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent" style="width:20px">:</td>
					<td class="tbl-evencontent" colspan="5">
						<?php echo $this->formText('branch_code_bi', $this->branch_code_bi, array('class' => 'form-control col-md-12')) ?>
						<div id="error_branch_code_bi" class="errmsg"></div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->language->_('Branch Name'); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="5">
						<?php echo $this->formText('branch_name', $this->branch_name, array('size' => '60', 'class' => 'form-control col-md-12')) ?>
						<div id="error_branch_name" class="errmsg"></div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->language->_('Branch Address'); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="5">
						<?php echo $this->formText('branch_address', $this->branch_address, array('size' => '60', 'class' => 'form-control col-md-12')) ?>
						<div id="error_branch_address" class="errmsg"></div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->language->_('Branch Email'); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="5">
						<?php echo $this->formText('branch_email', $this->branch_email, array('size' => '60', 'class' => 'form-control col-md-12')) ?>
						<div id="error_branch_email" class="errmsg"></div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->language->_('City Name'); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="5">
						<?php echo $this->formText('city_name', $this->city_name, array('size' => '60', 'class' => 'form-control  col-md-12')) ?>
						<div id="error_city_name" class="errmsg"></div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->language->_('Province'); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="5">
						<?php echo $this->formText('region_name', $this->region_name, array('size' => '60', 'class' => 'form-control col-md-12')) ?>
						<div id="error_region_name" class="errmsg"></div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->language->_('Contact'); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="5">
						<?php echo $this->formText('contact', $this->contact, array('size' => '60', 'onkeypress' => "javascript:return exceptAlpha(event);", 'class' => 'form-control col-md-12')) ?>
						<div id="error_contact" class="errmsg"></div>
					</td>
				</tr>
				<!-- <tr>
					<td class="tbl-evencontent"><?php echo $this->language->_('Headquarter'); ?><strong class="formreq">
							<font color="red">&nbsp;*</font>
						</strong></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="5">

						<label class="radiocontainer"><?= $this->language->_('Yes'); ?>
							<input type="radio" value="YES" name="headquarter" id="headquarter_y" <?= $this->yhead; ?>>
							<span class="checkmark"></span>
						</label>
						<?php if ($this->headquarter != "YES") { ?>
							<label class="radiocontainer"><?= $this->language->_('No'); ?>
								<input type="radio" value="NO" name="headquarter" id="headquarter_n" <?= $this->nhead; ?>>
								<span class="checkmark"></span>
							</label>
						<?php } ?>
						<div id="error_headquarter" class="errmsg"></div>
					</td>
				</tr> -->

				<?php if ($this->nhead) { ?>
					<tr>
						<td class="tbl-evencontent"><?php echo $this->language->_('Coverage'); ?></td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent" colspan="4">

							<?= $this->formHidden('branch_code_coverage', $this->branch_code_coverage, ['class' => 'form-control mr-2', 'readonly' => true]); ?>

							<?= $this->formText('branch_name_coverage_display', $this->branch_name_coverage, ['class' => 'form-control mr-2']); ?>
							<?= $this->formHidden('branch_name_coverage', $this->branch_name_coverage, ['class' => 'form-control mr-2', 'readonly' => true]); ?>
							<div id="error_branch_name_coverage" class="errmsg"></div>
						</td>
						<td>
						<td>
							<button type="button" class="btngreen hov" onclick="openBranch()">
								<?= $this->language->_('Branch List'); ?>
							</button>
						</td>
					</tr>

					<tr>
						<td class="tbl-evencontent"><?php echo $this->language->_('PN Setempat '); ?><strong class="formreq">
								<font color="red">&nbsp;*</font>
							</strong>
						</td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent" colspan="4">
							<?= $this->formText('pnsetempat', $this->pnsetempat, ['class' => 'form-control mr-2', "required" => "required"]); ?>
							<div id="error_pnsetempat" class="errmsg"></div>
						</td>
						<td>
					</tr>
				<?php } ?>
		</table>
		<br>
		<div class="formbutton">
			<?php echo $this->formButton('back', $this->language->_('Back'), array('onclick' => 'location.href=\'/branchbank/index\'', 'class' => 'btnwhite hov')); ?>
			<input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btngreen hov" />
			<input type="reset" value="<?php echo $this->language->_('Reset'); ?>" name="reset" class="btngreen hov" />
		</div>
		</form>
	</div>
</div>



<!-- 

<table border="0" cellpadding="0" cellspacing="0" width="50%" align="left">
	<tbody>	
		<tr>
			<td>
			<?php if ($this->success) { ?>
					<div class="successmsg"><?php echo $this->language->_('Record Updated'); ?></div><br />
			<?php } ?>

			<?php if (count($this->report_msg) > 0) { ?>
					<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.'); ?></div><br />
			<?php } ?>
			</td>
		</tr>

		<tr>
			<div class="portlet-body form">
				<td id="contentarea">
					<div class="portlet-body form content-box">
						<form name="editcountry" method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>">          
						    <h5><?php echo $this->language->_('Branch Bank Management'); ?></h5>
						    <div class="form-body">
                                <div class="form-group row">                             
                                        <div class="col-md-12">
                                            <strong><?php echo $this->language->_('Edit Branch Bank'); ?></strong>
                                        </div>
                                        <div class="col-md-12">
                                            <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
                                        </div>
                                </div>
					         </div>
							<hr/>
						    <div class="portlet-body form">		      					      
								<div class="form-body">                                       
						            <div class="form-group row">
						                <label class="control-label col-md-3"><?php echo $this->language->_('Branch Code'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
						                    <div class="col-md-9">
						                       <?php echo $this->formText('branch_code', $this->branch_code, array('size' => '6', 'class' => 'form-control', 'readonly' => 'readonly')) ?>
								    			<div id="error_branch_code" class="errmsg"></div>
						                    </div>
						            </div>
								</div>
								<div class="form-body">                                                
						            <div class="form-group row">
						                <label class="control-label col-md-3"><?php echo $this->language->_('Branch Name'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
						                    <div class="col-md-9">
						                        <?php echo $this->formText('branch_name', $this->branch_name, array('size' => '60', 'class' => 'form-control', 'readonly' => 'readonly')) ?>
								    			<div id="error_branch_name" class="errmsg"></div>
						                    </div>
						            </div>
								</div>
								<div class="form-body">                                               
						            <div class="form-group row">
						                <label class="control-label col-md-3"><?php echo $this->language->_('Branch Address'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
						                <div class="col-md-9">
						                     <?php echo $this->formText('branch_address', $this->branch_address, array('size' => '60', 'class' => 'form-control')) ?>
								    			<div id="error_branch_address" class="errmsg"></div>
						                </div>
						            </div>
								</div>
								<div class="form-body">                                               
						            <div class="form-group row">
						                <label class="control-label col-md-3"><?php echo $this->language->_('City Name'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
						                <div class="col-md-9">
						                    <?php echo $this->formText('city_name', $this->city_name, array('size' => '60', 'class' => 'form-control')) ?>
								    		<div id="error_city_name" class="errmsg"></div>
						                </div>
						            </div>
								</div>
								<div class="form-body">                                               
						            <div class="form-group row">
						                <label class="control-label col-md-3"><?php echo $this->language->_('Region Name'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
						                <div class="col-md-9">
						                    <?php echo $this->formText('region_name', $this->region_name, array('size' => '60', 'class' => 'form-control')) ?>
								    		<div id="error_region_name" class="errmsg"></div>
						                </div>
						            </div>
								</div>
								<div class="form-body">                                               
						            <div class="form-group row">
						                <label class="control-label col-md-3"><?php echo $this->language->_('Contact'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
						                <div class="col-md-9">
						                   <?php echo $this->formText('contact', $this->contact, array('size' => '60', 'class' => 'form-control')) ?>
								    		<div id="error_contact" class="errmsg"></div>
						                </div>
						            </div>
								</div>
								<br/>
								<div class="row">
			                      <div class="col-sm-12">
			                      		<div class="panel panel-default" style="border:0px">
						                    <div class="formbutton">									 
											    <?php echo $this->formButton('back', $this->language->_('Back'), array('onclick' => 'location.href=\'/branchbank/index\'', 'class' => 'btnwhite hov')); ?>
												<input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btngreen hov"/>
												<input type="reset" value="<?php echo $this->language->_('Reset'); ?>" name="reset" class="btngreen hov"/>
											</div>
                    					</div>
                    				</div>
                    			</div>
                    			</div>
							</form>  
						</div>
					</td>                             						
				</div>
			</tr>
		</tbody>
	</table> -->

<!-- code lama sebelum 15 januari 2019-->
<!-- 
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td class="filterarea" id="filterarea">
					<div class="subtopic"><h2><?php echo $this->language->_('Branch Bank Management'); ?></h2></div>
				</td>
			</tr>
			<tr>
				<td>
					<?php if ($this->success) { ?>
					<div class="successmsg"><?php echo $this->language->_('Record Saved'); ?></div><br />
					<?php } ?>

					<?php
					if (count($this->report_msg) > 0) { ?>
					    <div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.'); ?></div><br />
					<?php
					}
					?>
				</td>
			</tr>
			<tr>
				<th class="filterarea" id="filterarea">
					<?php echo $this->language->_('Edit Branch Bank'); ?>
				</th>
			</tr>
			<tr>
				<td id="contentarea">
					<form name="editcountry" method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
						    <tr>
								<td class="tbl-evencontent" width="20%" colspan="2"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
							</tr>
						  	
							<tr>
								<td class="tbl-evencontent" width="20%"><?php echo $this->language->_('Branch Code'); ?></td>
								<td class="tbl-evencontent">
								    <?php echo $this->formText('branch_code', $this->branch_code, array('size' => '6', 'readonly' => 'readonly')) ?>
								</td>
						    </tr>

							<tr>
								<td class="tbl-evencontent" width="20%"><?php echo $this->language->_('Branch Name'); ?></td>
								<td class="tbl-evencontent">
								    <?php echo $this->formText('branch_name', $this->branch_name, array('size' => '60', 'readonly' => 'readonly')) ?>
								</td>
						    </tr>

							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Branch Address'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent">
								    <?php echo $this->formText('branch_address', $this->branch_address, array('size' => '60')) ?>
								    <div id="error_branch_address" class="errmsg"></div>
								</td>
							</tr>
							
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('City Name'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent">
								    <?php echo $this->formText('city_name', $this->city_name, array('size' => '60')) ?>
								    <div id="error_city_name" class="errmsg"></div>
								</td>
							</tr>
							
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Region Name'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent">
								    <?php echo $this->formText('region_name', $this->region_name, array('size' => '60')) ?>
								    <div id="error_region_name" class="errmsg"></div>
								</td>
							</tr>
							
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Contact'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent">
								    <?php echo $this->formText('contact', $this->contact, array('size' => '60')) ?>
								    <div id="error_contact" class="errmsg"></div>
								</td>
							</tr>
							
							<tr>
								<td class="button-area" id="button-area" colspan="2">
									<div class="formbutton">
									    <?php echo $this->formButton('back', $this->language->_('Back'), array('onclick' => 'location.href=\'/branchbank/index\'', 'class' => 'inputbtn')); ?>
										<?php echo $this->formHidden('bank_id', $this->bank_id) ?>
									    <input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="inputbtn"/>
										<input type="reset" value="<?php echo $this->language->_('Reset'); ?>" name="reset" class="inputbtn"/>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					</form>
				</td>
			</tr>
		</tbody>
	</table> -->