<script type="text/javascript">
	function showAccountBeneficiary(pagesource)
	{
		var win = null;
	  var w = 800, h = 400;

		if (win && !win.close())
		{
			win.close();
		}

		LeftPosition=(screen.width)?(screen.width-w)/2:100;
		TopPosition=(screen.height)?(screen.height-h)/2:100;

		settings='width=800,height=400,top='+TopPosition+',left='+LeftPosition+',scrollbars=1,location=no,directories=no,status=no,menubar=no,toolbar=no,resizable=no';
		win=window.open("../popup/"+pagesource,'sgo_popup_window',settings);
		win.focus();
	}
</script>
<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Multi Debit'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Bulk File'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>
<?php if($this->error){ ?>
					<div class="errmsg"><?=html_entity_decode($this->report_msg)?></div>
					<?php } ?>
<div class="portlet-body form">
<form name="payment" method="post" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" enctype="multipart/form-data">
	<input name="titleForm" value="Import File" type="hidden">

	<div class="card">
                      <!-- Default panel contents -->
                      <div class="card-header cardhead text-white">
                    	<?php
											$ns = new Zend_Session_Namespace('language');
											$sessionLanguage = $ns->langCode;
											if($sessionLanguage == 'id'){
												$file = '/template/Multi_Debit_Template_id.csv';
											}
											else{
												$file = '/template/Multi_Debit_Template_en.csv';
											}
										?>
                    	<strong>Format:&nbsp;

											<span style="font-size:10px;font-style:normal;">
												<a href="<?=$file?>" style="color:#F4C301;"><u><?php echo $this->language->_('download template'); ?></u></a>
											</span></strong></div>
                    	<div class="card-body form">
                                                <!-- BEGIN FORM-->


                                                        <div class="form-group row ">
                                                            <div id="notesPage">


											<?php echo $this->language->_('Please upload comma delimited (,) file'); ?>
											<br>
											<br>
											<?php echo $this->language->_('ACCT SOURCE,AMOUNT,MESSAGE,ADDITIONAL MESSAGE'); ?>
											<br>
											"<?php echo $this->language->_('0000000000000000'); ?>","<?php echo $this->language->_('35000090'); ?>","<?php echo $this->language->_('MESSAGE'); ?>","<?php echo $this->language->_('ADDITIONAL MESSAGE'); ?>"
											<br>
											"<?php echo $this->language->_('0000000000000000'); ?>","<?php echo $this->language->_('45000050'); ?>","<?php echo $this->language->_('MESSAGE'); ?>","<?php echo $this->language->_('ADDITIONAL MESSAGE'); ?>"



										<br>
									</div>
                                                        </div>

                    </div>
                   </div>
                   <br/>
                    <div class="card">
                      <!-- Default panel contents -->
                      <div class="card-header cardhead text-white">

                    	<strong><?php echo $this->language->_('Notes'); ?>:</strong></div>
                    	<div class="card-body form">
                                                <!-- BEGIN FORM-->


                                                        <div class="form-group row ">
                                                            <div id="notesPage">



											<?php echo $this->language->_('Import will generate list from file'); ?>.<br>
											<?php echo $this->language->_('Click'); ?> "<?php echo $this->language->_('Download Template'); ?>" <?php echo $this->language->_('to download template'); ?>.
											<br>
											<?php echo $this->language->_('Please note that the first row in uploaded file will be ignored'); ?>
											(<?php echo $this->language->_('file contents will be proccessed starting on second row'); ?>).<br>
											<?php echo $this->language->_('Please check on the payment screen for the correctness, then click Submit for approval'); ?>.


									</div>
                                                        </div>

                    </div>
                   </div>
                   <br/>

									 <div class="card">
										 <table class="form-horizontal form-bordered form-row-stripped" border="0" cellpadding="4" cellspacing="4" width="100%" align="center">
											 <tbody>

											 <tr>
												 <td valign="top"><img src="/images/img_one.gif" height="47" width="49"></td>
												 <td style="height: 47px; vertical-align: middle;" nowrap="nowrap">
													 <fieldset>
														 <legend><span class="texthistory"><b><?php echo $this->language->_('Transfer To'); ?></b></span></legend>
											 <div class="portlet-body form">

																 <div class="portlet-body form">
																													 <div class="form-group row ">
																																			 <label class="control-label col-md-3"></label>
																																			 <div class="col-md-9">
																																			 <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
																																			 </div>
																																	 </div>
																														<div class="form-group row ">
																																			 <label class="control-label col-md-3"><?php echo $this->language->_('Subject'); ?></label>
																																			 <div class="col-md-9">
																																			 <?php echo $this->formText('PSSUBJECT',$this->PSSUBJECT,array('size'=>40,'maxlength'=>128,'class'=>'form-control'))?>
																																			 </div>
																																	 </div>
																														 <div class="form-group row ">
																																			 <label class="control-label col-md-3"><?php echo $this->language->_('Beneficiary Account'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
																																			 <div class="col-md-9">
																																			 <?php echo $this->formText('ACBENEF',$this->ACBENEF,array('readonly'=>'readonly','size'=>40,'maxlength'=>20,'onkeypress'=>'return forceNumberOCBC(event)','class'=>'form-control'))?>
																						 <input class="btngreen hov" value="<?php echo $this->language->_('Account Book')?>" onclick="showAccountBeneficiary('multipopup?fl3nc=1&amp;r=pnngnbjvys707sv5&amp;param=');" type="button">
																						 <input name="ACBENEF_FULL" value="" type="hidden">
																						 <?php echo $this->formText('ACBENEF_ALIAS',$this->ACBENEF_ALIAS,array('size'=>40,'maxlength'=>128,'style'=>'display:none'))?>
																																			 </div>
																																	 </div>
																														 <div class="form-group row ">
																																			 <label class="control-label col-md-3"><?php echo $this->language->_('Beneficiary Account Name'); ?></label>
																																			 <div class="col-md-9">
																																			 <?php echo $this->formText('ACBENEF_BANKNAME',$this->ACBENEF_BANKNAME,array('size'=>40,'maxlength'=>40,'readonly'=>'readonly','class'=>'form-control'))?>
																																			 </div>
																																	 </div>

																														 <div class="form-group row ">
																																			 <label class="control-label col-md-3"><?php echo $this->language->_('Currency'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
																																			 <div class="col-md-9">
																																			 <?php
																		 echo '<select name="CURR_CODE" id="CURR_CODE" class="form-control">
																				 <option value="">--'.$this->language->_('Please Select').'--</option>';
																			 for($a=0,$b=count($this->ccyArr);$a<$b;$a++)
																			 {
																				 $row = $this->ccyArr[$a];
																				 echo '<option value="'.$row['CCY_ID'].'" class="'.$row['DESCRIPTION'].'"';
																				 if($row['CCY_ID']==$this->CURR_CODE)echo ' selected';
																				 echo '>'.$row['CCY_ID'].'</option>';
																			 }
																		 echo '</select>';
																	 ?>
																																			 </div>
																																	 </div>

															 </div>
															</div>
													 </fieldset>
												 </td>
											 </tr>
											 <tr>
												 <td valign="top"><img src="/images/img_two.gif" height="47" width="49"></td>
												 <td style="height: 47px; vertical-align: middle;" nowrap="nowrap" align="center">
													 <fieldset>
														 <legend>
															 <span class="texthistory"><b><?php echo $this->language->_('File Detail'); ?></b></span>
														 </legend>
														 <div class="portlet-body form">

																 <div class="portlet-body form">
																													 <div class="form-group row ">
																																			 <label class="control-label col-md-3"><?php echo $this->language->_('File to Upload'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
																																			 <div class="col-md-9">
																																			 <img src="/images/img_excel.gif" height="47" width="49">
																				 <input name="CSV_FILE" size="30" class="form-control" onkeypress="return noSpecialChar(event);" type="file">
																				 <br>
																																			 </div>
																																	 </div>
																														<div class="form-group row ">
																																			 <label class="control-label col-md-3"><?php echo $this->language->_('Payment Date'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
																																			 <div class="col-md-9" align="left">
																																			 <div class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+1d">
																																	 <input name="PSEFDATE" id="PSEFDATE" value="<?php echo $this->PSEFDATE?>" type="text" class="form-control" readonly>
																																	 <span class="input-group-btn">
																																			 <button class="btn default" type="button" style="height: 34px">
																																					 <i class="fa fa-calendar"></i>
																																			 </button>
																																	 </span>
																															 </div>

																																			 </div>
																																	 </div>


															 </div>
															</div>


													 </fieldset>
												 </td>
											 </tr>
											 <tr><td colspan="2">&nbsp;</td></tr>
											 <tr>
												 <td>&nbsp;</td>
												 <td class="button-area" id="button-area" colspan="2">

												 </td>
											 </tr>
											 </tbody>
										 </table>
									 </div>

									 <br>
									 <div class="formbutton">
										 <input class="btnwhite hov" value="<?php echo $this->language->_('Cancel')?>" onclick="location.href='/home/index'" type="button">
										 <!--<input class="inputbtn" value="Submit" onclick="JavaScript:proceed('post-import', '', '');this.disabled=true;this.value='import';" type="button">-->
										 <input type="submit" class="btngreen hov" name="submit" value="<?php echo $this->language->_('Submit')?>"/>
									 </div>


</form>
</div>
