<style type="text/css">
    .accordionDiv{
        background-color: #e0dede;
        border-radius: 10px;
        height: 40px;
        margin-top: 10px;
    }

    .content-box{
      margin-bottom: 0;
    }
</style>

<script type="text/javascript">

  $(document).ready(function() {
      $('#fixTable').fixTableHeader();
      $('#historyBtnShow').hide();

      $('#exp_date').datepicker({
            format: 'yyyy-mm-dd',
            uiLibrary: 'bootstrap4'
      });
  });

    function historyShow() {
        $('#divHistory').show();
        $('#historyBtnHide').attr('Onclick', 'historyHide()');
        $('#historyBtnShow').hide();
        $('#historyBtnHide').show();

    }

    function historyHide() {
        $('#divHistory').hide();
        $('#historyBtnShow').attr('Onclick', 'historyShow()');
        $('#historyBtnHide').hide();
        $('#historyBtnShow').show();
    }

    function updateStatusShow(){
      $('#statusDiv').hide();
      $('#updateStatusDiv').show();
    }

    function updateStatusHide(){
      $('#statusDiv').show();
      $('#updateStatusDiv').hide();
    }

</script>

<div class="alert alert-success col-md-12" style="text-align: center; position: absolute; top: 50px; z-index: 1000; display: none;" id="notifPage"></div>

<div class="col-sm-12 row">
  <div class="col-sm-8">
    <div class="pl-2">
      <h5><b><?php echo $this->language->_('VA ID Detail') ?></b></h5>

      <table width="100%">
        <tr>
          <td class="text-black-50" width="41%"><?php echo $this->language->_('VA Number') ?></td>
          <td><?php echo $this->type == 'static' ? $this->data['VA_NUMBER'] : $this->data['VANUMBER']; ?></td>
        </tr>
        <tr>
          <td class="text-black-50"><?php echo $this->language->_('VA Name') ?></td>
          <td><?php echo $this->data['VA_NAME']; ?></td>
        </tr>
      </table>
    </div>

    <br>
    
    <div>
      <div class="content-box">
        <table width="100%">
          <?php if ($this->type == 'static') { ?>
            <tr>
              <td class="text-black-50" width="42%"><?php echo $this->language->_('VA ID') ?></td>
              <td><?php echo $this->data['VA_ID']; ?></td>
            </tr>
          <?php } ?>
          <tr>
            <td class="text-black-50" width="42%"><?php echo $this->language->_('Message') ?></td>
            <td id="messageTd"><?php echo $this->data['MESSAGE']; ?></td>
          </tr>
          <tr>
            <td class="text-black-50"><?php echo $this->language->_('Effective Date') ?></td>
            <td id="efDateTd"><?php echo Application_Helper_General::convertDate($this->data['EF_DATE'], $this->displayDateTimeFormat, $this->defaultDateFormat); ?></td>
          </tr>
          <tr>
            <td class="text-black-50"><?php echo $this->language->_('Expired Date') ?></td>
            <td id="expDateTd"><?php echo Application_Helper_General::convertDate($this->data['EXP_DATE'], $this->displayDateTimeFormat, $this->defaultDateFormat); ?></td>
          </tr>
          <tr>
            <td class="text-black-50 pt-2"><?php echo $this->language->_('Bill Amount') ?></td>
            <td id="invoiceAmountTd" class="pt-2"><?php echo $this->data['CCY'].' '.Application_Helper_General::displayMoney($this->data['INVOICE_AMOUNT']); ?></td>
          </tr>
          <tr>
            <td class="text-black-50 pt-2"><?php echo $this->language->_('Paid Amount') ?></td>
            <td class="pt-2"><?php echo $this->data['CCY'].' '.Application_Helper_General::displayMoney($this->data['SETTLED_AMOUNT']); ?></td>
          </tr>
        </table>
      </div>
    </div>

    <br>
    <br>
  
    <div id="statusDiv">
      <div class="content-box">
        <table width="100%">
          <tr>
            <td class="text-black-50" width="42%"><?php echo $this->language->_('Doc Status') ?></td>
            <td id="docStatusTd"><?php echo $this->data['DOC_STATUS']; ?></td>
          </tr>
          <tr>
            <td class="text-black-50"><?php echo $this->language->_('Remarks') ?></td>
            <td><?php echo $this->data['REMARKS'] == '' ? '-' : $this->data['REMARKS']; ?></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-4" style="padding-top: 100px;" align="right">
      <?php 
        $textColor = '';
        $amount = 0;
        $amountStyle = '';
        if ($this->data['DOC_STATUS'] == 'Unsettled') {
          $textColor = 'errormsg';
          $amount =  Application_Helper_General::displayMoney($this->data['UNSETTLED_AMOUNT']);
        }
        else if ($this->data['DOC_STATUS'] == 'Settled') {
          $amount =  Application_Helper_General::displayMoney($this->data['SETTLED_AMOUNT']);
        }
        else if ($this->data['DOC_STATUS'] == 'In Billing') {
          $amount =  Application_Helper_General::displayMoney($this->data['IN_BILLING']);
        }
        else  if ($this->data['DOC_STATUS'] == 'Pending Future Date') {
          $amount = $this->data['INVOICE_AMOUNT'];
        }
        else if($this->data['DOC_STATUS'] == 'Cancelled'){
          $amountStyle = 'style="display: none;"';
        }
      ?>
      <h5><b><?php echo $this->data['DOC_STATUS']; ?></b></h5>
      <h6 <?=$amountStyle?>><b><?php echo $this->data['CCY'].' '.$amount; ?></b></h6>
  </div>
</div>

<br>
<br>

<div class="col-md-12 p-0 accordionDiv">
    <table width="100%" border='0'>
      <tr>
        <td align="left">
            <h6 class="pt-2 pl-2"><b><?php echo $this->language->_('History Detail');?></b></h6>
        </td>
        <td align="right">
          <i class="iconCircle fas fa-chevron-down pt-2 mr-2 mt-1" onclick="historyShow()" id="historyBtnShow"></i>
          <i class="iconCircle fas fa-chevron-up pt-2 mr-2 mt-1" onclick="historyHide()" id="historyBtnHide"></i>
        </td>
      </tr>
    </table>
</div>

<div class="col-md-12 content-box" id="divHistory" style="width: 100%;">
    <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th class="tablehead"><?php echo $this->language->_('User') ?></th>
                    <th class="tablehead"><?php echo $this->language->_('Action') ?></th>
                    <th class="tablehead"><?php echo $this->language->_('Date Time') ?></th>
                </tr>
            </thead>
            <tbody id="historyTableBody">
                <?php if (!empty($this->historyData)) { ?>
                    <?php foreach ($this->historyData as $key => $value) { ?>
                        <tr>
                            <td><?php echo $value['USER_FULLNAME']; ?></td>
                            <td><?php echo Application_Helper_General::convertDate($value['DATE_TIME'], $this->displayDateTimeFormat, $this->defaultDateFormat) ?></td>
                            <td><?php echo $value['HISTORYSTATUS'] ?></td>
                        </tr>
                    <?php } ?>
                <?php } else{ ?>
                        <tr><td colspan="3" align="center"><?php echo $this->language->_('---- No Data ----') ?></td></tr>
                <?php } ?>
            </tbody>
        </table>
    </div>
</div>

<br>
<br>

<div class="col-md-12" align="center">
    <button class="btnwhite hov" onclick="closeDetail()"><?php echo $this->language->_('Close'); ?></button>
</div>

<script type="text/javascript">
  function closeDetail(){
    window.close();
  }
</script>