<!-- <style media="screen">
  .rectangel {
    height: 49px;
    border: solid 1px #c4c4c4;
    background-color: #ffffff;
  }
</style> -->
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>




<script type="text/javascript">

</script>

<?php

if (true) //jika tidak ada grup
{
//              echo "<br/><table id='0' border='0' cellpadding='0' cellspacing='0' width='800px'>
//                  <tr>
//                    <th class='tdform-sub'><strong>".$this->language->_('Account No')."</strong></th>
//                    <th class='tdform-sub'><strong>".$this->language->_('Product Type')."</strong></th>
//                    <th class='tdform-sub'><strong>".$this->language->_('CCY')."</strong></th>
//                    <th class='tdform-sub' align='center'><strong>".$this->language->_('Available Balance')."</strong></th>
//                          <th class='tdform-sub' align='center'><strong>'.$this->language->_('Ekuivalent (IDR)').'</strong></th>";
//              echo '</tr>';


$arr_value_tot_group =  array();
$arr_display_tot_group =  array();

if (count ( $this->personal ) > 0)
{
$i = 0;
$totalBalance = 0;
$personaldata = array();
$personaltotal = 0;
$graphdata = array();
$countpersonal = count ($this->personal);
foreach ( $this->personal as $row ) {
  $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

  $systemBalance = new SystemBalance($this->custId,$row ['ACCT_NO'],Application_Helper_General::getCurrNum($row ['CCY_ID']));
  $systemBalance->setFlag(false);
  $systemBalance->checkBalance();

  if(isset($arr_value_tot_group[$row ['CCY_ID']])) {
        $arr_value_tot_group[$row ['CCY_ID']] += $systemBalance->getEffectiveBalance();
      }
      else {
        $arr_value_tot_group[$row ['CCY_ID']] = $systemBalance->getEffectiveBalance();
      }

  $arr_display_tot_group[$row ['CCY_ID']] = $row ['CCY_ID']." ". Application_Helper_General::displayMoney($arr_value_tot_group[$row ['CCY_ID']]);
  $accountStatusModified = $systemBalance->getCoreAccountStatusDesc();
  $model = new accountstatement_Model_Accountstatement();

  //if($systemBalance->getCoreProductPlan() != NULL && $systemBalance->getCoreProductPlan() != 'N/A'){

    $product = $model->getProduct($systemBalance->getCorePlanCode(),$systemBalance->getCoreProductType());
    $product_name = $product['0']['PRODUCT_NAME'];
  /*}else{
              //print_r('here1');
    $product_name = 'N/A';
  }*/
  $kurs = 0;
  if($row['CCY_ID']=='IDR'){
      $equivalen = $systemBalance->getEffectiveBalance();
  }else{

//                      print_r($this->rateKurs);echo ' ';
      foreach ($this->rateKurs as $val){


          if($val['currency']==$row['CCY_ID']){
              $kurs = $val['sell'];
              $kurs = str_replace(',','',$kurs);
//                              die('here');
          }
      }
//                      print_r($kurs);die;
      $equivalen = $systemBalance->getEffectiveBalance()*$kurs;
  }
//                  if($systemBalance->getEffectiveBalance() != 'N/A'){
//                  $personaltotal =+ $systemBalance->getEffectiveBalance();
//                  }
  $graphdata[$i]['account'] = $row ['ACCT_NO'];
  $graphdata[$i]['balance'] = $equivalen;
  $totalpersonalidr +=  $equivalen;

  if($row['CCY_ID']=='IDR'){
      $personaldata[$row['CCY_ID']] += $systemBalance->getEffectiveBalance();
  }else if($row['CCY_ID']=='USD'){
      $personaldata[$row['CCY_ID']] += $systemBalance->getEffectiveBalance();
  }else if($row['CCY_ID']=='JPY'){
      $personaldata[$row['CCY_ID']] += $systemBalance->getEffectiveBalance();
  }
  $i++;

}
}
else
{

}



}
else //jika ada grup
{


}
?>

<!-- hitung aset deposit -->



<?php
$totaldeposit = 0;
foreach($this->deposit as $row){
$totaldeposit = $totaldeposit + $row['EQUIVALEN'];

$i++;
}

?>

<!-- hitung liabilities -->
<?php
  $totalliabilities = 0;
  foreach($this->loan as $row){
  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

  $totalliabilities = $totalliabilities + $row['EQUIVALEN'];

  $i++;
}?>


<?php $nodata = $this->language->_('No Data');?>
<?php
require_once 'General/SystemBalance.php';
?>


<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?=$this->language->_('Account Information')?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas" ><?=$this->language->_('Account Consolidation')?></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
      <h5>Account Consolidation</h5>
      <h6>Manage & Monitor All accounts</h6>
    </div>
      <div class="col-md-10" align="left">
        <style type="text/css">
          .nav-tabs{
            margin-top: 5px;
          }
        </style>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" onclick="networth()" id="btnnetworth-tab btnnetworth" data-toggle="tab" href="#btnnetworth" role="tab" at="1" value="1" aria-controls="btnnetworth" aria-selected="true">Net Worth</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="assets()" id="btnassets-tab btnassets" data-toggle="tab" href="#btnassets" role="tab" at="2" value="2" aria-controls="btnassets" aria-selected="false">Assets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="liabilities()" id="btnliabilities-tab" data-toggle="tab" href="#btnliabilities" role="tab" at="3" value="3" aria-controls="btnliabilities" aria-selected="false">Loan</a>
          </li>
        </ul>
        <!-- <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" onclick="networth()" id="btnnetworth" role="tab" aria-controls="btnnetworth" aria-selected="true"><?php echo $this->language->_('Net Worth');?></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="assets()" id="btnassets" role="tab" aria-controls="btnassets" aria-selected="false"><?php echo $this->language->_('Assets');?></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="liabilities()" id="btnliabilities" role="tab" aria-controls="btnliabilities" aria-selected="false"><?php echo $this->language->_('Domestic');?></a>
          </li>
        </ul> -->
      </div>
      <div class="col-md-2" align="right">
        <button onClick="window.location.reload()" style="width: 40px;
                                        height: 40px;
                                        background-image: linear-gradient(#ffffff,#ffffff);
                                        border-radius: 100%; border-style: double;" name="button"> <i style="color:black" class="fa fa-sync" aria-hidden="true"></i> </button>
          <?php 
              $buttonSetting = $this->url(array('module'=>'accountaggregation','controller'=>'setting',),null,true);
          ?>
          <button style="width: 40px;
                                        height: 40px;
                                        background-image: linear-gradient(#ffffff,#ffffff);
                                        border-radius: 100%;border-style: double;" name="button" onclick="location.href='<?php echo $buttonSetting; ?>'">
                                      <i style="color:black" class="fa fa-cog" aria-hidden="true"></i>

          </button>
      </div>
      
    <!-- <div class="col-md-6 pt-4">
        <style type="text/css">
          .switch{
            display: inline-block;
            width: 105px;
            background-color: #fff;
            color: rgba(0, 0, 0, 0.6);
            font-size: 10px;
            font-weight: normal;
            text-align: center;
            text-shadow: none;
            padding: 6px 14px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition:    all 0.1s ease-in-out;
            -ms-transition:     all 0.1s ease-in-out;
            -o-transition:      all 0.1s ease-in-out;
            transition:         all 0.1s ease-in-out;
            text-decoration: none;
            margin-right: -4px;
          }

          .aktif {
            color: #FFFFFF;
            background-image: linear-gradient(to bottom, #007934, #003d1a);
            -webkit-box-shadow: none;
            box-shadow: none;
            text-decoration: none;
    }
  </style>
        <button type="button" onclick="networth()" id="btnnetworth" class="switch aktif" name="button">Net Worth</button>
        <button type="button" onclick="assets()" id="btnassets" class="switch" name="button">Assets</button>
        <button type="button" onclick="liabilities()" id="btnliabilities" class="switch" name="button">Liabilities</button>
    </div> -->

      <!-- <div class="col-md-6 pt-4 " align="right" >

          

      </div>
      <div class="col-md-12">

      </div> -->



      <div id="networth1" class="col-md-7 pt-4">
          <div class="content-box">
            <?php

                if(!empty($graphworth)){
                    $graphwh = '';

                    $currency = array(0=>'IDR',1=>'USD',2=>'JPY');
                    foreach($currency as $key => $row){
            //         foreach($graphworth as $row){
            //             $percent = ($row['balance']/$totalpersonalidr)*;

            //             $balance = str_replace(',','',$row['EQUIVALEN']);
                        $percent = ($graphworth[$row]/$totaleqnet)*100;
                        if($graphworth[$row]!=0){
                        $graphwh .= "['".$row."',".$percent."],";
                        }
                    }

            //      echo $graphwh;
                }

            ?>



            <div id="chartContainer" class="img-fluid" style="height: 300px; width: 100%;"></div>

            <?php

             ?>
          </div>
      </div>
      <div id="networth2" class="col-md-5 pt-4">
          <h5><?=$this->language->_('NET WORTH (EQUIVALENT IN IDR)')?></h5>
          <table>
            <tr>
              <td width="15px" style="background-color:#6495ed"></td>
              <td> <strong class="homeCardText">ASSETS</strong></td>
            </tr>
          </table>

          <div class="rectangel" style="display:flex; align-items:center">
            <div class="row container" >
              <div class="col-md-4 ">
                  <strong>SAVING</strong>
              </div>
              <div class="col-md-8">
                <?php
                  $saving = str_replace(',','',$totalpersonalidr);
                 ?>
                <strong> IDR <?php echo number_format( $saving, 0, "." , ".") ."<br/ >"; ?> </strong>
                <!-- <strong> <?php echo number_format($totalpersonalidr); ?> </strong> -->
              </div>
            </div>


          </div>
          <div class="rectangel" style="display:flex; align-items:center">
            <div class="row container ">
              <div class="col-md-4">
                <strong >DEPOSIT</strong>
              </div>
              <?php $deposit = str_replace(',','',$totaldeposit); ?>
              <div class="col-md-8">
                <strong> IDR <?php echo number_format($deposit, 0, "." , ".") .""; ?></strong>
                <!-- <strong> <?php echo number_format($this->$totaldepo); ?> </strong> -->
              </div>
            </div>
          </div>
          <?php
              $assets = $saving + $deposit;
              $assets = number_format($assets, 0, "." , ".");
           ?>
          <br>
          <table>
            <tr>
              <td width="15px" style="background-color:#e03c31"></td>
              <td> <strong class="homeCardText">LOAN</strong></td>
            </tr>
          </table>
          <div class="rectangel" style="display:flex; align-items:center">
            <div class="row container ">
              <div class="col-md-4">
                <strong>LOAN</strong>
              </div>
              <div class="col-md-8">
                <strong> IDR <?php echo number_format($this->totalloan, 0, "." , ".") ."<br/ >"; ?> </strong>
              </div>
            </div>
          </div>


          <?php
              $assets = $saving + $deposit;

              $liabilities = str_replace(',','',$this->totalloan);
              $networth = $assets - $liabilities;
           ?>
          <br>
          <strong class="homeCardText">NETWORTH</strong>
          <div class="rectangel" style="display:flex; align-items:center" >
            <div class="row container">
                <div class="col-md-4">
                  <strong>NETWORTH</strong>
                </div>
                <div class="col-md-8">
                  <strong>IDR <?php echo number_format($networth,0,'.','.'); ?></strong>
                </div>
            </div>

          </div>
      </div>

      <div style="display:none" id="assets1" class="col-md-5 pt-4">
          <div class="content-box">

            <?php

                if(!empty($graphdata)){
                    $graph = '';
                    foreach($graphdata as $row){
                        $percent = ($row['balance']/$totalpersonalidr)*100;
                        $graph .= "['".$row['account']."',".$percent."],";
                    }


                }
            //     echo $graph;
            ?>


                <!-- <script type="text/javascript">

            Highcharts.chart('container', {
                chart: {
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 45,
                        beta: 0
                    }
                },
                title: {
                    text: 'Personal Account (in IDR)'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        depth: 35,
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: [
                        <?php echo $graph ?>
                    ]
                }]
            });
                </script> -->
                <div id="assetsChart" class="img-fluid" style="height: 300px; width: 100%;"></div>
          </div>
      </div>
      <div style="display:none" class="col-md-7" id="assets2">
        <br>
          <h5><?=$this->language->_('Assets Account (Equivalent in IDR)')?></h5>
          <table width="100%">
            <tr>
              <td width="15px" style="background-color:#00008b" ></th>
              <td class="headerNew" colspan="6"> <b>Main Account</b> </td>
            </tr>
          </table>
          <table class="headerNew" class='table table-sm table-striped'>
            <tr class="text-white" style="background-color:black;">
              <th width="20%">Account</th>
              <th width="20%">Prod Type</th>
              <th width="10%">CCY</th>
              <th width="20%">Amount</th>
              <th width="10%">CCY</th>
              <th width="20%">Equivalent</th>
            </tr>
            <?php

        if (true) //jika tidak ada grup
        {
          $arr_value_tot_group =  array();
          $arr_display_tot_group =  array();

          if (count ( $this->personal ) > 0)
          {
            $i = 0;
            $totalBalance = 0;
            $personaldata = array();
            $personaltotal = 0;
            $graphdata = array();
            $countpersonal = count ($this->personal);
            $mainassets = 0;
            foreach ( $this->personal as $row ) {
              $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

              $systemBalance = new SystemBalance($this->custId,$row ['ACCT_NO'],Application_Helper_General::getCurrNum($row ['CCY_ID']));
              $systemBalance->setFlag(false);
              $systemBalance->checkBalance();

              if(isset($arr_value_tot_group[$row ['CCY_ID']])) {
                    $arr_value_tot_group[$row ['CCY_ID']] += $systemBalance->getEffectiveBalance();
                  }
                  else {
                    $arr_value_tot_group[$row ['CCY_ID']] = $systemBalance->getEffectiveBalance();
                  }

              $arr_display_tot_group[$row ['CCY_ID']] = $row ['CCY_ID']." ". Application_Helper_General::displayMoney($arr_value_tot_group[$row ['CCY_ID']]);
              $accountStatusModified = $systemBalance->getCoreAccountStatusDesc();
              $model = new accountstatement_Model_Accountstatement();

              //if($systemBalance->getCoreProductPlan() != NULL && $systemBalance->getCoreProductPlan() != 'N/A'){

                $product = $model->getProduct($systemBalance->getCorePlanCode(),$systemBalance->getCoreProductType());
                $product_name = $product['0']['PRODUCT_NAME'];
              /*}else{
                          //print_r('here1');
                $product_name = 'N/A';
              }*/
              $kurs = 0;
              if($row['CCY_ID']=='IDR'){
                  $equivalen = $systemBalance->getEffectiveBalance();
                  $equivalen = str_replace(',','',$equivalen);
              }else{

//                      print_r($this->rateKurs);echo ' ';
                  foreach ($this->rateKurs as $val){


                      if($val['currency']==$row['CCY_ID']){
                          $kurs = $val['sell'];
                          $kurs = str_replace(',','',$kurs);
//                              die('here');
                      }
                  }
//                      print_r($kurs);die;
                  $equivalen = $systemBalance->getEffectiveBalance()*$kurs;
              }

              echo '  <tr>

                    <td  class="' . $td_css . '">' . $row ['ACCT_NO'] . '</td>
                    <td class="' . $td_css . '">' . $product_name. '</td>
                    <td class="' . $td_css . '">' . $row ['CCY_ID'] . '</td>
                      <td class="' . $td_css . '" align="right">'.Application_Helper_General::displayMoney($systemBalance->getEffectiveBalance()).'</td>
                      <td class="' . $td_css . '"> IDR </td>
                        <td class="' . $td_css . '" align="right">'.number_format($equivalen,0,'.','.').'</td>';
              echo '</tr>';

              $mainassets = $mainassets + $equivalen;
//                  if($systemBalance->getEffectiveBalance() != 'N/A'){
//                  $personaltotal =+ $systemBalance->getEffectiveBalance();
//                  }
              $graphdata[$i]['account'] = $row ['ACCT_NO'];
              $graphdata[$i]['balance'] = $equivalen;
              $totalpersonalidr +=  $equivalen;

              if($row['CCY_ID']=='IDR'){
                  $personaldata[$row['CCY_ID']] += $systemBalance->getEffectiveBalance();
              }else if($row['CCY_ID']=='USD'){
                  $personaldata[$row['CCY_ID']] += $systemBalance->getEffectiveBalance();
              }else if($row['CCY_ID']=='JPY'){
                  $personaldata[$row['CCY_ID']] += $systemBalance->getEffectiveBalance();
              }
              $i++;

            }
          }
          else
          {
            echo "<tr><td colspan=10 class='tbl-evencontent' align='center'> ---".$this->language->_(' No Data ')."--- </td></tr>";
          }

          if($arr_display_tot_group)
            $display_tot_group = implode("; ",$arr_display_tot_group);
          else
            $display_tot_group = '';
          echo "</table>
              ";

        }
        else //jika ada grup
        {
          if (count ( $this->personal ) > 0)
          {
            $i = 0;
            $group = null;
            $arr_value_tot_group = array();


            $resultdataGroup =  array();
            foreach ($this->personal as $rowGroup){
              $resultdataGroup[$rowGroup['GROUP_NAME']][] = $rowGroup;
            }

            foreach ( $resultdataGroup as $groupname=>$rowPerGroup )
            {

              $arr_display_tot_group = array();
              $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
              $groupname = ($groupname) ? $groupname : 'OTHERS';
              $selectorGroupId = "GROUP_".str_replace(' ','_',$groupname);
              echo '<br/><br /><b><a href="#'.$selectorGroupId.'" onclick="$(\'#'.$selectorGroupId.'\').toggle();">' . $groupname . '</a></b><br /><table id="'.$selectorGroupId.'" style="display:none" class ="tablegroupaccount" border="0" cellpadding="0" cellspacing="0" width="800px">
                    <tr>
                      <th id="tbl-headercontent"><strong>'.$this->language->_('Account No').'</strong></th>
                      <th id="tbl-headercontent"><strong>'.$this->language->_('Product Type').'</strong></th>

                      <th id="tbl-headercontent"><strong>'.$this->language->_('CCY').'</strong></th>

                    <th id="tbl-headercontent" align="center"><strong>'.$this->language->_('Available Balance').'</strong></th>
                          <th id="tbl-headercontent" align="center"><strong>'.$this->language->_('Ekuivalent (IDR)').'</strong></th>';
              echo  '</tr>';

                if(count($rowPerGroup) > 0){
//
                  $arr_value_tot_group =  array();
                  foreach ($rowPerGroup as $row){
                  $systemBalance = new SystemBalance($this->custId,$row ['ACCT_NO'],Application_Helper_General::getCurrNum($row ['CCY_ID']));
                  $systemBalance->setFlag(false);
                  $systemBalance->checkBalance();
//
                    if(isset($arr_value_tot_group[$row ['CCY_ID']])) {
                      $arr_value_tot_group[$row ['CCY_ID']] += $systemBalance->getEffectiveBalance();
                    }else{
                      $arr_value_tot_group[$row ['CCY_ID']] = $systemBalance->getEffectiveBalance();
                    }
                    $arr_display_tot_group[$row ['CCY_ID']] = $row ['CCY_ID']." ". Application_Helper_General::displayMoney($arr_value_tot_group[$row ['CCY_ID']]);
                    $accountStatusModified = $systemBalance->getCoreAccountStatusDesc();

                    $model = new accountstatement_Model_Accountstatement();
                    if($systemBalance->getCoreProductType() != NULL && $systemBalance->getCoreProductType() != 'N/A'){

                      $product = $model->getProduct($systemBalance->getCoreProductType(),$systemBalance->getCoreProductType());
                      $product_name = $product['0']['PRODUCT_NAME'];
                    }else{

                      $product_name = 'N/A';
                    }

                    echo '<tr>
                      <td class="' . $td_css . '">' . $row ['ACCT_NO'] . '</td>
                      <td class="' . $td_css . '">' . $product_name . '</td>

                      <td class="' . $td_css . '">' . $row ['CCY_ID'] . '</td>

                      <td class="' . $td_css . '" align="right">'.Application_Helper_General::displayMoney($systemBalance->getEffectiveBalance()).'</td>
                      <td class="' . $td_css . '" align="right">'.Application_Helper_General::displayMoney($systemBalance->getEffectiveBalance()).'</td>';
                    echo '</tr>';
                  }
                }else{
                  echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
                }

                if($arr_display_tot_group)
                  $display_tot_group = implode("; ",$arr_display_tot_group);
                else
                  $display_tot_group = '';

              echo '</table>';
              $i++;
              $arr_value_tot_group =  array();
              $arr_display_tot_group =  array();
            }



          }
          else
          {
            echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
          }

        }
  ?>
                        <table width="100%">
                          <tr>
                            <td width="15px" style="background-color:#add8e6" ></th>
                            <td class="headerNew" colspan="6"> <b>External Account</b> </td>
                          </tr>
                        </table>
                        <table class="headerNew" class='tabel table-sm table-striped' width="100%">

                          <tr class="text-white" style="background-color:black;">
                            <th width="18%">Account</th>
                            <th width="20%">Prod Type</th>
                            <th width="10%">CCY</th>
                            <th width="20%">Amount</th>
                            <th width="10%">CCY</th>
                            <th width="20%">Equivalent</th>
                          </tr>
                          <?php if(count($this->deposit)>0){
                              $i = 0;

                              ?>
                            <?php
                              $externalassets = 0;
                              foreach($this->deposit as $row){
                                $equivalent = $row['EQUIVALEN'];
                                $equivalent = str_replace(',','',$equivalent);
                              $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
                              echo '<tr>';
                              echo '
                              <td class="'.$td_css.'">'.$row['ACCT_NO'].'</td>

                                  <td class="'.$td_css.'">'.$row['ACCT_PRODUCT_NAME'].'</td>
                                  <td class="'.$td_css.'">'.$row['CCY_ID'].'</td>
                                  <td class="'.$td_css.'" align="right">'.$row['AVAILABLE_BALANCE'].'</td>
                                  <td class="' . $td_css . '"> IDR </td>
                                             <td class="'.$td_css.'" align="right">'.number_format($equivalent ,0, '.','.') .'</td>';

                              echo '</tr>';
                              $externalassets += $equivalent;
                              $i++;
                            }

                            ?>
                          <?php }else
                        {
                          echo '<tr><td colspan=4 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
                        }?>

                          </table>
                          <br><br>
                          <div class="content-box">
                            <table class="" width="100%">
                                <tr>
                                  <td> <h6><strong>TOTAL ASSETS</strong> </td></h6>
                                  <td align="right">
                                    <h5>
                                      <span>IDR </span>
                                      <span></span>
                                      <strong>
                                        <?php
                                          $totalassets = $mainassets + $externalassets;
                                          $totalassets = number_format($totalassets,0,'.','.');
                                          echo $totalassets;
                                         ?>
                                       </strong>
                                    </h5>

                                  </td>
                                </tr>

                            </table>
                          </div>


      </div>

      <div class="col-md-5 pt-4" id="liabilities1" style="display:none" >
        <div class="content-box">

          <?php

          if(!empty($this->loan)){
                  $graphloan = '';
                  foreach($this->loan as $row){
          //             $percent = ($row['balance']/$totalpersonalidr)*;

                      $balance = str_replace(',','',$row['EQUIVALEN']);
                      $percent = ($balance/$this->totalloan)*100;
                      $graphloan .= "['".$row['ACCT_NO']."',".$percent."],";
                  }

          //      echo $graphloan;
              }

          ?>
        <div id="liabilitiesChart" class="img-fluid" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
      <div class="col-md-7 pt-4" id="liabilities2" style="display:none">
        <h5><?=$this->language->_('Loan (Equivalent in IDR)')?></h5>


                    <table width="100%">
                      <tr>
                        <td width="15px" style="background-color:#8b0000" ></th>
                        <td class="headerNew" colspan="6"> <b>Main Loan</b> </td>
                      </tr>
                    </table>
                      <table class="headerNew" class='table table-sm table-striped'>

                        <tr class="text-white" style="background-color:black;">

                          <th width="20%">Account</th>
                          <th width="20%">Prod Type</th>
                          <th width="10%">CCY</th>
                          <th width="20%">Amount</th>
                          <th width="10%">CCY</th>
                          <th width="20%">Equivalent</th>
                        </tr>
                        <?php

                        if(count($this->loan)>0){
                            $i = 0; ?>
                          <?php foreach($this->loan as $row){
                            $equivalent = $row['EQUIVALEN'];
                            $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
                            echo '<tr>';
                            echo '
                                <td class="'.$td_css.'">'.$row['ACCT_NO'].'</td>

                                <td class="'.$td_css.'">LOAN</td>
                                <td class="'.$td_css.'">'.$row['CCY_ID'].'</td>
                                <td class="'.$td_css.'" align="right">'.$row['OUTSTANDING'].'</td>
                                <td class="' . $td_css . '"> IDR </td>
                                          <td class="'.$td_css.'" align="right">'.number_format($equivalent,0,'.','.').'</td>';

                            echo '</tr>';

                            $i++;
                          }?>
                        <?php }else
                      {
                        echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
                      }?>
                        </table>


                        <table width="100%">
                          <tr>
                            <td width="15px" style="background-color:#ff3333" ></th>
                            <td class="headerNew" colspan="6"> <b>External Loan</b> </td>
                          </tr>
                        </table>
                      <table class="headerNew" class='table table-sm table-striped'>

                        <tr class="text-white" style="background-color:black;">

                          <th width="20%">Account</th>
                          <th width="20%">Prod Type</th>
                          <th width="10%">CCY</th>
                          <th width="20%">Amount</th>
                          <th width="10%">CCY</th>
                          <th width="20%">Equivalent</th>
                        </tr>
                        <tr align="center">
                          <td colspan="6">---No Data---</td>
                        </tr>
                        </table>



        <br><br>
        <div class="content-box">
          <table class="" width="100%">
              <tr>
                <td> <h6><strong>TOTAL LOAN</strong> </td></h6>
                <td align="right">
                  <h5>
                    <span>IDR (</span>
                    <strong>
                      <?php
                        $totalliabilities = $this->totalloan + 0;
                        $totalliabilities = number_format($totalliabilities,0,'.','.');
                        echo $totalliabilities;
                       ?>
                     </strong>
                     <span>)</span>
                  </h5>

                </td>
              </tr>

          </table>
        </div>
      </div>
</div>

<?php

  $mainy = ($mainassets/$totalassets) * 360;
  $externaly = ($externalassets/$totalassets) * 360;

?>
<?php
  $mainy = ($mainassets/$totalassets) * 360;
  $externaly = ($externalassets/$totalassets) * 360;
  $networth = $assets + $liabilities;
  $assetsy = ($assets/$networth) * 360;
  $liabilitiesy = ($liabilities/$networth) * 360;
  $liabilitiesmain = number_format($this->totalloan,0,'','');
  $liabiliitesexternal = 0;
  $liabilities = $liabilitiesmain+$liabilitiesexternal;
  $liabilitiesmainy = ($liabilitiesmain/$liabilities) * 360;
  $liabilitiesexternaly = ($liabilitiesexternal/$liabilities) * 360;




 ?>
<script>
window.onload = function() {
  CanvasJS.addColorSet("networthColor",
                 [//colorSet Array
                 "#6495ed",
                   "#e03c31",
                   "#2E8B57",
                   "#3CB371",
                   "#90EE90"
                 ]);
  var chart = new CanvasJS.Chart("chartContainer", {
    colorSet: "networthColor",
    animationEnabled: true,
    title:{
      text: "NET WORTH (IN IDR)"
    },
    data: [{
      type: "doughnut",
      startAngle: 40,
      //innerRadius: 60,
      indexLabelFontSize: 12,
      percentFormatString: "#0.##",
      indexLabel: "{label} - #percent%",
      toolTipContent: "<b>{label}:</b> {y} (#percent%)",
      dataPoints: [
        { y: 70, label: "ASSET" },
        { y: 30, label: "LOAN" },
		  

      ]
    }]
  });
  chart.render();
}
function assets()
  {
    CanvasJS.addColorSet("assetsColor",
                   [//colorSet Array
                   "#00008b",
                   "#007bff",
                   "#fd7e14",
                   "#007bff",
                   "#2e8b57",
                   "#dc3545",
                   "#90EE90"

                   ]);
    $('#networth1').hide();
    $('#networth2').hide();
    $('#liabilities1').hide();
    $('#liabilities2').hide();
    $('#assets1').show();
    $('#assets2').show();
    $('#btnnetworth').removeClass('aktif');
    $('#btnassets').addClass('aktif');
    $('#btnliabilities').removeClass('aktif');
    var chart1 = new CanvasJS.Chart("assetsChart", {
      colorSet: "assetsColor",
      animationEnabled: true,
      title:{
        text: "ASSETS (IN IDR)"
      },
      data: [{
        type: "doughnut",
        startAngle: 40,
        //innerRadius: 60,
        indexLabelFontSize: 12,
        percentFormatString: "#0.##",
        indexLabel: "{label} - #percent%",
        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
        dataPoints: [
          { y: 40, label: "MANDIRI" },
          { y: 15, label: "BRI" },
		  { y: 12, label: "BNI" },
		  { y: 8, label: "BCA" },
		  { y: 7, label: "PERMATA BANK" },
		  { y: 7, label: "SINARMAS" },
		  { y: 6, label: "CHASE BANK" },
        ]
      }]
    });
    chart1.render();
  }
  function networth()
  {
    CanvasJS.addColorSet("networthColor",
                   [//colorSet Array
                   "#6495ed",
                   "#e03c31",
                   "#2E8B57",
                   "#3CB371",
                   "#90EE90"
                   ]);
    $('#networth1').show();
    $('#networth2').show();
    $('#liabilities1').hide();
    $('#liabilities2').hide();
    $('#assets1').hide();
    $('#assets2').hide();
    $('#btnnetworth').addClass('aktif');
    $('#btnliabilities').removeClass('aktif');
    $('#btnassets').removeClass('aktif');
    var chart = new CanvasJS.Chart("chartContainer", {
      colorSet: "networthColor",
      animationEnabled: true,
      title:{
        text: "NET WORTH (IN IDR)"
      },
      data: [{
        type: "doughnut",
        startAngle: 40,
        //innerRadius: 60,
        indexLabelFontSize: 12,
        percentFormatString: "#0.##",
        indexLabel: "{label} - #percent%",
        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
        dataPoints: [
          { y: 70, label: "ASSET" },
          { y: 30, label: "LOAN" },
		  

        ]
      }]
    });
    chart.render();
  }
  function liabilities()
  {
    CanvasJS.addColorSet("liabilitiesColor",
                   [//colorSet Array
                   "#00008b",
                   "#007bff",
                   "#2e8b57",
                   "#3CB371",
                   "#90EE90"
                   ]);
    $('#networth1').hide();
    $('#networth2').hide();
    $('#liabilities1').show();
    $('#liabilities2').show();
    $('#assets1').hide();
    $('#assets2').hide();
    $('#btnnetworth').removeClass('aktif');
    $('#btnliabilities').addClass('aktif');
    $('#btnassets').removeClass('aktif');
    var chart2 = new CanvasJS.Chart("liabilitiesChart", {
      colorSet: "liabilitiesColor",
      animationEnabled: true,
      title:{
        text: "LOAN (IN IDR)"
      },
      data: [{
        type: "doughnut",
        startAngle: 40,
        //innerRadius: 60,
        indexLabelFontSize: 12,
        indexLabel: "{label} - #percent%",
        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
        dataPoints: [
          { y: 70, label: "MANDIRI" },
          { y: 20, label: "BRI" },
		  { y: 10, label: "PERMATA" },
        ]
      }]
    });
    chart2.render();
  }
  </script>
