<b>E-Commerce Payment &gt; <?php echo $this->language->_('Edit E-Commerce Payment');?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Edit E-Commerce Payment');?></div>
<?php
	$option = array('maxlength'=>20,
			  'class'=>'currency',
			  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
			  'onblur'=>'NumFrmtUS(this.value,this.id)',
			  'onkeypress'=>'return forceCurrency(event)');
?>

<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
<table border="0" cellspacing="0" cellpadding="0" class="tableform"width="40%">
	<tr>
		<th colspan="2">
			<?php echo $this->language->_('E-Commerce Payment Detail');?>
		</th>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; <?php echo $this->language->_('Service Type');?></td>
		<td class="tbl-oddcontent"><?php echo $this->language->_($this->providerData['PROVIDER_TYPE']);?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="100px">&nbsp; <?php echo $this->language->_('E-Commerce Code');?></td>
		<td class="tbl-oddcontent"><?php echo $this->providerData['PROVIDER_CODE'];?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; <?php echo $this->language->_('E-Commerce Name');?></td>
		<td class="tbl-oddcontent">
		<?php echo $this->formText('providerName',$this->providerData['PROVIDER_NAME']);?>
		<?php
			if(!empty($this->providerName_errMsg))
				echo "<div class='errmsg'>$this->providerName_errMsg</div>";
		?>
		</td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; <?php echo $this->language->_('Domain');?></td>
		<td class="tbl-oddcontent">
		<?php echo $this->formText('domainName',$this->providerData['PROVIDER_DOMAIN']);?>
		<?php
			if(!empty($this->domainName_errMsg))
				echo "<div class='errmsg'>$this->domainName_errMsg</div>";
		?>
		</td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; <?php echo $this->language->_('Key ID');?></td>
		<td class="tbl-oddcontent">
		<?php //echo $this->formText('keyId',$this->providerData['PROVIDER_KEY_ID']);?>
		<?php echo $this->formHidden('keyId',$this->providerData['PROVIDER_KEY_ID'],array('size'=>'40','class'=>'form-control input-large','readonly'=>'true'));?>
		<?php echo $this->providerData['PROVIDER_KEY_ID'];?>
		<?php
			if(!empty($this->keyId_errMsg))
				echo "<div class='errmsg'>$this->keyId_errMsg</div>";
		?>
		</td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; <?= $this->language->_('E-Commerce Status');?></td>
		<td class="tbl-oddcontent"><?php echo $this->language->_($this->providerData['PROVIDER_STATUS']);?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; <?php echo $this->language->_('Service Catagories');?></td>
		<td class="tbl-oddcontent"><?php echo $this->language->_($this->providerData['SERVICE_TYPE']);?></td>
	</tr>
</table>

<br />
<br />
<table width="60%">
<tr align="left"><td  align="left">

<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'billeronboard','controller'=>'detail','providerid'=>$this->providerIdd),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Back');?>">
&nbsp;
<?php
	if($this->changestatus)
	{ ?>
		<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>&nbsp;
		<br /><br />
		<?php
		echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
	}
	else
	{
		echo $this->formHidden('providerID',$this->providerID);
		echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn')).'&nbsp;';
	}?>

</td></tr>
</table>
</form>