<script>
	$( document ).ready(function(){
		//showHide(<?=$this->providerType?>);
	});
	function changeService(e)
	{
		$("#serviceType1").val('');
		$("#serviceType2").val('');
		showHide($(e+"option:selected").val())
	}
	function showHide(id)
	{
		$(".serviceType").hide();
		$("#serviceType1").hide();
		$("#serviceType2").hide();
		if( id==1 || id == 2)
		{
			$("#serviceType"+id).show();
			$(".serviceType").show();
		}
	}

	$("#providerType").children().remove('optgroup[label=1]');

	  var obj = document.getElementById("providerType");
	    var ogl=obj.getElementsByTagName('optgroup');
	    for (var i=ogl.length-1;i>=0;i--)
	      obj.removeChild(ogl[i])
</script>

<b><?php echo $this->language->_('Biller');?> &gt; <?php echo $this->language->_('Add E-Commerce Payment');?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Add E-Commerce Payment');?></div>
<?php
	$mandatory = ($this->confirmPage != 1)? "<strong class='errmsg'>&nbsp;*</strong>": "";
?>
<strong class='errmsg'><?php echo $this->language->_($this->ERROR_MSG_N);?>&nbsp;</strong>
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
<table border="0" cellspacing="0" cellpadding="0" class="tableform"width="40%">
	<tr>
		<th colspan="2">
			<?php echo $this->language->_('Add E-Commerce Payment');?>
		</th>
	</tr>
	<tr style="display:none">
		<td class="tbl-evencontent" width="40%"><?php echo $this->language->_('Service Type');?><?=$mandatory?></td>
		<td class="tbl-oddcontent">
		<?php echo $this->formSelect('providerType',$this->providerType,array('onChange'=>'changeService(this)'),$this->arrProviderType);?>
		<?php
			if(!empty($this->providerType_errMsg))
				echo "<div class='errmsg'>$this->providerType_errMsg</div>";
		?>
		</td>
	</tr>
	<tr class="serviceType">
		<td class="tbl-evencontent" width="100px"><?php echo $this->language->_('E-Commerce Code');?><?=$mandatory?></td>
		<td class="tbl-oddcontent">
		<?php echo $this->formText('providerCode',$this->providerCode);?>
		<?php
			if(!empty($this->providerCode_errMsg))
				echo "<div class='errmsg'>$this->providerCode_errMsg</div>";
		?>
		</td>
	</tr>
	<tr class="serviceType">
		<td class="tbl-evencontent"><?php echo $this->language->_('E-Commerce Name');?><?=$mandatory?></td>
		<td class="tbl-oddcontent">
		<?php echo $this->formText('providerName',$this->providerName,array('size'=>'40'));?>
		<?php
			if(!empty($this->providerName_errMsg))
				echo "<div class='errmsg'>$this->providerName_errMsg</div>";
		?>
		</td>
	</tr>
	<tr class="serviceType">
		<td class="tbl-evencontent"><?php echo $this->language->_('Domain');?><?=$mandatory?></td>
		<td class="tbl-oddcontent">
		<?php echo $this->formText('domainName',$this->domainName,array('size'=>'40','class'=>'form-control input-large'));?>
		<?php
			if(!empty($this->domainName_errMsg))
				echo "<div class='errmsg'>$this->domainName_errMsg</div>";
		?>
		</td>
	</tr>
	
	<tr class="serviceType">
		<td class="tbl-evencontent"><?php echo $this->language->_('Key ID');?><?=$mandatory?></td>
		<td class="tbl-oddcontent">
		<?php echo $this->formHidden('keyId',$this->keyId,array('size'=>'40','class'=>'form-control input-large','readonly'=>'true'));?>
		<b>
		<?php 
// 		$autogenerate = $this->language->_('auto generate');
		echo 'Autogenerated by system';
		?>
		</b>
		<?php
			if(!empty($this->keyId_errMsg))
				echo "<div class='errmsg'>$this->keyId_errMsg</div>";
		?>
		</td>
	</tr>	
	
	<?php //Zend_Debug::dump($this->arrServiceType);?>
	<tr class="serviceType" style="display:none">
		<td class="tbl-evencontent"><?php echo $this->language->_('Service Catagories');?><?=$mandatory?></td>
		<td class="tbl-oddcontent">
			<?php 
			//echo $this->formSelect('serviceType1',$this->serviceType1,null,array('--- Any Value---')+$this->arrServiceType);
			echo $this->formSelect('serviceType1',$this->serviceType1,null,$this->arrServiceType);
			?>
			<?php
				if(!empty($this->serviceType1_errMsg))
					echo "<div class='errmsg'>$this->serviceType1_errMsg</div>";
			?>
			<?php //echo $this->formSelect('serviceType2',$this->serviceType2,null,array('--- Any Value---')+$this->arrServiceType[2]);?>
			<?php
				//if(!empty($this->serviceType2_errMsg))
					//echo "<div class='errmsg'>$this->serviceType2_errMsg</div>";
			?>
		</td>
	</tr>
</table>

<br />
<br />
<table width="60%">
<tr align="left"><td  align="left">
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'billeronboard','controller'=>'index','action'=>'index'),null,true);?>'" class="inputbtn" value="Back">

<?php
	if($this->changestatus)
	{ ?>
		<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>&nbsp;
		<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>
		<br /><br />
		<?php 
		echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
	}
	else
	{
		echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn')).'&nbsp;';
		echo $this->formButton('reset', $this->language->_('Reset'), array('onclick' => "location.href='/billeronboard/new'", 'class' => 'inputbtn'));
	}?>

</td></tr>
</table>
</form>