

<script type="text/javascript">
$(document).ready(function(){

   $('#myModal').on('shown.bs.modal', function(){
      $('.blur').css({"filter":"blur(10px)" });
    }).on('hidden.bs.modal', function(){
      $('.blur').css({"filter":"" });
    })

    $('#myModalTips').on('shown.bs.modal', function(){
      $('.blur').css({"filter":"blur(10px)" });
    }).on('hidden.bs.modal', function(){
      $('.blur').css({"filter":"" });
    })
});

function checkspecial(val,id){
  var str = val;
  var substr = "SG";
  var result = str.includes(substr);
  if(result){
    var newstr = val.replace('SG','');
    $('#'+id).val(newstr);
  }

}

function removebox(val){
  
  if(val == 0){
    var tag = '#count2';
    var count = $(tag).val();
    var newcount = count-1;

  $(tag).val(newcount);
    var tag = '#count';
    var count = $(tag).val();
    var newcount = count-1;
  $(tag).val(newcount);
     //alert(count);
    //alert(newcount);
    
  }else{
    var tag = '#count2d'+val;
    var count = $(tag).val();
    var newcount = count-1;
    //alert(count);
    //alert(newcount);
    $(tag).val(newcount);
  }
  
    
  }

</script>

<!-- modal view -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="myModalLabel">Policy Detail</h4>
      </div>
      <div class="modal-body">

      <br>

      <table width="50%">
        <tr>
          <td class="tbl-evencontent"><strong>Customer Id</strong></td>
          <td class="tbl-evencontent"><strong>:</strong></td>
          <td class="tbl-evencontent"><strong><?php echo $this->cust_id ?></strong></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><strong>Customer Name</strong></td>
          <td class="tbl-evencontent"><strong>:</strong></td>
          <td class="tbl-evencontent"><strong><?php echo $this->cust_name ?></strong></td>
        </tr>
      </table>
        <br>
        <br>
        <table class="table table-sm">
        <tr>
            <th valign="top"><strong>Currency</strong></th>
            <th valign="top"><strong>Amount Range From</strong></th>
            <th></th>
            <th valign="top"><strong>Amount Range To</strong></th>
            <th valign="top"><strong>Policy</strong></th>
        </tr>
        <tr>
            <td>IDR</td>
            <td><input type="text" name="amount_range_from_0" value="0" style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;" readonly></td>
            <td align="center"><i style="font-size: 20px;" class="fas fa-arrow-right"></i></td>
           <td><input type="text" name="amount_range_to_0" value="10,000,000" style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;" readonly></td>
            <td><i class="fas fa-users" style="margin-right: 3%; color: grey; font-size: 20px;"> </i><input style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;" type="text" name="policy_group_0" placeholder="Group Policy" value="A / B" readonly></td>
        </tr>
        <tr>
            <td>IDR</td>
            <td><input type="text" name="amount_range_from_1" value="10,000,001" style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;" readonly></td>
            <td align="center"><i style="font-size: 20px;" class="fas fa-arrow-right"></i></td>
             <td><input type="text" name="amount_range_to_1" value="50,000,000" style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;" readonly></td>
            <td><i class="fas fa-users" style="margin-right: 3%; color: grey; font-size: 20px;"> </i><input style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;" type="text" name="policy_group_0" placeholder="Group Policy" value="(B + B) / C " readonly></td>
        </tr>
        <tr>
            <td>IDR</td>
            <td><input type="text" name="amount_range_from_2" value="50,000,001" style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;" readonly></td>
            <td align="center"><i style="font-size: 20px;" class="fas fa-arrow-right"></i></td>
            <td><input type="text" name="amount_range_to_2" value="100,000,000" style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;" readonly></td>
            <td><i class="fas fa-users" style="margin-right: 3%; color: grey; font-size: 20px;"> </i><input style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;" type="text" name="policy_group_0" placeholder="Group Policy" value="( A + A ) / ( B + B ) then C / SG " readonly></td>
        </tr>
     </table>
     <br>
     <div class="container" style="border-style: solid; border-color: black;">
         <h6><strong>Groups and Users Id involved:</strong></h6>
         <br>
         <table>
             <tr>
                 <th width="10%"><strong>SG</strong>(Special Group)</th>
                 <th width="10%"><strong>A</strong> (Group 1)</th>
                 <th width="10%"><strong>B</strong> (Group 2)</th>
             </tr>
             <tr>
                <td>
                    <p style="width: 100px; background-color: #006520; border-radius: 16px; color: white; text-align: center;">Direktur 01</p>
                </td>
                <td>
                    <p style="margin-bottom: 5px; width: 100px; background-color: #006520; border-radius: 16px; color: white; text-align: center;">Approver 01</p>
                    <p style="width: 100px; background-color: #006520; border-radius: 16px; color: white; text-align: center;">Approver 02</p>
                </td>
                 <td>
                    <p style="width: 100px; background-color: #006520; border-radius: 16px; color: white; text-align: center;">Marker 01</p>
                </td>
             </tr>
         </table>
     </div>
     <br>
     <button style="float: left;" class="btngreen hov"><i class="fas fa-print" style="margin-right: 5px;"></i>Print</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Tips -->
<div class="modal fade" id="myModalTips" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title" id="myModalLabel">How to</h4>
      </div>
      <div class="modal-body">
      <br>

      <h5 class="greyfont"><u>Available Formula : </u></h5>
      <h5><strong>and</strong> - <strong>or</strong> - <strong>then</strong> - use <strong>()</strong> for priority</h5>
      <br>
      <h5 class="greyfont"><u>For Example : </u></h5>
      <table width="90%" align="center" border="0">
        <tr>
          <td><i class="fas fa-chevron-right"></i></td>
          <td><strong>(</strong> A <strong>and</strong> A <strong>) or </strong>B <strong>then</strong> C</td>
        </tr>
        <tr>
          <td></td>
          <td><i class="greyFont">means:</i> (2 user grup A) <strong style="color: blue;">or</strong> (1 user group B) <strong style="color: blue;">then</strong> (1 user group C)</td>
        </tr>
        <tr>
          <!-- space -->
        </tr>
        <tr>
          <td><i class="fas fa-chevron-right"></i></td>
          <td>A <strong>and ((</strong> B <strong> and </strong> B <strong> ) or </strong> C <strong>) then</strong> D</td>
        </tr>
        <tr>
          <td></td>
          <td><i class="greyFont">means:</i> (1 user grup A) <strong style="color: blue;">and</strong> (2 user group B <strong style="color: blue;">or</strong> 1 user group C) <strong style="color: blue;">then</strong> (1 user group D)</td>
        </tr>


      </table>
         <!-- <table class="table table-sm" style="background-color: white;" border="1px">
            <tr>
                <th style="text-align: center;">Symbol</th>
                <th style="text-align: center;">Mean</th>
                <th style="text-align: center;">Example</th> 
            </tr>
            <tr>
                <td><strong>+</strong></td>
                <td>and</td>
                <td>A + B  GROUP A AND GROUP B</td>
            </tr>
            <tr>
                <td><strong>/</strong></td>
                <td>or</td>
                <td>A / B  =GROUP A OR GROUP B</td>
            </tr>
            <tr>
                <td><strong>then</strong></td>
                <td>then</td>
                <td>A + B / A + C then SG  = GROUP A AND GROUP B OR GROUP A AND
                    GROUP C THEN SPECIAL GROUP</td>
            </tr>
            <tr>
                <td><strong>()</strong></td>
                <td>priority(first approver before anothers)</td>
                <td>( A+A+A ) OR ( B+B ) THEN C = First approver must group's priority</td>
            </tr>
        </table> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="blur">

<?php $expand =$this->language->_('Expand');?>
<?php $hide =$this->language->_('Hide');?>

  <div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Customer Management'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Customer Setup'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
          <?php if(!empty($this->curlist)){ ?>
                      <span class="valas" ><?php echo $this->language->_('Edit Submission Approval Matrix'); ?></span>
            <?php }else{ ?>
             <span class="valas" ><?php echo $this->language->_('New Submission Approval Matrix'); ?></span>
            <?php } ?>
                
                  </li>
              </ul>
          </div>
        </div>
</div>

<h5><?=$this->language->_('Submission Approval Matrix')?></h5>
<h6 class="greyFont"><?=$this->language->_('Manage Group, User, Policy, And Approval Schema')?></h6>

<?php
    $buttonGroup = $this->url(array('module'=>$this->modulename,'controller'=>'newapprovalgroup','action'=>'index','cust_id'=>$this->enccust_id),null,true);
    $buttonPolicy = $this->url(array('module'=>$this->modulename,'controller'=>'newapprovalpolicy','action'=>'index','cust_id'=>$this->enccust_id),null,true);
?>


<?php if ($this->error) { ?>
          <div class="alert alert-danger"><?php echo $this->language->_($this->error_msg); ?></div>

<?php } ?>

<?php if ($this->error2) { ?>
          <div class="alert alert-danger"><?php echo $this->language->_($this->error_msg2); ?></div>

<?php } ?>


<?php if ($this->error) { ?>
<div style="padding: 20px 0px;" class="container">
      <div   class="row">
        <div style="text-align:center; padding: 0;" class="col-sm-6">
            <button style="width: 50%; float: right;" type="button" class="btnwhite hov" onclick="grouplink()" ><?php echo $this->language->_('Group')?></button>
          </div>
          <div style="text-align:center; padding: 0;" class="col-sm-6">
            <button style="width: 50%; float: left;" type="button" class="btngreen hov" disabled><?php echo $this->language->_('Policy')?></button>
          </div>

      </div>
  </div>
<?php }else{
?>
 <div style="padding: 20px 0px;" class="container">
      <div   class="row">
        <div style="text-align:center; padding: 0;" class="col-sm-6">
            <button style="width: 50%; float: right;" type="button" class="btnwhite hov" onclick="grouplink()" ><?php echo $this->language->_('Group')?></button>
          </div>
          <div style="text-align:center; padding: 0;" class="col-sm-6">
            <button style="width: 50%; float: left;" type="button" class="btngreen hov" onclick="location.href='<?php echo $buttonPolicy; ?>'"  disabled><?php echo $this->language->_('Policy')?></button>
          </div>

      </div>
  </div>

<?php
} ?>



<div style="padding: 20px 0px;" class="container">
    <div class="row">
        <div style="text-align:center; padding: 0;" class="col-sm-12">
            <h6><?=$this->language->_('Manage Approver Policy')?></h6>
        </div>
    </div>
</div>

<hr width="90%">
<br>

<!-- if no policy applied -->
<?php if(empty($this->curlist)){ ?>
<div align="center" id="nonetab">
    <h7>No Policy Applied</h7>
    <br>
    <h7 class="greyFont">Click Add new button to start create new policy</h7>
    <br>
    <br>
   <button onclick="addnew()" type="button" class="btngreen hov"><i class="fa fa-plus"></i>&nbsp;<?php echo $this->language->_('Add New')?></button>
</div>
<?php } ?>

<!-- tab isi policy & ccy -->
<form id="regForm" name="Form" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'newapprovalpolicy','action'=>'index','cust_id'=>$this->enccust_id),null,true)?>">
<div id="newtab" style="display: none;">
    <div align="center">
        <h7>Create New Policy</h7>
    </div>
    <br>
    <br>
    <table width="50%" align="center" class="tableform">
        <tr>
            <td align="center" class="tbl-evencontent"><?php echo $this->formLabel('policy_type',$this->language->_('Policy Type')); ?>&nbsp;<span class="errmsg">*</span></td>
            <td class="tbl-evencontent" colspan="6">
                <select class='form-control' id='policytype' name='policy_type[]'>
                  <option value=''>-- Please Select --</option>
                  <?php 
                    foreach ($this->arrTraType as $key => $value) {
                      echo '<option value="'.$key.'">'.$value.'</option>';
                    }
                  ?>
                </select>
                <!-- <?php
                    echo $this->formSelect('policy_type[]',$this->policy_type,array('class' => 'form-control', 'id' => 'policytype'),$this->arrTraType);
                ?>  -->
               <div id="error_policy_type" class="errmsg"></div>
            </td>
        </tr>
         <tr>
            <td align="center" class="tbl-evencontent"><?php echo $this->formLabel('currency',$this->language->_('Currency')); ?>&nbsp;<span class="errmsg">*</span></td>
            <td class="tbl-evencontent" colspan="6">
              <select class='form-control' id='currency' name='ccy[]' ></select>
              <script type="text/javascript">
                $(document).ready(function()
                  {
                    var currency = "#currency";
                    $.ajax({
                    url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'whereccy'),null,true)?>",
                    type: 'GET',
                    dataType: "html",
                    data: {
                        // id: id
                    },
                    success: function(data) {
                        $(currency).html(data);
                    },
                    error: function(xhr, ajaxOptions, thrownError)
                    {
                        alert("Failed to get where column list, please try again");
                    }
                });

                  });
              </script>
                  <?php
                    // echo $this->formSelect('ccy[]',$this->ccy,array('class' => 'form-control','id' => 'ccy'),$this->arrccy);
                ?>
            </td>
        </tr>
    </table>

    <br>
    <br>

    <div align="center">
        <button onclick="save()" type="button" class="btngreen hov"><i class="fa fa-save"></i>&nbsp;<?php echo $this->language->_('Save')?></button>
    </div>
      <!-- hidden cust name select -->
      <?php
          echo $this->formSelect('cust_name',$this->cust_name,array('class' => 'form-control', 'id' => 'cust_name','style' => 'visibility: hidden;'),$this->arrcustname);
      ?>
</div>

<!-- tab setelah isi cust_id, policy & ccy -->

<?php if(empty($this->curlist)){ ?>


<div id="newtab2" style="display: none;">
 
    <table width="100%" border='0'  class="table table-sm table-striped tablehead">
   <tr>
      <td>  


       <strong id="newtab2title" style="color: #FFFFFF; font-size: 15pt;"><span id="policytitle"></span></strong></td>
      <td align="right" style="padding-top: 10px;">

       
       <i class="far fa-trash-alt" style="font-size: 20px; cursor: pointer; margin-right: 5%;color: white" onclick="deletetable('tab');"></i>

        <i style="font-size: 23px; cursor: pointer;color: white" class="fas fa-angle-down" onclick="newtab2_show()" id="buttonnewtab2"></i>
        <i style="font-size: 23px; cursor: pointer;display: none;color: white" class="fas fa-angle-up" onclick="newtab2_hide()" id="buttonnewtab2c"></i>
       
      </td>
   </tr>
</table>
</div>


 <div id="newtab3" style="display: none;">

<input type="number" id="count" value="0" style="visibility: hidden;">
<input type="number" id="count2" value="1" style="visibility: hidden;">

   <div class="table-responsive">

   <!--  table isi currency, amount range, & Policy -->
    <table id="grouptable" class="table table-sm">
        <tr>
            <th valign="top" class="custom-link"><strong>Currency</strong></th>
            <th valign="top" class="custom-link boundaryElement"><strong>Amount Range From</strong></th>
            <th class="boundaryElement"></th>
            <th valign="top" class="custom-link boundaryElement"><strong>Amount Range To</strong></th>
            <th valign="top" class="custom-link"><strong>Policy </strong><i class="fas fa-lightbulb" style="color: #ffa720; cursor: pointer;" data-toggle="modal" data-target="#myModalTips"></i></th>
            <th valign="top" class="custom-link"><strong>Action</strong></th>
        </tr>
        <tr>
            <td id="ccy"><span id="ccy1"></span></td>
            <input type="hidden" id="ccyFirst" name="ccy[]">
            <td class="boundaryElement"><input type="text" id="amount_from0" name="amount_from[]" onfocus="iNumFrmt(this.value,this.id)" onblur="NumFrmt(this.value,this.id);" onkeypress="return forceCurrencyOCBC(event);" required='required' placeholder="0.00" style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;" <?php if ($this->error || $this->error2){ ?> disabled <?php } ?> oninput="this.value = this.value.toUpperCase()"></td>
            <td align="center" class="boundaryElement"><i style="font-size: 20px;" class="fas fa-arrow-right"></i></td>
            <td class="boundaryElement"><input type="text" id="amount_to0" name="amount_to[]" onfocus="iNumFrmt(this.value,this.id)" onblur="NumFrmt(this.value,this.id);" onkeypress="return forceCurrencyOCBC(event);" required='required' placeholder="0.00" style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;" <?php if ($this->error || $this->error2){ ?> disabled <?php } ?> oninput="this.value = this.value.toUpperCase()"></td>
            <td><i class="fas fa-users" style="margin-right: 3%; color: grey; font-size: 20px;"> </i><input style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;" type="text" id="policy_group0" name="policy_group[]" required='required' placeholder="Group Policy" <?php if ($this->error || $this->error2){ ?> disabled <?php } ?> oninput="this.value = this.value.toUpperCase();checkspecial(this.value,this.id);"></td>
            <td>
        <button <?php if ($this->error || $this->error2){ echo 'style="display:none !important;"'; } ?> type="button" class="btn btn-sm btn-danger btnremove" id="btnremove" onclick="removebox(0)"><i class="fa fa-times"></i></button>
        <script type="text/javascript">
                $(document).ready(function(){
                  $("#policy_group0").on('keyup change', function (e) {
                      $(this).val($(this).val().toUpperCase());
                  });
                  $("table").on('click', '.btnremove', function() {
                   $(this).closest("tr").remove();
                  });
                });
                </script>
      </td>
      
        </tr>
    
    </table>
  
    <div align="right" id="addtab" style="display: none">
        <button id="btnsave" onclick="hidesave()" type="button" class="btngreen hov"><i class="fa fa-save"></i>&nbsp;<?php echo $this->language->_('Save')?></button>

        <!-- <button onclick="addnew2()" type="button" class="btngreen hov"><i class="fa fa-plus"></i>&nbsp;<?php echo $this->language->_('Add New')?></button> -->
        <a href="javascript:void(0)" class="boundaryElement" onclick="return addnew2()" >&nbsp;<?php echo $this->language->_('Add New')?></a>
    </div>


    


    <!-- table available group & user -->
   


    </div>



    </div>

  <?php }else{ ?>

         <?php
      // print_r($this->suglistccy);die;
         // print_r($this->curlistccy);die;
       if(!empty($this->curlistccy))
    { 

    ?>

    <input type="hidden" id="alreadyExist" value='<?php echo json_encode($this->curlistccy);?>' />

    <?php foreach ($this->curlistccy as $key => $value) {
        // print_r($value);
     ?>   
<input type="number" id="countd" value="0" style="visibility: hidden;">
<input type="number" id="count2d" value="1" style="visibility: hidden;">

     <script type="text/javascript">
             function snewtab<?php echo $key;?>_hide()
              {
                  // $('#newtab3').show();
                  //$('#buttonAppGroup').val('Hide');
                  // $('#buttonnewtab2').attr('Onclick','newtab2_hide()');
                  $('#stabtable<?php echo $key;?>').hide();
                  $('#sbuttonnewtab<?php echo $key;?>').show();
                  $('#addtab<?php echo $key;?>').hide();
                  $('#sbuttonnewtabup<?php echo $key;?>c').hide();
              }
               function snewtab<?php echo $key;?>_show()
              {
                  // $('#newtab3').show();
                  //$('#buttonAppGroup').val('Hide');
                  // $('#buttonnewtab2').attr('Onclick','newtab2_hide()');
                  $('#stabtable<?php echo $key;?>').show();
                  $('#sbuttonnewtab<?php echo $key;?>').hide();
                  $('#addtab<?php echo $key;?>').show();
                  $('#sbuttonnewtabup<?php echo $key;?>c').show();
              }
          </script>
          <?php
              if(empty($value['CCY_BOUNDARY'])){
                $value['CCY_BOUNDARY'] = 'IDR';
              }
          ?>
          <input type="hidden" id="ccy<?php echo $key; ?>" name="ccy[]" value="<?php echo $value['CCY_BOUNDARY'] ?>">
          <input type="hidden" id="policy_type<?php echo $key; ?>" name="policy_type[]" value="<?php echo $value['TRANSFER_TYPE'] ?>">
      <table width="100%" border='0'  class="table table-sm table-striped tablehead" id="stablehead<?php echo $key;?>">
         <tr>
            <td> <strong id="newtab2title" style="color: #007934; font-size: 15pt;color: white"><?php echo $this->paymenttype[$value['TRANSFER_TYPE']].'-'.$value['CCY_BOUNDARY'] ?></strong></td>
            <td align="right" style="padding-top: 10px;">
              <!-- <i class="fas fa-search" style="font-size: 20px; cursor: pointer; margin-right: 5%;color: white" data-toggle="modal" data-target="#myModal"></i> -->
              <i <?php if ($this->error || $this->error2){ echo 'style="display:none !important;"'; } ?> class="far fa-trash-alt" style="font-size: 20px; cursor: pointer; margin-right: 5%;color: white" onclick="deletetable(<?php echo $key;?>);"></i>
              <i style="font-size: 23px; cursor: pointer;color: white" class="fas fa-angle-down" onclick="snewtab<?php echo $key;?>_show()" id="sbuttonnewtab<?php echo $key;?>"></i>
              <i style="font-size: 23px; cursor: pointer;display: none;color: white" class="fas fa-angle-up" onclick="snewtab<?php echo $key;?>_hide()" id="sbuttonnewtabup<?php echo $key;?>c"></i>
             
            </td>
         </tr> 
      </table>

      

       <table class="table table-sm table-striped" id="stabtable<?php echo $key;?>" style="display: none">
        <?php 
        $arrsweep = array(19,20,23);
                if(in_array($value['TRANSFER_TYPE'], $arrsweep)){
                  ?>
                  <tr>
                      <th valign="top" class="custom-link"><strong>Currency</strong></th>
                      <th valign="top" style="color: #007934;display: none"><strong>Amount Range From</strong></th>
                      <th style="display: none"></th>
                      <th valign="top" style="color: #007934;display: none"><strong>Amount Range To</strong></th>
                      <th valign="top" class="custom-link"><strong>Policy </strong><i class="fas fa-lightbulb" style="color: #ffa720; cursor: pointer;" data-toggle="modal" data-target="#myModalTips"></i></th>
                      <th valign="top" class="custom-link"><strong>Action</strong></th>
                  </tr>

                  <?php
                }else{
                  ?>
                    <tr>
                        <th valign="top" class="custom-link"><strong>Currency</strong></th>
                        <th valign="top" class="custom-link"><strong>Amount Range From</strong></th>
                        <th></th>
                        <th valign="top" class="custom-link"><strong>Amount Range To</strong></th>
                        <th valign="top" class="custom-link"><strong>Policy </strong><i class="fas fa-lightbulb" style="color: #ffa720; cursor: pointer;" data-toggle="modal" data-target="#myModalTips"></i></th>
                        <th valign="top" class="custom-link"><strong>Action</strong></th>
                    </tr>

                  <?php
                }

        ?>
        
      <?php
      // print_r($this->curlist);die;
          if(!empty($this->curlist))
          {
            $i = 1;
            $total = 0;
      //echo '<pre>';
      //var_dump($this->curlist);die;
            foreach($this->curlist as $curlist )
            {
              $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
              $specialid = 'sug'.'special'.$i;
              // print_r($value);
              // print_r($curlist);
              if($curlist['CCY_BOUNDARY'] == $value['CCY_BOUNDARY'] && $curlist['TRANSFER_TYPE'] == $value['TRANSFER_TYPE'] ){
                $arrsweep = array(19,20,23);
                if(in_array($value['TRANSFER_TYPE'], $arrsweep)){
          var_dump
                  ?>
              <tr>



                <td class="<?php echo $td_css;?>"><?php echo $curlist['CCY_BOUNDARY']; ?></td>

                <td style="display: none"><input type="text" id="amount_from<?php echo $key.$total; ?>" name="amount_from<?php echo $key; ?>[]" onfocus="iNumFrmt(this.value,this.id)" onblur="NumFrmt(this.value,this.id);" onkeypress="return forceCurrencyOCBC(event);"  placeholder="0.00" style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;" value="<?php echo Application_Helper_General::displayMoney($curlist['BOUNDARY_MIN']); ?>" oninput="this.value = this.value.toUpperCase()"></td>
                
                <td align="center" style="display: none"><i style="font-size: 20px;" class="fas fa-arrow-right"></i></td>
                
                <td style="display: none"><input type="text" id="amount_to<?php echo $key.$total; ?>0" name="amount_to<?php echo $key; ?>[]" onfocus="iNumFrmt(this.value,this.id)" onblur="NumFrmt(this.value,this.id);" onkeypress="return forceCurrencyOCBC(event);" placeholder="0.00" style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;" value="<?php echo Application_Helper_General::displayMoney($curlist['BOUNDARY_MAX']); ?>" oninput="this.value = this.value.toUpperCase()"></td>
                
                <td><i class="fas fa-users" style="margin-right: 3%; color: grey; font-size: 20px;"> </i><input style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;" type="text" id="policy_group<?php echo $key.$total; ?>" name="policy_group<?php echo $key; ?>[]" required='required' value="<?php echo $curlist['POLICY']; ?>" id="policy<?php echo $curlist['CCY_BOUNDARY'].''.$numb ?>" placeholder="Group Policy" <?php if ($this->error || $this->error2){ ?> disabled <?php } ?> oninput="this.value = this.value.toUpperCase();checkspecial(this.value,this.id);"></td>
                <td>
                  <button <?php if ($this->error || $this->error2){ echo 'style="display:none !important;"'; } ?> type="button" class="btn btn-sm btn-danger btnremove" id="btnremove" onclick="removebox(<?php echo $key; ?>)" ><i class="fa fa-times"></i></button>
                   <script type="text/javascript">
                    $(document).ready(function(){
                      $("#policy<?php echo $curlist['CCY_BOUNDARY'].''.$numb ?>").on('keyup change', function (e) {
                          $(this).val($(this).val().toUpperCase());
                      });
                      $("table").on('click', '.btnremove', function() {
                       $(this).closest("tr").remove();
                      });
                    });
                    </script>
                </td>
              </tr>

                  <?php
                   $total++;
                }else{
            ?>
          <tr>



            <td class="<?php echo $td_css;?>"><?php echo $curlist['CCY_BOUNDARY']; ?></td>

            <td><input type="text" id="amount_from<?php echo $key.$total; ?>" name="amount_from<?php echo $key; ?>[]" onfocus="iNumFrmt(this.value,this.id)" onblur="NumFrmt(this.value,this.id);" onkeypress="return forceCurrencyOCBC(event);" required='required' placeholder="0.00" style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;" value="<?php echo Application_Helper_General::displayMoney($curlist['BOUNDARY_MIN']); ?>" <?php if ($this->error || $this->error2){ ?> disabled <?php } ?> oninput="this.value = this.value.toUpperCase()"></td>
            
            <td align="center"><i style="font-size: 20px;" class="fas fa-arrow-right"></i></td>
            
            <td><input type="text" id="amount_to<?php echo $key.$total; ?>" name="amount_to<?php echo $key; ?>[]" onfocus="iNumFrmt(this.value,this.id)" onblur="NumFrmt(this.value,this.id);" onkeypress="return forceCurrencyOCBC(event);" required='required' placeholder="0.00" style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;" value="<?php echo Application_Helper_General::displayMoney($curlist['BOUNDARY_MAX']); ?>" <?php if ($this->error || $this->error2){ ?> disabled <?php } ?> oninput="this.value = this.value.toUpperCase()"></td>
            
            <td><i class="fas fa-users" style="margin-right: 3%; color: grey; font-size: 20px;"> </i><input style="border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;" type="text" id="policy_group<?php echo $key.$total; ?>" name="policy_group<?php echo $key; ?>[]" required='required' value="<?php echo $curlist['POLICY']; ?>" id="policy<?php echo $curlist['CCY_BOUNDARY'].''.$numb ?>" placeholder="Group Policy" <?php if ($this->error || $this->error2){ ?> disabled <?php } ?> oninput="this.value = this.value.toUpperCase();checkspecial(this.value,this.id);"></td>
            <td>
              <button <?php if ($this->error || $this->error2){ echo 'style="display:none !important;"'; } ?> type="button" class="btn btn-sm btn-danger btnremove" id="btnremove" onclick="removebox(<?php echo $key; ?>)"><i class="fa fa-times"></i></button>
               <script type="text/javascript">
                $(document).ready(function(){
                  $("#policy<?php echo $curlist['CCY_BOUNDARY'].''.$numb ?>").on('keyup change', function (e) {
                      $(this).val($(this).val().toUpperCase());
                  });
                  $("table").on('click', '.btnremove', function() {
                   $(this).closest("tr").remove();
                  });
                });
                </script>
            </td>
          </tr>

        <?php
            $total++;
            }
          }
         }
        }
        // print_r($total);die; 
        ?>
     
      </table>
       <?php  $arrsweep = array(19,20,23); if(!in_array($value['TRANSFER_TYPE'], $arrsweep)){ ?>
      <div align="right" id="addtab<?php echo $key?>" style="display: none">
              
                <?php

                  // $count = count($this->curlist);
                  // print_r($count);die;
                  // if(empty($total)){
                  //   $total = '-1';
                  // }else{
                  //   $total = $total-2;
                  // }
                  // echo $total;
                  ?>
              <input type="number" id="countd<?php echo $key?>" value="<?php echo $total ?>" style="visibility:hidden; ;">
              <?php
                // $count = $total;
                // // print_r($count);die;
                // if(empty($count)){
                //   $total = '1';
                // }else{
                //   $total = $count;
                // }
                ?>
             <input type="number" id="count2d<?php echo $key?>" value="<?php echo $total ?>" style="visibility:hidden; ;">
<!--               <button id="btnsave" onclick="hidesave()" type="button" class="btngreen hov"><i class="fa fa-save"></i>&nbsp;<?php echo $this->language->_('Save')?></button>
 -->
              <a href="javascript:void(0)" <?php if ($this->error || $this->error2){ echo 'style="display:none !important;"'; } ?> onclick="return addindex(<?php echo $key?>,'<?php echo $value['CCY_BOUNDARY']?>')" >&nbsp;<?php echo $this->language->_('Add New')?></a>
          </div>
      <?php } ?>

     <?
      }
      ?>

     
<?php 
      }

  ?>
  <?php //echo $key; ?>
 <!-- <button onclick='addnewpolstable(<?php echo $key; ?>)' type='button' class='btngreen hov'><i class='fa fa-plus'></i>&nbsp;Add New</button>
  <button onclick="addnew2()" type="button" class="btngreen hov"><i class="fa fa-plus"></i>&nbsp;<?php echo $this->language->_('Add New')?></button> -->
    <?php } ?>
    <div id="newtabpolicy">
      
    </div>

    <div id="newpolicy">
      
    </div>
    <br/>
    <div id="avagroup">
       <h6><strong>Available Group & User </strong></h6>

    <table class="table table-sm">
        <tr>
            <th class="tablehead" valign="top">Group ID</th>
            <th class="tablehead" valign="top">Group Name</th>
            <th class="tablehead" valign="top">Username</th>
        </tr>
        <?php
            echo '<tr><td>SG</td><td>'.$this->content['sg_name'].'</td>';
            echo '<td>'.$this->content['sg_user'].'</td></tr>';
            // echo '<pre>';
            // print_r($this->content);die;
        if($this->content['g_id']){
          foreach ($this->content['g_id'] as $key => $value) {
            // $spesial = 'S_'.$this->cust_id;
            // if($value['GROUP_USER_ID']==$special){
              ?>
              <tr>
                <td><?php echo $value; ?></td>
                <td><?php echo $this->content['g_list'][$key]; ?></td>
                <td><?php echo $this->content['g_user'][$key]; ?></td>
              </tr>
              <?php
            // }
          }
        }
        ?>
    </table>

    </div>
<br> 
<?php 
if(!empty($this->curlist))
          {
?>
<button <?php if ($this->error || $this->error2){ echo 'style="display:none !important;"'; } ?> id="btnnewpolicy" style="float: right; " type="button" class="btngreen hov" onclick="newpolicy();"><i class="fa fa-plus"></i>&nbsp;<?php echo $this->language->_('Add New')?></button>
<?php }else{ ?>
  <button <?php if ($this->error || $this->error2){ echo 'style="display:none !important;"'; } ?> id="btnnewpolicy" style="float: right; display: none;" type="button" class="btngreen hov" onclick="newpolicy();"><i class="fa fa-plus"></i>&nbsp;<?php echo $this->language->_('Add New')?></button>
<?php
}
 echo $this->formHidden('policyindex',count($this->curlistccy),array('id'=>'policyindex'));
 ?>
<!-- <button id="btnsubmitpolicy" style="float: right; display: none;" type="button" class="btngreen hov" onclick=""><i class="fa fa-save"></i>&nbsp;<?php echo $this->language->_('Submit')?></button> -->
<!-- <?php if (!$this->error) { ?> -->
<input type="hidden" name="submit" value="submit">
<?php //echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov','onclick'=>'savebtn();')); ?>&nbsp;
 <button <?php if ($this->error || $this->error2){ echo 'style="display:none !important;"'; } ?> id="submits" name="submits" type="button" class="btngreen hov" onclick="savebtn();"><?php echo $this->language->_('Submit')?></button>
<!-- <?php } ?> -->
</form>


<script>

  function removenewpolicy(val){
      $('#tab_pol'+val).remove();
      var polint = $("#policyindex").val();
      var newpolicyindex = polint-1;
      $("#policyindex").val(newpolicyindex);
      $('#btnnewpolicy').prop('disabled', false);
    
  }

  function deletetable(val){
    // alert(val);
  
  if(val == 'tab'){
  $('#newtab2').remove();
    $('#newtab3').remove();
    
  }else{
    $('#stabtable'+val).remove();
    $('#stablehead'+val).remove();
    $('#addtab'+val).remove();
  $('#newpolicy'+val).remove();
    $('#grouptable'+val).remove();
  $('#addbutton'+val).remove();
  
  var currentData = JSON.parse($('#alreadyExist').val());
  //console.log(currentData);
  var ccy = $('#ccy'+val).val();
  var policytypeval = $('#policy_type'+val).val();
  
  if(!ccy){
  var curr =  "currency-"+val; 
  var pol =  "policy_type-"+val; 
  var i = document.getElementById(pol).selectedIndex;
  var policytypeval = document.getElementById(pol).options[i].value;
  var ccy = document.getElementById(curr).value;
  }
  //alert(ccy);
  //alert(policytypeval);
  $.each(currentData, function( index, value ) {
    var dataCcy = value.CCY_BOUNDARY;
     var trfType = value.TRANSFER_TYPE;
  //console.log(dataCcy);
  //console.log(trfType);
       if (ccy == dataCcy && policytypeval == trfType) {
       //console.log(index);
       delete currentData[index];
     }
  });
      
      currentData = currentData.filter(function(x){return x !== null});
    //console.log(currentData);
  var currentData = JSON.stringify(currentData);   
  $('#alreadyExist').val(currentData);
   
  }
       // }
  //});
    // $(this).closest("table").remove();
  }


    function newpolicy(){
      var ctr = $("#policyindex").val();
        
        var wherecol = "#policy_type-"+ctr;
        var currency = "#currency-"+ctr;
        $("#newpolicy").append("<div id='tab_pol"+ctr+"'><table width='50%' align='center' class='tableform'><tr><td align='center' class='tbl-evencontent'>Policy Type&nbsp;<span class='errmsg'>*</span></td><td class='tbl-evencontent' colspan='6'><select class='form-control' id='policy_type-"+ctr+"' name='policy_type[]' onchange='setpaymentType(this,"+ctr+")' ><option value=''>-- Please Select --</option></select></td></tr><tr><td align='center' class='tbl-evencontent'>Currency&nbsp;<span class='errmsg'>*</span></td><td class='tbl-evencontent' colspan='6'><select class='form-control' id='currency-"+ctr+"' name='ccy[]' ><option value=''>-- Please Select --</option></select></td></tr></table><br/><div align='center'><button onclick='removenewpolicy("+ctr+")' type='button' style='display:none' class='btnwhite hov'>Cancel</button> &nbsp;<button onclick='addpolicy("+ctr+")' type='button' class='btngreen hov'><i class='fa fa-save'></i>&nbsp;Add</button></div></div>");

           $.ajax({
            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'whereccy'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                // id: id
            },
            success: function(data) {
                $(currency).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

           $.ajax({
            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wheretype'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                // id: id
            },
            success: function(data) {
                $(wherecol).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });
        
        ctr++;
        $("#policyindex").val(ctr);

        $('#btnnewpolicy').prop('disabled', true);
    }

    function setpaymentType(sel,colomn) {
     // alert(sel.value);
      if(sel.value == '18' || sel.value == '19' || sel.value == '20'){
        // alert();
      var col = 'currency-'+colomn;
      document.getElementById(col).value = 'IDR';
      document.getElementById(col).setAttribute("disabled", true);
       
      }else{
         var col = 'currency-'+colomn;
        document.getElementById(col).removeAttribute("disabled");
      }
    }
    

    function addindex(val,ccy){
        if(document.getElementById('countd'+val).value < 10){
            document.getElementById('countd'+val).stepUp(1);
            document.getElementById('count2d'+val).stepUp(1);

            var count = document.getElementById("countd"+val).value;
            var i = document.getElementById("count2d"+val).value;
      console.log(count);
      console.log(i);
            // var ccy = document.getElementById("currency"+val).value;

            var table = document.getElementById("stabtable"+val);
            var row = table.insertRow(i);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);

            cell1.innerHTML =  ''+ccy+'';
      var count = count -1;
            cell2.innerHTML = "<input type='text' id='amount_from0"+count+"' name='amount_from"+val+"[]' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);' onkeypress='return forceCurrencyOCBC(event);' required='required' placeholder='0.00' style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;' oninput='this.value = this.value.toUpperCase()'>";

            cell3.innerHTML = "<i style='font-size: 20px; margin-left: 20%;' class='fas fa-arrow-right'></i>";

            cell4.innerHTML = "<input type='text' id='amount_to0"+count+"' name='amount_to"+val+"[]' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);' onkeypress='return forceCurrencyOCBC(event);' required='required' placeholder='0.00' style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;' oninput='this.value = this.value.toUpperCase()'>";
//id='policy"+val+""+ccy+""+count+"'
            cell5.innerHTML = "<i class='fas fa-users' style='margin-right: 3%; color: grey; font-size: 20px;'> </i><input style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;' type='text' id='policy_group0"+count+"' name='policy_group"+val+"[]' required='required'  placeholder='Group Policy' oninput='this.value = this.value.toUpperCase();checkspecial(this.value,this.id);'>"

            cell6.innerHTML = "<button type='button' class='btn btn-sm btn-danger btnremove' id='btnremove'  onclick='removebox(0)'><i class='fa fa-times'></i></button>";

            $('#policy'+val+''+ccy+''+count).on('keyup change', function (e) {
                      $(this).val($(this).val().toUpperCase());
                  });
        }
    }

 
    function addpolicy(value){

      var ctr = $("#policyindex").val()-1; 
      // alert(ctr);       

      var curr =  "currency-"+ctr;  
      var poltitle = "policytitle"+ctr;
      var tabpol = "tab_pol"+ctr;
      var detailtab = "#grouptable"+ctr;
      var newccy = "newccy"+ctr;
        
      var pol =  "policy_type-"+ctr; 
      var i = document.getElementById(pol).selectedIndex;
      var policytypeval = document.getElementById(pol).options[i].value;

      var policytype = document.getElementById(pol).options[i].text;
      var ccy = document.getElementById(curr).value;
    
   var dataexist = $('#alreadyExist').val();
   console.log(dataexist);
   if(dataexist == '' || typeof(dataexist) == "undefined"){
     var currentData = '';
   }else{
    var currentData = JSON.parse($('#alreadyExist').val());
   }
   
      var checkData = true;
      $.each(currentData, function( index, value ) {
        var dataCcy = value.CCY_BOUNDARY;
        var trfType = value.TRANSFER_TYPE;

        if (ccy == dataCcy && policytypeval == trfType) {
          alert('Configuration already exist');
          checkData = false;
          return false;
        }

      });

      if (!checkData) {
        return false;
      }
      
      var newData = [];
      $.each(currentData, function( index, value ) {
        newData.push({CCY_BOUNDARY: value.CCY_BOUNDARY, TRANSFER_TYPE: value.TRANSFER_TYPE});
      });

      newData.push({CCY_BOUNDARY: ccy, TRANSFER_TYPE: policytypeval});

      console.log(newData);

      $('#alreadyExist').val(JSON.stringify(newData));


      //if sweep transfer or 360 sweep transfer
      if (policytypeval == '19' || policytypeval == '20') {
        $("#newtabpolicy").append("<div id='newpolicy"+ctr+"' style=''><table width='100%' border='0'  class='table table-sm table-striped tablehead'><tr ><td>  <strong id='newtab2title' class='custom-link' style=' font-size: 15pt;color: white'><span id='policytitle"+ctr+"'></span></strong></td><td align='right' style='padding-top: 10px;'><i class='far fa-trash-alt' style='font-size: 20px; cursor: pointer;color: white; margin-right: 5%;' onclick='deletetable("+ctr+");'></i><i style='font-size: 23px; cursor: pointer;color: white;' class='fas fa-angle-down' onclick='newpol_show("+ctr+")' id='buttonnewtabs"+ctr+"'></i><i style='font-size: 23px; cursor: pointer;display:none;color: white' class='fas fa-angle-up' onclick='newpol_hide("+ctr+")' id='buttonnewtabs"+ctr+"c'></i></td></tr></table></div><input type='number' id='count"+ctr+"' value='0' style='visibility: hidden;'><input type='number' id='count2d"+ctr+"' value='1' style='visibility: hidden;'><table id='grouptable"+ctr+"' class='table table-sm'><tr><th valign='top' class='custom-link' ><strong>Currency</strong></th><th valign='top' class='custom-link' ><strong>Policy </strong><i class='fas fa-lightbulb' style='color: #ffa720; cursor: pointer;' data-toggle='modal' data-target='#myModalTips'></i></th></tr><tr><td id='ccy'><span id='newccy"+ctr+"'></span></td><td><i class='fas fa-users' style='margin-right: 3%; color: grey; font-size: 20px;'> </i><input style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;' type='text' name='policy_group"+ctr+"[]' id='policy_group"+ctr+"0' required='required' placeholder='Group Policy' oninput='this.value = this.value.toUpperCase();checkspecial(this.value,this.id);'></td><td><button type='button' class='btn btn-sm btn-danger btnremove' id='btnremove' ><i class='fa fa-times'></i></button></td></tr></table><br/>");
      }else if (policytypeval == '23') {
        $("#newtabpolicy").append("<div id='newpolicy"+ctr+"' style=''><table width='100%' border='0'  class='table table-sm table-striped tablehead'><tr ><td>  <strong id='newtab2title' class='custom-link' style=' font-size: 15pt;color: white'><span id='policytitle"+ctr+"'></span></strong></td><td align='right' style='padding-top: 10px;'><i class='far fa-trash-alt' style='font-size: 20px; cursor: pointer;color: white; margin-right: 5%;' onclick='deletetable("+ctr+");'></i><i style='font-size: 23px; cursor: pointer;color: white;' class='fas fa-angle-down' onclick='newpol_show("+ctr+")' id='buttonnewtabs"+ctr+"'></i><i style='font-size: 23px; cursor: pointer;display:none;color: white' class='fas fa-angle-up' onclick='newpol_hide("+ctr+")' id='buttonnewtabs"+ctr+"c'></i></td></tr></table></div><input type='number' id='count"+ctr+"' value='0' style='visibility: hidden;'><input type='number' id='count2d"+ctr+"' value='1' style='visibility: hidden;'><table id='grouptable"+ctr+"' class='table table-sm'><tr><th valign='top' class='custom-link' ><strong>Currency</strong></th><th valign='top' class='custom-link' ><strong>Policy </strong><i class='fas fa-lightbulb' style='color: #ffa720; cursor: pointer;' data-toggle='modal' data-target='#myModalTips'></i></th></tr><tr><td id='ccy'><span id='newccy"+ctr+"'></span></td><td><i class='fas fa-users' style='margin-right: 3%; color: grey; font-size: 20px;'> </i><input style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;' type='text' name='policy_group"+ctr+"[]' id='policy_group"+ctr+"0' required='required' placeholder='Group Policy' oninput='this.value = this.value.toUpperCase();checkspecial(this.value,this.id);'></td><td><button type='button' class='btn btn-sm btn-danger btnremove' id='btnremove' ><i class='fa fa-times'></i></button></td></tr></table><br/>");
      }
      else{
        $("#newtabpolicy").append("<div id='newpolicy"+ctr+"' style=''><table width='100%' border='0'  class='table table-sm table-striped tablehead'><tr ><td>  <strong id='newtab2title' class='custom-link' style=' font-size: 15pt;color: white'><span id='policytitle"+ctr+"'></span></strong></td><td align='right' style='padding-top: 10px;'><i class='far fa-trash-alt' style='font-size: 20px; cursor: pointer;color: white; margin-right: 5%;' onclick='deletetable("+ctr+");'></i><i style='font-size: 23px; cursor: pointer;color: white;' class='fas fa-angle-down' onclick='newpol_show("+ctr+")' id='buttonnewtabs"+ctr+"'></i><i style='font-size: 23px; cursor: pointer;display:none;color: white' class='fas fa-angle-up' onclick='newpol_hide("+ctr+")' id='buttonnewtabs"+ctr+"c'></i></td></tr></table></div><input type='number' id='count"+ctr+"' value='0' style='visibility: hidden;'><input type='number' id='count2d"+ctr+"' value='1' style='visibility: hidden;'><table id='grouptable"+ctr+"' class='table table-sm'><tr><th valign='top' class='custom-link' ><strong>Currency</strong></th><th valign='top' class='custom-link' ><strong>Amount Range From</strong></th><th></th><th valign='top' class='custom-link' ><strong>Amount Range To</strong></th><th valign='top' class='custom-link' ><strong>Policy </strong><i class='fas fa-lightbulb' style='color: #ffa720; cursor: pointer;' data-toggle='modal' data-target='#myModalTips'></i></th></tr><tr><td id='ccy'><span id='newccy"+ctr+"'></span></td><td><input type='text' id='amount_from"+ctr+"0' name='amount_from"+ctr+"[]' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);' onkeypress='return forceCurrencyOCBC(event);' required='required' placeholder='0.00' style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;' oninput='this.value = this.value.toUpperCase()'></td><td align='center'><i style='font-size: 20px;' class='fas fa-arrow-right'></i></td><td><input type='text' id='amount_to"+ctr+"0' name='amount_to"+ctr+"[]' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);' onkeypress='return forceCurrencyOCBC(event);' required='required' placeholder='0.00' style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;' oninput='this.value = this.value.toUpperCase()'></td><td><i class='fas fa-users' style='margin-right: 3%; color: grey; font-size: 20px;'> </i><input style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;' type='text'  name='policy_group"+ctr+"[]' id='policy_group"+ctr+"0' required='required' placeholder='Group Policy' oninput='this.value = this.value.toUpperCase();checkspecial(this.value,this.id);'></td><td><button type='button' class='btn btn-sm btn-danger btnremove' id='btnremove' ><i class='fa fa-times'></i></button></td></tr></table><br/><div align='right' id='addbutton"+ctr+"' style='display:none'><a href='javascript:void(0)' onclick='addnewpol("+ctr+")' >&nbsp;Add New</a></div>");
      }

        $('#policy_group'+ctr).on('keyup change', function (e) {
            $(this).val($(this).val().toUpperCase());
        });

        $("table").on('click', '.btnremove', function() {
         $(this).closest("tr").remove();
        });
        
        // var polccytitle = "policytitle"+ctr;


        var span = document.getElementById(poltitle);
        span.textContent = policytype+' - '+ccy;

        var spanccy = document.getElementById(newccy);
        spanccy.textContent = ccy;
        // $(newccy).textContent = ccy;

        var newtab = document.getElementById(tabpol);
        newtab.style.display = 'none';
        $(detailtab).hide();
        // var cur = document.getElementById("ccy1");
        // cur.textContent = ccy;

        $('#btnnewpolicy').prop('disabled', false);
    }



    $(document).ready(function()
    {
        newtab2_hide();
        hidesave();
        $('#btnsave').hide();

        $('#policytype').change(function() {
          var value = $(this).val();

          if (value == '19') {
            $('#currency').val('IDR');
            $('#currency').prop('disabled', true);
          }
          else{
            $('#currency').prop('disabled', false);
          }

        });

    });

    function addnew(){
      var nonetab = document.getElementById("nonetab");
      var newtab = document.getElementById("newtab");

      nonetab.style.display = 'none';
      newtab.style.display = 'block';
    }

    function newpol_hide(val){
      var detailtab = "#grouptable"+val;
      var addbutton = "#addbutton"+val;
      var button = "#buttonnewtabs"+val;
      var buttond = "#buttonnewtabs"+val+"c";
      // alert(detailtab);
      $(button).show();
      $(buttond).hide();
      $(detailtab).hide();
      $(addbutton).hide();
    }

    function newpol_show(val){

      var detailtab = "#grouptable"+val;
      var addbutton = "#addbutton"+val;
      var button = "#buttonnewtabs"+val;
      var buttond = "#buttonnewtabs"+val+"c";
      // alert(detailtab);
      $(button).hide();
      $(buttond).show();
      $(detailtab).show();
      $(addbutton).show();
    }

    function addnew2(){
        if(document.getElementById("count").value < 4){
            document.getElementById('count').stepUp(1);
            document.getElementById('count2').stepUp(1);

            var count = document.getElementById("count").value;
            var i = document.getElementById("count2").value;
            var ccy = document.getElementById("currency").value;

            // console.log(count);
            // console.log(i);

            var table = document.getElementById("grouptable");
            var row = table.insertRow(i);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);

            cell1.innerHTML =  ccy;

            cell2.innerHTML = "<input type='text' id='amount_from"+count+"' name='amount_from[]' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);' onkeypress='return forceCurrencyOCBC(event);' required='required' placeholder='0.00' style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;' oninput='this.value = this.value.toUpperCase()'>";

            cell3.innerHTML = "<i style='font-size: 20px; margin-left: 20%;' class='fas fa-arrow-right'></i>";

            cell4.innerHTML = "<input type='text' id='amount_to"+count+"' name='amount_to[]' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);' onkeypress='return forceCurrencyOCBC(event);' required='required' placeholder='0.00' style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;' oninput='this.value = this.value.toUpperCase()'>";

            cell5.innerHTML = "<i class='fas fa-users' style='margin-right: 3%; color: grey; font-size: 20px;'> </i><input style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;' type='text' id='policy_group0"+count+"' name='policy_group[]' required='required' placeholder='Group Policy' oninput='this.value = this.value.toUpperCase();checkspecial(this.value,this.id);'>"

            cell6.innerHTML = "<button type='button' class='btn btn-sm btn-danger btnremove' id='btnremove' onclick='removebox(0)' ><i class='fa fa-times'></i></button>";

            $('#policy_group0'+count).on('keyup change', function (e) {
                      $(this).val($(this).val().toUpperCase());
                  });
        }
    }


    function addnewpol(val){

        var count = "count"+val;
        var count2 = "count2d"+val;
        var curr = "currency-"+val;

        console.log(count);
        console.log(count2);
        
        if(document.getElementById(count).value < 4){
            document.getElementById(count).stepUp(1);
            document.getElementById(count2).stepUp(1);

            var count = document.getElementById(count).value;
            var i = document.getElementById(count2).value;
            var ccy = document.getElementById(curr).value;

            var detailtab = "grouptable"+val;
      
            var tablenew = document.getElementById(detailtab);
      
            var row = tablenew.insertRow(1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);
            

            cell1.innerHTML =  ccy;

            var ctr = val;

                cell2.innerHTML = "<input type='text' id='amount_from"+ctr+""+count+"' name='amount_from"+ctr+"[]' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);' onkeypress='return forceCurrencyOCBC(event);' required='required' placeholder='0.00' style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;' oninput='this.value = this.value.toUpperCase()'>";

                cell3.innerHTML = "<i style='font-size: 20px; margin-left: 20%;' class='fas fa-arrow-right'></i>";

                cell4.innerHTML = "<input type='text' id='amount_to"+ctr+""+count+"' name='amount_to"+ctr+"[]' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);' onkeypress='return forceCurrencyOCBC(event);' required='required' placeholder='0.00' style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;' oninput='this.value = this.value.toUpperCase()'>";

                cell5.innerHTML = "<i class='fas fa-users' style='margin-right: 3%; color: grey; font-size: 20px;'> </i><input style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;' type='text' id='policy_group"+ctr+""+count+"' name='policy_group"+ctr+"[]' required='required' placeholder='Group Policy' oninput='this.value = this.value.toUpperCase();checkspecial(this.value,this.id);'>"

                cell6.innerHTML = "<button type='button' class='btn btn-sm btn-danger btnremove' id='btnremove' onclick='removebox("+ctr+")' ><i class='fa fa-times'></i></button>";
              

              $('#policy'+val+''+ccy+''+count).on('keyup change', function (e) {
                  $(this).val($(this).val().toUpperCase());
              });
        }
    }

  
  
    function addnewpolstable(val){

        var count = "countd"+val;
        var count2 = "count2d"+val;
        var curr = "currencyd-"+val;
        
        if(document.getElementById(count).value < 4){
            document.getElementById(count).stepUp(1);
            document.getElementById(count2).stepUp(1);

            var count = document.getElementById(count).value;
            var i = document.getElementById(count2).value;
            var ccy = document.getElementById(curr).value;

            var detailtab = "stabtable"+val;
            var table = document.getElementById(detailtab);
            var row = table.insertRow(i);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);

            cell1.innerHTML =  ccy;

            var ctr = val;

            cell2.innerHTML = "<input type='text' name='amount_from"+ctr+"[]' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);' onkeypress='return forceCurrencyOCBC(event);' required='required' placeholder='0.00' style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;' oninput='this.value = this.value.toUpperCase()'>";

            cell3.innerHTML = "<i style='font-size: 20px; margin-left: 20%;' class='fas fa-arrow-right'></i>";

            cell4.innerHTML = "<input type='text' name='amount_to"+ctr+"[]' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);' onkeypress='return forceCurrencyOCBC(event);' required='required' placeholder='0.00' style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 100%;' oninput='this.value = this.value.toUpperCase()'>";

            cell5.innerHTML = "<i class='fas fa-users' style='margin-right: 3%; color: grey; font-size: 20px;'> </i><input style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;' type='text' name='policy_group"+ctr+"[]' required='required' placeholder='Group Policy' oninput='this.value = this.value.toUpperCase();checkspecial(this.value,this.id);'>"
        }
    }

    //save buat data title newtab2
    function save(){

        // var ctr = $("#policyindex").val();
        // ctr++;
        // $("#policyindex").val(ctr);

        var newtab = document.getElementById("newtab");
        var newtab2 = document.getElementById("newtab2");

     /*   var cust_id = document.getElementById("cust_id").value;
        var cust_id_index = document.getElementById("cust_id").selectedIndex;

        var cust_name = document.getElementById("cust_name").options[cust_id_index].text;*/

        var i = document.getElementById("policytype").selectedIndex;
        var policytype = document.getElementById("policytype").options[i].text;
        var policytypeval = document.getElementById("policytype").options[i].value;
        var ccy = document.getElementById("currency").value;
    //alert(policytypeval);
        if (policytypeval == '21' || policytypeval == '19' || policytypeval == '20') {
          $('.boundaryElement').hide();
        }else{
      //alert(policytypeval);
      $('.boundaryElement').show();
    }

        var span = document.getElementById("policytitle");
        span.textContent = policytype+' - '+ccy;

        var cur = document.getElementById("ccy1");
        cur.textContent = ccy;

        $('#ccyFirst').val($('#currency').val());

        newtab.style.display = 'none';
        newtab2.style.display = 'block';

        var newpolicy = document.getElementById("btnnewpolicy");
        newpolicy.style.display = "block";

        // var submitpolicy = document.getElementById("btnsubmitpolicy");
        // submitpolicy.style.display = "block";

     /*   var custidtitle = document.getElementById("custidtitle");
        custidtitle.innerHTML = "<strong>"+cust_id+" | "+cust_name+"</strong>";*/

        var title = document.getElementById("newtab2title");
        title.innerHTML = policytype + " (" + ccy + ")";

        var titlemodal = document.getElementById("myModalLabel");
        titlemodal.innerHTML = "Policy Detail - (" + policytype + ")";
        $('#avagroup').show();

     /*   var custidtitlemodal = document.getElementById("custidtitlemodal");
        custidtitlemodal.innerHTML = "<strong>"+cust_id+" | "+cust_name+"</strong>";*/

        //currency di newtab3
        // var ccy2 = document.getElementById("ccy2");
        // ccy2.innerHTML = ccy;
    }


    function newtab2_show()
    {
        $('#newtab3').show();
        //$('#buttonAppGroup').val('Hide');
        $('#buttonnewtab2').attr('Onclick','newtab2_hide()');
        $('#buttonnewtab2c').show();
        $('#addtab').show();
        $('#buttonnewtab2').hide();

        
    }

    function newtab2_hide()
    {
        $('#newtab3').hide();
        //$('#buttonAppGroup').val('Expand');
        $('#buttonnewtab2').attr('Onclick','newtab2_show()');
        $('#buttonnewtab2c').hide();
        $('#buttonnewtab2').show();
        $('#addtab').hide();
    }


    //oninput button save ke show
    function showsave(){
        // var save = document.getElementById("btnsave");
        // save.style.display = "block";
        // save.style.float = "right";
        // $('#avagroup').show();
    }

     function hidesave(){
        // var save = document.getElementById("btnsave");
        // save.style.display = "none";
        // $('#avagroup').hide();
    }
  
  function savebtn(){
      
    
    
//  }else{
 /*   var total = document.getElementById("count2d").value;
    //var alphabet = ["","A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"];
    var i;
    for (i = 0; i < total; i++) {
      var tag = 'amount_from'+i;
      //alert(tag);
      var countdata = document.getElementById(tag).value;
      if(countdata == ''){
      var warning = 1;
      
      break;
      }
      
      var tag = 'amount_to'+i;
      //alert(tag);
      var countdata = document.getElementById(tag).value;
      if(countdata == ''){
      var warning = 1;
      
      break;
      }
      
      var tag = 'policy_group'+i;
      //alert(tag);
      var countdata = document.getElementById(tag).value;
      if(countdata == ''){
      var warning = 1;
      
      break;
      }
    }  */
    
    var ctr = $("#policyindex").val(); 

  
    
    var a;
    for(a = 0; a < ctr; a++){
      var tagnew = 'count2d'+a;
    //console.log(tagnew);
  var cektag = document.getElementById(tagnew);
  if(cektag) {
    var tagnew = 'count2d'+a;
  }else{
    var tagnew = 'count2'+a;
  }
  //console.log(tagnew);
  var totalcek = document.getElementById(tagnew);
  if(totalcek){
    var total = document.getElementById(tagnew).value;  
    //console.log(total);
      var i;
      for(i = 0; i < total; i++){
        
      var tag = 'amount_from'+a+''+i;
    //var countdata = document.getElementById(tag).value;
  //console.log(countdata);
        //alert(tag);
  //if (typeof(tag) != 'undefined' && tag != null){
    var myEle = document.getElementById(tag);
  //if(!$(tag).is(':empty') ) {
    if(myEle){
    //console.log(tag);
    //alert();
        var countdata = document.getElementById(tag).value;
        if(countdata == ''){
        var warning = 1;
        
        break;
        }
        
        var tag = 'amount_to'+a+''+i;
        //alert(tag);
        var countdata = document.getElementById(tag).value;
        if(countdata == ''){
        var warning = 1;
        
        break;
        }
        
        var tag = 'policy_group'+a+''+i;
        //alert(tag);
        var countdata = document.getElementById(tag).value;
        if(countdata == ''){
        var warning = 1;
        
        break;
        }
    
    }
        
      }
        
  }   
    }
 //alert(warning);
  if(ctr > 0){
    
    
    if(ctr == 1 || ctr == 2 ){
    var myEle = document.getElementById('policy_group00');
        if(myEle) {
          
        }else{
        //  alert('1');
            var warning = 1;
        }
    }
    
  }else{
    if( $('#amount_from00').is(':empty') ) {
      
    }else{
    //  alert();
    //  var warning = 1;
    }
  }
  
//  }
    //alert(warning);
     if(warning == 1){
    //     document.getElementById("regForm").submit(); 
        alert('Policy / Field cannot be blank');
     }else{
     //document.getElementById("regForm").submit(); 
        //$('#regForm').append('<input type="hidden" name="submit " value="submit" />');
     // $("#regForm").submit(); 
  document.createElement('form').submit.call(document.getElementById('regForm'));
   }
  }
 
function grouplink(){
  
  var txt;
  var r = confirm("Previous settings will be deleted. Are you sure you want to return to the Group Settings page?");
  if (r == true) {
    document.location = "<?php echo $buttonGroup; ?>";
    
  } 
  

}

</script>







</div>
