<form method="post" name="approval">
<?php if(isset($this->message)){
			if($this->refreshParentScript==true){
			?>
			<script type="text/javascript">
			// refreshParent()
			window.opener.location.reload(true);
			</script>
			<?php
				}
			?>
<?php }else{ ?>


<div align="center">

 <input type="hidden" name="changes_id" value="<?php echo $this->changes_id ?>">
  <?php
  if($this->dataChanges['CHANGES_STATUS'] !='RR'){?>

	 <?php
//	echo $this->visibleButtonApprove;die;
	 if(($this->visibleButtonApprove ==true || $this->visibleButtonReject ==true)){
		if($this->dataChanges['CHANGES_FLAG'] == 'F'){

			echo $this->language->_('Repair\'s Notes'); echo ':
	  <br />';
	 	echo $this->formTextarea('detailnote',$this->detailnote,array('cols'=>'50','rows'=>'5','maxlength'=>'200','class'=>'form-control',
									'onKeyDown'=>'textCounter(this.form.note,this.form.note_len,200)',
									'onKeyUp'=>'textCounter(this.form.note,this.form.note_len,200)',
									'onKeypress'=>'return noSpecialChar3(event);'));

	 	}else{

	 	
		}
	 }
		?>
		<br />
		<br />
		<?php
		
		if($this->visibleButtonReject ==true){
			if($this->dataChanges['CHANGES_FLAG'] == 'F'){

				echo '<input type="submit" name="submit" class="btnwhite hov" value="'.$this->language->_('Reject').'"> ';

		 	}else{

		 		
			}
			
		}


		?>


  <?php }?>

  <?php
  if(($this->dataChanges['CHANGES_TYPE'] =='N' || $this->dataChanges['CHANGES_TYPE'] =='E')){
  ?>
  <?php   if($this->dataChanges['CHANGES_STATUS'] !='RR' && $this->visibleButtonRequestRepair==true){

  			if($this->dataChanges['CHANGES_FLAG'] == 'F'){

  				echo '<input type ="submit" name="submit" class="btnwhite hov" value="'.$this->language->_('Request Repair').'">&nbsp;';

		 	}else{

		 		
			}
  			//if($this->dataChanges['CHANGES_FLAG'] == 'F' && $this->dataChanges['CHANGES_TYPE'] == 'N' && $this->dataChanges['MAIN_TABLENAME'] == 'M_USER'){

			//}else{
				
			//}
  		  }


  		  if($this->visibleButtonApprove ==true){
  		  	if($this->dataChanges['CHANGES_FLAG'] == 'F'){

  		  		echo '<input type="submit" name="submit"  class="btngreen hov" value="'.$this->language->_('Approve').'"><br />';

		 	}else{

		 		
			}
			
		}
  ?>

	  <?php if($this->visibleButtonRepair==true){?>
	  <br />

	  <?php
	 
	  	if($this->dataChanges['CHANGES_FLAG'] == 'F'){ ?>

	  		<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>$this->module_name,'controller'=>'repair','action'=>'index','changes_id'=>$this->changes_id),null,true);?>'" class="btnwhite hov" value="<?php echo $this->language->_('Repair');?>">

	  	<?php
		}else{ 

		}
	 	
	 	}?>
<br/>
<br/>
   <!--  <input type="button" class="btn btn-warning" onclick="javascript:window.close(); window.opener.location.reload();" value="Close"> -->
  </div>
	<br>
</form>
<?php
}
?>
<?php }?>
