
<?php if(isset($this->message)){
   if($this->success) echo "<span><h3>".$this->message."</h3></span>";
   else echo "<span class='errmsg'><h3>".$this->message."</h3></span>";
} ?>
<div class="card" >
  <div class="card-header cardhead text-white">
      <strong>Change Information</strong>
  </div>
<table cellpadding="1" cellspacing="0" border="0"  class="table table-striped table-condensed flip-content">
	<tr>
		<td class="tbl-evencontent" width=""><?php echo $this->language->_('Suggestion Type'); ?></td>
		<td class="tbl-evencontent" width="">:</td>
		<td class="tbl-evencontent" width=""><?= $this->language->_($this->suggestionType)?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" ><?php echo $this->language->_('Suggested By'); ?></td>
		<td class="tbl-evencontent" >:</td>
		<td class="tbl-evencontent" ><?=$this->createdby?></td>
	</tr>
	<tr>
		<td class="tbl-oddcontent" ><?php echo $this->language->_('Suggestion Date'); ?></td>
		<td class="tbl-oddcontent" >:</td>
		<td class="tbl-oddcontent" ><?=Application_Helper_General::convertDate($this->created,$this->displayDateTimeFormat,$this->defaultDateFormat)?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" ><?php echo $this->language->_('Suggestion Status'); ?></td>
		<td class="tbl-evencontent" >:</td>
		<td class="tbl-evencontent" ><?= $this->language->_($this->status)?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" ><?php echo $this->language->_('Repair`s Notes'); ?></td>
		<td class="tbl-evencontent" >:</td>
		<td class="tbl-evencontent" ><?= $this->language->_($this->repairNote)?></td>
	</tr>
	<!--<tr>
		<td class="tbl-oddcontent" >Granted By</td>
		<td class="tbl-oddcontent" >:</td>
		<td class="tbl-oddcontent" ><?=$this->grantedby?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" >Granted Date</td>
		<td class="tbl-evencontent" >:</td>
		<td class="tbl-evencontent" ><?=($this->granted!='')?Application_Helper_General::convertDate($this->granted,$this->displayDateTimeFormat,$this->defaultDateFormat):''?></td>
	</tr>
	<tr>
		<td class="tbl-oddcontent" >Rejected By</td>
		<td class="tbl-oddcontent" >:</td>
		<td class="tbl-oddcontent" ><?=$this->rejectedby?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" >Rejected Date</td>
		<td class="tbl-evencontent" >:</td>
		<td class="tbl-evencontent" ><?=($this->rejected!='')?Application_Helper_General::convertDate($this->rejected,$this->displayDateTimeFormat,$this->defaultDateFormat):''?></td>
	</tr>
--></table>
</div>
