<b><?php echo $this->language->_('Charges'); ?> &gt; <?php echo $this->language->_('Set Company Charges'); ?> &gt; <?php echo $this->language->_('Detail'); ?> &gt; <?php echo $this->language->_('Monthly Fee'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Company Charges Setting'); ?></div>
<br />
<table border="0" cellspacing="0" cellpadding="0" class="tableform"
	width="600">
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Code'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result['CUST_ID'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Company Name'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result['CUST_NAME'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Current Status'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->language->_($this->monthlyfeestatus);?></td>
	</tr>
</table>
<br />
<br />
<h2><?php echo $this->language->_('Select Charges Type'); ?> :</h2>
<?php if($this->changestatus) 
{?>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<?php 
echo '<i>'.$this->error.'</i>';
}
else
{?>
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'monthlyaccount','controller'=>'index','action'=>'index','custid'=>$this->result['CUST_ID']),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Monthly Transaction Account')?>">
<br />
<br />
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'monthlycompany','controller'=>'index','action'=>'index','custid'=>$this->result['CUST_ID']),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Monthly Transaction Company')?>">
<br />
<br />
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'adminfeeaccount','controller'=>'index','action'=>'index','custid'=>$this->result['CUST_ID']),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Administration Fee Account')?>">
<br />
<br />
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'adminfeecompany','controller'=>'index','action'=>'index','custid'=>$this->result['CUST_ID']),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Administration Fee Company')?>">
<br />
<br />
<?php }?>
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'setcompanycharges','controller'=>'detail','action'=>'index','custid'=>$this->result['CUST_ID']),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Back')?>">