<b>Purchasing > Ticket</b>
<br />
<br />
<div class="successmsg">Payment Success</div>
<br />
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'next'),null,true)?>" method="post">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr><td colspan="3" class="tdform-sub">Purchase Ticket</td></tr>
		<tr>
			<td class="tbl-evencontent" ><?php echo $this->formLabel('Payment Reff#','Payment Reff#'); ?></td>
			<td class="tbl-evencontent" >:</td>
			<td class="tbl-evencontent" id="tbl-evencontent"><?=$this->paramSession['PSNumber']?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent" ><?php echo $this->formLabel('Date - Time','Date - Time'); ?></td>
			<td class="tbl-evencontent" >:</td>
			<td class="tbl-evencontent" id="tbl-evencontent"><?=$this->paramSession['date']?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Company Name','Company Name'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?php
					if($this->paramSession['operator']==1005){echo('Garuda Indonesia');}
				?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Payment Code','Payment Code'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?=$this->paramSession['paymentCode']?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Booking Code','Booking Code'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?=$this->paramSession['bookingCode']?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Name','Name'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?=$this->paramSession['name']?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Seat No','Seat No'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?=$this->paramSession['setNo']?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Flight No','Flight No'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?=$this->paramSession['flight']?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Total Amount','Total Amount'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				IDR <?=Application_Helper_General::displayMoney($this->paramSession['amount']+$this->paramSession['fee'])?>
			</td>
		</tr>
		<tr>
			<td class="button-area" id="button-area" colspan="3">
				<div class="formbutton" style="float:right">
					<input type="submit" name="submit" value="Back" class="inputbtn"/>
					<input type="button" value="Print" onClick="window.print();" class="inputbtn">
				</div>
			</td>
		</tr>
	</table>
</form>