<link rel="stylesheet" href="/drag/dragtable.css"/>
<link rel="stylesheet" href="/drag/bootstrap-table.css"/>
     


<style type="text/css">


.container-fluid {
padding-top: 4rem!important;
}

.myWizard{
width: 100%!important;
}

.form_builder .nav-sidebar {
width: 100%;
padding: 8px 0;
border-right: 1px solid #ddd;
}
.form_builder .nav-sidebar a {
color: #333;
-webkit-transition: all 0.08s linear;
-moz-transition: all 0.08s linear;
-o-transition: all 0.08s linear;
transition: all 0.08s linear;
-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
}
.form_builder .nav-sidebar .active a {
cursor: default;
background-color: #428bca;
color: #fff;
text-shadow: 1px 1px 1px #666;
}
.form_builder .nav-sidebar .active a:hover {
background-color: #428bca;
}
.form_builder .nav-sidebar .text-overflow a,
.form_builder .nav-sidebar .text-overflow .media-body {
white-space: nowrap;
overflow: hidden;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
}

/* Right-aligned sidebar */
.form_builder .nav-sidebar.pull-right {
border-right: 0;
border-left: 1px solid #ddd;
}
.form_builder .nav-sidebar.pull-right a {
-webkit-border-radius: 0 4px 4px 0;
-moz-border-radius: 0 4px 4px 0;
border-radius: 0 4px 4px 0;
}

.form_builder ul {
font-size: 18px;
display: block !important;
}
.form_builder ul li {
padding: 10px;
cursor: pointer;
}
.form_builder ul li a {
text-decoration: none;
cursor: pointer;
}

.form_builder_field {
margin: 20px 10px;
padding: 10px;
background: #eee;
width: 92%!important;
}

.form_builder .bal_builder {
padding: 0 !important;
}

.margin-left-5 {
margin-left: 5px;
}

.remove_bal_field {
cursor: pointer;
}

.form-check-input {
margin-right: 8px;
}

.placeholder {
width: 100%;
background-color: #bfb;
border: 1px dashed #666;
margin-bottom: 5px;
}
.form_builder_area {
width:100%;
min-height:50px;
position: absolute
}

.mt-radio {
display: block;
}
.mt-radio p {
display: inline;
}
.mt-checkbox {
display: block;
}
.mt-checkbox p {
display: inline;
}

.add_more_select, .add_more_radio, .add_more_checkbox, .remove_more_select, .remove_more_radio, .remove_more_checkbox {
cursor: pointer;
}

.preview-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.preview-group > .row > .col-sm-4 {
  display: inline-block;
  float: none;
}


</style>

      
<!-- <script src="/drag/bootstrap.min.js"></script> -->
<script src="/drag/bootstrap-table.js"></script>

<script src="/drag/bootstrap-table-editable.js"></script>
<script src="/drag/bootstrap-editable.js"></script>
<script src="/drag/jquery-ui.js"></script>
<script src="/drag/jquery.dragtable.js"></script>



<script type="text/javascript">
/**
 * @author: Dennis Hernández
 * @webSite: http://djhvscf.github.io/Blog
 * @version: v1.1.0
 */

!function ($) {

    'use strict';

    var getFieldIndex = function (columns, field) {
        var index = -1;

        $.each(columns, function (i, column) {
            if (column.field === field) {
                index = i;
                return false;
            }
            return true;
        });
        return index;
    };

    $.extend($.fn.bootstrapTable.defaults, {
        reorderableColumns: false,
        maxMovingRows: 10,
        onReorderColumn: function (headerFields) {
            return false;
        },
        dragaccept: null
    });

    $.extend($.fn.bootstrapTable.Constructor.EVENTS, {
        'reorder-column.bs.table': 'onReorderColumn'
    });

    var BootstrapTable = $.fn.bootstrapTable.Constructor,
        _initHeader = BootstrapTable.prototype.initHeader,
        _toggleColumn = BootstrapTable.prototype.toggleColumn,
        _toggleView = BootstrapTable.prototype.toggleView,
        _resetView = BootstrapTable.prototype.resetView;

    BootstrapTable.prototype.initHeader = function () {
        _initHeader.apply(this, Array.prototype.slice.apply(arguments));

        if (!this.options.reorderableColumns) {
            return;
        }

        this.makeRowsReorderable();
    };

    BootstrapTable.prototype.toggleColumn = function () {
        _toggleColumn.apply(this, Array.prototype.slice.apply(arguments));

        if (!this.options.reorderableColumns) {
            return;
        }

        this.makeRowsReorderable();
    };

    BootstrapTable.prototype.toggleView = function () {
        _toggleView.apply(this, Array.prototype.slice.apply(arguments));

        if (!this.options.reorderableColumns) {
            return;
        }

        if (this.options.cardView) {
            return;
        }

        this.makeRowsReorderable();
    };

    BootstrapTable.prototype.resetView = function () {
        _resetView.apply(this, Array.prototype.slice.apply(arguments));

        if (!this.options.reorderableColumns) {
            return;
        }

        this.makeRowsReorderable();
    };

    BootstrapTable.prototype.makeRowsReorderable = function () {
        var that = this;
        try {
            $(this.$el).dragtable('destroy');
        } catch (e) {}
        $(this.$el).dragtable({
            maxMovingRows: that.options.maxMovingRows,
            dragaccept: that.options.dragaccept,
            clickDelay:200,
            beforeStop: function() {
                var ths = [],
                    formatters = [],
                    columns = [],
                    columnsHidden = [],
                    columnIndex = -1;
                that.$header.find('th').each(function (i) {
                    ths.push($(this).data('field'));
                    formatters.push($(this).data('formatter'));
                });

                //Exist columns not shown
                if (ths.length < that.columns.length) {
                    columnsHidden = $.grep(that.columns, function (column) {
                       return !column.visible;
                    });
                    for (var i = 0; i < columnsHidden.length; i++) {
                        ths.push(columnsHidden[i].field);
                    	formatters.push(columnsHidden[i].formatter);
                    }
                }

                for (var i = 0; i < ths.length; i++ ) {
                    columnIndex = getFieldIndex(that.columns, ths[i]);
                    if (columnIndex !== -1) {
                        columns.push(that.columns[columnIndex]);
                        that.columns.splice(columnIndex, 1);
                    }
                }

                that.columns = that.columns.concat(columns);
                that.header.fields = ths;
                that.header.formatters = formatters;
                that.resetView();
                that.trigger('reorder-column', ths);
            }
        });
    };
}(jQuery);

$(document).ready(function() {

$('.defaultTable').dragtable();

var id;
var data;

$(".form_bal_textfield").draggable({
   helper: function () {
       id = this.id;
       content = $(this).attr('data-content');
       value = this.value;
       // data = this.class;
       return getTextFieldHTML(id,value,content);
   },
   connectToSortable: ".form_builder_area",
    start: function() {
       id = this.id;
       // data = this.data;
   }
});
var counter = [];

$(".form_builder_area").sortable({

   cursor: 'move',
   placeholder: 'placeholder',

   start: function (e, ui) {
       ui.placeholder.height(ui.helper.outerHeight());

   },
   stop: function (ev, ui) {
       if (!ui.item[0].id.length) {
           ui.item[0].id = id;
       }

         trclass = id.replace(/\s/g,'');
         $('.'+trclass).fadeOut('slow');
         getPreview('',ui.item[0].id);
   }
});
$(".form_builder_area").disableSelection();


function getTextFieldHTML(id,value,data) {
   // var id = ui.draggable.attr("id");
   // alert(id);
   var label = id;
   var value = value;
   var trclass = id.replace(/\s/g,'');
   // alert(trclass);
   console.log(data);
   // alert(label[0]);
   var field = generateField();
   var html = "<div class='row li_row form_output' data-type='text' data-contentdata='"+data+"' data-content='"+data+"' data-field='" + field + "'>" + 
                "<div class='col-md-11'><div class='form-group' style='margin:  0px 0 0 0;!important'>" + 
                "<input type='text' name='label[]' class='form-control form_input_label' value='"+label+"' data-field='" + field + "'/><input type='hidden' name='index[]'' value='"+value+"' /><input type='hidden' name='value[]' value='"+data+"' /></div></div><div class=''><button type='button' class='btn btn-primary btn-sm remove_bal_field pull-right' data-class='"+trclass+"' data-field='"+ field + "'><i class='fa fa-times'></i></button></div></div>";

   return $('<div>').addClass('li_' + field + ' form_builder_field').html(html);
}



$(document).on('click', '.edit_bal_textfield', function () {
   var field = $(this).attr('data-field');
   var el = $('.field_extra_info_' + field);
   el.html('<div class="form-group"><input type="text" name="label_' + field + '" class="form-control" placeholder="Enter Text Field Label"/></div><div class="mt-checkbox-list"><label class="mt-checkbox mt-checkbox-outline"><input name="req_' + field + '" type="checkbox" value="1"> Required<span></span></label></div>');
   getPreview();
});

$(document).on('click', '.remove_bal_field', function (e ) {
   e.preventDefault();
   var field = $(this).attr('data-field');
   var trclass = $(this).attr('data-class');
   $('.'+trclass).fadeIn('slow');
   $(this).closest('.li_' + field).hide('400', function () {
       $(this).remove();
       getPreview();

   });
});


$(document).on('keyup', '.form_input_placeholder', function () {
   getPreviewInput();
});
$(document).on('keyup', '.form_input_label', function () {
   getPreviewInput();
});
$(document).on('keyup', '.form_input_name', function () {
   getPreviewInput();
});

function generateField() {
   return Math.floor(Math.random() * (100000 - 1 + 1) + 57);
}
function getPreview(plain_html = '',$id= null,$data= null) {
       // alert($data);
   var el = $('.form_builder_area .form_output');
   var html = '';
   var data = '';
   var previewdata = '';
   var source = '';
   el.each(function () {
        html = '';
        data = '';
       var data_type = $(this).attr('data-type');
       var data_content = $(this).attr('data-content');
       var contentdata = $(this).attr('data-contentdata');
       
        // console.log(contentdata);
       var arrcontent = JSON.parse(data_content);
       // console.log(arrcontent);
       //var field = $(this).attr('data-field');
       var label = $(this).find('.form_input_label').val();

       var name = $(this).find('.form_input_name').val();
       if (data_type === 'text') {
           var placeholder = $(this).find('.form_input_placeholder').val();
           var checkbox = $(this).find('.form-check-input');
           var required = '';
           if (checkbox.is(':checked')) {
               required = 'required';
           }
           // var colomn = id.split("-");
           // html += '<th style="min-width: 100px;text-align: center;"><label class="control-label">' + $id + '</label></th>';
            // html += '<th>' + $id + '</th>';
           source += '<option value="'+label+'">'+label+'</option>';
           html += '<th>' + label + '</th>';

           for(i=0; i<arrcontent.length; i++){
                data += '<tr><td>' + arrcontent[i] + '</td></tr>';
           }

           previewdata += '<table class="defaultTable table col-md-3"><thead><tr>'+ html +'</tr></thead><tbody><tr>'+ data +'</tr></tbody></table>';
       }

   });



   if (plain_html === 'html') {
       $('.preview').hide();

   } else {

       // $('.preview').html(html).show();
       // $('.datapreview').html(data).show();
       $('.previewdiv').html(previewdata).show();
       $('.defaultTables').dragtable();
    }
}

function getPreviewInput(plain_html = '',$id= null) {
       // alert($id);
   var el = $('.form_builder_area .form_output');
   var html = '';
   var data = '';
    var previewdata = '';
   var source = '';
   el.each(function () {
        html = '';
        data = '';
       var data_type = $(this).attr('data-type');
       var data_content = $(this).attr('data-content');
        var arrcontent = JSON.parse(data_content);
        // console.log(arrcontent);
       //var field = $(this).attr('data-field');
       var label = $(this).find('.form_input_label').val();
       var name = $(this).find('.form_input_name').val();
       var labelhidden = $(this).find('.form_input_labelhidden').val();
       if (data_type === 'text') {
           var placeholder = $(this).find('.form_input_placeholder').val();
           var checkbox = $(this).find('.form-check-input');
           var required = '';
           if (checkbox.is(':checked')) {
               required = 'required';
           }
           // alert(label);
           // html += '<th style="min-width: 100px;text-align: center;"><label class="control-label">' + label + '</label></th>';
            source += '<option value="'+label+'">'+label+'</option>';
           html += '<th>' + label + '</th>';

           for(i=0; i<arrcontent.length; i++){
                data += '<tr><td>' + arrcontent[i] + '</td></tr>';
           }

           previewdata += '<table class="defaultTable table col-md-3"><thead><tr>'+ html +'</tr></thead><tbody><tr>'+ data +'</tr></tbody></table>';
       }


   });

   if (plain_html === 'html') {
       $('.preview').hide();

   } else {
       // $('.preview').html(html).show();
       // $('.datapreview').html(data).show();
        $('.previewdiv').html(previewdata).show();
       $('.defaultTables').dragtable();
}
}

$("#table").on("click", ".removeMe", function() {
    // alert();
        var indexToRemove = $(this).index();

        $(".defaultTable tbody tr").each(function() {
           $(this).find("td:eq("+indexToRemove+")").remove();
        });

        $(".defaultTable thead tr th").eq(indexToRemove).remove();
        // $(".defaultTable thead tr r").eq(indexToRemove).remove();
        $(".defaultTable thead tr td").eq(indexToRemove).remove();

        $('.defaultTable').removeData().dragtable();

    });



$("#addmassage").click(function() {
        var ctr = $("#wherectr").val();
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='col-sm-12 form-group row mt-2'><div class='col-sm-5'><select class='form-control' onchange='getOpt(this)' id='wherecol-"+ctr+"' name='wherecol[]' ></select></div><div class='col'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);

        var id = $("#tablename").find(":selected").val();
        $.ajax({
            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wherecolumn'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(wherecol).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });
    });

$("#addmassageadd").click(function() {
        var ctr = $("#wherectradd").val();
        var wherecol = "#wherecoladd-"+ctr;
        $("#wheresadd").append("<div id='where-"+ctr+"'><div class='col-sm-12 form-group row mt-2'><div class='col-sm-5'><select class='form-control' id='wherecoladd-"+ctr+"' name='wherecoladd[]' ></select></div><div class='col'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectradd").val(ctr);

        var id = $("#tablename").find(":selected").val();
        $.ajax({
            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wherecolumn'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(wherecol).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });
    });

});

function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}

function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    // alert(id);

}

function myFunction() {
    location.reload();
}

</script>


<style type="text/css">


.container-fluid {
    padding-top: 4rem!important;
}

.myWizard{
    width: 100%!important;
}

.form_builder .nav-sidebar { 
    width: 100%;
    padding: 8px 0; 
    border-right: 1px solid #ddd;
}
.form_builder .nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px; 
    -moz-border-radius: 4px 0 0 4px; 
    border-radius: 4px 0 0 4px; 
}
.form_builder .nav-sidebar .active a { 
    cursor: default;
    background-color: #428bca; 
    color: #fff; 
    text-shadow: 1px 1px 1px #666; 
}
.form_builder .nav-sidebar .active a:hover {
    background-color: #428bca;   
}
.form_builder .nav-sidebar .text-overflow a,
.form_builder .nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

/* Right-aligned sidebar */
.form_builder .nav-sidebar.pull-right { 
    border-right: 0; 
    border-left: 1px solid #ddd; 
}
.form_builder .nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0; 
    -moz-border-radius: 0 4px 4px 0; 
    border-radius: 0 4px 4px 0; 
}

.form_builder ul {
    font-size: 18px;
    display: block !important;
}
.form_builder ul li {
    padding: 10px;
    cursor: pointer;
}
.form_builder ul li a {
    text-decoration: none;
    cursor: pointer;
}

.form_builder_field {
    margin: 20px 10px;
    padding: 10px;
    background: #eee;
    width: 92%!important;
}

.form_builder .bal_builder {
    padding: 0 !important;
}

.margin-left-5 {
    margin-left: 5px;
}

.remove_bal_field {
    cursor: pointer;
}

.form-check-input {
    margin-right: 8px;
}

.placeholder {
    width: 100%;
    background-color: #bfb;
    border: 1px dashed #666;
    margin-bottom: 5px;
}
.form_builder_area {
    width:100%;
    min-height:50px;
    position: absolute
}

.mt-radio {
    display: block;
}
.mt-radio p {
    display: inline;
}
.mt-checkbox {
    display: block;
}
.mt-checkbox p {
    display: inline;
}

.add_more_select, .add_more_radio, .add_more_checkbox, .remove_more_select, .remove_more_radio, .remove_more_checkbox {
    cursor: pointer;
}
</style>
<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span>Adapter File</span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="inhouse"><?=$this->language->_('Upload')?></span>
                    </li>
                    <li>
                        <span class="inhouse"><?=$this->language->_('Confirm')?></span>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
    <br/>
<?php if($this->error){ ?>
                    <div class="errmsg"><?=html_entity_decode($this->report_msg)?></div><br />
                    <?php } ?>
<div class="wizard-container">
                        <div class="card wizard-card" data-color="green" id="wizardProfile">
<form name="payment" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'confirm'),null,true)?>" enctype="multipart/form-data">

    <div class="wizard-header">
        <h3 class="wizard-title">
           Convert File
        </h3>  
    </div>
    <br/>   

    <div class="container">
        <div class="row">
         <div class="col-md-12">
             <div class="row">
                 <div style="border:1px ridge" class="col-md-5">
                     <h6 class="pt-2 pb-1">List Report</h6>
                     <div class="col-md-12">
                       <div class="row">
                         <div class="input-group-prepend" style="width:13%">
                             <span class="input-group-text navbar-search-icon" id="searchspan"><i class="fa fa-search"></i></span>
                         </div>
                         <div style="width:87%" class="">
                             <input  type="text" class="live-search-box form-control" placeholder="Search" id="searchtable" >
                         </div>

                       </div>
                     </div>
                 </div>
                 <div style="border:1px ridge" class="col-md-7">
                     <h6 class="pt-2 pb-1">Display Table</h6>
                 </div>
             </div>
         </div>
         <style media="screen">
         li.list {
           text-align: left;
           font-size: 14px;
           border-bottom: 1px ridge;
           }
         </style>
         <div class="col-md-12">
           <div class="row">
             <div style="border:1px ridge" class="col-md-5">
               <nav class="nav-sidebar pt-2 pb-2">
                   <ul class="list-group nav live-search-list"  style="list-style-type: none; height: 450px; overflow: auto;display: block!important;">
                     <table class="table table-sm table-striped">
                       <?php

                       $length = count($this->data) - 1;

                       $num = 1;
                       $counter = 0;
                       $contdata = '';
                           foreach ($this->data[0] as $key => $value) {
                            unset($contdata);
                            unset($content);
                            for($i=1; $i<=$length; $i++){

                                $content[] = trim($this->data[$i][$counter]);
                                $contdata .= '-'.trim($this->data[$i][$counter]);
                            }

                             $jsoncontent = json_encode($content);

                           $classtr = $value;
                           $str = preg_replace('/\s+/', '', $classtr);

                           echo "<li class=' ".$str." list-group-item form_bal_textfield list' value='".$key."' id='".$value."' data='".$value."' data-content='".$jsoncontent."' data-contentdata='".$contdata."'>"; ?>
                           <a style="color: black;" href="javascript:;"><?php echo $num ?> &nbsp;&nbsp;&nbsp;&nbsp; <?php echo $value; ?></a>

                       </li>
                       <?php
                       $num++;
                        $counter++;
                        }
                       ?>
                       </table>
                   </ul>
               </nav>
             </div>
             <div style=" height: 450px; overflow: auto;display: block!important;border: 1px ridge #dfdfdf" class="col-md-7">
                 <div class="form_builder_area" style="min-height:100%"></div>
             </div>
             <div class="col-sm-5">

             </div>
             <div class="col-md-7 bal_builder">

             </div>
           </div>
         </div>

         <div class="col-md-12 pt-3">
           <div class="form-group container row">
               <h6>Live Preview</h6>
           </div>
           <div class="preview-group">
               <div class="form-group row previewdiv flex-nowrap">
                <!-- isi data preview -->
               </div>
           </div>
         </div>
     </div>
   </div>
   <br/>

    <br/>

    <hr>

    <div class="container">
        <h5>Your Template</h5>
        <br/>

         <div class="form-group row">
            <?php echo $this->formLabel('reportsched',$this->language->_('Message'),array('class'=>'col-sm-2 col-form-label')); ?>
            <div class="col-sm-10">
                <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/>
               <div id="wheres">
                <br/>
                <button type="button" class="btngreen hov mt-1" id="addmassage">Add Colomn</button>
                <br/>
               </div>
                <div class="invalid-feedback"><?=$this->error_report_name?></div>
            </div>
        </div>
        <div class="form-group row">
            <?php echo $this->formLabel('reportsched',$this->language->_('Additional Message'),array('class'=>'col-sm-2 col-form-label')); ?>
            <div class="col-sm-10">
                <input type="hidden" id="wherectradd" value="<?=$this->wherectradd?>"/>
               <div id="wheresadd">
                <br/>
                <button type="button" class="btngreen hov mt-1" id="addmassageadd">Add Colomn</button>
                <br/>
               </div>
                <div class="invalid-feedback"><?=$this->error_report_name?></div>
            </div>
        </div>
    </div>


    <br/>  
    <br/>  
    <br/>  

    <div class="wizard-footer">
    <div class="pull-right col-md-6" style="float: right; !important;margin-right: 25px;margin-bottom: 20px;">

       <input type='submit' id="submitbtn" class='btngreen hov float-right' name='finish' value='Download' />
        
        <select class="form-control float-right col-md-3 mt-1 mr-1" name="type">
          <option value="csv">.csv</option>
          <option value="xls">.xls</option>
          <option value="xlsx">.xlsx</option>
          <option value="json">.json</option>
          <option value="xml">.xml</option>
          <option value="txt">.txt</option>
        </select>

        <input type='text' class='form-control float-right col-md-4 mt-1 mr-1' name='fileName' placeholder="File Name" />

       


        <!-- <input type='submit' id="submitbtn" class='btngreen hov' name='finish' value='Save' /> -->
    </div>

    <div class="pull-left" style="float: left !important;margin-left: 20px;margin-bottom: 20px;">
        <input type='button' onclick="myFunction()" class='btn btn-danger' name='previous' value='Reset' />
    </div>
    <div class="clearfix"></div>
</div> 
    
                                                                                                                                                                                                                                      
                    
                
</form>
</div>
</div>


<script type="text/javascript">
function change(){
           var src= document.getElementById("report_name");
           var dest= document.getElementById("listname");
           dest.value=src.value;
       }
function change1(){
var src= document.getElementById("listname");
var dest= document.getElementById("report_name");
dest.value=src.value;
}

jQuery(document).ready(function($){

$('.live-search-list li').each(function(){
$(this).attr('data-search-term', $(this).text().toLowerCase());
});

$('.live-search-box').on('keyup', function(){

var searchTerm = $(this).val().toLowerCase();

    $('.live-search-list li').each(function(){

        if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
            $(this).show();
        } else {
            $(this).hide();
        }

    });

});

});
</script>
