
<script type="text/javascript">
    $(document).ready(function(){

        $('#updatedStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#updateEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });


        $('div#sidebar-collapse').click(function(){
              if ( $("#logo-title").is(":visible") ) { 
                $("#logo-title").hide(); 
                $("#logo-titles").hide(); 
              } else if ( $("#logo-title").is(":hidden") ) { 
                $("#logo-title").show(); 
                $("#logo-titles").show(); 
              }
            })

         $('#fixTable').fixTableHeader();

        $("#searchtable").keyup(function() {
          var value = this.value.toLowerCase().trim();

          $("#myTable tr").each(function(index) {
              if (!index) return;
              $(this).find("td").each(function() {
                  var id = $(this).text().toLowerCase().trim();
                  var not_found = (id.indexOf(value) == -1);
                  $(this).closest('tr').toggle(!not_found);
                  return not_found;
              });
          });
        });


});
</script>

<script type="text/javascript">
function checkAll()
{
    $("div.check").hide();
    $("div.uncheck").show();
    $(".req_id").prop("checked", true);
}

function uncheckAll()
{
    $("div.check").show();
    $("div.uncheck").hide();
    $(".req_id").prop("checked", false);
}

$(document).ready(function(){
    $("div.uncheck").hide();

    $(".req_id_all").on("click",function(){
        if ($(this).is(":checked")) {
            checkAll();
            $(".delete_button").removeAttr("disabled");
        }else{
            uncheckAll();
            $(".delete_button").attr("disabled",true);
        }
    });


    var checkboxes = $(".req_id"),
        submitButt = $(".delete_button");

    checkboxes.change(function() {
        
        var isOneChecked = false;

        checkboxes.each(function() {
            if ($(this).is(':checked')) {
                isOneChecked = true;
            }
        });
        
        if (isOneChecked) {
            submitButt.prop("disabled",false);
        } else {
            submitButt.prop("disabled",true);
            $(".req_id_all").prop("checked", false);
        }

    });

    $('#fixTable').fixTableHeader();
});
</script>
<!-- <b><?php echo $this->language->_('General'); ?> > <?php echo $this->language->_('Help List'); ?></b><br /><br /> -->

<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Content Setting'); ?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="valas" ><?php echo $this->language->_('Important Notification List'); ?></span>
                    </li>
                </ul>
            </div>
        </div>
</div>

<?php if($this->error) { ?>
    <div class="errmsg">
        <?php echo $this->language->_('Error'); ?>: <?php echo $this->language->_('Please check selection'); ?>
    </div><br />
<?php } ?>
<?php 
    $counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
?>


<div class="row content-box">
      <div class="portlet-body form col-md-12">

        <h5><?=$this->language->_('Content Setting')?></h5>
        <span><?=$this->language->_('Manage news &amp; feeds, promo banner, Important Notification')?></span>
        <br>
        
        <form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">


<?php 
    $optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
    foreach($this->filterlist as $row){
        $optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
    }

    ?>
    <div class="row " id="logo-titles" style="margin-left: 0px">
            <?php
            if(!empty($this->wherecol)){
                ?>
                <script type="text/javascript">
                    $(document).ready(function(){
                    $("#logo-title").show(); 
                });

                </script>
                <?php
            }
            // print_r($this->wherecol);die;
            foreach ($this->wherecol as $key => $value) {
                ?>
                    <div id="searchs" style="width: 100%">
                    <?php 
                        $datetype = array('CREATED');
                        $selectlist = array('TITLE','CREATEDBY');
                        $index = 0;
                        


                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$ctr?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($value==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]' >
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'> 
                                            <script type="text/javascript">
                                                $(document).ready(function(){
                                                var colval = "#colvalue-s<?=$key?>";
                                                var colomnname = "<?=$value?>";
                                                // var colselect= "<?=$value?>";
                                                var colselect = "colselect-s<?=$key?>";
                                                var ncolselect = "#colselect-s<?=$key?>";
                                                
                                            });

                                            </script>
                                        <?php
                                                if($value == 'CREATED'){
                                          // var_dump($this->whereval);die;
                                          ?>
                                          <input type='text' class='form-control' name='uploaddate[]' id='updatedStart' readonly value="<?=$this->DATE_START?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='uploaddate[]' id='updateEnd' value="<?=$this->DATE_END?>" readonly required>
                                          <?php
                                          }else if(in_array($value, $selectlist)){
                                                ?>
                                                <input class='form-control' type='text'  name='whereval[]' value='<?=$this->whereval[$key]?>' style="width:100%"/>
                                                <?php }
                                                if (!in_array($value, $datetype)){
                                                    // print_r($value);die;
                                                    $index++;
                                                }
                                                 ?>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    
                </div>

                <?php
            }
            ?>

    </div>


    <div class="row " id="logo-title" style="display: none">
    <div class="portlet-body form col-md-12">
     <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($val==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?=$ctr?>'> 
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value=''/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    <?php //}}?>
                </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
                <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
                &nbsp;
                <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                

                <br/>

                                             
                        <div class="portlet-body form" style="display: none">
                                               
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
                                                            <div class="col-md-4">
                                                            <?php echo $this->formSelect('paymentType',$this->paymentType,array('id'=>'paymentType','class'=>'form-control','onclick'=>'changeTransferType()'), $this->optPayType); ?>
                                                            </div>
                                                            <label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
                                                            <div class="col-md-3">
                                                            <select name = "transferType" id = "transferType" class="form-control">
                                                                <option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
                                                            </select>
                                                            </div>
                                                 </div>
                                                
                                                 <div class="form-group row ">
                                                            
                                                            <div class="col-md-12">
                                                            <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btn btn-success')); ?>&nbsp;
                                                            <input type="button" name="clearfilter" class="btn btn-success" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                                                            </div>
                                                 </div>
                                                 
                                                 
                               </div>
                               </div>
            <div class="col-md-4">
            </div>
                               
    </div>
    <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
         <a href="#" class="sidebar-collapse-icon with-animation">
             <?php echo $this->language->_('Advanced Search'); ?>               
         </a>
     </div>

        </form>
    </div>
</div>

    <div class="row col-md-12 d-flex justify-content-center">
        <button type="button" onclick="location.href='/newsmaker'" class="btnwhite hov col-md-3" name="button">News & Promos</button>
        <button type="button" onclick="location.href='/important'" class="btngreen hov col-md-3" name="button">Important Notification</button>
        <button type="button" onclick="location.href='/landingpage'" class="btnwhite hov col-md-3" name="button">Landing Page</button>
    </div>
<br>



<!-- <div class="tabheader" id="tabheader"><?php echo $this->language->_('Help List'); ?></div>
<?php 
    if($this->error)
    {
?>
        <div class="errmsg">
            <?php echo $this->language->_('Error'); ?>: <?php echo $this->language->_('Please check selection'); ?>
        </div><br />
<?php
    }
?>
<?php 
$counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
?>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
    <table cellpadding="3" cellspacing="0" border="0" class="tableform" width="500px">
        <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Filter')?></strong></th></tr>
        <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('HelpTopic',$this->language->_('Help Topic')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php  echo $this->formText('HELP_TOPIC',$this->HELP_TOPIC,array('maxlength'=>'20','size'=>'50')); ?></td>
        </tr>
        <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('FileDescription',$this->language->_('Help Description')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php  echo $this->formText('description',$this->description,array('maxlength'=>'20','size'=>'50')); ?></td>
        </tr>
        <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('FileName',$this->language->_('File Name')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php  echo $this->formText('SEARCH_TEXT',$this->SEARCH_TEXT,array('maxlength'=>'20','size'=>'50')); ?></td>
        </tr>
        <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('UploadedBy',$this->language->_('Uploaded By')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php  echo $this->formText('UPLOADED_BY',$this->UPLOADED_BY,array('maxlength'=>'20','size'=>'50')); ?></td>
        </tr>
        </tr>
        <tr>
            <td class="tbl-evencontent"><?php echo $this->formLabel('update',$this->language->_('Upload Date')); ?></td>
            <td class="tbl-evencontent">:</td>
            <td class="tbl-evencontent"><?php echo $this->language->_('From');?> &nbsp;
                                        <?php 
                                                echo $this->datePicker("DATE_START", $this->DATE_START,array('dateFormat' => $this->jqueryDateFormat,
                                                                                                        'defaultDate' =>'new Date()',
                                                                                                        'showOn' => 'button',
                                                                                                        'buttonImage' => '/images/calendar.gif',
                                                                                                        'buttonImageOnly' => true,
                                                                                                        'changeMonth' => true,
                                                                                                        'changeYear' => true,
                                                                                                        'clearAnotherField'=>true,
                                                                                                        'anotherField'=>'DATE_END',
                                                                                                        'minDateID' => 'DATE_END',),
                                                                                                        array('readonly' => 'readonly')); 
                                        ?>
                                        &nbsp; <?php echo $this->language->_('To');?> &nbsp;
                                        <?php 
                                                echo $this->datePicker("DATE_END", $this->DATE_END,array('dateFormat' => $this->jqueryDateFormat,
                                                                                                        'defaultDate' =>'new Date()',
                                                                                                        'showOn' => 'button',
                                                                                                        'buttonImage' => '/images/calendar.gif',
                                                                                                        'buttonImageOnly' => true,
                                                                                                        'changeMonth' => true,
                                                                                                        'changeYear' => true,
                                                                                                        'clearAnotherField'=>true,
                                                                                                        'anotherField'=>'DATE_START',
                                                                                                        'maxDateID' => 'DATE_START'),
                                                                                                        array('readonly' => 'readonly')); 
                                        ?>
            </td>
        </tr>
        <tr>
            <td colspan="3" align="left" class="tbl-evencontent">
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'inputbtn')); ?>
                <?php echo $this->formSubmit('filter_clear',$this->language->_('Clear Filter'),array('class'=>'inputbtn')); ?>
            </td>
        </tr>
    </table>
</form> -->
<br>

<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">

<div class="form-group">
    <div style="float:left">
        <?php 
            $buttonNewHelp = $this->url(array('module'=>'important','controller'=>'add',),null,true);
        ?>
        <?php 
        if($this->hasPrivilege('HLAD'))
        {
        ?>
            <button type="button" class="btn-sm btngrad hov" onclick="location.href='<?php echo $buttonNewHelp; ?>'"><i class="fa fa-plus"></i>&nbsp;<?php echo $this->language->_('Add')?></button>&nbsp;
        <?php 
        }
        else{
            echo'<button type="button" class="btn-sm btngrad disabled" disabled><i class="fa fa-plus"></i>&nbsp;'.$this->language->_('Add').'</button>&nbsp;';    
        }
        ?>
        <!-- <button type="button" class="btn-sm btngrad hov delete_button" disabled><i class="fa fa-trash"></i>&nbsp;Delete</button> -->
        <?php echo $this->formSubmit('delete',$this->language->_('Delete'),array('class'=>'btn-sm btngrad hov delete_button','disabled'=>'disabled')); ?>&nbsp;
    </div>
    <div style="float:right; padding-left:5px;">
        <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                            <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                        </div>
                <input type="text" class="search form-control" id="searchtable" placeholder="Search">
            </div>
    </div>
    <div style="float:right; padding-left:10px;">
        <input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa">&nbsp;
        
         <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print")?></button>&nbsp;
    </div>
</div>
<br />

    <input Type ='hidden' name="filter" value='Set Filter'>

   <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
    <table class="table table-sm table-striped" id="myTable">
    <thead>
            <th class="tdform-sub tablehead"><?php echo $this->formCheckbox('req_id_all', '',array('class'=>'req_id_all'));?></th>
            <?php 
                echo $this->partial('tableheader.phtml',array(
                                                                'fields' => $this->fields,
                                                                'sortBy' => $this->sortBy,
                                                                'sortDir' => $this->sortDir,
                                                                'query_string_params' => $this->query_string_params
                                                            )
                                    );
            ?>
            <!-- <th class="tdform-sub" style="background-color: #0a3918; color:white"><?php echo $this->language->_('Action');?> </th> -->
        </tr>
    </thead>
    <tbody>
        <?php
            if(!empty($this->arr))
            {
                $i = 0;
                foreach($this->paginator as $row)
                {
                    $td_css = ($i%2 == 0)?' tbl-evencontent' : 'tbl-oddcontent';
                    $cek = FALSE;
                    if($this->check == true)
                    {
                        if($row['CHECK'] == 1)
                        {
                            $cek = TRUE;
                        }
                    }
                    $attribut=array('class' => 'req_id', 'checked' => $cek);
                    
                    // $dateexp = Application_Helper_General::convertDate($row['EXP_DATE'],'m/d/Y',$this->defaultDateFormat);
                     $date_now = date("m/d/Y");

                    // $date=date_create($row);
                     // print_r($row['EXP_DATE']);
                     $dateexp = date("m/d/Y", strtotime($row['EXP_DATE']));
                     // $dateexp = date_format($row['EXP_DATE'],"m/d/Y");
//                      $date_convert = date_format($date,"m/d/Y");
                     // print_r($date_now);echo "-";print_r($dateexp);echo '<br>';
                    if($row['STATUS'] == '4'){
                        $title = $this->escape($row['SUBJECT']);
                    }else if($date_now >= $dateexp){
                        $title = $this->escape($row['SUBJECT']);
                    }else{
                        $buttonEdit = $this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','ID'=>$row['ID']),null,true);
                        // $button = '<a href="'.$this->url(array('module'=>'newsmaker','controller'=>'edit','action'=>'index','filter'=>'edit','ID'=>$row['ID']),null,true).'">'.$this->language->_('Edit').'</a> &nbsp;|&nbsp;';
                        $title = '<a href="'.$buttonEdit.'">'.$this->escape($row['SUBJECT']).'</a>';
                        //$button .= '<a href="'.$this->url(array('module'=>'helplist','controller'=>'index','action'=>'index','filter'=>'download','HELP_ID'=>$row['HELP_ID']),null,true).'">Download</a> &nbsp;';
                    }
                    
                    $select1 = '';
                    $select2 = '';
                    $select3 = '';

                    if($row['TARGET']=='1'){
                        $target = 'Front End';
                    }else if($row['TARGET']=='2'){
                        $target = 'Back End';
                    }else{
                        $target= 'FO and BO';
                    }
                            
                    if($row['SEND_TO'] == '1'){
                        // die;
                        $sendto = $this->language->_('All');
                    }else{
                        $sendto = $row['RECEIVER'];
                    }
                    
                    if($row['STATUS'] == '1'){
                        $status = $this->language->_('Started');
                    }else if($row['STATUS'] == '2'){
                        $status = $this->language->_('Ended');
                    }else if($row['STATUS'] == '3'){
                        $status = $this->language->_('Pending Future date');
                    }else if($row['STATUS'] == '4'){
                        $status = $this->language->_('Deleted');
                    }

                    if ($row['STATUS']=='4') {
                        $button_cek = '';
                    }else{
                        $button_cek = $this->formCheckbox("req_id[".$row['ID']."]", $row['ID'],$attribut);
                    }

                    // echo $this->displayDateTimeFormat;
                    echo '  <tr>
                                <td class="' . $td_css . '" width="20px">' . $button_cek . '</td>
                                <td class="' . $td_css . '" width="20%">' . $title . '</td>
                                <td class="' . $td_css . '" width="20%">' . $target . '</td>
                                <td class="' . $td_css . '" width="15%">' . $sendto . '</td>
                                <td class="' . $td_css . '" width="30%">' .$row['CREATEDBY'].' - '.Application_Helper_General::convertDate($row['CREATED'],$this->displayDateTimeFormat,$this->defaultDateFormat). '</td>
                                
                               
                                <td class="' . $td_css . '" width="15%">' . Application_Helper_General::convertDate($row['EFDATE'],'dd MMM yyyy',$this->defaultDateFormat) .' '.$row['EFTIME'].'</td>
                                <td class="' . $td_css . '" width="15%"> '.Application_Helper_General::convertDate($row['EXP_DATE'],'dd MMM yyyy',$this->defaultDateFormat).' ' . $row['EXP_TIME'] .'</td>
                                <td class="' . $td_css . '" width="10%">' . $status .'</td>
                            </tr>';
                    
                    $i++;
                    $counter++;
                }
            }
            else
            {
                echo '<tr><td colspan="7" class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
            }
        ?>
    </tbody>
    </table>
    <br>

   
    <?php
    // $save = $this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'save'),null,true);
    // $delete = '<a class="btngreen hov" href="javascript:confirmation(\' '.$this->language->_('Are you sure want to save this data?').'\',\''.$save.'\');">'.$this->language->_('Delete').'</a>';
    // echo $delete;                

    // echo $this->formSubmit('save',$this->language->_('Save'),array('class'=>'btngreen hov')); 
    // echo '&nbsp;';
    // echo $this->formSubmit('delete',$this->language->_('Delete'),array('class'=>'btngreen hov')); 
    ?>
    <!-- <div align="right" id="check" class="check">
        <input type="button" name="Check All" value="<?php echo $this->language->_('Check All')?>" class="btngreen hov" onclick = "checkAll()">
    </div>
    <div align="right" id="uncheck" class="uncheck">
        <input type="button" name="Uncheck All" value="<?php echo $this->language->_('Uncheck All')?>" class="btnwhite hov" onclick = "uncheckAll()">
    </div>
    <br /> -->
    
    <!-- <div align="right">
        <?php //echo $this->formSubmit('delete','Delete',array('class'=>'inputbtn')); ?>
        <?php 
        if($this->hasPrivilege('HLUD'))
        {
            echo $this->formSubmit('delete',$this->language->_('Delete'),array('class'=>'btngreen hov')); 
        }
        else{
            echo'<input type="button" value="'.$this->language->_('btnwhite disabled').'" disabled>';
        }
        ?>&nbsp;
        
        <input type="button" name="Reset" value="<?php echo $this->language->_('Reset')?>" class="btnwhite hov" onclick = "uncheckAll()">
    </div> -->

</form>
</div>



<script type="text/javascript">
function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
$(document).ready(function(){

$("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-"+ctr+"' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>"+optstr+"</select></div><div style='display:none'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-"+ctr+"'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);
    });
});
    function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
    var $coll = $( '.event_select' );
    $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });

    $(colval).empty();
    if(colomnname == 'CREATED'  ){
        $(colval).append("<input type='text' class='form-control'  name='uploaddate[]' id='questStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='uploaddate[]' id='questEnd' readonly required>");
                                                                        $('#questStart').datepicker({
                                                                            format: 'dd/mm/yyyy',
                                                                            uiLibrary: 'bootstrap4'
                                                                        });
                                                                        $('#questEnd').datepicker({
                                                                            format: 'dd/mm/yyyy',
                                                                            uiLibrary: 'bootstrap4'
                                                                        });
                                                                    
    }else{
         $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");            
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>