<?PHP
    $language = Zend_Registry::get('language');
?>
<?php 
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<html>
    <head>
	<link rel="shortcut icon" href="/favicon111.ico">
	<title>myONLINE</title>
	<style>
input.currency{ width: 200px; font-size: 10px; } 
ul { padding-left:10px; } 
h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed } 
body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; } 
b { font-weight:bold; font-size:11px } 
td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; } 
a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; } 
.tbl-evencontent { background-color: none; padding: 4px 4px 4px 4px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
.tbl-oddcontent { background-color: none; padding: 4px 4px 4px 4px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
.tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } 
.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; } 
.errmsg { font-weight:bold; font-size:11px; color:#FF0000 } 
body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
-webkit-print-color-adjust:exact; /*chrome*/ 
-moz-print-color-adjust:exact; /*mozila*/
-o-print-color-adjust:exact; /*opera*/
-ms-print-color-adjust:exact; /*ie*/
} 	
	</style>	
    </head>
    <body onload="window.print();" onfocus="window.close()" onblur="window.close()">
    			<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td align="left" valign="middle"><div style="padding: 0px 20px 0px 0px"><img src="/images/logo/logosgo_small_2.png" height="40px" border="0"/></div></td>
						<td align="center" valign="middle"><strong><?=$this->appInfo['name'].' - '.$this->appInfo['bankname'];?></strong></td>
						<td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s")?></strong></td>
					</tr>
				</table>
       <?php 
			if (Zend_Registry::isRegistered('language')){
				$language = Zend_Registry::get('language');
			}
			
			$psNumber = $this->psnumber;
		    //$getPaymentDetail 	= new paymentreport_Model_Paymentreport();
		    //$pslipdetail = $getPaymentDetail->getPslipDetail($psNumber);
// 		    var_dump($pslipdetail);die;
		    /*$htmldataDetailDetail = '';
		    foreach($pslipdetail as $pslipdetaillist)
		    {
		        if($pslipdetaillist['PS_FIELDTYPE'] == 1){
		            $value = Application_Helper_General::displayMoney($pslipdetaillist['PS_FIELDVALUE']);
		        }elseif($pslipdetaillist['PS_FIELDTYPE'] == 2){
		            $value = Application_Helper_General::convertDate($pslipdetaillist['PS_FIELDVALUE'],$this->view->displayDateTimeFormat,$this->view->defaultDateFormat);
		        }elseif($pslipdetaillist['PS_FIELDTYPE'] == 3){
		            $value = $pslipdetaillist['PS_FIELDVALUE'];
		        }else{
		            $value = NULL;
		        }
		        
		        if($pslipdetaillist['PS_FIELDNAME']=='Credit Card No'){
					$cc = chunk_split($pslipdetaillist['PS_FIELDVALUE'], 4, '-');
					$credit = substr($cc, 0, -1);
					
					$value = $credit;
		        }
	
		        $htmldataDetailDetail .='
				<tr>
					<td class="tbl-evencontent">&nbsp; '.$language->_($pslipdetaillist['PS_FIELDNAME']).'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.$language->_($value).'</td>
				</tr>';
		    }*/
	
		    $htmldataDetail .=
		    '<table border="1" cellspacing="0" cellpadding="0" class="tableform" width="550px">
				<tr>
					<td class="tbl-evencontent">&nbsp; '.$language->_('Payment Ref').'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.$psNumber.'</td>
				</tr>
				
				<tr>
					<td class="tbl-evencontent">&nbsp; '.$language->_('Source Account').'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.$this->param['ACCTSRC'].'['.$this->param['ccy'].'] - '.$this->param['ACCT_NAME_DATA'].' ('.$this->param['ACCT_DESC'].') </td>
				</tr>
    			<tr>
					<td class="tbl-evencontent">&nbsp; '.$language->_('Type Of Tax').'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.$this->param['operatorNama'].'</td> 
				</tr>
				<tr>
					<td class="tbl-evencontent">&nbsp; '.$language->_('Billing ID').'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.$this->param['orderId'].'</td> 
				</tr>';
				
				if ($this->param['taxType'] == "DJP"){ //0,1,2,3
				
					$htmldataDetail .=
					'<tr>
						<td class="tbl-evencontent">&nbsp; NPWP</td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">'.$this->param['dataUi']['npwp'].'</td>
					</tr>
					<tr>
						<td class="tbl-evencontent">&nbsp; Customer Name</td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">'.$this->param['dataUi']['customer_name'].'</td>
					</tr>
					<tr>
						<td class="tbl-evencontent">&nbsp; Customer Address</td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">'.$this->param['dataUi']['customer_address'].'</td>
					</tr>
			    	<tr>
						<td class="tbl-evencontent">&nbsp; Tax Object Number</td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">'.$this->param['dataUi']['NOP'].'</td>
					</tr>
			        <tr>
						<td class="tbl-evencontent">&nbsp; Account Code</td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">'.$this->param['dataUi']['account_map'].'</td>
					</tr>
					<tr>
						<td class="tbl-evencontent">&nbsp; Payment Type</td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">'.$this->param['dataUi']['type'].'</td>
					</tr>
					<tr>
						<td class="tbl-evencontent">&nbsp; Tax Period</td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">'.$this->param['dataUi']['period'].'</td>
					</tr>
					<tr>
						<td class="tbl-evencontent">&nbsp; SK Number</td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">'.$this->param['dataUi']['sk_number'].'</td>
					</tr>';
				
				}elseif ($this->param['taxType'] == "DJBC"){ //4,5,6
					$htmldataDetail .=
					'<tr>
						<td class="tbl-evencontent">&nbsp; Customer Name</td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">'.$this->param['dataUi']['customer_name'].'</td>
					</tr>
					<tr>
						<td class="tbl-evencontent">&nbsp; ID Type Customer</td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">'.$this->param['dataUi']['customer_id'].'</td>
					</tr>
			    	<tr>
						<td class="tbl-evencontent">&nbsp; Document Type</td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">'.$this->param['dataUi']['document_type'].'</td>
					</tr>
			        <tr>
						<td class="tbl-evencontent">&nbsp; Document Number</td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">'.$this->param['dataUi']['document_number'].'</td>
					</tr>
					<tr>
						<td class="tbl-evencontent">&nbsp; Document Date</td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">'.$this->param['dataUi']['document_date'].'</td>
					</tr>
					<tr>
						<td class="tbl-evencontent">&nbsp; KPBC Code</td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">'.$this->param['dataUi']['kppbc_code'].'</td>
					</tr>';
					
				}elseif ($this->param['taxType'] == "DJA"){ //7,8,9
					$htmldataDetail .=
					'<tr>
						<td class="tbl-evencontent">&nbsp; Customer Name</td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">'.$$this->param['dataUi']['customer_name'].'</td>
					</tr>
					<tr>
						<td class="tbl-evencontent">&nbsp; K/L</td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">'.$this->param['dataUi']['k_l'].'</td>
					</tr>
			    	<tr>
						<td class="tbl-evencontent">&nbsp; Echelon Unit 1</td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">'.$this->param['dataUi']['eselon_unit'].'</td>
					</tr>
			        <tr>
						<td class="tbl-evencontent">&nbsp; Code Unit</td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent">'.$this->param['dataUi']['work_unit'].'</td>
					</tr>';
				}
				
				$amount = $this->param['ccy']." ".Application_Helper_General::displayMoney($this->param['amount']);
				$htmldataDetail .=
		        '<tr>
					<td class="tbl-evencontent">&nbsp; '.$language->_('Amount').'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.$amount.'</td> 
				</tr>
				<tr>
					<td class="tbl-evencontent">&nbsp; '.$language->_('NTB/NTP').'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.$this->param['dataUi']['ntb'].'</td> 
				</tr>
		        <tr>
					<td class="tbl-evencontent">&nbsp; '.$language->_('NTPN').'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.$this->param['dataUi']['ntpn'].'</td> 
				</tr>				
				<tr>
					<td class="tbl-evencontent">&nbsp; '.$language->_('STAN').'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.$this->param['dataUi']['stan'].'</td> 
				</tr>
				
				<tr>
					<td class="tbl-evencontent">&nbsp; '.$language->_('Status').'</td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent">'.$this->language->_('Success').'</td> 
				</tr>
			</table>';
	        
		    $datapdf 	=
		    "<h2>".$language->_('Transfer From')."</h2><hr></hr>
			".$htmldataDetail;
	
		    echo $datapdf = "<tr><td>".$datapdf."</td></tr>";
		?>
    </body>
</html>