<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<html>
    <head>
	<link rel="shortcut icon" href="/favicon111.ico">
	<title>Corporate - Internet Banking</title>

        <style type="text/css">
        	input.currency{ width: 200px; font-size: 10px; }
			ul { padding-left:10px; }
			h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed }
			/*body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; }*/
			body {
			    margin: 0;
			    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
			    font-size: 1rem;
			    font-weight: 400;
			    line-height: 1.5;
			    color: #212529;
			    text-align: left;
			    background-color: #fff;
			}
			b { font-weight:bold; font-size:11px }
			td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; }
			a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; }
			/* .tbl-evencontent { background-color: #fffbef; padding: 4px 4px 4px 4px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } */
			.tbl-evencontent { padding: 4px 4px 4px 4px; vertical-align: top; font-size: 10px; }
			/* .tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } */
			.tdform-sub {background-color: #003f6e;padding: 4px 4px 4px 4px; font-weight: bold; color: white; height: 20px; text-align: left; }
			.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; }
			.errmsg { font-weight:bold; font-size:11px; color:#FF0000 }
			body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
			-webkit-print-color-adjust:exact; /*chrome*/
			-moz-print-color-adjust:exact; /*mozila*/
			-o-print-color-adjust:exact; /*opera*/
			-ms-print-color-adjust:exact; /*ie*/
			}

			p{
				margin: 0;
			}

			.balance{
				font-size: 15px;
			}
				
			.airlinesdiv{
			  border: 1px solid #e0e0e0;
			  border-radius: 10px;
			  height: 90px;
			  width: 100%;
			  margin-bottom: 10%;
			  cursor: pointer;
			}

			.airlinesdiv.suspect{
				border: 3px solid #ada6a6;
			}

			.airlinesdiv.warning{
				border: 3px solid #F7CF32;
			}

			.airlinesdiv.danger{
				border: 3px solid #ce0000;
			}

			.airlinesdiv.grey{
				border: 3px solid grey;
			}

			.textSuccess{
				color: #54b149;
			}

			.textSuspect{
				color: #7f7f7f;
			}

			.textWarning{
				color: #F7CF32;
			}

			.textDanger{
				color: #ce0000;
			}

			.adddeposit{
			  border: 1px solid #e0e0e0;
			  border-radius: 10px;
			  height: 200px;
			  width: 100%;
			  cursor: pointer;
			}

			.airlinesdepositdiv{
			  border: 1px solid #e0e0e0;
			  border-radius: 10px;
			  height: 200px;
			  width: 100%;
			}

			.indicator.danger {
				width: 19px;height: 19px;padding-top: 0px !important;padding-left: 2px;
				
				text-align: center;
				color: white;
				font-size: 1em;
				/*position: absolute;*/
				float: right;;
				top: 3px;
				right: 2px;
				z-index: 100;
			    background: #FF4136;
			    display: inline-block;
			    
			    border-radius: 50%;
			}

			.indicator.suspect {
				width: 19px;height: 19px;padding-top: 0px !important;padding-left: 2px;
				text-align: center;
				color: white;
				font-size: 1em;
				/*position: absolute;*/
				float: right;;
				top: 3px;
				right: 2px;
				z-index: 100;
			    background: #7f7f7f;
			    display: inline-block;
			    
			    border-radius: 50%;
			}

			.indicator.warning {
				width: 19px;height: 19px;padding-top: 0px !important;padding-left: 2px;
				text-align: center;
				color: white;
				font-size: 1em;
				/*position: absolute;*/
				float: right;;
				top: 3px;
				right: 2px;
				z-index: 100;
			    background: #F7CF32;
			    display: inline-block;
			    
			    border-radius: 50%;
			}

			.indicatorModal.danger {
				padding-top: 5px;
				text-align: center;
				color: white;
				font-size: 1.2em;
				/*position: absolute;*/
				float: right;;
				top: 5px;
				right: 10px;
				z-index: 100;
			    background: #FF4136;
			    display: inline-block;
			    width: 2.5em;
			    height: 2.5em;
			    border-radius: 50%;
			}

			.indicatorModal.suspect {
				padding-top: 5px;
				text-align: center;
				color: white;
				font-size: 1.2em;
				/*position: absolute;*/
				float: right;;
				top: 5px;
				right: 10px;
				z-index: 100;
			    background: #7f7f7f;
			    display: inline-block;
			    width: 2.5em;
			    height: 2.5em;
			    border-radius: 50%;
			}

			.indicatorModal.warning {
				padding-top: 5px;
				text-align: center;
				color: white;
				font-size: 1.2em;
				/*position: absolute;*/
				float: right;;
				top: 5px;
				right: 10px;
				z-index: 100;
			    background: #F7CF32;
			    display: inline-block;
			    width: 2.5em;
			    height: 2.5em;
			    border-radius: 50%;
			}

			.lastUpdated{
				/*position: absolute;*/
				float: right;;
				bottom: 3px;
				right: 12px;
				z-index: 100;
				font-size: 10px;
			}

			.iconCircle{
				margin-right: 8px;
				margin-top: 5px;
				background-color: #85878a;
			}

			.accordionDiv{
				background-color: #e0dede;
				border-radius: 10px;
				height: 40px;
				margin-top: 10px;
			}

			.col-md-12 {
			    -ms-flex: 0 0 100%;
			    flex: 0 0 100%;
			    max-width: 100%;
			}

			.col-md-4 {
			    -ms-flex: 0 0 33.333333%;
			    flex: 0 0 33.333333%;
			    max-width: 33.333333%;
			}

			.pr-0, .px-0 {
			    padding-right: 10px !important;
			}

			.pl-0, .px-0 {
			    padding-left: 10px!important;
			}

			.justify-content-center {
			    -ms-flex-pack: center!important;
			    justify-content: center!important;
			}

			.d-flex {
			    display: -ms-flexbox!important;
			    display: flex!important;
			}

			.mb-auto, .my-auto {
			    margin-bottom: auto!important;
			}

			.mt-auto, .my-auto {
			    margin-top: auto!important;
			}

			img {
			    vertical-align: middle;
			    border-style: none;
			    /*width: 100px;*/
			}

			*, ::after, ::before {
			    box-sizing: border-box;
			}

			.row {
			    display: -ms-flexbox;
			    display: flex;
			    -ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			    margin-right: 0px;
			    margin-left: 4px;
			}

			.col-md-8 {
			    -ms-flex: 0 0 66.666667%;
			    flex: 0 0 66.666667%;
			    max-width: 66.666667%;
			}

			.col-md-6 {
			    -ms-flex: 0 0 50%;
			    flex: 0 0 50%;
			    max-width: 50%;
			}
		</style>

    </head>
    <body onload="window.print();">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td align="left" valign="middle"><div style="padding: 0px 20px 0px 0px"><img src="/images/logo/logosgo_small_2.png" height="40px" border="0"/></div></td>
				<td align="center" valign="middle"><strong><?=$this->language->_($this->data_caption)?></strong></td>
				<td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s")?></strong></td>
			</tr>
		</table>
    <!-- <div class="row"> 
      <h7 style="font-weight:bold"><b><?php echo $this->language->_('Company Detail'); ?></b></h7>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
      <?= $this->compinfo[0]['CUST_NAME']; ?>
    </div> -->
    <br>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td class="tbl-evencontent"><strong>Automatic Topup Deposit Balance</strong></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><strong><?=$this->language->_($this->data_compname)?></strong></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><strong> Show : <?=$this->language->_($this->data_status)?></strong></td>
		</tr>
	</table>
	<br>
    <div class="portlet-body">
	    <div class="row">
			<div class="row col-md-12" id="airlinesListDiv">
					<?php 
						require_once 'Crypt/AESMYSQL.php';
	                    $AESMYSQL = new Crypt_AESMYSQL();
	                    $rand = $this->token;
					?>

					<?php foreach ($this->airlinesData as $key => $value) { 

							$encrypted_airline = $AESMYSQL->encrypt($value['AIRLINE_CODE'], $rand);                
							$encairline = urlencode($encrypted_airline);
					?>

							<div class="col-md-4 pr-0">
								<div class="airlinesdiv <?php echo $value['BALANCE_STATUS'] ?> d-flex justify-content-center" data-toggle="modal" data-target="#detailModal" data-airline="<?php echo $value['AIRLINE_CODE'] ?>" data-encairline="<?php echo $encairline; ?>" data-balance="<?php echo $value['CURRENT_BALANCE'] ?>" data-status="<?php echo $value['BALANCE_STATUS'] ?>">
									<div class="row col-md-12 pr-0">

										<div class="col-md-12" style="float: right;">
											<?php if(!empty($value['BALANCE_STATUS'])){ ?>
												<span align="center" class="indicator <?php echo $value['BALANCE_STATUS']; ?>">!</span>
											<?php } ?>
										</div>
										<div class="col-md-6 my-auto pl-0" align="left">

											<img class="img-responsive" src="<?php echo $this->airlinesImg[$value['AIRLINE_CODE']]; ?>" width="75px">
											<br>
											
										</div>
										<div class="col-md-6 my-auto pr-1">
											<p class="balance <?php echo (!empty($value['BALANCE_STATUS']) ? 'text'.ucfirst($value['BALANCE_STATUS']) : '') ?>"><b>IDR <?php echo Application_Helper_General::displayMoney($value['CURRENT_BALANCE']); ?></b></p>
										</div>

										<div class="col-md-12">
											<p class="lastUpdated" style="float: right;"><?php echo $this->language->_('Last Update: '.$value['LAST_UPDATED']);?></p>
										</div>
									</div>
								</div>
							</div>

					<?php } ?>

			</div>

		</div>
	</div>

    </body>
</html>