<?php
$ns = new Zend_Session_Namespace('language');
$sessionLanguage = $ns->langCode;
?>

<style>
	label {
		font-size: 1.2em;
		margin-bottom: 0.3rem;
	}

	h5 {
		font-size: 1.10rem;
		line-height: unset;
		margin-bottom: 0;
	}

	.textGray {
		color: #8e8e8e;
	}

	.form-group {
		margin-bottom: 0em;
	}

	.iconCircle {
		background-color: lightgray;
		color: red;
		margin-top: 3px;
		min-width: 23px;
		height: 20px;
	}
</style>
<link href="/css/select2_353.min.css" rel="stylesheet" />
<div class="row justify-content-center">
	<div class="col-md-11">
		<div class="page-bar">
			<ul class="page-breadcrumb px-0">
				<li>
					<span><?= $this->language->_('Beranda') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="inhouse"><?= $this->language->_('Laporan') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="inhouse"><?= $this->language->_('Daftar BG') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="inhouse"><?= $this->language->_('Klaim') ?></span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row justify-content-center">
	<div class="col-md-11">
		<!-- Pengajuan Kalim Bank Garansi -->
		<div class="row mb-2">
			<div class="col-md-6">
				<h5 style="margin-left: 15px;"><?= $this->language->_('Pengajuan Klaim Bank Garansi') ?></h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Klaim atas Nomor BG') ?></label>
			</div>
			<div class="col-md-9">
				<label><strong class="text-danger"><?= substr($this->bgNumber, 0, 3) . "-" . substr($this->bgNumber, 3, 6) . "-" . substr($this->bgNumber, 9, 5) . "-" . substr($this->bgNumber, 14)  ?></strong></label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Bentuk Penerbitan') ?></label>
			</div>
			<div class="col-md-9">
				<label><?= $this->publishDesc ?> <?= $this->nomorRefKertas ?></label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Subjek') ?></label>
			</div>
			<div class="col-md-9">
				<label><strong><?= $this->bgSubject; ?></strong></label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Principal') ?></label>
			</div>
			<div class="col-md-9">
				<label><?= $this->insuranceName ?> (<?= $this->data['CUST_ID'] ?>)</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Obligee') ?></label>
			</div>
			<div class="col-md-9">
				<label><?= $this->recipientName ?> <?= $this->data['SP_OBLIGEE_CODE'] ? '(' . $this->data['SP_OBLIGEE_CODE'] . ')' : '' ?></label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label class="textGray" style="margin-left: 15px;"><?= $this->language->_("Bank Cabang Penerbit"); ?></label>
			</div>
			<div class="col-md-9">
				<label><?= $this->branchName; ?></label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label class="textGray" style="margin-left: 15px;"><?= $this->language->_('Jenis Pemeriksaan') ?></label>
			</div>
			<div class="col-md-9">
				<input type="text" class="form-control form-control-sm shadow-none" readonly value="<?= $this->typeCheck ?>" style="font-size: 1.2em;">
			</div>
		</div>

		<form action="" id="klaimForm" method="post" enctype="multipart/form-data">
			<input type="hidden" name="jenis_pemeriksaan" value="<?= $this->typeCheck ?>">
			<input type="hidden" name="valuta_transaksi" value="<?= $this->currency ?>">
			<!-- Jenis Bank Garansi -->
			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust bg-danger my-2" style="border-radius: 3px;">
						<h5><?= $this->language->_('Jenis Bank Garansi') ?></h5>
					</div>
					<div style="padding-left:2%; padding-top:2px;">
						<div class="row">
							<div class="col-md-3">
								<label class="textGray">Jenis BG</label>
							</div>
							<div class="col-md-9">
								<div class="input-group" id="">
									<label><?= ($this->data['USAGE_PURPOSE'] == 'F4299') ? ucwords(strtolower($this->data['USAGE_PURPOSE_DESC'])) : $this->arrbgType[$this->data['USAGE_PURPOSE']]; ?></label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Nilai dan Masa Berlaku bank Garansi -->
			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust bg-danger my-2" style="border-radius: 3px;">
						<h5><?= $this->language->_('Nilai dan Masa Belaku Bank Garansi') ?></h5>
					</div>
					<div style="padding-left:2%; padding-top:2px;">
						<div class="row">
							<div class="col-md-3">
								<label class="textGray">Nominal Bank Garansi</label>
							</div>
							<div class="col-md-9">
								<div class="input-group" id="">
									<label class="text-danger"><?= $this->currency . ' ' . number_format($this->bankAmount, 2); ?></label>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-3">
								<label class="textGray">Berlaku Sejak</label>
							</div>
							<div class="col-md-9 form-inline" style="float:left">
								<label>
									<?= $this->updateStart; ?>
									&nbsp;hingga&nbsp;
									<?= $this->updateEnd; ?></label>
								&nbsp;&nbsp;&nbsp;
								<label class="textGray" id="daysTotal">&nbsp;</label>
								<?= $this->daysTotal; ?>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-3">
								<label class="textGray">Batas Tanggal Klaim</label>
							</div>
							<div class="col-md-9">
								<?php
								$addday = '+ ' . $this->claimPeriod . ' day';
								$Date2 = date('Y-m-d', strtotime($this->updateEnd . $addday));
								?>
								<label><?= date('d M Y', strtotime($this->BG_CLAIM_DATE)); ?></label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Kontra Garansi -->
			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust bg-danger my-2" style="border-radius: 3px;">
						<h5><?= $this->language->_('Kontra Garansi') ?></h5>
					</div>
					<div style="padding-left:2%;">
						<div class="form-group row">
							<div class="col-md-3">
								<label class="textGray"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
							</div>
							<div class="col-md-9">
								<label><?= $this->counterWarrantyType; ?></label>
							</div>
							<?php if ($this->data['COUNTER_WARRANTY_TYPE'] == '2') : ?>
								<?php if (!empty($this->owner1)) { ?>
									<div class="col-sm-3">
										<label class="textGray"><?= $this->language->_('Pemilik Plafound Limit') ?></label>
									</div>
									<div class="col-sm-9">
										<label><?= $this->owner1; ?></label>
									</div>
								<?php } ?>

								<?php if (!empty($this->owner2)) { ?>
									<div class="col-sm-3">
										<label class="textGray"><?= $this->language->_('Pemilik Plafound Limit 2') ?></label>
									</div>
									<div class="col-sm-9">
										<label><?= $this->owner2; ?></label>
									</div>
								<?php } ?>

								<?php if (!empty($this->owner3)) { ?>
									<div class="col-sm-3">
										<label class="textGray"><?= $this->language->_('Pemilik Plafound Limit 3') ?></label>
									</div>
									<div class="col-sm-9">
										<label><?= $this->owner3; ?></label>
									</div>
								<?php } ?>
							<?php elseif ($this->data['COUNTER_WARRANTY_TYPE'] == '3') : ?>
								<div class="col-sm-3">
									<label class="textGray"><?= $this->language->_('Nama Asuransi') ?></label>
								</div>
								<div class="col-sm-9">
									<label><?= $this->namaAsuransi; ?></label>
								</div>
								<div class="col-sm-3">
									<label class="textGray"><?= $this->language->_('Cabang Asuransi') ?></label>
								</div>
								<div class="col-sm-9">
									<label><?= $this->insuranceBranch ?></label>
								</div>
							<?php endif; ?>
						</div>
					</div>
				</div>
			</div>

			<!-- Lampiran Dokumen Klaim -->
			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust mt-2" style="border-radius: 3px; background-color: #0000ff;">
						<h5><?= $this->language->_('Lampiran Dokumen Klaim') ?></h5>
					</div>
					<div>
						<table class="table table-sm mb-0" style="font-size: 1.2em;">
							<thead>
								<tr>
									<td class="textGray"><i><?= $this->language->_('Nama Dokumen') ?></i></td>
									<td class="textGray"><i><?= $this->language->_('Unggah Dokumen (format .pdf maks. 10mb)') ?></i></td>
								</tr>
							</thead>
							<tbody class="table-secondary">
								<tr>
									<td><?= $this->language->_('Surat Pernyataan Klaim Obligee') ?> <font class="text-danger">*</font>
									</td>
									<td>
										<input type="file" name="dokumen_klaim[]" id="pernyataanKlaim" class="form-control shadow-none" onchange="checkFile(this); counterInput();" required>
										<small class="text-danger" id="errorpernyataanKlaim" style="display: none;">error</small>
									</td>
								</tr>
								<tr>
									<td><?= $this->language->_('Surat Pengantar Dokumen Klaim') ?>
									</td>
									<td>
										<input type="file" name="dokumen_klaim[]" id="pengantarKlaim" class="form-control shadow-none" accept="application/pdf" onchange="checkFile(this); counterInput();">
										<small class="text-danger" id="errorpengantarKlaim"></small>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- Rekening Tujuan Pembayaran Kalim -->
			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust my-2" style="border-radius: 3px; background-color: #0000ff;">
						<h5><?= $this->language->_('Rekening Tujuan Pembayaran Klaim') ?></h5>
					</div>
					<div style="padding-left:2%">
						<div class="form-group row mb-1">
							<div class="col-md-3">
								<label class="textGray"><?= $this->language->_('Bank Penerima') ?> <font class="text-danger">*</font></label>
							</div>
							<div class="col-md-9">
								<select name="bank_penerima" id="bankPenerima" class="w-100 select2" onchange="checkBank(this)">
									<?php foreach ($this->domesticBanks as $domesticBank) : ?>
										<option value="<?= $domesticBank['SWIFT_CODE'] ?>" <?= $domesticBank['SWIFT_CODE'] == 'BTANIDJA' ? 'selected' : '' ?>><?= $domesticBank['BANK_NAME'] ?></option>
									<?php endforeach ?>
								</select>
							</div>
						</div>
						<div class="form-group row mb-1">
							<div class="col-md-3">
								<label class="textGray"><?= $this->language->_('Rekening Penerima') ?> <font class="text-danger">*</font> </label>
							</div>
							<div class="col-md-9">
								<input type="text" class="form-control shadow-none" name="rekening_penerima" id="rekeningPenerima" maxlength="16" onkeypress="cekNumb(event);" onkeyup="counterInput()" autocomplete="off" required>
								<span class="text-danger" id="errRekeningPenerima"></span>
							</div>
						</div>
						<div class="form-group row mb-1">
							<div class="col-md-3">
								<label class="textGray"><?= $this->language->_('Nama Penerima') ?> <font class="text-danger">*</font> </label>
							</div>
							<div class="col-md-9">
								<input type="text" class="form-control shadow-none" name="nama_penerima" id="namaPenerima" onkeyup="counterInput();" onkeypress="cekChar(event);" autocomplete="off" pattern="[A-Za-z]+" required>
							</div>
						</div>
						<div class="form-group row mb-1" id="rowAlamat">
							<div class="col-md-3">
								<label class="textGray"><?= $this->language->_('Alamat Penerima') ?></label>
							</div>
							<div class="col-md-9">
								<input type="text" class="form-control shadow-none" name="alamat_penerima" id="alamatPenerima" onkeyup="counterInput();" maxlength="40">
							</div>
						</div>
						<div class="form-group row mb-1">
							<div class="col-md-3">
								<label class="textGray"><?= $this->language->_('Nominal Pembayaran') ?> <font class="text-danger">*</font></label>
							</div>
							<div class="col-md-9">
								<input type="text" class="form-control shadow-none" name="nominal_pembayaran" id="nominalPembayaran" value="<?= number_format($this->bankAmount, 2) ?>" onfocus="reverseFormatNumber(this);" onblur="numberWithCommas2(this.value,this.id);" onkeypress="return forceCurrencyOCBC(event)" onkeyup="cekAmountLimit(this.value)" autocomplete="off">
								<span class="text-danger" id="errNominalPembayaran"></span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-3">
								<label class="textGray"><?= $this->language->_('Berita') ?></label>
							</div>
							<div class="col-md-9">
								<input name="berita" id="berita" class="form-control shadow-none" value="<?= 'Klaim BG No.' . $this->data['BG_NUMBER'] ?>" readonly>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Pernyataan Pejabat Bank -->
			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust my-2" style="border-radius: 3px; background-color: #0000ff;">
						<h5><?= $this->language->_('Pernyataan Pejabat Bank') ?></h5>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<label><input type="checkbox" name="chkterms" id="chkterms" value="" disabled>&nbsp;<?= $this->language->_('Saya telah melakukan verifikasi terhadap semua data dan dokumen klaim. Semua persyaratan telah dilengkapi') ?></label>
				</div>
			</div>

			<center>
				<?php if ($this->err) { ?>
					<p id="error_type_bg" class="errmsg py-2">Error validasi , Silahkan cek kembali</p>
				<?php } ?>
				<p id="errorNotifValidasi" class="errmsg py-2"></p>
			</center>

			<div class="row">
				<div class="col-md-12" align="center">
					<?php
					require_once 'Crypt/AESMYSQL.php';
					$AESMYSQL = new Crypt_AESMYSQL();
					$encrypted = $AESMYSQL->encrypt($this->numb, $this->token);
					$encrypted_id = urlencode($encrypted);
					?>
					<input class="btnwhite hov" value="<?= $this->language->_('KEMBALI') ?>" onclick="location.href='<?= $this->url(array('module' => 'bgreport', 'controller' => 'detail', 'action' => 'index', 'bg' => $encrypted_id), null, true); ?>'" type="button">
					&nbsp;&nbsp;
					<button class="btngreen hov disabled" type="button" id="klaimButton" name="release" value="release" style="cursor: not-allowed;" disabled>&nbsp;<?= $this->language->_('KIRIM'); ?></button>
				</div>
			</div>
		</form>
	</div>
</div>

<input type="button" style="display:none;" id="forcelogout" onClick="window.location.href='<?= $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'logout'), null, true); ?>'" class="btngreen hov" value="<?= $this->language->_('Repair'); ?>">
<script src="/js/select2_353.min.js"></script>
<script type="text/javascript">
	let errValidate = 0;

	$(document).ready(function() {
		var start = new Date('<?= $this->TIME_PERIOD_START; ?>');
		var end = new Date('<?= $this->TIME_PERIOD_END; ?>');
		var total = (end - start) / (1000 * 60 * 60 * 24);
		if (start && end) {
			var total = total + 1;
			$('#daysTotal').html("(<i>tenor :" + total + " hari</i>)")
		}

		if ($('#error_validasi').is(':visible')) {
			$('#chkterms').attr('disabled', true);
		}

		if ($('#bankPenerima').val() == 'BTANIDJA') $('#rowAlamat').hide();

		$('.select2').select2({
			placeholder: 'Cari Bank',
			allowClear: true,
		});
		$('.select2-search-choice-close').remove();

	});

	function reverseFormatNumber(element) {
		var group = new Intl.NumberFormat("EN").format(1111).replace(/1/g, "");
		var decimal = new Intl.NumberFormat("EN").format(1.1).replace(/1/g, "");
		var reversedVal = element.value.replace(new RegExp("\\" + group, "g"), "");
		reversedVal = reversedVal.replace(new RegExp("\\" + decimal, "g"), ".");
		let save = Number.isNaN(reversedVal) ? 0 : reversedVal;
		element.value = save;
	}

	function numberWithCommas2(x, id) {
		const formattermoney = new Intl.NumberFormat("EN", {
			minimumFractionDigits: 2,
			maximumFractionDigits: 2,
		});

		var tag = '#' + id;
		var x = formattermoney.format(x);

		$(tag).val(x);
	}

	function cekAmountLimit(value) {
		let inputAmount = parseFloat(value.replace(/,/g, ''))
		let maxAmount = "<?= $this->bankAmount ?>";
		if (inputAmount > maxAmount) {
			alert('Maksimal klaim tidak boleh melebihi Nominal BG')
			// $('#errNominalPembayaran').text('Maksimal klaim tidak boleh melebihi Nominal BG')
			// $('#nominalPembayaran').val(maxAmount)
			// errValidate = 1;
			document.querySelector('#nominalPembayaran').value = maxAmount
			counterInput();
		} else {
			counterInput()
		}
	}

	function cekChar(event) {
		if (event.key.length === 1 && !/[a-zA-Z ]/.test(event.key)) {
			event.preventDefault();
		}
	}

	function cekNumb(event) {
		if (event.key.length === 1 && !/\d/.test(event.key)) {
			event.preventDefault();
		}
	}

	function counterInput() {
		let inputData = 0
		$('#pernyataanKlaim, #rekeningPenerima, #namaPenerima, #nominalPembayaran').each(function() {
			if ($(this).val() != '') inputData++
		})

		if (inputData == $('#pernyataanKlaim, #rekeningPenerima, #namaPenerima, #nominalPembayaran').length && errValidate == 0) {
			$('#chkterms').removeAttr('disabled')
		} else {
			errValidate = 0
			$('#chkterms').attr('disabled', true).prop('checked', false)
			$('#klaimButton').attr('disabled', true).addClass('disabled').css('cursor', 'not-allowed');
		}
	}

	$('#chkterms').change(function(event) {
		if (event.target.checked) {
			$('#klaimButton').attr('disabled', false).removeClass('disabled').removeAttr('style');
		} else {
			$('#klaimButton').attr('disabled', true).addClass('disabled').css('cursor', 'not-allowed');
		}
	})

	function checkFile(param) {
		let type = param.files[0]?.type
		let size = param.files[0]?.size

		if (!size) {
			counterInput();
			return;
		}

		if (type != 'application/pdf') {
			param.value = ''
			$(`#error${param.id}`).show().text('File harus dalam format .pdf')
		} else if (size > 10485760) {
			param.value = ''
			$(`#error${param.id}`).show().text('Tidak diperkenankan unggah file berukuran melebihi 10Mb')
		} else {
			counterInput();
		}
	}

	function checkBank(param) {

		$('#errRekeningPenerima').text('');

		if (param.value != 'BTANIDJA') {
			$('#rekeningPenerima').removeAttr('maxlength')
			$('#rowAlamat').show()
		} else {
			$('#rekeningPenerima').attr('maxlength', '16')
			$('#rowAlamat').hide()
		}
	}

	$('#klaimButton').click(function() {
		$('#klaimButton').attr('disabled', true).addClass('disabled')
		let noAccount = $('#rekeningPenerima').val()
		let nameAccount = $('#namaPenerima').val()

		const swiftcode = document.querySelector('#bankPenerima').value;
		const acct_name = document.querySelector('#namaPenerima').value;

		$('#errRekeningPenerima').text('');

		if (swiftcode.toLowerCase() == 'btanidja') {
			if (noAccount.length != 16) {
				$('#errRekeningPenerima').text('Nomor rekening harus 16 digit');
				errValidate = 1;
				counterInput();
				$('#klaimButton').attr('disabled', true).addClass('disabled');
				return;
			}
		}

		$.ajax({
			url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquiryaccountinfo'), null, true) ?>",
			type: 'GET',
			dataType: "JSON",
			data: {
				acct_no: `${noAccount}`,
				swiftcode,
				acct_name
			},
			success: function(data) {
				// if (data.response_code == "0000") {
				if (swiftcode.toLowerCase() == 'btanidja') {
					if (data.account_name != nameAccount) {
						$('#errRekeningPenerima').text('Nama dan nomor rekening tidak sesuai')
						errValidate = 1;
						counterInput();
						$('#klaimButton').attr('disabled', true).addClass('disabled')

					} else if (data.status != 1 && data.status != 4) {
						$('#errRekeningPenerima').text('Status rekening tidak aktif')
						errValidate = 1;
						counterInput();
						$('#klaimButton').attr('disabled', true).addClass('disabled')

					} else if (data.type_desc === 'Deposito' || data.type === 'T') {
						$('#errRekeningPenerima').text('Transfer Dana hanya dapat ditujukan ke Rekening SACA')
						errValidate = 1;
						counterInput();
						$('#klaimButton').attr('disabled', true).addClass('disabled')

					} else if (data.currency != 'IDR') {
						$('#errRekeningPenerima').text('Valuta rekening harus sama dengan valuta BG')
						errValidate = 1;
						counterInput();
						$('#klaimButton').attr('disabled', true).addClass('disabled')

					} else {
						$('#errRekeningPenerima').text('')
						if (errValidate == 0) {
							$('#klaimForm').append(`<input type="hidden" name="valuta_rekening_penerima" value="${data.currency}">`)
							$('#klaimButton').text('Mengalihkan').attr('disabled', true).addClass('disabled')
							$('#klaimForm').submit()
						}
					}
				} else {
					if (data.valid) {
						$('#errRekeningPenerima').text('')
						if (errValidate == 0) {
							$('#klaimForm').append(`<input type="hidden" name="valuta_rekening_penerima" value="IDR">`)
							$('#klaimButton').text('Mengalihkan').attr('disabled', true).addClass('disabled')
							$('#klaimForm').submit()
						}
					} else {
						$('#errRekeningPenerima').text(data.message)
						errValidate = 1;
						counterInput();
						$('#klaimButton').text('<?= $this->language->_('KIRIM'); ?>').removeAttr('disabled').removeClass('disabled');
						$('#klaimButton').attr('disabled', true).addClass('disabled');
					}
				}
				// } else {
				// 	alert('Error : Akun tidak ditemukan');
				// 	counterInput();
				// 	$('#klaimButton').text('<?= $this->language->_('KIRIM'); ?>').removeAttr('disabled').removeClass('disabled')
				// }
			},
			error: function(xhr, ajaxOptions, thrownError) {
				console.info(thrownError);
				alert("Failed to get data");
			},
		});
	})
</script>