	
<b>
<ol class="breadcrumb" >
  <li><a href="#" class="form-horizontal form-bordered form-row-stripped" style="font-size: 11px;"><?php echo $this->language->_('Predefined Beneficiary')?></a></li>
  <li><?php echo $this->language->_('Local Remittance Account ')?></li>
  <li><?php if($this->mode=='Add') echo 'Add'; else echo 'Edit'; ?> <?php echo $this->language->_(' Local Remittance Account'); ?></li>
</ol>
</b>
<br>	
	<table border="0" cellpadding="0" cellspacing="0" width="50%" align="left">
		<tbody>
			
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			
			<tr>
				<td id="contentarea">
					<div class="portlet-body form">
					<form class="form-horizontal form-bordered form-row-stripped" name="addbeneficiary" method="post" action="">
					<div class="portlet light form-fit bordered">
				
				<div class="portlet-body form">
                      <!-- Default panel contents -->
                      <div class="panel-heading" style="
                    	    color: #fff;
                    	    background-color: #337ab7;
                    	    border-color: #337ab7;
                    	    border: 1;
                    	">
                    	
                    	<strong> <?php echo $this->language->_('Destination Information'); ?></strong></div>
					
					 <div class="form-group">
	    <label class="control-label col-md-3"><?php echo $this->language->_('Beneficiary Name'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
	          <div class="col-md-9">
                <b><?php echo $this->formLabel('ACBENEF',$this->ACBENEF)?>
								</b>
              </div>
              </div>

               <div class="form-group">
	    <label class="control-label col-md-3"><?php echo $this->language->_('NRC'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
	          <div class="col-md-9">
                <b><?php echo $this->formLabel('NRC',$this->NRC)?>
								</b>
              </div>
              </div>

               <div class="form-group">
	    <label class="control-label col-md-3"><?php echo $this->language->_('No Handphone'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
	          <div class="col-md-9">
                <b><?php echo $this->formLabel('PHONE',$this->PHONE)?>
								</b>
              </div>
              </div>

</div>
</div>
					<table border="0" cellpadding="0" cellspacing="0" width="100%" class="table table-bordered table-condensed flip-content">
						<tbody>
							
							
				
							<tr style="display:none">
								<td class="button-area" id="button-area" colspan="2">
									<?php
										  //echo $this->action('index','gentoken','tools');
										if(isset($this->errMsg['responseCode'])){
											echo '<div style="font-weight:bold;color:WHITE;font-size:14px;text-outline: 2px 2px #ff0000;">';
													foreach($this->errMsg['responseCode'] as $errMsg){
														echo 'Response Code : '.$errMsg;
													}									
											echo "</div>";
										}
									?>
									<!-- <table border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td nowrap="nowrap" valign="top">
													<fieldset>
														<legend><span class="tdform-sub"> Use Your Mobile Token!</span></legend>
														<br>
														<table border="0" cellpadding="2" cellspacing="2" width="100%">
															<tbody>
																<!-- <tr><td>Challenge Code:</td></tr>
																<tr><td><input name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>
																 -->
																<!-- <tr><td>
																<a href="#" onClick="javascript:openwindow('<?//=$this->url(array('module'=>$this->modulename,'controller'=>'requestactivationcode','action'=>'index','user_id' => $this->userId),null,true);?>',640,380)">Request mToken</a>
																<br>
																<font style='color:black'>Enter Your Token :</font></td></tr>
																<tr><td>
																<input name="responseCode" size="12" maxlength="8" onkeypress="return forceNumber(event);" style="text-align: center; font-weight: bold; font-size: 16px;" type="text">
																<?php 
	//															//$this->formText('responseCode',$this->responseCode,array('maxlength'=>'8','size'=>'12','onkeypress'=>"return forceNumber(event)")); 
																?>
																</td></tr>
															</tbody>
														</table>
													</fieldset>
												</td>
											</tr>
										</tbody> -->
										</td>
									</tr>
									</table>
									<div class="formbutton">
										<input type="submit" value="<?php echo $this->language->_('Back'); ?>" name="submit1" class="btn btn-warning" />
										<input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btn btn-warning"/>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					</form>
				</div>
				</td>
			</tr>
		</tbody>
	</table>
