<?php $this->layout()->setLayout('popup');?>
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Backend User Changes Detail'); ?></div>
<h2><?php echo $this->language->_('Changes Information'); ?></h2>
<?php 
  echo $this->action('message',
                   'tools',
                   'changemanagement',
                   array('changes_id' => $this->changes_id));
?>
<br />
<br />
<h2><?php echo $this->language->_('Unsuspend Backend User Detail'); ?></h2>
<table border="0" cellspacing="0" cellpadding="0" class="table table-sm table-striped"
	width="600">
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('User ID'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['BUSER_ID'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Branch'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['BRANCH_NAME'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Group'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['BGROUP_DESC'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Name'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['BUSER_NAME'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; E-Mail</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['BUSER_EMAIL'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; NIK</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['BUSER_NIK']; ?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Description'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['BUSER_DESC'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Create Date'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo Application_Helper_General::convertDate($this->result3['USER_CREATED'],$this->displayDateTimeFormat,'dd MMM yyyy HH:mm:ss');?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Creator'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result3['USER_CREATEDBY'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Last Suggestion'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo Application_Helper_General::convertDate($this->result3['USER_SUGGESTED'],'dd MMM yyyy HH:mm:ss');?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Last Suggester'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result3['USER_SUGGESTEDBY'];?></td>
	</tr>
	<!-- <tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Last Approval'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo Application_Helper_General::convertDate($this->result3['USER_UPDATED'],'dd MMM yyyy HH:mm:ss');?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Last Approver'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result3['USER_UPDATEDBY'];?></td>
	</tr> -->
</table>
<br />
<br />
  <?php 
		echo $this->action('index',
			                'tools',
			                'changemanagement',
			                array('changes_id' => $this->changes_id));
  ?>