<script type="text/javascript">

//akan di onload pertama kali
$(document).ready(function()
{   
	 //pengaturan error messages
	 <?php 
	     foreach($this->report_msg as $key => $error)
	     {
	   ?>
	         $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
	<?php      
	     } 
	   ?>
});

</script>

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Customer Setup'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                     <span class="valas" ><?=$this->language->_('Corporate Debit Card')?></span>
						 <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
					<li>
	                     <span class="valas" ><?=$this->language->_('Edit')?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>
    <br/>


<h5><?= $this->language->_('Corporate Debit Card') ?>&nbsp;-&nbsp;<?= $this->language->_('Edit') ?></h5>


<?php if($this->success){ ?>
	<div class="successmsg"><?php echo $this->language->_('Record Updated');?></div><br />
<?php } ?>
<?php if(count($this->report_msg) > 0){ ?>
	<div class="errmsg"><?php echo $this->errormsg;?></div><br />
<?php } ?>
<form name="editcountry" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','regid'=>$this->data['REG_NUMBER']),null,true)?>">          
<?php echo $this->formHidden('regid',$this->regid); ?>
<div class="container-fluid" style="padding-left: 0; padding-right: 0;padding-top:0px!important;padding-bottom:0px!important">
      <div class="col-md-12" style="padding-left: 3%; border: 1px solid; border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
        <div class="row">
          <div class="col-md-12" style="padding-top: 15px;">
            <table style="width:100%!important">
              
              <tr>
                <td class="homeCardText" style="width:30%!important;padding-top: 5px!important;padding-bottom: 5px!important;">Registration Reff</td>
                
                <td class="homeCardText" colspan="4" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->data['REG_NUMBER']; ?></td>
              </tr>
              <tr>
                <td class="homeCardText" style="width:30%!important;padding-top: 5px!important;padding-bottom: 5px!important;">Customer</td>
                
                <td class="homeCardText" colspan="4" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->data['CUST_NAME']; ?></td>
              </tr>
              <tr>
                <td class="homeCardText" style="width:30%!important;padding-top: 5px!important;padding-bottom: 5px!important;"><?= $this->language->_('Master Account') ?></td>
                
                <td class="homeCardText" colspan="4" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->data['VA_NUMBER'].' - '.$this->data['VA_NAME']; ?></td>
              </tr>
              <tr>
				<td colspan="2">
				&nbsp;
				</td>
			  </tr>
			  <tr>
				<td colspan="2">
				&nbsp;
				</td>
			  </tr>
			  <tr>
				<td colspan="2">
				Parameter Setting
				</td>
			  </tr>
			
			<tr>
			    <td class="tbl-evencontent"><?php echo $this->language->_('Card Ownership');?>&nbsp;<span class="errmsg">*</span></td>
				
			    <td class="tbl-evencontent" colspan="2" style="width:20%;">
			    	 <label class="radiocontainer"><?php echo $this->language->_('Corporate'); ?>
						<input type="radio" value="1" onclick="cardcheck(1)" id="card_type0" <?php if(!empty($this->checktype2)){ echo 'disabled';} ?>  name="cust_card" <?php  echo $this->checktype1; ?>  >
						<span class="checkmark"></span>
					  </label>
			    </td>
				<td class="tbl-evencontent" colspan="2" >
				<label class="radiocontainer"><?php echo $this->language->_('Card Holder'); ?>
						<input type="radio" value="2" onclick="cardcheck(2)" id="card_type2" name="cust_card" <?php  echo $this->checktype2; ?> >
						<span class="checkmark"></span>
					  </label>
					<div id="error_city_name" class="errmsg"></div>
				</td>
			</tr>
			<?php
                    //echo $this->edc;
                    if ($this->debit_type == '2') {
                      $disabled = 'disabled';
                    } else {
                      $disabled = '';
                    }
                    ?>
			<tr>
			    <td class="tbl-evencontent" ><?php echo $this->language->_('EDC');?>&nbsp;<span class="errmsg">*</span></td>
			    
			    <td class="tbl-evencontent" colspan="4" >
			    	<label class="switch" name="rls_token">
                    <?php
                    //echo $this->edc;
                    if ($this->edc == '1') {
                      $checked = 'checked';
                    } else {
                      $checked = '';
                    }
                    ?>
                    <input type="checkbox" name="edc" id="edc" value="<?php echo $this->edc;?>" <?php echo $checked;?> <?php echo $disabled;?>> <?php //echo $checked; ?>>
                    <span class="slider round" <?php echo $style; ?>></span>
                  </label>
					<div id="error_region_name" class="errmsg"></div>
			    </td>
			</tr>
			<tr>
			    <td class="tbl-evencontent"><?php echo $this->language->_('ATM');?>&nbsp;<span class="errmsg">*</span></td>
			    
			    <td class="tbl-evencontent" colspan="4" >
			    	<label class="switch" name="rls_token">
                    <?php
                    //echo $this->purchase;
                    if ($this->purchase == '1') {
                      $checked = 'checked';
                    } else {
                      $checked = '';
                    }
                    ?>
                    <input type="checkbox" name="purchase" value="<?php echo $this->purchase;?>" id="purchase" <?php echo $checked;?> <?php echo $disabled;?>> <?php //echo $checked; ?>>
                    <span class="slider round" <?php echo $style; ?>></span>
                  </label>
					<div id="error_contact" class="errmsg"></div>
			    </td>
			</tr>
			
            </table>
          </div>
          

        </div>
      </div>
    </div>
	<br/>
	<div class="row col-md-12" style="text-align:center;width:100%">
		<div class="formbutton " style="width:100%">
		<?php
			require_once 'Crypt/AESMYSQL.php';
				$AESMYSQL = new Crypt_AESMYSQL();
				$rand = $this->token;
				$encrypted_pwd = $AESMYSQL->encrypt($this->regid, $rand);
				// $dt["payReff"] = urlencode($encrypted_pwd);
				$encreff = urlencode($encrypted_pwd);
		?>
		<?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/corporatedcard/view/index/id/'.$encreff.'\'','class'=>'btnwhite hov')); ?>
		<input type="reset" value="<?php echo $this->language->_('Reset');?>" name="reset" class="btnwhite hov"/>		
		<input type="submit" value="<?php echo $this->language->_('Submit');?>" name="submit" class="btngreen hov"/>
				
		</div>
	</div>
	</form>

<script type='text/javascript'>
  function cardcheck(card_type){ // validasi edc dan atm tidak bisa di non aktifkan
	   if(card_type==2){ // 1=Corporate,2=Card Holder
			document.getElementById("edc").setAttribute("disabled", "disabled");
			document.getElementById("purchase").setAttribute("disabled", "disabled");
			
	   }else{
			document.getElementById("edc").removeAttribute("disabled");
			document.getElementById("purchase").removeAttribute("disabled");
	   }
		
  }
</script>
