<style>
    .back-grey>div:nth-of-type(odd){
        background-color: rgba(0,0,0,.05);
    }

    .back-grey-table>tr:nth-of-type(odd){
        background-color: rgba(0,0,0,.05);
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?= $this->language->_('Home') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?= $this->language->_('Approval Request') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?= $this->language->_('Online Registration') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas"><?= $this->language->_('Detail') ?></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row mb-4 mt-3">
    <div class="col-md-12 px-4 font-weight-bold">
        Online registration - Bank Guarantee Applicant
    </div>
</div>
<div class="row">
    <form action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'detail'),null,true)?>" method="POST" class="col-12 p-0">
        <div class="col-md-12 px-4">
            <div class="back-grey">
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Registration Number</div>
                    <div class="col-9 p-0">ONLREG123456</div>
                </div>
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Suggestion Status</div>
                    <div class="col-9 p-0">Read Suggestion</div>
                </div>
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Registration Status</div>
                    <div class="col-9 p-0">Repaired Suggestion</div>
                </div>
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Repair Notes</div>
                    <div class="col-9 p-0">Perbaharui dengan data terbaru</div>
                </div>
            </div>
            <div class="col-12 p-0 tablehead font-weight-bold px-1 py-1">
                Company Data
            </div>
            <div class="back-grey">
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Customer Model</div>
                    <div class="col-9 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Company Name</div>
                    <div class="col-9 p-0 font-weight-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Company NPWP</div>
                    <div class="col-9 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Company Type</div>
                    <div class="col-9 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Economic Sector</div>
                    <div class="col-9 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Go Public</div>
                    <div class="col-9 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Golongan Debitur Code</div>
                    <div class="col-9 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Address</div>
                    <div class="col-9 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Kelurahan</div>
                    <div class="col-9 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Kecamatan</div>
                    <div class="col-9 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Kabupaten / City</div>
                    <div class="col-9 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Zip</div>
                    <div class="col-9 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Country</div>
                    <div class="col-9 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
                </div>
            </div>
            <div class="col-12 p-0 tablehead font-weight-bold px-1 py-1">
                Contact Person
            </div>
            <div class="back-grey">
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Contact Person</div>
                    <div class="col-9 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Contact Number</div>
                    <div class="col-9 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Contact Email</div>
                    <div class="col-9 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Company Phone</div>
                    <div class="col-9 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="col-12 p-0 d-flex py-2">
                    <div class="col-3 p-0">Company Website</div>
                    <div class="col-9 p-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
                </div>
            </div>
            <div class="col-12 p-0 tablehead font-weight-bold px-1 py-1">
                Admin User
            </div>
            <table class="w-100 mb-3">
                <thead class="font-italic text-secondary">
                    <tr class="border-bottom">
                        <th class="font-weight-normal py-1">No</th>
                        <th class="font-weight-normal">Admin User Name</th>
                        <th class="font-weight-normal">Phone Number</th>
                        <th class="font-weight-normal">Email</th>
                        <th class="font-weight-normal">NIK</th>
                    </tr>
                </thead>
                <tbody class="back-grey-table">
                    <tr>
                        <td class="py-1">1</td>
                        <td>Lia Angelie</td>
                        <td>0812xxxxxx</td>
                        <td>lia.ang@sgo.co.id</td>
                        <td>120729892831</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-12 p-0 tablehead font-weight-bold px-1 py-1">
                Company Account
            </div>
            <table class="w-100 mb-3">
                <thead class="font-italic text-secondary">
                    <tr class="border-bottom">
                        <th class="font-weight-normal py-1">Account Number</th>
                        <th class="font-weight-normal">Account Name</th>
                        <th class="font-weight-normal">Account Name Inquiry</th>
                        <th class="font-weight-normal">CIF</th>
                        <th class="font-weight-normal">Product Type</th>
                        <th class="font-weight-normal">Currency</th>
                        <th class="font-weight-normal">RC</th>
                        <th class="font-weight-normal"><input type="checkbox" id="sel_all"></th>
                    </tr>
                </thead>
                <tbody class="back-grey-table">
                    <?php for ($i=0; $i < 3; $i++) { ?>
                    <tr>
                        <td class="py-1">12345678x</td>
                        <td>PT MAJU TERUS</td>
                        <td>PT MAJU TERUS</td>
                        <td>12365685</td>
                        <td>GIRO</td>
                        <td>IDR</td>
                        <td>00:Valid</td>
                        <td><input type="checkbox" name=comp_account[] id="sel_all" class="comp_account" value="#"></td>
                    </tr>
                    <?php } ?>
                </tbody>
            </table>
            <div class="col-12 p-0 tablehead font-weight-bold px-1 py-1">
                Submission Workflow
            </div>
            <div class="image mb-4">

            </div>
            <div class="col-md-12 d-flex py-2 justify-content-center align-items-center" align="center">
                <button type="button" class="btn-sm btnwhite hov mr-2" onclick="location.href='/echanrequest/approvalonlinereg'">BACK</button>
                <button name="pdf" id="downPdf" type="submit" name="pdf" value="pdf" class="btnwhite hov mr-2">DOWNLOAD PDF</button>
                <button name="repair" id="showRepair" type="button" value="Request Repair" class="btnwhite hov mr-2" onclick="repairmodal();">REQUEST REPAIR</button>
                <button name="reject" id="showReject" type="button" value="Reject" class="btnred hov mr-2" onclick=" rejectmodal()">REJECT</button>
                <button class="btngreen hov" type="submit" name="approve" value="approve">APPROVE</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', () => {
        const get_sel_checkbox = document.querySelector("#sel_all");
        const get_all_checkbox = document.querySelectorAll(".comp_account");
        get_sel_checkbox.addEventListener('change', () => {
            if(get_sel_checkbox.checked){
                get_all_checkbox.forEach(element => {
                    element.checked = true 
                });
            }else{
                get_all_checkbox.forEach(element => {
                    element.checked = false
                });
            }
        })
    })
</script>