<style>
    .table-detail {
        width: 100%;
    }

    .table-detail thead tr {
        background-color: #003f6e;
    }

    .text-head {
        color: white;
        padding: 5px 5px;
        font-weight: bold;
    }

    .table-detail tbody tr:first-child td {
        font-weight: bold;
    }

    .table-detail tbody tr:nth-child(odd) td {
        background-color: #CCCCCC;
    }

    .table-detail tbody tr td {
        padding: 5px 5px;
    }

    .table-detail tbody tr td:last-child {
        overflow-wrap: anywhere;
    }

    .table-detail tbody tr td:first-child,
    .table-detail tbody tr td:nth-child(2) {
        width: 1%;
        white-space: nowrap;
    }

    .table-detail tbody tr td:nth-child(2) {
        border-left: 1px solid #9b9b9b;
        border-right: 1px solid #9b9b9b;
    }
</style>

<div class="container">
    <div class="row justify-content-start">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb px-0">
                    <li>
                        <span><?= $this->language->_('Beranda') ?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="inhouse"><?= $this->language->_('Alur Penutupan') ?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="inhouse"><?= $this->language->_('Penyelesaian') ?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="inhouse"><?= $this->language->_('Detail') ?></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <?= $this->action('message', 'tools', 'changemanagement', array('changes_id' => $this->changesId)); ?>

    <table class="table-detail">
        <thead>
            <tr>
                <td colspan="3" class="text-head"><?= $this->language->_('Detail Usulan'); ?></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td><?= $this->language->_('Kondisi Awal'); ?></td>
                <td><?= $this->language->_('Usulan Perubahan'); ?></td>
            </tr>

            <tr>
                <td><?= $this->language->_('Referensi Transaksi / TraRef#'); ?></td>
                <td><?= $this->detailTrx['TRANSACTION_ID']; ?></td>
                <td><?= $this->detailTrx['TRANSACTION_ID']; ?></td>
            </tr>

            <tr>
                <td><?= $this->language->_('Penyelesaian Untuk BG Nomor'); ?></td>
                <td><?= $this->maskingBgNumber; ?></td>
                <td><?= $this->maskingBgNumber; ?></td>
            </tr>

            <tr>
                <td><?= $this->language->_('Bank Cabang Penerbit'); ?></td>
                <td><?= $this->detailBg['BRANCH_NAME']; ?></td>
                <td><?= $this->detailBg['BRANCH_NAME']; ?></td>
            </tr>

            <tr>
                <td><?= $this->language->_('Jenis Service'); ?></td>
                <td><?= $this->arrListService[$this->detailTrx['SERVICE']]; ?></td>
                <td><?= $this->arrListService[$this->detailTrx['SERVICE']]; ?></td>
            </tr>

            <tr>
                <td><?= $this->language->_('Rekening Sumber'); ?></td>
                <td><?= $this->detailTrx['SOURCE_ACCT'] . ' (' . $this->detailTrx['SOURCE_ACCT_CCY'] . ') ' . $this->detailTrx['SOURCE_ACCT_NAME'] . ' / BANK BTN'; ?></td>
                <td><?= $this->detailTrx['SOURCE_ACCT'] . ' (' . $this->detailTrx['SOURCE_ACCT_CCY'] . ') ' . $this->detailTrx['SOURCE_ACCT_NAME'] . ' / BANK BTN'; ?></td>
            </tr>

            <?php
            switch (true) {
                case ($this->detailTrx['SERVICE'] == '2' || $this->detailTrx['SERVICE'] == '3'):
                    echo $this->render('suggestiondetail/detaildata/unlock.phtml');
                    break;

                case ($this->detailTrx['SERVICE'] == '1' || $this->detailTrx['SERVICE'] == '5' || $this->detailTrx['SERVICE'] == '6'):
                    echo $this->render('suggestiondetail/detaildata/disburseortransfer.phtml');
                    break;

                case ($this->detailTrx['SERVICE'] == '9'):
                    echo $this->render('suggestiondetail/detaildata/overamount.phtml');
                    break;

                case ($this->detailTrx['SERVICE'] == '7' || $this->detailTrx['SERVICE'] == '8'):
                    echo $this->render('suggestiondetail/detaildata/sknrtgs.phtml');
                    break;
            }
            ?>

            <tr>
                <td class="text-danger"><?= $this->language->_('(!) Status Transaksi'); ?></td>
                <td>
                    <?php if ($this->detailTrx['SERVICE'] == '9') : ?>
                        <?= $this->language->_('MEMBUTUHKAN PENYELESAIAN MANUAL'); ?>
                    <?php else : ?>
                        <?= $this->language->_('Gagal') . ' (' . implode(' ', [$this->detailTrx['RESPONSE_CODE'], '-', $this->detailTrx['RESPONSE_DESC']]) . ')'; ?>
                    <?php endif ?>
                </td>
                <td><?= $this->language->_('SUKSES DENGAN PEMBAHARUAN STATUS'); ?></td>
            </tr>

            <tr>
                <td class="text-danger"><?= $this->language->_('(!) Memo Pembaharuan Status'); ?></td>
                <td>-</td>
                <td><a href="<?= $this->url(['module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'memofile', 'trxid' => $this->detailTrx['ENCRYPT_TRX_ID']]); ?>" target="__blank"><?= $this->detailRequest['NAMA_FILE']; ?></a></td>
            </tr>

            <tr>
                <td class="text-danger"><?= $this->language->_('(!) Catatan Pembaharuan Status'); ?></td>
                <td>-</td>
                <td><?= $this->detailRequest['UPDATE_REMARKS']; ?></td>
            </tr>
        </tbody>
    </table>

    <!-- BUTTON -->
    <div id="__container_button">

        <!-- CATATAN -->
        <?php if ($this->hasPrivilege('AMST') && $this->detailGlobalChanges['READ_STATUS'] == 1 || $this->detailGlobalChanges['READ_STATUS'] == 0) : ?>
            <div class="row align-items-center flex-column mt-4">
                <div class="col-sm-12 col-md-6 col-lg-5">
                    <!-- <textarea name="reason" id="__reason" class="form-control hidden" cols="30" rows="5" maxlength="100"></textarea> -->
                </div>
                <div class="col-sm-12 hidden text-center hidden" id="__error_reason">
                    <small class="text-danger font-weight-bold"><?= $this->language->_('Catatan tidak boleh kosong'); ?></small>
                </div>
            </div>
        <?php endif ?>

        <div class="mt-4 d-flex justify-content-center" style="gap: 10px">
            <button type="button" class="btnwhite hov" id="__kembali_btn"><?= $this->language->_('Kembali'); ?></button>
            <?php if ($this->hasPrivilege('AMST') && $this->detailGlobalChanges['READ_STATUS'] == 1 || $this->detailGlobalChanges['READ_STATUS'] == 0) : ?>
                <button type="button" class="btnwhite hov action hidden" value="rr"><?= $this->language->_('Permintaan Perbaikan'); ?></button>
                <button type="button" class="btnred hov action" value="rj"><?= $this->language->_('Tolak'); ?></button>
                <button type="button" class="btngreen hov action" value="ap"><?= $this->language->_('Persetujuan'); ?></button>
            <?php endif ?>

            <?php if ($this->hasPrivilege('RMST') && $this->detailGlobalChanges['READ_STATUS'] == 2) : ?>
                <button type="button" class="btngreen hov" id="__repair_changes"><?= $this->language->_('Perbaiki'); ?></button>
            <?php endif ?>
        </div>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="__usulan_pembaharuan_status" tabindex="-1" role="dialog" aria-hidden="true">
    <form method="POST" id="__pembaharuanstatusform" action="<?= $this->url(['module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'repairchanges']); ?>" enctype="multipart/form-data">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"><?= $this->language->_('Perbaikan Usulan Pembaharuan Status Transaksi Secara Manual'); ?></h6>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-3">
                            <label><?= $this->language->_('ID Usulan'); ?></label>
                        </div>
                        <div class="col-9">
                            <label class="font-weight-bold"><?= $this->detailGlobalChanges['CHANGES_ID']; ?></label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                            <label><?= $this->language->_('Unggah Memo .pdf'); ?> <strong class="text-danger">*</strong></label>
                        </div>
                        <div class="col-9">
                            <input type="file" class="form-control" name="memo" id="__memo" style="height: initial;" accept=".pdf">
                        </div>
                    </div>
                    <div class=" row">
                        <div class="col-3">
                            <label><?= $this->language->_('Catatan'); ?> <span class="text-danger font-weight-bold">*</span></label>
                        </div>
                        <div class="col-9">
                            <div class="form-group">
                                <textarea class="form-control" id="__catatanpembaharuan" name="catatan" rows="5" style="font-size: 16px;" maxlength="100"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Tutup'); ?></button>
                    <button type="submit" class="btngreen hov" id="__btn_lanjut"><?= $this->language->_('Lanjut'); ?></button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    // FULL SCREEN
    window.resizeTo(window.screen.availWidth, window.screen.availHeight);

    function sendAction(event) {
        const target = event.target;
        const action = target.value;
        const reason = document.querySelector('#__reason')?.value;

        document.querySelector('#__error_reason').classList.add('hidden');

        // CHECK REASON
        if (action == 'rj' || action == 'rr') {
            if (reason == '' && false) {
                document.querySelector('#__error_reason').classList.remove('hidden');
                alert('<?= $this->language->_('Catatan tidak boleh kosong'); ?>');
                return false;
            }
        }

        document.querySelectorAll('button').forEach(item => {
            item.classList.add('disabled');
            item.setAttribute('disabled', 'disabled');
        });

        $.ajax({
            url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'proccessrequest')); ?>",
            method: "GET",
            dataType: "JSON",
            data: {
                changesid: '<?= $this->detailRequest['ENCRYPT_CHANGES_ID']; ?>',
                trxid: '<?= $this->detailTrx['ENCRYPT_TRX_ID']; ?>',
                actioncode: action,
                reason
            },
            success: function(response) {
                // SUKSES
                if (response.result) {
                    document.querySelector('#__container_button').classList.add('hidden');

                    // REFRESH OPENER WINDOW
                    window.opener.window.location.reload()
                }
            },
            error: function(result) {
                const response = result.responseJSON;
                alert(response.message);
            }
        });
    }

    function showmodalpembaharuanstatus() {
        $('#__usulan_pembaharuan_status').modal({
            backdrop: 'static',
            keyboard: false,
        });
    }

    function validatepembaharuan(event) {
        event.preventDefault();
        const file = document.querySelector('#__memo').value;
        const catatan = document.querySelector('#__catatanpembaharuan').value;

        if (file == '') {
            alert('<?= $this->language->_('File tidak boleh kosong'); ?>');
            return false;
        }

        if (catatan == '') {
            alert('<?= $this->language->_('Catatan tidak boleh kosong'); ?>');
            return false;
        }

        return true;
    }

    function validatefile(event, allowedex, allowedsize) {
        const inputfile = event.target;
        const file = inputfile.files[0];

        if (file.name.split('.').pop().toLowerCase() != allowedex) {
            alert('<?= $this->language->_('File yang diperbolehkan hanya bertipe pdf'); ?>');
            inputfile.value = '';
            return false;
        }

        if (file.size > allowedsize * 1000000) {
            alert(`Maksimal file ${allowedsize} MB`);
            inputfile.value = '';
            return false;
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        document.body.style.paddingTop = '4rem';
        document.querySelector('.page-bar').style.borderBottom = 'initial';

        // CHECK REPAIR NOTE IF EXIST
        const repairNote = '<?= str_replace(["'"], "\\'", $this->detailGlobalChanges['CHANGES_REASON']) ?: '-'; ?>';
        document.querySelector('table tbody').lastElementChild.style.display = '';
        document.querySelector('table tbody').lastElementChild.lastElementChild.innerText = repairNote;

        document.querySelector('#__kembali_btn')?.addEventListener('click', () => {
            window.close();
        });

        // ADD CHANGES ID TO CHANGES INFORMATION
        const changesIdRow = document.querySelector('table tbody').insertRow(1);
        changesIdRow.innerHTML = '<td class="tbl-evencontent" width="30%"><?= $this->language->_('ID Usulan'); ?></td> <td class="tbl-evencontent" width="1%">:</td> <td class="tbl-evencontent font-weight-bold" width="69%"><?= $this->detailGlobalChanges['CHANGES_ID']; ?></td>';

        // REMOVE ROW
        document.querySelector('table tbody').querySelectorAll('tr')[3].remove();
        document.querySelector('table tbody').querySelectorAll('tr')[3].innerHTML = '<td class="tbl-evencontent" width="30%"><?= $this->language->_('Suggestion Date'); ?></td> <td class="tbl-evencontent" width="1%">:</td> <td class="tbl-evencontent" width="69%"><?= date('d M Y H:i:s', strtotime($this->detailGlobalChanges['CREATED'])) . ' (BO - ' . $this->detailGlobalChanges['CREATED_BY'] . ')'; ?></td>';

        document.querySelectorAll('.action').forEach(elem => {
            elem.addEventListener('click', event => {
                sendAction(event);
            });
        });

        // VALIDATE FILE MEMO
        document.querySelector('#__memo').addEventListener('change', (event) => {
            validatefile(event, 'pdf', 10);
        });

        document.querySelector('#__repair_changes')?.addEventListener('click', showmodalpembaharuanstatus);

        document.querySelector('#__pembaharuanstatusform')?.addEventListener('submit', event => {
            const valid = validatepembaharuan(event);

            if (!valid) return false;

            document.querySelector('#__btn_lanjut')?.classList.add('disabled');
            document.querySelector('#__btn_lanjut')?.setAttribute('disabled', 'disabled');

            // REFRESH OPENER WINDOW
            window.opener.window.location.reload()

            // SUBMIT FORM
            event.target.submit();
        });

        // DON'T CHANGE READ_STATUS
        <?php if ($this->detailGlobalChanges['READ_STATUS'] == '2') : ?>
            $.ajax({
                url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'proccessrequest')); ?>",
                method: "GET",
                dataType: "JSON",
                data: {
                    changesid: '<?= $this->detailRequest['ENCRYPT_CHANGES_ID']; ?>',
                    trxid: '<?= $this->detailTrx['ENCRYPT_TRX_ID']; ?>',
                    actioncode: 'rr',
                    log: 'false',
                    reason: '<?= str_replace(["'"], "\\'", $this->detailGlobalChanges['CHANGES_REASON']); ?>'
                },
            });
        <?php endif ?>
    });
</script>