<?php 
require_once 'General/SystemBalance.php';
?>

<?php 
	echo $this->doctype('HTML4_LOOSE');

	echo $this->headLink()->appendStylesheet($this->baseUrl('../css/jquery-ui.css'));

	echo $this->headScript()->appendFile($this->baseUrl('../js/jquery-1.10.2.min.js'));
	echo $this->headScript()->appendFile($this->baseUrl('../js/jquery-ui.min.js'));

?>

<!-- <link rel="stylesheet" href="css/jquery-ui.css" />
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui.min.js"></script> -->

<style type="text/css">

::placeholder {
  color: #e0e0e0;
  opacity: 1;
}

/*-------------------------------transaction page-------------------------------------------*/
div.mm-dropdown {
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 3px;
}

div.mm-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
}

div.mm-dropdown ul li,
div.mm-dropdown div.textfirst {
  padding: 0;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding: 5px 15px;
}

div.mm-dropdown div.textfirst img.down {
  float: right;
  margin-top: 5px
}

div.mm-dropdown ul li:last-child {
  border-bottom: 0;
}

div.mm-dropdown ul li {
  display: none;
}

div.mm-dropdown ul li:hover {
  cursor: pointer;
}

div.mm-dropdown ul li.main {
  display: block;
}

div.mm-dropdown ul li img {
  width: 200px;
  height: 40px;
}

div.mm-dropdown2 {
  width: 100%;
  border-radius: 3px;
}

div.mm-dropdown2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
}

div.mm-dropdown2 ul li,
div.mm-dropdown2 div.textfirst1 {
    padding: 0;
    text-align: left;
    color: grey;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
    padding: .375rem 0 calc(.375rem - 1px);
}

div.mm-dropdown2 div.textfirst1 img.down {
  float: right;
  margin-top: 5px
}

div.mm-dropdown2 ul li:last-child {
  border-bottom: 0;
}

div.mm-dropdown2 ul li {
  display: none;
}

div.mm-dropdown2 ul li:hover {
  cursor: pointer;
}

div.mm-dropdown2 ul li.main {
  display: block;
}

div.mm-dropdown2 ul li img {
  width: 200px;
  height: 40px;
}

div.mm-dropdown1 {
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 3px;
}

div.mm-dropdown1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
}

div.mm-dropdown1 ul li,
div.mm-dropdown1 div.textfirst1 {
  padding: 0;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding: 5px 15px;
}

div.mm-dropdown1 div.textfirst1 img.down {
  float: right;
  margin-top: 5px
}

div.mm-dropdown1 ul li:last-child {
  border-bottom: 0;
}

div.mm-dropdown1 ul li {
  display: none;
}

div.mm-dropdown1 ul li:hover {
  cursor: pointer;
}

div.mm-dropdown1 ul li.main {
  display: block;
}

div.mm-dropdown1 ul li img {
  width: 200px;
  height: 40px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-state-active.ui-button:hover{
	color: black;
	background-color: white;
	border: none;
}

.indicator.danger {
	text-align: center;
	color: white;
	font-size: 1em;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    background: #FF4136;
}

.indicator.warning {
	text-align: center;
	color: white;
	font-size: 1em;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    background: #F7CF32;
}

</style>

<script type="text/javascript">

$(document).ready(function() {

	<?php if ($this->changestatus) { ?>
		$("#submitForm :input").prop("disabled", true);
		// $("#submitForm :select").prop("disabled", true);
		$('#btnSubmit').prop("disabled", true);
		$('#btnBack').prop("disabled", false);
	<?php } ?>

	//add from source account
	$('#addAcct').click(function(){

		var counter = $('#acct_counter').val();

		var limit = <?= $this->account_count ?>;

		if (limit <= counter) {

			alert('Exceeding available account list');
			return false;
		}else{

			//kalau lebih dari 2, hapus tombol remove
			if (counter >= 2) {
				$('#removeAcctTd').remove();
			}

			//utk ngatur attribut, dan selected
			var dividedBy = $('input[name$="dividedby"]:checked').val();

			if (dividedBy == '0') {
				var onblurandfocus = 'onblur="dividedValChange(this);"';
			}
			else{
				var onblurandfocus = 'onfocus="iNumFrmt(this.value,this.id)" onblur="NumFrmt(this.value,this.id);dividedValChange(this);"';
			}

			counter++;
			var row = '<tr id="trAcct_'+counter+'">'+
						'<td width="35%">'+

							'<div class="input-group">'+
								'<input class="form-control" style="width: 80%;" name="source_acct_alias['+counter+']" id="sourceacct_'+counter+'" placeholder="Enter Source Account" autocomplete="off">'+
							'</div>'+
							
			                 '<input type="hidden" class="source_acct" id="source_acct_val'+counter+'" name="source_acct['+counter+']" />'+
			                '<input type="hidden" class="bank_code" id="bank_code_val'+counter+'" name="bank_code['+counter+']" />'+
			                
						'</td>'+
						'<td width="30%">'+
							'<input type="text" class="travelagent form-control" name="travelagent['+counter+']" id="travelagent'+counter+'" onblur="travelAgentValidation(this)" data-count="'+counter+'" placeholder="Enter Travel Agent ID" />'+
						'</td>'+
						'<td width="30%" class="dividedvalTd">'+
							'<input type="text" id="dividedval_'+counter+'" style="font-size: 14px;" onkeypress="return forceCurrencyOCBC(event);" '+onblurandfocus+' name="dividedval['+counter+']" class="form-control">'+
						'</td>'+
						'<td width="5%" id="removeAcctTd">'+
							'<i class="fas fa-minus-circle text-danger" id="removeAcct" onclick="removeAcct(this)" style="font-size: 20px;cursor: pointer;">'+
						'</td>'+
					'</tr>';

			var url = '/airlines/editdeposit/accountsuggestion';

	        $("#airlinesTable tbody").append(row);

	        $("#sourceacct_"+counter).autocomplete({
		        source: function(request, response) {
		            $.ajax({
		                url: url,
		                dataType: "json",
		                data: {
		                    term : request.term,
		                    airlines : $('#airlines2').val()
		                },
		                success: function(data) {
		                    response(data);
		                }
		            });
		        },
		        minLength: 1,
		        select: function(event, ui) {

		            var travelAgent = $("#travelagent"+counter).val();

		            if (travelAgent != '') {
		            	var travelAgentList = <?php echo json_encode($this->travelAgentData) ?>;	

		            	var travelAgentBankCode = travelAgentList[travelAgent];

		            	if (ui.item.bankcode != travelAgentBankCode) {
		            		alert("<?php echo $this->language->_("Source account bank must be same with travel agent bank"); ?>");
		            		$("#sourceacct_"+counter).val('');
				            $("#source_acct_val"+counter).val('');
				            $("#bank_code_val"+counter).val('');
		            	}
		            	else{
		            		$("#sourceacct_"+counter).val(ui.item.value);
				            $("#source_acct_val"+counter).val(ui.item.id);
				            $("#bank_code_val"+counter).val(ui.item.bankcode);
		            	}
		            }
		            else{
		            	$("#sourceacct_"+counter).val(ui.item.value);
			            $("#source_acct_val"+counter).val(ui.item.id);
			            $("#bank_code_val"+counter).val(ui.item.bankcode);
		            }
		        }
		    }).data("ui-autocomplete")._renderItem = function( ul, item ) {
		    return $( "<li class='ui-autocomplete-row p-2'></li>" )
		        .data( "item.autocomplete", item )
		        .append( item.label )
		        .appendTo( ul );
		    };

		    $('#acct_counter').val(counter);
		}
    });
});

//remove from source account
function removeAcct(selected){

	$(selected).closest('tr').next().remove();
	$(selected).closest('tr').remove();

	var counter = $('#acct_counter').val();
	counter--;

	//utk ngurangin dari remaining
	const formattermoney = new Intl.NumberFormat('en-US', {
      minimumFractionDigits: 2
    });

	var dividedBy = $('input[name$="dividedby"]:checked').val();

	var amounttopup = Number($('#amounttopup').val().replace(/[^0-9\.-]+/g,""));

	var total = 0;
	for(var i=1; i<=counter; i++){
		total += Number($('#dividedval_'+i).val().replace(/[^0-9\.-]+/g,""));
	}

	if (dividedBy == '0') {
		var currentTotal = 100 - total;
	}
	else{
		var currentTotal = amounttopup - total;
		currentTotal = formattermoney.format(currentTotal);
	}
	$('.successRemaining').hide();
	$('#remainingDivided').val(currentTotal);

	//kalau lebih dari satu, atau source acct kedua, maka tambahkan tombol remove
	if (counter > 1) {
		var removetd = '<td width="10%" id="removeAcctTd">'+
						'<i class="fas fa-minus-circle text-danger" id="removeAcct" onclick="removeAcct(this)" style="font-size: 20px;cursor: pointer;">'+
					'</td>';

		$('#trAcct_'+counter).append(removetd);
	}

	$('#acct_counter').val(counter);
}

//jika divided by nya berubah (% dan IDR)
function dividedSelect(selected){

	var value = $(selected).val();

	console.log(value);

	var counter = $('#acct_counter').val();

	//kalau IDR, maka harus isi amount topup dulu, dan tambah attribut utk input money
	if (value == '1') {

		var amounttopup = $('#amounttopup').val();

		if (amounttopup == '') {
			alert('Please set Minimum Balance First');
			$(selected).prop('checked', false);
			$(selected).siblings().prop('checked', true);
			return false;
		}

		$('#remainingDivided').val(amounttopup); //jika IDR, ambil amount topup dan set ke remaining val
	}
	//kalau persen, maka attributnya hanaya utk number bkn money
	else{
		$('#remainingDivided').val('100'); //jika persentase, set remaining val default 100
	}

	//utk change attribut seperti di atas, utk smua source account yg telah di add
	for(var i=1; i<=counter; i++){

		$('#dividedval_'+i).val('');

		if (value == '1') {
			$('#dividedval_'+i).attr('onfocus', 'iNumFrmt(this.value,this.id)');
			$('#dividedval_'+i).attr('onblur', 'NumFrmt(this.value,this.id);dividedValChange(this);');
		}
		else{
			$('#dividedval_'+i).removeAttr('onfocus');
			$('#dividedval_'+i).removeAttr('onblur');
			$('#dividedval_'+i).attr('onblur', 'dividedValChange(this);');
		}
	}
}

//jika value ada yg berubah, maka akan memengaruhi remaining val
function dividedValChange(selected){

	const formattermoney = new Intl.NumberFormat('en-US', {
      minimumFractionDigits: 2
    });

	var counter = $('#acct_counter').val();

	var dividedBy = $('input[name$="dividedby"]:checked').val();

	var amounttopup = Number($('#amounttopup').val().replace(/[^0-9\.-]+/g,""));

	var total = 0;
	for(var i=1; i<=counter; i++){
		total += Number($('#dividedval_'+i).val().replace(/[^0-9\.-]+/g,""));
	}

	// kalau persen, maka total semua value account dikurang 100
	if (dividedBy == '0') {
		var currentTotal = 100 - total;

		if (currentTotal == 0) {
			$('.successRemaining').show();
		}
		else if (currentTotal < 0) {
			alert('Exceeding remaining limit');
			$(selected).val('');
			return false;
		}
		else{
			$('.successRemaining').hide();
		}
	}
	// kalau IDR, maka total semua value account dikurang amount topup
	else{
		var currentTotal = amounttopup - total;

		if (currentTotal == 0) {
			$('.successRemaining').show();
		}
		else if (currentTotal < 0) {
			alert('Exceeding remaining limit');
			$(selected).val('');
			return false;
		}
		else{
			$('.successRemaining').hide();
		}
		currentTotal = formattermoney.format(currentTotal);
	}

	$('#remainingDivided').val(currentTotal);

}

function travelAgentValidation(selected){
	var travelAgent = $(selected).val();
	var count = $(selected).data('count');

	if (travelAgent != '') {
		var sourceAcctBankCode = $('#bank_code_val'+count).val();

		if (sourceAcctBankCode != '') {
			var travelAgentList = <?php echo json_encode($this->travelAgentData) ?>;	
			var travelAgentBankCode = travelAgentList[travelAgent];

			if (travelAgentBankCode != '') {
				if (sourceAcctBankCode != travelAgentBankCode) {
					alert("<?php echo $this->language->_("Source account bank must be same with travel agent bank or Travel agent bank not exist"); ?>");
					$(selected).val('');
				}
			}
		}
	}
}

</script>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('Home Page');?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?php echo $this->language->_('Automatic Topup');?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?php echo $this->language->_('Edit Auto Topup Settings');?></span> 
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-md-12 mx-auto mb-4">
	<div class="row">
		<div class="col-md-6">
			<h5 class="homeCardText"><b><?php echo $this->language->_('Edit Auto Topup Settings');?></b></h5>
			<h6 class="homeCardText text-black-50"><?php echo $this->language->_('Edit Automatic Topup Airlines Deposit Balance Settings');?></h6>
		</div>	
		<div class="col-md-6 pt-2" align="right">
			<h5 class="homeCardText"><?php echo $this->compName; ?></h5>
		</div>	
	</div>

	<br>
	<br>

	<?php if($this->error) { ?>

		<div class="alert alert-danger">

			<?php foreach ($this->error_msg as $value) { 

				echo '<li>'.$this->language->_($value).'</li>';

			} ?>
	    </div>
	    <br />
  	<?php }?>

  	<?php if($this->changestatus) { ?>

		<div class="alert alert-danger">
			<?php 
				echo $this->language->_('*No changes allowed for this record while awaiting approval for previous change');
			?>
	    </div>
	    <br />
  	<?php } ?>

  	<?php 
		require_once 'Crypt/AESMYSQL.php';
        $AESMYSQL = new Crypt_AESMYSQL();
        $rand = $this->token;

        $encrypted_airline = $AESMYSQL->encrypt($this->airlines, $rand);                
		$encairline = urlencode($encrypted_airline);
	?>

	<form method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'editdeposit','action'=>'index'),null,true)?>" id="submitForm">
		<div class="row col-md-12">
			<div class="col-md-6">
				<table width="100%" cellpadding="7">
					<tr>
						<td width="35%"><?php echo $this->language->_('Airlines');?></td>
						<td></td>
						<td>
							<input type="text" class="form-control" value="<?php echo $this->airlinesName ?>" disabled />
							<input type="hidden" name="airlines" id="airlines" class="form-control" value="<?php echo $encairline ?>" />
							<input type="hidden" id="airlines2" class="form-control" value="<?php echo $this->airlines ?>" />
						</td>
					</tr>

					<tr>
						<td><?php echo $this->language->_('Check Every');?></td>
						<td></td>
						<td>
							<select name="balance_cycle" class="form-control">

								<?php 
									$m30 = '';
									$h1 = '';
									$h2 = '';
									$h3 = '';
									if ($this->balance_cycle == '30m') {
										$m30 = 'selected';
									}
									else if ($this->balance_cycle == '1h') {
										$h1 = 'selected';
									}
									else if ($this->balance_cycle == '2h') {
										$h2 = 'selected';
									}
									else if ($this->balance_cycle == '3h') {
										$h3 = 'selected';
									}
								?>

								<option value="30m" <?php echo $m30; ?> ><?php echo $this->language->_('30 Minutes');?></option>
								<option value="1h" <?php echo $h1; ?> ><?php echo $this->language->_('1 Hour');?></option>
								<option value="2h" <?php echo $h2; ?> ><?php echo $this->language->_('2 Hour');?></option>
								<option value="3h" <?php echo $h3; ?> ><?php echo $this->language->_('3 Hour');?></option>
							</select>
						</td>
					</tr>
					<tr>
						<td><?php echo $this->language->_('Minimum Balance ');?></td>
						<td width="5%" align="right">IDR</td>
						<td>
							<input type="text" name="min_balance" id="minbalance" style="font-size: 14px;" onfocus="iNumFrmt(this.value,this.id)" onblur="NumFrmt(this.value,this.id);" onkeypress="return forceCurrencyOCBC(event);" class="form-control" placeholder="<?php echo $this->language->_('Enter Minimum Balance Amount');?>" value="<?php echo Application_Helper_General::displayMoney($this->min_balance); ?>">
						</td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					
					<tr>
						<td><h6><b><?php echo $this->language->_('Automatic Top Up');?></b></h6></td>
						<td></td>
						<td></td>
					</tr>
					<!-- <tr>
						<td><?php echo $this->language->_('Customer Id / Organization Code');?></td>
						<td width="5%" align="right"></td>
						<td>
							<input type="text" name="custId" id="custId" class="form-control" placeholder="<?php echo $this->language->_('Enter Customer Id or Organization Code');?>">
						</td>
					</tr> -->
					<tr>
						<td><?php echo $this->language->_('Auto Topup Amount');?></td>
						<td width="5%" align="right">IDR</td>
						<td>
							<input type="text" name="amount_topup" id="amounttopup" style="font-size: 14px;" onfocus="iNumFrmt(this.value,this.id)" onblur="NumFrmt(this.value,this.id);" onkeypress="return forceCurrencyOCBC(event);" class="form-control" placeholder="<?php echo $this->language->_('Enter Auto Topup Amount');?>" value="<?php echo Application_Helper_General::displayMoney($this->amount_topup); ?>">
						</td>
						<td width="5%"><a href="#" class="homeCardText hovertext" style="font-size:20px;text-decoration: none;"><code>&#9432;</code><span class="hovertextcontent" style="text-align: center; width: 220px;left: -80px;top: 30px;"><p class="m-0 text-white" style="font-size: 13px"><?php echo $this->language->_('Top up amount should be more than').'<br>'.$this->language->_('(Minimum balance + Warning level 1)'); ?></p></span></a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>

				<table width="100%" cellpadding="7">
					<tr>
						<td width="40%"><h6><b><?php echo $this->language->_('From Source Account');?></b></h6></td>
						<td>
							<div class="input-group">

								<?php 
									$p = '';
									$f = '';
									if (empty($this->dividedby) || $this->dividedby == 'p') {
										$p = 'checked';
									}
									else{
										$f = 'checked';
									}
								?>

                                <input type="radio" name="dividedby" value="0" class="mt-1" onchange="dividedSelect(this)" <?php echo $p ?> ><?php echo $this->language->_('Percentage'); ?>&nbsp;&nbsp;
                                <input type="radio" name="dividedby" value="1" class="mt-1" onchange="dividedSelect(this)" <?php echo $f ?> ><?php echo $this->language->_('Fix (IDR)'); ?>
                            </div>
						</td>
					</tr>
				</table>

				<table width="100%" cellpadding="7" id="airlinesTable">

					<?php  
						if ($this->acct_counter > 1) {
							$acct_counter = $this->acct_counter;
						}
						else{
							$acct_counter = 1;
						}

					?>

					<input type="hidden" id="acct_counter" name="acct_counter" value="<?php echo $acct_counter; ?>" />

					<?php for ($i=1; $i <= $acct_counter ; $i++) { ?>

					<tr id="trAcct_<?php echo $i; ?>">
						<td width="35%">

							<script>
								$(document).ready(function(){

									var url = '/airlines/editdeposit/accountsuggestion';

								    $("#sourceacct_<?php echo $i; ?>").autocomplete({
								        source: function(request, response) {
								            $.ajax({
								                url: url,
								                dataType: "json",
								                data: {
								                    term : request.term,
								                    airlines : $('#airlines2').val()
								                },
								                success: function(data) {
								                    response(data);
								                }
								            });
								        },
								        minLength: 1,
								        select: function(event, ui) {
								            var travelAgent = $("#travelagent<?php echo $i; ?>").val();

								            if (travelAgent != '') {
								            	var travelAgentList = <?php echo json_encode($this->travelAgentData) ?>;	

								            	var travelAgentBankCode = travelAgentList[travelAgent];

								            	if (ui.item.bankcode != travelAgentBankCode) {
								            		alert("<?php echo $this->language->_("Source account bank must be same with travel agent bank"); ?>");
								            		$("#sourceacct_<?php echo $i; ?>").val('');
										            $("#source_acct_val<?php echo $i; ?>").val('');
										            $("#bank_code_val<?php echo $i; ?>").val('');
								            	}
								            	else{
								            		$("#sourceacct_<?php echo $i; ?>").val(ui.item.value);
										            $("#source_acct_val<?php echo $i; ?>").val(ui.item.id);
										            $("#bank_code_val<?php echo $i; ?>").val(ui.item.bankcode);
								            	}
								            }
								            else{
								            	$("#sourceacct_<?php echo $i; ?>").val(ui.item.value);
									            $("#source_acct_val<?php echo $i; ?>").val(ui.item.id);
									            $("#bank_code_val<?php echo $i; ?>").val(ui.item.bankcode);
								            }
								        }
								    }).data("ui-autocomplete")._renderItem = function( ul, item ) {
								    return $( "<li class='ui-autocomplete-row p-2'></li>" )
								        .data( "item.autocomplete", item )
								        .append( item.label )
								        .appendTo( ul );
								    };
								});
							</script>

							<div class="input-group">
								<input class="form-control" style="width: 80%;" name="source_acct_alias[<?php echo $i; ?>]" id="sourceacct_<?php echo $i; ?>" placeholder="Enter Source Account" autocomplete="off" value="<?php echo $this->source_acct_alias[$i-1] ?>">
							</div>
							
		                  <input type="hidden" class="source_acct"  name="source_acct[<?php echo $i; ?>]" id="source_acct_val<?php echo $i; ?>" value="<?php echo $this->source_acct[$i-1]; ?>" />
		                  <input type="hidden" class="bank_code" name="bank_code[<?php echo $i; ?>]" id="bank_code_val<?php echo $i; ?>" value="<?php echo $this->bank_code[$i-1]; ?>" />
			                
						</td>
						<td width="30%">
							<input type="text" class="travelagent form-control" name="travelagent[<?php echo $i; ?>]" id="travelagent<?php echo $i; ?>" onblur="travelAgentValidation(this)" data-count="<?php echo $i; ?>" value="<?php echo $this->travelagent[$i-1]; ?>" placeholder="Enter Travel Agent ID" />
						</td>
						<td width="30%" class="dividedvalTd">
							<input type="text" name="dividedval[<?php echo $i; ?>]" id="dividedval_<?php echo $i; ?>" style="font-size: 14px;" onkeypress="return forceCurrencyOCBC(event);" onblur="dividedValChange(this);" class="form-control" value="<?php echo (($this->dividedby == 'f') ? Application_Helper_General::displayMoney($this->dividedval[$i-1]) : $this->dividedval[$i-1]) ?>">				
						</td>
						
						<?php if ($i != 1 && $i == $acct_counter) { ?>
							<td width="5%" id="removeAcctTd">
								<i class="fas fa-minus-circle text-danger" id="removeAcct" onclick="removeAcct(this)" style="font-size: 20px;cursor: pointer;">
							</td>
						<?php }else{ ?>
							<td width="5%"></td>
						<?php } ?>

					</tr>

				<?php } ?>

				</table>

				<table width="100%" cellpadding="7">
					<tr>
						<td width="35%"></td>
						<td width="30%" align="right">Remaining</td>
						<td width="30%">

							<?php 
								if (isset($this->remainingDivided)) {
									$remainingDivided = $this->remainingDivided;
								}
								else{
									$remainingDivided = 0;
								}

								$display = 'none';
								if ($remainingDivided == 0) {
									$display = 'block';
								}
							?>


							<input type="text" name="remainingDivided" id="remainingDivided" value="<?php echo $remainingDivided ?>" class="form-control text-center" readonly>
						</td>
						<td width="5%"><span><i class="fas fa-check homeCardText successRemaining" style="font-size: 20px; display: <?php echo $display; ?>;"></i></span></td>
					</tr>
				</table>

				<table width="100%" cellpadding="7">
					<tr>
						<td align="center"><i class="fas fa-plus-circle homeCardText" id="addAcct" style="font-size: 40px;cursor: pointer;"></i></td>
					</tr>
				</table>	
			</div>
			<div class="col-md-6">
				<table width="100%" cellpadding="7">
					<tr>
						<td><h6><b><?php echo $this->language->_('Threshold');?></b></h6></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td width="20%"><?php echo $this->language->_('Warning Level 1 ');?></td>
						<td width="5%" align="right">IDR</td>
						<td width="43%"> 
							<input type="text" name="warning1" id="warning1" style="font-size: 14px;" onfocus="iNumFrmt(this.value,this.id)" onblur="NumFrmt(this.value,this.id);" onkeypress="return forceCurrencyOCBC(event);" class="form-control" placeholder="<?php echo $this->language->_('Enter Warning Level 1 Amount');?>" value="<?php echo Application_Helper_General::displayMoney($this->warning1); ?>">
						</td>
						<td width="10%"><span class="indicator warning">!</span></td>
					</tr>
					<tr>
						<td width="20%"><?php echo $this->language->_('Warning Level 2 ');?></td>
						<td width="5%" align="right">IDR</td>
						<td width="43%">
							<input type="text" name="warning2" id="warning2" style="font-size: 14px;" onfocus="iNumFrmt(this.value,this.id)" onblur="NumFrmt(this.value,this.id);" onkeypress="return forceCurrencyOCBC(event);" class="form-control" placeholder="<?php echo $this->language->_('Enter Warning Level 2 Amount');?>" value="<?php echo Application_Helper_General::displayMoney($this->warning2); ?>">
						</td>
						<td width="10%"><span class="indicator danger">!</span></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<tr>
						<td><h6><b><?php echo $this->language->_('Status');?></b></h6></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td width="20%"><?php echo $this->language->_('Status');?></td>
						<td width="5%" align="right"></td>
						<td width="43%"> 
							<select name="status" class="form-control">

								<?php 
									if ($this->status == 1) {
										$active = 'selected';
									}
									else{
										$nonActive = 'selected';
									} 
								?>

								<option value="1" <?php echo $active; ?> ><?php echo $this->language->_('Active');?></option>
								<option value="0" <?php echo $nonActive; ?> ><?php echo $this->language->_('Non Active');?></option>
							</select>
						</td>
						<td width="10%"></td>
					</tr>
				</table>

				<br>

				<div class="card">
					<div class="card-header cardhead text-white">
							<?php echo $this->language->_('Deposit Account');?>
					</div>
					<div class="card-body">
						<div class="container textBlack" id="depositAccountInfo">
							<?php if (!empty($this->airlines)) { ?>

								<?php foreach ($this->depositData[$this->airlines] as $key => $value) { ?>
											
										<?php if ($value['VIRTUAL_ACCOUNT'] == 1) { ?>
											<li><?php echo $value['BANK_NAME'] ?><b> virtual account</b> with BIN <?php echo $value['ACCT_NO'] ?> with ID same virtual account </li>
										<?php } else { ?>
											<li> <?php echo $value['BANK_NAME'] ?> <b> real account</b> will be transfer to <?php echo $value['ACCT_NO'] ?> with ID <?php echo $value['TRAVELAGENT_ID'] ?> </li>
										<?php } ?>

								<?php } ?>

								<br>
								<br>
								<br>

								<?php echo $this->language->_('*Make sure this information is valid to prevent failed Topup') ?>
								
							<?php } ?>
						</div>
					</div>
				</div>

			</div>
		</div>

		<br>
		<br>

		<?php $btnBack = $this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true); ?>

		<div class="col-md-12" align="center">
			<button type="button" class="btnwhite hov" id="btnBack" onclick="location.href='<?php echo $btnBack ?>'">&nbsp;<?php echo $this->language->_('Back')?>&nbsp;</button>
			<button type="submit" name="submit" class="btngreen hov round" id="btnSubmit" value="submit" <?php echo $disabled; ?>>&nbsp;<?php echo $this->language->_('Submit');?>&nbsp;</button>
		</div>
	</form>

	<br>
	<br>
	<br>
</div>


