<div class="content-box">
	<div class="portlet-body">
		<div class="note note-success">
	    	<p></p><h5 style="text-align: center;"><?php echo $this->language->_('Coming soon')?></h5><p></p>
	        <p align="center">
				<?php
				if($this->backURL ==''){
					$this->backURL  ='/home/dashboard';
				}
					echo $this->formButton('back', $this->language->_('Back'), array('onclick' => "location.href='".$this->backURL."'", 'class' => 'btnwhite hov'));
				?>
			</p>
		</div>
	</div>
</div>
