<style media="screen">
  .rectangel {
    height: 49px;
    border: solid 1px #c4c4c4;
    background-color: #ffffff;
  }
</style>
<?php 

  $this->headScript()->appendFile($this->baseUrl('../assets/permatalayout/assets/newlayout/js/canvajs.min.js')); 

  // api get exhange rate

  $ch = curl_init('https://api.exchangeratesapi.io/latest?base=USD');
  curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);


  // Store the data:
  $json = curl_exec($ch);
  curl_close($ch);

  // Decode JSON response:
  $exchangeRates = json_decode($json, true);

  // Access the exchange rate values, e.g. GBP:
  // $usdrate = $exchangeRates['rates']['USD'];
  $idrrate = $exchangeRates['rates']['IDR'];

  $idrtousd = 100000 / $idrrate;
  $usdtoidr = 18000 * $idrrate;
?>
    



<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?=$this->language->_('Account Information')?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas" ><?=$this->language->_('Notional Pooling Account')?></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
<br>
    <div class="col-md-9" align="left"><h5>Notional Pooling Account</h5></div>
    <div class="col-md-3" align="right">
          <a id="ccy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle" class="homeCardText" style="font-size:20px; cursor:pointer">IDR <i class="fa fa-angle-down"></i></a>
          <div class="dropdown-menu dropdown-menu-right">
            <button onclick="idrchart()" id="ccyidr" class="dropdown-item" type="button">IDR</button>
            <button onclick="usdchart()" id="ccyusd" class="dropdown-item" type="button">USD</button>
          </div>
          <button onClick="window.location.reload()" style="width: 40px;
                                        height: 40px;
                                        background-image: linear-gradient(#ffffff,#ffffff);
                                        border-radius: 100%; border-style: double;" name="button"> <i style="color:black" class="fa fa-sync" aria-hidden="true"></i> </button>
          <?php 
              $buttonSetting = $this->url(array('module'=>'accountaggregation','controller'=>'setting',),null,true);
          ?>
          <button style="width: 40px;
                                        height: 40px;
                                        background-image: linear-gradient(#ffffff,#ffffff);
                                        border-radius: 100%;border-style: double;" name="button" onclick="location.href='<?php echo $buttonSetting; ?>'">
                                      <i style="color:black" class="fa fa-cog" aria-hidden="true"></i>

          </button>
    </div>
    <div class="col-md-5 pt-4" id="idrchart">
      <div class="content-box">
          <div id="chartContainer" class="img-fluid" style="height: 300px; width: 100%;"></div>
      </div>
    </div>
    <div class="col-md-7 pt-4" id="idrtable">
      <?php 
        // count total assets
          $totalassets = 0;
          $totalloan = 0;
          foreach ($this->personal as $row) {
              if($row['CCY_ID'] == 'IDR') {
                $systemBalance = new SystemBalance($this->custId,$row ['ACCT_NO'],Application_Helper_General::getCurrNum($row ['CCY_ID']));
                $systemBalance->setFlag(false);
                $systemBalance->checkBalance();

                $assets = $systemBalance->getEffectiveBalance();

                $totalassets = $totalassets + $assets;
              }
          }
          // count total loan
          foreach ($this->deposit as $row) {
            if($row['CCY_ID'] == 'IDR') {
              $totalloan = $totalloan + $row['EQUIVALEN'];
            }
          }

          //count total networtj
          $totalnetworth = $totalassets - $totalloan;

          //count credit interest
          $creditinterest = $totalnetworth * (0.04);

          //count debit interest
          $debitinterest = $totalnetworth * (0.06);



          // count total assets in USD
          $totalassetsusd = 0;
          $totalloanusd = 0;
          foreach ($this->personal as $row) {
              if($row['CCY_ID'] == 'USD') {
                $systemBalance = new SystemBalance($this->custId,$row ['ACCT_NO'],Application_Helper_General::getCurrNum($row ['CCY_ID']));
                $systemBalance->setFlag(false);
                $systemBalance->checkBalance();

                $assetsusd = $systemBalance->getEffectiveBalance();

                $totalassetsusd = $totalassetsusd + $assetsusd;
              }
          }
          // count total loan
          foreach ($this->deposit as $row) {
            if($row['CCY_ID'] == 'USD') {
              $totalloanusd = $totalloanusd + $row['EQUIVALEN'];
            }
          }

          //count total networtj
          $totalnetworthusd = $totalassetsusd - $totalloanusd;

          //count credit interest
          $creditinterestusd = $totalnetworthusd * (0.04);

          //count debit interest
          $debitinterestusd = $totalnetworthusd * (0.06);

      ?>
      <style>
        table {
          border-collapse: collapse;
          border-radius: 1em;
          overflow: hidden;
          width:100%; 
        }
        .assets th {
          padding: 10px;
          background: #6495ed;
          border-bottom: 2px solid white; 
        }

        .loans th {
          padding: 10px;
          background: #e03c31;
          border-bottom: 2px solid white; 
        }
      </style>
      <table class="table-sm assets">
          <thead>
            <tr>
              <th>Assets</th>
              <th>IDR <?php echo number_format( $totalassets, 0, "." , "."); ?></th>
              <th><a id="dropassets" style="cursor:pointer"><i id="assetsicon" class="fa fa-angle-down"></i></a></th>
            </tr>
          </thead>
          
          <tbody id="assetsdetail" style="display:none">
            <?php 
                if (count ( $this->personal ) > 0) {
                  foreach ($this->personal as $row) {
                      if($row['CCY_ID'] == 'IDR') {
                        $systemBalance = new SystemBalance($this->custId,$row ['ACCT_NO'],Application_Helper_General::getCurrNum($row ['CCY_ID']));
                        $systemBalance->setFlag(false);
                        $systemBalance->checkBalance();
    
                        $assets = $systemBalance->getEffectiveBalance();
    
                        $percentage = ($assets/$totalassets) * 100;
                        echo ' <tr>
                        <td>'. $row['ACCT_NO'] .'</td>
                        <td> IDR '. number_format( $assets, 0, "." , ".") .'</td>
                        <td>'. number_format($percentage,2) .' %</td>
                        </tr>';
                      }
                  }
                }
                else {

                }
              ?>
          </tbody>
      </table>
      <br>  
      <table class="table-sm loans pt-3">
          <tr>
            <th>Loans</th>
            <th>IDR <?php echo number_format( $totalloan, 0, "." , "."); ?></th>
            <th><a id="droploans" style="cursor:pointer"><i id="loansicon" class="fa fa-angle-down"></i></a></th>
          </tr>
          <tbody id="loansdetail" style="display:none">
            <?php 
                if (count ( $this->deposit ) > 0) {
                  foreach ($this->deposit as $row) { 
                    $loans = $row['EQUIVALEN'];

                    $percentage = ($loans/$totalloan) * 100;
                    echo ' <tr>
                    <td>'. $row['ACCT_NO'] .'</td>
                    <td>IDR '. number_format( $loans, 0, "." , ".") .'</td>
                    <td>'. number_format($percentage,2) .' %</td>
                    </tr>';
                  }
                }
                else {

                }
            ?>
          </tbody>
            
      </table> 
      <br>
      <div class="content-box">
        <table class="table-sm ">
          <tr>
            <th>Networth</th>
            <th>IDR <?php echo number_format( $totalnetworth, 0, "." , "."); ?></th>
            <th></th>
          </tr>
          <?php
            if($totalnetworth > 0) { ?>
          <tr>
            <th style="text-align:center">Credit Interest (4%)</th>
            <th>IDR <?php echo number_format( $creditinterest, 0, "." , "."); ?></th>
            <th></th>
          </tr>
          <?php  
            } else {
          ?>
            <th style="text-align:center">Debit Interest (6%)</th>
            <th>IDR <?php echo number_format( $debitinterest, 0, "." , "."); ?></th>
            <th></th>
          <?php
            }
          ?>
        </table>
      </div>
    </div>

    <!-- usd -->
    <div class="col-md-5 pt-4" id="usdchart" style="display:none">
      <div class="content-box">
          <div id="chartContainer1" class="img-fluid" style="height: 300px; width: 100%;"></div>
      </div>
    </div>
    <div class="col-md-7 pt-4" id="usdtable" style="display:none">
      <style>
        table {
          border-collapse: collapse;
          border-radius: 1em;
          overflow: hidden;
          width:100%; 
        }
        .assets th {
          padding: 10px;
          background: #6495ed;
          border-bottom: 2px solid white; 
        }

        .loans th {
          padding: 10px;
          background: #e03c31;
          border-bottom: 2px solid white; 
        }
      </style>
      <table class="table-sm assets">
          <thead>
            <tr>
              <th>Assets</th>
              <th>USD <?php echo number_format( $totalassetsusd, 0, "." , "."); ?></th>
              <th><a id="dropassets1" style="cursor:pointer"><i id="assetsicon" class="fa fa-angle-down"></i></a></th>
            </tr>
          </thead>
          
          <tbody id="assetsdetail1" style="display:none">
            <?php 
                if (count ( $this->personal ) > 0) {
                  foreach ($this->personal as $row) {
                    if($row['CCY_ID'] == 'USD') {
                      $systemBalance = new SystemBalance($this->custId,$row ['ACCT_NO'],Application_Helper_General::getCurrNum($row ['CCY_ID']));
                      $systemBalance->setFlag(false);
                      $systemBalance->checkBalance();
  
                      $assetsusd = $systemBalance->getEffectiveBalance();
  
                      $percentage = ($assetsusd/$totalassetsusd) * 100;
                      echo ' <tr>
                      <td>'. $row['ACCT_NO'] .'</td>
                      <td>'. $row['CCY_ID'] .' '. number_format( $assetsusd, 0, "." , ".") .'</td>
                      <td>'. number_format($percentage,2) .' %</td>
                      </tr>';
                    } 
                    else {

                    }
                  }
                }
                else {

                }
              ?>
          </tbody>
      </table>
      <br>  
      <table class="table-sm loans pt-3">
          <tr>
            <th>Loans</th>
            <th>IDR <?php echo number_format( $totalloanusd, 0, "." , "."); ?></th>
            <th><a id="droploans1" style="cursor:pointer"><i id="loansicon1" class="fa fa-angle-down"></i></a></th>
          </tr>
          <tbody id="loansdetail1" style="display:none">
            <?php 
                if (count ( $this->deposit ) > 0) {
                  foreach ($this->deposit as $row) { 
                    if($row['CCY_ID'] == 'USD') {
                      $loans = $row['EQUIVALEN'];

                      $percentage = ($loans/$totalloan) * 100;
                      echo ' <tr>
                      <td>'. $row['ACCT_NO'] .'</td>
                      <td>IDR '. number_format( $loans, 0, "." , ".") .'</td>
                      <td>'. number_format($percentage,2) .' %</td>
                      </tr>';
                    } 
                    
                  }
                }
                else {
                  echo ' <tr>
                  <td colspan="3" align="center">--- No Data ---</td>
                  
                  </tr>';
                }
            ?>
          </tbody>
            
      </table> 
      <br>
      <div class="content-box">
        <table class="table-sm ">
          <tr>
            <th>Networth</th>
            <th>USD <?php echo number_format( $totalnetworthusd, 0, "." , "."); ?></th>
            <th></th>
          </tr>
          <?php
            if($totalnetworthusd > 0) { ?>
          <tr>
            <th style="text-align:center">Credit Interest (4%)</th>
            <th>USD <?php echo number_format( $creditinterestusd, 0, "." , "."); ?></th>
            <th></th>
          </tr>
          <?php  
            } else {
          ?>
            <th style="text-align:center">Debit Interest (6%)</th>
            <th>USD <?php echo number_format( $debitinterestusd, 0, "." , "."); ?></th>
            <th></th>
          <?php
            }
          ?>
          
        </table>
      </div>
    </div>
</div>

<script>
  window.onload = function() {
      CanvasJS.addColorSet("networthColor",
                  [//colorSet Array
                  "#6495ed",
                  "#e03c31",
                  "#2E8B57",
                  "#3CB371",
                  "#90EE90"
    ]);
    var chart = new CanvasJS.Chart("chartContainer", {
      colorSet: "networthColor",
      animationEnabled: true,
      title:{
        text: "NET WORTH (IN IDR)"
      },
      data: [{
        type: "doughnut",
        startAngle: 40,
        //innerRadius: 60,
        indexLabelFontSize: 12,
        percentFormatString: "#0.##",
        indexLabel: "{label} - #percent%",
        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
        dataPoints: [
          { y: <?php echo $totalassets ?>, label: "Assets" },
          { y: <?php echo $totalloan ?>, label: "Loan" },

        ]
      }]
    });
    chart.render();
  }
  
  function usdchart() {
    $("#idrchart").hide();
    $("#idrtable").hide();
    $("#usdchart").show();
    $("#usdtable").show();
    $("#ccy").html('USD <i class="fa fa-angle-down"></i>');
    var chart1 = new CanvasJS.Chart("chartContainer1", {
      colorSet: "networthColor",
      animationEnabled: true,
      title:{
        text: "NET WORTH (IN USD)"
      },
      data: [{
        type: "doughnut",
        startAngle: 40,
        //innerRadius: 60,
        indexLabelFontSize: 12,
        percentFormatString: "#0.##",
        indexLabel: "{label} - #percent%",
        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
        dataPoints: [
          { y: <?php echo $totalassetsusd ?>, label: "Assets" },
          { y: <?php echo $totalloanusd ?>, label: "Loan" },

        ]
      }]
    });
    chart1.render();
  }

  function idrchart() {
      $("#idrchart").show();
      $("#idrtable").show();
      $("#usdchart").hide();
      $("#usdtable").hide();
      $("#ccy").html('IDR <i class="fa fa-angle-down"></i>');
    var chart = new CanvasJS.Chart("chartContainer", {
      colorSet: "networthColor",
      animationEnabled: true,
      title:{
        text: "NET WORTH (IN IDR)"
      },
      data: [{
        type: "doughnut",
        startAngle: 40,
        //innerRadius: 60,
        indexLabelFontSize: 12,
        percentFormatString: "#0.##",
        indexLabel: "{label} - #percent%",
        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
        dataPoints: [
          { y: <?php echo $totalassets ?>, label: "Assets" },
          { y: <?php echo $totalloan ?>, label: "Loan" },

        ]
      }]
    });
    chart.render();
  }
  $(document).ready(function(){
    $("#dropassets").click(function(){
      $("#assetsdetail").toggle();
         $('#assetsicon').toggleClass('fa fa-angle-down');
         $('#assetsicon').toggleClass('fa fa-angle-up');
    });

    $("#droploans").click(function(){
      $("#loansdetail").toggle();
         $('#loansicon').toggleClass('fa fa-angle-down');
         $('#loansicon').toggleClass('fa fa-angle-up');
    });

    $("#dropassets1").click(function(){
      $("#assetsdetail1").toggle();
         $('#assetsicon1').toggleClass('fa fa-angle-down');
         $('#assetsicon1').toggleClass('fa fa-angle-up');
    });

    $("#droploans1").click(function(){
      $("#loansdetail1").toggle();
         $('#loansicon1').toggleClass('fa fa-angle-down');
         $('#loansicon1').toggleClass('fa fa-angle-up');
    });

   

    
    
  });
</script>
