<?php $random = str_pad(mt_rand(0, 99), 2, '0', STR_PAD_LEFT);?>
<script type="text/javascript">
	function forceNumber(evt){
	    var charCode = (evt.which) ? evt.which : event.keyCode;
	    if ((charCode >= 48 && charCode <= 57) || charCode == 8 )
	        return true;
	    return false;
	}

    $(document).ready(function () {

         $(".tokeninput").keyup(function (e) {

              if ((e.which == 8 || e.which == 46) && $(this).val() =='') {
                    // $(this).prev().prop("disabled", false);
                    // $(this).next().prop("disabled", true);
                    $(this).prev().focus();

            }else{
                // $(this).next().prop("disabled", false);
                $(this).next().focus();
                // $(this).prop("disabled", true);

            }
          });

          $('#tokenmodal').on('shown.bs.modal', function() {
            // alert();
            $('.firsttokenfield').trigger('focus');
          });

           $('#tokenmodal2').on('shown.bs.modal', function() {
            $('.firsttokenfield').trigger('focus');
          });

    });
</script>

<div class="row hiddenprint">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span>Cheque Management</span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>

                <li>
                    <span class="inhouse"><?=$this->language->_('Request Book')?></span>
                </li>

            </ul>
        </div>
    </div>
</div>

<form name="addbeneficiary" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">

 <div class="row pt-2">
    <div class="col-md-7">
        <?php
            if($this->token){
              if($this->hidetoken){
            if ($this->confirmPage == 1){
              if($this->releaseresult){
                ?>
                    <div class="alert alert-success"><?=$this->language->_('Transaction Success')?></div><br />
                <?php
              }else{
                ?>
                     <div class="alert alert-danger"><?=$this->language->_('Transaction Failed')?></div><br />
                <?php
              }
              }
            }
          }
        ?>
        <?php if($this->error){ ?>
                <div class="alert alert-danger"><?=$this->language->_($this->report_msg)?></div><br />
         <?php } ?>
    </div>
   
      <div class="col-md-5">
        
      </div>
 
  </div>

  <div class="row pt-1">


      <div class="col-md-7">
             <h6><?=$this->language->_('Request Book')?></h6>
             <script>
                                function replaceText() {
                                    var x = document.getElementById("ACBENEF").value;
                                    document.getElementById("ACBENEF1").value = x.slice(-4);
                                }
            </script>
              <div class="form-group row">
                  <label class="col-sm-4 col-form-label"></label>
                  <div class="col-sm-8 pt-2">
                    <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
                  </div>
              </div>


              <div class="form-group row">
                  <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Subject'); ?><strong class="formreq"><font color="red"></font></strong></label>
                  <div class="col-sm-8 pt-2">
                    <?php echo $this->formText('SUBJECT',$this->SUBJECT,array('size'=>40,'maxlength'=>128,'class'=>'form-control'))?>
                  </div>
              </div>

              <div class="form-group row">
                  <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Source Account'); ?><strong class="formreq"><font color="red"></font></strong></label>
                  <div class="col-sm-8 pt-2">
                    <?php  echo $this->formApp("SELECT_ACCTSRC", $this->AccArr, $this->ACCTSRC, "ACCTSRC"); ?>
                                                                <div class="errmsg">
                                                                    <?=isset($this->report_msg['source_acct'])?$this->report_msg['source_acct']['isEmpty']:''?>
                                                                </div>
                  </div>
              </div>

              <div class="form-group row">
                  <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Product Type'); ?><strong class="formreq"><font color="red"></font></strong></label>
                  <div class="col-sm-8 pt-2">
                                            <select name="producttype" id="producttype" class="form-control" onclick="">
                                                                    <option value="">-- <?php echo $this->language->_('Any Value'); ?> --</option>
                                                                    <option value="1" <?php if ($this->PRODUCT_TYPE == "1"){echo "selected";}?>><?php echo $this->language->_('Cheque'); ?></option>
                                                                    <option value="2" <?php if ($this->PRODUCT_TYPE == "2"){echo "selected";}?>><?php echo $this->language->_('Bilyet Giro'); ?></option>                                                          
                                                                </select>
                                                                <div class="errmsg">
                                                                    <?=isset($this->report_msg['prod_type'])?$this->report_msg['prod_type']['isEmpty']:''?>
                                                                </div>
                  </div>
              </div>


               <div class="form-group row">
                  <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Number of Sheets'); ?><strong class="formreq"><font color="red"></font></strong></label>
                  <div class="col-sm-8 pt-2">
                    <select name="numberofsheet" id="numberofsheet" class="form-control" onclick="">
                                                                    <option value="">-- <?php echo $this->language->_('Any Value'); ?> --</option>
                                                                    <option value="5" <?php if ($this->NUMBEROF_SHEET == "5"){echo "selected";}?>>5</option>
                                                                    <option value="10" <?php if ($this->NUMBEROF_SHEET == "10"){echo "selected";}?>>10</option>                                                             
                                                                    <option value="15" <?php if ($this->NUMBEROF_SHEET == "15"){echo "selected";}?>>15</option>
                                                                    <option value="20" <?php if ($this->NUMBEROF_SHEET == "20"){echo "selected";}?>>20</option>
                                                                    <option value="25" <?php if ($this->NUMBEROF_SHEET == "25"){echo "selected";}?>>35</option>
                                                                    <option value="30" <?php if ($this->NUMBEROF_SHEET == "30"){echo "selected";}?>>30</option>                                                            
                                                                </select>
                                                                <div class="errmsg">
                                                                    <?=isset($this->report_msg['numberof_sheet'])?$this->report_msg['numberof_sheet']['isEmpty']:''?>
                                                                </div>
                  </div>
              </div>

              <br/>
              <br/>
              <div class="row form-text homeCardText col-sm-12">
                
                                            *<?php echo $this->language->_('Retrieval of Book at Branch Office Opening Account'); ?>
                   </div>



      </div>

      <div class="col-md-5">

      </div>

    </div>

    




			
					
					
					
					
								
							<br/>
							<div class="row">
                      <div class="col-sm-8">
                      <div class="panel panel-default" style="border:0px">
                      <!-- Default panel contents -->
                      	<input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url(array('module'=>'requestbook','controller'=>'view','action'=>'index'),null,true)?>'" value = "<?php echo $this->language->_('Back'); ?>">

                        

                           
                                <?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov'));  ?>
                         

                    	<!-- <input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btngreen hov"/> -->
                    </div>
                    <div class="col-sm-6">&nbsp;</div>
                      </div>
                    </div>
	   </form>
					

	        