<script>
	$(document).ready(function()
	{
		if( '<?=$this->success?>' || '<?=$this->error?>' )
		{
			$("input").attr("disabled","disabled");
			$("textarea").attr("disabled","disabled");
		}
	});
</script>



<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Charges'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Global Charges Setting'); ?>
						<i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
					<li>
	                    <?php echo $this->language->_('Global Charges Setting'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h5><?=$this->language->_('Global Charges Setting')?></h5>
		<h6><?=$this->language->_('Manage charges/fee service settings	')?></h6>
	</div>
</div>
<br>
	<div class="row col-md-12 d-flex justify-content-center">
		<button type="button" onclick="location.href='/companycharges/monthlyfee'" class="btnwhite hov col-md-3" name="button">Monthly Fee</button>
		<button type="button" onclick="location.href='/companycharges/localtransfer'" class="btngreen hov col-md-3" name="button">Local Transfer</button>
		<button type="button" onclick="location.href='/companycharges/valastransfer'" class="btnwhite hov col-md-3" name="button">Valas Transfer</button>
	</div>

<br>
<br>


<div class="row">
	<div align="center" class="col-md-12">
			<strong>Realtime Local Transfer Charges</strong>
	</div>
</div>
<br>
<div class="row">
		<div class="col-md-12">
				<table width="50%" align="center" class="table-sm">
						<tr>
							<td>Inhouse IDR</td>
							<td>
									<input type="text" class="form-control" name="" value="">
							</td>
						</tr>
						<tr>
							<td>SKN IDR</td>
							<td>
									<input type="text" class="form-control" name="" value="">
							</td>
						</tr>
						<tr>
							<td>TRGS IDR</td>
							<td>
									<input type="text" class="form-control" name="" value="">
							</td>
						</tr>
						<tr>
							<td>Domestic Online IDR</td>
							<td>
									<input type="text" class="form-control" name="" value="">
							</td>
						</tr>
						<tr>
							<td>Direct Debit (Inhouse) IDR</td>
							<td>
									<input type="text" class="form-control" name="" value="">
							</td>
						</tr>
						<tr>
							<td>Direct Debit (Domestic) IDR</td>
							<td>
									<input type="text" class="form-control" name="" value="">
							</td>
						</tr>
				</table>
				<br><br>
				<div align="center">
						<button type="button" class="btnwhite hov" name="button">Back</button>
						<button type="button" class="btnwhite hov" name="button">Reset</button>
						<button type="button" class="btngreen hov" name="button">Next</button>
				</div>
		</div>
</div>
