<div class="row content-box">
		<div class="col-md-12 portlet-body form">
			<table align = "CENTER" border="0" cellpadding="8" cellspacing="8" width="50%">
				<tbody>
					<tr>
						<td>
							<div id="box_outer">
								<div class="tbl-evencontent">
									<p><h5 align="center"><?php echo $this->language->_('Process Success'); ?></h5></p>
									
									<?php
									if($this->success)
									{
										echo '<br /><span class="successmsg">';
											echo $this->language->_('Release Payment Result').':<br />';
											echo $this->language->_('Total Payment slip').' : '.$this->payslip.'<br />';
											echo $this->language->_('Total Transaction').' : '.$this->traslip.'<br />';
											echo $this->language->_('Total Successful Payment slip Release').' : '.$this->paysuccess.'<br />';
											echo $this->language->_('Total Failed Payment slip Release').' : '.$this->payfailed.'<br />';
											echo $this->language->_('Total Invalid Payment slip').' : '.$this->invalidpayslip.'<br />';
											echo $this->language->_('Total Successful Transaction').' : '.$this->trasuccess.'<br />';
											echo $this->language->_('Total Failed Transaction').' : '.$this->trafailed.'<br />';
											echo $this->language->_('Total Failed Communication Attempt').' : '.$this->failedattempt.'<br />';
										echo '</span><br /><br />';
									}
									?>
									<br>
									<div class="formbutton" align="center">
							        <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/reruntransaction\'','class'=>'btnwhite hov')); ?>
							        
							      </div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
</div>
