<form name="biller_lion_view" method="post" action="">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td style="padding: 0pt 0pt 0pt 20px;">
					<img src="biller_lion_view.php_files/logo_lionair.gif" alt="Lion Air">
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td colspan="3" class="filterarea" id="filterarea">
					<div class="tdform-sub"><?php echo $this->language->_('Filter'); ?></div>
				</td>
			</tr>
			<tr>
				<td class="filterarea" id="filterarea" nowrap="nowrap" align="left">
					<div class="tbl-evencontent">
						<?php echo $this->language->_('Created From'); ?>&nbsp;&nbsp;
						<input name="CREATE_START" size="11" onfocus="this.blur()" readonly="readonly">&nbsp;&nbsp;<a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fStartPop(document.biller_lion_view.CREATE_START,document.biller_lion_view.CREATE_END);return false;" onmouseover="return hidestatus()"><img class="PopcalTrigger" src="biller_lion_view.php_files/calbtn.gif" alt="" border="0" height="22" width="34" align="absmiddle"></a>&nbsp;&nbsp;
						<?php echo $this->language->_('To'); ?>&nbsp;&nbsp;<input name="CREATE_END" size="11" onfocus="this.blur()" readonly="readonly">&nbsp;&nbsp;<a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fEndPop(document.biller_lion_view.CREATE_START,document.biller_lion_view.CREATE_END);return false;" onmouseover="return hidestatus()"><img class="PopcalTrigger" src="biller_lion_view.php_files/calbtn.gif" alt="" border="0" height="22" width="34" align="absmiddle"></a>&nbsp;&nbsp;
						<?php echo $this->language->_('Payment Date From'); ?>&nbsp;&nbsp;
						<input name="EFDATE_START" size="11" onfocus="this.blur()" readonly="readonly">&nbsp;&nbsp;<a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fStartPop(document.biller_lion_view.EFDATE_START,document.biller_lion_view.EFDATE_END);return false;" onmouseover="return hidestatus()"><img class="PopcalTrigger" src="biller_lion_view.php_files/calbtn.gif" alt="" border="0" height="22" width="34" align="absmiddle"></a>&nbsp;&nbsp;
						<?php echo $this->language->_('To'); ?>&nbsp;&nbsp;<input name="EFDATE_END" size="11" onfocus="this.blur()" readonly="readonly">&nbsp;&nbsp;<a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fEndPop(document.biller_lion_view.EFDATE_START,document.biller_lion_view.EFDATE_END);return false;" onmouseover="return hidestatus()"><img class="PopcalTrigger" src="biller_lion_view.php_files/calbtn.gif" alt="" border="0" height="22" width="34" align="absmiddle"></a>&nbsp;&nbsp;
					</div>
				</td>
			</tr>
			<tr>
				<td class="filterarea" id="filterarea" nowrap="nowrap" align="left">
					<div class="tbl-evencontent">
						<?php echo $this->language->_('Payer ID'); ?>&nbsp;&nbsp;
						<input name="TA_CODE" size="20" maxlength="20" type="text">&nbsp;&nbsp;
						<?php echo $this->language->_('Payer Description'); ?>&nbsp;&nbsp;
						<input name="TA_NAME" size="20" maxlength="20" type="text">&nbsp;&nbsp;
						<?php echo $this->language->_('Payment Ref'); ?>#&nbsp;&nbsp;
						<input name="SEARCH_PAYMENT" size="20" maxlength="20" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);" type="text">&nbsp;&nbsp;
					</div>
				</td>													
			</tr>
			<tr>
				<td class="filterarea" id="filterarea" nowrap="nowrap" align="left">
					<div class="tbl-evencontent">
						<?php echo $this->language->_('Source Account'); ?>&nbsp;&nbsp;
						<input name="DEBET_ACCT" size="20" maxlength="20" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);" type="text">&nbsp;&nbsp;
						<?php echo $this->language->_('CCY'); ?>&nbsp;&nbsp;
						<input name="SEARCH_CCY" size="4" maxlength="4" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);" type="text">&nbsp;&nbsp;
						<?php echo $this->language->_('Payment Status'); ?>&nbsp;&nbsp;
						<select name="SEARCH_STATUS">
							<option selected="selected" value=""><?php echo $this->language->_('All'); ?>
							</option><option value="1"><?php echo $this->language->_('Waiting for Approval'); ?>
							</option><option value="2"><?php echo $this->language->_('Waiting to Release'); ?>
							</option><option value="3"><?php echo $this->language->_('Request Repair'); ?>
							</option><option value="4"><?php echo $this->language->_('Rejected'); ?>
							</option><option value="5"><?php echo $this->language->_('Completed'); ?>
							</option><option value="6"><?php echo $this->language->_('Transfer Failed'); ?>
							</option><option value="7"><?php echo $this->language->_('Pending Future Date'); ?>
							</option><option value="9"><?php echo $this->language->_('Exception'); ?>
							</option><option value="13"><?php echo $this->language->_('Pending Process'); ?>
							</option><option value="14"><?php echo $this->language->_('Cancel Future Date'); ?>
							</option>
						</select>
						<input class="inputbtn" value="set filter" onclick="JavaScript:proceed('', '', '1');" type="button">
						<input class="inputbtn" value="clear filter" onclick="location.href='biller_lion_view.php?fl3nc=1&amp;r=4cu0hrhnz5lyhto3&amp;param=3nd3dIiKiHyBfXO2wMC5tYO5u7iL5dLopOWVx8nKm8m1vMOYaJM%3d'" type="button">
					</div>
				</td>													
			</tr>
			<tr>
				<td colspan="3" class="filterarea-line"><img src="biller_lion_view.php_files/1x1px.gif"></td>
			</tr>
			<tr>
				<td colspan="3" class="filterarea-line">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="3" class="contentarea" id="contentarea" valign="midle" align="right">
					<script language="JavaScript" type="text/javascript" defer="defer"><!--
						function goPrev()
						{ location.href = 'biller_lion_view.php?fl3nc=1&r=c58713hefwnuol9k&param=0aGTmplyZl2rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb4yZqFyqh4t6r8nQrbpxzZTY2NHk6ZvWqsvKjaW0yrS7upek0tK4uoOGcJiaqZo%3d' }
						function goNext()
						{ location.href = 'biller_lion_view.php?fl3nc=1&r=v568vfom1hiym1ho&param=0aGTmplyaF2rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb4yZqFyqh4t6r8nQrbpxzZTY2NHk6ZvWqsvKjaW0yrS7upek0tK4uoOGcJiaqZo%3d' }
					</script>
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<td nowrap="nowrap" valign="middle" width="95%" align="right">
									<?php echo $this->language->_('Page'); ?>&nbsp;<select name="currPage" id="currPage" onchange="goPage(document.biller_lion_view.currPage.selectedIndex + 1);">
									<option value="1" selected="selected">1</option>
									</select>
									<?php echo $this->language->_('of 1'); ?>&nbsp;
								</td>
								<td style="padding-right: 8px;" nowrap="nowrap" width="5%" align="right">
									<input name="btPrev" value="&lt;&lt;" class="buttonpaging" disabled="disabled" type="button">
									<input name="btNext" value="&gt;&gt;" class="buttonpaging" disabled="disabled" type="button">
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="3" class="filterarea-line">&nbsp;</td>
			</tr>
			<tr>
				<td class="contentarea" id="contentarea">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<td class="tdform-sub"><?php echo $this->language->_('Payment Ref'); ?>#<a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=tiqbhmhsiwaqlv65&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTY2NHd7qTXm9iM2oG3vLXIx3q72Ma0vYVvlKeY"><img src="biller_lion_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=8hax47vq92o44c7d&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTY2NHd7qTXm9iM2oG3vLXIx3q72Ma0vYVvl5momQ%3d%3d"><img src="biller_lion_view.php_files/ico_desc.gif"></a></td>													
								<td class="tdform-sub"><?php echo $this->language->_('Source Account'); ?><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=fcag7vghj8t7rwrd&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTJyNXi65qbqbW4q3e317LPx4uxy8eizKSV"><img src="biller_lion_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=zzxonw2u4bnwl38s&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTJyNXi65qbqbW4q3e317LPx4uxy8eiz5allg%3d%3d"><img src="biller_lion_view.php_files/ico_desc.gif"></a></td>
								<td class="tdform-sub"><?php echo $this->language->_('Source Account Name / Alias'); ?><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=aappminx2a1aetkc&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTJyNXi65rUmMfU0qDG5dWc24e0vbi3ynOLkoeEiIt1mqnN"><img src="biller_lion_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=djzbez77zfwzmnus&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTJyNXi65rUmMfU0qDG5dWc24e0vbi3ynOLkoeEiIt1nZvd2g%3d%3d"><img src="biller_lion_view.php_files/ico_desc.gif"></a></td>
								<td class="tdform-sub"><?php echo $this->language->_('Beneficiary Account'); ?><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=gf53enht94ru5pvj&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTJyNTU55zbXNm1uXaqys-4wZe1yMW5qJKllg%3d%3d"><img src="biller_lion_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=ddurgdi5syf1gpfd&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTJyNTU55zbXNm1uXaqys-4wZe1yMW5qJWXppc%3d"><img src="biller_lion_view.php_files/ico_desc.gif"></a></td>
								<td class="tdform-sub"><?php echo $this->language->_('Beneficiary Account Name'); ?><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=dd70w6kq6tgbm5ql&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTJyNTU55zblcjH1Z3T2d3bjquxy7eqvZB0jJOIhYmMdpfd2g%3d%3d"><img src="biller_lion_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=s1qerpmbie32nkkd&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTJyNTU55zblcjH1Z3T2d3bjquxy7eqvZB0jJOIhYmMdprP6tQ%3d"><img src="biller_lion_view.php_files/ico_desc.gif"></a></td>
								<td class="tdform-sub"><?php echo $this->language->_('Payer ID'); ?><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=t3ke1gfzlu0qodbz&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTL0dvU56vUn8qM2oG3vLXIx3q72Ma0vYVvlKeY"><img src="biller_lion_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=dxmlaad77kfugmxm&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTL0dvU56vUn8qM2oG3vLXIx3q72Ma0vYVvl5momQ%3d%3d"><img src="biller_lion_view.php_files/ico_desc.gif"></a></td>
								<td class="tdform-sub"><?php echo $this->language->_('Payer Description'); ?><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=m2up8re46a3wmro8&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTL0dvU56vUmsvZyqTO6OTf16aI7MK3r3aEknaOlYqHi4qn2OTO"><img src="biller_lion_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=ydj5w9ds4hn0du2j&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTL0dvU56vUmsvZyqTO6OTf16aI7MK3r3aEknaOlYqHi4qn29bexA%3d%3d"><img src="biller_lion_view.php_files/ico_desc.gif"></a></td>
								<td class="tdform-sub"><?php echo $this->language->_('Created'); ?><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=pb05izk8dsan3yjo&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxzZTY2NHS65zWqsvKjaW0yrS7upek0tK4uoOGcJWomQ%3d%3d"><img src="biller_lion_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=bn7sxrg11zbcmku3&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxzZTY2NHS65zWqsvKjaW0yrS7upek0tK4uoOGcJiaqZo%3d"><img src="biller_lion_view.php_files/ico_desc.gif"></a></td>	
								<td class="tdform-sub"><?php echo $this->language->_('Updated'); ?><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=37w4dj7qdumj54ha&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxzZTY2NHk6ZvWqsvKjaW0yrS7upek0tK4uoOGcJWomQ%3d%3d"><img src="biller_lion_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=j3z5zjs311nwr2nt&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxzZTY2NHk6ZvWqsvKjaW0yrS7upek0tK4uoOGcJiaqZo%3d"><img src="biller_lion_view.php_files/ico_rdesc.gif"></a></td>	
								<td class="tdform-sub"><?php echo $this->language->_('Payment Date'); ?></td>																
								<td class="tdform-sub"><?php echo $this->language->_('CCY'); ?><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=tm0kecl2nnl2zrkc&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTL2uTh2JrkmsuM2oG3vLXIx3q72Ma0vYVvlKeY"><img src="biller_lion_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=7k4qm9fswoi90wai&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTL2uTh2JrkmsuM2oG3vLXIx3q72Ma0vYVvl5momQ%3d%3d"><img src="biller_lion_view.php_files/ico_desc.gif"></a></td>																
								<td class="tdform-sub" align="right"><?php echo $this->language->_('Amount'); ?><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=y8vjrxmski8b423w&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTc19PO2qTkq9TajaW0yrS7upek0tK4uoOGcJWomQ%3d%3d"><img src="biller_lion_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=e42vikwmzo0dp3kk&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxypTc19PO2qTkq9TajaW0yrS7upek0tK4uoOGcJiaqZo%3d"><img src="biller_lion_view.php_files/ico_desc.gif"></a></td>															
								<td class="tdform-sub"><?php echo $this->language->_('Status'); ?><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=1xqedh0i124i1h21&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxzZTY2NHi7Zjpq9mM2oG3vLXIx3q72Ma0vYVvlKeY"><img src="biller_lion_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_lion_view.php?fl3nc=1&amp;r=8wl26q9jjdlyv1y7&amp;param=0aGTmplyZ12rf3ury8a9pn2to7Suwb3NhsWLtozadqq6tcrHeaW8x6KRpIZ0k3iFe312XN3LssqvdbarpYvlwr54x3muxap1vrWW6bt9o8u2rcpyf4KJg4p0Xqx5vLyyv6aTvLqpt8asn6q4iKunu3fEvb66pV7VvrmprIV3koeJd4mMdlzdvLevooiuxa2ztqyfqsh7p7iqesTIsc-1fbDNsIvehHd0hnh-louNd77MxKiHp8zV1dXR0Nya3pqjsrRilamW6bGLwcjFqbCDb6yZqFyqh4t6r8nQrbpxzZTY2NHi7Zjpq9mM2oG3vLXIx3q72Ma0vYVvl5momQ%3d%3d"><img src="biller_lion_view.php_files/ico_desc.gif"></a></td>													
							</tr>
							<tr>
								<td class="tbl-oddcontent"><a href="javascript:proceed2('detail-payment',%20'2012012800000518E',%20'1')"><?php echo $this->language->_('2012012800000518E'); ?></a></td>
								<td class="tbl-oddcontent"><?php echo $this->language->_('1290001537'); ?></td>
								<td class="tbl-oddcontent"><?php echo $this->language->_('JOSHUA ADISETYA DHARMAWAN                '); ?>&nbsp;</td>
								<td class="tbl-oddcontent"><?php echo $this->language->_('2138272689'); ?></td>
								<td class="tbl-oddcontent"><?php echo $this->language->_('LION MENTARI PT                         '); ?></td>
								<td class="tbl-oddcontent"><?php echo $this->language->_('IDJKTCOBACOBA'); ?></td>
								<td class="tbl-oddcontent"><?php echo $this->language->_('COBACOBACOBA'); ?></td>
								<td class="tbl-oddcontent"><?php echo $this->language->_('28 Jan 2012 00:05:33'); ?></td>
								<td class="tbl-oddcontent"><?php echo $this->language->_('28 Jan 2012 00:28:43'); ?></td>
								<td class="tbl-oddcontent"><?php echo $this->language->_('28 Jan 2012 '); ?></td>
								<td class="tbl-oddcontent"><?php echo $this->language->_('IDR'); ?></td>
								<td class="tbl-oddcontent" align="right"><?php echo $this->language->_('100.00'); ?></td>
								<td class="tbl-oddcontent"><?php echo $this->language->_('Completed'); ?></td>
							</tr>
							<tr>
								<td colspan="3" class="filterarea-line">&nbsp;</td>
							</tr>
							<tr>
								<td class="button-area" id="button-area" colspan="9">
									<div class="formbutton">
										<input class="inputbtn" value="back" onclick="location.href='partner_screen.php?fl3nc=1&amp;r=wvusyerbyqfli2k9&amp;param=3pShoKSUl5qbopqnw76bkWU%3d'" type="button">
										<input class="inputbtn" value="&nbsp;&nbsp;&nbsp;&nbsp;CSV&nbsp;&nbsp;&nbsp;&nbsp;" onclick="location.href='biller_lion_view.php?fl3nc=1&amp;r=9w11g26k2rlnqvxi&amp;param=3qGkopeaqap1qajT5eWYxKffjNurt7DNjMd7r6qkfq7Hvsq3iLfJmdivdnR4iJR3enuNc5DqxazAd7iqraKY4s141ISns6xvi-vDu6mKpcHSqK6Kb1mniHt4inx-ybi-uraCvaOO2LXBvnjJe8W5u3O3zK2c23u0vrS5sJB3gXhyXKp9f3qry7bKtIiquLyimOK-fbl3uqvGd7O8rZzbi6e6xaizkIJ0jYJ7hYx2XN3Ktqyzd7HFu7mzw86KslzZr7qRtMq0u7p1u97mi96AhHd5h5V5kXaamOfkytakzcfcytaV7IbHequ4xnS-18PFuoyf3djYzg%3d%3d'" type="button">
										<input class="inputbtn" value="&nbsp;&nbsp;&nbsp;&nbsp;PDF&nbsp;&nbsp;&nbsp;&nbsp;" onclick="location.href='biller_lion_view.php?fl3nc=1&amp;r=ceqpfyu3nhtikhbr&amp;param=3qGkopeaqap1qajT5eWY0ZjPjNurt7DNjMd7r6qkfq7Hvsq3iLfJmdivdnR4iJR3enuNc5DqxazAd7iqraKY4s141ISns6xvi-vDu6mKpcHSqK6Kb1mniHt4inx-ybi-uraCvaOO2LXBvnjJe8W5u3O3zK2c23u0vrS5sJB3gXhyXKp9f3qry7bKtIiquLyimOK-fbl3uqvGd7O8rZzbi6e6xaizkIJ0jYJ7hYx2XN3Ktqyzd7HFu7mzw86KslzZr7qRtMq0u7p1u97mi96AhHd5h5V5kXaamOfkytakzcfcytaV7IbHequ4xnS-18PFuoyf3djYzg%3d%3d'" type="button">
										<input class="inputbtn" value="&nbsp;&nbsp;&nbsp;&nbsp;Print&nbsp;&nbsp;&nbsp;&nbsp;" onclick="window.print();" type="button">
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</form>
