<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Transaction'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="valas" ><?php echo $this->language->_('Bulk Transfer'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="valas" ><?php echo $this->language->_('New'); ?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>
<style type="text/css">

    .inputtext{

    /*border: none;*/
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: none;
    width: auto;

  }


</style>

<script type="text/javascript">
  function showAccountBeneficiary(pagesource)
  {
    var win = null;
    var w = 1200, h = 500;

    if (win && !win.close())
    {
      win.close();
    }

    LeftPosition=(screen.width)?(screen.width-w)/2:100;
    TopPosition=(screen.height)?(screen.height-h)/2:100;

    settings='width=1200,height=500,top='+TopPosition+',left='+LeftPosition+',scrollbars=1,location=no,directories=no,status=no,menubar=no,toolbar=no,resizable=no';
    win=window.open("../popup/"+pagesource,'sgo_popup_window',settings);
    win.focus();
  }
</script>
<script type="text/javascript">

  function bulkchange(val){
    // alert($("#lang").val());
    if(val == '0' || val == '2'){
      $("#benef").hide();
      $("#benef1").hide();
      $("#benef2").hide();
      $("#source").show();
    }else if(val == '1'){
       if($("#lang").val() == 'id'){
          // $file = '/template/Multi_Debit_Template_id.csv';
      }else{
          // $file = '/template/Multi_Debit_Template_en.csv';
      }
      document.getElementById('temp').href = $file;

      $("#source").hide();
      $("#benef").show();
      $("#benef1").show();
      $("#benef2").show();
    }else{
      $("#source").hide();
      $("#benef").hide();
      $("#benef1").hide();
      $("#benef2").hide();
    }

    if(val == '0'){
      if($("#lang").val() == 'id'){
          // $file = '/template/Multi_Credit_Template_id.csv';
          $file = '/template/Template_Bulk Transfer.xlsx';

      }else{
          // $file = '/template/Multi_Credit_Template_en.csv';
          $file = '/template/Template_Bulk Transfer.xlsx';

      }
      document.getElementById('temp').href = $file;

    }
    if(val == '3'){
      if($("#lang").val() == 'id'){
          // $file = '/template/Single_Payment_Template_Mix_id.csv';
          $file = '/template/Template_Bulk Transfer.xlsx';
      }else{
          // $file = '/template/Single_Payment_Template_Mix_en.csv';
          $file = '/template/Template_Bulk Transfer.xlsx';

      }
      document.getElementById('temp').href = $file;

    }
    // alert(val);
    if(val == '2'){
      $("#adapter").show();
      if($("#lang").val() == 'id'){
          // $file = '/template/Payroll_Template_id.csv';
          $file = '/template/Template_Bulk Transfer.xlsx';

      }else{
          // $file = '/template/Payroll_Template_en.csv';
          $file = '/template/Template_Bulk Transfer.xlsx';
      }
      document.getElementById('temp').href = $file;

    }else{
      $("#adapter").hide();
    }
    if(val ==''){
      $("#template").hide();
    }else{
      $("#template").show();
    }



 }


  $(document).ready(function(){
    var e = document.getElementById("BULK_TYPE");
    var value = e.options[e.selectedIndex].value;
    // alert(value);
  bulkchange('0');
//   $(function() {
//     $("#myModal").modal();
// });
$('#chooseFile').bind('change', function () {
  var filename = $("#chooseFile").val();
  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("No file chosen...");
  }
  else {
    $(".file-upload").addClass('active');
    $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
  }
});


   $('#myModal').on('shown.bs.modal', function(){
      $('.blur').css({"filter":"blur(10px)" });
    }).on('hidden.bs.modal', function(){
      $('.blur').css({"filter":"" });
    })


});
</script>

<style type="text/css">



.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

</style>


<?php if($this->error){ ?>
          <div class="errmsg"><?=html_entity_decode($this->report_msg)?></div><br />
          <?php } ?>
<div class="portlet-body form content-box">
<form name="payment" method="post" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" enctype="multipart/form-data">
  <input name="process" value="" type="hidden">
  <input name="num" value="" type="hidden">
  <input name="page" value="" type="hidden">
  <input name="titleForm" value="Import File" type="hidden">

  <div class="row">
    <div class="col-md-12">
      <style type="text/css">

          .nav-tabs .nav-link {
            border-color: #c9c9c9;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 135px;
            text-align: center;
          }
          .nav-tabs .nav-link:hover {
            border-color: #c9c9c9;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color:white;
            background-color: #005587;
            margin-top: -10px;
              padding-bottom: 10px;
              top: -10px;
              padding-top: 18px;
              height: 47.5px;
          }
          .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
              color:white;
              background-color: #005587;
              border-color: #dee2e6 #dee2e6 #fff;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              margin-top: -10px;
              padding-bottom: 10px;
              top: -10px;
              padding-top: 14px;
              height: 47.5px;
              font-size: 17px
          }
      </style>
       <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " id="credit-tab" href="#" onclick="bulkchange('0')" role="tab" at="1" value="1" aria-controls="credit" aria-selected="true"><?php echo $this->language->_('Multi Credit');?></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="debit-tab" href="#" onclick="bulkchange('1')" role="tab" at="2" value="2" aria-controls="debit" aria-selected="false"><?php echo $this->language->_('Multi Debit');?></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="payroll-tab" href="#" onclick="bulkchange('2')" role="tab" at="3" value="3" aria-controls="payroll" aria-selected="false"><?php echo $this->language->_('Payroll');?></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="many-tab" href="#" onclick="bulkchange('4')" role="tab" at="4" value="4" aria-controls="many" aria-selected="false"><?php echo $this->language->_('Many to many');?></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="money-tab" href="#" onclick="bulkchange('3')" role="tab" at="5" value="5" aria-controls="money" aria-selected="false"><?php echo $this->language->_('E-Money');?></a>
        </li>
      </ul>
      <!-- <a href="/singlepayment/within" class="switch aktif"><?php echo $this->language->_('In House');?></a>
      <a href="/singlepayment/virtualaccount" class="switch"><?php echo $this->language->_('Virtual Accounts');?></a>
      <a href="/singlepayment/remittance" class="switch"><?php echo $this->language->_('Valas');?></a>
      <a href="/singlepayment/domestic" class="switch"><?php echo $this->language->_('Domestic');?></a> -->

    </div>
  <!-- <div class="col-md-5"> -->


    <?php
    //echo $this->formButton('back',$this->language->_('Import files'),array('class'=>'btnwhite hov',"onclick"=>"redirectbulk();"));
  //   echo '&nbsp;';
    // echo $this->formButton('back',$this->language->_('Templates'),array('class'=>'btnwhite hov', "onclick"=>"modaltemplate();"));
    // echo '&nbsp;';

    // echo $this->formButton('back',$this->language->_('Approval List'),array('class'=>'btnwhite hov',"onclick"=>"modalapproval();"));
    ?>
  <!-- </div> -->

  </div>
 <div class="row pt-2">
    <div class="col-md-7">
        <?php 
            if($this->token){
              if($this->hidetoken){ 
              if($this->releaseresult){
                ?>
                    <div class="alert alert-success"><?=$this->language->_('Transaction Success')?></div><br />
                <?php
              }else{
                ?>
                     <div class="alert alert-danger"><?=$this->language->_('Transaction Failed')?></div><br />
                <?php
              }
            }
          }
        ?>
    </div>
    <div class="col-md-5">
     <!--  <a class="btnwhite hov card" href="#" onclick="redirectbulk();" style="text-transform: none; padding-top:5px;"><img src="/images/icon/light/csv.png">&nbsp;<span><?php echo $this->language->_('Bulk'); ?></span></a> -->
    <!-- <a class="btnwhite hov card" href="#"  style="text-transform: none; padding-top:5px;<?php echo $btntemplatedisplay; ?>"><img src="/images/icon/light/folded-text-document.png"></i>&nbsp;<?php echo $this->language->_('Templates'); ?></a> -->
   <!--  <a class="btnwhite hov card" href="#" onclick="modalapproval();" style="text-transform: none; padding-top:5px;"><img src="/images/icon/light/checked.png"></i>&nbsp;<?php echo $this->language->_('Approval Matrix'); ?></a> -->
    </div>
  </div>
  <div class="row pt-1">


      <div class="col-md-7">
          <table class="form-horizontal form-bordered form-row-stripped" border="0" cellpadding="4" cellspacing="4" width="100%" align="center">
            <tbody>
              <tr>
                <td style="width: 100px"></td>
                <td colspan="" nowrap="nowrap">


                    <div class="portlet-body form">

                      <div class="portlet-body form">
                                                <div class="form-group row ">
                                                            <label class="control-label col-md-3"></label>
                                                            <div class="col-md-9">
                                                            <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
                                                            </div>
                                                </div>
                                                 <div class="form-group row " style="display: none">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Bulk Transfer Type'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                            <div class="col-md-9">
                                                            <?php
                                                              $arrFirst = array();
                                                          $arrFirst[''] = '-- Select Bulk Type --';
                                                          $this->BulkArr = array_merge($arrFirst, $this->BulkType);
                                                          echo $this->formSelect('BULK_TYPE',$this->BULK_TYPE,array('id'=>'BULK_TYPE','class'=>'form-control','onchange'=>'bulkchange(this.value);'), $this->BulkArr);
                                                            ?>

                                                            <?php
                                                            $ns = new Zend_Session_Namespace('language');
                                                                $sessionLanguage = $ns->langCode;

                                                                // if($sessionLanguage == 'id'){
                                                                //   $file = '/template/Payroll_Template_id.csv';
                                                                // }
                                                                // else{
                                                                //   $file = '/template/Payroll_Template_en.csv';
                                                                // }


                                                                // if($sessionLanguage == 'id'){
                                                                //     $file = 'Multi_Credit_Template_id.csv';
                                                                //   }
                                                                //   else{
                                                                //     $file = 'Multi_Credit_Template_en.csv';
                                                                //   }

                                                              ?>
                                                                      <strong>

                                                              <span style="font-size:10px;font-style:normal;">
                                                              <div  style="width: 100%" class="row">
                                                                <div class="col-md-9" id="adapter">
                                                                <img src="/images/convert.png" height="47" width="49" style="padding-top: 2px">
                                                                <a href="/adapter" style="color:#F4C301;text-align: left;"><u><?php echo $this->language->_('File Adapter'); ?></u></a>
                                                                <input type="hidden" name="lang" id="lang" value="<?php echo $sessionLanguage;?>" >
                                                                </div>

                                                                <div class="col-md-3" id="template" >
                                                                  <img src="/images/download.png"  style="width: 35px;" height="47" width="49">
                                                                <a href="<?=$file?>" id="temp" style="color:#F4C301; text-align: right;"><u><?php echo $this->language->_('download template'); ?></u></a>
                                                                </div>
                                                              </div>
                                                              </span></strong>

                                                            </div>
                                                        </div>

                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Subject'); ?></label>
                                                            <div class="col-md-9">
                                                            <?php echo $this->formText('PSSUBJECT',$this->PSSUBJECT,array('size'=>40,'maxlength'=>128,'class'=>'form-control'))?>
                                                            </div>
                                                        </div>
                                                         <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Payment Date'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                            <div class="col-md-9" align="left">
                                                              <input type="text" id="PSEFDATE" name="PSEFDATE" class="form-control" value="<?php echo $this->PSEFDATE?>" placeholder="dd/mm/yyyy">
                                                              <script>
                                                                    $('#PSEFDATE').datepicker({
                                                                        minDate: function() {
                                                                            var date = new Date();
                                                                           date.setDate(date.getDate());
                                                                            return new Date(date.getFullYear(), date.getMonth(), date.getDate());
                                                                        },
                                                                        format: 'dd/mm/yyyy',
                                                                        uiLibrary: 'bootstrap4',
                                                                    });
                                                              </script>


                                                            </div>
                                                        </div>
                                                       <div class="form-group row " id="source">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Source Account'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                            <div class="col-md-9">
                                                            <?php  echo $this->formApp("SELECT_ACCTSRC", $this->AccArr, $this->ACCTSRC, "ACCTSRC"); ?>
                                                            </div>
                                                        </div>


                                                        <div class="form-group row " id="benef">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Beneficiary Account'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                         <div class="col-md-9">
                                                          <div class="input-group">
                                                           <?php echo $this->formText('ACBENEF',$this->ACBENEF,array('readonly'=>'readonly','size'=>40,'maxlength'=>20,'onkeypress'=>'return forceNumberOCBC(event)','class'=>'form-control'))?>
                                                           <div class="input-group-append">
                                             <input class="btn btn-success" value="<?php echo $this->language->_('Account Book')?>" onclick="showAccountBeneficiary('bulkpopup?fl3nc=1&amp;r=pnngnbjvys707sv5&amp;param=');" type="button">
                                           </div>
                                             <input name="ACBENEF_FULL" value="" type="hidden">
                                             <?php echo $this->formText('ACBENEF_ALIAS',$this->ACBENEF_ALIAS,array('size'=>40,'maxlength'=>128,'style'=>'display:none'))?>
                                             <?php //echo $this->formText('ACBENEF_ALIASLABEL',$this->ACBENEF_ALIASLABEL,array('size'=>40,'maxlength'=>128,'style'=>''))?>
                                                        </div>
                                                          </div>
                                                        </div>
                                                        <div class="form-group row" id="benef1">
                                                                       <label class="control-label col-md-3"><?php echo $this->language->_('Beneficiary Account Name'); ?></label>
                                                                       <div class="col-md-9">
                                                                       <?php echo $this->formText('ACBENEF_BANKNAME',$this->ACBENEF_BANKNAME,array('size'=>40,'maxlength'=>40,'readonly'=>'readonly','class'=>'inputtext'))?>
                                                                       </div>
                                                                   </div>
                                                          <div class="form-group row" style="display: none">
                                                          <label class="control-label col-md-3"><?php echo $this->language->_('Beneficiary Alias Name'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                            <div class="col-md-9">
                                                                  <?php echo $this->formText('ACBENEF_ALIASLABEL',$this->ACBENEF_ALIASLABEL,array('size'=>40,'maxlength'=>40,'class'=>'inputtext form-control'))?>
                                                                </div>
                                                            </div>

                                                        <div class="form-group row" id="benef2">
                                                          <label class="control-label col-md-3"><?php echo $this->language->_('Curency'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                            <div class="col-md-9">
                                                              <?php echo $this->formText('CURR_CODE',$this->CURR_CODE,array('size'=>40,'maxlength'=>40,'class'=>'inputtext'))?>
                                                                </div>
                                                            </div>




                                                        <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Select File'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                            <div class="col-md-9">
                                                          <div class="file-upload">
                                                      <div class="file-select">
                                                        <div class="file-select-button" id="fileName">Choose File</div>
                                                        <div class="file-select-name" id="noFile">No file chosen...</div>
                                                        <input type="file" name="CSV_FILE" id="chooseFile">
                                                      </div>
                                                    </div>
                                                  </div>
                                                  </div>
                    </div>
                   </div>
                   </td></tr>
              </tbody>
          </table>
        </div>
        <div class="col-md-5" align="right">
          <?php  $file = '/template/Template_Bulk Transfer.xlsx'; ?> 
           <a class="btnwhite hov card" href="<?=$file?>"  style="text-transform: none; padding-top:5px;<?php echo $btntemplatedisplay; ?>"><img src="/images/icon/light/folded-text-document.png"></i>&nbsp;<?php echo $this->language->_('Templates'); ?></a>
        </div>
      </div>

        <br>
        <div class="formbutton" align="center">
          <input class="btnwhite hov" value="<?php echo $this->language->_('Cancel')?>" onclick="location.href='/home/index'" type="button">
          <input type="submit" class="btngreen hov" name="submit" value="<?php echo $this->language->_('Submit')?>"/>
        </div>



</form>
</div>
