<script type="text/javascript">
	$(document).ready(function() {
		$('div#sidebar-collapse').click(function() {
			if ($("#logo-title").is(":visible")) {
				$("#logo-title").hide();
				$("#logo-titles").hide();
			} else if ($("#logo-title").is(":hidden")) {
				$("#logo-title").show();
				$("#logo-titles").show();
			}
		})

		$('#createdStart').datepicker({
			minDate: function() {
				var mindate = new Date();
				mindate.setDate(mindate.getDate() - 180);
				return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
			},
			maxDate: function() {
				var maxdate = new Date();
				maxdate.setDate(maxdate.getDate());
				return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
			},
			format: 'dd/mm/yyyy',
			uiLibrary: 'bootstrap4',
		});
		$('#createdEnd').datepicker({
			minDate: function() {
				var val = document.getElementById('createdStart').value;
				var parts = val.split("/");
				var mindate = new Date(parts[2], parts[1] - 1, parts[0]);

				mindate.setDate(mindate.getDate());
				return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
			},
			maxDate: function() {

				var maxdate = new Date();
				return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
			},
			format: 'dd/mm/yyyy',
			uiLibrary: 'bootstrap4'
		});
		$('#updatedStart').datepicker({
			minDate: function() {
				var mindate = new Date();
				mindate.setDate(mindate.getDate() - 180);
				return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
			},
			maxDate: function() {
				var maxdate = new Date();
				maxdate.setDate(maxdate.getDate());
				return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
			},
			format: 'dd/mm/yyyy',
			uiLibrary: 'bootstrap4',
		});
		$('#updateEnd').datepicker({
			minDate: function() {
				var val = document.getElementById('updatedStart').value;
				var parts = val.split("/");
				var mindate = new Date(parts[2], parts[1] - 1, parts[0]);

				mindate.setDate(mindate.getDate());
				return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
			},
			maxDate: function() {

				var maxdate = new Date();
				return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
			},
			format: 'dd/mm/yyyy',
			uiLibrary: 'bootstrap4'
		});
		$('#trfdateStart').datepicker({
			minDate: function() {
				var mindate = new Date();
				mindate.setDate(mindate.getDate() - 180);
				return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
			},
			maxDate: function() {
				var maxdate = new Date();
				maxdate.setDate(maxdate.getDate());
				return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
			},
			format: 'dd/mm/yyyy',
			uiLibrary: 'bootstrap4',
		});
		$('#trfdateEnd').datepicker({
			minDate: function() {
				var val = document.getElementById('trfdateStart').value;
				var parts = val.split("/");
				var mindate = new Date(parts[2], parts[1] - 1, parts[0]);

				mindate.setDate(mindate.getDate());
				return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
			},
			maxDate: function() {

				var maxdate = new Date();
				return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
			},
			format: 'dd/mm/yyyy',
			uiLibrary: 'bootstrap4'
		});

		$('#fixTable').fixTableHeader();

		$("#searchtable").keyup(function() {
			var value = this.value.toLowerCase().trim();

			$("#myTable tr").each(function(index) {
				if (!index) return;
				$(this).find("td").each(function() {
					var id = $(this).text().toLowerCase().trim();
					var not_found = (id.indexOf(value) == -1);
					$(this).closest('tr').toggle(!not_found);
					return not_found;
				});
			});
		});

	});
</script>

<?php
$counter = (($this->currentPage - 1) * $this->paginator->getItemCountPerPage()) + 1;
?>

<script type="text/javascript">
	function detailpayment(url, acct) {
		var test;
		var AcctValue = acct;
		var url = url + "?PS_NUMBER=" + AcctValue;
		test = openwindow(url, 640, 780);
	}

	function changeTransferType() {
		// Remove all options
		document.filterForm.transfertype.options.length = 0;

		// Repopulate the select menu with new options
		// new Option(text, value, defaultSelected, selected)
		value = $('#paymenttype').val();
		if (value == '1') {

			document.filterForm.transfertype.options[0] = new Option('-- <?= $this->language->_('Any Value'); ?> --', '');
			document.filterForm.transfertype.options[1] = new Option('Mayapada', '0');
			document.filterForm.transfertype.options[2] = new Option('Mayapada (Sell)', '7');
			document.filterForm.transfertype.options[3] = new Option('Mayapada (Buy)', '8');
			document.filterForm.transfertype.options[4] = new Option('VA', '6');
		} else if (value == '7,5' || value == '11,11' || value == '15,15' || value == '14,14') {

			document.filterForm.transfertype.options[0] = new Option('-- <?= $this->language->_('Any Value'); ?> --', '');
			document.filterForm.transfertype.options[1] = new Option('Mayapada', '0');
		} else if (value == '2') {

			document.filterForm.transfertype.options[0] = new Option('-- <?= $this->language->_('Any Value'); ?> --', '');
			document.filterForm.transfertype.options[1] = new Option('SKN', '2');
			document.filterForm.transfertype.options[2] = new Option('RTGS', '1');
			//	document.filterForm.transfertype.options[3] = new Option('ONLINE','8');
		} else if (value == '3') {

			document.filterForm.transfertype.options[0] = new Option('-- <?= $this->language->_('Any Value'); ?> --', '');
			document.filterForm.transfertype.options[1] = new Option('OUR', '3');
			document.filterForm.transfertype.options[2] = new Option('SHA', '4');
		} else if (value == '12') {

			document.filterForm.transfertype.options[0] = new Option('-- <?= $this->language->_('Any Value'); ?> --', '');
			document.filterForm.transfertype.options[1] = new Option('FA', '3');
			document.filterForm.transfertype.options[2] = new Option('No FA', '4');
		} else if (value == '6,4') {
			document.filterForm.transfertype.options[0] = new Option('-- <?= $this->language->_('Any Value'); ?> --', '');
			document.filterForm.transfertype.options[1] = new Option('Mayapada', '0');
			document.filterForm.transfertype.options[2] = new Option('SKN', '2');
			document.filterForm.transfertype.options[3] = new Option('RTGS', '1');
		} else if (value == '16') {
			document.filterForm.transfertype.options[0] = new Option('-- <?= $this->language->_('Any Value'); ?> --', '');
			document.filterForm.transfertype.options[1] = new Option('Handphone Voucher', '13');
			document.filterForm.transfertype.options[2] = new Option('Electricity Voucher', '14');
		} else if (value == '17') {
			document.filterForm.transfertype.options[0] = new Option('-- <?= $this->language->_('Any Value'); ?> --', '');
			document.filterForm.transfertype.options[1] = new Option('Electricity', '1');
			document.filterForm.transfertype.options[2] = new Option('PAM', '2');
			document.filterForm.transfertype.options[3] = new Option('Phone', '3');
			document.filterForm.transfertype.options[4] = new Option('Internet', '4');
			document.filterForm.transfertype.options[5] = new Option('Cable TV', '5');
			document.filterForm.transfertype.options[6] = new Option('Tax', '6');
			document.filterForm.transfertype.options[7] = new Option('Credit Card', '7');
			document.filterForm.transfertype.options[8] = new Option('Installment', '8');
			document.filterForm.transfertype.options[9] = new Option('Insurance', '9');
			document.filterForm.transfertype.options[10] = new Option('Education', '10');
			document.filterForm.transfertype.options[11] = new Option('Ticket', '11');

		} else {
			document.filterForm.transfertype.options[0] = new Option('-- <?= $this->language->_('Any Value'); ?> --', '');
		}

	}

	$(document).ready(function() {

		/*changeTransferType();
		if('<?= $this->transfertype ?>' != '')
		{
			$('#transfertype').val('<?= $this->transfertype ?>');
		}*/

	});
</script>
<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('Transaction Report'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Transfer List'); ?>

				</li>
			</ul>
		</div>
	</div>
</div>

<div class="content-box row">
	<div class="portlet-body form col-md-12">
		<h5><?= $this->language->_('Transfer List') ?></h5>
		<form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">
			<?php
			$optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
			foreach ($this->filterlist as $row) {
				$optArr .=  '<option value="' . $row . '" >' . $this->language->_($row) . '</option>';
			}

			?>
			<div class="row " id="logo-titles" style="margin-left: 0px">
				<?php
				if (!empty($this->wherecol)) {
				?>
					<script type="text/javascript">
						$(document).ready(function() {
							$("#logo-title").show();
						});
					</script>
				<?php
				}
				// print_r($this->whereval);die;
				foreach ($this->wherecol as $key => $value) {
				?>
					<div id="searchs" style="width: 100%">
						<?php
						$datetype = array("PS_CREATED", "PS_UPDATED", "PS_TRFDATE", 'COMP_ID', 'PAYTYPE', 'TRFTYPE', 'PAYSTAT');
						$selectlist = array('COMP_NAME', 'PAY_REF', 'SOURCE_ACCOUNT', 'BENEFICIARY_ACCOUNT');
						$index = 0;



						?>
						<div id="where-<?= $key ?>">
							<div class="form-group row mt-12">
								<div class="col-md-4 form-inline">
									<select class='form-control event_select' id='wherecol-<?= $key ?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
										<option value="">-- <?= $this->language->_('Any Value') ?> --</option>
										<?php

										foreach ($this->filterlist as $row) {
											$colname = $row;
											if ($value == $colname) {
												$selected = "selected";
											} else {
												$selected = "";
											}
										?>
											<option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
										<?php } ?>
									</select>
								</div>
								<div class="col" style="display: none">
									<select class='form-control' id='whereopt-<?= $key ?>' name='whereopt[]'>

										<?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
											<option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
											<option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
											<option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
											<option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
										<?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
											<option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
											<option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
										<?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
											<option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
											<option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
											<option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
											<option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
											<option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
										<?php } ?>
									</select>
								</div>
								<div class="col-md-6 form-inline" id='colvalue-<?= $key ?>'>
									<script type="text/javascript">
										$(document).ready(function() {
											var colval = "#colvalue-<?= $key ?>";
											var colomnname = "<?= $value ?>";
											// var colselect= "<?= $value ?>";
											var colselect = "colselect-s<?= $key ?>";
											var ncolselect = "#colselect-s<?= $key ?>";
											if (colomnname == 'COMP_ID') {
												// alert(<?= $this->whereval[$key] ?>);
												$(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

												var id = $("#tablename").find(":selected").val();
												$.ajax({
													url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'cust'), null, true) ?>",
													type: 'GET',
													dataType: "html",
													data: {
														id: '<?= $this->whereval[$key] ?>'
													},
													success: function(data) {
														$(ncolselect).html(data);
													},
													error: function(xhr, ajaxOptions, thrownError) {
														alert("Failed to get where column list, please try again");
													}
												});

												$(colselect).val('<?= $this->whereval[$index] ?>');

											} else if (colomnname == 'PAYTYPE') {
												$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
												var id = $("#tablename").find(":selected").val();
												$.ajax({
													url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumnpstype'), null, true) ?>",
													type: 'GET',
													dataType: "html",
													data: {
														id: '<?= $this->whereval[$key] ?>'
													},
													success: function(data) {
														$(ncolselect).html(data);
													},
													error: function(xhr, ajaxOptions, thrownError) {
														alert("Failed to get where column list, please try again");
													}
												});
												$(colselect).val('<?= $this->whereval[$index] ?>');

											} else if (colomnname == 'TRFTYPE') {
												$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
												var id = $("#tablename").find(":selected").val();
												$.ajax({
													url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'tratype'), null, true) ?>",
													type: 'GET',
													dataType: "html",
													data: {
														id: '<?= $this->whereval[$key] ?>'
													},
													success: function(data) {
														$(ncolselect).html(data);
													},
													error: function(xhr, ajaxOptions, thrownError) {
														alert("Failed to get where column list, please try again");
													}
												});
												$(colselect).val('<?= $this->whereval[$index] ?>');

											} else if (colomnname == 'PAYSTAT') {
												$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
												var id = $("#tablename").find(":selected").val();
												$.ajax({
													url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumnpsstatus'), null, true) ?>",
													type: 'GET',
													dataType: "html",
													data: {
														id: '<?= $this->whereval[$key] ?>'
													},
													success: function(data) {
														$(ncolselect).html(data);
													},
													error: function(xhr, ajaxOptions, thrownError) {
														alert("Failed to get where column list, please try again");
													}
												});
												$(colselect).val('<?= $this->whereval[$index] ?>');

											}
										});
									</script>
									<?php
									if ($value == 'PS_CREATED') {
										// var_dump($this->whereval);die;
									?>
										<input type='text' class='form-control' name='createdate[]' id='createdStart' readonly value="<?= $this->createdStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' value="<?= $this->createdEnd ?>" readonly required>
									<?php
									} else if ($value == 'PS_TRFDATE') {
									?>
										<input type='text' class='form-control' name='trfdate[]' id='trfdateStart' readonly value="<?= $this->trfdateStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='trfdate[]' id='trfdateEnd' value="<?= $this->trfdateEnd ?>" readonly required>
									<?php

									} else if ($value == 'PS_UPDATED') {
									?>
										<input type='text' class='form-control' name='updatedate[]' id='updatedStart' readonly value="<?= $this->updatedStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='updateEnd' value="<?= $this->updateEnd ?>" readonly required>
									<?php

									} else if (in_array($value, $selectlist)) {
									?>
										<input class='form-control' type='text' style="width:100%" name='whereval[]' value='<?= $this->whereval[$index] ?>' />
									<?php }
									if (!in_array($value, $datetype)) {
										// print_r($value);die;
										$index++;
									}
									?>
								</div>
								<div class="col-md-2 form-inline">
									<button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
								</div>
							</div>
						</div>

					</div>

				<?php
				}
				?>

			</div>


			<div class="row " id="logo-title" style="display: none">
				<div class="portlet-body form col-md-12">
					<div id="wheres" style="width: 100%">
						<div id="where-<?= $ctr ?>">
							<!-- <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?= $ctr ?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                            <?php

											foreach ($this->filterlist as $row) {
												$colname = $row;
												if ($val == $colname) {
													$selected = "selected";
												} else {
													$selected = "";
												}
											?>
                                                <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?= $ctr ?>' name='whereopt[]'>

                                            <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                                                <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                            <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                                                <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
                                            <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                                                <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?= $ctr ?>'>
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value=''/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div> -->
						</div>
						<?php //}}
						?>
					</div>
					<!-- <input type="hidden" id="wherectr" value="<?= $this->wherectr ?>"/> -->
					<input type="hidden" id="wherectr" value="0" />
					<br />
					<button type="button" class="btngreen hov" id="addwhere"><?php echo $this->language->_('Add Filter'); ?></button>
					&nbsp;
					<?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
					&nbsp;
					<input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>'">


					<br />



				</div>
				<div class="col-md-4">
				</div>

			</div>
			<div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
				<a href="#" class="sidebar-collapse-icon with-animation">
					<?php echo $this->language->_('Advanced Search'); ?>
				</a>
			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<form name="form" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'sortby' => $this->sortBy, 'sortdir' => $this->sortDir), null, true) . $this->qstring ?>" method="post">
			<div align="right">
				<table>
					<tr style="height:30px;" align="right">
						<td>
							<!-- <?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) { ?> -->
							<!-- <?php echo $this->formSubmit('pdf', $this->language->_('PDF is too large (function is disabled)'), array('class' => 'btnwhite disabled', 'disabled' => 'disabled')); ?> -->
							<!-- <?php echo '<input type="submit" value="&#xf1c1; PDF is too large (function is disabled)" name="pdf" id="pdf" class="fa disabled" disabled="disabled">'; ?>&nbsp; -->
							<!-- <?php } else { ?> -->
							<!-- <?php echo $this->formSubmit('pdf', 'PDF', array('class' => 'btngreen hov')); ?> -->
							<!-- <?php echo '<input type="submit" value="&#xf1c1; PDF" name="pdf" id="pdf" class="fa">'; ?>&nbsp; -->
							<!-- <?php } ?> -->

							<?php if (($this->paginator->getTotalItemCount()) > $this->applicationSetting['max_row_download_csv']) { ?>
								<!-- <?php echo $this->formSubmit('csv', 'CSV is too large (function is disabled)', array('class' => 'btnwhite disabled', 'disabled' => 'disabled')); ?>&nbsp; -->
								<?php echo '<input type="submit" value="&#xf6dd Export Files is too large (function is disabled)" name="csv" id="csv" class="fa disabled" disabled="disabled">' ?>&nbsp;
							<?php } else { ?>
								<!-- <?php echo $this->formSubmit('csv', 'CSV', array('class' => 'btngreen hov')); ?>&nbsp; -->
								<?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa">' ?>&nbsp;
							<?php } ?>
						</td>
						<td>
							<!--				<input class="btn btn-success" value="<?php echo $this->language->_('Print') ?>" onclick="window.print();" type="button">-->
							<?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) {
								echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;' . $this->language->_("Print") . '</button>';
							} else {
							?>
								<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)) . $this->qstring ?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print") ?></button>&nbsp;
							<?php
							}
							?>
							<input type="hidden" name="clearfilter" value="<?= $this->clearfilter ?>">
						</td>
						<td>
							<div class="input-group input-group-sm">
								<div class="input-group-prepend">
									<span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
								</div>
								<input type="text" class="search form-control" id="searchtable" placeholder="Search">
							</div>
						</td>
					</tr>
				</table>
			</div>


		</form>

		<br>

		<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
			<table class="table table-sm table-striped" id="myTable">
				<thead>
					<tr>
						<!-- <th width="3%" valign="top" style="background-color: #0a3918; color:white">No</th> -->

						<?php
						echo $this->partial(
							'tableheader.phtml',
							array(
								'fields' => $this->fields,
								'sortBy' => $this->sortBy,
								'sortDir' => $this->sortDir,
								'query_string_params' => $this->query_string_params
							)
						);
						?>

						<!-- <th width="3%" valign="top" style="background-color: #0a3918; color:white"><?php echo $this->language->_('Action') ?></th> -->
					</tr>
				</thead>
				<tbody>
					<?php
					//echo '<pre>';
					//print_r($this->paginator);die;
					if (count($this->paginator) > 0) {
						$d = 0;
						//encrypt id
						require_once 'Crypt/AESMYSQL.php';
						$AESMYSQL = new Crypt_AESMYSQL();
						$rand = $this->token;
						foreach ($this->paginator as $row) {

							$td_css = ($d % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
					?><tr><?

										$encrypted_payreff = $AESMYSQL->encrypt($row['payref'], $rand);
										$encpayreff = urlencode($encrypted_payreff);

										$docURL = $this->url(array(
											'module'	=> 'paymentreport',
											'controller' => 'detail',
											'action'	=> 'index',
											'payRef'	=> $encpayreff
										), null, true);

										$docdebitURL = $this->url(array(
											'module'	=> 'paymentreport',
											'controller' => 'detaildebit',
											'action'	=> 'index',
											'payRef'	=> $encpayreff
										), null, true);


										//$PS_NUMBERlink = "<a href='#' onclick=\"popupWindow('".$docURL."','')\">".$this->language->_('Detail')."</a>";
										$tra_type1  = array("0" => "Online", "2" => "SKN", "1" => "RTGS");
										$tra_type2 = $tra_type1[$row['TRA_TYPE']];

										if ($row['PSTYPE'] == '19') {
											$type = 'CP Same Bank Remains';
										} else if ($row['PSTYPE'] == '20') {
											$type = 'CP Same Bank Maintains';
										} else if ($row['PSTYPE'] == '23') {
											$type = 'CP Others Remains - ' . $tra_type2;
										} else if ($row['PSTYPE'] == '21') {
											$type = 'MM - ' . $tra_type2;
										} else if ($row['PSTYPE'] == '25' || $row['PSTYPE'] == '4' || $row['PSTYPE'] == '26' || $row['PSTYPE'] == '28' || $row['PSTYPE'] == '3' || $row['PSTYPE'] == '27') {
											$type = $row['paytypes'];
										} else if ($row['PSTYPE'] == '38') {
											$type = 'Inhouse - BG';
										} else {
											// $type = $this->arrPayType[$row['PSTYPE']] . ' - ' . $this->arrTraType[$row['TRA_TYPE']];
											$type = $row['paytypes'] . ' - ' . $this->arrTraType[$row['TRA_TYPE']];
										}


										if ($row['PSTYPE'] == '27' || $row['PSTYPE'] == '28') {
											$PS_NUMBERlink = "<a href='" . $docdebitURL . "'>" . $row["payref"] . "</a>";
										} else {
											$PS_NUMBERlink = "<a href='" . $docURL . "'>" . $row["payref"] . "</a>";
										}


										// $PS_NUMBERlink = '<a href="'.$this->url(array(	'module'=>'paymentreport',
										// 'controller'=>'detail',
										// 'action'=>'index',
										// 'payRef'=>$row['payref'],),null,true).
										// '">Detail</a>';
										$amount = (empty($row['amount'])) ? 0 : $row['amount'];
										if ($row['paytypes'] == 'Sweep In') {
											$row["acctsource"] = '-';
										}
										if ($row['paytypes'] == 'Sweep Out') {
											$row["beneaccount"] = '-';
										}
										if ($row['paytypes'] == 'Local Remittance') {
											$row["beneaccount"] = '-';
										}

										// source account
										if ($row['SOURCE_ACCT_BANK_CODE'] == '') {
											$bankName = $this->bankName;
										} else {
											$bankName = $this->bankNameList[$row['SOURCE_ACCT_BANK_CODE']];
										}

										if ($row['numtrx'] > 1 && $row['PSTYPE'] == '4') {
											if (empty($row["acct_alias"]) || $row["acct_alias"] == '-') {
												$sourceAcct = $row['acctsource'] . '(' . $row['accsrc_ccy'] . ') /' . "<br>" . $bankName . ' / <br>' . $row['accsrc_name'] . " (S)";
											} else {
												$sourceAcct = $row['acctsource'] . '(' . $row['accsrc_ccy'] . ') /' . "<br>" . $bankName . ' / <br>' . $row['accsrc_alias'] . " (A)";
											}
										} else if ($row['numtrx'] > 1 && $row['PSTYPE'] != '11' && $row['PSTYPE'] != '25') {
											$sourceAcct = '-';
										} else {
											if (empty($row["acct_alias"]) || $row["acct_alias"] == '-') {
												$sourceAcct = $row['acctsource'] . '(' . $row['accsrc_ccy'] . ') /' . "<br>" . $bankName . ' / <br>' . $row['accsrc_name'] . " (S)";
											} else {
												$sourceAcct = $row['acctsource'] . '(' . $row['accsrc_ccy'] . ') /' . "<br>" . $bankName . ' / <br>' . $row['accsrc_alias'] . " (A)";
											}
										}


										// acbenef
										if ($row['PSTYPE'] == '12' || $row['PSTYPE'] == '16' || $row['PSTYPE'] == '17') {
											$benefacct = '-';
										} else if ($row['numtrx'] > 1 && $row['PSTYPE'] != '11') {
											$benefacct = '-';
										} else if ($row['beneaccount'] != "-") {
											if ($row['PSTYPE'] == '4' || $row['PSTYPE'] == '38') {
												$benefacct = '-';
											} else {
												if (!empty($row['BENEFICIARY_BANK_NAME'])) {
													$bankName2 = $row['BENEFICIARY_BANK_NAME'];
												} else if (!empty($row['BENEF_ACCT_BANK_CODE'])) {
													$bankName2 = $this->bankNameList[$row['BENEF_ACCT_BANK_CODE']];
												} else {
													$bankName2 = $this->bankName;
												}

												if (empty($row["acbenef_alias"]) || $row["acbenef_alias"] == '-') {
													$benefacct = $row['beneaccount'] . '(' . $row['acbenef_ccy'] . ') /' . "<br>" . $bankName2 . ' / <br>' . $row['acbenef_name'] . " (S)";
												} else {
													$benefacct = $row['beneaccount'] . '(' . $row['acbenef_ccy'] . ') /' . "<br>" . $bankName2 . ' / <br>' . $row['acbenef_alias'] . " (A)";
												}
											}
										}

										$tempsourceAcct = $sourceAcct;
										$tempbenefacct = $benefacct;
										if ($row['PSTYPE'] == '27' || $row['PSTYPE'] == '28') {
											//var_dump($row);die;
											$benefacct = $tempsourceAcct;
											$sourceAcct = $tempbenefacct;
										}


										echo '
									<td class="' . $td_css . '">' . $row["companyname"] . ' (' . $row["companycode"] . ')</td>
									<td class="' . $td_css . '">' . $PS_NUMBERlink . '</td>
									<td class="' . $td_css . '">' . $sourceAcct . '</td>
									<td class="' . $td_css . '">' . $benefacct . '</td>
									<td class="' . $td_css . '">' . $row["numtrx"] . '</td>
									<td class="' . $td_css . '">' . $row["ccy"] . ' ' . Application_Helper_General::displayMoney($row["amount"]) . '</td>
									<td class="' . $td_css . '">' . $row["transferdate"] . '</td>
									<td class="' . $td_css . '">' . $row["updateddate"] . '</td>
									<td class="' . $td_css . '">' . $this->language->_($type) . '</td>
									<td class="' . $td_css . '">' . $this->language->_($row["paystatus"]) . '</td>

								';

										?></tr><?
										$counter++;
										$d++;
									}
								} else {
										?> <tr>
							<td width="1000" class="tbl-evencontent" colspan="13" align="center">--- <?php echo $this->language->_("No Data") ?> ---</td>
						</tr> <?php
								}
								?>
				</tbody>
			</table>
		</div>
		<div align="right">
			<?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?>
		</div>

	</div>
</div>

<script type="text/javascript">
	function removeParent(elem) {
		var parentname = elem.parentNode.parentNode.parentNode.id;
		$("#" + parentname).remove();
	}
	$(document).ready(function() {

		$("#addwhere").click(function() {
			var ctr = $("#wherectr").val();
			var optstr = '<?php echo $optArr; ?>';
			var wherecol = "#wherecol-" + ctr;
			$("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" + ctr + "' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
			ctr++;
			$("#wherectr").val(ctr);
		});
	});

	function getOpt(elem) {
		var id = elem.id;
		var temp = id.split('-');
		console.log(temp);
		var ctr = temp[1];

		var selval = elem.value;
		var tempval = selval.split('-');
		dttype = tempval[1];

		colomnname = tempval[0];
		var colval = "#colvalue-" + ctr;
		var colselect = "colselect-" + ctr;
		var ncolselect = "#colselect-" + ctr;
		var $coll = $('.event_select');
		$coll.children().prop('disabled', false);
		$coll.each(function() {
			var val = this.value;
			if (val === 'original') return;
			$coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
		});

		$(colval).empty();
		console.log(colomnname);
		console.log(colval);
		if (colomnname == 'PS_CREATED') {
			$(colval).append("<input type='text' class='form-control'  name='createdate[]' id='createdStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' readonly required>");
			$('#createdStart').datepicker({
				minDate: function() {
					var mindate = new Date();
					mindate.setDate(mindate.getDate() - 180);
					return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
				},
				maxDate: function() {
					var maxdate = new Date();
					maxdate.setDate(maxdate.getDate());
					return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
				},
				format: 'dd/mm/yyyy',
				uiLibrary: 'bootstrap4',
			});
			$('#createdEnd').datepicker({
				minDate: function() {
					var val = document.getElementById('createdStart').value;
					var parts = val.split("/");
					var mindate = new Date(parts[2], parts[1] - 1, parts[0]);

					mindate.setDate(mindate.getDate());
					return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
				},
				maxDate: function() {

					var maxdate = new Date();
					return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
				},
				format: 'dd/mm/yyyy',
				uiLibrary: 'bootstrap4'
			});

		} else if (colomnname == 'PS_UPDATED') {
			$(colval).append("<input type='text' class='form-control' name='updatedate[]' id='updateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='updateEnd' readonly required>");


			$('#updateStart').datepicker({
				minDate: function() {
					var mindate = new Date();
					mindate.setDate(mindate.getDate() - 180);
					return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
				},
				maxDate: function() {
					var maxdate = new Date();
					maxdate.setDate(maxdate.getDate());
					return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
				},
				format: 'dd/mm/yyyy',
				uiLibrary: 'bootstrap4',
			});
			$('#updateEnd').datepicker({
				minDate: function() {
					var val = document.getElementById('updateStart').value;
					var parts = val.split("/");
					var mindate = new Date(parts[2], parts[1] - 1, parts[0]);

					mindate.setDate(mindate.getDate());
					return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
				},
				maxDate: function() {

					var maxdate = new Date();
					return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
				},
				format: 'dd/mm/yyyy',
				uiLibrary: 'bootstrap4'
			});

		} else if (colomnname == 'PS_TRFDATE') {
			$(colval).append("<input type='text' class='form-control' name='trfdate[]' id='trfdateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='trfdate[]' id='trfdateEnd' readonly required>");


			$('#trfdateStart').datepicker({
				minDate: function() {
					var mindate = new Date();
					mindate.setDate(mindate.getDate() - 180);
					return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
				},
				maxDate: function() {
					var maxdate = new Date();
					maxdate.setDate(maxdate.getDate());
					return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
				},
				format: 'dd/mm/yyyy',
				uiLibrary: 'bootstrap4',
			});
			$('#trfdateEnd').datepicker({
				minDate: function() {
					var val = document.getElementById('trfdateStart').value;
					var parts = val.split("/");
					var mindate = new Date(parts[2], parts[1] - 1, parts[0]);

					mindate.setDate(mindate.getDate());
					return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
				},
				maxDate: function() {

					var maxdate = new Date();
					return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
				},
				format: 'dd/mm/yyyy',
				uiLibrary: 'bootstrap4'
			});

		} else if (colomnname == 'COMP_ID') {

			$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

			var id = $("#tablename").find(":selected").val();
			$.ajax({
				url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'cust'), null, true) ?>",
				type: 'GET',
				dataType: "html",
				data: {
					id: id
				},
				success: function(data) {
					$(ncolselect).html(data);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});

		} else if (colomnname == 'PAYTYPE') {
			$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
			var id = $("#tablename").find(":selected").val();
			$.ajax({
				url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumnpstype'), null, true) ?>",
				type: 'GET',
				dataType: "html",
				data: {
					id: id
				},
				success: function(data) {
					$(ncolselect).html(data);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});

		} else if (colomnname == 'TRFTYPE') {
			$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
			var id = $("#tablename").find(":selected").val();
			$.ajax({
				url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'tratype'), null, true) ?>",
				type: 'GET',
				dataType: "html",
				data: {
					id: id
				},
				success: function(data) {
					$(ncolselect).html(data);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});

		} else if (colomnname == 'PAYSTAT') {
			$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
			var id = $("#tablename").find(":selected").val();
			$.ajax({
				url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumnpsstatus'), null, true) ?>",
				type: 'GET',
				dataType: "html",
				data: {
					id: id
				},
				success: function(data) {
					$(ncolselect).html(data);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});

		} else {
			$(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
		}


		var optsel = "whereopt-" + ctr;
		document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

		if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
			document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
			document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
			document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
			document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
		}
		if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
			document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
		} else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
			document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
			document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
		} else if (dttype == 'date' || dttype == 'datetime') {
			document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
			document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
			document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
			document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
			document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
		}

		var colomn = '#whereopt-' + ctr;
		var data = $(colomn).val('EQUAL').change();

	}
</script>