<b><?php echo $this->language->_('Table'); ?> > <?php echo $this->language->_('User'); ?> > <?php echo $this->language->_('Repair Suggestion User'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Repair Suggestion'); ?> - <?php echo $this->language->_('User'); ?></div>
<?php
if($this->cust_id){

  $option_group = array();
  if(count($this->fgroup)){
  	foreach($this->fgroup as $row){ $option_group[$row['FGROUP_ID']] = $row['FGROUP_NAME']; }
  }
?>
<div class="errmsg"/>
<?php 
 if($this->msg_failed){
   echo($this->msg_failed);
 }
?>
</div>
<div class="successmsg"/>
<?php 
 if($this->msg_success){
   echo($this->msg_success);
 }
?>
<?php if($this->error){ ?>
    <div class="errmsg"/>
    <?php 
	  foreach ($this->errors as $key => $val){
	   echo $this->formErrors($val); 
	  }
 	?>
    </div>
<?php } ?>
</div>
<form method="post" action="">
  <table cellpadding="3" cellspacing="0" border="0" class="tableform">
    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Repair Suggestion'); ?> - <?php echo $this->language->_('User'); ?></strong></th></tr>

    <tr>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('user_id',$this->language->_('User ID')); ?>&nbsp;<span class="errmsg">*</span></td>
	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php
	    echo $this->formText('user_id',$this->user_id,array('maxlength'=>25,'size'=>30,'onkeypress'=>'return forceAlnumOCBC(event)','onblur'=>'AlnumOnly(this.value,this.id)','onfocus'=>'AlnumOnly(this.value,this.id)','id'=>'user_id'));
	    echo $this->formHidden('cust_id',$this->cust_id);
	  ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_name',$this->language->_('Name')); ?>&nbsp;<span class="errmsg">*</span></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('user_name',$this->user_name,array('maxlength'=>50,'size'=>50)); ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',$this->language->_('Email')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('user_email',$this->user_email,array('maxlength'=>40,'size'=>50)); ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_phone',$this->language->_('Phone')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('user_phone',$this->user_phone,array('maxlength'=>20,'size'=>30)); ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_mobileno',$this->language->_('Mobile No')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('user_mobileno',$this->user_mobileno,array('maxlength'=>20,'size'=>30)); ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_division',$this->language->_('Division')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('user_division',$this->user_division,array('maxlength'=>25,'size'=>30)); ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_group',$this->language->_('Frontend Group')); ?>&nbsp;<span class="errmsg">*</span></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formSelect('user_group',$this->user_group,null,$option_group); ?></td>
    </tr>
  </table>
  <br/>
  <table cellpadding="3" cellspacing="0" border="0" class="tableform">
    <tr><th colspan="3" class="tdform-sub"><b><?php echo $this->language->_('User Maximum Limit'); ?></b></th></tr>
    <tr>
    	<td class="tdform-even"><?php echo $this->language->_('CCY'); ?></td>
    	<td class="tdform-even"><?php echo $this->language->_('Max Transaction Limit'); ?></td>
    	<td class="tdform-even"><?php echo $this->language->_('Max Daily Limit'); ?></td>
    </tr>
    <?php 
    $arrTrans = array();
    $arrDaily = array();
    foreach ($this->limitData as $RowLimit){
    	$arrTrans['max_trans'][$RowLimit['LIMIT_CCY']]=($RowLimit['TXN_LIMIT'] !=0)? $RowLimit['TXN_LIMIT'] : '';
    	$arrDaily['max_daily'][$RowLimit['LIMIT_CCY']]=($RowLimit['DAILY_LIMIT']!=0)? $RowLimit['DAILY_LIMIT'] : '';
    }
    	if(count($this->ccyArr)>0){
    		foreach ($this->ccyArr as $key=>$ccy) {
    			$maxTransGet = (isset($arrTrans['max_trans'][$ccy])) ? SGO_Helper_GeneralFunction::displayCurrency($arrTrans['max_trans'][$ccy]) : '';
    			$maxDailyGet = (isset($arrDaily['max_daily'][$ccy])) ? SGO_Helper_GeneralFunction::displayCurrency($arrDaily['max_daily'][$ccy]) : '';
    ?>
    <tr>
    	<td class="tbl-evencontent"><?=$ccy?></td>
    	<td class="tbl-evencontent"><input type="text" id="max_trans[<?=$ccy?>]" maxlength="20" class="currency" name="max_trans[<?=$ccy?>]"  onfocus="iNumFrmt(this.value,this.id)" onblur="NumFrmt(this.value,this.id)" onkeypress="return forceCurrencyOCBC(event)" value="<?=($this->max_trans[$ccy] !='') ? $this->max_trans[$ccy] : $maxTransGet?>" /></td>
    	<td class="tbl-evencontent"><input type="text" id="max_daily[<?=$ccy?>]" maxlength="20" class="currency" name="max_daily[<?=$ccy?>]"  onfocus="iNumFrmt(this.value,this.id)" onblur="NumFrmt(this.value,this.id)" onkeypress="return forceCurrencyOCBC(event)" value="<?=($this->max_daily[$ccy] !='') ? $this->max_daily[$ccy] : $maxDailyGet?>"/></td>
    </tr>
    <?php 
    		}
    	}
    ?>
  </table>
  <br/>
  <input type="button" class="inputbtn" value="Back" onClick="location.href='<?=$this->backURL?>'">&nbsp;&nbsp;
  <?php
      echo $this->formSubmit('submit','Submit',array('class'=>'inputbtn'));
    ?>
</form>
<?php }else{ ?>
<div id="content">- <?php echo $this->language->_('no data'); ?> -</div>
<?php } ?>