<?= $this->headLink()->appendStylesheet($this->baseUrl('../iconnew/style.css')) ?>
<style media="screen">
  .indicator.online {
    background: #28B62C;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    -webkit-animation: pulse-animation 2s infinite linear;
  }




  .indicator.warning {
    background: #F7CF32;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    -webkit-animation: pulse-animation 2s infinite linear;
  }

  @-webkit-keyframes pulse-animation {
    0% {
      -webkit-transform: scale(1);
    }

    25% {
      -webkit-transform: scale(1);
    }

    50% {
      -webkit-transform: scale(1.2)
    }

    75% {
      -webkit-transform: scale(1);
    }

    100% {
      -webkit-transform: scale(1);
    }
  }

  .indicator.offline {
    background: #FF4136;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    -webkit-animation: pulse-animation 2s infinite linear;

  }

  /* Style the tab */
  .tab {
    float: left;
    border: 1px solid #cccccc47;
    background-color: #f1f1f1;
    width: 20%;
    height: 500px;
    border-right: none;
  }

  /*------------------------------------verticaltab------------------------------*/

  /* Style the buttons that are used to open the tab content */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: white;
  }

  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #cccccc47;
    width: 80%;
    border-left: none;
    height: 507px;
  }

  .iconCircle{
    margin-right: 8px;
    margin-top: 5px;
    background-color: #85878a;
  }

  .accordionDiv{
    background-color: #e0dede;
    border-radius: 10px;
    height: 40px;
    margin-top: 10px;
  }


	.hidediv{
		display:none;
	}
  /*------------------------------------end verticaltab------------------------------*/
</style>
<?php
	//var_dump($this->acct);
 ?>
<script type="text/javascript">
  //console.log('a');

  function openTabs(evt, bankName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(bankName).style.display = "block";
    evt.currentTarget.className += " active";
	//alert();
	chartrefresh(bankName);chartrefresh(bankName);
	
  } 
</script>



<?php $this->headScript()->appendFile($this->baseUrl('../assets/themes/assets/newlayout/css/canvajs.min.js')); ?>

<!-- <script src="/js/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/css/codejquery-ui.css"> -->


<?php
 //var_dump($this->personal);die;
 if(empty($this->personal)){
   ?>
   <script type="text/javascript">
    $(document).ready(function() {
   $('#pdfbutton').prop("disabled",true);
   });
  </script>
   <?php
 }
 
 if(!empty($this->dataselect)){
	 ?>
	 <script type="text/javascript">
    $(document).ready(function() {
	 <?php
	 if(count($this->dataselect) == 1 || $this->va != ''){
		 ?>
		 $('.hidediv').show();
		 <?php
	 }else{
		 ?>
		 $('.hidediv').hide();
		 <?php
	 }
	 ?>
		});
  </script>
	 <?php
 }
//$('#pdfbutton').prop("disabled",true);


if ($this->modalna) { ?>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#myModalNotification").modal();
    });
  </script>
<?php } ?>



<div class="modal fade" id="myModalNotification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title textBlack" id="myModalLabel">Notification</h4>
      </div>

      <div class="modal-body">
        <br>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <label class="col-sm-12 textBlack"><?php echo $this->language->_('Total account with N/A Balance : ');
                                                echo $this->totalna.'.&nbsp;' ?>Can't save / print at this moment.</label>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

</div>

<div class="label-counter"  id="notiftop" style="border: 3px solid red;
background-color: white;
position: fixed;
top: 30%;
left: 20%;
width: 60%;
text-align: center;
height: 50px;
opacity: 1;
z-index: 1049;display:none"><label class="col-sm-12 textBlack"><?php echo $this->language->_('There is some N/A amount.'); echo $this->language->_("Can't save / print at this moment."); ?></label></div>
 


<?php
$urladd = $this->url(array('module' => 'apikeymanagement', 'controller' => 'index',), null, true);
?>
<script type="text/javascript">
  function modalbank() {
    // alert();
    window.location.replace('<?php echo $urladd; ?>');
    // $("#myModalApproval").modal();
  }
</script>

<script type="text/javascript">
  function modal(elem) {
    $("#myModal").modal();
  }

  function modalclose(elem) {

    $("#myModal").modal('hide');
    $('.modal-backdrop').css({
      "position": "unset"
    });
  }


  function checkbalance(i) {
  
    //alert();
    //const formattermoney = new Intl.NumberFormat('en-US', {
  //    style: 'currency',
//      maximumSignificantDigits: Math.trunc(Math.abs(number)).toFixed().length,
//  });
  
    $.ajax({
      url: "<?= $this->url(array('module' => 'debitbalance', 'controller' => 'index', 'action' => 'updatebalancerealtime'), null, true) ?>",
      type: 'GET',
      dataType: "html",
      data: {
        rsdate: "<?php echo $this->lastupdate ?>"
      },
      success: function(data) {
        // var datesBooking = data;
        // datesBooking.forEach(function(dataajax, index) {
        //      // console.log(dataajax);
        //    });
        //console.log(data); 
		
        var obj = JSON.parse(data);
		
    var totalna = 0;
        Object.keys(obj).forEach(function(k) {
          // console.log(obj[k].BANK_CODE);
          var nams = '#spalias' + obj[k].BANK_CODE + obj[k].ACCT_NO;
      var aliasnams = '#alias' + obj[k].BANK_CODE + obj[k].ACCT_NO;
          var delams = '#delete' + obj[k].BANK_CODE + obj[k].ACCT_NO;
      if (obj[k].BALANCE == null){
        // your code here.
        $(nams).text('N/A');
        $('#pdfbutton').prop("disabled",true);
    if(i==0){
    $('#notiftop').show();
    }
//  setTimeout(notiftop(), 5000);
      }else{
      //console.log(formattermoney.format(obj[k].BALANCE));
    if(obj[k].BALANCE != 'N/A' && obj[k].BALANCE != ''){
        $(nams).text(new Intl.NumberFormat('en-US', {
  //    style: 'currency',
  
      maximumSignificantDigits: Math.trunc(Math.abs(obj[k].BALANCE)).toFixed().length,
    }).format(obj[k].BALANCE));
    }
      }
          
      $(aliasnams).val(obj[k].BALANCE);
          // $('#lastupdate').text('Last Update :'+obj[k].UPDATED);
          $(delams).prop('data-amount',obj[k].BALANCE);
		//console.log(obj[k]);
		
          var bankname = obj[k].GROUP_NAME;
          

          var sum = 0;
      var totalacc = 0;
      var checkna = 0;
          $('.totalprice' + bankname).each(function() {
        totalacc++;
     //console.log($(this).val());
            if ($(this).val() == 'N/A' || $(this).val() == '') {
              // console.log($(this).val());
              totalna++;
        checkna++;
            //}else{
        //alert($(this).val());
      }else{
        sum += parseFloat($(this).val());
      }
            // Or this.innerHTML, this.innerText
          });
          // console.log(sum);
          const formatter = new Intl.NumberFormat('ID', {
            minimumFractionDigits: 0
          });
    //console.log(totalacc);
    //console.log(checkna);
    
      if(totalacc == checkna){
      $('#totalassets' + bankname).text('N/A');  
      }else{
        $('#totalassets' + bankname).text(new Intl.NumberFormat('en-US', {
      //style: 'currency',
  
      maximumSignificantDigits: Math.trunc(Math.abs(sum)).toFixed().length,
    }).format(sum));
      }
          

          var allsum = 0;
          $('.allprice').each(function() {
        //console.log($(this).val());
            if ($(this).val() != 'N/A' && $(this).val() != '') {
              allsum += parseFloat($(this).val());
            }else{
        
      }
            // Or this.innerHTML, this.innerText
          });
      if(allsum == '0'){
          $('#totalallassettext').text('N/A');
      }else{
          $('#totalallassettext').text(new Intl.NumberFormat('en-US', {
      //style: 'currency',
  
      maximumSignificantDigits: Math.trunc(Math.abs(allsum)).toFixed().length,
    }).format(allsum));
      }
          
       
           console.log(obj[k].status);
          if (obj[k].status == '2') {
            // id="indi'.$row['bank_code'].$row ['account_number'].'"     

            var divstatus = '<span class="indicator warning"></span>';
            // var nams = '#indi'+obj[k].BANK_CODE+obj[k].ACCT_NO;
            var namstatus = '#indi' + obj[k].ACCT_NO + obj[k].CCY_ID;
            $(namstatus).html(divstatus);
            var nams = '#spalias' + obj[k].ACCT_NO + obj[k].CCY_ID;
           // $(nams).text('N/A');

          } else if (obj[k].status == '1') {
            var divstatus = '<span class="indicator online"></span>';
            // var nams = '#indi'+obj[k].BANK_CODE+obj[k].ACCT_NO;
            var namstatus = '#indi' + obj[k].ACCT_NO + obj[k].CCY_ID;
            $(namstatus).html(divstatus);

          }

        });
    //console.log(totalna);
    if(totalna == 0){
      $('#pdfbutton').prop("disabled",false);
      $('#notiftop').hide();
    }
    
      },
      error: function(xhr, ajaxOptions, thrownError) {
        console.log(xhr);
        console.log(thrownError);
        // alert("Failed to get where column list, please try again");
      }
    });

    //progress inpprogress


    $.ajax({
      url: "<?= $this->url(array('module' => 'balanceview', 'controller' => 'index', 'action' => 'lastupdated'), null, true) ?>",
      type: 'GET',
      dataType: "html",

      success: function(data) {
        var result = data.split(",");

        if (result[0] == '') {
          var divstatus = '<div class="alert alert-danger">Retrieval Of consolidation balance in progress,  we will update shortly</div>';
          $('#progresstatus').html(divstatus);
          var dialog = '<p><?php echo $this->language->_('check balance in inprogress by '); ?>' + result['1'] + '<?php echo $this->language->_(" You will be charged for ");
                                                                                                                  echo $this->totalna;
                                                                                                                  echo $this->language->_(" account inquiry service on this process. Do you want to continue?") ?></p>';

          $('#modalBody_balance').html(dialog);
          $('#buttonProcess_dialog').show();

          var dialog_all = '<p class="textBlack"><?php echo $this->language->_('check balance in inprogress by '); ?>' + result['1'] + '<?= $this->language->_(' You will be charged for this process. Do you want to continue ?') ?></p>';

          $('#modalBody_balanceAll').html(dialog_all);
        } else {
          $('#progresstatus').html('');
          var dialog = '<p class="textBlack"><?php echo $this->language->_('You will be charged for ');
                            echo $this->totalna;
                            echo $this->language->_(' account inquiry service on this process. Do you want to continue?') ?></p>';
          $('#modalBody_balance').html(dialog);
          $('#buttonProcess_dialog').show();
          var dialog_all = '<p class="textBlack"><?= $this->language->_('You will be charged for this process. Do you want to continue ?') ?></p>';

          $('#modalBody_balanceAll').html(dialog_all);
          $('#lastupdate').text('Last Update : ' + result[0]);
      $('#lastupdate1').text('Last Update : ' + result[0]);
      $('#lastupdate2').text('Last Update : ' + result[0]);
      $('#lastupdate3').text('Last Update : ' + result[0]);
      $('#lastupdate4').text('Last Update : ' + result[0]);
      $('#lastupdate5').text('Last Update : ' + result[0]);
      $('#lastupdate6').text('Last Update : ' + result[0]);
    $('#lastupdate7').text('Last Update : ' + result[0]);

        }
        // console.log(result[1]);
        // console.log(result[0]);
      },
      error: function(xhr, ajaxOptions, thrownError) {
        console.log(xhr);
        console.log(thrownError);
        // alert("Failed to get where column list, please try again");
      }
    });


  }
   
  $(document).ready(function() {
	  
    <?php if($this->modalna){ ?>
  
        $('#pdfbutton').prop("disabled",true);
    $('#notiftop').show();
  //setTimeout(notiftop(), 5000);
    <?php } ?>
  
    <?php if (!empty($this->acct)) { ?>
  
  checkbalance(0);
  var i = 0;
      setInterval(function() {
      ++i;
	  
        checkbalance(i);
    setTimeout(notiftop(), 5000); 
      }, 10000);
    
    <?php  }else{
    ?>
      $('#pdfbutton').prop("disabled",true);
    <?php
  } ?>
    //aggregation type utk menentukan print pdf yg mana, msih to do, saat ini msih tab assets saja yg di print
    $('#aggregationType').val('1');

    //init sembunyikan tombol hide dan div hide tab asset dan tab liabilities
    // $('#divHideBtnAssets').hide();
    $('#assets1BtnShow').hide();

    $('#divHideBtnLiabilities').hide();
    $('#liabilities1BtnShow').hide();


    $('#chooseFile').bind('change', function() {
      var filename = $("#chooseFile").val();
      if (/^\s*$/.test(filename)) {
        $(".file-upload").removeClass('active');
        $("#noFile").text("No file chosen...");
      } else {
        $(".file-upload").addClass('active');
        $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
      }
    });


    $('#myModal').on('shown.bs.modal', function() {
      $('.blur').css({
        "filter": "blur(10px)"
      });
    }).on('hidden.bs.modal', function() {
      $('.blur').css({
        "filter": ""
      });
    })


    $("#thisState").submit(function(e) {
 
      e.preventDefault(); // avoid to execute the actual submit of the form.

      var form = $(this);
      var url = form.attr('action');
      // console.log(url);
      $.ajax({
        type: "POST",
        url: url,
        data: form.serialize(), // serializes the form's elements.
        success: function(data) {
          $('#myModalApproval').modal('hide');
          $('#ACCTSRC_NUMBER').val();
          $('#ACCTSRC_NAME').val();
          //var openingbalance = $('#OPENING_BALANCE').val();
          var openingbalance = 0;
          // $(ncolselect).html(data);
          var bankcode = $('#DEBIT_BANK').val();

          const formatter = new Intl.NumberFormat('ID', {
            minimumFractionDigits: 0
          });

          if (bankcode == '014') {
            $("#mainacct_bca tr.nodata").remove();

            $('#mainacct_bca').append(data);

            //display to bca asset section
            var totalcurasset = $('#totalasset_bca').val();

            var totalassets = parseFloat(totalcurasset) + parseFloat(openingbalance);

            $('#totalassetsbca').text(formatter.format(totalassets));
          } else if (bankcode == '013') {
            $("#mainacct_permata tr.nodata").remove();

            $('#mainacct_permata').append(data);

            //display to permata asset section
            var totalcurasset = $('#totalasset_permata').val();

            var totalassets = parseFloat(totalcurasset) + parseFloat(openingbalance);

            $('#totalassetspermata').text(formatter.format(totalassets));
          } else if (bankcode == '009') {
            $("#mainacct_bni tr.nodata").remove();

            $('#mainacct_bni').append(data);

            //display to bca asset section
            var totalcurasset = $('#totalasset_bni').val();

            var totalassets = parseFloat(totalcurasset) + parseFloat(openingbalance);

            $('#totalassetsbni').text(formatter.format(totalassets));
          } else if (bankcode == '008') {
            $("#mainacct_mandiri tr.nodata").remove()

            $('#mainacct_mandiri').append(data);

            //display to bca asset section
            var totalcurasset = $('#totalasset_mandiri').val();

            var totalassets = parseFloat(totalcurasset) + parseFloat(openingbalance);

            $('#totalassetsmandiri').text(formatter.format(totalassets));
          } else if (bankcode == '050') {
            $("#mainacct_stanchart tr.nodata").remove();

            $('#mainacct_stanchart').append(data);

            //display to bca asset section
            var totalcurasset = $('#totalasset_stanchart').val();

            var totalassets = parseFloat(totalcurasset) + parseFloat(openingbalance);

            $('#totalassetsstanchart').text(formatter.format(totalassets));
          } else if (bankcode == '031') {
            $("#mainacct_citibank tr.nodata").remove();

            $('#mainacct_citibank').append(data);

            //display to bca asset section
            var totalcurasset = $('#totalasset_citibank').val();

            var totalassets = parseFloat(totalcurasset) + parseFloat(openingbalance);

            $('#totalassetscitibank').text(formatter.format(totalassets));
          } else if (bankcode == '032') {
            $("#mainacct_chase tr.nodata").remove();

            $('#mainacct_chase').append(data);

            //display to bca asset section
            var totalcurasset = $('#totalasset_chase').val();

            var totalassets = parseFloat(totalcurasset) + parseFloat(openingbalance);

            $('#totalassetschase').text(formatter.format(totalassets));
          }else if (bankcode == '153') {
            $("#mainacct_sinar tr.nodata").remove();

            $('#mainacct_sinar').append(data);

            //display to bca asset section
            var totalcurasset = $('#totalasset_sinar').val();

            var totalassets = parseFloat(totalcurasset) + parseFloat(openingbalance);

            $('#totalassetssinar').text(formatter.format(totalassets));
          } else {
            $("#mainacct_others tr.nodata").remove();

            $('#mainacct_others').append(data);

            //display to bca asset section
            var totalcurasset = $('#totalasset_others').val();

            var totalassets = parseFloat(totalcurasset) + parseFloat(openingbalance);

            $('#totalassetsothers').text(formatter.format(totalassets));
          }


          //display to all asset section
          var totalcurasset = $('#totalallasset').val();

          var totalassets = parseFloat(totalcurasset) + parseFloat(openingbalance);

          $('#totalallassettext').text(formatter.format(totalassets));

          // $('.mainacct')
          // $('#ACCTSRC_NUMBER').val();
          // refreshstate();
        },
        error: function(e) {
          console.info(e);
        }
      });


    });

  });

  function detailAssetsShow() {
    $('#assets1').show();
    $('#assets1BtnHide').attr('Onclick', 'detailAssetsHide()');
    $('#assets1BtnShow').hide();
    $('#assets1BtnHide').show();

  }

  function detailAssetsHide() {
    $('#assets1').hide();
    $('#assets1BtnShow').attr('Onclick', 'detailAssetsShow()');
    $('#assets1BtnHide').hide();
    $('#assets1BtnShow').show();
  }

  function detailLiabilitiesShow() {
    $('#liabilities1').show();
    $('#liabilities1BtnHide').attr('Onclick', 'detailLiabilitiesHide()');
    $('#liabilities1BtnShow').hide();
    $('#liabilities1BtnHide').show();

  }

  function detailLiabilitiesHide() {
    $('#liabilities1').hide();
    $('#liabilities1BtnShow').attr('Onclick', 'detailLiabilitiesShow()');
    $('#liabilities1BtnHide').hide();
    $('#liabilities1BtnShow').show();
  }
</script>

<?php

if (true) //jika tidak ada grup
{
  //              echo "<br/><table id='0' border='0' cellpadding='0' cellspacing='0' width='800px'>
  //                  <tr>
  //                    <th class='tdform-sub'><strong>".$this->language->_('Account No')."</strong></th>
  //                    <th class='tdform-sub'><strong>".$this->language->_('Product Type')."</strong></th>
  //                    <th class='tdform-sub'><strong>".$this->language->_('CCY')."</strong></th>
  //                    <th class='tdform-sub' align='center'><strong>".$this->language->_('Available Balance')."</strong></th>
  //                          <th class='tdform-sub' align='center'><strong>'.$this->language->_('Ekuivalent (IDR)').'</strong></th>";
  //              echo '</tr>';


  $arr_value_tot_group =  array();
  $arr_display_tot_group =  array();
  $totalpersonalidr = 0;
  foreach ($this->personal as $row) {

    $totalpersonalidr +=  $row['account_balance'];

    $i++;
  }
} else //jika ada grup
{
}
?>

<!-- hitung aset deposit -->



<?php
$totaldeposit = 0;
if (!empty($this->deposit)) {
  foreach ($this->deposit as $row) {
    $totaldeposit = $totaldeposit + $row['EQUIVALEN'];

    $i++;
  }
}
?>

<!-- hitung liabilities -->
<?php
$totalliabilities = 0;
if (!empty($this->loan)) {
  foreach ($this->loan as $row) {
    $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

    $totalliabilities = $totalliabilities + $row['EQUIVALEN'];

    $i++;
  }
}
?>


<?php $nodata = $this->language->_('No Data'); ?>
<?php
require_once 'General/SystemBalance.php';
?>


<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?= $this->language->_('Account Information') ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span class="valas"><?= $this->language->_('Debit Balance') ?></span>
        </li>
      </ul>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    
    <h6><?php echo $this->language->_('Corporate Debit Card Information'); ?></h6>
    <div class="col-md-12" style="padding-top: 15px;">
		<form action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="POST">
            <table style="width:100%!important">
              
              <tr>
                <td class="homeCardText" style="width:30%!important;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Master Account'); ?></td>
                
                <td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">
				<select name="va" class="form-control" id="va" onchange="this.form.submit()">
					<option value=""><?= $this->language->_('Select Master Account') ?></option>
					<?php 
					//var_dump(trim($this->va));
					if(!empty($this->dataselect)){
					foreach($this->dataselect as $row){ 
						$selectva = '';
						//var_dump(trim($row['VA_NUMBER']));
						if(trim($row['VA_NUMBER']) == trim($this->va)){
							$selectva = 'selected';
						}
						
						
					?>
					<option value="<?php echo $row['VA_NUMBER']; ?>" <?php echo $selectva; ?>><?php echo $row['VA_NUMBER']; ?></option>
					<?php
						}
					} ?>
				</select></td>
              </tr>
			  </table>
		</form>
    </div>			  
	
  </div>
	<br/>
  <div class="col-md-12">
    <div id='progresstatus'>
      <!-- <div class="alert alert-success"><?= $this->language->_('Transaction Success') ?></div><br /> -->
      <!-- <div class="alert alert-danger"><?= $this->language->_('Transaction Failed') ?></div><br /> -->

    </div>
  </div>

<br/>

  <div class="col-md-8 hidediv" align="left" >
    <style type="text/css">
      .nav-tabs {
        margin-top: 5px;
      }

      .nav-tabs .nav-link {
        border-color: #c9c9c9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 135px;
        text-align: center;
      }

      .nav-tabs .nav-link:hover {
        border-color: #c9c9c9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: white;
        background-color: #0a1f3e;
        margin-top: -10px;
        padding-bottom: 10px;
        top: -10px;
        padding-top: 12px;
        height: 47.5px;
        font-size: 15px;
      }

      .nav-tabs .nav-item.show .nav-link,
      .nav-tabs .nav-link.active {
        color: white;
        background-color: #0a1f3e;
        border-color: #dee2e6 #dee2e6 #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-top: -10px;
        padding-bottom: 10px;
        top: -10px;
        padding-top: 12px;
        height: 47.5px;
        font-size: 15px;
      }
    </style>
    <h5 style="padding-left: 15px;"><?php echo $this->cust_name; ?></h5>
  </div>
  <div class="col-md-4 hidediv" align="right" style="padding-right: 30px;">

    <!-- <button class="btn-sm hov" target=""  style="width: 40px;
                                        height: 40px;
                                        background-image: linear-gradient(#ffffff,#ffffff);
                                        border-radius: 100%; border-style: double;" type="button"><i class="fa fa-print"></i></button> -->
    <form id="exportForm" method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => 'index', 'action' => 'indextest'), null, true) ?>">

      <button type="button" id="pdfbutton" name="pdf" value="PDF" title="Print PDF" class="btn-sm hov" onClick="saveChartToFile()" style="width: 40px;
                                        height: 40px;
                                        background-image: linear-gradient(#ffffff,#ffffff);
                                        border-radius: 100%; border-style: double;"><i class="icon-printer"></i></button>

      <input type="hidden" name="assetsChartBase64" id="assetsChartBase64">
      <input type="hidden" id="aggregationType" name="aggregationType">
    <?php $totalna = ($this->totalna == '') ?  '0' : $this->totalna; ?>
    <input type="hidden" id="total_na" name="total_na" value="<?php echo $totalna; ?>">
      <!-- <button type="submit" name="pdf" value="PDF" class="btn-sm hov" style="width: 40px;
                                        height: 40px;
                                        background-image: linear-gradient(#ffffff,#ffffff);
                                        border-radius: 100%; border-style: double;"><i class="fa fa-print"></i></button> -->

     

      <button class="btn-sm hov" onClick="balancecachemodal()" title="Refresh Balance All" style="width: 40px;
                                        height: 40px;
                                        background-image: linear-gradient(#ffffff,#ffffff);
                                        border-radius: 100%; border-style: double;" type="button"> <i style="color:black" class="fa fa-sync" aria-hidden="true"></i> </button>
      <?php
      $buttonSetting = $this->url(array('module' => 'balanceview', 'controller' => 'setting',), null, true);
      ?>
      <button class="btn-sm hov" title="Manage Account" style="width: 40px;
                                        height: 40px;
                                        background-image: linear-gradient(#ffffff,#ffffff);
                                        border-radius: 100%;border-style: double;display:none" type="button" onclick="modalbank();">
        <!-- <i style="color:black" class="fa fa-user-circle" aria-hidden="true"></i> -->
        <img src="/images/account-light.png" style="width: 20px; margin-top: -6px;" aria-hidden="true">

      </button>

    </form>
  </div>

  <div class="col-md-12 hidediv" id="assets1">
    <div class="col-md-12 pt-4" style="padding-top: 10px!important;">
      <div class="content-box">

        <?php

        if (!empty($graphdata)) {
          $graph = '';
          foreach ($graphdata as $row) {
            $percent = ($row['balance'] / $totalpersonalidr) * 100;
            $graph .= "['" . $row['account'] . "'," . $percent . "],";
          }
        }
        
        ?>


        <div id="assetsChart" class="img- fluid" style="height: 300px; width: 100%;"></div>
      </div>
    </div>
  </div>

  <div class="col-md-12 hidediv" id="assets2">

    <?php
    $i = 0;
    $totalBalance = 0;
    $personaldata = array();
    $personaltotal = 0;
    $graphdata = array();
    $countpersonal = count($this->personal);
    $mainassets = 0;
  //echo 'sini';
  //var_dump($this->personal);die;
  
  $totaldata = 0;
  $checkdatana = 0;
    foreach ($this->personal as $key => $row) {
    $totaldata++;
    if($row['account_balance']== NULL || $row['account_balance']== ''){
      $checkdatana++;
    }
      $mainassets = $mainassets + $row['account_balance'];
      $graphdata[$i]['account'] = $row['account_number'];
      $graphdata[$i]['balance'] = $row['account_balance'];
      $totalpersonalidr +=  $row['account_balance'];

      $i++;
    }
  
    ?>

    <br>
<!--     <div class="content-box col-md-12 m-0">
      
    </div>
    <br /> -->

    <div class="tab">
	<button class="tablinks active" onclick="openTabs(event, 'master')"><?= $this->language->_('VA Master') ?></button>
	<?php
	//echo '<pre>';
	//var_dump($this->resultdatagroup);die;	 
	
	if(!empty($this->resultdatagroup)){
		$tabactv = 0;
			foreach($this->resultdatagroup as $key => $vl){
				$actvetag = '';
			//	if($tabactv == 1){
					//$actvetag = 'active';
			//	}
				$tabactv++;
				if($vl['GROUP_ID'] == NULL){
					$keyname = 'Others';
					$key = 'Others';
				}else{
					$keyname = $vl['GROUP_NAME'];
					$key = $vl['GROUP_ID'];
				}
		?>
	  <button class="tablinks <?php echo $actvetag; ?>" onclick="openTabs(event, '<?php echo $key ?>')"><?php echo $keyname ?></button>
	<?php }
	}  ?>
	
	
    </div>
	
	<div id="master" class="tabcontent"   >
      <br/>
	  <table width="100%">
        <tr>
          <td colspan="2" align="center">
            <h7 id="lastupdate">
					<?php 
			  $date=date_create($this->lastupdate);
			  echo $this->language->_('Last update : ') . date_format($date,"d-M-Y H:i:s"); ?>
			  </h7>
          </td>
        </tr>
        
      </table>
	  <br/>
		<div class="container-fluid" style="padding-left: 0; padding-right: 0;padding-top:0px!important;padding-bottom:0px!important">
      <div class="col-md-12" style=" border: 1px solid; border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
        <div class="row">
          <div class="col-md-12" style="padding-top: 15px;">
            <table style="width:100%!important">
              
              
              <tr>
                <td class="homeCardText" style="width:30%!important;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Registration Reff'); ?></td>
                
                <td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->data['REG_NUMBER'].' (since : '.$this->data['DEBIT_APPROVED'].')'; ?></td>
              </tr>
			  <tr>
                <td class="homeCardText" style="width:30%!important;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Master Account'); ?></td>
                
                <td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->data['VA_NUMBER'].' - '.$this->data['VA_NAME']; ?></td>
              </tr>
              <tr>
                <td class="homeCardText" style="width:30%!important;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Card Ownership'); ?></td>
                
                <td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->data['DEBIT_TYPE'].' (EDC : '.$this->data['DEBIT_EDC'].' / ATM : '.$this->data['DEBIT_ATM'].' )'; ?></td>
              </tr>
              <tr>
                <td class="homeCardText" style="width:30%!important;padding-top: 5px!important;padding-bottom: 5px!important;"><?php echo $this->language->_('Credit Balance'); ?></td>
                
                <td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;color:red"><?php echo 'IDR '.Application_Helper_General::displayMoneyplain($this->data['BALANCE_MASTER']); ?></td>
              </tr>
			  <tr>
			  <td colspan="2">&nbsp;</td>
			  </tr>
			  <tr>
			  <td colspan="2">
						<div class="" style="text-align: center;"> 
						<?php
						require_once 'Crypt/AESMYSQL.php';
						  $AESMYSQL = new Crypt_AESMYSQL();
						  $rand = $this->token;
							$encrypted_trxid = $AESMYSQL->encrypt(trim($this->va), $rand);
							$enctrxid = urlencode($encrypted_trxid); 
							  
							$urlinfo = $this->url(array('module'=>$this->modulename,'controller'=>'info','action'=>'index','id'=>$enctrxid));	
							$urlDistribute = $this->url(array('module'=>'newbatchpayment','controller'=>'index','action'=>'index'));	
						?>
		                    	<a href="<?php echo $urlinfo; ?>"><button type="button" name="btnValidate" value="1" class="btnwhite hov">TOP UP &nbsp;<i class="fas fa-info-circle"></i></button></a>
								<a href="<?php echo $urlDistribute;?>"><button type="button" name="btnValidate" value="1" class="btnwhite hov">Distribute</button></a>
		                    	
		                    </div>
			  </td>
			  </tr>
			  <tr>
			  <td colspan="2">&nbsp;</td>
			  </tr>
             
            </table>
          </div>
          

        </div>
      </div>
    </div>
	  
	  
	 </div>
	
	<?php if(!empty($this->dataArr)){
		require_once 'Crypt/AESMYSQL.php';
		  $AESMYSQL = new Crypt_AESMYSQL();
		  $rand = $this->token;
		$ii = 0;
			foreach($this->dataArr as $key => $vl){
				if($key == ''){
					$key = 'Others';
				}
				//echo '<pre>';
				//var_dump($vl);	die;
			//style="display: none;"		
			$strstyle = 'style="display: none;"';
			if($ii == 0){
			//	$strstyle = '';
			}
			$ii++;
		?>
	  
	  
	  
	  <div id="<?php echo trim($key) ?>" class="tabcontent"  <?php echo $strstyle; ?> >
      <br/>
      <table width="100%">
        <tr>
          <td colspan="2" align="center">
            <h7 id="lastupdate"><?php 
      $date=date_create($this->lastupdate);
      echo $this->language->_('Last update : ') . date_format($date,"d-M-Y H:i:s"); ?></h7>
          </td>
        </tr>
        <!--  <tr>
                  <td width="15px" style="background-color:#00008b" ></th>
                  <td class="headerNew" colspan="6"> <b>Main Account</b> </td>
                </tr> -->
      </table>
	  <br/>
      <table class='table table-sm table-striped headerNew' id='mainacct_bca'>
        <tr class="text-white" style="background-color:black;">
          
          <th><?php echo $this->language->_('Debit Card Number'); ?></th>
          <th><?php echo $this->language->_('Card Holder Name'); ?></th>
		  <th><?php echo $this->language->_('Card Holder Email'); ?></th>
		  <th><?php echo $this->language->_('Card Balance'); ?></th>
		   
		  <th><?php echo $this->language->_('Status'); ?></th>
          <th class="text-center"><?php echo $this->language->_('Action'); ?></th>
        </tr>
        <?php

        
          $arr_value_tot_group =  array();
          $arr_display_tot_group =  array();
      $tdata = count($vl);
      $checkdata = 0;
          if (count($vl) > 0) {
            $i = 0;
            $totalBalance = 0;
            $personaldata = array();
            $personaltotal = 0;
            $graphdata = array();
            $countpersonal = count($vl);
            $mainassets = 0;
			//echo '<pre>';
			//var_dump($vl);die;
            foreach ($vl as $numb => $row) {
              $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
				//echo $this->dataNew;
				
              if (true) {
                $para = "'" . $row['DEBIT_NUMBER'] . "','". $row['CCY_ID'] . "','" . trim($key) . "'";
                //$indicator = '<div id="indi' . $row['DEBIT_NUMBER'] . $row['CCY_ID'] . '"><span class="indicator online"></span></div>';
				 if ($this->dataNew[$row['DEBIT_NUMBER']] == 4){
                  $ketIndikator = "warning";
                }else if($this->dataNew[$row['DEBIT_NUMBER']] == 3){
                  $ketIndikator = "offline";
                }else{
                  $ketIndikator = "online";
                }
                
                $indicator = '<div id="indi' . $row['DEBIT_NUMBER'] . $row['CCY_ID'] . '">
                
                <span class="indicator '.$ketIndikator.'"></span>
                
                </div>';

                $button_action = '<a href="javascript:;" title="edit" id="editol' . $row['DEBIT_NUMBER'] . $row['CCY_ID'] . '"><i class="fa fa-edit"></i></a>';
                $delete_action = '<a href="javascript:;" id="refresh' . $row['DEBIT_NUMBER'] . '" title="refresh" onclick="balanceload(' . $para . ')"><i class="fa fa-sync"></i></a>&nbsp;<img src="/images/logo/35.gif" id="load' . $row['account_number'] . '" style="width: 13px;display:none">';
                $parad = "'<?php echo trim($key) ?>','" . $row['DEBIT_NUMBER'] . "','" . $row['CCY_ID'] . "'";
                if ($this->hasPrivilege('DBOV')) { 
                $delete_account = '<a href="javascript:;" title="delete" onClick="deleleopenmodal(' . $parad . ')" id="delete' . $row['DEBIT_NUMBER'] . $row['CCY_ID'] . '" data-amount="' . $row['BALANCE'] . '"><i class="fa fa-trash"></i></a>';
                }else{
                  $delete_account = '';
                }

                $status = "on";
              } else if ($row['account_status'] == '5') {
                $indicator = '<div><span class="indicator offline"></span></div>';
                $button_action = '<a href="javascript:;" title="edit" id="edit' . $row['DEBIT_NUMBER'] . $row['CCY_ID'] . '"><i class="fa fa-edit"></i></a>';
                $parad = "'<?php echo trim($key) ?>','" . $row['DEBIT_NUMBER'] . "','" . $row['CCY_ID'] . "'";
                $delete_action = '<a href="javascript:;" title="delete" onClick="delelemodal(' . $parad . ')" id="delete' . $row['DEBIT_NUMBER'] . $row['CCY_ID'] . '" data-amount="' . $row['BALANCE'] . '"><i class="fa fa-trash"></i></a>';
                $delete_account = '';
                $status = "off";
              } else {
                $indicator = '<div><span class="indicator offline"></span></div>';
                $status = "off";
              }
             // $value  = "'" . $row['account_number'] . "','" . $row['account_number'] . "'";

              if ($row['rs_datetime'] != 'N/A') {
                $datetime = $row['rs_datetime'];
              } else {
                $datetime = 'N/A';
              }
              $amount = str_replace(',', '.', $row['BALANCE']);
              $currency = (empty($row['CCY_ID']) ? 'IDR' : $row['CCY_ID']);
				
				if($this->data['DEBIT_TYPE'] == 'Card Holder'){
					
					$row['BALANCE'] = 'XXX';
				}
			//var_dump($row);
			  if($this->data['DEBIT_TYPE'] == 'Card Holder'){
				$spanamount = '<span id="spalias' . $row['DEBIT_NUMBER'] . $row['CCY_ID'] . '">IDR XXX</span>';	
					//$row['BALANCE'] = 'XXX';
			  }	else if($row['BALANCE'] != NULL){
                $spanamount = '<span id="spalias' . $row['DEBIT_NUMBER'] . $row['CCY_ID'] . '">IDR ' . Application_Helper_General::displayMoneyplain($amount) . '</span>';
              }else{
                $spanamount = '<span id="spalias' . $row['DEBIT_NUMBER'] . $row['CCY_ID'] . '">IDR N/A</span>';
              }
			  
			  $encrypted_trxid = $AESMYSQL->encrypt(trim($row['DEBIT_NUMBER']), $rand);
         			$enctrxid = urlencode($encrypted_trxid); 
			  
			$urldetail = $this->url(array('module'=>$this->modulename,'controller'=>'detail','action'=>'index','debitno'=>$enctrxid));
			
			$button_detail = '<a href="'.$urldetail.'" title="detail" id="detail' . $row['DEBIT_NUMBER'].'">'.$row['DEBIT_NUMBER'].'</a>';
					//var_dump($this->data);
				
              echo '  <tr>

                        
                        <td class="' . $td_css . '">' . $button_detail . '</td>

                        <td class="' . $td_css . '"><input type="text" style="display:none" id="aliasname' . $row['DEBIT_NUMBER'] . $row['CCY_ID'] . '" value="' . $row['DEBIT_NAME'] . '" data-new="' . (isset($row['DEBIT_NAME']) ? 0 : 1) . '"  data-type="' . $status . '"><span id="spaliasname' . $row['ACCT_NO'] . $row['CCY_ID'] . '">' . (empty($row['DEBIT_NAME']) ? '-' : $row['DEBIT_NAME']) . '</span></td> 
						
						<td str  class="' . $td_css . '">' . $row['DEBIT_EMAIL'] . '</td>

                        

                        <td style="text-align:right" class="' . $td_css . '"><input class="totalprice'.trim($key).' allprice" type="text" style="display:none" id="alias' . $row['DEBIT_NUMBER'] . $row['CCY_ID'] . '" value="' . $row['BALANCE'] . '">'.$spanamount.'</td>';
                        
				if($this->data['DEBIT_TYPE'] == 'Card Holder'){
					echo  '<td align="center" class="' . $td_css . '" >' . $indicator . '</td><td align="center" class="' . $td_css . '" ><a href="'.$this->url(array('module'=>'newbatchpayment','controller'=>'index','action'=>'index','ACCT_NO'=>$row['ACCT_NO'],'BULK_TYPE'=>'9'),null,true).'" title="make transfer from this account"><i class="fa fa-share"></i></a></td>';
				}else{
                    echo  '<td align="center" class="' . $td_css . '" >' . $indicator . '</td><td align="center" class="' . $td_css . '" ><a href="'.$this->url(array('module'=>'newbatchpayment','controller'=>'index','action'=>'index','ACCT_NO'=>$row['ACCT_NO'],'BULK_TYPE'=>'9'),null,true).'" title="make transfer from this account"><i class="fa fa-share"></i></a>&nbsp;' . $button_action . '<span>&nbsp;&nbsp;' . $delete_action . '</span>&nbsp;<img src="/images/logo/35.gif" id="load' . $row['ACCT_NO'] . '" style="width: 13px;display:none"></td>';
				}

              echo '</tr>';

        ?>
              <script type="text/javascript">
                $("#edit<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>").click(function() {
                  $("#alias<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>").toggle();
                  $("#spalias<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>").toggle();
                });

                $("#editol<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>").click(function() {
                  $("#aliasname<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>").toggle();
                  $("#spaliasname<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>").toggle();
                });

                $('#alias<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>').keypress(function(e) {
                  <?php
                  $aliaschanged = $this->language->_('Balance has been changed');
                  ?>
                  var aliaschanged = '<?php echo $aliaschanged; ?>';
                  if (e.which == 13) {
                    var id = $("#alias<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>").val();

                    var alias = $("#aliasname<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>").val();

                    //ajax update balance
                    $.ajax({
                      url: "<?= $this->url(array('module' => 'balanceview', 'controller' => 'index', 'action' => 'updatebalance'), null, true) ?>",
                      type: 'GET',
                      dataType: "html",
                      data: {
                        id: id,
                        acct: "<?php echo $row['DEBIT_NUMBER'] ?>",
                        bankcode: "<?php echo $row['CCY_ID'] ?>",
                        alias: alias
                      },
                      success: function(data) {
                        // alert(aliaschanged);

                        //------------------balance----------------------
                        var sum = 0;
                        $('.totalprice<?php echo trim($key); ?>').each(function() {
                          if ($(this).val() != 'N/A') {
                            sum += parseFloat($(this).val());
                          }
                          // Or this.innerHTML, this.innerText
                        });

                        const formatter = new Intl.NumberFormat('ID', {
                          minimumFractionDigits: 0
                        });

                        $('#totalassets<?php echo trim($key); ?>').text(formatter.format(sum));
                        $('#alias<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>').hide();
                        $('#spalias<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>').show();
                        $('#spalias<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>').text(formatter.format(id));


                        var allsum = 0;
                        $('.allprice').each(function() {
                          if ($(this).val() != 'N/A') {
                            allsum += parseFloat($(this).val());
                          }
                          // Or this.innerHTML, this.innerText
                        });

                        $('#totalallassettext').text(formatter.format(allsum));

                        // document.getElementById("#spalias<?php echo $row['ACCT_NO'] ?>").textContent=id;
                        // location.reload();
                      },
                      error: function(xhr, ajaxOptions, thrownError) {
                        console.log(xhr);
                        console.log(thrownError);
                        alert("Failed to get where column list, please try again");
                      }
                    });

                    //ajax update alias
                    $.ajax({
                      url: "<?= $this->url(array('module' => 'balanceview', 'controller' => 'index', 'action' => 'updatealiasnameoff'), null, true) ?>",
                      type: 'GET',
                      dataType: "html",
                      data: {
                        acct: "<?php echo $row['DEBIT_NUMBER'] ?>",
                        bankcode: "<?php echo $row['CCY_ID'] ?>",
                        alias: alias
                      },
                      success: function(data) {
                        //console.log(data);

                        //------------------alias----------------------
                        $('#aliasname<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>').hide();
                        $('#spaliasname<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>').show();
                        $('#spaliasname<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>').text(alias);
                      },
                      error: function(xhr, ajaxOptions, thrownError) {
                        console.log(xhr);
                        console.log(thrownError);
                        alert("Failed to get where column list, please try again");
                      }
                    });
                  }
                });

                $('#aliasname<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>').keypress(function(e) {

                  var dataType = $("#aliasname<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>").data('type');

                  if (e.which == 13) {

                    var id = $("#alias<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>").val();

                    var alias = $("#aliasname<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>").val();
                    var status = $("#aliasname<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>").data('new');
                    var apikey = $("#aliasname<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>").data('apikey');

                    if (dataType == 'on') {
                      $.ajax({
                        url: "<?= $this->url(array('module' => 'balanceview', 'controller' => 'index', 'action' => 'updatealiasnameon'), null, true) ?>",
                        type: 'GET',
                        dataType: "html",
                        data: {
                          apikey: apikey,
                          alias: alias,
                          acct: "<?php echo $row['DEBIT_NUMBER'] ?>",
                          bankcode: "<?php echo $row['CCY_ID'] ?>",
                          new: status
                        },
                        success: function(data) {
                          //console.log(data);

                          //if new
                          if (data == 'Sukses Insert') {
                           // console.log('masuk')
                            $('#aliasname<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>').val(alias);
                          }

                          $('#aliasname<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>').hide();
                          $('#spaliasname<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>').show();
                          $('#spaliasname<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>').text(alias);

                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                          console.log(xhr);
                          console.log(thrownError);
                          alert("Failed to update data, please try again");
                        }
                      });
                    } else {
                      var id = $("#alias<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>").val();

                      var alias = $("#aliasname<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>").val();

                      //ajax update balance
                      $.ajax({
                        url: "<?= $this->url(array('module' => 'balanceview', 'controller' => 'index', 'action' => 'updatebalance'), null, true) ?>",
                        type: 'GET',
                        dataType: "html",
                        data: {
                          id: id,
                          acct: "<?php echo $row['DEBIT_NUMBER'] ?>",
                          bankcode: "<?php echo $row['CCY_ID'] ?>",
                          alias: alias
                        },
                        success: function(data) {
                          // alert(aliaschanged);

                          //------------------balance----------------------
                          var sum = 0;
                          $('.totalpricebca').each(function() {
                            if ($(this).val() != 'N/A') {
                              sum += parseFloat($(this).val());
                            }
                            // Or this.innerHTML, this.innerText
                          });

                          const formatter = new Intl.NumberFormat('ID', {
                            minimumFractionDigits: 0
                          });

                          $('#totalassetsbca').text(formatter.format(sum));
                          $('#alias<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>').hide();
                          $('#spalias<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>').show();
                          $('#spalias<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>').text(formatter.format(id));


                          var allsum = 0;
                          $('.allprice').each(function() {
                            if ($(this).val() != 'N/A') {
                              allsum += parseFloat($(this).val());
                            }
                            // Or this.innerHTML, this.innerText
                          });

                          $('#totalallassettext').text(formatter.format(allsum));

                          // document.getElementById("#spalias<?php echo $row['ACCT_NO'] ?>").textContent=id;
                          // location.reload();
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                          console.log(xhr);
                          console.log(thrownError);
                          alert("Failed to get where column list, please try again");
                        }
                      });

                      //ajax update alias
                      $.ajax({
                        url: "<?= $this->url(array('module' => 'balanceview', 'controller' => 'index', 'action' => 'updatealiasnameoff'), null, true) ?>",
                        type: 'GET',
                        dataType: "html",
                        data: {
                          acct: "<?php echo $row['DEBIT_NUMBER'] ?>",
                          bankcode: "<?php echo $row['CCY_ID'] ?>",
                          alias: alias
                        },
                        success: function(data) {
                         // console.log(data);

                          //------------------alias----------------------
                          $('#aliasname<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>').hide();
                          $('#spaliasname<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>').show();
                          $('#spaliasname<?php echo $row['DEBIT_NUMBER'] . $row['CCY_ID'] ?>').text(alias);
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                          console.log(xhr);
                          console.log(thrownError);
                          alert("Failed to get where column list, please try again");
                        }
                      });
                    }
                  }
                });
              </script>
        <?php
              $mainassets = $mainassets + $row['BALANCE'];
              //                  if($systemBalance->getEffectiveBalance() != 'N/A'){
              //                  $personaltotal =+ $systemBalance->getEffectiveBalance();
              //                  }
              $graphdata[$i]['account'] = $row['ACCT_NO'];
              $graphdata[$i]['balance'] = $row['BALANCE'];
              $totalpersonalidr +=  $row['BALANCE'];
        if($row['BALANCE'] == NULL || $row['BALANCE'] == ''){
          $checkdata++;
        }
          
              $i++;
            }
            // var_dump($totalpersonalidr);
          } else {
            $mainassets = 0;
            echo "<tr class='nodata'><td colspan=10 class='tbl-evencontent' align='center'> ---" . $this->language->_(' No Data ') . "--- </td></tr>";
          }


          echo "</table>
                  ";
        

        ?>

        <hr width="100%">

        <div class="row">
          <div class="col-md-5" align="center">

          </div>
          <div class="col-md-1 pt-1" align="center">
            <span class="indicator online float-right"></span>
          </div>
          <div class="col-md-1" align="center">
            <label class="homeCardText float-right"><?php echo $this->language->_('Active'); ?></label>
          </div>
          <div class="col-md-1 pt-1" align="center">
            <span class="indicator warning float-right"></span>
          </div>
          <div class="col-md-21" align="center">
            <label class="homeCardText float-right"><?php echo $this->language->_('Suspend'); ?></label>
          </div>
          <div class="col-md-1 pt-1" align="center">
            <span class="indicator offline float-right"></span>
          </div>
          <div class="col-md-1" align="center">
            <label class="homeCardText float-right"><?php echo $this->language->_('Deleted'); ?></label>
          </div>
        </div>


        <br><br>
        <div class="content-box">
          <table class="" width="100%">
            <tr>
              <td>
                <h6><strong>TOTAL ASSETS</strong>
              </td>
              </h6>
              <td align="right">
                <h5> 
                  <span>IDR </span>
                  <span></span>
                  <span>
                    <strong id="totalassets<?php echo trim($key) ?>">
                      <?php
                      $totalassets = 0;
                      $totalassets = $mainassets + $externalassets;
                      $totalassets = number_format($totalassets, 0, '.', ',');
            if($checkdata == $countpersonal){
              echo 'N/A';
            }else{
              echo $totalassets;
            }
                      
                      ?>
                    </strong>
                  </span>
                  <input type="hidden" name="totalasset_<?php echo trim($key) ?>" id="totalasset_<?php echo trim($key) ?>" value="<?php echo $mainassets ?>">
                </h5>

              </td>
            </tr>

          </table>
        </div>
    </div>
	  
	  
	  
	  
	  
	  
	  
	<?php }
	} ?>


    


  </div>

  <?php
    if($this->notifcache){
      ?>
      <div class="modal fade" id="dialog_nocache" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title textBlack"><?php echo $this->language->_('Warning') ?></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >
              
                <label class="textBlack"><?php echo $this->language->_('no data found on cache ');
                    echo ',';
                    echo $this->language->_(' click refresh to get balance inquiry') ?></label>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btnwhite hov" style="background:white; color:black;" data-dismiss="modal"><?php echo ($this->totalna > 0) ? $this->language->_('Cancel') : $this->language->_('Close') ?></button>
            </div>
          </div>
        </div>
      </div>
      <?php
    }
   ?>

  <?php if ($this->totalna == '') {
    $this->totalna = '0';
  } ?>
  <!-- Modal dialog_balance -->
  <div class="modal fade" id="dialog_balance" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title textBlack" ><?php echo $this->language->_('Warning') ?></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modalBody_balance">
          <?php if ($this->totalna > 0) { ?>
            <label class="textBlack"><?php echo $this->language->_('You will be charged for ');
                echo $this->totalna;
                echo $this->language->_(' account inquiry service on this process. Do you want to continue?') ?></label>
          <?php } else { ?>
            <label class="textBlack"><?= $this->language->_('There is currently no n/a balance. All account balances have been displayed properly'); ?></label>
          <?php } ?>
        </div>
        <div class="modal-footer">
          <button type="button" class="btnwhite hov" style="background:white; color:black;" data-dismiss="modal"><?php echo ($this->totalna > 0) ? $this->language->_('Cancel') : $this->language->_('Close') ?></button>
          <?php if ($this->totalna > 0) { ?>
            <button type="button" class="btngreen hov" onclick="balancena()" data-dismiss="modal"><?php echo $this->language->_('Proceed') ?></button>
          <?php }else{ ?>

            <button type="button" id="buttonProcess_dialog" class="btngreen hov" style="display: none" onclick="balancena()" data-dismiss="modal"><?php echo $this->language->_('Proceed') ?></button>
          <?php } ?>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal dialog_balance_all -->
  <div class="modal fade" id="dialog_balance_all" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title textBlack"><?php echo $this->language->_('Warning') ?></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modalBody_balanceAll">
          <label class="textBlack"><?= $this->language->_('You will be charged for this process. Do you want to continue ?') ?></label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btnwhite hov" style="background:white; color:black;" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
          <button type="button" class="btngreen hov" onclick="balanceupdate()" data-dismiss="modal"><?php echo $this->language->_('Proceed') ?></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal dialog_balance_one -->
  <div class="modal fade" id="dialog_balance_one" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title textBlack"><?php echo $this->language->_('Warning') ?></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label class="textBlack"><?= $this->language->_('You will be charged for this process. Do you want to continue ?') ?></label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btnwhite hov" style="background:white; color:black;" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
          <button type="button" class="btngreen hov" id="btn_balance_one" data-dismiss="modal"><?php echo $this->language->_('Proceed') ?></button>
        </div>
      </div>
    </div>
  </div>


  


</div>



<!-- <div class="container" style="padding: 0px 15px; margin-top: 10px;" id="divHideBtnLiabilities">
  <table width="100%" border='0' class="table table-sm table-striped">
    <tr>
      <td align="right">
        <input class="btngreen hov" type="button" value="<?php echo $this->language->_('Show'); ?>" onclick="detailLiabilitiesShow()" id="liabilities1BtnShow" />
        <input class="btnwhite hov" type="button" value="<?php echo $this->language->_('Hide'); ?>" onclick="detailLiabilitiesHide()" id="liabilities1BtnHide" />
      </td>
    </tr>
  </table>
</div> -->

<div class="col-md-12 " id="liabilities1" style="display:none">
  <div class="content-box">

    <?php

    if (!empty($this->loan)) {
      $graphloan = '';
      $dataloan = '';
      foreach ($this->loan as $row) {
        //             $percent = ($row['balance']/$totalpersonalidr)*;

        $balance = str_replace(',', '', $row['EQUIVALEN']);
        $percent = ($balance / $this->totalloan) * 100;
        $graphloan .= "['" . $row['ACCT_NO'] . "'," . $percent . "],";
        $dataloan .= "{ y : " . $percent . " , label : '" . $row['LOANTYPE'] . "'},";
      }

      //      echo $graphloan;
    }

    ?>
    <div id="liabilitiesChart" class="img-fluid" style="height: 300px; width: 100%;"></div>
  </div>
</div>
<div class="col-md-12 " id="liabilities2" style="display:none">
  <h5 class="homeCardText"><?= $this->language->_('Liabilities (Equivalent in IDR)') ?></h5>


  <table width="100%">
    <tr>
      <td width="15px" style="background-color:#8b0000">
        </th>
      <td class="headerNew" colspan="6"> <b>Main Liabilities</b> </td>
    </tr>
  </table>
  <table class='table table-sm table-striped headerNew'>

    <tr class="text-white" style="background-color:black;">

      <th width="20%">Account</th>
      <th width="20%">Prod Type</th>
      <th width="10%">CCY</th>
      <th width="20%">Outstanding</th>
      <th width="20%">Plafond</th>
    </tr>
    <?php

    if (count($this->loan) > 0) {
      $i = 0; ?>
      <?php foreach ($this->loan as $row) {
        $equivalent = $row['EQUIVALEN'];
        $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
        echo '<tr>';
        echo '
                                <td class="' . $td_css . '">' . $row['ACCT_NO'] . '</td>

                                <td class="' . $td_css . '">' . $row['LOANTYPE'] . '</td>
                                <td class="' . $td_css . '">' . $row['CCY_ID'] . '</td>
                                <td class="' . $td_css . '" align="right">' . $row['OUTSTANDING'] . '</td>
                                          <td class="' . $td_css . '" align="right">' . number_format($equivalent, 0, '.', ',') . '</td>';

        echo '</tr>';

        $i++;
      } ?>
    <?php } else {
      echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- ' . $this->language->_('No Data') . ' --- </td></tr>';
    } ?>
  </table>




 

  <br><br>
  <div class="content-box">
    <table class="" width="100%">
      <tr>
        <td>
          <h6><strong>TOTAL LIABILITIES</strong>
        </td>
        </h6>
        <td align="right">
          <h5>
            <span>IDR (</span>
            <strong>
              <?php
              $totalliabilities = $this->totalloan + 0;
              $totalliabilities = number_format($totalliabilities, 0, '.', ',');
              echo $totalliabilities;
              ?>
            </strong>
            <span>)</span>
          </h5>

        </td>
      </tr>

    </table>
  </div>
</div>
<!-- </div> -->
<?php

// echo "<pre>";
// var_dump($this->labelbank);

// var_dump($str);die;
?>
<?php

$mainy = ($mainassets / $totalassets) * 360;
$externaly = ($externalassets / $totalassets) * 360;

?>
<?php
$mainy = ($mainassets / $totalassets) * 360;
$externaly = ($externalassets / $totalassets) * 360;
$networth = $assets + $liabilities;
$assetsy = ($assets / $networth) * 360;
$liabilitiesy = ($liabilities / $networth) * 360;
$liabilitiesmain = number_format($this->totalloan, 0, '', '');
$liabiliitesexternal = 0;
$liabilities = $liabilitiesmain + $liabilitiesexternal;
$liabilitiesmainy = ($liabilitiesmain / $liabilities) * 360;
$liabilitiesexternaly = ($liabilitiesexternal / $liabilities) * 360;

if (empty($liabilities)) {
  $liabilities = 0;
}


?>

<script type="text/javascript">
  $(document).ready(function() {
	  chartrefresh('master');
    <?php if($this->notifcache){ ?>
      $('#dialog_nocache').modal('show');
    <?php  }?>

    var chart1 = new CanvasJS.Chart("assetsChart", {
      colorSet: "assetsColor",
      // animationEnabled: true,
      //title: {
        //text: "ASSETS (IN IDR)"
      //},
      data: [{
        type: "doughnut",
        startAngle: 40,
        //innerRadius: 60,
        indexLabelFontSize: 12,
        percentFormatString: "#0.##",
        indexLabel: "{label} : {nominal}",
        toolTipContent: "<b>{label}</b><br/> {y}",
        dataPoints: [
          <?php

          foreach ($this->labelbank as $key => $value) {
            // if($this->totalasset == 0){
            $percentbank = ($this->graphbank[$value] / $this->totalasset) * 100;
            // }else{
            //   $percentbank = 0;
			if(is_nan($percentbank)){
				$percentbank = 0;
			}
            // }
			if(empty($this->labelbank[$key+1])){
				echo  "{ y : " . $this->graphbank[$value] . " , label : '" . $value . "' , nominal : '" . Application_Helper_General::displayMoney($this->graphbank[$value]) . "'}";
			}else{
					echo  "{ y : " . $this->graphbank[$value] . " , label : '" . $value . "' , nominal : '" . Application_Helper_General::displayMoney($this->graphbank[$value]) . "'},";
			}
            
          }
          ?>
        ]
      }]
    });
    chart1.render();
  });

  function saveChartToFile() {

    // CanvasJS.addColorSet("assetsColor",
    //                [//colorSet Array
    //                "#00008b",
    //                "#FF4136",
    //                "#2E8B57",
    //                "#3CB371",
    //                "#90EE90",
    //                "#6495ed",
    //                "#e03c31",
    //                "#235ssf",
    //                "#54632d",
    //                ]);
    var chart1 = new CanvasJS.Chart("assetsChart", {
      colorSet: "assetsColor",
      // animationEnabled: true,
      title: {
        text: "ASSETS (IN IDR)"
      },
      data: [{
        type: "doughnut",
        startAngle: 40,
        //innerRadius: 60,
        indexLabelFontSize: 12,
        percentFormatString: "#0.##",
        indexLabel: "{label} : {nominal} ",
        toolTipContent: "<b>{label}:</b> {y} ",
        dataPoints: [
          <?php

          foreach ($this->labelbank as $key => $value) {
            // if($this->totalasset == 0){
            $percentbank = ($this->graphbank[$value] / $this->totalasset) * 100;
            // }else{
            //   $percentbank = 0;
            // }
			if(empty($this->labelbank[$key+1])){
				echo  "{ y : " . $this->graphbank[$value] . " , label : '" . $value . "' , nominal : '" . Application_Helper_General::displayMoney($this->graphbank[$value]) . "'}";
			}else{
				echo  "{ y : " . $this->graphbank[$value] . " , label : '" . $value . "' , nominal : '" . Application_Helper_General::displayMoney($this->graphbank[$value]) . "'},";	
			}
          }
          ?>
        ]
      }]
    });
    chart1.render();

    var base64Image = chart1.canvas.toDataURL();

    $('#assetsChartBase64').val(base64Image);

   // console.log(base64Image);

    var input = $("<input>")
      .attr("type", "hidden")
      .attr("name", "pdf").val("PDF");

    $('#exportForm').append(input);

    $('#exportForm').submit();
  }

  function processdelete(bankname, key, acctno){
      $.ajax({
              url: "<?= $this->url(array('module' => 'balanceview', 'controller' => 'index', 'action' => 'deleteopen'), null, true) ?>",
              type: 'GET',
              dataType: "html",
              data: {
                acct: acctno,
                bank_code : key
              },
              success: function(data) {
            //    console.log(data);
                // alert(balancedeleted);
                // 
                

                var sum = 0;
                $('.totalprice' + bankname).each(function() {
                  if ($(this).val() != 'N/A') {
                    sum += parseFloat($(this).val());
                  }
                  // Or this.innerHTML, this.innerText
                });

                const formatter = new Intl.NumberFormat('ID', {
                  minimumFractionDigits: 0
                });

                $('#totalassets' + bankname).text(formatter.format(sum));
                var balancetag = '#delete' + key + acctno;
                console.log(balancetag); 
                var balance = $(balancetag).data("amount");

                console.log(balance);

                //display to all asset section
                var totalcurasset = $('#totalallasset').val();

                var totalassets = parseFloat(totalcurasset) - parseFloat(balance);
// totalasset_citibank

                var totalcurassetbank = $('#totalasset_' + bankname).val();
                var totalassetsbank = parseFloat(totalcurassetbank) - parseFloat(balance);
                $('#totalassets' + bankname).text(formatter.format(totalassetsbank));
                $('#totalallassettext').text(formatter.format(totalassets));
                $('#delete' + key + acctno).closest('tr').remove();

              },
              error: function(xhr, ajaxOptions, thrownError) {
                alert("Failed to get where column list, please try again");
              }
            });

  }

  function deleleopenmodal(bankname, key, acctno) {

    $('#dialog_box').modal('show');

    var params = "'" + bankname + "','" + key + "','" + acctno + "'";
    $("#btn_delete_one").attr('onclick', 'processdelete(' + params + ')');


    // $('#dialog_box').dialog({
    //   title: 'Delete this account?',
    //   width: 500,
    //   height: 200,
    //   modal: true,
    //   resizable: false,
    //   draggable: false,
    //   buttons: [{
    //       text: 'Yes',
    //       click: function() {
    //         $(this).dialog('close');
            
    //       }
    //     },
    //     {
    //       text: 'No',
    //       click: function() {
    //         $(this).dialog('close');
    //       }
    //     }
    //   ]
    // });
  }

  function deletemanualprocess(bankname, key, acctno){
     $.ajax({
              url: "<?= $this->url(array('module' => 'balanceview', 'controller' => 'index', 'action' => 'deletemanualbalance'), null, true) ?>",
              type: 'GET',
              dataType: "html",
              data: {
                acct: acctno,
                bankcode: key
              },
              success: function(data) {
                console.log(data);
                // alert(balancedeleted);
                // 
                

                var sum = 0;
                $('.totalprice' + bankname).each(function() {
                  if ($(this).val() != 'N/A') {
                    sum += parseFloat($(this).val());
                  }
                  // Or this.innerHTML, this.innerText
                });

                const formatter = new Intl.NumberFormat('ID', {
                  minimumFractionDigits: 0
                });

                
                var balancetag = '#delete' + key + acctno;
                console.log(balancetag); 
                var balance = $(balancetag).data("amount");

                console.log(balance);

                //display to all asset section
                var totalcurasset = $('#totalallasset').val();


                var totalassets = parseFloat(totalcurasset) - parseFloat(balance);

                var totalcurassetbank = $('#totalasset_' + bankname).val();
                
                var totalassetsbank = parseFloat(totalcurassetbank) - parseFloat(balance);
                $('#totalassets' + bankname).text(formatter.format(totalassetsbank));
                $('#totalallassettext').text(formatter.format(totalassets));
                $('#delete' + key + acctno).closest('tr').remove();

              },
              error: function(xhr, ajaxOptions, thrownError) {
                alert("Failed to get where column list, please try again");
              }
            });

  }


  function delelemodal(bankname, key, acctno) {

    $('#dialog_box').modal('show');

    var params = "'" + bankname + "','" + key + "','" + acctno + "'";
    $("#btn_delete_one").attr('onclick', 'deletemanualprocess(' + params + ')');
    // $('#dialog_box').dialog({
    //   title: 'Delete this account?',
    //   width: 500,
    //   height: 200,
    //   modal: true,
    //   resizable: false,
    //   draggable: false,
    //   buttons: [{
    //       text: 'Yes',
    //       click: function() {
    //         $(this).dialog('close');
            
    //       }
    //     },
    //     {
    //       text: 'No',
    //       click: function() {
    //         $(this).dialog('close');
    //       }
    //     }
    //   ]
    // });
  }



  function balancecachemodal() {
    $('#dialog_balance_all').modal('show');
    
  
  }


  function balancecachenamodal() {
    $('#dialog_balance').modal('show');
    
    // $('#dialog_balance_all').dialog({
    //   title: 'Warning',
    //   width: 500,
    //   height: 200,
    //   modal: true,
    //   resizable: false,
    //   draggable: false,
    //   buttons: [{
    //       text: 'Yes',
    //       click: function() {
    //         $(this).dialog('close');
    //         balancena();
    //       }
    //     },
    //     {
    //       text: 'No',
    //       click: function() {
    //         $(this).dialog('close');
    //       }
    //     }
    //   ]
    // });
  }
</script>
<?php
// var_dump($totalpersonalidr);
// var_dump($this->totalloan);
?>

<script>
  window.onload = function() {
    CanvasJS.addColorSet("networthColor",
      [ //colorSet Array
        "#6495ed",
        "#e03c31",
        "#2E8B57",
        "#3CB371",
        "#90EE90"
      ]);
    var chart = new CanvasJS.Chart("chartContainer", {
      colorSet: "networthColor",
      animationEnabled: true,
      title: {
        text: "NET WORTH (IN IDR)"
      },
      data: [{
        type: "doughnut",
        startAngle: 40,
        //innerRadius: 60,
        indexLabelFontSize: 12,
        percentFormatString: "#0.##",
        indexLabel: "{label} - #percent%",
        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
        dataPoints: [{
            y: <?php echo $totalpersonalidr; ?>,
            label: "Assets"
          },
          // { y: <?php echo $liabilities; ?>, label: "Liabilities" },
          {
            y: <?php echo $this->totalloan; ?>,
            label: "Liabilities"
          },

        ]
      }]
    });
    chart.render();
  }


  // function balancemodal(){

  // balancena();

  // }
  function notiftop(){
    //alert();
    $('#notiftop').hide();
  }

  function balanceload_process(acct, bank, key) {
    $("#load" + acct).show();
    $("#refresh" + acct).hide();
    var ncolselect = "#spalias" + acct + bank;  
	//console.log(ncolselect);
    var input_select = "#alias" + acct + bank; 
    $.ajax({
      url: "<?= $this->url(array('module' => 'debitbalance', 'controller' => 'index', 'action' => 'balanceupdate'), null, true) ?>",
      type: 'GET',
      dataType: "html",
      data: {
        id: acct,
        bank: bank,
      },
      success: function(data) {
      
        if (data == null || data == '' ) {
          $('#pdfbutton').prop("disabled",true);
      $('#notiftop').show();
  //  setTimeout(notiftop(), 5000);
          $("#myModalNotification").modal();
        }
    
    console.log(data);
        if (data == 'N/A') {
      $('#pdfbutton').prop("disabled",true);
    $('#notiftop').show();
	<?php if($this->data['DEBIT_TYPE'] == 'Card Holder'){ ?>
	var data = 'IDR XXX';
	<?php } ?>
      $(ncolselect).text('IDR '+data);
    var total_na = $('#total_na').val();
    var newtotal = parseInt(total_na) + parseInt(1);
    $('#total_na').val(newtotal);
    $('#modalBody_balance').html('<p class="textBlack">You will be charged for '+newtotal+' account inquiry service on this process. Do you want to continue?</p>');
  $('#buttonProcess_dialog').show();
    if(parseInt(newtotal) > 0){
    $('#pdfbutton').prop("disabled",true);
  }
      
        } else {
          var number_format = data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		  <?php if($this->data['DEBIT_TYPE'] == 'Card Holder'){ ?>
			var number_format = 'IDR XXX';
			<?php } ?>
          $(ncolselect).text(number_format );
          $(input_select).val(data);
        }
        //console.log(data);

        // $(totallabel).html('<b>TOTAL AVAILABLE BALANCE '+data+'</b>');
        $("#load" + acct).hide();
        $("#refresh" + acct).show();
        var bankname = key;
        

        var sum = 0;
         var totalacc = 0;
      var checkna = 0;
    var totalna = 0;
          $('.totalprice' + bankname).each(function() {
        totalacc++;
            if ($(this).val() != 'N/A' && $(this).val() != '') {
               //console.log($(this).val());
			   var sumval = $(this).val().replaceAll(",", "");
			//console.log(sumval);
        sum += parseFloat(sumval);
              //console.log(sum);
            //}else{
        //alert($(this).val());
      }else{
      totalna++;
      checkna++;
      }
            // Or this.innerHTML, this.innerText
          });
          // console.log(sum);
          const formatter = new Intl.NumberFormat('ID', {
            minimumFractionDigits: 0
          });
  //console.log('start');
  // console.log(totalacc);
  // console.log(checkna);
  //console.log('end');
    
      if(totalacc == checkna){
      $('#totalassets' + bankname).text('N/A');  
      }else{
      console.log(sum);
      if(Number.isNaN(sum)==true){
        sum = 'N/A';
      }else{
        sum = formatter.format(sum);
      }
        $('#totalassets' + bankname).text(sum);
      }
          

          var allsum = 0;
          $('.allprice').each(function() {
        //console.log($(this).val());
            if ($(this).val() != 'N/A' && $(this).val() != '') {
              allsum += parseFloat($(this).val());
            }else{
        
      }
            // Or this.innerHTML, this.innerText
          });
      if(allsum == '0'){
          $('#totalallassettext').text('N/A');
      }else{
      if(Number.isNaN(allsum)==true){
        allsum = 'N/A';
      }else{
        allsum = formatter.format(allsum);
      }
      //console.log(Number.isNaN(allsum));
          $('#totalallassettext').text(allsum);
      }


        // console.info(data);
      },
      error: function(xhr, ajaxOptions, thrownError) {
        console.info(thrownError);
        $("#load" + acct).hide();
        $("#refresh" + acct).show();
        alert("Failed to get where column list, please try again");
      }
    });
  
  $.ajax({
      url: "<?= $this->url(array('module' => 'balanceview', 'controller' => 'index', 'action' => 'lastupdated'), null, true) ?>", 
      type: 'GET',
      dataType: "html",

      success: function(data) {
        var result = data.split(",");
    //console.log(result);
    
        if (result[0] == '') {
          
        } else {
          
          $('#lastupdate').text('Last Update : ' + result[0]);
      $('#lastupdate1').text('Last Update : ' + result[0]);
      $('#lastupdate2').text('Last Update : ' + result[0]);
      $('#lastupdate3').text('Last Update : ' + result[0]);
      $('#lastupdate4').text('Last Update : ' + result[0]);
      $('#lastupdate5').text('Last Update : ' + result[0]);
      $('#lastupdate6').text('Last Update : ' + result[0]);
    $('#lastupdate7').text('Last Update : ' + result[0]);

        }
        // console.log(result[1]);
        // console.log(result[0]);
      },
      error: function(xhr, ajaxOptions, thrownError) {
        console.log(xhr);
        console.log(thrownError);
        // alert("Failed to get where column list, please try again");
      }
    });
  
  //chartrefresh(); 
  
  } 
  
  function chartrefresh(group){
    
    $.ajax({
      url: "<?= $this->url(array('module' => 'debitbalance', 'controller' => 'index', 'action' => 'refreshchart'), null, true) ?>", 
      type: 'GET',
      dataType: "html",
	  data: {
        id: group,
		va: <?php echo $this->va ?>
      },
      success: function(datachart) {
      
      //var arr = [datachart];
      //var myJSON = JSON.stringify(arr);
    
    $('#assetsChart').html('');
    var datachartnew  = JSON.parse(datachart);
    console.log(datachartnew);
        var chartnew = new CanvasJS.Chart("assetsChart", {
      colorSet: "assetsColor",
      // animationEnabled: true, 
      title: {
        text: "ASSETS (IN IDR)"
      },
      data: [{
        type: "doughnut",
        startAngle: 40,
        //innerRadius: 60,
        indexLabelFontSize: 12,
        percentFormatString: "#0.##",
        indexLabel: "{label} : {nominal}",
        toolTipContent: "<b>{label}:</b><br/>{y}",
        dataPoints: datachartnew
      }] 
    });
    chartnew.render();
  
      },
      error: function(xhr, ajaxOptions, thrownError) {
        console.log(xhr);
        console.log(thrownError);
        // alert("Failed to get where column list, please try again");
      }
    });
    
    
    
    
  }


  function balanceload(acct, bank, key) {
    $('#dialog_balance_one').modal('show');

    var params = "'" + acct + "','" + bank + "','" + key + "'";
    $("#btn_balance_one").attr('onclick', 'balanceload_process(' + params + ')');

  }


  function balancena() {


    $.ajax({
      url: "<?= $this->url(array('module' => 'balanceview', 'controller' => 'index', 'action' => 'balancena'), null, true) ?>",
      type: 'GET',
      dataType: "html",
      success: function(data) {
        
      },
      error: function(xhr, ajaxOptions, thrownError) {

        alert("Failed to get where column list, please try again");
      }
    });

      $.ajax({
      url: "<?= $this->url(array('module' => 'balanceview', 'controller' => 'index', 'action' => 'lastupdated'), null, true) ?>", 
      type: 'GET',
      dataType: "html",

      success: function(data) {
        var result = data.split(",");
    //console.log(result);
    
        if (result[0] == '') {
          
        } else {
          
          $('#lastupdate').text('Last Update : ' + result[0]);
      $('#lastupdate1').text('Last Update : ' + result[0]);
      $('#lastupdate2').text('Last Update : ' + result[0]);
      $('#lastupdate3').text('Last Update : ' + result[0]);
      $('#lastupdate4').text('Last Update : ' + result[0]);
      $('#lastupdate5').text('Last Update : ' + result[0]);
      $('#lastupdate6').text('Last Update : ' + result[0]);
    $('#lastupdate7').text('Last Update : ' + result[0]);

        }

        window.location.reload();

        chartrefresh();
        // console.log(result[1]);
        // console.log(result[0]);
      },
      error: function(xhr, ajaxOptions, thrownError) {
        console.log(xhr);
        console.log(thrownError);
        // alert("Failed to get where column list, please try again");
      }
    });

  }

  function balanceupdate() {
    $.ajax({ 
      url: "<?= $this->url(array('module' => 'debitbalance', 'controller' => 'index', 'action' => 'balanceupdatecache'), null, true) ?>",
      type: 'GET',
      dataType: "html",
      success: function(data) {

        window.location.reload();

        chartrefresh();
      },
      error: function(xhr, ajaxOptions, thrownError) {

        alert("Failed to get where column list, please try again");
      }
    });
  }



  function assets() {
    // CanvasJS.addColorSet("assetsColor",
    //                [//colorSet Array
    //                "#00008b",
    //                "#FF4136",
    //                "#2E8B57",
    //                "#3CB371",
    //                "#90EE90",
    //                "#6495ed",
    //                "#e03c31",
    //                "#235ssf",
    //                "#54632d",
    //                ]);
    $('#networth1').hide();
    $('#networth2').hide();
    $('#divHideBtnLiabilities').hide();
    $('#liabilities1').hide();
    $('#liabilities2').hide();
    $('#divHideBtnAssets').show();
    $('#assets1BtnHide').show();
    $('#assets1BtnShow').hide();
    $('#assets1').show();
    $('#assets2').show();
    $('#btnnetworth').removeClass('aktif');
    $('#btnassets').addClass('aktif');
    $('#btnliabilities').removeClass('aktif');
    var chart1 = new CanvasJS.Chart("assetsChart", {
      colorSet: "assetsColor",
      animationEnabled: true,
      title: {
        text: "ASSETS (IN IDR)"
      },
      data: [{
        type: "doughnut",
        startAngle: 40,
        //innerRadius: 60,
        indexLabelFontSize: 12,
        percentFormatString: "#0.##",
        indexLabel: "{label} : {nominal}",
        toolTipContent: "<b>{label}:</b> {y}",
        dataPoints: [
          <?php

          foreach ($this->labelbank as $key => $value) {
            // if($this->totalasset == 0){
            $percentbank = ($this->graphbank[$value] / $this->totalasset) * 100;
            // }else{
            //   $percentbank = 0;
            // }
            echo  "{ y : " . $this->graphbank[$value] . " , label : '" . $value . "' , nominal : '" . Application_Helper_General::displayMoney($this->graphbank[$value]) . "'},";
          }
          ?>
        ]
      }]
    });
    chart1.render();

    $('#aggregationType').val('2');
  }

  function networth() {
    CanvasJS.addColorSet("networthColor",
      [ //colorSet Array
        "#6495ed",
        "#e03c31",
        "#2E8B57",
        "#3CB371",
        "#90EE90"
      ]);
    $('#networth1').show();
    $('#networth2').show();
    $('#divHideBtnLiabilities').hide();
    $('#liabilities1').hide();
    $('#liabilities2').hide();
    $('#divHideBtnAssets').hide();
    $('#assets1').hide();
    $('#assets2').hide();
    $('#btnnetworth').addClass('aktif');
    $('#btnliabilities').removeClass('aktif');
    $('#btnassets').removeClass('aktif');
    var chart = new CanvasJS.Chart("chartContainer", {
      colorSet: "networthColor",
      animationEnabled: true,
      title: {
        text: "NET WORTH (IN IDR)"
      },
      data: [{
        type: "doughnut",
        startAngle: 40,
        //innerRadius: 60,
        indexLabelFontSize: 12,
        percentFormatString: "#0.##",
        indexLabel: "{label} - #percent%",
        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
        dataPoints: [{
            y: <?php echo $totalpersonalidr; ?>,
            label: "Assets" 
          },
          // { y: <?php echo $liabilities; ?>, label: "Liabilities" },
          {
            y: <?php echo $this->totalloan; ?>,
            label: "Liabilities"
          },


        ]
      }]
    });
    chart.render();

    $('#aggregationType').val('1');
  }


  function liabilities() {
    CanvasJS.addColorSet("liabilitiesColor",
      [ //colorSet Array
        "#8b0000",
        "#ff3333",
        "#2E8B57",
        "#3CB371",
        "#90EE90"
      ]);
    $('#networth1').hide();
    $('#networth2').hide();
    $('#divHideBtnLiabilities').show();
    $('#liabilities1BtnHide').show();
    $('#liabilities1BtnShow').hide();
    $('#liabilities1').show();
    $('#liabilities2').show();
    $('#divHideBtnAssets').hide();
    $('#assets1').hide();
    $('#assets2').hide();
    $('#btnnetworth').removeClass('aktif');
    $('#btnliabilities').addClass('aktif');
    $('#btnassets').removeClass('aktif');
    var chart2 = new CanvasJS.Chart("liabilitiesChart", {
      colorSet: "liabilitiesColor",
      animationEnabled: true,
      title: {
        text: "LIABILITIES (IN IDR)"
      },
      data: [{
        type: "doughnut",
        startAngle: 40,
        //innerRadius: 60,
        indexLabelFontSize: 12,
        indexLabel: "{label} - #percent%",
        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
        dataPoints: [
          <?php echo $dataloan; ?>
        ]
      }]
    });
    chart2.render();

    $('#aggregationType').val('3');
  }
</script>