<script type="text/javascript">
	$(document).ready(function() {
		//AKAN DILOAD PERTAMA KALI
		reset_all();
	});


	function reset_all() {
		$('#user_id').val('<?php echo $this->user_id; ?>');
		$('#user_service_area').val('<?php echo $this->user_service_area; ?>');
		$('#user_email').val('<?php echo $this->user_email; ?>');
		$('#user_fullname').val('<?php echo $this->user_fullname; ?>');
		$('#user_mobile_phone').val('<?php echo $this->user_mobile_phone; ?>');
		$('#user_service_address').val('<?php echo $this->user_service_address; ?>');
		$('#user_address').val('<?php echo $this->user_address; ?>');
		$('#user_city').val('<?php echo $this->user_city; ?>');
		$('#user_zip').val('<?php echo $this->user_zip; ?>');
		$('#user_province').val('<?php echo $this->user_province; ?>');
		$('#user_country').val('<?php echo $this->user_country; ?>');
		$('#user_acct_no').val('<?php echo $this->user_acct_no; ?>');
		$('#user_acct_name').val('<?php echo $this->user_acct_name; ?>');
		$('#user_classification').val('<?php echo $this->user_classification; ?>');
	}

	function setName() {
		var value = $('#user_acct_no').val();
		var name = $('#' + value).val();
		$('#user_acct_name').val(name);
	}
</script>

<?php $banktable = $this->language->_('Agent') ?>
<?php $new = $this->language->_('New') ?>
<?php $general = $this->language->_('General') ?>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span>General</span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span>Agent</span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="valas"><?= $this->language->_('New') ?></span>
				</li>
			</ul>
		</div>
	</div>
</div>


<?php if ($this->success) { ?>
	<div class="successmsg"><?php echo $this->language->_('Record Updated'); ?></div><br />
<?php } ?>
<?php if (count($this->report_msg) > 0) { ?>
	<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.'); ?></div><br />
<?php } ?>


<div class="row content-box">
	<div class="portlet-body form col-md-12">
		<table cellpadding="3" cellspacing="0" border="0" class="tableform">
			<form name="Form" method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => 'new', 'action' => 'index'), null, true) ?>">
				<h5><?= $this->language->_('New Agent') ?></h5>
				<tr>
					<td colspan="5" class="tbl-evencontent">
						<b></b><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('branch_code', 'Branch Code'); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="4">
						<?php echo $this->branchCode ?>
						<div id="error_atm_code" class="errmsg"></div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('branch_name', 'Branch Name'); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="4">
						<?php echo $this->branchName ?>
						<div id="error_atm_address" class="errmsg"></div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('user_mobile_phone', 'Phone Number'); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="4">
						<?php echo $this->formText('user_mobile_phone', $this->user_mobile_phone, array('class' => 'form-control', 'maxlength' => 16, 'size' => 30)); ?>
						<div class="errmsg"><?= $this->error_user_mobile_phone ?></div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('user_id', 'Agent Id'); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="4">
						<?php echo $this->formText('user_id', $this->user_id, array('class' => 'form-control')); ?>
						<div class="errmsg"><?= $this->error_user_id ?></div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('user_fullname', 'Agent Name'); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="4">
						<?php echo $this->formText('user_fullname', $this->user_fullname, array('class' => 'form-control')) ?>
						<div class="errmsg"><?= $this->error_user_fullname ?></div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('user_service_area', 'Service Area'); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="4">
						<select name="user_service_area" id="user_service_area" class="form-control input-medium">
							<option value="">-- Pilih Area --</option>
							<?php if (count($this->areaArr) > 0) {
								foreach ($this->areaArr as $val) { ?>
									<option value="<?= $val['AREA_NAME'] ?>" <?php if ($this->user_service_area == $val['AREA_NAME']) echo "selected"; ?>><?= $val['AREA_NAME'] ?></option>
							<?php }
							} ?>
						</select>
						<div class="errmsg"><?= $this->error_user_service_area ?></div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('user_service_address', 'Agent Address'); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="4">
						<?php echo $this->formTextarea('user_service_address', $this->user_service_address, array('class' => 'form-control', 'rows' => 5, 'cols' => 50, 'onfocus' => 'AlnumOnly(this.value,this.id)', 'onKeyUp' => 'javascript:this.value = this.value.toUpperCase();')); ?>
						<div class="errmsg"><?= $this->error_user_service_address ?></div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('user_email', 'Email'); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="4">
						<?php echo $this->formText('user_email', $this->user_email, array('class' => 'form-control')); ?>
						<div class="errmsg"><?= $this->error_user_email ?></div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('user_city', 'City'); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="4">
						<?php echo $this->formText('user_city', $this->user_city, array('class' => 'form-control')); ?>
						<div class="errmsg"><?= $this->error_user_city ?></div>
					</td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('user_province', 'Province'); ?>&nbsp;<span class="errmsg">*</span></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="4">
						<?php echo $this->formText('user_province', $this->user_province, array('class' => 'form-control')); ?>
						<div class="errmsg"><?= $this->error_user_province ?></div>
					</td>
				</tr>
		</table>
		<br>
		<div class="formbutton">
			<?php
			$backButton =  $this->url(array('module' => 'agent', 'controller' => 'agentlist'), null, true);
			echo $this->formButton('back', 'Kembali', array('onclick' => 'location.href=\'' . $backButton . '\'', 'class' => 'btnwhite hov'));
			echo '&nbsp;&nbsp;';

			echo $this->formSubmit('submit', 'Kirim', array('class' => 'btngreen hov', 'onclick' => 'return confirm("Daftarkan Agen Baru?");'));
			echo '&nbsp;&nbsp;';
			echo $this->formButton('reset', 'Ulangi', array('class' => 'btngreen hov', 'onclick' => 'reset_all()'));
			?>
		</div>
		</form>
	</div>
</div>


<!-- code lama sebelum 21 januari 2019-->
<!-- 
<div class="row">
	<div class="col-md-12">
<?php $banktable = $this->language->_('Agent') ?>
<?php $new = $this->language->_('New') ?>
<?php $general = $this->language->_('General') ?>
<b><?php echo $general ?> ><?php echo $banktable ?> > <?php echo $new ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $new ?></div>

<br />
<?php if ($this->error) { ?>
<div class="alert alert-danger"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit') ?>.</div><br />
<?php } ?>
<?php if ($this->error_remark) { ?>
<div class="alert alert-danger"><?php echo $this->error_remark ?></div><br />
<?php } ?>

<form name="Form" method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => 'new', 'action' => 'index'), null, true) ?>">
<div class="portlet light bordered col-md-10">
    <div class="portlet-body">
    <div class="table-responsive">
  <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered">
  <thead>
    <tr><th colspan="4"><?php echo $this->language->_('Add Agent'); ?></th></tr>
</thead>
<tbody>
     <tr>
	  <td class="tbl-evencontent"></td>
	  <td class="tbl-evencontent"></td>
	  <td class="tbl-evencontent" colspan="2"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('branch_code', 'Branch Code'); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent" colspan="2"><?php echo $this->branchCode ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('branch_name', 'Branch Name'); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent" colspan="2"><?php echo $this->branchName ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_mobile_phone', 'Phone Number'); ?>&nbsp;<span class="errmsg">*</span></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent" colspan="2">
	  <div class="form-group">
	  <div class="input-group input-large">
		<?php
		echo $this->formText('user_mobile_phone', $this->user_mobile_phone, array('class' => 'form-control input-medium', 'maxlength' => 16, 'size' => 30));
		?>
		
	 	</div>
		<div class="errmsg"><?= $this->error_user_mobile_phone ?></div>
		</div>
	  </td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_id', 'Agent Id'); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent" colspan="2">
	  <div class="form-group">
	  	 <?php
			echo $this->formText('user_id', $this->user_id, array('class' => 'form-control input-medium'));
			?>
	     <div class="errmsg"><?= $this->error_user_id ?></div>
	     </div>
	  </td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_fullname', 'Agent Name'); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent" colspan="2">
	  <div class="form-group">
	  	 <?php
			echo $this->formText('user_fullname', $this->user_fullname, array('class' => 'form-control input-medium'));
			?>
	     <div class="errmsg"><?= $this->error_user_fullname ?></div>
	     </div>
	  </td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_service_area', 'Service Area'); ?>&nbsp;<span class="errmsg">*</span></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"  colspan="2">
	  <div class="input-group input-large">
	  	 <select name="user_service_area" id="user_service_area" class="form-control input-medium">
	  	 	<option value="">-- Pilih Area --</option>
	  	 	<?php if (count($this->areaArr) > 0) {
					foreach ($this->areaArr as $val) { ?>
	  	 		<option value="<?= $val['AREA_NAME'] ?>" <?php if ($this->user_service_area == $val['AREA_NAME']) echo "selected"; ?>><?= $val['AREA_NAME'] ?></option>
	  	 	<?php }
				} ?>
	  	 </select>
	  	
	  	 <div class="errmsg"><?= $this->error_user_service_area ?></div>
	  </div>
	  </td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_service_address', 'Agent Address'); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent" colspan="2">
	  <div class="form-group">
	  	 <?php echo $this->formTextarea('user_service_address', $this->user_service_address, array('class' => 'form-control input-large', 'rows' => 5, 'cols' => 50, 'onfocus' => 'AlnumOnly(this.value,this.id)', 'onKeyUp' => 'javascript:this.value = this.value.toUpperCase();')); ?>
	  	 <div class="errmsg"><?= $this->error_user_service_address ?></div>
	     </div>
	  </td>
    </tr>

    

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_email', 'Email'); ?>&nbsp;<span class="errmsg">*</span></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent" colspan="2">
	  <div class="form-group">
	      <?php echo $this->formText('user_email', $this->user_email, array('class' => 'form-control input-large')); ?>
	      <div class="errmsg"><?= $this->error_user_email ?></div>
	  </div>
	  </td>
    </tr>


    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_city', 'City'); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent" colspan="2">
	  <div class="form-group">
	  	 <?php
			echo $this->formText('user_city', $this->user_city, array('class' => 'form-control input-medium'));
			?>
	     <div class="errmsg"><?= $this->error_user_city ?></div>
	     </div>
	  </td>
    </tr>



    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_province', 'Province'); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent" colspan="2">
	  <div class="form-group">
	  	 <?php
			echo $this->formText('user_province', $this->user_province, array('class' => 'form-control input-medium'));
			?>
	     <div class="errmsg"><?= $this->error_user_province ?></div>
	     </div>
	  </td>
	</tr>

    
    

  </tbody>
  </table>
  <br />
  <div>
  <?php
	$backButton =  $this->url(array('module' => 'agent', 'controller' => 'agentlist'), null, true);
	echo $this->formButton('back', 'Kembali', array('onclick' => 'location.href=\'' . $backButton . '\'', 'class' => 'inputbtn'));
	echo '&nbsp;&nbsp;';

	echo $this->formSubmit('submit', 'Kirim', array('class' => 'inputbtn', 'onclick' => 'return confirm("Daftarkan Agen Baru?");'));
	echo '&nbsp;&nbsp;';
	echo $this->formButton('reset', 'Ulangi', array('class' => 'inputbtn', 'onclick' => 'reset_all()'));
	?></div>
</form>
</div>
</div></div></div></div> -->