<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="icon" type="image/png" href="/head-icon-btn.ico">
    <title>404 Page | <?= $this->masterTitle ?></title>
    <style type="text/css">
      
      img.contentImage {
      display:block; 
      margin-left:auto;
      margin-right:auto;
      margin-top:20%;

      }

      div#contentText{
      margin-top: 30%;
      margin-left:auto;
      margin-right:auto;
      text-align: center;
      border: none;
      }
      div#contentText .card-title{
        font-size: 34px;
        font-weight: bold;
        color: #126CB9;
      }

      p.card-contact {
        color: #909090;
        font-style: italic;
      }


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color:#fff;
  color:#909090;
} 


    </style>
  </head>
  <body>
   <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <img src="/images/img_404.png" width="500" class="contentImage img-fluid" alt="520">
        </div>
        <div class="col-md-6 col-lg-6">
            <div id="contentText"  class="card" style="width: 22rem;">

  <div class="card-body">
    <h2 class="card-title">Opss...</h5>
    <p class="card-text">PAGE NOT FOUND !</p>
    <p class="card-contact">Email : <?= $this->masterEmail ?><br/>Call : <?= $this->masterFax ?></p>
    <a href="/home/dashboard" class="btn btn-primary">Go to Home Page</a>

    
 
  </div>
</div>
 <?php 
  if (isset($this->exception)):
  $config = Zend_Registry::get('config');
  //application.ini
  $applicationErrorPath          = $config['app']['error']['path'].'FOapplicationerror.log';
  

  $string  = date("Y-m-d h:i:s");
  $string =  $string.' : <h3>Exception information:</h3>';
  $string =  $string.'<p>';
  $string =  $string.'<b>Message:</b>'.$this->exception->getMessage().'</p>';

  $string =  $string.'<h3>Stack trace:</h3>;';
  $string =  $string.'<pre>'.$this->exception->getTraceAsString();
  $string =  $string.'</pre>';

  $string =  $string.'<h3>Request Parameters:</h3>';
  $string =  $string.'<pre>'.var_export($this->request->getParams(), true);
  $string =  $string.'</pre>';
  file_put_contents($applicationErrorPath, $string,FILE_APPEND);
  
  // Zend_Debug::dump($string);
  endif
  ?>
        </div>
      </div>
   </div>

   <footer id="sticky-footer">
    <div class="container text-center">
      <small>Supported by : <a href="espay.co.id">Square Gate One</a></small>
    </div>
  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/errorpage/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/js/errorpage/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/js/errorpage/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>