
	<table border="0" cellpadding="0" cellspacing="0" width="50%" align="left">
		<tbody>
			<tr>
				<td class="filterarea" id="filterarea">
					<b><?php echo $this->language->_('Predefined beneficiaryy'); ?> &gt; <?php echo $this->language->_('BII Account'); ?> &gt; <?php echo $this->language->_('Add BII Account'); ?></b><br /><br />
				</td>
			</tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr>
				<th class="filterarea" id="filterarea">
					<?php echo $this->language->_('Add Beneficiary'); ?>
				</th>
			</tr>
			<tr>
				<td id="contentarea">
					<form name="addbeneficiary" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'addbeneficiary'),null,true)?>">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Alias Name'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent"><?php echo $this->formText('ACBENEF_ALIAS',$this->ACBENEF_ALIAS,array('size'=>40,'maxlength'=>35))?></td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Beneficiary Account'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent"><?php echo $this->formText('ACBENEF',$this->ACBENEF,array('size'=>40,'maxlength'=>10,'onkeypress'=>'return forceNumberOCBC(event)'))?></td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Currency'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent"><?php echo $this->formSelect('CURR_CODE',$this->CURR_CODE,null,$this->ccy); ?>
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Email Address'); ?><strong class="formreq"></strong></td>
								<td class="tbl-evencontent"><?php echo $this->formText('ACBENEF_EMAIL',$this->ACBENEF_EMAIL,array('size'=>40))?></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td colspan="2">
									<div id="notesPage">
									<div class="tdform-sub"><?php echo $this->language->_('Notes'); ?>:</div>
									<div class="tbl-evencontent">																		
										<?php echo $this->language->_('To fill more than 1 email address, please separated it with semicolon '); ?>(;).<br>
										<?php echo $this->language->_('For example '); ?>:<?php echo $this->language->_(' wirda@gmail.com;gunawan@yahoo.com'); ?>
									</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td class="button-area" id="button-area" colspan="2">
									<div class="formbutton">
										<input class = "inputbtn" type="button" onclick="location.href='<?=$this->url(array('module'=>'predefinedbeneficiary','controller'=>$this->controllername,'action'=>'index'),null,true)?>'" value = "Back">
										<input type="submit" value="Submit" name="submit" class="inputbtn"/>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
