
	<table border="0" cellpadding="0" cellspacing="0" width="50%" align="left">
		<tbody>
			<tr>
				<td class="filterarea" id="filterarea">
					<b><?php echo $this->language->_('Predefined beneficiaryy'); ?> &gt; <?php echo $this->language->_('BII Account'); ?> &gt; <?php if($this->mode=='Add') echo $this->language->_('Add'); else echo $this->language->_('Edit'); ?><?php echo $this->language->_('BII Account'); ?></b><br /><br />
				</td>
			</tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr>
				<th class="filterarea" id="filterarea">
					<?php if($this->mode=='Add') echo $this->language->_('Add'); else echo $this->language->_('Edit'); ?><?php echo $this->language->_('Beneficiary'); ?>
				</th>
			</tr>
			<tr>
				<td id="contentarea">
					<form name="addbeneficiary" method="post" action="">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Alias Name'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent"><?php echo $this->formLabel('ACBENEF_ALIAS',$this->ACBENEF_ALIAS)?></td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Beneficiary Account'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent"><?php echo $this->formLabel('ACBENEF',$this->ACBENEF)?></td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Beneficiary Account Name'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent"><?php echo $this->formLabel('ACBENEF',$this->ACBENEF_NAME)?></td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Currency'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent"><?php echo $this->formLabel('CURR_CODE',$this->CURR_CODE); ?>
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Email Address'); ?><strong class="formreq"></strong></td>
								<td class="tbl-evencontent"><?php echo $this->formLabel('ACBENEF_EMAIL',$this->ACBENEF_EMAIL)?></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td class="button-area" id="button-area" colspan="2">
									<div class="formbutton">
										<input type="submit" value="Back" name="submit" class="inputbtn" />
										<input type="submit" value="Submit" name="submit" class="inputbtn"/>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
