
	<table border="0" cellpadding="0" cellspacing="0" width="50%" align="left">
		<tbody>
			<tr>
				<td class="filterarea" id="filterarea">
					<b><?php echo $this->language->_('Predefined Beneficiary  '); ?>&gt;<?php echo $this->language->_(' BII Acct'); ?></b><br /><br />
				</td>
			</tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr>
				<th class="filterarea" id="filterarea">
					<?php echo $this->language->_('Import Beneficiary'); ?>
				</th>
			</tr>
			<tr>
				<td id="contentarea" >
					<form name="importbeneficiary" method="post" action="<?=$this->url(array('module'=>'predefinedbeneficiary','controller'=>$this->controllername,'action'=>'importbeneficiary'),null,true)?>" enctype="multipart/form-data">
					<table width="400" border="0" cellspacing="4" cellpadding="4" align="center">
						<tr>
							<td align="right">
								<img src="/images/img_excel.gif" width="49" height="47" border="0">
							</td>
							<td class="contentarea" id="contentarea">
								<div class="subtopic"><?php echo $this->language->_('Load Data from CSV Text File'); ?></div>
							</td>
							<tr>
								<td>&nbsp;</td>
								<td><input type="file" name="CSV_FILE" size="30" onKeypress="return noSpecialChar(event);"></td>
							</tr>
						<tr>
							<td colspan="2">
									<div id="notesPage">
										<div class="subtopic"><?php echo $this->language->_('Format'); ?>:&nbsp;
									<span style="font-size:11px;font-style:normal;"><a href="#dltpl" onClick="Javascript:proceed('dl-template', '', '');">download template</a></span></div>
										<div class="notesPageContent">
										<?php echo $this->language->_('ACCOUNT_DESTINATION,CCY,BENEFICIARY_NAME,EMAIL_ADDRESS'); ?><br />
										<?php echo $this->language->_('000000000,IDR,PT. Samudera,abc@samudera.com'); ?>
										</div>
									</div>
							</td>
						</tr>
						  <tr>
							<td class="button-area" id="button-area" colspan="2">
								<div class="formbutton">
									<input type="button" value="Back" onClick="location.href='<?=$this->url(array('module'=>'predefinedbeneficiary','controller'=>$this->controllername,'action'=>'index'),null,true)?>'" class="inputbtn">
									<input type="submit" class="inputbtn" name="submit" value="Import"/>
								</div>
							</td>
						  </tr>
					</table>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
