<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?php echo $this->language->_('Virtual Account'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span><?php echo $this->language->_('BIN List'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span><?php echo $this->language->_('Detail'); ?></span>
        </li>
      </ul>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <div style="float:left">
        <h5><?= $this->language->_('BIN Detail') ?></h5>
        <h7><?= $this->language->_("Company's BIN Parameter Detail") ?></h7>
      </div>
      <br>
      <div style="float:right; padding-left:5px;">
        <button onclick="location.href='#'" class="btnwhite hov"><i class="fa fa-sync"></i> sync</button>
      </div>
      <br>
    </div>
    <br>
  </div>
</div>
<br>
<div class="row content-box" style="background-color: #f2f2f2">
  <span class="greyFont" style="font-size: 1rem">BIN</span>&nbsp;&nbsp;
  <span style="font-size: 1rem">
    <b>12345</b>
  </span>&nbsp;&nbsp;&nbsp;
  <span class="greyFont" style="font-size: 1rem">BIN Name</span>&nbsp;&nbsp;
  <span style="font-size: 1rem">
    <b>Project A</b>
  </span>
</div>
<div class="row content-box">
  <table cellpadding="3" cellspacing="0" border="0" class="tableform">

    <tr>
      <td width="200" class="tbl-evencontent"><?php echo $this->formLabel('bin_type', $this->language->_('BIN Type')); ?></td>
      <td width="3" class="tbl-evencontent">:</td>
      <td class="tbl-evencontent" colspan="3" width="300"><?php echo $this->formLabel('bin_type', $this->bin_type); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct', $this->language->_('Account')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('acct', $this->acct); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('account_name', $this->language->_('Account Name')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('account_name', $this->account_name); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('alias_name', $this->language->_('Account Alias Name')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('alias_name', $this->alias_name); ?></td>
    </tr>


    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('company', $this->language->_('Company')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('company', $this->company); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('company_cif', $this->language->_('Company CIF')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('company_cif', $this->company_cif); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('bin_status', $this->language->_('BIN Status')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('bin_status', $this->bin_status); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('bin_updated', $this->language->_('Last Updated')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('bin_updated', Application_Helper_General::convertDate($this->bin_updated, $this->displayDateTimeFormat, $this->defaultDateFormat)); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_sync', $this->language->_('Last Sync')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_sync', Application_Helper_General::convertDate($this->cust_sync, $this->displayDateTimeFormat, $this->defaultDateFormat)); ?></td>
    </tr>
  </table>
</div>
<h5><?= $this->language->_('VA Parameter Setting') ?></h5>
<br>
<div class="row content-box">

  <table cellpadding="3" cellspacing="0" border="0" class="tableform">
    <tr>
      <td width="200" class="tbl-evencontent"><?php echo $this->formLabel('h2h', $this->language->_('H2H')); ?></td>
      <td width="3" class="tbl-evencontent">:</td>
      <td class="tbl-evencontent" colspan="3" width="300"><?php echo $this->formLabel('h2h', $this->h2h); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('url_inquiry', $this->language->_('Url Inquiry')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('url_inquiry', $this->url_inquiry); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('url_payment', $this->language->_('Url Payment')); ?></td>
      <td class="tbl-evencontent">:</td>
      <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('url_payment', $this->url_payment); ?></td>
    </tr>

  </table>
</div>
<div class="text-center">
  <?php
  $backURL = $this->url(array('module' => $this->modulename, 'controller' => 'binlist', 'action' => 'index'), null, true);
  echo $this->formButton('back', $this->language->_('Back'), array('onclick' => 'location.href=\'' . $backURL . '\'', 'class' => 'btngreen hov'));
  echo $this->formButton('submit', $this->language->_('Submit'), array('onclick' => 'location.href=\'' . $backURL . '\'', 'class' => 'btngreen hov'));
  ?>
</div>