 <?php $productcode = $this->language->_('Product Code') ?>
 <?php $plancode = $this->language->_('Plan Code') ?>
 <?php $productname = $this->language->_('Product Name') ?>
 <?php $accounttype = $this->language->_('Account Type') ?>
 <?php $setfilter = $this->language->_('Set Filter') ?>
 <?php $clearfilter = $this->language->_('Clear Filter') ?>
 <?php $print_lg = $this->language->_('PRINT') ?>
 <?php $addbank_lg = $this->language->_('Add Product') ?>


 <script type="text/javascript">
     $(document).ready(function() {
         $('div#sidebar-collapse').click(function() {
             if ($("#logo-title").is(":visible")) {
                 $("#logo-title").hide();
                 $("#logo-titles").hide();
             } else if ($("#logo-title").is(":hidden")) {
                 $("#logo-title").show();
                 $("#logo-titles").show();
             }
         })

         $('#suggestStart').datepicker({
             format: 'dd/mm/yyyy',
             uiLibrary: 'bootstrap4'
         });
         $('#suggestEnd').datepicker({
             format: 'dd/mm/yyyy',
             uiLibrary: 'bootstrap4'
         });
         $('#approvedStart').datepicker({
             format: 'dd/mm/yyyy',
             uiLibrary: 'bootstrap4'
         });
         $('#approvedEnd').datepicker({
             format: 'dd/mm/yyyy',
             uiLibrary: 'bootstrap4'
         });

         $('#fixTable').fixTableHeader();

         $("#searchtable").keyup(function() {
             var value = this.value.toLowerCase().trim();

             $("#myTable tr").each(function(index) {
                 if (!index) return;
                 $(this).find("td").each(function() {
                     var id = $(this).text().toLowerCase().trim();
                     var not_found = (id.indexOf(value) == -1);
                     $(this).closest('tr').toggle(!not_found);
                     return not_found;
                 });
             });
         });

     });
 </script>

 <div class="row">
     <div class="col-md-12">
         <div class="page-bar">
             <ul class="page-breadcrumb">
                 <li>
                     <span><?php echo $this->language->_('Beranda'); ?></span>
                     <i class="fa fa-angle-right pl-1 pr-1"></i>
                 </li>
                 <li>
                     <span><?php echo $this->language->_('Umum'); ?></span>
                     <i class="fa fa-angle-right pl-1 pr-1"></i>
                 </li>
                 <li>
                     <span class="valas"><?php echo $this->language->_('Manajemen Produk'); ?></span>
                 </li>
             </ul>
         </div>
     </div>
 </div>
 <div class="row content-box">
     <div class="portlet-body form col-md-12">
         <h5><?= $this->language->_('Manajemen Produk') ?></h5>
         <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">



             <?php
                $optArr = '<option value="" >-- ' . $this->language->_('Silahkan Pilih') . ' --</option>';
                foreach ($this->filterlist as $keyval => $row) {
                    $optArr .=  '<option value="' . $row . '" >' . $this->language->_($keyval) . '</option>';
                }

                ?>
             <div class="row " id="logo-titles" style="margin-left: 0px">
                 <?php
                    if (!empty($this->wherecol)) {
                    ?>
                     <script type="text/javascript">
                         $(document).ready(function() {
                             var ctrfilter = <?= count($this->wherecol); ?>;
                             $("#logo-title").show();
                             $("#where-").hide();
                             $("#wherectr").val(ctrfilter)
                         });
                     </script>
                 <?php
                    }

                    if (!empty($this->wherecol)) {
                    ?>
                     <script type="text/javascript">
                         $(document).ready(function() {
                             $("#logo-title").show();
                         });
                     </script>
                 <?php
                    }
                    // print_r($this->wherecol);die;
                    foreach ($this->wherecol as $key => $value) {
                    ?>
                     <div id="searchs" style="width: 100%">
                         <?php
                            $datetype = array("LAST_SUGGESTED", "LAST_APPROVED");
                            $selectlist = array("PRODUCT_PLAN", "PRODUCT_NAME", "LAST_SUGGESTEDBY", "LAST_APPROVEDBY");
                            $index = 0;



                            ?>
                         <div id="where-<?= $key ?>">
                             <div class="form-group row mt-12">
                                 <div class="col-md-4 form-inline">
                                     <select class='form-control event_select' id='wherecol-<?= $key ?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                         <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                         <?php

                                            foreach ($this->filterlist as $keyval => $row) {
                                                $colname = $row;
                                                if ($value == $colname) {
                                                    $selected = "selected";
                                                } else {
                                                    $selected = "";
                                                }
                                            ?>
                                             <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($keyval) ?></option>
                                         <?php } ?>
                                     </select>
                                 </div>

                                 <div class="col-md-6 form-inline" id='colvalue-s<?= $key ?>'>
                                     <script type="text/javascript">
                                         $(document).ready(function() {
                                             var colval = "#colvalue-s<?= $key ?>";
                                             var colomnname = "<?= $value ?>";
                                             // var colselect= "<?= $value ?>";
                                             var colselect = "colselect-s<?= $key ?>";
                                             var ncolselect = "#colselect-s<?= $key ?>";

                                             if (colomnname == 'PRODUCT_CODE') {
                                                 // alert(<?= $index ?>);
                                                 $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                                                 var id = $("#tablename").find(":selected").val();
                                                 $.ajax({
                                                     url: "<?= $this->url(array('module' => 'manageproductaccount', 'controller' => 'index', 'action' => 'accttype'), null, true) ?>",
                                                     type: 'GET',
                                                     dataType: "html",
                                                     data: {
                                                         id: '<?= $this->whereval[$key] ?>'
                                                     },
                                                     success: function(data) {
                                                         $(ncolselect).html(data);
                                                     },
                                                     error: function(xhr, ajaxOptions, thrownError) {
                                                         alert("Failed to get where column list, please try again");
                                                     }
                                                 });

                                                 $(colselect).val('<?= $this->whereval[$index] ?>');

                                             }

                                         });
                                     </script>
                                     <?php
                                        if ($value == 'LAST_SUGGESTED') {
                                            // var_dump($this->whereval);die;
                                        ?>
                                         <input type='text' class='form-control' name='suggestdate[]' id='suggestStart' readonly value="<?= $this->suggestStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='suggestdate[]' id='suggestEnd' value="<?= $this->suggestEnd ?>" readonly required>
                                     <?php
                                        } else if ($value == 'LAST_APPROVED') {
                                        ?>
                                         <input type='text' class='form-control' name='approveddate[]' id='approvedStart' readonly value="<?= $this->approvedStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='approveddate[]' id='approvedEnd' value="<?= $this->approvedEnd ?>" readonly required>
                                     <?php

                                        } else if (in_array($value, $selectlist)) {
                                        ?>
                                         <input class='form-control' type='text' name='whereval[]' value='<?= $this->whereval[$key] ?>' />
                                     <?php }
                                        if (!in_array($value, $datetype)) {
                                            // print_r($value);die;
                                            $index++;
                                        }
                                        ?>
                                 </div>
                                 <div class="col-md-2 form-inline">
                                     <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                 </div>
                             </div>
                         </div>

                     </div>

                 <?php
                    }
                    ?>

             </div>


             <div class="row " id="logo-title" style="display: none">
                 <div class="portlet-body form col-md-12">
                     <div id="wheres" style="width: 100%">

                         <?php //}}
                            ?>
                     </div>
                     <!-- <input type="hidden" id="wherectr" value="<?= $this->wherectr ?>"/> -->
                     <input type="hidden" id="wherectr" value="0" />
                     <br />
                     <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                     &nbsp;
                     <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
                     &nbsp;
                     <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">


                     <br />


                     <div class="portlet-body form" style="display: none">

                         <div class="form-group row ">
                             <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
                             <div class="col-md-4">
                                 <?php echo $this->formSelect('paymentType', $this->paymentType, array('id' => 'paymentType', 'class' => 'form-control', 'onclick' => 'changeTransferType()'), $this->optPayType); ?>
                             </div>
                             <label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
                             <div class="col-md-3">
                                 <select name="transferType" id="transferType" class="form-control">
                                     <option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
                                 </select>
                             </div>
                         </div>

                         <div class="form-group row ">

                             <div class="col-md-12">
                                 <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btn btn-success')); ?>&nbsp;
                                 <input type="button" name="clearfilter" class="btn btn-success" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">
                             </div>
                         </div>


                     </div>
                 </div>
                 <div class="col-md-4">
                 </div>

             </div>
             <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
                 <a href="#" class="sidebar-collapse-icon with-animation">
                     <?php echo $this->language->_('Pencarian Lanjutan'); ?>
                 </a>
             </div>

         </form>
     </div>
 </div>
 <!-- code lama sebelum 18 januari 2019-->
 <!-- <div class="row">
	<div class="col-md-12">
		<h5><?= $this->language->_('Product Account Type') ?></h5>
		<form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0" class="tableform" width="320px">
    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Filter') ?></strong></th></tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('product_code', $productcode); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('product_code', $this->product_code) ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('plan_code', $plancode); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('plan_code', $this->plan_code) ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('product_name', $productname); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('product_name', $this->product_name) ?></td>
    </tr>
     <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('account_type', $accounttype); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formSelect('account_type', $this->account_type, null, $this->account_typeArr); ?></td>
    </tr>
    <tr><td colspan="3" align="left">
	  <?php echo $this->formSubmit('filter', $setfilter, array('class' => 'btngreen hov')); ?>
	  <?php echo $this->formSubmit('filter_clear', $filterclear, array('class' => 'btnwhite hov')); ?>
    </td></tr>
  </table> -->
 <div class="form-group">
     <div style="float:left">
         <form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">
             <?php
                if ($this->hasPrivilege('PAIM')) {
                    /*
                    $buttonImport = $this->url(array('module'=>$this->modulename,'controller'=>'import','action'=>'index'),null,true);        
                    $buttonImport = ' <input type="button" class="btn-sm btngrad hov" value="'.$this->language->_('Import from File').'" onclick="location.href=\''.$buttonImport.'\'">';  
                        echo $buttonImport;
					*/
                    $buttonAdd = $this->url(array('module' => $this->modulename, 'controller' => 'new', 'action' => 'index'), null, true);
                    echo $buttonAdd = ' <button type="button" class="btn-sm btngrad hov" onclick="location.href=\'' . $buttonAdd . '\'"><i class="fa fa-plus"></i>&nbsp;' . $this->language->_('Add') . '</button>';
                } else {
                    //					echo'<input type="button" value="'.$this->language->_('Import from File').'" disabled>';
                    echo '<input type="button" value="' . $this->language->_('Add') . '" disabled>';
                }
                ?>
         </form>
     </div>
     <div style="float:right; padding-left:5px;">
         <div class="input-group input-group-sm">
             <div class="input-group-prepend">
                 <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
             </div>
             <input type="text" class="search form-control" id="searchtable" placeholder="Search">
         </div>
     </div>
     <div style="float:right; padding-left:10px;">
         <!---------------------------CSV & PDF ------------------------------------------------------------------>
         <form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">
             <!-- <?php
                    // echo $this->formSubmit('pdf','PDF',array('class'=>'btngreen hov'));
                    echo '<input type="submit" value="&#xf1c1; PDF" name="pdf" id="pdf" class="fa">';
                    ?> -->


             <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa">' ?>
             <!--				<input class="inputbtn"  value="<?php echo $this->language->_('Print'); ?>" onclick="window.print();" type="button">-->
             <?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) {
                    // echo $this->formSubmit('pr',$this->language->_('print'),array('class'=>'btnwhite disabled','disabled'=>'disabled'));
                    echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;' . $this->language->_("Print") . '</button>';
                } else {
                ?>
                 <!-- <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)) . $this->qstring ?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print") ?></button>&nbsp;-->
             <?php
                }
                ?>
         </form>
         <!---------------------------END CSV & PDF ---------------------------------------------------------->
     </div>
 </div>


 <!-- code lama sebelum 18 januari 2019-->
 <!-- <table align="left" cellpadding="5">
	<tr style="height:30px">
		<td colspan="12" align="CENTER">
			<form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">
				<?php
                /*if($this->hasPrivilege('AALS'))
					{
						$buttonNew = $this->url(array('module'=>$this->modulename,'controller'=>'new','action'=>'index'),null,true);
						$buttonNew = ' <input type="button" class="inputbtn" value="'.$addbank_lg.'" onclick="location.href=\''.$buttonNew.'\'">';
						echo $buttonNew;
					}
					else{
						echo'<input type="button" value="'.$this->language->_('Add Product').'" disabled>';
					}*/
                ?>

				<?php
                if ($this->hasPrivilege('PAIM')) {
                    //						$buttonImport = $this->url(array('module'=>$this->modulename,'controller'=>'import','action'=>'index'),null,true);
                    //						$buttonImport = ' <input type="button" class="inputbtn" value="'.$this->language->_('Import from File').'" onclick="location.href=\''.$buttonImport.'\'">';
                    //						echo $buttonImport;
                    $buttonAdd = $this->url(array('module' => $this->modulename, 'controller' => 'new', 'action' => 'index'), null, true);
                    echo $buttonAdd = ' <input type="button" class="btngreen hov" value="' . $this->language->_('Add') . '" onclick="location.href=\'' . $buttonAdd . '\'">';
                } else {
                    //						echo'<input type="button" value="'.$this->language->_('Import from File').'" disabled>';
                    echo '<input type="button" value="' . $this->language->_('Add') . '" disabled>';
                }
                ?>
			</form>
		</td>
	</tr>
</table> -->



 <!-- </form> -->
 <tr>
     <td>&nbsp;</td>
 </tr>
 <tr>
     <td>
         <?php if ($this->success) { ?>
             <div class="successmsg"><?= $this->report_msg ?></div><br />
         <?php } else if ($this->error) { ?>
             <div class="errmsg"><?= $this->report_msg ?></div><br />
         <?php } ?>
     </td>
 </tr>
 <tr>
     <td>&nbsp;</td>
 </tr>
 <tr>
     <td class="contentarea" id="contentarea">
         <br />
         <br />
         <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
             <table class="table table-sm table-striped" id="myTable">
                 <thead>
                     <tr>
                         <th width="3%" valign="top" class="tablehead">No</th>
                         <?php echo $this->partial(
                                'tableheader.phtml',
                                array(
                                    'fields' => $this->fields,
                                    'sortBy' => $this->sortBy,
                                    'sortDir' => $this->sortDir,
                                    'query_string_params' => $this->query_string_params
                                )
                            ) ?>

                     </tr>
                 </thead>
                 <tbody>
                     <?php

                        $counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;
                        if (count($this->paginator) > 0) {
                            $i = 0;

                            foreach ($this->paginator as $row) {
                                $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

                                if ($this->hasPrivilege('PAIM')) {

                                    if (is_array($this->getTempProductId[$row['PRODUCT_ID']])) {

                                        $edit = '<button class="btnround disabled"><i class="fa fa-edit" style="color:#ffffff" title="Menunggu Persetujuan"></i></button>';

                                        $delete = $this->url(array('module' => $this->modulename, 'controller' => 'delete', 'action' => 'index', 'product_id' => $row['PRODUCT_ID']), null, true);

                                        $delete = '<button  class="btnround disabled"><i class="fa fa-trash" style="color:#ffffff" title="Menunggu Persetujuan"></i></button>';
                                    } else {

                                        $edit = '<button class="btnround"><a href="' . $this->url(array('module' => $this->modulename, 'controller' => 'edit', 'action' => 'index', 'product_id' => $row['PRODUCT_ID']), null, true) . '"><i class="fa fa-edit" style="color:#ffffff"></i></a></button>';

                                        $delete = $this->url(array('module' => $this->modulename, 'controller' => 'delete', 'action' => 'index', 'product_id' => $row['PRODUCT_ID']), null, true);

                                        $delete = '<button  class="btnround"><a href="javascript:confirmation(\'Are you sure want to delete this product account type?\',\'' . $delete . '\');"><i class="fa fa-trash" style="color:#ffffff"></i></a></button>';
                                    }
                                } else {
                                    $edit = 'Edit';
                                    $delete = 'Delete';
                                }

                                if (isset($row['ACCT_TYPE'])) {
                                    $accounttypeval = $this->account_typeArr[$row['ACCT_TYPE']];
                                } else {
                                    $accounttypeval = "-";
                                }

                                echo '<tr>
					<td class="' . $td_css . '">' . $counter . '</td>
					<td class="' . $td_css . '">' . $accounttypeval . ' (' . $row['PRODUCT_CODE'] . ')' . '</td>
					<td class="' . $td_css . '">' . $row['PRODUCT_PLAN'] . '</td>
					<td class="' . $td_css . '">' . $row['PRODUCT_NAME'] . '</td>
					<td class="' . $td_css . '">' . Application_Helper_General::convertDate($row['LAST_SUGGESTED'], $this->displayDateTimeFormat, $this->defaultDateFormat) . ' (' . $row['LAST_SUGGESTEDBY'] . ')</td>
					<td class="' . $td_css . '">' . Application_Helper_General::convertDate($row['LAST_APPROVED'], $this->displayDateTimeFormat, $this->defaultDateFormat) . ' (' . $row['LAST_APPROVEDBY'] . ')</td>
					<td class="' . $td_css . '" style="display: flex">' . $edit . ' &nbsp; &nbsp; ' . $delete . '</td>';

                                echo '
				  </tr>';

                                $i++;
                                $counter++;
                            }
                        } else {
                            echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> - ' . $this->language->_('No Data') . '  - </td></tr>';
                        }
                        ?>
                 </tbody>
             </table>
         </div>

         <br />

         <form name="Form" action="<?= $this->url(array('module' => $this->modulename, 'controller' => 'index', 'action' => 'index'), null, true) ?>" method="post">
             <div align="right"><?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?></div>
             <br />



             <script type="text/javascript">
                 function removeParent(elem) {
                     var parentname = elem.parentNode.parentNode.parentNode.id;
                     $("#" + parentname).remove();
                 }
                 $(document).ready(function() {

                     $("#addwhere").click(function() {
                         var ctr = $("#wherectr").val();
                         var optstr = '<?php echo $optArr; ?>';
                         var wherecol = "#wherecol-" + ctr;
                         $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" + ctr + "' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
                         ctr++;
                         $("#wherectr").val(ctr);
                     });
                 });


                 function getOpt(elem) {
                     var id = elem.id;
                     var temp = id.split('-');
                     var ctr = temp[1];

                     var selval = elem.value;
                     var tempval = selval.split('-');
                     dttype = tempval[1];

                     colomnname = tempval[0];
                     var colval = "#colvalue-" + ctr;
                     var colvals = "#colvalue-s" + ctr;
                     var colselect = "colselect-" + ctr;
                     var ncolselect = "#colselect-" + ctr;
                     var ncolselects = "#colselect-s" + ctr;
                     var $coll = $('.event_select');
                     $coll.children().prop('disabled', false);
                     $coll.each(function() {
                         var val = this.value;
                         if (val === 'original') return;
                         $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
                     });

                     $(colval).empty();
                     $(colvals).empty();

                     if (colomnname == 'LAST_SUGGESTED') {
                         $(colval).append("<input type='text' class='form-control' name='suggestdate[]' id='suggestStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='suggestdate[]' id='suggestEnd' readonly required><input type='hidden' id='" + colselect + "' name='whereval[]'>");
                         $('#suggestStart').datepicker({
                             format: 'dd/mm/yyyy',
                             uiLibrary: 'bootstrap4'
                         });
                         $('#suggestEnd').datepicker({
                             format: 'dd/mm/yyyy',
                             uiLibrary: 'bootstrap4'
                         });
                         $(colvals).append("<input type='text' class='form-control'  name='suggestdate[]' id='suggestStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='suggestdate[]' id='suggestEnd' readonly required>");
                         $('#suggestStart').datepicker({
                             format: 'dd/mm/yyyy',
                             uiLibrary: 'bootstrap4'
                         });
                         $('#suggestEnd').datepicker({
                             format: 'dd/mm/yyyy',
                             uiLibrary: 'bootstrap4'
                         });
                     } else if (colomnname == 'LAST_APPROVED') {
                         $(colval).append("<input type='text' class='form-control' name='approveddate[]' id='approveStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='approveddate[]' id='approveEnd' readonly required><input type='hidden' id='" + colselect + "' name='whereval[]'>");
                         $('#approveStart').datepicker({
                             format: 'dd/mm/yyyy',
                             uiLibrary: 'bootstrap4'
                         });
                         $('#approveEnd').datepicker({
                             format: 'dd/mm/yyyy',
                             uiLibrary: 'bootstrap4'
                         });
                         $(colvals).append("<input type='text' class='form-control'  name='approveddate[]' id='approveStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='approveddate[]' id='approveEnd' readonly required>");
                         $('#approveStart').datepicker({
                             format: 'dd/mm/yyyy',
                             uiLibrary: 'bootstrap4'
                         });
                         $('#approveEnd').datepicker({
                             format: 'dd/mm/yyyy',
                             uiLibrary: 'bootstrap4'
                         });
                     } else if (colomnname == 'PRODUCT_CODE') {

                         $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");
                         $(colvals).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                         var id = $("#tablename").find(":selected").val();
                         $.ajax({
                             url: "<?= $this->url(array('module' => 'manageproductaccount', 'controller' => 'index', 'action' => 'accttype'), null, true) ?>",
                             type: 'GET',
                             dataType: "html",
                             data: {
                                 id: id
                             },
                             success: function(data) {
                                 $(ncolselect).html(data);
                             },
                             error: function(xhr, ajaxOptions, thrownError) {
                                 alert("Failed to get where column list, please try again");
                             }
                         });
                         // paytype
                     } else {
                         $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
                         $(colvals).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
                     }


                     var optsel = "whereopt-" + ctr;
                     document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

                     if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
                         document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
                         document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
                         document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
                         document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
                     }
                     if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
                         document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
                     } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
                         document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
                         document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
                     } else if (dttype == 'date' || dttype == 'datetime') {
                         document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
                         document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
                         document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
                         document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
                         document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
                     }

                     var colomn = '#whereopt-' + ctr;
                     var data = $(colomn).val('EQUAL').change();

                 }
             </script>

             <!-- 	</div>
</div> -->