<div class="tabheader" id="tabheader"><?php echo $this->language->_('Suggestion Detail - BIN Template'); ?></div>

<?php if ($this->changes_id) {


  //data temp
  if ($this->cust_status == 1)       $status = $this->status_type['desc']['approved'];
  else if ($this->cust_status == 2)  $status = $this->status_type['desc']['suspended'];
  else if ($this->cust_status == 3)  $status = $this->status_type['desc']['delete'];

  //get status
  if ($this->changes_status == "RR") {;
    $suggestionStatus = $this->language->_('Request Repaired');
  } else {
    if ($this->read_status == 0) {
      $suggestionStatus = $this->language->_('Unread Suggestion');
    } elseif ($this->read_status == 1) {
      $suggestionStatus = $this->language->_('Read Suggestion');
    }
  }

  //get suggestion type
  $changesTypeDescArr = $this->suggestionType['desc'];
  $changesTypeCodeArr = $this->suggestionType['code'];

  $key = array_search($this->changes_type, $changesTypeCodeArr);
  $changesType = $changesTypeDescArr[$key];



?>


  <h2><?php echo $this->language->_('Change Information'); ?></h2>
  <?php
  echo $this->action(
    'message',
    'tools',
    'changemanagement',
    array('changes_id' => $this->changes_id)
  );
  ?>

  <br />

  <table cellpadding="3" cellspacing="0" border="0" class="table table-sugg">
    <tr>
      <th colspan="<?= ($this->changes_type == 'E') ? '3' : '3' ?>" class="tdform-sub"><strong><?php echo $this->language->_('Suggestion BIN Template'); ?></strong></th>
      <?php if ($this->changes_type == 'E') { ?>
        <th style="float:right">
          <button id="btnDiffOnly" type="button" class="btngreen hov"><?php echo $this->language->_('Show Difference Only'); ?></button>
        </th>
      <?php } ?>
    </tr>

    <tr>
      <td colspan="<?= ($this->changes_type == 'E') ? '4' : '3' ?>" class="tbl-evencontent"><b><?php echo $this->language->_('New BIN Template'); ?></b></td>
    </tr>

    <?php if ($this->changes_type == 'E') { ?>
      <tr>
        <td width="200" class="tbl-evencontent"><b><?php echo $this->language->_('Field Name'); ?></b></td>
        <td width="3" class="tbl-evencontent">&nbsp;</td>
        <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Current Value'); ?></b></td>
        <td width="300" class="tbl-evencontent"><b><?php echo $this->language->_('Suggested Value'); ?></b></td>
      </tr>
    <?php } ?>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('temp_name', $this->language->_('Template Name')); ?></td>
      <td class="tbl-evencontent">:</td>
      <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('temp_name', $this->m_temp_name, array('class' => 'data')); ?></td> <?php } ?>
      <td class="tbl-evencontent"><?php echo $this->formLabel('temp_name', $this->temp_name, array('class' => 'dataChange')); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('temp_desc', $this->language->_('Description')); ?></td>
      <td class="tbl-evencontent">:</td>
      <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('temp_desc', $this->m_temp_desc, array('class' => 'data')); ?></td> <?php } ?>
      <td class="tbl-evencontent"><?php echo $this->formLabel('temp_desc', $this->temp_desc, array('class' => 'dataChange')); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->language->_('BIN Type')); ?></td>
      <td class="tbl-evencontent">:</td>
      <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->m_bintype, array('class' => 'data')); ?></td> <?php } ?>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->bintype, array('class' => 'dataChange')); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->language->_('Virtual Account Type')); ?></td>
      <td class="tbl-evencontent">:</td>
      <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->m_va_type, array('class' => 'data')); ?></td> <?php } ?>
      <td class="tbl-evencontent">
        <?php echo $this->formLabel('cust_id', $this->va_type, array('class' => 'dataChange')); ?>    
      </td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->language->_('Expired Time')); ?></td>
      <td class="tbl-evencontent">:</td>
      <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->m_exp_time, array('class' => 'data')); ?></td> <?php } ?>
      <td class="tbl-evencontent">
        <?php echo $this->formLabel('cust_id', $this->exp_time, array('class' => 'dataChange')); ?>    
      </td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->language->_('Partial Payment')); ?></td>
      <td class="tbl-evencontent">:</td>
      <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->m_partial_type, array('class' => 'data')); ?></td> <?php } ?>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->partial_type, array('class' => 'dataChange')); ?></td>
    </tr>

     <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->language->_('Billing Method')); ?></td>
      <td class="tbl-evencontent">:</td>
      <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->m_bill_method, array('class' => 'data')); ?></td> <?php } ?>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->bill_method, array('class' => 'dataChange')); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->language->_('Buyer Fee')); ?></td>
      <td class="tbl-evencontent">:</td>
      <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->m_buyer_fee, array('class' => 'data')); ?></td> <?php } ?>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->buyer_fee, array('class' => 'dataChange')); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->language->_('Seller Fee')); ?></td>
      <td class="tbl-evencontent">:</td>
      <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->m_seller_fee, array('class' => 'data')); ?></td> <?php } ?>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->seller_fee, array('class' => 'dataChange')); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->language->_('VP Min Amount')); ?></td>
      <td class="tbl-evencontent">:</td>
      <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->m_vp_min, array('class' => 'data')); ?></td> <?php } ?>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->vp_min, array('class' => 'dataChange')); ?></td>
    </tr>


    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->language->_('VP Max Amount')); ?></td>
      <td class="tbl-evencontent">:</td>
      <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->m_vp_max, array('class' => 'data')); ?></td> <?php } ?>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->vp_max, array('class' => 'dataChange')); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->language->_('Allow skip error when uploading')); ?></td>
      <td class="tbl-evencontent">:</td>
      <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->m_allowskip, array('class' => 'data')); ?></td> <?php } ?>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->allowskip, array('class' => 'dataChange')); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->language->_('VA Available Credit Max Limit')); ?></td>
      <td class="tbl-evencontent">:</td>
      <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->m_va_credit_max, array('class' => 'data')); ?></td> <?php } ?>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->va_credit_max, array('class' => 'dataChange')); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->language->_('VA Daily Limit Transaction')); ?></td>
      <td class="tbl-evencontent">:</td>
      <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->m_va_daily_limit, array('class' => 'data')); ?></td> <?php } ?>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->va_daily_limit, array('class' => 'dataChange')); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->language->_('Remaining Available Credit')); ?></td>
      <td class="tbl-evencontent">:</td>
      <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->m_remainingCredit, array('class' => 'data')); ?></td> <?php } ?>
      <td class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->remainingCredit, array('class' => 'dataChange')); ?></td>
    </tr>

  </table>
  <br />


  <!-- button navigasi -->
  <?php
  echo $this->action(
    'index',
    'tools',
    'changemanagement',
    array('changes_id' => $this->changes_id)
  );
  ?>





  <div>
    <?php //echo $this->formButton('back','Back',array('onclick'=>'location.href=\''.$this->backURL.'\'','class'=>'inputbtn')); 
    ?>

  </div>
  <?php if ($this->changes_type == 'E') { ?>
    <script>
      $("table.table-sugg > tbody > tr").each(function() {
        var data = $(this).find(".data");
        var dataChange = $(this).find(".dataChange");
        if (data.text() != dataChange.text()) {
          dataChange.css('background-color', '#fffe5c');
          $(this).addClass('diffRow');
        }
      });

      $("#btnDiffOnly").click(function() {
        $("table.table-sugg > tbody > tr").each(function() {
          var className = $(this).attr('class');
          if (className != 'diffRow' && $(this).is(":visible")) {
            $(this).hide();
          } else {
            $(this).show();
          }
        });
        //Untuk stripped table after update row
        $("tr:visible").each(function(index) {
          $(this).css("background-color", !!(index & 1) ? "rgba(0,0,0,.05)" : "rgba(0,0,0,0)");
        });
      });
    </script>
  <?php }
} else { ?>
  <div id="content">- <?php echo $this->language->_('no data'); ?> -</div>
<?php } ?>