<b><?php echo $this->language->_('Sweep'); ?> &gt; <?php echo $this->language->_('Sweep Out'); ?> &gt; <?php echo $this->language->_('Verify'); ?> <br><br>
		<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'verify'),null,true)?>" method="post">
<table cellpadding="3" cellspacing="0" border="0" class="tableform">
		<tr><th colspan="6" class="tdform-sub"><strong><?php echo $this->language->_('Transfer From'); ?></strong></th></tr>
		
		<!-- Payment ref -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Payment Ref'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php echo $this->language->_('Auto Generated'); ?>
			</td>
	
		</tr>
		
		<!-- Payment Subject -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Payment Subject'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?php echo $this->paymentSubject; ?>
			</td>
		</tr>
		
		<!-- Source Account -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Source Account'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?php echo $this->sourceAccountView; ?>
			</td>
		</tr>
		
		<!-- Remain Balance Type -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Remain Balance Type'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?php echo $this->remainBalanceTypeView; ?>
			</td>
		</tr>
		
		
</table>
<br><br>
<table cellpadding="3" cellspacing="0" border="0" class="tableform">
		<tr><th colspan="6" class="tdform-sub"><strong><?php echo $this->language->_('Recurring'); ?></strong></th></tr>
		
		<!-- Every -->
		<?php 		
		if ($this->TrfPeriodicType == '5'){ $label=$this->language->_('Every'); }else{ 	$label=$this->language->_('Every Date Of'); }
		?>
		<tr>
			<td class="tbl-evencontent"><?php echo $label; ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
			<?php
				//echo $this->every;
				
				if($this->dayName && $this->TrfPeriodicType == '5'){
					//$PERIODIC_EVERY_view = (array_key_exists ($this->dayname, $this->periodicEveryArr ))? $this->periodicEveryArr[$this->dayName]: "";
					//echo $PERIODIC_EVERY_view.$this->formHidden('dayname',$this->dayname);
					//echo $dayname;
					echo $this->periodicEveryArr[$this->dayName];
					echo $this->formHidden('dayname',$this->dayName);
				}
				if($this->day && $this->TrfPeriodicType == '6'){
					echo $this->day;
					echo $this->formHidden('day',$this->day);
				}
			?>
			</td>
		</tr>
		
		<!-- End Date -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('End Date'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php echo $this->endDate;?></td>
			
		</tr>
		
		<!-- Sesion -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Session'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"><?php echo $this->session;?></td>
			
		</tr>
</table>
<br><br>
<table cellpadding="3" cellspacing="0" border="0" class="tableform">
<tbody>
		<tr><th colspan="6" class="tdform-sub"><strong><?php echo $this->language->_('Transfer To'); ?></strong></th></tr>
		
		<!-- Every -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->language->_('Beneficiary Account'); ?></td>
			<td class="tbl-evencontent"><?php echo $this->language->_('Message'); ?></td>
			<td class="tbl-evencontent"><?php echo $this->language->_('Additional Message'); ?></td>
			<td class="tbl-evencontent"><?php echo $this->language->_('Remain Balance'); ?></td>
		</tr>
<?php 
		foreach ($this->transferTo as $key => $value) {
			echo '
			<tr>
			<td class="tbl-evencontent">'.$value['BENEFICIARY_ACCOUNT'].'</td>
			<td class="tbl-evencontent">'.$value['PAYMENT_MESSAGE'].'</td>
			<td class="tbl-evencontent">'.$value['PAYMENT_ADD_MESSAGE'].'</td>
			<td class="tbl-evencontent" style="text-align:right">'.$value['REMAIN_BALANCE'].'</td>
			</tr>';

		}
?>		
</tbody>
</table>
		
<div style="margin: 10px 0 10px 0; float:left;">
	<div style="margin: 0 5px 0 0; float:left;">		
<?php echo $this->formSubmit('back','Back',array('class'=>'inputbtn')); ?>
	</div>
	<div style="margin: 0 5px 0 0; float:left;">
<?php echo $this->formSubmit('filter','Submit',array('class'=>'inputbtn')); ?>
	</div>
</div>
</form>