body{
	background:rgb(106,0,3);
	font-family: Arial, Helvetica, sans-serif !important;
	font-size:12px;
	color:white;
}
a{
	color: rgb(237,28,36);
	text-decoration:none;
}
#new{
	width:808px;
	margin:0 auto;
}
#new .wrap{
	
}
#new .header{
	background: white url('/images/logo/logo.jpg') no-repeat 5% 50%;
    height: 104px;
}
#new .content{
	background:white;
	border : 1px solid transparent;
}
#new .content2{
	background:white;
	color:black;
	padding:10px 10px;
}
#new .col{
	margin:0px auto;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:20px;
	margin-right:20px;
}
#new .col-decrease{
	bottom:10px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
}
#new .left{
	float:left;
	width:74%;
}
#new .right{
	float:right;
	width:23%;
	border: 2px solid rgb(237,28,36);
	background: rgb(237,28,36);
	padding:10px 10px;
	min-height:180px;
}
#new .footer{
	clear:both;
	height:35px;
	background: rgb(237,28,36);
}
#clock-container{
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    bottom: 0;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.8;
    position: fixed;
    text-align: right;
    width: 98%;
    z-index: 10;
    color:black;
}
/* general */
.container{
	
}
ul.errors{
	list-style-type: none;
	padding:0;
	font-size:10px;
}
.large-text{
	font-size:18px;
}
.small-text{
	font-size:11px;
}
.divider{
	clear:both;
}

.col a {
	color: rgb(237,28,36);
	text-decoration: none;
}

.col a:visited{
	color: rgb(237,28,36);
	text-decoration: none;
}

.col a:hover{
	color: rgb(237,28,36);
	text-decoration: none;
}
.col a:link{
	color: rgb(237,28,36);
	text-decoration: none;
}