<link rel="stylesheet" href="/js/jqueryui/jquery-ui.css">
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="/js/jqueryui/external/jquery/jquery.js"></script>
<script src="/js/jqueryui/jquery-ui.js"></script>

<script type="text/javascript">

$(document).ready(function () {


$('.msg').hide();
$('.error').hide();

$('#report_email').blur(function () {

  var email = $(this).val();
  var re = /[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}/igm;

   if(email!=''){
   if (re.test(email)) {
       $('.msg').hide();
       $('.success').show();
       $('#next').show();
       $('#finish').show();
   } else {
     // alert('herea');
       $('.msg').hide();
       $('.error').show();
       $('#next').hide();
       $('#finish').hide();
   }
   }

});

});

</script>


<script type="text/javascript">

//supaya library jquery yang ui gak conflict dengan libs jquery yang di layout
const jq = $.noConflict();

$(document).ready(function(){

   $('#step2').show();
    $('#step2').hide();

    $('#next').click(function(e){
      $('#step1').hide();
      $('#step2').show();
    });

    $('#previous').click(function(e){
      $('#step1').show();
      $('#step2').hide();
    });


    //---------------------periodic-------------------------
    $('.datepicker').datepicker({
      format: 'yyyy-mm-dd',
      uiLibrary: 'bootstrap4'
    });

    $( "#periodic" ).change(function() {
      var val = $(this).val();
      //if custom launch modal
      if (val == 1) {
        $('#periodicmodal').modal('show');
      }
      else{
        $('#periodicmodal').modal('hide');
        $('.viewCustomPeriodic').hide();
      }
    });

    $('#repeateverytd').hide();
    $('#weekDiv').hide();
    $('#monthDiv').hide();

    $('#selectRepeatevery').change(function() {

      var value = $(this).val();

      if (value == 'daily') {
        $('#dayDiv').show();
        $('#weekDiv').hide();
        $('#monthDiv').hide();

        $('#repeateverytd').hide();
        $('#repeateveryselect').attr('width', '50%');
      }
      else if (value == 'weekly') {
        $('#dayDiv').hide();
        $('#weekDiv').show();
        $('#monthDiv').hide();

        $('#repeateverytd').show();
        $('#repeateveryselect').attr('width', '30%');
      }
      else if(value == 'monthly'){
        $('#dayDiv').hide();
        $('#weekDiv').hide();
        $('#monthDiv').show();

        $('#repeateverytd').show();
        $('#repeateveryselect').attr('width', '30%');
      }
    });

  $('.time').timepicker({
    timeFormat: 'HH:mm:ss',
     showMeridian: false,
     showInputs: false
   });
   $('.time').timepicker().on('show.timepicker', function(e) {
    $('.meridian-column').remove();
       //$('.bootstrap-timepicker-meridian').remove();
       $('tr').eq(1).children().eq(4).remove();
       $('tr:last >td:last').remove();
     console.log(e);
     $('.l').html($('.bootstrap-timepicker-widget').html());
     console.log($('.l').html());
   });


  $('.viewCustomPeriodic').hide();

   //tombol save dalam modal
  $('#savePeriodic').click(function(){

    $('.viewCustomPeriodic').show();
  });


    //---------------------sorting-------------------------
    $('.cancelSort').hide();

    $('.addSort').click(function() {

      $('.cancelSort').show();

      var headerData = <?php echo json_encode($this->colomndata) ?>;

      var count = $(this).attr('data-count');   

      count++;  

      if (count <= 2) {

        var opt = '';

        $('input[name^="label"]').each( function() {
          var index = $(this).attr("data-index");

          var label = headerData[index]['COLOMN'];
          var colomn = headerData[index]['COLUMN_NAME'];

          opt += '<option value="'+colomn+'">'+label+'</option>';
        });

        var data = '<div class="input-group mb-1 sortDiv">'+
                    '<select name="sort'+count+'" class="form-control col-md-8 mr-1">'+
                    opt+
                    '</select>'+
                    '<button type="button" class="squarebutton" onClick="sortBtn(this)" data-sort="desc"> <img src="/images/icon/light/descending.png" height="70%" alt=""></button>'+
                    '<span class="text-danger" onClick="removeSort(this)" style="font-size: 15px; cursor: pointer;">&nbsp;x</span>'+
                    '<input type="hidden" name="sort'+count+'Direction" value="desc">'+
                  '</div>';

        $(this).before(data);

        if (count == 2) {
          $(this).hide();
        }

      }

      $(this).attr('data-count', count);

    });

    $('.cancelSort').click(function() {

      $('.addSort').attr('data-count', 0);
      $('.addSort').siblings('.sortDiv').remove();
      $('.addSort').show();
      $(this).hide();
    });


    //---------------------sortable-------------------------
    jq("#divContent").sortable(); 

    function getOrder() {

      var itemOrder = jq('#divContent').sortable("toArray", {attribute: 'data-id'});
      return itemOrder;
    }    

  //tombol save dalam modal
  $('#saveHeaderContent').click(function(){

      var headerData = <?php echo json_encode($this->colomndata) ?>;

      // var counter = 0;

      //get content index dan text dari array columndata
      var row = '';
      var opt = '';
      $.each($("input[name='chkHeader']:checked"), function(){

        var label = headerData[$(this).val()]['COLOMN'];
        var colomn = headerData[$(this).val()]['COLUMN_NAME'];
        var type = headerData[$(this).val()]['DATA_TYPE'];

        if ($(this).val() == 'fx') {
          var className = 'text-primary';
        }
        else{
          
          var className = '';
        }

        //cara lama
        row += '<div class="pr-0 content ui-state-default" style="width: 180px;">'+
          '<table class="table adapterTable">'+
            '<tr>'+
              '<th style="border-top: none;">'+
                '<div class="input-group">'+
                  '<input class="form-control mb-0" type="text" name="label[]" value="'+label+'" data-index="'+$(this).val()+'" required />'+
                  '<input type="hidden" name="colomn[]" value="'+colomn+'" />'+
                  '<input type="hidden" name="type[]" value="'+type+'" />'+
                '</div>'+
              '</th>'+
            '</tr>'+
            '<tr><td class="pl-4 '+className+'">'+label+'</td></tr>'+
          '</table>'+
        '</div>';

        opt += '<option value="'+colomn+'">'+label+'</option>';
          
      });

      $("#divContent").empty();

      $("#divContent").html(row);
  });

});


//-----------------continue sorting-----------------------

function sortBtn(e){

  var value = $(e).attr('data-sort');      

  if (value == 'asc') {
    $(e).html('<img src="/images/icon/light/descending.png" height="70%" alt="">');
    value = 'desc';
  }
  else{
    $(e).html('<img src="/images/icon/light/ascending.png" height="70%" alt="">');
    value = 'asc';
  }

  $(e).attr('data-sort', value); 

  $(e).siblings('input').val(value);
}

function removeSort(selected){

    $(selected).closest('div').remove();

    var count = $('.addSort').attr('data-count');

    count--;

    $('.addSort').attr('data-count', count);


    if ($('.addSort').attr('data-count') >= 1) {
      $('.addSort').show();
    }
    else{
      $('.cancelSort').hide();
    }
}

</script>

<div class="row">
   <div class="col-md-12">
     <div class="page-bar">
         <ul class="page-breadcrumb">
             <li>
                 <span>Home</span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('Report')?></span>
             </li>

         </ul>
     </div>
   </div>
</div>

<h5><?=$this->language->_('Report')?></h5>
<h6 style="color:grey;"><?=$this->language->_('Report Generator')?></h6>
<br/>

    <form  action="" method="POST" id="myform" name="testForm" class="form-report">

        <div id="step1">
          <?php echo $this->formText('report_name',$this->report_name,array('onkeyup' => 'change()' , 'class'=>'inputBorderless col-4', 'placeholder' => 'Report File Name')); ?>
          <div class="invalid-feedback"><?=$this->error_report_name?></div>

          <br>
          <br>

          <div class="row">
            <div class="col-md-6">
              <table width="100%">
                  <tr>
                    <td>
                      <?php echo $this->formLabel('reportname',$this->language->_('Report File Format'),array('class'=>'col-form-label')); ?>
                    </td>
                     <td>
                      <select name="save_as" id="save_as" class="form-control">
                           <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                           <option value="1">PDF</option>
                           <option value="2">CSV</option>
                      </select>
                      <div class="invalid-feedback"><?=$this->error_report_name?></div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                     <?php echo $this->formLabel('reportname',$this->language->_('Limit Data (row)'),array('class'=>'col-form-label')); ?>
                    </td>
                    <td>
                      <?php echo $this->formText('datalimit',$this->datalimit,array('class'=>'form-control')); ?>
                    </td>
                  </tr>
              </table>
            </div>
            <div class="col-md-6">
              <table width="100%">
                  <tr>
                    <td>
                      <?php echo $this->formLabel('reportname',$this->language->_('Periodic'),array('class'=>'col-form-label')); ?>
                    </td>
                     <td>
                      <select name="periodic" id="periodic" class="form-control">
                           <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                           <option value="0"><?=$this->language->_('Does not repeat')?></option>
                           <option value="1"><?=$this->language->_('Custom')?></option>
                      </select>
                      <div class="invalid-feedback"><?=$this->error_periodic?></div>
                    </td>
                    <td class="viewCustomPeriodic" width="20%">
                      <button type="button" class="btngrad hov"><a href="#" data-toggle="modal" data-target="#periodicmodal" style="text-decoration: none; color: black;"><?=$this->language->_('View')?></a></button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <?php echo $this->formLabel('reportemail',$this->language->_('Email'),array('class'=>'col-form-label pb-4')); ?>
                    </td>
                    <td colspan="2">
                      <?php echo $this->formText('report_email',$this->report_email,array('class'=>'form-control','id'=>'report_email')); ?>
                      <small class="homeCardText">
                         Separate multiple emails with comma (,)
                      </small>
                      <span class="msg error">Not a valid email address</span>
                      <div class="invalid-feedback"><?=$this->error_report_name?></div>
                    </td>
                  </tr>
              </table>
            </div>
          </div>


          <br>
          <br>
          <br>

          <div class="row">
            <div class="col-md-8">
               <button type="button" class="btngrad hov mt-4"> <a href="#" class="homeCardText" data-toggle="modal" data-target="#headermodal" style="text-decoration: none;"><?=$this->language->_('Report Column')?> &nbsp; <span><i class="fa fa-chevron-down"></i></span></a></button>
            </div>
            <div class="col-md-4">
              <h6 class="homeCardText"><b><?=$this->language->_('Sort')?></b></h6>
              <div> 
                <button type="button" class="btngrad hov addSort" data-count="0"><?=$this->language->_('Add')?>&nbsp;<span><i class="fa fa-plus fa-1x"></i></span></button>
                <button type="button" class="btngrad hov cancelSort"><?=$this->language->_('Cancel')?></button>
              </div>
            </div>
          </div>

          <br>
          <br>

          <h6><b><?=$this->language->_('Live Preview')?></b></h6>
          <hr>

          <input type="hidden" name="headerCounter" id="header_counter" value="0"> <!-- initial value 0 -->
          <input type="hidden" name="headerOrder" id="headerOrder"> <!-- untuk simpan order sortable -->

          <div class="row pl-4">
              <div id="divContent" class="row p-3 flex-row flex-nowrap col-md-12 bg-white" style="overflow-x: auto;">

              </div>
          </div>

          <br>
          <br>
          <br>

          <div class="container">
            <div class="row">
               <div class="col-md-12" align="center" width="100%">
                  <button type="button" class="btnwhite hov" id="cancel" name="cancel" onclick="location.href='/reportcrm2/report'">Cancel</button>

                  <input type='button' class='btn btn-next btn-fill btngreen hov btn-wd' id="next" name='next' value='Next' />
               </div>
            </div>
          </div>
        </div>

        <!-- step2 -->
        <div id="step2">
          
          <div class="row">
              <div id="wheres" style="width: 100%">
               <?php if(!empty($this->wherecol)){
                   foreach($this->wherecol as $key => $val){
                       $ctr = $key;
                       $ctr++;
                       $dttype = "";
               ?>
                       <div id="where-<?=$ctr?>">
                           <div class="form-group row mt-2">
                               <div class="col">
                                   <select class='form-control' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                       <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                       <?php  foreach($this->colomndata as $row){
                                           $colname = $row['COLUMN_NAME']."-".$row['DATA_TYPE'];
                                           if($val==$colname){
                                               $selected = "selected";
                                               $dttype = $row['DATA_TYPE'];
                                           }
                                           else{
                                               $selected = "";
                                           }
                                           if($row['DATA_TYPE'] == 'datetime'){

                                           }else{


                                       ?>

                                           <option value="<?=$colname?>" <?=$selected?>><?=$row['COLUMN_NAME']?></option>
                                       <?php }}?>
                                   </select>
                               </div>
                               <div class="col">
                                   <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>

                                       <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                           <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                           <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                           <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                           <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                       <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                           <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                           <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                       <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                           <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                           <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                           <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                           <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                           <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                       <?php }?>
                                   </select>
                               </div>
                               <div class="col" id='colvalue-<?=$ctr?>'>
                                   <input class='form-control' type='text' name='whereval[]' value='<?=$this->whereval[$key]?>'/>
                               </div>
                               <div class="col">
                                   <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                               </div>
                           </div>
                       </div>
               <?php }}?>
           </div>
           <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/>
           <br/>
           <button type="button" class="btngrad hov mt-1" id="addwhere" style="    margin-left: 15px;">Add Filter</button>
           <br/>
           </div>

           <br>
           <br>

          <div class="container">
            <div class="row">
               <div class="col-md-12" align="center" width="100%">
                  <input type='button' class='btnwhite hov btn-wd' id='previous' name='previous' value='Previous' />

                  <input type='submit' id="submitbtn" id="finish" class='btn btn-finish btn-fill  btngreen hov btn-wd' name='finish' value='Finish' />
               </div>
            </div>
          </div>
        </div>

<!-- ----------------------------------------------------modal----------------------------------------------------------- -->

<div class="modal fade" id="headermodal" tabindex="-1" role="dialog" aria-labelledby="headermodal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center textBlack">
            <h4 class="modal-title w-100 font-weight-bold" style="margin-left: 25px;"><?=$this->language->_('Choose Subject')?></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3 textBlack">
            <div class="row">
              <div class="col-md-6">

                <input type="checkbox" name="chkHeader" value="fx">&nbsp;<?php echo $this->colomndata['fx']['COLOMN']; ?>
                <br>

                <?php $i=1; foreach ($this->colomndata as $key => $value) { ?> 
                    
                  <?php if($i <= $this->halfCountColomndata) { ?>

                      <input type="checkbox" name="chkHeader" value="<?php echo $key; ?>">&nbsp;<?php echo $value['COLOMN']; ?>
                      <br>
                    
                  <?php } ?>

                  <?php $i++; } ?>
              </div>
              <div class="col-md-6">
                  
                 <?php $i=1; foreach ($this->colomndata as $key => $value) { ?> 
                    
                    <?php if($i >= $this->halfCountColomndata + 1 && $i <= $this->countColomndata && $key !== 'fx') { ?>

                        <input type="checkbox" name="chkHeader" value="<?php echo $key; ?>">&nbsp;<?php echo $value['COLOMN']; ?>
                        <br>

                    <?php } ?>

                  <?php $i++; } ?>

              </div>
            </div>
          </div>

          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
            <button type="button" class="btngreen hov" data-dismiss="modal" id="saveHeaderContent">Save</button>
          </div>
        </div>
      </div>
    </div>

  <div class="modal fade" id="periodicmodal" tabindex="-1" role="dialog" aria-labelledby="periodicmodal"
      aria-hidden="true">
      <div class="modal-dialog" role="document" style="width: 350px;">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold" style="margin-left: 25px;"><?=$this->language->_('Custom Periodic')?></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div class="container">
               <table width="100%">
                 <tr>
                   <td width="25%"><?=$this->language->_('Repeat every')?></td>
                   <td width="20%" id="repeateverytd">
                      <input type="text" name="repeat_every" id="repeatevery" value="" class="form-control">
                   </td>
                   <td width="50%" id="repeateveryselect">
                     <select name="report_schedule" id="selectRepeatevery" class="form-control">
                       <option value="daily"><?=$this->language->_('Daily')?></option>
                       <option value="weekly"><?=$this->language->_('Week')?></option>
                       <option value="monthly"><?=$this->language->_('Month')?></option>
                      </select>
                   </td>
                 </tr>
               </table>

               <br>

               <div id="dayDiv">
                   <table width="100%">
                     <tr>
                       <td width="25%"><?=$this->language->_('Time')?></td>
                       <td width="50%">
                         <input id="timepicker2" type="text" name="report_time" class="form-control input-small time pl-3" readonly>
                       </td>
                     </tr>
                   </table>
                   <br>
               </div>

               <div id="weekDiv">
                 <p class="mb-1"><?=$this->language->_('Repeat on')?></p>
                 <div class="input-group">
                    <div class="roundChk">
                      <input type="checkbox" id="checkbox6" value="sunday" name="report_day[]" />
                      <label for="checkbox6">S</label>
                    </div>
                    <div class="roundChk">
                      <input type="checkbox" id="checkbox" value="monday" name="report_day[]" />
                      <label for="checkbox">M</label>
                    </div>
                    <div class="roundChk">
                      <input type="checkbox" id="checkbox1" value="tuesday" name="report_day[]" />
                      <label for="checkbox1">T</label>
                    </div>
                    <div class="roundChk">
                      <input type="checkbox" id="checkbox2" value="wednesday" name="report_day[]" />
                      <label for="checkbox2">W</label>
                    </div>
                    <div class="roundChk">
                      <input type="checkbox" id="checkbox3" value="thursday" name="report_day[]" />
                      <label for="checkbox3">T</label>
                    </div>
                    <div class="roundChk">
                      <input type="checkbox" id="checkbox4" value="friday" name="report_day[]" />
                      <label for="checkbox4">F</label>
                    </div>
                    <div class="roundChk">
                      <input type="checkbox" id="checkbox5" value="saturday" name="report_day[]" />
                      <label for="checkbox5">S</label>
                    </div>
                 </div>

                  <br>
                </div>

                 <div id="monthDiv">

                    <table width="100%">
                     <tr>
                       <td width="25%"><?=$this->language->_('Repeat On')?></td>
                       <td width="50%">
                         <select name="report_date" class="form-control" style="width: 100%">
                           <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                           <?php for ($i=1; $i < 29 ; $i++) {
                               echo '<option value="'.$i.'">'.$i.'</option>';
                           }
                           ?>
                           <option value="endofmonth"><?=$this->language->_('End of Month')?></option>
                        </select>
                       </td>
                     </tr>
                   </table>

                   <br>
                 </div>
              
               <table width="100%" cellpadding="5">
                 <tr>
                   <td width="25%">
                      <p class="mb-0"><?=$this->language->_('Ends')?></p>
                   </td>
                   <td width="50%">
                      <input type="text" class='datepicker' name='repeat_end' data-date-format='mm/dd/yyyy' autocomplete='off' readonly>
                   </td>
                 </tr>
               </table>

            </div>
          </div>

          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
            <button type="button" class="btngreen hov" data-dismiss="modal" id="savePeriodic">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>

<script>
$(document).ready(function(){

$('#submitbtn').click(function(e) {
   e.preventDefault();

   $("#destination1 option").prop("selected","selected");
   $("#destination2 option").prop("selected","selected");
   $("#destination3 option").prop("selected","selected");

   document.testForm.submit();
});

$("#addwhere").click(function() {
   var ctr = $("#wherectr").val();
   // alert(ctr);
   var wherecol = "#wherecol-"+ctr;
   $("#wheres").append("<div id='where-"+ctr+"'><div class='col-sm-12 form-group row mt-2'><div class='col'><select class='form-control' id='wherecol-"+ctr+"' name='wherecol[]' onchange='getOpt(this)'></select></div><div class='col'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col' id='colvalue-"+ctr+"'><input class='form-control' type='text' name='whereval[]'/></div><div class='col'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
   ctr++;
   $("#wherectr").val(ctr);

   var typ = $("input[name='report_radio']:checked").val();
   // alert(typ);

   var id = $("#tablename").find(":selected").val();
   if(typ == '1'){
     // alert(typ);
      $.ajax({
       url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wherecolumn'),null,true)?>",
       type: 'GET',
       dataType: "html",
       data: {
           id: id
       },
       success: function(data) {
           $(wherecol).html(data);
       },
       error: function(xhr, ajaxOptions, thrownError)
       {
           alert("Failed to get where column list, please try again");
       }
   });
    }else{
     // alert('here');
   $.ajax({
     // alert(typ);
       url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wherecolumnnew'),null,true)?>",
       type: 'GET',
       dataType: "html",
       data: {
           id: id
       },
       success: function(data) {
           $(wherecol).html(data);
       },
       error: function(xhr, ajaxOptions, thrownError)
       {
           alert("Failed to get where column list, please try again");
       }
   });

   }
});

});

function removeParent(elem){
var parentname = elem.parentNode.parentNode.parentNode.id;
$("#"+parentname).remove();
}

function edValueKeyPress()
{


}

function getOpt(elem){
var id = elem.id;
var temp = id.split('-');
var ctr = temp[1];

var selval = elem.value;
var tempval = selval.split('-');
dttype = tempval[1];

colomnname = tempval[0];
var colval = "#colvalue-"+ctr;
var colselect = "colselect-"+ctr;
var ncolselect = "#colselect-"+ctr;

var randnum = Math.floor(Math.random() * 1001);  

$(colval).empty();
if(colomnname == 'PS_CREATED' || colomnname == 'PS_UPDATED' || colomnname == 'PS_EFDATE' ){
   $(colval).append("<input class='datepicker' name='whereval[]' id='createdStart"+randnum+"' data-date-format='mm/dd/yyyy' autocomplete='off'>");
  
   $('#createdStart'+randnum+'').datepicker({
      format: 'yyyy-mm-dd',
      uiLibrary: 'bootstrap4'
  });
   // $('.input-daterange').datepicker({
   //       changeMonth: true,
   //       changeYear: true,
   //       showButtonPanel: true,
   //       dateFormat: "m/d/yy"
   //   });
}else if(colomnname == 'TRA_AMOUNT' || colomnname == 'PS_TOTAL_AMOUNT' || colomnname == 'EQUIVALENT_AMOUNT_IDR' || colomnname == 'EQUIVALENT_AMOUNT_USD' ){
   $(colval).append("<input type='text' name='whereval[]'  value='' maxlength='20' autocomplete='off' class='form-control' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
}else if(colomnname == 'PS_STATUS'){

       $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");

       var id = $("#tablename").find(":selected").val();
       $.ajax({
       url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wherecolumnpsstatus'),null,true)?>",
       type: 'GET',
       dataType: "html",
       data: {
           id: id
       },
       success: function(data) {
           $(ncolselect).html(data);
       },
       error: function(xhr, ajaxOptions, thrownError)
       {
           alert("Failed to get where column list, please try again");
       }
   });

}else if(colomnname == 'PS_TYPE'){

       $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");

       var id = $("#tablename").find(":selected").val();
       $.ajax({
       url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wherecolumnpstype'),null,true)?>",
       type: 'GET',
       dataType: "html",
       data: {
           id: id
       },
       success: function(data) {
           $(ncolselect).html(data);
       },
       error: function(xhr, ajaxOptions, thrownError)
       {
           alert("Failed to get where column list, please try again");
       }
   });

}else if(colomnname == 'SOURCE_ACCOUNT'){

       $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");

       var id = $("#tablename").find(":selected").val();
       $.ajax({
       url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'wheresourceaccount'),null,true)?>",
       type: 'GET',
       dataType: "html",
       data: {
           id: id
       },
       success: function(data) {
           $(ncolselect).html(data);
       },
       error: function(xhr, ajaxOptions, thrownError)
       {
           alert("Failed to get where column list, please try again");
       }
   });

}else if(colomnname == 'PS_CCY' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY'){
       $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");
       var id = $("#tablename").find(":selected").val();
       $.ajax({
       url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'ccy'),null,true)?>",
       type: 'GET',
       dataType: "html",
       data: {
           id: id
       },
       success: function(data) {
           $(ncolselect).html(data);
       },
       error: function(xhr, ajaxOptions, thrownError)
       {
           alert("Failed to get where column list, please try again");
       }
   });

}else if(colomnname == 'BENEFICIARY_ACCOUNT'){

       $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");

       var id = $("#tablename").find(":selected").val();
       $.ajax({
       url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'benef'),null,true)?>",
       type: 'GET',
       dataType: "html",
       data: {
           id: id
       },
       success: function(data) {
           $(ncolselect).html(data);
       },
       error: function(xhr, ajaxOptions, thrownError)
       {
           alert("Failed to get where column list, please try again");
       }
   });

}else if(colomnname == 'TRA_STATUS'){

       $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");

       var id = $("#tablename").find(":selected").val();
       $.ajax({
       url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'trastatus'),null,true)?>",
       type: 'GET',
       dataType: "html",
       data: {
           id: id
       },
       success: function(data) {s
           $(ncolselect).html(data);
       },
       error: function(xhr, ajaxOptions, thrownError)
       {
           alert("Failed to get where column list, please try again");
       }
   });

}else{
    $(colval).append("<input type='text' name='whereval[]'  value='' maxlength='20'  class='form-control' >");
}


var optsel = "whereopt-"+ctr;
document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
   document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
   document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
   document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
   document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
}
if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
   document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
}
else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
   document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
   document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
}
else if(dttype == 'date' || dttype == 'datetime'){
   document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
   document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
   document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
   document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
   document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
}

var colomn = '#whereopt-'+ctr;
var data = $(colomn).val('EQUAL').change();

}

</script>

<script type="text/javascript">
function change(){
           var src= document.getElementById("report_name");
           var dest= document.getElementById("listname");
           dest.value=src.value;
       }
function change1(){
var src= document.getElementById("listname");
var dest= document.getElementById("report_name");
dest.value=src.value;
}

jQuery(document).ready(function($){

$('.live-search-list li').each(function(){
$(this).attr('data-search-term', $(this).text().toLowerCase());
});

$('.live-search-box').on('keyup', function(){

var searchTerm = $(this).val().toLowerCase();

    $('.live-search-list li').each(function(){

        if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
            $(this).show();
        } else {
            $(this).hide();
        }

    });

});

});
</script>