<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<style>
@media print{
    .hidden, .hidden * {
		display: none !important;
		visibility: hidden;
	}

	button {
		display: none !important;
		visibility: hidden;
	}

	/*form {
		display: none !important;
		visibility: hidden;
	}*/

	.hiddenLogo, .hiddenLogo * {
		display: inline !important;
		visibility: show;
	}
	th { font-family: Arial, Helvetica, sans-serif; background-color:#0c67a0;  font-size:11px; font-weight: bold; padding: 5px; text-align: left;  border-right: solid 1px #ffffff; color:white; }

	input.currency{ width: 200px; font-size: 10px; }
	ul { padding-left:10px; }
	h5 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed }
	body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; }
	b { font-weight:bold; font-size:11px }
	td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; }
	a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; }
	.tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
	.tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
	.tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; }
	.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; }
	.errmsg { font-weight:bold; font-size:11px; color:#FF0000 }
	body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	-webkit-print-color-adjust:exact; /*chrome*/
	-moz-print-color-adjust:exact; /*mozila*/
	-o-print-color-adjust:exact; /*opera*/
	-ms-print-color-adjust:exact; /*ie*/
	}
}

.dot {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.iconCircle{
    margin-right: 8px;
    margin-top: 5px;
    background-color: #85878a;
  }

</style>
<div style="display:none" class="hiddenLogo" style="padding: 0px 20px 0px 0px"><img src="/images/logo/logo_pdf<?php echo $app; ?>.jpg" border="0"/></div>

<!-- <script type="text/javascript">
.container {
	clear:both;
	border: 1px dashed gray;
	background-color:#f0f0f0;
	height: auto;
	padding: 8px;
}
</script> -->

<script type="text/javascript">
  $(document).ready(function() {
    
    $('#makerLimitBtnHide').hide();
    $('#divMakerLimit').hide();

  });
  
  function makerLimitShow() {
    $('#divMakerLimit').show();
      $('#makerLimitBtnHide').attr('Onclick', 'makerLimitHide()');
      $('#makerLimitBtnShow').hide();
      $('#makerLimitBtnHide').show();

  }

  function makerLimitHide() {
      $('#divMakerLimit').hide();
      $('#makerLimitBtnShow').attr('Onclick', 'makerLimitShow()');
      $('#makerLimitBtnHide').hide();
      $('#makerLimitBtnShow').show();
  }
</script>

<script type="text/javascript">

  $('#chooseFile').bind('change', function () {
    var filename = $("#chooseFile").val();
    if (/^\s*$/.test(filename)) {
      $(".file-upload").removeClass('active');
      $("#noFile").text("No file chosen...");
    }
    else {
      $(".file-upload").addClass('active');
      $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
    }
  });

</script>

<div class="row hidden">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Suspect Management'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Suspect Changes Request'); ?>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
                  <li>
	                    <?php echo $this->language->_('Detail'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

  <h5><?php echo $this->language->_('Suspect Changes Request Detail');?></h5>
  <br />
  <h5><?php echo $this->compname.' ('.$this->compCode.')' ?></h5>
  <div class="row content-box">
      <div class="portlet-body form col-md-12">
        <h5><?php echo $this->language->_('Transaction Summary');?></h5>
        <hr></hr>
        <div class="row pt-1">
          <div class="col-md-6">
              <table width="100%">
                <tr>
                  <td style="width: 200px;"><?php echo $this->formLabel('Payment_Ref',$this->language->_('Payment Ref')); ?></td>
                  <td colspan="2"><?= $this->psnumber ?></td>
                </tr>
                <tr>
                  <td style="width: 200px;"><?php echo $this->formLabel('Payment_Subject',$this->language->_('Payment Subject')); ?></td>
                  <td colspan="2"><?= $this->pssubject ?></td>
                </tr>
                <tr>
                  <td style="width: 200px;"><?php echo $this->formLabel('Payment_Date',$this->language->_('Payment Date')); ?></td>
                  <td colspan="2"><?= $this->paymentdate ?></td>
                </tr>
                <tr>
                  <td style="width: 200px;"><?php echo $this->formLabel('Message',$this->language->_('Message')); ?></td>
                  <td colspan="2"><?= $this->message ?></td>
                </tr>
                <tr>
                  <td style="width: 200px;"><?php echo $this->formLabel('Additional_Message',$this->language->_('Additional Message')); ?></td>
                  <td colspan="2"><?= $this->addmessage ?></td>
                </tr>
                  <!-- <?php
              // View Table Master Data
              if (is_array($this->tableMst))
              {
                foreach($this->tableMst as $dataMst)
                {	?>
                  <tr>
                    <td class="tbl-evencontent" id="tbl-evencontent" nowrap="nowrap" width="20%"><?php echo $this->language->_($dataMst["label"]); ?></td>
                    <td class="tbl-evencontent" id="tbl-evencontent">:&nbsp;<?php echo $this->language->_($dataMst["value"]); ?></td>
                  </tr>
            <?php
                }
              }
              ?> -->
            </table>

          </div>
          <div class="col-md-6">
              <table width="100%">
                <tr>
                  <td style="width: 200px;"><?php echo $this->formLabel('Payment_Type',$this->language->_('Payment Type')); ?></td>
                  <td colspan="2"><?= $this->payType ?></td>
                </tr>
                <tr>
                  <td style="width: 200px;"><?php echo $this->formLabel('Trans',$this->language->_('#Trans')); ?></td>
                  <td colspan="2"><?= $this->pscount ?>
                      <?php 
                        if ($this->pscount > 50 ) {
                          echo $this->download;
                        }
                      ?>
                   </td>
                </tr>
                <tr>
                  <td style="width: 200px;"><?php echo $this->formLabel('Total_Payment',$this->language->_('Total Payment')); ?></td>
                  <td colspan="2"><b style="color: red;"><?= $this->totalamount ?></b></td>
                </tr>
                <tr>
                  <td style="width: 200px;"><?php echo $this->formLabel('Frequently',$this->language->_('Frequently')); ?></td>
                  <td colspan="2"><?= $this->frequently ?></td>
                </tr>
                <tr>
                  <td style="width: 200px;"><?php echo $this->formLabel('Payment_Status',$this->language->_('Payment Status')); ?></td>
                  <td colspan="2">
                    <?php 
                          if ($this->ps_statusrepair != NULL ) {
                            $PS_STATUS = $this->ps_statusrepair;
                          }else{
                            $PS_STATUS = $this->ps_status;
                          }
                          echo $this->paymentStatus['desc'][$this->paymentStatusFlip[$PS_STATUS]] 
                    ?>
                  </td>
                </tr>
            </table>
          </div>
        </div>
      </div>
  </div>
<br />
<!-- <div class="row content-box">
</div> -->
    <div class="portlet-body form col-md-12">
        <!-- User Involve -->
      <table width="100%">
        <tr>
          <td style="background-color: #F0F0F0;"><h5 ><?php echo $this->language->_('History'); ?></h5></td>
          <td style="background-color: #F0F0F0;" align="right">
              <i class="iconCircle fas fa-chevron-down pt-2" onclick="makerLimitShow()" id="makerLimitBtnShow"></i>
            <i class="iconCircle fas fa-chevron-up pt-2" onclick="makerLimitHide()" id="makerLimitBtnHide"></i>
          </td>
        </tr>
      </table>
      <hr>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-sm table-striped" id="divMakerLimit">
        <?php if (is_array($this->fieldsinvolved)){ ?>
            <tr id="tdform-sub"> <?php
            foreach ($this->fieldsinvolved as $header) {  ?>
              <th style="color: grey;"><?php echo $this->language->_($header); ?></th>
        <?php   } ?>
            </tr>
        <?php   } ?>

        <?
          $numFields = count($this->tableDtlUserInvolved);
          if (!empty($this->tableDtlUserInvolved))
          {
            foreach($this->tableDtlUserInvolved as $count_dtl => $dataDtlRow)
            {
              $bgcolor = ($count_dtl % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
        ?>
              <tr> <?php

              if (is_array($dataDtlRow))
              {
                foreach($dataDtlRow as $key_dtl => $dataDtl)
                {
                  //$attr = ($key_dtl == "TRA_AMOUNT" || $key_dtl == "TRANSFER_FEE")? " align='right'": "";
                  ?>
                  <td class="<?= $bgcolor; ?>" <?= $attr;?>><?php echo $this->language->_($dataDtl); ?></td>
            <?php
                }
              }
              ?>
              </tr>
              <?php
            }
          } ?>
      </table>
    </div>
    <br>
  

    <div class="portlet-body form col-md-12">
      <table width="100%">
        <tr>
            <td style="background-color: #F0F0F0;"><?php echo $this->language->_('Update Transaction Status '); ?> <?= $this->suggested ?></td>
            <td style="background-color: #F0F0F0;" align="right"><span class="dot" data-toggle="modal" data-target="#infoModal">?</span> </td>
        </tr>
      </table>
      <br>
    </div>

   <form name="detailPayment" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
      <input type="hidden" name="payReff" value= "<?php echo $this->PS_NUMBER; ?>">
      <input type="hidden" name="suggestid" value= "<?php echo $this->suggestid; ?>">
      <input type="hidden" name="extype" value= "<?php echo $this->extype; ?>">
      <input type="hidden" name="custid" value= "<?php echo $this->custid; ?>">
      <div class="portlet-body form col-md-12">

        <?php 
            if ($this->pscount <= 50 ) {
          ?>
              <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-sm table-striped">
                  <?php if (is_array($this->fields)){ ?>
                          <tr class="tdform-sub" id="tdform-sub">
                            <th class="tablehead"><?php echo $this->language->_('No'); ?></th>
                           <?php
                        foreach ($this->fields as $header) {  ?>
                            
                            <th class="tablehead"><?php echo $this->language->_($header); ?></th>
                            
                  <?php     } ?>
                            
                          </tr>
                  <?php   }
                      $numFields = count($this->fields);
                        if (!empty($this->tableDtl))
                        { 
                          $no = 1;
                          foreach($this->tableDtl as $count_dtl => $dataDtlRow)
                          {
                            $bgcolor = ($count_dtl % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
                            
                            ?>
                            <tr>    
                               <td class="<?= $bgcolor; ?>"><?=$no++?></td>
                              <?php

                            if (is_array($dataDtlRow))
                            {
                              foreach($dataDtlRow as $key_dtl => $dataDtl)
                              {
                                $attr = ($key_dtl == "TRA_AMOUNT" || $key_dtl == "TRANSFER_FEE")? " align='right' style='width: 50px' ": "";
                                $attr = ($key_dtl == "PS_CCY")? " align='center' ": "";
                                ?>
                                
                                <td class="<?= $bgcolor; ?>" <?= $attr;?>><?php echo $this->language->_($dataDtl); ?></td>

                          <?php
                              }
                            }
                            ?>
                                
                            </tr>
                            <?php
                          }
                        } ?>

                </table>
          <?php
            }elseif ($this->pscount > 50) {
              
          ?>
              <table width="100%">
                <tr>
                    <td style="width: 250px;"><?php echo $this->numbertrx?> time out transaction</td>
                    <td align="left"><?=$this->download2?></td>
                </tr>
              </table>
          <?php                    
            }
            ?>              
      </div>
      <br>
      <div class="formbutton" align="center">
        <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/suspectchangerequest/index/index/clearfilter/1\'','class'=>'btnwhite hov')); ?>
        
        <!-- <input type="reset" value="<?php echo $this->language->_('Reject');?>" name="reject" class="btnwhite hov"/>
        <input type="submit" class="btngreen hov" name="approve" value="<?php echo $this->language->_('Accept')?>"/> -->
        <?php echo $this->formSubmit('reject',$this->language->_('Reject'),array('class'=>'btnwhite hov')); ?>
        <?php echo $this->formSubmit('approve',$this->language->_('Approve'),array('class'=>'btngreen hov')); ?>
      </div>
      
    </form>

   <?php if ($this->pstype=='19' || $this->pstype=='20' || $this->pstype=='21') { ?>

        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                  <?php echo $this->language->_('Customer Open Banking transaction is suspect.');?><br>
                  <?php echo $this->language->_('What happened?');?><br>
                  <?php echo $this->language->_('Mostly, occured due to network connection lost.');?><br>
                  <br>
                  <?php echo $this->language->_('Here is what you can do:');?><br>
                  <?php echo $this->language->_('1. Check log, if message has not been sent, then transaction status can be suggested to “failed”');?><br>
                  <?php echo $this->language->_('2. If message has been sent, then guide customer to check their source account statement');?><br>
                  <?php echo $this->language->_('3. If customer’s source account has not been debited, then transaction status can be updated to "failed"');?><br>
                  <?php echo $this->language->_('4. If customer’s source account has been successfully debited and there is a refund correction, then transaction status can be updated to "failed"');?><br>
                  <?php echo $this->language->_('5. If customer’s source account is successfully debited and there is no refund, ask customer to check with their beneficiary');?><br>
                  <?php echo $this->language->_('6. Customer’s transaction status can be updated based on joint investigation results');?>
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

  <?php }else{?>

        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                  <?php echo $this->language->_('Customer transaction is suspect.');?><br>
                  <?php echo $this->language->_('What happened?');?><br>
                  <?php echo $this->language->_('Mostly, occured due to network connection lost.');?><br>
                  <br>
                  <?php echo $this->language->_('Here is what you can do:');?><br>
                  <?php echo $this->language->_('1. Check log, if message has not been sent, then transaction status can be updated to “failed”');?><br>
                  <?php echo $this->language->_('2. If message has been sent, then check customer’s source account statement');?><br>
                  <?php echo $this->language->_('3. If customer’s source account has not been debited, you can update the transaction status to "failed"');?><br>
                  <?php echo $this->language->_('4. If customer’s source account has been successfully debited and there is a refund correction, then you can update the transaction status to "failed"');?><br>
                  <?php echo $this->language->_('5. If customer’s source account is successfully debited and there is no refund, check beneficiary account statement');?><br>
                  <?php echo $this->language->_('6. Update customer’s transaction status based on your investigation results');?><br>
                  
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

  <?php } ?>