<script>
	$(document).ready(function() {
		if ('<?= $this->success ?>' || '<?= $this->error ?>') {
			$("input").attr("disabled", "disabled");
			$("textarea").attr("disabled", "disabled");
		}
	});
</script>

<style type="text/css">
	.nav-tabs .nav-link {
		border-color: #c9c9c9;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		text-align: center;
		font-size: 12px;
		width: 250px;
		text-transform: uppercase;
	}

	.nav-tabs .nav-link:hover {
		border-color: #c9c9c9 !important;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		color: white !important;
		margin-top: -10px;
		padding-bottom: 10px;
		top: -10px;
		padding-top: 18px;
		height: 47.5px;
		width: 250px;
		text-transform: uppercase;
		background-color: #005587 !important;
	}

	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active {
		color: white !important;
		border-color: #dee2e6 #dee2e6 #fff !important;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin-top: -10px;
		padding-bottom: 10px;
		top: -10px;
		padding-top: 14px;
		height: 47.5px;
		font-size: 14px;
		width: 250px;
		text-transform: uppercase;
		background-color: #005587 !important;
	}

	.mybtn .buttonact {
		background-color: #ffffff !important;
		color: #000000 !important;
	}

	.mybtn .buttonnoact {
		background-color: #D1D0CE !important;
		color: #736F6E !important;
		border-color: #B6B6B4 !important;
	}
</style>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('Beranda'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Umum'); ?>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Pengaturan Umum'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h5><?= $this->language->_('Pengaturan Umun') ?></h5>
		<!--<h6><?= $this->language->_('Manage front end, user account, notification template settings	') ?></h6>-->
	</div>
</div>
<br>
<!-- <div class="row col-md-12 d-flex justify-content-center">
		<button type="button" onclick="location.href='/generalsetting/foappsetting'" class="btngreen hov col-md-3" name="button">Front End</button>
		<button type="button" onclick="location.href='/generalsetting/fousersetting'" class="btnwhite hov col-md-3" name="button">User and Password Policies</button>
		<button type="button" onclick="location.href='/generalsetting/templatesetting'" class="btnwhite hov col-md-3" name="button">Template Setting</button>
	</div> -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" value="1" at="1" onclick="location.href='/generalsetting/foappsetting'" id="compinfo-tab" data-toggle="tab" href="#compinfo" role="tab" aria-controls="compinfo" aria-selected="true">TAMPILAN NASABAH</a>

	</li>

	<li class="nav-item">
		<a class="nav-link" value="3" at="3" onclick="location.href='/generalsetting/fousersetting'" id="paywork1-tab" data-toggle="tab" href="#paywork" role="tab" aria-controls="paywork" aria-selected="false">PENGATURAN USER DAN PASSWORD</a>
	</li>

	<li class="nav-item" style="display:none;">
		<a class="nav-link" value="2" at="2" onclick="location.href='/generalsetting/templatesetting'" id="paywork-tab" data-toggle="tab" href="#paywork" role="tab" aria-controls="paywork" aria-selected="false">Template Setting</a>

	</li>

</ul>
<!-- <br> -->
<br>
<?php if ($this->success) { ?>
	<div class="alert alert-success" role="alert"><?= $this->language->_($this->report_msg) ?></div><br />
<?php } else if (!empty($this->report_msg)) { ?>
	<div class="alert alert-danger" role="alert">

		<?= $this->language->_($this->report_msg) ?>

		<?php if ($this->errorfee) {
			echo '<br><br>' . $this->errorfee;
		} ?>

	</div>

<?php } ?>
<div class="row">
	<div class="col-sm-3">
		<div class="mybtn">
			<button onclick="location.href='/generalsetting/foappsetting'" class="buttonnoact col-md-12">Pengaturan Tampilan Nasabah</button>
			<button onclick="location.href='/generalsetting/datarecord'" class="buttonact col-md-12">Pengaturan Parameter</button>
			<button onclick="location.href='/generalsetting/transactiontime'" class="buttonnoact  col-md-12">Pengaturan SKN RTGS</button>
			<button onclick="location.href='/generalsetting/swiftsetting'" class="buttonnoact  col-md-12"><?= $this->language->_('Pengaturan SWIFT'); ?></button>
		</div>
	</div>
	<div class="col-sm-9">
		<form name="filterForm" action="<?= $this->url(array('page' => '1')) . $this->qstring ?>" method="post">

			<table cellpadding="10" cellspacing="0" width="100%">

				<br>
				<tr>
					<td><?php echo $this->language->_('Maksimal Baris Data per Halaman'); ?> <span class="text-danger font-weight-bold">*</span></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('paging_frontend', $this->paging_frontend, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);', 'onblur' => 'cannotZero(this)')) ?>
						<div class="errmsg"><?= $this->xpaging_frontend; ?></div>
					</td>
					<td>
						<?php

						?>
					</td>
				</tr>

				<tr>
					<td><?php echo $this->language->_('Maksimal Batas Waktu NTU'); ?> <span class="text-danger font-weight-bold">*</span></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('max_ntu_date', $this->max_ntu_date, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);', 'onblur' => 'cannotZero(this)')) ?>
						<div class="errmsg"><?= $this->xmax_ntu_date; ?></div>
					</td>
					<td>
						Hari
					</td>
				</tr>

				<tr>
					<td><?php echo $this->language->_('Maksimal Batas Waktu Klaim'); ?> <span class="text-danger font-weight-bold">*</span></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('max_claim_period', $this->max_claim_period, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);', 'onblur' => 'cannotZero(this)')) ?>
						<div class="errmsg"><?= $this->xmax_claim_period; ?></div>
					</td>
					<td>
						Hari
					</td>
				</tr>
				<tr>
					<td><?php echo $this->language->_('Konstanta Jumlah Hari dalam Setahun'); ?> <span class="text-danger font-weight-bold">*</span></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('konstanta_setahun', $this->konstanta_setahun, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);', 'onblur' => 'cannotZero(this)')) ?>
						<div class="errmsg"><?= $this->xkonstanta_setahun; ?></div>
					</td>
					<td>
						Hari
					</td>
				</tr>
				<tr>
					<td><?php echo $this->language->_('Masa Berlaku OTP Transaksi'); ?> <span class="text-danger font-weight-bold">*</span></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('otp_exp_trx', $this->otp_exp_trx, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xotp_exp_trx; ?></div>
					</td>

					<td>Menit</td>
				</tr>

				<tr>
					<td><?php echo $this->language->_('Toleransi Kurs'); ?> <span class="text-danger font-weight-bold">*</span></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('toleransi_kurs', $this->toleransi_kurs, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'return forceCurrencyOCBC(event);', 'onblur' => "NumFrmtUS(this.value,this.id)")) ?>
						<div class="errmsg"><?= $this->xtoleransi_kurs; ?></div>
					</td>

					<td>%</td>
				</tr>

				<tr style="display:none;">
					<td><?php echo $this->language->_('Max beneficiary account data per import file (register predefined beneficiary)'); ?></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('max_import_bene', $this->max_import_bene, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xmax_import_bene; ?></div>
					</td>
					<td></td>
				</tr>
				<tr style="display:none;">
					<td><?php echo $this->language->_('Max single payment data per import file (many to many)'); ?></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('max_import_single_payment', $this->max_import_single_payment, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= html_entity_decode($this->xmax_import_single_payment); ?></div>
					</td>
				</tr>
				<tr style="display:none;">
					<td><?php echo $this->language->_('Max payment data in bulk payment per import file (one to many) or (many to one)'); ?></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('max_import_bulk', $this->max_import_bulk, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xrange_futuredate; ?></div>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div class="col-md-12">
							<table align="center">
								<tr>
									<?php
									$options = array('class' => 'btngreen hov ');
									$options2 = array('class' => 'btnwhite hov ');
									if ($this->success || $this->error) {
										$options = array_merge($options, array("disabled" => "disabled"));
									}
									?>
									<td>
										<?php //echo $this->formSubmit('submit','Submit',$options)
										?>&nbsp;
										<?php //echo $this->formReset('reset','Reset',$options)
										?>

										<?php
										if ($this->hasPrivilege('STUD')) {
										?>
											<?php echo $this->formReset('reset', $this->language->_('Reset'), $options2) ?>
											<?php echo $this->formSubmit('submit', $this->language->_('Submit'), $options) ?>&nbsp;

										<?php
										} else {
											$submit = $this->language->_('Submit');
											$reset = $this->language->_('Reset');
											echo '<input type="button" value="' . $submit . '" disabled class="inputbtn"> &nbsp;';
											echo '<input type="button" value="' . $reset . '" disabled class="inputbtn">';
										}
										?>

									</td>
								</tr>
							</table>
						</div>
					</td>
				</tr>

			</table>
		</form>




	</div>

</div>

<script type="text/javascript">
	function cannotZero(object) {
		if (object.value == "" || object.value == 0 || object.value == '0') {
			object.value = '1'
			return true;
		}
	}
</script>