<?php
$ns = new Zend_Session_Namespace('language');
$sessionLanguage = $ns->langCode;
?>

<style>
    label {
        font-size: 1.2em;
    }

    .col-form-label {
        font-size: 1.2em;
    }

    .textGray {
        color: #8e8e8e;
    }

    .form-group {
        margin-bottom: 0em;
    }

    .iconCircle {
        background-color: lightgray;
        color: red;
        margin-top: 3px;
        min-width: 23px;
        height: 20px;
    }

    .tableFile {
        width: 100%;
        font-size: 16px;
    }

    .tableFile th {
        background-color: #cccccc;
        font-style: italic;
        font-weight: normal;
        padding: 7px 0;
    }

    .tableFile td {
        background-color: #efefef;
        font-weight: normal;
        border-bottom: 2px solid #c2c2c2;
        padding: 7px 0;
    }

    .tableFile td:first-child {
        padding-left: 10px;
    }

    .tableFile th:first-child {
        padding-left: 10px;
    }

    .tableFile tr:last-child td {
        border-bottom: 0;
    }

    .tableFile th:last-child {
        text-align: center;
    }

    #guarantedTransactions {
        width: 100%;
        font-size: 16px;
    }

    #guarantedTransactions th {
        background-color: #cccccc;
        font-style: italic;
        font-weight: normal;
    }

    #guarantedTransactions td {
        background-color: #efefef;
        font-weight: normal;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?= $this->language->_('Beranda') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?= $this->language->_('Alur Penutupan') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?= $this->language->_('Review') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="inhouse"><?= $this->language->_('Detail') ?></span>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalBankApp" tabindex="-1" role="dialog" aria-labelledby="myModalBankApp">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center style="width:100%">
                    <h4 class="modal-title textBlack" id="myModalLabel">Principal Bank Garansi Detail</h4>
                </center>

            </div>

            <div class="modal-body">
                <br>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="textGray">Perusahaan</label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['CUST_NAME'] . ' (' . $this->getBG['CUST_ID'] . ')'; ?></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="textGray">NPWP</label>
                            </div>
                            <div class="col-sm-9">
                                <label> <?php echo $this->getBG['CUST_NPWP']; ?></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="textGray">Address</label>
                            </div>
                            <div class="col-sm-9">
                                <label> <?php echo $this->getBG['CUST_ADDRESS']; ?></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="textGray">City</label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['CITY_NAME']; ?></label>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-3">
                                <label for="" class="textGray"><?= $this->language->_('Company Office Number') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['CUST_PHONE']; ?> </label>

                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-3">
                                <label for="" class="textGray"><?= $this->language->_('Contact Person') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['CUST_CP']; ?> </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="textGray">Contact Number</label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['CUST_CONTACT_NUMBER']; ?></label>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-3">
                                <label for="" class="textGray"><?= $this->language->_('Contact Email') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['CUST_EMAIL']; ?> </label>

                            </div>
                        </div>


                    </div>
                    <div class="col-sm-1"></div>

                </div>





            </div>
            <div class="modal-footer">
                <center style="width: 100%">
                    <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
                </center>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid content-box px-3" style="border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
    <div style="<?= $this->getBG['CHANGE_TYPE'] != '3' ? 'overflow-x: scroll;' : '' ?>" id="workflow_process" class="<?= $this->getBG['CHANGE_TYPE'] == '3' ? 'd-flex justify-content-center' : '' ?>">
        <table border="0" class="mb-4">

            <?php if ($this->cust_reviewer == 0 && $this->cust_approver == 0) {
                $makerAlign = "right";
                $makerHrStyle = "width: 25%;";
                $makerCircleStyle = 'padding-right: 10px;text-align:center;';
                $makerFontStyle = "padding-right: 17px;text-align:center;";

                $verifyAlign = "right";
                $verifyHrStyle = "width: 25%;";
                $verifyCircleStyle = 'padding-right: 10px;text-align:center;';
                $verifyFontStyle = "padding-right: 17px;text-align:center;";

                $releaserAlign = "left";
                $releaserCircleStyle = 'padding-left: 10px;text-align:center;';
                $releaserFontStyle = "padding-left: 12px;text-align:center;";
                $releaserText = "2";
            } else {
                $makerAlign = "center";
                $releaserAlign = "center";
                $approverText = "3";
                $releaserText = "4";
            }

            if ($this->cust_reviewer == 0 && $this->cust_approver == 1) {
                $approverText = "2";
                $releaserText = "3";
            } elseif ($this->cust_approver == 0 && $this->cust_reviewer == 1) {
                $releaserText = "3";
            }
            ?>

            <tr>
                <?php if ($this->getBG['CHANGE_TYPE'] != '3') { ?>
                    <td align="center" class="px-3">
                        <?php echo (!empty($this->makerStatus) ? $this->makerNameCircle : '<button class="btnCircleGroup" disabled></button>') ?>
                    </td>
                    <td>
                        <hr class="hrline active ?>">
                    </td>

                    <td align="center" class="px-3">
                        <?php echo (!empty($this->approverStatus) ? $this->makerNameCircle : '<button class="btnCircleGroup" disabled></button>') ?>
                    </td>
                    <td>
                        <hr class="hrline active ?>">
                    </td>

                    <td align="center" class="px-3">
                        <?php echo (!empty($this->releaserStatus) ? $this->makerNameCircle : '<button class="btnCircleGroup" disabled></button>') ?>
                    </td>
                    <?php if ($this->isinsurance) { ?>
                        <td>
                            <hr class="hrline <?= $this->insuranceStatus; ?>">
                        </td>
                        <td align="center" class="px-3"><?php echo $this->insuranceNameCircle; ?></td>
                    <?php } ?>
                    <td>
                        <hr class="hrline active">
                    </td>
                <?php } ?>


                <td align="center" class="px-3">
                    <button id="makerCircle" style="cursor:default" class="btnCircleGroup active  hovertext" disabled=""><i class="fas fa-check"></i> </button>
                </td>
                <td>
                    <hr class="hrline <?= $this->getBG['CHANGE_TYPE'] != '3' ? '' : 'active' ?>">
                </td>

                <td align="center" class="px-3"><?php echo $this->bankReviewNameCircle; ?></td>
                <td>
                    <hr class="hrline ">
                </td>

                <td align="center" class="px-3"><?php echo $this->releaserNameCircle; ?></td>
                <?php if ($this->getBG['CHANGE_TYPE'] != '3') { ?>
                    <td>
                        <hr class="hrline ">
                    </td>

                    <!-- tahapan tanda tangan dst -->
                    <td align="center" class="px-3">
                        <button class="btnCircleGroup" disabled></button>
                    </td>
                <?php } ?>
            </tr>

            <tr>
                <?php if ($this->getBG['CHANGE_TYPE'] != '3') { ?>
                    <td align="center" class="pt-2"><?= $this->language->_('Maker') ?></td>
                    <td></td>

                    <td align="center" class="pt-2"><?= $this->language->_('Persetujuan') ?></td>
                    <td></td>

                    <td align="center" class="pt-2"><?= $this->language->_('Rilis Pengajuan') ?></td>
                    <td></td>
                <?php } ?>


                <?php
                if ($this->isinsurance) {
                ?>
                    <td align="center" class="pt-2">Principle Agreement</td>
                    <td></td>
                <?php } ?>

                <td align="center"><?= $this->language->_('Bank Verification') ?></td>
                <td></td>

                <td align="center">Bank Reviewer</td>
                <td></td>

                <td align="center"><?= $this->language->_('Persetujuan Bank') ?></td>
                <td></td>

                <!-- tahapan pecnetakan -->
                <?php if ($this->getBG['CHANGE_TYPE'] != '3') { ?>
                    <td align="center">Bank Releaser</td>
                    <td></td>
                <?php } ?>
            </tr>

            <tr>
                <?php if ($this->getBG['CHANGE_TYPE'] != '3') { ?>
                    <td align="center"></td>
                    <td></td>

                    <td align="center"></td>
                    <td></td>

                    <td align="center"></td>
                    <td></td>
                <?php } ?>


                <?php
                if ($this->isinsurance) {
                ?>
                    <td></td>
                    <td></td>
                <?php } ?>

                <td align="center"></td>
                <td></td>

                <td align="center"></td>
                <td></td>

                <td align="center"></td>
                <td></td>

                <!-- tahapan tanda tangan dst -->
                <?php if ($this->getBG['CHANGE_TYPE'] != '3') { ?>
                    <td align="center"></td>
                    <td></td>
                <?php } ?>
            </tr>

            <tr>
                <?php if ($this->getBG['CHANGE_TYPE'] != '3') { ?>
                    <td align=center" class="pt-2">
                        <?php echo $this->makerBy; ?>
                    </td>
                    <td></td>

                    <td align=center" class="pt-2">
                        <?php echo $this->approverBy; ?>
                    </td>
                    <td></td>

                    <td align=center" class="pt-2">
                        <?php echo $this->releaserBy; ?>
                    </td>
                    <td></td>
                <?php } ?>

                <?php if ($this->isinsurance) { ?>
                    <td align=center" class="pt-2">
                        <?php echo $this->insuranceApprovedBy; ?>
                    </td>
                    <td></td>
                <?php } ?>

                <td align="center">
                    <?php
                    $getHistory = $this->dataHistory[0];
                    ?>
                    <div align="center" class="textTheme"><?= date('d-M-Y', strtotime($getHistory['DATE_TIME'])); ?><br><span><?= $getHistory['BUSER_NAME']; ?></span></div>
                </td>
                <td></td>

                <td align="center">
                    <?php echo $this->bankReviewedBy; ?>
                </td>
                <td></td>

                <td align="center">
                    <?php
                    if (!empty($this->approverApprovedBy)) {
                        foreach ($this->approverApprovedBy as $row => $value) {
                            echo $value;
                        }
                    }
                    ?>
                </td>
                <td></td>

                <!-- tahapan tanda tangan dst -->
                <?php if ($this->getBG['CHANGE_TYPE'] != '3') { ?>
                    <td align="center">
                        <?= ""; ?>
                    </td>
                    <td></td>
                <?php } ?>

            </tr>
        </table>
    </div>

    <?= $this->getBG['CHANGE_TYPE'] != '3' ? '<br><br>' : '' ?>

    <a href="#" onclick="modalmoredetail();" style="position: absolute; right: 1%; bottom: 2%;"><i class="fa fa-ellipsis-h"></i></a>

</div>

<div class="modal fade" id="myModalMoreDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center style="width:100%">
                    <h4 class="modal-title textBlack" id="myModalLabel">History More Detail</h4>
                </center>
            </div>

            <div class="modal-body">
                <div class="row" style="height: 50vh; overflow-y: scroll;">
                    <div class="col-sm-11 m-auto">
                        <table class="table table-sm table-striped" cellpadding="3" style="width:100%">
                            <tr class="headercolor tdform-sub" id="tdform-sub">
                                <td class="tbl-headercontent tablehead"><b><i><?= $this->language->_('User'); ?></i></b></td>
                                <td class="tbl-headercontent tablehead"><b><i><?= $this->language->_('Action'); ?></i></b></td>
                                <td class="tbl-headercontent tablehead"><b><i><?= $this->language->_('Date Time'); ?></i></b></td>
                                <td class="tbl-headercontent tablehead"><b><i><?= $this->language->_('Note'); ?></i></b></td>
                            </tr>
                            <?php foreach ($this->dataHistory as $row) : ?>
                                <tr>
                                    <td><?= $row['BUSER_NAME'] . ' (' . $row['USER_LOGIN'] . ')'; ?></td>
                                    <td><?= $this->historyStatusArr[$row['HISTORY_STATUS']]; ?></td>
                                    <td><?= date('d M Y H:i:s', strtotime($row['DATE_TIME'])); ?></td>
                                    <td><?= $row['BG_REASON'] ?: '-'; ?></td>
                                </tr>
                            <?php endforeach; ?>
                        </table>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <center style="width:100%">
                    <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
                </center>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-11">
        <div class="row mb-2">
            <div class="col-md-6">
                <h5 style="margin-left: 20px;"><?= $this->language->_('Detail Pengajuan Penutupan Bank Garansi') ?></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 20px;"><?= $this->language->_('Nomor Ref Pengajuan') ?></label>
            </div>
            <div class="col-md-9">
                <label><?php echo $this->getBG['CLOSE_REF_NUMBER']; ?> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 pr-0">
                <label class="textGray" style="margin-left: 20px;"><?= $this->language->_('Penutupan atas Nomor BG') ?></label>
            </div>
            <div class="col-md-9">
                <label class="text-danger font-weight-bold" id="bg_number"><?php echo $this->getBG['BG_NUMBER']; ?> </label>
                <label>&nbsp;(Status <?= ($this->getBG['BG_STATUS'] == '15') ? $this->language->_('Aktif') : $this->language->_('Tidak Atkif') ?>)</label>
            </div>
        </div>

        <div class=" row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 20px;"><?= $this->language->_('Bentuk Penerbit') ?></label>
            </div>
            <div class="col-md-9">
                <label><?php echo $this->publishDesc; ?> <?= $this->nomorRefKertas; ?></label>
            </div>
        </div>

        <div class=" row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 20px;"><?= $this->language->_('Subjek') ?></label>
            </div>
            <div class="col-md-9">
                <label style="font-weight:bold;"><?php echo $this->getBG['BG_SUBJECT']; ?></label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 20px;"><?= $this->language->_('Bank Cabang Penerbit') ?></label>
            </div>
            <div class="col-md-9">
                <label><?php echo $this->getBG['BRANCH_NAME']; ?></label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 20px;">Tipe Usulan</label>
            </div>
            <div class="col-md-9">
                <label><?php echo $this->arrbgclosingType[$this->getBG['CHANGE_TYPE']]; ?></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 20px;"><?= $this->language->_('Status Usulan') ?></label>
            </div>
            <div class="col-md-9">
                <label><?php echo $this->arrbgclosingStatus[$this->getBG['SUGGESTION_STATUS']]; ?></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 20px;">Catatan</label>
            </div>
            <div class="col-md-9">
                <label>-</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="height: auto; position: relative;">
                <div class="padding-header-cust mb-2" style="background-color:#dc3545;">
                    <h5><?= $this->language->_('Principal Bank Garansi') ?></h5>
                </div>

                <div style="padding-left:2%">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="textGray">Perusahaan</label>
                        </div>
                        <div class="col-sm-9">
                            <label style="font-weight:bold;"><?php echo $this->getBG['CUST_NAME'] . ' (' . $this->getBG['CUST_ID'] . ')'; ?></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="textGray">NPWP</label>
                        </div>
                        <div class="col-sm-9">
                            <label> <?php echo $this->getBG['CUST_NPWP']; ?></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="textGray">Alamat</label>
                        </div>
                        <div class="col-sm-9">
                            <label> <?php echo $this->getBG['CUST_ADDRESS']; ?></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="textGray">Kota</label>
                        </div>
                        <div class="col-sm-9">
                            <label><?php echo $this->getBG['CITY_NAME']; ?></label>
                        </div>
                    </div>
                    <div class=" row">
                        <div class="col-sm-3">
                            <label for="" class="textGray"><?= $this->language->_('Nomor Telepon Kantor') ?></label>
                        </div>
                        <div class="col-sm-9">
                            <label><?php echo $this->getBG['CUST_PHONE']; ?> </label>

                        </div>
                    </div>
                    <div class=" row">
                        <div class="col-sm-3">
                            <label for="" class="textGray"><?= $this->language->_('Nama Kontak') ?></label>
                        </div>
                        <div class="col-sm-9">
                            <label><?php echo $this->getBG['CUST_CP_T']; ?> </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="textGray">Nomor Telepon Kontak</label>
                        </div>
                        <div class="col-sm-9">
                            <label><?php echo $this->getBG['CUST_CONTACT_NUMBER_T']; ?></label>
                        </div>
                    </div>
                    <div class=" row">
                        <div class="col-sm-3">
                            <label for="" class="textGray"><?= $this->language->_('Email Kontak') ?></label>
                        </div>
                        <div class="col-sm-9">
                            <label><?php echo $this->getBG['CUST_EMAIL_T']; ?> </label>

                        </div>
                    </div>
                    <!--<a href="#" onclick="bankApp();" style="position: absolute; right: 1%; bottom: 2%;"><i class="fa fa-ellipsis-h"></i></a>-->
                </div>
            </div>
        </div>


        <form action="" id="reviewForm" method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'Approvedetail', 'bgnumb' => $this->BG_REG_NUMBER), null, true) ?>">
            <!-- <div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
                <h5><?= $this->language->_('Usage Purpose') ?></h5>
							</div>
							<div style="padding-left:2%; padding-top:2px;">
                
                <div class="form-group row">
                    <?php if ($this->checkp1) {
                    ?><div class="col-sm-5">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						  &nbsp;Bidding Guarantee</label>
                    </div>
					 <?php
                    } ?>
                    <?php if ($this->checkp2) { ?><div class="col-sm-5">
                        <label for="">
						   
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Advance Payment Guarantee</label>
                    </div>
					<?php
                    } ?>
                    <?php if ($this->checkp3) {
                    ?><div class="col-sm-5">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Performance Bond</label>
                    </div><?php
                        } ?>
                    <?php if ($this->checkp4) {
                    ?><div class="col-sm-5">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Maintenance Guarantee</label>
                    </div>
					<?php
                    } ?>
                </div>
				<?php if ($this->checkp5) {
                ?>
                <div class="form-group row pb-2">
                    <div class="col-sm-10">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Others :</label>
											<label><?php echo $$this->others; ?>		</label>				
                    </div>
                </div>
				<?php
                } ?>
							</div>
            </div>
        </div> -->

            <div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust" style="background-color:#dc3545;">
                        <h5><?= $this->language->_('Jenis Bank Garansi') ?></h5>
                    </div>

                    <div style="padding-left:2%">
                        <div class="form-group row pt-2">
                            <div class="col-sm-3">
                                <label for="" class="textGray"><?= $this->language->_('Jenis BG') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?= ($this->getBG['USAGE_PURPOSE'] == 'F4299') ? ucwords(strtolower($this->getBG['USAGE_PURPOSE_DESC'])) : $this->arrbg[$this->getBG['USAGE_PURPOSE']]; ?> </label>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust" style="background-color:#dc3545;">
                        <h5><?= $this->language->_('Nilai dan Masa Berlaku Bank Garansi') ?></h5>
                    </div>
                    <div style="padding-left:2%; padding-top:2px;">

                        <div class="row pt-1">
                            <div class="col-sm-3">
                                <label for="" class="textGray ">Nominal Bank Garansi</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="input-group" id="">
                                    <label class="text-danger" id="bank_amount_lbl" style="font-weight:bold;"><?= $this->bgCurrency . " " . number_format($this->BG_AMOUNT, 2) ?></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <div class="col-sm-3">
                                <label for="" class="textGray ">Berlaku Sejak</label>
                            </div>
                            <div class="col-sm-9 form-inline" style="float:left">
                                <label><?php echo $this->updateStart; ?>
                                    &nbsp;To&nbsp;
                                    <?php echo $this->updateEnd; ?></label>
                                &nbsp;&nbsp;&nbsp;
                                <label class="textGray" id="daysTotal">&nbsp;</label>
                                <?php echo $this->daysTotal; ?>


                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray ">Batas Tanggal Klaim</label>
                            </div>
                            <div class="col-sm-9">
                                <?php
                                $addday = '+ ' . $this->claim_period . ' day';
                                $Date2 = date('Y-m-d', strtotime($this->updateEnd . $addday));
                                ?>
                                <!-- <label><?php echo Application_Helper_General::convertDate($Date2, $this->viewDateFormat, $this->defaultDateFormat); ?></label> -->

                                <label><?= date('d M Y', strtotime($this->BG_CLAIM_DATE)); ?></label>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust" style="background-color:#dc3545;">
                        <h5><?= $this->language->_('Obligee Bank Garansi') ?></h5>
                    </div>
                    <div style="padding-left:2%">
                        <div class="form-group row pt-2">
                            <div class="col-sm-3">
                                <label for="" class="textGray "><?= $this->language->_('Nama Obligee') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label style="font-weight:bold;"><?php echo $this->getBG['RECIPIENT_NAME']; ?> </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray "><?= $this->language->_('Alamat') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['RECIPIENT_ADDRES']; ?> </label>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray "><?= $this->language->_('Kota') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['RECIPIENT_CITY']; ?> </label>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray "><?= $this->language->_('Nomor Telepon Kantor') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['RECIPIENT_CONTACT']; ?> </label>

                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <div class="col-sm-3">
                                <label for="" class="textGray "><?= $this->language->_('Nama Kontak') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['RECIPIENT_CP']; ?> </label>

                            </div>
                        </div>
                        <div class="form-group row pb-1">
                            <div class="col-sm-3">
                                <label for="" class="textGray "><?= $this->language->_('Nomor Telepon Kontak') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['RECIPIENT_OFFICE_NUMBER']; ?> </label>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray "><?= $this->language->_('Email Kontak') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label><?php echo $this->getBG['RECIPIENT_EMAIL']; ?> </label>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray "><?= $this->language->_('Kode Spesial Obligee') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <label class="text-danger font-weight-bold"><?php echo $this->getBG['SP_OBLIGEE_CODE']; ?> </label>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust" style="background-color:#dc3545;">
                        <h5><?= $this->language->_('Kontra Garansi') ?></h5>
                    </div>
                    <?php if ($this->counterWarrantyType == '1') : ?>
                        <div style="padding-left:2%">
                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="textGray "><?= $this->language->_('Jenis Kontra Garansi') ?></label>
                                </div>
                                <div class="col-sm-9">
                                    <label id="COUNTER_WARRANTY_TYPE_LBL"><?= $this->counterWarrantyDesc; ?></label>
                                </div>
                            </div>
                        </div>
                    <?php endif ?>

                    <?php if ($this->counterWarrantyType == '2') : ?>
                        <div style="padding-left:2%">
                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="textGray "><?= $this->language->_('Jenis Kontra Garansi') ?></label>
                                </div>
                                <div class="col-sm-9">
                                    <label id="COUNTER_WARRANTY_TYPE_LBL"><?= $this->counterWarrantyDesc; ?></label>
                                </div>
                            </div>
                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="textGray "><?= $this->language->_('Pemilik Plafond Limit') ?></label>
                                </div>
                                <div class="col-sm-9">
                                    <label id="COUNTER_WARRANTY_TYPE_LBL" class="textGray"><?php echo $this->getBG['CUST_NAME'] ?></label>
                                </div>
                            </div>
                        </div>
                    <?php endif ?>

                    <?php if ($this->counterWarrantyType == '3') : ?>
                        <div style="padding-left:2%">
                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="textGray "><?= $this->language->_('Jenis Kontra Garansi') ?></label>
                                </div>
                                <div class="col-sm-9">
                                    <label id="COUNTER_WARRANTY_TYPE_LBL"><?= $this->counterWarrantyDesc; ?></label>
                                </div>
                            </div>
                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="textGray "><?= $this->language->_('Nama Asuransi') ?></label>
                                </div>
                                <div class="col-sm-9">
                                    <label class=" textGray"><?= $this->language->_($this->insuraceName); ?></label>
                                </div>
                            </div>
                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="textGray "><?= $this->language->_('Asuransi Cabang') ?></label>
                                </div>
                                <div class="col-sm-9">
                                    <label class=" textGray"><?= $this->language->_($this->insuranceBranch); ?></label>
                                </div>
                            </div>
                        </div>
                    <?php endif ?>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="height: auto; position: relative;">
                    <div class="padding-header-cust d-flex" style="background-color:#dc3545;">
                        <h5><?= $this->language->_('Sertifikat Bank Garansi Final') ?></h5>
                    </div>
                    <div style="padding-left:2%" id="sertifikatBG" class="mb-2">
                        <div class="form-group row pt-2">
                            <div class="col-sm-3">
                                <label for="" class="textGray ">Tanggal Terbit </label>
                            </div>
                            <div class="col-sm-8 d-flex align-items-center text-danger" style="font-weight:bold;">
                                <label><?php echo $this->bgIssuedDate; ?></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="" class="textGray "><?= $this->language->_('Dokumen Final') ?></label>
                            </div>
                            <div class="col-sm-9">
                                <div class="d-flex" style="gap: 15px;">
                                    <input type="text" class="form-control" value="BG_<?= $this->getBG['BG_NUMBER']; ?>.pdf" disabled style="font-size: 1.2em; margin-left: -13px; background-color: #FFE6EB;">
                                    <button class="btnwhite hov" style="border-radius: 6px !important; height: auto !important;" type="button" onclick="javascript:window.open(`/bgclosingworkflow/reviewdetail/showfinaldoc/bgnumb/<?= $this->getBG["BG_NUMBER"]; ?>`)"><i class="fa fa-search pr-1" style="color: #0D85F1; font-size: 14px;"></i> PRATINJAU</button>
                                    <button class="btnwhite hov" style="border-radius: 6px !important; height: auto !important;" type="button" onclick="javascript:window.open(`/bgclosingworkflow/reviewdetail/download/bgnumb/<?= $this->getBG["BG_NUMBER"]; ?>`)"><i class="fa fa-download pr-1 text-body" font-size: 14px;"></i>DOWNLOAD</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <?php if ($this->changeType == '1' || $this->changeType == '3') : ?>

                <div class="row">
                    <div class="col-md-12" style="height: auto; position: relative;">
                        <div class="padding-header-cust" style="background-color:#dc3545;">
                            <?php if ($this->changeType == '3') { ?>
                                <h5><?= $this->language->_('Lampiran Dokumen Klaim') ?></h5>
                            <?php } else { ?>
                                <h5><?= $this->language->_('Lampiran Dokumen Penutupan') ?></h5>
                            <?php }  ?>
                        </div>
                        <div class="pt-3">
                            <table id="guarantedTransactions" class="table table-sm mb-0">
                                <thead>
                                    <th style="padding-left: 2%;">Nama Dokumen</th>
                                    <th>Nama File</th>
                                    <th class="inputFormat text-center">Tindakan</th>
                                </thead>
                                <tbody>
                                    <?php foreach ($this->lampiranDokumen as $key => $value) { 
                                        $longFileName = explode("_", $value["BG_FILE"]);
                                        $getEndOfArr = end($longFileName);
                                        ?>
                                        <tr>
                                            <td style="padding-left: 2%;"><?= $value['FILE_NOTE']; ?></td>
                                            <td><?= $getEndOfArr; ?></td>
                                            <td align="center" class="inputFormat">
                                                <button onclick="location.href = '/bgclosingworkflow/Reviewdetail/downloadlampiran/bgfile/<?php echo $value['BG_FILE']; ?>';" name="download" id="download" value="1" class="btn bg-transparent p-0 m-0" type="button">
                                                    <i class="fa fa-download"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12 mb-2 pl-0 pt-1">
                            <strong class="formreq">
                                <font color="red">&nbsp;*</font>
                            </strong> <label for="" class="textGray "><?= $this->language->_('Semua Lampiran Dokumen asli wajib diserahkan ke Bank Cabang Penerbit') ?></label>
                        </div>
                    </div>
                </div>
            <?php endif ?>

            <?php if ($this->counterWarrantyType != '2' && !empty($this->holdAmount)) : ?>
                <div class="row">
                    <div class="col-md-12" style="height: auto; position: relative;" id="transaksi_container">
                        <div class="padding-header-cust" style="background-color:#dc3545;">
                            <h5><?= $this->language->_('Marginal Deposit Principal') ?></h5>
                        </div>
                        <div style="padding-top:2px;" class="pt-2">
                            <label for="" class="text-body font-weight-bold" style="padding-left:2%;">Marginal Deposit Eksisting </label> <label style="font-style: italic;">(total : </label> <label class="text-danger" style="font-style: italic;">IDR <?= number_format($this->holdAmount, 2); ?></label><label style="font-style: italic;">)</label>
                            <input type="hidden" id="holdAmount" value="<?= $this->escrow; ?>">
                            <input type="hidden" id="transferAmount" value="<?= $this->transferAmount; ?>">
                            <div style="float:right">
                                <a href="javascript:void(0)" onclick="refreshMarginalDeposit('<?= $this->getBG['BG_REG_NUMBER']; ?>')"><i class="fa fa-retweet" id="iconRefresh"></i><img src='/images/logo/35.gif' id='iconLoad' style='width: 13px;display:none'></a>
                            </div>
                            <div id="tableMarginalDeposit"></div>

                            <?php if ($this->jumlahAccount > 0 && $this->getBG['CHANGE_TYPE'] != '3') : ?>
                                <label for="" class="text-body font-weight-bold" style="padding-left:2%;">Pelepasan Dana Escrow ke Rekening Berikut</label> 
                                <label style="font-style: italic;"> (total jumlah : </label>
                                <label class="text-danger"><span id="totalPelepasanDana" class="text-danger"><?= $this->totalPelepasanDana; ?></span></label>
                                <label style="font-style: italic;">)</label>

                                <label>
                                    <div class="hidden ml-2 border border-danger rounded-circle position-relative" style="width: 20px; height: 20px;" id="iconErrorMD">
                                        <div class="d-flex justify-content-center text-danger">i</div>
                                        <div class="position-absolute border border-danger text-danger hidden p-2" style="background-color: white; width: 214px;z-index: 9999; top: 0; left: 30px"><span id="errorMD"></span></div>
                                    </div>
                                </label>
                                <?php
                                $total = 1;
                                ?>
                                <?php echo $this->listAccount; ?>
                            <?php endif ?>
                        </div>

                    </div>

                </div>
            <?php endif ?>

            <?php if ($this->getBG['CHANGE_TYPE'] == '3') : ?>
                <div class="row">
                    <div class="col-md-12" style="height: auto; position: relative;">
                        <div class="padding-header-cust bg-danger">
                            <h5><?= $this->language->_('Rekening Tujuan Pembayaran Klaim') ?></h5>
                        </div>
                        <div style="padding-left:2%">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label class="textGray"><?= $this->language->_('Bank Penerima') ?></label>
                                </div>
                                <div class="col-md-9">
                                    <label class="font-weight-bold"><?= $this->swiftCode ?></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label class="textGray"><?= $this->language->_('Rekening Penerima') ?></label>
                                </div>
                                <div class="col-md-9 d-flex">
                                    <label class="font-weight-bold"><?= $this->nomorRekening ?></label>
                                    <div class="hidden ml-2 border border-danger rounded-circle position-relative" style="width: 20px; height: 20px;" id="iconErrorRek">
                                        <div class="d-flex justify-content-center text-danger">i</div>
                                        <div class="position-absolute border border-danger text-danger hidden p-2" style="background-color: white; width: 214px;z-index: 9999; top: 0; left: 30px"><span id="errorRek"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label class="textGray"><?= $this->language->_('Nama Penerima') ?></label>
                                </div>
                                <div class="col-md-9">
                                    <label><?= $this->namaRekening ?></label>
                                </div>
                            </div>
                            <?php if (strtolower($this->swiftCodeParam) != 'btanidja') { ?>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label class="textGray"><?= $this->language->_('Alamat Penerima') ?></label>
                                    </div>
                                    <div class="col-md-9">
                                        <label><?= $this->alamatRekening ?></label>
                                    </div>
                                </div>
                            <?php } ?>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label class="textGray"><?= $this->language->_('Nominal Pembayaran') ?></label>
                                </div>
                                <div class="col-md-9">
                                    <label><?= $this->valutaTrasaksi . ' ' .  number_format($this->totalTransaksi, 2)  ?></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label class="textGray"><?= $this->language->_('Berita') ?></label>
                                </div>
                                <div class="col-md-9">
                                    <label><?= $this->berita ?></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="height: auto; position: relative;">
                        <div class="padding-header-cust d-flex" style="background-color: #0000ff;">
                            <div class="col">
                                <h5><?= $this->language->_('Monitor Waktu Pemprosesan Klaim') ?></h5>
                            </div>
                        </div>
                        <div style="padding-left:2%" id="sertifikatBG">
                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="text-gray ">Tanggal Verifikasi Awal </label>
                                </div>
                                <div class="col-sm-8 d-flex align-items-center" style="font-weight:bold;">
                                    <?php echo date('d M Y @ H:i:s', strtotime($this->getBG['CLAIM_FIRST_VERIFIED'])); ?>
                                </div>
                            </div>
                            <div class="form-group row pt-2">
                                <div class="col-sm-3">
                                    <label for="" class="text-gray ">Waktu Berlaku sejak Verifikasi </label>
                                </div>
                                <div class="col-sm-8 d-flex align-items-center text-danger" style="font-weight:bold;">
                                    <?php echo $this->time_calculation; ?>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            <?php endif ?>

            <div class="row">
                <div class="col-md-12 pb-5" style="height: auto; position: relative;">
                    <div class="padding-header-cust" style="background-color: #0000ff;">
                        <h5><?= $this->language->_('Pernyataan Pejabat Bank') ?></h5>
                    </div>
                    <div style="padding-left:2%" id="sertifikatBG">
                        <div class="form-group row pt-2">
                            <!-- <?php if ($this->klaimErr) : ?>
                                <label for="" id="error_validasi" class="text-body font-weight-bold text-danger"><i class="iconCircle fas pt-1 fa-info"></i>&nbsp;<span class="text-danger">Data dalam pengajuan Klaim. Tidak diperkenankan untuk melakukan Penutupan Bank Garansi</span></label>
                            <?php endif ?> -->
                            <div class="row">
                                <div class="col-md-12">
                                    <label for=""><input type="checkbox" name="chkterms" id="chkterms" value="">&nbsp;<?= $this->language->_('Saya telah melakukan review terhadap semua data dan dokumen penutupan. Semua persyaratan telah dilengkapi') ?></label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <?php if ($this->reqrepair) { ?>
                <div class="row">
                    <div class="col-md-12" style="height: auto; position: relative;">
                        <div style="padding-left:2%">
                            <div class="form-group row pt-2 pb-1">
                                <div class="col-sm-3">
                                    <label for="" class="textGray ">Notes</label>
                                </div>
                                <div class="col-sm-9">
                                    <label><?php
                                            echo $this->reason; ?></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>


            <div class="modal fade" id="tocModal" tabindex="-1" role="dialog" aria-labelledby="mytocModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel"><?= $this->language->_('Terms and Conditions') ?>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div style="height: 410px;overflow: scroll;">
                                <?php

                                if ($sessionLanguage == 'id') {
                                    echo $this->toc_ind;
                                } else {
                                    echo $this->toc_eng;
                                }

                                ?>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><?= $this->language->_('Close') ?></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="dialog_box" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title textBlack"><?php echo $this->language->_('Reject Submission Notes') ?></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Must be filled') ?>:</p>
                            <?php echo $this->formTextarea('PS_REASON_REJECT', $this->PS_REASON, array(
                                'cols' => '40%', 'rows' => '4',
                                'onKeyDown' => 'textCounter(this.form.PS_REASON3,this.form.disable_note_len,128)',
                                'onKeyUp' => 'textCounter(this.form.PS_REASON3,this.form.disable_note_len,128)',
                                'onKeypress' => 'return noSpecialChar3(event);', 'class' => 'form-control', 'id' => 'PS_REASON3', 'style' => 'font-size:1.2em'
                            )) ?>
                            <br>
                            <div class="input-group">
                                <?php echo $this->formText('disable_note_len', '128', array('readonly' => 'readonly', 'size' => '2', 'class' => 'form-control col-md-2', 'style' => 'width:60px;font-size:1.2em')); ?>
                                <span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left'); ?></span>
                            </div>
                            <div class="input-group">
                                <label style="text-align:center;width: 100%;font-size: 0.8125rem;" class="errmsg"> Are you sure to reject this submission?</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
                            <button type="submit" class="btngreen hov" id="btn_delete_one" name="reject" value="reject"><?php echo $this->language->_('Submit') ?></button>
                        </div>
                    </div>
                </div>
            </div>

            <?php if ($this->getBG['CHANGE_TYPE'] == '1') { ?>
                <div class="modal fade" id="dialog_box_rever" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title textBlack"><?php echo $this->language->_('Request Reverification Submission Notes') ?></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Must be filled') ?>:</p>
                                <?php echo $this->formTextarea('PS_REASON_REVER', $this->PS_REASON, array(
                                    'cols' => '40%', 'rows' => '4',
                                    'onKeyDown' => 'textCounter(this.form.PS_REASON4,this.form.disable_note_len3,128)',
                                    'onKeyUp' => 'textCounter(this.form.PS_REASON4,this.form.disable_note_len3,128)',
                                    'onKeypress' => 'return noSpecialChar3(event);', 'class' => 'form-control', 'id' => 'PS_REASON4', 'style' => 'font-size:1.2em'
                                )) ?>
                                <br>
                                <div class="input-group">
                                    <?php echo $this->formText('disable_note_len3', '128', array('readonly' => 'readonly', 'size' => '2', 'class' => 'form-control col-md-2', 'style' => 'width:60px;font-size:1.2em')); ?>
                                    <span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left'); ?></span>
                                </div>
                                <div class="input-group">
                                    <label style="text-align:center;width: 100%;font-size: 0.8125rem;" class="errmsg"> Are you sure to Reverification this submission?</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
                                <button type="submit" class="btngreen hov" id="btn_delete_rever" name="reqrever" value="reqrever"><?php echo $this->language->_('Submit') ?></button>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>

            <?php if ($this->getBG['CHANGE_TYPE'] == '3') { ?>
                <div class="modal fade" id="dialogrepair_box" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title textBlack"><?php echo $this->language->_('Request Repair Notes') ?></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="d-flex">
                                    <div class="col-3">
                                        <?= $this->language->_("Jenis Permintaan"); ?>
                                    </div>
                                    <div class="col-9">
                                        <p class="textBlack"><?php echo $this->language->_('Permintaan Perbaikan untuk Pengajuan Klaim Obligee') ?>:</p>
                                    </div>
                                </div>
                                <div class="d-flex mb-2">
                                    <div class="col-3">
                                        <p class="textBlack"><?php echo $this->language->_('Catatan Perbaikan') ?> <span style='color:red;'>*</span></p>
                                    </div>
                                    <div class="col-9">
                                        <?php echo $this->formTextarea('PS_REASON_REPAIR', $this->PS_REASON, array(
                                            'cols' => '40%', 'rows' => '4',
                                            'onKeyDown' => 'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
                                            'onKeyUp' => 'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
                                            'onKeypress' => 'return noSpecialChar3(event);', 'class' => 'form-control', 'id' => 'PS_REASON2', 'style' => 'font-size:1.2em'
                                        )) ?>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-3"></div>
                                    <div class="col-9">
                                        <div class="input-group">
                                            <?php echo $this->formText('disable_note_len2', '128', array('readonly' => 'readonly', 'size' => '2', 'class' => 'form-control col-md-2', 'style' => 'width:60px;font-size:1.2em')); ?>
                                            <span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left'); ?></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
                                <button type="submit" name="repair" value="repair" class="btngreen hov" id="btn_delete_repair"><?php echo $this->language->_('Submit') ?></button>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>

            <div class="row">
                <div class="col-md-12" align="center">
                    <button name="back" id="back" class="btn-sm btnwhite hov" onClick="location.href='/bgclosingworkflow/review'" value="1">Kembali</button>
                    &nbsp;&nbsp;
                    <?php if ($this->getBG['CHANGE_TYPE'] == '3') {
                        $repairAttr = array('id' => 'showRepair', 'class' => 'btnwhite hov', "onclick" => "repairmodal();");
                        echo $this->formButton('repair', $this->language->_('Permintaan Perbaikan'), $repairAttr);
                    } else {
                        $rejectAttr = array('id' => 'showRever', 'class' => 'btnwhite hov', "onclick" => "revermodal()");
                        echo $this->formButton('reqrever', $this->language->_('Verifikasi Ulang'), $rejectAttr);
                    } ?>
                    <!-- &nbsp;&nbsp; -->

                    <!--<button class="btn-sm btnwhite hov" type="submit" name="reqrever" value="reqrever">&nbsp;<?php echo $this->language->_('Request Reverification'); ?></button>-->
                    &nbsp;&nbsp;
                    <?php
                    $rejectAttr = array('id' => 'showReject', 'class' => 'btnred hov', "onclick" => " rejectmodal()");
                    echo $this->formButton('reject', $this->language->_('Tolak'), $rejectAttr); ?>




                    &nbsp;&nbsp;
                    <button class="btngreen hov disabled" id="review" type="submit" name="review" value="review" disabled>&nbsp;<?php echo $this->language->_('Review'); ?></button>
                    <?php
                    //$submitAttr = array('class' => 'btngreen hov');
                    //echo $this->formSubmit('approve', $this->language->_('Authorize'), $submitAttr);
                    ?>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="modal fade" id="provisionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title textBlack"><?php echo $this->language->_('Info') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label class="textBlack">Provision Fee 1% from BG Nominal</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="textBlack">Administration Fee IDR 500,000</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Close') ?></button>
            </div>
        </div>
    </div>
</div>
<!-- <script src='//cdn.jsdelivr.net/npm/jquery.session@1.0.0/jquery.session.js'></script> -->
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<script type="text/javascript">
    function showToc() {
        $('#tocModal').modal('show');
    }

    function provisionModal() {
        $('#provisionModal').modal('show');
    }

    function bankApp() {
        $("#myModalBankApp").modal();
    }

    function modalmoredetail() {
        $("#myModalMoreDetail").modal();
    }

    function openInsurance() {

        var insuranceName = '<?php echo $this->insuranceName; ?>';
        var PrincipalAgreement = '<?php echo $this->PrincipalAgreement; ?>';
        var bankAmount = '<?php echo $this->bank_amount ?>';
        var PolicyHolder = '<?php echo $this->compinfo['CUST_NAME']; ?>';
        var updateStart = '<?php echo $this->paDateStart; ?>';
        var updateEnd = '<?php echo $this->paDateEnd; ?>';

        $.session.delete("InsuranceName");
        $.session.set("InsuranceName", insuranceName);

        $.session.delete("PrincipalAgreement");
        $.session.set("PrincipalAgreement", PrincipalAgreement);

        $.session.delete("PolicyHolder");
        $.session.set("PolicyHolder", PolicyHolder);

        $.session.delete("bankAmount");
        $.session.set("bankAmount", bankAmount);

        $.session.delete("updateStart");
        $.session.set("updateStart", updateStart);

        $.session.delete("updateEnd");
        $.session.set("updateEnd", updateEnd);




        (new showPopUpWindow(
            '<?= $this->url(array('module' => 'popup', 'controller' => 'insurancepopup', 'action' => 'index', 'Approve' => '1'), null, true) ?>',
            750));

    }

    $(document).ready(function() {
        var start = new Date('<?php echo $this->TIME_PERIOD_START; ?>');
        var end = new Date('<?php echo $this->TIME_PERIOD_END; ?>');
        var total = (end - start) / (1000 * 60 * 60 * 24);

        if (start && end) {
            var total = total + 1;
            $('#daysTotal').html("(tenor : " + total + " hari)")
        }
        <?php if ($this->getBG['CHANGE_TYPE'] != '3') : ?>
            checkValidasi('<?php echo $this->getBG['BG_NUMBER']; ?>');
        <?php endif ?>

        <?php if ($this->getBG['CHANGE_TYPE'] == '3') : ?>
            inquiryRekeningKlaim();
        <?php endif ?>

        <?php if ($this->counterWarrantyType != '2') : ?>
            // GET MARGINAL DEPOSIT
            refreshMarginalDeposit('<?php echo $this->getBG['BG_REG_NUMBER']; ?>');
        <?php endif ?>

        document.querySelector("#chkterms").addEventListener("change", (event) => {
            if (event.target.checked) {
                document.querySelector("#review").disabled = false
                document.querySelector("#review").classList.remove("disabled")
            } else {
                document.querySelector("#review").disabled = true
                document.querySelector("#review").classList.add("disabled")
            }
        })

        $('#bg_number').mask('AAA-AAAAAA-AAAAAA-AAA');

        document.querySelector('#iconErrorRek')?.addEventListener('mouseover', () => {
            document.querySelector('#errorRek').parentElement.classList.remove('hidden');
            document.querySelector('#errorRek').parentElement.classList.add('d-inline-block');
        });
        document.querySelector('#iconErrorRek')?.addEventListener('mouseleave', () => {
            document.querySelector('#errorRek').parentElement.classList.add('hidden');
            document.querySelector('#errorRek').parentElement.classList.remove('d-inline-block');
        });

        document.querySelector('#iconErrorMD')?.addEventListener('mouseover', () => {
            document.querySelector('#errorMD').parentElement.classList.remove('hidden');
            document.querySelector('#errorMD').parentElement.classList.add('d-inline-block');
        });
        document.querySelector('#iconErrorMD')?.addEventListener('mouseleave', () => {
            document.querySelector('#errorMD').parentElement.classList.add('hidden');
            document.querySelector('#errorMD').parentElement.classList.remove('d-inline-block');
        });




        // let headerList = $('.padding-header-cust h5');
        // headerList.each(function(){
        //     let list = $(this).text().replace(/\s/g, '').replace(/,/g, '');
        // })
        // $.ajax({
        // 	url: "<?= $this->url(array('module' => 'eformworkflow', 'controller' => 'headerhandle', 'action' => 'index'), null, true) ?>",
        // 	type: 'GET',
        // 	data: {
        // 		bgregnumber: '<?= $this->data['BG_REG_NUMBER'] ?>',
        //         header_name: 'TypeofBankGuarantee'
        // 	},
        // 	success: function(data) {
        //         console.log(data)
        // 	},
        // });

    });

    function checkValidasi(bgNumber) {
        // begin validasi pelepasan dana
        let valid = true;
        var holdAmount = $("#holdAmount").val();
        var transferAmount = $("#transferAmount").val();
        if (holdAmount != transferAmount) {
            document.querySelector('#iconErrorMD').classList.add('d-inline-block');
            document.querySelector('#iconErrorMD').classList.remove('hidden');
            document.querySelector('#errorMD').innerText = '<?= $this->language->_('Jumlah Total Nominal Pelepasan harus sama dengan Nominal MD Giro Escrow Eksisting'); ?>';
            valid = (valid == true) ? false : valid;
        }
        // end validasi pelepanas dana

        // begin validasi rekening 
        $("#guarantedTransactions tr").each(function(index) {
            if (!index) return;
            $(this).find("td.listrekeningMD").each(function() {
                var acct_no = $(this).text().toLowerCase().trim();

                $.ajax({
                    url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquiryaccountinfo'), null, true) ?>",
                    type: 'GET',
                    dataType: "JSON",
                    data: {
                        acct_no: acct_no,
                    },
                    success: function(data) {
                        if (data.response_code != '0000') {
                            document.querySelector('#iconErrorMD' + acct_no).classList.add('d-inline-block');
                            document.querySelector('#iconErrorMD' + acct_no).classList.remove('hidden');
                            document.querySelector('#errorMD' + acct_no).innerText = '<?= $this->language->_('Status Rekening Tidak Aktif'); ?>';

                            document.querySelector('#iconErrorMD' + acct_no)?.addEventListener('mouseover', () => {
                                document.querySelector('#errorMD' + acct_no).parentElement.classList.remove('hidden');
                                document.querySelector('#errorMD' + acct_no).parentElement.classList.add('d-inline-block');
                            });
                            document.querySelector('#iconErrorMD' + acct_no)?.addEventListener('mouseleave', () => {
                                document.querySelector('#errorMD' + acct_no).parentElement.classList.add('hidden');
                                document.querySelector('#errorMD' + acct_no).parentElement.classList.remove('d-inline-block');
                            });
                            valid = (valid == true) ? false : valid;
                        }

                        if ($('#error_validasi').is(':visible') || $('#iconErrorRek').is(':visible') || $('#iconErrorMD').is(':visible')) {
                            $('#chkterms').attr('disabled', true);
                        }

                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert("Failed to get where column list, please try again");
                    }
                });
            });
        });
        // end validasi rekening

        // if (valid) {
        //     $.ajax({
        //         url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'checkValidasi'), null, true) ?>",
        //         type: 'GET',
        //         dataType: "JSON",
        //         data: {
        //             bgNumber: bgNumber,
        //         },
        //         success: function(data) {
        //             if (data.status == true) {
        //                 $('#error_validasi').show();
        //                 $("#chkterms").prop("disabled", true);
        //             } else {
        //                 $('#error_validasi').hide();
        //                 $("#chkterms").prop("disabled", false);
        //             }
        //         },
        //         error: function(xhr, ajaxOptions, thrownError) {
        //             alert("Failed to get where column list, please try again");
        //         }
        //     });
        // } else {
        //     $("#chkterms").prop("disabled", true);
        // }

    }

    function refreshMarginalDeposit(reqNumber) {
        $('#iconRefresh').hide();
        $('#iconLoad').show();
        $('#tableMarginalDeposit').html(`<table class="table table-sm" id="guarantedTransactions"><thead><th>Hold Seq</th><th>Nomor Rekening</th><th>Nama Rekening</th><th>Tipe</th><th>Valuta</th><th>Nominal</th></thead><tbody><tr><td colspan="6" align="center">Sedang mengambil data ...</td></tr></tbody></table>`);
        $.ajax({
            url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquirymarginaldeposit'), null, true) ?>",
            type: 'GET',
            dataType: "html",
            data: {
                reqNumber: reqNumber,
            },
            complete: function() {
                $('#iconLoad').hide();
                $('#iconRefresh').show();
            },
            success: function(data) {
                $('#tableMarginalDeposit').html(data);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert("Failed to get where column list, please try again");
            }
        });

    }

    function inquiryRekeningKlaim() {
        const swiftcode = '<?= $this->swiftCodeParam ?: '' ?>';
        const acct_no = '<?= $this->nomorRekening ?: '' ?>';
        const acct_name = '<?= $this->namaRekening ?: '' ?>';
        $.ajax({
            url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquiryrekeningklaim'), null, true) ?>",
            type: 'GET',
            dataType: "JSON",
            data: {
                acct_no: `${acct_no}`,
                swiftcode,
                acct_name
            },
            success: function(data) {
                if (data.response_code == "0000") {
                    if (swiftcode.toLowerCase() == 'btanidja') {
                        if (data.account_name != acct_name) {
                            $('#iconErrorRek').show()
                            $('#errorRek').text('Nama dan nomor rekening tidak sesuai')

                        } else if (data.status != 1 && data.status != 4) {
                            $('#iconErrorRek').show()
                            $('#errorRek').text('Status rekening tidak aktif')

                        } else if (data.type_desc === 'Deposito' || data.type === 'T') {
                            $('#iconErrorRek').show()
                            $('#errorRek').text('Transfer Dana hanya dapat ditujukan ke Rekening SACA')

                        } else if (data.currency != 'IDR') {
                            $('#iconErrorRek').show()
                            $('#errorRek').text('Valuta rekening harus sama dengan valuta BG')

                        } else {
                            $('#iconErrorRek').hide()
                            $('#errorRek').text('')
                        }
                    } else {
                        if (data.valid) {
                            $('#iconErrorRek').hide()
                            $('#errorRek').text('')

                        } else {
                            $('#iconErrorRek').show()
                            $('#errorRek').text(data.message)
                        }
                    }
                } else {
                    $('#iconErrorRek').show()
                    $('#errorRek').text('Akun tidak ditemukan')
                }

                if ($('#error_validasi').is(':visible') || $('#iconErrorRek').is(':visible') || $('#iconErrorMD').is(':visible')) {
                    $('#chkterms').attr('disabled', true);
                }

            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.info(thrownError);
                $('#chkterms').attr('disabled', true);
                alert("Failed to get where column list, please try again");
            }
        });
    }

    function rejectmodal() {

        $('#dialog_box').modal('show');

        $("#btn_delete_one").attr('onclick', 'if($("#PS_REASON3").val() == ""){alert("Please fill the notes");}else{$("#dialog_box").modal("hide");$("<input>", {type: "hidden",name: "reject",value: "reject"}).appendTo("#reviewForm");$("#reviewForm").submit();}');
    }

    function revermodal() {

        $('#dialog_box_rever').modal('show');

        $("#btn_delete_rever").attr('onclick', 'if($("#PS_REASON4").val() == ""){event.preventDefault();alert("Please fill the notes");}else{$("#dialog_box_rever").modal("hide");$("<input>", {type: "hidden",name: "reqrever",value: "reqrever"}).appendTo("#reviewForm");$("#reviewForm").submit();}');
    }


    function repairmodal() {

        $('#dialogrepair_box').modal('show');


        $("#btn_delete_repair").attr('onclick', 'if($("#PS_REASON2").val() == ""){event.preventDefault();alert("Please fill the notes");}else{$("#dialogrepair_box").modal("hide");$("<input>", {type: "hidden",name: "repair",value: "repair"}).appendTo("#reviewForm");$("#reviewForm").submit();}');
    }
</script>