@charset "utf-8";
/* CSS Document */
html, body {
	height:100%;
}
.navbar-inverse-mandiri {
  background-image: url(../img/header_mandiri.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
	min-height:80px;
	
}

.navbar-inverse-nobu {
   background: url(../img/header_nobu.png) center center cover no-repeat fixed;
	
}

.button-right{
	position:relative;
	float:right;
}

footer > p {
	font-size:x-small;
}

.text_user_note {
	margin-left:10%;
	margin-right:10%;
}

.button-mandiri {
  display: inline-block;
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: inherit;
  border: 3px solid;
  padding: 13px 85px;
  margin: 20px; 
  max-width:280px;
  }
.button-mandiri:hover {
  -webkit-transition: 200ms ease-in;
     -moz-transition: 200ms ease-in;
       -o-transition: 200ms ease-in;
          transition: 200ms ease-in; }


.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.button-nobu {
  display: inline-block;
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: inherit;
  border: 3px solid;
  padding: 13px 85px;
  margin: 20px;
  max-width:280px;
   }
   
   
*::after, *::before {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
.button3 {
    background-color: rgb(236, 25, 40);
        border-color: rgb(236, 25, 40);
    color: rgb(255, 255, 255);
}

.espaybutton {
    background-color: rgb(0, 103, 148);
	border-color: rgb(0, 193, 215);

    color: rgb(255, 255, 255);
}

.espaybutton:hover {
	text-decoration:none;
  background-color: rgba(255,255,255,0);
 border-color: rgb(0, 193, 215);
  color: rgb(0, 103, 148); 
 }
.button-nobu-small {
    border: 3px solid;
    display: inline-block;
    font-family: "Arial",sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
    max-width: 280px;
    padding: 13px 20px;
    text-decoration: inherit;
}
.button-nobu-small:hover {
  -webkit-transition: 200ms ease-in;
     -moz-transition: 200ms ease-in;
       -o-transition: 200ms ease-in;
          transition: 200ms ease-in; }
.button-nobu:hover {
  -webkit-transition: 200ms ease-in;
     -moz-transition: 200ms ease-in;
       -o-transition: 200ms ease-in;
          transition: 200ms ease-in; }


.button3 {
  background-color: rgb(236,25,40);
  border-color: rgb(236,25,40);
  color: rgb(255,255,255); }
.button3:hover {
	text-decoration:none;
  background-color: rgba(255,255,255,0);
  border-color: rgb(236,25,40);
  color: rgb(236,25,40); 
 }

.button2 {
  background-color: rgb(0,61,121);
  border-color: rgb(0,61,121);
  color: rgb(255,255,255); }
.button2:hover {
	text-decoration:none;
  background-color: rgba(255,255,255,0);
  border-color: rgb(0,61,121);
  color: rgb(0,61,121); 
 }

footer {
	/*margin-left:20px;
	margin-right:20px;*/
}
.tbl-custom > tbody > tr > td {
	vertical-align:middle;
}

.panel-body .box {
    margin: 10px;
}
.pnl-content-atm .box .lbl-rek {
    border: 1px solid #666666;
    border-radius: 7px;
    color: #000;
    font-weight: bold;
    padding: 3px 5px;
}

.border-right{
	border-right:1px dashed #999;
}

.wrapper {	
	margin-top: 0px;
  margin-bottom: 0px;
}
.square {
	border:1px solid #CCC;
	padding:5px;
}

hr{
	margin-top:5px;
	margin-bottom:5px;}
	

.form-signin {
  max-width: 40%;
  padding: 1% 2% 2%;
  margin: 0 auto;
  background-color:#f4f4f4;
  border: 1px solid rgba(0,0,0,0.1);  

}

.table-detail {
  max-width: 40%;
  padding: 1% 2% 2%;
  margin: 0 auto;
  background-color:#f4f4f4;
  border: 1px solid rgba(0,0,0,0.1);  

}

.panel-detail {
  max-width: 50%;
  padding: 1% 2% 2%;
  margin: 0 auto;
  background-color:#f4f4f4;
  border: 1px solid rgba(0,0,0,0.1);  

}

.step-point{
	background:#5cb3b9;
		border-radius: 50%;
	width:20px;
	height:20px; 
	color:#fff;
	font-weight:bold;
	padding:0px 6px 5px;
}
.step-table > tbody > tr > td {
margin:5px;
padding:4px;
	
}

.step-table > tbody > tr > td:nth-child(1) {
vertical-align:top;
	
}

.step-table > tbody > tr > td{
	padding:2px;
	text-align:left;
	vertical-align:central;
	
}


.form-horizontal .control-label-value {
	 margin-bottom: 0;
    padding-top: 7px;
    text-align: left;
}

.form-signin-nobu {
  max-width: 60%;
  padding: 1% 2% 2%;
  margin: 0 auto;
 /* background-color:#f4f4f4;
  border: 1px solid rgba(0,0,0,0.1);  */

}

.order-detail-form {
 /* max-width: 80%;*/
 /* padding: 1% 2% 2%;*/
 /* margin: 0 auto;*/
 /* background-color:#f4f4f4;
  border: 1px solid rgba(0,0,0,0.1);  */

}



.order-detail-form-atm {
  max-width: 100%;
 /* padding: 1% 2% 2%;*/
  margin: 0 auto;
 /* background-color:#f4f4f4;
  border: 1px solid rgba(0,0,0,0.1);  */

}

.pricetag {
	color:#F00;
	font-weight:800;
}

form.order-detail-form > .form-custom {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
    display: block;
    font-size: small;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.panel-default > .panel-heading-sgo {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#005183+0,00c1d7+100 */
background: #005183; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #005183 0%, #00c1d7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #005183 0%,#00c1d7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #005183 0%,#00c1d7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005183', endColorstr='#00c1d7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    border-color: #fff;
    color: #fff;
	padding: 5px 10px;
	font-weight:bold;
}

form.order-detail-form-atm > .form-custom {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
    display: block;
    font-size: small;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 40%;
}

form.cc > .form-custom{
 background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
    display: block;
    font-size: small;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;	
}

table > tbody > tr > td > .select-custom {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
    /*display: block;*/
    font-size: small;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width:100%;
}

form.order-detail-form .select-custom {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
    /*display: block;*/
    font-size: small;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    max-width:600px;
}

form.order-detail-form > label.smalltext {
	font-size:smaller;
}

#last {
    overflow:auto;
    display:block;
}

#img_visa{
	visibility:visible;
}

.input-cc >input[type=text] {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
   
    font-size: small;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  
}
.input-ccv {
	margin-top:10px;
	
}

.input-ccv >input[type=text] {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
   
    font-size: small;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 50px;
}

.input-ccv >select {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
   
    font-size: small;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    
}

.tbl-custom > tbody > tr > td, .tbl-custom > tbody > tr > th, .tbl-custom> tfoot > tr > td, .tbl-custom > tfoot > tr > th, .tbl-custom > thead > tr > td, .tbl-custom > thead > tr > th {
	padding: 2.5px;
}

form.cc > table > tbody > tr > td > input.ccv {
	 background-color: #fff;
 
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
   	width:100px;
    font-size: small;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;

}


.sub-label {
	font-size:13px;
	font-style:italic;
	color:#666;	
}

td > form.order-detail-form-atm > .form-custom {
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
    display: block;
    font-size: small;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
form.cc > .cc-number,  form.cc > .cc-name {
	display:inline-block;
}

 form.cc >.cc-number {
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
 	width:50%;
    font-size: small;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 10px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
   
}

 form.cc > .cc-name {
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
    color: #000;
 	width:50%;
    font-size: small;
    height: 40px;
   
    padding: 6px 10px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
   
}
.sub-label-header {
	font-size:14px;
	font-style:italic;
	color:#666;	
}

p.label-total {
	font-weight:bold;
	padding:0;
	margin:0;
}

form.order-detail-form > .form-custom-captcha{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
    display: block;
    font-size: small;
    height: 30px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 50%;
}

.header-title {
	text-align:center;
	font-size:large;
	
}



form.order-detail-form > label {
		margin:3% 0% 1%;
		color:#000;
}



.form-signin > p {
	color:#000;
}
	

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}


form.form-signin > .form-custom  {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
    display: block;
    font-size: medium;
    height: 30px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

form.form-signin .captcha{
   
    width:50%;
	 padding: 6px 12px;
}

form.form-signin > label.smalltext {
	font-size:medium;
	font-weight:normal;
}

form.form-signin-nobu > label.smalltext {
	font-size:medium;
	font-weight:normal;
}

form.form-signin > a {
	text-decoration:underline;
	color:#003d79;	
}

form.form-signin > label {
		margin:3% 0 1%;
		color:#000;
}

form.form-signin-nobu > .form-custom {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
    display: block;
    font-size: small;
    height: 30px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 70%;
}

form.form-signin-nobu > .form-custom-captcha{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
    display: block;
    font-size: small;
    height: 30px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 50%;
}



form.form-signin-nobu > label {
		margin:3% 2% 1%;
		color:#000;
}

.panel-n {
	border:1px solid #ee1c25;
	margin-bottom:5px;	
}

.panel-default{
	margin-bottom:5px;
}

.panel-success {
	border:2px solid #009900;
	color:#009900;
}

.panel-body-n {
    padding: 5px;
	font-size:large;
	text-align:center;
}

.note-login {
	display:inline;
	float:left;
}

form .order-detail-form > h1, h2, h3, h4, h5 {
	margin:0;
	padding:0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #005385;
    border-color: #00b8d2 #00b8d2 transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: default;
}

#container-content-hiden {
	display:none;
}

.nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 0;
    line-height: 1.42857;
    margin-right: 2px;
	 background-color: #f4f4f4;
	 color:#666;
	 padding: 7px;
}

.nav-tabs > li > a:hover {
    border: 1px solid #00b8d2;
    border-radius:  0;
    line-height: 1.42857;
    margin-right: 2px;
	 background-color: #f4f4f4;
	 color:#005385;
	  cursor: pointer;
}

fieldset.optionGroup
    {
    float: none;
   
           }
fieldset.optionGroup label
    {
    display: inline;
    float: none;
    width: 100px;
    }
fieldset.optionGroup input
    {
    float:none;
    margin: 0px;
    width: 20px;
    position:relative;
   
    }
.poweredespay{
	float:right !important;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.poweredespay{
	float:left !important;
}
	.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

	.nav > li > a {
    display: block;
    padding: 5px;
    position: relative;
	font-size:medium;
}

.nav-tabs > li {
    float: none;
    margin-bottom: -1px;
}
.jp-card-container {
    height: 200px;
    margin: auto;
    max-width: 100%;
    perspective: 1000px;
    position: relative;
    width: 200px;
    z-index: 1;
}
   .button-mandiri {
	  display: inline-block;
	  font-family: 'Arial', sans-serif;
	  font-weight: 600;
	  font-size: 14px;
	  text-decoration: inherit;
	  border: 3px solid;
	  padding: 13px 85px;
	
   }
   
     .button-nobu {
	  display: inline-block;
	  font-family: 'Arial', sans-serif;
	  font-weight: 600;
	  font-size: 14px;
	  text-decoration: inherit;
	  border: 3px solid;
	  padding: 13px 70px;
	
   }
   
   footer p.block-left{
	  text-align:center;
   }
    footer p.block-right{
	  vertical-align:central;
   }
   
   .form-signin {
  max-width: 90%;
  padding: 1% 2% 2%;
  margin: 0 auto;
  background-color:#e2ebf1;
  border: 1px solid rgba(0,0,0,0.1);  

}

.form-signin-nobu {
  max-width: 90%;
  padding: 1% 2% 2%;
  margin: 0 auto;
/*  background-color:#fbe7e9;
  border: 1px solid rgba(0,0,0,0.1);  */

}

form.form-signin > .form-custom {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
    display: block;
    font-size: 7px;
    height: 30px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

form.form-signin-nobu > .form-custom {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
    display: block;
    font-size: 11px;
    height: 30px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

form.form-signin-nobu > .form-custom-captcha {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
    display: block;
    font-size: 11px;
    height: 30px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 60%;
}

form.form-signin-nobu > label.smalltext {
    font-size: small;
    font-weight: normal;
}
 .btn-group-sm > .btn, .btn-sm {
    border-radius: 3px;
    font-size: 9px;
    line-height: 1.5;
    padding: 5px 10px;
}  

.input-cc >input[type=text] {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
   
    font-size: small;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    max-width:23.8%;
}
.order-detail-form-atm {
  max-width: 100%;
 /* padding: 1% 2% 2%;*/
  margin: 0 auto;
 /* background-color:#f4f4f4;
  border: 1px solid rgba(0,0,0,0.1);  */

}
form.order-detail-form-atm > .form-custom {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
    display: block;
    font-size: small;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
   
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1000px) {
	.border-right{
		border-right:none;
		border-bottom:1px dashed #999;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}
