<h3><?= $this->language->_($this->master_bank_app_name . ' - Online Registration ') ?></h3>
<hr>
<div class="wizard-container">
	<div class="card wizard-card-front" data-color="green" id="wizardProfile">
		<center>
			<?php echo $this->language->_($this->master_bank_app_name . ' - Registrasi Online Sukses.<br/>
			Customer Relation Officer kami akan menghubungi Anda untuk proses selanjutnya.<br/>Terima Kasih') ?>
			<br /><br />
			<a href="<?= $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), null, true) ?>" class="btn btn-sm btn-primary"><?= $this->language->_('Kembali') ?></a>
		</center>
	</div>
</div>

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', () => {
		document.querySelectorAll('div')[1].className = '';
	});
</script>