<script>

$(document).ready(function() {
	update();
	 });

function update()
{
	var temp = $('.radiobut:checked').val();
	$("select.statUpdate").val(temp);
}	
</script>
<?php $this->layout()->setLayout('popup');
$disabled = $this->disabled;
if(!$this->hasPrivilege('EXUD'))
{
	$disabled = 'disabled';
}
//Zend_Debug::dump($this->result[0]['type'])?>

<div class="tabheader" id="tabheader">Payment Exception Detail</div>
<h2>Payment Information</h2>
<table border="0" cellspacing="0" cellpadding="0" class="tableform" width="600">
	<?php $amount = Application_Helper_General::displayMoney($this->total);?>
	<tr>
		<td class="tdform-even">&nbsp; Payment Ref#</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['payref'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Payment Status</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['paystatus'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Company</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['custid'].'-'.$this->result2['custname'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Payment Subject</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['paysubject'];?></td>
	</tr>
	<?php 
	if($this->result[0]['type'] == 4 || $this->result[0]['type'] == 6)
	{?>
	<tr>
		<td class="tdform-even">&nbsp; Source Account</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result[0]['sourceacct'].' ['.$this->result[0]['sourceccy'].']'.' - '.$this->result[0]['sourcename'].' / '.$this->result[0]['sourcealname'];?></td>
	</tr>
	<?php 
	}
	else
	{?>
	<tr>
		<td class="tdform-even">&nbsp; Beneficiary Account</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result[0]['benefacct'].' ['.$this->result[0]['benefccy'].']'.' - '.$this->result[0]['benefname'].' / '.$this->result[0]['benefalname'];?></td>
	</tr>
	<?php 
	}?>
	<tr>
		<td class="tdform-even">&nbsp; Created Date</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo Application_Helper_General::convertDate($this->result2['created'],$this->displayDateTimeFormat,$this->defaultDateFormat);?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Updated Date</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo Application_Helper_General::convertDate($this->result2['updated'],$this->displayDateTimeFormat,$this->defaultDateFormat);?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Payment Date</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo Application_Helper_General::convertDate($this->result2['paydate'],"dd MMM yyyy",$this->defaultDateFormat);?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Releaser</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['releaser']?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Challenge Code</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['ccode']?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Amount</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result2['sourceccy'].' '.$amount?></td>
	</tr>
</table>
<br />
<br />
<?php 
if($this->result[0]['type'] == 4 || $this->result[0]['type'] == 6)
{
?>
	<h2>Transfer To</h2>
<?php 
}
else
{?>
	<h2>Transfer From</h2>
	
<?php 
}?>
<table width="600" cellpadding="2" cellspacing="0" border="1"
	class="tableform">
	<tr>
		<th valign="top">No</th>
		<th valign="top">Trans ID</th>
		<?php 
		if($this->result[0]['type'] == 4 || $this->result[0]['type'] == 6)
		{
		?>
			<th valign="top">Beneficiary Account</th>
		<?php 
		}
		else
		{?>
			<th valign="top">Source Account</th>
			
		<?php 
		}?>
		<th valign="top">Amount</th>
		<th valign="top">Message</th>
		<th valign="top">Status</th>
	</tr>
	<?php 
	$i = 1;
	foreach($this->result as $list)
	{
		if($this->result[0]['type'] == 4 || $this->result[0]['type'] == 6)
		{
			$acct = $list['benefacct'].' ['.$list['benefccy'].']'.' - '.$list['benefname'].' / '.$list['benefalname'];
		}
		else
		{
			$acct = $list['sourceacct'].' ['.$list['sourceccy'].']'.' - '.$list['sourcename'].' / '.$list['sourcealname'];
		}
		
		$amount2 = Application_Helper_General::displayMoney($list['transamt'] );
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		$transferstatus = $list['status'];
		echo '<tr>
					<td class="'.$td_css.'">'.$i.'</td>
					<td class="'.$td_css.'">'.$list['transid'].'</td>
					<td class="'.$td_css.'">'.$acct.'</td>
					<td class="'.$td_css.'">'.$list['sourceccy'].' '.$amount2.'</td>
					<td class="'.$td_css.'">'.$list['message'].'</td>
					<td class="'.$td_css.'">'.$transferstatus.'</td>
			</tr>';
		$i++;
 }?>
</table>
<br />
<br />
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml'),null,true)?>" method="post">
<h2>PAYMENT AND TRANSACTION STATUS UPDATE</h2>
<b>Update Payment Status to :</b><br />
<input class="radiobut" type="radio" onclick="update();" checked="checked" value="6" name="radiobut" <?php echo $disabled?>>
<span class="errmsg">Failed</span>
&nbsp;(All transaction status will also be updated to failed)
<hr>
<input class="radiobut" type="radio" onclick="update();" value="5" name="radiobut" <?php echo $disabled;?>>
<span class="successmsg">Success</span>
&nbsp;(Update transaction status below)
<br />
<br />
<table width="600" cellpadding="2" cellspacing="0" border="1"
	class="tableform">
	<tr>
		<th valign="top">No</th>
		<th valign="top">Trans ID</th>
		<?php 
		if($this->result[0]['type'] == 4 || $this->result[0]['type'] == 6)
		{
		?>
			<th valign="top">Beneficiary Account</th>
		<?php 
		}
		else
		{?>
			<th valign="top">Source Account</th>
			
		<?php 
		}?>
		<th valign="top">Amount</th>
		<th valign="top">Message</th>
		<th valign="top">Status</th>
	</tr>
	<?php 
	$i = 1;
	foreach($this->result as $list)
	{
		if($this->result[0]['type'] == 4 || $this->result[0]['type'] == 6)
		{
			$acct = $list['benefacct'].' ['.$list['benefccy'].']'.' - '.$list['benefname'].' / '.$list['benealname'];
		}
		else
		{
			$acct = $list['sourceacct'].' ['.$list['sourceccy'].']'.' - '.$list['sourcename'].' / '.$list['sourcealname'];
		}
		
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		$amount3 = Application_Helper_General::displayMoney($list['transamt'] );
		echo '<tr>
					<td class="'.$td_css.'">'.$i.'</td>
					<td class="'.$td_css.'">'.$list['transid'].'</td>
					<td class="'.$td_css.'">'.$acct.'</td>
					<td class="'.$td_css.'">'.$list['sourceccy'].' '.$amount3.'</td>
					<td class="'.$td_css.'">'.$list['message'].'</td>
					<td class="'.$td_css.'"><select class="statUpdate" name="'.$list['transid'].'" '.$disabled.'>
							<option value="6">Failed</option>
							<option value="5">Success</option>
						</select></td>
			</tr>';
		$i++;
 }?>
</table>
<br />
<input type="button" value="Close" onclick="window.close()" class="inputbtn"/>&nbsp;
<?php echo $this->formSubmit('submit','Submit',array('class'=>'inputbtn',$disabled=>$disabled)); ?>
</form>
<?php if($this->disabled)
{
	echo "<br /><i>*No changes allowed for this record while awaiting approval for previous change</i>";
}?>