<?php 
require_once 'General/SystemBalance.php';
?>

<style>
  input.currency{ width: 200px; font-size: 10px; }
  ul { padding-left:10px; }
  h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed }
  body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; }
  b { font-weight:bold; font-size:11px }
  td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; }
  a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; }
  .tbl-evencontent { background-color: #fffbef; padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
  .tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; }
  .tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; }
  .errmsg { font-weight:bold; font-size:11px; color:#FF0000 }
  body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
  -webkit-print-color-adjust:exact; /*chrome*/
  -moz-print-color-adjust:exact; /*mozila*/
  -o-print-color-adjust:exact; /*opera*/
  -ms-print-color-adjust:exact; /*ie*/
  }

  td.centeralign{
    text-align: center;
  }

</style>
<br>
<div class="col-md-12" align="center">
  <h3 class="homeCardText"><?=$this->language->_('Period : ').$this->formatedMonth; ?></h3>
</div>

  <h2 class="homeCardText" style="text-align: center;">Total: IDR <?php echo Application_Helper_General::displayMoney($this->pdfTotalprice); ?></h2>
  <br/>

  <div class="row">
        <div class="col-md-12">

          <table width="100%" cellspacing="0">
            <thead>
              <tr>
                <th class="tdform-sub"><?= $this->language->_('Bank Name') ?></th>
                <th class="tdform-sub">SKN Fee</th>
                <th class="tdform-sub">SKN Hit</th>
                <th class="tdform-sub">SKN Charges</th>
                <th class="tdform-sub">RTGS Fee</th>
                <th class="tdform-sub">RTGS Hit</th>
                <th class="tdform-sub">RTGS Charges</th>
                <th class="tdform-sub">Total SKN RTGS</th>   
              </tr>
            </thead>
            <tbody>
              <?php
              $i = 0;
              if (!empty($this->dataTable1)) {

                $setting = new Settings();
                $global_charges_rtgs = $setting->getSetting('global_charges_rtgs');
                $global_charges_skn = $setting->getSetting('global_charges_skn');
                $alltotalchargesrtgs = 0;
                $totalchargesrtgs = 0;

                foreach ($this->dataTable1 as $key => $d_value) {
                 
                  $skn = 0;
                  $rtgs = 0;
                 
                  foreach ($d_value as $ht => $ht_value) {

                    $this->serviceType1[$ht] == 'skn' ? $skn = $ht_value[0] : '';
                    $this->serviceType1[$ht] == 'rtgs' ? $rtgs = $ht_value[0] : '';

                    $skn_fee = $ht_value[2];
                    $rtgs_fee = $ht_value[3];

                    if ($rtgs_fee != NULL || !empty($rtgs_fee)) {

                      $rtgscharges = $rtgs_fee * $rtgs;  
                      $amountrtgs = Application_Helper_General::displayMoney($rtgs_fee);

                    }else{

                      $rtgscharges = $global_charges_rtgs * $rtgs;
                      $amountrtgs = Application_Helper_General::displayMoney($global_charges_rtgs);

                    }

                    if ($skn_fee != NULL || !empty($skn_fee)) {

                      $skncharges = $skn_fee * $skn; 
                      $amountskn = Application_Helper_General::displayMoney($skn_fee);

                    }else{

                      $skncharges = $global_charges_skn * $skn;
                      $amountskn = Application_Helper_General::displayMoney($global_charges_skn);

                    }

                    $totalchargesrtgs = $rtgscharges + $skncharges;

                  }

                  $alltotalchargesrtgs = $alltotalchargesrtgs + $totalchargesrtgs;

                  $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-evencontent';
                  echo '<tr>  
                              <td class="' . $td_css . '">' . $this->DEBIT_BANKarr[$key] . '</td>
                              <td class="' . $td_css . ' centeralign">'.$amountskn.'</td>
                              <td class="' . $td_css . ' centeralign">' . number_format($skn) . '</td>
                              <td class="' . $td_css . ' centeralign">'.Application_Helper_General::displayMoney($skncharges).'</td>
                              <td class="' . $td_css . ' centeralign">'.$amountrtgs.'</td>
                              <td class="' . $td_css . ' centeralign">' . number_format($rtgs) . '</td>
                              <td class="' . $td_css . ' centeralign">'.Application_Helper_General::displayMoney($rtgscharges).'</td>
                              <td class="' . $td_css . ' centeralign">'.Application_Helper_General::displayMoney($totalchargesrtgs).'</td>
                        </tr>';
                  $i++;
                  
                }
              } else {
                echo '<tr><td colspan="8" align="center">---- No Data ----</td></tr>';
              }
              ?>
            </tbody>
          </table>
          <label>* <?= $this->language->_('estimated cost of interbank transfers') ?></label>
        </div>
      </div>