<?PHP
$this->language = Zend_Registry::get('language');
?>
<?php
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>

<div style="display:none" class="hiddenLogo" style="padding: 0px 20px 0px 0px"><img src="/images/logo/logo_pdf969.jpg" border="0" /></div>

<br>

<div class="container-fluid" style="padding-left: 0; padding-right: 0;">
	<div class="col-md-12" style="padding-left: 3%; border: 1px solid; border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
		<table width="100%">
			<tr>
				<td>
					<table>
						<tr>
							<th style="text-align: left; padding: 0;" colspan="3"><b>E-Registration Form</b></th>
						</tr>
						<tr>
							<td style="color: grey;">Company Name</td>
							<td>&nbsp;&nbsp;</td>
							<td style="color: grey;"><strong><?php echo $this->custName; ?></strong></td>
						</tr>
						<tr>
							<td style="color: grey;">Company NPWP</td>
							<td>&nbsp;&nbsp;</td>
							<td style="color: grey;"><strong><?php echo $this->compNpwp; ?></strong></td>
						</tr>
						<tr>
							<td style="color: grey;">Company Type</td>
							<td>&nbsp;&nbsp;</td>
							<td style="color: grey;"><?php echo $this->compType; ?></td>
						</tr>
						<tr>
							<td style="color: grey;">Economic Sector</td>
							<td>&nbsp;&nbsp;</td>
							<td style="color: grey;"><?php echo $this->businessType; ?></td>
						</tr>
						<tr>
							<td style="color: grey;">Go Public</td>
							<td>&nbsp;&nbsp;</td>
							<td style="color: grey;"><?php echo $this->gopublic; ?></td>
						</tr>

						<tr>
							<td style="color: grey;">Golongan Debitur Code</td>
							<td>&nbsp;&nbsp;</td>
							<td style="color: grey;"><?php echo $this->debiturcode; ?></td>
						</tr>

						<tr>
							<td style="color: grey;">Address</td>
							<td>&nbsp;&nbsp;</td>
							<td style="color: grey;"><?php echo $this->address; ?></td>
						</tr>

						<tr>
							<td style="color: grey;">Village </td>
							<td>&nbsp;&nbsp;</td>
							<td style="color: grey;"><?php echo $this->cust_village; ?></td>
						</tr>

						<tr>
							<td style="color: grey;">District</td>
							<td>&nbsp;&nbsp;</td>
							<td style="color: grey;"><?php echo $this->cust_district; ?></td>
						</tr>

						<tr>
							<td style="color: grey;">City</td>
							<td>&nbsp;&nbsp;</td>
							<td style="color: grey;"><?php echo $this->city; ?></td>
						</tr>
						<tr>
							<td style="color: grey;">Zip</td>
							<td>&nbsp;&nbsp;</td>
							<td style="color: grey;"><?php echo $this->zip; ?></td>
						</tr>
						<!-- <tr>
		            <td style="color: grey;">State / Province</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->state; ?></td>
		          </tr> -->
						<tr>
							<td style="color: grey;">Country</td>
							<td>&nbsp;&nbsp;</td>
							<td style="color: grey;"><?php echo $this->country; ?></td>
						</tr>
						<?php if (false) { ?>
							<tr>
								<td style="color: grey;">Service Type</td>
								<td>&nbsp;&nbsp;</td>
								<td style="color: grey;"><?php echo $this->serviceType; ?></td>
							</tr>
						<?php } ?>
						<tr>
							<td style="color: grey; width: 27%;">Contact Person</td>
							<td>&nbsp;&nbsp;</td>
							<td style="color: grey;"><?php echo $this->contactPerson; ?></td>
						</tr>
						<tr>
							<td style="color: grey; width: 27%;">Contact Number</td>
							<td>&nbsp;&nbsp;</td>
							<td style="color: grey;"><?php echo $this->custnumber; ?></td>
						</tr>
						<tr>
							<td style="color: grey; width: 27%;">Company Phone</td>
							<td>&nbsp;&nbsp;</td>
							<td style="color: grey;"><?php echo $this->contactNumber; ?></td>
						</tr>
						<tr>
							<td style="color: grey; width: 27%;">Contact Email</td>
							<td>&nbsp;&nbsp;</td>
							<td style="color: grey;"><?php echo $this->contactEmail; ?></td>
						</tr>
						<tr>
							<td style="color: grey; width: 27%;">Company Website</td>
							<td>&nbsp;&nbsp;</td>
							<td style="color: grey;"><?php echo $this->compWebsite; ?></td>
						</tr>
						<!-- <tr>
		            <td style="color: grey;">Company Limit (IDR)</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo Application_Helper_General::displayMoney($this->limitIdr); ?></td>
		          </tr>
		          <tr>
		            <td style="color: grey;">Company Limit (USD)</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo Application_Helper_General::displayMoney($this->limitUsd); ?></td>
		          </tr> -->
					</table>
				</td>
				<!-- <td width="45%">
				<table width="100%">
		          <tr>
		            <th style="text-align: left; padding: 0;" colspan="3"><b>&nbsp;</b></th>
		          </tr>
		         
		         
		          <tr>
		            <td style="color: grey; width: 27%;">&nbsp;</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;">&nbsp;</td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">&nbsp;</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;">&nbsp;</td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">&nbsp;</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;">&nbsp;</td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">&nbsp;</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;">&nbsp;</td>
		          </tr>
		           <tr>
		            <td style="color: grey; width: 27%;">&nbsp;</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;">&nbsp;</td>
		          </tr>
		           <tr>
		            <td style="color: grey; width: 27%;">&nbsp;</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;">&nbsp;</td>
		          </tr>
		        </table>
			</td> -->
			</tr>
		</table>
	</div>
</div>

<br>
<br>

<!-- <div class="container-fluid" style="padding-left: 0; padding-right: 0; margin-top: 20px;">
  <div class="col-md-12" style="padding-left: 3%; border: 1px solid; border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
	<table width="100%">
		<tr>
			<td>
				<table width="100%">
		          <tr>
		            <th style="text-align: left; padding: 0;" colspan="3"><b>File Submited</b></th>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;"><?= $this->language->_('Akta Pendirian') ?></td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->fileName[0]; ?></td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;"><?= $this->language->_('Akta Perubahan Terakhir') ?></td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->fileName[1]; ?></td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;"><?= $this->language->_('SIUP / TDP') ?></td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->fileName[2]; ?></td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;"><?= $this->language->_('ID (KTP/SIM/PASPOR)') ?></td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->fileName[3]; ?></td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;"><?= $this->language->_('Others') ?></td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->fileName[4] == '' ? '-' :  $this->fileName[4]; ?></td>
		          </tr>
		        </table>
			</td>
		</tr>
	</table>
  </div>
</div>

<br>
<br> -->
<h3>Company Account</h3>

<div class="portlet-body flip-scroll">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" class="table table-sm table-striped">
		<tr class="headercolor tdform-sub" id="tdform-sub">
			<th class="tbl-headercontent tablehead"><?php echo $this->language->_('No'); ?></th>
			<th class="tbl-headercontent tablehead"><?php echo $this->language->_('Account Number'); ?></th>
			<th class="tbl-headercontent tablehead"><?php echo $this->language->_('Currency'); ?></th>
			<th class="tbl-headercontent tablehead"><?php echo $this->language->_('Account Name'); ?></th>
			<?php if (false) { ?>
				<th class="tbl-headercontent tablehead"><?php echo $this->language->_('Account Name Inquiry'); ?></th>
				<th class="tbl-headercontent tablehead"><?php echo $this->language->_('CIF'); ?></th>
				<th class="tbl-headercontent tablehead"><?php echo $this->language->_('Product Type'); ?></th>
			<?php } ?>
		</tr>
		<?php

		if ($this->bankacc) {
			$i = 1;
			foreach ($this->bankacc as $row) {

		?>

				<?php echo
				'<tr>
					<td class="' . $td_css . '">' . $i . '</td>
					<td class="' . $td_css . '">' . $row["ACCT_NO"] . '</td>
					<td class="' . $td_css . '">' . $spanCurrency . '</td>
					<td class="' . $td_css . '">' . $row['ACCT_NAME'] . '</td>
				</tr>';
				?>

			<?php
				$i++;
			}
		} else {
			?>
			<tr>
				<td class="tbl-oddcontent" colspan="7" align="center">
					<?= $this->language->_('No Record Found'); ?>
				</td>
			</tr>
		<?php } ?>
	</table>
</div>

<br>
<br>


<h3>Submission Workflow</h3>

<div class="portlet-body flip-scroll">
	<table width="100%" cellpadding="5" cellspacing="0" border="0" class="table table-sm table-striped">

		<tr>
			<td colspan="5">
				<div class="content-box">

					<table align="center" width="100%" cellpadding="3" cellspacing="0" border="0" class="tableform">
						<tr>
							<td align="center">
								<?php echo $this->makerNameCircle; ?>
							</td>
							<!--<td align="center">
											<img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="<?php echo $imgClass ?>">
										</td>-->
							<!--<td align="center" style="display: <?php echo $disrev; ?>">
											<?php echo $this->reviewerNameCircle; ?>
										</td>-->
							<td align="center">
								<img src="/assets/themes/assets/newlayout/img/arrow.PNG">
							</td>
							<td align="center">
								<?php echo $this->approverNameCircle; ?>
							</td>
							<td align="center">
								<img src="/assets/themes/assets/newlayout/img/arrow.PNG">
							</td>
							<td align="center">
								<?php echo $this->releaserNameCircle; ?>
							</td>
						</tr>
						<tr>
							<td align="center">
								<i class="fas fa-marker <?php echo $imgClass ?>" style="font-size:20px;color:#007934"></i>
							</td>

							<!--<td align="center">-->
							<!-- hanya jarak  -->
							<!--</td>-->

							<!--<td align="center" style="display: <?php echo $disrev; ?>">
											<i class="fas fa-glasses <?php echo $imgClass ?>" style="font-size:20px;color:#007934"></i>
										</td>-->

							<td align="center" style="display: <?php echo $disrev; ?>">
								<!-- hanya jarak  -->
							</td>

							<td align="center" style="display: <?php echo $disapp; ?>">
								<i class="far fa-check-circle <?php echo $imgClass ?>" style="font-size:20px;color:#007934"></i>

							</td>

							<td align="center" style="display: <?php echo $disapp; ?>">
								<!-- hanya jarak  -->
							</td>

							<td align="center">
								<i class="far fa-envelope <?php echo $imgClass ?>" style="font-size:20px;color:#007934"></i>
							</td>
						</tr>
						<tr>
							<td align="center">
								MAKER
							</td>

							<!--<td align="center">-->
							<!-- hanya jarak  -->
							<!--</td>-->

							<!--<td align="center" style="display: <?php echo $disrev; ?>">
											REVIEWER
										</td>-->

							<td align="center" style="display: <?php echo $disrev; ?>">
								<!-- hanya jarak  -->
							</td>

							<td align="center" style="display: <?php echo $disapp; ?>">
								APPROVER
							</td>

							<td align="center" style="display: <?php echo $disapp; ?>">
								<!-- hanya jarak  -->
							</td>

							<td align="center">
								RELEASER
							</td>
						</tr>
						<tr>
							<td align="center">
								<!-- <input type="checkbox" value="maker" name="check_maker" checked disabled> -->

								<img src="/images/icon/checked.png">

							</td>

							<!--<td align="center">-->
							<!-- hanya jarak  -->
							<!--</td>-->

							<td align="center" style="display: <?php echo $disrev; ?>">
								<!-- hanya jarak  -->
							</td>

							<td align="center" style="display: <?php echo $disapp; ?>">
								<img src="/images/icon/checked.png">
							</td>

							<td align="center" style="display: <?php echo $disapp; ?>">
								<!-- hanya jarak  -->
							</td>

							<td align="center">

								<img src="/images/icon/checked.png">

							</td>
						</tr>
						<tr style="display:none;">
							<td align="center">
								<!-- hanya jarak  -->
							</td>

							<td align="center">
								<!-- hanya jarak  -->
							</td>

							<td align="center" style="display: <?php echo $disrev; ?>">
								<!-- hanya jarak  -->
							</td>

							<td align="center" style="display: <?php echo $disrev; ?>">
								<!-- hanya jarak  -->
							</td>



							<td align="center" style="display: <?php echo $disapp; ?>">
								<!-- hanya jarak  -->
							</td>


						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>

</div>

<br>
<br>
<h3>User List</h3>

<div class="portlet-body flip-scroll">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" class="table table-sm table-striped">
		<tr class="headercolor tdform-sub" id="tdform-sub">
			<th class="tbl-headercontent tablehead"><?php echo $this->language->_('No'); ?></th>
			<th class="tbl-headercontent tablehead"><?php echo $this->language->_('User ID'); ?></th>
			<th class="tbl-headercontent tablehead"><?php echo $this->language->_('Email'); ?></th>
			<th class="tbl-headercontent tablehead"><?php echo $this->language->_('Privilege'); ?></th>
		</tr>
		<?php
		if (is_array($this->userList) && count($this->userList) == 0) {
		?>
			<tr>
				<td class="tbl-evencontent" colspan="4" align="center"><?php echo $this->language->_('There is currently no data in this section'); ?></td>
			</tr>
			<?php
		} else {
			$j = 1;
			foreach ($this->userList as $user) { ?>

				<tr>
					<td><?php echo $j; ?></td>
					<td><?php echo $user['USER_ID']; ?></td>
					<td><?php echo $user['USER_EMAIL']; ?></td>
					<td><?php echo $user['USER_PRIVI']; ?></td>
				</tr>
		<?php
				$j++;
			}
		}
		?>
	</table>
</div>

<br>
<br>
<br>
<br>

<!-- <h3>Terms and Condition</h3>  -->

<?= htmlspecialchars_decode($this->terms, ENT_COMPAT) ?>

<br>
<br>
<br>
<br>

<div width="100%" align="right">
	<div style="height: 100px; width: 150px; border: 1px solid; margin-right: 70px;">

	</div>
	<br>
	<br>
	<br>
	<hr style="height: 1px; width: 300px; float: right;background: black; ">
</div>