<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Bank Table'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Country'); ?>
											<i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
									<li>
	                    <?php echo $this->language->_('Import From File'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<?php
if($this->errorMsg)
{?>
	<div class="errmsg">
	<?php
	foreach($this->errorMsg as $key => $value)
	{
		echo $this->language->_($value).'</br>';
	}
		echo "</div></br>";
}?>
<div class="row content-box">
		<div class="form portlet-body col-md-12">
				<h5><?=$this->language->_('Country Management')?></h5>
				<div class="table-responsive">
					<table class="tableform" border="0" cellpadding="0" cellspacing="0" width="80%" align="left">
						<tbody>
						<tr>
						<td>
							<form name="acstat_query" enctype="multipart/form-data" method="post" action="">
								<table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped">
									<tr><th colspan="2" class="tdform-sub"><strong><?php echo $this->language->_('Import Country');?></strong></th></tr>
									<tr>
										<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Upload File');?> (<?php Echo $this->language->_('.txt only');?>)</td>
										<td class="tbl-evencontent" id="tbl-evencontent">
											<?php echo $this->formFile('document', $this->document, array('size' => 50)); ?>
											<br /><br /><i><?php echo $this->language->_('File Format : Country Code(2)Country Name(128)');?></i></td>
										</td>
									</tr>
								</table>
								<?php echo $this->formButton('back', $this->language->_('Back'), array('onclick' => "location.href='/country/index'", 'class' => 'btnwhite hov'));?>
								<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
								<?php echo $this->formReset('reset',$this->language->_('Reset'),array('class'=>'btngreen hov')); ?>
							</form>
						</tbody>
					</table>
				</div>

		</div>
</div>
