<link rel="stylesheet" href="/js/jqueryui/jquery-ui.css">
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="/js/jqueryui/external/jquery/jquery.js"></script>
<script src="/js/jqueryui/jquery-ui.js"></script>

<script type="text/javascript">

$(document).ready(function(){
    $('#chooseFile').bind('change', function () {
      var filename = $("#chooseFile").val();
      if (/^\s*$/.test(filename)) {
        $("#file-upload").removeClass('active');
        $("#noFile").text("No file chosen...");
      }
      else {
        $("#file-upload").addClass('active');
        $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
      }
    });

    $('#chooseFile2').bind('change', function () {
      var filename = $("#chooseFile2").val();
      if (/^\s*$/.test(filename)) {
        $("#file-upload2").removeClass('active');
        $("#noFile2").text("No file chosen...");
      }
      else {
        $("#file-upload2").addClass('active');
        $("#noFile2").text(filename.replace("C:\\fakepath\\", ""));
      }
    });
});

// function startRow(selected){
//   if ($(selected).is(':checked')) {
//     $(selected).siblings().prop('disabled', false);
//   }
//   else{
//     $(selected).siblings().prop('disabled', true); 
//   }
// }

</script>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?=$this->language->_('General')?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="inhouse"><?=$this->language->_('Reconciliation Adapter')?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="inhouse"><?=$this->language->_('Create New')?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>

<h5><?=$this->language->_('Create New Reconciliation Adapter Profile')?></h5>
<br/>

<?php if($this->error){ ?>
    <div class="errmsg"><?=html_entity_decode($this->report_msg)?></div><br />
<?php } ?>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" enctype="multipart/form-data" method="post">

    <div class="form-group row ">
        <label class="control-label col-md-2 pt-2"><?php echo $this->language->_('Upload Statement File'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
        <div class="col-md-10">
            <div class="file-upload" id="file-upload">
              <div class="file-select">
                <div class="file-select-button" id="fileName">Choose File</div>
                <div class="file-select-name" id="noFile"><?php echo (!empty($this->fileName) ? $this->fileName : 'Upload Your File Here...') ?></div>
                <input type="file" name="statementFile" id="chooseFile" onchange="this.form.submit()">
              </div>
            </div>
            <p class="text-black-50 m-0">* <?php echo $this->language->_('.csv file only'); ?></p>
        </div>
    </div>
    
    <div class="col-md-12 row">
      <div class="col-md-2"></div>
      <div class="col-md-10 pr-0">
        <div class="input-group">
            <!-- <input type="checkbox" name="checkStatementStartRow" id="checkStatementStartRow" value="1" class="mt-1 mr-1" onchange="startRow(this)"> -->
            <?php echo $this->language->_('Start from row: '); ?> 
            <input type="text" name="statementStartRow" class="form-control col-md-2 ml-3" style="height: 22px;" autocomplete="off" value="1">
        </div>
      </div>
    </div>
    

    <br>

    <div class="form-group row ">
        <label class="control-label col-md-2 pt-2"><?php echo $this->language->_('Upload Report File'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
        <div class="col-md-10">
            <div class="file-upload" id="file-upload2">
              <div class="file-select">
                <div class="file-select-button" id="fileName2">Choose File</div>
                <div class="file-select-name" id="noFile2"><?php echo (!empty($this->fileName) ? $this->fileName : 'Upload Your File Here...') ?></div>
                <input type="file" name="reportFile" id="chooseFile2" onchange="this.form.submit()">
              </div>
            </div>
            <p class="text-black-50 m-0">* <?php echo $this->language->_('.csv file only'); ?></p>
        </div>
    </div>
    
    <div class="col-md-12 row">
      <div class="col-md-2"></div>
        <div class="col-md-10 pr-0">
          <div class="input-group">
            <!-- <input type="checkbox" name="checkReportStartRow" id="checkReportStartRow" value="1" class="mt-1 mr-1" onchange="startRow(this)"> -->
            <?php echo $this->language->_('Start from row: '); ?> 
            <input type="text" name="reportStartRow" class="form-control col-md-2 ml-3" style="height: 22px;" autocomplete="off" value="1">
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
  
  <div class="col-md-12" align="center">
    <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick' => 'location.href= \'/reconadapter\'', 'class' => 'btnwhite hov'));?>
    <input type="submit" name="submit" class="btngreen hov" value="<?php echo $this->language->_('Submit'); ?>">
  </div>

</form>




