<script type="text/javascript">
	$(document).ready(function() {
		$('#fixTable').fixTableHeader();
	});
</script>

<?php

$query_string_params = Zend_Controller_Front::getInstance()->getRequest()->getQuery();
if (is_array($query_string_params)) {
	$qstring = '?';
	foreach ($query_string_params as $key => $val)
		$qstring .= $key . '=' . $val . '&';
	$qstring = substr($qstring, 0, -1);
} else
	$qstring = '';

$jqueryDateFormat = $this->dateJqueryFormat;

$changesTypeDescArr = $this->suggestionType['desc'];
$changesTypeCodeArr = $this->suggestionType['code'];
$changesFilterArr = array_flip($changesTypeCodeArr);
foreach ($changesFilterArr as $key => $val)
	$changesFilterArr[$key] = $this->language->_($changesTypeDescArr[$val]);
//Zend_Debug::dump($changesTypeCodeArr);
$changesFilterArr = array_merge(array('' => '-- ' . $this->language->_('Any Value') . ' --'), $changesFilterArr);



/*if($this->showTable)
{*/

//$paginatorCount = SGO_Helper_GeneralFunction::paginatorRecordCount($this->paginatorParam);
//$paginator = SGO_Paginator::factory($paginatorCount);

//create a paginator specific for this view
//$paginator = Zend_Paginator::factory($this->paginatorParam);

//set number of records to display per page
//$paginator->setItemCountPerPage(Zend_Registry::get('paging.defaults.itemCountPerPage'));
//set number of page number links to display
//$paginator->setPageRange(Zend_Registry::get('paging.defaults.pageRangeCount'));
//set scrolling style
//$paginator->setDefaultScrollingStyle(Zend_Registry::get('paging.defaults.scrollingStyle'));

//if($this->currentPage > $paginator->count())
//{
//$this->currentPage = 1;
//}
//$paginator->setCurrentPageNumber($this->currentPage);

//$paginator->setCurrentItems(SGO_Helper_GeneralFunction::paginatorFactory($this->paginatorParam, Zend_Registry::get('paging.defaults.itemCountPerPage'), $this->currentPage));



//$counter = (($this->currentPage-1) * $paginator->getItemCountPerPage()) + 1;
$counter = (($this->paginator->getCurrentPageNumber() - 1) * $this->paginator->getItemCountPerPage()) + 1;


//}

$listSuggestData  = array(
	//'General Setting'=>$this->language->_('General Setting'),
	//'Minimum Amount and Currency Available'=>$this->language->_('Minimum Amount and Currency Available'),
	// 'Holiday Setting'=>$this->language->_('Holiday Setting'),
	// 'Customer'=>$this->language->_('Customer'),
	// 'Bank Account'=>$this->language->_('Bank Account'),
	// 'User Account'=>$this->language->_('User Account'),
	// 'User Limit'=>$this->language->_('User Limit'),
	// 'User Daily Limit'=>$this->language->_('User Daily Limit'),
	// 'Approver Group'=>$this->language->_('Approver Group'),
	// 'Approver Group Boundary'=>$this->language->_('Approver Group Boundary'),
	// 'Backend User'=>$this->language->_('Backend User'),
	// 'Backend Group'=>$this->language->_('Backend Group'),
	// 'Charges'=>$this->language->_('Charges'),
	// 'Charges Template'=>$this->language->_('Charges Template'),
	'User Account' => $this->language->_('User Account'),
	'User List' => $this->language->_('User List'),
	'User Limit' => $this->language->_('User Limit'),
	'User Daily Limit' => $this->language->_('User Daily Limit'),
	'Approver Group' => $this->language->_('Approver Group'),
	'Approver Group Boundary' => $this->language->_('Approver Group Boundary'),
	// 'COA Account'=>'COA Account',
	// 'Charges Template'=>'Charges Template',
	// 'Charges'=>'Charges',
	// 'System Balance'=>'System Balance',
	// 'Global Scheme Parameter'=>'Global Scheme Parameter',
	// 'Scheme Configuration'=>'Scheme Configuration',
	// 'Physical Document Configuration'=>'Physical Document Configuration',
	// 'Root Community'=>'Root Community',
	// 'Principal'=>'Principal',
	// 'Community'=>'Community',
	// 'Member'=>'Member',
	// 'Assign User to Community'=>'Assign User to Community',
);
ksort($listSuggestData);
$listSuggestData = array('all' => '--' . $this->language->_('Any Value') . '--') + $listSuggestData;
?>

<div class="row hiddenprint">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('Approval Request') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>

				<li>
					<span class="inhouse"><?= $this->language->_('Data Change') ?></span>
				</li>

			</ul>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('div#sidebar-collapse').click(function() {
			if ($("#logo-title").is(":visible")) {
				$("#logo-title").hide();
				$("#logo-titles").hide();
			} else if ($("#logo-title").is(":hidden")) {
				$("#logo-title").show();
				$("#logo-titles").show();
			}
		})

		$('#createdStart').datepicker({
			format: 'dd/mm/yyyy',
			uiLibrary: 'bootstrap4'
		});
		$('#createdEnd').datepicker({
			format: 'dd/mm/yyyy',
			uiLibrary: 'bootstrap4'
		});
	});
</script>


<?php

//use built in view helper to generate form tag
// echo $this->form('formFilter',array('name'=>'filterForm','method' =>'get', 'action' =>''));
?>

<div class="row content-box">
	<div class="portlet-body form col-md-12">

		<div class="row">
			<div class="col-md-12">
				<h5><?= $this->language->_('Data Change') ?></h5>
			</div>
		</div>

		<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">

			<?php
			$optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
			foreach ($this->filterlist as $row) {
				$optArr .=  '<option value="' . $row . '" >' . $this->language->_($row) . '</option>';
			}
			// echo $optArr;die;
			?>

			<!-- <div class="row " id="logo-titles" style="margin-left: 0px">
				<?php
				if (!empty($this->wherecol)) {
				?>
					<script type="text/javascript">
						$(document).ready(function() {
							var ctrfilter = <?= count($this->wherecol); ?>;
							$("#logo-title").show();
							$("#where-").hide();
							$("#wherectr").val(ctrfilter)
						});
					</script>
				<?php
				}
				// print_r($this->whereval);die;
				foreach ($this->wherecol as $key => $value) {
				?>
					<div id="searchs" style="width: 100%">
						<?php
						$datetype = array('Saran Tanggal', 'Last Approved By', 'Updated Date');
						$selectlist = array("GROUP_ID", "GROUP_NAME", "Jenis Saran", "Status");
						$index = 0;



						?>
						<div id="where-<?= $ctr ?>">
							<div class="form-group row mt-12">
								<div class="col-md-4 form-inline">
									<select class='form-control event_select' id='wherecol-<?= $ctr ?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
										<option value="">-- <?= $this->language->_('Any Value') ?> --</option>
										<?php

										foreach ($this->filterlist as $row) {
											$colname = $row;
											if ($value == $colname) {
												$selected = "selected";
											} else {
												$selected = "";
											}
										?>
											<option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
										<?php } ?>
									</select>
								</div>

							</div>
						</div>

					</div>

				<?php
				}
				?>

			</div> -->
			<div class="row" id="logo-title" style="display: none">
				<div class="portlet-body form col-md-12">
					<!-- <h5><?= $this->language->_('Filter Search') ?></h5> -->
					<?php
					if (!empty($this->wherecol)) {
					?>
						<script type="text/javascript">
							$(document).ready(function() {
								$("#logo-title").show();
							});
						</script>
						<?php
					}
					if (!empty($this->wherecol)) {
						foreach ($this->wherecol as $key => $value) {
						?>
							<div id="searchs" style="width: 100%">
								<?php
								$datetype = array("PS_CREATED", "Saran Tanggal");
								$selectlist = array('Sarankan Data', 'CHANGES_TYPE', 'CHANGES_STATUS', "Status", "Jenis Saran");
								$index = 0;
								?>
								<div id="where-<?= $index ?>">
									<div class="form-group row mt-12">
										<div class="col-md-4 form-inline">
											<select class='form-control col-md-12 event_select' style='width:100%' id='wherecol-<?= $index ?>' name='whereco[]' onchange='getOpt(this)'>
												<option value="">-- <?= $this->language->_('Any Value') ?> --</option>
												<?php

												foreach ($this->filterlist as $row) {
													$colname = $row;
													if ($value == $colname) {
														$selected = "selected";
													} else {
														$selected = "";
													}
												?>
													<option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
												<?php } ?>
											</select>
										</div>
										<div class="col" style="display: none">
											<select class='form-control col-md-12' id='whereopt-<?= $index ?>' name='whereopt[]'>

												<?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
													<option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
													<option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
													<option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
													<option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
												<?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
													<option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
													<option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
												<?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
													<option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
													<option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
													<option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
													<option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
													<option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
												<?php } ?>
											</select>
										</div>
										<div class="col-md-6 form-inline" id='colvalue-<?= $key ?>'>
											<script type="text/javascript">
												$(document).ready(function() {
													var colval = "#colvalue-<?= $key ?>";
													var colomnname = "<?= $value ?>";
													// var colselect= "<?= $value ?>";
													var colselect = "colselect-<?= $key ?>";
													var ncolselect = "#colselect-<?= $key ?>";
													if (colomnname == 'TRA_AMOUNT' || colomnname == 'PS_TOTAL_AMOUNT' || colomnname == 'EQUIVALENT_AMOUNT_IDR' || colomnname == 'EQUIVALENT_AMOUNT_USD') {
														$(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20' autocomplete='off' id='" + colselect + "' class='form-control col-md-12' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
														$(colselect).val('<?= $this->whereval[$key] ?>');
													} else if (colomnname == 'Sarankan Data') {

														$(colval).append("<select class='form-control col-md-12' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

														var id = $("#tablename").find(":selected").val();
														$.ajax({
															url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => $this->controllername, 'action' => 'sugestdata'), null, true) ?>",
															type: 'GET',
															dataType: "html",
															data: {
																id: '<?= $this->whereval[$key] ?>'
															},
															success: function(data) {
																$(ncolselect).html(data);
															},
															error: function(xhr, ajaxOptions, thrownError) {
																alert("Failed to get where column list, please try again");
															}
														});

														$(colselect).val('<?= $this->whereval[$key] ?>');

													} else if (colomnname == 'Jenis Saran') {

														$(colval).append("<select class='form-control col-md-12' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

														var id = $("#tablename").find(":selected").val();
														$.ajax({
															url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'sugesttype'), null, true) ?>",
															type: 'GET',
															dataType: "html",
															data: {
																id: '<?= $this->whereval[$key] ?>'
															},
															success: function(data) {
																$(ncolselect).html(data);
															},
															error: function(xhr, ajaxOptions, thrownError) {
																alert("Failed to get where column list, please try again");
															}
														});
														// document.getElementById(colselect).value = '<?= $this->whereval[$key] ?>';
														$(colselect).val('<?= $this->whereval[$key] ?>');

													} else if (colomnname == 'Status') {

														$(colval).append("<select class='form-control col-md-12' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

														var id = $("#tablename").find(":selected").val();
														$.ajax({
															url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'sugeststatus'), null, true) ?>",
															type: 'GET',
															dataType: "html",
															data: {
																id: '<?= $this->whereval[$key] ?>'
															},
															success: function(data) {
																$(ncolselect).html(data);
															},
															error: function(xhr, ajaxOptions, thrownError) {
																alert("Failed to get where column list, please try again");
															}
														});
														$(colselect).val('<?= $this->whereval[$key] ?>');

													} else if (colomnname == 'Jenis Saran') {

														$(colval).append("<select class='form-control col-md-12' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

														var id = $("#tablename").find(":selected").val();
														$.ajax({
															url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => $this->controllername, 'action' => 'sugesttype'), null, true) ?>",
															type: 'GET',
															dataType: "html",
															data: {
																id: '<?= $this->whereval[$key] ?>'
															},
															success: function(data) {
																$(ncolselect).html(data);
															},
															error: function(xhr, ajaxOptions, thrownError) {
																alert("Failed to get where column list, please try again");
															}
														});
														$(colselect).val('<?= $this->whereval[$key] ?>');

													}
												});
											</script>
											<?php
											if ($value == 'Saran Tanggal') {
												// var_dump($this->whereval);die;
											?>
												<input type='text' class='form-control col-md-12' name='createdate[]' id='createdStart' readonly value="<?= $this->createdStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control col-md-12' name='createdate[]' id='createdEnd' value="<?= $this->createdEnd ?>" readonly required>
											<?php
											} else if (!in_array($value, $selectlist)) {
											?>
												<input class='form-control col-md-12' type='text' style='width:100%' name='whereval[]' value='<?= $this->whereval[$key] ?>' />
											<?php }
											if (!in_array($value, $datetype)) {
												// print_r($value);die;
												$index++;
											}
											?>
										</div>
										<div class="col-md-2 form-inline">
											<button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>

							</div>

					<?php
						}
					}
					?>
					<div id="wheres" style="width: 100%">
						<div id="where-<?= $ctr ?>">

							<!-- <br>
															<div class="form-group row mt-12">
																	<div class="col-md-4 form-inline">
																			<select class='form-control col-md-12 col-md-12 event_select' style='width:100%' id='wherecol-<?= $ctr ?>' name='whereco[]' onchange='getOpt(this)'>
																					<option value="">-- <?= $this->language->_('Any Value') ?> --</option>
																					<?php

																					foreach ($this->filterlist as $row) {
																						$colname = $row;
																						if ($val == $colname) {
																							$selected = "selected";
																						} else {
																							$selected = "";
																						}
																					?>
																							<option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
																					<?php } ?>
																			</select>
																	</div>
																	<div class="col" style="display: none">
																			<select class='form-control col-md-12' id='whereopt-<?= $ctr ?>' name='whereopt[]'>

																					<?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
																							<option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
																							<option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
																							<option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
																							<option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
																					<?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
																							<option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
																							<option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
																					<?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
																							<option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
																							<option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
																							<option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
																							<option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
																							<option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
																					<?php } ?>
																			</select>
																	</div>
																	<div class="col-md-6 form-inline" id='colvalue-<?= $ctr ?>'>
																			<input class='form-control col-md-12 col-md-10' type='text' style='width:100%' name='whereval[]' value='<?= $this->whereval[$key] ?>'/>
																	</div>
																	<div class="col-md-2 form-inline">
																			<button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
																	</div>
															</div> -->
						</div>
						<?php //}}
						?>
					</div>
					<!-- <input type="hidden" id="wherectr" value="<?= $this->wherectr ?>"/> -->
					<input type="hidden" id="wherectr" value="0" />
					<br />
					<button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
					&nbsp;
					<?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
					&nbsp;
					<input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">


					<br />


					<div class="portlet-body form" style="display: none">

						<div class="form-group row ">
							<label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
							<div class="col-md-4">
								<?php echo $this->formSelect('paymentType', $this->paymentType, array('id' => 'paymentType', 'class' => 'form-control col-md-12', 'onclick' => 'changeTransferType()'), $this->optPayType); ?>
							</div>
							<label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
							<div class="col-md-3">
								<select name="transtype" id="transtype" class="form-control col-md-12">
									<option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
								</select>
							</div>
						</div>

						<div class="form-group row ">

							<div class="col-md-12">
								<?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>&nbsp;

							</div>
						</div>


					</div>
				</div>

			</div>

			<div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
				<a href="#" class="sidebar-collapse-icon with-animation">
					<?php echo $this->language->_('Advanced Search'); ?>
				</a>
			</div>
		</form>
	</div>
</div>


<?php
if ($this->updated) {
	if (is_array($this->updatedId) && count($this->updatedId) && is_array($this->updatedStatus) && count($this->updatedStatus)) {
		$msgArr = array();
		foreach ($this->updatedId as $key => $value) {
			$msg = null;
			$msg = $this->msgSuccess . ' ' . $this->language->_('Suggest Data') . ' : ' . $value;
			if (isset($this->successRemark[$key]))
				$msg .= ', ' . $this->successRemark[$key];
			$msgArr[$key] = $msg;
		}

		echo '<br /><div class="successmsg">' . $this->language->_('Updated suggestion') . '(s):</div>';
		echo $this->formErrors($msgArr, array('class' => 'successmsg'));
	}

	if (is_array($this->failedId) && count($this->failedId)) {
		$msgArr = array();
		foreach ($this->failedId as $key => $value) {
			$msgArr[$key] = $this->failedMessage[$key] . ', ' . $this->language->_('Suggest Data') . ': ' . $value;
		}

		echo '<br /><div class="errmsg">' . $this->language->_('Failed suggestion update') . '(s):</div>';
		echo $this->formErrors($msgArr, array('class' => 'errmsg'));
	}
}
?>
<?php if ($this->success) { ?>
	<br />
	<div class="successmsg"><?= $this->report_msg ?></div>
<?php } else if ($this->error) { ?>
	<br />
	<div class="errmsg"><?= $this->report_msg ?></div>
<?php } ?>

<div class="form-group">
	<div style="float:right; padding-left:5px;">
		<div class="input-group input-group-sm">
			<div class="input-group-prepend">
				<span class="input-group-text navbar-search-icon" style="box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);" id="search"><i class="fa fa-search"></i></span>
			</div>
			<input type="text" class="search form-control" placeholder="Search">
		</div>
	</div>
</div>
<br>
<br>
<?= $this->form('formAct', array(
	'name' => 'actForm',
	'action' => $this->url(
		array(
			'module' => Zend_Controller_Front::getInstance()->getRequest()->getModuleName(),
			'controller' => Zend_Controller_Front::getInstance()->getRequest()->getControllerName(),
			'action' => Zend_Controller_Front::getInstance()->getRequest()->getActionName()
		)
	) . $qstring,
	'method' => 'post'
)); ?>
<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
	<table class="table table-sm table-striped">
		<thead>
			<tr class="headercolor">
				<!-- <th valign="top" class="tablehead"><?php echo $this->formCheckbox('checkall', '', array('onclick' => 'if($(this).is(":checked")){$(".checkAll").attr("checked","checked");}else{$(".checkAll").removeAttr("checked");};')); ?></th> -->
				<?php echo $this->partial(
					'tableheader.phtml',
					array(
						'fields' => $this->fields,
						'sortBy' => $this->sortBy,
						'sortDir' => $this->sortDir,
						'query_string_params' => $query_string_params
					)
				) ?>
				<th valign="top" class="tablehead"><?php echo $this->language->_('Action'); ?></th>
			</tr>
		</thead>
		<tbody>
			<?php

			if (count($this->paginator) > 0) {
				foreach ($this->paginator as $row) {
					if ($counter % 2 == 0)
						$css = 'tbl-evencontent';
					else
						$css = 'tbl-oddcontent';

					//$displayDate = new Zend_Date($row['CREATED'],$databaseDefaultDateFormat);
					//$changesCreated = $displayDate->toString($displayDateFormat);
					//$changesCreated = $this->Date($row['CREATED']);
					$changesCreated = Application_Helper_General::convertDate($row['CREATED'], $this->displayDateTimeFormat, $this->defaultDateFormat);

					$key = array_search($row['CHANGES_TYPE'], $changesTypeCodeArr);
					$changesType = $changesTypeDescArr[$key];

					//create actionArray (dropdown) values


					//if suggestion type is Activate or Deactivate, then it's not possible to request repair

					if (isset($this->note[$row['CHANGES_ID']]))
						$reason = $this->note[$row['CHANGES_ID']];
					else
						$reason = $row['CHANGES_REASON'];


					if ($row['CHANGES_STATUS'] == "RR") {;
						$suggestionStatus = 'Request Repaired';
					} else {
						if ($row['READ_STATUS'] == 0) {
							$suggestionStatus = 'Unread Suggestion';
						} elseif ($row['READ_STATUS'] == 1) {
							$suggestionStatus = 'Read Suggestion';
						} elseif ($row['READ_STATUS'] == 2) {
							$suggestionStatus = 'Repaired Suggestion';
						}
					}
					if (trim($row['COMPANY_CODE']) == '') $row['COMPANY_CODE'] = '-';
					if (trim($row['COMPANY_NAME']) == '') $row['COMPANY_NAME'] = '-';
					if (trim($row['KEY_FIELD']) == '') $row['KEY_FIELD'] = '-';
					if (trim($row['KEY_VALUE'])	== '') $row['KEY_VALUE'] = '-';

					if ($row['DISPLAY_TABLENAME'] == 'Approver Matrix') {
						$dataName = $row['COMPANY_NAME'];
					} else {
						$dataName = $row['KEY_VALUE'];
					}
			?>

					<tr>
						<?php
						if ($row['CHANGES_FLAG'] == 'B') { ?>

							<td class="<?= $css ?> hidden"></td>

						<?php
						} else {
							require_once 'Crypt/AESMYSQL.php';
							$AESMYSQL = new Crypt_AESMYSQL();
							$rand = $this->token;
							$encrypted_pwd = $AESMYSQL->encrypt($row['CHANGES_ID'], $rand);
							// $dt["payReff"] = urlencode($encrypted_pwd);
							$encreff = urlencode($encrypted_pwd); ?>

							<td class="<?= $css ?> hidden"><?php echo $this->formCheckbox('change_id[]', $encreff, array('class' => 'checkAll')); ?></td>
						<?php
						}

						?>

						<td class="<?= $css ?>"><?= $this->language->_($row['DISPLAY_TABLENAME']) ?></td>

						<td class="<?= $css ?>"><?= $row['KEY_FIELD'] ?></td>
						<td class="<?= $css ?>"><?= $dataName ?></td>
						<td class="<?= $css ?>"><?= $changesCreated ?></td>
						<?php
						if ($row['CHANGES_FLAG'] == 'B') { ?>

							<td class="<?= $css ?>"><?= 'BO - ' . $row['CREATED_BY'] ?></td>

						<?php
						} else { ?>
							<td class="<?= $css ?>"><?= 'FO - ' . $row['CREATED_BY'] ?></td>
						<?php
						}

						?>

						<td class="<?= $css ?>"><?= $this->language->_($changesType) ?></td>
						<td class="<?= $css ?>"><?= $this->language->_($suggestionStatus) ?></td>
						<?php
						require_once 'Crypt/AESMYSQL.php';
						$AESMYSQL = new Crypt_AESMYSQL();
						$rand = $this->token;
						$encrypted_pwd = $AESMYSQL->encrypt($row['CHANGES_ID'], $rand);
						// $dt["payReff"] = urlencode($encrypted_pwd);
						$encreff = urlencode($encrypted_pwd);
						?>
						<td class="<?= $css ?>"><input type="button" onClick="javascript:window.open('<?= $this->url(array('module' => $row['MODULE'], 'controller' => 'suggestiondetail', 'action' => 'index', 'changes_id' => $encreff), null, true) ?>','__blank','width=780, height=580');" class="btngreen hov" value="<?php echo $this->language->_('Detail') ?>"></td>

					</tr>
				<?php
					$counter++;
				}
			} else {
				?>
				<tr>
					<td colspan="11" align="center"> --- <?php echo $this->language->_('No Data'); ?> --- </td>
				</tr>
			<?php
			}
			?>
		</tbody>
	</table>
</div>


<br />
<?php if (count($this->paginator)) { ?>
	<br />

	<div align="left" class="hidden">

		<!-- <?php echo $this->formSubmit('action', $this->language->_('Request Repair'), array('class' => 'btnwhite hov')); ?> -->
		<button name="reqrepair" id="reqrepair" type="button" class="btnwhite hov">Request Repair</button>
		&nbsp;
		<?php echo $this->formSubmit('action', $this->language->_('Reject'), array('class' => 'btnred hov')); ?>&nbsp;
		<?php echo $this->formSubmit('action', $this->language->_('Approve'), array('class' => 'btngreen hov')); ?>&nbsp;
		<br />
		<br />

	</div>
<?php } ?>

<div class="modal fade" id="reqrepmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack" id="exampleModalLabel">Request Repair</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<label class="textBlack"><?php echo $this->language->_('Repair`s Notes'); ?>:</label>
				<br />
				<textarea name="change_note" class="col-md-12" rows="5" maxlength="200"></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btnwhite hov btn-secondary" style="background-color: #ffffff !important; color: #000000 !important;" data-dismiss="modal">Back</button>
				<button type="button" class="btngreen hov btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function removeParent(elem) {
		var parentname = elem.parentNode.parentNode.parentNode.id;
		$("#" + parentname).remove();
	}
	$(document).ready(function() {

		$("#addwhere").click(function() {
			var ctr = $("#wherectr").val();
			var optstr = '<?php echo $optArr; ?>';
			var wherecol = "#wherecol-" + ctr;
			$("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control' id='wherecol-" + ctr + "' style='width:100%' name='whereco[]' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' style='width:100%' type='text' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
			ctr++;
			$("#wherectr").val(ctr);
		});
		$('#reqrepair').click(function() {
			$('#reqrepmodal').modal();
			// $('#reqrepmodal').on('shown.bs.modal', function(){
			// });
		});

	});

	function getOpt(elem) {
		var id = elem.id;
		var temp = id.split('-');
		var ctr = temp[1];

		var selval = elem.value;
		var tempval = selval.split('-');
		dttype = tempval[1];

		colomnname = tempval[0];
		var colval = "#colvalue-" + ctr;
		var colselect = "colselect-" + ctr;
		var ncolselect = "#colselect-" + ctr;
		var $coll = $('.event_select');
		$coll.children().prop('disabled', false);
		$coll.each(function() {
			var val = this.value;
			if (val === 'original') return;
			$coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
		});

		$(colval).empty();
		if (colomnname == 'Saran Tanggal') {
			$(colval).append("<input type='text' class='form-control col-md-12' name='createdate[]' id='createdStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control col-md-12' name='createdate[]' id='createdEnd' readonly required>");
			$('#createdStart').datepicker({
				format: 'dd/mm/yyyy',
				uiLibrary: 'bootstrap4'
			});
			$('#createdEnd').datepicker({
				format: 'dd/mm/yyyy',
				uiLibrary: 'bootstrap4'
			});

		} else if (colomnname == 'TRA_AMOUNT' || colomnname == 'PS_TOTAL_AMOUNT' || colomnname == 'EQUIVALENT_AMOUNT_IDR' || colomnname == 'EQUIVALENT_AMOUNT_USD') {
			$(colval).append("<input type='text' name='whereval[]'  value='' style='width:100%' maxlength='20' autocomplete='off' class='form-control col-md-12' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
		} else if (colomnname == 'Sarankan Data') {

			$(colval).append("<select class='form-control col-md-12' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
			// alert();
			var id = $("#tablename").find(":selected").val();
			$.ajax({
				url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => $this->controllername, 'action' => 'sugestdata'), null, true) ?>",
				type: 'GET',
				dataType: "html",
				data: {
					id: id
				},
				success: function(data) {
					$(ncolselect).html(data);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});

		} else if (colomnname == 'Jenis Saran') {

			$(colval).append("<select class='form-control col-md-12' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

			var id = $("#tablename").find(":selected").val();
			$.ajax({
				url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'sugesttype'), null, true) ?>",
				type: 'GET',
				dataType: "html",
				data: {
					id: id
				},
				success: function(data) {
					$(ncolselect).html(data);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});

		} else if (colomnname == 'Status') {

			$(colval).append("<select class='form-control col-md-12' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

			var id = $("#tablename").find(":selected").val();
			$.ajax({
				url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'sugeststatus'), null, true) ?>",
				type: 'GET',
				dataType: "html",
				data: {
					id: id
				},
				success: function(data) {
					$(ncolselect).html(data);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});

		} else if (colomnname == 'PS_CCY' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY') {
			$(colval).append("<select class='form-control col-md-12' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
			var id = $("#tablename").find(":selected").val();
			$.ajax({
				url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'ccy'), null, true) ?>",
				type: 'GET',
				dataType: "html",
				data: {
					id: id
				},
				success: function(data) {
					$(ncolselect).html(data);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});

		} else if (colomnname == 'BENEFICIARY_ACCOUNT') {

			$(colval).append("<select class='form-control col-md-12' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

			var id = $("#tablename").find(":selected").val();
			$.ajax({
				url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => $this->controllername, 'action' => 'benef'), null, true) ?>",
				type: 'GET',
				dataType: "html",
				data: {
					id: id
				},
				success: function(data) {
					$(ncolselect).html(data);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});

		} else {
			$(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control col-md-12' >");
		}


		var optsel = "whereopt-" + ctr;
		document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

		if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
			document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
			document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
			document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
			document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
		}
		if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
			document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
		} else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
			document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
			document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
		} else if (dttype == 'date' || dttype == 'datetime') {
			document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
			document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
			document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
			document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
			document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
		}

		var colomn = '#whereopt-' + ctr;
		var data = $(colomn).val('EQUAL').change();

	}
</script>