<?php $banktable = $this->language->_('General') ?>
<?php $country = $this->language->_('Bank Branch') ?>

<?php $branchname = $this->language->_('Branch Name') ?>
<?php $branchcode = $this->language->_('Branch Code') ?>

<?php $religion = $this->language->_('Region') ?>
<?php $cityname = $this->language->_('City Name') ?>

<?php $setfilter = $this->language->_('Set Filter') ?>
<?php $clearfilter = $this->language->_('Clear Filter') ?>
<?php $print = $this->language->_('Print') ?>
<?php $add = $this->language->_('Add') ?>
<?php $importfromfile = $this->language->_('Import from File') ?>


<script type="text/javascript">
  $(document).ready(function() {
    $('div#sidebar-collapse').click(function() {
      if ($("#logo-title").is(":visible")) {
        $("#logo-title").hide();
        $("#logo-titles").hide();
      } else if ($("#logo-title").is(":hidden")) {
        $("#logo-title").show();
        $("#logo-titles").show();
      }
    })

    $('#fixTable').fixTableHeader();

    $("#searchtable").keyup(function() {
      var value = this.value.toLowerCase().trim();

      $("#myTable tr").each(function(index) {
        if (!index) return;
        $(this).find("td").each(function() {
          var id = $(this).text().toLowerCase().trim();
          var not_found = (id.indexOf(value) == -1);
          $(this).closest('tr').toggle(!not_found);
          return not_found;
        });
      });
    });


  });
</script>



<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?php echo $this->language->_('General'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span class="valas"><?= $this->language->_('Bank Branch') ?></span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row content-box">
  <div class="portlet-body form col-md-12">
    <h5><?= $this->language->_('Bank Branch') ?></h5>
    <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">

      <div class="panel panel-default ">
        <?php
        $optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
        foreach ($this->filterlist as $row) {
          $optArr .=  '<option value="' . $row . '" >' . $this->language->_($row) . '</option>';
        }
        ?>
        <div class="row " id="logo-titles" style="margin-left: 0px">
          <?php if (!empty($this->wherecol)) { ?>
            <script type="text/javascript">
              $(document).ready(function() {
                $("#logo-title").show();
              });
            </script>

          <?php }
          foreach ($this->wherecol as $key => $value) {  ?>
            <div id="searchs" style="width: 100%">
              <?php
              $datetype = array("PS_CREATED", "PS_CREATEDEND");
              $selectlist = array("BRANCH_CODE", "BRANCH_NAME", "branch_address", "contact");
              $index = 0;
              ?>
              <div id="where-<?= $key ?>">
                <?php if ($value != "APPROVE_END") { ?>
                  <div class="form-group row mt-12">
                    <div class="col-md-4 form-inline">

                      <select class='form-control event_select' id='wherecol-<?= $key ?>' style='width:100%' name='wherecol[]' onchange='getOpt(this)'>
                        <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                        <?php foreach ($this->filterlist as $row) {
                          $colname = $row;
                          if ($value == $colname) {
                            $selected = "selected";
                          } else {
                            $selected = "";
                          } ?>
                          <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
                        <?php } ?>
                      </select>

                    </div>

                    <div class="col-md-6 form-inline" id='colvalue-<?= $key ?>'>
                      <script type="text/javascript">
                        $(document).ready(function() {
                          var colval = "#colvalue-<?= $key ?>";
                          var colomnname = "<?= $value ?>";
                          var colselect = "colselect-s<?= $key ?>";
                          var ncolselect = "#colselect-s<?= $key ?>";
                          // if (colomnname == 'STATUS') {
                          //   $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
                          //   var id = $("#tablename").find(":selected").val();
                          //   $.ajax({
                          //     url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'status'), null, true) ?>",
                          //     type: 'GET',
                          //     dataType: "html",
                          //     data: {
                          //       id: "<?= $this->whereval[$index] ?>"
                          //     },
                          //     success: function(data) {
                          //       $(ncolselect).html(data);
                          //     },
                          //     error: function(xhr, ajaxOptions, thrownError) {
                          //       alert("Failed to get where column list, please try again");
                          //     }
                          //   });
                          //   $(colselect).val('<?= $this->whereval[$index] ?>');

                          // }

                          $('#wherectr').val('<?= (int)$key + 1; ?>');
                        });
                      </script>
                      <?php if (in_array($value, $selectlist)) { ?>
                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?= $this->whereval[$key] ?>' />
                      <?php }
                      if (!in_array($value, $datetype)) {
                        $index++;
                      } ?>
                    </div>
                    <div class="col-md-2 form-inline">
                      <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                <?php } ?>

              </div>

            </div>

          <?php } ?>

        </div>


        <div class="row " id="logo-title" style="display: none">
          <div class="portlet-body form col-md-12">
            <div id="wheres" style="width: 100%">
              <div id="where-<?= $ctr ?>">
              </div>
            </div>
            <input type="hidden" id="wherectr" value="0" />
            <br />
            <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
            &nbsp;
            <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
            &nbsp;
            <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">
            <br />
          </div>
          <div class="col-md-4">
          </div>
        </div>
        <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
          <a href="#" class="sidebar-collapse-icon with-animation">
            <?php echo $this->language->_('Advanced Search'); ?>
          </a>
        </div>
        <br>

      </div>

    </form>
  </div>
</div>

<br><br>


<!-- code lama sebelum 17 januari 2019-->
<!-- <div class="row">
	<div class="col-md-12">
	<h5><?= $this->language->_('Bank Branch') ?></h5>
	<br\>
	<br\>
		<form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">
			<div class="col-sm-6">
				<div class="panel panel-default content-box">
				  <h5><?= $this->language->_('Filter') ?></h5>
				  <hr/>
					<div class="panel-body">
						<div class="form-group">
							<label for=""><?php echo $this->formLabel('branch_code', $branchcode); ?></label>
							<?php echo $this->formText('branch_code', $this->branch_code, array('class' => 'form-control')) ?>
						</div>
						<div class="form-group">
							<label for=""><?php echo $this->formLabel('branch_name', $branchname); ?></label>
							<?php echo $this->formText('branch_name', $this->branch_name, array('class' => 'form-control')) ?>
						</div>
						<div class="form-group">
							<label for=""><?php echo $this->formLabel('city_name', $cityname); ?></label>
							<?php echo $this->formText('city_name', $this->city_name, array('class' => 'form-control')) ?>
						</div>
						<div class="form-group">
							<label for=""><?php echo $this->formLabel('region_name', $religion); ?></label>
							<?php echo $this->formText('region_name', $this->region_name, array('class' => 'form-control')) ?>
						</div>
						<br/>
						<div class="form-group">
							<?php echo $this->formSubmit('filter', $setfilter, array('class' => 'btn btn-success')); ?>
						  	<?php echo $this->formSubmit('filter_clear', $clearfilter, array('class' => 'btn btn-success')); ?>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div> -->

<!-- code lama sebelum 15 januari 2019-->
<!-- <div class="row">
	<div class="col-md-12">
		<h5><?= $this->language->_('Bank Branch') ?></h5>
		<form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0" class="tableform" width="320px">
    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Filter') ?></strong></th></tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('branch_code', $branchcode); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('branch_code', $this->branch_code) ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('branch_name', $branchname); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('branch_name', $this->branch_name) ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('city_name', $cityname); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('city_name', $this->city_name) ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('region_name', $religion); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('region_name', $this->region_name) ?></td>
    </tr>
    <tr><td colspan="3" align="left">
	  <?php echo $this->formSubmit('filter', $setfilter, array('class' => 'inputbtn')); ?>
	  <?php echo $this->formSubmit('filter_clear', $clearfilter, array('class' => 'inputbtn')); ?>
    </td></tr>
  </table> -->
<div class="form-group">
  <div style="float:left">

    <?php if ($this->hasPrivilege('MNBB')) { ?>
      <form name="Form" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'setfavorite'), null, true) ?>" method="post">
        <?php
        $buttonNew = $this->url(array('module' => $this->modulename, 'controller' => 'new', 'action' => 'index'), null, true);
        $buttonNew = ' <button type="button" class="btn-sm btngrad hov" onclick="location.href=\'' . $buttonNew . '\'"><i class="fa fa-plus"></i>&nbsp;' . $add . '</button>';
        echo $buttonNew;

        //$buttonImport = $this->url(array('module'=>$this->modulename,'controller'=>'import','action'=>'index'),null,true);
        //$buttonImport = ' <button type="button" class="btn-sm btngrad hov" onclick="location.href=\''.$buttonImport.'\'"><i class="fa fa-file-import"></i>&nbsp;'.$importfromfile.'</button>';
        //echo $buttonImport;
        ?>
      </form>

    <?php } ?>

  </div>
  <div style="float:right; padding-left:5px;">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
      </div>
      <input type="text" class="search form-control" id="searchtable" placeholder="Search">
    </div>
  </div>
  <div style="float:right; padding-left:10px;">
    <!---------------------------CSV & PDF ------------------------------------------------------------------>
    <form name="printForm" <?= $this->url(array('data_filter' => $this->data_filter, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post" onsubmit="target_popup(this)">

      <!-- <?php
            //jika jumlah paging lbh besar dari max page di setting, maka tombol pdf disable
            if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) {
              echo $this->formSubmit('pdf', '  PDF is too large (function is disabled)', array('class' => 'btnwhite disabled', 'disabled' => 'disabled')) . '&nbsp';
            }
            // else echo $this->formSubmit('pdf','PDF',array('class'=>'btn-sm btngrad hov'));
            else echo '<input type="submit" value="&#xf1c1; PDF" name="pdf" id="pdf" class="fa">';

            ?> -->


      <!-- <?php echo $this->formSubmit('csv', '&#xf6dd CSV', array('class' => 'fa')); ?> -->
      <!-- <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa">' ?> -->
      <!--                <input class="inputbtn"  value="<?php echo $print ?>" onclick="window.print();" type="button">-->
      <?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) {
        // echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;'. $this->language->_("Print").'</button>';
      } else {
      ?>
        <!-- <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)) . $this->qstring ?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print") ?></button>&nbsp; -->

        <!-- <button type="submit" value="Print" name="print" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print") ?></button>&nbsp; -->
      <?php
      }
      ?>

    </form>
    <!---------------------------END CSV & PDF ---------------------------------------------------------->

  </div>
  <div style="float:right; padding-left:10px;">
    <form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">
      <!-- <?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) { ?> -->
      <!-- <?php echo $this->formSubmit('pdf', $this->language->_('PDF is too large (function is disabled)'), array('class' => 'btnwhite disabled', 'disabled' => 'disabled')); ?> -->
      <!-- <?php echo '<input type="submit" value="&#xf1c1; PDF is too large (function is disabled)" name="pdf" id="pdf" class="fa disabled" disabled="disabled">'; ?>&nbsp; -->
      <!-- <?php } else { ?> -->
      <!-- <?php echo $this->formSubmit('pdf', 'PDF', array('class' => 'btngreen hov')); ?> -->
      <!-- <?php echo '<input type="submit" value="&#xf1c1; PDF" name="pdf" id="pdf" class="fa">'; ?>&nbsp; -->
      <!-- <?php } ?> -->

      <?php if (($this->paginator->getTotalItemCount()) > $this->applicationSetting['max_row_download_csv']) { ?>
        <!-- <?php echo $this->formSubmit('csv', 'CSV is too large (function is disabled)', array('class' => 'btnwhite disabled', 'disabled' => 'disabled')); ?>&nbsp; -->
        <?php echo '<input type="submit" value="&#xf6dd CSV is too large (function is disabled)" name="csv" id="csv" class="fa disabled" disabled="disabled">' ?>&nbsp;
      <?php } else { ?>
        <!-- <?php echo $this->formSubmit('csv', 'CSV', array('class' => 'btngreen hov')); ?>&nbsp; -->
        <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa">' ?>&nbsp;
      <?php } ?>
      <!--		<input class="inputbtn" value="<?php echo $this->language->_('Print') ?>" onclick="window.print();" type="button">-->
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-6">

  </div>
</div>

<!-- code lama sebelum 15 januari 2019-->
<!-- <table align="left" cellpadding="5">
	<tr style="height:30px">
		<td colspan="12" align="CENTER">
			<form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">
				<?php

        $buttonNew = $this->url(array('module' => $this->modulename, 'controller' => 'new', 'action' => 'index'), null, true);
        $buttonNew = ' <input type="button" class="inputbtn" value=' . $add . ' onclick="location.href=\'' . $buttonNew . '\'">';
        echo $buttonNew;

        $buttonImport = $this->url(array('module' => $this->modulename, 'controller' => 'import', 'action' => 'index'), null, true);
        $buttonImport = ' <input type="button" class="inputbtn" value="' . $importfromfile . '" onclick="location.href=\'' . $buttonImport . '\'">';
        echo $buttonImport;
        ?>
			</form>
		</td>
	</tr>
</table> -->




<!-- </form> -->
<tr>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>
    <?php if ($this->success) { ?>
      <div class="successmsg"><?= $this->report_msg ?></div><br />
    <?php } else if ($this->error) { ?>
      <div class="errmsg"><?= $this->report_msg ?></div><br />
    <?php } ?>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>
<tr>
  <td class="contentarea" id="contentarea">

    <br />
    <br />
    <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">

      <table class="table table-sm table-striped" id="myTable">
        <thead>
          <tr>
            <th width="3%" valign="top" class="tablehead">No</th>
            <?php echo $this->partial(
              'tableheader.phtml',
              array(
                'fields' => $this->fields,
                'sortBy' => $this->sortBy,
                'sortDir' => $this->sortDir,
                'query_string_params' => $this->query_string_params
              )
            ) ?>
            <th width="10%" valign="top" class="tablehead"><?php echo $this->language->_('BTS Coverage'); ?></th>
            <th width="10%" valign="top" class="tablehead"><?php echo $this->language->_('Action'); ?></th>
          </tr>
        </thead>
        <tbody>

          <?php
          $counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;

          if (count($this->paginator) > 0) {
            $i = 0;

            foreach ($this->paginator as $row) {

              $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

              if ($this->hasPrivilege('MNBB')) {
                //$delete = $this->url(array('module' => $this->modulename, 'controller' => 'delete', 'action' => 'index', 'id' => $row['ID'], 'branch_code' => $row['BRANCH_CODE']), null, true);
                // $delete = '<a href="javascript:confirmation(\' '.$this->language->_('Are you sure want to delete this Bank Branch?').'\',\''.$delete.'\');">'.$this->language->_('Delete').'</a>';
                //$delete = '<button  class="btnround d-inline"><a href="javascript:confirmation(\' ' . $this->language->_('Are you sure want to delete this Bank Branch?') . '\',\'' . $delete . '\');"><i class="fa fa-trash" style="color:#ffffff"></i></a></button>';
                // $edit   = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','id'=>$row['ID']),null,true).'"></a>';
                $edit = '<button class="btnround d-inline mr-2"><a href="' . $this->url(array('module' => $this->modulename, 'controller' => 'edit', 'action' => 'index', 'id' => $row['ID']), null, true) . '"><i class="fa fa-edit" style="color:#ffffff"></i></a></button>';
              } else {
                $delete = "";
                $edit = "";
                // $delete = $this->url(array('module'=>'notification','controller'=>'notauthorized','action'=>'index','id'=>$row['ID'],'branch_code'=>$row['BRANCH_CODE']),null,true);
                // $delete = '<button  class="btnround"><a href="javascript:confirmation(\' '.$this->language->_('Are you sure want to delete this Bank Branch?').'\',\''.$delete.'\');"><i class="fa fa-trash" style="color:#ffffff"></i></a></button>';
                // $delete = '<a href="javascript:confirmation(\' '.$this->language->_('Are you sure want to delete this Bank Branch?').'\',\''.$delete.'\');">'.$this->language->_('Delete').'</a>';

                // $edit = '<button class="btnround"><a href="'.$this->url(array('module'=>'notification','controller'=>'notauthorized','action'=>'index','id'=>$row['ID']),null,true).'"><i class="fa fa-edit" style="color:#ffffff"></i></a></button>';
                // $edit   = '<a href="'.$this->url(array('module'=>'notification','controller'=>'notauthorized','action'=>'index','id'=>$row['ID']),null,true).'">'.$this->language->_('Edit').'</a>';
              }

              $gedung = '<img src="/images/icon/build.jpg" width="20">';
              echo '<tr>
       <td class="' . $td_css . '">' . $counter . '</td>';
              foreach ($this->fields as $field) {

                if ($field['field'] == 'HEADQUARTER') {
                  //   var_dump($row['HEADQUARTER']);
                  if (trim($row['HEADQUARTER']) == 'YES') {
                    $row['HEADQUARTER'] = '<img src="/images/icon/build.jpg" width="20">';
                  } else if ($row['HEADQUARTER'] == 'NO') {
                    $row['HEADQUARTER'] = '';
                  }
                }
                if ($field['field'] == "BANK_ADDRESS") {
                  echo '<td class="' . $td_css . '">' . $row[$field['field']] .'<br>Kota ' . $row["CITY_NAME"] .' Provinsi ' . $row["REGION_NAME"] . '<br>No Telp : ' . $row["CONTACT"] .'</td>';
                } else {
                  echo '<td class="' . $td_css . '">' . $row[$field['field']] . '</td>';
                }
              }

              echo '<td class="' . $td_css . '">';
              foreach ($this->m_branch_coverage as $key => $value) {

                if ($value['BRANCH_CODE'] == $row['BRANCH_CODE']) {
                  $url = "'" . $this->url(array('module' => 'popup', 'controller' => 'branchcoverage', 'action' => 'index', 'branch_code' => $row['BRANCH_CODE']), null, true) . "'";
                  echo $coverage = '<a href="#" onclick="showPopUpWindow(' . $url . ', 750)"><img src="/images/icon/eye.png" width="20"></a>';
                } else {
                  echo $coverage = '';
                }
              }
              echo '</td>';



              if ($this->hasPrivilege('BGCR')) {
                // echo '<td class="' . $td_css . '">' . $edit . ' &nbsp; &nbsp ' . $delete . '</td>';
                echo '<td class="' . $td_css . '">' . $edit  . $delete . '</td>';
              } else {
                echo '<td class="' . $td_css . '">' . $delete . '</td>';
              }
              '</tr>';


              $i++;
              $counter++;
            }
          } else {
            echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> - ' . $this->language->_('No Data') . ' - </td></tr>';
          }
          ?>
        </tbody>
      </table>
    </div>

    <br />

    <form name="Form" action="<?= $this->url(array('module' => $this->modulename, 'controller' => 'index', 'action' => 'index'), null, true) ?>" method="post">
      <div align="right"><?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?></div>
      <br />



      <script type="text/javascript">
        function removeParent(elem) {
          var parentname = elem.parentNode.parentNode.parentNode.id;
          $("#" + parentname).remove();
        }
        $(document).ready(function() {

          $("#addwhere").click(function() {
            var ctr = $("#wherectr").val();
            var optstr = '<?php echo $optArr; ?>';
            var wherecol = "#wherecol-" + ctr;
            $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" + ctr + "' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
            ctr++;
            $("#wherectr").val(ctr);
          });
        });

        function getOpt(elem) {
          var id = elem.id;
          var temp = id.split('-');
          var ctr = temp[1];

          var selval = elem.value;
          var tempval = selval.split('-');
          dttype = tempval[1];

          colomnname = tempval[0];
          var colval = "#colvalue-" + ctr;
          var colselect = "colselect-" + ctr;
          var ncolselect = "#colselect-" + ctr;
          var $coll = $('.event_select');
          $coll.children().prop('disabled', false);
          $coll.each(function() {
            var val = this.value;
            if (val === 'original') return;
            $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
          });

          $(colval).empty();
          if (colomnname == 'QUEST_DATE') {
            $(colval).append("<input type='text' class='form-control'  name='questdate[]' id='questStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='questdate[]' id='questEnd' readonly required>");
            $('#questStart').datepicker({
              format: 'dd/mm/yyyy',
              uiLibrary: 'bootstrap4'
            });
            $('#questEnd').datepicker({
              format: 'dd/mm/yyyy',
              uiLibrary: 'bootstrap4'
            });

          } else {
            $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
          }


          var optsel = "whereopt-" + ctr;
          document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

          if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
            document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
          }
          if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
          } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
          } else if (dttype == 'date' || dttype == 'datetime') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
          }

          var colomn = '#whereopt-' + ctr;
          var data = $(colomn).val('EQUAL').change();

        }

        function target_popup(form) {
          window.open('', 'formpopup', 'width=1200,height=600,resizeable,scrollbars');
          form.target = 'formpopup';
        }
      </script>
      <!-- 	</div>
</div> -->