<?php $bankcode = $this->language->_('Bank Code');
$bankname = $this->language->_('Bank Name');
?>
<b>

<ol class="breadcrumb" >
  <li><a href="#" style="font-size: 11px;"><?php echo $this->language->_('Bank Table')?></a></li>
  <li><?php echo $this->language->_('Online Bank Table')?></li>
  
</ol>
</b>
<br />

<div class="tabheader" id="tabheader"><?php echo $this->language->_('Online Bank Table')?></div>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td>
				<div class="portlet-body form">
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
  <div class="row">
	<div class="portlet-body form col-md-8">
                                             <div class="panel-heading" style="
                    	    color: #fff;
                    	    background-color: #337ab7;
                    	    border-color: #337ab7;
                    	    border: 1;
                    	">
                    	
                    	<strong><?php echo $this->language->_('Filter'); ?>:</strong></div>
                    	<div class="portlet-body form">
                    	                          <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $bankcode ?></label>
                                                            <div class="col-md-9"><?php echo $this->formText('bank_code',$this->bank_code,array('class'=>'form-control'))?>
                                                            </div>
                                                 </div>
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $bankname ?></label>
                                                            <div class="col-md-9"><?php echo $this->formText('bank_name',$this->bank_name,array('style'=>"width: 255px;",'class'=>'form-control'))?>
                                                            </div>
                                                 </div>
                                                 
                                                 <div class="form-group row ">
                                                            
                                                            <div class="col-md-12"><?php $clearfilter = $this->language->_('Clear Filter')?>
                                                            <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btn btn-warning')); ?>&nbsp;
				                                            <?php echo $this->formSubmit('filter_clear',$clearfilter,array('class'=>'btn btn-warning')); ?>
                                                            </div>
                                                 </div>
                                                 
                                                 
                               </div>
                               </div>
            <div class="col-md-4">
            </div>
                               
	</div>
  
 
  
<!---------------------------CSV & PDF ------------------------------------------------------------------>
<table align="right">
	<tr style="height:30px">
		<td colspan="12" align="CENTER">
			<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">	
				<?php 
				      //jika jumlah paging lbh besar dari max page di setting, maka tombol pdf disable
				      if(count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) 
				      { 
                         echo $this->formSubmit('pdf',$this->language->_('PDF is too large (function is disabled)'),array('class'=>'btn btn-warning hidden','disabled'=>'disabled')) . '&nbsp';
                      }
				      else echo $this->formSubmit('pdf','PDF',array('class'=>'btn btn-warning hidden')); 
				 ?>
				
				
				<?php echo $this->formSubmit('csv','CSV',array('class'=>'btn btn-warning')); ?>
<!--				<input class="btn btn-warning"  value="<?php echo $this->language->_('PRINT')?>" onclick="window.print();" type="button">-->
				<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {
					echo $this->formSubmit('pr',$this->language->_('print'),array('class'=>'btn btn-warning hidden','disabled'=>'disabled'));
				}
				else{
				?>
					<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btn btn-warning hidden"><?PHP echo $this->language->_("Print")?></button>&nbsp;
				<?php 	
				}
				?>
			</form>				
		</td>
	</tr>
</table>
<!---------------------------END CSV & PDF ----------------------------------------------------------> 
  
</form>
</div>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->language->_($this->report_msg)?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>								
			<tr>
			<td class="contentarea" id="contentarea">
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
						<table width="100%" cellpadding="2" cellspacing="0" border="1" class="table table-bordered table-condensed flip-content">
    <tr class="headercolor">
    	<th width="3%" valign="top">No</th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>
		    </tr>

    <?php
	$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
	
    if(count($this->paginator) > 0)
    {
          $i=0;
          
	      foreach($this->paginator as $row) 
	      {
	  
		    $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		
		    $delete = $this->url(array('module'=>$this->modulename,'controller'=>'delete','action'=>'index','bank_id'=>$row['BANK_ID']),null,true);
		    $delete = '<a href="javascript:confirmation(\''.$this->language->_('Are you sure want to delete this domestic bank?').'\',\''.$delete.'\');">'.$this->language->_('Delete').'</a>';
		    
		    $edit   = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','bank_id'=>$row['BANK_ID']),null,true).'">'.$this->language->_('Edit').'</a>';

		    echo '<tr>
					<td class="'.$td_css.'">'.$counter.'</td>';
			foreach($this->fields as $field)
				echo '<td class="'.$td_css.'">'.$row[$field['field']].'</td>';
// 			echo '<td class="'.$td_css.'">'.$edit . ' | ' . $delete.'</td>
// 				  </tr>';
			echo '</tr>';
						
			$i++;
            $counter++;
  	  }
  }
  else 
  {
	   echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> - '.$this->language->_('No Data').' - </td></tr>';
  }
?>
</table>
<br />

<form name="Form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true)?>" method="post">
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
						
			</td>
			</tr>
		</tbody>
	</table>
