<script>
	$(document).ready(function()
	{

		// if( '<?=$this->success?>' || '<?=$this->error?>' )
		// {
		// 	$("input").attr("disabled","disabled");
		// 	$("textarea").attr("disabled","disabled");
		// }
	});
</script>

<script type="text/javascript">
    function localtransfer()
    {
       var d1 = document.getElementById("localtransfer");
			 var d2 = document.getElementById("monthlyfee");
			 var d3 = document.getElementById("valastransfer");
       if( d1.style.display == "none" )
       {
				 d1.style.display = "block";
				 d2.style.display = "none";
				 d3.style.display = "none";

       }
       else
       {
       }
    }
		function monthlyfee()
    {
       var d1 = document.getElementById("monthlyfee");
			 var d2 = document.getElementById("localtransfer");
			 var d3 = document.getElementById("valastransfer");
       if( d1.style.display == "none" )
       {
				 d1.style.display = "block";
				 d2.style.display = "none";
				 d3.style.display = "none";
       }
       else
       {
       }
    }
		function valastransfer()
    {
       var d1 = document.getElementById("valastransfer");
			 var d2 = document.getElementById("localtransfer");
			 var d3 = document.getElementById("monthlyfee");
       if( d1.style.display == "none" )
       {
				 d1.style.display = "block";
				 d2.style.display = "none";
				 d3.style.display = "none";
       }
       else
       {
       }
    }
</script>



<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Charges'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Global Charges Setting'); ?>
						<i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
					<li>
	                    <?php echo $this->language->_('Global Charges Setting'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h5><?=$this->language->_('Global Charges Setting')?></h5>
		<h6><?=$this->language->_('Manage charges/fee service settings	')?></h6>
	</div>
</div>
<br>
<form name="Form" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">
<div id="monthlyfee">
	
		<div class="row">

			<div class="col-md-1"></div>
			<div align="left" class="col-md-10">
					<strong>Company Monthly Fee(Administration Fee per Company)</strong>
					<p>*Charges amount and charge account, default set base on company index account order number 1</p>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
				<div class="col-md-12">
						<table width="30%" align="center" class="table-sm">
								<tr>
									<td>AUD</td>
									<td>
														  
											<input type="text" class="form-control" name="charges_monthly_aud" onfocus='iNumFrmtUS(this.value,this.id)' onblur='NumFrmtUS(this.value,this.id)' onkeypress='return forceCurrencyOCBC(event)' value="<?php echo $this->charges_monthly_aud; ?>">
									</td>
								</tr>
								<tr>
									<td>EUR</td>
									<td>
											<input type="text" class="form-control" name="charges_monthly_eur" onfocus='iNumFrmtUS(this.value,this.id)' onblur='NumFrmtUS(this.value,this.id)' onkeypress='return forceCurrencyOCBC(event)' value="<?php echo $this->charges_monthly_eur; ?>">
									</td>
								</tr>
								<tr>
									<td>IDR</td>
									<td>
											<input type="text" class="form-control" name="charges_monthly_idr" onfocus='iNumFrmtUS(this.value,this.id)' onblur='NumFrmtUS(this.value,this.id)' onkeypress='return forceCurrencyOCBC(event)' value="<?php echo $this->charges_monthly_idr; ?>">
									</td>
								</tr>
								<tr>
									<td>SGD</td>
									<td>
											<input type="text" class="form-control" name="charges_monthly_sgd" onfocus='iNumFrmtUS(this.value,this.id)' onblur='NumFrmtUS(this.value,this.id)' onkeypress='return forceCurrencyOCBC(event)' value="<?php echo $this->charges_monthly_sgd; ?>">
									</td>
								</tr>
								<tr>
									<td>USD</td>
									<td>
											<input type="text" class="form-control" name="charges_monthly_usd" onfocus='iNumFrmtUS(this.value,this.id)' onblur='NumFrmtUS(this.value,this.id)' onkeypress='return forceCurrencyOCBC(event)' value="<?php echo $this->charges_monthly_usd; ?>">
									</td>
								</tr>
						</table>
						<br><br>
						<div align="center">
								<button onclick="/charges/chargesglobal" type="button" class="btngreen hov" name="button">Back</button>
								<button onclick="/companycharges/monthlyfee" type="button" class="btnwhite hov" name="button">Reset</button>
								<button type="submit" class="btngreen hov" name="button">Submit</button>
						</div>
				</div>
		</div>
</div>




</form>