<link rel="stylesheet" type="text/css" href="/tokenfield/bootstrap-tokenfield.min.css">
<link rel="stylesheet" type="text/css" href="/js/jqueryui/jquery-ui.min.css">
<script src="/tokenfield/bootstrap-tokenfield.js"></script>
<script src="/js/jqueryui/jquery-ui.min.js"></script>
<style>
  .amsify-list-item {
    color: #000000 !important;
  }
</style>

<script>
  $(document).ready(function() {
    var listRow = <?= count($this->listgroup) ?>;
    var tableUsr = document.getElementById("grouptable");
    var removebtn = tableUsr.rows[listRow].cells[3].innerHTML
    if (removebtn) {
      for (var c = 1; c < listRow; c++) {
        tableUsr.rows[c].cells[3].innerHTML = "";
      }
    }
  })
</script>


<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?php echo $this->language->_('Management'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <!--  <li>
                      <span><?php echo $this->language->_('Customer Setup'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li> -->
        <li>
          <!-- <?php if (!empty($this->listgroup) || !empty($this->splist)) { ?>
                      <span class="valas" ><?php echo $this->language->_('Edit Approval Matrix'); ?></span>
          <?php } else { ?>
             <span class="valas" ><?php echo $this->language->_('New Approval Matrix'); ?></span>
          <?php } ?> -->
          <span><?php echo $this->language->_('Approval Matrix'); ?></span>
        </li>
      </ul>
    </div>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="/css/amsify.suggestags.css">
<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
<script type="text/javascript" src="/js/jquery.amsify.suggestags.js"></script>


<?php
$sugest = '';
$suggest = array();
foreach ($this->dataact as $key => $row) {
  // foreach($this->data as $row) {
  if (!empty($this->data[$key + 1])) {
    $sugest .= $row['USER_ID'] . ',';
    $suggest[] = $row['USER_ID'];
  } else {
    $sugest .= $row['USER_ID'];
    $suggest[] = $row['USER_ID'];
  }
}
//echo '<pre>';
//var_dump($suggest);

//$datasg = explode(',', $this->splist);
//var_dump($datasg);
//$diff_result = array_diff($suggest, $datasg);
$diff_result = $suggest;
//var_dump($diff_result);

/*if (!empty($this->listgroup)) {
  foreach ($this->listgroup as $key => $value) {
    $valnew = explode(',', $value['USERLIST']);
    //var_dump($valnew);
    $diff_result = array_diff($diff_result, $valnew);
    //echo 'result'; 
    //var_dump($diff_result);
  }
}*/

//var_dump($diff_result);die;

?>

<input type="hidden" id="sg" value="<?php foreach ($diff_result as $val) echo $val . ','; ?> ">

<h5><?= $this->language->_('Approval Matrix') ?></h5>
<h7><?= $this->language->_('Manage User Approval Groups and Approval Matrix Boundary') ?></h7>
<input type="button" value="Info" name="reviewmodal" onclick="modalreview();" id="reviewmodal" class="fa" style="min-width: 86px;
						height: 30px;
						border-radius: 8px;
						-webkit-backdrop-filter: blur(30px);
						backdrop-filter: blur(30px);
						box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
						background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
						font-size: 13px;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;float: right;">
<?php
require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
$rand = $this->token;

$encrypted_custid = $AESMYSQL->encrypt($this->cust_id, $rand);
$enccustid = urlencode($encrypted_custid);

$buttonGroup = $this->url(array('module' => $this->modulename, 'controller' => 'newapprovalgroup', 'action' => 'index', 'cust_id' => $enccustid), null, true);
$buttonPolicy = $this->url(array('module' => $this->modulename, 'controller' => 'newapprovalpolicy', 'action' => 'index', 'cust_id' => $enccustid), null, true);
?>

<?php if ($this->error) { ?>
  <div class="alert alert-danger" style="margin-top: 23px;"><?php echo $this->language->_($this->error_msg); ?></div>

<?php } ?>

<?php if ($this->error2) { ?>
  <div class="alert alert-danger" style="margin-top: 23px;"><?php echo $this->language->_($this->error_msg2); ?></div>

<?php } ?>

<div style="padding: 20px 0px;" class="container">
  <div class="row">
    <div style="text-align:center; padding: 0;" class="col-sm-6">
      <button style="width: 50%; float: right;cursor: default;" type="button" class="btngreen" onclick="location.href='<?php echo $buttonGroup; ?>'"><?php echo $this->language->_('Group') ?></button>
    </div>
    <div style="text-align:center; padding: 0;" class="col-sm-6">
      <button style="width: 50%; float: left;cursor: default;" type="button" class="btnwhite" onclick="location.href='<?php echo $buttonPolicy; ?>'" disabled><?php echo $this->language->_('Policy') ?></button>
    </div>
  </div>
</div>


<div style="padding: 10px 0px;" class="container">
  <div class="row">
    <div style="text-align:center; padding: 0;" class="col-sm-12">
      <h6><?= $this->language->_('Manage Approver Group User') ?></h6>
    </div>
  </div>
</div>

<!--   <table width="50%" align="center" class="tableform">
        <tr>
            <td align="center" class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->language->_('Company Id')); ?>&nbsp;<span class="errmsg">*</span></td>
            <td class="tbl-evencontent" colspan="6">
                <?php
                echo $this->formSelect('cust_id', $this->cust_id, array('class' => 'form-control', 'id' => 'compid'), $this->arrcust);
                ?>
               <div id="error_cust_id class="errmsg"></div>
            </td>
        </tr>
    </table> -->
<div align="center">
  <h6><strong><?php echo $this->cust_name ?> (<?php echo $this->cust_id ?>) </strong></h6>
</div>

<form id="regForm" name="Form" method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => 'newapprovalgroup', 'action' => 'index'), null, true) ?>">
  <!-- counter untuk alphabet -->

  <?php
  $count = count($this->listgroup);
  // print_r($count);die;
  if (empty($count)) {
    $total = '-1';
  } else {
    $total = $count - 2;
  }
  ?>
  <input type="number" id="count" value="<?php echo $total ?>" style="visibility:hidden; ;">

  <!-- <input type="number" id="count" value="-1" style="visibility: hidden;"> -->

  <?php
  echo $this->formHidden('cust_id', $enccustid);
  ?>
  <!-- counter untuk insert row -->
  <?php
  $count = count($this->listgroup);
  // print_r($count);die;
  if (empty($count)) {
    $total = '1';
  } else {
    $total = $count;
  }
  //var_dump (ltrim($this->splist));die;
  ?>
  <input type="number" id="count2" value="<?php echo $total ?>" style="visibility: hidden;">

  <!-- counter untuk delete btndel -->
  <input type="number" id="countdel" value="0" style="visibility:hidden; ;">

  <div class="table-responsive">
    <table width="90%" align="center" id="grouptable" class="table table-sm">
      <tr style="background-color: #0b549f; color: white;">
        <th valign="top">Group ID</th>
        <th valign="top" width="15%">Group Name</th>
        <th valign="top">User</th>
        <th valign="top">Action</th>
      </tr>
      <tr>
        <td style="padding-top: 10px;vertical-align: middle;">SG
          <?php
          echo $this->formHidden('userlist', '', array('id' => 'userlist'));
          ?>

        </td>
        <td style="padding-top: 10px;vertical-align: bottom;"><i class=" fas fa-users" style="margin-right: 3%; color: grey; font-size: 20px;"> </i><input class="homeCardText matrixnew" style="width: 85%;" type="text" name="sg_group" required='required' placeholder="SPECIAL GROUP" value="Special Group" readonly></td>
        <td style="padding-top: 10px;color:black;vertical-align: bottom;"><i class="fas fa-user" style="margin-right: 3%; color: grey; font-size: 20px;display: none"> </i>
          <?php if ($this->error || $this->error2) { ?>

            <input class="homeCardText matrixnew" type="text" name="sg_user1" placeholder="User" value="<?php echo preg_replace('/\s+/', '', $this->splist); ?>" style="width: 100%;" readonly>

          <?php } else { ?>

            <input class="homeCardText matrixnew" type="text" name="sg_user" id="sg_user" placeholder="User" value="<?php echo preg_replace('/\s+/', '', $this->splist); ?>" style="width: 85%;">

          <?php } ?>

        </td>
        <td style="padding-top: 10px;vertical-align: bottom;"></td>
      </tr>
      <?php
      // echo '<pre>';
      // print_r($this->listgroup);
      foreach ($this->listgroup as $key => $value) {

        $sg = 'S_' . $this->cust_id;
        if ($value['GROUP_USER_ID'] != $sg) {
          $group = explode('_', $value['GROUP_USER_ID']);
          $alphabet = array(1 => 'A', 2 => 'B', 3 => 'C', 4 => 'D', 5 => 'E', 6 => 'F', 7 => 'G', 8 => 'H', 9 => 'I', 10 => 'J', 11 => 'K', 12 => 'L', 13 => 'M', 14 => 'N', 15 => 'O', 16 => 'P', 17 => 'Q', 18 => 'R', 19 => 'S', 20 => 'T', 21 => 'U', 22 => 'V', 23 => 'W', 24 => 'X', 25 => 'Y', 26 => 'Z');

          echo '<tr><td style="padding-top: 10px;border-top: none;vertical-align: middle;"><input type="hidden" name="groupid[]"" value="' . $alphabet[(int)$group[2]] . '">' . $alphabet[(int)$group[2]] . '</td>'; ?>

          <td style="padding-top: 10px;color:black;border-top: none;vertical-align: bottom;"><i class="fas fa-users" style="margin-right: 3%; color: grey; font-size: 20px;"> </i><input class="homeCardText matrixnew" style="width: 85%;" type="text" required="required" name="group[]" value="<?= $value['GROUP_NAME'] ?>" <?php if ($this->error || $this->error2) { ?> readonly <?php } ?>></td>

          <td style="padding-top: 10px; color:black;border-top: none;vertical-align: bottom;" colspan="1"><i class="fas fa-user" style="margin-right: 3%; color: grey; font-size: 20px;display: none"> </i>
            <?php if ($this->error || $this->error2) { ?>

              <input class="homeCardText matrixnew" type="text" name="user[]" required="required" placeholder="User" value="<?= $value['USERLIST']; ?>" style="width: 100%;" readonly>

            <?php } else { ?>

              <input class="homeCardText matrixnew" type="text" name="user[]" id="user<?= $alphabet[$key]; ?>" required="required" placeholder="User" value="<?= $value['USERLIST']; ?>" style="width: 85%;">

            <?php } ?>


          </td>

          <?php
          // print_r($key);
          if (!empty($this->listgroup[$key + 2])) {
            // die;
            echo '<td style="padding-top: 10px; color:black;border-top: none;vertical-align:bottom;"></td>';
          } else { ?>

            <td align="center" style="vertical-align:bottom;color:black;border-top: none;"><button <?php if ($this->error || $this->error2) {
                                                                                                      echo 'style="display:none !important;"';
                                                                                                    } ?> type="button" class="btn btn-sm btn-danger" id="btnremove"><i class="fa fa-times"></i></button></td>

          <?php
          }


          // print_r($group);die;
          ?>
          <script type="text/javascript">
            $(document).ready(function() {

              // $("table").on('click', '.btnremove', function() {
              //  $(this).closest("tr").remove();
              //       // $count = count($this->listgroup);
              //       var count = document.getElementById("count").value;
              //       var count2 = document.getElementById("count2").value;
              //       var total = count-1;
              //       $('#count').val(total);
              //       alert(count2);
              //       // var total = count2-1;
              //       // $('#count2').val(total);
              //       // print_r($count);die;
              //       // if(empty($count)){
              //       //   $total = '-1';
              //       // }else{
              //       //   $total = $count-2;
              //       // }
              // });

              var alphabet = ["", "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"];
              var key = alphabet['<?php echo $key ?>'];
              // console.log(key);
              // $("input[id='user"+key+"']").amsifySuggestags({
              //   type : 'amsify',
              //   suggestions: suggest,
              //   afterAdd:function(value){
              //     //after add
              //     suggest = arrayRemove(suggest, value);
              //     $('#sg').val(suggest);
              //     // console.info(suggest);

              //   /*  sg = arrayRemove(sg, value);
              //     $('#sg').val(sg);*/

              //   },
              //   afterRemove:function(value){
              //     //after remove
              //     suggest.push(value);
              //     $('#sg').val(suggest);
              //     // console.info(suggest);
              //     /*sg.push(value);
              //     $('#sg').val(sg);*/
              //   }
              // });

              $('#user' + key).tokenfield({
                autocomplete: {
                  source: getdata(),
                  delay: 100
                },
                // showAutocompleteOnFocus: true,
              });

              $('#user' + key).on('tokenfield:createtoken', function(e) {
                var existingTokens = getalltoken();
                $.each(existingTokens, function(index, token) {
                  if (token.value === e.attrs.value)
                    e.preventDefault();
                });
              });

            });
          </script>
      <?php
          echo "</tr>";
        }
      }

      ?>
    </table>
    <table width="100%" align="center">
      <tbody>
        <tr>
          <?php if ($this->error || $this->error2) { ?>
            <!-- <td colspan="4" style="text-align:right"><span style="color:#007bff;cursor: pointer;text-decoration: underline;">+new group</span></td> -->
            <td></td>
          <?php } else { ?>
            <td colspan="4" style="text-align:right"><span onclick="incrementValue()" style="color:#007bff;cursor: pointer;text-decoration: underline;">+new group</span></td>
          <?php } ?>
        </tr>
      </tbody>
    </table>
    <input type="hidden" name="counterList" id="counterList" value="0">
    <br>
    <center>
      <?php //echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\''.$this->backURL.'\'','class'=>'btnwhite hov')); 
      ?>
      <!-- <?php if ($this->error || $this->error2) { ?>
        <button style="" disabled="" type="button" class="btngreen hov" ><i class="fa fa-plus"></i>&nbsp;<?php echo $this->language->_('Add New') ?></button>
    <?php } else { ?>
        <button style="" onclick="incrementValue()" type="button" class="btngreen hov" ><i class="fa fa-plus"></i>&nbsp;<?php echo $this->language->_('Add New') ?></button>
    <?php } ?> -->

      <?php echo $this->formSubmit('submit', $this->language->_('Next'), array('class' => 'btngreen hov', 'onclick' => 'save(this.form);')); ?>&nbsp;
    </center>
    <!-- <button style="float: right; margin-right: 10px;" onclick="save()" type="button" class="btngreen hov"><i class="fa fa-save"></i>&nbsp;<?php echo $this->language->_('Next') ?></button> -->
  </div>
</form>

<hr width="100%">
<h7 class="greyFont">&nbsp;<span>*</span>SG is a Special Group (Allow to overwrite all others approver policy)</h7>

<div class="modal fade" id="mymodalreview" tabindex="-1" role="dialog" aria-labelledby="mymodalreview">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <center style="width:100%">
          <h4 class="modal-title textBlack" id="myModalLabel">Review Matriks Persetujuan</h4>
        </center>
      </div>

      <div class="modal-body">
        <br>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <table style="width:100%">
              <tr>
                <td style="width:250px;">Created By :</td>

                <td><?= $this->reviewcreatedby[0]['USER_FULLNAME']; ?> (<?= $this->reviewcreatedby[0]['CREATED_BY']; ?>)</td>
              </tr>
              <tr>
                <td style="width:250px;">Created On :</td>
                <td><?= $this->reviewcreatedby[0]['LASTUPDATED']; ?></td>
              </tr>

              <tr>
                <td style="width:250px;">Approved By :</td>

                <td><?= $this->reviewapproveby[0]['USER_FULLNAME']; ?> (<?= $this->reviewapproveby[0]['CREATEDBY']; ?>)</td>
              </tr>
              <tr>
                <td style="width:250px;">Approved On :</td>
                <td><?= $this->reviewapproveby[0]['LASTUPDATED']; ?></td>
              </tr>
            </table>



          </div>
          <div class="col-sm-2"></div>

        </div>
      </div>
      <div class="modal-footer">
        <center style="width:100%">
          <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    // improvement temuan to juni
    $(".tokenfield").addClass('px-2').css('padding-top', '6px')

    $(".tokenfield .token-input").on('keydown', function(event) {
      // console.log(event.keyCode)
      if (event.keyCode == 32 || event.keyCode == 9) {
        event.preventDefault()
        return
      }
    })

    initCheckUser();

    var existingTokens = getalltoken();
    var suggestArr = getdata();

    $(".tokenfield").on('tokenfield:createtoken', function(e) {

      var existingTokens = getalltoken();
      $.each(existingTokens, function(index, token) {
        if (token.value === e.attrs.value)
          e.preventDefault();

      });

    });

    $(".tokenfield").on('tokenfield:removedtoken', function(event) {
      let valueInput = event.attrs.value;

      existingTokens = existingTokens.filter(function(obj) {
        return obj.value !== valueInput
      })

      suggestArr.push(valueInput)

      console.log($(this))

    });

    // improvement temuan to juni

    $("table").on('click', '#btnremove', function() {
      // console.log()
      $(this).parent().parent().remove()
      // $(this).closest("tr").remove();
      // $count = count($this->listgroup);
      var count = document.getElementById("count").value;
      var count2 = document.getElementById("count2").value;
      var total = count - 1;
      $('#count').val(total);
      // alert(count2);
      var total = count2 - 1;
      $('#count2').val(total);

      // temuan to juni
      // var table = document.getElementById("grouptable");
      let table = $('#grouptable tr')

      if (table.length > 2) {
        $("#grouptable tr:last").find('td:last').html(`<button type='button' class='btn btn-sm btn-danger' id='btnremove'><i class='fa fa-times'></i></button>`);
      }

      // console.log(table);
      // table.rows[total].insertCell(3);


      // table.rows[total].cells[4].innerHTML = "<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow()'><i class='fa fa-times'></i></button>";
      // temuan to juni

      // print_r($count);die;
      // if(empty($count)){
      //   $total = '-1';
      // }else{
      //   $total = $count-2;
      // }

      initCheckUser();
    });

  });

  function arrayRemove(arr, value) {
    return arr.filter(function(ele) {
      return ele != value;
    });

  }

  function getalltoken() {
    var suggestions = [
      []
    ];
    var sgUser = $('#sg_user').tokenfield('getTokens');
    var counterList = $('#counterList').val();

    <?php

    foreach ($this->listgroup as $key => $val) { ?>

      var sg<?= $key ?> = $('#user<?= $key ?>').tokenfield('getTokens');

      suggestions = suggestions.concat(sg<?= $key ?>)

    <?php } ?>

    suggestions = suggestions.concat(sgUser)

    if (counterList != "0") {
      var alphabet = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"];
      var i = document.getElementById("count2").value;

      for (var k = 0; k <= i; k++) {
        var numb = (+k) - 2;
        if (numb > 0) {
          var arraylist = $('#user' + alphabet[numb]).tokenfield('getTokens')
          suggestions = suggestions.concat(arraylist)
        }
      }

    }
    // alert();
    return suggestions
  }

  function getdata() {
    return (document.getElementById('sg').value).split(',');
  }


  let bool = '<?php echo $sugest ?>'.split(',');
  var suggest = JSON.parse('<?php echo json_encode($suggest) ?>');


  // $('input[name="sg_user"]').amsifySuggestags({
  //   type : 'amsify',
  //   suggestions: ($('#sg').val()).split(','),
  //   afterAdd:function(value){
  //     //after add
  //     suggest = arrayRemove(suggest, value);
  //     $('#sg').val(suggest);
  //     // console.info(suggest);

  //   /*  sg = arrayRemove(sg, value);
  //     $('#sg').val(sg);*/

  //   },
  //   afterRemove:function(value){
  //     //after remove
  //     suggest.push(value);
  //     $('#sg').val(suggest);
  //     // console.info(suggest);
  //     /*sg.push(value);
  //     $('#sg').val(sg);*/
  //   }
  // });

  $('#sg_user').tokenfield({
    autocomplete: {
      source: getdata(),
      delay: 100
    },
    // showAutocompleteOnFocus: true,
  });

  $('#sg_user').on('tokenfield:createtoken', function(e) {
    var existingTokens = getalltoken();
    $.each(existingTokens, function(index, token) {
      if (token.value === e.attrs.value)
        e.preventDefault();
    });
  });

  $('#sg_user').parent().on('keyup', function(e) {
    console.log(e.which);
    if (e.which === 13) {
      e.preventDefault();
    }
  });




  // function refresh(){
  //   var params = {
  //     type : 'amsify',
  //     suggestions: suggest
  //   };
  //   $('input[name="color"]').amsifySuggestags(params, 'refresh');

  //   $('input[name="sg_user"]').amsifySuggestags({
  //     type : 'amsify',
  //     suggestions: suggest,
  //   }, 'refresh');
  // }



  function removeParent(elem) {
    var parentname = elem.parentNode.parentNode.id;
    // alert(parentname);
    document.getElementById(parentname).remove();
    $("#" + parentname).remove();
  }
</script>

<script>
  function save(form) {
    var warning = 0;
    //var sgdata = document.getElementById("sg_user").value;
    //if(sgdata==''){
    //  var warning = 1;
    //alert(sgdata);
    //}else{
    var total = document.getElementById("count2").value;
    var alphabet = ["", "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"];
    var i;
    for (i = 1; i < total; i++) {
      var tag = 'user' + alphabet[i];
      //alert(tag);
      //console.log(tag);
      var countdata = document.getElementById(tag).value;
      if (countdata == '') {
        var warning = 1;

        break;
      }
    }

    //}

    if (warning == 1) {
      //     document.getElementById("regForm").submit(); 
      alert('User selain Special Group wajib di isi');
    } else {
      //alert();
      //form.submit();
      return false;
    }
    //alert(sgdata);


  }

  function initCheckUser() {
    $(".tokenfield").off("tokenfield:createtoken");
    $(".tokenfield").on("tokenfield:createtoken", function(event) {
      $(this).find(".token-input").val("");
      if ($("#sg").val().split(",").includes(`${event.attrs.value}`)) {
        $.each($(".tokenfield > input[placeholder='User'].matrixnew"), function(index, token) {
          var existingTokens = $(`#${token.id}`).tokenfield("getTokens");

          $.each(existingTokens, function(index, token) {
            if (token.value === event.attrs.value) {
              alert("User sudah terpilih");
              event.preventDefault();
            }
          });
        });
      } else {
        alert("User tidak ditemukan");
        event.preventDefault();
      }
    });

  }


  function incrementValue() {
    var alphabet = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"];

    var cList = $('#counterList').val()

    $('#counterList').val(1 + (+cList))

    if (document.getElementById("count").value < 25) {
      document.getElementById('count').stepUp(1);
      document.getElementById('count2').stepUp(1);


      var count = document.getElementById("count").value;
      var i = document.getElementById("count2").value;
      //alert(i);
      if (i != 1) {
        // alert(count);
        var table = document.getElementById("grouptable");
        var row = table.insertRow(i);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        // table.rows[count+1].insertCell(3);
        //  table.rows[count+1].cells[4].innerHTML = "";
        table.rows[i - 1].cells[3].innerHTML = "";

        cell1.innerHTML = alphabet[count];
        cell1.style.paddingTop = '10px';
        cell1.style.border = 'none';
        cell1.style.verticalAlign = 'middle';
        // alert(alphabet[0]);
        // alert(alphabet[count]);
        cell2.innerHTML = "<i class='fas fa-users' style='margin-right: 3%; color: grey; font-size: 20px;'></i><input type='hidden' name='groupid[]' value='" + alphabet[i - 2] + "'><input style='width: 85%;' class='matrixnew' value='Group " + alphabet[i - 2] + "' type='text' name='group[]' required='required' placeholder='Group " + alphabet[i - 2] + "'>";
        cell2.style.paddingTop = '10px';
        cell2.style.border = 'none';
        cell2.style.verticalAlign = 'bottom';
        // cell2.innerHTML = "<i class='fas fa-users' style='margin-right: 3%; color: grey; font-size: 20px;'></i><input style='border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; width: 85%;' type='text' name='group_"+alphabet[count]+"' placeholder='Group "+alphabet[count]+"'>";

        cell3.innerHTML = " </i><input style='width: 85%;' class='matrixnew' type='text' name='user[]' id='user" + alphabet[i - 2] + "' required='required' placeholder='User " + alphabet[i - 2] + "'>";
        cell3.style.paddingTop = '10px';
        cell3.style.border = 'none';
        cell3.style.verticalAlign = 'bottom';

        // console.log($(cell3)[0])

        cell4.innerHTML = "<button type='button' class='btn btn-sm btn-danger' id='btnremove'><i class='fa fa-times'></i></button>";
        cell4.style.paddingTop = '10px';
        cell4.style.border = 'none';
        cell4.style.verticalAlign = 'bottom';
        //delete jika diatasnya ada btn delete
        // document.getElementById('countdel').stepUp(1);
        // var j = document.getElementById("countdel").value;

        var delbtncheck = "<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow()'><i class='fa fa-times'></i></button>";


        //  $("input[id='user"+alphabet[count]+"']").amsifySuggestags({
        //   type : 'amsify',
        //   suggestions: suggest,
        //   afterAdd:function(value){
        //     //after add

        //     suggest = arrayRemove(suggest, value);
        //     $('#sg').val(suggest);
        //     // console.info(suggest);

        //   /*  sg = arrayRemove(sg, value);
        //     $('#sg').val(sg);*/

        //   },
        //   afterRemove:function(value){
        //     //after remove
        //     suggest.push(value);
        //     $('#sg').val(suggest);
        //     // console.info(suggest);
        //     /*sg.push(value);
        //     $('#sg').val(sg);*/
        //   }
        // });

        $('#user' + alphabet[count]).tokenfield({
          autocomplete: {
            source: getdata(),
            delay: 100
          }
        });

        $('#user' + alphabet[count]).on('tokenfield:createtoken', function(e) {
          var existingTokens = getalltoken();
          $.each(existingTokens, function(index, token) {
            if (token.value === e.attrs.value)
              e.preventDefault();
          });
        });
        $(".tokenfield").addClass('px-2').css('padding-top', '6px')
      }
      // alert(j);
      // table.rows[j].deleteCell(3);  


    }

    initCheckUser();
  }

  function removerow() {
    if (document.getElementById("count").value >= 0) {
      var table = document.getElementById("grouptable");
      var ibefore = document.getElementById("count2").value;
      table.deleteRow(ibefore);

      document.getElementById('count').stepDown(1);
      document.getElementById('count2').stepDown(1);
      // alert(ibefore)
      document.getElementById('countdel').stepDown(1);

      //tambah delete button di row sebelumnya
      var iafter = document.getElementById("count2").value;
      console.log(iafter)
      if (iafter != 1) {
        // alert(iafter+1);
        // table.rows[iafter].insertCell(3);
        // table.rows[iafter].cells[4].innerHTML = "";
        table.rows[iafter].cells[3].innerHTML = "<button type='button' class='btn btn-sm btn-danger' id='btnremove' onclick='removerow()'><i class='fa fa-times'></i></button>";
      }
    }
  }
</script>
<script type="text/javascript">
  function modalreview() {
    $("#mymodalreview").modal();
  }
</script>