<?php
$optionlist = $this->optionlist;
?>
<script type="text/javascript">
  $(document).ready(function(){
    $('div#sidebar-collapse').click(function(){
        if ( $("#logo-title").is(":visible") ) {
          $("#logo-title").hide();
          $("#logo-titles").hide();
        } else if ( $("#logo-title").is(":hidden") ) {
          $("#logo-title").show();
          $("#logo-titles").show();
        }
      })

    $('#fixTable').fixTableHeader();

    $("#searchtable").keyup(function() {
      var value = this.value.toLowerCase().trim();

      $("#myTable tr").each(function(index) {
          if (!index) return;
          $(this).find("td").each(function() {
              var id = $(this).text().toLowerCase().trim();
              var not_found = (id.indexOf(value) == -1);
              $(this).closest('tr').toggle(!not_found);
              return not_found;
          });
      });
    });

});
</script>
<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Charges'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Company Charges'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <?php echo $this->language->_('Inhouse Charges'); ?>
                  </li>
              </ul>
          </div>
        </div>
</div>

<div class="row content-box">
  <div class="col-md-12">
    <h5><?=$this->language->_('Company Monthly Fee')?></h5>

    <form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">




    <?php
    $optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
    foreach($this->filterlist as $row){
    $optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
    }

    ?>
    <div class="row " id="logo-titles" style="margin-left: 0px">
      <?php
      if(!empty($this->wherecol)){
        ?>
        <script type="text/javascript">
          $(document).ready(function(){
          $("#logo-title").show();
        });

        </script>
        <?php
      }
      // print_r($this->wherecol);die;
      foreach ($this->wherecol as $key => $value) {
        ?>
          <div id="searchs" style="width: 100%">
                    <?php
                        $datetype = array('CUST_ID','MONTHLY_FEE_STATUS');
                        $selectlist = array("CUST_NAME","SUGGESTOR","");
                        $index = 0;



                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$ctr?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($value==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]' >

                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'>
                                        <script type="text/javascript">
                                          $(document).ready(function(){
                                          var colval = "#colvalue-s<?=$key?>";
                                          var colomnname = "<?=$value?>";
                                          // var colselect= "<?=$value?>";
                                          var colselect = "colselect-s<?=$key?>";
                          var ncolselect = "#colselect-s<?=$key?>";
                                          if(colomnname == 'CUST_ID'){
                              // alert(<?=$index?>);
                                  $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

                                  var id = $("#tablename").find(":selected").val();
                                  $.ajax({
                                  url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'cust'),null,true)?>",
                                  type: 'GET',
                                  dataType: "html",
                                  data: {
                                      id: '<?=$this->whereval[$key]?>'
                                  },
                                  success: function(data) {
                                      $(ncolselect).html(data);
                                  },
                                  error: function(xhr, ajaxOptions, thrownError)
                                  {
                                      alert("Failed to get where column list, please try again");
                                  }
                              });

                                  $(colselect).val('<?=$this->whereval[$index]?>');
                  
                  

                          }else if(colomnname == 'STATUS'){
                              // alert(<?=$index?>);
                                  $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

                                  var id = $("#tablename").find(":selected").val();
                                  $.ajax({
                                  url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'status'),null,true)?>",
                                  type: 'GET',
                                  dataType: "html",
                                  data: {
                                      id: '<?=$this->whereval[$key]?>'
                                  },
                                  success: function(data) {
                                      $(ncolselect).html(data);
                                  },
                                  error: function(xhr, ajaxOptions, thrownError)
                                  {
                                      alert("Failed to get where column list, please try again");
                                  }
                              });

                                  $(colselect).val('<?=$this->whereval[$index]?>');

                          }
                      });



                                        </script>
                                      <?php
                                          if(in_array($value, $selectlist)){
                                          ?>
                                            <input class='form-control' type='text'  name='whereval[]' value='<?=$this->whereval[$key]?>' style="width:100%"/>
                                          <?php }
                                          if (!in_array($value, $datetype)){
                          // print_r($value);die;
                          $index++;
                        }
                                           ?>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>

                </div>

        <?php
      }
      ?>

    </div>


    <div class="row " id="logo-title" style="display: none">
    <div class="portlet-body form col-md-12">
    <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($val==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>

                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?=$ctr?>'>
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value=''/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    <?php //}}?>
                </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
                <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
                &nbsp;
        <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">


                <br/>


                      <div class="portlet-body form" style="display: none">

                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
                                                            <div class="col-md-4">
                                                            <?php echo $this->formSelect('paymentType',$this->paymentType,array('id'=>'paymentType','class'=>'form-control','onclick'=>'changeTransferType()'), $this->optPayType); ?>
                                                            </div>
                                                            <label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
                                                            <div class="col-md-3">
                                                            <select name = "transferType" id = "transferType" class="form-control">
                                                      <option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
                                                    </select>
                                                            </div>
                                                 </div>

                                                 <div class="form-group row ">

                                                            <div class="col-md-12">
                                                            <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btn btn-success')); ?>&nbsp;
                                                    <input type="button" name="clearfilter" class="btn btn-success" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                                                            </div>
                                                 </div>


                               </div>
                               </div>
            <div class="col-md-4">
            </div>

    </div>
    <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
       <a href="#" class="sidebar-collapse-icon with-animation">
           <?php echo $this->language->_('Advanced Search'); ?>
       </a>
    </div>
  </div>
</div>

    </form>

<br />
<div class="form-group">
  <div style="float:right; padding-left:5px;">
        <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                            <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                        </div>
                <input type="text" class="search form-control" id="searchtable" placeholder="Search">
            </div>
    </div>
    <div class="" style="float:left">
        <button class="btn-sm btngrad hov"  type="button" data-toggle="modal" data-target="#myModal"><i class="fa fa-file-csv"></i>&nbsp;<?php echo $this->language->_('Import File')?></button>
    </div>
  <div style="float:right; padding-left:10px;">
    <form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?> method="post" class="hidden">
      <!-- <?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?> -->
      <!-- <?php  echo $this->formSubmit('pdf',$this->language->_('PDF is too large (function is disabled)'),array('class'=>'btnwhite disabled','disabled'=>'disabled')); ?> -->
      <!-- <?php echo '<input type="submit" value="&#xf1c1; PDF is too large (function is disabled)" name="pdf" id="pdf" class="fa disabled" disabled="disabled">'; ?>&nbsp; -->
      <!-- <?php }else{ ?> -->
      <!-- <?php  echo $this->formSubmit('pdf','PDF',array('class'=>'btngreen hov')); ?> -->
      <!-- <?php echo '<input type="submit" value="&#xf1c1; PDF" name="pdf" id="pdf" class="fa">'; ?>&nbsp; -->
      <!-- <?php } ?> -->

      <?php if(($this->paginator->getTotalItemCount()) > $this->applicationSetting['max_row_download_csv']) { ?>
      <!-- <?php echo $this->formSubmit('csv','CSV is too large (function is disabled)',array('class'=>'btnwhite disabled','disabled'=>'disabled')); ?>&nbsp; -->
      <?php echo '<input type="submit" value="&#xf6dd CSV is too large (function is disabled)" name="csv" id="csv" class="fa disabled" disabled="disabled">' ?>&nbsp;
      <?php }else{ ?>
      <!-- <?php echo $this->formSubmit('csv','CSV',array('class'=>'btngreen hov')); ?>&nbsp; -->
      <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa">' ?>&nbsp;
      <?php } ?>
      <!-- <button class="btn-sm btngrad hov" onclick="window.print();" type="button"><i class="fa fa-print"></i>&nbsp;<?php echo $this->language->_('Print')?></button> -->
      <?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {
            echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;'. $this->language->_("Print").'</button>';
        }
        else{
        ?>
            <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print")?></button>&nbsp;
        <?php
        }
        ?>
    </form>
  </div>
</div>

<br>
<br />
<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog ">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-body" align="center">
          <h5 class="modal-title">Company Charges</h5>
          <h6>(Import Files)</h6>
          <br>
          <div class="col-md-6" align="left" >
            <select class="form-control"  name="">
              <option value="">Select Template Target</option>
            </select>
          </div>
          <div class="col-md-6" align="left">
              <a href="#">Download Template  </a>&nbsp; <a href="#" style="font-size:20px;"><code>&#9432;</code></a>
          </div>
          <div class="file-upload col-md-6">
              <div class="file-select">
                <div class="file-select-button" id="fileName">Choose File</div>
                <div class="file-select-name" id="noFile">No file chosen...</div>
                <input type="file" name="chooseFile" id="chooseFile">
              </div>
          </div>
          <br><br>
          <div class="col-md-6">
              <button type="button" class="btnwhite hov" onclick="modalclose();" name="button">BACK</button>
              <button type="button" class="btngreen hov" name="button">SUBMIT</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
<div class="portlet-body flip-scroll table-responsive table-fixed"  id="fixTable">


<table class="table table-sm table-striped" id="myTable">
<thead>
    <tr width="100%">
      <th width="3%" valign="top" class="tablehead">No</th>
      <th valign="top" class="tablehead"><?php echo $this->language->_('Company'); ?></th>
      <th valign="top" class="tablehead"><?php echo $this->language->_('Monthly Fee Type'); ?></th>
      <th valign="top" class="tablehead"><?php echo $this->language->_('Company Account'); ?></th>
      <th valign="top" class="tablehead"><?php echo $this->language->_('Number trx From'); ?></th>
      <th valign="top" class="tablehead"><?php echo $this->language->_('Number trx To'); ?></th>
      <th valign="top" class="tablehead"><?php echo $this->language->_('Monthly Fee'); ?></th>
      <th valign="top" class="tablehead"><?php echo $this->language->_('Charge Account'); ?></th>
      <th valign="top" class="tablehead"><?php echo $this->language->_('Lastest Suggested'); ?></th>
      <th valign="top" class="tablehead"><?php echo $this->language->_('Lastest Approved'); ?></th>
      <th valign="top" class="tablehead"><?php echo $this->language->_('Action'); ?></th>
      </tr>
    </thead>
    <tbody>
       <?php
  $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

    if(count($this->paginator) > 0)
    {
          $i=0;
          require_once 'Crypt/AESMYSQL.php';
          $AESMYSQL = new Crypt_AESMYSQL();
          $rand = $this->token;

        foreach($this->paginator as $row)
        {

        $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

      //   if($this->hasPrivilege('COUD'))
      // {
      //     $delete = $this->url(array('module'=>$this->modulename,'controller'=>'delete','action'=>'index','id'=>$row['ID']),null,true);
      //     // $delete = '<a href="javascript:confirmation(\' '.$this->language->_('Are you sure want to delete this Branch Bank?').'\',\''.$delete.'\');">'.$this->language->_('Delete').'</a>';
      //     $delete = '<button  class="btnround"><a href="javascript:confirmation(\' '.$this->language->_('Are you sure want to delete this Branch Bank?').'\',\''.$delete.'\');"><i class="fa fa-trash" style="color:#ffffff"></i></a></button>';
      //     // $edit   = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','id'=>$row['ID']),null,true).'"></a>';
      //     $edit = '<button class="btnround"><a href="'.$this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','id'=>$row['ID']),null,true).'"><i class="fa fa-edit" style="color:#ffffff"></i></a></button>';
      // }
      // else{
      //     $delete = $this->url(array('module'=>'notification','controller'=>'notauthorized','action'=>'index','id'=>$row['ID']),null,true);
      //     $delete = '<button  class="btnround"><a href="javascript:confirmation(\' '.$this->language->_('Are you sure want to delete this Branch Bank?').'\',\''.$delete.'\');"><i class="fa fa-trash" style="color:#ffffff"></i></a></button>';
      //     // $delete = '<a href="javascript:confirmation(\' '.$this->language->_('Are you sure want to delete this Branch Bank?').'\',\''.$delete.'\');">'.$this->language->_('Delete').'</a>';

      //     $edit = '<button class="btnround"><a href="'.$this->url(array('module'=>'notification','controller'=>'notauthorized','action'=>'index','id'=>$row['ID']),null,true).'"><i class="fa fa-edit" style="color:#ffffff"></i></a></button>';
      //     // $edit   = '<a href="'.$this->url(array('module'=>'notification','controller'=>'notauthorized','action'=>'index','id'=>$row['ID']),null,true).'">'.$this->language->_('Edit').'</a>';
      // }

        // echo "<pre>";
          // var_dump($row);
            

        echo '<tr>
          <td class="'.$td_css.'">'.$counter.'</td>';
          // var_dump($this->fields);die;
      foreach($this->fields as $field){
        // var_dump($field);die;
               // if($field['field'] == 'HEADQUARTER'){
               //   //   var_dump($row['HEADQUARTER']);
               //      if(trim($row['HEADQUARTER']) == '1'){
               //          $row['HEADQUARTER'] = 'Yes';
               //      }else if($row['HEADQUARTER'] == '0'){
               //          $row['HEADQUARTER'] = 'No';
               //      }   
               //  } 
          if($row[$field['field']] == ''){
            if($row[$field['field'].'S'] == ''){
              $row[$field['field']] = '-';
            }else{
              $row[$field['field']] = $row[$field['field'].'S'];
            }
          }

          if($row['CUST_ID'] == ''){
            $row['CUST_ID'] = $row['CUST_IDS'];
          }
          // var_dump($row['MONTHLYFEE_TYPE']);
          // if ($field['field'] == 'ACCT_NO' || $field['field'] == 'CHARGES_ACCT_NO') {
          //   if ($row['MONTHLYFEE_TYPE'] == '') {
          //     echo '<td class="'.$td_css.'">'.$row['CUSTACCT_NO'].'</td>';
          //   }
          //   else{
          //     echo '<td class="'.$td_css.'">'.$row['CUSTACCT_NO'].'</td>';
          //   }
          // }

          // --------------------keperluan demo 28 feb 2020---------------------------------
          //if ($field['field'] == 'ACCT_NO') {
          //    echo '<td class="'.$td_css.'">-</td>'; 
          //}
           if($field['field'] == 'CHARGES_ACCT_NO'){ // keperluan demo 28 feb 2020
             if ($row['MONTHLYFEE_TYPE'] == '') {
              echo '<td class="'.$td_css.'">'.$row['CUSTACCT_NO'].'</td>';
            }
            else{
              echo '<td class="'.$td_css.'">'.$row['CUSTACCT_NO'].'</td>';
            }
          }
         // else if($field['field'] == 'TRA_FROM' || $field['field'] == 'TRA_TO'){ // keperluan demo 28 feb 2020
         //     echo '<td class="'.$td_css.'">-</td>'; 
         // }
          // --------------------keperluan demo 28 feb 2020---------------------------------

          else if($field['field'] == 'CUST_MONTHLYFEE_TYPE'){
            if($row['CUST_MONTHLYFEE_TYPE'] == '-'){
              echo '<td class="'.$td_css.'">Monthly Charges per Account</td>';
            }else{
              echo '<td class="'.$td_css.'">'.$row['CUST_MONTHLYFEE_TYPE'].'</td>';
            }
          }else if($field['field'] == 'TRA_FROM' || $field['field'] == 'TRA_TO' || $field['field'] == 'AMOUNT' ){
              if($row[$field['field']] == '-' || $row[$field['field']] == ''){
                echo '<td class="'.$td_css.'">'.Application_Helper_General::displayMoney($this->arrglobal['0'][$field['field']]).'</td>';    
              }else{
                echo '<td class="'.$td_css.'">'.Application_Helper_General::displayMoney($row[$field['field']]).'</td>';
              }

          }else if($field['field'] == 'SUGGEST_DATE' || $field['field'] == 'APPROVE_DATE'){
              if($row[$field['field']] == '-'){
                // var_dump($this->arrglobal);
                echo '<td class="'.$td_css.'">'.$this->arrglobal['0'][$field['field']].'</td>';    
              }else{
              echo '<td class="'.$td_css.'">'.$row[$field['field']].'</td>';    
              }
              // var_dump($row[$field['field']]);
          }
          else{
            echo '<td class="'.$td_css.'">'.$row[$field['field']].'</td>';
          }

          
        }
      echo '<td class="'.$td_css.' pl-3 row">';

      $encrypted_custid = $AESMYSQL->encrypt($row['CUST_ID'], $rand);
      $enccustid = urlencode($encrypted_custid);

      ?>
        <a href="<?=$this->url(array('module'=>'monthlycharges','controller'=>'detail','action'=>'index','custid'=>$enccustid),null,true)?>"><input type="button"  class="btngreen hov" value="<?php echo $this->language->_('Detail')?>"></a>
      <?php
      echo '</td>';

          '</tr>';
 
 
      $i++;
            $counter++;
          }
  }
  else
  {
     echo '<tr><td colspan=11 class="tbl-evencontent" align="center"> - '.$this->language->_('No Data').' - </td></tr>';
  }
?>
      <!-- <tr>
        <td>1</td>
        <td>PT FEDERAL<br>(<a href="javascript:;">FIF00A1</a>)</td>
        <td>100200111</td>
        <td>IDR</td>
        <td>500.00</td>
        <td>100200300</td>
        <td>ADMIN01 <br>(15 Jul 2018 13:51:37)</td>
        <td>APPROVER01 <br>(15 Jul 2018 15:25:42)</td>
      </tr>
      <tr>
        <td>2</td>
        <td>PT ASTRA INTERNATIONAL<br>(<a href="javascript:;">ASTRA01</a>)</td>
        <td>100200222</td>
        <td>IDR</td>
        <td>500.00</td>
        <td>100200222</td>
        <td>ADMIN01 <br>(15 Jul 2018 13:51:37)</td>
        <td>APPROVER01 <br>(15 Jul 2018 15:25:42)</td>
      </tr>
      <tr>
        <td>3</td>
        <td>PT ASTRA INTERNATIONAL<br>(<a href="javascript:;">ASTRA01</a>)</td>
        <td>100200223</td>
        <td>IDR</td>
        <td>500.00</td>
        <td>100200222</td>
        <td>ADMIN01 <br>(15 Jul 2018 13:51:37)</td>
        <td>APPROVER01 <br>(15 Jul 2018 15:25:42)</td>
      </tr> -->
  </tbody>
</table>


</div>

<br />
<div align="right" class="hidden"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>


<script type="text/javascript">
function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
$(document).ready(function(){

$("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-"+ctr+"' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>"+optstr+"</select></div><div style='display:none'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-"+ctr+"'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);
    });
});
  function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
  var $coll = $( '.event_select' );
    $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });

    $(colval).empty();
    if(colomnname == 'SUGEST_DATE'  ){
        $(colval).append("<input type='text' class='form-control'  name='sugestdate[]' id='sugestStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='sugestdate[]' id='sugestEnd' readonly required>");
                                                $('#sugestStart').datepicker({
                                                    format: 'dd/mm/yyyy',
                                                    uiLibrary: 'bootstrap4'
                                                });
                                                $('#sugestEnd').datepicker({
                                                    format: 'dd/mm/yyyy',
                                                    uiLibrary: 'bootstrap4'
                                                });

    }else if(colomnname == 'COMP_CODE'){

            $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'cust'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'STATUS'){

            $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'status'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });
// paytype
    }else{
         $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>
<script type="text/javascript">
function modal(elem){
    $("#myModal").modal();
}

function modalclose(elem){

    $("#myModal").modal('hide');
    $('.modal-backdrop').css({"position":"unset" });
}

$(document).ready(function(){

//   $(function() {
//     $("#myModal").modal();
// });
$('#chooseFile').bind('change', function () {
  var filename = $("#chooseFile").val();
  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("No file chosen...");
  }
  else {
    $(".file-upload").addClass('active');
    $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
  }
});


   $('#myModal').on('shown.bs.modal', function(){
      $('.blur').css({"filter":"blur(10px)" });
    }).on('hidden.bs.modal', function(){
      $('.blur').css({"filter":"" });
    })


});
</script>
