<style>
label{
    font-size: 1.2em;
}

.col-form-label{
		font-size: 1.2em;
}

.textGray {
    color: #8e8e8e;
}

.form-group {
    margin-bottom: 0em;
}

.iconCircle {
		background-color: lightgray;
		color: red;
		margin-top: 3px;
		min-width: 23px;
		height: 20px;
} 

</style>

<div class="row">
   <div class="col-md-12">
     <div class="page-bar">
         <ul class="page-breadcrumb">
             <li>
                 <span><?=$this->language->_('Submission')?></span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('Submission Review')?></span>
								 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('Detail')?></span>
             </li>

         </ul>
     </div>
   </div>
</div>





<div class="modal fade" id="myModalBankApp" tabindex="-1" role="dialog" aria-labelledby="myModalBankApp">
								 
								    <div class="modal-dialog modal-lg" role="document">
								      <div class="modal-content">
								        <div class="modal-header">
										<center style="width:100%">
								          <h4 class="modal-title textBlack" id="myModalLabel">Bank Guarantee Applicant</h4>
										  </center>
										
								        </div>

								        <div class="modal-body">
								          <br>
								          <div class="row">
								            <div class="col-sm-1"></div>
								            <div class="col-sm-10">
											<div class="row">
												<div class="col-sm-3">
													<label class="textGray">Company</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo $this->compinfo['CUST_NAME'] . ' (' . $this->compinfo['CUST_ID'] . ')'; ?></label>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-3">
													<label class="textGray">NPWP</label>
												</div>
												<div class="col-sm-9">
													<label> <?php echo $this->compinfo['CUST_NPWP']; ?></label>
												</div>
											</div>
								            	<div class="row">
												<div class="col-sm-3">
													<label class="textGray">Address</label>
												</div>
												<div class="col-sm-9">
													<label> <?php echo $this->compinfo['CUST_ADDRESS']; ?></label>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-3">
													<label class="textGray">City</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo $this->compinfo['CUST_CITY']; ?></label>
												</div>
											</div>
											<div class=" row">
											<div class="col-sm-3">
												<label for="" class="textGray"><?= $this->language->_('Company Office Number') ?></label>
											</div>
											<div class="col-sm-9">
												<label><?php echo $this->compinfo['CUST_PHONE']; ?> </label>		

											</div>
										</div>
											<div class=" row">
											<div class="col-sm-3">
												<label for="" class="textGray"><?= $this->language->_('Contact Person') ?></label>
											</div>
											<div class="col-sm-9">
												<label><?php echo $this->data['CUST_CP']; ?> </label>		
											</div>
										</div>
											<div class="row">
												<div class="col-sm-3">
													<label class="textGray">Contact Number</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo $this->data['CUST_CONTACT_NUMBER']; ?></label>
												</div>
											</div>
											<div class=" row">
											<div class="col-sm-3">
												<label for="" class="textGray"><?= $this->language->_('Contact Email') ?></label>
											</div>
											<div class="col-sm-9">
												<label><?php echo $this->data['CUST_EMAIL']; ?> </label>

											</div>
										</div>


								            </div>
								            <div class="col-sm-1"></div>

								          </div>





								        </div>
								        <div class="modal-footer">
								          <center style="width: 100%">
								          <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
								      	</center>
								        </div>
								      </div>
								    </div>
								  
								</div>

<br>
<div class="row justify-content-center">
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-6">
                <h5 style="margin-left: 15px;"><?=$this->language->_('Bank Guarantee Detail')?></h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 15px;">Register No#</label>
            </div>
            <div class="col-md-9">
                <label><strong><?php echo $this->BG_REG_NUMBER;  ?></strong> &nbsp;&nbsp;(Type: BG)</label>
            </div>
        </div>
         <div class="row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 15px;">Submission Subject</label>
            </div>
            <div class="col-md-9">
                <label><strong><?php echo $this->BG_SUBJECT; ?></strong></label>
            </div>
        </div>
		
		<div class="row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 15px;">Branch Trade Service</label>
            </div>
            <div class="col-md-9">
                <label><?php echo $this->branchname; ?></label>
            </div>
        </div>
		
		<div class="row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 15px;">Status</label>
            </div>
            <div class="col-md-9">
                <label><?php echo $this->arrStatus[$this->status]; ?></label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 15px;">Notes</label>
            </div>
            <div class="col-md-9">
                <label><?php
										 echo $this->reason; ?></label>
            </div>
        </div>

         <br/>
        <div class="row">
						<div class="content-box" style="width: 97%;padding-left: 2%;border-radius: 5px;border-color: #80808059;height: auto;position: relative;margin-left: 15px;">
                <h5><?=$this->language->_('Bank Guarantee Applicant')?></h5>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Company</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->compinfo['CUST_NAME'].' ('.$this->compinfo['CUST_ID'].')'; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Address</label>
									</div>
									<div class="col-sm-9">
										<label> <?php echo $this->compinfo['CUST_ADDRESS']; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">City</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->compinfo['CUST_CITY']; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Contact Number</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo '('.$this->compinfo['CUST_EXT'].')'.$this->compinfo['CUST_FAX']; ?></label>
									</div>
								</div>
								<a href="#" onclick="bankApp();" style="position: absolute; right: 1%; bottom: 2%;"><i class="fa fa-ellipsis-h"></i></a> 
            </div>
        </div>
			<form action="" id="reviewForm"  method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'reviewdetail','bgnumb'=>$this->BG_REG_NUMBER),null,true)?>" >
        <div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
                <h5><?=$this->language->_('Usage Purpose')?></h5>
							</div>
							<div style="padding-left:2%; padding-top:2px;">
                
                <div class="form-group row">
                    <?php if($this->checkp1){
						   ?><div class="col-sm-5">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						  &nbsp;Bidding Guarantee</label>
                    </div>
					 <?php
					   } ?>
                    <?php if($this->checkp2){ ?><div class="col-sm-5">
                        <label for="">
						   
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Advance Payment Guarantee</label>
                    </div>
					<?php
					   } ?>
                    <?php if($this->checkp3){
						   ?><div class="col-sm-5">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Performance Bond</label>
                    </div><?php
					   } ?>
                    <?php if($this->checkp4){
						   ?><div class="col-sm-5">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Maintenance Guarantee</label>
                    </div>
					<?php
					   } ?>
                </div>
				<?php if($this->checkp5){
						   ?>
                <div class="form-group row pb-2">
                    <div class="col-sm-10">
                        <label for="">
							<i class="fa fa-check" aria-hidden="true"></i>
						   &nbsp;Others :</label>
											<label><?php echo $$this->others; ?>		</label>				
                    </div>
                </div>
				<?php
					   } ?>
							</div>
            </div>
        </div>

        <div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Bank Guarantee Recipient')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Recipient Name<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label><?php echo $this->recipent_name; ?> </label>
												
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Address<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label><?php echo $this->address; ?> </label>
												
										</div>
								</div>
								<div class="form-group row">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">City<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label><?php echo $this->city; ?> </label>
												
										</div>
								</div>
								<div class="form-group row pb-1">
										<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Contact Number<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
												<label><?php echo $this->contact_number; ?> </label>
												
										</div>
								</div>
			</div>
		</div>
        </div>

        <div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Guarantee Transaction')?></h5>
							</div>
							<div style="padding-left:2%; padding-top:2px;">
								<label class="textGray">(According to Tender Invitation, SPPBJ, SPK / Agreement, PO or others documents)</label>
								<div class="form-group row">
									<div class="col-sm-12">
										
										<?php
											echo $this->formTextarea('comment',$this->comment,array('cols'=>'152','rows'=>'4','maxlength'=>'200','class'=>'form-control','readonly'=>'readonly','style'=>'font-size:1.2em'));
										 ?>
									</div>
								</div>
								<br/>
								<?php if($this->fileName){ ?>
								<div class="form-group row pb-1">   
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Attached Document</label>
									</div> 
									<div class="col-sm-9"> 
										<label><?php echo $this->fileName; ?></label>&nbsp;&nbsp;<button onclick="location.href = '/eform/bgdetail/index/bgnumb/<?php echo $this->BG_REG_NUMBER?>/download/1';"  name="download" id="download" value="1" class="btn-sm btnwhite hov">Download</button>
									</div>
								</div>
								<?php } ?>
								<div class="row pt-1">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Bank Guarantee Nominal</label>
									</div>
									<div class="col-sm-7">
											<div class="input-group" id="">
												
												<label><?php echo 'IDR '.Application_Helper_General::displayMoneyplain($this->bank_amount); ?></label>
												
											</div>
									</div>
								</div>
								<div class="form-group row pb-1">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Time Period From</label>
									</div>
									<div class="col-sm-9 form-inline" style="float:left">
										<label><?php echo $this->updateStart; ?>
										&nbsp;To&nbsp;
										<?php echo $this->updateEnd; ?></label>
										&nbsp;&nbsp;&nbsp;
										<label class="textGray" id="daysTotal">&nbsp;</label>
										<?php echo $this->daysTotal; ?>
										

									</div>
								</div>
								<div class="form-group row" style="display:none">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Claim Period</label>
									</div>
									<div class="col-sm-2">
										<label><?php echo $this->claim_period; ?></label>
										
									</div>
									<div class="col-sm-7">
										<label class="textGray">(min. 14 to max. 30 calendar days)</label>
									</div>
								</div>
							</div>
            </div>
        </div>

				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Counter Warranty')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Counter Warranty Type</label>
									</div>
									<div class="col-sm-9">
										<label><?php
										 echo $this->warranty_type_text; ?></label>
										
									</div>
								</div>
								<!-- type1 -->
								
							<?php if($this->warranty_type == '1'){ ?>	
								<div id="wrType1">
									<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Account Number</label>
											</div>
											<div class="col-sm-9">
												<label><?php
										 echo $this->account_number; ?></label>
												
											</div>
									</div>
									<div class="form-group row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Account Name</label>
											</div>
											<div class="col-sm-9">
											<label>	<?php
										 echo $this->account_name; ?></label>
												
											</div>
									</div>
									<div class="row">
											<div class="col-sm-3">
												<label for="" class="textGray col-form-label">Amount</label>
											</div>
											<div class="col-sm-9">
												<div class="input-group" id="">
													<label><?php
										  echo 'IDR '.Application_Helper_General::displayMoneyplain($this->amount); ?></label>
													
												</div>
											</div>
									</div>
								</div>
								
							<?php } ?>
								<!-- type2 -->
								
								<?php if($this->warranty_type == '2'){ ?>
								<div id="wrType2" >
									<div id="listwr" style="width: 100%">
										<div id="wherelist-1">
											<?php if(!empty($this->owner1)){ ?>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Plafond Owner 1</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo $this->owner1; ?></label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Amount</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo 'IDR '.Application_Helper_General::displayMoneyplain($this->amountowner1); ?></label>
													
												</div>
											</div>
											<?php } ?>
											
											
											<?php if(!empty($this->owner2)){ ?>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Plafond Owner 2</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo $this->owner2; ?></label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Amount</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo 'IDR '.Application_Helper_General::displayMoneyplain($this->amountowner2); ?></label>
													
												</div>
											</div>
											<?php } ?>
											
											
											<?php if(!empty($this->owner3)){ ?>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Plafond Owner 3</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo $this->owner3; ?></label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-3">
													<label for="" class="textGray col-form-label">Amount</label>
												</div>
												<div class="col-sm-9">
													<label><?php echo 'IDR '.Application_Helper_General::displayMoneyplain($this->amountowner3); ?></label>
													
												</div>
											</div>
											<?php } ?>
											
											
										</div>
									</div>
									
								</div>
								
								<?php } ?>
								<!-- type3 -->
								
								<?php if($this->warranty_type == '3'){ ?>
								<div id="wrType3" >
									<div class="form-group row">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Insurance Name</label>
										</div>
										<div class="col-sm-9">
											<label><?php
										 echo $this->insuranceName; ?></label>
											
										</div>
									</div>
									<div class="row pt-1">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Principal Agreement</label>
										</div>
										<div class="col-sm-9" style="padding-right: 0px;">
											<div class="input-group" id="">
												
										<label>		<?php
										 echo 'No. '.$this->PrincipalAgreement; ?></label>
										 <label><?php 
										 echo '(Date : '.$this->paDateStart.' s/d '.$this->paDateEnd.')'; ?></label>
										 		&nbsp;
												 &nbsp;
												<span class="input-group-text navbar-search-icon" id="search" style="border-top-right-radius: 0.4rem !important;border-bottom-right-radius: 0.4rem !important;margin-left: -4px;height: 28px;" onclick="openInsurance()"><i class="fa fa-search"></i></span>
											</div>
										</div>
										
									</div>
									<div class="row pt-1 pb-1">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Amount</label>
										</div>
										<div class="col-sm-9">
											<div class="input-group" id="">
												
												<label><?php
										 echo 'IDR '.Application_Helper_General::displayMoneyplain($this->insurance_amount); ?></label>
												
											</div>
										</div>
									</div>
								</div>
								<?php } ?>
							</div>
						</div>
				</div>

				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<div class="row">
									<div class="col-md-6">
										<h5><?=$this->language->_('Provision Fee, Administration and Other Expenses')?></h5>
									</div>
									<div class="col-md-6" >
										<a style="float:right;padding-right: 5px;" onClick="provisionModal()"><i class="iconCircle fas pt-1 fa-info"></i></a>
									</div>
								</div>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2 pb-1">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">All Fee are charge to<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
										</div>
										<div class="col-sm-9">
											<label><?php
										 echo $this->acct.'(IDR) / '.$this->bankname.' / '.$this->src_name; ?></label>
										</div>
								</div>
							</div>
						</div>
				</div>

				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust">
								<h5><?=$this->language->_('Others')?></h5>
							</div>
							<div style="padding-left:2%">
								<div class="form-group row pt-2">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Bank Guarantee Format<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
									</div>
									<div class="col-sm-7">
										<label><?php
										 echo $this->bankFormat; ?></label>
										
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-3">
										<label for="" class="textGray col-form-label">Language<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
									</div>
									<div class="col-sm-9">
										<label><?php
										 echo $this->languagetext; ?></label>
										
									</div>
								</div>
								<br>
								
							</div>
						</div>
				</div>


				<?php if($this->reqrepair){ ?>
				<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div style="padding-left:2%">
								<div class="form-group row pt-2 pb-1">
										<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Notes</label>
										</div>
										<div class="col-sm-9">
											<label><?php
										 echo $this->reason; ?></label>
										</div>
								</div>
							</div>
						</div>
				</div>
				<?php } ?>
				
				<div class="modal fade" id="dialog_box" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title textBlack"><?php echo $this->language->_('Reject Submission Notes') ?></h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  
				<p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Must be filled') ?>:</p>
				<?php echo $this->formTextarea('PS_REASON_REJECT', $this->PS_REASON, array('cols'=>'40%','rows'=>'4',
								'onKeyDown'=>'textCounter(this.form.PS_REASON3,this.form.disable_note_len,128)',
								'onKeyUp'=>'textCounter(this.form.PS_REASON3,this.form.disable_note_len,128)',
								'onKeypress'=>'return noSpecialChar3(event);','class'=>'form-control', 'id' => 'PS_REASON3','style'=>'font-size:1.2em')) ?>
				<br>
				<div class="input-group">
					<?php echo $this->formText('disable_note_len', '128', array('readonly'=>'readonly','size'=>'2', 'class' => 'form-control col-md-2', 'style' => 'width:60px;font-size:1.2em')); ?>
					<span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left');?></span>
				</div> 
				<div class="input-group">
				<label style="text-align:center;width: 100%;font-size: 0.8125rem;" class="errmsg"> Are you sure to reject this submission?</label>
				 </div> 
			</div>
			<div class="modal-footer">
			  <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
			  <button type="button" class="btngreen hov" id="btn_delete_one"><?php echo $this->language->_('Submit') ?></button>
			</div>
		  </div>
		</div>
	  </div>
	  
	  
	  <div class="modal fade" id="dialogrepair_box" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title textBlack"><?php echo $this->language->_('Request Repair Notes') ?></h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  	<p class="textBlack"><span style='color:red;'>*</span><?php echo $this->language->_('Must be filled') ?>:</p>
				<?php echo $this->formTextarea('PS_REASON_REPAIR', $this->PS_REASON, array('cols'=>'40%','rows'=>'4',
								'onKeyDown'=>'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
								'onKeyUp'=>'textCounter(this.form.PS_REASON2,this.form.disable_note_len2,128)',
								'onKeypress'=>'return noSpecialChar3(event);','class'=>'form-control', 'id' => 'PS_REASON2','style'=>'font-size:1.2em')) ?>
				<br>
				<div class="input-group">
					<?php echo $this->formText('disable_note_len2', '128', array('readonly'=>'readonly','size'=>'2', 'class' => 'form-control col-md-2', 'style' => 'width:60px;font-size:1.2em')); ?>
					<span class="ml-2 pt-1 textBlack"><?php echo $this->language->_('char(s) left');?></span>
				</div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
			  <button type="button" class="btngreen hov" id="btn_delete_repair"><?php echo $this->language->_('Submit') ?></button>
			</div>
		  </div>
		</div>
	  </div>

				<div class="row">
					<div class="col-md-12" align="center">
						<button name="back" id="back" class="btn-sm btnwhite hov" onClick="location.href='/eform'" value="1">Back</button>
						&nbsp;&nbsp;
						<?php 
							$repairAttr = array('id' => 'showRepair', 'class' => 'btnwhite hov', "onclick" => "repairmodal();");
							echo $this->formButton('repair',$this->language->_('Request Repair'), $repairAttr);
						?>
						&nbsp;&nbsp;
						<?php
							$rejectAttr = array('id' => 'showReject', 'class' => 'btnred hov', "onclick" => " rejectmodal()");
							echo $this->formButton('reject', $this->language->_('Reject'), $rejectAttr); ?>

						 
						 &nbsp;&nbsp;
						 <?php
							$submitAttr = array('class' => 'btngreen hov');
							echo $this->formSubmit('approve', $this->language->_('Authorize'), $submitAttr);
						?>
					</div>
				</div>
			</form>

    </div>
</div>

<div class="modal fade" id="provisionModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('Info') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col">
						<label class="textBlack">Provision Fee 1% from BG Nominal</label>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label class="textBlack">Administration Fee IDR 500,000</label>
					</div>	
				</div>	
			</div>
			<div class="modal-footer">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Close') ?></button>
			</div>
		</div>
	</div>
</div>
<script src='//cdn.jsdelivr.net/npm/jquery.session@1.0.0/jquery.session.js'></script>
<script type="text/javascript">

function provisionModal(){
	$('#provisionModal').modal('show');
}

function bankApp(){
			$("#myModalBankApp").modal();
		}

function openInsurance(){

var insuranceName = '<?php echo $this->insuranceName; ?>';
var PrincipalAgreement = '<?php echo $this->PrincipalAgreement; ?>';
var bankAmount = '<?php echo $this->bank_amount ?>';
var PolicyHolder = '<?php echo $this->compinfo['CUST_NAME']; ?>';
var updateStart = '<?php echo $this->paDateStart; ?>';
var updateEnd = '<?php echo $this->paDateEnd; ?>';

$.session.delete("InsuranceName");
$.session.set("InsuranceName", insuranceName);

$.session.delete("PrincipalAgreement");
$.session.set("PrincipalAgreement", PrincipalAgreement);

$.session.delete("PolicyHolder");
$.session.set("PolicyHolder", PolicyHolder);

$.session.delete("bankAmount");
$.session.set("bankAmount", bankAmount);

$.session.delete("updateStart");
$.session.set("updateStart", updateStart);

$.session.delete("updateEnd");
$.session.set("updateEnd", updateEnd);




(new showPopUpWindow('<?= $this->url(array('module' => 'popup', 'controller' => 'insurancepopup', 'action' => 'index', 'review'=>'1'), null, true) ?>', 750));

}

$(document).ready(function() {
	var start = new Date('<?php echo $this->TIME_PERIOD_START; ?>');
			var end = new Date('<?php echo $this->TIME_PERIOD_END; ?>');
			var total = (end-start)/(1000 * 60 * 60 * 24);

			if(start && end){
				var total = total + 1;
				$('#daysTotal').html("("+total+" days)")
			}

		});

	function rejectmodal() {

		$('#dialog_box').modal('show');
    
		$("#btn_delete_one").attr('onclick', 'if($("#PS_REASON3").val() == ""){alert("Please fill the notes");}else{$("#dialog_box").modal("hide");$("<input>", {type: "hidden",name: "reject",value: "reject"}).appendTo("#reviewForm");$("#reviewForm").submit();}'); 
	}
	
	
	function repairmodal() {

		$('#dialogrepair_box').modal('show');

    
		$("#btn_delete_repair").attr('onclick', 'if($("#PS_REASON2").val() == ""){alert("Please fill the notes");}else{$("#dialogrepair_box").modal("hide");$("<input>", {type: "hidden",name: "repair",value: "repair"}).appendTo("#reviewForm");$("#reviewForm").submit();}');
	}

</script>