<b>

<ol class="breadcrumb" >
  <li><a href="#" style="font-size: 11px;"><?php echo $this->language->_('Balance Inquiry Popup')?></a></li>
</ol>
</b>
<?php echo $this->language->_('Date'); ?>: <?php echo $this->nowDate;?>
<br/>
<br/>
<?php //Zend_Debug::Dump($this->resultdata);die;?>
<div class="portlet-body flip-scroll">
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
	<tbody>
		<tr>
			<td class="contentarea" id="contentarea" >
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<!--<tr>
						<td >
							<div class="subtopic"><?php echo $this->language->_('Balance Inquiry Popup'); ?></div>
							<div><?php echo $this->language->_('Date'); ?>: <?php echo $this->nowDate;?></div>
						</td>
					</tr>
					<tr><td>&nbsp;&nbsp;</td></tr>
					-->
					<tr>
						<td>
							<table id="0" border="0" cellpadding="0" cellspacing="0"width="800px" class="table table-bordered table-striped table-condensed flip-content">
								<tr>
									<th id="tbl-headercontent" width="80px"><strong><?php echo $this->language->_('Account Number'); ?></strong></th>
<!--									<th id="tbl-headercontent" width="150px"><strong><?php echo $this->language->_('Alias Name'); ?></strong></th>-->
									<th id="tbl-headercontent" width="150px"><strong><?php echo $this->language->_('Account'); ?><br /><?php echo $this->language->_('Bank Name'); ?></strong></th>
									<th id="tbl-headercontent" width="20px"><strong><?php echo $this->language->_('Currency'); ?></strong></th>
									<th id="tbl-headercontent" width="100px" align="center"><strong><?php echo $this->language->_('Available Balance'); ?></strong></th>
									<!--
									<th id="tbl-headercontent" width="100px" align="center"><strong><?php echo $this->language->_('Status'); ?></strong></th>
									-->
								</tr>
							<?php
								// Column beneficiary name belon bener!
								
								if (count ( $this->resultdata ) > 0) {
									$i = 0;
												
									foreach ( $this->resultdata as $row ) {
										$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
										$date = "Updated " .date("d/m/Y H:i:s");
										$systemBalance = new SystemBalance($this->custId,$row['ACCT_NO'],Application_Helper_General::getCurrNum($row['CCY_ID']));
										$systemBalance->checkBalance();
										$accountStatusModified = $systemBalance->getCoreAccountStatusDesc();
//										<td class="'.$td_css.'">'.$row['ACCT_ALIAS_NAME'].'</td>
										echo '<tr>
												<td class="'.$td_css.'">'.$row['ACCT_NO'].'</td>
												
												<td class="'.$td_css.'">'.$row['ACCOUNT_BANK_NAME'].'</td> 
												<td class="'.$td_css.'">'.$row['CCY_ID'].'</td>
												<td class="'.$td_css.'">'.$row['EFFECTIVE_BALANCE'].'</td>';
												//<td class="'.$td_css.'">'.$accountStatusModified.'</td>
										echo '</tr>';
											$i ++;
									}
								} else {?>
									<tr><td colspan=10 class="tbl-evencontent" align="center"> ---<?php echo $this->language->_('No Data'); ?>--- </td></tr>
								<?}
							?>
							
							</table>							
		
				</tbody>
			</table>
			</td>
		</tr>

	</tbody>
</table>
</form>
</div>
