<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Customer Setup'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Approver Boundary'); ?>
                       <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
                  <li>
                     <?php echo $this->language->_('Manage Boundary Management'); ?>
                 </li>
            	</ul>
        	</div>
      	</div>
</div>
<div class="tabheader" id="tabheader"> <h5> <?php echo $this->language->_('Approver Boundary Management'); ?></h5> </div>
<?php if($this->changestatus == null || $this->changestatus == '')
{?>

<div class="row content-box">
    <div class="portlet-body form col-md-12">
      <h6><?php echo $this->language->_('User on Groups'); ?></h6>
      <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped" width="100%">
          <tr>
            <th>No</th>
            <th><?php echo $this->language->_('Group'); ?></th>
            <th><?php echo $this->language->_('User'); ?></th>
          </tr>
         <?php
            for($i=1;$i<12;$i++)
            {
              $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
              $groupid = 'group'.$i;
              $x = 0;

              if($i!=11)
              {
                echo '<tr>
                    <td class="'.$td_css.'">'.$i.'</td>
                    <td class="'.$td_css.'">Group '.$i.'</td>
                    <td class="'.$td_css.'">';

                foreach($this->$groupid as $grouplist)
                {
                  if($x > 0)
                  {
                    echo ', ';
                  }
                  echo $grouplist['USER_ID'];
                  $x++;
                }
              }

              if($i == 11)
              {
                echo '<tr>
                    <td class="'.$td_css.'">'.$i.'</td>
                    <td class="'.$td_css.'">Special Group</td>
                    <td class="'.$td_css.'">';

                foreach($this->special as $special)
                {
                  if($x > 0)
                  {
                    echo ',';
                  }
                  echo $special['USER_ID'];
                  $x++;
                }
              }
              echo '</td></tr>';
            }
         ?>
      </table>
    </div>
</div>

<br />
<br />


<h6><?php echo $this->language->_('Manage Boundary Group for'); ?> <?php echo $this->result['CUST_NAME']?></h6>
<hr />
<i>
	<ul style="-webkit-padding-start:40px;"><?php echo $this->language->_('Note'); ?> :
		  	<li><em><?php echo $this->language->_('Check the'); ?> <strong>"<?php echo $this->language->_('Active box'); ?>"</strong> <?php echo $this->language->_('to activate the selected boundary(ies)'); ?>.</em></li>
		  	<li><em><?php echo $this->language->_('Active boundary(ies) must have minimal one Approval Group'); ?></em></li>
	</ul>
</i>
<br />
<div class="errmsg"><?php echo $this->message;?></div><br>
<div class="row">
    <div class="col-md-12">
      <form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?> method="post">
      <table cellpadding="3" cellspacing="0" border="0" class="col-md-12 table-sm table-striped table-responsive" width="100%">
          <tr>
            <th rowspan="2"><div align ="center"><?php echo $this->language->_('Active'); ?></div></th>
            <th rowspan="2"><div align ="center"><?php echo $this->language->_('Currency'); ?></div></th>
            <th colspan ="2"><div align ="center"><?php echo $this->language->_('Boundary'); ?></div></th>
            <th colspan = "10"><div align ="center"><?php echo $this->language->_('Group'); ?></div></th>
            <th><div align ="center"><?php echo $this->language->_('Overide By'); ?></div></th>
          </tr>
          <tr>
            <th><div align ="center"><?php echo $this->language->_('Lower Boundary'); ?></div></th>
            <th><div align ="center"><?php echo $this->language->_('Upper Boundary'); ?></div></th>
            <th><div align ="center">G1</div></th>
            <th><div align ="center">G2</div></th>
            <th><div align ="center">G3</div></th>
            <th><div align ="center">G4</div></th>
            <th><div align ="center">G5</div></th>
            <th><div align ="center">G6</div></th>
            <th><div align ="center">G7</div></th>
            <th><div align ="center">G8</div></th>
            <th><div align ="center">G9</div></th>
            <th><div align ="center">G10</div></th>
            <th><div align ="center"><?php echo $this->language->_('Special'); ?></div></th>
          </tr>
          <?php
            for($i=1;$i<21;$i++)
            {
              $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
              $boundid = 'bound'.$i;
              $checkid = 'check'.$i;
              $curid = 'cur'.$i;
              $lowid = 'low'.$i;
              $upid = 'up'.$i;
              $specialid = 'special'.$i;

              $errcurid = 'err'.$curid;
              $errlowid = 'err'.$lowid;
              $errupid = 'err'.$upid;
              $overlap = 'overlap'.$i;
              $errgroup = 'errgrup'.$i;

              $msgerrcurid = '';
              $msgerrlowid = '';
              $msgerrupid = '';
              $msgerrgroup = '';
              $msgoverlap = '';
              $rowspan = '';

              if($this->$lowid == null || $this->$lowid == '' || $this->$upid == null || $this->$upid == '')
              {
                $low = (1000*($i-1))+1;
                $low = Application_Helper_General::DisplayMoney($low);
                $up = (1000*$i);
                $up = Application_Helper_General::DisplayMoney($up);
              }
              else
              {
                $low = $this->$lowid;
                $up = $this->$upid;
              }

              if($this->$curid)
              {
                $cur = $this->$curid;
              }
              else
              {
                $cur = 'IDR';
              }

              if($this->$errcurid)
              {
                $msgerrcurid =  '<br /><span class="errmsg">'.$this->$errcurid.'</span>';
              }

              if($this->$errlowid)
              {
                $msgerrlowid =  '<br /><span class="errmsg">'.$this->$errlowid.'</span>';
              }

              if($this->$errupid)
              {
                $msgerrupid =  '<br /><span class="errmsg">'.$this->$errupid.'</span>';
              }

              if($this->$errgroup)
              {
                $msgerrgroup =  '<br /><span class="errmsg">'.$this->$errgroup.'</span>';
              }

              if($this->$overlap)
              {
                $rowspan = 'rowspan="2"';
                for($j=$i;$j>0;$j--)
                {
                  $overlapid = 'overlap'.$i.'-'.$j;
                  if($this->$overlapid)
                  {
                    $msgoverlap .= '<span class="errmsg">'.$this->$overlapid.'</span><br/>';
                  }
                }
              }

      //    		$option = array('maxlength'=>'13',
      //	  						'size'=> '10',
      //							'class'=>'currency',
      //							'onfocus'=>'idr_number_format(this.value,this.id,"edit");',
      //							'onblur'=>'idr_number_format(this.value,this.id,"");',
      //							'onkeypress'=>'return forceCurrencyOCBC(event);'
      //			);

            $option = array('maxlength'=>13,
                      'size'=>25,
                      'onfocus'=>'iNumFrmtUS(this.value,this.id)',
                      'onblur'=>'NumFrmtUS(this.value,this.id)',
                      'onkeypress'=>'return forceDecimalOCBC(event)');

              $attribut = array(	'class' 	=> 'check_box',
                      'checked'	=> (($this->$checkid)=="1")? true : false,
                     );

              echo '<tr>
                  <input type="hidden" name="'.$boundid.'" id="'.$boundid.'" value="'.$this->$boundid.'">
                  <td class="'.$td_css.'" '.$rowspan.' ><div align ="center">'.$this->formCheckbox($checkid,'1',$attribut).'</div></td>
                  <td class="'.$td_css.'" '.$rowspan.'><div align ="center">'.$this->formSelect($curid,$cur,array('class' => 'form-control' , 'id'=>$curid),$this->ccyArr).'</div>'.$msgerrcurid.'</td>
                  <td class="'.$td_css.'"><div align ="left">'.$this->formText($lowid,$low,array('class' => 'form-control'),$option).'</div>'.$msgerrgroup.$msgerrlowid.'</td>
                  <td class="'.$td_css.'"><div align ="left">'.$this->formText($upid,$up,array('class' => 'form-control'),$option).'</div>'.$msgerrupid.'</td>';

              for($x=1;$x<11;$x++)
              {
                $nogroup = sprintf("%02d", $x);
                $grupid = 'N_'.$this->custid.'_'.$nogroup.'-'.$i;

                $attribut =	array(	'class' 	=> 'check_box',
                        'checked'	=> (($this->$grupid)=="1")? true : false,
                       );
                echo '<td class="'.$td_css.'" '.$rowspan.'><div align ="center">'.$this->formCheckbox($grupid,'1',$attribut).'</div></td>';
              }

              $attribut =	array(	'class' 	=> 'check_box',
                      'checked'	=> (($this->$specialid)=="1")? true : false,
                    );

              echo '<td class="'.$td_css.'" '.$rowspan.'><div align ="center">'.$this->formCheckbox($specialid,'1',$attribut).'</div></td>
                </tr>';

              if($this->$overlap)
              {
                echo '<tr>
                    <td class="'.$td_css.'" colspan="2">'.$msgoverlap.'</td>
                   </tr>';
              }
            }
          ?>
      </table>
      <br/>
      <table width="100%">
        <tr align="right"><td  align="left">
          <input type="button" onClick="window.location.href='<?php echo $this->backURL; ?>'" class="btnwhite hov" value="<?php echo $this->language->_('Back'); ?>">
          &nbsp;
            <?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>&nbsp;
            <!--<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'btngreen hov')); ?>-->
            <input type="button" name="clearfilter" class="btngreen hov" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','cust_id'=>$this->custid),null,true)?>'">
          </td>
        </tr>
      </table>
      </form>
    </div>
</div>

<?php
}
else
{?>
<table width="100%">
	<tr align="left">
		<td  align="left">
			<?php echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';?>
			<br />
			<br />
			<br />
			<input type="button" onClick="window.location.href='<?php echo $this->backURL;?>'" class="inputbtn" value="<?php echo $this->language->_('Back'); ?>">
		</td>
	</tr>
</table>
<?php }?>
