<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php 
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<html>
    <head>
	<link rel="shortcut icon" href="/favicon111.ico">
	<title>Back Office Corporate Internet Banking - Square Gate One</title>
	<style>
input.currency{ width: 200px; font-size: 10px; } 
ul { padding-left:10px; } 
h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed } 
body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; } 
b { font-weight:bold; font-size:11px } 
td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; } 
a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; } 
.tbl-evencontent { background-color: none; padding: 4px 4px 4px 4px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
.tbl-oddcontent { background-color: none; padding: 4px 4px 4px 4px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
.tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } 
.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; } 
.errmsg { font-weight:bold; font-size:11px; color:#FF0000 } 
body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
-webkit-print-color-adjust:exact; /*chrome*/ 
-moz-print-color-adjust:exact; /*mozila*/
-o-print-color-adjust:exact; /*opera*/
-ms-print-color-adjust:exact; /*ie*/
} 	
	</style>	
    </head>
    <body onload="window.print();">
        <!-- <table border="0" cellpadding="0" cellspacing="0" widtd="100%" align="left">
		<tbody> -->
				
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td align="left" valign="middle"><div style="padding: 0px 20px 0px 0px"><img src="/images/logo/logosgo_small_2.png" height="40px" border="0"/></div></td>
						<td align="center" valign="middle"><strong>Changes Summary Report</strong></td>
						<td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s")?></strong></td>
					</tr>
				</table>
				<br>
				<!-- <div class="errmsg">
				<?php echo $this->messageSuccess;?>						
				</div><br /> -->
				<div style="font-weight:bold; font-size:14px; padding-bottom:8px;"><?php echo $this->language->_('Summary of Period'); ?>: <?php echo $this->datemsg; ?></div>

					<table width="100%" cellpadding="2" cellspacing="0" border="0">
						<tr><td>
						<?php
							foreach($this->temp as $key => $tp){
								$nmrindex = $key + 1;
								?>

								<div style="padding-bottom:10px;font-weight:bold;"> <?php echo $this->language->_('Charge Type'); ?> : <?php echo $this->language->_($tp);?></div>
								<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<thead>
										<tr>
											<td width="3%" valign="top" class="tdform-sub">No</td>
											<td valign="top" class="tdform-sub">Charge Type</td>
											<td valign="top" class="tdform-sub">Currency</td>
											<td valign="top" class="tdform-sub">Number of Transaction</td>
											<td valign="top" class="tdform-sub">Total Charges</td>
											
										</tr>
									</thead>
									<tbody>
										<?php
										$numFields = count($this->fields) + 1;
										//Zend_Debug::Dump($this->total);//die;

										$dtt = "data".$nmrindex;
										//$dtt = "data2";
										$data = $this->$dtt;
										//echo "data: $data<br />";

										if(!empty($data))
										{
											//Zend_Debug::Dump($this->data);//die;

											$nmr = 1;
											foreach($data as $d => $dataRow)
											{
												$tdcss = ($d % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
												?><tr>
													<td class="<?= $tdcss ?>"><?php echo $nmr; ?></td>
												<?php

												foreach($dataRow as $keyVal => $dataVal)
												{
													$attr = "align='left' ";?>
													<td class="<?= $tdcss; ?>" <?= $attr;?>><?php echo $dataVal; ?></td>

										<?php	}
												?></tr><?php
												$nmr++;
											}

										}
										else
										{
									?>		<tr>
												<td class="tbl-evencontent" colspan="<?php echo $numFields;?>" align="center"><?php echo $this->language->_('there is currently no data in this section'); ?></td>
											</tr> <?php
										}
									?>
									</tbody>
									</table>
								</div>

								<div style="padding-bottom:10px;font-weight:bold;">
								<div class="table-responsive">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
											<tr><td class="tbl-evencontent"><?php echo $this->language->_('Total'); ?> :
											<?
												if($nmrindex == 1) $nn = 'monthly';
												else if($nmrindex == 2) $nn = 'realtime';
												else $nn = 'scm';

												$datatot = $this->total[$nn];
												if(empty($datatot)) echo "-";
												else{
													foreach($datatot as $keytot => $valtot){
														$valmoney = Application_Helper_General::displayMoney($valtot);
														echo "$keytot: $valmoney;";
													}
												}
											?>
											</td></tr>
										</table>
								</div>

								</div><br />
								<?php
							}
						?>
						</td></tr>
					</table>
				<!-- </tbody>
			</table> -->

    </body>
</html>
