<script type="text/javascript">
$(document).ready(function(){
  $('#fixTable').fixTableHeader();
});

function checkChange(){
    if( $('input[name="profileid[]"]:checked').length > 0){
      $('#btnDelete').prop('disabled', false);
      $('#btnDelete').removeClass('disabled');
    }
    else{
      $('#checkall').prop('checked', false);
      $('#btnDelete').prop('disabled', true);
      $('#btnDelete').addClass('disabled');
    }
  }
</script>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?=$this->language->_('General')?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="inhouse"><?=$this->language->_('Reconciliation Adapter')?></span>
                  </li>

              </ul>
          </div>
        </div>
</div>

<h5><?=$this->language->_('Reconciliation Adapter Profile List')?></h5>
<h6 style="color:grey;"><?=$this->language->_('Convert Reconciliation File Profile Setup')?></h6>
<br/>
<div class="">

<style type="text/css">
  .action-button {
    border-radius: 0.4rem!important;
  }
</style>

<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
<div class="panel-heading">
  <div class="input-group">
      <?php if($this->hasPrivilege('RPAD')){ ?>
      <a href="/reconadapter/new" >
        <button type="button" class="btngrad hov mr-3" id="addwhere" style="margin-left: 5px;margin-top: 5px" ><i class="fa fa-plus">&nbsp;</i>Create New</button>
      </a>
    <?php }else{ ?>
      <a href="#">
        <button type="button" class="btngrad disabled hov mr-3" id="addwhere" style="margin-left: 5px;margin-top: 5px" ><i class="fa fa-plus">&nbsp;</i>Create New</button>
      </a>
    <?php } ?>
    <?php if($this->hasPrivilege('RPAD')){ ?>
      <input type="submit" name="delete" class="btngrad hov mt-1" id="btnDelete" value="Delete" disabled>
    <?php }else{ ?>
      <input type="submit" name="delete" class="btngrad disabled hov mt-1" value="Delete" disabled>
    <?php } ?>
  </div>
</div>

<div class="portlet-body flip-scroll table-responsive table-fixed pt-1" id="fixTable">
  <table class="table table-striped table-sm">
      <thead>
        <tr class="tablerow headercolor">
          <th width="5%" class="tablehead">
            <input name="allCheck[]" id="checkall" onclick="if($(this).is(':checked')){$('.checkall').prop('checked', true);$('#btnDelete').prop('disabled', false);$('#btnDelete').removeClass('disabled');}else{$('.checkall').prop('checked', false);$('#btnDelete').prop('disabled', true);$('#btnDelete').addClass('disabled');}" type="checkbox">
          </th>
          <th width="20%" class="tablehead"><?php echo $this->language->_('Adapter Profile Name');?></th>
          <!-- <th width="20%" class="tablehead"><?php echo $this->language->_('Bank');?></th> -->
          <th width="15%" class="tablehead"><?php echo $this->language->_('Created Date');?></th>
          <th width="10%" class="tablehead"><?php echo $this->language->_('Created By');?></th>
          <th  width="20%" class="tablehead"><?php echo $this->language->_('Action');?></th>
        </tr>
      </thead>
      <tbody>
      <?php 
        $numFields = count($this->fields) + 1;
        if(!empty($this->profileData))
        {
          $no = 0;
          foreach($this->profileData as $key => $value)
          {
            $tdcss = ($d % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
            $PS_NUMBERlink = '<a href="'.$this->url(array('module'=>'reconadapter','controller'=>'edit','action'=>'index','profile_id'=>$value['ADAPTER_ID']),null,true).'">'.$value['ADAPTER_ID'].'</a>';
            
            $checkBox = "<input name='profileid[]' type='checkbox' class='checkall' onclick='checkChange()' value='".$value['ADAPTER_ID']."'>";
      ?>
            <tr>
              <td class="<?= $tdcss ?>"><?php echo $checkBox; ?></td>
              <td class="<?= $tdcss ?>"><?php echo $value['ADAPTER_NAME']; ?></td>
              <!-- <td class="<?= $tdcss ?>"><?php echo $value['BANK_NAME']; ?></td> -->
              <td class="<?= $tdcss ?>"><?php echo $value['SUGGESTED_DATE']; ?></td>
              <td class="<?= $tdcss ?>"><?php echo $value['SUGGESTED_BY']; ?></td>
              <td class="<?= $tdcss ?>">
                <button onclick="location.href='/reconadapter/view/index/profileid/<?php echo $value['ADAPTER_ID']; ?>'"class="btnicon" type="button" name="button"> <img src="/images/icon/view.png" height="70%" alt=""> </button>
                <?php if($this->hasPrivilege('RPUD')){ ?>
                <button onclick="location.href='/reconadapter/edit/index/profileid/<?php echo $value['ADAPTER_ID']; ?>'"class="btnicon" type="button" name="button"> <img src="/images/icon/setting.png" height="70%" alt=""> </button>
                <?php }else{ ?>
                   <button class="btnicon disabled" type="button" name="button" disabled> <img src="/images/icon/setting.png" height="70%" alt=""> </button>
                <?php } ?>
              </td>
            <?php
                  $no++;
                }
              }
              else
              {
            ?>
                <tr>
                  <td class="tbl-evencontent" colspan="6" align="center"><?php echo $this->language->_('No Data'); ?></td>
                </tr>
            <?php
              }
            ?>
            </tbody>
          </table>
          </div>
        </div>
      </form>
