<div class="tabheader" id="tabheader"><?php echo $this->language->_('Transaction Daily Limit Changes Detail');?></div>
<?php 
  echo $this->action('message',
                   'tools',
                   'changemanagement',
                   array('changes_id' => $this->changes_id));
?>

<br /><br />
	<table cellpadding="3" cellspacing="0" border="0" class="tableform" width="100%">
		<tr><th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Transaction Daily Limit Request List');?></strong></th></tr> 
		<?php if($this->cek==0){?>
		<tr>
			<td class="tbl-evencontent" colspan="4"><div align="center">There is no Changes on Change Id = <?=$this->changeId?></div></td>
		</tr>
		 <?php }else if($this->cek==1){ ?>
<tr>
	<th width="35%" colspan="2" ><?php echo $this->language->_('Field');?></th>	
	<th width="32%" ><?php echo $this->language->_('Current Value');?></th>
	<th width="32%" ><?php echo $this->language->_('Suggested Value');?></th>
</tr>	
<!-- Frontend Application Global Setting -->
<!------------------------------------------------------------------------- END COST TO BI ------------------------------------------------------------------------------------------------>
<tr>
	<th colspan="4" class="tdform-sub"><strong><?php echo $this->language->_('Global Backend Settings');?></strong></th>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Mayapada Transaction Limit(IDR) ');?></td>
	<td width="1%" class="tbl-evencontent">:</td>		
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->pb_limit_per_trx)?></td>
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->newpb_limit_per_trx)?></td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Mayapada Daily Limit(IDR) ');?></td>
	<td width="1%" class="tbl-evencontent">:</td>		
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->pb_limit_per_day)?></td>
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->newpb_limit_per_day)?></td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Mayapada Transaction Limit(USD) ');?></td>
	<td width="1%" class="tbl-evencontent">:</td>		
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->pbusd_limit_per_trx)?></td>
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->newpbusd_limit_per_trx)?></td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Mayapada Daily Limit(USD) ');?></td>
	<td width="1%" class="tbl-evencontent">:</td>		
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->pbusd_limit_per_day)?></td>
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->newpbusd_limit_per_day)?></td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('RTGS Transaction Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>		
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->rtgs_limit_per_trx)?></td>
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->newrtgs_limit_per_trx)?></td>
</tr>


<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('RTGS Transaction Day (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>		
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->rtgs_limit_per_day)?></td>
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->newrtgs_limit_per_day)?></td>
</tr>


<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('SKN Transaction Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>		
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->skn_limit_per_trx)?></td>
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->newskn_limit_per_trx)?></td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('SKN Daily Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>		
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->skn_limit_per_day)?></td>
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->newskn_limit_per_day)?></td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Domestic Online Transaction Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>		
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->domonline_limit_per_trx)?></td>
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->newdomonline_limit_per_trx)?></td>
</tr>


<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Domestic Online Daily Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>		
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->domonline_limit_per_day)?></td>
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->newdomonline_limit_per_day)?></td>
</tr>


<!-- <tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('In House Transaction Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>		
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->pb_limit_per_trx)?></td>
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->newpb_limit_per_trx)?></td>
</tr>


<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('In House Daily Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>		
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->pb_limit_per_day)?></td>
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->newpb_limit_per_day)?></td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('In House Transaction Limit (USD)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>		
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->pb_limit_per_trx_usd)?></td>
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->newpb_limit_per_trx_usd)?></td>
</tr>


<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('In House Daily Limit (USD)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>		
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->pb_limit_per_day_usd)?></td>
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->newpb_limit_per_day_usd)?></td>
</tr>
 -->
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Purchase Transaction Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>		
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->purchase_limit_per_trx)?></td>
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->newpurchase_limit_per_trx)?></td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Purchase Daily Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>		
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->purchase_limit_per_day)?></td>
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->newpurchase_limit_per_day)?></td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Payment Transaction Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>		
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->payment_limit_per_trx)?></td>
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->newpayment_limit_per_trx)?></td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Payment Daily Limit (IDR)');?></td>
	<td width="1%" class="tbl-evencontent">:</td>		
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->payment_limit_per_day)?></td>
	<td width="32%" class="tbl-oddcontent"><?=Application_Helper_General::displayMoney($this->newpayment_limit_per_day)?></td>
</tr>


<?php }?>
</table>
 <?php 
  echo $this->action('index',
                   'tools',
                   'changemanagement',
                   array('changes_id' => $this->changes_id));
  ?>