<table class="fit-content pt-5">
    <tbody>
        <tr>
            <td><?= $this->language->_('Referensi Transaksi / TraRef#'); ?></td>
            <td><?= $this->detailTrx['TRANSACTION_ID']; ?></td>
        </tr>

        <tr>
            <td><?= $this->language->_('Jenis Servis'); ?></td>
            <td class="font-weight-bold"><?= $this->language->_($this->arrListService[$this->detailTrx['SERVICE']]); ?></td>
        </tr>

        <tr>
            <td colspan="2" class="font-weight-bold"><?= $this->language->_('Rekening Sumber'); ?></td>
        </tr>

        <tr>
            <td><?= $this->language->_('Rekening Sumber'); ?></td>
            <td><?= trim(implode(' ', [$this->detailTrx['SOURCE_ACCT'], '(' . $this->detailTrx['SOURCE_ACCT_CCY'] . ')', '/', $this->detailTrx['SOURCE_ACCT_NAME'], '/', 'BANK BTN'])); ?></td>
        </tr>

        <tr>
            <td><?= $this->language->_('Tipe Rekening'); ?></td>
            <td><?= strtoupper($this->sourceAcctInfo['type_desc']); ?></td>
        </tr>

        <tr>
            <td><?= $this->language->_('Produk Rekening'); ?></td>
            <td><?= implode(' ', [strtoupper($this->sourceAcctInfo['product_type']), '-', $this->sourceAcctInfo['produc_desc']]); ?></td>
        </tr>

        <tr>
            <td><?= $this->language->_('Waktu Pembaharuan'); ?></td>
            <td><?= date('d M Y H:i:s', strtotime($this->detailTrx['UPDATE_APPROVED'])); ?></td>
        </tr>

        <tr>
            <td><?= $this->language->_('Tanggal Transaksi'); ?></td>
            <td><?= date('d M Y', strtotime($this->detailTrx['TRA_TIME'])); ?></td>
        </tr>

        <tr>
            <td><?= $this->language->_('Status'); ?></td>
            <td><?= ($this->detailTrx['TRA_STATUS'] == '1') ? $this->language->_('Sukses') : $this->language->_('Sukses Dengan Pembaharuan Status'); ?></td>
        </tr>
    </tbody>
</table>