<b><?php echo $this->language->_('E-Channel Registration')?> > <?php echo $this->language->_('Request List')?> > <?php echo $this->language->_('Detail')?> > <?php echo $this->language->_('User Data')?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('User Data')?></div>

<div>
    <div>
    	<?php if($this->error){ ?>
		<div class="alert alert-danger"><?php echo $this->language->_($this->message);?></div><br />
		<?php }?>
		<?php if(!$this->error){?>
		<div>
			<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
				<tr>
	        		<td class="tbl-evencontent" width="35%"><?=$this->language->_('User ID')?></td>
	        		<td class="tbl-evencontent" width="75%"><?=$this->user_id?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('User Name')?></td>
	        		<td class="tbl-evencontent"><?=$this->user_fullname?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Email')?></td>
	        		<td class="tbl-evencontent"><?=$this->user_email?></td>
	        	</tr>
				<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Phone Number')?></td>
	        		<td class="tbl-evencontent"><?=$this->user_phone?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Extension')?></td>
	        		<td class="tbl-evencontent"><?=$this->user_ext?></td>
	        	</tr>
	        	<tr>
	        		<td class="tbl-evencontent"><?=$this->language->_('Privilege')?></td>
	        		<td class="tbl-evencontent"><?=$this->user_privi?></td>
	        	</tr>
	        </table>
	   	</div>
	   	<?php }?>
    </div>
</div>

<div>
	<a href="javascript:void(0);" class="inputbtn" onclick="self.close();" style="text-decoration: none;color: white;"><?=$this->language->_('Close')?></a>
</div>