<script>
  function refreshCaptcha() {
    var imgs = '<?= $this->serverUrl() ?>/tools/generatecaptcha';
    $.post(imgs, {},
      function(data) {
        $("div#captcha").html(data);
      });
    $("#capInput").val('');
  }
</script>
<script src="/js/jquery-1.9.1.js"></script>
<script src="/js/gt.js"></script>
<?php

$this->headScript()->appendFile('/keyboard/docs/js/jquery-latest-slim.min.js');
//$this->headScript()->appendFile('/keyboard/docs/js/jquery-migrate-3.1.0.min.js');
$this->headScript()->appendFile('/keyboard/docs/js/jquery-ui-custom.min.js');
$this->headScript()->appendFile('/keyboard/js/jquery.keyboard.js');
$this->headScript()->appendFile('/keyboard/js/jquery.mousewheel.js');
$this->headScript()->appendFile('/keyboard/js/jquery.keyboard.extension-typing.js');
$this->headScript()->appendFile('/keyboard/js/jquery.keyboard.extension-autocomplete.js');
$this->headScript()->appendFile('/keyboard/js/jquery.keyboard.extension-caret.js');
$this->headScript()->appendFile('/keyboard/docs/js/bootstrap.min.js');
$this->headScript()->appendFile('/keyboard/docs/js/demo.js');
$this->headScript()->appendFile('/keyboard/docs/js/jquery.tipsy.min.js');
$this->headScript()->appendFile('/keyboard/docs/js/prettify.js');

// $this->headLink()->appendStylesheet('/keyboard/docs/css/demo.css');
$this->headLink()->appendStylesheet('/keyboard/docs/css/tipsy.css');
$this->headLink()->appendStylesheet('/keyboard/docs/css/prettify.css');
$this->headLink()->appendStylesheet('/keyboard/docs/css/jquery-ui.min.css');
$this->headLink()->appendStylesheet('/keyboard/css/keyboard.css');

?>

<div class="row no-gutters">
  <div class="col-md-7">
    <h4>Secure Login</h4>
  </div>
  <div class="col-md-5" align="right">
    <!-- <a href="/registerechannel" class="btn register-btn"><?= $this->language->_('REGISTER') ?></a> -->
  </div>
</div>

<form autocomplete="off" action="" method="post">
  <?php echo $this->formHidden('randomTransact', $this->randomTransact, array('maxlength' => '128', 'size' => '40', 'readOnly' => true)); ?>
  <div class="row mt-3">
    <div class="col-md-12">
      <?php
      if (isset($this->errors)) {
      ?>
        <div class="alert alert-danger" role="alert">
          <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <span class="sr-only">Error:</span>
          <?php echo $this->errors; ?>
        </div>
      <?php
      }
      ?>
      <style type="text/css">
        .form-group,
        .form-control {
          /*padding-bottom:  0px!important;*/
          margin-bottom: 0.5rem !important;
        }

        .geetest_holder.geetest_wind {
          width: 100% !important;
        }

        input::placeholder {
          margin: 0 0 4px;
        }
      </style>
      <!-- <div class="form-group"> -->
      <div class="form-group">
        <?php
        $userid = $this->language->_('User Id');
        echo $this->formText('userId', $this->userId, array('class' => 'form-control form-control-lg', 'tabindex' => '1', 'autocomplete' => 'off', 'onkeyup' => 'javascript:this.value = this.value.toUpperCase();', 'style' => 'height:50px', 'placeholder' => $userid)); ?>
      </div>

      <div class="form-group">
        <input type="password" name="password" class="form-control form-control-lg" id="password" tabindex="2" onkeypress="capLock(event)" autocomplete="off" placeholder="<?php echo $this->language->_('Password'); ?>" style="height: 50px" />
        <input id="text" type="text" placeholder=" Enter something..." style="display: none">
        <img id="password-opener" class="tooltip-tipsy" title="Click to open the virtual keyboard" src="keyboard/css/images/keyboard.svg" style="float: right;margin-top: -45px;position: relative;z-index: 2;margin-right: 10px;">
        <div id="divMayus"><?php echo $this->language->_('Caps Lock is on'); ?></div>
      </div>

      <div class="form-group" >
        <div id="embed-captcha"></div>
        <p id="wait" class="show"></p>
      </div>

    <!--   <div class="form-group" style="text-align: center;display: none"><b><?php echo $this->language->_('Captcha'); ?></b></div>
      <div id="captcha" class="form-group" style="text-align: center;display: none">
        <img src="<?php echo $this->captImgDir . $this->captchaId; ?>.png" alt="" /><br />
        <input type="hidden" value="<?php echo $this->captchaId; ?>" name="captcha[id]" />
      </div>
      <div class="form-group" style="text-align: center;display: none">
        <a href="javascript:refreshCaptcha();" class="sub-text">
          <b><?php echo $this->language->_('Refresh Captcha'); ?></b>
        </a>
        <input type="text" name="captcha[input]" id="#capInput" class='form-control form-control-lg' onkeyup="javascript:this.value = this.value.toUpperCase();" maxlength="4" tabindex="3" placeholder="<?php echo $this->language->_('Input Captcha'); ?>" style="height: 50px" />
      </div> -->

      <br />
      <input type="submit" class="btn login-btn" name="user_submitbutton" onClick='submitbtn(this)' id="user_submitbutton" value="<?php echo $this->language->_('LOGIN') ?>" />
      <input type="submit" class="btn login-btn" id="user_submitbutton_show" name="user_submitbutton_show" value="<?php echo $this->language->_('LOGIN') ?>" disabled style="display:none" />
      <script>
        function submitbtn() {
          $("#user_submitbutton").hide();
          $("#user_submitbutton_show").show();
        }
      </script>

      <div class="mt-4 mb-2" align="center">
        <a href="/tools/forgotpassword/" class="forgot-password"><?php echo $this->language->_('FORGOT PASSWORD'); ?></a>
      </div>
    </div>
  </div>
</form>


<script type="text/javascript">
  var handlerEmbed = function(captchaObj) {
    $("#embed-submit").click(function(e) {
      var validate = captchaObj.getValidate();
      if (!validate) {
        $("#notice")[0].className = "show";
        setTimeout(function() {
          $("#notice")[0].className = "hide";
        }, 2000);
        e.preventDefault();
      }
    });

    captchaObj.appendTo("#embed-captcha");
    captchaObj.onReady(function() {
      $("#wait")[0].className = "hide";
    });

    captchaObj.onSuccess(function() {
      var result = captchaObj.getValidate();

    });

    captchaObj.onError(function() {

    });


  };
  $.ajax({
    // 获取id，challenge，success（是否启用failback）
    // ur;: "<?= $this->url(array('module' => 'default', 'controller' => 'startrecapcha', 'action' => 'index'), null, true) ?>"
    url: "/default/startrecapcha",
    // url: "../web/StartCaptchaServlet.php?t=" + (new Date()).getTime(), // 加随机数防止缓存
    type: "get",
    dataType: "json",
    success: function(data) {
      // console.log(data);
      initGeetest({
        gt: data.gt,
        challenge: data.challenge,
        new_captcha: data.new_captcha,
        product: "popup",
        lang: 'en', // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
        offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
        // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
      }, handlerEmbed);
    },
    error: function(xhr, ajaxOptions, thrownError) {
      console.info(thrownError);
      // $("#load"+acct).hide();
      // alert("Failed to get where column list, please try again");
    }
  });
</script>
<script type="text/javascript">
  $(window).ready(function() {
    $('#user_id').focus();
  });

  $("#divMayus").hide();
  $('#password').keypress(function(e) {
    var s = String.fromCharCode(e.which);
    if (s.toUpperCase() === s && s.toLowerCase() !== s && !e.shiftKey) {
      $("#divMayus").show();
    } else {
      $("#divMayus").hide();
    }
  });
</script>