<div class="row hiddenprint">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?=$this->language->_('Report')?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                
                <li>
                    <span class="inhouse"><?=$this->language->_('Payment Report')?></span>
                </li>
                
            </ul>
        </div>
    </div>
</div>

<br/>

<?if($this->error){ ?> <div class="errmsg"><?=$this->report_msg?></div><?}?>

<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','sortby' => $this->sortBy,'sortdir' => $this->sortDir),null,true)?>" method="get">
	
	<input type="hidden" name="rmvfilter" value="<?=$this->rmvfilter?>"/>

	<div class="content-box">
		<h4><?=$this->language->_('Report Filter')?></h4>

		<div id="filtererror" class="alert alert-danger" style="display:none;">
			<?=$this->language->_('Maximum filter to be set is 10')?>
		</div>

		<div id="filterbox">
			<?php if(!empty($this->wherecol)){
                foreach($this->wherecol as $key => $val){
                    $ctr = $key;
                    $ctr++;
                    $ftype = "";
            ?>
                    <div id="where-<?=$ctr?>" class="whererow">
                        <div class="form-group row mt-2">
                            <div class="col">
                                <select class='form-control' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                    <option value="">-- <?=$this->language->_('Please Select')?> --</option>
                                    <?php  foreach($this->filterProp as $keyField => $keyElm){
                                        $colname = $keyField."-".$keyElm['type'];
                                        if($val==$colname){
                                            $selected = "selected";
                                            $ftype = $keyElm['type'];
                                            $fname = $keyField;
                                        }
                                        else{
                                            $selected = "";
                                        }
                                    ?>

                                    <option value="<?=$colname?>" <?=$selected?>><?=$keyElm['label']?></option>
                                    <?php }?>
                                </select>
                            </div>
                            <div class="col">
                                <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>
                                    	<option value="EQUAL" <?php if($this->whereopt[$key]=="EQUAL") echo "selected";?>>EQUAL</option>
                                    <?php if(in_array($ftype, array('number','amount'))){?>
                                        <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                        <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                        <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                        <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                    <?php }elseif(in_array($ftype, array('text','select'))){?>
                                        <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                        <?php if($fname !== "pstype"){?>
                                        <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                    	<?php }?>
                                    <?php }elseif(in_array($ftype, array('date'))){?>
                                        <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                        <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                        <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                        <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                        <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                    <?php }?>
                                </select>
                            </div>
                            <div class="col" id='colvalue-<?=$ctr?>'>
                            	<?php 
                            		$whereval = $this->whereval[$key];
                            		$colselect = 'colselect-'.$key;
                            		$ncolselect = '#colselect-'.$key;
                            	?>
                            	<?php if($ftype == "text"){?>
                                	<input class='form-control' type='text' id='<?=$colselect?>' name='whereval[]' maxlength='128' value='<?=$whereval?>' autocomplete='off'/>
                                <?php }elseif($ftype == "amount"){?>
                                	<input type='text' id='<?=$colselect?>' name='whereval[]' value='<?=$whereval?>' maxlength='20' autocomplete='off' class='form-control' style='text-align:right;' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);' onkeypress='return forceCurrencyOCBC(event);'>
                                <?php }elseif($ftype == "date"){?>
                                	<input type='text' class='form-control' name='whereval[]' id='<?=$colselect?>' value='<?=$whereval?>' readonly/>
                                	<script type="text/javascript">
                                		var ncolselect = '<?=$ncolselect?>';
                                		$(ncolselect).datepicker({
									        format: 'dd/mm/yyyy',
									        uiLibrary: 'bootstrap4'
									    });
                                	</script>
                                <?php }elseif($ftype == "select"){
                                	$tempField = explode("-", $val);
                                	$choiceArr = $this->filterProp[$tempField[0]]["data"];

                                	echo '<select class="form-control" name="whereval[] id="'.$colselect.'">';

                                	foreach($choiceArr as $key => $val){
                                		if($whereval == $key)
                                			$selected = "selected";
                                		else
                                			$selected = "";

                                		echo '<option value="'.$key.'" '.$selected.'>'.$val.'</option>';
                                	}

                                	echo '</select>';
                                }?>
                            </div>
                            <div class="col">
                                <button type='button' style='padding:0.15rem 0.5rem;' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
            <?php }}?>
            <?php 
            	if(!empty($this->wherecol))
            		$alertshow = 'display:none;';
            	else
            		$alertshow = '';
            ?>
			<div class="alert alert-secondary" id="nofilter" style="<?=$alertshow?>">-- <?=$this->language->_('No filter set')?> --</div>
		</div>
		<input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/>
        <br/>
        <button type="button" class="btn btn-sm btn-success" id="addwhere"><?=$this->language->_('Add Filter')?></button>&nbsp;&nbsp;
        <span id="hidebtn">
        <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btn btn-success')); ?>&nbsp;&nbsp;
		<input type="button" name="clearfilter" class="btn btn-success" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfltr'=>'1'),null,true)?>'">
		</span>
	</div>
	
	<br />
	
	<div align="right">
		<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
		<?php	echo $this->formSubmit('pdf','PDF is too large (function is disabled)',array('class'=>'btn btn-success','disabled'=>'disabled')); ?>&nbsp;
		<?php }else{ ?>
		<?php 	echo $this->formSubmit('pdf','PDF',array('class'=>'btn btn-success')); ?>&nbsp;
		<?php } ?>
		
		<?php if(($this->paginator->getTotalItemCount()) > $this->applicationSetting['max_row_download_csv']) { ?>
		<?php echo $this->formSubmit('csv','CSV is too large (function is disabled)',array('class'=>'btn btn-success','disabled'=>'disabled')); ?>&nbsp;
		<?php }else{ ?>
		<?php echo $this->formSubmit('csv','CSV',array('class'=>'btn btn-success')); ?>&nbsp;
		<?php } ?>
	</div>

	<br/>
	
	<div align="right">
		<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
	</div>

	<br/>

	<div class="portlet-body flip-scroll" style="overflow-x:scroll;">
	<table width="100%" cellpadding="2" cellspacing="0" border="1" class="table table-bordered table-condensed flip-content">
		<tr class="headercolor">
			<?php 
				echo $this->partial('tableheader.phtml',array(
																'fields' => $this->fields,
																'sortBy' => $this->sortBy,
																'sortDir' => $this->sortDir,
																'query_string_params' => $this->query_string_params
															)
									);
			?>
		</tr>
		
		<?php
			$numFields = count($this->fields);
			
			if(!empty($this->paginator) && count($this->paginator) > 0)
			{
				$no = 0;
				$dataSQL = $this->paginator;
				foreach ($dataSQL as $dataRow)
				{
					echo '<tr>';

					$tdcss = ($no % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
					$PS_NUMBERlink = '<a href="'.$this->url(array('module'=>'display','controller'=>'viewdetail','action'=>'index','payReff'=>$dataRow['payReff']),null,true).'">'.$dataRow['payReff'].'</a>';

					echo '<td class="'.$tdcss.'">'.$PS_NUMBERlink.'</td>';

					$persenLabel = $dataRow["BALANCE_TYPE"] == '2' ? ' %' : '';

					$PSSTATUS  = $dataRow["PS_STATUS"];
					$PSNUMBER  = $dataRow["payReff"];
					$payStatus = $dataRow["payStatus"];


					foreach($this->fields as $dataField)
					{
						$keyVal = $dataField['field'];

						if($keyVal == "payReff")
						{	continue;	}

						$attr = ($keyVal == "amount")? "align='right'":"";

						$value = $dataRow[$keyVal];
						
						if($keyVal == 'acbenef' && $dataRow['PS_TYPE'] == '12'){
							$value = '-';	
						}

						if($keyVal == "payStatus"){
							if($PSSTATUS == 5){
								echo '<td class="'.$tdcss.'"><span id="'.$PSNUMBER.'"></span></td>';
						?>
								<script type="text/javascript">
									$.ajax({
							            url: '<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'countfailed'),null,true)?>',
							            type: 'GET',
							            data: {
							                id: '<?=$PSNUMBER?>',
							                stat: '<?=$payStatus?>',
							            },
							            success: function(data) {
							            	$('#<?=$PSNUMBER?>').text(data);
							            },
							            error: function(xhr, ajaxOptions, thrownError)
							            {
							                console.log("Failed to get status, please try again");
							            }
							        });
								</script>
						<?php	
							}
							else{
								echo '<td class="'.$tdcss.'">'.$this->language->_($payStatus).'</td>';
							}
						}

						if($keyVal == "amount"){
							if(!empty($persenLabel)){
								if(($dataRow['PS_TYPE']=='14' || $dataRow['PS_TYPE']=='15')){
									if($dataRow['PS_STATUS'] == '5' || $dataRow['PS_STATUS'] == '1' || $dataRow['PS_STATUS'] == '2'){
										$value = Application_Helper_General::displayMoney($value).$persenLabel.' ( IDR '.Application_Helper_General::displayNumber($dataRow['PS_REMAIN']).')';
									}else{
										$value = '-';
									}
								}else{
									$value = Application_Helper_General::displayMoney($value).$persenLabel.' ( IDR '.Application_Helper_General::displayNumber($dataRow['PS_REMAIN']).')';
								}
							}elseif(($dataRow['PS_TYPE'] == '14' || $dataRow['PS_TYPE'] == '15')){
								if($dataRow['PS_STATUS'] == '5' || $dataRow['PS_STATUS'] == '1' || $dataRow['PS_STATUS'] == '2'){
									$value = Application_Helper_General::displayMoney($dataRow['PS_REMAIN']);
								}else{
									$value = '-';
								}
							}else{
								$value = Application_Helper_General::displayMoney($value);
							}
						}			
						elseif($keyVal == "created" || $keyVal == "updated") { $value = Application_Helper_General::convertDate($value,$this->view->displayDateTimeFormat); }
						elseif($keyVal == "efdate") { $value = Application_Helper_General::convertDate($value,$this->_dateViewFormat,$this->view->defaultDateFormat); }
						
						$value = ($value == "")? "-": $value;
						
						if($keyVal != "payStatus")
							echo '<td class="'.$tdcss.'" '.$attr.'>'.$this->language->_($value).'</td>';
					}

					echo '</tr>';

					$no++;
				} 
			}else{
		?>
				<tr>
					<td class="tbl-evencontent" colspan="<?php echo $numFields;?>" align="center">-- <?php echo $this->language->_('No Data'); ?> --</td>
				</tr>
		<?php
			}
		?>
		
	</table>
	</div>
	<div align="right">
		<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
	</div><br/>
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$("#addwhere").click(function() {
	        var ctr = $("#wherectr").val();
	        var fieldlist = '<?=$fieldlist?>';

	        var wherelen = $(".whererow").length;

	        if(wherelen < 1){
	        	$("#nofilter").hide();
	        	$("#hidebtn").show();
	        }

	        //max 10 filters
	        if(wherelen < 10){
		        var wherecol = "#wherecol-"+ctr;

		        $("#filterbox").append("<div id='where-"+ctr+"' class='whererow'><div class='form-group row mt-2'><div class='col'><select class='form-control' id='wherecol-"+ctr+"' name='wherecol[]' onchange='getOpt(this)'></select></div><div class='col'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col' id='colvalue-"+ctr+"'><input type='text' name='whereval[]' value='' maxlength='128' class='form-control'></div><div class='col'><button type='button' style='padding:0.15rem 0.5rem;' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");

		        $.ajax({
		            url: '<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'fieldlist'),null,true)?>',
		            type: 'GET',
		            dataType: "html",
		            data: {
		                id: "1"
		            },
		            success: function(data) {
		                $(wherecol).html(data);
		            },
		            error: function(xhr, ajaxOptions, thrownError)
		            {
		                alert("Failed to get where column list, please try again");
		            }
		        });

		        ctr++;
		        $("#wherectr").val(ctr);
		    }
		    else{
		    	$("#filtererror").show();
		    }
	    });
	});

	function removeParent(elem){
		$("#filtererror").hide();
	    var parentname = elem.parentNode.parentNode.parentNode.id;
	    $("#"+parentname).remove();

	    var wherelen = $(".whererow").length;
	    if(wherelen < 1){
	    	$("#nofilter").show();
	    	$("#hidebtn").hide();
	    }
	}

	function getOpt(elem){
    	var id = elem.id;
    	var temp = id.split('-');
    	var ctr = temp[1];

    	var selval = elem.value;
    	var tempval = selval.split('-');
    	type = tempval[1];
    	fieldname = tempval[0];
    	modname = '<?=$this->modulename?>';
    	contname = '<?=$this->controllername?>';

    	urlmain = window.location.protocol+"//"+window.location.hostname+":"+window.location.port;

    	var colval = "#colvalue-"+ctr;
    	var colselect = "colselect-"+ctr;
    	var ncolselect = "#colselect-"+ctr;

    	$(colval).empty();

    	if(type == 'date'){
        
        	$(colval).append("<input type='text' class='form-control' name='whereval[]' id='"+colselect+"' value='' readonly/>");
	        $(ncolselect).datepicker({
		        format: 'dd/mm/yyyy',
		        uiLibrary: 'bootstrap4'
		    });

    	}else if(type == 'amount'){
        	$(colval).append("<input type='text' id='"+colselect+"' name='whereval[]' value='' maxlength='20' autocomplete='off' class='form-control' style='text-align:right;' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();' onkeypress='return forceCurrencyOCBC(event);'>");
    	}else if(type == 'select'){

            $(colval).append("<select class='form-control' id='"+colselect+"' name='whereval[]' ></select>");

            var geturl = urlmain+"/"+modname+"/"+contname+"/"+fieldname;

            $.ajax({
	            url: geturl,
	            type: 'GET',
	            dataType: "html",
	            data: {
	                id: "1"
	            },
	            success: function(data) {
	                $(ncolselect).html(data);
	            },
	            error: function(xhr, ajaxOptions, thrownError)
	            {
	                alert("Failed to get where list, please try again");
	            }
	        });

   		}else{
        	$(colval).append("<input type='text' id='"+colselect+"' name='whereval[]' value='' maxlength='128' class='form-control'>");
		}


    	var optsel = "whereopt-"+ctr;
    	$("#"+optsel).empty();
    	document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

	    if(type == 'amount' || type == 'number'){
	        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
	        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
	        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
	        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
	    }
	    else if(type == 'text' || type == 'select'){
	        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');

	        if(fieldname != 'pstype'){
	        	document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
	        }
	    }
	    else if(type == 'date'){
	        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
	        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
	        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
	        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
	        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
	    }
	}
</script>