<div class="tabheader textBlack" id="tabheader"><?php echo $this->language->_('Suggestion Detail - Airline setting'); ?></div>
<?php
if ($this->changes_id) {

  //temp data
  $temp_status = array(
    1 => $this->status_type['desc']['approved'],
    2 => $this->status_type['desc']['suspended'],
    3 => $this->status_type['desc']['delete']
  );

?>

  <h5 class="textBlack"><?php echo $this->language->_('Change Information'); ?></h5>
  <?php
  echo $this->action(
    'message',
    'tools',
    'changemanagement',
    array('changes_id' => $this->changes_id)
  );
  ?>


  <br />
  <h5 class="textBlack"><?php echo $this->language->_('Suggestion Detail Airlines'); ?></h5>
  <div class="card">
    <div class="card-header cardhead text-white">
      <div class="row">
        <div class="col">
          <strong>Airlines Detail</strong>
        </div>
        <?php if ($this->changes_type == 'E') { ?>
          <div class="col text-right">
            <button id="btnDiffOnly" type="button" class="btnwhite hov"><?php echo $this->language->_('Show Difference Only'); ?></button>
          </div>
        <?php } ?>
      </div>
    </div>
    <table cellpadding="1" cellspacing="0" border="0" class="table table-striped table-condensed flip-content table-sugg">
      <?php if ($this->changes_type == 'E') { ?>
        <tr class="diffRow">
          <td width="200" class="tbl-evencontent textBlack"><b><?php echo $this->language->_('Field Name'); ?></b></td>
          <td width="3" class="tbl-evencontent textBlack">&nbsp;</td>
          <td width="300" class="tbl-evencontent textBlack"><b><?php echo $this->language->_('Current Value'); ?></b></td>
          <td width="300" class="tbl-evencontent textBlack"><b><?php echo $this->language->_('Suggested Value'); ?></b></td>
        </tr>
      <?php } ?>

      <tr>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('company', $this->language->_('Company')); ?></td>
        <td class="tbl-evencontent textBlack">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('company', $this->cust_name); ?></td> <?php } ?>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('company', $this->cust_name); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('airline_name', 'Airline Name'); ?></td>
        <td class="tbl-evencontent textBlack">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('airline_name', $this->airline_name); ?></td> <?php } ?>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('airline_name', $this->airline_name); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('balance_cycle', $this->language->_('Check Every')); ?></td>
        <td class="tbl-evencontent textBlack">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('balance_cycle', $this->m_balance_cycle, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('balance_cycle', $this->balance_cycle, array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('min_balance', 'Minimum Balance'); ?></td>
        <td class="tbl-evencontent textBlack">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('min_balance', 'IDR ' . Application_Helper_General::displayMoney($this->m_min_balance), array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('min_balance', 'IDR ' . Application_Helper_General::displayMoney($this->min_balance), array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('warn1', 'Warning Level 1'); ?></td>
        <td class="tbl-evencontent textBlack">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('warn1', 'IDR ' . Application_Helper_General::displayMoney($this->m_warn1), array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('warn1', 'IDR ' . Application_Helper_General::displayMoney($this->warn1), array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('warn2', 'Warning Level 2'); ?></td>
        <td class="tbl-evencontent textBlack">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('warn2', 'IDR ' . Application_Helper_General::displayMoney($this->m_warn2), array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('warn2', 'IDR ' . Application_Helper_General::displayMoney($this->warn2), array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('amount_topup', $this->language->_('Auto Topup Amount')); ?></td>
        <td class="tbl-evencontent textBlack">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('amount_topup', 'IDR ' . Application_Helper_General::displayMoney($this->m_amount_topup), array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('amount_topup', 'IDR ' . Application_Helper_General::displayMoney($this->amount_topup), array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('divided_type', $this->language->_('Divided Type')); ?></td>
        <td class="tbl-evencontent textBlack">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('divided_type', $this->m_divided_type_text, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('divided_type', $this->divided_type_text, array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('from_source', $this->language->_('From Source Account')); ?></td>
        <td class="tbl-evencontent textBlack">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack data"><?php echo $this->m_transaction_info_text; ?></td> <?php } ?>
        <td class="tbl-evencontent dataChange textBlack"><?php echo $this->transaction_info_text; ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('created_date', $this->language->_('Create Date')); ?></td>
        <td class="tbl-evencontent textBlack">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('created_date', $this->m_airline_created, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('created_date', $this->airline_created, array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('created_by', $this->language->_('Creator')); ?></td>
        <td class="tbl-evencontent textBlack">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('created_by', $this->m_airline_createdby, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('created_by', $this->airline_createdby, array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('airline_suggested', $this->language->_('Last Suggestion')); ?></td>
        <td class="tbl-evencontent textBlack">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('airline_suggested', $this->m_airline_suggested, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('airline_suggested', $this->airline_suggested, array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('airline_suggestedby', $this->language->_('Last Suggester')); ?></td>
        <td class="tbl-evencontent textBlack">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('airline_suggestedby', $this->airline_suggestedby, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('airline_suggestedby', $this->airline_suggestedby, array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('airline_updated', $this->language->_('Last Approval')); ?></td>
        <td class="tbl-evencontent textBlack">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('airline_updated', $this->m_airline_updated, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('airline_updated', $this->airline_updated, array('class' => 'dataChange')); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('airline_updatedby', $this->language->_('Last Approver')); ?></td>
        <td class="tbl-evencontent textBlack">:</td>
        <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('airline_updatedby', $this->m_airline_updatedby, array('class' => 'data')); ?></td> <?php } ?>
        <td class="tbl-evencontent textBlack"><?php echo $this->formLabel('airline_updatedby', $this->airline_updatedby, array('class' => 'dataChange')); ?></td>
      </tr>


      <tr>
        <td class="tbl-evencontent" colspan="4"><br /></td>
      </tr>
    </table>
  </div>
  <br />

  <div align="center">
    <?php
    echo $this->action(
      'index',
      'tools',
      'changemanagement',
      array('changes_id' => $this->changes_id)
    );
    ?>


    <?php
    /*     $btn_approve = $this->url(array('module'=>$this->modulename,'controller'=>'activate','action'=>'index','cust_id'=>$this->cust_id),null,true);
       echo $this->formButton('approve','Approve',array('onclick'=>'location.href=\''. $btn_approve.'\'','class'=>'inputbtn'));

       echo '&nbsp;&nbsp;';
       $btn_reject = $this->url(array('module'=>$this->modulename,'controller'=>'activate','action'=>'index','cust_id'=>$this->cust_id),null,true);
       echo $this->formButton('reject','Reject',array('onclick'=>'location.href=\''.  $btn_reject.'\'','class'=>'inputbtn'));

       echo '&nbsp;&nbsp;';
       $btn_request_repair = $this->url(array('module'=>$this->modulename,'controller'=>'activate','action'=>'index','cust_id'=>$this->cust_id),null,true);
       echo $this->formButton('request_repair','Request Repair',array('onclick'=>'location.href=\''. $btn_request_repair.'\'','class'=>'inputbtn'));

       echo '<br/><br/>';
       $btn_repair = $this->url(array('module'=>$this->modulename,'controller'=>'repair','action'=>'index','changes_id'=>$this->changes_id),null,true);
       echo $this->formButton('repair','Repair',array('onclick'=>'location.href=\''. $btn_repair.'\'','class'=>'inputbtn'));*/
    ?>
  </div>


  <div>
    <?php //echo $this->formButton('back','Back',array('onclick'=>'location.href=\''.$this->backURL.'\'','class'=>'inputbtn')); 
    ?>

  </div>
  <?php if ($this->changes_type == 'E') { ?>
    <script>
      $("table.table-sugg > tbody > tr").each(function() {
        var data = $(this).find(".data");
        var dataChange = $(this).find(".dataChange");
        if (data.text() != dataChange.text()) {
          dataChange.css('background-color', '#fffe5c');
          $(this).addClass('diffRow');
        }
      });

      $("#btnDiffOnly").click(function() {
        $("table.table-sugg > tbody > tr").each(function() {
          var className = $(this).attr('class');
          if (className != 'diffRow' && $(this).is(":visible")) {
            $(this).hide();
          }else{
            $(this).show();
          }
        });
      });
    </script>
  <?php }
} else { ?>
  <div id="content">- <?php echo $this->language->_('no data'); ?> -</div>
<?php } ?>