<b>

<ol class="breadcrumb" >
  <li><a href="#" style="font-size: 11px;"><?=$this->language->_('Virtual Payment');?></a></li>
  <li><a href="#" style="font-size: 11px;"><?=$this->language->_('Payment Upload List');?></a></li>
  <li><?php echo $this->language->_('Detail'); ?></li>
  
</ol>
</b>

<br/>
<br/>
<table cellpadding="6" cellspacing="0" border="0"  class="table table-bordered table-condensed flip-content" style="">
	<tr><th colspan="6" class="tdform-sub"><strong><?php echo $this->language->_('Company BIN Detail'); ?></strong></th></tr>
	<?php
//	Zend_Debug::dump($this->data);
	echo '<tr>
				<td class="tbl-evencontent">'.$this->language->_('BIN').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['CUST_BIN'].'</td>
				<td class="tbl-evencontent">'.$this->language->_('Company Code').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['CUST_ID'].'</td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('BIN Name').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['CUST_ID'].'</td>
				<td class="tbl-evencontent">'.$this->language->_('Company Name').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['CUST_NAME'].'</td>
			</tr>';

	?>

</table>
<br /><br />
<div class="portlet-body flip-scroll" style="overflow-x:scroll;">
<table cellpadding="3" cellspacing="0" border="0"  class="table table-bordered table-condensed flip-content">
	<tr><th colspan="7" class="tdform-sub"><strong><?php echo $this->language->_('Virtual Payment Uploaded Detail'); ?></strong></th></tr>
	<?php 
	
	if (is_array($this->data) && count($this->data)){
//			echo $this->data['VP_STATUS'];
			$VA_Status = $this->optStatus[$this->data['VP_STATUS']];
			echo '
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('VP Transaction ID').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['VP_TRANSACTION_ID'].'</td>
				<td class="tbl-evencontent">'.$this->language->_('VA Status').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$VA_Status.'</td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('VA Number').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['VP_NUMBER'].'</td>
				<td class="tbl-evencontent" colspan = "3"></td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Invoice Name').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['INVOICE_NAME'].'</td>
				<td class="tbl-evencontent">'.$this->language->_('Reminder SMS').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['NOTIFICATION_SMS'].'</td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Invoice Description').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['INVOICE_DESC'].'</td>
				<td class="tbl-evencontent">'.$this->language->_('Reminder Email').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['NOTIFICATION_EMAIL'].'</td>


				
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Uploaded Date').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">
					'.Application_Helper_General::convertDate($this->data['VP_CREATED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'
				</td>
				<td class="tbl-evencontent">'.$this->language->_('Uploaded By').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">
					'.$this->data['VP_CREATEDBY'].'
				</td>

				
			</tr>
			<tr>
				
				<td class="tbl-evencontent">'.$this->language->_('Updated Date').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">
					'.Application_Helper_General::convertDate($this->data['VP_UPDATED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'
				</td>
			
				<td class="tbl-evencontent">'.$this->language->_('Updated By').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">
					'.$this->data['VP_UPDATEBY'].'
				</td>

				
			</tr>
			</table>';
?>
</div>
<br /><br />
<div class="portlet-body flip-scroll" style="overflow-x:scroll;">
<table cellpadding="3" cellspacing="0" border="0"  class="table table-bordered table-condensed flip-content">
	<tr><th colspan="7" class="tdform-sub"><strong><?php echo $this->language->_('Virtual Payment Setup Detail'); ?></strong></th></tr>
	<?php
		if ($this->data['REPETITION'] != 0){
			if(!empty($this->data['REPEAT_UNTIL_TIMES'])){
				$until = $this->data['REPEAT_UNTIL_TIMES'].' Times';
			}else if(!empty($this->data['REPEAT_UNTIL_DATE'])){
				$until = 'Date '.$this->data['REPEAT_UNTIL_DATE'];
			}
		}else{
			$until = "-";
		}
		echo '<tr>
				<td class="tbl-evencontent">'.$this->language->_('Repeat').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->optRepeat[$this->data['REPETITION']].'</td>
				<td class="tbl-evencontent">'.$this->language->_('Repeat Every').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->optDay[$this->data['REPEAT_EVERY']].'</td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Repeat until').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$until.'</td>
				<td class="tbl-evencontent" colspan="3"></td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Due Date Set After').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['DUE_DATE'].' Day(s)</td>
				<td class="tbl-evencontent">'.$this->language->_('Reminder Notification').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->optNotif[$this->data['REMINDER_NOTIFICATION']].'</td>
			</tr>

			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Virtual Account After Due Date').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->optVapPayment[$this->data['VP_AFTER']].'</td>
				<td class="tbl-evencontent" colspan="3"></td>
			</tr>
			</table>
			';
?>
</div>
<br /><br />
<div class="portlet-body flip-scroll" style="overflow-x:scroll;">
<table cellpadding="3" cellspacing="0" border="0"  class="table table-bordered table-condensed flip-content">
	<tr><th colspan="7" class="tdform-sub"><strong><?php echo $this->language->_('Virtual Payment Bill Detail'); ?></strong></th></tr>			

			<?php
			// print_r($this->data);die;
			
			if($this->data['DUE_DATE_TYPE'] == '0'){
				$duedate = 'No due date';
				// echo '' ; die;
			}else{
				$duedate = substr(Application_Helper_General::convertDate($this->Duedate,$this->displayDateTimeFormat,$this->defaultDateFormat),0,11)." ".$this->data['VP_TIME'];
			}
			
			echo '
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Effective Date').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.Application_Helper_General::convertDate($this->data['VP_EFDATE'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
				<td class="tbl-evencontent" colspan = "3"></td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Due Date').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$duedate.'</td>
				<td class="tbl-evencontent">'.$this->language->_('Status After Due Date').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent"></td>
			</tr>			
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Amount Type').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->amount_type.'</td>
				<td class="tbl-evencontent" colspan = "3"></td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('VA Type').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->va_type.'</td>
				<td class="tbl-evencontent" colspan = "3"></td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Partial Payment').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->partial_payment.'</td>
				<td class="tbl-evencontent" colspan = "3"></td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Partial Type').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->partial_type.'</td>
				<td class="tbl-evencontent">'.$this->language->_('Buyer Fee').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->buyer_fee.'</td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Unique VA Number').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->unique.'</td>
				<td class="tbl-evencontent">'.$this->language->_('Seller Fee').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->seller_fee.'</td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Calculate Invoice Amount').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->cal_invo.'</td>
				<td class="tbl-evencontent">'.$this->language->_('VP Min Amount').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['CCY'].' '.$this->vp_min.'</td>
			</tr>
			<tr>
				<td class="tbl-evencontent">'.$this->language->_('Calculate Deposit Amount').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->cal_depo.'</td>
				<td class="tbl-evencontent">'.$this->language->_('VP Max Amount').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['CCY'].' '.$this->vp_max.'</td>
			</tr>
			
			<tr>				
				<td class="tbl-evencontent">'.$this->language->_('Amount').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->data['CCY'].' '.SGO_Helper_GeneralFunction::displayCurrency($this->data['AMOUNT']).'</td>
				<td class="tbl-evencontent">'.$this->language->_('Fully Paid').'</td>
				<td class="tbl-evencontent">:</td>
				<td class="tbl-evencontent">'.$this->optPaid[$this->data['PAID_STATUS']].'</td>
			</tr>
			';?>
			
			<?php 
			
	}else{
		echo '<tr>
			<td class="tbl-evencontent" colspan="3"> --- '.$this->language->_('No Data').' --- </td>
		</tr>';
	}
	?>
	
</table>
</div>
<br>
<table cellpadding="3" cellspacing="0" border="0" >
	<strong><?php echo 'Total'.$this->total.' Payment(s), Amount';?> <?php echo SGO_Helper_GeneralFunction::displayCurrency($this->totalamount);?></strong>
</table>

<?php
$paymentHistory = '<a href="'.$this->url(array('module'=>'virtualpayment','controller'=>'historydetail','action'=>'index','reff'=>$this->data['VP_TRANSACTION_ID']),null,true).'"><input type="button" value="Payment History" class="btn btn-warning"></a>';
echo $paymentHistory;
?>
<br>
<br />
<?php
if (is_array($this->data) && count($this->data)){
?>
<!--<table cellpadding="3" cellspacing="0" border="0" >
	<tr>
		<th><?php echo $this->language->_('User'); ?></th>
		<th><?php echo $this->language->_('Action'); ?></th>
		<th><?php echo $this->language->_('Date/Time'); ?></th>
		<th><?php echo $this->language->_('Reason'); ?></th>
	</tr>
	<tr>
		<td class="tbl-evencontent"><?=$this->user?></td>
		<td class="tbl-evencontent"><?php echo $this->language->_('Maker'); ?></td>
		<td class="tbl-evencontent"><?=date('d-m-Y H:i:s')?></td>
		<td class="tbl-evencontent">N/A</td>
	</tr>
</table>
<br />-->
<?php
}
?>
<?php if (is_array($this->data) && count($this->data)){?>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','reff'=>$this->data['VP_NUMBER']),null,true)?>" method="post">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="button-area" id="button-area" colspan="3">
			<?if($this->pdf == false){?>
				<div class="formbutton" style="float:left">
				<?php 
				
				if($this->history){
					echo $this->formButton(
							'back',
							$this->language->_('Back'),
							array(
									'class'=>'btn btn-warning',
									'onClick'=>'javascript:window.location.href="'.
									$this->url(
											array(
													'module'=>$this->modulename,
													'controller'=>'transaction',
													//'action'=>'detail'
											),
											null,
											true
									).'";'
							)
					);
				}
				else{
					echo $this->formButton(
							'back',
							$this->language->_('Back'),
							array(
									'class'=>'btn btn-warning',
									'onClick'=>'javascript:window.location.href="'.
									$this->url(
											array(
													'module'=>$this->modulename,
													'controller'=>'detail',
													//'action'=>'detail'
											),
											null,
											true
									).'";'
							)
					);
				}
				echo '&nbsp';
				$val = '<a href="'.$this->url(array('module'=>'virtualpayment','controller'=>'view','action'=>'edit','reff'=>$this->data['VP_NUMBER']),null,true).'"><input type="button" value="Edit" class="btn btn-warning"></a>';
				echo $val;
				
				echo '&nbsp';
				$suspend = '<a href="'.$this->url(array('module'=>'virtualpayment','controller'=>'view','action'=>'edit','reff'=>$this->data['VP_NUMBER']),null,true).'"><input type="button" value="Suspend" class="btn btn-warning"></a>';
				echo $suspend;
				
				echo '&nbsp';
				$closeVp = '<a href="'.$this->url(array('module'=>'virtualpayment','controller'=>'view','action'=>'edit','reff'=>$this->data['VP_NUMBER']),null,true).'"><input type="button" value="Close VP" class="btn btn-warning"></a>';
				echo $closeVp;
				?>

				
			
<!--					<input type="submit" name="submit" value="<?php echo $this->language->_('Back');?>" class="inputbtn"/>-->
					<input type="button" value="<?php echo $this->language->_('Print');?>" onClick="window.print();" class="btn btn-warning hidden">
					<?php 
						echo $this->formSubmit('pdf',$this->language->_('PDF'),array('class'=>'btn btn-warning'));
					?>

<!--					<button onclick="openwindow('<?PHP echo $this->url(array('printtrxxx' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="inputbtn"><?PHP echo $this->language->_("Print")?></button>&nbsp;-->
					<?php 
					if($this->data['PAID_STATUS'] == 1)
					{
					}
					elseif($this->data['PAID_STATUS'] == 3)
					{
					}
					elseif($this->data['PAID_STATUS'] == 2)
					{
//						echo $this->formSubmit('cancelVirtualPayment',$this->language->_('Cancel Virtual Payment'),array('class'=>'inputbtn')); 
						?>
						<?php $confirm =  $this->language->_('Are You Sure Will be Cancel This Payment')?>
						<?php 
						if($this->hasPrivilege('CVPT'))
						{
							?>
								<input type="submit" name="cancelVirtualPayment" id="cancelVirtualPayment" value="<?php echo $this->language->_('Cancel Virtual Payment')?>" class="btn btn-warning hidden" onclick="return confirm('<?php echo $confirm?>')">
							<?php 
						}else{
							 ?>
							 	<input type="submit" value="<?php echo $this->language->_('Cancel Virtual Payment')?>" class="btn btn-warning hidden" disabled>
							 <?php 
						}
					}
					?>
					<?php }?>
					
				</div>
			</td>
		</tr>
	</table>
</form>
<?php }?>
