<div class="row hiddenprint">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Payment Workflow')?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="inhouse"><?=$this->language->_('Review')?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="inhouse"><?=$this->language->_('More History Detail')?></span>
                    </li>

                </ul>
            </div>
        </div>
</div>

<?php echo $this->action('index',
                        'paymenthistory',
                        'tools',
    array('paymentref' => $this->PS_NUMBER)); ?>