<b><?php echo $this->language->_('RDN Information');?>	&gt; <?php echo $this->language->_('Consolidation Securities Balance Information');?>   </b> <br /><br />
<form name="filterForm" action="<?php echo $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
	<table cellpadding="3" cellspacing="0" border="0" class="tableform" width="50%">
		<tr>
			<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('SID');?></td>
			<td class="tbl-evencontent" width="69%" align="right"><?php echo $this->ACCTSRC.' ('.$this->accData['ACCT_NAME'].' / '.$this->ccy.')'?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent" width="30%"><?php echo $this->language->_('NAME');?></td>
			<td class="tbl-evencontent" width="69%" align="right"><?=$this->ccy.' '.Application_Helper_General::displayMoney($this->openingBalance)?></td>
		</tr>

	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="100%"
		align="left">
		<tbody>
			<tr>
				<td class="contentarea" id="contentarea" >
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td class="button-area" id="button-area" >
							<br/>


							</td>
						</tr>
						<tr>
							<td>
							<?php
							$stockcode = $this->language->_('Stock Code');
							$stockname = $this->language->_('Stock Name');
							$lots = $this->language->_('Lots');
							$shares = $this->language->_('Share');


							?>
							<?php
								echo '<br/><table id="0" border="0" cellpadding="0" cellspacing="0" width="800px">
										<tr>
											<th id="tbl-headercontent"><strong>'.$stockcode.'</strong></th>';
											//<th id="tbl-headercontent"><strong>'.$accountalias.'</strong></th>
								echo		'
									<th id="tbl-headercontent"><strong>'.$stockname.'</strong></th>
									<th id="tbl-headercontent"><strong>'.$lots.'</strong></th>
									<th id="tbl-headercontent"><strong>'.$shares.'</strong></th>

										</tr>';
								if (count ( $this->resultdata ) > 0)
								{
									$i = 0;
									$totalBalance = 0;
									foreach ( $this->resultdata as $row ) {
										$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
										$accountStatusModified =($row['FREEZE_STATUS']!='FREEZE')?$row['FREEZE_STATUS']:'<a href="#" onclick="showPopUpWindow(\'/popup/accountfreeze/index/account/'.$row ['ACCT_NO'].'\', 900)">Freezed</a>';
										echo '	<tr>
													<td class="' . $td_css . '"> - </td>';
													//<td class="' . $td_css . '">' . $row ['ACCT_ALIAS_NAME'] . '</td>
										echo 		'<td class="' . $td_css . '"> - </td>
													<td class="' . $td_css . '"><a href="/rdninformation/securitiesbalance/detail">Detail</a></td>';
										}
										$currency = $row ['CCY_ID'];
										echo	'</tr>';
										$i++;
								}
								else
								{
									$currency = '';
									echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$nodata.' --- </td></tr>';
								}
								?>
								<tr>
									<td class="tbl-evencontent" colspan="3">Total</td>
									<td class="tbl-evencontent"></td>
								</tr>
							</td>
						</tr>

						<tr>
							<td>&nbsp;</td>
						</tr>
					</tbody>
				</table>
		<div>
				<b><b><?php //echo $this->language->_('TOTAL AVAILABLE BALANCE'); ?> <?php $currency ." ". Application_Helper_General::displayMoney($this->totalAvailableBalance);?></b><br /><br />
				<input class="inputbtn" value="<?php echo $this->language->_('Back'); ?>" onclick="location.href='/home/index'" type="button">
		</div>
		</br>
	</td>
	</tr>
	</tbody>
	</table>
</form>
