<!-- begin history -->

<tr>
	<td>
	<div class="portlet-body flip-scroll">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" class="table table-sm table-striped">
		<tr class="headercolor tdform-sub" id="tdform-sub">
			<th class="tbl-headercontent tablehead"><?php echo $this->language->_('User'); ?></th>
			<th class="tbl-headercontent tablehead"><?php echo $this->language->_('Action'); ?></th>
			<th class="tbl-headercontent tablehead"><?php echo $this->language->_('Date/Time'); ?></th>
			<th class="tbl-headercontent tablehead"><?php echo $this->language->_('Notes'); ?></th>
		</tr>
  		<?php
				if(is_array($this->paymentHistory) && count($this->paymentHistory)==0){
					?>
<tr><td class="tbl-evencontent" colspan="4" align="center"><?php echo $this->language->_('There is currently no data in this section'); ?></td></tr>
				<?php
				} else {
					$j = 0;
					//echo '<pre>';
					//var_dump($this->paymentHistory);
					foreach ($this->paymentHistory as $History) {
						
						if($History['USER_LOGIN']){
						if($History['u_name']){
							if($History ['USER_LOGIN'] != 'System'){
								$USER_LOGIN = $History ['USER_LOGIN'].' ('.$History['u_name'].')';
							}else{
								$USER_LOGIN = 'System';
							}
							
							}else{ 
								if($History ['USER_LOGIN'] != 'System'){
									$USER_LOGIN = $History ['USER_LOGIN'].' ('.$History['b_name'].')';
								}else{
									$USER_LOGIN = 'System';
								}
							}
							
						}else{
							$USER_LOGIN = "N/A";
						}
						
						//$USER_LOGIN = ($History ['USER_LOGIN']) ? if($History['u_name']){$History ['USER_LOGIN'].' ('.$History['u_name'].')' }else{ $History ['USER_LOGIN'].' ('.$History['b_name'].')' } : "N/A";
						
						
						$DATE_TIME = ($History ['DATE_TIME']) ? $History ['DATE_TIME']  : "N/A";
						$HISTORY_STATUS = ($History ['HISTORY_STATUS']) ? $History ['HISTORY_STATUS'] : "";
						//echo $HISTORY_STATUS;
						//die();
						//$arrHISTORY_STATUS = $this->arrbgType;//array (1 => "Create", 2 => "Approve", 3 => "Review", 4 => "Release", 5 => "Bank Approve", 7 => "Reject", 8 => "Bulk Releaser", 9 => "Exception", 10 => "Request Repair", 14 => "Cancel Future Date", 15 => "Review", 24 => "Auto Reject" );
						$dispHISTORY_STATUS = $this->historyStatusArr[$HISTORY_STATUS];//in_array ( $HISTORY_STATUS, array_keys ( $arrHISTORY_STATUS ) ) ? $arrHISTORY_STATUS [$HISTORY_STATUS] : "N/A";

						//if reexecute
						/*
						if ($HISTORY_STATUS == 5 && strpos($History ['PS_REASON'], 'From Trans') !== false) {
							$dispHISTORY_STATUS = 'Re-Execute';
						}
						
						if($USER_LOGIN == 'System' && $HISTORY_STATUS != 24){
							$dispHISTORY_STATUS = 'Execute';
						}
						*/

//						$PS_REASON = ($History ['PS_REASON']) ? $History ['PS_REASON'] : "N/A";
						$PS_REASON = ($History ['BG_REASON']) ? $History ['BG_REASON'] : "-";
						$j ++;
						$bgcolor = ($j % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
						?>
						<tr>
<td class="<?php
						echo $bgcolor?> textBlack"><?php
						echo $USER_LOGIN?></td>
<td class="<?php
						echo $bgcolor?> textBlack"><?php
						echo $this->language->_($dispHISTORY_STATUS)?></td>
<td class="<?php
						echo $bgcolor?> textBlack"><?php
						echo $this->Date($DATE_TIME, $this->dateTimeDisplayFormat); ?></td>
<td class="<?php
						echo $bgcolor?> textBlack"><?php
						echo $this->language->_($PS_REASON)?></td>
</tr>
				<?php
					}
				}
				?>
  	</table>
  	</div>
	</td>
</tr>
<!-- end history -->
