<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BG <?= $this->bgNumb; ?></title>

    <link rel="icon" type="image/png" href="/../head-icon-btn.ico">

    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            border: 0;

            height: 100%;
            overflow: hidden;
        }

        iframe {
            width: 100%;
            height: 100%;
            border: 0
        }
    </style>
</head>

<body>
    <iframe src="/bgclosingworkflow/repairdetail/showcert/bgnumb/<?= urlencode($this->bgnumbDecode); ?>" frameborder="0"></iframe>
</body>

</html>