<script>
	$(document).ready(function() {
		if ('<?= $this->success ?>' || '<?= $this->error ?>') {
			$("input").attr("disabled", "disabled");
			$("textarea").attr("disabled", "disabled");
		}
	});
</script>

<b> <?php echo $this->language->_('General'); ?> &gt; <?php echo $this->language->_('General Setting'); ?> </b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Edit General Setting'); ?></div>
<form name="filterForm" action="<?= $this->url(array('page' => '1')) . $this->qstring ?>" method="post">
	<?php if ($this->success) { ?>
		<div class="successmsg"><?= $this->report_msg ?></div><br />
	<?php } else if (!empty($this->report_msg)) { ?>
		<div class="errmsg">

			<?= $this->report_msg ?>
			<?php if ($this->errorfee) {
				echo '<br><br>' . $this->errorfee;
			} ?>
		</div><br />
	<?php } ?>

	<?php
	$optionCurrency = array(
		'maxlength' => 20,
		'size' => 12,
		'class' => 'form-control currency',
		'onfocus' => 'iNumFrmtUS(this.value,this.id)',
		'onblur' => 'NumFrmtUS(this.value,this.id)',
		'onkeypress' => 'return forceCurrency(event)'
	);
	?>
	<table width="100%" cellpadding="3" cellspacing="0" border="0" class="tableform">
		<tr>
			<td width="30%" colspan="2" class="tbl-evencontent">&nbsp;</td>
			<td width="65%" class="tbl-evencontent"><?php echo $this->language->_('Please fill in the form below. All fields are Required'); ?></td>
		</tr>
		<!-- Frontend Application Global Setting -->
		<?php
		foreach ($this->colomnlist as $key => $value) {
			if ($value['SETTING_ID'] == 'disable_note') { ?>
				<tr>
					<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Frontend Application Global Setting'); ?></strong></th>
				</tr>

				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Enable/Disable Payment Gateway'); ?></td>
					<td width="1%" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php
						$options = array(
							'1' => $this->language->_('Enable'),
							'0' => $this->language->_('Disable'),
						);
						echo $this->formRadio('isenabled', $this->isenabled, null, $options);
						?>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'disable_note') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Disabled Notification Text'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formTextarea('disable_note', $this->disable_note, array(
							'cols' => '100', 'rows' => '5',
							'onKeyDown' => 'textCounter(this.form.disable_note,this.form.disable_note_len,200)',
							'onKeyUp' => 'textCounter(this.form.disable_note,this.form.disable_note_len,200)',
							'onKeypress' => 'return noSpecialChar3(event);'
						));
						echo '<br />';
						echo $this->formText('disable_note_len', $this->disable_note_len, array('readonly' => 'readonly', 'size' => '2','class' => 'form-control col-md-12')); ?> char(s) left
						char(s) left
					</td>
				</tr>
				<?php
			}
			if ($value['SETTING_ID'] == 'auto_release_payment') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Enable/Disable Auto Release Payment'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php
						$options = array(
							'1' => $this->language->_('Enable'),
							'0' => $this->language->_('Disable'),
						);
						echo $this->formRadio('auto_release_payment', $this->auto_release_payment, null, $options);
						?>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'note_len') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Frontend General Notification Text'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formTextarea('note', $this->note, array(
							'cols' => '100', 'rows' => '5',
							'onKeyDown' => 'textCounter(this.form.note,this.form.note_len,200)',
							'onKeyUp' => 'textCounter(this.form.note,this.form.note_len,200)',
							'onKeypress' => 'return noSpecialChar3(event);'
						));
						echo '<br />';
						echo $this->formText('note_len', $this->note_len, array('readonly' => 'readonly', 'size' => '2','class' => 'form-control col-md-12')); ?> char(s) left
						char(s) left
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'paging_frontend') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Number of Records perpage'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('paging_frontend', $this->paging_frontend, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xpaging_frontend; ?></div>
					</td>
				</tr>
				<?php
			}
			if ($value['SETTING_ID'] == 'max_claim_period') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Max Claim Time Limit'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('max_claim_period', $this->max_claim_period, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xmax_claim_period; ?></div>
					</td>
				</tr>
				<?php
			}
			if ($value['SETTING_ID'] == 'max_ntu_date') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Max time NTU	'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('max_ntu_date', $this->max_ntu_date, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xmax_ntu_date; ?></div>
					</td>
				</tr>
				<?php
			}
			if ($value['SETTING_ID'] == 'otp_exp_trx') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('OTP Transaction Expiration'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('otp_exp_trx', $this->otp_exp_trx, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xotp_exp_trx; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'max_import_bene') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Max quantity of beneficiary account in one import action'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('max_import_bene', $this->max_import_bene, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xmax_import_bene; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'max_import_single_payment') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Max quantity of single payment in one import action'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('max_import_single_payment', $this->max_import_single_payment, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xmax_import_single_payment; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'range_futuredate') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Maximum days ahead (comparison with current date) when creating payment'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('range_futuredate', $this->range_futuredate, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xrange_futuredate; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'archiveafter') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Archive payment slip after number of months of no activity'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('archiveafter', $this->archiveafter, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xarchiveafter; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'cut_off_time_rtgs') { ?>
				<!-- <tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Global Monthly Administration Fee Per Account'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php
				echo $this->formText('admin_fee_account', Application_Helper_General::displayMoney($this->admin_fee_account), $optionCurrency)
	?>
	<div class="errmsg"><?= $this->xadmin_fee_account; ?></div>
	</td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Global Monthly Administration Fee Per Company'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php

				echo $this->formText('admin_fee_company', Application_Helper_General::displayMoney($this->admin_fee_company), $optionCurrency)
	?>
	<div class="errmsg"><?= $this->xadmin_fee_company; ?></div>
	</td>
</tr>


<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Global Service Charges SKN'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php

				echo $this->formText('global_charges_skn', Application_Helper_General::displayMoney($this->global_charges_skn), $optionCurrency)
	?>
	<div class="errmsg"><?= $this->xglobal_charges_skn; ?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Global Service Charges RTGS'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php
				echo $this->formText('global_charges_rtgs', Application_Helper_General::displayMoney($this->global_charges_rtgs), $optionCurrency)
	?>
	<div class="errmsg"><?= $this->xglobal_charges_rtgs; ?></div>
	</td>
</tr>

-->
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Cut off time for RTGS payments'); ?> (format : hh:mm:ss)</td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('cut_off_time_rtgs', $this->cut_off_time_rtgs, array('class' => 'form-control col-md-12','size' => 10, 'maxlength' => 8)) ?>
						<div class="errmsg"><?= $this->xcut_off_time_rtgs; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'cut_off_time_skn') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Cut off time for SKN payments'); ?> (format : hh:mm:ss)</td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('cut_off_time_skn', $this->cut_off_time_skn, array('class' => 'form-control col-md-12','size' => 10, 'maxlength' => 8)) ?>
						<div class="errmsg"><?= $this->xcut_off_time_skn; ?></div>
					</td>
				</tr>
				<?php
			}
			if ($value['SETTING_ID'] == 'cut_off_time_rtgs') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('RTGS Payments Cut Off Time'); ?> (format : hh:mm:ss)</td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('cut_off_time_rtgs', $this->cut_off_time_rtgs, array('class' => 'form-control col-md-12','size' => 10, 'maxlength' => 8)) ?>
						<div class="errmsg"><?= $this->xcut_off_time_rtgs; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'cut_off_time_bulkpayments') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Cut Off Time for Bulk Payments'); ?> (format hh:mm:ss)</td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('cut_off_time_bulkpayments', $this->cut_off_time_bulkpayments, array('class' => 'form-control col-md-12','size' => 10, 'maxlength' => 8)) ?>
						<div class="errmsg"><?= $this->xcut_off_time_bulkpayments; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'cut_off_time_bi') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Cut Off Time for BI Payments'); ?> (format hh:mm:ss)</td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('cut_off_time_bi', $this->cut_off_time_bi, array('class' => 'form-control col-md-12','size' => 10, 'maxlength' => 8)) ?>
						<div class="errmsg"><?= $this->xcut_off_time_bi; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'starting_time_remittance') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Starting time for Remittance payments'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('starting_time_remittance', $this->starting_time_remittance, array('class' => 'form-control col-md-12','size' => 10, 'maxlength' => 8)) ?>
						<div class="errmsg"><?= $this->xstarting_time_remittance; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'cut_off_time_remittance') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Cut off time for Remittance payments'); ?> (format hh:mm:ss)</td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('cut_off_time_remittance', $this->cut_off_time_remittance, array('class' => 'form-control col-md-12','size' => 10, 'maxlength' => 8)) ?>
						<div class="errmsg"><?= $this->xcut_off_time_remittance; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'start_running_balance') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Starting time for Daily Running Balance (format : hh:mm:ss)'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('start_running_balance', $this->start_running_balance, array('class' => 'form-control col-md-12','size' => 10, 'maxlength' => 8)) ?>
						<div class="errmsg"><?= $this->xstart_running_balance; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'cut_off_running_balance') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Cut off time for Daily Running Balance (format : hh:mm:ss)') ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('cut_off_running_balance', $this->cut_off_running_balance, array('class' => 'form-control col-md-12','size' => 10, 'maxlength' => 8)) ?>
						<div class="errmsg"><?= $this->xcut_off_running_balance; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'remittance_limit_per_month') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Remittance Monthly Limit (USD)') ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php
						echo $this->formText('remittance_limit_per_month', Application_Helper_General::displayMoney($this->remittance_limit_per_month), $optionCurrency);
						?>

						<div class="errmsg"><?= $this->xremittance_limit_per_month; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'threshold_lld') { ?>
				<!--<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Threshold amount for RTGS payments (in IDR)'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php
				//		$optionCurrency = array('maxlength'=>20,
				//						  'size'=>12,
				//						  'class'=>'currency',						  
				//						  'onfocus'=>'idr_number_format(this.value,this.id,"edit");',
				//							'onblur'=>'idr_number_format(this.value,this.id,"");',
				//							'onkeypress'=>'return forceCurrencyOCBC(event);'
				//);
				echo $this->formText('threshold_rtgs', Application_Helper_General::displayMoney($this->threshold_rtgs), $optionCurrency)
	?>
	<div class="errmsg"><?= $this->xthreshold_rtgs; ?></div>
	</td>
</tr>
-->
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Threshold amount for LLD payments (in IDR)'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php
						echo $this->formText('threshold_lld', Application_Helper_General::displayMoney($this->threshold_lld), $optionCurrency)
						?>
						<div class="errmsg"><?= $this->xthreshold_lld; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'threshold_lld_remittance') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Threshold amount for LLD payments (in USD)'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php
						echo $this->formText('threshold_lld_remittance', Application_Helper_General::displayMoney($this->threshold_lld_remittance), $optionCurrency)
						?>
						<div class="errmsg"><?= $this->xthreshold_lld_remittance; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'min_amount_skn') { ?>
				<!-- 
<tr>
	<td width="34%" class="tbl-evencontent"><?php // echo $this->language->_('Remittance Monthly Limit (USD)'); 
																					?> </td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php
				// echo $this->formText('remittance_limit_per_month',Application_Helper_General::displayMoney($this->remittance_limit_per_month),$optionCurrency)		
	?>
	<div class="errmsg"><? // =$this->xremittance_limit_per_month;
											?></div>
	</td>
</tr>
 -->
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Minimum Amount for SKN Payment (in IDR)'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('min_amount_skn', Application_Helper_General::displayMoney($this->min_amount_skn), $optionCurrency, array('size' => 12, 'maxlength' => 17)) ?>
						<div class="errmsg"><?= $this->xmin_amount_skn; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'max_amount_skn') { ?>

				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Max Amount for SKN Payment (in IDR)'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('max_amount_skn', Application_Helper_General::displayMoney($this->max_amount_skn), $optionCurrency, array('size' => 12, 'maxlength' => 17)) ?>
						<div class="errmsg"><?= $this->xmax_amount_skn; ?></div>
					</td>
				</tr>

			<?php
			}
			if ($value['SETTING_ID'] == 'min_amount_rtgs') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Minimum Amount for RTGS Payment (in IDR)'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('min_amount_rtgs', Application_Helper_General::displayMoney($this->min_amount_rtgs), $optionCurrency, array('size' => 12, 'maxlength' => 17)) ?>
						<div class="errmsg"><?= $this->xmin_amount_rtgs; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'max_amount_rtgs') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Maximum Amount for RTGS Payment (in IDR)'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('max_amount_rtgs', Application_Helper_General::displayMoney($this->max_amount_rtgs), $optionCurrency, array('size' => 12, 'maxlength' => 17))
						//echo $this->formText('RTGS_charges',Application_Helper_General::displayMoney($this->RTGS_charges),$optionCurrency)))
						?>
						<div class="errmsg"><?= $this->xmax_amount_rtgs; ?></div>
					</td>
				</tr>
				<?php
			}
			if ($value['SETTING_ID'] == 'min_amount_skn') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('RTGS Payments Limit Amount (IDR)	'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('min_amount_skn', Application_Helper_General::displayMoney($this->min_amount_skn), $optionCurrency, array('size' => 12, 'maxlength' => 17)) ?>
						<div class="errmsg"><?= $this->xmin_amount_skn; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'max_amount_rtgs') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('RTGS Payments Limit Amount (IDR)	'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('max_amount_rtgs', Application_Helper_General::displayMoney($this->max_amount_rtgs), $optionCurrency, array('size' => 12, 'maxlength' => 17))
						//echo $this->formText('RTGS_charges',Application_Helper_General::displayMoney($this->RTGS_charges),$optionCurrency)))
						?>
						<div class="errmsg"><?= $this->xmax_amount_rtgs; ?></div>
					</td>
				</tr>
				<!--
<tr>
	<td width="34%" class="tbl-evencontent">Max row of multi payment</td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php //echo $this->formText('max_row_multi_transaction',$this->max_row_multi_transaction,array('size'=>40,'maxlength'=>128))
	?>
	<div class="errmsg"><?= $this->xmax_row_multi_transaction; ?></div>
	</td>
</tr>
-->
			<?php
			}
			if ($value['SETTING_ID'] == 'max_import_bulk') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Max record in bulk payment'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('max_import_bulk', $this->max_import_bulk, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xmax_import_bulk; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'escrow_acct_idr') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Escrow Account (IDR)') ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php
						echo $this->formText('escrow_acct_idr', $this->escrow_acct_idr);
						?>
						<div class="errmsg"><?= $this->xescrow_acct_idr; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'escrow_acct_usd') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Escrow Account (USD)') ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php
						echo $this->formText('escrow_acct_usd', $this->escrow_acct_usd);
						?>
						<div class="errmsg"><?= $this->xescrow_acct_usd; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'cancel_local_remittance') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Cancel payment slip after number of days of no activity (for local remittance)'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('cancel_local_remittance', $this->cancel_local_remittance, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xcancel_local_remittance; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'auto_release_payment') { ?>
				<!--
BATAL TANGGAL 9-19-2012 Cut Off Time for Bulk Payments (format hh:mm:ss)
<tr>
	<td width="34%" class="tbl-evencontent">Cut off time for in house bulk payments (format : hh:mm:ss)</td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php //echo $this->formText('cut_off_time_inhouse',$this->cut_off_time_inhouse,array('size'=>10,'maxlength'=>8));
	?>
	<div class="errmsg"><?php //echo $this->xcut_off_time_inhouse;
											?></div>
	</td>
</tr>-->
				<!------------------------------------------------------------------------- AUTO ------------------------------------------------------------------------------------------------>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Enable/Disable auto release payment'); ?></td>
					<td width="1%" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php
						$options = array(
							'1' => $this->language->_('On'),
							'0' => $this->language->_('Off'),
						);
						echo $this->formRadio('auto_release_payment', $this->auto_release_payment, null, $options);
						?>
						<div class="errmsg"><?= $this->xcut_off_time_inhouse; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'pwd_expired_day') { ?>
			<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Password Expiry Periods'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('pwd_expired_day', $this->pwd_expired_day, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xpwd_expired_day; ?></div>
					</td>
				</tr>
				<!--<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Enable/Disable auto monthly fee'); ?></td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php
				$options = array(
					'1' => $this->language->_('On'),
					'0' => $this->language->_('Off'),
				);
				echo $this->formRadio('auto_monthlyfee', $this->auto_monthlyfee, null, $options);
		?>
		<div class="errmsg"><?= $this->xauto_monthlyfee; ?></div>
	</td>
</tr>
-->
				<!------------------------------------------------------------------------- END AUTO ------------------------------------------------------------------------------------------------>

				<!------------------------------------------------------------------------- COST TO BI ------------------------------------------------------------------------------------------------>
				<!--
<tr>
	<td width="34%" class="tbl-evencontent">RTGS (Cost to BI)</td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php
				//echo $this->formText('RTGS_cost',Application_Helper_General::displayMoney($this->RTGS_cost),$optionCurrency)
		?>
		<div class="errmsg"><?= $this->xRTGS_cost; ?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent">SKN (Cost to BI)</td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php
				// echo $this->formText('SKN_cost',Application_Helper_General::displayMoney($this->SKN_cost),$optionCurrency)
		?>
		<div class="errmsg"><?= $this->xSKN_cost; ?></div>
	</td>
</tr>
-->
				<!------------------------------------------------------------------------- END COST TO BI ------------------------------------------------------------------------------------------------>

				<!------------------------------------------------------------------------- CHARGES ------------------------------------------------------------------------------------------------>
				<!--
<tr>
	<td width="34%" class="tbl-evencontent">RTGS Charge per transaction</td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php
				// echo $this->formText('RTGS_charge',Application_Helper_General::displayMoney($this->RTGS_charge),$optionCurrency)
		?>
		<div class="errmsg"><?= $this->xRTGS_charge; ?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent">SKN Charge per transaction</td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php
				// echo $this->formText('SKN_charge',Application_Helper_General::displayMoney($this->SKN_charge),$optionCurrency)
		?>
		<div class="errmsg"><?= $this->xSKN_charge; ?></div>
	</td>
</tr>-->
				<!------------------------------------------------------------------------- END CHARGES ------------------------------------------------------------------------------------------------>
				<!-- Global User Account Settings (affects both frontend and backend users -->
				<tr>
					<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Global User Account Settings (affects both frontend and backend users)'); ?></strong></th>
				</tr>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Password expiry period (in days)'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('pwd_expired_day', $this->pwd_expired_day, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xpwd_expired_day; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'min_length_userid') { ?>
				<!-- Frontend Application User Account Settings -->
				<tr>
					<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Frontend Application User Account Settings'); ?></strong></th>
				</tr>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Min length of User ID'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('min_length_userid', $this->min_length_userid, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xmin_length_userid; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'max_length_userid') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Max length of User ID'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('max_length_userid', $this->max_length_userid, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xmax_length_userid; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'timeoutafter') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Session timeout after (in seconds)'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('timeoutafter', $this->timeoutafter, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xtimeoutafter; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'locknologinafter') { ?>
				<tr>
					<td width="34%" colspan="2" class="tbl-evencontent"></td>
					<td width="65%" class="tbl-evencontent"><?php //echo $this->formLabel('labelfrontend','(Frontend) session timeout = num of seconds of countdown (will be subtracted by 2 minutes) before pop up window appears asking for further activity') 
																									?></td>
				</tr>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Lock user account after (number of days) of no login'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('locknologinafter', $this->locknologinafter, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xlocknologinafter; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'lockfailloginafter') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Lock user account after (number of attempts) of failed login attempt(s)'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('lockfailloginafter', $this->lockfailloginafter, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xlockfailloginafter; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'lockfailtokenafter') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Lock Account after (number of input) of failed Token input'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('lockfailtokenafter', $this->lockfailtokenafter, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xlockfailtokenafter; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'password_history') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Number of Passwords saved in history'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('password_history', $this->password_history, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xpassword_history; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'minfpassword') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Min length of password'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('minfpassword', $this->minfpassword, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xminfpassword; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'maxfpassword') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Max length of password'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('maxfpassword', $this->maxfpassword, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xmaxfpassword; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'min_length_buserid') { ?>
				<!-- Backend Application User Account Settings -->
				<tr>
					<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Backend Application User Account Settings'); ?></strong></th>
				</tr>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Min length of User ID'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('min_length_buserid', $this->min_length_buserid, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xmin_length_buserid; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'max_length_buserid') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Max length of User ID'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('max_length_buserid', $this->max_length_buserid, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xmax_length_buserid; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'b_timeoutafter') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Session timeout after (in seconds)'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('b_timeoutafter', $this->b_timeoutafter, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xb_timeoutafter; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'b_locknologinafter') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Lock user account after (number of days) of no login'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('b_locknologinafter', $this->b_locknologinafter, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xb_locknologinafter; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'b_lockfailloginafter') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Lock user account after (number of attempts) of failed login attempt(s)'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('b_lockfailloginafter', $this->b_lockfailloginafter, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xb_lockfailloginafter; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'bpassword_history') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Number of Passwords saved in history'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('bpassword_history', $this->bpassword_history, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xbpassword_history; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'minbpassword') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Min length of password'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('minbpassword', $this->minbpassword, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xminbpassword; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'maxbpassword') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Max length of password'); ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('maxbpassword', $this->maxbpassword, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);')) ?>
						<div class="errmsg"><?= $this->xmaxbpassword; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'email_submission') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Email address for file sharing notification (separated by'); ?> ;)</td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('email_submission', $this->email_submission, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128)) ?>
						<div class="errmsg"><?= $this->xemail_submission; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'email_exception') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Email address for exception notification (separated by'); ?>;)</td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('email_exception', $this->email_exception, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128)) ?>
						<div class="errmsg"><?= $this->xemail_exception; ?></div>
					</td>
				</tr>
				<?php
			}
			if ($value['SETTING_ID'] == 'email_file_sharing') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Email Notification for File Sharing (separated by ') ?>;)</td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('email_file_sharing', $this->email_file_sharing, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128)) ?>
						<div class="errmsg"><?= $this->xemail_file_sharing; ?></div>
					</td>
				</tr>
			<?php
			}
			if ($value['SETTING_ID'] == 'email_valas') { ?>
				<tr>
					<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Email Address for Remittance transactions notification (separated by;)') ?></td>
					<td width="3px" class="tbl-evencontent">:</td>
					<td width="65%" class="tbl-evencontent">
						<?php echo $this->formText('email_valas', $this->email_valas, array('class' => 'form-control col-md-12','size' => 40, 'maxlength' => 128)) ?>
						<div class="errmsg"><?= $this->xemail_valas; ?></div>
					</td>
				</tr>
		<?php
			}
		} ?>
		<tr>
			<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Backend Users Password Notification Templates'); ?></strong></th>
		</tr>
		<?php if (isset($this->btemplate_newuser)) { ?>
			<!-- Backend Users Password Notification Templates -->

			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('New Backend User Account Print Template'); ?>
					<ul style="margin-left:25px" ;>
						Special Tags :
						<li>[[buser_login]] : Backend user login name</li>
						<li>[[buser_cleartext_password]] : Backend user password</li>
						<li>[[buser_email]] : Backend user e-mail address</li>
						<li>[[buser_name]] : Backend user fullname</li>
						<li>[[buser_desc]] : Backend user description</li>
						<li>[[agroup_desc]] : Backend Group Name</li>
						<li>[[buser_status_name]] : Backend user status</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('btemplate_newuser', $this->btemplate_newuser, '') ?>
				</td>
			</tr>
		<?php
		}
		if (isset($this->bemailtemplate_newuser)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('New Backend User Account e-mail Template'); ?>
					<ul style="margin-left:25px" ;>
						Special Tags :
						<li>[[buser_login]] : Backend user login name</li>
						<li>[[buser_cleartext_password]] : Backend user password</li>
						<li>[[buser_email]] : Backend user e-mail address</li>
						<li>[[buser_name]] : Backend user fullname</li>
						<li>[[buser_desc]] : Backend user description</li>
						<li>[[agroup_desc]] : Backend Group Name</li>
						<li>[[buser_status_name]] : Backend user status</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('bemailtemplate_newuser', $this->bemailtemplate_newuser, '') ?>
				</td>
			</tr>
		<?php
		}
		if (isset($this->btemplate_resetpwd)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Backend User Reset Password Print Template'); ?>
					<ul style="margin-left25px" ;>
						Special Tags :
						<li>[[buser_login]] : Backend user login name</li>
						<li>[[buser_cleartext_password]] : Backend user password</li>
						<li>[[buser_email]] : Backend user e-mail address</li>
						<li>[[buser_name]] : Backend user fullname</li>
						<li>[[buser_desc]] : Backend user description</li>
						<li>[[agroup_desc]] : Backend Group Name</li>
						<li>[[buser_status_name]] : Backend user status</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('btemplate_resetpwd', $this->btemplate_resetpwd, '') ?>
				</td>
			</tr>
		<?php
		}
		if (isset($this->bemailtemplate_resetpwd)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Backend User Reset Password e-mail Template'); ?>
					<ul style="margin-left:25px" ;>
						Special Tags :
						<li>[[buser_login]] : Backend user login name</li>
						<li>[[buser_cleartext_password]] : Backend user password</li>
						<li>[[buser_email]] : Backend user e-mail address</li>
						<li>[[buser_name]] : Backend user fullname</li>
						<li>[[buser_desc]] : Backend user description</li>
						<li>[[agroup_desc]] : Backend Group Name</li>
						<li>[[buser_status_name]] : Backend user status</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('bemailtemplate_resetpwd', $this->bemailtemplate_resetpwd, '') ?>
				</td>
			</tr>
		<?php }
		if (isset($this->bemailtemplate_lockuser)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Backend Lock User e-mail Template'); ?>
					<ul style="margin-left:25px" ;>
						Special Tags :
						<li>[[master_bank_name]] : Bank Name</li>
						<li>[[master_bank_app_name]] : Bank Application Name</li>
						<li>[[user_fullname]] : User Full Name</li>
						<li>[[buser_id]] : Backend User ID</li>
						<li>[[buser_fullname]] : Backend User Full Name</li>
						<li>[[buser_lockreason]] : Backend User locked reason</li>
						<li>[[ip_adress]] : IP address locked</li>
						<li>[[master_bank_email]] : Bank Email</li>
						<li>[[master_bank_telp]] : Bank telephone number</li>
						<li>[[master_bank_wapp]] : Bank WhatsApp</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('bemailtemplate_lockuser', $this->bemailtemplate_lockuser, '') ?>
				</td>
			</tr>
		<?php }
		if (isset($this->bemailtemplate_buserstatus)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Backend User Status Notification e-mail Template'); ?>
					<ul style="margin-left:25px" ;>
						Special Tags :
						<li>[[master_bank_name]] : Bank Name</li>
						<li>[[master_bank_app_name]] : Bank Application Name</li>
						<li>[[user_fullname]] : User Full Name</li>
						<li>[[buser_id]] : Backend User ID</li>
						<li>[[buser_status]] : Backend User Status</li>
						<li>[[master_bank_email]] : Bank Email</li>
						<li>[[master_bank_telp]] : Bank telephone number</li>
						<li>[[master_bank_wapp]] : Bank WhatsApp</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('bemailtemplate_buserstatus', $this->bemailtemplate_buserstatus, '') ?>
				</td>
			</tr>
		<?php }
		if (isset($this->bemailtemplate_pendingtask)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Backend Pending Task List Notification email Template'); ?>
					<ul style="margin-left:25px" ;>
						Special Tags :
						<li>[[master_bank_name]] : Bank Name</li>
						<li>[[user_fullname]] : User Full Name</li>
						<li>[[pending_task_header]] : Pending Task Header</li>
						<li>[[pending_task_list]] : Pending Task List</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('bemailtemplate_pendingtask', $this->bemailtemplate_pendingtask, '') ?>
				</td>
			</tr>
		<?php }
		if (isset($this->ftemplate_newuser)) { ?>
			<!--
<tr>
	<td width="34%" class="tbl-evencontent">(Backend) Email address for Supply Chain (Separated by;)</td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('email_supplychain', $this->email_supplychain, array('size' => 40, 'maxlength' => 128)) ?>
	<div class="errmsg"><?= $this->xemail_supplychain; ?></div>
	</td>
</tr>
-->
			<!-- Frontend Users Password Notification Templates -->
			<tr>
				<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Frontend Users Password Notification Templates'); ?></strong></th>
			</tr>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('New Customer User Account Print Template'); ?>
					<div>
						<ul style="margin-left:10px;">
							Special Tags :
							<li>[[user_login]] : Frontend user login name</li>
							<li>[[user_cleartext_password]] : Frontend user password</li>
							<li>[[comp_accid]] : Frontend user company id</li>
							<li>[[comp_name]] : Frontend user company name</li>
							<li>[[user_email]] : Frontend user e-mail address</li>
							<li>[[user_fullname]] : Frontend user fullname</li>
							<li>[[user_phone]] : Frontend user phone number</li>
							<li>[[user_ext]] : Frontend user phone extension</li>
							<li>[[token_id]] : Frontend user token id</li>
							<li>[[user_status_name]] : Frontend user status</li>
						</ul>
					</div>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('ftemplate_newuser', $this->ftemplate_newuser, '') ?>
				</td>
			</tr>
		<?php
		}
		if (isset($this->femailtemplate_newuser)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('New Customer User Account e-mail Template'); ?>
					<ul style="margin-left:25px;">
						Special Tags :
						<li>[[user_login]] : Frontend user login name</li>
						<li>[[user_cleartext_password]] : Frontend user password</li>
						<li>[[comp_accid]] : Frontend user company id</li>
						<li>[[comp_name]] : Frontend user company name</li>
						<li>[[user_email]] : Frontend user e-mail address</li>
						<li>[[user_fullname]] : Frontend user fullname</li>
						<li>[[user_phone]] : Frontend user phone number</li>
						<li>[[user_ext]] : Frontend user phone extension</li>
						<li>[[token_id]] : Frontend user token id</li>
						<li>[[user_status_name]] : Frontend user status</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('femailtemplate_newuser', $this->femailtemplate_newuser, '') ?>
				</td>
			</tr>
		<?php
		}
		if (isset($this->ftemplate_resetpwd)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Customer User Reset Password Print Template'); ?>
					<ul style="margin-left:25px;">
						Special Tags :
						<li>[[user_login]] : Frontend user login name</li>
						<li>[[user_cleartext_password]] : Frontend user password</li>
						<li>[[comp_accid]] : Frontend user company id</li>
						<li>[[comp_name]] : Frontend user company name</li>
						<li>[[user_email]] : Frontend user e-mail address</li>
						<li>[[user_fullname]] : Frontend user fullname</li>
						<li>[[user_phone]] : Frontend user phone number</li>
						<li>[[user_ext]] : Frontend user phone extension</li>
						<li>[[token_id]] : Frontend user token id</li>
						<li>[[user_status_name]] : Frontend user status</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('ftemplate_resetpwd', $this->ftemplate_resetpwd, '') ?>
				</td>
			</tr>
		<?php
		}
		if (isset($this->clause_template)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Clause Template') ?>

				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('clause_template', $this->clause_template, '') ?>
				</td>
			</tr>
		<?php
		}
		if (isset($this->femailtemplate_resetpwd)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Customer User Reset Password e-mail Template'); ?>
					<ul style="margin-left:25px;">
						Special Tags :
						<li>[[user_login]] : Frontend user login name</li>
						<li>[[user_cleartext_password]] : Frontend user password</li>
						<li>[[comp_accid]] : Frontend user company id</li>
						<li>[[comp_name]] : Frontend user company name</li>
						<li>[[user_email]] : Frontend user e-mail address</li>
						<li>[[user_fullname]] : Frontend user fullname</li>
						<li>[[user_phone]] : Frontend user phone number</li>
						<li>[[user_ext]] : Frontend user phone extension</li>
						<li>[[token_id]] : Frontend user token id</li>
						<li>[[user_status_name]] : Frontend user status</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('femailtemplate_resetpwd', $this->femailtemplate_resetpwd, '') ?>
				</td>
			</tr>
		<?php
		}

		if (isset($this->ftemplate_remittance)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Remittance Clause') ?>

				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('ftemplate_remittance', $this->ftemplate_remittance, '') ?>
				</td>
			</tr>
		<?php
		}

		
		if (isset($this->femailtemplate_lockuser)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Lock User e-mail Template'); ?>
					<ul style="margin-left:25px;">
						Special Tags :
						<li>[[master_bank_name]] : Bank Name</li>
						<li>[[master_bank_app_name]] : Bank Application Name</li>
						<li>[[user_login]] : User Id</li>
						<li>[[cust_id]] : Company ID</li>
						<li>[[user_lockreason]] : Frontend User locked reason</li>
						<li>[[ip_adress]] : User IP Address</li>
						<li>[[master_bank_email]] : Bank Email</li>
						<li>[[master_bank_telp]] : Bank telephone number</li>
						<li>[[master_bank_wapp]] : Bank WhatsApp</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('femailtemplate_lockuser', $this->femailtemplate_lockuser, '') ?>
				</td>
			</tr>
		<?php
		}
		if (isset($this->femailtemplate_userstatus)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('User Status e-mail Template'); ?>
					<ul style="margin-left:25px;">
						Special Tags :
						<li>[[master_bank_name]] : Bank Name</li>
						<li>[[master_bank_app_name]] : Bank Application Name</li>
						<li>[[user_login]] : User Id</li>
						<li>[[cust_id]] : Company ID</li>
						<li>[[user_status]] : Frontend User Status</li>
						<li>[[master_bank_email]] : Bank Email</li>
						<li>[[master_bank_telp]] : Bank telephone number</li>
						<li>[[master_bank_wapp]] : Bank WhatsApp</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('femailtemplate_userstatus', $this->femailtemplate_userstatus, '') ?>
				</td>
			</tr>
		<?php
		}
		if (isset($this->femailtemplate_authadd)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Customer User Google Auth Add e-mail Template'); ?>
					<ul style="margin-left:25px;">
						Special Tags :
						<li>[[master_bank_name]] : Bank Name</li>
						<li>[[master_bank_app_name]] : Bank Application Name</li>
						<li>[[confirm_link]] : Confirmation / verification link</li>
						<li>[[exp_date]] : Link expired date</li>
						<li>[[master_bank_email]] : Bank Email</li>
						<li>[[master_bank_telp]] : Bank telephone number</li>
						<li>[[master_bank_wapp]] : Bank WhatsApp</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('femailtemplate_authadd', $this->femailtemplate_authadd, '') ?>
				</td>
			</tr>
		<?php
		}
		if (isset($this->femailtemplate_authremove)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Customer User Remove Google Auth e-mail Template'); ?>
					<ul style="margin-left:25px;">
						Special Tags :
						<li>[[master_bank_name]] : Bank Name</li>
						<li>[[master_bank_app_name]] : Bank Application Name</li>
						<li>[[confirm_link]] : Confirmation / verification link</li>
						<li>[[exp_date]] : Link expired date</li>
						<li>[[master_bank_email]] : Bank Email</li>
						<li>[[master_bank_telp]] : Bank telephone number</li>
						<li>[[master_bank_wapp]] : Bank WhatsApp</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('femailtemplate_authremove', $this->femailtemplate_authremove, '') ?>
				</td>
			</tr>
		<?php
		}
		if (isset($this->femailtemplate_loginnotif)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Login Notification e-mail Template'); ?>
					<ul style="margin-left:25px;">
						Special Tags :
						<li>[[master_bank_name]] : Bank Name</li>
						<li>[[master_bank_app_name]] : Bank Application Name</li>
						<li>[[cust_id]] : Company ID</li>
						<li>[[user_login]] : Frontend user login name</li>
						<li>[[user_lastlogin]] : Frontend user last login time</li>
						<li>[[user_browser]] : Frontend user browser name</li>
						<li>[[user_fullname]] : User Full Name</li>
						<li>[[master_bank_email]] : Bank Email</li>
						<li>[[master_bank_telp]] : Bank telephone number</li>
						<li>[[master_bank_wapp]] : Bank WhatsApp</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('femailtemplate_loginnotif', $this->femailtemplate_loginnotif, '') ?>
				</td>
			</tr>
		<?php
		}
		if (isset($this->femailtemplate_customerpending)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Customer Pending Task List e-mail Template'); ?>
					<ul style="margin-left:25px;">
						Special Tags :
						<li>[[comp_name]] : Company Name</li>
						<li>[[user_fullname]] : User Full Name</li>
						<li>[[pending_task_header]] : Pending Task Header</li>
						<li>[[pending_task_list]] : Pending Task List</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('femailtemplate_customerpending', $this->femailtemplate_customerpending, '') ?>
				</td>
			</tr>
		<?php
		}
		if (isset($this->ftemplate_smstrans)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Transaction Notification SMS Template'); ?>
					<ul style="margin-left:25px;">
						Special Tags :
						<li>[[datetime]] : Datetime Transaction</li>
						<li>[[type]] : Type Transaction</li>
						<li>[[ccy]] : Currency Transaction</li>
						<li>[[amount]] : Amount Transaction</li>
						<li>[[account]] : Account Transaction</li>
						<li>[[balance]] : Balance Transaction</li>
						<li>[[message]] : message Transaction</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<textarea name="ftemplate_smstrans" id="ftemplate_smstrans" class="text_message" maxlength="160" rows="5" cols="80"><?php echo $this->ftemplate_smstrans; ?></textarea>
					<div class="col-md-12" align="right">
						<span id="remaining">160</span> characters remaining <span id="messages">0</span> message(s)
					</div>
				</td>
			</tr>
		<?php
		}
		if (isset($this->femailtemplate_otp)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Transaction Notification SMS Template'); ?>
					<ul style="margin-left:25px;">
						Special Tags :
						<li>[[master_bank_app_name]] : Bank Application Name</li>
						<li>[[user_fullname]] : User Full Name</li>
						<li>[[comp_name]] : Company Name</li>
						<li>[[comp_accid]] : Company Code</li>
						<li>[[user_login]] : User Id</li>
						<li>[[user_agent]] : Browser</li>
						<li>[[ip_address]] : IP Address</li>
						<li>[[otp]] : OTP Code</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<textarea name="femailtemplate_otp" id="femailtemplate_otp" class="text_message" maxlength="160" rows="5" cols="80"><?php echo $this->femailtemplate_otp; ?></textarea>
					<div class="col-md-12" align="right">
						<span id="remaining">160</span> characters remaining <span id="messages">0</span> message(s)
					</div>
				</td>
			</tr>
		<?php
		}
		if (isset($this->femailtemplate_estatement)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Transaction Notification SMS Template'); ?>
					<ul style="margin-left:25px;">
						Special Tags :
						<li>[[comp_name]] : Company Name</li>
						<li>[[bank_name]] : Bank Name</li>
						<li>[[source_acct]] : Source Account Number</li>
						<li>[[ccy]] : Currency Transaction</li>
						<li>[[month]] : Month</li>
						<li>[[year]] : Year</li>
						<li>[[acct_name]] : Account Name</li>
						<li>[[acct_alias_name]] : Account Alias</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<textarea name="femailtemplate_estatement" id="femailtemplate_estatement" class="text_message" maxlength="160" rows="5" cols="80"><?php echo $this->femailtemplate_estatement; ?></textarea>
					<div class="col-md-12" align="right">
						<span id="remaining">160</span> characters remaining <span id="messages">0</span> message(s)
					</div>
				</td>
			</tr>
		<?php
		}

		if (isset($this->bemailtemplate_greeting_eregis)) { ?>
			<!-- e-Reg Notification Template -->
			<tr>
				<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Registration Notification Template'); ?></strong></th>
			</tr>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Greeting e-mail Template'); ?>
					<ul style="margin-left:25px;">
						Special Tags :
						<li>[[master_bank_name]] : Bank Name</li>
						<li>[[master_bank_app_name]] : Bank Application Name</li>
						<li>[[contact_name]] : contact Name</li>
						<li>[[company_name]] : Company Name</li>
						<li>[[master_bank_email]] : Bank Email</li>
						<li>[[master_bank_telp]] : Bank telephone number</li>
						<li>[[master_bank_wapp]] : Bank WhatsApp</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('bemailtemplate_greeting_eregis', $this->bemailtemplate_greeting_eregis, '') ?>
				</td>
			</tr>
		<?php
		}
		if (isset($this->bemailtemplate_customer_eregis)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Customer Registration Approve e-mail Template'); ?>
					<ul style="margin-left:25px;">
						Special Tags :
						<li>[[master_bank_name]] : Bank Name</li>
						<li>[[master_bank_app_name]] : Bank Application Name</li>
						<li>[[contact_name]] : contact Name</li>
						<li>[[company_name]] : Company Name</li>
						<li>[[master_bank_email]] : Bank Email</li>
						<li>[[master_bank_telp]] : Bank telephone number</li>
						<li>[[master_bank_wapp]] : Bank WhatsApp</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('bemailtemplate_customer_eregis', $this->bemailtemplate_customer_eregis, '') ?>
				</td>
			</tr>
		<?php
		}
		if (isset($this->bemailcustomer_eregis_pending)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Customer Registration Pending Approve e-mail Template'); ?>
					<ul style="margin-left:25px;">
						Special Tags :
						<li>[[master_bank_name]] : Bank Name</li>
						<li>[[master_bank_app_name]] : Bank Application Name</li>
						<li>[[contact_name]] : Contact Name</li>
						<li>[[company_name]] : Company Name</li>
						<li>[[master_bank_email]] : Bank Email</li>
						<li>[[master_bank_telp]] : Bank telephone number</li>
						<li>[[master_bank_wapp]] : Bank WhatsApp</li>
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('bemailcustomer_eregis_pending', $this->bemailcustomer_eregis_pending, '') ?>
				</td>
			</tr>
		<?php
		}
		if (isset($this->ftemplate_agreement)) { ?>
			<tr>
				<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('eReg Terms & Conditions Template'); ?>
					<ul style="margin-left:25px;">
						Special Tags :
					</ul>
				</td>
				<td width="65%" class="tbl-evencontent">
					<?php echo $this->formCkEditor('ftemplate_agreement', $this->ftemplate_agreement, '') ?>
				</td>
			</tr>
		<?php
		}
		?>

		<tr>
			<?php
			$options = array('class' => 'btngreen hov');
			if ($this->success || $this->error) {
				$options = array_merge($options, array("disabled" => "disabled"));
			}
			?>
			<td colspan="3" align="center">
				<?php
				$submit = $this->language->_('Submit');
				$reset = $this->language->_('Reset');
				echo $this->formSubmit('submit', $submit, $options)
				?>&nbsp;
				<?php
				$options = array('class' => 'btnwhite hov');
				if ($this->success || $this->error) {
					$options = array_merge($options, array("disabled" => "disabled"));
				}
				?>
				<?php echo $this->formReset('reset', $reset, $options) ?>
			</td>
		</tr>
	</table>
</form>
<script type="text/javascript">
	var $remaining = $('#remaining'),
		$messages = $remaining.next();

	$('.text_message').keyup(function() {
		var chars = this.value.length,
			messages = Math.ceil(chars / 160),
			remaining = messages * 160 - (chars % (messages * 160) || messages * 160);

		$remaining.text(remaining);
		$messages.text(messages);
	});
</script>