<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?php echo $this->language->_('Transaction') ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <?php echo $this->language->_('e-Billing Tax') ?>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <?php echo $this->language->_('Generate New') ?>
        </li>
      </ul>
    </div>
  </div>
</div>

<?php if ($this->ERROR_MSG_N) { ?>
  <div class="alert alert-danger">
    <?php echo $this->language->_($this->ERROR_MSG_N); ?>
  </div><br>
<?php } ?>

<?php
if ($this->responseCodeReqErr) {
?>
  <div class="alert alert-danger">
    <?php
    echo $this->formErrors($this->responseCodeReqErr);
    ?>
  </div>
<?php
}
?>

<?php
$mandatory = ($this->confirmPage != 1) ? "<strong class='formreq'>&nbsp;<span class='errmsg'>*</span></strong>" : "";
?>
<h5 style="margin-bottom: 0px;font-size: 18px;"><?= $this->language->_('e-Billing Tax') ?></h5>

<h6 style="color:#b3b3b3;font-size: 18px;"><?= $this->language->_('Payment Government e-Billing Tax') ?></h6>

<br>
<div class="row">
  <div class="col-md-12">
    <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?>
    <br><br>
    <div class="portlet-body form" style="border: 0px solid #ddd;">
      <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'bulk'), null, true) ?>" method="post">
        <div class="row">
          <div class="col-md-9">
            <div class="form-group row">
              <label class="control-label col-md-3"><?php echo $this->language->_('Subject'); ?></label>
              <div class="col-md-9">
                <?php
                echo $this->formText('subject', $this->subject, array('maxlength' => '16', 'size' => '30', 'class' => 'form-control'));

                if ($this->subjectErr) {
                ?>
                  <div class="errmsg">
                    <?php
                    echo $this->formErrors($this->subjectErr);
                    ?>
                  </div>
                <?php
                }
                ?>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3"><?php echo $this->language->_('Payment Date'); ?><?= $mandatory ?></label>
              <div class="col-md-9">
                <?php
                echo $this->formText('paymentDate', $this->paymentDate, array('maxlength' => '16', 'size' => '30', 'class' => 'form-control datepicker', 'readonly' => 'true'));

                if ($this->paymentDateErr) {
                ?>
                  <div class="errmsg">
                    <?php
                    echo $this->formErrors($this->paymentDateErr);
                    ?>
                  </div>
                <?php
                }
                ?>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3"><?php echo $this->language->_('Source Account'); ?><?= $mandatory ?></label>
              <div class="col-md-9">
                <?php
                if ($this->confirmPage != 1)
                  echo $this->formApp("SELECT_ACCTSRC", $this->AccArr, $this->ACCTSRC, "ACCTSRC");
                else
                  echo $this->ACCTSRC_view . $this->formHidden('ACCTSRC', $this->ACCTSRC);

                if ($this->ACCTSRCErr) {
                  echo '<div class="errmsg">' . $this->formErrors($this->ACCTSRCErr) . '</div>';
                }

                if ($this->xACCTSRC) {
                  echo "<div class='errmsg'> " . $this->xACCTSRC . " </div>";
                }
                ?>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3"><?php echo $this->language->_('Compulsory'); ?></label>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-4">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" checked name="compulsoryType" value="1">
                      <label class="form-check-label">No</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="compulsoryType" value="2">
                      <label class="form-check-label">Yes</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group row compulsoryIDForm" style="display: none">
                      <label class="col-md-2 control-label">ID : </label>
                      <div class="col-sm-10">
                        <?php
                        echo $this->formText('compulsoryID', $this->compulsoryID, array('class' => 'form-control'));
                        ?>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3"><?php echo $this->language->_('Select File'); ?><?= $mandatory ?></label>
              <div class="col-md-9">
                <input type="file" name="file" class="form-control">
                <?php
                if ($this->fileErr) {
                ?>
                  <div class="errmsg">
                    <?php
                    echo $this->formErrors($this->fileErr);
                    ?>
                  </div>
                <?php
                }
                ?>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3"><?php echo $this->language->_('File ID'); ?><?= $mandatory ?></label>
              <div class="col-md-9">
                <?php
                echo $this->formText('fileID', $this->fileID, array('class' => 'form-control'));
                if ($this->fileIDErr) {
                ?>
                  <div class="errmsg">
                    <?php
                    echo $this->formErrors($this->fileIDErr);
                    ?>
                  </div>
                <?php
                }
                ?>
                <span><?= $mandatory ?> <a href="">Click Here</a> to bypass File ID validation</span>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="formbutton text-center">
              <?php echo $this->formSubmit('submit', $this->language->_('Back'), array('class' => 'btnwhite hov')); ?>
              <input type="submit" class="btngreen hov" name="submit" id="subbutton" value="<?php echo $this->language->_('Next') ?>" />
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<script>
  $('[name=compulsoryType]').click(function() {
    var nilai = $(this).val();
    if (nilai == '2') {
      $('.compulsoryIDForm').show();
    } else if (nilai == '1') {
      $('.compulsoryIDForm').hide();
    }
  });
  $('.datepicker').datepicker({
    format: 'dd/mm/yyyy',
    uiLibrary: 'bootstrap4'
  });
</script>