
<script type="text/javascript">
	
	    function setDateto(val){
    	document.getElementById('history_to').value = val;
    }

        function setDatefrom(val){
    	document.getElementById('history_from').value = val;
    }


</script>
<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span>Account Information</span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="valas" ><?=$this->language->_('MT940 Report')?></span>
                        
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
<br />
<div class="portlet-body form">
<form name="Form" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'viewreportmt','action'=>'view'),null,true)?>" method="post">
	<div class="row">
		<div class="col-md-7">
			<h5><?=$this->language->_('MT940 Report')?></h5>
            <hr/>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Account No'); ?><span class="errmsg">*</span></label>
                <div class="col-sm-8 pt-2">
                      <?php
						$selectaccount = '-- '.$this->language->_('Select Account').' --';
						$formAppParam['selectMsg'] = $selectaccount;
						$formAppParam['inclPRKFSCM'] = 1;
						if($this->error)
						{
					?>
					<div class="errmsg">
					<?php
						if($this->ACCTSRCERR) 
							echo $this->ACCTSRCERR;
					?>
					</div><br />
					<?php
						}
					?>
		
				<?php  echo $this->formApp("SELECT_ACCTSRC", $this->AccArr, $this->ACCTSRC, "ACCTSRC", "", $formAppParam);	?>	
                                                <br/>
                </div>
            </div>


		</div>
			
		<div class="col-md-5">
			<h5>&nbsp;</h5>
            <hr/>
			<div class="form-group row">
                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Period'); ?><span class="errmsg">*</span></label>
                <div class="col-sm-8 pt-2">
                     <?php
				$checkedToday = ($this->PERIOD == 'today')? "checked='checked'": "";
				$checkedHistory = ($this->PERIOD == 'history')? "checked='checked'": "";
				?>
				<br>	
				<input name="periodtype" value="today" id="periodtype" <?= $checkedToday ?> onclick='javascript:$("#acttd").hide()' type="radio"> <?php echo $this->language->_('Today');?>
				&nbsp;&nbsp;&nbsp;
				<input name="periodtype" value="history" id="periodtype" <?= $checkedHistory ?> onclick='javascript:$("#acttd").show()' type="radio"> <?php echo $this->language->_('History');?>
                                                <br/>

                </div>
            </div>



			<?php $visibility = ($this->PERIOD == 'history')? '': 'style="display:none;"';	?>
            <div class="form-group row" id="acttd" <?= $visibility ?>>
                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('From'); ?><span class="errmsg">*</span></label>
                <div class="col-sm-8 pt-2">
                      <?php echo $this->language->_('From');?>&nbsp;&nbsp;
            
       				 <input type="text" class="form-control" name="history_from" id="history_from" value="<?=$this->DATE_FROM?>" onchange='setDatefrom(this.value);' readonly>
	                    <script>
	                        $('#history_from').datepicker({
	                            maxDate: function() {
	                                var date = new Date();
	                               date.setDate(date.getDate());
	                                return new Date(date.getFullYear(), date.getMonth(), date.getDate());
	                            },
	                            format: 'dd/mm/yyyy',
	                            uiLibrary: 'bootstrap4',
	                        });
	                    </script>
				
					&nbsp;&nbsp;
					<?php echo $this->language->_('To');?>&nbsp;&nbsp;
				 	<input type="text" class="form-control" name="history_to" id="history_to" value="<?=$this->DATE_TO?>" onchange='setDateto(this.value);' readonly>
	                    <script>
	                        $('#history_to').datepicker({
	                            maxDate: function() {
	                                var date = new Date();
	                               date.setDate(date.getDate());
	                                return new Date(date.getFullYear(), date.getMonth(), date.getDate());
	                            },
	                            format: 'dd/mm/yyyy',
	                            uiLibrary: 'bootstrap4',
	                        });
	                    </script>
				
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<font style="font-size:12px; color:#FF0000;"><em>(<?php echo $this->language->_('Date range : max 31 days');?>)</em></font>
					<br/> 
					<label for="exampleInputPassword1"><span><?php echo $this->language->_('Notes');?></span></label><label><span class="errmsg">*</span></label>
					<?php echo $this->language->_('Maximum Inquiry Days is 60 Days');?>
          			<br/>

                </div>
            </div>


            <div class="form-group row" id="acttd" <?= $visibility ?>>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>

		</div>
	</div>		









  
  
	<div class="panel-body">
  		<div class="col-sm-6">
   
   <?php echo $this->formButton('backstreet',$this->language->_('Back'),array('class'=>'btnwhite hov','onclick'=>'location.href="/home/dashboard"' ,"style"=>"font-size:15px;")); ?>
						<?php echo $this->formSubmit('view',$this->language->_('View'),array('class'=>'btngreen hov')); ?>
    	</div>
    </div>

	
</form>
</div>