<div class="tabheader" id="tabheader"><?php echo $this->language->_('Minimum Account Currency Request List'); ?></div><br /><br />
<?php
echo $this->action(
	'message',
	'tools',
	'changemanagement',
	array('changes_id' => $this->changes_id)
);
?>

<br /> <br />
<table cellpadding="5" border="0" width="50%">
	<?php if ($this->cek == 0) { ?>
		<tr>
			<td class="tbl-evencontent" colspan="4">
				<div align="center"><?php echo $this->language->_('There is no Changes to be approved'); ?></div>
			</td>
		</tr>
	<?php } else if ($this->cek == 1) { ?>
		<tr class="diffRow">
			<td collspan="2">
				<button id="btnDiffOnly" type="button" class="btngreen hov"><?php echo $this->language->_('Show Difference Only'); ?></button>
			</td>
		</tr>
		<tr class="diffRow">
			<td valign="top">
				<table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped table-curr" width="100%">
					<tr class="diffRow">
						<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Current Value'); ?></strong></th>
					</tr>
					<tr class="diffRow">
						<th width="35%" colspan="2"><?php echo $this->language->_('Currency'); ?></th>
						<th width="32%"><?php echo $this->language->_('Minimum Amount'); ?></th>
					</tr>
					<?php
					$i = 0;
					foreach ($this->datalama as $old) {
						$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
					?>
						<tr class="rowCurr_<?= $old['CCY_ID']; ?>">
							<td width="40%" class="tdform-sub"><?php echo $old['CCY_ID']; ?></td>
							<td width="1%" class="tdform-sub">:</td>
							<td width="59%" class="tdform-sub"><?php echo Application_Helper_General::displayMoney($old['MIN_TX_AMT']); ?></td>
						</tr>
					<?php $i += 1;
					} ?>
				</table>
			</td>
			<td valign="top">
				<table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped table-sugg" width="100%">
					<tr class="diffRow">
						<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Suggested Value') ?></strong></th>
					</tr>
					<tr class="diffRow">
						<th width="35%" colspan="2"><?php echo $this->language->_('Currency') ?></th>
						<th width="32%"><?php echo $this->language->_('Minimum Amount') ?></th>
					</tr>
					<?php $i = 0;
					foreach ($this->databaru as $new) {
						$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent'; ?>
						<tr class="rowSugg_<?= $new['CCY_ID']; ?>">
							<td width="40%" class="tdform-sub"><?php echo $new['CCY_ID']; ?></td>
							<td width="1%" class="tdform-sub">:</td>
							<td width="59%" class="tdform-sub"><?php echo Application_Helper_General::displayMoney($new['MIN_TX_AMT']); ?></td>
						</tr>
						<script>
							// highlight different value -- ROKI
							var currentValue = $(".rowCurr_<?= $new['CCY_ID']; ?>");
							var suggestedValue = $(".rowSugg_<?= $new['CCY_ID']; ?>");
							if (currentValue.text() != suggestedValue.text()) {
								suggestedValue.css('background-color', '#fffe5c');
								suggestedValue.addClass('diffRow');
								currentValue.addClass('diffRow');
							}
						</script>
					<?php $i += 1;
					} ?>
				</table>
			</td>
		</tr>
	<?php } ?>
</table>
<script>
	$("#btnDiffOnly").click(function() {
		$(".table-curr tr").each(function() {
			if ($(this).is(":hidden")) {
				$(this).show();
			} else {
				if ($(this).hasClass('diffRow')) {
					$(this).show();
				} else {
					$(this).hide();
				}
			}
		});
		$(".table-sugg tr").each(function() {
			if ($(this).is(":hidden")) {
				$(this).show();
			} else {
				if ($(this).hasClass('diffRow')) {
					$(this).show();
				} else {
					$(this).hide();
				}
			}
		});
	});
</script>
<?php
echo $this->action(
	'index',
	'tools',
	'changemanagement',
	array('changes_id' => $this->changes_id)
);
?>