<?php
$ns = new Zend_Session_Namespace('language');
$sessionLanguage = $ns->langCode;

if ($sessionLanguage == 'id') {
  $imgview = "id.png";
  $imgselect = "en.png";
  $link = "/default/index/index/lang/en";
  $alt = "Switch to English";
} else {
  $imgview = "en.png";
  $imgselect = "id.png";
  $link = "/default/index/index/lang/id";
  $alt = "Ganti ke Bahasa Indonesia";
}
?>

<script>
function refreshCaptcha()
{
  var imgs = '<?=$this->serverUrl()?>/tools/generatecaptcha';
  $.post(imgs,{},
  function(data){
    $("div#captcha").html(data);
  });
  $("#capInput").val('');
}
</script>

<!-- AdminLTE-->
  <?php
  echo $this->headLink()->appendStylesheet($this->baseUrl('../../360/css/adminlte.css'));
  echo $this->headLink()->appendStylesheet($this->baseUrl('../../360/css/360.css'));
  ?>

<!-- jQuery -->
<script src="../../360/js/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="../../360/js/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script src="/js/gt.js"></script>

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<style type="text/css">
    html,
    body {
      /* The image used */
      /* background-image: url("../../360/img/bg-login.svg"); */
      /* Full height */
      height: 100%;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .float-footer {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 40px;
      right: 40px;
      background-color: #25d366;
      color: #FFF;
      border-radius: 50px;
      text-align: center;
      font-size: 30px;
      box-shadow: 2px 2px 3px #999;
      z-index: 100;
    }

    .float-footer:hover {
      color: #FFF;
    }

    .showload {
      display: block;
    }

    .hide {
      display: none;
    }

    .geetest_holder.geetest_wind {
      width: 100% !important;
    }
  </style>

<div class="flex-fill d-flex flex-column justify-content-center">
    <div class="container-tight py-6">
      <div class="text-center mb-4">
        <img src="../../images/logo/logo-btn.png" width="150" alt="logo">
      </div>
      <form class="card card-md" action="" method="post">
        <?php echo $this->formHidden('randomTransact', $this->randomTransact, array('maxlength' => '128', 'size' => '40', 'readOnly' => true)); ?>
        <div class="card-body">
          <h2 class="mb-5 text-center"><?= $this->language->_('Forgot Password') ?></h2>
          <?php
          if(!isset($this->msg_success)) {
        if(isset($this->errors))
    {
      if(empty($this->msg_success)){
          ?>
            <div class="alert alert-danger" role="alert">
              <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <span class="sr-only">Error:</span>
              <?php echo $this->errors; ?>
            </div>
          <?php
      }
    }
       }
          ?>
      
      <?php
    if(isset($this->msg_success))
    {
      echo '<div align="center" style="font-weight:bold;color:red;font-size:12px;font-style:normal" >';
      echo $this->language->_('You have requested reset password');echo '.<br/>';
      echo $this->language->_('Your new password will be sent to your email.');
      // echo '.';
      echo '</div>';
    }
  ?>
          
      <div class="mb-3">
            <label class="form-label"><?= $this->language->_('User Id') ?></label>
            <!-- <?php
            $companycode = $this->language->_('Enter User Id');
            echo $this->formText('userId', $this->userId, array('class' => 'form-control form-control-lg', 'tabindex' => '1', 'autocomplete' => 'off', 'onkeyup' => 'javascript:this.value = this.value.toUpperCase();', 'placeholder' => $companycode)); ?> -->
            <input class="form-control form-control-lg" style="height:50px" type="text" name="userId" id="userId" value="<?php echo $this->userId;?>" tabindex="2" autocomplete="off" onkeyup="javascript:this.value = this.value.toUpperCase();" placeholder="<?php echo $this->language->_('User Id'); ?>" />
          </div>
          <div class="mb-3">
            <label class="form-label"><?= $this->language->_('Email') ?></label>
            <!-- <?php
            $userid = $this->language->_('Enter User Id');
            echo $this->formText('userEmail', $this->userEmail, array('id'=>'userEmail', 'class' => 'form-control form-control-lg', 'tabindex' => '1', 'autocomplete' => 'off', 'style' => 'height:50px', 'placeholder' => $userid)); ?> -->
            <input class="form-control form-control-lg" style="height:50px" type="email" name="userEmail" maxlength="128" tabindex="3" id="userEmail" value="<?php echo $this->userEmail;?>" autocomplete="off" placeholder="<?php echo $this->language->_('Email Address'); ?>"/>
          </div>
          
          <div class="mb-3">
            <div id="embed-captcha"></div>
            <p id="wait" class="showload">Loading</p>
            <p id="notice" class="hide">Klik tombol untuk memverifikasi</p>
          </div>
          <?php
          echo $this->formHidden('confirmPage', 1);
          echo $this->formHidden('tokenAuth', $this->tokenAuth);

          ?>
          <div class="form-footer">
            <button type="submit" class="btn btn-block btn-primary"><?= $this->language->_('Submit') ?></button>
            <div class="separator-text"><?= $this->language->_('OR') ?></div>
      <input type="button" value="<?php echo $this->language->_('Back'); ?>" class="btn btn-block btn-secondary" onClick="window.location.href = '/';"/>

          </div>
        </div>
      </form>

      <div class="text-center text-muted">
        <?= $this->language->_("Don't have account yet") ?>? <a href="/registerechannel" tabindex="-1"><?= $this->language->_('Sign up') ?></a>
      </div>
    </div>
  </div>
  <!-- ./wrapper -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center flex-row-reverse">
        <div class="col-auto ml-lg-auto">
          <div class="row align-items-center">
            <div class="col-auto">
              <ul class="list-inline list-inline-dots mb-0">
                <!-- <li class="list-inline-item"><a href="https://360.espay.id/viewapi">Open API</a></li> -->
                <li class="list-inline-item"><a href="./faq.html">FAQ</a></li>
                <!-- Language Login Page -->
                <li class="list-inline-item">
                  <a data-toggle="dropdown" href="#" aria-expanded="false">
                    <img src="../../assets/themes/assets/newlayout/img/<?php echo $imgview; ?>" width="25"> <i style="font-size: 16px;margin-left: 1px" class="fa fa-chevron-up"></i>
                  </a>

                  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <div class="dropdown-divider"></div>
                    <a href="<?php echo $link; ?>" class="dropdown-item">
                      <img src="../../assets/themes/assets/newlayout/img/<?php echo $imgselect; ?>" width="25"> <?php echo $alt; ?>
                    </a>
                    <div class="dropdown-divider"></div>
                  </div>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
          Copyright © 2020 PT. PLUS All rights reserved.
        </div>
      </div>
    </div>
    <!-- <a href="#" class="float-footer disable-a" style="background-color:#4eb52f">
      <i class="fa fa-comments" id="float_icon" style="margin-top: 16px;"></i>
    </a>

    <div id="customer_service" style="display:none">
      <a href="https://api.whatsapp.com/send?phone=+6285889661998&text=PT%20Square%20Gate%20One." class="float-footer" style="bottom: 110px;background-color:#67cf48" target="_blank">
        <i class="fab fa-whatsapp" style="margin-top: 16px;"></i>
      </a>
      <a href="tel:+622130052770" title="Phone : +6221 3005 2770" class="float-footer" style="bottom: 177px;background-color:#325082;">
        <i class="fa fa-phone" style="margin-top: 16px;"></i>
      </a>
      <a href="mailto:vip@espay.id?Subject=" target="_top" title="vip@espay.id" class="float-footer" style="bottom: 244px;background-color:#df5813;">
        <i class="fa fa-envelope" style="margin-top: 16px;"></i>
      </a>
    </div> -->
  </footer>

  <!-- AdminLTE App -->
  <script src="../../360/js/adminlte.js"></script>

<script type="text/javascript">

    var handlerEmbed = function (captchaObj) {
        $("#embed-submit").click(function (e) {
            var validate = captchaObj.getValidate();
            if (!validate) {
                $("#notice")[0].className = "show";
                setTimeout(function () {
                    $("#notice")[0].className = "hide";
                }, 2000);
                e.preventDefault();
            }
        });
     
        captchaObj.appendTo("#embed-captcha");
        captchaObj.onReady(function () {
            $("#wait")[0].className = "hide";
        });

        captchaObj.onSuccess(function () {
          var result = captchaObj.getValidate();

      });

      captchaObj.onError(function () {

      });


    };
  $.ajax({
        // 获取id，challenge，success（是否启用failback）
        // ur;: "<?=$this->url(array('module'=>'default','controller'=>'startrecapcha','action'=>'index'),null,true)?>"
       url : "/default/startrecapcha",
        // url: "../web/StartCaptchaServlet.php?t=" + (new Date()).getTime(), // 加随机数防止缓存
       type: "get",
       dataType: "json",
       success: function (data) {
          // console.log(data);
           initGeetest({
               gt: data.gt,
               challenge: data.challenge,
                new_captcha: data.new_captcha,
                product: "popup",
                lang: 'en', // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
            }, handlerEmbed);
        },
      error: function(xhr, ajaxOptions, thrownError)
      {
        console.info(thrownError);
        // $("#load"+acct).hide();
        // alert("Failed to get where column list, please try again");
      }
    });

  $(document).ready(function() {

      $('input').prop('autocomplete', 'off');
      
      $('.toggle-password').on('mousedown', function() {
          $(this).toggleClass("fa-eye fa-eye-slash");
          var input = $($(this).attr("toggle"));
          input.attr("type", "text");
      }).on('mouseup', function() {
          $(this).toggleClass("fa-eye fa-eye-slash");
          var input = $($(this).attr("toggle"));
          input.attr("type", "password");
      });
    });

</script>
