<script type="text/javascript" src="/js/yearcalendar.js"></script>
<b><?php echo $this->language->_('General'); ?>  &gt;  <?php echo $this->language->_('Global Scheme Parameters'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Global Scheme Parameters'); ?></div>
	<?php if($this->success){ ?>
	<div class="successmsg"><?=$this->report_msg?></div><br />
	<?php }else if($this->error){ ?>
	<div class="errmsg"><?=$this->report_msg?></div><br />
	<?php } ?>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
    <tr>
    	
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>	
    </tr>
    <?php
  // $this->paginator = 4;
			$i=0;
     foreach($this->arrscheme as $row) {
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		/*IF($row['BUSS_SCHEME_CODE'] == 1)
		{
			$detail = '<a href="'.$this->url(array('module'=>'supplierfinancing','controller' => 'index','action'=>'index','code'=>$row['BUSS_SCHEME_CODE']),null,true).'">Supplier Financig</a>';
		}
		elseif($row['BUSS_SCHEME_CODE'] == 2)
		{
			$detail = '<a href="'.$this->url(array('module'=>'distributorfinancing','controller' => 'index','action'=>'index','code'=>$row['BUSS_SCHEME_CODE']),null,true).'">Distributor Financing</a>';
		}		
    	elseif($row['BUSS_SCHEME_CODE'] == 3)
		{
			$detail = '<a href="'.$this->url(array('module'=>'automotivedealerfinancing','controller' => 'index','action'=>'index','code'=>$row['BUSS_SCHEME_CODE']),null,true).'">'.$row['SCHEME_NAME'].'</a>';
		}*/		
    		$detail = '<a href="'.$this->url(array('module'=>'globalscheme','controller' => 'edit','action'=>'index','code'=>$row['BUSS_SCHEME_CODE']),null,true).'">'.$row['BUSS_SCHEME_NAME'].'</a>';
		
		$row_content = '<tr>
              					
										<td class="'.$td_css.'">'.$detail.'</td>
										<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['SUGGESTED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
										<td class="'.$td_css.'">'.$row['SUGGESTEDBY'].'</td>
										<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['UPDATED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
										<td class="'.$td_css.'">'.$row['UPDATEDBY'].'</td>
						</tr>
						';
		echo $row_content;
		$i++;		
		
  	  }
	
  	  
  
  
    ?>
</table>