	<style type="text/css">
	.footer{
		bottom: 0px!important;

		position: fixed!important;
	}

	.foot{
		position: fixed;bottom: 50px;right: 39px;
	}
</style>
	<h3>Create Password Success</h3>
    <hr>
    <div class="wizard-container">
		<div class="card wizard-card-front" data-color="green" id="wizardProfile">
			<center>
				Create Password Success.<br/>
        		Thank you
        		<br/><br/>
	        	
	        	<?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/default\'','class'=>'btngreen hov')); ?>
        	</center>
		</div>
	</div>