<style>
	label {
		font-size: 1.2em;
	}

	.col-form-label {
		font-size: 1.2em;
	}

	.textGray {
		color: #8e8e8e;
	}

	.form-group {
		margin-bottom: 0em;
	}

	.iconCircle {
		background-color: lightgray;
		color: red;
		margin-top: 3px;
		min-width: 23px;
		height: 20px;
	}

	#guarantedTransactions {
		width: 100%;
		font-size: 16px;
	}

	#guarantedTransactions th {
		background-color: #cccccc;
		font-style: italic;
		font-weight: normal;
	}

	#guarantedTransactions td {
		background-color: #efefef;
		font-weight: normal;
	}

	#fulltable {
		width: 100%;
		font-size: 16px;
	}

	#fulltable th {
		background-color: #cccccc;
		font-style: italic;
		font-weight: normal;
	}

	#fulltable td {
		background-color: #efefef;
		font-weight: normal;
	}
</style>

<script type="text/javascript" src="/js/jquery.mask.min.js"></script>

<?php
require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
$rand = $this->token;
$encrypted = $AESMYSQL->encrypt($this->BG_REG_NUMBER, $rand);
$encrypted_id = urlencode($encrypted);

?>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Report'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('BG List'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="inhouse"><?= $this->language->_('Detail') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="inhouse"><?= $this->language->_('Penutupan') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>

				<!-- <li>
                    <span><?= $this->language->_('Submission') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li> -->
				<li>
					<?= $this->language->_('Konfirmasi'); ?>
				</li>


			</ul>
		</div>
	</div>
</div>
<?php if (count($this->report_msg) > 0) { ?>
	<div class="alert alert-danger">
		<?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.'); ?></div>
	<br />
<?php } ?>

<?php if ($this->error) { ?>
	<div class="alert alert-danger">
		<?php echo $this->err_msg; ?></div>
	<br />
<?php } ?>
<br>

<div class="row justify-content-center">
	<div class="col-md-12">

		<form action="" method="post" enctype="multipart/form-data">
			<div style="padding-left: 2%;">
				<div class="row">
					<div class="col-md-12">
						<h5><?= $this->language->_('Pengajuan Penutupan Bank Garansi') ?></h5>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<label class="textGray"><?= $this->language->_('Penutupan atas Nomor BG') ?></label>
					</div>
					<div class="col-md-9">
						<label class="text-danger font-weight-bold" id="bg_number"><?php echo $this->getBG['BG_NUMBER']; ?></label>
					</div>
				</div>

				<div class=" row">
					<div class="col-md-3">
						<label class="textGray"><?= $this->language->_('Bentuk Penerbit') ?></label>
					</div>
					<div class="col-md-9">
						<label><?php echo $this->publishDesc; ?> <?= $this->nomorRefKertas; ?></label>
					</div>
				</div>

				<div class=" row">
					<div class="col-md-3">
						<label class="textGray"><?= $this->language->_('Subjek') ?></label>
					</div>
					<div class="col-md-9">
						<label style="font-weight:bold;"><?php echo $this->getBG['BG_SUBJECT']; ?></label>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<label class="textGray"><?= $this->language->_('Principal') ?></label>
					</div>
					<div class="col-md-9">
						<label><?php echo $this->getBG['CUST_NAME'] ?></label>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<label class="textGray"><?= $this->language->_('Obligee') ?></label>
					</div>
					<div class="col-md-9">
						<label><?php echo $this->getBG['RECIPIENT_NAME']; ?></label>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<label class="textGray"><?= $this->language->_('Bank Cabang Penerbit') ?></label>
					</div>
					<div class="col-md-9">
						<label><?php echo $this->getBG['BRANCH_NAME']; ?></label>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust" style="background-color:#dc3545;">
						<h5><?= $this->language->_('Nilai dan Masa Berlaku Bank Garansi') ?></h5>
					</div>
					<div style="padding-left:2%" class="py-2">
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label"><?= $this->language->_('Nominal Bank Garansi') ?></label>
							</div>
							<div class="col-sm-9">
								<label id="bank_amount_lbl" style="font-weight:bold;"><?= $this->bgCurrency . " " . number_format($this->BG_AMOUNT, 2) ?></label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label"><?= $this->language->_('Berlaku Sejak') ?></label>
							</div>
							<div class="col-sm-9" id="update_date_lbl">
								<label><?php echo $this->updateStart; ?>&nbsp;To&nbsp;<?php echo $this->updateEnd; ?></label>
								&nbsp;&nbsp;&nbsp;
								<label id="daysTotal_label">&nbsp;</label>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<label for="" class="textGray col-form-label"><?= $this->language->_('Batas Tanggal Klaim') ?></label>
							</div>
							<div class="col-sm-9">
								<label class="col-form-label"><?php echo $this->bgClaimDate; ?></label>
							</div>
						</div>

					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust" style="background-color:#dc3545;">
						<h5><?= $this->language->_('Kontra Garansi') ?></h5>
					</div>
					<?php if ($this->counterWarrantyType == '1') : ?>
						<div style="padding-left:2%">
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
								</div>
								<div class="col-sm-9">
									<label id="COUNTER_WARRANTY_TYPE_LBL"><?= $this->counterWarrantyDesc; ?></label>
								</div>
							</div>
						</div>
					<?php endif ?>

					<?php if ($this->counterWarrantyType == '2') : ?>
						<div style="padding-left:2%">
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
								</div>
								<div class="col-sm-9">
									<label id="COUNTER_WARRANTY_TYPE_LBL"><?= $this->counterWarrantyDesc; ?></label>
								</div>
							</div>
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label"><?= $this->language->_('Pemilik Plafond Limit') ?></label>
								</div>
								<div class="col-sm-9">
									<label id="COUNTER_WARRANTY_TYPE_LBL"><?php echo $this->getBG['CUST_NAME'] ?></label>
								</div>
							</div>
						</div>
					<?php endif ?>

					<?php if ($this->counterWarrantyType == '3') : ?>
						<div style="padding-left:2%">
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
								</div>
								<div class="col-sm-9">
									<label id="COUNTER_WARRANTY_TYPE_LBL"><?= $this->counterWarrantyDesc; ?></label>
								</div>
							</div>
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label"><?= $this->language->_('Nama Asuransi') ?></label>
								</div>
								<div class="col-sm-9">
									<label class="col-form-label"><?= $this->language->_($this->getBG['INS_NAME']); ?></label>
								</div>
							</div>
							<div class="form-group row pt-2">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label"><?= $this->language->_('Asuransi Cabang') ?></label>
								</div>
								<div class="col-sm-9">
									<label class="col-form-label"><?= $this->language->_($this->insuranceBranch); ?></label>
								</div>
							</div>
						</div>
					<?php endif ?>

				</div>
			</div>

			<div class="row">
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust" style="background-color:#dc3545;">
						<h5><?= $this->language->_('Lampiran Dokumen Penutupan') ?></h5>
					</div>
					<div style="padding-left:2%">
						<div class="form-group row pt-2">
							<?php echo $this->lampiranDokumen; ?>
						</div>

					</div>
				</div>
			</div>
			<?php if ($this->counterWarrantyType != '2' && $this->holdAmount > 0) : ?>
				<div class="row">
					<div class="col-md-12 pb-5" style="height: auto; position: relative;" id="transaksi_container">
						<div class="padding-header-cust" style="background-color:#dc3545;">
							<h5><?= $this->language->_('Marginal Deposit Principal') ?></h5>
						</div>
						<div style="padding-left:2%; padding-top:2px;" class="py-2">
							<label for="" class="text-body font-weight-bold">Marginal Deposit Eksisting </label> <label style="font-style: italic;">(total : </label> <label class="text-danger" style="font-style: italic;">IDR <?= number_format($this->holdAmount, 2); ?></label><label style="font-style: italic;">)</label>
							<input type="hidden" id="holdAmount" value="<?= $this->holdAmount; ?>">
							<input type="hidden" id="transferAmount">
							<span id="tableMarginalDeposit"></span>
							<div class="col-sm-12">
								<strong class="formreq">
									<font color="red">&nbsp;*</font>
								</strong> <label for="" class="textGray col-form-label"><?= $this->language->_('Rekening Tipe Deposito dan Saving akan dilakukan pelepasan dana ditahan (tanpa pemindahan dana)') ?></label>
							</div>
							<?php if ($this->getEscrow) : ?>
								<label for="" class="text-body font-weight-bold">Pelepasan Dana Escrow ke Rekening Berikut</label> <label style="font-style: italic;"> (total jumlah : </label> <label class="text-danger"><span id="totalPelepasanDana" class="text-danger">IDR <?php echo $this->totalAmount; ?></span></label><label style="font-style: italic;">)</label>
								<?php echo $this->listAccount; ?>
							<?php endif ?>

						</div>

					</div>

				</div>
			<?php endif ?>
			<div class="row">
				<div class="col-md-12" align="center">
					<!-- <button name="back" id="back" class="btn-sm btnwhite hov" onclick="location.href='/<?= $this->modulename ?>'"
                        value="1"><?= $this->language->_('Back') ?></button> -->
					<!-- fixing 27 april 2023 -->
					<input class="btn-sm btnwhite hov" value="<?php echo $this->language->_('Back') ?>" onclick="location.href='/<?= $this->modulename ?>/bgclosing/index/bgnumb/<?= $this->bgparam  ?>'" type="button">
					<!-- fixing 27 april 2023 -->
					&nbsp;&nbsp;

					<input type="submit" name="submit" id="submit" value="<?= $this->language->_('Submit') ?>" class="btngreen hov">
					&nbsp;&nbsp;
				</div>
			</div>

		</form>
	</div>
</div>

<script>
	$(document).ready(function() {
		var start = new Date('<?php echo $this->updateStart; ?>');
		var end = new Date('<?php echo $this->updateEnd; ?>');
		var total = (end - start) / (1000 * 60 * 60 * 24);

		if (start && end) {
			var total = total + 1;
			$('#daysTotal_label').html("tenor : (" + total + " days)")
		}
		<?php if ($this->counterWarrantyType != '2') : ?>
			// GET MARGINAL DEPOSIT
			refreshMarginalDeposit('<?php echo $this->getBG['BG_REG_NUMBER']; ?>');
		<?php endif ?>

		<?php if ($this->counterWarrantyType == '2') : ?>
			$('#chkterms').prop('disabled', false);
		<?php endif ?>

		document.querySelectorAll('label').forEach(item => {
			item.classList.add('col-form-label');
		})


		// apabila inptutan mandatory
		$('.mandatory').append(' <span class="text-danger font-weight-bold">*</span>');

		// masking data
		$('#bg_number').mask('AAA-AAAAAA-AAAAA-AAAA');

		$('#chkterms').change(function() {

			var chkterms = $("input[name='chkterms']:checkbox");

			if (chkterms.is(":checked")) {

				$('#submit').prop('disabled', false);
				$('#submit').removeClass('disabled');

			} else {
				$('#submit').prop('disabled', true);
				$('#submit').addClass('disabled');
			}


		});

		// VALIDATION
		$('#chooseFile').bind('change', function() {
			var filename = $("#chooseFile").val();
			if (/^\s*$/.test(filename)) {
				$(".underDocument").removeClass('active');
				$("#noFile").text("No file chosen...");
			} else {
				file = $("#chooseFile")[0].files[0];

				if (file.size > 10485760) {
					$("#chooseFile").val("");
					$("#chooseFile").removeClass("active");
					// $("#noFile").append("No file choosen...");

					$(".underDocument").removeClass('active');
					$("#noFile").text("No file chosen...");

					return alert("Your file size more than 10 MB, it should be lower than 10 MB");

					// input.value = "";
					// previousSibling.parentElement.parentElement.classList.remove("active");
					// previousSibling.textContent = "No file choosen...";

				}
				if (file.type != "application/pdf") {
					$("#chooseFile").val("");
					$("#chooseFile").removeClass("active");
					// $("#noFile").append("No file choosen...");

					$(".underDocument").removeClass('active');
					$("#noFile").text("No file chosen...");

					// input.value = "";
					// previousSibling.parentElement.parentElement.classList.remove("active");
					// previousSibling.textContent = "No file choosen...";
					return alert("Your file type is not supported. Supported file (only PDF)");
				}
				if (/^\s*$/.test($("#chooseFile").val())) {
					$("#chooseFile").val("");
					$("#chooseFile").removeClass("active");
					$(".underDocument").removeClass('active');
					$("#noFile").text("No file chosen...");
					// $("#noFile").append("No file choosen...");
					// previousSibling.parentElement.parentElement.classList.remove("active");
					// previousSibling.textContent = "No file choosen...";
				} else {
					// previousSibling.parentElement.parentElement.classList.add("active");
					$("#chooseFile").addClass("active");
					$("#chooseFile").text().replace("C:\\fakepath\\", "");
				}


				document.querySelector("#check_exist_gt").value = file.name;
				$(".underDocument").addClass('active');
				$("#noFile").text(filename.replace("C:\\fakepath\\", ""));

			}
		});

		$('#chooseFile2').bind('change', function() {
			var filename = $("#chooseFile2").val();
			if (/^\s*$/.test(filename)) {
				$(".underDocument").removeClass('active');
				$("#noFile").text("No file chosen...");
			} else {
				file = $("#chooseFile2")[0].files[0];

				if (file.size > 10485760) {
					$("#chooseFile2").val("");
					$("#chooseFile2").removeClass("active");
					// $("#noFile").append("No file choosen...");

					$(".underDocument2").removeClass('active');
					$("#noFile2").text("No file chosen...");

					return alert("Your file size more than 10 MB, it should be lower than 10 MB");

					// input.value = "";
					// previousSibling.parentElement.parentElement.classList.remove("active");
					// previousSibling.textContent = "No file choosen...";

				}
				if (file.type != "application/pdf") {
					$("#chooseFile2").val("");
					$("#chooseFile2").removeClass("active");
					// $("#noFile").append("No file choosen...");

					$(".underDocument2").removeClass('active');
					$("#noFile2").text("No file chosen...");

					// input.value = "";
					// previousSibling.parentElement.parentElement.classList.remove("active");
					// previousSibling.textContent = "No file choosen...";
					return alert("Your file type is not supported. Supported file (only PDF)");
				}
				if (/^\s*$/.test($("#chooseFile2").val())) {
					$("#chooseFile2").val("");
					$("#chooseFile2").removeClass("active");
					$(".underDocument2").removeClass('active');
					$("#noFile2").text("No file chosen...");
					// $("#noFile").append("No file choosen...");
					// previousSibling.parentElement.parentElement.classList.remove("active");
					// previousSibling.textContent = "No file choosen...";
				} else {
					// previousSibling.parentElement.parentElement.classList.add("active");
					$("#chooseFile2").addClass("active");
					$("#chooseFile2").text().replace("C:\\fakepath\\", "");
				}


				document.querySelector("#check_exist_gt2").value = file.name;
				$(".underDocument2").addClass('active');
				$("#noFile2").text(filename.replace("C:\\fakepath\\", ""));

			}
		});

		$('#chooseFile3').bind('change', function() {
			var filename = $("#chooseFile3").val();
			if (/^\s*$/.test(filename)) {
				$(".underDocument").removeClass('active');
				$("#noFile3").text("No file chosen...");
			} else {
				file = $("#chooseFile3")[0].files[0];

				if (file.size > 10485760) {
					$("#chooseFile3").val("");
					$("#chooseFile3").removeClass("active");
					// $("#noFile").append("No file choosen...");

					$(".underDocument3").removeClass('active');
					$("#noFile3").text("No file chosen...");

					return alert("Your file size more than 10 MB, it should be lower than 10 MB");

					// input.value = "";
					// previousSibling.parentElement.parentElement.classList.remove("active");
					// previousSibling.textContent = "No file choosen...";

				}
				if (file.type != "application/pdf") {
					$("#chooseFile3").val("");
					$("#chooseFile3").removeClass("active");
					// $("#noFile").append("No file choosen...");

					$(".underDocument3").removeClass('active');
					$("#noFile3").text("No file chosen...");

					// input.value = "";
					// previousSibling.parentElement.parentElement.classList.remove("active");
					// previousSibling.textContent = "No file choosen...";
					return alert("Your file type is not supported. Supported file (only PDF)");
				}
				if (/^\s*$/.test($("#chooseFile3").val())) {
					$("#chooseFile3").val("");
					$("#chooseFile3").removeClass("active");
					$(".underDocument3").removeClass('active');
					$("#noFile3").text("No file chosen...");
					// $("#noFile").append("No file choosen...");
					// previousSibling.parentElement.parentElement.classList.remove("active");
					// previousSibling.textContent = "No file choosen...";
				} else {
					// previousSibling.parentElement.parentElement.classList.add("active");
					$("#chooseFile3").addClass("active");
					$("#chooseFile3").text().replace("C:\\fakepath\\", "");
				}


				document.querySelector("#check_exist_gt3").value = file.name;
				$(".underDocument3").addClass('active');
				$("#noFile3").text(filename.replace("C:\\fakepath\\", ""));

			}
		});




	})

	<?php if ($this->counterWarrantyType != '2') : ?>

		function totalPelepasanDana() {

			var totalAmount = 0;
			var tbodyNo = document.getElementById("tbody").rows.length + 1;
			if (tbodyNo > 0) {
				for (var i = 1; i < tbodyNo; i++) {
					totalAmount = (isNaN(parseFloat($('#flamount' + i).val().replace(/,/g, ''))) ? 0 : parseFloat($('#flamount' + i).val().replace(/,/g, ''))) + totalAmount;

				}
			}

			$('#transferAmount').val(totalAmount);
			totalAmount = (totalAmount > 0) ? rupiah(totalAmount) : 0;
			$('#totalPelepasanDana').text('IDR ' + totalAmount);


		}

		function rupiah(angka) {
			const formattermoney = new Intl.NumberFormat('ID', {
				minimumFractionDigits: 2
			});
			return formattermoney.format(angka);
			// var reverse = angka.toString().split('').reverse().join(''),
			// 	ribuan = reverse.match(/\d{1,3}/g);
			// ribuan = ribuan.join(',').split('').reverse().join('');
			// return ribuan;
		}


		function numberWithCommas2(x, id) {
			const formattermoney = new Intl.NumberFormat("EN", {
				minimumFractionDigits: 2,
				maximumFractionDigits: 2,
			});

			var tag = '#' + id;
			// $(nams).text(formattermoney.format(obj[k].BALANCE));
			// var x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			var x = formattermoney.format(x);


			$(tag).val(x);

			$("#amountowner1").val(x);
			//$("#insurance_amount").val(x);
			$("#amount").val(x);

			//return 
		}

		function reverseFormatNumber(element) {
			var group = new Intl.NumberFormat("EN").format(1111).replace(/1/g, "");
			var decimal = new Intl.NumberFormat("EN").format(1.1).replace(/1/g, "");
			var reversedVal = element.value.replace(new RegExp("\\" + group, "g"), "");
			reversedVal = reversedVal.replace(new RegExp("\\" + decimal, "g"), ".");
			let save = Number.isNaN(reversedVal) ? 0 : reversedVal;
			element.value = save;
		}

		function refreshMarginalDeposit(reqNumber) {
			$('#iconRefresh').hide();
			$('#iconLoad').show();
			$.ajax({
				url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquirymarginaldeposit'), null, true) ?>",
				type: 'GET',
				dataType: "html",
				data: {
					reqNumber: reqNumber,
				},
				complete: function() {
					$('#iconLoad').hide();
					$('#iconRefresh').show();
				},
				success: function(data) {
					$('#tableMarginalDeposit').html(data);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});

		}

		function setsource(acct, name, manualinput, manualinputName, from, icon, count) {
			var x = document.getElementById(from).value;
			if (x == '0') {

				$('#' + acct).hide();
				$('#' + acct).removeAttr('required');
				$('#' + manualinput).val('');
				$('#' + manualinput).show();
				$('#' + manualinputName).show();
				//$('#'+name).attr('readonly', false);
				$('#' + name).val('');
				$('#' + name).hide();
				$('#acct-name' + count).hide();
				$('#flamount' + count).attr('readonly', false);

				$('#' + icon).show();
				document.querySelector("#flamount" + count).setAttribute("onblur", "numberWithCommas2(this.value,this.id);")
				document.querySelector("#flamount" + count).classList.add("d-inline");
				document.querySelector("#flamount" + count).value = "";

				$("#validasiRekening" + count).hide();
				$("#validasiRekening" + count).html("");

				if (count == 1) {
					document.querySelector("#select_account_number").selectedIndex = 0
				} else {
					document.querySelector("#select_account_number" + count).selectedIndex = 0
				}

			} else {

				$('#' + acct).show();
				$('#' + acct).attr('required');
				$('#' + manualinput).val('');
				$('#' + manualinputName).val('');
				$('#' + manualinput).hide();
				$('#' + manualinputName).hide();
				$('#' + name).show();
				$('#' + name).attr('readonly', true);
				$('#' + icon).hide();
				$("#refreshBalance" + count).html("")
				document.querySelector("#flamount" + count).classList.remove("d-inline");
				$('#flamount' + count).attr('readonly', true);
				document.querySelector("#flamount" + count).value = "";

			}
		}

		function setname(label, from, i) {

			// const i = document.getElementById("count2").value;
			$('#acct-name' + i).show();
			const x = document.getElementById(from).value;

			const dataName = document.querySelector(`option[value="${document.querySelector(`#${from}`).value}"]`).getAttribute("data-name");
			document.querySelector(`#${from}`).parentElement.parentElement.querySelector(".acct-name" + i).innerText = dataName;

			const dataAccount = document.querySelector(`option[value="${document.querySelector(`#${from}`).value}"]`).getAttribute("data-account");

			const dataAccountType = document.querySelector(`option[value="${document.querySelector(`#${from}`).value}"]`).getAttribute("data-accttype");

			const dataCurrency = document.querySelector(`option[value="${document.querySelector(`#${from}`).value}"]`).getAttribute("data-currency");
			document.querySelector(`#${from}`).parentElement.parentElement.querySelector(".counter-currency" + i).innerText = dataCurrency;

			const temp2 = document.querySelector(`#${from}`).parentElement.parentElement.querySelectorAll("input")[1];
			temp2.readOnly = false
			temp2.classList.remove("d-inline");

			$('#flamount' + i).attr('readonly', false);
			$("#flamount" + i).val('');

			// VALIDASI REKENING

			if (dataAccountType == 'Deposito') {

				$("#validasiRekening" + i).show();
				$("#validasiRekening" + i).html("Transfer Dana hanya dapat ditujukan ke Rekening SACA");
				$('#flamount' + i).attr('readonly', true);

				/*$.ajax({
				url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquiryDeposito'), null, true) ?>",
				type: 'GET',
				dataType: "JSON",
				data: {
					acct_no: `${dataAccount}`,
				},
				success: function(data) {
					if (data.response_code != "0000") {
						$("#validasiRekening" + i).show();
						$("#validasiRekening" + i).html("Akun tidak ditemukan");
						$('#flamount'+i).attr('readonly', true);
					} else {
						// console.log(data.varian_rate != "0");
						if (data.status != 1 && data.status != 4) {
							$("#validasiRekening" + i).show();
							$("#validasiRekening" + i).html("Status rekening tidak aktif");
							$('#flamount'+i).attr('readonly', true);

						}else{
							$("#validasiRekening" + i).hide();
							$('#flamount'+i).attr('readonly', false);
						}
					}

				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
					
				}
				});*/
			} else {

				$.ajax({
					url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquiryaccountbalance'), null, true) ?>",
					type: 'GET',
					dataType: "JSON",
					data: {
						acct_no: `${dataAccount}`,
					},
					success: function(data) {
						if (data.response_code != "0000") {
							$("#validasiRekening" + i).show();
							$("#validasiRekening" + i).html("Akun tidak ditemukan");
							$('#flamount' + i).attr('readonly', true);

						} else {
							// console.log(data.varian_rate != "0");
							if (data.status != 1 && data.status != 4) {
								$("#validasiRekening" + i).show();
								$("#validasiRekening" + i).html("Status rekening tidak aktif");
								$('#flamount' + i).attr('readonly', true);

							} else {
								if (dataCurrency != 'IDR') {
									$("#validasiRekening" + i).show();
									$("#validasiRekening" + i).html("Valuta rekening harus sama dengan valuta MD");
									$('#flamount' + i).attr('readonly', true);

								} else {
									$("#validasiRekening" + i).hide();
									$('#flamount' + i).attr('readonly', false);

								}


							}
						}

					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert("Failed to get where column list, please try again");

					}
				});
			}



		}

		function incrementValue() {
			var save_number = [];
			var getTableBody = document.querySelector("#fulltable").children[1];
			var elemCount = getTableBody.childElementCount;
			var alreadyChoose = [];
			var getSelectOwn
			var getSelectAccNumber

			let temp_itung = 1;
			for (let index = 0; index < parseInt(document.getElementById("count2").value); index++) {
				if (!save_number.includes(parseInt(temp_itung))) {
					console.log(temp_itung)
					save_number.push(parseInt(temp_itung))
					//break;
				}
				temp_itung++;

			}

			// var i = document.getElementById("count2").value;
			var i = temp_itung;

			if (elemCount == 1) {
				getSelectOwn = document.querySelector("#select_own")
				getSelectAccNumber = document.querySelector("#select_account_number")
			} else {
				const last_elem = document.querySelector("#fulltable").children[1].lastElementChild;
				getSelectOwn = last_elem.querySelector("select[name='flselect_own[]']")

				getSelectAccNumber = last_elem.querySelector("select[name='flselect_account_number[]']")
			}

			// cek sudah diisi atau belum
			if (getSelectOwn.value == 1) {
				if (getSelectAccNumber.value == "") {
					return alert("isi terlebih dahulu yang terakhir");
				}
			}

			getTableBody.childNodes.forEach(element => {
				if (element.hasChildNodes()) {
					alreadyChoose.push(element.querySelectorAll("select")[1].value)
				}
			});

			var cList = $('#counterList').val()

			$('#counterList').val(1 + (+cList))

			if (document.getElementById("count").value < 25) {
				document.getElementById('count').stepUp(1);
				document.getElementById('count2').stepUp(1);


				var count = document.getElementById("count").value;

				if (i != 1) {

					var table = document.getElementById("fulltable");
					// var row = table.insertRow(i);
					var row = table.insertRow(parseInt(document.getElementById("count2").value));
					var cell1 = row.insertCell(0);
					var cell2 = row.insertCell(1);
					var cell3 = row.insertCell(2);
					var cell4 = row.insertCell(3);
					var cell5 = row.insertCell(4);
					var cell6 = row.insertCell(5);

					cell1.innerHTML = "<div class='form-group row'><select name='flselect_own[]' id='select_own" + i + "' class='form-control' style='font-size:1.2em;width:60%;margin-left:15px' onchange='setsource(`select_account_number" + i + "`,`flname" + i + "`,`flselect_account_manual" + i + "`,`flname_manual" + i + "`,`select_own" + i + "`,`icwarning" + i + "` , " + i + "); setToNull(" + i + ")' required><option value='1'>Y</option><option value='0'>N</option></select>&nbsp;</div></div>";

					cell2.innerHTML = "<select name='flselect_account_number[]' id='select_account_number" + i + "' class='form-control' onchange='setname(`flname" + i + "`,`select_account_number" + i + "`, " + i + ")' style='font-size:1.2em' required></select><input type='text' name='flselect_account_manual[]' maxlength='16' id='flselect_account_manual" + i + "' value='' autocomplete='off' class='form-control' style='display:none;text-align: left; font-size: 1.2em;' onkeypress=\"return forceNumberOCBC(event)\"> <label class='form-label' id='validasiRekening" + i + "' style='color: red; font-size: 10px; text-align: left;'></label>";
					var newSelect = $("#select_account_number option").clone();

					//newSelect.val("");

					var selectid = '#select_account_number' + i;

					//$('#select1 option').clone().appendTo('#select2');
					//console.log(selectid);
					//console.log(newSelect);
					$(selectid).append(newSelect);
					cell3.innerHTML = "<label for='' class='textGray col-form-label acct-name" + i + "' id='acct-name" + i + "'>-</label><input type='text' name='flname_manual[]'' id='flname_manual" + i + "' class='form-control' style='display:none;font-size:1.2em' onkeyup='setToNull(" + i + ")''><label class='form-label' id='validasiName" + i + "' style='color: red;font-size: 10px;text-align: right;display:none'></label>";

					var newflname_manual = $("#flname_manual option").clone();
					var flname_manual = '#flname_manual' + i;
					$(flname_manual).append(newflname_manual);

					cell4.innerHTML = "<label for='' class='textGray col-form-label counter-currency" + i + "'>-</label>";
					cell5.innerHTML = "<input type='text' name='flamount[]' id='flamount" + i + "' value='' maxlength='20' autocomplete='off' class='form-control' style='text-align: left;font-size: 1.2em;width: 90%' onfocus='reverseFormatNumber(this)' onblur='numberWithCommas2(this.value,this.id); checkAmount(" + i + ")' onkeypress='return forceNumberOCBC(event)' onkeyup='totalPelepasanDana();' required readonly><span id='refreshBalance" + i + "'></span><label class='form-label' id='validasiAmount" + i + "' style='color: red;font-size: 10px;text-align: right;display:none'></label>";
					$('[data-toggle="tooltip"]').tooltip();

					var delbtncheck = "<button type='button' class='btn btn-sm btn-danger' id='removeRow" + i + "' onclick='removerow(this, " + i + ", " + parseInt(document.getElementById("count2").value) + ")'><i class='fa fa-times'></i></button>";
					cell6.innerHTML = delbtncheck;
				}

				var prevNo = parseInt(i) - 1;
				$("#removeRow" + prevNo).hide();
				// alert(j);
				// table.rows[j].deleteCell(3);  


			}

			alreadyChoose.forEach(e => {
				if (getTableBody.lastChild.querySelector(`option[value="${e}"]`) != null) {
					getTableBody.lastChild.querySelector(`option[value="${e}"]`).style.display = "none"
				}
			});

			document.querySelectorAll("select[name='flselect_account_number[]']").forEach((elem) => {
				let getOldValue
				elem.addEventListener("focus", () => {
					getOldValue = elem.value
				})
				elem.addEventListener("change", () => {
					elem.blur()
					alreadyChoose.push(elem.value)
					alreadyChoose = alreadyChoose.filter(function(item) {
						return item != getOldValue
					})

					document.querySelectorAll("select[name='flselect_account_number[]']").forEach((element) => {
						element.querySelector(`option[value="${getOldValue}"]`).style.display = "block"
						alreadyChoose.forEach((x) => {
							if (element.value != x) {
								if (element.querySelector(`option[value="${x}"]`) != null) {
									element.querySelector(`option[value="${x}"]`).style.display = "none"
								}
							}
						})
					})
				})
			})
		}

		function removerow(element, id, tablerow) {
			var save_number = [];
			for (let indexq = 0; indexq < save_number.length; indexq++) {
				if (save_number[indexq] == id) {
					save_number.splice(indexq, 1)
				}

			}
			if (document.getElementById("count").value >= 0) {
				var table = document.getElementById("fulltable");

				let getValue = element.parentElement.parentElement.querySelector("select[name='flselect_account_number[]']").value

				document.querySelectorAll("select[name='flselect_account_number[]']").forEach((e) => {
					e.querySelector(`option[value="${getValue}"]`).style.display = "block"
				})

				var ibefore = document.getElementById("count2").value;
				// table.deleteRow(tablerow);
				element.parentElement.parentElement.remove();

				document.getElementById('count').stepDown(1);
				document.getElementById('count2').stepDown(1);
				// alert(ibefore)
				//document.getElementById('countdel').stepDown(1);

				//tambah delete button di row sebelumnya
				var iafter = document.getElementById("count2").value;

				var prevNo = parseInt(id) - 1;
				$("#removeRow" + prevNo).show();

			}



		}

		function setToNull(count) {
			document.querySelector(".counter-currency" + count).innerText = "-"
			document.querySelector("#flamount" + count).value = ""

			//document.querySelector("#flamount" + count).setAttribute("readonly", "false")
			document.querySelector("#flamount" + count).setAttribute("onblur", "numberWithCommas2(this.value,this.id);")
		}

		function checkAmount(i) {

			var tbodyNo = document.getElementById("tbody").rows.length + 1;
			if (tbodyNo > 0) {
				for (var i = 1; i < tbodyNo; i++) {
					if ($("#holdAmount").val() != $("#transferAmount").val()) {
						$("#validasiAmount" + i).show();
						$("#validasiAmount" + i).html("Jumlah Total Nominal Pelepasan harus sama dengan Nominal MD Giro Escrow Eksisting");
						$('#chkterms').prop('disabled', true);
					} else {

						$("#validasiAmount" + i).hide();
						$("#validasiAmount" + i).html("");
						$('#chkterms').prop('disabled', false);


					}

				}
			}

		}


		function checkName(i) {
			var acct = $("#flselect_account_manual" + i).val();
			var acct_name = $("#flname_manual" + i).val();
			if (acct != "") {
				$.ajax({
					url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquiryaccountinfo'), null, true) ?>",
					type: 'GET',
					dataType: "JSON",
					data: {
						acct_no: `${acct}`,
					},
					success: function(data) {
						if (data.response_code != "0000") {
							$("#validasiRekening" + i).show();
							$("#validasiRekening" + i).html("Akun tidak ditemukan");
							$('#flamount' + i).attr('readonly', true);

						} else {
							// console.log(data.varian_rate != "0");
							if (data.account_name != acct_name) {
								$("#validasiRekening" + i).show();
								$("#validasiRekening" + i).html("Nama dan nomor rekening tidak sesuai");
								$('#flamount' + i).attr('readonly', true);

							} else {
								$("#validasiRekening" + i).hide();
								$('#flamount' + i).attr('readonly', false);

							}
						}

					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert("Failed to get where column list, please try again");

					}
				});
			}
		}
	<?php endif ?>
</script>