<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?= $this->language->_('Report'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span><?= $this->language->_('Bank Guarantee'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span class="valas"><?= $this->language->_('Customer BG List'); ?></span>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  .input-medium {
    width: 240px !important;
  }
</style>

<?php $subject      = $this->language->_('Subject'); ?>
<?php $bgNumber     = $this->language->_('BG Number'); ?>
<?php $status       = $this->language->_('Status'); ?>
<?php $setFilter    = $this->language->_('Set Filter'); ?>
<?php $clearFilter  = $this->language->_('Clear Filter'); ?>

<div class="row content-box">
  <div class="portlet-body form col-md-12">
    <h5><?= $this->language->_('Customer Bank Guarantee List'); ?></h5>

    <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">



      <?php
      $optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
      foreach ($this->filterlist as $key => $row) {
        $optArr .=  '<option value="' . $key . '" >' . $this->language->_($row) . '</option>';
      }

      ?>
      <div class="row " id="logo-titles" style="margin-left: 0px">
        <?php
        if (!empty($this->wherecol)) {
        ?>
          <script type="text/javascript">
            $(document).ready(function() {
              var ctrfilter = <?= count($this->wherecol); ?>;
              $("#logo-title").show();
              $("#where-").hide();
              $("#wherectr").val(ctrfilter)
            });
          </script>
        <?php
        }
        // print_r($this->wherecol);//die;
        $index = 0;
        foreach ($this->wherecol as $key => $value) {
        ?>
          <div id="searchs" style="width: 100%">
            <?php
            $datetype = array('Last Suggestion', 'APPROVE_DATE', 'Last Login');
            $selectlist = array("fSubject", "fBgNumber", "fStatus");

            ?>
            <div id="where-<?= $key ?>">
              <div class="form-group row mt-12">
                <div class="col-md-4 form-inline">
                  <select class='form-control event_select' id='wherecol-<?= $key ?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                    <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                    <?php

                    foreach ($this->filterlist as $row => $temp) {
                      $colname = $row;
                      if ($value == $colname) {
                        $selected = "selected";
                      } else {
                        $selected = "";
                      }
                    ?>
                      <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($temp) ?></option>
                    <?php } ?>
                  </select>
                </div>
                <div class="col" style="display: none">
                  <select class='form-control' id='whereopt-<?= $key ?>' name='whereopt[]'>

                    <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                      <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                      <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                      <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                      <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                    <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                      <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                      <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
                    <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                      <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                      <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                      <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                      <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                      <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                    <?php } ?>
                  </select>
                </div>
                <div class="col-md-6 form-inline" id='colvalue-<?= $key ?>'>
                  <script type="text/javascript">
                    $(document).ready(function() {
                      var colval = "#colvalue-<?= $key ?>";
                      var colomnname = "<?= $value ?>";
                      // var colselect= "<?= $value ?>";
                      var colselect = "colselect-<?= $key ?>";
                      var ncolselect = "#colselect-<?= $key ?>";
                      if (colomnname == 'Group') {
                        // alert(<?= $index ?>);
                        $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                        var id = $("#tablename").find(":selected").val();
                        $.ajax({
                          url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bgroup'), null, true) ?>",
                          type: 'GET',
                          dataType: "html",
                          data: {
                            id: '<?= $this->whereval[$key] ?>'
                          },
                          success: function(data) {
                            $(ncolselect).html(data);
                          },
                          error: function(xhr, ajaxOptions, thrownError) {
                            alert("Failed to get where column list, please try again");
                          }
                        });

                        $(colselect).val('<?= $this->whereval[$index] ?>');

                      } else if (colomnname == 'branch_name') {
                        // alert(<?= $index ?>);
                        $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                        var id = $("#tablename").find(":selected").val();
                        $.ajax({
                          url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bbranch'), null, true) ?>",
                          type: 'GET',
                          dataType: "html",
                          data: {
                            id: '<?= $this->whereval[$key] ?>'
                          },
                          success: function(data) {
                            $(ncolselect).html(data);
                          },
                          error: function(xhr, ajaxOptions, thrownError) {
                            alert("Failed to get where column list, please try again");
                          }
                        });

                        $(colselect).val('<?= $this->whereval[$index] ?>');

                      } else if (colomnname == 'lock') {
                        // alert(<?= $index ?>);
                        $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                        var id = $("#tablename").find(":selected").val();
                        $.ajax({
                          url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bislocked'), null, true) ?>",
                          type: 'GET',
                          dataType: "html",
                          data: {
                            id: '<?= $this->whereval[$key] ?>'
                          },
                          success: function(data) {
                            $(ncolselect).html(data);
                          },
                          error: function(xhr, ajaxOptions, thrownError) {
                            alert("Failed to get where column list, please try again");
                          }
                        });

                        $(colselect).val('<?= $this->whereval[$index] ?>');

                      } else if (colomnname == 'fDeleted') {

                        $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                        $(ncolselect).html('<option value="1">Yes</option> <option value="2">No</option>');

                        document.querySelector(ncolselect).value = '<?= $this->whereval[$key]; ?>'

                      } else if (colomnname == 'fSegment') {

                        $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                        $(ncolselect).html('<option value="1">Corporate</option> <option value="2">Commercial</option> <option value="3">SME</option> <option value="4">Financial Institution</option>');

                        document.querySelector(ncolselect).value = '<?= $this->whereval[$key]; ?>'

                      } else if (colomnname == 'fStatus') {

                        $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                        $(ncolselect).html('<option value="15">On Risk</option> <option value="16">Off Risk</option>');

                        document.querySelector(ncolselect).value = '<?= $this->whereval[$key]; ?>'

                      } else if (colomnname == 'Status') {
                        // alert(<?= $index ?>);
                        $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                        var id = $("#tablename").find(":selected").val();
                        $.ajax({
                          url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bstatus'), null, true) ?>",
                          type: 'GET',
                          dataType: "html",
                          data: {
                            id: '<?= $this->whereval[$key] ?>'
                          },
                          success: function(data) {
                            $(ncolselect).html(data);
                          },
                          error: function(xhr, ajaxOptions, thrownError) {
                            alert("Failed to get where column list, please try again");
                          }
                        });

                        $(colselect).val('<?= $this->whereval[$index] ?>');

                      }
                    });
                  </script>
                  <?php


                  // print_r($selectlist);
                  if ($value == 'Last Suggestion') {
                    // var_dump($this->whereval);die;
                  ?>
                    <input type='text' class='form-control' name='sugestdate[]' id='sugestStart' readonly value="<?= $this->fDateFrom ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='sugestdate[]' id='sugestEnd' value="<?= $this->fDateTo ?>" readonly required>
                  <?php } elseif ($value == 'Last Login') {
                  ?>
                    <input type='text' class='form-control' name='logindate[]' id='loginstart' readonly value="<?= $this->fDateFrom3 ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='logindate[]' id='loginEnd' value="<?= $this->fDateTo3 ?>" readonly required>
                  <?php
                  } elseif ($value == 'APPROVE_DATE') {
                    // var_dump($this->whereval);die;
                  ?>
                    <input type='text' class='form-control' name='approvedate[]' id='approveStart' readonly value="<?= $this->fDateFrom2 ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='approvedate[]' id='approveEnd' value="<?= $this->fDateTo2 ?>" readonly required>
                  <?php
                  } else if (in_array($value, $selectlist) && $value != 'fDeleted' && $value != 'fSegment' && $value != 'fStatus') {
                  ?>
                    <input class='form-control' type='text' name='whereval[]' value='<?= $this->whereval[$key] ?>' style="width:100%" />
                  <?php }
                  if (!in_array($value, $datetype)) {
                    // print_r($value);die;
                    $index++;
                  }
                  ?>
                </div>
                <div class="col-md-2 form-inline">
                  <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                </div>
              </div>
            </div>

          </div>

        <?php
        }
        ?>

      </div>


      <div class="row " id="logo-title" style="display: none">
        <div class="portlet-body form col-md-12">
          <div id="wheres" style="width: 100%">

          </div>
          <input type="hidden" id="wherectr" value="<?= $key ?>" />
          <!-- <input type="hidden" id="wherectr" value="0" /> -->
          <br />
          <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
          &nbsp;
          <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
          &nbsp;
          <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">


          <br />


        </div>
        <div class="col-md-4">
        </div>

      </div>
      <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
        <a href="#" class="sidebar-collapse-icon with-animation">
          <?php echo $this->language->_('Advanced Search'); ?>
        </a>
      </div>

    </form>

    <!-- <form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true); ?>" method="get">
      <table id="logo-title" cellpadding="3" cellspacing="0" border="0" style="width:100%; <?= ($filter == false) ? 'display:none;' : ''; ?>">
        <tr>
          <td class="tbl-evencontent" width="150px"><?= $this->formLabel('fSubject', $subject); ?></td>
          <td class="tbl-evencontent" width="20px">:</td>
          <td class="tbl-evencontent">
            <?= $this->formText('fSubject', $this->fSubject, array('class' => 'form-control input-medium')); ?>
          </td>
        </tr>
        <tr>
          <td class="tbl-evencontent" width="150px"><?= $this->formLabel('fBgNumber', $bgNumber); ?></td>
          <td class="tbl-evencontent" width="20px">:</td>
          <td class="tbl-evencontent">
            <?= $this->formText('fBgNumber', $this->fBgNumber, array('class' => 'form-control input-medium')); ?>
          </td>
        </tr>
        <tr>
          <td class="tbl-evencontent" width="150px"><?= $this->formLabel('fStatus', $status); ?></td>
          <td class="tbl-evencontent" width="20px">:</td>
          <td class="tbl-evencontent">
            <select name="fStatus" class="form-control input-medium">
              <option value="">--- <?= $this->language->_('Any Value'); ?> ---</option>
              <?php foreach ($this->statusArr as $key => $value) : ?>
                <option value="<?= $key; ?>" <?= ($key == $this->fStatus) ? 'selected' : ''; ?>><?= $this->language->_($value); ?></option>
              <?php endforeach; ?>
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <?= $this->formSubmit('filter', $setFilter, array('class' => 'btngreen hov mt-2')); ?>
            <?= $this->formSubmit('filter_clear', $clearFilter, array('class' => 'btnwhite hov mt-2')); ?>
          </td>
        </tr>
      </table>
      <div class="sidebar-collapse" style="float:right" id="sidebar-collapse">
        <a href="#" class="sidebar-collapse-icon with-animation">
          <?= $this->language->_('Advanced Search'); ?>
        </a>
      </div>
    </form> -->
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <div style="float:right; padding-left:5px;">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" class="search form-control" id="searchtable" placeholder="Search">
        </div>
      </div>
      <div style="float:right; padding-left:5px;">
        <?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) {
          // echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;' . $this->language->_("Print") . '</button>';
        } else {
        ?>
          <!-- <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)) . $this->qstring ?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print") ?></button>&nbsp; -->
        <?php
        }
        ?>
      </div>
      <div style="float:right; padding-left:5px;">
        <form name="exportForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'csv' => true), null, true) ?>" method="post">
          <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa hov">'; ?>&nbsp;
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="portlet-body flip-scroll table-responsive table-fixed pt-2" id="fixTable">
      <table class="table table-sm table-striped headerNew" id="myTable">
        <tr height="50px">
          <th class="tablehead fth-header" width="3%" valign="top">No</th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('Reg No') . '# / ' . $this->language->_('Subject'); ?><span style="white-space:nowrap"></span>
          </th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('BG Number'); ?><span style="white-space:nowrap"></span>
          </th>
          <th class="tablehead fth-header" valign="top" style="text-align: right;">
            <?= $this->language->_('BG Amount'); ?><span style="white-space:nowrap"></span>
          </th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('Insurance Branch'); ?><span style="white-space:nowrap"></span>
          </th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('Counter Type'); ?><span style="white-space:nowrap"></span>
          </th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('Start Date'); ?><span style="white-space:nowrap"></span>
          </th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('End Date'); ?><span style="white-space:nowrap"></span>
          </th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('Status'); ?>
          </th>
        </tr>
        <?php
        require_once 'Crypt/AESMYSQL.php';

        $AESMYSQL = new Crypt_AESMYSQL();
        $rand = $this->token;

        if (count($this->paginator) > 0) :

          $i = 0;
          $counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;
          foreach ($this->paginator as $row) {
            $encrypted = $AESMYSQL->encrypt($row['BG_REG_NUMBER'], $rand);
            $encrypted_id = urlencode($encrypted);

            $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
            $link = $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'detail', 'bgnumb' => $encrypted_id), null, true);
            if (empty($row['BG_INSURANCE_CODE'])) {
              $counterType = $row['COUNTER_WARRANTY_TYPE'];
            } else {
              $counterType = $row['COUNTER_WARRANTY_TYPE'] . ' (' . $row['BG_INSURANCE_CODE'] . ')';
            }

            echo '<tr>
            <td class="' . $td_css . '">' . $counter++ . '</td>
            <td class="' . $td_css . '">' . strtoupper($row['BG_REG_NUMBER']) . ' / <a href="' . $link . '">' . strtoupper($row['BG_SUBJECT']) . '</a></td>
            <td class="' . $td_css . '">' . $row['BG_NUMBER'] . '</td>
            <td class="' . $td_css . '" style="text-align:right;">IDR ' . Application_Helper_General::displayMoneyplain($row['BG_AMOUNT']) . '</td>
            <td class="' . $td_css . '">' . $row["INSURANCE_BRANCH"] . '</td>
            <td class="' . $td_css . '">' . $counterType . '</td>
            <td class="' . $td_css . '">' . date('d M Y', strtotime($row['TIME_PERIOD_START'])) . '</td>
            <td class="' . $td_css . '">' . date('d M Y', strtotime($row['TIME_PERIOD_END'])) . '</td>
            <td class="' . $td_css . '">' . $this->statusArr[$row["BG_STATUS"]] . '</td>
            </tr>';
            $i++;
          }
        ?>
        <?php else : ?>
          <tr>
            <td colspan="9" class="tbl-evencontent" align="center"> ---<?= $this->language->_('No Data'); ?>--- </td>
          </tr>
        <?php endif; ?>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('div#sidebar-collapse').click(function() {
      if ($("#logo-title").is(":visible")) {
        $("#logo-title").hide();
      } else if ($("#logo-title").is(":hidden")) {
        $("#logo-title").show();
      }
    });

    $("#searchtable").keyup(function() {
      var value = this.value.toLowerCase().trim();

      $("#myTable tr").each(function(index) {
        if (!index) return;
        $(this).find("td").each(function() {
          var id = $(this).text().toLowerCase().trim();
          var not_found = (id.indexOf(value) == -1);
          $(this).closest('tr').toggle(!not_found);
          return not_found;
        });
      });
    });

    $("#addwhere").click(function() {

      var ctr = $("#wherectr").val();
      var optstr = '<?php echo $optArr; ?>';

      var wherecol = "#wherecol-" + ctr;
      $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" + ctr + "' name='wherecol[]' style='width:100%' onclick='getOpt2(this)' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
      ctr++;
      $("#wherectr").val(ctr);
    });
  });

  function getOpt2(elem) {
    var $coll = $('.event_select');

    $coll.children().prop('disabled', false);

    $coll.each(function() {
      var val = this.value;

      if (val === 'original') return;

      $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
    });

    $(colval).empty();
  }

  function removeParent(elem) {
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#" + parentname).remove();
  }

  function getOpt(elem) {
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-" + ctr;
    var colvals = "#colvalue-s" + ctr;
    var colselect = "colselect-" + ctr;
    var ncolselect = "#colselect-" + ctr;
    var ncolselects = "#colselect-s" + ctr;
    var $coll = $('.event_select');

    $coll.children().prop('disabled', false);

    $coll.each(function() {
      var val = this.value;

      if (val === 'original') return;

      $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
    });

    $(colval).empty();
    //$(colvals).empty();

    if (colomnname == 'Last Suggestion') {
      $(colval).append("<input type='text' class='form-control'  name='sugestdate[]' id='sugestStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='sugestdate[]' id='sugestEnd' readonly required>");
      $('#sugestStart').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4'
      });
      $('#sugestEnd').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4'
      });
      $(colvals).append("<input type='text' class='form-control'  name='sugestdate[]' id='sugestStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='sugestdate[]' id='sugestEnd' readonly required>");
      $('#sugestStart').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4'
      });
      $('#sugestEnd').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4'
      });

    } else if (colomnname == 'Last Login') {
      $(colval).append("<input type='text' class='form-control'  name='logindate[]' id='loginStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='logindate[]' id='loginEnd' readonly required>");
      $('#loginStart').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4'
      });
      $('#loginEnd').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4'
      });
      $(colvals).append("<input type='text' class='form-control'  name='logindate[]' id='loginStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='logindate[]' id='loginEnd' readonly required>");
      $('#loginStart').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4'
      });
      $('#loginEnd').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4'
      });

    } else if (colomnname == 'APPROVE_DATE') {
      $(colval).append("<input type='text' class='form-control'  name='approvedate[]' id='approveStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='approvedate[]' id='approveEnd' readonly required>");
      $('#approveStart').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4'
      });
      $('#approveEnd').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4'
      });
      $(colvals).append("<input type='text' class='form-control'  name='approvedate[]' id='approveStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='approvedate[]' id='approveEnd' readonly required>");
      $('#approveStart').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4'
      });
      $('#approveEnd').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4'
      });
    } else if (colomnname == 'branch_name') {

      $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");
      $(colvals).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

      var id = $("#tablename").find(":selected").val();
      $.ajax({
        url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bbranch'), null, true) ?>",
        type: 'GET',
        dataType: "html",
        data: {
          id: id
        },
        success: function(data) {
          $(ncolselect).html(data);
          $(ncolselects).html(data);

        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert("Failed to get where column list, please try again");
        }
      });

    } else if (colomnname == 'lock') {
      if (colselect == '1') {
        $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");
        $(colvals).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

        var id = $("#tablename").find(":selected").val();
        $.ajax({
          url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bislocked'), null, true) ?>",
          type: 'GET',
          dataType: "html",
          data: {
            id: id
          },
          success: function(data) {
            $(ncolselect).html(data);
            $(ncolselects).html(data);
          },
          error: function(xhr, ajaxOptions, thrownError) {
            alert("Failed to get where column list, please try again");
          }
        });
      } else {
        $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");
        $(colvals).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

        var id = $("#tablename").find(":selected").val();
        $.ajax({
          url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bislocked'), null, true) ?>",
          type: 'GET',
          dataType: "html",
          data: {
            id: id
          },
          success: function(data) {
            $(ncolselect).html(data);
            $(ncolselects).html(data);
          },
          error: function(xhr, ajaxOptions, thrownError) {
            alert("Failed to get where column list, please try again");
          }
        });
      }



    } else if (colomnname == 'Group') {

      $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");
      $(colvals).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

      var id = $("#tablename").find(":selected").val();
      $.ajax({
        url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bgroup'), null, true) ?>",
        type: 'GET',
        dataType: "html",
        data: {
          id: id
        },
        success: function(data) {
          $(ncolselect).html(data);
          $(ncolselects).html(data);
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert("Failed to get where column list, please try again");
        }
      });

    } else if (colomnname == 'fDeleted') {

      $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

      $(ncolselect).html('<option value="1">Yes</option> <option value="2">No</option>');

    } else if (colomnname == 'fSegment') {

      $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

      $(ncolselect).html('<option value="1">Corporate</option> <option value="2">Commercial</option> <option value="3">SME</option> <option value="4">Financial Institution</option>');

    } else if (colomnname == 'fStatus') {

      $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

      $(ncolselect).html('<option value="15">On Risk</option> <option value="16">Off Risk</option>');

    } else if (colomnname == 'Status') {

      $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");
      $(colvals).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

      var id = $("#tablename").find(":selected").val();
      $.ajax({
        url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bstatus'), null, true) ?>",
        type: 'GET',
        dataType: "html",
        data: {
          id: id
        },
        success: function(data) {
          $(ncolselect).html(data);
          $(ncolselects).html(data);
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert("Failed to get where column list, please try again");
        }
      });
      // paytype
    } else {
      $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='160'  class='form-control' >");
      // $(colvals).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
    }


    var optsel = "whereopt-" + ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
      document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
      document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
      document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
      document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
      document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
      document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
      document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    } else if (dttype == 'date' || dttype == 'datetime') {
      document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
      document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
      document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
      document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
      document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-' + ctr;
    var data = $(colomn).val('EQUAL').change();

  }
</script>