<script type="javascript">
		window.opener.location.reload();
</script>

<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<?php if( isset($this->notification) ){ ?>
		<tbody>
			<tr>
				<td>
					<div align="center"><h2>
					<?php echo $this->language->_('Emailed Sent'); ?> : 
					<?PHP
						echo ($this->notification == 1) ? $this->language->_('Success') : $this->language->_('Failed');
					?></h2></div>
				</td>
			</tr>
			<tr>
				<td>
					<br /> <br />
				</td>
			</tr>
		</tbody>
		<?php }else{ ?>		
		<tbody>
			<tr><td><?PHP echo $this->forms ?></td></tr>
		</tbody>	
		<tr>
			<td>
				<br /> <br />
				<form name="email-form"  method="post">			
					<?php echo $this->formSubmit('email','Email',array('class'=>'inputbtn')); ?>
				</form>
			</td>
		</tr>
		<?php } ?>
</table>
