<?php
$ns = new Zend_Session_Namespace('language');
$sessionLanguage = $ns->langCode;
?>

<style>
    label {
        font-size: 1.2em;
    }

    .col-form-label {
        font-size: 1.2em;
    }

    .textGray {
        color: #8e8e8e;
    }

    .form-group {
        margin-bottom: 0em;
    }

    .iconCircle {
        background-color: lightgray;
        color: red;
        margin-top: 3px;
        min-width: 23px;
        height: 20px;
    }

    .hover-gray>.row:hover {
        background-color: #edeaea;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?= $this->language->_('Beranda') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="inhouse"><?= $this->language->_('Alur Penutupan') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="inhouse"><?= $this->language->_('Perbaikan') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="inhouse"><?= $this->language->_('Detail') ?></span>
                </li>

            </ul>
        </div>
    </div>
</div>

<!-- cash collateral -->

<input type="hidden" id="charges_pct" value="<?= $this->cash_collateral["CHARGES_PCT"]; ?>" disabled>
<input type="hidden" id="charges_adm" value="<?= $this->cash_collateral["CHARGES_ADM"]; ?>" disabled>
<input type="hidden" id="charges_stamp" value="<?= $this->cash_collateral["CHARGES_STAMP"]; ?>" disabled>

<!-- end cash collateral -->

<!-- linefacility -->

<input type="hidden" id="plafond_limit" value="<?= $this->linefacility["PLAFOND_LIMIT"]; ?>" disabled>
<input type="hidden" id="linefct_pct" value="<?= $this->linefacility["FEE_PROVISION"]; ?>" disabled>
<input type="hidden" id="linefct_adm" value="<?= $this->linefacility["FEE_ADMIN"]; ?>" disabled>
<input type="hidden" id="linefct_stamp" value="<?= $this->linefacility["FEE_STAMP"]; ?>" disabled>

<!-- end linefacility -->
<?php if ($this->error) { ?>

    <div class="alert alert-danger">
        <?php echo $this->language->_($this->error_msg); ?>
    </div>
    <br />

<?php } ?>
<div class="row justify-content-center">
    <div class="col-md-11">
        <form action="" method="post" enctype="multipart/form-data" id="repairForm">
            <input type="hidden" id="status_lf" value="<?= $this->statusLF; ?>">
            <input type="hidden" id="current_limit_ins">
            <input type="hidden" id="marginal_deposit">
            <input type="hidden" name="purpose_desc">
            <input type="hidden" id="cust_status_lf">
            <input type="hidden" id="cust_status">
            <input type="hidden" name="save_others_attachment" id="save_others_attachment">

            <!-- detail pengjuan penutupan bank garansi -->
            <?= $this->render('repairdetail/detailpengajuan.phtml'); ?>

            <br />
            <!-- detail principal -->
            <?= $this->render('repairdetail/principalbankgaransi.phtml'); ?>

            <!-- jenis bg -->
            <?= $this->render('repairdetail/jenisbg.phtml'); ?>

            <!-- nilai dan masa beraku bank garansi -->
            <?= $this->render('repairdetail/nilaibg.phtml'); ?>

            <!-- nilai dan masa beraku bank garansi -->
            <?= $this->render('repairdetail/obligeebg.phtml'); ?>

            <!-- kontra garansi -->
            <?= $this->render('repairdetail/kontragaransi.phtml'); ?>

            <!-- sertifikat kontra garansi -->
            <?= $this->render('repairdetail/sertifikatbg.phtml'); ?>

            <!-- lampiran dokumen penutupan -->
            <?= $this->render('repairdetail/lampirandokumen.phtml'); ?>

            <!-- rekening pembayaran klaim -->
            <?= $this->render('repairdetail/rekeningclaim.phtml'); ?>

            <!-- monitor waktu pemrosesan klaim -->
            <?= $this->render('repairdetail/timedifference.phtml'); ?>

            <!-- pernyataan pejabat bank -->
            <?= $this->render('repairdetail/pernyataanpejabat.phtml'); ?>
        </form>

    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('label').forEach(item => {
            item.classList.add('col-form-label');
        });

        document.querySelectorAll('.padding-header-cust').forEach(item => {
            item.style.backgroundColor = '#FF4023';
        });
    });
</script>