<style>
    .tableFile {
        width: 100%;
        font-size: 16px;
    }

    .tableFile th {
        background-color: #cccccc;
        font-style: italic;
        font-weight: normal;
        padding: 7px 0;
    }

    .tableFile td {
        background-color: #efefef;
        font-weight: normal;
        border-bottom: 2px solid #c2c2c2;
        padding: 7px 0;
    }

    .tableFile td:first-child {
        padding-left: 10px;
    }

    .tableFile th:first-child {
        padding-left: 10px;
    }

    .tableFile tr:last-child td {
        border-bottom: 0;
    }

    .tableFile th:last-child {
        text-align: center;
    }

    #marginalDepositFCTable th:last-child {
        text-align: left;
    }

    #fcTableAdd td:last-child {
        padding-right: 7px;
    }

    #fcTableAdd td:nth-child(5),
    #fcTableAdd th:nth-child(5) {
        text-align: right;
    }

    #fcTableAdd th:nth-child(5) {
        padding-left: 7px;
    }

    .select2-container {
        padding: 0 !important;
    }

    .select2-container .select2-choice.is-invalid {
        border: 1px solid red !important;
    }

    .sixteenth_px {
        font-size: 16px;
    }
</style>

<link href="/css/select2_353.min.css" rel="stylesheet" />
<script src="/js/select2_353.min.js"></script>

<div class="row mb-3">
    <div class="col-md-12" style="height: auto; position: relative;">
        <div class="padding-header-cust">
            <h5><?= $this->language->_('Marginal Deposit Principal') ?></h5>
        </div>
        <div style="padding-left:2%; padding-top:2px;">
            <div class="d-flex justify-content-between align-items-center">
                <label for="" class="text-body font-weight-bold"><?= $this->language->_('Marginal Deposit Eksisting'); ?> <span class="font-italic font-weight-normal">(Total : <span class="text-danger">IDR <span id='lbl_mdfceksis'>N/A</span></span>)</span></label>
                <button type="button" class="btn btn-link" id="inquiryMdFc"><span><i class="fa fa-sync"></i></span><img src="/images/logo/35.gif" id="loadinginqmdfc" style="width: 13px" class="hidden"></button>
            </div>

            <div id="marginalDepositFC">
                <table id="marginalDepositFCTable" class="tableFile">
                    <tbody>
                        <tr>
                            <td colspan="3" style="text-align: center;"><?= $this->language->_('Sedang mengambil data ...'); ?></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- tambah marginal deposit full cover -->
            <div id="tambahmdfullcover" class="inputFormat mt-4 position-relative pb-5">
                <div style="position: absolute; bottom: 15px; right: 14px" class="hidden"><a href="javascript:void(0)" id="btn_tambah_md_fc">+ tambah</a></div>
                <label for="" class="text-body font-weight-bold"><?= $this->language->_('Pelepasan Dana Escrow ke Rekening Berikut'); ?> <span class="font-italic font-weight-normal">(<?= $this->language->_('total jumlah'); ?> : <span class="text-danger">IDR <span id='lbl_mdfctambah'>N/A</span></span>)</span></label>
                <div id="marginalDepositFC">
                    <table class="tableFile" id="fcTableAdd">
                        <thead>
                            <th><?= $this->language->_('Rek Sendiri'); ?></th>
                            <th style="padding-left: 15px"><?= $this->language->_('Nomor Rekening'); ?></th>
                            <th><?= $this->language->_('Nama Rekening'); ?></th>
                            <th><?= $this->language->_('Tipe'); ?></th>
                            <th><?= $this->language->_('Valuta'); ?></th>
                            <th style="text-align: left; padding-left: 15px" colspan="3"><?= $this->language->_('Nominal'); ?></th>
                        </thead>
                        <tbody id="bodytambahmdfc">
                            <tr id="noRowTambahMdFc">
                                <td colspan="6" style="text-align: center;"><?= $this->language->_('Sedang mempersiapkan data ...'); ?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<template id="templateTambahMdFullCover">
    <tr class="trTambahMd">
        <td valign="top" style="padding-left: 0; width: 97px;">
            <div class="form-group col-12">
                <select name="own_account[]" class="form-control" style="font-size: 16px">
                    <option value="1">Y</option>
                    <option value="0">N</option>
                </select>
            </div>
        </td>
        <td valign="top" style="width: 215px;">
            <div class="form-group col-12">
                <div class="not-manual">
                    <select name="own_account_number[]" id="own_account_number_select" class="form-control not-manual" style="font-size: 16px;" disabled>
                        <option value="">Menunggu ...</option>
                    </select>
                </div>
                <div class="hidden manual manual_account_number_class">
                    <input name="manual_account_number[]" class="form-control" style="font-size: 16px" maxlength="16" onkeypress="return forceNumberOCBC(event)">
                    <input name="validAcctManual" type="hidden" value="0">
                </div>
            </div>
        </td>
        <td valign="top">
            <label for="" class="col-form-label not-manual sixteenth_px own_account_name_label not-manual">-</label>
            <div class="hidden manual manual_account_name_class">
                <div class="form-group col-12 pl-0">
                    <input name="manual_account_name[]" class="form-control" style="font-size: 16px">
                </div>
            </div>
        </td>
        <td valign="top">
            <label for="" class="col-form-label sixteenth_px acct_type_lbl">-</label>
            <input type="hidden" name="acct_type[]">
        </td>
        <td valign="top">
            <label for="" class="col-form-label sixteenth_px currency_acct_lbl">-</label>
            <input type="hidden" name="currency_acct[]">
        </td>
        <td valign="top" style="width: 200px;">
            <div class="form-group col-12">
                <input name="account_amount[]" class="form-control" style="font-size: 16px" size="5" onkeypress="return forceCurrencyOCBC(event)" disabled>
            </div>
        </td>
        <td valign="top">
            <button type="button" class="btn btn-link hidden deposito"><span class=""><i class="fa fa-sync"></i></span><img src="/images/logo/35.gif" id="loadinginqmdfc" style="width: 13px" class="hidden"></button>
            <button type="button" class="btn btn-link hidden manual-inq"><span class=""><i class="fa fa-sync"></i></span><img src="/images/logo/35.gif" id="loadinginqmdfc" style="width: 13px" class="hidden"></button>
        </td>
        <td valign="top">
            <button type="button" class="btn btn-danger btn-sm remove-row-md">X</button>
        </td>
    </tr>
</template>

<script type="text/javascript">
    // inquiry md fc
    async function inquiryMdFullCover() {
        document.querySelector('#inquiryMdFc').querySelector('span').classList.add('hidden');
        document.querySelector('#inquiryMdFc').querySelector('img').classList.remove('hidden');

        await $.ajax({
            url: "<?= $this->url(array('module' => 'bgclosingworkflow', 'controller' => 'repairdetail', 'action' => 'mdfc'), null, true) ?>",
            type: 'GET',
            dataType: "html",
            data: {
                bgregnumber: '<?= $this->bgdata['BG_REG_NUMBER']; ?>'
            },
            success: function(data) {
                $('#marginalDepositFC').html(data);
            },
            complete: () => {
                document.querySelector('#inquiryMdFc').querySelector('span').classList.remove('hidden');
                document.querySelector('#inquiryMdFc').querySelector('img').classList.add('hidden');
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log("Failed to get data");
            }
        });

        document.querySelector('#lbl_mdfceksis').innerText = new Intl.NumberFormat("en-EN", {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
        }).format(document.querySelector('#mdfceksis').value);
    }

    function tambahRowMd() {
        const getTemplate = document.querySelector('#templateTambahMdFullCover');
        const cloneNode = getTemplate.content.cloneNode(true);
        const getAcctList = document.querySelector('#forMdAcct').cloneNode(true);
        const cloneAcctList = getAcctList.children;

        const generateId = `md_${Date.now()}`;

        cloneNode.querySelector('#own_account_number_select').setAttribute('onchange', 'checkExistInq(this)');
        cloneNode.querySelector('#own_account_number_select').id = `own_account_number_select_${generateId}`;
        cloneNode.querySelector('[name="account_amount[]"]').id = `account_amount_${generateId}`;
        cloneNode.querySelector('[name="own_account[]"]').id = `own_account_${generateId}`;
        cloneNode.querySelector('tr').id = `tr_${generateId}`;
        cloneNode.querySelector('.remove-row-md').setAttribute('onclick', `removeRowMd('tr_${generateId}')`);
        cloneNode.querySelector('.deposito').setAttribute('onclick', `document.querySelector('#own_account_number_select_${generateId}').dispatchEvent(new Event('change')); this.querySelector('span').classList.add('hidden');this.querySelector('img').classList.remove('hidden');`);
        cloneNode.querySelector('.manual-inq').setAttribute('onclick', `inqManual(this);`);

        document.querySelector('#bodytambahmdfc').append(cloneNode);

        $(`#own_account_number_select_${generateId}`).removeAttr('disabled')
        $(`#own_account_number_select_${generateId}`).html(cloneAcctList);

        $(`#own_account_number_select_${generateId}`).select2({
            placeholder: '<?= $this->language->_('Pilih Rekening'); ?>',
            allowClear: true,
        });

        document.querySelector(`#account_amount_${generateId}`).addEventListener('keyup', formatCurrencyCount);
        document.querySelector(`#account_amount_${generateId}`).addEventListener('focus', formatCurrencyCount);
        document.querySelector(`#account_amount_${generateId}`).addEventListener('blur', formatCurrencyCount);

        document.querySelector(`#own_account_${generateId}`).addEventListener('change', checkOwnAccount);

        $('.select2-search-choice-close').remove();

        if (document.querySelectorAll('.trTambahMd')?.length > 0) {
            document.querySelector('#noRowTambahMdFc').classList.add('hidden');
        }
    }

    function formatCurrencyCount(event) {
        const elem = event.target;
        const cleanAmount = elem.value.replace(/,/g, '');

        const formatCurrency = new Intl.NumberFormat("en-EN", {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
        });

        if (event.type.toLowerCase() == 'keyup') {
            totalAllAmount();
        }

        if (event.type.toLowerCase() == 'focus') {
            elem.value = cleanAmount;
        }

        if (event.type.toLowerCase() == 'blur') {
            elem.value = formatCurrency.format(cleanAmount);
        }
    }

    function checkOwnAccount(event) {
        const elem = event.target;
        const value = elem.value;
        let getParentTr = elem;

        resetAllInfo(elem);

        while (true) {
            getParentTr = getParentTr.parentElement;
            if (getParentTr.tagName.toLowerCase() == 'tr') break;
        }

        if (value == 1) {
            document.querySelector('.manual-inq').classList.add('hidden');
        } else {
            document.querySelector('.deposito').classList.add('hidden');
            document.querySelector('.manual-inq').classList.remove('hidden');
        }

        const getIdSelect = getParentTr.querySelectorAll('td')[1].querySelector('select').id
        $(`#${getIdSelect}`).select2('val', '');

        const getAllNotManual = getParentTr.querySelectorAll(`.not-manual`);
        const getAllManual = getParentTr.querySelectorAll(`.manual`);

        getAllNotManual.forEach(item => {
            if (value == 1) item.classList.remove('hidden');
            else item.classList.add('hidden')
        });

        getAllManual.forEach(item => {
            if (value == 1) item.classList.add('hidden');
            else item.classList.remove('hidden')
        });

        totalAllAmount();

    }

    function checkExistInq(elem) {
        const acctClean = elem.value.padStart(16, '0');
        const getAllOwnAcctNum = document.querySelectorAll('[name="own_account_number[]"]');
        const getId = elem.id;
        let exist = false;
        let count = 0;
        let getParentTr = elem;

        // disabled for a while
        $(`#${getId}`).prop("disabled", true);

        // reset all info acct
        resetAllInfo(elem)

        while (true) {
            getParentTr = getParentTr.parentElement;
            if (getParentTr.tagName.toLowerCase() == 'tr') break;
        }

        // disabled own account
        getParentTr.querySelector('[name="own_account[]"]').setAttribute('disabled', 'true');

        // cek apakah rekening sudah dipilih
        getAllOwnAcctNum.forEach(item => {
            if (item.value.padStart(16, '0') == acctClean) count++
        })

        if (count > 1) {
            alert('<?= $this->language->_('Rekening sudah dipilih, silahkan pilih rekening lain'); ?>')
            $(`#${getId}`).select2('val', '');
            resetRowMd(getParentTr);

            // reset error
            elem.nextElementSibling?.remove();

            // count all amount
            totalAllAmount();

            // enabled it again
            $(`#${getId}`).prop("disabled", false);
            getParentTr.querySelector('[name="own_account[]"]').removeAttribute('disabled');

            if (!getParentTr.querySelector('.deposito').querySelector('img').classList.contains('hidden')) {
                getParentTr.querySelector('.deposito').querySelector('img').classList.add('hidden');
                getParentTr.querySelector('.deposito').querySelector('span').classList.remove('hidden');
            }
            return;
        }

        checkAllInfoAcct(elem);
    }

    function resetAllInfo(elem) {

        let getParentTr = elem;

        while (true) {
            getParentTr = getParentTr.parentElement;
            if (getParentTr.tagName.toLowerCase() == 'tr') break;
        }

        // set nama rekening
        getParentTr.querySelector('.own_account_name_label').innerText = '-';
        getParentTr.querySelector('[name="manual_account_name[]"]').value = '';

        // hapus error
        getParentTr.querySelector('[name="own_account_number[]"]').nextElementSibling?.remove();

        // set tipe rekening
        getParentTr.querySelector('.acct_type_lbl').innerText = '-';
        getParentTr.querySelector('[name="acct_type[]"]').value = '';
        getParentTr.querySelector('[name="manual_account_number[]"]').value = '';

        // set valuta rekening
        getParentTr.querySelector('.currency_acct_lbl').innerText = '-';
        getParentTr.querySelector('[name="currency_acct[]"]').value = '';

        getParentTr.querySelector('[name="account_amount[]"]').setAttribute('disabled', 'true');
        getParentTr.querySelector('[name="account_amount[]"]').value = '';

        // deposito button
        getParentTr.querySelector('.deposito').querySelector('span').classList.add('hidden');
        getParentTr.querySelector('.deposito').querySelector('img').classList.add('hidden');
        getParentTr.querySelector('.deposito').classList.add('hidden');

    }

    function checkAllInfoAcct(elem) {
        const acctClean = elem.value.padStart(16, '0');
        const getId = elem.id;

        // reset error
        elem.nextElementSibling?.remove();

        $.ajax({
            url: "<?= $this->url(array('module' => 'eform', 'controller' => 'amdetail', 'action' => 'checkcomplete'), null, true) ?>",
            type: 'GET',
            dataType: "json",
            data: {
                acct: acctClean
            },
            success: function(data) {

                // jika ada data yang salah
                if (data.error) {
                    const error = document.createElement('small');
                    error.innerText = data.error_message;
                    error.classList.add('text-danger', 'font-weight-bold');
                    elem.after(error);

                    setAllInfo(elem, data);

                    return false;
                }

                if (data.result.toLowerCase() == 'fail inquiry') {
                    const error = document.createElement('small');
                    error.innerText = '<?= $this->language->_('gagal inquiry'); ?>';
                    error.classList.add('text-danger', 'font-weight-bold');

                    getParentTr.querySelector('[name="manual_account_number[]"]').after(error);

                    return false;
                }

                // jika tidak ada data yang salah
                setAllInfo(elem, data);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                const error = document.createElement('small');
                error.innerText = data.error_message;
                error.classList.add('text-danger', 'font-weight-bold');
                elem.after(error);

                setAllInfo(elem, data);
            },
            complete: () => {
                $(`#${getId}`).prop("disabled", false);
                totalAllAmount();
            }
        });

    }

    function setAllInfo(elem, data, manual = false) {
        let getParentTr = elem;

        while (true) {
            getParentTr = getParentTr.parentElement;
            if (getParentTr.tagName.toLowerCase() == 'tr') break;
        }

        // set nama rekening
        if (manual) {
            getParentTr.querySelector('[name="manual_account_name[]"]').value = data.account_name ? data.account_name : 'N/A';
        } else {
            getParentTr.querySelector('.own_account_name_label').innerText = data.account_name ? data.account_name : 'N/A';
        }

        // set tipe rekening
        getParentTr.querySelector('.acct_type_lbl').innerText = data.type_desc ? data.type_desc : 'N/A';
        getParentTr.querySelector('[name="acct_type[]"]').value = data.type_desc ? data.type_desc : 'N/A';

        // set valuta rekening
        getParentTr.querySelector('.currency_acct_lbl').innerText = data.currency ? data.currency : 'N/A';
        getParentTr.querySelector('[name="currency_acct[]"]').value = data.currency ? data.currency : 'N/A';

        // jika error disabled dan rekening giro atau tabungan
        if ((data.type?.toLowerCase() == 'd' || data.type?.toLowerCase() == 's') && data.error) {
            getParentTr.querySelector('[name="account_amount[]"]').setAttribute('disabled', 'true');
        }
        if ((data.type?.toLowerCase() == 'd' || data.type?.toLowerCase() == 's') && !data.error) {
            getParentTr.querySelector('[name="account_amount[]"]').removeAttribute('disabled');
        }

        // jika error deposito
        if (data.type?.toLowerCase() == 't') {
            const amount = new Intl.NumberFormat("en-EN", {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2
            }).format(data.amount);
            getParentTr.querySelector('[name="account_amount[]"]').value = amount;

            if (!manual) {
                getParentTr.querySelector('.deposito').classList.remove('hidden');
                getParentTr.querySelector('.deposito').querySelector('span').classList.remove('hidden');
                getParentTr.querySelector('.deposito').querySelector('img').classList.add('hidden');
            }
        }

        // enable it again
        getParentTr.querySelector('[name="own_account[]"]').removeAttribute('disabled');
    }

    function totalAllAmount() {
        const formatCurrency = new Intl.NumberFormat("en-EN", {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
        });

        const getAllAmount = document.querySelectorAll('[name="account_amount[]"]');
        let totalAmount = 0;
        getAllAmount.forEach(item => {
            const cleanAmountItem = item.value.replace(/,/g, '');
            const result = cleanAmountItem ? cleanAmountItem : 0;

            totalAmount += parseFloat(result);
        });

        document.querySelector('#lbl_mdfctambah').innerText = formatCurrency.format(totalAmount);
    }

    document.addEventListener('DOMContentLoaded', () => {
        $.ajax({
            url: "<?= $this->url(array('module' => 'eform', 'controller' => 'amdetail', 'action' => 'mdacct'), null, true) ?>",
            type: 'GET',
            dataType: "html",
            success: function(data) {
                const createElem = document.createElement('div');
                createElem.classList.add('hidden');
                createElem.id = 'forMdAcct';
                createElem.innerHTML = data;
                document.body.append(createElem);

                document.querySelector('#noRowTambahMdFc').querySelector('td').innerText = '<?= $this->language->_('Tidak ada penambahan Marginal Deposit'); ?>';
            },
            complete: () => {
                document.querySelector('#btn_tambah_md_fc').parentElement.classList.remove('hidden')
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log("Failed to get data");
            }
        });

        // tambah md button
        document.querySelector('#btn_tambah_md_fc')?.addEventListener('click', tambahRowMd);

        // click inquiry md fullcover
        document.querySelector('#inquiryMdFc')?.addEventListener('click', inquiryMdFullCover);
        document.querySelector('#inquiryMdFc')?.click();
    });
</script>