	<script language="javascript" type="text/javascript">
	function doTransfer(BANKNAME,CITY,SWIFT_CODE,CLR_CODE)
	{
		window.opener.document.Form.BANK_NAME.value = BANKNAME;
		window.opener.document.Form.BANK_CITY.value = CITY;
		window.opener.document.Form.SWIFT_CODE.value = SWIFT_CODE;
		window.opener.document.Form.CLR_CODE.value = CLR_CODE;
		
	  opener.focus();
	  self.close();
	}
	</script>

<b><?php echo $this->language->_('Cash Management'); ?>  &gt; <?php echo $this->language->_('Tools'); ?> &gt; <?php echo $this->language->_('Domestic Bank Table'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Domestic Bank List'); ?></div>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0" class="tableform" width="320px">
    <tr><th colspan="3" class="tdform-sub"><strong>Filter</strong></th></tr>
  
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('bank_name',$this->language->_('Bank Name')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('bank_name',$this->bank_name)?></td>
    </tr>
    
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('city',$this->language->_('City')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('city',$this->city)?></td>
    </tr>
    <tr><td colspan="3" align="left">
	  <?php echo $this->formSubmit('filter','Set Filter',array('class'=>'inputbtn')); ?>
	  <?php echo $this->formSubmit('filter','Clear Filter',array('class'=>'inputbtn')); ?>
    </td></tr>
  </table>
</form>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>								
			<tr>
			<td class="contentarea" id="contentarea">
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
						<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
    <tr>
    	<th width="3%" class="tablehead" valign="top">No</th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>		
		
    </tr>

    <?php
	$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
	
    if(count($this->paginator) > 0)
    {
          $i=0;
          
	      foreach($this->paginator as $row) 
	      {
	  
		    $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		
		    echo '<tr>
					<td class="'.$td_css.'">'.$counter.'</td>
					<td class="'.$td_css.'"><a href="javascript:doTransfer(\''.$row['BANK_NAME'].'\',\''.$row['CITY'].'\',\''.$row['SWIFT_CODE'].'\',\''.$row['CLR_CODE'].'\')">'.$row['BANK_NAME'].'</a></td>
					<td class="'.$td_css.'">'.$row['CITY'].'</td>
					<td class="'.$td_css.'">'.$row['CLR_CODE'].'</td>
				 </tr>';
						
			$i++;
            $counter++;
  	  }
  }
  else 
  {
	   echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> -- No Data -- </td></tr>';
  }
?>
</table>
<br />

<form name="Form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true)?>" method="post">
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
						
			</td>
			</tr>
		</tbody>
	</table>
