<?php
$optionlist = $this->optionlist;
?>

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Biller'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Biller Catalog'); ?>
						<i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
					<li>
	                    <?php echo $this->language->_('Detail'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<div class="row  content-box">
	<div class="portlet-body form col-md-12">
		<h5><?=$this->language->_('Biller Detail Catalog')?></h5>

<!--<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0">
		<tr><th colspan="9" class="tdform-sub"><strong>Filter</strong></th></tr>

		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('billerName','Product Name'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"colspan="4"><?php  echo $this->formText('billerName',$this->billerName,array('size'=>'30')); ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('billerName','Alias Name'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"colspan="4"><?php  echo $this->formText('billerName',$this->billerName,array('size'=>'30')); ?></td>
		</tr>

		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('billerStatus','Product Status'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent"colspan="4"><?php	echo $this->formSelect('billerStatus',$this->billerStatus,null,$this->options);?></td>
		</tr>

		 <tr>
      		<td class="tbl-evencontent"><?php echo $this->formLabel('billerCode','Product Name'); ?></td>
 			<td class="tbl-evencontent">:</td>
	  		<td class="tbl-evencontent" colspan="4"><select name="billerCode">
							<option value="">--- Any Value ---</option>
							<?php foreach($this->var as $list){?>
							<option value="<?php echo $list['PROVIDER_CODE'];?>" <?=($list['PROVIDER_CODE']==$this->billerCode) ? 'selected' : ''?>><?php echo $list['PROVIDER_CODE'];?></option><?php }?>
						</select>
	  		</td>
		</tr>

		<tr><td align="left" colspan="6">
	  <?php echo $this->formSubmit('filter','Set Filter',array('class'=>'btngreen hov')); ?>
	  <?php echo $this->formSubmit('filter','Clear Filter',array('class'=>'btnwhite hov')); ?>
    </td></tr>
	</table>
</form>
-->


<div>
<!--
<span align="right" style="float:right;display: inline-block;">
	<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername),null,true)?>" method="post">
		<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
		<?php echo $this->formSubmit('pdf','PDF is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
		<?php }else{ ?>
		<?php echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn')); ?>&nbsp;
		<?php } ?>
		<?php if($this->paginator->getTotalItemCount() > $this->applicationSetting['max_row_download_csv']) { ?>
		<?php echo $this->formSubmit('csv','CSV is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
		<?php }else{ ?>
		<?php echo $this->formSubmit('csv','CSV',array('class'=>'inputbtn')); ?>&nbsp;
		<?php } ?>
		<input class="inputbtn" value="PRINT" onclick="window.print();" type="button">
	</form>
</span>
-->
</div>

<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
<div class="table-responsive">
<table class="table table-sm table-striped">
    <tr>
      <th width="3%" valign="top" class="tablehead">No</th>
      <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                          'sortBy' => $this->sortBy,
                                                          'sortDir' => $this->sortDir,
                                                          'query_string_params' => $this->query_string_params
      													  )
    						   )?>
    </tr>
    <?php
    $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
      if(count($this->paginator))
      {
        $i = 0;
        foreach($this->paginator as $row)
        {
		  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

          $catalog_status = $row['CATALOG_STATUS'];

          if($catalog_status == 'A'){
          	$status = 'Active';
          }
          else{
          	$status = 'Inactive';
          }

		    echo '<tr>
					<td class="'.$td_css.'">'.$counter.'</td>
					<td class="'.$td_css.'">'.$row['SGO_PRODUCT_CODE'].'</td>
					<td class="'.$td_css.'">'.$row['PRODUCT_NAME'].' '.Application_Helper_General::displayMoney($row["NOMINAL"]).'</td>
					<td class="'.$td_css.'">'.$row['PRODUCT_ALIAS_NAME'].' '.Application_Helper_General::displayMoney($row["NOMINAL"]).'</td>
					<td class="'.$td_css.'">'.$row['PROVIDER_SUGGESTED'].'</td>
					<td class="'.$td_css.'">'.$row['PROVIDER_SUGGESTEDBY'].'</td>
					<td class="'.$td_css.'">'.$row['PROVIDER_UPDATED'].'</td>
					<td class="'.$td_css.'">'.$row['PROVIDER_UPDATEDBY'].'</td>

					<td class="'.$td_css.'">'.$this->language->_($status).'</td>


		    		';?>
				<?php echo '</tr>';
		$i++;
        $counter++;
  	  }
    }else{
	  echo '<tr><td colspan="11" class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
        }?>
</table>
</div>

<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />

<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'setbillercatalog','controller'=>'index','action'=>'index'),null,true);?>'" class="btnwhite hov" value="<?php echo $this->language->_('Back');?>">
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'setbillercatalog','controller'=>'set','action'=>'index','provid'=>$this->provid),null,true);?>'" class="btngreen hov" value="<?php echo $this->language->_('Set');?>">



	</div>
</div>
