<?php
require_once 'General/SystemBalance.php';
?>

<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
	<div class="table-responsive">

					<table class="table table-sm table-striped" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<td>
								<?php
								if (!$this->isGroup) //jika tidak ada grup
								{
									echo '<br/><table class="table table-sm table-striped" id="0" border="0" cellpadding="0" cellspacing="0" width="800px">
											<tr>
												<th id="tbl-headercontent"><strong>'.$this->language->_('Account Number').'</strong></th>
												<th id="tbl-headercontent"><strong>'.$this->language->_('Account Alias').'</strong></th>
												<th id="tbl-headercontent"><strong>'.$this->language->_('Account Name').'</strong></th>
												<th id="tbl-headercontent"><strong>'.$this->language->_('CCY').'</strong></th>
												<th id="tbl-headercontent"><strong>'.$this->language->_('Account Status').'</strong></th>';
									echo 	   '<th id="tbl-headercontent" align="center"><strong>'.$this->language->_('Effective Balance').'</strong></th>';
									echo	'</tr>';

									$arr_value_tot_group =  array();

									if (count ( $this->resultdata ) > 0)
									{
										$i = 0;
										$totalBalance = 0;
										foreach ( $this->resultdata as $row ) {
											$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

											$systemBalance = new SystemBalance($this->custId,$row ['ACCT_NO'],Application_Helper_General::getCurrNum($row ['CCY_ID']));
											$systemBalance->checkBalance();

											if(isset($arr_value_tot_group[$row ['CCY_ID']])) {
														$arr_value_tot_group[$row ['CCY_ID']] += $systemBalance->getEffectiveBalance();
													}
													else {
														$arr_value_tot_group[$row ['CCY_ID']] = $systemBalance->getEffectiveBalance();
													}
											$arr_display_tot_group[$row ['CCY_ID']] = $row ['CCY_ID']." ". Application_Helper_General::displayMoney($arr_value_tot_group[$row ['CCY_ID']]);

											echo '	<tr>
														<td class="' . $td_css . '">' . $row ['ACCT_NO'] . '</td>
														<td class="' . $td_css . '">' . $row ['ACCT_ALIAS_NAME'] . '</td>
														<td class="' . $td_css . '">' . $systemBalance->getCoreAccountName() . '</td>
														<td class="' . $td_css . '">' . $row ['CCY_ID'] . '</td>
														<td class="' . $td_css . '">'.$systemBalance->getCoreAccountStatusDesc().'</td>';
											echo '<td class="' . $td_css . '" align="right">'.Application_Helper_General::displayMoney($systemBalance->getEffectiveBalance()).'</td>';
											echo	'</tr>';

											$i++;
										}
									}
									else
									{
										echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
									}

									$display_tot_group = implode("; ",$arr_display_tot_group);
									echo '</table>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>'.$this->language->_('TOTAL BALANCE').' : '.$display_tot_group.'</b>';

								}
								else //jika ada grup
								{
									if (count ( $this->resultdata ) > 0)
									{
										$i = 0;
										$group = null;
										$arr_value_tot_group = array();


										$resultdataGroup =  array();
		;								foreach ($this->resultdata as $rowGroup){
											$resultdataGroup[$rowGroup['GROUP_NAME']][] = $rowGroup;
										}

										foreach ( $resultdataGroup as $groupname=>$rowPerGroup )
										{
											$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
											$groupname = ($groupname) ? $groupname : 'OTHERS';

											echo '<br/><br /><b>' . $groupname . '</b><br /><table class="table- table-sm table-striped" id="0" border="0" cellpadding="0" cellspacing="0" width="800px">
														<tr>
															<th id="tbl-headercontent"><strong>'.$this->language->_('Account Number').'</strong></th>
															<th id="tbl-headercontent"><strong>'.$this->language->_('Account Alias').'</strong></th>
															<th id="tbl-headercontent"><strong>'.$this->language->_('Account Name').'</strong></th>
															<th id="tbl-headercontent"><strong>'.$this->language->_('CCY').'</strong></th>
															<th id="tbl-headercontent"><strong>'.$this->language->_('Account Status').'</strong></th>';
											echo 	   '<th id="tbl-headercontent" align="center"><strong>'.$this->language->_('Effective Balance').'</strong></th>';
											echo	'</tr>';



												if(count($rowPerGroup) > 0){

													foreach ($rowPerGroup as $row){

													$systemBalance = new SystemBalance($this->custId,$row ['ACCT_NO'],Application_Helper_General::getCurrNum($row ['CCY_ID']));
													$systemBalance->checkBalance();

														if(isset($arr_value_tot_group[$row ['CCY_ID']])) {
															$arr_value_tot_group[$row ['CCY_ID']] += $systemBalance->getEffectiveBalance();
														}else{
															$arr_value_tot_group[$row ['CCY_ID']] = $systemBalance->getEffectiveBalance();
														}
														$arr_display_tot_group[$row ['CCY_ID']] = $row ['CCY_ID']." ". Application_Helper_General::displayMoney($arr_value_tot_group[$row ['CCY_ID']]);
														echo '	<tr>
															<td class="' . $td_css . '">' . $row ['ACCT_NO'] . '</td>
															<td class="' . $td_css . '">' . $row ['ACCT_ALIAS_NAME'] . '</td>
															<td class="' . $td_css . '">' . $row ['ACCT_NAME'] . '</td>
															<td class="' . $td_css . '">' . $row ['CCY_ID'] . '</td>
															<td class="' . $td_css . '">'.$systemBalance->getCoreAccountStatusDesc().'</td>';

														echo '<td class="' . $td_css . '" align="right">'.Application_Helper_General::displayMoney($systemBalance->getEffectiveBalance()).'</td>';
														echo	'</tr>';
													}
												}else{
													echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
												}

												$display_tot_group = implode("; ",$arr_display_tot_group);
											echo '</table>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>'.$this->language->_('TOTAL BALANCE').' : '.$display_tot_group.'</b>';
											$i++;
										}



									}
									else
									{
										echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
									}

								}
					?>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>

			</tbody>
		</table>

		<div align="left"> <input class="btnwhite hov" type="button" onclick="JavaScript:window.close();opener.focus();" value="<?php echo $this->language->_('close')?>"> </div>
	</div>

</form>
