<script type="text/javascript">
$(document).ready(function(){
  $('#fixTable').fixTableHeader();
});
</script>

<?php $banktable = $this->language->_('Tools')?>
<?php $remittance = $this->language->_('Branch Bank')?>

<?php $bankcode = $this->language->_('Bank Code')?>
<?php $bankname = $this->language->_('Branch Bank')?>
<?php $bankadd = $this->language->_('Branch Address')?>
<?php $bankcity = $this->language->_('City Name')?>
<?php $bankregion = $this->language->_('Region')?>

<?php $setfilter = $this->language->_('Set Filter')?>
<?php $clearfilter = $this->language->_('Clear Filter')?>
<?php $print = $this->language->_('Print')?>
<?php $add = $this->language->_('Add')?>
<?php $importfromfile = $this->language->_('Import from File')?>


   <div class="container">
      <div style="text-align:center; padding: 25px 0px;" class="center">
          <h5 class=""><?=$this->language->_('Nearby Location')?></h5>
      </div>
  </div>

  <?php
    $buttonatm = $this->url(array('module'=>$this->modulename,'controller'=>'nearbyatm','action'=>'index'),null,true);
    $buttonbranch = $this->url(array('module'=>$this->modulename,'controller'=>'nearbybranch','action'=>'index'),null,true);
?>

  <div style="padding: 20px 0px;" class="container">
      <div   class="row">
          <div style="text-align:center" class="col-sm-6">
            <button style="width: 50%;" type="button" class="btnwhite hov" onclick="location.href='<?php echo $buttonatm; ?>'"><?php echo $this->language->_('ATM')?></button>
          </div>
          <div style="text-align:center" class="col-sm-6">
            <button style="width: 50%;" type="button" class="btngreen hov" onclick="location.href='<?php echo $buttonbranch; ?>'"><?php echo $this->language->_('Branch')?></button>
          </div>

      </div>
  </div>

  <!-- enter submit button -->

    <!-- search form -->
    <div class="container">
        <div class="col-md-12">
         <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
                  <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                          <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                      </div>
                          <?php echo $this->formText('branch_name',$this->branch_name,array('class'=>'form-control navbar-search-box' , 'placeholder'=>'Masukan nama cabang, kota atau alamat' , 'aria-describedby'=>'search' , 'size'=>'45' , 'id'=>'searchbranch'))?>
                      </div>
                  </div>
            <br/>
            <table cellpadding="3" cellspacing="0" border="0" class="tableform" >
              <tr><td colspan="3" align="left">
              <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('type'=>'button' , 'style' => 'display:none' , 'class'=>'btn btn-warning', 'id'=>'submit' )); ?>
              <?php// echo $this->formSubmit('filter_clear',$this->language->_('Clear Filter'),array('class'=>'btn btn-warning')); ?>
              </td></tr>
            </table>
          </form>
    </div>
    <br>

    <table align="left" cellpadding="5">
      <tr style="height:30px">
        <td colspan="12" align="CENTER">
          <form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">

          </form>
        </td>
      </tr>
    </table>

    <!-- tabel atm -->
    <div  class="container">
                <?php if($this->success){ ?>
                <div class="successmsg"><?=$this->report_msg?></div><br />
                <?php }else if($this->error){ ?>
                <div class="errmsg"><?=$this->report_msg?></div><br />
                <?php } ?>
            <div align="right">
            <form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">

              <?php echo $this->formSubmit('csv','CSV',array('class'=>'fa hov')); ?>
              <?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {
              //  echo $this->formSubmit('pr',$this->language->_('print'),array('class'=>'inputbtn','disabled'=>'disabled'));
              }

              ?>
              </form>
            </div>
      <br />



        <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
          <table style="background-color:white" class="table table-sm table-striped">
          <thead>
            <tr class="headercolor">
              <th class="tablehead" width="3%" valign="top">No</th>
              <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                                    'sortBy' => $this->sortBy,
                                                                    'sortDir' => $this->sortDir,
                                                                    'query_string_params' => $this->query_string_params
                                                                    )
                            )?>

            </tr>
            </thead>
            <tbody>
            <?php
          $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

            if(count($this->paginator) > 0)
            {
                  $i=0;

                foreach($this->paginator as $row)
                {

                $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';






                echo '<tr>
                  <td class="'.$td_css.'">'.$counter.'</td>';

                  echo '<td class="'.$td_css.'">'.$row['BRANCH_NAME'].'</td>';
                  echo '<td class="'.$td_css.'">'.$row['BANK_ADDRESS'].' <a href="https://www.google.com/maps/search/'.$row['BANK_ADDRESS'].'" target="blank"><i class="fas fa-map-marked-alt"></i> Lihat Lokasi </a></td>';
                  echo '<td class="'.$td_css.'">'.$row['CITY_NAME'].'</td>';
                  echo '<td class="'.$td_css.'">'.$row['REGION_NAME'].'</td>';
                  echo '<td class="'.$td_css.'">'.$row['CONTACT'].'</td>';
        //      echo '<td class="'.$td_css.'">'.$edit . ' | ' . $delete.'</td>';

                  '</tr>';


              $i++;
                    $counter++;
                  }
          }
          else
          {
             echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> - '.$this->language->_('No Data').' - </td></tr>';
          }
        ?>
        </tbody>
        </table>
        </div>
      <br />

    <div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
    <br />
    </div>
