<script src="/js/jquery.mask.min.js"></script>
<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <label class="textBlack"><?= $this->language->_('Suggestion Detail'); ?></label>
          <i class="fa fa-angle-right pl-1 pr-1" style="color: black !important;"></i>
        </li>
        <li>
          <label class="textBlack"><?= $this->language->_('Preliminary Document'); ?></label>
        </li>
      </ul>
    </div>
  </div>
</div>

<h5><?= $this->language->_('Change Information'); ?></h5>

<?= $this->action('message', 'tools', 'changemanagement', array('changes_id' => $this->changes_id)); ?>

<br>
<div class="row">
  <div class="col">
    <h5 class="textBlack"><?= $this->language->_('Suggestion Detail Preliminary Document'); ?></h5>
  </div>
  <?php if ($this->changes_type == 'E') { ?>
    <div class="col text-right">
      <button id="btnDiffOnly" type="button" class="btngreen hov"><?= $this->language->_('Show Difference Only'); ?></button>
    </div>
  <?php } ?>
</div>
<div class="row content-box">
  <div class="portlet-body form col-md-12">
    <table width="100%" cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped table-sugg">
      <?php if ($this->changes_type != 'E') { ?>
        <tr>
          <td colspan="5" class="tbl-evencontent textBlack"><b><?= $this->language->_('New Preliminary Document Detail'); ?></b></td>
        </tr>
      <?php } ?>
      <?php if ($this->changes_type == 'E') { ?>
        <tr class="diffRow">
          <td width="33%" class="tbl-evencontent textBlack"><b><?= $this->language->_('Field Name'); ?></b></td>
          <td width="1%" class="tbl-evencontent">&nbsp;</td>
          <td width="33%" class="tbl-evencontent textBlack"><b><?= $this->language->_('Current Value'); ?></b></td>
          <td width="33%" class="tbl-evencontent textBlack" colspan="2"><b><?= $this->language->_('Suggested Value'); ?></b></td>
        </tr>
        <tr class="bg-light">
          <td colspan="4" class="text-dark"><?= $this->language->_('Business Entity'); ?></td>
        </tr>
      <?php } ?>
      <tbody>
        <tr>
          <td class="tbl-evencontent textBlack"><?= $this->formLabel('relationship', $this->language->_('Customer relationship with Bank BTN')); ?></td>
          <td class="tbl-evencontent textBlack">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('relationship', $this->m_relationship, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('relationship', $this->relationship, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent textBlack"><?= $this->formLabel('cust_name', $this->language->_('Company')); ?></td>
          <td class="tbl-evencontent textBlack">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('cust_name', $this->m_cust_name, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('cust_name', $this->cust_name, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent textBlack"><?= $this->formLabel('npwp', $this->language->_('NPWP')); ?></td>
          <td class="tbl-evencontent textBlack">:</td>
          <?php if ($this->changes_type == 'E') { ?>
            <td class="tbl-evencontent textBlack" width="400px">
              <?= $this->formLabel('npwp', $this->m_npwp, array('class' => 'data npwp')); ?>&nbsp;
              <a href="/preliminary/index/premdoc/master/1/file/NPWP">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width:20px; height: 20px; color: black">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 13.5l3 3m0 0l3-3m-3 3v-6m1.06-4.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                </svg>
              </a>
            </td>
          <?php } ?>
          <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('npwp', $this->npwp, array('class' => 'dataChange npwp')); ?> &nbsp;
            <a href="/preliminary/index/premdoc/temp/1/file/NPWP">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width:20px; height: 20px; color: black">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 13.5l3 3m0 0l3-3m-3 3v-6m1.06-4.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
              </svg>
            </a>
          </td>
        </tr>
        <tr>
          <td class="tbl-evencontent textBlack"><?= $this->formLabel('pendirian_number', $this->language->_('Akta Pendirian')); ?></td>
          <td class="tbl-evencontent textBlack">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('pendirian_number', $this->m_pendirian_number, array('class' => 'data')); ?>&nbsp;
              <a href="/preliminary/index/premdoc/master/2/file/AKTA_PENDIRIAN">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width:20px; height: 20px; color: black">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 13.5l3 3m0 0l3-3m-3 3v-6m1.06-4.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                </svg>
              </a>
            </td> <?php } ?>
          <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('pendirian_number', $this->pendirian_number, array('class' => 'dataChange')); ?>&nbsp; <a href="/preliminary/index/premdoc/temp/2/file/AKTA_PENDIRIAN"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width:20px; height: 20px; color: black">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 13.5l3 3m0 0l3-3m-3 3v-6m1.06-4.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
              </svg></a></td>
        </tr>
        <tr>
          <td class="tbl-evencontent textBlack"><?= $this->formLabel('pendirian_date', $this->language->_('Tanggal Akta Pendirian')); ?></td>
          <td class="tbl-evencontent textBlack">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('pendirian_date', date('d M Y', strtotime($this->m_pendirian_date)), array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('pendirian_date', date('d M Y', strtotime($this->pendirian_date)), array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent textBlack"><?= $this->formLabel('pendirian_place', $this->language->_('Tempat Akta Pendirian')); ?></td>
          <td class="tbl-evencontent textBlack">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('pendirian_place', $this->m_pendirian_place, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('pendirian_place', $this->pendirian_place, array('class' => 'dataChange')); ?></td>
        </tr>

        <tr>
          <td class="tbl-evencontent textBlack"><?= $this->formLabel('pendirian_place', $this->language->_('SK Pengesahan Pendirian')); ?></td>
          <td class="tbl-evencontent textBlack">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('sk_pengesahan_pendirian', $this->dataMaster['SK_PENGESAHAN_NUMBER'] ?: '-', array('class' => 'data')); ?> &nbsp;
              <a href="/preliminary/index/premdoc/master/2/file/SK_PENGESAHAN_PENDIRIAN">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width:20px; height: 20px; color: black">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 13.5l3 3m0 0l3-3m-3 3v-6m1.06-4.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                </svg>
              </a>
            </td> <?php } ?>
          <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('sk_pengesahan_pendirian', $this->dataTemp['SK_PENGESAHAN_NUMBER'] ?: '-', array('class' => 'dataChange')); ?> &nbsp;
            <a href="/preliminary/index/premdoc/temp/2/file/SK_PENGESAHAN_PENDIRIAN"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width:20px; height: 20px; color: black">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 13.5l3 3m0 0l3-3m-3 3v-6m1.06-4.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
              </svg></a>
          </td>
        </tr>

        <tr>
          <td class="tbl-evencontent textBlack"><?= $this->formLabel('pendirian_place', $this->language->_('Tanggal SK Pengesahan Pendirian')); ?></td>
          <td class="tbl-evencontent textBlack">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('sk_pengesahan_pendirian', date('d M Y', strtotime($this->dataMaster['SK_PENGESAHAN_DATE'])) ?: '-', array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('sk_pengesahan_pendirian', date('d M Y', strtotime($this->dataTemp['SK_PENGESAHAN_DATE'])) ?: '-', array('class' => 'dataChange')); ?></td>
        </tr>

        <tr>
          <td colspan="4">&nbsp;</td>
        </tr>

        <?php if ($this->dataTemp['PERUBAHAN_NUMBER']) : ?>
          <tr>
            <td class="tbl-evencontent textBlack"><?= $this->formLabel('pendirian_place', $this->language->_('Akta Perubahan Terakhir')); ?></td>
            <td class="tbl-evencontent textBlack">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('sk_pengesahan_pendirian', $this->dataMaster['PERUBAHAN_NUMBER'] ?: '-', array('class' => 'data')); ?> &nbsp;
                <a href="/preliminary/index/premdoc/master/2/file/AKTA_PERUBAHAN_TERAKHIR" style="<?= ($this->dataMaster['PERUBAHAN_FILE']) ? '' : 'display:none;'; ?>">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width:20px; height: 20px; color: black">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 13.5l3 3m0 0l3-3m-3 3v-6m1.06-4.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                  </svg>
                </a>
              </td> <?php } ?>
            <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('sk_pengesahan_pendirian', $this->dataTemp['PERUBAHAN_NUMBER'] ?: '-', array('class' => 'dataChange')); ?> &nbsp;
              <a href="/preliminary/index/premdoc/temp/2/file/AKTA_PERUBAHAN_TERAKHIR"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width:20px; height: 20px; color: black; <?= ($this->dataTemp['PERUBAHAN_FILE']) ? '' : 'display:none;'; ?>">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 13.5l3 3m0 0l3-3m-3 3v-6m1.06-4.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                </svg></a>
            </td>
          </tr>
        <?php endif ?>

        <?php if ($this->dataTemp['SK_PERUBAHAN_NUMBER'] && $this->dataTemp['SK_PERUBAHAN_NUMBER'] != '0000-00-00') : ?>
          <tr>
            <td class="tbl-evencontent textBlack"><?= $this->formLabel('pendirian_place', $this->language->_('Tanggal Akta Perubahan Terakhir')); ?></td>
            <td class="tbl-evencontent textBlack">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('sk_pengesahan_pendirian', ($this->dataMaster['PERUBAHAN_DATE'] != '0000-00-00') ? date('d M Y', strtotime($this->dataMaster['PERUBAHAN_DATE'])) : '-', array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('sk_pengesahan_pendirian', ($this->dataTemp['PERUBAHAN_DATE'] != '0000-00-00') ? date('d M Y', strtotime($this->dataTemp['PERUBAHAN_DATE'])) : '-', array('class' => 'dataChange')); ?></td>
          </tr>
        <?php endif ?>

        <?php if ($this->dataTemp['SK_PERUBAHAN_NUMBER']) : ?>
          <tr>
            <td class="tbl-evencontent textBlack"><?= $this->formLabel('pendirian_place', $this->language->_('SK Pengesahan Perubahan')); ?></td>
            <td class="tbl-evencontent textBlack">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('sk_pengesahan_pendirian', $this->dataMaster['SK_PERUBAHAN_NUMBER'] ?: '-', array('class' => 'data')); ?> &nbsp;
                <a href="/preliminary/index/premdoc/master/2/file/SK_PERUBAHAN_FILE" style="<?= $this->dataMaster['SK_PERUBAHAN_FILE'] ? '' : 'display: none'; ?>">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width:20px; height: 20px; color: black">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 13.5l3 3m0 0l3-3m-3 3v-6m1.06-4.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                  </svg>
                </a>
              </td> <?php } ?>
            <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('sk_pengesahan_pendirian', $this->dataTemp['SK_PERUBAHAN_NUMBER'] ?: '-', array('class' => 'dataChange')); ?> &nbsp;
              <a href="/preliminary/index/premdoc/temp/2/file/SK_PERUBAHAN_FILE"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width:20px; height: 20px; color: black; <?= $this->dataTemp['SK_PERUBAHAN_FILE'] ? '' : 'display: none'; ?>">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 13.5l3 3m0 0l3-3m-3 3v-6m1.06-4.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                </svg></a>
            </td>
          </tr>
        <?php endif ?>

        <?php if ($this->dataTemp['SK_PERUBAHAN_DATE'] && $this->dataTemp['SK_PERUBAHAN_DATE'] != '0000-00-00') : ?>
          <tr>
            <td class="tbl-evencontent textBlack"><?= $this->formLabel('pendirian_place', $this->language->_('Tanggal SK Pengesahan Perubahan')); ?></td>
            <td class="tbl-evencontent textBlack">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('sk_pengesahan_pendirian', ($this->dataMaster['SK_PERUBAHAN_DATE'] != '0000-00-00') ? date('d M Y', strtotime($this->dataMaster['SK_PERUBAHAN_DATE'])) : '-', array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('sk_pengesahan_pendirian', ($this->dataTemp['SK_PERUBAHAN_DATE'] != '0000-00-00') ? date('d M Y', strtotime($this->dataTemp['SK_PERUBAHAN_DATE'])) : '-', array('class' => 'dataChange')); ?></td>
          </tr>
        <?php endif ?>

        <?php
        if (!empty($this->m_perubahan_number) && false) {
        ?>
          <tr>
            <td class="tbl-evencontent textBlack"><?= $this->formLabel('perubahan_number', $this->language->_('Akta Perubahan Terakhir')); ?></td>
            <td class="tbl-evencontent textBlack">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('perubahan_number', $this->m_perubahan_number, array('class' => 'data')); ?>&nbsp;
                <?php if ($this->dataMaster['PERUBAHAN_FILE']) : ?>
                  <a href="/preliminary/index/premdoc/master/3/file/AKTA_PERUBAHAN">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width:20px; height: 20px; color: black">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9 13.5l3 3m0 0l3-3m-3 3v-6m1.06-4.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                    </svg>
                  </a>
                <?php endif ?>
              </td> <?php } ?>
            <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('perubahan_number', $this->perubahan_number, array('class' => 'dataChange')); ?>&nbsp;
              <?php if ($this->dataTemp['PERUBAHAN_FILE']) : ?>
                <a href="/preliminary/index/premdoc/temp/3/file/AKTA_PERUBAHAN">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width:20px; height: 20px; color: black">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 13.5l3 3m0 0l3-3m-3 3v-6m1.06-4.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                  </svg>
                </a>
              <?php endif ?>
            </td>
          </tr>
        <?php
        }
        ?>
        <?php
        if (!empty($this->m_perubahan_date) && false) {
        ?>
          <tr>
            <td class="tbl-evencontent textBlack"><?= $this->formLabel('perubahan_date', $this->language->_('Akta Perubahan Date')); ?></td>
            <td class="tbl-evencontent textBlack">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('perubahan_date', $this->m_perubahan_date, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('perubahan_date', $this->perubahan_date, array('class' => 'dataChange')); ?></td>
          </tr>
        <?php
        }
        ?>
        <?php
        if (!empty($this->m_sk_perubahan_number) && false) {
        ?>
          <tr>
            <td class="tbl-evencontent textBlack"><?= $this->formLabel('sk_perubahan_number', $this->language->_('SK Pengesahan')); ?></td>
            <td class="tbl-evencontent textBlack">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('sk_perubahan_number', $this->m_sk_perubahan_number, array('class' => 'data')); ?>&nbsp;
                <?php if ($this->dataMaster['PERUBAHAN_FILE']) : ?>
                  <a href="/preliminary/index/premdoc/master/4/file/SK_PENGESAHAN">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width:20px; height: 20px; color: black">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9 13.5l3 3m0 0l3-3m-3 3v-6m1.06-4.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                    </svg>
                  </a>
                <?php endif ?>
              </td> <?php } ?>
            <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('sk_perubahan_number', $this->sk_perubahan_number, array('class' => 'dataChange')); ?>&nbsp;
              <?php if ($this->dataTemp['SK_PERUBAHAN_FILE']) : ?>
                <a href="/preliminary/index/premdoc/temp/4/file/SK_PENGESAHAN"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width:20px; height: 20px; color: black">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 13.5l3 3m0 0l3-3m-3 3v-6m1.06-4.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                  </svg>
                </a>
              <?php endif ?>
            </td>
          </tr>
        <?php
        }
        ?>
        <?php
        if (!empty($this->m_sk_perubahan_date) && false) {
        ?>
          <tr>
            <td class="tbl-evencontent textBlack"><?= $this->formLabel('sk_perubahan_date', $this->language->_('SK Pengesahan Date')); ?></td>
            <td class="tbl-evencontent textBlack">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('sk_perubahan_date', $this->m_sk_perubahan_date, array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('sk_perubahan_date', $this->sk_perubahan_date, array('class' => 'dataChange')); ?></td>
          </tr>
        <?php
        }
        ?>
        <tr class="diffRow">
          <td colspan="4">&nbsp;</td>
        </tr>
        <tr class="diffRow">
          <td colspan="4" class="text-dark"><b><?= $this->language->_('Board of the Management and/or Owner of the Business Entity'); ?></b></td>
        </tr>
        <?php for ($i = 0; $i < $this->totalMember; $i++) : ?>
          <tr class="diffRow">
            <?php $m_name_member = 'm_name_member' . $i; ?>
            <td colspan="4" class="text-dark"><b>#<?= ($i + 1) . ' ' . $this->$m_name_member; ?></b></td>
          </tr>
          <tr>
            <?php $name_member = 'name_member' . $i; ?>
            <?php $m_name_member = 'm_name_member' . $i; ?>
            <td class="tbl-evencontent textBlack"><?= $this->formLabel('name_member', $this->language->_('Name')); ?></td>
            <td class="tbl-evencontent textBlack">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('name_member', $this->$m_name_member ?: '-', array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('name_member', $this->$name_member, array('class' => 'dataChange')); ?></td>
          </tr>
          <tr>
            <?php $entity_id = 'entity_id' . $i; ?>
            <?php $m_entity_id = 'm_entity_id' . $i; ?>
            <td class="tbl-evencontent textBlack"><?= $this->formLabel('entity_id', $this->language->_('Type')); ?></td>
            <td class="tbl-evencontent textBlack">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('entity_id', $this->$m_entity_id ?: '-', array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('entity_id', $this->$entity_id, array('class' => 'dataChange')); ?></td>
          </tr>
          <tr>
            <?php $id_type = 'id_type' . $i; ?>
            <?php $m_id_type = 'm_id_type' . $i; ?>
            <td class="tbl-evencontent textBlack"><?= $this->formLabel('id_type', $this->language->_('ID Type')); ?></td>
            <td class="tbl-evencontent textBlack">:</td>
            <?php if ($this->changes_type == 'E') { ?>
              <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('id_type', $this->$m_id_type ?: '-', array('class' => 'data')); ?>&nbsp;
                <?php if ($this->$m_id_type != '-' && $this->$m_id_type != '') : ?>
                  <a href="/preliminary/index/premdocmember/master/<?= $i; ?>"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width:20px; height: 20px; color: black">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9 13.5l3 3m0 0l3-3m-3 3v-6m1.06-4.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                    </svg></a>
                <?php endif ?>
              </td> <?php } ?>
            <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('id_type', $this->$id_type, array('class' => 'dataChange')); ?>&nbsp;

              <?php if ($this->$id_type != '-' && $this->$id_type != '') : ?>
                <a href="/preliminary/index/premdocmember/temp/<?= $i; ?>"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width:20px; height: 20px; color: black">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 13.5l3 3m0 0l3-3m-3 3v-6m1.06-4.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                  </svg>
                </a>
              <?php endif ?>
            </td>
          </tr>
          <tr>
            <?php $id_number = 'id_number' . $i; ?>
            <?php $m_id_number = 'm_id_number' . $i; ?>
            <?php $MClassNpwp = (strtolower($this->$m_id_type) == 'npwp') ? 'data npwp' : 'data' ?>
            <?php $TClassNpwp = (strtolower($this->$id_type) == 'npwp') ? 'dataChange npwp' : 'dataChange' ?>
            <td class="tbl-evencontent textBlack"><?= $this->formLabel('id_number', $this->language->_('ID Number')); ?></td>
            <td class="tbl-evencontent textBlack">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('id_number', $this->$m_id_number ?: '-', array('class' => $MClassNpwp)); ?></td> <?php } ?>
            <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('id_number', $this->$id_number, array('class' => $TClassNpwp)); ?></td>
          </tr>
          <tr>
            <?php $position = 'position' . $i; ?>
            <?php $m_position = 'm_position' . $i; ?>
            <td class="tbl-evencontent textBlack"><?= $this->formLabel('position', $this->language->_('Position')); ?></td>
            <td class="tbl-evencontent textBlack">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('position', $this->$m_position ?: '-', array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('position', $this->$position, array('class' => 'dataChange')); ?></td>
          </tr>
          <tr>
            <?php $share = 'share' . $i; ?>
            <?php $m_share = 'm_share' . $i; ?>
            <td class="tbl-evencontent textBlack"><?= $this->formLabel('share', $this->language->_('Share')); ?></td>
            <td class="tbl-evencontent textBlack">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('share', $this->$m_share ?: '-', array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('share', $this->$share, array('class' => 'dataChange')); ?></td>
          </tr>
          <tr>
            <?php $status = 'status' . $i; ?>
            <?php $m_status = 'm_status' . $i; ?>
            <td class="tbl-evencontent textBlack"><?= $this->formLabel('status', $this->language->_('Status')); ?></td>
            <td class="tbl-evencontent textBlack">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('status', $this->$m_status ?: '-', array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('status', $this->$status, array('class' => 'dataChange')); ?></td>
          </tr>
          <tr>
            <?php $address = 'address' . $i; ?>
            <?php $m_address = 'm_address' . $i; ?>
            <td class="tbl-evencontent textBlack"><?= $this->formLabel('address', $this->language->_('Address')); ?></td>
            <td class="tbl-evencontent textBlack">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('address', $this->$m_address ?: '-', array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('address', $this->$address, array('class' => 'dataChange')); ?></td>
          </tr>
          <tr>
            <?php $kelurahan = 'kelurahan' . $i; ?>
            <?php $m_kelurahan = 'm_kelurahan' . $i; ?>
            <td class="tbl-evencontent textBlack"><?= $this->formLabel('kelurahan', $this->language->_('Kelurahan')); ?></td>
            <td class="tbl-evencontent textBlack">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('kelurahan', $this->$m_kelurahan ?: '-', array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('kelurahan', $this->$kelurahan, array('class' => 'dataChange')); ?></td>
          </tr>
          <tr>
            <?php $kecamatan = 'kecamatan' . $i; ?>
            <?php $m_kecamatan = 'm_kecamatan' . $i; ?>
            <td class="tbl-evencontent textBlack"><?= $this->formLabel('kecamatan', $this->language->_('Kecamatan')); ?></td>
            <td class="tbl-evencontent textBlack">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('kecamatan', $this->$m_kecamatan ?: '-', array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('kecamatan', $this->$kecamatan, array('class' => 'dataChange')); ?></td>
          </tr>
          <tr>
            <?php $kab_city = 'kab_city' . $i; ?>
            <?php $m_kab_city = 'm_kab_city' . $i; ?>
            <td class="tbl-evencontent textBlack"><?= $this->formLabel('kab_city', $this->language->_('Kabupaten/City')); ?></td>
            <td class="tbl-evencontent textBlack">:</td>
            <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent textBlack" width="400px"><?= $this->formLabel('kab_city', $this->$m_kab_city ?: '-', array('class' => 'data')); ?></td> <?php } ?>
            <td class="tbl-evencontent textBlack" width="400px" colspan="2"><?= $this->formLabel('kab_city', $this->$kab_city ?: '-', array('class' => 'dataChange')); ?></td>
          </tr>
          <tr class="diffRow">
            <td colspan="4">&nbsp;</td>
          </tr>
        <?php endfor; ?>
      </tbody>
    </table>
  </div>
</div>

<?php if ($this->interface == 'F') : ?>
  <br>
  <div class="row mb-5" id="btn_action">
    <div class="col-md-12 d-flex justify-content-center">
      <form action="" method="post">
        <?php
        if ($this->changes_status != 'RR') {
          if ($this->hasPrivilege('APDC')) {
            echo '<center>';
            echo "Catatan : ";
            echo '<br>';
            echo $this->formTextarea('notes', '', ['class' => 'form-control col-md-12', 'cols' => '50', 'rows' => '5', 'maxlength' => '200', 'style' => 'font-size: 14px;']);
            echo '</center>';
            echo '<br>';
            echo $this->formSubmit('submit_approve', $this->language->_('Approve'), ['class' => 'btngreen hov mr-1']);
            echo $this->formSubmit('submit_reject', $this->language->_('Reject'), ['class' => 'btnred hov mr-1']);
            echo $this->formSubmit('submit_request_repair', $this->language->_('Request Repair'), ['class' => 'btnwhite hov mr-1']);
          }
        }
        if ($this->hasPrivilege('RPDC')) {
          echo $this->formButton('submit_repair', $this->language->_('Repair'), ['class' => 'btngreen hov mr-1', 'onclick' => "window.location.href='/preliminary/suggestiondetail/repair/changes_id/$this->changes_id_encrypted'"]);
        }

        if ($this->changes_status != 'RR') {
          if ($this->hasPrivilege('APDC')) {
          }
        }
        ?>
      </form>
    </div>
  </div>
<?php endif; ?>

<?php if ($this->is_request_repair || $this->is_reject || $this->is_approve) : ?>
  <script>
    $('#btn_action').remove();
    window.opener.location.reload(true);
  </script>
<?php endif; ?>

<?php if ($this->changes_type == 'E') { ?>
  <script type="text/javascript">
    //user role diff
    if ($(".Sugg_userrole").text() != $(".Curr_userrole").text()) {
      $(".Sugg_userrole").css('background-color', '#fffe5c');
      $(this).addClass('diffRow');
    }
    $("table.table-sugg > tbody > tr").each(function() {
      var data = $(this).find(".data");
      var dataChange = $(this).find(".dataChange");
      if (data.text() != dataChange.text()) {
        dataChange.css('background-color', '#fffe5c');
        $(this).addClass('diffRow');
      }
    });

    $("#btnDiffOnly").click(function() {
      $("table.table-sugg > tbody > tr").each(function() {
        var className = $(this).attr('class');
        if (className != 'diffRow' && $(this).is(":visible")) {
          $(this).hide();
        } else {
          $(this).show();
        }
      });
    });

    //diff for Privilege list
    // suggested priv
    <?php
    if (count($this->priviList) > 0) {
      foreach ($this->priviList as $privi) {
    ?>
        var currentValue = $('.curr_<?= $privi ?>');
        var suggestedtValue = $('.sugg_<?= $privi ?>');
        if (currentValue.text() != suggestedtValue.text()) {
          suggestedtValue.css('background-color', '#fffe5c');
          suggestedtValue.attr('title', 'Added');
          suggestedtValue.closest('tr').addClass('diffRow');
        }
    <?php
      }
    }
    ?>
    // current priv
    <?php
    if (count($this->m_priviList) > 0) {
      foreach ($this->m_priviList as $privi) {
    ?>
        var currentValue = $('.curr_<?= $privi ?>');
        var suggestedtValue = $('.sugg_<?= $privi ?>');
        if (currentValue.text() != suggestedtValue.text()) {
          currentValue.css('background-color', '#ff2222');
          currentValue.attr('title', 'Removed');
          currentValue.closest('tr').addClass('diffRow');
        }
    <?php
      }
    }
    ?>
  </script>
<?php } ?>

<script type="text/javascript">
  function checkNotes(event) {
    const notes = document.querySelector('#notes').value;

    if (!notes) {
      event.preventDefault();
      alert('Mohon masukkan catatan');
      return;
    }
  }
  document.addEventListener('DOMContentLoaded', () => {
    // $('.npwp').mask('00.000.000.0-000.000');

    document.querySelector('#submit_reject').addEventListener('click', checkNotes);
    document.querySelector('#submit_request_repair').addEventListener('click', checkNotes);

    document.body.style.paddingTop = '12rem';
  });
</script>