<script type="text/javascript">
	function switchCheck(selThis)
	{
		if($(selThis).is(":checked"))
		{
			// $(".benef_id:enabled").attr("checked","checked");
			$('.benef_id').prop('checked', true);
		}
		else
		{
			// $(".benef_id:enabled").removeAttr("checked");
			$('.benef_id').prop('checked', false);
			 // <?php 
			 //   if(!empty($this->data)){
			 //   	if (count($this->data) > 0) {

			 //   		$i = 0;
			 //         foreach($this->data as $row)
			 //       {

			 //       	$cek = FALSE;
			 //       	if ($row['CHECK'] == 1) {
			 //       		$cek = TRUE;
			 //       	}
			 //    ?>	

			 //        $('input[name="benef_id[<?php echo $i; ?>]"]').prop('checked','<?php echo $cek; ?>');
			 //        // console.log(<?php echo $i; ?>);
			 //   <?php
			 //   		$i++;
			 //         }

			 //     }
			 //    }
			 //     ?>
		
		}
	}
</script>
<script type="text/javascript">
function refreshwindow()
{
  // not loaded frames
  // window.location.reload();

  $('#checkAll').prop('checked', false);
  $('input[name="benef_id[]').prop('checked','');

   <?php 
   if(!empty($this->data)){
   	if (count($this->data) > 0) {

   		$i = 0;
         foreach($this->data as $row)
       {

       	$cek = FALSE;
       	if ($row['CHECK'] == 1) {
       		$cek = TRUE;
       	}
    ?>	

        $('input[name="benef_id[<?php echo $i; ?>]"]').prop('checked','<?php echo $cek; ?>');
        // console.log(<?php echo $i; ?>);
   <?php
   		$i++;
         }

     }
    }
     ?>
}
</script>
<style>

    .table td{
    padding: 4px 4px 4px 4px !important;
    vertical-align: middle !important;
   } 
    .table th{
    padding: 4px 4px 4px 4px !important;
    vertical-align: middle !important;
  }
</style>

<div class="row">
  	<div class="col-md-12">
    	<div class="page-bar">
        	<ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('Beneficiary Link'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?php echo $this->language->_('Approve'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas" ><?php echo $this->language->_('Repair'); ?></span>
                </li>
        	</ul>
    	</div>
  	</div>
</div>
<br />

<?php 
if($this->error)
{
?>
	<div class="errmsg">
	<?php 
		if($this->user_idErr) 
		echo $this->formErrors($this->user_idErr); 
		if($this->benefErr) 
		echo $this->formErrors($this->benefErr);
	?>
	</div>
<br />
<?php
}
?>
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
<!-- <div class="portlet-body form">  -->
	<h5><?=$this->language->_('Repair Beneficiary Linkage Suggestion')?></h5>
	<br>
	<div class="row">
		<div class="portlet-body form col-md-8">
            <!-- <div class="panel-heading" style="
        	    color: #fff;
        	    background-color: #337ab7;
        	    border-color: #337ab7;
        	    border: 1;
        	">
        	
        		<strong><?php echo $this->language->_('Filter'); ?>:</strong>
        	</div> -->
        			<div class="portlet-body form">
                      <div class="form-group row ">
                        <label class="control-label col-md-3"><?php echo $this->language->_('User ID') ?></label>
                        <div class="col-md-9">
                        	<?php echo $this->formLabel('user_id',$this->userid); ?>
                        </div>      
                     </div>             
                   </div>
        </div>
        <div class="col-md-4">
        </div>                       
	</div>
	<div class="row">
	  <div class="col-sm-6">
			  <div class="panel panel-default">
			  <!-- Default panel contents -->
				  <!-- <div class="panel-heading" style="
					    color: #fff;
				    height: 33px;
				    line-height: 14px;
				    font-size: 14px;
				    background-color: #337ab7;
				    border-color: #337ab7;
					    
					"><?php echo $this->language->_('Notes');?>
						
					</div> -->
					<div class="panel-body">
							<div class="form-group">
								&bull; <?php echo $this->language->_('Tick checkbox in front of beneficiary to set.'); ?> <br>
							</div>
					</div>
				</div>
			
	  </div>
	  <div class="col-sm-6">&nbsp;</div>
	</div>
	
	<!-- <br/> -->
	
	<!-- <table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
			<tbody>
				<tr>
					<td> -->
						<table width="100%" cellpadding="0" cellspacing="0" border="0" class="table table-striped">
							<tr class="headercolor">
								<th class="tablehead" width="3%" valign="top"><?php echo  $this->formCheckbox('checkAll', null,array('onclick' => 'switchCheck(this)')) ?>
								</th>
								<?php 
									echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
																					'sortBy' => $this->sortBy,
																					'sortDir' => $this->sortDir,
																					'query_string_params' => $this->query_string_params
																					)
								)?>
							</tr>
							<?php
								if(count($this->data) > 0)
								{
									$i=0;

									foreach($this->data as $row) 
									{

										$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
										$cek = FALSE;
										if($row['CHECK'] == 1)
										{
											$cek = TRUE;
										}
											$attribut=array('class' => 'benef_id', 'checked' => $cek);

											// table content
											echo '<tr>
											<td class="'.$td_css.'">'.$this->formCheckbox("benef_id[".$i."]", "1",$attribut).'<input type="hidden" name="benef_acc['.$i.']" value="'.$row['BENEFICIARY_ID'].'"></td>
											<td class="'.$td_css.'">'.$row['BANK_NAME'].'</td>
											<td class="'.$td_css.'">'.$row['BENEFICIARY_ACCOUNT'].'</td>
											<td class="'.$td_css.'">'.$row['CURR_CODE'].'</td>
											<td class="'.$td_css.'">'.$row['BENEFICIARY_NAME'].'</td>
											<td class="'.$td_css.'">'.$this->benefdesc[$this->benefcode[$row['BENEFICIARY_TYPE']]].'</td>
											</tr>';

											$i++;
									}
									$i--;
								}
								else 
								{
									echo '<tr>
											<td colspan=10 class="tbl-evencontent" align="center">'.$this->language->_(' ---No Data--- ').'</td>
										 </tr>';
								}
							?>
							<input type="hidden" name="i" value="<?php echo $i?>">
						</table>
<br/>
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td class="button-area" id="button-area" colspan="5">
									<div class="formbutton" align="center">
										<input type="hidden" id="suggestid" name="suggestid" value = "<?php echo $this->suggestid ?>">
										<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>$this->modulename,'controller'=>'approve','action'=>'index'),null,true);?>'" class="btnwhite hov" style="background-color: white; color:black;" value="<?php echo $this->language->_('Back');?>">
										<input name="reset" value="<?php echo $this->language->_('Reset'); ?>" onclick="refreshwindow();" type="button" class="btnwhite hov" style="background-color: white; color:black; outline: none !important; border-width: thin !important;">
										<?php echo $this->formSubmit('submit',$this->language->_('Set Beneficiary Link'),array('class'=>'btngreen hov')); ?>
									</div>
								</td>
							</tr>
						</table>
					<!-- </td>
				</tr>
			</tbody>
	</table> -->
<!-- </div> -->
</form>