<?php
require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
?>

<div class="row mt-2">
    <div class="col-md-12 d-flex align-items-center justify-content-center" align="center" style="gap: 10px;">
        <button name="back" type="button" id="back" class="btn-sm btnwhite hov" onClick="location.href='/bgclosingworkflow/release'" value="1"><?= $this->language->_('Kembali'); ?></button>
        <?php if ($this->getBG['PS_STATUS'] == 4 && $this->hasTimeoutTrans) : ?>
            <button type="button" id="timeout" class="btn-sm btnwhite hov" value="1"><?= $this->language->_('Status'); ?></button>
        <?php endif ?>
        <?php if ($this->getBG['PS_STATUS'] == 4 && $this->hasFailedTrans) : ?>
            <button type="button" id="gagal" class="btn-sm btnwhite hov" value="1"><?= $this->language->_('Retry'); ?></button>
        <?php endif ?>
        <?php if ($this->getBG['PS_STATUS'] == 3) : ?>
            <?php if (($this->getBG['COUNTER_WARRANTY_TYPE'] == 1 && $this->hasPrivilege('PPCC')) || ($this->getBG['COUNTER_WARRANTY_TYPE'] != 1 && $this->hasPrivilege('PPNC'))) :  ?>
                <button type="button" onclick="javascript:reqrepair()" class="btn-sm btnwhite hov" value="1"><?= $this->language->_('Permintaan Perbaikan'); ?></button>
            <?php endif ?>
        <?php endif ?>
        <?php if ($this->getBG['PS_STATUS'] == 1 || $this->getBG['PS_STATUS'] == 2 || $this->getBG['PS_STATUS'] == 3) { ?>
            <?php if (
                ($this->getBG['PS_STATUS'] == 3 && (($this->getBG['COUNTER_WARRANTY_TYPE'] == 1 && $this->hasPrivilege('PPCC')) || ($this->getBG['COUNTER_WARRANTY_TYPE'] != 1 && $this->hasPrivilege('PPNC')))) ||
                ($this->getBG['PS_STATUS'] != 3 && (($this->getBG['COUNTER_WARRANTY_TYPE'] == 1 && $this->hasPrivilege('KPCC')) || ($this->getBG['COUNTER_WARRANTY_TYPE'] != 1 && $this->hasPrivilege('KPNC'))))
            ) :  ?>
                <button class="btngreen hov" id="kirim" type="<?= ($this->getBG['PS_STATUS'] == 3) ? 'button' : 'submit' ?>" name="kirim" value="1"><?= ($this->getBG['PS_STATUS'] == 1) || $this->getBG['PS_STATUS'] == 2 ? $this->language->_('Kirim') : $this->language->_('Persetujuan'); ?></button>
            <?php endif ?>
        <?php } ?>

        <?php if ($this->getBG['PS_STATUS'] == '5') : ?>
            <button class="btnwhite hov" type="button" onclick="javascript:window.location.href = '<?= $this->url(['module' => $this->modulename, 'controller' => $this->controllername, 'pdf' => '1']); ?>'"><?= $this->language->_('PDF'); ?></button>
        <?php endif ?>
    </div>
</div>

<?php if ($this->getBG['PS_STATUS'] == '3') : ?>
    <div class="modal fade" id="approverelease" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="exampleModalLabel"><?= $this->language->_('Persetujuan Penyelesaian'); ?></h5>
                </div>
                <div class="modal-body">
                    <div class="pl-3 mb-3">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center"><label><?= $this->language->_('User ID'); ?> : <span class="font-weight-bold"><?= $this->userIdLogin; ?></span></label></div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12 d-flex align-items-center flex-column">
                                <label><?= $this->language->_('Silahkan masukkan password Anda untuk Persetujuan'); ?>
                                    <strong class="text-danger">
                                        <font>*</font>
                                    </strong></label>
                                <div class="w-75 text-center">
                                    <input type="password" class="form-control text-center mb-2" style="font-size: 16px;" id="password_ldap" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center" style="gap : 10px">
                        <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Batal'); ?></button>
                        <button type="button" class="btngreen hov" id="validate_ldap"><?= $this->language->_('Konfirmasi'); ?></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php endif ?>

<script type="text/javascript">
    function validateklaim(event, timeout = '', gagal = '') {
        
        event && event.preventDefault();

        <?php if ($this->bankCode != 200) : ?>
            const disabledrekbeban = document.querySelector('#disabledrekbeban');
            if (!disabledrekbeban.value) {
                const createError = document.createElement('small');
                createError.classList.add('text-danger', 'font-weight-bold');
                createError.innerText = '<?= $this->language->_('Rekening Pembebanan Biaya Tidak Boleh Kosong'); ?>';
                disabledrekbeban.nextElementSibling?.remove();
                disabledrekbeban.after(createError);

                return;
            }
        <?php endif ?>

        <?php if ($this->getBG['COUNTER_WARRANTY_TYPE'] == '2') : ?>
            const checkLF = document.querySelector('[name="lfsumber_acct_name"]');
            if (checkLF.value == '') {
                const createError = document.createElement('small');
                createError.classList.add('text-danger', 'font-weight-bold');
                createError.innerText = '<?= $this->language->_('Rekening Sumber Dana Tidak Boleh Kosong'); ?>';
                document.querySelector('#disabledreksumberlf').nextElementSibling?.remove();
                document.querySelector('#disabledreksumberlf').after(createError);

                return;
            } else {
                document.querySelector('#disabledreksumberlf').nextElementSibling?.remove();
            }
        <?php endif ?>

        <?php if ($this->getBG['COUNTER_WARRANTY_TYPE'] == '3') : ?>
            const checkSumberDanaType = document.querySelector('#sumber_dana_type');

            // REKENING ASURANSI
            if (checkSumberDanaType.value == '1') {

                if (document.querySelector('[name="lfsumber_acct_number"]').value == '') {
                    const createError = document.createElement('small');
                    createError.classList.add('text-danger', 'font-weight-bold');
                    createError.innerText = '<?= $this->language->_('Rekening Sumber Dana Tidak Boleh Kosong'); ?>';
                    document.querySelector('#disabledreksumberlf').nextElementSibling?.remove();
                    document.querySelector('#disabledreksumberlf').after(createError);

                    alert('<?= $this->language->_('Mohon periksa kembali data'); ?>');

                    return;
                }
            }

            // MARGINAL DEPOSIT ASURANSI
            else {
                if (document.querySelectorAll('.error-validasi').length > 0) {
                    alert('<?= $this->language->_('Mohon periksa kembali data'); ?>');
                    return;
                }

                // CHECK NEED KMK OR NOT
                const needKMK = document.querySelector('[name="need_kmk"]').value;
                if (needKMK == '1') {
                    if (document.querySelector('[name="kmkasuransi_acct_number"]').value == '') {
                        const createError = document.createElement('small');
                        createError.classList.add('text-danger', 'font-weight-bold');
                        createError.innerText = '<?= $this->language->_('Rekening KMK Asuransi Tidak Boleh Kosong'); ?>';
                        document.querySelector('#disabledrekkmkasuransi').nextElementSibling?.remove();
                        document.querySelector('#disabledrekkmkasuransi').after(createError);

                        alert('<?= $this->language->_('Mohon periksa kembali data'); ?>');

                        return;
                    }
                }
            }
        <?php endif ?>

        if(timeout){
            const timeout = document.createElement('input');

            timeout.setAttribute('type', 'hidden');
            timeout.setAttribute('name', 'timeout');
            timeout.setAttribute('value', '1');

            document.forms.form_claim.appendChild(timeout);
        }

        if(gagal){
            const gagalTrx = document.createElement('input');

            gagalTrx.setAttribute('type', 'hidden');
            gagalTrx.setAttribute('name', 'gagal');
            gagalTrx.setAttribute('value', '1');

            document.forms.form_claim.appendChild(gagalTrx);
        }

        // SUKSES
        document.forms.form_claim.submit();
    }

    function reqrepair() {
        $('#permintaanPerbaikan').modal('show');
    }

    function cekTimeout() {
        validateklaim('', 'timeout');
    }

    function cekGagal() {
        validateklaim('', '', 'gagal');
    }

    <?php if ($this->getBG['PS_STATUS'] == '3') : ?>

        async function validateLDAP(event) {
            const this_button = event.target;
            const pass_ldap = document.querySelector('#password_ldap').value;

            this_button.classList.add('disabled');
            this_button.setAttribute('disabled', 'disabled');

            if (pass_ldap == '') {
                document.querySelector('#password_ldap').nextElementSibling?.remove();

                const create_error = document.createElement('small');
                create_error.classList.add('text-danger', 'font-weight-bold');
                create_error.innerText = '<?= $this->language->_('password tidak boleh kosong'); ?>';

                document.querySelector('#password_ldap').after(create_error);

                this_button.classList.remove('disabled');
                this_button.removeAttribute('disabled');

                return;
            } else {
                document.querySelector('#password_ldap').nextElementSibling?.remove();
            }

            await $.ajax({
                url: "<?= $this->url(array('module' => $this->modulename, 'controller' => 'claimobligeedetail', 'action' => 'validateldap'), null, true) ?>",
                type: 'GET',
                dataType: "JSON",
                data: {
                    credential: '<?= urlencode($AESMYSQL->encrypt($this->userIdLogin, uniqid())); ?>',
                    password: pass_ldap
                },
                success: function(data) {
                    // PASSWORD BENAR
                    if (!data.error) {
                        document.forms.form_claim.submit();
                        $('#approverelease').modal('hide');

                        document.querySelector('#kirim').classList.add('disabled');
                        document.querySelector('#kirim').classList.setAttribute('disabled', 'disabled');
                    }

                    // PASSWORD SALAH
                    if (data.error) {
                        const error_password = document.createElement('small');
                        error_password.classList.add('text-danger', 'font-weight-bold');
                        error_password.innerText = data.message;

                        document.querySelector('#password_ldap').after(error_password);

                        this_button.classList.remove('disabled');
                        this_button.removeAttribute('disabled');
                    }
                },
                complete: () => {},
                error: function(xhr, ajaxOptions, thrownError) {
                    console.log("Failed to get data");
                }
            });
        }
    <?php endif ?>

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#form_claim').addEventListener('submit', validateklaim);

        document.querySelector('#timeout')?.addEventListener('click', cekTimeout);
        document.querySelector('#gagal')?.addEventListener('click', cekGagal);

        <?php if ($this->getBG['PS_STATUS'] == '3') : ?>
            document.querySelector('#kirim').addEventListener('click', () => {

                $('#approverelease').modal({
                    backdrop: 'static',
                    keyboard: false,
                });
            });

            document.querySelector('#validate_ldap').addEventListener('click', validateLDAP);
        <?php endif ?>
    });
</script>