<style>
	label {
		font-size: 1.2em;
		margin-bottom: 0.3rem;
	}

	h5 {
		font-size: 1.10rem;
		line-height: unset;
		margin-bottom: 0;
	}

	.textGray {
		color: #8e8e8e;
	}

	.form-group {
		margin-bottom: 0em;
	}

	.iconCircle {
		background-color: lightgray;
		color: red;
		margin-top: 3px;
		min-width: 23px;
		height: 20px;
	}

	#guarantedTransactions {
		width: 100%;
		font-size: 16px;
	}

	#guarantedTransactions th {
		background-color: #cccccc;
		font-style: italic;
		font-weight: normal;
	}

	#guarantedTransactions td {
		background-color: #efefef;
		font-weight: normal;
	}

	.col-form-label {
		font-size: 1.2em;
	}
</style>

<div class="row justify-content-start">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb px-0">
				<li>
					<span><?= $this->language->_('Beranda') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="inhouse"><?= $this->language->_('Alur Penutupan') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="inhouse"><?= $this->language->_('Penyelesaian') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="inhouse"><?= $this->language->_('Detail') ?></span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row justify-content-start">
	<div class="col-md-12">
		<!-- STATUS PENYELESAIAN -->
		<?= $this->render('claimobligeedetail/status.phtml'); ?>

		<form action="" method="post" enctype="multipart/form-data" id="form_claim">

			<!-- KONTRA GARANSI -->
			<?= $this->render('claimobligeedetail/kontragaransi.phtml'); ?>

			<!-- REKENING TUJUAN PEMBAYARAN KLAIM -->
			<?= $this->render('claimobligeedetail/rekclaim.phtml'); ?>

			<!-- RIWAYAT -->
			<?= $this->render('claimobligeedetail/history.phtml'); ?>

			<?php if ($this->flagTransaction) { ?>
				<?php if ($this->counterWarrantyType == 1 || $this->counterWarrantyType == 3) { ?>
					<div class="row">
						<div class="col-md-12" style="height: auto; position: relative;">
							<div class="padding-header-cust d-flex" style="border-radius: 3px;">

								<h5><?= $this->language->_('Laporan Transaksi') ?></h5>

								<div class="col" style="text-align: right;">
									<a href="javascript:void(0)" id="fa-angle-down1" class="mr-2 text-white" onclick="historyShow1()"><i class="fa fa-angle-down"></i></a>
									<a href="javascript:void(0)" id="fa-angle-up1" class="mr-2 text-white" onclick="historyHide1()"><i class="fa fa-angle-up"></i></a>
								</div>
							</div>
							<div class="form-group row pt-2">
								<div class="col-sm-12 pb-2">
									<div id="transaksi">
										<table id="guarantedTransactions">
											<thead>
												<tr style="background-color:#ccc">
													<th><?= $this->language->_('TraRef#'); ?></th>
													<th><?= $this->language->_('Service'); ?></th>
													<th><?= $this->language->_('HoldSeq'); ?></th>
													<th><?= $this->language->_('Rekening Sumber'); ?></th>
													<th><?= $this->language->_('Rekening Tujuan'); ?></th>
													<th><?= $this->language->_('Jumlah'); ?></th>
													<th><?= $this->language->_('Status'); ?></th>
												</tr>
											</thead>
											<tbody>
												<?php
												require_once 'Crypt/AESMYSQL.php';
												$AESMYSQL = new Crypt_AESMYSQL();
												$rand = $this->token;
												?>

												<?php foreach ($this->dataHistoryTransaction as $row) : ?>
													<?php
													$source = empty($row['SOURCE_ACCT']) ? '-' : $row['SOURCE_ACCT'] . " / " . $row['SOURCE_ACCT_NAME'] . " / " . $this->listBank[$row['SOURCE_ACCT_BANK_CODE']];
													$benef = empty($row['BENEF_ACCT']) ? '-' : $row['BENEF_ACCT'] . " / " . $row['BENEF_ACCT_NAME'] . " / " . $this->listBank[$row['BENEF_BANK_CODE']];

													?>
													<tr style="background-color:#eee">
														<td><a href="javascript:void(0)" onclick="javascript:openwindow('/bgclosingworkflow/releasedetail/detail/bgnumb/<?= urlencode($AESMYSQL->encrypt($row['BG_NUMBER'], $rand)); ?>/transid/<?= urlencode($AESMYSQL->encrypt($row['TRANSACTION_ID'], $rand)); ?>',900,600);"><u><?= "PREF-" . substr($row['TRANSACTION_ID'], -2); ?></u></a></td>
														<td><?= $this->arrListService[$row['SERVICE']]; ?></td>
														<td><?= $row['HOLD_SEQUENCE'] ?: '-'; ?></td>
														<td><?= $source; ?></td>
														<td><?= $benef; ?></td>
														<td><?= $row['SOURCE_ACCT_CCY'] ?: '-'; ?> <?= Application_Helper_General::displayMoneyplain($row['TRA_AMOUNT']); ?></td>
														<td><?= $this->arrStatusTransaction[$row['TRA_STATUS']]; ?></td>
													</tr>
												<?php endforeach; ?>

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				<?php } ?>
			<?php } ?>

			<!-- MONITOR WAKTU PEMROSESAN KLAIM -->
			<?php if ($this->getBG['PS_STATUS'] != 5 && $this->getBG['PS_STATUS'] != 4 && $this->getBG['PS_STATUS'] != 6) : ?>
				<?= $this->render('claimobligeedetail/monitorklaim.phtml'); ?>
			<?php endif ?>

			<!-- SUMBER DANA PRINCIPAL ATAU ASURANSI -->
			<?php if (($this->getBG['COUNTER_WARRANTY_TYPE'] == 1) && ($this->getBG['PS_STATUS'] == '1' || $this->getBG['PS_STATUS'] == '2' || $this->getBG['PS_STATUS'] == '3')) : ?>
				<?= $this->render('claimobligeedetail/marginaldeposit.phtml'); ?>
			<?php endif ?>

			<!-- SUMBER DANA LINE FACILITY -->
			<?php if ($this->getBG['COUNTER_WARRANTY_TYPE'] == 2 && ($this->getBG['PS_STATUS'] == '1' || $this->getBG['PS_STATUS'] == '2' || $this->getBG['PS_STATUS'] == '3')) : ?>
				<?= $this->render('claimobligeedetail/sumberdanalf.phtml'); ?>
			<?php endif ?>

			<!-- SUMBER DANA ASURANSI -->
			<?php if ($this->getBG['COUNTER_WARRANTY_TYPE'] == 3 && ($this->getBG['PS_STATUS'] == '1' || $this->getBG['PS_STATUS'] == '2' || $this->getBG['PS_STATUS'] == '3')) : ?>
				<?= $this->render('claimobligeedetail/sumberdanains.phtml'); ?>
			<?php endif ?>

			<!-- MEMO KLAIM -->
			<?= $this->render('claimobligeedetail/memo.phtml'); ?>

			<!-- LAPORAN TRANSAKSI -->
			<?php if ($this->getBG['PS_STATUS'] == 5 || $this->getBG['PS_STATUS'] == 4 || $this->getBG['PS_STATUS'] == 6) : ?>
				<?= $this->render('claimobligeedetail/laporantransaksi.phtml'); ?>
			<?php endif ?>

			<!-- MONITOR WAKTU PEMROSESAN KLAIM -->
			<?php if ($this->getBG['PS_STATUS'] == 5 || $this->getBG['PS_STATUS'] == 4 || $this->getBG['PS_STATUS'] == 6) : ?>
				<?= $this->render('claimobligeedetail/monitorklaim.phtml'); ?>
			<?php endif ?>

			<!-- BUTTON -->
			<?= $this->render('claimobligeedetail/button.phtml'); ?>

			<?php if ($this->error) { ?>
				<div class="row mt-2">
					<div class="col-md-12" align="center">
						<div class="errmsg">
							<?php
							echo $this->errorMsg;
							?>
						</div>
					</div>
				</div>
			<?php } ?>



		</form>
	</div>
</div>

<!-- MODAL -->
<?= $this->render('claimobligeedetail/modal.phtml'); ?>

<div class="modal fade" id="dialog_password" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="padding-header-cust d-flex">
					<div class="col">
						<h5 class="text-center">Persetujuan Penyelesaian</h5>
					</div>
				</div>
				<div style="padding-left:2%" class="d-flex align-items-center flex-column pt-3">
					<div style="font-size: 1.1rem;">User ID : </div>
					<div style="font-size: 1.1rem;">Silahkan masukkan password Anda untuk persetujuan</div>
					<div class="col-8 pt-2" style="position: relative;">
						<input type="password" name="password_to_ldap" class="form-control text-center" required>
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" style="height:20px; position: absolute; right:20; top: 10; cursor: pointer" id="tampil_password">
							<path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
							<path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" style="height:20px; position: absolute; right:20; top: 10; cursor: pointer; display: none" id="sembunyi_password">
							<path stroke-linecap="round" stroke-linejoin="round" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
						</svg>
					</div>
				</div>
			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('TUTUP') ?></button>
				<button type="submit" class="btngreen hov" id="persetujuan" name="persetujuan" value="1"><?php echo $this->language->_('KONFIRMASI') ?></button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal_rekening" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="padding-header-cust d-flex">
					<div class="col">
						<h5 class="text-left">Rekening Pembebanan Biaya</h5>
					</div>
				</div>
				<div class="form-group row pt-2">
					<div class="col-sm-2">
						<label for="" class="col-form-label">Nomor Rekening</label>
					</div>
					<div class="col-sm-4">
						<?php echo $this->formText('nomor_rekening', $this->nomor_rekening, array('class' => 'form-control')); ?>
					</div>
					<div class="col-sm-2">
						<button class="btnwhite hov" style="border-radius: 6px !important; height: auto !important;" type="button" onclick="inquiryAccount();"><i class="fa fa-search pr-1" style="color: #0D85F1; font-size: 14px;"></i> REKENING</button>
					</div>
				</div>
				<div class="form-group row pt-2">
					<div class="col-sm-2">
						<label for="" class="col-form-label">Nama Rekening</label>
					</div>
					<div class="col-sm-10">
						<span id="namaRekening">-</span>
						<input type="hidden" id="namaRekeningCore" />
					</div>

				</div>
				<div class="form-group row pt-2">
					<div class="col-sm-2">
						<label for="" class="col-form-label">Valuta Rekening</label>
					</div>
					<div class="col-sm-10">
						<span id="valutaRekening">-</span>
						<input type="hidden" id="valutaRekeningCore" />
					</div>

				</div>
				<div class="form-group row pt-2">
					<div class="col-sm-2">
						<label for="" class="col-form-label">Tipe Rekening</label>
					</div>
					<div class="col-sm-10">
						<span id="tipeRekening">-</span>
					</div>

				</div>
				<div class="form-group row pt-2">
					<div class="col-sm-2">
						<label for="" class="col-form-label">Produk Rekening</label>
					</div>
					<div class="col-sm-10">
						<span id="produkRekening">-</span>
					</div>

				</div>
				<label class="form-label" id="validasiRekening" style="color: red; font-size: 10px; text-align: left;"></label>
			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('BATAL') ?></button>
				<button type="button" class="btngreen hov disabled" id="pilihPembebananBiaya" disabled name="pilihPembebananBiaya" data-dismiss="modal" value="1" onclick="setRekeningBiaya()"><?php echo $this->language->_('PILIH') ?></button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal_rekening_view" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="padding-header-cust d-flex">
					<div class="col">
						<h5 class="text-left">Rekening Pembebanan Biaya</h5>
					</div>
				</div>
				<div class="form-group row pt-2">
					<div class="col-sm-2">
						<label for="" class="col-form-label">Nomor Rekening</label>
					</div>
					<div class="col-sm-10">
						<span id="nomorRekeningView">-</span>

					</div>
				</div>
				<div class="form-group row pt-2">
					<div class="col-sm-2">
						<label for="" class="col-form-label">Nama Rekening</label>
					</div>
					<div class="col-sm-10">
						<span id="namaRekeningView">-</span>

					</div>

				</div>
				<div class="form-group row pt-2">
					<div class="col-sm-2">
						<label for="" class="col-form-label">Valuta Rekening</label>
					</div>
					<div class="col-sm-10">
						<span id="valutaRekeningView">-</span>

					</div>

				</div>
				<div class="form-group row pt-2">
					<div class="col-sm-2">
						<label for="" class="col-form-label">Tipe Rekening</label>
					</div>
					<div class="col-sm-10">
						<span id="tipeRekeningView">-</span>
					</div>

				</div>
				<div class="form-group row pt-2">
					<div class="col-sm-2">
						<label for="" class="col-form-label">Produk Rekening</label>
					</div>
					<div class="col-sm-10">
						<span id="produkRekeningView">-</span>
					</div>

				</div>
				<label class="form-label" id="validasiRekening" style="color: red; font-size: 10px; text-align: left;"></label>
			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('TUTUP') ?></button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<script>
	$(document).ready(function() {
		$('#fa-angle-up').hide();
		$('#fa-angle-up1').hide();
		$('#history-body').hide();
		$('#transaksi').hide();

		// PREVENT ENTER
		$(document).ready(function() {
			$(window).keydown(function(event) {
				if (event.keyCode == 13) {
					event.preventDefault();
					return false;
				}
			});
		});

		document.querySelectorAll('label').forEach(item => {
			item.classList.add('col-form-label');
		});

		$('#bg_number').mask('AAA-AAAAAA-AAAAA-AAAA');

		refreshMarginalDeposit('<?php echo $this->getBG['BG_REG_NUMBER']; ?>');

		// VALIDATION
		$('#chooseFile').bind('change', function() {
			var filename = $("#chooseFile").val();
			if (/^\s*$/.test(filename)) {
				$(".underDocument").removeClass('active');
				$("#noFile").text("No file chosen...");
			} else {
				file = $("#chooseFile")[0].files[0];

				if (file.size > 10485760) {
					$("#chooseFile").val("");
					$("#chooseFile").removeClass("active");
					// $("#noFile").append("No file choosen...");

					$(".underDocument").removeClass('active');
					$("#noFile").text("No file chosen...");

					return alert("Your file size more than 10 MB, it should be lower than 10 MB");

					// input.value = "";
					// previousSibling.parentElement.parentElement.classList.remove("active");
					// previousSibling.textContent = "No file choosen...";

				}
				if (file.type != "application/pdf") {
					$("#chooseFile").val("");
					$("#chooseFile").removeClass("active");
					// $("#noFile").append("No file choosen...");

					$(".underDocument").removeClass('active');
					$("#noFile").text("No file chosen...");

					// input.value = "";
					// previousSibling.parentElement.parentElement.classList.remove("active");
					// previousSibling.textContent = "No file choosen...";
					return alert("Your file type is not supported. Supported file (only PDF)");
				}
				if (/^\s*$/.test($("#chooseFile").val())) {
					$("#chooseFile").val("");
					$("#chooseFile").removeClass("active");
					$(".underDocument").removeClass('active');
					$("#noFile").text("No file chosen...");
					// $("#noFile").append("No file choosen...");
					// previousSibling.parentElement.parentElement.classList.remove("active");
					// previousSibling.textContent = "No file choosen...";
				} else {
					// previousSibling.parentElement.parentElement.classList.add("active");
					$("#chooseFile").addClass("active");
					$("#chooseFile").text().replace("C:\\fakepath\\", "");
				}


				document.querySelector("#check_exist_gt").value = file.name;
				$(".underDocument").addClass('active');
				$("#noFile").text(filename.replace("C:\\fakepath\\", ""));

			}
		});

	});

	document.addEventListener("DOMContentLoaded", () => {
		// document.querySelector("input[name='email']").addEventListener('keyup', preventSpace)

		if (document.querySelector("#centerpage").childNodes.length == 7) {
			document.querySelector("#centerpage").lastChild.remove()
		}

		<?php if ($this->getBG['PS_STATUS'] == 2) { ?>

			document.querySelector("#lanjut")?.addEventListener("click", () => {
				$('#dialog_password').modal({
					backdrop: "static",
					show: true,
					keyboard: false
				});
			})
		<?php } ?>


		document.querySelector("#tampil_password").addEventListener("mouseover", (event) => {
			document.querySelector("[name='password_to_ldap']").setAttribute("type", "text");
			event.target.style.display = "none"
			document.querySelector("#sembunyi_password").style.display = "block"
		})

		document.querySelector("#sembunyi_password").addEventListener("mouseleave", (event) => {
			document.querySelector("[name='password_to_ldap']").setAttribute("type", "password");
			event.target.style.display = "none"
			document.querySelector("#tampil_password").style.display = "block"
		})
	})

	function inquiryAccount(id) {

		var getSelectAccNumber = document.querySelector("#nomor_rekening");

		$.ajax({
			url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquiryaccountinfo'), null, true) ?>",
			type: 'GET',
			dataType: "JSON",
			data: {
				acct_no: getSelectAccNumber.value,
			},
			success: function(data) {

				if (data.response_code == "0000") {
					$("#validasiRekening").html("");
					$("#validasiRekening").hide();
					$("#namaRekening").html(data.account_name);
					$("#namaRekeningCore").val(data.account_name);
					$("#valutaRekening").html(data.currency);
					$("#valutaRekeningCore").val(data.currency);
					$("#tipeRekening").html(data.type_desc);
					$("#produkRekening").html(data.product_type + ' - ' + data.produc_desc);

					$("#pilihPembebananBiaya").prop("disabled", false);
					$("#pilihPembebananBiaya").removeClass("disabled");

				} else {
					$("#validasiRekening").html("Error : Akun tidak ditemukan");
					$("#validasiRekening").show();
				}

				if (data == "false") {
					$("#validasiRekening").html("Error : Akun tidak ditemukan");
					$("#validasiRekening").show();
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				console.info(thrownError);
				alert("Failed to get where column list, please try again");
			}
		});

	}

	function setRekeningBiaya() {
		var nomor_rekening = document.querySelector("#nomor_rekening");
		var valutaRekeningCore = document.querySelector("#valutaRekeningCore");
		var namaRekeningCore = document.querySelector("#namaRekeningCore");
		$("#rekening_biaya").val(nomor_rekening.value + ' (' + valutaRekeningCore.value + ') ' + namaRekeningCore.value);
		$("#rekening_biaya_val").val(nomor_rekening.value);
	}

	function charges(selected) {
		var id = $(selected).val();
		const formatCurrency = new Intl.NumberFormat('en-US', {
			minimumFractionDigits: 2,
			maximumFractionDigits: 2
		});
		if (id == '1') {
			$('#biayaTransfer').html("(Biaya : IDR " + formatCurrency.format('<?= $this->global_charges_skn; ?>') + ")");
			$('#valBiayaTransfer').val(<?= $this->global_charges_skn; ?>);
		} else if (id == '2') {
			$('#biayaTransfer').html("(Biaya : IDR " + formatCurrency.format('<?= $this->global_charges_rtgs; ?>') + ")");
			$('#valBiayaTransfer').val(<?= $this->global_charges_rtgs; ?>);
		} else {
			$('#biayaTransfer').html("");
			$('#valBiayaTransfer').val('');
		}
	}


	function modalrekening() {
		$("#modal_rekening").modal();
	}

	function modalrekeningview() {
		$("#modal_rekening_view").modal();

		var getSelectAccNumber = document.querySelector("#rekening_biaya_val");

		$.ajax({
			url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquiryaccountinfo'), null, true) ?>",
			type: 'GET',
			dataType: "JSON",
			data: {
				acct_no: getSelectAccNumber.value,
			},
			success: function(data) {

				if (data.response_code == "0000") {

					$("#nomorRekeningView").html(data.account_number);
					$("#namaRekeningView").html(data.account_name);
					$("#valutaRekeningView").html(data.currency);
					$("#tipeRekeningView").html(data.type_desc);
					$("#produkRekeningView").html(data.product_type + ' - ' + data.produc_desc);

				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				console.info(thrownError);
				alert("Failed to get where column list, please try again");
			}
		});
	}

	function refreshMarginalDeposit(reqNumber) {
		$('#iconRefresh').hide();
		$('#iconLoad').show();
		$.ajax({
			url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquirymarginaldeposit'), null, true) ?>",
			type: 'GET',
			dataType: "html",
			data: {
				reqNumber: reqNumber,
			},
			complete: function() {
				$('#iconLoad').hide();
				$('#iconRefresh').show();
			},
			success: function(data) {
				$('#tableMarginalDeposit').html(data);
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert("Failed to get where column list, please try again");
			}
		});

	}

	function historyShow() {
		$('#fa-angle-down').hide();
		$('#fa-angle-up').show();
		$('#history-body').show();
	}

	function historyHide() {
		$('#fa-angle-down').show();
		$('#fa-angle-up').hide();
		$('#history-body').hide();
	}


	function historyShow1() {
		$('#fa-angle-down1').hide();
		$('#fa-angle-up1').show();
		$('#transaksi').show();
	}

	function historyHide1() {
		$('#fa-angle-down1').show();
		$('#fa-angle-up1').hide();
		$('#transaksi').hide();
	}
</script>