<?php
require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
?>

<div class="row">
    <div class="col-md-12" style="height: auto; position: relative;">
        <div class="padding-header-cust my-2">
            <h5><?= $this->language->_('Memo / Surat Persetujuan Klaim') ?></h5>
        </div>
        <div id="sertifikatBG" class="mb-3 pl-3">
            <div class="form-group row pt-2">
                <div class="col-md-4 d-flex align-items-center">
                    <label for="" class="text-gray col-form-label">
                        <?= $this->language->_('Unggah Dasar Penentuan'); ?> .pdf
                        <?php if ($this->getBG['PS_STATUS'] != '3') : ?>
                            <span class="text-danger font-weight-bold"> *</span>
                        <?php endif ?>
                    </label>
                </div>
                <div class="col-sm-8">
                    <?php if ($this->getBG['PS_STATUS'] != 3 && $this->getBG['PS_STATUS'] != 5 && $this->getBG['PS_STATUS'] != 4 && $this->getBG['PS_STATUS'] != 6) { ?>
                        <div class="px-2 py-1 position-relative rounded" style="background-color: white; box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%); border: 1px solid #ced4da;">
                            <input type="file" name="dasar_penentuan" id="dasar_penentuan" class="form-control-file lampiran-dokumen-memo <?= ($this->getBG['PS_STATUS'] == '2') ? 'd-inline-block' : '' ?>" size="100" style="font-size: 16px;<?= ($this->getBG['PS_STATUS'] == '2') ? 'width: 0px' : '' ?>" accept=".pdf" <?= ($this->getBG['PS_STATUS'] == '2') ? '' : 'required' ?>>
                            <?php if ($this->getBG['PS_STATUS'] == '2') : ?>
                                <?php
                                $memo = array_shift(array_filter($this->lampiranDokumen, function ($item) {
                                    return strtolower($item['FILE_NOTE']) == 'memo / surat persetujuan klaim';
                                }));

                                $memoExplode = explode('_', $memo['BG_FILE']);
                                $memoName = str_replace([$memoExplode[0], $memoExplode[1], $memoExplode[2]], '', $memo['BG_FILE']);
                                $memoName = trim($memoName, '_');
                                ?>
                                <span style="font-size: 16px;"><button type="button" class="mr-1"><label for="dasar_penentuan" style="font-size: 16px;padding: 0 !important">Pilih File</label></button><?= $memoName; ?></span>
                            <?php endif ?>
                        </div>
                    <?php } else {
                        $memo = array_shift(array_filter($this->lampiranDokumen, function ($item) {
                            return strtolower($item['FILE_NOTE']) == 'memo / surat persetujuan klaim';
                        }));

                        if ($this->getBG['PS_STATUS'] == 5 || $this->getBG['PS_STATUS'] == 4 || $this->getBG['PS_STATUS'] == 6) {
                            $memo = array_shift(array_filter($this->lampiranDokumenSelesai, function ($item) {
                                return strtolower($item['FILE_NOTE']) == 'memo / surat persetujuan klaim';
                            }));
                        }

                        $memoExplode = explode('_', $memo['BG_FILE']);
                        $memoName = str_replace([$memoExplode[0], $memoExplode[1], $memoExplode[2]], '', $memo['BG_FILE']);
                        $memoName = trim($memoName, '_');
                    ?>
                        <div class="d-flex align-items-center w-75" style="gap: 10px;">
                            <input type="text" class="form-control" style="font-size: 16px;" value="<?= $memoName; ?>" disabled>
                            <span style="cursor: pointer;" onclick="javascript:downloadmemo()">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="height: 20px; width: 20px;">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 13.5l3 3m0 0l3-3m-3 3v-6m1.06-4.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                                </svg>

                            </span>
                        </div>
                    <?php } ?>
                </div>
            </div>

            <?php if ($this->bankCode != 200) : ?>
                <div class="form-group row mt-2">
                    <div class="col-sm-4 d-flex align-items-center">
                        <label for="" class="text-gray col-form-label">
                            <?= $this->language->_('Rekening Pembebanan Biaya'); ?>
                            <?php if ($this->getBG['PS_STATUS'] != '3') : ?>
                                <span class="text-danger font-weight-bold"> *</span>
                            <?php endif ?>
                        </label>
                    </div>
                    <div class="col-sm-8">
                        <?php
                        $lastVerif = new DateTime($this->getBG['CLAIM_FIRST_VERIFIED']);
                        $timeDifferenceSinceVerif = $lastVerif->diff(new DateTime(date('Y-m-d H:i:s')));
                        ?>
                        <div class="d-flex align-items-center <?= $this->getBG['PS_STATUS'] != 3 && $this->getBG['PS_STATUS'] != 5 && $this->getBG['PS_STATUS'] != 4 && $this->getBG['PS_STATUS'] != 6 ? '' : 'w-75' ?>" style="font-weight:bold;gap: 10px;">
                            <div class="w-100">
                                <?php
                                $acctFee = '';
                                if ($this->dataListAccount_ins['Charge Account Number']) {
                                    $acctFee = implode(' ', [$this->dataListAccount_ins['Charge Account Number'], '(' . $this->dataListAccount_ins['Charge Account CCY'] . ')', '/ ' . $this->dataListAccount_ins['Charge Account Name'] . '']);
                                }
                                ?>
                                <input type="text" class="form-control" style="font-size: 16px;" id="disabledrekbeban" value="<?= ($this->getBG['PS_STATUS'] != '1') ? $acctFee : ''; ?>" disabled>
                            </div>

                            <!-- INPUT REKENING BEBAN BIAYA -->
                            <input type="hidden" name="beban_acct_name">
                            <input type="hidden" name="beban_acct_number">
                            <input type="hidden" name="beban_acct_currency">
                            <input type="hidden" name="beban_acct_produk">
                            <input type="hidden" name="beban_acct_tipe">

                            <div>
                                <span style="cursor: pointer;" onclick="javascript:showdetailrekbeban()">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 20px;height: 20px;">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                                    </svg>
                                </span>
                            </div>
                            <?php if ($this->getBG['PS_STATUS'] != 3 && $this->getBG['PS_STATUS'] != 5 && $this->getBG['PS_STATUS'] != 4 && $this->getBG['PS_STATUS'] != 6) : ?>
                                <div>
                                    <button class="btngreen hov" type="button" id="btnrekpembebananbiaya"><i class="fa fa-search mr-2" aria-hidden="true"></i><?= $this->language->_('REKENING'); ?></button>
                                </div>
                            <?php endif ?>
                        </div>
                    </div>
                </div>
            <?php endif ?>
        </div>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="rekpembebananbiaya" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex mb-4">
                    <label class="font-weight-bold"><?= $this->language->_('Rekening Pembebanan Biaya'); ?></label>
                </div>
                <div class="pl-3 mb-3">
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Nomor Rekening'); ?></label></div>
                        <div class="col-8 d-flex flex-column">
                            <div id="acctnumberrekbebandiv" class="d-flex align-items-center" style="gap: 10px">
                                <input type="text" class="form-control" onkeydown="return forceNumberOCBC(event)" style="font-size: 16px;" id="acctnumberrekbeban" maxlength="16" autocomplete="off">
                                <button class="btngreen hov" type="button" id="inquiryrekpembebananbiaya"><span id="btnlabelrekbeban"><i class="fa fa-search mr-2" aria-hidden="true"></i><?= $this->language->_('REKENING'); ?></span> <img src="/images/logo/35.gif" id="loadinginqrekbeban" style="width: 13px" class="hidden"></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Nama Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="nameacctrekpembebanan_charge">-</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Valuta Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label>
                                <span id="valutaacctrekpembebanan_charge">-</span>
                                <span id="error_valuta_beban" class="hidden">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 20px; height: 20px;" class="text-danger" data-toggle='tooltip' data-placement="right" title="<?= $this->language->_('Bukan IDR'); ?>">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                                    </svg>

                                </span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Tipe Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="tipeacctrekpembebanan_charge">-</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Produk Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="produkacctrekpembebanan_charge">-</label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center" style="gap : 10px">
                    <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Batal'); ?></button>
                    <button type="button" class="btngreen hov" id="btn_pilih_beban"><?= $this->language->_('Pilih'); ?></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailrekpembebananbiaya" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex mb-4">
                    <label class="font-weight-bold"><?= $this->language->_('Detail Rekening Sumber Dana'); ?></label>
                </div>
                <div class="pl-3 mb-3">
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Nomor Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="nomoracctrekpembebanan_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? $this->dataListAccount_ins['Charge Account Number'] : '-'; ?></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Nama Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="nameacctrekpembebanan_charge_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? $this->dataListAccount_ins['Charge Account Name'] : '-'; ?></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Valuta Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="valutaacctrekpembebanan_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? $this->dataListAccount_ins['Charge Account CCY'] : '-'; ?></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Tipe Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="tipeacctrekpembebanan_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? '' : '-'; ?></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Produk Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="produkacctrekpembebanan_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? '' : '-'; ?></label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center" style="gap : 10px">
                    <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Tutup'); ?></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function showdetailrekbeban() {
        $('#detailrekpembebananbiaya').modal({
            backdrop: 'static',
            keyboard: false,
        });
    }

    <?php if ($this->getBG['PS_STATUS'] == 3 || $this->getBG['PS_STATUS'] == 4 || $this->getBG['PS_STATUS'] == 5 || $this->getBG['PS_STATUS'] == 6) : ?>

        function downloadmemo() {
            window.open(`/bgclosingworkflow/claimobligeedetail/downloadmemo/closerefnumber/<?= urlencode($AESMYSQL->encrypt($this->getBG['CLOSE_REF_NUMBER'], uniqid())); ?>`);
        }
    <?php endif ?>

    async function inquiryrekbeban(event, beban = false, acctnumber = false) {

        document.querySelector('#inquiryrekpembebananbiaya').querySelector('span').classList.add('hidden');
        document.querySelector('#inquiryrekpembebananbiaya').querySelector('img').classList.remove('hidden');

        const acctNumber = acctnumber ? acctnumber : document.querySelector('#acctnumberrekbeban').value;

        if (!acctNumber) {
            alert('<?= $this->language->_('Nomor Rekening Tidak Boleh Kosong'); ?>');
            document.querySelector('#inquiryrekpembebananbiaya').querySelector('span').classList.remove('hidden');
            document.querySelector('#inquiryrekpembebananbiaya').querySelector('img').classList.add('hidden');
            return;
        }

        if (acctNumber.length != 16) {
            alert('<?= $this->language->_('Nomor Rekening Harus 16 Digit'); ?>');
            document.querySelector('#inquiryrekpembebananbiaya').querySelector('span').classList.remove('hidden');
            document.querySelector('#inquiryrekpembebananbiaya').querySelector('img').classList.add('hidden');
            return;
        }

        document.querySelector('#acctnumberrekbeban').setAttribute('disabled', 'disabled');

        await $.ajax({
            url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'inquirypembebananbiayanew'), null, true) ?>",
            type: 'GET',
            dataType: "JSON",
            data: {
                acctnumber: acctNumber,
                owneracct: '<?= urlencode($AESMYSQL->encrypt($this->getBG['CUST_ID'], uniqid())); ?>',
                amount: document.querySelector('#valBiayaTransfer').value
            },
            success: function(data) {
                if (data.error) {
                    document.querySelector('#acctnumberrekbeban').removeAttribute('disabled');
                    document.querySelector('#inquiryrekpembebananbiaya').removeAttribute('disabled');
                    document.querySelector('#inquiryrekpembebananbiaya').classList.remove('disabled');

                    if (document.querySelector('#acctnumberrekbebandiv').nextElementSibling?.tagName.toLowerCase() == 'small') {
                        document.querySelector('#acctnumberrekbebandiv').nextElementSibling?.remove();
                    }

                    const error_rekening = document.createElement('small');
                    error_rekening.classList.add('text-danger', 'font-weight-bold', 'error-validasi');
                    error_rekening.innerText = data.result;

                    document.querySelector('#acctnumberrekbebandiv').after(error_rekening);

                } else {

                    document.querySelector('#nameacctrekpembebanan_charge').innerText = data.result.account_name;
                    document.querySelector('#valutaacctrekpembebanan_charge').innerText = data.result.currency;
                    document.querySelector('#tipeacctrekpembebanan_charge').innerText = data.result.type_desc;
                    document.querySelector('#produkacctrekpembebanan_charge').innerText = `${data.result.product_type} - ${data.result.produc_desc}`;

                    if (document.querySelector('#acctnumberrekbebandiv').nextElementSibling?.tagName.toLowerCase() == 'small') {
                        document.querySelector('#acctnumberrekbebandiv').nextElementSibling?.remove();
                    }

                    if (data.result.currency.toLowerCase() !== 'idr') {
                        document.querySelector('#acctnumberrekbeban').removeAttribute('disabled');
                        document.querySelector('#inquiryrekpembebananbiaya').removeAttribute('disabled');
                        document.querySelector('#inquiryrekpembebananbiaya').classList.remove('disabled');

                        document.querySelector('#btn_pilih_beban').classList.add('disabled');
                        document.querySelector('#btn_pilih_beban').setAttribute('disabled', 'disabled');

                        $('[data-toggle="tooltip"]').tooltip();

                        document.querySelector('#error_valuta_beban').classList.remove('hidden');
                    } else {
                        document.querySelector('#inquiryrekpembebananbiaya').setAttribute('disabled', 'disabled');
                        document.querySelector('#inquiryrekpembebananbiaya').classList.add('disabled');

                        document.querySelector('#btn_pilih_beban').classList.remove('disabled');
                        document.querySelector('#btn_pilih_beban').removeAttribute('disabled');

                        document.querySelector('#error_valuta_beban').classList.add('hidden');

                        localStorage.setItem('number_beban', acctNumber);
                        localStorage.setItem('name_beban', data.result.account_name);
                        localStorage.setItem('currency_beban', data.result.currency);
                        localStorage.setItem('type_beban', data.result.type);
                        localStorage.setItem('type_desc_beban', data.result.type_desc);
                        localStorage.setItem('product_beban', data.result.product_type);
                        localStorage.setItem('product_desc_beban', data.result.produc_desc);

                        // JIKA PERBAIKAN
                        if (beban) pilihrekbeban();
                    }


                }
            },
            complete: () => {
                document.querySelector('#inquiryrekpembebananbiaya').querySelector('span').classList.remove('hidden');
                document.querySelector('#inquiryrekpembebananbiaya').querySelector('img').classList.add('hidden');
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log("Failed to get data");
            }
        });
    }

    function pilihrekbeban() {
        if (document.querySelector('#nameacctrekpembebanan_charge').innerText.toLowerCase() == '-') {
            alert('<?= $this->language->_('Silahkan Inquiry Rekening Terlebih Dahulu'); ?>');
            return;
        }

        document.querySelector('[name="beban_acct_number"]').value = localStorage.getItem('number_beban');
        document.querySelector('[name="beban_acct_name"]').value = localStorage.getItem('name_beban');
        document.querySelector('[name="beban_acct_currency"]').value = localStorage.getItem('currency_beban');
        document.querySelector('[name="beban_acct_produk"]').value = localStorage.getItem('product_beban');
        document.querySelector('[name="beban_acct_tipe"]').value = localStorage.getItem('type_beban');

        document.querySelector('#nomoracctrekpembebanan_detail').innerText = localStorage.getItem('number_beban');
        document.querySelector('#nameacctrekpembebanan_charge_detail').innerText = localStorage.getItem('name_beban');
        document.querySelector('#valutaacctrekpembebanan_detail').innerText = localStorage.getItem('currency_beban');
        document.querySelector('#tipeacctrekpembebanan_detail').innerText = localStorage.getItem('type_desc_beban');
        document.querySelector('#produkacctrekpembebanan_detail').innerText = `${localStorage.getItem('product_beban')} - ${localStorage.getItem('product_desc_beban')}`;


        document.querySelector('#disabledrekbeban').value = `${localStorage.getItem('number_beban')} (${localStorage.getItem('currency_beban')}) / ${localStorage.getItem('name_beban')}`;
        $('#rekpembebananbiaya').modal('hide');

        disabledrekbeban.nextElementSibling?.remove();
    }

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#btnrekpembebananbiaya')?.addEventListener('click', () => {
            $('#rekpembebananbiaya').modal({
                backdrop: 'static',
                keyboard: false,
            });
        });

        $('#rekpembebananbiaya').on('show.bs.modal', () => {

            document.querySelector('#acctnumberrekbeban').removeAttribute('disabled');
            document.querySelector('#acctnumberrekbeban').value = '';
            document.querySelector('#inquiryrekpembebananbiaya').removeAttribute('disabled');
            document.querySelector('#inquiryrekpembebananbiaya').classList.remove('disabled');

            document.querySelector('#acctnumberrekbebandiv').nextElementSibling?.remove();

            document.querySelector('#nameacctrekpembebanan_charge').innerText = '-';
            document.querySelector('#valutaacctrekpembebanan_charge').innerText = '-';
            document.querySelector('#tipeacctrekpembebanan_charge').innerText = '-';
            document.querySelector('#produkacctrekpembebanan_charge').innerText = '-';

            document.querySelector('#error_valuta_beban').classList.add('hidden');
            document.querySelector('#btn_pilih_beban').classList.remove('disabled');
            document.querySelector('#btn_pilih_beban').removeAttribute('disabled');
        });

        document.querySelector('#btn_pilih_beban')?.addEventListener('click', pilihrekbeban);

        document.querySelector('#inquiryrekpembebananbiaya').addEventListener('click', inquiryrekbeban);

        $(`.lampiran-dokumen-memo`).bind('change', function() {

            file = this.files[0];

            if (!file) {
                $(this).val("");

                <?php if ($this->getBG['PS_STATUS'] == '2') : ?>
                    document.querySelector('[name="dasar_penentuan"]').style.width = '75px';
                    document.querySelector('[name="dasar_penentuan"]').nextElementSibling?.classList.remove('hidden');
                <?php endif ?>

                return;
            }
            const fileExt = file.name.split('.').pop();

            if (file.size > 10485760) {
                $(this).val("");

                <?php if ($this->getBG['PS_STATUS'] == '2') : ?>
                    document.querySelector('[name="dasar_penentuan"]').style.width = '75px';
                    document.querySelector('[name="dasar_penentuan"]').nextElementSibling?.classList.remove('hidden');
                <?php endif ?>

                return alert("<?= $this->language->_('File tidak boleh lebih dari 10MB'); ?>");
            }
            if (fileExt != 'pdf') {
                $(this).val("");

                <?php if ($this->getBG['PS_STATUS'] == '2') : ?>
                    document.querySelector('[name="dasar_penentuan"]').style.width = '75px';
                    document.querySelector('[name="dasar_penentuan"]').nextElementSibling?.classList.remove('hidden');
                <?php endif ?>

                return alert("<?= $this->language->_('Tipe dokumen tidak didukung (hanya PDF)'); ?>");
            }

            <?php if ($this->getBG['PS_STATUS'] == '2') : ?>
                document.querySelector('[name="dasar_penentuan"]').style.width = '';
                document.querySelector('[name="dasar_penentuan"]').nextElementSibling?.classList.add('hidden');
            <?php endif ?>
        });

        // PERBAIKAN
        <?php if (($this->getBG['PS_STATUS'] == '2' || $this->getBG['PS_STATUS'] == '3' || $this->getBG['PS_STATUS'] == '4') && $this->dataListAccount['SWIFT CODE'] != 'BTANIDJA') : ?>
            document.querySelector('#acctnumberrekbeban').value = '<?= $this->dataListAccount_ins['Charge Account Number']; ?>';
            inquiryrekbeban('', true, '<?= $this->dataListAccount_ins['Charge Account Number']; ?>');
        <?php endif ?>
    });
</script>