<div class="row">
    <div class="col-md-12" style="height: auto; position: relative;">
        <div class="padding-header-cust my-2">
            <h5><?= $this->language->_('Rekening Tujuan Pembayaran Klaim') ?></h5>
        </div>
        <div class="pl-3">
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="textGray"><?= $this->language->_('Tipe Transfer') ?><?= ($this->bankCode != '200' && $this->getBG['PS_STATUS'] != 3 && $this->getBG['PS_STATUS'] != 4 && $this->getBG['PS_STATUS'] != 5 ? '<strong class="formreq"> <font color="red">&nbsp;*</font> </strong>' : '') ?></label>
                </div>
                <div class="col-md-4 d-flex align-items-center">
                    <?php
                    if ($this->bankCode == '200') {
                    ?>
                        <label id="COUNTER_WARRANTY_TYPE_LBL">Transfer BTN</label>
                    <?php
                    } else {
                        $validrtgs = ($this->beneficiaryAmount >= $this->minrtgs && $this->beneficiaryAmount <= $this->maxrtgs) ? true : false;
                        $validskn = ($this->beneficiaryAmount >= $this->minskn && $this->beneficiaryAmount <= $this->maxskn) ? true : false;
                    ?>
                        <select <?= ($validrtgs && $validskn) ? 'name="transferType"' : '' ?> id="transferType" class="<?= $this->getBG['PS_STATUS'] == 3 || $this->getBG['PS_STATUS'] == 4 || $this->getBG['PS_STATUS'] == 5 || $this->getBG['PS_STATUS'] == 6 ? 'hidden' : 'form-control' ?>" onchange="charges(this)" <?= ($validrtgs && $validskn) ? '' : 'disabled' ?> style="font-size: 1.2em;" required>
                            <option value="">Pilih</option>
                            <?php if ($validskn) : ?>
                                <option value="1" <?= ($validrtgs && $validskn) ? ($this->dataListAccount_ins['Claim Transfer Type'] == 1 && $this->getBG['PS_STATUS'] == 3 || $this->getBG['PS_STATUS'] == 4 || $this->getBG['PS_STATUS'] == 5 || $this->getBG['PS_STATUS'] == 6 ? 'selected' : ($this->dataListAccount_ins['Claim Transfer Type'] == 1 && $this->getBG['PS_STATUS'] == 2 ? 'selected' : '')) : 'selected'; ?>>SKN</option>
                            <?php endif ?>
                            <?php if ($validrtgs) : ?>
                                <option value="2" <?= ($validrtgs && $validskn) ? ($this->dataListAccount_ins['Claim Transfer Type'] == 2 && $this->getBG['PS_STATUS'] == 3 || $this->getBG['PS_STATUS'] == 4 || $this->getBG['PS_STATUS'] == 5 || $this->getBG['PS_STATUS'] == 6 ? 'selected' : ($this->dataListAccount_ins['Claim Transfer Type'] == 2 && $this->getBG['PS_STATUS'] == 2 ? 'selected' : '')) : 'selected'; ?>>RTGS</option>
                            <?php endif ?>
                        </select>

                        <?php if ($this->getBG['PS_STATUS'] == '3' || $this->getBG['PS_STATUS'] == 4 || $this->getBG['PS_STATUS'] == 5 || $this->getBG['PS_STATUS'] == 6) : ?>
                            <label><?= $this->dataListAccount_ins['Claim Transfer Type'] == 1 ? 'SKN' : 'RTGS' ?></label>
                        <?php endif ?>

                        <?php if (!$validrtgs && $validskn) : ?>
                            <input type="hidden" name="transferType" value="1">
                        <?php endif ?>
                        <?php if ($validrtgs && !$validskn) : ?>
                            <input type="hidden" name="transferType" value="2">
                        <?php endif ?>

                        <?php if ($this->getBG['PS_STATUS'] == 3) : ?>
                            <label id="biayaTransfer" class="font-italic ml-2"></label>
                        <?php endif ?>
                    <?php
                    }
                    ?>
                </div>
                <?php if ($this->getBG['PS_STATUS'] != 3) : ?>
                    <div class="col-md-4">
                        <label id="biayaTransfer" class="font-italic"></label>
                    </div>
                <?php endif ?>
                <input type="hidden" id="valBiayaTransfer">
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="textGray"><?= $this->language->_('Bank Penerima') ?></label>
                </div>
                <div class="col-md-8">
                    <label><?= $this->beneficiaryBankName; ?></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="textGray"><?= $this->language->_('Rekening Penerima') ?></label>
                </div>
                <div class="col-md-8">
                    <label><?= $this->beneficiaryAccount; ?></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="textGray"><?= $this->language->_('Nama Penerima') ?></label>
                </div>
                <div class="col-md-8">
                    <label><?= $this->beneficiaryName; ?></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="textGray"><?= $this->language->_('Alamat Penerima') ?></label>
                </div>
                <div class="col-md-8">
                    <label><?= $this->beneficiaryAddress ?: '-'; ?></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="textGray"><?= $this->language->_('Nominal Pembayaran') ?></label>
                </div>
                <div class="col-md-8">
                    <label class="text-danger font-weight-bold"><?= $this->beneficiaryCurrency; ?> <?= number_format($this->beneficiaryAmount, 2) ?></label>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-md-4">
                    <label class="textGray"><?= $this->language->_('Berita') ?></label>
                </div>
                <div class="col-md-8">
                    <label><?= $this->beneficiaryRemark; ?></label>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        <?php if (($validrtgs && !$validskn) || (!$validrtgs && $validskn)) : ?>
            document.querySelector('#transferType').dispatchEvent(new Event('change'));
        <?php endif ?>
        <?php if (($this->getBG['PS_STATUS'] == 3 || $this->getBG['PS_STATUS'] == 2) && $this->bankCode != 200) : ?>
            document.querySelector('#transferType').dispatchEvent(new Event('change'));
        <?php endif ?>
    });
</script>