<?php
require_once 'Crypt/AESMYSQL.php';
$AESMYSQL = new Crypt_AESMYSQL();
?>

<div class="row">
    <div class="col-md-12" style="height: auto; position: relative;">
        <div class="padding-header-cust my-2">
            <h5><?= $this->language->_('Konfirmasi Sumber Dana Pembayaran Klaim') ?> (<span class="font-italic">total : <?= implode(' ', [$this->bgdetaildata['currency'], number_format($this->getBG['BG_AMOUNT'], 2)]); ?></span>)</h5>
        </div>
        <div id="sertifikatBG" class="mb-3 pl-3">

            <!-- SUMBER DANA PEMBAYARAN -->
            <div class="form-group row mt-2">
                <div class="col-sm-4 d-flex align-items-center">
                    <label for="" class="text-gray col-form-label">
                        <?= $this->language->_('Sumber Dana Pembayaran'); ?>
                        <span class="text-danger font-weight-bold">*</span>
                    </label>
                </div>
                <div class="col-sm-8 d-flex align-items-center">
                    <div class="<?= $this->getBG['PS_STATUS'] == '3' ? 'w-75' : 'w-100'; ?>">
                        <select name="sumber_dana_type" id="sumber_dana_type" class="form-control" style="font-size: 16px; <?= $this->getBG['PS_STATUS'] == '3' ? 'appearance: none' : ''; ?>" <?= $this->getBG['PS_STATUS'] == '3' ? 'disabled' : ''; ?>>
                            <option value="1" <?= $this->dataListAccount_ins['Source of Payment'] == 1 ? 'selected' : ''; ?>><?= $this->language->_('Rekening Principal'); ?></option>
                            <option value="2" <?= $this->dataListAccount_ins['Source of Payment'] == 5 ? 'selected' : ''; ?>><?= $this->language->_('KMK Principal'); ?></option>
                        </select>

                        <?php if ($this->getBG['PS_STATUS'] == '3') : ?>
                            <input type="hidden" name="sumber_dana_type" value="<?= $this->dataListAccount_ins['Source of Payment']; ?>">
                        <?php endif ?>
                    </div>
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-sm-4 d-flex align-items-center">
                    <label for="" class="text-gray col-form-label">
                        <?= $this->language->_('Rekening Sumber Dana'); ?>
                        <span class="text-danger font-weight-bold"> *</span>
                    </label>
                </div>
                <div class="col-sm-8">
                    <div class="d-flex align-items-center" style="font-weight:bold;gap: 10px;">
                        <div class="w-75">
                            <input type="text" class="form-control" style="font-size: 16px;" id="disabledreksumberlf" value="<?= $acctFee; ?>" disabled>
                        </div>

                        <!-- INPUT REKENING BEBAN BIAYA -->
                        <input type="hidden" name="lfsumber_acct_name">
                        <input type="hidden" name="lfsumber_acct_number">
                        <input type="hidden" name="lfsumber_acct_currency">
                        <input type="hidden" name="lfsumber_acct_produk">
                        <input type="hidden" name="lfsumber_acct_tipe">

                        <div>
                            <span style="cursor: pointer;" onclick="javascript:showdetailreklf()">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 20px;height: 20px;">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                                </svg>
                            </span>
                        </div>
                        <?php if ($this->getBG['PS_STATUS'] != '3') : ?>
                            <div>
                                <button class="btngreen hov" type="button" id="btnreksumberlf"><i class="fa fa-search mr-2" aria-hidden="true"></i><?= $this->language->_('REKENING'); ?></button>
                            </div>
                        <?php endif ?>
                    </div>
                </div>
            </div>

            <!-- NOMINAL PEMBAYARAN -->
            <div class="form-group row mt-2">
                <div class="col-sm-4 d-flex align-items-center">
                    <label for="" class="text-gray col-form-label">
                        <?= $this->language->_('Nominal Pembayaran'); ?>
                    </label>
                </div>
                <div class="col-sm-8">
                    <div class="d-flex align-items-center" style="font-weight:bold;gap: 10px;">
                        <div class="w-75">
                            <input type="text" class="form-control" style="font-size: 16px;" value="<?= implode(' ', [$this->bgdetaildata['currency'], number_format($this->dataListAccount['Transaction Amount'] - $this->totalAmountSplit, 2)]); ?>" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="reksumberlf" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex mb-4">
                    <label class="font-weight-bold"><?= $this->language->_('Rekening Sumber Dana'); ?></label>
                </div>
                <div class="pl-3 mb-3">
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Nomor Rekening'); ?></label></div>
                        <div class="col-8">
                            <div id="acctnumberreksumberlfdiv" class="d-flex align-items-center" style="gap: 10px">
                                <input type="text" class="form-control" onkeydown="return forceNumberOwn(event)" style="font-size: 16px;" id="acctnumberreksumberlf" maxlength="16" autocomplete="off">
                                <button class="btngreen hov" type="button" id="inquiryreksumberlf"><span id="btnlabelrekbeban"><i class="fa fa-search mr-2" aria-hidden="true"></i><?= $this->language->_('REKENING'); ?></span> <img src="/images/logo/35.gif" id="loadinginqrekbeban" style="width: 13px" class="hidden"></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Nama Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="nameacctrekpembebanan">-</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Valuta Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label>
                                <span id="valutaacctrekpembebanan">-</span>
                                <span id="error_valuta_lf" class="hidden">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 20px; height: 20px;" class="text-danger" data-toggle='tooltip' data-placement="right" title="<?= $this->language->_('Bukan IDR'); ?>">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                                    </svg>

                                </span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Tipe Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="tipeacctrekpembebanan">-</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Produk Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="produkacctrekpembebanan">-</label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center" style="gap : 10px">
                    <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Batal'); ?></button>
                    <button type="button" class="btngreen hov" id="btn_pilih_sumber_lf"><?= $this->language->_('Pilih'); ?></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailreksumberlf" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex mb-4">
                    <label class="font-weight-bold"><?= $this->language->_('Detail Rekening Sumber Dana'); ?></label>
                </div>
                <div class="pl-3 mb-3">
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Nomor Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="nomoracctreksumberlf_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? $this->dataListAccount['Charge Account Number'] : '-'; ?></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Nama Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="nameacctreksumberlf_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? $this->dataListAccount['Charge Account Name'] : '-'; ?></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Valuta Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="valutaacctreksumberlf_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? $this->dataListAccount['Charge Account CCY'] : '-'; ?></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Tipe Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="tipeacctreksumberlf_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? '' : '-'; ?></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"><label><?= $this->language->_('Produk Rekening'); ?></label></div>
                        <div class="col-8 d-flex align-items-center" style="gap: 10px">
                            <label id="produkacctreksumberlf_detail"><?= ($this->getBG['PS_STATUS'] == '3') ? '' : '-'; ?></label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center" style="gap : 10px">
                    <button type="button" class="btnwhite hov" data-dismiss="modal"><?= $this->language->_('Tutup'); ?></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function showdetailreklf() {
        $('#detailreksumberlf').modal({
            backdrop: 'static',
            keyboard: false,
        });
    }

    <?php if ($this->getBG['PS_STATUS'] == 3 || $this->getBG['PS_STATUS'] == 4 || $this->getBG['PS_STATUS'] == 5) : ?>

        function downloadmemo() {
            window.open(`/bgclosingworkflow/claimobligeedetail/downloadmemo/closerefnumber/<?= urlencode($AESMYSQL->encrypt($this->getBG['CLOSE_REF_NUMBER'], uniqid())); ?>`);
        }
    <?php endif ?>

    async function inquiryreksumberlf(event, beban = false, acctnumber = false) {

        document.querySelector('#inquiryreksumberlf').querySelector('span').classList.add('hidden');
        document.querySelector('#inquiryreksumberlf').querySelector('img').classList.remove('hidden');

        document.querySelector('#inquiryreksumberlf').classList.add('disabled');
        document.querySelector('#inquiryreksumberlf').setAttribute('disabled', 'disabled');

        const acctNumber = acctnumber ? acctnumber : document.querySelector('#acctnumberreksumberlf').value;
        const typeSourceAcct = document.querySelector('#sumber_dana_type').value;

        if (!acctNumber) {
            alert('<?= $this->language->_('Nomor Rekening Tidak Boleh Kosong'); ?>');
            document.querySelector('#inquiryreksumberlf').querySelector('span').classList.remove('hidden');
            document.querySelector('#inquiryreksumberlf').querySelector('img').classList.add('hidden');

            document.querySelector('#inquiryreksumberlf').classList.remove('disabled');
            document.querySelector('#inquiryreksumberlf').removeAttribute('disabled');
            return;
        }

        if (acctNumber.length != 16) {
            alert('<?= $this->language->_('Nomor Rekening Harus 16 Digit'); ?>');
            document.querySelector('#inquiryreksumberlf').querySelector('span').classList.remove('hidden');
            document.querySelector('#inquiryreksumberlf').querySelector('img').classList.add('hidden');

            document.querySelector('#inquiryreksumberlf').classList.remove('disabled');
            document.querySelector('#inquiryreksumberlf').removeAttribute('disabled');
            return;
        }

        document.querySelector('#acctnumberreksumberlf').setAttribute('disabled', 'disabled');

        const endpoint = (typeSourceAcct == '1') ? 'inquirypembebananbiaya' : 'inquiryloan';

        await $.ajax({
            url: `<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername), null, true) ?>/${endpoint}`,
            type: 'GET',
            dataType: "JSON",
            data: {
                acctnumber: acctNumber,
                owneracct: '<?= urlencode($AESMYSQL->encrypt($this->getBG['CUST_ID'], uniqid())); ?>',
                amount: '<?= urlencode($AESMYSQL->encrypt($this->getBG['BG_AMOUNT'], uniqid())); ?>',
                claimnumber: '<?= urlencode($AESMYSQL->encrypt($this->dataListAccount['Beneficiary Account Number'], uniqid())); ?>',
                kmk_amount: <?= $this->dataListAccount['Transaction Amount'] - $this->totalAmountSplit ?>,
            },
            success: function(data) {
                if (data.error) {
                    document.querySelector('#acctnumberreksumberlf').removeAttribute('disabled');
                    document.querySelector('#inquiryreksumberlf').removeAttribute('disabled');
                    document.querySelector('#inquiryreksumberlf').classList.remove('disabled');

                    if (document.querySelector('#acctnumberreksumberlfdiv').nextElementSibling?.tagName.toLowerCase() == 'small') {
                        document.querySelector('#acctnumberreksumberlfdiv').nextElementSibling?.remove();
                    }

                    const error_rekening = document.createElement('small');
                    error_rekening.classList.add('text-danger', 'font-weight-bold');
                    error_rekening.innerText = data.result;

                    document.querySelector('#acctnumberreksumberlfdiv').after(error_rekening);

                } else {

                    document.querySelector('#nameacctrekpembebanan').innerText = data.result.account_name;
                    document.querySelector('#valutaacctrekpembebanan').innerText = data.result.currency;
                    document.querySelector('#tipeacctrekpembebanan').innerText = data.result.type_desc;
                    document.querySelector('#produkacctrekpembebanan').innerText = `${data.result.product_type} - ${data.result.produc_desc}`;

                    if (data.result.currency.toLowerCase() !== 'idr') {
                        document.querySelector('#acctnumberreksumberlf').removeAttribute('disabled');
                        document.querySelector('#inquiryreksumberlf').removeAttribute('disabled');
                        document.querySelector('#inquiryreksumberlf').classList.remove('disabled');

                        document.querySelector('#inquiryreksumberlf').classList.remove('disabled');
                        document.querySelector('#inquiryreksumberlf').removeAttribute('disabled');

                        document.querySelector('#btn_pilih_sumber_lf').classList.add('disabled');
                        document.querySelector('#btn_pilih_sumber_lf').setAttribute('disabled', 'disabled');

                        document.querySelector('#acctnumberreksumberlfdiv').nextElementSibling?.remove();

                        $('[data-toggle="tooltip"]').tooltip();

                        document.querySelector('#error_valuta_lf').classList.remove('hidden');
                    } else {
                        document.querySelector('#inquiryreksumberlf').setAttribute('disabled', 'disabled');
                        document.querySelector('#inquiryreksumberlf').classList.add('disabled');

                        document.querySelector('#btn_pilih_sumber_lf').classList.remove('disabled');
                        document.querySelector('#btn_pilih_sumber_lf').removeAttribute('disabled');

                        document.querySelector('#error_valuta_lf').classList.add('hidden');

                        document.querySelector('#acctnumberreksumberlfdiv').nextElementSibling?.remove();

                        localStorage.setItem('number_sourcelf', acctNumber);
                        localStorage.setItem('name_sourcelf', data.result.account_name);
                        localStorage.setItem('currency_sourcelf', data.result.currency);
                        localStorage.setItem('type_sourcelf', data.result.type);
                        localStorage.setItem('type_desc_sourcelf', data.result.type_desc);
                        localStorage.setItem('product_sourcelf', data.result.product_type);
                        localStorage.setItem('product_desc_sourcelf', data.result.produc_desc);

                        // JIKA PERBAIKAN
                        if (beban) pilihreksourcelf();
                    }


                }
            },
            complete: () => {
                document.querySelector('#inquiryreksumberlf').querySelector('span').classList.remove('hidden');
                document.querySelector('#inquiryreksumberlf').querySelector('img').classList.add('hidden');
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log("Failed to get data");
            }
        });
    }

    function pilihreksourcelf() {
        if (document.querySelector('#nameacctrekpembebanan').innerText.toLowerCase() == '-') {
            alert('<?= $this->language->_('Silahkan Inquiry Rekening Terlebih Dahulu'); ?>');
            return;
        }

        document.querySelector('[name="lfsumber_acct_number"]').value = localStorage.getItem('number_sourcelf');
        document.querySelector('[name="lfsumber_acct_name"]').value = localStorage.getItem('name_sourcelf');
        document.querySelector('[name="lfsumber_acct_currency"]').value = localStorage.getItem('currency_sourcelf');
        document.querySelector('[name="lfsumber_acct_produk"]').value = localStorage.getItem('product_sourcelf');
        document.querySelector('[name="lfsumber_acct_tipe"]').value = localStorage.getItem('type_sourcelf');

        document.querySelector('#nomoracctreksumberlf_detail').innerText = localStorage.getItem('number_sourcelf');
        document.querySelector('#nameacctreksumberlf_detail').innerText = localStorage.getItem('name_sourcelf');
        document.querySelector('#valutaacctreksumberlf_detail').innerText = localStorage.getItem('currency_sourcelf');
        document.querySelector('#tipeacctreksumberlf_detail').innerText = localStorage.getItem('type_desc_sourcelf');
        document.querySelector('#produkacctreksumberlf_detail').innerText = `${localStorage.getItem('product_sourcelf')} - ${localStorage.getItem('product_desc_sourcelf')}`;


        document.querySelector('#disabledreksumberlf').value = `${localStorage.getItem('number_sourcelf')} (${localStorage.getItem('currency_sourcelf')}) / ${localStorage.getItem('name_sourcelf')}`;
        $('#reksumberlf').modal('hide');

        disabledreksumberlf.nextElementSibling?.remove();
    }

    function lfsumbertype(event) {
        document.querySelector('#disabledreksumberlf').value = '';

        document.querySelector('[name="lfsumber_acct_number"]').value = localStorage.getItem('number_sourcelf');
        document.querySelector('[name="lfsumber_acct_name"]').value = localStorage.getItem('name_sourcelf');
        document.querySelector('[name="lfsumber_acct_currency"]').value = localStorage.getItem('currency_sourcelf');
        document.querySelector('[name="lfsumber_acct_produk"]').value = localStorage.getItem('product_sourcelf');
        document.querySelector('[name="lfsumber_acct_tipe"]').value = localStorage.getItem('type_sourcelf');

        localStorage.setItem('number_sourcelf', '');
        localStorage.setItem('name_sourcelf', '');
        localStorage.setItem('currency_sourcelf', '');
        localStorage.setItem('type_sourcelf', '');
        localStorage.setItem('type_desc_sourcelf', '');
        localStorage.setItem('product_sourcelf', '');
        localStorage.setItem('product_desc_sourcelf', '');

        document.querySelector('#nomoracctreksumberlf_detail').innerText = '-';
        document.querySelector('#nameacctreksumberlf_detail').innerText = '-';
        document.querySelector('#valutaacctreksumberlf_detail').innerText = '-';
        document.querySelector('#tipeacctreksumberlf_detail').innerText = '-';
        document.querySelector('#produkacctreksumberlf_detail').innerText = '-';
    }

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#btnreksumberlf')?.addEventListener('click', () => {
            $('#reksumberlf').modal({
                backdrop: 'static',
                keyboard: false,
            });
        });

        $('#reksumberlf').on('show.bs.modal', () => {

            document.querySelector('#acctnumberreksumberlf').removeAttribute('disabled');
            document.querySelector('#acctnumberreksumberlf').value = '';
            document.querySelector('#inquiryreksumberlf').removeAttribute('disabled');
            document.querySelector('#inquiryreksumberlf').classList.remove('disabled');

            document.querySelector('#acctnumberreksumberlfdiv').nextElementSibling?.remove();

            document.querySelector('#nameacctrekpembebanan').innerText = '-';
            document.querySelector('#valutaacctrekpembebanan').innerText = '-';
            document.querySelector('#tipeacctrekpembebanan').innerText = '-';
            document.querySelector('#produkacctrekpembebanan').innerText = '-';

            document.querySelector('#error_valuta_lf').classList.add('hidden');
            document.querySelector('#btn_pilih_sumber_lf').classList.remove('disabled');
            document.querySelector('#btn_pilih_sumber_lf').removeAttribute('disabled');
        });

        document.querySelector('#sumber_dana_type')?.addEventListener('change', lfsumbertype);

        document.querySelector('#btn_pilih_sumber_lf')?.addEventListener('click', pilihreksourcelf);

        document.querySelector('#inquiryreksumberlf').addEventListener('click', inquiryreksumberlf);

        // PERBAIKAN
        <?php if ($this->getBG['PS_STATUS'] == '2' || $this->getBG['PS_STATUS'] == '3' || $this->getBG['PS_STATUS'] == '4') : ?>
            document.querySelector('#acctnumberreksumberlf').value = '<?= $this->dataListAccount_ins['Source Account Number']; ?>';
            inquiryreksumberlf('', true, '<?= $this->dataListAccount_ins['Source Account Number'] ?>');
        <?php endif ?>
    });

    function forceNumberOwn(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if ((charCode >= 48 && charCode <= 57) || charCode == 8 || charCode == 13 || charCode == 39 || charCode == 37)
            return true;
        return false;
    }
</script>