<b>Purchasing > Others</b>
<br />
<br />
<div class="successmsg">Purchase Success</div>
<br />
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'next'),null,true)?>" method="post">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr><td colspan="3" class="tdform-sub">Purchase Others</td></tr>
		<tr>
			<td class="tbl-evencontent" ><?php echo $this->formLabel('Payment Reff#','Payment Reff#'); ?></td>
			<td class="tbl-evencontent" >:</td>
			<td class="tbl-evencontent" id="tbl-evencontent"><?=$this->paramSession['PSNumber']?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent" ><?php echo $this->formLabel('Date - Time','Date - Time'); ?></td>
			<td class="tbl-evencontent" >:</td>
			<td class="tbl-evencontent" id="tbl-evencontent"><?=$this->paramSession['date']?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Service Provider','Service Provider'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?php
					echo $this->paramSession['operator_name'];
				?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Card No','Card No'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?=$this->paramSession['noKartu']?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Total Payment','Total Payment'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				IDR <?=Application_Helper_General::displayMoney($this->paramSession['total'])?>
			</td>
		</tr>
		<tr>
			<td class="button-area" id="button-area" colspan="3">
				<div class="formbutton" style="float:right">
					<input type="submit" name="submit" value="Back" class="inputbtn"/>
					<input type="button" value="Print" onClick="window.print();" class="inputbtn">
				</div>
			</td>
		</tr>
	</table>
</form>