<?php 
if(!empty($this->popupTitle)){ ?>
	<div class="tabheader" id="tabheader"><?= $this->popupTitle ?></div>
<?php } ?>
<?php if($this->success){ ?>
<div class="successmsg"><?=$this->report_msg?></div><br />
<?php }else if($this->error){ ?>
<div class="errmsg"><?=$this->report_msg?></div><br />
<?php }if($this->errorsuspect){ ?>
<div class="errmsg"><?=$this->report_suspect?></div><br />
<?php }

 ?>
<table width="300px" cellpadding="0" cellspacing="0" border="0" class="">
<tr>
	<td>
		<A href="javascript: self.close ()" class="btnwhite hov"><?php echo $this->language->_('Close'); ?></A>
	</td>
</tr>
</table>