<?php
  if (! $this->hasPrivilege('VIBC')) {
     echo '<script>window.close(); window.location.href="/changebusiness";</script>';
  }
?>

<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?= $this->language->_('Suggestion Detail'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <?= $this->language->_('Insurance Branch'); ?>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  table th,
  table td {
    border-top: 0 !important;
  }
</style>

<?php if($this->err){ ?>
	<div class="errmsg">
	<?php
		echo $this->errmsg;
	?>
	</div><br />
	<?php
	}
?>

<h5><?= $this->language->_('Change Information'); ?></h5>

<?= $this->action('message','tools','changemanagement',array('changes_id' => $this->changes_id)); ?>

<br>
<div class="row">
  <div class="col">
    <h5><?= $this->language->_('Suggestion Detail Insurance Branch'); ?></h5>
  </div>
  <?php if($this->changes_type == 'E') : ?>
    <div class="col text-right">
      <button id="btnDiffOnly" type="button" class="btngreen hov"><?= $this->language->_('Show Difference Only'); ?></button>
    </div>
  <?php endif; ?>
</div>

<div class="row">
  <div class="portlet-body form col-md-12">
    <table width="100%" cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped table-sugg">
      <?php if ($this->changes_type != 'E') { ?>
        <tr>
          <td colspan="4" class="tbl-evencontent"><b><?= $this->language->_('New Insurance Branch Detail'); ?></b></td>
        </tr>
      <?php } ?>
      <?php if ($this->changes_type == 'E') { ?>
        <tr class="diffRow">
          <td width="200" class="tbl-evencontent"><b><?= $this->language->_('Field Name'); ?></b></td>
          <td width="3" class="tbl-evencontent">&nbsp;</td>
          <td width="300" class="tbl-evencontent"><b><?= $this->language->_('Current Value'); ?></b></td>
          <td width="300" class="tbl-evencontent"><b><?= $this->language->_('Suggested Value'); ?></b></td>
        </tr>
      <?php } ?>
      <tbody>
        <tr class="diffRow" style="background-color:#003f6e">
          <td colspan="4" style="color:#fff"><?= $this->language->_('Company Detail'); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('branch_code', $this->language->_('Insurance Company')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('branch_code', $this->m_branch_code, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('branch_code', $this->branch_code, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('branch_name', $this->language->_('Branch Name')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('branch_name', $this->m_branch_name, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('branch_name', $this->branch_name, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('branch_email', $this->language->_('Branch Email')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('branch_email', $this->m_branch_email, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('branch_email', $this->branch_email, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('branch_acct', $this->language->_('Branch Account')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('branch_acct', $this->m_branch_acct, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('branch_acct', $this->branch_acct, array('class' => 'dataChange')); ?></td>
        </tr>
        <tr>
          <td class="tbl-evencontent"><?= $this->formLabel('acct_type', $this->language->_('Account Type')); ?></td>
          <td class="tbl-evencontent">:</td>
          <?php if ($this->changes_type == 'E') { ?> <td class="tbl-evencontent" width="400px"><?= $this->formLabel('acct_type', $this->m_acct_type, array('class' => 'data')); ?></td> <?php } ?>
          <td class="tbl-evencontent" width="400px" colspan="2"><?= $this->formLabel('acct_type', $this->acct_type, array('class' => 'dataChange')); ?></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br>
<div class="row" id="btn_action">
  <div class="col-md-12 d-flex justify-content-center">
    <form action="" method="post">
      <?php
        if($this->hasPrivilege('AIBC') && $this->changes_status != 'RR'){
          echo $this->formSubmit('submit_approve', $this->language->_('Approve'), ['class'=>'btngreen hov mr-1']);
          echo $this->formSubmit('submit_reject', $this->language->_('Reject'), ['class'=>'btnred hov mr-1']);
          // echo $this->formSubmit('submit_request_repair', $this->language->_('Request Repair'), ['class'=>'btnwhite hov mr-1']);
        }
        // echo $this->formButton('submit_repair', $this->language->_('Repair'), ['class'=>'btngreen hov mr-1','onclick'=>"window.location.href='/insurancebranch/suggestiondetail/repair/changes_id/$this->changes_id'"]);
      ?>
    </form>
  </div>
</div>

<?php if($this->is_request_repair || $this->is_reject || $this->is_approve) : ?>
  <script>
    $('#btn_action').remove();
    window.opener.location.reload(true);
  </script>
<?php endif; ?>

<?php if ($this->changes_type == 'E') { ?>
  <script>
    //user role diff
    if ($(".Sugg_userrole").text() != $(".Curr_userrole").text()) {
      $(".Sugg_userrole").css('background-color', '#fffe5c');
      $(this).addClass('diffRow');
    }
    $("table.table-sugg > tbody > tr").each(function() {
      var data = $(this).find(".data");
      var dataChange = $(this).find(".dataChange");
      if (data.text() != dataChange.text()) {
        dataChange.css('background-color', '#fffe5c');
        $(this).addClass('diffRow');
      }
    });

    $("#btnDiffOnly").click(function() {
      $("table.table-sugg > tbody > tr").each(function() {
        var className = $(this).attr('class');
        if (className != 'diffRow' && $(this).is(":visible")) {
          $(this).hide();
        } else {
          $(this).show();
        }
      });
    });

    //diff for Privilege list
    // suggested priv
    <?php
    if (count($this->priviList) > 0) {
      foreach ($this->priviList as $privi) {
    ?>
        var currentValue = $('.curr_<?= $privi ?>');
        var suggestedtValue = $('.sugg_<?= $privi ?>');
        if(currentValue.text() != suggestedtValue.text()){
          suggestedtValue.css('background-color', '#fffe5c');
          suggestedtValue.attr('title', 'Added');
          suggestedtValue.closest('tr').addClass('diffRow');
        }
    <?php
      }
    }
    ?>
    // current priv
    <?php
    if (count($this->m_priviList) > 0) {
      foreach ($this->m_priviList as $privi) {
    ?>
        var currentValue = $('.curr_<?= $privi ?>');
        var suggestedtValue = $('.sugg_<?= $privi ?>');
        if(currentValue.text() != suggestedtValue.text()){
          currentValue.css('background-color', '#ff2222');
          currentValue.attr('title', 'Removed');
          currentValue.closest('tr').addClass('diffRow');
        }
    <?php
      }
    }
    ?>
  </script>
<?php } ?>