<b><?php echo $this->language->_('Account Group') ?>  &gt; <?php echo $this->language->_('Account Group Change') ?></b><br /><br />
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>					
		<?php 
			$suggest_id = null;
			if($this->suggestInfo)
			{
				$suggest_id = $this->suggestInfo['SUGGEST_ID'];
				
		?>
			<tr>
				<td>
					<table cellpadding="3" cellspacing="0" border="0" class="tableform" width="320px">
					<tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Suggestion Information') ?></strong></th></tr>
					<tr>
					  <td class="tbl-evencontent" width="120px"><?php echo $this->language->_('Suggestion Status') ?></td>
					  <td class="tbl-evencontent" width="5px">:</td>
					  <td class="tbl-evencontent"><?php 
						switch($this->suggestInfo['SUGGEST_STATUS']) {
							case 0:
								echo $this->language->_('Unread Suggestion');
								break;
							case 1:
								echo $this->language->_('Read Suggestion');
								break;
							case 2:
								echo $this->language->_('Granted Suggestion');
								break;
							case 3:
								echo $this->language->_('Rejected Suggestion');
								break;
							case 4:
								echo $this->language->_('Request Repair');
								break;
							case 5:
								echo $this->language->_('Repaired Suggestion');
								break;
							case 6:
								echo $this->language->_('Deleted Suggestion');
								break;
						}
					  ?></td>
					</tr>
					<tr>
					  <td class="tbl-evencontent"><?php echo $this->language->_('Suggested By') ?></td>
					  <td class="tbl-evencontent">:</td>
					  <td class="tbl-evencontent"><?php echo $this->suggestInfo['SUGGEST_USER']?></td>
					</tr>
					<tr>
					  <td class="tbl-evencontent"><?php echo $this->language->_('Suggest Date and Time') ?></td>
					  <td class="tbl-evencontent">:</td>
					  <td class="tbl-evencontent"><?php echo Application_Helper_General::convertDate($this->suggestInfo['SUGGEST_DATE'],'d-MMM-yyyy HH:mm:ss','yyyy-MM-dd HH:mm:ss')?></td>
					</tr>
					<tr>
					  <td class="tbl-evencontent"><?php echo $this->language->_('Granted By') ?></td>
					  <td class="tbl-evencontent">:</td>
					  <td class="tbl-evencontent"><?php echo $this->suggestInfo['SUGGEST_GRANTER']?></td>
					</tr>
					<tr>
					  <td class="tbl-evencontent"><?php echo $this->language->_('Grant Date and Time') ?></td>
					  <td class="tbl-evencontent">:</td>
					  <td class="tbl-evencontent"><?php echo Application_Helper_General::convertDate($this->suggestInfo['SUGGEST_GRANTDATE'],'d-MMM-yyyy HH:mm:ss','yyyy-MM-dd HH:mm:ss')?></td>
					</tr>
					<tr>
					  <td class="tbl-evencontent"><?php echo $this->language->_('Reason') ?></td>
					  <td class="tbl-evencontent">:</td>
					  <td class="tbl-evencontent"><?php echo $this->suggestInfo['SUGGEST_REASON']?></td>
					</tr>
				  </table>
				</td>
			</tr>			
			<?php } ?>	
			<tr>
				<td>&nbsp;</td>
			</tr>				
			<tr>
				<td><b><?php echo $this->language->_('Suggested Account Group') ?></b></td>
			</tr>					
			<tr>
				<td>&nbsp;</td>
			</tr>						
			<tr>
				<td class="contentarea" id="contentarea">
				<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
    <tr>
    	<th width="3%" valign="top">No</th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>		
		
    </tr>

    <?php
	$counter = 1;
	
    if(count($this->suggestData) > 0 && $this->suggestInfo)
  {
          $i=0;
          
	  foreach($this->suggestData as $row) {
	  
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		
		$alias = $row['ACCT_ALIAS_NAME'] ? $row['ACCT_ALIAS_NAME'] : 'N/A';
		$group = $row['GROUP_NAME'] ? $row['GROUP_NAME'] : 'N/A';
		
		echo '<tr>
				<td class="'.$td_css.'">'.$counter.'</td>
				<td class="'.$td_css.'">'.$row['ACCT_NO'].'</td>
				<td class="'.$td_css.'">'.$row['ACCT_NAME'].'</td>
				<td class="'.$td_css.'">'.$row['CCY_ID'].'</td>
				<td class="'.$td_css.'">'.$alias.'</td>
				<td class="'.$td_css.'">'.$group.'</td>
			</tr>';
						
				$i++;
                $counter++;
  	  }
  }
  else {
		echo '<tr><td colspan=10 class="tbl-evencontent" align="center">'.$this->language->_('No Data').'</td></tr>';
	}
    ?>
</table>
<br /></td></tr>
				</td>
			</tr>
			<tr>
				<td><b><?php echo $this->language->_('Current Account Group') ?></b></td>
			</tr>					
			<tr>
				<td>&nbsp;</td>
			</tr>						
			<tr>
				<td class="contentarea" id="contentarea">
			<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
    <tr>
    	<th width="3%" valign="top">No</th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>		
		
    </tr>

    <?php
	$counter = 1;
	
    if(count($this->currentData) > 0 && $this->suggestInfo)
  {
          $i=0;
          
	  foreach($this->currentData as $row) {
	  
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		
		$alias = $row['ACCT_ALIAS_NAME'] ? $row['ACCT_ALIAS_NAME'] : 'N/A';
		$group = $row['GROUP_NAME'] ? $row['GROUP_NAME'] : 'N/A';
		
		echo '<tr>
				<td class="'.$td_css.'">'.$counter.'</td>
				<td class="'.$td_css.'">'.$row['ACCT_NO'].'</td>
				<td class="'.$td_css.'">'.$row['ACCT_NAME'].'</td>
				<td class="'.$td_css.'">'.$row['CCY_ID'].'</td>
				<td class="'.$td_css.'">'.$alias.'</td>
				<td class="'.$td_css.'">'.$group.'</td>
			</tr>';
						
				$i++;
                $counter++;
  	  }
  }
  else {
		echo '<tr><td colspan=10 class="tbl-evencontent" align="center">'.$this->language->_('No Data').'</td></tr>';
	}
    ?>
</table>
<br /><br /></td></tr>
			<tr>
				<td class="button-area" id="button-area" colspan="5">
					<div class="formbutton">
						<input class="inputbtn" value="<?php echo $this->language->_('Back')?>" onclick="location.href='/home/index'" type="button">
						<input class="inputbtn" value="<?php echo $this->language->_('Delete Suggested Account')?>" onclick="if (confirm('<?php echo $this->language->_('This suggestion will be deleted. Continue');?>?')) location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'delete','suggest_id'=>$suggest_id),null,true)?>'" <?php if(!$suggest_id || $this->suggestInfo['SUGGEST_STATUS']==4) echo 'disabled="disabled"';?> type="button">
						<input class="inputbtn" value="<?php echo $this->language->_('Repair')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>'repairgroup','suggest_id'=>$suggest_id),null,true)?>'" <?php if(!$suggest_id) echo 'disabled="disabled"';?> type="button">
					</div>
				</td>
			</tr>
		</tbody>
	</table>
