<?php
	$app 				= Zend_Registry::get('config');
	$foTransferPeriodic = $app['fo']['transfer']['within']['periodic']; //foTransferPeriodic
?>
<b>
<ol class="breadcrumb" >
  <li><a href="#" style="font-size: 11px;"><?php echo $this->language->_('Transfer')?></a></li>
  <li><?php echo $this->language->_('Domestic Online')?></li>
  <li><?php echo (($this->confirmPage == 1 && empty($this->resultPage))? " " .$this->language->_('Confirmation'): ""); ?></li>
</ol>
</b>
<br>

<div class="portlet-body form">
<form name="Form"  class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
	
	
	
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td class="filterarea" id="filterarea">
<!--					<div class="tabheader" id="tabheader"><?php if ($this->confirmPage != 1) {  if (empty($this->PS_NUMBER)) {echo "Create";} else {echo "Repair";} } else {echo "Confirm";}  ?> Payment</div>-->
				</td>
			</tr>
			<?php
				if($this->error)
				{	?>
					<div class="errmsg">
			<?php		echo "Error: ".$this->ERROR_MSG;		?>
					</div><br />
			<?php
				}
				
				$mandatory = ($this->confirmPage != 1)? "<strong class='formreq'>&nbsp;*</strong>": "";
			?>
			<tr>
				<td class="contentarea" id="contentarea">
				<div class="portlet light form-fit bordered">
					
	                      <!-- Default panel contents -->
	                      <div class="panel-heading" style="
	                    	    color: #fff;
	                    	    background-color: #337ab7;
	                    	    border-color: #337ab7;
	                    	    border: 1;
	                    	">
	                       
	                       		<strong><?php echo $this->language->_('Transfer From');?></strong>
	                       </div>
	                       
	                       <div class="portlet-body form">                           		
                                                
                                
                                 <?php 
                                                    if ($this->confirmPage != 1 )
                                                    {
                                                    ?>
                                	<div class="form-group row">
                                                            <label class="control-label col-md-3"></label>
                                                            <div class="col-md-9">
                                                            <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
                                                            </div>
                                                        </div>
                                                        <?php 
                                                    }
                                                        ?>
                                   	<div class="form-group row">
                                   	 	<label class="control-label col-md-3"><?php echo $this->language->_('Payment Ref'); ?>#</label>                                     	
                                        <div class="col-md-9">
                                        	<b><?php if (!empty($this->PS_NUMBER)) {echo $this->PS_NUMBER;} else {echo "auto generate";}?></b>
								<?php  echo $this->formHidden('PS_NUMBER',$this->PS_NUMBER); ?>										
                                        </div>
                                    </div>
                                    
                                    	<div class="form-group row">
                                   	 	<label class="control-label col-md-3"><?php echo $this->language->_('Payment Subject'); ?></label>                                     	
                                        <div class="col-md-9">
                                        	<?php  
            									if ($this->confirmPage != 1)
            										echo $this->formText('PS_SUBJECT',$this->PS_SUBJECT,array('class'=>'form-control','maxlength'=>'128','size'=>'40')); 
            									else
            										echo $this->PS_SUBJECT.$this->formHidden('PS_SUBJECT',$this->PS_SUBJECT);
            								?>					
                                        </div>
                                    </div>
                                    
                                    	<div class="form-group row">
                                   	 	<label class="control-label col-md-3"><?php echo $this->language->_('Source Account'); ?><span class="errmsg"><span class="errmsg"><?= $mandatory ?></span></span></label>                                     	
                                        <div class="col-md-9">
                                        	<?php  
            									if ($this->confirmPage != 1)
            										echo $this->formApp("SELECT_ACCTSRC", $this->AccArr, $this->ACCTSRC, "ACCTSRC");	
            									else
            										echo $this->ACCTSRC_view.$this->formHidden('ACCTSRC',$this->ACCTSRC);
            								?>							
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                   	 	<label class="control-label col-md-3"><?php echo $this->language->_('Currency/Amount'); ?><span class="errmsg"><span class="errmsg"><?= $mandatory ?></span></span></label>                                     	
                                        <div class="col-md-9">
                                        	<?php  
            									if ($this->confirmPage != 1)
            									{	
            									    echo '<span class="input-group-btn">';
            									    
            									    echo $this->formText("CURR_CODE","IDR",array('class'=>'form-control','style'=>'width:60px','id'=>"CURR_CODE",'size'=>'3','readonly' =>'readonly'))." ";
            									    echo '</span>';
            									    echo '<span class="input-group-btn" style="width:200px">';
            										echo $this->formText("TRA_AMOUNT",$this->TRA_AMOUNT,array('id'=>"TRAAMOUNT",'maxlength'=>'20','class' =>'form-control currency qty', "style"=>"text-align: right;",'onfocus'=>"iNumFrmt(this.value,this.id)", 'onblur'=>"NumFrmt(this.value,this.id)",'onkeypress'=>"return forceCurrencyOCBC(event)"));
            										echo '</span>';
            									}
            									else
            									{
            										echo $this->CURR_CODE.$this->formHidden('CURR_CODE',$this->CURR_CODE)." ";
            										echo $this->TRA_AMOUNT.$this->formHidden('TRA_AMOUNT',$this->TRA_AMOUNT);
            									}
            								?>						
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-group row">
                                   	 	<label class="control-label col-md-3"><?php echo $this->language->_('Message'); ?><span class="errmsg"><span class="errmsg"><?= $mandatory ?></span></span></label>                                     	
                                        <div class="col-md-9">
                                        	<?php  
            									if ($this->confirmPage != 1)
            									{
            										echo $this->formTextarea('TRA_MESSAGE',$this->TRA_MESSAGE,array('class'=>'form-control','cols'=>'30','rows'=>'4' ,
            										'onKeyDown'=>'textCounter(this.form.TRA_MESSAGE,this.form.TRA_MESSAGE_len,120)', 
            										'onKeyUp'=>'textCounter(this.form.TRA_MESSAGE,this.form.TRA_MESSAGE_len,120)', 
            										'onKeypress'=>'return noSpecialChar3(event);')); 
            										echo "<br>";
            										echo $this->formText('TRA_MESSAGE_len', $this->TRA_MESSAGE_len, array('style'=>'width:60px','readonly'=>'readonly','size'=>'2','class'=>'form-control'))." char(s) left"; 
            									}
            									else
            									{
            										echo $this->TRA_MESSAGE.$this->formHidden('TRA_MESSAGE',$this->TRA_MESSAGE);
            									}
            								?>							
                                        </div>
                                    </div>
                                    
                                   
                                    
                       </div>
				</div>
				
				
				<div class="portlet light form-fit bordered">
					
	                      <!-- Default panel contents -->
	                      <div class="panel-heading" style="
	                    	    color: #fff;
	                    	    background-color: #337ab7;
	                    	    border-color: #337ab7;
	                    	    border: 1;
	                    	">
	                       
	                       		<strong><?php echo $this->language->_('Transfer To');?></strong>
	                       </div>
	                       
	                       <div class="portlet-body form">                           		
                                                
                                
                                	<div class="form-group row">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Beneficiary Account'); ?> <?= $mandatory ?></label>
                                                            <div class="col-md-9">
                                                            <?php  
                            									if ($this->confirmPage != 1)
                            									{	
                            									    echo '<span class="input-group-btn">';
                            									    echo $this->formText('ACBENEF',$this->ACBENEF,array('class'=>'form-control','maxlength'=>'16','size'=>'40','onkeypress'=>'return forceNumberOCBC(event)')); 
                            									    echo '</span>';
                            									    echo '<span class="input-group-btn">';?>
                            										<input class="btn btn-warning" value="<?php echo $this->language->_('Account Book'); ?>" onclick="showPopUpWindow('<?=$this->url(array('module'=>'popup','controller'=>'domesticonlinepopup','action'=>'index'),null,true)?>', 750)" type="button">
                            										<?php echo '<span>'; ?>
                            								<?php 
                            									}
                            									else
                            									{
                            										echo $this->ACBENEF." [".$this->CURR_CODE."]".$this->formHidden('ACBENEF',$this->ACBENEF);
                            									}
                            								
                            								?>
                                                            </div>
                                                        </div>
                                                     
                                   	<div class="form-group row">
                                   	 	<label class="control-label col-md-3"><?php echo $this->language->_('Beneficiary Account Name'); ?></label>                                     	
                                        <div class="col-md-9">
                                        	<?php
            									if ($this->confirmPage == 1) 	
            									{
            										echo $this->ACBENEF_BANKNAME.$this->formHidden('ACBENEF_BANKNAME',$this->ACBENEF_BANKNAME);
            									}
            									else	
            									{ 
            										echo $this->formText('ACBENEF_BANKNAME',$this->ACBENEF_BANKNAME,array('class'=>'form-control','readonly'=>'readonly','maxlength'=>'40','size'=>'40'));
            									}	?>										
                                        </div>
                                    </div>
                                    
                                    	<div class="form-group row">
                                   	 	<label class="control-label col-md-3"><?php echo $this->language->_('Bank'); ?> <?= $mandatory ?></label>                                     	
                                        <div class="col-md-9">
                                        	<?php  
                									if ($this->confirmPage != 1)
                										echo $this->formHidden('ACBENEF_ALIAS',$this->ACBENEF_ALIAS,array('maxlength'=>'128','size'=>'40')); 
                									else
                										echo $this->formHidden('ACBENEF_ALIAS',$this->ACBENEF_ALIAS);
                								?>			
                								<?php 
            									if ($this->confirmPage != 1)
            									{	echo '<span class="input-group-btn">';
            										echo $this->formText("BANK_NAME",$this->BANK_NAME,array('class'=>'form-control','id'=>"BANK_NAME",'size'=>'40','readonly' =>'readonly'));
            										echo '</span>';
            										?>
            										
            							<?php 	}
            									else
            									{
            										echo $this->BANK_NAME.$this->formHidden('BANK_NAME',$this->BANK_NAME);
            									}
            								
            									echo $this->formHidden("BANK_CODE",$this->BANK_CODE,array('class'=>'form-control','id'=>"BANK_CODE"));
            								?>		
                                        </div>
                                    </div>
                                    
                                    	<div class="form-group row">
                                   	 	<label class="control-label col-md-3"><?php echo $this->language->_('Email'); ?></label>                                     	
                                        <div class="col-md-9">
                                        	<?php 
            									if ($this->confirmPage != 1)
            										echo $this->formText('ACBENEF_EMAIL',$this->ACBENEF_EMAIL,array('class'=>'form-control','size'=>40,'maxlength'=>128));
            									else
            										echo $this->ACBENEF_EMAIL.$this->formHidden('ACBENEF_EMAIL',$this->ACBENEF_EMAIL);
            								?>							
                                        </div>
                                    </div>
                                   
                                    
                       </div>
				</div>
				  <div class="panel-heading" style="
	                    	    color: #fff;
	                    	    background-color: #337ab7;
	                    	    border-color: #337ab7;
	                    	    border: 1;
	                    	">	                       
	                       		<strong><?php echo $this->language->_('Transfer Date');?></strong>
	                       </div>
	                       
	                       <div class="portlet-body form">       
                                <div class="form-body">
                                
                                	<?php
										echo $this->formHidden('payDateType',$this->payDateType);
										echo $this->formHidden('tranferdatetype',$this->TrfDateType);
										echo $this->formHidden('tranferdateperiodictype',$this->TrfPeriodicType);
										echo $this->formHidden('PERIODIC_EVERY',$this->PERIODIC_EVERY);
										echo $this->formHidden('PERIODIC_EVERYDATE',$this->PERIODIC_EVERYDATE);										
									?>
									
									<?php										
										// if ( true/*($this->confirmPage != 1 ) || ($this->confirmPage == 1 && $this->payDateType == 2 )FOR POC*/){
										
									?>
									
											<div class="paymendate form-group row" style="display:none">
				                               <label class="control-label col-md-3">													
													<?php echo $this->language->_('Payment Date'); ?>
												</label>
												<div class="col-md-9">
													<?php 
														// $this->Date($this->PS_EFDATE),
														
														if ($this->confirmPage != 1){
														    ?>
														    <div class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+1d">
                                                        <input name="PS_EFDATE" id="PS_EFDATE" value="<?php echo $this->PS_EFDATE?>" type="text" class="form-control" readonly>
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button" style="height: 34px">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
<!-- 															echo $this->datePicker("PS_EFDATE", $this->PS_EFDATE,  -->
<!-- 																					array(	 -->
<!-- 																							 'dateFormat' => $this->jqueryDateFormat, -->
<!-- 																							 'defaultDate'=>'new Date()', -->
<!-- 																							 'showOn' => 'button', -->
<!-- 																							 'buttonImage' => '/images/calendar.gif', -->
<!-- 																							 'buttonImageOnly' => true, -->
<!-- 																							 'changeMonth' => true, -->
<!-- 																							 'changeYear' => true, -->
<!-- 																							 'minDate' => '0Y 0M 0W 0D', -->
<!-- 																							 'showClearButton' => false, -->
<!-- 																							), -->
<!-- 																		  			array("readOnly"=>"true")); -->
																		  			<?php 	
														}else{
															//echo $this->PS_EFDATE.$this->formHidden('PS_EFDATE',$this->PS_EFDATE);
															 echo $this->Date($this->PS_EFDATE, $this->viewDateFormat, $this->displayDateFormat).$this->formHidden('PS_EFDATE',$this->PS_EFDATE);
														}
													?>
												</div>
											</div>
									
									<?php
										if ( ($this->confirmPage != 1 ) ){ //NOT confirmPage
				
											/*$checkedImediate = ($this->TransferDate == 'imediate')? "checked='checked'": "";
											$checkedFuture = ($this->TransferDate == 'future')? "checked='checked'": "";*/
											$checkedImediate = ($this->TrfDateType == '1')? "checked='checked'": "";
											$checkedFuture = ($this->TrfDateType == '2')? "checked='checked'": "";
											$checkedPeriodic = ($this->TrfDateType == '3')? "checked='checked'": "";
					
											$checkedPeriodicEvery = ($this->TrfPeriodicType == '5')? "checked='checked'": "";
											$checkedPeriodicEveryDate = ($this->TrfPeriodicType == '6')? "checked='checked'": "";			
									?>
									
											<div class="form-group row">
		                                   	 	<label class="control-label col-md-3">
		                                   	 		<input name="tranferdatetype" value="1" <?php if($this->tranferdatetype=='1'){echo('checked');}?> id="tranferdatetypeImediate" <?= $checkedImediate ?> onclick='cekImediate()' type="radio">
													<?php echo $this->language->_('Immediate Transfer');?>
													<?php $immidiateTransfer = date('d/m/Y')?>
													<input type="hidden" name="immediateTransfer" id="immediateTransfer" value="<?php echo $immidiateTransfer?>">
		                                   	 	</label>                                     	
		                                        <div class="col-md-9">
		                                        	&nbsp;
		                                        </div>
		                                    </div>
		                                    
		                                    <div class="form-group row">
		                                   	 	<label class="control-label col-md-3">
		                                   	 		<input name="tranferdatetype" value="2" <?php if($this->tranferdatetype=='2'){echo('checked');}?> id="tranferdatetypeFuture" <?= $checkedFuture ?> onclick='futureDateChange()' type="radio">
													<?php echo $this->language->_('Future Date Transfer');?> 
													<?php  
														$futureDate = $this->PS_EFDATEFUTURE;
													?>
		                                   	 	</label>                                     	
		                                        <div class="col-md-9">
		                                        <div class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+1d">
                                                        <input name="PS_FUTUREDATE" id="PS_FUTUREDATE" value="<?php echo $futureDate?>" type="text" class="form-control" readonly>
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button" style="height: 34px">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
		                                        	<?php									
// 														echo $this->datePicker("PS_FUTUREDATE", $futureDate, 
// 																				array(	
// 																						 'dateFormat' => $this->jqueryDateFormat,
// 																						 'defaultDate'=>'new Date()',
// 																						 'showOn' => 'button',
// 																						 'buttonImage' => '/images/calendar.gif',
// 																						 'buttonImageOnly' => true,
// 																						 'changeMonth' => true,
// 																						 'changeYear' => true,
// 																						 'minDate' => '0Y 0M 0W 1D',
// 																						 'showClearButton' => false,
// 																						),
// 																	  			array("readOnly"=>"true","onChange"=>"dateChange()",'class'=>'form-control','style'=>'width:200px'));
													?>
		                                        </div>
		                                    </div>
		                                    
		                                    <?php
												if ($foTransferPeriodic == 1){ //$foTransferPeriodic start
											?>
											<div class="form-group row">
		                                   	 	<label class="control-label col-md-3">
		                                   	 		<input name="tranferdatetype" value="3" id="tranferdatetypePeriodic" <?= $checkedPeriodic ?> onclick='cekPeriodic()' type="radio">
													<?php echo $this->language->_('Periodic Transfer');?>
		                                   	 	</label>                                     	
		                                        <div class="col-md-9">
		                                        	
		                                        </div>
		                                    </div>
		                                    
		                                    <div class="form-group row">
		                                   	 	<label class="control-label col-md-3">
		                                   	 		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													<input name="tranferdateperiodictype" value="5" id="PeriodicEvery" <?= $checkedPeriodicEvery ?> onclick='cekPeriodicEvery()' type="radio">
													<?php echo $this->language->_('Every');?>
		                                   	 	</label>                                     	
		                                        <div class="col-md-9">
		                                        	<?php
														if ($this->confirmPage != 1)
														{
															$arrFirst = array();
															$arrFirst['0'] = $this->language->_('-- Choose One --');
															$this->periodicEveryArr = array_merge($arrFirst, $this->periodicEveryArr);
															//echo $this->formApp("SELECT_DATA", $this->periodicEveryArr, $this->PERIODIC_EVERY, "PERIODIC_EVERY");
															echo $this->formSelect('PERIODIC_EVERY',$this->PERIODIC_EVERY,array('id'=>'paymentType','onclick'=>'cekPeriodicEvery()','class' => 'form-control'), $this->periodicEveryArr);
						
														}														
													?>
		                                        </div>
		                                    </div>
		                                    
		                                    <div class="form-group row">
		                                   	 	<label class="control-label col-md-3">
		                                   	 		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													<input name="tranferdateperiodictype" value="6" id="PeriodicEveryDate" <?= $checkedPeriodicEveryDate ?> onclick='cekPeriodicEveryDate()' type="radio">
													<?php echo $this->language->_('Every Date Of');?>
		                                   	 	</label>                                     	
		                                        <div class="col-md-9">
		                                        	<?php
														if ($this->confirmPage != 1)
														{
															$arrFirst = array();
															$arrFirst['0'] = $this->language->_('-- Choose One --');
															$this->periodicEveryDateArr = array_merge($arrFirst, $this->periodicEveryDateArr);
															//echo $this->formApp("SELECT_DATA", $this->periodicEveryDateArr, $this->PERIODIC_EVERYDATE, "PERIODIC_EVERYDATE");
															echo $this->formSelect('PERIODIC_EVERYDATE',$this->PERIODIC_EVERYDATE,array('id'=>'paymentType','onclick'=>'cekPeriodicEveryDate()','class' => 'form-control'), $this->periodicEveryDateArr);
														}														
													?>
		                                        </div>
		                                    </div>
		                                    
		                                    <div class="form-group row">
		                                   	 	<label class="control-label col-md-3">
		                                   	 		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;													
													<?php echo $this->language->_('End Date Of');?>
		                                   	 	</label>                                     	
		                                        <div class="col-md-9">
		                                        
		                                        	<?php
														$endOfDate = $this->endDatePeriodic;
// 														echo $this->datePicker("PS_ENDDATEPERIODIC", $endOfDate,
// 																				array(
// 																						 'dateFormat' => $this->jqueryDateFormat,
// 																						 'defaultDate'=>'new Date()',
// 																						 'showOn' => 'button',
// 																						 'buttonImage' => '/images/calendar.gif',
// 																						 'buttonImageOnly' => true,
// 																						 'changeMonth' => true,
// 																						 'changeYear' => true,
// 																						 'minDate' => '0Y 0M 0W 0D',
// 																						 'showClearButton' => false,
// 																						),
// 																	  			array("readOnly"=>"true","onChange"=>"",'class' => 'form-control'));
													?>
													<div class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+1d">
                                                        <input name="PS_ENDDATEPERIODIC" id="PS_ENDDATEPERIODIC" value="<?php echo $endOfDate?>" type="text" class="form-control" readonly>
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button" style="height: 34px">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
		                                        </div>
		                                    </div>		                                    
											<?php 
												} //$foTransferPeriodic end 
											?>
									<?php
										}else{ // else NOT confirmPage
									
											if ( ($this->TrfDateType != '3' ) ){ //NOT PERIODIC
									?>
												<div class="form-group row">
			                                   	 	<label class="control-label col-md-3">
			                                   	 		<?php echo $this->language->_('Payment Date'); ?>
			                                   	 	</label>                                     	
			                                        <div class="col-md-9">
			                                        	<?php
															echo $this->Date($this->paymentDate, $this->viewDateFormat, $this->displayDateFormat).$this->formHidden('PS_EFDATE',$this->paymentDate);								
														?>
			                                        </div>
			                                    </div>
			                                    
			                        <?php 
			                        		}else{	// if $this->TrfDateType = 'PERIODIC'
			                        			
			                        			if ($this->TrfPeriodicType == '5'){ $label=$this->language->_('Every'); }else{ 	$label=$this->language->_('Every Date Of'); }
			                        ?>
			                        			<div class="form-group row">
			                                   	 	<label class="control-label col-md-3">
			                                   	 		<?php echo $label; ?>
			                                   	 	</label>                                     	
			                                        <div class="col-md-9">
			                                        	<?php														
															if ($this->TrfPeriodicType == '5'){
																$PERIODIC_EVERY_view = (array_key_exists ($this->periodicValue, $this->periodicEveryArr ))? $this->periodicEveryArr[$this->periodicValue]: "";
																echo $PERIODIC_EVERY_view.$this->formHidden('PERIODIC_EVERY',$this->periodicValue);
															}else{
																echo $this->periodicValue;
															}
														?>
			                                        </div>
			                                    </div>
			                                    
			                                    <div class="form-group row">
			                                   	 	<label class="control-label col-md-3">
			                                   	 		<?php echo $this->language->_('End Date'); ?>
			                                   	 	</label>                                     	
			                                        <div class="col-md-9">
			                                        	<?php
															echo $this->Date($this->endDatePeriodic, $this->viewDateFormat, $this->displayDateFormat).$this->formHidden('PS_ENDDATEPERIODIC',$this->endDatePeriodic);								
														?>
			                                        </div>
			                                    </div>
			                                    
									<?php
											} //end NOT PERIODIC
									?>
									
									 		<div class="form-group row">
		                                   	 	<label class="control-label col-md-3">
		                                   	 		<?php echo $this->language->_('Payment Type'); ?>
		                                   	 	</label>                                     	
		                                        <div class="col-md-9">
		                                        	<?php													
														echo $this->paymentType;
													?>
		                                        </div>
		                                    </div>
									
									<?php
										} // end NOT confirmPage
									?>    
                            </div>
                          </div> 
						
						<tr>
							<td colspan="2"><table border="0">
							<?php 
								if (!empty($this->PS_NUMBER))
								{	
									echo $this->action('index',
			                                           'paymenthistory',
			                                           'tools',
			                                           array('paymentref' => $this->PS_NUMBER)); 
			                    }	?>
							</table></td>
						</tr>
						<tr><td colspan="2">&nbsp;</td></tr>
						<tr>
							<td class="button-area" id="button-area" colspan="2">
								<div>
								<?php
									if (!empty($this->PS_NUMBER))
										$option = array('module'=>'paymentworkflow','controller'=>'requestrepair','action'=>'index');
									else
										$option = array('module'=>'home');
									?>
									
							<?php if ($this->confirmPage != 1)	{	?>	
									<input class="btn btn-warning" value="Cancel" onclick="if (confirm('If you leave this screen\nYour data input will be lost\nAre you sure leaving this screen?'))  location.href='<?=$this->url($option,null,true)?>'" type="button">
							<?php } else { 
									echo $this->formButton('back','Back',array('class'=>'btn btn-warning', "onclick"=>"proceed('back');")); 
								  } ?>
								  	
								  	<?php
									if (!empty($this->PS_NUMBER))
									{	
										echo $this->formButton('pdf','PDF',array('class'=>'btn btn-warning', "onclick"=>"location.href='".$this->url(array('module'=>'display','controller'=>'viewdetail','action'=>'index','pdf'=>1,'payReff'=>$this->PS_NUMBER),null,true)."';"));
										echo $this->formButton('print','Print',array('class'=>'btn btn-warning', "onclick"=>"window.print();")); 
									}
									?>
									
									<input type="button" class="btn btn-warning" name="submitBtn" value="<?= ($this->confirmPage != 1 && $this->useConfirmPage == true)? "Confirm": "Submit"; ?>" onclick="proceed('submit');"/>
									<input type="hidden" name="confirmPage" value="<?= $this->confirmPage; ?>"/>	
									<input type="hidden" name="process" value= "">								
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			
</form>
</div>
