
<div id="content"></div>
<div style="font-weight:bold;color:#F00;font-size:14px;">
</div>

<table width="300px" cellpadding="3" cellspacing="0" border="0" class="tableform">
<tr>
	<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Notification Succes'); ?></strong></th>
</tr>
<tr>
	<td width="100px" class="tbl-evencontent"><?php echo $this->formLabel('status',$this->language->_('Status')); ?></td>
	<td class="tbl-evencontent">:</td>
	<td class="tbl-evencontent"><?php echo $this->language->_('Group is requested to deactivate'); ?></td>
</tr>

</table>

