<?php 
require_once 'General/SystemBalance.php';
?>
<table border="0" cellpadding="0" cellspacing="0" width="100%"
	align="left">
	<tbody>
		<tr>
			<td class="contentarea" id="contentarea" >
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td>
						<?php
						if (!$this->isGroup) //jika tidak ada grup	
						{ 								
							echo '<table id="0" border="0" cellpadding="0" cellspacing="0" width="800px">
									<tr>
										<th id="tbl-headercontent"><strong>'.$this->language->_('Deposit No').'</strong></th>
										<th id="tbl-headercontent"><strong>'.$this->language->_('CCY').'</strong></th>
										<th id="tbl-headercontent"><strong>'.$this->language->_('Interest Rate').'</strong></th>
										
										<th id="tbl-headercontent"><strong>'.$this->language->_('Amount').'</strong></th>
										<th id="tbl-headercontent"><strong>'.$this->language->_('Create Date').'</strong></th>
										<th id="tbl-headercontent"><strong>'.$this->language->_('Due Date').'</strong></th>';
							echo	'</tr>'; 
							$arr_value_tot_group =  array();
							$arr_display_tot_group =  array();
							if (count ( $this->resultdata ) > 0) 
							{
								$i = 0;
								$totalBalance = 0;
								foreach ( $this->resultdata as $row ) {
									$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
									
									$systemBalance = new SystemBalance($this->custId,$row ['ACCT_NO'],Application_Helper_General::getCurrNum($row ['CCY_ID']));
									$systemBalance->setFlag(false);
									$systemBalance->checkBalance();
									
									if(isset($arr_value_tot_group[$row ['CCY_ID']])) {
							          $arr_value_tot_group[$row ['CCY_ID']] += $systemBalance->getEffectiveBalance();
							        }
							        else {
							          $arr_value_tot_group[$row ['CCY_ID']] = $systemBalance->getEffectiveBalance();
							        }
									$arr_display_tot_group[$row ['CCY_ID']] = $row ['CCY_ID']." ". Application_Helper_General::displayMoney($arr_value_tot_group[$row ['CCY_ID']]);
									$accountStatusModified = $systemBalance->getCoreAccountStatusDesc();
									$row['INRATE'] = $systemBalance->getCoreAccountInrate();
									$row['AVAILABLE_AMOUNT'] = $systemBalance->getCoreAccountAmount();
									$row['CREATEDATE'] = $systemBalance->getCoreAccountCreateDate();
									$row['DUEDATE'] = $systemBalance->getCoreAccountDueDate();
									// 												print_r($row);die;
									if($row['INRATE']==''){
										$row['INRATE'] = 'N/A';
									}
									if($row['AVAILABLE_AMOUNT']==''){
										$row['AVAILABLE_AMOUNT'] = 'N/A';
									}
									if($row['CREATEDATE']==''){
										$row['CREATEDATE'] = 'N/A';
									}
									if($row['DUEDATE']==''){
										$row['DUEDATE'] = 'N/A';
									}
									echo '	<tr>
												<td class="' . $td_css . '">' . $row ['ACCT_NO'] . '</td>
													<td class="' . $td_css . '">' .  $row ['CCY_ID']. '</td>
													<td class="' . $td_css . '">' . $row ['INRATE'] . '</td>
													<td class="' . $td_css . '" align="right">' . Application_Helper_General::displayMoney($row['AVAILABLE_AMOUNT']) . '</td>
													<td class="' . $td_css . '">'.$row['CREATEDATE'].'</td>
													<td class="' . $td_css . '">'.$row['DUEDATE'].'</td>';
									echo	'</tr>'; 
									
									$i++;
								}
							} 
							else 
							{
								echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
							}
							
							if($arr_display_tot_group)
								$display_tot_group = implode("; ",$arr_display_tot_group);
							else
								$display_tot_group = '';
							echo '</table>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>'.$this->language->_('TOTAL AVAILABLE BALANCE').' :'.$display_tot_group.'</b>';
							
						} 
						else //jika ada grup	
						{ 	
							if (count ( $this->resultdata ) > 0) 
							{
								$i = 0;
								$group = null;
								$arr_value_tot_group = array();
								
								
								$resultdataGroup =  array();
;								foreach ($this->resultdata as $rowGroup){
									$resultdataGroup[$rowGroup['GROUP_NAME']][] = $rowGroup; 
								}
								
								foreach ( $resultdataGroup as $groupname=>$rowPerGroup ) 
								{
									$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
									$groupname = ($groupname) ? $groupname : 'OTHERS';
									
									echo '<br/><br /><b>' . $groupname . '</b><br /><table id="0" border="0" cellpadding="0" cellspacing="0" width="800px">										
												<th id="tbl-headercontent"><strong>'.$this->language->_('Deposit No').'</strong></th>
												<th id="tbl-headercontent"><strong>'.$this->language->_('CCY').'</strong></th>
												<th id="tbl-headercontent"><strong>'.$this->language->_('Interest Rate').'</strong></th>
												
												<th id="tbl-headercontent"><strong>'.$this->language->_('Amount').'</strong></th>
												<th id="tbl-headercontent"><strong>'.$this->language->_('Create Date').'</strong></th>
												<th id="tbl-headercontent"><strong>'.$this->language->_('Due Date').'</strong></th>';
									
										if(count($rowPerGroup) > 0){
											$arr_value_tot_group =  array();
											foreach ($rowPerGroup as $row){
												
											$systemBalance = new SystemBalance($this->custId,$row ['ACCT_NO'],Application_Helper_General::getCurrNum($row ['CCY_ID']));
											$systemBalance->setFlag(false);
											$systemBalance->checkBalanceDeposit();
								
												
												if(isset($arr_value_tot_group[$row ['CCY_ID']])) {
													$arr_value_tot_group[$row ['CCY_ID']] += $systemBalance->getEffectiveBalance();
												}else{
													$arr_value_tot_group[$row ['CCY_ID']] = $systemBalance->getEffectiveBalance();
												}
												$arr_display_tot_group[$row ['CCY_ID']] = $row ['CCY_ID']." ". Application_Helper_General::displayMoney($arr_value_tot_group[$row ['CCY_ID']]);
												$accountStatusModified = $systemBalance->getCoreAccountStatusDesc();
												$row['INRATE'] = $systemBalance->getCoreAccountInrate();
												$row['AVAILABLE_AMOUNT'] = $systemBalance->getCoreAccountAmount();
												$row['CREATEDATE'] = $systemBalance->getCoreAccountCreateDate();
												$row['DUEDATE'] = $systemBalance->getCoreAccountDueDate();
												// 												print_r($row);die;
												if($row['INRATE']==''){
													$row['INRATE'] = 'N/A';
												}
												if($row['AVAILABLE_AMOUNT']==''){
													$row['AVAILABLE_AMOUNT'] = 'N/A';
												}
												if($row['CREATEDATE']==''){
													$row['CREATEDATE'] = 'N/A';
												}
												if($row['DUEDATE']==''){
													$row['DUEDATE'] = 'N/A';
												}
												echo '	<tr>
													<td class="' . $td_css . '">' . $row ['ACCT_NO'] . '</td>
													<td class="' . $td_css . '">' .  $row ['CCY_ID']. '</td>
													<td class="' . $td_css . '">' . $row ['INRATE'] . '</td>
													<td class="' . $td_css . '" align="right">' . Application_Helper_General::displayMoney($row['AVAILABLE_AMOUNT']) . '</td>
													<td class="' . $td_css . '">'.$row['CREATEDATE'].'</td>
													<td class="' . $td_css . '">'.$row['DUEDATE'].'</td>';
												echo	'</tr>'; 
											}
										}else{
											echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
										}
							
										if($arr_display_tot_group)
											$display_tot_group = implode("; ",$arr_display_tot_group);
										else
											$display_tot_group = '';
										
									echo '</table>';
									$i++;
									$arr_value_tot_group =  array();	
									$arr_display_tot_group =  array();	
								} 
										
										
									
							} 
							else 
							{
								echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
							}
							
						}
			?>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>
</td>
</tr>

<tr>
	<td>&nbsp;</td>
</tr>
</tbody>
</table>