<?php 
require_once 'General/SystemBalance.php';
?>
<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php 
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<style>
@media print{
    .hidden, .hidden * {
		display: none !important;
		visibility: hidden;
	}

	button {
		display: none !important;
		visibility: hidden;
	}
	
	/*form {
		display: none !important;
		visibility: hidden;
	}*/
	
	.hiddenLogo, .hiddenLogo * {
		display: inline !important;
		visibility: show;
	}
	
	input.currency{ width: 200px; font-size: 10px; } 
	ul { padding-left:10px; } 
	h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed } 
	body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; } 
	b { font-weight:bold; font-size:11px } 
	td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; } 
	a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; } 
	.tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } 
	.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; } 
	.errmsg { font-weight:bold; font-size:11px; color:#FF0000 } 
	body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	-webkit-print-color-adjust:exact; /*chrome*/ 
	-moz-print-color-adjust:exact; /*mozila*/
	-o-print-color-adjust:exact; /*opera*/
	-ms-print-color-adjust:exact; /*ie*/
	}
}

</style>
<table border="0" cellpadding="0" cellspacing="0" width="60%" align="left" style="display:none" class="hiddenLogo">
	<tr>
		<td valign="left"><div style="padding: 0px 20px 0px 0px"><img src="/images/logo/logo_pdf<?php echo $app; ?>.jpg" border="0"/></div></td>
	</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="40%" align="right" style="display:none" class="hiddenLogo">
	<tr>
		<td align="center" valign="middle"><strong><?php echo $this->language->_('Deposit Inquiry');?> - </strong></td>
		<td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s")?></strong></td>
	</tr>
</table>
<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span>Account Information</span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="inhouse"><?=$this->language->_('Deposit Inquiry')?></span>
	                </li>
	                
            	</ul>
        	</div>
      	</div>
    </div>

<?php 
require_once 'General/SystemBalance.php';
?>
<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php 
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<style>
@media print{
    .hidden, .hidden * {
		display: none !important;
		visibility: hidden;
	}

	button {
		display: none !important;
		visibility: hidden;
	}
	
	/*form {
		display: none !important;
		visibility: hidden;
	}*/
	
	.hiddenLogo, .hiddenLogo * {
		display: inline !important;
		visibility: show;
	}
	
	input.currency{ width: 200px; font-size: 10px; } 
	ul { padding-left:10px; } 
	h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed } 
	body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; } 
	b { font-weight:bold; font-size:11px } 
	td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; } 
	a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; } 
	.tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } 
	.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; } 
	.errmsg { font-weight:bold; font-size:11px; color:#FF0000 } 
	body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	-webkit-print-color-adjust:exact; /*chrome*/ 
	-moz-print-color-adjust:exact; /*mozila*/
	-o-print-color-adjust:exact; /*opera*/
	-ms-print-color-adjust:exact; /*ie*/
	}
}

</style>
<table border="0" cellpadding="0" cellspacing="0" width="60%" align="left" style="display:none" class="hiddenLogo">
	<tr>
		<td valign="left"><div style="padding: 0px 20px 0px 0px"><img src="/images/logo/logo_pdf<?php echo $app; ?>.jpg" border="0"/></div></td>
	</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="40%" align="right" style="display:none" class="hiddenLogo">
	<tr>
		<td align="center" valign="middle"><strong><?php echo $this->language->_('Deposit Inquiry');?> - </strong></td>
		<td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s")?></strong></td>
	</tr>
</table>
<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span>Account Information</span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="inhouse"><?=$this->language->_('Deposit Inquiry')?></span>
	                </li>
	                
            	</ul>
        	</div>
      	</div>
    </div>

<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">


			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					
					<tr>
						<td class="button-area" id="button-area" >
						<br/>
						<div width="100%" class="formbutton" style="float:right;margin-bottom: 20px">
							<?php echo $this->formSubmit('pdf','PDF',array('class'=>'btn btn-success hidden')); ?>
							<?php echo $this->formSubmit('csv','CSV',array('class'=>'btn btn-success hidden')); ?>
							<input class="btn btn-success hidden" value="<?php echo $this->language->_('Print')?>" onclick="window.print();" type="button"></div>
						</td>
					</tr>
					
						<?php 
						$accountno = $this->language->_('Deposit No');
						$inrate = $this->language->_('Interest Rate');
						$ccy = $this->language->_('CCY');
						$timeperiod = $this->language->_('Time Period');
						$amount = $this->language->_('Available Balance');
						$duedate = $this->language->_('Due Date');
						$status = $this->language->_('Status');
						$createdate = $this->language->_('Create Date');
						$nodata = $this->language->_('No Data');
						
						?>
						<?php				
							echo '<br/><table id="0" border="0" cellpadding="0" cellspacing="0" class="table table-bordered table-condensed flip-content">
									<tr class="headercolor">
										<th id="tbl-headercontent"><strong>'.$accountno.'</strong></th>
										<th id="tbl-headercontent"><strong>'.$ccy.'</strong></th>
										<th id="tbl-headercontent"><strong>'.$inrate.'(%)</strong></th>
										<th id="tbl-headercontent"><strong>'.$amount.'</strong></th>
										<th id="tbl-headercontent" align="center"><strong>'.$createdate.'</strong></th>
										<th id="tbl-headercontent" align="center"><strong>'.$duedate.'</strong></th>
										<th id="tbl-headercontent" align="center"><strong>'.$status.'</strong></th>
									</tr>';
							
							if (count ( $this->resultdata ) > 0) 
							{
								$i = 0;
								$totalBalance = 0;
								
								foreach ( $this->resultdata as $row ) {
									$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
									$accountStatusModified =($row['FREEZE_STATUS']!='FREEZE')?$row['FREEZE_STATUS']:'<a href="#" onclick="showPopUpWindow(\'/popup/accountfreeze/index/account/'.$row ['ACCT_NO'].'\', 900)">Freezed</a>';
									echo '	<tr>
												<td class="' . $td_css . '">' . $row ['accountNo'] . '</td>
												<td class="' . $td_css . '">' . $row ['currency'] . '</td>
												<td class="' . $td_css . '" align="right">' . $row ['interestRate'] . '</td>
												<td class="' . $td_css . '" align="right">'.Application_Helper_General::displayMoney($row['amount']).'</td>
												<td class="' . $td_css . '" align="center">' . $row ['createDate'] . '</td>
												<td class="' . $td_css . '" align="center">' . $row ['dueDate'] . '</td>
												<td class="' . $td_css . '" align="center">' . $row ['status'] . '</td>
												';
									}									
									echo	'</tr>';
									$i++;
							}
							else 
							{
								$currency = '';
								echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$nodata.' --- </td></tr>';
							}
							?>
							</table>
			
				</tbody>
		</table>
	
</form>
<br>
<div>
			<input class="btn btn-success hidden" value="<?php echo $this->language->_('Back')?>" onclick="location.href='/home/index'" type="button"> 
	</div>
