<table border="0" cellpadding="0" cellspacing="0" width="100%"
	align="left">
	<tbody>
		<tr>
			<td class="contentarea" id="contentarea" >
			
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td>
						<br/>
							<table id='0' border='0' cellpadding='0' cellspacing='0' width='800px'>
								<tr>
									<th class='tdform-sub'><strong><?php echo $this->language->_('Deposit Nom')?></strong></th>
									<th class='tdform-sub'><strong><?php echo $this->language->_('CCY')?></strong></th>
									<th class='tdform-sub'><strong><?php echo $this->language->_('Interest Rate')?></strong></th>
									<th class='tdform-sub'><strong><?php echo $this->language->_('Amount')?></strong></th>
									<th class='tdform-sub'><strong><?php echo $this->language->_('Create Date')?></strong></th>
									<th class='tdform-sub'><strong><?php echo $this->language->_('Due Date')?></strong></th>
									<th class='tdform-sub'><strong><?php echo $this->language->_('Status')?></strong></th>
								</tr>
								<?php if(count($this->resultdata)>0){
										$i = 0;
										//Zend_Debug::dump($this->resultdata);
										foreach($this->resultdata as $row){
											$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
											
											$systemBalance = new SystemBalance($this->custId,$row ['ACCT_NO'],Application_Helper_General::getCurrNum($row ['CCY_ID']),$row['ACCT_TYPE'],$row['ACCT_CIF']);
											$systemBalance->setFlag(false);
											$systemBalance->checkBalanceDeposit();
											
											echo '<tr>';
											echo '<td class="'.$td_css.'">'.$row['ACCT_NO'].'</td>
													<td class="'.$td_css.'">'.$row['CCY_ID'].'</td>
													<td class="'.$td_css.'" align="right">'.$systemBalance->getCoreAccountInterestRate().'</td>
													<td class="'.$td_css.'" align="right">'.$systemBalance->getCoreAccountAmount().'</td>
													<td class="'.$td_css.'">'.$systemBalance->getCoreAccountCreateDate().'</td>
													<td class="'.$td_css.'">'.$systemBalance->getCoreAccountDueDate().'</td>
													<td class="'.$td_css.'">'.$systemBalance->getCoreAccountStatus().'</td>
													';
											echo '</tr>';
	
											$i++;
										}
								 	}else{
								 		echo "<tr><td colspan=6 class='tbl-evencontent' align='center'> ---".$this->language->_(' No Data ')."--- </td></tr>";
								 	}
								 ?>
							</table>
						</td>
					</tr>
				</tbody>
		</table>
		</td>
	</tr>
</tbody>
</table>