<?php $note = $this->language->_('Notes')?>
<?php $notethatchanging = $this->language->_('Note that changing year will discard all unsaved changes')?>
<?php $clickon = $this->language->_('Click on a date to set or unset a holiday')?>
<?php $whensetting = $this->language->_('When setting a holiday, input holiday description when prompted')?>
<?php $datesset = $this->language->_('Dates set as holidays will be marked with different color than other non holiday dates')?>
<?php $toview = $this->language->_('To view a holiday description, point the cursor to the desired holiday date')?>
<?php $clicksubmit = $this->language->_('click button to save changes')?>
<?php $submit = $this->language->_('Submit')?>
<?php $reset = $this->language->_('Reset')?>

<?php $selectyear = $this->language->_('Select year')?>
<?php $changeyear = $this->language->_('Change Year')?>
<?php $calendarview = $this->language->_('Calendar View')?>
<?php $tochangeyear = $this->language->_("To change year, pick a year from the selection box and click 'Change Year'")?>

<script type="text/javascript" src="/js/yearcalendar.js">	</script>

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('General'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Holiday Setting'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<!-- Holiday setting -->
<div class="row content-box">
	<div class="portlet-body form col-md-12">
		<h5><?=$this->language->_('General Holiday Setting')?></h5>
		<?php if($this->success){ ?>
	<div class="successmsg"><?=$this->report_msg?></div><br />
	<?php } ?>
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tbody>
			<tr>
				<td>
						<div align="left">
						<?php
					$year=$this->year;

					$holiday_date_arr=array();
					$holiday_desc_arr=array();
					$js_text='var datearray = new Array();';
					$js_text.='var descarray = new Array();';
					$counter = -1;
					foreach($this->listHoliday as $rowHoliday)
					{
						$counter++;
						$d=$rowHoliday["day"];
						$m=$rowHoliday["month"];
						$y=$rowHoliday["year"];
						$holiday_date_arr[$counter]=$y.'-'.$m.'-'.$d;
						$holiday_desc_arr[$counter]=$rowHoliday["HOLIDAY_DESCRIPTION"];

						$datearraytext=$y.'x'.$m.'x'.$d;
						$js_text.="datearray[".$counter."]='".$datearraytext."';".chr(10);
						$js_text.="descarray[".$counter."]='".addslashes($holiday_desc_arr[$counter])."';".chr(10);
					}

					$holiday_date_text=implode('~|~',$holiday_date_arr);
					$holiday_desc_text=implode('~|~',$holiday_desc_arr);

					//create year selectbox
					$currentyear=date('Y');

					$isselected=0;
					$isedited = $this->isedited;
					if($isedited==1)
						$js_function_name='fill_table_nofunc';
					else
						$js_function_name='fill_table';

					$holidayjs = '';
					$last_m = '';
					if($last_m=="holidaysave")
					$holidayjs='<div class="successMsg">'.$this->language->_('Holiday changes saved').'</div><br />';

					$holidayjs.=
					'<div align="left">
					<form name="frmpickyear" method="POST" action="">
					<input type="hidden" name="s" value="home">
					<input type="hidden" name="m" value="holiday">
					<table class="table-responsive" width="80%">
					<tr>
						<td>
								'.$this->language->_('Select Year').'
						</td>
					</tr>
						<tr>
							<td>

									<select class="form-control col-md-12" name="year" >';
									for($i=date("Y")-10;$i<date("Y")+10;$i++)
									{
										if($i==$year and $isselected==0)
										{
										$holidayjs.='<option value="'.$i.'" selected>'.$i.'</option>';
										$isselected=1;
										}
										else
										if($i==$currentyear and $isselected==0)
										{
										$holidayjs.='<option value="'.$i.'" selected>'.$i.'</option>';
										}
										else
										$holidayjs.='<option value="'.$i.'">'.$i.'</option>';
									}
									$holidayjs.=
									'</select>
							</td>
							<td>
									<input class="btngreen hov" type="submit" name="submit" value="'.$this->language->_('Change Year').'">
							</td>
							<td width="80%" style="text-align:right">
									<button type="button" class="btngreen hov" name="generalinfo" data-toggle="modal" data-target="#modalgeneral">Info</button>
							</td>

						</tr>



					</table>

					</form>
					</div><br />';
					//create javascript
					$holidayjs.=
					'<div align="left" class="title">'.$this->language->_('Calendar View').'</div>' .
					// <br />' .
					// <div align="left"><strong>;
					// if($isedited==0)
					// $holidayjs.=
					// '<ol>'.$note.' :
					// <li>'.$tochangeyear.'.
					// 	<br />'.$notethatchanging.'.
					// </li>
					// <li>'.$clickon.'.
					// 	<br />'.$whensetting.'.</li>
					// <li>'.$datesset.'.</li>
					// <li>'.$toview.'.</li>
					// <li>'.$clicksubmit.'</li>
					// </ol>';
					// else
					// $holidayjs.=
					// '<ol>'.$this->language->_('Note').'
					// <li>'.$this->language->_('To view a holiday description, point the cursor to the desired holiday date').'.</li>
					// <li>'.$this->language->_('Changes can not be made for selected year. (Selected year is currently waiting approval for previous change)').'</li>
					// </ol>';

					// $holidayjs.=
					// '</strong></div>
					'</div>
					</div>
					</div>
					<div class="row">
					<div class ="col-md-12">
					<br />
					<form name="frmyear" method="POST" action="">
					<input type="hidden" name="s" value="home">
					<input type="hidden" name="m" value="holidaysave">
					<input type="hidden" name="year" id="year" value="'.$year.'">
					<input type="hidden" name="dates" id="dates" value="'.$holiday_date_text.'">
					<input type="hidden" name="datesdesc" id="datesdesc" value="'.$holiday_desc_text.'">
					<div align="left">
					<script language="JavaScript" type="text/javascript">
					<!-- Begin

					'.$js_text.'

					var year='.$year.';
					if (year < 2000)    // Y2K Fix
						year = year + 1900;
					calendar= new Date("January 1, "+year)
					start_day = calendar.getDay() + 1

					document.write("<table border=0 cellspacing=5>");
					document.write("<tr valign=top><td>");
					'.$js_function_name.'(0,31,'.$year.')

					document.write("</div></td><td>");
					if (((year % 4)==0) && ((year % 100)!=0) || ((year % 400)==0))
						{ '.$js_function_name.'(1, 29,'.$year.'); }
					else
						{ '.$js_function_name.'(1, 28,'.$year.'); }

					document.write("</td><td>");
					'.$js_function_name.'(2,31,'.$year.')

					document.write("</td><td>");
					'.$js_function_name.'(3,30,'.$year.')

					document.write("</td><td>");
					'.$js_function_name.'(4,31,'.$year.')

					document.write("</td><td>");
					'.$js_function_name.'(5,30,'.$year.')

					document.write("</td></tr><tr valign=top><td>");
					'.$js_function_name.'(6,31,'.$year.')

					document.write("</td><td>");
					'.$js_function_name.'(7,31,'.$year.')

					document.write("</td><td>");
					'.$js_function_name.'(8,30,'.$year.')

					document.write("</td><td>");
					'.$js_function_name.'(9,31,'.$year.')

					document.write("</td><td>");
					'.$js_function_name.'(10,30,'.$year.')

					document.write("</td><td>");
					'.$js_function_name.'(11,31,'.$year.')

					document.write("</td></tr></table>");

					window.onLoad=init(datearray,descarray);

					// End -->

					function recheckdate()
					{
						var desc=document.getElementById(\'datesdesc\');
						var val=document.getElementById(\'dates\');
						//alert(desc.value + \' XXX \' + val.value);
						// if(val.value.length > 0)
						// {
							document.frmyear.submit();
						// }
						// else
							// alert(\'Please pick at least one holiday first\');
					}

					</SCRIPT>
					</div>';
					if($this->hasPrivilege('HDUD'))
					{
						$disabled  = '';
					}
					else{
						$disabled = 'disabled';
					}
			// 		echo $this->tempcek;
					if($this->tempcek){
					$holidayjs.='<div><em>'.$this->language->_('No changes allowed while waiting previous change approval').'</em></div>';
					}else{
					// $holidayjs.=
					// '
					// </br>
					// <input type="button" class="btngreen hov" name="submitbutton" value="'.$submit.'" onclick="recheckdate();" '.$disabled.'>
					// <input type="button" class="btngreen hov" name="reset" value="'.$reset.'" onclick="window.location.reload() '.$disabled.';">
					// ';
					}
					// $holidayjs.=
					// '</form>';
					echo $holidayjs;
					?>

					<br><br>
					</td>
			</tr>
			<tr>
				<td>
					<!-- <input type="button" name="submitbutton" value="Submit" onclick="recheckdate();">
					<input type="button" name="reset" value="Reset" onclick="window.location.reload();"> -->
				</td>
			</tr>
			</tbody>
		</table>

		<h5><?=$this->language->_('Currency Holiday Setting')?></h5>
		<?php if($this->success){ ?>
	<div class="successmsg"><?=$this->report_msg?></div><br />
	<?php } ?>
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tbody>
		<tr>
				<td>
						<div align="left">
						<?php
						$yearccy=$this->year;

						$holiday_date_arr=array();
						$holiday_desc_arr=array();
						$holiday_ccyid_arr=array();
						$js_text='var datearray2 = new Array();';
						$js_text.='var descarray2 = new Array();';
						$counter = -1;
						foreach($this->listHolidayccy as $rowHoliday)
						{
							$counter++;
							$d=$rowHoliday["day"];
							$m=$rowHoliday["month"];
							$y=$rowHoliday["year"];
							$holiday_date_arr[$counter]=$y.'-'.$m.'-'.$d;
							$holiday_desc_arr[$counter]=$rowHoliday["HOLIDAY_DESCRIPTION"];
							$holiday_ccyid_arr[$counter]=$rowHoliday["HOLIDAY_CCY"];

							$datearraytext=$y.'/'.$m.'/'.$d;
							$js_text.="datearray2[".$counter."]='".$datearraytext."';".chr(10);
							$js_text.="descarray2[".$counter."]='".addslashes($holiday_desc_arr[$counter])."';".chr(10);
						}

						$holiday_date_text=implode('~|~',$holiday_date_arr);
						$holiday_desc_text=implode('~|~',$holiday_desc_arr);
						$holiday_ccyid=implode('~|~',$holiday_ccyid_arr);

						//create year selectbox
						$currentyear=date('Y');

						$isselected=0;
						$isedited = $this->isedited;
						if($isedited==1)
							$js_function_name='fill_table_nofuncccy';
						else
							$js_function_name='fill_tableccy';

						$ccyholidayjs = '';
						$last_m = '';
						if($last_m=="holidaysave")
						$ccyholidayjs='<div class="successMsg">'.$this->language->_('Holiday changes saved').'</div><br />';

						// $ccyholidayjs.=
						// '<div align="left">
						// <form name="frmpickyear" method="POST" action="">
						// <input type="hidden" name="s" value="home">
						// <input type="hidden" name="m" value="holiday">
						// <table class="table-responsive" width="80%">
						// <tr>
						// 	<td>
						// 			'.$this->language->_('Select Year').'
						// 	</td>
						// </tr>
						// 	<tr>
						// 		<td>

						// 				<select class="form-control col-md-12" name="yearccy" >';
						// 				for($i=date("Y")-10;$i<date("Y")+10;$i++)
						// 				{
						// 					if($i==$yearccy and $isselected==0)
						// 					{
						// 					$ccyholidayjs.='<option value="'.$i.'" selected>'.$i.'</option>';
						// 					$isselected=1;
						// 					}
						// 					else
						// 					if($i==$currentyear and $isselected==0)
						// 					{
						// 					$ccyholidayjs.='<option value="'.$i.'" selected>'.$i.'</option>';
						// 					}
						// 					else
						// 					$ccyholidayjs.='<option value="'.$i.'">'.$i.'</option>';
						// 				}
						// 				$ccyholidayjs.=
						// 				'</select>
						// 		</td>
						// 		<td>
						// 				<input class="btngreen hov" type="submit" name="submit" value="'.$this->language->_('Change Year').'">
						// 		</td>
						// 		<td width="80%" style="text-align:right">
						// 				<button type="button" class="btngreen hov" name="ccyinfo" data-toggle="modal" data-target="#modalccy">Info</button>
						// 		</td>
						// 	</tr>



						// </table>

						// </form>
						// </div><br />';
						//create javascript
						$ccyholidayjs.=
						'<div align="left" class="title">'.$this->language->_('Calendar View').'</div>
						</div>
						</div>
						</div>
						<div class="row">
						<div class ="col-md-12">
						<br />
						
						
						<input type="hidden" name="mccy" value="holidaysave">
						<input type="hidden" id="value1" value="">
						<input type="hidden" id="value2" value="">
						<input type="hidden" id="datetext" value="">
						<input type="hidden" id="obj" value="">
						<input type="hidden" name="yearccy" id="yearccy" value="'.$yearccy.'">
						<input type="hidden" name="datesccy" id="datesccy" value="'.$holiday_date_text.'">
						<input type="hidden" name="datesdescccy" id="datesdescccy" value="'.$holiday_desc_text.'">
						<input type="hidden" name="ccyid" id="ccyid" value="'.$holiday_ccyid.'">
						<div align="left">
						<script language="JavaScript" type="text/javascript">
						<!-- Begin

						'.$js_text.'

						var yearccy='.$yearccy.';
						if (yearccy < 2000)    // Y2K Fix
							yearccy = yearccy + 1900;
						calendarccy= new Date("January 1, "+yearccy)
						start_dayccy = calendarccy.getDay() + 1

						document.write("<table border=0 cellspacing=5>");
						document.write("<tr valign=top><td>");
						'.$js_function_name.'(0,31,'.$yearccy.')

						document.write("</div></td><td>");
						if (((yearccy % 4)==0) && ((yearccy % 100)!=0) || ((yearccy % 400)==0))
							{ '.$js_function_name.'(1, 29,'.$yearccy.'); }
						else
							{ '.$js_function_name.'(1, 28,'.$yearccy.'); }

						document.write("</td><td>");
						'.$js_function_name.'(2,31,'.$yearccy.')

						document.write("</td><td>");
						'.$js_function_name.'(3,30,'.$yearccy.')

						document.write("</td><td>");
						'.$js_function_name.'(4,31,'.$yearccy.')

						document.write("</td><td>");
						'.$js_function_name.'(5,30,'.$yearccy.')

						document.write("</td></tr><tr valign=top><td>");
						'.$js_function_name.'(6,31,'.$yearccy.')

						document.write("</td><td>");
						'.$js_function_name.'(7,31,'.$yearccy.')

						document.write("</td><td>");
						'.$js_function_name.'(8,30,'.$yearccy.')

						document.write("</td><td>");
						'.$js_function_name.'(9,31,'.$yearccy.')

						document.write("</td><td>");
						'.$js_function_name.'(10,30,'.$yearccy.')

						document.write("</td><td>");
						'.$js_function_name.'(11,31,'.$yearccy.')

						document.write("</td></tr></table>");

						window.onLoad=init(datearray2,descarray2);

						// End -->

						function recheckdateccy()
						{
							var desc=document.getElementById(\'datesdescccy\');
							var val=document.getElementById(\'datesccy\');
							//alert(desc.value + \' XXX \' + val.value);
							// if(val.value.length > 0)
							// {
								document.frmyearccy.submit();
							// }
							// else
								// alert(\'Please pick at least one holiday first\');
						}

						</SCRIPT>
						</div>';
						if($this->hasPrivilege('HDUD'))
						{
							$disabled  = '';
						}
						else{
							$disabled = 'disabled';
						}
				// 		echo $this->tempcek;
						if($this->tempcek){
						$ccyholidayjs.='<br><div><em>'.$this->language->_('No changes allowed while waiting previous change approval').'</em></div>';
						}else{
						$ccyholidayjs.=
						'
						</br>
						<input type="button" class="btngreen hov" name="submitbuttonccy" value="'.$submit.'" onclick="recheckdate();" '.$disabled.'>
						<input type="button" class="btngreen hov" name="resetccy" value="'.$reset.'" onclick="window.location.reload() '.$disabled.';">
						';
						}
						$ccyholidayjs.=
						'</form>';
						echo $ccyholidayjs;
						?>

					<br><br>
					</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- modal info -->
<div class="modal fade" id="modalgeneral" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('Holiday Setting Info') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div align="left"><strong>
			<?php
				if($isedited==0)
				{
				echo
				'<ol style="padding-left:20px;">'.$note.' :
				<li>'.$tochangeyear.'.
					<br />'.$notethatchanging.'.
				</li>
				<li>'.$clickon.'.
					<br />'.$whensetting.'.</li>
				<li>'.$datesset.'.</li>
				<li>'.$toview.'.</li>
				<li>'.$clicksubmit.'</li>
				</ol>';
				}else{
				echo 
				'<ol style="padding-left:20px;">'.$this->language->_('Note').'
				<li>'.$this->language->_('To view a holiday description, point the cursor to the desired holiday date').'.</li>
				<li>'.$this->language->_('Changes can not be made for selected year. (Selected year is currently waiting approval for previous change)').'</li>
				</ol>';
				}?>
				</strong></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Close') ?></button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="holidaycal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title textBlack"><?php echo $this->language->_('Info') ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group row">
					<div class="col-sm-3">
						<label for="" class="col-form-label">CCY ID</label>
					</div>
					<div class="col-sm-9">
						<select name="prompttextccy" id="prompttextccy" class="form-control" style="font-size:1.2em">
							<?php foreach($this->CCYData as $key => $value){?>
							<option value="<?= $value["CCY_ID"]?>" ><?= $value["CCY_ID"] ?></option>
							<?php }?>
						</select>
					</div>	
				</div>

				<div class="form-group row">
					<div class="col-sm-3">
						<label for="" class="col-form-label">Description</label>
					</div>
					<div class="col-sm-9">
						<?php echo $this->formText('prompttext',$this->prompttext,array('id'=>'prompttext','class'=>'form-control','style'=>'font-size:1.2em;'))?>
					</div>	
				</div>	
			</div>
			<div class="modal-footer">
				<button type="button" class="btnwhite hov" data-dismiss="modal"><?php echo $this->language->_('Cancel') ?></button>
				<button type="button" class="btngreen hov" id="saveholiday" onclick=""><?php echo $this->language->_('Submit') ?></button>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	$('#saveholiday').on('click', function() {
		$('#value1').val( $('#prompttextccy').val() );
		$('#value2').val( $('#prompttext').val() );
		var val=document.getElementById('datesccy');
		if(val.value=='')
			arrayval=new Array();
		else
			arrayval=val.value.split('~|~');
			
		var desc=document.getElementById('datesdescccy');

		if(desc.value=='')
			arraydesc=new Array();
		else
			arraydesc=desc.value.split('~|~');	
		
		var ccyid=document.getElementById('ccyid');

		if(ccyid.value=='')
			arrayccy=new Array();
		else
			arrayccy=ccyid.value.split('~|~');	
			
		var obj = $('#obj').val();
		var temp = document.getElementById(obj);
		var datetext = $('#datetext').val();
		var bgday = "#FFFFFF";
		var bgholiday = "#FF9999";
		
		var position=indexInArray(arrayval,datetext)
		if( position >= 0 )
		{
			temp.style.backgroundColor=bgday;
			arrayval.splice(position,1);
			arrayccy.splice(position,1);
			arraydesc.splice(position,1);
		}
		else
		{
			prompttextccy = $('#value1').val();
			prompttext=$('#value2').val();
			
			if(prompttext!==null && prompttext!=="" && prompttextccy!==null && prompttextccy!==""){
			temp.style.backgroundColor=bgholiday;
			arrayval.push(datetext);
			arrayccy.push(prompttextccy);
			arraydesc.push(prompttext);
			temp.title=prompttext;
			}
		}
		
		var joined=arrayval.join('~|~');
		val.value=joined;	
		
		var descjoined=arraydesc.join('~|~');
		desc.value=descjoined;	
		
		var ccyjoined=arrayccy.join('~|~');
		ccyid.value=ccyjoined;
		// $('#value1').val( $('#prompttextccy').val() );
		// $('#value2').val( $('#prompttext').val() );
		$('#holidaycal').modal('toggle');
		$('#prompttext').val('');
	});
})
function generalinfo(){
	$('#modalgeneral').modal('show');
}

function ccyinfo(){
	$('#modalccy').modal('show');
}

function indexInArray(arr,val){
	for(var i=0;i<arr.length;i++) if(arr[i]==val) return i;
	return -1;
}
</script>
