<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?= $this->language->_('Insurance Task') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>

                <li>
                    <span class="valas"><?= $this->language->_('Counter Guarantee') ?></span>

                </li>
            </ul>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $('div#sidebar-collapse').click(function() {
            if ($("#logo-title").is(":visible")) {
                $("#logo-title").hide();
                $("#logo-titles").hide();
            } else if ($("#logo-title").is(":hidden")) {
                $("#logo-title").show();
                $("#logo-titles").show();
            }
        })
        $('#createdStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#createdEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });

        $('#bgissueStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#bgissueEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });

        $('#fixTable').fixTableHeader();

        $("#searchtable").keyup(function() {
            var value = this.value.toLowerCase().trim();

            $("#myTable tr").each(function(index) {
                if (!index) return;
                $(this).find("td").each(function() {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });

    });
</script>

<div class="row content-box">
    <div class="portlet-body form col-md-12">
        <h5><?= $this->language->_('Counter Guarantee Certificate Required List') ?></h5>
        <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">
            <div class="panel panel-default ">
                <!-- Default panel contents -->

                <?php $aliasname = $this->language->_('Alias Name'); ?>
                <?php $beneficiaryaccount = $this->language->_('Beneficiary Accountt'); ?>
                <?php $beneficiaryaccountname = $this->language->_('Beneficiary Account Name'); ?>
                <?php $beneficiarytype = $this->language->_('Beneficiary Type'); ?>
                <?php $setfilter = $this->language->_('Set Filter'); ?>
                <?php $clearfilter = $this->language->_('Clear Filter'); ?>
                <?php $nodata = $this->language->_('No Data'); ?>
                <?php $delete_lg = $this->language->_('Delete'); ?>

                <?php
                $optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
                foreach ($this->filterlist as $row) {
                    $optArr .=  '<option value="' . $row . '" >' . $this->language->_($row) . '</option>';
                }
                ?>
                <div class="row " id="logo-titles" style="margin-left: 0px">
                    <?php
                    if (!empty($this->wherecol)) {
                    ?>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $("#logo-title").show();
                            });
                        </script>
                    <?php
                    }
                    // echo '<pre>';
                    // print_r($this->wherecol); 
                    $index = 0;
                    foreach ($this->wherecol as $key => $value) {
                    ?>
                        <div id="searchs" style="width: 100%">
                            <?php
                            $datetype = array("PRINCIPAL_NUMBER", "BG_NUMBER", "PS_UPDATED");
                            $selectlist = array('BG_BRANCH', 'PRINCIPAL_INSURANCE');
                            ?>
                            <div id="where-<?= $index ?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?= $index ?>' style='width:100%' name='whereco[]' onchange='getOpt(this)'>
                                            <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                            <?php

                                            foreach ($this->filterlist as $row) {
                                                $colname = $row;
                                                if ($value == $colname) {
                                                    $selected = "selected";
                                                } else {
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>

                                    <div class="col-md-6 form-inline" id='colvalue-<?= $key ?>'>
                                        <script type="text/javascript">
                                            $(document).ready(function() {
                                                var colval = "#colvalue-<?= $key ?>";
                                                var colomnname = "<?= $value ?>";
                                                // var colselect= "<?= $value ?>";
                                                var colselect = "colselect-<?= $key ?>";
                                                var ncolselect = "#colselect-<?= $key ?>";
                                                if (colomnname == 'BG_BRANCH') {
                                                    $(colval).append(
                                                        "<select class='form-control col-md-12' style='width:100%' id='" +
                                                        colselect + "' name='whereval[]' ></select>");

                                                    var id = $("#tablename").find(":selected").val();
                                                    $.ajax({
                                                        url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'sugestdata'), null, true) ?>",
                                                        type: 'GET',
                                                        dataType: "html",
                                                        data: {
                                                            id: '<?= $this->whereval[$key] ?>',
                                                            colomnname: colomnname
                                                        },
                                                        success: function(data) {
                                                            $(ncolselect).html(data);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                            alert(
                                                                "Failed to get where column list, please try again");
                                                        }
                                                    });
                                                    // document.getElementById(colselect).value = '<?= $this->whereval[$key] ?>';
                                                    $(colselect).val('<?= $this->whereval[$key] ?>');

                                                } else if (colomnname == 'PRINCIPAL_INSURANCE') {
                                                    $(colval).append(
                                                        "<select class='form-control col-md-12' style='width:100%' id='" +
                                                        colselect + "' name='whereval[]' ></select>");

                                                    var id = $("#tablename").find(":selected").val();
                                                    $.ajax({
                                                        url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'sugestdata'), null, true) ?>",
                                                        type: 'GET',
                                                        dataType: "html",
                                                        data: {
                                                            id: '<?= $this->whereval[$key] ?>',
                                                            colomnname: colomnname
                                                        },
                                                        success: function(data) {
                                                            $(ncolselect).html(data);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                            alert(
                                                                "Failed to get where column list, please try again");
                                                        }
                                                    });
                                                    // document.getElementById(colselect).value = '<?= $this->whereval[$key] ?>';
                                                    $(colselect).val('<?= $this->whereval[$key] ?>');

                                                }
                                            });
                                        </script>
                                        <?php
                                        if ($value == 'BG_CG_DEADLINE') {
                                            // var_dump($this->whereval);die;
                                        ?>
                                            <input type='text' class='form-control' name='createdate[]' id='createdStart' readonly value="<?= $this->BG_CG_DEADLINE_START ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' value="<?= $this->BG_CG_DEADLINE_END ?>" readonly required>
                                        <?php
                                        } else if ($value == 'BG_ISSUED') {
                                        ?>
                                            <input type='text' class='form-control' name='bgissuedate[]' id='bgissueStart' readonly value="<?= $this->BG_ISSUED_START ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='bgissuedate[]' id='bgissueEnd' value="<?= $this->BG_ISSUED_END ?>" readonly required>
                                        <?php

                                        } else if (!in_array($value, $selectlist)) {
                                        ?>
                                            <input class='form-control  col-md-12' type='text' name='whereval[]' style='width:100%' value='<?= $this->whereval[$index] ?>' />
                                        <?php
                                        }
                                        if (!in_array($value, $datetype)) {
                                            // print_r($value);die;
                                            $index++;
                                        }
                                        ?>


                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    <?php
                        $index++;
                    }
                    ?>

                </div>

                <div class="row " id="logo-title" style="display: none">
                    <div class="portlet-body form col-md-12">
                        <div id="wheres" style="width: 100%">
                            <!-- <div id="where-<?= $index ?>">
                            </div> -->
                        </div>
                        <input type="hidden" id="wherectr" value="0" />
                        <br />
                        <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                        &nbsp;
                        <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
                        &nbsp;
                        <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">
                        <br />
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
                    <a href="#" class="sidebar-collapse-icon with-animation">
                        <?php echo $this->language->_('Advanced Search'); ?>
                    </a>
                </div>
                <br>

            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <div style="float:left">

            </div>
            <div style="float:right; padding-left:5px;">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="search form-control" id="searchtable" placeholder="Search">
                </div>
            </div>

            <div style="float:right; padding-left:5px;">
                <!-- <button class="btngrad hov"
                    style="font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important; width: 100px !important;width: 100px !important;background-image:url(/images/print-light.png);background-repeat: no-repeat;background-position: 10px 3px;float:right;">Print</button> -->
                <!-- <form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post" onsubmit="target_popup(this)">

                    <input type="submit" value="Print" name="print" style="color: #000000 !important;font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important; width: 100px !important;width: 100px !important;background-image:url(/images/print-light.png);background-repeat: no-repeat;background-position: 10px 3px;" class="btngrad hov">

                </form> -->
            </div>
            <div style="float:right; padding-left:5px;">
                <!-- <input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa hov"> -->
                <!-- <form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">

                    <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa hov">'; ?>&nbsp;
                </form> -->
            </div>
        </div>
    </div>

</div>
<?php if ($this->success) { ?>
    <div class="successmsg"><?= $this->report_msg ?></div><br />
<?php } else if ($this->error) { ?>
    <div class="errmsg"><?= $this->report_msg ?></div><br />
<?php } ?>

<div class="portlet-body flip-scroll table-responsive table-fixed pt-2" id="fixTable">
    <table class="table table-sm table-striped headerNew" id="myTable">
        <tr height="50px">
            <th class="tablehead" width="3%" valign="top">No</th>
            <?php echo $this->partial(
                'tableheader.phtml',
                array(
                    'fields' => $this->fields,
                    'sortBy' => $this->sortBy,
                    'sortDir' => $this->sortDir,
                    'query_string_params' => $this->query_string_params
                )
            ) ?>
        </tr>
        <?php
        $counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;

        if (count($this->paginator) > 0) {
            $i = 0;

            require_once 'Crypt/AESMYSQL.php';
            $AESMYSQL = new Crypt_AESMYSQL();
            $rand = $this->token;

            foreach ($this->paginator as $row) {

                $encrypted_bg_reg_numb = $AESMYSQL->encrypt($row['REG_NUMBER'], $rand);
                $encrypted_bg_reg_numb = urlencode($encrypted_bg_reg_numb);

                $link = '/display/counterguarantee/detail/bgnumb/' . $encrypted_bg_reg_numb;

                $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';


                if (isset($row['CCYID'])) {
                    $row['CCYID'] = $row['CCYID'];
                } else {
                    $row['CCYID'] = "IDR";
                }

                if ($row['BG_CG_DEADLINE'] <= date("Y-m-d")) {
                    echo '<tr>
                        <td class="' . $td_css . '" width="3%">' . $counter . '</td>
                        <td class="' . $td_css . '" style="color:red;" width="5%">' . $row['PRINCIPAL_NUMBER'] . '</td>
                        <td class="' . $td_css . '" style="color:red;" width="15%"><a href="' . $link . '">' . $row['BG_NUMBER'] . '</a></td> 
                        <td class="' . $td_css . '" style="color:red;" width="15%"><label style="text-align:left;width: 100%;">' . $row['CCYID'] . ' ' . Application_Helper_General::displayMoneyplain($row['BG_AMOUNT']) . '</label></td>
                        <td class="' . $td_css . '" style="color:red;" width="10%">' . $row['BRANCH_NAME'] . '</td> 
                        <td class="' . $td_css . '" style="color:red;" width="22%">' . $row['INS_BRANCH_NAME'] . '</td> 
                        <td class="' . $td_css . '" style="color:red;" width="10%">' . Application_Helper_General::convertDate($row['BG_ISSUED'], $this->viewDateFormat, $this->defaultDateFormat) . '</td> 
                        <td class="' . $td_css . '" style="color:red;" width="10%">' . Application_Helper_General::convertDate($row['BG_CG_DEADLINE'], $this->viewDateFormat, $this->defaultDateFormat) . '</td> 
                        
                        
                    </tr>';
                } else {
                    echo '<tr>
                        <td class="' . $td_css . '" width="3%">' . $counter . '</td>
                        <td class="' . $td_css . '" width="5%">' . $row['PRINCIPAL_NUMBER'] . '</td>
                        <td class="' . $td_css . '" width="15%"><a href="' . $link . '">' . $row['BG_NUMBER'] . '</a></td> 
                        <td class="' . $td_css . '" width="15%"><label style="text-align:left;width: 100%;">' . $row['CCYID'] . ' ' . Application_Helper_General::displayMoneyplain($row['BG_AMOUNT']) . '</label></td>
                        <td class="' . $td_css . '" width="10%">' . $row['BRANCH_NAME'] . '</td> 
                        <td class="' . $td_css . '" width="22%">' . $row['INS_BRANCH_NAME'] . '</td> 
                        <td class="' . $td_css . '" width="10%">' . Application_Helper_General::convertDate($row['BG_ISSUED'], $this->viewDateFormat, $this->defaultDateFormat) . '</td> 
                        <td class="' . $td_css . '" width="10%">' . Application_Helper_General::convertDate($row['BG_CG_DEADLINE'], $this->viewDateFormat, $this->defaultDateFormat) . '</td> 
                        
                        
                    </tr>';
                }

                $i++;
                $counter++;
            }
        } else {
            echo "<tr><td colspan=10 class='tbl-evencontent' align='center'> ---" . $this->language->_('No Data') . " --- </td></tr>";
        }
        ?>
    </table>
</div>


<script type="text/javascript">
    function removeParent(elem) {
        var parentname = elem.parentNode.parentNode.parentNode.id;
        $("#" + parentname).remove();
    }
    $(document).ready(function() {

        $("#addwhere").click(function() {
            var ctr = $("#wherectr").val();
            var optstr = '<?php echo $optArr; ?>';
            var wherecol = "#wherecol-" + ctr;
            $("#wheres").append("<div id='where-" + ctr +
                "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control' id='wherecol-" +
                ctr + "' style='width:100%' name='whereco[]' onchange='getOpt(this)'>" + optstr +
                "</select></div><div style='display:none'><select class='form-control' id='whereopt-" +
                ctr +
                "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" +
                ctr +
                "'><input class='form-control col-md-12' style='width:100%' type='text' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>"
            );
            ctr++;
            $("#wherectr").val(ctr);
        });
    });

    function getOpt(elem) {
        var id = elem.id;
        var temp = id.split('-');
        var ctr = temp[1];

        var selval = elem.value;
        var tempval = selval.split('-');
        dttype = tempval[1];

        colomnname = tempval[0];
        var colval = "#colvalue-" + ctr;
        var colselect = "colselect-" + ctr;
        var ncolselect = "#colselect-" + ctr;
        var $coll = $('.event_select');
        $coll.children().prop('disabled', false);
        $coll.each(function() {
            var val = this.value;
            if (val === 'original') return;
            $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
        });

        $(colval).empty();
        if (colomnname == 'BG_CG_DEADLINE') {
            $(colval).append(
                "<input type='text' class='form-control'  name='createdate[]' id='createdStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' readonly required>"
            );
            $('#createdStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#createdEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });

        } else if (colomnname == 'BG_ISSUED') {
            $(colval).append(
                "<input type='text' class='form-control'  name='bgissuedate[]' id='bgissueStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='bgissuedate[]' id='bgissueEnd' readonly required>"
            );
            $('#bgissueStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#bgissueEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });

        } else if (colomnname == 'BG_BRANCH' || colomnname == 'PRINCIPAL_INSURANCE') {

            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect +
                "' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'sugestdata'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id,
                    colomnname: colomnname

                },
                success: function(data) {
                    // alert(data);
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else {
            $(colval).append(
                "<input type='text' name='whereval[]' style='width:100%' value='' maxlength='30'  class='form-control col-md-12' >"
            );
        }


        var optsel = "whereopt-" + ctr;
        document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

        if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
            document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }
        if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
        } else if (dttype == 'date' || dttype == 'datetime') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }

        var colomn = '#whereopt-' + ctr;
        var data = $(colomn).val('EQUAL').change();

    }
</script>