<style>
    .header-status {
        padding-top: 10pt;
    }

    table {
        width: 100%;
    }

    .fit-content tbody tr td:first-child {
        width: 30%;
        padding-top: 5pt;
        padding-bottom: 5pt;
        padding-left: 5pt;
    }

    .header-background {
        background-color: #005587;
    }

    .text-white {
        color: white;
    }

    .pt-15 {
        padding-top: 15pt;
    }

    .py-3 {
        padding-top: 3pt;
        padding-bottom: 3pt;
    }

    .pt-5 {
        padding-top: 5pt;
    }

    .font-weight-bold {
        font-weight: bold;
    }

    .pl-5 {
        padding-left: 5pt;
    }

    .text-normal {
        font-size: 10pt;
    }

    .font-italic {
        font-style: italic;
    }

    .text-danger {
        color: red;
    }

    /* ------------- LAPORAN TRANSAKSI --------------- */

    #laporan_transaksi thead tr th {
        width: 1%;
        white-space: nowrap;
        background-color: #CCCCCC;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: normal;
        color: black;
    }

    #laporan_transaksi tbody tr td {
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: normal;
        padding-left: 5px;
        padding-right: 5px;
    }

    #laporan_transaksi tbody td {
        background-color: #E6E6E6;
    }

    #laporan_transaksi tbody tr:hover td {
        /* background-color: #a3a3a3; */
        background-color: #005587;
        color: #ffffff;
    }

    #laporan_transaksi tbody tr:hover td:nth-child(1) a {
        text-decoration: none;
        color: #FCDA31;
    }

    #laporan_transaksi tbody tr td:last-child,
    #laporan_transaksi thead tr th:last-child {
        text-align: center;
    }

    .traStatus {
        height: 20px;
        width: 20px;
        border-radius: 999999px;
    }

    .cursor-pointer {
        cursor: pointer;
    }
</style>


<!-- SECTION STATUS -->
<section id="__status">
    <div class="header-status pl-5">
        <h4><?= $this->language->_('Status Penyelesaian'); ?></h4>
    </div>
    <table id="__status_table" class="fit-content">
        <tbody>
            <tr>
                <td><?= $this->language->_('Ref Penyelesaian / PREF#'); ?></td>
                <td><?= $this->getBG['CLOSE_REF_NUMBER'] ?></td>
            </tr>

            <tr>
                <td><?= $this->language->_('Nomor Bank Garansi'); ?></td>
                <td><?= implode('-', [substr($this->getBG['BG_NUMBER'], 0, 3), substr($this->getBG['BG_NUMBER'], 3, 6), substr($this->getBG['BG_NUMBER'], 9, 5), substr($this->getBG['BG_NUMBER'], 14, 4)]) ?></td>
            </tr>

            <tr>
                <td><?= $this->language->_('Principal'); ?></td>
                <td><?= $this->getBG['CUST_NAME'] . ' (' . $this->getBG['CUST_ID'] . ')'; ?></td>
            </tr>

            <tr>
                <td><?= $this->language->_('Obligee'); ?></td>
                <td><?= $this->getBG['RECIPIENT_NAME']; ?></td>
            </tr>

            <tr>
                <td><?= $this->language->_('Subjek'); ?></td>
                <td><?= $this->getBG['BG_SUBJECT'] ?></td>
            </tr>

            <tr>
                <td><?= $this->language->_('Bank Cabang Penerbit'); ?></td>
                <td><?= $this->getBG['BRANCH_NAME'] ?></td>
            </tr>

            <tr>
                <td><?= $this->language->_('Status Bank Garansi'); ?></td>
                <td>Berakhir (Tanggal Berakhir : <?= $this->updateEnd; ?>)</td>
            </tr>

            <tr>
                <td><?= $this->language->_('Jenis Penutupan'); ?></td>
                <td><?= $this->arrType[$this->getBG['TYPE']]; ?></td>
            </tr>

            <tr>
                <td><?= $this->language->_('Status Penyelesaian'); ?></td>
                <td><?= $this->arrStatusPenutupan[$this->getBG['PS_STATUS']]; ?></td>
            </tr>

            <tr>
                <td><?= $this->language->_('Catatan'); ?></td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
</section>

<!-- SECTION KONTRA GARANSI -->
<section id="__kontragaransi" class="pt-15">
    <div class="header-background py-3 pl-5">
        <span class="text-white font-weight-bold text-normal"><?= $this->language->_('Kontra Garansi'); ?></span>
    </div>
    <table class="fit-content pt-5">
        <tbody>
            <tr>
                <td><?= $this->language->_('Jenis Kontra Garansi'); ?></td>
                <td><?= $this->counterWarrantyDesc; ?></td>
            </tr>

            <!-- LINE FACILITY -->
            <?php if ($this->counterWarrantyType == 2) : ?>

                <tr>
                    <td><?= $this->language->_('Pemilik Plafond Limit'); ?></td>
                    <td><?= $this->getBG['CUST_NAME']; ?></td>
                </tr>

            <?php endif ?>

            <!-- ASURANSI -->
            <?php if ($this->counterWarrantyType == 3) : ?>

                <tr>
                    <td><?= $this->language->_('Nama Asuransi'); ?></td>
                    <td><?= $this->getBG['INS_NAME']; ?></td>
                </tr>

                <tr>
                    <td><?= $this->language->_('Cabang Asuransi'); ?></td>
                    <td><?= $this->insuranceBranch; ?></td>
                </tr>

            <?php endif ?>

        </tbody>
    </table>
</section>

<!-- REKENING TUJUAN PEMBAYARAN KLAIM -->
<section id="__rekclaim" class="pt-15">
    <div class="header-background py-3 pl-5">
        <span class="text-white font-weight-bold text-normal"><?= $this->language->_('Rekening Tujuan Pembayaran Klaim'); ?></span>
    </div>
    <table class="fit-content pt-5">
        <tbody>
            <tr>
                <td><?= $this->language->_('Tipe Transfer'); ?></td>
                <td><?= ($this->dataListAccount_ins['Claim Transfer Type']) ? (($this->dataListAccount_ins['Claim Transfer Type'] == 1) ? 'SKN' . ' <span class="font-italic">(Biaya : IDR ' . number_format($this->global_charges_skn, 2) . ') </span>' : 'RTGS' . ' <span class="font-italic">(Biaya : IDR ' . number_format($this->global_charges_rtgs, 2) . ')</span>')  : 'Transfer BTN' ?></td>
            </tr>

            <tr>
                <td><?= $this->language->_('Bank Penerima'); ?></td>
                <td><?= $this->beneficiaryBankName; ?></td>
            </tr>

            <tr>
                <td><?= $this->language->_('Rekening Penerima'); ?></td>
                <td><?= $this->beneficiaryAccount; ?></td>
            </tr>

            <tr>
                <td><?= $this->language->_('Nama Penerima'); ?></td>
                <td><?= $this->beneficiaryName; ?></td>
            </tr>

            <tr>
                <td><?= $this->language->_('Alamat Penerima'); ?></td>
                <td><?= $this->beneficiaryAddress ?: '-'; ?></td>
            </tr>

            <tr>
                <td><?= $this->language->_('Nominal Pembayaran'); ?></td>
                <td class="text-danger font-weight-bold"><?= implode(' ', [$this->beneficiaryCurrency, number_format($this->beneficiaryAmount, 2)]); ?></td>
            </tr>

            <tr>
                <td><?= $this->language->_('Berita'); ?></td>
                <td><?= $this->beneficiaryRemark; ?></td>
            </tr>

        </tbody>
    </table>
</section>

<!-- RIWAYAT -->
<section id="__history" class="pt-15">
    <div class="header-background py-3 pl-5">
        <span class="text-white font-weight-bold text-normal"><?= $this->language->_('Riwayat'); ?></span>
    </div>

    <table class="pt-5">
        <thead>
            <tr>
                <th><?= $this->language->_('User'); ?></th>
                <th><?= $this->language->_('User ID'); ?></th>
                <th><?= $this->language->_('Tindakan'); ?></th>
                <th><?= $this->language->_('Tanggal / Waktu'); ?></th>
                <th><?= $this->language->_('Keterangan'); ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->dataHistory as $row) : ?>
                <tr style="background-color:#eee">
                    <td><?= $row['USER_FROM']; ?></td>
                    <td><?= $row['USER_LOGIN']; ?></td>
                    <td><?= $this->historyStatusArr[$row['HISTORY_STATUS']]; ?></td>
                    <td><?= date('d M Y H:i:s', strtotime($row['DATE_TIME'])); ?></td>
                    <td><?= $row['BG_REASON'] ?: '-'; ?></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</section>

<!-- MEMO / SURAT PERSETUJUAN KLAIM -->
<section id="__memo" class="pt-15">
    <div class="header-background py-3 pl-5">
        <span class="text-white font-weight-bold text-normal"><?= $this->language->_('Memo / Surat Persetujuan Klaim'); ?></span>
    </div>
    <table class="fit-content pt-5">
        <tbody>
            <tr>
                <td><?= $this->language->_('Dasar Penentuan File'); ?></td>
                <?php
                $memo = array_shift(array_filter($this->lampiranDokumenSelesai, function ($item) {
                    return strtolower($item['FILE_NOTE']) == 'memo / surat persetujuan klaim';
                }));

                $memoExplode = explode('_', $memo['BG_FILE']);
                $memoName = str_replace([$memoExplode[0], $memoExplode[1], $memoExplode[2]], '', $memo['BG_FILE']);
                $memoName = trim($memoName, '_');
                ?>
                <td><?= $memoName; ?></td>
            </tr>

            <?php if ($this->dataListAccount_ins['Charge Account Number']) : ?>
                <tr>
                    <td><?= $this->language->_('Rekening Pembebanan Biaya'); ?></td>
                    <td><?= implode(' ', [$this->dataListAccount_ins['Charge Account Number'], '(' . $this->dataListAccount_ins['Charge Account CCY'] . ')', '/ ' . $this->dataListAccount_ins['Charge Account Name'] . '']); ?></td>
                </tr>
            <?php endif ?>

        </tbody>
    </table>
</section>

<!-- LAPORAN TRANSAKSI -->
<section id="__transactionreport" class="pt-15">
    <div class="header-background py-3 pl-5">
        <span class="text-white font-weight-bold text-normal"><?= $this->language->_('Laporan Transaksi'); ?></span>
    </div>
    <table id="laporan_transaksi" class="pt-5">
        <thead>
            <tr>
                <th><?= $this->language->_('TraRef#'); ?></th>
                <th><?= $this->language->_('Service'); ?></th>
                <th><?= $this->language->_('HoldSeq'); ?></th>
                <th><?= $this->language->_('Rekening Sumber'); ?></th>
                <th><?= $this->language->_('Rekening Tujuan'); ?></th>
                <th><?= $this->language->_('Jumlah'); ?></th>
                <th><?= $this->language->_('Status'); ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->dataHistoryTransaction as $key => $value) :
                $getTrxSeq = str_replace($this->getBG['CLOSE_REF_NUMBER'], '', $value['TRANSACTION_ID']);
                switch ($value['TRA_STATUS']) {
                    case 1:
                        $traStatus = 'bg-success';
                        break;
                    case 2:
                        $traStatus = 'bg-success';
                        break;
                    case 3:
                        $traStatus = 'bg-warning';
                        break;
                    case 4:
                        $traStatus = 'bg-danger';
                        break;
                    default:
                        $traStatus = 'bg-primary';
                        break;
                }
            ?>
                <tr>
                    <td><?= 'PREF-' . $getTrxSeq; ?></td>
                    <td><?= $this->arrListService[$value['SERVICE']]; ?></td>
                    <td><?= $value['HOLD_SEQUENCE'] ?: '-'; ?></td>
                    <td><?= trim(implode(' ', [$value['SOURCE_ACCT'], '(' . $value['SOURCE_ACCT_CCY'] . ')', '/', $value['SOURCE_ACCT_NAME']])); ?></td>
                    <td><?= $value['BENEF_ACCT'] ? trim(implode(' ', [$value['BENEF_ACCT'], '(' . $value['TRA_CCY'] . ')', '/', $value['BENEF_ACCT_NAME']])) : '-'; ?></td>
                    <td><?= ($value['TRA_AMOUNT'] != '0') ? implode(' ', [$value['TRA_CCY'], number_format($value['TRA_AMOUNT'], 2)]) : '-'; ?></td>
                    <td><?= $value['TRA_STATUS'] == 1 ? $this->language->_('Sukses') : $this->language->_('Sukses Dengan Pembaharuan Status') ?></td>
                </tr>
            <?php endforeach ?>
        </tbody>
    </table>
</section>

<!-- WAKTU PEMROSESAN KLAIM -->
<section id="__monitorklaim" class="pt-15">
    <div class="header-background py-3 pl-5">
        <span class="text-white font-weight-bold text-normal"><?= $this->language->_('Monitor Pemrosesan Klaim'); ?></span>
    </div>
    <table class="fit-content pt-5">
        <tbody>
            <tr>
                <?php
                $historyVerif = array_filter(array_column($this->dataHistory, 'HISTORY_STATUS'), function ($item) {
                    return $item == '21';
                });

                $getDataVerif = $this->dataHistory[array_keys($historyVerif)[0]];
                // $dateTimeVerif = $getDataVerif['DATE_TIME'];
                $dateTimeVerif = $this->getBG['CLAIM_FIRST_VERIFIED'];
                ?>
                <td><?= $this->language->_('Tanggal Verifikasi Awal'); ?></td>
                <td><?= date('d M Y @ H:i:s', strtotime($dateTimeVerif)); ?></td>
            </tr>
            <tr>
                <td><?= $this->language->_('Tanggal Proses Selesai'); ?></td>
                <td><?= date('d M Y @ H:i:s', strtotime($this->getBG['PSLIP_DONE'])); ?></td>
            </tr>
            <tr>
                <?php
                $lastVerif = new DateTime($dateTimeVerif);
                $timeDifferenceSinceVerif = $lastVerif->diff(new DateTime(date('Y-m-d H:i:s', strtotime($this->getBG['PSLIP_DONE']))));
                ?>
                <td><?= $this->language->_('Waktu Penyelesaian Klaim'); ?></td>
                <td><?= ($timeDifferenceSinceVerif->days == 0 && $timeDifferenceSinceVerif->h == 0 && $timeDifferenceSinceVerif->i == 0) ? '-' : (($timeDifferenceSinceVerif->days == 0) ? '' : (str_pad($timeDifferenceSinceVerif->days, 2, '0', STR_PAD_LEFT) . ' hari  ')) . (($timeDifferenceSinceVerif->h == 0) ? '' : (str_pad($timeDifferenceSinceVerif->h, 2, '0', STR_PAD_LEFT) . ' jam  ')) . (($timeDifferenceSinceVerif->i == 0) ? '' : (str_pad($timeDifferenceSinceVerif->i, 2, '0', STR_PAD_LEFT) . ' menit')); ?></td>
            </tr>

        </tbody>
    </table>
</section>