<?php
$counter = (($this->currentPage - 1) * $this->paginator->getItemCountPerPage()) + 1;
?>


<script type="text/javascript">
    $(document).ready(function() {
        $('div#sidebar-collapse').click(function() {
            if ($("#logo-title").is(":visible")) {
                $("#logo-title").hide();
                $("#logo-titles").hide();
            } else if ($("#logo-title").is(":hidden")) {
                $("#logo-title").show();
                $("#logo-titles").show();
            }
        });

        $('#sugestStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#sugestEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });

        $('#fixTable').fixTableHeader();

    });
</script>


<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('Administrator'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <?php echo $this->language->_('Unlock Admin User Request List'); ?>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row content-box">
    <div class="portlet-body form col-md-12">
        <h5><?= $this->language->_('Unlock Admin User Request List') ?></h5>
        <form name="filterForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.phtml'), null, true) ?> method="get">


            <?php
            $optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
            foreach ($this->filterlist as $row) {
                $optArr .=  '<option value="' . $row . '" >' . $this->language->_($row) . '</option>';
            }

            ?>
            <div class="row " id="logo-titles" style="margin-left: 0px">
                <?php
                if (!empty($this->wherecol)) {
                ?>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $("#logo-title").show();
                        });
                    </script>
                <?php
                }
                // print_r($this->whereval);die;
                $index = 0;
                foreach ($this->wherecol as $key => $value) {
                ?>
                    <div id="searchs" style="width: 100%">
                        <?php
                        $datetype = array('LOCK_STATUS');
                        $selectlist = array("USER_ID", 'BUSER_NAME', "LOCK_STATUS", "BRANCH_BANK", "REQUEST_BY");

                        ?>
                        <div id="where-<?= $index ?>">
                            <div class="form-group row mt-12">
                                <div class="col-md-4 form-inline">
                                    <select class='form-control event_select' id='wherecol-<?= $index ?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                        <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                        <?php

                                        foreach ($this->filterlist as $row) {
                                            $colname = $row;
                                            if ($value == $colname) {
                                                $selected = "selected";
                                            } else {
                                                $selected = "";
                                            }
                                        ?>
                                            <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col" style="display: none">
                                    <select class='form-control' id='whereopt-<?= $index ?>' name='whereopt[]'>

                                        <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                        <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                            <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
                                        <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col-md-6 form-inline" id='colvalue-<?= $key ?>'>
                                    <script type="text/javascript">
                                        $(document).ready(function() {
                                            var colval = "#colvalue-<?= $key ?>";
                                            var colomnname = "<?= $value ?>";
                                            // var colselect= "<?= $value ?>";
                                            var colselect = "colselect-<?= $key ?>";
                                            var ncolselect = "#colselect-<?= $key ?>";
                                            if (colomnname == 'LOCK_STATUS') {
                                                // alert('<?= $this->whereval[$key] ?>');
                                                $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                                                var id = $("#tablename").find(":selected").val();
                                                $.ajax({
                                                    url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'block'), null, true) ?>",
                                                    type: 'GET',
                                                    dataType: "html",
                                                    data: {
                                                        id: '<?= $this->whereval[$key] ?>'
                                                    },
                                                    success: function(data) {
                                                        $(ncolselect).html(data);
                                                    },
                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                        alert("Failed to get where column list, please try again");
                                                    }
                                                });

                                                $(colselect).val('<?= $this->whereval[$index] ?>');

                                            } else if (colomnname == 'BRANCH_BANK') {

                                                $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                                                var id = $("#tablename").find(":selected").val();
                                                $.ajax({
                                                    url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bbranch'), null, true) ?>",
                                                    type: 'GET',
                                                    dataType: "html",
                                                    data: {
                                                        id: id
                                                    },
                                                    success: function(data) {
                                                        $(ncolselect).html(data);
                                                        console.log(colselect);
                                                        document.querySelector(`#${colselect}`).value = '<?= $this->whereval[$index] ?>';
                                                    },
                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                        alert("Failed to get where column list, please try again");
                                                    }
                                                });
                                                // paytype
                                            }
                                        });
                                    </script>
                                    <?php


                                    // print_r($selectlist);
                                    if ($value == 'UPDATE_DATE') {
                                        // var_dump($this->whereval);die;
                                    ?>
                                        <input type='text' class='form-control' name='updatedate[]' id='sugestStart' readonly value="<?= $this->fDateFrom ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='sugestEnd' value="<?= $this->fDateTo ?>" readonly required>
                                    <?php
                                    } else if (in_array($value, $selectlist)) {
                                    ?>
                                        <input class='form-control' type='text' name='whereval[]' value='<?= $this->whereval[$key] ?>' style="width:100%" />
                                    <?php }
                                    if (!in_array($value, $datetype)) {
                                        // print_r($value);die;
                                        $index++;
                                    }
                                    ?>
                                </div>
                                <div class="col-md-2 form-inline">
                                    <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>

                <?php
                }
                ?>

            </div>


            <div class="row " id="logo-title" style="display: none">
                <div class="portlet-body form col-md-12">
                    <div id="wheres" style="width: 100%">
                        <?php if (!$this->wherecol) { ?>
                            <div id="where-<?= $index ?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?= $index ?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                            <?php

                                            foreach ($this->filterlist as $row) {
                                                $colname = $row;
                                                if ($val == $colname) {
                                                    $selected = "selected";
                                                } else {
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?= $index ?>' name='whereopt[]'>

                                            <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                                                <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                            <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                                                <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
                                            <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                                                <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?= $index ?>'>
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value='' />
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        <?php } ?>
                        <?php //}}
                        ?>
                    </div>
                    <input type="hidden" id="wherectr" value="<?= $this->wherectr ?>" />
                    <!-- <input type="hidden" id="wherectr" value="0" /> -->
                    <br />
                    <button type="button" class="btngreen hov" id="addwhere"><?php echo $this->language->_('Add Filter'); ?></button>
                    &nbsp;
                    <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
                    &nbsp;
                    <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">


                    <br />


                    <div class="portlet-body form" style="display: none">

                        <div class="form-group row ">
                            <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
                            <div class="col-md-4">
                                <?php echo $this->formSelect('paymentType', $this->paymentType, array('id' => 'paymentType', 'class' => 'form-control', 'onclick' => 'changeTransferType()'), $this->optPayType); ?>
                            </div>
                            <label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
                            <div class="col-md-3">
                                <select name="transferType" id="transferType" class="form-control">
                                    <option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row ">

                            <div class="col-md-12">
                                <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btn btn-success')); ?>&nbsp;
                                <input type="button" name="clearfilter" class="btn btn-success" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-4">
                </div>

            </div>
            <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
                <a href="#" class="sidebar-collapse-icon with-animation">
                    <?php echo $this->language->_('Advanced Search'); ?>
                </a>
            </div>

        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br />
        <?php
        if ($this->success) { ?>
            <div class="successmsg"><?= $this->report_msg ?></div><br />
        <?php } else if ($this->error) { ?>
            <div class="errmsg">
                <?= $this->report_msg ?></div><br />
        <?php } ?>

        <br />
        <form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">

            <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <!-- <th width="3%" valign="top" style="background-color: #0a3918; color:white">No</th> -->
                            <th valign="top" class="tablehead"><input type="checkbox" id="select_all"></th>
                            <th class="tablehead"><?php echo $this->language->_('Admin User ID');  ?></th>
                            <th class="tablehead"><?php echo $this->language->_('Admin User Name');  ?></th>
                            <th class="tablehead"><?php echo $this->language->_('Branch Bank');  ?></th>
                            <!-- <th class="tablehead"><?php echo $this->language->_('Lock Status');  ?></th>  -->
                            <!-- <th class="tablehead"><?php echo $this->language->_('Lock Reason');  ?></th> -->
                            <th class="tablehead"><?php echo $this->language->_('Requested By');  ?></th>
                            <!-- <th class="tablehead"><?php echo $this->language->_('Email to');  ?></th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        if (count($this->paginator)) {
                            $i = 0;
                            foreach ($this->paginator as $row) {
                                $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
                                if ($row['BUSER_ISLOCKED'] == "1") {
                                    $lock = "Locked";
                                } else {
                                    $lock = "No";
                                }
                                if ($row['BUSER_ISEMAILPWD'] == "1") {
                                    $method = "Email";
                                } else {
                                    $method = "Posted Mail";
                                }
                                //<td class="'.$td_css.'">'.$row['BUSER_NAME'].' ('.$row['BUSER_ID'].')</td>
                                /* echo '<tr>
          <td class="'.$td_css.'" >
            <input type="checkbox" class="checkbox" name="'.$row['BUSER_ID'].'">
          </td>
					<td class="'.$td_css.'">'.$row['BUSER_ID'].'</td>
					<td class="'.$td_css.'">'.$row['BUSER_NAME'].'</td>
					<td class="'.$td_css.'">'.$row['BRANCH_NAME'].'</td>
					<td class="'.$td_css.'">'.$row['BUSER_LOCKREASON'].'</td>
					<td class="'.$td_css.'">'.$row['BUSER_RCHANGE_USER'].'</td>  
					<td class="'.$td_css.'">'.$row['BUSER_EMAIL'].'</td>

					</tr>';*/
                                echo '<tr>
          <td class="' . $td_css . '" >
            <input type="checkbox" class="checkbox" name="' . $row['BUSER_ID'] . '">
          </td>
					<td class="' . $td_css . '">' . $row['BUSER_ID'] . '</td>
					<td class="' . $td_css . '">' . $row['BUSER_NAME'] . '</td>
					<td class="' . $td_css . '">' . $row['BRANCH_NAME'] . '</td>
					<td class="' . $td_css . '">' . $row['BUSER_RCHANGE_USER'] . '</td>

					</tr>';
                                $i++;
                                $counter++;
                            }
                        } else {
                            echo '<tr><td width="1000" colspan="11" class="tbl-evencontent" align="center"> --- ' . $this->language->_('No Data') . ' --- </td></tr>';
                        }
                        ?>
                    </tbody>
                </table>
            </div>

            <br />
            <div align="right"><?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?></div>
            <br />
            <div class="formbutton" align="center">
                <?php if ($this->hasPrivilege('ADCP')) { ?>

                    <?php echo $this->formSubmit('reqaction_reject', $this->language->_('Reject'), array('class' => 'btnwhite hov')); ?>&nbsp;
                    <?php echo $this->formSubmit('reqaction_approve', $this->language->_('Approve'), array('class' => 'btngreen hov')); ?>&nbsp;

                <?php } ?>

            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
    function removeParent(elem) {
        var parentname = elem.parentNode.parentNode.parentNode.id;
        $("#" + parentname).remove();
    }
    $(document).ready(function() {

        $("#addwhere").click(function() {
            var ctr = $("#wherectr").val();
            var optstr = '<?php echo $optArr; ?>';
            var wherecol = "#wherecol-" + ctr;
            $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" + ctr + "' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
            ctr++;
            $("#wherectr").val(ctr);
        });
    });

    function getOpt(elem) {
        var id = elem.id;
        var temp = id.split('-');
        var ctr = temp[1];

        var selval = elem.value;
        var tempval = selval.split('-');
        dttype = tempval[1];

        colomnname = tempval[0];
        var colval = "#colvalue-" + ctr;
        var colselect = "colselect-" + ctr;
        var ncolselect = "#colselect-" + ctr;
        var $coll = $('.event_select');
        $coll.children().prop('disabled', false);
        $coll.each(function() {
            var val = this.value;
            if (val === 'original') return;
            $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
        });

        $(colval).empty();
        if (colomnname == 'LOCK_STATUS') {

            $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'block'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });
            // paytype
        } else if (colomnname == 'BRANCH_BANK') {

            $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bbranch'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });
            // paytype
        } else {
            $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
        }




        var optsel = "whereopt-" + ctr;
        document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

        if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
            document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }
        if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
        } else if (dttype == 'date' || dttype == 'datetime') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }

        var colomn = '#whereopt-' + ctr;
        var data = $(colomn).val('EQUAL').change();

    }
</script>
<script type="text/javascript">
    var select_all = document.getElementById("select_all"); //select all checkbox
    var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items

    //select all checkboxes
    select_all.addEventListener("change", function(e) {
        for (i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = select_all.checked;
        }
    });

    for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener('change', function(e) { //".checkbox" change
            //uncheck "select all", if one of the listed checkbox item is unchecked
            if (this.checked == false) {
                select_all.checked = false;
            }
            //check "select all" if all checkbox items are checked
            if (document.querySelectorAll('.checkbox:checked').length == checkboxes.length) {
                select_all.checked = true;
            }
        });
    }
</script>