<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Language'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Change Language'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<div class="row content-box">
	<div class="portlet-body form col-md-12">
		<h5><?=$this->language->_('Change Language')?></h5>

		<form method="post" action="">
			<table cellpadding="3" cellspacing="0" border="0" width="80%" class="tableform">
				<!-- <tr><th colspan="3" class="tdform-sub"><strong><?=$this->language->_('Change Language');?></strong></th></tr> -->
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('lang',$this->language->_('Language'));?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent"><?=$this->formSelect('lang',$this->lang,array('class' => 'form-control col-md-12'),$this->arrLang);?></td>
				</tr>
        <tr>
          <td colspan="3" align="left" class="tbl-evencontent">
            <?php
            echo $this->formButton('back', $this->language->_('Back'), array('onclick' => "location.href='/home/dashboard'", 'class' => 'btnwhite hov'));
            ?>
            <?php  echo $this->formSubmit('submit',$this->language->_('Confirm Changes'),array('class'=>'btngreen hov'));?>
          </td>

        </tr>
			</table>
	<br/>

</form>
	</div>
</div>
