<script type="text/javascript">
$(document).ready(function(){
    $('#fixTable').fixTableHeader();
});
</script>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Charges'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <?php echo $this->language->_('Global Charges Setting'); ?>
                  </li>
              </ul>
          </div>
        </div>
</div>
<h5><?=$this->language->_('Global Charges Settings')?></h5>
<h6>Manage charge / fee service setting</h6>
<style>
.accordionDiv{
  background-color: #e0dede;
  border-radius: 10px;
  height: 40px;
  margin-top: 10px;
}

.iconCircle{
  margin-right: 8px;
  margin-top: 5px;
  background-color: #85878a;
}

.disabled {
    opacity: 0.4;
    cursor: not-allowed !important;
}
</style>

<script>
$(document).ready(function () {
  $('#historyDiv').hide();
  $('#historyBtnHide').hide();
  $('#realDiv').hide();
  $('#realBtnHide').hide();
  $('#remitDiv').hide();
  $('#remitBtnHide').hide();
});
 
function detailMonthShow()
  {
    $('#historyDiv').show();
    $('#historyBtnHide').attr('Onclick','detailMonthHide()');
    $('#historyBtnShow').hide();
    $('#historyBtnHide').show();

  }

  function detailMonthHide()
  {
    $('#historyDiv').hide();
    $('#historyBtnShow').attr('Onclick','detailMonthShow()');
    $('#historyBtnHide').hide();
    $('#historyBtnShow').show();
  }
  
  function realShow()
  {
    $('#realDiv').show();
    $('#realBtnHide').attr('Onclick','realHide()');
    $('#realBtnShow').hide();
    $('#realBtnHide').show();

  }

  function realHide()
  {
    $('#realDiv').hide();
    $('#realBtnShow').attr('Onclick','realShow()');
    $('#realBtnHide').hide();
    $('#realBtnShow').show();
  }
   
  function remitShow()
  {
    $('#remitDiv').show();
    $('#remitBtnHide').attr('Onclick','remitHide()');
    $('#remitBtnShow').hide();
    $('#remitBtnHide').show();

  }

  function remitHide()
  {
    $('#remitDiv').hide();
    $('#remitBtnShow').attr('Onclick','remitShow()');
    $('#remitBtnHide').hide();
    $('#remitBtnShow').show();
  }


</script>
<div class="row">
  <div class="col-md-12">
            <div class="col-md-12 p-0 accordionDiv">
                <table width="100%" border='0'>
                  <tr>
                    <td align="left">
                      <div class="row">
                        <div class="col-md-8"><h6 class="pt-2 pl-2 textBlack"><b><?php echo $this->language->_('Monthly Administration Fee per company');?></b></h6></div>
                      </div>
                    </td>
                    <td align="right">
                      <i class="iconCircle fas fa-chevron-down pt-2" onclick="detailMonthShow()" id="historyBtnShow"></i>
                      <i class="iconCircle fas fa-chevron-up pt-2" onclick="detailMonthHide()" id="historyBtnHide"></i>
                    </td>
                  </tr>
                </table>
            </div> 

          <div class="col-md-12 p-0 mb-4 mt-1" style="background-color: #ffffff !important;" id="historyDiv">
      <i style="color: #646464;">* The default monthly charge is blled to company index order amount number 1</i>
             <table class="col-md-12 table table-sm">
                <!--<tr>
                  <th width="45%">AUD</th>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100.00</td>
                </tr>
                <tr>
                  <th width="45%">EUR</th>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;25.00</td>
                </tr> -->
        <?php foreach ($this->monthlyglobal as $valm) { ?>
                <tr>
                  <th width="45%"><?php echo $valm['CCY']; ?></th>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo Application_Helper_General::displayMoney($valm['AMOUNT']); ?></td>
                </tr> 
        <?php } ?>
                <!--<tr>
                  <th width="45%">SGD</th>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;30.00</td>
                </tr> -->
            </table>
      <?php

		if(empty($this->changestatusmnth)){
	  $btn_edit = $this->url(array('module' => 'companycharges', 'controller' => 'monthlyfeenew', 'action' => 'index'), null, true);
        echo $this->formButton('edit', $this->language->_('Edit'), array('onclick' => 'location.href=\'' . $btn_edit . '\'', 'class' => 'btnwhite hov'.$this->changestatusmnth,'disable'=> $this->changestatusmnth ));
		}
		?>
    <div class="errmsg"><?php echo $this->errormnth ?></div>
          </div>
        </div>
    
    
    
    
    
  <div class="col-md-12">
            <div class="col-md-12 p-0 accordionDiv">
                <table width="100%" border='0'>
                  <tr>
                    <td align="left">
                      <div class="row">
                        <div class="col-md-5"><h6 class="pt-2 pl-2 textBlack"><b><?php echo $this->language->_('Realtime Local Transfer Charges');?></b></h6></div>
                      </div>
                    </td>
                    <td align="right">
                      <i class="iconCircle fas fa-chevron-down pt-2" onclick="realShow()" id="realBtnShow"></i>
                      <i class="iconCircle fas fa-chevron-up pt-2" onclick="realHide()" id="realBtnHide"></i>
                    </td>
                  </tr>
                </table>
            </div> 

          <div class="col-md-12 p-0 mb-4 mt-1" style="background-color: #ffffff !important;" id="realDiv">
      <i style="color: #646464;">* Default local transfer charges</i>
             
            <table class="col-md-12 table table-sm">
                <tr>
                  <th width="45%">Inhouse</th>
                  <td>IDR <?php echo Application_Helper_General::displayMoney($this->pbglobal) ?></td>
                </tr>
        <?php foreach ($this->domglobal as $valm) { ?>
                <tr>
                  <th width="45%"><?php echo $this->pstype[$valm['CHARGES_TYPE']]; ?></th>
                  <td><?php echo $valm['CHARGES_CCY'].' '.Application_Helper_General::displayMoney($valm['CHARGES_AMT']); ?></td>
                </tr> 
        <?php } ?>
               
            </table>
      
      <?php 
		if(empty($this->changestatuspb)){
	  $btn_edit = $this->url(array('module' => 'companycharges', 'controller' => 'transferfee', 'action' => 'index'), null, true);
        echo $this->formButton('edit', $this->language->_('Edit'), array('onclick' => 'location.href=\'' . $btn_edit . '\'', 'class' => 'btnwhite hov '.$this->changestatuspb ,'disable'=> $this->changestatuspb));
		}
		?>
    <div class="errmsg"><?php echo $this->errorpb ?></div>
        
          </div>
        </div>  
    
    
    <div class="col-md-12">
            <div class="col-md-12 p-0 accordionDiv">
                <table width="100%" border='0'>
                  <tr>
                    <td align="left">
                      <div class="row">
                        <div class="col-md-5"><h6 class="pt-2 pl-2 textBlack"><b><?php echo $this->language->_('Realtime Valas Transfer Charges');?></b></h6></div>
                      </div>
                    </td>
                    <td align="right">
                      <i class="iconCircle fas fa-chevron-down pt-2" onclick="remitShow()" id="remitBtnShow"></i>
                      <i class="iconCircle fas fa-chevron-up pt-2" onclick="remitHide()" id="remitBtnHide"></i>
                    </td>
                  </tr>
                </table>
            </div> 

          <div class="col-md-12 p-0 mb-4 mt-1" style="background-color: #ffffff !important;" id="remitDiv">
      <i style="color: #646464;">* Default Remittance transfer charges</i>
             
            <table width="100%" align="center" class="table table-sm table-striped">
              <tr>
                <th class="tablehead">CHARGE</th>
                <th class="tablehead" colspan="2">TRANSFER FEE</th>
                <th class="tablehead" colspan="2">FULL AMOUNT FEE</th> 
                <th class="tablehead" colspan="4">PROVISION FEE</th>
              </tr>
              <tr>
                <th class="tablehead">CCY</th>
                <th width="90px" class="tablehead">CCY</th>
                <th class="tablehead">Charge Amount</th>
                <th width="90px" class="tablehead">CCY</th>
                <th class="tablehead">Charge Amount</th>
                <th width="90px" class="tablehead">CCY</th>
                <th class="tablehead">Min Provision</th>
                <th class="tablehead">Max Provision</th>
                <th class="tablehead">% from Trx</th>
              </tr>
        
              <?php
                foreach($this->listccy  as $key => $value){
                  ?>
                    <tr>
                      <td><?php echo $value['CCY_ID']; ?> </td>
                      <td>
                      <?php $idccy = 'ccytf'.$value['CCY_ID']; 
                          $valueccy = 'tfccy'.$value['CCY_ID']; 
                          $chargetype = 'charges_type'.$value['CCY_ID']; 
                          
                          $tfamt = 'tfamt'.$value['CCY_ID']; 
                          $tfamount = 'tfamount'.$value['CCY_ID']; 
                          $ccyfa = 'ccyfa'.$value['CCY_ID']; 
                          
                          $faccy = 'faccy'.$value['CCY_ID']; 
                          $faamount = 'faamount'.$value['CCY_ID']; 
                          $faamt = 'faamt'.$value['CCY_ID']; 
                          
                          $ccypf = 'ccypf'.$value['CCY_ID']; 
                          $prccy = 'prccy'.$value['CCY_ID']; 
                          $min = 'min'.$value['CCY_ID']; 
                          $prmin = 'prmin'.$value['CCY_ID']; 
                          
                          $max = 'max'.$value['CCY_ID']; 
                          $prmax = 'prmax'.$value['CCY_ID']; 
                          
                          $pcy = 'pcy'.$value['CCY_ID']; 
                          $prpct = 'prpct'.$value['CCY_ID']; 
                          
                          
                      ?>
                         <?php echo $this->$valueccy; ?>
                          
                          
                      </td>
                      

                      <td><?php echo Application_Helper_General::displayMoney($this->$tfamt);?></td>
                      <td>
                         <?php echo $this->$faccy; ?>
                          
                          
                      </td>
                      <td><?php echo Application_Helper_General::displayMoney($this->$faamt);?></td>
                      <td>
                         <?php echo $this->$prccy; ?>
                          
                           
                      </td>
                      <td><?php echo Application_Helper_General::displayMoney($this->$prmin);?></td>
                      <td><?php echo Application_Helper_General::displayMoney($this->$prmax);?></td>
                      <td><?php echo $this->$prpct; ?></td>
                    </tr>
                    
                  
                  <?php
                }

              ?>
               
              
              
          </table>
      <?php 
	  if(empty($this->changestatusremit)){
	  $btn_edit = $this->url(array('module' => 'companycharges', 'controller' => 'remitfee', 'action' => 'index'), null, true);
        echo $this->formButton('edit', $this->language->_('Edit'), array('onclick' => 'location.href=\'' . $btn_edit . '\'', 'class' => 'btnwhite hov' .$this->changestatusremit,'disable'=> $this->changestatusremit));
	  }
		?>
    <div class="errmsg"><?php echo $this->errorremit ?></div>
        
          </div>
        </div>  

    <div class="col-md-12" style="display:none">
        <h5><?=$this->language->_('Global Charges Settings')?></h5>
        <h6><?= $this->language->_('Manage charge/fee service setting') ?></h6>
        <br>
        <div class="row col-md-12">
            <strong style="color:#646464">Monthly Fee (Administration Fee per Company)</strong>
            <i style="color: #646464;">* Charges amount and charges account default set base on company index account order number 1</i>
        </div>
        <div class="row col-md-6">
           
        </div>
    <br/>
    <?php if($this->showdiv){ ?>
        <div class="row col-md-12">
            <strong style="color:#646464">Traffic API Pricing</strong>
            <i style="color: #646464;">* Charges API Pricing to company</i>
        </div>
        <div class="row col-md-6">
            <table class="col-md-12 table table-sm">
                <tr>
                  <th width="45%">Balance Inquiry</th>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo Application_Helper_General::displayMoney($this->balance_inquiry); ?></td>
                </tr>
                <tr>
                  <th width="45%">Account Statement</th>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo Application_Helper_General::displayMoney($this->account_statement); ?></td>
                </tr>
                <tr>
                  <th width="45%">Inhouse Transfer</th>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo Application_Helper_General::displayMoney($this->inhouse_transfer); ?></td>
                </tr>
                <tr>
                  <th width="45%">Domestic SKN Transfer</th>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo Application_Helper_General::displayMoney($this->skn_transfer); ?></td>
                </tr>
                <tr>
                  <th width="45%">Domestic RTGS Transfer</th>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo Application_Helper_General::displayMoney($this->rtgs_transfer); ?></td>
                </tr>
                <tr>
                  <th width="45%">Domestic Online Transfer</th>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo Application_Helper_General::displayMoney($this->online_transfer); ?></td>
                </tr>
                <tr>
                  <th width="45%">Inhouse Beneficiary Inquiry</th>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo Application_Helper_General::displayMoney($this->inhouse_benef_inquiry); ?></td>
                </tr>
                <tr>
                  <th width="45%">Interbank Beneficiary Inquiry</th>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo Application_Helper_General::displayMoney($this->inter_benef_inquiry); ?></td>
                </tr>
                <tr>
                  <th width="45%">Kurs Rate Inquiry</th>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo Application_Helper_General::displayMoney($this->kurs_rate); ?></td>
                </tr>
                <tr>
                  <th width="45%">Refund Charges</th>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo Application_Helper_General::displayMoney(500); ?></td>
                </tr>
            </table>
        </div>
    <?php } ?>
        <div class="row col-md-4">
            <strong style="color:#646464">Realtime Local Transfer Charges</strong><br>
            <i style="color: #646464;">*  Default charge to sourceaccount</i>
        </div>
        <div class="row col-md-6">
            <table class="col-md-12 table table-sm">
                <tr>
                  <th width="45%">Inhouse</th>
                  <td>IDR 0.00</td>
                </tr>
        <?php foreach ($this->domglobal as $valm) { ?>
                <tr>
                  <th width="45%"><?php echo $this->pstype[$valm['CHARGES_TYPE']]; ?></th>
                  <td><?php echo $valm['CHARGES_CCY'].' '.Application_Helper_General::displayMoney($valm['CHARGES_AMT']); ?></td>
                </tr> 
        <?php } ?>
               
            </table>
      
      <?php $btn_edit = $this->url(array('module' => 'companycharges', 'controller' => 'transferfee', 'action' => 'index'), null, true);
        echo $this->formButton('edit', $this->language->_('Edit'), array('onclick' => 'location.href=\'' . $btn_edit . '\'', 'class' => 'btnwhite hov','disable'=> $this->changestatuspb)); ?>
    <div class="errmsg"><?php echo $this->errorpb ?></div>
        </div>
        <div class="row col-md-4" style="display:none">
            <strong style="color:#646464">Realtime Direct Debit Charges</strong><br>
            <i style="color: #646464;">*  Default charge to credited account</i>
        </div>
        <div class="row col-md-6" style="display:none">
            <table class="col-md-12 table table-sm">
                <tr>
                  <th width="45%">Direct Debit (Inhouse)</th>
                  <td>IDR 1.000.00</td>
                </tr>
                <tr>
                  <th width="45%">Direct Debit (Domestic)</th>
                  <td>IDR 4.500.00</td>
                </tr>

            </table>
        </div>
        <div class="row col-md-4">
            <strong style="color:#646464">Realtime Valas Transfer Charges</strong><br>
            <i style="color: #646464;">*  Default charge to source account</i>
        </div>
        <div class="row col-md-12">
          <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
            <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th class="tablehead text-white" colspan="1">CHARGE</th>
                    <th class="tablehead text-white" colspan="2">TRANSFER FEE</th>
                    <th class="tablehead text-white" colspan="2">FULL AMOUNT FEE</th>
                    <th class="tablehead text-white" colspan="4">PROVISION FEE</th>
                </tr>
                <tr>
                    <th class="tablehead text-white">CCY</th>
                    <th class="tablehead text-white">CCY</th>
                    <th class="tablehead text-white">Charge Amount</th>
                    <th class="tablehead text-white">CCY</th>
                    <th class="tablehead text-white">Charge Amount</th>
                    <th class="tablehead text-white">CCY</th>
                    <th class="tablehead text-white" >Min Provision</th>
                    <th class="tablehead text-white">Max Provision</th>
                    <th class="tablehead text-white">% From Trx</th>



                </tr>
                <tr>
                  <td>
                    AUD
                  </td>
                  <td>
                    -
                  </td>
                  <td>
                    -
                  </td>
                  <td>
                    AUD
                  </td>
                  <td>
                    40.00
                  </td>
                  <td>
                    USD
                  </td>
                  <td>
                    10.00
                  </td>
                  <td>
                    200.00
                  </td>
                  <td>
                    1.8%
                  </td>
                </tr>
                <tr>
                  <td>
                    EUR
                  </td>
                  <td>
                    -
                  </td>
                  <td>
                    -
                  </td>
                  <td>
                    USD
                  </td>
                  <td>
                    25.00
                  </td>
                  <td>
                    USD
                  </td>
                  <td>
                    10.00
                  </td>
                  <td>
                    200.00
                  </td>
                  <td>
                    1.8%
                  </td>
                </tr>
                <tr>
                  <td>
                    IDR
                  </td>
                  <td>
                    IDR
                  </td>
                  <td>
                    50.000,00
                  </td>
                  <td>
                    -
                  </td>
                  <td>
                    -
                  </td>
                  <td>
                    -
                  </td>
                  <td>
                    -
                  </td>
                  <td>
                    -
                  </td>
                  <td>
                    -
                  </td>
                </tr>
                <tr>
                  <td>
                    SGD
                  </td>
                  <td>
                    -
                  </td>
                  <td>
                    -
                  </td>
                  <td>
                    SGD
                  </td>
                  <td>
                    20.00
                  </td>
                  <td>
                    USD
                  </td>
                  <td>
                    10.00
                  </td>
                  <td>
                    200.00
                  </td>
                  <td>
                    1.8%
                  </td>
                </tr>
                <tr>
                  <td>
                    USD
                  </td>
                  <td>
                    USD
                  </td>
                  <td>
                    5.00
                  </td>
                  <td>
                    USD
                  </td>
                  <td>
                    25.00
                  </td>
                  <td>
                    USD
                  </td>
                  <td>
                    10.00
                  </td>
                  <td>
                    200.00
                  </td>
                  <td>
                    1.8%
                  </td>
                </tr>
                </thead>
                <!-- <tbody>
                <tr>
                  <td colspan="9" align="center">---- No Data ----</td>
                </tr>
                </tbody> -->
            </table>
      <?php $btn_edit = $this->url(array('module' => 'companycharges', 'controller' => 'remitfee', 'action' => 'index'), null, true);
        echo $this->formButton('edit', $this->language->_('Edit'), array('onclick' => 'location.href=\'' . $btn_edit . '\'', 'class' => 'btnwhite hov')); ?>
          </div>

        </div>
        <div align="center" class="pt-5">
            <button type="button" class="btnwhite hov" name="button">Back</button>
        </div>
    </div>
</div>
