<script>
	$(document).ready(function()
	{
		if( '<?=$this->success?>' || '<?=$this->error?>' )
		{
			$("input").attr("disabled","disabled");
			$("textarea").attr("disabled","disabled");
		}
	});
</script>
<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('General'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('General Setting'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>
<h5><?php echo $this->language->_('Edit General Setting'); ?></h5>
<form name="filterForm" action="<?=$this->url(array('page' => '1')).$this->qstring?>" method="post">
	
<?php if($this->success){ ?>
	<div class="successmsg"><?=$this->language->_($this->report_msg)?></div><br />
	<?php }else if(!empty($this->report_msg)){ ?>
	<div class="errmsg">
	
		<?=$this->language->_($this->report_msg)?>
		
		<?php if($this->errorfee){
			echo '<br><br>'.$this->errorfee;
		}?>
	
	</div><br />

	<?php } ?>
	
	<?php 
			$optionCurrency = array('maxlength'=>20,
						  'size'=>12,
						  'class'=>'currency',						  
						  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
						  'onblur'=>'NumFrmtUS(this.value,this.id)',
						  'onkeypress'=>'return forceCurrency(event)');
	?>
	
<table class="table-sm table-responsive table-bordered">
<tr>
	<td width="30%" colspan="2" class="tbl-evencontent">&nbsp;</td>
	<td width="65%" class="tbl-evencontent"><?php echo $this->language->_('Please fill in the form below. All fields are Required'); ?>.</td>	
</tr>
<!-- Frontend Application Global Setting -->
<tr>
	<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Frontend Application Global Setting'); ?></strong></th>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Enable/Disable Payment Gateway'); ?></td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php
				$options= array(
										'1' => $this->language->_('Enable'),
										'0' => $this->language->_('Disable'),
										);
				echo $this->formRadio('isenabled',$this->isenabled,null,$options);				
		?>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Disabled Notification Text'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
				<?php  echo $this->formTextarea('disable_note',$this->disable_note,array('cols'=>'100','rows'=>'5',
								'onKeyDown'=>'textCounter(this.form.disable_note,this.form.disable_note_len,200)', 
								'onKeyUp'=>'textCounter(this.form.disable_note,this.form.disable_note_len,200)', 
								'onKeypress'=>'return noSpecialChar3(event);')); 
						echo '<br />';		  
								echo $this->formText('disable_note_len', $this->disable_note_len, array('readonly'=>'readonly','size'=>'2')); ?> <?php echo $this->language->_('char(s) left');?>
	<!--  char(s) left-->
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Frontend General Notification Text'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
				<?php  echo $this->formTextarea('note',$this->note,array('cols'=>'100','rows'=>'5',
								'onKeyDown'=>'textCounter(this.form.note,this.form.note_len,200)', 
								'onKeyUp'=>'textCounter(this.form.note,this.form.note_len,200)', 
								'onKeypress'=>'return noSpecialChar3(event);')); 
						echo '<br />';		  
								echo $this->formText('note_len', $this->note_len, array('readonly'=>'readonly','size'=>'2')); ?> <?php echo $this->language->_('char(s) left');?>
	
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Number of Records perpage'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php echo $this->formText('paging_frontend',$this->paging_frontend,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
		<div class="errmsg"><?=$this->xpaging_frontend;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Max quantity of beneficiary account in one import action'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php echo $this->formText('max_import_bene',$this->max_import_bene,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
			<div class="errmsg"><?=$this->xmax_import_bene;?></div>
	</td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Max quantity of single payment in one import action'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php echo $this->formText('max_import_single_payment',$this->max_import_single_payment,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
		<div class="errmsg"><?=html_entity_decode($this->xmax_import_single_payment);?></div>	
	</td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Maximum days ahead (comparison with current date) when creating payment'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php echo $this->formText('range_futuredate',$this->range_futuredate,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
		<div class="errmsg"><?=$this->xrange_futuredate;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Archive payment slip after number of months of no activity'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('archiveafter',$this->archiveafter,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xarchiveafter;?></div>
	</td>
</tr>

<!--<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Global Monthly Administration Fee Per Account'); ?> </td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php 
		echo $this->formText('admin_fee_account',Application_Helper_General::displayMoney($this->admin_fee_account),$optionCurrency)		
	?>
	<div class="errmsg"><?=$this->xadmin_fee_account;?></div>
	</td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Global Monthly Administration Fee Per Company'); ?> </td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php 
		echo $this->formText('admin_fee_company',Application_Helper_General::displayMoney($this->admin_fee_company),$optionCurrency)		
	?>
	<div class="errmsg"><?=$this->xadmin_fee_company;?></div>
	</td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Global Service Charges SKN'); ?> </td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php 
		echo $this->formText('global_charges_skn',Application_Helper_General::displayMoney($this->global_charges_skn),$optionCurrency)		
	?>
	<div class="errmsg"><?=$this->xglobal_charges_skn;?></div>
	</td>
</tr>


<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Global Service Charges RTGS'); ?> </td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php 
		echo $this->formText('global_charges_rtgs',Application_Helper_General::displayMoney($this->global_charges_rtgs),$optionCurrency)		
	?>
	<div class="errmsg"><?=$this->xglobal_charges_rtgs;?></div>
	</td>
</tr>




--><tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Cut off time for RTGS payments (format : hh:mm:ss)'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('cut_off_time_rtgs',$this->cut_off_time_rtgs,array('size'=>10,'maxlength'=>8))?>
	<div class="errmsg"><?=$this->xcut_off_time_rtgs;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Cut off time for SKN payments (format : hh:mm:ss)'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('cut_off_time_skn',$this->cut_off_time_skn,array('size'=>10,'maxlength'=>8))?>
	<div class="errmsg"><?=$this->xcut_off_time_skn;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Cut Off Time for Bulk Payments (format : hh:mm:ss)'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('cut_off_time_bulkpayments',$this->cut_off_time_bulkpayments,array('size'=>10,'maxlength'=>8))?>
	<div class="errmsg"><?=$this->xcut_off_time_bulkpayments;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Cut Off Time for BI Payments (format : hh:mm:ss)'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('cut_off_time_bi',$this->cut_off_time_bi,array('size'=>10,'maxlength'=>8))?>
	<div class="errmsg"><?=$this->xcut_off_time_bi;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Starting time for Foreign Exchange Transactions (format : hh:mm:ss)');?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('starting_time_remittance',$this->starting_time_remittance,array('size'=>10,'maxlength'=>8))?>
	<div class="errmsg"><?=$this->xstarting_time_remittance;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Cut off time Foreign Exchange Transactions (format : hh:mm:ss)')?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('cut_off_time_remittance',$this->cut_off_time_remittance,array('size'=>10,'maxlength'=>8))?>
	<div class="errmsg"><?=$this->xcut_off_time_remittance;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Starting time for Daily Running Balance (format : hh:mm:ss)');?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('start_running_balance',$this->start_running_balance,array('size'=>10,'maxlength'=>8))?>
	<div class="errmsg"><?=$this->xstart_running_balance;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Cut off time for Daily Running Balance (format : hh:mm:ss)')?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('cut_off_running_balance',$this->cut_off_running_balance,array('size'=>10,'maxlength'=>8))?>
	<div class="errmsg"><?=$this->xcut_off_running_balance;?></div>
	</td>
</tr>
<!-- <tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Threshold amount for RTGS payments (in IDR)'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php 
//		$optionCurrency = array('maxlength'=>20,
//						  'size'=>12,
//						  'class'=>'currency',						  
//						 'onfocus'=>'idr_number_format(this.value,this.id,"edit");',
//'onblur'=>'idr_number_format(this.value,this.id,"");',
//'onkeypress'=>'return forceCurrencyOCBC(event);'
//);
//		echo $this->formText('threshold_rtgs',Application_Helper_General::displayMoney($this->threshold_rtgs),$optionCurrency)
	?>
	<?php 
		echo $this->formText('threshold_rtgs',Application_Helper_General::displayMoney($this->threshold_rtgs),$optionCurrency)
	?>
	
	<div class="errmsg"><?=$this->xthreshold_rtgs;?></div>
	</td>
</tr>
 -->

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Remittance Monthly Limit (USD)')?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php 
	echo $this->formText('remittance_limit_per_month',Application_Helper_General::displayMoney($this->remittance_limit_per_month),$optionCurrency);
	?>
	
	<div class="errmsg"><?=$this->xremittance_limit_per_month;?></div>
	</td>
</tr>
 
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Threshold amount for LLD payments (in IDR)'); ?> </td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php 
		echo $this->formText('threshold_lld',Application_Helper_General::displayMoney($this->threshold_lld),$optionCurrency)		
	?>
	<div class="errmsg"><?=$this->xthreshold_lld;?></div>
	</td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Threshold amount for LLD payments (in USD)'); ?> </td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php 
		echo $this->formText('threshold_lld_remittance',Application_Helper_General::displayMoney($this->threshold_lld_remittance),$optionCurrency)		
	?>
	<div class="errmsg"><?=$this->xthreshold_lld_remittance;?></div>
	</td>
</tr>
<!-- 
<tr style="">
	<td width="34%" class="tbl-evencontent"><?php // echo $this->language->_('Remittance Monthly Limit (USD)'); ?> </td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php 
		// echo $this->formText('remittance_limit_per_month',Application_Helper_General::displayMoney($this->remittance_limit_per_month),$optionCurrency)		
	?>
	<div class="errmsg"><? // =$this->xremittance_limit_per_month;?></div>
	</td>
</tr>
 -->
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Minimum Amount for SKN Payment (in IDR)')?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php 
		echo $this->formText('min_amount_skn',Application_Helper_General::displayMoney($this->min_amount_skn),$optionCurrency)		
	?>
	<div class="errmsg"><?=$this->xmin_amount_skn;?></div>
	</td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Maximum Amount for SKN Payment (in IDR)')?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php 
		echo $this->formText('max_amount_skn',Application_Helper_General::displayMoney($this->max_amount_skn),$optionCurrency)		
	?>
	<div class="errmsg"><?=$this->xmax_amount_skn;?></div>
	</td>
</tr>


<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Minimum Amount for RTGS Payment (in IDR)')?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php 
		echo $this->formText('min_amount_rtgs',Application_Helper_General::displayMoney($this->min_amount_rtgs),$optionCurrency)		
	?>
	<div class="errmsg"><?=$this->xmin_amount_rtgs;?></div>
	</td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Maximum Amount for RTGS Payment (in IDR)')?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php 
		echo $this->formText('max_amount_rtgs',Application_Helper_General::displayMoney($this->max_amount_rtgs),$optionCurrency)		
	?>
	<div class="errmsg"><?=$this->xmax_amount_rtgs;?></div>
	</td>
</tr>

<!--
<tr>
	<td width="34%" class="tbl-evencontent">Max row of multi payment</td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php //echo $this->formText('max_row_multi_transaction',$this->max_row_multi_transaction,array('size'=>40,'maxlength'=>128))?>
	<div class="errmsg"><?=$this->xmax_row_multi_transaction;?></div>
	</td>
</tr>
-->
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Max record in bulk payment'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('max_import_bulk',$this->max_import_bulk,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xmax_import_bulk;?></div>
	</td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Escrow Account (IDR)')?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php 
		echo $this->formText('escrow_acct_idr',$this->escrow_acct_idr);		
	?>
	<div class="errmsg"><?=$this->xescrow_acct_idr;?></div>
	</td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Escrow Account (USD)')?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php 
		echo $this->formText('escrow_acct_usd',$this->escrow_acct_usd);		
	?>
	<div class="errmsg"><?=$this->xescrow_acct_usd;?></div>
	</td>
</tr>

<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Cancel payment slip after number of days of no activity (for local remittance)'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('cancel_local_remittance',$this->cancel_local_remittance,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xcancel_local_remittance;?></div>
	</td>
</tr>

<!--
BATAL TANGGAL 9-19-2012 Cut Off Time for Bulk Payments (format hh:mm:ss)
<tr>
	<td width="34%" class="tbl-evencontent">Cut off time for in house bulk payments (format : hh:mm:ss)</td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php //echo $this->formText('cut_off_time_inhouse',$this->cut_off_time_inhouse,array('size'=>10,'maxlength'=>8));?>
	<div class="errmsg"><?php //echo $this->xcut_off_time_inhouse;?></div>
	</td>
</tr>-->
<!------------------------------------------------------------------------- AUTO ------------------------------------------------------------------------------------------------>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Enable/Disable auto release payment'); ?></td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php
				$options= array(
										'1' => $this->language->_('On'),
										'0' => $this->language->_('Off'),
										);
				echo $this->formRadio('auto_release_payment',$this->auto_release_payment,null,$options);				
		?>
		<div class="errmsg"><?=$this->xcut_off_time_inhouse;?></div>
	</td>
</tr>
<!--<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Enable/Disable auto monthly fee'); ?></td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php
				$options= array(
										'1' => $this->language->_('On'),
										'0' => $this->language->_('Off'),
										);
				echo $this->formRadio('auto_monthlyfee',$this->auto_monthlyfee,null,$options);				
		?>
		<div class="errmsg"><?=$this->xauto_monthlyfee;?></div>
	</td>
</tr>
--><!------------------------------------------------------------------------- END AUTO ------------------------------------------------------------------------------------------------>

<!------------------------------------------------------------------------- COST TO BI ------------------------------------------------------------------------------------------------>
<!--
<tr>
	<td width="34%" class="tbl-evencontent">RTGS (Cost to BI)</td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php				
				//echo $this->formText('RTGS_cost',Application_Helper_General::displayMoney($this->RTGS_cost),$optionCurrency)
		?>
		<div class="errmsg"><?=$this->xRTGS_cost;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent">SKN (Cost to BI)</td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php		
				//echo $this->formText('SKN_cost',Application_Helper_General::displayMoney($this->SKN_cost),$optionCurrency)
		?>
		<div class="errmsg"><?=$this->xSKN_cost;?></div>
	</td>
</tr>
-->
<!------------------------------------------------------------------------- END COST TO BI ------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------- CHARGES ------------------------------------------------------------------------------------------------>
<!--<tr>
	<td width="34%" class="tbl-evencontent">RTGS Charge per transaction</td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php				
				//echo $this->formText('RTGS_charge',Application_Helper_General::displayMoney($this->RTGS_charge),$optionCurrency)
		?>
		<div class="errmsg"><?=$this->xRTGS_charge;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent">SKN Charge per transaction</td>
	<td width="1%" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php		
				//echo $this->formText('SKN_charge',Application_Helper_General::displayMoney($this->SKN_charge),$optionCurrency)
		?>
		<div class="errmsg"><?=$this->xSKN_charge;?></div>
	</td>
</tr>-->
<!------------------------------------------------------------------------- END CHARGES ------------------------------------------------------------------------------------------------>



<!-- Global User Account Settings (affects both frontend and backend users -->
<tr>
	<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Global User Account Settings (affects both frontend and backend users)'); ?></strong></th>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('Password expiry period (in days)'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('pwd_expired_day',$this->pwd_expired_day,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xpwd_expired_day;?></div>
	</td>
</tr>
<!-- Frontend Application User Account Settings -->
<tr>
	<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Frontend Application User Account Settings'); ?></strong></th>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Min length of User ID'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('min_length_userid',$this->min_length_userid,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xmin_length_userid;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Max length of User ID'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('max_length_userid',$this->max_length_userid,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xmax_length_userid;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Session timeout after (in seconds)'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('timeoutafter',$this->timeoutafter,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xtimeoutafter;?></div>
	</td>
</tr>
<tr>
	<td width="34%" colspan="2" class="tbl-evencontent"></td>
	<td width="65%" class="tbl-evencontent"><?php echo $this->formLabel('labelfrontend','(Frontend) session timeout = num of seconds of countdown (will be subtracted by 2 minutes) before pop up window appears asking for further activity') ?></td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Lock customer account after (number of days) of no login'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('locknologinafter',$this->locknologinafter,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xlocknologinafter;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Lock customer account after (number of attempts) of failed login attempt(s)'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('lockfailloginafter',$this->lockfailloginafter,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xlockfailloginafter;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Lock customer Account after (number of input) of failed Token input'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('lockfailtokenafter',$this->lockfailtokenafter,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xlockfailtokenafter;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Number of Passwords saved in history'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('password_history',$this->password_history,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xpassword_history;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Min length of password'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('minfpassword',$this->minfpassword,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xminfpassword;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Frontend) Max length of password'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('maxfpassword',$this->maxfpassword,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xmaxfpassword;?></div>
	</td>
</tr>
<!-- Backend Application User Account Settings -->
<tr>
	<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Backend Application User Account Settings'); ?></strong></th>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Min length of User ID'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('min_length_buserid',$this->min_length_buserid,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xmin_length_buserid;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Max length of User ID'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('max_length_buserid',$this->max_length_buserid,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xmax_length_buserid;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Session timeout after (in seconds)'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('b_timeoutafter',$this->b_timeoutafter,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xb_timeoutafter;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Lock user account after (number of days) of no login'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('b_locknologinafter',$this->b_locknologinafter,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xb_locknologinafter;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Lock user account after (number of attempts) of failed login attempt(s)'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('b_lockfailloginafter',$this->b_lockfailloginafter,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xb_lockfailloginafter;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Number of Passwords saved in history'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('bpassword_history',$this->bpassword_history,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xbpassword_history;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Min length of password'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('minbpassword',$this->minbpassword,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xminbpassword;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Max length of password'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('maxbpassword',$this->maxbpassword,array('size'=>40,'maxlength'=>128,'onkeypress'=>'javascript:return forceNumber(event);'))?>
	<div class="errmsg"><?=$this->xmaxbpassword;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Email address for file sharing notification (separated by ;)'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('email_submission',$this->email_submission,array('size'=>40,'maxlength'=>128))?>
	<div class="errmsg"><?=$this->xemail_submission;?></div>
	</td>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Email address for exception notification (separated by ;)'); ?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('email_exception',$this->email_exception,array('size'=>40,'maxlength'=>128))?>
	<div class="errmsg"><?=$this->xemail_exception;?></div>
	</td>
</tr>


<tr>
	<td width="34%" class="tbl-evencontent"><?php echo $this->language->_('(Backend) Email address for foreign exchange transactions notification (separated by;)')?></td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('email_valas',$this->email_valas,array('size'=>40,'maxlength'=>128))?>
	<div class="errmsg"><?=$this->xemail_valas;?></div>
	</td>
</tr>
<!--
<tr>
	<td width="34%" class="tbl-evencontent">(Backend) Email address for Supply Chain (Separated by;)</td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
	<?php echo $this->formText('email_supplychain',$this->email_supplychain,array('size'=>40,'maxlength'=>128))?>
	<div class="errmsg"><?=$this->xemail_supplychain;?></div>
	</td>
</tr>
-->
<!-- Frontend Users Password Notification Templates -->
<tr>
	<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Frontend Users Notification Templates'); ?></strong></th>
</tr>
<tr>
	<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('New Customer User Account Print Template'); ?>
			<div >
			<ul style="margin-left:10px;">
				<?php echo $this->language->_('Special Tags :'); ?>
				<li><?php echo $this->language->_('[[user_login]] : Frontend user login name'); ?></li>
				<li><?php echo $this->language->_('[[user_cleartext_password]] : Frontend user password'); ?></li>
				<li><?php echo $this->language->_('[[comp_accid]] : Frontend user company id'); ?></li>
				<li><?php echo $this->language->_('[[comp_name]] : Frontend user company name'); ?></li>
				<li><?php echo $this->language->_('[[user_email]] : Frontend user e-mail address'); ?></li>
				<li><?php echo $this->language->_('[[user_fullname]] : Frontend user fullname'); ?></li>
				<li><?php echo $this->language->_('[[user_phone]] : Frontend user phone number'); ?></li>
				<li><?php echo $this->language->_('[[user_ext]] : Frontend user phone extension'); ?></li>
				<li><?php echo $this->language->_('[[token_id]] : Frontend user token id'); ?></li>
				<li><?php echo $this->language->_('[[user_status_name]] : Frontend user status'); ?></li>
			</ul>
			</div>
	</td>
	<td width="65%" class="tbl-evencontent">
		<?php echo $this->formCkEditor('ftemplate_newuser',$this->ftemplate_newuser,'') ?>
	</td>
</tr>
<tr>
	<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('New Customer User Account e-mail Template'); ?> 
			<ul style="margin-left:25px;">
				<?php echo $this->language->_('Special Tags :'); ?>
				<li><?php echo $this->language->_('[[user_login]] : Frontend user login name'); ?></li>
				<li><?php echo $this->language->_('[[user_cleartext_password]] : Frontend user password'); ?></li>
				<li><?php echo $this->language->_('[[comp_accid]] : Frontend user company id'); ?></li>
				<li><?php echo $this->language->_('[[comp_name]] : Frontend user company name'); ?></li>
				<li><?php echo $this->language->_('[[user_email]] : Frontend user e-mail address'); ?></li>
				<li><?php echo $this->language->_('[[user_fullname]] : Frontend user fullname'); ?></li>
				<li><?php echo $this->language->_('[[user_phone]] : Frontend user phone number'); ?></li>
				<li><?php echo $this->language->_('[[user_ext]] : Frontend user phone extension'); ?></li>
				<li><?php echo $this->language->_('[[token_id]] : Frontend user token id'); ?></li>
				<li><?php echo $this->language->_('[[user_status_name]] : Frontend user status'); ?></li>
			</ul>
	</td>
	<td width="65%" class="tbl-evencontent">
		<?php echo $this->formCkEditor('femailtemplate_newuser',$this->femailtemplate_newuser,'') ?>
	</td>
</tr>
<tr>
	<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Customer User Reset Password Print Template'); ?> 
			<ul style="margin-left:25px;">
				<?php echo $this->language->_('Special Tags :'); ?>
				<li><?php echo $this->language->_('[[user_login]] : Frontend user login name'); ?></li>
				<li><?php echo $this->language->_('[[user_cleartext_password]] : Frontend user password'); ?></li>
				<li><?php echo $this->language->_('[[comp_accid]] : Frontend user company id'); ?></li>
				<li><?php echo $this->language->_('[[comp_name]] : Frontend user company name'); ?></li>
				<li><?php echo $this->language->_('[[user_email]] : Frontend user e-mail address'); ?></li>
				<li><?php echo $this->language->_('[[user_fullname]] : Frontend user fullname'); ?></li>
				<li><?php echo $this->language->_('[[user_phone]] : Frontend user phone number'); ?></li>
				<li><?php echo $this->language->_('[[user_ext]] : Frontend user phone extension'); ?></li>
				<li><?php echo $this->language->_('[[token_id]] : Frontend user token id'); ?></li>
				<li><?php echo $this->language->_('[[user_status_name]] : Frontend user status'); ?></li>
			</ul>
	</td>
	<td width="65%" class="tbl-evencontent">
		<?php echo $this->formCkEditor('ftemplate_resetpwd',$this->ftemplate_resetpwd,'') ?>
	</td>
</tr>
<tr>
	<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Clause Template')?>
			
	</td>
	<td width="65%" class="tbl-evencontent">
		<?php echo $this->formCkEditor('clause_template',$this->clause_template,'') ?>
	</td>
</tr> 
<tr>
	<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Customer User Reset Password e-mail Template'); ?>
			<ul style="margin-left:25px;">
				<?php echo $this->language->_('Special Tags :'); ?>
				<li><?php echo $this->language->_('[[user_login]] : Frontend user login name'); ?></li>
				<li><?php echo $this->language->_('[[user_cleartext_password]] : Frontend user password'); ?></li>
				<li><?php echo $this->language->_('[[comp_accid]] : Frontend user company id'); ?></li>
				<li><?php echo $this->language->_('[[comp_name]] : Frontend user company name'); ?></li>
				<li><?php echo $this->language->_('[[user_email]] : Frontend user e-mail address'); ?></li>
				<li><?php echo $this->language->_('[[user_fullname]] : Frontend user fullname'); ?></li>
				<li><?php echo $this->language->_('[[user_phone]] : Frontend user phone number'); ?></li>
				<li><?php echo $this->language->_('[[user_ext]] : Frontend user phone extension'); ?></li>
				<li><?php echo $this->language->_('[[token_id]] : Frontend user token id'); ?></li>
				<li><?php echo $this->language->_('[[user_status_name]] : Frontend user status'); ?></li>
			</ul>
	</td>
	<td width="65%" class="tbl-evencontent">
		<?php echo $this->formCkEditor('femailtemplate_resetpwd',$this->femailtemplate_resetpwd,'') ?>
	</td>
</tr> 
<!-- Backend Users Password Notification Templates -->
<tr>
	<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Backend Users Notification Templates'); ?></strong></th>
</tr>
<tr>
	<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('New Backend User Print Template'); ?> 
			<ul style="margin-left:25px";>
				<?php echo $this->language->_('Special Tags :'); ?>
				<li><?php echo $this->language->_('[[buser_login]] : Backend user login name'); ?></li>
				<li><?php echo $this->language->_('[[buser_cleartext_password]] : Backend user password'); ?></li>
				<li><?php echo $this->language->_('[[buser_email]] : Backend user e-mail address'); ?></li>
				<li><?php echo $this->language->_('[[buser_name]] : Backend user fullname'); ?></li>
				<li><?php echo $this->language->_('[[buser_desc]] : Backend user description'); ?></li>
				<li><?php echo $this->language->_('[[agroup_desc]] : Backend Group Name'); ?></li>
				<li><?php echo $this->language->_('[[buser_status_name]] : Backend user status'); ?></li>
			</ul>
	</td>
	<td width="65%" class="tbl-evencontent">
		<?php echo $this->formCkEditor('btemplate_newuser',$this->btemplate_newuser,'') ?>
	</td>
</tr>
<tr> 
	<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('New Backend User e-mail Template'); ?> 
			<ul style="margin-left:25px";>
				<?php echo $this->language->_('Special Tags :'); ?>
				<li><?php echo $this->language->_('[[buser_login]] : Backend user login name'); ?></li>
				<li><?php echo $this->language->_('[[buser_cleartext_password]] : Backend user password'); ?></li>
				<li><?php echo $this->language->_('[[buser_email]] : Backend user e-mail address'); ?></li>
				<li><?php echo $this->language->_('[[buser_name]] : Backend user fullname'); ?></li>
				<li><?php echo $this->language->_('[[buser_desc]] : Backend user description'); ?></li>
				<li><?php echo $this->language->_('[[agroup_desc]] : Backend Group Name'); ?></li>
				<li><?php echo $this->language->_('[[buser_status_name]] : Backend user status'); ?></li>
			</ul>
	</td>
	<td width="65%" class="tbl-evencontent">
		<?php echo $this->formCkEditor('bemailtemplate_newuser',$this->bemailtemplate_newuser,'') ?>
	</td>
</tr>
<tr> 
	<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Backend User Reset Password Print Template'); ?> 
			<ul style="margin-left25px";>
				<?php echo $this->language->_('Special Tags :'); ?>
				<li><?php echo $this->language->_('[[buser_login]] : Backend user login name'); ?></li>
				<li><?php echo $this->language->_('[[buser_cleartext_password]] : Backend user password'); ?></li>
				<li><?php echo $this->language->_('[[buser_email]] : Backend user e-mail address'); ?></li>
				<li><?php echo $this->language->_('[[buser_name]] : Backend user fullname'); ?></li>
				<li><?php echo $this->language->_('[[buser_desc]] : Backend user description'); ?></li>
				<li><?php echo $this->language->_('[[agroup_desc]] : Backend Group Name'); ?></li>
				<li><?php echo $this->language->_('[[buser_status_name]] : Backend user status'); ?></li>
			</ul>
	</td>
	<td width="65%" class="tbl-evencontent">
		<?php echo $this->formCkEditor('btemplate_resetpwd',$this->btemplate_resetpwd,'') ?>
	</td>
</tr>
<tr> 
	<td width="35%" colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Backend User Reset Password e-mail Template'); ?> 
			<ul style="margin-left:25px";>
				<?php echo $this->language->_('Special Tags :'); ?>
				<li><?php echo $this->language->_('[[buser_login]] : Backend user login name'); ?></li>
				<li><?php echo $this->language->_('[[buser_cleartext_password]] : Backend user password'); ?></li>
				<li><?php echo $this->language->_('[[buser_email]] : Backend user e-mail address'); ?></li>
				<li><?php echo $this->language->_('[[buser_name]] : Backend user fullname'); ?></li>
				<li><?php echo $this->language->_('[[buser_desc]] : Backend user description'); ?></li>
				<li><?php echo $this->language->_('[[agroup_desc]] : Backend Group Name'); ?></li>
				<li><?php echo $this->language->_('[[buser_status_name]] : Backend user status'); ?></li>
			</ul>
	</td>
	<td width="65%" class="tbl-evencontent">
		<?php echo $this->formCkEditor('bemailtemplate_resetpwd',$this->bemailtemplate_resetpwd,'') ?>
	</td>
</tr>
<!-- Webservice Setting -->
<!--
<tr>
	<th colspan="3" class="tdform-sub"><strong>Webservice Setting</strong></th>
</tr>
<tr>
	<td width="34%" class="tbl-evencontent">Treeshold webservice per hour</td>
	<td width="3px" class="tbl-evencontent">:</td>	
	<td width="65%" class="tbl-evencontent">
		<?php echo $this->formText('threshold_webservice',$this->threshold_webservice,array('size'=>40,'maxlength'=>128))?>
		<div class="errmsg"><?=$this->xthreshold_webservice;?></div>
	</td>
</tr>-->
<tr>
<?php
	$options = array('class'=>'btngreen hov');
	if( $this->success || $this->error )
	{
		$options = array_merge($options,array("class"=>"btngreen hov","disabled" => "disabled"));
	}
?>
    <td colspan="3" align="left" class="tbl-evencontent">
		<?php //echo $this->formSubmit('submit','Submit',$options)?>&nbsp;
		<?php //echo $this->formReset('reset','Reset',$options)?>
		
		<?php 
	   	if($this->hasPrivilege('STUD'))
		{
	    ?>
			<?php echo $this->formSubmit('submit',$this->language->_('Submit'),$options)?>&nbsp;
			<?php echo $this->formReset('reset',$this->language->_('Reset'),$options)?>
	    <?php 
		} 
		else{
			$submit = $this->language->_('Submit');
			$reset = $this->language->_('Reset');
			echo'<input type="button" value="'.$submit.'" disabled class="btngreen hov"> &nbsp;';	
			echo'<input type="button" value="'.$reset.'" disabled class="btngreen hov">';	
		}
		?>	
    </td>
</tr>
</table>
</form>