<?php $anyvalue = $this->language->_('Any Value'); ?>
<script type="text/javascript">

$(document).ready(function(){

	$('div#sidebar-collapse').click(function(){
        if ( $("#logo-title").is(":visible") ) {
          $("#logo-title").hide();
          $("#logo-titles").hide();
        } else if ( $("#logo-title").is(":hidden") ) {
          $("#logo-title").show();
          $("#logo-titles").show();
        }
      })

      $('#efdateStart').datepicker({
          format: 'dd/mm/yyyy',
          uiLibrary: 'bootstrap4'
      });
      $('#efdateEnd').datepicker({
          format: 'dd/mm/yyyy',
          uiLibrary: 'bootstrap4'
      });
});
</script>

<div class="row hiddenprint">
    <div class="col-md-12">
      <div class="page-bar">
          <ul class="page-breadcrumb">
              <li>
                  <span><?=$this->language->_('Report')?></span>
                  <i class="fa fa-angle-right pl-1 pr-1"></i>
              </li>

              <li>
                  <span class="inhouse"><?=$this->language->_('Deposit Detail')?></span>
                  <i class="fa fa-angle-right pl-1 pr-1"></i>
              </li>
          </ul>
      </div>
    </div>
</div>
<br />

<div class="content-box">
  <div class="row">
    <div class="portlet-body form col-md-12">
<?if($this->error){ ?> <div class="errmsg"><?=$this->report_msg?></div><?}?>


<h5><?=$this->language->_('Approve Deposit')?></h5>
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get"> 

  <?php
  $optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
  foreach($this->filterlist as $row){
    $optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
  }

  ?>
  <div class="row " id="logo-titles" style="margin-left: 0px">
      <?php
      if(!empty($this->wherecol)){
        ?>
        <script type="text/javascript">
          $(document).ready(function(){
          $("#logo-title").show();
        });

        </script>
        <?php
      }
      // print_r($this->wherecol);die;
      foreach ($this->wherecol as $key => $value) {
        ?>
          <div id="searchs" style="width: 100%">
                    <?php
                        $datetype = array("OPENING_DATE, DEPOSIT_CREATED");
                        $selectlist = array("SOURCE_ACCT",'DEPOSIT_MONTH');
                        $index = 0;
                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$ctr?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($value==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]' >

                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'>
                                        <script type="text/javascript">
                                          $(document).ready(function(){
                                          var colval = "#colvalue-s<?=$key?>";
                                          var colomnname = "<?=$value?>";
                                          // var colselect= "<?=$value?>";
                                          var colselect = "colselect-s<?=$key?>";
                                          var ncolselect = "#colselect-s<?=$key?>";

                                    if(colomnname == 'SOURCE_ACCT'){

                                        $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

                                        var id = $("#tablename").find(":selected").val();
                                        $.ajax({
                                        url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'wheresourceaccount'),null,true)?>",
                                        type: 'GET',
                                        dataType: "html",
                                        data: {
                                            id: <?=$this->whereval[$index]?>
                                        },
                                        success: function(data) {
                                            $(ncolselect).html(data);
                                        },
                                        error: function(xhr, ajaxOptions, thrownError)
                                        {
                                            alert("Failed to get where column list, please try again");
                                        }
                                    });

                                    $(colselect).val('<?=$this->whereval[$index]?>');

                                  }
                          });

                        </script>

                        <?php
                        if($value == 'OPENING_DATE'){
                        ?>
                        <input type='text' class='form-control' name='opendate[]' id='openStart' readonly value="<?=$this->paymentStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='opendate[]' id='openEnd' value="<?=$this->paymentEnd?>" readonly required>
                        <?php                                         

                        }else  if($value == 'DEPOSIT_CREATED'){
                        ?>
                        <input type='text' class='form-control' name='createdate[]' id='createdateStart' readonly value="<?=$this->paymentStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdateEnd' value="<?=$this->paymentEnd?>" readonly required>
                        <?php                                         

                        }else if(!in_array($value, $selectlist)){
                          ?>
                            <input class='form-control' type='text'  name='whereval[]' value='<?=$this->whereval[$index]?>'/>
                          <?php }
                          if (!in_array($value, $datetype)){
                            // print_r($value);die;
                            $index++;
                          }
                        ?>
                              </div>
                              <div class="col-md-2 form-inline">
                                  <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                              </div>
                          </div>
                      </div>

                </div>

        <?php
      }
      ?>

  </div>


  <div class="row " id="logo-title" style="display: none">
  <div class="portlet-body form col-md-12">
   <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($val==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>

                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?=$ctr?>'>
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?=$this->whereval[$key]?>'/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    <?php //}}?>
                </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
               <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
                <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">


                <br/>
            </div>
            <div class="col-md-4">
            </div>

  </div>
  <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
       <a href="#" class="sidebar-collapse-icon with-animation">
           <?php echo $this->language->_('Advanced Search'); ?>
       </a>
   </div>
  <br/>
    </form>
    </div>
</div>
</div>

<br>
<br>
<br>

<div class="form-group">
  <div style="float:left">
      
  </div>
   <div style="float:right; padding-left:5px;">
      <div class="input-group input-group-sm">
          <div class="input-group-prepend">
              <span class="input-group-text navbar-search-icon" id="searchspan"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" class="search form-control" placeholder="Search" id="searchtable" >
      </div>
    </div>
    <div style="float:right; padding-left:10px;">
      <form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">

      <?php if(($this->paginator->getTotalItemCount()) > $this->applicationSetting['max_row_download_csv']) { ?>
     
      <?php echo '<input type="submit" value="&#xf6dd Export Files is too large (function is disabled)" name="csv" id="csv" class="fa hov" disabled>'; ?>&nbsp;
      <?php }else{ ?>
      <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa hov">'; ?>&nbsp;
      <?php } ?>

      <input type="hidden" name="clearfilter" value="<?=$this->clearfilter?>">
    </form>
    </div>
</div>

<br>
<br>
   <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
    <form name="addbeneficiary" class="form-horizontal form-bordered form-row-stripped" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="table table-bordered table-condensed flip-content">				
	<tr class="headercolor">
			<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                      			'sortBy' => $this->sortBy,
                                                            	'sortDir' => $this->sortDir,
																'query_string_params' => $this->query_string_params
                                                            	));?>
	</tr>						
<?php
	$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
	
    if(count($this->paginator) > 0)
    {
          $i=0;
          
	      foreach($this->paginator as $row) 
	      {
	  		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
			
			if ($row['ARO'] == 1) {
          $aro = 'Yes';
      }
      else{ 
        $aro = 'no';
      }
      require_once 'Crypt/AESMYSQL.php';
                    $AESMYSQL = new Crypt_AESMYSQL();
                    $rand = $this->token;
                    $encrypted_pwd = $AESMYSQL->encrypt($row['ID'], $rand);
                    // $dt["payReff"] = urlencode($encrypted_pwd);
                    $encreff = urlencode($encrypted_pwd);

      $url = "'".$this->url(array('module'=>'display','controller'=>'depositdetail','action'=>'index','deposit_id'=>$encreff),null,true)."'";

      $status = array(
        'WA' => 'Waiting for Approval',
        'AP' => 'Approved',
        'RJ' => 'Rejected'
      );
		    
			echo '<tr>
        <td class="'.$td_css.'">'.$row['SOURCE_ACCT'].'</td>
        <td class="'.$td_css.'">'.Application_Helper_General::displayMoney($row['DEPOSIT_AMOUNT']).'</td>
				<td class="'.$td_css.'">'.$aro.'</td>
        <td class="'.$td_css.'">'.$row['DEPOSIT_MONTH'].'</td>
        <td class="'.$td_css.'">'.$row['AIM_OBJECTIVE'].'</td>
        <td class="'.$td_css.'">'.$row['DEPOSIT_PURPOSE'].'</td>
        <td class="'.$td_css.'">'.$row['AVERAGE_TRANSACTION'].'</td>
				<td class="'.$td_css.'">'.$row['CUST_NAME'].'</td>
        <td class="'.$td_css.'">'.$row['DEPOSIT_CREATEDBY'].'</td>
        <td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['DEPOSIT_CREATED'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
        <td class="'.$td_css.'">'.$status[$row['DEPOSIT_STATUS']].'</td>
        <td class="'.$td_css.'">'.(!empty($row['DEPOSIT_UPDATEDBY']) ? $row['DEPOSIT_UPDATEDBY'] : '-').'</td>
        <td class="'.$td_css.'">'.(($row['DEPOSIT_UPDATED'] !== '0000-00-00 00:00:00') ? Application_Helper_General::convertDate($row['DEPOSIT_UPDATED'],$this->displayDateTimeFormat,$this->defaultDateFormat) : '-').'</td>
       <td class="'.$td_css.'"><input class="btngreen hov" value="'.$this->language->_("Detail").'" type="button" onClick="showPopUpWindow('.$url.', 750)"></td>
			  </tr>';
						
			$i++;
            $counter++;
  	  }
  }
  else 
  {
	   echo '<tr><td colspan="12" class="tbl-evencontent" align="center">'.$this->language->_(' --- '.$this->language->_('No Data').' --- ').'</td></tr>';
  }
?>			
</table>

  <br/>
</div>
<br/>
</form>

<script type="text/javascript">
function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
$(document).ready(function(){

$("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-"+ctr+"' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>"+optstr+"</select></div><div style='display:none'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-"+ctr+"'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);
    });
});
  function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
  var $coll = $( '.event_select' );
    $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });

    $(colval).empty();
    if(colomnname == 'OPENING_DATE' ){
        $(colval).append("<input type='text' class='form-control' name='opendate[]' id='opendateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='opendate[]' id='opendateEnd' readonly required>");


                                               $('#opendateStart').datepicker({
                                                    format: 'dd/mm/yyyy',
                                                    uiLibrary: 'bootstrap4'
                                                });
                                                $('#opendateEnd').datepicker({
                                                    format: 'dd/mm/yyyy',
                                                    uiLibrary: 'bootstrap4'
                                                });

    }else if(colomnname == 'OPENING_DATE' ){
        $(colval).append("<input type='text' class='form-control' name='createdate[]' id='createStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createEnd' readonly required>");


                                               $('#createStart').datepicker({
                                                    format: 'dd/mm/yyyy',
                                                    uiLibrary: 'bootstrap4'
                                                });
                                                $('#createEnd').datepicker({
                                                    format: 'dd/mm/yyyy',
                                                    uiLibrary: 'bootstrap4'
                                                });

    }else{
         $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>


