<script language="javascript" type="text/javascript">
	function doTransfer(ACBENEF, ACBENEF_ALIAS, ACBENEF_BANKNAME, CURR_CODE, ACBENEF_EMAIL)
	{

		window.opener.document.Form.ACBENEF.value = ACBENEF;
		window.opener.document.Form.ACBENEF_PLAIN.value = ACBENEF;
		window.opener.document.Form.ACBENEF_BANKNAME.value = ACBENEF_BANKNAME;
		window.opener.document.Form.ACBENEF_ALIAS.value = ACBENEF_BANKNAME;
		
		window.opener.document.Form.CURR_CODE.value = CURR_CODE;
		window.opener.document.getElementById('curr').innerHTML = CURR_CODE;
		window.opener.document.Form.TRA_CCY.value =  CURR_CODE;
		window.opener.document.getElementById('TRA_CCY').style['pointer-events'] = 'none';
		if (window.opener.document.Form.ACBENEF_EMAIL != null)
		{ window.opener.document.Form.ACBENEF_EMAIL.value = ACBENEF_EMAIL;
			window.opener.document.Form.email_notif.value = ACBENEF_EMAIL;
		}
		
		window.opener.document.getElementById('savebene').style.display =  'none';
		window.opener.document.getElementById('ACBENEF_BANKNAME').readOnly = true;
		window.opener.document.getElementById('ACBENEF_EMAIL').readOnly = true;
		window.opener.document.getElementById("ACBENEF").readOnly  = true;
		//disable button if get benef from account book

	  opener.focus();
	  self.close();
	}
	</script>

	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="background-color:white">
		<tbody>
			<tr>
				<td>
					<div class="portlet-body form">
						<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">

							<div class="panel panel-default">
								<!-- Default panel contents -->
								<div class="panel-heading" >
									<?php $aliasname = $this->language->_('Alias Name'); ?>
									<?php $beneficiaryaccount = $this->language->_('Beneficiary Account'); ?>
									<?php $beneficiaryaccountname = $this->language->_('Beneficiary Account Name'); ?>
									<?php $setfilter = $this->language->_('Set Filter'); ?>
									<?php $clearfilter = $this->language->_('Clear Filter'); ?>
									<?php $nodata = $this->language->_('No Data');?>

									<strong class="textBlack"><?php echo $this->language->_('Filter');?></strong></div>
									<div class="panel-body">
										<div class="row form-group col-md-12">
											<label class="col-md-4 textBlack"><?php echo $this->formLabel('benef_acct',$beneficiaryaccount); ?></label>
											<div class="col-md-6">
												<?php echo $this->formText('benef_acct',$this->benef_acct,array('class'=>'form-control'))?>

											</div>
											<div class="col-md-6">
											</div>
										</div>
										<div class="row col-md-12 form-group">
											<label class=" col-md-4 textBlack"><?php echo $this->formLabel('benef_name',$beneficiaryaccountname); ?></label>
											<div class="col-md-6">
												<?php echo $this->formText('benef_name',$this->benef_name,array('class'=>'form-control'))?>
											</div>
											<div class="col-md-6">
											</div>
										</div>


									</div>
								</div>
								<table cellpadding="3" cellspacing="0" border="0" class="" width="100%">
									<tr>
										<td colspan="3" align="left">
										<?php echo $this->formSubmit('filter',$setfilter,array('class'=>'btngreen hov')); ?>
										<?php echo $this->formSubmit('filter_clear',$clearfilter,array('class'=>'btnwhite bov')); ?>
										</td>
									</tr>
								</table>
							</div>

						</form>
					</div>
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td class="contentarea" id="contentarea">

					<div align="right">
						<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
					</div>
					<br>

					<table cellpadding="2" cellspacing="0"  class="table table-sm table-striped">
						<tr class="headercolor">
							<th class="tablehead" width="3%" valign="top">No</th>
							<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
																				'sortBy' => $this->sortBy,
																				'sortDir' => $this->sortDir,
																				'query_string_params' => $this->query_string_params
																				)
													)?>

						</tr>

						<tbody>
							<?php
								$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

								if(count($this->paginator) > 0)
								{
										$i=0;

									foreach($this->paginator as $row) 
									{

										$td_css = ($i%2==0)?'tbl-evencontent textBlack':'tbl-oddcontent textBlack';

										$button = $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'suggestdelete','BENEFICIARY_ID'=>$row['BENEFICIARY_ID']),null,true);
										$button = '<a href="javascript:confirmation(\'Are you sure want to delete this benefiiary account?\',\''.$button.'\');" class="inputbtn">Delete</a>';
										
										if($row['ACCT_STATUS'] == '1'){
											$row['ACCT_STATUS'] = 'Active';
										}else if($row['ACCT_STATUS'] == '3'){
											$row['ACCT_STATUS'] = 'Deleted';
										}

										echo '<tr>
												<td class="'.$td_css.'">'.$counter.'</td>';
												//<td class="'.$td_css.'">'.$row['BENEFICIARY_ALIAS'].'</td>
										echo '  <td class="'.$td_css.'"><a href="javascript:doTransfer(\''.$row['ACCT_NO'].'\', \''.$row['ACCT_ALIAS_NAME'].'\', \''.$row['ACCT_NAME'].'\', \''.$row['CCY_ID'].'\', \''.$row['EMAIL'].'\')">'.$row['ACCT_NO'].'</a></td>
												<td class="'.$td_css.'">'.$row['ACCT_NAME'].'</td>
												<td class="'.$td_css.'">'.$row['EMAIL'].'</td>
												<td class="'.$td_css.'">'.$row['CCY_ID'].'</td>
												
												
												<td class="'.$td_css.'">'.$this->Date($row['ACCT_CREATED'], $this->dateTimeDisplayFormat).'</td>
												<td class="'.$td_css.'">'.$this->language->_($row['ACCT_STATUS']).'</td>

											</tr>';

												$i++;
												$counter++;
									}
								}
								else 
								{
									echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> ---'.$this->language->_('No Data').'--- </td></tr>';
								}
							?>
						</tbody>
					</table>
					<!-- </div> -->
					<br /> 
					<br />

				</td>
			</tr>
		</tbody>
	</table>
