
<script type="text/javascript">

//akan di onload pertama kali
$(document).ready(function()
{   
    //pengaturan error messages
	<?php 
	     foreach($this->userDailyLimit_msg as $key => $error)
	     {
	   ?>
	         $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
	<?php      
	     } 
	   ?>

	  
});

function resetData()
{ 
	$('#dailylimit').val('<?php echo $this->max_amt; ?>');
  $('#user_login').val('<?php echo $this->user_id; ?>');
  $('#ccy_id').val('<?php echo $this->ccy_id; ?>');
	 
}


</script>





<b><?php echo $this->language->_('Table'); ?> &gt; <?php echo $this->language->_('Customer'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Edit User Daily Limit'); ?></div>

<?php
if($this->cust_id && $this->user_id && $this->ccy_id)
{
 
?>



<?php if(count($this->userDailyLimit_msg) > 0){ ?>
<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.');?></div><br />
<?php } ?>
<?php if($this->error_msg){ ?>
<div class="errmsg"><?php echo $this->language->_($this->error_msg); ?></div><br />
<?php } ?>


<form method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'repair','action'=>'index'),null,true)?>">
  <table cellpadding="3" cellspacing="0" border="0" class="tableform">
    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Edit Customer Account');?></strong></th></tr>

    <tr>
	  <td class="tbl-evencontent">&nbsp;</td>
	  <td class="tbl-evencontent" colspan="2"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
    </tr>

    <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->language->_('Company Name')); ?></td>
    <td class="tbl-evencontent">:</td>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->cust_name); ?></td>
    </tr>
    
    <?php 
    // var_dump($this->changes_type);die;
    if($this->changes_type == 'E'){?>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_login',$this->language->_('User Id')); ?></td>
    <td class="tbl-evencontent">:</td>
    <td class="tbl-evencontent"><?php echo $this->formLabel('user_login',$this->user_id); ?></td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('ccy_id',$this->language->_('Currency')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('ccy_id',$this->ccy_id); ?></td>
    </tr>
    
    <?php 
      echo $this->formHidden('user_login', $this->user_id);
      echo $this->formHidden('ccy_id', $this->ccy_id);
    }else{?>
    <!-- <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('user_login',$this->language->_('User Id')); ?>&nbsp;<span class="errmsg">*</span></td>
    <td class="tbl-evencontent">:</td>
    <td class="tbl-evencontent">
         <select class="form-control col-md-8" name="user_login" id="user_login">
        <?php 
          if(count($this->userData)>0)
          {
            foreach ($this->userData as $rowUser)
            {
        ?>
              <option value="<?=$rowUser['USER_ID']?>" <?=($this->user_id == $rowUser['USER_ID'])? 'selected' : ''?>><?=$rowUser['USER_ID']?></option>
        <?php 
            }
          }
          else
          {
        ?>
              
        <?php 
          }
        ?>
       </select>
       <div id="error_user_login" class="errmsg"></div>
     </td>
    </tr> -->
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_login',$this->language->_('User Id')); ?></td>
    <td class="tbl-evencontent">:</td>
    <td class="tbl-evencontent"><?php echo $this->formLabel('user_login',$this->user_id); echo $this->formHidden('user_login', $this->user_id);?></td>
    </tr
    
     <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('ccy_id',$this->language->_('Currency')); ?>&nbsp;<span class="errmsg">*</span></td>
    <td class="tbl-evencontent">:</td>
    <td class="tbl-evencontent">
       <select class="form-control col-md-8" name="ccy_id" id="ccy_id">
        <?php
          if(count($this->CCYData)>0)
          {
            foreach ($this->CCYData as $rowCCY)
            {
        ?>
              <option value="<?=$rowCCY['CCY_ID']?>" <?=($this->ccy_id == $rowCCY['CCY_ID'])? 'selected' : ''?>><?=$rowCCY['CCY_ID']?></option>
        <?php 
            }
          }
          else
          {
        ?>
              
        <?php 
          }
        ?>
      </select>
    </td>
    </tr>

    <?php }?>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('dailylimit',$this->language->_('Maximum Amount')); ?>&nbsp;<span class="errmsg">*</span></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	      <?php 
	         //echo $this->formText('dailylimit',$this->max_amt,array('size'=>50,'onfocus'=>'iNumFrmtUS(this.value,this.id)','onblur'=>'NumFrmtUS(this.value,this.id)','onkeypress'=>'return forceDecimalOCBC(event)'));
	         echo $this->formText('dailylimit',Application_Helper_General::displayMoney($this->max_amt),array('class'=>'form-control col-md-8','size'=>50,'onkeypress'=>'return forceNumberOCBC(event)','onfocus'=>'iNumFrmtUS(this.value,this.id)','onblur'=>'NumFrmtUS(this.value,this.id)'));  
	         ?>
	      <div id="error_dailylimit" class="errmsg"></div>
	  </td>
    </tr>
    
    
    
  </table>
  <br />
  <div><?php
    // echo $this->formButton('back','Back',array('onclick'=>'location.href=\''.$this->backURL.'\'','class'=>'inputbtn'));
    // echo '&nbsp;&nbsp;';
    echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov'));
    
    echo '&nbsp;&nbsp;';
    echo $this->formButton('reset',$this->language->_('Reset'),array('class'=>'btnwhite hov','onclick'=>'resetData()'));
    
    echo $this->formHidden('changes_id',$this->changes_id);
  ?></div>
</form>



<?php }else{ ?>
<div id="content">- <?php echo $this->language->_('no data'); ?> -</div>
<?php } ?>