<script type="text/javascript">
	$(document).ready(function() {
		$('#fixTable').fixTableHeader();


		$("#searchtable").keyup(function() {
			var value = this.value.toLowerCase().trim();

			$("#myTable tr").each(function(index) {
				if (!index) return;
				$(this).find("td").each(function() {
					var id = $(this).text().toLowerCase().trim();
					var not_found = (id.indexOf(value) == -1);
					$(this).closest('tr').toggle(!not_found);
					return not_found;
				});
			});
		});

		$('div#sidebar-collapse').click(function() {
			if ($("#logo-title").is(":visible")) {
				$("#logo-title").hide();
				$("#logo-titles").hide();
			} else if ($("#logo-title").is(":hidden")) {
				$("#logo-title").show();
				$("#logo-titles").show();
			}
		});

	});
</script>
<link href="/css/select2_353.min.css" rel="stylesheet" />
<style>
	.select2-container {
		padding: 0 !important;
	}

	.select2-container .select2-choice.is-invalid {
		border: 1px solid red !important;
	}
</style>
<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Beranda') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="valas"><?= $this->language->_('Alur Penutupan') ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span class="valas"><?= $this->language->_('Persetujuan') ?></span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row content-box">
	<div class="portlet-body form col-md-12">
		<h5><?= $this->language->_('Daftar Pengajuan Penutupan dan Klaim Menunggu Persetujuan Bank') ?></h5>
		<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" id="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">
			<div class="panel panel-default ">
				<?php
				$optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
				foreach ($this->filterlist as $rowkey => $rowvalue) {
					$optArr .=  '<option value="' . $rowkey . '" >' . $rowvalue . '</option>';
				}
				?>
				<div class="row " id="logo-title" style="display: none">
					<div class="portlet-body form col-md-12">
						<div id="wheres" style="width: 100%">
						</div>
						<input type="hidden" id="wherectr" value="0" />
						<br />
						<button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
						&nbsp;
						<?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
						&nbsp;
						<input type="hidden" name="filter" value="1">
						<input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">
						<br />
					</div>
					<div class="col-md-4">
					</div>
				</div>
				<div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
					<a href="#" class="sidebar-collapse-icon with-animation">
						<?php echo $this->language->_('Advanced Search'); ?>
					</a>
				</div>
				<br>
			</div>
			<script src="/js/select2_353.min.js"></script>
			<script type="text/javascript">
				function submitFilter(event) {
					event.preventDefault();

					let colSearchValid = true;

					const getColSearch = event.target.querySelectorAll('[name=\'wherecol[]\']');
					const getValueSearch = event.target.querySelectorAll('[name=\'whereval[]\']');

					getColSearch.forEach(element => {
						colSearchValid &&= (!element.value ? false : true);
					});

					getValueSearch.forEach(element => {
						colSearchValid &&= (!element.value ? false : true);
					});

					if (colSearchValid) return event.target.submit();

					return alert('<?= $this->language->_('Mohon Lengkapi Data Filter'); ?>');
				}
				document.addEventListener('DOMContentLoaded', () => {
					document.forms.filterForm.addEventListener('submit', submitFilter);
				});
			</script>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
			<div style="float:left">

			</div>
			<div style="float:right; padding-left:5px;">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
					</div>
					<input type="text" class="search form-control" id="searchtable" placeholder="Search">
				</div>
			</div>
		</div>
	</div>

</div>
<?php if ($this->success) { ?>
	<div class="successmsg"><?= $this->report_msg ?></div><br />
<?php } else if ($this->error) { ?>
	<div class="errmsg"><?= $this->report_msg ?></div><br />
<?php } ?>

<div class="portlet-body flip-scroll table-responsive table-fixed mt-2" id="fixTable">
	<table class="table table-sm table-striped headerNew" id="myTable">
		<tr height="50px">
			<th class="tablehead" width="3%" valign="top">No</th>
			<?php echo $this->partial(
				'tableheader.phtml',
				array(
					'fields' => $this->fields,
					'sortBy' => $this->sortBy,
					'sortDir' => $this->sortDir,
					'query_string_params' => $this->query_string_params
				)
			) ?>
		</tr>
		<?php
		$counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;
		require_once 'Crypt/AESMYSQL.php';

		if (count($this->paginator) > 0) {

			$i = 0;

			foreach ($this->paginator as $row) {

				$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
				$attribut = array('class' => 'group_id', 'checked' => (isset($this->group_id[$row['GROUP_ID']])) ? true : false);

				$AESMYSQL = new Crypt_AESMYSQL();

				$encryptedBgNumber = $AESMYSQL->encrypt($row['BG_NUMBER'], uniqid());
				$encodeEncryptedBgNumber = urlencode($encryptedBgNumber);

				$buttonSetting = $this->url(array('module' => 'bgclosingworkflow', 'controller' => 'approvedetail', 'action' => 'index', 'bgnumb' => $encodeEncryptedBgNumber), null, true);

				echo '<tr>
                <td class="' . $td_css . '" width="3%">' . $counter . '</td>
                <td class="' . $td_css . '" width="17%">' . $row['BG_NUMBER'] . ' / <a href="' . $buttonSetting . '">' . $row['BG_SUBJECT'] . '</a></td> 
                <td class="' . $td_css . '" width="12%">' . $row['PRINCIPAL_NAME'] . '</td>
                <td class="' . $td_css . '" width="7%">' . $row['RECIPIENT_NAME'] . '</td>
                <td class="' . $td_css . '" width="5%">' . $row['BRANCH_NAME'] . '</td>
                <td class="' . $td_css . '" width="10%">' . implode(' ', [$row['CURRENCY_BG'], number_format($row['BG_AMOUNT'], 2)]) . '</td> 
                <td class="' . $td_css . '" width="14%">' . $this->bgChangeType[$row['CHANGE_TYPE']] . '</td> 
              </tr>';

				$i++;
				$counter++;
			}
		} else {
			echo "<tr><td colspan=10 class='tbl-evencontent' align='center'> ---" . $this->language->_('No Data') . " --- </td></tr>";
		}
		?>
	</table>
</div>
<script type="text/javascript">
	function removeParent(elem) {
		var parentname = elem.parentNode.parentNode.parentNode.id;
		$("#" + parentname).remove();

		toShow(999, true);
	}

	async function addColFilter(filterSearch) {
		let countFilter = 0;
		for (const key in filterSearch) {
			if (Object.hasOwnProperty.call(filterSearch, key)) {
				const valSearch = filterSearch[key];
				addCol();
				document.querySelector(`#wherecol-${countFilter}`).value = key;
				getOpt(document.querySelector(`#wherecol-${countFilter}`), valSearch);
				await countFilter++;
			}
		}
	}

	function forceCurrencyOwn(e) {
		const t = e.which ? e.which : event.keyCode;
		return 44 == t || 9 == t || 46 == t || 8 == t || 48 <= t && t <= 57 || 13 == t || 39 == t || 37 == t;
	}

	function addCol() {
		const maxCategory = <?= count($this->filterlist); ?>;
		const getAllChildren = document.querySelector('#wheres').childElementCount;

		if (maxCategory == getAllChildren) return alert('<?= $this->language->_('Sudah mencapai batas maksimal kategori filter'); ?>');

		var ctr = $("#wherectr").val();
		var optstr = '<?php echo $optArr; ?>';
		var wherecol = "#wherecol-" + ctr;
		$("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" + ctr + "' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
		toShow(ctr);

		ctr++;
		$("#wherectr").val(ctr);
	}

	// show filter category
	function toShow(ctr, option = false) {
		const self = document.querySelector(`#wherecol-${ctr}`);
		const selfOption = self?.querySelectorAll('option');
		const getAllCol = Array.from(document.querySelector('#wheres').children);
		if (getAllCol.length == 0) return false;

		let saveCategory = [];
		getAllCol.forEach(item => {
			const getCol = item.querySelector('[name=\'wherecol[]\']');
			if (option) {
				saveCategory.push(getCol.value);
			} else {
				if (getCol != self) saveCategory.push(getCol.value);
			}
		});

		// item to show
		if (option) {
			getAllCol.forEach(item => {
				const getCol = item.querySelector('[name=\'wherecol[]\']');
				if (getCol != self) {
					const getAllOption = getCol.querySelectorAll('option');
					const getCurrentValue = getCol.value;
					getAllOption.forEach(item => {
						if (saveCategory.includes(item.value) && item.value != '' && item.value.toLowerCase() != getCurrentValue.toLowerCase()) item.classList.add('hidden');
						else item.classList.remove('hidden');
					});
				}
			});
		} else {
			selfOption.forEach(item => {
				if (saveCategory.includes(item.value) && item.value != '') item.classList.add('hidden');
				else item.classList.remove('hidden');
			});
		}
	}

	// hide filter category
	function toHidden() {

	}

	$(document).ready(function() {

		const filterCol = <?= $this->filterCol ? json_encode($this->filterCol) : "''"; ?>

		filterCol && document.querySelector('#sidebar-collapse').dispatchEvent(new Event('click'));

		setTimeout(() => {
			if (filterCol) {
				addColFilter(filterCol);
			}
		}, 100);

		$("#addwhere").click(addCol);
	});

	function formatCcy(elem) {
		const getNumber = elem.value.replace(/,/g, '');
		const formatterMoney = Intl.NumberFormat('en-EN')

		elem.value = formatterMoney.format(getNumber);
	}

	async function getOpt(elem, itemValue = '') {
		var id = elem.id;
		var temp = id.split('-');
		var ctr = temp[1];

		var selval = elem.value;
		var tempval = selval.split('-');
		dttype = tempval[1];

		colomnname = tempval[0];
		var colval = "#colvalue-" + ctr;
		var colselect = "colselect-" + ctr;
		var ncolselect = "#colselect-" + ctr;
		var $coll = $('.event_select');
		// $coll.children().prop('disabled', false);
		// $coll.each(function() {
		//   var val = this.value;
		//   if (val === 'original') return;
		//   $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
		// });

		$(`#${colselect}`)?.select2('destroy');

		$(colval).empty();
		if (colomnname == 'COUNTER_WARRANTY_TYPE') {
			$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
			var id = $("#tablename").find(":selected").val();
			await $.ajax({
				url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'getcountertype'), null, true) ?>",
				type: 'GET',
				dataType: "html",
				data: {
					id: id
				},
				success: function(data) {
					$(ncolselect).html(data);

					document.querySelector(`#${colselect}`).value = itemValue

					$(`#${colselect}`).select2({
						placeholder: 'Search here',
						allowClear: true,
					});
					$('.select2-search-choice-close').remove();
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});
		} else if (colomnname == 'BG_BRANCH') {
			$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
			await $.ajax({
				url: "<?= $this->url(array('module' => $this->modulename, 'controller' => 'approve', 'action' => 'filter'), null, true) ?>?type=branch",
				type: 'GET',
				dataType: "html",
				success: function(data) {
					$(ncolselect).html(data);

					document.querySelector(`#${colselect}`).value = itemValue

					$(`#${colselect}`).select2({
						placeholder: 'Search here',
						allowClear: true,
					});
					$('.select2-search-choice-close').remove();
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});
		} else if (colomnname == 'CHANGE_TYPE') {
			$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
			await $.ajax({
				url: "<?= $this->url(array('module' => $this->modulename, 'controller' => 'approve', 'action' => 'filter'), null, true) ?>?type=change_type",
				type: 'GET',
				dataType: "html",
				success: function(data) {
					$(ncolselect).html(data);

					document.querySelector(`#${colselect}`).value = itemValue

					$(`#${colselect}`).select2({
						placeholder: 'Search here',
						allowClear: true,
					});
					$('.select2-search-choice-close').remove();
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});
		} else if (colomnname == 'CUST_ID') {
			$(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
			await $.ajax({
				url: "<?= $this->url(array('module' => $this->modulename, 'controller' => 'approve', 'action' => 'filter'), null, true) ?>?type=principal",
				type: 'GET',
				dataType: "html",
				success: function(data) {
					$(ncolselect).html(data);

					document.querySelector(`#${colselect}`).value = itemValue

					$(`#${colselect}`).select2({
						placeholder: 'Search here',
						allowClear: true,
					});
					$('.select2-search-choice-close').remove();
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert("Failed to get where column list, please try again");
				}
			});
		} else if (colomnname == 'BG_AMOUNT') {
			await $(colval).append(`<input type='text' name='whereval[]' id='${colselect}' style='width:100%'  value='' maxlength='160'  class='form-control' onkeydown=\"return forceCurrencyOwn(event)\" onkeyup=\"formatCcy(this)\">`);
			setTimeout(() => {
				document.querySelector(`#${colselect}`).dispatchEvent(new Event('keyup'));
			}, 100);
		} else {
			await $(colval).append(`<input type='text' name='whereval[]' id='${colselect}' style='width:100%'  value='' maxlength='160'  class='form-control' >`);
		}
		document.querySelector(`#${colselect}`).value = itemValue;

		toShow(ctr, true);

		var colomn = '#whereopt-' + ctr;
		var data = $(colomn).val('EQUAL').change();

	}
</script>