<?php $category 	= $this->language->_('Category'); ?>
<?php $subject 		= 'Subjek'; ?>
<?php $comment 		= $this->language->_('Comment'); ?>
<?php $status 		= $this->language->_('Status'); ?>
<?php $close 		= $this->language->_('Close'); ?>
<?php $submit 		= $this->language->_('Submit'); ?>
<?php $setFilter 	= $this->language->_('Set Filter'); ?>
<?php $clearFilter 	= $this->language->_('Clear Filter'); ?>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Chat with Us'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	.input-medium {
		width: 240px !important;
	}
	ul.errors {
		list-style: none;
		padding-left: 0;
	}
</style>

<?php $filter = $_GET['filter']; ?>

<div class="row content-box mb-5">
	<div class="col-md-12">
		<h5><?=$this->language->_('Chat with Us')?></h5>
		<form name="filterForm" action="<?= $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true); ?>" method="get">
			<table id="logo-title" cellpadding="3" cellspacing="0" border="0" style="width:100%; <?= ($filter==false) ? 'display:none;' : ''; ?>">
                <tr>
                    <td class="tbl-evencontent" width="150px"><?= $this->formLabel('fCategory',$category); ?></td>
                    <td class="tbl-evencontent" width="20px">:</td>
                    <td class="tbl-evencontent">
                        <select name="fCategory" class="form-control input-medium">
                            <option value="">--- <?= $this->language->_('Any Value'); ?> ---</option>
                            <?php foreach($this->categoryArr as $key=>$value) : ?>
                                <option value="<?= $key; ?>" <?= ($key==$this->fCategory) ? 'selected' : ''; ?>><?= $this->language->_($value); ?></option>
                            <?php endforeach; ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="tbl-evencontent" width="150px"><?= $this->formLabel('fStatus',$status); ?></td>
                    <td class="tbl-evencontent" width="20px">:</td>
                    <td class="tbl-evencontent">
                        <select name="fStatus" class="form-control input-medium">
                            <option value="">--- <?= $this->language->_('Any Value'); ?> ---</option>
                            <?php foreach($this->statusArr as $key=>$value) : ?>
                                <option value="<?= $key; ?>" <?= ($key==$this->fStatus) ? 'selected' : ''; ?>><?= $this->language->_($value); ?></option>
                            <?php endforeach; ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">                                
                        <?= $this->formSubmit('filter',$setFilter,array('class'=>'btngreen hov mt-2')); ?>
                        <?= $this->formSubmit('filter_clear',$clearFilter,array('class'=>'btnwhite hov mt-2')); ?>
                    </td>
                </tr>
			</table>
			<div class="sidebar-collapse" style="float:right" id="sidebar-collapse">
				<a href="#" class="sidebar-collapse-icon with-animation">
					<?= $this->language->_('Advanced Search'); ?>               
				</a>
			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div style="display:flex; justify-content:space-between;">
            <button type="button" class="btn-sm btnwhite hov" onclick="modal_add()"><i class="fa fa-plus"></i>&nbsp;<?= $this->language->_('Add') ?></button>
			<div align="right">
	            <div style="float:right; padding-left:5px;">
	            	<div class="input-group input-group-sm">
	                    <div class="input-group-prepend">
	                        <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
	                    </div>
	                    <input type="text" id="searchtable" class="search form-control" placeholder="Search">
	                </div>
	            </div>
			</div>
		</div>
		<br>
		<div class="portlet-body flip-scroll table-responsive">
			<table id="myTable" class="table table-sm table-striped">
				<thead>
					<tr>
						<th width="3%" valign="top" class="tablehead">No</th>
                        <?= $this->partial(
                                'tableheader.phtml',
                                array('fields' => $this->fields,
                                      'sortBy' => $this->sortBy,
                                      'sortDir' => $this->sortDir,
                                      'query_string_params' => $this->query_string_params
                                )
                            );
                        ?>
					</tr>
				</thead>
				<tbody>
					<?php if(count($this->paginator) == 0) : ?>
						<tr>
							<td colspan="7" align="center">-- No Data --</td>
						</tr>
					<?php else : ?>
						<?php
							$i = 0;
							$no = 1;
							foreach($this->paginator as $row){
								$createdDate = date('d M Y', strtotime($row['CREATED_DATE']));
								$ticketId = '<a href="/home/chatwithticketing/index/detail/'.$row['TICKET_ID'].'">'.$row['TICKET_ID'].'</a>';
								$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
                                echo '<tr>
                                          <td class="'.$td_css.'">'.$no++.'</td>
                                          <td class="'.$td_css.'">'.$ticketId.'</td>
                                          <td class="'.$td_css.'">'.$row['CATEGORY'].'</td>
                                          <td class="'.$td_css.'">'.$row['SUBJECT'].'</td>
                                          <td class="'.$td_css.'">'.$createdDate.'</td>
                                          <td class="'.$td_css.'">'.$row['CREATED_BY'].'</td>
                                          <td class="'.$td_css.'">'.$row['STATUS'].'</td>
                                      </tr>';
                                $i++;
							}
						?>
					<?php endif; ?>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="modal_add" tabindex="-1" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"><?= $this->language->_('New Ticket'); ?></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<?php if(isset($this->errMsg)) : ?>
					<div class="alert alert-danger"><?= $this->errMsg ?></div>
				<?php endif; ?>
				<form action="" method="post">
					<div class="form-group row">
						<label class="col-sm-3 col-form-label"><?= $this->language->_('Ticket Number'); ?></label>
						<div class="col-sm-9">
							<b><i>autogenerated</i></b>
						</div>
					</div>
					<div class="form-group row">
						<?= $this->formLabel('category',$category, ['class'=>'col-sm-3 col-form-label']); ?>
						<div class="col-sm-9">
                            <select name="category" id="category" class="form-control">
                                <option value="">--- <?= $this->language->_('Any Value'); ?> ---</option>
                                <?php foreach($this->categoryArr as $key=>$value) : ?>
                                    <option value="<?= $key; ?>" <?= ($this->category==$key) ? 'selected' : ''; ?>><?= $this->language->_($value); ?></option>
                                <?php endforeach; ?>
                            </select>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['category']); ?></small>
						</div>
					</div>
					<div class="form-group row">
						<?= $this->formLabel('subject',$subject, ['class'=>'col-sm-3 col-form-label']); ?>
						<div class="col-sm-9">
							<?= $this->formText('subject',$this->subject, ['class'=>'form-control']); ?>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['subject']); ?></small>
						</div>
					</div>
					<div class="form-group row">
						<?= $this->formLabel('comment',$comment, ['class'=>'col-sm-3 col-form-label']); ?>
						<div class="col-sm-9">
							<?= $this->formTextarea('comment',$this->comment, ['rows'=>'5','class'=>'form-control']); ?>
                            <small class="text-danger"><?= $this->formErrors($this->errDesc['comment']); ?></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 col-form-label"></label>
						<div class="col-sm-9">
							<?= $this->formButton('close', $close, ['class'=>'btnwhite hov','data-dismiss'=>'modal']); ?>
							<?= $this->formSubmit('submit', $submit, ['class'=>'btngreen hov']); ?>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		var error = '<?= $this->error; ?>';
		if(error){
			modal_add();
		}

		$('div#sidebar-collapse').click(function(){
			if($("#logo-title").is(":visible")){ 
				$("#logo-title").hide();
			}else if($("#logo-title").is(":hidden")){ 
				$("#logo-title").show();
			}
		});

		$("#searchtable").keyup(function() {
			var value = this.value.toLowerCase().trim();

			$("#myTable tr").each(function(index) {
				if (!index) return;
				$(this).find("td").each(function() {
					var id = $(this).text().toLowerCase().trim();
					var not_found = (id.indexOf(value) == -1);
					$(this).closest('tr').toggle(!not_found);
					return not_found;
				});
			});
		});
	});

	function modal_add()
	{
		$('#modal_add').modal('show');
	}
</script>