<!-- <b> <?php echo $this->language->_('General');?> &gt; <?php echo $this->language->_('ATM');?> &gt; <?php echo $this->language->_('Import from File');?></b> -->

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span>General</span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span>ATM</span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                	<span class="valas" ><?=$this->language->_('Import from File')?></span>                   
                 </li>                
            </ul>
        </div>
    </div>
</div>

<br /><br />

<h5><?php echo $this->language->_('ATM Management');?></h5>
<table border="0" cellpadding="0" cellspacing="0" width="50%" align="left">
	<tbody>	
		<tr>
			<td>
			<?php 
				if($this->errorMsg)
				{?>
					<div class="errmsg">
					<?php	
					foreach($this->errorMsg as $key => $value)
					{
						echo $this->language->_($value).'</br>';
					}
						echo "</div></br>";
			}?>
			</td>
		</tr>

		<tr>
			<div class="portlet-body form">
				<td id="contentarea">
					<div class="portlet-body form content-box">
						<form name="acstat_query" enctype="multipart/form-data" method="post" action="">
						    <!-- Default panel contents -->            
						    <div class="form-body">
                                <div class="form-group row">                             
                                    <div class="col-md-12">
                                        <strong><?php echo $this->language->_('Import ATM');?></strong>
                                    </div>
                                </div>
					         </div>
							<hr/>
						    <div class="portlet-body form">
						    <!-- BEGIN FORM-->				      					      
								<div class="form-body">                                       
						            <div class="form-group row">
						                 <div class="col-md-12">
                                            <?php echo $this->formFile('document', $this->document, array('size' => 50)); ?>
                                         </div>
                                          <div class="col-md-12">
                                          	 <br\>
											<i><?php echo $this->language->_('Upload File');?> (<?php Echo $this->language->_('.txt only');?>) </i>                                           
											<br />
											<i><?php echo $this->language->_('File Format : ATM Code(25)ATM Address(140)ATM City(50)');?></i>
                                          </div>
						            </div>
								</div>
								<br/>
								<div class="row">
			                      <div class="col-sm-12">
			                      		<div class="panel panel-default" style="border:0px">
						                   <div class="formbutton">									 
												<?php echo $this->formButton('back', $this->language->_('Back'), array('onclick' => "location.href='/atm/index'", 'class' => 'btnwhite hov'));?>
												<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
												<?php echo $this->formReset('reset',$this->language->_('Reset'),array('class'=>'btngreen hov')); ?>
											</div>
                    					</div>
                    				</div>
                    			</div>
                    			</div>
							</form>  
						</div>
					</td>                             						
				</div>
			</tr>
		</tbody>
	</table>



<!-- 
<div class="tabheader" id="tabheader"><?php echo $this->language->_('ATM Management');?></div>
<?php 
if($this->errorMsg)
{?>
	<div class="errmsg">
	<?php	
	foreach($this->errorMsg as $key => $value)
	{
		echo $this->language->_($value).'</br>';
	}
		echo "</div></br>";
}?>
<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
	<tbody>
	<tr>
	<td>
		<form name="acstat_query" enctype="multipart/form-data" method="post" action="">
			<table cellpadding="3" cellspacing="0" border="0" class="tableform">
				<tr><th colspan="2" class="tdform-sub"><strong><?php echo $this->language->_('Import ATM');?></strong></th></tr>
				<tr>
					<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Upload File');?> (<?php Echo $this->language->_('.txt only');?>)</td>
					<td class="tbl-evencontent" id="tbl-evencontent">
						<?php echo $this->formFile('document', $this->document, array('size' => 50)); ?>
						<br /><br /><i><?php echo $this->language->_('File Format : ATM Code(25)ATM Address(140)ATM City(50)');?></i></td>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="left">
						<?php echo $this->formButton('back', $this->language->_('Back'), array('onclick' => "location.href='/atm/index'", 'class' => 'inputbtn'));?>
						<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn')); ?>
						<?php echo $this->formReset('reset',$this->language->_('Reset'),array('class'=>'inputbtn')); ?>
					</td>
				</tr>
			</table>
		</form>
	</tbody>
</table> -->
