<b><?php echo $this->language->_('Master Report'); ?> > <?php echo $this->language->_('Customer Charge List'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Customer Charge List'); ?></div>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','sortby' => $this->sortBy,'sortdir' => $this->sortDir),null,true)?>" method="get">
	<table cellpadding="3" cellspacing="0" border="0" class="tableform" width="500px">
		<tr><th colspan="3" class="tdform-sub"><strong>Filter</strong></th></tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('COMPANYID',$this->language->_('Company Code')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?php
				
					$options = $this->custArr;
					$opt[""] = '-- '.$this->language->_('Any Value').' --';
					$opt  = $opt + $options;
					echo $this->formSelect('COMPANYID',$this->COMPANYID,array('id'=>'COMPANYID'),$opt);
				?>
			</td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('COMPANYNAME',$this->language->_('Company Name')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?php  
					echo $this->formText('COMPANYNAME',$this->COMPANYNAME,array('maxlength'=>'20','size'=>'20')); 
				?>
			</td>
		</tr>
		<!-- ,'onfocus'=>'AlnumOnly(this.value,this.id)','onblur'=>'AlnumOnly(this.value,this.id)','onkeypress'=>'return forceDecimalOCBC(event)' -->
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('ACCOUNTSOURCE',$this->language->_('Account Number')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent">
				<?php 
					echo $this->formText('ACCOUNTSOURCE',$this->ACCOUNTSOURCE,array('maxlength'=>'20','size'=>'20')); 
				?>
			</td>
		</tr>
		<tr>
			<td colspan="3" align="left" class="tbl-evencontent">
				<?php echo $this->formSubmit('filter','Set Filter',array('class'=>'inputbtn')); ?>
				<input type="button" class="inputbtn" value="Clear Filter" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>'">
			</td>
		</tr>
	</table>
	<br />
	
	<table width="100%" border="0px">
		<tr style="height:30px;" align="right">
			<td>
				
				<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
				<?php	echo $this->formSubmit('pdf','PDF is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>
				<?php }else{ ?>
				<?php 	echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn')); ?>
				<?php } ?>
				
				<?php if(($this->paginator->getTotalItemCount()) > $this->applicationSetting['max_row_download_csv']) { ?>
				<?php echo $this->formSubmit('csv','CSV is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
				<?php }else{ ?>
				<?php echo $this->formSubmit('csv','CSV',array('class'=>'inputbtn')); ?>&nbsp;
				<?php } ?>

				<input class="inputbtn" value="Print" onclick="window.print();" type="button">
			</td>
		</tr>
	</table>
</form>

	<div align="right">
		<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
	</div><br>
	
	<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
		<tr>
			<th rowspan="2">No</th>
	
<?
$config 				= Zend_Registry::get('config');
$asc_img_path  			= $config['sorting']['defaults']['ascImgPath'];
$desc_img_path 			= $config['sorting']['defaults']['descImgPath'];
$active_asc_img_path  	= $config['sorting']['defaults']['activeAscImgPath'];
$active_desc_img_path 	= $config['sorting']['defaults']['activeDescImgPath'];

if(is_array($this->query_string_params))
{
	$qstring='?';
	foreach($this->query_string_params as $key=>$val)
	{
		//$val = generateParam($val);
		$qstring.=$key.'='.$val.'&';
	}
	$qstring=substr($qstring,0,-1);
}
else $qstring='';
//echo 'qstring: '.$qstring;
?>
<?
foreach($this->fields1 as $fieldKey => $fieldValue) {

    if($this->sortBy == $fieldValue['field'] && $this->sortDir == 'asc') {
    	$asc_img = $active_asc_img_path;
    	$asc_need_link = false;
    }
    else {
    	$asc_img = $asc_img_path;
    	$asc_need_link = true;
    }
   	if($this->sortBy == $fieldValue['field'] && $this->sortDir == 'desc') {
   		$desc_img = $active_desc_img_path;
   		$desc_need_link = false;
   	}
   	else {
   		$desc_img = $desc_img_path;
   		$desc_need_link = true;
   	}
?>
<th valign="top" rowspan="3">
   	<?=$fieldValue['label']?><br />
	<span style="white-space:nowrap">
   	
		<?php 
		if($asc_need_link && $fieldValue['sortable']) { ?>
			<a href="<?=$this->url(array('sortby' => $fieldKey, 'sortdir' => 'asc')).$qstring?>"><img border="0" src="<?=$asc_img?>" /></a><?php 
		} 
		else {
			if($fieldValue['sortable']) { ?> <img border="0" src="<?=$asc_img?>" /> <?php } 
			else { ?> &nbsp; <?php }
		}
		?>
		<?php
		if($desc_need_link && $fieldValue['sortable']) {?>
			<a href="<?=$this->url(array('sortby' => $fieldKey, 'sortdir' => 'desc')).$qstring?>"><img border="0" src="<?=$desc_img?>" /></a> <?php 
		}
		else {
			if($fieldValue['sortable']) { ?>
				<img border="0" src="<?=$desc_img?>" /><?php 
			}
			else { ?> &nbsp; <?php }
		}
		?>
    </span>
</th>
<?php }?>
		
		<th colspan="2" valign="middle" style="text-align:center;"><?php echo $this->language->_('Number of Transaction'); ?></th>

<?
foreach($this->fields2 as $fieldKey => $fieldValue) {

    if($this->sortBy == $fieldValue['field'] && $this->sortDir == 'asc') {
    	$asc_img = $active_asc_img_path;
    	$asc_need_link = false;
    }
    else {
    	$asc_img = $asc_img_path;
    	$asc_need_link = true;
    }
   	if($this->sortBy == $fieldValue['field'] && $this->sortDir == 'desc') {
   		$desc_img = $active_desc_img_path;
   		$desc_need_link = false;
   	}
   	else {
   		$desc_img = $desc_img_path;
   		$desc_need_link = true;
   	}
?>
<th valign="top" rowspan="3">
   	<?=$fieldValue['label']?><br />
	<span style="white-space:nowrap">
   	
		<?php 
		if($asc_need_link && $fieldValue['sortable']) { ?>
			<a href="<?=$this->url(array('sortby' => $fieldKey, 'sortdir' => 'asc')).$qstring?>"><img border="0" src="<?=$asc_img?>" /></a><?php 
		} 
		else {
			if($fieldValue['sortable']) { ?> <img border="0" src="<?=$asc_img?>" /> <?php } 
			else { ?> &nbsp; <?php }
		}
		?>
		<?php
		if($desc_need_link && $fieldValue['sortable']) {?>
			<a href="<?=$this->url(array('sortby' => $fieldKey, 'sortdir' => 'desc')).$qstring?>"><img border="0" src="<?=$desc_img?>" /></a> <?php 
		}
		else {
			if($fieldValue['sortable']) { ?>
				<img border="0" src="<?=$desc_img?>" /><?php 
			}
			else { ?> &nbsp; <?php }
		}
		?>
    </span>
</th>
<?php }?>		
		
		
	</tr>
	<tr>
		<th>From</th>
		<th>To</th>
	</tr>
	
		<tr>
			<?php
				if($this->paginator){
					$counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
				}
			?>
			
			<?php
					if(count($this->data)){
					
						$i = 1;
						$d = 0;
						foreach($this->data as $row){
							
							$td_css = ($d % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";
							$attr = 'align="right"';
							
							echo '
								<tr>
									<td class="'.$td_css.'">'.$counter.'</td>
									  
									<td class="'.$td_css.'">'.$row['custid'].'</td>
									<td class="'.$td_css.'">'.$row['acctno'].'</td>
									<td class="'.$td_css.'">'.$row['chargetype'].'</td>		  
									<td class="'.$td_css.'">'.$row['trafrom'].'</td>		  
									<td class="'.$td_css.'">'.$row['trato'].'</td>
									  
									<td class="'.$td_css.'">'.$row['ccy'].'</td>		  
									<td class="'.$td_css.'" '.$attr.'>'.$row['chargeamount'].'</td>		  
								</tr>
							  ';
							
							$i++;
							$counter++;
							$d++;
						}
						
					}
					else
					{
						//echo "empty";
			?>		<tr>
							<td class="tbl-evencontent" colspan="35" align="center">--- <?php echo $this->language->_('No Data'); ?> ---</td>
						</tr> <?php
					}
			?>	
				
				
		</tr>
	</table><br />
	
	<div align="right">
		<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
	</div><br>