
<script type="text/javascript">

$(document).ready(function()
{
 //AKAN DILOAD PERTAMA KALI
 reset_all(); 

 //pengaturan error messages
 <?php 
    if(!is_null($this->user_msg) || $this->user_msg != '') 
    {
      foreach($this->user_msg as $key => $error)
      {
   ?>
         $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
  <?php    
      }  
    } 
     ?>

   $('.privCheck').change(function() {
       if(this.checked) {
           var id = $(this).data('id');
           console.log(id);
           $('.'+id).prop("checked", true);
           $('#result'+id).prop("checked", true);
           // $('.'+id).css("filter", "brightness(0.2)");
       }else{
         var id = $(this).data('id');
         console.log('#result'+id);
         $('#result'+id).prop('checked','');
       }
   });

   $('#user_email').blur(function(){
     var email = $(this).val();
     if (!validateEmail(email)) {
       alert('Incorrect E-Mail Format');
     }
   });

});



function reset_all() 
{
   //utk reset semua privilege
   $('[Type=checkbox]').prop('checked','');

    <?php 
    if(!empty($this->priviView)){
          foreach($this->priviView as $privi)
        {
     ?>
         $('#<?php echo $privi; ?>').prop('checked','checked');
         $('#result<?php echo $privi; ?>').prop('checked','checked');
         $('#result<?php echo $privi; ?>').css("opacity", "0.9)");
    <?php
          }
        }
      ?>
  
  <?php  
   if(!empty($this->data)){
   
  foreach($this->data as $key => $row)
     { 
   if ($this->data[$key] != ""){
             if($row->accountNo == ''){
             }else{
 ?>
     
     $('#acct<?php echo $req; ?>').prop('checked','checked');
 $('.<?php echo $req; ?>_view').css('display','table-row');
  <?php 
     }
   }
   }
 }
   
   ?>

    $('#user_id').val('<?php echo $this->user_id; ?>');  
    $('#user_email').val('<?php echo $this->user_email; ?>');
    $('#user_fullname').val('<?php echo $this->user_fullname; ?>');
    $('#user_phone').val('<?php echo $this->user_phone; ?>');
    $('#user_ext').val('<?php echo $this->user_ext; ?>');
    $('#user_debitnumber').val('<?php echo $this->user_debitnumber; ?>');
    $('#token_id').val('<?php echo $this->token_id; ?>');

  $('#user_isemail_<?php echo $this->user_isemail; ?>').prop('checked','checked');
}




</script>

<script language="javascript">
function getkey(e)
{
if (window.event)
return window.event.keyCode;
else if (e)
return e.which;
else
return null;
}
function kodeScript(e, goods, field)
{
var key, keychar;
key = getkey(e);
if (key == null) return true;

keychar = String.fromCharCode(key);
keychar = keychar.toLowerCase();
goods = goods.toLowerCase();

// check goodkeys
if (goods.indexOf(keychar) != -1)
return true;
// control keys
if ( key==null || key==0 || key==8 || key==9 || key==27 )
return true;

if (key == 13) {
var i;
for (i = 0; i < field.form.elements.length; i++)
 if (field == field.form.elements[i])
   break;
i = (i + 1) % field.form.elements.length;
field.form.elements[i].focus();
return false;
};
// else return false
return false;
}
</script>

<div class="row">
     <div class="col-md-12">
       <div class="page-bar">
           <ul class="page-breadcrumb">
               <li>
                   <span><?php echo $this->language->_('Customer'); ?></span>
                   <i class="fa fa-angle-right pl-1 pr-1"></i>
               </li>
               <li>
                   <span><?php echo $this->language->_('Customer List'); ?></span>
                   <i class="fa fa-angle-right pl-1 pr-1"></i>
               </li>
               <li>
                   <span><?php echo $this->language->_('Customer Detail'); ?></span>
                   <i class="fa fa-angle-right pl-1 pr-1"></i>
               </li>
               <li>
                   <?php echo $this->language->_('Add Customer User'); ?>
               </li>
           </ul>
       </div>
     </div>
</div>

<style type="text/css">

/*.custindicator {
color: rgba(119, 119, 119, 0.87);
background-color: #ffffff;
}

.custindicator.active{
color: white;
background-color: #007934;
}

.custindicator.inactive{
color: rgba(119, 119, 119, 0.87);
background-color: #ffffff;
}*/

input.invalid{
background-color: #ffdddd;
}

.custtab {
display: none;
}

.padbot{
padding-bottom: 2%;
}
</style>



<div class="row content-box">
<div class= "portlet-body form col-md-12">
 <h5><?php echo $this->language->_('Customer User Management'); ?></h5>
 <div style="text-align: center">
   <style type="text/css">
     
       .nav-tabs .nav-link {
         border-color: #c9c9c9;
         border-top-left-radius: 10px;
         border-top-right-radius: 10px;
         text-align: center;
       }
       .nav-tabs .nav-link:hover {
         border-color: #c9c9c9;
         border-top-left-radius: 10px;
         border-top-right-radius: 10px;
         color:white;
         background-color: #005586;
         margin-top: -6px;
           padding-bottom: 10px;
           top: -10px;
           padding-top: 10px;
           height: 43px;
       }
       .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
           color:white;
           background-color: #005586;
           border-color: #dee2e6 #dee2e6 #fff;
           border-top-left-radius: 10px;
           border-top-right-radius: 10px;
           margin-top: -6px;
           padding-bottom: 10px;
           top: -10px;
           padding-top: 10px;
           height: 43px;
           font-size: 17px
       }

       .disabled-checkbox{
         opacity:0.9;
         pointer-events: none;
       }

       
   </style>
   <ul class="nav nav-tabs">
     <li class="nav-item">
       <a class="nav-link custindicator" id="inhouse-tab" href="javascript:;" role="tab" at="1" value="1" aria-controls="inhouse" aria-selected="true"><?php echo $this->language->_('Personal Data');?></a>
     </li>
     <li class="nav-item">
       <a class="nav-link custindicator" id="daily-tab" href="javascript:;" role="tab" at="2" value="2" aria-controls="va" aria-selected="false"><?php echo $this->language->_('Daily Limit');?></a>
     </li>
     <li class="nav-item">
       <a class="nav-link custindicator" id="va-tab" href="javascript:;" role="tab" at="3" value="3" aria-controls="va" aria-selected="false"><?php echo $this->language->_('User Limit');?></a>
     </li>
     <li class="nav-item">
       <a class="nav-link custindicator" id="domestic-tab" href="javascript:;" role="tab" at="4" value="4" aria-controls="domestic" aria-selected="false"><?php echo $this->language->_('Review');?></a>
     </li>
   </ul>

   <!-- <button class="custindicator" disabled>Personal Data</button>
   <button class="custindicator" disabled>Account Number</button>
   <button class="custindicator" disabled>Review</button> -->
 </div>

 <br>

 <form id="regForm" name="Form" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'new','action'=>'index'),null,true)?>">

 <!-- ----------------------------------------------tab new customer-------------------------------------------- -->
  
   <!-------------------------------------------- end tab new customer ---------------------------------------------->

   <!-- -------------------------------------------tab contact person-------------------------------------------- -->
   
 <!-- -------------------------------------------end tab contact person-------------------------------------------- -->

 <!-- -------------------------------------------tab company limit-------------------------------------------- -->
 <!-- <div class="custtab"> -->
 <!-- <table align="center" width="80%" cellpadding="3" cellspacing="0" border="0" class="tableform">
   
   </table> -->

   <?php if ($this->error) { ?>
       <div class="alert alert-danger"><?php echo $this->language->_($this->error_msg); ?></div>

       <script type="text/javascript">
         $(document).ready(function(){
          // $("#regForm input").prop("disabled", true);
         });
       </script>



   <?php } ?>


   <table align="center" width="80%" cellpadding="3" cellspacing="0" border="0" class="tableform custtab">
     <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Add Customer User'); ?></strong></th></tr>
     
      <tr>
     <td colspan="3" class="tbl-evencontent"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
     </tr>
     <tr>
       <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->language->_('Company')); ?></td>
     <td class="tbl-evencontent">:</td>
     <td class="tbl-evencontent"><?php echo $this->cust_name; ?></td>
     <input type="hidden" name="cust_id" value="<?php echo $this->enccust_id; ?>">
     </tr>
     
     <tr>
     <td class="tbl-evencontent"><?php echo $this->formLabel('user_id',$this->language->_('User Id (used for login)')); ?>&nbsp;<span class="errmsg">*</span></td>
     <td class="tbl-evencontent">:</td>
     <td class="tbl-evencontent">
       <?php echo $this->formText('user_id',$this->user_id,array('class'=>'form-control','maxlength'=>128,'size'=>50, 'onkeyup'=>'javascript:this.value = this.value.toUpperCase();')); ?>
       <!-- <?php 
           
   echo '<b>'.$this->generate_userid.'</b>'; 

       echo $this->formHidden('generate_userid',$this->generate_userid); 
       echo $this->formHidden('squenceNumberUser',$this->squenceNumberUser); 
     ?> -->
         <div id="error_user_id" class="errmsg"></div>
     </td>
     </tr>
     
    <!-- <tr>
   <td class="tbl-evencontent"></td>
   <td class="tbl-evencontent"></td>
   <td class="tbl-evencontent">
   <ul>   
   <em>
     <li>
       <?php echo $this->language->_('Username format requirements'); ?> :
       <?php  echo '<b>auto generate user id</b> '; echo '('.$this->squenceNumberUser.')';?>
     </li>
   </em>
   </ul>
   </td>
 </tr> -->

     
      <tr style="display: none">
       <td class="tbl-evencontent"><?php echo $this->formLabel('user_password',$this->language->_('Password')); ?></td>
     <td class="tbl-evencontent">:</td>
     <td class="tbl-evencontent">  <?php echo $this->language->_('Autogenerated by system')?> </td>
     </tr> 
     
     
     <tr>
       <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',$this->language->_('Email')); ?>&nbsp;<span class="errmsg">*</span></td>
     <td class="tbl-evencontent">:</td>
     <td class="tbl-evencontent">
         <?php echo $this->formText('user_email',$this->user_email,array('class'=>'form-control','maxlength'=>128,'size'=>50)); ?>
         <div id="error_user_email" class="errmsg"></div>
     </td>
     </tr>
     
     <tr>
       <td class="tbl-evencontent"><?php echo $this->formLabel('user_fullname',$this->language->_('User Name')); ?>&nbsp;<span class="errmsg">*</span></td>
     <td class="tbl-evencontent">:</td>
     <td class="tbl-evencontent">
        <?php 
 //       echo $this->formText('user_fullname',$this->user_fullname,array('maxlength'=>50,'size'=>50)); 
 //       echo $this->formText('user_fullname',$this->user_fullname,array('maxlength'=>50,'size'=>50,
 //        'onKeypress'=>'return noSpecialChar3(event);'));
        ?>
        <input name="user_fullname" value="<?=$this->user_fullname?>" id="user_fullname_text" type="text" class="form-control" size="50" maxlength="50" onKeyPress="return kodeScript(event,'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ ',this)" />
        
        <div id="error_user_fullname" class="errmsg"></div>
     </td>
     </tr>
     
     <tr>
       <td class="tbl-evencontent"><?php echo $this->formLabel('user_phone',$this->language->_('Phone No')); ?></td>
     <td class="tbl-evencontent">:</td>
     <td class="tbl-evencontent">
        <?php echo $this->formText('user_phone',$this->user_phone,array('class'=>'form-control','maxlength'=>20,'size'=>30)); ?>
        <div id="error_user_phone" class="errmsg"></div>
     </td>
     </tr>
     
     
     <tr>
       <td class="tbl-evencontent"><?php echo $this->formLabel('user_ext','Ext'); ?></td>
     <td class="tbl-evencontent">:</td>
     <td class="tbl-evencontent">
        <?php echo $this->formText('user_ext',$this->user_ext,array('class'=>'form-control','maxlength'=>20,'size'=>30)); ?>
        <div id="error_user_ext" class="errmsg"></div>
     </td>
     </tr>
     
     <tr>
       <td class="tbl-evencontent"><?php echo $this->formLabel('user_ext','User Debit Card Number'); ?></td>
     <td class="tbl-evencontent">:</td>
     <td class="tbl-evencontent">
        <?php echo $this->formText('user_debitnumber',$this->user_debitnumber,array('class'=>'form-control','maxlength'=>155,'size'=>30)); ?>
        <div id="error_user_debitnumber" class="errmsg"></div>
     </td>
     </tr>	
     <!-- if general setting token type == hard token then show -->
     <!-- <?php if ($this->tokenType == $this->hardTokenTypeCode) { ?>
       <tr>
         <td class="tbl-evencontent"><?php echo $this->formLabel('token_id',$this->language->_('Token ID')); ?></td>
       <td class="tbl-evencontent">:</td>
       <td class="tbl-evencontent">
          <?php echo $this->formText('token_id',$this->token_id,array('class'=>'form-control','maxlength'=>13,'size'=>30,'onkeyup'=>'javascript:this.value = this.value.toUpperCase()')); ?>
          <div id="error_token_id" class="errmsg"></div>
       </td>
       </tr>
     <?php } ?> -->

     <tr style="display: none;">
       <td class="tbl-evencontent"><?php echo $this->formLabel('user_isemail',$this->language->_('User is Email')); ?></td>
     <td class="tbl-evencontent">:</td>
     <td class="tbl-evencontent">
         <input class="email_checked" type="radio" value="0"  id="user_isemail_0" name="user_isemail"/> <?php echo $this->language->_('No'); ?>
         <input class="email_checked" type="radio" value="1"  checked="checked" id="user_isemail_1" name="user_isemail"/> <?php echo $this->language->_('Yes'); ?>  <br/>
     </td>
     </tr>
   <!-- <tr>
     <td class="tbl-evencontent" colspan="3">
       <div id="notesPage">
         <div class="tdform-sub"><i><?php echo $this->language->_('Notes')?> :</i></div>
         <div class="tbl-evencontent">                                   
           <i><?php echo $this->language->_('To fill more than 1 email address, please separated it with semicolon')?> (;).<br>
           <?php echo $this->language->_('For example')?> : wirda@gmail.com;gunawan@yahoo.com</i>
         </div>
       </div>
       </td>
   </tr> -->
     
     <tr>
       <td colspan="3"><hr></td>
     </tr>
     <!--------------------------------------- PRIVELEGE --------------------------------------------------------->
     
     <tr><th colspan="3" class="tdform-sub">
        <strong><?php echo $this->language->_('User Privilege Template')?></strong>
     </th></tr>
       <tr>
         <td colspan="3"><div class="errmsg"><?php echo $this->errcheckbox?></div></td>
       </tr>
     <tr>
       <td class="tbl-evencontent" colspan="3"><i> <?php echo $this->language->_('Click to set privileges to preset values')?> </i></td>
   </tr>

     
     <tr>
       <td class="tbl-evencontent" colspan="3"> 
         
           <?php 
                 $i = 1;
                 
                 foreach($this->template as $templateId => $templateDesc)
                 {
                    $priviTemplate = '';
          $resultpriviTemplate = '';
                    $n = 0;
                    if(!empty($this->priviTemplate[$templateId])){
                    foreach($this->priviTemplate[$templateId] as $priviId => $priviDesc)
                    {
                        if( (count($this->priviTemplate[$templateId]) - 1) !=  $n)
                        {
                           $comma = ',';
                        }
                        else
                        {
                           $comma = '';
                        }
                       
                        $priviTemplate = $priviTemplate . '#' .$priviId . $comma;
            $resultpriviTemplate = $resultpriviTemplate . '#result' .$priviId . $comma;
                        $n++;
                    } 

                 
                    //utk reset privilege dan utk mencentang semua privilege yang dipilih
                    echo '<input name="templatePrivi" class="btngreen hov" type="button" value="'. $this->language->_($templateDesc) .
                         '" onclick="$(\'[Type=checkbox][value!=1]\').prop(\'checked\',\'\');  $(\''.$priviTemplate.'\').prop(\'checked\',\'checked\');$(\''.$resultpriviTemplate.'\').prop(\'checked\',\'checked\');$(\''.$resultpriviTemplate.'\').css(\'opacity\',\'0.9)\')"/> &nbsp;';
                    
                    //utk enter biar rapih
                    if($i % 9 == 0) echo '<br/><br/>';
                    }
                    
                    $i++;
                 } 
             ?>
           
           
        <!--  <input class='inputbtn' type="button" value="Admin Approver" onclick="$('#ACAP').prop('checked','checked')"/> &nbsp; -->
           
         
           
       </td>
   </tr>
    
     <tr>
       <td class="tbl-evencontent" colspan="3">
          <table>
             <?php 
                 $count = count($this->fprivilege);
                 foreach($this->fprivilege as $module_id => $row)
                 { 
                    echo '<tr><td><b>'.$this->language->_($this->getModuleDescArr[$module_id]).'</b></td></tr>';
                    
                    $n = 0;
                    foreach($row as $privi)
                    {
                      $priviCheckBox = "<input type='checkbox'  id='". $privi['FPRIVI_ID'] ."' class='privCheck' data-id='". $privi['FPRIVI_ID'] ."' name='". $privi['FPRIVI_ID'] ."' value='yes'/> " . $this->language->_($privi['FPRIVI_DESC']);
                      
                      if($n%4 == 0)
                      { 
                         if($n!=0) echo "</tr>";
                         
                         echo "<tr> <td>" . $this->language->_($priviCheckBox) . "</td>";
                      }
                      else
                      {
                         echo "<td>" . $this->language->_($priviCheckBox). "</td>";
                      }
                      
                      $n++;
                   }
                   
                   echo '<tr><td><br/></td></tr>';
              ?>
                 
              <?php 
                 } 
              ?>
              </tr>
          </table>
       </td>
     </tr>
     <!--------------------------------------- END PRIVELEGE --------------------------------------------------->
     
     
     
   </table>
 <!-- </div> -->
 <!-- -------------------------------------------end tab company limit-------------------------------------------- -->
 <div class="custtab">
   <table width="80%" cellpadding="3" cellspacing="0" border="0" class="tableform">
   <tr>
     <td>
       <b>Add User Daily Limit</b>
     </td>
   </tr>
   <tr>
     <td class="greyFont">Note : fill limit field with empty value or zero to remove user limit</td>
   </tr>
   </table>

   <br>

    <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped">
  <tr>
     
     <th  valign="top" class="tablehead">Currency</th>
     <th  valign="top" class="tablehead">Max Limit</th>
 </tr>
 <tr>
     <td>
       
     </td>
 </tr>

<?php 
 //Zend_Debug::dump($this->data); 
 if(empty($this->ccylist)){
     echo '<tr><td colspan="5" class="tbl-evencontent" align="center">'.$this->language->_('No Data').'</td></tr>';
 } 
 /*elseif($this->data[0] == '' && empty($this->data['1'])){
     echo '<tr><td colspan="11" class="tbl-evencontent" align="center">'.$this->language->_('No Data').'</td></tr>';
 }*/
 else{ 
     foreach($this->ccylist as $key => $row)
     {
         
         // $i = $i + 1;    
                 
         //$active =array('checked' => ($row['CATALOG_STATUS']==A)? true : false);
         //$button_checkbox = $this->formCheckbox("req_id[".$row['CATALOG_ID']."]", $row['CATALOG_ID'], $active);
         //$button_checkbox = $this->formCheckbox("req_id[{$row->accountNo}]",null);
//              if($row->productType == '10'){
//                  $acct_source = 3;     //1 = prk scm 
//              $acct_desc   = 'SAVING';
//              }
//              elseif($row->productType == '20'){
//                  $acct_source = 2;     //1 = prk scm 
//              $acct_desc   = 'GIRO';
//              }
//              else{
//                  $acct_source = 0;     //1 = prk scm 
//              $acct_desc   = 'DEFAULT';
//              }
         // $acct_source = 3;
         // $acct_desc   = $row->planName;
         
         // $button_checkbox = $this->formCheckbox("req_id[{$row->accountNo}]",null);
         $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
         // if ($this->data[$key] != ""){
             // if($row->accountNo == ''){
             // }
             // else{
                 echo '<tr>';
                 $daily = 'daily'.$row['CCY_ID'];
                 $amount = ($this->$daily)? $this->$daily : '0.00';
                         //<td class="'.$td_css.'"><input type="hidden" name="email'.$row->accountNo.'" value="'.$row->email.'">'.$row->email.'</td>
                 echo    '<td class="'.$td_css.'"><input type="checkbox" checked="checked" id="acct'.$row['CCY_ID'].'"  name="req_ccy[]" value="'.$row['CCY_ID'].'" style="display:none" ><input type="hidden" id="ccy'.$row['CCY_ID'].'" name="ccy'.$row['CCY_ID'].'" value="'.$row['CCY_ID'].'">'.$row['CCY_ID'].'</td>
                         <td class="'.$td_css.'">
                         <input type="text" class="form-control" onkeypress="return forceNumberOCBC(event)" onfocus="iNumFrmtUS(this.value,this.id)" onblur="NumFrmtUS(this.value,this.id)" name="daily'.$row['CCY_ID'].'" id="daily'.$row['CCY_ID'].'" value="'.$amount.'">
                         </td>
                       </tr>
                      ';    
                     
             // }
         // }
     }
 }
 //<td class="'.$td_css.'">'.$button_checkbox.'</td> 
 //<input type="checkbox" name="'.$row->accountNo.'" value="on">
 ?>
  

</table>
   

   
 </div>

  <div class="custtab">
   <table width="80%" cellpadding="3" cellspacing="0" border="0" class="tableform">
   <tr>
     <td>
       <b>Add User Limit for the following Accounts</b>
     </td>
   </tr>
   <tr>
     <td class="greyFont">Note : fill limit field with empty value or zero to remove user limit</td>
   </tr>
   </table>

   <br>

    <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped">
  <tr>
     <th width="3%" valign="top" class="tablehead" style="display:none"></th>
     <th width="3%" valign="top" class="tablehead" >No</th>
     <th  valign="top" class="tablehead">Account Number</th>
     <th  valign="top" class="tablehead">Account Name</th>
     <th  valign="top" class="tablehead">Currency</th>
     <th  valign="top" class="tablehead">Max Limit</th>
 </tr>

<?php 
 //Zend_Debug::dump($this->data); 
 if($this->data == ''){
     echo '<tr><td colspan="5" class="tbl-evencontent" align="center">'.$this->language->_('No Data').'</td></tr>';
 } 
 /*elseif($this->data[0] == '' && empty($this->data['1'])){
     echo '<tr><td colspan="11" class="tbl-evencontent" align="center">'.$this->language->_('No Data').'</td></tr>';
 }*/
 else{ 
 $no = 0;
     foreach($this->data as $key => $row)
     {
         
   
         $i = $i + 1;    
                 
         //$active =array('checked' => ($row['CATALOG_STATUS']==A)? true : false);
         //$button_checkbox = $this->formCheckbox("req_id[".$row['CATALOG_ID']."]", $row['CATALOG_ID'], $active);
         //$button_checkbox = $this->formCheckbox("req_id[{$row->accountNo}]",null);
//              if($row->productType == '10'){
//                  $acct_source = 3;     //1 = prk scm 
//              $acct_desc   = 'SAVING';
//              }
//              elseif($row->productType == '20'){
//                  $acct_source = 2;     //1 = prk scm 
//              $acct_desc   = 'GIRO';
//              }
//              else{
//                  $acct_source = 0;     //1 = prk scm 
//              $acct_desc   = 'DEFAULT';
//              }
         $acct_source = 3;
         $acct_desc   = $row->planName;
         
         $button_checkbox = $this->formCheckbox("req_id[{$row->accountNo}]",null);
         $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
         if ($this->data[$key] != ""){
             if($row->accountNo == ''){
             }
             else{
       ?>
           <script>
           $(document).ready(function()
{ 
           $('#acct<?php echo $row->accountNo; ?>').prop('checked','checked');
});
           </script>
         <?php
   $no = $no + 1;    
                 echo '<tr>
                         <td class="'.$td_css.'" style="display:none"><input type="checkbox" checked="checked" id="acct'.$row->accountNo.'" class="cek_data" name="req_id[]" value="'.$row->accountNo.'" nilai="'.$row->accountNo.'" ></td>    
                         <td class="'.$td_css.'">'.$no.'</td>
                         <td class="'.$td_css.'">'.$row->accountNo.'</td>
                         <td class="'.$td_css.'"><input type="hidden" name="accountName'.$row->accountNo.'" value="'.$row->accountName.'">'.$row->accountName.'</td>';
                         //<td class="'.$td_css.'"><input type="hidden" name="email'.$row->accountNo.'" value="'.$row->email.'">'.$row->email.'</td>
                         $limit = 'limit'.$row->accountNo;
                 $amount = ($this->$limit)? $this->$limit : '0.00';
                 echo    '<td class="'.$td_css.'"><input type="hidden" id="ccy'.$row->accountNo.'" name="ccy'.$row->accountNo.'" value="'.$row->ccy.'">'.Application_Helper_General::getCurrCode($row->ccy).'</td>
                         <td class="'.$td_css.'">
                         <input type="text" class="limitdata form-control" onkeypress="return forceNumberOCBC(event)" onfocus="iNumFrmtUS(this.value,this.id)" onblur="NumFrmtUS(this.value,this.id);validateamount(this.value,this.id);" name="limit'.$row->accountNo.'" id="limit'.$row->accountNo.'" value="'.$amount.'">
                         <input type="hidden" name="acct_desc'.$row->accountNo.'" value="'.$acct_desc.'">
                         <input type="hidden" name="productType'.$row->accountNo.'" value="'.$row->productType.'">
                         <input type="hidden" name="planCode'.$row->accountNo.'" value="'.$row->planCode.'">
                         <input type="hidden" name="productName'.$row->accountNo.'" value="'.$acct_desc.'">
                         </td>
                       </tr>
                      ';    
                     
             }
         }
     }
 }
 //<td class="'.$td_css.'">'.$button_checkbox.'</td> 
 //<input type="checkbox" name="'.$row->accountNo.'" value="on">
 ?>
  

</table>
   

   
 </div>

 <div class="custtab">
   <table align="center" width="80%" cellpadding="3" cellspacing="0" border="0" class="tableform">
     <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Add Customer User'); ?></strong></th></tr>
     <tr>
       <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->language->_('Company')); ?></td>
     <td class="tbl-evencontent"><label>:</label></td>
     <td class="tbl-evencontent"><?php echo $this->cust_name; ?></td>
     </tr>
     
     <tr>
     <td class="tbl-evencontent"><?php echo $this->formLabel('user_id',$this->language->_('User Id (used for login)')); ?>&nbsp;<span class="errmsg">*</span></td>
     <td class="tbl-evencontent"><label>:</label></td>
     <td class="tbl-evencontent">
       <label id="user_id_label"></label>
     </td>
     </tr>

     <tr>
       <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',$this->language->_('Email')); ?>&nbsp;<span class="errmsg">*</span></td>
     <td class="tbl-evencontent"><label>:</label></td>
     <td class="tbl-evencontent">
         <label id="user_email_label"></label>
     </td>
     </tr>
     
     <tr>
       <td class="tbl-evencontent"><?php echo $this->formLabel('user_fullname',$this->language->_('User Name')); ?>&nbsp;<span class="errmsg">*</span></td>
     <td class="tbl-evencontent"><label>:</label></td>
     <td class="tbl-evencontent">
        <label id="user_fullname_label"></label>
     </td>
     </tr>
     
     <tr>
       <td class="tbl-evencontent"><?php echo $this->formLabel('user_phone',$this->language->_('Phone No')); ?></td>
     <td class="tbl-evencontent"><label>:</label></td>
     <td class="tbl-evencontent">
        <label id="user_phone_label"></label>
     </td>
     </tr>
     
     
     <tr>
       <td class="tbl-evencontent"><?php echo $this->formLabel('user_ext','Ext'); ?></td>
     <td class="tbl-evencontent"><label>:</label></td>
     <td class="tbl-evencontent">
        <label id="user_ext_label"></label>
     </td>
     </tr>
      
     <tr>
       <td class="tbl-evencontent"><?php echo $this->formLabel('user_ext','User Debit Card Number'); ?></td>
     <td class="tbl-evencontent">:</td>
     <td class="tbl-evencontent">
        <?php //echo $this->formText('user_debitnumber',$this->user_debitnumber,array('class'=>'form-control','maxlength'=>155,'size'=>30)); ?>
        <div id="error_user_debitnumber" class="errmsg"></div>
        <label id="user_debitnumber"></label>
     </td>
     </tr>

     <!-- <?php if ($this->tokenType == $this->hardTokenTypeCode) { ?>
     <tr>
       <td class="tbl-evencontent"><?php echo $this->formLabel('token_id',$this->language->_('Token ID')); ?></td>
     <td class="tbl-evencontent"><label>:</label></td>
     <td class="tbl-evencontent">
        <label id="token_id_label"></label>
     </td>
     </tr>
     <?php } ?> -->

     <tr>
       <td class="tbl-evencontent"><?php echo $this->formLabel('user_isemail',$this->language->_('User is Email')); ?></td>
     <td class="tbl-evencontent"><label>:</label></td> 
     <td class="tbl-evencontent">
         <label id="user_isemail_label"></label>
     </td>
     </tr>
     
     <tr>
       <td colspan="3"><hr></td>
     </tr>
     <!--------------------------------------- PRIVELEGE --------------------------------------------------------->
     
     <tr><th colspan="3" class="tdform-sub">
        <strong><?php echo $this->language->_('User Privilege Template')?></strong>
     </th></tr>
     
     
    
     <tr>
       <td class="tbl-evencontent" colspan="3">
          <table>
             <?php 
                 $count = count($this->fprivilege);
                 foreach($this->fprivilege as $module_id => $row)
                 { 
                    echo '<tr><td><b>'.$this->language->_($this->getModuleDescArr[$module_id]).'</b></td></tr>';
                    
                    $n = 0;
                    foreach($row as $privi)
                    {
                      $priviCheckBox = "<input type='checkbox'  id='result". $privi['FPRIVI_ID'] ."' class='". $privi['FPRIVI_ID'] ." disabled-checkbox' value='yes'/> " . $this->language->_($privi['FPRIVI_DESC']);
                      
                      if($n%4 == 0)
                      { 
                         if($n!=0) echo "</tr>";
                         
                         echo "<tr> <td>" . $this->language->_($priviCheckBox) . "</td>";
                      }
                      else
                      {
                         echo "<td>" . $this->language->_($priviCheckBox). "</td>";
                      }
                      
                      $n++;
                   }
                   
                   echo '<tr><td><br/></td></tr>';
              ?>
                 
              <?php 
                 } 
              ?>
              </tr>
          </table>
       </td>
     </tr>
     <!--------------------------------------- END PRIVELEGE --------------------------------------------------->
     
     
     
   </table>

   <table width="80%" cellpadding="3" cellspacing="0" border="0" class="tableform">
       <tr>
         <td>
           <b>Add User Daily Limit</b>
         </td>
       </tr>
       <tr>
         <td class="greyFont">Note : fill limit field with empty value or zero to remove user limit</td>
       </tr>
       </table>

       <br>

        <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped">
      <tr class="headercolor">
         <th  valign="top"  class="tablehead">Currency</th>
         <th  valign="top"  class="tablehead">Max Limit</th>
     </tr>

    <?php 
     //Zend_Debug::dump($this->data); 
     if(empty($this->ccylist)){
         echo '<tr><td colspan="5" class="tbl-evencontent" align="center">'.$this->language->_('No Data').'</td></tr>';
     } 
     else{ 
         foreach($this->ccylist as $key => $row)
         {
             
             $i = $i + 1;    
             
             // $acct_source = 3;
             
             $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
             // if ($this->data[$key] != ""){
             //     if($row->accountNo == ''){
             //     }
             //     else{
                     echo '<tr class="'.$row['CCY_ID'].'_view">';
                             //<td class="'.$td_css.'"><input type="hidden" name="email'.$row->accountNo.'" value="'.$row->email.'">'.$row->email.'</td>
                     echo    '<td class="'.$td_css.'">'.$row['CCY_ID'].'</td>
                             <td class="'.$td_css.'">
                             <span id="'.$row['CCY_ID'].'_label" >-</span>
                             </td>
                           </tr>
                          ';    
                         
             //     }
             // }
         }
     }
     //<td class="'.$td_css.'">'.$button_checkbox.'</td> 
     //<input type="checkbox" name="'.$row->accountNo.'" value="on">
     ?>
      

   </table>

   <table width="80%" cellpadding="3" cellspacing="0" border="0" class="tableform">
       <tr>
         <td>
           <b>Add User Limit for the following Accounts</b>
         </td>
       </tr>
       <tr>
         <td class="greyFont">Note : fill limit field with empty value or zero to remove user limit</td>
       </tr>
       </table>

       <br>

        <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped">
      <tr class="headercolor">
         <th  valign="top"  class="tablehead">Account Number</th>
         <th  valign="top"  class="tablehead">Account Name</th>
         <th  valign="top"  class="tablehead">Currency</th>
         <th  valign="top"  class="tablehead">Max Limit</th>
     </tr>

    <?php 
     //Zend_Debug::dump($this->data); 
     if($this->data == ''){
         echo '<tr><td colspan="5" class="tbl-evencontent" align="center">'.$this->language->_('No Data').'</td></tr>';
     } 
     else{ 
         foreach($this->data as $key => $row)
         {
             
             $i = $i + 1;    
             
             $acct_source = 3;
             $acct_desc   = $row->planName;
             
             $button_checkbox = $this->formCheckbox("req_id[{$row->accountNo}]",null);
             $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
             if ($this->data[$key] != ""){
                 if($row->accountNo == ''){
                 }
                 else{
                     echo '<tr class="'.$row->accountNo.'_view" style="display:none">
                             <td class="'.$td_css.'">'.$row->accountNo.'</td>
                             <td class="'.$td_css.'"><input type="hidden" name="accountName'.$row->accountNo.'" value="'.$row->accountName.'">'.$row->accountName.'</td>';
                             //<td class="'.$td_css.'"><input type="hidden" name="email'.$row->accountNo.'" value="'.$row->email.'">'.$row->email.'</td>
                     echo    '<td class="'.$td_css.'"><input type="hidden" name="ccy'.$row->accountNo.'" value="'.$row->ccy.'">'.Application_Helper_General::getCurrCode($row->ccy).'</td>
                             <td class="'.$td_css.'">
                             <span id="'.$row->accountNo.'_label" >-</span>
                             <input type="hidden" name="acct_desc'.$row->accountNo.'" value="'.$acct_desc.'">
                             <input type="hidden" name="productType'.$row->accountNo.'" value="'.$row->productType.'">
                             <input type="hidden" name="planCode'.$row->accountNo.'" value="'.$row->planCode.'">
                             <input type="hidden" name="productName'.$row->accountNo.'" value="'.$acct_desc.'">
                             </td>
                           </tr>
                          ';    
                         
                 }
             }
         }
     }
     //<td class="'.$td_css.'">'.$button_checkbox.'</td> 
     //<input type="checkbox" name="'.$row->accountNo.'" value="on">
     ?>
      

   </table>

 </div>

 <!-- <div class="custtab">
   <table width="80%" cellpadding="3" cellspacing="0" border="0" class="tableform">
   <tr>
     <td>
       <b>Admin User</b>
     </td>
   </tr>
   <tr>
     <td class="greyFont">Admin User Configuration</td>
   </tr>
   </table>

   <br>

    <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped">
  <tr class="headercolor">
     <th width="3%" valign="top" style="background-color: #0a3918; color:white"></th>
     <th  valign="top"  style="background-color: #0a3918; color:white">Account Number</th>
     <th  valign="top"  style="background-color: #0a3918; color:white">Account Name</th>
     <th  valign="top"  style="background-color: #0a3918; color:white">Currency</th>
     <th  valign="top"  style="background-color: #0a3918; color:white">Type</th>
 </tr>

<?php 
 //Zend_Debug::dump($this->data); 
 if($this->data == ''){
     echo '<tr><td colspan="5" class="tbl-evencontent" align="center">'.$this->language->_('No Data').'</td></tr>';
 } 
 /*elseif($this->data[0] == '' && empty($this->data['1'])){
     echo '<tr><td colspan="11" class="tbl-evencontent" align="center">'.$this->language->_('No Data').'</td></tr>';
 }*/
 else{ 
     foreach($this->data as $key => $row)
     {
         
         $i = $i + 1;    
                 
         //$active =array('checked' => ($row['CATALOG_STATUS']==A)? true : false);
         //$button_checkbox = $this->formCheckbox("req_id[".$row['CATALOG_ID']."]", $row['CATALOG_ID'], $active);
         //$button_checkbox = $this->formCheckbox("req_id[{$row->accountNo}]",null);
//              if($row->productType == '10'){
//                  $acct_source = 3;     //1 = prk scm 
//              $acct_desc   = 'SAVING';
//              }
//              elseif($row->productType == '20'){
//                  $acct_source = 2;     //1 = prk scm 
//              $acct_desc   = 'GIRO';
//              }
//              else{
//                  $acct_source = 0;     //1 = prk scm 
//              $acct_desc   = 'DEFAULT';
//              }
         $acct_source = 3;
         $acct_desc   = $row->planName;
         
         $button_checkbox = $this->formCheckbox("req_id[{$row->accountNo}]",null);
         $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
         if ($this->data[$key] != ""){
             if($row->accountNo == ''){
             }
             else{
         
       
                 echo '<tr>
                         <td class="'.$td_css.'"></td>    
                         <td class="'.$td_css.'">'.$row->accountNo.'</td>
                         <td class="'.$td_css.'"><input type="hidden" name="accountName'.$row->accountNo.'" value="'.$row->accountName.'">'.$row->accountName.'</td>';
                         //<td class="'.$td_css.'"><input type="hidden" name="email'.$row->accountNo.'" value="'.$row->email.'">'.$row->email.'</td>
                 echo    '<td class="'.$td_css.'"><input type="hidden" id="ccy'.$row->accountNo.'" name="ccy'.$row->accountNo.'" value="'.Application_Helper_General::getCurrCode($row->ccy).'">'.Application_Helper_General::getCurrCode($row->ccy).'</td>
                         <td class="'.$td_css.'">
           <input type="hidden" class=>"form-control" onkeypress=>"return forceNumberOCBC(event)" onfocus=>"iNumFrmtUS(this.value,this.id)" onblur=>"NumFrmtUS(this.value,this.id);" name="limit'.$row->accountNo.'" >
                             <span id="'.$row->accountNo.'_label"> - </span>
                         <input type="hidden" name="acct_desc'.$row->accountNo.'" value="'.$acct_desc.'">
                         <input type="hidden" name="productType'.$row->accountNo.'" value="'.$row->productType.'">
                         <input type="hidden" name="planCode'.$row->accountNo.'" value="'.$row->planCode.'">
                         <input type="hidden" name="productName'.$row->accountNo.'" value="'.$acct_desc.'">
                         </td>
                       </tr>
                      ';    
                     
             }
         }
     }
 }
 //<td class="'.$td_css.'">'.$button_checkbox.'</td> 
 //<input type="checkbox" name="'.$row->accountNo.'" value="on">
 ?>
  

</table>
   

   
 </div> -->
 <!-- -------------------------------------------tab transaction-------------------------------------------- -->

   <!-- -------------------------------------------end tab transaction-------------------------------------------- -->

   <!-- -------------------------------------------tab company admin-------------------------------------------- -->
 
  <!-- -------------------------------------------end tab company admin-------------------------------------------- -->

 <br>

   <div style="overflow:auto;">
        <div style="" align="center">
           <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/customer/index\'','class'=>'btnwhite hov','id'=>'backBtn')); ?>
           <button type="button" class="btnwhite hov" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
           <button type="button" class="btngreen hov" id="nextBtn" onclick="nextPrev(1)">Next</button>
           <?php
           echo $this->formSubmit('submit',$this->language->_('Submit'),array('id'=>'submit','class'=>'btngreen hov'));
           ?>
         </div>
       <!-- <div style="float:right; margin-right: 10%;">
           
         </div> -->
     </div>
 </form>
</div>
</div>





<script type="text/javascript">

function validateamount(val,id){
var amount  = val;
var tagnew = id.replace("limit", "");
var tagccy = 'ccy'+tagnew;

var dailylimitccy = document.getElementById(tagccy).value;
//console.log(dailylimitccy);
if(dailylimitccy == 'USD'){
 var dailylimit = parseFloat(document.getElementById("dailyUSD").value.replace(/,/g, ''));
}else{
 var dailylimit =  parseFloat(document.getElementById("dailyIDR").value.replace(/,/g, ''));
}
var amount = parseFloat(val.replace(/,/g, ''));
console.log(dailylimit);
console.log(val);
if(dailylimit < amount){
 alert('Maker limit cannot higher than daily limit');
 $('#'+id).val('0');
}

}

var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the crurrent tab

function showTab(n) {
// This function will display the specified tab of the form...
var x = document.getElementsByClassName("custtab");
x[n].style.display = "block";
//... and fix the Previous/Next buttons:
if (n == 0) {
 document.getElementById("prevBtn").style.display = "none";
 document.getElementById("backBtn").style.display = "inline";
} else {
 document.getElementById("prevBtn").style.display = "inline";
 document.getElementById("backBtn").style.display = "none";
}
if (n == (x.length - 1)) {
 // document.getElementById("nextBtn").innerHTML = "Submit";
 $('#submit').show();
 $('#nextBtn').hide();
 
} else {
 $('#submit').hide();
 $('#nextBtn').show();
 // document.getElementById("nextBtn").innerHTML = "Next";
}
//... and run a function that will display the correct step indicator:
fixStepIndicator(n)
}

function validateEmail(email) {
 var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
 return re.test(email);
}

function checkDuplicateEmail(email){
var data = 'email='+email+'&cust_id='+'<?php echo $this->cust_id; ?>';
var result = $.ajax({
   type: "GET",
   async: false,
   data:data,
   url: "<?=$this->url(array('module'=>'user','controller'=>'new','action'=>'checkduplicateemail'),null,true)?>",
   success:  function(data){

     console.log('asdas '+data);
   },
   error: function(data) {
     alert('Time out when checking email availablity');
   }
});

return result.responseText.trim();
}

function validateUserId(userId){
 var rgularExp = {
     containsNumber : /\d+/,
     containsAlphabet : /[a-zA-Z]/,
 }

 var expMatch = {};
 expMatch.containsNumber = rgularExp.containsNumber.test(userId);
 expMatch.containsAlphabet = rgularExp.containsAlphabet.test(userId);

 return expMatch;
}

function nextPrev(n) {
// alert(n);
// This function will figure out which tab to display
var limitidr = '<?php echo $this->limitidr; ?>';
var limitusd = '<?php echo $this->limitusd; ?>';
var errno = 0; 
if (n == 1) {
 
 var xd = document.getElementById("user_id").value;
 
 //alert(xd);
   if(xd == ''){
     alert('User Id can not be empty');
     errno = 1;
   }
   else{
     //validate if user id at least contain 1 number and 1 char
     var validateRes = validateUserId(xd);
     if (validateRes.containsNumber == false || validateRes.containsAlphabet == false) {
       errno = 1;
       alert('User Id format is invalid');
     }
   }

   var xe = document.getElementById("user_email").value;
 
 //alert(xd);
   if(xe == ''){
     alert('User Email can not be empty');
     errno = 1;
   }else{
     if(!validateEmail(xe)){
       errno = 1;
       alert('User Email is invalid');
     }
     else if (checkDuplicateEmail(xe) == 'true') {
       errno = 1;
       alert('User Email for this company is already used. Please use another');
     }
   }


   var xu = document.getElementById("user_fullname_text").value;
 
 //alert(xd);
   if(xu == ''){
     alert('User Fullname can not be empty');
     errno = 1;
   }

   

 checkboxes = $('.privCheck:checkbox:checked').val();
 // checkboxes = document.getElementsByClassName('privCheck');
 if(checkboxes != 'yes'){
   alert('Please Select at least 1 Privilege');
     errno = 1;
 }
   // var xr = document.getElementById("cust_id").value;
   // if (xr.length <= 5 || xr.length > 12) {
   //   alert('Invalid Format Company Code');
   //   // return false;
   // }

}

if(errno == 0){
var x = document.getElementsByClassName("custtab");
// Exit the function if any field in the current tab is invalid:
if (n == 1 && !validateForm()) return false;
// Hide the current tab:
x[currentTab].style.display = "none";
// Increase or decrease the current tab by 1:
currentTab = currentTab + n;
// if you have reached the end of the form...
if (currentTab >= x.length) {
 // ... the form gets submitted:
 document.getElementById("regForm").submit();
 return false;
}
//console.log(currentTab);
if(currentTab == 2){

 var cboxes = document.getElementsByName('req_ccy[]');
 var len = cboxes.length;
 var errorlimitidr = false;
 var errorlimitusd = false;
 for (var i=0; i<len; i++) {
   var amount  = $("#daily"+cboxes[i].value).val();

   if (!cboxes[i].checked && (amount != '0.00' && amount != '') ) {
     //console.log(amount);
       $("."+cboxes[i].value+'_view').css("display","table-row");
       //var tag = "#limit"+isi;
       var amount  = $("#daily"+cboxes[i].value).val();

       var intamount = Number(amount.replace(/[^0-9\.]+/g, ""));
        if(cboxes[i].value == 'IDR'){
          var limitamount = limitidr;

          if(parseInt(limitamount) < parseInt(intamount)){
            errorlimitidr = true;
          }

        }else{
          var limitamount = limitusd;

          if(parseInt(limitamount) < parseInt(intamount)){
            errorlimitusd = true;
          }
        }
    
       // if(amount != ''){
         $("#"+cboxes[i].value+'_label').text(amount);  
       // }else{
         // currentTab = currentTab - n;
         // alert('Max limit can not be empty');
       // }
       
     }else{
        $("#"+cboxes[i].value+'_label').text('');
       $("."+cboxes[i].value+'_view').css("display","none");
     }
   //alert(i + (cboxes[i].checked?' checked ':' unchecked ') + cboxes[i].value);
 }
 
}else if(currentTab == 3){

 //var checkedValue = document.querySelector('.messageCheckbox:checked').value;
   var cboxes = document.getElementsByName('req_id[]');
 var len = cboxes.length;
 for (var i=0; i<len; i++) {
   var amount  = $("#limit"+cboxes[i].value).val();
 
 
   if (!cboxes[i].checked && (amount != '0.00' && amount != '') ) {
   //alert();
       $("."+cboxes[i].value+'_view').css("display","table-row");
       //var tag = "#limit"+isi;
       var amount  = $("#limit"+cboxes[i].value).val();
       // if(amount != ''){
    
    
         $("#"+cboxes[i].value+'_label').text(amount);  
       // }else{
         // currentTab = currentTab - n;
         // alert('Max limit can not be empty');
       // }
       
     }else{
        $("#"+cboxes[i].value+'_label').text('');
       $("."+cboxes[i].value+'_view').css("display","none");
     }
   //alert(i + (cboxes[i].checked?' checked ':' unchecked ') + cboxes[i].value);
 }
 
}

const formattermoney = new Intl.NumberFormat('en-US', {
 minimumFractionDigits: 2
});

if(errorlimitidr){
 currentTab = currentTab - n;
 alert('Daily limit (IDR) cannot higher than company limit (IDR '+ formattermoney.format(limitidr) +')'); 
}
else if(errorlimitusd){
 currentTab = currentTab - n;
 alert('Daily limit (USD) cannot higher than company limit (USD '+ formattermoney.format(limitusd) +')'); 
}

// Otherwise, display the correct tab:
showTab(currentTab);
}else{
 showTab(currentTab);
}
}

function validateForm() {
// This function deals with validation of the form fields
var x, y, i, valid = true;
x = document.getElementsByClassName("custtab");
y = x[currentTab].getElementsByClassName("input");
// A loop that checks every input field in the current tab:
for (i = 0; i < y.length; i++) {
 // If a field is empty...
 if (y[i].value == "") {
   // add an "invalid" class to the field:
   y[i].className += " invalid";
   // and set the current valid status to false
   valid = false;
 }
}
// If the valid status is true, mark the step as finished and valid:
if (valid) {
 // document.getElementsByClassName(" ")[currentTab].className += " inactive";
}
return valid; // return the valid status
}


function fixStepIndicator(n) {
// This function removes the "active" class of all steps...
var i, x = document.getElementsByClassName("custindicator");
for (i = 0; i < x.length; i++) {
 x[i].className = x[i].className.replace(" active", "");
 x[i].className = x[i].className.replace(" inactive", "");
}
//... and adds the "active" class on the current step:
x[n].className += " active";
}

function changeDateEstablish(){
 if(document.getElementById('cust_type').value=='E0')
   document.getElementById('dateEstablish').innerHTML='&nbsp;<span class="errmsg">*</span>';
 else
   document.getElementById('dateEstablish').innerHTML='';
}

function validateEmail(email) {
 var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
 return re.test(email);
}


<?php if($this->cust_type=='E0'){?>
changeDateEstablish();
<?php } ?>

$(document).ready(function()
{ 

$("#nextBtn").on('click',function() {
   // var user_id = $('#generate_userid').val() + $('#user_fullname_text').val() + $('#squenceNumberUser').val();  
   var user_id = $('#user_id').val();  
   $("#user_id_label").text(user_id);

   var user_email = $('#user_email').val();  
   $("#user_email_label").text(user_email);

   var user_fullname = $('#user_fullname_text').val();  
   $("#user_fullname_label").text(user_fullname);

   var user_phone = $('#user_phone').val();  
   $("#user_phone_label").text(user_phone);

   var user_ext = $('#user_ext').val();  
   $("#user_ext_label").text(user_ext);
   
   var user_debitnumber = $('#user_debitnumber').val();  
   $("#user_debitnumber").text(user_debitnumber);

   var token_id = $('#token_id').val();  
   $("#token_id_label").text(token_id);

   var email_checked = $("input[name='user_isemail']:checked").val(); 
   if (email_checked == '0') {
     var isi = "No";
   }else if(email_checked == '1'){
     var isi = "Yes";
   }
   $("#user_isemail_label").text(isi);
});


$(".cek_data").on("click",function(){
   var isi = $(this).attr('nilai');
   
   if ($(this).is(":checked")) {
       $("."+isi+'_view').css("display","table-row");
   var tag = "#limit"+isi;
       var amount  = $("#limit"+isi).val();
       $("#"+isi+'_label').text(amount);
   }else{
    $("#"+isi+'_label').text('');
       $("."+isi+'_view').css("display","none");
   }
});

// $("#user_id").on('keyup',function() {
//   var user_id = $(this).val();  
//   $("#user_id_label").text(user_id);
// });

// $("#user_email").on('keyup',function() {
//   var user_email = $(this).val();  
//   $("#user_email_label").text(user_email);
// });

// $("#user_fullname_text").on('keyup',function() {
//   var user_fullname = $(this).val();  
//   $("#user_fullname_label").text(user_fullname);
// });

// $("#user_phone").on('keyup',function() {
//   var user_phone = $(this).val();  
//   $("#user_phone_label").text(user_phone);
// });

// $("#user_ext").on('keyup',function() {
//   var user_ext = $(this).val();  
//   $("#user_ext_label").text(user_ext);
// });

// $("#token_id").on('keyup',function() {
//   var token_id = $(this).val();  
//   $("#token_id_label").text(token_id);
// });

// $("input[type=radio][name=user_isemail]").on('change',function() {
//   var email_checked = $("input[name='user_isemail']:checked").val(); 
//   if (email_checked == '0') {
//     var isi = "No";
//   }else if(email_checked == '1'){
//     var isi = "Yes";
//   }
//   $("#user_isemail_label").text(isi);
// });  
// $('#user_email').val('<?php echo $this->user_email; ?>');
// $('#user_fullname').val('<?php echo $this->user_fullname; ?>');
// $('#user_phone').val('<?php echo $this->user_phone; ?>');
// $('#user_ext').val('<?php echo $this->user_ext; ?>');
// $('#token_id').val('<?php echo $this->token_id; ?>');
// admin1Checkbox();
// admin2Checkbox();
//admin3Checkbox();
// adminusercheck();
});
</script>