<b>E-Commerce Payment &gt; Repair E-Commerce Payment</b><br /><br />
<div class="tabheader" id="tabheader">Repair E-Commerce Payment</div>
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
<table border="0" cellspacing="0" cellpadding="0" class="tableform"width="40%">
	<tr>
		<th colspan="2">
			E-Commerce Payment Detail
		</th>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; Service Type</td>
		<td class="tbl-oddcontent"><?php echo $this->providerData['PROVIDER_TYPE'];?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="100px">&nbsp; E-Commerce Code</td>
		<td class="tbl-oddcontent">
			<?php echo $this->formText('providerCode',$this->providerData['PROVIDER_CODE']);?>
			<?php
				if(!empty($this->providerCode_errMsg))
					echo "<div class='errmsg'>$this->providerCode_errMsg</div>";
			?>
		</td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; E-Commerce Name</td>
		<td class="tbl-oddcontent">
			<?php echo $this->formText('providerName',$this->providerData['PROVIDER_NAME']);?>
			<?php
				if(!empty($this->providerName_errMsg))
					echo "<div class='errmsg'>$this->providerName_errMsg</div>";
			?>
		</td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; Domain</td>
		<td class="tbl-oddcontent">
			<?php echo $this->formText('domainName',$this->providerData['PROVIDER_DOMAIN']);?>
			<?php
				if(!empty($this->domainName_errMsg))
					echo "<div class='errmsg'>$this->domainName_errMsg</div>";
			?>
		</td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; Key Id</td>
		<td class="tbl-oddcontent">
			<?php echo $this->formHidden('keyId',$this->providerData['PROVIDER_KEY_ID']);?>
			<b>
			<?php echo $this->providerData['PROVIDER_KEY_ID'];?>
			</b>
			<?php
				if(!empty($this->keyId_errMsg))
					echo "<div class='errmsg'>$this->keyId_errMsg</div>";
			?>
		</td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; Service Catagories</td>
		<td class="tbl-oddcontent"><?php echo $this->providerData['SERVICE_TYPE'];?></td>
	</tr>
</table>
<br />
<br />
<table width="60%">
<tr align="left"><td  align="left">
<!--<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'setbillercharges','controller'=>'index','action'=>'index'),null,true);?>'" class="inputbtn" value="Back">-->
&nbsp;
<input class = "inputbtn" type="button" onclick="location.href='<?=$this->url(array('module'=>'biller','controller'=>'suggestiondetail','action'=>'index','changes_id'=>$this->changes_id),null,true)?>'" value = "Back">&nbsp;&nbsp;

<?php
	if($this->changestatus)
	{ ?>
		<?php echo $this->formSubmit('submit','Submit',array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>&nbsp;
		<?php echo $this->formReset('reset','Reset',array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>
		<br /><br />
		<?php 
		echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
	}
	else
	{?>
		<?php echo $this->formSubmit('submit','Submit',array('class'=>'inputbtn')); ?>&nbsp;
		<?php echo $this->formReset('reset','Reset',array('class'=>'inputbtn')); ?>
	<?php }?> 

</td></tr>
</table>
</form>