<?php 
$counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
?>
<b><?php echo $this->language->_('Exchange Rate'); ?> &gt; <?php echo $this->language->_('Rate'); ?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Kurs e-Rate'); ?></div>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
<!--<table cellpadding="3" cellspacing="0" border="0">
<tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th></tr>
   <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('custid',$this->language->_('Token ID')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent" colspan="4">
		<?php  echo $this->formText('custid',$this->custname,array('size'=>'30')); ?>
	  </td>
	  </tr>
 	<tr>
      <td colspan="3" align="left">
	  <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'inputbtn')); ?>
	  <?php echo $this->formSubmit('filter_clear',$this->language->_('Clear Filter'),array('class'=>'inputbtn')); ?>
      </td>
    </tr>
</table>	
--></form>  
<div align="right">
	<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
		<!--<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
		<?php echo $this->formSubmit('pdf','PDF is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
		<?php }else{ ?>
		<?php echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn')); ?>&nbsp;
		<?php } ?>
		<?php if($this->paginator->getTotalItemCount() > $this->applicationSetting['max_row_download_csv']) { ?>
		<?php echo $this->formSubmit('csv','CSV is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
		<?php }else{ ?>
		<?php echo $this->formSubmit('csv','CSV',array('class'=>'inputbtn')); ?>&nbsp;
		<?php } ?>
		<input class="inputbtn" value="<?php echo $this->language->_('PRINT');?>" onclick="window.print();" type="button">
	--></form>
</div>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
  <table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
  	<tr>
  		<th colspan='7'><?php echo $this->dateNow;?></th>
  	</tr>
    <tr>
      <th width="3%" valign="top">No</th>
      <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                          'sortBy' => $this->sortBy,
                                                          'sortDir' => $this->sortDir,
                                                          'query_string_params' => $this->query_string_params
      													  )
    						   )?>		
  	  <th valign="top"><?php echo $this->language->_('Action')?></th>
    </tr>
    <?php
      if(count($this->paginator))
      {
        $i = 0;
        foreach($this->paginator as $row)
        {
		  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		  echo '<tr>
              	  <td class="'.$td_css.'">'.$counter.'</td>
				  <td class="'.$td_css.'">'.$row.'</td>
				  <td class="'.$td_css.'">13170.00</td>
				  <td class="'.$td_css.'">13150.00</td>';
				  ?>
				  <td class="<?=$td_css?>">
				   	<input type="button" name="suspend" class="inputbtn" value="<?php echo $this->language->_('Detail')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
				  	<!--<a href="#" onClick="javascript:openwindow('<?=$this->url(array('module'=>$this->modulename,'controller'=>'customeruserlistdetail','action'=>'index','userid'=>$row['USER_ID'],'custid'=>$row['CUST_ID']),null,true);?>',800,800);"><?php echo $this->language->_('Detail')?></a>-->
				  </td>
				<?php echo '</tr>';
				
		$i++;
        $counter++;
  	  }
    }else{
	  echo '<tr><td colspan="11" class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
	}
  ?>
</table>
<br />
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>