<div class="row hiddenprint">
    <div class="col-md-12">
      <div class="page-bar">
          <ul class="page-breadcrumb">
              <li>
                  <span>Virual Payment Company BIN List</span>
                  <i class="fa fa-angle-right pl-1 pr-1"></i>
              </li>

              <li>
                  <span class="inhouse"><?=$this->language->_('Detail')?></span>
              </li>

          </ul>
      </div>
    </div>
</div>
<br />

<!-- <div class="tabheader" id="tabheader"><?php echo $this->language->_('Company BIN List'); ?></div> -->
<h5><?php echo $this->language->_('Company BIN List'); ?></h5>
<br>
<?php 
if($this->cust_id)
{
  if($this->cust_bin_status == 1)       $status = $this->status_type['desc']['approved']; 
  else if($this->cust_bin_status == 2)  $status = $this->status_type['desc']['suspended']; 
  else if($this->cust_bin_status == 3)  $status = $this->status_type['desc']['delete']; 

?>
<div class="portlet-body flip-scroll" >
<table cellpadding="3" cellspacing="0" border="0" class="table table-bordered table-condensed flip-content">
  <tr><th colspan="6" class="tablehead tdform-sub"><strong><?php echo $this->language->_('BIN Detail'); ?></strong></th></tr>
  
  <tr>
    <td width="200" class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('BIN')); ?></td>
	<td width="3" class="tbl-evencontent">:</td>
	<td class="tbl-evencontent" colspan="" width="300"><?php echo $this->formLabel('cust_id',$this->cust_bin); ?></td>
  <td width="200" class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('BIN Name')); ?></td>
  <td width="3" class="tbl-evencontent">:</td>
  <td class="tbl-evencontent" colspan="" width="300"><?php echo $this->formLabel('cust_id',$this->bin_name); ?></td>
  </tr>
  <tr>
    <td width="200" class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('BIN Status')); ?></td>
  <td width="3" class="tbl-evencontent">:</td>
  <td class="tbl-evencontent" colspan="" width="300"><?php echo $this->formLabel('cust_id',$this->cust_bin_status); ?></td>
  <td width="200" class="tbl-evencontent"><?php echo $this->formLabel('cust_id',$this->language->_('Approved Date')); ?></td>
  <td width="3" class="tbl-evencontent">:</td>
  <td class="tbl-evencontent" colspan="" width="300"><?php echo $this->formLabel('cust_created',Application_Helper_General::convertDate($this->app_date,$this->displayDateTimeFormat,$this->defaultDateFormat)); ?></td>
  </tr>
</table>
</div>
<br />


<div class="portlet-body flip-scroll" >
<table cellpadding="3" cellspacing="0" border="0" class="table table-bordered table-condensed flip-content">
  <tr><th colspan="6" class="tablehead tdform-sub"><strong><?php echo $this->language->_('Account Detail'); ?></strong></th></tr>
  <tr>
   <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->language->_('Bank')); ?></td>
    <td class="tbl-evencontent">:</td>
    <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_name',$this->bank); ?></td>
  </tr>
  
  <tr>
   <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->language->_('Branch')); ?></td>
    <td class="tbl-evencontent">:</td>
    <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_bin',$this->branch); ?></td>
  </tr>
  
  <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_bin_status',$this->language->_('Account Number')); ?></td>
    <td class="tbl-evencontent">:</td>
    <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_bin_status',$this->language->_($this->acc_no)); ?></td>
  </tr>
  
  
   <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_created',$this->language->_('Account Name')); ?></td>
    <td class="tbl-evencontent">:</td>
  <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_bin_status',$this->language->_($this->acc_name)); ?></td>
  </tr>
  
   <tr>
    <td class="tbl-evencontent"><?php echo $this->formLabel('cust_createdby',$this->language->_('Account Alias Name')); ?></td>
    <td class="tbl-evencontent">:</td>
  <td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_createdby',$this->alias_name); ?></td>
  </tr>
</table>
</div>
<div><?php
 
  if($this->cust_bin_status != 3)
  { 
       if($this->cust_temp)
       {
	   //    if($this->hasPrivilege('BNUD'))
		  // {
	       	
        ?>
        <form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">
          
        <?php
           $backURL = $this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true);
        echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\''.$backURL.'\'','class'=>'btnwhite hov'));

        echo '&nbsp;&nbsp;';
        
            $btn_edit = $this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','cust_id'=>$this->cust_id,'cust_bin'=>$this->cust_bin),null,true);
          echo $this->formButton('edit',$this->language->_('Edit'),array('onclick'=>'location.href=\''.$btn_edit.'\'','class'=>'btngreen hov'));


      // }
      // else{
          // echo'<input type="button" value="'.$this->language->_('Edit').'" disabled class="inputbtn">';
      // }
        echo '&nbsp;&nbsp;';

        ?>  

          <button onclick="openwindow('<?php echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btnwhite hov"><i class="fa fa-print"></i>&nbsp;<?php echo $this->language->_("Print")?></button>&nbsp;
          <?php // echo $this->formSubmit('pdf','Print',array('class'=>'btnwhite hov')); ?>&nbsp;

          
        </form>


        <?php
       
	  }
	  else
	  {
	      echo $this->language->_('No changes allowed for this record while awaiting approval for previous change');
	  }
  }
  
  
  
  /*//if($this->hasPrivilege('cust_user_inp'))
 // {
    echo '&nbsp;&nbsp;';
    if($this->cust_status == 1 && $this->cust_temp)
    {
      $btn_edit = $this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','cust_id'=>$this->cust_id),null,true);
      echo $this->formButton('edit','Edit',array('onclick'=>'location.href=\''.$btn_edit.'\'','class'=>'inputbtn'));
    }
    else
    {
      echo $this->formButton('edit','Edit',array('disabled'=>true,'class'=>'disabledbtn'));
    }
 // }
    
  
  //if($this->hasPrivilege('cust_user_inp'))
  //{
    echo '&nbsp;&nbsp;';
    if($this->cust_status == 1)
    {
      if($this->cust_temp)
      {
        $btn_active = $this->url(array('module'=>$this->modulename,'controller'=>'deactivate','action'=>'index','cust_id'=>$this->cust_id),null,true);
        echo $this->formButton('deactivate','Suspended',array('onclick'=>'confirmation(\'Are you sure want to deactivate this Customer?\',\''.$btn_active.'\')','class'=>'inputbtn'));
      }
      else
      {
        echo $this->formButton('deactivate','Suspended',array('disabled'=>true,'class'=>'disabledbtn'));
      }
    }
    else if($this->cust_status == 2)
    {
      if($this->cust_temp)
      {
        $btn_active = $this->url(array('module'=>$this->modulename,'controller'=>'activate','action'=>'index','cust_id'=>$this->cust_id),null,true);
        echo $this->formButton('activate','Unsuspend',array('onclick'=>'confirmation(\'Are you sure want to activate this Customer?\',\''.$btn_active.'\')','class'=>'inputbtn'));
      }
      else
      {
        echo $this->formButton('activate','Unsuspend',array('disabled'=>true,'class'=>'disabledbtn'));
      }
    }
    
    echo '&nbsp;&nbsp;';
    
    if($this->cust_temp)
    {
        $btn_delete = $this->url(array('module'=>$this->modulename,'controller'=>'delete','action'=>'index','cust_id'=>$this->cust_id),null,true);
        echo $this->formButton('delete','Delete',array('onclick'=>'confirmation(\'Are you sure want to delete this Customer?\',\''.$btn_delete.'\')','class'=>'inputbtn'));
    }
    else
    {
        echo $this->formButton('delete','Delete',array('disabled'=>true,'class'=>'disabledbtn'));
    }*/
    
  //}
?></div>
<?php }else{ ?>
<div id="content">- no data -</div>
<?php } ?>

<!------------------------------------------------------------END Beneficiary User------------------------------------------------>
