<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Transaction'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Bulk Transfer'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
                  <li>
                      <span class="valas" ><?php echo $this->language->_('Import'); ?></span>
                  </li>
            	</ul>
        	</div>
      	</div>
</div>
<style type="text/css">
  
    .inputtext{
  
    border: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: none;
    width: auto;
  
  }


</style>

<!-- <script type="text/javascript">
  function showAccountBeneficiary(pagesource)
  {
    var win = null;
    var w = 800, h = 400;

    if (win && !win.close())
    {
      win.close();
    }

    LeftPosition=(screen.width)?(screen.width-w)/2:100;
    TopPosition=(screen.height)?(screen.height-h)/2:100;

    settings='width=800,height=400,top='+TopPosition+',left='+LeftPosition+',scrollbars=1,location=no,directories=no,status=no,menubar=no,toolbar=no,resizable=no';
    win=window.open("../popup/"+pagesource,'sgo_popup_window',settings);
    win.focus();
  }
</script>
<script type="text/javascript">

  function bulkchange(val){
    // alert($("#lang").val());
    if(val == '0' || val == '2'){
      $("#benef").hide(); 
      $("#benef1").hide(); 
      $("#benef2").hide(); 
      $("#source").show(); 
    }else if(val == '1'){
       if($("#lang").val() == 'id'){
          $file = '/template/Import_lang.csv';
      }else{
          $file = '/template/Import_lang.csv';
      }
      document.getElementById('temp').href = $file;                 

      $("#source").hide(); 
      $("#benef").show();
      $("#benef1").show(); 
      $("#benef2").show(); 
    }else{
      $("#source").hide(); 
      $("#benef").hide(); 
      $("#benef1").hide(); 
      $("#benef2").hide(); 
    }
    
    if(val == '0'){
      if($("#lang").val() == 'id'){
          $file = '/template/Multi_Credit_Template_id.csv';
      }else{
          $file = '/template/Multi_Credit_Template_en.csv';
      }
      document.getElementById('temp').href = $file;                 

    }
    if(val == '3'){
      if($("#lang").val() == 'id'){
          $file = '/template/Single_Payment_Template_Mix_id.csv';
      }else{
          $file = '/template/Single_Payment_Template_Mix_en.csv';
      }
      document.getElementById('temp').href = $file;                 

    }
    // alert(val);
    if(val == '2'){
      $("#adapter").show(); 
      if($("#lang").val() == 'id'){
          $file = '/template/Payroll_Template_id.csv';
      }else{
          $file = '/template/Payroll_Template_en.csv';
      }
      document.getElementById('temp').href = $file;                 

    }else{
      $("#adapter").hide(); 
    }
    if(val ==''){
      $("#template").hide(); 
    }else{
      $("#template").show(); 
    }



 }


  $(document).ready(function(){
    var e = document.getElementById("BULK_TYPE");
    var value = e.options[e.selectedIndex].value;
    // alert(value);
  bulkchange(value);
//   $(function() {
//     $("#myModal").modal();
// });
$('#chooseFile').bind('change', function () {
  var filename = $("#chooseFile").val();
  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("No file chosen..."); 
  }
  else {
    $(".file-upload").addClass('active');
    $("#noFile").text(filename.replace("C:\\fakepath\\", "")); 
  }
});

  
   $('#myModal').on('shown.bs.modal', function(){
      $('.blur').css({"filter":"blur(10px)" });
    }).on('hidden.bs.modal', function(){
      $('.blur').css({"filter":"" });
    })


});
</script> -->

<script type="text/javascript">
  $(document).ready(function(){

      $('#chooseFile').bind('change', function () {
        var filename = $("#chooseFile").val();
        if (/^\s*$/.test(filename)) {
          $(".file-upload").removeClass('active');
          $("#noFile").text("No file chosen...");
        }
        else {
          $(".file-upload").addClass('active');
          $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
        }
      });

  });
  
</script>

<style type="text/css">
  


.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

</style>


<?php if($this->error){ ?>
					<div class="errmsg"><?=html_entity_decode($this->report_msg)?></div><br />
					<?php } ?>
<div class="portlet-body form content-box">
<form name="payment" method="post" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" enctype="multipart/form-data">
	<input name="process" value="" type="hidden">
	<input name="num" value="" type="hidden">
	<input name="page" value="" type="hidden">
	<input name="titleForm" value="Import File" type="hidden">
	
        
          <table class="form-horizontal form-bordered form-row-stripped" border="0" cellpadding="4" cellspacing="4" width="100%" align="center">
						<tbody>
							<tr>
								<td style="width: 100px"></td>
								<td colspan="" nowrap="nowrap">
								
										
										<div class="portlet-body form">

                    	<div class="portlet-body form">
                                                <div class="form-group row ">
                                                            <label class="control-label col-md-3"></label>
                                                            <div class="col-md-9">
                                                            <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
                                                            </div>
                                                </div>
                                                 

                                                
                                                         
                                                       <div class="form-group row " id="source">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('UI'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                            <div class="col-md-9">
                                                              <?php
                                                              // print_r($this->arrLang);die;
                                                              ?>
                                                           <?=$this->formSelect('ui',$this->lang,array('class'=>'form-control'),$this->arrUi);?>
                                                            </div>
                                                        </div>

                                                      
                                                        
                                                            


                                                        <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Select File'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                                            <div class="col-md-9">
                                                          <div class="file-upload">
                                                      <div class="file-select">
                                                        <div class="file-select-button" id="fileName">Choose File</div>
                                                        <div class="file-select-name" id="noFile">No file chosen...</div> 
                                                        <input type="file" name="CSV_FILE" id="chooseFile">
                                                      </div>
                                                    </div>
                                                    <?php
                                                      $file = '/template/Import_lang.csv';
                                                     ?>
                                                    <a href="<?=$file?>">Download Template</a>&nbsp;<i class="fa fa-info-circle" style="color: #b9b9b9;font-size: 13px;"></i>
                                                  </div>
                                                  </div>
                    </div>
                   </div>
                   </td></tr>
							</tbody>
					</table>
        
        <br>
        <div class="formbutton">
          <input class="btnwhite hov" value="<?php echo $this->language->_('Cancel')?>" onclick="location.href='/language/index'" type="button">
         
          <input type="submit" class="btngreen hov" name="submit" value="<?php echo $this->language->_('Submit')?>"/>
        </div>



</form>
</div>
