<style>
input.currency{ width: 200px; font-size: 10px; } 
ul { padding-left:10px; } 
h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed } 
body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; } 
b { font-weight:bold; font-size:11px } 
td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; } 
a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; } 
.tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
.tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
.headercolor {background-color: #003f6e ;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; }
</style>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-sm" id="divMakerLimit2">

<tr class="tdform-sub pl-2"> 
    <th class="headercolor">Date</th>
    <th class="headercolor">CCY</th>
    <th class="headercolor">Notes</th>
    <th class="headercolor">Suggested</th>
    <th class="headercolor">Approved</th>
</tr>
<?php 
    $i = 1;
    if(!empty($this->content)){
    foreach($this->content as $key => $val){

        $td_css = ($i%2==1)?'tbl-evencontent':'tbl-oddcontent';
        
?>
    <tr class="plrow"> 
    <td class="<?= $td_css?>"><?php echo $val['HOLIDAY_DATE']; ?></td>
    <td class="<?= $td_css?>"><?php echo $val['HOLIDAY_CCY']; ?></td>
    <td class="<?= $td_css?>"><?php echo $val['HOLIDAY_DESCRIPTION']; ?></td>
    <td class="<?= $td_css?>"><?php echo $val['SUGGESTEDBY'].' ('.$val['SUGGESTED'].')' ?></td>
    <td class="<?= $td_css?>"><?php echo $val['APPROVEDBY'].' ('.$val['APPROVED'].')' ?></td>
    </tr>
<?php
    }
        
} ?>
            
</table>
