<?php 
require_once 'General/SystemBalance.php';
?>

<?php 
   $allmainassets = 0;
   if (!empty($this->allData)) {
     foreach ( $this->allData as $key => $row ) {
      $allmainassets = $allmainassets + $row ['account_balance'];
    } 
   }

  $totalallassets = number_format($allmainassets,0,'.','.');
?>

<br>

<h3 align="center">
  Total All Assets: 
  <span>IDR </span>
  <span></span>
  <span>
  <strong>
    <?php
      echo $totalallassets;
     ?>
   </strong>
   </span>
</h3>

<br>

<?php if (!empty($this->dataBca)) { ?>

  <?php 
     $mainassets = 0;
    foreach ( $this->dataBca as $key => $row ) {
      $mainassets = $mainassets + $row ['account_balance'];
    } 
  ?>

  <div class="col-md-3" style="float:right;">
    <h5 style="margin-left: 10px; padding-top: 5px;">
      <span>IDR </span>
      <span></span>
      <span>
      <strong>
        <?php
          $totalassets = $mainassets + $externalassets;
          $totalassets = number_format($totalassets,0,'.','.');
          echo $totalassets;
         ?>
       </strong>
       </span>
    </h5>
  </div>
  <div class="col-md-6" style="float:right;">
    <img src="file:///app/permatacms/frontend/public/assets/permatalayout/assets/newlayout/img/bca.png" style="width: 80px; margin-top: 20px;">
  </div>
    


  <table class="pdftable" width="100%">
        <thead>
          <tr>
            <th >Bank Name</th>
            <th >Account Number</th>
            <th >Balance</th>
            <th width="25px"></th>
            <th style="text-align: center;">Status</th>
          </tr>
        </thead>

      <tbody>
          <?php

      if (true) //jika tidak ada grup
      {
        $arr_value_tot_group =  array();
        $arr_display_tot_group =  array();

        if (count ( $this->dataBca ) > 0)
        {
          foreach ( $this->dataBca as $key => $row ) {
            $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

            if($row['account_status'] == '1'){
              $indicator = 'Online';
            }else if($row['account_status'] == '5'){
              $indicator = 'Offline';
            }else{
              $indicator = 'Offline';
            }

            $amount = str_replace(',', '.', $row['account_balance']);
            $currency = (empty($row ['account_currency']) ? 'IDR' : $row ['account_currency']);

            echo '  <tr>
                  <td class="' . $td_css . '">' . $row ['bank_name']. '</td>
                  <td class="' . $td_css . '">' . $row ['account_number']. '</td>
                  <td class="' . $td_css . '">' . $currency. '</td>
                  <td style="text-align:right" width="25px">'.Application_Helper_General::displayMoney($amount). '</span></td>
                   <td align="center" class="' . $td_css . '" >'.$indicator.'</td>';
                   
             echo '</tr>';
                          
          }
        } 
        else
        {
          echo "<tr class='nodata'><td colspan=10 class='tbl-evencontent' align='center'> ---".$this->language->_(' No Data ')."--- </td></tr>";
        }

        echo "</tbody></table>
            ";
      }   
  ?>

<?php } ?>

<br>
<br>

<?php if (!empty($this->dataBni)) { ?>

<?php 
    $mainassets = 0;
    if (!empty($this->dataBni)) {
      foreach ( $this->dataBni as $key => $row ) {
        $mainassets = $mainassets + $row ['account_balance'];
      } 
    }
?>

<div class="col-md-3" style="float:right;">
  <h5 style="margin-left: 10px;">
    <span>IDR </span>
    <span></span>
    <span>
    <strong>
      <?php
        $totalassets = $mainassets + $externalassets;
        $totalassets = number_format($totalassets,0,'.','.');
        echo $totalassets;
       ?>
     </strong>
     </span>
  </h5>
</div>
<div class="col-md-6" style="float:right;">
  <img src="file:///app/permatacms/frontend/public/assets/permatalayout/assets/newlayout/img/bni.png" style="width: 80px; margin-top: 15px;">
</div>
  


<table class="pdftable" width="100%">
      <thead>
        <tr>
          <th >Bank Name</th>
          <th >Account Number</th>
          <th >Balance</th>
          <th width="25px"></th>
          <th style="text-align: center;">Status</th>
        </tr>
      </thead>

    <tbody>
        <?php

    if (true) //jika tidak ada grup
    {
      $arr_value_tot_group =  array();
      $arr_display_tot_group =  array();

      if (count ( $this->dataBni ) > 0)
      {
        foreach ( $this->dataBni as $key => $row ) {
          $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

          if($row['account_status'] == '1'){
              $indicator = 'Online';
            }else if($row['account_status'] == '5'){
              $indicator = 'Offline';
            }else{
              $indicator = 'Offline';
            }

          $amount = str_replace(',', '.', $row['account_balance']);
          $currency = (empty($row ['account_currency']) ? 'IDR' : $row ['account_currency']);

          echo '  <tr>
                <td class="' . $td_css . '">' . $row ['bank_name']. '</td>
                <td class="' . $td_css . '">' . $row ['account_number']. '</td>
                <td class="' . $td_css . '">' . $currency. '</td>
                <td style="text-align:right" width="25px">'.Application_Helper_General::displayMoney($amount). '</span></td>
                 <td align="center" class="' . $td_css . '" >'.$indicator.'</td>';
                 
           echo '</tr>';
                        
        }
      }
      else
      {
        echo "<tr class='nodata'><td colspan=10 class='tbl-evencontent' align='center'> ---".$this->language->_(' No Data ')."--- </td></tr>";
      }

      echo "</tbody></table>
          ";
    }   
?>

<?php } ?>

<br>
<br>

<?php if (!empty($this->dataMandiri)) { ?>

  <?php 
     $mainassets = 0;
     if (!empty($this->dataMandiri)) {
      foreach ( $this->dataMandiri as $key => $row ) {
        $mainassets = $mainassets + $row ['account_balance'];
      } 
     }
  ?>

  <div class="col-md-3" style="float:right;">
    <h5 style="margin-left: 10px;">
      <span>IDR </span>
      <span></span>
      <span>
      <strong>
        <?php
          $totalassets = $mainassets + $externalassets;
          $totalassets = number_format($totalassets,0,'.','.');
          echo $totalassets;
         ?>
       </strong>
       </span>
    </h5>
  </div>
  <div class="col-md-6" style="float:right;">
    <img src="file:///app/permatacms/frontend/public/assets/permatalayout/assets/newlayout/img/mandiri.png" style="width: 80px; margin-top: 10px;">
  </div>
    


  <table class="pdftable" width="100%">
        <thead>
          <tr>
            <th >Bank Name</th>
            <th >Account Number</th>
            <th >Balance</th>
            <th width="25px"></th>
            <th style="text-align: center;">Status</th>
          </tr>
        </thead>

      <tbody>
          <?php

      if (true) //jika tidak ada grup
      {
        $arr_value_tot_group =  array();
        $arr_display_tot_group =  array();

        if (count ( $this->dataMandiri ) > 0)
        {
          foreach ( $this->dataMandiri as $key => $row ) {
            $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

            if($row['account_status'] == '1'){
              $indicator = 'Online';
            }else if($row['account_status'] == '5'){
              $indicator = 'Offline';
            }else{
              $indicator = 'Offline';
            }

            $amount = str_replace(',', '.', $row['account_balance']);
            $currency = (empty($row ['account_currency']) ? 'IDR' : $row ['account_currency']);

            echo '  <tr>
                  <td class="' . $td_css . '">' . $row ['bank_name']. '</td>
                  <td class="' . $td_css . '">' . $row ['account_number']. '</td>
                  <td class="' . $td_css . '">' .  $currency . ' </td>
                  <td style="text-align:right" width="25px">'.Application_Helper_General::displayMoney($amount). '</span></td>
                   <td align="center" class="' . $td_css . '" >'.$indicator.'</td>';
                   
             echo '</tr>';
                          
          }
        }
        else
        {
          echo "<tr class='nodata'><td colspan=10 class='tbl-evencontent' align='center'> ---".$this->language->_(' No Data ')."--- </td></tr>";
        }

        echo "</tbody></table>
            ";
      }   
  ?>
<?php } ?>


<br>
<br>

<?php if (!empty($this->dataPermata)) { ?>

  <?php 
     $mainassets = 0;
      if (!empty($this->dataPermata)) {
        foreach ( $this->dataPermata as $key => $row ) {
          $mainassets = $mainassets + $row ['account_balance'];
        } 
      }
  ?>

  <div class="col-md-3" style="float:right;">
    <h5 style="margin-left: 10px;">
      <span>IDR </span>
      <span></span>
      <span>
      <strong>
        <?php
          $totalassets = $mainassets + $externalassets;
          $totalassets = number_format($totalassets,0,'.','.');
          echo $totalassets;
         ?>
       </strong>
       </span>
    </h5>
  </div>
  <div class="col-md-6" style="float:right;">
    <img src="file:///app/permatacms/frontend/public/assets/permatalayout/assets/newlayout/img/permata.png" style="width: 80px; margin-top: 10px;">
  </div>
    


  <table class="pdftable" width="100%">
        <thead>
          <tr>
            <th >Bank Name</th>
            <th >Account Number</th>
            <th >Balance</th>
            <th width="25px"></th>
            <th style="text-align: center;">Status</th>
          </tr>
        </thead>

      <tbody>
          <?php

      if (true) //jika tidak ada grup
      {
        $arr_value_tot_group =  array();
        $arr_display_tot_group =  array();

        if (count ( $this->dataPermata ) > 0)
        {
          foreach ( $this->dataPermata as $key => $row ) {
            $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

            if($row['account_status'] == '1'){
              $indicator = 'Online';
            }else if($row['account_status'] == '5'){
              $indicator = 'Offline';
            }else{
              $indicator = 'Offline';
            }

            $amount = str_replace(',', '.', $row['account_balance']);
            $currency = (empty($row ['account_currency']) ? 'IDR' : $row ['account_currency']);

            echo '  <tr>
                  <td class="' . $td_css . '">' . $row ['bank_name']. '</td>
                  <td class="' . $td_css . '">' . $row ['account_number']. '</td>
                  <td class="' . $td_css . '">' .  $currency . ' </td>
                  <td style="text-align:right" width="25px">'.Application_Helper_General::displayMoney($amount). '</span></td>
                   <td align="center" class="' . $td_css . '" >'.$indicator.'</td>';
                   
             echo '</tr>';
                          
          }
        }
        else
        {
          echo "<tr class='nodata'><td colspan=10 class='tbl-evencontent' align='center'> ---".$this->language->_(' No Data ')."--- </td></tr>";
        }

        echo "</tbody></table>
            ";
      }   
  ?>
<?php } ?>

<br>
<br>

<?php if (!empty($this->dataCitibank)) { ?>

  <?php 
    $mainassets = 0;
    if (!empty($this->dataCitibank)) {
      foreach ( $this->dataCitibank as $key => $row ) {
        $mainassets = $mainassets + $row ['account_balance'];
      } 
    }


  ?>

  <div class="col-md-3" style="float:right;">
    <h5 style="margin-left: 10px;">
      <span>IDR </span>
      <span></span>
      <span>
      <strong>
        <?php
          $totalassets = $mainassets + $externalassets;
          $totalassets = number_format($totalassets,0,'.','.');
          echo $totalassets;
         ?>
       </strong>
       </span>
    </h5>
  </div>
  <div class="col-md-6" style="float:right;">
    <img src="file:///app/permatacms/frontend/public/assets/permatalayout/assets/newlayout/img/citibank.png" style="width: 80px; margin-top: 15px;">
  </div>
    


  <table class="pdftable" width="100%">
        <thead>
          <tr>
            <th >Bank Name</th>
            <th >Account Number</th>
            <th >Balance</th>
            <th width="25px"></th>
            <th style="text-align: center;">Status</th>
          </tr>
        </thead>

      <tbody>
          <?php

      if (true) //jika tidak ada grup
      {
        $arr_value_tot_group =  array();
        $arr_display_tot_group =  array();

        if (count ( $this->dataCitibank ) > 0)
        {
          foreach ( $this->dataCitibank as $key => $row ) {
            $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

            if($row['account_status'] == '1'){
              $indicator = 'Online';
            }else if($row['account_status'] == '5'){
              $indicator = 'Offline';
            }else{
              $indicator = 'Offline';
            }

            $amount = str_replace(',', '.', $row['account_balance']);
            $currency = (empty($row ['account_currency']) ? 'IDR' : $row ['account_currency']);

            echo '  <tr>
                  <td class="' . $td_css . '">' . $row ['bank_name']. '</td>
                  <td class="' . $td_css . '">' . $row ['account_number']. '</td>
                  <td class="' . $td_css . '">' .  $currency . ' </td>
                  <td style="text-align:right" width="25px">'.Application_Helper_General::displayMoney($amount). '</span></td>
                   <td align="center" class="' . $td_css . '" >'.$indicator.'</td>';
                   
             echo '</tr>';
                          
          }
        }
        else
        {
          echo "<tr class='nodata'><td colspan=10 class='tbl-evencontent' align='center'> ---".$this->language->_(' No Data ')."--- </td></tr>";
        }

        echo "</tbody></table>
            ";
      }   
  ?>
<?php } ?>

<br>
<br>

<?php if (!empty($this->dataChase)) { ?>

  <?php 
    $mainassets = 0;
    if (!empty($this->dataChase)) {
      foreach ( $this->dataChase as $key => $row ) {
        $mainassets = $mainassets + $row ['account_balance'];
      } 
    }
  ?>

  <div class="col-md-3" style="float:right;">
    <h5 style="margin-left: 10px;">
      <span>IDR </span>
      <span></span>
      <span>
      <strong>
        <?php
          $totalassets = $mainassets + $externalassets;
          $totalassets = number_format($totalassets,0,'.','.');
          echo $totalassets;
         ?>
       </strong>
       </span>
    </h5>
  </div>
  <div class="col-md-6" style="float:right;">
    <img src="file:///app/permatacms/frontend/public/assets/permatalayout/assets/newlayout/img/chase2.png" style="width: 80px; margin-top: 20px;">
  </div>
    


  <table class="pdftable" width="100%">
        <thead>
          <tr>
            <th >Bank Name</th>
            <th >Account Number</th>
            <th >Balance</th>
            <th width="25px"></th>
            <th style="text-align: center;">Status</th>
          </tr>
        </thead>

      <tbody>
          <?php

      if (true) //jika tidak ada grup
      {
        $arr_value_tot_group =  array();
        $arr_display_tot_group =  array();

        if (count ( $this->dataChase ) > 0)
        {
          foreach ( $this->dataChase as $key => $row ) {
            $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

            if($row['account_status'] == '1'){
              $indicator = 'Online';
            }else if($row['account_status'] == '5'){
              $indicator = 'Offline';
            }else{
              $indicator = 'Offline';
            }

            $amount = str_replace(',', '.', $row['account_balance']);
            $currency = (empty($row ['account_currency']) ? 'IDR' : $row ['account_currency']);

            echo '  <tr>
                  <td class="' . $td_css . '">' . $row ['bank_name']. '</td>
                  <td class="' . $td_css . '">' . $row ['account_number']. '</td>
                  <td class="' . $td_css . '">' .  $currency . ' </td>
                  <td style="text-align:right" width="25px">'.Application_Helper_General::displayMoney($amount). '</span></td>
                   <td align="center" class="' . $td_css . '" >'.$indicator.'</td>';
                   
             echo '</tr>';
                          
          }
        }
        else
        {
          echo "<tr class='nodata'><td colspan=10 class='tbl-evencontent' align='center'> ---".$this->language->_(' No Data ')."--- </td></tr>";
        }

        echo "</tbody></table>
            ";
      }   
  ?>
<?php } ?>

<br>
<br>

<?php if (!empty($this->dataStanchart)) { ?>

  <?php 
    $mainassets = 0;
   
    if (!empty($this->dataStanchart)) {
      foreach ( $this->dataStanchart as $key => $row ) {
        $mainassets = $mainassets + $row ['account_balance'];
      } 
    }
  ?>

  <div class="col-md-3" style="float:right;">
    <h5 style="margin-left: 10px;">
      <span>IDR </span>
      <span></span>
      <span>
      <strong>
        <?php
          $totalassets = $mainassets + $externalassets;
          $totalassets = number_format($totalassets,0,'.','.');
          echo $totalassets;
         ?>
       </strong>
       </span>
    </h5>
  </div>
  <div class="col-md-6" style="float:right;">
    <img src="file:///app/permatacms/frontend/public/assets/permatalayout/assets/newlayout/img/stanchart.png" style="width: 80px; margin-top: 15px;">
  </div>
    


  <table class="pdftable" width="100%">
        <thead>
          <tr>
            <th >Bank Name</th>
            <th >Account Number</th>
            <th >Balance</th>
            <th width="25px"></th>
            <th style="text-align: center;">Status</th>
          </tr>
        </thead>

      <tbody>
          <?php

      if (true) //jika tidak ada grup
      {
        $arr_value_tot_group =  array();
        $arr_display_tot_group =  array();

        if (count ( $this->dataStanchart ) > 0)
        {
          foreach ( $this->dataStanchart as $key => $row ) {
            $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

            if($row['account_status'] == '1'){
              $indicator = 'Online';
            }else if($row['account_status'] == '5'){
              $indicator = 'Offline';
            }else{
              $indicator = 'Offline';
            }

            $amount = str_replace(',', '.', $row['account_balance']);
            $currency = (empty($row ['account_currency']) ? 'IDR' : $row ['account_currency']);

           echo '  <tr>
                  <td class="' . $td_css . '">' . $row ['bank_name']. '</td>
                  <td class="' . $td_css . '">' . $row ['account_number']. '</td>
                  <td class="' . $td_css . '">' .  $currency . '</td>
                  <td style="text-align:right" width="25px">'.Application_Helper_General::displayMoney($amount). '</span></td>
                   <td align="center" class="' . $td_css . '" >'.$indicator.'</td>';
                   
             echo '</tr>';
                          
          }
        }
        else
        {
          echo "<tr class='nodata'><td colspan=10 class='tbl-evencontent' align='center'> ---".$this->language->_(' No Data ')."--- </td></tr>";
        }

        echo "</tbody></table>
            ";
      }   
  ?>
<?php } ?>

<br>
<br>

<?php if (!empty($this->dataOthers)) { ?>

  <?php 
    $mainassets = 0; 
    if (!empty($this->dataOthers)) {
      foreach ( $this->dataOthers as $key => $row ) {
        $mainassets = $mainassets + $row ['account_balance'];
      } 
    }
  ?>

  <div class="col-md-3" style="float:right;">
    <h5 style="margin-left: 10px;">
      <span>IDR </span>
      <span></span>
      <span>
      <strong>
        <?php
          $totalassets = $mainassets + $externalassets;
          $totalassets = number_format($totalassets,0,'.','.');
          echo $totalassets;
         ?>
       </strong>
       </span>
    </h5>
  </div>
  <div class="col-md-6" style="float:right;">
    <h5>Other Bank</h5>
  </div>
    
  <table class="pdftable" width="100%">
        <thead>
          <tr>
            <th >Bank Name</th>
            <th >Account Number</th>
            <th >Balance</th>
            <th width="25px"></th>
            <th style="text-align: center;">Status</th>
          </tr>
        </thead>

      <tbody>
          <?php

      if (true) //jika tidak ada grup
      {
        $arr_value_tot_group =  array();
        $arr_display_tot_group =  array();

        if (count ( $this->dataOthers ) > 0)
        {
          foreach ( $this->dataOthers as $key => $row ) {
            $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

            if($row['account_status'] == '1'){
              $indicator = 'Online';
            }else if($row['account_status'] == '5'){
              $indicator = 'Offline';
            }else{
              $indicator = 'Offline';
            }

            $amount = str_replace(',', '.', $row['account_balance']);
            $currency = (empty($row ['account_currency']) ? 'IDR' : $row ['account_currency']);

           echo '  <tr>
                  <td class="' . $td_css . '">' . $row ['bank_name']. '</td>
                  <td class="' . $td_css . '">' . $row ['account_number']. '</td>
                  <td class="' . $td_css . '">' .  $currency . ' </td>
                  <td style="text-align:right" width="25px">'.Application_Helper_General::displayMoney($amount). '</span></td>
                   <td align="center" class="' . $td_css . '" >'.$indicator.'</td>';
                   
             echo '</tr>'; 
                          
          }
        }
        else
        {
          echo "<tr class='nodata'><td colspan=10 class='tbl-evencontent' align='center'> ---".$this->language->_(' No Data ')."--- </td></tr>";
        }

        echo "</tbody></table>
            ";
      }   
  ?>
<?php } ?>