<script type="text/javascript">

//akan di onload pertama kali
$(document).ready(function()
{   
	 //pengaturan error messages
	 <?php 
	     foreach($this->report_msg as $key => $error)
	     {
	   ?>
	         $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
	<?php      
	     } 
	   ?>
});

</script>

<!-- <b><?php echo $this->language->_('General');?> > <?php echo $this->language->_('ATM');?> > <?php echo $this->language->_('Edit');?> </b><br /><br /> -->

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span>General</span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span>ATM</span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                	<span class="valas" ><?=$this->language->_('Edit')?></span>                   
                 </li>                
            </ul>
        </div>
    </div>
</div>

<?php if($this->success){ ?>
	<div class="successmsg"><?php echo $this->language->_('Record Updated');?></div><br />
<?php } ?>
<?php if(count($this->report_msg) > 0){ ?>
	<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.');?></div><br />
<?php } ?>

<div class="row content-box">
	<div class= "portlet-body form col-md-12">
		<table cellpadding="3" cellspacing="0" border="0" class="tableform">
			<form name="editcountry" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">   
			<h5><?=$this->language->_('Edit ATM')?></h5>
  			<tr>
  				<td colspan="5" class="tbl-evencontent">
  				<b></b><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
  				</td>
  			</tr>
			<tr>
			    <td class="tbl-evencontent"><?php echo $this->language->_('ATM Code');?>&nbsp;<span class="errmsg">*</span></td>
			    <td class="tbl-evencontent">:</td>
			    <td class="tbl-evencontent" colspan="4">
			     	<?php echo $this->formText('atm_code',$this->atm_code,array('size'=>'25', 'class'=>'form-control col-md-12','readonly'=>'readonly'))?>
					<div id="error_atm_code" class="errmsg"></div>
				</td>
			</tr>
			<tr>
			    <td class="tbl-evencontent"><?php echo $this->language->_('ATM Address');?>&nbsp;<span class="errmsg">*</span></td>
			    <td class="tbl-evencontent">:</td>
			    <td class="tbl-evencontent" colspan="4">
			     	<?php echo $this->formText('atm_address',$this->atm_address,array('size'=>'60', 'class'=>'form-control col-md-12'))?>
					<div id="error_atm_address" class="errmsg"></div>
				</td>
			</tr>
			<tr>
			    <td class="tbl-evencontent"><?php echo $this->language->_('City Name');?>&nbsp;<span class="errmsg">*</span></td>
			    <td class="tbl-evencontent">:</td>
			    <td class="tbl-evencontent" colspan="4">
			     	<?php echo $this->formText('city_name',$this->city_name,array('size'=>'60', 'class'=>'form-control col-md-12'))?>
					<div id="error_city_name" class="errmsg"></div>
				</td>
			</tr>
		</table>
		<br>
			<div class="formbutton">									 
				 <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/atm/index\'','class'=>'btnwhite hov')); ?>
				<input type="submit" value="<?php echo $this->language->_('Submit');?>" name="submit" class="btngreen hov"/>
				<input type="reset" value="<?php echo $this->language->_('Reset');?>" name="reset" class="btngreen hov"/>
			</div>
		</form>
	</div>
</div>


<!-- code lama sebelum 18 januari 2019-->
<!-- 
<table border="0" cellpadding="0" cellspacing="0" width="50%" align="left">
	<tbody>	
		<tr>
			<td>
			<?php if($this->success){ ?>
					<div class="successmsg"><?php echo $this->language->_('Record Updated');?></div><br />
			<?php } ?>

			<?php if(count($this->report_msg) > 0){ ?>
					<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.');?></div><br />
			<?php } ?>
			</td>
		</tr>

		<tr>
			<div class="portlet-body form">
				<td id="contentarea">
					<div class="portlet-body form content-box">
						<form name="editcountry" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">          
						    <h5><?php echo $this->language->_('ATM Management');?></h5>
						    <div class="form-body">
                                <div class="form-group row">                             
                                        <div class="col-md-12">
                                            <strong><?php echo $this->language->_('Edit ATM');?></strong>
                                        </div>
                                        <div class="col-md-12">
                                            <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
                                        </div>
                                </div>
					         </div>
							<hr/>
						    <div class="portlet-body form">		      					      
								<div class="form-body">                                       
						            <div class="form-group row">
						                <label class="control-label col-md-3"><?php echo $this->language->_('ATM Code');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
						                    <div class="col-md-9">
						                       <?php echo $this->formText('atm_code',$this->atm_code,array('size'=>'25', 'class'=>'form-control','readonly'=>'readonly'))?>
								    			<div id="error_atm_code" class="errmsg"></div>
						                    </div>
						            </div>
								</div>
								<div class="form-body">                                                
						            <div class="form-group row">
						                <label class="control-label col-md-3"><?php echo $this->language->_('ATM Address');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
						                    <div class="col-md-9">
						                        <?php echo $this->formText('atm_address',$this->atm_address,array('size'=>'60', 'class'=>'form-control'))?>
								    			<div id="error_atm_address" class="errmsg"></div>
						                    </div>
						            </div>
								</div>
								<div class="form-body">                                               
						            <div class="form-group row">
						                <label class="control-label col-md-3"><?php echo $this->language->_('City Name');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
						                <div class="col-md-9">
						                    <?php echo $this->formText('city_name',$this->city_name,array('size'=>'60', 'class'=>'form-control'))?>
								    		<div id="error_city_name" class="errmsg"></div>
						                </div>
						            </div>
								</div>
								<br/>
								<div class="row">
			                      <div class="col-sm-12">
			                      		<div class="panel panel-default" style="border:0px">
						                    <div class="formbutton">									 
											     <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/atm/index\'','class'=>'btnwhite hov')); ?>
												<input type="submit" value="<?php echo $this->language->_('Submit');?>" name="submit" class="btngreen hov"/>
												<input type="reset" value="<?php echo $this->language->_('Reset');?>" name="reset" class="btngreen hov"/>
											</div>
                    					</div>
                    				</div>
                    			</div>
                    			</div>
							</form>  
						</div>
					</td>                             						
				</div>
			</tr>
		</tbody>
	</table> -->

	<!-- code lama sebelum 15 januari 2019-->
	<!-- <table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td class="filterarea" id="filterarea">
					<div class="subtopic"><h2><?php echo $this->language->_('ATM Management');?></h2></div>
				</td>
			</tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?php echo $this->language->_('Record Saved');?></div><br />
					<?php } ?>

					<?php 
					    if(count($this->report_msg) > 0){ ?>
					    <div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit.');?></div><br />
					<?php 
					     } 
					   ?>
				</td>
			</tr>
			<tr>
				<th class="filterarea" id="filterarea">
					<?php echo $this->language->_('Edit ATM');?>
				</th>
			</tr>
			<tr>
				<td id="contentarea">
					<form name="editcountry" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
						    <tr>
								<td class="tbl-evencontent" width="20%" colspan="2"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
							</tr>
						  	
							<tr>
								<td class="tbl-evencontent" width="20%"><?php echo $this->language->_('ATM Code');?></td>
								<td class="tbl-evencontent">
								    <?php echo $this->formText('atm_code',$this->atm_code,array('size'=>'25','readonly'=>'readonly'))?>
								</td>
						    </tr>


							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('ATM Address');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent">
								    <?php echo $this->formText('atm_address',$this->atm_address,array('size'=>'60'))?>
								    <div id="error_atm_address" class="errmsg"></div>
								</td>
							</tr>
							
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('City Name');?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent">
								    <?php echo $this->formText('city_name',$this->city_name,array('size'=>'60'))?>
								    <div id="error_city_name" class="errmsg"></div>
								</td>
							</tr>
							
							<tr>
								<td class="button-area" id="button-area" colspan="2">
									<div class="formbutton">
									    <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/atm/index\'','class'=>'inputbtn')); ?>
										<?php echo $this->formHidden('bank_id',$this->bank_id) ?>
									    <input type="submit" value="<?php echo $this->language->_('Submit');?>" name="submit" class="inputbtn"/>
										<input type="reset" value="<?php echo $this->language->_('Reset');?>" name="reset" class="inputbtn"/>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					</form>
				</td>
			</tr>
		</tbody>
	</table> -->
