<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody><tr>
 <td><h1><?php echo $this->language->_('Charge Template Detail'); ?></h1></td>
</tr>
<tr>
  <td>
      <div class="successMsg"></div>
   
   <br>
   <?php
        $TEMPLATE_NAME = '';
		
        foreach($this->templatedetail as $datadetail)
		{
		    $TEMPLATE_ID =  $datadetail['TEMPLATE_ID'];
		    $TEMPLATE_NAME =  $datadetail['TEMPLATE_NAME'];
		    $TCREATED =  $datadetail['CREATED'];
			$TCREATOR =  $datadetail['CREATEDBY'];
			$TSUGGESTED =  $datadetail['SUGGESTED'];
			$TSUGGESTOR =  $datadetail['SUGGESTEDBY'];
			$TAPPROVED =  $datadetail['UPDATED'];
			$TAPPROVER =  $datadetail['UPDATEDBY'];
			if ($datadetail['CHARGES_TYPE'] == 1)
			{
			    $RTGSAMT = $datadetail['CHARGES_AMT'];
				$RTGSCCY = $datadetail['CHARGES_CCY'];
			}
			
			if ($datadetail['CHARGES_TYPE'] == 2)
			{
			    $SKNAMT = $datadetail['CHARGES_AMT'];
				$SKNCCY = $datadetail['CHARGES_CCY'];
			}
		}
	?>
   <div class="title"><?php echo $this->language->_('Charge Template Detail'); ?></div><br><table cellpadding="0" cellspacing="2" border="1" style="border-collapse:collapse;" width="600"><tbody><tr>
		 <td class="tableheader"><?php echo $this->language->_('Template Name'); ?></td><td class="tablevalue"><?php echo $TEMPLATE_NAME ; ?></td></tr><tr>
		 <td class="tableheader"><?php echo $this->language->_('Create Date'); ?></td><td class="tablevalue"><?php echo $TCREATED ; ?></td></tr><tr>
		 <td class="tableheader"><?php echo $this->language->_('Creator'); ?></td><td class="tablevalue"><?php echo $TCREATOR ; ?></td></tr><tr>
		 <td class="tableheader"><?php echo $this->language->_('Latest Suggestion'); ?></td><td class="tablevalue"><?php echo $TSUGGESTED; ?></td></tr><tr>
		 <td class="tableheader"><?php echo $this->language->_('Latest Suggestor'); ?></td><td class="tablevalue"><?php echo $TSUGGESTOR; ?></td></tr><tr>
		 <td class="tableheader"><?php echo $this->language->_('Latest Suggestion Approval'); ?></td><td class="tablevalue"><?php echo $TAPPROVED ; ?></td></tr><tr>
		 <td class="tableheader"><?php echo $this->language->_('Latest Approver'); ?></td><td class="tablevalue"><?php echo $TAPPROVER; ?></td></tr></tbody></table><br><div class="title"><?php echo $this->language->_('Charge Template Detail for'); ?> : ACER</div><br><table colspan="0" rowspan="0" width="400" border="1" style="border-collapse:collapse;">
	  <tbody><tr><td class="tableheader"><?php echo $this->language->_('Charge Types'); ?></td><td class="tableheader">CCY</td><td class="tableheader"><?php echo $this->language->_('Charge Amount'); ?></td></tr><tr><td class="tablevalue">RTGS</td><td class="tablevalue"><?php echo $RTGSCCY; ?></td><td class="tablevalue"><?php echo $RTGSAMT; ?></td></tr><tr><td class="tablevalue_alt">SKN</td><td class="tablevalue_alt"><?php echo $SKNCCY; ?></td><td class="tablevalue_alt"><?php echo  $SKNAMT; ?></td></tr></tbody></table>
   <br>
   <div align="center"><button name="edit" id="edit" type="button" value="Edit" onclick="location.href='/charges/chargestemplatelist/edit/template_id/<?php echo $TEMPLATE_ID; ?>'" class="inputbtn">Edit</button>&nbsp;&nbsp;<button name="delete" id="delete" type="button" value="Delete" onclick="confirmation('Delete this record?','/charges/chargestemplatelist/delete/template_id/<?php echo $TEMPLATE_ID; ?>')" class="inputbtn"><?php echo $this->language->_('Delete'); ?></button></div>  
   
     </td>
</tr>
</tbody></table>