<script type="text/javascript">
    $(document).ready(function() {
        $('div#sidebar-collapse').click(function() {
            if ($("#logo-title").is(":visible")) {
                $("#logo-title").hide();
                $("#logo-titles").hide();
            } else if ($("#logo-title").is(":hidden")) {
                $("#logo-title").show();
                $("#logo-titles").show();
            }
        });

        $('#loginStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#loginEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });

        $('#sugestStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#sugestEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#approveStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#approveEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });

        $('#fixTable').fixTableHeader();

        $("#searchtable").keyup(function() {
            var value = this.value.toLowerCase().trim();

            $("#myTable tr").each(function(index) {
                if (!index) return;
                $(this).find("td").each(function() {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });

    });
</script>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('Administrator'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <?php echo $this->language->_('Admin User List'); ?>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row content-box">
    <div class="portlet-body form col-md-12">
        <h5><?= $this->language->_('Admin User List') ?></h5>
        <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">



            <?php
            $optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
            foreach ($this->filterlist as $row) {
                $optArr .=  '<option value="' . $row . '" >' . $this->language->_($row) . '</option>';
            }

            ?>
            <div class="row " id="logo-titles" style="margin-left: 0px">
                <?php
                if (!empty($this->wherecol)) {
                ?>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            var ctrfilter = <?= count($this->wherecol); ?>;
                            $("#logo-title").show();
                            $("#where-").hide();
                            $("#wherectr").val(ctrfilter)
                        });
                    </script>
                <?php
                }
                // print_r($this->wherecol);//die;
                foreach ($this->wherecol as $key => $value) {
                ?>
                    <div id="searchs" style="width: 100%">
                        <?php
                        $datetype = array('Last Suggestion', 'APPROVE_DATE', 'Last Login');
                        $selectlist = array("BILLER_NAME", "SUGESTBY", "APPROVEBY", 'USER_ID');
                        $index = 0;



                        ?>
                        <div id="where-<?= $key ?>">
                            <div class="form-group row mt-12">
                                <div class="col-md-4 form-inline">
                                    <select class='form-control event_select' id='wherecol-<?= $key ?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                        <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                        <?php

                                        foreach ($this->filterlist as $row) {
                                            $colname = $row;
                                            if ($value == $colname) {
                                                $selected = "selected";
                                            } else {
                                                $selected = "";
                                            }
                                        ?>
                                            <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col" style="display: none">
                                    <select class='form-control' id='whereopt-<?= $key ?>' name='whereopt[]'>

                                        <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                        <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                            <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
                                        <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col-md-6 form-inline" id='colvalue-s<?= $key ?>'>
                                    <script type="text/javascript">
                                        $(document).ready(function() {
                                            var colval = "#colvalue-s<?= $key ?>";
                                            var colomnname = "<?= $value ?>";
                                            // var colselect= "<?= $value ?>";
                                            var colselect = "colselect-s<?= $key ?>";
                                            var ncolselect = "#colselect-s<?= $key ?>";
                                            if (colomnname == 'Group') {
                                                // alert(<?= $index ?>);
                                                $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                                                var id = $("#tablename").find(":selected").val();
                                                $.ajax({
                                                    url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bgroup'), null, true) ?>",
                                                    type: 'GET',
                                                    dataType: "html",
                                                    data: {
                                                        id: '<?= $this->whereval[$key] ?>'
                                                    },
                                                    success: function(data) {
                                                        $(ncolselect).html(data);
                                                    },
                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                        alert("Failed to get where column list, please try again");
                                                    }
                                                });

                                                $(colselect).val('<?= $this->whereval[$index] ?>');

                                            } else if (colomnname == 'branch_name') {
                                                // alert(<?= $index ?>);
                                                $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                                                var id = $("#tablename").find(":selected").val();
                                                $.ajax({
                                                    url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bbranch'), null, true) ?>",
                                                    type: 'GET',
                                                    dataType: "html",
                                                    data: {
                                                        id: '<?= $this->whereval[$key] ?>'
                                                    },
                                                    success: function(data) {
                                                        $(ncolselect).html(data);
                                                    },
                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                        alert("Failed to get where column list, please try again");
                                                    }
                                                });

                                                $(colselect).val('<?= $this->whereval[$index] ?>');

                                            } else if (colomnname == 'lock') {
                                                // alert(<?= $index ?>);
                                                $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                                                var id = $("#tablename").find(":selected").val();
                                                $.ajax({
                                                    url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bislocked'), null, true) ?>",
                                                    type: 'GET',
                                                    dataType: "html",
                                                    data: {
                                                        id: '<?= $this->whereval[$key] ?>'
                                                    },
                                                    success: function(data) {
                                                        $(ncolselect).html(data);
                                                    },
                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                        alert("Failed to get where column list, please try again");
                                                    }
                                                });

                                                $(colselect).val('<?= $this->whereval[$index] ?>');

                                            } else if (colomnname == 'Status') {
                                                // alert(<?= $index ?>);
                                                $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                                                var id = $("#tablename").find(":selected").val();
                                                $.ajax({
                                                    url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bstatus'), null, true) ?>",
                                                    type: 'GET',
                                                    dataType: "html",
                                                    data: {
                                                        id: '<?= $this->whereval[$key] ?>'
                                                    },
                                                    success: function(data) {
                                                        $(ncolselect).html(data);
                                                    },
                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                        alert("Failed to get where column list, please try again");
                                                    }
                                                });

                                                $(colselect).val('<?= $this->whereval[$index] ?>');

                                            }
                                        });
                                    </script>
                                    <?php


                                    // print_r($selectlist);
                                    if ($value == 'Last Suggestion') {
                                        // var_dump($this->whereval);die;
                                    ?>
                                        <input type='text' class='form-control' name='sugestdate[]' id='sugestStart' readonly value="<?= $this->fDateFrom ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='sugestdate[]' id='sugestEnd' value="<?= $this->fDateTo ?>" readonly required>
                                    <?php } elseif ($value == 'Last Login') {
                                    ?>
                                        <input type='text' class='form-control' name='logindate[]' id='loginstart' readonly value="<?= $this->fDateFrom3 ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='logindate[]' id='loginEnd' value="<?= $this->fDateTo3 ?>" readonly required>
                                    <?php
                                    } elseif ($value == 'APPROVE_DATE') {
                                        // var_dump($this->whereval);die;
                                    ?>
                                        <input type='text' class='form-control' name='approvedate[]' id='approveStart' readonly value="<?= $this->fDateFrom2 ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='approvedate[]' id='approveEnd' value="<?= $this->fDateTo2 ?>" readonly required>
                                    <?php
                                    } else if (in_array($value, $selectlist)) {
                                    ?>
                                        <input class='form-control' type='text' name='whereval[]' value='<?= $this->whereval[$key] ?>' style="width:100%" />
                                    <?php }
                                    if (!in_array($value, $datetype)) {
                                        // print_r($value);die;
                                        $index++;
                                    }
                                    ?>
                                </div>
                                <div class="col-md-2 form-inline">
                                    <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>

                <?php
                }
                ?>

            </div>


            <div class="row " id="logo-title" style="display: none">
                <div class="portlet-body form col-md-12">
                    <div id="wheres" style="width: 100%">

                    </div>
                    <!-- <input type="hidden" id="wherectr" value="<?= $this->wherectr ?>"/> -->
                    <input type="hidden" id="wherectr" value="0" />
                    <br />
                    <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                    &nbsp;
                    <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
                    &nbsp;
                    <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">


                    <br />


                </div>
                <div class="col-md-4">
                </div>

            </div>
            <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
                <a href="#" class="sidebar-collapse-icon with-animation">
                    <?php echo $this->language->_('Advanced Search'); ?>
                </a>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br />
        <?php
        if ($this->hasPrivilege('ADLS')) {
            $adddisabled = "";
        } else {
            $adddisabled = "disabled=disabled";
        }
        ?>
        <div class="form-group">
            <div style="float:left">
                <?php
                if ($this->hasPrivilege('ADAD')) {
                ?>
                    <button type="button" onClick="window.location.href='<?php echo $this->url(array('module' => $this->modulename, 'controller' => 'add'), null, true); ?>'" class="btn-sm btngrad hov" <?= $adddisabled ?>><i class="fa fa-plus"></i>&nbsp;<?php echo $this->language->_('Add Admin User') ?></button>
                <?php
                }
                ?>
            </div>
            <div style="float:right; padding-left:5px;">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="search form-control" id="searchtable" placeholder="Search">
                </div>
            </div>
            <div style="float:right; padding-left:10px;">
                <form name="printForm" <?= $this->url(array('data_filter' => $this->data_filter, 'module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post" onsubmit="target_popup(this)">

                    <?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) {
                        // echo $this->formSubmit('pr',$this->language->_('print'),array('class'=>'btnwhite disabled','disabled'=>'disabled'));
                        // echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;' . $this->language->_("Print") . '</button>';
                    } else {
                    ?>
                        <!-- <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)) . $this->qstring ?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print") ?></button>&nbsp; -->
                        <!-- <button type="submit" value="Print" name="print" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print") ?></button>&nbsp;
                    -->
                    <?php
                    }
                    ?>
                </form>
            </div>
            <div style="float:right; padding-left:10px;">
                <form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">
                    <!-- <?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) { ?> -->
                    <!-- <?php echo $this->formSubmit('pdf', $this->language->_('PDF is too large (function is disabled)'), array('class' => 'btnwhite disabled', 'disabled' => 'disabled')); ?> -->
                    <!-- <?php echo '<input type="submit" value="&#xf1c1; PDF is too large (function is disabled)" name="pdf" id="pdf" class="fa disabled" disabled="disabled">'; ?>&nbsp; -->
                    <!-- <?php } else { ?> -->
                    <!-- <?php echo $this->formSubmit('pdf', 'PDF', array('class' => 'btngreen hov')); ?> -->
                    <!-- <?php echo '<input type="submit" value="&#xf1c1; PDF" name="pdf" id="pdf" class="fa">'; ?>&nbsp; -->
                    <!-- <?php } ?> -->

                    <?php if (($this->paginator->getTotalItemCount()) > $this->applicationSetting['max_row_download_csv']) { ?>
                        <!-- <?php echo $this->formSubmit('csv', 'CSV is too large (function is disabled)', array('class' => 'btnwhite disabled', 'disabled' => 'disabled')); ?>&nbsp; -->
                        <?php echo '<input type="submit" value="&#xf6dd CSV is too large (function is disabled)" name="csv" id="csv" class="fa disabled" disabled="disabled">' ?>&nbsp;
                    <?php } else { ?>
                        <!-- <?php echo $this->formSubmit('csv', 'CSV', array('class' => 'btngreen hov')); ?>&nbsp; -->
                        <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa">' ?>&nbsp;
                    <?php } ?>
                    <!--		<input class="inputbtn" value="<?php echo $this->language->_('Print') ?>" onclick="window.print();" type="button">-->
                </form>
            </div>
        </div>

        <br>
        <br />
        <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
            <table class="table table-sm table-striped" id="myTable">
                <thead>
                    <tr>
                        <th width="3%" valign="top" class="tablehead">No</th>
                        <?php echo $this->partial(
                            'tableheader.phtml',
                            array(
                                'fields' => $this->fields,
                                'sortBy' => $this->sortBy,
                                'sortDir' => $this->sortDir,
                                'query_string_params' => $this->query_string_params
                            )
                        ) ?>
                        <!-- <th valign="top" style="background-color: #0a3918; color:white"><?php echo $this->language->_('Action'); ?></th> -->
                    </tr>
                </thead>
                <tbody>
                    <?php

                    if (count($this->paginator)) {
                        $i = 0;
                        require_once 'Crypt/AESMYSQL.php';
                        $AESMYSQL = new Crypt_AESMYSQL();
                        $rand = $this->token;

                        $counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;
                        foreach ($this->paginator as $row) {
                            $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

                            $encrypted_userid = $AESMYSQL->encrypt($row['userid'], $rand);
                            $encuserid = urlencode($encrypted_userid);

                            echo '<tr>
              		<td class="' . $td_css . '">' . $counter . '</td>'; ?>
                            <td class="<?= $td_css ?>"><?= $row['username'] ?><br>(<a href="#" onClick="window.location.href='<?php echo $this->url(array('module' => $this->modulename, 'controller' => 'detail', 'action' => 'index', 'user_id' => $encuserid), null, true); ?>'"><?php echo $row['userid'] ?></a>)</td>
                            <?php echo  '<td class="' . $td_css . '">' . $row['groupname'] . '</td>
          <td class="' . $td_css . '">' . $row['branch_name'] . '</td>
					<td class="' . $td_css . '">' . $this->language->_($row['lock']) . '</td>
					<td class="' . $td_css . '">' . Application_Helper_General::convertDate($row['lastlogin'], $this->displayDateTimeFormat, $this->defaultDateFormat) . '</td>
					<td class="' . $td_css . '">' . $row['suggestedby'] . '<br>(' . Application_Helper_General::convertDate($row['suggested'], $this->displayDateTimeFormat, $this->defaultDateFormat) . ')</td>
					<td class="' . $td_css . '">' . $row['updatedby'] . '<br>(' . Application_Helper_General::convertDate($row['updated'], $this->displayDateTimeFormat, $this->defaultDateFormat) . ')</td>
          <td class="' . $td_css . '">' . $this->language->_($row['status']) . '</td>'; ?>
                            <!-- <td class="<?= $td_css ?>"><a href="#" onClick="window.location.href='<?php echo $this->url(array('module' => $this->modulename, 'controller' => 'detail', 'action' => 'index', 'user_id' => $row['userid']), null, true); ?>'"><?php echo $this->language->_('Detail') ?></a></td> -->
                    <?php echo '</tr>';
                            $i++;
                            $counter++;
                        }
                    } else {
                        echo '<tr><td colspan="11" class="tbl-evencontent" align="center"> --- ' . $this->language->_('No Data') . ' --- </td></tr>';
                    }
                    ?>
                </tbody>
            </table>
        </div>

        <br />
        <div align="right"><?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?></div>
    </div>
</div>


<script type="text/javascript">
    function removeParent(elem) {
        var parentname = elem.parentNode.parentNode.parentNode.id;
        $("#" + parentname).remove();
    }
    $(document).ready(function() {


        $("#addwhere").click(function() {

            var ctr = $("#wherectr").val();
            var optstr = '<?php echo $optArr; ?>';

            var wherecol = "#wherecol-" + ctr;
            $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" + ctr + "' name='wherecol[]' style='width:100%' onclick='getOpt2(this)' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
            ctr++;
            $("#wherectr").val(ctr);
        });
    });

    function getOpt2(elem) {
        var $coll = $('.event_select');

        $coll.children().prop('disabled', false);

        $coll.each(function() {
            var val = this.value;

            if (val === 'original') return;

            $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
        });

        $(colval).empty();
    }

    function getOpt(elem) {
        var id = elem.id;
        var temp = id.split('-');
        var ctr = temp[1];

        var selval = elem.value;
        var tempval = selval.split('-');
        dttype = tempval[1];

        colomnname = tempval[0];
        var colval = "#colvalue-" + ctr;
        var colvals = "#colvalue-s" + ctr;
        var colselect = "colselect-" + ctr;
        var ncolselect = "#colselect-" + ctr;
        var ncolselects = "#colselect-s" + ctr;
        var $coll = $('.event_select');

        $coll.children().prop('disabled', false);

        $coll.each(function() {
            var val = this.value;

            if (val === 'original') return;

            $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
        });

        $(colval).empty();
        //$(colvals).empty();

        if (colomnname == 'Last Suggestion') {
            $(colval).append("<input type='text' class='form-control'  name='sugestdate[]' id='sugestStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='sugestdate[]' id='sugestEnd' readonly required>");
            $('#sugestStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#sugestEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $(colvals).append("<input type='text' class='form-control'  name='sugestdate[]' id='sugestStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='sugestdate[]' id='sugestEnd' readonly required>");
            $('#sugestStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#sugestEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });

        } else if (colomnname == 'Last Login') {
            $(colval).append("<input type='text' class='form-control'  name='logindate[]' id='loginStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='logindate[]' id='loginEnd' readonly required>");
            $('#loginStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#loginEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $(colvals).append("<input type='text' class='form-control'  name='logindate[]' id='loginStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='logindate[]' id='loginEnd' readonly required>");
            $('#loginStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#loginEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });

        } else if (colomnname == 'APPROVE_DATE') {
            $(colval).append("<input type='text' class='form-control'  name='approvedate[]' id='approveStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='approvedate[]' id='approveEnd' readonly required>");
            $('#approveStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#approveEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $(colvals).append("<input type='text' class='form-control'  name='approvedate[]' id='approveStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='approvedate[]' id='approveEnd' readonly required>");
            $('#approveStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#approveEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
        } else if (colomnname == 'branch_name') {

            $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");
            $(colvals).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bbranch'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                    $(ncolselects).html(data);

                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else if (colomnname == 'lock') {
            if (colselect == '1') {
                $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");
                $(colvals).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                var id = $("#tablename").find(":selected").val();
                $.ajax({
                    url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bislocked'), null, true) ?>",
                    type: 'GET',
                    dataType: "html",
                    data: {
                        id: id
                    },
                    success: function(data) {
                        $(ncolselect).html(data);
                        $(ncolselects).html(data);
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert("Failed to get where column list, please try again");
                    }
                });
            } else {
                $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");
                $(colvals).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                var id = $("#tablename").find(":selected").val();
                $.ajax({
                    url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bislocked'), null, true) ?>",
                    type: 'GET',
                    dataType: "html",
                    data: {
                        id: id
                    },
                    success: function(data) {
                        $(ncolselect).html(data);
                        $(ncolselects).html(data);
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert("Failed to get where column list, please try again");
                    }
                });
            }



        } else if (colomnname == 'Group') {

            $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");
            $(colvals).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bgroup'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                    $(ncolselects).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else if (colomnname == 'Status') {

            $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");
            $(colvals).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'bstatus'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                    $(ncolselects).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });
            // paytype
        } else {
            $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
            $(colvals).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
        }


        var optsel = "whereopt-" + ctr;
        document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

        if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
            document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }
        if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
        } else if (dttype == 'date' || dttype == 'datetime') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }

        var colomn = '#whereopt-' + ctr;
        var data = $(colomn).val('EQUAL').change();

    }

    function target_popup(form) {
        window.open('', 'formpopup', 'width=1200,height=600,resizeable,scrollbars');
        form.target = 'formpopup';
    }
</script>