<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?php echo $this->language->_('Virtual Account'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span><?php echo $this->language->_('Cash Out'); ?></span>
        </li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="row content-box">
  <div class="portlet-body form col-md-12">
    <h5><?= $this->language->_('VA Cash Out') ?></h5>
    <h7><?= $this->language->_("Company's VA Cash Out Uploaded") ?></h7>
    <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
      <a href="#" class="sidebar-collapse-icon with-animation">
        <?php echo $this->language->_('Advanced Search'); ?>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <br />

    <div class="form-group">
      <div style="float:left">
        <button type="button" data-toggle="modal" data-target="#addManualModal" class="btn-sm btngrad hov"><i class="fa fa-plus"></i>&nbsp;Add</button>
      </div>
      <div style="float:right; padding-left:5px;">
        <form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?>" method="post">
          <div class="input-group input-group-sm">

            <div class="input-group-prepend">
              <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="search form-control" placeholder="Search">
          </div>
        </form>

      </div>
    </div>
    <br>
    <br />
    <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th class="tablehead" width="3%" valign="top">No</th>
            <?php echo $this->partial(
              'tableheader.phtml',
              array(
                'fields' => $this->fields,
                'sortBy' => $this->sortBy,
                'sortDir' => $this->sortDir,
                'query_string_params' => $this->query_string_params
              )
            ) ?>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Add Manual Modal -->
<div class="modal fade" id="addManualModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title textBlack"><?php echo $this->language->_('Add VA Cash Out') ?></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-sm-4 textBlack"><?php echo $this->language->_('BIN') ?>&nbsp;<span class="errmsg">*</span></label>
          <div class="col-md-8 <?= $ispadding ?>">
            <?php echo $this->formText('url_inquiry', $this->url_inquiry, array('maxlength' => 80, 'size' => 57, 'class' => 'form-control')); ?>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <div style="float:left">
              <h6 class="textBlack"><?php echo $this->language->_('VA Cash Out Detail'); ?></h6>
            </div>
            <div style="float:right">
              <button style="background-color: #ffffff;" class="btn btn-default btn-sm" id="btnUpload" title="Change to VA bulk upload"><i class="fa fa-clone"></i></button>
            </div>
          </div>
        </div>
        <div class="content-box" style="background: #ececec">
          <div class="form-group row">
            <label class="col-sm-4 textBlack"><?php echo $this->language->_('VA Cash Out Number') ?>&nbsp;<span class="errmsg">*</span></label>
            <div class="col-md-4">
              <?php echo $this->formText('va_number', $this->url_inquiry, array('class' => 'form-control', 'onkeypress' => "return forceCurrencyOCBC(event)")); ?>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 textBlack"><?php echo $this->language->_('VA Name') ?>&nbsp;<span class="errmsg">*</span></label>
            <div class="col-md-8 <?= $ispadding ?>">
              <?php echo $this->formText('va_name', $this->url_inquiry, array('maxlength' => 80, 'size' => 57, 'class' => 'form-control')); ?>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 textBlack"><?php echo $this->language->_('Plafond') ?>&nbsp;<span class="errmsg">*</span></label>
            <div class="col-md-8">
              <div class="row">
                <div class="col">
                  <?php echo $this->formText('plafond', $this->url_inquiry, array('maxlength' => 80, 'size' => 57, 'class' => 'form-control', 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "NumFrmt(this.value,this.id)", 'onkeypress' => "return forceCurrencyOCBC(event)")); ?>
                </div>
                <div class="col">
                  <div class="form-group row">
                    <label class="col-sm-4 textBlack"><?php echo $this->language->_('Refresh') ?></label>
                    <div class="col-md-8 <?= $ispadding ?>">
                      <select name="refresh" class="form-control">
                        <option value="1">daily</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 textBlack"><?php echo $this->language->_('Expired Date') ?>&nbsp;<span class="errmsg">*</span></label>
            <div class="col-md-4">
              <?php echo $this->formText('plafond', $this->url_inquiry, array('maxlength' => 80, 'size' => 57, 'class' => 'form-control datepicker', 'readonly' => 'true')); ?>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- Add Upload Modal -->
<div class="modal fade" id="addUploadModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title textBlack"><?php echo $this->language->_('Add VA Cash Out') ?></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-sm-4 textBlack"><?php echo $this->language->_('BIN') ?>&nbsp;<span class="errmsg">*</span></label>
          <div class="col-md-8 <?= $ispadding ?>">
            <?php echo $this->formText('url_inquiry', $this->url_inquiry, array('maxlength' => 80, 'size' => 57, 'class' => 'form-control')); ?>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <div style="float:left">
              <h6 class="textBlack"><?php echo $this->language->_('VA Cash Out Detail'); ?></h6>
            </div>
            <div style="float:right">
              <button style="background-color: #ffffff;" class="btn btn-default btn-sm" id="btnManual" title="Change to VA one data input"><i class="fa fa-clone"></i></button>
            </div>
          </div>
        </div>
        <div class="content-box" style="background: #ececec">
          <div class="form-group row">
            <label class="col-sm-4 textBlack"><?php echo $this->language->_('Upload File') ?></label>
            <div class="col-md-8 <?= $ispadding ?>">
              <?php echo $this->formFile('upload_file', $this->upload_file, array('class' => 'form-control')); ?>
              <a href="#">Download template</a>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 textBlack"><?php echo $this->language->_('File ID') ?></label>
            <div class="col-md-8 <?= $ispadding ?>">
              <?php echo $this->formText('file_id', $this->file_id, array('maxlength' => 80, 'size' => 57, 'class' => 'form-control')); ?>
              <span class="errmsg">*&nbsp;</span><span class="textBlack"><?php echo $this->language->_('type BYPASSIDFU to bypass validation'); ?></span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
<script>
  $('#btnUpload').click(function() {
    $('#addManualModal').modal('hide');
    $('#addUploadModal').modal('show');
    $('#upload_file').addClass('form-control');
  });
  $('#btnManual').click(function() {
    $('#addManualModal').modal('show');
    $('#addUploadModal').modal('hide');
  });
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.datepicker').datepicker({
      format: 'dd/mm/yyyy',
      uiLibrary: 'bootstrap4'
    });
  });
</script>