<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Customer Management'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Marginal Deposit'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Detail'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	table {
		font-size: 14px !important;
	}

	table.tables tr td {
		background-color: #f5f5f5;
		border-bottom: 1px solid #dee2e6;
	}

	.headerblue {
		color: #fff;
		background-color: #0b549f !important;
	}

	.headergrey {
		font-style: italic;
		font-weight: bold;
		background-color: #ccc !important;
	}
</style>

<?php $id = $this->params['id']; ?>

<div class="row content-box mb-3">
	<div class="col-md-12">
		<table class="mt-3" cellpadding="5" style="width:100%">
			<tr>
				<td><b><?= $this->language->_('Marginal Deposit Insurance'); ?></b></td>
			</tr>
			<tr id="marginal-deposit">
				<td colspan="2" class="p-0">
					<table cellpadding="5" class="tables mb-3" style="width:100%">
						<tr>
							<td class="headergrey"><?= $this->language->_('Guarantee Document'); ?></td>
							<td class="headergrey"><?= $this->language->_('Insurance'); ?></td>
							<td class="headergrey"><?= $this->language->_('Customer Code'); ?></td>
							<td class="headergrey"><?= $this->language->_('Plafond Limit'); ?></td>
							<td class="headergrey"><?= $this->language->_('Marginal Deposit'); ?></td>
						</tr>
						<tr>
							<td><?= $this->data[0]['PKS_NUMBER']; ?></td>
							<td><?= $this->data[0]['CUST_NAME']; ?></td>
							<td><?= $this->data[0]['CUST_ID']; ?></td>
							<td>IDR <?= Application_Helper_General::displayMoney($this->data[0]['PLAFOND_LIMIT']); ?></td>
							<td>IDR <?= Application_Helper_General::displayMoney($this->data[0]['MARGINAL_DEPOSIT']); ?></td>
						</tr>
					</table>
					<div style="float:left">
						<?php $totalDetained = ($this->totalDetained > 0) ? Application_Helper_General::displayMoney($this->totalDetained) : '0.00'; ?>
						<?php $lastCheck     = isset($this->data[0]['LAST_CHECK']) ? date('d M Y H:i', strtotime($this->data[0]['LAST_CHECK'])) : '-'; ?>
						<?php
						if (count($this->dataDetail) > 0) {
							echo '<b>' . $this->language->_('Guarantee currently detained') . '</b> (<i>' . $this->language->_('total') . '</i> : <span class="text-danger">IDR ' . $totalDetained . '</span> - ' . $this->language->_('last check') . ' : ' . $lastCheck . ')';
						} else {
							echo '<b>' . $this->language->_('Guarantee currently detained') . '</b>';
						}
						?>
					</div>
					<div style="float:right">
						<a href="javascript:void(0)" onclick="window.location.href='/marginaldeposit/index/detail/id/<?= $id; ?>/refresh/<?= $id; ?>'"><i class="fa fa-retweet"></i></a>
				</td>
	</div>
	<table cellpadding="5" class="tables mt-1" style="width:100%">
		<tr>
			<td class="headerblue"><?= $this->language->_('No'); ?></td>
			<td class="headerblue"><?= $this->language->_('Account Number'); ?></td>
			<td class="headerblue"><?= $this->language->_('Account Name'); ?></td>
			<td class="headerblue"><?= $this->language->_('Type'); ?></td>
			<td class="headerblue"><?= $this->language->_('Currency'); ?></td>
			<td class="headerblue"><?= $this->language->_('Amount'); ?></td>
			<td class="headerblue" style="text-align: center"><?= $this->language->_('Sequence Number'); ?></td>
			<td class="headerblue"></td>
		</tr>
		<?php if (count($this->dataDetail) > 0) : ?>
			<?php $no = 1;
			foreach ($this->dataDetail as $row) : ?>
				<tr>
					<td><?= $no++; ?></td>
					<td><?= $row['MD_ACCT']; ?></td>
					<td><?= $row['MD_ACCT_NAME']; ?></td>
					<td><?= empty($row['PRODUCT_NAME']) ? (strtolower($row['MD_ACCT_TYPE']) == 'escrow' ? $row['MD_ACCT_TYPE'] : $row['ACCT_DESC']) : $row['PRODUCT_NAME']; ?></td>
					<td><?= $row['MD_ACCT_CCY']; ?></td>
					<td><?= Application_Helper_General::displayMoney($row['GUARANTEE_AMOUNT']); ?></td>
					<td style="text-align: center"><?= ($row['HOLD_SEQUENCE']) ?: '-' ?></td>
					<td>
						<?php if ($row['IS_SPECIAL_RATE']) { ?>
							<i id="icwarning" class="fas fa-info pt-1" title="Special Rate" style="background-color: white;color: red;width: 23px;height: 23px;text-align: center;border: 1px solid red;border-radius: 50px;font-size: 12px;"></i>
						<?php }?>
					</td>
				</tr>
			<?php endforeach; ?>
		<?php else : ?>
			<tr>
				<td colspan="7" align="center">-- <?= $this->language->_('No Data'); ?> --</td>
			</tr>
		<?php endif; ?>
	</table>
	</td>
	</tr>
	</table>
</div>
</div>

<center>
	<?php
	echo $this->formButton('back', $this->language->_('BACK'), ['class' => 'btnwhite hov mr-2', 'onclick' => 'window.location.href="/marginaldeposit"']);

	if ($this->escrowButton == false && $this->escrowProses == false) {
		echo $this->formButton('escrow', $this->language->_('ESCROW'), ['class' => 'btnwhite hov mr-2', 'onclick' => "window.location.href='/marginaldeposit/index/escrow/id/$id'"]);
	}
	//echo $this->formButton('withdrawal', $this->language->_('WITHDRAWAL'), ['class' => 'btnred hov mr-2', 'onclick' => "window.location.href='/marginaldeposit/index/withdrawal/id/$id'"]);
	if ($this->hasPrivilege("TUMD")) {
		if ($this->escrowProses == false) {
			echo $this->formButton('topup', $this->language->_('TOP UP'), ['class' => 'btngreen hov', 'onclick' => "window.location.href='/marginaldeposit/index/topup/id/$id'"]);
		} else {
			echo $this->formButton('topup', $this->language->_('TOP UP'), ['class' => 'btngreen hov disabled', 'disabled' => 'disabled', 'onclick' => "window.location.href='/marginaldeposit/index/topup/id/$id'"]);
			echo "</br></br><label class='alert alert-danger'>Tidak bisa TOP UP, karena sedang dalam menunggu review atau persetujuan</label>";
		}
	}
	?>
</center>