<?php
if (Zend_Registry::isRegistered('language')){
  $language = Zend_Registry::get('language');
}

?>

<?php
$optArr = '<option value="" >-- ' . $language->_('Any Value') . ' --</option>';
foreach ($this->filterlist as $row) {
    $optArr .=  '<option value="' . $row . '" >' . $language->_($row) . '</option>';
}
// echo $optArr;die;
?>
<div class="row " id="logo-titles" style="margin-left: 0px">
    <?php
    if (!empty($this->wherecol)) {
    ?>
        <script type="text/javascript">
            $(document).ready(function() { 
                $("#logo-title").show();
            });
        </script>
        <?php
    }
    if (!empty($this->wherecol)) {
        $index = 0;
        //echo '<pre>';
        //var_dump($this->whereval);  
        foreach ($this->wherecol as $key => $value) {
        ?>
        
        
            <div id="searchs" style="width: 100%">
                <?php
                $datetype = $this->datetype;
                $selectlist = $this->selectlist;
                ?>
                <div id="where-<?= $key ?>">
                    <div class="form-group row mt-12">
                        <div class="col-md-4 form-inline">
                            <select class='form-control event_select' style='width:100%' id='wherecol-<?= $key ?>' name='wherecol[]' onchange='getOpt(this)'>
                                <option value="">-- <?= $language->_('Any Value') ?> --</option>
                                <?php

                                foreach ($this->filterlist as $row) {
                                    $colname = $row;
                                    if ($value == $colname) {
                                        $selected = "selected";
                                    } else {
                                        $selected = "";
                                    }
                                ?>
                                    <option value="<?= $row ?>" <?= $selected ?>><?= $language->_($row) ?></option>
                                <?php } ?>
                            </select>
                        </div>
                        <div class="col" style="display: none">
                            <select class='form-control' id='whereopt-<?= $key ?>' name='whereopt[]'>

                                <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                                    <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                    <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                    <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                    <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                                    <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                    <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
                                <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                                    <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                    <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                    <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                    <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                    <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                <?php } ?>
                            </select>
                        </div>

                        <div class="col-md-6 form-inline" id='colvalue-<?= $key ?>'>
                        <script type="text/javascript">
                                $(document).ready(function() {
                                    //alert('<?= $key ?>');
                                });
        </script>
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    //alert('<?= $value ?>');
                                    var colval = "#colvalue-<?= $key ?>";
                                    var colomnname = "<?= $value ?>";
                                    // console.log("<?= $value ?>");
                                    // var colselect= "<?= $value ?>";
                                    var colselect = "colselect-<?= $key ?>";
                                    var ncolselect = "#colselect-<?= $key ?>";
                                    if (colomnname == 'TRA_AMOUNT' || colomnname == 'PS_TOTAL_AMOUNT' || colomnname == 'EQUIVALENT_AMOUNT_IDR' || colomnname == 'EQUIVALENT_AMOUNT_USD') {
                                        $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='<?= $this->whereval[$index] ?>' maxlength='20' autocomplete='off' id='" + colselect + "' class='form-control' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
                                        $(colselect).val('<?= $this->whereval[$index] ?>');
                                    } else if (colomnname == 'PS_STATUS' || colomnname == 'PAYSTAT') {

                                        $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

                                        var id = $("#tablename").find(":selected").val();
                                        $.ajax({
                                            url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumnpsstatus'), null, true) ?>",
                                            type: 'GET',
                                            dataType: "html",
                                            data: {
                                                id: '<?= $this->whereval[$index] ?>'
                                            },
                                            success: function(data) {
                                                $(ncolselect).html(data);
                                            },
                                            error: function(xhr, ajaxOptions, thrownError) {
                                                alert("Failed to get where column list, please try again");
                                            }
                                        });

                                        $(colselect).val('<?= $this->whereval[$index] ?>');

                                    } 
                                    else if (colomnname == 'ONGOING_STATUS') { //ongoing

                                        $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

                                        var id = $("#tablename").find(":selected").val();
                                        $.ajax({
                                            url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'ongoingstatus'), null, true) ?>",
                                            type: 'GET',
                                            dataType: "html",
                                            data: {
                                                id: '<?= $this->whereval[$index] ?>'
                                            },
                                            success: function(data) {
                                                $(ncolselect).html(data);
                                            },
                                            error: function(xhr, ajaxOptions, thrownError) {
                                                alert("Failed to get where column list, please try again");
                                            }
                                        });

                                        $(colselect).val('<?= $this->whereval[$index] ?>');

                                    }
                                    else if (colomnname == 'PS_TYPE' || colomnname == 'PAYTYPE') {

                                        $(colval).append("<select class='form-control pstype' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

                                        var id = $("#tablename").find(":selected").val();
                                        $.ajax({
                                            url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumnpstype','exclude'=>$this->excludepstype), null, true) ?>",
                                            type: 'GET',
                                            dataType: "html",
                                            data: {
                                                id: '<?= $this->whereval[$index] ?>'
                                            },
                                            success: function(data) {
                                                
                                                $(ncolselect).html(data);
                                                var trtype = <?php echo $this->whereval[$index]; ?>;
                                                            //alert(trtype);
                                                            $('#pstype').val(trtype);
                                                //$('#pstype').val(dataArr.tblName);
                                            },
                                            error: function(xhr, ajaxOptions, thrownError) {
                                                alert("Failed to get where column list, please try again");
                                            }
                                        });
                                        // document.getElementById(colselect).value = '<?= $this->whereval[$index] ?>';
                                        $(colselect).val('<?= $this->whereval[$index] ?>');

                                    }else if(colomnname ==  'TRANSFER_TYPE'){  
                                    //var id = $("#pstype").find(":selected").val();
                                    //alert(<?php echo $index; ?>);
                                    //setTimeout(function(){},1000); 
                                                    $(colval).append("<select class='form-control tratype' id='"+colselect+"' name='whereval[]' style='width:100%'></select>");

                                                      var id = $("#pstype").find(":selected").val();
                                                      var idtablename = $("#tablename").find(":selected").val();
                                                      // alert(id);  
                                                      // console.log(id);
                                                      $.ajax({ 
                                                        url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumntratype'), null, true) ?>",
                                                        type: 'GET',
                                                        dataType: "html", 
                                                        data: {
                                                          id: <?php if(empty($this->whereval[$index-1])){ echo 0;}else{echo $this->whereval[$index-1];} ?>,
                                                          idtablename: idtablename
                                                        },
                                                        success: function(data) {
                                                          //$(ncolselect).html(data);

                                                          var dataArr = JSON.parse(data);

                                                            $(ncolselect).html(dataArr.optHtml);
                                                            //$('#pstype').val(dataArr.tblName);
                                                            var trtype = <?php echo $this->whereval[$index]; ?>;
                                                            //alert(trtype);
                                                            $('.tratype').val(trtype);
                                                            //console.log('<?=$this->whereval?>');
                                                          //console.log(dataArr);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                          alert("Failed to get where column list, please try again");
                                                        }
                                                      });

                                                      // $('#tratype').val('<?=$this->whereval[$index]?>');
                                    }else if(colomnname == 'TRFTYPE'){

                                                $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
                                                var id = $("#tablename").find(":selected").val();
                                                $.ajax({
                                                url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'tratype'),null,true)?>",
                                                type: 'GET',
                                                dataType: "html",
                                                data: {
                                                    id: '<?=$this->whereval[$key]?>'
                                                },
                                                success: function(data) {
                                                    $(ncolselect).html(data);
                                                },
                                                error: function(xhr, ajaxOptions, thrownError)
                                                {
                                                    alert("Failed to get where column list, please try again");
                                                }
                                            });
                                                $(colselect).val('<?=$this->whereval[$index]?>');

                                    }
                                    else if (colomnname == 'SOURCE_ACCOUNT') {

                                        $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

                                        var id = $("#tablename").find(":selected").val();

                                        <?php 
                                            if ($this->source == 'open') {
                                                $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wheresourceaccountopen'), null, true);
                                            }
                                            else{
                                                $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wheresourceaccount'), null, true);
                                            }
                                        ?>

                                        $.ajax({
                                            url: "<?= $url ?>",
                                            type: 'GET',
                                            dataType: "html",
                                            data: {
                                                id: '<?= $this->whereval[$index] ?>'
                                            },
                                            success: function(data) {
                                                $(ncolselect).html(data);
                                            },
                                            error: function(xhr, ajaxOptions, thrownError) {
                                                alert("Failed to get where column list, please try again");
                                            }
                                        });
                                        $(colselect).val('<?= $this->whereval[$index] ?>');

                                    } else if (colomnname == 'PS_CCY' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY') {
                                        $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
                                        var id = $("#tablename").find(":selected").val();
                                        $.ajax({
                                            url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'ccy'), null, true) ?>",
                                            type: 'GET',
                                            dataType: "html",
                                            data: {
                                                id: '<?= $this->whereval[$index] ?>'
                                            },
                                            success: function(data) {
                                                $(ncolselect).html(data);
                                            },
                                            error: function(xhr, ajaxOptions, thrownError) {
                                                alert("Failed to get where column list, please try again");
                                            }
                                        });
                                        $(colselect).val('<?= $this->whereval[$index] ?>');

                                    } else if (colomnname == 'BENEFICIARY_ACCOUNT') {

                                        $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

                                        var id = $("#tablename").find(":selected").val();

                                        <?php 
                                            if ($this->benef == 'open') {
                                                $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'benefopen'), null, true);
                                            }
                                            else{
                                                $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'benef'), null, true);
                                            }
                                        ?>

                                        $.ajax({
                                            url: "<?= $url ?>",
                                            type: 'GET',
                                            dataType: "html",
                                            data: {
                                                id: '<?= $this->whereval[$index] ?>'
                                            },
                                            success: function(data) {
                                                $(ncolselect).html(data);
                                            },
                                            error: function(xhr, ajaxOptions, thrownError) {
                                                alert("Failed to get where column list, please try again"); 
                                            }
                                        });
                                        $(colselect).val('<?= $this->whereval[$index] ?>');

                                    } else if (colomnname == 'FREQUENTLY') { //for ongoing

                                        $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

                                        var id = $("#tablename").find(":selected").val();

                                        <?php 
                                            $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'frequently'), null, true);
                                        ?>

                                        $.ajax({
                                            url: "<?= $url ?>",
                                            type: 'GET',
                                            dataType: "html",
                                            data: {
                                                id: '<?= $this->whereval[$index] ?>'
                                            },
                                            success: function(data) {
                                                $(ncolselect).html(data);
                                            },
                                            error: function(xhr, ajaxOptions, thrownError) {
                                                alert("Failed to get where column list, please try again");
                                            }
                                        });
                                        $(colselect).val('<?= $this->whereval[$index] ?>');

                                    }else if (colomnname == 'TRA_STATUS') { //for ongoing

                                        $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

                                        var id = $("#tablename").find(":selected").val();

                                        <?php 
                                            $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'trastatus'), null, true);
                                        ?>

                                        $.ajax({
                                            url: "<?= $url ?>",
                                            type: 'GET',
                                            dataType: "html",
                                            data: {
                                                id: '<?= $this->whereval[$index] ?>'
                                            },
                                            success: function(data) {
                                                $(ncolselect).html(data);
                                            },
                                            error: function(xhr, ajaxOptions, thrownError) {
                                                alert("Failed to get where column list, please try again");
                                            }
                                        });
                                        $(colselect).val('<?= $this->whereval[$index] ?>');

                                    }
                                });
                            </script>
                            <?php
                            if ($value == 'PS_CREATED') {
                                // var_dump($this->whereval);die;
                            ?>
                                <input type='text' class='form-control' name='createdate[]' id='createdStart' readonly value="<?= $this->createdStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' value="<?= $this->createdEnd ?>" readonly required>
                            <?php
                            } else if ($value == 'PS_EFDATE') {
                            ?>
                                <input type='text' class='form-control' name='efdate[]' id='efdateStart' readonly value="<?= $this->paymentStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='efdate[]' id='efdateEnd' value="<?= $this->paymentEnd ?>" readonly required>
                            <?php

                            } else if ($value == 'PS_EFDATERPT') {
                            ?>
                                <input type='text' class='form-control' name='efdaterpt[]' id='efdateStart1' readonly value="<?= $this->paymentStart1 ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='efdaterpt[]' id='efdateEnd1' value="<?= $this->paymentEnd1 ?>" readonly required>
                            <?php

                            } else if ($value == 'PS_UPDATED') {
                            ?>
                                <input type='text' class='form-control' name='updatedate[]' id='updatedStart' readonly value="<?= $this->updatedStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='updateEnd' value="<?= $this->updatedEnd ?>" readonly required>
                            <?php

                            }else if($value == 'PS_TRFDATE'){
                            ?>
                            <input type='text' class='form-control' name='trfdate[]' id='trfdateStart' readonly value="<?=$this->trfdateStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='trfdate[]' id='trfdateEnd' value="<?=$this->trfdateEnd?>" readonly required>
                            <?php

                            }else if($value == 'NEXT_EXECUTE'){ //ongoing
                            ?>
                            <input type='text' class='form-control' name='nextexecute[]' id='nextexecuteStart' readonly value="<?=$this->nextexecuteStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='nextexecute[]' id='nextexecuteEnd' value="<?=$this->nextexecuteEnd?>" readonly required>
                            <?php               

                            } else if ($value == 'PS_SUBJECT') {
                            ?>
                                <input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?= $this->whereval[$index] ?>' />
                            <?php

                            } else if (!in_array($value, $selectlist)) {
                            ?>
                                <input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?= $this->whereval[$index] ?>' />
                            <?php }
                            if (!in_array($value, $datetype)) {
                                // print_r($value);die;
                                $index++;
                            }
                            ?>
                        </div>
                        <div class="col-md-2 form-inline">
                            <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>

            </div>

    <?php
        }
    }
    ?>

</div>


<div class="row " id="logo-title" style="display: none">
    <div class="portlet-body form col-md-12">
        <div id="wheres" style="width: 100%">
            <div id="where-<?= $key + 1 ?>">
                <div class="form-group row mt-12">
                    <div class="col-md-4 form-inline">
                        <select class='form-control event_select' style='width:100%' id='wherecol-<?= $key + 1 ?>' name='wherecol[]' onchange='getOpt(this)'>
                            <option value="">-- <?= $language->_('Any Value') ?> --</option>
                            <?php

                            foreach ($this->filterlist as $row) {
                                $colname = $row;
                                if ($val == $colname) {
                                    $selected = "selected";
                                } else {
                                    $selected = "";
                                }
                            ?>
                                <option value="<?= $row ?>" <?= $selected ?>><?= $language->_($row) ?></option>
                            <?php } ?>
                        </select>
                    </div>
                    <div class="col" style="display: none">
                        <select class='form-control' id='whereopt-<?= $key ?>' name='whereopt[]'>

                            <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                                <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                            <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                                <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
                            <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                                <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                            <?php } ?>
                        </select>
                    </div>
                    <div class="col-md-6 form-inline" id='colvalue-<?= $key + 1 ?>'>
                        <input class='form-control' type='text' style='width:100%' name='whereval[]' />
                    </div>
                    <div class="col-md-2 form-inline">
                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
            <?php //}}
            ?>
        </div>
        <!-- <input type="hidden" id="wherectr" value="<?= $this->wherectr ?>"/> -->
        <input type="hidden" id="wherectr" value="<?= $key + 2 ?>" />
        <br />
        <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
        &nbsp;
        <?php echo $this->formSubmit('filter', $language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
        &nbsp;
        <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">


        <br />


        <div class="portlet-body form" style="display: none">

            <div class="form-group row ">
                <label class="control-label col-md-3"><?php echo $language->_('Payment Type'); ?></label>
                <div class="col-md-4">
                    <?php echo $this->formSelect('paymentType', $this->paymentType, array('id' => 'paymentType', 'class' => 'form-control', 'onclick' => 'changeTransferType()'), $this->optPayType); ?>
                </div>
                <label class="control-label col-md-2"><?php echo $language->_('Transfer Type'); ?></label>
                <div class="col-md-3">
                    <select name="transtype" id="transtype" class="form-control">
                        <option value=""><?php echo $language->_(' -- Any Value -- '); ?></option>
                    </select>
                </div>
            </div>

            <div class="form-group row ">

                <div class="col-md-12">
                    <?php echo $this->formSubmit('filter', $language->_('Set Filter'), array('class' => 'btn btn-success')); ?>&nbsp;
                    <input type="button" name="clearfilter" class="btn btn-success" value="<?php echo $language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">
                </div>
            </div>


        </div>
    </div>
    <div class="col-md-4">
    </div>

</div>
<div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
    <a href="#" class="sidebar-collapse-icon with-animation">
        <?php echo $language->_('Advanced Search'); ?>
    </a>
</div>
<br />


<!-- --------------------------------------------javscript----------------------------------------------------------- -->
<script type="text/javascript">

    $(document).ready(function() {
        $('div#sidebar-collapse').click(function() {
            if ($("#logo-title").is(":visible")) {
                $("#logo-title").hide();
                $("#logo-titles").hide();
            } else if ($("#logo-title").is(":hidden")) {
                $("#logo-title").show();
                $("#logo-titles").show();
            }
        })

        $('#createdStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#createdEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#updateStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#updateEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#efdateStart').datepicker({
            
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#efdateEnd').datepicker({
            
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#efdateStart1').datepicker({
            minDate: function() {
                var mindate = new Date();
                mindate.setDate(mindate.getDate() - <?php echo $this->range_reporthistory ?>);
                return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
            },
            maxDate: function() {
                var maxdate = new Date();
                maxdate.setDate(maxdate.getDate());
                return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
            },
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#efdateEnd1').datepicker({
            minDate: function() {
                var val = document.getElementById('efdateStart1').value;
                var parts = val.split("/");
                var mindate = new Date(parts[2], parts[1] - 1, parts[0]); 

                mindate.setDate(mindate.getDate());
                return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                },
            maxDate: function() {
                var val = document.getElementById('efdateStart1').value;
                var parts = val.split("/");
                var date = new Date(parts[2], parts[1] - 1, parts[0]); 
                
                date.setDate(date.getDate() + 30);
                // console.info(date);
                var maxdate = new Date();
                if(date>=maxdate){
                    return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                }else{
                    return new Date(date.getFullYear(), date.getMonth(), date.getDate());
                }
            },
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#trfdateStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#trfdateEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#nextexecuteStart').datepicker({
            format: 'dd-mm-yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#nextexecuteEnd').datepicker({
            format: 'dd-mm-yyyy',
            uiLibrary: 'bootstrap4'
        });

        changeTransferType();
        if ('<?= $this->transtype ?>' != '') {
            $('#transtype').val('<?= $this->transtype ?>');
        }
    });

    function changeTransferType() {
        // Remove all options
        document.filterForm.transtype.options.length = 0;
        // document.filterForm.transferType.options.length = 0;

        // Repopulate the select menu with new options
        // new Option(text, value, defaultSelected, selected)
        value = $('#paytype').val();
        if (value == '1') {

            document.filterForm.transtype.options[0] = new Option('-- <?= $language->_('Any Value'); ?> --', '');
            document.filterForm.transtype.options[1] = new Option('In House', '0');
            document.filterForm.transtype.options[2] = new Option('In House (Sell)', '7');
            document.filterForm.transtype.options[3] = new Option('In House (Buy)', '8');
            document.filterForm.transtype.options[4] = new Option('VA', '6');
        } else if (value == '7,5' || value == '11,11' || value == '15,15' || value == '14,14') {

            document.filterForm.transtype.options[0] = new Option('-- <?= $language->_('Any Value'); ?> --', '');
            document.filterForm.transtype.options[1] = new Option('In House', '0');
        } else if (value == '2') {

            document.filterForm.transtype.options[0] = new Option('-- <?= $language->_('Any Value'); ?> --', '');
            document.filterForm.transtype.options[1] = new Option('SKN', '2');
            document.filterForm.transtype.options[2] = new Option('RTGS', '1');
            //document.filterForm.transtype.options[3] = new Option('ONLINE','8');
        } else if (value == '3') {

            document.filterForm.transtype.options[0] = new Option('-- <?= $language->_('Any Value'); ?> --', '');
            document.filterForm.transtype.options[1] = new Option('OUR', '3');
            document.filterForm.transtype.options[2] = new Option('SHA', '4');
        } else if (value == '6,4') {
            document.filterForm.transtype.options[0] = new Option('-- <?= $language->_('Any Value'); ?> --', '');
            document.filterForm.transtype.options[1] = new Option('In House', '0');
            document.filterForm.transtype.options[2] = new Option('SKN', '2');
            document.filterForm.transtype.options[3] = new Option('RTGS', '1');
        } else if (value == '16') {
            document.filterForm.transtype.options[0] = new Option('-- <?= $language->_('Any Value'); ?> --', '');
            document.filterForm.transtype.options[1] = new Option('Handphone Voucher', '13');
            document.filterForm.transtype.options[2] = new Option('Electricity Voucher', '14');
        } else if (value == '17') {
            document.filterForm.transtype.options[0] = new Option('-- <?= $language->_('Any Value'); ?> --', '');
            document.filterForm.transtype.options[1] = new Option('Electricity', '1');
            document.filterForm.transtype.options[2] = new Option('PAM', '2');
            document.filterForm.transtype.options[3] = new Option('Phone', '3');
            document.filterForm.transtype.options[4] = new Option('Internet', '4');
            document.filterForm.transtype.options[5] = new Option('Cable TV', '5');
            document.filterForm.transtype.options[6] = new Option('Tax', '6');
            document.filterForm.transtype.options[7] = new Option('Credit Card', '7');
            document.filterForm.transtype.options[8] = new Option('Installment', '8');
            document.filterForm.transtype.options[9] = new Option('Insurance', '9');
            document.filterForm.transtype.options[10] = new Option('Education', '10');
            document.filterForm.transtype.options[11] = new Option('Ticket', '11');

        } else {
            document.filterForm.transtype.options[0] = new Option('-- <?= $language->_('Any Value'); ?> --', '');
        }

    }

    function removeParent(elem) {
        var parentname = elem.parentNode.parentNode.parentNode.id;
        $("#" + parentname).remove();
    }
    $(document).ready(function() {

        var pstypecheck = document.getElementsByClassName('pstype');
if (pstypecheck.length != 1) {
        var $coll = $('.event_select');
        $coll.not(this).children('[value="TRANSFER_TYPE"]').prop('disabled', true);
      }

        $("#addwhere").click(function() {
            var ctr = $("#wherectr").val();
            var optstr = '<?php echo $optArr; ?>';
            var wherecol = "#wherecol-" + ctr;
            $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" + ctr + "' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' style='width:100%' type='text' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
            ctr++;
            $("#wherectr").val(ctr);
            var pstypecheck = document.getElementsByClassName('pstype');
            if (pstypecheck.length != 1) {
                var $coll = $('.event_select');
                $coll.not(this).children('[value="TRANSFER_TYPE"]').prop('disabled', true);
            }
        });
    });

    function getOpt(elem) {
        var id = elem.id;
        var temp = id.split('-');
        var ctr = temp[1];

        var selval = elem.value;
        var tempval = selval.split('-');
        dttype = tempval[1];

        colomnname = tempval[0];
        var colval = "#colvalue-" + ctr;
        var colselect = "colselect-" + ctr;
        var ncolselect = "#colselect-" + ctr;
        var $coll = $('.event_select');
        $coll.children().prop('disabled', false);
        $coll.each(function() {
            var val = this.value;
            if (val === 'original') return;
            var pstypecheck = document.getElementsByClassName('pstype');
            if (pstypecheck.length > 0) {
            //  alert();
            }
            //$coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
        });

        $(colval).empty();
        if (colomnname == 'PS_CREATED') {
            $(colval).append("<input type='text' class='form-control' name='createdate[]' id='createdStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' readonly required>");
            $('#createdStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#createdEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });

        } else if (colomnname == 'PS_UPDATED') {
            $(colval).append("<input type='text' class='form-control' name='updatedate[]' id='updateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='updateEnd' readonly required>");


            $('#updateStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#updateEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });

        }else if (colomnname == 'PS_EFDATERPT') {
            $(colval).append("<input type='text' class='form-control' name='efdaterpt[]' id='efdateStart1' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='efdaterpt[]' id='efdateEnd1' readonly required>");

            $('#efdateStart1').datepicker({
                minDate: function() {
                var mindate = new Date();
                    mindate.setDate(mindate.getDate() - <?php echo $this->range_reporthistory ?>);
                    return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                },
                maxDate: function() {
                    var maxdate = new Date();
                    maxdate.setDate(maxdate.getDate());
                    return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                },
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#efdateEnd1').datepicker({
                minDate: function() {
                    var val = document.getElementById('efdateStart1').value;
                    var parts = val.split("/");
                    var mindate = new Date(parts[2], parts[1] - 1, parts[0]); 

                    mindate.setDate(mindate.getDate());
                    return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                    },
                maxDate: function() {
                    var val = document.getElementById('efdateStart1').value;
                    var parts = val.split("/");
                    var date = new Date(parts[2], parts[1] - 1, parts[0]); 
                    
                    date.setDate(date.getDate() + 30);
                    // console.info(date);
                    var maxdate = new Date();
                    if(date>=maxdate){
                        return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                    }else{
                        return new Date(date.getFullYear(), date.getMonth(), date.getDate());
                    }
                },
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });

        }else if (colomnname == 'PS_EFDATE') {
            $(colval).append("<input type='text' class='form-control' name='efdate[]' id='efdateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='efdate[]' id='efdateEnd' readonly required>");

            $('#efdateStart').datepicker({
                
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#efdateEnd').datepicker({
                
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });

        }else if(colomnname == 'PS_TRFDATE' ){
        $(colval).append("<input type='text' class='form-control' name='trfdate[]' id='trfdateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='trfdate[]' id='trfdateEnd' readonly required>");

            $('#trfdateStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#trfdateEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });


        }else if(colomnname == 'NEXT_EXECUTE' ){
        $(colval).append("<input type='text' class='form-control' name='nextexecute[]' id='nextexecuteStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='nextexecute[]' id='nextexecuteEnd' readonly required>");

            $('#nextexecuteStart').datepicker({
                format: 'dd-mm-yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#nextexecuteEnd').datepicker({
                format: 'dd-mm-yyyy',
                uiLibrary: 'bootstrap4'
            });


        } else if (colomnname == 'TRA_AMOUNT' || colomnname == 'PS_TOTAL_AMOUNT' || colomnname == 'EQUIVALENT_AMOUNT_IDR' || colomnname == 'EQUIVALENT_AMOUNT_USD') {
            $(colval).append("<input type='text' name='whereval[]'  value='' style='width:100%' maxlength='20' autocomplete='off' class='form-control' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
        } else if (colomnname == 'PS_STATUS' || colomnname == 'PAYSTAT') {

            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumnpsstatus'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else if (colomnname == 'ONGOING_STATUS') {

            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'ongoingstatus'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else if (colomnname == 'PS_TYPE' || colomnname == 'PAYTYPE') {

            $(colval).append("<select class='form-control pstype' id='" + colselect + "' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumnpstype','exclude'=>$this->excludepstype), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        }else if(colomnname ==  'TRANSFER_TYPE'){  
                $(colval).append("<select class='form-control' id='" + colselect + "' name='whereval[]' style='width:100%'></select>");

                    var id = $(".pstype").find(":selected").val();
                    var idtablename = $("#tablename").find(":selected").val();
                    // alert(id); 
                    // console.log(id);
                    // console.log(idtablename);
                    $.ajax({
                        url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumntratype'), null, true) ?>",
                        type: 'GET',
                        dataType: "html",
                        data: {
                            id: id,
                            idtablename: idtablename
                        },
                        success: function(data) {
                            var dataArr = JSON.parse(data);

                            $(ncolselect).html(dataArr.optHtml);
                            //$('.pstype').val(dataArr.tblName);
                            console.log(data);
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert("Failed to get where column list, please try again"); 
                        }
                    });
        }else if(colomnname == 'TRFTYPE'){
            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'tratype'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

        } else if (colomnname == 'SOURCE_ACCOUNT') {

            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();

            <?php 
                if ($this->source == 'open') {
                    $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wheresourceaccountopen'), null, true);
                }
                else{
                    $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wheresourceaccount'), null, true);
                }
            ?>

            $.ajax({
                url: "<?= $url ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else if (colomnname == 'PS_CCY' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY') {
            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'ccy'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else if (colomnname == 'BENEFICIARY_ACCOUNT') {

            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();

            <?php 
                if ($this->benef == 'open') {
                    $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'benefopen'), null, true);
                }
                else{
                    $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'benef'), null, true);
                }
            ?>

            $.ajax({
                url: "<?= $url ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        }
        else if (colomnname == 'FREQUENTLY') { //ongoing

            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();

            <?php 
                $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'frequently'), null, true);
            ?>

            $.ajax({
                url: "<?= $url ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        }else if (colomnname == 'TRA_STATUS') { //ongoing

            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();

            <?php 
                $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'trastatus'), null, true);
            ?>

            $.ajax({
                url: "<?= $url ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else {
            $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
        }


        var optsel = "whereopt-" + ctr;
        document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

        if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
            document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }
        if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
        } else if (dttype == 'date' || dttype == 'datetime') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }

        var colomn = '#whereopt-' + ctr;
        var data = $(colomn).val('EQUAL').change();

    }
</script>