<?php
//view partials for use by Zend_Pagination

//build query string

if (is_array($this->query_string_params)) {
    $qstring = '?';
    $qstring .= SGO_Security_GeneralFunction::sanitize(http_build_query($this->query_string_params));
} else {
    $qstring = '';
}

if ($this->pageCount) :
?>

    <?php
    if (Zend_Registry::isRegistered('language')) {
        $language = Zend_Registry::get('language');
    }
    ?>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end" style="gap: 10px;">
            <?php if (isset($this->previous)) : ?>
                <li class="page-item"><a class="page-link" href="<?= $this->url(array('page' => $this->previous, 'filter' => 'Set+Filter')) . $qstring ?>"><i class="fas fa-chevron-left"></i></a></li>
            <?php endif ?>
            <?php if (isset($this->next)) : ?>
                <li class="page-item"><a class="page-link" href="<?= $this->url(array('page' => $this->next, 'filter' => 'Set+Filter')) . $qstring ?>"><i class="fas fa-chevron-right"></i></a></li>
            <?php endif ?>
        </ul>
    </nav>

<?php endif; ?>