<!-- begin history -->
<?php $this->headScript()->appendFile($this->baseUrl('../assets/permatalayout/assets/newlayout/css/canvajs.min.js')); ?>

<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	
//	title:{
//		text:"Fortune 500 Companies by Country"
	//},
	axisX:{
		interval: 2
	},
	axisY2:{
		interlacedColor: "rgba(1,77,101,.2)",
		gridColor: "rgba(1,77,101,.1)",
		title: "Queing"
	},
	data: [{        
		type: "bar",
		name: "companies",
		axisYType: "secondary",
		color: "#014D65",
		//showInLegend: true, 
		//legendMarkerColor: "grey",
		//legendText: "MMbbl = one million barrels",
		dataPoints: <?php echo $this->datajson; ?>
	}]
});
chart.render();

}
</script>

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('System Log'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Queing Log'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<div class="row content-box">
	<div class= "portlet-body form col-md-12">
		<h5><?=$this->language->_('Queing Log')?></h5>

		<div id="chartContainer"></div>

		<table border="0" width="100%" cellspacing="0" cellpadding="0" class="tableform table-sm table-striped">
				<tr>
					<th class="tbl-headercontent"><?php echo $this->language->_('Queing Name'); ?></th>
					<th class="tbl-headercontent"><?php echo $this->language->_('Queing'); ?></th>
				</tr>
		  		<?php
						if(is_array($this->data) && count($this->data)==0){
							?>
		<tr><td class="tbl-evencontent" colspan="4" align="center">There is	currently no data in this section</td></tr>
						<?php
						} else {
							$j = 0;
							foreach ($this->data as $val) {
								
						
								?>
								<tr>
		<td class="<?php
								echo $bgcolor?>"><?php
								echo $val['label']?></td>
		<td class="<?php
								echo $bgcolor?>"><?php
								echo $val['y']; ?></td>

		</tr>
						<?php
							}
						}
						?>
		  	</table>
	</div>
</div>


	
	
<!-- end history -->