<div class="tabheader" id="tabheader"><?php echo $this->language->_('Suggestion Detail - Setup Local Remittance Charges');?></div>
<?php if($this->changes_id){
	echo $this->action('message',
                   'tools',
                   'changemanagement',
                   array('changes_id' => $this->changes_id));
?>
<br />

<h2><?php echo $this->language->_('Local Remittance Charges')?></h2>
 <table cellpadding="3" cellspacing="0" border="0" class="tableform">
    <tr>
    	<th class="tdform-sub"><strong><?php echo $this->language->_('CCY')?></strong></th>
    	<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Amount')?></strong></th>
    </tr>
    <?php 
    if(count($this->chargesfee) > 0){
        $i = 0;
//         print_r(count($this->paginator));
        for ($i=0;$i< count($this->chargesfee);$i++)
        {
        	
		  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
// 		  if($this->paginator[$i]['CCY_ID']==)
		  $charges = $this->chargesfee[$i]['CHARGE_AMT'];
		  if($charges==''){
		  	$charges = 0;
		  }
		  echo '<tr>
				  <td class="'.$td_css.'"><input type="hidden" name="ccy[]" value="'.$this->chargesfee[$i]['CCY_ID'].'" >'.$this->chargesfee[$i]['CCY_ID'].'</td>
				  <td class="'.$td_css.'" colspan="3">'.$this->transferfee[$i]['CHARGE_AMOUNT_CCY'].' '.Application_Helper_General::displayMoney($charges).'</td>'		  
				  ?>
				  
				  <?php echo '</tr>';
	
        
  	  }
    }
   ?>  	
  </table>
<br />	
<table style="width:500px!important">
<tr>
<td>
<?php 
  echo $this->action('index',
                   'tools',
                   'changemanagement',
                   array('changes_id' => $this->changes_id));
  ?>
  </td>
  </tr>
  </table>
<?php }else{ ?>
<div id="content">--- No Data ---</div>
<?php } ?>