<?php
if ($this->cust_hidden) {
  $option_max15 = array('disabled' => true);
  $option_max40 = array('disabled' => true);
  $option_max20 = array('disabled' => true);
} else {
  $option_max15 = array('maxlength' => 15);
  $option_max40 = array('maxlength' => 40);
  $option_max20 = array('maxlength' => 20);
}

$option_max40['size'] = 43;
$option_max20['size'] = 23;
$option_max40_open = array('size' => 60, 'maxlength' => 40);
?>

<style type="text/css">
  input[type="radio"] {
    margin-left: 10px;
  }
</style>

<script type="text/javascript">
  //akan di onload pertama kali
  $(document).ready(function() {

    binType('<?php echo $this->bin_type; ?>');

    $("[name=expiredtime]").click(function() {
      var status = $(this).val();
      if (status == 1) {
        $('#set_predefined').show();
      } else {
        $('#set_predefined').hide();
        $('#ex_time').val('');
      }
    });

    $("[name=remaining_available_credit]").click(function() {
      var status = $(this).val();
      if (status == 1) {
        $('#autoreset').show();
      } else {
        $('#autoreset').hide();
        $('#ex_time_type_debit').val('1');
        $('#ex_time_weekly').hide();
        $('#ex_time_weekly').val('0');
        $('#ex_time_monthly').hide();
        $('#ex_time_monthly').val('1');
        $('#ex_time_yearly').hide();
        $('#ex_time_yearly_date').val('1');
        $('#ex_time_yearly_month').val('1');
      }
    });

    $('#cust_charges_status_<?php echo $this->cust_charges_status; ?>').attr('checked', 'checked');
    $('#cust_monthlyfee_status_<?php echo $this->cust_monthlyfee_status; ?>').attr('checked', 'checked');
    $('#cust_token_auth_<?php echo $this->cust_token_auth; ?>').attr('checked', 'checked');

    //pengaturan error messages
    <?php
    if (!is_null($this->customer_msg) || $this->customer_msg != '') {
      foreach ($this->customer_msg as $key => $error) {
    ?>
        $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
    <?php
      }
    }
    ?>

  });

  function resetData() {
    $('#cust_id').val('<?php echo $this->cust_id; ?>');
    $('#cust_name').val('<?php echo $this->cust_name; ?>');
    $('#cust_type').val('<?php echo $this->cust_type; ?>');
  }

  function binType(id) {
    if (id == '1') {
      $('#eCollection').prop('checked', true);
      $('#vaDebit').prop('checked', false);
      $('#div_eCollection').show();
      $('#div_vadebit').hide();
      $("[name=bin_type]").val('1');

      //-------------------------vp type------------------
      $('input[name=vptype][value="0"]').prop('checked', true);
      var vpType = '<?php echo $this->vptype; ?>';

      if (vpType != '') {
         $('input[name=vptype][value="'+vpType+'"]').prop('checked', true);
      }
      else{
        vpType = $('[name=vptype]').val();
      }

      //if vp type == dynamic close
      if (vpType == '0') {
        $('#partial_payment').val('1');
        $('#partial_payment').attr('readonly', 'readonly');
        $('#billing_method').val('0'); //total
        $('#billing_method').attr('readonly', 'readonly');
      }
      else{
        var partialPayment = '<?php echo $this->partial_payment; ?>';
        if (partialPayment != '') {
           $('#partial_payment').val(partialPayment);
        }

        $('#partial_payment').removeAttr('readonly');
        $('#billing_method').removeAttr('readonly');
      }

      //----------------partial payment--------------------
      var partial_payment = $('#partial_payment').val();
      if (partial_payment == '1') {
        var billingMethod = '<?php echo $this->billing_method; ?>';
        if (billingMethod != '') {
          $('#billing_method').val(billingMethod);
        }
        else{
          $('#billing_method').val('0');
        }

        $('#billing_method_total').prop('disabled', false);
      }
      else{
        $('#billing_method').val('3'); //selected
        $('#billing_method_total').prop('disabled', true);
      }

      //-----------allow skip-------------------
      var allowskip = '<?php echo $this->allowskip; ?>';
      if (allowskip != '') {
        if (allowskip == '0') {
          $('input[name=allowskip][value="0"]').prop('checked', true);
      }
      else{
          $('input[name=allowskip][value="1"]').prop('checked', true);
      }
      }
      else{
        $('input[name=allowskip][value="0"]').prop('checked', true);
      }

      //-------------expired time----------------------------
      var expiredtime = '<?php echo $this->expiredtime; ?>';
      //if set predefined
      if (expiredtime == '1') {
        $('#set_predefined').show();
        var ex_time_type = '<?php echo $this->ex_time_type; ?>';
        console.log(ex_time_type);
        $('#ex_time_type').val(ex_time_type);
      }

    } else if (id == '2') {
      $('#eCollection').prop('checked', false);
      $('#vaDebit').prop('checked', true);
      $('#div_eCollection').hide();
      $('#div_vadebit').show();
      $("[name=bin_type]").val('2');

      //-----------allow skip-------------------
      var allowskip_debit = '<?php echo $this->allowskip_debit; ?>';
      if (allowskip_debit != '') {
        if (allowskip_debit == '0') {
          $('input[name=allowskip_debit][value="0"]').prop('checked', true);
      }
      else{
          $('input[name=allowskip_debit][value="1"]').prop('checked', true);
      }
      }
      else{
        $('input[name=allowskip_debit][value="0"]').prop('checked', true);
      }

      //-------------expired time----------------------------
      var remainingcredit = '<?php echo $this->remaining_available_credit; ?>';
      //if set predefined
      if (remainingcredit == '1') {
        $('#autoreset').show();
        var ex_time_type = '<?php echo $this->ex_time_type; ?>';
        $('#ex_time_type_debit').val(ex_time_type);
        if (ex_time_type == '2') {
          var ex_time_weekly = '<?php echo $this->ex_time_weekly; ?>';
          $('#ex_time_weekly').show();
          $('#ex_time_weekly').val(ex_time_weekly);
        }
        else if (ex_time_type == '3') {
          var ex_time_monthly = '<?php echo $this->ex_time_monthly; ?>';
          $('#ex_time_monthly').show();
          $('#ex_time_monthly').val(ex_time_monthly);
        }
        else if (ex_time_type == '4') {
          var ex_time_yearly_date = '<?php echo $this->ex_time_yearly_date; ?>';
          var ex_time_yearly_month = '<?php echo $this->ex_time_yearly_month; ?>';
          $('#ex_time_yearly').show();
          $('#ex_time_yearly_date').val(ex_time_yearly_date);
          $('#ex_time_yearly_month').val(ex_time_yearly_month);
        }
      }
    }
  }

  function vpType(selected){
    var id = $(selected).val();
    if(id == '0'){
      $('#partial_payment').val('1');
      $('#partial_payment').attr('readonly', 'readonly');
      $('#billing_method').val('0'); //total
      $('#billing_method').attr('readonly', 'readonly');
    }
    else{
      $('#partial_payment').removeAttr('readonly');
      $('#billing_method').removeAttr('readonly');
    }
  }

  function partialPayment(selected){
    var id = $(selected).val();
    if(id != '1'){
      $('#billing_method_total').prop('disabled', true);
    }
    else{
    $('#billing_method').val('3'); //selected
    $('#billing_method_total').prop('disabled', false);
    }
  }

  function debitExTimeType(selected){
    var value = $(selected).val();

    if (value == '2') { //weekly
      $('#ex_time_weekly').show();
      $('#ex_time_monthly').hide();
      $('#ex_time_yearly').hide();
    }
    else if (value == '3') { //monthly
      $('#ex_time_weekly').hide();
      $('#ex_time_monthly').show();
      $('#ex_time_yearly').hide();
    }
    else if (value == '4') { //yearly
      $('#ex_time_weekly').hide();
      $('#ex_time_monthly').hide();
      $('#ex_time_yearly').show();
    }
    else{
       $('#ex_time_weekly').hide();
      $('#ex_time_monthly').hide();
      $('#ex_time_yearly').hide();
    }
  }
</script>
<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
            <span><?php echo $this->language->_('BIN'); ?></span>
            <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
            <span><?php echo $this->language->_('BIN Template'); ?></span>
            <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
            <span><?php echo $this->language->_('Edit'); ?></span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h5><?= $this->language->_('Edit BIN Template') ?></h5>
    <h6 class="greyFont"><?php echo $this->language->_('Set BIN parameter template setting base on role business case model'); ?></h6>

    <?php if ($this->success) { ?>
        <div class="successmsg"><?= $this->customer_msg ?></div><br />
    <?php } ?>

    <?php if (count($this->customer_msg) > 0) { ?>
        <div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit'); ?>.</div><br />
    <?php } ?>
    <br>
    <h7 class="greyFont"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></h7>

    <form name="Form" method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => 'edit', 'action' => 'index'), null, true) ?>">
      
    <?= $this->formHidden('bin_type', $this->bin_type); ?>
    <?php echo $this->formHidden('temp_code', $this->temp_code); ?>
    <?php
    $code_number = "B" . str_pad($this->template_code, 3, '0', STR_PAD_LEFT);
    ?>
    <div class="content-box">

      <div class="form-group row">
        <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Template Code') ?></label>
        <div class="col-md-8">
            <?php echo $code_number; ?>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Template Name') ?>&nbsp;<span class="errmsg">*</span></label>
        <div class="col-md-8">
            <?php echo $this->formText('template_name', $this->template_name, array('class' => 'form-control')); ?>
        </div>
        <div class="col-md-12" align="right">
          <div id="error_template_name" class="errmsg"></div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Description') ?></label>
        <div class="col-md-8">
            <?php echo $this->formText('template_description', $this->template_description, array('class' => 'form-control')); ?>
        </div>
        <div class="col-md-12" align="right">
          <div id="error_description" class="errmsg"></div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label"><?php echo $this->language->_('BIN Type') ?></label>
        <div class="col-md-8 pt-2">
      <?php echo $this->bin_type_text; ?>
          <input name="bType" type="radio" id="eCollection" value="1" onclick="binType('1')" style="display:none"> 
          <input name="bType" type="radio" id="vaDebit" value="2" onclick="binType('2')" style="display:none"> 
        </div>
      </div>
    </div>
      
    <!-- ECollection Session -->
    <div id="div_eCollection">
    <h5><?= $this->language->_('eCollection Parameter Setting') ?></h5>

    <br />

      <?php $mandatory = ($this->confirmPage == 1) ? "" : " <span style='color:red;'>*</span>"; ?>
      <?php $ispadding = ($this->confirmPage == 1) ? "pt-2" : ""; ?>

      <div class="content-box">
        <div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Virtual Account Type') ?></label>
            <div class="col-md-8 input-group <?= $ispadding ?>">
              <?php
              echo $this->formHidden('id', $this->id);
              if ($this->vptype == '') {
                $this->vptype = 0;
              }
              //yg lama
              // echo $this->formRadio('vptype', $this->vptype, array('class' => 'nominal', 'style' => 'margin-left:8px; margin-right: 5px;'), array(0 => 'Static', 1 => 'Dynamic'));

              //yg baru
              echo $this->formRadio('vptype', $this->vptype, array('class' => 'nominal', 'style' => 'margin-left:8px; margin-right: 5px;', 'onclick' => 'vpType(this)'), array(0 => 'Dynamic Close', 1 => 'Static Open', 2 => 'Static Close')) ?>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Expired Time') ?></label>
            <div class="col-md-8 input-group <?= $ispadding ?>">
              <?php
              if ($this->expiredtime == '') {
                $this->expiredtime = 0;
              } ?>
              <div class="col-md-12 row">
                <div class="col-5 input-group p-0">
                  <?php
                  echo $this->formRadio('expiredtime', $this->expiredtime, array('class' => 'syncTypes', 'style' => 'margin-left:8px; margin-right: 5px;'), array(0 => 'Input Later', 1 => 'Set Predefined')) ?>
                </div>
                <div class="col-7 input-group p-0">
                  <br>
                  <div id="set_predefined" class="form-row" style="display: none">
                    <div class="col-4">
                      <?php echo $this->formText('ex_time', $this->ex_time, array("style" => "text-align: center;", 'class' => 'form-control', 'onfocus' => "iNumFrmt(this.value,this.id)", 'onkeypress' => "return forceCurrencyOCBC(event)")); ?>
                    </div>
                    <div class="col-8">
                      <select name="ex_time_type" class="form-control" id="ex_time_type">
                        <option value="0"><?php echo $this->language->_('minute(s)') ?></option>
                        <option value="1"><?php echo $this->language->_('hour(s)') ?></option>
                        <option value="2"><?php echo $this->language->_('day(s)') ?></option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Allow skip error when uploading') ?></label>
            <div class="col-md-8 input-group <?= $ispadding ?>">
              <?php
              if ($this->allowskip == '') {
                $this->allowskip = 0;
              }
              echo $this->formRadio('allowskip', $this->allowskip, array('class' => 'syncTypes', 'style' => 'margin-left:8px; margin-right: 5px;'), array(0 => 'Yes', 1 => 'No')) ?>
            </div>
          </div>



          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Partial Payment') ?></label>
            <div class="col-md-8 input-group <?= $ispadding ?>">
              <select name="partial_payment" id="partial_payment" class="form-control" onchange="partialPayment(this)">
                <option value="0"><?php echo $this->language->_('Yes'); ?></option>
                <option value="1"><?php echo $this->language->_('No'); ?></option>
                <option value="2"><?php echo $this->language->_('Over'); ?></option>
              </select>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Billing Method') ?></label>
            <div class="col-md-8 input-group <?= $ispadding ?>">
              <select name="billing_method" id="billing_method" class="form-control">
                <option value="0" id="billing_method_total"><?php echo $this->language->_('Total'); ?></option>
                <option value="3"><?php echo $this->language->_('Selected'); ?></option>
                <option value="1"><?php echo $this->language->_('FIFO'); ?></option>
                <option value="2"><?php echo $this->language->_('LIFO'); ?></option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Buyer fee') ?></label>
            <div class="col-md-8 input-group <?= $ispadding ?>">
              <?php 
                if ($this->buyer_fee == '0') {
                  $this->buyer_fee = '';
                }
              ?>
              <div class="input-group-prepend">
                <div class="input-group-text" style="padding-left: 0; border: 0; background-color: white;">
                  <strong>
                    <span>IDR</span>
                  </strong>
                </div>
              </div>
              <?php echo $this->formText('buyer_fee', $this->buyer_fee, array('maxlength' => 80, 'size' => 57, 'maxlength' => '20', 'class' => 'currency qty form-control', "style" => "text-align: right;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "NumFrmt(this.value,this.id)", 'onkeypress' => "return forceCurrencyOCBC(event)")); ?></div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Seller fee') ?></label>
            <div class="col-md-8 input-group <?= $ispadding ?>">
               <?php 
                if ($this->seller_fee == '0') {
                  $this->seller_fee = '';
                }
              ?>
              <div class="input-group-prepend">
                <div class="input-group-text" style="padding-left: 0; border: 0; background-color: white;">
                  <strong>
                    <span>IDR</span>
                  </strong>
                </div>
              </div>
              <?php echo $this->formText('seller_fee', $this->seller_fee, array('maxlength' => 80, 'size' => 57, 'maxlength' => '20', 'class' => 'currency qty form-control', "style" => "text-align: right;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "NumFrmt(this.value,this.id)", 'onkeypress' => "return forceCurrencyOCBC(event)")); ?>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><?php echo $this->language->_('VP Min Amount') ?>&nbsp;<span class="errmsg">*</span></label>
            <div class="col-md-8 input-group <?= $ispadding ?>">
              <?php 
                if ($this->vp_min == '0') {
                  $this->vp_min = '';
                }
              ?>
              <div class="input-group-prepend">
                <div class="input-group-text" style="padding-left: 0; border: 0; background-color: white;">
                  <strong>
                    <span>IDR</span>
                  </strong>
                </div>
              </div>
              <?php echo $this->formText('vp_min', $this->vp_min, array('maxlength' => 80, 'size' => 57, 'maxlength' => '20', 'class' => 'currency qty form-control', "style" => "text-align: right;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "NumFrmt(this.value,this.id)", 'onkeypress' => "return forceCurrencyOCBC(event)")); ?>
            </div>
            <div class="col-md-12" align="right">
              <div id="error_vp_min" class="errmsg"></div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><?php echo $this->language->_('VP Max Amount') ?>&nbsp;<span class="errmsg">*</span></label>
            <div class="col-md-8 input-group <?= $ispadding ?>">
              <?php 
                if ($this->vp_max == '0') {
                  $this->vp_max = '';
                }
              ?>
              <div class="input-group-prepend">
                <div class="input-group-text" style="padding-left: 0; border: 0; background-color: white;">
                  <strong>
                    <span>IDR</span>
                  </strong>
                </div>
              </div>
              <?php echo $this->formText('vp_max', $this->vp_max, array('maxlength' => 80, 'size' => 57, 'maxlength' => '20', 'class' => 'currency qty form-control', "style" => "text-align: right;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "NumFrmt(this.value,this.id)", 'onkeypress' => "return forceCurrencyOCBC(event)")); ?>
            </div>
            <div class="col-md-12" align="right">
              <div id="error_vp_max" class="errmsg"></div> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End ECollection Session -->

     <!-- VA Debit Session -->
    <div id="div_vadebit">
    <h5><?= $this->language->_('VA Debit Parameter Setting') ?></h5>

    <br />
    <div>
      <div class="form-group row col-md-12">
        <?php foreach ($this->bintemplate as $bintemplate) { ?>
          <button type="button" class="btnwhite hov btntemplate" id="btntemplate<?= $bintemplate['TEMP_CODE'] ?>" onclick="templateid(<?= $bintemplate['TEMP_CODE'] ?>)"><?= $bintemplate['TEMP_NAME'] ?></button>
        <?php } ?>
      </div>
    </div>

      <?php $mandatory = ($this->confirmPage == 1) ? "" : " <span style='color:red;'>*</span>"; ?>
      <?php $ispadding = ($this->confirmPage == 1) ? "pt-2" : ""; ?>

      <div class="content-box">
        <div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Allow skip error when uploading') ?></label>
            <div class="col-md-8 input-group <?= $ispadding ?>">
              <?php
              if ($this->allowskip_debit == '') {
                $this->allowskip_debit = 0;
              }
              echo $this->formRadio('allowskip_debit', $this->allowskip_debit, array('class' => 'syncTypes', 'style' => 'margin-left:8px; margin-right: 5px;'), array(0 => 'Yes', 1 => 'No')) ?>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><?php echo $this->language->_('VA Available Credit Max Limit') ?>&nbsp;<span class="errmsg">*</span></label>
            <div class="col-md-8 input-group <?= $ispadding ?>">
              <?php 
                if ($this->va_credit_max == '0') {
                  $this->va_credit_max = '';
                }
              ?>
              <div class="input-group-prepend">
                <div class="input-group-text" style="padding-left: 0; border: 0; background-color: white;">
                  <strong>
                    <span>IDR</span>
                  </strong>
                </div>
              </div>
              <?php echo $this->formText('va_credit_max', $this->va_credit_max, array('maxlength' => 80, 'size' => 57, 'maxlength' => '20', 'class' => 'currency qty form-control', "style" => "text-align: right;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "NumFrmt(this.value,this.id)", 'onkeypress' => "return forceCurrencyOCBC(event)")); ?>  
            </div>
            <div class="col-md-12" align="right">
              <div id="error_va_credit_max" class="errmsg"></div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><?php echo $this->language->_('VA Daily Limit Transaction') ?>&nbsp;<span class="errmsg">*</span></label>
            <div class="col-md-8 input-group <?= $ispadding ?>">
              <?php 
                if ($this->va_daily_limit == '0') {
                  $this->va_daily_limit = '';
                }
              ?>
              <div class="input-group-prepend">
                <div class="input-group-text" style="padding-left: 0; border: 0; background-color: white;">
                  <strong>
                    <span>IDR</span>
                  </strong>
                </div>
              </div>
              <?php echo $this->formText('va_daily_limit', $this->va_daily_limit, array('maxlength' => 80, 'size' => 57, 'maxlength' => '20', 'class' => 'currency qty form-control', "style" => "text-align: right;", 'onfocus' => "iNumFrmt(this.value,this.id)", 'onblur' => "NumFrmt(this.value,this.id)", 'onkeypress' => "return forceCurrencyOCBC(event)")); ?>
            </div>
            <div class="col-md-12" align="right">
              <div id="error_va_daily_limit" class="errmsg"></div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Remaining Available Credit') ?></label>
            <div class="col-md-8 input-group <?= $ispadding ?>">
              <?php
              if ($this->remaining_available_credit == '') {
                $this->remaining_available_credit = 0;
              } ?>
              <div class="col-md-12 row">
                <div class="col-5 input-group p-0">
                  <?php
                  echo $this->formRadio('remaining_available_credit', $this->remaining_available_credit, array('class' => 'syncTypes', 'style' => 'margin-left:8px; margin-right: 5px;'), array(0 => 'Accumulate', 1 => 'Auto Reset')) ?>
                </div>
                <div class="col-7 input-group p-0">
                  <br>
                  <div id="autoreset" class="form-row col-md-12" style="display: none">
                    <div class="col-4">
                      <select name="ex_time_type_debit" class="form-control" onchange="debitExTimeType(this)" id="ex_time_type_debit">
                        <option value="1"><?php echo $this->language->_('Daily') ?></option>
                        <option value="2"><?php echo $this->language->_('Weekly') ?></option>
                        <option value="3"><?php echo $this->language->_('Monthly') ?></option>
                        <option value="4"><?php echo $this->language->_('Yearly') ?></option>
                      </select>
                    </div>
                    <div class="col-8">
                      
                      <select name="ex_time_weekly" class="form-control" id="ex_time_weekly" style="display: none;">
                        <option value="0"><?php echo $this->language->_('Monday') ?></option>
                        <option value="1"><?php echo $this->language->_('Tuesday') ?></option>
                        <option value="2"><?php echo $this->language->_('Wednesday') ?></option>
                        <option value="3"><?php echo $this->language->_('Thursday') ?></option>
                        <option value="4"><?php echo $this->language->_('Friday') ?></option>
                        <option value="5"><?php echo $this->language->_('Saturday') ?></option>
                        <option value="6"><?php echo $this->language->_('Sunday') ?></option>
                      </select>

                      <select name="ex_time_monthly" class="form-control" id="ex_time_monthly" style="display: none;">
                        <?php for($i=1; $i<=31; $i++){ ?>
                          <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                        <?php } ?>
                      </select>
                      
                      <div class="input-group" id="ex_time_yearly" style="display: none;">
                        <select name="ex_time_yearly_date" class="form-control col-md-6" id="ex_time_yearly_date">
                          <?php for($i=1; $i<=31; $i++){ ?>
                            <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                          <?php } ?>
                        </select>
                        <select name="ex_time_yearly_month" class="form-control col-md-6" id="ex_time_yearly_month">
                          <?php
                            $monthArr = array(
                              1 => 'January',
                              2 => 'February',
                              3 => 'March',
                              4 => 'April',
                              5 => 'May',
                              6 => 'June',
                              7 => 'July',
                              8 => 'August',
                              9 => 'September',
                              10 => 'October',
                              11 => 'November',
                              12 => 'December'
                            );


                            foreach ($monthArr as $key => $value) {   
                            ?>
                            <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
                          <?php } ?>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- End ECollection Session -->
  </div>

  <div class="form-group row col-md-12" style="text-align: center">
    <?php if ($this->in_temp) {
        echo '<p class="text-danger mx-auto">*'.$this->language->_('No changes allowed for this record while awaiting approval for previous change').'</p>';
    } ?>
    <br>
    <div class="col-md-12">
      <?php
      echo $this->formButton('back', $this->language->_('Back'), array('onclick' => 'location.href=\'/bintemplate\'', 'class' => 'btnwhite hov'));
      echo '&nbsp;&nbsp;';?>

      <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Reset') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'temp_code' => $this->temp_code), null, true) ?>'">

      <?php

      if (!$this->in_temp) {
           echo $this->formSubmit('submit', $this->language->_('Submit'), array('class' => 'btngreen hov'));
           echo '&nbsp;&nbsp;';
      

     
      //    echo $this->formButton('reset','Reset',array('class'=>'inputbtn','onclick'=>'resetData()'));
      //    echo '&nbsp;&nbsp;'; 
      //    echo '<span>'.$this->formSubmit('pdf','PDF',array('class'=>'inputbtn')).'</span>';

      ?>
        <?php } ?>
    </div>
  </div>


  <br />

    </form>


    <script type="text/javascript">
      function changeDateEstablish() {
        if (document.getElementById('cust_type').value == 'E0')
          document.getElementById('dateEstablish').innerHTML = '&nbsp;<span class="errmsg">*</span>';
        else
          document.getElementById('dateEstablish').innerHTML = '';
      }
      <?php if ($this->cust_type == 'E0') { ?>
        changeDateEstablish();
      <?php } ?>
    </script>



  </div>
</div>