<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php 
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<style>
@media print{
    .hidden, .hidden * {
		display: none !important;
		visibility: hidden;
	}

	button {
		display: none !important;
		visibility: hidden;
	}
	
	/*form {
		display: none !important;
		visibility: hidden;
	}*/
	
	.hiddenLogo, .hiddenLogo * {
		display: inline !important;
		visibility: show;
	}
	
	input.currency{ width: 200px; font-size: 10px; } 
	ul { padding-left:10px; } 
	h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed } 
	body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; } 
	b { font-weight:bold; font-size:11px } 
	td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; } 
	a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; } 
	.tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } 
	.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; } 
	.errmsg { font-weight:bold; font-size:11px; color:#FF0000 } 
	body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	-webkit-print-color-adjust:exact; /*chrome*/ 
	-moz-print-color-adjust:exact; /*mozila*/
	-o-print-color-adjust:exact; /*opera*/
	-ms-print-color-adjust:exact; /*ie*/
	}
}

</style>
<?php $this->layout()->setLayout('popup');?>
<?php $masterReport = $this->language->_('Master Report')?>
<?php $beneficiaryList = $this->language->_('Beneficiary List')?>
<?php $detail = $this->language->_('Detail')?>
<?php $beneficiaryDet = $this->language->_('Beneficiary Detail')?>
<?php $print = $this->language->_('PRINT')?>

<b class="hidden"><?php echo $masterReport?> &gt; <?php echo $beneficiaryList?> &gt; <?php echo $detail?></b><br /><br />
<div class="tabheader hidden" id="tabheader"><?php echo $beneficiaryDet?></div>
<h2><?php echo $beneficiaryDet?></h2>
<?php echo $this->templateDetail;?>
<br />
<br />
<div class="formbutton" align="left">
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">

<!-- 
<input class="inputbtn" value="Close" onclick="window.close();" type="button">&nbsp;
 -->
<?php echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn hidden')); ?>&nbsp;
<input class="inputbtn hidden" value="<?php echo $print?>" onclick="window.print();" type="button">
</form>
</div>