<script>
  $(document).ready(function() {
    $(".tokeninput").keyup(function(e) {

      if ((e.which == 8 || e.which == 46) && $(this).val() == '') {
        $(this).prev().focus();
      } else {
        $(this).next().focus();
      }
    });
  });
</script>

 <div class="row">
   <div class="col-md-12">
     <div class="page-bar">
       <ul class="page-breadcrumb">
         <li>
           <span><?php echo $this->language->_('Transaction'); ?></span>
           <i class="fa fa-angle-right pl-1 pr-1"></i>
         </li>
         <li>
           <span><?php echo $this->language->_('SP2D Fund Transfer'); ?></span>
           <i class="fa fa-angle-right pl-1 pr-1"></i>
         </li>
         <li>
           <span><?php echo $this->language->_('Confirmation'); ?></span>
         </li>
       </ul>
     </div>
   </div>
 </div>

<br>
<?php
if ($this->error) {  ?>
  <div class="alert alert-danger">
    <?php
    echo $this->language->_($this->ERROR_MSG);
    ?>
  </div><br />
<?php
}
?>

 <br>

 <div class="portlet-body form">
   <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'confirm'), null, true) ?>" method="post">
     <div class="row">
       <div class="col-md-7">
	   
		    <div class="form-group row ">
          <div class="col-md-12">
            <h6><?php echo $this->language->_('SP2D'); ?></h6>
			      <label style=" font-size: 11px;"><?php echo $this->language->_('Surat Perintah Pencairan Dana'); ?></label>
          </div>
        </div>
	   
        <div class="form-group row ">
          <div class="col-md-12">
            <h6><?php echo $this->language->_('SP2D Information'); ?></h6>
          </div>
        </div>
         <div class="">
           <div class="form-group row">
             <label class="col-form-label col-md-4"><?php echo $this->language->_('No SP2D'); ?></label>
             <div class="col-md-8">
               <?= $this->paramSession['no_sp2d'] ?>
             </div>
           </div>
           <div class="form-group row pt-1">
             <label class="col-form-label col-md-4"><?php echo $this->language->_('SP2D Date'); ?></label>
             <div class="col-md-8">
               <?= $this->paramSession['sp2dDate'] ?>
             </div>
           </div>
           <div class="form-group row pt-1">
             <label class="col-form-label col-md-4"><?php echo $this->language->_('No SPM'); ?></label>
             <div class="col-md-8">
               <?= $this->paramSession['noSpm'] ?>
             </div>
           </div>
           <div class="form-group row pt-1">
             <label class="col-form-label col-md-4"><?php echo $this->language->_('SPM Date'); ?></label>
             <div class="col-md-8">
               <?= $this->paramSession['spmDate'] ?>
             </div>
           </div>
           <div class="form-group row pt-1">
             <label class="col-form-label col-md-4"><?php echo $this->language->_('SKPD Name'); ?></label>
             <div class="col-md-8">
               <?= $this->paramSession['skpdName'] ?>
             </div>
           </div>
           <div class="form-group row pt-1">
             <label class="col-form-label col-md-4"><?php echo $this->language->_('SPP Type'); ?></label>
             <div class="col-md-8">
               <?= $this->paramSession['sppType'] ?>
             </div>
           </div>
         </div>

         <div class="form-group row ">
           <div class="col-md-12">
             <h6><?php echo $this->language->_('Transaction Information'); ?></h6>
           </div>
         </div>

         <div class="">
           <div class="form-group row">
             <label class="col-md-4 col-form-label"><?= $this->language->_('Beneficiary Bank') ?></label>
             <div class="col-md-8 pt-2">
               <?= $this->paramSession['ACBENEF_BANK'] ?>
             </div>
           </div>
           <div class="form-group row">
             <label class="col-md-4 col-form-label"><?= $this->language->_('Beneficiary Account ') ?></label>
             <div class="col-md-8 pt-2">
               <?= $this->paramSession['ACBENEF'] ?>
             </div>
           </div>
           <div class="form-group row">
             <label class="col-md-4 col-form-label"><?= $this->language->_('Beneficiary Name') ?></label>
             <div class="col-md-8 pt-2">
               <?= $this->paramSession['ACBENEF_NAME'] ?>
             </div>
           </div>
           <div class="form-group row">
             <label class="col-md-4 col-form-label"><?= $this->language->_('Beneficiary Identity') ?></label>
             <div class="col-md-8 pt-2">
               <strong>NPWP</strong> <?= $this->paramSession['ACBENEF_IDENTITY'] ?>
             </div>
           </div>
           <div class="form-group row">
             <label class="col-md-4 col-form-label"><?= $this->language->_('Transaction Purpose') ?></label>
             <div class="col-md-8 pt-2">
               <?= $this->paramSession['transactionPurpose'] ?>
             </div>
           </div>

           <div class="form-group row">
             <label class="col-md-4 col-form-label"><?= $this->language->_('Description') ?></label>
             <div class="col-md-8 pt-2">
               <?= nl2br($this->paramSession['description']) ?>
             </div>
           </div>

           <div class="form-group row pt-2">
             <label class="col-md-4 col-form-label"><?= $this->language->_('Actual Amount') ?></label>
             <div class="col-md-8">
               <strong>IDR</strong> <?= $this->paramSession['actualAmount'] ?>

             </div>
           </div>
           <div class="form-group row pt-2">
             <label class="col-md-4 col-form-label"><?= $this->language->_('Deduction Amount') ?></label>
             <div class="col-md-8">
               <strong>IDR</strong> <?= $this->paramSession['deductionAmount'] ?>
             </div>
           </div>
           <div class="form-group row pt-2">
             <label class="col-md-4 col-form-label"><?= $this->language->_('Total Amount') ?></label>
             <div class="col-md-8">
               <strong>IDR</strong> <?= $this->paramSession['totalAmount'] ?>
             </div>
           </div>
         </div>
		 
		    <div class="form-group row ">
          <div class="col-md-12">
            <h6><?php echo $this->language->_('Source Account'); ?></h6>
          </div>
        </div>
		
        <div class="">
          <div class="form-group row">
            <label class="col-md-4 col-form-label"><?= $this->language->_('Payment Ref') ?>#</label>
            <div class="col-md-8 pt-2">
              <?= $this->language->_('auto generate'); ?>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label"><?= $this->language->_('Payment Subject') ?></label>
            <div class="col-md-8 pt-2">
              <?= $this->paramSession['PS_SUBJECT'] ?>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-md-4"><?php echo $this->language->_('Source Account'); ?></label>
            <div class="col-md-8 pt-2">
            <?= $this->paramSession['ACCTSRC'] ?> [<?= $this->CustCCY ?>] / <?= $this->CustAliasName ?> / <?= $this->CustName ?>
            </div>
          </div>
        </div>
		 


        <div class="form-group row ">
          <div class="col-md-12">
            <h6><?php echo $this->language->_('Transfer Date'); ?></h6>
             
          </div>
        </div>
		
        <div class=""> 

          <?php
          if ($this->paramSession['tranferdatetype'] == "1") {
            $type_payment = $this->language->_('Today Transfer');
          } elseif ($this->paramSession['tranferdatetype'] == "2") {
            $type_payment = $this->language->_('Future Date Transfer');
          } else {
            $type_payment = $this->language->_('Periodic Transfer');
          }
          if ($this->paramSession['tranferdatetype'] != '3') { //NOT PERIODIC
          ?>
           <div class="form-group row">
             <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Payment Date'); ?></label>
             <div class="col-sm-8 <?= $ispadding ?>">
               <?php echo $this->Date($this->paramSession['PS_EFDATE'], $this->viewDateFormat, $this->displayDateFormat); ?>
             </div>
           </div>
         <?php } else {  // if $this->TrfDateType = 'PERIODIC'
            if ($this->paramSession['tranferdateperiodictype'] == '5') {
              $label = $this->language->_('Every');
            } else {
              $label = $this->language->_('Every Date Of');
            }
          ?>
           <div class="form-group row">
             <label class="col-sm-4 col-form-label"><?php echo $label; ?></label>
             <div class="col-sm-8 <?= $ispadding ?>">
               <?php
                if ($this->paramSession['tranferdateperiodictype'] == '5') {
                  $PERIODIC_EVERY_view = (array_key_exists($this->paramSession['periodicValue'], $this->periodicEveryArr)) ? $this->periodicEveryArr[$this->paramSession['periodicValue']] : "";
                  echo $PERIODIC_EVERY_view;
                } else {
                  echo $this->paramSession['periodicValue'];
                }
                ?>
             </div>
           </div>

           <div class="form-group row">
             <label class="col-sm-4 col-form-label"><?php echo $this->language->_('End Date'); ?></label>
             <div class="col-sm-8 <?= $ispadding ?>">
               <?php
                echo $this->Date($this->paramSession['PS_ENDDATEPERIODIC'], $this->viewDateFormat, $this->displayDateFormat);
                ?>
             </div>
           </div>

         <?php
          } //end NOT PERIODIC
          ?>

         <div class="form-group row">
           <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Payment Type'); ?></label>
           <div class="col-sm-8 pt-2">
             <?php echo $type_payment; ?>
           </div>
         </div>

          <!-- <div class="form-group row">
            <label class="col-md-4 col-form-label"><?= $this->language->_('Payment Ref') ?>#</label>
            <div class="col-md-8 pt-2">
              <?= $this->language->_('auto generate'); ?>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label"><?= $this->language->_('Payment Subject') ?></label>
            <div class="col-md-8 pt-2">
              <?= $this->paramSession['PS_SUBJECT'] ?>
            </div>
          </div> -->

          <!-- <div class="form-group row">
            <label class="col-form-label col-md-4"><?php echo $this->language->_('Source Account'); ?></label>
            <div class="col-md-8 pt-2">
            <?= $this->paramSession['ACCTSRC'] ?> [<?= $this->CustCCY ?>] / <?= $this->CustAliasName ?> / <?= $this->CustName ?>
            </div>
          </div> -->
        </div>


       </div>

       <div class="col-md-5">
         <!-- <div class="panel-heading" style="color: #000;">
           <strong class="homeCardText"><?php echo $this->language->_('Transfer Date'); ?></strong>
         </div>
         <hr style="margin-top: 0;margin-bottom: 0;"> -->
         

         <!-- <div class="panel-heading" style="color: #000;padding-top: 10px;">
           <strong class="homeCardText"><?php echo $this->language->_('Notification'); ?></strong>
         </div> -->
         <!-- <hr style="margin-top: 0;margin-bottom: 0;">

         <div class="form-group row">
           <label class="col-sm-5 col-form-label"><?php echo $this->language->_('Send Notification ?'); ?></label>
           <div class="col-sm-7 pt-2">
             <?= $this->paramSession['notif'] == "1" ? $this->language->_('Send') : $this->language->_("Don't Send") ?>
           </div>
         </div> -->
         <!-- <?php if ($this->paramSession['notif'] == "1") { ?>
           <div class="form-group row">
             <label class="col-sm-5 col-form-label"><?php echo $this->language->_('Email'); ?></label>
             <div class="col-sm-7 pt-2">
               <?php echo $this->paramSession['email'] ?>
             </div>
           </div>
           <div class="form-group row">
             <label class="col-sm-5 col-form-label"><?php echo $this->language->_('SMS'); ?></label>
             <div class="col-sm-7 pt-2">
               <?php echo $this->paramSession['sms'] ?>
             </div>
           </div>
         <?php } ?> -->
         <!-- <div class="form-group row">
           <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Notification Confirmation'); ?></label>

         </div> -->
       </div>
     </div>

     <?php
    if (!$this->hidetoken) {
    ?>
      <?php if ($this->token) { ?>

        <?php if ($this->googleauth) {?>

        <div class="modal fade" id="tokenmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h4 class="modal-title w-100 font-weight-bold" style="margin-left: 25px;">Google Auth Verify</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mx-3">
                  <div class="col-md-14" align="center">
                    <table width="70%">
                      <tbody>
                        <!-- <tr><td align="center"><h5 style="color: #006520;"><?php echo $this->language->_('Release on behalf of'); ?>:</h5></td></tr>
                          <tr><td align="center" style="padding-bottom: 2em;"><b><?= $this->userOnBehalf; ?></b></td></tr>
                            <input name="userOnBehalf" value="<?= $this->userOnBehalf ?>" type="hidden"> -->

                        <!--  <tr><td><?php echo $this->language->_('Challenge Code'); ?>:</td></tr>
                          <tr><td style="padding-bottom: 2em;"><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>

                          <tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 2'); ?>:</td></tr> -->

                        <!-- <tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 1'); ?>:</td></tr> -->
                        <tr>
                          <td align="center">
                            <div class="input-group">
                              <input class="tokeninput firsttokenfield mx-auto" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                              <input class="tokeninput" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                              <input class="tokeninput" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                              <input class="tokeninput" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                              <input class="tokeninput" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                              <input class="tokeninput" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
                  <?php echo $this->formSubmit('submitBtn', ($this->confirmPage != 1 && $this->useConfirmPage == true) ? $this->language->_('Confirm') : $this->language->_('Submit'), array('class' => 'btngreen hov', "onclick" => "proceed('submit');"));  ?>
                </div>
              </div>
            </div>
          </div>


        <?php
        } else { ?>

          <div class="modal fade" id="tokenmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h4 class="modal-title w-100 font-weight-bold" style="margin-left: 25px;">Token Verify</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mx-3">
                  <div class="col-md-12" align="center">
                    <table width="70%">
                      <tbody>
                        <tr>
                          <td align="center">
                            <h5 style="color: #006520;"><?php echo $this->language->_('Release on behalf of'); ?>:</h5>
                          </td>
                        </tr>
                        <tr>
                          <td align="center" style="padding-bottom: 2em;"><b><?= $this->userOnBehalf; ?></b></td>
                        </tr>
                        <input name="userOnBehalf" value="<?= $this->userOnBehalf ?>" type="hidden">

                        <!-- <tr><td><?php echo $this->language->_('Challenge Code'); ?>:</td></tr>
                          <tr><td style="padding-bottom: 2em;"><input class="form-control" name="challengeCode" size="12" maxlength="20" value="<?= $this->challengeCode ?>" style="text-align: center; font-weight: bold; font-size: 16px;" readonly="readonly" type="text"></td></tr>

                          <tr><td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 2'); ?>:</td></tr> -->

                        <tr>
                          <td style="padding-bottom: 1em;"><?php echo $this->language->_('Response Token APLI 1'); ?>:</td>
                        </tr>
                        <tr>
                          <td align="center">
                            <div class="input-group">
                              <input class="tokeninput mx-auto" name="inputtoken1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                              <input class="tokeninput" name="inputtoken2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                              <input class="tokeninput" name="inputtoken3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                              <input class="tokeninput" name="inputtoken4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                              <input class="tokeninput" name="inputtoken5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                              <input class="tokeninput" name="inputtoken6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
                  <input type="submit" class="btngreen hov" name="submit" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit') ?>" />
                  <input type="submit" class="btngreen hov" id="Submit_id" name="submit" value="<?php echo $this->language->_('Submit') ?>" disabled style="display:none" />
                </div>
              </div>
            </div>
          </div>
    <?php 
        }
      }
    }  
    ?>

     <div class="row md-5">
       <div class="col-md-12" align="center">
         <hr />
         <!-- <?php echo $this->formButton('back', $this->language->_('Back'), array('class' => 'btnwhite hov', "onclick" => "window.location='/payment/newtax/next'"));  ?> -->


         <input type="submit" name="submit1" value="<?php echo $this->language->_('Back'); ?>" class="btnwhite hov" />
          <?php
          if (!$this->hidetoken) {
           if (!$this->token) {
          ?>
              <input type="submit" name="submit" value="<?php echo $this->language->_('Submit'); ?>" class="btngreen hov" />
            <?php
            } else {
            ?>

              
              <button class="btngreen hov" type="button" data-toggle="modal" data-target="#tokenmodal">&nbsp;<?php echo $this->language->_('Submit'); ?></button>

              <script>
                function submitbtn() {
                  //document.getElementById("subbutton").disabled=true;
                  document.getElementById("subbutton").style.display = "none";
                  document.getElementById("Submit_id").style.display = "inline";
                  //Validation code goes here
                }
              </script>
              
          <?php 
            }
          } ?>
         
       </div>
     </div>

   </form>
 </div>