<!-- <b><?php echo $this->language->_('General'); ?> > <?php echo $this->language->_('Help List'); ?> > <?php echo $this->language->_('Edit'); ?> </b><br /><br /> -->


<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	               <li>
	                    <span><?php echo $this->language->_('User Guide'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span><?php echo $this->language->_('Edit'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<?php
	if($this->error) {
?>
	<div class="errmsg">
<?php
	if($this->helpTopicErr) 
		echo $this->formErrors($this->helpTopicErr);
?>
	</div><br />
<?php } else if($this->success){ ?>
	<div class="successmsg"><?php echo $this->successMsg; ?></div><br />
<?php } ?>


<div class="row content-box">
	<div class= "portlet-body form col-md-12">
		<table cellpadding="3" cellspacing="0" border="0" class="tableform">
			<form name="acstat_query" enctype="multipart/form-data" method="post" action="">
			<h5><?=$this->language->_('Edit Guide')?></h5>
  			<tr>
  				<td colspan="5" class="tbl-evencontent">
  				<b></b><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
  				</td>
  			</tr>
			<tr>
			    <td class="tbl-evencontent"><?php echo $this->formLabel('Help Topic*',$this->language->_('Help Topic')); ?>&nbsp;<span class="errmsg">*</span></td>
			    <td class="tbl-evencontent">:</td>
			    <td class="tbl-evencontent" colspan="4">
			     	<?php  echo $this->formText('helpTopic',$this->helpTopic,array('maxlength'=>'50','size'=>'50','onfocus'=>'return noSpecialChar3(event);','class'=>'form-control')); ?>
				</td>
			</tr>
			<tr>
			    <td class="tbl-evencontent"><?php echo $this->language->_('Upload File')?>&nbsp;<span class="errmsg">*</span></td>
			    <td class="tbl-evencontent">:</td>
			    <td class="tbl-evencontent">
			    	<br>
			     	<?php echo $this->formFile('document', $this->document, array('size' => 50)); ?>
					<br><i> *) <?php echo $this->language->_('Only file in pdf format will be accepted')?></i>
				</td>
			</tr>
			<tr>
			    <td class="tbl-evencontent"><?php echo $this->language->_('Help Description')?>&nbsp;<span class="errmsg">*</span></td>
			    <td class="tbl-evencontent">:</td>
			    <td class="tbl-evencontent" colspan="4">
			    	<br>
			     	<?php echo $this->formTextarea('description', $this->description, array('cols'=>'30','rows'=>'4',
								'onKeyDown'=>'textCounter(this.form.description,this.form.disable_note_len,100)', 
								'onKeyUp'=>'textCounter(this.form.description,this.form.disable_note_len,100)', 
								'onKeypress'=>'return noSpecialChar3(event);','class'=>'form-control')); echo '<br />';	
							echo $this->formText('disable_note_len', $this->disable_note_len, array('readonly'=>'readonly','size'=>'2')); ?> <?php echo $this->language->_('char(s) left');?>
				</td>
			</tr>
		</table>
		<br>
			<div class="formbutton">			
				<?php echo $this->formButton('back',$this->language->_('Back'),array('onclick' => 'location.href= \'/helplist\'', 'class' => 'btnwhite hov'));?>&nbsp;
				<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
						<!--<?php echo $this->formReset('Reset',$this->language->_('Reset'),array('class'=>'inputbtn')); ?>-->
				<input type="button" name="clearfilter" class="btngreen hov" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','HELP_ID'=>$this->HELP_ID),null,true)?>'">
			</div>
		</form>
	</div>
</div>

<!-- 
<form name="acstat_query" enctype="multipart/form-data" method="post" action="">
	<div class="tabheader" id="tabheader"><?php echo $this->language->_('Help Management'); ?></div>
	<?php
		if($this->error)
		{
	?>
			<div class="errmsg">
			<?php
				if($this->helpTopicErr) 
					echo $this->formErrors($this->helpTopicErr);
			?>
			</div><br />
	<?php
		}
		else if($this->success)
		{ 
	?>
			<div class="successmsg"><?php echo $this->successMsg; ?></div><br />
	<?php 
		} 
	?>
	<br>
	<table align="left" border="0" cellpadding="0" cellspacing="0" width="700">
		<tbody>
			<tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Edit Help'); ?></strong></th></tr>
			<tr><td colspan="3" class="tbl-evencontent"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></th></tr>
			<tr>
				<td class="tbl-evencontent"><?php echo $this->formLabel('Help Topic*',$this->language->_('Help Topic')); ?><span class="errmsg">*</span></td>
				<td class="tbl-evencontent"><?php  echo $this->formText('helpTopic',$this->helpTopic,array('maxlength'=>'50','size'=>'50')); ?></td>
			</tr>
			<tr>
				<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('Help Description'); ?></td>
				<td class="tbl-evencontent" id="tbl-evencontent">
					<?php echo $this->formTextarea('description', $this->description, array('cols'=>'30','rows'=>'4',
								'onKeyDown'=>'textCounter(this.form.description,this.form.disable_note_len,100)', 
								'onKeyUp'=>'textCounter(this.form.description,this.form.disable_note_len,100)', 
								'onKeypress'=>'return noSpecialChar3(event);')); echo '<br />';		  
								echo $this->formText('disable_note_len', $this->disable_note_len, array('readonly'=>'readonly','size'=>'2')); ?> <?php echo $this->language->_('char(s) left');?>
					
				</td>
			</tr>
			<tr>
				<td class="tbl-evencontent" id="tbl-evencontent"><?php echo $this->language->_('File Name')?><strong class="formreq">&nbsp;<span class="errmsg">*</span></strong></td>
				<td class="tbl-evencontent"><?php echo $this->formLabel('File',$this->file); ?></td>
			</tr>
			<tr><td colspan="3">&nbsp;</td></tr>
			<tr>
				<td class="button-area" id="button-area" colspan="2">
					<div class="formbutton">
						<?php echo $this->formButton('back',$this->language->_('Back'),array('onclick' => 'location.href= \'/helplist\'', 'class' => 'inputbtn'));?>&nbsp;
						<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn')); ?>
						<!--<?php echo $this->formReset('Reset',$this->language->_('Reset'),array('class'=>'inputbtn')); ?>-->
						
						<!--<input type="button" name="clearfilter" class="inputbtn" value="<?php echo $this->language->_('Reset')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','HELP_ID'=>$this->HELP_ID),null,true)?>'">
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</form> -->
