<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>

<div style="display:none" class="hiddenLogo" style="padding: 0px 20px 0px 0px"><img src="/images/logo/logo_pdf969.jpg" border="0"/></div>

<br>

<div class="container-fluid" style="padding-left: 0; padding-right: 0;">
  <div class="col-md-12" style="padding-left: 3%; border: 1px solid; border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
	<table width="100%">
		<tr>
			<td width="55%">
				<table width="100%">
		          <tr>
		            <th style="text-align: left; padding: 0;" colspan="3"><b>E-Registration Form</b></th>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">Company Name</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><strong><?php echo $this->cust_name; ?></strong></td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">Company Type</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->cust_type; ?></td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">Business Type</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->cust_workfield; ?></td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">Address</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->cust_address; ?></td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">City</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->cust_city; ?></td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">Zip</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->cust_zip; ?></td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">State / Province</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->cust_province; ?></td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">Country</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->countryArr[$this->country_code]; ?></td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">Service Type</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->cust_finance == '1' ? 'Financial' : 'Non Financial'; ?></td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">Company Limit (IDR)</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo Application_Helper_General::displayMoney($this->cust_limit_idr); ?></td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">Company Limit (USD)</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo Application_Helper_General::displayMoney($this->cust_limit_usd); ?></td>
		          </tr>
		        </table>
			</td>
			<td width="45%">
				<table width="100%">
		          <tr>
		            <th style="text-align: left; padding: 0;" colspan="3"><b>&nbsp;</b></th>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">Contact Person</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->cust_contact; ?></td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">Contact Number</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->cust_phone; ?></td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">Extension</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->cust_ext; ?></td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">Fax Number</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->cust_fax; ?></td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">Contact Email</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->cust_email; ?></td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">Company Website</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;"><?php echo $this->cust_website; ?></td>
		          </tr>

		          <!-- space only -->
		          <tr>
		            <td style="color: grey; width: 27%;">&nbsp;</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;">&nbsp;</td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">&nbsp;</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;">&nbsp;</td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">&nbsp;</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;">&nbsp;</td>
		          </tr>
		          <tr>
		            <td style="color: grey; width: 27%;">&nbsp;</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;">&nbsp;</td>
		          </tr>
		           <tr>
		            <td style="color: grey; width: 27%;">&nbsp;</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;">&nbsp;</td>
		          </tr>
		           <tr>
		            <td style="color: grey; width: 27%;">&nbsp;</td>
		            <td>&nbsp;&nbsp;</td>
		            <td style="color: grey;">&nbsp;</td>
		          </tr>
		        </table>
			</td>
		</tr>
	</table>
  </div>
</div>

<br>
<br>
<br>
<br>

<h3>Terms and Condition</h3> 

<?= htmlspecialchars_decode($this->terms, ENT_COMPAT) ?>

<br>
<br>
<br>
<br>

<div width="100%" align="right">
	<div style="height: 100px; width: 150px; border: 1px solid; margin-right: 70px;">
		
	</div>
	<br>
	<br>
	<br>
	<hr style="height: 1px; width: 300px; float: right;background: black; ">
</div>



