<style type="text/css">



.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

</style>

<link rel="stylesheet" href="/js/jqueryui/jquery-ui.css">
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="/js/jqueryui/external/jquery/jquery.js"></script>
<script src="/js/jqueryui/jquery-ui.js"></script>

<script type="text/javascript">
$(document).ready(function () {

  $('#chooseFile').bind('change', function () {
    var filename = $("#chooseFile").val();
    if (/^\s*$/.test(filename)) {
      $(".file-upload").removeClass('active');
      $("#noFile").text("No file chosen...");
    }
    else {
      $(".file-upload").addClass('active');
      $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
    }
  });

  //---------------------periodic-------------------------
    $('.datepicker').datepicker({
      format: 'yyyy-mm-dd',
      uiLibrary: 'bootstrap4'
    });

    $( "#periodic" ).change(function() {
      var val = $(this).val();
      //if custom launch modal
      if (val == 1) {
        $('#periodicmodal').modal('show');
      }
    });

    $('#repeateverytd').hide();
    $('#weekDiv').hide();
    $('#monthDiv').hide();

    $('#selectRepeatevery').change(function() {

      var value = $(this).val();

      if (value == '1') {
        $('#dayDiv').show();
        $('#weekDiv').hide();
        $('#monthDiv').hide();

        $('#repeateverytd').hide();
        $('#repeateveryselect').attr('width', '50%');
      }
      else if (value == '2') {
        $('#dayDiv').hide();
        $('#weekDiv').show();
        $('#monthDiv').hide();

        $('#repeateverytd').show();
        $('#repeateveryselect').attr('width', '30%');
      }
      else if(value == '3'){
        $('#dayDiv').hide();
        $('#weekDiv').hide();
        $('#monthDiv').show();

        $('#repeateverytd').show();
        $('#repeateveryselect').attr('width', '30%');
      }
    });

  $('.time').timepicker({
    timeFormat: 'HH:mm:ss',
     showMeridian: false,
     showInputs: false
   });
   $('.time').timepicker().on('show.timepicker', function(e) {
    $('.meridian-column').remove();
       //$('.bootstrap-timepicker-meridian').remove();
       $('tr').eq(1).children().eq(4).remove();
       $('tr:last >td:last').remove();
     console.log(e);
     $('.l').html($('.bootstrap-timepicker-widget').html());
     console.log($('.l').html());
   });
});
</script>
<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Transaction'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="valas" ><?php echo $this->language->_('Virtual Payment'); ?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>
<div class="portlet-body form content-box">
	<div class="row">
		<div class="col-md-12">
			<!-- Virtual Account Tab -->
			<form name="Form" class="form-horizontal form-bordered form-row-stripped" enctype="multipart/form-data" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true);?>">

              <div class="form-group row start_date">
                  <label class="control-label col-md-3"><?php echo $this->language->_('Start Date'); ?></label>
                  <div class="col-md-4" align="left">
                    <input type="text" class='datepicker' name='ps_startdate' data-date-format='mm/dd/yyyy' autocomplete='off' value="<?php echo $this->ps_startdate?>" readonly>


                  </div>
              </div>
              <div class="form-group row repetition">
                  <label class="control-label col-md-3"><?php echo $this->language->_('Periodic'); ?></label>
                  <div class="col-md-4">
                    <select name="periodic" id="periodic" class="form-control">
                         <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                         <option value="0"><?=$this->language->_('Does not repeat')?></option>
                         <option value="1"><?=$this->language->_('Custom')?></option>
                    </select>
                      <!-- <select name = "repetition" id = "repetition" class="form-control">
                    <option value=""> --<?php echo $this->language->_(' Any Value '); ?>-- </option>

                    <option value="0"><?php echo $this->language->_('None'); ?></option>
                    <option value="1"><?php echo $this->language->_('Daily'); ?></option>
                    <option value="2"><?php echo $this->language->_('Weekly'); ?></option>
                    <option value="3"><?php echo $this->language->_('Monthly'); ?></option>
                    <option value="4"><?php echo $this->language->_('Yearly'); ?></option>
                    </select> -->
                  </div>
              </div>
              <!-- <div class="form-group row repetition_until">
                  <label class="control-label col-md-3"><?php echo $this->language->_('Repetition Until'); ?></label>
                  <div class="col-md-4">
                    <input type="text" onclick="showPopUpWindow('<?=$this->url(array('module'=>'popup','controller'=>'repeatpopup','action'=>'index'),null,true)?>', 750)" name="repetition_until" value="<?php echo $this->repetition_until ?>" class="form-control">
                    <?php echo $this->formHidden('repettype',$this->repettype,array('class'=>'form-control'))?> 
                    <?php echo $this->formHidden('repetdate',$this->repetdate,array('class'=>'form-control'))?> 
                    <?php echo $this->formHidden('repettimes',$this->repettimes,array('class'=>'form-control'))?> 
                  </div>
              </div> -->
              <div class="form-group row va_after">
                  <label class="control-label col-md-3"><?php echo $this->language->_('Virtual Account After Payment'); ?></label>
                  <div class="col-md-4">
                    <?php if(empty($this->vatype)){
                      $this->vatype = '1';
                    }
                    ?>
                      <?php echo $this->formRadio('vatype',$this->vatype,array('class'=>'benefType'),array(1=>'keep open',2=>'close'))?>
                  </div>
              </div>
              <div class="form-group row va_bin">
                  <label class="control-label col-md-3"><?php echo $this->language->_('BIN'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                  <div class="col-md-4">
                    <select name="cust_bin" id="cust_bin" class="form-control">
                        <option value="">-- <?php echo $this->language->_('Please Select');?> --</option>
                      <?php
                        foreach ($this->binArr as $value) {
                          $cust_bin = $value['CUST_BIN']
                          ?>
                            <option value="<?=$cust_bin?>"<?=($value['CUST_BIN']==$this->cust_bin) ? 'selected' : '';?>><?=($value['CUST_BIN'])?></option>
                          <?php
                        }
                      ?>
                    </select>
                  </div>
              </div>
              <div class="form-group row ">
                    <label class="control-label col-md-3"><?php echo $this->language->_('File to Upload'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                    <div class="col-md-4">
                        <div class="file-upload">
                              <div class="file-select">
                                <div class="file-select-button" id="fileName">Choose File</div>
                                <div class="file-select-name" id="noFile">No file chosen...</div>
                                <input type="file" name="CSV_FILE" id="chooseFile">
                              </div>
                        </div>
                    </div>
               </div>
               
              	<div class="formbutton" align="center">
		          <input class="btnwhite hov" value="<?php echo $this->language->_('Cancel')?>" onclick="location.href='/home/index'" type="button">
		          <input type="submit" class="btngreen hov" name="submit" value="<?php echo $this->language->_('Submit')?>"/>
		        </div>
              <!-- End Virtual Account Tab -->


            <div class="modal fade" id="periodicmodal" tabindex="-1" role="dialog" aria-labelledby="periodicmodal" aria-hidden="true">
              <div class="modal-dialog" role="document" style="width: 350px;">
                <div class="modal-content textBlack">
                  <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold" style="margin-left: 25px;"><?=$this->language->_('Custom Periodic')?></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body mx-3">
                    <div class="container">
                       <table width="100%">
                         <tr>
                           <td width="25%"><?=$this->language->_('Repeat every')?></td>
                           <td width="20%" id="repeateverytd">
                              <input type="text" name="repeat_every" id="repeatevery" value="" class="form-control">
                           </td>
                           <td width="50%" id="repeateveryselect">
                             <select name="repetition" id="selectRepeatevery" class="form-control">
                               <option value="0"><?=$this->language->_('None')?></option>
                               <option value="1"><?=$this->language->_('Daily')?></option>
                               <option value="2"><?=$this->language->_('Week')?></option>
                               <option value="3"><?=$this->language->_('Month')?></option>
                              </select>
                           </td>
                         </tr>
                       </table>

                       <br>

                       <div id="dayDiv">
                           <table width="100%">
                             <tr>
                               <td width="25%"><?=$this->language->_('Time')?></td>
                               <td width="50%">
                                 <input id="timepicker2" type="text" name="repettimes" class="form-control input-small time pl-3" readonly>
                               </td>
                             </tr>
                           </table>
                           <br>
                       </div>

                       <div id="weekDiv">
                         <p class="mb-1"><?=$this->language->_('Repeat on')?></p>
                         <div class="input-group">
                            <div class="roundChk">
                              <input type="checkbox" id="checkbox6" value="sunday" name="report_day[]" />
                              <label for="checkbox6">S</label>
                            </div>
                            <div class="roundChk">
                              <input type="checkbox" id="checkbox" value="monday" name="report_day[]" />
                              <label for="checkbox">M</label>
                            </div>
                            <div class="roundChk">
                              <input type="checkbox" id="checkbox1" value="tuesday" name="report_day[]" />
                              <label for="checkbox1">T</label>
                            </div>
                            <div class="roundChk">
                              <input type="checkbox" id="checkbox2" value="wednesday" name="report_day[]" />
                              <label for="checkbox2">W</label>
                            </div>
                            <div class="roundChk">
                              <input type="checkbox" id="checkbox3" value="thursday" name="report_day[]" />
                              <label for="checkbox3">T</label>
                            </div>
                            <div class="roundChk">
                              <input type="checkbox" id="checkbox4" value="friday" name="report_day[]" />
                              <label for="checkbox4">F</label>
                            </div>
                            <div class="roundChk">
                              <input type="checkbox" id="checkbox5" value="saturday" name="report_day[]" />
                              <label for="checkbox5">S</label>
                            </div>
                         </div>

                          <br>
                        </div>

                         <div id="monthDiv">

                            <table width="100%">
                             <tr>
                               <td width="25%"><?=$this->language->_('Repeat On')?></td>
                               <td width="50%">
                                 <select name="report_date" class="form-control" style="width: 100%">
                                   <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                   <?php for ($i=1; $i < 29 ; $i++) {
                                       echo '<option value="'.$i.'">'.$i.'</option>';
                                   }
                                   ?>
                                   <option value="endofmonth"><?=$this->language->_('End of Month')?></option>
                                </select>
                               </td>
                             </tr>
                           </table>

                           <br>
                         </div>
                      
                       <table width="100%" cellpadding="5">
                         <tr>
                           <td width="25%">
                              <p class="mb-0"><?=$this->language->_('Ends')?></p>
                           </td>
                           <td width="50%">
                              <input type="text" class='datepicker' name='repetdate' data-date-format='mm/dd/yyyy' autocomplete='off' readonly>
                           </td>
                         </tr>
                       </table>

                    </div>
                  </div>

                  <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btnwhite hov" data-dismiss="modal">Close</button>
                    <button type="button" class="btngreen hov" data-dismiss="modal" id="saveHeaderContent">Save</button>
                  </div>
                </div>
              </div>
            </div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">

//supaya library jquery yang ui gak conflict dengan libs jquery yang di layout
const jq = $.noConflict();

$(document).ready(function(){

  //---------------------periodic-------------------------
    $('.datepicker').datepicker({
      format: 'yyyy-mm-dd',
      uiLibrary: 'bootstrap4'
    });

    $( "#periodic" ).change(function() {
      var val = $(this).val();
      //if custom launch modal
      if (val == 1) {
        $('#periodicmodal').modal('show');
      }else if(val == 0){
        $('#selectRepeatevery').val('0');
      }
    });

    $('#repeateverytd').hide();
    $('#weekDiv').hide();
    $('#monthDiv').hide();

    $('#selectRepeatevery').change(function() {

      var value = $(this).val();

      if (value == '1') {
        $('#dayDiv').show();
        $('#weekDiv').hide();
        $('#monthDiv').hide();

        $('#repeateverytd').hide();
        $('#repeateveryselect').attr('width', '50%');
      }
      else if (value == '2') {
        $('#dayDiv').hide();
        $('#weekDiv').show();
        $('#monthDiv').hide();

        $('#repeateverytd').show();
        $('#repeateveryselect').attr('width', '30%');
      }
      else if(value == '3'){
        $('#dayDiv').hide();
        $('#weekDiv').hide();
        $('#monthDiv').show();

        $('#repeateverytd').show();
        $('#repeateveryselect').attr('width', '30%');
      }
    });

  $('.time').timepicker({
    timeFormat: 'HH:mm:ss',
     showMeridian: false,
     showInputs: false
   });
   $('.time').timepicker().on('show.timepicker', function(e) {
    $('.meridian-column').remove();
       //$('.bootstrap-timepicker-meridian').remove();
       $('tr').eq(1).children().eq(4).remove();
       $('tr:last >td:last').remove();
     console.log(e);
     $('.l').html($('.bootstrap-timepicker-widget').html());
     console.log($('.l').html());
   });
});
</script>