<style>
label{
    font-size: 1.2em;
}

.col-form-label{
		font-size: 1.2em;
}

.textGray {
    color: #8e8e8e;
}

.form-group {
    margin-bottom: 0em;
}

.iconCircle {
		background-color: lightgray;
		color: red;
		margin-top: 3px;
		min-width: 23px;
		height: 20px;
} 

</style>

<div class="row">
   <div class="col-md-12">
     <div class="page-bar">
         <ul class="page-breadcrumb">
             <li>
                 <span><?=$this->language->_('Submission')?></span>
                 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('Document Underlying')?></span>
				 <i class="fa fa-angle-right pl-1 pr-1"></i>
             </li>
             <li>
                 <span class="inhouse"><?=$this->language->_('New')?></span>
             </li>

         </ul>
     </div>
   </div>
</div>
 
<br>
<div class="row justify-content-center">
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-6">
                <h5 style="margin-left: 15px;"><?=$this->language->_('Submission Document Underlying')?></h5>
            </div>
            <div class="col-md-6" style="float:right">
                <button class="btngrad hov" style="font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important; width: 100px !important;width: 100px !important;background-image:url(/images/print-light.png);background-repeat: no-repeat;background-position: 10px 3px;float:right;">Print</button>
            </div>
        </div>
		<form action="" method="post" enctype="multipart/form-data">
        <div class="row" >
            <div class="col-md-3">
                <label class="textGray" style="margin-left: 15px;">Document ID</label>
            </div>
            <div class="col-md-3">
                <label style="
				    margin-left: 10px;
				">auto generate by system</label>
            </div>
        </div>
		 
		<br/>
        <div class="row">
						<div class="content-box" style="width: 97%;padding-left: 2%;border-radius: 5px;border-color: #80808059;height: auto;position: relative;margin-left: 15px;">
                <h5><?=$this->language->_('Company Profile')?></h5>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Company</label>
									</div>
									<div class="col-sm-9">
										<label><?php echo $this->compinfo['CUST_NAME'].' ('.$this->compinfo['CUST_ID'].')'; ?></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="textGray">Address</label>
									</div>
									<div class="col-sm-9">
										<label> <?php echo $this->compinfo['CUST_ADDRESS']; ?></label>
									</div>
								</div>
            </div>
        </div>
			<br/>
			<div class="row"> 
				<div class="col-md-12" style="height: auto; position: relative;">
					<div class="padding-header-cust">
						<h5><?=$this->language->_('Transaction Details')?></h5>
					</div>
					<div style="padding-left:2%; padding-top:2px;">
						<div class="form-group row">
                  <label class="col-sm-3 col-form-label textGray"><?php echo $this->language->_('Currency'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
                  <div class="col-sm-9">
										<label for=""><?= $this->ccyid?></label>
                  </div>
              </div>
						
							<div class="form-group row">
								<label class="col-sm-3 col-form-label textGray"><?php echo $this->language->_('Amount Transfer'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
                <div class="col-sm-9">
									<label for=""><?= $this->amount?></label>
                  </div>
              </div>

							<div class="form-group row">
									<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Payment Date<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
									</div>
									<div class="col-sm-3">
										<label for=""><?= $this->paydate?></label>
									</div>
							</div>
							
							<div class="form-group row">
									<div class="col-sm-3">
											<label for="" class="textGray col-form-label">Payment Type<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
									</div>
									<div class="col-sm-3">
										<label ><?php $arrpayment = array('1'=>'Inhouse','2'=>'Domestic');
										echo $arrpayment[$this->paytype] ?>
										</label>
									</div>
							</div>

							<div class="form-group row pb-1">
								<div class="col-sm-3">
									<label for="" class="textGray col-form-label">Select File<strong class="formreq"><font color="red">&nbsp;*</font></strong></label>
								</div>
								<div class="col-sm-9">
									<label for=""><?= $this->fileName ?></label>
								</div>
							</div>
							<br>
							<br>
							
							

							<div class="row">
								<div class="col-md-12" align="center">
									<button type="button" name="back" id="back" value="back" onclick="location.href='/documentunderlying/index'" class="btnwhite hov">Back</button>
									<input type="submit" name="submit" id="submit" value="Submit" class="btngreen hov">
								</div>
							</div>
						
					</div>
				</div>
			</div>

</form>
<script>
$(document).ready(function(){
	$('#paydate').datepicker({
		format: 'yyyy-mm-dd',
		uiLibrary: 'bootstrap4'
	});
})
</script>