<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?= $this->language->_('Home'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <span><?= $this->language->_('Customer Management'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <?= $this->language->_('Insurance Branch'); ?>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  .tablehead {
    background-color: #0b549f !important;
  }

  .input-medium {
    width: 240px !important;
  }

  ul.errors {
    list-style: none;
    padding-left: 0;
  }
</style>

<?php $insBranchCode    = $this->language->_('Insurance Company Name'); ?>
<?php $insBranchName    = $this->language->_('Insurance Branch Name'); ?>
<?php $insBranchAcct    = $this->language->_('Insurance Branch Account'); ?>
<?php $insBranchSuggest = $this->language->_('Suggested By'); ?>
<?php $insBranchApprove = $this->language->_('Approved By'); ?>
<?php $setFilter        = $this->language->_('Set Filter'); ?>
<?php $clearFilter      = $this->language->_('Clear Filter'); ?>

<div class="row content-box">
    <div class="portlet-body form col-md-12">
        <h5><?= $this->language->_('List Cabang Asuransi') ?></h5>
        <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">



            <?php
            $optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
            foreach ($this->filterlist as $row) {
                $optArr .=  '<option value="' . $row . '" >' . $this->language->_($row) . '</option>';
            }

            ?>
            <div class="row " id="logo-titles" style="margin-left: 0px">
                <?php
                if (!empty($this->wherecol)) {
                ?>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            var ctrfilter = <?= count($this->wherecol); ?>;
                            $("#logo-title").show();
                            $("#where-").hide();
                            $("#wherectr").val(ctrfilter)
                        });
                    </script>
                <?php
                }
                // print_r($this->wherecol);die;
                foreach ($this->wherecol as $key => $value) {
                ?>
                    <div id="searchs" style="width: 100%">
                        <?php
                        $datetype = array('');
                        $selectlist = array("CUST_NAME", "INS_BRANCH_NAME", "INS_BRANCH_ACCT", "LAST_SUGGESTEDBY", "LAST_APPROVEDBY");
                        $index = 0;



                        ?>
                        <div id="where-<?= $key ?>">
                            <div class="form-group row mt-12">
                                <div class="col-md-4 form-inline">
                                    <select class='form-control event_select' id='wherecol-<?= $key ?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                        <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                        <?php

                                        foreach ($this->filterlist as $row) {
                                            $colname = $row;
                                            if ($value == $colname) {
                                                $selected = "selected";
                                            } else {
                                                $selected = "";
                                            }
                                        ?>
                                            <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col" style="display: none">
                                    <select class='form-control' id='whereopt-<?= $key ?>' name='whereopt[]'>

                                        <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                        <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                            <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
                                        <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col-md-6 form-inline" id='colvalue-s<?= $key ?>'>
                                    <script type="text/javascript">
                                        $(document).ready(function() {
                                            var colval = "#colvalue-s<?= $key ?>";
                                            var colomnname = "<?= $value ?>";
                                            // var colselect= "<?= $value ?>";
                                            var colselect = "colselect-s<?= $key ?>";
                                            var ncolselect = "#colselect-s<?= $key ?>";
                                            
                                        });
                                    </script>
                                    <?php
									if (in_array($value, $selectlist)) {
                                    ?>
                                        <input class='form-control' type='text' name='whereval[]' value='<?= $this->whereval[$key] ?>' style="width:100%" />
                                    <?php }
                                    if (!in_array($value, $datetype)) {
                                        // print_r($value);die;
                                        $index++;
                                    }
                                    ?>
                                </div>
                                <div class="col-md-2 form-inline">
                                    <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>

                <?php
                }
                ?>

            </div>


            <div class="row " id="logo-title" style="display: none">
                <div class="portlet-body form col-md-12">
                    <div id="wheres" style="width: 100%">

                    </div>
                    <!-- <input type="hidden" id="wherectr" value="<?= $this->wherectr ?>"/> -->
                    <input type="hidden" id="wherectr" value="0" />
                    <br />
                    <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                    &nbsp;
                    <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
                    &nbsp;
                    <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">


                    <br />


                </div>
                <div class="col-md-4">
                </div>

            </div>
            <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
                <a href="#" class="sidebar-collapse-icon with-animation">
                    <?php echo $this->language->_('Advanced Search'); ?>
                </a>
            </div>

        </form>
    </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <?php if ($this->hasPrivilege("MIBO")) { ?>
        <div style="float:left; padding-right:5px;">
          <button type="button" class="btngrad hov" onclick="window.location.href='/insurancebranch/index/onboarding'"><?= $this->language->_('Onboarding'); ?><i class="fas fa-plus ml-2"></i></button>&nbsp;
          <!-- <button type="button" class="btngrad hov" onclick="window.location.href='/insurancebranch/index/upload'"><?= $this->language->_('Upload File'); ?><i class="fas fa-upload ml-2"></i></button> -->
        </div>
      <?php } ?>
      <div style="float:right; padding-left:5px;">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" class="search form-control" id="searchtable" placeholder="Search">
        </div>
      </div>
      <div style="float:right; padding-left:5px;">
        <button class="btngrad hov" id="btn_print" style="display:none;font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important; width: 100px !important;width: 100px !important;background-image:url(/images/print-light.png);background-repeat: no-repeat;background-position: 10px 3px;float:right;">Print</button>
      </div>
      <div style=" float:right; padding-left:5px;">
        <form action="" method="post">
          <input type="submit" value="&#xf6dd <?= $this->language->_('Export Files'); ?>" name="csv" id="csv" class="fa hov">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="portlet-body flip-scroll table-responsive table-fixed pt-2" id="fixTable">
      <table class="table table-sm table-striped headerNew" id="myTable">
        <tr height="50px">
          <th class="tablehead fth-header" width="3%" valign="top">No</th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('Insurance Company'); ?><span style="white-space:nowrap"></span>
          </th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('Branch'); ?><span style="white-space:nowrap"></span>
          </th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('Branch Email'); ?><span style="white-space:nowrap"></span>
          </th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('Branch Account'); ?><span style="white-space:nowrap"></span>
          </th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('Last Suggested'); ?><span style="white-space:nowrap"></span>
          </th>
          <th class="tablehead fth-header" valign="top">
            <?= $this->language->_('Last Approved'); ?><span style="white-space:nowrap"></span>
          </th>
        </tr>
        <?php if (count($this->paginator) > 0) : ?>
          <?php
          require_once 'Crypt/AESMYSQL.php';
          $AESMYSQL = new Crypt_AESMYSQL();
          $rand = $this->token;
          $i = 0;
          $counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;
          foreach ($this->paginator as $row) {
            $encrypted      = $AESMYSQL->encrypt($row['INS_BRANCH_CODE'], $rand);
            $encrypted_id   = urlencode($encrypted);

            $branchCompany  = $row['CUST_NAME'] . ' (' . $row['CUST_ID'] . ')';
            $branchName     = '<a href="/insurancebranch/index/detail/id/' . $encrypted_id . '">' . $row['INS_BRANCH_NAME'] . '</a>' ?: '-';
            $branchEmail    = $row['INS_BRANCH_EMAIL'] ?: '-';
            $branchAcct     = $row['INS_BRANCH_ACCT'] ?: '-';
            $lastSuggested  = ($row['LAST_SUGGESTED']) ? date('d M Y', strtotime($row['LAST_SUGGESTED'])) . '<br>(' . $row['LAST_SUGGESTEDBY'] . ')' : '-';
            $lastApproved   = ($row['LAST_APPROVED']) ? date('d M Y', strtotime($row['LAST_APPROVED'])) . '<br>(' . $row['LAST_APPROVEDBY'] . ')' : '-';
            $td_css         = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
            echo '<tr>
                                    <td class="' . $td_css . '">' . $counter++ . '</td>
                                    <td class="' . $td_css . '">' . $branchCompany . '</td>
                                    <td class="' . $td_css . '">' . $branchName . '</td>
                                    <td class="' . $td_css . '">' . $branchEmail . '</td>
                                    <td class="' . $td_css . '">' . $branchAcct . '</td>
                                    <td class="' . $td_css . '">' . $lastSuggested . '</td>
                                    <td class="' . $td_css . '">' . $lastApproved . '</td>
                                </tr>';
            $i++;
          }
          ?>
        <?php else : ?>
          <tr>
            <td colspan="8" class="tbl-evencontent" align="center"> ---<?= $this->language->_('No Data'); ?>--- </td>
          </tr>
        <?php endif; ?>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  function setPrintUrl() {
    let filter = null;

    if (window.location.href.split("/")[3].split("?").length == 1) {
      filter = "";
    } else {
      filter = window.location.href.split("/")[3].split("?")[1];
    }

    document.querySelector("#btn_print").setAttribute("onclick", `openwindow('/insurancebranch/index/index/print/1?${filter}',  screen.width, screen.height)`)
  }

  $(document).ready(function() {

    setPrintUrl();

    $('#fixTable').fixTableHeader();

    $('div#sidebar-collapse').click(function() {
      if ($("#logo-title").is(":visible")) {
        $("#logo-title").hide();
      } else if ($("#logo-title").is(":hidden")) {
        $("#logo-title").show();
      }
    });

    $("#searchtable").keyup(function() {
      var value = this.value.toLowerCase().trim();
      $("#myTable tr").each(function(index) {
        if (!index) return;
        $(this).find("td").each(function() {
          var id = $(this).text().toLowerCase().trim();
          var not_found = (id.indexOf(value) == -1);
          $(this).closest('tr').toggle(!not_found);
          return not_found;
        });
      });
    });
  });
  
  function removeParent(elem) {
        var parentname = elem.parentNode.parentNode.parentNode.id;
        $("#" + parentname).remove();
    }
    $(document).ready(function() {


        $("#addwhere").click(function() {

            var ctr = $("#wherectr").val();
            var optstr = '<?php echo $optArr; ?>';

            var wherecol = "#wherecol-" + ctr;
            $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" + ctr + "' name='wherecol[]' style='width:100%' onclick='getOpt2(this)' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
            ctr++;
            $("#wherectr").val(ctr);
        });
    });

    function getOpt2(elem) {
        var $coll = $('.event_select');

        $coll.children().prop('disabled', false);

        $coll.each(function() {
            var val = this.value;

            if (val === 'original') return;

            $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
        });

        $(colval).empty();
    }

    function getOpt(elem) {
        var id = elem.id;
        var temp = id.split('-');
        var ctr = temp[1];

        var selval = elem.value;
        var tempval = selval.split('-');
        dttype = tempval[1];

        colomnname = tempval[0];
        var colval = "#colvalue-" + ctr;
        var colvals = "#colvalue-s" + ctr;
        var colselect = "colselect-" + ctr;
        var ncolselect = "#colselect-" + ctr;
        var ncolselects = "#colselect-s" + ctr;
        var $coll = $('.event_select');

        $coll.children().prop('disabled', false);

        $coll.each(function() {
            var val = this.value;

            if (val === 'original') return;

            $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
        });

        $(colval).empty();
        //$(colvals).empty();

        if(colomnname == 'INS_BRANCH_ACCT'){
			$(colval).append("<input type='text' name='whereval[]' style='width:100%' onkeypress='return forceNumber(event)' value='' maxlength='128'  class='form-control' >");
			$(colvals).append("<input type='text' name='whereval[]' style='width:100%' onkeypress='return forceNumber(event)' value='' maxlength='128'  class='form-control' >");
		}else{
			$(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='50'  class='form-control' >");
			$(colvals).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='50'  class='form-control' >");
		}
        

        var optsel = "whereopt-" + ctr;
        document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

        if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
            document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }
        if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
        } else if (dttype == 'date' || dttype == 'datetime') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }

        var colomn = '#whereopt-' + ctr;
        var data = $(colomn).val('EQUAL').change();

    }
</script>