<script>
function confirmationdelete(linkdelete)
{
	var link = linkdelete[0];
	var cekconfirm = confirm("<?php echo $this->language->_('Delete this group?'); ?>");

	if (cekconfirm == true)
	{
	window.location= link;
	}
}

function confirmationsuspend(linksuspend)
{
	var link = linksuspend[0];
	var cekconfirm = confirm("<?php echo $this->language->_('Suspend this group?'); ?>");

	if (cekconfirm == true)
	{
	window.location= link;
	}
}

function confirmationunsuspend(linkunsuspend)
{
	var link = linkunsuspend[0];
	var cekconfirm = confirm("<?php echo $this->language->_('Unsuspend this group?'); ?>");

	if (cekconfirm == true)
	{
	window.location= link;
	}
}
</script>

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Administrator'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Backend Group'); ?>
											<i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
									<li>
 	                    <?php echo $this->language->_('Detail'); ?>
 	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<?php 
	require_once 'Crypt/AESMYSQL.php';
    $AESMYSQL = new Crypt_AESMYSQL();
    $rand = $this->token;

    $encrypted_groupid = $AESMYSQL->encrypt($this->groupid, $rand);
    $encgroupid = urlencode($encrypted_groupid);
?>

<h5><?=$this->language->_('Detail Group')?></h5>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
<div class="row content-box">
		<div class="portlet-body form col-md-12">
			<table width="80%" cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped">
					<tr><th colspan="7" class="tdform-sub"><strong><?php echo $this->language->_('Detail Group'); ?></strong></th></tr>
					<tr>
						<td colspan="5" class="tbl-evencontent"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
					</tr>
				 <tr>
					<td class="tbl-evencontent" width="30%"><?php echo $this->formLabel('groupid',$this->language->_('Group ID')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" width="70%">
						<?php
							// $attr = array('maxlength'=>'6',
							// 					'size'=>'40',
							// 					'onkeypress'=>'return forceAlnumOCBC(event)',
							// 					'disabled'=>true);
							// echo $this->formText('groupiddisable',$this->groupid, array('class' => 'form-control col-md-8'),$attr); ?>
							&nbsp;<?php echo $this->language->_($this->groupid);?>
						<div class="errmsg"><?=$this->xgroupid?></div>
					</td>
					</tr>
				<tr>
					<td class="tbl-evencontent" width="30%"><?php echo $this->formLabel('groupname',$this->language->_('Group Name')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" width="70%">
						<?php
								//$attr = array('maxlength'=>'32',
								//				'size'=>'40',
								//				'disabled'=>true
													// );
								//echo $this->formText('groupname',$this->groupname,array('class' => 'form-control col-md-8'),$attr);?>
								&nbsp;<?php echo $this->language->_($this->groupname);?>
						<div class="errmsg"><?=$this->xgroupname?></div>
					</td>
				</tr>
			   <!--  <tr>
						<td class="tbl-evencontent"><?php echo $this->formLabel('callcenter',$this->language->_('Call Center Menu')); ?></td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent"colspan="4">&nbsp;
							<label class="switch" style="margin-bottom: 0;"> 
					            <?php
					            if($this->callcenter == 1){
					              $checked = 'checked';
					            }else{
					              $checked = '';
					            }
					           ?>
					            <input type="checkbox" name="callcenter" value="1" <?php echo $checked; ?> >
					            <span class="slider round"></span>
					        </label>
						</td>
				</tr> -->
				<tr>
						<td class="tbl-evencontent"><?php echo $this->formLabel('status',$this->language->_('Status')); ?></td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent"colspan="4">&nbsp;<?php echo $this->language->_($this->status);?></td>
				</tr>
				<tr>
						<td class="tbl-evencontent"><?php echo $this->formLabel('createddate',$this->language->_('Last Updated')); ?></td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent"colspan="4">&nbsp;<?php echo $this->updatedby;?>&nbsp;<?php echo Application_Helper_General::convertDate($this->createddate,$this->displayDateTimeFormat,$this->defaultDateFormat);?></td>
				</tr>
				<tr>
						<td class="tbl-evencontent"><?php echo $this->formLabel('lastupdated',$this->language->_('Last Approved')); ?></td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent"colspan="4">&nbsp;<?php echo $this->createdby;?>&nbsp;<?php echo Application_Helper_General::convertDate($this->lastupdated,$this->displayDateTimeFormat,$this->defaultDateFormat);?></td>
				</tr>
				<!-- <tr>
						<td class="tbl-evencontent"><?php echo $this->formLabel('lastsuggestor',$this->language->_('Last Suggestor')); ?></td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent"colspan="4">&nbsp;<?php echo $this->updatedby;?></td>
				</tr>
				<tr>
						<td class="tbl-evencontent"><?php echo $this->formLabel('creator',$this->language->_('Creator')); ?></td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent"colspan="4">&nbsp;<?php echo $this->createdby;?></td>
				</tr> -->
				</table>
		</div>
</div>

<div class="row content-box">
		<div class="portlet-body form col-md-12">
			<table width="100%" cellpadding="3" cellspacing="0" border="0" class="table table-sm table-borderless">
			<tr><th colspan="7" class="tdform-sub"><strong><?php echo $this->language->_('Privilege List'); ?></strong>
			<div class="errmsg"><?=$this->errcheckbox?></div></th></tr>
			<!-- <tr>
				<td class="tbl-evencontent" colspan="5">
					<?php 
					$attribut=array(
															'class' => 'check_box',
															'checked' => (($this->callcenter)=="1")? true : false,
															// 'disabled' => true 
															'onclick' =>'return false'
															);				
									$isi = ''.$this->formCheckbox('callcenter','1',$attribut).$this->language->_('Call Center Menu').'';
									echo $isi;
					?>

				</td>
			</tr> -->
			<tr>
						<?php
						$counter = 0;
						$i = 0;
		//				foreach($this->privil as $row)
		//				{
		//					$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		//					$attribut=array(
		//											'class' => 'check_box',
		//											'checked' => (($this->$row['BPRIVI_ID'])=="1")? true : false,
		//											'disabled' => true
		//											);
		//					$isi = '<td class="'.$td_css.'" >'.$this->formCheckbox($row['BPRIVI_ID'],'1',$attribut).$this->language->_($row['BPRIVI_DESC']).'</td>';
		//					if($counter%5 == 0)
		//					{
		//						$isi = '</tr><tr>'.$isi;
		//					}
		//					echo $isi;
		//					$counter++;
		//					if($counter%5 == 0)
		//					{
		//						$i++;
		//					}
		//				}


// print_r($this->privil);die;
						foreach($this->privil as $row)
						{
		//					$privilege[$row['BPRIVI_MODULEID']][] = $row;
							if($row['BPRIVI_ID'] != 'CLAN'){
								$privilege[$row['BPRIVI_MODULEID']][] = $row;
							}
						}
							// print_r($this);die;

						foreach($privilege as $key=>$row)
							{
								echo '<tr><td  class="tbl-oddcontent" colspan="5"><b>'.$this->language->_($key).'</b></td></tr>';
								$attribut=array(
															'class' => 'check_box',
															'checked' => false,
															// 'disabled' => true
															'onclick' =>'return false'
															);
								foreach ($row as $value) {
									$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

															// print_r($value);die;
									foreach ($this->prev as $numb => $val) {

										if($val['BPRIVI_ID'] == $value['BPRIVI_ID'])
										{
											// print_r($)
														$attribut=array(
															'class' => 'check_box',
															'checked' => true,
															// 'disabled' => true
															'onclick' =>'return false'
															);
														break;
										}

									}
									// if($value['BPRIVI_ID']=='ADAD'){
											// echo 'here';die;
										// }
									$attribut['class'] = 'check_box';
									// $attribut['disabled'] = true;
									$attribut['onclick'] = 'return false';
									// print_r($attribut);
									$isi = '<td class="'.$td_css.'" >'.$this->formCheckbox($value['BPRIVI_ID'],'1',$attribut).$this->language->_($value['BPRIVI_DESC']).'</td>';
									$attribut = array();
									if($counter%5 == 0)
									{
										$isi = '</tr><tr>'.$isi;
									}

		//							$isi = '<td class="tbl-evencontent" '.$colspan.'>'.$this->formCheckbox($value['BPRIVI_ID'],'1',$attribut).$value['BPRIVI_DESC'].'</td>';
		//							if($counter%4 == 0)
		//							{
		//								$isi = '</tr><tr>'.$isi;
		//							}

									echo $isi;
									$counter++;
									if($counter%5 == 0)
									{
										$i++;
									}
								}
							}
						?>
						</tr>
			</table>
		</div>
</div>

 <br />
<?php if($this->groupid == 'BAAPPV' || $this->groupid == 'BAMAKR')
{?>
 	<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true);?>'" class="btnwhite hov" value="Back">&nbsp;
<?php
}
else
{?>
	<input type="hidden" name="groupid" id="groupid" value="<?php echo $encgroupid;?>" />
	<?php $linkdelete = $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','groupid'=>$encgroupid,'delete'=>'delete'),null,true);?>
	<?php $linksuspend = $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','groupid'=>$encgroupid,'suspend'=>'suspend'),null,true);?>
	<?php $linkunsuspend = $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','groupid'=>$encgroupid,'unsuspend'=>'unsuspend'),null,true);?>

	<?php
	if($this->change || $this->status == 'Deleted')
	{
		$deletedisabled = "disabled";
		$suspenddisabled = "disabled";
		$editdisabled = "disabled";

	}
	else
	{
		if($this->hasPrivilege('BGDL'))
		{
			$deletedisabled = "";
		}
		else
		{
			$deletedisabled = "disabled";
		}
		if($this->hasPrivilege('BGSP'))
		{
			$suspenddisabled = "";
		}
		else
		{
			$suspenddisabled = "disabled";
		}

		if($this->hasPrivilege('BGED'))
		{
			$editdisabled = "";
		}
		else 
		{
			$editdisabled = "disabled";
		}


	}?>

	<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true);?>'" class="btnwhite hov" value="<?php echo $this->language->_('Back'); ?>">&nbsp;

	<?php if($this->status != 'Deleted'){ ?>
		<input type="button" onClick="confirmationdelete(new Array('<?php echo $linkdelete;?>'));" class="btnwhite hov <?php echo $deletedisabled;?>" value="<?php echo $this->language->_('Delete')?>" <?php echo $deletedisabled;?>>&nbsp;

		<?php
		if($this->status == 'Suspended')
		{?>
			<?php
				if($this->hasPrivilege('BGSP'))
				{
			?>
			<input type="button" onClick="confirmationunsuspend(new Array('<?php echo $linkunsuspend;?>'));" class="btngreen hov "<?= $suspenddisabled;?> value="<?php echo $this->language->_('Unsuspend')?>" <?php echo $deletedisabled;?>>&nbsp;
			<?php
				}
			?>
			<!-- <?php echo $this->formSubmit('unsuspend',$this->language->_('Unsuspend'),array('class'=>'btngreen hov '.$suspenddisabled,$suspenddisabled=>$suspenddisabled)); ?>&nbsp; -->
		<?php
		}
		else
		{?>
			<?php
				if($this->hasPrivilege('BGSP'))
				{
			?>
			<input type="button" onClick="confirmationsuspend(new Array('<?php echo $linksuspend;?>'));" class="btngreen hov "<?= $suspenddisabled;?> value="<?php echo $this->language->_('Suspend')?>" <?php echo $deletedisabled;?>>&nbsp;
			<?php
				}
			?>
			<!-- <?php echo $this->formSubmit('suspend',$this->language->_('Suspend'),array('class'=>'btngreen hov '.$suspenddisabled,$suspenddisabled=>$suspenddisabled)); ?>&nbsp; -->
		<?php
		}?>	

		<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','groupid'=>$encgroupid),null,true);?>'" class="btngreen hov <?php echo $editdisabled;?>" value="<?php echo $this->language->_('Edit')?>" <?php echo $editdisabled;?>>&nbsp;

	<?php } ?>

	<?php if($this->change)
	{
		echo "<br /><br /><i>*".$this->language->_('No changes allowed for this record while awaiting approval for previous change')."</i>";
	}
}?>
</form>
