<?php
$auth = Zend_Auth::getInstance()->getIdentity();

if ($auth->_userTheme == 'dark') {
  $mandatory = "<strong class='formreq' style='color:#ffffff;'>&nbsp;*&nbsp;</strong>";
}else{
  $mandatory = "<strong class='formreq' style='color:red;'>&nbsp;*&nbsp;</strong>";
}
?>
<script type="text/javascript">

   $(document).ready(function()
   {
    //AKAN DILOAD PERTAMA KALI
    reset_all(); 

    //pengaturan error messages
    <?php 
       if(!is_null($this->user_msg) || $this->user_msg != '') 
       {
         foreach($this->user_msg as $key => $error)
         {
      ?>
            $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
     <?php    
         }  
       } 
        ?>

      $('.privCheck').change(function() {
      
      
          if(this.checked) {
              var id = $(this).data('id');
              console.log(id);
              $('.'+id).prop("checked", true);
        $('#result'+id).prop("checked", true);

              // $('.'+id).css("filter", "brightness(0.2)");
          }else{
        var id = $(this).data('id');
        console.log('#result'+id);
        $('#result'+id).prop('checked','');
      }
      });

  });

  

  function reset_all() 
  {
      //utk reset semua privilege
      $('[Type=checkbox]').prop('checked','');

       <?php 
       if(!empty($this->priviView)){
             foreach($this->priviView as $privi)
           {
        ?>
            $('#<?php echo $privi; ?>').prop('checked','checked');
            $('#result<?php echo $privi; ?>').prop('checked','checked');
            $('#result<?php echo $privi; ?>').css("opacity", "0.9)");
       <?php
             }
           }
         ?>
     
     <?php  
      if(!empty($this->data)){
      
     foreach($this->data as $key => $row)
        { 
      if ($this->data[$key] != ""){
                if($row->accountNo == ''){
                }else{
    ?>
        
        $('#acct<?php echo $req; ?>').prop('checked','checked');
    $('.<?php echo $req; ?>_view').css('display','table-row');
     <?php 
        }
      }
      }
    }
      
      ?>

       $('#user_id').val('<?php echo $this->user_id; ?>');  
       $('#user_email').val('<?php echo $this->user_email; ?>');
       $('#user_fullname').val('<?php echo $this->user_fullname; ?>');
       $('#user_phone').val('<?php echo $this->user_phone; ?>');
       $('#user_ext').val('<?php echo $this->user_ext; ?>');
       $('#token_id').val('<?php echo $this->token_id; ?>');

     $('#user_isemail_<?php echo $this->user_isemail; ?>').prop('checked','checked');
  }

 
  

</script>

<script language="javascript">
function getkey(e)
{
if (window.event)
   return window.event.keyCode;
else if (e)
   return e.which;
else
   return null;
}
function kodeScript(e, goods, field)
{
var key, keychar;
key = getkey(e);
if (key == null) return true;

keychar = String.fromCharCode(key);
keychar = keychar.toLowerCase();
goods = goods.toLowerCase();

// check goodkeys
if (goods.indexOf(keychar) != -1)
  return true;
// control keys
if ( key==null || key==0 || key==8 || key==9 || key==27 )
   return true;
  
if (key == 13) {
  var i;
  for (i = 0; i < field.form.elements.length; i++)
    if (field == field.form.elements[i])
      break;
  i = (i + 1) % field.form.elements.length;
  field.form.elements[i].focus();
  return false;
  };
// else return false
return false;
}
</script>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Account Information'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Notional Pooling'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Add Link'); ?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>

<style type="text/css">
  
/*.custindicator {
  color: rgba(119, 119, 119, 0.87);
  background-color: #ffffff;
}

.custindicator.active{
  color: white;
  background-color: #007934;
}

.custindicator.inactive{
  color: rgba(119, 119, 119, 0.87);
  background-color: #ffffff;
}*/

input.invalid{
  background-color: #ffdddd;
}

.custtab {
  display: none;
}

.padbot{
  padding-bottom: 2%;
}



</style>



<div class="row content-box">
  <div class= "portlet-body form col-md-12">
    <h5><?php echo $this->language->_('Notional Pooling – Add Account Link'); ?></h5>
   
    <div style="text-align: center">
      <style type="text/css">
        
          .nav-tabs .nav-link {
            border-color: #c9c9c9;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            text-align: center;
          }
          .nav-tabs .nav-link:hover {
            border-color: #c9c9c9;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color:white;
            background-color: #005586;
            margin-top: -6px;
              padding-bottom: 10px;
              top: -10px;
              padding-top: 10px;
              height: 43px;
          }
          .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
              color:white;
              background-color: #005586;
              border-color: #dee2e6 #dee2e6 #fff;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              margin-top: -6px;
              padding-bottom: 10px;
              top: -10px;
              padding-top: 10px;
              height: 43px;
              font-size: 17px
          }

          /*input[type=checkbox][checked][disabled]{
           filter: brightness(0.5);
           color: blue !important;
          }*/

          .disabled-checkbox{
            opacity:0.9;
            pointer-events: none;
          }

          
      </style>
      <!-- <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link custindicator" id="inhouse-tab" href="javascript:;" role="tab" at="1" value="1" aria-controls="inhouse" aria-selected="true"><?php echo $this->language->_('Personal Data');?></a>
        </li>
        <li class="nav-item">
          <a class="nav-link custindicator" id="domestic-tab" href="javascript:;" role="tab" at="4" value="4" aria-controls="domestic" aria-selected="false"><?php echo $this->language->_('Review');?></a>
        </li>
      </ul> -->

      <!-- <button class="custindicator" disabled>Personal Data</button>
      <button class="custindicator" disabled>Account Number</button>
      <button class="custindicator" disabled>Review</button> -->
    </div>

    <br>

    

    <!-- ----------------------------------------------tab new customer-------------------------------------------- -->
     
      <!-------------------------------------------- end tab new customer ---------------------------------------------->

      <!-- -------------------------------------------tab contact person-------------------------------------------- -->
      
    <!-- -------------------------------------------end tab contact person-------------------------------------------- -->

    <!-- -------------------------------------------tab company limit-------------------------------------------- -->
    <!-- <div class="custtab"> -->
    <!-- <table align="center" width="80%" cellpadding="3" cellspacing="0" border="0" class="tableform">
      
      </table> -->

      <?php if ($this->error) { ?>
          <div class="alert alert-danger"><?php echo $this->language->_($this->error_msg); ?></div>

          <script type="text/javascript">
            $(document).ready(function(){
             // $("#regForm input").prop("disabled", true);
            });
          </script>



      <?php } ?>

      <form id="regForm" name="Form" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'setting','action'=>'addlink'),null,true)?>">

      <div class="row">
        <div class="col-md-7">

          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Bank'); ?></label>
            <div class="col-sm-8">
              <?php 
                  echo $this->language->_('BANK MAYBANK');
              ?>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Account Number'); ?></label>
            <div class="col-sm-8">

              <?php if ($this->confirmPage != 1) { 

                 echo $this->formText('ACCT_NUMBER', $this->ACCT_NUMBER, array('class' => 'form-control', 'maxlength' => '128', "style" => "font-size: 1.2em;"));

               }else{ 

                echo $this->ACCT_NUMBER . $this->formHidden('ACCT_NUMBER', $this->ACCT_NUMBER);

                }  ?>
            </div>
          </div>

          <?php if ($this->confirmPage == 1) { ?>

              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Account Name'); ?></label>
                <div class="col-sm-8">

                  <?php 
                      echo $this->compinfo[0]['CUST_NAME'];
                  ?>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Currency'); ?></label>
                <div class="col-sm-8">

                  <?php 
                      echo $this->language->_('IDR');
                  ?>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><?php echo $this->language->_('Product Name'); ?></label>
                <div class="col-sm-8">

                  <?php 
                      echo $this->language->_('GIRO');
                  ?>
                </div>
              </div>

          <?php }  ?>

        </div>
      </div>

    <br>

      <div style="overflow:auto;">
           <div style="" align="center">
            <input type="hidden" name="confirmPage" id="confirmPage" value="<?= $this->confirmPage; ?>" />
            
            <?php if ($this->confirmPage != 1) { ?>

              <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/notionalpoolingnew/setting\'','class'=>'btnwhite hov','id'=>'backBtn')); ?>

            <?php }else{ ?>

              <?php echo $this->formButton('back',$this->language->_('Back'),array('onclick'=>'location.href=\'/notionalpoolingnew/setting/addlink\'','class'=>'btnwhite hov','id'=>'backBtn')); ?>

            <?php }  ?>

            <?php if ($this->confirmPage != 1) { ?>
              <?php echo $this->formSubmit('submitBtn', $this->language->_('Next'), array('class' => 'btngreen hov', "onclick" => "trfEncryptDom();"));  ?>
              
            <?php }else{ ?>

              <?php echo $this->formSubmit('submitBtn', $this->language->_('Submit'), array('class' => 'btngreen hov', "onclick" => "trfEncryptDom();"));  ?>

            <?php }  ?>

              
            </div>
          <!-- <div style="float:right; margin-right: 10%;">
              
            </div> -->
        </div>
    </form>
  </div>
</div>





<script type="text/javascript">
var checktoken = 0;
function checkbox(element){
  
  //var allbox = $(this).is(':checked');
  //if(this.checked) {
  var clicked=element.checked;
  //console.log(clicked);
  if(!clicked){
    checktoken++;
  }else{
    checktoken--;
  }
    
  //var allbox = $("input[type='checkbox']").val();
  //console.log(allbox);
  if(checktoken < 0){
    
    $('#tokendivnew').show();
    $('#tokendiv').show();
  }else{
    $('#tokendivnew').hide();
    $('#tokendiv').hide();
  }
  //console.log(checktoken);
}

var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the crurrent tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("custtab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
    document.getElementById("backBtn").style.display = "inline";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
    document.getElementById("backBtn").style.display = "none";
  }
  if (n == (x.length - 1)) {
    // document.getElementById("nextBtn").innerHTML = "Submit";
    $('#submit').show();
    $('#nextBtn').hide();
    
  } else {
    $('#submit').hide();
    $('#nextBtn').show();
    // document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function validateEmail(email) {
  var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return re.test(email);
}

function checkDuplicateEmail(email){
  var data = 'email='+email;
  var result = $.ajax({
      type: "GET",
      async: false,
      data:data,
      url: "<?=$this->url(array('module'=>'user','controller'=>'new','action'=>'checkduplicateemail'),null,true)?>",
      success:  function(data){

        console.log('asdas '+data);
      },
      error: function(data) {
        alert('Time out when checking email availablity');
      }
  });

  return result.responseText.trim();
}

function validateUserId(userId){
    var rgularExp = {
        containsNumber : /\d+/,
        containsAlphabet : /[a-zA-Z]/,
    }

    var expMatch = {};
    expMatch.containsNumber = rgularExp.containsNumber.test(userId);
    expMatch.containsAlphabet = rgularExp.containsAlphabet.test(userId);

    return expMatch;
}

function nextPrev(n) {
  // alert(n);
  // This function will figure out which tab to display
  var limitidr = '<?php echo $this->limitidr; ?>';
  var limitusd = '<?php echo $this->limitusd; ?>';
  var errno = 0; 
  // if (n == 1) {
    
  //   var xd = document.getElementById("user_id").value;
    
  //   //alert(xd);
  //     if(xd == ''){
  //       alert('User Id can not be empty');
  //       errno = 1;
  //     }
  //     else{
  //       //validate if user id at least contain 1 number and 1 char
  //       var validateRes = validateUserId(xd);
  //       if (validateRes.containsNumber == false || validateRes.containsAlphabet == false) {
  //         errno = 1;
  //         alert('User Id format is invalid');
  //       }
  //     }

  //     var xe = document.getElementById("user_email").value;
    
  //   //alert(xd);
  //     if(xe == ''){
  //       alert('User Email can not be empty');
  //       errno = 1;
  //     }else{
  //       if(!validateEmail(xe)){
  //         errno = 1;
  //         alert('User Email is invalid');
  //       }
  //       else if (checkDuplicateEmail(xe) == 'true') {
  //         errno = 1;
  //         alert('User Email for this company is already used. Please use another');
  //       }
  //     }


  //     var xu = document.getElementById("user_fullname_text").value;
    
  //   //alert(xd);
  //     if(xu == ''){
  //       alert('User Fullname can not be empty');
  //       errno = 1;
  //     }

      

  //   checkboxes = $('.privCheck:checkbox:checked').val();
  //   // checkboxes = document.getElementsByClassName('privCheck');
  //   if(checkboxes != 'yes'){
  //     alert('Please Select at least 1 Privilege');
  //       errno = 1;
  //   }
  //     // var xr = document.getElementById("cust_id").value;
  //     // if (xr.length <= 5 || xr.length > 12) {
  //     //   alert('Invalid Format Company Code');
  //     //   // return false;
  //     // }

  // }

  if(errno == 0){
  var x = document.getElementsByClassName("custtab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  //console.log(currentTab);
  if(currentTab == 2){
  //var checkedValue = document.querySelector('.messageCheckbox:checked').value;
      var cboxes = document.getElementsByName('req_id[]');
    var len = cboxes.length;
    for (var i=0; i<len; i++) {
      var amount  = $("#limit"+cboxes[i].value).val();
    
    
      if (!cboxes[i].checked && (amount != '0.00' && amount != '') ) {
      //alert();
          $("."+cboxes[i].value+'_view').css("display","table-row");
          //var tag = "#limit"+isi;
          var amount  = $("#limit"+cboxes[i].value).val();
          // if(amount != ''){
       
       
            $("#"+cboxes[i].value+'_label').text(amount);  
          // }else{
            // currentTab = currentTab - n;
            // alert('Max limit can not be empty');
          // }
          
        }else{
           $("#"+cboxes[i].value+'_label').text('');
          $("."+cboxes[i].value+'_view').css("display","none");
        }
      //alert(i + (cboxes[i].checked?' checked ':' unchecked ') + cboxes[i].value);
    }
    
  }else if(currentTab == 3){
    var cboxes = document.getElementsByName('req_ccy[]');
    var len = cboxes.length;
    var errorlimitidr = false;
    var errorlimitusd = false;
    for (var i=0; i<len; i++) {
      var amount  = $("#daily"+cboxes[i].value).val();

      if (!cboxes[i].checked && (amount != '0.00' && amount != '') ) {
        //console.log(amount);
          $("."+cboxes[i].value+'_view').css("display","table-row");
          //var tag = "#limit"+isi;
          var amount  = $("#daily"+cboxes[i].value).val();

          var intamount = Number(amount.replace(/[^0-9\.]+/g, ""));
           if(cboxes[i].value == 'IDR'){
             var limitamount = limitidr;

             if(parseInt(limitamount) < parseInt(intamount)){
               errorlimitidr = true;
             }

           }else{
             var limitamount = limitusd;

             if(parseInt(limitamount) < parseInt(intamount)){
               errorlimitusd = true;
             }
           }
        
       
          // if(amount != ''){
            $("#"+cboxes[i].value+'_label').text(amount);  
          // }else{
            // currentTab = currentTab - n;
            // alert('Max limit can not be empty');
          // }
          
        }else{
           $("#"+cboxes[i].value+'_label').text('');
          $("."+cboxes[i].value+'_view').css("display","none");
        }
      //alert(i + (cboxes[i].checked?' checked ':' unchecked ') + cboxes[i].value);
    }
  }

  const formattermoney = new Intl.NumberFormat('en-US', {
    minimumFractionDigits: 2
  });

  if(errorlimitidr){
    currentTab = currentTab - n;
    alert('Daily limit (IDR) cannot higher than company limit (IDR '+ formattermoney.format(limitidr) +')'); 
  }
  else if(errorlimitusd){
    currentTab = currentTab - n;
    alert('Daily limit (USD) cannot higher than company limit (USD '+ formattermoney.format(limitusd) +')'); 
  }
  
  // Otherwise, display the correct tab:
  showTab(currentTab);
  }else{
    showTab(currentTab);
  }
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("custtab");
  y = x[currentTab].getElementsByClassName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    // document.getElementsByClassName(" ")[currentTab].className += " inactive";
  }
  return valid; // return the valid status
}


function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("custindicator");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
    x[i].className = x[i].className.replace(" inactive", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}

  function changeDateEstablish(){
    if(document.getElementById('cust_type').value=='E0')
      document.getElementById('dateEstablish').innerHTML='&nbsp;<span class="errmsg">*</span>';
    else
      document.getElementById('dateEstablish').innerHTML='';
  }


  <?php if($this->cust_type=='E0'){?>
  changeDateEstablish();
  <?php } ?>

  $(document).ready(function()
{ 

  $("#nextBtn").on('click',function() {
      // var user_id = $('#generate_userid').val() + $('#user_fullname_text').val() + $('#squenceNumberUser').val();  
      var user_id = $('#user_id').val();  
      $("#user_id_label").text(user_id);

      var user_email = $('#user_email').val();  
      $("#user_email_label").text(user_email);

      var user_fullname = $('#user_fullname_text').val();  
      $("#user_fullname_label").text(user_fullname);

      var user_phone = $('#user_phone').val();  
      $("#user_phone_label").text(user_phone);

      var user_ext = $('#user_ext').val();  
      $("#user_ext_label").text(user_ext);

      var token_id = $('#token_id').val();  
      $("#token_id_label").text(token_id);

      var email_checked = $("input[name='user_isemail']:checked").val(); 
      if (email_checked == '0') {
        var isi = "No";
      }else if(email_checked == '1'){
        var isi = "Yes";
      }
      $("#user_isemail_label").text(isi);
  });


  $(".cek_data").on("click",function(){
      var isi = $(this).attr('nilai');
      
      if ($(this).is(":checked")) {
          $("."+isi+'_view').css("display","table-row");
      var tag = "#limit"+isi;
          var amount  = $("#limit"+isi).val();
          $("#"+isi+'_label').text(amount);
      }else{
       $("#"+isi+'_label').text('');
          $("."+isi+'_view').css("display","none");
      }
  });

  // $("#user_id").on('keyup',function() {
  //   var user_id = $(this).val();  
  //   $("#user_id_label").text(user_id);
  // });

  // $("#user_email").on('keyup',function() {
  //   var user_email = $(this).val();  
  //   $("#user_email_label").text(user_email);
  // });

  // $("#user_fullname_text").on('keyup',function() {
  //   var user_fullname = $(this).val();  
  //   $("#user_fullname_label").text(user_fullname);
  // });

  // $("#user_phone").on('keyup',function() {
  //   var user_phone = $(this).val();  
  //   $("#user_phone_label").text(user_phone);
  // });

  // $("#user_ext").on('keyup',function() {
  //   var user_ext = $(this).val();  
  //   $("#user_ext_label").text(user_ext);
  // });

  // $("#token_id").on('keyup',function() {
  //   var token_id = $(this).val();  
  //   $("#token_id_label").text(token_id);
  // });

  // $("input[type=radio][name=user_isemail]").on('change',function() {
  //   var email_checked = $("input[name='user_isemail']:checked").val(); 
  //   if (email_checked == '0') {
  //     var isi = "No";
  //   }else if(email_checked == '1'){
  //     var isi = "Yes";
  //   }
  //   $("#user_isemail_label").text(isi);
  // });  
   // $('#user_email').val('<?php echo $this->user_email; ?>');
   // $('#user_fullname').val('<?php echo $this->user_fullname; ?>');
   // $('#user_phone').val('<?php echo $this->user_phone; ?>');
   // $('#user_ext').val('<?php echo $this->user_ext; ?>');
   // $('#token_id').val('<?php echo $this->token_id; ?>');
  // admin1Checkbox();
  // admin2Checkbox();
  //admin3Checkbox();
  // adminusercheck();
});
</script>
