<script type="text/javascript">
   refreshParent(); 
</script>
<table align = "CENTER" border="0" cellpadding="8" cellspacing="8" width="50%">
	<tbody>
		<tr>
			<td align="center">
				<div id="box_outer">
					<div class="tbl-evencontent">
                        <?php foreach($this->clause as $key => $val){ ?>
						<p></p><?php
							echo $val['TRANSACTION_ID'].' - '.$val['ERROR_DESC'];
						?><p></p>
                        <?php } ?>
						<p align="center">
						<input type="button" class="btnwhite hov" onclick="javascript:window.close(); window.opener.location.reload();" value="<?php echo $this->language->_('Close');?>">
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>