<script type="text/javascript">
$(document).ready(function(){
	$('#fixTable').fixTableHeader();


	$("#searchtable").keyup(function () {
    var value = this.value.toLowerCase().trim();

    $("#myTable tr").each(function (index) {
        if (!index) return;
        $(this).find("td").each(function () {
            var id = $(this).text().toLowerCase().trim();
            var not_found = (id.indexOf(value) == -1);
            $(this).closest('tr').toggle(!not_found);
            return not_found;
        });
    });
});

});

$(document).ready(function(){
		$('div#sidebar-collapse').click(function(){
			  if ( $("#logo-title").is(":visible") ) {
			    $("#logo-title").hide();
			    $("#logo-titles").hide();
			  } else if ( $("#logo-title").is(":hidden") ) {
			    $("#logo-title").show();
			    $("#logo-titles").show();
			  }
			})

		$('#createdStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#createdEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#updateStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#updateEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#efdateStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#efdateEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });


	changeTransferType();
	if('<?= $this->transferType ?>' != '')
	{
		$('#transferType').val('<?= $this->transferType ?>');
	}

});
</script>
<style>
	
	@media print{
		.hidden, .hidden * {
			display: none !important;
			visibility: hidden;
		}

		button {
			display: none !important;
			visibility: hidden;
		}


		.hiddenLogo, .hiddenLogo * {
			display: inline !important;
			visibility: show;
			margin-bottom:40px;
		}

		input.currency{ width: 200px; font-size: 10px; }
		ul { padding-left:10px; }
		h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed }
		body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; }
		b { font-weight:bold; font-size:11px }
		td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; }
		a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; }
		.tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
		.tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
		.tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; }
		.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; }
		.errmsg { font-weight:bold; font-size:11px; color:#FF0000 }
		.headercolor {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } 
		body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
		-webkit-print-color-adjust:exact; /*chrome*/
		-moz-print-color-adjust:exact; /*mozila*/
		-o-print-color-adjust:exact; /*opera*/
		-ms-print-color-adjust:exact; /*ie*/
		}

	.Path-85 {
		opacity:0.4;
		position: fixed;
		bottom: 0;
		left: 0;
	}

	.Path-83 {
		opacity:0.4;
		position: fixed;
		bottom: 0;
		right: 0;
	}
	.printlogo {
		width:60%;
	}

	.footer {
		display:none;
	}

	.printhide {
		display:none;
	}
	.printshow {
		display:block;
	}
}
</style>

<table border="0" cellpadding="0" cellspacing="0" width="60%" align="left" style="display:none" class="hiddenLogo">
	<tr>
		<td valign="left"><div style="padding: 0px 20px 0px 0px"><img class="printlogo" src="/assets/permatalayout/assets/newlayout/img/logosgo_small_2.png" border="0"/></div></td>
	</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="40%" align="right" style="display:none" class="hiddenLogo">
	<tr>
		<td align="center" valign="middle"><strong><?php echo $this->language->_('RDN Balance Inquiry');?> - </strong></td>
		<td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s")?></strong></td>
	</tr>
</table>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span>RDN Account</span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="valas" style="display:none;"><?=$this->language->_('RDN Account')?></span>
                      <span class="inhouse"><?=$this->language->_('RDN Account List')?></span>
                      <?php if ($this->confirmPage == 1 && empty($this->resultPage)) {?>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                      <?php }?>
                  </li>
                  
              </ul>
          </div>
        </div>
    </div>
<br />

<div class="content-box hidden">
	<div class="row">
	  <div class="portlet-body form col-md-12">
<?if($this->error){ ?> <div class="errmsg"><?=$this->report_msg?></div><?}?>


<h5><?=$this->language->_('RDN Account List')?></h5>
<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','sortby' => $this->sortBy,'sortdir' => $this->sortDir),null,true)?>" method="get">

	<?php
	$optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
	foreach($this->filterlist as $row){
		$optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
	}

	?>
	<div class="row " id="logo-titles" style="margin-left: 0px">
			<?php
			if(!empty($this->wherecol)){
				?>
				<script type="text/javascript">
					$(document).ready(function(){
					$("#logo-title").show();
				});

				</script>
				<?php
			}
			// print_r($this->wherecol);die;
			foreach ($this->wherecol as $key => $value) {
				?>
					<div id="searchs" style="width: 100%">
                    <?php
                        $datetype = array("PS_CREATED", "PS_EFDATE", "PS_UPDATED");
                        $selectlist = array("PS_TYPE",'PS_CCY','PS_STATUS','SOURCE_ACCOUNT_CCY','SOURCE_ACCOUNT','BENEFICIARY_ACCOUNT','BENEFICIARY_ACCOUNT_CCY','TRA_AMOUNT','PS_TOTAL_AMOUNT');
                        $index = 0;



                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$ctr?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($value==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]' >

                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'>
                                    		<script type="text/javascript">
                                    			$(document).ready(function(){
                                    			var colval = "#colvalue-s<?=$key?>";
                                    			var colomnname = "<?=$value?>";
                                    			// var colselect= "<?=$value?>";
                                    			var colselect = "colselect-s<?=$key?>";
    											var ncolselect = "#colselect-s<?=$key?>";
                                    			if(colomnname == 'TRA_AMOUNT' || colomnname == 'PS_TOTAL_AMOUNT' || colomnname == 'EQUIVALENT_AMOUNT_IDR' || colomnname == 'EQUIVALENT_AMOUNT_USD' ){
											        $(colval).append("<input type='text' style='width:100%' name='whereval[]'  value='' maxlength='20' autocomplete='off' id='"+colselect+"' class='form-control' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
											        $(colselect).val('<?=$this->whereval[$index]?>');
											    }else if(colomnname == 'PS_STATUS'){

											            $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

											            var id = $("#tablename").find(":selected").val();
											            $.ajax({
											            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'wherecolumnpsstatus'),null,true)?>",
											            type: 'GET',
											            dataType: "html",
											            data: {
											                id: <?=$this->whereval[$index]?>
											            },
											            success: function(data) {
											                $(ncolselect).html(data);
											            },
											            error: function(xhr, ajaxOptions, thrownError)
											            {
											                alert("Failed to get where column list, please try again");
											            }
											        });

											            $(colselect).val('<?=$this->whereval[$index]?>');

											    }else if(colomnname == 'PS_TYPE'){

											            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

											            var id = $("#tablename").find(":selected").val();
											            $.ajax({
											            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'wherecolumnpstype'),null,true)?>",
											            type: 'GET',
											            dataType: "html",
											            data: {
											                id: <?=$this->whereval[$index]?>
											            },
											            success: function(data) {
											                $(ncolselect).html(data);
											            },
											            error: function(xhr, ajaxOptions, thrownError)
											            {
											                alert("Failed to get where column list, please try again");
											            }
											        });
											            // document.getElementById(colselect).value = '<?=$this->whereval[$index]?>';
											            $(colselect).val('<?=$this->whereval[$index]?>');

											    }else if(colomnname == 'SOURCE_ACCOUNT'){

											            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

											            var id = $("#tablename").find(":selected").val();
											            $.ajax({
											            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'wheresourceaccount'),null,true)?>",
											            type: 'GET',
											            dataType: "html",
											            data: {
											                id: <?=$this->whereval[$index]?>
											            },
											            success: function(data) {
											                $(ncolselect).html(data);
											            },
											            error: function(xhr, ajaxOptions, thrownError)
											            {
											                alert("Failed to get where column list, please try again");
											            }
											        });
											            $(colselect).val('<?=$this->whereval[$index]?>');

											    }else if(colomnname == 'PS_CCY' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY'){
											            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
											            var id = $("#tablename").find(":selected").val();
											            $.ajax({
											            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'ccy'),null,true)?>",
											            type: 'GET',
											            dataType: "html",
											            data: {
											                id: <?=$this->whereval[$index]?>
											            },
											            success: function(data) {
											                $(ncolselect).html(data);
											            },
											            error: function(xhr, ajaxOptions, thrownError)
											            {
											                alert("Failed to get where column list, please try again");
											            }
											        });
											            $(colselect).val('<?=$this->whereval[$index]?>');

											    }else if(colomnname == 'BENEFICIARY_ACCOUNT'){

											            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

											            var id = $("#tablename").find(":selected").val();
											            $.ajax({
											            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>$this->controllername,'action'=>'benef'),null,true)?>",
											            type: 'GET',
											            dataType: "html",
											            data: {
											                id: <?=$this->whereval[$index]?>
											            },
											            success: function(data) {
											                $(ncolselect).html(data);
											            },
											            error: function(xhr, ajaxOptions, thrownError)
											            {
											                alert("Failed to get where column list, please try again");
											            }
											        });
											            $(colselect).val('<?=$this->whereval[$index]?>');

											    }
											});

                                    		</script>
                                    	<?php
                                    		if($value == 'PS_CREATED'){
                                    			// var_dump($this->whereval);die;
                                    			?>
                                    			<input type='text' class='form-control' name='createdate[]' id='createdStart' readonly value="<?=$this->createdStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' value="<?=$this->createdEnd?>" readonly required>
                                    			<?php
	                                    		}else if($value == 'PS_EFDATE'){
												?>
												<input type='text' class='form-control' name='efdate[]' id='efdateStart' readonly value="<?=$this->paymentStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='efdate[]' id='efdateEnd' value="<?=$this->paymentEnd?>" readonly required>
												<?php

	                                    		}else if($value == 'PS_UPDATED'){
												?>
												<input type='text' class='form-control' name='updatedate[]' id='updatedStart' readonly value="<?=$this->updatedStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='updateEnd' value="<?=$this->updatedEnd?>" readonly required>
												<?php

	                                    		}else if(!in_array($value, $selectlist)){
	                                    		?>
		                                        <input class='form-control' type='text'  name='whereval[]' value='<?=$this->whereval[$index]?>'/>
		                                  		<?php }
		                                  		if (!in_array($value, $datetype)){
													// print_r($value);die;
													$index++;
												}
		                                  		 ?>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>

                </div>

				<?php
			}
			?>

	</div>


	<div class="row " id="logo-title" style="display: none">
	<div class="portlet-body form col-md-12">
 	 <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($val==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>

                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?=$ctr?>'>
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?=$this->whereval[$key]?>'/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    <?php //}}?>
                </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
               <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
                <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">


                <br/>


                    	<div class="portlet-body form" style="display: none">

                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
                                                            <div class="col-md-4">
                                                            <?php echo $this->formSelect('paymentType',$this->paymentType,array('id'=>'paymentType','class'=>'form-control','onclick'=>'changeTransferType()'), $this->optPayType); ?>
                                                            </div>
                                                            <label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
                                                            <div class="col-md-3">
                                                            <select name = "transferType" id = "transferType" class="form-control">
                                            					<option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
                                            				</select>
                                                            </div>
                                                 </div>

                                                 <div class="form-group row ">

                                                            <div class="col-md-12">
                                                            <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btn btn-success')); ?>&nbsp;
				                                            <input type="button" name="clearfilter" class="btn btn-success" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                                                            </div>
                                                 </div>


                               </div>
                               </div>
            <div class="col-md-4">
            </div>

	</div>
	<div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
	     <a href="#" class="sidebar-collapse-icon with-animation">
	         <?php echo $this->language->_('Advanced Search'); ?>
	     </a>
	 </div>
	<br/>
	  </form>
    </div>
</div>
</div>

<table class="hidden" align="right">
		<tr style="height:30px">
			<td colspan="12" align="CENTER">
				<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.ptml'),null,true)?>" method="post">			
					<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
					<?php echo $this->formSubmit('pdf','  PDF is too large (function is disabled)',array('class'=>'btnwhite hov','disabled'=>'disabled')); ?>&nbsp;
					<?php }else{ ?>
					<?php echo $this->formSubmit('pdf','PDF',array('class'=>'btnwhite hov')); ?>&nbsp;
					<?php } ?>
					<?php if($this->count > $this->applicationSetting['max_row_download_csv']) { ?>
					<?php echo $this->formSubmit('csv','CSV is too large (function is disabled)',array('class'=>'btnwhite hov','disabled'=>'disabled')); ?>&nbsp;
					<?php }else{ ?>
					<?php echo $this->formSubmit('csv','CSV',array('class'=>'btnwhite hov')); ?>&nbsp;
					<?php } ?>
<!--					<input class="inputbtn"  value="<?php echo $this->language->_('PRINT');?>" onclick="window.print();" type="button">-->
				
					<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {
						echo $this->formSubmit('pr',$this->language->_('print'),array('class'=>'btnwhite hov','disabled'=>'disabled'));
					}
					else{
					?>
						<input class="btnwhite hov hidden" value="<?php echo $this->language->_('Print')?>" onclick="window.print();" type="button" >
					<?php 	
					}
					?>
				</form>				
			</td>
		</tr>
	</table>
<br />
<br />	

	
	<table width="100%"  cellspacing="0" class="table table-sm table-striped">
        <tr>
            <th class="headercolor tablehead fth-header" id="tbl-headercontent"><strong>No</strong></th>
            <th class="headercolor tablehead fth-header" id="tbl-headercontent"><strong>RDN Account Number</strong></th>
            <th class="headercolor tablehead fth-header" id="tbl-headercontent"><strong>RDN Account Name</strong></th>
            <th class="headercolor tablehead fth-header" id="tbl-headercontent"><strong>SID</strong></th>
            <th class="headercolor tablehead fth-header" id="tbl-headercontent"><strong>SRE</strong></th>
            <th class="headercolor tablehead fth-header" id="tbl-headercontent"><strong>Currency</strong></th>
            <th class="headercolor tablehead fth-header" id="tbl-headercontent"><strong>Type</strong></th>
            <th class="headercolor tablehead fth-header" id="tbl-headercontent"><strong>Email</strong></th>
            <th class="headercolor tablehead fth-header" id="tbl-headercontent"><strong>Opening Account</strong></th>
            <th class="headercolor tablehead fth-header" id="tbl-headercontent"><strong>Status</strong></th>
            
        </tr>  
	<?php 
	
	if(count($this->paginator))
	{
	  $counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
	  $i = 0;
	  //Zend_Debug::dump($this->paginator);
		  foreach($this->paginator as $row)
		  {
				$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
				$button1 = $this->url(array('module'=>$this->modulename,'controller'=>'view','action'=>'index','cust_id'=>$this->cust_id,'acct_no'=>$row['ACCT_NO']),null,true);
				$button1 = '<a href="'.$button1.'" class="inputbtn">View/Edit</a>';
				//$ACCT_STATUS = (isset($row['ACCT_STATUS']) ? $row['ACCT_STATUS'] : -1);
//				$arrRDN_STATUS = array(1=>"Active",2=>"Suspended",3=>"Deleted");
				//$dispACCT_STATUS = in_array($ACCT_STATUS, array_keys($arrACCT_STATUS)) ? $arrACCT_STATUS[$ACCT_STATUS] : "N/A";			
				if($row['RDN_STATUS'] == 1 || $row['RDN_STATUS'] == 'R'){
					$row['RDN_STATUS'] = 'Active';
				}
				$row['RDN_DESC'] = 'RDN GIRO';
				echo '<tr>  
			            <td class="'.$td_css.'">'.$counter.'</td>						
						<td class="'.$td_css.'">'.$row['RDN_NO'].'</td>
						<td class="'.$td_css.'">'.$row['RDN_NAME'].'</td>
						<td class="'.$td_css.'">'.$row['RDN_SID'].'</td>
						<td class="'.$td_css.'">'.$row['RDN_SRE'].'</td>
						<td class="'.$td_css.'">'.$row['RDN_CCY'].'</td>
						<td class="'.$td_css.'">'.$row['RDN_DESC'].'</td>
						<td class="'.$td_css.'">'.$row['RDN_EMAIL'].'</td>						
						<td class="'.$td_css.'">'.$row['RDN_OPENING'].'</td>						
						<td class="'.$td_css.'">'.$this->language->_($row['RDN_STATUS']).'</td>
					  </tr>';
			    $i++;
			    $counter++;
			}
	  ?>
	</table>  
	 <?php 
			}else{?>			
	 <tr><td colspan="15" class="tbl-evencontent" align="center"> --- <?php echo $this->language->_('No Data'); ?> --- </td></tr></table><?php }?>


	 <script type="text/javascript">
function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
$(document).ready(function(){

$("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-"+ctr+"' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>"+optstr+"</select></div><div style='display:none'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-"+ctr+"'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);
    });
});
	function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
	var $coll = $( '.event_select' );
    $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });

    $(colval).empty();
    if(colomnname == 'PS_CREATED'  ){
        $(colval).append("<input type='text' class='form-control'  name='createdate[]' id='createdStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' readonly required>");
												                        $('#createdStart').datepicker({
												                            format: 'dd/mm/yyyy',
												                            uiLibrary: 'bootstrap4'
												                        });
												                        $('#createdEnd').datepicker({
												                            format: 'dd/mm/yyyy',
												                            uiLibrary: 'bootstrap4'
												                        });

    }else if( colomnname == 'PS_UPDATED'){
        $(colval).append("<input type='text' class='form-control' name='updatedate[]' id='updateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='updateEnd' readonly required>");


												                        $('#updateStart').datepicker({
												                            format: 'dd/mm/yyyy',
												                            uiLibrary: 'bootstrap4'
												                        });
												                        $('#updateEnd').datepicker({
												                            format: 'dd/mm/yyyy',
												                            uiLibrary: 'bootstrap4'
												                        });

    }else if(colomnname == 'PS_EFDATE' ){
        $(colval).append("<input type='text' class='form-control' name='efdate[]' id='efdateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='efdate[]' id='efdateEnd' readonly required>");


												                       $('#efdateStart').datepicker({
												                            format: 'dd/mm/yyyy',
												                            uiLibrary: 'bootstrap4'
												                        });
												                        $('#efdateEnd').datepicker({
												                            format: 'dd/mm/yyyy',
												                            uiLibrary: 'bootstrap4'
												                        });

    }else if(colomnname == 'TRA_AMOUNT' || colomnname == 'PS_TOTAL_AMOUNT' || colomnname == 'EQUIVALENT_AMOUNT_IDR' || colomnname == 'EQUIVALENT_AMOUNT_USD' ){
        $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20' autocomplete='off' class='form-control' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
    }else if(colomnname == 'PS_STATUS'){

            $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'wherecolumnpsstatus'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'PS_TYPE'){

            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'wherecolumnpstype'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'SOURCE_ACCOUNT'){

            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'wheresourceaccount'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'PS_CCY' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY'){
            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'ccy'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'BENEFICIARY_ACCOUNT'){

            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>$this->controllername,'action'=>'benef'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else{
         $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>
