<form name="biller_001_view" method="post" action="">
	<img src="biller_001_view.php_files/logo_lioncargo.gif" alt="Lion Cargo Top Up">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">												
		<tbody>
			<tr>
				<td class="filterarea" id="filterarea">
					<div class="tdform-sub"><?php echo $this->language->_('Filter'); ?></div>
				</td>
			</tr>
			<tr>
				<td class="filterarea" id="filterarea" nowrap="nowrap" align="left">
					<table border="0" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td class="tbl-evencontent" width="150"><?php echo $this->language->_('Payment Date From'); ?></td>
								<td colspan="3" class="tbl-evencontent">
									<input name="EFDATE_START" value="23/02/2012" size="11" onfocus="this.blur()" readonly="readonly">&nbsp;&nbsp;<a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fStartPop(document.biller_001_view.EFDATE_START,document.biller_001_view.EFDATE_END);return false;" onmouseover="return hidestatus()"><img class="PopcalTrigger" src="biller_001_view.php_files/calbtn.gif" alt="" border="0" height="22" width="34" align="absmiddle"></a>&nbsp;&nbsp;
									<?php echo $this->language->_('To'); ?>&nbsp;&nbsp;<input name="EFDATE_END" value="23/02/2012" size="11" onfocus="this.blur()" readonly="readonly">&nbsp;&nbsp;<a href="javascript:void(0)" onclick="if(self.gfPop)gfPop.fEndPop(document.biller_001_view.EFDATE_START,document.biller_001_view.EFDATE_END);return false;" onmouseover="return hidestatus()"><img class="PopcalTrigger" src="biller_001_view.php_files/calbtn.gif" alt="" border="0" height="22" width="34" align="absmiddle"></a>&nbsp;&nbsp;
								</td>
							</tr>	
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Travel Agent ID'); ?></td>
								<td class="tbl-evencontent" width="150"><input name="SEARCH_AGENT_ID" size="20" maxlength="20" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);" type="text"></td>
								<td class="tbl-evencontent"><?php echo $this->language->_('Travel Agent Name'); ?></td>
								<td class="tbl-evencontent"><input name="SEARCH_AGENT_NAME" size="20" maxlength="20" type="text"></td>
							</tr>															
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Payment Ref'); ?>#</td>
								<td class="tbl-evencontent" width="150"><input name="SEARCH_PAYMENT" size="20" maxlength="20" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);" type="text"></td>
								<td class="tbl-evencontent" width="150"><?php echo $this->language->_('Source Account'); ?></td>
								<td class="tbl-evencontent"><input name="SOURCE_ACCT" size="10" maxlength="16" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);" type="text"></td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('CCY'); ?></td>
								<td class="tbl-evencontent"><input name="SEARCH_CCY" size="3" maxlength="3" onkeypress="this.value=ignoreSpaces(this.value); return noSpecialChar3(event);" type="text"></td>
								<td class="tbl-evencontent"><?php echo $this->language->_('Payment Status'); ?></td>
								<td class="tbl-evencontent">
									<select name="PS_STATUS">
										<option selected="selected" value=""><?php echo $this->language->_('All'); ?></option>
										<option value="1"><?php echo $this->language->_('Waiting for Approval'); ?></option>
										<option value="2"><?php echo $this->language->_('Waiting to Release'); ?></option>
										<option value="4"><?php echo $this->language->_('Reject'); ?></option>
										<option value="5"><?php echo $this->language->_('Completed'); ?></option>
										<option value="6"><?php echo $this->language->_('Transfer Failed'); ?></option>
										<option value="7"><?php echo $this->language->_('Pending (Future Date)'); ?></option>
										<option value="9"><?php echo $this->language->_('Payment Exception'); ?></option>
										<option value="13"><?php echo $this->language->_('Pending Process'); ?></option>
										<option value="14"><?php echo $this->language->_('Cancel Future Date'); ?></option>
									</select>&nbsp;&nbsp;
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent" colspan="4">
									<input class="inputbtn" value="set filter" onclick="JavaScript:proceed('', '', '1');" type="button">
									<input class="inputbtn" value="clear filter" onclick="location.href='biller_001_view.php?fl3nc=1&amp;r=d3am2mbnber5rsmf&amp;param=3nd3dIiKiHyBfXO2wMC5pHW7rbe5wb_Ohw%3d%3d'" type="button">
								</td>															
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td class="filterarea-line">
					<img src="biller_001_view.php_files/1x1px.gif">
				</td>
			</tr>
			<tr>
				<td class="contentarea" id="contentarea" valign="midle" align="right">&nbsp;</td>
			</tr>
			<tr>
				<td class="contentarea" id="contentarea">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<td class="tdform-sub"><?php echo $this->language->_('Payment Ref'); ?>#<a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=o3t17nwzjnfnz9v6&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twlWOmqpenq9fZ1t2Hp7i4rKrEzruQ1Im1uLtvxuvT"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=570wm2yro8xoxz04&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twlWOmqpenq9fZ1t2Hp7i4rKrEzruQ1Im1uLtvyd3j2Q%3d%3d"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>												
								<td class="tdform-sub"><?php echo $this->language->_('Source Account'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=6gk8ry90skcaqmsk&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twlWOXmpusqM2d5LqzeK64x6fLzsyGx4qjx9qV"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=7s9krxdcjckeyd8e&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twlWOXmpusqM2d5LqzeK64x6fLzsyGx4qjysylyA%3d%3d"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>												
								<td class="tdform-sub"><?php echo $this->language->_('Source Account Name / Alias'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=yq4kz3aboquzbnin&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twlWOXmpusqM3W08zPn9fH1cqY4siJuXu4xamLxMu_yLx1w-zW"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=4vyd4s48logpo7y2&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twlWOXmpusqM3W08zPn9fH1cqY4siJuXu4xamLxMu_yLx1xt7myA%3d%3d"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>												
								<td class="tdform-sub"><?php echo $this->language->_('Beneficiary Account'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=lm27mqgv3svhdh79&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twlWOXmpqepM_dl96whq2rusS0yNiKxIi6o8ilyA%3d%3d"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=sff4oiozu2ew8xtp&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twlWOXmpqepM_dl96whq2rusS0yNiKxIi6o8uX2Ns%3d"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>		
								<td class="tdform-sub"><?php echo $this->language->_('Beneficiary Account Name'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=f7d37ba9q51r9nxd&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twlWOXmpqepM_d0M3CotTUydLXleyGx3qruMZ0vtfDxbqMn9rmyA%3d%3d"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=heh0z11byysl0hqm&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twlWOXmpqepM_d0M3CotTUydLXleyGx3qruMZ0vtfDxbqMn93Y2M4%3d"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>											
								<td class="tdform-sub"><?php echo $this->language->_('Travel Agent ID'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=k2qmy37dpzydgk8x&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twlWOZo6GepN7W2s-Hp7i4rKrEzruQ1Im1uLtvxuvT"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=ca07xz6im3pnw7o4&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twlWOZo6GepN7W2s-Hp7i4rKrEzruQ1Im1uLtvyd3j2Q%3d%3d"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>
								<td class="tdform-sub"><?php echo $this->language->_('Travel Agent Name'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=9fm78ykygcqtogee&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twlWOZo6GepN7W38zOmY_Zt7e2tMuWt4_FubaEubXR6cs%3d"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=1s3pzs0kwgsl1m4i&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twlWOZo6GepN7W38zOmY_Zt7e2tMuWt4_FubaEubXU29ub"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>				
								<td class="tdform-sub"><?php echo $this->language->_('Created'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=4fat935jn4mwz8tb&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twmGOmqpecqM_Y5dDFWty1uqm3wdh5zpW5tbmGotnj2Q%3d%3d"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=2v9phwv6zpztzsfw&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twmGOmqpecqM_Y5dDFWty1uqm3wdh5zpW5tbmGotzV6cs%3d"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>	
								<td class="tdform-sub"><?php echo $this->language->_('Updated'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=qs05nlzmixroz207&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twmGOmqpeups7Y5dDFWty1uqm3wdh5zpW5tbmGotnj2Q%3d%3d"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=a3j8hhqt59wtukdo&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twmGOmqpeups7Y5dDFWty1uqm3wdh5zpW5tbmGotzV6cs%3d"><img src="biller_001_view.php_files/ico_rdesc.gif"></a></td>	
								<td class="tdform-sub"><?php echo $this->language->_('Payment Date'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=z8h9139zt69s0hlq&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twmGOmqpeenM7Y5dCHp7i4rKrEzruQ1Im1uLtvxuvT"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=2m4t4mi3bbsv4c5j&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twmGOmqpeenM7Y5dCHp7i4rKrEzruQ1Im1uLtvyd3j2Q%3d%3d"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>
								<td class="tdform-sub"><?php echo $this->language->_('Ccy'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=fflrdplkvrh3liku&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twlWOZrKqrlc3m1dCHp7i4rKrEzruQ1Im1uLtvxuvT"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=v332jvtmmchzjl04&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twlWOZrKqrlc3m1dCHp7i4rKrEzruQ1Im1uLtvyd3j2Q%3d%3d"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>																
								<td class="tdform-sub"><?php echo $this->language->_('Amount'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=2elj73ixnovqgw6m&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twlWOqqZmYl9fm5tnVWty1uqm3wdh5zpW5tbmGotnj2Q%3d%3d"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=n28hig880b6yuftf&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twlWOqqZmYl9fm5tnVWty1uqm3wdh5zpW5tbmGotzV6cs%3d"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>																	
								<td class="tdform-sub"><?php echo $this->language->_('Status'); ?><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=3b5jfixdya022q7a&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twpKiVqqyaqt_q0NGHp7i4rKrEzruQ1Im1uLtvxuvT"><img src="biller_001_view.php_files/ico_asc.gif"></a><a href="https://coolpay.bankbii.com/biller_001_view.php?fl3nc=1&amp;r=6hry0i3nudq4pgbl&amp;param=0aGTmplyZ12rfnyuuMWwwIe9p7q5r6GsXKd8lpiMZKuqoKeaXtW-uamshXeSeYN6dGpsW5y9oZ2GZq-YmJakleyKxIu4qayRpruzyqVe1dzi0tuQk5aXnpp0hIZmmqiX3rV1yKm3qbesn6q-hLzFtYGinuO8rXm2zsWqtHVvf32EhHp5i325y8C7toSP2buqs8G8f9SGp7-0d7PMrZzbi6e6xaizkHV2jXJcqot-d7y6ucqkg62rpYvlwr54x3muxah5qsbE1bF8n5_muLByhHZ8lHd-fYeKycWyuKZxj9m4uNHCzXjJi7mjjaW40b65rHm2vtK4v3KEh3FbqYqRh3muuMWwwHm3qqWL5bjMlsSIqqu5b97d45zbh7S9uLfKc4twpKiVqqyaqt_q0NGHp7i4rKrEzruQ1Im1uLtvyd3j2Q%3d%3d"><img src="biller_001_view.php_files/ico_desc.gif"></a></td>							
							</tr>
							<tr>
								<td class="tbl-evencontent" colspan="13" align="center"><?php echo $this->language->_('there is currently no data in this section'); ?></td>
							</tr>
							<tr>
								<td colspan="13" class="contentarea" id="contentarea" valign="midle" align="right">&nbsp;</td>
							</tr>							
							<tr>
									<td class="button-area" id="button-area" colspan="10">
										<div class="formbutton">
											<input class="inputbtn" value="back" onclick="location.href='partner_screen_mdl.php?fl3nc=1&amp;r=c4y9w1s8mdrypm8q&amp;param=0aGTmplyZ12rnKXX59DMxJfSyqWxv5-paJup08mkotnEucW2e6PLurSRpHh4dYmLiX2CeqfDurqvd6q4r7TGvsmMxQ%3d%3d'" type="button">
											<input class="inputbtn" value="&nbsp;&nbsp;&nbsp;&nbsp;CSV&nbsp;&nbsp;&nbsp;&nbsp;" onclick="location.href='biller_001_view.php?fl3nc=1&amp;r=33x6huhw0sgxguwc&amp;param=3qGkopeaqap1qajT5eWYxKffjNvI4dvupOOVzsvIlsrqrcbJsc_e4dmWg5eZWWdpXGp8idns487GX6rJy9Tn3e1cp3m51dykyN2bt8ub0e7h2ZZ_k6CZYFtpfmR31uDS3oZmrKjN09fV4prel9jfknPI29_r1qyHq7an0J-XmZ2Yn5iqsmGr2tTa1qLdkbbG39SeabhhutjIqMrkm7fPndDtnq6vVmR2X4momK6eopW42NDPqJS0ydLXlKt6uKjLx9uXyZ2iub2oxtrnys9WZHaElq-knaeqlbvS38ZZm6mryOuUq3q2o9Xb1aaKqrPJ3JnW7uaL3pShn6mipJaumqLf3K7b1JPX29XH1-GeabiXycnapMidornJm8Xs5cjKk5Ohn6OXpJ2Yl9bg0t6GZqzHy8fX3d6dmmipx8qUyubV3Meaw-fe08yel1hmeJmjoZ6k3tbaz4ZmrMnUztfd7Zbjl9PLjGSo6OPVy6rH2ufKz5CYWGZ4pqqXrqbO2OXQxZPPi5qo4uLYnNuax9rMkcudornLrdTr0sjalZdYZniqpqyaosnY3trWot3Fzoqksumq1Knax9un2NfWnNus2u3S2Nydb15fYGFiY2RhlaKcltCmzcvakNTopJujptnF3KLJ2eTbzGPG3ubIllxYpnp6d4uNi3uzu663qoO3qam3ub7NhsWLtozad6u8scqtl7XNtLe_bmRmWWd8Z2peaLCpoZyTWtyrrqmzw76WuoSqo5lliqq2pppdlL-llZxjWKZ3h3t4jH6VvcuyvbVxj9mrt7ewzXzUe7SqpFjYy7W3unuq2LSssH-Gkn15c12rjHurybSzwHWwq7a50b26hLpz'" type="button">
											<input class="inputbtn" value="&nbsp;&nbsp;&nbsp;&nbsp;PDF&nbsp;&nbsp;&nbsp;&nbsp;" onclick="location.href='biller_001_view.php?fl3nc=1&amp;r=9jvrebnyhdfsexh8&amp;param=3qGkopeaqap1qajT5eWY0ZjPjNvI4dvupOOVzsvIlsrqrcbJsc_e4dmWg5eZWWdpXGp8idns487GX6rJy9Tn3e1cp3m51dykyN2bt8ub0e7h2ZZ_k6CZYFtpfmR31uDS3oZmrKjN09fV4prel9jfknPI29_r1qyHq7an0J-XmZ2Yn5iqsmGr2tTa1qLdkbbG39SeabhhutjIqMrkm7fPndDtnq6vVmR2X4momK6eopW42NDPqJS0ydLXlKt6uKjLx9uXyZ2iub2oxtrnys9WZHaElq-knaeqlbvS38ZZm6mryOuUq3q2o9Xb1aaKqrPJ3JnW7uaL3pShn6mipJaumqLf3K7b1JPX29XH1-GeabiXycnapMidornJm8Xs5cjKk5Ohn6OXpJ2Yl9bg0t6GZqzHy8fX3d6dmmipx8qUyubV3Meaw-fe08yel1hmeJmjoZ6k3tbaz4ZmrMnUztfd7Zbjl9PLjGSo6OPVy6rH2ufKz5CYWGZ4pqqXrqbO2OXQxZPPi5qo4uLYnNuax9rMkcudornLrdTr0sjalZdYZniqpqyaosnY3trWot3Fzoqksumq1Knax9un2NfWnNus2u3S2Nydb15fYGFiY2RhlaKcltCmzcvakNTopJujptnF3KLJ2eTbzGPG3ubIllxYpnp6d4uNi3uzu663qoO3qam3ub7NhsWLtozad6u8scqtl7XNtLe_bmRmWWd8Z2peaLCpoZyTWtyrrqmzw76WuoSqo5lliqq2pppdlL-llZxjWKZ3h3t4jH6VvcuyvbVxj9mrt7ewzXzUe7SqpFjYy7W3unuq2LSssH-Gkn15c12rjHurybSzwHWwq7a50b26hLpz'" type="button">
											<input class="inputbtn" value="&nbsp;&nbsp;&nbsp;&nbsp;Print&nbsp;&nbsp;&nbsp;&nbsp;" onclick="window.print();" type="button">
										</div>														  	
									</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</form>
