<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('Home'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <?php echo $this->language->_('Signature Registration'); ?>
                </li>
            </ul>

        </div>
    </div>
</div>


<style type="text/css">
    .field-icon {
        float: right;
        margin-right: 8px;
        margin-top: -20px;
        position: relative;
        z-index: 2;
        cursor: pointer;
    }

    input {
        text-align: center;
    }
</style>

<form name="filterForm" action="" method="post">
    <div class="col-md-12" align="center">
        <BR>
        <BR>
        <BR>
        <BR>
        <!-- <BR> 
     <BR> -->
        <div class="col-md-12" align="center">
            <!-- <img src="/images/loader-btn.png"  alt="img-prev"  class="navbar-brand hiddenprint"/> -->
            <img src="/images/tekenaja-2.png" alt="img-prev" class="navbar-brand hiddenprint" width="400px" />
        </div>

        <!-- <BR>
     <BR>  -->
        <div class="col-md-12 mt-5" align="center">
            <div class="form-group">
                <?php if ($this->unregist == 1) { ?>
                    <?php
                    // echo '<pre>';
                    // print_r($this->message); 
                    //    echo $this->message; 

                    // echo "<BR><code>message = $message</code><BR>"; die;	
                    ?>
                    <br />
                    <br />


                    <!-- <?php echo $this->formSubmit('Submit', $this->language->_('Register'), array('class' => 'btngreen hov')); ?> -->

                    <button class='btngreen hov' id="btn_register" type="button">Register</button>

                <?php } else { ?>
                    <h6 class="text-danger">NIK Anda sudah terdaftar pada vendor digital signature</h6>
                    <BR>
                    <BR>

                    <!-- <a href="#" >Menuju Halaman Pendaftaran Tanda Tangan</a> -->
                <?php }   ?>
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">
    $("#btn_register").click(function() {
        $.ajax({
            url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'register'), null, true) ?>",
            type: "GET",
            dataType: "JSON",
            data: {
                cust_id: $('#cust_id').val()
            },
            beforeSend: function() {
                $('#btn_register').addClass('disabled');
                $('#btn_register').attr('disabled', "true");
            },
            success: function(data) {
                // $('#btn_register').removeClass('disabled');
                // $('#btn_register').removeAttr('disabled');

                if (data.status.toLowerCase() != 'ok') {
                    alert(data.message);
                    return;
                }

                $('#btn_register').hide();
                $('#btn_register').after('<h6 class="text-primary mt-4" id="attempStatus">Silahkan periksa email anda.</h6>');

            },
            complete: () => {
                $('#btn_register').removeClass('disabled');
                $('#btn_register').attr('disabled', "false");
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert("Gagal mendaftarkan");
            }
        });


    });
</script>