<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?= $this->language->_('Home') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas"><?= $this->language->_('Tracking Report') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas"><?= $this->language->_('Paper Inventory Report') ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas"><?= $this->language->_('Detail') ?></span>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="portlet-body form col-md-12">
        <h5><?= $this->language->_('Paper Inventory Report - Detail') ?></h5>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-3">Paper Number</div>
    <div class="col-md-7"><b><?= $this->paperdata["PAPER_KEY"] .  $this->paperdata["PAPER_NUMBER"]; ?></b></div>
</div>
<div class="row mt-2">
    <div class="col-md-3">Bank Branch</div>
    <div class="col-md-7"><?= $this->paperdata["BRANCH_NAME"]; ?></div>
</div>
<div class="row mt-2">
    <div class="col-md-3">Status</div>
    <div class="col-md-7"><?= $this->paperdata["STATUS"]; ?></div>
</div>
<div class="row mt-2">
    <div class="col-md-3">Description</div>
    <div class="col-md-7"><?= $this->paperdata["NOTES"]; ?></div>
</div>
<div class="row mt-2">
    <div class="col-md-3">Uploaded Date</div>
    <div class="col-md-7"><?= date("d M Y", strtotime($this->paperdata["PAPER_UPDATED"])) . ' (' . $this->paperdata["PAPER_UPDATEDBY"] . ')' ?></div>
</div>
<div class="row justify-content-center" style="margin-top: 5rem;">
    <a href="/paper/inventoryreport" class="border btn btnwhite hov mr-3">BACK</a>
    <?php if ($this->hasPrivilege("DPIR")) { ?>
        <button onclick="window.location.href='/paper/inventoryreport/damage/paper-number/<?= $this->paperdata["PAPER_KEY"] . $this->paperdata["PAPER_NUMBER"]; ?>'" class="btngreen hov">UPDATE</a>
        <?php } else { ?>
            <a href="javascript:void(0)" class="border btn btnred hov mr-3 disabled" disabled>UBAH MANUAL</a>
        <? } ?>
</div>