
<b>E-Commerce &gt; <?php echo $this->language->_('Repair E-Commerce');?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Repair E-Commerce');?></div>
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
<table border="0" cellspacing="0" cellpadding="0" class="tableform"width="40%">
	<tr>
		<th colspan="2">
			<?php echo $this->language->_('E-Commerce Detail'); ?>
		</th>
	</tr>
	<tr>
		<td colspan="2" class="tbl-evencontent"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; <?php echo $this->language->_('Service Type'); ?></td>
		<td class="tbl-oddcontent"><?php echo $this->providerData['PROVIDER_TYPE'];?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="150px">&nbsp; <?php echo $this->language->_('E-Commerce Code'); ?><span class="errmsg">*</span></td>
		<td class="tbl-oddcontent">
			<?php echo $this->formText('providerCode',$this->providerData['PROVIDER_CODE']);?>
			<?php
				if(!empty($this->providerCode_errMsg))
					echo "<div class='errmsg'>$this->providerCode_errMsg</div>";
			?>
		</td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; <?php echo $this->language->_('E-Commerce Name'); ?><span class="errmsg">*</span></td>
		<td class="tbl-oddcontent">
			<?php echo $this->formText('providerName',$this->providerData['PROVIDER_NAME']);?>
			<?php
				if(!empty($this->providerName_errMsg))
					echo "<div class='errmsg'>$this->providerName_errMsg</div>";
			?>
		</td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; <?php echo $this->language->_('Service Catagories'); ?></td>
		<td class="tbl-oddcontent"><?php echo $this->providerData['SERVICE_TYPE'];?></td>
	</tr>
</table>
<br />
<br />
<table width="60%">
<tr align="left"><td  align="left">
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'setbillercharges','controller'=>'index','action'=>'index'),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Back'); ?>">
&nbsp;
<?php
	if($this->changestatus)
	{ ?>
		<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>&nbsp;
		<?php echo $this->formReset('reset',$this->language->_('Reset'),array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>
		<br /><br />
		<?php 
		echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
	}
	else
	{?>
		<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn')); ?>&nbsp;
		<?php echo $this->formReset('reset',$this->language->_('Reset'),array('class'=>'inputbtn')); ?>
	<?php }?> 

</td></tr>
</table>
</form>