<b><?php echo $this->language->_('General')?> &gt; <?php echo $this->language->_('Remittance Charges')?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Remittance Charges') ?></div>
<?php if($this->error){ ?>
<div class="errmsg">
<?php 
		echo $this->language->_($this->msg_failed);
?>
</div>
<?php } ?>
<?php 
if($this->buser_id){	
?>
<form method="post" action="">
	
  <table cellpadding="3" cellspacing="0" border="0" class="tableform" style="width:400px">
  <?php 
    if(count($this->chargesfee) > 0){
	?>
    <tr>
    	<th class="tdform-sub"><strong><?php echo $this->language->_('CCY')?></strong></th>
    	<th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Amount')?></strong></th>
    </tr>
    <?php
    } 
    if(count($this->chargesfee) > 0){
        $i = 0;
//         print_r(count($this->paginator));
        for ($i=0;$i< count($this->transferfee);$i++)
        {
        	
		  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
// 		  if($this->paginator[$i]['CCY_ID']==)
		  $charges = $this->transferfee[$i]['CHARGE_AMT'];
		  if($charges==''){
		  	$charges = 0;
		  }
		  echo '<tr>
				  <td class="'.$td_css.'"><input type="hidden" name="ccy[]" value="'.$this->transferfee[$i]['CCY_ID'].'" >'.$this->transferfee[$i]['CCY_ID'].'</td>
				  <td class="'.$td_css.'" colspan="3">'.$this->transferfee[$i]['CHARGE_AMOUNT_CCY'].' '.Application_Helper_General::displayMoney($charges).'</td>'		  
				  ?>
				  
				  <?php echo '</tr>';
	
        
  	  }
    }
   ?>  	
  </table>
  <?php
  	if(count($this->tempcek) > 0){
  		echo 'No changes allowed for this record while awaiting approval for previous change.';
  	}else{
  		echo $this->formButton('trans', 'Set / Edit Transfer Fee', array('onclick' => "location.href='/remittancechar/edit/index/id/3'", 'class' => 'inputbtn'));
  	}
      ?>
  <br/>
  
</form>

<?php }else{ ?>
<div id="content">- <?php echo $this->language->_('No Data')?> -</div>
<?php } ?>

<script type="text/javascript">
<!--
function noSpace(obj) {
	 obj.value = obj.value.replace (/\s/g, "");
}
//-->
</script>