<script type="text/javascript">
  //akan di onload pertama kali
  $(document).ready(function() {
    //pengaturan error messages
    <?php
    foreach ($this->custAcct_msg as $key => $error) {
    ?>
      $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
    <?php
    }
    ?>


  });
</script>


<b><?php echo $this->language->_('Customer'); ?> &gt; <?php echo $this->language->_('Customer List'); ?> &gt; <?php echo $this->language->_('Customer Detail'); ?> &gt; <?php echo $this->language->_('Add Bank Account'); ?> &gt; <?php echo $this->language->_('Add Bank Account Confirmation'); ?></b><br /><br />

<div class="tabheader" id="tabheader"><?php echo $this->language->_('Add Bank Account Confirmation'); ?></div>

<?php
if ($this->custAcct_msg['acct_no'] != '') {   ?>
  <div class="errmsg">
    <?php echo $this->language->_($this->custAcct_msg['acct_no']);    ?>
  </div><br />
<?php
}
?>
<?php
if ($this->cust_id) {

?>

  <br />

  <form method="post" action="<?= $this->url(array('module' => $this->modulename, 'controller' => 'confirm', 'action' => 'index'), null, true) ?>">
    <table cellpadding="3" cellspacing="0" border="0" class="tableform col-12">
      <tr>
        <th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Confirm Add Bank Account') ?></strong></th>
      </tr>



      <tr>
        <td class="tbl-evencontent" colspan="3">
          <span class="errmsg">
            <!-- <?php if ($this->acct_is_deleted) {
              echo "NOTICE : This account is assigned (already deleted) to Company : " . $this->cust_name_deleted . " (" . $this->cust_id_deleted . ")<br/>" .
                "If this suggestion is approved, account will be assigned to selected company.<br/>" .
                "Please note that previous records involving this account number will not be updated";
            } ?> -->
          </span>
        </td>
      </tr>



      <tr>
        <td class="tbl-evencontent" style="width: 200px;"><?php echo $this->language->_('Account No') ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('acct_no', $this->acct_no); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->language->_('Account Name') ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('acct_owner', $this->acct_owner); ?></td>
      </tr>
      <!-- <tr>
        <td class="tbl-evencontent"><?php echo $this->language->_('Account Alias') ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('acct_alias', $this->acct_alias); ?></td>
      </tr> -->

      <tr>
        <td class="tbl-evencontent"><?php echo $this->language->_('Account Status') ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent">
          <?php
          switch ($this->acct_status) {
            case '1':
              echo "Active";
              break;
            case '4':
              echo "New Today";
              break;
          }
          ?>
        </td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->language->_('Currency') ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('ccy_id', $this->currency); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->language->_('Type') ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent">
          <?php echo $this->language->_($this->acct_desc); ?>
          <?php if ($this->data['CUST_MODEL'] == 2 && $this->acct_type === 'S') { ?>
            <div style="display: inline-block">
              <div style="width: 20px; height: 20px; text-align: center; border: 1px solid red; border-radius: 100%; cursor: default;" class="text-danger position-relative" id="btnDanger">
                i
                <div class="position-absolute" style="width: 300px;background-color: white;border: 1px solid red;bottom: -100%;left: 40px; display: none;">Rekening Tabungan tidak disarankan untuk dijadikan rekening sumber Marginal Deposit Asuransi, kecuali dengan pertimbangan khusus</div>
              </div>
            </div>
          <?php } ?>

          <?php if ($this->specialRate) : ?>
            <div style="display: inline-block">
              <div style="width: 20px; height: 20px; text-align: center; border: 1px solid red; border-radius: 100%; cursor: default;" class="text-danger position-relative" id="btnDanger2">
                i
                <div class="position-absolute" style="width: 150px;background-color: white;border: 1px solid red;left: 30px; display: none;">Special Rate</div>
              </div>
            </div>
          <?php endif ?>
        </td>
      </tr>

      <!--
    <tr>
      <td class="tbl-evencontent"><?php echo $this->language->_('Available Balance') ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('acct_balance', Application_Helper_General::displayMoney($this->acct_balance)); ?></td>
    </tr>    
    -->

      <tr>
        <td class="tbl-evencontent"><?php echo $this->language->_('Add Account For Company') ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name', $this->cust_id . ' (' . $this->cust_name . ')', ["class" => "col-form-label"]); ?></td>
      </tr>

      <tr>
        <td class="tbl-evencontent"><?php echo $this->language->_('Email Address') ?></td>
        <td class="tbl-evencontent">:</td>
        <td class="tbl-evencontent"><?php echo $this->formLabel('acct_email', $this->acct_email, ["class" => "col-form-label"]); ?></td>
      </tr>
    </table>


    <br />
    <div>
      <?php
      echo $this->formHidden('acct_alias', $this->acct_alias);
      ?>
      <?php
      $AESMYSQL = new Crypt_AESMYSQL();
      $cust_id = $AESMYSQL->encrypt($this->cust_id);
      $url = $this->url(array('module' => $this->modulename, 'controller' => 'new', 'action' => 'index', 'cust_id' => $cust_id, 'acct_email' => $this->acct_email, 'acct_no' => $this->acct_no, 'ccy_id' => $this->ccy_id), null, true);
      ?>
      <input type="button" class="btnwhite hov" value="<?php echo $this->language->_('Back') ?>" onclick="location.href='<?php echo $url; ?>'">

      <?php
      //echo $this->formButton('back','Back',array('onclick'=>'location.href=\'','class'=>'inputbtn'));
      echo '&nbsp;&nbsp;';

      echo $this->formSubmit('submit', $this->language->_('Confirm'), array('class' => 'btngreen hov'));

      echo $this->formHidden('cust_id', $this->cust_id);
      echo $this->formHidden('cust_name', $this->cust_name);
      echo $this->formHidden('ccy_id', $this->ccy_id);
      echo $this->formHidden('acct_no', $this->acct_no);
      echo $this->formHidden('acct_email', $this->acct_email);
      // echo $this->formHidden('acct_balance',$this->acct_balance);
      // echo $this->formHidden('acct_owner',$this->acct_owner);
      ?>
    </div>
  </form>


<?php } else { ?>
  <div id="content">- <?php echo $this->language->_('No Data') ?> -</div>
<?php } ?>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
    if (document.querySelector("#btnDanger")) {
      document.querySelector("#btnDanger").addEventListener("mouseenter", (e) => {
        e.target.lastElementChild.style.display = "block"
        document.querySelector('#centerpage').style.overflow = 'visible'
        e.target.lastElementChild.style.zIndex = "999999"
      })

      document.querySelector("#btnDanger").addEventListener("mouseleave", (e) => {
        e.target.lastElementChild.style.display = "none"
        document.querySelector('#centerpage').style.overflow = 'hidden'
        e.target.lastElementChild.style.removeProperty('z-index');
      })
    }

    if (document.querySelector("#btnDanger2")) {
      document.querySelector("#btnDanger2").addEventListener("mouseenter", (e) => {
        e.target.lastElementChild.style.display = "inline-block"
        document.querySelector('#centerpage').style.overflow = 'visible'
        e.target.lastElementChild.style.zIndex = "999999"
      })

      document.querySelector("#btnDanger2").addEventListener("mouseleave", (e) => {
        e.target.lastElementChild.style.display = "none"
        document.querySelector('#centerpage').style.overflow = 'hidden'
        e.target.lastElementChild.style.removeProperty('z-index');
      })
    }


  });
</script>