
 <script src="/muri/web-animations.min.js" type="text/javascript"></script>
 <script src="/muri/hammer.min.js" type="text/javascript"></script>
 <script src="/muri/muuri.min.js" type="text/javascript"></script>
 <script src="/slider/slick.js" type="text/javascript"></script>
 <script src="https://code.highcharts.com/highcharts.js"></script>
 <script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

 <!-- <script src="/slider/jquery.scrollbar.js" type="text/javascript"></script> -->


 <script type="text/javascript">
  $(document).ready(function(){


let dchart = JSON.parse('<?php echo json_encode($this->dchartdata) ?>');

console.log(dchart);
Highcharts.chart('piechart', {
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45,
            beta: 0
        }
    },
    title: {
        text: ''
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            depth: 35,
            dataLabels: {
                enabled: true,
                format: '{point.name}'
            }
        }
    },
    series: [{
        type: 'pie',
        name: 'Browser share',
        data: dchart
    }]
});

let cashin = JSON.parse('<?php echo json_encode($this->cashin) ?>');
let cashout = JSON.parse('<?php echo json_encode($this->cashout) ?>');
let everage = JSON.parse('<?php echo json_encode($this->everage) ?>');
let month = JSON.parse('<?php echo json_encode($this->month) ?>');

Highcharts.chart('graph', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Cashflow Forecast Chart'
    },
    xAxis: {
        categories: month
    },
    yAxis: {
        // min: -30000000,
        title: {
            text: 'IDR'
        }
    },
    tooltip: {
        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
        shared: true
    },
    plotOptions: {
        column: {
            stacking: 'normal'
        }
    },
    series: [{
        name: 'Cash In',
        data: cashin
    }, {
        name: 'Cash Out',
        data: cashout
    }, {
        type: 'spline',
        name: 'Average',
        data: everage,
        marker: {
            lineWidth: 2,
            lineColor: Highcharts.getOptions().colors[3],
            fillColor: 'white'
        }
    }]
});


$('i.fa-trash-alt').on('click', function(event) {
//alert(event.target.id);
var tag = '#widget'+event.target.id;
   $(tag).animate({
    padding: "0px",
       'margin-left':'-10px',
    'font-size': "0px"
  }, 500, function() {

      $(tag).remove();
  });

  $.ajax({

      url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'hidedash'),null,true)?>",
      type: 'GET',
      data: { id:event.target.id },
      beforeSend: function() {
      },
      success: function() {
      }
    });


});


$('i.fa-circle-notch').on('click', function(event) {
var tag = '#inquiry-'+event.target.id;
  $.ajax({

      url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'inquiry'),null,true)?>",
      type: 'GET',
      data: { id:event.target.id,data:event.target.data },

      beforeSend: function() {
      },
      success: function(data) {
                $(tag).html(data);
            },
    });
});

$(document).ready(function() {
  $('a.delete').click(function(e) {
    e.preventDefault();
       var el = this;
   var id = this.id;
   var splitid = id.split("_");

   // Delete id
   var deleteid = splitid[1];

    var parent = $(this).parent();
    // alert(deleteid);
// alert(JSON.stringify(parent, null, 4));
    $.ajax({

      url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'column'),null,true)?>",
      type: 'GET',
      data: { id:deleteid },
      // dataType: "html",
      // data: {

      // data: 'ajax=1&report=' + parent.attr('id').replace('report-',''),
      beforeSend: function() {
        parent.animate({'backgroundColor':'#fb6c6c'},300);
      },
      success: function() {
        parent.slideUp(300,function() {
          $('#report-'+deleteid).remove();
          parent.remove();
        });
      }
    });
  });



});


   // var grid = new Muuri('.grid', {
   //    layout: {fillGaps: true},
   //    dragEnabled: true,
   //    layoutOnInit: false,
   //    sortData: {
   //      id: function (item, element) {
   //        return parseFloat(element.getAttribute('data-id'));
   //      }
   //    },
   //    dragSortPredicate: {
   //      threshold: 50,
   //      action: 'swap'
   //    }
   //  });
   // grid.sort('id');
initGrid();

function initGrid() {
  var grid = new Muuri('.grid', {
    dragEnabled: true,
    layoutOnInit: false
  }).on('move', function () {
    saveLayout(grid);
  });

  var layout = window.localStorage.getItem('layout');
  if (layout) {
    loadLayout(grid, layout);
  } else {
    grid.layout(true);
  }
}

function serializeLayout(grid) {
  var itemIds = grid.getItems().map(function (item) {
    return item.getElement().getAttribute('data-id');
  });
  return JSON.stringify(itemIds);
}

function saveLayout(grid) {
  var layout = serializeLayout(grid);
  window.localStorage.setItem('layout', layout);
}

function loadLayout(grid, serializedLayout) {
  var layout = JSON.parse(serializedLayout);
  var currentItems = grid.getItems();
  var currentItemIds = currentItems.map(function (item) {
    return item.getElement().getAttribute('data-id')
  });
  var newItems = [];
  var itemId;
  var itemIndex;

  for (var i = 0; i < layout.length; i++) {
    itemId = layout[i];
    itemIndex = currentItemIds.indexOf(itemId);
    if (itemIndex > -1) {
      newItems.push(currentItems[itemIndex])
    }
  }

  grid.sort(newItems, {layout: 'instant'});
}

});

  $(document).ready(function(){
      $('.customer-logos').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1000,
        arrows: false,
        dots: false,
          pauseOnHover: false,
          responsive: [{
          breakpoint: 768,
          settings: {
            slidesToShow: 3
          }
        }, {
          breakpoint: 520,
          settings: {
            slidesToShow: 2
          }
        }]
      });
    });

 </script>



<style type="text/css">
  .grid {
      position: relative;
    }

    .item {
      display: block;
      position: absolute;
    /*  width: 330px;
      height: 360px;*/
      margin: 5px;
      z-index: 1;
      background: #FFFFFF;
      /*color: #fff;*/
    }

    .item.muuri-dragging {
      z-index: 3;
    }

    .item.muuri-releasing {
      z-index: 2;
    }

    .item.muuri-hidden {
      z-index: 0;
    }

    .item-content {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .labelkurs{
      width: 26px;
        height: 17px;
        font-family: SegoeUI;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
    }

    .labelrate{
      width: 38px;
      height: 21px;
      font-family: SegoeUI;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.31;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
    }

    .labelup{
      width: 23px;
      height: 16px;
      font-family: SegoeUI;
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: left;
      color: #007934;
    }

    .Rectangle{

      width: 143px;

      height: 93px;

      opacity: 0.22;

      border-radius: 17px;

      background-color: #408b23;

    }

    .slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


*.-morulus-customsb {
  position:relative;
  width:100%;height:100%;
  overflow:hidden;
}

*.-morulus-customsb > figure:first-child {
  margin: 0px !important;
  position: absolute;
  right: 4px !important;
  width: 4px !important;
  height: 100px;
  background-color: black;
}

*.-morulus-customsb > *:last-child {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  padding-right: 20px;
}

</style>
<form action="" method="POST" name="testForm">

<div class="grid">
  <?php  if(!$this->widget1){?>
    <div class="item row no-gutters content-box col-12" data-id="1" id="widget1" >
      <div class="col-12">

              <!-- Section Title -->
              <div class="row no-gutters" style="padding-bottom: 9px;">
                <div class="col-11">
                  <strong>Currency</strong><span style="sub-text">Exchange</span>
                </div>
                <div class="col-md-1" align="right" >
                  <div id="1" class="detail-ellipsis"><i id="1" class="fa fa-trash-alt"></i></div>
                </div>
              </div>

              <!-- Section Content -->
              <div class="">
              <div class="row no-gutters customer-logos" style="height: 109px !important;">
                <?php

                    // print_r($this->kurslist);die;
                 foreach($this->kurslist as $key => $val){?>
                <div class="col-2 report-box slider " style="margin-left: 10px;flex: 0 0 18%;max-width: 18%;">
                    <table class="col-12" style="width: 80%;margin-left: 20px;">
                      <tr>
                        <td> <label class="labelkurs"><?php echo $val['KURS_CCY']; ?></label> </td>
                        <td rowspan="2">
                          <?php if($val['KURS_GRAPH'] == '1'){
                              echo '<img src="/images/upper.PNG">';
                            }else{
                              echo '<img src="/images/upper.PNG">';
                            }
                          ?>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label class="labelrate"><?php echo Application_Helper_General::displayMoney($val['KURS_VALUE']); ?></label>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" style="text-align: left">
                          <?php if($val['KURS_GRAPH'] == '1'){ ?>
                <label class="labelup"><?php echo Application_Helper_General::displayMoney($val['KURS_VALUE']); ?></label>
                            <?php }else if($val['KURS_GRAPH'] == '2'){ ?>
                              <label class="labelup"><?php echo Application_Helper_General::displayMoney($val['KURS_VALUE']); ?></label>
                              <?php }else{ ?>
                                <label class="labelup"><?php echo Application_Helper_General::displayMoney($val['KURS_VALUE']); ?></label>
                              <?php } ?>
                        </td>
                      </tr>
                    </table>
                </div>
              <?php } ?>
              </div>
            </div>
              <!-- Section Content End -->
            </div>
    </div>
  <?php } ?>
  <?php  if(!$this->widget2){?>
    <div class="item row no-gutters content-box col-12" data-id="2" id="widget2">
      <div class="item-content">
        <div class="col-md-12">
              <!-- Section Header -->
              <div class="row no-gutters">

                <div class="col-sm-12 col-md-3">
                  <h4>Accounts</h4>
                </div>

                <div class="col-md-8">
                  <div class="row no-gutters">
                    <div class="col-sm-12 col-md-8">
                      <div id="accDropdown">
                        <button class="btn dropdown-toggle menu-button other-dropdown" type="button" id="accountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          [<?=$this->accountList[0]['acct_ccy']?>] <?=$this->accountList[0]['acct_no']?> (<?=$this->accountList[0]['acct_name']?>) <i class="fa fa-angle-down pl-1"></i>
                        </button>
                        <div class="dropdown-menu acc-dropdown" aria-labelledby="accountDropdown">
                          <?php foreach($this->accountList as $row){?>
                            <a class="dropdown-item" href="#" bal="<?=$row['balance']?>">[<?=$row['acct_ccy']?>] <?=$row['acct_no']?> (<?=$row['acct_name']?>)</a>
                          <?php }?>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-4">
                     <div id="perDropdown">
                        <button class="btn dropdown-toggle menu-button other-dropdown" type="button" id="periodDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Daily <i class="fa fa-angle-down pl-3"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="periodDropdown">
                          <a class="dropdown-item" href="#">Weekly</a>
                          <a class="dropdown-item" href="#">Monthly</a>
                          <a class="dropdown-item" href="#">Yearly</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-1" align="right">
                  <div id="2" class="detail-ellipsis"><i id="2" class="fa fa-trash-alt"></i></div>
                </div>
              </div>
              <!-- Section Header End -->

              <!-- Section Content Left -->
              <div class="row no-gutters">
                <div class="col-sm-12 col-md-3 mb-3">
                  <div id="piechart">

                  </div>
                  <div>
                    <div class="sub-text">Total Balance</div>
                    <div class="row no-gutters">
                      <div class="col-9 balance"><strong>Rp 1.563.245.000,00</strong></div>
                      <div class="col-3"><a href="#" class="btn menu-button other-button"><i class="fa fa-sync"></i></a></div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-9">
                  <div id="graph" >

                  </div>

                </div>
              </div>
              <!-- Section Content Left End -->
            </div>

      </div>
    </div>
    <?php } ?>
  <?php  if(!$this->widget3){?>
    <div class="item row no-gutters content-box col-6 " style="max-width: 56%!important" data-id="3" id="widget3">
      <div class="item-content">
        <div class="col-md-12">

                  <!-- Section Header -->
                  <div class="row no-gutters">
                    <div class="col-sm-12 col-md-10">
                      <h4>Approval</h4>
                    </div>

                    <div class="col-sm-12 col-md-2" align="right">
                      <div  id="3" class="detail-ellipsis"><i id="3" class="fa fa-trash-alt"></i></div>
                    </div>
                  </div>
                  <!-- Section Header Ends -->


                  <!-- Section Content -->
                  <div class="row no-gutters row-app" style=" height: 275px; overflow-y: scroll;display: block!important;">
                  <?php
                    if(!empty($this->waitingApproval))
                    {
                      foreach($this->waitingApproval as $row)
                      {
                  ?>
                        <div class="row no-gutters">
                          <div class="col-12 report-box">
                            <div class="row no-gutters">
                              <div class="col-sm-12 col-md-8 pl-2">
                                <strong><?=$this->language->_($row['payType'])?></strong><br/>
                                <?=$row['paySubj']?>
                              </div>
                              <div class="col-sm-12 col-md-4 pl-1">
                                <a class="btn action-button" href="<?=$this->url(array('module'=>'paymentworkflow','controller'=>'approval','action'=>'index','payReff'=>$row['payReff']),null,true)?>"><?=$this->language->_('Detail')?></a>
                              </div>
                            </div>
                          </div>
                        </div>
                  <?php
                      }
                    }
                    else{
                  ?>
                    <div class="row no-gutters">
                      <div class="col-12 report-box">
                        <div class="row no-gutters">
                          <div class="col-sm-12" style="text-align: center;font-weight: bold;">-- <?=$this->language->_('No Transaction is Awaiting Approval')?> --</div>
                        </div>
                      </div>
                    </div>
                  <?php }?>
                  </div>
                </div>

      </div>
    </div>
    <?php } ?>
  <?php  if(!$this->widget4){?>
    <div class="item row no-gutters no-gutter-left content-box col-5" data-id="4" id="widget4">
      <div class="item-content">
        <div class="col-md-12">

                  <!-- Section Header -->
                  <div class="row no-gutters">
                    <div class="col-sm-12 col-md-10">
                      <h4>Reports</h4>
                    </div>

                    <div class="col-sm-12 col-md-2" align="right">
                      <div  id="4" class="detail-ellipsis"><i id="4" class="fa fa-trash-alt"></i></div>
                    </div>
                  </div>
                  <!-- Section Header Ends -->

                  <?php if(!empty($this->reportlist)){?>
                  <!-- Section Content -->
                   <div class="row no-gutters" style=" height: 275px; overflow-x: scroll;display: block!important;">
                  <?php foreach ($this->reportlist as $key => $value) {
                    # code...


                  ?>
                  <div class="row no-gutters" id="<?php echo 'report-'.$value['CODE'];?>">
                    <div class="col-12 report-box">
                      <div class="row no-gutters">
                        <div class="col-sm-12 col-md-9 pl-2">
                          <strong><?php echo $value['REPORT_NAME']; ?></strong><br/>
                          <?php
                          $colomn = '';
                            foreach ($this->colomnlist as $numb => $val) {
                              if($val['COLM_REPORD_ID']==$value['ID'])
                               $colomn .= $val['COLM_NAME'].', ';
                            }
                            if(strlen($colomn) >= 50){
                            echo substr(rtrim($colomn, ', '), 0, 50);echo '...';
                            }else{
                              echo rtrim($colomn, ', ');
                            }
                          ?>
                        </div>
                        <div class="col-sm-12 col-md-3">
                          <a class="btn action-button" href="/reportcrm/reportview/index/report/<?php echo $value['CODE']; ?>"><i class="fa fa-eye"></i></a>&nbsp;
                          <a class="btn action-button" href="/reportcrm/reportview/index/report/<?php echo $value['CODE']; ?>/pdf/2"><i class="fa fa-download"></i></a>
                          <a class="btn action-button delete" href="/reportcrm/reportdelete/index/report/<?php echo $value['CODE']; ?>" id="report_<?php echo $value['CODE']; ?>" onclick="return confirm('Are you sure you want to delete this item?');"><i style="color: rgb(0, 121, 52);" class="fa fa-trash-alt"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <?php

                }
                ?>
              </div>
                <?php
              }else{
                ?>
                  <div class="row no-gutters">
                      <div class="col-12 report-box">
                        <div class="row no-gutters">
                          <div class="col-sm-12" style="text-align: center;font-weight: bold;">-- <?=$this->language->_('No Account')?> --</div>
                        </div>
                      </div>
                    </div>

                <?php
              }

                ?>



                  <!-- Section Content Ends -->
                </div>

      </div>
    </div>
    <?php } ?>
  <?php  if(!$this->widget5){?>
    <div class="item row no-gutters content-box col-6" style="max-width: 56%!important" data-id="5" id="widget5">
      <div class="item-content">
        <div class="col-md-12">

                  <!-- Section Header -->
                  <div class="row no-gutters">
                    <div class="col-sm-12 col-md-10">
                      <h4>Exchange Rate</h4>
                    </div>

                    <div class="col-sm-12 col-md-2" align="right">
                      <div  id="5" class="detail-ellipsis"><i id="5" class="fa fa-trash-alt"></i></div>
                    </div>
                  </div>
                  <!-- Section Header Ends -->


                  <!-- Section Content -->
                  <table class="table">
                        <thead>
                          <tr>
                            <th scope="col" rowspan="2">Curency</th>
                            <th scope="col" colspan="2">e_rate</th>
                            <th scope="col" colspan="2">TT Counter</th>
                          </tr>
                          <tr>

                            <th scope="col">Buy</th>
                            <th scope="col">Sell</th>
                            <th scope="col">Buy</th>
                            <th scope="col">Sell</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">USD</th>
                            <td>14,551.00</td>
                            <td>14,535.00</td>
                            <td>14,551.00</td>
                            <td>14,535.00</td>
                          </tr>
                          <tr>
                            <th scope="row">SGD</th>
                            <td>10,632.36</td>
                            <td>10,532.36</td>
                            <td>10,632.36</td>
                            <td>10,532.36</td>
                          </tr>
                          <tr>
                            <th scope="row">EURO</th>
                            <td>16,667.46</td>
                            <td>16,567.46</td>
                            <td>16,667.46</td>
                            <td>16,567.46</td>
                          </tr>
                          <tr>
                            <th scope="row">AUD</th>
                            <td>10,528.42</td>
                            <td>10,428.42</td>
                            <td>10,528.42</td>
                            <td>10,428.42</td>
                          </tr>
                        </tbody>
                      </table>
                </div>

      </div>
    </div>
    <?php } ?>
  <?php  if(!$this->widget6){?>
    <div class="item row no-gutters no-gutter-left content-box col-5" data-id="6" id="widget6">
      <div class="item-content">
        <div class="col-md-12">

                  <!-- Section Header -->
                  <div class="row no-gutters">
                    <div class="col-sm-12 col-md-10">
                      <h4>Top 5 Account</h4>
                    </div>

                    <div class="col-sm-12 col-md-2" align="right">
                      <div  id="6" class="detail-ellipsis"><i id="6" class="fa fa-trash-alt"></i></div>
                    </div>
                  </div>
                  <!-- Section Header Ends -->


                  <!-- Section Content -->
                  <div class="row no-gutters" style=" height: 275px; overflow-y: scroll;display: block!important;">
                  <?php
                    if(!empty($this->accountList))
                    {
                     foreach ($this->accountList as $key => $row) {
                    # code...


                  ?>
                  <div class="row no-gutters">
                    <div class="col-12 report-box">
                      <div class="row no-gutters">
                        <div class="col-sm-7 col-md-7 pl-2">


                            <a class="" href="/accountstatement/viewreport/view/ACCTSRC/<?=$row['acct_no']?>/periodtype/today" bal="<?=$row['balance']?>">[<?=$row['acct_ccy']?>] <?=$row['acct_no']?> (<?=$row['acct_name']?>)</a>

                        </div>
                        <div class="col-sm-5 col-md-5 pl-2" style="text-align: right;padding-right: 15px;">

                            <label style="text-align: right" id='inquiry-<?=$row['acct_no']?>' ><?php echo Application_Helper_General::displayMoney($val['balance']); ?></label>
                            <i  id="<?=$row['acct_no']?>" data="<?=$row['acct_ccy']?>" class="fa fa-circle-notch"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <?php

                }


                    }
                    else{
                  ?>
                    <div class="row no-gutters">
                      <div class="col-12 report-box">
                        <div class="row no-gutters">
                          <div class="col-sm-12" style="text-align: center;font-weight: bold;">-- <?=$this->language->_('No Account')?> --</div>
                        </div>
                      </div>
                    </div>
                  <?php }?>
                  </div>
                </div>

      </div>
    </div>
   <?php } ?>


  </div>
        <!-- Center Section -->
          

          <!-- Credit Card & Report -->


        </form>
          <!-- Credit Card & Report -->
        <!-- Center Section -->

        <script>
          $(document).ready(function(){
            var defBal = "<?=$this->accountList[0]['balance']?>";
            $('.balance').html('<strong>' + defBal + '</strong>');

            $('.acc-dropdown a').click(function(){
              $(this).parents('#accDropdown').find('.btn').html($(this).text() + ' <i class="fa fa-angle-down pl-1"></i>');
              $('.balance').html('<strong>' + $(this).attr('bal') + '</strong>');
            });


          });
        </script>
