<h5><?php echo $this->language->_('Change Information'); ?></h5>
<?php
echo $this->action(
    'message',
    'tools',
    'changemanagement',
    array('changes_id' => $this->changes_id)
);
?>

<!-- penutupan BG -->
<h5 class="mt-5"><?php echo $this->language->_('Penutupan BG'); ?></h5>
<table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped" width="80%">
    <tbody>
        <tr style="background-color:#003f6e;">
            <th colspan="3" class="tdform-sub" style="color:#ffffff"><strong>Detail BG</strong></th>
        </tr>
        <tr>
            <td class="tbl-oddcontent" width="30%">Nomor BG</td>
            <td class="tbl-oddcontent" width="1%">:</td>
            <td class="tbl-oddcontent" width="69%">
                <a href="javascript:void(0)" onclick="window.open('<?= $this->link; ?>')">
                    <?= substr($this->data['BG_NUMBER'], 0, 3) . "-" . substr($this->data['BG_NUMBER'], 3, 6) . "-" . substr($this->data['BG_NUMBER'], 9, 5) . "-" . substr($this->data['BG_NUMBER'], 14)  ?>
                </a>
            </td>
        </tr>
        <?php
        switch ($this->tempData['CLOSING_TYPE']) {
            case 1:
                $jenisPenutupan = 'Permintaan Principal';
                break;

            case 2:
                $jenisPenutupan = 'Habis Masa';
                break;

            case 3:
                $jenisPenutupan = 'Klaim Obligee';
                break;
        }
        ?>
        <tr>
            <td class="tbl-evencontent" width="30%">Jenis Penutupan</td>
            <td class="tbl-evencontent" width="1%">:</td>
            <td class="tbl-evencontent" width="69%"><?= $jenisPenutupan; ?></td>
        </tr>
        <tr>
            <td class="tbl-evencontent" width="30%">Suggestion Data</td>
            <td class="tbl-evencontent" width="1%">:</td>
            <td class="tbl-evencontent" width="69%">Usulan Penutupan</td>
        </tr>
        <tr>
            <td class="tbl-evencontent" width="30%">Company</td>
            <td class="tbl-evencontent" width="1%">:</td>
            <td class="tbl-evencontent" width="69%"><?= $this->data['CUST_NAME'] . " (" . $this->data['CUST_ID'] . ")"; ?></td>
        </tr>
    </tbody>
</table>


<!-- button -->
<div class="mt-5">
    <form action="" method="POST" style="width: fit-content; margin: auto">
        <?php
        $privilege = ($this->data['COUNTER_WARRANTY_TYPE'] == '1') ? $this->hasPrivilege('ATCC') : $this->hasPrivilege('ATNC');
        if ($privilege && $this->needApprove || true) : ?>
            <button class="btn btngreen hov" name="approve" value='1'>APPROVE</button>
            <button class="btn btnred hov ml-2" name="reject" value='1'>REJECT</button>
        <?php endif ?>
    </form>
</div>

<script type="text/javascript">
    <?php if ($this->refresh) : ?>
        window.opener.location.reload(false);
        window.close();
    <?php endif ?>
</script>