<?php $this->layout()->setLayout('popup'); 
$disabled = '';
if(!$this->hasPrivilege('EFUD'))
{
	$disabled = 'disabled';
}//Zend_Debug::dump($this->result); die;?>

<div class="tabheader" id="tabheader"><?php echo $this->language->_('Message Exception List'); ?></div>
<h2>Transaction Detail</h2>
<table border="0" cellspacing="0" cellpadding="0" class="tableform"
	width="600">
	<?php
		$amount = Application_Helper_General::displayMoney($this->result['transamt'] );?>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Transaction ID'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result['transid'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Transfer Type'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result['transtype'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Reference Number'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result['payref'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; <?php echo $this->language->_('Receiver Branch'); ?></td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo 'X(3)';?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; RTGS Transaction Code</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo 'IFT00000'; ?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; RTGS Confirm</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo 'COOLPAY';?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Transfer Amount</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result['transccy'].' '.$amount?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Source Account</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result['sourceacct'].' ['.$this->result['transccy'].'] - '.$this->result['sourcename'].' / '.$this->result['sourcealname']?></td>
	</tr>
</table>
<br />
<br />
<h2>Beneficiary Information</h2>
<table border="0" cellspacing="0" cellpadding="0" class="tableform" width="600">
	<tr>
		<td class="tdform-even">&nbsp; Beneficiary Account</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result['beneacct'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Beneficiary Account Name</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result['benename'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Citizenship</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php echo $this->result['citizen'];?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Clearing Code</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php  echo $this->result['clrcode']; ?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; Bank Name</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php  echo $this->result['bankname']; ?></td>
	</tr>
	<tr>
		<td class="tdform-even">&nbsp; BIC Code</td>
		<td class="tdform-even">&nbsp;</td>
		<td class="tdform-odd"><?php  echo $this->result['swfcode']; ?></td>
	</tr>
</table>
<br />
<?php 
//echo $this->response;
if($this->response != null)
{
	if($this->response == '00' || $this->response == '24')
	{
		echo '<span class="successmsg">Resend EFT Sucess</span><br /><br />';
	}
	else
	{
		echo '<span class="errmsg">Resend EFT Failed</span><br /><br />';
	}
}
?>
<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="get">
	<?php echo $this->formSubmit('resend','Resend EFT',array('class'=>'inputbtn',$disabled=>$disabled)); ?>&nbsp;
	<?php echo $this->formSubmit('updatefailed','Update to Failed',array('class'=>'inputbtn',$disabled=>$disabled)); ?>&nbsp;
	<?php echo $this->formSubmit('updatecomplete','Update to Complete',array('class'=>'inputbtn',$disabled=>$disabled)); ?>
</form>
<br />