<style type="text/css">
    /*.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
        color:white;
        background-color: #005587;
        border-color: #dee2e6 #dee2e6 #fff;
    }*/
</style>
<script type="text/javascript">

    jQuery(document).ready(function($){
        $(document).on( 'thisForm', function( event, form, response ) {
            //alert('here');
            refreshfile();
        });



});

    function setDateto(val){
        $(".history_to").val(val);
        // document.getElementById('history_to').value = val;
    }

    function setDatefrom(val){
        $(".history_from").val(val);

        // document.getElementById('history_from').value = val;
    }

    $(document).ready(function(){
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $(".history_to").val("");
            $(".history_tov").val("");
            $(".history_from").val("");
            $(".history_fromv").val("");
            // document.getElementById('history_to').value = "";
            //  document.getElementById('history_tov').value = "";
            // document.getElementById('history_from').value = "";
            // document.getElementById('history_fromv').value = "";
        });
    });

    function getMaxDate(val){
        var parts = val.split("/");
        var date = new Date(parts[2], parts[1] - 1, parts[0]); 

        date.setDate(date.getDate() + 30);
        var maxdate = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        // document.getElementById('coba').value = maxdate;
    }

$(document).ready(function(){


    $('#download').click(function(){
    //Some code

    // $("#thisForm").submit(function(e) {

    //     e.preventDefault(); // avoid to execute the actual submit of the form.

    //     var form = $(this);
    //     var url = form.attr('action');
    //     console.log(url);
    //     $.ajax({
    //            type: "POST",
    //            url: url,
    //            data: form.serialize(), // serializes the form's elements.
    //            success: function(response, status, xhr) {
    //                 // check for a filename
    //                 var filename = "";
    //                 var disposition = xhr.getResponseHeader('Content-Disposition');
    //                 if (disposition && disposition.indexOf('attachment') !== -1) {
    //                     var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
    //                     var matches = filenameRegex.exec(disposition);
    //                     if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
    //                 }

    //                 var type = xhr.getResponseHeader('Content-Type');
    //                 var blob = new Blob([response], { type: type });

    //                 if (typeof window.navigator.msSaveBlob !== 'undefined') {
    //                     // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created. These URLs will no longer resolve as the data backing the URL has been freed."
    //                     window.navigator.msSaveBlob(blob, filename);
    //                 } else {
    //                     var URL = window.URL || window.webkitURL;
    //                     var downloadUrl = URL.createObjectURL(blob);

    //                     if (filename) {
    //                         // use HTML5 a[download] attribute to specify filename
    //                         var a = document.createElement("a");
    //                         // safari doesn't support this yet
    //                         if (typeof a.download === 'undefined') {
    //                             window.location = downloadUrl;
    //                         } else {
    //                             a.href = downloadUrl;
    //                             a.download = filename;
    //                             document.body.appendChild(a);
    //                             a.click();
    //                         }
    //                     } else {
    //                         window.location = downloadUrl;
    //                     }

    //                     setTimeout(function () { URL.revokeObjectURL(downloadUrl); }, 100); // cleanup
    //                 }
    //                 refreshfile();
    //             }
    //          });


    // });

});

    $("#thisState").submit(function(e) {
        refreshstate();
        /*e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var url = form.attr('action');
        console.log(url);
        $.ajax({
               type: "POST",
               url: url,
               data: form.serialize(), // serializes the form's elements.
               success: function(response, status, xhr) {
                    // check for a filename
                    var filename = "";
                    var disposition = xhr.getResponseHeader('Content-Disposition');
                    if (disposition && disposition.indexOf('attachment') !== -1) {
                        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                        var matches = filenameRegex.exec(disposition);
                        if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                    }

                    var type = xhr.getResponseHeader('Content-Type');
                    var blob = new Blob([response], { type: type });

                    if (typeof window.navigator.msSaveBlob !== 'undefined') {
                        // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created. These URLs will no longer resolve as the data backing the URL has been freed."
                        window.navigator.msSaveBlob(blob, filename);
                    } else {
                        var URL = window.URL || window.webkitURL;
                        var downloadUrl = URL.createObjectURL(blob);

                        if (filename) {
                            // use HTML5 a[download] attribute to specify filename
                            var a = document.createElement("a");
                            // safari doesn't support this yet
                            if (typeof a.download === 'undefined') {
                                window.location = downloadUrl;
                            } else {
                                a.href = downloadUrl;
                                a.download = filename;
                                document.body.appendChild(a);
                                a.click();
                            }
                        } else {
                            window.location = downloadUrl;
                        }

                        setTimeout(function () { URL.revokeObjectURL(downloadUrl); }, 100); // cleanup
                    }
                    refreshstate();
                }
             });*/


    });

    $(".historyview").show();
            $(".historyfile").hide();
            $(".historystatement").hide();

    $(".nav-link").click(function(){
        var typelist = $(this).attr("href");

        if (typelist == "#home") {
            $("#home").show();
            $("#profile").hide();
            $(".estatmentview").hide();
            $(".historyview").show();
            $(".historyfile").hide();
            $(".historystatement").hide();
            
        }else if (typelist=="#profile") {
            $("#home").hide();
            $("#profile").show();
            $(".estatmentview").hide();
            $(".historyview").hide();
            $(".historyfile").show();
            $(".historystatement").hide();
        }else if (typelist=="#estatement") {
            $("#home").hide();
            $("#profile").hide();
            $(".estatmentview").show();
            $(".historyview").hide();
            $(".historyfile").hide();
            $(".historystatement").show();
        }
      });
    
        
});
</script>
<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span>Account Information</span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas" ><?=$this->language->_('Debit Card Statement')?></span>

                </li>

            </ul>
        </div>
    </div>
</div>
<br />
<h5>Debit Card Account Statement</h5>
<br>
<div class="portlet-body">
    <div class="row">
        <div class="col-md-6">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" at="1" value="1" aria-controls="home" aria-selected="true">View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" at="2" value="2" aria-controls="profile" aria-selected="false">Download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="estatement-tab" data-toggle="tab" href="#estatement" role="tab" at="3" value="3" aria-controls="estatement" aria-selected="false">E-Statement</a>
          </li>
        </ul>
        <form name="Form" id="thisForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'debitcard','action'=>'view','pdf'=>'1','csv'=>'1'),null,true)?>" method="post">
        <div class="tab-content" id="myTabContent">
            <?php echo $this->formHidden('directlink','0'); ?>
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <br>
                <div class="form-group row">
                <label class="control-label col-md-3"><b>Account No</b></label>
                <div class="col-md-8">
                    <?php
                            $selectaccount = '-- '.$this->language->_('Select Account').' --';
                            $formAppParam['selectMsg'] = $selectaccount;
                            $formAppParam['inclPRKFSCM'] = 1;
                            if($this->error)
                            {
                        ?>
                                <div class="errmsg">
                                <?php
                                    if($this->ACCTSRCERR)
                                        echo $this->ACCTSRCERR;
                                ?>
                                </div><br />
                        <?php
                            }
                        ?>
					<select class="form-control" name="ACCTSRC" id="ACCTSRC" >
					<?php if(!empty($this->AccArr)){
						foreach($this->AccArr as $val){
							$selected  = '';
							if($val['ACCT_NO'] == $this->ACCTSRC){
								$selected = 'selected';
							}
					?>
						<option value="<?php echo $val['ACCT_NO']; ?>" <?php echo $selected; ?> ><?php echo $val['DEBIT_NO'].' - '.$val['DEBIT_NAME']; ?></option> 
					<?php 
						}
					} ?>
					</select>
                    <?php  //echo $this->formApp("SELECT_ACCTSRC", $this->AccArr, $this->ACCTSRC, "ACCTSRC", "", $formAppParam);  ?>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">Date</label>
                <div class="col-md-9 row">
                    <div class="col-md-6">
                        <b><?php echo $this->language->_('From');?></b>&nbsp;&nbsp;

                        <input type="text" class="form-control history_fromv" name="history_from" id="history_fromv" value="<?=$this->DATE_FROM?>" onchange='setDatefrom(this.value);' readonly>
                                    <script>
                                        $('.history_fromv').datepicker({
                                             minDate: function() {
                                                var mindate = new Date();
                                                mindate.setDate(mindate.getDate() - <?php echo $this->range_statement ?>);
                                                return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                                            },
                                            maxDate: function() {
                                                var maxdate = new Date();
                                                maxdate.setDate(maxdate.getDate());
                                                return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                                            },
                                            format: 'dd/mm/yyyy',
                                            uiLibrary: 'bootstrap4',
                                        });
                                    </script>
                    </div>
                    
                    <div class="col-md-6">
                        <b><?php echo $this->language->_('To');?></b>&nbsp;&nbsp;
                         <input type="text" class="form-control history_tov" name="history_to" id="history_tov" value="<?=$this->DATE_TO?>" onchange='setDateto(this.value);' readonly>
                                <script>
                                    $('.history_tov').datepicker({
                                        minDate: function() {
                                            var val = document.getElementById('history_fromv').value;
                                            var parts = val.split("/");
                                            var mindate = new Date(parts[2], parts[1] - 1, parts[0]); 

                                            mindate.setDate(mindate.getDate());
                                            return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                                            },
                                        maxDate: function() {
                                            var val = document.getElementById('history_fromv').value;
                                            var parts = val.split("/");
                                            var date = new Date(parts[2], parts[1] - 1, parts[0]); 
                                            
                                            date.setDate(date.getDate() + 30);
                                            // console.info(date);
                                            var maxdate = new Date();
                                            if(date>=maxdate){
                                                return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                                            }else{
                                                return new Date(date.getFullYear(), date.getMonth(), date.getDate());
                                            }

                                            
                                        },
                                        format: 'dd/mm/yyyy',
                                        uiLibrary: 'bootstrap4',
                                    });
                                </script>
                    </div>

                    
                </div>
            </div>
           <!--  <div class="form-group row">
                <label class="control-label col-md-3">File Type</label>
                <div class="col-md-6">
                    <select class="form-control" name="filetype">
                        <option value="">-- Any Value --</option>
                        <option value="1">.PDF</option>
                        <option value="2">.CSV</option>
                        <option value="3">.MT940</option>
                    </select>
                </div>
            </div> -->
            <div class="form-group row" style="padding-top: 40px;">
                <label class="control-label col-md-3"></label>
                <div class="col-md-9">
                    <?php echo $this->formSubmit('view',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
                    <?php //echo $this->formSubmit('download',$this->language->_('Download'),array('class'=>'btngreen hov')); ?>
                </div>
            </div>



          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <br>
                    <div class="form-group row">
                <label class="control-label col-md-3"><b>Account No</b></label>
                <div class="col-md-8">
                    <?php
                            $selectaccount = '-- '.$this->language->_('Select Account').' --';
                            $formAppParam['selectMsg'] = $selectaccount;
                            $formAppParam['inclPRKFSCM'] = 1;
                            if($this->error)
                            {
                        ?>
                                <div class="errmsg">
                                <?php
                                    if($this->ACCTSRCERR)
                                        echo $this->ACCTSRCERR;
                                ?>
                                </div><br />
                        <?php
                            }
                        ?>

                    <?php  echo $this->formApp("SELECT_ACCTSRCDEBIT", $this->AccArr, $this->ACCTSRC, "ACCTSRCS", "", $formAppParam);  ?>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">Date</label>
                <div class="col-md-9 row">
                    <div class="col-md-6">
                        <b><?php echo $this->language->_('From');?></b>&nbsp;&nbsp;

                        <input type="text" class="form-control history_from" name="history_from" id="history_from" value="<?=$this->DATE_FROM?>" onchange='setDatefrom(this.value);' readonly>
                                    <script>
                                        $('.history_from').datepicker({
                                           minDate: function() {
                                                var mindate = new Date();
                                                mindate.setDate(mindate.getDate() - <?php echo $this->range_statement ?>);
                                                return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                                            },
                                            maxDate: function() {
                                                var maxdate = new Date();
                                                maxdate.setDate(maxdate.getDate());
                                                return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                                            },
                                            format: 'dd/mm/yyyy',
                                            uiLibrary: 'bootstrap4',
                                        });
                                    </script>
                    </div>
                    
                    <div class="col-md-6">
                        <b><?php echo $this->language->_('To');?></b>&nbsp;&nbsp;
                         <input type="text" class="form-control history_to" name="history_to" id="history_to" value="<?=$this->DATE_TO?>" onchange='setDateto(this.value);' readonly>
                                <script>
                                    $('.history_to').datepicker({
                                        minDate: function() {
                                            var val = document.getElementById('history_from').value;
                                            var parts = val.split("/");
                                            var mindate = new Date(parts[2], parts[1] - 1, parts[0]); 

                                            mindate.setDate(mindate.getDate());
                                            return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                                            },
                                        maxDate: function() {
                                            var val = document.getElementById('history_from').value;
                                            var parts = val.split("/");
                                            var date = new Date(parts[2], parts[1] - 1, parts[0]); 
                                            // console.info(date.getMonth());
                                            date.setDate(date.getDate() + 30);
                                            var maxdate = new Date();
                                            if(date>=maxdate){
                                                return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                                            }else{
                                                return new Date(date.getFullYear(), date.getMonth(), date.getDate());
                                            }
                                            // return new Date(date.getFullYear(), date.getMonth(), date.getDate());
                                        },

                                        format: 'dd/mm/yyyy',
                                        uiLibrary: 'bootstrap4',
                                    });
                                </script>
                    </div>

                    
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">File Type</label>
                <div class="col-md-6">
                    <select class="form-control" id="filetype" name="filetype">
                        <option value="">-- Any Value --</option>
                        <option value="1">.PDF</option>
                        <option value="2">.CSV</option>
                        <option value="3">.MT940</option>
                    </select>
                </div>
            </div>
            <div class="form-group row" style="padding-top: 40px;">
                <label class="control-label col-md-3"></label>
                <div class="col-md-9">
                    <?php //echo $this->formSubmit('view',$this->language->_('Submit'),array('class'=>'btnwhite hov')); ?>
                    <?php echo $this->formSubmit('download',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
                </div>
            </div>


          </div>
         
        </div>
        </form>
        <br>
        <div class="estatmentview" style="display: none;"> 
            <form name="Form" id="thisState" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'viewreport','action'=>'index','statement'=>true),null,true)?>" method="post">
                <div class="form-group row">
                        <label class="col-sm-3 col-form-label"><?php echo $this->language->_('Account No'); ?><span class="errmsg">*</span></label>
                        <div class="col-sm-8">
                              <?php
                    $selectaccount = '-- '.$this->language->_('Select Account').' --';
                    $formAppParam['selectMsg'] = $selectaccount;
                    $formAppParam['inclPRKFSCM'] = 1;
                    if($this->error)
                    {
                ?>
                        <div class="errmsg">
                        <?php
                            if($this->ACCTSRCERR) 
                                echo $this->ACCTSRCERR;
                        ?>
                        </div><br />
                <?php
                    }
                ?>
                
            <?php  echo $this->formApp("SELECT_ACCTSRC", $this->AccArr, $this->ACCTSRC, "ACCTSRCT", "", $formAppParam);  ?>  
                                                        <br/>
                        </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><?php echo $this->language->_('Period'); ?><span class="errmsg">*</span></label>
                    <div class="col-sm-8">
                         <?php
                    $checkedToday = ($this->PERIOD == 'today')? "checked='checked'": "";
                    $checkedHistory = ($this->PERIOD == 'history')? "checked='checked'": "";
                    ?>
                    <?php
                $month = array("",$this->language->_("January"),
                        $this->language->_("February"),
                        $this->language->_("March"),
                        $this->language->_("April"),
                        $this->language->_("May"),
                        $this->language->_("June"), 
                        $this->language->_("July"),
                        $this->language->_("August"),
                        $this->language->_("September"),
                        $this->language->_("October"),
                        $this->language->_("November"),
                        $this->language->_("December"));
   

                ?>

                <select name="monthVal" id="monthVal" class="form-control" style="width:50%;display: inline;">
                    <?php  
                    $monthnow = date('m');
                    for ($i=1; $i <= 12; $i++) { 
                        $selectedm = '';
                        if(!empty($this->month)){
                            if($i == $this->month){
                                $selectedm = 'selected' ;
                            }else{
                                $selectedm = '';
                            }
                            
                        }else{
                            if($i == ltrim($monthnow, '0')-1){
                                // die;
                                $selectedm = 'selected';
                            }
                        }
                        echo '<option value="'.$i.'" '.$selectedm.'>'.$month[$i].'</option>';
                    }

                    ?>
                </select>

                <select name="yearVal" id="yearVal" class="form-control tahunselect" style="width:48%;display: inline;">
                    <?php 
                    $year = date('Y');
                    $bulan = date('n');
                    if ($bulan > 6) {
                        $iyear = $year;
                    }else{
                        $iyear = $year - 1;
                    }
                    for ($i=$iyear; $i <= $year; $i++) { 
                        $selected = '';
                        if(!empty($this->year)){
                            if($i == $this->year){
                                $selected = 'selected'  ;
                            }else{
                                $selected = '';
                            }
                            
                        }else{
                            if($i == $year){
                                $selected = 'selected';
                            }
                        }
                        echo '<option value="'.$i.'" '.$selected.'>'.$i.'</option>';
                    }

                    ?>
                </select>

                    </div>
                </div>

                <?php $visibility = ($this->PERIOD == 'history')? '': 'style="display:none;"';  ?>
                <div class="form-group row" id="acttd" <?= $visibility ?>>
                    <label class="col-sm-4 col-form-label"><?php echo $this->language->_('From'); ?><span class="errmsg">*</span></label>
                    <div class="col-sm-8">
                          <?php echo $this->language->_('From');?>&nbsp;&nbsp;
                
                <input type="text" class="form-control" name="history_from" id="history_from" value="<?=$this->DATE_FROM?>" onchange='setDatefrom(this.value);' readonly>
                            <script>
                                $('#history_from').datepicker({
                                    maxDate: function() {
                                        var date = new Date();
                                       date.setDate(date.getDate());
                                        return new Date(date.getFullYear(), date.getMonth(), date.getDate());
                                    },
                                    format: 'dd/mm/yyyy',
                                    uiLibrary: 'bootstrap4',
                                });
                            </script>
                    
                    &nbsp;&nbsp;
                    <?php echo $this->language->_('To');?>&nbsp;&nbsp;
                     <input type="text" class="form-control" name="history_to" id="history_to" value="<?=$this->DATE_TO?>" onchange='setDateto(this.value);' readonly>
                            <script>
                                $('#history_to').datepicker({
                                    maxDate: function() {
                                        var date = new Date();
                                       date.setDate(date.getDate());
                                        return new Date(date.getFullYear(), date.getMonth(), date.getDate());
                                    },
                                    format: 'dd/mm/yyyy',
                                    uiLibrary: 'bootstrap4',
                                });
                            </script>
                    
                    <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <font style="font-size:12px; color:#FF0000;"><em>(<?php echo $this->language->_('Date range : max 31 days');?>)</em></font>
                    <br/> 
                    <label for="exampleInputPassword1"><span><?php echo $this->language->_('Notes');?><span class="errmsg">*</span></label>
            <?php echo $this->language->_('Maximum Inquiry Days is 60 Days');?>
              <br/>

                    </div>
                </div>


                <div class="form-group row" id="acttd" <?= $visibility ?>>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>

                <div class="form-group row" style="padding-top: 40px;">
                    <label class="control-label col-md-3"></label>
                    <div class="col-md-9">
                        <?php //echo $this->formSubmit('view',$this->language->_('Submit'),array('class'=>'btnwhite hov')); ?>
                        <input type="submit" name="pdf" value="<?=$this->language->_('Download')?>" class="btngreen hov">
                        <!-- <?php echo $this->formSubmit('pdf',$this->language->_('Download'),array('class'=>'btngreen hov')); ?> -->
                    </div>
                </div>
            </form>
        </div>

            

        </div>
        <div class="col-md-6 historyview">
            <div class="form-group row">
                <h6>History</h6>
            </div>
            <div id="viewhis">
            <?php
                foreach ($this->historyData as $key => $value) {
                    ?>
                        <div class="page-bar"></div>
                            <div class="form-group row">
                                <label class="control-label col-md-4"><?php echo $value['HIS_ACCT']; ?></label>
                                <label class="control-label col-md-6"><i class="far fa-calendar-alt"></i>&nbsp;<?php echo Application_Helper_General::convertDate($value['HIS_DATE_START'], 'dd MMMM y'); echo ' - ';
                                    echo Application_Helper_General::convertDate($value['HIS_DATE_END'], 'dd MMMM y'); ?></label>
                                <div class="col-md-2">
                                    <?php

                                     

                                    if($value['HIS_TYPE'] == '1'){
                                            ?>
                                                 <a href="javascript:;" onclick="direct('<?php echo $value['HIS_ACCT'] ?>','<?php echo $value['HIS_DATE_START'] ?>','<?php echo $value['HIS_DATE_END'] ?>')"><i class="fa fa-eye" title="View"></i></a>
                                            <?php
                                    }else if($value['HIS_TYPE'] == '2'){

                                            ?>
                                            <a href="javascript:;" onclick="directfile('<?php echo $value['HIS_ACCT'] ?>','<?php echo $value['HIS_DATE_START'] ?>','<?php echo $value['HIS_DATE_END'] ?>','<?php echo $value['HIS_FILE'] ?>')"><i class="fa fa-file-download" title="Download"></i></a>
                                            <?php
                                    }

                                     ?> 
                                    <a href="javascript:;" value="<?php echo $value['ID'] ?>" onclick="deleteview(this)"><i class="fa fa-trash" title="Remove"></i></a>
                                    
                                </div>
                            </div>

                    <?php
                }

             ?>
         </div>
             <script type="text/javascript">
                    function direct(acc,dates,dateend){
                            //var col = 'currency-'+colomn;
                            document.getElementById('ACCTSRC').value = acc;
                            document.getElementById('history_fromv').value = dates;
                            document.getElementById('history_tov').value = dateend;
                             document.getElementById('history_from').value = dates;
                            document.getElementById('history_to').value = dateend;
                            document.getElementById('directlink').value = '1';
                            
                            document.getElementById('thisForm').submit();
                    }


                    function directfile(acc,dates,dateend,file){
                            //var col = 'currency-'+colomn;
                            document.getElementById('ACCTSRC').value = acc;
                            document.getElementById('history_fromv').value = dates;
                            document.getElementById('history_tov').value = dateend;
                             document.getElementById('history_from').value = dates;
                            document.getElementById('history_to').value = dateend;
                            document.getElementById('filetype').value = file;
                            document.getElementById('directlink').value = '1';
                            document.getElementById('thisForm').submit();
                    }

             </script>
           
            <div class="page-bar"></div>
        </div>



        <div class="col-md-6 historyfile">
            <div class="form-group row">
                <h6>History</h6>
            </div>
             <div id="filehis">
            <?php
                foreach ($this->historyDataFile as $key => $value) {
                    ?>
                        <div class="page-bar"></div>
                            <div class="form-group row">
                                <label class="control-label col-md-4"><?php echo $value['HIS_ACCT']; ?></label>
                                <label class="control-label col-md-6"><i class="far fa-calendar-alt"></i>&nbsp;<?php echo Application_Helper_General::convertDate($value['HIS_DATE_START'], 'dd MMMM y'); echo ' - ';
                                    echo Application_Helper_General::convertDate($value['HIS_DATE_END'], 'dd MMMM y'); ?></label>
                                <div class="col-md-2">
                                    <?php

                                     

                                    if($value['HIS_TYPE'] == '1'){
                                            ?>
                                                 <a href="javascript:;" onclick="direct('<?php echo $value['HIS_ACCT'] ?>','<?php echo $value['HIS_DATE_START'] ?>','<?php echo $value['HIS_DATE_END'] ?>')"><i class="fa fa-eye" title="View"></i></a>
                                            <?php
                                    }else if($value['HIS_TYPE'] == '2'){

                                            ?>
                                            <a href="javascript:;" onclick="directfile('<?php echo $value['HIS_ACCT'] ?>','<?php echo $value['HIS_DATE_START'] ?>','<?php echo $value['HIS_DATE_END'] ?>','<?php echo $value['HIS_FILE'] ?>')"><i class="fa fa-file-download" title="Download"></i></a>
                                            <?php
                                    }

                                     ?> 
                                    <a href="javascript:;" value="<?php echo $value['ID'] ?>" onclick="deletefile(this)"><i class="fa fa-trash" title="Remove"></i></a>
                                    
                                </div>
                            </div>

                    <?php
                }

             ?>
            </div>

             <script type="text/javascript">
                    function direct(acc,dates,dateend){
                            //var col = 'currency-'+colomn;
                            document.getElementById('ACCTSRC').value = acc;
                            document.getElementById('history_fromv').value = dates;
                            document.getElementById('history_tov').value = dateend;
                             document.getElementById('history_from').value = dates;
                            document.getElementById('history_to').value = dateend;
                            document.getElementById('directlink').value = '1';
                            
                            document.getElementById('thisForm').submit();
                    }


                    function directfile(acc,dates,dateend,file){
                            //var col = 'currency-'+colomn;
                            document.getElementById('ACCTSRC').value = acc;
                            document.getElementById('history_fromv').value = dates;
                            document.getElementById('history_tov').value = dateend;
                             document.getElementById('history_from').value = dates;
                            document.getElementById('history_to').value = dateend;
                            document.getElementById('filetype').value = file;
                            document.getElementById('directlink').value = '1';
                            document.getElementById('thisForm').submit();
                    }

             </script>
           
            <div class="page-bar"></div>
        </div>


        <div class="col-md-6 historystatement">
            <div class="form-group row">
                <h6>History</h6>
            </div>
            <div id="statehis">
            <?php

            // print_r($month);die;
                foreach ($this->historyDatastate as $key => $value) {
                    ?>
                        <div class="page-bar"></div>
                            <div class="form-group row">
                                <label class="control-label col-md-4"><?php echo $value['HIS_ACCT']; ?></label>
                                <label class="control-label col-md-6"><i class="far fa-calendar-alt"></i>&nbsp;<?php echo $month[(int)$value['HIS_MONTH']]; echo ' - ';
                                    echo $value['HIS_YEAR']; ?></label>
                                <div class="col-md-2">
                                    <?php

                                     

                                    if($value['HIS_TYPE'] == '3'){
                                            ?>
                                                 <a href="javascript:;" onclick="directsstate('<?php echo $value['HIS_ACCT'] ?>','<?php echo $value['HIS_MONTH'] ?>','<?php echo $value['HIS_YEAR'] ?>')"><i class="fa fa-eye" title="View"></i></a>
                                            <?php
                                    }else if($value['HIS_TYPE'] == '2'){

                                            ?>
                                            <a href="javascript:;" onclick="directfile('<?php echo $value['HIS_ACCT'] ?>','<?php echo $value['HIS_DATE_START'] ?>','<?php echo $value['HIS_DATE_END'] ?>','<?php echo $value['HIS_FILE'] ?>')"><i class="fa fa-file-download" title="Download"></i></a>
                                            <?php
                                    }

                                     ?> 
                                    <a href="javascript:;" value="<?php echo $value['ID'] ?>" onclick="deletestate(this)"><i class="fa fa-trash" title="Remove"></i></a>
                                   
                                </div>
                            </div>

                    <?php
                }

             ?>

             </div>

             <script type="text/javascript">

                    function refreshstate(){
                         // var id = elem.getAttribute('value');
                         var ncolselect = "#statehis";
                            // alert(id);
                            $.ajax({
                            url: "<?=$this->url(array('module'=>'accountstatement','controller'=>'viewreport','action'=>'refreshstate'),null,true)?>",
                            type: 'GET',
                            dataType: "html",
                            data: {
                                // id: id
                            },
                            success: function(data) {
                                $(ncolselect).html(data);
                            },
                            error: function(xhr, ajaxOptions, thrownError)
                            {
                                
                                //alert("Failed to get where column list, please try again");
                            }
                        });
                    }

                    function refreshfile(){
                         // var id = elem.getAttribute('value');
                         var ncolselect = "#filehis";
                            // alert(id);
                            $.ajax({
                            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'refreshfile'),null,true)?>",
                            type: 'GET',
                            dataType: "html",
                            data: {
                                // id: id
                            },
                            success: function(data) {
                                $(ncolselect).html(data);
                            },
                            error: function(xhr, ajaxOptions, thrownError)
                            {
                                alert("Failed to get where column list, please try again");
                            }
                        });
                    }

                    function deletestate(elem){
                         var id = elem.getAttribute('value');
                         var ncolselect = "#statehis";
                            // alert(id);
                            $.ajax({
                            url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'delete'),null,true)?>",
                            type: 'GET',
                            dataType: "html",
                            data: {
                                id: id
                            },
                            success: function(data) {
                                $(ncolselect).html(data);
                            },
                            error: function(xhr, ajaxOptions, thrownError)
                            {
                                alert("Failed to get where column list, please try again");
                            }
                        });
                    }

                    function deletefile(elem){
                            var id = elem.getAttribute('value');
                             var ncolselect = "#filehis";
                                // alert(id);
                                $.ajax({
                                url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'deletefile'),null,true)?>",
                                type: 'GET',
                                dataType: "html",
                                data: {
                                    id: id
                                },
                                success: function(data) {
                                    $(ncolselect).html(data);
                                },
                                error: function(xhr, ajaxOptions, thrownError)
                                {
                                    alert("Failed to get where column list, please try again");
                                }
                            });

                    }


                    function deleteview(elem){
                            var id = elem.getAttribute('value');
                             var ncolselect = "#viewhis";
                                // alert(id);
                                $.ajax({
                                url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'deleteview'),null,true)?>",
                                type: 'GET',
                                dataType: "html",
                                data: {
                                    id: id
                                },
                                success: function(data) {
                                    $(ncolselect).html(data);
                                },
                                error: function(xhr, ajaxOptions, thrownError)
                                {
                                    alert("Failed to get where column list, please try again");
                                }
                            });

                    }

                    function directsstate(acc,dates,dateend){
                            //var col = 'currency-'+colomn;
                            document.getElementById('ACCTSRCT').value = acc;
                            document.getElementById('monthVal').value = parseInt(dates);
                            document.getElementById('yearVal').value = dateend;
                             
                            // document.getElementById('directlink').value = '1';
                            
                            document.getElementById('thisState').submit();
                    }


                    function directfile(acc,dates,dateend,file){
                            //var col = 'currency-'+colomn;
                            document.getElementById('ACCTSRC').value = acc;
                            document.getElementById('history_fromv').value = dates;
                            document.getElementById('history_tov').value = dateend;
                             document.getElementById('history_from').value = dates;
                            document.getElementById('history_to').value = dateend;
                            document.getElementById('filetype').value = file;
                            document.getElementById('directlink').value = '1';
                            document.getElementById('thisForm').submit();
                    }

             </script>
           
            <div class="page-bar"></div>
        </div>


    </div>             
</div>
