<?php

$query_string_params = Zend_Controller_Front::getInstance()->getRequest()->getQuery();
if(is_array($query_string_params))
{
  $qstring='?';
  foreach($query_string_params as $key=>$val)
    $qstring.=$key.'='.$val.'&';
  $qstring=substr($qstring,0,-1);
}
else
  $qstring='';
?>

<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php 
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<style>
@media print{
    .hidden, .hidden * {
		display: none !important;
		visibility: hidden;
	}

	button {
		display: none !important;
		visibility: hidden;
	}
	
	/*form {
		display: none !important;
		visibility: hidden;
	}*/
	
	.hiddenLogo, .hiddenLogo * {
		display: inline !important;
		visibility: show;
	}
	
	input.currency{ width: 200px; font-size: 10px; } 
	ul { padding-left:10px; } 
	h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed } 
	body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; } 
	b { font-weight:bold; font-size:11px } 
	td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; } 
	a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; } 
	.tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.headercolor {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } 
	.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; } 
	.errmsg { font-weight:bold; font-size:11px; color:#FF0000 } 
	body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	-webkit-print-color-adjust:exact; /*chrome*/ 
	-moz-print-color-adjust:exact; /*mozila*/
	-o-print-color-adjust:exact; /*opera*/
	-ms-print-color-adjust:exact; /*ie*/
	}
}

</style>
<table border="0" cellpadding="0" cellspacing="0" width="60%" align="left" style="display:none" class="hiddenLogo">
	<tr>
		<td valign="left"><div style="padding: 0px 20px 0px 0px"><img src="/images/LOGO/logo_pdf<?php echo $app; ?>.jpg" border="0"/></div></td>
	</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="40%" align="right" style="display:none" class="hiddenLogo">
	<tr>
		<td align="center" valign="middle"><strong><?php echo $this->language->_('Transaction Inquiry');?> - </strong></td>
		<td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s")?></strong></td>
	</tr>
</table>
<form name="Form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'viewreport','action'=>'view'),null,true)?>" method="post" style="padding-top:30px">
<?php if ($this->pdf == false)	{?>
<b><font class="hidden"><?php echo $this->language->_('Account Information');?>	&gt; <?php echo $this->language->_('Transaction Inquiry');?></font></b>
<br class="hidden"/><br class="hidden"/><br class="hidden"/><br class="hidden"/>


<div align="right">
	<table>
	<tr style="height:0px">
		<td colspan="12" align="CENTER">
			<?php 
			if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { 
			//if(count($this->paginator)> 1) { 
			?>
			<?php	//echo $this->formSubmit('pdf','PDF is too large (function is disabled)',array('class'=>'btn btn-warning','disabled'=>'disabled')); ?>
			<?php }
			else{ ?>
			<?php 	echo $this->formSubmit('pdf','PDF',array('class'=>'btn btn-warning')); ?>
			<?php } ?>
			<?php echo $this->formSubmit('csv','CSV',array('class'=>'btn btn-warning')); ?>
			<?php 
			if(count($this->paginator)> 1) {
			//if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {  
				//echo $this->formSubmit('pdf','Print',array('class'=>'btn btn-warning','disabled'=>'disabled')); 
			}
			else
			{
			?>
<!--				<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="inputbtn"><?PHP echo $this->language->_("Print")?></button>&nbsp;-->
					<!-- <input class="btn btn-warning" value="<?php echo $this->language->_('Print');?>" onclick="window.print();" type="button"> -->
					<!--<button onclick="openwindow('<?PHP echo $this->url(array('printaccstat' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btn btn-warning"><?PHP echo $this->language->_("Print")?></button>&nbsp;-->
			<?php }?>
		</td>
	</tr>
	</table>
	<label class="hidden">
		<? //$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
	</label>
</div><br class="hidden"/>
<?php }	?>
<br class="hidden"/>
<div class="errmsg hidden"><?php echo $this->messageError;?></div>
<br class="hidden"/>

<strong style="color: #003f6e;"><?=$this->ACCT_NAME.' / IDR';?></strong>
<br>
<br>
 
<table>
	<tr>
		<td width="20%"><?php echo $this->language->_('Account');?></td>
		<td width="3%"> : </td>
		<td><strong style="color: #003f6e;"><?=$this->ACCTSRC;?> <?php ' - '.$this->ACCT_NAME; ?></strong></td>
	</tr>
	<tr>
		<td width="20%"><?php echo $this->language->_('Date');?></td>
		<td width="3%"> : </td>
		<td>
			<strong style="color: #003f6e;"><?= $this->DATE_FROM_view ?><input type='hidden' name='history_from' value='<?= $this->DATE_FROM ?>' > - <?= $this->DATE_TO_view ?><input type='hidden' name='history_to' value='<?= $this->DATE_TO ?>'></strong>
		</td>
	</tr>
	<?php if($this->istans){ ?>
	<tr>
		<td width="20%"><?php echo $this->language->_('Opening Balance');?></td>
		<td width="3%"> : </td>
		<td><strong style="color: #003f6e;"><?=$this->ccy.' '.Application_Helper_General::displayMoney($this->openingBalance)?></strong></td>
	</tr>
	<?php } ?>
	<tr>
		<td width="20%"><?php echo $this->language->_('Total Debit');?></td>
		<td width="3%"> : </td>
		<td>
			<strong style="color: #003f6e;"><?=$this->ccy.' '.Application_Helper_General::displayMoney($this->totalDebet)?></strong>
		</td>
	</tr>
	<?php if($this->istans){ ?>
	<tr>
		<td width="20%"><?php echo $this->language->_('Closing Balance');?></td>
		<td width="3%"> : </td>
		<td>
			<strong style="color: #003f6e;"><?=$this->ccy.' '.Application_Helper_General::displayMoney($this->closingBalance)?></strong>
		</td>
	</tr>
	<?php } ?>
	<tr>
		<td width="20%"><?php echo $this->language->_('Total Credit');?></td>
		<td width="3%"> : </td>
		<td>
			<strong style="color: #003f6e;"><?=$this->ccy.' '.Application_Helper_General::displayMoney($this->totalKredit)?></strong>
		</td>
	</tr>
</table>

<br/>
<br/>

<div class="portlet-body flip-scroll" style="overflow-x: auto; max-height: 400px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-sm table-striped">
	<thead>
	<tr>
	<?php
		$countFields = count($this->header);
		$acct_stat_layout = $this->acct_stat_layout;
		if($acct_stat_layout == "1"){
			foreach ($this->header as $header)	{	?>
			<th id="tbl-headercontent" class="tablehead fth-header"><center><?= $header ?></center></th>
			<?php }	?>
		<?php }
		elseif($acct_stat_layout == "2"){
			?>
			<th id="tbl-headercontent" class="tablehead fth-header"><center><?php echo $this->language->_('Date');?></center></th>
			<th id="tbl-headercontent" class="tablehead fth-header"><center><?php echo $this->language->_('Description');?></center></th>
			<th id="tbl-headercontent" colspan="2" class="tablehead fth-header"><center><?php echo $this->language->_('Amount');?></center></th>
			<?php
		}
		elseif($acct_stat_layout == "1R"){
			?>
			<th id="tbl-headercontent" class="tablehead fth-header"><center><?php echo $this->language->_('Date');?></center></th>
			<th id="tbl-headercontent" class="tablehead fth-header"><center><?php echo $this->language->_('Description');?></center></th>
			<th id="tbl-headercontent" class="tablehead fth-header"><center><?php echo $this->language->_('Debet');?></center></th>
			<th id="tbl-headercontent" class="tablehead fth-header"><center><?php echo $this->language->_('Credit');?></center></th>
			<th id="tbl-headercontent" class="tablehead fth-header"><center><?php echo $this->language->_('Balance');?></center></th>
			<?php
		}
		elseif($acct_stat_layout == "2R"){
			?>
			<th id="tbl-headercontent" class="tablehead fth-header"><center><?php echo $this->language->_('Date');?></center></th>
			<th id="tbl-headercontent" class="tablehead fth-header"><center><?php echo $this->language->_('Description');?></center></th>
			<th id="tbl-headercontent" class="tablehead fth-header"><center><?php echo $this->language->_('CCY');?></center></th>
			<th id="tbl-headercontent" class="tablehead fth-header"><center><?php echo $this->language->_('Amount');?></center></th>
			<th id="tbl-headercontent" class="tablehead fth-header"><center><?php echo $this->language->_('DB/CR');?></center></th>
			<th id="tbl-headercontent" class="tablehead fth-header"><center><?php echo $this->language->_('Balance');?></center></th>
			<?php
		}
		?>


	</tr>
	</thead>
	<?php $nodata = $this->language->_('No Data');?>
	<?php
	//echo '<>'
	//var_dump($this->dataDetails);die;
	if(count($this->dataDetails) > 0)
	{
		$i = 1;
		$maxBR   = 56;
		$countBR = 0;
		foreach($this->dataDetails as $row)
		{
			$td_css = ($i%2==1)?'tbl-evencontent':'tbl-oddcontent';
			$content = "";
			$countBR += count(explode("<br />", $row['description']));
			if ($this->pdf && ($countBR > $maxBR) && $i > 1)
			{	
			//$content .= '</table></td></tr><tr><td><table width="100%" border="0" cellspacing="0" cellpadding="0">';
				$countBR = 0;	}
				if($acct_stat_layout == "1"){
						$content .= '<tr>
						<td class="'.$td_css.'" width="20%">'.$row['datetime'].'</td>
						<td class="'.$td_css.'" width="40%">'.$row['description'].'</td>

						<td class="'.$td_css.'" align="right" width="15%">'.Application_Helper_General::displayMoney($row['debet']).'</td>
						<td class="'.$td_css.'" align="right" width="15%">'.$row['credit'].'</td>
						';
				}
				elseif($acct_stat_layout == "2"){
						$content .= '<tr>
						<td class="'.$td_css.'" width="20%">'.$row['datetime'].'</td>
						<td class="'.$td_css.'" width="40%">'.$row['description'].'</td>
						<td class="'.$td_css.'" align="right" width="15%">'.Application_Helper_General::displayMoney($row['amount']).'</td>
						<td class="'.$td_css.'" align="right" width="15%">'.$row['type'].'</td>
						';
				}
				elseif($acct_stat_layout == "1R"){
						$content .= '<tr>
						<td class="'.$td_css.'" width="20%">'.$row['datetime'].'</td>
						<td class="'.$td_css.'" width="40%">'.$row['description'].'</td>
						<td class="'.$td_css.'" align="right" width="15%">'.Application_Helper_General::displayMoney($row['debet']).'</td>
						<td class="'.$td_css.'" align="right" width="15%">'.Application_Helper_General::displayMoney($row['credit']).'</td>
						<td class="'.$td_css.'" align="right" width="15%">'.Application_Helper_General::displayMoney($row['balance']).'</td>
						';
				}
				elseif($acct_stat_layout == "2R"){
						$content .= '<tr>
						<td class="'.$td_css.'" width="20%">'.$row['datetime'].'</td>
						<td class="'.$td_css.'" width="40%">'.$row['description'].'</td>
						<td class="'.$td_css.'" align="center">IDR</td>
						<td class="'.$td_css.'" align="right" width="10%">'.Application_Helper_General::displayMoney($row['amount']).'</td>
						<td class="'.$td_css.'" align="right" width="10%">'.$row['type'].'</td>
						';
						$content .= '<td class="'.$td_css.'" align="right">'.Application_Helper_General::displayMoney($row['balance']).'</td>';
				}

			//<td class="'.$td_css.'" align="center" width="10%">'.$row['ccy'].'</td>

			if($this->PERIOD =='history')
				//$content .= '<td class="'.$td_css.'" align="right">'.$row['balance'].'</td>';

			$content .= '</tr>';
			echo $content;
			$i++;
		}
	}
	else
	{
		if($acct_stat_layout == '2R'){
			echo '<tr><td colspan="6" class="tbl-evencontent" align="center"> --- '.$nodata.' --- </td></tr>';
		}
		else{
			echo '<tr><td colspan="'.$countFields.'" class="tbl-evencontent" align="center"> --- '.$nodata.' --- </td></tr>';
		}
	}
	?>
</table>
</div>
<br>
<div class="panel-body">
  		<div class="col-sm-12" style="text-align: center">
   
   <?php echo $this->formButton('backstreet',$this->language->_('Back'),array('class'=>'btnwhite hov','onclick'=>'location.href="/accountstatement/debitcard"' ,"style"=>"font-size:15px;")); ?>
						<?php //echo $this->formSubmit('view',$this->language->_('View'),array('class'=>'btngreen hov')); ?>
    	</div>
    </div>
