<form name="payment" method="post" action="">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td style="padding: 0pt 0pt 0pt 20px;">
					<img src="biller_aca_create.php_files/logo_aca.gif" alt="ACA">
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td class="filterarea-line">
					<img src="biller_aca_create.php_files/1x1px.gif">
				</td>
			</tr>
			<tr>
				<td class="contentarea" id="contentarea">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
							<td colspan="2">&nbsp;</td></tr>
							<tr>
								<td class="tdform-sub" id="headview" colspan="2"><?php echo $this->language->_('ACA Agent Code'); ?></td>
							</tr>
							<tr>
								<td class="tbl-evencontent" id="tbl-evencontent" colspan="2">
									<input name="ta_sel" id="ta_sel" value="1" type="radio">
									<?php echo $this->language->_('insert new agent code'); ?>
								</td>
							</tr> 
							<tr>
								<td class="tbl-evencontent" id="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent" id="tbl-evencontent">	
									<?php echo $this->language->_('Agent Code'); ?><strong class="formreq">&nbsp;*&nbsp;</strong>
									<input name="TA_CODE" size="6" maxlength="6" class="textbox_std1" type="text">&nbsp;&nbsp;
									<input name="add_tacode" value="1" type="checkbox"><?php echo $this->language->_('add agent code to list'); ?>
								</td>
							</tr> 
							<tr>
								<td class="tbl-evencontent" id="tbl-evencontent" colspan="2">
									<input name="ta_sel" id="ta_sel" value="2" checked="checked" type="radio">
									<?php echo $this->language->_('select from agent code list'); ?>
								</td>
							</tr> 
							<tr>
								<td class="tbl-evencontent" id="tbl-evencontent">&nbsp;</td>
								<td class="tbl-evencontent" id="tbl-evencontent">	
									<select name="TACODESEL">	
										<option selected="selected" value=""><?php echo $this->language->_('Select Agent Code'); ?></option>
										<option value="180800"><?php echo $this->language->_('180800'); ?> - <?php echo $this->language->_('SHILLA TOUR'); ?></option>
										<option value="106900"><?php echo $this->language->_('106900'); ?> - <?php echo $this->language->_('PT.METRO PERDANA INDONESIA ADVERTISING'); ?></option>
										<option value="199900"><?php echo $this->language->_('199900'); ?> - <?php echo $this->language->_('MASPION GROUP'); ?></option>
										<option value="054400"><?php echo $this->language->_('054400'); ?> - <?php echo $this->language->_('DIRECT ACA BATAM'); ?></option>
										<option value="123400"><?php echo $this->language->_('123400'); ?> - <?php echo $this->language->_('SAMEKARINDO INDAH'); ?></option>
										<option value="504700"><?php echo $this->language->_('504700'); ?> - <?php echo $this->language->_('ELLY WEHAN TOUW'); ?></option>
										<option value="198033"><?php echo $this->language->_('198033'); ?> - <?php echo $this->language->_('PT. SALIM IVOMAS PRATAMA'); ?></option>
										<option value="437100"><?php echo $this->language->_('437100'); ?> - <?php echo $this->language->_('DIAN QORIYANSYAH'); ?></option>
										<option value="060000"><?php echo $this->language->_('060000'); ?> - <?php echo $this->language->_('KARYAWAN ACA'); ?></option>
										<option value="154103"><?php echo $this->language->_('154103'); ?> - <?php echo $this->language->_('PT. BAYU BUANA TBK. PLAZA MUTIARA'); ?></option>
										<option value="741200"><?php echo $this->language->_('741200'); ?> - <?php echo $this->language->_('DEWI WISATA TOUR'); ?> &amp; <?php echo $this->language->_('TRAVEL'); ?></option>
										<option value="124702"><?php echo $this->language->_('124702'); ?> - <?php echo $this->language->_('DWIDAYA'); ?></option>
									</select>																&nbsp;&nbsp;<input name="managelist" id="managelist" class="buttonnew" value="manage the agent code" onclick="showPopUpWindow('manage_agent_popup.php?fl3nc=1&amp;r=qc3g5vwn2lx0s86w&amp;param=6KalmKaUoqafot63v62Dq7OojuXe39rr79WVxNjLqraydozb0d_UqMjWlJWcmHKJfodpoLCY36jY0NrN5eu37-Df2l3R2Nrhm-Klx-HT4sahzbI%3d');" type="button">
								</td>
							</tr>
							<tr>
								<td class="button-area" id="button-area" colspan="2">
									&nbsp;
								</td>
							</tR>
							<tr>
								<td class="button-area" id="button-area" colspan="2">
									<div class="formbutton">
										<input class="inputbtn" value="cancel" onclick="if (confirm('If you leave this screen\nYour data input will be lost\nAre you sure leaving this screen?'))  location.href='partner_screen_aca.php?fl3nc=1&amp;r=2g92z1wqcbeojsli&amp;param=6JShoKSUl5qbotS3s695lpGojuXl3bbn7s-ZprKo'" type="button">
										<input class="inputbtn" value="submit" onclick="JavaScript:proceed('select-agent', '', '');" type="button">
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</form>
