	<script language="javascript" type="text/javascript">
	function doTransfer(cust_id,cust_cif,cust_email,cust_name,cust_phone,cust_address,cust_city,cust_province,acct_no,cust_npwp)
	{
		//alert(user_id);
		//window.opener.document.payment.ACBENEF_FULL.value = ACBENEF+" ("+CURR_CODE+")"+" - "+ACBENEF_ALIAS+" - "+ACBENEF_BANKNAME;
		//window.opener.document.payment.ACBENEF_ID.value = ACBENEF_ID;
		
		//window.opener.document.Form.cust_id.value = cust_id;
		window.opener.document.Form.acct_no.value = acct_no;
		window.opener.document.Form.cust_cif.value = cust_cif;
		window.opener.document.Form.cust_cifd.value = cust_cif;
		window.opener.document.Form.cust_email.value = cust_email;
		window.opener.document.Form.cust_name.value = cust_name;
		window.opener.document.Form.cust_named.value = cust_name;
		window.opener.document.Form.cust_phone.value = cust_phone;
		window.opener.document.Form.cust_address.value = cust_address;
		window.opener.document.Form.cust_city.value = cust_city;
		// window.opener.document.Form.account.innerHTML = table;
//		//window.opener.document.Form.user_country.value = user_country;
		window.opener.document.Form.cust_province.value = cust_province;
		window.opener.document.Form.cust_npwp.value = cust_npwp;
		
	  opener.focus();
	  self.close();
	}
	</script>
<?php 
//echo '<a href="javascript:doTransfer(\''.$useridNew.'\',\''.$this->paramSession['Cif'].'\',\''.$this->paramSession['Email'].'\',\''.$this->paramSession['AccountName'].'\',\''.$this->paramSession['Phone'].'\',\''.$this->paramSession['Address'].'\',\''.$this->paramSession['State'].'\')" class="inputbtn">'.$this->language->_('Submit').'</a>';
?>

<b><?php echo $this->language->_('Customer Setup'); ?> &gt; <?php echo $this->language->_('Customer'); ?> &gt; <?php echo $this->language->_('Add Customer'); ?> &gt; <?php echo $this->language->_('Populate Data'); ?></b><br>
<h3><?php echo $this->language->_('Customer Management'); ?></h3>
<font color='red'><b><?php echo $this->message;?></b></font><br>
<?php $useridNew = $this->useridNew;?>

<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0" class="tableform" width="320px">
    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Search CIF'); ?></strong></th></tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('Account Number')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  <?php  echo $this->formHidden("acct_no",$this->acct_no,array('id'=>"acct_no",'maxlength'=>'20','size'=>30));?>
	  <?php echo $this->paramSession['acct_no'];?>
	  </td>
    </tr>
    
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('CIF Number')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  <?php  echo $this->formHidden("acct_no",$this->acct_no,array('id'=>"acct_no",'maxlength'=>'20','size'=>30));?>
	   <?php echo $this->paramSession['Cif'];?>
	  </td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('Email')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  <?php  echo $this->formHidden("acct_no",$this->acct_no,array('id'=>"acct_no",'maxlength'=>'20','size'=>30));?>
	   <?php echo $this->paramSession['Email'];?>
	  </td>
    </tr>
    
    
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('Account Name')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  <?php  echo $this->formHidden("acct_no",$this->acct_no,array('id'=>"acct_no",'maxlength'=>'20','size'=>30));?>
	  <?php echo $this->paramSession['AccountName'];?>
	  </td>
    </tr>
    
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('NPWP Number')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  <?php  echo $this->formHidden("no_npwp",$this->no_npwp,array('id'=>"no_npwp",'maxlength'=>'20','size'=>30));?>
	  <?php echo $this->paramSession['nonpwp'];?>
	  </td>
    </tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('AKTA Number')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  <?php  echo $this->formHidden("no_akte",$this->no_akte,array('id'=>"no_akte",'maxlength'=>'20','size'=>30));?>
	  <?php echo $this->paramSession['noakte'];?>
	  </td>
    </tr>
    
    <tr style="display:none">
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('Mobile Phone Number')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  <?php  echo $this->formHidden("acct_no",$this->acct_no,array('id'=>"acct_no",'maxlength'=>'20','size'=>30));?>
	  <?php echo $this->paramSession['Phone'];?>
	  </td>
    </tr>
    
    
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('Address')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  <?php  echo $this->formHidden("acct_no",$this->acct_no,array('id'=>"acct_no",'maxlength'=>'20','size'=>30));?>
	  <?php echo $this->paramSession['Address'];?>
	  </td>
    </tr>
    
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('City')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  <?php  echo $this->formHidden("acct_no",$this->acct_no,array('id'=>"acct_no",'maxlength'=>'20','size'=>30));?>
	  <?php echo $this->paramSession['City'];?>
	  </td>
    </tr>
    
    
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('acct_number',$this->language->_('State/Province')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
	  <?php  echo $this->formHidden("acct_no",$this->acct_no,array('id'=>"acct_no",'maxlength'=>'20','size'=>30));?>
	  <?php echo $this->paramSession['State'];?>
	  </td>
    </tr>
    
    <tr><td colspan="3" align="left">
      
	  <?php echo $this->formSubmit('back',$this->language->_('Back'),array('class'=>'btngreen hov')); ?>
	  <?php echo $this->formReset('next',$this->language->_('Submit'),array('class'=>'btngreen hov','Onclick'=>"javascript:doTransfer(\"".$useridNew."\",\"".$this->paramSession["Cif"]."\",\"".$this->paramSession["Email"]."\",\"".$this->paramSession["AccountName"]."\",\"".$this->paramSession["Phone"]."\",\"".$this->paramSession["Address"]."\",\"".$this->paramSession["City"]."\",\"".$this->paramSession["State"]."\",\"".$this->paramSession["acct_no"]."\",\"".$this->paramSession["nonpwp"]."\")")); ?>
	  <?php 
	  // $this->paramSession['acct_no']
	  //user_id,user_cif,email,user_fullname,user_mobile_phone,user_address,user_country
	  //echo '<a href="javascript:doTransfer(\''.$useridNew.'\',\''.$this->paramSession['Cif'].'\',\''.$this->paramSession['Email'].'\',\''.$this->paramSession['AccountName'].'\',\''.$this->paramSession['Phone'].'\',\''.$this->paramSession['Address'].'\',\''.$this->paramSession['City'].'\',\''.$this->paramSession['State'].'\')" class="inputbtn"><font color="white">'.$this->language->_('Submit').'</font></a>';
	  ?> 
    </td></tr>
  </table>
</form>
