<div class="row mb-3">
    <div class="col-md-12" style="height: auto; position: relative;">
        <div class="padding-header-cust">
            <h5><?= $this->language->_('Kontra Garansi') ?></h5>
        </div>
        <div style="padding-left:2%; padding-top:2px;">
            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="" class="textGray col-form-label"><?= $this->language->_('Jenis Kontra Garansi') ?></label>
                </div>
                <div class="col-sm-9">
                    <label>
                        <?= $this->language->_($this->arrbgcg[$this->bgdata['COUNTER_WARRANTY_TYPE']]); ?>
                    </label>
                </div>
            </div>
            <?php if ($this->bgdata['COUNTER_WARRANTY_TYPE'] == '2') : ?>
                <div class="form-group row pt-2">
                    <div class="col-sm-3">
                        <label for="" class="textGray col-form-label"><?= $this->language->_('Pemilik Plafond Limit') ?></label>
                    </div>
                    <div class="col-sm-9">
                        <label id="COUNTER_WARRANTY_TYPE_LBL" class="textGray"><?php echo $this->bgdata['CUST_NAME'] ?></label>
                    </div>
                </div>
            <?php endif ?>

            <?php if ($this->bgdata['COUNTER_WARRANTY_TYPE'] == '3') : ?>
                <div class="form-group row pt-2">
                    <div class="col-sm-3">
                        <label for="" class="textGray col-form-label"><?= $this->language->_('Nama Asuransi') ?></label>
                    </div>
                    <div class="col-sm-9">
                        <label class="col-form-label textGray"><?= $this->language->_($this->insuraceName); ?></label>
                    </div>
                </div>
                <div class="form-group row pt-2">
                    <div class="col-sm-3">
                        <label for="" class="textGray col-form-label"><?= $this->language->_('Asuransi Cabang') ?></label>
                    </div>
                    <div class="col-sm-9">
                        <label class="col-form-label textGray"><?= $this->language->_($this->insuranceBranch); ?></label>
                    </div>
                </div>
            <?php endif ?>

        </div>
    </div>
</div>