<div class="container-fluid content-box px-3" style="border-radius: 5px; border-color: #80808059; height: auto; position: relative;">
    <div style="<?= $this->bgdata['CHANGE_TYPE_CLOSE'] != '3' ? 'overflow-x: scroll;' : '' ?>" id="workflow_process" class="<?= $this->bgdata['CHANGE_TYPE_CLOSE'] == '3' ? 'd-flex justify-content-center' : '' ?>">
        <table border="0" class="mb-4">

            <?php
            if ($this->cust_reviewer == 0 && $this->cust_approver == 0) {
                $makerAlign = "right";
                $makerHrStyle = "width: 25%;";
                $makerCircleStyle = 'padding-right: 10px;text-align:center;';
                $makerFontStyle = "padding-right: 17px;text-align:center;";

                $verifyAlign = "right";
                $verifyHrStyle = "width: 25%;";
                $verifyCircleStyle = 'padding-right: 10px;text-align:center;';
                $verifyFontStyle = "padding-right: 17px;text-align:center;";

                $releaserAlign = "left";
                $releaserCircleStyle = 'padding-left: 10px;text-align:center;';
                $releaserFontStyle = "padding-left: 12px;text-align:center;";
                $releaserText = "2";
            ?>

            <?php

            } else {
                $makerAlign = "center";
                $releaserAlign = "center";
                $approverText = "3";
                $releaserText = "4";
            }

            if ($this->cust_reviewer == 0 && $this->cust_approver == 1) {
                $approverText = "2";
                $releaserText = "3";
            } elseif ($this->cust_approver == 0 && $this->cust_reviewer == 1) {
                $releaserText = "3";
            }

            ?>


            <tr>
                <?php if ($this->bgdata['CHANGE_TYPE_CLOSE'] != '3') { ?>
                    <td align="center" class="px-3">
                        <button style="cursor:default" class="btnCircleGroup active hovertext" disabled="">
                            <i class="fas fa-check"></i>
                        </button>
                    </td>
                    <td>
                        <hr class="hrline active">
                    </td>
                    <td align="center" class="px-3">
                        <button style="cursor:default" class="btnCircleGroup active hovertext" disabled="">
                            <i class="fas fa-check"></i>
                        </button>
                    </td>
                    <td>
                        <hr class="hrline active">
                    </td>
                    <td align="center" class="px-3">
                        <button style="cursor:default" class="btnCircleGroup active hovertext" disabled="">
                            <i class="fas fa-check"></i>
                        </button>
                    </td>
                    <td>
                        <hr class="hrline active">
                    </td>
                <?php } ?>
                <td align="center" class="px-3">
                    <button style="cursor:default" class="btnCircleGroup active hovertext" disabled="">
                        <i class="fas fa-check"></i>
                    </button>
                </td>
                <td>
                    <hr class="hrline active">
                </td>
                <td align="center" class="px-3">
                    <button style="cursor:default" class="btnCircleGroup active hovertext" disabled="">
                        <i class="fas fa-check"></i>
                    </button>
                </td>
                <td>
                    <hr class="hrline active">
                </td>
                <td align="center" class="px-3">
                    <button class="btnCircleGroup" disabled=""> </button>
                </td>
                <?php if ($this->bgdata['CHANGE_TYPE_CLOSE'] != '3') { ?>
                    <td>
                        <hr class="hrline">
                    </td>

                    <!-- tahapan tanda tangan dst -->
                    <td align="center" class="px-3">
                        <button class="btnCircleGroup" disabled></button>
                    </td>
                  
                <?php } ?>
            </tr>

            <!-- ###################### -->

            <tr>
                <?php if ($this->bgdata['CHANGE_TYPE_CLOSE'] != '3') { ?>
                    <td align="center" class="pt-2"><?= $this->language->_('Review Pengajuan') ?></td>
                    <td></td>

                    <td align="center" class="pt-2"><?= $this->language->_('Persetujuan Pengajuan') ?></td>
                    <td></td>

                    <td align="center" class="pt-2"><?= $this->language->_('Rilis Pengajuan') ?></td>
                    <td></td>
                <?php } ?>

                <td align="center"><?= $this->language->_('Verifikasi Bank') ?></td>
                <td></td>

                <td align="center"><?= $this->language->_('Review Bank') ?></td>
                <td></td>

                <td align="center"><?= $this->language->_('Persetujuan Bank') ?></td>
                <?php if ($this->bgdata['CHANGE_TYPE_CLOSE'] != '3') { ?>
                    <td></td>

                    <!-- tahapan pecnetakan -->
                    <td align="center"><?= $this->language->_('Release Bank') ?></td>
                    <td></td>

                <?php } ?>

            </tr>

            <!-- ###################### -->

            <tr>
                <?php if ($this->bgdata['CHANGE_TYPE_CLOSE'] != '3') { ?>
                    <td align="center" class="pt-2"></td>
                    <td></td>

                    <td align="center" class="pt-2"></td>
                    <td></td>

                    <td align="center" class="pt-2"></td>
                    <td></td>
                <?php } ?>

                <td align="center"></td>
                <td></td>

                <td align="center"></td>
                <td></td>

                <td align="center" align="center">
                    <?php echo $this->policyBoundary; ?>
                </td>

                <!-- tahapan pecnetakan -->
                <?php if ($this->bgdata['CHANGE_TYPE_CLOSE'] != '3') { ?>
                    <td align="center"></td>
                    <td></td>

                    <td align="center"></td>
                    <td></td>

                    <td align="center"></td>
                <?php } ?>
            </tr>

            <!-- ###################### -->

            <tr>
                <?php if ($this->bgdata['CHANGE_TYPE_CLOSE'] != '3') { ?>
                    <td align="center"></td>
                    <td></td>

                    <td align="center"></td>
                    <td></td>

                    <td align="center"></td>
                    <td></td>
                <?php } ?>

                <td align="center"></td>
                <td></td>

                <td align="center"></td>
                <td></td>

                <td align="center"></td>
                <td></td>

                <!-- tahapan tanda tangan dst -->
                <td align="center"></td>
                <td></td>

                <td align="center"></td>
                <td></td>

                <td align="center"></td>
            </tr>

            <!-- ###################### -->

            <tr>
                <?php if ($this->bgdata['CHANGE_TYPE_CLOSE'] != '3') { ?>
                    <td align="center" valign="top" class="pt-2">
                        <?php
                        $getReviewHistory = array_filter($this->getAllHistoryClose, function ($history) {
                            // KODE REVIEW PRINCIPAL = 1
                            return $history['HISTORY_STATUS'] == '1';
                        });

                        $getReviewHistory = end($getReviewHistory);
                        ?>
                        <div class="d-flex flex-column">
                            <div class="text-center text-primary"><?= $getReviewHistory['DATE_TIME'] ? date('d M Y', strtotime($getReviewHistory['DATE_TIME'])) : '-'; ?></div>
                            <div class="text-center text-primary"><?= $getReviewHistory['USER_FULLNAME'] ?: '-'; ?></div>
                        </div>
                    </td>
                    <td></td>

                    <td align="center" valign="top" class="pt-2">
                        <?php
                        $getApproveHistory = array_filter($this->getAllHistoryClose, function ($history) {
                            // KODE PERSETUJUAN PRINCIPAL = 2
                            return $history['HISTORY_STATUS'] == '2';
                        });

                        $getApproveHistory = end($getApproveHistory);
                        ?>
                        <div class="d-flex flex-column">
                            <div class="text-center text-primary"><?= $getApproveHistory['DATE_TIME'] ? date('d M Y', strtotime($getApproveHistory['DATE_TIME'])) : '-'; ?></div>
                            <div class="text-center text-primary"><?= $getApproveHistory['USER_FULLNAME'] ?: '-'; ?></div>
                        </div>
                    </td>
                    <td></td>

                    <td align="center" valign="top" class="pt-2">
                        <?php
                        $getReleaseHistory = array_filter($this->getAllHistoryClose, function ($history) {
                            // KODE RILIS PRINCIPAL = 3
                            return $history['HISTORY_STATUS'] == '3';
                        });

                        $getReleaseHistory = end($getReleaseHistory);
                        ?>
                        <div class="d-flex flex-column">
                            <div class="text-center text-primary"><?= $getReleaseHistory['DATE_TIME'] ? date('d M Y', strtotime($getReleaseHistory['DATE_TIME'])) : '-'; ?></div>
                            <div class="text-center text-primary"><?= $getReviewHistory['USER_FULLNAME'] ?: '-'; ?></div>
                        </div>
                    </td>
                    <td></td>
                <?php } ?>

                <td align="center" valign="top">
                    <?php
                    $getVerificationBankHistory = array_filter($this->getAllHistoryClose, function ($history) {
                        // KODE VERIFIKASI BANK = 4
                        return $history['HISTORY_STATUS'] == '8' || $history['HISTORY_STATUS'] == '13'  || $history['HISTORY_STATUS'] == '21';
                    });

                    $getVerificationBankHistory = end($getVerificationBankHistory);
                    ?>
                    <div class="d-flex flex-column">
                        <div class="text-center text-primary"><?= $getVerificationBankHistory['DATE_TIME'] ? date('d M Y', strtotime($getVerificationBankHistory['DATE_TIME'])) : '-'; ?></div>
                        <div class="text-center text-primary"><?= $getVerificationBankHistory['BUSER_NAME'] ?: '-'; ?></div>
                    </div>
                </td>
                <td></td>

                <td align="center" valign="top">
                    <?php
                    $getReviewBankHistory = array_filter($this->getAllHistoryClose, function ($history) {
                        // KODE REVIEW BANK = 5
                        return $history['HISTORY_STATUS'] == '10';
                    });

                    $getReviewBankHistory = end($getReviewBankHistory);
                    ?>
                    <div class="d-flex flex-column">
                        <div class="text-center text-primary"><?= $getReviewBankHistory['DATE_TIME'] ? date('d M Y', strtotime($getReviewBankHistory['DATE_TIME'])) : '-'; ?></div>
                        <div class="text-center text-primary"><?= $getReviewBankHistory['BUSER_NAME'] ?: '-'; ?></div>
                    </div>
                </td>
                <td></td>

                <td align="center" valign="top">
                    <?php
                    foreach ($this->getHistoryApproval as $key => $value) : ?>
                        <div class="d-flex flex-column">
                            <div class="text-center text-primary"><?= $value['CREATED'] ? date('d M Y', strtotime($value['CREATED'])) : '-'; ?></div>
                            <div class="text-center text-primary"><?= $value['BUSER_NAME'] ?: '-'; ?></div>
                        </div>
                    <?php endforeach ?>
                </td>
                <td></td>

                <!-- tahapan tanda tangan dst -->
                <td align="center" valign="top">
                    <?= ""; ?>
                </td>
                <td></td>

                <td align="center" valign="top">
                    <?= ""; ?>
                </td>
                <td></td>

                <td align="center" valign="top">
                    <?= ""; ?>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <a href="javascript:void(0)" onclick="modalmoredetail();" style="position: absolute; right: 1%; bottom: 2%;"><i class="fa fa-ellipsis-h"></i></a>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#workflow_process').scrollTo((document.querySelector('#workflow_process').scrollWidth - document.querySelector('#workflow_process').offsetWidth) - 700, 0);
    });

    function modalmoredetail() {
        $('#myModalMoreDetail').modal()
    }
</script>