
	<table border="0" cellpadding="0" cellspacing="0" width="50%" align="left">
		<tbody>
			<tr>
				<td class="filterarea" id="filterarea">
					<b><?php echo $this->language->_('Account Group'); ?>  &gt; <?php echo $this->language->_('Group List'); ?></b><br /><br />
				</td>
			</tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr>
				<th class="filterarea" id="filterarea">
					<?php echo $this->language->_('Edit Account Group'); ?>
				</th>
			</tr>
			<tr>
				<td id="contentarea">
					<form name="addgrouplist" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'editgrouplist'),null,true)?>">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Group ID'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent"><?php echo $this->GROUP_ID.$this->formHidden('GROUP_ID',$this->GROUP_ID)?></td>
							</tr>
							<tr>
								<td class="tbl-evencontent"><?php echo $this->language->_('Group Name'); ?><strong class="formreq"><font color="red">&nbsp;*</font></strong></td>
								<td class="tbl-evencontent"><?php echo $this->formText('GROUPNAME',$this->GROUPNAME,array('size'=>40,'maxlength'=>50,'onkeypress'=>'return noSpecialChar(event);','onkeyup'=>'javascript:this.value = this.value.toUpperCase();'))?></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td class="button-area" id="button-area" colspan="2">
									<div class="formbutton">
										<input class = "inputbtn" type="button" onclick="location.href='/accountgroup/grouplist'" value="<?php echo $this->language->_('Back');?>">
										<input type="submit" value="<?php echo $this->language->_('Submit');?>" name="submit" class="inputbtn"/>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
