<b><?php echo $this->language->_('Account Group'); ?>  &gt; <?php echo $this->language->_('Repair Suggestion'); ?></b><br /><br />
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr>
			<td class="contentarea" id="contentarea">
<form name="Form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
			<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
    <tr>
    	<th width="3%" valign="top"><?php echo $this->language->_('No'); ?></th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>		
		
    </tr>

    <?php
	$counter = 1;
	
    if(count($this->data) > 0)
  {
          $i=0;
          
	  foreach($this->data as $row) {
	  
		$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
		$groupid = $row['GROUP_ID']?$row['GROUP_ID']:'';
		
		echo '<tr>
				<td class="'.$td_css.'">'.$this->formHidden("suggest_id",$this->suggest_id).$counter.'</td>
				<td class="'.$td_css.'">'.$row['ACCT_NO'].'</td>
				<td class="'.$td_css.'">'.$row['ACCT_NAME'].'</td>
				<td class="'.$td_css.'">'.$row['CCY_ID'].'</td>';
				//<td class="'.$td_css.'">'.$this->formText("alias[{$row['ACCT_NO']}]",$row['ACCT_ALIAS_NAME'],array('size'=>'40','onkeyup'=>'javascript:this.value = this.value.toUpperCase();')).'</td>
		echo'	<td class="'.$td_css.'">'.$this->formSelect("group[{$row['ACCT_NO']}]",$groupid,null,$this->group).'</td>
			</tr>';
						
				$i++;
                $counter++;
  	  }
  }
  else {
		echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- No Data --- </td></tr>';
	}
    ?>
</table>
<br />
						<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td colspan="5" >&nbsp;</td></tr>
							<tr>
								<td colspan="5">
									<div id="notesPage">
									<div class="tdform-sub"><?php echo $this->language->_('Notes:'); ?></div>
										<div class="tbl-evencontent">
											<?php echo $this->notes;?> 
										</div>
									</div>
								</td>
							</tr>                                                              
							<tr><td colspan="5" >&nbsp;</td></tr>
							<tr>
								<td class="button-area" id="button-area" colspan="5">
									<div class="formbutton">
										<input class = "inputbtn" type="button" onclick="location.href='/accountgroup/acctgroupchange'" value="Back">
										<input type="submit" value="Repair" name="submit" class="inputbtn"/>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</form>
