<script type="text/javascript">
	function confirmDelete(link) {
		var x = confirm("<?php echo $this->language->_('Are you sure want to delete this template ?'); ?>");
		if (x)
			location.href = link;
	}
</script>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('General'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Privilege Template'); ?>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Detail'); ?>

				</li>
			</ul>
		</div>
	</div>
</div>
<h5><?= $this->language->_('Template Frontend User') ?></h5>
</br>


<form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">
	<!---------------------------------------------------------------------- PRIVILEGE FRONTEND USER ------------------------------------------------------------------------------->
	<div class="table-responsive">

	</div>
	<table width="80%" cellpadding="2" cellspacing="0" border="0" class="table-sm table-striped">
		<th colspan="2">
			<?php echo $this->language->_('Privilege Template Detail'); ?>
		</th>
		<tr>
			<td class="tbl-evencontent" width="20%"><?php echo $this->formLabel('Template Code', $this->language->_('Template Code')); ?></td>
			<td class="tbl-evencontent" width="80%"><?= $this->ftemid ?></td>
		</tr>
		<tr>
			<td class="tbl-evencontent"><?php echo $this->formLabel('Template Name', $this->language->_('Template Name')); ?></td>
			<td class="tbl-evencontent"><?= $this->language->_($this->templatedesc) ?></td>
		</tr>
		<?php if (false) { ?>
			<tr>
				<td class="tbl-evencontent"><?php echo $this->formLabel('Template Group', $this->language->_('Template Group')); ?></td>
				<td class="tbl-evencontent"><?= $this->language->_($this->isbybo[$this->tmplgroup]) ?></td>
			</tr>
		<?php } ?>
		<tr style="display:none">
			<td class="tbl-evencontent"><?php echo $this->formLabel('Template Name', $this->language->_('Securities Company')); ?></td>
			<td class="tbl-evencontent"><?= $this->language->_($this->secure[$this->tmplsecurity]) ?></td>
		</tr>
		<tr>
			<td colspan="2" class="tbl-evencontent">
				<table width="100%" cellpadding="2" cellspacing="0" border="0" class="tableform">
					<!-- <th colspan="2">
						<?php echo $this->language->_('Privilege List'); ?>
					</th> -->
					<tr>
						 <?php
						if ($this->data) {
							echo ' <td class="tbl-oddcontent"><ul>';
							foreach ($this->data as $row) {
								echo '<li style="margin-left:10px;">' . $this->language->_($row['FPRIVI_DESC']) . '</li>';
							}
							echo '</ul></td><tr><td colspan="2" align="left">';
						?> 
							<input type="button" value="<?= $this->language->_('Back') ?>" onClick="window.location.href = '/fprivilagetemplate/';" class="btnwhite hov">
							<?php
							$buttonEdit = $this->url(array('module' => $this->modulename, 'controller' => 'edit', 'action' => 'index', 'ftempid' => $this->ftemid), null, true);
							if ($this->hasPrivilege("PTUD")) {
								$buttonEdit = '<input type="button" class="btngreen hov" value="' . $this->language->_('Edit') . '" onclick="location.href=\'' . $buttonEdit . '\'">';
							} else {
								$buttonEdit = '<input type="button" class="btngreen hov disabled" value="' . $this->language->_('Edit') . '" disabled>';
							}
							$buttonDelete = $this->url(array('module' => $this->modulename, 'controller' => 'delete', 'action' => 'index', 'ftempid' => $this->ftemid), null, true);
							$buttonDelete = '<input type="button" class="btnred hov" value="' . $this->language->_('Delete') . '" onclick="confirmDelete(\'' . $buttonDelete . '\');">';
							echo $buttonDelete . ' ';
							echo $buttonEdit;
							echo '</tr></td>';
							?>

						<?php
						} else {
						?>
							<td class="tbl-oddcontent" align="center"> --- <?php echo $this->language->_('No Data') ?> --- </td>
					</tr><?php } ?>
				
				</table>
			</td>
		</tr>
	</table>
</form>