<div class="tabheader" id="tabheader"><?php echo $this->language->_('Suggestion Detail'); ?> - <?php echo $this->language->_('User'); ?></div>
<?php 
if($this->cust_id){
  
?>
  <table cellpadding="3" cellspacing="0" border="0" class="tableform">
    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Suggestion Detail User'); ?></strong></th></tr>
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('user_id',$this->language->_('User ID')); ?></td>
	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('user_id',$this->user_data['USER_ID']); ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_name',$this->language->_('Name')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('user_name',$this->user_data['USER_NAME']); ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',$this->language->_('Email')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('user_email',$this->user_data['USER_EMAIL']); ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_phone',$this->language->_('Phone')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('user_phone',$this->user_data['USER_PHONE']); ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_mobileno',$this->language->_('Mobile No')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('user_mobileno',$this->user_data['USER_MOBILENO']); ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_division',$this->language->_('Division')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('user_division',$this->user_data['USER_DIVISION']); ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('user_group',$this->language->_('Frontend Group')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('user_group',$this->user_data['FGROUP_NAME']); ?></td>
    </tr>
    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('status',$this->language->_('Status')); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?=$this->changesStatusDesc[$this->changesStatusCode[$this->user_data['USER_STATUS']]]?></td>
    </tr>
  </table>
  <br/>
  <table cellpadding="3" cellspacing="0" border="0" class="tableform">
    <tr><th colspan="3" class="tdform-sub"><b><?php echo $this->language->_('User Maximum Limit'); ?></b></th></tr>
    <tr>
    	<td class="tdform-even">CCY</td>
    	<td class="tdform-even"><?php echo $this->language->_('Max Transaction Limit'); ?></td>
    	<td class="tdform-even"><?php echo $this->language->_('Max Daily Limit'); ?></td>
    </tr>
    <?php 
    $arrTrans = array();
    $arrDaily = array();
    foreach ($this->limitData as $RowLimit){
    	$arrTrans['max_trans'][$RowLimit['LIMIT_CCY']]=($RowLimit['TXN_LIMIT'] != 0)? $RowLimit['TXN_LIMIT'] : '';
    	$arrDaily['max_daily'][$RowLimit['LIMIT_CCY']]=($RowLimit['DAILY_LIMIT'] != 0)? $RowLimit['DAILY_LIMIT'] : '';
    }
    	if(count($this->ccyArr)>0){
    		foreach ($this->ccyArr as $key=>$ccy) {
    ?>
    <tr>
    	<td class="tbl-evencontent"><?=$ccy?></td>
    	<td class="tbl-evencontent" align="right"><?=(isset($arrTrans['max_trans'][$ccy])) ? SGO_Helper_GeneralFunction::displayCurrency($arrTrans['max_trans'][$ccy]) : ''?></td>
    	<td class="tbl-evencontent" align="right"><?=(isset($arrDaily['max_daily'][$ccy])) ? SGO_Helper_GeneralFunction::displayCurrency($arrDaily['max_daily'][$ccy]) : ''?></td>
    </tr>
    <?php 
    		}
    	}
    ?>
  </table>
  <br/>
  <!-- <a href="<?=$this->backURL?>" class="inputbtn">Back</a> -->
  <a href="javascript:window.close();" class="inputbtn">Close</a>
<?php }else{ ?>
<div id="content">- <?php echo $this->language->_('no data'); ?> -</div>
<?php } ?>
