<?php
$optionlist = $this->optionlist;
?>
<script type="text/javascript">
  $(document).ready(function(){
    $('div#sidebar-collapse').click(function(){
        if ( $("#logo-title").is(":visible") ) {
          $("#logo-title").hide();
          $("#logo-titles").hide();
        } else if ( $("#logo-title").is(":hidden") ) {
          $("#logo-title").show();
          $("#logo-titles").show();
        }
      })

    $('#fixTable').fixTableHeader();

    $("#searchtable").keyup(function() {
      var value = this.value.toLowerCase().trim();

      $("#myTable tr").each(function(index) {
          if (!index) return;
          $(this).find("td").each(function() {
              var id = $(this).text().toLowerCase().trim();
              var not_found = (id.indexOf(value) == -1);
              $(this).closest('tr').toggle(!not_found);
              return not_found;
          });
      });
    });
	
	
	$(".tombol-simpan").click(function(){
		$("#loader").fadeOut("slow");
		 var data = $('.form-report').serialize();
		 $.ajax({
		   type: 'GET',
		   url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'addcharges'),null,true)?>",
		   data: data,
		   success: function(data) {
			 $('#predata').html(data);
			 if(data == 'success'){
				window.location.href = '/notification/submited/index'; 
			 }else{
				 alert("Mandatory field must be filled.");
			 }
			 //window.location.href = '/notification/submited/index';
			 // $("#myModalApproval").modal();
		   },
		   error: function(xhr, ajaxOptions, thrownError)
		   {
			   console.info(data);
			   alert("Failed to get column list, please try again");
		   }
		 });
		 $("#myModalApproval").modal();
		});
		
	$(".tombol-delete").click(function(){
		$("#loader").fadeOut("slow");
		 var data = $('.editForm').serialize();
		 $.ajax({
		   type: 'POST',
		   url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'deletecharges'),null,true)?>",
		   data: data,
		   success: function(data) { 
			 $('#predata').html(data);
			 //alert(data);
			 if(data == 'success'){
				window.location.href = '/notification/submited/index'; 
			 }else{
				 alert("Invalid to delete data, please try again");
			 }
			 // $("#myModalApproval").modal();
		   },
		   error: function(xhr, ajaxOptions, thrownError)
		   {
			   console.info(data);
			   alert("Failed to get column list, please try again");
		   }
		 });
		 $("#myModalApproval").modal();
		});
		
		
		$(".tombol-edit").click(function(){
			$("#loader").fadeOut("slow");
		 var data = $('.editForm').serialize();
		 $.ajax({
		   type: 'POST',
		   url: "<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'editcharges'),null,true)?>",
		   data: data,
		   success: function(data) {
			 $('#predata').html(data);
			 //console.log(data);
			 if(data == 'success'){
				window.location.href = '/notification/submited/index'; 
			 }else{
				 alert("Mandatory field must be filled.");
			 }
			 // $("#myModalApproval").modal();
		   },
		   error: function(xhr, ajaxOptions, thrownError)
		   {
			   console.info(data);
			   alert("Failed to get column list, please try again");
		   }
		 });
		 $("#myModalApproval").modal();
		});



});

function modaledit(data){
	var obj = JSON.parse(data);
	console.log(obj);
    $("#myModal").modal();
}

function resetedit(){
	// $('#packagenameedit').val($('#packagenameedittemp').val());
	$('#sknedit').val($('#sknedittemp').val());
	$('#rtgsedit').val($('#rtgsedittemp').val());
	$('#onlineedit').val($('#onlineedittemp').val());
	$('#inhouseedit').val($('#inhouseedittemp').val());
}
</script>
<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Charges'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('Charges Setting'); ?></span>
                    
                  </li>
                  
              </ul>
          </div>
        </div>
</div>
<?php //var_dump($this->view->tempcheck);?>
<div class="row content-box">
  <div class="col-md-12">
    <h5><?=$this->language->_('Charges Setting List')?></h5>

    <form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">




    <?php
    $optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
    foreach($this->filterlist as $row){
    $optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
    }

    ?>
    <div class="row " id="logo-titles" style="margin-left: 0px">
      <?php
      if(!empty($this->wherecol)){
        ?>
        <script type="text/javascript">
          $(document).ready(function(){
          $("#logo-title").show();
        });

        </script>
        <?php
      }
      // print_r($this->wherecol);die;
      foreach ($this->wherecol as $key => $value) {
        ?>
          <div id="searchs" style="width: 100%">
                    <?php
                        $datetype = array('CUST_ID','MONTHLY_FEE_STATUS');
                        $selectlist = array("CUST_NAME","SUGGESTOR","");
                        $index = 0;



                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$ctr?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($value==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]' >

                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'>
                                        <script type="text/javascript">
                                          $(document).ready(function(){
                                          var colval = "#colvalue-s<?=$key?>";
                                          var colomnname = "<?=$value?>";
                                          // var colselect= "<?=$value?>";
                                          var colselect = "colselect-s<?=$key?>";
                          var ncolselect = "#colselect-s<?=$key?>";
                                          if(colomnname == 'CUST_ID'){
                              // alert(<?=$index?>);
                                  $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

                                  var id = $("#tablename").find(":selected").val();
                                  $.ajax({
                                  url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'cust'),null,true)?>",
                                  type: 'GET',
                                  dataType: "html",
                                  data: {
                                      id: '<?=$this->whereval[$key]?>'
                                  },
                                  success: function(data) {
                                      $(ncolselect).html(data);
                                  },
                                  error: function(xhr, ajaxOptions, thrownError)
                                  {
                                      alert("Failed to get where column list, please try again");
                                  }
                              });

                                  $(colselect).val('<?=$this->whereval[$index]?>');
                  
                  

                          }else if(colomnname == 'STATUS'){
                              // alert(<?=$index?>);
                                  $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

                                  var id = $("#tablename").find(":selected").val();
                                  $.ajax({
                                  url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'status'),null,true)?>",
                                  type: 'GET',
                                  dataType: "html",
                                  data: {
                                      id: '<?=$this->whereval[$key]?>'
                                  },
                                  success: function(data) {
                                      $(ncolselect).html(data);
                                  },
                                  error: function(xhr, ajaxOptions, thrownError)
                                  {
                                      alert("Failed to get where column list, please try again");
                                  }
                              });

                                  $(colselect).val('<?=$this->whereval[$index]?>');

                          }
                      });



                                        </script>
                                      <?php
                                          if(in_array($value, $selectlist)){
                                          ?>
                                            <input class='form-control' type='text'  name='whereval[]' value='<?=$this->whereval[$key]?>' style="width:100%"/>
                                          <?php }
                                          if (!in_array($value, $datetype)){
                          // print_r($value);die;
                          $index++;
                        }
                                           ?>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>

                </div>

        <?php
      }
      ?>

    </div>


    <div class="row " id="logo-title" style="display: none">
    <div class="portlet-body form col-md-12">
    <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($val==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>

                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?=$ctr?>'>
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value=''/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    <?php //}}?>
                </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
                <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
                &nbsp;
        <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">


                <br/>


                      <div class="portlet-body form" style="display: none">

                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
                                                            <div class="col-md-4">
                                                            <?php echo $this->formSelect('paymentType',$this->paymentType,array('id'=>'paymentType','class'=>'form-control','onclick'=>'changeTransferType()'), $this->optPayType); ?>
                                                            </div>
                                                            <label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
                                                            <div class="col-md-3">
                                                            <select name = "transferType" id = "transferType" class="form-control">
                                                      <option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
                                                    </select>
                                                            </div>
                                                 </div>

                                                 <div class="form-group row ">

                                                            <div class="col-md-12">
                                                            <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btn btn-success')); ?>&nbsp;
                                                    <input type="button" name="clearfilter" class="btn btn-success" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                                                            </div>
                                                 </div>


                               </div>
                               </div>
            <div class="col-md-4">
            </div>

    </div>
    <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
       <a href="#" class="sidebar-collapse-icon with-animation">
           <?php echo $this->language->_('Advanced Search'); ?>
       </a>
    </div>
  </div>
</div>

    </form>

<div class="form-group">
  <div style="float:right; padding-left:5px;">
        <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                            <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                        </div>
                <input type="text" class="search form-control" id="searchtable" placeholder="Search">
            </div>
    </div>
    <div class="" style="float:left">
        <button class="btn-sm btngreen hov"  type="button" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>&nbsp;<?php echo $this->language->_('Add')?></button>
		<button style="display:none" class="btn-sm btnred hov disabled"  type="button" data-toggle="modal" id="delete_button" data-target="#myModaldelete"><i class="fa fa-trash" disabled></i>&nbsp;<?php echo $this->language->_('Delete')?></button>
    </div>
  <div style="float:right; padding-left:10px;">
    <form name="exportForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post" class="hidden">
     

     
      <!-- <?php echo $this->formSubmit('csv','CSV',array('class'=>'btngreen hov')); ?>&nbsp; -->
      <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa">' ?>&nbsp;
     
      <!-- <button class="btn-sm btngrad hov" onclick="window.print();" type="button"><i class="fa fa-print"></i>&nbsp;<?php echo $this->language->_('Print')?></button> -->
      <?php if(count($this->arrglobal)> $this->applicationSetting['max_page_download_pdf']) {
            echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;'. $this->language->_("Print").'</button>';
        }
        else{
        ?>
            <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print")?></button>&nbsp;
        <?php
        }
        ?>
    </form>
  </div>
</div>

<br>
<br />

<div class="modal fade" id="myModaldelete" role="dialog">
    <div class="modal-dialog ">

      <!-- Modal content-->
      <div class="modal-content">
      <form name="addForm" class="form-report" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post" >
        <div class="modal-body" align="center">
          <h5 class="modal-title" style="text-align:left;">Charges Setting - Delete</h5>
          
          <br>

          <div class="row">
            <div class="col-md-12" align="left" >
            <label class="control-label col-md-12" style="color:red"><?php echo $this->language->_('Are you sure delete this data'); ?>?</label>
            </div>
            
          </div>

		
          

          
         
          <br><br>
          <div class="col-md-12" style="text-align:center">
            <button type="button" class="btnwhite hov btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btngreen hov tombol-delete" name="button">SUBMIT</button>
          </div>
        </div>
        </form>
      </div>

    </div>
  </div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog ">

      <!-- Modal content-->
      <div class="modal-content">
      <form name="addForm" class="form-report" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post" >
        <div class="modal-body" align="center">
          <h5 class="modal-title" style="text-align:left;">Charges Setting - Add</h5>
          
          <br>

          <div class="row">
            <div class="col-md-4" align="left" >
            <label class="control-label col-md-12"><?php echo $this->language->_('Charges ID'); ?></label>
            </div>
            <div class="col-md-8" align="left">
                auto generate
            </div>
          </div>

		
          <div class="row pt-2">
            <div class="col-md-4" align="left" >
            <label class="control-label col-md-12"><?php echo $this->language->_('Package Name'); ?> <span style='color:red;'> *</span></label>
            </div>
            <div class="col-md-8" align="left">
            <?php  echo $this->formText('packagename','',array('size'=>40,'maxlength'=>40,'class'=>'form-control'))?>
            </div>
          </div>
		  
        <?php
          $option = array('maxlength'=>15,
            'size'=>10,
          'class'=>'currency form-control',
          'onfocus'=>'iNumFrmt(this.value,this.id)',
          'onblur'=>'numberWithCommas(this.value,this.id)',
          'onkeypress'=>'return forceCurrencyOCBC(event)');
        ?>
          <div class="row pt-2">
            <div class="col-md-4" align="left" >
            <label class="control-label col-md-12"><?php echo $this->language->_('Inhouse'); ?></label>
            </div>

            <div class="col-sm-8">
              <div class="input-group" id="">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <strong>
                      IDR
                    </strong>
                  </div>
                </div>
                <?php 
              
                  echo $this->formText('inhouseadd',Application_Helper_General::displayMoneyplain($this->arrglobal['GLOBAL']['INHOUSE']),$option); 
                ?>
              </div>
            </div>
          </div>
			
          <div class="row pt-2">
            <div class="col-md-4" align="left" >
            <label class="control-label col-md-12"><?php echo $this->language->_('RTGS'); ?></label>
            </div>

            <div class="col-sm-8">
              <div class="input-group" id="">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <strong>
                      IDR
                    </strong>
                  </div>
                </div>
                <?php 
            
                echo $this->formText('rtgsadd',Application_Helper_General::displayMoneyplain($this->arrglobal['GLOBAL']['RTGS']),$option); ?>
              </div>
            </div>
          </div>
			
          <div class="row pt-2">
            <div class="col-md-4" align="left" >
            <label class="control-label col-md-12"><?php echo $this->language->_('SKN'); ?></label>
            </div>

            <div class="col-sm-8">
              <div class="input-group" id="">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <strong>
                      IDR
                    </strong>
                  </div>
                </div>
                <?php 
            
                  echo $this->formText('sknadd',Application_Helper_General::displayMoneyplain($this->arrglobal['GLOBAL']['SKN']),$option); ?>
              </div>
            </div>
          </div>
			
          <div class="row pt-2">
            <div class="col-md-4" align="left" >
            <label class="control-label col-md-12"><?php echo $this->language->_('Online'); ?></label>
            </div>
            
            <div class="col-sm-8">
              <div class="input-group" id="">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <strong>
                      IDR
                    </strong>
                  </div>
                </div>
                <?php 
              
                  echo $this->formText('onlineadd',Application_Helper_General::displayMoneyplain($this->arrglobal['GLOBAL']['ONLINE']),$option); ?>
              </div>
            </div>
          </div>
          

          
         
          <br><br>
          <div class="col-md-12" style="text-align:center">
            <button type="button" class="btnwhite hov btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btngreen hov tombol-simpan" name="button">SUBMIT</button>
          </div>
        </div>
        </form>
      </div>

    </div>
  </div>
  
  
  <div class="modal fade" id="myModalEdit" role="dialog">
    <div class="modal-dialog ">

      <!-- Modal content-->
      <div class="modal-content">
      <form name="editForm" class="editForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post" >
        <div class="modal-body" align="center">
          <h5 class="modal-title" style="text-align:left;">Charges Setting - Edit</h5>
          
          <br>

          <div class="row">
            <div class="col-md-4" align="left" >
            <label class="control-label col-md-12"><?php echo $this->language->_('Charges ID'); ?></label>
            </div>
            <div class="col-md-8" align="left">
                <span id="chrgesxt"></span>
            </div>
          </div>

		<br/>
          <div class="row">
            <div class="col-md-4" align="left" >
            <label class="control-label col-md-12"><?php echo $this->language->_('Package Name'); ?><span style='color:red;'> *</span></label>
            </div>
            <div class="col-md-8" align="left">
            <?php  
			echo $this->formHidden('package','');
			echo $this->formText('packagenameedit',$this->monthlyfee,array('size'=>40,'maxlength'=>40,'class'=>'form-control', 'readonly'=>'readonly'))?>
            </div>
          </div>
		  <br/>
        <?php
          $option = array('maxlength'=>15,
            'size'=>10,
          'class'=>'currency form-control',
          'onfocus'=>'iNumFrmt(this.value,this.id)',
          'onblur'=>'numberWithCommas(this.value,this.id)',
          'onkeypress'=>'return forceCurrencyOCBC(event)');
        ?>
          <div class="row">
            <div class="col-md-4" align="left" >
            <label class="control-label col-md-12"><?php echo $this->language->_('Inhouse'); ?></label>
            </div>
            <div class="col-sm-8">
              <div class="input-group" id="">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <strong>
                      IDR
                    </strong>
                  </div>
                </div>
                <?php 
                  echo $this->formHidden('inhouseedittemp','');
                  echo $this->formText('inhouseedit',Application_Helper_General::displayMoneyplain($this->inhouseedit),$option); ?>
              </div>
            </div>
          </div>
			<br/>
          <div class="row">
            <div class="col-md-4" align="left" >
            <label class="control-label col-md-12"><?php echo $this->language->_('RTGS'); ?></label>
            </div>
            <div class="col-sm-8">
              <div class="input-group" id="">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <strong>
                      IDR
                    </strong>
                  </div>
                </div>
                <?php 
                  echo $this->formHidden('rtgsedittemp','');
                  echo $this->formText('rtgsedit',Application_Helper_General::displayMoneyplain($this->rtgsedit),$option); ?>
              </div>
            </div>
          </div>
			<br/>
          <div class="row">
            <div class="col-md-4" align="left" >
            <label class="control-label col-md-12"><?php echo $this->language->_('SKN'); ?></label>
            </div>
            <div class="col-sm-8">
              <div class="input-group" id="">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <strong>
                      IDR
                    </strong>
                  </div>
                </div>
                <?php 
                  echo $this->formHidden('sknedittemp','');
                  echo $this->formText('sknedit',Application_Helper_General::displayMoneyplain($this->sknedit),$option); ?>
              </div>
            </div>
          </div>
			<br/>
          <div class="row">
            <div class="col-md-4" align="left" >
            <label class="control-label col-md-12"><?php echo $this->language->_('Online'); ?></label>
            </div>
            <div class="col-sm-8">
              <div class="input-group" id="">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <strong>
                      IDR
                    </strong>
                  </div>
                </div>
                <?php 
                  echo $this->formHidden('onlineedittemp','');
                  echo $this->formText('onlineedit',Application_Helper_General::displayMoneyplain($this->onlineedit),$option); ?>
              </div>
            </div>
          </div>
          

          
         
          <br><br>
          <div class="col-md-12" style="text-align:center">
            <button type="button" class="btnwhite hov btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btnred hov tombol-delete" name="delete">Delete</button>
			<button type="button" class="btnwhite hov btn-default" onclick="resetedit();" >Reset</button>
              <button type="button" class="btngreen hov tombol-edit" name="button">SUBMIT</button>
          </div>
        </div>
        </form>
      </div>

    </div>
  </div>
<div class="portlet-body flip-scroll table-responsive table-fixed"  id="fixTable">

<form name="tableForm" class="form-report tableForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post" >
<table class="table table-sm table-striped" id="myTable">
<thead>
    <tr width="100%"> 
      <!-- <th width="3%" valign="top" class="tablehead"><input name="allCheck[]" onclick="if($(this).is(':checked')){$('.checkall').prop('checked', true);$('#delete_button').prop('disabled', false);$('#disapprove').prop('disabled', false);$('#delete_button').removeClass('disabled');$('#disapprove').removeClass('disabled');}else{$('.checkall').prop('checked', false);$('#delete_button').prop('disabled', 'disabled');$('#disapprove').prop('disabled', 'disabled');$('#delete_button').addClass('disabled');$('#disapprove').addClass('disabled');}" type="checkbox"></th> -->
      <th valign="top" class="tablehead"><?php echo $this->language->_('No'); ?></th>
	  <th valign="top" class="tablehead"><?php echo $this->language->_('Charges ID'); ?></th>
      <th valign="top" class="tablehead"><?php echo $this->language->_('Package Name'); ?></th>
      <th valign="top" class="tablehead"><?php echo $this->language->_('Inhouse'); ?></th>
      <th valign="top" class="tablehead"><?php echo $this->language->_('RTGS'); ?></th>
      <th valign="top" class="tablehead"><?php echo $this->language->_('SKN'); ?></th>
      <th valign="top" class="tablehead"><?php echo $this->language->_('Online'); ?></th>
      <th valign="top" class="tablehead"><?php echo $this->language->_('Lastest Suggested'); ?></th>
      <th valign="top" class="tablehead"><?php echo $this->language->_('Lastest Approved'); ?></th>
      </tr>
    </thead>
    <tbody>
       <?php
  $counter = 1;

    if(count($this->arrglobal) > 0)
    { 
          $i=0;
          require_once 'Crypt/AESMYSQL.php';
          $AESMYSQL = new Crypt_AESMYSQL();
          $rand = $this->token;//
	//	  echo '<pre>';
//var_dump($this->arrglobal);die;
		$no = 1;
        foreach($this->arrglobal as $key => $row)
        {
		if($key != ''){
        $td_css = ($counter%2==0)?'tbl-evencontent':'tbl-oddcontent';
		if($key == 'GLOBAL'){
			$checkBox = '';
		}else{
			$checkBox =  "<input name='custlist[]' type='checkbox'  class='checkall' value='" . $key . "'>";
		}
		//$package = "'.$row['PACKAGE_NAME'].'","'.Application_Helper_General::displayMoneyplain($row['INHOUSE']).'"
		$modalurl = json_encode($row);
        echo '<tr>
          <td class="'.$td_css.'">'.$counter.'</td>';
		  ?>
		  
		  <td class="<?php echo $td_css ?>">
		  <?php if($row['EDIT']){ ?>
		  <a href="#" onclick="<?php if($row['PACKAGE_NAME'] != 'GLOBAL'){ ?>$('#packagenameedit').attr('readonly', false);$('.tombol-delete').show(); <?php }else{ ?> $('.tombol-delete').hide(); $('#packagenameedit').attr('readonly', true);<?php } ?>
		  $('#packagenameedittemp').val('<?php echo $row['PACKAGE_NAME']; ?>');$('#onlineedittemp').val('<?php echo Application_Helper_General::displayMoneyplain($row['ONLINE']) ?>');$('#sknedittemp').val('<?php echo Application_Helper_General::displayMoneyplain($row['SKN']) ?>');$('#rtgsedittemp').val('<?php echo Application_Helper_General::displayMoneyplain($row['RTGS']) ?>');$('#inhouseedittemp').val('<?php echo Application_Helper_General::displayMoneyplain($row['INHOUSE']) ?>');
		  $('#packagenameedit').val('<?php echo $row['PACKAGE_NAME']; ?>');$('#onlineedit').val('<?php echo Application_Helper_General::displayMoneyplain($row['ONLINE']) ?>');$('#sknedit').val('<?php echo Application_Helper_General::displayMoneyplain($row['SKN']) ?>');$('#rtgsedit').val('<?php echo Application_Helper_General::displayMoneyplain($row['RTGS']) ?>');$('#inhouseedit').val('<?php echo Application_Helper_General::displayMoneyplain($row['INHOUSE']) ?>');$('#package').val('<?php echo $key ?>');$('#chrgesxt').text('<?php echo $key ?>');$('#myModalEdit').modal();"><?php echo $key; ?></a>
		  <?php }else{ ?>
		  <?php echo $key; ?>
		  <?php } ?>
		  </td>
       
	   <?php
	   echo '<td class="'.$td_css.'">'.$row['PACKAGE_NAME'].'</td>';   
	   echo '<td class="'.$td_css.'">'.Application_Helper_General::displayMoneyplain($row['INHOUSE']).'</td>';   
	   echo '<td class="'.$td_css.'">'.Application_Helper_General::displayMoneyplain($row['RTGS']).'</td>';   
	   echo '<td class="'.$td_css.'">'.Application_Helper_General::displayMoneyplain($row['SKN']).'</td>';   
	   echo '<td class="'.$td_css.'">'.Application_Helper_General::displayMoneyplain($row['ONLINE']).'</td>';   
	   echo '<td class="'.$td_css.'">'.$row['SUGGESTED'].'</td>';   
	   echo '<td class="'.$td_css.'">'.$row['APPROVED'].'</td>';   
		echo '<tr>';  
		 $counter++; 
		 }
		} 
  }
  else
  {
     echo '<tr><td colspan=11 class="tbl-evencontent" align="center"> - '.$this->language->_('No Data').' - </td></tr>';
  }
?>
    
  </tbody>
</table>
</form>

</div>

<br />



<script type="text/javascript">
function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
$(document).ready(function(){

$("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-"+ctr+"' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>"+optstr+"</select></div><div style='display:none'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-"+ctr+"'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);
    });
});
  function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
  var $coll = $( '.event_select' );
    $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });

    $(colval).empty();
    if(colomnname == 'SUGEST_DATE'  ){
        $(colval).append("<input type='text' class='form-control'  name='sugestdate[]' id='sugestStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='sugestdate[]' id='sugestEnd' readonly required>");
                                                $('#sugestStart').datepicker({
                                                    format: 'dd/mm/yyyy',
                                                    uiLibrary: 'bootstrap4'
                                                });
                                                $('#sugestEnd').datepicker({
                                                    format: 'dd/mm/yyyy',
                                                    uiLibrary: 'bootstrap4'
                                                });

    }else if(colomnname == 'COMP_CODE'){

            $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'cust'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'STATUS'){

            $(colval).append("<select class='form-control' id='"+colselect+"' style='width:100%' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'status'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });
// paytype
    }else{
         $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>
<script type="text/javascript">


function modalclose(elem){

    $("#myModal").modal('hide');
    $('.modal-backdrop').css({"position":"unset" });
}

$(document).ready(function(){

//   $(function() {
//     $("#myModal").modal();
// });
$('#chooseFile').bind('change', function () {
  var filename = $("#chooseFile").val();
  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("No file chosen...");
  }
  else {
    $(".file-upload").addClass('active');
    $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
  }
});


   $('#myModal').on('shown.bs.modal', function(){
      $('.blur').css({"filter":"blur(10px)" });
    }).on('hidden.bs.modal', function(){
      $('.blur').css({"filter":"" });
    })


});

$(".checklist").on("click",function(){
    if ($(this).is(":checked")) {
      //
	  $("#delete_button").removeAttr("disabled");
      $("#delete_button").removeClass("disabled",true);
    }else{
      //
	  $("#delete_button").attr("disabled",true);
      $("#delete_button").addClass("disabled");
    }
});

function checkAll()
{
    $(".checklist").prop("checked", true);
}

function uncheckAll()
{
    $(".checklist").prop("checked", false);
}

function numberWithCommas(x,id) {
	const formattermoney = new Intl.NumberFormat('ID', {
		minimumFractionDigits: 0
	});
	var tag = '#'+id;
		// $(nams).text(formattermoney.format(obj[k].BALANCE));
	var x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		$(tag).val(x);
//return 
}
</script>
