<script type="text/javascript">
    function doTransfer(area_name)
	{
		if($('[name=user_service_area]',window.opener.document).length){
			var ctr = window.opener.document.Form.user_service_area.options.length;
			window.opener.document.Form.user_service_area.options[ctr] = new Option(area_name,area_name);
		}
		else{
			window.opener.location.reload();
		}
	  	opener.focus();
	  	self.close();
	}
</script>
<table align = "CENTER" border="0" cellpadding="8" cellspacing="8" width="50%">
	<tbody>
		<tr>
			<td align="center">
				<div id="box_outer">
					<div class="tbl-evencontent">
						<p></p><h2><?php echo $this->language->_('Process Success');?></h2><p></p>
						<p align="center">
						<input type="button" class="btngreen hov" onclick="javascript:doTransfer('<?=$this->area_name?>');" value="<?php echo $this->language->_('Close');?>">
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>