<script type="text/javascript">
    $(document).ready(function() {

        $('#updateStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#updateEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });

        $('#expiredStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#expiredEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });

        $('#binSelect').change(function(){

            var bin = $(this).val();

            binChange(bin);

        });

        <?php if ($this->filter) { ?>
            $('#fixTable').fixTableHeader();

            $('#binSelect').val('<?php echo $this->bin; ?>');
            binChange('<?php echo $this->bin; ?>');
        <?php } ?>

    });

    function binChange(bin){

        if (bin != '') {
            var dataString = 'bin=' + bin;

            $.ajax({
                type: "GET",
                data: dataString,
                url: "<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'bincheck'), null, true) ?>",
                success: function(data) {

                    var html = '<option value="">-- Any Value --</option>';
                    //static
                    if (data.trim() != 0) {
                        // alert('static');
                        html += '<option value="VA_NUMBER">VA_NUMBER</option>';
                        html += '<option value="CCY">CCY</option>';
                        html += '<option value="TOTAL_BILL_AMOUNT">TOTAL_BILL_AMOUNT</option>';
                        html += '<option value="PAID_AMOUNT">PAID_AMOUNT</option>';
                        html += '<option value="SETTLED_WITH_REMARK">SETTLED_WITH_REMARK</option>';
                        html += '<option value="UNSETTLED_AMOUNT">UNSETTLED_AMOUNT</option>';
                        html += '<option value="AVAILABLE_CREDIT">AVAILABLE_CREDIT</option>';
                        html += '<option value="IN_BILLING">IN_BILLING</option>';
                        html += '<option value="STATUS">STATUS</option>';
                        html += '<option value="LAST_UPDATED">LAST_UPDATED</option>';


                        $('.event_select').html(html);
                    }
                    //dynamic
                    else{
                        // alert('dynamic');
                        html += '<option value="VA_NUMBER">VA_NUMBER</option>';
                        html += '<option value="VA_NAME">VA_NAME</option>';
                        html += '<option value="CCY">CCY</option>';
                        html += '<option value="PAID_AMOUNT">PAID_AMOUNT</option>';
                        html += '<option value="LAST_UPDATED">LAST_UPDATED</option>';
                        html += '<option value="EXPIRED_DATE">EXPIRED_DATE</option>';
                        html += '<option value="STATUS">STATUS</option>';
                        html += '<option value="DESC">DESC</option>';

                        $('.event_select').html(html);
                    }

                    $('#vatype').val(data.trim());
                  
                },
                error: function(data) {
                    alert('Failed to get data, Please try again');
                }
            });
        }
    }

    function checkChange(selected){

        if ($('#checkall').is(':checked')) {
            $('#checkall').prop('checked', false);
        }

        if( $('input[name="binid[]"]:checked').length > 0){
          $('#btnDelete').prop('disabled', false);
          $('#btnDelete').removeClass('disabled');

          var status = $(selected).data('status');
          console.log(status);

          if (status == 1) {
            $('#btnClose').prop('disabled', false);
            $('#btnClose').removeClass('disabled');

            $('#btnOpen').prop('disabled', true);
            $('#btnOpen').addClass('disabled');

             $('input[name="binid[]"]:checked').each(function () {
                var status = $(this).data('status');

                if (status == 2) {
                    $(this).prop('checked', false);
                }
            });

          } else if (status == 2) {
            $('#btnClose').prop('disabled', true);
            $('#btnClose').addClass('disabled');

            $('#btnOpen').prop('disabled', false);
            $('#btnOpen').removeClass('disabled');

            $('input[name="binid[]"]:checked').each(function () {
                var status = $(this).data('status');

                console.log(status);

                if (status == 1) {
                    $(this).prop('checked', false);
                }
            });
          }
        }
        else{
          $('#checkall').prop('checked', false);
          $('#btnDelete').prop('disabled', true);
          $('#btnDelete').addClass('disabled');

          $('#btnClose').prop('disabled', true);
          $('#btnClose').addClass('disabled');

          $('#btnOpen').prop('disabled', true);
          $('#btnOpen').addClass('disabled');
        }
    }
</script>

<?php

$counter = (($this->currentPage - 1) * $this->paginator->getItemCountPerPage()) + 1;
?>

<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?php echo $this->language->_('Virtual Account'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span class="valas"><?php echo $this->language->_('eCollection'); ?></span>
                </li>
            </ul>
        </div>
    </div>
</div>

 <?php if ($this->success) { ?>
    <div class="successmsg"><?= $this->customer_msg ?></div><br />
<?php } else if ($this->error) { ?>
    <div class="errmsg"><?= $this->customer_msg ?></div><br />
<?php } ?>

<div class="row content-box">
    <div class="portlet-body form col-md-12">
        <h5><?= $this->language->_('eCollection') ?></h5>
        <form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => 'binecollection', 'action' => 'index'), null, true) ?>" method="get">
            <?php
            $optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
            foreach ($this->filterlist as $row) {
                $optArr .=  '<option value="' . $row . '" >' . $this->language->_($row) . '</option>';
            }

            ?>
            <div class="row " id="logo-titles" style="margin-left: 0px">
                <div style="width: 100%">
                    <div class="form-group row mt-12">
                        <div class="col-md-4">
                            <!-- <select class='form-control'>
                                <option value="bin" selected>BIN</option>
                            </select> -->
														<input type="text" name="bin" id="bin" class='form-control' placeholder="BIN" readonly >
                        </div>
                        <div class="col-md-6">
                            <select name="BIN" class='form-control' id="binSelect">
                                <?php echo $this->optBin; ?>
                            </select>
                            <input type="hidden" name="vatype" id="vatype" value="<?php $this->vatype; ?>">
                        </div>
                    </div>
                </div>
                <?php
                // echo "<pre>";
                // print_r($this->wherecol);die;
                $index = 0;
                foreach ($this->wherecol as $key => $value) {
                ?>
                    <div id="searchs" style="width: 100%">
                        <?php
                        $datetype = array("LAST_UPDATED", "EXPIRED_DATE");
                        $selectlist = array('CCY','TOTAL_BILL_AMOUNT', 'PAID_AMOUNT', 'SETTLE_WITH_REMARK', 'UNSETTLED_AMOUNT', 'AVAILABLE_CREDIT', 'IN_BILLING', 'STATUS', 'DESC');
                        ?>
                        <div id="where-<?= $key ?>">
                            <div class="form-group row mt-12">
                                <div class="col-md-4 form-inline">
                                    <select class='form-control' id="wherecol-<?= $key ?>" name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                        <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                        <?php

                                        foreach ($this->filterlist as $row) {
                                            $colname = $row;
                                            if ($value == $colname) {
                                                $selected = "selected";
                                            } else {
                                                $selected = "";
                                            }
                                        ?>
                                            <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col" style="display: none">
                                    <select class='form-control' id='whereopt-<?= $key ?>' name='whereopt[]'>

                                        <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                        <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                            <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
                                        <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col-md-6 form-inline" id='colvalue-<?= $key ?>'>
                                    <script type="text/javascript">
                                        $(document).ready(function() {
                                            var colval = "#colvalue-<?= $key ?>";
                                            var colomnname = "<?= $value ?>";
                                            // console.log("<?= $value ?>");
                                            // var colselect= "<?= $value ?>";
                                            var colselect = "colselect-<?= $key ?>";
                                            var ncolselect = "#colselect-<?= $key ?>";

                                            if (colomnname == 'TOTAL_BILL_AMOUNT' || colomnname == 'PAID_AMOUNT' || colomnname == 'SETTLE_WITH_REMARK' || colomnname == 'UNSETTLED_AMOUNT' || colomnname == 'AVAILABLE_CREDIT' || colomnname == 'IN_BILLING') {
                                                $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='<?= $this->whereval[$index] ?>' maxlength='20' autocomplete='off' id='" + colselect + "' class='form-control' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
                                                $(colselect).val('<?= $this->whereval[$index] ?>');

                                            } else if (colomnname == 'BIN') {

                                                $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

                                                var id = $("#tablename").find(":selected").val();

                                                <?php 
                                                    $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'custbin'), null, true);
                                                ?>

                                                $.ajax({
                                                    url: "<?= $url ?>",
                                                    type: 'GET',
                                                    dataType: "html",
                                                    data: {
                                                        id: '<?= $this->whereval[$index] ?>'
                                                    },
                                                    success: function(data) {
                                                        $(ncolselect).html(data);
                                                    },
                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                        alert("Failed to get where column list, please try again");
                                                    }
                                                });
                                                $(colselect).val('<?= $this->whereval[$index] ?>');

                                            }
                                        });
                                    </script>
                                    <?php
                                    if ($value == 'LAST_UPDATED') {
                                    ?>
                                        <input type='text' class='form-control' name='updatedate[]' id='updatedStart' readonly value="<?= $this->updatedStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='updateEnd' value="<?= $this->updatedEnd ?>" readonly required>
                                    <?php
                                    }else if ($value == 'EXPIRED_DATE') {
                                    ?>
                                        <input type='text' class='form-control' name='expireddate[]' id='expiredStart' readonly value="<?= $this->expiredStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='expireddate[]' id='expiredEnd' value="<?= $this->expiredEnd ?>" readonly required>
                                    <?php
                                    } else if (!in_array($value, $selectlist)) {
                                    ?>
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?= $this->whereval[$index] ?>' />
                                    <?php }
                                    if (!in_array($value, $datetype)) {
                                        // print_r($value);die;
                                        $index++;
                                    }
                                    ?>
                                </div>
                                <div class="col-md-2 form-inline">
                                    <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>

                <?php
                }
                ?>

            </div>


            <div class="row " id="logo-title">
                <div class="portlet-body form col-md-12">
                    <div id="wheres" style="width: 100%">
                        <div id="where-<?= $key + 1 ?>">
                            <!-- <div class="form-group row mt-12">
                                <div class="col-md-4 form-inline">
                                    <select class='form-control event_select' style='width:100%' id='wherecol-<?= $key + 1 ?>' name='wherecol[]' onchange='getOpt(this)'>
                                        <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                        <?php

                                        foreach ($this->filterlist as $row) {
                                            $colname = $row;
                                            if ($val == $colname) {
                                                $selected = "selected";
                                            } else {
                                                $selected = "";
                                            }
                                        ?>
                                            <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col" style="display: none">
                                    <select class='form-control' id='whereopt-<?= $key + 1 ?>' name='whereopt[]'>

                                        <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key + 1] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key + 1] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key + 1] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key + 1] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                        <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key + 1] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                            <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
                                        <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key + 1] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key + 1] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key + 1] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key + 1] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col-md-6 form-inline" id='colvalue-<?= $key + 1 ?>'>
                                    <input class='form-control' type='text' style='width:100%' name='whereval[]' />
                                </div>
                                <div class="col-md-2 form-inline">
                                    <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                </div>
                            </div> -->
                        </div>
                        <?php //}}
                        ?>
                    </div>
                    <input type="hidden" id="wherectr" value="<?= $key + 2 ?>" />
                    <br />
                    <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                    &nbsp;
                    <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
                    &nbsp;
                    <br />

                </div>
                <div class="col-md-4">
                </div>

            </div>
        </form>

    </div>
</div>

<?php if ($this->filter) { ?>
<div class="row">
    <div class="col-md-12">
        <br />

        <div class="form-group">
            <div style="float:left">
                <?php
                $buttonNew = $this->url(array('module' => $this->modulename, 'controller' => 'newecollection', 'action' => 'index', 'BIN' => $this->bin, 'vatype' => $this->vatype ), null, true);
                //$buttonNewHelp = $this->url(array('module'=>'createnewhelp','controller'=>'index','action'=>'index'),null,true);
                // echo $buttonNew = '<a href="'.$buttonNew.'" class="inputbtn">Create New Customer</a>';
                ?>
               <button type="button" class="btn-sm btngrad hov" onclick="location.href='<?php echo $buttonNew; ?>'"><i class="fa fa-plus"></i>&nbsp;<?php echo $this->language->_('Add') ?></button>
            </div>
            <div style="float:right; padding-left:5px;">
                <form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => 'binecollection', 'action' => 'index'), null, true) ?> method="post">
                    <div class="input-group input-group-sm">
                        <!-- <?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) { ?> -->
                        <!-- <?php echo $this->formSubmit('pdf', $this->language->_('PDF is too large (function is disabled)'), array('class' => 'btnwhite disabled', 'disabled' => 'disabled')); ?> -->
                        <!-- <?php echo '<input type="submit" value="&#xf1c1; PDF is too large (function is disabled)" name="pdf" id="pdf" class="fa disabled" disabled="disabled">'; ?>&nbsp; -->
                        <!-- <?php } else { ?> -->
                        <!-- <?php echo $this->formSubmit('pdf', 'PDF', array('class' => 'btngreen hov')); ?> -->
                        <!-- <?php echo '<input type="submit" value="&#xf1c1; PDF" name="pdf" id="pdf" class="fa">'; ?>&nbsp; -->
                        <!-- <?php } ?> -->

                        <?php if (($this->paginator->getTotalItemCount()) > $this->applicationSetting['max_row_download_csv']) { ?>
                            <!-- <?php echo $this->formSubmit('csv', 'CSV is too large (function is disabled)', array('class' => 'btnwhite disabled', 'disabled' => 'disabled')); ?>&nbsp; -->
                            <?php echo '<input type="submit" value="&#xf6dd CSV is too large (function is disabled)" name="csv" id="csv" class="fa disabled" disabled="disabled">' ?>&nbsp;
                        <?php } else { ?>
                            <!-- <?php echo $this->formSubmit('csv', 'CSV', array('class' => 'btngreen hov')); ?>&nbsp; -->
                            <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa">' ?>&nbsp;
                        <?php } ?>
                        <!--        <input class="inputbtn" value="<?php echo $this->language->_('Print') ?>" onclick="window.print();" type="button">-->
                        <?php if(count($this->paginator)> 100) {
                        echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;'. $this->language->_("Print").'</button>';
                        }
                        else{
                        ?> 
                        <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print")?></button>&nbsp;
                        <?php
                        }
                        ?>
                        <div class="input-group-prepend">
                            <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="search form-control" placeholder="Search">
                    </div>
                </form>

            </div>
        </div>
        <br>
        <div>

        </div>

        <br />
            <form name="exportForm" <?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?> method="post">
            <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th width="5%" class="tablehead">
                                <input name="allCheck[]" id="checkall" onclick="if($(this).is(':checked')){$('.checkall').prop('checked', true);$('#btnDelete').prop('disabled', false);$('#btnDelete').removeClass('disabled');$('#btnOpen').prop('disabled', true);$('#btnOpen').addClass('disabled');$('#btnClose').prop('disabled', true);$('#btnClose').addClass('disabled');}else{$('.checkall').prop('checked', false);$('#btnDelete').prop('disabled', true);$('#btnDelete').addClass('disabled');}" type="checkbox">
                            </th>
                            <?php echo $this->partial(
                                'tableheader.phtml',
                                array(
                                    'fields' => $this->fields,
                                    'sortBy' => $this->sortBy,
                                    'sortDir' => $this->sortDir,
                                    'query_string_params' => $this->query_string_params
                                )
                            ) ?>
                            <!-- <th valign="top" class="tablehead"><?php echo $this->language->_('Action') ?></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        if (count($this->paginator)) {
                            $i = 0;
                            require_once 'Crypt/AESMYSQL.php';
                            $AESMYSQL = new Crypt_AESMYSQL();
                            $rand = $this->token;

                            foreach ($this->paginator as $row) {
                                $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

                                $encrypted_custid = $AESMYSQL->encrypt($row['CUST_ID'], $rand);
                                $enccustid = urlencode($encrypted_custid);

                                $encrypted_custbin = $AESMYSQL->encrypt($row['CUST_BIN'], $rand);
                                $enccustbin = urlencode($encrypted_custbin);

                                $encrypted_vanumber = $AESMYSQL->encrypt($row['VANUMBER'], $rand);
                                $encvanumber = urlencode($encrypted_vanumber);

                                

                                 $checkBox = "<input name='binid[]' type='checkbox' class='checkall' onclick='checkChange(this)' value='".$row['CUST_ID']."-".$row['CUST_BIN']."-".$row['VANUMBER']."' data-status='".$row['VASTATUS']."'>";
                             
                                //static
                                if ($this->vatype != '0') {

                                    $buttonDetail = $this->url(array('module' => $this->modulename, 'controller' => 'binecollectiondetail', 'action' => 'index', 'cust_id' => $enccustid, 'cust_bin' => $enccustbin, 'va_number' => $encvanumber), null, true);
                                    $buttonDetail = '<a href="' . $buttonDetail . '">' . $row['VA_NAME'] . '</a>';

                                    echo '<tr>
                                        <td class="' . $td_css . '">' . $checkBox . '</td>
                                        <td class="' . $td_css . '" width="12%">' . $row['VA_NUMBER'] . '<br>('.$buttonDetail.')</td>
                                        <td class="' . $td_css . '" width="3%">' .$row['DOC']. '</td>
                                        <td class="' . $td_css . '">' . $row['CCY'] . '</td>
                                        <td class="' . $td_css . '">' . Application_Helper_General::displayMoney($row['TOTAL_BILL_AMOUNT']) . '</td>
                                        <td class="' . $td_css . '">' . Application_Helper_General::displayMoney($row['PAID_AMOUNT']) . '</td>
                                        <td class="' . $td_css . '">' . Application_Helper_General::displayMoney($row['SETTLED_WITH_REMARK']) . '</td>
                                        <td class="' . $td_css . '">' . Application_Helper_General::displayMoney($row['UNSETTLED_AMOUNT']) . '</td>
                                        <td class="' . $td_css . '">' . Application_Helper_General::displayMoney($row['AVAILABLE_CREDIT']) . '</td>
                                        <td class="' . $td_css . '">' . Application_Helper_General::displayMoney($row['IN_BILLING']) . '</td>
                                        <td class="' . $td_css . '">' . Application_Helper_General::convertDate($row['UPDATED_DATE'], $this->displayDateTimeFormat, $this->defaultDateFormat) . ' (' . $row['UPDATED_BY'] . ')</td>
                                        <td class="' . $td_css . '">' . $row['VA_STATUS'] . '</td>
                                    </tr>';
                                }
                                else{

                                    $buttonDetail = "'".$this->url(array('module' => $this->modulename, 'controller' => 'binecollectiondetail', 'action' => 'vadetail', 'cust_bin' => $row['CUST_BIN'], 'va_id' => $row['VANUMBER'], 'type' => 'dynamic'), null, true)."'";
                                    $buttonDetail = '<a href="javascript:openwindow(' . $buttonDetail . ',640,580);">' . $row['VA_NAME'] . '</a>';

                                    echo '<tr>
                                        <td class="' . $td_css . '">' . $checkBox . '</td>
                                        <td class="' . $td_css . '">' . $row['VANUMBER'].'</td>
                                        <td class="' . $td_css . '">' . $buttonDetail.'</td>
                                        <td class="' . $td_css . '">' . $row['CCY'] . '</td>
                                        <td class="' . $td_css . '">' . Application_Helper_General::displayMoney($row['BILL_AMOUNT']) . '</td>
                                        <td class="' . $td_css . '">' . Application_Helper_General::displayMoney($row['PAID_AMOUNT']) . '</td>
                                        <td class="' . $td_css . '">' . Application_Helper_General::convertDate($row['EXP_DATE'], $this->displayDateTimeFormat, $this->defaultDateFormat) . '</td>
                                        <td class="' . $td_css . '">' . Application_Helper_General::convertDate($row['UPDATED_DATE'], $this->displayDateTimeFormat, $this->defaultDateFormat) . ' (' . $row['UPDATED_BY'] . ')</td>
                                        <td class="' . $td_css . '">' . $row['VA_STATUS'] . '</td>
                                        <td class="' . $td_css . '">' . $row['DOC_STATUS'] . '</td>
                                    </tr>';
                                }

                               
                                $i++;
                                $counter++;
                            }
                        } else {
                            echo '<tr><td colspan="12" class="tbl-evencontent" align="center">' . $this->language->_('No Data') . '</td></tr>';
                        }
                        ?>
                    </tbody>
                </table>
            </div>

            <br />
            <div align="right"><?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?></div>

            <div class="col-md-12" align="center">
                <input type="submit" name="delete" class="btnwhite disabled hov mt-1" id="btnDelete" value="DELETE" disabled>
                <input type="submit" name="close" class="btngreen disabled hov mt-1" id="btnClose" value="Close" disabled>
                <input type="submit" name="open" class="btngreen disabled hov mt-1" id="btnOpen" value="Open" disabled>
            </div>

            </form> 
    </div>
</div>

<?php } ?>

<script type="text/javascript">
    function removeParent(elem) {
        var parentname = elem.parentNode.parentNode.parentNode.id;
        $("#" + parentname).remove();
    }
    $(document).ready(function() {

        $("#addwhere").click(function() {
            var ctr = $("#wherectr").val();
            var optstr = '<?php echo $optArr; ?>';
            var wherecol = "#wherecol-" + ctr;

            var vatype = $('#vatypeSelect').val();

            var data = '<option value="">-- Any Value --</option>';
            if (vatype != 0) {
                data += '<option value="VA_NUMBER">VA_NUMBER</option>';
                data += '<option value="CCY">CCY</option>';
                data += '<option value="PAID_AMOUNT">PAID_AMOUNT</option>';
                data += '<option value="SETTLED_WITH_REMARK">SETTLED_WITH_REMARK</option>';
                data += '<option value="UNSETTLED_AMOUNT">UNSETTLED_AMOUNT</option>';
                data += '<option value="AVAILABLE_CREDIT">AVAILABLE_CREDIT</option>';
                data += '<option value="IN_BILLING">IN_BILLING</option>';
                data += '<option value="STATUS">STATUS</option>';
                data += '<option value="LAST_UPDATED">LAST_UPDATED</option>';
            }
            else{
                data += '<option value="VA_NUMBER">VA_NUMBER</option>';
                data += '<option value="VA_NAME">VA_NAME</option>';
                data += '<option value="CCY">CCY</option>';
                data += '<option value="PAID_AMOUNT">PAID_AMOUNT</option>';
                data += '<option value="LAST_UPDATED">LAST_UPDATED</option>';
                data += '<option value="EXPIRED_DATE">EXPIRED_DATE</option>';
                data += '<option value="STATUS">STATUS</option>';
                data += '<option value="DESC">DESC</option>';
            }

            var optstr = data;

            $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" + ctr + "' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
            ctr++;
            $("#wherectr").val(ctr);
        });
    });

    function getOpt(elem) {
        var id = elem.id;
        var temp = id.split('-');
        var ctr = temp[1];

        var selval = elem.value;
        var tempval = selval.split('-');
        dttype = tempval[1];

        colomnname = tempval[0];
        var colval = "#colvalue-" + ctr;
        var colselect = "colselect-" + ctr;
        var ncolselect = "#colselect-" + ctr;
        var $coll = $('.event_select');
        $coll.children().prop('disabled', false);
        $coll.each(function() {
            var val = this.value;
            if (val === 'original') return;
            $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
        });

        $(colval).empty();

        if (colomnname == 'TOTAL_BILL_AMOUNT' || colomnname == 'PAID_AMOUNT' || colomnname == 'SETTLE_WITH_REMARK' || colomnname == 'UNSETTLED_AMOUNT' || colomnname == 'AVAILABLE_CREDIT' || colomnname == 'IN_BILLING') {
            $(colval).append("<input type='text' name='whereval[]'  value='' style='width:100%' maxlength='20' autocomplete='off' class='form-control' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
        }
        else if (colomnname == 'LAST_UPDATED') {
            $(colval).append("<input type='text' class='form-control'  name='updatedate[]' id='updateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='updateEnd' readonly required>");

            $('#updateStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#updateEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
        } 
        else if (colomnname == 'EXPIRED_DATE') {
            $(colval).append("<input type='text' class='form-control'  name='expireddate[]' id='expiredStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='expireddate[]' id='expiredEnd' readonly required>");

             $('#expiredStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#expiredEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
        } 
        else if (colomnname == 'COMPANY') {

            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'cust'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else if (colomnname == 'BIN') {
            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'custbin'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else {
            $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
        }

        var optsel = "whereopt-" + ctr;
        document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

        if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
            document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }
        if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
        } else if (dttype == 'date' || dttype == 'datetime') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }

        var colomn = '#whereopt-' + ctr;
        var data = $(colomn).val('EQUAL').change();

    }
</script>