<script type="text/javascript">
$(document).ready(function(){
	$('#fixTable').fixTableHeader();
});
</script>

<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span>Account Information</span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    <li>
                        <span class="valas" ><?=$this->language->_('Kurs E-Rate')?></span>
                        
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
<div class="card">
	<h5><?php echo $this->language->_('Kurs E-Rate'); ?></h5>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		
		<tbody>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td><?= date('d M Y H:i') . ' WIB'?></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>
				    <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
						<table class="table table-sm table-striped">
					<?php $nodata = $this->language->_('No Data');?>
					<thead>
					<tr class="headercolor">
						<?php 
							echo $this->partial('tableheader.phtml',array(
																			'fields' => $this->fields,
																			'sortBy' => $this->sortBy,
																			'sortDir' => $this->sortDir,
																			'query_string_params' => $this->query_string_params
																		)
												);
						?>
					</tr>
					</thead>
					<tbody>
					<?php				

						if (count ( $this->resultdata ) > 0) 
						{
							$i = 0;
							foreach ( $this->resultdata as $row ) {
								$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
								echo '<tr>
										<td class="'.$td_css.'">'.$row['currency'].'</td>
										<td class="'.$td_css.'">'.$row['sell'].'</td>
										<td class="'.$td_css.'">'.$row['buy'].'</td>
									</tr>';
									// echo '<tr>
									// 	<td class="'.$td_css.'">'.$row['currency'].'</td>
									// 	<td class="'.$td_css.'">'.$row['sell'].'</td>
									// 	<td class="'.$td_css.'">'.$row['buy'].'</td>
									// </tr>';
									// echo '<tr>
									// 	<td class="'.$td_css.'">'.$row['currency'].'</td>
									// 	<td class="'.$td_css.'">'.$row['sell'].'</td>
									// 	<td class="'.$td_css.'">'.$row['buy'].'</td>
									// </tr>';
								$i++;
							}
						}
						else 
						{
							echo '<tr><td colspan=3 class="tbl-evencontent" align="center"> --- '.$nodata.' --- </td></tr>';
						}
						?>
						</tbody>
					</table>
					</div>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
		</tbody>
	</table>
</div>

