<b><?=$this->language->_($this->titleCaption);?> > <?php echo $this->language->_('Virtual Payment Transaction'); ?></b><br /><br />

<?php 
$this->jqueryDateFormat = 'yy-mm-dd';

//Zend_Debug::dump($this->data);
//die("123");

?>

<form name="filterForm" action="<?php echo $this->url(array('page' => '1')); ?>" method="get">
	<table cellpadding="3" cellspacing="0" border="0" >
		<tr><th colspan="7" class="tdform-sub"><strong><?php echo $this->language->_('Filter'); ?></strong></th></tr>

		<tr>
			<td class="tbl-evencontent" colspan="2"><?php echo $this->formLabel('created',$this->language->_('Paid Date')); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4"><?php echo $this->language->_('From'); ?>&nbsp;
										<?php 
												echo $this->datePicker("payStart", $this->payStart,array('dateFormat' => $this->jqueryDateFormat,
																										'defaultDate' =>'new Date()',
																										'showOn' => 'button',
																										'buttonImage' => '/images/calendar.gif',
																										'buttonImageOnly' => true,
																										'changeMonth' => true,
																										'changeYear' => true,
																										'clearAnotherField' => true,
																										'anotherField' => 'paidEnd',
																										'minDateID' => 'paidEnd'
																										)); 
										?>
										&nbsp; <?php echo $this->language->_('To');?> &nbsp;
										<?php 
												echo $this->datePicker("payEnd", $this->payEnd,array('dateFormat' => $this->jqueryDateFormat,
																										'defaultDate' =>'new Date()',
																										'showOn' => 'button',
																										'buttonImage' => '/images/calendar.gif',
																										'buttonImageOnly' => true,
																										'changeMonth' => true,
																										'changeYear' => true,
																										'clearAnotherField' => true,
																										'anotherField' => 'paidStart',
																										'maxDateID' => 'paidStart'
																										)); 
										?>
			</td>
		</tr>
		
		<tr>
			<td class="tbl-evencontent" colspan="2"><?php echo $this->language->_('VA Number'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4">
				<?php  echo $this->formText('VP_NUMBER',$this->vp_number); ?>
			</td>
		</tr>
		
		
		<tr>
			<td class="tbl-evencontent" colspan="2"><?php echo $this->language->_('BIN'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4">
				<?php  echo $this->formText('CUST_BIN',$this->cust_in); ?>
			</td>
		</tr>
		
		<tr>
			<td class="tbl-evencontent" colspan="2"><?php echo $this->language->_('VA Type'); ?></td>
			<td class="tbl-evencontent">:</td>
			<td class="tbl-evencontent" colspan="4">
				<select name="va_type" id="va_type">
						<option value="" selected>-- <?php echo $this->language->_('Please Select');?> --</option>
						<option value="1"<?php echo (($this->va_type == '1')?'selected':'')?>><?php echo $this->language->_('Close');?></option>
						<option value="0"<?php echo (($this->va_type == '0')?'selected':'')?>><?php echo $this->language->_('Open');?></option>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="7" align="left" class="tbl-evencontent">
				<?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'inputbtn')); ?>
				<input type="button" name="clearfilter" class="inputbtn" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>$this->actionname),null,true)?>'">
			</td>
			
		</tr>
	</table>
</form>
<br />

<div align="right">
		<table>
			<tr style="height:30px"> 
				<td colspan="12" align="CENTER">
					<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post" class="hidden">
						<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?>
						<?php echo $this->formSubmit('pdf',$this->language->_('PDF is too large (function is disabled)'),array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
						<?php }else{ ?>
						<?php echo $this->formSubmit('pdf','PDF',array('class'=>'inputbtn')); ?>&nbsp;
						<?php } ?>
						<?php if($this->paginator->getTotalItemCount() > $this->applicationSetting['max_row_download_csv']) { ?>
						<?php echo $this->formSubmit('csv','CSV is too large (function is disabled)',array('class'=>'inputbtn','disabled'=>'disabled')); ?>&nbsp;
						<?php }else{ ?>
						<?php echo $this->formSubmit('csv','CSV',array('class'=>'inputbtn')); ?>&nbsp;
						<?php } ?>
					</form>
					<?php //echo $this->formSubmit('chart','Chart',array('class'=>'inputbtn')); ?>&nbsp;
					
					<input type="hidden" name="clearfilter" value="<?=$this->clearfilter?>">
				</td>
			</tr>
		</table>
</div>

<div align="right">
		<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
</div><br>

<table width="100%" cellpadding="2" cellspacing="0" border="1" class="tableform">
	<tr>
		<?php 
			echo $this->partial('tableheader.phtml',
				array(
					'fields' => $this->fields,
					'sortBy' => $this->sortBy,
					'sortDir' => $this->sortDir,
					'query_string_params' => $this->query_string_params
				)
			);
		?>
	</tr>
	
	<?php
		$numFields = count($this->fields);
		
 		if(!empty($this->paginator) && count($this->paginator) > 0){
			$total = 0;
			foreach ($this->paginator as $arr){
//				unset($arr['ID']);
				echo '<tr>';
				foreach($arr as $key => $val){
					$attr = 'align:left;';
					if($key == 'INVOICE_NO'){
						$id = $val;
						$val1 = $val;
					}
					if($key == 'ID'){
						//$val = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'view','reff'=>$val),null,true).'/id/'.$id.'">'.$val.'</a>';
						$ID = $val;
					}
					if($key == 'VP_NUMBER'){
						//$val = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'view','reff'=>$val),null,true).'/id/'.$id.'">'.$val.'</a>';
						$val = '<a href="'.$this->url(array('module'=>'virtualpayment','controller'=>'history','reff'=>$val,'id'=>$ID),null,true).'">'.$val.'</a>';
					}
					if ($key == 'AMOUNT'){
						$total += $val;
						$val = SGO_Helper_GeneralFunction::displayCurrency($val);
					}if ($key == 'TRX_DATE'){// || $key == 'LAST_UPDATE'){
						$val = date('d-m-Y',strtotime($val));
					}if ($key == 'LAST_UPDATE'){
						$val = date('d-m-Y H:i:s',strtotime($val));
						//Zend_Debug::dump($val);
						//die("");
					}
					if ($key == 'VP_CREATED'){
						$val = Application_Helper_General::convertDate($val,$this->displayDateTimeFormat,$this->defaultDateFormat);
						//Zend_Debug::dump($val);
						//die("");
					}
					if ($key == 'VP_PAID_DATE'){
						$val = Application_Helper_General::convertDate($val,$this->displayDateTimeFormat,$this->defaultDateFormat);
						//Zend_Debug::dump($val);
						//die("");
					}
					if($key == 'PAID_STATUS'){
						$val = $this->optSync[$val];
					}
					if($key == 'VP_MODE'){
						$val = $this->optSyncVpMode[$val];
					}
					else{
						$val = $val;
					}
					
					if($key != 'ID')
						echo '<td style="text-align:'.($key == 'AMOUNT' ? 'right':'left').'">'.$this->language->_($val).'</td>';
				}
				echo '</tr>';
			}
			
		}else{
			echo '<tr>
				<td class="tbl-evencontent" colspan="'.$numFields.'" align="center"> --- '.$this->language->_('No Data').' --- </td>
			</tr>';
		}
		?>
</table>
<br>

<div align="right">
	<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
</div>
