<script type="text/javascript">

//akan di onload pertama kali
$(document).ready(function()
{   
    //pengaturan error messages
	<?php 
	     foreach($this->custAcct_msg as $key => $error)
	     {
	   ?>
	         $('#error_<?php echo $key; ?>').html('<?php echo $error; ?>');
	<?php      
	     } 
	   ?>

	   
});

</script>


<b><?php echo $this->language->_('Customer'); ?> &gt; <?php echo $this->language->_('Customer List'); ?> &gt; <?php echo $this->language->_('Customer Detail'); ?> &gt; <?php echo $this->language->_('Add Bank Account'); ?> &gt; <?php echo $this->language->_('Add Bank Account Confirmation'); ?></b><br /><br />

<div class="tabheader" id="tabheader"><?php echo $this->language->_('Add Bank Account Confirmation'); ?></div>

<?php
					if($this->custAcct_msg['acct_no'] != '')
					{ 	?>
						<div class="errmsg">
				<?php		echo $this->language->_($this->custAcct_msg['acct_no']);		?>
						</div><br />
				<?php
					}
?>
<?php
if($this->cust_id)
{

?>

<br />

<form method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'confirm','action'=>'index'),null,true)?>">
  <table cellpadding="3" cellspacing="0" border="0" class="tableform">
    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('Confirm Add Bank Account')?></strong></th></tr>
    
    
    
    <tr>
	    <td class="tbl-evencontent" colspan="3"> 
	      <span class="errmsg">
	          <?php if($this->acct_is_deleted) {
	               echo "NOTICE : This account is assigned (already deleted) to Company : ".$this->cust_name_deleted." (".$this->cust_id_deleted.")<br/>".
                        "If this suggestion is approved, account will be assigned to selected company.<br/>".
                        "Please note that previous records involving this account number will not be updated";
              } ?>
           </span>
        </td>
	</tr>
    
  
    
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->language->_('Account No')?></td>
	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('acct_no',$this->acct_no); ?></td>
    </tr>
    
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->language->_('Account Name')?></td>
	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('acct_owner',$this->acct_owner); ?></td>
    </tr>
    <tr>
    <td class="tbl-evencontent"><?php echo $this->language->_('Account Alias')?></td>
    <td class="tbl-evencontent">:</td>
    <td class="tbl-evencontent"><?php echo $this->formLabel('acct_alias',$this->acct_alias); ?></td>
    </tr>
    
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->language->_('Account Status')?></td>
	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->acct_status; ?></td>
    </tr>
    
     <tr>
      <td class="tbl-evencontent"><?php echo $this->language->_('Currency')?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('ccy_id',$this->ccy_id); ?></td>
    </tr>
    
    <tr>
	  <td class="tbl-evencontent"><?php echo $this->language->_('Type')?></td>
	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->language->_($this->acct_desc); ?></td>
    </tr>
    
    <!--
    <tr>
      <td class="tbl-evencontent"><?php echo $this->language->_('Available Balance')?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('acct_balance',Application_Helper_General::displayMoney($this->acct_balance)); ?></td>
    </tr>    
    -->
    
    <tr>
      <td class="tbl-evencontent"><?php echo $this->language->_('Add Account For Company')?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('cust_name',$this->cust_id . ' ('.$this->cust_name.')'); ?></td>
    </tr>
    
    <tr>
      <td class="tbl-evencontent"><?php echo $this->language->_('Email Address')?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formLabel('acct_email',$this->acct_email); ?></td>
    </tr>
 </table>
 
 
  <br />
  <div>
    <?php
        echo $this->formHidden('acct_alias',$this->acct_alias);
    ?>
     <?php 
        $url = $this->url(array('module'=>$this->modulename,'controller'=>'new','action'=>'index','cust_id'=>$this->cust_id,'acct_email'=>$this->acct_email,'acct_no'=>$this->acct_no,'ccy_id'=>$this->ccy_id),null,true);
     ?>
     <input type="button" class="btnwhite hov" value="<?php echo $this->language->_('Back')?>" onclick="location.href='<?php echo $url; ?>'"> 
     
  <?php
    //echo $this->formButton('back','Back',array('onclick'=>'location.href=\'','class'=>'inputbtn'));
    echo '&nbsp;&nbsp;';
    
    echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov'));
    
    echo $this->formHidden('cust_id',$this->cust_id);
    echo $this->formHidden('cust_name',$this->cust_name);
    echo $this->formHidden('ccy_id',$this->ccy_id);
    echo $this->formHidden('acct_no',$this->acct_no);
    echo $this->formHidden('acct_email',$this->acct_email);
   // echo $this->formHidden('acct_balance',$this->acct_balance);
   // echo $this->formHidden('acct_owner',$this->acct_owner);
  ?></div>
</form>


<?php }else{ ?>
<div id="content">- <?php echo $this->language->_('No Data')?> -</div>
<?php } ?>