<form name="payment_import" method="post" action="">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
		<tr>
			<td class="subtopic" colspan="2"><h2><?php echo $this->language->_('File Detail'); ?></h2></td>
		</tr>
		<tr><td >
			<?php if($this->totalFailed){ ?>
			<br /><div class="errmsg"><?php echo $this->language->_('Error'); ?>: <?php echo $this->language->_('This payment can`t be continue'); ?></div><br />
			<?php } ?>
			</td>
		</tr> 
		<tr>
			<td class="attrform" id="attrform" colspan="2">
				<table width="65%" border="0" cellspacing="1" cellpadding="2">
					<tr>
						<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
																			'sortBy' => $this->sortBy,
																			'sortDir' => $this->sortDir,
																			'query_string_params' => $this->query_string_params
																		   )
												 )?>
					</tr>
					<?php
						$j=0;
						foreach($this->countTrxCCY as $type=>$rows)
						{	
							$i = 0;
							foreach($rows as $ccy=>$row)
							{
								$td_css = ($j%2==1)?'tbl-evencontent':'tbl-oddcontent';
								
								$detailErr = $row['failed'] ? ', <a style="cursor:pointer" onClick="showPopUpWindow(\'../../popuperror/virtualpaymentpopup?type='.$type.'&ccy='.$ccy.'\');">['.$this->language->_('Detail').']</a>' : '';
								$content =  '
									<tr>
										<td class='.$td_css.'>';
								if($i==0) $content .= $type;
								else $content .= '&nbsp;';
								$content .=  '  
											</td>
											<td class="'.$td_css.'">'.$ccy.'</td>
											<td class="'.$td_css.'" align="center">'.$row['success'].' '.$this->language->_('record').'</td>
											<td class="'.$td_css.'" align="right">'.Application_Helper_General::displayMoney($this->sumTrxCCY[$type][$ccy]['success']).'</td>
											<td class="'.$td_css.'" align="center"><strong><font color="red">'.$row['failed'].' '.$this->language->_('record').''.$detailErr.'</font></strong></td>
											<td class="'.$td_css.'" align="right">'.Application_Helper_General::displayMoney($this->sumTrxCCY[$type][$ccy]['failed']).'</td>
										</tr>';
								echo $content;
								$i++;
								$j++;
							}
							
						}
						$td_css = ($j%2==1)?'tbl-evencontent':'tbl-oddcontent';
					?>
					<tr>
						<td class="<?=$td_css?>" colspan="2"><strong><?php echo $this->language->_('Total'); ?></strong></td>
						<td class="<?=$td_css?>" align="center"><?=$this->totalSuccess?> <?php echo $this->language->_('record'); ?></td>
						<td class="<?=$td_css?>" align="right">&nbsp;</td>
						<td class="<?=$td_css?>" align="center"><strong><font color="red"><?=$this->totalFailed?> <?php echo $this->language->_('record'); ?></font></strong></td>
						<td class="<?=$td_css?>" align="right">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="6">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="6">
							<div id="notesPage">
								<div class="subtopic"><?php echo $this->language->_('Created Date'); ?>:</div>
								<div>
									<?php echo date('d/m/Y'); ?>
									<br />
								</div>
							</div>
						</td>
					</tr>														  
					<tr>
						<td class="button-area" id="button-area" colspan="6">
							<div class="formbutton">
								<input type="submit" name="submit_cancel" class="inputbtn" value="<?php echo $this->language->_('Cancel')?>">&nbsp;&nbsp;
<!--								<input type="submit" name="submit" class="inputbtn" value="Submit for Approval" <?php $disabled = $this->totalFailed ? 'disabled="disabled"' : ''; echo $disabled;?>>-->
							
								<input type="submit" class="inputbtn" name="subbutton" onClick='submitbtn(this)' id="subbutton" value="<?php echo $this->language->_('Submit for Approval')?>" <?php $disabled = $this->totalFailed ? 'disabled="disabled"' : ''; echo $disabled;?>/>
								<input type="submit" class="inputbtn" id="Submit_id" name="submit" value="<?php echo $this->language->_('Submit for Approval')?>" disabled style="display:none"/>
								<script>
								function submitbtn(){
									//document.getElementById("subbutton").disabled=true;
									document.getElementById("subbutton").style.display ="none";
									document.getElementById("Submit_id").style.display ="inline";
									//Validation code goes here
								}
								</script>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</form>