<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Manage Account'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <span class="valas" ><?php echo $this->language->_('Manual'); ?></span>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal form-bordered form-row-stripped" name="bulk_credit_import" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'confirm'),null,true)?>">
          <input type="hidden" name="PM_SUBJECT" value="tes">
          <input type="hidden" name="PM_EFDATE" value="10/05/2012">
          <input type="hidden" name="ACCTSRC" value="1290001537~JOSHUA ADISETYA DHARMAWAN~IDR">

          <!-- Section Header -->
          <div class="row no-gutters pt-3">
            <div class="col-sm-12 col-md-10">
              <h5><?php echo $this->language->_('Offline Account Registration Form'); ?></h5>
            </div>
            <div class="col-sm-12 col-md-2" align="right">
              <a href="#" class="detail-ellipsis"><i class="fa fa-ellipsis-h"></i></a>
            </div>
          </div>
          <!-- Section Header Ends -->
          <!-- Content Credit Detail -->
          <div class="col-sm-12 col-md-12 pl-2 table-responsive">
            <table class="table">
              <tr>
                <td class="sub-text"><?php echo $this->language->_('Bank Name'); ?></td>
                <td align="right"><?=$this->BANK_NAME?></td>
              </tr>
            </table>
          </div>
          <!-- Content Credit Detail End -->
          <!-- Section Header -->
          <div class="row no-gutters pt-3">
            <div class="col-sm-12 col-md-10">
              <h5><?php echo $this->language->_('File Detail'); ?></h5>
            </div>
          </div>
          <!-- Section Header Ends -->
          <?php if($this->failed){ ?>
          <br /><div class="errmsg"><?php echo $this->language->_('Error: This payment can not be continue'); ?></div><br />
          <?php } ?>
          <div class="col-md-12">
              <table class="table table-bordered table-condensed flip-content" width="50%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                      <th id="tablehead"><?php echo $this->language->_('Valid Account'); ?></th>
                      <th id="tablehead"><?php echo $this->language->_('Invalid Account'); ?></th>
                      <th id="tablehead"><?php echo $this->language->_('Detail'); ?></th>
                      
                  </tr>
                <?php
                  // foreach($this->countdata as $type=>$rows)
                  // {
                  //   $i = 0;
                    // foreach($rows as $ccy=>$row)
                    // {
                      
                      $detailErr = '-';
                      if($this->failed){
                        $detailErr = '<a class="text-danger" style="cursor: pointer;" onClick="showPopUpWindow(\'../../popuperror/bulkcreditpopup?type=importfile\');">['.$this->language->_('Detail').']</a>';
                      }

                      $content =  '
                        <tr>
                          <td class="tbl-oddcontent" align="center">'.$this->countdata['success'].' '.$this->language->_('record').'</td>
                          <td class="tbl-oddcontent" align="center">'.$this->countdata['failed'].' '.$this->language->_('record').'</td>
                          <td class="tbl-oddcontent" align="center">'.$detailErr.'</td>';
                          // <td class="tbl-oddcontent" align="right">'.Application_Helper_General::displayMoney($this->chargesAmt[$type][$ccy]).'</td>
                      echo '</tr>';
                      echo $content;  
                      // $i++;
                    // }
                  // }
                ?>
                
                </table>
          </div>
          <div class="col-md-12 formbutton" style="text-align: center">
              <input type="submit" name="submit_cancel" class="btnwhite hov" value="<?php echo $this->language->_('Cancel')?>">&nbsp;&nbsp;
              <input type="submit" name="submit" class="btngreen hov" value="<?php echo $this->language->_('Submit')?>" <?php $disabled = $this->failed ? 'disabled="disabled"' : ''; echo $disabled;?>>
          </div>
        </form>
    </div>
</div>
