<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span class="fontGrey"><?php echo $this->language->_('Utilities'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1 fontGrey"></i>
                  </li>
                  <li>
                      <label class="fontGrey"><?php echo $this->language->_('Detail Corporate Credit Card'); ?></label>
                  </li>
              </ul>
          </div>
        </div>
</div>

<div class="col-md-12">
              <div class="row no-gutters content-box">
                <div class="col-md-12">

                  <!-- Section Header -->
                  <div class="row">
                    <div class="col-sm-4 col-md-4" style="padding-top: 7px;" align="center">
                      <h6 class="textBlack">Credit Card Number</h6>
                    </div>
                    <div class="col-sm-4 col-md-4" align="center">
                      <div class="dropdown" id="cardDropdown">
                        <button class="btn dropdown-toggle menu-button other-dropdown px-9" type="button" id="crdDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="/assets/permatalayout/assets/newlayout/img/mastercard.png" width="30"/><strong><?php echo $this->card_number; ?></strong> <i class="fa fa-angle-down pl-2"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="crdDropdown">
                          <a class="dropdown-item" href="#"><img src="/assets/permatalayout/assets/newlayout/img/mastercard.png" width="30"/><?php echo $this->card_number; ?></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4" align="center">
                      <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print Statement")?></button>
                    </div>
                  </div>
                  <!-- Section Header Ends -->

                  <!-- Section Content -->
                  <div class="row no-gutters mt-3">
                    <div class="col-sm-12 col-md-12" align="center">
                      <img src="/assets/permatalayout/assets/newlayout/img/permata-black.png" width="50%"/>
                    </div>
                    <div class="col-sm-12 col-md-12 table-responsive" style="padding-left: 10px;">
                      <table class="table table-row-border">
                        <tr>
                          <td class="fontGrey" style="border-top: 0;">Status</td>
                          <td class="textBlack" align="right" style="border-top: 0;"><strong>Approved</strong></td>
                        </tr>
                        <tr>
                          <td class="fontGrey">Credit Limit</td>
                          <td class="textBlack align="right"><strong>IDR 20.000.000,00</strong></td>
                        </tr>
                        <tr>
                          <td class="fontGrey">Outstanding Balance</td>
                          <td class="textBlack align="right"><strong>IDR 5.000.000,00</strong></td>
                        </tr>
                        <tr>
                          <td class="fontGrey">Total Debt</td>
                          <td class="textBlack align="right"><strong>IDR 1.060.200,00</strong></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <!-- Section Content Ends -->
                  <br>
                  <br>
                    <div align="center">
                          <button class="btnwhite hov" onclick="CloseWindow()">Back</button>
                          <button class="btn-sm btngrad hov"><i class="fas fa-ban" style="color: red;"></i>&nbsp;<?php echo $this->language->_("Block Card")?></button>
                      </div>

                </div>
              </div>
            </div>


<script type="text/javascript">
  function CloseWindow() {
  window.close();
}
</script>