<?php //Zend_Debug::Dump($this->resultdata);die;?>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
	<tbody>
		<tr>
			<td class="contentarea" id="contentarea" >
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td >
							<div class="subtopic"><?php echo $this->language->_('Fee Transaction'); ?></div>
							<div>Date: <?php echo date("d/m/Y H:i:s");?></div>
						</td>
					</tr>
					<tr><td>&nbsp;&nbsp;</td></tr>
					<tr>
						<td>
							<table id="0" border="0" cellpadding="0" cellspacing="0"width="800px">
								<tr>
									<th id="tbl-headercontent" width="80px"><strong><?php echo $this->language->_('Payment Ref'); ?></strong></th>
									<th id="tbl-headercontent" width="150px"><strong><?php echo $this->language->_('Invoice No'); ?></strong></th>
									<th id="tbl-headercontent" width="150px"><strong><?php echo $this->language->_('Transaction Date'); ?></strong></th>
									<th id="tbl-headercontent" width="150px"><strong><?php echo $this->language->_('Action'); ?></strong></th>
									<th id="tbl-headercontent" width="20px"><strong><?php echo $this->language->_('Charge Account'); ?></strong></th>
									<th id="tbl-headercontent" width="100px" align="center"><strong><?php echo $this->language->_('Charge Amount'); ?></strong></th>
									<th id="tbl-headercontent" width="100px" align="center"><strong><?php echo $this->language->_('Charge Maturity Date'); ?></strong></th>
									<th id="tbl-headercontent" width="100px" align="center"><strong><?php echo $this->language->_('Charge Type'); ?></strong></th>
								</tr>
							<?php
								// Column beneficiary name belon bener!
								
								if (count ( $this->resultdata ) > 0) {
									$i = 0;

									$arrayChargeType = array(
									'4'=>'Fee Disbursement',
									'5'=>'Fee Additional Tenor',
									'6'=>'Fee Grace Period',
									'7'=>'Fee Penalty',
									);
									
									foreach ( $this->resultdata as $row ) {
										$td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
										$date = "Updated " .date("d/m/Y H:i:s");
										echo '<tr>
												<td class="'.$td_css.'">'.$row['Payment Ref#'].'</td>
												<td class="'.$td_css.'">'.$row['Invoice No'].'</td>
												<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['Transaction Date'],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>
												<td class="'.$td_css.'">Freezed</td> 
												<td class="'.$td_css.'">'.$row['Charge Account'].'</td> 
												<td class="'.$td_css.'" align="right">'.$row['CCY'].' '.Application_Helper_General::displayMoney($row['Charge Amount']).'</td>
												<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row['Charge Maturity Date'],$this->displayDateFormat,$this->defaultDateFormat).'</td>
												<td class="'.$td_css.'">'.$arrayChargeType[$row['Charges type']].'</td>
											</tr>';
											$i ++;
									}
								} else {?>
									<tr><td colspan=10 class="tbl-evencontent" align="center"> --- No Data --- </td></tr>
								<?}
							?>
							
							</table>							
		
				</tbody>
			</table>
			</td>
		</tr>

	</tbody>
</table>
</form>
