<script type="text/javascript">
$(document).ready(function(){
  $('#fixTable').fixTableHeader();

  $("#searchtable").keyup(function () {
    var value = this.value.toLowerCase().trim();

    $("#myTable tr").each(function (index) {
        if (!index) return;
        $(this).find("td").each(function () {
            var id = $(this).text().toLowerCase().trim();
            var not_found = (id.indexOf(value) == -1);
            $(this).closest('tr').toggle(!not_found);
            return not_found;
        });
    });
});

});
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('div#sidebar-collapse').click(function(){
        if ( $("#logo-title").is(":visible") ) {
          $("#logo-title").hide();
          $("#logo-titles").hide();
        } else if ( $("#logo-title").is(":hidden") ) {
          $("#logo-title").show();
          $("#logo-titles").show();
        }
      })

    $('#lastuploadedstart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#lastuploadedend').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
         $('#effectivestart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#effectiveend').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
});
</script>

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Transaction'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="valas" ><?php echo $this->language->_('Batch Transfer'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="valas" ><?php echo $this->language->_('Managed'); ?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>

<style type="text/css">

    .inputtext{

    /*border: none;*/
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: none;
    width: auto;

  }
</style>

<style media="screen">

  .indicator.online {
      background: #28B62C;
      display: inline-block;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      -webkit-animation: pulse-animation 2s infinite linear;
  }

  @-webkit-keyframes pulse-animation {
    0% { -webkit-transform: scale(1); }
    25% { -webkit-transform: scale(1); }
      50% { -webkit-transform: scale(1.2) }
      75% { -webkit-transform: scale(1); }
      100% { -webkit-transform: scale(1); }
  }
  .indicator.offline {
        background: #FF4136;
        display: inline-block;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        -webkit-animation: pulse-animation 2s infinite linear;
        
    }

    .indicator.warning {
        background: #F7CF32;
        display: inline-block;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        -webkit-animation: pulse-animation 2s infinite linear;
    }

</style>

<script type="text/javascript">
  function showAccountBeneficiary(pagesource)
  {
    var win = null;
    var w = 1200, h = 500;

    if (win && !win.close())
    {
      win.close();
    }

    LeftPosition=(screen.width)?(screen.width-w)/2:100;
    TopPosition=(screen.height)?(screen.height-h)/2:100;

    settings='width=1200,height=500,top='+TopPosition+',left='+LeftPosition+',scrollbars=1,location=no,directories=no,status=no,menubar=no,toolbar=no,resizable=no';
    win=window.open("../popup/"+pagesource,'sgo_popup_window',settings);
    win.focus();
  }
</script>
<script type="text/javascript">
  function input(selected) {

    var status = $(selected).data('status');

    if (status == 0) {
      $('#PSFILEID').attr('readonly', true);
      //$('#PSFILEID').prop('disabled', false);
      $('#PSFILEID').val('BYPASSIDFU');

      $('#subtitle').text(' to unbypass File ID validation');

      $(selected).data('status', 1);
    }
    else{
      $('#PSFILEID').removeAttr('readonly');
      //$('#PSFILEID').prop('disabled', true);
      $('#PSFILEID').val('');
      $('#subtitle').text(' to bypass File ID validation');

      $(selected).data('status', 0);
    }

    
    //console.log('jalan');
  }

  function update() {

     

    if( $('input[name="bs_id[]"]:checked').length > 0){
      $('#buttonsave').prop('disabled', false);
      $('#buttonsave').removeClass('disabled');
      $('#buttoncancel').prop('disabled', false);
      $('#buttoncancel').removeClass('disabled');

      $('input[name="bs_id[]"]:checked').each(function () {

        var status = $(this).data('status');

          if (status == 2) {
            $('#buttonsave').prop('disabled', true);
            $('#buttonsave').addClass('disabled');
            // $(selected).data('status', 1);
          } else{
            $('#buttonsave').prop('disabled', false);
            $('#buttonsave').removeClass('disabled');
              
            //   $(selected).data('status', 0);
            }

      });

    }
    else{
      $('#checkall').prop('checked', false);
      $('#buttonsave').prop('disabled', true);
      $('#buttonsave').addClass('disabled');
      $('#buttoncancel').prop('disabled', true);
      $('#buttoncancel').addClass('disabled');
    }

  }

  function bulkchange(val){
    document.getElementById('BULK_TYPE').value = val;
    // alert($("#lang").val());
    
    if(val == '7'){
       
      $("#source").hide();
      $("#tombol").hide();
      $("#tabel").show();
      $("#selectfile").hide();
      $("#benef").hide();
      $("#benef1").hide();
      $("#benef2").hide();
      $(".subject").hide();
      $(".payment_date").hide();
      $(".note").hide();

      $("#filter").show();
      $("#fixTable").show();
      $("#tombol2").show();
      $("#second").hide();
      
    }else if(val == '1'){
       if($("#lang").val() == 'id'){
          $file = '/template/Multi_Debit_Template_id.csv';
      }else{
          $file = '/template/Multi_Debit_Template_en.csv';
      }
      document.getElementById('temp').href = $file;

      var adapterData = <?php echo json_encode($this->adapterDataMto); ?>;

      if (adapterData.length != 0) {
        $('.profileNameDiv').show();
        $('.profileName').show();
        $('.profileName').html('<b>'+adapterData[0].PROFILE_NAME+' ('+adapterData[0].FILE_FORMAT+')</b>');
        $('.templateBtn').show();
      }else{
        $('.profileNameDiv').hide();
        $('.profileName').hide();
        $('.templateBtn').show();
      }

      $("#source").hide();
       $("#tombol").show();
      $("#selectfile").show();
      $("#benef").show();
      $("#benef1").show();
      $("#benef2").show();
      $(".subject").show();
      $(".payment_date").show();
      $(".note").show();
      $("#tabel").hide();
      $("#filter").hide();
      $("#fixTable").hide();
      $("#tombol2").hide();
      $("#second").show();

     }else if( val == '2'){

      var adapterData = <?php echo json_encode($this->adapterDataPayroll); ?>;

      if (adapterData.length != 0) {
        $('.profileNameDiv').show();
        $('.profileName').show();
        $('.profileName').html('<b>'+adapterData[0].PROFILE_NAME+' ('+adapterData[0].FILE_FORMAT+')</b>');
        $('.templateBtn').show();
      }else{
        $('.profileNameDiv').hide();
        $('.profileName').hide();
        $('.templateBtn').show();
      }

      $("#benef").hide();
      $("#benef1").hide();
      $("#benef2").hide();
      $("#source").show();
       $("#tombol").show();
      $("#selectfile").show();
      $(".subject").show();
      $(".payment_date").show();
      $(".note").show();
      $("#tabel").hide();
      $("#filter").hide();
      $("#fixTable").hide();
      $("#tombol2").hide();
      $("#second").show();

    }else if(val == '3'){

      var adapterData = <?php echo json_encode($this->adapterDataEmoney); ?>;

      if (adapterData.length != 0) {
        $('.profileNameDiv').show();
        $('.profileName').show();
        $('.profileName').html('<b>'+adapterData[0].PROFILE_NAME+' ('+adapterData[0].FILE_FORMAT+')</b>');
        $('.templateBtn').show();
      }else{
        $('.profileNameDiv').hide();
        $('.profileName').hide();
        $('.templateBtn').show();
      }

      $("#source").show();
      $("#tombol").show();
      $("#selectfile").show();
      $("#benef").hide();
      $("#benef1").hide();
      $("#benef2").hide();
      $(".subject").show();
      $(".payment_date").show();
      $(".note").show();
      $("#tabel").hide();
      $("#filter").hide();
      $("#fixTable").hide();
      $("#tombol2").hide();
      $("#second").show();

    }else if (val == '4'){

      var adapterData = <?php echo json_encode($this->adapterDataMtm); ?>;

      console.log(adapterData);

      if (adapterData.length != 0) {
        $('.profileNameDiv').show();
        $('.profileName').show();
        $('.profileName').html('<b>'+adapterData[0].PROFILE_NAME+' ('+adapterData[0].FILE_FORMAT+')</b>');
        $('.templateBtn').show();
      }else{
        $('.profileNameDiv').hide();
        $('.profileName').hide();
        $('.templateBtn').show();
      }

      $("#source").hide();
      $("#tombol").show();
      $("#selectfile").show();
      $("#benef").hide();
      $("#benef1").hide();
      $("#benef2").hide();
      $(".subject").hide();
      $(".payment_date").hide();
      $(".note").show();
      $("#tabel").hide();

      $("#filter").hide();
      $("#fixTable").hide();
      $("#tombol2").hide();
      $("#second").show();

    }else if (val == '0'){
      var adapterData = <?php echo json_encode($this->adapterDataOtm); ?>;

      if (adapterData.length != 0) {
        $('.profileNameDiv').show();
        $('.profileName').show();
        $('.profileName').html('<b>'+adapterData[0].PROFILE_NAME+' ('+adapterData[0].FILE_FORMAT+')</b>');
        $('.templateBtn').show();
      }else{
        $('.profileNameDiv').hide();
        $('.profileName').hide();
        $('.templateBtn').show();
      }

      $("#benef").hide();
      $("#benef1").hide();
      $("#benef2").hide();
      $("#source").show();
      $("#tombol").show();
      $("#selectfile").show();
      $(".subject").show();
      $(".payment_date").show();
      $(".note").show();
      $("#tabel").hide();
      $("#filter").hide();
      $("#fixTable").hide();
      $("#tombol2").hide();
      $("#second").show();

    }

    if(val == '0'){
      if($("#lang").val() == 'id'){

          $file = '/template/one to many valid.txt';

      }else{
        
          $file = '/template/one to many valid.txt';

      }
      document.getElementById('temp').href = $file;

    }

    if(val == '4'){
      if($("#lang").val() == 'id'){
          
          $file = '/template/many to many valid.txt';

      }else{
          
          $file = '/template/many to many valid.txt';

      }
      document.getElementById('temp').href = $file;

    }

    if(val == '1'){
      if($("#lang").val() == 'id'){
          // $file = '/template/Single_Payment_Template_Mix_id.csv';
          $file = '/template/many to one valid.txt';
      }else{
          // $file = '/template/Single_Payment_Template_Mix_en.csv';
          $file = '/template/many to one valid.txt';

      }
      document.getElementById('temp').href = $file;

    }

    if(val == '1'){
      if($("#lang").val() == 'id'){
          // $file = '/template/Single_Payment_Template_Mix_id.csv';
          $file = '/template/many to one valid.txt';
      }else{
          // $file = '/template/Single_Payment_Template_Mix_en.csv';
          $file = '/template/many to one valid.txt';

      }
      document.getElementById('temp').href = $file;

    }

    // alert(val);
    if(val == '2'){
      $("#adapter").show();
      if($("#lang").val() == 'id'){
          // $file = '/template/Payroll_Template_id.csv';
          $file = '/template/payroll valid.txt';

      }else{
          // $file = '/template/Payroll_Template_en.csv';
          $file = '/template/payroll valid.txt';
      }
      document.getElementById('temp').href = $file;

    }else{
      $("#adapter").hide();
    }
    if(val ==''){
      $("#template").hide();
    }else{
      $("#template").show();
    }

 }


  $(document).ready(function(){

      var adapterData = <?php echo json_encode($this->adapterDataPayroll); ?>;

      if (adapterData != null) {
        $('.profileName').hide();
        $('.templateBtn').show();
      }else{
        $('.profileName').hide();
        $('.templateBtn').show();
      }
      
      var e = document.getElementById("BULK_TYPE");
      var value = e.options[e.selectedIndex].value;
      // alert(value);
    
    var element = document.getElementById("credit-tab");
    element.classList.remove("active");
    var element = document.getElementById("managed-tab");
    element.classList.remove("active");
    var element = document.getElementById("payroll-tab");
    element.classList.remove("active");
    var element = document.getElementById("debit-tab");
    element.classList.remove("active");
    var element = document.getElementById("many-tab");
    element.classList.remove("active");
    var element = document.getElementById("money-tab");
    element.classList.remove("active");
      
    bulkchange(value);
    <?php 
      //var_dump($this->BULK_TYPE);
      if($this->BULK_TYPE == '0'){

      ?>
        var element = document.getElementById("credit-tab");
      element.classList.add("active");
      //alert();
      bulkchange('0');  
      <?php
    }else{ 
    if($this->BULK_TYPE == '7'){
      ?>
      var element = document.getElementById("managed-tab");
      element.classList.add("active");
      <?php
    }else if($this->BULK_TYPE == '2'){
      ?>
      var element = document.getElementById("payroll-tab");
      element.classList.add("active");
      <?php
    }else if($this->BULK_TYPE == '1'){
      ?>
      var element = document.getElementById("debit-tab");
      element.classList.add("active");
      <?php
    }else if($this->BULK_TYPE == '3'){
      ?>
      var element = document.getElementById("money-tab");
      element.classList.add("active");
      <?php
    }else if($this->BULK_TYPE == '4'){
      ?>
    var element = document.getElementById("many-tab");
      element.classList.add("active");
      <?php
    }
    
    ?>
    //if()
      
      bulkchange(<?php echo $this->BULK_TYPE ?>);
    <?php } if($this->BULK_TYPE != '4'){ ?>
    //alert(<?php echo $this->BULK_TYPE ?>);
    
    $("#source").show();
    $(".subject").show();
    $(".payment_date").show();
  //   $(function() {
  //     $("#myModal").modal();
  // });
    <?php } ?>

    $('#chooseFile').bind('change', function () {
      var filename = $("#chooseFile").val();
      if (/^\s*$/.test(filename)) {
        $(".file-upload").removeClass('active');
        $("#noFile").text("No file chosen...");
      }
      else {
        $(".file-upload").addClass('active');
        $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
      }
    });


   $('#myModal').on('shown.bs.modal', function(){
      $('.blur').css({"filter":"blur(10px)" });
    }).on('hidden.bs.modal', function(){
      $('.blur').css({"filter":"" });
    });

    $(".nav-link").click(function(){
      var val = $(this).text();
      if (val == 'One to Many') {
        $("#credit-tab").addClass("active");
        $("#debit-tab").removeClass("active");
        $("#payroll-tab").removeClass("active");
        $("#many-tab").removeClass("active");
        $("#money-tab").removeClass("active");
        $("#managed-tab").removeClass("active");
      }else if (val == 'Many to One') {
        $("#credit-tab").removeClass("active");
        $("#debit-tab").addClass("active");
        $("#payroll-tab").removeClass("active");
        $("#many-tab").removeClass("active");
        $("#money-tab").removeClass("active");
        $("#managed-tab").removeClass("active");
      }else if(val == 'Payroll'){
        $("#credit-tab").removeClass("active");
        $("#debit-tab").removeClass("active");
        $("#payroll-tab").addClass("active");
        $("#many-tab").removeClass("active");
        $("#money-tab").removeClass("active");
        $("#managed-tab").removeClass("active");
      }else if(val == 'Many to many'){
        $("#credit-tab").removeClass("active");
        $("#debit-tab").removeClass("active");
        $("#payroll-tab").removeClass("active");
        $("#many-tab").addClass("active");
        $("#money-tab").removeClass("active");
        $("#managed-tab").removeClass("active");
      }else if(val == 'E-Money'){
        $("#credit-tab").removeClass("active");
        $("#debit-tab").removeClass("active");
        $("#payroll-tab").removeClass("active");
        $("#many-tab").removeClass("active");
        $("#money-tab").addClass("active");
        $("#managed-tab").removeClass("active");
      }else if(val == 'Managed'){
        $("#credit-tab").removeClass("active");
        $("#debit-tab").removeClass("active");
        $("#payroll-tab").removeClass("active");
        $("#many-tab").removeClass("active");
        $("#money-tab").removeClass("active");
        $("#managed-tab").addClass("active");
      }
    });


  });

</script>

<style type="text/css">



.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

</style>
<?php $mandatory = ($this->confirmPage != 1) ? "<strong class='formreq'>&nbsp;<span class='errmsg'>*</span></strong>" : ""; ?>
<?php if($this->error){ ?>
    <div class="errmsg"><?=html_entity_decode($this->report_msg)?></div><br />
<?php } ?>
<div class="portlet-body form content-box">
<form name="payment" method="post" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" enctype="multipart/form-data">
  <input name="process" value="" type="hidden">
  <input name="num" value="" type="hidden">
  <input name="page" value="" type="hidden">
  <input name="titleForm" value="Import File" type="hidden">

    <div class="row">
    <div class="col-md-12">
      <style type="text/css">
          .red{
            color: red;
          }

          .nav-tabs .nav-link {
            border-color: #c9c9c9;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 135px;
            text-align: center;
          }
          .nav-tabs .nav-link:hover {
            border-color: #c9c9c9;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color:white;
            margin-top: -10px;
              padding-bottom: 10px;
              top: -10px;
              padding-top: 18px;
              height: 47.5px;
          }
          .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
              color:white;
              border-color: #dee2e6 #dee2e6 #fff;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              margin-top: -10px;
              padding-bottom: 10px;
              top: -10px;
              padding-top: 14px;
              height: 47.5px;
              font-size: 13px
          }
      </style>
       <ul class="nav nav-tabs">
       <li class="nav-item">
          <a class="nav-link active" id="managed-tab" href="#" onclick="bulkchange('7')" role="tab" at="7" value="7" aria-controls="managed" aria-selected="false"><?php echo $this->language->_('Managed');?></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="payroll-tab" href="#" onclick="bulkchange('2')" role="tab" at="3" value="3" aria-controls="payroll" aria-selected="false"><?php echo $this->language->_('Payroll');?></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="many-tab" href="#" onclick="bulkchange('4')" role="tab" at="4" value="4" aria-controls="many" aria-selected="false"><?php echo $this->language->_('Many to many');?></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="money-tab" href="#" onclick="bulkchange('3')" role="tab" at="5" value="5" aria-controls="money" aria-selected="false"><?php echo $this->language->_('E-Money');?></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="credit-tab" href="#" onclick="bulkchange('0')" role="tab" at="1" value="1" aria-controls="credit" aria-selected="true"><?php echo $this->language->_('One to Many');?></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="debit-tab" href="#" onclick="bulkchange('1')" role="tab" at="2" value="2" aria-controls="debit" aria-selected="false"><?php echo $this->language->_('Many to One');?></a>
        </li>
         
      </ul>
      <!-- <a href="/singlepayment/within" class="switch aktif"><?php echo $this->language->_('In House');?></a>
      <a href="/singlepayment/virtualaccount" class="switch"><?php echo $this->language->_('Virtual Accounts');?></a>
      <a href="/singlepayment/remittance" class="switch"><?php echo $this->language->_('Valas');?></a>
      <a href="/singlepayment/domestic" class="switch"><?php echo $this->language->_('Domestic');?></a> -->

    </div>
  <!-- <div class="col-md-5"> -->


    <?php
    //echo $this->formButton('back',$this->language->_('Import files'),array('class'=>'btnwhite hov',"onclick"=>"redirectbulk();"));
  //   echo '&nbsp;';
    // echo $this->formButton('back',$this->language->_('Templates'),array('class'=>'btnwhite hov', "onclick"=>"modaltemplate();"));
    // echo '&nbsp;';

    // echo $this->formButton('back',$this->language->_('Approval List'),array('class'=>'btnwhite hov',"onclick"=>"modalapproval();"));
    ?>
  <!-- </div> -->

  </div>
  <br>
  
  
  
  <div class="row" id="filter">
    
    <div class="col-md-12 ">


      <div class="row">
      <div class="col-md-12">
          <h5><?=$this->language->_('Document Upload')?></h5>
          <h7 style="color: grey;"><?=$this->language->_('Bulk Transfer Document Upload')?></h>
      </div>
  </div>

  <?php
  $optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
  foreach($this->filterlist as $row){
      $optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
  }
  // echo $optArr;die;
  ?>

  <div class="row" id="logo-title" style="display: none">
    <div class="portlet-body form col-md-12">
        
        <?php
        if(!empty($this->wherecol)){
            ?>
            <script type="text/javascript">
                $(document).ready(function(){
                $("#logo-title").show();
            });

            </script>
            <?php
        }
        if(!empty($this->wherecol)){
        foreach ($this->wherecol as $key => $value) {
            ?>
                <div id="searchs" style="width: 100%">
                <?php
                    $datetype = array("LAST_UPLOADED_DATE","EFFECTIVE_DATE");
                    $selectlist = array('STATUS','TRANSFER_TYPE','CCY');
                    $input = array('SUBJECT','LAST_UPLOADED_BY');
                    $index = 0;
                ?>
                        <div id="where-<?=$ctr?>">
                            <div class="form-group row mt-12">
                                <div class="col-md-4 form-inline">
                                    <select class='form-control col-md-12 event_select' style='width:100%' id='wherecol-<?=$ctr?>' name='wherecol[]' onchange='getOpt(this)'>
                                        <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                        <?php

                                         foreach($this->filterlist as $row){
                                            $colname = $row;
                                            if($value==$colname){
                                                $selected = "selected";
                                            }
                                            else{
                                                $selected = "";
                                            }
                                        ?>
                                            <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                        <?php }?>
                                    </select>
                                </div>
                                
                                <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'>
                                        <script type="text/javascript">
                                            $(document).ready(function(){
                                            var colval = "#colvalue-s<?=$key?>";
                                            var colomnname = "<?=$value?>";
                                            // var colselect= "<?=$value?>";
                                            var colselect = "colselect-s<?=$key?>";
                                            var ncolselect = "#colselect-s<?=$key?>";
                                            if(colomnname == 'STATUS'){

                                                    $(colval).append("<select class='form-control col-md-12' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

                                                    var id = $("#tablename").find(":selected").val();
                                                    $.ajax({
                                                    url: "<?=$this->url(array('module'=>'newbatchpayment','controller'=>'index','action'=>'status'),null,true)?>",
                                                    type: 'GET',
                                                    dataType: "html",
                                                    data: {
                                                        id: '<?=$this->whereval[$index]?>'
                                                    },
                                                    success: function(data) {
                                                        $(ncolselect).html(data);
                                                    },
                                                    error: function(xhr, ajaxOptions, thrownError)
                                                    {
                                                        alert("Failed to get where column list, please try again");
                                                    }
                                                });

                                                    $(colselect).val('<?=$this->whereval[$index]?>');

                                            }else if(colomnname == 'TRANSFER_TYPE'){

                                                    $(colval).append("<select class='form-control col-md-12' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

                                                    var id = $("#tablename").find(":selected").val();
                                                    $.ajax({
                                                    url: "<?=$this->url(array('module'=>'newbatchpayment','controller'=>'index','action'=>'transfertype'),null,true)?>",
                                                    type: 'GET',
                                                    dataType: "html",
                                                    data: {
                                                        id: '<?=$this->whereval[$index]?>'
                                                    },
                                                    success: function(data) {
                                                        $(ncolselect).html(data);
                                                    },
                                                    error: function(xhr, ajaxOptions, thrownError)
                                                    {
                                                        alert("Failed to get where column list, please try again"); 
                                                    }
                                                });
                                                    // document.getElementById(colselect).value = '<?=$this->whereval[$index]?>';
                                                    $(colselect).val('<?=$this->whereval[$index]?>');

                                            }else if(colomnname == 'CCY'){

                                                    $(colval).append("<select class='form-control col-md-12' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

                                                    var id = $("#tablename").find(":selected").val();
                                                    $.ajax({
                                                    url: "<?=$this->url(array('module'=>'newbatchpayment','controller'=>'index','action'=>'currency'),null,true)?>",
                                                    type: 'GET',
                                                    dataType: "html",
                                                    data: {
                                                        id: '<?=$this->whereval[$index]?>'
                                                    },
                                                    success: function(data) {
                                                        $(ncolselect).html(data);
                                                    },
                                                    error: function(xhr, ajaxOptions, thrownError)
                                                    {
                                                        alert("Failed to get where column list, please try again");
                                                    }
                                                });
                                                    $(colselect).val('<?=$this->whereval[$index]?>');

                                            }
                                        });

                                        </script>
                                    <?php
                                        if($value == 'LAST_UPLOADED_DATE'){
                                            // var_dump($this->whereval);die;
                                            ?>
                                            <input type='text' class='form-control col-md-12' name='lastuploaded[]' id='lastuploadedstart' readonly value="<?=$this->lastuploadedstart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control col-md-12' name='lastuploaded[]' id='lastuploadedend' value="<?=$this->lastuploadedend?>" readonly required>
                                            <?php
                                            }else if($value == 'EFFECTIVE_DATE'){
                                            // var_dump($this->whereval);die;
                                            ?>
                                            <input type='text' class='form-control col-md-12' name='effective[]' id='effectivestart' readonly value="<?=$this->effectivestart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control col-md-12' name='effective[]' id='effectiveend' value="<?=$this->effectiveend?>" readonly required>
                                            <?php
                                            }else if(in_array($value, $input)){
                                            ?>
                                            <input class='form-control col-md-12' type='text' style='width:100%' name='whereval[]' value='<?=$this->whereval[$index]?>'/>
                                            <?php }
                                            if (!in_array($value, $datetype)){
                                                // print_r($value);die;
                                                $index++;
                                            }
                                             ?>
                                </div>
                                <div class="col-md-2 form-inline">
                                    <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>

            </div>

            <?php
        }
    }
        ?>
     <div id="wheres" style="width: 100%">
          <div id="where-<?=$ctr?>">

          </div>
                   
    </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
                <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
                &nbsp;
                <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
                <br/>
                  <div class="portlet-body form" style="display: none">

                     <div class="form-group row ">
                        <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
                        <div class="col-md-4">
                        <?php echo $this->formSelect('paymentType',$this->paymentType,array('id'=>'paymentType','class'=>'form-control col-md-12','onclick'=>'changeTransferType()'), $this->optPayType); ?>
                        </div>
                        <label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
                        <div class="col-md-3">
                        <select name = "transtype" id = "transtype" class="form-control col-md-12">
                            <option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
                        </select>
                        </div>
                     </div>

                     <div class="form-group row ">

                        <div class="col-md-12">
                        <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>&nbsp;

                        </div>
                     </div>
                </div>
        </div>
    </div>

    <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
         <a href="#" class="sidebar-collapse-icon with-animation">
             <?php echo $this->language->_('Advanced Search'); ?>
         </a>
     </div>
     
    </div>
  </div>
  <br>

  <div class="row pt-1" id="tombol2">
     <br><br>
        <div class="formbutton col-md-7" align="left">
          
            <input type="submit" id="buttonsave" class="btngreen hov disabled mt-1" name="save" value="<?php echo $this->language->_('Submit')?>" disabled>
            
            <input class="btnwhite hov disabled mt-1" id="buttoncancel" name="cancel" style="background-color: red !important; color: white !important; " value="<?php echo $this->language->_('Cancel')?>" type="submit" disabled>
          
        </div>
      
          <div class="form-group col-md-5">
            <div style="float:right; padding-left:5px;">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                                    <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                                </div>
                        <input type="text" class="search form-control" placeholder="Search">
                    </div>
                </div>
       
      </div>

  </div>
       
   <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
   
      <table class="table table-sm table-striped" id="myTable">
      <thead>
        <tr class="headercolor">
          <th width="3%" valign="top" class="tablehead"><?php echo $this->formCheckbox('checkall', '',array('onclick'=>'if($(this).is(":checked")){$(".checkAll").prop("checked", true);update();}else{$(".checkAll").prop("checked", false);$("#buttoncancel").prop("disabled", true);$("#buttoncancel").addClass("disabled");$("#buttonsave").prop("disabled", true);$("#buttonsave").addClass("disabled");};'));?></th>
          <th class="tablehead" style="z-index: 1;" width="3%"><strong>Status</strong></th>
          <th class="tablehead" width="6%"><strong>Transfer Type</strong></th>
          <th class="tablehead" width="10%"><strong>Last Uploaded By</strong></th>
          <th class="tablehead" width="8%"><strong>Effective Date</strong></th>
          <th class="tablehead" width="3%"><strong>CCY</strong></th>
          <th class="tablehead" style="text-align: right !important;" width="10%"><strong>Total Amount (Data)</strong></th>
          <th class="tablehead" style="text-align: right !important;" width="10%"><strong>Success Amount (Data)</strong></th>
          <th class="tablehead" style="text-align: right !important;" width="10%"><strong>Failed Amount (Data)</strong></th>

        </tr>
      </thead>
      <tbody>
        <?php

         if(count($this->paginator) > 0)
            {
             foreach($this->paginator as $row) {
               if($counter % 2 == 0 )
                 $css = 'tbl-evencontent';
               else
                 $css = 'tbl-oddcontent';

                $changesCreated = Application_Helper_General::convertDate($row['PS_UPLOADED'],$this->displayDateTimeFormat,$this->defaultDateFormat);

               if ($row['VALIDATION'] == 1) {
                $check = '';
                 $indicator = '<span class="indicator online"></span>';
                 $sukses = Application_Helper_General::displayMoney($row['PS_SUCCESS_AMOUNT']).'<br>('.number_format($row['PS_SUCCESS_TXAMOUNT']).')';
                 $failed = '<span class="red">'.Application_Helper_General::displayMoney($row['PS_FAILED_AMOUNT']).'<br>('.number_format($row['PS_FAILED_TXAMOUNT']).')'.'</span>';
               }elseif ($row['VALIDATION'] == 2) {
                 $check = $this->formCheckbox('bs_id[]', $row['BS_ID'],array('class' => 'checkAll', 'onclick' => 'update(this)', 'data-status' => $row['VALIDATION'] ));
                 $indicator = '<span class="indicator warning"></span>';
                 $sukses = 'n/a';
                 $failed = 'n/a';
               }elseif ($row['VALIDATION'] == 3) {
                 $check = $this->formCheckbox('bs_id[]', $row['BS_ID'],array('class' => 'checkAll', 'onclick' => 'update(this)', 'data-status' => $row['VALIDATION'] ));
                 $indicator = '<span class="indicator offline"></span>';
                 $sukses = Application_Helper_General::displayMoney($row['PS_SUCCESS_AMOUNT']).'<br>('.number_format($row['PS_SUCCESS_TXAMOUNT']).')';
                 $failed = '<span class="red">'.Application_Helper_General::displayMoney($row['PS_FAILED_AMOUNT']).'<br>('.number_format($row['PS_FAILED_TXAMOUNT']).')'.'</span>';
               }

               $docURL = $this->url(array(  'module'  =>'newbatchpayment',
                                            'controller'=>'index',
                                            'action'  =>'document',
                                            'BS_ID'  =>$row['BS_ID']),null,true);

              if ($row['PS_TYPE'] == 22) {
                  $PS_NUMBERlink = "<a href='".$docURL."'>".'No payment subject'."</a>"; 
                  $efdate = '-';
                  $paymentsubject = 'No payment subject';
                  $paymenttype = 'Many to many';
              }else{
                  $PS_NUMBERlink = "<a href='".$docURL."'>".$row['PS_SUBJECT']."</a>";
                  $efdate = Application_Helper_General::convertDate($row['PS_EFDATE'],$this->viewDateFormat,$this->defaultDateFormat);
                  $paymentsubject = $row['PS_SUBJECT'];
                  $paymenttype = $this->paymentType['desc'][$this->paymentTypeFlip[$row['PS_TYPE']]];
              } 
            ?>

            <tr>
              
              <td class="<?=$css?>"><?=$check?></td>
              <td class="<?=$css?>"><?=$indicator?></td>
             <?php if ($row['VALIDATION'] == 2) { ?>
                <td class="<?=$css?>"><?=$paymenttype?> - <?=$paymentsubject?></td>
             <?php }else if($row['VALIDATION'] == 3){ ?>
                <td class="<?=$css?>"><?=$paymenttype?> - <?=$PS_NUMBERlink?></td>
             <?php }elseif ($row['VALIDATION'] == 1) { ?>
                <td class="<?=$css?>"><?=$paymenttype?> - <?=$PS_NUMBERlink?></td>

            <?php } ?>
              <td class="<?=$css?>"><?=$this->pdfUserlist[$row['UPLOADBY']]?> - <?=$changesCreated?></td>
              <td class="<?=$css?>"><?=$efdate?></td>
              <td class="<?=$css?>"><?=$row['PS_CCY']?></td>
              <td class="<?=$css?>" align="right"><?=Application_Helper_General::displayMoney($row['PS_TOTAL_AMOUNT']).'<br>('.number_format($row['PS_TXCOUNT']).')'?></td>
              <td class="<?=$css?>" align="right"><?=$sukses?></td>
              <td class="<?=$css?>" align="right"><?=$failed?></td>
              
            </tr>
            <?php
             $counter++;
             }
            }
            else {
            ?>
            <tr>
             <td colspan="11" align="center"> --- <?php echo $this->language->_('No Data'); ?> --- </td>
            </tr>
            <?php
            }
            ?>
      </tbody>
    </table>
  </div> 

   <div class="col-md-12 " align="center" >
      <h6><?php echo $this->language->_('You are using current adapter profile:'); ?></h6>
      <h6 class="" style="font-weight: bold;"> BCA_payroll (xlsx)</h6>
      <br>
  </div> 
  
  <div class="row pt-1" id="second">

      <div class="col-md-7">
          <table class="form-horizontal form-bordered form-row-stripped" border="0" cellpadding="4" cellspacing="4" width="100%" align="center">
            <tbody>
              <tr>
                <td style="width: 100px"></td>
                <td colspan="" nowrap="nowrap">


                    <div class="portlet-body form" style="width: 700px;">

                      <div class="portlet-body form">
                        <div class="form-group row ">
                                    <label class="control-label col-md-3"></label>
                                    <div class="col-md-9 note">
                                    <?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?>
                                    </div>
                        </div>
                         <div class="form-group row " style="display: none;">
                                    <label class="control-label col-md-3"><?php echo $this->language->_('Bulk Transfer Type'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                    <div class="col-md-9">
                                    <?php
                                      $arrFirst = array();
                                  $arrFirst[''] = '-- Select Batch Type --';
                                  $this->BulkArr = array_merge($arrFirst, $this->BulkType);
                                  echo $this->formSelect('BULK_TYPE',$this->BULK_TYPE,array('id'=>'BULK_TYPE','class'=>'form-control','onchange'=>'bulkchange(this.value);'), $this->BulkArr);
                                    ?>

                                    <?php
                                    $ns = new Zend_Session_Namespace('language');
                                        $sessionLanguage = $ns->langCode;

                                        // if($sessionLanguage == 'id'){
                                        //   $file = '/template/Payroll_Template_id.csv';
                                        // }
                                        // else{
                                        //   $file = '/template/Payroll_Template_en.csv';
                                        // }


                                        // if($sessionLanguage == 'id'){
                                        //     $file = 'Multi_Credit_Template_id.csv';
                                        //   }
                                        //   else{
                                        //     $file = 'Multi_Credit_Template_en.csv';
                                        //   }

                                      ?>
                                              <strong>

                                      <span style="font-size:10px;font-style:normal;">
                                      <div  style="width: 100%" class="row">
                                        <div class="col-md-9" id="adapter">
                                        <img src="/images/convert.png" height="47" width="49" style="padding-top: 2px">
                                        <a href="/adapter" style="color:#F4C301;text-align: left;"><u><?php echo $this->language->_('File Adapter'); ?></u></a>
                                        <input type="hidden" name="lang" id="lang" value="<?php echo $sessionLanguage;?>" >
                                        </div>

                                        <div class="col-md-3" id="template" >
                                          <img src="/images/download.png"  style="width: 35px;" height="47" width="49">
                                        <a href="<?=$file?>" id="temp" style="color:#F4C301; text-align: right;"><u><?php echo $this->language->_('download template'); ?></u></a>
                                        </div>
                                      </div>
                                      </span></strong>

                                    </div>
                                </div>
                          
                                <div class="form-group row subject ">
                                    <label class="control-label col-md-3"><?php echo $this->language->_('Subject'); ?></label>
                                    <div class="col-md-9">
                                    <?php echo $this->formText('PSSUBJECT',$this->PSSUBJECT,array('size'=>40,'maxlength'=>128,'class'=>'form-control'))?>
                                    </div>
                                </div>

                                 <div class="form-group row payment_date ">
                                    <label class="control-label col-md-3"><?php echo $this->language->_('Payment Date'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                    <div class="col-md-9" align="left">
                                      <input type="text" id="PSEFDATE" name="PSEFDATE" class="form-control" value="" placeholder="yyyy-mm-dd" autocomplete="off">
                                      <script>
                                            $('#PSEFDATE').datepicker({
                                                minDate: function() {
                                                    var date = new Date();
                                                   date.setDate(date.getDate() + 1);
                                                    return new Date(date.getFullYear(), date.getMonth(), date.getDate());
                                                },
                                                format: 'yyyy-mm-dd',
                                                uiLibrary: 'bootstrap4',
                                            });
                                      </script>


                                    </div>
                                </div>
                               <div class="form-group row " id="source">
                                    <label class="control-label col-md-3"><?php echo $this->language->_('Source Account'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                    <div class="col-md-9">
                                    <?php  echo $this->formApp("SELECT_ACCTSRC", $this->AccArr, $this->ACCTSRC, "ACCTSRC"); ?>
                                    </div>
                                </div>


                                <div class="form-group row " id="benef">
                                    <label class="control-label col-md-3"><?php echo $this->language->_('Beneficiary Account'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                 <div class="col-md-9">
                                  <div class="input-group">
                                   <?php echo $this->formText('ACBENEF',$this->ACBENEF,array('readonly'=>'readonly','size'=>40,'maxlength'=>20,'onkeypress'=>'return forceNumberOCBC(event)','class'=>'form-control'))?>
                                   <div class="input-group-append">
                     <input class="btn btn-success" value="<?php echo $this->language->_('Account Book')?>" onclick="javascript:openwindow('/popup/bulkpopup?fl3nc=1&amp;r=pnngnbjvys707sv5&amp;param=',640,580);" type="button">
                   </div>
                     <input name="ACBENEF_FULL" value="" type="hidden">
                     <?php echo $this->formText('ACBENEF_ALIAS',$this->ACBENEF_ALIAS,array('size'=>40,'maxlength'=>128,'style'=>'display:none'))?>
                     <?php //echo $this->formText('ACBENEF_ALIASLABEL',$this->ACBENEF_ALIASLABEL,array('size'=>40,'maxlength'=>128,'style'=>''))?>
                                </div>
                                  </div>
                                </div>
                                <div class="form-group row" id="benef1">
                                               <label class="control-label col-md-3"><?php echo $this->language->_('Beneficiary Account Name'); ?></label>
                                               <div class="col-md-9">
                                               <?php echo $this->formText('ACBENEF_BANKNAME',$this->ACBENEF_BANKNAME,array('size'=>40,'maxlength'=>40,'readonly'=>'readonly','class'=>'inputtext'))?>
                                               </div>
                                           </div>
                                  <div class="form-group row" style="display: none">
                                  <label class="control-label col-md-3"><?php echo $this->language->_('Beneficiary Alias Name'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                    <div class="col-md-9">
                                          <?php echo $this->formText('ACBENEF_ALIASLABEL',$this->ACBENEF_ALIASLABEL,array('size'=>40,'maxlength'=>40,'class'=>'inputtext form-control'))?>
                                        </div>
                                    </div>

                                <div class="form-group row" id="benef2">
                                  <label class="control-label col-md-3"><?php echo $this->language->_('Curency'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                    <div class="col-md-9">
                                      <?php echo $this->formText('CURR_CODE',$this->CURR_CODE,array('size'=>40,'maxlength'=>40,'class'=>'inputtext'))?>
                                        </div>
                                    </div>

                            
                                <div class="form-group row" id="selectfile">
                                    <label class="control-label col-md-3"><?php echo $this->language->_('Select File'); ?><strong class="formreq"><font color=red>&nbsp;*</font></strong></label>
                                    <div class="col-md-9">
                                  <div class="file-upload">
                              <div class="file-select">
                                <div class="file-select-button" id="fileName">Choose File</div>
                                <div class="file-select-name" id="noFile">No file chosen...</div>
                                <input type="file" name="PS_FILE" id="chooseFile">
                              </div>
                            </div>
                          </div>
                          </div>

                          <div class="form-group row" id="file_id">
                              <label class="control-label col-md-3"><?php echo $this->language->_('File ID'); ?></label>
                              <div class="col-md-9">
                              <?php echo $this->formText('PSFILEID',$this->PSFILEID,array('size'=>40,'maxlength'=>10,'class'=>'form-control'))?>
                              <div class="input-group">
                                  <?=$mandatory?> <a href="#" onclick="input(this)" data-status="0"><u style="color: blue;">Click here</u></a><p id="subtitle" class="ml-1"> to bypass File ID validation</p>
                              </div>
                              </div>
                          </div>
                    </div>
                   </div>
                   </td></tr>
              </tbody>
          </table>

        </div>

        <div class="col-md-5" align="right">
            
          <?php  $file = '/template/Template_Batch_Payment_v1.1.xlsx'; ?> 
            <a class="btnwhite hov card templateBtn" href="<?=$file?>"  style="text-transform: none; padding-top:5px;<?php echo $btntemplatedisplay; ?>"><img src="/images/icon/light/folded-text-document.png"></i>&nbsp;<?php echo $this->language->_('Templates'); ?></a>
        </div>

      </div>
        <br>
        <div class="formbutton" align="center" id="tombol">
          <input class="btnwhite hov" value="<?php echo $this->language->_('Cancel')?>" onclick="location.href='/home/index'" type="button">

          <?php if ($this->token) { ?>

             <button class="btngreen hov"  type="button" data-toggle="modal" data-target="#tokenmodal">&nbsp;<?php echo $this->language->_('Next'); ?></button>
          
        <?php } else { ?>
          
            <input type="submit" class="btngreen hov" name="submit" value="<?php echo $this->language->_('Submit')?>"/>

        <?php } ?>


        </div>

        <br>

</form>
</div>

<script type="text/javascript">
function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
$(document).ready(function(){

$("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control col-md-12 event_select' id='wherecol-"+ctr+"' name='wherecol[]' onchange='getOpt(this)'>"+optstr+"</select></div><div style='display:none'><select class='form-control col-md-12' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-"+ctr+"'><input class='form-control col-md-12' type='text' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);
    });
});
    function getOpt(elem){
    var id = elem.id;
    var temp = id.split('-');
    var ctr = temp[1];

    var selval = elem.value;
    var tempval = selval.split('-');
    dttype = tempval[1];

    colomnname = tempval[0];
    var colval = "#colvalue-"+ctr;
    var colselect = "colselect-"+ctr;
    var ncolselect = "#colselect-"+ctr;
    var $coll = $( '.event_select' );
    $coll.children().prop( 'disabled', false );
    $coll.each(function () {
        var val = this.value;
        if ( val === 'original' ) return;
        $coll.not( this ).children( '[value="' + val + '"]' ).prop( 'disabled', true );
    });

    $(colval).empty();
    if(colomnname == 'LAST_UPLOADED_DATE'  ){
        $(colval).append("<input type='text' class='form-control col-md-12' name='lastuploaded[]' id='lastuploadedstart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control col-md-12' name='lastuploaded[]' id='lastuploadedend' readonly required>");
                                                                        $('#lastuploadedstart').datepicker({
                                                                            format: 'dd/mm/yyyy',
                                                                            uiLibrary: 'bootstrap4'
                                                                        });
                                                                        $('#lastuploadedend').datepicker({
                                                                            format: 'dd/mm/yyyy',
                                                                            uiLibrary: 'bootstrap4'
                                                                        });

    }else if(colomnname == 'EFFECTIVE_DATE'  ){
        $(colval).append("<input type='text' class='form-control col-md-12' name='effective[]' id='effectivestart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control col-md-12' name='effective[]' id='effectiveend' readonly required>");
                                                                        $('#effectivestart').datepicker({
                                                                            format: 'dd/mm/yyyy',
                                                                            uiLibrary: 'bootstrap4'
                                                                        });
                                                                        $('#effectiveend').datepicker({
                                                                            format: 'dd/mm/yyyy',
                                                                            uiLibrary: 'bootstrap4'
                                                                        });

    }else if(colomnname == 'TRA_AMOUNT' || colomnname == 'PS_TOTAL_AMOUNT' || colomnname == 'EQUIVALENT_AMOUNT_IDR' || colomnname == 'EQUIVALENT_AMOUNT_USD' ){
        $(colval).append("<input type='text' name='whereval[]'  value='' style='width:100%' maxlength='20' autocomplete='off' class='form-control col-md-12' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
    }else if(colomnname == 'STATUS'){

            $(colval).append("<select class='form-control col-md-12' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
            // alert();
            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'newbatchpayment','controller'=>'index','action'=>'status'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'TRANSFER_TYPE'){

            $(colval).append("<select class='form-control col-md-12' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'newbatchpayment','controller'=>'index','action'=>'transfertype'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else if(colomnname == 'CCY'){

            $(colval).append("<select class='form-control col-md-12' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'newbatchpayment','controller'=>'index','action'=>'currency'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

    }else{
         $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control col-md-12' >");
    }


    var optsel = "whereopt-"+ctr;
    document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

    if(dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal'){
        document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }
    if(dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
    }
    else if(dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
    }
    else if(dttype == 'date' || dttype == 'datetime'){
        document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
        document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
        document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
        document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
    }

    var colomn = '#whereopt-'+ctr;
    var data = $(colomn).val('EQUAL').change();

}
</script>