<script>
$(document).ready(function(){
	var data = <?=$this->err_msg?>;
	if( data != '' && data != 0 && data != null )
	{
		$.each( data, function( key, value ) {
			$("#"+ key ).after( "<div class='errmsg'>"+value+"</div>" );
		});
	}
		console.log(data);
});
</script>
<b> <?php echo $this->language->_('General'); ?> &gt; <?php echo $this->language->_('Escrow Account'); ?> &gt; <?php echo $this->language->_('Add'); ?> <?php if($this->confirmPage === 1){echo '&gt; Confirm ';}?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Escrow Account Management'); ?></div>
<br />

<?php if($this->err_msg != '[]'){ ?>
<div class="errmsg"><?php echo $this->language->_('Error in processing form values. Please correct values and re-submit'); ?>.</div><br />
<?php } ?>


<form method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">
  <table cellpadding="3" cellspacing="0" border="0" class="tableform" width="300px">
    <tr><th colspan="3" class="tdform-sub"><strong><?php echo $this->language->_('New Escrow Account'); ?></strong></th></tr>
    
    <?php 
		if($this->confirmPage === 0){
	?>
    <tr>
	  <td class="tbl-evencontent">&nbsp;</td>
	  <td class="tbl-evencontent" colspan="2"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (*) <?php echo $this->language->_('are required'); ?></td>
    </tr>
    <?php 
		}
	?>
    
    <tr>
	  <td class="tbl-evencontent" width="80px"><?php echo $this->formLabel('acct_no','Account Number'); ?> <?php if($this->confirmPage === 0){?>&nbsp;<span class="errmsg">*</span><?php }?></td>
	  <td class="tbl-evencontent" width="3px">:</td>
	  <td class="tbl-evencontent">
		<?php 
				if($this->confirmPage == 1)
					echo $this->formLabel('acct_no',$this->acct_no); 
				else
					echo $this->formText('acct_no',$this->acct_no,array('maxlength'=>25,'size'=>30,'onfocus'=>'AlnumOnly(this.value,this.id)','onblur'=>'AlnumOnly(this.value,this.id)','onkeypress'=>'return forceAlnumOCBC(event)')); 
		?>
	  </td>
    </tr>
    
     <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('ccy_id','Currency'); ?><?php if($this->confirmPage === 0){?>&nbsp;<span class="errmsg">*</span><?php }?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent">
		<?php
			if($this->confirmPage == 1)
				echo $this->formLabel('ccy_id',$this->CCYData[$this->ccy_id]); 
			else
				echo $this->formSelect('ccy_id','ccy_id',$this->ccy_id,$this->CCYData);
		?>
	  </td>
    </tr>
  </table>
  <br />
  <div><?php
    $backButton =  $this->url(array('module'=>$this->modulename),null,true);
    echo $this->formButton('back','Back',array('onclick'=>'location.href=\''.$backButton.'\'','class'=>'inputbtn'));
    echo '&nbsp;&nbsp;';
    echo $this->formHidden('confirmPage',$this->confirmPage);
	if($this->confirmPage == 1)
	{
		echo $this->formHidden('acct_no',$this->acct_no);
		echo $this->formHidden('ccy_id',$this->ccy_id);
		 echo $this->formSubmit('submit','Submit',array('class'=>'inputbtn'));
	}
	else
	{
		 echo $this->formSubmit('submit','Confirm',array('class'=>'inputbtn'));
		echo '&nbsp;&nbsp;';
		echo $this->formReset('reset','Reset',array('class'=>'inputbtn'));
	}
  ?></div>
</form>