<style>
	.switch {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 20px;
	}

	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 13px;
		width: 13px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked+.slider {
		background-color: #2196F3;
	}

	input:focus+.slider {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked+.slider:before {
		-webkit-transform: translateX(20px);
		-ms-transform: translateX(20px);
		transform: translateX(20px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
</style>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?= $this->language->_('Home'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Customer Management'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<span><?= $this->language->_('Line Facility'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?= $this->language->_('Detail'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	table {
		font-size: 14px !important;
	}

	button:disabled {
		cursor: not-allowed;
	}

	.headercolor {
		color: #fff;
		background-color: #0b549f !important;
	}

	.btn-sm {
		padding: .10rem .3rem !important;
	}

	.btn-light {
		box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%);
	}
</style>

<h5><?= $this->language->_('Line Facility Detail'); ?></h5>
<div class="row content-box mb-3">
	<div class="col-md-12">
		<?php if ($this->is_update) : ?>
			<div class="alert alert-danger">
				<?= $this->language->_('No changes allowed for this record while awaiting approval for previous change'); ?>
			</div>
		<?php endif; ?>

		<?php if ($this->error_unfreeze) : ?>
			<div class="alert alert-danger">
				<ul class="mb-0">
					<?php foreach ($this->error_unfreeze as $value) { ?>
						<li><?= $value; ?></li>
					<?php } ?>
				</ul>
			</div>
		<?php endif; ?>
		<table class="table-hover my-3" cellpadding="5" style="width:100%">
			<tr>
				<td width="300"><?= $this->language->_('Customer'); ?></td>
				<td width="10">:</td>
				<td><b><?= strtoupper($this->data['CUST_NAME']) . ' (' . $this->data['CUST_ID'] . ')'; ?></b></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Collectibility Code'); ?></td>
				<td>:</td>
				<td><?= $this->data['COLLECTIBILITY_CODE'] ? $this->data['COLLECTIBILITY_CODE'] . ' - ' . $this->creditArr[$this->data['COLLECTIBILITY_CODE']] : '-'; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Segmentation'); ?></td>
				<td>:</td>
				<td><?= $this->data['CUST_SEGMENT'] ? $this->segmentationArr[$this->data['CUST_SEGMENT']] : '-'; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Jenis Pengikatan'); ?></td>
				<td>:</td>
				<td><?= $this->data['AGREEMENT_TYPE'] ? $this->agreementArr[$this->data['AGREEMENT_TYPE']] : '-'; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Underlying Document'); ?></td>
				<td>:</td>
				<td>
					<?= $this->data['PKS_NUMBER'] ?: '-'; ?>
					<?= $this->data['PKS_FILE'] ? '<button type="button" class="btn btn-sm btn-light ml-3" onclick="window.location.href=\'' . $this->currentUrl . '/download/1\'">' . $this->language->_('Download') . '</button>' : ''; ?>
				</td>
			</tr>
			<tr>
				<td><?= $this->language->_('Facility Start Date'); ?></td>
				<td>:</td>
				<td><?= $this->data['PKS_START_DATE'] ? date('d M Y', strtotime($this->data['PKS_START_DATE'])) : '-'; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Facility Expired Date'); ?></td>
				<td>:</td>
				<td><?= $this->data['PKS_EXP_DATE'] ? date('d M Y', strtotime($this->data['PKS_EXP_DATE'])) : '-'; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Claim Payment Deadline (when default)'); ?></td>
				<td>:</td>
				<td><?= $this->data['CLAIM_DEADLINE'] ? $this->data['CLAIM_DEADLINE'] . ' hari kerja' : '-'; ?></td>
			</tr>
			<tr class="financial" style="display:none">
				<td><?= $this->language->_('Document Submission Deadline'); ?></td>
				<td>:</td>
				<td><?= $this->data['DOC_DEADLINE'] ? $this->data['DOC_DEADLINE'] . ' hari kerja' : '-'; ?></td>
			</tr>
			<?php if ($this->data["CUST_SEGMENT"] == 4) { ?>
				<tr>
					<td><?= $this->language->_('Grace Period to recover Marginal Deposit'); ?></td>
					<td>:</td>
					<td><?= $this->data['GRACE_PERIOD'] ? $this->data['GRACE_PERIOD'] . ' hari kerja' : '-'; ?></td>
				</tr>
			<?php } ?>
			<tr class="financial" style="display:none">
				<td><?= $this->language->_('Fee Will be Debited from'); ?></td>
				<td>:</td>
				<td><?= ($this->data['FEE_DEBITED'] == 1) ? 'Pemohon' : 'Asuransi'; ?></td>
			</tr>
			<tr class="institution" style="display:none">
				<td><?= $this->language->_('Debited Account'); ?></td>
				<td>:</td>
				<td><?= $this->debitedAcctArr[$this->data['DEBITED_ACCOUNT']] ?: '-'; ?></td>
			</tr>
			<?php
			if (!empty($this->data['PAYMENT_ACCT'])) {
				$db = Zend_Db_Table::getDefaultAdapter();

				$sql = $db->select()
					->from(["MCA" => "M_CUSTOMER_ACCT"])
					->where("MCA.ACCT_NO = ?", $this->data["PAYMENT_ACCT"]);
				$select = $db->fetchRow($sql);
			}
			?>
			<?php if ($this->cust_model == 2 || $this->cust_model == 1) : // Insurance 
			?>
				<tr>
					<td><?= $this->language->_('Rekening Pembayaran Klaim'); ?></td>
					<td>:</td>
					<td><?= $this->data['PAYMENT_ACCT'] . ' - ' . $select['ACCT_NAME'] ?: '-'; ?></td>
				</tr>
			<?php endif; ?>
			<tr>
				<td><?= $this->language->_('Facility Plafond Limit'); ?></td>
				<td>:</td>
				<td>IDR <?= number_format($this->data['PLAFOND_LIMIT'], 2) ?: 0; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Facility have been used'); ?></td>
				<td>:</td>
				<td class="text-danger">(IDR <?= number_format($this->limit_used, 2) ?: 0; ?>)</td>
			</tr>
			<tr>
				<td><?= $this->language->_('Available Limit'); ?></td>
				<td>:</td>
				<td>IDR <?= number_format($this->current_limit, 2) ?: 0; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Ticket Size'); ?></td>
				<td>:</td>
				<td>
					<?php
					$percent10 = ($this->data["PERCENT_PLAFOND"] / 100) * (float)$this->data['PLAFOND_LIMIT'];
					if ($this->data['TICKET_SIZE'] == 1) {
						echo $this->data["PERCENT_PLAFOND"] . '% (IDR ' . number_format($percent10, 2) . ')';
					} elseif ($this->data['TICKET_SIZE'] == 2) {
						echo 'Allowed to optimized Plafond Limit';
					} else {
						echo 'IDR ' . number_format($this->data['TICKET_SIZE'], 2);
					}
					?>
				</td>
			</tr>
			<tr class="financial" style="display:none">
				<td><?= $this->language->_('Marginal Deposit'); ?></td>
				<td>:</td>
				<td>
					<?php
					$get_percent = number_format(round($this->data['MARGINAL_DEPOSIT'] / $this->data['PLAFOND_LIMIT'] * 100, 2), 2);
					echo $get_percent . "%"
					?>
					(IDR
					<?php
					// if ($this->data['TICKET_SIZE'] == 1) {
					echo $this->data['MARGINAL_DEPOSIT'] ? number_format($this->data['MARGINAL_DEPOSIT'], 2) : 0;
					// } else {
					// $plafond_limit = $this->data['PLAFOND_LIMIT'];
					// $marginal_deposit = $this->data['MARGINAL_DEPOSIT'];
					// $percent = ((float)$marginal_deposit / 100) * (float)$plafond_limit;
					// echo number_format($percent, 2);
					// }
					?>
					)
				</td>
			</tr>
			<tr>
				<td colspan="3">&nbsp</td>
			</tr>
			<tr id="header_provisi">
				<td colspan="3" class="font-weight-bold"><?= $this->language->_('Pengenaan Biaya Provisi Bank Garansi Kontra Line Facility '); ?><span id="jenis_lf"></span></td>
			</tr>
			<tr id="isi_provisi">
				<td colspan="3">
					<table class="my-3" cellpadding="5" style="width:auto">
						<thead>
							<tr>
								<td style="background-color: #0b549f; width: 200px" class="text-white font-weight-bold">Jenis Jaminan</td>
								<td style="background-color: #0b549f; width: 20%" class="text-white font-weight-bold">Aktif</td>
								<td style="background-color: #0b549f;<?= ($this->data["GROUP_BUMN"] === 0) ? "" : "display: none;"; ?>" class="text-white font-weight-bold">Grup BUMN (% p.a)</td>
								<td style="background-color: #0b549f;<?= ($this->data["GROUP_BUMN"] === 0) ? "display: none;" : ""; ?>" class="text-white font-weight-bold">Non Grup BUMN (% p.a)</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Jaminan Pembayaran</td>
								<td>
									<label class="switch">
										<input type="checkbox" name="JAMINAN_PEMBAYARAN" <?= ($this->get_all_provision[0]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false" onchange="checkjaminan(this)">
										<span class="slider round"></span>
									</label>
								</td>
								<td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" name="jaminan_pembayaran_bumn" value="<?= number_format($this->get_all_provision[0]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
								<td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" name="jaminan_pembayaran_nonbumn" value="<?= number_format($this->get_all_provision[1]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
							</tr>
							<tr>
								<td>Jaminan Penawaran</td>
								<td>
									<label class="switch">
										<input type="checkbox" name="JAMINAN_PENAWARAN" <?= ($this->get_all_provision[2]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false" onchange="checkjaminan(this)">
										<span class="slider round"></span>
									</label>
								</td>
								<td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" name="jaminan_penawaran_bumn" value="<?= number_format($this->get_all_provision[2]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
								<td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" name="jaminan_penawaran_nonbumn" value="<?= number_format($this->get_all_provision[3]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
							</tr>
							<tr>
								<td>Jaminan Pelaksanaan</td>
								<td>
									<label class="switch">
										<input type="checkbox" name="JAMINAN_PELAKSANAAN" <?= ($this->get_all_provision[4]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false" onchange="checkjaminan(this)">
										<span class="slider round"></span>
									</label>
								</td>
								<td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" name="jaminan_pelaksanaan_bumn" value="<?= number_format($this->get_all_provision[4]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
								<td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" name="jaminan_pelaksanaan_nonbumn" value="<?= number_format($this->get_all_provision[5]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
							</tr>
							<tr>
								<td>Jaminan Uang Muka</td>
								<td>
									<label class="switch">
										<input type="checkbox" name="JAMINAN_UANG_MUKA" <?= ($this->get_all_provision[6]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false" onchange="checkjaminan(this)">
										<span class="slider round"></span>
									</label>
								</td>
								<td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" name="jaminan_uang_muka_bumn" value="<?= number_format($this->get_all_provision[6]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
								<td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" name="jaminan_uang_muka_nonbumn" value="<?= number_format($this->get_all_provision[7]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
							</tr>
							<tr>
								<td>Jaminan Pemeliharaan</td>
								<td>
									<label class="switch">
										<input type="checkbox" name="JAMINAN_PEMELIHARAAN" <?= ($this->get_all_provision[8]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false" onchange="checkjaminan(this)">
										<span class="slider round"></span>
									</label>
								</td>
								<td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" name="jaminan_pemeliharaan_bumn" value="<?= number_format($this->get_all_provision[8]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
								<td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" name="jaminan_pemeliharaan_nonbumn" value="<?= number_format($this->get_all_provision[9]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
							</tr>
							<tr>
								<td>Jaminan Lainnya (SP2D)</td>
								<td>
									<label class="switch">
										<input type="checkbox" name="JAMINAN_LAINNYA" <?= ($this->get_all_provision[10]["FLAG"] == 1) ? "checked" : ""; ?> onclick="return false" onchange="checkjaminan(this)">
										<span class="slider round"></span>
									</label>
								</td>
								<td><input type="text" class="form-control provision_percentage bumn" style="width: 100px;" name="jaminan_lainnya_bumn" value="<?= number_format($this->get_all_provision[10]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
								<td><input type="text" class="form-control provision_percentage nonbumn" style="width: 100px;" name="jaminan_lainnya_nonbumn" value="<?= number_format($this->get_all_provision[11]["FEE_PROVISION"], 2); ?>" onkeypress="return false"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td colspan="3">&nbsp</td>
			</tr>

			<tr>
				<td colspan="3" class="font-weight-bold"><?= $this->language->_('Biaya Lainnya'); ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Biaya Admin Bank'); ?></td>
				<td>:</td>
				<td>IDR <?= number_format($this->data['FEE_ADMIN'], 2) ?: 0; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Biaya Meterai Bank'); ?></td>
				<td>:</td>
				<td>IDR <?= number_format($this->data['FEE_STAMP'], 2) ?: 0; ?></td>
			</tr>
			<tr>
				<td colspan="3">&nbsp</td>
			</tr>
			<tr>
				<td><?= $this->language->_('Status'); ?></td>
				<td>:</td>
				<td><?= $this->statusArr[$this->data['STATUS']]; ?></td>
			</tr>
			<?php if ($this->data['STATUS'] == 2 || $this->data['STATUS'] == 4) : ?>
				<tr>
					<td><?= $this->language->_('Reason'); ?></td>
					<td>:</td>
					<td><?= $this->data['ENDED_REASON']; ?></td>
				</tr>
			<?php endif; ?>
			<tr>
				<td><?= $this->language->_('Last Suggested'); ?></td>
				<td>:</td>
				<td><?= $this->data['LAST_SUGGESTED'] ? date('d M Y H:i:s', strtotime($this->data['LAST_SUGGESTED'])) . ' (' . $this->data['LAST_SUGGESTEDBY'] . ')' : '-'; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Last Reviewed'); ?></td>
				<td>:</td>
				<td><?= $this->data['LAST_REVIEWED'] ? date('d M Y H:i:s', strtotime($this->data['LAST_REVIEWED'])) . ' (' . $this->data['LAST_REVIEWEDBY'] . ')' : '-'; ?></td>
			</tr>
			<tr>
				<td><?= $this->language->_('Last Approved'); ?></td>
				<td>:</td>
				<td><?= $this->data['LAST_APPROVED'] ? date('d M Y H:i:s', strtotime($this->data['LAST_APPROVED'])) . ' (' . $this->data['LAST_APPROVEDBY'] . ')' : '-'; ?></td>
			</tr>
		</table>
	</div>
</div>
<center>
	<?php
	$id = $this->params['id'];
	echo $this->formButton('back', $this->language->_('BACK'), ['class' => 'btnwhite hov mr-2', 'onclick' => 'window.location.href="/linefacility"']);
	if ($this->hasPrivilege('UFBO')) {
		if ($this->data['STATUS'] == 1) {
			// if($this->selectbut['COUNTER_WARRANTY_TYPE'] != '3'){
			$attr_freeze = ($this->is_update) ? ['class' => 'btnwhite hov mr-2', 'disabled' => true] : ['class' => 'btnwhite hov mr-2', 'onclick' => 'modal_freeze()'];
			echo $this->formButton('freeze', $this->language->_('FREEZE'), $attr_freeze);
			// }
			$attr_terminate = ($this->is_update) ? ['class' => 'btnred hov mr-2', 'disabled' => true] : ['class' => 'btnred hov mr-2', 'onclick' => 'modal_terminate()'];
			echo $this->formButton('terminate', $this->language->_('TERMINATE'), $attr_terminate);
		} elseif ($this->data['STATUS'] == 4) {
			// if($this->selectbut['COUNTER_WARRANTY_TYPE'] != '3'){
			$attr_unfreeze = ($this->is_update) ? ['class' => 'btnwhite hov mr-2', 'disabled' => true] : ['class' => 'btnwhite hov mr-2', 'onclick' => "window.location.href='/linefacility/index/unfreeze/id/$id'"];
			echo $this->formButton('unfreeze', $this->language->_('UNFREEZE'), $attr_unfreeze);
			// }
		}

		if ($this->data['STATUS'] != 4) {
			$attr_update = ($this->is_update) ? ['class' => 'btngreen hov disabled', 'disabled' => true] : ['class' => 'btngreen hov', 'onclick' => "window.location.href='/linefacility/index/update/id/$id'"];
		} else {
			$attr_update = ['class' => 'btngreen hov disabled', 'disabled' => true];
		}
		echo $this->formButton('update', $this->language->_('UPDATE'), $attr_update);
	}

	?>
</center>

<div class="modal fade" id="modal_terminate" tabindex="-1" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form id="form_terminate" action="" method="post" enctype="multipart/form-data">
				<div class="modal-header justify-content-center">
					<h5 class="modal-title"><?= $this->language->_('Agreement Termination'); ?></h5>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="underlying_doc"><?= $this->language->_('Underlying Document'); ?>&nbsp;<small class="text-danger">*</small></label>
						<input type="file" name="underlying_doc" id="underlying_doc" class="form-control input-file">
						<small id="underlying_doc_err" class="text-danger"></small>
					</div>
					<div class="form-group">
						<label for="reason"><?= $this->language->_('Reason'); ?></label>
						<?= $this->formTextarea('reason', null, ['class' => 'form-control', 'rows' => '5']); ?>
					</div>
				</div>
				<div class="modal-footer justify-content-center border-0">
					<center>
						<p class="text-danger"><?= $this->language->_('Are you sure to terminate this agreement?'); ?></p>
						<?= $this->formButton('close', $this->language->_('Close'), ['class' => 'btnwhite hov', 'data-dismiss' => 'modal']); ?>
						<?= $this->formSubmit('submit', $this->language->_('Submit'), ['class' => 'btngreen hov']); ?>
					</center>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="modal_freeze" tabindex="-1" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form id="form_freeze" action="" method="post">
				<div class="modal-header justify-content-center">
					<h5 id="modal_title" class="modal-title"><?= $this->language->_('Agreement Freeze'); ?></h5>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="reason"><?= $this->language->_('Reason'); ?></label>
						<?= $this->formTextarea('reason', null, ['class' => 'form-control', 'rows' => '5']); ?>
					</div>
				</div>
				<div class="modal-footer justify-content-center border-0">
					<center>
						<p class="text-danger"><?= $this->language->_('Are you sure to freeze this agreement?'); ?></p>
						<?= $this->formButton('close', $this->language->_('Close'), ['class' => 'btnwhite hov', 'data-dismiss' => 'modal']); ?>
						<?= $this->formSubmit('submit_freeze', $this->language->_('Submit'), ['class' => 'btngreen hov']); ?>
					</center>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	var bumn = <?= $this->data["GROUP_BUMN"]; ?>;

	function checkjaminan(object) {
		const parent = object.parentElement.parentElement.parentElement
		const save_jaminan = parent.querySelectorAll("input[type='text']");

		save_jaminan.forEach(item => {
			if (object.checked) {
				item.disabled = false;
				item.style.color = "#000"
			} else {
				item.disabled = true;
				item.style.color = "#b3b2b2"
			}
		})
	}

	$(document).ready(function() {
		// $.ajax({
		// 	url: "<?= $this->url(array('module' => "linefacility", "controller" => "index", 'action' => 'getprovision')); ?>",
		// 	method: "GET",
		// 	dataType: "JSON",
		// 	data: {
		// 		cust_model: '<?= $this->cust_model; ?>'
		// 	},
		// 	success: function(response) {

		// 		// console.log(response)
		// 		let hitung_global = 1;
		// 		let hitung_bumn = 0;
		// 		let hitung_nonbumn = 6;
		// 		document.querySelectorAll(".provision_percentage").forEach(item => {

		// 			if (hitung_global % 2 == 1) { // bumn
		// 				// item.value = response["provision"][hitung_bumn].CHARGES_PCT
		// 				if (response["provision"][hitung_bumn].ACTIVE == "N") {
		// 					item.parentElement.parentElement.children[1].querySelector("input").setAttribute("onclick", "return false")
		// 					item.parentElement.parentElement.children[1].querySelector("input").checked = false
		// 				}
		// 				hitung_bumn++;
		// 			} else { //nonbumn
		// 				// item.value = response["provision"][hitung_nonbumn].CHARGES_PCT
		// 				if (response["provision"][hitung_nonbumn].ACTIVE == "N") {
		// 					item.parentElement.parentElement.children[1].querySelector("input").setAttribute("onclick", "return false")
		// 					item.parentElement.parentElement.children[1].querySelector("input").checked = false
		// 				}
		// 				hitung_nonbumn++
		// 			}

		// 			hitung_global++;

		// 			item.parentElement.parentElement.querySelector("input[type='checkbox']").dispatchEvent(new Event("change"));
		// 		})

		// 	},
		// 	error: function(xhr, ajaxOptions, thrownError) {
		// 		alert("Failed to get data");
		// 	}
		// });



		document.querySelectorAll("input").forEach(e => {
			e.style.caretColor = "transparent"
		})

		document.querySelectorAll(".provision_percentage").forEach(item => {
			item.parentElement.parentElement.querySelector("input[type='checkbox']").dispatchEvent(new Event("change"));
		})

		if (bumn === 1) {
			document.querySelectorAll(".nonbumn").forEach(item => {
				item.parentElement.style.display = "none"
				item.value = '0.00'
				item.disabled = true;
				item.style.color = "#b3b2b2"
			})
		} else {
			document.querySelectorAll(".bumn").forEach(item => {
				item.parentElement.style.display = "none"
				item.value = '0.00'
				item.disabled = true;
				item.style.color = "#b3b2b2"
			})
		}

		var segment = "<?= $this->data['CUST_SEGMENT']; ?>";
		if (segment == 4) {
			$('.financial').show();
			var debited = "<?= $this->data['FEE_DEBITED']; ?>";
			if (debited == 2) {
				$('.institution').show();
			} else {
				$('.institution').hide();
			}
		} else {
			$('.financial').hide();
		}

		$('#form_terminate').submit(function(event) {
			var underlying_doc = $('#underlying_doc').val();
			if (underlying_doc == '') {
				$('#underlying_doc_err').text("<?= $this->language->_('Underlying Document cannot be empty'); ?>");
				event.preventDefault();
			} else {
				$('#underlying_doc_err').text('');
			}
		});
	});

	function modal_terminate() {
		$('#modal_terminate').modal('show');
	}

	function modal_freeze() {
		$('#modal_freeze').modal('show');
	}
</script>