<div class="row">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><?= $this->language->_('Home'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <span><?= $this->language->_('Customer Management'); ?></span>
                    <i class="fa fa-angle-right pl-1 pr-1"></i>
                </li>
                <li>
                    <?= $this->language->_('Line Facility'); ?>
                </li>
            </ul>
        </div>
    </div>
</div>


<?php if ($this->err) { ?>
    <div class="errmsg">
        <?php
        echo $this->errmsg;
        ?>
    </div><br />
<?php
}
?>

<style>
    .tablehead {
        background-color: #0b549f !important;
    }

    .input-medium {
        width: 240px !important;
    }

    ul.errors {
        list-style: none;
        padding-left: 0;
    }
</style>

<?php $companyName  = $this->language->_('Company Name'); ?>
<?php $companyCode  = $this->language->_('Company Code'); ?>
<?php $collectCode  = $this->language->_('Collectibility Code'); ?>
<?php $setFilter    = $this->language->_('Set Filter'); ?>
<?php $clearFilter  = $this->language->_('Clear Filter'); ?>

<div class="row content-box mb-4">
    <div class="col-md-12">
        <h5><?= $this->language->_('Line Facility List') ?></h5>
        <form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true); ?>" method="get">
            <table id="logo-title" cellpadding="3" cellspacing="0" border="0" style="width:100%; <?= ($this->filter == false) ? 'display:none;' : ''; ?>">
                <tr>
                    <td class="tbl-evencontent" width="150px"><?= $this->formLabel('fCompanyName', $companyName); ?></td>
                    <td class="tbl-evencontent" width="20px">:</td>
                    <td class="tbl-evencontent">
                        <?= $this->formText('fCompanyName', $this->fCompanyName, ['class' => 'form-control input-medium']); ?>
                    </td>
                </tr>
                <tr>
                    <td class="tbl-evencontent" width="150px"><?= $this->formLabel('fCompanyCode', $companyCode); ?></td>
                    <td class="tbl-evencontent" width="20px">:</td>
                    <td class="tbl-evencontent">
                        <select name="fCompanyCode" class="form-control input-medium">
                            <option value="">--- <?= $this->language->_('Any Value'); ?> ---</option>
                            <?php foreach ($this->companyCodeArr as $key => $value) : ?>
                                <option value="<?= $key; ?>" <?= ($key == $this->fCompanyCode) ? 'selected' : ''; ?>><?= $this->language->_($value); ?></option>
                            <?php endforeach; ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <?= $this->formSubmit('filter', $setFilter, array('class' => 'btngreen hov mt-2')); ?>
                        <?= $this->formSubmit('filter_clear', $clearFilter, array('class' => 'btnwhite hov mt-2')); ?>
                    </td>
                </tr>
            </table>
            <div class="sidebar-collapse" style="float:right" id="sidebar-collapse">
                <a href="#" class="sidebar-collapse-icon with-animation">
                    <?= $this->language->_('Advanced Search'); ?>
                </a>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <div style="float:left; padding-right:5px;">
                <button type="button" class="btngrad hov" <?php

                                                            if ($this->hasPrivilege("OFBO")) {
                                                                echo "onclick=\"window.location.href='/linefacility/index/onboarding'\"";
                                                            } else {
                                                                echo "disabled style='cursor: not-allowed'";
                                                            }

                                                            ?>><i class="fas fa-plus mr-2"></i><?= $this->language->_('Onboarding'); ?></button>
            </div>

            <table align="right">
                <tr style="height:30px">
                    <td colspan="12" align="CENTER">
                        <form name="exportForm" <?= $this->url(array('data_filter' => $this->data_filter, 'module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index.phtml.ptml'), null, true) ?> method="post">
                            <!-- <?php if (count($this->paginator) > $this->applicationSetting['max_page_download_pdf']) { ?> -->
                            <!-- <?php echo $this->formSubmit('pdf', '  PDF is too large (function is disabled)', array('class' => 'btnwhite disabled', 'disabled' => 'disabled')); ?>&nbsp; -->
                            <!-- <?php echo '<input type="submit" value="&#xf1c1; PDF is too large (function is disabled)" name="pdf" id="pdf" class="fa disabled" disabled="disabled">'; ?>&nbsp; -->
                            <!-- <?php } else { ?> -->
                            <!-- <?php echo $this->formSubmit('pdf', 'PDF', array('class' => 'btngreen hov')); ?>&nbsp; -->
                            <!-- <?php echo '<input type="submit" value="&#xf1c1; PDF" name="pdf" id="pdf" class="fa">'; ?>&nbsp; -->
                            <!-- <?php } ?> -->
                            <?php if ($this->count > $this->applicationSetting['max_row_download_csv']) { ?>
                                <!-- <?php echo $this->formSubmit('csv', 'CSV is too large (function is disabled)', array('class' => 'btnwhite disabled', 'disabled' => 'disabled')); ?>&nbsp; -->
                                <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa disabled" disabled="disabled">' ?>
                            <?php } else { ?>
                                <!-- <?php echo $this->formSubmit('csv', 'CSV', array('class' => 'btngreen hov')); ?>&nbsp; -->
                                <?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa">' ?>
                            <?php } ?>
                    </td>
                    <td>

                        <!-- <button onclick="openwindow('<?PHP echo $this->url(array('print' => 1, 'data_filter' => $this->data_filter)) . $this->qstring ?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;
                            <?PHP echo $this->language->_("Print") ?>
                        </button>&nbsp; -->

                        </form>
                    </td>
                    &nbsp;
                    <td>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                            </div>
                            <input type="text" class="search form-control" id="searchtable" placeholder="Search">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="portlet-body flip-scroll table-responsive table-fixed pt-2" id="fixTable">
            <table class="table table-sm table-striped headerNew" id="myTable">
                <tr height="50px">
                    <th class="tablehead fth-header" width="3%" valign="top">No</th>
                    <th class="tablehead fth-header" valign="top">
                        <?= $this->language->_('Debitur / Mitra'); ?><span style="white-space:nowrap"></span>
                    </th>
                    <th class="tablehead fth-header" valign="top">
                        <?= $this->language->_('Segment'); ?><span style="white-space:nowrap"></span>
                    </th>
                    <th class="tablehead fth-header" valign="top">
                        <?= $this->language->_('PKS Exp Date'); ?><span style="white-space:nowrap"></span>
                    </th>
                    <th class="tablehead fth-header" valign="top" style="text-align:right">
                        <?= $this->language->_('Plafond Limit'); ?><span style="white-space:nowrap"></span>
                    </th>
                    <th class="tablehead fth-header" valign="top">
                        <?= $this->language->_('PKS Status'); ?><span style="white-space:nowrap"></span>
                    </th>
                </tr>
                <?php if (count($this->paginator) > 0) : ?>
                    <?php
                    require_once 'Crypt/AESMYSQL.php';
                    $AESMYSQL = new Crypt_AESMYSQL();
                    $rand = $this->token;
                    $i = 0;
                    $counter = (($this->optionPage['page'] - 1) * $this->paginator->getItemCountPerPage()) + 1;
                    foreach ($this->paginator as $row) {
                        $encrypted      = $AESMYSQL->encrypt($row['ID'], $rand);
                        $encrypted_id   = urlencode($encrypted);

                        $custName       = $row['CUST_NAME'] . ' (<a href="/linefacility/index/detail/id/' . $encrypted_id . '">' . $row['CUST_ID'] . '</a>)';
                        $segmentation   = $this->segmentationArr[$row['CUST_SEGMENT']];
                        $expiredDate    = ($row['PKS_EXP_DATE']) ? date('d M Y', strtotime($row['PKS_EXP_DATE'])) : '-';
                        $plafondLimit   = ($row['PLAFOND_LIMIT']) ? Application_Helper_General::displayMoneyplain($row['PLAFOND_LIMIT']) : 0;
                        $pksStatus      = $this->statusArr[$row['STATUS']];
                        $td_css         = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
                        echo '<tr>
                        <td class="' . $td_css . '">' . $counter++ . '</td>
                        <td class="' . $td_css . '">' . $custName . '</td>
                        <td class="' . $td_css . '">' . $segmentation . '</td>
                        <td class="' . $td_css . '">' . $expiredDate . '</td>
                        <td class="' . $td_css . '" align="right">' . $plafondLimit . '</td>
                        <td class="' . $td_css . '">' . $pksStatus . '</td>
                        </tr>';
                        $i++;
                    }
                    ?>
                <?php else : ?>
                    <tr>
                        <td colspan="8" class="tbl-evencontent" align="center"> ---<?= $this->language->_('No Data'); ?>--- </td>
                    </tr>
                <?php endif; ?>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#fixTable').fixTableHeader();

        check_expired();
        // check_freeze();

        $('div#sidebar-collapse').click(function() {
            if ($("#logo-title").is(":visible")) {
                $("#logo-title").hide();
            } else if ($("#logo-title").is(":hidden")) {
                $("#logo-title").show();
            }
        });

        $("#searchtable").keyup(function() {
            var value = this.value.toLowerCase().trim();
            $("#myTable tr").each(function(index) {
                if (!index) return;
                $(this).find("td").each(function() {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });
    });

    function check_expired() {
        $.ajax({
            url: "<?= $this->url(array('action' => 'checkexpired')); ?>",
            method: "GET",
            dataType: "JSON",
            success: function(response) {
                // 
            }
        });
    }

    function check_freeze() {
        $.ajax({
            url: "<?= $this->url(array('action' => 'checkfreeze')); ?>",
            method: "GET",
            dataType: "JSON",
            success: function(response) {
                // 
            }
        });
    }
</script>