<form name="bulk_credit_import" method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'confirm'),null,true)?>">
											<input type="hidden" name="PM_SUBJECT" value="tes">
											<input type="hidden" name="PM_EFDATE" value="10/05/2012">
											<input type="hidden" name="ACCTSRC" value="1290001537~JOSHUA ADISETYA DHARMAWAN               ~IDR">											
																							
											<table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
												<tr><td colspan="2" class="tdform-sub"><?php echo $this->language->_('Transfer From'); ?></td></tr>
											  <tr>
											  	<td class="tbl-evencontent"><?php echo $this->language->_('Payment Subject'); ?></td>
											  	<td class="tbl-evencontent"><?=$this->PS_SUBJECT?></td>
											  </tr>
											  <tr>
											  	<td class="tbl-evencontent"><?php echo $this->language->_('Source Account'); ?></td>
											  	<td class="tbl-evencontent"><?=$this->ACCTSRC?></td>
											  </tr>
											  <tr><td colspan="2">&nbsp;</td></tr>
											  <tr><td  class="tdform-sub" colspan="2"><?php echo $this->language->_('File Detail'); ?></td></tr>
										  	  <tr>
										  		<td class="contentarea" id="contentarea" colspan="2">
														<table width="100%" border="0" cellspacing="1" cellpadding="2">
															<tr><td colspan="3">
																<?php if($this->totalFailed){ ?>
																<br /><div class="errmsg"><?php echo $this->language->_('Error: This payment can not be continue'); ?></div><br />
																<?php } ?>
																</td>
															</tr>                                                            <tr>
																<td>
                                                                	<table width="50%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <th id="tbl-headercontent"><?php echo $this->language->_('Payment Type'); ?></th>
                                                                            <th id="tbl-headercontent"><?php echo $this->language->_('CCY'); ?></th>
                                                                            <th id="tbl-headercontent"><?php echo $this->language->_('Payment Success'); ?></th>
                                                                            <th id="tbl-headercontent"><?php echo $this->language->_('Total Amount Success'); ?></th>
                                                                            <th id="tbl-headercontent"><?php echo $this->language->_('Payment Failed'); ?></th>
                                                                            <th id="tbl-headercontent"><?php echo $this->language->_('Total Amount Failed'); ?></th>
                                                                            <!--<th id="tbl-headercontent"><?php echo $this->language->_('Total Charge'); ?></th>-->
                                                                        </tr>
																		<?php
																			//print_r($this->countTrxCCY);die;
																			foreach($this->countTrxCCY as $type=>$rows)
																			{	
																				$i = 0;
																				foreach($rows as $ccy=>$row)
																				{
																					$detailErr = $row['failed'] ? ', <a onClick="showPopUpWindow(\'../../popuperror/bulkcreditpopup?type='.$type.'&ccy='.$ccy.'\');">['.$this->language->_('Detail').']</a>' : '';
																					$content =  '
																						<tr>
																							<td class="tbl-oddcontent">';
																					if($i==0) $content .= $this->language->_($type);
																					else $content .= '&nbsp;';
																					$content .=  '  
																							</td>
																							<td class="tbl-oddcontent">'.$this->language->_($ccy).'</td>
																							<td class="tbl-oddcontent" align="center">'.$row['success'].' '.$this->language->_('record').'</td>
																							<td class="tbl-oddcontent" align="right">'.Application_Helper_General::displayMoney($this->sumTrxCCY[$type][$ccy]['success']).'</td>
																							<td class="tbl-oddcontent" align="center"><strong><font color="red">'.$row['failed'].' '.$this->language->_('record').''.$detailErr.'</font></strong></td>
																							<td class="tbl-oddcontent" align="right">'.Application_Helper_General::displayMoney($this->sumTrxCCY[$type][$ccy]['failed']).'</td>';
																							// <td class="tbl-oddcontent" align="right">'.Application_Helper_General::displayMoney($this->chargesAmt[$type][$ccy]).'</td>
																					echo '</tr>';
																					echo $content;
																					$i++;
																				}
																			}
																		?>
                                                                        <tr>
                                                                            <td class="tbl-oddcontent" colspan="2"><strong><?php echo $this->language->_('Total'); ?></strong></td>
                                                                            <td class="tbl-oddcontent" align="center"><?=$this->totalSuccess?> <?php echo $this->language->_('record'); ?></td>
                                                                            <td class="tbl-oddcontent" align="right"><?=Application_Helper_General::displayMoney($this->amountSuccess)?></td>
                                                                            <td class="tbl-oddcontent" align="center"><strong><font color="red"><?=$this->totalFailed?> <?php echo $this->language->_('record'); ?></font></strong></td>
                                                                            <td class="tbl-oddcontent" align="right"><?=Application_Helper_General::displayMoney($this->amountFailed)?></td>
                                                                           <!-- <td class="tbl-oddcontent" align="right"><?=Application_Helper_General::displayMoney($this->totalChargesAmt)?></td>-->
                                                                        </tr>
                                                                	</table>
                                                                </td>
															</tr>
                                                                    																													</table>
										  		</td>
										  	</tr>
											  <tr>
											  	<td>&nbsp;</td>
											  </tr>
											  <tr>
											  	<td><?php echo $this->language->_('Payment Date'); ?></td>
											  	<td><?=$this->PS_EFDATE?></td>
											  </tr>
											  <tr>
											  	<td>&nbsp;</td>
											  </tr><!--
											  <tr>
											  	<td>&nbsp;</td>
											  	<td class="recview2" id="recview2">
											  		<span class="errmsg">
                                                	*) <?php echo $this->language->_('Cut off time');?> SKN = <?=$this->cutOffBI?>, RTGS = <?=$this->cutOffBI?> <br> 
                                                	*) <?php echo $this->language->_('Cut off time');?> BI = <?=$this->cutOffBI?>, <?php echo $this->language->_('Your transaction will be processed next working day.');?><br />
																**) For SKN transfer, if beneficiary bank is offline (e.g. BRI), <br />
						   											bank unit name should be write down on message area</td>
											  		</span>
											  </tr>
											  --><tr>
											  	<td>&nbsp;</td>
											  </tr>
                                              <tr>
                                                <td class="button-area" id="button-area" colspan="7">
                                                    <div class="formbutton">
                                                        <input type="submit" name="submit_cancel" class="inputbtn" value="<?php echo $this->language->_('Cancel')?>">&nbsp;&nbsp;
                                                        <input type="submit" name="submit" class="inputbtn" value="<?php echo $this->language->_('Submit for Approval')?>" <?php $disabled = $this->totalFailed ? 'disabled="disabled"' : ''; echo $disabled;?>>
                                                    </div>
                                                </td>
                                              </tr>
											</table>
											</form>