<div class="row">
    <div class="col-md-12">
      <div class="page-bar">
          <ul class="page-breadcrumb">
              <li>
                  <span>General Information</span>
              </li>
          </ul>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <style type="text/css">
      .nav-tabs{
        margin-top: 5px;
      }
      .nav-tabs .nav-link {
          border-color: #c9c9c9;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          /*width: 135px;*/
          text-align: center;
        }
        .nav-tabs .nav-link:hover {
          border-color: #c9c9c9;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          color:white;
          background-color: #005587;
          margin-top: -10px;
            padding-bottom: 10px;
            top: -10px;
            padding-top: 12px;
            height: 47.5px;
            font-size: 15px;
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
            color:white;
            background-color: #005587;
            border-color: #dee2e6 #dee2e6 #fff;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            margin-top: -10px;
            padding-bottom: 10px;
            top: -10px;
            padding-top: 12px;
            height: 47.5px;
            font-size: 15px;
        }
    </style>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="rate-tab" data-toggle="tab" href="#rate" role="tab" at="1" value="1" aria-controls="rate" aria-selected="true">Rate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="cot-tab" data-toggle="tab" href="#cot" role="tab" at="2" value="2" aria-controls="cot" aria-selected="false">Cut Off Time</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="banktable-tab" data-toggle="tab" href="#banktable" role="tab" at="3" value="3" aria-controls="banktable" aria-selected="false">Bank Table</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="countrytable-tab" data-toggle="tab" href="#countrytable" role="tab" at="3" value="3" aria-controls="countrytable" aria-selected="false">Country Table</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="location-tab" data-toggle="tab" href="#location" role="tab" at="3" value="3" aria-controls="location" aria-selected="false">Location</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <!-- Tab 1 Rate -->
      <div class="tab-pane fade show active" id="rate" role="tabpanel" aria-labelledby="rate-tab">
        <div class="portlet-body form">
          <div class="row col-md-12">
            <label style="width: 134px; height: 27px; font-family: SegoeUI; font-size: 20px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.35; letter-spacing: normal; text-align: left; color: #285a1c;">Interest Rate</label>
          </div>
          <div class="row col-md-12">
            <label style="height: 19px; font-family: SegoeUI; font-size: 14px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.36; letter-spacing: normal; text-align: left; color: #006520;">Products & services</label>
          </div>
          <div class="page-bar"></div>
        </div>
        <div style="position: relative; display: flex; flex-direction: column;">
          <div class="row">
            <div class="col-md-12">
              <div style="text-align: center; ">
                <h3 style="color: #006520;">DEPOSIT</h3>
              </div>
            </div>
          </div>
          <div style="margin:auto;">
            <div class="row">
              <div style="width: 161.6px; height: 142px; border-radius: 8px; background-color: #006520;">
                <p style="height: 32px; font-family: SegoeUI; font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: normal; text-align: left; color: #ffffff;padding: 20px 0px 0px 20px;">
                  1 Month<br>
                  Time Deposit
                </p>
                <h3 style="padding: 20px 0px 0px 20px; color: #ffffff">4.25%</h3>
              </div>&nbsp;

              <div style="width: 161.6px; height: 142px; border-radius: 8px; background-color: #8e3638;">
                <p style="height: 32px; font-family: SegoeUI; font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: normal; text-align: left; color: #ffffff;padding: 20px 0px 0px 20px;">
                  3 Month <br>
                  Time Deposit
                </p>
                <h3 style="padding: 20px 0px 0px 20px; color: #ffffff">5.50%</h3>
              </div>&nbsp;

              <div style="width: 161.6px; height: 142px; border-radius: 8px; background-color: #007934;">
                <p style="height: 32px; font-family: SegoeUI; font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: normal; text-align: left; color: #ffffff;padding: 20px 0px 0px 20px;">
                  6 Month <br>
                  Time Deposit
                </p>
                <h3 style="padding: 20px 0px 0px 20px; color: #ffffff">5.00%</h3>
              </div>&nbsp;

              <div style="width: 161.6px; height: 142px; border-radius: 8px; background-color: #70af61;">
                  <p style="height: 32px; font-family: SegoeUI; font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: normal; text-align: left; color: #ffffff;padding: 20px 0px 0px 20px;">
                  1 Year <br>
                  Time Deposit
                </p>
                <h3 style="padding: 20px 0px 0px 20px; color: #ffffff">4.75%</h3>
                </div>&nbsp;

                <div style="width: 161.6px; height: 142px; border-radius: 8px; background-color: #027fc8;">
                  <p style="height: 32px; font-family: SegoeUI; font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: normal; text-align: left; color: #ffffff;padding: 20px 0px 0px 20px;">
                  1 Year USD <br>
                  Time Deposit
                </p>
                <h3 style="padding: 20px 0px 0px 20px; color: #ffffff">0.50%</h3>
                </div>
            </div>
          </div>
        </div>

        <br>

        <div style="position: relative; display: flex; flex-direction: column;">
          <div class="row">
            <div class="col-md-12">
              <div style="text-align: center; ">
                <h3 style="color: #006520;">SAVINGS</h3>
              </div>
            </div>
          </div>
          <div style="margin: auto;">
            <div class="row">
              <div style="width: 161.6px; height: 142px; border-radius: 8px; background-color: #70c6f0;">
                <p style="height: 32px; font-family: SegoeUI; font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: normal; text-align: left; color: #ffffff;padding: 20px 0px 0px 20px;">
                  Bank Permata <br>
                  Saving Account (IDR)
                </p>
                <h3 style="padding: 20px 0px 0px 20px; color: #ffffff">1.90%</h3>
              </div>&nbsp;

              <div style="width: 161.6px; height: 142px; border-radius: 8px; background-color: #007934;">
                <p style="height: 32px; font-family: SegoeUI; font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: normal; text-align: left; color: #ffffff;padding: 20px 0px 0px 20px;">
                  Bank Permata <br>
                  Saving Account (USD)
                </p>
                <h3 style="padding: 20px 0px 0px 20px; color: #ffffff">0.25%</h3>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div style="position: relative; display: flex; flex-direction: column;">
          <div class="row">
            <div class="col-md-12">
              <div style="text-align: center; ">
                <h3 style="color: #006520;">LOAN &amp; CREDIT</h3>
              </div>
            </div>
          </div>
          <div style="margin: auto;">
            <div class="row">
              <div style="width: 161.6px; height: 142px; border-radius: 8px; background-color: #70c6f0;">
                <p style="height: 32px; font-family: SegoeUI; font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: normal; text-align: left; color: #ffffff;padding: 20px 0px 0px 20px;">
                  Bank Permata <br>
                  KPR Home Loan
                </p>
                <h3 style="padding: 20px 0px 0px 20px; color: #ffffff">10.25%</h3>
              </div>&nbsp;

              <div style="width: 161.6px; height: 142px; border-radius: 8px; background-color: #007934;">
                <p style="height: 32px; font-family: SegoeUI; font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: normal; text-align: left; color: #ffffff;padding: 20px 0px 0px 20px;">
                  Bank Permata <br>
                  Personal Loan
                </p>
                <h3 style="padding: 20px 0px 0px 20px; color: #ffffff">10.25%</h3>
              </div>&nbsp;

              <div style="width: 161.6px; height: 142px; border-radius: 8px; background-color: #e95a3d;">
                <p style="height: 32px; font-family: SegoeUI; font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.33; letter-spacing: normal; text-align: left; color: #ffffff;padding: 20px 0px 0px 20px;">
                  Bank Permata <br>
                  VISA Gold
                </p>
                <h3 style="padding: 20px 0px 0px 20px; color: #ffffff">30.53%</h3>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="portlet-body form">
          <div class="row col-md-12">
            <label style="width: 134px; height: 27px; font-family: SegoeUI; font-size: 20px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.35; letter-spacing: normal; text-align: left; color: #285a1c;">Kurs E-Rate</label><br>
            
          </div>
          <div class="form-group">
            <div style="float:left;">
                <label style="width: 130px; height: 19px; font-family: SegoeUI; font-size: 14px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.36; letter-spacing: normal; text-align: left; color: #006520;">Top Currency Rates</label>
              </div>
            
          </div>
          
            
        </div>
        <div class="portlet-body form">
          <div class="table-responsive">
            <table class="table table-sm table-striped">
                <?php $nodata = $this->language->_('No Data');?>
              <thead>
                <tr class="headercolor">
                  <?php 
                    echo $this->partial('tableheader.phtml',array(
                                            'fields' => $this->fields_kurs,
                                            'sortBy' => $this->sortBy,
                                            'sortDir' => $this->sortDir,
                                            'query_string_params' => $this->query_string_params
                                          )
                              );
                  ?>
                </tr>
              </thead>
            <tbody>
            <?php       

              if (count ( $this->resultdata_kurs ) > 0) 
              {
                $i = 0;
                foreach ( $this->resultdata_kurs as $row ) {
                  $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';
                  echo '<tr>
                      <td class="'.$td_css.'">'.$row['currency'].'</td>
                      <td class="'.$td_css.'">'.$row['sell'].'</td>
                      <td class="'.$td_css.'">'.$row['buy'].'</td>
                    </tr>';
                    // echo '<tr>
                    //   <td class="'.$td_css.'">'.$row['currency'].'</td>
                    //   <td class="'.$td_css.'">'.$row['sell'].'</td>
                    //   <td class="'.$td_css.'">'.$row['buy'].'</td>
                    // </tr>';
                    // echo '<tr>
                    //   <td class="'.$td_css.'">'.$row['currency'].'</td>
                    //   <td class="'.$td_css.'">'.$row['sell'].'</td>
                    //   <td class="'.$td_css.'">'.$row['buy'].'</td>
                    // </tr>';
                  $i++;
                }
              }
              else 
              {
                echo '<tr><td colspan=3 class="tbl-evencontent" align="center"> --- '.$nodata.' --- </td></tr>';
              }
              ?>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- End Tab 1 Rate -->


      <div class="tab-pane fade show" id="cot" role="tabpanel" aria-labelledby="cot-tab">
        Cut Off Time
      </div>
      <br>
      <div class="tab-pane fade show" id="banktable" role="tabpanel" aria-labelledby="banktable-tab">
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTabBank" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="other-tab" data-toggle="tab" href="#other" role="tab" at="1" value="1" aria-controls="other" aria-selected="true">Other Bank</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="international-tab" data-toggle="tab" href="#international" role="tab" at="2" value="2" aria-controls="international" aria-selected="false">International Bank</a>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="col-md-12">
          <div class="tab-content" id="myTabBankContent">
            <div class="tab-pane fade show active" id="other" role="tabpanel" aria-labelledby="other-tab">
              <table class="table table-sm table-striped">
                <thead>
                    <tr class="headercolor">
                      <th width="3%" valign="top" class="tablehead">No</th>
                      <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields_bank,
                                                                            'sortBy' => $this->sortBy_bank,
                                                                            'sortDir' => $this->sortDir_bank,
                                                                            'query_string_params' => $this->query_string_params
                                                                            )
                                    )?>

                    </tr>
                </thead>
                <tbody>
                    <?php
                  $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

                    if(count($this->paginator) > 0)
                    {
                          $i=0;

                        foreach($this->paginator as $row)
                        {

                        $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

                        echo '<tr>
                          <td class="'.$td_css.'">'.$counter.'</td>
                          <td class="'.$td_css.'">'.$row['BANK_NAME'].'</td>';
                          // <td class="'.$td_css.'">'.$row['CITY_CODE'].'</td>
                      echo
                        '<td class="'.$td_css.'">'.$row['CLR_CODE'].'</td>
                         </tr>';

                      $i++;
                            $counter++;
                         }
                  }
                  else
                  {
                     echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
                  }
                ?>
                </tbody>
              </table>
            </div>

            <div class="tab-pane fade show" id="international" role="tabpanel" aria-labelledby="international-tab">
              <table class="table table-sm table-striped">
                <thead>
                    <tr class="headercolor">
                      <th width="3%" valign="top" class="tablehead">No</th>
                      <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields_int,
                                                                            'sortBy' => $this->sortBy_int,
                                                                            'sortDir' => $this->sortDir_int,
                                                                            'query_string_params' => $this->query_string_params
                                                                            )
                                    )?>

                    </tr>
                  </thead>
                  <tbody>
                    <?php
                  $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

                    if(count($this->select_int) > 0)
                    {
                          $i=0;

                        foreach($this->select_int as $row)
                        {

                        $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';






                        echo '<tr>
                          <td class="'.$td_css.'">'.$counter.'</td>';
                      foreach($this->fields_int as $field){
                        if($field['field'] == 'created' || $field['field'] == 'updated')
                          echo '<td class="'.$td_css.'">'.Application_Helper_General::convertDate($row[$field['field']],$this->displayDateTimeFormat,$this->defaultDateFormat).'</td>';
                        else if($field['field'] == 'country_name'){
                //      print_r($row);die;
                          echo '<td class="'.$td_css.'">'.$row['country_code'].' - '.$row['country_name'].'</td>';
                        }
                        else{
                          echo '<td class="'.$td_css.'">'.$row[$field['field']].'</td>';
                        }
                      }
                //      echo '<td class="'.$td_css.'">'.$edit . ' | ' . $delete.'</td>';

                          '</tr>';


                      $i++;
                            $counter++;
                          }
                  }
                  else
                  {
                     echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> - '.$this->language->_('No Data').' - </td></tr>';
                  }
                ?>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade show" id="countrytable" role="tabpanel" aria-labelledby="countrytable-tab">
        <table class="table table-sm table-striped">
          <thead>
                <th class="tablehead">No</th>
                <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields_country,
                                                                      'sortBy' => $this->sortBy_country,
                                                                      'sortDir' => $this->sortDir_country,
                                                                      'query_string_params' => $this->query_string_params
                                                                      )
                              )?>
              
              </tr>
          </thead>
          <tbody>
              <?php
            $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;
            
              if(count($this->select_country) > 0)
              {
                    $i=0;
                    
                  foreach($this->select_country as $row) 
                  {
              
                  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
              
                  if($this->hasPrivilege('COUD'))
                { 
                    $delete = $this->url(array('module'=>$this->modulename,'controller'=>'delete','action'=>'index','country_code'=>$row['COUNTRY_CODE']),null,true);
                    $delete = '<a href="javascript:confirmation(\' '.$this->language->_('Are you sure want to delete this country?').'\',\''.$delete.'\');">'.$this->language->_('Delete').'</a>';
                    
                    $edit   = '<a href="'.$this->url(array('module'=>$this->modulename,'controller'=>'edit','action'=>'index','country_code'=>$row['COUNTRY_CODE']),null,true).'">'.$this->language->_('Edit').'</a>';
                }
                else{
                    $delete = $this->url(array('module'=>'notification','controller'=>'notauthorized','action'=>'index','country_code'=>$row['COUNTRY_CODE']),null,true);
                    $delete = '<a href="javascript:confirmation(\' '.$this->language->_('Are you sure want to delete this country?').'\',\''.$delete.'\');">'.$this->language->_('Delete').'</a>';
                    
                    $edit   = '<a href="'.$this->url(array('module'=>'notification','controller'=>'notauthorized','action'=>'index','country_code'=>$row['COUNTRY_CODE']),null,true).'">'.$this->language->_('Edit').'</a>';  
                }
                  
                  
                  
                  
                  
                  echo '<tr>
                    <td class="'.$td_css.'">'.$counter.'</td>';
                foreach($this->fields_country as $field)
                echo '<td class="'.$td_css.'">'.$row[$field['field']].'</td>';
          //      echo '<td class="'.$td_css.'">'.$edit . ' | ' . $delete.'</td>';
                
                    '</tr>';
                
                      
                $i++;
                      $counter++;
                    }
            }
            else 
            {
               echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> - '.$this->language->_('No Data').' - </td></tr>';
            }
          ?>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade show" id="location" role="tabpanel" aria-labelledby="location-tab">
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTabBank" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="atm-tab" data-toggle="tab" href="#atm" role="tab" at="1" value="1" aria-controls="atm" aria-selected="true">ATM</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="branch-tab" data-toggle="tab" href="#branch" role="tab" at="2" value="2" aria-controls="branch" aria-selected="false">Branch</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-12">
          <div class="tab-content" id="myTabBankContent">
            <div class="tab-pane fade show active" id="atm" role="tabpanel" aria-labelledby="atm-tab">
                <table class="table table-sm table-striped">
                  <thead>
                    <tr class="headercolor">
                      <th class="tablehead" width="3%" valign="top">No</th>
                      <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields_atm,
                                                                            'sortBy' => $this->sortBy_atm,
                                                                            'sortDir' => $this->sortDir_atm,
                                                                            'query_string_params' => $this->query_string_params
                                                                            )
                                    )?>

                    </tr>
                    </thead>
                    <tbody>
                    <?php
                  $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

                    if(count($this->select_atm) > 0)
                    {
                          $i=0;

                        foreach($this->select_atm as $row)
                        {

                        $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

                        echo '<tr>
                          <td class="'.$td_css.'">'.$counter.'</td>';

                          echo '<td class="'.$td_css.'">'.$row['ATM_ADDRESS'].' <a href="https://www.google.com/maps/search/'.$row['ATM_ADDRESS'].' '.$row['ATM_CITY'].'" target="blank"><i class="fas fa-map-marked-alt"></i> Lihat Lokasi </a></td>';
                          echo '<td class="'.$td_css.'">'.$row['ATM_CITY'].'</td>';

                //      echo '<td class="'.$td_css.'">'.$edit . ' | ' . $delete.'</td>';

                          '</tr>';


                      $i++;
                            $counter++;
                          }
                  }
                  else
                  {
                     echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> - '.$this->language->_('No Data').' - </td></tr>';
                  }
                ?>
                </tbody>
                </table>
            </div>

            <div class="tab-pane fade show" id="branch" role="tabpanel" aria-labelledby="branch-tab">
              <table class="table table-sm table-striped">
                  <thead>
                    <tr class="headercolor">
                      <th class="tablehead" width="3%" valign="top">No</th>
                      <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields_branch,
                                                                            'sortBy' => $this->sortBy_branch,
                                                                            'sortDir' => $this->sortDir_branch,
                                                                            'query_string_params' => $this->query_string_params
                                                                            )
                                    )?>

                    </tr>
                    </thead>
                    <tbody>
                    <?php
                  $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

                    if(count($this->select_branch) > 0)
                    {
                          $i=0;

                        foreach($this->select_branch as $row)
                        {

                        $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';






                        echo '<tr>
                          <td class="'.$td_css.'">'.$counter.'</td>';

                          echo '<td class="'.$td_css.'">'.$row['BRANCH_NAME'].'</td>';
                          echo '<td class="'.$td_css.'">'.$row['BANK_ADDRESS'].' <a href="https://www.google.com/maps/search/'.$row['BANK_ADDRESS'].'" target="blank"><i class="fas fa-map-marked-alt"></i> Lihat Lokasi </a></td>';
                          echo '<td class="'.$td_css.'">'.$row['CITY_NAME'].'</td>';
                          echo '<td class="'.$td_css.'">'.$row['REGION_NAME'].'</td>';
                          echo '<td class="'.$td_css.'">'.$row['CONTACT'].'</td>';
                //      echo '<td class="'.$td_css.'">'.$edit . ' | ' . $delete.'</td>';

                          '</tr>';


                      $i++;
                            $counter++;
                          }
                  }
                  else
                  {
                     echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> - '.$this->language->_('No Data').' - </td></tr>';
                  }
                ?>
                </tbody>
              </table>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
    
