<?PHP
    $this->language = Zend_Registry::get('language');
?>
<?php 
echo $this->doctype('HTML4_LOOSE');
$app = Zend_Registry::get('config');
$app = $app['app']['bankcode'];
?>
<?php $expand = $this->language->_('Expand'); ?>
<?php $hide = $this->language->_('Hide'); ?>
<style>
@media print{
    .hidden, .hidden * {
		display: none !important;
		visibility: hidden;
	}

	button {
		display: none !important;
		visibility: hidden;
	}
	
	/*form {
		display: none !important;
		visibility: hidden;
	}*/
	
	.hiddenLogo, .hiddenLogo * {
		display: inline !important;
		visibility: show;
	}
	
	input.currency{ width: 200px; font-size: 10px; } 
	ul { padding-left:10px; } 
	h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed } 
	body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; } 
	b { font-weight:bold; font-size:11px } 
	td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; } 
	a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; } 
	.tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; } 
	.tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } 
	.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; } 
	.errmsg { font-weight:bold; font-size:11px; color:#FF0000 } 
	body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	-webkit-print-color-adjust:exact; /*chrome*/ 
	-moz-print-color-adjust:exact; /*mozila*/
	-o-print-color-adjust:exact; /*opera*/
	-ms-print-color-adjust:exact; /*ie*/
	}
}

</style>

<style type="text/css">
	.nav-tabs {
		margin-top: 5px;
	}

	.nav-tabs .nav-link {
		border-color: #c9c9c9;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		font-size: 11px;
	}

	.nav-tabs .nav-link:hover {
		border-color: #c9c9c9;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		color: white;
		background-color: #005586;
		margin-top: -10px;
		padding-bottom: 10px;
		top: -10px;
		padding-top: 12px;
		height: 47.5px;
		font-size: 11px;
	}

	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active {
		color: white;
		background-color: #005586;
		border-color: #dee2e6 #dee2e6 #fff;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin-top: -10px;
		padding-bottom: 10px;
		top: -10px;
		padding-top: 12px;
		height: 47.5px;
		font-size: 11px;

	}

	.imgSepia {
		filter: grayscale(100%);
	}
	</style>

<script type="text/javascript">
	//akan di onload pertama kali
	$(document).ready(function() {
		hideAll();

		// $('#bankAcc').fixTableHeader();
		// $('#benefBankAcc').fixTableHeader();
		// $('#userAcc').fixTableHeader();
		// $('#userLimit').fixTableHeader();
		// $('#userDailyLimit').fixTableHeader();
		// $('#benefUser').fixTableHeader();
	});


	function expandAll() {
		bankAcc_show();
		bank360ob_show();
		benefBankAcc_show();
		userAcc_show();
		userLimit_show();
		userDailyLimit_show();
		appGroup_show();
		appGroupBoundary_show();
		benefUser_show();
		benefAccount_show();
		paymentworkflow_show();
		ban
	}

	function hideAll() {
		bankAcc_hide();
		bank360ob_hide();
		benefBankAcc_hide();
		userAcc_hide();
		userLimit_hide();
		userDailyLimit_hide();
		appGroup_hide();
		appGroupBoundary_hide();
		benefUser_hide();
		benefAccount_hide();
		paymentworkflow_hide();
	}



	function bankAcc_show() {
		$('#bankAcc').show();
		//$('#buttonBankAcc').val('Hide');
		$('#buttonBankAcc').attr('Onclick', 'bankAcc_hide()');
		$('#buttonBankAcc').hide();
		$('#buttonBankAccc').show();

	}

	function bankAcc_hide() {
		$('#bankAcc').hide();
		//$('#buttonBankAcc').val('Expand');
		$('#buttonBankAcc').attr('Onclick', 'bankAcc_show()');
		$('#buttonBankAcc').show();
		$('#buttonBankAccc').hide();
	}


	function benefBankAcc_show() {
		$('#benefBankAcc').show();
		//$('#buttonBenefBankAcc').val('Hide');
		$('#buttonBenefBankAcc').attr('Onclick', 'benefBankAcc_hide()');
		$('#buttonBenefBankAcc').hide();
		$('#buttonBenefBankAccc').show();
	}

	function benefBankAcc_hide() {
		$('#benefBankAcc').hide();
		//$('#buttonBenefBankAcc').val('Expand');
		$('#buttonBenefBankAcc').attr('Onclick', 'benefBankAcc_show()');
		$('#buttonBenefBankAccc').hide();
		$('#buttonBenefBankAcc').show();
	}

	function bank360ob_show() {
		$('#bank360ob').show();
		//$('#buttonBenefBankAcc').val('Hide');
		$('#buttonBank360ob').attr('Onclick', 'bank360ob_hide()');
		$('#buttonBank360ob').hide();
		$('#buttonBank360obc').show();
	}

	function bank360ob_hide() {
		$('#bank360ob').hide();
		//$('#buttonBenefBankAcc').val('Expand');
		$('#buttonBank360ob').attr('Onclick', 'bank360ob_show()');
		$('#buttonBank360obc').hide();
		$('#buttonBank360ob').show();
	}


	function userAcc_show() {
		$('#userAcc').show();
		//$('#buttonUserAcc').val('Hide');
		$('#buttonUserAcc').attr('Onclick', 'userAcc_hide()');
		$('#buttonUserAccc').show();
		$('#buttonUserAcc').hide();
	}

	function userAcc_hide() // sampe sini
	{
		$('#userAcc').hide();
		//$('#buttonUserAcc').val('Expand');
		$('#buttonUserAcc').attr('Onclick', 'userAcc_show()');
		$('#buttonUserAccc').hide();
		$('#buttonUserAcc').show();
	}


	function userLimit_show() {
		$('#userLimit').show();
		//$('#buttonUserLimit').val('Hide');
		$('#buttonUserLimit').attr('Onclick', 'userLimit_hide()');
		$('#buttonUserLimitc').show();
		$('#buttonUserLimit').hide();
	}

	function userLimit_hide() {
		$('#userLimit').hide();
		//$('#buttonUserLimit').val('Expand');
		$('#buttonUserLimit').attr('Onclick', 'userLimit_show()');
		$('#buttonUserLimitc').hide();
		$('#buttonUserLimit').show();
	}


	function userDailyLimit_show() {
		$('#userDailyLimit').show();
		//$('#buttonUserDailyLimit').val('Hide');
		$('#buttonUserDailyLimit').attr('Onclick', 'userDailyLimit_hide()');
		$('#buttonUserDailyLimitc').show();
		$('#buttonUserDailyLimit').hide();
	}

	function userDailyLimit_hide() {
		$('#userDailyLimit').hide();
		//$('#buttonUserDailyLimit').val('Expand');
		$('#buttonUserDailyLimit').attr('Onclick', 'userDailyLimit_show()');
		$('#buttonUserDailyLimitc').hide();
		$('#buttonUserDailyLimit').show();
	}


	function appGroup_show() {
		$('#appGroup').show();
		//$('#buttonAppGroup').val('Hide');
		$('#buttonAppGroup').attr('Onclick', 'appGroup_hide()');
		$('#buttonAppGroupc').show();
		$('#buttonAppGroup').hide();
	}

	function appGroup_hide() {
		$('#appGroup').hide();
		//$('#buttonAppGroup').val('Expand');
		$('#buttonAppGroup').attr('Onclick', 'appGroup_show()');
		$('#buttonAppGroupc').hide();
		$('#buttonAppGroup').show();
	}


	function appGroupBoundary_show() {
		$('#appGroupBoundary').show();
		//$('#buttonAppGroupBoundary').val('Hide');
		$('#buttonAppGroupBoundary').attr('Onclick', 'appGroupBoundary_hide()');
		$('#buttonAppGroupBoundaryc').show();
		$('#buttonAppGroupBoundary').hide();
	}

	function appGroupBoundary_hide() {
		$('#appGroupBoundary').hide();
		//$('#buttonAppGroupBoundary').val('Expand');
		$('#buttonAppGroupBoundary').attr('Onclick', 'appGroupBoundary_show()');
		$('#buttonAppGroupBoundaryc').hide();
		$('#buttonAppGroupBoundary').show();
	}


	function benefUser_show() {
		$('#benefUser').show();
		//$('#buttonBenefUser').val('Hide');
		$('#buttonBenefUser').attr('Onclick', 'benefUser_hide()');
		$('#buttonBenefUserc').show();
		$('#buttonBenefUser').hide();
	}

	function benefUser_hide() {
		$('#benefUser').hide();
		//$('#buttonBenefUser').val('Expand');
		$('#buttonBenefUser').attr('Onclick', 'benefUser_show()');
		$('#buttonBenefUserc').hide();
		$('#buttonBenefUser').show();
	}

	function benefAccount_show() {
		$('#benefAccount').show();
		//$('#buttonBenefUser').val('Hide');
		$('#buttonBenefAccount').attr('Onclick', 'benefAccount_hide()');
		$('#buttonBenefAccountc').show();
		$('#buttonBenefAccount').hide();
	}

	function benefAccount_hide() {
		$('#benefAccount').hide();
		//$('#buttonBenefUser').val('Expand');
		$('#buttonBenefAccount').attr('Onclick', 'benefAccount_show()');
		$('#buttonBenefAccountc').hide();
		$('#buttonBenefAccount').show();
	}

	function paymentworkflow_show() {
		$('#paymentw').show();
		//$('#buttonBenefUser').val('Hide');
		$('#buttonpaymentw').attr('Onclick', 'paymentworkflow_hide()');
		$('#buttonpaymentwc').show();
		$('#buttonpaymentw').hide();
	}

	function paymentworkflow_hide() {
		$('#paymentw').hide();
		//$('#buttonBenefUser').val('Expand');
		$('#buttonpaymentw').attr('Onclick', 'paymentworkflow_show()');
		$('#buttonpaymentwc').hide();
		$('#buttonpaymentw').show();
	}
</script>

<b class="hidden"> <?php echo $this->language->_('Master Report'); ?> &gt; <?php echo $this->language->_('Customer List'); ?> &gt; <?php echo $this->language->_('Detail'); ?> </b><br /><br />
<h5 style="color:#005586;"><?php echo $this->language->_('Customer Detail');?></h5>
<?php
	if(!empty($this->errmsg))
	{
		echo "<div class='errmsg'>".$this->errmsg."</div>";
	}
?>
<br>
<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="compinfo-tab" data-toggle="tab" href="#compinfo" role="tab" at="1" value="1" aria-controls="compinfo" aria-selected="true">Company Information</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="continfo-tab" data-toggle="tab" href="#continfo" role="tab" at="2" value="2" aria-controls="continfo" aria-selected="false">Contact Info</a>
				</li>
				<li class="nav-item" style="display:none;">
					<a class="nav-link" id="complimit-tab" data-toggle="tab" href="#complimit" role="tab" at="3" value="3" aria-controls="complimit" aria-selected="false">Company Limit</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="paywork-tab" data-toggle="tab" href="#paywork" role="tab" at="4" value="4" aria-controls="paywork" aria-selected="false">Submission Workflow</a>
				</li>
				<li class="nav-item" style="display:none;"> 
					<a class="nav-link" id="charges-tab" data-toggle="tab" href="#charges" role="tab" at="6" value="6" aria-controls="charges" aria-selected="false">Charges</a>
				</li>
				<li class="nav-item" style="display:none;">
					<a class="nav-link" id="adapter-tab" data-toggle="tab" href="#adapter" role="tab" at="4" value="4" aria-controls="adapter" aria-selected="false">Business Adapter</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="upinfo-tab" data-toggle="tab" href="#upinfo" role="tab" at="5" value="5" aria-controls="upinfo" aria-selected="false">Update Info</a>
				</li>
			</ul>
	</div>
</div>
<div class="tab-content" id="myTabContent">
		<!-- Company Information Tab -->
		<div class="tab-pane fade show active" id="compinfo" role="tabpanel" aria-labelledby="compinfo-tab" style="height: 480px;">
			<table width="80%" cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped">
				<tr>
					<td width="200" class="tbl-evencontent"><?php echo $this->formLabel('cust_type', $this->language->_('Customer Type')); ?></td>
					<td width="3" class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3" width="300"></td>
				</tr>
				<tr>
					<td width="200" class="tbl-evencontent"><?php echo $this->formLabel('cust_id', $this->language->_('Customer Code')); ?></td>
					<td width="3" class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3" width="300"><?php echo $this->formLabel('cust_id', $this->companydetail['CUST_ID']); ?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_cif', $this->language->_('Company CIF')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_cif', $this->companydetail['CUST_CIF']); ?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_name', $this->language->_('Company Name')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_name', $this->companydetail['CUST_NAME']); ?></td>
				</tr>
				<tr>
					<td width="200" class="tbl-evencontent"><?php echo $this->formLabel('comp_npwp', $this->language->_('Company NPWP')); ?></td>
					<td width="3" class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3" width="300"></td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_type', $this->language->_('Company Type')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_type', $this->companydetail['CUST_TYPE']); ?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_workfield', $this->language->_('Business Type')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_workfield', $this->companydetail['CUST_WORKFIELD']); ?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_address', $this->language->_('Address')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_address', $this->companydetail['CUST_ADDRESS']); ?></td>
				</tr>

				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_city', $this->language->_('City')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_city', $this->companydetail['CUST_CITY']); ?></td>
				</tr>

				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_zip', $this->language->_('Zip')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_zip', $this->companydetail['CUST_ZIP']); ?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_province', $this->language->_('State/Province')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_province', $this->companydetail['CUST_PROVINCE']); ?></td>
				</tr>

				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('country_code', $this->language->_('Country')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('country_code', $this->companydetail['COUNTRY_NAME']); ?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_status', $this->language->_('Status')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_status', $this->language->_($this->companydetail['CUST_STATUS'])); ?></td>
				</tr>

				
				<!--<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_status', $this->language->_('Securities Company')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_status', $this->language->_($yesNo[$this->cust_securities])); ?></td>
				</tr>-->
				<?php
				if ($this->companydetail['CUST_SECURITIES1'] == '1') {
				?>

				<!--	<tr>
						<td class="tbl-evencontent"><?php echo $this->formLabel('cust_cif', $this->language->_('Securities Company Code')); ?></td>
						<td class="tbl-evencontent">:</td>
						<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_code', $this->cust_code); ?></td>
					</tr>-->
				<?php
				}
				?>
	
				<!--<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('service_type', $this->language->_('Service Type')); ?></td>
					<td class="tbl-evencontent">:</td>
					<?php 
						if ($this->cust_finance == 3) {
							$serviceType = 'Non Financial';
						}
						else{
							$serviceType = 'Financial';
						}
					?>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('service_type', $serviceType); ?></td>
				</tr>-->
				<!-- <tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('special_charge', $this->language->_('spesial Charge')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('special_charge', $cust_special); ?></td>
				</tr> -->
			</table>
		</div>
		<!-- End Company Information Tab -->

		<!-- Contact Info Tab -->
		<div class="tab-pane fade show " id="continfo" role="tabpanel" aria-labelledby="continfo-tab" style="height: 400px;">
			<table width="80%" cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped">
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_contact', $this->language->_('Contact Person')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_contact', $this->companydetail['CUST_CONTACT']); ?></td>
				</tr>

				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_phone', $this->language->_('Contact Number')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_phone', $this->companydetail['CUST_PHONE']); ?></td>
				</tr>

				<!--<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_ext', $this->language->_('Extention')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_ext', $this->companydetail['CUST_EXT']); ?></td>
				</tr>-->

				<!--<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_fax', $this->language->_('Fax Number')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_fax', $this->companydetail['CUST_FAX']); ?></td>
				</tr>-->

				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_email', $this->language->_('Contact Email')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_email', $this->companydetail['CUST_EMAIL']); ?></td>
				</tr>
			    <tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_phone', $this->language->_('Company Phone')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_website', $this->companydetail['CUST_PHONE']); ?></td>
				</tr>
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_website', $this->language->_('Company Website')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_website', $this->companydetail['CUST_WEBSITE']); ?></td>
				</tr>
			</table>
		</div>
		<!-- End Contact Info Tab -->

		<!-- Company Limit Tab -->
		<div class="tab-pane fade show " id="complimit" role="tabpanel" aria-labelledby="complimit-tab" style="height: 400px;">
			<table width="80%" cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped">
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_limit_idr', $this->language->_('Company Daily Limit Transaction (IDR)')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_limit_idr', Application_Helper_General::displayMoney($this->companydetail['CUST_LIMIT_IDR'])); ?></td>
				</tr>

				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_limit_usd', $this->language->_('Company Daily Limit Transaction (USD)')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_limit_usd', Application_Helper_General::displayMoney($this->companydetail['CUST_LIMIT_USD'])); ?></td>
				</tr>
			</table>
		</div>
		<!-- End Company Limit Tab -->
		<?php
		if ($this->companydetail['CUST_REVIEW'] == '1') {
			$disrev = '';
		} else {
			$disrev = 'none';
		}
		?>
		<?php
		if ($this->companydetail['CUST_APPROVER'] == '1') {
			$disapp = '';
		} else {
			$disapp = 'none';
		}

		// var_dump($disapp);
		// var_dump($disrev);


		?>


		<!-- Payment Workflow Tab -->
		<div class="tab-pane fade show " id="paywork" role="tabpanel" aria-labelledby="paywork-tab" style="height: 400px;">
			<div align="center" class="transtab pt-3">
				<div class="row content-box" style="width: 80%;">

					<?php 
						$imgClass = '';
						if ($this->companydetail['CUST_FINANCE'] == 3) {
							$imgClass = 'imgSepia';
							echo '<div class="col-md-12" align="center"><h6><b>'.$this->language->_("Company Service Type : Non Financial. No user roles needed.").'</b></h6></div><br><br>';
						}
						else if($this->companydetail['CUST_SAME_USER'] == 1){
							echo '<div class="col-md-12" align="center"><h6><b>'.$this->language->_("Maker and releaser are same user.").'</b></h6></div><br><br>';
						}
					?>


					<table align="center" width="80%" cellpadding="3" cellspacing="0" border="0" class="tableform">
						<tr>
							<td align="center">
								<?php echo $this->makerNameCircle; ?>
							</td>
							<!--<td align="center">
								<img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="<?php echo $imgClass ?>">
							</td>-->
							<!--<td align="center" style="display: <?php echo $disrev; ?>">
								<?php echo $this->reviewerNameCircle; ?>
							</td>-->
							<td align="center" style="display: <?php echo $disrev; ?>">
								<img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="<?php echo $imgClass ?>">
							</td>
							<td align="center" style="display: <?php echo $disapp; ?>">
								<?php echo $this->approverNameCircle; ?>
							</td>
							<td align="center" style="display: <?php echo $disapp; ?>">
								<img src="/assets/themes/assets/newlayout/img/arrow.PNG" class="<?php echo $imgClass ?>">
							</td>
							<td align="center">
								<?php echo $this->releaserNameCircle; ?>
							</td>
						</tr>
						<tr>
							<td align="center">
								<i class="fas fa-marker <?php echo $imgClass ?>" style="font-size:20px;color:#007934"></i>
							</td>

							<!--<td align="center">-->
								<!-- hanya jarak  -->
							<!--</td>-->

							<!--<td align="center" style="display: <?php echo $disrev; ?>">
								<i class="fas fa-glasses <?php echo $imgClass ?>" style="font-size:20px;color:#007934"></i>
							</td>-->

							<td align="center" style="display: <?php echo $disrev; ?>">
								<!-- hanya jarak  -->
							</td>

							<td align="center" style="display: <?php echo $disapp; ?>">
								<i class="far fa-check-circle <?php echo $imgClass ?>" style="font-size:20px;color:#007934"></i>

							</td>

							<td align="center" style="display: <?php echo $disapp; ?>">
								<!-- hanya jarak  -->
							</td>

							<td align="center">
								<i class="far fa-envelope <?php echo $imgClass ?>" style="font-size:20px;color:#007934"></i>
							</td>
						</tr>
						<tr>
							<td align="center">
								MAKER
							</td>

							<!--<td align="center">-->
								<!-- hanya jarak  -->
							<!--</td>-->

							<!--<td align="center" style="display: <?php echo $disrev; ?>">
								REVIEWER
							</td>-->

							<td align="center" style="display: <?php echo $disrev; ?>">
								<!-- hanya jarak  -->
							</td>

							<td align="center" style="display: <?php echo $disapp; ?>">
								APPROVER
							</td>

							<td align="center" style="display: <?php echo $disapp; ?>">
								<!-- hanya jarak  -->
							</td>

							<td align="center">
								RELEASER
							</td>
						</tr>
						<tr>
							<td align="center">
								<!-- <input type="checkbox" value="maker" name="check_maker" checked disabled> -->
								<?php
								if ($this->companydetail['CUST_FINANCE'] != '3') {
								?>
								<img src="/images/icon/checked.png">
								<?php
								}
								?>
							</td>

							<!--<td align="center">-->
								<!-- hanya jarak  -->
							<!--</td>-->

							<!--<td align="center" style="display: <?php echo $disrev; ?>">
								<?php
								if ($this->companydetail['CUST_REVIEW'] == '1') {
								?>
									<img src="/images/icon/checked.png">
								<?php
								} else {
									$checked = '';
								}
								?>

								<!-- <input type="checkbox" value="1" name="cust_review" <?php echo $checked; ?> disabled> -->
							<!--</td>-->

							<td align="center" style="display: <?php echo $disrev; ?>">
								<!-- hanya jarak  -->
							</td>

							<td align="center" style="display: <?php echo $disapp; ?>">
								<?php
								if ($this->companydetail['CUST_APPROVER'] == '1') {
								?>
									<img src="/images/icon/checked.png">
								<?php
								} else {
									$checked = '';
								}
								?>
								<!-- <input type="checkbox" value="1" name="cust_approver" <?php echo $checked; ?> disabled> -->
							</td>

							<td align="center" style="display: <?php echo $disapp; ?>">
								<!-- hanya jarak  -->
							</td>

							<td align="center">
								<?php
								if ($this->companydetail['CUST_FINANCE'] != '3') {
								?>
								<img src="/images/icon/checked.png">
								<?php
								}
								?>
							</td>
						</tr>
						<tr style="display:none;">
							<td align="center">
								<!-- hanya jarak  -->
							</td>

							<td align="center">
								<!-- hanya jarak  -->
							</td>

							<td align="center" style="display: <?php echo $disrev; ?>">
								<!-- hanya jarak  -->
							</td>

							<td align="center" style="display: <?php echo $disrev; ?>">
								<!-- hanya jarak  -->
							</td>

							<td align="center" style="display: <?php echo $disapp; ?>">
								<p>Google Auth</p>
								<label class="switch">
									<?php
									// echo $this->cust_app_token;
									if ($this->companydetail['CUST_APP_TOKEN'] == '1') {
										$checked = 'checked';
									} else {
										$checked = '';
									}
									?>
									<input type="checkbox" name="cust_app_token" <?php echo $checked; ?> disabled>
									<span class="slider round" style="cursor: default;"></span>
								</label>
							</td>

							<td align="center" style="display: <?php echo $disapp; ?>">
								<!-- hanya jarak  -->
							</td>

							<td align="center">
								<p>Google Auth</p>
								<label class="switch" name="rls_token">
									<?php
									// echo $this->cust_rls_token;
									if ($this->companydetail['CUST_RLS_TOKEN'] == '1') {
										$checked = 'checked';
									} else {
										$checked = '';
									}

									//if non financial
									if ($this->companydetail['CUST_FINANCE'] == 3) {
										$checked = '';
									}

									?>
									<input type="checkbox" name="cust_rls_token" <?php echo $checked; ?> disabled>
									<span class="slider round" style="cursor: default;"></span>
								</label>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<!-- End Payment Workflow Tab -->

		<!-- Business Adapter Tab -->
		<div class="tab-pane fade show " id="adapter" role="tabpanel" aria-labelledby="adapter-tab" style="height: 400px;">
			<br>
			<br>
			<h6 class="text-black-50"><b><?php echo $this->language->_('Bulk Transfer Type'); ?></b></h6>
			<table class="table" style="border-top: none;" width="80%">
				<tr>
					<td width="20%">Payroll</td>
					<td>
						<?php echo $this->payrollAdapter; ?>
					</td>
				</tr>
				<tr>
					<td>Many to many</td>
					<td>
						<?php echo $this->manytomanyAdapter; ?>
					</td>
				</tr>
				<tr>
					<td>E-Money</td>
					<td>
						<?php echo $this->emoneyAdapter; ?>
					</td>
				</tr>
				<tr>
					<td>One to many</td>
					<td>
						<?php echo $this->onetomanyAdapter; ?>
					</td>
				</tr>
				<tr>
					<td>Many to one</td>
					<td>
						<?php echo $this->manytooneAdapter; ?>
					</td>
				</tr>
			</table>
		</div>
		<!-- End Business Adapter Tab -->

		<!-- Update Info Tab -->
		<div class="tab-pane fade show " id="upinfo" role="tabpanel" aria-labelledby="upinfo-tab" style="height: 400px;">
			<table width="80%" cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped">
				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_created', $this->language->_('Created Date')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_created', Application_Helper_General::convertDate($this->companydetail['CUST_CREATED'], $this->displayDateTimeFormat, $this->defaultDateFormat)); ?></td>
				</tr>

				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_createdby', $this->language->_('Created By')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_createdby', $this->companydetail['CUST_CREATEDBY']); ?></td>
				</tr>

				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_suggested', $this->language->_('Last Suggestion')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_suggested', Application_Helper_General::convertDate($this->companydetail['CUST_SUGGESTED'], $this->displayDateTimeFormat, $this->defaultDateFormat)); ?></td>
				</tr>

				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_suggestedby', $this->language->_('Last Suggester')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_suggestedby', $this->companydetail['CUST_SUGGESTEDBY']); ?></td>
				</tr>

				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_updated', $this->language->_('Last Approval')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_updated', Application_Helper_General::convertDate($this->companydetail['CUST_UPDATED'], $this->displayDateTimeFormat, $this->defaultDateFormat)); ?></td>
				</tr>

				<tr>
					<td class="tbl-evencontent"><?php echo $this->formLabel('cust_updatedby', $this->language->_('Last Approver')); ?></td>
					<td class="tbl-evencontent">:</td>
					<td class="tbl-evencontent" colspan="3"><?php echo $this->formLabel('cust_updatedby', $this->companydetail['CUST_UPDATEDBY']); ?></td>
				</tr>
			</table>
		</div>

		<!-- End Update Info Tab -->
		
	</div>
<br>
<br>
<!-- 				COMPANY DETAIL			-->	
<!-- <table cellpadding="3" cellspacing="0" border="1" class="tableform table-striped" width="580px" style="background-color: white;">
	<tr>
		<th class="filterarea tablehead" colspan="3" >
			<?php echo $this->language->_('Company Detail'); ?>				
		</th>
	</tr> 
<?php if($this->companydetail){	?>	
	<tr>
		<td class="tbl-evencontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Company Code'); ?>(used for login)</td>
		<td class="tbl-evencontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_ID']?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Securities Company'); ?></td>
		<td class="tbl-evencontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->language->_($this->companydetail['CUST_SECURITIES'])?></td>
	</tr>
	<tr>
		<td class="tbl-oddcontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Status'); ?></td>
		<td class="tbl-oddcontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->language->_($this->companydetail['CUST_STATUS'])?></td>
	</tr>
	<?php if($this->companydetail['CUST_SECURITIES'] == 'Yes'){ ?>
	<tr>
		<td class="tbl-oddcontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Company Code'); ?></td>
		<td class="tbl-oddcontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_CODE']?></td>
	</tr>
	<?php
			}
	 ?>
	<tr>
		<td class="tbl-oddcontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Company CIF'); ?></td>
		<td class="tbl-oddcontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_CIF']?></td>
	</tr>
	<tr>
		<td class="tbl-oddcontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Company Name'); ?></td>
		<td class="tbl-oddcontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_NAME']?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Company Type'); ?></td>
			
		<td class="tbl-evencontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_TYPE']?></td>
	</tr>
	<tr>
		<td class="tbl-oddcontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Business Type'); ?></td>
		<td class="tbl-oddcontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_WORKFIELD']?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Address'); ?></td>
			
		<td class="tbl-evencontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_ADDRESS']?></td>
	</tr>
	<tr>
		<td class="tbl-oddcontent" width="40%" style="border-right: none;"><?php echo $this->formLabel('cust_city',$this->language->_('City')); ?></td>
		<td class="tbl-oddcontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_CITY']?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Zip'); ?></td>
		<td class="tbl-evencontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_ZIP']?></td>		
	</tr>
	<tr>
		<td class="tbl-oddcontent" width="40%" style="border-right: none;"><?php echo $this->language->_('State/Province'); ?></td>
		<td class="tbl-oddcontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_PROVINCE']?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Country'); ?></td>
		<td class="tbl-evencontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['COUNTRY_NAME']?></td>
	</tr>
	<tr>
		<td class="tbl-oddcontent" width="40%" style="border-right: none;"><?php echo $this->formLabel('cust_contact',$this->language->_('Contact Person')); ?></td>
		<td class="tbl-oddcontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_CONTACT']?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="40%" style="border-right: none;"><?php echo $this->formLabel('cust_phone',$this->language->_('Contact Number')); ?></td>
		<td class="tbl-evencontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_PHONE']?></td>
	</tr>
	<tr>
		<td class="tbl-oddcontent" width="40%" style="border-right: none;"><?php echo $this->formLabel('cust_ext',$this->language->_('Extention')); ?></td>
		<td class="tbl-oddcontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_EXT']?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Fax Number'); ?></td>
		<td class="tbl-evencontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_FAX']?></td>
	</tr>	
	<tr>
		<td class="tbl-oddcontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Contact Email'); ?></td>
		<td class="tbl-oddcontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_EMAIL']?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Company Website'); ?></td>
		<td class="tbl-evencontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_WEBSITE']?></td>
	</tr>
	<tr>
		<td class="tbl-oddcontent" width="40%" style="border-right: none;"><?php echo $this->formLabel('cust_charges_status',$this->language->_('Company Charges Enabled')); ?></td>
		<td class="tbl-oddcontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_CHARGES_STATUS']?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="40%" style="border-right: none;"><?php echo $this->formLabel('cust_admfee_status',$this->language->_('Company Monthly Fee Enabled')); ?></td>
		<td class="tbl-evencontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_MONTHLYFEE_STATUS']?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Created Date'); ?></td>
		<td class="tbl-evencontent" width="69%" style="border-left: none;">:&nbsp;<?=Application_Helper_General::convertDate($this->companydetail['CUST_CREATED'],$this->displayDateTimeFormat,$this->defaultDateFormat)?></td>
	</tr>
	<tr>
		<td class="tbl-oddcontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Created By'); ?></td>
		<td class="tbl-oddcontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_CREATEDBY']?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Last Suggestion'); ?></td>
		<td class="tbl-evencontent" width="69%" style="border-left: none;">:&nbsp;<?=Application_Helper_General::convertDate($this->companydetail['CUST_SUGGESTED'],$this->displayDateTimeFormat,$this->defaultDateFormat)?></td>
	</tr>
	<tr>
		<td class="tbl-oddcontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Last Suggester'); ?></td>
		<td class="tbl-oddcontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_SUGGESTEDBY']?></td>
	</tr>	
	<tr>
		<td class="tbl-evencontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Last Approval'); ?></td>
		<td class="tbl-evencontent" width="69%" style="border-left: none;">:&nbsp;<?=Application_Helper_General::convertDate($this->companydetail['CUST_UPDATED'],$this->displayDateTimeFormat,$this->defaultDateFormat)?></td>
	</tr>
	<tr>
		<td class="tbl-oddcontent" width="40%" style="border-right: none;"><?php echo $this->language->_('Last Approver'); ?></td>
		<td class="tbl-oddcontent" width="69%" style="border-left: none;">:&nbsp;<?=$this->companydetail['CUST_UPDATEDBY']?></td>
	</tr>		
<?php }else{ ?>
	<tr>
		<td class="tbl-oddcontent"><b><?php echo $this->language->_('Company Not Found'); ?></b></td>
	</tr>	
<?php }?>
</table> -->
<!-- 			END COMPANY DETAIL					-->

<br />
<div> <a href="#" onclick="expandAll()"> <?php echo $this->language->_('Expand all Properties'); ?> </a> &nbsp;|&nbsp; <a href="#" onclick="hideAll()"> <?php echo $this->language->_('Hide all Properties'); ?> </a></div>
<br />

<?php if ($this->system_type1 != 2) { ?>

<table width="100%" border='0' class="table table-sm table-striped">
	<tr>
		<td> <strong><?php echo $this->language->_('Bank Account'); ?></strong> </td>
		<td align="right">
			<input class="btngreen hov" type="button" value="<?php echo $this->language->_('Expand'); ?>" onclick="bankAcc_show()" id="buttonBankAcc" />
			<input class="btnwhite hov" type="button" value="<?php echo $this->language->_('Hide'); ?>" onclick="bankAcc_hide()" id="buttonBankAccc" />
		</td>
	</tr>
</table>
<hr>

<?php
	if(!$this->button && empty($this->errmsg))
	{
?>
</td></tr><tr><td>
<?php }?>
<!-- 				BANK ACCOUNT						-->
<div class="portlet-body flip-scroll table-responsive table-fixed" class="fixTable" id="bankAcc">
	<table cellpadding="2" cellspacing="0" border="0" class="tableform table-striped" width="700px" style="background-color: white;">
			<!-- <th class="filterarea tablehead" colspan="9" >
				<?php echo $this->language->_('Bank Account'); ?>				
			</th> -->
			<tr>			
				<th class="tablehead fth-header" width="20px">No.</th>
				<th class="tablehead fth-header"><?php echo $this->language->_('Account Number'); ?></th>
				<th class="tablehead fth-header"><?php echo $this->language->_('Account Name'); ?></th>
				<th class="tablehead fth-header"><?php echo $this->language->_('Email'); ?></th>
				<th class="tablehead fth-header"><?php echo $this->language->_('Currency'); ?></th>
				<th class="tablehead fth-header"><?php echo $this->language->_('Type'); ?></th>
				<th class="tablehead fth-header"><?php echo $this->language->_('Order No'); ?></th>
				<th class="tablehead fth-header"><?php echo $this->language->_('Group Name'); ?></th>
				<th class="tablehead fth-header"><?php echo $this->language->_('Status'); ?></th>
			</tr>
			<?php
				if($this->bankacc){
					$i = 1;
					foreach($this->bankacc as $row)
					{
					$td_css = ($i%2==1)?'tbl-evencontent':'tbl-oddcontent';

					$temp = $row['ACCT_STATUS'];
				    $temp_status = array(
															1 => $this->status_type['desc']['approve'],
															2 => $this->status_type['desc']['suspended'],
															3 => $this->status_type['desc']['delete']
														); 
				    $status = $temp_status[$temp];

			?>
			
		       <?php echo '<tr>
	            		<td class="'.$td_css.'">'.$i.'</td>
						<td class="'.$td_css.'">'.$row['ACCT_NO'].'</td>
						<td class="'.$td_css.'">'.$row['ACCT_NAME'].'</td>
						<td class="'.$td_css.'">'.$row['ACCT_EMAIL'].'</td>
						<td class="'.$td_css.'">'.$row['CCY_ID'].'</td>
						<td class="'.$td_css.'">'.$row['ACCT_DESC'].'</td>
						<td class="'.$td_css.'">'.$row['ORDER_NO'].'</td>
						<td class="'.$td_css.'">'.$row['GROUP_NAME'].'</td>
						<td class="'.$td_css.'">'.$status.'</td>
			  		  </tr>';
				?>
			
			<?php
					$i++;
					}
				}else{
			?>	
			<tr>
							<td class="tbl-oddcontent" colspan="9" align="center"><?= $this->language->_('No Record Found');?></td>
			</tr>
			<?php } ?>
	</table>
</div>
<hr>
<?php } ?>
<!-- 			END BANK ACCOUNT						-->

<?php if (false) { //hide //if ($this->system_type1 != 1) { ?>

</hr>
<table width="100%" border='0' class="table table-sm table-striped">
	<tr>
		<td> <strong><?php echo $this->language->_('360 Open Bank Account'); ?></strong> </td>
		<td align="right">
			<input class="btngreen hov" type="button" value="<?php echo $this->language->_('Expand'); ?>" onclick="bank360ob_show()" id="buttonBank360ob" />
			<input class="btnwhite hov" type="button" value="<?php echo $this->language->_('Hide'); ?>" onclick="bank360ob_hide()" id="buttonBank360obc" />
		</td>
	</tr>
</table>
<hr>
<!-- 
<br /><hr /><br /> -->
<?php
	if(!$this->button && empty($this->errmsg))
	{
?>
</td></tr><tr><td>
<?php }?>
<!-- 				BANK ACCOUNT						-->

<div class="portlet-body flip-scroll table-responsive table-fixed" class="fixTable" id="bank360ob">
	<table cellpadding="2" cellspacing="0" border="0" class="tableform table-striped" width="700px" style="background-color: white;">
			<!-- <th class="filterarea tablehead" colspan="9" >
				<?php echo $this->language->_('360 open Bank Account'); ?>				
			</th> -->
			<tr>			
				<th class="tablehead fth-header" width="20px">No.</th>
				<th class="tablehead fth-header"><?php echo $this->language->_('Bank Name'); ?></th>
				<th class="tablehead fth-header"><?php echo $this->language->_('Account Number'); ?></th>
				<th class="tablehead fth-header"><?php echo $this->language->_('Account Name'); ?></th>
				<th class="tablehead fth-header"><?php echo $this->language->_('CCY'); ?></th>
			</tr>
			<?php
				if($this->datapersonal){
					$i = 1;
					foreach($this->datapersonal as $row)
					{
					$td_css = ($i%2==1)?'tbl-evencontent':'tbl-oddcontent';
			?>
			
		       <?php echo '<tr>
	            		<td class="'.$td_css.'">'.$i.'</td>
	            		<td class="' . $td_css . '">'.$row['bank_name'].'</td>
						<td class="' . $td_css . '">'.$row['account_number'].'</td>
						<td class="' . $td_css . '">'.$row['account_name'].'</td>
						<td class="' . $td_css . '">'.$row['account_currency'].'</td>
			  		  </tr>';
				?>
			
			<?php
					$i++;
					}
				}else{
			?>	
			<tr>
							<td class="tbl-oddcontent" colspan="9" align="center"><?= $this->language->_('No Record Found');?></td>
			</tr>
			<?php } ?>
	</table>
</div>
<hr>
<!-- 			END 360 OPEN BANK ACCOUNT						-->
<?php } ?>

<!-- <?php
	if(!$this->button && empty($this->errmsg))
	{
?>
</td></tr><tr><td>
<?php }?> -->
<!-- <br /><hr /><br /> -->
<!-------------------------------------------------------------- Beneficiary Bank Account ------------------------------------------------->
<!-- <table cellpadding="2" cellspacing="0" border="1" class="tableform table-striped" width="700px" style="background-color: white;">
		<tr>
			<th class="filterarea tablehead" colspan="9" >
				<?php echo $this->language->_('Beneficiary Bank Account'); ?>				
			</th>
		</tr>
		 <tr>
			<th class="tablehead fth-header" width="3%" valign="top">No</th>
			<th class="tablehead fth-header"><?php echo $this->language->_('Account Number'); ?></th>
			<th class="tablehead fth-header"><?php echo $this->language->_('Account Name'); ?></th>
			<th class="tablehead fth-header"><?php echo $this->language->_('Currency'); ?></th>
		 </tr>
		 <?php
      if(count($this->benefBankAcc))
      {
        $counter = 1;
        $i = 0;
        foreach($this->benefBankAcc as $row)
        {
		  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
	     
          echo '<tr>
                  <td class="'.$td_css.'">'.$counter.'</td>
	              <td class="'.$td_css.'">'.$row['BENEFICIARY_ACCOUNT'].'</td>
			      <td class="'.$td_css.'" >'.$row['BENEFICIARY_NAME'].'</td>
			      <td class="'.$td_css.'" >'.$row['CURR_CODE'].'</td>
			      </tr>';
          $i++;
          $counter++;  
  	    }
      }
      else
      {
	      echo '<tr><td colspan="4" class="tbl-evencontent" align="center"> '.$this->language->_('No Record Found').' </td></tr>';
	  }
   ?>
</table> -->
<!-------------------------------------------------------------- END Beneficiary Bank Account ------------------------------------------------->
<!-- <br /><hr /><br /> -->

</hr>
<table width="100%" border='0' class="table table-sm table-striped">
	<tr>
		<td> <strong><?php echo $this->language->_('User Account'); ?></strong> </td>
		<td align="right">
			<input class="btngreen hov" type="button" value='<? echo $expand ?>' onclick="userAcc_show()" id="buttonUserAcc" />
			<input class="btnwhite hov" type="button" value='<? echo $hide ?>' onclick="userAcc_hide()" id="buttonUserAccc" />
		</td>
	</tr>
</table>
<hr>

<?php
	if(!$this->button && empty($this->errmsg))
	{
?>
</td></tr><tr><td>
<?php }?>
<!-- 				USER ACCOUNT						-->
<div class="portlet-body flip-scroll table-responsive table-fixed" class="fixTable" id="userAcc">
<table cellpadding="2" cellspacing="0" border="0" class="tableform table-striped" width="700px" style="background-color: white;">
	<!-- <tr>
		<th class="filterarea tablehead" colspan="8" >
			<?php echo $this->language->_('User Account'); ?>				
		</th>
	</tr> -->
   	 <tr>
      	<th class="tablehead fth-header" width="3%" valign="top">No</th>
        <th class="tablehead fth-header"><?php echo $this->language->_('User ID'); ?></th>
        <th class="tablehead fth-header"><?php echo $this->language->_('User Name'); ?></th>
        <th class="tablehead fth-header"><?php echo $this->language->_('User is Locked'); ?></th>
        <th class="tablehead fth-header"><?php echo $this->language->_('Email'); ?></th>
        <th class="tablehead fth-header"><?php echo $this->language->_('Phone Number'); ?></th>
        <th class="tablehead fth-header"><?php echo $this->language->_('Status'); ?></th>
     </tr>

  <?php
      if(count($this->useracc))
      {
        $counter = 1;
        $i = 0;
        foreach($this->useracc as $row)
        {
		  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
	      $status  = '&nbsp;'; 
	
	
		  $temp = $row['USER_STATUS'];
	
	      $temp_status = array(1 => $this->status_type['desc']['approve'],
	                     2 => $this->status_type['desc']['suspended'],
	                     3 => $this->status_type['desc']['delete']
	                    ); 
	     $status = $temp_status[$temp];
	
	if($row['USER_ISLOCKED']) $userIsLocked = 'Yes';
	else $userIsLocked = 'No'; 
	
	if($row['USER_ISEMAIL']) $userIsEmail = 'Yes';
	else $userIsEmail = 'No'; 


	echo '<tr>
            <td class="'.$td_css.'">'.$counter.'</td>
			<td class="'.$td_css.'">'.$row['USER_ID'].'</td>
		    <td class="'.$td_css.'">'.$row['USER_FULLNAME'].'</td>
			<td class="'.$td_css.'">'.$this->language->_($userIsLocked).'</td>
		    <td class="'.$td_css.'">'.$row['USER_EMAIL'].'</td>
		    <td class="'.$td_css.'">'.$row['USER_PHONE'].'</td>
			<td class="'.$td_css.'">'.$this->language->_($status).'</td>
		  </tr>';
    $i++;
    $counter++;
  	  }
    }
    else
    {
	  echo '<tr><td colspan="8" class="tbl-evencontent" align="center"> '.$this->language->_('No Record Found').' </td></tr>';
	}
   ?>

</table>
</div>
<hr>
<!-- 			END USER ACCOUNT						-->
<?php if (false) { ?>
</hr>
<table width="100%" border='0' class="table table-sm table-striped">
	<tr>
		<td> <strong><?php echo $this->language->_('User Limit'); ?></strong> </td>
		<td align="right">
			<input class="btngreen hov" type="button" value='<?php echo $expand ?>' onclick="userLimit_show()" id="buttonUserLimit" />
			<input class="btnwhite hov" type="button" value='<?php echo $hide ?>' onclick="userLimit_hide()" id="buttonUserLimitc" />
		</td>
	</tr>
</table>
<hr>

<?php
	if(!$this->button && empty($this->errmsg))
	{
?>
</td></tr><tr><td>
<?php }?>
<!-- <br /><hr /><br /> -->

<!-- 				USER LIMIT						-->
<div class="portlet-body flip-scroll table-responsive table-fixed" class="fixTable" id="userLimit">
<table cellpadding="2" cellspacing="0" border="0" class="tableform table-striped" width="700px" style="background-color: white;">
		<!-- <tr>
			<th class="filterarea tablehead" colspan="8" >
				<?php echo $this->language->_('User Limit'); ?>				
			</th>
		</tr> -->
		<tr> 	
			<th class="tablehead fth-header" width="20px">No.</th>
			<th class="tablehead fth-header"><?php echo $this->language->_('User ID'); ?></th>
			<th class="tablehead fth-header"><?php echo $this->language->_('User Name'); ?></th>
			<th class="tablehead fth-header"><?php echo $this->language->_('Account Number'); ?></th>
			<th class="tablehead fth-header"><?php echo $this->language->_('Account Name'); ?></th>
			<th class="tablehead fth-header"><?php echo $this->language->_('Currency'); ?></th>
			<th class="tablehead fth-header"><?php echo $this->language->_('Max Limit'); ?></th>
			<th class="tablehead fth-header"><?php echo $this->language->_('Status'); ?></th>
		</tr>
		<?php
			if($this->userlimit){
				$i = 1;
				foreach($this->userlimit as $row)
				{
				$td_css = ($i%2==1)?'tbl-evencontent':'tbl-oddcontent';
				
				$temp = $row['MAKERLIMIT_STATUS'];
			    $temp_status = array(1 => $this->status_type['desc']['approve'],
							 2 => $this->status_type['desc']['suspended'],
							 3 => $this->status_type['desc']['delete']
							); 
			    $status = isset($temp_status[$temp]) ? $temp_status[$temp] : '';
			
		?>
		<tr>
						<td class="<?=$td_css?>" width="20px"><?=$i?></td>
						<td class="<?=$td_css?>"><?=$row['USER_LOGIN']?></td>
						<td class="<?=$td_css?>"><?=$row['USER_FULLNAME']?></td>
						<td class="<?=$td_css?>"><?=$row['ACCT_NO']?></td>
						<td class="<?=$td_css?>"><?=$row['ACCT_NAME']?></td>
						<td class="<?=$td_css?>"><?=$row['CCY_ID']?></td>
						<td class="<?=$td_css?>"><?=Application_Helper_General::DisplayMoney($row['MAXLIMIT'])?></td>
						<td class="<?=$td_css?>"><?=$this->language->_($status)?></td>
		</tr>
		<?php
				$i++;
				}
			}else{
		?>	
		<tr>
						<td class="tbl-oddcontent" colspan="8" align="center"><?= $this->language->_('No Record Found');?></td>
		</tr>
		<?php } ?>
</table>
</div>

<hr>
<!-- 			END USER LIMIT						-->

<!-- <br /><hr /><br /> -->
</hr>

<table width="100%" border='0' class="table table-sm table-striped">
	<tr>
		<td> <strong><?php echo $this->language->_('User Daily Limit'); ?></strong> </td>
		<td align="right">
			<input class="btngreen hov" type="button" value='<?php echo $expand ?>' onclick="userDailyLimit_show()" id="buttonUserDailyLimit" />
			<input class="btnwhite hov" type="button" value='<?php echo $hide ?>' onclick="userDailyLimit_hide()" id="buttonUserDailyLimitc" />
		</td>
	</tr>
</table>
<hr>
<?php
	if(!$this->button && empty($this->errmsg))
	{
?>
</td></tr><tr><td>
<?php }?>
<!-- 				USER DAILY LIMIT						-->
<div class="portlet-body flip-scroll table-responsive table-fixed" class="fixTable" id="userDailyLimit">
<table cellpadding="2" cellspacing="0" border="0" class="tableform table-striped" width="700px" style="background-color: white;">
		<!-- <tr>
			<th class="filterarea tablehead" colspan="6" >
				<?php echo $this->language->_('User Daily Limit'); ?>				
			</th>
		</tr> -->
		<tr>
			<th class="tablehead fth-header" width="20px">No.</th>
			<th class="tablehead fth-header"><?php echo $this->language->_('User ID'); ?></th>
			<th class="tablehead fth-header"><?php echo $this->language->_('User Name'); ?></th>
			<th class="tablehead fth-header"><?php echo $this->language->_('Currency'); ?></th>
			<th class="tablehead fth-header"><?php echo $this->language->_('Max Limit'); ?></th>			
			<th class="tablehead fth-header"><?php echo $this->language->_('Status'); ?></th>
		</tr>
		<?php
			if($this->userdailylimit){
				$i = 1;
				foreach($this->userdailylimit as $row)
				{
				$td_css = ($i%2==1)?'tbl-evencontent':'tbl-oddcontent';
				
				$temp = $row['DAILYLIMIT_STATUS'];
			    $temp_status = array(1 => $this->status_type['desc']['approve'],
							 2 => $this->status_type['desc']['suspended'],
							 3 => $this->status_type['desc']['delete']
							); 
			    $status = $temp_status[$temp];				
		?>  
		
		<tr>
						<td class="<?=$td_css?>" width="20px"><?=$i?></td>
						<td class="<?=$td_css?>"><?=$row['USER_LOGIN']?></td>
						<td class="<?=$td_css?>"><?=$row['USER_FULLNAME']?></td>
						<td class="<?=$td_css?>"><?=$row['CCY_ID']?></td>
						<td class="<?=$td_css?>"><?=Application_Helper_General::DisplayMoney($row['DAILYLIMIT'])?></td>
						<td class="<?=$td_css?>"><?=$status?></td>
		</tr>
		<?php
				$i++;
				}
			}else{
		?>	
		<tr>
						<td class="tbl-oddcontent" colspan="6" align="center"><?= $this->language->_('No Record Found');?></td>
		</tr>
		<?php } ?>
</table>
</div>
<hr>
<!-- 			END USER DAILY LIMIT						-->
</hr>
<?php } ?>
<table width="100%" border='0' class="table table-sm table-striped">
	<tr>
		<td> <strong><?php echo $this->language->_('Approval Matrix'); ?></strong> </td>
		<td align="right">
			<input class="btngreen hov" type="button" value='<?php echo $expand ?>' onclick="appGroup_show()" id="buttonAppGroup" />
			<input class="btnwhite hov" type="button" value='<?php echo $hide ?>' onclick="appGroup_hide()" id="buttonAppGroupc" />
		</td>
	</tr>
</table>
<hr>
<!-- <br /><hr /><br /> -->
<?php
	if(!$this->button && empty($this->errmsg))
	{
?>
</td></tr><tr><td>
<?php }?>
<!-- 				VERIFIER GROUP						-->
<div class="portlet-body flip-scroll table-responsive table-fixed" class="fixTable" id="appGroup">
<table cellpadding="2" cellspacing="0" border="0" class="tableform table-striped" width="700px" style="background-color: white;">
		<tr>
			<th class="filterarea tablehead" colspan="3" >
				<?php echo $this->language->_('Approver Group'); ?>				
			</th>
		</tr>
		<tr>
			<th class="tablehead fth-header" width="20px">No.</th>
			<th class="tablehead fth-header"><?php echo $this->language->_('Description'); ?></th>
			<th class="tablehead fth-header"><?php echo $this->language->_('User ID'); ?></th>
		</tr>
	
	<?php
        $counter = 1;
        for($i=1; $i<=10; $i++)
        {
			$td_css  = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
			//$groupIndex = ($i < 10) ? 'N_'. $this->cust_id.'_0'.$i : 'N_'. $this->cust_id.$i;
			$groupIndex = ($i < 10) ? 'N_'. $this->cust_id.'_0'.$i : 'N_'. $this->cust_id.'_'.$i;
			echo '<tr>
					<td class="'.$td_css.'">'.$counter.'</td>
					<td class="'.$td_css.'">Group '. $counter .'</td>
					<td class="'.$td_css.'">';
			if(isset($this->verifiergroup[$groupIndex]))
			{
				echo $this->verifiergroup[$groupIndex];
			}
			echo '</td>
	             </tr>';
	
          $counter++;
  	   }

?>
	   <tr> 
		  <td class="tbl-evencontent">11</td>
		  <td class="tbl-evencontent"><?php echo $this->language->_('Special Group'); ?></td>
		  <td class="tbl-evencontent">
				<?php 
					$groupIndex = 'S_'. $this->cust_id;  
					if(isset($this->verifiergroup[$groupIndex]))
					{
						echo $this->verifiergroup[$groupIndex];
					}
				?>
			</td>
	   </tr>
</table>
<!-- 			END VERIFIER GROUP						-->

<br /><hr /><br />
<?php
	if(!$this->button && empty($this->errmsg))
	{
?>
</td></tr><tr><td>
<?php }?>
<!-- 				VERIFIER GROUP BOUNDARY						-->
<table cellpadding="2" cellspacing="0" border="0" class="tableform table-striped" width="700px" style="background-color: white;">
		<tr>
			<th class="filterarea tablehead" colspan="4" >
				<?php echo $this->language->_('Approver Group Boundary'); ?>				
			</th>
		</tr>
		<tr>		
			<th class="tablehead fth-header" width="20px">No.</th>
			<th class="tablehead fth-header"><?php echo $this->language->_('Boundary Value'); ?></th>
			<th class="tablehead fth-header"><?php echo $this->language->_('Currency'); ?></th>
			<th class="tablehead fth-header"><?php echo $this->language->_('Approver Group'); ?></th>
		</tr>

		<?php
	     if(count($this->verifiergroupbound) > 0)
	     {
	        $counter = 1;
	    
	        foreach($this->verifiergroupbound as $row)
	        {
			   $td_css  = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
			   
			   echo '<tr>
	                   <td class="'.$td_css.'">'.$counter.'</td>
				       <td class="'.$td_css.'">'.Application_Helper_General::displayMoney($row['BOUNDARY_MIN']). ' - ' .Application_Helper_General::displayMoney($row['BOUNDARY_MAX']).'</td>
				       <td class="'.$td_css.'">'.$row['CCY_BOUNDARY'].'</td>'.
			           '<td class="'.$td_css.'">';
			   
			 
			   if(isset($row['GROUP_USER_ID']))
			   {  
			       $flag = 0;
			       foreach($row['GROUP_USER_ID'] as $groupDesc)
			       {
			          if($flag != 0) echo ', ';
					  echo $groupDesc;
					  $flag++;
			       }
			   }
			   else echo 'N/A';
			   
			   echo    '</td>'.
				    '</tr>';
		
	          $counter++;
	  	   }
	  	   
	     }
	  	 else
	     {
		    echo '<tr><td colspan="9" class="tbl-evencontent" align="center"> '.$this->language->_('No Data').' </td></tr>';
		 } 
	   ?>
</table>
</div>
<hr>
<!-- 			END VERIFIER GROUP	BOUNDARY					-->

<!-- <br /><hr /><br /> -->

</hr>
<?php if (false) { ?>
<table width="100%" border='0' class="table table-sm table-striped">
	<tr>
		<td> <strong><?php echo $this->language->_('Beneficiary Account') ?></strong> </td>
		<td align="right">
			<input class="btngreen hov" type="button" value='<?php echo $expand ?>' onclick="benefAccount_show()" id="buttonBenefAccount" />
			<input class="btnwhite hov" type="button" value='<?php echo $hide ?>' onclick="benefAccount_hide()" id="buttonBenefAccountc" />
		</td>
	</tr>
</table>
<hr>
<?php
	if(!$this->button && empty($this->errmsg))
	{
?>
</td></tr><tr><td>
<?php }?>
<!-- 				END BENEFICIARY USER						-->
<div class="portlet-body flip-scroll table-responsive table-fixed" class="fixTable" id="benefAccount">
<table cellpadding="2" cellspacing="0" border="0" class="tableform table-striped" width="700px" style="background-color: white;">
		<!-- <tr>
			<th class="filterarea tablehead" colspan="8" >
				<?php echo $this->language->_('Beneficiary Account'); ?>				
			</th>
		</tr> -->
		<tr>
      	<th class="tablehead fth-header" width="3%" valign="top">No</th>
        <th class="tablehead fth-header"><?php echo $this->language->_('Bank Name'); ?></th>
        <th class="tablehead fth-header"><?php echo $this->language->_('Account Number'); ?></th>
        <th class="tablehead fth-header"><?php echo $this->language->_('Account Name'); ?></th>
        <th class="tablehead fth-header"><?php echo $this->language->_('CCY'); ?></th>
     </tr>
   
  <?php
      if(count($this->benefAccount))
      {
        $counter = 1;
        $i = 0;
        foreach($this->benefAccount as $row)
        {
		  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
	     
          echo '<tr>
                  <td class="'.$td_css.'">'.$counter.'</td>
			      <td class="'.$td_css.'" >'.$row['BANK_NAME'].'</td>
			      <td class="'.$td_css.'" >'.$row['BENEFICIARY_ACCOUNT'].'</td>
			      <td class="'.$td_css.'" >'.$row['BENEFICIARY_NAME'].'</td>
			      <td class="'.$td_css.'" >'.$row['CURR_CODE'].'</td>
		        </tr>';
          $i++;
          $counter++;
  	    }
      }
      else
      {
	      echo '<tr><td colspan="6" class="tbl-evencontent" align="center"> '.$this->language->_('No Record Found').' </td></tr>';
	  }
   ?>
</table>
</div>
<hr>
<!-- 			END BENEFICIARY ACCOUNT					-->

<!-- <br /><hr /><br /> -->
</hr>
<table width="100%" border='0' class="table table-sm table-striped">
	<tr>
		<td> <strong><?php echo $this->language->_('Beneficiary Linkage') ?></strong> </td>
		<td align="right">
			<input class="btngreen hov" type="button" value='<?php echo $expand ?>' onclick="benefUser_show()" id="buttonBenefUser" />
			<input class="btnwhite hov" type="button" value='<?php echo $hide ?>' onclick="benefUser_hide()" id="buttonBenefUserc" />
		</td>
	</tr>
</table>
<hr>


<div class="portlet-body flip-scroll table-responsive table-fixed" class="fixTable" id="benefUser">
<table cellpadding="2" cellspacing="0" border="0" class="tableform table-striped" width="700px" style="background-color: white;">
		<!-- <tr>
			<th class="filterarea tablehead" colspan="8" >
				<?php echo $this->language->_('Beneficiary Linkage'); ?>				
			</th>
		</tr> -->
		<tr>
      	<th class="tablehead fth-header" width="3%" valign="top">No</th>
        <th class="tablehead fth-header"><?php echo $this->language->_('User ID'); ?></th>
        <th class="tablehead fth-header"><?php echo $this->language->_('User Name'); ?></th>
        <th class="tablehead fth-header"><?php echo $this->language->_('Bank Name'); ?></th>
        <th class="tablehead fth-header"><?php echo $this->language->_('Account Number'); ?></th>
        <th class="tablehead fth-header"><?php echo $this->language->_('Account Name'); ?></th>
        <th class="tablehead fth-header"><?php echo $this->language->_('Currency'); ?></th>
     </tr>
   
  <?php
      if(count($this->benefUser))
      {
        $counter = 1;
        $i = 0;
        foreach($this->benefUser as $row)
        {
		  $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
	     
          echo '<tr>
                  <td class="'.$td_css.'">'.$counter.'</td>
	              <td class="'.$td_css.'">'.$row['USER_ID'].'</td>
			      <td class="'.$td_css.'" >'.$row['USER_FULLNAME'].'</td>
			      <td class="'.$td_css.'" >'.$row['BANK_NAME'].'</td>
			      <td class="'.$td_css.'" >'.$row['BENEFICIARY_ACCOUNT'].'</td>
			      <td class="'.$td_css.'" >'.$row['BENEFICIARY_NAME'].'</td>
			      <td class="'.$td_css.'" >'.$row['CURR_CODE'].'</td>
		        </tr>';
          $i++;
          $counter++;
  	    }
      }
      else
      {
	      echo '<tr><td colspan="6" class="tbl-evencontent" align="center"> '.$this->language->_('No Record Found').' </td></tr>';
	  }
   ?>
</table>
</div>
<hr>
<!-- 			END BENEFICIARY USER					-->
<?php } ?>
<?php
	if($this->button)
	{
?>

<br>
<br>

<table align="LEFT">
	<tr style="height:30px">
		<td colspan="12" align="CENTER">
			<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index.phtml.ptml'),null,true)?>" method="post">			
				<!-- <?php echo $this->formSubmit('pdf','PDF',array('class'=>'btngreen hov hidden')); ?>&nbsp; -->
				<input type="submit" value="PDF" name="pdf" id="pdf" class="fa btngrad hov">
				<!-- <input class="btngreen hov hidden"  value="<?php echo $this->language->_('PRINT')?>"  type="button"> -->
				<button onclick="window.print();" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print")?></button>&nbsp;
			</form>				
		</td>
	</tr>
</table>
<?php
	}
?>
