<script>
	$(document).ready(function() {
		if ('<?= $this->success ?>' || '<?= $this->error ?>') {
			$("input").attr("disabled", "disabled");
			$("textarea").attr("disabled", "disabled");
		}
	});
</script>

<style type="text/css">
	.nav-tabs .nav-link {
		border-color: #c9c9c9;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		text-align: center;
		font-size: 12px;
		width: 284px;
		text-transform: uppercase;
	}

	.nav-tabs .nav-link:hover {
		border-color: #c9c9c9 !important;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		color: white !important;
		margin-top: -10px;
		padding-bottom: 10px;
		top: -10px;
		padding-top: 18px;
		height: 47.5px;
		width: 284px;
		text-transform: uppercase;
		background-color: #005587 !important;
	}

	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active {
		color: white !important;
		border-color: #dee2e6 #dee2e6 #fff !important;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin-top: -10px;
		padding-bottom: 10px;
		top: -10px;
		padding-top: 14px;
		height: 47.5px;
		font-size: 14px;
		width: 284px;
		text-transform: uppercase;
		background-color: #005587 !important;
	}

	.mybtn .buttonact {
		background-color: #ffffff !important;
		color: #000000 !important;
	}

	.mybtn .buttonnoact {
		background-color: #D1D0CE !important;
		color: #736F6E !important;
		border-color: #B6B6B4 !important;
	}

	.errmsg>.errors {
		padding: 0px 0px 0px 10px;
		margin-bottom: 0px;
	}
</style>

<div class="row">
	<div class="col-md-12">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<span><?php echo $this->language->_('Beranda'); ?></span>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Umum'); ?>
					<i class="fa fa-angle-right pl-1 pr-1"></i>
				</li>
				<li>
					<?php echo $this->language->_('Pengaturan Umun'); ?>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h5><?= $this->language->_('Pengaturan Umum') ?></h5>
		<!--<h6><?= $this->language->_('Manage front end, user account, notification template settings	') ?></h6>-->
	</div>
</div>
<br>
<!-- <div class="row col-md-12 d-flex justify-content-center">
		<button type="button" onclick="location.href='/generalsetting/foappsetting'" class="btnwhite hov col-md-3" name="button">Front End</button>
		<button type="button" onclick="location.href='/generalsetting/fousersetting'" class="btngreen hov col-md-3" name="button">User and Password Policies</button>
		<button type="button" onclick="location.href='/generalsetting/templatesetting'" class="btnwhite hov col-md-3" name="button">Template Setting</button>
	</div> -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item">
		<a class="nav-link" value="1" at="1" onclick="location.href='/generalsetting/foappsetting'" id="compinfo-tab" data-toggle="tab" href="#compinfo" role="tab" aria-controls="compinfo" aria-selected="true">TAMPILAN NASABAH</a>

	</li>

	<li class="nav-item">
		<a class="nav-link active" value="3" at="3" onclick="location.href='/generalsetting/fousersetting'" id="paywork1-tab" data-toggle="tab" href="#paywork" role="tab" aria-controls="paywork" aria-selected="false">PENGATURAN USER DAN PASSWORD</a>

	</li>

	<li class="nav-item" style="display:none;">
		<a class="nav-link" value="2" at="2" onclick="location.href='/generalsetting/templatesetting'" id="paywork-tab" data-toggle="tab" href="#paywork" role="tab" aria-controls="paywork" aria-selected="false">Template Setting</a>

	</li>

</ul>

<br>
<?php if ($this->success) { ?>
	<div class="alert alert-success" role="alert"><?= $this->language->_($this->report_msg) ?></div><br />
<?php } else if (!empty($this->report_msg)) { ?>
	<div class="alert alert-danger" role="alert">

		<?= $this->language->_($this->report_msg) ?>

		<?php if ($this->errorfee) {
			echo '<br><br>' . $this->errorfee;
		} ?>

	</div>

<?php } ?>
<div class="row">
	<div class="col-sm-3">
		<div class="mybtn">
			<button onclick="location.href='/generalsetting/fousersetting'" class="buttonact col-md-12">Pengaturan Nasabah</button>
			<button onclick="location.href='/generalsetting/bousersetting'" class="buttonnoact col-md-12">Pengaturan Bank</button>
		</div>
	</div>

	<div class="col-sm-9">
		<form name="filterForm" action="<?= $this->url(array('page' => '1')) . $this->qstring ?>" method="post">
			<table cellpadding="10" cellspacing="0" width="100%">
				<tr>
					<td><?php echo $this->language->_('Panjang User ID'); ?> <span class="text-danger font-weight-bold">*</span></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('min_length_userid', $this->min_length_userid, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);', 'onKeyUp' => 'cekInputNol(event);')) ?>
					</td>
					<td> - </td>
					<td>
						<?php echo $this->formText('max_length_userid', $this->max_length_userid, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);', 'onKeyUp' => 'cekInputNol(event);'))	?>
					</td>
				</tr>

				<?php if (!empty($this->xmin_length_userid) || !empty($this->xmax_length_userid)) { ?>
					<tr>
						<td></td>
						<td></td>
						<td style="padding: 0; text-align: left;" colspan="3">
							<div class="errmsg"><?= $this->xmin_length_userid; ?></div>
							<div class="errmsg"><?= $this->xmax_length_userid; ?></div>
						</td>
					</tr>
				<?php } ?>

				<tr>
					<td><?php echo $this->language->_('Panjang Password'); ?> <span class="text-danger font-weight-bold">*</span></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('minfpassword', $this->minfpassword, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);', 'onKeyUp' => 'cekInputNol(event);')) ?>
					</td>
					<td> - </td>
					<td>
						<?php echo $this->formText('maxfpassword', $this->maxfpassword, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);', 'onKeyUp' => 'cekInputNol(event);')) ?>
					</td>
				</tr>

				<?php if (!empty($this->xminfpassword) || !empty($this->xmaxfpassword)) { ?>
					<tr>
						<td></td>
						<td></td>
						<td style="padding: 0; text-align: left;" colspan="3">
							<div class="errmsg"><?= $this->xminfpassword; ?></div>
							<div class="errmsg"><?= $this->xmaxfpassword; ?></div>
						</td>
					</tr>
				<?php } ?>

				<tr>
					<td><?php echo $this->language->_('Periode Masa Berlaku Password'); ?> <span class="text-danger font-weight-bold">*</span></td>
					<td>:</td>
					<td>
						<?php
						echo $this->formText('pwd_expired_day', $this->pwd_expired_day, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);', 'onKeyUp' => 'cekInputNol(event);'))
						?>
					</td>
					<td></td>
					<td>hari</td>
				</tr>

				<?php if (!empty($this->xpwd_expired_day)) { ?>
					<tr>
						<td></td>
						<td></td>
						<td style="padding: 0; text-align: left;" colspan="3">
							<div class="errmsg"><?= $this->xpwd_expired_day; ?></div>
						</td>
					</tr>
				<?php } ?>

				<tr>
					<td><?php echo $this->language->_('Kunci User Jika Tidak Login'); ?> <span class="text-danger font-weight-bold">*</span></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('locknologinafter', $this->locknologinafter, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);', 'onKeyUp' => 'cekInputNol(event);')) ?>
					</td>
					<td></td>
					<td>hari</td>
				</tr>

				<?php if (!empty($this->xlocknologinafter)) { ?>
					<tr>
						<td></td>
						<td></td>
						<td style="padding: 0; text-align: left;" colspan="3">
							<div class="errmsg"><?= $this->xlocknologinafter; ?></div>
						</td>
					</tr>
				<?php } ?>

				<tr>
					<td><?php echo $this->language->_('Kunci User Jika Gagal Input Password'); ?> <span class="text-danger font-weight-bold">*</span></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('lockfailloginafter', $this->lockfailloginafter, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);', 'onKeyUp' => 'cekInputNol(event);')) ?>
					</td>
					<td></td>
					<!--<td>attempt(s)</td>-->
				</tr>

				<?php if (!empty($this->xlockfailloginafter)) { ?>
					<tr>
						<td></td>
						<td></td>
						<td style="padding: 0; text-align: left;" colspan="3">
							<div class="errmsg"><?= $this->xlockfailloginafter; ?></div>
						</td>
					</tr>
				<?php } ?>

				<tr>
					<td><?php echo $this->language->_('Kunci User Jika Gagal Input Token'); ?> <span class="text-danger font-weight-bold">*</span></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('lockfailtokenafter', $this->lockfailtokenafter, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);', 'onKeyUp' => 'cekInputNol(event);')) ?>
					</td>
					<td></td>
					<!--<td>attempt(s)</td>-->
				</tr>

				<?php if (!empty($this->xlockfailtokenafter)) { ?>
					<tr>
						<td></td>
						<td></td>
						<td style="padding: 0; text-align: left;" colspan="3">
							<div class="errmsg"><?= $this->xlockfailtokenafter; ?></div>
						</td>
					</tr>
				<?php } ?>

				<tr>
					<td><?php echo $this->language->_('Jumlah Password Yang disimpan dalam Riwayat'); ?> <span class="text-danger font-weight-bold">*</span></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('password_history', $this->password_history, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);', 'onKeyUp' => 'cekInputNol(event);')) ?>
					</td>
				</tr>

				<?php if (!empty($this->xpassword_history)) { ?>
					<tr>
						<td></td>
						<td></td>
						<td style="padding: 0; text-align: left;" colspan="3">
							<div class="errmsg"><?= $this->xpassword_history; ?></div>
						</td>
					</tr>
				<?php } ?>

				<tr>
					<td><?php echo $this->language->_('Batas Waktu Session'); ?> <span class="text-danger font-weight-bold">*</span></td>
					<td>:</td>
					<td>
						<?php echo $this->formText('timeoutafter', $this->timeoutafter, array('class' => 'form-control col-md-12', 'maxlength' => 128, 'onkeypress' => 'javascript:return forceNumber(event);', 'onKeyUp' => 'cekInputNol(event);')) ?>
					</td>
					<td></td>
					<td>detik</td>
				</tr>

				<?php if (!empty($this->xtimeoutafter)) { ?>
					<tr>
						<td></td>
						<td></td>
						<td style="padding: 0; text-align: left;" colspan="3">
							<div class="errmsg"><?= $this->xtimeoutafter; ?></div>
						</td>
					</tr>
				<?php } ?>

				<tr>
					<td colspan="5">
						<div class="col-md-12">
							<table align="center">
								<tr>
									<?php
									$options = array('class' => 'btngreen hov');
									$options2 = array('class' => 'btnwhite hov');
									if ($this->success || $this->error) {
										$options = array_merge($options, array("disabled" => "disabled"));
									}
									?>
									<td>
										<?php //echo $this->formSubmit('submit','Submit',$options)
										?>&nbsp;
										<?php //echo $this->formReset('reset','Reset',$options)
										?>

										<?php
										if ($this->hasPrivilege('STUD')) {
										?>
											<?php echo $this->formReset('reset', $this->language->_('Reset'), $options2) ?>
											<?php echo $this->formSubmit('submit', $this->language->_('Submit'), $options) ?>&nbsp;

										<?php
										} else {
											$submit = $this->language->_('Submit');
											$reset = $this->language->_('Reset');
											echo '<input type="button" value="' . $submit . '" disabled class="inputbtn"> &nbsp;';
											echo '<input type="button" value="' . $reset . '" disabled class="inputbtn">';
										}
										?>
									</td>
								</tr>
							</table>
						</div>
					</td>
				</tr>

			</table>

	</div>

	</form>
</div>

<script type="text/javascript">
	function cekInputNol(event) {
		input = $('#' + event.target.id).val();

		if (String(input).charAt(0) == "0") {
			$('#' + event.target.id).val("");
		}
	}

	document.querySelector("#timeoutafter").addEventListener("blur", (event) => {
		if (event.target.value == '') {
			// event.target.value = '300'
			event.target.value = '1800'
			return true;
		}

			if (parseInt(event.target.value) < 120 || parseInt(event.target.value) > 3600) {
				
				if (parseInt(event.target.value) < 120)  {
					alert("Tidak boleh kurang dari 120");
					event.target.value = '120'
				}

				if (parseInt(event.target.value) > 3600)  {
					alert("Tidak boleh lebih besar dari 3600");
					event.target.value = '3600'
				}
				
				return true;
			}
	})
</script>