<style>
	#penampung{
		width:800px;
		height:auto;
	}
	
	#isi{
		float:left;
		width:48.5%;
	}

</style>

<script text="text/javascript" >		
	
	function disabled_docver_br(){
		$("#docver_action").removeAttr("disabled");
		$("#br_action").removeAttr("disabled");
		$(".invoice_type").hide();
		$(".doc_check_list").hide();
		
		if($("#docver_action").val()==1)
		{
			$(".invoice_type").show();
			$(".doc_check_list").show();
			$("#br_action").attr("disabled","disabled");	
		}		
		if($("#br_action").val()==1)
		{
			$("#docver_action").attr("disabled","disabled");			
		}		
	}
	
	function approveaction(){
		$("div#autoapprove_content").hide();
		$("div#down4").hide();
		$("div#approvaldays_content").hide();
		$("div#down5").hide();
		
		if($("#approve_action").val()==1)
		{
			$("div#autoapprove_content").show();
			$("div#down4").show();
			autoapprove();
		}		
	}
	
	function autoapprove(){
		$("div#approvaldays_content").hide();
		$("div#down5").hide();
		
		if($("#auto_approve").val()==1)
		{		
			$("div#approvaldays_content").show();
			$("div#down5").show();
		}		
	}
	
	function listinv(){
		$("label:contains('Unit')").show();
		if($("#scheme_type").val()==1 || $("#scheme_type").val()==2)
		{
			$("label:contains('Unit')").hide();
		}
	}
	
$(document).ready( function() { 
	
	disabled_docver_br();		
	approveaction();
	autoapprove();
	listinv();	
	
	var create_actor = '<?=$this->create_actor?>';

	if(create_actor == 'S')
	{
		$("#create_actor").val('S');
	}
	else if(create_actor == 'B')
	{
		$("#create_actor").val('B');
	}
	else if(create_actor == 'O')
	{
		$("#create_actor").val('O');
	}
	
	$("#br_action").change(function(){
		disabled_docver_br();		
    });
	
	$("#scheme_type").change(function(){
		listinv();
    });
	
	<?php 	
		if($this->workflowsequence == 2 || $this->changeSequence == 1)
		{		
	?>
		change();
	<?php }?>

});

function showDocumentCheckList(pagesource)
{
	var win = null;
	var w = 650, h = 300;

	var docNoId = '&doc_no_id=';
	$(".ListDocChecList").each(function(i,j){
		docNoId += $(j).val()+',';
	});

	if(docNoId == '&doc_no_id=')
	{
		docNoId = '';
	}

	if (win && !win.close())
	{
		win.close();
	}

	LeftPosition=(screen.width)?(screen.width-w)/2:100;
	TopPosition=(screen.height)?(screen.height-h)/2:100;

	settings='width=650,height=300,top='+TopPosition+',left='+LeftPosition+',scrollbars=1,location=no,directories=no,status=no,menubar=no,toolbar=no,resizable=no';
	win=window.open(pagesource+'?scheme_type='+$("#scheme_type").val()+docNoId,'sgo_popup_window',settings);
	win.focus();
}

function change(){
	tempauto_approve = $('#auto_approve').val();
	tempapprove_action = $('#approve_action').val();
	tempdocver_action = $('#docver_action').val();
	  
	tempLabel1 = $('td#up1').html();
	tempLabel2 = $('td#up2').html();
	tempLabel3 = $('td#up3').html();
	tempLabel4 = $('td#autoapprove').html();
	tempLabel5 = $('td#approvaldays').html();

	$('td#up1').html($('td#down1').html());
	$('td#down1').html(tempLabel1);
	
	$('td#up2').html($('td#down2').html());
	$('td#down2').html(tempLabel2);
	
	$('td#up3').html($('td#down3').html());
	$('td#down3').html(tempLabel3);
	
	$('td#autoapprove').html($('td#down4').html());
	$('td#down4').html(tempLabel4);
	
	$('td#approvaldays').html($('td#down5').html());
	$('td#down5').html(tempLabel5);
	
	$('#auto_approve').val(tempauto_approve);
	$('#approve_action').val(tempapprove_action);
	$('#docver_action').val(tempdocver_action);
	if($('#sequence').val()==0){
		$('#sequence').val('1')
	}else{
		$('#sequence').val('0')
	}
	approveaction();
	disabled_docver_br();
	if(tempapprove_action==1)
	{autoapprove();}
}
</script>

<table cellpadding="1" cellspacing="5" border="0" class="tableform" width="80%" id="transactionWorkflow">
	<tr>
		<th class="tdform-sub" width="3px">No.</th>
		<th class="tdform-sub">Workflow</th>
		<th class="tdform-sub">Actor</th>
		<th class="tdform-sub" colspan="2">Action</th>
		<th class="tdform-sub">Auto Approve</th>
		<th class="tdform-sub">Auto Approval Days</th>
	</tr>
	<!-----------------------------------TRANSACTION SETTING------------------------------------------------>
	<tr>
		<td class="tbl-evencontent">1</td>
		<td class="tbl-evencontent">Create</td>
		<td class="tbl-evencontent">
			<select name="create_actor" id="create_actor">
				<option value="S" label="Supplier">Supplier</option>
				<option value="B" label="Buyer">Buyer</option>
				<option value="O" label="Supplier Or Buyer">Supplier Or Buyer</option>
			</select>
			<div class="errmsg">
				<?=$this->errcreate_actor?>
			</div>
		</td>
		<td class="tbl-evencontent" colspan="2">
				ON
		</td>
		<td class="tbl-evencontent"></td>
		<td class="tbl-evencontent"></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">2</td>
		<td class="tbl-evencontent" id="down1">Document Verify</td>
		<td class="tbl-evencontent" id="down2">
			BANK
		</td>
		<td class="tbl-evencontent" id="down3">
			<?php 								
				echo $this->formSelect('docver_action',$this->docver_action,array('onChange'=>'disabled_docver_br();'),$this->listOnOff); 						
			?>
			<div class="errmsg">
				<?=$this->errdocver_action?>
			</div>
		</td>
		<td class="tbl-evencontent">
			<input type="button" name="down" value="Down" class="inputbtn" onClick="change();"> 
			<input type="hidden" value ="0" id="sequence" name="sequence">
		</td>
		<td class="tbl-evencontent" id="down4"><div id="down4"> </div></td>
		<td class="tbl-evencontent" id="down5"><div id="down5"> </div></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">3</td>
		<td class="tbl-evencontent" id="up1">Approve</td>
		<td class="tbl-evencontent" id="up2">
			<?php 						
				$arrAppActor = array_merge($this->listActor,array('N' => 'Supplier And Buyer'));
				echo $this->formSelect('approve_actor',$this->approve_actor,null,$arrAppActor).' '; 				
			?>		
			<div class="errmsg">
				<?=$this->errapprove_actor?>
			</div>
		<td class="tbl-evencontent" id="up3">
			<?php 
				echo $this->formSelect('approve_action',$this->approve_action,array('onChange'=>'approveaction();'),$this->listOnOff); 
			?>
			<div class="errmsg">
				<?=$this->errapprove_action?>
			</div>	
		</td>
		</td>		
		<td class="tbl-evencontent">
			<input type="button" name="up" value="Up" class="inputbtn" onClick="change();"> 
		</td>
		<td class="tbl-evencontent" id="autoapprove">
			<div  id="autoapprove_content">
				<?php
				
					$listYesNo = array('0' => 'No',
										'1' => 'Yes',						   											
										);	
					echo $this->formSelect('auto_approve',$this->auto_approve,array('onChange'=>'autoapprove();'),$listYesNo); 
				?>	
				<div class="errmsg">
					<?=$this->errauto_approve?>
				</div>	
			</div>
		</td>
		<td class="tbl-evencontent" id="approvaldays">
			<div  id="approvaldays_content">
				<?php 		
					$days = 	array('size'=>5,
													'maxlength'=>3,
													'onkeypress'	=>	'return forceCurrencyOCBC(event)',
													'onblur'	=>	'removeZero(this.value,this.id)',
													);
					echo $this->formText('approval_days',$this->approval_days,$days); 
				?>
				<div id="errapproval_days" class="errmsg">
					<?=$this->errapproval_days?>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td class="tbl-evencontent">4</td>
		<td class="tbl-evencontent">Bank Release</td>
		<td class="tbl-evencontent">
			BANK
		</td>
		<td class="tbl-evencontent" colspan="2">
			<?php
				echo $this->formSelect('br_action',$this->br_action,null,$this->listOnOff); 
			?>
			<div class="errmsg">
				<?=$this->errbr_action?>
			</div>
		</td>
		<td class="tbl-evencontent" ></td>
		<td class="tbl-evencontent" ></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">5</td>
		<td class="tbl-evencontent">
			Release
		</td>
		<td class="tbl-evencontent">
			<?php
				echo $this->formSelect('release_actor',$this->release_actor,null,$this->listActor); 
			?>
			<div class="errmsg">
				<?=$this->errrelease_actor?>
			</div>
		</td>
		<td class="tbl-evencontent" colspan="2">
			ON
		</td>
		<td class="tbl-evencontent" ></td>
		<td class="tbl-evencontent" ></td>
	</tr>
	<tr class="invoice_type">
		<td class="tbl-evencontent"></td>
		<td class="tbl-evencontent">
			Invoice Type
		</td>
		<td colspan="3" class="tbl-evencontent" >					
			<?php 																			
				echo $this->formRadio('inv_type',$this->inv_type,array('class'=>'listinvoice'),$this->listInvoicetype); 
			?>
			<div class="errmsg">
				<?=$this->errinv_type?>
			</div>
		</td>
		<td class="tbl-evencontent" ></td>
		<td class="tbl-evencontent" ></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" colspan="7"></td>
	</tr>
	<!----------------------------------END TRANSACTION SETTING----------------------------------------->
</table>
<!-----------------------------------------------------DOCUMENT CHECK LIST----------------------------------------------------------------------->

<tr class="doc_check_list">
		<th class="tdform-sub" Style="color:blue;"><strong>Document Check List</strong></th>
</tr>
<tr class="doc_check_list">
	<td class="tbl-evencontent">
		<table cellpadding="1" cellspacing="5" border="0" class="tableform" width="70%">
			<tr>
				<th class="tdform-sub" width="50%"><div align="center">Document Type</div></th>
				<th class="tdform-sub" width="50%"><div align="center">Document Origin</div></th>
			</tr>
			<tr>
				<td class="tbl-evencontent" align="center" colspan="2">
				<div id="DOC" name="DOC">
			<?php			
				$counter=0;
				if($this->documentCheckList){
			?>			
				<?php 
				foreach($this->documentCheckList as $row){
				
				?>
					<div id="penampung">
						<div class="tbl-evencontent" id="isi" align="center">
							<input type="hidden" class = "ListDocChecList" name="code[]" id="code[]" value="<?=$row['DOC_ID']?>">
							<?=$row['DOC_TYPE']?>
						</div>
						<div class="tbl-evencontent" align="center">
							<?=$row['DOCUMENT_ORIGIN']?>							
						</div>						
					</div>
					<?php }if($this->numberOfDoc_id != ($counter+1)){ 
						for($i=0 ; $i<$this->numberOfDoc_id;$i++)
						{
					?>				
						<div class="errmsg" id="penampung"><?php $code = 'errcode'.$i; echo $this->$code;?></div>
					<?php }} $counter++;}else{ ?>
					<div id="penampung">
						<?php if($this->errdocChecklist){echo '<div class="errmsg">'.$this->errdocChecklist.'</div>';}
								else echo'--- No Data ---'; ?>
					</div>
					<?php } ?>
				</div>
				</td>				
			</tr>	
			<?php if(!isset($this->is_member)) { ?>			
			<tr>	
				<td colspan="2">
					<br />
					<input class="inputbtn" value="Edit" 
					onclick="showDocumentCheckList('<?=$this->url(array('module'=>'popup','controller'=>'documentchecklistpopup','action'=>'index'),null,true)?>');" 
					type="button">					
				</td>
			</tr>
			<?php } ?>
		</table>
	</td>
</tr>

<!-----------------------------------------------------END DOCUMENT CHECK LIST----------------------------------------------------------------------->		