<!--<h1>Default Module, Index Controller, Index Action</h1>-->

<!--SCREEN CONTENT--> 
<div class="screencontent" id="screencontent"> 


<div class="tabheader" id="tabheader"> <?php echo $this->language->_('Welcome to Financial Value Chain system'); ?> </div>
					
<div>

<?php $auth = Zend_Auth::getInstance()->getIdentity();			   
echo $auth->userNameLogin;?>
<br/>
<br/>
<b>

<?php echo $auth->custIdLogin?></b><br/>
<?php echo $this->custInfo['CUST_ADDRESS1'] ?><br/>
<?php echo $this->custInfo['CUST_ADDRESS2'] ?><br/>
<?php echo $this->custInfo['CUST_ADDRESS3'] ?><br/>
<?php echo $this->custInfo['CITY'] ?> <?php echo $this->custInfo['PROVINCE'] ?> <?php echo $this->custInfo['ZIPCODE'] ?>
<pre style="padding: 0px;margin:0px;font-family:Arial;">
<?php echo  $this->welcomeText;  ?>
</pre>
</div>  

 
<br /><br /> 
<h2> <?php echo $this->language->_('To do List Dashboard'); ?> </h2> 
<table width="400" cellpadding="2" cellspacing="0" border="1" class="tableform">
    <tr>
    	<th valign="top">#<?php echo $this->language->_('Invoice Transaction Summary'); ?></th>
    	<th valign="top"><?php echo $this->language->_('I`m Buyer'); ?></th>
    	<th valign="top"><?php echo $this->language->_('I`m Seller'); ?></th>						  	
    </tr>
    <tr> 
      <td class="tbl-evencontent">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Uploaded'); ?></td> 
      <td class="tbl-evencontent"><?php echo $this->uploadedBuyer?></td> 
	  <td class="tbl-evencontent"><?php echo $this->uploadedSeller?></td> 
    </tr> 
  	<tr> 
      <td class="tbl-evencontent">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Physical Document Waiting Bank Authorization'); ?></td> 
      <td class="tbl-evencontent"><?php echo $this->phyBuyer?></td> 
	  <td class="tbl-evencontent"><?php echo $this->phySeller?></td> 
    </tr>  
  	<tr> 
      <td class="tbl-evencontent">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Temporary Block Waiting Approval'); ?></td> 
      <td class="tbl-evencontent"><?php echo $this->tempBuyer?></td> 
	  <td class="tbl-evencontent"><?php echo $this->tempSeller?></td> 
    </tr> 
  	<tr> 
      <td class="tbl-evencontent">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Waiting Approval'); ?></td> 
      <td class="tbl-evencontent"><?php echo $this->uploadedBuyer?></td> 
	  <td class="tbl-evencontent"><?php echo $this->uploadedSeller?></td> 
    </tr>  
    <tr> 
      <td class="tbl-evencontent">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Approval'); ?></td> 
      <td class="tbl-evencontent"><?php echo $this->apBuyer?></td> 
	  <td class="tbl-evencontent"><?php echo $this->apSeller?></td>  
    </tr> 
  	<tr> 
      <td class="tbl-evencontent">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Rejected'); ?></td> 
      <td class="tbl-evencontent"><?php echo $this->reBuyer?></td> 
	  <td class="tbl-evencontent"><?php echo $this->reSeller?></td>   
    </tr>  
  	<tr> 
      <td class="tbl-evencontent">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Paid'); ?></td> 
      <td class="tbl-evencontent"><?php echo $this->paBuyer?></td> 
	  <td class="tbl-evencontent"><?php echo $this->paSeller?></td>  
    </tr> 
  	<tr> 
      <td class="tbl-evencontent">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Unpaid'); ?></td> 
     <td class="tbl-evencontent"><?php echo $this->unBuyer?></td> 
	  <td class="tbl-evencontent"><?php echo $this->unSeller?></td> 
    </tr> 
  	<tr> 
      <td class="tbl-evencontent">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Overdue'); ?></td> 
      <td class="tbl-evencontent"><?php echo $this->ovBuyer?></td> 
	  <td class="tbl-evencontent"><?php echo $this->ovSeller?></td> 
    </tr> 
  	<tr> 
      <td class="tbl-evencontent">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Settled'); ?></td> 
      <td class="tbl-evencontent"><?php echo $this->stBuyer?></td> 
	  <td class="tbl-evencontent"><?php echo $this->stSeller?></td> 
    </tr> 
</table> 
<br />
<table border="0" cellspacing="0" cellpadding="0" class="tableform" width="400"> 
<tr> 
      <td class="tdform-odd" colspan="3">#<?php echo $this->language->_('Cash Transacrion Summary'); ?></td> 
    </tr> 
    
  	<tr> 
      <td class="tdform-odd">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Waiting For Authorization'); ?></td> 
      <td class="tdform-odd">&nbsp;  </td> 
	  <td class="tdform-odd">( <?=$this->wa; ?> )</td> 
    </tr> 
  	<tr> 
      <td class="tdform-odd">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Waiting For Verification'); ?></td> 
      <td class="tdform-odd">&nbsp;  </td> 
	  <td class="tdform-odd">( <?=$this->wv; ?> )</td> 
    </tr> 
  	<tr> 
      <td class="tdform-odd">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Waiting For Release'); ?></td> 
      <td class="tdform-odd">&nbsp;  </td> 
	  <td class="tdform-odd">( <?=$this->wr; ?> )</td> 
    </tr> 
  	<tr> 
      <td class="tdform-odd">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Waiting For Execution'); ?></td> 
      <td class="tdform-odd">&nbsp;  </td> 
	  <td class="tdform-odd">( <?=$this->we; ?> )</td> 
    </tr> 
    
    <tr> 
      <td class="tdform-odd" colspan="3">#<?php echo $this->language->_('Disbursement Transaction Summary'); ?></td> 
    </tr> 
    
    
  	<tr> 
      <td class="tdform-odd">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Invoice Disbursed'); ?></td> 
      <td class="tdform-odd">&nbsp;  </td> 
	  <td class="tdform-odd">( <?=$this->d; ?> )</td> 
    </tr> 
  	<tr> 
      <td class="tdform-odd">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Waiting For Authorization'); ?></td> 
      <td class="tdform-odd">&nbsp;  </td> 
	  <td class="tdform-odd">( <?=$this->dwa; ?> )</td> 
    </tr> 
  	<tr> 
      <td class="tdform-odd">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Waiting For Verification'); ?></td> 
      <td class="tdform-odd">&nbsp;  </td> 
	  <td class="tdform-odd">( <?=$this->dwv; ?> )</td> 
    </tr> 
  	<tr> 
      <td class="tdform-odd">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Waiting For Release'); ?></td> 
      <td class="tdform-odd">&nbsp;  </td> 
	  <td class="tdform-odd">( <?=$this->dwr; ?> )</td> 
    </tr> 
  	<tr> 
      <td class="tdform-odd">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Waiting For Execution'); ?></td> 
      <td class="tdform-odd">&nbsp;  </td> 
	  <td class="tdform-odd">( <?=$this->dwe; ?> )</td> 
    </tr> 
    
    <tr> 
      <td class="tdform-odd" colspan="3">#<?php echo $this->language->_('Repayment Transaction Summary'); ?></td> 
    </tr> 
    
    <tr> 
      <td class="tdform-odd">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Waiting For Authorization'); ?></td> 
      <td class="tdform-odd">&nbsp;  </td> 
	  <td class="tdform-odd">( <?=$this->rwa; ?> )</td> 
    </tr> 
  	<tr> 
      <td class="tdform-odd">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Waiting For Release'); ?></td> 
      <td class="tdform-odd">&nbsp;  </td> 
	  <td class="tdform-odd">( <?=$this->rwr; ?> )</td> 
    </tr> 
  	<tr> 
      <td class="tdform-odd">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Waiting For Execution'); ?></td> 
      <td class="tdform-odd">&nbsp;  </td> 
	  <td class="tdform-odd">( <?=$this->rwe; ?> )</td> 
	</tr>
    <tr> 
      <td class="tdform-odd">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Outstanding'); ?></td> 
      <td class="tdform-odd">&nbsp;  </td> 
	  <td class="tdform-odd">( <?=$this->ou; ?> )</td> 
	</tr>
  	<tr> 
      <td class="tdform-odd">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Overdue'); ?></td> 
      <td class="tdform-odd">&nbsp;  </td> 
	  <td class="tdform-odd">( <?=$this->ov; ?> )</td> 
	</tr> 
  	<tr> 
      <td class="tdform-odd">&nbsp; &nbsp; &nbsp; &nbsp; <?php echo $this->language->_('Settled'); ?></td> 
      <td class="tdform-odd">&nbsp;  </td> 
	  <td class="tdform-odd">( <?=$this->st; ?> )</td> 
	</tr>
</table>
<br /> 
 
</div>   
         

<script type="text/javascript">
javascript:ddtreemenu.flatten('treemenu2', 'contact');
</script>