<h5><?php echo $this->language->_('Change Information'); ?></h5>
<?php
echo $this->action(
    'message',
    'tools',
    'changemanagement',
    array('changes_id' => $this->changes_id)
);
?>

<!-- penutupan BG -->
<!-- <h5 class="mt-5"><?php echo $this->language->_('Penutupan BG'); ?></h5> -->
<table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped" width="80%">
    <tbody>
        <tr style="background-color:#003f6e;">
            <th colspan="3" class="tdform-sub" style="color:#ffffff"><strong>Detail Usulan</strong></th>
        </tr>
        <tr>
            <td>&nbsp</td>
            <td class="font-weight-bold font-italic"><?= $this->language->_('Kondisi Awal'); ?></td>
            <td class="font-weight-bold font-italic"><?= $this->language->_('Usulan Perubahan'); ?></td>
        </tr>
        <tr>
            <td>Nomor BG</td>
            <td><?= $this->data['BG_NUMBER'] ?></td>
            <td><?= $this->data['BG_NUMBER'] ?></td>
        </tr>
        <tr>
            <td>Principal</td>
            <td><?= $this->data['CUST_NAME'] ?></td>
            <td><?= $this->data['CUST_NAME'] ?></td>
        </tr>
        <tr>
            <td>Obligee</td>
            <td><?= $this->data['RECIPIENT_NAME'] ?></td>
            <td><?= $this->data['RECIPIENT_NAME'] ?></td>
        </tr>
        <tr>
            <td class="text-danger">(!) Status BG</td>
            <td><?= strtoupper($this->language->_('aktif')); ?></td>
            <td><?= strtoupper($this->language->_('berakhir')); ?></td>
        </tr>
        <tr>
            <td class="text-danger">(!) Jenis Penutupan</td>
            <td><?= '-'; ?></td>
            <td><?= $this->arrStatusSettlement[$this->tempData['CLOSING_TYPE']]; ?></td>
        </tr>

        <?php
        $parseFile = explode('~|~', $this->tempData['CLOSING_FILE']);
        $memo = trim(str_replace([explode('_', $parseFile[0])[0], explode('_', $parseFile[0])[1], explode('_', $parseFile[0])[2]], '', $parseFile[0]), '_');
        $bukti = trim(str_replace([explode('_', $parseFile[1])[0], explode('_', $parseFile[1])[1], explode('_', $parseFile[1])[2]], '', $parseFile[1]), '_');
        ?>
        <tr>
            <td class="text-danger">(!) Lampiran Dokumen / Memo Pengakhiran BG</td>
            <td><?= '-'; ?></td>
            <td>
                <form action="" method="post" style="display: inline-block;">
                    <button class="text-primary" type="submit" name="download" value="0" style="cursor: pointer; background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;">
                        <?= $memo; ?>
                    </button>
                </form>
            </td>
        </tr>
        <tr>
            <td class="text-danger">(!) Lampiran Bukti Penyelesaian</td>
            <td><?= '-'; ?></td>
            <td>
                <form action="" method="post" style="display: inline-block;">
                    <button class="text-primary" type="submit" name="download" value="1" style="cursor: pointer; background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;">
                        <?= $bukti; ?>
                    </button>
                </form>
            </td>
        </tr>
        <!-- <tr>
            <td class="tbl-evencontent" width="30%">Suggestion Data</td>
            <td class="tbl-evencontent" width="1%">:</td>
            <td class="tbl-evencontent" width="69%">Penutupan BG</td>
        </tr>
        <tr>
            <td class="tbl-evencontent" width="30%"><?= $this->language->_('Prinsipal'); ?></td>
            <td class="tbl-evencontent" width="1%">:</td>
            <td class="tbl-evencontent" width="69%"><?= $this->data['CUST_NAME'] . " (" . $this->data['CUST_ID'] . ")"; ?></td>
        </tr>
        <tr>
            <td class="tbl-oddcontent" width="30%">Nomor BG</td>
            <td class="tbl-oddcontent" width="1%">:</td>
            <td class="tbl-oddcontent" width="69%">
                <a href="javascript:void(0)" onclick="window.open('<?= $this->link; ?>')">
                    <?= substr($this->data['BG_NUMBER'], 0, 3) . "-" . substr($this->data['BG_NUMBER'], 3, 6) . "-" . substr($this->data['BG_NUMBER'], 9, 5) . "-" . substr($this->data['BG_NUMBER'], 14)  ?>
                </a>
            </td>
        </tr>
        <tr>
            <td class="tbl-evencontent" width="30%">Jenis Penutupan</td>
            <td class="tbl-evencontent" width="1%">:</td>
            <td class="tbl-evencontent" width="69%"><?= $this->arrStatusSettlement[$this->tempData['CLOSING_TYPE']]; ?> &nbsp;
                <form action="" method="post" style="display: inline-block;">
                    <button type="submit" name="download" value="1" style="cursor: pointer; background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;">
                        <svg xmlns="http://www.w3.org/2000/svg" style="height:1.5rem;width:1.5rem" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3M3 17V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
                        </svg>
                    </button>
                </form>
            </td>
        </tr> -->
    </tbody>
</table>


<!-- button -->
<div class="mt-5">
    <form action="" method="POST" style="width: fit-content; margin: auto">
        <?php
        $privilege = ($this->data['COUNTER_WARRANTY_TYPE'] == '1') ? $this->hasPrivilege('ATCC') : $this->hasPrivilege('ATNC');
        if ($privilege && $this->needApprove || true) : ?>
            <button class="btn btngreen hov" name="approve" value='1'>APPROVE</button>
            <button class="btn btnred hov ml-2" name="reject" value='1'>REJECT</button>
        <?php endif ?>
    </form>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        window.resizeTo(window.screen.availWidth, window.screen.availHeight);
    });
    <?php if ($this->refresh) : ?>
        window.opener.location.reload(false);
        window.close();
    <?php endif ?>
</script>