<script src="/js/allJs.php"></script>
<script language="javascript" type="text/javascript">
function doFile(exisdoc_underlying,doc_id)
{

	window.opener.document.getElementById('exisdoc_underlying').value = exisdoc_underlying;
	window.opener.document.getElementById('doc_id').value = doc_id;
	
	window.opener.document.getElementById('exisdoc_underlying').readOnly = true;

	opener.focus();
	self.close();
}

$(document).ready(function() {
	$('#fixTable').fixTableHeader();


	$("#searchtable").keyup(function() {
		var value = this.value.toLowerCase().trim();

		$("#myTable tr").each(function(index) {
			if (!index) return;
			$(this).find("td").each(function() {
				var id = $(this).text().toLowerCase().trim();
				var not_found = (id.indexOf(value) == -1);
				$(this).closest('tr').toggle(!not_found);
				return not_found;
			});
		});
	});

});

</script>

	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="background-color:white">
		<tbody>
			<tr>
				<td>
					<div class="portlet-body form">
			<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading" >
	<?php $aliasname = $this->language->_('Alias Name'); ?>
<?php $docref = $this->language->_('Document Reff'); ?>
<?php $beneficiaryaccountname = $this->language->_('File Name'); ?>
<?php $setfilter = $this->language->_('Set Filter'); ?>
<?php $clearfilter = $this->language->_('Clear Filter'); ?>
<?php $nodata = $this->language->_('No Data');?>

	<strong class="textBlack"><?php echo $this->language->_('Filter');?></strong></div>
<div class="panel-body">
		<div class="row form-group col-md-12">
	    <label class="col-md-4 textBlack"><?php echo $this->formLabel('docref',$docref); ?></label>
	          <div class="col-md-6">
                <?php echo $this->formText('doc_reff',$this->doc_reff,array('class'=>'form-control'))?>

              </div>
              <div class="col-md-6">
              </div>
    </div>
              <div class="row col-md-12 form-group">
	    <label class=" col-md-4 textBlack"><?php echo $this->formLabel('docname',$beneficiaryaccountname); ?></label>
	          <div class="col-md-6">
                <?php echo $this->formText('doc_name',$this->doc_name,array('class'=>'form-control'))?>
              </div>
              <div class="col-md-6">
              </div>
  	</div>


  	</div>
</div>
  <table cellpadding="3" cellspacing="0" border="0" class="" width="100%">
    <tr><td colspan="3" align="left">
	<input type="hidden" name="custid" value="<?= $this->custid?>">
	<input type="hidden" name="moduleid" value="<?= $this->moduleid?>">
	  <?php echo $this->formSubmit('filter',$setfilter,array('class'=>'btngreen hov')); ?>
	  <?php echo $this->formSubmit('filter_clear',$clearfilter,array('class'=>'btnwhite bov')); ?>
    </td></tr>
  </table>
</form>
</div>
</td>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr>
			<td class="contentarea" id="contentarea">

<div align="right">
		<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
	</div>
	<div style="float:right; padding-left:5px;padding-bottom:5px">
			<div class="input-group input-group-sm">
					<div class="input-group-prepend">
							<span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
					</div>
					<input type="text" class="search form-control" id="searchtable" placeholder="Search">
			</div>
	</div>
	<div class="portlet-body flip-scroll table-responsive table-fixed pt-2 t1" id="fixTable">
			<table cellpadding="2" cellspacing="0"  class="table table-sm table-striped" id="myTable">
			<tr class="headercolor">
					<th class="tablehead" width="3%" valign="top">No</th>
					<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
																																'sortBy' => $this->sortBy,
																																'sortDir' => $this->sortDir,
																																'query_string_params' => $this->query_string_params
																																)
												)?>

				</tr>

			<tbody>
				<?php
			$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

				if(count($this->paginator) > 0)
			{
							$i=0;

				foreach($this->paginator as $row) {

				$td_css = ($i%2==0)?'tbl-evencontent textBlack':'tbl-oddcontent textBlack';

				$button = $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'suggestdelete','BENEFICIARY_ID'=>$row['BENEFICIARY_ID']),null,true);
				$button = '<a href="javascript:confirmation(\'Are you sure want to delete this benefiiary account?\',\''.$button.'\');" class="inputbtn">Delete</a>';


				echo '<tr>
						<td class="'.$td_css.'">'.$counter.'</td>';
						//<td class="'.$td_css.'">'.$row['BENEFICIARY_ALIAS'].'</td>
				echo '  <td class="'.$td_css.'"><a href="javascript:doFile(\''.$row['DOCUMENT_NUMBER'].'\',\''.$row['FILE_ID'].'\')">'.$row['DOCUMENT_NUMBER'].'</a></td>
						<td class="'.$td_css.'">'.$row['FILE_NAME'].'</td>
						<td class="'.$td_css.'">'.$row['FILE_DESCRIPTION'].'</td>
						

					</tr>';

						$i++;
										$counter++;
					}
			}
			else {
				echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> ---'.$this->language->_('No Data').'--- </td></tr>';
			}
				?>
			</tbody>
		</table>
	</div>
</div>
<br />


<br />

			</td>
			</tr>
		</tbody>
	</table>
