<?php
require_once 'General/SystemBalance.php';
?>
<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
	<tbody>
		<tr>
			<td class="contentarea" id="contentarea" >
			<table style="margin-top:40px;" border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td>
						<?php
							echo '<table id="0" border="1" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<th id="tbl-headercontent"><strong>'.$this->language->_('Account No').'</strong></th>
										<th id="tbl-headercontent"><strong>'.$this->language->_('Account Name').'</strong></th>
										<th id="tbl-headercontent"><strong>'.$this->language->_('CCY').'</strong></th>
										<th id="tbl-headercontent"><strong>'.$this->language->_('Type').'</strong></th>
										<th id="tbl-headercontent"><strong>'.$this->language->_('Status').'</strong></th>
										<th id="tbl-headercontent" align="center"><strong>'.$this->language->_('Available Balance').'</strong></th>';
							echo	'</tr>';

							// var_dump($this->resultdata);
							if (!$this->resultdata) {
								echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
							}
							foreach ($this->resultdata as $row) { ?>
								<tr>
									<td class="<?php echo $td_css ?>"><?php echo $row['ACCT_NO'] ?></td>
									<td class="<?php echo $td_css ?>"><?php echo $row['ACCT_NAME'] ?></td>
									<td class="<?php echo $td_css ?>"><?php echo $row['CCY_ID'] ?></td>
									<td class="<?php echo $td_css ?>"><?php echo $row['ACCT_PRODUCT_NAME'] ?></td>
									<td class="<?php echo $td_css ?>"><?php echo $row['STATUS'] ?></td>
									<td class="<?php echo $td_css ?>"><?php echo $row['AVAILABLE_BALANCE'] ?></td>
								</tr>
							<?php }
			?>
			</td>
		</tr>
	</tbody>
</table>
</td>
</tr>

<tr>
	<td>&nbsp;</td>
</tr>
</tbody>
</table>
