<script type="text/javascript">
    $(document).ready(function() {
        $('#fixTable').fixTableHeader();


        $("#searchtable").keyup(function() {
            var value = this.value.toLowerCase().trim();

            $("#myTable tr").each(function(index) {
                if (!index) return;
                $(this).find("td").each(function() {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });
    });

    $(document).ready(function() {
        $('div#sidebar-collapse').click(function() {
            if ($("#logo-title").is(":visible")) {
                $("#logo-title").hide();
                $("#logo-titles").hide();
            } else if ($("#logo-title").is(":hidden")) {
                $("#logo-title").show();
                $("#logo-titles").show();
            }
        })

        $('#approveStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#approveEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#updateStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#updateEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#efdateStart').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });
        $('#efdateEnd').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4'
        });

    });
</script>
<?php

$counter = (($this->currentPage - 1) * $this->paginator->getItemCountPerPage()) + 1;
?>


<b>

    <div class="row hiddenprint">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?= $this->language->_('Virtual Account') ?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>

                    <li>
                        <span class="inhouse"><?= $this->language->_('Company BIN') ?></span>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</b>
<br />

<div class="content-box">
    <div class="row">
        <div class="portlet-body form col-md-12">
            <? if ($this->error) { ?> <div class="errmsg"><?= $this->report_msg ?></div><? } ?>


            <h5><?= $this->language->_('Company BIN List') ?></h5>
            <h6 class="text-black-50"><?= $this->language->_("Company's registered Bank Identification Number") ?></h6>
            <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'sortby' => $this->sortBy, 'sortdir' => $this->sortDir), null, true) ?>" method="get">

                <?php
                $optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
                foreach ($this->filterlist as $row) {
                    $optArr .=  '<option value="' . $row . '" >' . $this->language->_($row) . '</option>';
                }

                ?>
                <div class="row " id="logo-titles" style="margin-left: 0px">
                    <?php
                    if (!empty($this->wherecol)) {
                    ?>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $("#logo-title").show();
                            });
                        </script>
                    <?php
                    }
                    // print_r($this->wherecol);die;
                    foreach ($this->wherecol as $key => $value) {
                    ?>
                        <div id="searchs" style="width: 100%">
                            <?php
                            $datetype = array("approvedate");
                            $selectlist = array("PS_TYPE", 'PS_CCY', 'PS_STATUS', 'SOURCE_ACCOUNT_CCY', 'SOURCE_ACCOUNT', 'BENEFICIARY_ACCOUNT', 'BENEFICIARY_ACCOUNT_CCY', 'TRA_AMOUNT', 'PS_TOTAL_AMOUNT');
                            $index = 0;



                            ?>
                            <div id="where-<?= $ctr ?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?= $ctr ?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                            <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                            <?php

                                            foreach ($this->filterlist as $row) {
                                                $colname = $row;
                                                if ($value == $colname) {
                                                    $selected = "selected";
                                                } else {
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?= $ctr ?>' name='whereopt[]'>

                                            <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                                                <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                            <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                                                <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
                                            <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                                                <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-s<?= $key ?>'>
                                        <script type="text/javascript">
                                            $(document).ready(function() {
                                                var colval = "#colvalue-s<?= $key ?>";
                                                var colomnname = "<?= $value ?>";
                                                // var colselect= "<?= $value ?>";
                                                var colselect = "colselect-s<?= $key ?>";
                                                var ncolselect = "#colselect-s<?= $key ?>";
                                                if (colomnname == 'TRA_AMOUNT' || colomnname == 'PS_TOTAL_AMOUNT' || colomnname == 'EQUIVALENT_AMOUNT_IDR' || colomnname == 'EQUIVALENT_AMOUNT_USD') {
                                                    $(colval).append("<input type='text' style='width:100%' name='whereval[]'  value='' maxlength='20' autocomplete='off' id='" + colselect + "' class='form-control' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
                                                    $(colselect).val('<?= $this->whereval[$index] ?>');
                                                } else if (colomnname == 'PS_STATUS') {

                                                    $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                                                    var id = $("#tablename").find(":selected").val();
                                                    $.ajax({
                                                        url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumnpsstatus'), null, true) ?>",
                                                        type: 'GET',
                                                        dataType: "html",
                                                        data: {
                                                            id: <?= $this->whereval[$index] ?>
                                                        },
                                                        success: function(data) {
                                                            $(ncolselect).html(data);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                            alert("Failed to get where column list, please try again");
                                                        }
                                                    });

                                                    $(colselect).val('<?= $this->whereval[$index] ?>');

                                                } else if (colomnname == 'PS_TYPE') {

                                                    $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

                                                    var id = $("#tablename").find(":selected").val();
                                                    $.ajax({
                                                        url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumnpstype'), null, true) ?>",
                                                        type: 'GET',
                                                        dataType: "html",
                                                        data: {
                                                            id: <?= $this->whereval[$index] ?>
                                                        },
                                                        success: function(data) {
                                                            $(ncolselect).html(data);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                            alert("Failed to get where column list, please try again");
                                                        }
                                                    });
                                                    // document.getElementById(colselect).value = '<?= $this->whereval[$index] ?>';
                                                    $(colselect).val('<?= $this->whereval[$index] ?>');

                                                } else if (colomnname == 'SOURCE_ACCOUNT') {

                                                    $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

                                                    var id = $("#tablename").find(":selected").val();
                                                    $.ajax({
                                                        url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wheresourceaccount'), null, true) ?>",
                                                        type: 'GET',
                                                        dataType: "html",
                                                        data: {
                                                            id: <?= $this->whereval[$index] ?>
                                                        },
                                                        success: function(data) {
                                                            $(ncolselect).html(data);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                            alert("Failed to get where column list, please try again");
                                                        }
                                                    });
                                                    $(colselect).val('<?= $this->whereval[$index] ?>');

                                                } else if (colomnname == 'PS_CCY' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY') {
                                                    $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
                                                    var id = $("#tablename").find(":selected").val();
                                                    $.ajax({
                                                        url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'ccy'), null, true) ?>",
                                                        type: 'GET',
                                                        dataType: "html",
                                                        data: {
                                                            id: <?= $this->whereval[$index] ?>
                                                        },
                                                        success: function(data) {
                                                            $(ncolselect).html(data);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                            alert("Failed to get where column list, please try again");
                                                        }
                                                    });
                                                    $(colselect).val('<?= $this->whereval[$index] ?>');

                                                } else if (colomnname == 'BENEFICIARY_ACCOUNT') {

                                                    $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

                                                    var id = $("#tablename").find(":selected").val();
                                                    $.ajax({
                                                        url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => $this->controllername, 'action' => 'benef'), null, true) ?>",
                                                        type: 'GET',
                                                        dataType: "html",
                                                        data: {
                                                            id: <?= $this->whereval[$index] ?>
                                                        },
                                                        success: function(data) {
                                                            $(ncolselect).html(data);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                            alert("Failed to get where column list, please try again");
                                                        }
                                                    });
                                                    $(colselect).val('<?= $this->whereval[$index] ?>');

                                                }
                                            });
                                        </script>
                                        <?php
                                        if ($value == 'PS_CREATED') {
                                            // var_dump($this->whereval);die;
                                        ?>
                                            <input type='text' class='form-control' name='createdate[]' id='createdStart' readonly value="<?= $this->createdStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' value="<?= $this->createdEnd ?>" readonly required>
                                        <?php
                                        } else if ($value == 'PS_EFDATE') {
                                        ?>
                                            <input type='text' class='form-control' name='efdate[]' id='efdateStart' readonly value="<?= $this->paymentStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='efdate[]' id='efdateEnd' value="<?= $this->paymentEnd ?>" readonly required>
                                        <?php

                                        } else if ($value == 'PS_UPDATED') {
                                        ?>
                                            <input type='text' class='form-control' name='updatedate[]' id='updatedStart' readonly value="<?= $this->updatedStart ?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='updateEnd' value="<?= $this->updatedEnd ?>" readonly required>
                                        <?php

                                        } else if (!in_array($value, $selectlist)) {
                                        ?>
                                            <input class='form-control' type='text' name='whereval[]' value='<?= $this->whereval[$index] ?>' />
                                        <?php }
                                        if (!in_array($value, $datetype)) {
                                            // print_r($value);die;
                                            $index++;
                                        }
                                        ?>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    <?php
                    }
                    ?>

                </div>


                <div class="row " id="logo-title" style="display: none">
                    <div class="portlet-body form col-md-12">
                        <div id="wheres" style="width: 100%">
                            <div id="where-<?= $ctr ?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' style='width:100%' id='wherecol-<?= $ctr ?>' name='wherecol[]' onchange='getOpt(this)'>
                                            <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                            <?php

                                            foreach ($this->filterlist as $row) {
                                                $colname = $row;
                                                if ($val == $colname) {
                                                    $selected = "selected";
                                                } else {
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?= $row ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?= $ctr ?>' name='whereopt[]'>

                                            <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                                                <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                            <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                                                <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
                                            <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                                                <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?= $ctr ?>'>
                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?= $this->whereval[$key] ?>' />
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <?php //}}
                            ?>
                        </div>
                        <!-- <input type="hidden" id="wherectr" value="<?= $this->wherectr ?>"/> -->
                        <input type="hidden" id="wherectr" value="0" />
                        <br />
                        <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                        &nbsp;
                        <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
                        <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">


                        <br />


                        <div class="portlet-body form" style="display: none">

                            <div class="form-group row ">
                                <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
                                <div class="col-md-4">
                                    <?php echo $this->formSelect('paymentType', $this->paymentType, array('id' => 'paymentType', 'class' => 'form-control', 'onclick' => 'changeTransferType()'), $this->optPayType); ?>
                                </div>
                                <label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
                                <div class="col-md-3">
                                    <select name="transferType" id="transferType" class="form-control">
                                        <option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row ">

                                <div class="col-md-12">
                                    <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btn btn-success')); ?>&nbsp;
                                    <input type="button" name="clearfilter" class="btn btn-success" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>

                </div>
                <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
                    <a href="#" class="sidebar-collapse-icon with-animation">
                        <?php echo $this->language->_('Advanced Search'); ?>
                    </a>
                </div>
                <br />
            </form>
        </div>
    </div>
</div>

<div>
    <?php
    $buttonNewHelp = $this->url(array('module' => 'createnewhelp', 'controller' => 'index', 'action' => 'index'), null, true);
    ?>

</div>
<br>

<?php if ($this->success) { ?>
    <div class="successmsg"><?= $this->customer_msg ?></div><br />
<?php } else if ($this->error) { ?>
    <div class="errmsg"><?= $this->customer_msg ?></div><br />
<?php } ?>


<div align="right"><?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?></div>
<br />
<div class="portlet-body table-responsive table-fixed" id="fixTable">
    <table class="table table-sm table-striped" id="myTable">
        <tr class="headercolor">
            <th width="3%" valign="top" class="tablehead">No</th>
            <?php echo $this->partial(
                'tableheader.phtml',
                array(
                    'fields' => $this->fields,
                    'sortBy' => $this->sortBy,
                    'sortDir' => $this->sortDir,
                    'query_string_params' => $this->query_string_params
                )
            ) ?>

        </tr>
        <?php
        if (count($this->paginator)) {
            $i = 0;

            require_once 'Crypt/AESMYSQL.php';
            $AESMYSQL = new Crypt_AESMYSQL();
            $rand = $this->token;

            foreach ($this->paginator as $row) {
                $td_css = ($i % 2 == 0) ? 'tbl-evencontent' : 'tbl-oddcontent';

                $encrypted_custid = $AESMYSQL->encrypt($row['CUST_ID'], $rand);
                $enccustid = urlencode($encrypted_custid);

                $encrypted_custbin = $AESMYSQL->encrypt($row['CUST_BIN'], $rand);
                $enccustbin = urlencode($encrypted_custbin);

                $buttonDetail = $this->url(array('module' => $this->modulename, 'controller' => 'customerbindetail', 'action' => 'index', 'cust_id' => $enccustid, 'cust_bin' => $enccustbin), null, true);
                $buttonDetail = '<a href="' . $buttonDetail . '">' . $row['CUST_BIN'] . '</a>';

                $statusArr = array(
                            '1' => 'Active',
                            '2' => 'Suspended',
                            '3' => 'Deleted'  
                        );


                echo '<tr>
              	  <td class="' . $td_css . '">' . $counter . '</td>
				  <td class="' . $td_css . '">' . $buttonDetail . '</td>
				  <td class="' . $td_css . '">' . $this->binType[$row['BIN_TYPE']] . '</td>
				  <td class="' . $td_css . '">' . $row['ACCT_NO'] . '</td>
				  <td class="' . $td_css . '">' . $row['CCY'] . '</td>
				  <td class="' . $td_css . '">' . Application_Helper_General::convertDate($row['BIN_UPDATED'], $this->displayDateTimeFormat, $this->defaultDateFormat) . '</td>
				  <td class="' . $td_css . '">' . $statusArr[$row['CUST_BIN_STATUS']] . '</td>
				  
				 
				</tr>';
                $i++;
                $counter++;
            }
        } else {
            echo '<tr><td colspan="9" class="tbl-evencontent" align="center">' . $this->language->_('No Data') . '</td></tr>';
        }
        ?>
    </table>
</div>
<br />
<div align="right"><?= $this->paginationControl($this->paginator, $this->paginator->getDefaultScrollingStyle(), 'paging.phtml', array('query_string_params' => $this->query_string_params)) ?></div>


<script type="text/javascript">
    function removeParent(elem) {
        var parentname = elem.parentNode.parentNode.parentNode.id;
        $("#" + parentname).remove();
    }
    $(document).ready(function() {

        $("#addwhere").click(function() {
            var ctr = $("#wherectr").val();
            var optstr = '<?php echo $optArr; ?>';
            var wherecol = "#wherecol-" + ctr;
            $("#wheres").append("<div id='where-" + ctr + "'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-" + ctr + "' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>" + optstr + "</select></div><div style='display:none'><select class='form-control' id='whereopt-" + ctr + "' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-" + ctr + "'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
            ctr++;
            $("#wherectr").val(ctr);
        });
    });

    function getOpt(elem) {
        var id = elem.id;
        var temp = id.split('-');
        var ctr = temp[1];

        var selval = elem.value;
        var tempval = selval.split('-');
        dttype = tempval[1];

        colomnname = tempval[0];
        var colval = "#colvalue-" + ctr;
        var colselect = "colselect-" + ctr;
        var ncolselect = "#colselect-" + ctr;
        var $coll = $('.event_select');
        $coll.children().prop('disabled', false);
        $coll.each(function() {
            var val = this.value;
            if (val === 'original') return;
            $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
        });

        $(colval).empty();
        if (colomnname == 'approvedate') {
            $(colval).append("<input type='text' class='form-control'  name='createdate[]' id='createdStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' readonly required>");
            $('#approveStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#ApproveEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });

        } else if (colomnname == 'PS_UPDATED') {
            $(colval).append("<input type='text' class='form-control' name='updatedate[]' id='updateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='updateEnd' readonly required>");


            $('#updateStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#updateEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });

        } else if (colomnname == 'PS_EFDATE') {
            $(colval).append("<input type='text' class='form-control' name='efdate[]' id='efdateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='efdate[]' id='efdateEnd' readonly required>");


            $('#efdateStart').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });
            $('#efdateEnd').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });

        } else if (colomnname == 'TRA_AMOUNT' || colomnname == 'PS_TOTAL_AMOUNT' || colomnname == 'EQUIVALENT_AMOUNT_IDR' || colomnname == 'EQUIVALENT_AMOUNT_USD') {
            $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20' autocomplete='off' class='form-control' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
        } else if (colomnname == 'PS_STATUS') {

            $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumnpsstatus'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else if (colomnname == 'PS_TYPE') {

            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumnpstype'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else if (colomnname == 'SOURCE_ACCOUNT') {

            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wheresourceaccount'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else if (colomnname == 'PS_CCY' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY') {
            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'ccy'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else if (colomnname == 'BENEFICIARY_ACCOUNT') {

            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => $this->controllername, 'action' => 'benef'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else {
            $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
        }


        var optsel = "whereopt-" + ctr;
        document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

        if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
            document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }
        if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
        } else if (dttype == 'date' || dttype == 'datetime') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }

        var colomn = '#whereopt-' + ctr;
        var data = $(colomn).val('EQUAL').change();

    }
</script>