<script type="text/javascript">
$(document).ready(function(){
  $('#fixTable').fixTableHeader();
});
</script>

  <div class="container">
      <div style="text-align:center; padding: 25px 0px;" class="center">
          <h5 class=""><?=$this->language->_('Bank List')?></h5>
      </div>
  </div>




  <div style="padding: 20px 0px;" class="container">
      <div   class="row">
          <div style="text-align:center" class="col-sm-6">
               <button style="width: 50%;" class="btngreen hov"><a style="color: white;" href="/tools/domesticbanktable"><?=$this->language->_('Domestic Bank List')?></a></button>
              <!-- javascript:DalamNegeri('dalamnegeri','luarnegeri') -->
          </div>
          <div style="text-align:center" class="col-sm-6">
               <button style="width: 50%;" class="btnwhite hov"><a style="color: black;" href="/tools/remittance"><?=$this->language->_('International Bank List')?></a></button>
          </div>
      </div>
  </div>

  <!-- enter submit button -->

  <div id="dalamnegeri" class="">
    <!-- search form -->
    <div class="container">
        <div class="col-md-12">
          <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
                  <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                          <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                      </div>
                          <?php echo $this->formText('bank_name',$this->bank_name,array('class'=>'form-control navbar-search-box' , 'placeholder'=>'Masukan nama bank atau kode bank' , 'aria-describedby'=>'search' , 'size'=>'45' , 'id'=>'searchbank'))?>
                      </div>
                  </div>
            <br/>
            <table cellpadding="3" cellspacing="0" border="0" class="tableform" >
              <tr><td colspan="3" align="left">
              <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('type'=>'button' , 'style' => 'display:none' , 'class'=>'btn btn-warning', 'id'=>'submit' )); ?>
              <?php// echo $this->formSubmit('filter_clear',$this->language->_('Clear Filter'),array('class'=>'btn btn-warning')); ?>
              </td></tr>
            </table>
          </form>
    </div>
    <!-- tabel bank dalam negeri -->
    <div  class="container">
        <!-- <thead>
            <tr>
                <th>No.</th>
                <th>Bank Name</th>
                <th>Clearing Code</th>
            </tr>
        </thead> -->
                <?php if($this->success){ ?>
                <div class="successmsg"><?=$this->report_msg?></div><br />
                <?php }else if($this->error){ ?>
                <div class="errmsg"><?=$this->report_msg?></div><br />
                <?php } ?>
            
      <br />



     <div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
      <table class="table table-sm table-striped" style="background-color: white;">
      <thead>
          <tr class="headercolor">
            <th width="3%" valign="top" class="tablehead">No</th>
            <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                                  'sortBy' => $this->sortBy,
                                                                  'sortDir' => $this->sortDir,
                                                                  'query_string_params' => $this->query_string_params
                                                                  )
                          )?>

          </tr>
      </thead>
      <tbody>
          <?php
        $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

          if(count($this->paginator) > 0)
          {
                $i=0;

              foreach($this->paginator as $row)
              {

              $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

              echo '<tr>
                <td class="'.$td_css.'">'.$counter.'</td>
                <td class="'.$td_css.'">'.$row['BANK_NAME'].'</td>';
                // <td class="'.$td_css.'">'.$row['CITY_CODE'].'</td>
            echo
              '<td class="'.$td_css.'">'.$row['CLR_CODE'].'</td>
               </tr>';

            $i++;
                  $counter++;
               }
        }
        else
        {
           echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
        }
      ?>
      </tbody>
      </table>
      </div>
      <br />



      <form name="Form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true)?>" method="post">
      <div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
      <br /></form>



    </div>
  </div>

  <div style="display:none" id="luarnegeri" class="">
  <!-- search form luar negeri-->
  <div class="container">
      <div class="col-md-12">
        <form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
                    </div>
                        <?php echo $this->formText('bank_name',$this->bank_name,array('class'=>'form-control navbar-search-box' , 'placeholder'=>'Masukan nama bank atau kode bank' , 'aria-describedby'=>'search' , 'size'=>'45' , 'id'=>'searchbank'))?>
                    </div>
                </div>
          <br/>
          <table cellpadding="3" cellspacing="0" border="0" class="tableform" >
            <tr><td colspan="3" align="left">
            <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('type'=>'button' , 'style' => 'display:none' , 'class'=>'btn btn-warning', 'id'=>'submit' )); ?>
            <?php// echo $this->formSubmit('filter_clear',$this->language->_('Clear Filter'),array('class'=>'btn btn-warning')); ?>
            </td></tr>
          </table>
        </form>
  </div>
  <!-- tabel bank luar negeri -->
  <div class="container">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <tbody>
          <tr>
              <?php if($this->success){ ?>
              <div class="successmsg"><?=$this->report_msg?></div><br />
              <?php }else if($this->error){ ?>
              <div class="errmsg"><?=$this->report_msg?></div><br />
              <?php } ?>
          </tr>
          <tr>
          <td class="contentarea" id="contentarea">
    <div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
    <br />



    <div class="portlet-body flip-scroll">
    <table width="100%" cellpadding="2" cellspacing="0" border="1" class="table table-bordered table-condensed flip-content"style="background-color: white;">
        <tr class="headercolor">
          <th width="3%" valign="top">No</th>
          <?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                                'sortBy' => $this->sortBy,
                                                                'sortDir' => $this->sortDir,
                                                                'query_string_params' => $this->query_string_params
                                                                )
                        )?>

        </tr>

        <?php
      $counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

        if(count($this->paginator) > 0)
        {
              $i=0;

            foreach($this->paginator as $row)
            {

            $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

            echo '<tr>
              <td class="'.$td_css.'">'.$counter.'</td>
              <td class="'.$td_css.'">'.$row['BANK_NAME'].'</td>';
              // <td class="'.$td_css.'">'.$row['CITY_CODE'].'</td>
          // echo
          //   '<td class="'.$td_css.'">'.$row['CLR_CODE'].'</td>
          //    </tr>';

          $i++;
                $counter++;
             }
      }
      else
      {
         echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- '.$this->language->_('No Data').' --- </td></tr>';
      }
    ?>
    </table>
    </div>
    <br />



    <form name="Form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true)?>" method="post">
    <div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
    <br /></form>


          </td>
          </tr>

      </tbody>
    </table>
  </div>
  </div>



  <script type="text/javascript">
      function DalamNegeri(div1,div2)
      {
         d1 = document.getElementById(div1);
         d2 = document.getElementById(div2);
         if( d1.style.display == "none" )
         {
            d2.style.display = "none";
            d1.style.display = "block";
         }
         else
         {
         }
      }

      function LuarNegeri(div1,div2)
      {
         d1 = document.getElementById(div1);
         d2 = document.getElementById(div2);
         if( d2.style.display == "none" )
         {
            d1.style.display = "none";
            d2.style.display = "block";
         }
         else
         {
         }
      }

      var input = document.getElementById("searchbank");
      input.addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
          document.getElementById("submit").click();
        }
      });
  </script>
