<script type="text/javascript">
$(document).ready(function(){
		$('div#sidebar-collapse').click(function(){
			  if ( $("#logo-title").is(":visible") ) { 
			    $("#logo-title").hide(); 
			    $("#logo-titles").hide(); 
			  } else if ( $("#logo-title").is(":hidden") ) { 
			    $("#logo-title").show(); 
			    $("#logo-titles").show(); 
			  }
			})

		$('#fixTable').fixTableHeader();
});
</script>

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Management'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Resend Password'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<div class="row content-box">
    <div class="portlet-body form col-md-12">
        <h5><?= $this->language->_('Resend Password') ?></h5>

        <form name="filterForm" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index'), null, true) ?>" method="get">


            <?php
            $optArr = '<option value="" >-- ' . $this->language->_('Any Value') . ' --</option>';
            foreach ($this->filterlist as $row=>$val) {
                $optArr .=  '<option value="' . $val . '" >' . $this->language->_($row) . '</option>';
            }

            ?>
            <div class="row " id="logo-titles" style="margin-left: 0px">
                <?php
                if (!empty($this->wherecol)) {
                ?>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            var ctrfilter = <?= count($this->wherecol); ?>;
                            $("#logo-title").show();
                            $("#where-").hide();
                            $("#wherectr").val(ctrfilter)
                        });
                    </script>
                <?php
                }
				
                 //print_r($this->wherecol);//die;
                foreach ($this->wherecol as $key => $value) {
                ?>
                    <div id="searchs" style="width: 100%">
                        <?php
                        $datetype = array('');
                        $selectlist = array("USER_ID");
                        $index = 0;



                        ?>
                        <div id="where-<?= $key ?>">
                            <div class="form-group row mt-12">
                                <div class="col-md-4 form-inline">
                                    <select class='form-control event_select' id='wherecol-<?= $key ?>' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>
                                        <option value="">-- <?= $this->language->_('Any Value') ?> --</option>
                                        <?php

                                        foreach ($this->filterlist as $row=>$val) {
                                            $colname = $val;
                                            if ($value == $colname) {
                                                $selected = "selected";
                                            } else {
                                                $selected = "";
                                            }
                                        ?>
                                            <option value="<?= $val ?>" <?= $selected ?>><?= $this->language->_($row) ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col" style="display: none">
                                    <select class='form-control' id='whereopt-<?= $key ?>' name='whereopt[]'>

                                        <?php if (in_array($dttype, array('int', 'bigint', 'smallint', 'tinyint'))) { ?>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                        <?php } elseif (in_array($dttype, array('varchar', 'char', 'text', 'longtext'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                            <option value="LIKE" <?php if ($this->whereopt[$key] == "LIKE") echo "selected"; ?>>LIKE</option>
                                        <?php } elseif (in_array($dttype, array('date', 'datetime'))) { ?>
                                            <option value="NOT EQUAL" <?php if ($this->whereopt[$key] == "NOT EQUAL") echo "selected"; ?>>NOT EQUAL</option>
                                            <option value="GREATER THAN" <?php if ($this->whereopt[$key] == "GREATER THAN") echo "selected"; ?>>GREATER THAN</option>
                                            <option value="LESS THAN" <?php if ($this->whereopt[$key] == "LESS THAN") echo "selected"; ?>>LESS THAN</option>
                                            <option value="GREATER THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "GREATER THAN OR EQUAL TO") echo "selected"; ?>>GREATER THAN OR EQUAL TO</option>
                                            <option value="LESS THAN OR EQUAL TO" <?php if ($this->whereopt[$key] == "LESS THAN OR EQUAL TO") echo "selected"; ?>>LESS THAN OR EQUAL TO</option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="col-md-6 form-inline" id='colvalue-s<?= $key ?>'>
                                    <script type="text/javascript">
                                        $(document).ready(function() {
                                            var colval = "#colvalue-s<?= $key ?>";
                                            var colomnname = "<?= $value ?>";
                                            // var colselect= "<?= $value ?>";
                                            var colselect = "colselect-s<?= $key ?>";
                                            var ncolselect = "#colselect-s<?= $key ?>";
											if (colomnname == 'USER_ISNEW') {
                                                // alert(<?= $index ?>);
                                                $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                                                var id = $("#tablename").find(":selected").val();
                                                $.ajax({
                                                    url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'byesno'),null,true)?>",
                                                    type: 'GET',
                                                    dataType: "html",
                                                    data: {
                                                        id: '<?= $this->whereval[$key] ?>'
                                                    },
                                                    success: function(data) {
                                                        $(ncolselect).html(data);
                                                    },
                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                        alert("Failed to get where column list, please try again");
                                                    }
                                                });

                                                $(colselect).val('<?= $this->whereval[$index] ?>');

                                            } else if (colomnname == 'USER_ISPRINTED') {
                                                // alert(<?= $index ?>);
                                                $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

                                                var id = $("#tablename").find(":selected").val();
                                                $.ajax({
                                                    url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'byesno'),null,true)?>",
                                                    type: 'GET',
                                                    dataType: "html",
                                                    data: {
                                                        id: '<?= $this->whereval[$key] ?>'
                                                    },
                                                    success: function(data) {
                                                        $(ncolselect).html(data);
                                                    },
                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                        alert("Failed to get where column list, please try again");
                                                    }
                                                });

                                                $(colselect).val('<?= $this->whereval[$index] ?>');

                                            }
                                        });
                                    </script>
                                    
                                    <?php
                                    if (in_array($value, $selectlist)) {
                                    ?>
                                        <input class='form-control' type='text' name='whereval[]' value='<?= $this->whereval[$key] ?>' style="width:100%" />
                                    <?php }
                                    if (!in_array($value, $datetype)) {
                                        // print_r($value);die;
                                        $index++;
                                    }
                                    ?>
                                </div>
                                <div class="col-md-2 form-inline">
                                    <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>

                <?php
                }
                ?>

            </div>


            <div class="row " id="logo-title" style="display: none">
                <div class="portlet-body form col-md-12">
                    <div id="wheres" style="width: 100%">
                        <div id="where-<?= $ctr ?>">
                            
                        </div>
                        <?php //}}
                        ?>
                    </div>
                    <!-- <input type="hidden" id="wherectr" value="<?= $this->wherectr ?>"/> -->
                    <input type="hidden" id="wherectr" value="0" />
                    <br />
                    <button type="button" class="btngreen hov" id="addwhere"><?php echo $this->language->_('Add Filter'); ?></button>
                    &nbsp;
                    <?php echo $this->formSubmit('filter', $this->language->_('Set Filter'), array('class' => 'btngreen hov')); ?>
                    &nbsp;
                    <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter') ?>" onclick="location.href='<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'clearfilter' => '1'), null, true) ?>'">



                </div>
            </div>
            <div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
                <a href="#" class="sidebar-collapse-icon with-animation">
                    <?php echo $this->language->_('Advanced Search'); ?>
                </a>
            </div>
        </form>
    </div>
</div>	

<div class="row">
	<div class="col-md-12">
<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			<td class="contentarea" id="contentarea">
	<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
		<table class="table table-sm table-striped">
		<thead>
		<tr>
			<th width="3%" valign="top" class="tablehead">
				No.
			</th>
			<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
																'sortBy' => $this->sortBy,
																'sortDir' => $this->sortDir,
																'query_string_params' => $this->query_string_params
																)
									  )?>
			<th width="100px" valign="top" class="tablehead">
				<?php echo $this->language->_('Action'); ?>
			</th>
		</tr>
		</thead>
		<tbody>
			<?php
			if(count($this->paginator) > 0)
			{
				$counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;
				$i=0;
				 //encrypt id
		        require_once 'Crypt/AESMYSQL.php';
		        $AESMYSQL = new Crypt_AESMYSQL();
		        $rand = $this->token;
				//  Zend_Debug::dump($this->paginator);die;
				  foreach($this->paginator as $row)
				  {
					$CUST_ID = isset($row['CUST_ID']) ? $row['CUST_ID'] : "N/A";
				
					$USER = isset($row['user']) ? $row['user'] : "N/A";
					$CUST_NAME = isset($row['CUST_NAME']) ? $row['CUST_NAME'] : "N/A";
					$USER_ID = isset($row['USER_ID']) ? $row['USER_ID'] : "N/A";
					$USER_FULLNAME = isset($row['USER_FULLNAME']) ? $row['USER_FULLNAME'] : "N/A";

					$USER_ISNEW = isset($row['USER_ISNEW']) ? $row['USER_ISNEW'] : -1;
					$arrUSER_ISNEW = array(0=>"No", 1=>"Yes");
					$dispUSER_ISNEW = in_array($USER_ISNEW, array_keys($arrUSER_ISNEW)) ? $arrUSER_ISNEW[$USER_ISNEW] : "N/A";

					$USER_RPWD_ISEMAILED = isset($row['USER_RPWD_ISEMAILED']) ? $row['USER_RPWD_ISEMAILED'] : -1;
					$arrUSER_RPWD_ISEMAILED = array(0=>"No", 1=>"Yes");
					$dispUSER_RPWD_ISEMAILED = in_array($USER_RPWD_ISEMAILED, array_keys($arrUSER_RPWD_ISEMAILED)) ? $arrUSER_RPWD_ISEMAILED[$USER_RPWD_ISEMAILED] : "N/A";

					$USER_RPWD_ISPRINTED = isset($row['USER_RPWD_ISPRINTED']) ? $row['USER_RPWD_ISPRINTED'] : -1;
					$arrUSER_RPWD_ISPRINTED = array(0=>"No", 1=>"Yes");
					$dispUSER_RPWD_ISPRINTED = in_array($USER_RPWD_ISPRINTED, array_keys($arrUSER_RPWD_ISPRINTED)) ? $arrUSER_RPWD_ISPRINTED[$USER_RPWD_ISPRINTED] : "N/A";

					$USER_ISEMAILPWD = isset($row['USER_ISEMAILPWD']) ? $row['USER_ISEMAILPWD'] : -1;
					$arrUSER_ISEMAILPWD = array(1=>"Email", 0=>"Postal Mail");
					$dispUSER_ISEMAILPWD = in_array($USER_ISEMAILPWD, array_keys($arrUSER_ISEMAILPWD)) ? $arrUSER_ISEMAILPWD[$USER_ISEMAILPWD] : "N/A";



					$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
					echo '<tr>
				     <td class="'.$td_css.'">'.$counter.'</td>
					 
					 <td class="'.$td_css.'">'.$USER.'</td>
					 <td class="'.$td_css.'">'.$this->language->_($dispUSER_ISNEW).'</td>
					 
					 <td class="'.$td_css.'">'.$this->language->_($dispUSER_ISEMAILPWD).'</td>
					 <td class="'.$td_css.'" >';?>
						<form name="<?=$USER_ID?>" id="<?=$USER_ID?>" method="post">
							

					

						<?php
						if($this->hasPrivilege('CSRL'))
							{
								
							$encrypted_userid = $AESMYSQL->encrypt($USER_ID, $rand);
					        $encuserid = urlencode($encrypted_userid);
						?>
						<a href="#" title="Email" onclick="javascript:openwindow('<?=$this->url(array('module'=>$this->modulename,'controller'=>'email','action'=>'index','user_id' => $encuserid,'user_isnew' => $row['USER_ISNEW']),null,true);?>',640,580);"><i class="fas fa-mail-bulk" style="font-size:20px;"></i></a>
							
						<?php }
						else{}
						?>


							<?php
								echo $this->formHidden('pdfuser_id', $USER_ID,null);
								echo $this->formHidden('pdfcust_id', $CUST_ID,null);
								echo $this->formHidden('pdf','pdf');
								echo '</td></tr>';
							?>
						</form>
					<?php
					$i++;
					$counter++;
			  }
		  }
		  else
		  {
			   echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> --- No Data --- </td></tr>';
		  }
		?>
		</tbody>
	</table>
	</div>

	<br />
	<div align="right">
	<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
	<br />
	</tbody>
</table>


	</div>
</div>

<script type="text/javascript">
	function removeParent(elem){
		var parentname = elem.parentNode.parentNode.parentNode.id;
		$("#"+parentname).remove();
	}
	$(document).ready(function(){

	$("#addwhere").click(function() {
			var ctr = $("#wherectr").val();
		   var optstr = '<?php echo $optArr;?>';
			var wherecol = "#wherecol-"+ctr;
			$("#wheres").append("<div id='where-"+ctr+"'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-"+ctr+"' name='wherecol[]' style='width:100%' onchange='getOpt(this)'>"+optstr+"</select></div><div style='display:none'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-"+ctr+"'><input class='form-control' type='text' style='width:100%' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
			ctr++;
			$("#wherectr").val(ctr);
		});
	});
	
	function getOpt(elem) {
        var id = elem.id;
        var temp = id.split('-');
        var ctr = temp[1];

        var selval = elem.value;
        var tempval = selval.split('-');
        dttype = tempval[1];

        colomnname = tempval[0];
        var colval = "#colvalue-" + ctr;
        var colvals = "#colvalue-s" + ctr;
        var colselect = "colselect-" + ctr;
        var ncolselect = "#colselect-" + ctr;
        var ncolselects = "#colselect-s" + ctr;
        var $coll = $('.event_select');
        $coll.children().prop('disabled', false);
        $coll.each(function() {
            var val = this.value;
            if (val === 'original') return;
            $coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
        });

        $(colval).empty();
        $(colvals).empty();

        if (colomnname == 'USER_ISNEW') {

            $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");
            $(colvals).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'byesno'),null,true)?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                    $(ncolselects).html(data);

                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });
		} else if (colomnname == 'USER_ISPRINTED') {

            $(colval).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");
            $(colvals).append("<select class='form-control' id='" + colselect + "' style='width:100%' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'byesno'),null,true)?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                    $(ncolselects).html(data);

                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });
        }else {
            $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
            $(colvals).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
        }


        var optsel = "whereopt-" + ctr;
        document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

        if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
            document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }
        if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
        } else if (dttype == 'date' || dttype == 'datetime') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }

        var colomn = '#whereopt-' + ctr;
        var data = $(colomn).val('EQUAL').change();

    }
</script>
