<script type="text/javascript">
$(document).ready(function(){

    $('#fixTable').fixTableHeader();

    $("#searchtable").keyup(function() {
      var value = this.value.toLowerCase().trim();

      $("#myTable tr").each(function(index) {
          if (!index) return;
          $(this).find("td").each(function() {
              var id = $(this).text().toLowerCase().trim();
              var not_found = (id.indexOf(value) == -1);
              $(this).closest('tr').toggle(!not_found);
              return not_found;
          });
      });
    });

});
</script>



<?php $counter = (($this->currentPage-1) * $this->paginator->getItemCountPerPage()) + 1;?>
<script type="text/javascript">
function detailpayment(url,acct)
{
  var test;
  var AcctValue = acct;
  var url = url+"?PS_NUMBER="+AcctValue;
  test = openwindow(url,640,780);
}

function changeTransferType()
{
	// Remove all options
	document.filterForm.transfertype.options.length = 0;

	// Repopulate the select menu with new options
	// new Option(text, value, defaultSelected, selected)
	value = $('#paymenttype').val();
	if (value == '1' || value == '7,5'){ //mayapada

		document.filterForm.transfertype.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
		document.filterForm.transfertype.options[1] = new Option('PB', '0');
		document.filterForm.transfertype.options[2] = new Option('VA', '6');

		document.getElementById("serviceCategory").value = "";
		document.getElementById("serviceCategory").disabled = true;
	}
	else if (value == '2'){ //others

		document.filterForm.transfertype.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
		document.filterForm.transfertype.options[1] = new Option('SKN', '2');
		document.filterForm.transfertype.options[2] = new Option('RTGS','1');
		document.filterForm.transfertype.options[3] = new Option('ONLINE','5');

		document.getElementById("serviceCategory").value = "";
		document.getElementById("serviceCategory").disabled = true;
	}
	else if(value == '6,4'){
		document.filterForm.transfertype.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
		document.filterForm.transfertype.options[1] = new Option('PB', '0');
		document.filterForm.transfertype.options[2] = new Option('SKN', '2');
		document.filterForm.transfertype.options[3] = new Option('RTGS','1');

//		document.getElementById("serviceCategory").value = "";
		document.getElementById("serviceCategory").disabled = false;
	}
	else {
		document.filterForm.transfertype.options[0] = new Option('-- <?= $this->language->_('Any Value');?>  --', '');

//		document.getElementById("serviceCategory").value = "";
		document.getElementById("serviceCategory").disabled = false;
	}

}

$(document).ready(function(){

	//changeTransferType();
	if('<?= $this->transfertype ?>' != '')
	{
		$('#transfertype').val('<?= $this->transfertype ?>');
	}

});
</script>

<?php $transactionReport = $this->language->_('Transaction Report')?>
<?php $paymentreport = $this->language->_('Cover Funds Report')?>
<?php $userid = $this->language->_('User ID')?>
<?php $username = $this->language->_('User Name')?>

<?php $beneficiaryaccount = $this->language->_('Beneficiary Account')?>

<?php $paymentref = $this->language->_('Payment Ref')?>
<?php $createddate = $this->language->_('Created Date')?>
<?php $beneficiarytype = $this->language->_('Beneficiary Type')?>
<?php $updateddate = $this->language->_('Updated Date')?>
<?php $paymentdate = $this->language->_('Payment Date')?>
<?php $sourceaccount = $this->language->_('Source Account')?>
<?php $paymenttype = $this->language->_('Payment Type')?>
<?php $setfilter = $this->language->_('Set Filter')?>
<?php $clearfilter = $this->language->_('Clear Filter')?>
<?php $print = $this->language->_('Print')?>
<?php $nodata = $this->language->_('No Data')?>
<?php $action = $this->language->_('Action')?>
<?php $transfertype = $this->language->_('Transfer Type')?>

<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Transaction Report'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                    <?php echo $this->language->_('Cover Funds Report'); ?>
	                </li>
            	</ul>
        	</div>
      	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h5><?=$this->language->_('Cover Funds Report')?></h5>
		<div class="form-group">
			<div style="float:right; padding-left:5px;">
		        <div class="input-group input-group-sm">
		                <div class="input-group-prepend">
		                            <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
		                        </div>
		                <input type="text" class="search form-control" id="searchtable" placeholder="Search">
		            </div>
		    </div>
			<div style="float:right; padding-left:10px;">
				<form name="form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','sortby' => $this->sortBy,'sortdir' => $this->sortDir),null,true).$this->qstring?>" method="post">
	
					<!-- <?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) { ?> -->
					<!-- <?php	echo $this->formSubmit('pdf',$this->language->_('PDF is Too Large (Function is Disabled)'),array('class'=>'btnwhite disabled','disabled'=>'disabled')); ?> -->
					<!-- <?php echo '<input type="submit" value="&#xf1c1; PDF is too large (function is disabled)" name="pdf" id="pdf" class="fa disabled" disabled="disabled">'; ?>&nbsp; -->
					<!-- <?php }else{ ?> -->
					<!-- <?php 	echo $this->formSubmit('pdf','PDF',array('class'=>'btngreen hov')); ?> -->
					<!-- <?php echo '<input type="submit" value="&#xf1c1; PDF" name="pdf" id="pdf" class="fa">'; ?>&nbsp; -->
					<!-- <?php } ?> -->

					<?php if(($this->paginator->getTotalItemCount()) > $this->applicationSetting['max_row_download_csv']) { ?>
					<!-- <?php echo $this->formSubmit('csv','CSV is too large (function is disabled)',array('class'=>'btnwhite disabled','disabled'=>'disabled')); ?>&nbsp; -->
					<?php echo '<input type="submit" value="&#xf6dd CSV is too large (function is disabled)" name="csv" id="csv" class="fa disabled" disabled="disabled">' ?>&nbsp;
					<?php }else{ ?>
					<!-- <?php echo $this->formSubmit('csv','CSV',array('class'=>'btngreen hov')); ?>&nbsp; -->
					<?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa">' ?>&nbsp;
					<?php } ?>

	<!--				<input class="btn btn-success" value="<?php echo $print?>" onclick="window.print();" type="button">-->
					<?php if(count($this->paginator)> $this->applicationSetting['max_page_download_pdf']) {
						// echo $this->formSubmit('pr',$this->language->_('print'),array('class'=>'btnwhite disabled','disabled'=>'disabled'));
						echo '<button name="pr" class="btngrad disabled" onclick="" type="button" ><i class="fa fa-print"></i>&nbsp;'. $this->language->_("Print").'</button>';
					}
					else{
					?>
						<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1)).$this->qstring?>', screen.width, screen.height); return false;" class="btn-sm btngrad hov"><i class="fa fa-print"></i>&nbsp;<?PHP echo $this->language->_("Print")?></button>&nbsp;
					<?php
					}
					?>
					<input type="hidden" name="clearfilter" value="<?=$this->clearfilter?>">
				
				</form>
			</div>
		</div>
		<br>

<div align="right">
	<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
</div><br>

<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
<table class="table table-sm table-striped" id="myTable">
<thead>
	<tr>
		 <th width="3%" valign="top" class="tablehead">No</th>

			<?php
				echo $this->partial('tableheader.phtml',array(
																'fields' => $this->fields,
																'sortBy' => $this->sortBy,
																'sortDir' => $this->sortDir,
																'query_string_params' => $this->query_string_params
															)
									);
			?>


	</tr>
	</thead>
	<tbody>
		<?php
			if(count ($this->paginator) > 0)
			{
				foreach($this->paginator as $row)
				{
					$d = 0;

					$td_css = ($d % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";

					$getPayment = new transactionreport_Model_Transactionreport();
					$count_data = $getPayment->getCountNostro($row["NOSTRO_CODE"]);
// 					print_r();die;

					$transferFee = (!empty($row["TOTAL"])?$row["TOTAL"]:0);

					echo '<tr>
						<td class="'.$td_css.'">'.$counter.'</td>
						<td class="'.$td_css.'">'.$row["NOSTRO_NAME"].'</td>
						<td class="'.$td_css.'">'.$row["NOSTRO_SWIFTCODE"].'</td>
						<td class="'.$td_css.'">'.$row["PS_CCY"].'</td>
						<td class="'.$td_css.'">'.$row['COUNTDATA'].'</td>
						<td class="'.$td_css.'">'.Application_Helper_General::displayMoney($transferFee).'</td>
						</tr>';
					$counter++;
					$d++;
				}

			}
			else
			{
			?>	<tr>
					<td class="tbl-evencontent" colspan="11" align="center">--- <?php echo $nodata?> ---</td>
				</tr> <?php
			}
			?>

	</tbody>
	</table><br />
</div>



	<div align="right">
		<?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?>
	</div><br>
	</div>
</div>
