<script type="text/javascript">
function refreshwindow()
{
  // not loaded frames
  window.location.reload();
}

function numberWithCommas(x,id) {
   const formattermoney = new Intl.NumberFormat('ID', {
      minimumFractionDigits: 0
    });
    var tag = '#'+id;
      // $(nams).text(formattermoney.format(obj[k].BALANCE));
    var x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
     $(tag).val(x);
  //return 
}

</script>
<!-- <b>

<ol class="breadcrumb" >
  <li><a href="#" style="font-size: 11px;"><?php echo $this->language->_('User')?></a></li>
  <li><?php echo $this->language->_('User Open Banking Limit Scheme')?></li>
  <li><?php echo $this->language->_('Detail')?></li>
  <li><?php echo $this->language->_('Edit / Delete')?></li>
</ol>
</b> -->

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('User'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span><?php echo $this->language->_('User Limit Scheme'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="valas" ><?php echo $this->language->_('Edit'); ?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>

<br />

<h5><?php echo $this->language->_('User Limit Scheme'); ?></h5>
<!-- <div class="tabheader" id="tabheader"><?php echo $this->language->_('User Open Banking Limit Scheme'); ?></div> -->

<?php 
  require_once 'Crypt/AESMYSQL.php';
    $AESMYSQL = new Crypt_AESMYSQL();
    $rand = $this->token;

    $encrypted_userid = $AESMYSQL->encrypt($this->user_id, $rand);
    $encuserid = urlencode($encrypted_userid);
	//var_dump($rand);
	//var_dump($this->cust_id);
	$encrypted_custid = $AESMYSQL->encrypt($this->cust_id, $rand);
    $enccustid = urlencode($encrypted_custid);
?>

<?php
if($this->cust_id){
?>

<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
    <tbody>
      <tr>
        <td class="contentarea" id="contentarea">
          <div class="portlet light form-fit bordered">
            <div class="backstyle">
              <div class="">
                <?php echo $this->language->_('Add/Edit User Maker Limit for the following user');?>.
              </div>
              <div class="card-body form ">
                <div class="form-group row pt-2">
                <div class="col-sm-3">
                  <?php echo $this->formLabel('user_id',$this->language->_('User ID')); ?>
                </div>
                <div class="col-sm-1">
                  <span> : </span>
                </div>
                <div class="col-sm-8">
                  <?php echo $this->user_id; ?>
                </div>
                 <div class="col-sm-3">
                  <?php echo $this->formLabel('user_name',$this->language->_('User Name')); ?>
                </div>
                <div class="col-sm-1">
                  <span> : </span>
                </div>
                <div class="col-sm-8">
                  <?php echo $this->user_name; ?>
                </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <?php 
  if($this->isapproval)  echo '<div class="errmsg">'.$this->isapproval.'</div>';
      
?>
<div><em><?php echo $this->language->_('Add/Edit User Open Banking Limit for the following Accounts.'); ?><br />
    <?php echo $this->language->_('Note : fill limit field with empty value or zero to remove user Open Banking limit'); ?>
    </em></div>
<?php if($this->success){ ?>
<br /><div class="successmsg"><?=$this->report_msg?></div>
<?php }else if($this->error){ ?>
<br /><div class="errmsg"><?=$this->report_msg?></div>
<?php } ?>

<?php
//var_dump($this->errorMsg);
?>
<div class="portlet-body form">
<form method="post" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','cust_id'=>$enccustid,'user_id'=>$encuserid),null,true)?>">
  <table class="table table-striped" border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
    <tr>
        <th class="tablehead">No</th>
    <th class="tablehead">Bank</th>
        <th class="tablehead">Account Number</th>
        <th class="tablehead">Account Name</th>
        <th class="tablehead">Currency</th>
        <th class="tablehead">Max Limit</th>
    </tr>
     <?php
        if(count($this->userLimit) > 0)
           {
             $i = 0;
            $counter = 1;
                        foreach($this->userLimit as $row)
                        {
                        $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent'; 
                            
                        $option = array('maxlength'=>13,
                                'size'=>25,'class'=>'form-control',
                                'onfocus'=>'iNumFrmtUS(this.value,this.id)',
                                'onblur'=>'numberWithCommas(this.value,this.id)',
                                'onkeypress'=>'return forceNumber(event)');
                        
                        if($this->maxlimit)
                          $maxlimit = Application_Helper_General::displayMoneyplain($this->maxlimit[$row['account_number']]);
                        else
                          $maxlimit = $row['MAXLIMIT']? Application_Helper_General::displayMoneyplain($row['MAXLIMIT']) : Application_Helper_General::displayMoneyplain(0);
                          
                        if($this->user_status == 3){
                          $option['disabled'] = 'disabled';
                        }

                        if($row['account_currency']!='IDR' && $row['account_currency']!='USD' && $row['account_currency']!=''){
              $row['account_currency'] = Application_Helper_General::getCurrCode($row['account_currency']);
            }
		
                        echo '<tr>
                            <td class="'.$td_css.'">'.$counter.'</td>
              <td class="'.$td_css.'">'.$row['BANK_NAME'].'</td>
                            <td class="'.$td_css.'">'.$row['account_number'].'</td>
                            <td class="'.$td_css.'">'.$row['account_name'].'</td>
                            <td class="'.$td_css.'">'.$row['account_currency'].'</td>
                            <td class="'.$td_css.'">'.$this->formHidden("ACCT_NAME[{$row['account_number']}]",$row['account_name'],$option).$this->formHidden("ccy[{$row['account_number']}]",$row['account_currency'],$option).$this->formHidden("bankcode[{$row['account_number']}]",$row['BANK_CODE'],$option).$this->formText("maxlimit[{$row['account_number']}]",$maxlimit,$option).'<div class="errmsg">'.$this->errorMsg[$row['account_number']].'</div></td>
                            </tr>';
                          $i++;
                          $counter++;
                        }
                      }else{ echo '<tr><td colspan="5" class="tbl-evencontent" align="center">'. $this->language->_('No Record Found (company does not have source account)').' </td></tr>'; }
                      ?>
      
                 
    </table>

    <br />
    <input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url(array('module'=>'customer','controller'=>'view','action'=>'index','cust_id'=> $enccustid),null,true)?>'" value = "<?php echo $this->language->_('Back'); ?>">&nbsp;&nbsp;
    <?php if($this->user_status != 3){ ?>
    <?php if(!$this->isapproval && count($this->userLimit) > 0) { ?> 

        <input name="reset" value="<?php echo $this->language->_('Reset'); ?>" onclick="refreshwindow();" type="reset" class="btnwhite hov" style="border-width: thin !important; outline: none !important;">&nbsp;&nbsp;  

      <?php } ?>
    <?php if(!$this->isapproval && count($this->userLimit) > 0) { ?> 

       <input type="submit" value="<?php echo $this->language->_('Submit'); ?>" name="submit" class="btngreen hov"/>

        <?php } 
      }
    ?>

</form>
</div>

<?php 
}
else
{
?>
<div id="content">--- <?php echo $this->language->_('No Data'); ?> ---</div>
<br />
<input class = "btnwhite hov" type="button" onclick="location.href='<?=$this->url(array('module'=>'userlimit','controller'=>'index','action'=>'index'),null,true)?>'" value = "<?php echo $this->language->_('Back'); ?>">&nbsp;&nbsp;
<?php } ?>
