<b>Biller &gt; <?php echo $this->language->_('Edit Biller');?></b><br /><br />
<div class="tabheader" id="tabheader"><?php echo $this->language->_('Edit Biller');?></div>
<?php
	$option = array('maxlength'=>20,
			  'class'=>'currency',
			  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
			  'onblur'=>'NumFrmtUS(this.value,this.id)',
			  'onkeypress'=>'return forceCurrency(event)');
?>

<form name="exportForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
<table border="0" cellspacing="0" cellpadding="0" class="tableform"width="40%">
	<tr>
		<th colspan="2">
			<?php echo $this->language->_('Biller Detail');?>
		</th>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; <?php echo $this->language->_('Service Type');?></td>
		<td class="tbl-oddcontent"><?php echo $this->language->_($this->providerData['PROVIDER_TYPE']);?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent" width="100px">&nbsp; <?php echo $this->language->_('Biller Code');?></td>
		<td class="tbl-oddcontent"><?php echo $this->providerData['PROVIDER_CODE'];?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; <?php echo $this->language->_('Biller Name');?></td>
		<td class="tbl-oddcontent"><?php echo $this->formText('providerName',$this->providerData['PROVIDER_NAME']);?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; <?= $this->language->_('Biller Status');?></td>
		<td class="tbl-oddcontent"><?php echo $this->language->_($this->providerData['PROVIDER_STATUS']);?></td>
	</tr>
	<tr>
		<td class="tbl-evencontent">&nbsp; <?php echo $this->language->_('Service Catagories');?></td>
		<td class="tbl-oddcontent"><?php echo $this->language->_($this->providerData['SERVICE_TYPE']);?></td>
	</tr>
</table>

<br />
<br />
<table width="60%">
<tr align="left"><td  align="left">
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'biller','controller'=>'index','action'=>'index'),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Back');?>">
&nbsp;
<?php
	if($this->changestatus)
	{ ?>
		<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>&nbsp;
		<br /><br />
		<?php
		echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
	}
	else
	{
		echo $this->formHidden('providerID',$this->providerID);
		echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn')).'&nbsp;';
	}?>

</td></tr>
</table>
</form>