<?php $anyval = $this->language->_('Any Value');?>

<script type="text/javascript">
$(document).ready(function(){


	//$('#fixTable').fixTableHeader();
	$("#searchtable").keyup(function () {
    var value = this.value.toLowerCase().trim();

    $("#myTable tr").each(function (index) {
        if (!index) return;
        $(this).find("td").each(function () {
            var id = $(this).text().toLowerCase().trim();
            var not_found = (id.indexOf(value) == -1);
            $(this).closest('tr').toggle(!not_found);
            return not_found;
        });
    });
});

});
</script> 

<?//= $this->headScript()->appendFile($this->baseUrl('../js/jquery-1.10.2.min.js')); ?>  
<?//= $this->headScript()->appendFile($this->baseUrl('../js/jquery-ui.min.js')); ?>
<?= $this->headLink()->appendStylesheet($this->baseUrl('../css/jquery-ui.css')) ?>
<?= $this->headScript()->appendFile($this->baseUrl('../js/jquery-1.10.2.min.js')); ?>  
<?= $this->headScript()->appendFile($this->baseUrl('../js/jquery-ui.min.js')); ?> 



<?= $this->headLink()->appendStylesheet($this->baseUrl('../assets/themes/assets/newlayout/css/gijgo.min.css')) ?>
<?= $this->headScript()->appendFile($this->baseUrl('../js/gijgo.min.js')); ?>

<script type="text/javascript">

function target_popup(form) {
    window.open('', 'formpopup', 'width=1200,height=600,resizeable,scrollbars');
    form.target = 'formpopup';
	}

function Searchtable() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("searchtable");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
	

	 //for (x = 0; i < 9; x++) {
	td0 = tr[i].getElementsByTagName("td")[0];
    td = tr[i].getElementsByTagName("td")[1];
	td1 = tr[i].getElementsByTagName("td")[2];
	td2 = tr[i].getElementsByTagName("td")[3];
	td3 = tr[i].getElementsByTagName("td")[4];
	td4 = tr[i].getElementsByTagName("td")[5];
	td5 = tr[i].getElementsByTagName("td")[6];
	td6 = tr[i].getElementsByTagName("td")[7];
	td7 = tr[i].getElementsByTagName("td")[8];
	
	if (td0) {
      txtValue = td0.textContent || td.innerText;
	  //console.log(td);
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        
		var temp = i;
      } else {
      //  tr[i].style.display = "none";
      }
	}
    if (td) {
      txtValue = td.textContent || td.innerText;
	  //console.log(td);
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        
		var temp = i;
      } else {
      //  tr[i].style.display = "none";
      }
    }if (td1) {
      txtValue = td1.textContent || td1.innerText;
	  //console.log(td);
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        
		var temp = i;
      } else {
        
      }
    }
	if (td2) {
      txtValue = td2.textContent || td2.innerText;
	//	console.log(txtValue); 
		
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        
		var temp = i;
      } else {
        
      }
    }
	if (td3) {
      txtValue = td3.textContent || td3.innerText;
	  //console.log(td);
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        
		var temp = i;
      } else {
        
      }
    }
	if (td4) {
      txtValue = td4.textContent || td4.innerText;
	  //console.log(td);
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        
		var temp = i;
      } else {
        
      }
    }
	if (td5) {
      txtValue = td5.textContent || td5.innerText;
	  //console.log(td);
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        
		var temp = i;
      } else {
        
      }
    }
	if (td6) {
      txtValue = td6.textContent || td6.innerText;
	  //console.log(td);
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        
		var temp = i;
      } else {
        
      }
    }
	if (td7) {
      txtValue = td7.textContent || td7.innerText;
	  //console.log(td);
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        
		var temp = i;
      } else {
        
      }
    }
	
	
	
	if(temp){
		tr[i].style.display = "";
	}
	
	// }
	
	
  }
}


// function changeTransferType()
// {
// 	// Remove all options
// 	document.form.trfType.options.length = 0;

// 	// Repopulate the select menu with new options
// 	// new Option(text, value, defaultSelected, selected)
// 	value = $('#payType').val();
// if (value == '1'){
        
// 		document.form.trfType.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
// 		document.form.trfType.options[1] = new Option('In House', '0');
// 		document.form.trfType.options[2] = new Option('In House (Sell)', '7');
// 		document.form.trfType.options[3] = new Option('In House (Buy)', '8');
// 		document.form.trfType.options[4] = new Option('VA', '6');
// 	}
// 	if (value == '7,5' || value == '11,11' || value == '15,15' || value == '14,14'){
        
// 		document.form.trfType.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
// 		document.form.trfType.options[1] = new Option('In House', '0');
// 	}
// 	else if (value == '2'){
              
// 		document.form.trfType.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
// 		document.form.trfType.options[1] = new Option('SKN', '2');
// 		document.form.trfType.options[2] = new Option('RTGS','1');
// // 		document.form.trfType.options[3] = new Option('ONLINE','8');
// 	}
// 	else if (value == '3'){
              
// 		document.form.trfType.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
// 		document.form.trfType.options[1] = new Option('OUR', '3');
// 		document.form.trfType.options[2] = new Option('SHA','4');
// 	}
// 	else if(value == '6,4'){
// 		document.form.trfType.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
// 		document.form.trfType.options[1] = new Option('In House', '0');
// 		document.form.trfType.options[2] = new Option('SKN', '2');
// 		document.form.trfType.options[3] = new Option('RTGS','1');
// 	}
	
// 	else if(value == '16'){
// 		document.form.trfType.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
// 		document.form.trfType.options[1] = new Option('Handphone Voucher', '13');
// 		document.form.trfType.options[2] = new Option('Electricity Voucher', '14');
// 	}
// 	else if(value == '17'){
// 		document.form.trfType.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
// 		document.form.trfType.options[1] = new Option('Electricity', '1');
// 		document.form.trfType.options[2] = new Option('PAM', '2');
// 		document.form.trfType.options[3] = new Option('Phone', '3');
// 		document.form.trfType.options[4] = new Option('Internet', '4');
// 		document.form.trfType.options[5] = new Option('Cable TV', '5');
// 		document.form.trfType.options[6] = new Option('Tax', '6');
// 		document.form.trfType.options[7] = new Option('Credit Card', '7');
// 		document.form.trfType.options[8] = new Option('Installment', '8');
// 		document.form.trfType.options[9] = new Option('Insurance', '9');
// 		document.form.trfType.options[10] = new Option('Education', '10');
// 		document.form.trfType.options[11] = new Option('Ticket', '11');
		
// 	}
// 	else {	   
// 		document.form.trfType.options[0] = new Option('-- <?= $this->language->_('Any Value');?> --', '');
// 	}

// }

$(document).ready(function(){
	
	// changeTransferType();
	if('<?= $this->trfType ?>' != '')
	{
		$('#trfType').val('<?= $this->trfType ?>');
	}

	$('div#sidebar-collapse').click(function(){
			  if ( $("#logo-title").is(":visible") ) { 
			    $("#logo-title").hide(); 
			    $("#logo-titles").hide(); 
			  } else if ( $("#logo-title").is(":hidden") ) { 
			    $("#logo-title").show(); 
			    $("#logo-titles").show(); 
			  }
			})

		$('#createdStart').datepicker({
            minDate: function() {
            var mindate = new Date();
            mindate.setDate(mindate.getDate() - 180);
            return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
            },
            maxDate: function() {
                var maxdate = new Date();
                maxdate.setDate(maxdate.getDate());
                return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
            },
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4',
        });
        $('#createdEnd').datepicker({
            minDate: function() {
			var val = document.getElementById('createdStart').value;
			var parts = val.split("/");
			var mindate = new Date(parts[2], parts[1] - 1, parts[0]); 

			mindate.setDate(mindate.getDate());
			return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
			},
			maxDate: function() {
				
				var maxdate = new Date();
				return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
			},
			format: 'dd/mm/yyyy',
			uiLibrary: 'bootstrap4'
        });
        $('#updateStart').datepicker({
            minDate: function() {
            var mindate = new Date();
            mindate.setDate(mindate.getDate() - 180);
            return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
            },
            maxDate: function() {
                var maxdate = new Date();
                maxdate.setDate(maxdate.getDate());
                return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
            },
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4',
        });
        $('#updateEnd').datepicker({
            minDate: function() {
			var val = document.getElementById('updateStart').value;
			var parts = val.split("/");
			var mindate = new Date(parts[2], parts[1] - 1, parts[0]); 

			mindate.setDate(mindate.getDate());
			return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
			},
			maxDate: function() {
				
				var maxdate = new Date();
				return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
			},
			format: 'dd/mm/yyyy',
			uiLibrary: 'bootstrap4'
        });
        $('#efdateStart').datepicker({
            minDate: function() {
            var mindate = new Date();
            mindate.setDate(mindate.getDate() - 180);
            return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
            },
            maxDate: function() {
                var maxdate = new Date();
                maxdate.setDate(maxdate.getDate());
                return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
            },
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4',
        });
        $('#efdateEnd').datepicker({
            minDate: function() {
			var val = document.getElementById('efdateStart').value;
			var parts = val.split("/");
			var mindate = new Date(parts[2], parts[1] - 1, parts[0]); 

			mindate.setDate(mindate.getDate());
			return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
			},
			maxDate: function() {
				
				var maxdate = new Date();
				return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
			},
			format: 'dd/mm/yyyy',
			uiLibrary: 'bootstrap4'
        });


      $("#form_data").submit(function () {
      	// e.preventDefault();
      	var type = $("#release_button").val();
      	// alert(type);
      	var mPayReff = $("input[name='mPayReff[]']").val();
      	if (type=='release') {
      		var acturl = "<?php $this->url(array('module'=>$this->modulename,'controller'=>'multi','action'=>'release'),null,true)?>";
      	}

      	// var url = acturl;
      	// var param = {'mPayReff':mPayReff};
      	// $.post(url, param, function(msg){
      	// 	alert("success");
      	// });
      		$.ajax({
	            url: acturl,
	            type: "POST",
	            data: {mPayReff:mPayReff},
	            success:function(data)
	            {
	                alert('SUCCESS!!');
	            },
	            error:function(jqXHR, textStatus) {
	            	alert( "Request failed: " + textStatus );
	            }
	        });
      });

});
</script>

<!-- <style>
	
	@media print{
		.hidden, .hidden * {
			display: none !important;
			visibility: hidden;
		}

		button {
			display: none !important;
			visibility: hidden;
		}


		.hiddenLogo, .hiddenLogo * {
			display: inline !important;
			visibility: show;
			margin-bottom:40px;
		}

		input.currency{ width: 200px; font-size: 10px; }
		ul { padding-left:10px; }
		h2 { color: #5B0000; font-size: 16px; font-weight: bold } body .ui-helper-hidden-accessible { position: fixed }
		body { font-family : Arial, Helvetica, sans-serif; font-size: 11px; background-color: white; }
		b { font-weight:bold; font-size:11px }
		td { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; }
		a { font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:underline; }
		.tbl-evencontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
		.tbl-oddcontent { background-color: none; padding: 1px 1px 1px 1px; border-bottom: 1px solid #A9A9A9;border-right: 1px solid #A9A9A9;border-left: 1px solid #A9A9A9;border-top: 1px solid #A9A9A9;vertical-align: top; font-size: 10px; }
		.tdform-sub {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; }
		.tdform-odd { background-color: #FFFFFF; padding: 4px 4px 4px 4px; border: 1px solid; vertical-align: top; }
		.errmsg { font-weight:bold; font-size:11px; color:#FF0000 }
		.headercolor {background-color: #0c67a0;padding: 4px 4px 4px 4px; border-bottom: 0px solid #A9A9A9;border-top: 1px solid #A9A9A9;;border-right: 1px solid #A9A9A9;;border-left: 1px solid #A9A9A9; vertical-align: top; font-weight: bold; color: white; } 
		body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
		-webkit-print-color-adjust:exact; /*chrome*/
		-moz-print-color-adjust:exact; /*mozila*/
		-o-print-color-adjust:exact; /*opera*/
		-ms-print-color-adjust:exact; /*ie*/
		}

	.Path-85 {
		opacity:0.4;
		position: fixed;
		bottom: 0;
		left: 0;
	}

	.Path-83 {
		opacity:0.4;
		position: fixed;
		bottom: 0;
		right: 0;
	}
	.printlogo {
		width:60%;
	}

	.footer {
		display:none;
	}

	.printhide {
		display:none;
	}
	.printshow {
		display:block;
	}
}
</style> -->

<!-- header print -->
<table border="0" cellpadding="0" cellspacing="0" width="60%" align="left" style="display:none" class="hiddenLogo">
	<tr>
		<td valign="left"><div style="padding: 0px 20px 0px 0px"><img class="printlogo" src="/assets/permatalayout/assets/newlayout/img/logosgo_small_2.png" border="0"/></div></td>
	</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="40%" align="right" style="display:none" class="hiddenLogo">
	<tr>
		<td align="center" valign="middle"><strong><?php echo $this->language->_('Review');?> - </strong></td>
		<td align="right" valign="middle"><strong><?php echo date("d F Y H:i:s")?></strong></td>
	</tr>
</table>

<div class="row">
        <div class="col-md-12">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <span><?php echo $this->language->_('Transaction Workflow')?></span>
                        <i class="fa fa-angle-right pl-1 pr-1"></i>
                    </li>
                    
                    <li>
                        <span class="inhouse"><?=$this->language->_('Release')?></span>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
    <br/>


<?php if($this->success){ ?>
<div class="successmsg"><?=$this->report_msg?></div>
<?php }else if($this->error){ ?>
<div class="errmsg"><?=$this->report_msg?></div>
<?php } ?>

<div class="row content-box">
	<div class= "portlet-body form col-md-12">
<h5>Release</h5>

<form name="formsearch" class="form-horizontal form-bordered form-row-stripped" action=" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','sortby' => $this->sortBy,'sortdir' => $this->sortDir),null,true)?>" method="post">
	
	<?php 
	$optArr = '<option value="" >-- '.$this->language->_('Any Value').' --</option>';
	foreach($this->filterlist as $row){
		$optArr .=  '<option value="'.$row.'" >'.$this->language->_($row).'</option>';
	}

	?>

	<div class="row " id="logo-titles" style="margin-left: 0px">
			<?php
			if(!empty($this->wherecol)){
				?>
				<script type="text/javascript">
					$(document).ready(function(){
					$("#logo-title").show(); 
				});

				</script>
				<?php
			}
			// print_r($this->wherecol);die;
			$index = 0;
			foreach ($this->wherecol as $key => $value) {
				?>
					<div id="searchs" style="width: 100%">
                    <?php 
                        $datetype = array("PS_CREATED", "PS_EFDATE", "PS_UPDATED");
                        $selectlist = array("PS_TYPE",'PS_CCY','PS_STATUS','SOURCE_ACCOUNT_CCY','SOURCE_ACCOUNT','BENEFICIARY_ACCOUNT','BENEFICIARY_ACCOUNT_CCY','TRA_AMOUNT','PS_TOTAL_AMOUNT');
                        
						
                    ?>
                            <div id="where-<?=$ctr?>">
                                <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$ctr?>' name='wherecol[]' style="width: 100%" onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($value==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                   <!--  <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div> -->
                                    <div class="col-md-6 form-inline" id='colvalue-s<?=$key?>'> 
                                    		<script type="text/javascript">
                                $(document).ready(function() {
                                    //alert('<?= $value ?>');
                                    var colval = "#colvalue-s<?= $key ?>";
                                    var colomnname = "<?= $value ?>";
                                    // console.log("<?= $value ?>");
                                    // var colselect= "<?= $value ?>";
                                    var colselect = "colselect-<?= $key ?>";
                                    var ncolselect = "#colselect-<?= $key ?>";
                                    if (colomnname == 'TRA_AMOUNT' || colomnname == 'PS_TOTAL_AMOUNT' || colomnname == 'EQUIVALENT_AMOUNT_IDR' || colomnname == 'EQUIVALENT_AMOUNT_USD') {
                                        $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='<?= $this->whereval[$index] ?>' maxlength='20' autocomplete='off' id='" + colselect + "' class='form-control' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
                                        $(colselect).val('<?= $this->whereval[$index] ?>');
                                    } else if (colomnname == 'PS_STATUS' || colomnname == 'PAYSTAT') {

                                        $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

                                        var id = $("#tablename").find(":selected").val();
                                        $.ajax({
                                            url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumnpsstatus'), null, true) ?>",
                                            type: 'GET',
                                            dataType: "html",
                                            data: {
                                                id: '<?= $this->whereval[$index] ?>'
                                            },
                                            success: function(data) {
                                                $(ncolselect).html(data);
                                            },
                                            error: function(xhr, ajaxOptions, thrownError) {
                                                alert("Failed to get where column list, please try again");
                                            }
                                        });

                                        $(colselect).val('<?= $this->whereval[$index] ?>');

                                    } 
                                    else if (colomnname == 'ONGOING_STATUS') { //ongoing

                                        $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

                                        var id = $("#tablename").find(":selected").val();
                                        $.ajax({
                                            url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'ongoingstatus'), null, true) ?>",
                                            type: 'GET',
                                            dataType: "html",
                                            data: {
                                                id: '<?= $this->whereval[$index] ?>'
                                            },
                                            success: function(data) {
                                                $(ncolselect).html(data);
                                            },
                                            error: function(xhr, ajaxOptions, thrownError) {
                                                alert("Failed to get where column list, please try again");
                                            }
                                        });

                                        $(colselect).val('<?= $this->whereval[$index] ?>');

                                    }
                                    else if (colomnname == 'PS_TYPE' || colomnname == 'PAYTYPE') {

                                        $(colval).append("<select class='form-control pstype' style='width:100%' id='" + colselect + "' onchange='changetype(this.value)' name='whereval[]' ></select>");

                                        var id = $("#tablename").find(":selected").val();
                                        $.ajax({
                                            url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumnpstype'), null, true) ?>",
                                            type: 'GET',
                                            dataType: "html",
                                            data: {
                                                id: '<?= $this->whereval[$index] ?>'
                                            },
                                            success: function(data) {
                                                
                                                $(ncolselect).html(data);
                                                var trtype = <?php echo $this->whereval[$index]; ?>;
                                                            //alert(trtype);
                                                            $('#pstype').val(trtype);
                                                //$('#pstype').val(dataArr.tblName);
                                            },
                                            error: function(xhr, ajaxOptions, thrownError) {
                                                alert("Failed to get where column list, please try again");
                                            }
                                        });
                                        // document.getElementById(colselect).value = '<?= $this->whereval[$index] ?>';
                                        $(colselect).val('<?= $this->whereval[$index] ?>');

                                    }else if(colomnname ==  'TRANSFER_TYPE'){  
                                    //var id = $("#pstype").find(":selected").val();
                                    //alert(<?php echo $index; ?>);
                                    //setTimeout(function(){},1000); 
                                                    $(colval).append("<select class='form-control tratype' id='"+colselect+"' name='whereval[]' style='width:100%'></select>");

                                                      var id = $("#pstype").find(":selected").val();
                                                      var idtablename = $("#tablename").find(":selected").val();
                                                      // alert(id);  
                                                      // console.log(id);
                                                      $.ajax({ 
                                                        url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumntratype'), null, true) ?>",
                                                        type: 'GET',
                                                        dataType: "html", 
                                                        data: {
                                                          id: <?php if(empty($this->whereval[$index-1])){ echo 0;}else{echo $this->whereval[$index-1];} ?>,
                                                          idtablename: idtablename
                                                        },
                                                        success: function(data) {
                                                          //$(ncolselect).html(data);

                                                          var dataArr = JSON.parse(data);

                                                            $(ncolselect).html(dataArr.optHtml);
                                                            //$('#pstype').val(dataArr.tblName);
                                                            var trtype = <?php echo $this->whereval[$index]; ?>;
                                                            //alert(trtype);
                                                            $('.tratype').val(trtype);
                                                            //console.log('<?=$this->whereval?>');
                                                          //console.log(dataArr);
                                                        },
                                                        error: function(xhr, ajaxOptions, thrownError) {
                                                          alert("Failed to get where column list, please try again");
                                                        }
                                                      });

                                                      // $('#tratype').val('<?=$this->whereval[$index]?>');
                                    }else if(colomnname == 'TRFTYPE'){

                                                $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
                                                var id = $("#tablename").find(":selected").val();
                                                $.ajax({
                                                url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'tratype'),null,true)?>",
                                                type: 'GET',
                                                dataType: "html",
                                                data: {
                                                    id: '<?=$this->whereval[$key]?>'
                                                },
                                                success: function(data) {
                                                    $(ncolselect).html(data);
                                                },
                                                error: function(xhr, ajaxOptions, thrownError)
                                                {
                                                    alert("Failed to get where column list, please try again");
                                                }
                                            });
                                                $(colselect).val('<?=$this->whereval[$index]?>');

                                    }
                                    else if (colomnname == 'SOURCE_ACCOUNT') {

                                        $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

                                        var id = $("#tablename").find(":selected").val();

                                        <?php 
                                            if ($this->source == 'open') {
                                                $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wheresourceaccountopen'), null, true);
                                            }
                                            else{
                                                $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wheresourceaccount'), null, true);
                                            }
                                        ?>

                                        $.ajax({
                                            url: "<?= $url ?>",
                                            type: 'GET',
                                            dataType: "html",
                                            data: {
                                                id: '<?= $this->whereval[$index] ?>'
                                            },
                                            success: function(data) {
                                                $(ncolselect).html(data);
                                            },
                                            error: function(xhr, ajaxOptions, thrownError) {
                                                alert("Failed to get where column list, please try again");
                                            }
                                        });
                                        $(colselect).val('<?= $this->whereval[$index] ?>');

                                    } else if (colomnname == 'PS_CCY' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY') {
                                        $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
                                        var id = $("#tablename").find(":selected").val();
                                        $.ajax({
                                            url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'ccy'), null, true) ?>",
                                            type: 'GET',
                                            dataType: "html",
                                            data: {
                                                id: '<?= $this->whereval[$index] ?>'
                                            },
                                            success: function(data) {
                                                $(ncolselect).html(data);
                                            },
                                            error: function(xhr, ajaxOptions, thrownError) {
                                                alert("Failed to get where column list, please try again");
                                            }
                                        });
                                        $(colselect).val('<?= $this->whereval[$index] ?>');

                                    } else if (colomnname == 'BENEFICIARY_ACCOUNT') {

                                        $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

                                        var id = $("#tablename").find(":selected").val();

                                        <?php 
                                            if ($this->benef == 'open') {
                                                $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'benefopen'), null, true);
                                            }
                                            else{
                                                $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'benef'), null, true);
                                            }
                                        ?>

                                        $.ajax({
                                            url: "<?= $url ?>",
                                            type: 'GET',
                                            dataType: "html",
                                            data: {
                                                id: '<?= $this->whereval[$index] ?>'
                                            },
                                            success: function(data) {
                                                $(ncolselect).html(data);
                                            },
                                            error: function(xhr, ajaxOptions, thrownError) {
                                                alert("Failed to get where column list, please try again"); 
                                            }
                                        });
                                        $(colselect).val('<?= $this->whereval[$index] ?>');

                                    } else if (colomnname == 'FREQUENTLY') { //for ongoing

                                        $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

                                        var id = $("#tablename").find(":selected").val();

                                        <?php 
                                            $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'frequently'), null, true);
                                        ?>
 
                                        $.ajax({
                                            url: "<?= $url ?>",
                                            type: 'GET',
                                            dataType: "html",
                                            data: {
                                                id: '<?= $this->whereval[$index] ?>'
                                            },
                                            success: function(data) {
                                                $(ncolselect).html(data);
                                            },
                                            error: function(xhr, ajaxOptions, thrownError) {
                                                alert("Failed to get where column list, please try again");
                                            }
                                        });
                                        $(colselect).val('<?= $this->whereval[$index] ?>');

                                    }
                                });
                            </script>
                                    	<?php
                                    		if($value == 'PS_CREATED'){
                                    			// var_dump($this->whereval);die;
                                    			?>
                                    			<input type='text'  class='form-control' name='createdate[]' id='createdStart' readonly value="<?=$this->createdStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' value="<?=$this->createdEnd?>" readonly required>
                                    			<?php
	                                    		}else if($value == 'PS_EFDATE'){
												?>
												<input type='text' class='form-control' name='efdate[]' id='efdateStart' readonly value="<?=$this->paymentStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='efdate[]' id='efdateEnd' value="<?=$this->paymentEnd?>" readonly required>
												<?php

	                                    		}else if($value == 'PS_UPDATED'){
												?>
												<input type='text' class='form-control' name='updatedate[]' id='updatedStart' readonly value="<?=$this->updatedStart?>" required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='updateEnd' value="<?=$this->updatedEnd?>" readonly required>
												<?php

	                                    		}else if(!in_array($value, $selectlist)){
	                                    		?>
		                                        <input class='form-control' type='text' style='width:100%' name='whereval[]' value='<?=$this->whereval[$index]?>'/>
		                                  		<?php }
		                                  		if (!in_array($value, $datetype)){
													// print_r($value);die;
													$index++;
												}
		                                  		 ?>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                    
                </div>

				<?php
			}
			?>

	</div>


	<div class="row " id="logo-title" style="display: none">
	<div class="portlet-body form col-md-12">
 	 <div id="wheres" style="width: 100%">
                            <div id="where-<?=$ctr?>">
                                <!-- <div class="form-group row mt-12">
                                    <div class="col-md-4 form-inline">
                                        <select class='form-control event_select' id='wherecol-<?=$ctr?>' name='wherecol[]' style='width: 100%' onchange='getOpt(this)'>
                                            <option value="">-- <?=$this->language->_('Any Value')?> --</option>
                                            <?php 

                                             foreach($this->filterlist as $row){
                                                $colname = $row;
                                                if($val==$colname){
                                                    $selected = "selected";
                                                }
                                                else{
                                                    $selected = "";
                                                }
                                            ?>
                                                <option value="<?=$row?>" <?=$selected?>><?=$this->language->_($row)?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col" style="display: none">
                                        <select class='form-control' id='whereopt-<?=$ctr?>' name='whereopt[]'>
                                            
                                            <?php if(in_array($dttype, array('int','bigint','smallint','tinyint'))){?>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }elseif(in_array($dttype, array('varchar','char','text','longtext'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="LIKE" <?php if($this->whereopt[$key]=="LIKE") echo "selected";?>>LIKE</option>
                                            <?php }elseif(in_array($dttype, array('date','datetime'))){?>
                                                <option value="NOT EQUAL" <?php if($this->whereopt[$key]=="NOT EQUAL") echo "selected";?>>NOT EQUAL</option>
                                                <option value="GREATER THAN" <?php if($this->whereopt[$key]=="GREATER THAN") echo "selected";?>>GREATER THAN</option>
                                                <option value="LESS THAN" <?php if($this->whereopt[$key]=="LESS THAN") echo "selected";?>>LESS THAN</option>
                                                <option value="GREATER THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="GREATER THAN OR EQUAL TO") echo "selected";?>>GREATER THAN OR EQUAL TO</option>
                                                <option value="LESS THAN OR EQUAL TO" <?php if($this->whereopt[$key]=="LESS THAN OR EQUAL TO") echo "selected";?>>LESS THAN OR EQUAL TO</option>
                                            <?php }?>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-inline" id='colvalue-<?=$ctr?>'> 
                                        <input class='form-control' type='text' name='whereval[]' style='width: 100%' value='<?=$this->whereval[$key]?>'/>
                                    </div>
                                    <div class="col-md-2 form-inline">
                                        <button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class="fa fa-times"></i></button>
                                    </div>
                                </div> -->
                            </div>
                    <?php //}}?>
                </div>
                <!-- <input type="hidden" id="wherectr" value="<?=$this->wherectr?>"/> -->
                <input type="hidden" id="wherectr" value="0"/>
                <br/>
                <button type="button" class="btngreen hov" id="addwhere">Add Filter</button>
                &nbsp;
                <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btngreen hov')); ?>
                <input type="button" name="clearfilter" class="btnwhite hov" value="<?php echo $this->language->_('Clear Filter')?>" onclick="location.href='<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index','clearfilter'=>'1'),null,true)?>'">
               
                

                <br/>

                                             
                    	<div class="portlet-body form" style="display: none">
                    	                       
                                                 <div class="form-group row ">
                                                            <label class="control-label col-md-3"><?php echo $this->language->_('Payment Type'); ?></label>
                                                            <div class="col-md-4">
                                                            <?php echo $this->formSelect('paymentType',$this->paymentType,array('id'=>'paymentType','class'=>'form-control','onclick'=>'changeTransferType()'), $this->optPayType); ?>
                                                            </div>
                                                            <label class="control-label col-md-2"><?php echo $this->language->_('Transfer Type'); ?></label>
                                                            <div class="col-md-3">
                                                            <select name = "transferType" id = "transferType" class="form-control">
                                            					<option value=""><?php echo $this->language->_(' -- Any Value -- '); ?></option>
                                            				</select>
                                                            </div>
                                                 </div>
                                                
                                                 <div class="form-group row ">
                                                            
                                                            <div class="col-md-12">
                                                            <?php echo $this->formSubmit('filter',$this->language->_('Set Filter'),array('class'=>'btn btn-success')); ?>&nbsp;
				                                            
                                                            </div>
                                                 </div>
                                                 
                                                 
                               </div>
            
                               
	</div>
</div>
	<div class="sidebar-collapse" style="float: right" id="sidebar-collapse">
	     <a href="#" class="sidebar-collapse-icon with-animation">
	         <?php echo $this->language->_('Advanced Search'); ?>               
	     </a>
	 </div>
	  </form> 
	 </div>
	 </div>
	
	<div class="form-group hiddenprint">
		<div style="float:right; padding-left:5px;">
	        <div class="input-group input-group-sm">
	                <div class="input-group-prepend">
	                            <span class="input-group-text navbar-search-icon" id="search"><i class="fa fa-search"></i></span>
	                        </div>
	                <input type="text" class="search form-control" placeholder="Search" id="searchtable" onkeyup="Searchtable();">
	            </div>
	    </div>
		<div style="float:right; padding-left:10px;">
			<form name="exportForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post" onsubmit="target_popup(this)">
				<button onclick="openwindow('<?PHP echo $this->url(array('print' => 1, 'data_filter' => $this->filterlistdata)).$this->qstring?>', screen.width, screen.height); return false;" class="btngrad hov" style="font-family: 'Font Awesome 5 Free' !important; font-weight: 900 !important; width: 100px !important;width: 100px !important;background-image:url(/images/print-light.png);background-repeat: no-repeat;background-position: 10px 3px;"><?PHP echo $this->language->_("Print")?></button>&nbsp;
			</form>
		</div>
		<div style="float:right; padding-left:10px;">
		<form name="exportForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index', 'data_filter' => $this->filterlistdata),null,true)?>" method="post">
			<?php if($this->paginator->getTotalItemCount() > $this->applicationSetting['max_row_download_csv']) { ?>

			<?php echo '<input type="submit" value="&#xf6dd Export Files is too large (function is disabled)" name="csv" id="csv" class="fa hov" disabled>'; ?>&nbsp;
			<?php }else{ ?>

			<?php echo '<input type="submit" value="&#xf6dd Export Files" name="csv" id="csv" class="fa hov">'; ?>&nbsp;
			<?php }  ?>

		</form>
		</div>
		
	</div>
	<br>
	<br>

	<!-- <form action="" method="post" id="form_data"> -->
	<form name="form" id="form" class="form-horizontal form-bordered form-row-stripped" action="<?= $this->url(array('module' => $this->modulename, 'controller' => $this->controllername, 'action' => 'index', 'sortby' => $this->sortBy, 'sortdir' => $this->sortDir), null, true) ?>" method="post">
	<div class="portlet-body flip-scroll table-responsive table-fixed" id="fixTable">
		<table class="table table-sm table-striped" id="myTable">
		<thead>
		<tr class="headercolor">
			<th width="3px" valign="top" class="tablehead">
				<input name="allCheck[]" onclick="if($(this).is(':checked')){$('.checkall').prop('checked', true);$('#disreject').prop('disabled', false);$('#disapprove').prop('disabled', false);$('#disreject').removeClass('disabled');$('#disapprove').removeClass('disabled');}else{$('.checkall').prop('checked', false);$('#disreject').prop('disabled', 'disabled');$('#disapprove').prop('disabled', 'disabled');$('#disreject').addClass('disabled');$('#disapprove').addClass('disabled');}" type="checkbox">
			</th>
			<th class="tablehead"><strong>Payment Ref#</strong></th>
			<!-- <th class="tablehead fth-header" id="tbl-headercontent"><strong>Subject</strong></th> --> 
			<th class="tablehead" width="20px"><strong>Created Date</strong></th>
			<th class="tablehead" width="20px"><strong>Payment Date</strong></th>
			<th class="tablehead" width="20px"><strong>Last Updated</strong></th>
			<th class="tablehead" width="250px"><strong>Source Account</strong></th>
			<th class="tablehead" width="250px"><strong>Beneficiary Account</strong></th>
			<th class="tablehead"><strong>#Trans</strong></th>
			<th class="tablehead"><strong>Amount</strong></th>
			<th class="tablehead"><strong>Payment Type</strong></th>

		</tr>
		</thead>
		<tbody>
		<?php
			$numFields = count($this->fields) + 1;
			if(!empty($this->data))
			{
				$no = 0;
				foreach($this->data as $d => $dataRow)
				{
					$tdcss = ($d % 2 == 0) ? "tbl-evencontent" : "tbl-oddcontent";

					require_once 'Crypt/AESMYSQL.php';
                    $AESMYSQL = new Crypt_AESMYSQL();
                    $rand = $this->token;
                    $encrypted_pwd = $AESMYSQL->encrypt($dataRow['payReff'], $rand);
                    // $dt["payReff"] = urlencode($encrypted_pwd);
                    $encreff = urlencode($encrypted_pwd);
					
					// $PS_NUMBERlink = '<a href="'.$this->url(array('module'=>'paymentworkflow','controller'=>'release','action'=>'index','payReff'=>$encreff),null,true).'">'.$dataRow['payReff'].'</a><br>'.$dataRow['paySubj'].'';
					$dd = html_entity_decode(trim($dataRow['paySubj']));
					//var_dump($dd);
					$encreff = urlencode($encrypted_pwd);
					if(strlen($dd) <= 2){$dataRow['paySubj'] = '- no subject -';} 
                    $PS_NUMBERlink = $dataRow['payReff'] . '<br><a href="' . $this->url(array('module' => 'paymentworkflow', 'controller' => 'release', 'action' => 'index', 'payReff' => $encreff), null, true) . '">'  . $dataRow['paySubj'] . '</a>';

					$checkBox = ($dataRow['allowMultiAction'] == true)? "<input name='mPayReff[]' onClick='valthis();'l type='checkbox' class='checkall' value='".$encreff."'>": "&nbsp;";
		?>			
					<tr>
						<td class="<?= $tdcss ?>"><?php echo $checkBox; ?></td>
						<td class="<?= $tdcss ?>"><?php echo $PS_NUMBERlink; ?></td>	<?php 
						
					foreach($dataRow as $keyVal => $dataVal)
					{		
						if ($keyVal == "payReff" || $keyVal == "allowMultiAction" || $keyVal == 'paySubj')
						{	continue;	}
						
						/*$attr = ($keyVal == "amount")? " align='right'": "";*/	?>
						
						<td class="<?= $tdcss; ?>" <?= $attr;?>><?php echo $this->language->_($dataVal); ?></td>
						
		<?php		}	?></tr>
			<?php $no++;
				}
			}
			else
			{
		?>
				<tr>
					<td class="tbl-evencontent" colspan="<?php echo $numFields;?>" align="center"><?php echo $this->language->_('there is currently no data in this section');?></td>
				</tr>
		<?php
			}
		?>
		</tbody>
	</table>
	</div>
	<br />
	
	<table style="width: 100%">
		<tr style="height:30px">
			<td colspan="12" align="CENTER">
				<input name="from" type="hidden" value="wr">
				<input name="status" type="hidden" value="2">
				<?php 
				$multiRejectURL  = $this->url(array('module'=>$this->modulename,'controller'=>'multi','action'=>'reject'),null,true);
				$multiReleaseURL = $this->url(array('module'=>$this->modulename,'controller'=>'multi','action'=>'release'),null,true);	
				
				//$allowMultiApprove = ($this->allowMultiApprove == true) ? "id" : "disabled";
				//$allowMultiReject  = ($this->allowMultiReject == true) ? "id" : "disabled";
				$allowMultiApprove =  "id";
				$allowMultiReject  = "id";
				?>
				
				<?php echo $this->formButton('multiReject',$this->language->_('verify multiple reject'),array('class'=>'btnred hov disabled','disabled'=>'disabled', "onClick" => "changeAction('".$multiRejectURL."');", $allowMultiReject=>"disreject")); ?>
				<!-- <button type="submit" value="release" class="btngreen hov">verify multiple reject</button> -->
				<!-- <?php echo $this->formButton('multiRelease',$this->language->_('verify multiple release'),array('class'=>'btngreen hov', "onClick" => "changeAction('".$multiReleaseURL."');", $allowMultiRelease=>"dis")); ?> -->
				<?php echo $this->formButton('multiRelease',$this->language->_('verify multiple release'),array('class'=>'btngreen hov disabled','disabled'=>'disabled', "onClick" => "changeAction('".$multiReleaseURL."');", $allowMultiApprove=>"disapprove")); ?>
				<!-- <button type="submit" id="release_button" value="release" class="btngreen hov">verify multiple release</button> -->
				
			</td>
		</tr>
	</table>
	</form>
<script type="text/javascript">

function valthis() {
    var checkBoxes = document.getElementsByClassName( 'checkall' );
    var isChecked = false;
        for (var i = 0; i < checkBoxes.length; i++) {
            if ( checkBoxes[i].checked ) {
                isChecked = true;
            };
        };
           if ( isChecked ) {
				$('#disreject').prop('disabled', false);
				$('#disapprove').prop('disabled', false);
				$('#disreject').removeClass("disabled");
				$('#disapprove').removeClass("disabled");
			} else {
				$('#disreject').prop('disabled', 'disabled');
				$('#disapprove').prop('disabled', 'disabled');
				$('#disreject').addClass("disabled");
				$('#disapprove').addClass("disabled");
			}
    }

    function changetype(val){
		
				//$(colval).append("<select class='form-control' id='tratype' name='whereval[]' style='width:100%'></select>");

					var id = val;
					var idtablename = $("#tablename").find(":selected").val();
					// alert(id); 
					// console.log(id);
					// console.log(idtablename);
					$.ajax({
						url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumntratype'), null, true) ?>",
						type: 'GET',
						dataType: "html",
						data: {
							id: id,
							idtablename: idtablename
						},
						success: function(data) {
							var dataArr = JSON.parse(data);

							$('.tratype').html(dataArr.optHtml);
							//$('#pstype').val(dataArr.tblName);
							//console.log(data);
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert("Failed to get where column list, please try again");
						}
					});
	}

function removeParent(elem){
    var parentname = elem.parentNode.parentNode.parentNode.id;
    $("#"+parentname).remove();
}
$(document).ready(function(){

	var pstypecheck = document.getElementsByClassName('pstype');
if (pstypecheck.length != 1) {
        var $coll = $('.event_select');
        $coll.not(this).children('[value="TRANSFER_TYPE"]').prop('disabled', true);
      }

$("#addwhere").click(function() {
        var ctr = $("#wherectr").val();
       var optstr = '<?php echo $optArr;?>';
        var wherecol = "#wherecol-"+ctr;
        $("#wheres").append("<div id='where-"+ctr+"'><div class='form-group row mt-12'><div class='col-md-4 form-inline'><select class='form-control event_select' id='wherecol-"+ctr+"' style='width:100%' name='wherecol[]' onchange='getOpt(this)'>"+optstr+"</select></div><div style='display:none'><select class='form-control' id='whereopt-"+ctr+"' name='whereopt[]'></select></div><div class='col-md-6 form-inline' id='colvalue-"+ctr+"'><input class='form-control' style='width:100%' type='text' name='whereval[]'/></div><div class='col-md-2 form-inline'><button type='button' class='btn btn-sm btn-danger' id='removewhere' onclick='removeParent(this)'><i class='fa fa-times'></i></button></div></div></div>");
        ctr++;
        $("#wherectr").val(ctr);
		var pstypecheck = document.getElementsByClassName('pstype');
			if (pstypecheck.length != 1) {
				var $coll = $('.event_select');
				$coll.not(this).children('[value="TRANSFER_TYPE"]').prop('disabled', true);
			}
    });
});
	function getOpt(elem) {
        var id = elem.id;
        var temp = id.split('-');
        var ctr = temp[1];

        var selval = elem.value;
        var tempval = selval.split('-');
        dttype = tempval[1];

        colomnname = tempval[0];
        var colval = "#colvalue-" + ctr;
        var colselect = "colselect-" + ctr;
        var ncolselect = "#colselect-" + ctr;
        var $coll = $('.event_select');
        $coll.children().prop('disabled', false);
        $coll.each(function() {
            var val = this.value;
            if (val === 'original') return;
			var pstypecheck = document.getElementsByClassName('pstype');
			if (pstypecheck.length > 0) {
			//	alert();
			}
            //$coll.not(this).children('[value="' + val + '"]').prop('disabled', true);
        });

        $(colval).empty();
        if (colomnname == 'PS_CREATED') {
            $(colval).append("<input type='text' class='form-control' name='createdate[]' id='createdStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='createdate[]' id='createdEnd' readonly required>");
            $('#createdStart').datepicker({
                minDate: function() {
                var mindate = new Date();
                mindate.setDate(mindate.getDate() - 180);
                return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                },
                maxDate: function() {
                    var maxdate = new Date();
                    maxdate.setDate(maxdate.getDate());
                    return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                },
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4',
            });
            $('#createdEnd').datepicker({
                minDate: function() {
                var val = document.getElementById('createdStart').value;
                var parts = val.split("/");
                var mindate = new Date(parts[2], parts[1] - 1, parts[0]); 

                mindate.setDate(mindate.getDate());
                return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                },
                maxDate: function() {
                    
                    var maxdate = new Date();
                    return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                },
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });

        } else if (colomnname == 'PS_UPDATED') {
            $(colval).append("<input type='text' class='form-control' name='updatedate[]' id='updateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='updatedate[]' id='updateEnd' readonly required>");


            $('#updateStart').datepicker({
                minDate: function() {
                var mindate = new Date();
                mindate.setDate(mindate.getDate() - 180);
                return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                },
                maxDate: function() {
                    var maxdate = new Date();
                    maxdate.setDate(maxdate.getDate());
                    return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                },
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4',
            });
            $('#updateEnd').datepicker({
                minDate: function() {
                var val = document.getElementById('updateStart').value;
                var parts = val.split("/");
                var mindate = new Date(parts[2], parts[1] - 1, parts[0]); 

                mindate.setDate(mindate.getDate());
                return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                },
                maxDate: function() {
                    
                    var maxdate = new Date();
                    return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                },
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });

        } else if (colomnname == 'PS_EFDATE') {
            $(colval).append("<input type='text' class='form-control' name='efdate[]' id='efdateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='efdate[]' id='efdateEnd' readonly required>");


            $('#efdateStart').datepicker({
                minDate: function() {
                var mindate = new Date();
                mindate.setDate(mindate.getDate() - 180);
                return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                },
                maxDate: function() {
                    var maxdate = new Date();
                    maxdate.setDate(maxdate.getDate());
                    return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                },
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4',
            });
            $('#efdateEnd').datepicker({
                minDate: function() {
                var val = document.getElementById('efdateStart').value;
                var parts = val.split("/");
                var mindate = new Date(parts[2], parts[1] - 1, parts[0]); 

                mindate.setDate(mindate.getDate());
                return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                },
                maxDate: function() {
                    
                    var maxdate = new Date();
                    return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                },
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });

        }else if(colomnname == 'PS_TRFDATE' ){
        $(colval).append("<input type='text' class='form-control' name='trfdate[]' id='trfdateStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='trfdate[]' id='trfdateEnd' readonly required>");

            $('#trfdateStart').datepicker({
                minDate: function() {
                var mindate = new Date();
                mindate.setDate(mindate.getDate() - 180);
                return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                },
                maxDate: function() {
                    var maxdate = new Date();
                    maxdate.setDate(maxdate.getDate());
                    return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                },
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4',
            });
            $('#trfdateEnd').datepicker({
                minDate: function() {
                var val = document.getElementById('trfdateStart').value;
                var parts = val.split("/");
                var mindate = new Date(parts[2], parts[1] - 1, parts[0]); 

                mindate.setDate(mindate.getDate());
                return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                },
                maxDate: function() {
                    
                    var maxdate = new Date();
                    return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                },
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });


        }else if(colomnname == 'NEXT_EXECUTE' ){
        $(colval).append("<input type='text' class='form-control' name='nextexecute[]' id='nextexecuteStart' readonly required>&nbsp;To&nbsp;<input type='text' class='form-control' name='nextexecute[]' id='nextexecuteEnd' readonly required>");

            $('#nextexecuteStart').datepicker({
                minDate: function() {
                var mindate = new Date();
                mindate.setDate(mindate.getDate() - 180);
                return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                },
                maxDate: function() {
                    var maxdate = new Date();
                    maxdate.setDate(maxdate.getDate());
                    return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                },
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4',
            });
            $('#nextexecuteEnd').datepicker({
                minDate: function() {
                var val = document.getElementById('nextexecuteStart').value;
                var parts = val.split("/");
                var mindate = new Date(parts[2], parts[1] - 1, parts[0]); 

                mindate.setDate(mindate.getDate());
                return new Date(mindate.getFullYear(), mindate.getMonth(), mindate.getDate());
                },
                maxDate: function() {
                    
                    var maxdate = new Date();
                    return new Date(maxdate.getFullYear(), maxdate.getMonth(), maxdate.getDate());
                },
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4'
            });


        } else if (colomnname == 'TRA_AMOUNT' || colomnname == 'PS_TOTAL_AMOUNT' || colomnname == 'EQUIVALENT_AMOUNT_IDR' || colomnname == 'EQUIVALENT_AMOUNT_USD') {
            $(colval).append("<input type='text' name='whereval[]'  value='' style='width:100%' maxlength='20' autocomplete='off' class='form-control' style='text-align: right;'' onfocus='iNumFrmt(this.value,this.id)' onblur='NumFrmt(this.value,this.id);edValueKeyPress();'' onkeypress='return forceCurrencyOCBC(event);'>");
        } else if (colomnname == 'PS_STATUS' || colomnname == 'PAYSTAT') {

            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumnpsstatus'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else if (colomnname == 'ONGOING_STATUS') {

            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'ongoingstatus'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else if (colomnname == 'PS_TYPE' || colomnname == 'PAYTYPE') {

            $(colval).append("<select class='form-control pstype' id='" + colselect + "' style='width:100%' id='" + colselect + "' onchange='changetype(this.value)' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumnpstype'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        }else if(colomnname ==  'TRANSFER_TYPE'){  
                $(colval).append("<select class='form-control' id='" + colselect + "' name='whereval[]' style='width:100%'></select>");

                    var id = $(".pstype").find(":selected").val();
                    var idtablename = $("#tablename").find(":selected").val();
                    // alert(id); 
                    // console.log(id);
                    // console.log(idtablename);
                    $.ajax({
                        url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wherecolumntratype'), null, true) ?>",
                        type: 'GET',
                        dataType: "html",
                        data: {
                            id: id,
                            idtablename: idtablename
                        },
                        success: function(data) {
                            var dataArr = JSON.parse(data);

                            $(ncolselect).html(dataArr.optHtml);
                            //$('.pstype').val(dataArr.tblName);
                            console.log(data);
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert("Failed to get where column list, please try again"); 
                        }
                    });
        }else if(colomnname == 'TRFTYPE'){
            $(colval).append("<select class='form-control' style='width:100%' id='"+colselect+"' name='whereval[]' ></select>");
            var id = $("#tablename").find(":selected").val();
            $.ajax({
            url: "<?=$this->url(array('module'=>'reportcrm','controller'=>'index','action'=>'tratype'),null,true)?>",
            type: 'GET',
            dataType: "html",
            data: {
                id: id
            },
            success: function(data) {
                $(ncolselect).html(data);
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert("Failed to get where column list, please try again");
            }
        });

        } else if (colomnname == 'SOURCE_ACCOUNT') {

            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();

            <?php 
                if ($this->source == 'open') {
                    $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wheresourceaccountopen'), null, true);
                }
                else{
                    $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'wheresourceaccount'), null, true);
                }
            ?>

            $.ajax({
                url: "<?= $url ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else if (colomnname == 'PS_CCY' || colomnname == 'SOURCE_ACCOUNT_CCY' || colomnname == 'BENEFICIARY_ACCOUNT_CCY') {
            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");
            var id = $("#tablename").find(":selected").val();
            $.ajax({
                url: "<?= $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'ccy'), null, true) ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else if (colomnname == 'BENEFICIARY_ACCOUNT') {

            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();

            <?php 
                if ($this->benef == 'open') {
                    $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'benefopen'), null, true);
                }
                else{
                    $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'benef'), null, true);
                }
            ?>

            $.ajax({
                url: "<?= $url ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        }
        else if (colomnname == 'FREQUENTLY') { //ongoing

            $(colval).append("<select class='form-control' style='width:100%' id='" + colselect + "' name='whereval[]' ></select>");

            var id = $("#tablename").find(":selected").val();

            <?php 
                $url = $this->url(array('module' => 'reportcrm', 'controller' => 'index', 'action' => 'frequently'), null, true);
            ?>

            $.ajax({
                url: "<?= $url ?>",
                type: 'GET',
                dataType: "html",
                data: {
                    id: id
                },
                success: function(data) {
                    $(ncolselect).html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert("Failed to get where column list, please try again");
                }
            });

        } else {
            $(colval).append("<input type='text' name='whereval[]' style='width:100%' value='' maxlength='20'  class='form-control' >");
        }


        var optsel = "whereopt-" + ctr;
        document.getElementById(optsel).options[0] = new Option('EQUAL', 'EQUAL');

        if (dttype == 'int' || dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint' || dttype == 'decimal') {
            document.getElementById(optsel).options[1] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[2] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[3] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[4] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }
        if (dttype == 'bigint' || dttype == 'tinyint' || dttype == 'smallint') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
        } else if (dttype == 'char' || dttype == 'varchar' || dttype == 'text' || dttype == 'longtext') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('LIKE', 'LIKE');
        } else if (dttype == 'date' || dttype == 'datetime') {
            document.getElementById(optsel).options[1] = new Option('NOT EQUAL', 'NOT EQUAL');
            document.getElementById(optsel).options[2] = new Option('GREATER THAN', 'GREATER THAN');
            document.getElementById(optsel).options[3] = new Option('LESS THAN', 'LESS THAN');
            document.getElementById(optsel).options[4] = new Option('GREATER THAN OR EQUAL TO', 'GREATER THAN OR EQUAL TO');
            document.getElementById(optsel).options[5] = new Option('LESS THAN OR EQUAL TO', 'LESS THAN OR EQUAL TO');
        }

        var colomn = '#whereopt-' + ctr;
        var data = $(colomn).val('EQUAL').change();

    }
</script>
