<script language="javascript" type="text/javascript">
//	function doTransfer(ACBENEF, ACBENEF_ALIAS, ACBENEF_BANKNAME, ACBENEF_ADDRESS, ACBENEF_CITIZENSHIP, ACBENEF_RESIDENT, ACBENEF_EMAIL, CLR_CODE, BANK_NAME)
//	{
//		window.opener.document.Form.ACBENEF.value 				= ACBENEF;
//		//window.opener.document.Form.ACBENEF_ALIAS.value 		= ACBENEF_ALIAS;
//		window.opener.document.Form.ACBENEF_BANKNAME.value 		= ACBENEF_BANKNAME;
//		window.opener.document.Form.ACBENEF_ADDRESS.value 		= ACBENEF_ADDRESS;
//// 		window.opener.document.Form.ACBENEF_CITIZENSHIP.value 	= ACBENEF_CITIZENSHIP;
//		window.opener.document.Form.ACBENEF_RESIDENT.value 		= ACBENEF_RESIDENT;
//		window.opener.document.Form.ACBENEF_EMAIL.value 		= ACBENEF_EMAIL;
//		window.opener.document.Form.CLR_CODE.value 				= CLR_CODE;
//		window.opener.document.Form.BANK_NAME.value 			= BANK_NAME;
//		//window.opener.document.Form.BANK_CITY.value 			= BANK_CITY;
//		//disable button if get benef from account book
//		var transferTYpe = window.opener.document.Form.TRANSFER_TYPE.value;
//
//		if (ACBENEF_RESIDENT == "NR" && transferTYpe != "ONLINE"){
//			window.opener.document.getElementById("LLDInfoID").style.display = "table-row";
//			window.opener.document.getElementById("LLDInfoID1").style.display = "table-row";
//			window.opener.document.getElementById("LLDInfoID2").style.display = "table-row";
//			window.opener.document.getElementById("LLDInfoID3").style.display = "table-row";
//			window.opener.document.getElementById("LLDInfoID4").style.display = "table-row";
//			window.opener.document.getElementById("LLDInfoID5").style.display = "table-row";
//			window.opener.document.getElementById("LLDInfoID6").style.display = "table-row";
//			window.opener.document.getElementById("LLDInfoID7").style.display = "table-row";
//			window.opener.document.getElementById("LLDInfoID8").style.display = "table-row";
//		}else{
//			window.opener.document.getElementById("LLDInfoID").style.display = "none";
//			window.opener.document.getElementById("LLDInfoID1").style.display = "none";
//			window.opener.document.getElementById("LLDInfoID2").style.display = "none";
//			window.opener.document.getElementById("LLDInfoID3").style.display = "none";
//			window.opener.document.getElementById("LLDInfoID4").style.display = "none";
//			window.opener.document.getElementById("LLDInfoID5").style.display = "none";
//			window.opener.document.getElementById("LLDInfoID6").style.display = "none";
//			window.opener.document.getElementById("LLDInfoID7").style.display = "none";
//			window.opener.document.getElementById("LLDInfoID8").style.display = "none";
//		}
//
//	  opener.focus();
//	  self.close();
//	  window.close();
//	}
	</script>

	<?php
	if($this->benefType == "ONLINE")
	{
		?>
			<script language="javascript" type="text/javascript">
			function doTransfer(ACBENEF,ACBENEF_ALIAS , ACBENEF_BANKNAME_ONLINE, ACBENEF_ADDRESS, ACBENEF_CITIZENSHIP, ACBENEF_RESIDENT, ACBENEF_EMAIL, CLR_CODE, BANK_NAME)
			//function doTransfer(ACBENEF, ACBENEF_ALIAS, ACBENEF_BANKNAME, ACBENEF_EMAIL, BANK_NAME)
			{
				/*window.opener.document.Form.ACBENEF.value 				= ACBENEF;
				window.opener.document.Form.ACBENEF_ALIAS.value 		= ACBENEF_ALIAS;
				window.opener.document.Form.ACBENEF_BANKNAME.value 		= ACBENEF_BANKNAME;
				//window.opener.document.Form.ACBENEF_ADDRESS.value 		= ACBENEF_ADDRESS;
				//window.opener.document.Form.ACBENEF_CITIZENSHIP.value 	= ACBENEF_CITIZENSHIP;
				window.opener.document.Form.ACBENEF_EMAIL.value 		= ACBENEF_EMAIL;
				//window.opener.document.Form.CLR_CODE.value 				= CLR_CODE;
				window.opener.document.Form.BANK_NAME.value 			= BANK_NAME;
				//window.opener.document.Form.BANK_CITY.value 			= BANK_CITY;
				//disable button if get benef from account book
				*/
				window.opener.document.Form.ACBENEF.value 				= ACBENEF;
				// window.opener.document.Form.ACBENEF_ALIAS.value 		= ACBENEF_ALIAS;
				window.opener.document.Form.ACBENEF_BANKNAME_ONLINE.value 		= ACBENEF_BANKNAME_ONLINE;
				//window.opener.document.Form.BANKNAME.value 		= BANKNAME;
				window.opener.document.Form.ACBENEF_ADDRESS.value 		= ACBENEF_ADDRESS;
				window.opener.document.Form.ACBENEF_CITIZENSHIP.value 	= ACBENEF_CITIZENSHIP;
				window.opener.document.Form.ACBENEF_RESIDENT.value 	= ACBENEF_RESIDENT;
				window.opener.document.Form.ACBENEF_EMAIL.value 		= ACBENEF_EMAIL;
				window.opener.document.Form.CLR_CODE.value 				= CLR_CODE;
				window.opener.document.Form.BANK_NAME.value 			= BANK_NAME;
				window.opener.document.getElementById("ACBENEF").readOnly  = true;

				//window.opener.document.Form.BANK_CITY.value 			= BANK_CITY;
			  opener.focus();
			  self.close();
			}
			</script>
		<?php
	}
	else{
	?>
			<script language="javascript" type="text/javascript">
			function doTransfer(ACBENEF,ACBENEF_ALIAS , ACBENEF_BANKNAME_ONLINE, ACBENEF_ADDRESS, ACBENEF_CITIZENSHIP, ACBENEF_RESIDENT, ACBENEF_EMAIL, CLR_CODE, BANK_NAME, BENEFICIARY_ID_NUMBER, BENEFICIARY_ID_TYPE,BENEFICIARY_CATEGORY,BENEFICIARY_CITY_CODE,BENEFICIARY_ID)
			//function doTransfer(ACBENEF, ACBENEF_ALIAS, ACBENEF_BANKNAME,ACBENEF_ADDRESS, ACBENEF_CITIZENSHIP, ACBENEF_RESIDENT, ACBENEF_EMAIL, CLR_CODE, BANK_NAME, BANK_CITY)
			//function doTransfer(ACBENEF, ACBENEF_ALIAS, ACBENEF_BANKNAME, ACBENEF_EMAIL, BANK_NAME)
			{
				/*window.opener.document.Form.ACBENEF.value 				= ACBENEF;
				window.opener.document.Form.ACBENEF_ALIAS.value 		= ACBENEF_ALIAS;
				window.opener.document.Form.ACBENEF_BANKNAME.value 		= ACBENEF_BANKNAME;
				//window.opener.document.Form.ACBENEF_ADDRESS.value 		= ACBENEF_ADDRESS;
				//window.opener.document.Form.ACBENEF_CITIZENSHIP.value 	= ACBENEF_CITIZENSHIP;
				window.opener.document.Form.ACBENEF_EMAIL.value 		= ACBENEF_EMAIL;
				//window.opener.document.Form.CLR_CODE.value 				= CLR_CODE;
				window.opener.document.Form.BANK_NAME.value 			= BANK_NAME;
				//window.opener.document.Form.BANK_CITY.value 			= BANK_CITY;
				//disable button if get benef from account book
				*/
				window.opener.document.Form.ACBENEF.value 				= ACBENEF;
				// window.opener.document.Form.ACBENEF_ALIAS.value 		= ACBENEF_ALIAS;
				window.opener.document.Form.ACBENEF_BANKNAME.value 		= ACBENEF_BANKNAME_ONLINE;
				//window.opener.document.Form.BANKNAME.value 		= BANKNAME;
				window.opener.document.Form.ACBENEF_ADDRESS.value 		= ACBENEF_ADDRESS;
				window.opener.document.Form.ACBENEF_RESIDENT.value 		= ACBENEF_RESIDENT;
				window.opener.document.Form.ACBENEF_RESIDENT_SELECT.value 	= ACBENEF_RESIDENT;

				window.opener.document.Form.ACBENEF_CITIZENSHIP.value 	= ACBENEF_CITIZENSHIP;
				window.opener.document.Form.ACBENEF_CITIZENSHIP_SELECT.value 	= ACBENEF_CITIZENSHIP;
				window.opener.enableLLD();

				window.opener.document.Form.ACBENEF_EMAIL.value 		= ACBENEF_EMAIL;
				window.opener.document.Form.CLR_CODE.value 				= CLR_CODE;
				window.opener.document.Form.BANK_NAME.value 			= BANK_NAME;
				//window.opener.document.Form.BANK_CITY.value 			= BANK_CITY;

				window.opener.document.Form.LLD_BENENUMBER.value 	= BENEFICIARY_ID_NUMBER;

				window.opener.document.Form.LLD_BENEIDENTIF.value 	= BENEFICIARY_ID_TYPE;
				window.opener.document.Form.LLD_BENEIDENTIF_SELECT.value 	= BENEFICIARY_ID_TYPE;

				window.opener.document.Form.LLD_CATEGORY.value 	= BENEFICIARY_CATEGORY;
				window.opener.document.Form.LLD_CATEGORY_SELECT.value 	= BENEFICIARY_CATEGORY;

				window.opener.document.Form.CITY_CODE.value 	= BENEFICIARY_CITY_CODE;
				window.opener.document.Form.CITY_CODE_SELECT.value 	= BENEFICIARY_CITY_CODE;
				window.opener.document.Form.BENE_ID.value 	= BENEFICIARY_ID;
				

				window.opener.document.getElementById("CITY_CODE_SELECT").disabled = true;
				window.opener.document.getElementById("ACBENEF").readOnly  = true;
				window.opener.document.getElementById("ACBENEF_BANKNAME").readOnly  = true;

				window.opener.document.getElementById("ACBENEF_ADDRESS").readOnly  = true;

				window.opener.document.getElementById("ACBENEF_RESIDENT_SELECT").disabled  = true;
				window.opener.document.getElementById("ACBENEF_CITIZENSHIP_SELECT").disabled  = true;
				window.opener.document.getElementById("LLD_CATEGORY_SELECT").disabled  = true;
				window.opener.document.getElementById("LLD_BENEIDENTIF_SELECT").disabled  = true;

				window.opener.document.getElementById("LLD_BENENUMBER").readOnly  = true;
				
				window.opener.document.getElementById("LLD_BENENUMBER").readOnly  = true;
				//window.opener.document.getElementById("ACBENEF_CITIZENSHIP_SELECT").style.webkit-appearance  = 'none';

				var transferTYpe = window.opener.document.Form.TRANSFER_TYPE.value;
//				if (ACBENEF_CITIZENSHIP == "NR" && transferTYpe != "ONLINE"){
//					window.opener.document.getElementById("LLDInfoID").style.display = "table-row";
//					window.opener.document.getElementById("LLDInfoID1").style.display = "table-row";
//					window.opener.document.getElementById("LLDInfoID2").style.display = "table-row";
//					window.opener.document.getElementById("LLDInfoID3").style.display = "table-row";
//					window.opener.document.getElementById("LLDInfoID4").style.display = "table-row";
//					window.opener.document.getElementById("LLDInfoID5").style.display = "table-row";
//					window.opener.document.getElementById("LLDInfoID6").style.display = "table-row";
//					window.opener.document.getElementById("LLDInfoID7").style.display = "table-row";
//					window.opener.document.getElementById("LLDInfoID8").style.display = "table-row";
//				}else{
//					window.opener.document.getElementById("LLDInfoID").style.display = "none";
//					window.opener.document.getElementById("LLDInfoID1").style.display = "none";
//					window.opener.document.getElementById("LLDInfoID2").style.display = "none";
//					window.opener.document.getElementById("LLDInfoID3").style.display = "none";
//					window.opener.document.getElementById("LLDInfoID4").style.display = "none";
//					window.opener.document.getElementById("LLDInfoID5").style.display = "none";
//					window.opener.document.getElementById("LLDInfoID6").style.display = "none";
//					window.opener.document.getElementById("LLDInfoID7").style.display = "none";
//					window.opener.document.getElementById("LLDInfoID8").style.display = "none";
//				}

			  opener.focus();
			  self.close();
			}
			</script>
	<?php }?>

	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td>
				<div class="portlet-body form">
			<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
			<div class="portlet-body form">
					<?php $bankname = $this->language->_('Bank Name'); ?>
    <?php $bankcode = $this->language->_('Bank Code'); ?>
    <?php $country = $this->language->_('Country'); ?>
    <?php $setfilter = $this->language->_('Set Filter'); ?>
    <?php $clearfilter = $this->language->_('Clear Filter'); ?>
						<form name="filterForm" class="form-horizontal form-bordered form-row-stripped" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">

						  	<div class="panel panel-default">
							  	<!-- Default panel contents -->
							  	<div class="panel-heading">
									<strong class="textBlack"><?php echo $this->language->_('Filter');?></strong>
								</div>
								<div class="panel-body">
									<div class="row col-md-12 form-group">
										<?php $bankname = $this->language->_('Beneficiary Account'); ?>
		    							<label class="control-label col-md-4 textBlack"><?php echo $this->formLabel('bank_name',$bankname); ?></label>
		    							<div class="col-md-6">
					                		<?php echo $this->formText('benef_acct',$this->benef_acct,array('class'=>'form-control'))?>
					             		</div>
					              	</div>
					              	<div class="row col-md-12 form-group">
										<?php $bankname = $this->language->_('Beneficiary Account Name'); ?>
		    							<label class="control-label col-md-4 textBlack"><?php echo $this->formLabel('bank_name',$bankcode); ?></label>
		    							<div class="col-md-6">
					                		<?php echo $this->formText('benef_name',$this->benef_name,array('class'=>'form-control'))?>
					             		</div>
					              	</div>

								</div>
							</div>

						   <table cellpadding="3" cellspacing="0" border="0" class="" width="100%">
						    <tr><td colspan="3" align="left">
						      <?php $setfilter = $this->language->_('Set Filter'); ?>
						      <?php $filter_clear = $this->language->_('Clear Filter'); ?>
						      <?php $nodata = $this->language->_('No Data'); ?>
							  <?php echo $this->formSubmit('filter',$setfilter,array('class'=>'btngreen hov')); ?>
							  <?php echo $this->formSubmit('filter_clear',$filter_clear,array('class'=>'btnwhite hov')); ?>
						    </td></tr>
						  </table>
						</form>

					</div>

</form>
</div>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
			<td class="contentarea" id="contentarea">

<br />
	<table width="100%" cellpadding="2" cellspacing="0"  class="table table-sm table-striped">
    <tr class="headercolor">
    	<th class="tablehead" width="3%" valign="top">No</th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>

    </tr>

    <?php
	$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

    if(count($this->paginator) > 0)
  {
          $i=0;

	  foreach($this->paginator as $row) {

		$td_css = ($i%2==0)?'tbl-evencontent textBlack':'tbl-oddcontent textBlack';

		$button = $this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'suggestdelete','BENEFICIARY_ID'=>$row['BENEFICIARY_ID']),null,true);
		$button = '<a href="javascript:confirmation(\'.Are you sure want to delete this benefiiary account?\',\''.$button.'\');" class="btngreen hov">Delete</a>';

		$delete = '';
		if($row['BENEFICIARY_ISREQUEST_DELETE']) $delete = 'Request to delete';
		else $delete = $button;
		$approve = $row['BENEFICIARY_ISAPPROVE']?'Approved':'Not Approved';

		echo '<tr>
				<td class="'.$td_css.'">'.$counter.'</td>';
				//<td class="'.$td_css.'"><a href="javascript:doTransfer(\''.$row['BENEFICIARY_ACCOUNT'].'\', \''.$row['BENEFICIARY_ALIAS'].'\', \''.$row['BENEFICIARY_NAME'].'\', \''.$row['BENEFICIARY_ADDRESS'].'\', \''.$row['BENEFICIARY_CITIZENSHIP'].'\', \''.$row['BENEFICIARY_RESIDENT'].'\', \''.$row['BENEFICIARY_EMAIL'].'\', \''.$row['CLR_CODE'].'\', \''.$row['BANK_NAME'].'\');">'.$row['BENEFICIARY_ACCOUNT'].'</a></td>
				//<td class="'.$td_css.'">'.$row['BENEFICIARY_ALIAS'].'</td>
		echo	'<td class="'.$td_css.'"><a href="javascript:doTransfer(\''.$row['BENEFICIARY_ACCOUNT'].'\', \''.$row['BENEFICIARY_ALIAS'].'\', \''.$row['BENEFICIARY_NAME'].'\', \''.$row['BENEFICIARY_ADDRESS'].'\', \''.$row['BENEFICIARY_CITIZENSHIP'].'\', \''.$row['BENEFICIARY_RESIDENT'].'\', \''.$row['BENEFICIARY_EMAIL'].'\', \''.$row['CLR_CODE'].'\', \''.$row['BANK_NAME'].'\', \''.$row['BENEFICIARY_ID_NUMBER'].'\', \''.$row['BENEFICIARY_ID_TYPE'].'\', \''.$row['BENEFICIARY_CATEGORY'].'\', \''.$row['BENEFICIARY_CITY_CODE'].'\', \''.$row['BENEFICIARY_ID'].'\');">'.$row['BENEFICIARY_ACCOUNT'].'</a></td>
				<td class="'.$td_css.'">'.$row['BENEFICIARY_NAME'].'</td>
				<td class="'.$td_css.'">'.$row['CURR_CODE'].'</td>
				<td class="'.$td_css.'">'.$row['BANK_NAME'].'</td>
				<td class="'.$td_css.'">'.$row['CLR_CODE'].'</td>
			</tr>';

				$i++;
                $counter++;
  	  }
  }
  else {
		echo '<tr><td colspan=8 class="tbl-evencontent" align="center"> -'.$this->language->_('No Data').'- </td></tr>';
	}
    ?>
</table>
<br />


<br />

			</td>
			</tr>
		</tbody>
	</table>
</form>
