<div class="tabheader" id="tabheader">Suggestion Detail - Setup Biller Charges</div>
<?php if($this->changes_id){
	echo $this->action('message',
                   'tools',
                   'changemanagement',
                   array('changes_id' => $this->changes_id));
?>
<br />
<b>Suggested Charges for Provider : <?=$this->temp_data['PROVIDER_NAME']?></b><hr />
  <table width="100%" cellpadding="2" cellspacing="0" border="0" class="table table-sm table-striped">
    <tr>
      <th>No</th>
      <th>Charge Currency</th>
      <th>Charge Amount</th>
      <th>Charge To</th>
      <th>Charge Account</th>
	</tr>
    <?php
    if(count($this->temp_data['CHARGES'])){
		$i = 1;
		foreach($this->temp_data['CHARGES'] as $charges)
		{
	?>
			<tr>
			  <td class="tbl-evencontent"><?=$i?></td>
			  <td class="tbl-evencontent"><?=$charges['CHARGES_CCY']?></td>
			  <td class="tbl-evencontent"><?=Application_Helper_General::displayMoney($charges['CHARGES_AMT'])?></td>
			  <td class="tbl-evencontent"><?=$charges['CHARGES_TO']?></td>
			  <td class="tbl-evencontent"><center><?=$charges['CHARGES_ACCT'] ? $charges['CHARGES_ACCT'] : '-'?></center></td>
			</tr>
  <?php
			$i++;
		}
    }else{ ?>
	  <tr><td colspan="2" class="tbl-evencontent" align="center"> --- No Data --- </td></tr>
	<?php }
  ?>
</table>
<br />
<b>Current Charges for Provider : <?=$this->temp_data['PROVIDER_NAME']?></b><hr />
  <table width="100%" cellpadding="2" cellspacing="0" border="0" class="table table-sm table-striped">
    <tr>
      <th>No</th>
      <th>Charge Currency</th>
      <th>Charge Amount</th>
      <th>Charge To</th>
      <th>Charge Account</th>
	</tr>
    <?php
      if(isset($this->master_data['CHARGES'])){
		$i = 1;
		foreach($this->master_data['CHARGES'] as $charges)
		{
	?>
			<tr>
			  <td class="tbl-evencontent"><?=$i?></td>
			  <td class="tbl-evencontent"><?=$charges['CHARGES_CCY']?></td>
			  <td class="tbl-evencontent"><?=Application_Helper_General::displayMoney($charges['CHARGES_AMT'])?></td>
			  <td class="tbl-evencontent"><?=$charges['CHARGES_TO']?></td>
			  <td class="tbl-evencontent"><center><?=$charges['CHARGES_ACCT'] ? $charges['CHARGES_ACCT'] : '-'?></center></td>
			</tr>
  <?php
			$i++;
		}
    }else{ ?>
	  <tr><td colspan="5" class="tbl-evencontent" align="center"> --- No Data --- </td></tr>
	<?php }
  ?>
</table>
<br />

<?php
  echo $this->action('index',
                   'tools',
                   'changemanagement',
                   array('changes_id' => $this->changes_id));
  ?>
<?php }else{ ?>
<div id="content">--- No Data ---</div>
<?php } ?>
