<form name="payment" method="post" action="">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td style="padding: 0pt 0pt 0pt 20px;">
					<img src="biller_garuda_view.php_files/logo_sriwijaya.gif" alt="SRIWIJAYA AIR, PT">
				</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td class="filterarea-line">
					<img src="biller_garuda_view.php_files/1x1px.gif">
				</td>
			</tr>
			<tr>
				<td class="contentarea" id="contentarea">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<td class="tdform-sub" id="attrform" colspan="2"><?php echo $this->language->_('Client Form'); ?></td>
								<td class="tdform-sub" id="attrform" colspan="2"></td>
							</tr>
							<tr>
								<td class="tbl-evencontent" id="attrform" colspan="2"><nobr><?php echo $this->language->_('Source Account '); ?><strong class="formreq">&nbsp;*</strong></nobr> :</td>
								<td class="tbl-evencontent" id="attrform" colspan="2">
									<select name="ACCTSRC">	
										<option selected="selected" value=""><?php echo $this->language->_('select source account'); ?></option>
										<option value="1290001537~JOSHUA ADISETYA DHARMAWAN~IDR"><?php echo $this->language->_('1290001537 [IDR] - JOSHUA ADISETYA DHARMAWAN'); ?></option>
										<option value="1290001523~VENNY~IDR"><?php echo $this->language->_('1290001523 [IDR] - VENNY'); ?></option>
									</select>
								</td>
							</tr>
							<tr>
								<td id="attrform" colspan="4">&nbsp;</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td class="tdform-sub" style="width: 5px;"><input onclick="if($(this).is(':checked')){$('input.checkall:not(:disabled)').attr('checked', 'checked');}else{$('.checkall').removeAttr('checked');}" name="allCheck[]" type="checkbox"></td>
								<td class="tdform-sub" style="width: 20px;"><?php echo $this->language->_('Transaction No'); ?></td>
								<td class="tdform-sub" style="width: 10px;"><?php echo $this->language->_('Amount'); ?></td>
								<td class="tdform-sub" style="width: 70px;"><?php echo $this->language->_('Description'); ?></td>
							</tr>
							<tr>
								<td class="tbl-oddcontent" colspan="4" align="center">--<?php echo $this->language->_('No Data Transaction'); ?>--</td>                 
							</tr>
							<tr>
								<td colspan="4" align="center">&nbsp;</td>                 
							</tr>
							<tr>
								<td class="button-area" id="button-area" colspan="3">
									<div class="formbutton">
										<input class="inputbtn" value="cancel" onclick="if (confirm('If you leave this screen\nYour data input will be lost\nAre you sure leaving this screen?'))  location.href='partner_screen_mdl.php?fl3nc=1&amp;r=t0mm8cdb95tevg0q&amp;param=55ShoKSUl5qbos5vjMa5pGGbrJjlz8Wo49y9xXnAvX-szqtYpq-necfJg3d8eHKJiYGQs3x6yLnFf7jPwg%3d%3d'" type="button">
										<input class="inputbtn" value="Confirm" onclick="JavaScript:proceed('post', '', '');" type="button">
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</form>