<?php
if (!$this->hasPrivilege('VIBC')) {
  echo '<script>window.close(); window.location.href="/changebusiness";</script>';
}
?>

<div class="row">
  <div class="col-md-12">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <span><?= $this->language->_('Suggestion Detail'); ?></span>
          <i class="fa fa-angle-right pl-1 pr-1"></i>
        </li>
        <li>
          <?= $this->language->_('Insurance Marginal Deposit'); ?>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  table th,
  table td {
    border-top: 0 !important;
  }
</style>

<h5><?= $this->language->_('Change Information'); ?></h5>

<?= $this->action('message', 'tools', 'changemanagement', array('changes_id' => $this->changes_id)); ?>

<br>
<div class="row">
  <div class="col">
    <h5><?= $this->language->_('Suggestion Detail Insurance Marginal Deposit'); ?></h5>
  </div>
  <?php if ($this->changes_type == 'E') : ?>
    <div class="col text-right">
      <button id="btnDiffOnly" type="button" class="btngreen hov"><?= $this->language->_('Show Difference Only'); ?></button>
    </div>
  <?php endif; ?>
</div>

<div class="row">
  <div class="portlet-body form col-md-12">
    <table width="100%" cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped table-sugg" style="margin-bottom:0">
      <?php if ($this->changes_type != 'E') { ?>
        <tr>
          <td colspan="4" class="tbl-evencontent"><b><?= $this->language->_('New Insurance Marginal Deposit Detail'); ?></b></td>
        </tr>
      <?php } ?>
      <?php if ($this->changes_type == 'E') { ?>
        <tr class="diffRow">
          <td width="200" class="tbl-evencontent"><b><?= $this->language->_('Field Name'); ?></b></td>
          <td width="3" class="tbl-evencontent">&nbsp;</td>
          <td width="300" class="tbl-evencontent"><b><?= $this->language->_('Current Value'); ?></b></td>
          <td width="300" class="tbl-evencontent"><b><?= $this->language->_('Suggested Value'); ?></b></td>
        </tr>
      <?php } ?>
      <tbody>
        <tr class="diffRow" style="background-color:#003f6e">
          <td colspan="4" style="color:#fff"><?= $this->language->_('Company Detail'); ?></td>
        </tr>
        <tr>
          <table cellpadding="3" cellspacing="0" border="0" class="table table-sm table-striped" width="100%">
            <tr style="background-color:#ccc">
              <td><b><i>#</i></b></td>
              <td><b><i><?= $this->language->_('Account Number'); ?></i></b></td>
              <td><b><i><?= $this->language->_('Balance'); ?></i></b></td>
              <td></td>
            </tr>
            <?php for ($i = 0; $i < count($this->acctNo); $i++) : ?>
              <tr>
                <td><?= ($i + 1); ?></td>
                <td><?= $this->acctNo[$i] . ' [' . $this->acctCcy[$i] . '] / ' . $this->acctName[$i] . ' / ' . $this->acctType[$i]; ?>
                  <!-- <?php if ($this->errMsgMarginalDeposit) { ?>
						<small id="errMsgMarginalDeposit" class="text-danger" style="font-size: 1.2em !important"><?= $this->errMsgMarginalDeposit[$this->acctNo[$i]]; ?></small>
						<?php } ?>
						
						
						<?php if ($this->errMsgDokumen) { ?>
						<small id="errMsgDokumen" class="text-danger" style="font-size: 1.2em !important"><?= $this->errMsgDokumen[$this->acctNo[$i]]; ?></small>
						<?php } ?>
						-->


                  <?php if ($this->errMsgAcctStatusGiro) { ?>
                    <p id="errMsgAcctStatusGiro" class="text-danger" style="font-size: 1.2em !important"><?= $this->errMsgAcctStatusGiro[$this->acctNo[$i]]; ?></p>
                  <?php } ?>

                  <?php if ($this->errMsgAcctStatusCore) { ?>
                    <p id="errMsgAcctStatusCore" class="text-danger" style="font-size: 1.2em !important"><?= $this->errMsgAcctStatusCore[$this->acctNo[$i]]; ?></p>
                  <?php } ?>

                  <?php if ($this->errMsgProductType) { ?>
                    <p id="errMsgProductType" class="text-danger" style="font-size: 1.2em !important"><?= $this->errMsgProductType[$this->acctNo[$i]]; ?></p>
                  <?php } ?>

                  <?php if ($this->errMsgSaldo) { ?>
                    <p id="errMsgSaldo" class="text-danger" style="font-size: 1.2em !important"><?= $this->errMsgSaldo[$this->acctNo[$i]]; ?></p>
                  <?php } ?>


                  <?php if ($this->errMsgAcctStatusDeposito) { ?>
                    <p id="errMsgAcctStatusDeposito" class="text-danger" style="font-size: 1.2em !important"><?= $this->errMsgAcctStatusDeposito[$this->acctNo[$i]]; ?></p>
                  <?php } ?>

                  <?php if ($this->errMsgAcctStatusDepositoCore) { ?>
                    <p id="errMsgAcctStatusDepositoCore" class="text-danger" style="font-size: 1.2em !important"><?= $this->errMsgAcctStatusDepositoCore[$this->acctNo[$i]]; ?></p>
                  <?php } ?>

                  <?php if ($this->errMsgAcctARO) { ?>
                    <p id="errMsgAcctARO" class="text-danger" style="font-size: 1.2em !important"><?= $this->errMsgAcctARO[$this->acctNo[$i]]; ?></p>
                  <?php } ?>

                  <!-- <?php if ($this->errMsgAcctRate) { ?>
                    <p id="errMsgAcctRate" class="text-danger" style="font-size: 1.2em !important"><?= $this->errMsgAcctRate[$this->acctNo[$i]]; ?></p>
                  <?php } ?> -->

                  <?php if ($this->errMsgAcctHold) { ?>
                    <p id="errMsgAcctHold" class="text-danger" style="font-size: 1.2em !important"><?= $this->errMsgAcctHold[$this->acctNo[$i]]; ?></p>
                  <?php } ?>

                  <?php if ($this->errMsgProductTypeDeposito) { ?>
                    <p id="errMsgProductTypeDeposito" class="text-danger" style="font-size: 1.2em !important"><?= $this->errMsgProductTypeDeposito[$this->acctNo[$i]]; ?></p>
                  <?php } ?>

                  <?php if ($this->errMsgSaldoDeposito) { ?>
                    <p id="errMsgSaldoDeposito" class="text-danger" style="font-size: 1.2em !important"><?= $this->errMsgSaldoDeposito[$this->acctNo[$i]]; ?></p>
                  <?php } ?>

                  <?php if ($this->errorCreateEscrow) : ?>
                    <p id="errMsgSaldoDeposito" class="text-danger" style="font-size: 1.2em !important"><?= $this->errorCreateEscrow; ?></p>
                  <?php endif ?>


                </td>
                <td>IDR <?= Application_Helper_General::displayMoney($this->balance[$i]); ?></td>
                <?php if ($this->isSpecialRate[$i]) { ?>
									<td>
                    <i id="icwarning<?= $i ?>" class="fas fa-info pt-1" title="Special Rate" style="background-color: white;color: red;width: 23px;height: 23px;text-align: center;border: 1px solid red;border-radius: 50px;font-size: 12px;"></i>
									</td>
								<?php }?>
              </tr>
            <?php endfor; ?>
          </table>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br>
<div class="row" id="btn_action">
  <div class="col-md-12 d-flex justify-content-center">
    <form action="" method="post">
      <?php
      if ($this->hasPrivilege('VMDC') && $this->changes_status != 'RR') {
        echo $this->formSubmit('submit_reject', $this->language->_('Reject'), ['class' => 'btnred hov mr-1']);
        if ($this->flag == 1) {
          echo $this->formSubmit('submit_review', $this->language->_('Review'), ['class' => 'btngreen hov mr-1']);
        } else {
          echo $this->formSubmit('submit_approve', $this->language->_('Approve'), ['class' => 'btngreen hov mr-1']);
        }

        // echo $this->formSubmit('submit_request_repair', $this->language->_('Request Repair'), ['class'=>'btnwhite hov mr-1']);
      }
      // echo $this->formButton('submit_repair', $this->language->_('Repair'), ['class'=>'btngreen hov mr-1','onclick'=>"window.location.href='/marginaldeposit/suggestiondetail/repair/changes_id/$this->changes_id'"]);
      ?>
    </form>
  </div>
</div>

<?php if ($this->is_review || $this->is_approve || $this->is_reject) : ?>
  <script>
    $('#btn_action').remove();
    window.opener.location.reload(true);
  </script>
<?php endif; ?>