<script language="javascript" type="text/javascript">
	function doTransfer()
	{
		var repeat = document.getElementById("repeat").value;
		var sdate = document.getElementById("S_DATE").value;
		var times = document.getElementById("times").value;
		// alert(times);
		window.opener.document.Form.repettype.value = repeat;
		window.opener.document.Form.repetdate.value = sdate;
		window.opener.document.Form.repettimes.value = times;
		// var times = '';
		
		if(sdate != ''){
			text = sdate; 
		}else if(times != ''){
			text = times+' Times';
		}else{
			text = 'No end date'; 
		}
		window.opener.document.Form.repetun.value = text;
		// window.opener.document.Form.ACBENEF_REGION.value = REGION;
		// window.opener.document.Form.ACBENEF_CONTACT.value = CONTACT;

		// window.opener.resetCity();
		// window.opener.checkSwift();
		
		opener.focus();
		self.close();
	}


function closeWin() {
    self.close();
}
</script>
 <script language="javascript">

												function hideLabel(){
												    var rdva = document.querySelector('input[name="repeat"]:checked').value;
												    // alert(rdva);
												    if(rdva == "1"){
												    document.getElementsByClassName('txtSch')[0].style.visibility='hidden';
												    document.getElementsByClassName('txtSch1')[0].style.visibility='hidden';
												    }else if(rdva == "2"){
												    
												    document.getElementsByClassName('txtSch')[0].style.visibility='visible';
												    document.getElementsByClassName('txtSch1')[0].style.visibility='hidden';
												    }else if(rdva == "3"){
												    document.getElementsByClassName('txtSch')[0].style.visibility='hidden';
												    document.getElementsByClassName('txtSch1')[0].style.visibility='visible';
												    
												    }else{
												    document.getElementsByClassName('txtSch1')[0].style.visibility='hidden';
												    document.getElementsByClassName('txtSch')[0].style.visibility='hidden';
												    }
												}
</script>
<b>
<ol class="breadcrumb" >
  <li><a href="#" style="font-size: 11px;"><?php echo $this->language->_('Virtual Payment'); ?></a></li>
  <li><?php echo $this->language->_('Repeat Until'); ?></li>
</ol>
</b>

								<div class="panel-body">
									<div class="form-group row">
										
		    							<div class="col-md-1"><input type="radio" id="repeat" name="repeat" checked value="1" onClick="hideLabel();"></div>	
		    							<div class="col-md-11">
					                		<?php echo $this->language->_('No end date'); ?>
					             		</div>
					             		
					              	</div>
					              	<div class="form-group row">
										
		    							<div class="col-md-1"><input type="radio" id="repeat" name="repeat"  value="2" onClick="hideLabel();"> </div>
		    							<div class="col-md-11">

					                		<?php echo $this->language->_('Set end date'); ?><br/>
					                		<input type="text" id="S_DATE" name="S_DATE" class="txtSch input-group input-medium date date-picker" value="<?php echo $this->S_DATE?>" placeholder="dd/mm/yyyy" data-date-start-date="+0d" style="width:200px;visibility: hidden">
						                    <script>
						                          $('#S_DATE').datepicker({
						                              minDate: function() {
						                                  var date = new Date();
						                                 date.setDate(date.getDate());
						                                  return new Date(date.getFullYear(), date.getMonth(), date.getDate());
						                              },
						                              format: 'dd/mm/yyyy',
						                              uiLibrary: 'bootstrap4',
						                          });
						                    </script>
					                		
					             		</div>
					             		
					              	</div>
					              	<div class="form-group row">
										
		    							<div class="col-md-1"><input type="radio" id="repeat" name="repeat" value="3" onClick="hideLabel();" ></div>	
		    							<div class="col-md-11">
					                		<?php echo $this->language->_('Set number of times'); ?><br/>
					                		<?php echo $this->formText('times',$this->times,array('class'=>'txtSch1 form-control','style'=>'visibility:hidden'))?>
					             		</div>
					             		
					              	</div>

					              	<div class="form-group row">
										
		    							<div class="col-md-12" align="left">
		    								<input type="button" onclick="closeWin()" class="btnwhite hov" value="<?php echo $this->language->_('Cancel')?>" />&nbsp;&nbsp;
											<input type="button" class="btngreen hov" id="Submit_id" onclick="doTransfer()" name="submit" value="<?php echo $this->language->_('Next')?>" />

		    							</div>	
		    							
					             		
					              	</div>
								</div>	