<style type="text/css">

.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

</style>

<script type="text/javascript">
  $(document).ready(function(){
$('#document').bind('change', function () {
      var filename = $("#document").val();
      var testname = filename.substr(0, 45);
      
      if (/^\s*$/.test(testname)) {
        $("#file-upload").removeClass('active');
        $("#noFile").text("No file chosen...");
      }
      else {
        var filenamenew = testname;

        $("#file-upload").addClass('active');
        $("#noFile").text(filenamenew.replace("C:\\fakepath\\", ""));
      }
    });
	
	$('#chooseFile').bind('change', function () {
	  
      var filename = $("#chooseFile").val();
      if (/^\s*$/.test(filename)) {
        $(".file-upload").removeClass('active');
        $("#noFile").text("No file chosen...");
      }
      else {
        $(".file-upload").addClass('active');
        $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
      }
    });
	
  });
  
  </script>
<div class="row">
      	<div class="col-md-12">
        	<div class="page-bar">
            	<ul class="page-breadcrumb">
	                <li>
	                    <span><?php echo $this->language->_('Debit Card List'); ?></span>
	                    <i class="fa fa-angle-right pl-1 pr-1"></i>
	                </li>
	                <li>
	                     <span class="valas" ><?=$this->language->_('Activate')?></span>
						 
	                </li>
					
            	</ul>
        	</div>
      	</div>
</div>

<br />
<h5><?= $this->language->_('Activate Debit Card Account') ?></h5>
<?php if ($this->err) { ?>
          <div class="alert alert-danger"><?php echo $this->language->_($this->errmsg); ?></div>

<?php } ?>

	<form name="country" method="post"  enctype="multipart/form-data" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>">  
	<?php echo $this->formHidden('cust',$this->cust); ?>
	<?php echo $this->formHidden('regid',$this->regid); ?>
	<div class="container-fluid" style="padding-left: 0; padding-right: 0;padding-top:0px!important;padding-bottom:0px!important">
      <div class="col-md-12" style="padding-left: 3%;  height: auto; position: relative;">
        <div class="row">
          <div class="col-md-12" style="padding-top: 15px;">
            <table style="width:100%!important">
              
              <tr>
                <td class="homeCardText" style="width:30%!important;padding-top: 5px!important;padding-bottom: 5px!important;">Debit Card Number&nbsp;<span class="errmsg">*</span></td>
                
                <td class="homeCardText" style="padding-top: 5px!important;padding-bottom: 5px!important;">
				<div class="file-upload">
                  <div class="file-select">
                    <div class="file-select-button" id="fileName">Choose File</div>
                    <div class="file-select-name" id="noFile">No file chosen...</div> 
                    <input type="file" name="document" id="chooseFile">
                  </div>
                </div>
				
					<div class="row">
					<div class="col-md-6" style="text-align:left">
						<i>file format .txt max file size 152kb</i>
					</div>
					 <div class="col-md-6" style="text-align:right">
					  <?php $file = '/template/Add_Debit_Card_Upload_File.txt'; ?>
					  <a href="<?php echo $file?>" id="temp" download="Add_Debit_Card_Upload_File">Download Template</a>
					</div>
				  </div>
				</td>
              </tr>
			  </table>
			</div>
		</div>
	</div>
	</div>

			<?php 
				if($this->errorMsg)
				{?>
					<div class="errmsg">
					<?php	
					foreach($this->errorMsg as $key => $value)
					{
						echo $this->language->_($value).'</br>';
					}
						echo "</div></br>";
						
				}?>
			<br/>
			<br/>
	<div class="row">
			                      <div class="col-sm-12">
			                      		<div class="panel panel-default" style="border:0px;text-align:center">
						                   <div class="formbutton">									 
												<?php
												require_once 'Crypt/AESMYSQL.php';
												  $AESMYSQL = new Crypt_AESMYSQL();
												  $rand = $this->token;
												$encrypted_trxid = $AESMYSQL->encrypt($this->data['REG_NUMBER'], $rand);
												$enctrxid = urlencode($encrypted_trxid); 
												//$detail = $this->url(array('module'=>'corporatedcard','controller'=>'view','action'=>'index','id'=>$enctrxid),null,true);
												echo $this->formButton('back', $this->language->_('CANCEL'), array('onclick' => "location.href='".$this->backURL."'", 'class' => 'btnwhite hov'));?>
												<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>
												
											</div>
                    					</div>
                    				</div>
               </div>		
	</form>		   