<script>
function template(array)
{
	var ccyrtgs = array[0];
	var rtgs = array[1];
	var ccyskn = array[2];
	var skn = array[3];
	var cekrtgs = '0';
	var cekskn = '0';
	
	document.getElementById('rtgsccy').value = ccyrtgs;
	document.getElementById('sknccy').value = ccyskn;

	var cekrtgsccy = document.getElementById('rtgsccy').value;
	var ceksknccy = document.getElementById('sknccy').value;

	if(cekrtgsccy != ccyrtgs)
	{
		document.getElementById('rtgsccy').value = 'IDR';
	}

	if(ceksknccy != ccyskn)
	{
		document.getElementById('sknccy').value = 'IDR';
	}

	document.getElementById("rtgs").value = rtgs;
	document.getElementById("skn").value = skn;
}
</script>
<?php 
if ($this->rtgsccy && $this->sknccy)
{
	$rtgscurdefault = $this->rtgsccy;
	$skncurdefault = $this->sknccy;
}
else
{
	$rtgscurdefault = "IDR";
	$skncurdefault = "IDR";
}
$option = array('maxlength'=>20,
						  'class'=>'currency',
						  'onfocus'=>'iNumFrmtUS(this.value,this.id)',
						  'onblur'=>'NumFrmtUS(this.value,this.id)',
						  'onkeypress'=>'return forceCurrencyOCBC(event)');
?>
<!-- <b><?php echo $this->language->_('Charges'); ?> &gt; <?php echo $this->language->_('Set Company Charges'); ?> &gt; <?php echo $this->language->_('Detail'); ?> &gt; <?php echo $this->language->_('Service Charges'); ?></b><br /><br /> -->

<div class="row">
        <div class="col-md-12">
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <span><?php echo $this->language->_('Charges'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="valas" ><?php echo $this->language->_('Set Company Charges'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                   <li>
                      <span class="valas" ><?php echo $this->language->_('Detail'); ?></span>
                      <i class="fa fa-angle-right pl-1 pr-1"></i>
                  </li>
                  <li>
                      <span class="valas" ><?php echo $this->language->_('Service Charges'); ?></span>
                  </li>
              </ul>
          </div>
        </div>
</div>

<?php 
  require_once 'Crypt/AESMYSQL.php';
  $AESMYSQL = new Crypt_AESMYSQL();
  $rand = $this->token;

  $encrypted_custid = $AESMYSQL->encrypt($this->result['CUST_ID'], $rand);
  $enccustid = urlencode($encrypted_custid);
?>

<div class="row content-box">
    <div class="portlet-body form col-md-12">
        <h5><?=$this->language->_('Charges Domestic')?></h5>
        <form name="filterForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
        <br>
        <table cellpadding="3" cellspacing="0" border="1" class="tableform" width="80%">
        <tr><th colspan="4" class="tdform-sub filterarea tablehead"><strong><?php echo $this->language->_('Edit other charges for this company'); ?></strong></th></tr>
      	<tr>
			<td class="tdform-odd">&nbsp;</td>
			<td class="tdform-odd" colspan="3"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
		</tr>
		<tr>
			<td class="tdform-odd"><?php echo $this->language->_('Company Code'); ?></td>
			<td class="tdform-odd" colspan="3"><?php echo $this->result['CUST_ID'];?></td>
		</tr>
		<tr>
			<td class="tdform-odd"><?php echo $this->language->_('Company Name'); ?></td>
			<td class="tdform-odd" colspan="3"><?php echo $this->result['CUST_NAME'];?></td>
		</tr>
		<tr>
			<td class="tdform-odd">RTGS<font color="red">*</font></td>
			<td class="tdform-odd">
			<?php 
			echo $this->formText('rtgs',Application_Helper_General::displayMoney($this->rtgsamt),array('class'=>'form-control'),$option);
			
			if($this->errrtgsamt)
			{
				echo '<br/><span class="errmsg">'.$this->errrtgsamt.'</span>';
			}
			?>
			</td>
		</tr>
		<tr>
			<td class="tdform-odd"><?php echo $this->language->_('Currency RTGS'); ?><font color="red">*</font></td>
			<td class="tdform-odd"><select class="form-control" name="rtgsccy" id="rtgsccy">
				<?php foreach($this->cur as $curlist){?>
				<option value="<?php echo $curlist['CCY_ID'];?>" <?=($curlist['CCY_ID']==$rtgscurdefault) ? 'selected' : ''?>><?php echo $curlist['CCY_ID'];?></option><?php }?>
				</select>
			</td>
		</tr>
		<tr>
			<td class="tdform-odd">SKN<font color="red">*</font></td>
			<td class="tdform-odd">
			<?php 
			echo $this->formText('skn',Application_Helper_General::displayMoney($this->sknamt),array('class'=>'form-control'),$option);
			
			if($this->errsknamt)
			{
				echo '<br/><span class="errmsg">'.$this->errsknamt.'</span>';
			}
			?>
			</td>
		</tr>
		<tr>
			<td class="tdform-odd"><?php echo $this->language->_('Currency SKN'); ?><font color="red">*</font></td>
			<td class="tdform-odd"><select class="form-control" name="sknccy" id="sknccy">
				<?php foreach($this->cur as $curlist){?>
				<option value="<?php echo $curlist['CCY_ID'];?>" <?=($curlist['CCY_ID']==$skncurdefault) ? 'selected' : ''?>><?php echo $curlist['CCY_ID'];?></option><?php }?>
				</select>
			</td>
		</tr>
		<tr>
			<td class="tdform-odd">Domestic Online<font color="red">*</font></td>
			<td class="tdform-odd">
			<?php 
			echo $this->formText('dom',Application_Helper_General::displayMoney($this->domamt),array('class'=>'form-control'),$option);
			
			if($this->errdomamt)
			{
				echo '<br/><span class="errmsg">'.$this->errdomamt.'</span>';
			}
			?>
			</td>
		</tr>
		<tr>
			<td class="tdform-odd"><?php echo $this->language->_('Currency Domestic Online'); ?><font color="red">*</font></td>
			<td class="tdform-odd"><select class="form-control" name="domccy" id="domccy">
				<?php foreach($this->cur as $curlist){?>
				<option value="<?php echo $curlist['CCY_ID'];?>" <?=($curlist['CCY_ID']==$skncurdefault) ? 'selected' : ''?>><?php echo $curlist['CCY_ID'];?></option><?php }?>
				</select>
			</td>
		</tr>
    </table>
  </div>
</div>

<h5><?php echo $this->language->_('Charges Template'); ?></h5>
<div class="table table-responsive table-stripped">
<table width="700" cellpadding="3" cellspacing="0" border="1" class="tableform">
	<tr>
   		<th rowspan="2" class="tablehead"><div align="center"><?php echo $this->language->_('Template Name'); ?></div></th>
    	<th colspan="2" class="tablehead"><div align="center"><?php echo $this->language->_('Domestic Charge'); ?></div></th>
    	<th rowspan="2" class="tablehead"><div align="center"><?php echo $this->language->_('Action'); ?></div></th>
  	</tr>
  	<tr>
    	<th class="tablehead">RTGS</th>
    	<th class="tablehead">SKN</th>
  	</tr>
  	<?php 
  	$i = 0;
  	$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
  	if($this->default)
  	{
  		$rtgsamt = Application_Helper_General::displayMoney($this->rtgsamt);
  		$sknamt = Application_Helper_General::displayMoney($this->sknamt);
  		$array = "template(new Array('".$rtgscurdefault."','$rtgsamt','".$skncurdefault."','".$sknamt."'));";
  	 	echo '<tr>
  	 			<td class="'.$td_css.'">Default</td>
  	 			<td class="'.$td_css.'">'.$rtgscurdefault.' '.$rtgsamt.'</td>
  	 			<td class="'.$td_css.'">'.$skncurdefault.' '.$sknamt.'</td>
				<td class="'.$td_css.'" align="center">
								<input class="btngreen hov" value="'.$this->language->_('select').'" onclick="'.$array.'" type="button"></td>  	 
  			 </tr>';
  		$i++;
  	}
  	if($this->countlist)
  	{
  		$max = $this->countlist;
  		for($x=0;$x<$max;$x++)
  		{
  			$rtgsamtid = 'rtgsamt'.$x;
  			$rtgsccyid = 'rtgsccy'.$x;
  			$sknamtid = 'sknamt'.$x;
  			$sknccyid = 'sknccy'.$x;
  			$tempnameid = 'temp'.$x;
  			
  			$rtgsamt = Application_Helper_General::displayMoney($this->$rtgsamtid);
  			$rtgsccy = $this->$rtgsccyid;
  			$sknamt = Application_Helper_General::displayMoney($this->$sknamtid);
  			$sknccy = $this->$sknccyid;
  			$tempname = $this->$tempnameid;
  			
  			$array = "template(new Array('".$rtgsccy."','$rtgsamt','".$sknccy."','".$sknamt."'));";
  			echo '<tr>
  					<td class="'.$td_css.'">'.$tempname.'</td>
  	 				<td class="'.$td_css.'">'.$rtgsccy.' '.$rtgsamt.'</td>
  	 				<td class="'.$td_css.'">'.$sknccy.' '.$sknamt.'</td>
  	 				<td class="'.$td_css.'" align="center">
  	 						<input class="btngreen hov" value="'.$this->language->_('select').'" onclick="'.$array.'" type="button"></td>
  	 			  </tr>';
  			$i++;
  		}
  	}
  	if(!$this->result || !$this->countlist)
  	{
  		echo '<tr><td colspan="11" class="tbl-evencontent" align="center"> --- '.$this->language->_('No Record Found').' --- </td></tr>';
  	}
  	?>
</table>
<br />
<table width="100%">
<tr><td>
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'setcompanycharges','controller'=>'detail','action'=>'index','custid'=>$enccustid),null,true);?>'" class="btnwhite hov" value="<?php echo $this->language->_('Back')?>">
&nbsp;
<?php if($this->changestatus)
{ ?>
<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btnwhite disabled', 'disabled'=>'disabled')); ?>&nbsp;
<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'btnwhite disabled', 'disabled'=>'disabled')); ?>
<br /><br />
<?php 
echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
}
else
{?>
<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'btngreen hov')); ?>&nbsp;
<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'btngreen hov')); ?>
<?php }?>
</td></tr>
</table>
</div>
</form>




<!-- <div class="tabheader" id="tabheader"><?php echo $this->language->_('Charges Domestic'); ?></div>
<br />
<form name="filterForm" <?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="post">
<table width="500" cellpadding="3" cellspacing="0" border="0" class="tableform">
	<tr>
		<td class="tdform-even" colspan="4"><b><?php echo $this->language->_('Edit other charges for this company'); ?></b></td>
	</tr>
	<tr>
		<td class="tdform-odd">&nbsp;</td>
		<td class="tdform-odd" colspan="3"><?php echo $this->language->_('Please fill in the form below. Fields marked with asterisk'); ?> (<span class="errmsg">*</span>) <?php echo $this->language->_('are required'); ?></td>
	</tr>
	<tr>
		<td class="tdform-odd"><?php echo $this->language->_('Company Code'); ?></td>
		<td class="tdform-odd" colspan="3"><?php echo $this->result['CUST_ID'];?></td>
	</tr>
	<tr>
		<td class="tdform-odd"><?php echo $this->language->_('Company Name'); ?></td>
		<td class="tdform-odd" colspan="3"><?php echo $this->result['CUST_NAME'];?></td>
	</tr>
	<tr>
		<td class="tdform-odd">RTGS<font color="red">*</font></td>
		<td class="tdform-odd">
		<?php 
		echo $this->formText('rtgs',Application_Helper_General::displayMoney($this->rtgsamt),$option);
		
		if($this->errrtgsamt)
		{
			echo '<br/><span class="errmsg">'.$this->errrtgsamt.'</span>';
		}
		?>
		</td>
	</tr>
	<tr>
		<td class="tdform-odd"><?php echo $this->language->_('Currency RTGS'); ?><font color="red">*</font></td>
		<td class="tdform-odd"><select name="rtgsccy" id="rtgsccy">
			<?php foreach($this->cur as $curlist){?>
			<option value="<?php echo $curlist['CCY_ID'];?>" <?=($curlist['CCY_ID']==$rtgscurdefault) ? 'selected' : ''?>><?php echo $curlist['CCY_ID'];?></option><?php }?>
			</select>
		</td>
	</tr>
	<tr>
		<td class="tdform-odd">SKN<font color="red">*</font></td>
		<td class="tdform-odd">
		<?php 
		echo $this->formText('skn',Application_Helper_General::displayMoney($this->sknamt),$option);
		
		if($this->errsknamt)
		{
			echo '<br/><span class="errmsg">'.$this->errsknamt.'</span>';
		}
		?>
		</td>
	</tr>
	<tr>
		<td class="tdform-odd"><?php echo $this->language->_('Currency SKN'); ?><font color="red">*</font></td>
		<td class="tdform-odd"><select name="sknccy" id="sknccy">
			<?php foreach($this->cur as $curlist){?>
			<option value="<?php echo $curlist['CCY_ID'];?>" <?=($curlist['CCY_ID']==$skncurdefault) ? 'selected' : ''?>><?php echo $curlist['CCY_ID'];?></option><?php }?>
			</select>
		</td>
	</tr>
</table>
<br />
<h2><?php echo $this->language->_('Charges Template'); ?></h2>
<table width="500" cellpadding="3" cellspacing="0" border="0" class="tableform">
	<tr>
   		<th rowspan="2"><?php echo $this->language->_('Template Name'); ?></th>
    	<th colspan="2"><div align="center"><?php echo $this->language->_('Domestic Charge'); ?></div></th>
    	<th rowspan="2"><?php echo $this->language->_('Action'); ?></th>
  	</tr>
  	<tr>
    	<th>RTGS</th>
    	<th>SKN</th>
  	</tr>
  	<?php 
  	$i = 0;
  	$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
  	if($this->default)
  	{
  		$rtgsamt = Application_Helper_General::displayMoney($this->rtgsamt);
  		$sknamt = Application_Helper_General::displayMoney($this->sknamt);
  		$array = "template(new Array('".$rtgscurdefault."','$rtgsamt','".$skncurdefault."','".$sknamt."'));";
  	 	echo '<tr>
  	 			<td class="'.$td_css.'">Default</td>
  	 			<td class="'.$td_css.'">'.$rtgscurdefault.' '.$rtgsamt.'</td>
  	 			<td class="'.$td_css.'">'.$skncurdefault.' '.$sknamt.'</td>
				<td class="'.$td_css.'" align="center">
								<input class="inputbtn" value="'.$this->language->_('select').'" onclick="'.$array.'" type="button"></td>  	 
  			 </tr>';
  		$i++;
  	}
  	if($this->countlist)
  	{
  		$max = $this->countlist;
  		for($x=0;$x<$max;$x++)
  		{
  			$rtgsamtid = 'rtgsamt'.$x;
  			$rtgsccyid = 'rtgsccy'.$x;
  			$sknamtid = 'sknamt'.$x;
  			$sknccyid = 'sknccy'.$x;
  			$tempnameid = 'temp'.$x;
  			
  			$rtgsamt = Application_Helper_General::displayMoney($this->$rtgsamtid);
  			$rtgsccy = $this->$rtgsccyid;
  			$sknamt = Application_Helper_General::displayMoney($this->$sknamtid);
  			$sknccy = $this->$sknccyid;
  			$tempname = $this->$tempnameid;
  			
  			$array = "template(new Array('".$rtgsccy."','$rtgsamt','".$sknccy."','".$sknamt."'));";
  			echo '<tr>
  					<td class="'.$td_css.'">'.$tempname.'</td>
  	 				<td class="'.$td_css.'">'.$rtgsccy.' '.$rtgsamt.'</td>
  	 				<td class="'.$td_css.'">'.$sknccy.' '.$sknamt.'</td>
  	 				<td class="'.$td_css.'" align="center">
  	 						<input class="inputbtn" value="'.$this->language->_('select').'" onclick="'.$array.'" type="button"></td>
  	 			  </tr>';
  			$i++;
  		}
  	}
  	if(!$this->result || !$this->countlist)
  	{
  		echo '<tr><td colspan="11" class="tbl-evencontent" align="center"> --- '.$this->language->_('No Record Found').' --- </td></tr>';
  	}
  	?>
</table>
<br />
<table width="100%">
<tr><td>
<input type="button" onClick="window.location.href='<?php echo $this->url(array('module'=>'setcompanycharges','controller'=>'detail','action'=>'index','custid'=>$enccustid),null,true);?>'" class="inputbtn" value="<?php echo $this->language->_('Back')?>">
&nbsp;
<?php if($this->changestatus)
{ ?>
<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>&nbsp;
<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'inputbtn', 'disabled'=>'disabled')); ?>
<br /><br />
<?php 
echo '<i>&nbsp;&nbsp;&nbsp;'.$this->error.'</i>';
}
else
{?>
<?php echo $this->formSubmit('submit',$this->language->_('Submit'),array('class'=>'inputbtn')); ?>&nbsp;
<?php echo $this->formSubmit('reset',$this->language->_('Reset'),array('class'=>'inputbtn')); ?>
<?php }?>
</td></tr>
</table>
</form> -->