<script type="text/javascript">	
function clearFormMTO(seq)
	{
		document.getElementById('ACCTSRC'+seq).value = "";
		document.getElementById('TRA_AMOUNT'+seq).value = "";
		document.getElementById('TRA_MESSAGE'+seq).value = "";		
		document.getElementById('TRA_REFNO'+seq).value = "";
	}

function formatCurrency(num)
	{
		num = num.toString().replace(/\$|\,/g,'');
		if(isNaN(num))
			num = "0";

		sign = (num == (num = Math.abs(num)));
		num = Math.floor(num*100+0.50000000001);
		cents = num%100;
		num = Math.floor(num/100).toString();

		if(cents<10)
		cents = "0" + cents;

		for (var i = 0; i < Math.floor((num.length-(1+i))/3); i++)
			num = num.substring(0,num.length-(4*i+3))+','+

		num.substring(num.length-(4*i+3));
		return (((sign)?'':'-') + num + '.' + cents);
	}
	
function countTotalAmount(count)
	{
		var TRA_AMOUNT_tot = 0;
		for (i=1;i<count+1;i++)
		{
			var TRA_AMOUNT = document.getElementById('TRA_AMOUNT'+i).value;
			TRA_AMOUNT=TRA_AMOUNT.replace(",","");
			TRA_AMOUNT=TRA_AMOUNT.replace(",","");
			TRA_AMOUNT=TRA_AMOUNT.replace(",","");
			TRA_AMOUNT=TRA_AMOUNT.replace(",","");
			TRA_AMOUNT=TRA_AMOUNT.replace(",","");
			
			var TRA_AMOUNT_new = parseFloat(TRA_AMOUNT);

			if (!isNaN(TRA_AMOUNT_new))
			{
				TRA_AMOUNT_tot += TRA_AMOUNT_new;
				document.getElementById('TRA_AMOUNT_tot').value = formatCurrency(TRA_AMOUNT_tot);
			}
			
		}		
		//document.getElementById('TRA_AMOUNT_tot').value = formatCurrency(TRA_AMOUNT_tot);
	}

function entry_change() 
	{
			//check if it is already verify and then entry updated
			if (document.forms[0].btnsubmit.disabled==false) 
			{
				alert("You have changed payment data, please verify again before submit payment");
				document.forms[0].btnsubmit.disabled=true;
			} 		
	}

</script>
<b><?php echo $this->language->_('Multi Debit '); ?>> <?php echo $this->language->_('Multi Payment'); ?></b><br /><br />
<form name="Form" action="" method="post">
	<input name="process" value="" type="hidden">
	<input name="num" value="" type="hidden">
	<input name="page" value="" type="hidden">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td class="filterarea" id="filterarea">
<!--					<div class="subtopic"><h2>Multi Payment</h2></div>-->
				</td>
			</tr>
			<tr>
				<td class="filterarea" id="filterarea">
<!--					<div class="tabheader" id="tabheader"><?php if ($this->confirmPage != 1) {  if (empty($this->PS_NUMBER)) {echo "Create";} else {echo "Repair";} } else {echo "Confirm";}  ?> Payment</div>-->
				</td>
			</tr>
			<tr>
				<td>
				<?php
					if($this->error)
					{	?>
						<div class="errmsg">
				<?php		echo $this->ERROR_MSG;?>
						</div><br />
				<?php
					}
				?>
				
				</td>
			</tr>
			<tr>
				<td class="contentarea" id="contentarea">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						 <tbody>
							<tr>
								<td class="tdform-sub" id="tdform-sub" colspan="2"><?php echo $this->language->_('Transfer To'); ?></td>
							</tr>
							<tr>
								<td class="tbl-evencontent" id="attrform"><?php echo $this->language->_('Payment Ref'); ?>#</td>
								<td class="tbl-evencontent" id="recview2"><b><?php if (!empty($this->PS_NUMBER)) {echo $this->PS_NUMBER;} else {echo "auto generate";}?></b>
								<?php  echo $this->formHidden('PS_NUMBER',$this->PS_NUMBER); ?></td>
							</tr>
							<tr>
								<td class="tbl-evencontent" id="attrform"><?php echo $this->language->_('Payment Subject'); ?></td>
								<td class="tbl-evencontent" id="attrform">
																										
									<?php
										if($this->confirmPage != 1){
											echo $this->formText('PS_SUBJECT',$this->PS_SUBJECT,array('maxlength'=>'128','size'=>'40','onkeypress'=>'return noSpecialChar3(event)')); 
										}
										else echo $this->PS_SUBJECT.$this->formHidden('PS_SUBJECT',$this->PS_SUBJECT);
									?>
									
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent" id="attrform"><?php echo $this->language->_('Beneficiary Account'); ?><strong class="formreq">&nbsp;*</strong></td>
								<td class="tbl-evencontent" id="attrform">
									<?php  
										if ($this->confirmPage != 1)
										{	
											echo $this->formText('ACBENEF',$this->ACBENEF,array('maxlength'=>'10','size'=>'40')); ?>
											<input class="inputbtn" value="account book" onclick="showPopUpWindow('<?=$this->url(array('module'=>'popup','controller'=>'withinpopup','action'=>'index'),null,true)?>',750)" type="button">
									<?php 
										}
										else
										{
											echo $this->ACBENEF.$this->formHidden('ACBENEF',$this->ACBENEF);
										}
									?>
									
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent" id="attrform"><?php echo $this->language->_('Beneficiary Account Name'); ?></td>
								<td class="tbl-evencontent" id="attrform">
									<?php
									if ($this->confirmPage != 1)  
										echo $this->formText('ACBENEF_BANKNAME',$this->ACBENEF_BANKNAME,array('readonly'=>'readonly','maxlength'=>'40','size'=>'40')); 
									else
										echo $this->ACBENEF_BANKNAME.$this->formHidden('ACBENEF_BANKNAME',$this->ACBENEF_BANKNAME);
									?>
									
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent" id="attrform"><?php echo $this->language->_('Alias Name'); ?><strong class="formreq">&nbsp;*</strong></td>
								<td class="tbl-evencontent" id="attrform">
								<?php  
									if ($this->confirmPage != 1)
										echo $this->formText('ACBENEF_ALIAS',$this->ACBENEF_ALIAS,array('maxlength'=>'128','size'=>'40')); 
									else
										echo $this->ACBENEF_ALIAS.$this->formHidden('ACBENEF_ALIAS',$this->ACBENEF_ALIAS);
								?>							
								</td>
							 </tr>
							<tr>
								<td class="tbl-evencontent" id="attrform"><?php echo $this->language->_('Currency'); ?><strong class="formreq">&nbsp;*</strong></td>
								<td class="tbl-evencontent" id="attrform">
									<?
									if ($this->confirmPage != 1){ echo $this->formApp("SELECT_CCY", $this->ccyArr, $this->CURR_CODE,"CURR_CODE"); }
									else {
										echo $this->CURR_CODE.$this->formHidden('CURR_CODE',$this->CURR_CODE)." ";
										//echo $this->formApp("SELECT_CCY", $this->ccyArr, $this->CURR_CODE,"CURR_CODE",array('onchange'=>'entry_change()'));
									}
									?>
									
								</td>
							</tr>
							<tr>
								<td class="tbl-evencontent" id="attrform"><?php echo $this->language->_('Payment Date'); ?><strong class="formreq">&nbsp;*</strong></td>
								<td class="tbl-evencontent" id="attrform">
									<?php
									if($this->confirmPage != 1){
										echo $this->datePicker("PS_EFDATE", $this->PS_EFDATE,
																array(	
																		'dateFormat' => $this->jqueryDateFormat,
																		'defaultDate' =>'new Date()',
																		'showOn' => 'button',
																		'buttonImage' => '/images/calendar.gif',
																		'buttonImageOnly' => true,
																		'changeMonth' => true,
																		'changeYear' => true,
																		'showClearButton' => false,
																		'minDate' => '0Y 0M 0W 0D'),
																array("readOnly"=>"true")
																
																); 
									}
									else {
										echo $this->PS_EFDATE.$this->formHidden('PS_EFDATE',$this->PS_EFDATE)." ";
									}
									?>
								</td>
							</tr>
							<tr><td colspan="2">&nbsp;</td></tr>
							<?php
								if($this->errorbene)
								{	?>
									<tr>
										<td colspan="8" class="errmsg">
							<?php			echo $this->ERROR_MSGbene;?>				
										</td>
									</tr>
							<?php
								}
							?>
							<tr>
								<td class="tdform-sub" id="tdform-sub" colspan="2"><?php echo $this->language->_('Transfer From'); ?></td></tr>
							<tr>
							<td colspan="2" class="contentarea" id="contentarea">
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tbody>
										<tr>
											<td class="tbl-evencontent">#</td>
											<td class="tbl-evencontent"><?php echo $this->language->_('Source Account'); ?></td>
											<td class="tbl-evencontent" align="center"><?php echo $this->language->_('Amount'); ?></td>
											<td class="tbl-evencontent" align="center"><?php echo $this->language->_('Message'); ?></td>
											<td class="tbl-evencontent" align="center"><?php echo $this->language->_('Additional Message'); ?></td>
									<?php if($this->confirmPage != 1) { ?>
											<td class="tbl-evencontent" align="center"><?php echo $this->language->_('Clear'); ?></td>
									<?php }else {?> 
											<td class="tbl-evencontent" align="center">&nbsp;</td>
									<?php }?>
										</tr>
										<?php
											$counter=1;
											$i=0;
											
											if($this->confirmPage != 1){$rowmax = $this->rowmax;}
											else{  $rowmax = $this->lastkey; }
											
											//echo $this->lastkey;
											
											while($counter<=$rowmax)
											{
												$td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';
												
												$accsrc 	= 'ACCTSRC'.$counter;
												$accsrcview = 'ACCTSRCview'.$counter;
												$traamount 	= 'TRA_AMOUNT'.$counter;
												$tramessage = 'TRA_MESSAGE'.$counter;
												$trarefno 	= 'TRA_REFNO'.$counter;
												
												$dataTx 		= $this->dataTx;
												$accsrcviewval 	= $dataTx[$i]["ACCTSRCview"];
												$accsrcval 		= $dataTx[$i]["ACCTSRC"];
												$traamountval 	= $dataTx[$i]["TRA_AMOUNT"];
												$tramessageval 	= $dataTx[$i]["TRA_MESSAGE"];
												$trarefnoval 	= $dataTx[$i]["TRA_REFNO"];
												
												//echo "<pre>";
												//print_r($dataTx);
												//echo "i: ".$i;
											
										?>
										<tr>
											<?php 
											if ($this->ERROR_MSGTRX) {
														
												foreach($this->ERROR_MSGTRX as $key => $value){
													if ($key == $i){
											?>
													<td colspan="8">
														<div class="errmsg">
															<?php	echo $value;	?>
														</div>
													</td>		
												<?php
													}
												}
											}
											?>
										</tr>
										<tr>
											<td class="<?php echo $td_css;?>"> <?php echo $counter;?></td>
											<td class="<?php echo $td_css;?>">
												<?php 
													if($this->confirmPage != 1) { echo $this->formApp("SELECT_ACCTSRC", $this->AccArr, $accsrcval, $accsrc); }
													else { 	echo $accsrcviewval.$this->formHidden($accsrc,$accsrcval);
															//$this->formHidden($accsrcview,$accsrcviewval);
															
														} 
												?>	
											</td>
											<td class="<?echo $td_css?>">
												<?php
													if ($this->confirmPage != 1){ echo $this->formText($traamount,$traamountval,array('type'=>'text','size'=>'23','maxlength'=>'25','id'=>"$traamount", "style"=>"text-align: right;",'onfocus'=>"iNumFrmt(this.value,this.id)", 'onblur'=>"NumFrmt(this.value,this.id)",'onkeypress'=>"return forceCurrencyOCBC(event)"));}
													else { echo $traamountval.$this->formHidden($traamount,$traamountval); }
												?>
											</td>	
											<td class="<?echo $td_css?>">
												<?php
													if ($this->confirmPage != 1){ echo $this->formText($tramessage,$tramessageval,array('type'=>'text','size'=>'40','maxlength'=>'39','id'=>"$tramessage", "style"=>"text-align: left;")); }
													else { echo $tramessageval.$this->formHidden($tramessage,$tramessageval); }
																															
												?>
											</td>
											<td class="<?echo $td_css?>">
														
												<?php
													if ($this->confirmPage != 1){ echo $this->formText($trarefno,$trarefnoval,array('type'=>'text','size'=>'40','maxlength'=>'200','id'=>"$trarefno", "style"=>"text-align: left;")); }
													else { echo $trarefnoval.$this->formHidden($trarefno,$trarefnoval); }
												?>
														
											</td>
											<td class="<?php echo $td_css; ?>">
												<?php if ($this->confirmPage != 1) { ?>
													<input class="inputbtn" value="Clear" onclick="clearFormMTO(<?php echo $counter;?>);" type="button">
												<?php } else{ echo ""; }?>
											</td>
											
										</tr>
										<?php
												$i++;
												$counter++;
											}
										?>
										<tr>
											<td colspan="2" align="right">
												<strong>Total Amount</strong>&nbsp;&nbsp;
												<?php 
													if($this->confirmPage != 1){ ?>
													<input class="inputbtn" value="calculate" onclick="countTotalAmount(<?php echo $this->rowmax; ?>);" type="button">
													<?php 
													} else "";
													?>
											</td>
											<td align="left">
												<?php if($this->confirmPage != 1){
														echo $this->formText('TRA_AMOUNT_tot',$this->TRA_AMOUNT_tot,array('type'=>'text','size'=>'18','maxlength'=>'20','id'=>'TRA_AMOUNT_tot', "style"=>"text-align: right;font-weight: bold; font-size: 12px;",'readonly'=>'readonly','onfocus'=>"iNumFrmt(this.value,this.id)", 'onblur'=>"NumFrmt(this.value,this.id)",'onkeypress'=>"return forceCurrencyOCBC(event)",'onchange'=>'entry_change()'));
													}
													else { 
														//echo $this->TRA_AMOUNT.$this->formHidden('TRA_AMOUNT',$this->TRA_AMOUNT);
														echo "&nbsp;";
														echo $this->TRA_AMOUNT_tot.$this->formHidden('TRA_AMOUNT_tot',$this->TRA_AMOUNT_tot); 
													}
												?>
											</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
								</tbody>
							</table>
							</td>
							</tr>
							<tr>
								<td colspan="2"><table border="0">
								<?php 
									if (!empty($this->PS_NUMBER))
									{	
										echo $this->action('index',
				                                           'paymenthistory',
				                                           'tools',
				                                           array('paymentref' => $this->PS_NUMBER)); 
				                    }	?>
								</table></td>
							</tr>
							<tr><td colspan="2">&nbsp;</td></tr>
							<tr>
								<td class="button-area" id="button-area" colspan="2">
									<div class="formbutton">
										<?php 
											if ($this->confirmPage != 1)	{	
											
												if($this->PS_NUMBER){ $location = "location.href='/paymentworkflow/requestrepair/index'";} 
												else{ $location = "location.href='/home/index'"; }
										?>
												<input class="inputbtn" value="Cancel" onclick="if (confirm('If you leave this screen\nYour data input will be lost\nAre you sure leaving this screen?'))  <?php echo $location; ?>" type="button">
										<?php } 
											else { 
											echo $this->formSubmit('back','Back',array('class'=>'inputbtn')); 
										} ?>
										
										<?
											if (!empty($this->PS_NUMBER))
											{ 
											  echo $this->formButton('pdf','PDF',array('class'=>'inputbtn', "onclick"=>"location.href='".$this->url(array('module'=>'display','controller'=>'viewdetail','action'=>'index','pdf'=>1,'payReff'=>$this->PS_NUMBER),null,true)."';"));echo "&nbsp;";
											  echo $this->formButton('print','Print',array('class'=>'inputbtn', "onclick"=>"window.print();")); 
											 
											}
										
										?>										
										
										<input type="submit" class="inputbtn" name="submit" value="<?= ($this->confirmPage != 1 && $this->useConfirmPage == true)? "Confirm": "Submit"; ?>"/>
										<input type="hidden" name="confirmPage" value="<?= $this->confirmPage; ?>"/>			
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</form>
