	<script language="javascript" type="text/javascript">
	function doTransfer(BANKNAME,SWIFT_CODE,CCY)
	{
		window.opener.document.Form.ccy.value = CCY;
		window.opener.document.Form.nostro_name.value = BANKNAME;
		window.opener.document.Form.nostro_swiftcode.value = SWIFT_CODE;
		window.opener.document.Form.accountadd.setAttribute('onclick','showPopUpWindow("/popup/populateremittance/index/currency/'+CCY+'/swiftcode/'+SWIFT_CODE+'", 750)');
		window.opener.document.Form.accountadd.removeAttribute("disabled");
		window.opener.document.Form.accountadd.className = "btngreen hov";
		
// 		window.opener.document.Form.CLR_CODE.value = CLR_CODE;

	  opener.focus();
	  self.close();
	}
	</script>

	<div class="row">
	      	<div class="col-md-12">
	        	<div class="page-bar">
	            	<ul class="page-breadcrumb">
		                <li>
		                    <span><?php echo $this->language->_('Bank Table'); ?></span>
		                    <i class="fa fa-angle-right pl-1 pr-1"></i>
		                </li>
		                <li>
		                    <?php echo $this->language->_('Nostro Bank'); ?>
		                </li>
	            	</ul>
	        	</div>
	      	</div>
	</div>
<!-- <div class="tabheader" id="tabheader">Bank Nostro List</div> -->
<h5><?=$this->language->_('Bank Nostro List')?></h5>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
		<tbody>
			<tr>
				<td>
<form name="filterForm" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>$this->controllername,'action'=>'index'),null,true)?>" method="get">
  <table cellpadding="3" cellspacing="0" border="0" class="tableform" width="320px">
    <tr><th colspan="3" class="tdform-sub"><strong>Filter</strong></th></tr>

    <tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('bank_name','Bank Name'); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('bank_name',$this->bank_name, array('class' => 'form-control col-md-12'))?></td>
    </tr>

    <!--<tr>
      <td class="tbl-evencontent"><?php echo $this->formLabel('city','City'); ?></td>
 	  <td class="tbl-evencontent">:</td>
	  <td class="tbl-evencontent"><?php echo $this->formText('city',$this->city)?></td>
    </tr>-->
    <tr><td colspan="3" align="left">
	  <?php echo $this->formSubmit('filter','Set Filter',array('class'=>'btngreen hov')); ?>
	  <?php echo $this->formSubmit('filter','Clear Filter',array('class'=>'btnwhite hov')); ?>
    </td></tr>
  </table>
</form>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<?php if($this->success){ ?>
					<div class="successmsg"><?=$this->report_msg?></div><br />
					<?php }else if($this->error){ ?>
					<div class="errmsg"><?=$this->report_msg?></div><br />
					<?php } ?>
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
			<td class="contentarea" id="contentarea">
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />
						<table width="100%" cellpadding="2" cellspacing="0" border="0" class="table table-sm table-striped">
    <tr>
    	<th width="3%" class="tablehead"  valign="top">No</th>
    	<?php echo $this->partial('tableheader.phtml',array('fields' => $this->fields,
                                                            'sortBy' => $this->sortBy,
                                                            'sortDir' => $this->sortDir,
                                                            'query_string_params' => $this->query_string_params
                                                            )
    							  )?>

    </tr>

    <?php
	$counter = (($this->optionPage['page']-1) * $this->paginator->getItemCountPerPage()) + 1;

    if(count($this->paginator) > 0)
    {
          $i=0;

	      foreach($this->paginator as $row)
	      {

		    $td_css = ($i%2==0)?'tbl-evencontent':'tbl-oddcontent';

		    echo '<tr>
					<td class="'.$td_css.'">'.$counter.'</td>
					<td class="'.$td_css.'"><a href="javascript:doTransfer(\''.$row['NOSTRO_NAME'].'\',\''.$row['NOSTRO_SWIFTCODE'].'\',\''.$row['CCY'].'\')">'.$row['NOSTRO_NAME'].'</a></td>
					<td class="'.$td_css.'">'.$row['NOSTRO_SWIFTCODE'].'</td>
					<td class="'.$td_css.'">'.$row['CCY'].'</td>
				 </tr>';

			$i++;
            $counter++;
  	  }
  }
  else
  {
	   echo '<tr><td colspan=10 class="tbl-evencontent" align="center"> -- No Data -- </td></tr>';
  }
?>
</table>
<br />

<form name="Form" action="<?=$this->url(array('module'=>$this->modulename,'controller'=>'index','action'=>'index'),null,true)?>" method="post">
<div align="right"><?=$this->paginationControl($this->paginator,$this->paginator->getDefaultScrollingStyle(),'paging.phtml',array('query_string_params' => $this->query_string_params))?></div>
<br />

			</td>
			</tr>
		</tbody>
	</table>
